language: go
sudo: true
dist: bionic

os:
    - linux
    - osx
go:
    - 1.14.x
    - tip

script:
    make ci-test;

matrix:
  allow_failures:
      - go: tip

  include:
    - language: java
      jdk: openjdk8
      before_script:
          - rm -rf /tmp/smithy-go
          - git clone https://github.com/awslabs/smithy-go /tmp/smithy-go
          - pushd /tmp/smithy-go/codegen
          - ./gradlew clean publishToMavenLocal -Plog-tests
          - popd
      script:
          - make smithy-generate # generation is not stable ci-test-generate-validate

    - language: java
      jdk: openjdk11
      before_script:
          - rm -rf /tmp/smithy-go
          - git clone https://github.com/awslabs/smithy-go /tmp/smithy-go
          - pushd /tmp/smithy-go/codegen
          - ./gradlew clean publishToMavenLocal -Plog-tests
          - popd
      script:
          - make smithy-generate # generation is not stable ci-test-generate-validate

