$primary: #232F3E;
$secondary: #FF9900;
$success: #2e27ad;
$info: #16bf9f;
$warning: #ff5252;
$danger: #ff5252;
$white: #FFFFFF;
$light: #76eacc;

$dark: #232F3E;
$blue: #527FFF;
$orange: #FF9900;
$black: #232F3E;
