{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.accessanalyzer#Access": {
            "type": "structure",
            "members": {
                "actions": {
                    "target": "com.amazonaws.accessanalyzer#ActionsList",
                    "traits": {
                        "smithy.api#addedDefault": {},
                        "smithy.api#default": [],
                        "smithy.api#documentation": "<p>A list of actions for the access permissions. Any strings that can be used as an action in an IAM policy can be used in the list of actions to check.</p>",
                        "smithy.api#length": {
                            "max": 100
                        }
                    }
                },
                "resources": {
                    "target": "com.amazonaws.accessanalyzer#ResourcesList",
                    "traits": {
                        "smithy.api#default": [],
                        "smithy.api#documentation": "<p>A list of resources for the access permissions. Any strings that can be used as an Amazon Resource Name (ARN) in an IAM policy can be used in the list of resources to check. You can only use a wildcard in the portion of the ARN that specifies the resource ID.</p>",
                        "smithy.api#length": {
                            "max": 100
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about actions and resources that define permissions to check against a policy.</p>"
            }
        },
        "com.amazonaws.accessanalyzer#AccessAnalyzer": {
            "type": "service",
            "version": "2019-11-01",
            "operations": [
                {
                    "target": "com.amazonaws.accessanalyzer#ApplyArchiveRule"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#CancelPolicyGeneration"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#CheckAccessNotGranted"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#CheckNoNewAccess"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#CheckNoPublicAccess"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#CreateAccessPreview"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#GenerateFindingRecommendation"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#GetAccessPreview"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#GetAnalyzedResource"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#GetFinding"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#GetFindingRecommendation"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#GetFindingsStatistics"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#GetFindingV2"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#GetGeneratedPolicy"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#ListAccessPreviewFindings"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#ListAccessPreviews"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#ListAnalyzedResources"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#ListFindings"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#ListFindingsV2"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#ListPolicyGenerations"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#StartPolicyGeneration"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#StartResourceScan"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#TagResource"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#UntagResource"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#UpdateFindings"
                },
                {
                    "target": "com.amazonaws.accessanalyzer#ValidatePolicy"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.accessanalyzer#Analyzer"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "AccessAnalyzer",
                    "arnNamespace": "access-analyzer",
                    "cloudTrailEventSource": "access-analyzer.amazonaws.com"
                },
                "aws.auth#sigv4": {
                    "name": "access-analyzer"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {},
                "smithy.api#documentation": "<p>Identity and Access Management Access Analyzer helps you to set, verify, and refine your IAM policies by providing a suite of capabilities. Its features include findings for external and unused access, basic and custom policy checks for validating policies, and policy generation to generate fine-grained policies. To start using IAM Access Analyzer to identify external or unused access, you first need to create an analyzer.</p> <p> <b>External access analyzers</b> help identify potential risks of accessing resources by enabling you to identify any resource policies that grant access to an external principal. It does this by using logic-based reasoning to analyze resource-based policies in your Amazon Web Services environment. An external principal can be another Amazon Web Services account, a root user, an IAM user or role, a federated user, an Amazon Web Services service, or an anonymous user. You can also use IAM Access Analyzer to preview public and cross-account access to your resources before deploying permissions changes.</p> <p> <b>Unused access analyzers</b> help identify potential identity access risks by enabling you to identify unused IAM roles, unused access keys, unused console passwords, and IAM principals with unused service and action-level permissions.</p> <p>Beyond findings, IAM Access Analyzer provides basic and custom policy checks to validate IAM policies before deploying permissions changes. You can use policy generation to refine permissions by attaching a policy generated using access activity logged in CloudTrail logs. </p> <p>This guide describes the IAM Access Analyzer operations that you can call programmatically. For general information about IAM Access Analyzer, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/what-is-access-analyzer.html\">Identity and Access Management Access Analyzer</a> in the <b>IAM User Guide</b>.</p>",
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "maxResults"
                },
                "smithy.api#title": "Access Analyzer",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://access-analyzer-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "stringEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "name"
                                                                            ]
                                                                        },
                                                                        "aws-us-gov"
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://access-analyzer.{Region}.amazonaws.com",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://access-analyzer-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://access-analyzer.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://access-analyzer.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "af-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.ap-southeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer-fips.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "me-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer-fips.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer-fips.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer-fips.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.cn-northwest-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://access-analyzer.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.accessanalyzer#AccessCheckPolicyDocument": {
            "type": "string",
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.accessanalyzer#AccessCheckPolicyType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "IDENTITY_POLICY",
                        "name": "IDENTITY_POLICY"
                    },
                    {
                        "value": "RESOURCE_POLICY",
                        "name": "RESOURCE_POLICY"
                    }
                ]
            }
        },
        "com.amazonaws.accessanalyzer#AccessCheckResourceType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "AWS::DynamoDB::Table",
                        "name": "DYNAMODB_TABLE"
                    },
                    {
                        "value": "AWS::DynamoDB::Stream",
                        "name": "DYNAMODB_STREAM"
                    },
                    {
                        "value": "AWS::EFS::FileSystem",
                        "name": "EFS_FILESYSTEM"
                    },
                    {
                        "value": "AWS::OpenSearchService::Domain",
                        "name": "OPENSEARCHSERVICE_DOMAIN"
                    },
                    {
                        "value": "AWS::Kinesis::Stream",
                        "name": "KINESIS_DATA_STREAM"
                    },
                    {
                        "value": "AWS::Kinesis::StreamConsumer",
                        "name": "KINESIS_STREAM_CONSUMER"
                    },
                    {
                        "value": "AWS::KMS::Key",
                        "name": "KMS_KEY"
                    },
                    {
                        "value": "AWS::Lambda::Function",
                        "name": "LAMBDA_FUNCTION"
                    },
                    {
                        "value": "AWS::S3::Bucket",
                        "name": "S3_BUCKET"
                    },
                    {
                        "value": "AWS::S3::AccessPoint",
                        "name": "S3_ACCESS_POINT"
                    },
                    {
                        "value": "AWS::S3Express::DirectoryBucket",
                        "name": "S3EXPRESS_DIRECTORYBUCKET"
                    },
                    {
                        "value": "AWS::S3::Glacier",
                        "name": "S3_GLACIER"
                    },
                    {
                        "value": "AWS::S3Outposts::Bucket",
                        "name": "S3_OUTPOSTS_BUCKET"
                    },
                    {
                        "value": "AWS::S3Outposts::AccessPoint",
                        "name": "S3_OUTPOSTS_ACCESS_POINT"
                    },
                    {
                        "value": "AWS::SecretsManager::Secret",
                        "name": "SECRETSMANAGER_SECRET"
                    },
                    {
                        "value": "AWS::SNS::Topic",
                        "name": "SNS_TOPIC"
                    },
                    {
                        "value": "AWS::SQS::Queue",
                        "name": "SQS_QUEUE"
                    },
                    {
                        "value": "AWS::IAM::AssumeRolePolicyDocument",
                        "name": "ROLE_TRUST"
                    },
                    {
                        "value": "AWS::S3Tables::TableBucket",
                        "name": "S3_TABLE_BUCKET"
                    },
                    {
                        "value": "AWS::ApiGateway::RestApi",
                        "name": "API_GATEWAY_REST_API"
                    },
                    {
                        "value": "AWS::CodeArtifact::Domain",
                        "name": "CODE_ARTIFACT_DOMAIN"
                    },
                    {
                        "value": "AWS::Backup::BackupVault",
                        "name": "BACKUP_VAULT"
                    },
                    {
                        "value": "AWS::CloudTrail::Dashboard",
                        "name": "CLOUDTRAIL_DASHBOARD"
                    },
                    {
                        "value": "AWS::CloudTrail::EventDataStore",
                        "name": "CLOUDTRAIL_EVENT_DATA_STORE"
                    },
                    {
                        "value": "AWS::S3Tables::Table",
                        "name": "S3_TABLE"
                    },
                    {
                        "value": "AWS::S3Express::AccessPoint",
                        "name": "S3_EXPRESS_ACCESS_POINT"
                    }
                ]
            }
        },
        "com.amazonaws.accessanalyzer#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.accessanalyzer#AccessList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.accessanalyzer#Access"
            }
        },
        "com.amazonaws.accessanalyzer#AccessPointArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:[^:]*:s3:[^:]*:[^:]*:accesspoint/.*$"
            }
        },
        "com.amazonaws.accessanalyzer#AccessPointPolicy": {
            "type": "string"
        },
        "com.amazonaws.accessanalyzer#AccessPreview": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.accessanalyzer#AccessPreviewId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID for the access preview.</p>",
                        "smithy.api#required": {}
                    }
                },
                "analyzerArn": {
                    "target": "com.amazonaws.accessanalyzer#AnalyzerArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the analyzer used to generate the access preview.</p>",
                        "smithy.api#required": {}
                    }
                },
                "configurations": {
                    "target": "com.amazonaws.accessanalyzer#ConfigurationsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A map of resource ARNs for the proposed resource configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.accessanalyzer#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the access preview was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.accessanalyzer#AccessPreviewStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete. You can preview findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li> </ul>",
                        "smithy.api#required": {}
                    }
                },
                "statusReason": {
                    "target": "com.amazonaws.accessanalyzer#AccessPreviewStatusReason",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides more details about the current status of the access preview.</p> <p>For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid resource configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about an access preview.</p>"
            }
        },
        "com.amazonaws.accessanalyzer#AccessPreviewFinding": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.accessanalyzer#AccessPreviewFindingId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the access preview finding. This ID uniquely identifies the element in the list of access preview findings and is not related to the finding ID in Access Analyzer.</p>",
                        "smithy.api#required": {}
                    }
                },
                "existingFindingId": {
                    "target": "com.amazonaws.accessanalyzer#FindingId",
                    "traits": {
                        "smithy.api#documentation": "<p>The existing ID of the finding in IAM Access Analyzer, provided only for existing findings.</p>"
                    }
                },
                "existingFindingStatus": {
                    "target": "com.amazonaws.accessanalyzer#FindingStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The existing status of the finding, provided only for existing findings.</p>"
                    }
                },
                "principal": {
                    "target": "com.amazonaws.accessanalyzer#PrincipalMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The external principal that has access to a resource within the zone of trust.</p>"
                    }
                },
                "action": {
                    "target": "com.amazonaws.accessanalyzer#ActionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The action in the analyzed policy statement that an external principal has permission to perform.</p>"
                    }
                },
                "condition": {
                    "target": "com.amazonaws.accessanalyzer#ConditionKeyMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The condition in the analyzed policy statement that resulted in a finding.</p>"
                    }
                },
                "resource": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource that an external principal has access to. This is the resource associated with the access preview.</p>"
                    }
                },
                "isPublic": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the policy that generated the finding allows public access to the resource.</p>"
                    }
                },
                "resourceType": {
                    "target": "com.amazonaws.accessanalyzer#ResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the resource that can be accessed in the finding.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.accessanalyzer#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the access preview finding was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "changeType": {
                    "target": "com.amazonaws.accessanalyzer#FindingChangeType",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides context on how the access preview finding compares to existing access identified in IAM Access Analyzer.</p> <ul> <li> <p> <code>New</code> - The finding is for newly-introduced access.</p> </li> <li> <p> <code>Unchanged</code> - The preview finding is an existing finding that would remain unchanged.</p> </li> <li> <p> <code>Changed</code> - The preview finding is an existing finding with a change in status.</p> </li> </ul> <p>For example, a <code>Changed</code> finding with preview status <code>Resolved</code> and existing status <code>Active</code> indicates the existing <code>Active</code> finding would become <code>Resolved</code> as a result of the proposed permissions change.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.accessanalyzer#FindingStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The preview status of the finding. This is what the status of the finding would be after permissions deployment. For example, a <code>Changed</code> finding with preview status <code>Resolved</code> and existing status <code>Active</code> indicates the existing <code>Active</code> finding would become <code>Resolved</code> as a result of the proposed permissions change.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceOwnerAccount": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID that owns the resource. For most Amazon Web Services resources, the owning account is the account in which the resource was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "error": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>An error.</p>"
                    }
                },
                "sources": {
                    "target": "com.amazonaws.accessanalyzer#FindingSourceList",
                    "traits": {
                        "smithy.api#documentation": "<p>The sources of the finding. This indicates how the access that generated the finding is granted. It is populated for Amazon S3 bucket findings.</p>"
                    }
                },
                "resourceControlPolicyRestriction": {
                    "target": "com.amazonaws.accessanalyzer#ResourceControlPolicyRestriction",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of restriction applied to the finding by the resource owner with an Organizations resource control policy (RCP).</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An access preview finding generated by the access preview.</p>"
            }
        },
        "com.amazonaws.accessanalyzer#AccessPreviewFindingId": {
            "type": "string"
        },
        "com.amazonaws.accessanalyzer#AccessPreviewFindingsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.accessanalyzer#AccessPreviewFinding"
            }
        },
        "com.amazonaws.accessanalyzer#AccessPreviewId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
            }
        },
        "com.amazonaws.accessanalyzer#AccessPreviewStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "COMPLETED",
                        "name": "COMPLETED"
                    },
                    {
                        "value": "CREATING",
                        "name": "CREATING"
                    },
                    {
                        "value": "FAILED",
                        "name": "FAILED"
                    }
                ]
            }
        },
        "com.amazonaws.accessanalyzer#AccessPreviewStatusReason": {
            "type": "structure",
            "members": {
                "code": {
                    "target": "com.amazonaws.accessanalyzer#AccessPreviewStatusReasonCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason code for the current status of the access preview.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides more details about the current status of the access preview. For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid proposed resource configuration.</p>"
            }
        },
        "com.amazonaws.accessanalyzer#AccessPreviewStatusReasonCode": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "INTERNAL_ERROR",
                        "name": "INTERNAL_ERROR"
                    },
                    {
                        "value": "INVALID_CONFIGURATION",
                        "name": "INVALID_CONFIGURATION"
                    }
                ]
            }
        },
        "com.amazonaws.accessanalyzer#AccessPreviewSummary": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.accessanalyzer#AccessPreviewId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID for the access preview.</p>",
                        "smithy.api#required": {}
                    }
                },
                "analyzerArn": {
                    "target": "com.amazonaws.accessanalyzer#AnalyzerArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the analyzer used to generate the access preview.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.accessanalyzer#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the access preview was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.accessanalyzer#AccessPreviewStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete and previews the findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li> </ul>",
                        "smithy.api#required": {}
                    }
                },
                "statusReason": {
                    "target": "com.amazonaws.accessanalyzer#AccessPreviewStatusReason"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains a summary of information about an access preview.</p>"
            }
        },
        "com.amazonaws.accessanalyzer#AccessPreviewsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.accessanalyzer#AccessPreviewSummary"
            }
        },
        "com.amazonaws.accessanalyzer#AccountAggregations": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.accessanalyzer#FindingAggregationAccountDetails"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.accessanalyzer#AccountIdsList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            }
        },
        "com.amazonaws.accessanalyzer#AclCanonicalId": {
            "type": "string"
        },
        "com.amazonaws.accessanalyzer#AclGrantee": {
            "type": "union",
            "members": {
                "id": {
                    "target": "com.amazonaws.accessanalyzer#AclCanonicalId",
                    "traits": {
                        "smithy.api#documentation": "<p>The value specified is the canonical user ID of an Amazon Web Services account.</p>"
                    }
                },
                "uri": {
                    "target": "com.amazonaws.accessanalyzer#AclUri",
                    "traits": {
                        "smithy.api#documentation": "<p>Used for granting permissions to a predefined group.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You specify each grantee as a type-value pair using one of these types. You can specify only one type of grantee. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketAcl.html\">PutBucketAcl</a>.</p>"
            }
        },
        "com.amazonaws.accessanalyzer#AclPermission": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "READ",
                        "name": "READ"
                    },
                    {
                        "value": "WRITE",
                        "name": "WRITE"
                    },
                    {
                        "value": "READ_ACP",
                        "name": "READ_ACP"
                    },
                    {
                        "value": "WRITE_ACP",
                        "name": "WRITE_ACP"
                    },
                    {
                        "value": "FULL_CONTROL",
                        "name": "FULL_CONTROL"
                    }
                ]
            }
        },
        "com.amazonaws.accessanalyzer#AclUri": {
            "type": "string"
        },
        "com.amazonaws.accessanalyzer#Action": {
            "type": "string"
        },
        "com.amazonaws.accessanalyzer#ActionList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            }
        },
        "com.amazonaws.accessanalyzer#ActionsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.accessanalyzer#Action"
            }
        },
        "com.amazonaws.accessanalyzer#AnalysisRule": {
            "type": "structure",
            "members": {
                "exclusions": {
                    "target": "com.amazonaws.accessanalyzer#AnalysisRuleCriteriaList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of rules for the analyzer containing criteria to exclude from analysis. Entities that meet the rule criteria will not generate findings.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about analysis rules for the analyzer. Analysis rules determine which entities will generate findings based on the criteria you define when you create the rule.</p>"
            }
        },
        "com.amazonaws.accessanalyzer#AnalysisRuleCriteria": {
            "type": "structure",
            "members": {
                "accountIds": {
                    "target": "com.amazonaws.accessanalyzer#AccountIdsList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of Amazon Web Services account IDs to apply to the analysis rule criteria. The accounts cannot include the organization analyzer owner account. Account IDs can only be applied to the analysis rule criteria for organization-level analyzers. The list cannot include more than 2,000 account IDs.</p>"
                    }
                },
                "resourceTags": {
                    "target": "com.amazonaws.accessanalyzer#TagsList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of key-value pairs to match for your resources. You can use the set of Unicode letters, digits, whitespace, <code>_</code>, <code>.</code>, <code>/</code>, <code>=</code>, <code>+</code>, and <code>-</code>.</p> <p>For the tag key, you can specify a value that is 1 to 128 characters in length and cannot be prefixed with <code>aws:</code>.</p> <p>For the tag value, you can specify a value that is 0 to 256 characters in length. If the specified tag value is 0 characters, the rule is applied to all principals with the specified tag key.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The criteria for an analysis rule for an analyzer. The criteria determine which entities will generate findings.</p>"
            }
        },
        "com.amazonaws.accessanalyzer#AnalysisRuleCriteriaList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.accessanalyzer#AnalysisRuleCriteria"
            }
        },
        "com.amazonaws.accessanalyzer#AnalyzedResource": {
            "type": "structure",
            "members": {
                "resourceArn": {
                    "target": "com.amazonaws.accessanalyzer#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the resource that was analyzed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceType": {
                    "target": "com.amazonaws.accessanalyzer#ResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the resource that was analyzed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.accessanalyzer#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the finding was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "analyzedAt": {
                    "target": "com.amazonaws.accessanalyzer#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the resource was analyzed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.accessanalyzer#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the finding was updated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "isPublic": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the policy that generated the finding grants public access to the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "actions": {
                    "target": "com.amazonaws.accessanalyzer#ActionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The actions that an external principal is granted permission to use by the policy that generated the finding.</p>"
                    }
                },
                "sharedVia": {
                    "target": "com.amazonaws.accessanalyzer#SharedViaList",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates how the access that generated the finding is granted. This is populated for Amazon S3 bucket findings.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.accessanalyzer#FindingStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the finding generated from the analyzed resource.</p>"
                    }
                },
                "resourceOwnerAccount": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID that owns the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "error": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>An error message.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details about the analyzed resource.</p>"
            }
        },
        "com.amazonaws.accessanalyzer#AnalyzedResourceSummary": {
            "type": "structure",
            "members": {
                "resourceArn": {
                    "target": "com.amazonaws.accessanalyzer#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the analyzed resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceOwnerAccount": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID that owns the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceType": {
                    "target": "com.amazonaws.accessanalyzer#ResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of resource that was analyzed.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the ARN of the analyzed resource.</p>"
            }
        },
        "com.amazonaws.accessanalyzer#AnalyzedResourcesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.accessanalyzer#AnalyzedResourceSummary"
            }
        },
        "com.amazonaws.accessanalyzer#Analyzer": {
            "type": "resource",
            "identifiers": {
                "analyzerName": {
                    "target": "com.amazonaws.accessanalyzer#Name"
                }
            },
            "put": {
                "target": "com.amazonaws.accessanalyzer#CreateAnalyzer"
            },
            "read": {
                "target": "com.amazonaws.accessanalyzer#GetAnalyzer"
            },
            "update": {
                "target": "com.amazonaws.accessanalyzer#UpdateAnalyzer"
            },
            "delete": {
                "target": "com.amazonaws.accessanalyzer#DeleteAnalyzer"
            },
            "list": {
                "target": "com.amazonaws.accessanalyzer#ListAnalyzers"
            },
            "resources": [
                {
                    "target": "com.amazonaws.accessanalyzer#ArchiveRule"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "analyzer/{analyzerName}"
                },
                "smithy.api#noReplace": {}
            }
        },
        "com.amazonaws.accessanalyzer#AnalyzerArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[^:]*:[^:]*:[^:]*:[^:]*:[^:]*:analyzer/.{1,255}$"
            }
        },
        "com.amazonaws.accessanalyzer#AnalyzerConfiguration": {
            "type": "union",
            "members": {
                "unusedAccess": {
                    "target": "com.amazonaws.accessanalyzer#UnusedAccessConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the configuration of an unused access analyzer for an Amazon Web Services organization or account.</p>"
                    }
                },
                "internalAccess": {
                    "target": "com.amazonaws.accessanalyzer#InternalAccessConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the configuration of an internal access analyzer for an Amazon Web Services organization or account. This configuration determines how the analyzer evaluates access within your Amazon Web Services environment.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about the configuration of an analyzer for an Amazon Web Services organization or account.</p>"
            }
        },
        "com.amazonaws.accessanalyzer#AnalyzerStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "ACTIVE",
                        "name": "ACTIVE"
                    },
                    {
                        "value": "CREATING",
                        "name": "CREATING"
                    },
                    {
                        "value": "DISABLED",
                        "name": "DISABLED"
                    },
                    {
                        "value": "FAILED",
                        "name": "FAILED"
                    }
                ]
            }
        },
        "com.amazonaws.accessanalyzer#AnalyzerSummary": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.accessanalyzer#AnalyzerArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the analyzer.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.accessanalyzer#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the analyzer.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.accessanalyzer#Type",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of analyzer, which corresponds to the zone of trust chosen for the analyzer.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.accessanalyzer#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>A timestamp for the time at which the analyzer was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lastResourceAnalyzed": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource that was most recently analyzed by the analyzer.</p>"
                    }
                },
                "lastResourceAnalyzedAt": {
                    "target": "com.amazonaws.accessanalyzer#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the most recently analyzed resource was analyzed.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.accessanalyzer#TagsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags added to the analyzer.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.accessanalyzer#AnalyzerStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the analyzer. An <code>Active</code> analyzer successfully monitors supported resources and generates new findings. The analyzer is <code>Disabled</code> when a user action, such as removing trusted access for Identity and Access Management Access Analyzer from Organizations, causes the analyzer to stop generating new findings. The status is <code>Creating</code> when the analyzer creation is in progress and <code>Failed</code> when the analyzer creation has failed. </p>",
                        "smithy.api#required": {}
                    }
                },
                "statusReason": {
                    "target": "com.amazonaws.accessanalyzer#StatusReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>statusReason</code> provides more details about the current status of the analyzer. For example, if the creation for the analyzer fails, a <code>Failed</code> status is returned. For an analyzer with organization as the type, this failure can be due to an issue with creating the service-linked roles required in the member accounts of the Amazon Web Services organization.</p>"
                    }
                },
                "configuration": {
                    "target": "com.amazonaws.accessanalyzer#AnalyzerConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies if the analyzer is an external access, unused access, or internal access analyzer.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about the analyzer.</p>"
            }
        },
        "com.amazonaws.accessanalyzer#AnalyzersList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.accessanalyzer#AnalyzerSummary"
            }
        },
        "com.amazonaws.accessanalyzer#ApplyArchiveRule": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.accessanalyzer#ApplyArchiveRuleRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.accessanalyzer#AccessDeniedException"
                },
                {
[...]
