{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.account#AcceptPrimaryEmailUpdate": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.account#AcceptPrimaryEmailUpdateRequest"
            },
            "output": {
                "target": "com.amazonaws.account#AcceptPrimaryEmailUpdateResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.account#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.account#ConflictException"
                },
                {
                    "target": "com.amazonaws.account#InternalServerException"
                },
                {
                    "target": "com.amazonaws.account#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.account#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.account#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Accepts the request that originated from <a>StartPrimaryEmailUpdate</a> to update the primary email address (also known as the root user email address) for the specified account.</p>",
                "smithy.api#http": {
                    "uri": "/acceptPrimaryEmailUpdate",
                    "method": "POST",
                    "code": 200
                }
            }
        },
        "com.amazonaws.account#AcceptPrimaryEmailUpdateRequest": {
            "type": "structure",
            "members": {
                "AccountId": {
                    "target": "com.amazonaws.account#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the 12-digit account ID number of the Amazon Web Services account that you want to access or modify with this operation. To use this parameter, the caller must be an identity in the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">organization's management account</a> or a delegated administrator account. The specified account ID must be a member account in the same organization. The organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features enabled</a>, and the organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html\">trusted access</a> enabled for the Account Management service, and optionally a <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#delegated-admin\">delegated admin</a> account assigned.</p> <p>This operation can only be called from the management account or the delegated administrator account of an organization for a member account.</p> <note> <p>The management account can't specify its own <code>AccountId</code>.</p> </note>",
                        "smithy.api#required": {}
                    }
                },
                "PrimaryEmail": {
                    "target": "com.amazonaws.account#PrimaryEmailAddress",
                    "traits": {
                        "smithy.api#documentation": "<p>The new primary email address for use with the specified account. This must match the <code>PrimaryEmail</code> from the <code>StartPrimaryEmailUpdate</code> API call.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Otp": {
                    "target": "com.amazonaws.account#Otp",
                    "traits": {
                        "smithy.api#documentation": "<p>The OTP code sent to the <code>PrimaryEmail</code> specified on the <code>StartPrimaryEmailUpdate</code> API call.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.account#AcceptPrimaryEmailUpdateResponse": {
            "type": "structure",
            "members": {
                "Status": {
                    "target": "com.amazonaws.account#PrimaryEmailUpdateStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Retrieves the status of the accepted primary email update request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.account#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "errorType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The value populated to the <code>x-amzn-ErrorType</code> response header by API Gateway.</p>",
                        "smithy.api#httpHeader": "x-amzn-ErrorType"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The operation failed because the calling identity doesn't have the minimum required permissions.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.account#Account": {
            "type": "service",
            "version": "2021-02-01",
            "resources": [
                {
                    "target": "com.amazonaws.account#AccountNameResource"
                },
                {
                    "target": "com.amazonaws.account#AlternateContactResource"
                },
                {
                    "target": "com.amazonaws.account#ContactInformationResource"
                },
                {
                    "target": "com.amazonaws.account#PrimaryEmailResource"
                },
                {
                    "target": "com.amazonaws.account#RegionOptResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Account",
                    "arnNamespace": "account",
                    "cloudTrailEventSource": "CLOUDTRAIL_EVENT_SOURCE"
                },
                "aws.auth#sigv4": {
                    "name": "account"
                },
                "aws.endpoints#standardPartitionalEndpoints": {
                    "endpointPatternType": "service_region_dnsSuffix"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {},
                "smithy.api#documentation": "<p>Operations for Amazon Web Services Account Management</p>",
                "smithy.api#paginated": {
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
                    "pageSize": "MaxResults"
                },
                "smithy.api#suppress": [
                    "EventSource"
                ],
                "smithy.api#title": "AWS Account",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        },
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "endpoint": {
                                                                        "url": "https://account-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                                                                        "properties": {
                                                                            "authSchemes": [
                                                                                {
                                                                                    "name": "sigv4",
                                                                                    "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                                                                }
                                                                            ]
                                                                        },
                                                                        "headers": {}
                                                                    },
                                                                    "type": "endpoint"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                false
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "endpoint": {
                                                                        "url": "https://account-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dnsSuffix}",
                                                                        "properties": {
                                                                            "authSchemes": [
                                                                                {
                                                                                    "name": "sigv4",
                                                                                    "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                                                                }
                                                                            ]
                                                                        },
                                                                        "headers": {}
                                                                    },
                                                                    "type": "endpoint"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                false
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "endpoint": {
                                                                        "url": "https://account.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                                                                        "properties": {
                                                                            "authSchemes": [
                                                                                {
                                                                                    "name": "sigv4",
                                                                                    "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                                                                }
                                                                            ]
                                                                        },
                                                                        "headers": {}
                                                                    },
                                                                    "type": "endpoint"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://account.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dnsSuffix}",
                                                        "properties": {
                                                            "authSchemes": [
                                                                {
                                                                    "name": "sigv4",
                                                                    "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                                                }
                                                            ]
                                                        },
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Endpoint": "https://example.com",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Endpoint": "https://example.com",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Endpoint": "https://example.com",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "cn-northwest-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "cn-northwest-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account-fips.cn-northwest-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "cn-northwest-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account.cn-northwest-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "cn-northwest-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account.cn-northwest-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-gov-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account-fips.us-gov-west-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-gov-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account-fips.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-gov-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account.us-gov-west-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-gov-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-iso-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-iso-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-isob-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-isob-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-isoe-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "eu-isoe-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account-fips.eu-isoe-west-1.cloud.adc-e.uk"
                                }
                            },
                            "params": {
                                "Region": "eu-isoe-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-isoe-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "eu-isoe-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account.eu-isoe-west-1.cloud.adc-e.uk"
                                }
                            },
                            "params": {
                                "Region": "eu-isoe-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isof-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-isof-south-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account-fips.us-isof-south-1.csp.hci.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isof-south-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isof-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-isof-south-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account.us-isof-south-1.csp.hci.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isof-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eusc-de-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "eusc-de-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account-fips.eusc-de-east-1.amazonaws.eu"
                                }
                            },
                            "params": {
                                "Region": "eusc-de-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eusc-de-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "eusc-de-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://account.eusc-de-east-1.amazonaws.eu"
                                }
                            },
                            "params": {
                                "Region": "eusc-de-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.account#AccountCreatedDate": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "date-time"
            }
        },
        "com.amazonaws.account#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^\\d{12}$"
            }
        },
        "com.amazonaws.account#AccountName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                },
                "smithy.api#pattern": "^[ -;=?-~]+$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.account#AccountNameResource": {
            "type": "resource",
            "put": {
                "target": "com.amazonaws.account#PutAccountName"
            },
            "read": {
                "target": "com.amazonaws.account#GetAccountInformation"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "AccountName"
                }
            }
        },
        "com.amazonaws.account#AddressLine": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 60
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.account#AlternateContact": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.account#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name associated with this alternate contact.</p>"
                    }
                },
                "Title": {
                    "target": "com.amazonaws.account#Title",
                    "traits": {
                        "smithy.api#documentation": "<p>The title associated with this alternate contact.</p>"
                    }
                },
                "EmailAddress": {
                    "target": "com.amazonaws.account#EmailAddress",
                    "traits": {
                        "smithy.api#documentation": "<p>The email address associated with this alternate contact.</p>"
                    }
                },
                "PhoneNumber": {
                    "target": "com.amazonaws.account#PhoneNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The phone number associated with this alternate contact.</p>"
                    }
                },
                "AlternateContactType": {
                    "target": "com.amazonaws.account#AlternateContactType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of alternate contact.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains the details of an alternate contact associated with an Amazon Web Services account</p>"
            }
        },
        "com.amazonaws.account#AlternateContactResource": {
            "type": "resource",
            "identifiers": {
                "AlternateContactType": {
                    "target": "com.amazonaws.account#AlternateContactType"
                }
            },
            "put": {
                "target": "com.amazonaws.account#PutAlternateContact"
            },
            "read": {
                "target": "com.amazonaws.account#GetAlternateContact"
            },
            "delete": {
                "target": "com.amazonaws.account#DeleteAlternateContact"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "AlternateContact/{AlternateContactType}"
                }
            }
        },
        "com.amazonaws.account#AlternateContactType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "BILLING",
                        "name": "BILLING"
                    },
                    {
                        "value": "OPERATIONS",
                        "name": "OPERATIONS"
                    },
                    {
                        "value": "SECURITY",
                        "name": "SECURITY"
                    }
                ]
            }
        },
        "com.amazonaws.account#City": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.account#CompanyName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.account#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "errorType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The value populated to the <code>x-amzn-ErrorType</code> response header by API Gateway.</p>",
                        "smithy.api#httpHeader": "x-amzn-ErrorType"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request could not be processed because of a conflict in the current status of the resource. For example, this happens if you try to enable a Region that is currently being disabled (in a status of DISABLING) or if you try to change an account’s root user email to an email address which is already in use.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.account#ContactInformation": {
            "type": "structure",
            "members": {
                "FullName": {
                    "target": "com.amazonaws.account#FullName",
                    "traits": {
                        "smithy.api#documentation": "<p>The full name of the primary contact address.</p>",
                        "smithy.api#required": {}
                    }
                },
                "AddressLine1": {
                    "target": "com.amazonaws.account#AddressLine",
                    "traits": {
                        "smithy.api#documentation": "<p>The first line of the primary contact address.</p>",
                        "smithy.api#required": {}
                    }
                },
                "AddressLine2": {
                    "target": "com.amazonaws.account#AddressLine",
                    "traits": {
                        "smithy.api#documentation": "<p>The second line of the primary contact address, if any.</p>"
                    }
                },
                "AddressLine3": {
                    "target": "com.amazonaws.account#AddressLine",
                    "traits": {
                        "smithy.api#documentation": "<p>The third line of the primary contact address, if any.</p>"
                    }
                },
                "City": {
                    "target": "com.amazonaws.account#City",
                    "traits": {
                        "smithy.api#documentation": "<p>The city of the primary contact address.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StateOrRegion": {
                    "target": "com.amazonaws.account#StateOrRegion",
                    "traits": {
                        "smithy.api#documentation": "<p>The state or region of the primary contact address. If the mailing address is within the United States (US), the value in this field can be either a two character state code (for example, <code>NJ</code>) or the full state name (for example, <code>New Jersey</code>). This field is required in the following countries: <code>US</code>, <code>CA</code>, <code>GB</code>, <code>DE</code>, <code>JP</code>, <code>IN</code>, and <code>BR</code>.</p>"
                    }
                },
                "DistrictOrCounty": {
                    "target": "com.amazonaws.account#DistrictOrCounty",
                    "traits": {
                        "smithy.api#documentation": "<p>The district or county of the primary contact address, if any.</p>"
                    }
                },
                "PostalCode": {
                    "target": "com.amazonaws.account#PostalCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The postal code of the primary contact address.</p>",
                        "smithy.api#required": {}
                    }
                },
                "CountryCode": {
                    "target": "com.amazonaws.account#CountryCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The ISO-3166 two-letter country code for the primary contact address.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PhoneNumber": {
                    "target": "com.amazonaws.account#ContactInformationPhoneNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The phone number of the primary contact information. The number will be validated and, in some countries, checked for activation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "CompanyName": {
                    "target": "com.amazonaws.account#CompanyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the company associated with the primary contact information, if any.</p>"
                    }
                },
                "WebsiteUrl": {
                    "target": "com.amazonaws.account#WebsiteUrl",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL of the website associated with the primary contact information, if any.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the details of the primary contact information associated with an Amazon Web Services account.</p>"
            }
        },
        "com.amazonaws.account#ContactInformationPhoneNumber": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 20
                },
                "smithy.api#pattern": "^[+][\\s0-9()-]+$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.account#ContactInformationResource": {
            "type": "resource",
            "put": {
                "target": "com.amazonaws.account#PutContactInformation"
            },
            "read": {
                "target": "com.amazonaws.account#GetContactInformation"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "ContactInformation"
                }
            }
        },
        "com.amazonaws.account#CountryCode": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 2,
                    "max": 2
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.account#DeleteAlternateContact": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.account#DeleteAlternateContactRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.account#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.account#InternalServerException"
                },
                {
                    "target": "com.amazonaws.account#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.account#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.account#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the specified alternate contact from an Amazon Web Services account.</p> <p>For complete details about how to use the alternate contact operations, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-update-contact.html\">Access or updating the alternate contacts</a>.</p> <note> <p>Before you can update the alternate contact information for an Amazon Web Services account that is managed by Organizations, you must first enable integration between Amazon Web Services Account Management and Organizations. For more information, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/using-orgs-trusted-access.html\">Enabling trusted access for Amazon Web Services Account Management</a>.</p> </note>",
                "smithy.api#http": {
                    "uri": "/deleteAlternateContact",
                    "method": "POST",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.account#DeleteAlternateContactRequest": {
            "type": "structure",
            "members": {
                "AlternateContactType": {
                    "target": "com.amazonaws.account#AlternateContactType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies which of the alternate contacts to delete. </p>",
                        "smithy.api#required": {}
                    }
                },
                "AccountId": {
                    "target": "com.amazonaws.account#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the 12 digit account ID number of the Amazon Web Services account that you want to access or modify with this operation.</p> <p>If you do not specify this parameter, it defaults to the Amazon Web Services account of the identity used to call the operation.</p> <p>To use this parameter, the caller must be an identity in the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">organization's management account</a> or a delegated administrator account, and the specified account ID must be a member account in the same organization. The organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features enabled</a>, and the organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-trusted-access.html\">trusted access</a> enabled for the Account Management service, and optionally a <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-delegated-admin.html\">delegated admin</a> account assigned.</p> <note> <p>The management account can't specify its own <code>AccountId</code>; it must call the operation in standalone context by not including the <code>AccountId</code> parameter.</p> </note> <p>To call this operation on an account that is not a member of an organization, then don't specify this parameter, and call the operation using an identity belonging to the account whose contacts you wish to retrieve or modify.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.account#DisableRegion": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.account#DisableRegionRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.account#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.account#ConflictException"
                },
                {
                    "target": "com.amazonaws.account#InternalServerException"
                },
                {
                    "target": "com.amazonaws.account#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.account#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Disables (opts-out) a particular Region for an account.</p> <note> <p>The act of disabling a Region will remove all IAM access to any resources that reside in that Region.</p> </note>",
                "smithy.api#http": {
                    "uri": "/disableRegion",
                    "method": "POST",
                    "code": 200
                }
            }
        },
        "com.amazonaws.account#DisableRegionRequest": {
            "type": "structure",
            "members": {
                "AccountId": {
                    "target": "com.amazonaws.account#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the 12-digit account ID number of the Amazon Web Services account that you want to access or modify with this operation. If you don't specify this parameter, it defaults to the Amazon Web Services account of the identity used to call the operation. To use this parameter, the caller must be an identity in the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">organization's management account</a> or a delegated administrator account. The specified account ID must be a member account in the same organization. The organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features enabled</a>, and the organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html\">trusted access</a> enabled for the Account Management service, and optionally a <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#delegated-admin\">delegated admin</a> account assigned.</p> <note> <p>The management account can't specify its own <code>AccountId</code>. It must call the operation in standalone context by not including the <code>AccountId</code> parameter.</p> </note> <p>To call this operation on an account that is not a member of an organization, don't specify this parameter. Instead, call the operation using an identity belonging to the account whose contacts you wish to retrieve or modify.</p>"
                    }
                },
                "RegionName": {
                    "target": "com.amazonaws.account#RegionName",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the Region-code for a given Region name (for example, <code>af-south-1</code>). When you disable a Region, Amazon Web Services performs actions to deactivate that Region in your account, such as destroying IAM resources in the Region. This process takes a few minutes for most accounts, but this can take several hours. You cannot enable the Region until the disabling process is fully completed.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.account#DistrictOrCounty": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.account#EmailAddress": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 254
                },
                "smithy.api#pattern": "^[\\s]*[\\w+=.#|!&-]+@[\\w.-]+\\.[\\w]+[\\s]*$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.account#EnableRegion": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.account#EnableRegionRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.account#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.account#ConflictException"
                },
                {
                    "target": "com.amazonaws.account#InternalServerException"
                },
                {
                    "target": "com.amazonaws.account#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.account#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Enables (opts-in) a particular Region for an account.</p>",
                "smithy.api#http": {
                    "uri": "/enableRegion",
                    "method": "POST",
                    "code": 200
                }
            }
        },
        "com.amazonaws.account#EnableRegionRequest": {
            "type": "structure",
            "members": {
                "AccountId": {
                    "target": "com.amazonaws.account#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the 12-digit account ID number of the Amazon Web Services account that you want to access or modify with this operation. If you don't specify this parameter, it defaults to the Amazon Web Services account of the identity used to call the operation. To use this parameter, the caller must be an identity in the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">organization's management account</a> or a delegated administrator account. The specified account ID must be a member account in the same organization. The organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features enabled</a>, and the organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html\">trusted access</a> enabled for the Account Management service, and optionally a <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#delegated-admin\">delegated admin</a> account assigned.</p> <note> <p>The management account can't specify its own <code>AccountId</code>. It must call the operation in standalone context by not including the <code>AccountId</code> parameter.</p> </note> <p>To call this operation on an account that is not a member of an organization, don't specify this parameter. Instead, call the operation using an identity belonging to the account whose contacts you wish to retrieve or modify.</p>"
                    }
                },
                "RegionName": {
                    "target": "com.amazonaws.account#RegionName",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the Region-code for a given Region name (for example, <code>af-south-1</code>). When you enable a Region, Amazon Web Services performs actions to prepare your account in that Region, such as distributing your IAM resources to the Region. This process takes a few minutes for most accounts, but it can take several hours. You cannot use the Region until this process is complete. Furthermore, you cannot disable the Region until the enabling process is fully completed.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.account#FullName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.account#GetAccountInformation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.account#GetAccountInformationRequest"
            },
            "output": {
                "target": "com.amazonaws.account#GetAccountInformationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.account#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.account#InternalServerException"
                },
                {
                    "target": "com.amazonaws.account#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.account#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves information about the specified account including its account name, account ID, and account creation date and time. To use this API, an IAM user or role must have the <code>account:GetAccountInformation</code> IAM permission. </p>",
                "smithy.api#http": {
                    "uri": "/getAccountInformation",
                    "method": "POST",
                    "code": 200
                },
                "smithy.api#readonly": {},
                "smithy.api#suppress": [
                    "HttpMethodSemantics"
                ]
            }
        },
        "com.amazonaws.account#GetAccountInformationRequest": {
            "type": "structure",
            "members": {
                "AccountId": {
                    "target": "com.amazonaws.account#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the 12 digit account ID number of the Amazon Web Services account that you want to access or modify with this operation.</p> <p>If you do not specify this parameter, it defaults to the Amazon Web Services account of the identity used to call the operation.</p> <p>To use this parameter, the caller must be an identity in the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">organization's management account</a> or a delegated administrator account, and the specified account ID must be a member account in the same organization. The organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features enabled</a>, and the organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-trusted-access.html\">trusted access</a> enabled for the Account Management service, and optionally a <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-delegated-admin.html\">delegated admin</a> account assigned.</p> <note> <p>The management account can't specify its own <code>AccountId</code>; it must call the operation in standalone context by not including the <code>AccountId</code> parameter.</p> </note> <p>To call this operation on an account that is not a member of an organization, then don't specify this parameter, and call the operation using an identity belonging to the account whose contacts you wish to retrieve or modify.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.account#GetAccountInformationResponse": {
            "type": "structure",
            "members": {
                "AccountId": {
                    "target": "com.amazonaws.account#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the 12-digit account ID number of the Amazon Web Services account that you want to access or modify with this operation. To use this parameter, the caller must be an identity in the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">organization's management account</a> or a delegated administrator account. The specified account ID must be a member account in the same organization. The organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features enabled</a>, and the organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html\">trusted access</a> enabled for the Account Management service, and optionally a <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#delegated-admin\">delegated admin</a> account assigned.</p> <p>This operation can only be called from the management account or the delegated administrator account of an organization for a member account.</p> <note> <p>The management account can't specify its own <code>AccountId</code>.</p> </note>"
                    }
                },
                "AccountName": {
                    "target": "com.amazonaws.account#AccountName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the account.</p>"
                    }
                },
                "AccountCreatedDate": {
                    "target": "com.amazonaws.account#AccountCreatedDate",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the account was created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.account#GetAlternateContact": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.account#GetAlternateContactRequest"
            },
            "output": {
                "target": "com.amazonaws.account#GetAlternateContactResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.account#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.account#InternalServerException"
                },
                {
                    "target": "com.amazonaws.account#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.account#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.account#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the specified alternate contact attached to an Amazon Web Services account.</p> <p>For complete details about how to use the alternate contact operations, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-update-contact.html\">Access or updating the alternate contacts</a>.</p> <note> <p>Before you can update the alternate contact information for an Amazon Web Services account that is managed by Organizations, you must first enable integration between Amazon Web Services Account Management and Organizations. For more information, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/using-orgs-trusted-access.html\">Enabling trusted access for Amazon Web Services Account Management</a>.</p> </note>",
                "smithy.api#http": {
                    "uri": "/getAlternateContact",
                    "method": "POST",
                    "code": 200
                },
                "smithy.api#readonly": {},
                "smithy.api#suppress": [
                    "HttpMethodSemantics"
                ]
            }
        },
        "com.amazonaws.account#GetAlternateContactRequest": {
            "type": "structure",
            "members": {
                "AlternateContactType": {
                    "target": "com.amazonaws.account#AlternateContactType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies which alternate contact you want to retrieve.</p>",
                        "smithy.api#required": {}
                    }
                },
                "AccountId": {
                    "target": "com.amazonaws.account#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the 12 digit account ID number of the Amazon Web Services account that you want to access or modify with this operation.</p> <p>If you do not specify this parameter, it defaults to the Amazon Web Services account of the identity used to call the operation.</p> <p>To use this parameter, the caller must be an identity in the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">organization's management account</a> or a delegated administrator account, and the specified account ID must be a member account in the same organization. The organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features enabled</a>, and the organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-trusted-access.html\">trusted access</a> enabled for the Account Management service, and optionally a <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-delegated-admin.html\">delegated admin</a> account assigned.</p> <note> <p>The management account can't specify its own <code>AccountId</code>; it must call the operation in standalone context by not including the <code>AccountId</code> parameter.</p> </note> <p>To call this operation on an account that is not a member of an organization, then don't specify this parameter, and call the operation using an identity belonging to the account whose contacts you wish to retrieve or modify.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.account#GetAlternateContactResponse": {
            "type": "structure",
            "members": {
                "AlternateContact": {
                    "target": "com.amazonaws.account#AlternateContact",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains the details for the specified alternate contact.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.account#GetContactInformation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.account#GetContactInformationRequest"
            },
            "output": {
                "target": "com.amazonaws.account#GetContactInformationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.account#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.account#InternalServerException"
                },
                {
                    "target": "com.amazonaws.account#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.account#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.account#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the primary contact information of an Amazon Web Services account.</p> <p>For complete details about how to use the primary contact operations, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-update-contact.html\">Update the primary and alternate contact information</a>.</p>",
                "smithy.api#http": {
                    "uri": "/getContactInformation",
                    "method": "POST",
                    "code": 200
                },
                "smithy.api#readonly": {},
                "smithy.api#suppress": [
                    "HttpMethodSemantics"
                ]
            }
        },
        "com.amazonaws.account#GetContactInformationRequest": {
            "type": "structure",
            "members": {
                "AccountId": {
                    "target": "com.amazonaws.account#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the 12-digit account ID number of the Amazon Web Services account that you want to access or modify with this operation. If you don't specify this parameter, it defaults to the Amazon Web Services account of the identity used to call the operation. To use this parameter, the caller must be an identity in the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">organization's management account</a> or a delegated administrator account. The specified account ID must be a member account in the same organization. The organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features enabled</a>, and the organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html\">trusted access</a> enabled for the Account Management service, and optionally a <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#delegated-admin\">delegated admin</a> account assigned.</p> <note> <p>The management account can't specify its own <code>AccountId</code>. It must call the operation in standalone context by not including the <code>AccountId</code> parameter.</p> </note> <p>To call this operation on an account that is not a member of an organization, don't specify this parameter. Instead, call the operation using an identity belonging to the account whose contacts you wish to retrieve or modify.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.account#GetContactInformationResponse": {
            "type": "structure",
            "members": {
                "ContactInformation": {
                    "target": "com.amazonaws.account#ContactInformation",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the details of the primary contact information associated with an Amazon Web Services account.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.account#GetPrimaryEmail": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.account#GetPrimaryEmailRequest"
            },
            "output": {
                "target": "com.amazonaws.account#GetPrimaryEmailResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.account#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.account#InternalServerException"
                },
                {
                    "target": "com.amazonaws.account#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.account#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.account#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the primary email address for the specified account.</p>",
                "smithy.api#http": {
                    "uri": "/getPrimaryEmail",
                    "method": "POST",
                    "code": 200
                },
                "smithy.api#readonly": {},
                "smithy.api#suppress": [
                    "HttpMethodSemantics"
                ]
            }
        },
        "com.amazonaws.account#GetPrimaryEmailRequest": {
            "type": "structure",
[...]
