{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.amplifybackend#AdditionalConstraintsElement": {
            "type": "enum",
            "members": {
                "REQUIRE_DIGIT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REQUIRE_DIGIT"
                    }
                },
                "REQUIRE_LOWERCASE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REQUIRE_LOWERCASE"
                    }
                },
                "REQUIRE_SYMBOL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REQUIRE_SYMBOL"
                    }
                },
                "REQUIRE_UPPERCASE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REQUIRE_UPPERCASE"
                    }
                }
            }
        },
        "com.amazonaws.amplifybackend#AmplifyBackend": {
            "type": "service",
            "version": "2020-08-11",
            "operations": [
                {
                    "target": "com.amazonaws.amplifybackend#CloneBackend"
                },
                {
                    "target": "com.amazonaws.amplifybackend#CreateBackend"
                },
                {
                    "target": "com.amazonaws.amplifybackend#CreateBackendAPI"
                },
                {
                    "target": "com.amazonaws.amplifybackend#CreateBackendAuth"
                },
                {
                    "target": "com.amazonaws.amplifybackend#CreateBackendConfig"
                },
                {
                    "target": "com.amazonaws.amplifybackend#CreateBackendStorage"
                },
                {
                    "target": "com.amazonaws.amplifybackend#CreateToken"
                },
                {
                    "target": "com.amazonaws.amplifybackend#DeleteBackend"
                },
                {
                    "target": "com.amazonaws.amplifybackend#DeleteBackendAPI"
                },
                {
                    "target": "com.amazonaws.amplifybackend#DeleteBackendAuth"
                },
                {
                    "target": "com.amazonaws.amplifybackend#DeleteBackendStorage"
                },
                {
                    "target": "com.amazonaws.amplifybackend#DeleteToken"
                },
                {
                    "target": "com.amazonaws.amplifybackend#GenerateBackendAPIModels"
                },
                {
                    "target": "com.amazonaws.amplifybackend#GetBackend"
                },
                {
                    "target": "com.amazonaws.amplifybackend#GetBackendAPI"
                },
                {
                    "target": "com.amazonaws.amplifybackend#GetBackendAPIModels"
                },
                {
                    "target": "com.amazonaws.amplifybackend#GetBackendAuth"
                },
                {
                    "target": "com.amazonaws.amplifybackend#GetBackendJob"
                },
                {
                    "target": "com.amazonaws.amplifybackend#GetBackendStorage"
                },
                {
                    "target": "com.amazonaws.amplifybackend#GetToken"
                },
                {
                    "target": "com.amazonaws.amplifybackend#ImportBackendAuth"
                },
                {
                    "target": "com.amazonaws.amplifybackend#ImportBackendStorage"
                },
                {
                    "target": "com.amazonaws.amplifybackend#ListBackendJobs"
                },
                {
                    "target": "com.amazonaws.amplifybackend#ListS3Buckets"
                },
                {
                    "target": "com.amazonaws.amplifybackend#RemoveAllBackends"
                },
                {
                    "target": "com.amazonaws.amplifybackend#RemoveBackendConfig"
                },
                {
                    "target": "com.amazonaws.amplifybackend#UpdateBackendAPI"
                },
                {
                    "target": "com.amazonaws.amplifybackend#UpdateBackendAuth"
                },
                {
                    "target": "com.amazonaws.amplifybackend#UpdateBackendConfig"
                },
                {
                    "target": "com.amazonaws.amplifybackend#UpdateBackendJob"
                },
                {
                    "target": "com.amazonaws.amplifybackend#UpdateBackendStorage"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "AmplifyBackend",
                    "arnNamespace": "amplifybackend",
                    "cloudFormationName": "AmplifyBackend",
                    "cloudTrailEventSource": "amplifybackend.amazonaws.com",
                    "endpointPrefix": "amplifybackend"
                },
                "aws.auth#sigv4": {
                    "name": "amplifybackend"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>AWS Amplify Admin API</p>",
                "smithy.api#title": "AmplifyBackend",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": true,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "aws.partition",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ],
                                    "assign": "PartitionResult"
                                }
                            ],
                            "type": "tree",
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Endpoint"
                                                }
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                                    "type": "error"
                                                },
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": {
                                                            "ref": "Endpoint"
                                                        },
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        },
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsFIPS"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsDualStack"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://amplifybackend-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsFIPS"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "type": "tree",
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://amplifybackend-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsDualStack"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://amplifybackend.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": "https://amplifybackend.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ]
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.ap-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-south-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-south-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.ap-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-south-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-south-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.ca-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ca-central-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ca-central-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.ca-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ca-central-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ca-central-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.eu-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-central-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-central-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.eu-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-central-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-central-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.us-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-west-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-west-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.us-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-west-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-west-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.us-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-west-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-west-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.us-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-west-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-west-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.eu-north-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-north-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-north-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.eu-north-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-north-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-north-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.eu-west-3.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-west-3",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-west-3",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.eu-west-3.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-west-3",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-west-3",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.eu-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-west-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-west-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.eu-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-west-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-west-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.eu-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-west-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-west-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.eu-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-west-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-west-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.ap-northeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-northeast-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-northeast-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.ap-northeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-northeast-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-northeast-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.ap-northeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-northeast-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-northeast-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.ap-northeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-northeast-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-northeast-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.me-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "me-south-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "me-south-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.me-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "me-south-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "me-south-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.sa-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "sa-east-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "sa-east-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.sa-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "sa-east-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "sa-east-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.ap-southeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-southeast-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-southeast-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.ap-southeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-southeast-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-southeast-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.ap-southeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-southeast-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-southeast-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.ap-southeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-southeast-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-southeast-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-east-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-east-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-east-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-east-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.us-east-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-east-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend-fips.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-east-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.us-east-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-east-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://amplifybackend.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-east-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "Endpoint": "https://example.com"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.amplifybackend#AuthResources": {
            "type": "enum",
            "members": {
                "USER_POOL_ONLY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "USER_POOL_ONLY"
                    }
                },
                "IDENTITY_POOL_AND_USER_POOL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IDENTITY_POOL_AND_USER_POOL"
                    }
                }
            }
        },
        "com.amazonaws.amplifybackend#AuthenticatedElement": {
            "type": "enum",
            "members": {
                "READ": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "READ"
                    }
                },
                "CREATE_AND_UPDATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_AND_UPDATE"
                    }
                },
                "DELETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE"
                    }
                }
            }
        },
        "com.amazonaws.amplifybackend#BackendAPIAppSyncAuthSettings": {
            "type": "structure",
            "members": {
                "CognitoUserPoolId": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Cognito user pool ID, if Amazon Cognito was used as an authentication setting to access your data models.</p>",
                        "smithy.api#jsonName": "cognitoUserPoolId"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The API key description for API_KEY, if it was used as an authentication mechanism to access your data models.</p>",
                        "smithy.api#jsonName": "description"
                    }
                },
                "ExpirationTime": {
                    "target": "com.amazonaws.amplifybackend#__double",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The API key expiration time for API_KEY, if it was used as an authentication mechanism to access your data models.</p>",
                        "smithy.api#jsonName": "expirationTime"
                    }
                },
                "OpenIDAuthTTL": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The expiry time for the OpenID authentication mechanism.</p>",
                        "smithy.api#jsonName": "openIDAuthTTL"
                    }
                },
                "OpenIDClientId": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The clientID for openID, if openID was used as an authentication setting to access your data models.</p>",
                        "smithy.api#jsonName": "openIDClientId"
                    }
                },
                "OpenIDIatTTL": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The expiry time for the OpenID authentication mechanism.</p>",
                        "smithy.api#jsonName": "openIDIatTTL"
                    }
                },
                "OpenIDIssueURL": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The openID issuer URL, if openID was used as an authentication setting to access your data models.</p>",
                        "smithy.api#jsonName": "openIDIssueURL"
                    }
                },
                "OpenIDProviderName": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The OpenID provider name, if OpenID was used as an authentication mechanism to access your data models.</p>",
                        "smithy.api#jsonName": "openIDProviderName"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The authentication settings for accessing provisioned data models in your Amplify project.</p>"
            }
        },
        "com.amazonaws.amplifybackend#BackendAPIAuthType": {
            "type": "structure",
            "members": {
                "Mode": {
                    "target": "com.amazonaws.amplifybackend#Mode",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the authentication mode.</p>",
                        "smithy.api#jsonName": "mode"
                    }
                },
                "Settings": {
                    "target": "com.amazonaws.amplifybackend#BackendAPIAppSyncAuthSettings",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes settings for the authentication mode.</p>",
                        "smithy.api#jsonName": "settings"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the auth types for your configured data models.</p>"
            }
        },
        "com.amazonaws.amplifybackend#BackendAPIConflictResolution": {
            "type": "structure",
            "members": {
                "ResolutionStrategy": {
                    "target": "com.amazonaws.amplifybackend#ResolutionStrategy",
                    "traits": {
                        "smithy.api#documentation": "<p>The strategy for conflict resolution.</p>",
                        "smithy.api#jsonName": "resolutionStrategy"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the conflict resolution configuration for your data model configured in your Amplify project.</p>"
            }
        },
        "com.amazonaws.amplifybackend#BackendAPIResourceConfig": {
            "type": "structure",
            "members": {
                "AdditionalAuthTypes": {
                    "target": "com.amazonaws.amplifybackend#ListOfBackendAPIAuthType",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional authentication methods used to interact with your data models.</p>",
                        "smithy.api#jsonName": "additionalAuthTypes"
                    }
                },
                "ApiName": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The API name used to interact with the data model, configured as a part of your Amplify project.</p>",
                        "smithy.api#jsonName": "apiName"
                    }
                },
                "ConflictResolution": {
                    "target": "com.amazonaws.amplifybackend#BackendAPIConflictResolution",
                    "traits": {
                        "smithy.api#documentation": "<p>The conflict resolution strategy for your data stored in the data models.</p>",
                        "smithy.api#jsonName": "conflictResolution"
                    }
                },
                "DefaultAuthType": {
                    "target": "com.amazonaws.amplifybackend#BackendAPIAuthType",
                    "traits": {
                        "smithy.api#documentation": "<p>The default authentication type for interacting with the configured data models in your Amplify project.</p>",
                        "smithy.api#jsonName": "defaultAuthType"
                    }
                },
                "Service": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The service used to provision and interact with the data model.</p>",
                        "smithy.api#jsonName": "service"
                    }
                },
                "TransformSchema": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The definition of the data model in the annotated transform of the GraphQL schema.</p>",
                        "smithy.api#jsonName": "transformSchema"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The resource config for the data model, configured as a part of the Amplify project.</p>"
            }
        },
        "com.amazonaws.amplifybackend#BackendAuthAppleProviderConfig": {
            "type": "structure",
            "members": {
                "ClientId": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the client_id (also called Services ID) that comes from Apple.</p>",
                        "smithy.api#jsonName": "client_id"
                    }
                },
                "KeyId": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the key_id that comes from Apple.</p>",
                        "smithy.api#jsonName": "key_id"
                    }
                },
                "PrivateKey": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the private_key that comes from Apple.</p>",
                        "smithy.api#jsonName": "private_key"
                    }
                },
                "TeamId": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the team_id that comes from Apple.</p>",
                        "smithy.api#jsonName": "team_id"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes Apple social federation configurations for allowing your app users to sign in using OAuth.</p>"
            }
        },
        "com.amazonaws.amplifybackend#BackendAuthSocialProviderConfig": {
            "type": "structure",
            "members": {
                "ClientId": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the client_id, which can be obtained from the third-party social federation provider.</p>",
                        "smithy.api#jsonName": "client_id"
                    }
                },
                "ClientSecret": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the client_secret, which can be obtained from third-party social federation providers.</p>",
                        "smithy.api#jsonName": "client_secret"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes third-party social federation configurations for allowing your app users to sign in using OAuth.</p>"
            }
        },
        "com.amazonaws.amplifybackend#BackendJobRespObj": {
            "type": "structure",
            "members": {
                "AppId": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The app ID.</p>",
                        "smithy.api#jsonName": "appId",
                        "smithy.api#required": {}
                    }
                },
                "BackendEnvironmentName": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the backend environment.</p>",
                        "smithy.api#jsonName": "backendEnvironmentName",
                        "smithy.api#required": {}
                    }
                },
                "CreateTime": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the job was created.</p>",
                        "smithy.api#jsonName": "createTime"
                    }
                },
                "Error": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>If the request fails, this error is returned.</p>",
                        "smithy.api#jsonName": "error"
                    }
                },
                "JobId": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID for the job.</p>",
                        "smithy.api#jsonName": "jobId"
                    }
                },
                "Operation": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the operation.</p>",
                        "smithy.api#jsonName": "operation"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the request.</p>",
                        "smithy.api#jsonName": "status"
                    }
                },
                "UpdateTime": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the job was last updated.</p>",
                        "smithy.api#jsonName": "updateTime"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The response object for this operation.</p>"
            }
        },
        "com.amazonaws.amplifybackend#BackendStoragePermissions": {
            "type": "structure",
            "members": {
                "Authenticated": {
                    "target": "com.amazonaws.amplifybackend#ListOfAuthenticatedElement",
                    "traits": {
                        "smithy.api#documentation": "<p>Lists all authenticated user read, write, and delete permissions for your S3 bucket.</p>",
                        "smithy.api#jsonName": "authenticated",
                        "smithy.api#required": {}
                    }
                },
                "UnAuthenticated": {
                    "target": "com.amazonaws.amplifybackend#ListOfUnAuthenticatedElement",
                    "traits": {
                        "smithy.api#documentation": "<p>Lists all unauthenticated user read, write, and delete permissions for your S3 bucket.</p>",
                        "smithy.api#jsonName": "unAuthenticated"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the read, write, and delete permissions users have against your storage S3 bucket.</p>"
            }
        },
        "com.amazonaws.amplifybackend#BadRequestException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>An error message to inform that the request failed.</p>",
                        "smithy.api#jsonName": "message"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An error returned if a request is not formed properly.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.amplifybackend#CloneBackend": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.amplifybackend#CloneBackendRequest"
            },
            "output": {
                "target": "com.amazonaws.amplifybackend#CloneBackendResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.amplifybackend#BadRequestException"
                },
                {
                    "target": "com.amazonaws.amplifybackend#GatewayTimeoutException"
                },
                {
                    "target": "com.amazonaws.amplifybackend#NotFoundException"
                },
                {
                    "target": "com.amazonaws.amplifybackend#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>This operation clones an existing backend.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/backend/{AppId}/environments/{BackendEnvironmentName}/clone",
                    "code": 200
                }
            }
        },
        "com.amazonaws.amplifybackend#CloneBackendRequest": {
            "type": "structure",
            "members": {
                "AppId": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The app ID.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "BackendEnvironmentName": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the backend environment.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "TargetEnvironmentName": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the destination backend environment to be created.</p>",
                        "smithy.api#jsonName": "targetEnvironmentName",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request body for CloneBackend.</p>"
            }
        },
        "com.amazonaws.amplifybackend#CloneBackendResponse": {
            "type": "structure",
            "members": {
                "AppId": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The app ID.</p>",
                        "smithy.api#jsonName": "appId"
                    }
                },
                "BackendEnvironmentName": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the backend environment.</p>",
                        "smithy.api#jsonName": "backendEnvironmentName"
                    }
                },
                "Error": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>If the request fails, this error is returned.</p>",
                        "smithy.api#jsonName": "error"
                    }
                },
                "JobId": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID for the job.</p>",
                        "smithy.api#jsonName": "jobId"
                    }
                },
                "Operation": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the operation.</p>",
                        "smithy.api#jsonName": "operation"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the request.</p>",
                        "smithy.api#jsonName": "status"
                    }
                }
            }
        },
        "com.amazonaws.amplifybackend#CreateBackend": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.amplifybackend#CreateBackendRequest"
            },
            "output": {
                "target": "com.amazonaws.amplifybackend#CreateBackendResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.amplifybackend#BadRequestException"
                },
                {
                    "target": "com.amazonaws.amplifybackend#GatewayTimeoutException"
                },
                {
                    "target": "com.amazonaws.amplifybackend#NotFoundException"
                },
                {
                    "target": "com.amazonaws.amplifybackend#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>This operation creates a backend for an Amplify app. Backends are automatically created at the time of app creation.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/backend",
                    "code": 200
                }
            }
        },
        "com.amazonaws.amplifybackend#CreateBackendAPI": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.amplifybackend#CreateBackendAPIRequest"
            },
            "output": {
                "target": "com.amazonaws.amplifybackend#CreateBackendAPIResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.amplifybackend#BadRequestException"
                },
                {
                    "target": "com.amazonaws.amplifybackend#GatewayTimeoutException"
                },
                {
                    "target": "com.amazonaws.amplifybackend#NotFoundException"
                },
                {
                    "target": "com.amazonaws.amplifybackend#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new backend API resource.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/backend/{AppId}/api",
                    "code": 200
                }
            }
        },
        "com.amazonaws.amplifybackend#CreateBackendAPIRequest": {
            "type": "structure",
            "members": {
                "AppId": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The app ID.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "BackendEnvironmentName": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the backend environment.</p>",
                        "smithy.api#jsonName": "backendEnvironmentName",
                        "smithy.api#required": {}
                    }
                },
                "ResourceConfig": {
                    "target": "com.amazonaws.amplifybackend#BackendAPIResourceConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource configuration for this request.</p>",
                        "smithy.api#jsonName": "resourceConfig",
                        "smithy.api#required": {}
                    }
                },
                "ResourceName": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of this resource.</p>",
                        "smithy.api#jsonName": "resourceName",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request body for CreateBackendAPI.</p>"
            }
        },
        "com.amazonaws.amplifybackend#CreateBackendAPIResponse": {
            "type": "structure",
            "members": {
                "AppId": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The app ID.</p>",
                        "smithy.api#jsonName": "appId"
                    }
                },
                "BackendEnvironmentName": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the backend environment.</p>",
                        "smithy.api#jsonName": "backendEnvironmentName"
                    }
                },
                "Error": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>If the request fails, this error is returned.</p>",
                        "smithy.api#jsonName": "error"
                    }
                },
                "JobId": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID for the job.</p>",
                        "smithy.api#jsonName": "jobId"
                    }
                },
                "Operation": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the operation.</p>",
                        "smithy.api#jsonName": "operation"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.amplifybackend#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the request.</p>",
                        "smithy.api#jsonName": "status"
                    }
                }
            }
        },
        "com.amazonaws.amplifybackend#CreateBackendAuth": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.amplifybackend#CreateBackendAuthRequest"
            },
            "output": {
                "target": "com.amazonaws.amplifybackend#CreateBackendAuthResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.amplifybackend#BadRequestException"
                },
                {
                    "target": "com.amazonaws.amplifybackend#GatewayTimeoutException"
                },
                {
                    "target": "com.amazonaws.amplifybackend#NotFoundException"
                },
                {
                    "target": "com.amazonaws.amplifybackend#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new backend authentication resource.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/backend/{AppId}/auth",
                    "code": 200
                }
            }
        },
        "com.amazonaws.amplifybackend#CreateBackendAuthForgotPasswordConfig": {
            "type": "structure",
            "members": {
                "DeliveryMethod": {
                    "target": "com.amazonaws.amplifybackend#DeliveryMethod",
                    "traits": {
                        "smithy.api#documentation": "<p><b>(DEPRECATED)</b> Describes which mode to use (either SMS or email) to deliver messages to app users who want to recover their password.</p>",
                        "smithy.api#jsonName": "deliveryMethod",
                        "smithy.api#required": {}
                    }
                },
                "EmailSettings": {
                    "target": "com.amazonaws.amplifybackend#EmailSettings",
                    "traits": {
                        "smithy.api#documentation": "<p><b>(DEPRECATED)</b> The configuration for the email sent when an app user forgets their password.</p>",
                        "smithy.api#jsonName": "emailSettings"
                    }
                },
                "SmsSettings": {
[...]
