{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.apigateway#AccessLogSettings": {
            "type": "structure",
            "members": {
                "format": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A single line format of the access logs of data, as specified by selected $context variables. The format must include at least <code>$context.requestId</code>.</p>"
                    }
                },
                "destinationArn": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CloudWatch Logs log group or Kinesis Data Firehose delivery stream to receive access logs. If you specify a Kinesis Data Firehose delivery stream, the stream name must begin with <code>amazon-apigateway-</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Access log settings, including the access log format and access log destination ARN.</p>"
            }
        },
        "com.amazonaws.apigateway#Account": {
            "type": "structure",
            "members": {
                "cloudwatchRoleArn": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of an Amazon CloudWatch role for the current Account. </p>"
                    }
                },
                "throttleSettings": {
                    "target": "com.amazonaws.apigateway#ThrottleSettings",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the API request limits configured for the current Account.</p>"
                    }
                },
                "features": {
                    "target": "com.amazonaws.apigateway#ListOfString",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of features supported for the account. When usage plans are enabled, the features list will include an entry of <code>\"UsagePlans\"</code>.</p>"
                    }
                },
                "apiKeyVersion": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the API keys used for the account.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents an AWS account that is associated with API Gateway.</p>"
            }
        },
        "com.amazonaws.apigateway#ApiKey": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the API Key.</p>"
                    }
                },
                "value": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the API Key.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the API Key.</p>"
                    }
                },
                "customerId": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>An AWS Marketplace customer identifier , when integrating with the AWS SaaS Marketplace.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the API Key.</p>"
                    }
                },
                "enabled": {
                    "target": "com.amazonaws.apigateway#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Specifies whether the API Key can be used by callers.</p>"
                    }
                },
                "createdDate": {
                    "target": "com.amazonaws.apigateway#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the API Key was created.</p>"
                    }
                },
                "lastUpdatedDate": {
                    "target": "com.amazonaws.apigateway#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the API Key was last updated.</p>"
                    }
                },
                "stageKeys": {
                    "target": "com.amazonaws.apigateway#ListOfString",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of Stage resources that are associated with the ApiKey resource.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.apigateway#MapOfStringToString",
                    "traits": {
                        "smithy.api#documentation": "<p>The collection of tags. Each tag element is associated with a given resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A resource that can be distributed to callers for executing Method resources that require an API key. API keys can be mapped to any Stage on any RestApi, which indicates that the callers with the API key can make requests to that stage.</p>"
            }
        },
        "com.amazonaws.apigateway#ApiKeyIds": {
            "type": "structure",
            "members": {
                "ids": {
                    "target": "com.amazonaws.apigateway#ListOfString",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of all the ApiKey identifiers.</p>"
                    }
                },
                "warnings": {
                    "target": "com.amazonaws.apigateway#ListOfString",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of warning messages.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The identifier of an ApiKey used in a UsagePlan.</p>"
            }
        },
        "com.amazonaws.apigateway#ApiKeySourceType": {
            "type": "enum",
            "members": {
                "HEADER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HEADER"
                    }
                },
                "AUTHORIZER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AUTHORIZER"
                    }
                }
            }
        },
        "com.amazonaws.apigateway#ApiKeys": {
            "type": "structure",
            "members": {
                "warnings": {
                    "target": "com.amazonaws.apigateway#ListOfString",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of warning messages logged during the import of API keys when the <code>failOnWarnings</code> option is set to true.</p>"
                    }
                },
                "items": {
                    "target": "com.amazonaws.apigateway#ListOfApiKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The current page of elements from this collection.</p>",
                        "smithy.api#jsonName": "item"
                    }
                },
                "position": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The current pagination position in the paged result set.</p>",
                        "smithy.api#httpQuery": "position"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents a collection of API keys as represented by an ApiKeys resource.</p>"
            }
        },
        "com.amazonaws.apigateway#ApiKeysFormat": {
            "type": "enum",
            "members": {
                "csv": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "csv"
                    }
                }
            }
        },
        "com.amazonaws.apigateway#ApiStage": {
            "type": "structure",
            "members": {
                "apiId": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>API Id of the associated API stage in a usage plan.</p>"
                    }
                },
                "stage": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>API stage name of the associated API stage in a usage plan.</p>"
                    }
                },
                "throttle": {
                    "target": "com.amazonaws.apigateway#MapOfApiStageThrottleSettings",
                    "traits": {
                        "smithy.api#documentation": "<p>Map containing method level throttling information for API stage in a usage plan.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>API stage name of the associated API stage in a usage plan.</p>"
            }
        },
        "com.amazonaws.apigateway#Authorizer": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier for the authorizer resource.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the authorizer.</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.apigateway#AuthorizerType",
                    "traits": {
                        "smithy.api#documentation": "<p>The authorizer type. Valid values are <code>TOKEN</code> for a Lambda function using a single authorization token submitted in a custom header, <code>REQUEST</code> for a Lambda function using incoming request parameters, and <code>COGNITO_USER_POOLS</code> for using an Amazon Cognito user pool.</p>"
                    }
                },
                "providerARNs": {
                    "target": "com.amazonaws.apigateway#ListOfARNs",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of the Amazon Cognito user pool ARNs for the <code>COGNITO_USER_POOLS</code> authorizer. Each element is of this format: <code>arn:aws:cognito-idp:{region}:{account_id}:userpool/{user_pool_id}</code>. For a <code>TOKEN</code> or <code>REQUEST</code> authorizer, this is not defined. </p>"
                    }
                },
                "authType": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional customer-defined field, used in OpenAPI imports and exports without functional impact.</p>"
                    }
                },
                "authorizerUri": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the authorizer's Uniform Resource Identifier (URI). For <code>TOKEN</code> or <code>REQUEST</code> authorizers, this must be a well-formed Lambda function URI, for example, <code>arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations</code>. In general, the URI has this form  <code>arn:aws:apigateway:{region}:lambda:path/{service_api}</code>, where <code>{region}</code> is the same as the region hosting the Lambda function, <code>path</code> indicates that the remaining substring in the URI should be treated as the path to the resource, including the initial <code>/</code>. For Lambda functions, this is usually of the form <code>/2015-03-31/functions/[FunctionARN]/invocations</code>.</p>"
                    }
                },
                "authorizerCredentials": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the required credentials as an IAM role for API Gateway to invoke the authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To use resource-based permissions on the Lambda function, specify null.</p>"
                    }
                },
                "identitySource": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identity source for which authorization is requested. For a <code>TOKEN</code> or\n        <code>COGNITO_USER_POOLS</code> authorizer, this is required and specifies the request\n      header mapping expression for the custom header holding the authorization token submitted by\n      the client. For example, if the token header name is <code>Auth</code>, the header mapping expression is\n      <code>method.request.header.Auth</code>. For the <code>REQUEST</code> authorizer, this is required when authorization\n      caching is enabled. The value is a comma-separated string of one or more mapping expressions\n      of the specified request parameters. For example, if an <code>Auth</code> header, a <code>Name</code> query string\n      parameter are defined as identity sources, this value is <code>method.request.header.Auth</code>,\n      <code>method.request.querystring.Name</code>. These parameters will be used to derive the authorization\n      caching key and to perform runtime validation of the <code>REQUEST</code> authorizer by verifying all of\n      the identity-related request parameters are present, not null and non-empty. Only when this is\n      true does the authorizer invoke the authorizer Lambda function, otherwise, it returns a 401\n      Unauthorized response without calling the Lambda function. The valid value is a string of\n      comma-separated mapping expressions of the specified request parameters. When the\n      authorization caching is not enabled, this property is optional. </p>"
                    }
                },
                "identityValidationExpression": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A validation expression for the incoming identity token. For <code>TOKEN</code> authorizers, this value is a regular expression. For <code>COGNITO_USER_POOLS</code> authorizers, API Gateway will match the <code>aud</code> field of the incoming token from the client against the specified regular expression. It will invoke the authorizer's Lambda function when there is a match. Otherwise, it will return a 401 Unauthorized response without calling the Lambda function. The validation expression does not apply to the <code>REQUEST</code> authorizer.</p>"
                    }
                },
                "authorizerResultTtlInSeconds": {
                    "target": "com.amazonaws.apigateway#NullableInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The TTL in seconds of cached authorizer results. If it equals 0, authorization caching is disabled. If it is greater than 0, API Gateway will cache authorizer responses. If this field is not set, the default value is 300. The maximum value is 3600, or 1 hour.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents an authorization layer for methods. If enabled on a method, API Gateway will activate the authorizer when a client calls the method.</p>"
            }
        },
        "com.amazonaws.apigateway#AuthorizerType": {
            "type": "enum",
            "members": {
                "TOKEN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TOKEN"
                    }
                },
                "REQUEST": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REQUEST"
                    }
                },
                "COGNITO_USER_POOLS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COGNITO_USER_POOLS"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The authorizer type. Valid values are <code>TOKEN</code> for a Lambda function using a single authorization token submitted in a custom header, <code>REQUEST</code> for a Lambda function using incoming request parameters, and <code>COGNITO_USER_POOLS</code> for using an Amazon Cognito user pool.</p>"
            }
        },
        "com.amazonaws.apigateway#Authorizers": {
            "type": "structure",
            "members": {
                "items": {
                    "target": "com.amazonaws.apigateway#ListOfAuthorizer",
                    "traits": {
                        "smithy.api#documentation": "<p>The current page of elements from this collection.</p>",
                        "smithy.api#jsonName": "item"
                    }
                },
                "position": {
                    "target": "com.amazonaws.apigateway#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The current pagination position in the paged result set.</p>",
                        "smithy.api#httpQuery": "position"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents a collection of Authorizer resources.</p>"
            }
        },
        "com.amazonaws.apigateway#BackplaneControlService": {
            "type": "service",
            "version": "2015-07-09",
            "operations": [
                {
                    "target": "com.amazonaws.apigateway#CreateApiKey"
                },
                {
                    "target": "com.amazonaws.apigateway#CreateAuthorizer"
                },
                {
                    "target": "com.amazonaws.apigateway#CreateBasePathMapping"
                },
                {
                    "target": "com.amazonaws.apigateway#CreateDeployment"
                },
                {
                    "target": "com.amazonaws.apigateway#CreateDocumentationPart"
                },
                {
                    "target": "com.amazonaws.apigateway#CreateDocumentationVersion"
                },
                {
                    "target": "com.amazonaws.apigateway#CreateDomainName"
                },
                {
                    "target": "com.amazonaws.apigateway#CreateModel"
                },
                {
                    "target": "com.amazonaws.apigateway#CreateRequestValidator"
                },
                {
                    "target": "com.amazonaws.apigateway#CreateResource"
                },
                {
                    "target": "com.amazonaws.apigateway#CreateRestApi"
                },
                {
                    "target": "com.amazonaws.apigateway#CreateStage"
                },
                {
                    "target": "com.amazonaws.apigateway#CreateUsagePlan"
                },
                {
                    "target": "com.amazonaws.apigateway#CreateUsagePlanKey"
                },
                {
                    "target": "com.amazonaws.apigateway#CreateVpcLink"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteApiKey"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteAuthorizer"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteBasePathMapping"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteClientCertificate"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteDeployment"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteDocumentationPart"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteDocumentationVersion"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteDomainName"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteGatewayResponse"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteIntegration"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteIntegrationResponse"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteMethod"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteMethodResponse"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteModel"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteRequestValidator"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteResource"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteRestApi"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteStage"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteUsagePlan"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteUsagePlanKey"
                },
                {
                    "target": "com.amazonaws.apigateway#DeleteVpcLink"
                },
                {
                    "target": "com.amazonaws.apigateway#FlushStageAuthorizersCache"
                },
                {
                    "target": "com.amazonaws.apigateway#FlushStageCache"
                },
                {
                    "target": "com.amazonaws.apigateway#GenerateClientCertificate"
                },
                {
                    "target": "com.amazonaws.apigateway#GetAccount"
                },
                {
                    "target": "com.amazonaws.apigateway#GetApiKey"
                },
                {
                    "target": "com.amazonaws.apigateway#GetApiKeys"
                },
                {
                    "target": "com.amazonaws.apigateway#GetAuthorizer"
                },
                {
                    "target": "com.amazonaws.apigateway#GetAuthorizers"
                },
                {
                    "target": "com.amazonaws.apigateway#GetBasePathMapping"
                },
                {
                    "target": "com.amazonaws.apigateway#GetBasePathMappings"
                },
                {
                    "target": "com.amazonaws.apigateway#GetClientCertificate"
                },
                {
                    "target": "com.amazonaws.apigateway#GetClientCertificates"
                },
                {
                    "target": "com.amazonaws.apigateway#GetDeployment"
                },
                {
                    "target": "com.amazonaws.apigateway#GetDeployments"
                },
                {
                    "target": "com.amazonaws.apigateway#GetDocumentationPart"
                },
                {
                    "target": "com.amazonaws.apigateway#GetDocumentationParts"
                },
                {
                    "target": "com.amazonaws.apigateway#GetDocumentationVersion"
                },
                {
                    "target": "com.amazonaws.apigateway#GetDocumentationVersions"
                },
                {
                    "target": "com.amazonaws.apigateway#GetDomainName"
                },
                {
                    "target": "com.amazonaws.apigateway#GetDomainNames"
                },
                {
                    "target": "com.amazonaws.apigateway#GetExport"
                },
                {
                    "target": "com.amazonaws.apigateway#GetGatewayResponse"
                },
                {
                    "target": "com.amazonaws.apigateway#GetGatewayResponses"
                },
                {
                    "target": "com.amazonaws.apigateway#GetIntegration"
                },
                {
                    "target": "com.amazonaws.apigateway#GetIntegrationResponse"
                },
                {
                    "target": "com.amazonaws.apigateway#GetMethod"
                },
                {
                    "target": "com.amazonaws.apigateway#GetMethodResponse"
                },
                {
                    "target": "com.amazonaws.apigateway#GetModel"
                },
                {
                    "target": "com.amazonaws.apigateway#GetModels"
                },
                {
                    "target": "com.amazonaws.apigateway#GetModelTemplate"
                },
                {
                    "target": "com.amazonaws.apigateway#GetRequestValidator"
                },
                {
                    "target": "com.amazonaws.apigateway#GetRequestValidators"
                },
                {
                    "target": "com.amazonaws.apigateway#GetResource"
                },
                {
                    "target": "com.amazonaws.apigateway#GetResources"
                },
                {
                    "target": "com.amazonaws.apigateway#GetRestApi"
                },
                {
                    "target": "com.amazonaws.apigateway#GetRestApis"
                },
                {
                    "target": "com.amazonaws.apigateway#GetSdk"
                },
                {
                    "target": "com.amazonaws.apigateway#GetSdkType"
                },
                {
                    "target": "com.amazonaws.apigateway#GetSdkTypes"
                },
                {
                    "target": "com.amazonaws.apigateway#GetStage"
                },
                {
                    "target": "com.amazonaws.apigateway#GetStages"
                },
                {
                    "target": "com.amazonaws.apigateway#GetTags"
                },
                {
                    "target": "com.amazonaws.apigateway#GetUsage"
                },
                {
                    "target": "com.amazonaws.apigateway#GetUsagePlan"
                },
                {
                    "target": "com.amazonaws.apigateway#GetUsagePlanKey"
                },
                {
                    "target": "com.amazonaws.apigateway#GetUsagePlanKeys"
                },
                {
                    "target": "com.amazonaws.apigateway#GetUsagePlans"
                },
                {
                    "target": "com.amazonaws.apigateway#GetVpcLink"
                },
                {
                    "target": "com.amazonaws.apigateway#GetVpcLinks"
                },
                {
                    "target": "com.amazonaws.apigateway#ImportApiKeys"
                },
                {
                    "target": "com.amazonaws.apigateway#ImportDocumentationParts"
                },
                {
                    "target": "com.amazonaws.apigateway#ImportRestApi"
                },
                {
                    "target": "com.amazonaws.apigateway#PutGatewayResponse"
                },
                {
                    "target": "com.amazonaws.apigateway#PutIntegration"
                },
                {
                    "target": "com.amazonaws.apigateway#PutIntegrationResponse"
                },
                {
                    "target": "com.amazonaws.apigateway#PutMethod"
                },
                {
                    "target": "com.amazonaws.apigateway#PutMethodResponse"
                },
                {
                    "target": "com.amazonaws.apigateway#PutRestApi"
                },
                {
                    "target": "com.amazonaws.apigateway#TagResource"
                },
                {
                    "target": "com.amazonaws.apigateway#TestInvokeAuthorizer"
                },
                {
                    "target": "com.amazonaws.apigateway#TestInvokeMethod"
                },
                {
                    "target": "com.amazonaws.apigateway#UntagResource"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateAccount"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateApiKey"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateAuthorizer"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateBasePathMapping"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateClientCertificate"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateDeployment"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateDocumentationPart"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateDocumentationVersion"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateDomainName"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateGatewayResponse"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateIntegration"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateIntegrationResponse"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateMethod"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateMethodResponse"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateModel"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateRequestValidator"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateResource"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateRestApi"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateStage"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateUsage"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateUsagePlan"
                },
                {
                    "target": "com.amazonaws.apigateway#UpdateVpcLink"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "API Gateway",
                    "arnNamespace": "apigateway",
                    "cloudFormationName": "ApiGateway",
                    "cloudTrailEventSource": "apigateway.amazonaws.com",
                    "endpointPrefix": "apigateway"
                },
                "aws.auth#sigv4": {
                    "name": "apigateway"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<fullname>Amazon API Gateway</fullname>\n         <p>Amazon API Gateway helps developers deliver robust, secure, and scalable mobile and web application back ends. API Gateway allows developers to securely connect mobile and web applications to APIs that run on AWS Lambda, Amazon EC2, or other publicly addressable web services that are hosted outside of AWS.</p>",
                "smithy.api#title": "Amazon API Gateway",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": true,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "aws.partition",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ],
                                    "assign": "PartitionResult"
                                }
                            ],
                            "type": "tree",
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Endpoint"
                                                }
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                                    "type": "error"
                                                },
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": {
                                                            "ref": "Endpoint"
                                                        },
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        },
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsFIPS"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsDualStack"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://apigateway-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsFIPS"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "type": "tree",
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://apigateway-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsDualStack"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://apigateway.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": "https://apigateway.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ]
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ap-south-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.ap-south-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-south-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-south-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.ap-south-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-south-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.ap-south-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-south-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-south-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.ap-south-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-south-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.ap-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-south-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-south-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.ap-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-south-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-south-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-south-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-south-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-south-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-south-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-south-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-south-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-south-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-south-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-south-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-south-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-south-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-south-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-south-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-south-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-gov-east-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-gov-east-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-gov-east-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-gov-east-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.me-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "me-central-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.me-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "me-central-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.me-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "me-central-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.me-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "me-central-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.ca-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ca-central-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ca-central-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.ca-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ca-central-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ca-central-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-central-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-central-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-central-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-central-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-central-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-central-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-central-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-central-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-central-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-central-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-central-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-central-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-central-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-central-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.us-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-west-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-west-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.us-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-west-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-west-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.us-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-west-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-west-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.us-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-west-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-west-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.af-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "af-south-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "af-south-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.af-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "af-south-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "af-south-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-north-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-north-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-north-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-north-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-north-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-north-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-west-3.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-west-3",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-west-3",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-west-3.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-west-3",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-west-3",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-west-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-west-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-west-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-west-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-west-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-west-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-west-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-west-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.ap-northeast-3.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-northeast-3",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-northeast-3",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.ap-northeast-3.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-northeast-3",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-northeast-3",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.ap-northeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-northeast-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-northeast-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.ap-northeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-northeast-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-northeast-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.ap-northeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-northeast-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway-fips.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-northeast-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://apigateway.ap-northeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-northeast-1",
                                "UseDualStack": true
                            }
                        },
                        {
[...]
