{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.appsync#AWSDeepdishControlPlaneService": {
            "type": "service",
            "version": "2017-07-25",
            "operations": [
                {
                    "target": "com.amazonaws.appsync#AssociateApi"
                },
                {
                    "target": "com.amazonaws.appsync#AssociateMergedGraphqlApi"
                },
                {
                    "target": "com.amazonaws.appsync#AssociateSourceGraphqlApi"
                },
                {
                    "target": "com.amazonaws.appsync#CreateApiCache"
                },
                {
                    "target": "com.amazonaws.appsync#CreateApiKey"
                },
                {
                    "target": "com.amazonaws.appsync#CreateDataSource"
                },
                {
                    "target": "com.amazonaws.appsync#CreateDomainName"
                },
                {
                    "target": "com.amazonaws.appsync#CreateFunction"
                },
                {
                    "target": "com.amazonaws.appsync#CreateGraphqlApi"
                },
                {
                    "target": "com.amazonaws.appsync#CreateResolver"
                },
                {
                    "target": "com.amazonaws.appsync#CreateType"
                },
                {
                    "target": "com.amazonaws.appsync#DeleteApiCache"
                },
                {
                    "target": "com.amazonaws.appsync#DeleteApiKey"
                },
                {
                    "target": "com.amazonaws.appsync#DeleteDataSource"
                },
                {
                    "target": "com.amazonaws.appsync#DeleteDomainName"
                },
                {
                    "target": "com.amazonaws.appsync#DeleteFunction"
                },
                {
                    "target": "com.amazonaws.appsync#DeleteGraphqlApi"
                },
                {
                    "target": "com.amazonaws.appsync#DeleteResolver"
                },
                {
                    "target": "com.amazonaws.appsync#DeleteType"
                },
                {
                    "target": "com.amazonaws.appsync#DisassociateApi"
                },
                {
                    "target": "com.amazonaws.appsync#DisassociateMergedGraphqlApi"
                },
                {
                    "target": "com.amazonaws.appsync#DisassociateSourceGraphqlApi"
                },
                {
                    "target": "com.amazonaws.appsync#EvaluateCode"
                },
                {
                    "target": "com.amazonaws.appsync#EvaluateMappingTemplate"
                },
                {
                    "target": "com.amazonaws.appsync#FlushApiCache"
                },
                {
                    "target": "com.amazonaws.appsync#GetApiAssociation"
                },
                {
                    "target": "com.amazonaws.appsync#GetApiCache"
                },
                {
                    "target": "com.amazonaws.appsync#GetDataSource"
                },
                {
                    "target": "com.amazonaws.appsync#GetDataSourceIntrospection"
                },
                {
                    "target": "com.amazonaws.appsync#GetDomainName"
                },
                {
                    "target": "com.amazonaws.appsync#GetFunction"
                },
                {
                    "target": "com.amazonaws.appsync#GetGraphqlApi"
                },
                {
                    "target": "com.amazonaws.appsync#GetGraphqlApiEnvironmentVariables"
                },
                {
                    "target": "com.amazonaws.appsync#GetIntrospectionSchema"
                },
                {
                    "target": "com.amazonaws.appsync#GetResolver"
                },
                {
                    "target": "com.amazonaws.appsync#GetSchemaCreationStatus"
                },
                {
                    "target": "com.amazonaws.appsync#GetSourceApiAssociation"
                },
                {
                    "target": "com.amazonaws.appsync#GetType"
                },
                {
                    "target": "com.amazonaws.appsync#ListApiKeys"
                },
                {
                    "target": "com.amazonaws.appsync#ListDataSources"
                },
                {
                    "target": "com.amazonaws.appsync#ListDomainNames"
                },
                {
                    "target": "com.amazonaws.appsync#ListFunctions"
                },
                {
                    "target": "com.amazonaws.appsync#ListGraphqlApis"
                },
                {
                    "target": "com.amazonaws.appsync#ListResolvers"
                },
                {
                    "target": "com.amazonaws.appsync#ListResolversByFunction"
                },
                {
                    "target": "com.amazonaws.appsync#ListSourceApiAssociations"
                },
                {
                    "target": "com.amazonaws.appsync#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.appsync#ListTypes"
                },
                {
                    "target": "com.amazonaws.appsync#ListTypesByAssociation"
                },
                {
                    "target": "com.amazonaws.appsync#PutGraphqlApiEnvironmentVariables"
                },
                {
                    "target": "com.amazonaws.appsync#StartDataSourceIntrospection"
                },
                {
                    "target": "com.amazonaws.appsync#StartSchemaCreation"
                },
                {
                    "target": "com.amazonaws.appsync#StartSchemaMerge"
                },
                {
                    "target": "com.amazonaws.appsync#TagResource"
                },
                {
                    "target": "com.amazonaws.appsync#UntagResource"
                },
                {
                    "target": "com.amazonaws.appsync#UpdateApiCache"
                },
                {
                    "target": "com.amazonaws.appsync#UpdateApiKey"
                },
                {
                    "target": "com.amazonaws.appsync#UpdateDataSource"
                },
                {
                    "target": "com.amazonaws.appsync#UpdateDomainName"
                },
                {
                    "target": "com.amazonaws.appsync#UpdateFunction"
                },
                {
                    "target": "com.amazonaws.appsync#UpdateGraphqlApi"
                },
                {
                    "target": "com.amazonaws.appsync#UpdateResolver"
                },
                {
                    "target": "com.amazonaws.appsync#UpdateSourceApiAssociation"
                },
                {
                    "target": "com.amazonaws.appsync#UpdateType"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "AppSync",
                    "arnNamespace": "appsync",
                    "cloudFormationName": "AppSync",
                    "cloudTrailEventSource": "appsync.amazonaws.com",
                    "endpointPrefix": "appsync"
                },
                "aws.auth#sigv4": {
                    "name": "appsync"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>AppSync provides API actions for creating and interacting with data sources using GraphQL\n         from your application.</p>",
                "smithy.api#title": "AWS AppSync",
                "smithy.api#xmlNamespace": {
                    "uri": "http://appsync.amazonaws.com"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://appsync-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://appsync-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://appsync.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://appsync.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "me-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.cn-northwest-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://appsync.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.appsync#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.appsync#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You don't have access to perform this operation on this resource.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.appsync#AdditionalAuthenticationProvider": {
            "type": "structure",
            "members": {
                "authenticationType": {
                    "target": "com.amazonaws.appsync#AuthenticationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The authentication type: API key, Identity and Access Management (IAM), OpenID Connect (OIDC),\n            Amazon Cognito user pools, or Lambda.</p>"
                    }
                },
                "openIDConnectConfig": {
                    "target": "com.amazonaws.appsync#OpenIDConnectConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The OIDC configuration.</p>"
                    }
                },
                "userPoolConfig": {
                    "target": "com.amazonaws.appsync#CognitoUserPoolConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Cognito user pool configuration.</p>"
                    }
                },
                "lambdaAuthorizerConfig": {
                    "target": "com.amazonaws.appsync#LambdaAuthorizerConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration for Lambda function authorization.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an additional authentication provider.</p>"
            }
        },
        "com.amazonaws.appsync#AdditionalAuthenticationProviders": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.appsync#AdditionalAuthenticationProvider"
            }
        },
        "com.amazonaws.appsync#ApiAssociation": {
            "type": "structure",
            "members": {
                "domainName": {
                    "target": "com.amazonaws.appsync#DomainName",
                    "traits": {
                        "smithy.api#documentation": "<p>The domain name.</p>"
                    }
                },
                "apiId": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The API ID.</p>"
                    }
                },
                "associationStatus": {
                    "target": "com.amazonaws.appsync#AssociationStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Identifies the status of an association.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>PROCESSING</b>: The API association is being created. You cannot\n               modify association requests during processing.</p>\n            </li>\n            <li>\n               <p>\n                  <b>SUCCESS</b>: The API association was successful. You can modify\n               associations after success.</p>\n            </li>\n            <li>\n               <p>\n                  <b>FAILED</b>: The API association has failed. You can modify\n               associations after failure.</p>\n            </li>\n         </ul>"
                    }
                },
                "deploymentDetail": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the last deployment status.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an <code>ApiAssociation</code> object.</p>"
            }
        },
        "com.amazonaws.appsync#ApiCache": {
            "type": "structure",
            "members": {
                "ttl": {
                    "target": "com.amazonaws.appsync#Long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>TTL in seconds for cache entries.</p>\n         <p>Valid values are 1–3,600 seconds.</p>"
                    }
                },
                "apiCachingBehavior": {
                    "target": "com.amazonaws.appsync#ApiCachingBehavior",
                    "traits": {
                        "smithy.api#documentation": "<p>Caching behavior.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>FULL_REQUEST_CACHING</b>: All requests are fully cached.</p>\n            </li>\n            <li>\n               <p>\n                  <b>PER_RESOLVER_CACHING</b>: Individual resolvers that you specify are\n               cached.</p>\n            </li>\n         </ul>"
                    }
                },
                "transitEncryptionEnabled": {
                    "target": "com.amazonaws.appsync#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Transit encryption flag when connecting to cache. You cannot update this setting after creation.</p>"
                    }
                },
                "atRestEncryptionEnabled": {
                    "target": "com.amazonaws.appsync#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>At-rest encryption flag for cache. You cannot update this setting after creation.</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.appsync#ApiCacheType",
                    "traits": {
                        "smithy.api#documentation": "<p>The cache instance type. Valid values are </p>\n         <ul>\n            <li>\n               <p>\n                  <code>SMALL</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>MEDIUM</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>XLARGE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE_2X</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE_4X</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE_8X</code> (not available in all regions)</p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE_12X</code>\n               </p>\n            </li>\n         </ul>\n         <p>Historically, instance types were identified by an EC2-style value. As of July 2020, this is deprecated, and the generic identifiers above should be used.</p>\n         <p>The following legacy instance types are available, but their use is discouraged:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>T2_SMALL</b>: A t2.small instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>T2_MEDIUM</b>: A t2.medium instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_LARGE</b>: A r4.large instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_XLARGE</b>: A r4.xlarge instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_2XLARGE</b>: A r4.2xlarge instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_4XLARGE</b>: A r4.4xlarge instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_8XLARGE</b>: A r4.8xlarge instance type.</p>\n            </li>\n         </ul>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.appsync#ApiCacheStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The cache instance status.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>AVAILABLE</b>: The instance is available for use.</p>\n            </li>\n            <li>\n               <p>\n                  <b>CREATING</b>: The instance is currently creating.</p>\n            </li>\n            <li>\n               <p>\n                  <b>DELETING</b>: The instance is currently deleting.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MODIFYING</b>: The instance is currently modifying.</p>\n            </li>\n            <li>\n               <p>\n                  <b>FAILED</b>: The instance has failed creation.</p>\n            </li>\n         </ul>"
                    }
                },
                "healthMetricsConfig": {
                    "target": "com.amazonaws.appsync#CacheHealthMetricsConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Controls how cache health metrics will be emitted to CloudWatch. Cache health metrics include:</p>\n         <ul>\n            <li>\n               <p>NetworkBandwidthOutAllowanceExceeded: The network packets dropped because the throughput exceeded\n               the aggregated bandwidth limit. This is useful for diagnosing bottlenecks in a cache\n               configuration.</p>\n            </li>\n            <li>\n               <p>EngineCPUUtilization: The CPU utilization (percentage) allocated to the Redis process. This is\n               useful for diagnosing bottlenecks in a cache configuration.</p>\n            </li>\n         </ul>\n         <p>Metrics will be recorded by API ID. You can set the value to <code>ENABLED</code> or\n         <code>DISABLED</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The <code>ApiCache</code> object.</p>"
            }
        },
        "com.amazonaws.appsync#ApiCacheStatus": {
            "type": "enum",
            "members": {
                "AVAILABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AVAILABLE"
                    }
                },
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "MODIFYING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MODIFYING"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.appsync#ApiCacheType": {
            "type": "enum",
            "members": {
                "T2_SMALL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "T2_SMALL"
                    }
                },
                "T2_MEDIUM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "T2_MEDIUM"
                    }
                },
                "R4_LARGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "R4_LARGE"
                    }
                },
                "R4_XLARGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "R4_XLARGE"
                    }
                },
                "R4_2XLARGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "R4_2XLARGE"
                    }
                },
                "R4_4XLARGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "R4_4XLARGE"
                    }
                },
                "R4_8XLARGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "R4_8XLARGE"
                    }
                },
                "SMALL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SMALL"
                    }
                },
                "MEDIUM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MEDIUM"
                    }
                },
                "LARGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LARGE"
                    }
                },
                "XLARGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "XLARGE"
                    }
                },
                "LARGE_2X": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LARGE_2X"
                    }
                },
                "LARGE_4X": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LARGE_4X"
                    }
                },
                "LARGE_8X": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LARGE_8X"
                    }
                },
                "LARGE_12X": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LARGE_12X"
                    }
                }
            }
        },
        "com.amazonaws.appsync#ApiCachingBehavior": {
            "type": "enum",
            "members": {
                "FULL_REQUEST_CACHING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FULL_REQUEST_CACHING"
                    }
                },
                "PER_RESOLVER_CACHING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PER_RESOLVER_CACHING"
                    }
                }
            }
        },
        "com.amazonaws.appsync#ApiKey": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The API key ID.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the purpose of the API key.</p>"
                    }
                },
                "expires": {
                    "target": "com.amazonaws.appsync#Long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down\n         to the nearest hour.</p>"
                    }
                },
                "deletes": {
                    "target": "com.amazonaws.appsync#Long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The time after which the API key is deleted. The date is represented as seconds since the epoch, rounded\n         down to the nearest hour.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an API key.</p>\n         <p>Customers invoke AppSync GraphQL API operations with API keys as an identity mechanism.\n         There are two key versions:</p>\n         <p>\n            <b>da1</b>: We introduced this version at launch in November 2017. These keys\n         always expire after 7 days. Amazon DynamoDB TTL manages key expiration. These keys ceased to be valid\n         after February 21, 2018, and they should no longer be used.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ListApiKeys</code> returns the expiration time in milliseconds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateApiKey</code> returns the expiration time in milliseconds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UpdateApiKey</code> is not available for this key version.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteApiKey</code> deletes the item from the table.</p>\n            </li>\n            <li>\n               <p>Expiration is stored in DynamoDB as milliseconds. This results in a bug where keys are\n               not automatically deleted because DynamoDB expects the TTL to be stored in seconds. As a\n               one-time action, we deleted these keys from the table on February 21, 2018.</p>\n            </li>\n         </ul>\n         <p>\n            <b>da2</b>: We introduced this version in February 2018 when AppSync added support to extend key expiration.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ListApiKeys</code> returns the expiration time and deletion time in seconds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateApiKey</code> returns the expiration time and deletion time in seconds and accepts a\n               user-provided expiration time in seconds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UpdateApiKey</code> returns the expiration time and and deletion time in seconds and accepts\n               a user-provided expiration time in seconds. Expired API keys are kept for 60 days after the expiration\n               time. You can update the key expiration time as long as the key isn't deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteApiKey</code> deletes the item from the table.</p>\n            </li>\n            <li>\n               <p>Expiration is stored in DynamoDB as seconds. After the expiration time, using the key to\n               authenticate will fail. However, you can reinstate the key before deletion.</p>\n            </li>\n            <li>\n               <p>Deletion is stored in DynamoDB as seconds. The key is deleted after deletion\n               time.</p>\n            </li>\n         </ul>"
            }
        },
        "com.amazonaws.appsync#ApiKeyLimitExceededException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.appsync#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The API key exceeded a limit. Try your request again.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.appsync#ApiKeyValidityOutOfBoundsException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.appsync#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The API key expiration must be set to a value between 1 and 365 days from creation (for\n            <code>CreateApiKey</code>) or from update (for <code>UpdateApiKey</code>).</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.appsync#ApiKeys": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.appsync#ApiKey"
            }
        },
        "com.amazonaws.appsync#ApiLimitExceededException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.appsync#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The GraphQL API exceeded a limit. Try your request again.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.appsync#AppSyncRuntime": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.appsync#RuntimeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>name</code> of the runtime to use. Currently, the only allowed value is\n         <code>APPSYNC_JS</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "runtimeVersion": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>version</code> of the runtime to use. Currently, the only allowed version is\n         <code>1.0.0</code>.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a runtime used by an Amazon Web Services AppSync pipeline resolver or Amazon Web Services AppSync\n         function. Specifies the name and version of the runtime to use. Note that if a runtime is specified, code must\n         also be specified.</p>"
            }
        },
        "com.amazonaws.appsync#AssociateApi": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appsync#AssociateApiRequest"
            },
            "output": {
                "target": "com.amazonaws.appsync#AssociateApiResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appsync#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.appsync#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appsync#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.appsync#NotFoundException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Maps an endpoint to your custom domain.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/domainnames/{domainName}/apiassociation",
                    "code": 200
                }
            }
        },
        "com.amazonaws.appsync#AssociateApiRequest": {
            "type": "structure",
            "members": {
                "domainName": {
                    "target": "com.amazonaws.appsync#DomainName",
                    "traits": {
                        "smithy.api#documentation": "<p>The domain name.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "apiId": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The API ID. Private APIs can not be associated with custom domains.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.appsync#AssociateApiResponse": {
            "type": "structure",
            "members": {
                "apiAssociation": {
                    "target": "com.amazonaws.appsync#ApiAssociation",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>ApiAssociation</code> object.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.appsync#AssociateMergedGraphqlApi": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appsync#AssociateMergedGraphqlApiRequest"
            },
            "output": {
                "target": "com.amazonaws.appsync#AssociateMergedGraphqlApiResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appsync#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appsync#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.appsync#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.appsync#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.appsync#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appsync#UnauthorizedException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an association between a Merged API and source API using the source API's identifier.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/sourceApis/{sourceApiIdentifier}/mergedApiAssociations",
                    "code": 200
                }
            }
        },
        "com.amazonaws.appsync#AssociateMergedGraphqlApiRequest": {
            "type": "structure",
            "members": {
                "sourceApiIdentifier": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the AppSync Source API. This is generated by the AppSync service. In most cases, source\n         APIs (especially in your account) only require the API ID value or ARN of the source API. However, source APIs\n         from other accounts (cross-account use cases) strictly require the full resource ARN of the source API.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "mergedApiIdentifier": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the AppSync Merged API. This is generated by the AppSync service. In most cases, Merged\n         APIs (especially in your account) only require the API ID value or ARN of the merged API. However, Merged APIs\n         in other accounts (cross-account use cases) strictly require the full resource ARN of the merged API.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The description field.</p>"
                    }
                },
                "sourceApiAssociationConfig": {
                    "target": "com.amazonaws.appsync#SourceApiAssociationConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>SourceApiAssociationConfig</code> object data.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.appsync#AssociateMergedGraphqlApiResponse": {
            "type": "structure",
            "members": {
                "sourceApiAssociation": {
                    "target": "com.amazonaws.appsync#SourceApiAssociation",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>SourceApiAssociation</code> object data.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.appsync#AssociateSourceGraphqlApi": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appsync#AssociateSourceGraphqlApiRequest"
            },
            "output": {
                "target": "com.amazonaws.appsync#AssociateSourceGraphqlApiResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appsync#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appsync#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.appsync#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.appsync#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.appsync#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appsync#UnauthorizedException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an association between a Merged API and source API using the Merged API's identifier.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/mergedApis/{mergedApiIdentifier}/sourceApiAssociations",
                    "code": 200
                }
            }
        },
        "com.amazonaws.appsync#AssociateSourceGraphqlApiRequest": {
            "type": "structure",
            "members": {
                "mergedApiIdentifier": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the AppSync Merged API. This is generated by the AppSync service. In most cases, Merged\n         APIs (especially in your account) only require the API ID value or ARN of the merged API. However, Merged APIs\n         in other accounts (cross-account use cases) strictly require the full resource ARN of the merged API.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "sourceApiIdentifier": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the AppSync Source API. This is generated by the AppSync service. In most cases, source\n         APIs (especially in your account) only require the API ID value or ARN of the source API. However, source APIs\n         from other accounts (cross-account use cases) strictly require the full resource ARN of the source API.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The description field.</p>"
                    }
                },
                "sourceApiAssociationConfig": {
                    "target": "com.amazonaws.appsync#SourceApiAssociationConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>SourceApiAssociationConfig</code> object data.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.appsync#AssociateSourceGraphqlApiResponse": {
            "type": "structure",
            "members": {
                "sourceApiAssociation": {
                    "target": "com.amazonaws.appsync#SourceApiAssociation",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>SourceApiAssociation</code> object data.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.appsync#AssociationStatus": {
            "type": "enum",
            "members": {
                "Processing": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PROCESSING"
                    }
                },
                "Failed": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "Success": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUCCESS"
                    }
                }
            }
        },
        "com.amazonaws.appsync#AuthenticationType": {
            "type": "enum",
            "members": {
                "API_KEY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "API_KEY"
                    }
                },
                "AWS_IAM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AWS_IAM"
                    }
                },
                "AMAZON_COGNITO_USER_POOLS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AMAZON_COGNITO_USER_POOLS"
                    }
                },
                "OPENID_CONNECT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OPENID_CONNECT"
                    }
                },
                "AWS_LAMBDA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AWS_LAMBDA"
                    }
                }
            }
        },
        "com.amazonaws.appsync#AuthorizationConfig": {
            "type": "structure",
            "members": {
                "authorizationType": {
                    "target": "com.amazonaws.appsync#AuthorizationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The authorization type that the HTTP endpoint requires.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>AWS_IAM</b>: The authorization type is Signature Version 4\n               (SigV4).</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "awsIamConfig": {
                    "target": "com.amazonaws.appsync#AwsIamConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The Identity and Access Management (IAM) settings.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The authorization configuration in case the HTTP endpoint requires authorization.</p>"
            }
        },
        "com.amazonaws.appsync#AuthorizationType": {
            "type": "enum",
            "members": {
                "AWS_IAM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AWS_IAM"
                    }
                }
            }
        },
        "com.amazonaws.appsync#AwsIamConfig": {
            "type": "structure",
            "members": {
                "signingRegion": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The signing Amazon Web Services Region for IAM authorization.</p>"
                    }
                },
                "signingServiceName": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The signing service name for IAM authorization.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Identity and Access Management (IAM) configuration.</p>"
            }
        },
        "com.amazonaws.appsync#BadRequestDetail": {
            "type": "structure",
            "members": {
                "codeErrors": {
                    "target": "com.amazonaws.appsync#CodeErrors",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the list of errors in the request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides further details for the reason behind the bad request. For reason type <code>CODE_ERROR</code>, the\n         detail will contain a list of code errors.</p>"
            }
        },
        "com.amazonaws.appsync#BadRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.appsync#ErrorMessage"
                },
                "reason": {
                    "target": "com.amazonaws.appsync#BadRequestReason"
                },
                "detail": {
                    "target": "com.amazonaws.appsync#BadRequestDetail"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the\n         field values, and then try again.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.appsync#BadRequestReason": {
            "type": "enum",
            "members": {
                "CODE_ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CODE_ERROR"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides context for the cause of the bad request. The only supported value is\n         <code>CODE_ERROR</code>.</p>"
            }
        },
        "com.amazonaws.appsync#Blob": {
            "type": "blob"
        },
        "com.amazonaws.appsync#Boolean": {
            "type": "boolean",
            "traits": {
                "smithy.api#default": false
            }
        },
        "com.amazonaws.appsync#BooleanValue": {
            "type": "boolean"
        },
        "com.amazonaws.appsync#CacheHealthMetricsConfig": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.appsync#CachingConfig": {
            "type": "structure",
            "members": {
                "ttl": {
                    "target": "com.amazonaws.appsync#Long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The TTL in seconds for a resolver that has caching activated.</p>\n         <p>Valid values are 1–3,600 seconds.</p>",
                        "smithy.api#required": {}
                    }
                },
                "cachingKeys": {
                    "target": "com.amazonaws.appsync#CachingKeys",
                    "traits": {
                        "smithy.api#documentation": "<p>The caching keys for a resolver that has caching activated.</p>\n         <p>Valid values are entries from the <code>$context.arguments</code>, <code>$context.source</code>, and\n            <code>$context.identity</code> maps.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The caching configuration for a resolver that has caching activated.</p>"
            }
        },
        "com.amazonaws.appsync#CachingKeys": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.appsync#String"
            }
        },
        "com.amazonaws.appsync#CertificateArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:[a-z-]*:(acm|iam):[a-z0-9-]*:\\d{12}:(certificate|server-certificate)/[0-9A-Za-z_/-]*$"
            }
        },
        "com.amazonaws.appsync#Code": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 32768
                }
            }
        },
        "com.amazonaws.appsync#CodeError": {
            "type": "structure",
            "members": {
                "errorType": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of code error. </p>\n         <p>Examples include, but aren't limited to: <code>LINT_ERROR</code>, <code>PARSER_ERROR</code>.</p>"
                    }
                },
                "value": {
                    "target": "com.amazonaws.appsync#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A user presentable error.</p>\n         <p>Examples include, but aren't limited to: <code>Parsing error: Unterminated string literal</code>.</p>"
                    }
                },
                "location": {
                    "target": "com.amazonaws.appsync#CodeErrorLocation",
                    "traits": {
[...]
