{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.auditmanager#AWSAccount": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.auditmanager#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the Amazon Web Services account. </p>"
                    }
                },
                "emailAddress": {
                    "target": "com.amazonaws.auditmanager#EmailAddress",
                    "traits": {
                        "smithy.api#documentation": "<p> The email address that's associated with the Amazon Web Services account. </p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.auditmanager#AccountName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the Amazon Web Services account. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The wrapper of Amazon Web Services account details, such as account ID or email address.\n      </p>"
            }
        },
        "com.amazonaws.auditmanager#AWSAccounts": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.auditmanager#AWSAccount"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 200
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.auditmanager#AWSService": {
            "type": "structure",
            "members": {
                "serviceName": {
                    "target": "com.amazonaws.auditmanager#AWSServiceName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the Amazon Web Services service. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> An Amazon Web Services service such as Amazon S3 or CloudTrail.\n      </p>\n         <p>For an example of how to find an Amazon Web Services service name and how to define it in\n         your assessment scope, see the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_GetServicesInScope.html#API_GetServicesInScope_Example_2\">Finding an Amazon Web Services service name to use in your assessment scope</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_GetServicesInScope.html#API_GetServicesInScope_Example_3\">Defining an Amazon Web Services service name in your assessment scope</a>\n               </p>\n            </li>\n         </ul>"
            }
        },
        "com.amazonaws.auditmanager#AWSServiceName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 40
                },
                "smithy.api#pattern": "^[a-zA-Z0-9-\\s().]+$"
            }
        },
        "com.amazonaws.auditmanager#AWSServices": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.auditmanager#AWSService"
            }
        },
        "com.amazonaws.auditmanager#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.auditmanager#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Your account isn't registered with Audit Manager. Check the delegated\n         administrator setup on the Audit Manager settings page, and try again. </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.auditmanager#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "^[0-9]{12}$"
            }
        },
        "com.amazonaws.auditmanager#AccountName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                },
                "smithy.api#pattern": "^[\\u0020-\\u007E]+$"
            }
        },
        "com.amazonaws.auditmanager#AccountStatus": {
            "type": "enum",
            "members": {
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "INACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INACTIVE"
                    }
                },
                "PENDING_ACTIVATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING_ACTIVATION"
                    }
                }
            }
        },
        "com.amazonaws.auditmanager#ActionEnum": {
            "type": "enum",
            "members": {
                "CREATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE"
                    }
                },
                "UPDATE_METADATA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_METADATA"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "INACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INACTIVE"
                    }
                },
                "DELETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE"
                    }
                },
                "UNDER_REVIEW": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNDER_REVIEW"
                    }
                },
                "REVIEWED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REVIEWED"
                    }
                },
                "IMPORT_EVIDENCE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IMPORT_EVIDENCE"
                    }
                }
            }
        },
        "com.amazonaws.auditmanager#ActionPlanInstructions": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1000
                },
                "smithy.api#pattern": "^[\\w\\W\\s\\S]*$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.auditmanager#ActionPlanTitle": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 300
                },
                "smithy.api#pattern": "^[\\w\\W\\s\\S]*$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.auditmanager#Assessment": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.auditmanager#AuditManagerArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the assessment. </p>"
                    }
                },
                "awsAccount": {
                    "target": "com.amazonaws.auditmanager#AWSAccount",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Web Services account that's associated with the assessment. </p>"
                    }
                },
                "metadata": {
                    "target": "com.amazonaws.auditmanager#AssessmentMetadata",
                    "traits": {
                        "smithy.api#documentation": "<p> The metadata for the assessment. </p>"
                    }
                },
                "framework": {
                    "target": "com.amazonaws.auditmanager#AssessmentFramework",
                    "traits": {
                        "smithy.api#documentation": "<p> The framework that the assessment was created from. </p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.auditmanager#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p> The tags that are associated with the assessment. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> An entity that defines the scope of audit evidence collected by Audit Manager.\n         An Audit Manager assessment is an implementation of an Audit Manager framework. </p>"
            }
        },
        "com.amazonaws.auditmanager#AssessmentControl": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the control. </p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.auditmanager#ControlName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the control. </p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.auditmanager#ControlDescription",
                    "traits": {
                        "smithy.api#deprecated": {
                            "since": "2025-05-19",
                            "message": "This data type will be deprecated on May 19, 2025. To view the assessment control description, use GetControl."
                        },
                        "smithy.api#documentation": "<p> The description of the control. </p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.auditmanager#ControlStatus",
                    "traits": {
                        "smithy.api#documentation": "<p> The status of the control. </p>"
                    }
                },
                "response": {
                    "target": "com.amazonaws.auditmanager#ControlResponse",
                    "traits": {
                        "smithy.api#documentation": "<p> The response of the control. </p>"
                    }
                },
                "comments": {
                    "target": "com.amazonaws.auditmanager#ControlComments",
                    "traits": {
                        "smithy.api#documentation": "<p> The list of comments that's attached to the control. </p>"
                    }
                },
                "evidenceSources": {
                    "target": "com.amazonaws.auditmanager#EvidenceSources",
                    "traits": {
                        "smithy.api#documentation": "<p> The list of data sources for the evidence. </p>"
                    }
                },
                "evidenceCount": {
                    "target": "com.amazonaws.auditmanager#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The amount of evidence that's collected for the control. </p>"
                    }
                },
                "assessmentReportEvidenceCount": {
                    "target": "com.amazonaws.auditmanager#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The amount of evidence in the assessment report. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The control entity that represents a standard control or a custom control in an Audit Manager assessment. </p>"
            }
        },
        "com.amazonaws.auditmanager#AssessmentControlSet": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.auditmanager#ControlSetId",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier of the control set in the assessment. This is the control set name in a\n         plain string format. </p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.auditmanager#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p> The description for the control set. </p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.auditmanager#ControlSetStatus",
                    "traits": {
                        "smithy.api#documentation": "<p> The current status of the control set. </p>"
                    }
                },
                "roles": {
                    "target": "com.amazonaws.auditmanager#Roles",
                    "traits": {
                        "smithy.api#documentation": "<p> The roles that are associated with the control set. </p>"
                    }
                },
                "controls": {
                    "target": "com.amazonaws.auditmanager#AssessmentControls",
                    "traits": {
                        "smithy.api#documentation": "<p> The list of controls that's contained with the control set. </p>"
                    }
                },
                "delegations": {
                    "target": "com.amazonaws.auditmanager#Delegations",
                    "traits": {
                        "smithy.api#documentation": "<p> The delegations that are associated with the control set. </p>"
                    }
                },
                "systemEvidenceCount": {
                    "target": "com.amazonaws.auditmanager#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The total number of evidence objects that are retrieved automatically for the control\n         set. </p>"
                    }
                },
                "manualEvidenceCount": {
                    "target": "com.amazonaws.auditmanager#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The total number of evidence objects that are uploaded manually to the control set.\n      </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Represents a set of controls in an Audit Manager assessment. </p>"
            }
        },
        "com.amazonaws.auditmanager#AssessmentControlSets": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.auditmanager#AssessmentControlSet"
            }
        },
        "com.amazonaws.auditmanager#AssessmentControls": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.auditmanager#AssessmentControl"
            }
        },
        "com.amazonaws.auditmanager#AssessmentDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1000
                },
                "smithy.api#pattern": "^[\\w\\W\\s\\S]*$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.auditmanager#AssessmentEvidenceFolder": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.auditmanager#AssessmentEvidenceFolderName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the evidence folder. </p>"
                    }
                },
                "date": {
                    "target": "com.amazonaws.auditmanager#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p> The date when the first evidence was added to the evidence folder. </p>"
                    }
                },
                "assessmentId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the assessment. </p>"
                    }
                },
                "controlSetId": {
                    "target": "com.amazonaws.auditmanager#ControlSetId",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the control set. </p>"
                    }
                },
                "controlId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The unique identifier for the control. </p>"
                    }
                },
                "id": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the folder that the evidence is stored in. </p>"
                    }
                },
                "dataSource": {
                    "target": "com.amazonaws.auditmanager#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Web Services service that the evidence was collected from. </p>"
                    }
                },
                "author": {
                    "target": "com.amazonaws.auditmanager#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the user who created the evidence folder. </p>"
                    }
                },
                "totalEvidence": {
                    "target": "com.amazonaws.auditmanager#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The total amount of evidence in the evidence folder. </p>"
                    }
                },
                "assessmentReportSelectionCount": {
                    "target": "com.amazonaws.auditmanager#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The total count of evidence that's included in the assessment report. </p>"
                    }
                },
                "controlName": {
                    "target": "com.amazonaws.auditmanager#ControlName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the control. </p>"
                    }
                },
                "evidenceResourcesIncludedCount": {
                    "target": "com.amazonaws.auditmanager#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The amount of evidence that's included in the evidence folder. </p>"
                    }
                },
                "evidenceByTypeConfigurationDataCount": {
                    "target": "com.amazonaws.auditmanager#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The number of evidence that falls under the configuration data category. This evidence\n         is collected from configuration snapshots of other Amazon Web Services services such as\n            Amazon EC2, Amazon S3, or IAM. </p>"
                    }
                },
                "evidenceByTypeManualCount": {
                    "target": "com.amazonaws.auditmanager#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The number of evidence that falls under the manual category. This evidence is imported\n         manually. </p>"
                    }
                },
                "evidenceByTypeComplianceCheckCount": {
                    "target": "com.amazonaws.auditmanager#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The number of evidence that falls under the compliance check category. This evidence is\n         collected from Config or Security Hub. </p>"
                    }
                },
                "evidenceByTypeComplianceCheckIssuesCount": {
                    "target": "com.amazonaws.auditmanager#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The total number of issues that were reported directly from Security Hub,\n            Config, or both. </p>"
                    }
                },
                "evidenceByTypeUserActivityCount": {
                    "target": "com.amazonaws.auditmanager#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The number of evidence that falls under the user activity category. This evidence is\n         collected from CloudTrail logs. </p>"
                    }
                },
                "evidenceAwsServiceSourceCount": {
                    "target": "com.amazonaws.auditmanager#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The total number of Amazon Web Services resources that were assessed to generate the\n         evidence. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The folder where Audit Manager stores evidence for an assessment. </p>"
            }
        },
        "com.amazonaws.auditmanager#AssessmentEvidenceFolderName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 300
                },
                "smithy.api#pattern": "^[\\w\\W\\s\\S]*$"
            }
        },
        "com.amazonaws.auditmanager#AssessmentEvidenceFolders": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.auditmanager#AssessmentEvidenceFolder"
            }
        },
        "com.amazonaws.auditmanager#AssessmentFramework": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The unique identifier for the framework. </p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.auditmanager#AuditManagerArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the framework. </p>"
                    }
                },
                "metadata": {
                    "target": "com.amazonaws.auditmanager#FrameworkMetadata"
                },
                "controlSets": {
                    "target": "com.amazonaws.auditmanager#AssessmentControlSets",
                    "traits": {
                        "smithy.api#documentation": "<p> The control sets that are associated with the framework. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The file used to structure and automate Audit Manager assessments for a given\n         compliance standard. </p>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.auditmanager#AssessmentFrameworkDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 200
                },
                "smithy.api#pattern": "^[\\w\\W\\s\\S]*$"
            }
        },
        "com.amazonaws.auditmanager#AssessmentFrameworkMetadata": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.auditmanager#AuditManagerArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the framework. </p>"
                    }
                },
                "id": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The unique identifier for the framework. </p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.auditmanager#FrameworkType",
                    "traits": {
                        "smithy.api#documentation": "<p> The framework type, such as a standard framework or a custom framework. </p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.auditmanager#FrameworkName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the framework. </p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.auditmanager#FrameworkDescription",
                    "traits": {
                        "smithy.api#documentation": "<p> The description of the framework. </p>"
                    }
                },
                "logo": {
                    "target": "com.amazonaws.auditmanager#Filename",
                    "traits": {
                        "smithy.api#documentation": "<p> The logo that's associated with the framework. </p>"
                    }
                },
                "complianceType": {
                    "target": "com.amazonaws.auditmanager#ComplianceType",
                    "traits": {
                        "smithy.api#documentation": "<p> The compliance type that the new custom framework supports, such as CIS or HIPAA.\n      </p>"
                    }
                },
                "controlsCount": {
                    "target": "com.amazonaws.auditmanager#ControlsCount",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The number of controls that are associated with the framework. </p>"
                    }
                },
                "controlSetsCount": {
                    "target": "com.amazonaws.auditmanager#ControlSetsCount",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p> The number of control sets that are associated with the framework. </p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.auditmanager#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p> The time when the framework was created. </p>"
                    }
                },
                "lastUpdatedAt": {
                    "target": "com.amazonaws.auditmanager#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p> The time when the framework was most recently updated. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The metadata that's associated with a standard framework or a custom framework. </p>"
            }
        },
        "com.amazonaws.auditmanager#AssessmentFrameworkShareRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The unique identifier for the share request. </p>"
                    }
                },
                "frameworkId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the shared custom framework. </p>"
                    }
                },
                "frameworkName": {
                    "target": "com.amazonaws.auditmanager#FrameworkName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the custom framework that the share request is for. </p>"
                    }
                },
                "frameworkDescription": {
                    "target": "com.amazonaws.auditmanager#FrameworkDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the shared custom framework.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.auditmanager#ShareRequestStatus",
                    "traits": {
                        "smithy.api#documentation": "<p> The status of the share request. </p>"
                    }
                },
                "sourceAccount": {
                    "target": "com.amazonaws.auditmanager#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Web Services account of the sender. </p>"
                    }
                },
                "destinationAccount": {
                    "target": "com.amazonaws.auditmanager#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Web Services account of the recipient. </p>"
                    }
                },
                "destinationRegion": {
                    "target": "com.amazonaws.auditmanager#Region",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Web Services Region of the recipient. </p>"
                    }
                },
                "expirationTime": {
                    "target": "com.amazonaws.auditmanager#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p> The time when the share request expires. </p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.auditmanager#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p> The time when the share request was created. </p>"
                    }
                },
                "lastUpdated": {
                    "target": "com.amazonaws.auditmanager#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p> Specifies when the share request was last updated. </p>"
                    }
                },
                "comment": {
                    "target": "com.amazonaws.auditmanager#ShareRequestComment",
                    "traits": {
                        "smithy.api#documentation": "<p> An optional comment from the sender about the share request. </p>"
                    }
                },
                "standardControlsCount": {
                    "target": "com.amazonaws.auditmanager#NullableInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of standard controls that are part of the shared custom framework. </p>"
                    }
                },
                "customControlsCount": {
                    "target": "com.amazonaws.auditmanager#NullableInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of custom controls that are part of the shared custom framework.</p>"
                    }
                },
                "complianceType": {
                    "target": "com.amazonaws.auditmanager#ComplianceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The compliance type that the shared custom framework supports, such as CIS or\n         HIPAA.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Represents a share request for a custom framework in Audit Manager. </p>"
            }
        },
        "com.amazonaws.auditmanager#AssessmentFrameworkShareRequestList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.auditmanager#AssessmentFrameworkShareRequest"
            }
        },
        "com.amazonaws.auditmanager#AssessmentMetadata": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.auditmanager#AssessmentName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the assessment. </p>"
                    }
                },
                "id": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The unique identifier for the assessment. </p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.auditmanager#AssessmentDescription",
                    "traits": {
                        "smithy.api#documentation": "<p> The description of the assessment. </p>"
                    }
                },
                "complianceType": {
                    "target": "com.amazonaws.auditmanager#ComplianceType",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the compliance standard that's related to the assessment, such as PCI-DSS.\n      </p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.auditmanager#AssessmentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p> The overall status of the assessment. </p>"
                    }
                },
                "assessmentReportsDestination": {
                    "target": "com.amazonaws.auditmanager#AssessmentReportsDestination",
                    "traits": {
                        "smithy.api#documentation": "<p> The destination that evidence reports are stored in for the assessment. </p>"
                    }
                },
                "scope": {
                    "target": "com.amazonaws.auditmanager#Scope",
                    "traits": {
                        "smithy.api#documentation": "<p> The wrapper of Amazon Web Services accounts and services that are in scope for the\n         assessment. </p>"
                    }
                },
                "roles": {
                    "target": "com.amazonaws.auditmanager#Roles",
                    "traits": {
                        "smithy.api#documentation": "<p> The roles that are associated with the assessment. </p>"
                    }
                },
                "delegations": {
                    "target": "com.amazonaws.auditmanager#Delegations",
                    "traits": {
                        "smithy.api#documentation": "<p> The delegations that are associated with the assessment. </p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.auditmanager#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p> Specifies when the assessment was created. </p>"
                    }
                },
                "lastUpdated": {
                    "target": "com.amazonaws.auditmanager#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p> The time of the most recent update. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The metadata that's associated with the specified assessment. </p>"
            }
        },
        "com.amazonaws.auditmanager#AssessmentMetadataItem": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.auditmanager#AssessmentName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the assessment. </p>"
                    }
                },
                "id": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The unique identifier for the assessment. </p>"
                    }
                },
                "complianceType": {
                    "target": "com.amazonaws.auditmanager#ComplianceType",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the compliance standard that's related to the assessment, such as PCI-DSS.\n      </p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.auditmanager#AssessmentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p> The current status of the assessment. </p>"
                    }
                },
                "roles": {
                    "target": "com.amazonaws.auditmanager#Roles",
                    "traits": {
                        "smithy.api#documentation": "<p> The roles that are associated with the assessment. </p>"
                    }
                },
                "delegations": {
                    "target": "com.amazonaws.auditmanager#Delegations",
                    "traits": {
                        "smithy.api#documentation": "<p> The delegations that are associated with the assessment. </p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.auditmanager#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p> Specifies when the assessment was created. </p>"
                    }
                },
                "lastUpdated": {
                    "target": "com.amazonaws.auditmanager#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p> The time of the most recent update. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> A metadata object that's associated with an assessment in Audit Manager.\n      </p>"
            }
        },
        "com.amazonaws.auditmanager#AssessmentName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 300
                },
                "smithy.api#pattern": "^[^\\\\]*$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.auditmanager#AssessmentReport": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The unique identifier for the assessment report. </p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.auditmanager#AssessmentReportName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name that's given to the assessment report. </p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.auditmanager#AssessmentReportDescription",
                    "traits": {
                        "smithy.api#documentation": "<p> The description of the specified assessment report. </p>"
                    }
                },
                "awsAccountId": {
                    "target": "com.amazonaws.auditmanager#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the specified Amazon Web Services account. </p>"
                    }
                },
                "assessmentId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the specified assessment. </p>"
                    }
                },
                "assessmentName": {
                    "target": "com.amazonaws.auditmanager#AssessmentName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the associated assessment. </p>"
                    }
                },
                "author": {
                    "target": "com.amazonaws.auditmanager#Username",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the user who created the assessment report. </p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.auditmanager#AssessmentReportStatus",
                    "traits": {
                        "smithy.api#documentation": "<p> The current status of the specified assessment report. </p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.auditmanager#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p> Specifies when the assessment report was created. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> A finalized document that's generated from an Audit Manager assessment. These\n         reports summarize the relevant evidence that was collected for your audit, and link to the\n         relevant evidence folders. These evidence folders are named and organized according to the\n         controls that are specified in your assessment. </p>"
            }
        },
        "com.amazonaws.auditmanager#AssessmentReportDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1000
                },
                "smithy.api#pattern": "^[\\w\\W\\s\\S]*$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.auditmanager#AssessmentReportDestinationType": {
            "type": "enum",
            "members": {
                "S3": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "S3"
                    }
                }
            }
        },
        "com.amazonaws.auditmanager#AssessmentReportEvidenceError": {
            "type": "structure",
            "members": {
                "evidenceId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the evidence. </p>"
                    }
                },
                "errorCode": {
                    "target": "com.amazonaws.auditmanager#ErrorCode",
                    "traits": {
                        "smithy.api#documentation": "<p> The error code that was returned. </p>"
                    }
                },
                "errorMessage": {
                    "target": "com.amazonaws.auditmanager#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p> The error message that was returned. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> An error entity for assessment report evidence errors. This is used to provide more\n         meaningful errors than a simple string message. </p>"
            }
        },
        "com.amazonaws.auditmanager#AssessmentReportEvidenceErrors": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.auditmanager#AssessmentReportEvidenceError"
            }
        },
        "com.amazonaws.auditmanager#AssessmentReportMetadata": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The unique identifier for the assessment report. </p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.auditmanager#AssessmentReportName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the assessment report. </p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.auditmanager#AssessmentReportDescription",
                    "traits": {
                        "smithy.api#documentation": "<p> The description of the assessment report. </p>"
                    }
                },
                "assessmentId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The unique identifier for the associated assessment. </p>"
                    }
                },
                "assessmentName": {
                    "target": "com.amazonaws.auditmanager#AssessmentName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the associated assessment. </p>"
                    }
                },
                "author": {
                    "target": "com.amazonaws.auditmanager#Username",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the user who created the assessment report. </p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.auditmanager#AssessmentReportStatus",
                    "traits": {
                        "smithy.api#documentation": "<p> The current status of the assessment report. </p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.auditmanager#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p> Specifies when the assessment report was created. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The metadata objects that are associated with the specified assessment report. </p>"
            }
        },
        "com.amazonaws.auditmanager#AssessmentReportName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 300
                },
                "smithy.api#pattern": "^[a-zA-Z0-9-_\\.]+$"
            }
        },
        "com.amazonaws.auditmanager#AssessmentReportStatus": {
            "type": "enum",
            "members": {
                "COMPLETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETE"
                    }
                },
                "IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IN_PROGRESS"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.auditmanager#AssessmentReportsDestination": {
            "type": "structure",
            "members": {
                "destinationType": {
                    "target": "com.amazonaws.auditmanager#AssessmentReportDestinationType",
                    "traits": {
                        "smithy.api#documentation": "<p> The destination type, such as Amazon S3. </p>"
                    }
                },
                "destination": {
                    "target": "com.amazonaws.auditmanager#S3Url",
                    "traits": {
                        "smithy.api#documentation": "<p> The destination bucket where Audit Manager stores assessment reports. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The location where Audit Manager saves assessment reports for the given\n         assessment. </p>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.auditmanager#AssessmentReportsMetadata": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.auditmanager#AssessmentReportMetadata"
            }
        },
        "com.amazonaws.auditmanager#AssessmentStatus": {
            "type": "enum",
            "members": {
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "INACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INACTIVE"
                    }
                }
            }
        },
        "com.amazonaws.auditmanager#AssociateAssessmentReportEvidenceFolder": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.auditmanager#AssociateAssessmentReportEvidenceFolderRequest"
            },
            "output": {
                "target": "com.amazonaws.auditmanager#AssociateAssessmentReportEvidenceFolderResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.auditmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.auditmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.auditmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Associates an evidence folder to an assessment report in an Audit Manager\n         assessment. </p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/assessments/{assessmentId}/associateToAssessmentReport",
                    "code": 200
                }
            }
        },
        "com.amazonaws.auditmanager#AssociateAssessmentReportEvidenceFolderRequest": {
            "type": "structure",
            "members": {
                "assessmentId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the assessment. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "evidenceFolderId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the folder that the evidence is stored in. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.auditmanager#AssociateAssessmentReportEvidenceFolderResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.auditmanager#AuditManagerArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:.*:auditmanager:"
            }
        },
        "com.amazonaws.auditmanager#BatchAssociateAssessmentReportEvidence": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.auditmanager#BatchAssociateAssessmentReportEvidenceRequest"
            },
            "output": {
                "target": "com.amazonaws.auditmanager#BatchAssociateAssessmentReportEvidenceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.auditmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.auditmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.auditmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Associates a list of evidence to an assessment report in an Audit Manager\n         assessment. </p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/assessments/{assessmentId}/batchAssociateToAssessmentReport",
                    "code": 200
                }
            }
        },
        "com.amazonaws.auditmanager#BatchAssociateAssessmentReportEvidenceRequest": {
            "type": "structure",
            "members": {
                "assessmentId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the assessment. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "evidenceFolderId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the folder that the evidence is stored in. </p>",
                        "smithy.api#required": {}
                    }
                },
                "evidenceIds": {
                    "target": "com.amazonaws.auditmanager#EvidenceIds",
                    "traits": {
                        "smithy.api#documentation": "<p> The list of evidence identifiers. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.auditmanager#BatchAssociateAssessmentReportEvidenceResponse": {
            "type": "structure",
            "members": {
                "evidenceIds": {
                    "target": "com.amazonaws.auditmanager#EvidenceIds",
                    "traits": {
                        "smithy.api#documentation": "<p> The list of evidence identifiers. </p>"
                    }
                },
                "errors": {
                    "target": "com.amazonaws.auditmanager#AssessmentReportEvidenceErrors",
                    "traits": {
                        "smithy.api#documentation": "<p> A list of errors that the <code>BatchAssociateAssessmentReportEvidence</code> API\n         returned. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.auditmanager#BatchCreateDelegationByAssessment": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentRequest"
            },
            "output": {
                "target": "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.auditmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.auditmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.auditmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Creates a batch of delegations for an assessment in Audit Manager. </p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/assessments/{assessmentId}/delegations",
                    "code": 200
                }
            }
        },
        "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentError": {
            "type": "structure",
            "members": {
                "createDelegationRequest": {
                    "target": "com.amazonaws.auditmanager#CreateDelegationRequest",
                    "traits": {
                        "smithy.api#documentation": "<p> The API request to batch create delegations in Audit Manager. </p>"
                    }
                },
                "errorCode": {
                    "target": "com.amazonaws.auditmanager#ErrorCode",
                    "traits": {
                        "smithy.api#documentation": "<p> The error code that the <code>BatchCreateDelegationByAssessment</code> API returned.\n      </p>"
                    }
                },
                "errorMessage": {
                    "target": "com.amazonaws.auditmanager#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p> The error message that the <code>BatchCreateDelegationByAssessment</code> API returned.\n      </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> An error entity for the <code>BatchCreateDelegationByAssessment</code> API. This is\n         used to provide more meaningful errors than a simple string message. </p>"
            }
        },
        "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentErrors": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentError"
            },
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentRequest": {
            "type": "structure",
            "members": {
                "createDelegationRequests": {
                    "target": "com.amazonaws.auditmanager#CreateDelegationRequests",
                    "traits": {
                        "smithy.api#documentation": "<p> The API request to batch create delegations in Audit Manager. </p>",
                        "smithy.api#required": {}
                    }
                },
                "assessmentId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the assessment. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentResponse": {
            "type": "structure",
            "members": {
                "delegations": {
                    "target": "com.amazonaws.auditmanager#Delegations",
                    "traits": {
                        "smithy.api#documentation": "<p> The delegations that are associated with the assessment. </p>"
                    }
                },
                "errors": {
                    "target": "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentErrors",
                    "traits": {
                        "smithy.api#documentation": "<p> A list of errors that the <code>BatchCreateDelegationByAssessment</code> API returned.\n      </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessment": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentRequest"
            },
            "output": {
                "target": "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.auditmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.auditmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.auditmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Deletes a batch of delegations for an assessment in Audit Manager. </p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/assessments/{assessmentId}/delegations",
                    "code": 200
                }
            }
        },
        "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentError": {
            "type": "structure",
            "members": {
                "delegationId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the delegation. </p>"
                    }
                },
                "errorCode": {
                    "target": "com.amazonaws.auditmanager#ErrorCode",
                    "traits": {
                        "smithy.api#documentation": "<p> The error code that the <code>BatchDeleteDelegationByAssessment</code> API returned.\n      </p>"
                    }
                },
                "errorMessage": {
                    "target": "com.amazonaws.auditmanager#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p> The error message that the <code>BatchDeleteDelegationByAssessment</code> API returned.\n      </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> An error entity for the <code>BatchDeleteDelegationByAssessment</code> API. This is\n         used to provide more meaningful errors than a simple string message. </p>"
            }
        },
        "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentErrors": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentError"
            },
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentRequest": {
            "type": "structure",
            "members": {
                "delegationIds": {
                    "target": "com.amazonaws.auditmanager#DelegationIds",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifiers for the delegations. </p>",
                        "smithy.api#required": {}
                    }
                },
                "assessmentId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the assessment. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentResponse": {
            "type": "structure",
            "members": {
                "errors": {
                    "target": "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentErrors",
                    "traits": {
                        "smithy.api#documentation": "<p> A list of errors that the <code>BatchDeleteDelegationByAssessment</code> API returned.\n      </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.auditmanager#BatchDisassociateAssessmentReportEvidence": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.auditmanager#BatchDisassociateAssessmentReportEvidenceRequest"
            },
            "output": {
                "target": "com.amazonaws.auditmanager#BatchDisassociateAssessmentReportEvidenceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.auditmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.auditmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.auditmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Disassociates a list of evidence from an assessment report in Audit Manager.\n      </p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/assessments/{assessmentId}/batchDisassociateFromAssessmentReport",
                    "code": 200
                }
            }
        },
        "com.amazonaws.auditmanager#BatchDisassociateAssessmentReportEvidenceRequest": {
            "type": "structure",
            "members": {
                "assessmentId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the assessment. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "evidenceFolderId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the folder that the evidence is stored in. </p>",
                        "smithy.api#required": {}
                    }
                },
                "evidenceIds": {
                    "target": "com.amazonaws.auditmanager#EvidenceIds",
                    "traits": {
                        "smithy.api#documentation": "<p> The list of evidence identifiers. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.auditmanager#BatchDisassociateAssessmentReportEvidenceResponse": {
            "type": "structure",
            "members": {
                "evidenceIds": {
                    "target": "com.amazonaws.auditmanager#EvidenceIds",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the evidence. </p>"
                    }
                },
                "errors": {
                    "target": "com.amazonaws.auditmanager#AssessmentReportEvidenceErrors",
                    "traits": {
                        "smithy.api#documentation": "<p> A list of errors that the <code>BatchDisassociateAssessmentReportEvidence</code> API\n         returned. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControl": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlRequest"
            },
            "output": {
                "target": "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.auditmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.auditmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.auditmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.auditmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds one or more pieces of evidence to a control in an Audit Manager assessment. </p>\n         <p>You can import manual evidence from any S3 bucket by specifying the S3 URI of the\n         object. You can also upload a file from your browser, or enter plain text in response to a\n         risk assessment question. </p>\n         <p>The following restrictions apply to this action:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>manualEvidence</code> can be only one of the following:\n                  <code>evidenceFileName</code>, <code>s3ResourcePath</code>, or\n                  <code>textResponse</code>\n               </p>\n            </li>\n            <li>\n               <p>Maximum size of an individual evidence file: 100 MB</p>\n            </li>\n            <li>\n               <p>Number of daily manual evidence uploads per control: 100</p>\n            </li>\n            <li>\n               <p>Supported file formats: See <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/upload-evidence.html#supported-manual-evidence-files\">Supported file types for manual evidence</a> in the <i>Audit Manager User Guide</i>\n               </p>\n            </li>\n         </ul>\n         <p>For more information about Audit Manager service restrictions, see <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/service-quotas.html\">Quotas and\n            restrictions for Audit Manager</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/assessments/{assessmentId}/controlSets/{controlSetId}/controls/{controlId}/evidence",
                    "code": 200
                }
            }
        },
        "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlError": {
            "type": "structure",
            "members": {
                "manualEvidence": {
                    "target": "com.amazonaws.auditmanager#ManualEvidence",
                    "traits": {
                        "smithy.api#documentation": "<p> Manual evidence that can't be collected automatically by Audit Manager. </p>"
                    }
                },
                "errorCode": {
                    "target": "com.amazonaws.auditmanager#ErrorCode",
                    "traits": {
                        "smithy.api#documentation": "<p> The error code that the <code>BatchImportEvidenceToAssessmentControl</code> API\n         returned. </p>"
                    }
                },
                "errorMessage": {
                    "target": "com.amazonaws.auditmanager#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p> The error message that the <code>BatchImportEvidenceToAssessmentControl</code> API\n         returned. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> An error entity for the <code>BatchImportEvidenceToAssessmentControl</code> API. This\n         is used to provide more meaningful errors than a simple string message. </p>"
            }
        },
        "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlErrors": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlError"
            }
        },
        "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlRequest": {
            "type": "structure",
            "members": {
                "assessmentId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the assessment. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "controlSetId": {
                    "target": "com.amazonaws.auditmanager#ControlSetId",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the control set. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "controlId": {
                    "target": "com.amazonaws.auditmanager#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p> The identifier for the control. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "manualEvidence": {
                    "target": "com.amazonaws.auditmanager#ManualEvidenceList",
                    "traits": {
                        "smithy.api#documentation": "<p> The list of manual evidence objects. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlResponse": {
            "type": "structure",
            "members": {
                "errors": {
                    "target": "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlErrors",
                    "traits": {
                        "smithy.api#documentation": "<p> A list of errors that the <code>BatchImportEvidenceToAssessmentControl</code> API\n         returned. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.auditmanager#BedrockAssessmentManagerLambda": {
            "type": "service",
            "version": "2017-07-25",
            "operations": [
                {
                    "target": "com.amazonaws.auditmanager#AssociateAssessmentReportEvidenceFolder"
                },
                {
                    "target": "com.amazonaws.auditmanager#BatchAssociateAssessmentReportEvidence"
                },
                {
                    "target": "com.amazonaws.auditmanager#BatchCreateDelegationByAssessment"
                },
                {
                    "target": "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessment"
                },
                {
                    "target": "com.amazonaws.auditmanager#BatchDisassociateAssessmentReportEvidence"
                },
                {
                    "target": "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControl"
                },
                {
                    "target": "com.amazonaws.auditmanager#CreateAssessment"
                },
                {
                    "target": "com.amazonaws.auditmanager#CreateAssessmentFramework"
                },
                {
                    "target": "com.amazonaws.auditmanager#CreateAssessmentReport"
                },
                {
                    "target": "com.amazonaws.auditmanager#CreateControl"
                },
                {
                    "target": "com.amazonaws.auditmanager#DeleteAssessment"
                },
                {
                    "target": "com.amazonaws.auditmanager#DeleteAssessmentFramework"
                },
                {
                    "target": "com.amazonaws.auditmanager#DeleteAssessmentFrameworkShare"
                },
                {
                    "target": "com.amazonaws.auditmanager#DeleteAssessmentReport"
                },
                {
                    "target": "com.amazonaws.auditmanager#DeleteControl"
                },
                {
                    "target": "com.amazonaws.auditmanager#DeregisterAccount"
                },
                {
                    "target": "com.amazonaws.auditmanager#DeregisterOrganizationAdminAccount"
                },
                {
                    "target": "com.amazonaws.auditmanager#DisassociateAssessmentReportEvidenceFolder"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetAccountStatus"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetAssessment"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetAssessmentFramework"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetAssessmentReportUrl"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetChangeLogs"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetControl"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetDelegations"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetEvidence"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetEvidenceByEvidenceFolder"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetEvidenceFileUploadUrl"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetEvidenceFolder"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetEvidenceFoldersByAssessment"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetEvidenceFoldersByAssessmentControl"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetInsights"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetInsightsByAssessment"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetOrganizationAdminAccount"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetServicesInScope"
                },
                {
                    "target": "com.amazonaws.auditmanager#GetSettings"
                },
                {
                    "target": "com.amazonaws.auditmanager#ListAssessmentControlInsightsByControlDomain"
                },
                {
                    "target": "com.amazonaws.auditmanager#ListAssessmentFrameworks"
                },
                {
                    "target": "com.amazonaws.auditmanager#ListAssessmentFrameworkShareRequests"
                },
                {
                    "target": "com.amazonaws.auditmanager#ListAssessmentReports"
                },
                {
                    "target": "com.amazonaws.auditmanager#ListAssessments"
                },
                {
                    "target": "com.amazonaws.auditmanager#ListControlDomainInsights"
                },
                {
                    "target": "com.amazonaws.auditmanager#ListControlDomainInsightsByAssessment"
                },
                {
                    "target": "com.amazonaws.auditmanager#ListControlInsightsByControlDomain"
                },
                {
                    "target": "com.amazonaws.auditmanager#ListControls"
                },
                {
                    "target": "com.amazonaws.auditmanager#ListKeywordsForDataSource"
                },
                {
                    "target": "com.amazonaws.auditmanager#ListNotifications"
                },
                {
                    "target": "com.amazonaws.auditmanager#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.auditmanager#RegisterAccount"
                },
                {
                    "target": "com.amazonaws.auditmanager#RegisterOrganizationAdminAccount"
                },
                {
                    "target": "com.amazonaws.auditmanager#StartAssessmentFrameworkShare"
                },
                {
                    "target": "com.amazonaws.auditmanager#TagResource"
                },
                {
                    "target": "com.amazonaws.auditmanager#UntagResource"
                },
                {
                    "target": "com.amazonaws.auditmanager#UpdateAssessment"
                },
                {
                    "target": "com.amazonaws.auditmanager#UpdateAssessmentControl"
                },
                {
                    "target": "com.amazonaws.auditmanager#UpdateAssessmentControlSetStatus"
                },
                {
                    "target": "com.amazonaws.auditmanager#UpdateAssessmentFramework"
                },
                {
                    "target": "com.amazonaws.auditmanager#UpdateAssessmentFrameworkShare"
                },
                {
                    "target": "com.amazonaws.auditmanager#UpdateAssessmentStatus"
                },
                {
                    "target": "com.amazonaws.auditmanager#UpdateControl"
                },
                {
                    "target": "com.amazonaws.auditmanager#UpdateSettings"
                },
                {
                    "target": "com.amazonaws.auditmanager#ValidateAssessmentReportIntegrity"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "AuditManager",
                    "arnNamespace": "auditmanager",
                    "cloudFormationName": "AuditManager",
                    "cloudTrailEventSource": "auditmanager.amazonaws.com",
                    "endpointPrefix": "auditmanager"
                },
                "aws.auth#sigv4": {
                    "name": "auditmanager"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>Welcome to the Audit Manager API reference. This guide is for developers who\n         need detailed information about the Audit Manager API operations, data types, and\n         errors. </p>\n         <p>Audit Manager is a service that provides automated evidence collection so that you\n         can continually audit your Amazon Web Services usage. You can use it to assess the\n         effectiveness of your controls, manage risk, and simplify compliance.</p>\n         <p>Audit Manager provides prebuilt frameworks that structure and automate assessments\n         for a given compliance standard. Frameworks include a prebuilt collection of controls with\n         descriptions and testing procedures. These controls are grouped according to the\n         requirements of the specified compliance standard or regulation. You can also customize\n         frameworks and controls to support internal audits with specific requirements. </p>\n         <p>Use the following links to get started with the Audit Manager API:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_Operations.html\">Actions</a>: An\n               alphabetical list of all Audit Manager API operations.</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_Types.html\">Data types</a>: An alphabetical list of all Audit Manager data\n               types.</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/CommonParameters.html\">Common\n                  parameters</a>: Parameters that all operations can use.</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/CommonErrors.html\">Common errors</a>:\n               Client and server errors that all operations can return.</p>\n            </li>\n         </ul>\n         <p>If you're new to Audit Manager, we recommend that you review the <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/what-is.html\">\n            Audit Manager User Guide</a>.</p>",
                "smithy.api#title": "AWS Audit Manager",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://auditmanager-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
[...]
