{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.autoscaling#AcceleratorCountRequest": {
            "type": "structure",
            "members": {
                "Min": {
                    "target": "com.amazonaws.autoscaling#NullablePositiveInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The minimum value.</p>"
                    }
                },
                "Max": {
                    "target": "com.amazonaws.autoscaling#NullablePositiveInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum value.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the minimum and maximum for the <code>AcceleratorCount</code> object when\n            you specify <a>InstanceRequirements</a> for an Auto Scaling group.</p>"
            }
        },
        "com.amazonaws.autoscaling#AcceleratorManufacturer": {
            "type": "enum",
            "members": {
                "NVIDIA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "nvidia"
                    }
                },
                "AMD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "amd"
                    }
                },
                "AMAZON_WEB_SERVICES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "amazon-web-services"
                    }
                },
                "XILINX": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "xilinx"
                    }
                }
            }
        },
        "com.amazonaws.autoscaling#AcceleratorManufacturers": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.autoscaling#AcceleratorManufacturer"
            }
        },
        "com.amazonaws.autoscaling#AcceleratorName": {
            "type": "enum",
            "members": {
                "A100": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "a100"
                    }
                },
                "V100": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "v100"
                    }
                },
                "K80": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "k80"
                    }
                },
                "T4": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "t4"
                    }
                },
                "M60": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "m60"
                    }
                },
                "RADEON_PRO_V520": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "radeon-pro-v520"
                    }
                },
                "VU9P": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "vu9p"
                    }
                }
            }
        },
        "com.amazonaws.autoscaling#AcceleratorNames": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.autoscaling#AcceleratorName"
            }
        },
        "com.amazonaws.autoscaling#AcceleratorTotalMemoryMiBRequest": {
            "type": "structure",
            "members": {
                "Min": {
                    "target": "com.amazonaws.autoscaling#NullablePositiveInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The memory minimum in MiB.</p>"
                    }
                },
                "Max": {
                    "target": "com.amazonaws.autoscaling#NullablePositiveInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The memory maximum in MiB.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the minimum and maximum for the <code>AcceleratorTotalMemoryMiB</code>\n            object when you specify <a>InstanceRequirements</a> for an Auto Scaling group.</p>"
            }
        },
        "com.amazonaws.autoscaling#AcceleratorType": {
            "type": "enum",
            "members": {
                "GPU": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "gpu"
                    }
                },
                "FPGA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "fpga"
                    }
                },
                "INFERENCE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "inference"
                    }
                }
            }
        },
        "com.amazonaws.autoscaling#AcceleratorTypes": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.autoscaling#AcceleratorType"
            }
        },
        "com.amazonaws.autoscaling#ActiveInstanceRefreshNotFoundFault": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255"
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "ActiveInstanceRefreshNotFound",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>The request failed because an active instance refresh or rollback for the specified\n            Auto Scaling group was not found.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.autoscaling#Activities": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.autoscaling#Activity"
            }
        },
        "com.amazonaws.autoscaling#ActivitiesType": {
            "type": "structure",
            "members": {
                "Activities": {
                    "target": "com.amazonaws.autoscaling#Activities",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The scaling activities. Activities are sorted by start time. Activities still in\n            progress are described first.</p>",
                        "smithy.api#required": {}
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.autoscaling#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>A string that indicates that the response contains more items than can be returned in\n            a single response. To receive additional items, specify this string for the\n                <code>NextToken</code> value when requesting the next set of items. This value is\n            null when there are no more items to return.</p>"
                    }
                }
            }
        },
        "com.amazonaws.autoscaling#Activity": {
            "type": "structure",
            "members": {
                "ActivityId": {
                    "target": "com.amazonaws.autoscaling#XmlString",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The ID of the activity.</p>",
                        "smithy.api#required": {}
                    }
                },
                "AutoScalingGroupName": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Description": {
                    "target": "com.amazonaws.autoscaling#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>A friendly, more verbose description of the activity.</p>"
                    }
                },
                "Cause": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen1023",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The reason the activity began.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StartTime": {
                    "target": "com.amazonaws.autoscaling#TimestampType",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The start time of the activity.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EndTime": {
                    "target": "com.amazonaws.autoscaling#TimestampType",
                    "traits": {
                        "smithy.api#documentation": "<p>The end time of the activity.</p>"
                    }
                },
                "StatusCode": {
                    "target": "com.amazonaws.autoscaling#ScalingActivityStatusCode",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The current status of the activity.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StatusMessage": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#documentation": "<p>A friendly, more verbose description of the activity status.</p>"
                    }
                },
                "Progress": {
                    "target": "com.amazonaws.autoscaling#Progress",
                    "traits": {
                        "smithy.api#documentation": "<p>A value between 0 and 100 that indicates the progress of the activity.</p>"
                    }
                },
                "Details": {
                    "target": "com.amazonaws.autoscaling#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>The details about the activity.</p>"
                    }
                },
                "AutoScalingGroupState": {
                    "target": "com.amazonaws.autoscaling#AutoScalingGroupState",
                    "traits": {
                        "smithy.api#documentation": "<p>The state of the Auto Scaling group, which is either <code>InService</code> or\n                <code>Deleted</code>.</p>"
                    }
                },
                "AutoScalingGroupARN": {
                    "target": "com.amazonaws.autoscaling#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes scaling activity, which is a long-running process that represents a change\n            to your Auto Scaling group, such as changing its size or replacing an instance.</p>"
            }
        },
        "com.amazonaws.autoscaling#ActivityIds": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.autoscaling#XmlString"
            }
        },
        "com.amazonaws.autoscaling#ActivityType": {
            "type": "structure",
            "members": {
                "Activity": {
                    "target": "com.amazonaws.autoscaling#Activity",
                    "traits": {
                        "smithy.api#documentation": "<p>A scaling activity.</p>"
                    }
                }
            }
        },
        "com.amazonaws.autoscaling#AdjustmentType": {
            "type": "structure",
            "members": {
                "AdjustmentType": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#documentation": "<p>The policy adjustment type. The valid values are <code>ChangeInCapacity</code>,\n                <code>ExactCapacity</code>, and <code>PercentChangeInCapacity</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a policy adjustment type.</p>"
            }
        },
        "com.amazonaws.autoscaling#AdjustmentTypes": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.autoscaling#AdjustmentType"
            }
        },
        "com.amazonaws.autoscaling#Alarm": {
            "type": "structure",
            "members": {
                "AlarmName": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm.</p>"
                    }
                },
                "AlarmARN": {
                    "target": "com.amazonaws.autoscaling#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the alarm.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an alarm.</p>"
            }
        },
        "com.amazonaws.autoscaling#AlarmList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.autoscaling#XmlStringMaxLen255"
            }
        },
        "com.amazonaws.autoscaling#AlarmSpecification": {
            "type": "structure",
            "members": {
                "Alarms": {
                    "target": "com.amazonaws.autoscaling#AlarmList",
                    "traits": {
                        "smithy.api#documentation": "<p>The names of one or more CloudWatch alarms to monitor for the instance refresh. You can\n            specify up to 10 alarms.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the CloudWatch alarm specification to use in an instance refresh.</p>"
            }
        },
        "com.amazonaws.autoscaling#Alarms": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.autoscaling#Alarm"
            }
        },
        "com.amazonaws.autoscaling#AllowedInstanceType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 30
                },
                "smithy.api#pattern": "^[a-zA-Z0-9\\.\\*\\-]+$"
            }
        },
        "com.amazonaws.autoscaling#AllowedInstanceTypes": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.autoscaling#AllowedInstanceType"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 400
                }
            }
        },
        "com.amazonaws.autoscaling#AlreadyExistsFault": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#documentation": "<p></p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "AlreadyExists",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>You already have an Auto Scaling group or launch configuration with this name.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.autoscaling#AnyPrintableAsciiStringMaxLen4000": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 4000
                },
                "smithy.api#pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u007e]+$"
            }
        },
        "com.amazonaws.autoscaling#AsciiStringMaxLen255": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^[A-Za-z0-9\\-_\\/]+$"
            }
        },
        "com.amazonaws.autoscaling#AssociatePublicIpAddress": {
            "type": "boolean"
        },
        "com.amazonaws.autoscaling#AttachInstances": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.autoscaling#AttachInstancesQuery"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.autoscaling#ResourceContentionFault"
                },
                {
                    "target": "com.amazonaws.autoscaling#ServiceLinkedRoleFailure"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Attaches one or more EC2 instances to the specified Auto Scaling group.</p>\n         <p>When you attach instances, Amazon EC2 Auto Scaling increases the desired capacity of the group by the\n            number of instances being attached. If the number of instances being attached plus the\n            desired capacity of the group exceeds the maximum size of the group, the operation\n            fails.</p>\n         <p>If there is a Classic Load Balancer attached to your Auto Scaling group, the instances are\n            also registered with the load balancer. If there are target groups attached to your Auto Scaling\n            group, the instances are also registered with the target groups.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-detach-attach-instances.html\">Detach\n                or attach instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
                "smithy.api#examples": [
                    {
                        "title": "To attach an instance to an Auto Scaling group",
                        "documentation": "This example attaches the specified instance to the specified Auto Scaling group.",
                        "input": {
                            "InstanceIds": [
                                "i-93633f9b"
                            ],
                            "AutoScalingGroupName": "my-auto-scaling-group"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.autoscaling#AttachInstancesQuery": {
            "type": "structure",
            "members": {
                "InstanceIds": {
                    "target": "com.amazonaws.autoscaling#InstanceIds",
                    "traits": {
                        "smithy.api#documentation": "<p>The IDs of the instances. You can specify up to 20 instances.</p>"
                    }
                },
                "AutoScalingGroupName": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroups": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroupsType"
            },
            "output": {
                "target": "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroupsResultType"
            },
            "errors": [
                {
                    "target": "com.amazonaws.autoscaling#ResourceContentionFault"
                },
                {
                    "target": "com.amazonaws.autoscaling#ServiceLinkedRoleFailure"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<note>\n            <p>This API operation is superseded by <a>AttachTrafficSources</a>, which\n                can attach multiple traffic sources types. We recommend using\n                    <code>AttachTrafficSources</code> to simplify how you manage traffic sources.\n                However, we continue to support <code>AttachLoadBalancerTargetGroups</code>. You can\n                use both the original <code>AttachLoadBalancerTargetGroups</code> API operation and\n                    <code>AttachTrafficSources</code> on the same Auto Scaling group.</p>\n         </note>\n         <p>Attaches one or more target groups to the specified Auto Scaling group.</p>\n         <p>This operation is used with the following load balancer types: </p>\n         <ul>\n            <li>\n               <p>Application Load Balancer - Operates at the application layer (layer 7) and supports HTTP and\n                    HTTPS. </p>\n            </li>\n            <li>\n               <p>Network Load Balancer - Operates at the transport layer (layer 4) and supports TCP, TLS, and\n                    UDP. </p>\n            </li>\n            <li>\n               <p>Gateway Load Balancer - Operates at the network layer (layer 3).</p>\n            </li>\n         </ul>\n         <p>To describe the target groups for an Auto Scaling group, call the <a>DescribeLoadBalancerTargetGroups</a> API. To detach the target group from\n            the Auto Scaling group, call the <a>DetachLoadBalancerTargetGroups</a> API.</p>\n         <p>This operation is additive and does not detach existing target groups or Classic Load\n            Balancers from the Auto Scaling group.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Use Elastic Load Balancing to\n                distribute traffic across the instances in your Auto Scaling group</a> in the\n                <i>Amazon EC2 Auto Scaling User Guide</i>. </p>",
                "smithy.api#examples": [
                    {
                        "title": "To attach a target group to an Auto Scaling group",
                        "documentation": "This example attaches the specified target group to the specified Auto Scaling group.",
                        "input": {
                            "AutoScalingGroupName": "my-auto-scaling-group",
                            "TargetGroupARNs": [
                                "arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067"
                            ]
                        }
                    }
                ]
            }
        },
        "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroupsResultType": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroupsType": {
            "type": "structure",
            "members": {
                "AutoScalingGroupName": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TargetGroupARNs": {
                    "target": "com.amazonaws.autoscaling#TargetGroupARNs",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the target groups. You can specify up to 10 target\n            groups. To get the ARN of a target group, use the Elastic Load Balancing <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeTargetGroups.html\">DescribeTargetGroups</a> API operation.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.autoscaling#AttachLoadBalancers": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.autoscaling#AttachLoadBalancersType"
            },
            "output": {
                "target": "com.amazonaws.autoscaling#AttachLoadBalancersResultType"
            },
            "errors": [
                {
                    "target": "com.amazonaws.autoscaling#ResourceContentionFault"
                },
                {
                    "target": "com.amazonaws.autoscaling#ServiceLinkedRoleFailure"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<note>\n            <p>This API operation is superseded by <a>AttachTrafficSources</a>, which\n                can attach multiple traffic sources types. We recommend using\n                    <code>AttachTrafficSources</code> to simplify how you manage traffic sources.\n                However, we continue to support <code>AttachLoadBalancers</code>. You can use both\n                the original <code>AttachLoadBalancers</code> API operation and\n                    <code>AttachTrafficSources</code> on the same Auto Scaling group.</p>\n         </note>\n         <p>Attaches one or more Classic Load Balancers to the specified Auto Scaling group. Amazon EC2 Auto Scaling registers the\n            running instances with these Classic Load Balancers.</p>\n         <p>To describe the load balancers for an Auto Scaling group, call the <a>DescribeLoadBalancers</a> API. To detach a load balancer from the Auto Scaling\n            group, call the <a>DetachLoadBalancers</a> API.</p>\n         <p>This operation is additive and does not detach existing Classic Load Balancers or\n            target groups from the Auto Scaling group.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Use Elastic Load Balancing to\n                distribute traffic across the instances in your Auto Scaling group</a> in the\n                <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
                "smithy.api#examples": [
                    {
                        "title": "To attach a load balancer to an Auto Scaling group",
                        "documentation": "This example attaches the specified load balancer to the specified Auto Scaling group.",
                        "input": {
                            "AutoScalingGroupName": "my-auto-scaling-group",
                            "LoadBalancerNames": [
                                "my-load-balancer"
                            ]
                        }
                    }
                ]
            }
        },
        "com.amazonaws.autoscaling#AttachLoadBalancersResultType": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.autoscaling#AttachLoadBalancersType": {
            "type": "structure",
            "members": {
                "AutoScalingGroupName": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LoadBalancerNames": {
                    "target": "com.amazonaws.autoscaling#LoadBalancerNames",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The names of the load balancers. You can specify up to 10 load balancers.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.autoscaling#AttachTrafficSources": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.autoscaling#AttachTrafficSourcesType"
            },
            "output": {
                "target": "com.amazonaws.autoscaling#AttachTrafficSourcesResultType"
            },
            "errors": [
                {
                    "target": "com.amazonaws.autoscaling#ResourceContentionFault"
                },
                {
                    "target": "com.amazonaws.autoscaling#ServiceLinkedRoleFailure"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Attaches one or more traffic sources to the specified Auto Scaling group.</p>\n         <p>You can use any of the following as traffic sources for an Auto Scaling group:</p>\n         <ul>\n            <li>\n               <p>Application Load Balancer</p>\n            </li>\n            <li>\n               <p>Classic Load Balancer</p>\n            </li>\n            <li>\n               <p>Gateway Load Balancer</p>\n            </li>\n            <li>\n               <p>Network Load Balancer</p>\n            </li>\n            <li>\n               <p>VPC Lattice</p>\n            </li>\n         </ul>\n         <p>This operation is additive and does not detach existing traffic sources from the Auto Scaling\n            group. </p>\n         <p>After the operation completes, use the <a>DescribeTrafficSources</a> API to\n            return details about the state of the attachments between traffic sources and your Auto Scaling\n            group. To detach a traffic source from the Auto Scaling group, call the <a>DetachTrafficSources</a> API.</p>",
                "smithy.api#examples": [
                    {
                        "title": "To attach a target group to an Auto Scaling group",
                        "documentation": "This example attaches the specified target group to the specified Auto Scaling group.",
                        "input": {
                            "AutoScalingGroupName": "my-auto-scaling-group",
                            "TrafficSources": [
                                {
                                    "Identifier": "arn:aws:elasticloadbalancing:us-west-2:123456789012:targetgroup/my-targets/73e2d6bc24d8a067"
                                }
                            ]
                        },
                        "output": {}
                    }
                ]
            }
        },
        "com.amazonaws.autoscaling#AttachTrafficSourcesResultType": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.autoscaling#AttachTrafficSourcesType": {
            "type": "structure",
            "members": {
                "AutoScalingGroupName": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TrafficSources": {
                    "target": "com.amazonaws.autoscaling#TrafficSources",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The unique identifiers of one or more traffic sources. You can specify up to 10\n            traffic sources.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.autoscaling#AutoRollback": {
            "type": "boolean"
        },
        "com.amazonaws.autoscaling#AutoScalingGroup": {
            "type": "structure",
            "members": {
                "AutoScalingGroupName": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "AutoScalingGroupARN": {
                    "target": "com.amazonaws.autoscaling#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>"
                    }
                },
                "LaunchConfigurationName": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the associated launch configuration.</p>"
                    }
                },
                "LaunchTemplate": {
                    "target": "com.amazonaws.autoscaling#LaunchTemplateSpecification",
                    "traits": {
                        "smithy.api#documentation": "<p>The launch template for the group.</p>"
                    }
                },
                "MixedInstancesPolicy": {
                    "target": "com.amazonaws.autoscaling#MixedInstancesPolicy",
                    "traits": {
                        "smithy.api#documentation": "<p>The mixed instances policy for the group.</p>"
                    }
                },
                "MinSize": {
                    "target": "com.amazonaws.autoscaling#AutoScalingGroupMinSize",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The minimum size of the group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "MaxSize": {
                    "target": "com.amazonaws.autoscaling#AutoScalingGroupMaxSize",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The maximum size of the group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DesiredCapacity": {
                    "target": "com.amazonaws.autoscaling#AutoScalingGroupDesiredCapacity",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The desired size of the group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PredictedCapacity": {
                    "target": "com.amazonaws.autoscaling#AutoScalingGroupPredictedCapacity",
                    "traits": {
                        "smithy.api#documentation": "<p>The predicted capacity of the group when it has a predictive scaling policy.</p>"
                    }
                },
                "DefaultCooldown": {
                    "target": "com.amazonaws.autoscaling#Cooldown",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The duration of the default cooldown period, in seconds.</p>",
                        "smithy.api#required": {}
                    }
                },
                "AvailabilityZones": {
                    "target": "com.amazonaws.autoscaling#AvailabilityZones",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>One or more Availability Zones for the group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LoadBalancerNames": {
                    "target": "com.amazonaws.autoscaling#LoadBalancerNames",
                    "traits": {
                        "smithy.api#documentation": "<p>One or more load balancers associated with the group.</p>"
                    }
                },
                "TargetGroupARNs": {
                    "target": "com.amazonaws.autoscaling#TargetGroupARNs",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the target groups for your load balancer.</p>"
                    }
                },
                "HealthCheckType": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen32",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>A comma-separated value string of one or more health check types.</p>",
                        "smithy.api#required": {}
                    }
                },
                "HealthCheckGracePeriod": {
                    "target": "com.amazonaws.autoscaling#HealthCheckGracePeriod",
                    "traits": {
                        "smithy.api#documentation": "<p>The duration of the health check grace period, in seconds.</p>"
                    }
                },
                "Instances": {
                    "target": "com.amazonaws.autoscaling#Instances",
                    "traits": {
                        "smithy.api#documentation": "<p>The EC2 instances associated with the group.</p>"
                    }
                },
                "CreatedTime": {
                    "target": "com.amazonaws.autoscaling#TimestampType",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The date and time the group was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SuspendedProcesses": {
                    "target": "com.amazonaws.autoscaling#SuspendedProcesses",
                    "traits": {
                        "smithy.api#documentation": "<p>The suspended processes associated with the group.</p>"
                    }
                },
                "PlacementGroup": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the placement group into which to launch your instances, if any.</p>"
                    }
                },
                "VPCZoneIdentifier": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen5000",
                    "traits": {
                        "smithy.api#documentation": "<p>One or more subnet IDs, if applicable, separated by commas.</p>"
                    }
                },
                "EnabledMetrics": {
                    "target": "com.amazonaws.autoscaling#EnabledMetrics",
                    "traits": {
                        "smithy.api#documentation": "<p>The metrics enabled for the group.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the group when the <a>DeleteAutoScalingGroup</a>\n            operation is in progress.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.autoscaling#TagDescriptionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags for the group.</p>"
                    }
                },
                "TerminationPolicies": {
                    "target": "com.amazonaws.autoscaling#TerminationPolicies",
                    "traits": {
                        "smithy.api#documentation": "<p>The termination policies for the group.</p>"
                    }
                },
                "NewInstancesProtectedFromScaleIn": {
                    "target": "com.amazonaws.autoscaling#InstanceProtected",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether newly launched instances are protected from termination by Amazon EC2 Auto Scaling\n            when scaling in.</p>"
                    }
                },
                "ServiceLinkedRoleARN": {
                    "target": "com.amazonaws.autoscaling#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service-linked role that the Auto Scaling group uses to\n            call other Amazon Web Services on your behalf.</p>"
                    }
                },
                "MaxInstanceLifetime": {
                    "target": "com.amazonaws.autoscaling#MaxInstanceLifetime",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum amount of time, in seconds, that an instance can be in service.</p>\n         <p>Valid Range: Minimum value of 0.</p>"
                    }
                },
                "CapacityRebalance": {
                    "target": "com.amazonaws.autoscaling#CapacityRebalanceEnabled",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether Capacity Rebalancing is enabled.</p>"
                    }
                },
                "WarmPoolConfiguration": {
                    "target": "com.amazonaws.autoscaling#WarmPoolConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The warm pool for the group.</p>"
                    }
                },
                "WarmPoolSize": {
                    "target": "com.amazonaws.autoscaling#WarmPoolSize",
                    "traits": {
                        "smithy.api#documentation": "<p>The current size of the warm pool.</p>"
                    }
                },
                "Context": {
                    "target": "com.amazonaws.autoscaling#Context",
                    "traits": {
                        "smithy.api#documentation": "<p>Reserved.</p>"
                    }
                },
                "DesiredCapacityType": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#documentation": "<p>The unit of measurement for the value specified for desired capacity. Amazon EC2 Auto Scaling\n            supports <code>DesiredCapacityType</code> for attribute-based instance type selection\n            only.</p>"
                    }
                },
                "DefaultInstanceWarmup": {
                    "target": "com.amazonaws.autoscaling#DefaultInstanceWarmup",
                    "traits": {
                        "smithy.api#documentation": "<p>The duration of the default instance warmup, in seconds.</p>"
                    }
                },
                "TrafficSources": {
                    "target": "com.amazonaws.autoscaling#TrafficSources",
                    "traits": {
                        "smithy.api#documentation": "<p>The traffic sources associated with this Auto Scaling group.</p>"
                    }
                },
                "InstanceMaintenancePolicy": {
                    "target": "com.amazonaws.autoscaling#InstanceMaintenancePolicy",
                    "traits": {
                        "smithy.api#documentation": "<p>An instance maintenance policy.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an Auto Scaling group.</p>"
            }
        },
        "com.amazonaws.autoscaling#AutoScalingGroupDesiredCapacity": {
            "type": "integer"
        },
        "com.amazonaws.autoscaling#AutoScalingGroupMaxSize": {
            "type": "integer"
        },
        "com.amazonaws.autoscaling#AutoScalingGroupMinSize": {
            "type": "integer"
        },
        "com.amazonaws.autoscaling#AutoScalingGroupNames": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.autoscaling#XmlStringMaxLen255"
            }
        },
        "com.amazonaws.autoscaling#AutoScalingGroupNamesType": {
            "type": "structure",
            "members": {
                "AutoScalingGroupNames": {
                    "target": "com.amazonaws.autoscaling#AutoScalingGroupNames",
                    "traits": {
                        "smithy.api#documentation": "<p>The names of the Auto Scaling groups. By default, you can only specify up to 50 names. You can\n            optionally increase this limit using the <code>MaxRecords</code> property.</p>\n         <p>If you omit this property, all Auto Scaling groups are described.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.autoscaling#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>The token for the next set of items to return. (You received this token from a\n            previous call.)</p>"
                    }
                },
                "MaxRecords": {
                    "target": "com.amazonaws.autoscaling#MaxRecords",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of items to return with this call. The default value is\n                <code>50</code> and the maximum value is <code>100</code>.</p>"
                    }
                },
                "Filters": {
                    "target": "com.amazonaws.autoscaling#Filters",
                    "traits": {
                        "smithy.api#documentation": "<p>One or more filters to limit the results based on specific tags.\n            </p>"
                    }
                }
            }
        },
        "com.amazonaws.autoscaling#AutoScalingGroupPredictedCapacity": {
            "type": "integer"
        },
        "com.amazonaws.autoscaling#AutoScalingGroupState": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 32
                }
            }
        },
        "com.amazonaws.autoscaling#AutoScalingGroups": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.autoscaling#AutoScalingGroup"
            }
        },
        "com.amazonaws.autoscaling#AutoScalingGroupsType": {
            "type": "structure",
            "members": {
                "AutoScalingGroups": {
                    "target": "com.amazonaws.autoscaling#AutoScalingGroups",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The groups.</p>",
                        "smithy.api#required": {}
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.autoscaling#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>A string that indicates that the response contains more items than can be returned in\n            a single response. To receive additional items, specify this string for the\n                <code>NextToken</code> value when requesting the next set of items. This value is\n            null when there are no more items to return.</p>"
                    }
                }
            }
        },
        "com.amazonaws.autoscaling#AutoScalingInstanceDetails": {
            "type": "structure",
            "members": {
                "InstanceId": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen19",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The ID of the instance.</p>",
                        "smithy.api#required": {}
                    }
                },
                "InstanceType": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#documentation": "<p>The instance type of the EC2 instance.</p>"
                    }
                },
                "AutoScalingGroupName": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The name of the Auto Scaling group for the instance.</p>",
                        "smithy.api#required": {}
                    }
                },
                "AvailabilityZone": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The Availability Zone for the instance.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LifecycleState": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen32",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The lifecycle state for the instance. The <code>Quarantined</code> state is not used.\n            For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-lifecycle.html\">Amazon EC2 Auto Scaling instance\n                lifecycle</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. </p>\n         <p>Valid values: <code>Pending</code> | <code>Pending:Wait</code> |\n                <code>Pending:Proceed</code> | <code>Quarantined</code> | <code>InService</code> |\n                <code>Terminating</code> | <code>Terminating:Wait</code> |\n                <code>Terminating:Proceed</code> | <code>Terminated</code> | <code>Detaching</code>\n            | <code>Detached</code> | <code>EnteringStandby</code> | <code>Standby</code> |\n                <code>Warmed:Pending</code> | <code>Warmed:Pending:Wait</code> |\n                <code>Warmed:Pending:Proceed</code> | <code>Warmed:Terminating</code> |\n                <code>Warmed:Terminating:Wait</code> | <code>Warmed:Terminating:Proceed</code> |\n                <code>Warmed:Terminated</code> | <code>Warmed:Stopped</code> |\n                <code>Warmed:Running</code>\n         </p>",
                        "smithy.api#required": {}
                    }
                },
                "HealthStatus": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen32",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The last reported health status of this instance. <code>Healthy</code> means that the\n            instance is healthy and should remain in service. <code>Unhealthy</code> means that the\n            instance is unhealthy and Amazon EC2 Auto Scaling should terminate and replace it.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LaunchConfigurationName": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
                    "traits": {
                        "smithy.api#documentation": "<p>The launch configuration used to launch the instance. This value is not available if\n            you attached the instance to the Auto Scaling group.</p>"
                    }
                },
                "LaunchTemplate": {
                    "target": "com.amazonaws.autoscaling#LaunchTemplateSpecification",
                    "traits": {
                        "smithy.api#documentation": "<p>The launch template for the instance.</p>"
                    }
                },
                "ProtectedFromScaleIn": {
                    "target": "com.amazonaws.autoscaling#InstanceProtected",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>Indicates whether the instance is protected from termination by Amazon EC2 Auto Scaling when scaling\n            in.</p>",
                        "smithy.api#required": {}
                    }
                },
                "WeightedCapacity": {
                    "target": "com.amazonaws.autoscaling#XmlStringMaxLen32",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of capacity units contributed by the instance based on its instance\n            type.</p>\n         <p>Valid Range: Minimum value of 1. Maximum value of 999.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an EC2 instance associated with an Auto Scaling group.</p>"
            }
        },
        "com.amazonaws.autoscaling#AutoScalingInstances": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.autoscaling#AutoScalingInstanceDetails"
            }
        },
        "com.amazonaws.autoscaling#AutoScalingInstancesType": {
            "type": "structure",
            "members": {
                "AutoScalingInstances": {
                    "target": "com.amazonaws.autoscaling#AutoScalingInstances",
                    "traits": {
                        "smithy.api#documentation": "<p>The instances.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.autoscaling#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>A string that indicates that the response contains more items than can be returned in\n            a single response. To receive additional items, specify this string for the\n                <code>NextToken</code> value when requesting the next set of items. This value is\n            null when there are no more items to return.</p>"
                    }
                }
            }
        },
        "com.amazonaws.autoscaling#AutoScalingNotificationTypes": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.autoscaling#XmlStringMaxLen255"
            }
        },
        "com.amazonaws.autoscaling#AutoScaling_2011_01_01": {
            "type": "service",
            "version": "2011-01-01",
            "operations": [
                {
                    "target": "com.amazonaws.autoscaling#AttachInstances"
                },
                {
                    "target": "com.amazonaws.autoscaling#AttachLoadBalancers"
                },
                {
                    "target": "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroups"
                },
                {
                    "target": "com.amazonaws.autoscaling#AttachTrafficSources"
                },
                {
                    "target": "com.amazonaws.autoscaling#BatchDeleteScheduledAction"
                },
                {
                    "target": "com.amazonaws.autoscaling#BatchPutScheduledUpdateGroupAction"
                },
                {
                    "target": "com.amazonaws.autoscaling#CancelInstanceRefresh"
                },
                {
                    "target": "com.amazonaws.autoscaling#CompleteLifecycleAction"
                },
                {
                    "target": "com.amazonaws.autoscaling#CreateAutoScalingGroup"
                },
                {
                    "target": "com.amazonaws.autoscaling#CreateLaunchConfiguration"
                },
                {
                    "target": "com.amazonaws.autoscaling#CreateOrUpdateTags"
                },
                {
                    "target": "com.amazonaws.autoscaling#DeleteAutoScalingGroup"
                },
                {
                    "target": "com.amazonaws.autoscaling#DeleteLaunchConfiguration"
                },
                {
                    "target": "com.amazonaws.autoscaling#DeleteLifecycleHook"
                },
                {
                    "target": "com.amazonaws.autoscaling#DeleteNotificationConfiguration"
                },
                {
                    "target": "com.amazonaws.autoscaling#DeletePolicy"
                },
                {
                    "target": "com.amazonaws.autoscaling#DeleteScheduledAction"
                },
                {
                    "target": "com.amazonaws.autoscaling#DeleteTags"
                },
                {
                    "target": "com.amazonaws.autoscaling#DeleteWarmPool"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeAccountLimits"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeAdjustmentTypes"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeAutoScalingGroups"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeAutoScalingInstances"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeAutoScalingNotificationTypes"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeInstanceRefreshes"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeLaunchConfigurations"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeLifecycleHooks"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeLifecycleHookTypes"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeLoadBalancers"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeLoadBalancerTargetGroups"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeMetricCollectionTypes"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeNotificationConfigurations"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribePolicies"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeScalingActivities"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeScalingProcessTypes"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeScheduledActions"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeTags"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeTerminationPolicyTypes"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeTrafficSources"
                },
                {
                    "target": "com.amazonaws.autoscaling#DescribeWarmPool"
                },
                {
                    "target": "com.amazonaws.autoscaling#DetachInstances"
                },
                {
                    "target": "com.amazonaws.autoscaling#DetachLoadBalancers"
                },
                {
                    "target": "com.amazonaws.autoscaling#DetachLoadBalancerTargetGroups"
                },
                {
                    "target": "com.amazonaws.autoscaling#DetachTrafficSources"
                },
                {
                    "target": "com.amazonaws.autoscaling#DisableMetricsCollection"
                },
                {
                    "target": "com.amazonaws.autoscaling#EnableMetricsCollection"
                },
                {
                    "target": "com.amazonaws.autoscaling#EnterStandby"
                },
                {
                    "target": "com.amazonaws.autoscaling#ExecutePolicy"
                },
                {
                    "target": "com.amazonaws.autoscaling#ExitStandby"
                },
                {
                    "target": "com.amazonaws.autoscaling#GetPredictiveScalingForecast"
                },
                {
                    "target": "com.amazonaws.autoscaling#PutLifecycleHook"
                },
                {
                    "target": "com.amazonaws.autoscaling#PutNotificationConfiguration"
                },
                {
                    "target": "com.amazonaws.autoscaling#PutScalingPolicy"
                },
                {
                    "target": "com.amazonaws.autoscaling#PutScheduledUpdateGroupAction"
                },
                {
                    "target": "com.amazonaws.autoscaling#PutWarmPool"
                },
                {
                    "target": "com.amazonaws.autoscaling#RecordLifecycleActionHeartbeat"
                },
                {
                    "target": "com.amazonaws.autoscaling#ResumeProcesses"
                },
                {
                    "target": "com.amazonaws.autoscaling#RollbackInstanceRefresh"
                },
                {
                    "target": "com.amazonaws.autoscaling#SetDesiredCapacity"
                },
                {
                    "target": "com.amazonaws.autoscaling#SetInstanceHealth"
                },
                {
                    "target": "com.amazonaws.autoscaling#SetInstanceProtection"
                },
                {
                    "target": "com.amazonaws.autoscaling#StartInstanceRefresh"
                },
                {
                    "target": "com.amazonaws.autoscaling#SuspendProcesses"
                },
                {
                    "target": "com.amazonaws.autoscaling#TerminateInstanceInAutoScalingGroup"
                },
                {
                    "target": "com.amazonaws.autoscaling#UpdateAutoScalingGroup"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Auto Scaling",
                    "arnNamespace": "autoscaling",
                    "cloudFormationName": "AutoScaling",
                    "cloudTrailEventSource": "autoscaling.amazonaws.com",
                    "docId": "autoscaling-2011-01-01",
                    "endpointPrefix": "autoscaling"
                },
                "aws.auth#sigv4": {
                    "name": "autoscaling"
                },
                "aws.protocols#awsQuery": {},
                "smithy.api#documentation": "<fullname>Amazon EC2 Auto Scaling</fullname>\n         <p>Amazon EC2 Auto Scaling is designed to automatically launch and terminate EC2 instances\n            based on user-defined scaling policies, scheduled actions, and health checks.</p>\n         <p>For more information, see the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/what-is-amazon-ec2-auto-scaling.html\">Amazon EC2 Auto Scaling User Guide</a> and the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/Welcome.html\">Amazon EC2 Auto Scaling API Reference</a>.</p>",
                "smithy.api#title": "Auto Scaling",
                "smithy.api#xmlNamespace": {
                    "uri": "http://autoscaling.amazonaws.com/doc/2011-01-01/"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://autoscaling-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "stringEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "name"
                                                                            ]
                                                                        },
                                                                        "aws-us-gov"
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://autoscaling.{Region}.amazonaws.com",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://autoscaling-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://autoscaling.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://autoscaling.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "af-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.ap-southeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "me-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://autoscaling.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
[...]
