{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.bedrockagentruntime#APISchema": {
            "type": "union",
            "members": {
                "s3": {
                    "target": "com.amazonaws.bedrockagentruntime#S3Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p> Contains details about the S3 object containing the OpenAPI schema for the action group. </p>"
                    }
                },
                "payload": {
                    "target": "com.amazonaws.bedrockagentruntime#Payload",
                    "traits": {
                        "smithy.api#documentation": "<p> The JSON or YAML-formatted payload defining the OpenAPI schema for the action group. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Contains details about the OpenAPI schema for the action group. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>. You can either include the schema directly in the payload field or you can upload it to an S3 bucket and specify the S3 bucket location in the s3 field. </p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#AWSResourceARN": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:agent/[0-9a-zA-Z]{10}$"
            }
        },
        "com.amazonaws.bedrockagentruntime#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.bedrockagentruntime#NonBlankString"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request is denied because of missing access permissions. Check your permissions and retry your request.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.bedrockagentruntime#ActionGroupExecutor": {
            "type": "union",
            "members": {
                "lambda": {
                    "target": "com.amazonaws.bedrockagentruntime#LambdaResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the Lambda function containing the business logic that is carried out upon invoking the action. </p>"
                    }
                },
                "customControl": {
                    "target": "com.amazonaws.bedrockagentruntime#CustomControlMethod",
                    "traits": {
                        "smithy.api#documentation": "<p> To return the action group invocation results directly in the <code>InvokeInlineAgent</code> response, specify <code>RETURN_CONTROL</code>. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Contains details about the Lambda function containing the business logic that is carried out upon invoking the action or the custom control method for handling the information elicited from the user. </p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#ActionGroupInvocationInput": {
            "type": "structure",
            "members": {
                "actionGroupName": {
                    "target": "com.amazonaws.bedrockagentruntime#ActionGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the action group.</p>"
                    }
                },
                "verb": {
                    "target": "com.amazonaws.bedrockagentruntime#Verb",
                    "traits": {
                        "smithy.api#documentation": "<p>The API method being used, based off the action group.</p>"
                    }
                },
                "apiPath": {
                    "target": "com.amazonaws.bedrockagentruntime#ApiPath",
                    "traits": {
                        "smithy.api#documentation": "<p>The path to the API to call, based off the action group.</p>"
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.bedrockagentruntime#Parameters",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameters in the Lambda input event.</p>"
                    }
                },
                "requestBody": {
                    "target": "com.amazonaws.bedrockagentruntime#RequestBody",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameters in the request body for the Lambda input event.</p>"
                    }
                },
                "function": {
                    "target": "com.amazonaws.bedrockagentruntime#Function",
                    "traits": {
                        "smithy.api#documentation": "<p>The function in the action group to call.</p>"
                    }
                },
                "executionType": {
                    "target": "com.amazonaws.bedrockagentruntime#ExecutionType",
                    "traits": {
                        "smithy.api#documentation": "<p>How fulfillment of the action is handled. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/action-handle.html\">Handling fulfillment of the action</a>.</p>"
                    }
                },
                "invocationId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the invocation. Only returned if the <code>executionType</code> is <code>RETURN_CONTROL</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about the action group being invoked. For more information about the possible structures, see the InvocationInput tab in <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/trace-orchestration.html\">OrchestrationTrace</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#ActionGroupInvocationOutput": {
            "type": "structure",
            "members": {
                "text": {
                    "target": "com.amazonaws.bedrockagentruntime#ActionGroupOutputString",
                    "traits": {
                        "smithy.api#documentation": "<p>The JSON-formatted string returned by the API invoked by the action group.</p>"
                    }
                },
                "metadata": {
                    "target": "com.amazonaws.bedrockagentruntime#Metadata",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about the action group output.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the JSON-formatted string returned by the API invoked by the action group.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#ActionGroupName": {
            "type": "string",
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentruntime#ActionGroupOutputString": {
            "type": "string",
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentruntime#ActionGroupSignature": {
            "type": "enum",
            "members": {
                "AMAZON_USERINPUT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AMAZON.UserInput"
                    }
                },
                "AMAZON_CODEINTERPRETER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AMAZON.CodeInterpreter"
                    }
                },
                "ANTHROPIC_COMPUTER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ANTHROPIC.Computer"
                    }
                },
                "ANTHROPIC_BASH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ANTHROPIC.Bash"
                    }
                },
                "ANTHROPIC_TEXTEDITOR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ANTHROPIC.TextEditor"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentruntime#ActionGroupSignatureParams": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "max": 100
                    }
                }
            },
            "value": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "max": 100
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentruntime#ActionInvocationType": {
            "type": "enum",
            "members": {
                "RESULT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RESULT"
                    }
                },
                "USER_CONFIRMATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "USER_CONFIRMATION"
                    }
                },
                "USER_CONFIRMATION_AND_RESULT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "USER_CONFIRMATION_AND_RESULT"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentruntime#AdditionalModelRequestFields": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.bedrockagentruntime#AdditionalModelRequestFieldsKey"
            },
            "value": {
                "target": "com.amazonaws.bedrockagentruntime#AdditionalModelRequestFieldsValue"
            }
        },
        "com.amazonaws.bedrockagentruntime#AdditionalModelRequestFieldsKey": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.bedrockagentruntime#AdditionalModelRequestFieldsValue": {
            "type": "document"
        },
        "com.amazonaws.bedrockagentruntime#AgentActionGroup": {
            "type": "structure",
            "members": {
                "actionGroupName": {
                    "target": "com.amazonaws.bedrockagentruntime#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the action group. </p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.bedrockagentruntime#ResourceDescription",
                    "traits": {
                        "smithy.api#documentation": "<p> A description of the action group. </p>"
                    }
                },
                "parentActionGroupSignature": {
                    "target": "com.amazonaws.bedrockagentruntime#ActionGroupSignature",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify a built-in or computer use action for this action group. If you specify a value, you must leave the <code>description</code>, <code>apiSchema</code>, and <code>actionGroupExecutor</code> fields empty for this action group. </p> <ul> <li> <p>To allow your agent to request the user for additional information when trying to complete a task, set this field to <code>AMAZON.UserInput</code>. </p> </li> <li> <p>To allow your agent to generate, run, and troubleshoot code when trying to complete a task, set this field to <code>AMAZON.CodeInterpreter</code>.</p> </li> <li> <p>To allow your agent to use an Anthropic computer use tool, specify one of the following values. </p> <important> <p> Computer use is a new Anthropic Claude model capability (in beta) available with Anthropic Claude 3.7 Sonnet and Claude 3.5 Sonnet v2 only. When operating computer use functionality, we recommend taking additional security precautions, such as executing computer actions in virtual environments with restricted data access and limited internet connectivity. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agent-computer-use.html\">Configure an Amazon Bedrock Agent to complete tasks with computer use tools</a>. </p> </important> <ul> <li> <p> <code>ANTHROPIC.Computer</code> - Gives the agent permission to use the mouse and keyboard and take screenshots.</p> </li> <li> <p> <code>ANTHROPIC.TextEditor</code> - Gives the agent permission to view, create and edit files.</p> </li> <li> <p> <code>ANTHROPIC.Bash</code> - Gives the agent permission to run commands in a bash shell.</p> </li> </ul> </li> </ul>"
                    }
                },
                "actionGroupExecutor": {
                    "target": "com.amazonaws.bedrockagentruntime#ActionGroupExecutor",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the Lambda function containing the business logic that is carried out upon invoking the action or the custom control method for handling the information elicited from the user. </p>"
                    }
                },
                "apiSchema": {
                    "target": "com.amazonaws.bedrockagentruntime#APISchema",
                    "traits": {
                        "smithy.api#documentation": "<p> Contains either details about the S3 object containing the OpenAPI schema for the action group or the JSON or YAML-formatted payload defining the schema. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>. </p>"
                    }
                },
                "functionSchema": {
                    "target": "com.amazonaws.bedrockagentruntime#FunctionSchema",
                    "traits": {
                        "smithy.api#documentation": "<p> Contains details about the function schema for the action group or the JSON or YAML-formatted payload defining the schema. </p>"
                    }
                },
                "parentActionGroupSignatureParams": {
                    "target": "com.amazonaws.bedrockagentruntime#ActionGroupSignatureParams",
                    "traits": {
                        "smithy.api#documentation": "<p> The configuration settings for a computer use action. </p> <important> <p>Computer use is a new Anthropic Claude model capability (in beta) available with Claude 3.7 Sonnet and Claude 3.5 Sonnet v2 only. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agent-computer-use.html\">Configure an Amazon Bedrock Agent to complete tasks with computer use tools</a>.</p> </important>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Contains details of the inline agent's action group. </p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#AgentActionGroups": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentruntime#AgentActionGroup"
            }
        },
        "com.amazonaws.bedrockagentruntime#AgentAliasArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:agent-alias/[0-9a-zA-Z]{10}/[0-9a-zA-Z]{10}$"
            }
        },
        "com.amazonaws.bedrockagentruntime#AgentAliasId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 10
                },
                "smithy.api#pattern": "^[0-9a-zA-Z]+$"
            }
        },
        "com.amazonaws.bedrockagentruntime#AgentCollaboration": {
            "type": "enum",
            "members": {
                "SUPERVISOR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUPERVISOR"
                    }
                },
                "SUPERVISOR_ROUTER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUPERVISOR_ROUTER"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentruntime#AgentCollaboratorInputPayload": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.bedrockagentruntime#PayloadType",
                    "traits": {
                        "smithy.api#documentation": "<p>The input type.</p>"
                    }
                },
                "text": {
                    "target": "com.amazonaws.bedrockagentruntime#AgentCollaboratorPayloadString",
                    "traits": {
                        "smithy.api#documentation": "<p>Input text.</p>"
                    }
                },
                "returnControlResults": {
                    "target": "com.amazonaws.bedrockagentruntime#ReturnControlResults",
                    "traits": {
                        "smithy.api#documentation": "<p>An action invocation result.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Input for an agent collaborator. The input can be text or an action invocation result.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#AgentCollaboratorInvocationInput": {
            "type": "structure",
            "members": {
                "agentCollaboratorName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The collaborator's name.</p>"
                    }
                },
                "agentCollaboratorAliasArn": {
                    "target": "com.amazonaws.bedrockagentruntime#AgentAliasArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The collaborator's alias ARN.</p>"
                    }
                },
                "input": {
                    "target": "com.amazonaws.bedrockagentruntime#AgentCollaboratorInputPayload",
                    "traits": {
                        "smithy.api#documentation": "<p>Text or action invocation result input for the collaborator.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An agent collaborator invocation input.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#AgentCollaboratorInvocationOutput": {
            "type": "structure",
            "members": {
                "agentCollaboratorName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The output's agent collaborator name.</p>"
                    }
                },
                "agentCollaboratorAliasArn": {
                    "target": "com.amazonaws.bedrockagentruntime#AgentAliasArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The output's agent collaborator alias ARN.</p>"
                    }
                },
                "output": {
                    "target": "com.amazonaws.bedrockagentruntime#AgentCollaboratorOutputPayload",
                    "traits": {
                        "smithy.api#documentation": "<p>The output's output.</p>"
                    }
                },
                "metadata": {
                    "target": "com.amazonaws.bedrockagentruntime#Metadata",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about the output from the agent collaborator.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Output from an agent collaborator.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#AgentCollaboratorOutputPayload": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.bedrockagentruntime#PayloadType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of output.</p>"
                    }
                },
                "text": {
                    "target": "com.amazonaws.bedrockagentruntime#AgentCollaboratorPayloadString",
                    "traits": {
                        "smithy.api#documentation": "<p>Text output.</p>"
                    }
                },
                "returnControlPayload": {
                    "target": "com.amazonaws.bedrockagentruntime#ReturnControlPayload",
                    "traits": {
                        "smithy.api#documentation": "<p>An action invocation result.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Output from an agent collaborator. The output can be text or an action invocation result.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#AgentCollaboratorPayloadString": {
            "type": "string",
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentruntime#AgentId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 10
                },
                "smithy.api#pattern": "^[0-9a-zA-Z]+$"
            }
        },
        "com.amazonaws.bedrockagentruntime#AgentVersion": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 5
                },
                "smithy.api#pattern": "^(DRAFT|[0-9]{0,4}[1-9][0-9]{0,4})$"
            }
        },
        "com.amazonaws.bedrockagentruntime#AmazonBedrockAgentRunTimeService": {
            "type": "service",
            "version": "2023-07-26",
            "resources": [
                {
                    "target": "com.amazonaws.bedrockagentruntime#FlowExecutionResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentruntime#FlowResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentruntime#GenerateQueryResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentruntime#InferenceResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentruntime#InlineAgentResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentruntime#MemoryResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentruntime#OptimizePromptResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentruntime#RerankResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentruntime#RetrieveAndGenerateResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentruntime#RetrieveAndGenerateStreamResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentruntime#RetrieveResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentruntime#SessionResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentruntime#TaggingResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Bedrock Agent Runtime",
                    "arnNamespace": "bedrock",
                    "endpointPrefix": "bedrock-agent-runtime",
                    "cloudTrailEventSource": "bedrock.amazonaws.com"
                },
                "aws.auth#sigv4": {
                    "name": "bedrock"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>Contains APIs related to model invocation and querying of knowledge bases.</p>",
                "smithy.api#title": "Agents for Amazon Bedrock Runtime",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agent-runtime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agent-runtime-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agent-runtime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://bedrock-agent-runtime.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agent-runtime.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.bedrockagentruntime#AnalyzePromptEvent": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A message describing the analysis of the prompt.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An event in which the prompt was analyzed in preparation for optimization.</p>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentruntime#ApiContentMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "com.amazonaws.bedrockagentruntime#PropertyParameters"
            }
        },
        "com.amazonaws.bedrockagentruntime#ApiInvocationInput": {
            "type": "structure",
            "members": {
                "actionGroup": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The action group that the API operation belongs to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "httpMethod": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTP method of the API operation.</p>"
                    }
                },
                "apiPath": {
                    "target": "com.amazonaws.bedrockagentruntime#ApiPath",
                    "traits": {
                        "smithy.api#documentation": "<p>The path to the API operation.</p>"
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.bedrockagentruntime#ApiParameters",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameters to provide for the API request, as the agent elicited from the user.</p>"
                    }
                },
                "requestBody": {
                    "target": "com.amazonaws.bedrockagentruntime#ApiRequestBody",
                    "traits": {
                        "smithy.api#documentation": "<p>The request body to provide for the API request, as the agent elicited from the user.</p>"
                    }
                },
                "actionInvocationType": {
                    "target": "com.amazonaws.bedrockagentruntime#ActionInvocationType",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about the API operation to invoke.</p>"
                    }
                },
                "agentId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The agent's ID.</p>"
                    }
                },
                "collaboratorName": {
                    "target": "com.amazonaws.bedrockagentruntime#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The agent collaborator's name.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about the API operation that the agent predicts should be called.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p>In the <code>returnControl</code> field of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> </p> </li> </ul>"
            }
        },
        "com.amazonaws.bedrockagentruntime#ApiParameter": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the parameter.</p>"
                    }
                },
                "type": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The data type for the parameter.</p>"
                    }
                },
                "value": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the parameter.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a parameter to provide to the API request.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> </p> </li> </ul>"
            }
        },
        "com.amazonaws.bedrockagentruntime#ApiParameters": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentruntime#ApiParameter"
            }
        },
        "com.amazonaws.bedrockagentruntime#ApiPath": {
            "type": "string",
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentruntime#ApiRequestBody": {
            "type": "structure",
            "members": {
                "content": {
                    "target": "com.amazonaws.bedrockagentruntime#ApiContentMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The content of the request body. The key of the object in this field is a media type defining the format of the request body.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request body to provide for the API request, as the agent elicited from the user.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> </p> </li> </ul>"
            }
        },
        "com.amazonaws.bedrockagentruntime#ApiResult": {
            "type": "structure",
            "members": {
                "actionGroup": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The action group that the API operation belongs to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "httpMethod": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTP method for the API operation.</p>"
                    }
                },
                "apiPath": {
                    "target": "com.amazonaws.bedrockagentruntime#ApiPath",
                    "traits": {
                        "smithy.api#documentation": "<p>The path to the API operation.</p>"
                    }
                },
                "confirmationState": {
                    "target": "com.amazonaws.bedrockagentruntime#ConfirmationState",
                    "traits": {
                        "smithy.api#documentation": "<p>Controls the API operations or functions to invoke based on the user confirmation.</p>"
                    }
                },
                "responseState": {
                    "target": "com.amazonaws.bedrockagentruntime#ResponseState",
                    "traits": {
                        "smithy.api#documentation": "<p>Controls the final response state returned to end user when API/Function execution failed. When this state is FAILURE, the request would fail with dependency failure exception. When this state is REPROMPT, the API/function response will be sent to model for re-prompt</p>"
                    }
                },
                "httpStatusCode": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>http status code from API execution response (for example: 200, 400, 500).</p>"
                    }
                },
                "responseBody": {
                    "target": "com.amazonaws.bedrockagentruntime#ResponseBody",
                    "traits": {
                        "smithy.api#documentation": "<p>The response body from the API operation. The key of the object is the content type (currently, only <code>TEXT</code> is supported). The response may be returned directly or from the Lambda function.</p>"
                    }
                },
                "agentId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The agent's ID.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about the API operation that was called from the action group and the response body that was returned.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p>In the <code>returnControlInvocationResults</code> of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_RequestSyntax\">InvokeAgent request</a> </p> </li> </ul>"
            }
        },
        "com.amazonaws.bedrockagentruntime#AttributeType": {
            "type": "enum",
            "members": {
                "STRING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STRING"
                    }
                },
                "NUMBER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NUMBER"
                    }
                },
                "BOOLEAN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BOOLEAN"
                    }
                },
                "STRING_LIST": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STRING_LIST"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentruntime#Attribution": {
            "type": "structure",
            "members": {
                "citations": {
                    "target": "com.amazonaws.bedrockagentruntime#Citations",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of citations and related information for a part of an agent response.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains citations for a part of an agent response.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#BadGatewayException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.bedrockagentruntime#NonBlankString"
                },
                "resourceName": {
                    "target": "com.amazonaws.bedrockagentruntime#NonBlankString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>There was an issue with a dependency due to a server issue. Retry your request.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 502
            }
        },
        "com.amazonaws.bedrockagentruntime#BasePromptTemplate": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100000
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentruntime#BedrockModelArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#pattern": "^(arn:aws(-[^:]+)?:(bedrock|sagemaker):[a-z0-9-]{1,20}:([0-9]{12})?:([a-z-]+/)?)?([a-z0-9.-]{1,63}){0,2}(([:][a-z0-9-]{1,63}){0,2})?(/[a-z0-9]{1,12})?$"
            }
        },
        "com.amazonaws.bedrockagentruntime#BedrockModelConfigurations": {
            "type": "structure",
            "members": {
                "performanceConfig": {
                    "target": "com.amazonaws.bedrockagentruntime#PerformanceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The performance configuration for the model.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Settings for a model called with <a>InvokeAgent</a>.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#BedrockRerankingConfiguration": {
            "type": "structure",
            "members": {
                "numberOfResults": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of results to return after reranking.</p>",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 1000
                        }
                    }
                },
                "modelConfiguration": {
                    "target": "com.amazonaws.bedrockagentruntime#BedrockRerankingModelConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains configurations for a reranker model.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains configurations for an Amazon Bedrock reranker model.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#BedrockRerankingModelArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#pattern": "^(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}::foundation-model/(.*))?$"
            }
        },
        "com.amazonaws.bedrockagentruntime#BedrockRerankingModelConfiguration": {
            "type": "structure",
            "members": {
                "modelArn": {
                    "target": "com.amazonaws.bedrockagentruntime#BedrockModelArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the reranker model.</p>",
                        "smithy.api#required": {}
                    }
                },
                "additionalModelRequestFields": {
                    "target": "com.amazonaws.bedrockagentruntime#AdditionalModelRequestFields",
                    "traits": {
                        "smithy.api#documentation": "<p>A JSON object whose keys are request fields for the model and whose values are values for those fields.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains configurations for a reranker model.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#BedrockSessionContentBlock": {
            "type": "union",
            "members": {
                "text": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The text in the invocation step.</p>",
                        "smithy.api#length": {
                            "min": 1
                        }
                    }
                },
                "image": {
                    "target": "com.amazonaws.bedrockagentruntime#ImageBlock",
                    "traits": {
                        "smithy.api#documentation": "<p>The image in the invocation step.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A block of content that you pass to, or receive from, a Amazon Bedrock session in an invocation step. You pass the content to a session in the <code>payLoad</code> of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_PutInvocationStep.html\">PutInvocationStep</a> API operation. You retrieve the content with the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_GetInvocationStep.html\">GetInvocationStep</a> API operation.</p> <p>For more information about sessions, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/sessions.html\">Store and retrieve conversation history and context with Amazon Bedrock sessions</a>.</p>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentruntime#BedrockSessionContentBlocks": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentruntime#BedrockSessionContentBlock"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.bedrockagentruntime#ByteContentBlob": {
            "type": "blob",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10485760
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentruntime#ByteContentDoc": {
            "type": "structure",
            "members": {
                "identifier": {
                    "target": "com.amazonaws.bedrockagentruntime#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The file name of the document contained in the wrapper object.</p>",
                        "smithy.api#required": {}
                    }
                },
                "contentType": {
                    "target": "com.amazonaws.bedrockagentruntime#ContentType",
                    "traits": {
                        "smithy.api#documentation": "<p>The MIME type of the document contained in the wrapper object.</p>",
                        "smithy.api#required": {}
                    }
                },
                "data": {
                    "target": "com.amazonaws.bedrockagentruntime#ByteContentBlob",
                    "traits": {
                        "smithy.api#documentation": "<p>The byte value of the file to upload, encoded as a Base-64 string.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This property contains the document to chat with, along with its attributes.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#ByteContentFile": {
            "type": "structure",
            "members": {
                "mediaType": {
                    "target": "com.amazonaws.bedrockagentruntime#MimeType",
                    "traits": {
                        "smithy.api#documentation": "<p>The MIME type of data contained in the file used for chat.</p>",
                        "smithy.api#required": {}
                    }
                },
                "data": {
                    "target": "com.amazonaws.bedrockagentruntime#ByteContentBlob",
                    "traits": {
                        "smithy.api#documentation": "<p>The raw bytes of the file to attach. The maximum size of all files that is attached is 10MB. You can attach a maximum of 5 files. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The property contains the file to chat with, along with its attributes.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#Caller": {
            "type": "union",
            "members": {
                "agentAliasArn": {
                    "target": "com.amazonaws.bedrockagentruntime#AgentAliasArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The caller's agent alias ARN.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details about a caller.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#CallerChain": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentruntime#Caller"
            }
        },
        "com.amazonaws.bedrockagentruntime#Citation": {
            "type": "structure",
            "members": {
                "generatedResponsePart": {
                    "target": "com.amazonaws.bedrockagentruntime#GeneratedResponsePart",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the generated response and metadata </p>"
                    }
                },
                "retrievedReferences": {
                    "target": "com.amazonaws.bedrockagentruntime#RetrievedReferences",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains metadata about the sources cited for the generated response.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object containing a segment of the generated response that is based on a source in the knowledge base, alongside information about the source.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> – in the <code>citations</code> field</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_ResponseSyntax\">RetrieveAndGenerate response</a> – in the <code>citations</code> field</p> </li> </ul>"
            }
        },
        "com.amazonaws.bedrockagentruntime#CitationEvent": {
            "type": "structure",
            "members": {
                "citation": {
                    "target": "com.amazonaws.bedrockagentruntime#Citation",
                    "traits": {
                        "smithy.api#deprecated": {
                            "since": "2024-12-17",
                            "message": "Citation is deprecated. Please use GeneratedResponsePart and RetrievedReferences for citation event."
                        },
                        "smithy.api#documentation": "<p>The citation.</p>"
                    }
                },
                "generatedResponsePart": {
                    "target": "com.amazonaws.bedrockagentruntime#GeneratedResponsePart",
                    "traits": {
                        "smithy.api#documentation": "<p>The generated response to the citation event.</p>"
                    }
                },
                "retrievedReferences": {
                    "target": "com.amazonaws.bedrockagentruntime#RetrievedReferences",
                    "traits": {
                        "smithy.api#documentation": "<p>The retrieved references of the citation event.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A citation event.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#Citations": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentruntime#Citation"
            }
        },
        "com.amazonaws.bedrockagentruntime#CodeInterpreterInvocationInput": {
            "type": "structure",
            "members": {
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The code for the code interpreter to use.</p>"
                    }
                },
                "files": {
                    "target": "com.amazonaws.bedrockagentruntime#Files",
                    "traits": {
                        "smithy.api#documentation": "<p>Files that are uploaded for code interpreter to use.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about the code interpreter being invoked.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#CodeInterpreterInvocationOutput": {
            "type": "structure",
            "members": {
                "executionOutput": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the successful output returned from code execution</p>"
                    }
                },
                "executionError": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the error returned from code execution.</p>"
                    }
                },
                "files": {
                    "target": "com.amazonaws.bedrockagentruntime#Files",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains output files, if generated by code execution.</p>"
                    }
                },
                "executionTimeout": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates if the execution of the code timed out.</p>"
                    }
                },
                "metadata": {
                    "target": "com.amazonaws.bedrockagentruntime#Metadata",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about the output from the code interpreter.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the JSON-formatted string returned by the API invoked by the code interpreter.</p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#CollaborationInstruction": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 4000
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentruntime#Collaborator": {
            "type": "structure",
            "members": {
                "customerEncryptionKeyArn": {
                    "target": "com.amazonaws.bedrockagentruntime#KmsKeyArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the AWS KMS key that encrypts the inline collaborator. </p>"
                    }
                },
                "foundationModel": {
                    "target": "com.amazonaws.bedrockagentruntime#ModelIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p> The foundation model used by the inline collaborator agent. </p>",
                        "smithy.api#required": {}
                    }
                },
                "instruction": {
                    "target": "com.amazonaws.bedrockagentruntime#Instruction",
                    "traits": {
                        "smithy.api#documentation": "<p> Instruction that tell the inline collaborator agent what it should do and how it should interact with users. </p>",
                        "smithy.api#required": {}
                    }
                },
                "idleSessionTTLInSeconds": {
                    "target": "com.amazonaws.bedrockagentruntime#SessionTTL",
                    "traits": {
                        "smithy.api#documentation": "<p> The number of seconds for which the Amazon Bedrock keeps information about the user's conversation with the inline collaborator agent.</p> <p>A user interaction remains active for the amount of time specified. If no conversation occurs during this time, the session expires and Amazon Bedrock deletes any data provided before the timeout. </p>"
                    }
                },
                "actionGroups": {
                    "target": "com.amazonaws.bedrockagentruntime#AgentActionGroups",
                    "traits": {
                        "smithy.api#documentation": "<p> List of action groups with each action group defining tasks the inline collaborator agent needs to carry out. </p>"
                    }
                },
                "knowledgeBases": {
                    "target": "com.amazonaws.bedrockagentruntime#KnowledgeBases",
                    "traits": {
                        "smithy.api#documentation": "<p> Knowledge base associated with the inline collaborator agent. </p>"
                    }
                },
                "guardrailConfiguration": {
                    "target": "com.amazonaws.bedrockagentruntime#GuardrailConfigurationWithArn",
                    "traits": {
                        "smithy.api#documentation": "<p> Details of the guardwrail associated with the inline collaborator. </p>"
                    }
                },
                "promptOverrideConfiguration": {
                    "target": "com.amazonaws.bedrockagentruntime#PromptOverrideConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p> Contains configurations to override prompt templates in different parts of an inline collaborator sequence. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/advanced-prompts.html\">Advanced prompts</a>. </p>"
                    }
                },
                "agentCollaboration": {
                    "target": "com.amazonaws.bedrockagentruntime#AgentCollaboration",
                    "traits": {
                        "smithy.api#documentation": "<p> Defines how the inline supervisor agent handles information across multiple collaborator agents to coordinate a final response. </p>"
                    }
                },
                "collaboratorConfigurations": {
                    "target": "com.amazonaws.bedrockagentruntime#CollaboratorConfigurations",
                    "traits": {
                        "smithy.api#documentation": "<p> Settings of the collaborator agent. </p>"
                    }
                },
                "agentName": {
                    "target": "com.amazonaws.bedrockagentruntime#Name",
                    "traits": {
                        "smithy.api#documentation": "<p> Name of the inline collaborator agent which must be the same name as specified for <code>collaboratorName</code>. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> List of inline collaborators. </p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#CollaboratorConfiguration": {
            "type": "structure",
            "members": {
                "collaboratorName": {
                    "target": "com.amazonaws.bedrockagentruntime#Name",
                    "traits": {
                        "smithy.api#documentation": "<p> Name of the inline collaborator agent which must be the same name as specified for <code>agentName</code>. </p>",
                        "smithy.api#required": {}
                    }
                },
                "collaboratorInstruction": {
                    "target": "com.amazonaws.bedrockagentruntime#CollaborationInstruction",
                    "traits": {
                        "smithy.api#documentation": "<p> Instructions that tell the inline collaborator agent what it should do and how it should interact with users. </p>",
                        "smithy.api#required": {}
                    }
                },
                "agentAliasArn": {
                    "target": "com.amazonaws.bedrockagentruntime#AgentAliasArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the inline collaborator agent. </p>"
                    }
                },
                "relayConversationHistory": {
                    "target": "com.amazonaws.bedrockagentruntime#RelayConversationHistory",
                    "traits": {
                        "smithy.api#documentation": "<p> A relay conversation history for the inline collaborator agent. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Settings of an inline collaborator agent. </p>"
            }
        },
        "com.amazonaws.bedrockagentruntime#CollaboratorConfigurations": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentruntime#CollaboratorConfiguration"
            }
        },
        "com.amazonaws.bedrockagentruntime#Collaborators": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentruntime#Collaborator"
            }
        },
        "com.amazonaws.bedrockagentruntime#ConditionResultEvent": {
            "type": "structure",
            "members": {
                "nodeName": {
                    "target": "com.amazonaws.bedrockagentruntime#NodeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the condition node that evaluated the conditions.</p>",
                        "smithy.api#required": {}
                    }
                },
                "timestamp": {
                    "target": "com.amazonaws.bedrockagentruntime#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the condition evaluation occurred.</p>",
                        "smithy.api#required": {}
                    }
                },
                "satisfiedConditions": {
                    "target": "com.amazonaws.bedrockagentruntime#SatisfiedConditions",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of conditions that were satisfied during the evaluation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about a condition evaluation result during a flow execution. This event is generated when a condition node in the flow evaluates its conditions.</p> <note> <p>Flow executions is in preview release for Amazon Bedrock and is subject to change.</p> </note>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentruntime#ConfirmationState": {
            "type": "enum",
            "members": {
                "CONFIRM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONFIRM"
                    }
                },
                "DENY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DENY"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentruntime#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
[...]
