{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.bedrockagentcorecontrol#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#NonBlankString"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This exception is thrown when a request is denied per access permissions</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentEndpointDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentEndpointResource": {
            "type": "resource",
            "identifiers": {
                "agentRuntimeId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeId"
                },
                "endpointName": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#EndpointName"
                }
            },
            "create": {
                "target": "com.amazonaws.bedrockagentcorecontrol#CreateAgentRuntimeEndpoint"
            },
            "read": {
                "target": "com.amazonaws.bedrockagentcorecontrol#GetAgentRuntimeEndpoint"
            },
            "update": {
                "target": "com.amazonaws.bedrockagentcorecontrol#UpdateAgentRuntimeEndpoint"
            },
            "delete": {
                "target": "com.amazonaws.bedrockagentcorecontrol#DeleteAgentRuntimeEndpoint"
            },
            "list": {
                "target": "com.amazonaws.bedrockagentcorecontrol#ListAgentRuntimeEndpoints"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentResource": {
            "type": "resource",
            "identifiers": {
                "agentRuntimeId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeId"
                }
            },
            "create": {
                "target": "com.amazonaws.bedrockagentcorecontrol#CreateAgentRuntime"
            },
            "read": {
                "target": "com.amazonaws.bedrockagentcorecontrol#GetAgentRuntime"
            },
            "update": {
                "target": "com.amazonaws.bedrockagentcorecontrol#UpdateAgentRuntime"
            },
            "delete": {
                "target": "com.amazonaws.bedrockagentcorecontrol#DeleteAgentRuntime"
            },
            "list": {
                "target": "com.amazonaws.bedrockagentcorecontrol#ListAgentRuntimes"
            },
            "operations": [
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ListAgentRuntimeVersions"
                }
            ]
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntime": {
            "type": "structure",
            "members": {
                "agentRuntimeArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agentRuntimeId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the agent runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agentRuntimeVersion": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the agent runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agentRuntimeName": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the agent runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the agent runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lastUpdatedAt": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the agent runtime was last updated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the agent runtime.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about an agent runtime. An agent runtime is the execution environment for a Amazon Bedrock Agent.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::BedrockAgentCore::Runtime"
                },
                "smithy.api#pattern": "^arn:(-[^:]+)?:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:agent/[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}:([0-9]{0,4}[1-9][0-9]{0,4})$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeArtifact": {
            "type": "union",
            "members": {
                "containerConfiguration": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ContainerConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The container configuration for the agent artifact.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The artifact of the agent.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpoint": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#EndpointName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the agent runtime endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "liveVersion": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The live version of the agent runtime endpoint. This is the version that is currently serving requests.</p>"
                    }
                },
                "targetVersion": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The target version of the agent runtime endpoint. This is the version that the endpoint is being updated to.</p>"
                    }
                },
                "agentRuntimeEndpointArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpointArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent runtime endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agentRuntimeArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent runtime associated with the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpointStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the agent runtime endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "id": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpointId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the agent runtime endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentEndpointDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the agent runtime endpoint.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the agent runtime endpoint was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lastUpdatedAt": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the agent runtime endpoint was last updated.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about an agent runtime endpoint. An endpoint provides a way to connect to and interact with an agent runtime.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpointArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::BedrockAgentCore::RuntimeEndpoint"
                },
                "smithy.api#pattern": "^arn:(-[^:]+)?:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:agentEndpoint/[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpointId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]{0,99}-[a-zA-Z0-9]{10}$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpointStatus": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "CREATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_FAILED"
                    }
                },
                "UPDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATING"
                    }
                },
                "UPDATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_FAILED"
                    }
                },
                "READY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "READY"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpoints": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpoint"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]{0,99}-[a-zA-Z0-9]{10}$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeName": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]{0,47}$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeStatus": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "CREATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_FAILED"
                    }
                },
                "UPDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATING"
                    }
                },
                "UPDATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_FAILED"
                    }
                },
                "READY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "READY"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeVersion": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 5
                },
                "smithy.api#pattern": "^([1-9][0-9]{0,4})$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimes": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntime"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedAudience": {
            "type": "string"
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedAudienceList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AllowedAudience"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedClient": {
            "type": "string"
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedClientsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AllowedClient"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AmazonBedrockAgentCoreControl": {
            "type": "service",
            "version": "2023-06-05",
            "operations": [
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#GetTokenVault"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#SetTokenVaultCMK"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#TagResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#UntagResource"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentEndpointResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProvider"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#BrowserResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#GatewayResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#GatewayTargetResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#MemoryResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#Oauth2CredentialProvider"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#WorkloadIdentity"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Bedrock AgentCore Control",
                    "arnNamespace": "bedrock-agentcore",
                    "endpointPrefix": "bedrock-agentcore-control",
                    "cloudTrailEventSource": "bedrock-agentcore.amazonaws.com"
                },
                "aws.auth#sigv4": {
                    "name": "bedrock-agentcore"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "additionalAllowedHeaders": [
                        "*",
                        "content-type",
                        "x-amz-content-sha256",
                        "x-amz-user-agent",
                        "x-amzn-platform-id",
                        "x-amzn-trace-id"
                    ],
                    "additionalExposedHeaders": [
                        "x-amzn-errortype",
                        "x-amzn-requestid",
                        "x-amzn-trace-id"
                    ],
                    "maxAge": 86400
                },
                "smithy.api#documentation": "<note> <p> is in preview release and is subject to change.</p> </note> <p>Welcome to the Amazon Bedrock AgentCore Control plane API reference. Control plane actions configure, create, modify, and monitor Amazon Web Services resources.</p>",
                "smithy.api#title": "Amazon Bedrock AgentCore Control",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agentcore-control-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agentcore-control-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agentcore-control.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://bedrock-agentcore-control.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialLocation": {
            "type": "enum",
            "members": {
                "HEADER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HEADER"
                    }
                },
                "QUERY_PARAMETER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "QUERY_PARAMETER"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialParameterName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialPrefix": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProvider": {
            "type": "resource",
            "identifiers": {
                "name": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#CredentialProviderName"
                }
            },
            "properties": {
                "apiKey": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ApiKeyType"
                },
                "apiKeySecretArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#Secret"
                },
                "credentialProviderArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProviderArnType"
                },
                "createdTime": {
                    "target": "smithy.api#Timestamp"
                },
                "lastUpdatedTime": {
                    "target": "smithy.api#Timestamp"
                }
            },
            "put": {
                "target": "com.amazonaws.bedrockagentcorecontrol#CreateApiKeyCredentialProvider"
            },
            "read": {
                "target": "com.amazonaws.bedrockagentcorecontrol#GetApiKeyCredentialProvider"
            },
            "update": {
                "target": "com.amazonaws.bedrockagentcorecontrol#UpdateApiKeyCredentialProvider"
            },
            "delete": {
                "target": "com.amazonaws.bedrockagentcorecontrol#DeleteApiKeyCredentialProvider"
            },
            "collectionOperations": [
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ListApiKeyCredentialProviders"
                }
            ]
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProviderArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:([^:]*):([^:]*):([^:]*):([0-9]{12})?:(.+)$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProviderArnType": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::BedrockAgentCore::APIKeyCredentialProvider"
                },
                "smithy.api#pattern": "^arn:(aws|aws-us-gov):acps:[A-Za-z0-9-]{1,64}:[0-9]{12}:token-vault/[a-zA-Z0-9-.]+/apikeycredentialprovider/[a-zA-Z0-9-.]+$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProviderItem": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#CredentialProviderName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the API key credential provider.</p>",
                        "smithy.api#required": {}
                    }
                },
                "credentialProviderArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProviderArnType",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the API key credential provider.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the API key credential provider was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lastUpdatedTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the API key credential provider was last updated.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about an API key credential provider.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProviders": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProviderItem"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 65536
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiSchemaConfiguration": {
            "type": "union",
            "members": {
                "s3": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#S3Configuration"
                },
                "inlinePayload": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#InlinePayload",
                    "traits": {
                        "smithy.api#documentation": "<p>The inline payload containing the API schema definition.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration for API schema.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AtlassianOauth2ProviderConfigInput": {
            "type": "structure",
            "members": {
                "clientId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ClientIdType",
                    "traits": {
                        "smithy.api#documentation": "<p>The client ID for the Atlassian OAuth2 provider. This identifier is assigned by Atlassian when you register your application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientSecret": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ClientSecretType",
                    "traits": {
                        "smithy.api#documentation": "<p>The client secret for the Atlassian OAuth2 provider. This secret is assigned by Atlassian and used along with the client ID to authenticate your application.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration settings for connecting to Atlassian services using OAuth2 authentication. This includes the client credentials required to authenticate with Atlassian's OAuth2 authorization server.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AtlassianOauth2ProviderConfigOutput": {
            "type": "structure",
            "members": {
                "oauthDiscovery": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#Oauth2Discovery",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "clientId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ClientIdType",
                    "traits": {
                        "smithy.api#documentation": "<p>The client ID for the Atlassian OAuth2 provider.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration details returned for an Atlassian OAuth2 provider, including the client ID and OAuth2 discovery information.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AuthorizationEndpointType": {
            "type": "string"
        },
        "com.amazonaws.bedrockagentcorecontrol#AuthorizerConfiguration": {
            "type": "union",
            "members": {
                "customJWTAuthorizer": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#CustomJWTAuthorizerConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The inbound JWT-based authorization, specifying how incoming requests should be authenticated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents inbound authorization configuration options used to authenticate incoming requests. </p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AuthorizerType": {
            "type": "enum",
            "members": {
                "CUSTOM_JWT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CUSTOM_JWT"
                    }
                },
                "AWS_IAM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AWS_IAM"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AwsAccountId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[0-9]{12}$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#BrowserArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::BedrockAgentCore::BrowserCustom"
                },
                "smithy.api#pattern": "^arn:(-[^:]+)?:bedrock-agentcore:[a-z0-9-]+:(aws|[0-9]{12}):browser(-custom)?/(aws\\.browser\\.v1|[a-zA-Z][a-zA-Z0-9_]{0,47}-[a-zA-Z0-9]{10})$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#BrowserId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^(aws\\.browser\\.v1|[a-zA-Z][a-zA-Z0-9_]{0,47}-[a-zA-Z0-9]{10})$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#BrowserNetworkConfiguration": {
            "type": "structure",
            "members": {
                "networkMode": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#BrowserNetworkMode",
                    "traits": {
                        "smithy.api#default": "PUBLIC",
                        "smithy.api#documentation": "<p>The network mode for the browser. This field specifies how the browser connects to the network.</p>",
                        "smithy.api#required": {}
                    }
                },
                "vpcConfig": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#VpcConfig"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The network configuration for a browser. This structure defines how the browser connects to the network.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#BrowserNetworkMode": {
            "type": "enum",
            "members": {
                "PUBLIC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PUBLIC"
                    }
                },
                "VPC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VPC"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#BrowserResource": {
            "type": "resource",
            "identifiers": {
                "browserId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#BrowserId"
                }
            },
            "create": {
                "target": "com.amazonaws.bedrockagentcorecontrol#CreateBrowser"
            },
            "read": {
                "target": "com.amazonaws.bedrockagentcorecontrol#GetBrowser"
            },
            "delete": {
                "target": "com.amazonaws.bedrockagentcorecontrol#DeleteBrowser"
            },
            "list": {
                "target": "com.amazonaws.bedrockagentcorecontrol#ListBrowsers"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#BrowserStatus": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "CREATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_FAILED"
                    }
                },
                "READY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "READY"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "DELETE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE_FAILED"
                    }
                },
                "DELETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETED"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#BrowserSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#BrowserSummary"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#BrowserSummary": {
            "type": "structure",
            "members": {
                "browserId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#BrowserId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the browser.</p>",
                        "smithy.api#required": {}
                    }
                },
                "browserArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#BrowserArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the browser.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#SandboxName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the browser.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the browser.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#BrowserStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the browser.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the browser was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lastUpdatedAt": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the browser was last updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains summary information about a browser. A browser enables Amazon Bedrock Agent to interact with web content.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ClientIdType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ClientSecretType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 33,
                    "max": 256
                },
                "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9]){0,256}$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::BedrockAgentCore::CodeInterpreterCustom"
                },
                "smithy.api#pattern": "^arn:(-[^:]+)?:bedrock-agentcore:[a-z0-9-]+:(aws|[0-9]{12}):code-interpreter(-custom)?/(aws\\.codeinterpreter\\.v1|[a-zA-Z][a-zA-Z0-9_]{0,47}-[a-zA-Z0-9]{10})$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^(aws\\.codeinterpreter\\.v1|[a-zA-Z][a-zA-Z0-9_]{0,47}-[a-zA-Z0-9]{10})$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterNetworkConfiguration": {
            "type": "structure",
            "members": {
                "networkMode": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterNetworkMode",
                    "traits": {
                        "smithy.api#default": "SANDBOX",
                        "smithy.api#documentation": "<p>The network mode for the code interpreter. This field specifies how the code interpreter connects to the network.</p>",
                        "smithy.api#required": {}
                    }
                },
                "vpcConfig": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#VpcConfig"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The network configuration for a code interpreter. This structure defines how the code interpreter connects to the network.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterNetworkMode": {
            "type": "enum",
            "members": {
                "PUBLIC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PUBLIC"
                    }
                },
                "SANDBOX": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SANDBOX"
                    }
                },
                "VPC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VPC"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterResource": {
            "type": "resource",
            "identifiers": {
                "codeInterpreterId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterId"
                }
            },
            "create": {
                "target": "com.amazonaws.bedrockagentcorecontrol#CreateCodeInterpreter"
            },
            "read": {
                "target": "com.amazonaws.bedrockagentcorecontrol#GetCodeInterpreter"
            },
            "delete": {
                "target": "com.amazonaws.bedrockagentcorecontrol#DeleteCodeInterpreter"
            },
            "list": {
                "target": "com.amazonaws.bedrockagentcorecontrol#ListCodeInterpreters"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterStatus": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "CREATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_FAILED"
                    }
                },
                "READY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "READY"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "DELETE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE_FAILED"
                    }
                },
                "DELETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETED"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterSummary"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterSummary": {
            "type": "structure",
            "members": {
                "codeInterpreterId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the code interpreter.</p>",
                        "smithy.api#required": {}
                    }
                },
                "codeInterpreterArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the code interpreter.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#SandboxName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the code interpreter.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the code interpreter.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the code interpreter.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the code interpreter was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lastUpdatedAt": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the code interpreter was last updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains summary information about a code interpreter. A code interpreter enables Amazon Bedrock Agent to execute code.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ConcurrentModificationException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Exception thrown when a resource is modified concurrently by multiple requests.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#NonBlankString"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This exception is thrown when there is a conflict performing an operation</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ConsolidationConfiguration": {
            "type": "union",
            "members": {
                "customConsolidationConfiguration": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#CustomConsolidationConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The custom consolidation configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains consolidation configuration information for a memory strategy.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ContainerConfiguration": {
            "type": "structure",
            "members": {
                "containerUri": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#RuntimeContainerUri",
                    "traits": {
                        "smithy.api#documentation": "<p>The ECR URI of the container.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Representation of a container configuration.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#CreateAgentRuntime": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.bedrockagentcorecontrol#CreateAgentRuntimeRequest"
            },
            "output": {
                "target": "com.amazonaws.bedrockagentcorecontrol#CreateAgentRuntimeResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ConflictException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#InternalServerException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an Amazon Bedrock AgentCore Runtime.</p>",
                "smithy.api#http": {
                    "code": 202,
                    "method": "PUT",
                    "uri": "/runtimes/"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#CreateAgentRuntimeEndpoint": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.bedrockagentcorecontrol#CreateAgentRuntimeEndpointRequest"
            },
            "output": {
                "target": "com.amazonaws.bedrockagentcorecontrol#CreateAgentRuntimeEndpointResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ConflictException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#InternalServerException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an AgentCore Runtime endpoint.</p>",
                "smithy.api#http": {
                    "code": 202,
                    "method": "PUT",
                    "uri": "/runtimes/{agentRuntimeId}/runtime-endpoints/"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#CreateAgentRuntimeEndpointRequest": {
            "type": "structure",
            "members": {
                "agentRuntimeId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the AgentCore Runtime to create an endpoint for.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#EndpointName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the AgentCore Runtime endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agentRuntimeVersion": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the AgentCore Runtime to use for the endpoint.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentEndpointDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the AgentCore Runtime endpoint.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#TagsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A map of tag keys and values to assign to the agent runtime endpoint. Tags enable you to categorize your resources in different ways, for example, by purpose, owner, or environment.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#CreateAgentRuntimeEndpointResponse": {
            "type": "structure",
            "members": {
                "targetVersion": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The target version of the AgentCore Runtime for the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agentRuntimeEndpointArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpointArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AgentCore Runtime endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agentRuntimeArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AgentCore Runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agentRuntimeId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the AgentCore Runtime.</p>"
                    }
                },
                "endpointName": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#EndpointName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the AgentCore Runtime endpoint.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpointStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the AgentCore Runtime endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the AgentCore Runtime endpoint was created.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#CreateAgentRuntimeRequest": {
            "type": "structure",
            "members": {
                "agentRuntimeName": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the AgentCore Runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agentRuntimeArtifact": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeArtifact",
                    "traits": {
                        "smithy.api#documentation": "<p>The artifact of the AgentCore Runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The IAM role ARN that provides permissions for the AgentCore Runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "networkConfiguration": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#NetworkConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The network configuration for the AgentCore Runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the AgentCore Runtime.</p>"
                    }
                },
                "authorizerConfiguration": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AuthorizerConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The authorizer configuration for the AgentCore Runtime.</p>"
                    }
                },
                "requestHeaderConfiguration": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#RequestHeaderConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration for HTTP request headers that will be passed through to the runtime.</p>"
                    }
                },
                "protocolConfiguration": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ProtocolConfiguration"
                },
                "lifecycleConfiguration": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#LifecycleConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The life cycle configuration for the AgentCore Runtime.</p>"
                    }
                },
                "environmentVariables": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#EnvironmentVariablesMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Environment variables to set in the AgentCore Runtime environment.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#TagsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A map of tag keys and values to assign to the agent runtime. Tags enable you to categorize your resources in different ways, for example, by purpose, owner, or environment.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#CreateAgentRuntimeResponse": {
            "type": "structure",
            "members": {
                "agentRuntimeArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AgentCore Runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "workloadIdentityDetails": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#WorkloadIdentityDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>The workload identity details for the AgentCore Runtime.</p>"
                    }
                },
                "agentRuntimeId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the AgentCore Runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agentRuntimeVersion": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeVersion",
[...]
