{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.bedrockagentcore#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.bedrockagentcore#NonBlankString"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The exception that occurs when you do not have sufficient permissions to perform an action. Verify that your IAM policy includes the necessary permissions for the operation you are trying to perform.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.bedrockagentcore#AccessTokenType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 131072
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentcore#ActorId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_/]*(?::[a-zA-Z0-9-_/]+)*[a-zA-Z0-9-_/]*$"
            }
        },
        "com.amazonaws.bedrockagentcore#ActorSummary": {
            "type": "structure",
            "members": {
                "actorId": {
                    "target": "com.amazonaws.bedrockagentcore#ActorId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the actor.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains summary information about an actor in an AgentCore Memory resource.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#ActorSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcore#ActorSummary"
            }
        },
        "com.amazonaws.bedrockagentcore#AgentCard": {
            "type": "document"
        },
        "com.amazonaws.bedrockagentcore#AgenticResource": {
            "type": "resource",
            "operations": [
                {
                    "target": "com.amazonaws.bedrockagentcore#GetAgentCard"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#InvokeAgentRuntime"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#StopRuntimeSession"
                }
            ]
        },
        "com.amazonaws.bedrockagentcore#AmazonBedrockAgentCore": {
            "type": "service",
            "version": "2024-02-28",
            "operations": [
                {
                    "target": "com.amazonaws.bedrockagentcore#CompleteResourceTokenAuth"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#GetResourceApiKey"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#GetResourceOauth2Token"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessToken"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForJWT"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForUserId"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#InvokeCodeInterpreter"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.bedrockagentcore#AgenticResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#BrowserSessionResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#CodeInterpreterSessionResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#MemoryResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Bedrock AgentCore",
                    "arnNamespace": "bedrock-agentcore",
                    "endpointPrefix": "bedrock-agentcore"
                },
                "aws.auth#sigv4": {
                    "name": "bedrock-agentcore"
                },
                "aws.protocols#restJson1": {
                    "http": [
                        "http/1.1"
                    ],
                    "eventStreamHttp": [
                        "http/1.1"
                    ]
                },
                "smithy.api#documentation": "<note> <p>Amazon Bedrock AgentCore is in preview release and is subject to change.</p> </note> <p>Welcome to the Amazon Bedrock AgentCore Data Plane API reference. Data Plane actions process and handle data or workloads within Amazon Web Services services. </p>",
                "smithy.api#title": "Amazon Bedrock AgentCore",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agentcore-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agentcore-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agentcore.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://bedrock-agentcore.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.bedrockagentcore#ApiKeyType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 65536
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentcore#AuthorizationUrlType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentcore#AutomationStream": {
            "type": "structure",
            "members": {
                "streamEndpoint": {
                    "target": "com.amazonaws.bedrockagentcore#BrowserStreamEndpoint",
                    "traits": {
                        "smithy.api#documentation": "<p>The endpoint URL for the automation stream. This URL is used to establish a WebSocket connection to the stream for sending commands and receiving responses.</p>",
                        "smithy.api#required": {}
                    }
                },
                "streamStatus": {
                    "target": "com.amazonaws.bedrockagentcore#AutomationStreamStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the automation stream. This indicates whether the stream is available for use. Possible values include ACTIVE, CONNECTING, and DISCONNECTED.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration for a stream that enables programmatic control of a browser session in Amazon Bedrock. This stream provides a bidirectional communication channel for sending commands to the browser and receiving responses, allowing agents to automate web interactions such as navigation, form filling, and element clicking.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#AutomationStreamStatus": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcore#AutomationStreamUpdate": {
            "type": "structure",
            "members": {
                "streamStatus": {
                    "target": "com.amazonaws.bedrockagentcore#AutomationStreamStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the automation stream.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about an update to an automation stream.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#BatchCreateMemoryRecords": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.bedrockagentcore#BatchCreateMemoryRecordsInput"
            },
            "output": {
                "target": "com.amazonaws.bedrockagentcore#BatchCreateMemoryRecordsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ThrottledException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates multiple memory records in a single batch operation for the specified memory with custom content.</p>",
                "smithy.api#http": {
                    "code": 201,
                    "method": "POST",
                    "uri": "/memories/{memoryId}/memoryRecords/batchCreate"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.bedrockagentcore#BatchCreateMemoryRecordsInput": {
            "type": "structure",
            "members": {
                "memoryId": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the memory resource where records will be created.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "records": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsCreateInputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory record creation inputs to be processed in the batch operation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotent processing of the batch request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.bedrockagentcore#BatchCreateMemoryRecordsOutput": {
            "type": "structure",
            "members": {
                "successfulRecords": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory records that were successfully created during the batch operation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "failedRecords": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory records that failed to be created, including error details for each failure.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.bedrockagentcore#BatchDeleteMemoryRecords": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.bedrockagentcore#BatchDeleteMemoryRecordsInput"
            },
            "output": {
                "target": "com.amazonaws.bedrockagentcore#BatchDeleteMemoryRecordsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ThrottledException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes multiple memory records in a single batch operation from the specified memory.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/memories/{memoryId}/memoryRecords/batchDelete"
                }
            }
        },
        "com.amazonaws.bedrockagentcore#BatchDeleteMemoryRecordsInput": {
            "type": "structure",
            "members": {
                "memoryId": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the memory resource where records will be deleted.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "records": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsDeleteInputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory record deletion inputs to be processed in the batch operation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.bedrockagentcore#BatchDeleteMemoryRecordsOutput": {
            "type": "structure",
            "members": {
                "successfulRecords": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory records that were successfully deleted during the batch operation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "failedRecords": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory records that failed to be deleted, including error details for each failure.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.bedrockagentcore#BatchUpdateMemoryRecords": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.bedrockagentcore#BatchUpdateMemoryRecordsInput"
            },
            "output": {
                "target": "com.amazonaws.bedrockagentcore#BatchUpdateMemoryRecordsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ThrottledException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Updates multiple memory records with custom content in a single batch operation within the specified memory.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/memories/{memoryId}/memoryRecords/batchUpdate"
                }
            }
        },
        "com.amazonaws.bedrockagentcore#BatchUpdateMemoryRecordsInput": {
            "type": "structure",
            "members": {
                "memoryId": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the memory resource where records will be updated.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "records": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsUpdateInputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory record update inputs to be processed in the batch operation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.bedrockagentcore#BatchUpdateMemoryRecordsOutput": {
            "type": "structure",
            "members": {
                "successfulRecords": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory records that were successfully updated during the batch operation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "failedRecords": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory records that failed to be updated, including error details for each failure.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.bedrockagentcore#Body": {
            "type": "blob",
            "traits": {
                "smithy.api#length": {
                    "max": 100000000
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentcore#Branch": {
            "type": "structure",
            "members": {
                "rootEventId": {
                    "target": "com.amazonaws.bedrockagentcore#EventId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the root event for this branch.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.bedrockagentcore#BranchName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the branch.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about a branch in an AgentCore Memory resource. Branches allow for organizing events into different conversation threads or paths.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#BranchFilter": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.bedrockagentcore#BranchName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the branch to filter by.</p>",
                        "smithy.api#required": {}
                    }
                },
                "includeParentBranches": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#default": true,
                        "smithy.api#documentation": "<p>Specifies whether to include parent branches in the results. Set to true to include parent branches, or false to exclude them.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains filter criteria for branches when listing events.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#BranchName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                },
                "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]*$"
            }
        },
        "com.amazonaws.bedrockagentcore#BrowserSessionId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[0-9a-zA-Z]{1,40}$"
            }
        },
        "com.amazonaws.bedrockagentcore#BrowserSessionResource": {
            "type": "resource",
            "identifiers": {
                "browserIdentifier": {
                    "target": "smithy.api#String"
                }
            },
            "read": {
                "target": "com.amazonaws.bedrockagentcore#GetBrowserSession"
            },
            "operations": [
                {
                    "target": "com.amazonaws.bedrockagentcore#ListBrowserSessions"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#StartBrowserSession"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#StopBrowserSession"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#UpdateBrowserStream"
                }
            ]
        },
        "com.amazonaws.bedrockagentcore#BrowserSessionStatus": {
            "type": "enum",
            "members": {
                "READY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "READY"
                    }
                },
                "TERMINATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TERMINATED"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcore#BrowserSessionStream": {
            "type": "structure",
            "members": {
                "automationStream": {
                    "target": "com.amazonaws.bedrockagentcore#AutomationStream",
                    "traits": {
                        "smithy.api#documentation": "<p>The stream that enables programmatic control of the browser. This stream allows agents to perform actions such as navigating to URLs, clicking elements, and filling forms.</p>",
                        "smithy.api#required": {}
                    }
                },
                "liveViewStream": {
                    "target": "com.amazonaws.bedrockagentcore#LiveViewStream",
                    "traits": {
                        "smithy.api#documentation": "<p>The stream that provides a visual representation of the browser content. This stream allows agents to observe the current state of the browser, including rendered web pages and visual elements.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The collection of streams associated with a browser session in Amazon Bedrock. These streams provide different ways to interact with and observe the browser session, including programmatic control and visual representation of the browser content.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#BrowserSessionSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcore#BrowserSessionSummary"
            }
        },
        "com.amazonaws.bedrockagentcore#BrowserSessionSummary": {
            "type": "structure",
            "members": {
                "browserIdentifier": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the browser associated with the session. This identifier specifies which browser environment is used for the session.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sessionId": {
                    "target": "com.amazonaws.bedrockagentcore#BrowserSessionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the browser session. This identifier is used in operations that interact with the session.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.bedrockagentcore#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the browser session. This name helps identify and manage the session.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.bedrockagentcore#BrowserSessionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the browser session. Possible values include ACTIVE, STOPPING, and STOPPED.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.bedrockagentcore#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the browser session was created. This value is in ISO 8601 format.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lastUpdatedAt": {
                    "target": "com.amazonaws.bedrockagentcore#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the browser session was last updated. This value is in ISO 8601 format.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A condensed representation of a browser session in Amazon Bedrock. This structure contains key information about a browser session, including identifiers, status, and timestamps, without the full details of the session configuration and streams.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#BrowserSessionTimeout": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 28800
                }
            }
        },
        "com.amazonaws.bedrockagentcore#BrowserStreamEndpoint": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 10,
                    "max": 512
                }
            }
        },
        "com.amazonaws.bedrockagentcore#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 33,
                    "max": 256
                },
                "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9]){0,256}$"
            }
        },
        "com.amazonaws.bedrockagentcore#CodeInterpreterResult": {
            "type": "structure",
            "members": {
                "content": {
                    "target": "com.amazonaws.bedrockagentcore#ContentBlockList",
                    "traits": {
                        "smithy.api#documentation": "<p>The textual content of the execution result. This includes standard output from the code execution, such as print statements, console output, and text representations of results.</p>",
                        "smithy.api#required": {}
                    }
                },
                "structuredContent": {
                    "target": "com.amazonaws.bedrockagentcore#ToolResultStructuredContent",
                    "traits": {
                        "smithy.api#documentation": "<p>The structured content of the execution result. This includes additional metadata about the execution, such as execution time, memory usage, and structured representations of output data. The format depends on the specific code interpreter and execution context.</p>"
                    }
                },
                "isError": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the result represents an error. If true, the content contains error messages or exception information. If false, the content contains successful execution results.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The output produced by executing code in a code interpreter session in Amazon Bedrock. This structure contains the results of code execution, including textual output, structured data, and error information. Agents use these results to generate responses that incorporate computation, data analysis, and visualization.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#CodeInterpreterSessionId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[0-9a-zA-Z]{1,40}$"
            }
        },
        "com.amazonaws.bedrockagentcore#CodeInterpreterSessionResource": {
            "type": "resource",
            "identifiers": {
                "codeInterpreterIdentifier": {
                    "target": "smithy.api#String"
                }
            },
            "read": {
                "target": "com.amazonaws.bedrockagentcore#GetCodeInterpreterSession"
            },
            "operations": [
                {
                    "target": "com.amazonaws.bedrockagentcore#ListCodeInterpreterSessions"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#StartCodeInterpreterSession"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#StopCodeInterpreterSession"
                }
            ]
        },
        "com.amazonaws.bedrockagentcore#CodeInterpreterSessionStatus": {
            "type": "enum",
            "members": {
                "READY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "READY"
                    }
                },
                "TERMINATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TERMINATED"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcore#CodeInterpreterSessionSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcore#CodeInterpreterSessionSummary"
            }
        },
        "com.amazonaws.bedrockagentcore#CodeInterpreterSessionSummary": {
            "type": "structure",
            "members": {
                "codeInterpreterIdentifier": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the code interpreter associated with the session. This identifier specifies which code interpreter environment is used for the session.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sessionId": {
                    "target": "com.amazonaws.bedrockagentcore#CodeInterpreterSessionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the code interpreter session. This identifier is used in operations that interact with the session.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.bedrockagentcore#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the code interpreter session. This name helps identify and manage the session.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.bedrockagentcore#CodeInterpreterSessionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the code interpreter session. Possible values include ACTIVE, STOPPING, and STOPPED.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.bedrockagentcore#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the code interpreter session was created. This value is in ISO 8601 format.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lastUpdatedAt": {
                    "target": "com.amazonaws.bedrockagentcore#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the code interpreter session was last updated. This value is in ISO 8601 format.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A condensed representation of a code interpreter session in Amazon Bedrock. This structure contains key information about a code interpreter session, including identifiers, status, and timestamps, without the full details of the session configuration.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#CodeInterpreterSessionTimeout": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 28800
                }
            }
        },
        "com.amazonaws.bedrockagentcore#CodeInterpreterStreamOutput": {
            "type": "union",
            "members": {
                "result": {
                    "target": "com.amazonaws.bedrockagentcore#CodeInterpreterResult"
                },
                "accessDeniedException": {
                    "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
                },
                "conflictException": {
                    "target": "com.amazonaws.bedrockagentcore#ConflictException"
                },
                "internalServerException": {
                    "target": "com.amazonaws.bedrockagentcore#InternalServerException"
                },
                "resourceNotFoundException": {
                    "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
                },
                "serviceQuotaExceededException": {
                    "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
                },
                "throttlingException": {
                    "target": "com.amazonaws.bedrockagentcore#ThrottlingException"
                },
                "validationException": {
                    "target": "com.amazonaws.bedrockagentcore#ValidationException"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains output from a code interpreter stream.</p>",
                "smithy.api#streaming": {}
            }
        },
        "com.amazonaws.bedrockagentcore#CompleteResourceTokenAuth": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.bedrockagentcore#CompleteResourceTokenAuthRequest"
            },
            "output": {
                "target": "com.amazonaws.bedrockagentcore#CompleteResourceTokenAuthResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#InternalServerException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#UnauthorizedException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ValidationException"
                }
            ],
            "traits": {
                "aws.api#dataPlane": {},
                "smithy.api#documentation": "<p>Confirms the user authentication session for obtaining OAuth2.0 tokens for a resource.</p>",
                "smithy.api#http": {
                    "uri": "/identities/CompleteResourceTokenAuth",
                    "method": "POST"
                }
            }
        },
        "com.amazonaws.bedrockagentcore#CompleteResourceTokenAuthRequest": {
            "type": "structure",
            "members": {
                "userIdentifier": {
                    "target": "com.amazonaws.bedrockagentcore#UserIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The OAuth2.0 token or user ID that was used to generate the workload access token used for initiating the user authorization flow to retrieve OAuth2.0 tokens.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sessionUri": {
                    "target": "com.amazonaws.bedrockagentcore#RequestUri",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique identifier for the user's authentication session for retrieving OAuth2 tokens. This ID tracks the authorization flow state across multiple requests and responses during the OAuth2 authentication process.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.bedrockagentcore#CompleteResourceTokenAuthResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.bedrockagentcore#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.bedrockagentcore#NonBlankString"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The exception that occurs when the request conflicts with the current state of the resource. This can happen when trying to modify a resource that is currently being modified by another request, or when trying to create a resource that already exists.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.bedrockagentcore#Content": {
            "type": "union",
            "members": {
                "text": {
                    "target": "com.amazonaws.bedrockagentcore#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>The text content of the memory item.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 9000
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the content of a memory item.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#ContentBlock": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.bedrockagentcore#ContentBlockType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of content in the block.</p>",
                        "smithy.api#required": {}
                    }
                },
                "text": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The text content of the block.</p>"
                    }
                },
                "data": {
                    "target": "smithy.api#Blob",
                    "traits": {
                        "smithy.api#documentation": "<p>The binary data content of the block.</p>"
                    }
                },
                "mimeType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The MIME type of the content.</p>"
                    }
                },
                "uri": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URI of the content.</p>"
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the content block.</p>"
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the content block.</p>"
                    }
                },
                "size": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The size of the content in bytes.</p>"
                    }
                },
                "resource": {
                    "target": "com.amazonaws.bedrockagentcore#ResourceContent",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource associated with the content block.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A block of content in a response.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#ContentBlockList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcore#ContentBlock"
            }
        },
        "com.amazonaws.bedrockagentcore#ContentBlockType": {
            "type": "enum",
            "members": {
                "TEXT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "text"
                    }
                },
                "IMAGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "image"
                    }
                },
                "EMBEDDED_RESOURCE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "resource"
                    }
                },
                "RESOURCE_LINK": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "resource_link"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcore#Conversational": {
            "type": "structure",
            "members": {
                "content": {
                    "target": "com.amazonaws.bedrockagentcore#Content",
                    "traits": {
                        "smithy.api#documentation": "<p>The content of the conversation message.</p>",
                        "smithy.api#required": {}
                    }
                },
                "role": {
                    "target": "com.amazonaws.bedrockagentcore#Role",
                    "traits": {
                        "smithy.api#documentation": "<p>The role of the participant in the conversation (for example, \"user\" or \"assistant\").</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains conversational content for an event payload.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#CreateEvent": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.bedrockagentcore#CreateEventInput"
            },
            "output": {
                "target": "com.amazonaws.bedrockagentcore#CreateEventOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ThrottledException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an event in an AgentCore Memory resource. Events represent interactions or activities that occur within a session and are associated with specific actors.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:CreateEvent</code> permission.</p> <p>This operation is subject to request rate limiting.</p>",
                "smithy.api#http": {
                    "code": 201,
                    "method": "POST",
                    "uri": "/memories/{memoryId}/events"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.bedrockagentcore#CreateEventInput": {
            "type": "structure",
            "members": {
                "memoryId": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the AgentCore Memory resource in which to create the event.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "actorId": {
                    "target": "com.amazonaws.bedrockagentcore#ActorId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the actor associated with this event. An actor represents an entity that participates in sessions and generates events.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sessionId": {
                    "target": "com.amazonaws.bedrockagentcore#SessionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the session in which this event occurs. A session represents a sequence of related events.</p>"
                    }
                },
                "eventTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the event occurred. If not specified, the current time is used.</p>",
                        "smithy.api#required": {}
                    }
                },
                "payload": {
                    "target": "com.amazonaws.bedrockagentcore#PayloadTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The content payload of the event. This can include conversational data or binary content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "branch": {
                    "target": "com.amazonaws.bedrockagentcore#Branch",
                    "traits": {
                        "smithy.api#documentation": "<p>The branch information for this event. Branches allow for organizing events into different conversation threads or paths.</p>"
                    }
                },
                "clientToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the operation completes no more than one time. If this token matches a previous request, AgentCore ignores the request, but does not return an error.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "metadata": {
                    "target": "com.amazonaws.bedrockagentcore#MetadataMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The key-value metadata to attach to the event.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.bedrockagentcore#CreateEventOutput": {
            "type": "structure",
            "members": {
                "event": {
                    "target": "com.amazonaws.bedrockagentcore#Event",
                    "traits": {
                        "smithy.api#documentation": "<p>The event that was created.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.bedrockagentcore#CredentialProviderName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9\\-_]+$"
            }
        },
        "com.amazonaws.bedrockagentcore#CustomRequestKeyType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^[a-zA-Z0-9\\-_\\.]+$"
            }
        },
        "com.amazonaws.bedrockagentcore#CustomRequestParametersType": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.bedrockagentcore#CustomRequestKeyType"
            },
            "value": {
                "target": "com.amazonaws.bedrockagentcore#CustomRequestValueType"
            }
        },
        "com.amazonaws.bedrockagentcore#CustomRequestValueType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentcore#DateTimestamp": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "date-time"
            }
        },
        "com.amazonaws.bedrockagentcore#DeleteEvent": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.bedrockagentcore#DeleteEventInput"
            },
            "output": {
                "target": "com.amazonaws.bedrockagentcore#DeleteEventOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ThrottledException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an event from an AgentCore Memory resource. When you delete an event, it is permanently removed.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:DeleteEvent</code> permission.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/memories/{memoryId}/actor/{actorId}/sessions/{sessionId}/events/{eventId}"
                }
            }
        },
        "com.amazonaws.bedrockagentcore#DeleteEventInput": {
            "type": "structure",
            "members": {
                "memoryId": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the AgentCore Memory resource from which to delete the event.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "sessionId": {
                    "target": "com.amazonaws.bedrockagentcore#SessionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the session containing the event to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "eventId": {
                    "target": "com.amazonaws.bedrockagentcore#EventId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the event to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "actorId": {
                    "target": "com.amazonaws.bedrockagentcore#ActorId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the actor associated with the event to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.bedrockagentcore#DeleteEventOutput": {
            "type": "structure",
            "members": {
                "eventId": {
                    "target": "com.amazonaws.bedrockagentcore#EventId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the event that was deleted.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.bedrockagentcore#DeleteMemoryRecord": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.bedrockagentcore#DeleteMemoryRecordInput"
            },
            "output": {
                "target": "com.amazonaws.bedrockagentcore#DeleteMemoryRecordOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ThrottledException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a memory record from an AgentCore Memory resource. When you delete a memory record, it is permanently removed.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:DeleteMemoryRecord</code> permission.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/memories/{memoryId}/memoryRecords/{memoryRecordId}"
                }
            }
        },
        "com.amazonaws.bedrockagentcore#DeleteMemoryRecordInput": {
            "type": "structure",
            "members": {
                "memoryId": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the AgentCore Memory resource from which to delete the memory record.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "memoryRecordId": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the memory record to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.bedrockagentcore#DeleteMemoryRecordOutput": {
            "type": "structure",
            "members": {
                "memoryRecordId": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the memory record that was deleted.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.bedrockagentcore#Document": {
            "type": "document"
        },
        "com.amazonaws.bedrockagentcore#Event": {
            "type": "structure",
            "members": {
                "memoryId": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the AgentCore Memory resource containing the event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "actorId": {
                    "target": "com.amazonaws.bedrockagentcore#ActorId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the actor associated with the event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sessionId": {
                    "target": "com.amazonaws.bedrockagentcore#SessionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the session containing the event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "eventId": {
                    "target": "com.amazonaws.bedrockagentcore#EventId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "eventTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the event occurred.</p>",
                        "smithy.api#required": {}
                    }
                },
[...]
