{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.chimesdkvoice#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Code": {
                    "target": "com.amazonaws.chimesdkvoice#ErrorCode"
                },
                "Message": {
                    "target": "com.amazonaws.chimesdkvoice#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You don't have the permissions needed to run this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.chimesdkvoice#Address": {
            "type": "structure",
            "members": {
                "streetName": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The address street, such as <code>8th Avenue</code>.</p>"
                    }
                },
                "streetSuffix": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The address suffix, such as the <code>N</code> in <code>8th Avenue N</code>.</p>"
                    }
                },
                "postDirectional": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>An address suffix location, such as the <code>S. Unit A</code> in \n         <code>Central Park S. Unit A</code>.</p>"
                    }
                },
                "preDirectional": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>An address prefix location, such as the <code>N</code> in <code>N. Third St.</code>\n         </p>"
                    }
                },
                "streetNumber": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The numeric portion of an address.</p>"
                    }
                },
                "city": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The city of an address.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The state of an address.</p>"
                    }
                },
                "postalCode": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The postal code of an address.</p>"
                    }
                },
                "postalCodePlus4": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The zip + 4 or postal code + 4 of an address.</p>"
                    }
                },
                "country": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The country of an address.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A validated address.</p>"
            }
        },
        "com.amazonaws.chimesdkvoice#AlexaSkillId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^amzn1\\.application-oa2-client\\.[0-9a-fA-F]{32}$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.chimesdkvoice#AlexaSkillIdList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.chimesdkvoice#AlexaSkillId"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1
                }
            }
        },
        "com.amazonaws.chimesdkvoice#AlexaSkillStatus": {
            "type": "enum",
            "members": {
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "INACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INACTIVE"
                    }
                }
            }
        },
        "com.amazonaws.chimesdkvoice#Alpha2CountryCode": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[A-Z]{2}$"
            }
        },
        "com.amazonaws.chimesdkvoice#AreaCode": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^$|^[0-9]{3,3}$"
            }
        },
        "com.amazonaws.chimesdkvoice#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                },
                "smithy.api#pattern": "^arn[\\/\\:\\-\\_\\.a-zA-Z0-9]+$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnector": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorRequest"
            },
            "output": {
                "target": "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.chimesdkvoice#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#BadRequestException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#NotFoundException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates phone numbers with the specified Amazon Chime SDK Voice Connector.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/voice-connectors/{VoiceConnectorId}?operation=associate-phone-numbers",
                    "code": 200
                }
            }
        },
        "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorGroup": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorGroupRequest"
            },
            "output": {
                "target": "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorGroupResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.chimesdkvoice#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#BadRequestException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#NotFoundException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates phone numbers with the specified Amazon Chime SDK Voice Connector group.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/voice-connector-groups/{VoiceConnectorGroupId}?operation=associate-phone-numbers",
                    "code": 200
                }
            }
        },
        "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorGroupRequest": {
            "type": "structure",
            "members": {
                "VoiceConnectorGroupId": {
                    "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Chime SDK Voice Connector group ID.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "E164PhoneNumbers": {
                    "target": "com.amazonaws.chimesdkvoice#E164PhoneNumberList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of phone numbers, in E.164 format.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ForceAssociate": {
                    "target": "com.amazonaws.chimesdkvoice#NullableBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>If true, associates the provided phone numbers with the provided Amazon Chime SDK Voice Connector Group and removes any previously existing associations. \n         If false, does not associate any phone numbers that have previously existing associations.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorGroupResponse": {
            "type": "structure",
            "members": {
                "PhoneNumberErrors": {
                    "target": "com.amazonaws.chimesdkvoice#PhoneNumberErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorRequest": {
            "type": "structure",
            "members": {
                "VoiceConnectorId": {
                    "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The Voice Connector ID.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "E164PhoneNumbers": {
                    "target": "com.amazonaws.chimesdkvoice#E164PhoneNumberList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of phone numbers, in E.164 format.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ForceAssociate": {
                    "target": "com.amazonaws.chimesdkvoice#NullableBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>If true, associates the provided phone numbers with the provided Amazon Chime SDK Voice Connector and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorResponse": {
            "type": "structure",
            "members": {
                "PhoneNumberErrors": {
                    "target": "com.amazonaws.chimesdkvoice#PhoneNumberErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and \n         error messages.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.chimesdkvoice#BadRequestException": {
            "type": "structure",
            "members": {
                "Code": {
                    "target": "com.amazonaws.chimesdkvoice#ErrorCode"
                },
                "Message": {
                    "target": "com.amazonaws.chimesdkvoice#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The input parameters don't match the service's restrictions.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.chimesdkvoice#BatchDeletePhoneNumber": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.chimesdkvoice#BatchDeletePhoneNumberRequest"
            },
            "output": {
                "target": "com.amazonaws.chimesdkvoice#BatchDeletePhoneNumberResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.chimesdkvoice#BadRequestException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#NotFoundException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>\n         Moves phone numbers into the \n         <b>Deletion queue</b>. Phone numbers must be disassociated from any users or Amazon Chime SDK Voice Connectors before they can be deleted.\n      </p>\n         <p>\n         Phone numbers remain in the \n         <b>Deletion queue</b> for 7 days before they are deleted permanently.\n      </p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/phone-numbers?operation=batch-delete",
                    "code": 200
                }
            }
        },
        "com.amazonaws.chimesdkvoice#BatchDeletePhoneNumberRequest": {
            "type": "structure",
            "members": {
                "PhoneNumberIds": {
                    "target": "com.amazonaws.chimesdkvoice#NonEmptyStringList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of phone number IDs.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.chimesdkvoice#BatchDeletePhoneNumberResponse": {
            "type": "structure",
            "members": {
                "PhoneNumberErrors": {
                    "target": "com.amazonaws.chimesdkvoice#PhoneNumberErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.chimesdkvoice#BatchUpdatePhoneNumber": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.chimesdkvoice#BatchUpdatePhoneNumberRequest"
            },
            "output": {
                "target": "com.amazonaws.chimesdkvoice#BatchUpdatePhoneNumberResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.chimesdkvoice#BadRequestException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#NotFoundException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Updates phone number product types, calling names, or phone number names. You can update one attribute at a time for each \n         <code>UpdatePhoneNumberRequestItem</code>. For example, you can update the product type, the calling name, or phone name.\n        </p>\n         <note>\n            <p>You cannot have a duplicate <code>phoneNumberId</code> in a request.</p>\n         </note>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/phone-numbers?operation=batch-update",
                    "code": 200
                }
            }
        },
        "com.amazonaws.chimesdkvoice#BatchUpdatePhoneNumberRequest": {
            "type": "structure",
            "members": {
                "UpdatePhoneNumberRequestItems": {
                    "target": "com.amazonaws.chimesdkvoice#UpdatePhoneNumberRequestItemList",
                    "traits": {
                        "smithy.api#documentation": "<p>Lists the phone numbers in the update request.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.chimesdkvoice#BatchUpdatePhoneNumberResponse": {
            "type": "structure",
            "members": {
                "PhoneNumberErrors": {
                    "target": "com.amazonaws.chimesdkvoice#PhoneNumberErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of failed phone numbers and their error messages.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.chimesdkvoice#Boolean": {
            "type": "boolean"
        },
        "com.amazonaws.chimesdkvoice#CallDetails": {
            "type": "structure",
            "members": {
                "VoiceConnectorId": {
                    "target": "com.amazonaws.chimesdkvoice#NonEmptyString128",
                    "traits": {
                        "smithy.api#documentation": "<p>The Voice Connector ID.</p>"
                    }
                },
                "TransactionId": {
                    "target": "com.amazonaws.chimesdkvoice#NonEmptyString256",
                    "traits": {
                        "smithy.api#documentation": "<p>The transaction ID of a Voice Connector call.</p>"
                    }
                },
                "IsCaller": {
                    "target": "com.amazonaws.chimesdkvoice#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Identifies a person as the caller or the callee.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The details of an Amazon Chime SDK Voice Connector call.</p>"
            }
        },
        "com.amazonaws.chimesdkvoice#CallLegType": {
            "type": "enum",
            "members": {
                "CALLER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Caller"
                    }
                },
                "CALLEE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Callee"
                    }
                }
            }
        },
        "com.amazonaws.chimesdkvoice#CallingName": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^$|^[a-zA-Z0-9 ]{2,15}$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.chimesdkvoice#CallingNameStatus": {
            "type": "enum",
            "members": {
                "Unassigned": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Unassigned"
                    }
                },
                "UpdateInProgress": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UpdateInProgress"
                    }
                },
                "UpdateSucceeded": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UpdateSucceeded"
                    }
                },
                "UpdateFailed": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UpdateFailed"
                    }
                }
            }
        },
        "com.amazonaws.chimesdkvoice#CallingRegion": {
            "type": "string"
        },
        "com.amazonaws.chimesdkvoice#CallingRegionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.chimesdkvoice#CallingRegion"
            }
        },
        "com.amazonaws.chimesdkvoice#CandidateAddress": {
            "type": "structure",
            "members": {
                "streetInfo": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The street information of the candidate address.</p>"
                    }
                },
                "streetNumber": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The numeric portion of the candidate address.</p>"
                    }
                },
                "city": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The city of the candidate address.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The state of the candidate address.</p>"
                    }
                },
                "postalCode": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The postal code of the candidate address.</p>"
                    }
                },
                "postalCodePlus4": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The zip + 4 or postal code +4 of the candidate address.</p>"
                    }
                },
                "country": {
                    "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The country of the candidate address.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A suggested address.</p>"
            }
        },
        "com.amazonaws.chimesdkvoice#CandidateAddressList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.chimesdkvoice#CandidateAddress",
                "traits": {
                    "smithy.api#xmlName": "CandidateAddress"
                }
            }
        },
        "com.amazonaws.chimesdkvoice#Capability": {
            "type": "enum",
            "members": {
                "Voice": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Voice"
                    }
                },
                "SMS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SMS"
                    }
                }
            }
        },
        "com.amazonaws.chimesdkvoice#CapabilityList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.chimesdkvoice#Capability"
            }
        },
        "com.amazonaws.chimesdkvoice#ChimeSDKTelephonyService": {
            "type": "service",
            "version": "2022-08-03",
            "operations": [
                {
                    "target": "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnector"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorGroup"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#BatchDeletePhoneNumber"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#BatchUpdatePhoneNumber"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#CreatePhoneNumberOrder"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#CreateProxySession"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#CreateSipMediaApplication"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationCall"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#CreateSipRule"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#CreateVoiceConnector"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#CreateVoiceConnectorGroup"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#CreateVoiceProfile"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#CreateVoiceProfileDomain"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeletePhoneNumber"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeleteProxySession"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeleteSipMediaApplication"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeleteSipRule"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnector"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorEmergencyCallingConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorExternalSystemsConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorGroup"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorOrigination"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorProxy"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorStreamingConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorTermination"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorTerminationCredentials"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeleteVoiceProfile"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DeleteVoiceProfileDomain"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DisassociatePhoneNumbersFromVoiceConnector"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#DisassociatePhoneNumbersFromVoiceConnectorGroup"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetGlobalSettings"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetPhoneNumber"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetPhoneNumberOrder"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetPhoneNumberSettings"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetProxySession"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetSipMediaApplication"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetSipMediaApplicationAlexaSkillConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetSipMediaApplicationLoggingConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetSipRule"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetSpeakerSearchTask"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetVoiceConnector"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorEmergencyCallingConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorExternalSystemsConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorGroup"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorLoggingConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorOrigination"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorProxy"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorStreamingConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorTermination"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorTerminationHealth"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetVoiceProfile"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetVoiceProfileDomain"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#GetVoiceToneAnalysisTask"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ListAvailableVoiceConnectorRegions"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ListPhoneNumberOrders"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ListPhoneNumbers"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ListProxySessions"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ListSipMediaApplications"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ListSipRules"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ListSupportedPhoneNumberCountries"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ListVoiceConnectorGroups"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ListVoiceConnectors"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ListVoiceConnectorTerminationCredentials"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ListVoiceProfileDomains"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ListVoiceProfiles"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#PutSipMediaApplicationAlexaSkillConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#PutSipMediaApplicationLoggingConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorEmergencyCallingConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorExternalSystemsConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorLoggingConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorOrigination"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorProxy"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorStreamingConfiguration"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorTermination"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorTerminationCredentials"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#RestorePhoneNumber"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#SearchAvailablePhoneNumbers"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#StartSpeakerSearchTask"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#StartVoiceToneAnalysisTask"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#StopSpeakerSearchTask"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#StopVoiceToneAnalysisTask"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#TagResource"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UntagResource"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UpdateGlobalSettings"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UpdatePhoneNumber"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UpdatePhoneNumberSettings"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UpdateProxySession"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UpdateSipMediaApplication"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UpdateSipMediaApplicationCall"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UpdateSipRule"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UpdateVoiceConnector"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UpdateVoiceConnectorGroup"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UpdateVoiceProfile"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UpdateVoiceProfileDomain"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ValidateE911Address"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Chime SDK Voice",
                    "arnNamespace": "chime",
                    "cloudFormationName": "ChimeSDKVoice",
                    "cloudTrailEventSource": "chimesdkvoice.amazonaws.com",
                    "endpointPrefix": "voice-chime"
                },
                "aws.auth#sigv4": {
                    "name": "chime"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>The Amazon Chime SDK telephony APIs in this section enable developers to create PSTN calling solutions that use Amazon Chime SDK Voice Connectors, and Amazon Chime SDK SIP media applications. Developers can \n          also order and manage phone numbers, create and manage Voice Connectors and SIP media applications, and run voice analytics.</p>",
                "smithy.api#title": "Amazon Chime SDK Voice",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://voice-chime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://voice-chime-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://voice-chime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://voice-chime.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://voice-chime.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.chimesdkvoice#ClientRequestId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[-_a-zA-Z0-9]*${2,64}$"
            }
        },
        "com.amazonaws.chimesdkvoice#ConfidenceScore": {
            "type": "float",
            "traits": {
                "smithy.api#default": 0,
                "smithy.api#range": {
                    "min": 0,
                    "max": 1
                }
            }
        },
        "com.amazonaws.chimesdkvoice#ConflictException": {
            "type": "structure",
            "members": {
                "Code": {
                    "target": "com.amazonaws.chimesdkvoice#ErrorCode"
                },
                "Message": {
                    "target": "com.amazonaws.chimesdkvoice#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Multiple instances of the same request were made simultaneously.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.chimesdkvoice#ContactCenterSystemType": {
            "type": "enum",
            "members": {
                "GENESYS_ENGAGE_ON_PREMISES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GENESYS_ENGAGE_ON_PREMISES"
                    }
                },
                "AVAYA_AURA_CALL_CENTER_ELITE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AVAYA_AURA_CALL_CENTER_ELITE"
                    }
                },
                "AVAYA_AURA_CONTACT_CENTER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AVAYA_AURA_CONTACT_CENTER"
                    }
                },
                "CISCO_UNIFIED_CONTACT_CENTER_ENTERPRISE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CISCO_UNIFIED_CONTACT_CENTER_ENTERPRISE"
                    }
                }
            }
        },
        "com.amazonaws.chimesdkvoice#ContactCenterSystemTypeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.chimesdkvoice#ContactCenterSystemType"
            }
        },
        "com.amazonaws.chimesdkvoice#Country": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^$|^[A-Z]{2,2}$"
            }
        },
        "com.amazonaws.chimesdkvoice#CountryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.chimesdkvoice#Country"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.chimesdkvoice#CpsLimit": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.chimesdkvoice#CreatePhoneNumberOrder": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.chimesdkvoice#CreatePhoneNumberOrderRequest"
            },
            "output": {
                "target": "com.amazonaws.chimesdkvoice#CreatePhoneNumberOrderResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.chimesdkvoice#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#BadRequestException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ResourceLimitExceededException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an order for phone numbers to be provisioned. For numbers outside the U.S., you must use the Amazon Chime SDK SIP media application dial-in product type.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/phone-number-orders",
                    "code": 201
                }
            }
        },
        "com.amazonaws.chimesdkvoice#CreatePhoneNumberOrderRequest": {
            "type": "structure",
            "members": {
                "ProductType": {
                    "target": "com.amazonaws.chimesdkvoice#PhoneNumberProductType",
                    "traits": {
                        "smithy.api#documentation": "<p>The phone number product type.</p>",
                        "smithy.api#required": {}
                    }
                },
                "E164PhoneNumbers": {
                    "target": "com.amazonaws.chimesdkvoice#E164PhoneNumberList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of phone numbers, in E.164 format.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "com.amazonaws.chimesdkvoice#PhoneNumberName",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the name assigned to one or more phone numbers.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.chimesdkvoice#CreatePhoneNumberOrderResponse": {
            "type": "structure",
            "members": {
                "PhoneNumberOrder": {
                    "target": "com.amazonaws.chimesdkvoice#PhoneNumberOrder",
                    "traits": {
                        "smithy.api#documentation": "<p>The phone number order details.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.chimesdkvoice#CreateProxySession": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.chimesdkvoice#CreateProxySessionRequest"
            },
            "output": {
                "target": "com.amazonaws.chimesdkvoice#CreateProxySessionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.chimesdkvoice#BadRequestException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#NotFoundException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a proxy session for the specified Amazon Chime SDK Voice Connector for \n            the specified participant phone numbers.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/voice-connectors/{VoiceConnectorId}/proxy-sessions",
                    "code": 201
                }
            }
        },
        "com.amazonaws.chimesdkvoice#CreateProxySessionRequest": {
            "type": "structure",
            "members": {
                "VoiceConnectorId": {
                    "target": "com.amazonaws.chimesdkvoice#NonEmptyString128",
                    "traits": {
                        "smithy.api#documentation": "<p>The Voice Connector ID.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ParticipantPhoneNumbers": {
                    "target": "com.amazonaws.chimesdkvoice#ParticipantPhoneNumberList",
                    "traits": {
                        "smithy.api#documentation": "<p>The participant phone numbers.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "com.amazonaws.chimesdkvoice#ProxySessionNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the proxy session.</p>"
                    }
                },
                "ExpiryMinutes": {
                    "target": "com.amazonaws.chimesdkvoice#PositiveInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of minutes allowed for the proxy session.</p>"
                    }
                },
                "Capabilities": {
                    "target": "com.amazonaws.chimesdkvoice#CapabilityList",
                    "traits": {
                        "smithy.api#documentation": "<p>The proxy session's capabilities.</p>",
                        "smithy.api#required": {}
                    }
                },
                "NumberSelectionBehavior": {
                    "target": "com.amazonaws.chimesdkvoice#NumberSelectionBehavior",
                    "traits": {
                        "smithy.api#documentation": "<p>The preference for proxy phone number reuse, or stickiness, between the same \n            participants across sessions.</p>"
                    }
                },
                "GeoMatchLevel": {
                    "target": "com.amazonaws.chimesdkvoice#GeoMatchLevel",
                    "traits": {
                        "smithy.api#documentation": "<p>The preference for matching the country or area code of the proxy phone number with that of the first participant.</p>"
                    }
                },
                "GeoMatchParams": {
                    "target": "com.amazonaws.chimesdkvoice#GeoMatchParams",
                    "traits": {
                        "smithy.api#documentation": "<p>The country and area code for the proxy phone number.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.chimesdkvoice#CreateProxySessionResponse": {
            "type": "structure",
            "members": {
                "ProxySession": {
                    "target": "com.amazonaws.chimesdkvoice#ProxySession",
                    "traits": {
                        "smithy.api#documentation": "<p>The proxy session details.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.chimesdkvoice#CreateSipMediaApplication": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationRequest"
            },
            "output": {
                "target": "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.chimesdkvoice#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#BadRequestException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ConflictException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ResourceLimitExceededException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a SIP media application. For more information about SIP media applications, see <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/ag/manage-sip-applications.html\">Managing SIP media applications \n           and rules</a> in the <i>Amazon Chime SDK Administrator Guide</i>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/sip-media-applications",
                    "code": 201
                }
            }
        },
        "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationCall": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationCallRequest"
            },
            "output": {
                "target": "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationCallResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.chimesdkvoice#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#BadRequestException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ResourceLimitExceededException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an outbound call to a phone number from the phone number specified \n         in the request, and it invokes the endpoint of the specified \n         <code>sipMediaApplicationId</code>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/sip-media-applications/{SipMediaApplicationId}/calls",
                    "code": 201
                }
            }
        },
        "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationCallRequest": {
            "type": "structure",
            "members": {
                "FromPhoneNumber": {
                    "target": "com.amazonaws.chimesdkvoice#E164PhoneNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The phone number that a user calls from. This is a phone number in your \n         Amazon Chime SDK phone number inventory.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ToPhoneNumber": {
                    "target": "com.amazonaws.chimesdkvoice#E164PhoneNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The phone number that the service should call.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SipMediaApplicationId": {
                    "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the SIP media application.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "SipHeaders": {
                    "target": "com.amazonaws.chimesdkvoice#SipHeadersMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The SIP headers added to an outbound call leg.</p>"
                    }
                },
                "ArgumentsMap": {
                    "target": "com.amazonaws.chimesdkvoice#SMACreateCallArgumentsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Context passed to a CreateSipMediaApplication API call. For example, you could pass\n            key-value pairs such as: <code>\"FirstName\": \"John\", \"LastName\": \"Doe\"</code>\n         </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationCallResponse": {
            "type": "structure",
            "members": {
                "SipMediaApplicationCall": {
                    "target": "com.amazonaws.chimesdkvoice#SipMediaApplicationCall",
                    "traits": {
                        "smithy.api#documentation": "<p>The actual call.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationRequest": {
            "type": "structure",
            "members": {
                "AwsRegion": {
                    "target": "com.amazonaws.chimesdkvoice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS Region assigned to the SIP media application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "com.amazonaws.chimesdkvoice#SipMediaApplicationName",
                    "traits": {
                        "smithy.api#documentation": "<p>The SIP media application's name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Endpoints": {
                    "target": "com.amazonaws.chimesdkvoice#SipMediaApplicationEndpointList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of endpoints (Lambda ARNs) specified for the SIP media application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.chimesdkvoice#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags assigned to the SIP media application.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationResponse": {
            "type": "structure",
            "members": {
                "SipMediaApplication": {
                    "target": "com.amazonaws.chimesdkvoice#SipMediaApplication",
                    "traits": {
                        "smithy.api#documentation": "<p>The SIP media application details.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.chimesdkvoice#CreateSipRule": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.chimesdkvoice#CreateSipRuleRequest"
            },
            "output": {
                "target": "com.amazonaws.chimesdkvoice#CreateSipRuleResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.chimesdkvoice#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#BadRequestException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ConflictException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ResourceLimitExceededException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
                },
                {
                    "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
                }
            ],
            "traits": {
[...]
