{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.chime#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chime#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chime#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permissions to perform the requested operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.chime#Account": {
      "type": "structure",
      "members": {
        "DefaultLicense": {
          "target": "com.amazonaws.chime#License",
          "traits": {
            "smithy.api#documentation": "<p>The default license for the Amazon Chime account.</p>"
          }
        },
        "AwsAccountId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountType": {
          "target": "com.amazonaws.chime#AccountType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account type. For more information\n       about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the\n       <i>Amazon\n         Chime Administration Guide</i>.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account name.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>"
          }
        },
        "SupportedLicenses": {
          "target": "com.amazonaws.chime#LicenseList",
          "traits": {
            "smithy.api#documentation": "<p>Supported licenses for the Amazon Chime account.</p>"
          }
        },
        "SigninDelegateGroups": {
          "target": "com.amazonaws.chime#SigninDelegateGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The sign-in delegate groups associated with the account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Chime account details. An AWS account can have multiple Amazon Chime accounts.</p>"
      }
    },
    "com.amazonaws.chime#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Account"
      }
    },
    "com.amazonaws.chime#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": ".*\\S.*"
      }
    },
    "com.amazonaws.chime#AccountSettings": {
      "type": "structure",
      "members": {
        "DisableRemoteControl": {
          "target": "com.amazonaws.chime#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Setting that stops or starts remote control of shared screens during meetings.</p>"
          }
        },
        "EnableDialOut": {
          "target": "com.amazonaws.chime#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Setting that allows meeting participants to choose the <b>Call me at a phone\n        number</b> option. For more information, see <a href=\"https://docs.aws.amazon.com/chime/latest/ug/chime-join-meeting.html\">Join a Meeting without the Amazon Chime App</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings related to the Amazon Chime account. This includes settings that start or\n      stop remote control of shared screens, or start or stop the dial-out option in the Amazon\n      Chime web application. For more information about these settings, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/policies.html\">Use the Policies Page</a> in\n      the <i>Amazon Chime Administration Guide</i>.</p>"
      }
    },
    "com.amazonaws.chime#AccountType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Team",
            "name": "Team"
          },
          {
            "value": "EnterpriseDirectory",
            "name": "EnterpriseDirectory"
          },
          {
            "value": "EnterpriseLWA",
            "name": "EnterpriseLWA"
          },
          {
            "value": "EnterpriseOIDC",
            "name": "EnterpriseOIDC"
          }
        ]
      }
    },
    "com.amazonaws.chime#AlexaForBusinessMetadata": {
      "type": "structure",
      "members": {
        "IsAlexaForBusinessEnabled": {
          "target": "com.amazonaws.chime#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Starts or stops Alexa for Business.</p>"
          }
        },
        "AlexaForBusinessRoomArn": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the room resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Alexa for Business metadata associated with an Amazon Chime user, used to integrate Alexa for Business with a device.</p>"
      }
    },
    "com.amazonaws.chime#Alpha2CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[A-Z]{2}"
      }
    },
    "com.amazonaws.chime#AreaCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^$|^[0-9]{3,3}$"
      }
    },
    "com.amazonaws.chime#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^arn[\\/\\:\\-\\_\\.a-zA-Z0-9]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumberWithUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#AssociatePhoneNumberWithUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#AssociatePhoneNumberWithUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a phone number with the specified Amazon Chime user.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users/{UserId}?operation=associate-phone-number",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumberWithUserRequest": {
      "type": "structure",
      "members": {
        "E164PhoneNumber": {
          "target": "com.amazonaws.chime#E164PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number, in E.164 format.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The user ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumberWithUserResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates phone numbers with the specified Amazon Chime Voice Connector.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connectors/{VoiceConnectorId}?operation=associate-phone-numbers",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates phone numbers with the specified Amazon Chime Voice Connector group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connector-groups/{VoiceConnectorGroupId}?operation=associate-phone-numbers",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorGroupRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorGroupId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connector group ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ForceAssociate": {
          "target": "com.amazonaws.chime#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>If true, associates the provided phone numbers with the provided Amazon Chime Voice Connector Group and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.</p>"
          }
        },
        "E164PhoneNumbers": {
          "target": "com.amazonaws.chime#E164PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "<p>List of phone numbers, in E.164 format.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorGroupResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chime#PhoneNumberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorRequest": {
      "type": "structure",
      "members": {
        "ForceAssociate": {
          "target": "com.amazonaws.chime#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>If true, associates the provided phone numbers with the provided Amazon Chime Voice Connector and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.</p>"
          }
        },
        "E164PhoneNumbers": {
          "target": "com.amazonaws.chime#E164PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "<p>List of phone numbers, in E.164 format.</p>",
            "smithy.api#required": {}
          }
        },
        "VoiceConnectorId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connector ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chime#PhoneNumberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified sign-in delegate groups with the specified Amazon Chime account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}?operation=associate-signin-delegate-groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccountRequest": {
      "type": "structure",
      "members": {
        "SigninDelegateGroups": {
          "target": "com.amazonaws.chime#SigninDelegateGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The sign-in delegate groups.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccountResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.chime#Attendee": {
      "type": "structure",
      "members": {
        "AttendeeId": {
          "target": "com.amazonaws.chime#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee ID.</p>"
          }
        },
        "JoinToken": {
          "target": "com.amazonaws.chime#JoinTokenString",
          "traits": {
            "smithy.api#documentation": "<p>The join token used by the Amazon Chime SDK attendee.</p>"
          }
        },
        "ExternalUserId": {
          "target": "com.amazonaws.chime#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. Links the attendee to an identity managed by a builder application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Chime SDK meeting attendee. Includes a unique <code>AttendeeId</code>\n      and <code>JoinToken</code>. The <code>JoinToken</code> allows a client to authenticate and join as the specified attendee. The <code>JoinToken</code> expires when the meeting ends or when <a>DeleteAttendee</a> is called. After that, the attendee is unable to join the meeting.</p>\n         <p>We recommend securely transferring each <code>JoinToken</code> from your server\n      application to the client so that no other client has access to the token except for the one authorized to represent the attendee.</p>"
      }
    },
    "com.amazonaws.chime#AttendeeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Attendee"
      }
    },
    "com.amazonaws.chime#AttendeeTagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.chime#AttendeeTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.chime#BadRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chime#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chime#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input parameters don't match the service's restrictions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chime#BatchCreateAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchCreateAttendeeRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchCreateAttendeeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates up to 100 new attendees for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings/{MeetingId}/attendees?operation=batch-create",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#BatchCreateAttendeeErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#CreateAttendeeError"
      }
    },
    "com.amazonaws.chime#BatchCreateAttendeeRequest": {
      "type": "structure",
      "members": {
        "Attendees": {
          "target": "com.amazonaws.chime#CreateAttendeeRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the attendees to create.</p>",
            "smithy.api#required": {}
          }
        },
        "MeetingId": {
          "target": "com.amazonaws.chime#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#BatchCreateAttendeeResponse": {
      "type": "structure",
      "members": {
        "Attendees": {
          "target": "com.amazonaws.chime#AttendeeList",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendees IDs and join tokens.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.chime#BatchCreateAttendeeErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the attendees in the request, a list of the attendees is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#BatchCreateRoomMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchCreateRoomMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchCreateRoomMembershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds up to 50 members to a chat room in an Amazon Chime Enterprise account. Members can be either users or bots. The member role designates whether the member is a chat room administrator or a general chat room member.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/rooms/{RoomId}/memberships?operation=batch-create",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#BatchCreateRoomMembershipRequest": {
      "type": "structure",
      "members": {
        "MembershipItemList": {
          "target": "com.amazonaws.chime#MembershipItemList",
          "traits": {
            "smithy.api#documentation": "<p>The list of membership items.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RoomId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The room ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#BatchCreateRoomMembershipResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.chime#MemberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the member IDs in the request, a list of the member IDs is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#BatchDeletePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchDeletePhoneNumberRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchDeletePhoneNumberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Moves phone numbers into the <b>Deletion queue</b>. Phone\n      numbers must be disassociated from any users or Amazon Chime Voice\n      Connectors before they can be deleted.</p> \n         <p>Phone numbers remain in the <b>Deletion queue</b> for 7 days\n      before they are deleted permanently.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-numbers?operation=batch-delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchDeletePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "PhoneNumberIds": {
          "target": "com.amazonaws.chime#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>List of phone number IDs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#BatchDeletePhoneNumberResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chime#PhoneNumberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#BatchSuspendUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchSuspendUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchSuspendUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Suspends up to 50 users from a <code>Team</code> or <code>EnterpriseLWA</code> Amazon\n      Chime account. For more information\n      about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the\n      <i>Amazon\n        Chime Administration Guide</i>.</p> \n         <p>Users suspended from a <code>Team</code> account are disassociated from the account,\n      but they can continue to use Amazon Chime as free users. To remove the suspension from\n      suspended <code>Team</code> account users, invite them to the <code>Team</code> account again.\n      You can use the <a>InviteUsers</a> action to do so.</p>\n         <p>Users suspended from an <code>EnterpriseLWA</code> account are immediately signed out\n      of Amazon Chime and can no longer sign in. To remove the suspension from suspended\n        <code>EnterpriseLWA</code> account users, use the <a>BatchUnsuspendUser</a>\n      action. </p>\n         <p>To sign out users without suspending them, use the <a>LogoutUser</a>\n      action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users?operation=suspend",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchSuspendUserRequest": {
      "type": "structure",
      "members": {
        "UserIdList": {
          "target": "com.amazonaws.chime#UserIdList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the user IDs to suspend.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#BatchSuspendUserResponse": {
      "type": "structure",
      "members": {
        "UserErrors": {
          "target": "com.amazonaws.chime#UserErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the <a>BatchSuspendUser</a> action fails for one\n      or more of the user IDs in the request, a list of the user IDs is returned, along with error\n      codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#BatchUnsuspendUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchUnsuspendUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchUnsuspendUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the suspension from up to 50 previously suspended users for the specified\n      Amazon Chime <code>EnterpriseLWA</code> account. Only users on <code>EnterpriseLWA</code>\n      accounts can be unsuspended using this action. For more information about different account\n      types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration\n        Guide</i>.</p>\n         <p>Previously suspended users who are unsuspended using this action are returned to\n      <code>Registered</code> status. Users who are not previously suspended are ignored.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users?operation=unsuspend",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchUnsuspendUserRequest": {
      "type": "structure",
      "members": {
        "UserIdList": {
          "target": "com.amazonaws.chime#UserIdList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the user IDs to unsuspend.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#BatchUnsuspendUserResponse": {
      "type": "structure",
      "members": {
        "UserErrors": {
          "target": "com.amazonaws.chime#UserErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the <a>BatchUnsuspendUser</a> action fails for one\n      or more of the user IDs in the request, a list of the user IDs is returned, along with error\n      codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#BatchUpdatePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchUpdatePhoneNumberRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchUpdatePhoneNumberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates phone number product types or calling names. You can update one attribute at a time for each <code>UpdatePhoneNumberRequestItem</code>. For example, you can update either the product type or the calling name.</p> \n         <p>For product types, choose from Amazon Chime Business Calling and Amazon Chime Voice\n      Connector. For toll-free numbers, you must use the Amazon Chime Voice Connector product\n      type.</p>\n         <p>Updates to outbound calling names can take up to 72 hours to complete. Pending updates to outbound calling names must be complete before you can request another update.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-numbers?operation=batch-update",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchUpdatePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "UpdatePhoneNumberRequestItems": {
          "target": "com.amazonaws.chime#UpdatePhoneNumberRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the phone number IDs and product types or calling names to update.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#BatchUpdatePhoneNumberResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chime#PhoneNumberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#BatchUpdateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchUpdateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchUpdateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates user details within the <a>UpdateUserRequestItem</a> object for up to 20 users for the specified Amazon Chime account.\n       Currently, only <code>LicenseType</code> updates are supported for this action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchUpdateUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UpdateUserRequestItems": {
          "target": "com.amazonaws.chime#UpdateUserRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the user IDs and details to update.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#BatchUpdateUserResponse": {
      "type": "structure",
      "members": {
        "UserErrors": {
          "target": "com.amazonaws.chime#UserErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the <a>BatchUpdateUser</a> action fails for one\n      or more of the user IDs in the request, a list of the user IDs is returned, along with error\n      codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.chime#Bot": {
      "type": "structure",
      "members": {
        "Disabled": {
          "target": "com.amazonaws.chime#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When true, the bot is stopped from running in your account.</p>"
          }
        },
        "SecurityToken": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The security token used to authenticate Amazon Chime with the outgoing event endpoint.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The bot creation timestamp, in ISO 8601 format.</p>"
          }
        },
        "BotType": {
          "target": "com.amazonaws.chime#BotType",
          "traits": {
            "smithy.api#documentation": "<p>The bot type.</p>"
          }
        },
        "UserId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the bot user.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The bot display name.</p>"
          }
        },
        "UpdatedTimestamp": {
          "target": "com.amazonaws.chime#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The updated bot timestamp, in ISO 8601 format.</p>"
          }
        },
        "BotId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The bot ID.</p>"
          }
        },
        "BotEmail": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The bot email address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource that allows Enterprise account administrators to configure an interface to receive events from Amazon Chime.</p>"
      }
    },
    "com.amazonaws.chime#BotList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Bot"
      }
    },
    "com.amazonaws.chime#BotType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ChatBot",
            "name": "ChatBot"
          }
        ]
      }
    },
    "com.amazonaws.chime#BusinessCallingSettings": {
      "type": "structure",
      "members": {
        "CdrBucket": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket designated for call detail record storage.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Chime Business Calling settings for the administrator's AWS account.\n      Includes any Amazon S3 buckets designated for storing call detail records.</p>"
      }
    },
    "com.amazonaws.chime#CallingName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^$|^[a-zA-Z0-9 ]{2,15}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chime#CallingNameStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Unassigned",
            "name": "Unassigned"
          },
          {
            "value": "UpdateInProgress",
            "name": "UpdateInProgress"
          },
          {
            "value": "UpdateSucceeded",
            "name": "UpdateSucceeded"
          },
          {
            "value": "UpdateFailed",
            "name": "UpdateFailed"
          }
        ]
      }
    },
    "com.amazonaws.chime#CallingRegion": {
      "type": "string"
    },
    "com.amazonaws.chime#CallingRegionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#CallingRegion"
      }
    },
    "com.amazonaws.chime#Capability": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Voice",
            "name": "Voice"
          },
          {
            "value": "SMS",
            "name": "SMS"
          }
        ]
      }
    },
    "com.amazonaws.chime#CapabilityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Capability"
      }
    },
    "com.amazonaws.chime#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#pattern": "[-_a-zA-Z0-9]*",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chime#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chime#String"
        },
        "Code": {
          "target": "com.amazonaws.chime#ErrorCode"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n       resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.chime#ConversationRetentionSettings": {
      "type": "structure",
      "members": {
        "RetentionDays": {
          "target": "com.amazonaws.chime#RetentionDays",
          "traits": {
            "smithy.api#documentation": "<p>The number of days for which to retain chat conversation messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The retention settings that determine how long to retain chat conversation messages for an Amazon Chime Enterprise account.</p>"
      }
    },
    "com.amazonaws.chime#Country": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^$|^[A-Z]{2,2}$"
      }
    },
    "com.amazonaws.chime#CountryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Country"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.chime#CpsLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.chime#CreateAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Chime account under the administrator's AWS account. Only\n       <code>Team</code> account types are currently supported for this action. For more information\n       about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the\n       <i>Amazon\n         Chime Administration Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateAccountRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.chime#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Chime account.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#CreateAccountResponse": {
      "type": "structure",
      "members": {
        "Account": {
          "target": "com.amazonaws.chime#Account",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account details.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateAttendeeRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateAttendeeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new attendee for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings/{MeetingId}/attendees",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateAttendeeError": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>"
          }
        },
        "ExternalUserId": {
          "target": "com.amazonaws.chime#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. Links the attendee to an identity managed by a builder application.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The list of errors returned when errors are encountered during the BatchCreateAttendee and CreateAttendee actions. This includes external user IDs, error codes, and error messages.</p>"
      }
    },
    "com.amazonaws.chime#CreateAttendeeRequest": {
      "type": "structure",
      "members": {
        "ExternalUserId": {
          "target": "com.amazonaws.chime#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. Links the attendee to an identity managed by a builder application.</p>",
            "smithy.api#required": {}
          }
        },
        "MeetingId": {
          "target": "com.amazonaws.chime#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chime#AttendeeTagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag key-value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateAttendeeRequestItem": {
      "type": "structure",
      "members": {
        "ExternalUserId": {
          "target": "com.amazonaws.chime#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. Links the attendee to an identity managed by a builder application.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chime#AttendeeTagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Chime SDK attendee fields to create, used with the BatchCreateAttendee action.</p>"
      }
    },
    "com.amazonaws.chime#CreateAttendeeRequestItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#CreateAttendeeRequestItem"
      }
    },
    "com.amazonaws.chime#CreateAttendeeResponse": {
      "type": "structure",
      "members": {
        "Attendee": {
          "target": "com.amazonaws.chime#Attendee",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendee ID and join token.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateBotRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a bot for an Amazon Chime Enterprise account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/bots",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateBotRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Domain": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The domain of the Amazon Chime Enterprise account.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The bot display name.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#CreateBotResponse": {
      "type": "structure",
      "members": {
        "Bot": {
          "target": "com.amazonaws.chime#Bot",
          "traits": {
            "smithy.api#documentation": "<p>The bot details.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateMeeting": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateMeetingRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateMeetingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon Chime SDK meeting in the specified media Region with no initial attendees. For more information about specifying media Regions, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/chime-sdk-meetings-regions.html\">Amazon Chime SDK Media Regions</a> in the <i>Amazon Chime Developer Guide</i>. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateMeetingRequest": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.chime#MeetingTagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag key-value pairs.</p>"
          }
        },
        "MediaRegion": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Region in which to create the meeting. Default: <code>us-east-1</code>.</p> \n         <p>Available values: <code>ap-northeast-1</code>, <code>ap-southeast-1</code>, <code>ap-southeast-2</code>, <code>ca-central-1</code>, <code>eu-central-1</code>, <code>eu-north-1</code>, <code>eu-west-1</code>, <code>eu-west-2</code>, <code>eu-west-3</code>, <code>sa-east-1</code>, <code>us-east-1</code>, <code>us-east-2</code>, <code>us-west-1</code>, <code>us-west-2</code>.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chime#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the client request. Use a different token for different meetings.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "MeetingHostId": {
          "target": "com.amazonaws.chime#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>Reserved.</p>"
          }
        },
        "NotificationsConfiguration": {
          "target": "com.amazonaws.chime#MeetingNotificationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for resource targets to receive notifications when meeting and attendee events occur.</p>"
          }
        },
        "ExternalMeetingId": {
          "target": "com.amazonaws.chime#ExternalMeetingIdType",
          "traits": {
            "smithy.api#documentation": "<p>The external meeting ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateMeetingResponse": {
      "type": "structure",
      "members": {
        "Meeting": {
          "target": "com.amazonaws.chime#Meeting",
          "traits": {
            "smithy.api#documentation": "<p>The meeting information, including the meeting ID and <code>MediaPlacement</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateMeetingWithAttendees": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateMeetingWithAttendeesRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateMeetingWithAttendeesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon Chime SDK meeting in the specified media Region, with attendees. For more information about specifying media Regions, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/chime-sdk-meetings-regions.html\">Amazon Chime SDK Media Regions</a> in the <i>Amazon Chime Developer Guide</i>. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings?operation=create-attendees",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateMeetingWithAttendeesRequest": {
      "type": "structure",
      "members": {
        "NotificationsConfiguration": {
          "target": "com.amazonaws.chime#MeetingNotificationConfiguration"
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chime#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the client request. Use a different token for different meetings.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "ExternalMeetingId": {
          "target": "com.amazonaws.chime#ExternalMeetingIdType",
          "traits": {
            "smithy.api#documentation": "<p>The external meeting ID.</p>"
          }
        },
        "Attendees": {
          "target": "com.amazonaws.chime#CreateMeetingWithAttendeesRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the attendees to create.</p>"
          }
        },
        "MediaRegion": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Region in which to create the meeting. Default: <code>us-east-1</code>.</p> \n         <p>Available values: <code>ap-northeast-1</code>, <code>ap-southeast-1</code>, <code>ap-southeast-2</code>, <code>ca-central-1</code>, <code>eu-central-1</code>, <code>eu-north-1</code>, <code>eu-west-1</code>, <code>eu-west-2</code>, <code>eu-west-3</code>, <code>sa-east-1</code>, <code>us-east-1</code>, <code>us-east-2</code>, <code>us-west-1</code>, <code>us-west-2</code>.</p>"
          }
        },
        "MeetingHostId": {
          "target": "com.amazonaws.chime#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>Reserved.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chime#MeetingTagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag key-value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateMeetingWithAttendeesRequestItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#CreateAttendeeRequestItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.chime#CreateMeetingWithAttendeesResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.chime#BatchCreateAttendeeErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the attendees in the request, a list of the attendees is returned, along with error codes and error messages.</p>"
          }
        },
        "Attendees": {
          "target": "com.amazonaws.chime#AttendeeList",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendees IDs and join tokens.</p>"
          }
        },
        "Meeting": {
          "target": "com.amazonaws.chime#Meeting"
        }
      }
    },
    "com.amazonaws.chime#CreatePhoneNumberOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreatePhoneNumberOrderRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreatePhoneNumberOrderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an order for phone numbers to be provisioned. Choose from Amazon Chime Business\n      Calling and Amazon Chime Voice Connector product types. For toll-free numbers, you must use\n      the Amazon Chime Voice Connector product type.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-number-orders",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreatePhoneNumberOrderRequest": {
      "type": "structure",
      "members": {
        "E164PhoneNumbers": {
          "target": "com.amazonaws.chime#E164PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "<p>List of phone numbers, in E.164 format.</p>",
            "smithy.api#required": {}
          }
        },
        "ProductType": {
          "target": "com.amazonaws.chime#PhoneNumberProductType",
          "traits": {
            "smithy.api#documentation": "<p>The phone number product type.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#CreatePhoneNumberOrderResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberOrder": {
          "target": "com.amazonaws.chime#PhoneNumberOrder",
          "traits": {
            "smithy.api#documentation": "<p>The phone number order details.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateProxySession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateProxySessionRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateProxySessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a proxy session on the specified Amazon Chime Voice Connector for the specified participant phone numbers.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connectors/{VoiceConnectorId}/proxy-sessions",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateProxySessionRequest": {
      "type": "structure",
      "members": {
        "Capabilities": {
          "target": "com.amazonaws.chime#CapabilityList",
          "traits": {
            "smithy.api#documentation": "<p>The proxy session capabilities.</p>",
            "smithy.api#required": {}
          }
        },
        "NumberSelectionBehavior": {
          "target": "com.amazonaws.chime#NumberSelectionBehavior",
          "traits": {
            "smithy.api#documentation": "<p>The preference for proxy phone number reuse, or stickiness, between the same participants across sessions.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chime#ProxySessionNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the proxy session.</p>"
          }
        },
        "GeoMatchParams": {
          "target": "com.amazonaws.chime#GeoMatchParams",
          "traits": {
            "smithy.api#documentation": "<p>The country and area code for the proxy phone number.</p>"
          }
        },
        "GeoMatchLevel": {
          "target": "com.amazonaws.chime#GeoMatchLevel",
          "traits": {
            "smithy.api#documentation": "<p>The preference for matching the country or area code of the proxy phone number with that of the first participant.</p>"
          }
        },
        "ParticipantPhoneNumbers": {
          "target": "com.amazonaws.chime#ParticipantPhoneNumberList",
          "traits": {
            "smithy.api#documentation": "<p>The participant phone numbers.</p>",
            "smithy.api#required": {}
          }
        },
        "VoiceConnectorId": {
          "target": "com.amazonaws.chime#NonEmptyString128",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime voice connector ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ExpiryMinutes": {
          "target": "com.amazonaws.chime#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of minutes allowed for the proxy session.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateProxySessionResponse": {
      "type": "structure",
      "members": {
        "ProxySession": {
          "target": "com.amazonaws.chime#ProxySession",
          "traits": {
            "smithy.api#documentation": "<p>The proxy session details.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateRoomRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateRoomResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a chat room for the specified Amazon Chime Enterprise account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/rooms",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateRoomMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateRoomMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateRoomMembershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ConflictException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a member to a chat room in an Amazon Chime Enterprise account. A member can be either a user or a bot. The member role designates whether the member is a chat room administrator or a general chat room member.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/rooms/{RoomId}/memberships",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateRoomMembershipRequest": {
      "type": "structure",
      "members": {
        "Role": {
          "target": "com.amazonaws.chime#RoomMembershipRole",
          "traits": {
            "smithy.api#documentation": "<p>The role of the member.</p>"
          }
        },
        "MemberId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime member ID (user ID or bot ID).</p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RoomId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The room ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#CreateRoomMembershipResponse": {
      "type": "structure",
      "members": {
        "RoomMembership": {
          "target": "com.amazonaws.chime#RoomMembership",
          "traits": {
            "smithy.api#documentation": "<p>The room membership details.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateRoomRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The room name.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chime#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.chime#CreateRoomResponse": {
      "type": "structure",
      "members": {
        "Room": {
          "target": "com.amazonaws.chime#Room",
          "traits": {
            "smithy.api#documentation": "<p>The room details.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ConflictException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user under the specified Amazon Chime account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users?operation=create",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Email": {
          "target": "com.amazonaws.chime#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The user's email address.</p>"
          }
        },
        "UserType": {
          "target": "com.amazonaws.chime#UserType",
          "traits": {
            "smithy.api#documentation": "<p>The user type.</p>"
          }
        },
        "Username": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The user name.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateUserResponse": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazonaws.chime#User"
        }
      }
    },
    "com.amazonaws.chime#CreateVoiceConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateVoiceConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateVoiceConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Chime Voice Connector under the administrator's AWS account. You can choose to create an Amazon Chime Voice Connector in a specific AWS Region.</p>\n         <p>Enabling <a>CreateVoiceConnectorRequest$RequireEncryption</a> configures your Amazon Chime Voice Connector to use TLS transport for SIP signaling and Secure RTP (SRTP) for media. \n      Inbound calls use TLS transport, and unencrypted outbound calls are blocked.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connectors",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateVoiceConnectorGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateVoiceConnectorGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateVoiceConnectorGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Chime Voice Connector group under the administrator's AWS account.\n      You can associate Amazon Chime Voice Connectors with the Amazon Chime\n      Voice Connector group by including <code>VoiceConnectorItems</code> in the request.</p>\n         <p>You can include Amazon Chime Voice Connectors from different AWS Regions in your group.\n      This creates a fault tolerant mechanism for fallback in case of availability events.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connector-groups",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateVoiceConnectorGroupRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorItems": {
          "target": "com.amazonaws.chime#VoiceConnectorItemList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connectors to route inbound calls to.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chime#VoiceConnectorGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Chime Voice Connector group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#CreateVoiceConnectorGroupResponse": {
      "type": "structure",
      "members": {
        "VoiceConnectorGroup": {
          "target": "com.amazonaws.chime#VoiceConnectorGroup",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connector group details.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateVoiceConnectorRequest": {
      "type": "structure",
      "members": {
        "AwsRegion": {
          "target": "com.amazonaws.chime#VoiceConnectorAwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region in which the Amazon Chime Voice Connector is created. Default value: <code>us-east-1</code>.</p>"
          }
        },
        "RequireEncryption": {
          "target": "com.amazonaws.chime#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When enabled, requires encryption for the Amazon Chime Voice Connector.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chime#VoiceConnectorName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Chime Voice Connector.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#CreateVoiceConnectorResponse": {
      "type": "structure",
      "members": {
        "VoiceConnector": {
          "target": "com.amazonaws.chime#VoiceConnector",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connector details.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#Credential": {
      "type": "structure",
      "members": {
        "Password": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The RFC2617 compliant password associated with the SIP credentials, in US-ASCII format.</p>"
          }
        },
        "Username": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The RFC2617 compliant user name associated with the SIP credentials, in US-ASCII\n      format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The SIP credentials used to authenticate requests to your Amazon Chime Voice Connector.</p>"
      }
    },
    "com.amazonaws.chime#CredentialList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Credential"
      }
    },
    "com.amazonaws.chime#DNISEmergencyCallingConfiguration": {
      "type": "structure",
      "members": {
        "CallingCountry": {
          "target": "com.amazonaws.chime#Alpha2CountryCode",
          "traits": {
            "smithy.api#documentation": "<p>The country from which emergency calls are allowed, in ISO 3166-1 alpha-2 format.</p>",
            "smithy.api#required": {}
          }
        },
        "TestPhoneNumber": {
          "target": "com.amazonaws.chime#E164PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The DNIS phone number to route test emergency calls to, in E.164 format.</p>"
          }
        },
        "EmergencyPhoneNumber": {
          "target": "com.amazonaws.chime#E164PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The DNIS phone number to route emergency calls to, in E.164 format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Dialed Number Identification Service (DNIS) emergency calling configuration details associated with an Amazon Chime Voice Connector's emergency calling configuration.</p>"
      }
    },
    "com.amazonaws.chime#DNISEmergencyCallingConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#DNISEmergencyCallingConfiguration"
      }
    },
    "com.amazonaws.chime#DataRetentionInHours": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.chime#DeleteAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DeleteAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#DeleteAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        },
        {
          "target": "com.amazonaws.chime#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Amazon Chime account. You must suspend all users before deleting\n       a <code>Team</code> account. You can use the <a>BatchSuspendUser</a> action to do\n       so.</p>\n         <p>For <code>EnterpriseLWA</code> and <code>EnterpriseAD</code> accounts, you must\n      release the claimed domains for your Amazon Chime account before deletion. As soon as you\n      release the domain, all users under that account are suspended.</p>\n         <p>Deleted accounts appear in your <code>Disabled</code> accounts list for 90 days. To restore a\n     deleted account from your <code>Disabled</code> accounts list, you must contact AWS Support.</p>\n         <p>After 90 days, deleted accounts are permanently removed from your\n       <code>Disabled</code> accounts list.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AccountId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chime#DeleteAccountRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#DeleteAccountResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.chime#DeleteAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DeleteAttendeeRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an attendee from the specified Amazon Chime SDK meeting and deletes their <code>JoinToken</code>. Attendees are automatically deleted when a Amazon Chime SDK meeting is deleted. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/meetings/{MeetingId}/attendees/{AttendeeId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chime#DeleteAttendeeRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chime#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AttendeeId": {
          "target": "com.amazonaws.chime#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#DeleteEventsConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DeleteEventsConfigurationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the events configuration that allows a bot to receive outgoing events.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AccountId}/bots/{BotId}/events-configuration",
          "code": 204
        }
      }
    },
    "com.amazonaws.chime#DeleteEventsConfigurationRequest": {
      "type": "structure",
      "members": {
        "BotId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The bot ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#DeleteMeeting": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DeleteMeetingRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Amazon Chime SDK meeting. When a meeting is deleted, its attendees are also deleted and clients can no longer join it. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/meetings/{MeetingId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chime#DeleteMeetingRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chime#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#DeletePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DeletePhoneNumberRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Moves the specified phone number into the <b>Deletion\n      queue</b>. A phone number must be disassociated from any users or Amazon Chime Voice\n      Connectors before it can be deleted.</p>\n         <p>Deleted phone numbers remain in the <b>Deletion queue</b>\n      for 7 days before they are deleted permanently.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/phone-numbers/{PhoneNumberId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chime#DeletePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "PhoneNumberId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The phone number ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#DeleteProxySession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DeleteProxySessionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified proxy session from the specified Amazon Chime Voice Connector.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/voice-connectors/{VoiceConnectorId}/proxy-sessions/{ProxySessionId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chime#DeleteProxySessionRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.chime#NonEmptyString128",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime voice connector ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ProxySessionId": {
          "target": "com.amazonaws.chime#NonEmptyString128",
          "traits": {
            "smithy.api#documentation": "<p>The proxy session ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#DeleteRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DeleteRoomRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a chat room in an Amazon Chime Enterprise account.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AccountId}/rooms/{RoomId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chime#DeleteRoomMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DeleteRoomMembershipRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a member from a chat room in an Amazon Chime Enterprise account.</p>",
        "smithy.api#http": {
          "method": "DELETE",
[...]
