{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.cleanrooms#AWSBastionControlPlaneServiceLambda": {
            "type": "service",
            "version": "2022-02-17",
            "operations": [
                {
                    "target": "com.amazonaws.cleanrooms#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.cleanrooms#TagResource"
                },
                {
                    "target": "com.amazonaws.cleanrooms#UntagResource"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateResource"
                },
                {
                    "target": "com.amazonaws.cleanrooms#CollaborationResource"
                },
                {
                    "target": "com.amazonaws.cleanrooms#ConfiguredAudienceModelAssociationResource"
                },
                {
                    "target": "com.amazonaws.cleanrooms#ConfiguredTableAssociationResource"
                },
                {
                    "target": "com.amazonaws.cleanrooms#ConfiguredTableResource"
                },
                {
                    "target": "com.amazonaws.cleanrooms#IdMappingTableResource"
                },
                {
                    "target": "com.amazonaws.cleanrooms#IdNamespaceAssociationResource"
                },
                {
                    "target": "com.amazonaws.cleanrooms#MembershipResource"
                },
                {
                    "target": "com.amazonaws.cleanrooms#PrivacyBudgetTemplateResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "CleanRooms",
                    "arnNamespace": "cleanrooms",
                    "cloudTrailEventSource": "cleanrooms.amazonaws.com"
                },
                "aws.auth#sigv4": {
                    "name": "cleanrooms"
                },
                "aws.iam#supportedPrincipalTypes": [
                    "Root",
                    "IAMUser",
                    "IAMRole",
                    "FederatedUser"
                ],
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "additionalAllowedHeaders": [
                        "*",
                        "content-type",
                        "x-amz-content-sha256",
                        "x-amz-user-agent",
                        "x-amzn-platform-id",
                        "x-amzn-trace-id"
                    ],
                    "additionalExposedHeaders": [
                        "x-amzn-errortype",
                        "x-amzn-requestid",
                        "x-amzn-trace-id"
                    ],
                    "maxAge": 86400
                },
                "smithy.api#documentation": "<p>Welcome to the <i>Clean Rooms API Reference</i>.</p> <p>Clean Rooms is an Amazon Web Services service that helps multiple parties to join their data together in a secure collaboration workspace. In the collaboration, members who can run queries and jobs and receive results can get insights into the collective datasets without either party getting access to the other party's raw data.</p> <p>To learn more about Clean Rooms concepts, procedures, and best practices, see the <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/userguide/what-is.html\">Clean Rooms User Guide</a>.</p> <p>To learn more about SQL commands, functions, and conditions supported in Clean Rooms, see the <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/sql-reference/sql-reference.html\">Clean Rooms SQL Reference</a>.</p>",
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "maxResults"
                },
                "smithy.api#title": "AWS Clean Rooms Service",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://cleanrooms-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://cleanrooms-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://cleanrooms.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://cleanrooms.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cleanrooms.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.cleanrooms#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                },
                "reason": {
                    "target": "com.amazonaws.cleanrooms#AccessDeniedExceptionReason",
                    "traits": {
                        "smithy.api#documentation": "<p>A reason code for the exception.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Caller does not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.cleanrooms#AccessDeniedExceptionReason": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "INSUFFICIENT_PERMISSIONS",
                        "name": "INSUFFICIENT_PERMISSIONS"
                    }
                ]
            }
        },
        "com.amazonaws.cleanrooms#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "^\\d+$"
            }
        },
        "com.amazonaws.cleanrooms#AdditionalAnalyses": {
            "type": "enum",
            "members": {
                "ALLOWED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALLOWED"
                    }
                },
                "REQUIRED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REQUIRED"
                    }
                },
                "NOT_ALLOWED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NOT_ALLOWED"
                    }
                }
            }
        },
        "com.amazonaws.cleanrooms#AdditionalAnalysesResourceArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 256
                },
                "smithy.api#pattern": "^arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:([\\d]{12}|\\*):membership\\/[\\*\\d\\w-]+\\/configuredaudiencemodelassociation\\/[\\*\\d\\w-]+$|^arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:([0-9]{12}|\\*):membership\\/[\\*\\d\\w-]+\\/configured-model-algorithm-association\\/([-a-zA-Z0-9_\\/.]+|\\*)$"
            }
        },
        "com.amazonaws.cleanrooms#AggregateColumn": {
            "type": "structure",
            "members": {
                "columnNames": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnNameList",
                    "traits": {
                        "smithy.api#documentation": "<p>Column names in configured table of aggregate columns.</p>",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "function": {
                    "target": "com.amazonaws.cleanrooms#AggregateFunctionName",
                    "traits": {
                        "smithy.api#documentation": "<p>Aggregation function that can be applied to aggregate column in query.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Column in configured table that can be used in aggregate function in query.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AggregateColumnList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AggregateColumn"
            }
        },
        "com.amazonaws.cleanrooms#AggregateFunctionName": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "SUM",
                        "value": "SUM"
                    },
                    {
                        "name": "SUM_DISTINCT",
                        "value": "SUM_DISTINCT"
                    },
                    {
                        "name": "COUNT",
                        "value": "COUNT"
                    },
                    {
                        "name": "COUNT_DISTINCT",
                        "value": "COUNT_DISTINCT"
                    },
                    {
                        "name": "AVG",
                        "value": "AVG"
                    }
                ]
            }
        },
        "com.amazonaws.cleanrooms#AggregationConstraint": {
            "type": "structure",
            "members": {
                "columnName": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnName",
                    "traits": {
                        "smithy.api#documentation": "<p>Column in aggregation constraint for which there must be a minimum number of distinct values in an output row for it to be in the query output.</p>",
                        "smithy.api#required": {}
                    }
                },
                "minimum": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The minimum number of distinct values that an output row must be an aggregation of. Minimum threshold of distinct values for a specified column that must exist in an output row for it to be in the query output.</p>",
                        "smithy.api#range": {
                            "min": 2,
                            "max": 100000
                        },
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.cleanrooms#AggregationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of aggregation the constraint allows. The only valid value is currently `COUNT_DISTINCT`.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Constraint on query output removing output rows that do not meet a minimum number of distinct values of a specified column.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AggregationConstraints": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AggregationConstraint"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.cleanrooms#AggregationType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "COUNT_DISTINCT",
                        "value": "COUNT_DISTINCT"
                    }
                ]
            }
        },
        "com.amazonaws.cleanrooms#AllowedAdditionalAnalyses": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AdditionalAnalysesResourceArn"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 25
                }
            }
        },
        "com.amazonaws.cleanrooms#AllowedAnalysesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AnalysisTemplateArnOrQueryWildcard"
            }
        },
        "com.amazonaws.cleanrooms#AllowedAnalysisProviderList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AccountId"
            }
        },
        "com.amazonaws.cleanrooms#AllowedColumnList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#ColumnName"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.cleanrooms#AllowedResultReceivers": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AccountId"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisFormat": {
            "type": "enum",
            "members": {
                "SQL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SQL"
                    }
                },
                "PYSPARK_1_0": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PYSPARK_1_0"
                    }
                }
            }
        },
        "com.amazonaws.cleanrooms#AnalysisMethod": {
            "type": "enum",
            "members": {
                "DIRECT_QUERY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DIRECT_QUERY"
                    }
                },
                "DIRECT_JOB": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DIRECT_JOB"
                    }
                },
                "MULTIPLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MULTIPLE"
                    }
                }
            }
        },
        "com.amazonaws.cleanrooms#AnalysisParameter": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.cleanrooms#ParameterName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the parameter. The name must use only alphanumeric, underscore (_), or hyphen (-) characters but cannot start or end with a hyphen.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.cleanrooms#ParameterType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of parameter.</p>",
                        "smithy.api#required": {}
                    }
                },
                "defaultValue": {
                    "target": "com.amazonaws.cleanrooms#ParameterValue",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional. The default value that is applied in the analysis template. The member who can query can override this value in the query editor.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Optional. The member who can query can provide this placeholder for a literal data value in an analysis template.</p>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.cleanrooms#AnalysisParameterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AnalysisParameter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 10
                }
            }
        },
        "com.amazonaws.cleanrooms#AnalysisRule": {
            "type": "structure",
            "members": {
                "collaborationId": {
                    "target": "com.amazonaws.cleanrooms#CollaborationIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID for the associated collaboration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRuleType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of analysis rule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.cleanrooms#TableAlias",
                    "traits": {
                        "smithy.api#documentation": "<p>The name for the analysis rule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the analysis rule was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updateTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the analysis rule was last updated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "policy": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRulePolicy",
                    "traits": {
                        "smithy.api#documentation": "<p>A policy that describes the associated data usage limitations.</p>",
                        "smithy.api#required": {}
                    }
                },
                "collaborationPolicy": {
                    "target": "com.amazonaws.cleanrooms#ConfiguredTableAssociationAnalysisRulePolicy"
                },
                "consolidatedPolicy": {
                    "target": "com.amazonaws.cleanrooms#ConsolidatedPolicy",
                    "traits": {
                        "smithy.api#documentation": "<p> The consolidated policy for the analysis rule.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A specification about how data from the configured table can be used in a query.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisRuleAggregation": {
            "type": "structure",
            "members": {
                "aggregateColumns": {
                    "target": "com.amazonaws.cleanrooms#AggregateColumnList",
                    "traits": {
                        "smithy.api#documentation": "<p>The columns that query runners are allowed to use in aggregation queries.</p>",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "joinColumns": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
                    "traits": {
                        "smithy.api#documentation": "<p>Columns in configured table that can be used in join statements and/or as aggregate columns. They can never be outputted directly.</p>",
                        "smithy.api#required": {}
                    }
                },
                "joinRequired": {
                    "target": "com.amazonaws.cleanrooms#JoinRequiredOption",
                    "traits": {
                        "smithy.api#documentation": "<p>Control that requires member who runs query to do a join with their configured table and/or other configured table in query.</p>"
                    }
                },
                "allowedJoinOperators": {
                    "target": "com.amazonaws.cleanrooms#JoinOperatorsList",
                    "traits": {
                        "smithy.api#documentation": "<p>Which logical operators (if any) are to be used in an INNER JOIN match condition. Default is <code>AND</code>.</p>"
                    }
                },
                "dimensionColumns": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
                    "traits": {
                        "smithy.api#documentation": "<p>The columns that query runners are allowed to select, group by, or filter by.</p>",
                        "smithy.api#required": {}
                    }
                },
                "scalarFunctions": {
                    "target": "com.amazonaws.cleanrooms#ScalarFunctionsList",
                    "traits": {
                        "smithy.api#documentation": "<p>Set of scalar functions that are allowed to be used on dimension columns and the output of aggregation of metrics.</p>",
                        "smithy.api#required": {}
                    }
                },
                "outputConstraints": {
                    "target": "com.amazonaws.cleanrooms#AggregationConstraints",
                    "traits": {
                        "smithy.api#documentation": "<p>Columns that must meet a specific threshold value (after an aggregation function is applied to it) for each output row to be returned.</p>",
                        "smithy.api#required": {}
                    }
                },
                "additionalAnalyses": {
                    "target": "com.amazonaws.cleanrooms#AdditionalAnalyses",
                    "traits": {
                        "smithy.api#documentation": "<p> An indicator as to whether additional analyses (such as Clean Rooms ML) can be applied to the output of the direct query. </p> <p>The <code>additionalAnalyses</code> parameter is currently supported for the list analysis rule (<code>AnalysisRuleList</code>) and the custom analysis rule (<code>AnalysisRuleCustom</code>).</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A type of analysis rule that enables query structure and specified queries that produce aggregate statistics.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisRuleColumnList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnName"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisRuleColumnName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 127
                },
                "smithy.api#pattern": "^[a-z0-9_](([a-z0-9_ ]+-)*([a-z0-9_ ]+))?$"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisRuleColumnNameList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnName"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisRuleCustom": {
            "type": "structure",
            "members": {
                "allowedAnalyses": {
                    "target": "com.amazonaws.cleanrooms#AllowedAnalysesList",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the analysis templates that are allowed by the custom analysis rule.</p>",
                        "smithy.api#length": {
                            "min": 0
                        },
                        "smithy.api#required": {}
                    }
                },
                "allowedAnalysisProviders": {
                    "target": "com.amazonaws.cleanrooms#AllowedAnalysisProviderList",
                    "traits": {
                        "smithy.api#documentation": "<p>The IDs of the Amazon Web Services accounts that are allowed to query by the custom analysis rule. Required when <code>allowedAnalyses</code> is <code>ANY_QUERY</code>.</p>",
                        "smithy.api#length": {
                            "min": 0
                        }
                    }
                },
                "additionalAnalyses": {
                    "target": "com.amazonaws.cleanrooms#AdditionalAnalyses",
                    "traits": {
                        "smithy.api#documentation": "<p> An indicator as to whether additional analyses (such as Clean Rooms ML) can be applied to the output of the direct query.</p>"
                    }
                },
                "disallowedOutputColumns": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
                    "traits": {
                        "smithy.api#documentation": "<p> A list of columns that aren't allowed to be shown in the query output.</p>"
                    }
                },
                "differentialPrivacy": {
                    "target": "com.amazonaws.cleanrooms#DifferentialPrivacyConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The differential privacy configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A type of analysis rule that enables the table owner to approve custom SQL queries on their configured tables. It supports differential privacy.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisRuleIdMappingTable": {
            "type": "structure",
            "members": {
                "joinColumns": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
                    "traits": {
                        "smithy.api#documentation": "<p>The columns that query runners are allowed to use in an INNER JOIN statement.</p>",
                        "smithy.api#length": {
                            "min": 2,
                            "max": 2
                        },
                        "smithy.api#required": {}
                    }
                },
                "queryConstraints": {
                    "target": "com.amazonaws.cleanrooms#QueryConstraintList",
                    "traits": {
                        "smithy.api#documentation": "<p>The query constraints of the analysis rule ID mapping table.</p>",
                        "smithy.api#required": {}
                    }
                },
                "dimensionColumns": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
                    "traits": {
                        "smithy.api#documentation": "<p>The columns that query runners are allowed to select, group by, or filter by.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines details for the analysis rule ID mapping table.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisRuleList": {
            "type": "structure",
            "members": {
                "joinColumns": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
                    "traits": {
                        "smithy.api#documentation": "<p>Columns that can be used to join a configured table with the table of the member who can query and other members' configured tables.</p>",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "allowedJoinOperators": {
                    "target": "com.amazonaws.cleanrooms#JoinOperatorsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The logical operators (if any) that are to be used in an INNER JOIN match condition. Default is <code>AND</code>.</p>"
                    }
                },
                "listColumns": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
                    "traits": {
                        "smithy.api#documentation": "<p>Columns that can be listed in the output.</p>",
                        "smithy.api#required": {}
                    }
                },
                "additionalAnalyses": {
                    "target": "com.amazonaws.cleanrooms#AdditionalAnalyses",
                    "traits": {
                        "smithy.api#documentation": "<p> An indicator as to whether additional analyses (such as Clean Rooms ML) can be applied to the output of the direct query.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A type of analysis rule that enables row-level analysis.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisRulePolicy": {
            "type": "union",
            "members": {
                "v1": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRulePolicyV1",
                    "traits": {
                        "smithy.api#documentation": "<p>Controls on the query specifications that can be run on configured table.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Controls on the query specifications that can be run on configured table.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisRulePolicyV1": {
            "type": "union",
            "members": {
                "list": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRuleList",
                    "traits": {
                        "smithy.api#documentation": "<p>Analysis rule type that enables only list queries on a configured table.</p>"
                    }
                },
                "aggregation": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRuleAggregation",
                    "traits": {
                        "smithy.api#documentation": "<p>Analysis rule type that enables only aggregation queries on a configured table.</p>"
                    }
                },
                "custom": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRuleCustom",
                    "traits": {
                        "smithy.api#documentation": "<p>Analysis rule type that enables custom SQL queries on a configured table.</p>"
                    }
                },
                "idMappingTable": {
                    "target": "com.amazonaws.cleanrooms#AnalysisRuleIdMappingTable",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID mapping table.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Controls on the query specifications that can be run on configured table.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisRuleType": {
            "type": "enum",
            "members": {
                "AGGREGATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AGGREGATION"
                    }
                },
                "LIST": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LIST"
                    }
                },
                "CUSTOM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CUSTOM"
                    }
                },
                "ID_MAPPING_TABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ID_MAPPING_TABLE"
                    }
                }
            }
        },
        "com.amazonaws.cleanrooms#AnalysisRuleTypeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AnalysisRuleType"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisSchema": {
            "type": "structure",
            "members": {
                "referencedTables": {
                    "target": "com.amazonaws.cleanrooms#QueryTables",
                    "traits": {
                        "smithy.api#documentation": "<p>The tables referenced in the analysis schema.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A relation within an analysis.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisSource": {
            "type": "union",
            "members": {
                "text": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateText",
                    "traits": {
                        "smithy.api#documentation": "<p>The query text.</p>"
                    }
                },
                "artifacts": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateArtifacts",
                    "traits": {
                        "smithy.api#documentation": "<p> The artifacts of the analysis source.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The structure that defines the body of the analysis template.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisSourceMetadata": {
            "type": "union",
            "members": {
                "artifacts": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateArtifactMetadata",
                    "traits": {
                        "smithy.api#documentation": "<p> The artifacts of the analysis source metadata.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The analysis source metadata.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplate": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier for the analysis template.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "AnalysisTemplateId"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the analysis template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "collaborationId": {
                    "target": "com.amazonaws.cleanrooms#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID for the associated collaboration of the analysis template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "collaborationArn": {
                    "target": "com.amazonaws.cleanrooms#CollaborationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ARN for the analysis template’s associated collaboration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "membershipId": {
                    "target": "com.amazonaws.cleanrooms#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of a member who created the analysis template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "membershipArn": {
                    "target": "com.amazonaws.cleanrooms#MembershipArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the member who created the analysis template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.cleanrooms#ResourceDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the analysis template.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.cleanrooms#ResourceAlias",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the analysis template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the analysis template was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updateTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the analysis template was last updated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "schema": {
                    "target": "com.amazonaws.cleanrooms#AnalysisSchema",
                    "traits": {
                        "smithy.api#documentation": "<p>The entire schema object.</p>",
                        "smithy.api#required": {}
                    }
                },
                "format": {
                    "target": "com.amazonaws.cleanrooms#AnalysisFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The format of the analysis template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "source": {
                    "target": "com.amazonaws.cleanrooms#AnalysisSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The source of the analysis template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sourceMetadata": {
                    "target": "com.amazonaws.cleanrooms#AnalysisSourceMetadata",
                    "traits": {
                        "smithy.api#documentation": "<p> The source metadata for the analysis template.</p>"
                    }
                },
                "analysisParameters": {
                    "target": "com.amazonaws.cleanrooms#AnalysisParameterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameters of the analysis template.</p>"
                    }
                },
                "validations": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusDetailList",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the validations performed on the analysis template.</p>"
                    }
                },
                "errorMessageConfiguration": {
                    "target": "com.amazonaws.cleanrooms#ErrorMessageConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration that specifies the level of detail in error messages returned by analyses using this template. When set to <code>DETAILED</code>, error messages include more information to help troubleshoot issues with PySpark jobs. Detailed error messages may expose underlying data, including sensitive information. Recommended for faster troubleshooting in development and testing environments.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The analysis template.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 200
                },
                "smithy.api#pattern": "^arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:membership/[\\d\\w-]+/analysistemplate/[\\d\\w-]+$"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateArnList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AnalysisTemplateArn"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateArnOrQueryWildcard": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 200
                },
                "smithy.api#pattern": "^(ANY_QUERY|ANY_JOB|arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:membership/[\\d\\w-]+/analysistemplate/[\\d\\w-]+)$"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateArtifact": {
            "type": "structure",
            "members": {
                "location": {
                    "target": "com.amazonaws.cleanrooms#S3Location",
                    "traits": {
                        "smithy.api#documentation": "<p> The artifact location.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The analysis template artifact.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateArtifactList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AnalysisTemplateArtifact"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1
                }
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateArtifactMetadata": {
            "type": "structure",
            "members": {
                "entryPointHash": {
                    "target": "com.amazonaws.cleanrooms#Hash",
                    "traits": {
                        "smithy.api#documentation": "<p> The hash of the entry point for the analysis template artifact metadata.</p>",
                        "smithy.api#required": {}
                    }
                },
                "additionalArtifactHashes": {
                    "target": "com.amazonaws.cleanrooms#HashList",
                    "traits": {
                        "smithy.api#documentation": "<p> Additional artifact hashes for the analysis template.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The analysis template artifact metadata.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateArtifacts": {
            "type": "structure",
            "members": {
                "entryPoint": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateArtifact",
                    "traits": {
                        "smithy.api#documentation": "<p> The entry point for the analysis template artifacts.</p>",
                        "smithy.api#required": {}
                    }
                },
                "additionalArtifacts": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateArtifactList",
                    "traits": {
                        "smithy.api#documentation": "<p> Additional artifacts for the analysis template.</p>"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.cleanrooms#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The role ARN for the analysis template artifacts.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The analysis template artifacts.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateIdentifier": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 36,
                    "max": 36
                },
                "smithy.api#pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateResource": {
            "type": "resource",
            "identifiers": {
                "MembershipId": {
                    "target": "com.amazonaws.cleanrooms#MembershipIdentifier"
                },
                "AnalysisTemplateId": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateIdentifier"
                }
            },
            "create": {
                "target": "com.amazonaws.cleanrooms#CreateAnalysisTemplate"
            },
            "read": {
                "target": "com.amazonaws.cleanrooms#GetAnalysisTemplate"
            },
            "update": {
                "target": "com.amazonaws.cleanrooms#UpdateAnalysisTemplate"
            },
            "delete": {
                "target": "com.amazonaws.cleanrooms#DeleteAnalysisTemplate"
            },
            "list": {
                "target": "com.amazonaws.cleanrooms#ListAnalysisTemplates"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "membership/{MembershipId}/analysistemplate/{AnalysisTemplateId}"
                },
                "aws.iam#disableConditionKeyInference": {},
                "aws.iam#iamResource": {
                    "name": "analysistemplate"
                },
                "smithy.api#documentation": "Represents a query that can be stored within a collaboration"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateSummary": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the analysis template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the analysis template summary was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "id": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the analysis template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.cleanrooms#ResourceAlias",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the analysis template. </p>",
                        "smithy.api#required": {}
                    }
                },
                "updateTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the analysis template summary was last updated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "membershipArn": {
                    "target": "com.amazonaws.cleanrooms#MembershipArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the member who created the analysis template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "membershipId": {
                    "target": "com.amazonaws.cleanrooms#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier for a membership resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "collaborationArn": {
                    "target": "com.amazonaws.cleanrooms#CollaborationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ARN for the analysis template summary’s associated collaboration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "collaborationId": {
                    "target": "com.amazonaws.cleanrooms#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier for the collaboration that the analysis template summary belongs to. Currently accepts collaboration ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.cleanrooms#ResourceDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the analysis template.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The metadata of the analysis template.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AnalysisTemplateSummary"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateText": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 90000
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatus": {
            "type": "enum",
            "members": {
                "VALID": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VALID"
                    }
                },
                "INVALID": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INVALID"
                    }
                },
                "UNABLE_TO_VALIDATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNABLE_TO_VALIDATE"
                    }
                }
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusDetail": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateValidationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of validation that was performed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the validation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "reasons": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusReasonList",
                    "traits": {
                        "smithy.api#documentation": "<p>The reasons for the validation results.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The status details of the analysis template validation. Clean Rooms Differential Privacy uses a general-purpose query structure to support complex SQL queries and validates whether an analysis template fits that general-purpose query structure. Validation is performed when analysis templates are created and fetched. Because analysis templates are immutable by design, we recommend that you create analysis templates after you associate the configured tables with their analysis rule to your collaboration.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/userguide/analysis-rules-custom.html#custom-diff-privacy\">https://docs.aws.amazon.com/clean-rooms/latest/userguide/analysis-rules-custom.html#custom-diff-privacy</a>.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusDetailList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusDetail"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusReason": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The validation message.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The reasons for the validation results.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusReasonList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusReason"
            }
        },
        "com.amazonaws.cleanrooms#AnalysisTemplateValidationType": {
            "type": "enum",
            "members": {
                "DIFFERENTIAL_PRIVACY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DIFFERENTIAL_PRIVACY"
                    }
                }
            }
        },
        "com.amazonaws.cleanrooms#AnalysisType": {
            "type": "enum",
            "members": {
                "DIRECT_ANALYSIS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DIRECT_ANALYSIS"
                    }
                },
                "ADDITIONAL_ANALYSIS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ADDITIONAL_ANALYSIS"
                    }
                }
            }
        },
        "com.amazonaws.cleanrooms#AnalyticsEngine": {
            "type": "enum",
            "members": {
                "SPARK": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SPARK"
                    }
                },
                "CLEAN_ROOMS_SQL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CLEAN_ROOMS_SQL"
                    }
                }
            }
        },
        "com.amazonaws.cleanrooms#AthenaDatabaseName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_](([a-zA-Z0-9_]+-)*([a-zA-Z0-9_]+))?$"
            }
        },
        "com.amazonaws.cleanrooms#AthenaOutputLocation": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 8,
                    "max": 1024
                },
                "smithy.api#pattern": "^s3://[a-z0-9.-]{3,63}(.*)$"
            }
        },
        "com.amazonaws.cleanrooms#AthenaTableName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_](([a-zA-Z0-9_]+)*([a-zA-Z0-9_]+))?$"
            }
        },
        "com.amazonaws.cleanrooms#AthenaTableReference": {
            "type": "structure",
            "members": {
                "workGroup": {
                    "target": "com.amazonaws.cleanrooms#AthenaWorkGroup",
                    "traits": {
                        "smithy.api#documentation": "<p> The workgroup of the Athena table reference.</p>",
                        "smithy.api#required": {}
                    }
                },
                "outputLocation": {
                    "target": "com.amazonaws.cleanrooms#AthenaOutputLocation",
                    "traits": {
                        "smithy.api#documentation": "<p> The output location for the Athena table.</p>"
                    }
                },
                "databaseName": {
                    "target": "com.amazonaws.cleanrooms#AthenaDatabaseName",
                    "traits": {
                        "smithy.api#documentation": "<p> The database name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tableName": {
                    "target": "com.amazonaws.cleanrooms#AthenaTableName",
                    "traits": {
                        "smithy.api#documentation": "<p> The table reference.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> A reference to a table within Athena.</p>"
            }
        },
        "com.amazonaws.cleanrooms#AthenaWorkGroup": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^([a-zA-Z0-9._-])*$"
            }
        },
        "com.amazonaws.cleanrooms#AutoApprovedChangeType": {
            "type": "enum",
            "members": {
                "ADD_MEMBER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ADD_MEMBER"
                    }
                }
            }
        },
        "com.amazonaws.cleanrooms#AutoApprovedChangeTypeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#AutoApprovedChangeType"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplate": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplateInput"
            },
            "output": {
                "target": "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplateOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cleanrooms#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.cleanrooms#InternalServerException"
                },
                {
                    "target": "com.amazonaws.cleanrooms#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cleanrooms#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.cleanrooms#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to view details of multiple analysis tempaltes within a collaboration",
                "smithy.api#documentation": "<p>Retrieves multiple analysis templates within a collaboration by their Amazon Resource Names (ARNs).</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/collaborations/{collaborationIdentifier}/batch-analysistemplates"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplateError": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.cleanrooms#AnalysisTemplateArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the analysis template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>An error code for the error.</p>",
                        "smithy.api#required": {}
                    }
                },
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of why the call failed.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details of errors thrown by the call to retrieve multiple analysis templates within a collaboration by their identifiers.</p>"
            }
        },
        "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplateErrorList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplateError"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 10
                }
            }
        },
        "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplateInput": {
            "type": "structure",
            "members": {
                "collaborationIdentifier": {
[...]
