{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.cloudwatchlogs#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.cloudwatchlogs#Message"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You don't have sufficient permissions to perform this action.</p>",
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.cloudwatchlogs#AccessPolicy": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.cloudwatchlogs#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "^\\d{12}$"
            }
        },
        "com.amazonaws.cloudwatchlogs#AccountIds": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudwatchlogs#AccountId"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 20
                }
            }
        },
        "com.amazonaws.cloudwatchlogs#AccountPolicies": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudwatchlogs#AccountPolicy"
            }
        },
        "com.amazonaws.cloudwatchlogs#AccountPolicy": {
            "type": "structure",
            "members": {
                "policyName": {
                    "target": "com.amazonaws.cloudwatchlogs#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the account policy.</p>"
                    }
                },
                "policyDocument": {
                    "target": "com.amazonaws.cloudwatchlogs#AccountPolicyDocument",
                    "traits": {
                        "smithy.api#documentation": "<p>The policy document for this account policy.</p>\n         <p>The JSON specified in <code>policyDocument</code> can be up to 30,720 characters.</p>"
                    }
                },
                "lastUpdatedTime": {
                    "target": "com.amazonaws.cloudwatchlogs#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that this policy was most recently updated.</p>"
                    }
                },
                "policyType": {
                    "target": "com.amazonaws.cloudwatchlogs#PolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of policy for this account policy.</p>"
                    }
                },
                "scope": {
                    "target": "com.amazonaws.cloudwatchlogs#Scope",
                    "traits": {
                        "smithy.api#documentation": "<p>The scope of the account policy.</p>"
                    }
                },
                "selectionCriteria": {
                    "target": "com.amazonaws.cloudwatchlogs#SelectionCriteria",
                    "traits": {
                        "smithy.api#documentation": "<p>The log group selection criteria for this subscription filter policy.</p>"
                    }
                },
                "accountId": {
                    "target": "com.amazonaws.cloudwatchlogs#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID that the policy applies to.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains information about one CloudWatch Logs account policy.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#AccountPolicyDocument": {
            "type": "string"
        },
        "com.amazonaws.cloudwatchlogs#AllowedActionForAllowVendedLogsDeliveryForResource": {
            "type": "string"
        },
        "com.amazonaws.cloudwatchlogs#AllowedFieldDelimiters": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudwatchlogs#FieldDelimiter"
            }
        },
        "com.amazonaws.cloudwatchlogs#AllowedFields": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudwatchlogs#RecordField"
            }
        },
        "com.amazonaws.cloudwatchlogs#AmazonResourceName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1011
                },
                "smithy.api#pattern": "^[\\w+=/:,.@-]*$"
            }
        },
        "com.amazonaws.cloudwatchlogs#Anomalies": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudwatchlogs#Anomaly"
            }
        },
        "com.amazonaws.cloudwatchlogs#Anomaly": {
            "type": "structure",
            "members": {
                "anomalyId": {
                    "target": "com.amazonaws.cloudwatchlogs#AnomalyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID that CloudWatch Logs assigned to this anomaly.</p>",
                        "smithy.api#required": {}
                    }
                },
                "patternId": {
                    "target": "com.amazonaws.cloudwatchlogs#PatternId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the pattern used to help identify this anomaly.</p>",
                        "smithy.api#required": {}
                    }
                },
                "anomalyDetectorArn": {
                    "target": "com.amazonaws.cloudwatchlogs#AnomalyDetectorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the anomaly detector that identified this anomaly.</p>",
                        "smithy.api#required": {}
                    }
                },
                "patternString": {
                    "target": "com.amazonaws.cloudwatchlogs#PatternString",
                    "traits": {
                        "smithy.api#documentation": "<p>The pattern used to help identify this anomaly, in string format.</p>",
                        "smithy.api#required": {}
                    }
                },
                "patternRegex": {
                    "target": "com.amazonaws.cloudwatchlogs#PatternRegex",
                    "traits": {
                        "smithy.api#documentation": "<p>The pattern used to help identify this anomaly, in regular expression format.</p>"
                    }
                },
                "priority": {
                    "target": "com.amazonaws.cloudwatchlogs#Priority",
                    "traits": {
                        "smithy.api#documentation": "<p>The priority level of this anomaly, as determined by CloudWatch Logs. Priority is computed based on log \n        severity labels such as <code>FATAL</code> and <code>ERROR</code> and the amount of deviation from the baseline.\n        Possible values are\n        <code>HIGH</code>, <code>MEDIUM</code>, and <code>LOW</code>.</p>"
                    }
                },
                "firstSeen": {
                    "target": "com.amazonaws.cloudwatchlogs#EpochMillis",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The date and time when the anomaly detector first saw this anomaly. \n        It is specified as epoch time, which is the number of seconds\n          since <code>January 1, 1970, 00:00:00 UTC</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lastSeen": {
                    "target": "com.amazonaws.cloudwatchlogs#EpochMillis",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The date and time when the anomaly detector most recently saw this anomaly. \n       It is specified as epoch time, which is the number of seconds\n       since <code>January 1, 1970, 00:00:00 UTC</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.cloudwatchlogs#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A human-readable description of the anomaly. This description is generated by\n        CloudWatch Logs.</p>",
                        "smithy.api#required": {}
                    }
                },
                "active": {
                    "target": "com.amazonaws.cloudwatchlogs#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether this anomaly is still ongoing.</p>",
                        "smithy.api#required": {}
                    }
                },
                "state": {
                    "target": "com.amazonaws.cloudwatchlogs#State",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates the current state of this anomaly. If it is still being treated as an anomaly, the value\n        is <code>Active</code>. If you have suppressed this anomaly by using the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_UpdateAnomaly.html\">UpdateAnomaly</a> operation,\n       the value is <code>Suppressed</code>. If this behavior is now considered to be normal, the value\n      is <code>Baseline</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "histogram": {
                    "target": "com.amazonaws.cloudwatchlogs#Histogram",
                    "traits": {
                        "smithy.api#documentation": "<p>A map showing times when the anomaly detector ran, and the number of occurrences of this anomaly that \n        were detected at each of those runs. The times are specified in epoch time, which is the number of seconds\n        since <code>January 1, 1970, 00:00:00 UTC</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "logSamples": {
                    "target": "com.amazonaws.cloudwatchlogs#LogSamples",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of sample log event messages that are considered to be part of this anomaly.</p>",
                        "smithy.api#required": {}
                    }
                },
                "patternTokens": {
                    "target": "com.amazonaws.cloudwatchlogs#PatternTokens",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of structures where each structure contains information about one token that makes up the pattern.</p>",
                        "smithy.api#required": {}
                    }
                },
                "logGroupArnList": {
                    "target": "com.amazonaws.cloudwatchlogs#LogGroupArnList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of ARNS of the log groups that contained log events considered to be part of this anomaly.</p>",
                        "smithy.api#required": {}
                    }
                },
                "suppressed": {
                    "target": "com.amazonaws.cloudwatchlogs#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether this anomaly is currently suppressed. To suppress an anomaly, \n        use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_UpdateAnomaly.html\">UpdateAnomaly</a>.</p>"
                    }
                },
                "suppressedDate": {
                    "target": "com.amazonaws.cloudwatchlogs#EpochMillis",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>If the anomaly is suppressed, this indicates when it was suppressed.</p>"
                    }
                },
                "suppressedUntil": {
                    "target": "com.amazonaws.cloudwatchlogs#EpochMillis",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>If the anomaly is suppressed, this indicates when the suppression will end. If this value is <code>0</code>, \n     the anomaly was suppressed with no expiration, with the <code>INFINITE</code> value.</p>"
                    }
                },
                "isPatternLevelSuppression": {
                    "target": "com.amazonaws.cloudwatchlogs#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>If this anomaly is suppressed, this field is <code>true</code> if the suppression is because the \n      pattern is suppressed. If <code>false</code>, then only this particular anomaly is suppressed.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This structure represents one anomaly that has been found by a logs anomaly detector.</p>\n         <p>For more information about patterns and anomalies, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CreateLogAnomalyDetector.html\">CreateLogAnomalyDetector</a>.\n     </p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#AnomalyDetector": {
            "type": "structure",
            "members": {
                "anomalyDetectorArn": {
                    "target": "com.amazonaws.cloudwatchlogs#AnomalyDetectorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the anomaly detector.</p>"
                    }
                },
                "detectorName": {
                    "target": "com.amazonaws.cloudwatchlogs#DetectorName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the anomaly detector.</p>"
                    }
                },
                "logGroupArnList": {
                    "target": "com.amazonaws.cloudwatchlogs#LogGroupArnList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of the ARNs of the log groups that this anomaly detector watches.</p>"
                    }
                },
                "evaluationFrequency": {
                    "target": "com.amazonaws.cloudwatchlogs#EvaluationFrequency",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies how often the anomaly detector runs and look for anomalies.</p>"
                    }
                },
                "filterPattern": {
                    "target": "com.amazonaws.cloudwatchlogs#FilterPattern"
                },
                "anomalyDetectorStatus": {
                    "target": "com.amazonaws.cloudwatchlogs#AnomalyDetectorStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the current status of the anomaly detector. To pause an anomaly detector, use\n       the <code>enabled</code> parameter in the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_UpdateLogAnomalyDetector.html\">UpdateLogAnomalyDetector</a> \n       operation.</p>"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.cloudwatchlogs#KmsKeyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the KMS key assigned to this anomaly detector, if any.</p>"
                    }
                },
                "creationTimeStamp": {
                    "target": "com.amazonaws.cloudwatchlogs#EpochMillis",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The date and time when this anomaly detector was created.</p>"
                    }
                },
                "lastModifiedTimeStamp": {
                    "target": "com.amazonaws.cloudwatchlogs#EpochMillis",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The date and time when this anomaly detector was most recently modified.</p>"
                    }
                },
                "anomalyVisibilityTime": {
                    "target": "com.amazonaws.cloudwatchlogs#AnomalyVisibilityTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of days used as the life cycle of anomalies. After this time, anomalies are automatically baselined \n       and the anomaly detector model will treat new occurrences of similar event as normal. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about one anomaly detector in the account.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#AnomalyDetectorArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1
                },
                "smithy.api#pattern": "^[\\w#+=/:,.@-]*$"
            }
        },
        "com.amazonaws.cloudwatchlogs#AnomalyDetectorStatus": {
            "type": "enum",
            "members": {
                "INITIALIZING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INITIALIZING"
                    }
                },
                "TRAINING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TRAINING"
                    }
                },
                "ANALYZING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ANALYZING"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "DELETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETED"
                    }
                },
                "PAUSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PAUSED"
                    }
                }
            }
        },
        "com.amazonaws.cloudwatchlogs#AnomalyDetectors": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudwatchlogs#AnomalyDetector"
            }
        },
        "com.amazonaws.cloudwatchlogs#AnomalyId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 36,
                    "max": 36
                }
            }
        },
        "com.amazonaws.cloudwatchlogs#AnomalyVisibilityTime": {
            "type": "long",
            "traits": {
                "smithy.api#range": {
                    "min": 7,
                    "max": 90
                }
            }
        },
        "com.amazonaws.cloudwatchlogs#Arn": {
            "type": "string"
        },
        "com.amazonaws.cloudwatchlogs#AssociateKmsKey": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#AssociateKmsKeyRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates the specified KMS key with either one log group in the account, or with all stored\n      CloudWatch Logs query insights results in the account.</p>\n         <p>When you use <code>AssociateKmsKey</code>, you specify either the <code>logGroupName</code> parameter\n    or the <code>resourceIdentifier</code> parameter. You can't specify both of those parameters in the same operation.</p>\n         <ul>\n            <li>\n               <p>Specify the <code>logGroupName</code> parameter to cause all log events stored in the log group to\n    be encrypted with that key. Only the log events ingested after the key is associated are encrypted with that key.</p>\n               <p>Associating a KMS key with a log group overrides any existing\n      associations between the log group and a KMS key. After a KMS key is associated with a log group, all newly ingested data for the log group is encrypted\n      using the KMS key. This association is stored as long as the data encrypted\n      with the KMS key is still within CloudWatch Logs. This enables CloudWatch Logs to decrypt this data whenever it is requested.</p>\n               <p>Associating\n    a key with a log group does not cause the results of queries of that log group to be encrypted with that key. To have query\n    results encrypted with a KMS key, you must use an <code>AssociateKmsKey</code> operation with the <code>resourceIdentifier</code>\n    parameter that specifies a <code>query-result</code> resource. </p>\n            </li>\n            <li>\n               <p>Specify the <code>resourceIdentifier</code> parameter with a <code>query-result</code> resource, \n     to use that key to encrypt the stored results of all future \n      <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_StartQuery.html\">StartQuery</a>\n      operations in the account. The response from a \n      <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_GetQueryResults.html\">GetQueryResults</a>\n      operation will still return\n    the query results in plain text.</p>\n               <p>Even if you have not associated a key with your query results, the query results are encrypted when stored,\n      using the default CloudWatch Logs method.</p>\n               <p>If you run a query from a monitoring account that queries logs in a source account, the\n          query results key from the monitoring account, if any, is used.</p>\n            </li>\n         </ul>\n         <important>\n            <p>If you delete the key that is used to encrypt log events or log group query results,\n    then all the associated stored log events or query results that were encrypted with that key \n    will be unencryptable and unusable.</p>\n         </important>\n         <note>\n            <p>CloudWatch Logs supports only symmetric KMS keys. Do not use an associate\n        an asymmetric KMS key with your log group or query results. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using\n          Symmetric and Asymmetric Keys</a>.</p>\n         </note>\n         <p>It can take up to 5 minutes for this operation to take effect.</p>\n         <p>If you attempt to associate a KMS key with a log group but the KMS key does not exist or the KMS key is disabled, you receive an\n        <code>InvalidParameterException</code> error. </p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#AssociateKmsKeyRequest": {
            "type": "structure",
            "members": {
                "logGroupName": {
                    "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the log group.</p>\n         <p>In your <code>AssociateKmsKey</code> operation,\n      you must specify either the <code>resourceIdentifier</code> parameter or the <code>logGroup</code> parameter, \n      but you can't specify both.</p>"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.cloudwatchlogs#KmsKeyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key to use when encrypting log\n      data. This must be a symmetric KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names</a> and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric\n        Keys</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceIdentifier": {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the target for this operation. You must specify one of the following:</p>\n         <ul>\n            <li>\n               <p>Specify the following ARN to have future <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_GetQueryResults.html\">GetQueryResults</a>\n        operations in this account encrypt the results\n        with the specified KMS key. Replace\n        <i>REGION</i> and <i>ACCOUNT_ID</i> with your Region and account ID.</p>\n               <p>\n                  <code>arn:aws:logs:<i>REGION</i>:<i>ACCOUNT_ID</i>:query-result:*</code>\n               </p>\n            </li>\n            <li>\n               <p>Specify the ARN of a log group to have CloudWatch Logs use the KMS key\n        to encrypt log events that are ingested and stored by that log group. The log group ARN must be in \n        the following format. Replace\n        <i>REGION</i> and <i>ACCOUNT_ID</i> with your Region and account ID.</p>\n               <p>\n                  <code>arn:aws:logs:<i>REGION</i>:<i>ACCOUNT_ID</i>:log-group:<i>LOG_GROUP_NAME</i>\n                  </code>\n               </p>\n            </li>\n         </ul>\n         <p>In your <code>AssociateKmsKey</code> operation,\n        you must specify either the <code>resourceIdentifier</code> parameter or the <code>logGroup</code> parameter, \n        but you can't specify both.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#Boolean": {
            "type": "boolean"
        },
        "com.amazonaws.cloudwatchlogs#CancelExportTask": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#CancelExportTaskRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidOperationException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels the specified export task.</p>\n         <p>The task must be in the <code>PENDING</code> or <code>RUNNING</code> state.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#CancelExportTaskRequest": {
            "type": "structure",
            "members": {
                "taskId": {
                    "target": "com.amazonaws.cloudwatchlogs#ExportTaskId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the export task.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 36,
                    "max": 128
                },
                "smithy.api#pattern": "^\\S{36,128}$"
            }
        },
        "com.amazonaws.cloudwatchlogs#ConfigurationTemplate": {
            "type": "structure",
            "members": {
                "service": {
                    "target": "com.amazonaws.cloudwatchlogs#Service",
                    "traits": {
                        "smithy.api#documentation": "<p>A string specifying which service this configuration template applies to. For more information about supported services see \n      <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/AWS-logs-and-resource-policy.html\">Enable logging from Amazon Web Services \n        services.</a>.</p>"
                    }
                },
                "logType": {
                    "target": "com.amazonaws.cloudwatchlogs#LogType",
                    "traits": {
                        "smithy.api#documentation": "<p>A string specifying which log type this configuration template applies to.</p>"
                    }
                },
                "resourceType": {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>A string specifying which resource type this configuration template applies to.</p>"
                    }
                },
                "deliveryDestinationType": {
                    "target": "com.amazonaws.cloudwatchlogs#DeliveryDestinationType",
                    "traits": {
                        "smithy.api#documentation": "<p>A string specifying which destination type this configuration template applies to.</p>"
                    }
                },
                "defaultDeliveryConfigValues": {
                    "target": "com.amazonaws.cloudwatchlogs#ConfigurationTemplateDeliveryConfigValues",
                    "traits": {
                        "smithy.api#documentation": "<p>A mapping that displays the default value of each property within a delivery’s configuration,\n      if it is not specified in the request.</p>"
                    }
                },
                "allowedFields": {
                    "target": "com.amazonaws.cloudwatchlogs#AllowedFields",
                    "traits": {
                        "smithy.api#documentation": "<p>The allowed fields that a caller can use in the <code>recordFields</code> parameter of a <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CreateDelivery.html\">CreateDelivery</a>  or \n      <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_UpdateDeliveryConfiguration.html\">UpdateDeliveryConfiguration</a> operation.</p>"
                    }
                },
                "allowedOutputFormats": {
                    "target": "com.amazonaws.cloudwatchlogs#OutputFormats",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of delivery destination output formats that are supported by this log source.</p>"
                    }
                },
                "allowedActionForAllowVendedLogsDeliveryForResource": {
                    "target": "com.amazonaws.cloudwatchlogs#AllowedActionForAllowVendedLogsDeliveryForResource",
                    "traits": {
                        "smithy.api#documentation": "<p>The action permissions that a caller needs to have to be able to successfully create a delivery source on the \n      desired resource type when calling <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutDeliverySource.html\">PutDeliverySource</a>.</p>"
                    }
                },
                "allowedFieldDelimiters": {
                    "target": "com.amazonaws.cloudwatchlogs#AllowedFieldDelimiters",
                    "traits": {
                        "smithy.api#documentation": "<p>The valid values that a caller can use as field delimiters when calling <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CreateDelivery.html\">CreateDelivery</a>  or \n      <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_UpdateDeliveryConfiguration.html\">UpdateDeliveryConfiguration</a>  \n      on a delivery that delivers in <code>Plain</code>, <code>W3C</code>, or <code>Raw</code> format.</p>"
                    }
                },
                "allowedSuffixPathFields": {
                    "target": "com.amazonaws.cloudwatchlogs#RecordFields",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of variable fields that can be used in the suffix path of a delivery that delivers to an S3 bucket.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure containing information about the deafult settings and available settings that you can use to configure a <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_Delivery.html\">delivery</a> or a \n      <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DeliveryDestination.html\">delivery destination</a>.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#ConfigurationTemplateDeliveryConfigValues": {
            "type": "structure",
            "members": {
                "recordFields": {
                    "target": "com.amazonaws.cloudwatchlogs#RecordFields",
                    "traits": {
                        "smithy.api#documentation": "<p>The default record fields that will be delivered when a list of record fields is not provided in \n      a <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CreateDelivery.html\">CreateDelivery</a> operation.</p>"
                    }
                },
                "fieldDelimiter": {
                    "target": "com.amazonaws.cloudwatchlogs#FieldDelimiter",
                    "traits": {
                        "smithy.api#documentation": "<p>The default field delimiter that is used in a  <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CreateDelivery.html\">CreateDelivery</a> operation when\n      the field delimiter is not specified in that operation. The field delimiter is used only when \n      the final output delivery is in <code>Plain</code>, <code>W3C</code>, or <code>Raw</code> format.</p>"
                    }
                },
                "s3DeliveryConfiguration": {
                    "target": "com.amazonaws.cloudwatchlogs#S3DeliveryConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The delivery parameters that are used when you create a delivery to a delivery destination that is an S3 Bucket.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This structure contains the default values that are used for each configuration parameter when you use\n      <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CreateDelivery.html\">CreateDelivery</a> to create a deliver under the current service type, resource type, and log type.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#ConfigurationTemplates": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudwatchlogs#ConfigurationTemplate"
            }
        },
        "com.amazonaws.cloudwatchlogs#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.cloudwatchlogs#Message"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This operation attempted to create a resource that already exists.</p>",
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.cloudwatchlogs#Count": {
            "type": "long",
            "traits": {
                "smithy.api#default": 0
            }
        },
        "com.amazonaws.cloudwatchlogs#CreateDelivery": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#CreateDeliveryRequest"
            },
            "output": {
                "target": "com.amazonaws.cloudwatchlogs#CreateDeliveryResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ConflictException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a <i>delivery</i>. A delivery is a connection between a logical <i>delivery source</i> and a logical\n       <i>delivery destination</i>\n       that you have already created.</p>\n         <p>Only some Amazon Web Services services support being configured as a delivery source using this operation. These services are listed\n       as <b>Supported [V2 Permissions]</b> in the table at \n       <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/AWS-logs-and-resource-policy.html\">Enabling \n         logging from Amazon Web Services services.</a>\n         </p>\n         <p>A delivery destination can represent a log group in CloudWatch Logs, an Amazon S3 bucket, or a delivery stream in Firehose.</p>\n         <p>To configure logs delivery between a supported Amazon Web Services service and a destination, you must do the following:</p>\n         <ul>\n            <li>\n               <p>Create a delivery source, which is a logical object that represents the resource that is actually\n         sending the logs. For more \n         information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutDeliverySource.html\">PutDeliverySource</a>.</p>\n            </li>\n            <li>\n               <p>Create a <i>delivery destination</i>, which is a logical object that represents the actual\n         delivery destination.  For more \n         information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutDeliveryDestination.html\">PutDeliveryDestination</a>.</p>\n            </li>\n            <li>\n               <p>If you are delivering logs cross-account, you must use \n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutDeliveryDestinationPolicy.html\">PutDeliveryDestinationPolicy</a>\n         in the destination account to assign an IAM policy to the \n         destination. This policy allows delivery to that destination.\n       </p>\n            </li>\n            <li>\n               <p>Use <code>CreateDelivery</code> to create a <i>delivery</i> by pairing exactly one delivery source and one delivery destination.\n         </p>\n            </li>\n         </ul>\n         <p>You can configure a single delivery source to send logs to multiple destinations by creating multiple deliveries. You \n       can also create multiple deliveries to configure multiple delivery sources to send logs to the same delivery destination.</p>\n         <p>You can't update an existing delivery. You can only create and delete deliveries.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#CreateDeliveryRequest": {
            "type": "structure",
            "members": {
                "deliverySourceName": {
                    "target": "com.amazonaws.cloudwatchlogs#DeliverySourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the delivery source to use for this delivery.</p>",
                        "smithy.api#required": {}
                    }
                },
                "deliveryDestinationArn": {
                    "target": "com.amazonaws.cloudwatchlogs#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the delivery destination to use for this delivery.</p>",
                        "smithy.api#required": {}
                    }
                },
                "recordFields": {
                    "target": "com.amazonaws.cloudwatchlogs#RecordFields",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of record fields to be delivered to the destination, in order. \n      If the delivery’s log source has mandatory fields, they must be included in this list.</p>"
                    }
                },
                "fieldDelimiter": {
                    "target": "com.amazonaws.cloudwatchlogs#FieldDelimiter",
                    "traits": {
                        "smithy.api#documentation": "<p>The field delimiter to use between record fields when the final output format of a delivery\n      is in <code>Plain</code>, <code>W3C</code>, or <code>Raw</code> format.</p>"
                    }
                },
                "s3DeliveryConfiguration": {
                    "target": "com.amazonaws.cloudwatchlogs#S3DeliveryConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>This structure contains parameters that are valid only when the delivery’s delivery destination is an S3 bucket.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.cloudwatchlogs#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>An optional list of key-value pairs to associate with the resource.</p>\n         <p>For more information about tagging, see \n       <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>\n         </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#CreateDeliveryResponse": {
            "type": "structure",
            "members": {
                "delivery": {
                    "target": "com.amazonaws.cloudwatchlogs#Delivery",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains information about the delivery that you just created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#CreateExportTask": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#CreateExportTaskRequest"
            },
            "output": {
                "target": "com.amazonaws.cloudwatchlogs#CreateExportTaskResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceAlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an export task so that you can efficiently export data from a log group to an\n      Amazon S3 bucket. When you perform a <code>CreateExportTask</code> operation, you must use\n      credentials that have permission to write to the S3 bucket that you specify as the\n      destination.</p>\n         <p>Exporting log data to S3 buckets that are encrypted by KMS is supported.\n      Exporting log data to Amazon S3 buckets that have S3 Object Lock enabled with a\n      retention period is also supported.</p>\n         <p>Exporting to S3 buckets that are encrypted with AES-256 is supported. </p>\n         <p>This is an asynchronous call. If all the required information is provided, this \n      operation initiates an export task and responds with the ID of the task. After the task has started,\n      you can use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DescribeExportTasks.html\">DescribeExportTasks</a> to get the status of the export task. Each account can\n      only have one active (<code>RUNNING</code> or <code>PENDING</code>) export task at a time.\n      To cancel an export task, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CancelExportTask.html\">CancelExportTask</a>.</p>\n         <p>You can export logs from multiple log groups or multiple time ranges to the same S3\n      bucket. To separate log data for each export task, specify a prefix to be used as the Amazon\n      S3 key prefix for all exported objects.</p>\n         <note>\n            <p>Time-based sorting on chunks of log data inside an exported file is not guaranteed. You can\n        sort the exported log field data by using Linux utilities.</p>\n         </note>"
            }
        },
        "com.amazonaws.cloudwatchlogs#CreateExportTaskRequest": {
            "type": "structure",
            "members": {
                "taskName": {
                    "target": "com.amazonaws.cloudwatchlogs#ExportTaskName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the export task.</p>"
                    }
                },
                "logGroupName": {
                    "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the log group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "logStreamNamePrefix": {
                    "target": "com.amazonaws.cloudwatchlogs#LogStreamName",
                    "traits": {
                        "smithy.api#documentation": "<p>Export only log streams that match the provided prefix. If you don't\n      specify a value, no prefix filter is applied.</p>"
                    }
                },
                "from": {
                    "target": "com.amazonaws.cloudwatchlogs#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The start time of the range for the request, expressed as the number of milliseconds\n      after <code>Jan 1, 1970 00:00:00 UTC</code>. Events with a timestamp earlier than this time\n      are not exported.</p>",
                        "smithy.api#required": {}
                    }
                },
                "to": {
                    "target": "com.amazonaws.cloudwatchlogs#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The end time of the range for the request, expressed as the number of milliseconds\n      after <code>Jan 1, 1970 00:00:00 UTC</code>. Events with a timestamp later than this time are\n      not exported.</p>\n         <p>You must specify a time that is not earlier than when this log group was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "destination": {
                    "target": "com.amazonaws.cloudwatchlogs#ExportDestinationBucket",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of S3 bucket for the exported log data. The bucket must be in the same Amazon Web Services Region.</p>",
                        "smithy.api#required": {}
                    }
                },
                "destinationPrefix": {
                    "target": "com.amazonaws.cloudwatchlogs#ExportDestinationPrefix",
                    "traits": {
                        "smithy.api#documentation": "<p>The prefix used as the start of the key for every object exported. If you don't\n      specify a value, the default is <code>exportedlogs</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#CreateExportTaskResponse": {
            "type": "structure",
            "members": {
                "taskId": {
                    "target": "com.amazonaws.cloudwatchlogs#ExportTaskId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the export task.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#CreateLogAnomalyDetector": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#CreateLogAnomalyDetectorRequest"
            },
            "output": {
                "target": "com.amazonaws.cloudwatchlogs#CreateLogAnomalyDetectorResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an <i>anomaly detector</i> that regularly scans one or more \n        log groups and look for patterns\n      and anomalies in the logs.</p>\n         <p>An anomaly detector can help surface issues by automatically discovering anomalies in your log event traffic. \n       An anomaly detector uses machine learning algorithms to scan log events and find <i>patterns</i>.\n       \n       A pattern is a shared text structure that recurs among your log fields.  Patterns provide a useful tool for \n       analyzing large sets of logs because a large number of log events can often be\n       compressed into a few patterns.</p>\n         <p>The anomaly detector uses pattern recognition to find <code>anomalies</code>, which are unusual log \n       events. It uses the <code>evaluationFrequency</code> to compare current log events and patterns\n       with trained baselines. </p>\n         <p>Fields within a pattern are called <i>tokens</i>.\n       Fields that vary within a pattern, such as a \n       request ID or timestamp, are referred to as <i>dynamic tokens</i> and\n       represented by <code><*></code>. </p>\n         <p>The following is an example of a pattern:</p>\n         <p>\n            <code>[INFO] Request time: <*> ms</code>\n         </p>\n         <p>This pattern\n       represents log events like <code>[INFO] Request time: 327 ms</code> and other similar log events\n       that differ only by the number, in this csse 327. When the pattern is displayed, the different numbers are replaced\n       by <code><*></code>\n         </p>\n         <note>\n            <p>Any parts of log events that are masked as sensitive data are not scanned for anomalies. For more information\n     about masking sensitive data, see \n     <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/mask-sensitive-log-data.html\">Help protect sensitive log data with\n     masking</a>.\n   </p>\n         </note>"
            }
        },
        "com.amazonaws.cloudwatchlogs#CreateLogAnomalyDetectorRequest": {
            "type": "structure",
            "members": {
                "logGroupArnList": {
                    "target": "com.amazonaws.cloudwatchlogs#LogGroupArnList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array containing the ARN of the log group that this anomaly detector will watch. You can specify only one\n        log group ARN.</p>",
                        "smithy.api#required": {}
                    }
                },
                "detectorName": {
                    "target": "com.amazonaws.cloudwatchlogs#DetectorName",
                    "traits": {
                        "smithy.api#documentation": "<p>A name for this anomaly detector.</p>"
                    }
                },
                "evaluationFrequency": {
                    "target": "com.amazonaws.cloudwatchlogs#EvaluationFrequency",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies how often the anomaly detector is to run and look for anomalies. Set this value\n      according to the frequency that the log group receives new logs. For example, if the log group\n      receives new log events every 10 minutes, then 15 minutes might be a good setting for \n        <code>evaluationFrequency</code> .</p>"
                    }
                },
                "filterPattern": {
                    "target": "com.amazonaws.cloudwatchlogs#FilterPattern",
                    "traits": {
                        "smithy.api#documentation": "<p>You can use this parameter to limit the anomaly detection model to examine only log events\n      that match the pattern you specify here. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/FilterAndPatternSyntax.html\">Filter and Pattern Syntax</a>.</p>"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.cloudwatchlogs#KmsKeyId",
                    "traits": {
                        "smithy.api#documentation": "<p>Optionally assigns a KMS key to secure this anomaly detector and its findings. If a key is \n       assigned, the anomalies found and the model used by this detector are encrypted at rest with the key. If \n       a key is assigned to an anomaly detector, a user must have permissions for both this key and for the \n       anomaly detector to retrieve information about the anomalies that it finds.</p>\n         <p>For more information about using a KMS key and to see the required IAM\n       policy, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/LogsAnomalyDetection-KMS.html\">Use a KMS key with an anomaly detector</a>.</p>"
                    }
                },
                "anomalyVisibilityTime": {
                    "target": "com.amazonaws.cloudwatchlogs#AnomalyVisibilityTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of days to have visibility on an anomaly. After this time period has elapsed for an anomaly, \n       it will be automatically baselined and the anomaly detector will treat new occurrences of a similar anomaly as \n       normal. Therefore, \n       if you do not correct the cause of an \n       anomaly during the time period specified in <code>anomalyVisibilityTime</code>, it will be considered normal \n       going forward and will not be detected as an anomaly.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.cloudwatchlogs#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>An optional list of key-value pairs to associate with the resource.</p>\n         <p>For more information about tagging, see \n       <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>\n         </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#CreateLogAnomalyDetectorResponse": {
            "type": "structure",
            "members": {
                "anomalyDetectorArn": {
                    "target": "com.amazonaws.cloudwatchlogs#AnomalyDetectorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the log anomaly detector that you just created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#CreateLogGroup": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#CreateLogGroupRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceAlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a log group with the specified name. You can create up to 1,000,000 log groups per Region per account.</p>\n         <p>You must use the following guidelines when naming a log group:</p>\n         <ul>\n            <li>\n               <p>Log group names must be unique within a Region for an Amazon Web Services\n          account.</p>\n            </li>\n            <li>\n               <p>Log group names can be between 1 and 512 characters long.</p>\n            </li>\n            <li>\n               <p>Log group names consist of the following characters: a-z, A-Z, 0-9, '_' (underscore), '-' (hyphen), \n          '/' (forward slash), '.' (period), and '#' (number sign)</p>\n            </li>\n            <li>\n               <p>Log group names can't start with the string <code>aws/</code>\n               </p>\n            </li>\n         </ul>\n         <p>When you create a log group, by default the log events in the log group do not expire.\n      To set a retention policy so that events expire and are deleted after a specified time, use\n        <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutRetentionPolicy.html\">PutRetentionPolicy</a>.</p>\n         <p>If you associate an KMS key with the log group, ingested data is\n      encrypted using the KMS key. This association is stored as long as the data\n      encrypted with the KMS key is still within CloudWatch Logs. This enables\n        CloudWatch Logs to decrypt this data whenever it is requested.</p>\n         <p>If you attempt to associate a KMS key with the log group but the KMS key does not exist or the KMS key is disabled, you receive an\n        <code>InvalidParameterException</code> error. </p>\n         <important>\n            <p>CloudWatch Logs supports only symmetric KMS keys. Do not associate an\n        asymmetric KMS key with your log group. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using\n          Symmetric and Asymmetric Keys</a>.</p>\n         </important>"
            }
        },
        "com.amazonaws.cloudwatchlogs#CreateLogGroupRequest": {
            "type": "structure",
            "members": {
                "logGroupName": {
                    "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>A name for the log group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.cloudwatchlogs#KmsKeyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key to use when encrypting log\n      data. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource\n        Names</a>.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.cloudwatchlogs#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The key-value pairs to use for the tags.</p>\n         <p>You can grant users access to certain log groups while preventing them from accessing other log groups.\n      To do so, tag your groups and use IAM policies that refer to those tags. To assign tags when \n      you create a log group, you must have either the <code>logs:TagResource</code> or <code>logs:TagLogGroup</code>\n      permission. For more information about tagging, see \n      <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>.\n      For more information about using tags to control access, see \n      <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_tags.html\">Controlling access to Amazon Web Services resources using tags</a>.</p>"
                    }
                },
                "logGroupClass": {
                    "target": "com.amazonaws.cloudwatchlogs#LogGroupClass",
                    "traits": {
                        "smithy.api#documentation": "<p>Use this parameter to specify the log group class for this log group. There are two classes:</p>\n         <ul>\n            <li>\n               <p>The <code>Standard</code> log class supports all CloudWatch Logs features.</p>\n            </li>\n            <li>\n               <p>The <code>Infrequent Access</code> log class supports a subset of CloudWatch Logs features\n        and incurs lower costs.</p>\n            </li>\n         </ul>\n         <p>If you omit this parameter, the default of <code>STANDARD</code> is used.</p>\n         <important>\n            <p>The value of <code>logGroupClass</code> can't be changed after a log group is created.</p>\n         </important>\n         <p>For details about the features supported by each class, see \n      <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CloudWatch_Logs_Log_Classes.html\">Log classes</a>\n         </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#CreateLogStream": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#CreateLogStreamRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceAlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a log stream for the specified log group. A log stream is a sequence of log events\n      that originate from a single source, such as an application instance or a resource that is \n      being monitored.</p>\n         <p>There is no limit on the number of log streams that you can create for a log group. There is a limit \n    of 50 TPS on <code>CreateLogStream</code> operations, after which transactions are throttled.</p>\n         <p>You must use the following guidelines when naming a log stream:</p>\n         <ul>\n            <li>\n               <p>Log stream names must be unique within the log group.</p>\n            </li>\n            <li>\n               <p>Log stream names can be between 1 and 512 characters long.</p>\n            </li>\n            <li>\n               <p>Don't use ':' (colon) or '*' (asterisk) characters.</p>\n            </li>\n         </ul>"
            }
        },
        "com.amazonaws.cloudwatchlogs#CreateLogStreamRequest": {
            "type": "structure",
            "members": {
                "logGroupName": {
                    "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the log group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "logStreamName": {
                    "target": "com.amazonaws.cloudwatchlogs#LogStreamName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the log stream.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DataAlreadyAcceptedException": {
            "type": "structure",
            "members": {
                "expectedSequenceToken": {
                    "target": "com.amazonaws.cloudwatchlogs#SequenceToken"
                },
                "message": {
                    "target": "com.amazonaws.cloudwatchlogs#Message"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The event was already logged.</p>\n         <important>\n            <p>\n               <code>PutLogEvents</code>\n      actions are now always accepted and never return\n      <code>DataAlreadyAcceptedException</code> regardless of whether a given batch of log events\n      has already been accepted. </p>\n         </important>",
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.cloudwatchlogs#DataProtectionPolicyDocument": {
            "type": "string"
        },
        "com.amazonaws.cloudwatchlogs#DataProtectionStatus": {
            "type": "enum",
            "members": {
                "ACTIVATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVATED"
                    }
                },
                "DELETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETED"
                    }
                },
                "ARCHIVED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ARCHIVED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.cloudwatchlogs#Days": {
            "type": "integer",
            "traits": {
                "smithy.api#documentation": "<p>The number of days to retain the log events in the specified log group.\n      Possible values are: 1, 3, 5, 7, 14, 30, 60, 90, 120, 150, 180, 365, 400, 545, 731, 1096, 1827, 2192, 2557, 2922, 3288, and 3653.</p>\n         <p>To set a log group so that its log events do not expire, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DeleteRetentionPolicy.html\">DeleteRetentionPolicy</a>. </p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DefaultValue": {
            "type": "double"
        },
        "com.amazonaws.cloudwatchlogs#DeleteAccountPolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteAccountPolicyRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a CloudWatch Logs account policy. This stops the policy from applying to all log groups\n    or a subset of log groups in the account. Log-group level policies will still be in effect.</p>\n         <p>To use this operation, you must be signed on with the correct permissions depending on the type of policy\n      that you are deleting.</p>\n         <ul>\n            <li>\n               <p>To delete a data protection policy, you must have the <code>logs:DeleteDataProtectionPolicy</code> and \n        <code>logs:DeleteAccountPolicy</code> permissions.</p>\n            </li>\n            <li>\n               <p>To delete a subscription filter policy, you must have the <code>logs:DeleteSubscriptionFilter</code> and \n        <code>logs:DeleteAccountPolicy</code> permissions.</p>\n            </li>\n         </ul>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteAccountPolicyRequest": {
            "type": "structure",
            "members": {
                "policyName": {
                    "target": "com.amazonaws.cloudwatchlogs#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the policy to delete.</p>",
                        "smithy.api#required": {}
                    }
                },
                "policyType": {
                    "target": "com.amazonaws.cloudwatchlogs#PolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of policy to delete.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteDataProtectionPolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteDataProtectionPolicyRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the data protection policy from the specified log group. </p>\n         <p>For more information about data protection policies, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutDataProtectionPolicy.html\">PutDataProtectionPolicy</a>.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteDataProtectionPolicyRequest": {
            "type": "structure",
            "members": {
                "logGroupIdentifier": {
                    "target": "com.amazonaws.cloudwatchlogs#LogGroupIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The name or ARN of the log group that you want to delete the data protection policy for.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteDelivery": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteDeliveryRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#ConflictException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes s <i>delivery</i>. A delivery is a connection between a logical <i>delivery source</i> and a logical\n       <i>delivery destination</i>. Deleting a delivery only deletes the connection between the delivery source and delivery destination. It does\n     not delete the delivery destination or the delivery source.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteDeliveryDestination": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteDeliveryDestinationRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#ConflictException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a <i>delivery destination</i>. A delivery is a connection between a logical <i>delivery source</i> and a logical\n       <i>delivery destination</i>.</p>\n         <p>You can't delete a delivery destination if any current deliveries are associated with it. To find whether any deliveries are associated with \n       this delivery destination, use the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DescribeDeliveries.html\">DescribeDeliveries</a> operation and check the <code>deliveryDestinationArn</code> field in the results.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteDeliveryDestinationPolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteDeliveryDestinationPolicyRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#ConflictException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a delivery destination policy. For more information about these policies,\n        see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutDeliveryDestinationPolicy.html\">PutDeliveryDestinationPolicy</a>.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteDeliveryDestinationPolicyRequest": {
            "type": "structure",
            "members": {
                "deliveryDestinationName": {
                    "target": "com.amazonaws.cloudwatchlogs#DeliveryDestinationName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the delivery destination that you want to delete the policy for.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteDeliveryDestinationRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.cloudwatchlogs#DeliveryDestinationName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the delivery destination that you want to delete. You can find a list of delivery destionation names\n        by using the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DescribeDeliveryDestinations.html\">DescribeDeliveryDestinations</a>\n      operation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteDeliveryRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.cloudwatchlogs#DeliveryId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the delivery to delete. You can find the ID of a delivery with the \n        <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DescribeDeliveries.html\">DescribeDeliveries</a> operation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteDeliverySource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteDeliverySourceRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#ConflictException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a <i>delivery source</i>. A delivery is a connection between a logical <i>delivery source</i> and a logical\n       <i>delivery destination</i>.</p>\n         <p>You can't delete a delivery source if any current deliveries are associated with it. To find whether any deliveries are associated with \n       this delivery source, use the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DescribeDeliveries.html\">DescribeDeliveries</a> operation and check the <code>deliverySourceName</code> field in the results.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteDeliverySourceRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.cloudwatchlogs#DeliverySourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the delivery source that you want to delete.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteDestination": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteDestinationRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the specified destination, and eventually disables all the\n      subscription filters that publish to it. This operation does not delete the \n      physical resource encapsulated by the destination.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteDestinationRequest": {
            "type": "structure",
            "members": {
                "destinationName": {
                    "target": "com.amazonaws.cloudwatchlogs#DestinationName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the destination.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteLogAnomalyDetector": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteLogAnomalyDetectorRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the specified CloudWatch Logs anomaly detector.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteLogAnomalyDetectorRequest": {
            "type": "structure",
            "members": {
                "anomalyDetectorArn": {
                    "target": "com.amazonaws.cloudwatchlogs#AnomalyDetectorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the anomaly detector to delete. You can find the ARNs of log anomaly detectors \n        in your account by using the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_ListLogAnomalyDetectors.html\">ListLogAnomalyDetectors</a>\n      operation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteLogGroup": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteLogGroupRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the specified log group and permanently deletes all the archived\n      log events associated with the log group.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteLogGroupRequest": {
            "type": "structure",
            "members": {
                "logGroupName": {
                    "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the log group.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteLogStream": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteLogStreamRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the specified log stream and permanently deletes all the archived log events associated\n      with the log stream.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteLogStreamRequest": {
            "type": "structure",
            "members": {
                "logGroupName": {
                    "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the log group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "logStreamName": {
                    "target": "com.amazonaws.cloudwatchlogs#LogStreamName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the log stream.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteMetricFilter": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteMetricFilterRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the specified metric filter.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteMetricFilterRequest": {
            "type": "structure",
            "members": {
                "logGroupName": {
                    "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the log group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "filterName": {
                    "target": "com.amazonaws.cloudwatchlogs#FilterName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the metric filter.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteQueryDefinition": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteQueryDefinitionRequest"
            },
            "output": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteQueryDefinitionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a saved CloudWatch Logs Insights query definition. \n      A query definition contains details about a saved CloudWatch Logs Insights query.</p>\n         <p>Each <code>DeleteQueryDefinition</code> operation can delete one query definition.</p>\n         <p>You must have the <code>logs:DeleteQueryDefinition</code> permission to be able to perform\n      this operation.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteQueryDefinitionRequest": {
            "type": "structure",
            "members": {
                "queryDefinitionId": {
                    "target": "com.amazonaws.cloudwatchlogs#QueryId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the query definition that you want to delete. You can use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DescribeQueryDefinitions.html\">DescribeQueryDefinitions</a> to retrieve the\n      IDs of your saved query definitions.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteQueryDefinitionResponse": {
            "type": "structure",
            "members": {
                "success": {
                    "target": "com.amazonaws.cloudwatchlogs#Success",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>A value of TRUE indicates that the operation succeeded. FALSE indicates that the operation\n      failed.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteResourcePolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteResourcePolicyRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a resource policy from this account. This revokes \n    the access of the identities in that policy to put log events to this account.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteResourcePolicyRequest": {
            "type": "structure",
            "members": {
                "policyName": {
                    "target": "com.amazonaws.cloudwatchlogs#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the policy to be revoked. This parameter is required.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteRetentionPolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchlogs#DeleteRetentionPolicyRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the specified retention policy.</p>\n         <p>Log events do not expire if they belong to log groups without a retention policy.</p>"
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteRetentionPolicyRequest": {
            "type": "structure",
            "members": {
                "logGroupName": {
                    "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the log group.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchlogs#DeleteSubscriptionFilter": {
            "type": "operation",
            "input": {
[...]
