{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cloudfront#AccessDenied": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access denied.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.cloudfront#ActiveTrustedSigners": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>Enabled is <code>true</code> if any of the AWS accounts listed in the \n\t\t\t<code>TrustedSigners</code> complex type for this distribution have active CloudFront key \n\t\t\tpairs. If not, <code>Enabled</code> is <code>false</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#SignerList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains one <code>Signer</code> complex type for each trusted \n\t\t\tsigner that is specified in the <code>TrustedSigners</code> complex type.</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of trusted signers specified in the <code>TrustedSigners</code> complex type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that lists the AWS accounts, if any, that you included in the \n\t\t\t\t<code>TrustedSigners</code> complex type for this distribution. These are the accounts that \n\t\t\tyou want to allow to create signed URLs for private content.</p> \n\t\t       <p>The <code>Signer</code> complex type lists the AWS account number of the trusted \n\t\t\tsigner or <code>self</code> if the signer is the AWS account that created the distribution. \n\t\t\tThe <code>Signer</code> element also includes the IDs of any active CloudFront key pairs that are \n\t\t\tassociated with the trusted signer's AWS account. If no <code>KeyPairId</code> element \n\t\t\tappears for a <code>Signer</code>, that signer can't create signed URLs. </p> \n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving Private \n\t\t\t\tContent through CloudFront</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudfront#AliasICPRecordal": {
      "type": "structure",
      "members": {
        "ICPRecordalStatus": {
          "target": "com.amazonaws.cloudfront#ICPRecordalStatus",
          "traits": {
            "smithy.api#documentation": "<p>The Internet Content Provider (ICP) recordal status for a CNAME. The ICPRecordalStatus is set to \n\t\t\tAPPROVED for all CNAMEs (aliases) in regions outside of China. </p>\n\t\t       <p>The status values returned are the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <b>APPROVED</b> indicates that the associated CNAME has a valid ICP recordal number.\n\t\t\tMultiple CNAMEs can be associated with a distribution, and CNAMEs can correspond to different ICP recordals. To be marked as\n\t\t\tAPPROVED, that is, valid to use with China region, a CNAME must have one ICP recordal number associated with it.</p>\n            </li>\n            <li>\n               <p>\n                  <b>SUSPENDED</b> indicates that the associated CNAME does not have a valid ICP recordal \n\t\t\t\tnumber.</p>\n            </li>\n            <li>\n               <p>\n                  <b>PENDING</b> indicates that CloudFront can't determine the ICP recordal status of the \n\t\t\t\tCNAME associated with the distribution because there was an error in trying to determine the status. You can try again\n\t\t\t\tto see if the error is resolved in which case CloudFront returns an APPROVED or SUSPENDED status.</p>\n            </li>\n         </ul>"
          }
        },
        "CNAME": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>A domain name associated with a distribution. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AWS services in China customers must file for an Internet Content Provider (ICP) recordal if they want to serve content \n\t\t\tpublicly on an alternate domain name, also known as a CNAME, that they've added to CloudFront. AliasICPRecordal provides the ICP \n\t\t\trecordal status for CNAMEs associated with distributions. The status is returned in the CloudFront response; you can't configure\n\t\t\tit yourself.</p>\n\t\t       <p>For more information about ICP recordals, see  <a href=\"https://docs.amazonaws.cn/en_us/aws/latest/userguide/accounts-and-credentials.html\">\n\t\t\tSignup, Accounts, and Credentials</a> in <i>Getting Started with AWS services in China</i>.</p>"
      }
    },
    "com.amazonaws.cloudfront#AliasICPRecordals": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#AliasICPRecordal",
        "traits": {
          "smithy.api#xmlName": "AliasICPRecordal"
        }
      }
    },
    "com.amazonaws.cloudfront#AliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#string",
        "traits": {
          "smithy.api#xmlName": "CNAME"
        }
      }
    },
    "com.amazonaws.cloudfront#Aliases": {
      "type": "structure",
      "members": {
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of CNAME aliases, if any, that you want to associate with this \n\t\t\tdistribution.</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#AliasList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains the CNAME aliases, if any, that you want to associate with \n\t\t\tthis distribution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about CNAMEs (alternate domain names), if any, \n\t\t\tfor this distribution. </p>"
      }
    },
    "com.amazonaws.cloudfront#AllowedMethods": {
      "type": "structure",
      "members": {
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of HTTP methods that you want CloudFront to forward to your origin. Valid values \n\t\t\tare 2 (for <code>GET</code> and <code>HEAD</code> requests), 3 (for <code>GET</code>, \n\t\t\t\t<code>HEAD</code>, and <code>OPTIONS</code> requests) and 7 (for <code>GET, HEAD, OPTIONS, \n\t\t\t\tPUT, PATCH, POST</code>, and <code>DELETE</code> requests).</p>",
            "smithy.api#required": {}
          }
        },
        "CachedMethods": {
          "target": "com.amazonaws.cloudfront#CachedMethods"
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#MethodsList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains the HTTP methods that you want CloudFront to process and forward \n\t\t\tto your origin.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that controls which HTTP methods CloudFront processes and forwards to your \n\t\t\tAmazon S3 bucket or your custom origin. There are three choices:</p> \n\t\t       <ul>\n            <li> \n\t\t\t\t           <p>CloudFront forwards only <code>GET</code> and <code>HEAD</code> requests.</p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>CloudFront forwards only <code>GET</code>, <code>HEAD</code>, and <code>OPTIONS</code> \n\t\t\t\t\trequests.</p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>CloudFront forwards <code>GET, HEAD, OPTIONS, PUT, PATCH, POST</code>, and \n\t\t\t\t\t\t<code>DELETE</code> requests.</p> \n\t\t\t         </li>\n         </ul> \n\t\t       <p>If you pick the third choice, you may need to restrict access to your Amazon S3 bucket or \n\t\t\tto your custom origin so users can't perform operations that you don't want them to. For \n\t\t\texample, you might not want users to have permissions to delete objects from your \n\t\t\torigin.</p>"
      }
    },
    "com.amazonaws.cloudfront#AwsAccountNumberList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#string",
        "traits": {
          "smithy.api#xmlName": "AwsAccountNumber"
        }
      }
    },
    "com.amazonaws.cloudfront#BatchTooLarge": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Invalidation batch specified is too large.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 413
      }
    },
    "com.amazonaws.cloudfront#CNAMEAlreadyExists": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CNAME specified is already defined for CloudFront.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cloudfront#CacheBehavior": {
      "type": "structure",
      "members": {
        "DefaultTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>This field is deprecated. We recommend that you use the <code>DefaultTTL</code> field in a\n\t\t\tcache policy instead of this field. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html#cache-key-create-cache-policy\">Creating cache policies</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-cache-policies.html\">Using the managed cache policies</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n\t\t       <p>The default amount of time that you want objects to stay in CloudFront caches before CloudFront \n\t\t\tforwards another request to your origin to determine whether the object has been updated. The \n\t\t\tvalue that you specify applies only when your origin does not add HTTP headers such as \n\t\t\t\t<code>Cache-Control max-age</code>, <code>Cache-Control s-maxage</code>, and \n\t\t\t\t<code>Expires</code> to objects. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays \n\t\t\t\tin an Edge Cache (Expiration)</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "OriginRequestPolicyId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the origin request policy that is attached to this cache behavior.\n\t\t\tFor more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-origin-requests.html#origin-request-create-origin-request-policy\">Creating origin request policies</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-origin-request-policies.html\">Using the managed origin request policies</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "ForwardedValues": {
          "target": "com.amazonaws.cloudfront#ForwardedValues",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>This field is deprecated. We recommend that you use a cache policy or an origin\n\t\t\trequest policy instead of this field. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/working-with-policies.html\">Working with policies</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n\t\t       <p>If you want to include values in the cache key, use a cache policy. For more\n\t\t\tinformation, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html#cache-key-create-cache-policy\">Creating cache policies</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-cache-policies.html\">Using the managed cache policies</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n\t\t       <p>If you want to send values to the origin but not include them in the cache key, use an\n\t\t\torigin request policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-origin-requests.html#origin-request-create-origin-request-policy\">Creating origin request policies</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-origin-request-policies.html\">Using the managed origin request policies</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n\t\t       <p>A complex type that specifies how CloudFront handles query strings, cookies, and HTTP headers.</p>"
          }
        },
        "FieldLevelEncryptionId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>ID</code> for the field-level encryption configuration that you want CloudFront\n\t\t\tto use for encrypting specific fields of data for this cache behavior.</p>"
          }
        },
        "SmoothStreaming": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether you want to distribute media files in the Microsoft Smooth Streaming \n\t\t\tformat using the origin that is associated with this cache behavior. If so, specify \n\t\t\t\t<code>true</code>; if not, specify <code>false</code>. If you specify <code>true</code> for \n\t\t\t\t<code>SmoothStreaming</code>, you can still distribute other content using this cache \n\t\t\tbehavior if the content matches the value of <code>PathPattern</code>. </p>"
          }
        },
        "MinTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>This field is deprecated. We recommend that you use the <code>MinTTL</code> field in a cache\n\t\t\tpolicy instead of this field. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html#cache-key-create-cache-policy\">Creating cache policies</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-cache-policies.html\">Using the managed cache policies</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n\t\t       <p>The minimum amount of time that you want objects to stay in CloudFront caches before CloudFront \n\t\t\tforwards another request to your origin to determine whether the object has been updated. For \n\t\t\tmore information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">\n\t\t\t\tManaging How Long Content Stays in an Edge Cache (Expiration)</a> in the <i>\n\t\t\t\tAmazon CloudFront Developer Guide</i>.</p> \n\t\t       <p>You must specify <code>0</code> for <code>MinTTL</code> if you configure CloudFront to \n\t\t\tforward all headers to your origin (under <code>Headers</code>, if you specify <code>1</code> \n\t\t\tfor <code>Quantity</code> and <code>*</code> for <code>Name</code>).</p>"
          }
        },
        "ViewerProtocolPolicy": {
          "target": "com.amazonaws.cloudfront#ViewerProtocolPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The protocol that viewers can use to access the files in the origin specified by \n\t\t\t\t<code>TargetOriginId</code> when a request matches the path pattern in \n\t\t\t\t<code>PathPattern</code>. You can specify the following options:</p> \n\t\t       <ul>\n            <li> \n\t\t\t\t           <p>\n                  <code>allow-all</code>: Viewers can use HTTP or HTTPS.</p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>\n                  <code>redirect-to-https</code>: If a viewer submits an HTTP request, CloudFront returns \n\t\t\t\t\tan HTTP status code of 301 (Moved Permanently) to the viewer along with the HTTPS URL. The \n\t\t\t\t\tviewer then resubmits the request using the new URL. </p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>\n                  <code>https-only</code>: If a viewer sends an HTTP request, CloudFront returns an HTTP \n\t\t\t\t\tstatus code of 403 (Forbidden). </p> \n\t\t\t         </li>\n         </ul> \n\t\t       <p>For more information about requiring the HTTPS protocol, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-https-viewers-to-cloudfront.html\">Requiring HTTPS Between Viewers and CloudFront</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p> \n\t\t       <note> \n\t\t\t         <p>The only way to guarantee that viewers retrieve an object that was fetched from the origin\n\t\t\t\tusing HTTPS is never to use any other protocol to fetch the object. If you have\n\t\t\t\trecently changed from HTTP to HTTPS, we recommend that you clear your objects’ cache\n\t\t\t\tbecause cached objects are protocol agnostic. That means that an edge location will\n\t\t\t\treturn an object from the cache regardless of whether the current request protocol\n\t\t\t\tmatches the protocol used previously. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing Cache Expiration</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p> \n\t\t       </note>",
            "smithy.api#required": {}
          }
        },
        "MaxTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>This field is deprecated. We recommend that you use the <code>MaxTTL</code> field in a cache\n\t\t\tpolicy instead of this field. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html#cache-key-create-cache-policy\">Creating cache policies</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-cache-policies.html\">Using the managed cache policies</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n\t\t       <p>The maximum amount of time that you want objects to stay in CloudFront caches before CloudFront \n\t\t\tforwards another request to your origin to determine whether the object has been updated. The \n\t\t\tvalue that you specify applies only when your origin adds HTTP headers such as \n\t\t\t\t<code>Cache-Control max-age</code>, <code>Cache-Control s-maxage</code>, and \n\t\t\t\t<code>Expires</code> to objects. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays \n\t\t\t\tin an Edge Cache (Expiration)</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "TrustedSigners": {
          "target": "com.amazonaws.cloudfront#TrustedSigners",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that specifies the AWS accounts, if any, that you want to allow to \n\t\t\tcreate signed URLs for private content.</p> \n\t\t       <p>If you want to require signed URLs in requests for objects in the target origin that \n\t\t\tmatch the <code>PathPattern</code> for this cache behavior, specify <code>true</code> for \n\t\t\t\t<code>Enabled</code>, and specify the applicable values for <code>Quantity</code> and \n\t\t\t\t<code>Items</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving Private Content\n\t\t\twith Signed URLs and Signed Cookies</a> in the <i>Amazon CloudFront Developer Guide</i>.\n\t\t</p> \n\t\t       <p>If you don’t want to require signed URLs in requests for objects that match\n\t\t\t<code>PathPattern</code>, specify <code>false</code> for <code>Enabled</code> and \n\t\t\t\t<code>0</code> for <code>Quantity</code>. Omit <code>Items</code>.</p> \n\t\t       <p>To add, change, or remove one or more trusted signers, change <code>Enabled</code> to\n\t\t\t<code>true</code> (if it’s currently <code>false</code>), change <code>Quantity</code>\n\t\t\tas applicable, and specify all of the trusted signers that you want to include in the\n\t\t\tupdated distribution.</p>",
            "smithy.api#required": {}
          }
        },
        "AllowedMethods": {
          "target": "com.amazonaws.cloudfront#AllowedMethods"
        },
        "TargetOriginId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>ID</code> for the origin that you want CloudFront to route requests to\n\t\t\twhen they match this cache behavior.</p>",
            "smithy.api#required": {}
          }
        },
        "Compress": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether you want CloudFront to automatically compress certain files for this cache behavior. \n\t\t\tIf so, specify true; if not, specify false. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ServingCompressedFiles.html\">Serving Compressed Files</a> in the \n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "CachePolicyId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the cache policy that is attached to this cache behavior. For more\n\t\t\tinformation, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html#cache-key-create-cache-policy\">Creating cache policies</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-cache-policies.html\">Using the managed cache policies</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "PathPattern": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The pattern (for example, <code>images/*.jpg</code>) that specifies which requests to \n\t\t\tapply the behavior to. When CloudFront receives a viewer request, the requested path is compared \n\t\t\twith path patterns in the order in which cache behaviors are listed in the \n\t\t\tdistribution.</p> \n\t\t       <note> \n\t\t\t         <p>You can optionally include a slash (<code>/</code>) at the beginning of the path \n\t\t\t\tpattern. For example, <code>/images/*.jpg</code>. CloudFront behavior is the same with or without \n\t\t\t\tthe leading <code>/</code>.</p> \n\t\t       </note> \n\t\t       <p>The path pattern for the default cache behavior is <code>*</code> and cannot be \n\t\t\tchanged. If the request for an object does not match the path pattern for any cache behaviors, \n\t\t\tCloudFront applies the behavior in the default cache behavior.</p> \n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-values-specify.html#DownloadDistValuesPathPattern\">Path \n\t\t\t\tPattern</a> in the <i> Amazon CloudFront Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "LambdaFunctionAssociations": {
          "target": "com.amazonaws.cloudfront#LambdaFunctionAssociations",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains zero or more Lambda function associations for a cache \n\t\t\tbehavior.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that describes how CloudFront processes requests.</p> \n\t\t       <p>You must create at least as many cache behaviors (including the default cache behavior) as\n\t\t\tyou have origins if you want CloudFront to serve objects from all of the origins. Each cache\n\t\t\tbehavior specifies the one origin from which you want CloudFront to get objects. If you have\n\t\t\ttwo origins and only the default cache behavior, the default cache behavior will cause\n\t\t\tCloudFront to get objects from one of the origins, but the other origin is never used.</p> \n\t\t       <p>For the current quota (formerly known as limit) on the number of cache behaviors that you\n\t\t\tcan add to a distribution, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/cloudfront-limits.html\">Quotas</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> \n\t\t       <p>If you don’t want to specify any cache behaviors, include only an empty\n\t\t\t<code>CacheBehaviors</code> element. Don’t include an empty <code>CacheBehavior</code>\n\t\t\telement because this is invalid.</p> \n\t\t       <p>To delete all cache behaviors in an existing distribution, update the distribution \n\t\t\tconfiguration and include only an empty <code>CacheBehaviors</code> element.</p> \n\t\t       <p>To add, change, or remove one or more cache behaviors, update the distribution \n\t\t\tconfiguration and specify all of the cache behaviors that you want to include in the updated \n\t\t\tdistribution.</p> \n\t\t       <p>For more information about cache behaviors, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-values-specify.html#DownloadDistValuesCacheBehavior\">Cache Behavior Settings</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudfront#CacheBehaviorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#CacheBehavior",
        "traits": {
          "smithy.api#xmlName": "CacheBehavior"
        }
      }
    },
    "com.amazonaws.cloudfront#CacheBehaviors": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.cloudfront#CacheBehaviorList",
          "traits": {
            "smithy.api#documentation": "<p>Optional: A complex type that contains cache behaviors for this distribution. If \n\t\t\t\t<code>Quantity</code> is <code>0</code>, you can omit <code>Items</code>.</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of cache behaviors for this distribution. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains zero or more <code>CacheBehavior</code> elements. \n\t\t</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicy": {
      "type": "structure",
      "members": {
        "LastModifiedTime": {
          "target": "com.amazonaws.cloudfront#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the cache policy was last modified.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the cache policy.</p>",
            "smithy.api#required": {}
          }
        },
        "CachePolicyConfig": {
          "target": "com.amazonaws.cloudfront#CachePolicyConfig",
          "traits": {
            "smithy.api#documentation": "<p>The cache policy configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A cache policy.</p>\n\t\t       <p>When it’s attached to a cache behavior, the cache policy determines the\n\t\t\tfollowing:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>The values that CloudFront includes in the cache key. These values can include HTTP headers,\n\t\t\t\t\tcookies, and URL query strings. CloudFront uses the cache key to find an object in its\n\t\t\t\t\tcache that it can return to the viewer.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>The default, minimum, and maximum time to live (TTL) values that you want objects to stay\n\t\t\t\t\tin the CloudFront cache.</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>The headers, cookies, and query strings that are included in the cache key are automatically\n\t\t\tincluded in requests that CloudFront sends to the origin. CloudFront sends a request when it can’t\n\t\t\tfind a valid object in its cache that matches the request’s cache key. If you want to\n\t\t\tsend values to the origin but <i>not</i> include them in the cache key,\n\t\t\tuse <code>OriginRequestPolicy</code>.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicyAlreadyExists": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A cache policy with this name already exists. You must provide a unique name. To\n\t\t\tmodify an existing cache policy, use <code>UpdateCachePolicy</code>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cloudfront#CachePolicyConfig": {
      "type": "structure",
      "members": {
        "MinTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#documentation": "<p>The minimum amount of time, in seconds, that you want objects to stay in the CloudFront\n\t\t\tcache before CloudFront sends another request to the origin to see if the object has been\n\t\t\tupdated. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays in an Edge Cache (Expiration)</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time, in seconds, that objects stay in the CloudFront cache\n\t\t\tbefore CloudFront sends another request to the origin to see if the object has been updated.\n\t\t\tCloudFront uses this value only when the origin sends <code>Cache-Control</code> or\n\t\t\t<code>Expires</code> headers with the object. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays in an Edge Cache (Expiration)</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n\t\t       <p>The default value for this field is 31536000 seconds (one year). If the value of\n\t\t\t<code>MinTTL</code> or <code>DefaultTTL</code> is more than 31536000 seconds, then the\n\t\t\tdefault value for this field is the same as the value of <code>DefaultTTL</code>.</p>"
          }
        },
        "Comment": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>A comment to describe the cache policy.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique name to identify the cache policy.</p>",
            "smithy.api#required": {}
          }
        },
        "ParametersInCacheKeyAndForwardedToOrigin": {
          "target": "com.amazonaws.cloudfront#ParametersInCacheKeyAndForwardedToOrigin",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP headers, cookies, and URL query strings to include in the cache key. The\n\t\t\tvalues included in the cache key are automatically included in requests that CloudFront sends\n\t\t\tto the origin.</p>"
          }
        },
        "DefaultTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#documentation": "<p>The default amount of time, in seconds, that you want objects to stay in the CloudFront\n\t\t\tcache before CloudFront sends another request to the origin to see if the object has been\n\t\t\tupdated. CloudFront uses this value as the object’s time to live (TTL) only when the origin\n\t\t\tdoes <i>not</i> send <code>Cache-Control</code> or <code>Expires</code>\n\t\t\theaders with the object. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays in an Edge Cache (Expiration)</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n\t\t       <p>The default value for this field is 86400 seconds (one day). If the value of\n\t\t\t<code>MinTTL</code> is more than 86400 seconds, then the default value for this field is\n\t\t\tthe same as the value of <code>MinTTL</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A cache policy configuration.</p>\n\t\t       <p>This configuration determines the following:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>The values that CloudFront includes in the cache key. These values can include HTTP headers,\n\t\t\t\t\tcookies, and URL query strings. CloudFront uses the cache key to find an object in its\n\t\t\t\t\tcache that it can return to the viewer.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>The default, minimum, and maximum time to live (TTL) values that you want objects to stay\n\t\t\t\t\tin the CloudFront cache.</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>The headers, cookies, and query strings that are included in the cache key are automatically\n\t\t\tincluded in requests that CloudFront sends to the origin. CloudFront sends a request when it can’t\n\t\t\tfind a valid object in its cache that matches the request’s cache key. If you want to\n\t\t\tsend values to the origin but <i>not</i> include them in the cache key,\n\t\t\tuse <code>OriginRequestPolicy</code>.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicyCookieBehavior": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "none"
          },
          {
            "value": "whitelist"
          },
          {
            "value": "allExcept"
          },
          {
            "value": "all"
          }
        ]
      }
    },
    "com.amazonaws.cloudfront#CachePolicyCookiesConfig": {
      "type": "structure",
      "members": {
        "CookieBehavior": {
          "target": "com.amazonaws.cloudfront#CachePolicyCookieBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether any cookies in viewer requests are included in the cache key and\n\t\t\tautomatically included in requests that CloudFront sends to the origin. Valid values\n\t\t\tare:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <code>none</code> – Cookies in viewer requests are not included in the cache key and are\n\t\t\t\t\tnot automatically included in requests that CloudFront sends to the origin. Even when\n\t\t\t\t\tthis field is set to <code>none</code>, any cookies that are listed in an\n\t\t\t\t\t<code>OriginRequestPolicy</code> \n                  <i>are</i> included in origin\n\t\t\t\t\trequests.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>whitelist</code> – The cookies in viewer requests that are listed in the\n\t\t\t\t\t<code>CookieNames</code> type are included in the cache key and automatically\n\t\t\t\t\tincluded in requests that CloudFront sends to the origin.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>allExcept</code> – All cookies in viewer requests that are <i>\n                     <b>not</b>\n                  </i> listed in the <code>CookieNames</code>\n\t\t\t\t\ttype are included in the cache key and automatically included in requests that\n\t\t\t\t\tCloudFront sends to the origin.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>all</code> – All cookies in viewer requests are included in the cache key and are\n\t\t\t\t\tautomatically included in requests that CloudFront sends to the origin.</p>\n\t\t\t         </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Cookies": {
          "target": "com.amazonaws.cloudfront#CookieNames"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that determines whether any cookies in viewer requests (and if so, which cookies)\n\t\t\tare included in the cache key and automatically included in requests that CloudFront sends to\n\t\t\tthe origin.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicyHeaderBehavior": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "none"
          },
          {
            "value": "whitelist"
          }
        ]
      }
    },
    "com.amazonaws.cloudfront#CachePolicyHeadersConfig": {
      "type": "structure",
      "members": {
        "HeaderBehavior": {
          "target": "com.amazonaws.cloudfront#CachePolicyHeaderBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether any HTTP headers are included in the cache key and automatically\n\t\t\tincluded in requests that CloudFront sends to the origin. Valid values are:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <code>none</code> – HTTP headers are not included in the cache key and are not\n\t\t\t\t\tautomatically included in requests that CloudFront sends to the origin. Even when this\n\t\t\t\t\tfield is set to <code>none</code>, any headers that are listed in an\n\t\t\t\t\t<code>OriginRequestPolicy</code> \n                  <i>are</i> included in origin\n\t\t\t\t\trequests.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>whitelist</code> – The HTTP headers that are listed in the <code>Headers</code> type\n\t\t\t\t\tare included in the cache key and are automatically included in requests that\n\t\t\t\t\tCloudFront sends to the origin.</p>\n\t\t\t         </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Headers": {
          "target": "com.amazonaws.cloudfront#Headers"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that determines whether any HTTP headers (and if so, which headers) are included\n\t\t\tin the cache key and automatically included in requests that CloudFront sends to the\n\t\t\torigin.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicyInUse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Cannot delete the cache policy because it is attached to one or more cache\n\t\t\tbehaviors.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cloudfront#CachePolicyList": {
      "type": "structure",
      "members": {
        "NextMarker": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>If there are more items in the list than are in this response, this element is\n\t\t\tpresent. It contains the value that you should use in the <code>Marker</code> field of a\n\t\t\tsubsequent request to continue listing cache policies where you left off.</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of cache policies returned in the response.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxItems": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of cache policies requested.</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#CachePolicySummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Contains the cache policies in the list.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of cache policies.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicyQueryStringBehavior": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "none"
          },
          {
            "value": "whitelist"
          },
          {
            "value": "allExcept"
          },
          {
            "value": "all"
          }
        ]
      }
    },
    "com.amazonaws.cloudfront#CachePolicyQueryStringsConfig": {
      "type": "structure",
      "members": {
        "QueryStrings": {
          "target": "com.amazonaws.cloudfront#QueryStringNames",
          "traits": {
            "smithy.api#documentation": "<p>Contains the specific query strings in viewer requests that either <i>\n               <b>are</b>\n            </i> or <i>\n               <b>are\n\t\t\tnot</b>\n            </i> included in the cache key and automatically included in\n\t\t\trequests that CloudFront sends to the origin. The behavior depends on whether the\n\t\t\t<code>QueryStringBehavior</code> field in the <code>CachePolicyQueryStringsConfig</code>\n\t\t\ttype is set to <code>whitelist</code> (the listed query strings <i>\n               <b>are</b>\n            </i> included) or <code>allExcept</code> (the listed\n\t\t\tquery strings <i>\n               <b>are not</b>\n            </i> included,\n\t\t\tbut all other query strings are).</p>"
          }
        },
        "QueryStringBehavior": {
          "target": "com.amazonaws.cloudfront#CachePolicyQueryStringBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether any URL query strings in viewer requests are included in the cache key\n\t\t\tand automatically included in requests that CloudFront sends to the origin. Valid values\n\t\t\tare:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <code>none</code> – Query strings in viewer requests are not included in the cache key and\n\t\t\t\t\tare not automatically included in requests that CloudFront sends to the origin. Even\n\t\t\t\t\twhen this field is set to <code>none</code>, any query strings that are listed\n\t\t\t\t\tin an <code>OriginRequestPolicy</code> \n                  <i>are</i> included in\n\t\t\t\t\torigin requests.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>whitelist</code> – The query strings in viewer requests that are listed in the\n\t\t\t\t\t<code>QueryStringNames</code> type are included in the cache key and\n\t\t\t\t\tautomatically included in requests that CloudFront sends to the origin.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>allExcept</code> – All query strings in viewer requests that are <i>\n                     <b>not</b>\n                  </i> listed in the\n\t\t\t\t\t<code>QueryStringNames</code> type are included in the cache key and\n\t\t\t\t\tautomatically included in requests that CloudFront sends to the origin.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>all</code> – All query strings in viewer requests are included in the cache key and\n\t\t\t\t\tare automatically included in requests that CloudFront sends to the origin.</p>\n\t\t\t         </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that determines whether any URL query strings in viewer requests (and if so, which\n\t\t\tquery strings) are included in the cache key and automatically included in requests that\n\t\t\tCloudFront sends to the origin.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicySummary": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.cloudfront#CachePolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of cache policy, either <code>managed</code> (created by AWS) or\n\t\t\t<code>custom</code> (created in this AWS account).</p>",
            "smithy.api#required": {}
          }
        },
        "CachePolicy": {
          "target": "com.amazonaws.cloudfront#CachePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The cache policy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a cache policy.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicySummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#CachePolicySummary",
        "traits": {
          "smithy.api#xmlName": "CachePolicySummary"
        }
      }
    },
    "com.amazonaws.cloudfront#CachePolicyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "managed"
          },
          {
            "value": "custom"
          }
        ]
      }
    },
    "com.amazonaws.cloudfront#CachedMethods": {
      "type": "structure",
      "members": {
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of HTTP methods for which you want CloudFront to cache responses. Valid values are \n\t\t\t\t<code>2</code> (for caching responses to <code>GET</code> and <code>HEAD</code> requests) \n\t\t\tand <code>3</code> (for caching responses to <code>GET</code>, <code>HEAD</code>, and \n\t\t\t\t<code>OPTIONS</code> requests).</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#MethodsList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains the HTTP methods that you want CloudFront to cache responses \n\t\t\tto.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that controls whether CloudFront caches the response to requests using the \n\t\t\tspecified HTTP methods. There are two choices:</p> \n\t\t       <ul>\n            <li> \n\t\t\t\t           <p>CloudFront caches responses to <code>GET</code> and <code>HEAD</code> requests.</p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>CloudFront caches responses to <code>GET</code>, <code>HEAD</code>, and \n\t\t\t\t\t\t<code>OPTIONS</code> requests.</p> \n\t\t\t         </li>\n         </ul> \n\t\t       <p>If you pick the second choice for your Amazon S3 Origin, you may need to forward \n\t\t\tAccess-Control-Request-Method, Access-Control-Request-Headers, and Origin headers for the \n\t\t\tresponses to be cached correctly. </p>"
      }
    },
    "com.amazonaws.cloudfront#CannotChangeImmutablePublicKeyFields": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't change the value of a public key.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudfront#CertificateSource": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "cloudfront"
          },
          {
            "value": "iam"
          },
          {
            "value": "acm"
          }
        ]
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentity": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the origin access identity, for example, <code>E74FTE3AJFJ256A</code>. \n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "CloudFrontOriginAccessIdentityConfig": {
          "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityConfig",
          "traits": {
            "smithy.api#documentation": "<p>The current configuration information for the identity. </p>"
          }
        },
        "S3CanonicalUserId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 canonical user ID for the origin access identity, used when giving the origin \n\t\t\taccess identity read permission to an object in Amazon S3. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CloudFront origin access identity.</p>"
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityAlreadyExists": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>If the <code>CallerReference</code> is a value you already sent in a previous request to create an identity but the content \n\t\t\tof the <code>CloudFrontOriginAccessIdentityConfig</code> is different from the original request, CloudFront returns a \n\t\t\t<code>CloudFrontOriginAccessIdentityAlreadyExists</code> error. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityConfig": {
      "type": "structure",
      "members": {
        "Comment": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>Any comments you want to include about the origin access identity. </p>",
            "smithy.api#required": {}
          }
        },
        "CallerReference": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique value (for example, a date-time stamp) that ensures that the request can't be replayed.</p> \n\t\t       <p>If the value of <code>CallerReference</code> is new (regardless of the content of the \n\t\t\t<code>CloudFrontOriginAccessIdentityConfig</code> object), a new origin access identity is \n\t\t\tcreated.</p> \n\t\t       <p>If the <code>CallerReference</code> is a value already sent in a previous identity \n\t\t\trequest, and the content of the <code>CloudFrontOriginAccessIdentityConfig</code> is identical \n\t\t\tto the original request (ignoring white space), the response includes the same information \n\t\t\treturned to the original request. </p> \n\t\t       <p>If the <code>CallerReference</code> is a value you already sent in a previous request \n\t\t\tto create an identity, but the content of the \n\t\t\t<code>CloudFrontOriginAccessIdentityConfig</code> is different from the original request, \n\t\t\tCloudFront returns a <code>CloudFrontOriginAccessIdentityAlreadyExists</code> error. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Origin access identity configuration. Send a <code>GET</code> request to the \n\t\t\t\t\t<code>/<i>CloudFront API version</i>/CloudFront/identity ID/config</code> resource. \n\t\t</p>"
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityInUse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Origin Access Identity specified is already in use.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityList": {
      "type": "structure",
      "members": {
        "MaxItems": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of origin access identities you want in the response body. \n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentitySummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains one <code>CloudFrontOriginAccessIdentitySummary</code> \n\t\t\telement for each origin access identity that was created by the current AWS \n\t\t\taccount.</p>"
          }
        },
        "IsTruncated": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag that indicates whether more origin access identities remain to be listed. If \n\t\t\tyour results were truncated, you can make a follow-up pagination request using the \n\t\t\t\t<code>Marker</code> request parameter to retrieve more items in the list.</p>",
            "smithy.api#required": {}
          }
        },
        "Marker": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>Use this when paginating results to indicate where to begin in your list of origin \n\t\t\taccess identities. The results include identities in the list that occur after the marker. To \n\t\t\tget the next page of results, set the <code>Marker</code> to the value of the \n\t\t\t\t<code>NextMarker</code> from the current page's response (which is also the ID of the last \n\t\t\tidentity on that page). </p>",
            "smithy.api#required": {}
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of CloudFront origin access identities that were created by the current AWS \n\t\t\taccount. </p>",
            "smithy.api#required": {}
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>If <code>IsTruncated</code> is <code>true</code>, this element is present and contains \n\t\t\tthe value you can use for the <code>Marker</code> request parameter to continue listing your \n\t\t\torigin access identities where they left off. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists the origin access identities for CloudFront.Send a <code>GET</code> request to the \n\t\t\t\t\t<code>/<i>CloudFront API version</i>/origin-access-identity/cloudfront</code> \n\t\t\tresource. The response includes a <code>CloudFrontOriginAccessIdentityList</code> element with \n\t\t\tzero or more <code>CloudFrontOriginAccessIdentitySummary</code> child elements. By default, \n\t\t\tyour entire list of origin access identities is returned in one single page. If the list is \n\t\t\tlong, you can paginate it using the <code>MaxItems</code> and <code>Marker</code> \n\t\t\tparameters.</p>"
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentitySummary": {
      "type": "structure",
      "members": {
        "S3CanonicalUserId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 canonical user ID for the origin access identity, which you use when giving \n\t\t\tthe origin access identity read permission to an object in Amazon S3.</p>",
            "smithy.api#required": {}
          }
        },
        "Comment": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The comment for this origin access identity, as originally specified when \n\t\t\tcreated.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the origin access identity. For example: \n\t\t\t<code>E74FTE3AJFJ256A</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the information about a CloudFront origin access identity.</p>"
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentitySummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentitySummary",
        "traits": {
          "smithy.api#xmlName": "CloudFrontOriginAccessIdentitySummary"
        }
      }
    },
    "com.amazonaws.cloudfront#Cloudfront2020_05_31": {
      "type": "service",
      "version": "2020-05-31",
      "operations": [
        {
          "target": "com.amazonaws.cloudfront#CreateCachePolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateCloudFrontOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateDistributionWithTags"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateFieldLevelEncryptionProfile"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateInvalidation"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateOriginRequestPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#CreatePublicKey"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateStreamingDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateStreamingDistributionWithTags"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteCachePolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteCloudFrontOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteFieldLevelEncryptionProfile"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteOriginRequestPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#DeletePublicKey"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteStreamingDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#GetCachePolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#GetCachePolicyConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetCloudFrontOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#GetCloudFrontOriginAccessIdentityConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#GetDistributionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetFieldLevelEncryption"
        },
        {
          "target": "com.amazonaws.cloudfront#GetFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetFieldLevelEncryptionProfile"
        },
        {
          "target": "com.amazonaws.cloudfront#GetFieldLevelEncryptionProfileConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetInvalidation"
        },
        {
          "target": "com.amazonaws.cloudfront#GetOriginRequestPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#GetOriginRequestPolicyConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetPublicKey"
        },
        {
          "target": "com.amazonaws.cloudfront#GetPublicKeyConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetStreamingDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#GetStreamingDistributionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#ListCachePolicies"
        },
        {
          "target": "com.amazonaws.cloudfront#ListCloudFrontOriginAccessIdentities"
        },
        {
          "target": "com.amazonaws.cloudfront#ListDistributions"
        },
        {
          "target": "com.amazonaws.cloudfront#ListDistributionsByCachePolicyId"
        },
        {
          "target": "com.amazonaws.cloudfront#ListDistributionsByOriginRequestPolicyId"
        },
        {
          "target": "com.amazonaws.cloudfront#ListDistributionsByWebACLId"
        },
        {
          "target": "com.amazonaws.cloudfront#ListFieldLevelEncryptionConfigs"
        },
        {
          "target": "com.amazonaws.cloudfront#ListFieldLevelEncryptionProfiles"
        },
        {
          "target": "com.amazonaws.cloudfront#ListInvalidations"
        },
        {
          "target": "com.amazonaws.cloudfront#ListOriginRequestPolicies"
        },
        {
          "target": "com.amazonaws.cloudfront#ListPublicKeys"
        },
        {
          "target": "com.amazonaws.cloudfront#ListStreamingDistributions"
        },
        {
          "target": "com.amazonaws.cloudfront#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.cloudfront#TagResource"
        },
        {
          "target": "com.amazonaws.cloudfront#UntagResource"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateCachePolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateCloudFrontOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateFieldLevelEncryptionProfile"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateOriginRequestPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdatePublicKey"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateStreamingDistribution"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CloudFront",
          "arnNamespace": "cloudfront",
          "cloudFormationName": "CloudFront",
          "cloudTrailEventSource": "_2020_05_31.edge.amazon.com"
        },
        "aws.auth#sigv4": {
          "name": "cloudfront"
        },
        "aws.protocols#restXml": {},
        "smithy.api#documentation": "<fullname>Amazon CloudFront</fullname>\n\t\t       <p>This is the <i>Amazon CloudFront API Reference</i>. This guide is for developers who need detailed information about \n\t\t\tCloudFront API actions, data types, and errors. For detailed information about CloudFront features, see the <i>Amazon CloudFront Developer Guide</i>.</p>",
        "smithy.api#title": "Amazon CloudFront",
        "smithy.api#xmlNamespace": {
          "uri": "http://cloudfront.amazonaws.com/doc/2020-05-31/"
        }
      }
    },
    "com.amazonaws.cloudfront#CommentType": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.cloudfront#ContentTypeProfile": {
      "type": "structure",
      "members": {
        "ContentType": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The content type for a field-level encryption content type-profile mapping. </p>",
            "smithy.api#required": {}
          }
        },
        "ProfileId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The profile ID for a field-level encryption content type-profile mapping. </p>"
          }
        },
        "Format": {
          "target": "com.amazonaws.cloudfront#Format",
          "traits": {
            "smithy.api#documentation": "<p>The format for a field-level encryption content type-profile mapping. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A field-level encryption content type profile. </p>"
      }
    },
    "com.amazonaws.cloudfront#ContentTypeProfileConfig": {
      "type": "structure",
      "members": {
        "ForwardWhenContentTypeIsUnknown": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>The setting in a field-level encryption content type-profile mapping that specifies what to do\n\t\t\twhen an unknown content type is provided for the profile. If true, content is\n\t\t\tforwarded without being encrypted when the content type is unknown. If false (the\n\t\t\tdefault), an error is returned when the content type is unknown. </p>",
            "smithy.api#required": {}
          }
        },
        "ContentTypeProfiles": {
          "target": "com.amazonaws.cloudfront#ContentTypeProfiles",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for a field-level encryption content type-profile. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for a field-level encryption content type-profile mapping. </p>"
      }
    },
    "com.amazonaws.cloudfront#ContentTypeProfileList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#ContentTypeProfile",
        "traits": {
          "smithy.api#xmlName": "ContentTypeProfile"
        }
      }
    },
    "com.amazonaws.cloudfront#ContentTypeProfiles": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.cloudfront#ContentTypeProfileList",
          "traits": {
            "smithy.api#documentation": "<p>Items in a field-level encryption content type-profile mapping. </p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of field-level encryption content type-profile mappings. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Field-level encryption content type-profile. </p>"
      }
    },
    "com.amazonaws.cloudfront#CookieNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#string",
        "traits": {
          "smithy.api#xmlName": "Name"
        }
      }
    },
    "com.amazonaws.cloudfront#CookieNames": {
      "type": "structure",
      "members": {
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of cookie names in the <code>Items</code> list.</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#CookieNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cookie names.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a list of cookie names.</p>"
      }
    },
    "com.amazonaws.cloudfront#CookiePreference": {
      "type": "structure",
      "members": {
        "Forward": {
          "target": "com.amazonaws.cloudfront#ItemSelection",
          "traits": {
            "smithy.api#documentation": "<p>This field is deprecated. We recommend that you use a cache policy or an origin\n\t\t\trequest policy instead of this field.</p>\n\t\t       <p>If you want to include cookies in the cache key, use a cache policy. For more information,\n\t\t\tsee <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html#cache-key-create-cache-policy\">Creating cache policies</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>\n\t\t       <p>If you want to send cookies to the origin but not include them in the cache key, use origin\n\t\t\trequest policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-origin-requests.html#origin-request-create-origin-request-policy\">Creating origin request policies</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p> \n\t\t       <p>Specifies which cookies to forward to the origin for this cache behavior: all, none, or \n\t\t\tthe list of cookies specified in the <code>WhitelistedNames</code> complex type.</p> \n\t\t       <p>Amazon S3 doesn't process cookies. When the cache behavior is forwarding requests to an \n\t\t\tAmazon S3 origin, specify none for the <code>Forward</code> element.</p>",
            "smithy.api#required": {}
          }
        },
        "WhitelistedNames": {
          "target": "com.amazonaws.cloudfront#CookieNames",
          "traits": {
            "smithy.api#documentation": "<p>This field is deprecated. We recommend that you use a cache policy or an origin\n\t\t\trequest policy instead of this field.</p>\n\t\t       <p>If you want to include cookies in the cache key, use a cache policy. For more information,\n\t\t\tsee <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html#cache-key-create-cache-policy\">Creating cache policies</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>\n\t\t       <p>If you want to send cookies to the origin but not include them in the cache key, use an\n\t\t\torigin request policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-origin-requests.html#origin-request-create-origin-request-policy\">Creating origin request policies</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p> \n\t\t       <p>Required if you specify <code>whitelist</code> for the value of <code>Forward</code>. \n\t\t\tA complex type that specifies how many different cookies you want CloudFront to forward to the \n\t\t\torigin for this cache behavior and, if you want to forward selected cookies, the names of \n\t\t\tthose cookies.</p> \n\t\t       <p>If you specify <code>all</code> or <code>none</code> for the value of <code>Forward</code>, omit \n\t\t\t\t<code>WhitelistedNames</code>. If you change the value of <code>Forward</code> from \n\t\t\t<code>whitelist</code> to <code>all</code> or <code>none</code> and you don't delete the <code>WhitelistedNames</code> \n\t\t\telement and its child elements, CloudFront deletes them automatically.</p> \n\t\t       <p>For the current limit on the number of cookie names that you can whitelist for each \n\t\t\tcache behavior, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/xrefaws_service_limits.html#limits_cloudfront\">\n\t\t\t\tCloudFront Limits</a> in the <i>AWS General Reference</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This field is deprecated. We recommend that you use a cache policy or an origin\n\t\t\trequest policy instead of this field.</p>\n\t\t       <p>If you want to include cookies in the cache key, use <code>CookiesConfig</code> in a\n\t\t\tcache policy. See <code>CreateCachePolicy</code>.</p>\n\t\t       <p>If you want to send cookies to the origin but not include them in the cache key, use\n\t\t\t<code>CookiesConfig</code> in an origin request policy. See\n\t\t\t<code>CreateOriginRequestPolicy</code>.</p> \n\t\t       <p>A complex type that specifies whether you want CloudFront to forward cookies to the origin \n\t\t\tand, if so, which ones. For more information about forwarding cookies to the origin, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Cookies.html\">Caching Content \n\t\t\t\tBased on Cookies</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudfront#CreateCachePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#CreateCachePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudfront#CreateCachePolicyResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#AccessDenied"
        },
        {
          "target": "com.amazonaws.cloudfront#CachePolicyAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#InconsistentQuantities"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCachePolicies"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCookiesInCachePolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyHeadersInCachePolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyQueryStringsInCachePolicy"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a cache policy.</p>\n\t\t       <p>After you create a cache policy, you can attach it to one or more cache behaviors. When it’s\n\t\t\tattached to a cache behavior, the cache policy determines the following:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>The values that CloudFront includes in the <i>cache key</i>. These values can\n\t\t\t\t\tinclude HTTP headers, cookies, and URL query strings. CloudFront uses the cache key to\n\t\t\t\t\tfind an object in its cache that it can return to the viewer.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>The default, minimum, and maximum time to live (TTL) values that you want objects to stay\n\t\t\t\t\tin the CloudFront cache.</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>The headers, cookies, and query strings that are included in the cache key are automatically\n\t\t\tincluded in requests that CloudFront sends to the origin. CloudFront sends a request when it can’t\n\t\t\tfind an object in its cache that matches the request’s cache key. If you want to send\n\t\t\tvalues to the origin but <i>not</i> include them in the cache key, use\n\t\t\t<code>CreateOriginRequestPolicy</code>.</p>\n\t\t       <p>For more information about cache policies, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html\">Controlling the cache key</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-05-31/cache-policy",
          "code": 201
        }
      }
    },
    "com.amazonaws.cloudfront#CreateCachePolicyRequest": {
      "type": "structure",
      "members": {
        "CachePolicyConfig": {
          "target": "com.amazonaws.cloudfront#CachePolicyConfig",
          "traits": {
            "smithy.api#documentation": "<p>A cache policy configuration.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudfront#CreateCachePolicyResult": {
      "type": "structure",
      "members": {
        "ETag": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the cache policy.</p>",
            "smithy.api#httpHeader": "ETag"
          }
        },
        "Location": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified URI of the cache policy just created.</p>",
            "smithy.api#httpHeader": "Location"
          }
        },
        "CachePolicy": {
          "target": "com.amazonaws.cloudfront#CachePolicy",
          "traits": {
            "smithy.api#documentation": "<p>A cache policy.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      }
    },
    "com.amazonaws.cloudfront#CreateCloudFrontOriginAccessIdentity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#CreateCloudFrontOriginAccessIdentityRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudfront#CreateCloudFrontOriginAccessIdentityResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#InconsistentQuantities"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#MissingBody"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCloudFrontOriginAccessIdentities"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new origin access identity. If you're using Amazon S3 for your origin, you can \n\t\t\tuse an origin access identity to require users to access your content using a CloudFront URL instead \n\t\t\tof the Amazon S3 URL. For more information about how to use origin access identities, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving Private Content through CloudFront</a> in the \n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-05-31/origin-access-identity/cloudfront",
          "code": 201
        }
      }
    },
    "com.amazonaws.cloudfront#CreateCloudFrontOriginAccessIdentityRequest": {
      "type": "structure",
      "members": {
        "CloudFrontOriginAccessIdentityConfig": {
          "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityConfig",
          "traits": {
            "smithy.api#documentation": "<p>The current configuration information for the identity.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request to create a new origin access identity (OAI). An origin access identity is a \n\t\t\tspecial CloudFront user that you can associate with Amazon S3 origins, so that you can secure all or \n\t\t\tjust some of your Amazon S3 content. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/private-content-restricting-access-to-s3.html\">\n\t\t\tRestricting Access to Amazon S3 Content by Using an Origin Access Identity</a> in the \n\t\t\t<i>Amazon CloudFront Developer Guide</i>. </p>"
      }
    },
    "com.amazonaws.cloudfront#CreateCloudFrontOriginAccessIdentityResult": {
      "type": "structure",
      "members": {
        "ETag": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the origin access identity created.</p>",
            "smithy.api#httpHeader": "ETag"
          }
        },
        "CloudFrontOriginAccessIdentity": {
          "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentity",
          "traits": {
            "smithy.api#documentation": "<p>The origin access identity's information.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified URI of the new origin access identity just created.</p>",
            "smithy.api#httpHeader": "Location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The returned result of the corresponding request.</p>"
      }
    },
    "com.amazonaws.cloudfront#CreateDistribution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#CreateDistributionRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudfront#CreateDistributionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#AccessDenied"
        },
        {
          "target": "com.amazonaws.cloudfront#CNAMEAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#DistributionAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"
        },
        {
          "target": "com.amazonaws.cloudfront#InconsistentQuantities"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidDefaultRootObject"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidErrorCode"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidForwardCookies"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidGeoRestrictionParameter"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidHeadersForS3Origin"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidLambdaFunctionAssociation"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidLocationCode"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidMinimumProtocolVersion"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOrigin"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOriginKeepaliveTimeout"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOriginReadTimeout"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidProtocolSettings"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidQueryStringParameters"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidRelativePath"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidRequiredProtocol"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidResponseCode"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidTTLOrder"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidViewerCertificate"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidWebACLId"
        },
        {
          "target": "com.amazonaws.cloudfront#MissingBody"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchCachePolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchOrigin"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchOriginRequestPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCacheBehaviors"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCertificates"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCookieNamesInWhiteList"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionCNAMEs"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributions"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionsAssociatedToCachePolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionsAssociatedToOriginRequestPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionsWithLambdaAssociations"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionsWithSingleFunctionARN"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyHeadersInForwardedValues"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyLambdaFunctionAssociations"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyOriginCustomHeaders"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyOriginGroupsPerDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyOrigins"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyQueryStringParameters"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyTrustedSigners"
        },
        {
          "target": "com.amazonaws.cloudfront#TrustedSignerDoesNotExist"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new web distribution. You create a CloudFront distribution to tell CloudFront where you \n\t\t\twant content to be delivered from, and the details about how to track and manage content delivery. Send a <code>POST</code> request to the \n\t\t\t<code>/<i>CloudFront API version</i>/distribution</code>/<code>distribution ID</code> resource.</p>\n\t\t       <important>\n            <p>When you update a distribution, there are more required fields than when you create a distribution.\n\t\t\tWhen you update your distribution by using \n\t\t\t<a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>,\n\t\t\tfollow the steps included\n\t\t\tin the documentation to get the current configuration\n\t\t\tand then make your updates. This helps to make sure that you include all of the required fields. To view a summary,\n\t\t\tsee <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-overview-required-fields.html\">Required \n\t\t\t\tFields for Create Distribution and Update Distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>\n         </important>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-05-31/distribution",
          "code": 201
        }
      }
    },
    "com.amazonaws.cloudfront#CreateDistributionRequest": {
      "type": "structure",
      "members": {
        "DistributionConfig": {
          "target": "com.amazonaws.cloudfront#DistributionConfig",
          "traits": {
            "smithy.api#documentation": "<p>The distribution's configuration information.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request to create a new distribution.</p>"
      }
    },
    "com.amazonaws.cloudfront#CreateDistributionResult": {
      "type": "structure",
      "members": {
        "Distribution": {
          "target": "com.amazonaws.cloudfront#Distribution",
          "traits": {
            "smithy.api#documentation": "<p>The distribution's information.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "ETag": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the distribution created.</p>",
            "smithy.api#httpHeader": "ETag"
          }
        },
        "Location": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified URI of the new distribution resource just created.</p>",
            "smithy.api#httpHeader": "Location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The returned result of the corresponding request.</p>"
      }
    },
    "com.amazonaws.cloudfront#CreateDistributionWithTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#CreateDistributionWithTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudfront#CreateDistributionWithTagsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#AccessDenied"
        },
        {
          "target": "com.amazonaws.cloudfront#CNAMEAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#DistributionAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"
        },
        {
          "target": "com.amazonaws.cloudfront#InconsistentQuantities"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidDefaultRootObject"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidErrorCode"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidForwardCookies"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidGeoRestrictionParameter"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidHeadersForS3Origin"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidLambdaFunctionAssociation"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidLocationCode"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidMinimumProtocolVersion"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOrigin"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOriginKeepaliveTimeout"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOriginReadTimeout"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidProtocolSettings"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidQueryStringParameters"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidRelativePath"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidRequiredProtocol"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidResponseCode"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidTagging"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidTTLOrder"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidViewerCertificate"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidWebACLId"
        },
        {
          "target": "com.amazonaws.cloudfront#MissingBody"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchCachePolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchOrigin"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchOriginRequestPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCacheBehaviors"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCertificates"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCookieNamesInWhiteList"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionCNAMEs"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributions"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionsAssociatedToCachePolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionsAssociatedToOriginRequestPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionsWithLambdaAssociations"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionsWithSingleFunctionARN"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyHeadersInForwardedValues"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyLambdaFunctionAssociations"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyOriginCustomHeaders"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyOriginGroupsPerDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyOrigins"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyQueryStringParameters"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyTrustedSigners"
        },
        {
          "target": "com.amazonaws.cloudfront#TrustedSignerDoesNotExist"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new distribution with tags.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-05-31/distribution?WithTags",
          "code": 201
        }
      }
    },
    "com.amazonaws.cloudfront#CreateDistributionWithTagsRequest": {
      "type": "structure",
      "members": {
        "DistributionConfigWithTags": {
          "target": "com.amazonaws.cloudfront#DistributionConfigWithTags",
          "traits": {
            "smithy.api#documentation": "<p>The distribution's configuration information. </p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request to create a new distribution with tags. </p>"
      }
    },
    "com.amazonaws.cloudfront#CreateDistributionWithTagsResult": {
      "type": "structure",
      "members": {
        "Distribution": {
          "target": "com.amazonaws.cloudfront#Distribution",
          "traits": {
            "smithy.api#documentation": "<p>The distribution's information. </p>",
            "smithy.api#httpPayload": {}
          }
        },
        "ETag": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the distribution created.</p>",
            "smithy.api#httpHeader": "ETag"
          }
        },
        "Location": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified URI of the new distribution resource just created.</p>",
            "smithy.api#httpHeader": "Location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The returned result of the corresponding request. </p>"
      }
    },
    "com.amazonaws.cloudfront#CreateFieldLevelEncryptionConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#CreateFieldLevelEncryptionConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudfront#CreateFieldLevelEncryptionConfigResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#FieldLevelEncryptionConfigAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#InconsistentQuantities"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchFieldLevelEncryptionProfile"
        },
        {
          "target": "com.amazonaws.cloudfront#QueryArgProfileEmpty"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyFieldLevelEncryptionConfigs"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyFieldLevelEncryptionContentTypeProfiles"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyFieldLevelEncryptionQueryArgProfiles"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new field-level encryption configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-05-31/field-level-encryption",
          "code": 201
        }
      }
    },
    "com.amazonaws.cloudfront#CreateFieldLevelEncryptionConfigRequest": {
      "type": "structure",
      "members": {
        "FieldLevelEncryptionConfig": {
          "target": "com.amazonaws.cloudfront#FieldLevelEncryptionConfig",
          "traits": {
            "smithy.api#documentation": "<p>The request to create a new field-level encryption configuration.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudfront#CreateFieldLevelEncryptionConfigResult": {
      "type": "structure",
      "members": {
        "Location": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified URI of the new configuration resource just created.</p>",
            "smithy.api#httpHeader": "Location"
          }
        },
        "ETag": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the field level encryption configuration. For example: <code>E2QWRUHAPOMQZL</code>.</p>",
            "smithy.api#httpHeader": "ETag"
          }
        },
        "FieldLevelEncryption": {
          "target": "com.amazonaws.cloudfront#FieldLevelEncryption",
          "traits": {
            "smithy.api#documentation": "<p>Returned when you create a new field-level encryption configuration.</p>",
            "smithy.api#httpPayload": {}
          }
        }
[...]
