{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.cloudtrail#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "ResourceAccessDenied",
                    "httpResponseCode": 403
                },
                "smithy.api#documentation": "<p>\n         You do not have sufficient access to perform this action.\n      </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.cloudtrail#AccountHasOngoingImportException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "AccountHasOngoingImport",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p> This exception is thrown when you start a new import and a previous import is still in\n         progress. </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.cloudtrail#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 12,
                    "max": 16
                },
                "smithy.api#pattern": "^\\d+$"
            }
        },
        "com.amazonaws.cloudtrail#AccountNotFoundException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "AccountNotFound",
                    "httpResponseCode": 404
                },
                "smithy.api#documentation": "<p>This exception is thrown when the specified account is not found or not part of an\n         organization.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.amazonaws.cloudtrail#AccountNotRegisteredException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "AccountNotRegistered",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>This exception is thrown when the specified account is not registered as the CloudTrail delegated administrator.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.cloudtrail#AccountRegisteredException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "AccountRegistered",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>This exception is thrown when the account is already registered as the CloudTrail\n         delegated administrator.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.cloudtrail#AddTags": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudtrail#AddTagsRequest"
            },
            "output": {
                "target": "com.amazonaws.cloudtrail#AddTagsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudtrail#ChannelARNInvalidException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#ChannelNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#CloudTrailARNInvalidException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#ConflictException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#EventDataStoreARNInvalidException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#EventDataStoreNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#InactiveEventDataStoreException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#InvalidTagParameterException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#InvalidTrailNameException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#NoManagementAccountSLRExistsException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#NotOrganizationMasterAccountException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#OperationNotPermittedException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#ResourceTypeNotSupportedException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#TagsLimitExceededException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#UnsupportedOperationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds one or more tags to a trail, event data store, dashboard, or channel, up to a limit of 50. Overwrites an\n         existing tag's value when a new value is specified for an existing tag key. Tag key names\n         must be unique; you cannot have two keys with the same name but different\n         values. If you specify a key without a value, the tag will be created with the specified\n         key and a value of null. You can tag a trail or event data store that applies to all\n            Amazon Web Services Regions only from the Region in which the trail or event data store\n         was created (also known as its home Region).</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.cloudtrail#AddTagsRequest": {
            "type": "structure",
            "members": {
                "ResourceId": {
                    "target": "com.amazonaws.cloudtrail#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the ARN of the trail, event data store, dashboard, or channel to which one or more tags will be\n         added.</p>\n         <p>The format of a trail ARN is:\n         <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code>\n         </p>\n         <p>The format of an event data store ARN is:\n         <code>arn:aws:cloudtrail:us-east-2:123456789012:eventdatastore/EXAMPLE-f852-4e8f-8bd1-bcf6cEXAMPLE</code>\n         </p>\n         <p>The format of a dashboard ARN is: <code>arn:aws:cloudtrail:us-east-1:123456789012:dashboard/exampleDash</code>\n         </p>\n         <p>The format of a channel ARN is:\n         <code>arn:aws:cloudtrail:us-east-2:123456789012:channel/01234567890</code>\n         </p>",
                        "smithy.api#required": {}
                    }
                },
                "TagsList": {
                    "target": "com.amazonaws.cloudtrail#TagsList",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains a list of tags, up to a limit of 50</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the tags to add to a trail, event data store, dashboard, or channel.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudtrail#AddTagsResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>Returns the objects or data if successful. Otherwise, returns an error.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.cloudtrail#AdvancedEventSelector": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.cloudtrail#SelectorName",
                    "traits": {
                        "smithy.api#documentation": "<p>An optional, descriptive name for an advanced event selector, such as \"Log data events\n         for only two S3 buckets\".</p>"
                    }
                },
                "FieldSelectors": {
                    "target": "com.amazonaws.cloudtrail#AdvancedFieldSelectors",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains all selector statements in an advanced event selector.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Advanced event selectors let you create fine-grained selectors for CloudTrail management, data, and network activity events. They help you control costs by logging only those\n         events that are important to you. For more information about configuring advanced event selectors, see\n            the <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-data-events-with-cloudtrail.html\">Logging data events</a>, <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-network-events-with-cloudtrail.html\">Logging network activity events</a>, and <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-events-with-cloudtrail.html\">Logging management events</a> topics in the <i>CloudTrail User Guide</i>.</p>\n         <p>You cannot apply both event selectors and advanced event selectors to a trail.</p>\n         <p>For information about configurable advanced event selector fields, see \n         <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/APIReference/API_AdvancedEventSelector.html\">AdvancedEventSelector</a> \n         in the <i>CloudTrail API Reference</i>.</p>"
            }
        },
        "com.amazonaws.cloudtrail#AdvancedEventSelectors": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudtrail#AdvancedEventSelector"
            }
        },
        "com.amazonaws.cloudtrail#AdvancedFieldSelector": {
            "type": "structure",
            "members": {
                "Field": {
                    "target": "com.amazonaws.cloudtrail#SelectorField",
                    "traits": {
                        "smithy.api#documentation": "<p> A field in a CloudTrail event record on which to filter events to be logged. For\n         event data stores for CloudTrail Insights events, Config configuration items, Audit Manager evidence, or events outside of Amazon Web Services, the field is used only for\n         selecting events as filtering is not supported.</p>\n         <p>For more information, see \n         <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/APIReference/API_AdvancedFieldSelector.html\">AdvancedFieldSelector</a> \n         in the <i>CloudTrail API Reference</i>.</p>\n         <note>\n            <p>Selectors don't support the use of wildcards like <code>*</code> . To match multiple values with a single condition, \n            you may use <code>StartsWith</code>, <code>EndsWith</code>, <code>NotStartsWith</code>, or <code>NotEndsWith</code> to explicitly match the beginning or end of the event field.</p>\n         </note>",
                        "smithy.api#required": {}
                    }
                },
                "Equals": {
                    "target": "com.amazonaws.cloudtrail#Operator",
                    "traits": {
                        "smithy.api#documentation": "<p> An operator that includes events that match the exact value of the event record field\n         specified as the value of <code>Field</code>. This is the only valid operator that you can\n         use with the <code>readOnly</code>, <code>eventCategory</code>, and\n            <code>resources.type</code> fields.</p>"
                    }
                },
                "StartsWith": {
                    "target": "com.amazonaws.cloudtrail#Operator",
                    "traits": {
                        "smithy.api#documentation": "<p>An operator that includes events that match the first few characters of the event record\n         field specified as the value of <code>Field</code>.</p>"
                    }
                },
                "EndsWith": {
                    "target": "com.amazonaws.cloudtrail#Operator",
                    "traits": {
                        "smithy.api#documentation": "<p>An operator that includes events that match the last few characters of the event record\n         field specified as the value of <code>Field</code>.</p>"
                    }
                },
                "NotEquals": {
                    "target": "com.amazonaws.cloudtrail#Operator",
                    "traits": {
                        "smithy.api#documentation": "<p> An operator that excludes events that match the exact value of the event record field\n         specified as the value of <code>Field</code>. </p>"
                    }
                },
                "NotStartsWith": {
                    "target": "com.amazonaws.cloudtrail#Operator",
                    "traits": {
                        "smithy.api#documentation": "<p> An operator that excludes events that match the first few characters of the event\n         record field specified as the value of <code>Field</code>. </p>"
                    }
                },
                "NotEndsWith": {
                    "target": "com.amazonaws.cloudtrail#Operator",
                    "traits": {
                        "smithy.api#documentation": "<p> An operator that excludes events that match the last few characters of the event record\n         field specified as the value of <code>Field</code>. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A single selector statement in an advanced event selector.</p>"
            }
        },
        "com.amazonaws.cloudtrail#AdvancedFieldSelectors": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudtrail#AdvancedFieldSelector"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.cloudtrail#BillingMode": {
            "type": "enum",
            "members": {
                "EXTENDABLE_RETENTION_PRICING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EXTENDABLE_RETENTION_PRICING"
                    }
                },
                "FIXED_RETENTION_PRICING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FIXED_RETENTION_PRICING"
                    }
                }
            }
        },
        "com.amazonaws.cloudtrail#Boolean": {
            "type": "boolean"
        },
        "com.amazonaws.cloudtrail#ByteBuffer": {
            "type": "blob"
        },
        "com.amazonaws.cloudtrail#CancelQuery": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudtrail#CancelQueryRequest"
            },
            "output": {
                "target": "com.amazonaws.cloudtrail#CancelQueryResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudtrail#ConflictException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#EventDataStoreARNInvalidException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#EventDataStoreNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#InactiveEventDataStoreException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#InactiveQueryException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#NoManagementAccountSLRExistsException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#OperationNotPermittedException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#QueryIdNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudtrail#UnsupportedOperationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a query if the query is not in a terminated state, such as\n            <code>CANCELLED</code>, <code>FAILED</code>, <code>TIMED_OUT</code>, or\n            <code>FINISHED</code>. You must specify an ARN value for <code>EventDataStore</code>.\n         The ID of the query that you want to cancel is also required. When you run\n            <code>CancelQuery</code>, the query status might show as <code>CANCELLED</code> even if\n         the operation is not yet finished.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.cloudtrail#CancelQueryRequest": {
            "type": "structure",
            "members": {
                "EventDataStore": {
                    "target": "com.amazonaws.cloudtrail#EventDataStoreArn",
                    "traits": {
                        "smithy.api#deprecated": {
                            "message": "EventDataStore is no longer required by CancelQueryRequest"
                        },
                        "smithy.api#documentation": "<p>The ARN (or the ID suffix of the ARN) of an event data store on which the specified\n         query is running.</p>"
                    }
                },
                "QueryId": {
                    "target": "com.amazonaws.cloudtrail#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the query that you want to cancel. The <code>QueryId</code> comes from the\n         response of a <code>StartQuery</code> operation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventDataStoreOwnerAccountId": {
                    "target": "com.amazonaws.cloudtrail#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>\nThe account ID of the event data store owner.\n</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudtrail#CancelQueryResponse": {
            "type": "structure",
            "members": {
                "QueryId": {
                    "target": "com.amazonaws.cloudtrail#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the canceled query.</p>",
                        "smithy.api#required": {}
                    }
                },
                "QueryStatus": {
                    "target": "com.amazonaws.cloudtrail#QueryStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Shows the status of a query after a <code>CancelQuery</code> request. Typically, the\n         values shown are either <code>RUNNING</code> or <code>CANCELLED</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventDataStoreOwnerAccountId": {
                    "target": "com.amazonaws.cloudtrail#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>\n   The account ID of the event data store owner.\n</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.cloudtrail#CannotDelegateManagementAccountException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "CannotDelegateManagementAccount",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>This exception is thrown when the management account of an organization is registered as\n         the CloudTrail delegated administrator.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.cloudtrail#Channel": {
            "type": "structure",
            "members": {
                "ChannelArn": {
                    "target": "com.amazonaws.cloudtrail#ChannelArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a channel.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.cloudtrail#ChannelName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the CloudTrail channel. For service-linked channels, the name is\n            <code>aws-service-channel/service-name/custom-suffix</code> where\n            <code>service-name</code> represents the name of the Amazon Web Services service that\n         created the channel and <code>custom-suffix</code> represents the suffix created by the\n            Amazon Web Services service. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about a returned CloudTrail channel.</p>"
            }
        },
        "com.amazonaws.cloudtrail#ChannelARNInvalidException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "ChannelARNInvalid",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>This exception is thrown when the specified value of <code>ChannelARN</code> is not\n         valid.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.cloudtrail#ChannelAlreadyExistsException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "ChannelAlreadyExists",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>\n         This exception is thrown when the provided channel already exists.\n      </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.cloudtrail#ChannelArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 3,
                    "max": 256
                },
                "smithy.api#pattern": "^[a-zA-Z0-9._/\\-:]+$"
            }
        },
        "com.amazonaws.cloudtrail#ChannelExistsForEDSException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "ChannelExistsForEDS",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>This exception is thrown when the specified event data store cannot yet be deleted because it \n         is in use by a channel.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.cloudtrail#ChannelMaxLimitExceededException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "ChannelMaxLimitExceeded",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>\n         This exception is thrown when the maximum number of channels limit is exceeded.\n      </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.cloudtrail#ChannelName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 3,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9._\\-]+$"
            }
        },
        "com.amazonaws.cloudtrail#ChannelNotFoundException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "ChannelNotFound",
                    "httpResponseCode": 404
                },
                "smithy.api#documentation": "<p>This exception is thrown when CloudTrail cannot find the specified channel.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.amazonaws.cloudtrail#Channels": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudtrail#Channel"
            }
        },
        "com.amazonaws.cloudtrail#CloudTrailARNInvalidException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "CloudTrailARNInvalid",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>This exception is thrown when an operation is called with an ARN that is not valid.</p>\n         <p>The following is the format of a trail ARN: <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code>\n         </p>\n         <p>The following is the format of an event data store ARN:\n         <code>arn:aws:cloudtrail:us-east-2:123456789012:eventdatastore/EXAMPLE-f852-4e8f-8bd1-bcf6cEXAMPLE</code>\n         </p>\n         <p>The following is the format of a dashboard ARN: <code>arn:aws:cloudtrail:us-east-1:123456789012:dashboard/exampleDash</code>\n         </p>\n         <p>The following is the format of a channel ARN:\n         <code>arn:aws:cloudtrail:us-east-2:123456789012:channel/01234567890</code>\n         </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.cloudtrail#CloudTrailAccessNotEnabledException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "CloudTrailAccessNotEnabled",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>This exception is thrown when trusted access has not been enabled between CloudTrail and Organizations. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html#orgs_how-to-enable-disable-trusted-access\">How to enable or disable trusted access</a> in the <i>Organizations User Guide</i> and <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/creating-an-organizational-trail-prepare.html\">Prepare For Creating a Trail For Your Organization</a> in the <i>CloudTrail User Guide</i>.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.cloudtrail#CloudTrailInvalidClientTokenIdException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "CloudTrailInvalidClientTokenId",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>This exception is thrown when a call results in the <code>InvalidClientTokenId</code>\n         error code. This can occur when you are creating or updating a trail to send notifications\n         to an Amazon SNS topic that is in a suspended Amazon Web Services account.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.cloudtrail#CloudTrail_20131101": {
            "type": "service",
            "version": "2013-11-01",
            "operations": [
                {
                    "target": "com.amazonaws.cloudtrail#AddTags"
                },
                {
                    "target": "com.amazonaws.cloudtrail#CancelQuery"
                },
                {
                    "target": "com.amazonaws.cloudtrail#CreateChannel"
                },
                {
                    "target": "com.amazonaws.cloudtrail#CreateDashboard"
                },
                {
                    "target": "com.amazonaws.cloudtrail#CreateEventDataStore"
                },
                {
                    "target": "com.amazonaws.cloudtrail#CreateTrail"
                },
                {
                    "target": "com.amazonaws.cloudtrail#DeleteChannel"
                },
                {
                    "target": "com.amazonaws.cloudtrail#DeleteDashboard"
                },
                {
                    "target": "com.amazonaws.cloudtrail#DeleteEventDataStore"
                },
                {
                    "target": "com.amazonaws.cloudtrail#DeleteResourcePolicy"
                },
                {
                    "target": "com.amazonaws.cloudtrail#DeleteTrail"
                },
                {
                    "target": "com.amazonaws.cloudtrail#DeregisterOrganizationDelegatedAdmin"
                },
                {
                    "target": "com.amazonaws.cloudtrail#DescribeQuery"
                },
                {
                    "target": "com.amazonaws.cloudtrail#DescribeTrails"
                },
                {
                    "target": "com.amazonaws.cloudtrail#DisableFederation"
                },
                {
                    "target": "com.amazonaws.cloudtrail#EnableFederation"
                },
                {
                    "target": "com.amazonaws.cloudtrail#GenerateQuery"
                },
                {
                    "target": "com.amazonaws.cloudtrail#GetChannel"
                },
                {
                    "target": "com.amazonaws.cloudtrail#GetDashboard"
                },
                {
                    "target": "com.amazonaws.cloudtrail#GetEventConfiguration"
                },
                {
                    "target": "com.amazonaws.cloudtrail#GetEventDataStore"
                },
                {
                    "target": "com.amazonaws.cloudtrail#GetEventSelectors"
                },
                {
                    "target": "com.amazonaws.cloudtrail#GetImport"
                },
                {
                    "target": "com.amazonaws.cloudtrail#GetInsightSelectors"
                },
                {
                    "target": "com.amazonaws.cloudtrail#GetQueryResults"
                },
                {
                    "target": "com.amazonaws.cloudtrail#GetResourcePolicy"
                },
                {
                    "target": "com.amazonaws.cloudtrail#GetTrail"
                },
                {
                    "target": "com.amazonaws.cloudtrail#GetTrailStatus"
                },
                {
                    "target": "com.amazonaws.cloudtrail#ListChannels"
                },
                {
                    "target": "com.amazonaws.cloudtrail#ListDashboards"
                },
                {
                    "target": "com.amazonaws.cloudtrail#ListEventDataStores"
                },
                {
                    "target": "com.amazonaws.cloudtrail#ListImportFailures"
                },
                {
                    "target": "com.amazonaws.cloudtrail#ListImports"
                },
                {
                    "target": "com.amazonaws.cloudtrail#ListInsightsMetricData"
                },
                {
                    "target": "com.amazonaws.cloudtrail#ListPublicKeys"
                },
                {
                    "target": "com.amazonaws.cloudtrail#ListQueries"
                },
                {
                    "target": "com.amazonaws.cloudtrail#ListTags"
                },
                {
                    "target": "com.amazonaws.cloudtrail#ListTrails"
                },
                {
                    "target": "com.amazonaws.cloudtrail#LookupEvents"
                },
                {
                    "target": "com.amazonaws.cloudtrail#PutEventConfiguration"
                },
                {
                    "target": "com.amazonaws.cloudtrail#PutEventSelectors"
                },
                {
                    "target": "com.amazonaws.cloudtrail#PutInsightSelectors"
                },
                {
                    "target": "com.amazonaws.cloudtrail#PutResourcePolicy"
                },
                {
                    "target": "com.amazonaws.cloudtrail#RegisterOrganizationDelegatedAdmin"
                },
                {
                    "target": "com.amazonaws.cloudtrail#RemoveTags"
                },
                {
                    "target": "com.amazonaws.cloudtrail#RestoreEventDataStore"
                },
                {
                    "target": "com.amazonaws.cloudtrail#SearchSampleQueries"
                },
                {
                    "target": "com.amazonaws.cloudtrail#StartDashboardRefresh"
                },
                {
                    "target": "com.amazonaws.cloudtrail#StartEventDataStoreIngestion"
                },
                {
                    "target": "com.amazonaws.cloudtrail#StartImport"
                },
                {
                    "target": "com.amazonaws.cloudtrail#StartLogging"
                },
                {
                    "target": "com.amazonaws.cloudtrail#StartQuery"
                },
                {
                    "target": "com.amazonaws.cloudtrail#StopEventDataStoreIngestion"
                },
                {
                    "target": "com.amazonaws.cloudtrail#StopImport"
                },
                {
                    "target": "com.amazonaws.cloudtrail#StopLogging"
                },
                {
                    "target": "com.amazonaws.cloudtrail#UpdateChannel"
                },
                {
                    "target": "com.amazonaws.cloudtrail#UpdateDashboard"
                },
                {
                    "target": "com.amazonaws.cloudtrail#UpdateEventDataStore"
                },
                {
                    "target": "com.amazonaws.cloudtrail#UpdateTrail"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "CloudTrail",
                    "arnNamespace": "cloudtrail",
                    "cloudFormationName": "CloudTrail",
                    "cloudTrailEventSource": "cloudtrail.amazonaws.com",
                    "endpointPrefix": "cloudtrail"
                },
                "aws.auth#sigv4": {
                    "name": "cloudtrail"
                },
                "aws.protocols#awsJson1_1": {},
                "smithy.api#documentation": "<fullname>CloudTrail</fullname>\n         <p>This is the CloudTrail API Reference. It provides descriptions of actions, data\n         types, common parameters, and common errors for CloudTrail.</p>\n         <p>CloudTrail is a web service that records Amazon Web Services API calls for your\n            Amazon Web Services account and delivers log files to an Amazon S3 bucket. The\n         recorded information includes the identity of the user, the start time of the Amazon Web Services API call, the source IP address, the request parameters, and the response\n         elements returned by the service.</p>\n         <note>\n            <p>As an alternative to the API, you can use one of the Amazon Web Services SDKs, which\n            consist of libraries and sample code for various programming languages and platforms\n            (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide programmatic access to CloudTrail. For example, the SDKs handle cryptographically signing requests,\n            managing errors, and retrying requests automatically. For more information about the\n               Amazon Web Services SDKs, including how to download and install them, see <a href=\"http://aws.amazon.com/tools/\">Tools to Build on Amazon Web Services</a>.</p>\n         </note>\n         <p>See the <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-user-guide.html\">CloudTrail\n         User Guide</a> for information about the data that is included with each Amazon Web Services API call listed in the log files.</p>",
                "smithy.api#title": "AWS CloudTrail",
                "smithy.api#xmlNamespace": {
                    "uri": "http://cloudtrail.amazonaws.com/doc/2013-11-01/"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://cloudtrail-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "stringEquals",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "Region"
                                                                        },
                                                                        "us-gov-east-1"
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://cloudtrail.us-gov-east-1.amazonaws.com",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "stringEquals",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "Region"
                                                                        },
                                                                        "us-gov-west-1"
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://cloudtrail.us-gov-west-1.amazonaws.com",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://cloudtrail-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://cloudtrail.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://cloudtrail.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "af-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.ap-southeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "me-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail-fips.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail-fips.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail-fips.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.cn-northwest-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.us-iso-west-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudtrail-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.cloudtrail#CloudWatchLogsDeliveryUnavailableException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "CloudWatchLogsDeliveryUnavailable",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>Cannot set a CloudWatch Logs delivery for this Region.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.cloudtrail#ConcurrentModificationException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "ConcurrentModification",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>\n         You are trying to update a resource when another request is in progress. Allow sufficient wait time for the previous request to complete, then retry your request. \n      </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.cloudtrail#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.cloudtrail#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "ConflictException",
                    "httpResponseCode": 409
                },
                "smithy.api#documentation": "<p>This exception is thrown when the specified resource is not ready for an operation. This\n         can occur when you try to run an operation on a resource before CloudTrail has time\n         to fully load the resource, or because another operation is modifying the resource. If this exception occurs, wait a few minutes, and then try the\n         operation again.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.cloudtrail#ContextKeySelector": {
            "type": "structure",
            "members": {
                "Type": {
                    "target": "com.amazonaws.cloudtrail#Type",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the type of the event record field in ContextKeySelector. Valid values include RequestContext, TagContext.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Equals": {
                    "target": "com.amazonaws.cloudtrail#OperatorTargetList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of keys defined by Type to be included in CloudTrail enriched events. </p>",
[...]
