{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.cloudwatchomni#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The caller is not authorized to perform this action.",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.cloudwatchomni#AccessGrant": {
            "type": "structure",
            "members": {
                "grantId": {
                    "target": "com.amazonaws.cloudwatchomni#GrantId",
                    "traits": {
                        "smithy.api#documentation": "The unique ID of the access grant.",
                        "smithy.api#required": {}
                    }
                },
                "grantArn": {
                    "target": "com.amazonaws.cloudwatchomni#Arn",
                    "traits": {
                        "smithy.api#documentation": "The Amazon Resource Name (ARN) of the access grant.",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A name that identifies the access grant.",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 64
                        },
                        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
                    }
                },
                "accountId": {
                    "target": "com.amazonaws.cloudwatchomni#AccountId",
                    "traits": {
                        "smithy.api#documentation": "The AWS account ID that owns the grant.",
                        "smithy.api#required": {}
                    }
                },
                "domainId": {
                    "target": "com.amazonaws.cloudwatchomni#DomainId",
                    "traits": {
                        "smithy.api#documentation": "The ID of the domain the grant belongs to.",
                        "smithy.api#required": {}
                    }
                },
                "principal": {
                    "target": "com.amazonaws.cloudwatchomni#AccessGrantPrincipal",
                    "traits": {
                        "smithy.api#documentation": "The principal receiving the grant.",
                        "smithy.api#required": {}
                    }
                },
                "permission": {
                    "target": "com.amazonaws.cloudwatchomni#AccessGrantPermission",
                    "traits": {
                        "smithy.api#documentation": "The permission granted.",
                        "smithy.api#required": {}
                    }
                },
                "grantType": {
                    "target": "com.amazonaws.cloudwatchomni#AccessGrantType",
                    "traits": {
                        "smithy.api#documentation": "Who manages the grant.",
                        "smithy.api#required": {}
                    }
                },
                "createdBy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The principal that created the grant.",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "The timestamp when the grant was created.",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "The timestamp when the grant was last updated.",
                        "smithy.api#required": {}
                    }
                },
                "spaceId": {
                    "target": "com.amazonaws.cloudwatchomni#SpaceId",
                    "traits": {
                        "smithy.api#documentation": "The space this grant applies to. Domain-scoped grants are returned by\nListDomainAccessGrantsForOrganization instead.",
                        "smithy.api#required": {}
                    }
                },
                "scopedActions": {
                    "target": "com.amazonaws.cloudwatchomni#ScopedActionsList",
                    "traits": {
                        "smithy.api#documentation": "Groups of actions allowed by the grant, each with the resource scopes and\nconditions that limit those actions."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Full AccessGrant structure returned by API operations."
            }
        },
        "com.amazonaws.cloudwatchomni#AccessGrantPermission": {
            "type": "enum",
            "members": {
                "SPACE_ADMIN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Can manage grants within the space but cannot create spaces.",
                        "smithy.api#enumValue": "SPACE_ADMIN"
                    }
                },
                "READ": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Read access.",
                        "smithy.api#enumValue": "READ"
                    }
                },
                "READ_WRITE_DELETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Read, write, and delete access.",
                        "smithy.api#enumValue": "READ_WRITE_DELETE"
                    }
                },
                "CUSTOM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Access limited to an explicit list of actions, specified in scopedActions.",
                        "smithy.api#enumValue": "CUSTOM"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Permission levels for AccessGrants. SPACE_ADMIN can manage grants within a\nspace but cannot create spaces."
            }
        },
        "com.amazonaws.cloudwatchomni#AccessGrantPrincipal": {
            "type": "structure",
            "members": {
                "principalType": {
                    "target": "com.amazonaws.cloudwatchomni#AccessGrantPrincipalType",
                    "traits": {
                        "smithy.api#documentation": "The type of principal receiving the grant.",
                        "smithy.api#required": {}
                    }
                },
                "principalId": {
                    "target": "com.amazonaws.cloudwatchomni#PrincipalId",
                    "traits": {
                        "smithy.api#documentation": "The ID of the principal receiving the grant."
                    }
                },
                "principalAttributes": {
                    "target": "com.amazonaws.cloudwatchomni#AccessGrantPrincipalAttributeList",
                    "traits": {
                        "smithy.api#documentation": "Attribute conditions for attribute-based access. When provided, the grant\ntargets any principal matching all specified conditions. Supported only for\nIDC_USER principals."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The principal receiving the grant. Specify principalId, principalAttributes,\nor both."
            }
        },
        "com.amazonaws.cloudwatchomni#AccessGrantPrincipalAttribute": {
            "type": "structure",
            "members": {
                "key": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The Identity Center user attribute to match on. One of userName, active,\nuserStatus, displayName, email, name.givenName, name.familyName,\nenterprise.department, enterprise.division, enterprise.organization,\nenterprise.costCenter, or enterprise.employeeNumber. Each key may appear\nonly once per grant.",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        },
                        "smithy.api#required": {}
                    }
                },
                "value": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The attribute value.",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 512
                        },
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A single attribute condition used to match principals for attribute-based\naccess."
            }
        },
        "com.amazonaws.cloudwatchomni#AccessGrantPrincipalAttributeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudwatchomni#AccessGrantPrincipalAttribute"
            },
            "traits": {
                "smithy.api#documentation": "List of principal attribute conditions.",
                "smithy.api#length": {
                    "max": 10
                }
            }
        },
        "com.amazonaws.cloudwatchomni#AccessGrantPrincipalType": {
            "type": "enum",
            "members": {
                "IDC_USER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An Identity Center user.",
                        "smithy.api#enumValue": "IDC_USER"
                    }
                },
                "IDC_GROUP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An Identity Center group.",
                        "smithy.api#enumValue": "IDC_GROUP"
                    }
                },
                "IAM_USER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An IAM user.",
                        "smithy.api#enumValue": "IAM_USER"
                    }
                },
                "IAM_ROLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An IAM role.",
                        "smithy.api#enumValue": "IAM_ROLE"
                    }
                },
                "IAM_ROOT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An AWS account root principal.",
                        "smithy.api#enumValue": "IAM_ROOT"
                    }
                },
                "ACCESS_PROFILE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An access profile.",
                        "smithy.api#enumValue": "ACCESS_PROFILE"
                    }
                },
                "ALERT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An alert.",
                        "smithy.api#enumValue": "ALERT"
                    }
                },
                "AGENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "An agent workload principal.",
                        "smithy.api#enumValue": "AGENT"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Type of principal receiving the grant."
            }
        },
        "com.amazonaws.cloudwatchomni#AccessGrantSummary": {
            "type": "structure",
            "members": {
                "grantId": {
                    "target": "com.amazonaws.cloudwatchomni#GrantId",
                    "traits": {
                        "smithy.api#documentation": "The unique ID of the access grant.",
                        "smithy.api#required": {}
                    }
                },
                "grantArn": {
                    "target": "com.amazonaws.cloudwatchomni#Arn",
                    "traits": {
                        "smithy.api#documentation": "The Amazon Resource Name (ARN) of the access grant.",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A name that identifies the access grant.",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 64
                        },
                        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
                    }
                },
                "domainId": {
                    "target": "com.amazonaws.cloudwatchomni#DomainId",
                    "traits": {
                        "smithy.api#documentation": "The ID of the domain the grant belongs to.",
                        "smithy.api#required": {}
                    }
                },
                "principal": {
                    "target": "com.amazonaws.cloudwatchomni#AccessGrantPrincipal",
                    "traits": {
                        "smithy.api#documentation": "The principal receiving the grant.",
                        "smithy.api#required": {}
                    }
                },
                "permission": {
                    "target": "com.amazonaws.cloudwatchomni#AccessGrantPermission",
                    "traits": {
                        "smithy.api#documentation": "The permission granted.",
                        "smithy.api#required": {}
                    }
                },
                "grantType": {
                    "target": "com.amazonaws.cloudwatchomni#AccessGrantType",
                    "traits": {
                        "smithy.api#documentation": "Who manages the grant.",
                        "smithy.api#required": {}
                    }
                },
                "spaceId": {
                    "target": "com.amazonaws.cloudwatchomni#SpaceId",
                    "traits": {
                        "smithy.api#documentation": "The space this grant applies to. Domain-scoped grants are returned by\nListDomainAccessGrantsForOrganization instead.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Summary of an AccessGrant. Call GetAccessGrant for the full grant."
            }
        },
        "com.amazonaws.cloudwatchomni#AccessGrantSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudwatchomni#AccessGrantSummary"
            },
            "traits": {
                "smithy.api#documentation": "List of AccessGrant summaries."
            }
        },
        "com.amazonaws.cloudwatchomni#AccessGrantType": {
            "type": "enum",
            "members": {
                "SERVICE_MANAGED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Provisioned and owned by the service. Cannot be deleted by customers.",
                        "smithy.api#enumValue": "SERVICE_MANAGED"
                    }
                },
                "CUSTOMER_MANAGED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Created and owned by a customer.",
                        "smithy.api#enumValue": "CUSTOMER_MANAGED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Who manages an access grant."
            }
        },
        "com.amazonaws.cloudwatchomni#AccessKeyId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "An AWS access key ID.",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.cloudwatchomni#AccessProfile": {
            "type": "structure",
            "members": {
                "profileId": {
                    "target": "com.amazonaws.cloudwatchomni#ProfileId",
                    "traits": {
                        "smithy.api#documentation": "The unique ID of the access profile.",
                        "smithy.api#required": {}
                    }
                },
                "spaceId": {
                    "target": "com.amazonaws.cloudwatchomni#SpaceId",
                    "traits": {
                        "smithy.api#documentation": "The ID of the space the profile belongs to.",
                        "smithy.api#required": {}
                    }
                },
                "arn": {
                    "target": "com.amazonaws.cloudwatchomni#Arn",
                    "traits": {
                        "smithy.api#documentation": "The ARN of this access profile.",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A name that identifies the access profile.",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "An optional description of the access profile."
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "The timestamp when the access profile was created.",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "The timestamp when the access profile was last updated.",
                        "smithy.api#required": {}
                    }
                },
                "assumeStatus": {
                    "target": "com.amazonaws.cloudwatchomni#AssumeStatus",
                    "traits": {
                        "smithy.api#documentation": "The calling principal's authorization to assume this access profile."
                    }
                },
                "profileType": {
                    "target": "com.amazonaws.cloudwatchomni#AccessProfileType",
                    "traits": {
                        "smithy.api#documentation": "Who manages the access profile."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "An Access Profile."
            }
        },
        "com.amazonaws.cloudwatchomni#AccessProfileName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "A name that identifies an access profile. Must be 1-256 characters: letters,\nnumbers, spaces, and the characters _ . : / = + @ -",
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^[a-zA-Z0-9 _.:/=+@-]+$"
            }
        },
        "com.amazonaws.cloudwatchomni#AccessProfileSummary": {
            "type": "structure",
            "members": {
                "profileId": {
                    "target": "com.amazonaws.cloudwatchomni#ProfileId",
                    "traits": {
                        "smithy.api#documentation": "The unique ID of the access profile.",
                        "smithy.api#required": {}
                    }
                },
                "arn": {
                    "target": "com.amazonaws.cloudwatchomni#Arn",
                    "traits": {
                        "smithy.api#documentation": "The ARN of this access profile.",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A name that identifies the access profile.",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "An optional description of the access profile."
                    }
                },
                "profileType": {
                    "target": "com.amazonaws.cloudwatchomni#AccessProfileType",
                    "traits": {
                        "smithy.api#documentation": "Who manages the access profile."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Summary of an access profile. Call GetAccessProfile for the full profile."
            }
        },
        "com.amazonaws.cloudwatchomni#AccessProfileSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudwatchomni#AccessProfileSummary"
            },
            "traits": {
                "smithy.api#documentation": "List of Access Profile summaries."
            }
        },
        "com.amazonaws.cloudwatchomni#AccessProfileType": {
            "type": "enum",
            "members": {
                "SERVICE_MANAGED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Provisioned and owned by the service. Cannot be deleted by customers.",
                        "smithy.api#enumValue": "SERVICE_MANAGED"
                    }
                },
                "CUSTOMER_MANAGED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Created and owned by a customer.",
                        "smithy.api#enumValue": "CUSTOMER_MANAGED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Who manages an access profile."
            }
        },
        "com.amazonaws.cloudwatchomni#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "12-digit AWS account id.",
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "^[0-9]{12}$"
            }
        },
        "com.amazonaws.cloudwatchomni#Alert": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The name of the alert.",
                        "smithy.api#required": {}
                    }
                },
                "alertId": {
                    "target": "com.amazonaws.cloudwatchomni#AlertId",
                    "traits": {
                        "smithy.api#documentation": "The stable alert identifier (see {@link AlertId}), minted on create and\nimmutable across updates. Use it (not {@code name}) to address the alert\non GetAlert/UpdateAlert/DeleteAlert; it is also the ARN's resource id."
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "An optional description of the alert."
                    }
                },
                "accountId": {
                    "target": "com.amazonaws.cloudwatchomni#AccountId",
                    "traits": {
                        "smithy.api#documentation": "The AWS account ID that owns the alert.",
                        "smithy.api#required": {}
                    }
                },
                "spaceId": {
                    "target": "com.amazonaws.cloudwatchomni#SpaceId",
                    "traits": {
                        "smithy.api#documentation": "The ID of the space the alert belongs to."
                    }
                },
                "profileId": {
                    "target": "com.amazonaws.cloudwatchomni#ProfileId",
                    "traits": {
                        "smithy.api#documentation": "The ID of the access profile associated with the alert."
                    }
                },
                "rule": {
                    "target": "com.amazonaws.cloudwatchomni#Rule",
                    "traits": {
                        "smithy.api#documentation": "The rule that defines how the alert is evaluated.",
                        "smithy.api#required": {}
                    }
                },
                "notificationStatus": {
                    "target": "com.amazonaws.cloudwatchomni#NotificationStatus",
                    "traits": {
                        "smithy.api#documentation": "Whether notifications are enabled."
                    }
                },
                "state": {
                    "target": "com.amazonaws.cloudwatchomni#AlertStateInfo",
                    "traits": {
                        "smithy.api#documentation": "Live evaluation state (read-only, system-managed). Populated by GetAlert. ListAlerts\nreports state on `AlertSummary` instead, where it stays required.\n\nAbsent on CreateAlert: a newly created alert has never been evaluated, so any state\nreported there would be a default rather than an observation. Call GetAlert for live\nstate. Not @required for that reason — GetAlert always populates it.\n\n`contributorSummary` is nested inside this member, so it too is absent on CreateAlert."
                    }
                },
                "notificationRules": {
                    "target": "com.amazonaws.cloudwatchomni#NotificationRuleList",
                    "traits": {
                        "smithy.api#documentation": "The notification rules for the alert."
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "The timestamp when the alert was created.",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "The timestamp when the alert was last updated.",
                        "smithy.api#required": {}
                    }
                },
                "alertArn": {
                    "target": "com.amazonaws.cloudwatchomni#Arn",
                    "traits": {
                        "smithy.api#documentation": "The Amazon Resource Name (ARN) of the alert.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Full alert entity, returned by both CreateAlert and GetAlert. A create and a read of the\nsame alert describe it identically except for {@code state}, which only the read paths\npopulate. UpdateAlert returns an empty response."
            }
        },
        "com.amazonaws.cloudwatchomni#AlertCondition": {
            "type": "structure",
            "members": {
                "thresholdMode": {
                    "target": "com.amazonaws.cloudwatchomni#ThresholdMode",
                    "traits": {
                        "smithy.api#documentation": "How the threshold is applied to query results."
                    }
                },
                "thresholdField": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The field the threshold is evaluated against.",
                        "smithy.api#length": {
                            "max": 256
                        }
                    }
                },
                "comparator": {
                    "target": "com.amazonaws.cloudwatchomni#Comparator",
                    "traits": {
                        "smithy.api#documentation": "The comparison operator applied to the threshold."
                    }
                },
                "warningThreshold": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "The value at which the alert enters the WARNING state."
                    }
                },
                "criticalThreshold": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "The value at which the alert enters the CRITICAL state."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The condition that determines when the alert fires.\n\nOn UpdateAlert a supplied condition is replaced whole, not merged: an omitted\n{@code warningThreshold} or {@code criticalThreshold} removes that tier, and an\nomitted {@code thresholdField} clears it. A condition must keep at least one\ntier. {@code thresholdMode} and {@code comparator} are optional at the Smithy\nlevel (so a single-tier condition is expressible) but are required whenever a\nthreshold is present; enforced by the service-side validator."
            }
        },
        "com.amazonaws.cloudwatchomni#AlertEvaluation": {
            "type": "structure",
            "members": {
                "intervalSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "The interval between evaluations, in seconds.",
                        "smithy.api#required": {}
                    }
                },
                "pendingDurationSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "The duration a breach must persist before the alert fires, in seconds."
                    }
                },
                "recoveryDurationSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "The duration a recovery must persist before the alert clears, in seconds."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Evaluation cadence. {@code intervalSeconds} must be one of\n{30, 60, 120, 300, 600, 900, 1800, 3600}; {@code pendingDurationSeconds} and\n{@code recoveryDurationSeconds} must be multiples of {@code intervalSeconds}.\nA duration of 0 means fire/clear immediately with no delay.\n\nOn UpdateAlert a supplied evaluation block is replaced whole, not merged: an\nomitted {@code pendingDurationSeconds} or {@code recoveryDurationSeconds} is\ncleared to unset (no such duration), not preserved and not defaulted to 0.\n{@code intervalSeconds} is required whenever the block is present. All enforced\nserver-side / by the front-door validator."
            }
        },
        "com.amazonaws.cloudwatchomni#AlertFilterCriteria": {
            "type": "structure",
            "members": {
                "names": {
                    "target": "com.amazonaws.cloudwatchomni#AlertNameFilterList",
                    "traits": {
                        "smithy.api#documentation": "Filter to alerts whose name exactly matches any entry (OR semantics).\nMutually exclusive with {@code namePrefix} and {@code ids}."
                    }
                },
                "namePrefix": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Filter to alerts whose name starts with this prefix. Mutually exclusive\nwith {@code names} and {@code ids}.",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 256
                        },
                        "smithy.api#pattern": "^[a-zA-Z0-9_.@~()-]+$"
                    }
                },
                "ids": {
                    "target": "com.amazonaws.cloudwatchomni#AlertIdFilterList",
                    "traits": {
                        "smithy.api#documentation": "Filter to alerts whose {@link AlertId} exactly matches any entry (OR\nsemantics). Mutually exclusive with {@code names} and {@code namePrefix}."
                    }
                },
                "stateValue": {
                    "target": "com.amazonaws.cloudwatchomni#AlertStateList",
                    "traits": {
                        "smithy.api#documentation": "Filter to alerts currently in any of these states (OR semantics)."
                    }
                },
                "notificationsEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Filter to alerts by whether notifications are enabled."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Filter criteria for ListAlerts. All members are optional; each omitted\nmember is unconstrained. At most one of {@code names}, {@code namePrefix},\n{@code ids} may be provided (mutually exclusive; the service rejects more\nthan one). The remaining members combine with AND."
            }
        },
        "com.amazonaws.cloudwatchomni#AlertId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The stable alert identifier: a 32-character lowercase hex uuid, minted by the\nbackend on create and immutable across updates.\n\nIt deliberately carries no name, so that a future rename cannot change an\nalert's identity and break the ARNs, saved links and IAM policies pointing at\nit. Use {@code name} to display an alert and {@code alertId} to address one.",
                "smithy.api#length": {
                    "min": 32,
                    "max": 32
                },
                "smithy.api#pattern": "^[0-9a-f]{32}$"
            }
        },
        "com.amazonaws.cloudwatchomni#AlertIdFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudwatchomni#AlertId"
            },
            "traits": {
                "smithy.api#documentation": "Exact alertId match list. Members reuse the {@link AlertId} type so the\ncharset/cap stay in sync with it.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                }
            }
        },
        "com.amazonaws.cloudwatchomni#AlertNameFilterList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "min": 1,
                        "max": 256
                    },
                    "smithy.api#pattern": "^[a-zA-Z0-9_.@~()-]+$"
                }
            },
            "traits": {
                "smithy.api#documentation": "List of exact alert names to filter by.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                }
            }
        },
        "com.amazonaws.cloudwatchomni#AlertRuleQuery": {
            "type": "structure",
            "members": {
                "language": {
                    "target": "com.amazonaws.cloudwatchomni#QueryLanguage",
                    "traits": {
                        "smithy.api#documentation": "The query language of the expression.",
                        "smithy.api#required": {}
                    }
                },
                "expression": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The query expression to evaluate.",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 10000
                        },
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Query expression and the language it's written in."
            }
        },
        "com.amazonaws.cloudwatchomni#AlertSortField": {
            "type": "enum",
            "members": {
                "NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Sort by alert name.",
                        "smithy.api#enumValue": "NAME"
                    }
                },
                "STATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Sort by alert state.",
                        "smithy.api#enumValue": "STATE"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Field by which alerts can be sorted."
            }
        },
        "com.amazonaws.cloudwatchomni#AlertSortOrder": {
            "type": "enum",
            "members": {
                "ASC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Ascending order.",
                        "smithy.api#enumValue": "ASC"
                    }
                },
                "DESC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Descending order.",
                        "smithy.api#enumValue": "DESC"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Sort order for list results."
            }
        },
        "com.amazonaws.cloudwatchomni#AlertState": {
            "type": "enum",
            "members": {
                "OK": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "The alert is within its normal threshold.",
                        "smithy.api#enumValue": "OK"
                    }
                },
                "WARNING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "The alert is breaching its warning threshold.",
                        "smithy.api#enumValue": "WARNING"
                    }
                },
                "CRITICAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "The alert is breaching its critical threshold.",
                        "smithy.api#enumValue": "CRITICAL"
                    }
                },
                "NODATA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "The evaluation produced no data. Reported only when\n{@code rule.telemetryRule.noData.treatAs} resolves to {@code NODATA},\nwhich is also the behaviour when {@code noData} is omitted.",
                        "smithy.api#enumValue": "NODATA"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Flat alert state. Severity is folded in: a WARNING/CRITICAL alert reports\nthat state directly. {@code NODATA} indicates the evaluation produced no\ndata (subject to the rule's noData.treatAs handling)."
            }
        },
        "com.amazonaws.cloudwatchomni#AlertStateData": {
            "type": "structure",
            "members": {
                "thresholdBreached": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "For COUNT_OF_RESULTS alerts, the row count that breached; null for\nFIELD_VALUE (multi-contributor) alerts."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Structured detail about the current evaluation."
            }
        },
        "com.amazonaws.cloudwatchomni#AlertStateInfo": {
            "type": "structure",
            "members": {
                "value": {
                    "target": "com.amazonaws.cloudwatchomni#AlertState",
                    "traits": {
                        "smithy.api#documentation": "Current flat state.",
                        "smithy.api#required": {}
                    }
                },
                "transitionedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "When the alert transitioned to its current state."
                    }
                },
                "contributorSummary": {
                    "target": "com.amazonaws.cloudwatchomni#ContributorSummary",
                    "traits": {
                        "smithy.api#documentation": "Counts of contributors currently breaching each severity threshold.\nPresent only when contributor-level tracking is active; absent until\nthe first contributor breaches a {@code WARNING} or {@code CRITICAL}\nthreshold."
                    }
                },
                "data": {
                    "target": "com.amazonaws.cloudwatchomni#AlertStateData",
                    "traits": {
                        "smithy.api#documentation": "Structured detail about why the alert is in its current state."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Live evaluation state for an alert. Read-only, system-managed."
            }
        },
        "com.amazonaws.cloudwatchomni#AlertStateList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudwatchomni#AlertState"
            },
            "traits": {
                "smithy.api#documentation": "List of alert states.",
                "smithy.api#length": {
                    "max": 4
                }
            }
        },
        "com.amazonaws.cloudwatchomni#AlertSummary": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The name of the alert.",
                        "smithy.api#required": {}
                    }
                },
                "alertId": {
                    "target": "com.amazonaws.cloudwatchomni#AlertId",
                    "traits": {
                        "smithy.api#documentation": "The stable alert identifier (see {@link Alert#alertId}). Use it to address\nthe alert; it is also the ARN's resource id."
                    }
                },
                "spaceId": {
                    "target": "com.amazonaws.cloudwatchomni#SpaceId",
                    "traits": {
                        "smithy.api#documentation": "The ID of the space the alert belongs to."
                    }
                },
                "profileId": {
                    "target": "com.amazonaws.cloudwatchomni#ProfileId",
                    "traits": {
                        "smithy.api#documentation": "The ID of the access profile associated with the alert."
                    }
                },
                "notificationStatus": {
                    "target": "com.amazonaws.cloudwatchomni#NotificationStatus",
                    "traits": {
                        "smithy.api#documentation": "Whether notifications are enabled."
                    }
                },
                "state": {
                    "target": "com.amazonaws.cloudwatchomni#AlertStateInfo",
                    "traits": {
                        "smithy.api#documentation": "Live evaluation state (read-only, system-managed).",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "The timestamp when the alert was created.",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "The timestamp when the alert was last updated.",
                        "smithy.api#required": {}
                    }
                },
                "alertArn": {
                    "target": "com.amazonaws.cloudwatchomni#Arn",
                    "traits": {
                        "smithy.api#documentation": "The Amazon Resource Name (ARN) of the alert.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Summary representation of an alert used in list responses."
            }
        },
        "com.amazonaws.cloudwatchomni#AlertSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.cloudwatchomni#AlertSummary"
            },
            "traits": {
                "smithy.api#documentation": "List of alert summaries."
            }
        },
        "com.amazonaws.cloudwatchomni#ApiKeyCredential": {
            "type": "structure",
            "members": {
                "apiKeyValue": {
                    "target": "com.amazonaws.cloudwatchomni#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "The API key value used to authenticate with the external system.",
                        "smithy.api#length": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "An API key used to authenticate an integration with its external system.",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.cloudwatchomni#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "An Amazon Resource Name (ARN).",
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:.+$"
            }
        },
        "com.amazonaws.cloudwatchomni#AssumeStatus": {
            "type": "enum",
            "members": {
                "ALLOWED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "The calling principal is authorized to assume the access profile.",
                        "smithy.api#enumValue": "ALLOWED"
                    }
                },
                "DENIED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "The calling principal is not authorized to assume the access profile.",
                        "smithy.api#enumValue": "DENIED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The calling principal's authorization to assume an access profile."
            }
        },
        "com.amazonaws.cloudwatchomni#AuthType": {
            "type": "enum",
            "members": {
                "NONE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NONE"
                    }
                },
                "OAUTH2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OAUTH2"
                    }
                },
                "API_KEY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "API_KEY"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The authentication method that an integration uses to connect to its\nexternal system."
            }
        },
        "com.amazonaws.cloudwatchomni#AwsCredentials": {
            "type": "structure",
            "members": {
                "accessKeyId": {
                    "target": "com.amazonaws.cloudwatchomni#AccessKeyId",
                    "traits": {
                        "smithy.api#documentation": "The AWS access key ID.",
                        "smithy.api#required": {}
                    }
                },
                "secretAccessKey": {
                    "target": "com.amazonaws.cloudwatchomni#SecretAccessKey",
                    "traits": {
                        "smithy.api#documentation": "The AWS secret access key.",
                        "smithy.api#required": {}
                    }
                },
                "sessionToken": {
                    "target": "com.amazonaws.cloudwatchomni#SessionToken",
                    "traits": {
                        "smithy.api#documentation": "The AWS session token.",
                        "smithy.api#required": {}
                    }
                },
                "expiration": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "The timestamp when the credentials expire.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A set of temporary AWS credentials.",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.cloudwatchomni#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Idempotency token for safe retries. Repeated requests with the same token\nreturn the original result instead of creating a duplicate.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[!-~]+$"
            }
        },
        "com.amazonaws.cloudwatchomni#CloudWatchOmniFrontend": {
            "type": "service",
            "version": "2025-01-01",
            "operations": [
                {
                    "target": "com.amazonaws.cloudwatchomni#CreateAccessGrant"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#CreateAccessProfile"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#CreateAlert"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#CreateDomain"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#CreateDomainAccessGrantForOrganization"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#CreateDomainForOrganization"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#CreateIntegration"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#CreateOmniDashboard"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#CreateOneTimeDeepLinkCode"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#CreateSpace"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#CreateView"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#DeleteAccessGrant"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#DeleteAccessProfile"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#DeleteAlert"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#DeleteDomain"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#DeleteDomainAccessGrantForOrganization"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#DeleteDomainForOrganization"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#DeleteIntegration"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#DeleteOmniDashboard"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#DeleteSpace"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#DeleteView"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#GetAccessGrant"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#GetAccessProfile"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#GetAlert"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#GetContextGraph"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#GetDomain"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#GetDomainAccessGrantForOrganization"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#GetDomainForOrganization"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#GetIntegration"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#GetIntelligenceConfiguration"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#GetOmniDashboard"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#GetSpace"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#GetSpaceCredentialsForOrganization"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#GetTelemetryQueryResults"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#GetView"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ListAccessGrants"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ListAccessProfiles"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ListAlerts"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ListDomainAccessGrantsForOrganization"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ListDomains"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ListIntegrations"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ListOmniDashboards"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ListSpaces"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ListSpacesForOrganization"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ListTelemetryFields"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ListTelemetryQuerySessions"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ListViews"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#PutIntelligenceConfiguration"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#SearchPrincipals"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#StartTelemetryQuery"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#StartTelemetryQuerySession"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#StopTelemetryQuery"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#StopTelemetryQuerySession"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#UpdateAccessProfile"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#UpdateAlert"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#UpdateDomain"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#UpdateDomainForOrganization"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#UpdateIntegration"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#UpdateOmniDashboard"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#UpdateSpace"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#UpdateView"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.cloudwatchomni#SpaceResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "CloudWatchOmni",
                    "arnNamespace": "cloudwatch",
                    "endpointPrefix": "cloudwatch-omni"
                },
                "aws.auth#sigv4": {
                    "name": "cloudwatch"
                },
                "aws.endpoints#dualStackOnlyEndpoints": {},
                "aws.endpoints#standardRegionalEndpoints": {},
                "smithy.api#documentation": "CloudWatch Omni is a unified observability experience built on Amazon\nCloudWatch. You work in a space, an isolated environment that holds your\ntelemetry and controls who can access it, and your data is stored in the\nCloudWatch Dataset for correlated analysis of logs, metrics, and traces.",
                "smithy.api#title": "CloudWatch Omni",
                "smithy.protocols#rpcv2Cbor": {},
                "smithy.rules#endpointBdd": {
                    "version": "1.1",
                    "parameters": {
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        },
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        }
                    },
                    "conditions": [
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "Endpoint"
                                }
                            ]
                        },
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "Region"
                                }
                            ]
                        },
                        {
                            "fn": "aws.partition",
                            "argv": [
                                {
                                    "ref": "Region"
                                }
                            ],
                            "assign": "PartitionResult"
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "ref": "UseFIPS"
                                },
                                true
                            ]
                        }
                    ],
                    "results": [
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": {
                                    "ref": "Endpoint"
                                },
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://cloudwatch-omni-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://cloudwatch-omni.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ],
                    "root": 2,
                    "nodeCount": 6,
                    "nodes": "/////wAAAAH/////AAAAAAAAAAYAAAADAAAAAQAAAAQF9eEFAAAAAgAAAAUF9eEFAAAAAwX14QMF9eEEAAAAAwX14QEF9eEC"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        },
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "endpoint": {
                                                        "url": "https://cloudwatch-omni-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                },
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://cloudwatch-omni.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Endpoint": "https://example.com",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Endpoint": "https://example.com",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudwatch-omni-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudwatch-omni.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudwatch-omni-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudwatch-omni.cn-northwest-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudwatch-omni-fips.us-gov-west-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cloudwatch-omni.us-gov-west-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.cloudwatchomni#Comparator": {
            "type": "enum",
            "members": {
                "GT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Greater than.",
                        "smithy.api#enumValue": "GT"
                    }
                },
                "LT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Less than.",
                        "smithy.api#enumValue": "LT"
                    }
                },
                "GTE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Greater than or equal to.",
                        "smithy.api#enumValue": "GTE"
                    }
                },
                "LTE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Less than or equal to.",
                        "smithy.api#enumValue": "LTE"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Comparison operator for a threshold."
            }
        },
        "com.amazonaws.cloudwatchomni#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A human-readable description of the conflict.",
                        "smithy.api#required": {}
                    }
                },
                "conflictType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The type of conflict that caused the request to fail. Not always present."
                    }
                },
                "resourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The identifier of the resource that is in conflict. Not always present."
                    }
                },
                "resourceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The type of the resource that is in conflict. Not always present."
                    }
                },
                "errorCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The error code associated with the conflict. Not always present."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The operation could not be completed because of a conflict with the current\nstate of the resource.",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.cloudwatchomni#ContextConditionsMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "com.amazonaws.cloudwatchomni#StringList"
            },
            "traits": {
                "smithy.api#documentation": "Map of context condition keys to lists of allowed values.\nUsed for fine-grained access control on integrations.",
                "smithy.api#length": {
                    "max": 10
                }
            }
        },
        "com.amazonaws.cloudwatchomni#ContextGraphAttributeMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#documentation": "Attribute map for the unpromoted tail on a context graph node or edge. Holds\nonly the keys that did not land on a typed properties member, so a value is\nnever reported in two places.",
                "smithy.api#length": {
                    "min": 0,
                    "max": 100
                }
            }
        },
        "com.amazonaws.cloudwatchomni#ContextGraphId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Context graph node identifier.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                }
            }
        },
        "com.amazonaws.cloudwatchomni#ContextGraphName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Context graph node name.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 512
                }
            }
        },
        "com.amazonaws.cloudwatchomni#ContributorSummary": {
            "type": "structure",
            "members": {
                "warningCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "Number of contributors currently breaching the warning threshold."
                    }
                },
                "criticalCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "Number of contributors currently breaching the critical threshold."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Counts of contributors currently breaching each severity threshold."
            }
        },
        "com.amazonaws.cloudwatchomni#CreateAccessGrant": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchomni#CreateAccessGrantInput"
            },
            "output": {
                "target": "com.amazonaws.cloudwatchomni#CreateAccessGrantOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchomni#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ConflictException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#InternalServerException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "name": "CreateAccessGrant"
                },
                "smithy.api#documentation": "Creates an AccessGrant that authorizes a principal to perform a set of\nactions on resources in a space.\n\nOptionally narrow the grant with scoped actions that limit it to specific\nresources and fields. Use ListAccessGrants and GetAccessGrant to retrieve\ngrants, and DeleteAccessGrant to remove them.",
                "smithy.api#examples": [
                    {
                        "title": "Create an access grant",
                        "documentation": "The following example creates a custom access grant that authorizes an Identity Center user to read and update a specific dashboard in a space. Payloads are shown as JSON; on the wire they are CBOR-encoded.",
                        "input": {
                            "domainId": "d-1a2b3c4d5e",
                            "spaceId": "a1b2c3d4-5e6f-4a3b-8c9d-0e1f2a3b4c5d",
                            "name": "analyst-read-access",
                            "principal": {
                                "principalType": "IDC_USER",
                                "principalId": "94b6c7d8-1a2b-4c3d-9e4f-5a6b7c8d9e0f"
                            },
                            "permission": "CUSTOM",
                            "scopedActions": [
                                {
                                    "actions": [
                                        "cloudwatch:GetOmniDashboard",
                                        "cloudwatch:UpdateOmniDashboard"
                                    ],
                                    "resources": [
                                        {
                                            "resourceType": "OmniDashboard",
                                            "resourceArns": [
                                                "arn:aws:cloudwatch:us-east-1:123456789012:omni-dashboard/c3d4e5f6-7a8b-4c9d-8e0f-1a2b3c4d5e6f"
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "tags": {
                                "Team": "observability"
                            },
                            "clientToken": "3f2a9c1e-7b04-4d8a-9e15-6c2b8d0f4a73"
                        },
                        "output": {
                            "accessGrant": {
                                "grantId": "7f3e9d21-4c8b-4f6a-b1d2-3e4f5a6b7c8d",
                                "grantArn": "arn:aws:cloudwatch:us-east-1:123456789012:access-grant/7f3e9d21-4c8b-4f6a-b1d2-3e4f5a6b7c8d",
                                "name": "analyst-read-access",
                                "accountId": "123456789012",
                                "domainId": "d-1a2b3c4d5e",
                                "principal": {
                                    "principalType": "IDC_USER",
                                    "principalId": "94b6c7d8-1a2b-4c3d-9e4f-5a6b7c8d9e0f"
                                },
                                "permission": "CUSTOM",
                                "grantType": "CUSTOMER_MANAGED",
                                "createdBy": "arn:aws:iam::123456789012:role/ObservabilityAdmin",
                                "createdAt": "2026-09-16T14:22:31Z",
                                "updatedAt": "2026-09-16T14:22:31Z",
                                "spaceId": "a1b2c3d4-5e6f-4a3b-8c9d-0e1f2a3b4c5d",
                                "scopedActions": [
                                    {
                                        "actions": [
                                            "cloudwatch:GetOmniDashboard",
                                            "cloudwatch:UpdateOmniDashboard"
                                        ],
                                        "resources": [
                                            {
                                                "resourceType": "OmniDashboard",
                                                "resourceArns": [
                                                    "arn:aws:cloudwatch:us-east-1:123456789012:omni-dashboard/c3d4e5f6-7a8b-4c9d-8e0f-1a2b3c4d5e6f"
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                ]
            }
        },
        "com.amazonaws.cloudwatchomni#CreateAccessGrantInput": {
            "type": "structure",
            "members": {
                "domainId": {
                    "target": "com.amazonaws.cloudwatchomni#DomainId",
                    "traits": {
                        "smithy.api#documentation": "The ID of the domain that contains the space.",
                        "smithy.api#required": {}
                    }
                },
                "spaceId": {
                    "target": "com.amazonaws.cloudwatchomni#SpaceId",
                    "traits": {
                        "smithy.api#documentation": "The ID of the space to scope the grant to.",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "A name that identifies the access grant.",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 64
                        },
                        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$",
                        "smithy.api#required": {}
                    }
                },
                "principal": {
                    "target": "com.amazonaws.cloudwatchomni#AccessGrantPrincipal",
                    "traits": {
                        "smithy.api#documentation": "The principal receiving the grant.",
                        "smithy.api#required": {}
                    }
                },
                "permission": {
                    "target": "com.amazonaws.cloudwatchomni#AccessGrantPermission",
                    "traits": {
                        "smithy.api#documentation": "The permission to grant. Exactly one permission is granted per request.",
                        "smithy.api#required": {}
                    }
                },
                "scopedActions": {
                    "target": "com.amazonaws.cloudwatchomni#ScopedActionsList",
                    "traits": {
                        "smithy.api#documentation": "Groups of actions to allow, each with the resource scopes and conditions\nthat limit those actions."
                    }
                },
                "tags": {
                    "target": "com.amazonaws.cloudwatchomni#TagMap",
                    "traits": {
                        "smithy.api#documentation": "The tags to associate with the access grant."
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.cloudwatchomni#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "Idempotency token for safe retries. Repeated requests with the same\ntoken return the original result instead of creating a duplicate.",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchomni#CreateAccessGrantOutput": {
            "type": "structure",
            "members": {
                "accessGrant": {
                    "target": "com.amazonaws.cloudwatchomni#AccessGrant",
                    "traits": {
                        "smithy.api#documentation": "The details of the created access grant.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.cloudwatchomni#CreateAccessProfile": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchomni#CreateAccessProfileInput"
            },
            "output": {
                "target": "com.amazonaws.cloudwatchomni#CreateAccessProfileOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchomni#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ConflictException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#InternalServerException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "name": "CreateAccessProfile"
                },
                "smithy.api#documentation": "Creates an access profile in a space.\n\nUse GetAccessProfile and ListAccessProfiles to retrieve profiles,\nand UpdateAccessProfile to modify one.",
                "smithy.api#examples": [
                    {
                        "title": "Create an access profile",
                        "documentation": "The following example creates a customer-managed access profile in a space. Payloads are shown as JSON; on the wire they are CBOR-encoded.",
                        "input": {
                            "spaceId": "a1b2c3d4-5e6f-4a3b-8c9d-0e1f2a3b4c5d",
                            "name": "Analyst read-only profile",
                            "description": "Read-only access for analysts.",
                            "tags": {
                                "Team": "observability"
                            },
                            "clientToken": "3f2a9c1e-7b04-4d8a-9e15-6c2b8d0f4a73"
                        },
                        "output": {
                            "accessProfile": {
                                "profileId": "analyst-readonly",
                                "spaceId": "a1b2c3d4-5e6f-4a3b-8c9d-0e1f2a3b4c5d",
                                "arn": "arn:aws:cloudwatch:us-east-1:123456789012:access-profile/analyst-readonly",
                                "name": "Analyst read-only profile",
                                "description": "Read-only access for analysts.",
                                "createdAt": "2026-09-16T14:22:31Z",
                                "updatedAt": "2026-09-16T14:22:31Z",
                                "assumeStatus": "ALLOWED",
                                "profileType": "CUSTOMER_MANAGED"
                            }
                        }
                    }
                ]
            }
        },
        "com.amazonaws.cloudwatchomni#CreateAccessProfileInput": {
            "type": "structure",
            "members": {
                "spaceId": {
                    "target": "com.amazonaws.cloudwatchomni#SpaceId",
                    "traits": {
                        "smithy.api#documentation": "The unique ID of the space to create the profile in.",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.cloudwatchomni#AccessProfileName",
                    "traits": {
                        "smithy.api#documentation": "A name that identifies the access profile.",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "An optional description of the access profile.",
                        "smithy.api#length": {
                            "max": 1024
                        }
                    }
                },
                "tags": {
                    "target": "com.amazonaws.cloudwatchomni#TagMap",
                    "traits": {
                        "smithy.api#documentation": "The tags to associate with the access profile."
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.cloudwatchomni#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "Idempotency token for safe retries. Repeated requests with the same\ntoken return the original result instead of creating a duplicate.",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.cloudwatchomni#CreateAccessProfileOutput": {
            "type": "structure",
            "members": {
                "accessProfile": {
                    "target": "com.amazonaws.cloudwatchomni#AccessProfile",
                    "traits": {
                        "smithy.api#documentation": "The access profile.",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.cloudwatchomni#CreateAlert": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.cloudwatchomni#CreateAlertInput"
            },
            "output": {
                "target": "com.amazonaws.cloudwatchomni#CreateAlertOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.cloudwatchomni#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ConflictException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#InternalServerException"
                },
                {
                    "target": "com.amazonaws.cloudwatchomni#ResourceNotFoundException"
                },
[...]
