{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.codestarconnections#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.codestarconnections#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.codestarconnections#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "^[0-9]{12}$"
            }
        },
        "com.amazonaws.codestarconnections#AmazonResourceName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1011
                },
                "smithy.api#pattern": "^arn:aws(-[\\w]+)*:.+:.+:[0-9]{12}:.+$"
            }
        },
        "com.amazonaws.codestarconnections#BlockerStatus": {
            "type": "enum",
            "members": {
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "RESOLVED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RESOLVED"
                    }
                }
            }
        },
        "com.amazonaws.codestarconnections#BlockerType": {
            "type": "enum",
            "members": {
                "AUTOMATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AUTOMATED"
                    }
                }
            }
        },
        "com.amazonaws.codestarconnections#BranchName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^.*$"
            }
        },
        "com.amazonaws.codestarconnections#CodeStar_connections_20191201": {
            "type": "service",
            "version": "2019-12-01",
            "operations": [
                {
                    "target": "com.amazonaws.codestarconnections#CreateConnection"
                },
                {
                    "target": "com.amazonaws.codestarconnections#CreateHost"
                },
                {
                    "target": "com.amazonaws.codestarconnections#CreateRepositoryLink"
                },
                {
                    "target": "com.amazonaws.codestarconnections#CreateSyncConfiguration"
                },
                {
                    "target": "com.amazonaws.codestarconnections#DeleteConnection"
                },
                {
                    "target": "com.amazonaws.codestarconnections#DeleteHost"
                },
                {
                    "target": "com.amazonaws.codestarconnections#DeleteRepositoryLink"
                },
                {
                    "target": "com.amazonaws.codestarconnections#DeleteSyncConfiguration"
                },
                {
                    "target": "com.amazonaws.codestarconnections#GetConnection"
                },
                {
                    "target": "com.amazonaws.codestarconnections#GetHost"
                },
                {
                    "target": "com.amazonaws.codestarconnections#GetRepositoryLink"
                },
                {
                    "target": "com.amazonaws.codestarconnections#GetRepositorySyncStatus"
                },
                {
                    "target": "com.amazonaws.codestarconnections#GetResourceSyncStatus"
                },
                {
                    "target": "com.amazonaws.codestarconnections#GetSyncBlockerSummary"
                },
                {
                    "target": "com.amazonaws.codestarconnections#GetSyncConfiguration"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ListConnections"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ListHosts"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ListRepositoryLinks"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ListRepositorySyncDefinitions"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ListSyncConfigurations"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.codestarconnections#TagResource"
                },
                {
                    "target": "com.amazonaws.codestarconnections#UntagResource"
                },
                {
                    "target": "com.amazonaws.codestarconnections#UpdateHost"
                },
                {
                    "target": "com.amazonaws.codestarconnections#UpdateRepositoryLink"
                },
                {
                    "target": "com.amazonaws.codestarconnections#UpdateSyncBlocker"
                },
                {
                    "target": "com.amazonaws.codestarconnections#UpdateSyncConfiguration"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "CodeStar connections",
                    "arnNamespace": "codestar-connections",
                    "cloudFormationName": "CodeStarconnections",
                    "cloudTrailEventSource": "codestarconnections.amazonaws.com",
                    "endpointPrefix": "codestar-connections"
                },
                "aws.auth#sigv4": {
                    "name": "codestar-connections"
                },
                "aws.protocols#awsJson1_0": {},
                "smithy.api#documentation": "<fullname>AWS CodeStar Connections</fullname>\n         <p>This Amazon Web Services CodeStar Connections API Reference provides descriptions and usage examples of\n      the operations and data types for the Amazon Web Services CodeStar Connections API. You can use the\n      connections API to work with connections and installations.</p>\n         <p>\n            <i>Connections</i> are configurations that you use to connect Amazon Web Services\n      resources to external code repositories. Each connection is a resource that can be given to\n      services such as CodePipeline to connect to a third-party repository such as Bitbucket. For\n      example, you can add the connection in CodePipeline so that it triggers your pipeline when a\n      code change is made to your third-party code repository. Each connection is named and\n      associated with a unique ARN that is used to reference the connection.</p>\n         <p>When you create a connection, the console initiates a third-party connection handshake.\n        <i>Installations</i> are the apps that are used to conduct this handshake. For\n      example, the installation for the Bitbucket provider type is the Bitbucket app. When you\n      create a connection, you can choose an existing installation or create one.</p>\n         <p>When you want to create a connection to an installed provider type such as GitHub\n      Enterprise Server, you create a <i>host</i> for your connections.</p>\n         <p>You can work with connections by calling:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateConnection</a>, which creates a uniquely named connection that can be\n          referenced by services such as CodePipeline.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteConnection</a>, which deletes the specified connection.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetConnection</a>, which returns information about the connection, including\n          the connection status.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListConnections</a>, which lists the connections associated with your\n          account.</p>\n            </li>\n         </ul>\n         <p>You can work with hosts by calling:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateHost</a>, which creates a host that represents the infrastructure where your provider is installed.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteHost</a>, which deletes the specified host.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetHost</a>, which returns information about the host, including\n          the setup status.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListHosts</a>, which lists the hosts associated with your\n          account.</p>\n            </li>\n         </ul>\n         <p>You can work with tags in Amazon Web Services CodeStar Connections by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListTagsForResource</a>, which gets information about Amazon Web Services tags for a\n          specified Amazon Resource Name (ARN) in Amazon Web Services CodeStar Connections.</p>\n            </li>\n            <li>\n               <p>\n                  <a>TagResource</a>, which adds or updates tags for a resource in Amazon Web Services CodeStar\n          Connections.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UntagResource</a>, which removes tags for a resource in Amazon Web Services CodeStar\n          Connections.</p>\n            </li>\n         </ul>\n         <p>For information about how to use Amazon Web Services CodeStar Connections, see the <a href=\"https://docs.aws.amazon.com/dtconsole/latest/userguide/welcome-connections.html\">Developer Tools User\n        Guide</a>.</p>",
                "smithy.api#title": "AWS CodeStar connections",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://codestar-connections-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://codestar-connections-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://codestar-connections.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://codestar-connections.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://codestar-connections.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.codestarconnections#ConcurrentModificationException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.codestarconnections#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time. </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.codestarconnections#ConditionalCheckFailedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.codestarconnections#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The conditional check failed. Try again later.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.codestarconnections#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.codestarconnections#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Two conflicting operations have been made on the same resource.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.codestarconnections#Connection": {
            "type": "structure",
            "members": {
                "ConnectionName": {
                    "target": "com.amazonaws.codestarconnections#ConnectionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the connection. Connection names must be unique in an Amazon Web Services account.</p>"
                    }
                },
                "ConnectionArn": {
                    "target": "com.amazonaws.codestarconnections#ConnectionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection\n      reference when the connection is shared between Amazon Web Services services.</p>\n         <note>\n            <p>The ARN is never reused if the connection is deleted.</p>\n         </note>"
                    }
                },
                "ProviderType": {
                    "target": "com.amazonaws.codestarconnections#ProviderType",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the external provider where your third-party code repository is\n      configured.</p>"
                    }
                },
                "OwnerAccountId": {
                    "target": "com.amazonaws.codestarconnections#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the external provider where your third-party code repository is configured.\n      For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>"
                    }
                },
                "ConnectionStatus": {
                    "target": "com.amazonaws.codestarconnections#ConnectionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the connection. </p>"
                    }
                },
                "HostArn": {
                    "target": "com.amazonaws.codestarconnections#HostArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A resource that is used to connect third-party source providers with services like CodePipeline.</p>\n         <p>Note: A connection created through CloudFormation, the CLI, or the SDK is in `PENDING` status by default. You can make its status `AVAILABLE` by updating the \n      connection in the console.</p>"
            }
        },
        "com.amazonaws.codestarconnections#ConnectionArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                },
                "smithy.api#pattern": "^arn:aws(-[\\w]+)*:.+:.+:[0-9]{12}:.+$"
            }
        },
        "com.amazonaws.codestarconnections#ConnectionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.codestarconnections#Connection"
            }
        },
        "com.amazonaws.codestarconnections#ConnectionName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 32
                },
                "smithy.api#pattern": "^[\\s\\S]*$"
            }
        },
        "com.amazonaws.codestarconnections#ConnectionStatus": {
            "type": "enum",
            "members": {
                "PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING"
                    }
                },
                "AVAILABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AVAILABLE"
                    }
                },
                "ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR"
                    }
                }
            }
        },
        "com.amazonaws.codestarconnections#CreateConnection": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.codestarconnections#CreateConnectionInput"
            },
            "output": {
                "target": "com.amazonaws.codestarconnections#CreateConnectionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.codestarconnections#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ResourceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a connection that can then be given to other Amazon Web Services services like CodePipeline so\n      that it can access third-party code repositories. The connection is in pending status until\n      the third-party connection handshake is completed from the console.</p>"
            }
        },
        "com.amazonaws.codestarconnections#CreateConnectionInput": {
            "type": "structure",
            "members": {
                "ProviderType": {
                    "target": "com.amazonaws.codestarconnections#ProviderType",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the external provider where your third-party code repository is\n      configured.</p>"
                    }
                },
                "ConnectionName": {
                    "target": "com.amazonaws.codestarconnections#ConnectionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the connection to be created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.codestarconnections#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The key-value pair to use when tagging the resource.</p>"
                    }
                },
                "HostArn": {
                    "target": "com.amazonaws.codestarconnections#HostArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the host associated with the connection to be created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.codestarconnections#CreateConnectionOutput": {
            "type": "structure",
            "members": {
                "ConnectionArn": {
                    "target": "com.amazonaws.codestarconnections#ConnectionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connection to be created. The ARN is used as the\n      connection reference when the connection is shared between Amazon Web Services services.</p>\n         <note>\n            <p>The ARN is never reused if the connection is deleted.</p>\n         </note>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.codestarconnections#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the tags applied to the resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.codestarconnections#CreateHost": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.codestarconnections#CreateHostInput"
            },
            "output": {
                "target": "com.amazonaws.codestarconnections#CreateHostOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.codestarconnections#LimitExceededException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a resource that represents the infrastructure where a third-party provider is\n      installed. The host is used when you create connections to an installed third-party provider\n      type, such as GitHub Enterprise Server. You create one host for all connections to that\n      provider.</p>\n         <note>\n            <p>A host created through the CLI or the SDK is in `PENDING` status by\n        default. You can make its status `AVAILABLE` by setting up the host in the console.</p>\n         </note>"
            }
        },
        "com.amazonaws.codestarconnections#CreateHostInput": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.codestarconnections#HostName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the host to be created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ProviderType": {
                    "target": "com.amazonaws.codestarconnections#ProviderType",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the installed provider to be associated with your connection. The host\n      resource represents the infrastructure where your provider type is installed. The valid\n      provider type is GitHub Enterprise Server.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ProviderEndpoint": {
                    "target": "com.amazonaws.codestarconnections#Url",
                    "traits": {
                        "smithy.api#documentation": "<p>The endpoint of the infrastructure to be represented by the host after it is\n      created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "VpcConfiguration": {
                    "target": "com.amazonaws.codestarconnections#VpcConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The VPC configuration to be provisioned for the host. A VPC must be configured and the\n      infrastructure to be represented by the host must already be connected to the VPC.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.codestarconnections#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags for the host to be created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.codestarconnections#CreateHostOutput": {
            "type": "structure",
            "members": {
                "HostArn": {
                    "target": "com.amazonaws.codestarconnections#HostArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the host to be created.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.codestarconnections#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags for the created host.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.codestarconnections#CreateRepositoryLink": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.codestarconnections#CreateRepositoryLinkInput"
            },
            "output": {
                "target": "com.amazonaws.codestarconnections#CreateRepositoryLinkOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.codestarconnections#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#InternalServerException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ResourceAlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a link to a specified external Git repository. A repository link allows Git sync to monitor and sync changes to files in a specified Git repository.</p>"
            }
        },
        "com.amazonaws.codestarconnections#CreateRepositoryLinkInput": {
            "type": "structure",
            "members": {
                "ConnectionArn": {
                    "target": "com.amazonaws.codestarconnections#ConnectionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connection to be associated with the repository link.</p>",
                        "smithy.api#required": {}
                    }
                },
                "OwnerId": {
                    "target": "com.amazonaws.codestarconnections#OwnerId",
                    "traits": {
                        "smithy.api#documentation": "<p>The owner ID for the repository associated with a specific sync configuration, such as\n      the owner ID in GitHub.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RepositoryName": {
                    "target": "com.amazonaws.codestarconnections#RepositoryName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the repository to be associated with the repository link.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EncryptionKeyArn": {
                    "target": "com.amazonaws.codestarconnections#KmsKeyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) encryption key for the repository to be associated with the repository link.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.codestarconnections#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags for the repository to be associated with the repository link.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.codestarconnections#CreateRepositoryLinkOutput": {
            "type": "structure",
            "members": {
                "RepositoryLinkInfo": {
                    "target": "com.amazonaws.codestarconnections#RepositoryLinkInfo",
                    "traits": {
                        "smithy.api#documentation": "<p>The returned information about the created repository link.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.codestarconnections#CreateSyncConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.codestarconnections#CreateSyncConfigurationInput"
            },
            "output": {
                "target": "com.amazonaws.codestarconnections#CreateSyncConfigurationOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.codestarconnections#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#InternalServerException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ResourceAlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a sync configuration which allows Amazon Web Services to sync content from a Git\n      repository to update a specified Amazon Web Services resource. Parameters for the sync\n      configuration are determined by the sync type.</p>"
            }
        },
        "com.amazonaws.codestarconnections#CreateSyncConfigurationInput": {
            "type": "structure",
            "members": {
                "Branch": {
                    "target": "com.amazonaws.codestarconnections#BranchName",
                    "traits": {
                        "smithy.api#documentation": "<p>The branch in the repository from which changes will be synced.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ConfigFile": {
                    "target": "com.amazonaws.codestarconnections#DeploymentFilePath",
                    "traits": {
                        "smithy.api#documentation": "<p>The file name of the configuration file that manages syncing between the connection and the repository. This configuration file is stored in the repository.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RepositoryLinkId": {
                    "target": "com.amazonaws.codestarconnections#RepositoryLinkId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the repository link created for the connection. A repository link allows Git\n      sync to monitor and sync changes to files in a specified Git repository.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ResourceName": {
                    "target": "com.amazonaws.codestarconnections#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon Web Services resource (for example, a CloudFormation stack in the\n      case of CFN_STACK_SYNC) that will be synchronized from the linked repository.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RoleArn": {
                    "target": "com.amazonaws.codestarconnections#IamRoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM role that grants permission for Amazon Web Services to use Git sync to\n      update a given Amazon Web Services resource on your behalf.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SyncType": {
                    "target": "com.amazonaws.codestarconnections#SyncConfigurationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of sync configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PublishDeploymentStatus": {
                    "target": "com.amazonaws.codestarconnections#PublishDeploymentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether to enable or disable publishing of deployment status to source providers.</p>"
                    }
                },
                "TriggerResourceUpdateOn": {
                    "target": "com.amazonaws.codestarconnections#TriggerResourceUpdateOn",
                    "traits": {
                        "smithy.api#documentation": "<p>When to trigger Git sync to begin the stack update.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.codestarconnections#CreateSyncConfigurationOutput": {
            "type": "structure",
            "members": {
                "SyncConfiguration": {
                    "target": "com.amazonaws.codestarconnections#SyncConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The created sync configuration for the connection. A sync configuration allows Amazon Web Services to sync content from a Git repository to update a specified Amazon Web Services\n      resource. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.codestarconnections#CreatedReason": {
            "type": "string"
        },
        "com.amazonaws.codestarconnections#DeleteConnection": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.codestarconnections#DeleteConnectionInput"
            },
            "output": {
                "target": "com.amazonaws.codestarconnections#DeleteConnectionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>The connection to be deleted.</p>"
            }
        },
        "com.amazonaws.codestarconnections#DeleteConnectionInput": {
            "type": "structure",
            "members": {
                "ConnectionArn": {
                    "target": "com.amazonaws.codestarconnections#ConnectionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connection to be deleted.</p>\n         <note>\n            <p>The ARN is never reused if the connection is deleted.</p>\n         </note>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.codestarconnections#DeleteConnectionOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.codestarconnections#DeleteHost": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.codestarconnections#DeleteHostInput"
            },
            "output": {
                "target": "com.amazonaws.codestarconnections#DeleteHostOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ResourceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>The host to be deleted. Before you delete a host, all connections associated to the host must be deleted.</p>\n         <note>\n            <p>A host cannot be deleted if it is in the VPC_CONFIG_INITIALIZING or VPC_CONFIG_DELETING state.</p>\n         </note>"
            }
        },
        "com.amazonaws.codestarconnections#DeleteHostInput": {
            "type": "structure",
            "members": {
                "HostArn": {
                    "target": "com.amazonaws.codestarconnections#HostArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the host to be deleted.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.codestarconnections#DeleteHostOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.codestarconnections#DeleteRepositoryLink": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.codestarconnections#DeleteRepositoryLinkInput"
            },
            "output": {
                "target": "com.amazonaws.codestarconnections#DeleteRepositoryLinkOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.codestarconnections#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#InternalServerException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#SyncConfigurationStillExistsException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#UnsupportedProviderTypeException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the association between your connection and a specified external Git repository.</p>"
            }
        },
        "com.amazonaws.codestarconnections#DeleteRepositoryLinkInput": {
            "type": "structure",
            "members": {
                "RepositoryLinkId": {
                    "target": "com.amazonaws.codestarconnections#RepositoryLinkId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the repository link to be deleted.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.codestarconnections#DeleteRepositoryLinkOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.codestarconnections#DeleteSyncConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.codestarconnections#DeleteSyncConfigurationInput"
            },
            "output": {
                "target": "com.amazonaws.codestarconnections#DeleteSyncConfigurationOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.codestarconnections#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#InternalServerException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the sync configuration for a specified repository and connection.</p>"
            }
        },
        "com.amazonaws.codestarconnections#DeleteSyncConfigurationInput": {
            "type": "structure",
            "members": {
                "SyncType": {
                    "target": "com.amazonaws.codestarconnections#SyncConfigurationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of sync configuration to be deleted.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ResourceName": {
                    "target": "com.amazonaws.codestarconnections#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon Web Services resource associated with the sync configuration to be\n      deleted.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.codestarconnections#DeleteSyncConfigurationOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.codestarconnections#DeploymentFilePath": {
            "type": "string"
        },
        "com.amazonaws.codestarconnections#Directory": {
            "type": "string"
        },
        "com.amazonaws.codestarconnections#ErrorMessage": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 600
                }
            }
        },
        "com.amazonaws.codestarconnections#Event": {
            "type": "string"
        },
        "com.amazonaws.codestarconnections#ExternalId": {
            "type": "string"
        },
        "com.amazonaws.codestarconnections#GetConnection": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.codestarconnections#GetConnectionInput"
            },
            "output": {
                "target": "com.amazonaws.codestarconnections#GetConnectionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ResourceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns the connection ARN and details such as status, owner, and provider type.</p>"
            }
        },
        "com.amazonaws.codestarconnections#GetConnectionInput": {
            "type": "structure",
            "members": {
                "ConnectionArn": {
                    "target": "com.amazonaws.codestarconnections#ConnectionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a connection.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.codestarconnections#GetConnectionOutput": {
            "type": "structure",
            "members": {
                "Connection": {
                    "target": "com.amazonaws.codestarconnections#Connection",
                    "traits": {
                        "smithy.api#documentation": "<p>The connection details, such as status, owner, and provider type.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.codestarconnections#GetHost": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.codestarconnections#GetHostInput"
            },
            "output": {
                "target": "com.amazonaws.codestarconnections#GetHostOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ResourceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns the host ARN and details such as status, provider type, endpoint, and, if\n      applicable, the VPC configuration.</p>"
            }
        },
        "com.amazonaws.codestarconnections#GetHostInput": {
            "type": "structure",
            "members": {
                "HostArn": {
                    "target": "com.amazonaws.codestarconnections#HostArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the requested host.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.codestarconnections#GetHostOutput": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.codestarconnections#HostName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the requested host.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.codestarconnections#HostStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the requested host.</p>"
                    }
                },
                "ProviderType": {
                    "target": "com.amazonaws.codestarconnections#ProviderType",
                    "traits": {
                        "smithy.api#documentation": "<p>The provider type of the requested host, such as GitHub Enterprise Server.</p>"
                    }
                },
                "ProviderEndpoint": {
                    "target": "com.amazonaws.codestarconnections#Url",
                    "traits": {
                        "smithy.api#documentation": "<p>The endpoint of the infrastructure represented by the requested host.</p>"
                    }
                },
                "VpcConfiguration": {
                    "target": "com.amazonaws.codestarconnections#VpcConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The VPC configuration of the requested host.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.codestarconnections#GetRepositoryLink": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.codestarconnections#GetRepositoryLinkInput"
            },
            "output": {
                "target": "com.amazonaws.codestarconnections#GetRepositoryLinkOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.codestarconnections#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#InternalServerException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns details about a repository link. A repository link allows Git sync to monitor\n      and sync changes from files in a specified Git repository.</p>"
            }
        },
        "com.amazonaws.codestarconnections#GetRepositoryLinkInput": {
            "type": "structure",
            "members": {
                "RepositoryLinkId": {
                    "target": "com.amazonaws.codestarconnections#RepositoryLinkId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the repository link to get.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.codestarconnections#GetRepositoryLinkOutput": {
            "type": "structure",
            "members": {
                "RepositoryLinkInfo": {
                    "target": "com.amazonaws.codestarconnections#RepositoryLinkInfo",
                    "traits": {
                        "smithy.api#documentation": "<p>The information returned for a specified repository link.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.codestarconnections#GetRepositorySyncStatus": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.codestarconnections#GetRepositorySyncStatusInput"
            },
            "output": {
                "target": "com.amazonaws.codestarconnections#GetRepositorySyncStatusOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.codestarconnections#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#InternalServerException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns details about the sync status for a repository. A repository sync uses Git sync\n      to push and pull changes from your remote repository.</p>"
            }
        },
        "com.amazonaws.codestarconnections#GetRepositorySyncStatusInput": {
            "type": "structure",
            "members": {
                "Branch": {
                    "target": "com.amazonaws.codestarconnections#BranchName",
                    "traits": {
                        "smithy.api#documentation": "<p>The branch of the repository link for the requested repository sync status.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RepositoryLinkId": {
                    "target": "com.amazonaws.codestarconnections#RepositoryLinkId",
                    "traits": {
                        "smithy.api#documentation": "<p>The repository link ID for the requested repository sync status.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SyncType": {
                    "target": "com.amazonaws.codestarconnections#SyncConfigurationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The sync type of the requested sync status.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.codestarconnections#GetRepositorySyncStatusOutput": {
            "type": "structure",
            "members": {
                "LatestSync": {
                    "target": "com.amazonaws.codestarconnections#RepositorySyncAttempt",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the latest sync returned for a specified repository and branch.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.codestarconnections#GetResourceSyncStatus": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.codestarconnections#GetResourceSyncStatusInput"
            },
            "output": {
                "target": "com.amazonaws.codestarconnections#GetResourceSyncStatusOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.codestarconnections#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#InternalServerException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.codestarconnections#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns the status of the sync with the Git repository for a specific Amazon Web Services\n      resource.</p>"
            }
        },
        "com.amazonaws.codestarconnections#GetResourceSyncStatusInput": {
            "type": "structure",
            "members": {
                "ResourceName": {
                    "target": "com.amazonaws.codestarconnections#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon Web Services resource for the sync status with the Git\n      repository.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SyncType": {
                    "target": "com.amazonaws.codestarconnections#SyncConfigurationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The sync type for the sync status with the Git repository.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.codestarconnections#GetResourceSyncStatusOutput": {
            "type": "structure",
            "members": {
                "DesiredState": {
                    "target": "com.amazonaws.codestarconnections#Revision",
                    "traits": {
                        "smithy.api#documentation": "<p>The desired state of the Amazon Web Services resource for the sync status with the Git\n      repository.</p>"
                    }
                },
                "LatestSuccessfulSync": {
[...]
