{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.comprehendmedical#AnyLengthString": {
            "type": "string"
        },
        "com.amazonaws.comprehendmedical#Attribute": {
            "type": "structure",
            "members": {
                "Type": {
                    "target": "com.amazonaws.comprehendmedical#EntitySubType",
                    "traits": {
                        "smithy.api#documentation": "<p> The type of attribute. </p>"
                    }
                },
                "Score": {
                    "target": "com.amazonaws.comprehendmedical#Float",
                    "traits": {
                        "smithy.api#documentation": "<p> The level of confidence that Comprehend Medical; has that the segment of text is correctly recognized\n      as an attribute. </p>"
                    }
                },
                "RelationshipScore": {
                    "target": "com.amazonaws.comprehendmedical#Float",
                    "traits": {
                        "smithy.api#documentation": "<p> The level of confidence that Comprehend Medical; has that this attribute is correctly related to this\n      entity. </p>"
                    }
                },
                "RelationshipType": {
                    "target": "com.amazonaws.comprehendmedical#RelationshipType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of relationship between the entity and attribute. Type for the relationship is\n        <code>OVERLAP</code>, indicating that the entity occurred at the same time as the\n        <code>Date_Expression</code>. </p>"
                    }
                },
                "Id": {
                    "target": "com.amazonaws.comprehendmedical#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The numeric identifier for this attribute. This is a monotonically increasing id unique\n      within this response rather than a global unique identifier. </p>"
                    }
                },
                "BeginOffset": {
                    "target": "com.amazonaws.comprehendmedical#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The 0-based character offset in the input text that shows where the attribute begins. The\n      offset returns the UTF-8 code point in the string. </p>"
                    }
                },
                "EndOffset": {
                    "target": "com.amazonaws.comprehendmedical#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The 0-based character offset in the input text that shows where the attribute ends. The\n      offset returns the UTF-8 code point in the string.</p>"
                    }
                },
                "Text": {
                    "target": "com.amazonaws.comprehendmedical#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The segment of input text extracted as this attribute.</p>"
                    }
                },
                "Category": {
                    "target": "com.amazonaws.comprehendmedical#EntityType",
                    "traits": {
                        "smithy.api#documentation": "<p> The category of attribute. </p>"
                    }
                },
                "Traits": {
                    "target": "com.amazonaws.comprehendmedical#TraitList",
                    "traits": {
                        "smithy.api#documentation": "<p> Contextual information for this attribute. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> An extracted segment of the text that is an attribute of an entity, or otherwise related\n      to an entity, such as the dosage of a medication taken. It contains information about the\n      attribute such as id, begin and end offset within the input text, and the segment of the input\n      text. </p>"
            }
        },
        "com.amazonaws.comprehendmedical#AttributeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.comprehendmedical#Attribute"
            }
        },
        "com.amazonaws.comprehendmedical#AttributeName": {
            "type": "enum",
            "members": {
                "SIGN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SIGN"
                    }
                },
                "SYMPTOM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SYMPTOM"
                    }
                },
                "DIAGNOSIS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DIAGNOSIS"
                    }
                },
                "NEGATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NEGATION"
                    }
                },
                "PERTAINS_TO_FAMILY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PERTAINS_TO_FAMILY"
                    }
                },
                "HYPOTHETICAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HYPOTHETICAL"
                    }
                },
                "LOW_CONFIDENCE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LOW_CONFIDENCE"
                    }
                },
                "PAST_HISTORY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PAST_HISTORY"
                    }
                },
                "FUTURE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FUTURE"
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#BoundedLengthString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 20000
                }
            }
        },
        "com.amazonaws.comprehendmedical#Characters": {
            "type": "structure",
            "members": {
                "OriginalTextCharacters": {
                    "target": "com.amazonaws.comprehendmedical#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>\n      The number of characters present in the input text document as processed by Comprehend Medical.\n    </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>\n      The number of characters in the input text to be analyzed. \n    </p>"
            }
        },
        "com.amazonaws.comprehendmedical#ClientRequestTokenString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
            }
        },
        "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobFilter": {
            "type": "structure",
            "members": {
                "JobName": {
                    "target": "com.amazonaws.comprehendmedical#JobName",
                    "traits": {
                        "smithy.api#documentation": "<p>Filters on the name of the job.</p>"
                    }
                },
                "JobStatus": {
                    "target": "com.amazonaws.comprehendmedical#JobStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Filters the list of jobs based on job status. Returns only jobs with the specified\n      status.</p>"
                    }
                },
                "SubmitTimeBefore": {
                    "target": "com.amazonaws.comprehendmedical#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Filters the list of jobs based on the time that the job was submitted for processing.\n      Returns only jobs submitted before the specified time. Jobs are returned in ascending order,\n      oldest to newest.</p>"
                    }
                },
                "SubmitTimeAfter": {
                    "target": "com.amazonaws.comprehendmedical#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Filters the list of jobs based on the time that the job was submitted for processing.\n      Returns only jobs submitted after the specified time. Jobs are returned in descending order,\n      newest to oldest.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information for filtering a list of detection jobs.</p>"
            }
        },
        "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobProperties": {
            "type": "structure",
            "members": {
                "JobId": {
                    "target": "com.amazonaws.comprehendmedical#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier assigned to the detection job.</p>"
                    }
                },
                "JobName": {
                    "target": "com.amazonaws.comprehendmedical#JobName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name that you assigned to the detection job.</p>"
                    }
                },
                "JobStatus": {
                    "target": "com.amazonaws.comprehendmedical#JobStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the detection job. If the status is <code>FAILED</code>, the\n        <code>Message</code> field shows the reason for the failure.</p>"
                    }
                },
                "Message": {
                    "target": "com.amazonaws.comprehendmedical#AnyLengthString",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the status of a job.</p>"
                    }
                },
                "SubmitTime": {
                    "target": "com.amazonaws.comprehendmedical#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the detection job was submitted for processing.</p>"
                    }
                },
                "EndTime": {
                    "target": "com.amazonaws.comprehendmedical#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the detection job completed.</p>"
                    }
                },
                "ExpirationTime": {
                    "target": "com.amazonaws.comprehendmedical#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that job metadata is deleted from the server. Output files in your S3\n      bucket will not be deleted. After the metadata is deleted, the job will no longer appear in\n      the results of the <code>ListEntitiesDetectionV2Job</code> or the\n        <code>ListPHIDetectionJobs</code> operation.</p>"
                    }
                },
                "InputDataConfig": {
                    "target": "com.amazonaws.comprehendmedical#InputDataConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The input data configuration that you supplied when you created the detection job.</p>"
                    }
                },
                "OutputDataConfig": {
                    "target": "com.amazonaws.comprehendmedical#OutputDataConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The output data configuration that you supplied when you created the detection job.</p>"
                    }
                },
                "LanguageCode": {
                    "target": "com.amazonaws.comprehendmedical#LanguageCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The language code of the input documents.</p>"
                    }
                },
                "DataAccessRoleArn": {
                    "target": "com.amazonaws.comprehendmedical#IamRoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that gives Comprehend Medical; read access to your input data.</p>"
                    }
                },
                "ManifestFilePath": {
                    "target": "com.amazonaws.comprehendmedical#ManifestFilePath",
                    "traits": {
                        "smithy.api#documentation": "<p>The path to the file that describes the results of a batch job.</p>"
                    }
                },
                "KMSKey": {
                    "target": "com.amazonaws.comprehendmedical#KMSKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS Key Management Service key, if any, used to encrypt the output files. </p>"
                    }
                },
                "ModelVersion": {
                    "target": "com.amazonaws.comprehendmedical#ModelVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the model used to analyze the documents. The version number looks like\n      X.X.X. You can use this information to track the model used for a particular batch of\n      documents.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about a detection job.</p>"
            }
        },
        "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobPropertiesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobProperties"
            }
        },
        "com.amazonaws.comprehendmedical#ComprehendMedical_20181030": {
            "type": "service",
            "version": "2018-10-30",
            "operations": [
                {
                    "target": "com.amazonaws.comprehendmedical#DescribeEntitiesDetectionV2Job"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#DescribeICD10CMInferenceJob"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#DescribePHIDetectionJob"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#DescribeRxNormInferenceJob"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#DescribeSNOMEDCTInferenceJob"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#DetectEntities"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#DetectEntitiesV2"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#DetectPHI"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#InferICD10CM"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#InferRxNorm"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#InferSNOMEDCT"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#ListEntitiesDetectionV2Jobs"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#ListICD10CMInferenceJobs"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#ListPHIDetectionJobs"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#ListRxNormInferenceJobs"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#ListSNOMEDCTInferenceJobs"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#StartEntitiesDetectionV2Job"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#StartICD10CMInferenceJob"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#StartPHIDetectionJob"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#StartRxNormInferenceJob"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#StartSNOMEDCTInferenceJob"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#StopEntitiesDetectionV2Job"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#StopICD10CMInferenceJob"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#StopPHIDetectionJob"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#StopRxNormInferenceJob"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#StopSNOMEDCTInferenceJob"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "ComprehendMedical",
                    "arnNamespace": "comprehendmedical",
                    "cloudFormationName": "ComprehendMedical",
                    "cloudTrailEventSource": "comprehendmedical.amazonaws.com",
                    "endpointPrefix": "comprehendmedical"
                },
                "aws.auth#sigv4": {
                    "name": "comprehendmedical"
                },
                "aws.protocols#awsJson1_1": {},
                "smithy.api#documentation": "<p> Comprehend Medical; extracts structured information from unstructured clinical text. Use these actions\n      to gain insight in your documents. </p>",
                "smithy.api#title": "AWS Comprehend Medical",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "aws.partition",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ],
                                    "assign": "PartitionResult"
                                }
                            ],
                            "type": "tree",
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "fn": "parseURL",
                                            "argv": [
                                                {
                                                    "ref": "Endpoint"
                                                }
                                            ],
                                            "assign": "url"
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                                    "type": "error"
                                                },
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": {
                                                            "ref": "Endpoint"
                                                        },
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        },
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsFIPS"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsDualStack"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://comprehendmedical-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsFIPS"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "type": "tree",
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://comprehendmedical-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsDualStack"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://comprehendmedical.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": "https://comprehendmedical.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ]
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.ca-central-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.ca-central-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.us-west-2.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.us-west-2.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.eu-west-2.api.aws"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.eu-west-2.api.aws"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.eu-west-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.eu-west-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.us-gov-west-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.us-gov-west-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.ap-southeast-2.api.aws"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.ap-southeast-2.api.aws"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.us-east-2.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical-fips.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.us-east-2.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://comprehendmedical.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.comprehendmedical#DescribeEntitiesDetectionV2Job": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.comprehendmedical#DescribeEntitiesDetectionV2JobRequest"
            },
            "output": {
                "target": "com.amazonaws.comprehendmedical#DescribeEntitiesDetectionV2JobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.comprehendmedical#InternalServerException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Gets the properties associated with a medical entities detection job. Use this operation\n      to get the status of a detection job.</p>"
            }
        },
        "com.amazonaws.comprehendmedical#DescribeEntitiesDetectionV2JobRequest": {
            "type": "structure",
            "members": {
                "JobId": {
                    "target": "com.amazonaws.comprehendmedical#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier that Comprehend Medical; generated for the job. The\n        <code>StartEntitiesDetectionV2Job</code> operation returns this identifier in its\n      response.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#DescribeEntitiesDetectionV2JobResponse": {
            "type": "structure",
            "members": {
                "ComprehendMedicalAsyncJobProperties": {
                    "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobProperties",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains the properties associated with a detection job.</p>"
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#DescribeICD10CMInferenceJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.comprehendmedical#DescribeICD10CMInferenceJobRequest"
            },
            "output": {
                "target": "com.amazonaws.comprehendmedical#DescribeICD10CMInferenceJobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.comprehendmedical#InternalServerException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Gets the properties associated with an InferICD10CM job. Use this operation to get the\n      status of an inference job.</p>"
            }
        },
        "com.amazonaws.comprehendmedical#DescribeICD10CMInferenceJobRequest": {
            "type": "structure",
            "members": {
                "JobId": {
                    "target": "com.amazonaws.comprehendmedical#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier that Amazon Comprehend Medical generated for the job. <code>The\n        StartICD10CMInferenceJob</code> operation returns this identifier in its response.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#DescribeICD10CMInferenceJobResponse": {
            "type": "structure",
            "members": {
                "ComprehendMedicalAsyncJobProperties": {
                    "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobProperties",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains the properties associated with a detection job.</p>"
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#DescribePHIDetectionJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.comprehendmedical#DescribePHIDetectionJobRequest"
            },
            "output": {
                "target": "com.amazonaws.comprehendmedical#DescribePHIDetectionJobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.comprehendmedical#InternalServerException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Gets the properties associated with a protected health information (PHI) detection job.\n      Use this operation to get the status of a detection job.</p>"
            }
        },
        "com.amazonaws.comprehendmedical#DescribePHIDetectionJobRequest": {
            "type": "structure",
            "members": {
                "JobId": {
                    "target": "com.amazonaws.comprehendmedical#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier that Comprehend Medical; generated for the job. The <code>StartPHIDetectionJob</code>\n      operation returns this identifier in its response.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#DescribePHIDetectionJobResponse": {
            "type": "structure",
            "members": {
                "ComprehendMedicalAsyncJobProperties": {
                    "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobProperties",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains the properties associated with a detection job.</p>"
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#DescribeRxNormInferenceJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.comprehendmedical#DescribeRxNormInferenceJobRequest"
            },
            "output": {
                "target": "com.amazonaws.comprehendmedical#DescribeRxNormInferenceJobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.comprehendmedical#InternalServerException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Gets the properties associated with an InferRxNorm job. Use this operation to get the\n      status of an inference job.</p>"
            }
        },
        "com.amazonaws.comprehendmedical#DescribeRxNormInferenceJobRequest": {
            "type": "structure",
            "members": {
                "JobId": {
                    "target": "com.amazonaws.comprehendmedical#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier that Amazon Comprehend Medical generated for the job. The\n      StartRxNormInferenceJob operation returns this identifier in its response.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#DescribeRxNormInferenceJobResponse": {
            "type": "structure",
            "members": {
                "ComprehendMedicalAsyncJobProperties": {
                    "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobProperties",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains the properties associated with a detection job.</p>"
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#DescribeSNOMEDCTInferenceJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.comprehendmedical#DescribeSNOMEDCTInferenceJobRequest"
            },
            "output": {
                "target": "com.amazonaws.comprehendmedical#DescribeSNOMEDCTInferenceJobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.comprehendmedical#InternalServerException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>\n      Gets the properties associated with an InferSNOMEDCT job. Use this operation to get the status of an inference job.\n    </p>"
            }
        },
        "com.amazonaws.comprehendmedical#DescribeSNOMEDCTInferenceJobRequest": {
            "type": "structure",
            "members": {
                "JobId": {
                    "target": "com.amazonaws.comprehendmedical#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>\n      The identifier that Amazon Comprehend Medical generated for the job. The StartSNOMEDCTInferenceJob operation returns this identifier in its response.\n    </p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#DescribeSNOMEDCTInferenceJobResponse": {
            "type": "structure",
            "members": {
                "ComprehendMedicalAsyncJobProperties": {
                    "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobProperties"
                }
            }
        },
        "com.amazonaws.comprehendmedical#DetectEntities": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.comprehendmedical#DetectEntitiesRequest"
            },
            "output": {
                "target": "com.amazonaws.comprehendmedical#DetectEntitiesResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.comprehendmedical#InternalServerException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#InvalidEncodingException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#TextSizeLimitExceededException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#deprecated": {
                    "message": "This operation is deprecated, use DetectEntitiesV2 instead."
                },
                "smithy.api#documentation": "<p>The <code>DetectEntities</code> operation is deprecated. You should use the <a>DetectEntitiesV2</a> operation instead.</p>\n         <p> Inspects the clinical text for a variety of medical entities and returns specific\n      information about them such as entity category, location, and confidence score on that\n      information .</p>"
            }
        },
        "com.amazonaws.comprehendmedical#DetectEntitiesRequest": {
            "type": "structure",
            "members": {
                "Text": {
                    "target": "com.amazonaws.comprehendmedical#BoundedLengthString",
                    "traits": {
                        "smithy.api#documentation": "<p> A UTF-8 text string containing the clinical content being examined for entities. Each\n      string must contain fewer than 20,000 bytes of characters.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#DetectEntitiesResponse": {
            "type": "structure",
            "members": {
                "Entities": {
                    "target": "com.amazonaws.comprehendmedical#EntityList",
                    "traits": {
                        "smithy.api#documentation": "<p> The collection of medical entities extracted from the input text and their associated\n      information. For each entity, the response provides the entity text, the entity category,\n      where the entity text begins and ends, and the level of confidence that Comprehend Medical; has in the\n      detection and analysis. Attributes and traits of the entity are also returned.</p>",
                        "smithy.api#required": {}
                    }
                },
                "UnmappedAttributes": {
                    "target": "com.amazonaws.comprehendmedical#UnmappedAttributeList",
                    "traits": {
                        "smithy.api#documentation": "<p> Attributes extracted from the input text that we were unable to relate to an\n      entity.</p>"
                    }
                },
                "PaginationToken": {
                    "target": "com.amazonaws.comprehendmedical#String",
                    "traits": {
                        "smithy.api#documentation": "<p> If the result of the previous request to <code>DetectEntities</code> was truncated,\n      include the <code>PaginationToken</code> to fetch the next page of entities.</p>"
                    }
                },
                "ModelVersion": {
                    "target": "com.amazonaws.comprehendmedical#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the model used to analyze the documents. The version number looks like\n      X.X.X. You can use this information to track the model used for a particular batch of\n      documents.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#DetectEntitiesV2": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.comprehendmedical#DetectEntitiesV2Request"
            },
            "output": {
                "target": "com.amazonaws.comprehendmedical#DetectEntitiesV2Response"
            },
            "errors": [
                {
                    "target": "com.amazonaws.comprehendmedical#InternalServerException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#InvalidEncodingException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#TextSizeLimitExceededException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Inspects the clinical text for a variety of medical entities and returns specific\n      information about them such as entity category, location, and confidence score on that\n      information. Amazon Comprehend Medical only detects medical entities in English language\n      texts.</p>\n         <p>The <code>DetectEntitiesV2</code> operation replaces the <a>DetectEntities</a>\n      operation. This new action uses a different model for determining the entities in your medical\n      text and changes the way that some entities are returned in the output. You should use the\n        <code>DetectEntitiesV2</code> operation in all new applications.</p>\n         <p>The <code>DetectEntitiesV2</code> operation returns the <code>Acuity</code> and\n        <code>Direction</code> entities as attributes instead of types. </p>"
            }
        },
        "com.amazonaws.comprehendmedical#DetectEntitiesV2Request": {
            "type": "structure",
            "members": {
                "Text": {
                    "target": "com.amazonaws.comprehendmedical#BoundedLengthString",
                    "traits": {
                        "smithy.api#documentation": "<p>A UTF-8 string containing the clinical content being examined for entities. Each string\n      must contain fewer than 20,000 bytes of characters.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#DetectEntitiesV2Response": {
            "type": "structure",
            "members": {
                "Entities": {
                    "target": "com.amazonaws.comprehendmedical#EntityList",
                    "traits": {
                        "smithy.api#documentation": "<p>The collection of medical entities extracted from the input text and their associated\n      information. For each entity, the response provides the entity text, the entity category,\n      where the entity text begins and ends, and the level of confidence in the detection and\n      analysis. Attributes and traits of the entity are also returned.</p>",
                        "smithy.api#required": {}
                    }
                },
                "UnmappedAttributes": {
                    "target": "com.amazonaws.comprehendmedical#UnmappedAttributeList",
                    "traits": {
                        "smithy.api#documentation": "<p>Attributes extracted from the input text that couldn't be related to an entity.</p>"
                    }
                },
                "PaginationToken": {
                    "target": "com.amazonaws.comprehendmedical#String",
                    "traits": {
                        "smithy.api#documentation": "<p>If the result to the <code>DetectEntitiesV2</code> operation was truncated, include the\n        <code>PaginationToken</code> to fetch the next page of entities.</p>"
                    }
                },
                "ModelVersion": {
                    "target": "com.amazonaws.comprehendmedical#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the model used to analyze the documents. The version number looks like\n      X.X.X. You can use this information to track the model used for a particular batch of\n      documents.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#DetectPHI": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.comprehendmedical#DetectPHIRequest"
            },
            "output": {
                "target": "com.amazonaws.comprehendmedical#DetectPHIResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.comprehendmedical#InternalServerException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#InvalidEncodingException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#TextSizeLimitExceededException"
                },
                {
                    "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Inspects the clinical text for protected health information (PHI) entities and returns\n      the entity category, location, and confidence score for each entity. Amazon Comprehend Medical\n      only detects entities in English language texts.</p>"
            }
        },
        "com.amazonaws.comprehendmedical#DetectPHIRequest": {
            "type": "structure",
            "members": {
                "Text": {
                    "target": "com.amazonaws.comprehendmedical#BoundedLengthString",
                    "traits": {
                        "smithy.api#documentation": "<p> A UTF-8 text string containing the clinical content being examined for PHI entities. Each\n      string must contain fewer than 20,000 bytes of characters.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#DetectPHIResponse": {
            "type": "structure",
            "members": {
                "Entities": {
                    "target": "com.amazonaws.comprehendmedical#EntityList",
                    "traits": {
                        "smithy.api#documentation": "<p> The collection of PHI entities extracted from the input text and their associated\n      information. For each entity, the response provides the entity text, the entity category,\n      where the entity text begins and ends, and the level of confidence that Comprehend Medical; has in its\n      detection. </p>",
                        "smithy.api#required": {}
                    }
                },
                "PaginationToken": {
                    "target": "com.amazonaws.comprehendmedical#String",
                    "traits": {
                        "smithy.api#documentation": "<p> If the result of the previous request to <code>DetectPHI</code> was truncated, include\n      the <code>PaginationToken</code> to fetch the next page of PHI entities. </p>"
                    }
                },
                "ModelVersion": {
                    "target": "com.amazonaws.comprehendmedical#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the model used to analyze the documents. The version number looks like\n      X.X.X. You can use this information to track the model used for a particular batch of\n      documents.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#Entity": {
            "type": "structure",
            "members": {
                "Id": {
                    "target": "com.amazonaws.comprehendmedical#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The numeric identifier for the entity. This is a monotonically increasing id unique\n      within this response rather than a global unique identifier. </p>"
                    }
                },
                "BeginOffset": {
                    "target": "com.amazonaws.comprehendmedical#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The 0-based character offset in the input text that shows where the entity begins. The\n      offset returns the UTF-8 code point in the string. </p>"
                    }
                },
                "EndOffset": {
                    "target": "com.amazonaws.comprehendmedical#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The 0-based character offset in the input text that shows where the entity ends. The\n      offset returns the UTF-8 code point in the string. </p>"
                    }
                },
                "Score": {
                    "target": "com.amazonaws.comprehendmedical#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The level of confidence that Comprehend Medical; has in the accuracy of the detection.</p>"
                    }
                },
                "Text": {
                    "target": "com.amazonaws.comprehendmedical#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The segment of input text extracted as this entity.</p>"
                    }
                },
                "Category": {
                    "target": "com.amazonaws.comprehendmedical#EntityType",
                    "traits": {
                        "smithy.api#documentation": "<p> The category of the entity.</p>"
                    }
                },
                "Type": {
                    "target": "com.amazonaws.comprehendmedical#EntitySubType",
                    "traits": {
                        "smithy.api#documentation": "<p> Describes the specific type of entity with category of entities.</p>"
                    }
                },
                "Traits": {
                    "target": "com.amazonaws.comprehendmedical#TraitList",
                    "traits": {
                        "smithy.api#documentation": "<p>Contextual information for the entity.</p>"
                    }
                },
                "Attributes": {
                    "target": "com.amazonaws.comprehendmedical#AttributeList",
                    "traits": {
                        "smithy.api#documentation": "<p> The extracted attributes that relate to this entity.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Provides information about an extracted medical entity.</p>"
            }
        },
        "com.amazonaws.comprehendmedical#EntityList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.comprehendmedical#Entity"
            }
        },
        "com.amazonaws.comprehendmedical#EntitySubType": {
            "type": "enum",
            "members": {
                "NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NAME"
                    }
                },
                "DX_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DX_NAME"
                    }
                },
                "DOSAGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DOSAGE"
                    }
                },
                "ROUTE_OR_MODE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ROUTE_OR_MODE"
                    }
                },
                "FORM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FORM"
                    }
                },
                "FREQUENCY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FREQUENCY"
                    }
                },
                "DURATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DURATION"
                    }
                },
                "GENERIC_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GENERIC_NAME"
                    }
                },
                "BRAND_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BRAND_NAME"
                    }
                },
                "STRENGTH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STRENGTH"
                    }
                },
                "RATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RATE"
                    }
                },
                "ACUITY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACUITY"
                    }
                },
                "TEST_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TEST_NAME"
                    }
                },
                "TEST_VALUE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TEST_VALUE"
                    }
                },
                "TEST_UNITS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TEST_UNITS"
                    }
                },
                "TEST_UNIT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TEST_UNIT"
                    }
                },
                "PROCEDURE_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PROCEDURE_NAME"
                    }
                },
                "TREATMENT_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TREATMENT_NAME"
                    }
                },
                "DATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DATE"
                    }
                },
                "AGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AGE"
                    }
                },
                "CONTACT_POINT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONTACT_POINT"
                    }
                },
                "PHONE_OR_FAX": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PHONE_OR_FAX"
                    }
                },
                "EMAIL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EMAIL"
                    }
                },
                "IDENTIFIER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IDENTIFIER"
                    }
                },
                "ID": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ID"
                    }
                },
                "URL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "URL"
                    }
                },
                "ADDRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ADDRESS"
                    }
                },
                "PROFESSION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PROFESSION"
                    }
                },
                "SYSTEM_ORGAN_SITE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SYSTEM_ORGAN_SITE"
                    }
                },
                "DIRECTION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DIRECTION"
                    }
                },
                "QUALITY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "QUALITY"
                    }
                },
                "QUANTITY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "QUANTITY"
                    }
                },
                "TIME_EXPRESSION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TIME_EXPRESSION"
                    }
                },
                "TIME_TO_MEDICATION_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TIME_TO_MEDICATION_NAME"
                    }
                },
                "TIME_TO_DX_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TIME_TO_DX_NAME"
                    }
                },
                "TIME_TO_TEST_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TIME_TO_TEST_NAME"
                    }
                },
                "TIME_TO_PROCEDURE_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TIME_TO_PROCEDURE_NAME"
                    }
                },
                "TIME_TO_TREATMENT_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TIME_TO_TREATMENT_NAME"
                    }
                },
                "AMOUNT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AMOUNT"
                    }
                },
                "GENDER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GENDER"
                    }
                },
                "RACE_ETHNICITY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RACE_ETHNICITY"
                    }
                },
                "ALLERGIES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALLERGIES"
                    }
                },
                "TOBACCO_USE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TOBACCO_USE"
                    }
                },
                "ALCOHOL_CONSUMPTION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALCOHOL_CONSUMPTION"
                    }
                },
                "REC_DRUG_USE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REC_DRUG_USE"
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#EntityType": {
            "type": "enum",
            "members": {
                "MEDICATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MEDICATION"
                    }
                },
                "MEDICAL_CONDITION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MEDICAL_CONDITION"
                    }
                },
                "PROTECTED_HEALTH_INFORMATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PROTECTED_HEALTH_INFORMATION"
                    }
                },
                "TEST_TREATMENT_PROCEDURE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TEST_TREATMENT_PROCEDURE"
                    }
                },
                "ANATOMY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ANATOMY"
                    }
                },
                "TIME_EXPRESSION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TIME_EXPRESSION"
                    }
                },
                "BEHAVIORAL_ENVIRONMENTAL_SOCIAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BEHAVIORAL_ENVIRONMENTAL_SOCIAL"
                    }
                }
            }
        },
        "com.amazonaws.comprehendmedical#Float": {
            "type": "float"
        },
        "com.amazonaws.comprehendmedical#ICD10CMAttribute": {
            "type": "structure",
            "members": {
                "Type": {
                    "target": "com.amazonaws.comprehendmedical#ICD10CMAttributeType",
                    "traits": {
[...]
