{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.computeoptimizer#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.computeoptimizer#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.computeoptimizer#AccountEnrollmentStatus": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.computeoptimizer#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.computeoptimizer#Status",
                    "traits": {
                        "smithy.api#documentation": "<p>The account enrollment status.</p>"
                    }
                },
                "statusReason": {
                    "target": "com.amazonaws.computeoptimizer#StatusReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the account enrollment status.</p>\n         <p>For example, an account might show a status of <code>Pending</code> because member\n            accounts of an organization require more time to be enrolled in the service.</p>"
                    }
                },
                "lastUpdatedTimestamp": {
                    "target": "com.amazonaws.computeoptimizer#LastUpdatedTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The Unix epoch timestamp, in seconds, of when the account enrollment status was last\n            updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the enrollment status of an organization's member accounts in Compute Optimizer.</p>"
            }
        },
        "com.amazonaws.computeoptimizer#AccountEnrollmentStatuses": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.computeoptimizer#AccountEnrollmentStatus"
            }
        },
        "com.amazonaws.computeoptimizer#AccountId": {
            "type": "string"
        },
        "com.amazonaws.computeoptimizer#AccountIds": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.computeoptimizer#AccountId"
            }
        },
        "com.amazonaws.computeoptimizer#AllocatedStorage": {
            "type": "integer",
            "traits": {
                "smithy.api#default": 0
            }
        },
        "com.amazonaws.computeoptimizer#AllocationStrategy": {
            "type": "enum",
            "members": {
                "PRIORITIZED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Prioritized"
                    }
                },
                "LOWEST_PRICE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LowestPrice"
                    }
                }
            }
        },
        "com.amazonaws.computeoptimizer#AsgType": {
            "type": "enum",
            "members": {
                "SINGLE_INSTANCE_TYPE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SingleInstanceType"
                    }
                },
                "MIXED_INSTANCE_TYPE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MixedInstanceTypes"
                    }
                }
            }
        },
        "com.amazonaws.computeoptimizer#AutoScalingConfiguration": {
            "type": "enum",
            "members": {
                "TARGET_TRACKING_SCALING_CPU": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TargetTrackingScalingCpu"
                    }
                },
                "TARGET_TRACKING_SCALING_MEMORY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TargetTrackingScalingMemory"
                    }
                }
            }
        },
        "com.amazonaws.computeoptimizer#AutoScalingGroupArn": {
            "type": "string"
        },
        "com.amazonaws.computeoptimizer#AutoScalingGroupArns": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.computeoptimizer#AutoScalingGroupArn"
            }
        },
        "com.amazonaws.computeoptimizer#AutoScalingGroupConfiguration": {
            "type": "structure",
            "members": {
                "desiredCapacity": {
                    "target": "com.amazonaws.computeoptimizer#DesiredCapacity",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The desired capacity, or number of instances, for the EC2 Auto Scaling group.</p>"
                    }
                },
                "minSize": {
                    "target": "com.amazonaws.computeoptimizer#MinSize",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The minimum size, or minimum number of instances, for the EC2 Auto Scaling\n            group.</p>"
                    }
                },
                "maxSize": {
                    "target": "com.amazonaws.computeoptimizer#MaxSize",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The maximum size, or maximum number of instances, for the EC2 Auto Scaling\n            group.</p>"
                    }
                },
                "instanceType": {
                    "target": "com.amazonaws.computeoptimizer#NullableInstanceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The instance type for the EC2 Auto Scaling group.</p>"
                    }
                },
                "allocationStrategy": {
                    "target": "com.amazonaws.computeoptimizer#AllocationStrategy",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            Describes the allocation strategy that the EC2 Auto Scaling group uses. This field is only available for EC2 Auto Scaling groups with mixed instance types.\n        </p>"
                    }
                },
                "estimatedInstanceHourReductionPercentage": {
                    "target": "com.amazonaws.computeoptimizer#NullableEstimatedInstanceHourReductionPercentage",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            Describes the projected percentage reduction in instance hours after adopting the recommended configuration. This field is only available for EC2 Auto Scaling groups with scaling policies.\n        </p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.computeoptimizer#AsgType",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            Describes whether the EC2 Auto Scaling group has a single instance type or a mixed instance type configuration.\n        </p>"
                    }
                },
                "mixedInstanceTypes": {
                    "target": "com.amazonaws.computeoptimizer#MixedInstanceTypes",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            List the instance types within an EC2 Auto Scaling group that has mixed instance types.\n        </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the configuration of an EC2 Auto Scaling group.</p>"
            }
        },
        "com.amazonaws.computeoptimizer#AutoScalingGroupEstimatedMonthlySavings": {
            "type": "structure",
            "members": {
                "currency": {
                    "target": "com.amazonaws.computeoptimizer#Currency",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The currency of the estimated monthly savings.\n        </p>"
                    }
                },
                "value": {
                    "target": "com.amazonaws.computeoptimizer#Value",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>\n            The value of the estimated monthly savings.\n        </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>\n            An object that describes the estimated monthly savings  possible by adopting Compute Optimizer’s Auto Scaling group recommendations. This is based on the \n            Savings Plans and Reserved Instances discounts.\n        </p>"
            }
        },
        "com.amazonaws.computeoptimizer#AutoScalingGroupName": {
            "type": "string"
        },
        "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendation": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.computeoptimizer#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID of the Auto Scaling group.</p>"
                    }
                },
                "autoScalingGroupArn": {
                    "target": "com.amazonaws.computeoptimizer#AutoScalingGroupArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>"
                    }
                },
                "autoScalingGroupName": {
                    "target": "com.amazonaws.computeoptimizer#AutoScalingGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>"
                    }
                },
                "finding": {
                    "target": "com.amazonaws.computeoptimizer#Finding",
                    "traits": {
                        "smithy.api#documentation": "<p>The finding classification of the Auto Scaling group.</p>\n         <p>Findings for Auto Scaling groups include:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>\n                     <code>NotOptimized</code>\n                  </b>—An Auto Scaling group is considered not optimized when Compute Optimizer identifies a\n                    recommendation that can provide better performance for your workload.</p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>Optimized</code>\n                  </b>—An Auto Scaling\n                    group is considered optimized when Compute Optimizer determines that the group\n                    is correctly provisioned to run your workload based on the chosen instance type.\n                    For optimized resources, Compute Optimizer might recommend a new generation\n                    instance type.</p>\n            </li>\n         </ul>"
                    }
                },
                "utilizationMetrics": {
                    "target": "com.amazonaws.computeoptimizer#UtilizationMetrics",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that describe the utilization metrics of the Auto Scaling\n            group.</p>"
                    }
                },
                "lookBackPeriodInDays": {
                    "target": "com.amazonaws.computeoptimizer#LookBackPeriodInDays",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The number of days for which utilization metrics were analyzed for the Auto Scaling group.</p>"
                    }
                },
                "currentConfiguration": {
                    "target": "com.amazonaws.computeoptimizer#AutoScalingGroupConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that describe the current configuration of the Auto Scaling\n            group.</p>"
                    }
                },
                "currentInstanceGpuInfo": {
                    "target": "com.amazonaws.computeoptimizer#GpuInfo",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            Describes the GPU accelerator settings for the current instance type of the Auto Scaling group.\n        </p>"
                    }
                },
                "recommendationOptions": {
                    "target": "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendationOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that describe the recommendation options for the Auto Scaling\n            group.</p>"
                    }
                },
                "lastRefreshTimestamp": {
                    "target": "com.amazonaws.computeoptimizer#LastRefreshTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the Auto Scaling group recommendation was last\n            generated.</p>"
                    }
                },
                "currentPerformanceRisk": {
                    "target": "com.amazonaws.computeoptimizer#CurrentPerformanceRisk",
                    "traits": {
                        "smithy.api#documentation": "<p>The risk of the current Auto Scaling group not meeting the performance needs of\n            its workloads. The higher the risk, the more likely the current Auto Scaling group\n            configuration has insufficient capacity and cannot meet workload requirements.</p>"
                    }
                },
                "effectiveRecommendationPreferences": {
                    "target": "com.amazonaws.computeoptimizer#EffectiveRecommendationPreferences",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that describes the effective recommendation preferences for the Auto Scaling group.</p>"
                    }
                },
                "inferredWorkloadTypes": {
                    "target": "com.amazonaws.computeoptimizer#InferredWorkloadTypes",
                    "traits": {
                        "smithy.api#documentation": "<p>The applications that might be running on the instances in the Auto Scaling group\n            as inferred by Compute Optimizer.</p>\n         <p>Compute Optimizer can infer if one of the following applications might be running on\n            the instances:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>AmazonEmr</code> - Infers that Amazon EMR might be running on\n                    the instances.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ApacheCassandra</code> - Infers that Apache Cassandra might be running\n                    on the instances.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ApacheHadoop</code> - Infers that Apache Hadoop might be running on the\n                    instances.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Memcached</code> - Infers that Memcached might be running on the\n                    instances.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NGINX</code> - Infers that NGINX might be running on the\n                    instances.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PostgreSql</code> - Infers that PostgreSQL might be running on the\n                    instances.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Redis</code> - Infers that Redis might be running on the\n                    instances.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Kafka</code> - Infers that Kafka might be running on the\n                    instance.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SQLServer</code> - Infers that SQLServer might be running on the\n                    instance.</p>\n            </li>\n         </ul>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an Auto Scaling group recommendation.</p>"
            }
        },
        "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendationOption": {
            "type": "structure",
            "members": {
                "configuration": {
                    "target": "com.amazonaws.computeoptimizer#AutoScalingGroupConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that describe an Auto Scaling group configuration.</p>"
                    }
                },
                "instanceGpuInfo": {
                    "target": "com.amazonaws.computeoptimizer#GpuInfo",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            Describes the GPU accelerator settings for the recommended instance type of the Auto Scaling group.\n        </p>"
                    }
                },
                "projectedUtilizationMetrics": {
                    "target": "com.amazonaws.computeoptimizer#ProjectedUtilizationMetrics",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that describe the projected utilization metrics of the Auto Scaling group recommendation option.</p>\n         <note>\n            <p>The <code>Cpu</code> and <code>Memory</code> metrics are the only projected\n                utilization metrics returned. Additionally, the <code>Memory</code> metric is\n                returned only for resources that have the unified CloudWatch agent installed\n                on them. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/metrics.html#cw-agent\">Enabling Memory\n                    Utilization with the CloudWatch Agent</a>.</p>\n         </note>"
                    }
                },
                "performanceRisk": {
                    "target": "com.amazonaws.computeoptimizer#PerformanceRisk",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The performance risk of the Auto Scaling group configuration\n            recommendation.</p>\n         <p>Performance risk indicates the likelihood of the recommended instance type not meeting\n            the resource needs of your workload. Compute Optimizer calculates an individual\n            performance risk score for each specification of the recommended instance, including\n            CPU, memory, EBS throughput, EBS IOPS, disk throughput, disk IOPS, network throughput,\n            and network PPS.\n            The performance\n            risk of the recommended instance is calculated as the maximum performance risk score\n            across the analyzed resource specifications.</p>\n         <p>The value ranges from <code>0</code> - <code>4</code>, with <code>0</code> meaning\n            that the recommended resource is predicted to always provide enough hardware capability.\n            The higher the performance risk is, the more likely you should validate whether the\n            recommendation will meet the performance requirements of your workload before migrating\n            your resource.</p>"
                    }
                },
                "rank": {
                    "target": "com.amazonaws.computeoptimizer#Rank",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The rank of the Auto Scaling group recommendation option.</p>\n         <p>The top recommendation option is ranked as <code>1</code>.</p>"
                    }
                },
                "savingsOpportunity": {
                    "target": "com.amazonaws.computeoptimizer#SavingsOpportunity",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that describes the savings opportunity for the Auto Scaling group\n            recommendation option. Savings opportunity includes the estimated monthly savings amount\n            and percentage.</p>"
                    }
                },
                "savingsOpportunityAfterDiscounts": {
                    "target": "com.amazonaws.computeoptimizer#AutoScalingGroupSavingsOpportunityAfterDiscounts",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            An object that describes the savings opportunity for the Auto Scaling group recommendation option that includes Savings Plans and Reserved Instances discounts. \n            Savings opportunity includes the estimated monthly savings and percentage.\n        </p>"
                    }
                },
                "migrationEffort": {
                    "target": "com.amazonaws.computeoptimizer#MigrationEffort",
                    "traits": {
                        "smithy.api#documentation": "<p>The level of effort required to migrate from the current instance type to the\n            recommended instance type.</p>\n         <p>For example, the migration effort is <code>Low</code> if Amazon EMR is the\n            inferred workload type and an Amazon Web Services Graviton instance type is recommended.\n            The migration effort is <code>Medium</code> if a workload type couldn't be inferred but\n            an Amazon Web Services Graviton instance type is recommended. The migration effort is\n                <code>VeryLow</code> if both the current and recommended instance types are of the\n            same CPU architecture.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a recommendation option for an Auto Scaling group.</p>"
            }
        },
        "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendationOptions": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendationOption"
            }
        },
        "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendations": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendation"
            }
        },
        "com.amazonaws.computeoptimizer#AutoScalingGroupSavingsOpportunityAfterDiscounts": {
            "type": "structure",
            "members": {
                "savingsOpportunityPercentage": {
                    "target": "com.amazonaws.computeoptimizer#SavingsOpportunityPercentage",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>\n            The estimated monthly savings possible as a percentage of monthly cost after applying the Savings Plans and Reserved Instances discounts. This saving can be \n            achieved by adopting Compute Optimizer’s Auto Scaling group recommendations.\n        </p>"
                    }
                },
                "estimatedMonthlySavings": {
                    "target": "com.amazonaws.computeoptimizer#AutoScalingGroupEstimatedMonthlySavings",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            An object that describes the estimated monthly savings possible by adopting Compute Optimizer’s Auto Scaling group recommendations. This is based on the \n            Savings Plans and Reserved Instances pricing discounts.\n        </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>\n            Describes the savings opportunity for Auto Scaling group recommendations after applying the Savings Plans and Reserved Instances discounts.\n        </p>\n         <p>Savings opportunity represents the estimated monthly savings you can achieve by implementing Compute Optimizer recommendations.</p>"
            }
        },
        "com.amazonaws.computeoptimizer#Code": {
            "type": "string"
        },
        "com.amazonaws.computeoptimizer#ComputeOptimizerService": {
            "type": "service",
            "version": "2019-11-01",
            "operations": [
                {
                    "target": "com.amazonaws.computeoptimizer#DeleteRecommendationPreferences"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#DescribeRecommendationExportJobs"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#ExportAutoScalingGroupRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#ExportEBSVolumeRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#ExportEC2InstanceRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#ExportECSServiceRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#ExportIdleRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#ExportLambdaFunctionRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#ExportLicenseRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#ExportRDSDatabaseRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetAutoScalingGroupRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetEBSVolumeRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetEC2InstanceRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetEC2RecommendationProjectedMetrics"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetECSServiceRecommendationProjectedMetrics"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetECSServiceRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetEffectiveRecommendationPreferences"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetEnrollmentStatus"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetEnrollmentStatusesForOrganization"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetIdleRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetLambdaFunctionRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetLicenseRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetRDSDatabaseRecommendationProjectedMetrics"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetRDSDatabaseRecommendations"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetRecommendationPreferences"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#GetRecommendationSummaries"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#PutRecommendationPreferences"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#UpdateEnrollmentStatus"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Compute Optimizer",
                    "arnNamespace": "compute-optimizer",
                    "cloudFormationName": "ComputeOptimizer",
                    "cloudTrailEventSource": "computeoptimizer.amazonaws.com",
                    "endpointPrefix": "compute-optimizer"
                },
                "aws.auth#sigv4": {
                    "name": "compute-optimizer"
                },
                "aws.protocols#awsJson1_0": {},
                "smithy.api#documentation": "<p>Compute Optimizer is a service that analyzes the configuration and utilization\n            metrics of your Amazon Web Services compute resources, such as Amazon EC2\n            instances, Amazon EC2 Auto Scaling groups, Lambda functions, Amazon EBS volumes, and Amazon ECS services on Fargate. \n            It reports whether your resources are optimal, and generates\n            optimization recommendations to reduce the cost and improve the performance of your\n            workloads. Compute Optimizer also provides recent utilization metric data, in addition\n            to projected utilization metric data for the recommendations, which you can use to\n            evaluate which recommendation provides the best price-performance trade-off. The\n            analysis of your usage patterns can help you decide when to move or resize your running\n            resources, and still meet your performance and capacity requirements. For more\n            information about Compute Optimizer, including the required permissions to use the\n            service, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/\">Compute Optimizer User Guide</a>.</p>",
                "smithy.api#title": "AWS Compute Optimizer",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://compute-optimizer-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://compute-optimizer-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://compute-optimizer.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://compute-optimizer.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.cn-northwest-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://compute-optimizer.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.computeoptimizer#ContainerConfiguration": {
            "type": "structure",
            "members": {
                "containerName": {
                    "target": "com.amazonaws.computeoptimizer#ContainerName",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The name of the container.\n        </p>"
                    }
                },
                "memorySizeConfiguration": {
                    "target": "com.amazonaws.computeoptimizer#MemorySizeConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The memory size configurations for the container.\n        </p>"
                    }
                },
                "cpu": {
                    "target": "com.amazonaws.computeoptimizer#NullableCpu",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The number of CPU units reserved for the container.\n        </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>\n            Describes the container configurations within the tasks of your Amazon ECS service.\n        </p>"
            }
        },
        "com.amazonaws.computeoptimizer#ContainerConfigurations": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.computeoptimizer#ContainerConfiguration"
            }
        },
        "com.amazonaws.computeoptimizer#ContainerName": {
            "type": "string"
        },
        "com.amazonaws.computeoptimizer#ContainerRecommendation": {
            "type": "structure",
            "members": {
                "containerName": {
                    "target": "com.amazonaws.computeoptimizer#ContainerName",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The name of the container.\n        </p>"
                    }
                },
                "memorySizeConfiguration": {
                    "target": "com.amazonaws.computeoptimizer#MemorySizeConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The recommended memory size configurations for the container.\n        </p>"
                    }
                },
                "cpu": {
                    "target": "com.amazonaws.computeoptimizer#NullableCpu",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The recommended number of CPU units reserved for the container.\n        </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>\n            The CPU and memory recommendations for a container within the tasks of your Amazon ECS service.\n        </p>"
            }
        },
        "com.amazonaws.computeoptimizer#ContainerRecommendations": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.computeoptimizer#ContainerRecommendation"
            }
        },
        "com.amazonaws.computeoptimizer#CpuSize": {
            "type": "integer",
            "traits": {
                "smithy.api#default": 0
            }
        },
        "com.amazonaws.computeoptimizer#CpuVendorArchitecture": {
            "type": "enum",
            "members": {
                "AWS_ARM64": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AWS_ARM64"
                    }
                },
                "CURRENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CURRENT"
                    }
                }
            }
        },
        "com.amazonaws.computeoptimizer#CpuVendorArchitectures": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.computeoptimizer#CpuVendorArchitecture"
            }
        },
        "com.amazonaws.computeoptimizer#CreationTimestamp": {
            "type": "timestamp"
        },
        "com.amazonaws.computeoptimizer#Currency": {
            "type": "enum",
            "members": {
                "USD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "USD"
                    }
                },
                "CNY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CNY"
                    }
                }
            }
        },
        "com.amazonaws.computeoptimizer#CurrentDBInstanceClass": {
            "type": "string"
        },
        "com.amazonaws.computeoptimizer#CurrentInstanceType": {
            "type": "string"
        },
        "com.amazonaws.computeoptimizer#CurrentPerformanceRisk": {
            "type": "enum",
            "members": {
                "VERY_LOW": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VeryLow"
                    }
                },
                "LOW": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Low"
                    }
                },
                "MEDIUM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Medium"
                    }
                },
                "HIGH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "High"
                    }
                }
            }
        },
        "com.amazonaws.computeoptimizer#CurrentPerformanceRiskRatings": {
            "type": "structure",
            "members": {
                "high": {
                    "target": "com.amazonaws.computeoptimizer#High",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>A count of the applicable resource types with a high performance risk rating.</p>"
                    }
                },
                "medium": {
                    "target": "com.amazonaws.computeoptimizer#Medium",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>A count of the applicable resource types with a medium performance risk rating.</p>"
                    }
                },
                "low": {
                    "target": "com.amazonaws.computeoptimizer#Low",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>A count of the applicable resource types with a low performance risk rating.</p>"
                    }
                },
                "veryLow": {
                    "target": "com.amazonaws.computeoptimizer#VeryLow",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>A count of the applicable resource types with a very low performance risk\n            rating.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the performance risk ratings for a given resource type.</p>\n         <p>Resources with a <code>high</code> or <code>medium</code> rating are at risk of not\n            meeting the performance needs of their workloads, while resources with a\n                <code>low</code> rating are performing well in their workloads.</p>"
            }
        },
        "com.amazonaws.computeoptimizer#CustomizableMetricHeadroom": {
            "type": "enum",
            "members": {
                "PERCENT_30": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PERCENT_30"
                    }
                },
                "PERCENT_20": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PERCENT_20"
                    }
                },
                "PERCENT_10": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PERCENT_10"
                    }
                },
                "PERCENT_0": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PERCENT_0"
                    }
                }
            }
        },
        "com.amazonaws.computeoptimizer#CustomizableMetricName": {
            "type": "enum",
            "members": {
                "CPU_UTILIZATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CpuUtilization"
                    }
                },
                "MEMORY_UTILIZATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MemoryUtilization"
                    }
                }
            }
        },
        "com.amazonaws.computeoptimizer#CustomizableMetricParameters": {
            "type": "structure",
            "members": {
                "threshold": {
                    "target": "com.amazonaws.computeoptimizer#CustomizableMetricThreshold",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The threshold value used for the specified metric parameter.\n        </p>\n         <note>\n            <p>You can only specify the threshold value for CPU utilization.</p>\n         </note>"
                    }
                },
                "headroom": {
                    "target": "com.amazonaws.computeoptimizer#CustomizableMetricHeadroom",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The headroom value in percentage used for the specified metric parameter.\n        </p>\n         <p>The following lists the valid values for CPU and memory utilization.</p>\n         <ul>\n            <li>\n               <p>CPU utilization: <code>PERCENT_30 | PERCENT_20 | PERCENT_0</code>\n               </p>\n            </li>\n            <li>\n               <p>Memory utilization: <code>PERCENT_30 | PERCENT_20 | PERCENT_10</code>\n               </p>\n            </li>\n         </ul>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>\n            Defines the various metric parameters that can be customized, such as threshold and headroom.\n        </p>"
            }
        },
        "com.amazonaws.computeoptimizer#CustomizableMetricThreshold": {
            "type": "enum",
            "members": {
                "P90": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "P90"
                    }
                },
                "P95": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "P95"
                    }
                },
                "P99_5": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "P99_5"
                    }
                }
            }
        },
        "com.amazonaws.computeoptimizer#DBClusterIdentifier": {
            "type": "string"
        },
        "com.amazonaws.computeoptimizer#DBInstanceClass": {
            "type": "string"
        },
        "com.amazonaws.computeoptimizer#DBStorageConfiguration": {
            "type": "structure",
            "members": {
                "storageType": {
                    "target": "com.amazonaws.computeoptimizer#StorageType",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The type of RDS storage.\n        </p>"
                    }
                },
                "allocatedStorage": {
                    "target": "com.amazonaws.computeoptimizer#AllocatedStorage",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>\n            The size of the RDS storage in gigabytes (GB).\n        </p>"
                    }
                },
                "iops": {
                    "target": "com.amazonaws.computeoptimizer#NullableIOPS",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The provisioned IOPs of the RDS storage.\n        </p>"
                    }
                },
                "maxAllocatedStorage": {
                    "target": "com.amazonaws.computeoptimizer#NullableMaxAllocatedStorage",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The maximum limit in gibibytes (GiB) to which Amazon RDS can automatically scale the storage of the RDS instance.\n        </p>"
                    }
                },
                "storageThroughput": {
                    "target": "com.amazonaws.computeoptimizer#NullableStorageThroughput",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The storage throughput of the RDS storage.\n        </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>\n            The configuration of the recommended RDS storage.\n        </p>"
            }
        },
        "com.amazonaws.computeoptimizer#DeleteRecommendationPreferences": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.computeoptimizer#DeleteRecommendationPreferencesRequest"
            },
            "output": {
                "target": "com.amazonaws.computeoptimizer#DeleteRecommendationPreferencesResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.computeoptimizer#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#InternalServerException"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#InvalidParameterValueException"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#MissingAuthenticationToken"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#OptInRequiredException"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a recommendation preference, such as enhanced infrastructure metrics.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/enhanced-infrastructure-metrics.html\">Activating\n                enhanced infrastructure metrics</a> in the <i>Compute Optimizer User\n                Guide</i>.</p>"
            }
        },
        "com.amazonaws.computeoptimizer#DeleteRecommendationPreferencesRequest": {
            "type": "structure",
            "members": {
                "resourceType": {
                    "target": "com.amazonaws.computeoptimizer#ResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The target resource type of the recommendation preference to delete.</p>\n         <p>The <code>Ec2Instance</code> option encompasses standalone instances and instances\n            that are part of Auto Scaling groups. The <code>AutoScalingGroup</code> option\n            encompasses only instances that are part of an Auto Scaling group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "scope": {
                    "target": "com.amazonaws.computeoptimizer#Scope",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that describes the scope of the recommendation preference to delete.</p>\n         <p>You can delete recommendation preferences that are created at the organization level\n            (for management accounts of an organization only), account level, and resource level.\n            For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/enhanced-infrastructure-metrics.html\">Activating\n                enhanced infrastructure metrics</a> in the <i>Compute Optimizer User\n                Guide</i>.</p>"
                    }
                },
                "recommendationPreferenceNames": {
                    "target": "com.amazonaws.computeoptimizer#RecommendationPreferenceNames",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the recommendation preference to delete.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.computeoptimizer#DeleteRecommendationPreferencesResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.computeoptimizer#DescribeRecommendationExportJobs": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.computeoptimizer#DescribeRecommendationExportJobsRequest"
            },
            "output": {
                "target": "com.amazonaws.computeoptimizer#DescribeRecommendationExportJobsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.computeoptimizer#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#InternalServerException"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#InvalidParameterValueException"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#MissingAuthenticationToken"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#OptInRequiredException"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.computeoptimizer#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes recommendation export jobs created in the last seven days.</p>\n         <p>Use the <a>ExportAutoScalingGroupRecommendations</a> or <a>ExportEC2InstanceRecommendations</a> actions to request an export of your\n            recommendations. Then use the <a>DescribeRecommendationExportJobs</a> action\n            to view your export jobs.</p>",
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "items": "recommendationExportJobs",
                    "pageSize": "maxResults"
                }
            }
        },
        "com.amazonaws.computeoptimizer#DescribeRecommendationExportJobsRequest": {
            "type": "structure",
            "members": {
                "jobIds": {
                    "target": "com.amazonaws.computeoptimizer#JobIds",
                    "traits": {
                        "smithy.api#documentation": "<p>The identification numbers of the export jobs to return.</p>\n         <p>An export job ID is returned when you create an export using the <a>ExportAutoScalingGroupRecommendations</a> or <a>ExportEC2InstanceRecommendations</a> actions.</p>\n         <p>All export jobs created in the last seven days are returned if this parameter is\n            omitted.</p>"
                    }
                },
                "filters": {
                    "target": "com.amazonaws.computeoptimizer#JobFilters",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects to specify a filter that returns a more specific list of export\n            jobs.</p>"
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.computeoptimizer#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token to advance to the next page of export jobs.</p>"
                    }
                },
                "maxResults": {
                    "target": "com.amazonaws.computeoptimizer#MaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of export jobs to return with a single request.</p>\n         <p>To retrieve the remaining results, make another request with the returned\n                <code>nextToken</code> value.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.computeoptimizer#DescribeRecommendationExportJobsResponse": {
            "type": "structure",
            "members": {
                "recommendationExportJobs": {
                    "target": "com.amazonaws.computeoptimizer#RecommendationExportJobs",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that describe recommendation export jobs.</p>"
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.computeoptimizer#NextToken",
                    "traits": {
[...]
