{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.connectcases#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.connectcases#AmazonConnectCases": {
            "type": "service",
            "version": "2022-10-03",
            "operations": [
                {
                    "target": "com.amazonaws.connectcases#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.connectcases#TagResource"
                },
                {
                    "target": "com.amazonaws.connectcases#UntagResource"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.connectcases#Case"
                },
                {
                    "target": "com.amazonaws.connectcases#CaseRule"
                },
                {
                    "target": "com.amazonaws.connectcases#Domain"
                },
                {
                    "target": "com.amazonaws.connectcases#Field"
                },
                {
                    "target": "com.amazonaws.connectcases#Layout"
                },
                {
                    "target": "com.amazonaws.connectcases#Template"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "ConnectCases",
                    "arnNamespace": "cases",
                    "cloudTrailEventSource": "event-source-placeholder",
                    "endpointPrefix": "cases"
                },
                "aws.auth#sigv4": {
                    "name": "cases"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "additionalAllowedHeaders": [
                        "*",
                        "Authorization",
                        "Date",
                        "X-Amz-Date",
                        "X-Amz-Security-Token",
                        "X-Amz-Target",
                        "content-type",
                        "x-amz-content-sha256",
                        "x-amz-user-agent",
                        "x-amzn-platform-id",
                        "x-amzn-trace-id"
                    ]
                },
                "smithy.api#documentation": "<ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_Operations_Amazon_Connect_Cases.html\">Cases\n            actions</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_Types_Amazon_Connect_Cases.html\">Cases data\n            types</a>\n               </p>\n            </li>\n         </ul>\n         <p>With Amazon Connect Cases, your agents can track and manage customer issues that require\n      multiple interactions, follow-up tasks, and teams in your contact center. A case represents a\n      customer issue. It records the issue, the steps and interactions taken to resolve the issue,\n      and the outcome. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/cases.html\">Amazon Connect Cases</a> in the\n          <i>Amazon Connect Administrator Guide</i>.</p>",
                "smithy.api#title": "Amazon Connect Cases",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://cases-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://cases-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://cases.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://cases.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cases.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.connectcases#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 500
                }
            }
        },
        "com.amazonaws.connectcases#AssociationTime": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "date-time"
            }
        },
        "com.amazonaws.connectcases#AuditEvent": {
            "type": "structure",
            "members": {
                "eventId": {
                    "target": "com.amazonaws.connectcases#AuditEventId",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique identifier of a case audit history event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.connectcases#AuditEventType",
                    "traits": {
                        "smithy.api#documentation": "<p>The Type of an audit history event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "relatedItemType": {
                    "target": "com.amazonaws.connectcases#RelatedItemType",
                    "traits": {
                        "smithy.api#documentation": "<p>The Type of the related item.</p>"
                    }
                },
                "performedTime": {
                    "target": "com.amazonaws.connectcases#AuditEventDateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>Time at which an Audit History event took place.</p>",
                        "smithy.api#required": {}
                    }
                },
                "fields": {
                    "target": "com.amazonaws.connectcases#AuditEventFieldList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of Case Audit History event fields.</p>",
                        "smithy.api#required": {}
                    }
                },
                "performedBy": {
                    "target": "com.amazonaws.connectcases#AuditEventPerformedBy",
                    "traits": {
                        "smithy.api#documentation": "<p>Information of the user which performed the audit.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents the content of a particular audit event.</p>"
            }
        },
        "com.amazonaws.connectcases#AuditEventDateTime": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "date-time"
            }
        },
        "com.amazonaws.connectcases#AuditEventField": {
            "type": "structure",
            "members": {
                "eventFieldId": {
                    "target": "com.amazonaws.connectcases#AuditEventFieldId",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique identifier of field in an Audit History entry.</p>",
                        "smithy.api#required": {}
                    }
                },
                "oldValue": {
                    "target": "com.amazonaws.connectcases#AuditEventFieldValueUnion",
                    "traits": {
                        "smithy.api#documentation": "<p>Union of potential field value types.</p>"
                    }
                },
                "newValue": {
                    "target": "com.amazonaws.connectcases#AuditEventFieldValueUnion",
                    "traits": {
                        "smithy.api#documentation": "<p>Union of potential field value types.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Fields for audit event.</p>"
            }
        },
        "com.amazonaws.connectcases#AuditEventFieldId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 500
                }
            }
        },
        "com.amazonaws.connectcases#AuditEventFieldList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcases#AuditEventField"
            },
            "traits": {
                "smithy.api#sparse": {}
            }
        },
        "com.amazonaws.connectcases#AuditEventFieldValueUnion": {
            "type": "union",
            "members": {
                "stringValue": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Can be either null, or have a String value type. Only one value can be provided.</p>",
                        "smithy.api#length": {
                            "max": 500
                        }
                    }
                },
                "doubleValue": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>Can be either null, or have a Double value type. Only one value can be provided.</p>"
                    }
                },
                "booleanValue": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Can be either null, or have a Boolean value type. Only one value can be provided.</p>"
                    }
                },
                "emptyValue": {
                    "target": "com.amazonaws.connectcases#EmptyFieldValue"
                },
                "userArnValue": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Can be either null, or have a String value type formatted as an ARN. Only one value can be\n      provided.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Object to store union of Field values.</p>"
            }
        },
        "com.amazonaws.connectcases#AuditEventId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 500
                }
            }
        },
        "com.amazonaws.connectcases#AuditEventPerformedBy": {
            "type": "structure",
            "members": {
                "user": {
                    "target": "com.amazonaws.connectcases#UserUnion"
                },
                "iamPrincipalArn": {
                    "target": "com.amazonaws.connectcases#IamPrincipalArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique identifier of an IAM role.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information of the user which performed the audit.</p>"
            }
        },
        "com.amazonaws.connectcases#AuditEventType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "Case.Created",
                        "name": "CASE_CREATED"
                    },
                    {
                        "value": "Case.Updated",
                        "name": "CASE_UPDATED"
                    },
                    {
                        "value": "RelatedItem.Created",
                        "name": "RELATED_ITEM_CREATED"
                    }
                ]
            }
        },
        "com.amazonaws.connectcases#AuditEventsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcases#AuditEvent"
            },
            "traits": {
                "smithy.api#sparse": {}
            }
        },
        "com.amazonaws.connectcases#BasicLayout": {
            "type": "structure",
            "members": {
                "topPanel": {
                    "target": "com.amazonaws.connectcases#LayoutSections",
                    "traits": {
                        "smithy.api#documentation": "<p>This represents sections in a panel of the page layout.</p>"
                    }
                },
                "moreInfo": {
                    "target": "com.amazonaws.connectcases#LayoutSections",
                    "traits": {
                        "smithy.api#documentation": "<p>This represents sections in a tab of the page layout.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Content specific to <code>BasicLayout</code> type. It configures fields in the top panel\n      and More Info tab of agent application. </p>"
            }
        },
        "com.amazonaws.connectcases#BatchGetCaseRule": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcases#BatchGetCaseRuleRequest"
            },
            "output": {
                "target": "com.amazonaws.connectcases#BatchGetCaseRuleResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcases#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcases#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcases#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.connectcases#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.connectcases#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Gets a batch of case rules. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>.  For more\n      information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a\n        case template</a>.</p>",
                "smithy.api#http": {
                    "uri": "/domains/{domainId}/rules-batch",
                    "method": "POST"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.connectcases#BatchGetCaseRuleErrorList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcases#CaseRuleError"
            }
        },
        "com.amazonaws.connectcases#BatchGetCaseRuleList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcases#GetCaseRuleResponse"
            }
        },
        "com.amazonaws.connectcases#BatchGetCaseRuleRequest": {
            "type": "structure",
            "members": {
                "domainId": {
                    "target": "com.amazonaws.connectcases#DomainId",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique identifier of a Cases domain.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "caseRules": {
                    "target": "com.amazonaws.connectcases#CaseRuleIdentifierList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of case rule identifiers.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.connectcases#BatchGetCaseRuleResponse": {
            "type": "structure",
            "members": {
                "caseRules": {
                    "target": "com.amazonaws.connectcases#BatchGetCaseRuleList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of detailed case rule information.</p>",
                        "smithy.api#length": {
                            "max": 50
                        },
                        "smithy.api#required": {}
                    }
                },
                "errors": {
                    "target": "com.amazonaws.connectcases#BatchGetCaseRuleErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of case rule errors.</p>",
                        "smithy.api#length": {
                            "max": 50
                        },
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.connectcases#BatchGetField": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcases#BatchGetFieldRequest"
            },
            "output": {
                "target": "com.amazonaws.connectcases#BatchGetFieldResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcases#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcases#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcases#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.connectcases#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.connectcases#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns the description for the list of fields in the request parameters. </p>",
                "smithy.api#http": {
                    "uri": "/domains/{domainId}/fields-batch",
                    "method": "POST"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.connectcases#BatchGetFieldErrorList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcases#FieldError"
            }
        },
        "com.amazonaws.connectcases#BatchGetFieldIdentifierList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcases#FieldIdentifier"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                }
            }
        },
        "com.amazonaws.connectcases#BatchGetFieldList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcases#GetFieldResponse"
            }
        },
        "com.amazonaws.connectcases#BatchGetFieldRequest": {
            "type": "structure",
            "members": {
                "domainId": {
                    "target": "com.amazonaws.connectcases#DomainId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Cases domain. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "fields": {
                    "target": "com.amazonaws.connectcases#BatchGetFieldIdentifierList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of unique field identifiers. </p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.connectcases#BatchGetFieldResponse": {
            "type": "structure",
            "members": {
                "fields": {
                    "target": "com.amazonaws.connectcases#BatchGetFieldList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of detailed field information. </p>",
                        "smithy.api#length": {
                            "max": 50
                        },
                        "smithy.api#required": {}
                    }
                },
                "errors": {
                    "target": "com.amazonaws.connectcases#BatchGetFieldErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of field errors. </p>",
                        "smithy.api#length": {
                            "max": 50
                        },
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.connectcases#BatchPutFieldOptions": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcases#BatchPutFieldOptionsRequest"
            },
            "output": {
                "target": "com.amazonaws.connectcases#BatchPutFieldOptionsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcases#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcases#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcases#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.connectcases#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.connectcases#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.connectcases#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates and updates a set of field options for a single select field in a Cases\n      domain.</p>",
                "smithy.api#http": {
                    "uri": "/domains/{domainId}/fields/{fieldId}/options",
                    "method": "PUT"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.connectcases#BatchPutFieldOptionsRequest": {
            "type": "structure",
            "members": {
                "domainId": {
                    "target": "com.amazonaws.connectcases#DomainId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Cases domain. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "fieldId": {
                    "target": "com.amazonaws.connectcases#FieldId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of a field.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "options": {
                    "target": "com.amazonaws.connectcases#FieldOptionsList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>FieldOption</code> objects.</p>",
                        "smithy.api#length": {
                            "max": 50
                        },
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.connectcases#BatchPutFieldOptionsResponse": {
            "type": "structure",
            "members": {
                "errors": {
                    "target": "com.amazonaws.connectcases#FieldOptionErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of field errors. </p>",
                        "smithy.api#length": {
                            "max": 50
                        }
                    }
                }
            }
        },
        "com.amazonaws.connectcases#BooleanCondition": {
            "type": "union",
            "members": {
                "equalTo": {
                    "target": "com.amazonaws.connectcases#BooleanOperands",
                    "traits": {
                        "smithy.api#documentation": "<p>Tests that operandOne is equal to operandTwo.</p>"
                    }
                },
                "notEqualTo": {
                    "target": "com.amazonaws.connectcases#BooleanOperands",
                    "traits": {
                        "smithy.api#documentation": "<p>Tests that operandOne is not equal to operandTwo.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Boolean condition for a rule. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. \nFor more\n      information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a\n        case template</a>.</p>"
            }
        },
        "com.amazonaws.connectcases#BooleanConditionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcases#BooleanCondition"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 100
                }
            }
        },
        "com.amazonaws.connectcases#BooleanOperands": {
            "type": "structure",
            "members": {
                "operandOne": {
                    "target": "com.amazonaws.connectcases#OperandOne",
                    "traits": {
                        "smithy.api#documentation": "<p>Represents the left hand operand in the condition.</p>",
                        "smithy.api#required": {}
                    }
                },
                "operandTwo": {
                    "target": "com.amazonaws.connectcases#OperandTwo",
                    "traits": {
                        "smithy.api#documentation": "<p>Represents the right hand operand in the condition.</p>",
                        "smithy.api#required": {}
                    }
                },
                "result": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the outer rule if the condition evaluates to true.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Boolean operands for a condition. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. \nFor more\n      information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a\n        case template</a>.</p>"
            }
        },
        "com.amazonaws.connectcases#Case": {
            "type": "resource",
            "identifiers": {
                "domainId": {
                    "target": "com.amazonaws.connectcases#DomainId"
                },
                "caseId": {
                    "target": "com.amazonaws.connectcases#CaseId"
                }
            },
            "create": {
                "target": "com.amazonaws.connectcases#CreateCase"
            },
            "read": {
                "target": "com.amazonaws.connectcases#GetCase"
            },
            "update": {
                "target": "com.amazonaws.connectcases#UpdateCase"
            },
            "operations": [
                {
                    "target": "com.amazonaws.connectcases#GetCaseAuditEvents"
                }
            ],
            "collectionOperations": [
                {
                    "target": "com.amazonaws.connectcases#ListCasesForContact"
                },
                {
                    "target": "com.amazonaws.connectcases#SearchCases"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.connectcases#RelatedItem"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "domain/{domainId}/case/{caseId}"
                }
            }
        },
        "com.amazonaws.connectcases#CaseArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 500
                }
            }
        },
        "com.amazonaws.connectcases#CaseEventIncludedData": {
            "type": "structure",
            "members": {
                "fields": {
                    "target": "com.amazonaws.connectcases#FieldIdentifierList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of field identifiers.</p>",
                        "smithy.api#length": {
                            "max": 200
                        },
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details of what case data is published through the case event stream.</p>"
            }
        },
        "com.amazonaws.connectcases#CaseFilter": {
            "type": "union",
            "members": {
                "field": {
                    "target": "com.amazonaws.connectcases#FieldFilter",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of fields to filter on.</p>"
                    }
                },
                "not": {
                    "target": "com.amazonaws.connectcases#CaseFilter"
                },
                "andAll": {
                    "target": "com.amazonaws.connectcases#CaseFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides \"and all\" filtering.</p>",
                        "smithy.api#length": {
                            "max": 10
                        }
                    }
                },
                "orAll": {
                    "target": "com.amazonaws.connectcases#CaseFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides \"or all\" filtering.</p>",
                        "smithy.api#length": {
                            "max": 10
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A filter for cases. Only one value can be provided.</p>"
            }
        },
        "com.amazonaws.connectcases#CaseFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcases#CaseFilter"
            }
        },
        "com.amazonaws.connectcases#CaseId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 500
                }
            }
        },
        "com.amazonaws.connectcases#CaseRule": {
            "type": "resource",
            "identifiers": {
                "domainId": {
                    "target": "com.amazonaws.connectcases#DomainId"
                },
                "caseRuleId": {
                    "target": "com.amazonaws.connectcases#CaseRuleId"
                }
            },
            "create": {
                "target": "com.amazonaws.connectcases#CreateCaseRule"
            },
            "update": {
                "target": "com.amazonaws.connectcases#UpdateCaseRule"
            },
            "delete": {
                "target": "com.amazonaws.connectcases#DeleteCaseRule"
            },
            "list": {
                "target": "com.amazonaws.connectcases#ListCaseRules"
            },
            "collectionOperations": [
                {
                    "target": "com.amazonaws.connectcases#BatchGetCaseRule"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "domain/{domainId}/case-rule/{caseRuleId}"
                }
            }
        },
        "com.amazonaws.connectcases#CaseRuleArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 500
                }
            }
        },
        "com.amazonaws.connectcases#CaseRuleDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 255
                }
            }
        },
        "com.amazonaws.connectcases#CaseRuleDetails": {
            "type": "union",
            "members": {
                "required": {
                    "target": "com.amazonaws.connectcases#RequiredCaseRule",
                    "traits": {
                        "smithy.api#documentation": "<p>Required rule type, used to indicate whether a field is required.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents what rule type should take place, under what conditions.\n      In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. \nFor more\n      information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a\n        case template</a>.</p>"
            }
        },
        "com.amazonaws.connectcases#CaseRuleError": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.connectcases#CaseRuleId",
                    "traits": {
                        "smithy.api#documentation": "<p>The case rule identifier that caused the error.</p>",
                        "smithy.api#required": {}
                    }
                },
                "errorCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Error code from getting a case rule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Error message from getting a case rule.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Error for batch describe case rules API failure. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. \nFor more\n      information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a\n        case template</a>.</p>"
            }
        },
        "com.amazonaws.connectcases#CaseRuleId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 500
                }
            }
        },
        "com.amazonaws.connectcases#CaseRuleIdentifier": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.connectcases#CaseRuleId",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique identifier of a case rule.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Object containing case rule identifier information.</p>"
            }
        },
        "com.amazonaws.connectcases#CaseRuleIdentifierList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcases#CaseRuleIdentifier"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                }
            }
        },
        "com.amazonaws.connectcases#CaseRuleName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                },
                "smithy.api#pattern": "^.*[\\S]$"
            }
        },
        "com.amazonaws.connectcases#CaseRuleSummary": {
            "type": "structure",
            "members": {
                "caseRuleId": {
                    "target": "com.amazonaws.connectcases#CaseRuleId",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique identifier of a case rule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.connectcases#CaseRuleName",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the case rule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "caseRuleArn": {
                    "target": "com.amazonaws.connectcases#CaseRuleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the case rule. </p>",
                        "smithy.api#required": {}
                    }
                },
                "ruleType": {
                    "target": "com.amazonaws.connectcases#RuleType",
                    "traits": {
                        "smithy.api#documentation": "<p>Possible types for a rule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.connectcases#CaseRuleDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Description of a case rule.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary information of this case rule. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. \nFor more\n      information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a\n        case template</a>.</p>"
            }
        },
        "com.amazonaws.connectcases#CaseRuleSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcases#CaseRuleSummary"
            }
        },
        "com.amazonaws.connectcases#CaseSummary": {
            "type": "structure",
            "members": {
                "caseId": {
                    "target": "com.amazonaws.connectcases#CaseId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier of the case.</p>",
                        "smithy.api#required": {}
                    }
                },
                "templateId": {
                    "target": "com.amazonaws.connectcases#TemplateId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier of a template.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Case summary information.</p>"
            }
        },
        "com.amazonaws.connectcases#CaseSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcases#CaseSummary"
            }
        },
        "com.amazonaws.connectcases#Channel": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.connectcases#ChannelList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcases#Channel"
            }
        },
        "com.amazonaws.connectcases#CommentBody": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 15000
                }
            }
        },
        "com.amazonaws.connectcases#CommentBodyTextType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "Text/Plain",
                        "name": "PLAINTEXT"
                    }
                ]
            }
        },
        "com.amazonaws.connectcases#CommentContent": {
            "type": "structure",
            "members": {
                "body": {
                    "target": "com.amazonaws.connectcases#CommentBody",
                    "traits": {
                        "smithy.api#documentation": "<p>Text in the body of a <code>Comment</code> on a case.</p>",
                        "smithy.api#required": {}
                    }
                },
                "contentType": {
                    "target": "com.amazonaws.connectcases#CommentBodyTextType",
                    "traits": {
                        "smithy.api#documentation": "<p>Type of the text in the box of a <code>Comment</code> on a case.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents the content of a <code>Comment</code> to be returned to agents.</p>"
            }
        },
        "com.amazonaws.connectcases#CommentFilter": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>A filter for related items of type <code>Comment</code>.</p>"
            }
        },
        "com.amazonaws.connectcases#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The requested operation would cause a conflict with the current state of a service\n      resource associated with the request. Resolve the conflict before retrying this request. See\n      the accompanying error message for details.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.connectcases#ConnectedToSystemTime": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "date-time"
            }
        },
        "com.amazonaws.connectcases#Contact": {
            "type": "structure",
            "members": {
                "contactArn": {
                    "target": "com.amazonaws.connectcases#ContactArn",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier of a contact in Amazon Connect.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents an Amazon Connect contact object. </p>"
            }
        },
        "com.amazonaws.connectcases#ContactArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 500
                }
            }
        },
        "com.amazonaws.connectcases#ContactContent": {
            "type": "structure",
            "members": {
                "contactArn": {
                    "target": "com.amazonaws.connectcases#ContactArn",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier of a contact in Amazon Connect.</p>",
                        "smithy.api#required": {}
                    }
                },
                "channel": {
                    "target": "com.amazonaws.connectcases#Channel",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of channels to filter on for related items of type <code>Contact</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "connectedToSystemTime": {
                    "target": "com.amazonaws.connectcases#ConnectedToSystemTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The difference between the <code>InitiationTimestamp</code> and the\n        <code>DisconnectTimestamp</code> of the contact.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents a content of an Amazon Connect contact object.</p>"
            }
        },
        "com.amazonaws.connectcases#ContactFilter": {
            "type": "structure",
            "members": {
                "channel": {
                    "target": "com.amazonaws.connectcases#ChannelList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of channels to filter on for related items of type <code>Contact</code>.</p>",
                        "smithy.api#length": {
                            "max": 3
                        }
                    }
                },
                "contactArn": {
                    "target": "com.amazonaws.connectcases#ContactArn",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier of a contact in Amazon Connect.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A filter for related items of type <code>Contact</code>.</p>"
            }
        },
        "com.amazonaws.connectcases#CreateCase": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcases#CreateCaseRequest"
            },
            "output": {
                "target": "com.amazonaws.connectcases#CreateCaseResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcases#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcases#ConflictException"
                },
                {
                    "target": "com.amazonaws.connectcases#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcases#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.connectcases#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.connectcases#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<note>\n            <p>If you provide a value for <code>PerformedBy.UserArn</code> you must also have <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DescribeUser.html\">connect:DescribeUser</a> permission on the User ARN resource that you provide</p>\n         </note>\n         <p>Creates a case in the specified Cases domain. Case system and custom fields are taken\n      as an array id/value pairs with a declared data types.</p>\n         <p>The following fields are required when creating a case:</p>\n    \n         <ul>\n            <li>\n               <p>\n                  <code>customer_id</code> - You must provide the full customer profile ARN in this format:\n            <code>arn:aws:profile:your_AWS_Region:your_AWS_account\n            ID:domains/your_profiles_domain_name/profiles/profile_ID</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>title</code>\n               </p>\n            </li>\n         </ul>",
                "smithy.api#http": {
                    "uri": "/domains/{domainId}/cases",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.connectcases#CreateCaseRequest": {
            "type": "structure",
            "members": {
                "domainId": {
                    "target": "com.amazonaws.connectcases#DomainId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Cases domain. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "templateId": {
                    "target": "com.amazonaws.connectcases#TemplateId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier of a template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "fields": {
                    "target": "com.amazonaws.connectcases#FieldValueList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects with field ID (matching ListFields/DescribeField) and value union\n      data.</p>",
                        "smithy.api#length": {
                            "max": 100
                        },
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#length": {
                            "max": 64
                        }
                    }
                },
                "performedBy": {
                    "target": "com.amazonaws.connectcases#UserUnion"
                }
            }
        },
        "com.amazonaws.connectcases#CreateCaseResponse": {
            "type": "structure",
            "members": {
                "caseId": {
                    "target": "com.amazonaws.connectcases#CaseId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier of the case.</p>",
                        "smithy.api#required": {}
                    }
                },
                "caseArn": {
                    "target": "com.amazonaws.connectcases#CaseArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the case.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.connectcases#CreateCaseRule": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcases#CreateCaseRuleRequest"
            },
            "output": {
                "target": "com.amazonaws.connectcases#CreateCaseRuleResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcases#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcases#ConflictException"
                },
                {
                    "target": "com.amazonaws.connectcases#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcases#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.connectcases#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.connectcases#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.connectcases#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new case rule. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>.  For more\n      information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a\n        case template</a>.</p>",
                "smithy.api#http": {
                    "uri": "/domains/{domainId}/case-rules",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.connectcases#CreateCaseRuleRequest": {
            "type": "structure",
            "members": {
                "domainId": {
                    "target": "com.amazonaws.connectcases#DomainId",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique identifier of a Cases domain.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.connectcases#CaseRuleName",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the case rule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.connectcases#CaseRuleDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of a case rule.</p>"
                    }
                },
                "rule": {
                    "target": "com.amazonaws.connectcases#CaseRuleDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>Represents what rule type should take place, under what conditions.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.connectcases#CreateCaseRuleResponse": {
            "type": "structure",
            "members": {
                "caseRuleId": {
                    "target": "com.amazonaws.connectcases#CaseRuleId",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique identifier of a case rule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "caseRuleArn": {
                    "target": "com.amazonaws.connectcases#CaseRuleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a case rule.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.connectcases#CreateDomain": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcases#CreateDomainRequest"
            },
            "output": {
                "target": "com.amazonaws.connectcases#CreateDomainResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcases#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcases#ConflictException"
                },
                {
                    "target": "com.amazonaws.connectcases#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcases#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.connectcases#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.connectcases#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a domain, which is a container for all case data, such as cases, fields, templates\n      and layouts. Each Amazon Connect instance can be associated with only one Cases\n      domain.</p>\n         <important>\n            <p>This will not associate your connect instance to Cases domain. Instead, use the\n          Amazon Connect\n        <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_CreateIntegrationAssociation.html\">CreateIntegrationAssociation</a> API. You need specific IAM\n        permissions to successfully associate the Cases domain. For more information, see\n          <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/required-permissions-iam-cases.html#onboard-cases-iam\">Onboard to Cases</a>.</p>\n      \n         </important>",
                "smithy.api#http": {
                    "uri": "/domains",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.connectcases#CreateDomainRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.connectcases#DomainName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name for your Cases domain. It must be unique for your Amazon Web Services\n      account.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.connectcases#CreateDomainResponse": {
            "type": "structure",
            "members": {
                "domainId": {
                    "target": "com.amazonaws.connectcases#DomainId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Cases domain. </p>",
                        "smithy.api#required": {}
                    }
                },
                "domainArn": {
                    "target": "com.amazonaws.connectcases#DomainArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the Cases domain.</p>",
                        "smithy.api#required": {}
                    }
                },
                "domainStatus": {
                    "target": "com.amazonaws.connectcases#DomainStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the domain.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.connectcases#CreateField": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcases#CreateFieldRequest"
            },
            "output": {
                "target": "com.amazonaws.connectcases#CreateFieldResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcases#AccessDeniedException"
                },
[...]
