{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.connectcampaignsv2#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "xAmzErrorType": {
                    "target": "com.amazonaws.connectcampaignsv2#XAmazonErrorType",
                    "traits": {
                        "smithy.api#httpHeader": "x-amzn-ErrorType"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "You do not have sufficient access to perform this action.",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.connectcampaignsv2#AgentlessConfig": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Agentless config"
            }
        },
        "com.amazonaws.connectcampaignsv2#AmazonConnectCampaignServiceV2": {
            "type": "service",
            "version": "2024-04-23",
            "operations": [
                {
                    "target": "com.amazonaws.connectcampaignsv2#CreateCampaign"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#DeleteCampaign"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#DeleteCampaignChannelSubtypeConfig"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#DeleteCampaignCommunicationLimits"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#DeleteCampaignCommunicationTime"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#DeleteConnectInstanceConfig"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#DeleteConnectInstanceIntegration"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#DeleteInstanceOnboardingJob"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#DescribeCampaign"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#GetCampaignState"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#GetCampaignStateBatch"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#GetConnectInstanceConfig"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#GetInstanceCommunicationLimits"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#GetInstanceOnboardingJobStatus"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ListCampaigns"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ListConnectInstanceIntegrations"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#PauseCampaign"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#PutConnectInstanceIntegration"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#PutInstanceCommunicationLimits"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#PutOutboundRequestBatch"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#PutProfileOutboundRequestBatch"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ResumeCampaign"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#StartCampaign"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#StartInstanceOnboardingJob"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#StopCampaign"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#TagResource"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#UntagResource"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#UpdateCampaignChannelSubtypeConfig"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#UpdateCampaignCommunicationLimits"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#UpdateCampaignCommunicationTime"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#UpdateCampaignFlowAssociation"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#UpdateCampaignName"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#UpdateCampaignSchedule"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#UpdateCampaignSource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "ConnectCampaignsV2",
                    "arnNamespace": "connect-campaigns",
                    "cloudTrailEventSource": "connect-campaigns.amazonaws.com"
                },
                "aws.auth#sigv4": {
                    "name": "connect-campaigns"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "origin": "*",
                    "additionalAllowedHeaders": [
                        "*",
                        "Authorization",
                        "Date",
                        "X-Amz-Date",
                        "X-Amz-Security-Token",
                        "X-Amz-Target",
                        "content-type",
                        "x-amz-content-sha256",
                        "x-amz-user-agent",
                        "x-amzn-platform-id",
                        "x-amzn-trace-id"
                    ],
                    "additionalExposedHeaders": [
                        "x-amzn-errortype",
                        "x-amzn-requestid",
                        "x-amzn-errormessage",
                        "x-amzn-trace-id",
                        "x-amz-apigw-id",
                        "date"
                    ],
                    "maxAge": 86400
                },
                "smithy.api#documentation": "Provide APIs to create and manage Amazon Connect Campaigns.",
                "smithy.api#title": "AmazonConnectCampaignServiceV2",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://connect-campaigns-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://connect-campaigns-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://connect-campaigns.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://connect-campaigns.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://connect-campaigns.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.connectcampaignsv2#AnswerMachineDetectionConfig": {
            "type": "structure",
            "members": {
                "enableAnswerMachineDetection": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Enable or disable answering machine detection",
                        "smithy.api#required": {}
                    }
                },
                "awaitAnswerMachinePrompt": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#default": null,
                        "smithy.api#documentation": "Enable or disable await answer machine prompt"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Answering Machine Detection config"
            }
        },
        "com.amazonaws.connectcampaignsv2#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Amazon Resource Names(ARN)",
                "smithy.api#length": {
                    "min": 20,
                    "max": 500
                },
                "smithy.api#pattern": "^arn:[a-zA-Z0-9-]+:[a-zA-Z0-9-]+:[a-z]{2}-[a-z]+-\\d{1,2}:[a-zA-Z0-9-]+:[^:]+(?:/[^:]+)*(?:/[^:]+)?(?:\\:[^:]+)?$"
            }
        },
        "com.amazonaws.connectcampaignsv2#AttributeName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The key of the attribute. Attribute keys can include only alphanumeric, dash, and underscore characters.",
                "smithy.api#length": {
                    "min": 0,
                    "max": 32767
                },
                "smithy.api#pattern": "^[a-zA-Z0-9\\-_]+$"
            }
        },
        "com.amazonaws.connectcampaignsv2#AttributeValue": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The value of the attribute.",
                "smithy.api#length": {
                    "min": 0,
                    "max": 32767
                },
                "smithy.api#pattern": "^.*$"
            }
        },
        "com.amazonaws.connectcampaignsv2#Attributes": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.connectcampaignsv2#AttributeName"
            },
            "value": {
                "target": "com.amazonaws.connectcampaignsv2#AttributeValue"
            },
            "traits": {
                "smithy.api#documentation": "A custom key-value pair using an attribute map. The attributes are standard Amazon Connect attributes, and can be accessed in contact flows just like any other contact attributes.",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#BandwidthAllocation": {
            "type": "double",
            "traits": {
                "smithy.api#documentation": "The bandwidth allocation of a queue resource.",
                "smithy.api#range": {
                    "min": 0,
                    "max": 1
                }
            }
        },
        "com.amazonaws.connectcampaignsv2#Campaign": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "arn": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignArn",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignName",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "connectInstanceId": {
                    "target": "com.amazonaws.connectcampaignsv2#InstanceId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "channelSubtypeConfig": {
                    "target": "com.amazonaws.connectcampaignsv2#ChannelSubtypeConfig",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "source": {
                    "target": "com.amazonaws.connectcampaignsv2#Source"
                },
                "connectCampaignFlowArn": {
                    "target": "com.amazonaws.connectcampaignsv2#Arn"
                },
                "schedule": {
                    "target": "com.amazonaws.connectcampaignsv2#Schedule"
                },
                "communicationTimeConfig": {
                    "target": "com.amazonaws.connectcampaignsv2#CommunicationTimeConfig"
                },
                "communicationLimitsOverride": {
                    "target": "com.amazonaws.connectcampaignsv2#CommunicationLimitsConfig"
                },
                "tags": {
                    "target": "com.amazonaws.connectcampaignsv2#TagMap"
                }
            },
            "traits": {
                "smithy.api#documentation": "An Amazon Connect campaign."
            }
        },
        "com.amazonaws.connectcampaignsv2#CampaignArn": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The resource name of an Amazon Connect campaign.",
                "smithy.api#length": {
                    "min": 20,
                    "max": 500
                }
            }
        },
        "com.amazonaws.connectcampaignsv2#CampaignDeletionPolicy": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Enumeration of the policies to enact on existing campaigns during instance config deletion",
                "smithy.api#enum": [
                    {
                        "value": "RETAIN_ALL",
                        "name": "RETAIN_ALL"
                    },
                    {
                        "value": "DELETE_ALL",
                        "name": "DELETE_ALL"
                    }
                ]
            }
        },
        "com.amazonaws.connectcampaignsv2#CampaignFilters": {
            "type": "structure",
            "members": {
                "instanceIdFilter": {
                    "target": "com.amazonaws.connectcampaignsv2#InstanceIdFilter"
                }
            },
            "traits": {
                "smithy.api#documentation": "Filter model by type"
            }
        },
        "com.amazonaws.connectcampaignsv2#CampaignId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Identifier representing a Campaign",
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                },
                "smithy.api#pattern": "^[a-zA-Z0-9\\-:/]*$"
            }
        },
        "com.amazonaws.connectcampaignsv2#CampaignIdList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcampaignsv2#CampaignId"
            },
            "traits": {
                "smithy.api#documentation": "List of CampaignId"
            }
        },
        "com.amazonaws.connectcampaignsv2#CampaignName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The name of an Amazon Connect Campaign name.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 127
                }
            }
        },
        "com.amazonaws.connectcampaignsv2#CampaignState": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "State of a campaign",
                "smithy.api#enum": [
                    {
                        "value": "Initialized",
                        "name": "INITIALIZED",
                        "documentation": "Campaign is in initialized state"
                    },
                    {
                        "value": "Running",
                        "name": "RUNNING",
                        "documentation": "Campaign is in running state"
                    },
                    {
                        "value": "Paused",
                        "name": "PAUSED",
                        "documentation": "Campaign is in paused state"
                    },
                    {
                        "value": "Stopped",
                        "name": "STOPPED",
                        "documentation": "Campaign is in stopped state"
                    },
                    {
                        "value": "Failed",
                        "name": "FAILED",
                        "documentation": "Campaign is in failed state"
                    },
                    {
                        "value": "Completed",
                        "name": "COMPLETED",
                        "documentation": "Campaign is in completed state"
                    }
                ]
            }
        },
        "com.amazonaws.connectcampaignsv2#CampaignSummary": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "arn": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignArn",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignName",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "connectInstanceId": {
                    "target": "com.amazonaws.connectcampaignsv2#InstanceId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "channelSubtypes": {
                    "target": "com.amazonaws.connectcampaignsv2#ChannelSubtypeList",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "schedule": {
                    "target": "com.amazonaws.connectcampaignsv2#Schedule"
                },
                "connectCampaignFlowArn": {
                    "target": "com.amazonaws.connectcampaignsv2#Arn"
                }
            },
            "traits": {
                "smithy.api#documentation": "An Amazon Connect campaign summary."
            }
        },
        "com.amazonaws.connectcampaignsv2#CampaignSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcampaignsv2#CampaignSummary"
            },
            "traits": {
                "smithy.api#documentation": "A list of Amazon Connect campaigns."
            }
        },
        "com.amazonaws.connectcampaignsv2#Capacity": {
            "type": "double",
            "traits": {
                "smithy.api#documentation": "Allocates outbound capacity for the specific channel subtype of this campaign between multiple active campaigns",
                "smithy.api#range": {
                    "min": 0.01,
                    "max": 1
                }
            }
        },
        "com.amazonaws.connectcampaignsv2#ChannelSubtype": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The type of campaign channel subtype.",
                "smithy.api#enum": [
                    {
                        "value": "TELEPHONY",
                        "name": "TELEPHONY"
                    },
                    {
                        "value": "SMS",
                        "name": "SMS"
                    },
                    {
                        "value": "EMAIL",
                        "name": "EMAIL"
                    }
                ]
            }
        },
        "com.amazonaws.connectcampaignsv2#ChannelSubtypeConfig": {
            "type": "structure",
            "members": {
                "telephony": {
                    "target": "com.amazonaws.connectcampaignsv2#TelephonyChannelSubtypeConfig"
                },
                "sms": {
                    "target": "com.amazonaws.connectcampaignsv2#SmsChannelSubtypeConfig"
                },
                "email": {
                    "target": "com.amazonaws.connectcampaignsv2#EmailChannelSubtypeConfig"
                }
            },
            "traits": {
                "smithy.api#documentation": "Campaign Channel Subtype config"
            }
        },
        "com.amazonaws.connectcampaignsv2#ChannelSubtypeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcampaignsv2#ChannelSubtype"
            },
            "traits": {
                "smithy.api#documentation": "Channel subtype list",
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#ChannelSubtypeParameters": {
            "type": "union",
            "members": {
                "telephony": {
                    "target": "com.amazonaws.connectcampaignsv2#TelephonyChannelSubtypeParameters"
                },
                "sms": {
                    "target": "com.amazonaws.connectcampaignsv2#SmsChannelSubtypeParameters"
                },
                "email": {
                    "target": "com.amazonaws.connectcampaignsv2#EmailChannelSubtypeParameters"
                }
            },
            "traits": {
                "smithy.api#documentation": "ChannelSubtypeParameters for an outbound request"
            }
        },
        "com.amazonaws.connectcampaignsv2#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Client provided parameter used for idempotency. Its value must be unique for each request.",
                "smithy.api#length": {
                    "min": 0,
                    "max": 200
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_\\-.]*$"
            }
        },
        "com.amazonaws.connectcampaignsv2#CommunicationLimit": {
            "type": "structure",
            "members": {
                "maxCountPerRecipient": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "Maximum number of contacts allowed for a given target within the given frequency.",
                        "smithy.api#range": {
                            "min": 1
                        },
                        "smithy.api#required": {}
                    }
                },
                "frequency": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "The number of days to consider with regards to this limit.",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 30
                        },
                        "smithy.api#required": {}
                    }
                },
                "unit": {
                    "target": "com.amazonaws.connectcampaignsv2#CommunicationLimitTimeUnit",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Communication Limit"
            }
        },
        "com.amazonaws.connectcampaignsv2#CommunicationLimitList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcampaignsv2#CommunicationLimit"
            },
            "traits": {
                "smithy.api#documentation": "List of communication limit",
                "smithy.api#length": {
                    "max": 2
                }
            }
        },
        "com.amazonaws.connectcampaignsv2#CommunicationLimitTimeUnit": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The communication limit time unit.",
                "smithy.api#enum": [
                    {
                        "value": "DAY",
                        "name": "DAY"
                    }
                ]
            }
        },
        "com.amazonaws.connectcampaignsv2#CommunicationLimits": {
            "type": "union",
            "members": {
                "communicationLimitsList": {
                    "target": "com.amazonaws.connectcampaignsv2#CommunicationLimitList"
                }
            },
            "traits": {
                "smithy.api#documentation": "Communication limits"
            }
        },
        "com.amazonaws.connectcampaignsv2#CommunicationLimitsConfig": {
            "type": "structure",
            "members": {
                "allChannelSubtypes": {
                    "target": "com.amazonaws.connectcampaignsv2#CommunicationLimits"
                },
                "instanceLimitsHandling": {
                    "target": "com.amazonaws.connectcampaignsv2#InstanceLimitsHandling"
                }
            },
            "traits": {
                "smithy.api#documentation": "Communication limits config"
            }
        },
        "com.amazonaws.connectcampaignsv2#CommunicationLimitsConfigType": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The type of campaign communication limits config.",
                "smithy.api#enum": [
                    {
                        "value": "ALL_CHANNEL_SUBTYPES",
                        "name": "ALL_CHANNEL_SUBTYPES"
                    }
                ]
            }
        },
        "com.amazonaws.connectcampaignsv2#CommunicationTimeConfig": {
            "type": "structure",
            "members": {
                "localTimeZoneConfig": {
                    "target": "com.amazonaws.connectcampaignsv2#LocalTimeZoneConfig",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "telephony": {
                    "target": "com.amazonaws.connectcampaignsv2#TimeWindow"
                },
                "sms": {
                    "target": "com.amazonaws.connectcampaignsv2#TimeWindow"
                },
                "email": {
                    "target": "com.amazonaws.connectcampaignsv2#TimeWindow"
                }
            },
            "traits": {
                "smithy.api#documentation": "Campaign communication time config"
            }
        },
        "com.amazonaws.connectcampaignsv2#CommunicationTimeConfigType": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The type of campaign communication time config",
                "smithy.api#enum": [
                    {
                        "value": "TELEPHONY",
                        "name": "TELEPHONY"
                    },
                    {
                        "value": "SMS",
                        "name": "SMS"
                    },
                    {
                        "value": "EMAIL",
                        "name": "EMAIL"
                    }
                ]
            }
        },
        "com.amazonaws.connectcampaignsv2#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "xAmzErrorType": {
                    "target": "com.amazonaws.connectcampaignsv2#XAmazonErrorType",
                    "traits": {
                        "smithy.api#httpHeader": "x-amzn-ErrorType"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The request could not be processed because of conflict in the current state of the resource.",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.connectcampaignsv2#ContactFlowId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The identifier of the contact flow for the outbound call.",
                "smithy.api#length": {
                    "max": 500
                }
            }
        },
        "com.amazonaws.connectcampaignsv2#CreateCampaign": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcampaignsv2#CreateCampaignRequest"
            },
            "output": {
                "target": "com.amazonaws.connectcampaignsv2#CreateCampaignResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcampaignsv2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ConflictException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Creates a campaign for the specified Amazon Connect account. This API is idempotent.",
                "smithy.api#http": {
                    "uri": "/v2/campaigns",
                    "method": "PUT"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#CreateCampaignRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignName",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "connectInstanceId": {
                    "target": "com.amazonaws.connectcampaignsv2#InstanceId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "channelSubtypeConfig": {
                    "target": "com.amazonaws.connectcampaignsv2#ChannelSubtypeConfig",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "source": {
                    "target": "com.amazonaws.connectcampaignsv2#Source"
                },
                "connectCampaignFlowArn": {
                    "target": "com.amazonaws.connectcampaignsv2#Arn"
                },
                "schedule": {
                    "target": "com.amazonaws.connectcampaignsv2#Schedule"
                },
                "communicationTimeConfig": {
                    "target": "com.amazonaws.connectcampaignsv2#CommunicationTimeConfig"
                },
                "communicationLimitsOverride": {
                    "target": "com.amazonaws.connectcampaignsv2#CommunicationLimitsConfig"
                },
                "tags": {
                    "target": "com.amazonaws.connectcampaignsv2#TagMap"
                }
            },
            "traits": {
                "smithy.api#documentation": "The request for CreateCampaign API.",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#CreateCampaignResponse": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignId"
                },
                "arn": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignArn"
                },
                "tags": {
                    "target": "com.amazonaws.connectcampaignsv2#TagMap"
                }
            },
            "traits": {
                "smithy.api#documentation": "The response for Create Campaign API",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#CustomerProfilesIntegrationConfig": {
            "type": "structure",
            "members": {
                "domainArn": {
                    "target": "com.amazonaws.connectcampaignsv2#Arn",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "objectTypeNames": {
                    "target": "com.amazonaws.connectcampaignsv2#ObjectTypeNamesMap",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Customer Profiles integration config"
            }
        },
        "com.amazonaws.connectcampaignsv2#CustomerProfilesIntegrationIdentifier": {
            "type": "structure",
            "members": {
                "domainArn": {
                    "target": "com.amazonaws.connectcampaignsv2#Arn",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Customer Profiles integration identifier"
            }
        },
        "com.amazonaws.connectcampaignsv2#CustomerProfilesIntegrationSummary": {
            "type": "structure",
            "members": {
                "domainArn": {
                    "target": "com.amazonaws.connectcampaignsv2#Arn",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "objectTypeNames": {
                    "target": "com.amazonaws.connectcampaignsv2#ObjectTypeNamesMap",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Customer Profiles integration summary"
            }
        },
        "com.amazonaws.connectcampaignsv2#DailyHours": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.connectcampaignsv2#DayOfWeek"
            },
            "value": {
                "target": "com.amazonaws.connectcampaignsv2#TimeRangeList"
            },
            "traits": {
                "smithy.api#documentation": "Daily Hours map"
            }
        },
        "com.amazonaws.connectcampaignsv2#DayOfWeek": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Day of week enum",
                "smithy.api#enum": [
                    {
                        "value": "MONDAY",
                        "name": "MONDAY"
                    },
                    {
                        "value": "TUESDAY",
                        "name": "TUESDAY"
                    },
                    {
                        "value": "WEDNESDAY",
                        "name": "WEDNESDAY"
                    },
                    {
                        "value": "THURSDAY",
                        "name": "THURSDAY"
                    },
                    {
                        "value": "FRIDAY",
                        "name": "FRIDAY"
                    },
                    {
                        "value": "SATURDAY",
                        "name": "SATURDAY"
                    },
                    {
                        "value": "SUNDAY",
                        "name": "SUNDAY"
                    }
                ]
            }
        },
        "com.amazonaws.connectcampaignsv2#DeleteCampaign": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcampaignsv2#DeleteCampaignRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcampaignsv2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Deletes a campaign from the specified Amazon Connect account.",
                "smithy.api#http": {
                    "uri": "/v2/campaigns/{id}",
                    "method": "DELETE"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DeleteCampaignChannelSubtypeConfig": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcampaignsv2#DeleteCampaignChannelSubtypeConfigRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcampaignsv2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ConflictException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Deletes the channel subtype config of a campaign. This API is idempotent.",
                "smithy.api#http": {
                    "uri": "/v2/campaigns/{id}/channel-subtype-config",
                    "method": "DELETE"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DeleteCampaignChannelSubtypeConfigRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "channelSubtype": {
                    "target": "com.amazonaws.connectcampaignsv2#ChannelSubtype",
                    "traits": {
                        "smithy.api#httpQuery": "channelSubtype",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The request for DeleteCampaignChannelSubtypeConfig API.",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DeleteCampaignCommunicationLimits": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcampaignsv2#DeleteCampaignCommunicationLimitsRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcampaignsv2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ConflictException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#InvalidCampaignStateException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Deletes the communication limits config for a campaign. This API is idempotent.",
                "smithy.api#http": {
                    "uri": "/v2/campaigns/{id}/communication-limits",
                    "method": "DELETE"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DeleteCampaignCommunicationLimitsRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "config": {
                    "target": "com.amazonaws.connectcampaignsv2#CommunicationLimitsConfigType",
                    "traits": {
                        "smithy.api#httpQuery": "config",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The request for DeleteCampaignCommunicationLimits API.",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DeleteCampaignCommunicationTime": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcampaignsv2#DeleteCampaignCommunicationTimeRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcampaignsv2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ConflictException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#InvalidCampaignStateException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Deletes the communication time config for a campaign. This API is idempotent.",
                "smithy.api#http": {
                    "uri": "/v2/campaigns/{id}/communication-time",
                    "method": "DELETE"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DeleteCampaignCommunicationTimeRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "config": {
                    "target": "com.amazonaws.connectcampaignsv2#CommunicationTimeConfigType",
                    "traits": {
                        "smithy.api#httpQuery": "config",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The request for DeleteCampaignCommunicationTime API.",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DeleteCampaignRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The request for DeleteCampaign API.",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DeleteConnectInstanceConfig": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcampaignsv2#DeleteConnectInstanceConfigRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcampaignsv2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#InvalidStateException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Deletes a connect instance config from the specified AWS account.",
                "smithy.api#http": {
                    "uri": "/v2/connect-instance/{connectInstanceId}/config",
                    "method": "DELETE"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DeleteConnectInstanceConfigRequest": {
            "type": "structure",
            "members": {
                "connectInstanceId": {
                    "target": "com.amazonaws.connectcampaignsv2#InstanceId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "campaignDeletionPolicy": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignDeletionPolicy",
                    "traits": {
                        "smithy.api#httpQuery": "campaignDeletionPolicy"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The request for DeleteConnectInstanceConfig API.",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DeleteConnectInstanceIntegration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcampaignsv2#DeleteConnectInstanceIntegrationRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcampaignsv2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Delete the integration for the specified Amazon Connect instance.",
                "smithy.api#http": {
                    "uri": "/v2/connect-instance/{connectInstanceId}/integrations/delete",
                    "method": "POST"
                }
            }
        },
        "com.amazonaws.connectcampaignsv2#DeleteConnectInstanceIntegrationRequest": {
            "type": "structure",
            "members": {
                "connectInstanceId": {
                    "target": "com.amazonaws.connectcampaignsv2#InstanceId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "integrationIdentifier": {
                    "target": "com.amazonaws.connectcampaignsv2#IntegrationIdentifier",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The request for DeleteConnectInstanceIntegration API.",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DeleteInstanceOnboardingJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcampaignsv2#DeleteInstanceOnboardingJobRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcampaignsv2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#InvalidStateException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Delete the Connect Campaigns onboarding job for the specified Amazon Connect instance.",
                "smithy.api#http": {
                    "uri": "/v2/connect-instance/{connectInstanceId}/onboarding",
                    "method": "DELETE"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DeleteInstanceOnboardingJobRequest": {
            "type": "structure",
            "members": {
                "connectInstanceId": {
                    "target": "com.amazonaws.connectcampaignsv2#InstanceId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The request for DeleteInstanceOnboardingJob API.",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DescribeCampaign": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.connectcampaignsv2#DescribeCampaignRequest"
            },
            "output": {
                "target": "com.amazonaws.connectcampaignsv2#DescribeCampaignResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.connectcampaignsv2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.connectcampaignsv2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Describes the specific campaign.",
                "smithy.api#http": {
                    "uri": "/v2/campaigns/{id}",
                    "method": "GET"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DescribeCampaignRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The request for DescribeCampaign API.",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DescribeCampaignResponse": {
            "type": "structure",
            "members": {
                "campaign": {
                    "target": "com.amazonaws.connectcampaignsv2#Campaign"
                }
            },
            "traits": {
                "smithy.api#documentation": "The response for DescribeCampaign API.",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DestinationPhoneNumber": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The phone number of the customer, in E.164 format.",
                "smithy.api#length": {
                    "min": 0,
                    "max": 20
                },
                "smithy.api#pattern": "^[\\d\\-+]*$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#DialRequestId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Identifier representing a Dial request",
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_\\-.]*$"
            }
        },
        "com.amazonaws.connectcampaignsv2#EmailAddress": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Source/Destination Email address used for Email messages",
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "[^\\s@]+@[^\\s@]+\\.[^\\s@]+",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#EmailChannelSubtypeConfig": {
            "type": "structure",
            "members": {
                "capacity": {
                    "target": "com.amazonaws.connectcampaignsv2#Capacity"
                },
                "outboundMode": {
                    "target": "com.amazonaws.connectcampaignsv2#EmailOutboundMode",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "defaultOutboundConfig": {
                    "target": "com.amazonaws.connectcampaignsv2#EmailOutboundConfig",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Email Channel Subtype config"
            }
        },
        "com.amazonaws.connectcampaignsv2#EmailChannelSubtypeParameters": {
            "type": "structure",
            "members": {
                "destinationEmailAddress": {
                    "target": "com.amazonaws.connectcampaignsv2#EmailAddress",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "connectSourceEmailAddress": {
                    "target": "com.amazonaws.connectcampaignsv2#EmailAddress"
                },
                "templateArn": {
                    "target": "com.amazonaws.connectcampaignsv2#Arn"
                },
                "templateParameters": {
                    "target": "com.amazonaws.connectcampaignsv2#Attributes",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Parameters for the Email Channel Subtype"
            }
        },
        "com.amazonaws.connectcampaignsv2#EmailDisplayName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Display name for Email Address",
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.connectcampaignsv2#EmailOutboundConfig": {
            "type": "structure",
            "members": {
                "connectSourceEmailAddress": {
                    "target": "com.amazonaws.connectcampaignsv2#EmailAddress",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "sourceEmailAddressDisplayName": {
                    "target": "com.amazonaws.connectcampaignsv2#EmailDisplayName"
                },
                "wisdomTemplateArn": {
                    "target": "com.amazonaws.connectcampaignsv2#Arn",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Default Email Outbound config"
            }
        },
        "com.amazonaws.connectcampaignsv2#EmailOutboundMode": {
            "type": "union",
            "members": {
                "agentless": {
                    "target": "com.amazonaws.connectcampaignsv2#AgentlessConfig"
                }
            },
            "traits": {
                "smithy.api#documentation": "Email Outbound Mode"
            }
        },
        "com.amazonaws.connectcampaignsv2#Enabled": {
            "type": "boolean",
            "traits": {
                "smithy.api#default": false,
                "smithy.api#documentation": "Boolean to indicate if custom encryption has been enabled."
            }
        },
        "com.amazonaws.connectcampaignsv2#EncryptionConfig": {
            "type": "structure",
            "members": {
                "enabled": {
                    "target": "com.amazonaws.connectcampaignsv2#Enabled",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#required": {}
                    }
                },
                "encryptionType": {
                    "target": "com.amazonaws.connectcampaignsv2#EncryptionType"
                },
                "keyArn": {
                    "target": "com.amazonaws.connectcampaignsv2#EncryptionKey"
                }
            },
            "traits": {
                "smithy.api#documentation": "Encryption config for Connect Instance. Note that sensitive data will always be encrypted.\nIf disabled, service will perform encryption with its own key.\nIf enabled, a KMS key id needs to be provided and KMS charges will apply.\nKMS is only type supported"
            }
        },
        "com.amazonaws.connectcampaignsv2#EncryptionKey": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "KMS key id/arn for encryption config.",
                "smithy.api#length": {
                    "max": 500
                }
            }
        },
        "com.amazonaws.connectcampaignsv2#EncryptionType": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Server-side encryption type.",
                "smithy.api#enum": [
                    {
                        "name": "KMS",
                        "value": "KMS"
                    }
                ]
            }
        },
        "com.amazonaws.connectcampaignsv2#EventTrigger": {
            "type": "structure",
            "members": {
                "customerProfilesDomainArn": {
                    "target": "com.amazonaws.connectcampaignsv2#Arn"
                }
            },
            "traits": {
                "smithy.api#documentation": "Event trigger of the campaign"
            }
        },
        "com.amazonaws.connectcampaignsv2#EventType": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Enumeration of Customer Profiles event type",
                "smithy.api#enum": [
                    {
                        "value": "Campaign-Email",
                        "name": "CAMPAIGN_EMAIL"
                    },
                    {
                        "value": "Campaign-SMS",
                        "name": "CAMPAIGN_SMS"
                    },
                    {
                        "value": "Campaign-Telephony",
                        "name": "CAMPAIGN_TELEPHONY"
                    },
                    {
                        "value": "Campaign-Orchestration",
                        "name": "CAMPAIGN_ORCHESTRATION"
                    }
                ]
            }
        },
        "com.amazonaws.connectcampaignsv2#FailedCampaignStateResponse": {
            "type": "structure",
            "members": {
                "campaignId": {
                    "target": "com.amazonaws.connectcampaignsv2#CampaignId"
                },
                "failureCode": {
                    "target": "com.amazonaws.connectcampaignsv2#GetCampaignStateBatchFailureCode"
                }
            },
            "traits": {
                "smithy.api#documentation": "Failed response of campaign state"
            }
        },
        "com.amazonaws.connectcampaignsv2#FailedCampaignStateResponseList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.connectcampaignsv2#FailedCampaignStateResponse"
            },
            "traits": {
                "smithy.api#documentation": "List of failed requests of campaign state",
                "smithy.api#length": {
                    "min": 0,
                    "max": 25
                }
            }
        },
[...]
