{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.costoptimizationhub#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You are not authorized to use this operation with the given parameters.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.costoptimizationhub#AccountEnrollmentStatus": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.costoptimizationhub#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.costoptimizationhub#EnrollmentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The account enrollment status.</p>"
                    }
                },
                "lastUpdatedTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the account enrollment status was last updated.</p>"
                    }
                },
                "createdTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the account enrollment status was created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the enrollment status of an organization's member accounts in Cost Optimization Hub.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#AccountEnrollmentStatuses": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.costoptimizationhub#AccountEnrollmentStatus"
            }
        },
        "com.amazonaws.costoptimizationhub#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[0-9]{12}$"
            }
        },
        "com.amazonaws.costoptimizationhub#AccountIdList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.costoptimizationhub#AccountId"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.costoptimizationhub#ActionType": {
            "type": "enum",
            "members": {
                "RIGHTSIZE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Rightsize"
                    }
                },
                "STOP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Stop"
                    }
                },
                "UPGRADE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Upgrade"
                    }
                },
                "PURCHASE_SAVINGS_PLANS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PurchaseSavingsPlans"
                    }
                },
                "PURCHASE_RESERVED_INSTANCES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PurchaseReservedInstances"
                    }
                },
                "MIGRATE_TO_GRAVITON": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MigrateToGraviton"
                    }
                },
                "DELETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Delete"
                    }
                },
                "SCALE_IN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ScaleIn"
                    }
                }
            }
        },
        "com.amazonaws.costoptimizationhub#ActionTypeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.costoptimizationhub#ActionType"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.costoptimizationhub#AllocationStrategy": {
            "type": "enum",
            "members": {
                "PRIORITIZED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Prioritized"
                    }
                },
                "LOWEST_PRICE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LowestPrice"
                    }
                }
            }
        },
        "com.amazonaws.costoptimizationhub#AuroraDbClusterStorage": {
            "type": "structure",
            "members": {
                "configuration": {
                    "target": "com.amazonaws.costoptimizationhub#AuroraDbClusterStorageConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The Aurora DB cluster storage configuration used for recommendations.</p>"
                    }
                },
                "costCalculation": {
                    "target": "com.amazonaws.costoptimizationhub#ResourceCostCalculation"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the details of an Aurora DB cluster storage.</p>",
                "smithy.api#tags": [
                    "aurora"
                ]
            }
        },
        "com.amazonaws.costoptimizationhub#AuroraDbClusterStorageConfiguration": {
            "type": "structure",
            "members": {
                "storageType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The storage type to associate with the Aurora DB cluster.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Aurora DB cluster storage configuration used for recommendations.</p>",
                "smithy.api#tags": [
                    "aurora"
                ]
            }
        },
        "com.amazonaws.costoptimizationhub#BlockStoragePerformanceConfiguration": {
            "type": "structure",
            "members": {
                "iops": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of I/O operations per second.</p>"
                    }
                },
                "throughput": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The throughput that the volume supports.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the Amazon Elastic Block Store performance configuration of the current and recommended resource configuration for a recommendation.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#ComputeConfiguration": {
            "type": "structure",
            "members": {
                "vCpu": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of vCPU cores in the resource.</p>"
                    }
                },
                "memorySizeInMB": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The memory size of the resource.</p>"
                    }
                },
                "architecture": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The architecture of the resource.</p>"
                    }
                },
                "platform": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The platform of the resource. The platform is the specific combination of operating system, license model, and software on an instance.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the performance configuration for compute services such as Amazon EC2, Lambda, and ECS.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#ComputeSavingsPlans": {
            "type": "structure",
            "members": {
                "configuration": {
                    "target": "com.amazonaws.costoptimizationhub#ComputeSavingsPlansConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration details of the Compute Savings Plans to purchase.</p>"
                    }
                },
                "costCalculation": {
                    "target": "com.amazonaws.costoptimizationhub#SavingsPlansCostCalculation",
                    "traits": {
                        "smithy.api#documentation": "<p>Cost impact of the Savings Plans purchase recommendation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Compute Savings Plans recommendation details.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#ComputeSavingsPlansConfiguration": {
            "type": "structure",
            "members": {
                "accountScope": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The account scope for which you want recommendations. Amazon Web Services calculates recommendations including the management account and member accounts if the value is set to <code>PAYER</code>. If the value is <code>LINKED</code>, recommendations are calculated for individual member accounts only.</p>"
                    }
                },
                "term": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Savings Plans recommendation term in years.</p>"
                    }
                },
                "paymentOption": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The payment option for the commitment.</p>"
                    }
                },
                "hourlyCommitment": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The hourly commitment for the Savings Plans type.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Compute Savings Plans configuration used for recommendations.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#CostOptimizationHubService": {
            "type": "service",
            "version": "2022-07-26",
            "operations": [
                {
                    "target": "com.amazonaws.costoptimizationhub#GetPreferences"
                },
                {
                    "target": "com.amazonaws.costoptimizationhub#GetRecommendation"
                },
                {
                    "target": "com.amazonaws.costoptimizationhub#ListEnrollmentStatuses"
                },
                {
                    "target": "com.amazonaws.costoptimizationhub#ListRecommendations"
                },
                {
                    "target": "com.amazonaws.costoptimizationhub#ListRecommendationSummaries"
                },
                {
                    "target": "com.amazonaws.costoptimizationhub#UpdateEnrollmentStatus"
                },
                {
                    "target": "com.amazonaws.costoptimizationhub#UpdatePreferences"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Cost Optimization Hub",
                    "endpointPrefix": "cost-optimization-hub"
                },
                "aws.auth#sigv4": {
                    "name": "cost-optimization-hub"
                },
                "aws.protocols#awsJson1_0": {},
                "smithy.api#documentation": "<p>You can use the Cost Optimization Hub API to programmatically identify, filter, aggregate, and quantify savings for your cost optimization recommendations across multiple Amazon Web Services Regions and Amazon Web Services accounts in your organization.</p> <p>The Cost Optimization Hub API provides the following endpoint:</p> <ul> <li> <p> https://cost-optimization-hub.us-east-1.amazonaws.com </p> </li> </ul>",
                "smithy.api#title": "Cost Optimization Hub",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://cost-optimization-hub-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://cost-optimization-hub-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://cost-optimization-hub.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://cost-optimization-hub.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://cost-optimization-hub.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.costoptimizationhub#Datetime": {
            "type": "timestamp"
        },
        "com.amazonaws.costoptimizationhub#DbInstanceConfiguration": {
            "type": "structure",
            "members": {
                "dbInstanceClass": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The DB instance class of the DB instance.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The DB instance configuration used for recommendations.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#DynamoDbReservedCapacity": {
            "type": "structure",
            "members": {
                "configuration": {
                    "target": "com.amazonaws.costoptimizationhub#DynamoDbReservedCapacityConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The DynamoDB reserved capacity configuration used for recommendations.</p>"
                    }
                },
                "costCalculation": {
                    "target": "com.amazonaws.costoptimizationhub#ReservedInstancesCostCalculation"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The DynamoDB reserved capacity recommendation details.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#DynamoDbReservedCapacityConfiguration": {
            "type": "structure",
            "members": {
                "accountScope": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The account scope for which you want recommendations.</p>"
                    }
                },
                "service": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The service for which you want recommendations.</p>"
                    }
                },
                "term": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reserved capacity recommendation term in years.</p>"
                    }
                },
                "paymentOption": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The payment option for the commitment.</p>"
                    }
                },
                "reservedInstancesRegion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Region of the commitment.</p>"
                    }
                },
                "upfrontCost": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>How much purchasing this reserved capacity costs you upfront.</p>"
                    }
                },
                "monthlyRecurringCost": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>How much purchasing this reserved capacity costs you on a monthly basis.</p>"
                    }
                },
                "numberOfCapacityUnitsToPurchase": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of reserved capacity units that Amazon Web Services recommends that you purchase.</p>"
                    }
                },
                "capacityUnits": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The capacity unit of the recommended reservation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The DynamoDB reserved capacity configuration used for recommendations.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#EbsVolume": {
            "type": "structure",
            "members": {
                "configuration": {
                    "target": "com.amazonaws.costoptimizationhub#EbsVolumeConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Elastic Block Store volume configuration used for recommendations.</p>"
                    }
                },
                "costCalculation": {
                    "target": "com.amazonaws.costoptimizationhub#ResourceCostCalculation",
                    "traits": {
                        "smithy.api#documentation": "<p>Cost impact of the recommendation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the Amazon Elastic Block Store volume configuration of the current and recommended resource configuration for a recommendation.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#EbsVolumeConfiguration": {
            "type": "structure",
            "members": {
                "storage": {
                    "target": "com.amazonaws.costoptimizationhub#StorageConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The disk storage of the Amazon Elastic Block Store volume.</p>"
                    }
                },
                "performance": {
                    "target": "com.amazonaws.costoptimizationhub#BlockStoragePerformanceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Elastic Block Store performance configuration.</p>"
                    }
                },
                "attachmentState": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Elastic Block Store attachment state.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Amazon Elastic Block Store volume configuration used for recommendations.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#Ec2AutoScalingGroup": {
            "type": "structure",
            "members": {
                "configuration": {
                    "target": "com.amazonaws.costoptimizationhub#Ec2AutoScalingGroupConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The EC2 Auto Scaling group configuration used for recommendations.</p>"
                    }
                },
                "costCalculation": {
                    "target": "com.amazonaws.costoptimizationhub#ResourceCostCalculation",
                    "traits": {
                        "smithy.api#documentation": "<p>Cost impact of the recommendation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The EC2 Auto Scaling group recommendation details.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#Ec2AutoScalingGroupConfiguration": {
            "type": "structure",
            "members": {
                "instance": {
                    "target": "com.amazonaws.costoptimizationhub#InstanceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the instance for the EC2 Auto Scaling group with a single instance type.</p>"
                    }
                },
                "mixedInstances": {
                    "target": "com.amazonaws.costoptimizationhub#MixedInstanceConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of instance types for an EC2 Auto Scaling group with mixed instance types.</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.costoptimizationhub#Ec2AutoScalingGroupType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of EC2 Auto Scaling group, showing whether it consists of a single instance type or mixed instance types.</p>"
                    }
                },
                "allocationStrategy": {
                    "target": "com.amazonaws.costoptimizationhub#AllocationStrategy",
                    "traits": {
                        "smithy.api#documentation": "<p>The strategy used for allocating instances, based on a predefined priority order or based on the lowest available price.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The EC2 Auto Scaling group configuration used for recommendations.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#Ec2AutoScalingGroupType": {
            "type": "enum",
            "members": {
                "SINGLE_INSTANCE_TYPE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SingleInstanceType"
                    }
                },
                "MIXED_INSTANCE_TYPES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MixedInstanceTypes"
                    }
                }
            }
        },
        "com.amazonaws.costoptimizationhub#Ec2Instance": {
            "type": "structure",
            "members": {
                "configuration": {
                    "target": "com.amazonaws.costoptimizationhub#Ec2InstanceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The EC2 instance configuration used for recommendations.</p>"
                    }
                },
                "costCalculation": {
                    "target": "com.amazonaws.costoptimizationhub#ResourceCostCalculation",
                    "traits": {
                        "smithy.api#documentation": "<p>Cost impact of the recommendation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the EC2 instance configuration of the current and recommended resource configuration for a recommendation.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#Ec2InstanceConfiguration": {
            "type": "structure",
            "members": {
                "instance": {
                    "target": "com.amazonaws.costoptimizationhub#InstanceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the instance.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The EC2 instance configuration used for recommendations.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#Ec2InstanceSavingsPlans": {
            "type": "structure",
            "members": {
                "configuration": {
                    "target": "com.amazonaws.costoptimizationhub#Ec2InstanceSavingsPlansConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The EC2 instance Savings Plans configuration used for recommendations.</p>"
                    }
                },
                "costCalculation": {
                    "target": "com.amazonaws.costoptimizationhub#SavingsPlansCostCalculation",
                    "traits": {
                        "smithy.api#documentation": "<p>Cost impact of the Savings Plans purchase recommendation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The EC2 instance Savings Plans recommendation details.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#Ec2InstanceSavingsPlansConfiguration": {
            "type": "structure",
            "members": {
                "accountScope": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The account scope for which you want recommendations.</p>"
                    }
                },
                "term": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Savings Plans recommendation term in years.</p>"
                    }
                },
                "paymentOption": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The payment option for the commitment.</p>"
                    }
                },
                "hourlyCommitment": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The hourly commitment for the Savings Plans type.</p>"
                    }
                },
                "instanceFamily": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The instance family of the recommended Savings Plan.</p>"
                    }
                },
                "savingsPlansRegion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Region of the commitment.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The EC2 instance Savings Plans configuration used for recommendations.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#Ec2ReservedInstances": {
            "type": "structure",
            "members": {
                "configuration": {
                    "target": "com.amazonaws.costoptimizationhub#Ec2ReservedInstancesConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The EC2 reserved instances configuration used for recommendations.</p>"
                    }
                },
                "costCalculation": {
                    "target": "com.amazonaws.costoptimizationhub#ReservedInstancesCostCalculation",
                    "traits": {
                        "smithy.api#documentation": "<p>Cost impact of the purchase recommendation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The EC2 reserved instances recommendation details.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#Ec2ReservedInstancesConfiguration": {
            "type": "structure",
            "members": {
                "accountScope": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The account scope for which you want recommendations.</p>"
                    }
                },
                "service": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The service for which you want recommendations.</p>"
                    }
                },
                "term": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reserved instances recommendation term in years.</p>"
                    }
                },
                "paymentOption": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The payment option for the commitment.</p>"
                    }
                },
                "reservedInstancesRegion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Region of the commitment.</p>"
                    }
                },
                "upfrontCost": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>How much purchasing this instance costs you upfront.</p>"
                    }
                },
                "monthlyRecurringCost": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>How much purchasing these reserved instances costs you on a monthly basis.</p>"
                    }
                },
                "normalizedUnitsToPurchase": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of normalized units that Amazon Web Services recommends that you purchase.</p>"
                    }
                },
                "numberOfInstancesToPurchase": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of instances that Amazon Web Services recommends that you purchase.</p>"
                    }
                },
                "offeringClass": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the recommendation is for standard or convertible reservations.</p>"
                    }
                },
                "instanceFamily": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The instance family of the recommended reservation.</p>"
                    }
                },
                "instanceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of instance that Amazon Web Services recommends.</p>"
                    }
                },
                "currentGeneration": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Determines whether the recommendation is for a current generation instance.</p>"
                    }
                },
                "platform": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The platform of the recommended reservation. The platform is the specific combination of operating system, license model, and software on an instance.</p>"
                    }
                },
                "tenancy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Determines whether the recommended reservation is dedicated or shared.</p>"
                    }
                },
                "sizeFlexEligible": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Determines whether the recommendation is size flexible.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The EC2 reserved instances configuration used for recommendations.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#EcsService": {
            "type": "structure",
            "members": {
                "configuration": {
                    "target": "com.amazonaws.costoptimizationhub#EcsServiceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The ECS service configuration used for recommendations.</p>"
                    }
                },
                "costCalculation": {
                    "target": "com.amazonaws.costoptimizationhub#ResourceCostCalculation",
                    "traits": {
                        "smithy.api#documentation": "<p>Cost impact of the recommendation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The ECS service recommendation details.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#EcsServiceConfiguration": {
            "type": "structure",
            "members": {
                "compute": {
                    "target": "com.amazonaws.costoptimizationhub#ComputeConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the compute configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The ECS service configuration used for recommendations.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#ElastiCacheReservedInstances": {
            "type": "structure",
            "members": {
                "configuration": {
                    "target": "com.amazonaws.costoptimizationhub#ElastiCacheReservedInstancesConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The ElastiCache reserved instances configuration used for recommendations.</p>"
                    }
                },
                "costCalculation": {
                    "target": "com.amazonaws.costoptimizationhub#ReservedInstancesCostCalculation",
                    "traits": {
                        "smithy.api#documentation": "<p>Cost impact of the purchase recommendation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The ElastiCache reserved instances recommendation details.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#ElastiCacheReservedInstancesConfiguration": {
            "type": "structure",
            "members": {
                "accountScope": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The account scope for which you want recommendations.</p>"
                    }
                },
                "service": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The service for which you want recommendations.</p>"
                    }
                },
                "term": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reserved instances recommendation term in years.</p>"
                    }
                },
                "paymentOption": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The payment option for the commitment.</p>"
                    }
                },
                "reservedInstancesRegion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Region of the commitment.</p>"
                    }
                },
                "upfrontCost": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>How much purchasing this instance costs you upfront.</p>"
                    }
                },
                "monthlyRecurringCost": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>How much purchasing these reserved instances costs you on a monthly basis.</p>"
                    }
                },
                "normalizedUnitsToPurchase": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of normalized units that Amazon Web Services recommends that you purchase.</p>"
                    }
                },
                "numberOfInstancesToPurchase": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of instances that Amazon Web Services recommends that you purchase.</p>"
                    }
                },
                "instanceFamily": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The instance family of the recommended reservation.</p>"
                    }
                },
                "instanceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of instance that Amazon Web Services recommends.</p>"
                    }
                },
                "currentGeneration": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Determines whether the recommendation is for a current generation instance.</p>"
                    }
                },
                "sizeFlexEligible": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Determines whether the recommendation is size flexible.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The ElastiCache reserved instances configuration used for recommendations.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#EnrollmentStatus": {
            "type": "enum",
            "members": {
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Active"
                    }
                },
                "INACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Inactive"
                    }
                }
            }
        },
        "com.amazonaws.costoptimizationhub#EstimatedDiscounts": {
            "type": "structure",
            "members": {
                "savingsPlansDiscount": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>Estimated Savings Plans discounts.</p>"
                    }
                },
                "reservedInstancesDiscount": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>Estimated reserved instance discounts.</p>"
                    }
                },
                "otherDiscount": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>Estimated other discounts include all discounts that are not itemized. Itemized discounts include <code>reservedInstanceDiscount</code> and <code>savingsPlansDiscount</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Estimated discount details of the current and recommended resource configuration for a recommendation.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#Filter": {
            "type": "structure",
            "members": {
                "restartNeeded": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether or not implementing the recommendation requires a restart.</p>"
                    }
                },
                "rollbackPossible": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether or not implementing the recommendation can be rolled back.</p>"
                    }
                },
                "implementationEfforts": {
                    "target": "com.amazonaws.costoptimizationhub#ImplementationEffortList",
                    "traits": {
                        "smithy.api#documentation": "<p>The effort required to implement the recommendation.</p>"
                    }
                },
                "accountIds": {
                    "target": "com.amazonaws.costoptimizationhub#AccountIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The account to which the recommendation applies.</p>"
                    }
                },
                "regions": {
                    "target": "com.amazonaws.costoptimizationhub#RegionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Region of the resource.</p>"
                    }
                },
                "resourceTypes": {
                    "target": "com.amazonaws.costoptimizationhub#ResourceTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource type of the recommendation.</p>"
                    }
                },
                "actionTypes": {
                    "target": "com.amazonaws.costoptimizationhub#ActionTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of action you can take by adopting the recommendation.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.costoptimizationhub#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of tags assigned to the recommendation.</p>"
                    }
                },
                "resourceIds": {
                    "target": "com.amazonaws.costoptimizationhub#ResourceIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource ID of the recommendation.</p>"
                    }
                },
                "resourceArns": {
                    "target": "com.amazonaws.costoptimizationhub#ResourceArnList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the recommendation.</p>"
                    }
                },
                "recommendationIds": {
                    "target": "com.amazonaws.costoptimizationhub#RecommendationIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The IDs for the recommendations.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a filter that returns a more specific list of recommendations. Filters recommendations by different dimensions.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#GetPreferences": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.costoptimizationhub#GetPreferencesRequest"
            },
            "output": {
                "target": "com.amazonaws.costoptimizationhub#GetPreferencesResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.costoptimizationhub#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.costoptimizationhub#InternalServerException"
                },
                {
                    "target": "com.amazonaws.costoptimizationhub#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.costoptimizationhub#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns a set of preferences for an account in order to add account-specific preferences into the service. These preferences impact how the savings associated with recommendations are presented—estimated savings after discounts or estimated savings before discounts, for example.</p>",
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.costoptimizationhub#GetPreferencesRequest": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.costoptimizationhub#GetPreferencesResponse": {
            "type": "structure",
            "members": {
                "savingsEstimationMode": {
                    "target": "com.amazonaws.costoptimizationhub#SavingsEstimationMode",
                    "traits": {
                        "smithy.api#documentation": "<p>Retrieves the status of the \"savings estimation mode\" preference.</p>"
                    }
                },
                "memberAccountDiscountVisibility": {
                    "target": "com.amazonaws.costoptimizationhub#MemberAccountDiscountVisibility",
                    "traits": {
                        "smithy.api#documentation": "<p>Retrieves the status of the \"member account discount visibility\" preference.</p>"
                    }
                },
                "preferredCommitment": {
                    "target": "com.amazonaws.costoptimizationhub#PreferredCommitment",
                    "traits": {
                        "smithy.api#documentation": "<p>Retrieves the current preferences for how Reserved Instances and Savings Plans cost-saving opportunities are prioritized in terms of payment option and term length.</p>",
                        "smithy.api#tags": [
                            "commitmentPreferences"
                        ]
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.costoptimizationhub#GetRecommendation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.costoptimizationhub#GetRecommendationRequest"
            },
            "output": {
                "target": "com.amazonaws.costoptimizationhub#GetRecommendationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.costoptimizationhub#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.costoptimizationhub#InternalServerException"
                },
                {
                    "target": "com.amazonaws.costoptimizationhub#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.costoptimizationhub#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.costoptimizationhub#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns both the current and recommended resource configuration and the estimated cost impact for a recommendation.</p> <p>The <code>recommendationId</code> is only valid for up to a maximum of 24 hours as recommendations are refreshed daily. To retrieve the <code>recommendationId</code>, use the <code>ListRecommendations</code> API.</p>",
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.costoptimizationhub#GetRecommendationRequest": {
            "type": "structure",
            "members": {
                "recommendationId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID for the recommendation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.costoptimizationhub#GetRecommendationResponse": {
            "type": "structure",
            "members": {
                "recommendationId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID for the recommendation.</p>"
                    }
                },
                "resourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the resource. This is the same as the Amazon Resource Name (ARN), if available.</p>"
                    }
                },
                "resourceArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
                    }
                },
                "accountId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The account to which the recommendation applies.</p>"
                    }
                },
                "currencyCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The currency code used for the recommendation.</p>"
                    }
                },
                "recommendationLookbackPeriodInDays": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The lookback period that's used to generate the recommendation.</p>"
                    }
                },
                "costCalculationLookbackPeriodInDays": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The lookback period used to calculate cost impact for a recommendation.</p>"
                    }
                },
                "estimatedSavingsPercentage": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The estimated savings percentage relative to the total cost over the cost calculation lookback period.</p>"
                    }
                },
                "estimatedSavingsOverCostCalculationLookbackPeriod": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The estimated savings amount over the lookback period used to calculate cost impact for a recommendation.</p>"
                    }
                },
                "currentResourceType": {
                    "target": "com.amazonaws.costoptimizationhub#ResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of resource.</p>"
                    }
                },
                "recommendedResourceType": {
                    "target": "com.amazonaws.costoptimizationhub#ResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource type of the recommendation.</p>"
                    }
                },
                "region": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Region of the resource.</p>"
                    }
                },
                "source": {
                    "target": "com.amazonaws.costoptimizationhub#Source",
                    "traits": {
                        "smithy.api#documentation": "<p>The source of the recommendation.</p>"
                    }
                },
                "lastRefreshTimestamp": {
                    "target": "com.amazonaws.costoptimizationhub#Datetime",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the recommendation was last generated.</p>"
                    }
                },
                "estimatedMonthlySavings": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The estimated monthly savings amount for the recommendation.</p>"
                    }
                },
                "estimatedMonthlyCost": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The estimated monthly cost of the current resource. For Reserved Instances and Savings Plans, it refers to the cost for eligible usage.</p>"
                    }
                },
                "implementationEffort": {
                    "target": "com.amazonaws.costoptimizationhub#ImplementationEffort",
                    "traits": {
                        "smithy.api#documentation": "<p>The effort required to implement the recommendation.</p>"
                    }
                },
                "restartNeeded": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether or not implementing the recommendation requires a restart.</p>"
                    }
                },
                "actionType": {
                    "target": "com.amazonaws.costoptimizationhub#ActionType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of action you can take by adopting the recommendation.</p>"
                    }
                },
                "rollbackPossible": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether or not implementing the recommendation can be rolled back.</p>"
                    }
                },
                "currentResourceDetails": {
                    "target": "com.amazonaws.costoptimizationhub#ResourceDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>The details for the resource.</p>"
                    }
                },
                "recommendedResourceDetails": {
                    "target": "com.amazonaws.costoptimizationhub#ResourceDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>The details about the recommended resource.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.costoptimizationhub#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of tags associated with the resource for which the recommendation exists.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.costoptimizationhub#ImplementationEffort": {
            "type": "enum",
            "members": {
                "VERY_LOW": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VeryLow"
                    }
                },
                "LOW": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Low"
                    }
                },
                "MEDIUM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Medium"
                    }
                },
                "HIGH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "High"
                    }
                },
                "VERY_HIGH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VeryHigh"
                    }
                }
            }
        },
        "com.amazonaws.costoptimizationhub#ImplementationEffortList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.costoptimizationhub#ImplementationEffort"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.costoptimizationhub#InstanceConfiguration": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The instance type of the configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The instance configuration used for recommendations.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#InternalServerException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "com.amazonaws.costoptimizationhub#LambdaFunction": {
            "type": "structure",
            "members": {
                "configuration": {
                    "target": "com.amazonaws.costoptimizationhub#LambdaFunctionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The Lambda function configuration used for recommendations.</p>"
                    }
                },
                "costCalculation": {
                    "target": "com.amazonaws.costoptimizationhub#ResourceCostCalculation",
                    "traits": {
                        "smithy.api#documentation": "<p>Cost impact of the recommendation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Lambda function recommendation details.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#LambdaFunctionConfiguration": {
            "type": "structure",
            "members": {
                "compute": {
                    "target": "com.amazonaws.costoptimizationhub#ComputeConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the compute configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Lambda function configuration used for recommendations.</p>"
            }
        },
        "com.amazonaws.costoptimizationhub#ListEnrollmentStatuses": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.costoptimizationhub#ListEnrollmentStatusesRequest"
            },
            "output": {
                "target": "com.amazonaws.costoptimizationhub#ListEnrollmentStatusesResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.costoptimizationhub#AccessDeniedException"
                },
                {
[...]
