{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.customerprofiles#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.customerprofiles#message"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.customerprofiles#AddProfileKey": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.customerprofiles#AddProfileKeyRequest"
            },
            "output": {
                "target": "com.amazonaws.customerprofiles#AddProfileKeyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.customerprofiles#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#BadRequestException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#InternalServerException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates a new key value with a specific profile, such as a Contact Record\n         ContactId.</p>\n         <p>A profile object can have a single unique key and any number of additional keys that can\n         be used to identify the profile that it belongs to.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/domains/{DomainName}/profiles/keys",
                    "code": 200
                }
            }
        },
        "com.amazonaws.customerprofiles#AddProfileKeyRequest": {
            "type": "structure",
            "members": {
                "ProfileId": {
                    "target": "com.amazonaws.customerprofiles#uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of a customer profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "KeyName": {
                    "target": "com.amazonaws.customerprofiles#name",
                    "traits": {
                        "smithy.api#documentation": "<p>A searchable identifier of a customer profile. The predefined keys you can use include: _account, _profileId, _assetId,\n         _caseId, _orderId, _fullName, _phone, _email, _ctrContactId, _marketoLeadId,\n         _salesforceAccountId, _salesforceContactId, _salesforceAssetId, _zendeskUserId,\n         _zendeskExternalId, _zendeskTicketId, _serviceNowSystemId, _serviceNowIncidentId,\n         _segmentUserId, _shopifyCustomerId, _shopifyOrderId.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Values": {
                    "target": "com.amazonaws.customerprofiles#requestValueList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of key values.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DomainName": {
                    "target": "com.amazonaws.customerprofiles#name",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the domain.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.customerprofiles#AddProfileKeyResponse": {
            "type": "structure",
            "members": {
                "KeyName": {
                    "target": "com.amazonaws.customerprofiles#name",
                    "traits": {
                        "smithy.api#documentation": "<p>A searchable identifier of a customer profile.</p>"
                    }
                },
                "Values": {
                    "target": "com.amazonaws.customerprofiles#requestValueList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of key values.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.customerprofiles#AdditionalSearchKey": {
            "type": "structure",
            "members": {
                "KeyName": {
                    "target": "com.amazonaws.customerprofiles#name",
                    "traits": {
                        "smithy.api#documentation": "<p>A searchable identifier of a customer profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Values": {
                    "target": "com.amazonaws.customerprofiles#requestValueList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of key values.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A data type pair that consists of a <code>KeyName</code> and <code>Values</code> list\n         that is used in conjunction with the <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_SearchProfiles.html#customerprofiles-SearchProfiles-request-KeyName\">KeyName</a> and <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_SearchProfiles.html#customerprofiles-SearchProfiles-request-Values\">Values</a> parameters to search for profiles using the <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_SearchProfiles.html\">SearchProfiles</a>\n         API.</p>"
            }
        },
        "com.amazonaws.customerprofiles#Address": {
            "type": "structure",
            "members": {
                "Address1": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The first line of a customer address.</p>"
                    }
                },
                "Address2": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The second line of a customer address.</p>"
                    }
                },
                "Address3": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The third line of a customer address.</p>"
                    }
                },
                "Address4": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The fourth line of a customer address.</p>"
                    }
                },
                "City": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The city in which a customer lives.</p>"
                    }
                },
                "County": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The county in which a customer lives.</p>"
                    }
                },
                "State": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The state in which a customer lives.</p>"
                    }
                },
                "Province": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The province in which a customer lives.</p>"
                    }
                },
                "Country": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The country in which a customer lives.</p>"
                    }
                },
                "PostalCode": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The postal code of a customer address.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A generic address associated with the customer that is not mailing, shipping, or\n         billing.</p>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.customerprofiles#AddressDimension": {
            "type": "structure",
            "members": {
                "City": {
                    "target": "com.amazonaws.customerprofiles#ProfileDimension",
                    "traits": {
                        "smithy.api#documentation": "<p>The city belonging to the address.</p>",
                        "smithy.api#jsonName": "City"
                    }
                },
                "Country": {
                    "target": "com.amazonaws.customerprofiles#ProfileDimension",
                    "traits": {
                        "smithy.api#documentation": "<p>The country belonging to the address.</p>",
                        "smithy.api#jsonName": "Country"
                    }
                },
                "County": {
                    "target": "com.amazonaws.customerprofiles#ProfileDimension",
                    "traits": {
                        "smithy.api#documentation": "<p>The county belonging to the address.</p>",
                        "smithy.api#jsonName": "County"
                    }
                },
                "PostalCode": {
                    "target": "com.amazonaws.customerprofiles#ProfileDimension",
                    "traits": {
                        "smithy.api#documentation": "<p>The postal code belonging to the address.</p>",
                        "smithy.api#jsonName": "PostalCode"
                    }
                },
                "Province": {
                    "target": "com.amazonaws.customerprofiles#ProfileDimension",
                    "traits": {
                        "smithy.api#documentation": "<p>The province belonging to the address.</p>",
                        "smithy.api#jsonName": "Province"
                    }
                },
                "State": {
                    "target": "com.amazonaws.customerprofiles#ProfileDimension",
                    "traits": {
                        "smithy.api#documentation": "<p>The state belonging to the address.</p>",
                        "smithy.api#jsonName": "State"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Object that segments on Customer Profile's address object.</p>"
            }
        },
        "com.amazonaws.customerprofiles#AddressList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.customerprofiles#string1To255"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 4
                }
            }
        },
        "com.amazonaws.customerprofiles#AppflowIntegration": {
            "type": "structure",
            "members": {
                "FlowDefinition": {
                    "target": "com.amazonaws.customerprofiles#FlowDefinition",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "Batches": {
                    "target": "com.amazonaws.customerprofiles#Batches",
                    "traits": {
                        "smithy.api#documentation": "<p>Batches in workflow of type <code>APPFLOW_INTEGRATION</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details for workflow of type <code>APPFLOW_INTEGRATION</code>.</p>"
            }
        },
        "com.amazonaws.customerprofiles#AppflowIntegrationWorkflowAttributes": {
            "type": "structure",
            "members": {
                "SourceConnectorType": {
                    "target": "com.amazonaws.customerprofiles#SourceConnectorType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the source connector type, such as Salesforce, ServiceNow, and Marketo.\n         Indicates source of ingestion.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ConnectorProfileName": {
                    "target": "com.amazonaws.customerprofiles#ConnectorProfileName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the AppFlow connector profile used for ingestion.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RoleArn": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role. Customer Profiles assumes this role to create resources on your behalf as part of workflow execution.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Structure holding all <code>APPFLOW_INTEGRATION</code> specific workflow\n         attributes.</p>"
            }
        },
        "com.amazonaws.customerprofiles#AppflowIntegrationWorkflowMetrics": {
            "type": "structure",
            "members": {
                "RecordsProcessed": {
                    "target": "com.amazonaws.customerprofiles#long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Number of records processed in <code>APPFLOW_INTEGRATION</code> workflow.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StepsCompleted": {
                    "target": "com.amazonaws.customerprofiles#long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Total steps completed in <code>APPFLOW_INTEGRATION</code> workflow.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TotalSteps": {
                    "target": "com.amazonaws.customerprofiles#long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Total steps in <code>APPFLOW_INTEGRATION</code> workflow.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Workflow specific execution metrics for <code>APPFLOW_INTEGRATION</code>\n         workflow.</p>"
            }
        },
        "com.amazonaws.customerprofiles#AppflowIntegrationWorkflowStep": {
            "type": "structure",
            "members": {
                "FlowName": {
                    "target": "com.amazonaws.customerprofiles#FlowName",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the flow created during execution of workflow step.\n            <code>APPFLOW_INTEGRATION</code> workflow type creates an appflow flow during workflow\n         step execution on the customers behalf.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Status": {
                    "target": "com.amazonaws.customerprofiles#Status",
                    "traits": {
                        "smithy.api#documentation": "<p>Workflow step status for <code>APPFLOW_INTEGRATION</code> workflow.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ExecutionMessage": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>Message indicating execution of workflow step for <code>APPFLOW_INTEGRATION</code>\n         workflow.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RecordsProcessed": {
                    "target": "com.amazonaws.customerprofiles#long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Total number of records processed during execution of workflow step for\n            <code>APPFLOW_INTEGRATION</code> workflow.</p>",
                        "smithy.api#required": {}
                    }
                },
                "BatchRecordsStartTime": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>Start datetime of records pulled in batch during execution of workflow step for\n            <code>APPFLOW_INTEGRATION</code> workflow.</p>",
                        "smithy.api#required": {}
                    }
                },
                "BatchRecordsEndTime": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>End datetime of records pulled in batch during execution of workflow step for\n            <code>APPFLOW_INTEGRATION</code> workflow.</p>",
                        "smithy.api#required": {}
                    }
                },
                "CreatedAt": {
                    "target": "com.amazonaws.customerprofiles#timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Creation timestamp of workflow step for <code>APPFLOW_INTEGRATION</code>\n         workflow.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LastUpdatedAt": {
                    "target": "com.amazonaws.customerprofiles#timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Last updated timestamp for workflow step for <code>APPFLOW_INTEGRATION</code>\n         workflow.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Workflow step details for <code>APPFLOW_INTEGRATION</code> workflow.</p>"
            }
        },
        "com.amazonaws.customerprofiles#AttributeDetails": {
            "type": "structure",
            "members": {
                "Attributes": {
                    "target": "com.amazonaws.customerprofiles#AttributeList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of attribute items specified in the mathematical expression.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Expression": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>Mathematical expression that is performed on attribute items provided in the attribute\n         list. Each element in the expression should follow the structure of\n         \\\"{ObjectTypeName.AttributeName}\\\".</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Mathematical expression and a list of attribute items specified in that\n         expression.</p>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.customerprofiles#AttributeDimension": {
            "type": "structure",
            "members": {
                "DimensionType": {
                    "target": "com.amazonaws.customerprofiles#AttributeDimensionType",
                    "traits": {
                        "smithy.api#documentation": "<p>The action to segment with.</p>",
                        "smithy.api#jsonName": "DimensionType",
                        "smithy.api#required": {}
                    }
                },
                "Values": {
                    "target": "com.amazonaws.customerprofiles#Values",
                    "traits": {
                        "smithy.api#documentation": "<p>The values to apply the DimensionType on.</p>",
                        "smithy.api#jsonName": "Values",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Object that segments on various Customer Profile's fields.</p>"
            }
        },
        "com.amazonaws.customerprofiles#AttributeDimensionType": {
            "type": "enum",
            "members": {
                "INCLUSIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INCLUSIVE"
                    }
                },
                "EXCLUSIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EXCLUSIVE"
                    }
                },
                "CONTAINS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONTAINS"
                    }
                },
                "BEGINS_WITH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BEGINS_WITH"
                    }
                },
                "ENDS_WITH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENDS_WITH"
                    }
                },
                "BEFORE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BEFORE"
                    }
                },
                "AFTER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AFTER"
                    }
                },
                "BETWEEN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BETWEEN"
                    }
                },
                "NOT_BETWEEN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NOT_BETWEEN"
                    }
                },
                "ON": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ON"
                    }
                },
                "GREATER_THAN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GREATER_THAN"
                    }
                },
                "LESS_THAN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LESS_THAN"
                    }
                },
                "GREATER_THAN_OR_EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
                    }
                },
                "LESS_THAN_OR_EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
                    }
                },
                "EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EQUAL"
                    }
                }
            }
        },
        "com.amazonaws.customerprofiles#AttributeItem": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.customerprofiles#attributeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of an attribute defined in a profile object type.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The details of a single attribute item specified in the mathematical expression.</p>"
            }
        },
        "com.amazonaws.customerprofiles#AttributeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.customerprofiles#AttributeItem"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                }
            }
        },
        "com.amazonaws.customerprofiles#AttributeMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.customerprofiles#attributeName"
            },
            "value": {
                "target": "com.amazonaws.customerprofiles#FilterAttributeDimension"
            }
        },
        "com.amazonaws.customerprofiles#AttributeMatchingModel": {
            "type": "enum",
            "members": {
                "ONE_TO_ONE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ONE_TO_ONE"
                    }
                },
                "MANY_TO_MANY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MANY_TO_MANY"
                    }
                }
            }
        },
        "com.amazonaws.customerprofiles#AttributeSourceIdMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.customerprofiles#string1To255"
            },
            "value": {
                "target": "com.amazonaws.customerprofiles#uuid"
            }
        },
        "com.amazonaws.customerprofiles#AttributeTypesSelector": {
            "type": "structure",
            "members": {
                "AttributeMatchingModel": {
                    "target": "com.amazonaws.customerprofiles#AttributeMatchingModel",
                    "traits": {
                        "smithy.api#documentation": "<p>Configures the <code>AttributeMatchingModel</code>, you can either choose\n            <code>ONE_TO_ONE</code> or <code>MANY_TO_MANY</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Address": {
                    "target": "com.amazonaws.customerprofiles#AddressList",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>Address</code> type. You can choose from <code>Address</code>,\n            <code>BusinessAddress</code>, <code>MaillingAddress</code>, and\n            <code>ShippingAddress</code>.</p>\n         <p>You only can use the Address type in the <code>MatchingRule</code>. For example, if you\n         want to match profile based on <code>BusinessAddress.City</code> or\n            <code>MaillingAddress.City</code>, you need to choose the <code>BusinessAddress</code>\n         and the <code>MaillingAddress</code> to represent the Address type and specify the\n            <code>Address.City</code> on the matching rule.</p>"
                    }
                },
                "PhoneNumber": {
                    "target": "com.amazonaws.customerprofiles#PhoneNumberList",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>PhoneNumber</code> type. You can choose from <code>PhoneNumber</code>,\n            <code>HomePhoneNumber</code>, and <code>MobilePhoneNumber</code>.</p>\n         <p>You only can use the <code>PhoneNumber</code> type in the <code>MatchingRule</code>. For\n         example, if you want to match a profile based on <code>Phone</code> or\n            <code>HomePhone</code>, you need to choose the <code>Phone</code> and the\n            <code>HomePhone</code> to represent the <code>PhoneNumber</code> type and only specify\n         the <code>PhoneNumber</code> on the matching rule.</p>"
                    }
                },
                "EmailAddress": {
                    "target": "com.amazonaws.customerprofiles#EmailList",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>Email</code> type. You can choose from <code>EmailAddress</code>,\n            <code>BusinessEmailAddress</code> and <code>PersonalEmailAddress</code>.</p>\n         <p>You only can use the <code>EmailAddress</code> type in the <code>MatchingRule</code>.\n         For example, if you want to match profile based on <code>PersonalEmailAddress</code> or\n            <code>BusinessEmailAddress</code>, you need to choose the\n            <code>PersonalEmailAddress</code> and the <code>BusinessEmailAddress</code> to represent\n         the <code>EmailAddress</code> type and only specify the <code>EmailAddress</code> on the\n         matching rule.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration information about the <code>AttributeTypesSelector </code>where the\n         rule-based identity resolution uses to match profiles. You can choose how profiles are\n         compared across attribute types and which attribute to use for matching from each type.\n         There are three attribute types you can configure:</p>\n         <ul>\n            <li>\n               <p>Email type</p>\n               <ul>\n                  <li>\n                     <p>You can choose from <code>Email</code>, <code>BusinessEmail</code>, and\n                        <code>PersonalEmail</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Phone number type</p>\n               <ul>\n                  <li>\n                     <p>You can choose from <code>Phone</code>, <code>HomePhone</code>, and\n                        <code>MobilePhone</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Address type</p>\n               <ul>\n                  <li>\n                     <p>You can choose from <code>Address</code>, <code>BusinessAddress</code>,\n                        <code>MaillingAddress</code>, and <code>ShippingAddress</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n         <p>You can either choose <code>ONE_TO_ONE</code> or <code>MANY_TO_MANY</code> as the\n            <code>AttributeMatchingModel</code>. When choosing <code>MANY_TO_MANY</code>, the system\n         can match attribute across the sub-types of an attribute type. For example, if the value of\n         the <code>Email</code> field of Profile A and the value of <code>BusinessEmail</code> field\n         of Profile B matches, the two profiles are matched on the Email type. When choosing\n            <code>ONE_TO_ONE</code> the system can only match if the sub-types are exact matches.\n         For example, only when the value of the <code>Email</code> field of Profile A and the value\n         of the <code>Email</code> field of Profile B matches, the two profiles are matched on the\n         Email type.</p>"
            }
        },
        "com.amazonaws.customerprofiles#AttributeValueItem": {
            "type": "structure",
            "members": {
                "Value": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>An individual value belonging to the given attribute.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>List containing the values for the given attribute.</p>"
            }
        },
        "com.amazonaws.customerprofiles#AttributeValueItemList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.customerprofiles#AttributeValueItem"
            }
        },
        "com.amazonaws.customerprofiles#Attributes": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.customerprofiles#string1To255"
            },
            "value": {
                "target": "com.amazonaws.customerprofiles#string1To255"
            },
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.customerprofiles#AutoMerging": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "target": "com.amazonaws.customerprofiles#optionalBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>The flag that enables the auto-merging of duplicate profiles.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Consolidation": {
                    "target": "com.amazonaws.customerprofiles#Consolidation",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of matching attributes that represent matching criteria. If two profiles meet at\n         least one of the requirements in the matching attributes list, they will be merged.</p>"
                    }
                },
                "ConflictResolution": {
                    "target": "com.amazonaws.customerprofiles#ConflictResolution",
                    "traits": {
                        "smithy.api#documentation": "<p>How the auto-merging process should resolve conflicts between different profiles. For\n         example, if Profile A and Profile B have the same <code>FirstName</code> and\n            <code>LastName</code> (and that is the matching criteria), which\n            <code>EmailAddress</code> should be used? </p>"
                    }
                },
                "MinAllowedConfidenceScoreForMerging": {
                    "target": "com.amazonaws.customerprofiles#Double0To1",
                    "traits": {
                        "smithy.api#documentation": "<p>A number between 0 and 1 that represents the minimum confidence score required for\n         profiles within a matching group to be merged during the auto-merge process. A higher score\n         means higher similarity required to merge profiles. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration settings for how to perform the auto-merging of profiles.</p>"
            }
        },
        "com.amazonaws.customerprofiles#BadRequestException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.customerprofiles#message"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The input you provided is invalid.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.customerprofiles#Batch": {
            "type": "structure",
            "members": {
                "StartTime": {
                    "target": "com.amazonaws.customerprofiles#timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Start time of batch to split ingestion.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EndTime": {
                    "target": "com.amazonaws.customerprofiles#timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>End time of batch to split ingestion.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Batch defines the boundaries for ingestion for each step in\n            <code>APPFLOW_INTEGRATION</code> workflow. <code>APPFLOW_INTEGRATION</code> workflow\n         splits ingestion based on these boundaries.</p>"
            }
        },
        "com.amazonaws.customerprofiles#BatchGetCalculatedAttributeForProfile": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.customerprofiles#BatchGetCalculatedAttributeForProfileRequest"
            },
            "output": {
                "target": "com.amazonaws.customerprofiles#BatchGetCalculatedAttributeForProfileResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.customerprofiles#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#BadRequestException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#InternalServerException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Fetch the possible attribute values given the attribute name.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/domains/{DomainName}/calculated-attributes/{CalculatedAttributeName}/batch-get-for-profiles",
                    "code": 200
                }
            }
        },
        "com.amazonaws.customerprofiles#BatchGetCalculatedAttributeForProfileError": {
            "type": "structure",
            "members": {
                "Code": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>Status code for why a specific profile and calculated attribute failed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Message": {
                    "target": "com.amazonaws.customerprofiles#string1To1000",
                    "traits": {
                        "smithy.api#documentation": "<p>Message describing why a specific profile and calculated attribute failed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ProfileId": {
                    "target": "com.amazonaws.customerprofiles#uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The profile id that failed.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Error object describing why a specific profile and calculated attribute failed.</p>"
            }
        },
        "com.amazonaws.customerprofiles#BatchGetCalculatedAttributeForProfileErrorList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.customerprofiles#BatchGetCalculatedAttributeForProfileError"
            }
        },
        "com.amazonaws.customerprofiles#BatchGetCalculatedAttributeForProfileIdList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.customerprofiles#uuid"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.customerprofiles#BatchGetCalculatedAttributeForProfileRequest": {
            "type": "structure",
            "members": {
                "CalculatedAttributeName": {
                    "target": "com.amazonaws.customerprofiles#typeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the calculated attribute.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "DomainName": {
                    "target": "com.amazonaws.customerprofiles#name",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the domain.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ProfileIds": {
                    "target": "com.amazonaws.customerprofiles#BatchGetCalculatedAttributeForProfileIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of unique identifiers for customer profiles to retrieve.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ConditionOverrides": {
                    "target": "com.amazonaws.customerprofiles#ConditionOverrides",
                    "traits": {
                        "smithy.api#documentation": "<p>Overrides the condition block within the original calculated attribute\n         definition.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.customerprofiles#BatchGetCalculatedAttributeForProfileResponse": {
            "type": "structure",
            "members": {
                "Errors": {
                    "target": "com.amazonaws.customerprofiles#BatchGetCalculatedAttributeForProfileErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of errors for calculated attribute values that could not be retrieved.</p>"
                    }
                },
                "CalculatedAttributeValues": {
                    "target": "com.amazonaws.customerprofiles#CalculatedAttributeValueList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of calculated attribute values retrieved.</p>"
                    }
                },
                "ConditionOverrides": {
                    "target": "com.amazonaws.customerprofiles#ConditionOverrides",
                    "traits": {
                        "smithy.api#documentation": "<p>Overrides the condition block within the original calculated attribute\n         definition.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.customerprofiles#BatchGetProfile": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.customerprofiles#BatchGetProfileRequest"
            },
            "output": {
                "target": "com.amazonaws.customerprofiles#BatchGetProfileResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.customerprofiles#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#BadRequestException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#InternalServerException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Get a batch of profiles.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/domains/{DomainName}/batch-get-profiles",
                    "code": 200
                }
            }
        },
        "com.amazonaws.customerprofiles#BatchGetProfileError": {
            "type": "structure",
            "members": {
                "Code": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>Status code for why a specific profile failed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Message": {
                    "target": "com.amazonaws.customerprofiles#string1To1000",
                    "traits": {
                        "smithy.api#documentation": "<p>Message describing why a specific profile failed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ProfileId": {
                    "target": "com.amazonaws.customerprofiles#uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The profile id that failed.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Error object describing why a specific profile failed.</p>"
            }
        },
        "com.amazonaws.customerprofiles#BatchGetProfileErrorList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.customerprofiles#BatchGetProfileError"
            }
        },
        "com.amazonaws.customerprofiles#BatchGetProfileIdList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.customerprofiles#uuid"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 20
                }
            }
        },
        "com.amazonaws.customerprofiles#BatchGetProfileRequest": {
            "type": "structure",
            "members": {
                "DomainName": {
                    "target": "com.amazonaws.customerprofiles#name",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the domain.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ProfileIds": {
                    "target": "com.amazonaws.customerprofiles#BatchGetProfileIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of unique identifiers for customer profiles to retrieve.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.customerprofiles#BatchGetProfileResponse": {
            "type": "structure",
            "members": {
                "Errors": {
                    "target": "com.amazonaws.customerprofiles#BatchGetProfileErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>For information about the errors that are common to all actions, see <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/CommonErrors.html\">Common\n            Errors</a>.</p>"
                    }
                },
                "Profiles": {
                    "target": "com.amazonaws.customerprofiles#ProfileList",
                    "traits": {
                        "smithy.api#documentation": "<p>Array of Profile Objects.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.customerprofiles#Batches": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.customerprofiles#Batch"
            }
        },
        "com.amazonaws.customerprofiles#BucketName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 3,
                    "max": 63
                },
                "smithy.api#pattern": "^\\S+$"
            }
        },
        "com.amazonaws.customerprofiles#BucketPrefix": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 512
                },
                "smithy.api#pattern": ".*"
            }
        },
        "com.amazonaws.customerprofiles#CalculatedAttributeDefinitionsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.customerprofiles#ListCalculatedAttributeDefinitionItem"
            },
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.customerprofiles#CalculatedAttributeDimension": {
            "type": "structure",
            "members": {
                "DimensionType": {
                    "target": "com.amazonaws.customerprofiles#AttributeDimensionType",
                    "traits": {
                        "smithy.api#documentation": "<p>The action to segment with.</p>",
                        "smithy.api#jsonName": "DimensionType",
                        "smithy.api#required": {}
                    }
                },
                "Values": {
                    "target": "com.amazonaws.customerprofiles#Values",
                    "traits": {
                        "smithy.api#documentation": "<p>The values to apply the DimensionType with.</p>",
                        "smithy.api#jsonName": "Values",
                        "smithy.api#required": {}
                    }
                },
                "ConditionOverrides": {
                    "target": "com.amazonaws.customerprofiles#ConditionOverrides",
                    "traits": {
                        "smithy.api#documentation": "<p>Applies the given condition over the initial Calculated Attribute's definition.</p>",
                        "smithy.api#jsonName": "ConditionOverrides"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Object that segments on Customer Profile's Calculated Attributes.</p>"
            }
        },
        "com.amazonaws.customerprofiles#CalculatedAttributeValue": {
            "type": "structure",
            "members": {
                "CalculatedAttributeName": {
                    "target": "com.amazonaws.customerprofiles#typeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the calculated attribute.</p>"
                    }
                },
                "DisplayName": {
                    "target": "com.amazonaws.customerprofiles#displayName",
                    "traits": {
                        "smithy.api#documentation": "<p>The display name of the calculated attribute.</p>"
                    }
                },
                "IsDataPartial": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the calculated attribute's value is based on partial data. If the data\n         is partial, it is set to true.</p>"
                    }
                },
                "ProfileId": {
                    "target": "com.amazonaws.customerprofiles#uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The profile id belonging to this calculated attribute value.</p>"
                    }
                },
                "Value": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the calculated attribute.</p>"
                    }
                },
                "LastObjectTimestamp": {
                    "target": "com.amazonaws.customerprofiles#timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of the newest object included in the calculated attribute\n         calculation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The object containing the values of a single calculated attribute value.</p>"
            }
        },
        "com.amazonaws.customerprofiles#CalculatedAttributeValueList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.customerprofiles#CalculatedAttributeValue"
            }
        },
        "com.amazonaws.customerprofiles#CalculatedAttributesForProfileList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.customerprofiles#ListCalculatedAttributeForProfileItem"
            }
        },
        "com.amazonaws.customerprofiles#CalculatedCustomAttributes": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.customerprofiles#typeName"
            },
            "value": {
                "target": "com.amazonaws.customerprofiles#CalculatedAttributeDimension"
            }
        },
        "com.amazonaws.customerprofiles#ComparisonOperator": {
            "type": "enum",
            "members": {
                "INCLUSIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INCLUSIVE"
                    }
                },
                "EXCLUSIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EXCLUSIVE"
                    }
                },
                "CONTAINS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONTAINS"
                    }
                },
                "BEGINS_WITH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BEGINS_WITH"
                    }
                },
                "ENDS_WITH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENDS_WITH"
                    }
                },
                "GREATER_THAN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GREATER_THAN"
                    }
                },
                "LESS_THAN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LESS_THAN"
                    }
                },
                "GREATER_THAN_OR_EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
                    }
                },
                "LESS_THAN_OR_EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
                    }
                },
                "EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EQUAL"
                    }
                },
                "BEFORE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BEFORE"
                    }
                },
                "AFTER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AFTER"
                    }
                },
                "ON": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ON"
                    }
                },
                "BETWEEN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BETWEEN"
                    }
                },
                "NOT_BETWEEN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NOT_BETWEEN"
                    }
                }
            }
        },
        "com.amazonaws.customerprofiles#ConditionOverrides": {
            "type": "structure",
            "members": {
                "Range": {
                    "target": "com.amazonaws.customerprofiles#RangeOverride",
                    "traits": {
                        "smithy.api#documentation": "<p>The relative time period over which data is included in the aggregation for this\n         override.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object to override the original condition block of a calculated attribute.</p>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.customerprofiles#Conditions": {
            "type": "structure",
            "members": {
                "Range": {
                    "target": "com.amazonaws.customerprofiles#Range",
                    "traits": {
                        "smithy.api#documentation": "<p>The relative time period over which data is included in the aggregation.</p>"
                    }
                },
                "ObjectCount": {
                    "target": "com.amazonaws.customerprofiles#ObjectCount",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of profile objects used for the calculated attribute.</p>"
                    }
                },
                "Threshold": {
                    "target": "com.amazonaws.customerprofiles#Threshold",
                    "traits": {
                        "smithy.api#documentation": "<p>The threshold for the calculated attribute.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The conditions including range, object count, and threshold for the calculated\n         attribute.</p>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.customerprofiles#ConflictResolution": {
            "type": "structure",
            "members": {
                "ConflictResolvingModel": {
                    "target": "com.amazonaws.customerprofiles#ConflictResolvingModel",
                    "traits": {
                        "smithy.api#documentation": "<p>How the auto-merging process should resolve conflicts between different profiles.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>RECENCY</code>: Uses the data that was most recently updated.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SOURCE</code>: Uses the data from a specific source. For example, if a\n               company has been aquired or two departments have merged, data from the specified\n               source is used. If two duplicate profiles are from the same source, then\n                  <code>RECENCY</code> is used again.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "SourceName": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>ObjectType</code> name that is used to resolve profile merging conflicts when\n         choosing <code>SOURCE</code> as the <code>ConflictResolvingModel</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>How the auto-merging process should resolve conflicts between different profiles.</p>"
            }
        },
        "com.amazonaws.customerprofiles#ConflictResolvingModel": {
            "type": "enum",
            "members": {
                "RECENCY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RECENCY"
                    }
                },
                "SOURCE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SOURCE"
                    }
                }
            }
        },
        "com.amazonaws.customerprofiles#ConnectorOperator": {
            "type": "structure",
            "members": {
                "Marketo": {
                    "target": "com.amazonaws.customerprofiles#MarketoConnectorOperator",
                    "traits": {
                        "smithy.api#documentation": "<p>The operation to be performed on the provided Marketo source fields.</p>"
                    }
                },
                "S3": {
                    "target": "com.amazonaws.customerprofiles#S3ConnectorOperator",
                    "traits": {
                        "smithy.api#documentation": "<p>The operation to be performed on the provided Amazon S3 source fields.</p>"
                    }
                },
                "Salesforce": {
                    "target": "com.amazonaws.customerprofiles#SalesforceConnectorOperator",
                    "traits": {
                        "smithy.api#documentation": "<p>The operation to be performed on the provided Salesforce source fields.</p>"
                    }
                },
                "ServiceNow": {
                    "target": "com.amazonaws.customerprofiles#ServiceNowConnectorOperator",
                    "traits": {
                        "smithy.api#documentation": "<p>The operation to be performed on the provided ServiceNow source fields.</p>"
                    }
                },
                "Zendesk": {
                    "target": "com.amazonaws.customerprofiles#ZendeskConnectorOperator",
                    "traits": {
                        "smithy.api#documentation": "<p>The operation to be performed on the provided Zendesk source fields.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The operation to be performed on the provided source fields.</p>"
            }
        },
        "com.amazonaws.customerprofiles#ConnectorProfileName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                },
                "smithy.api#pattern": "^[\\w/!@#+=.-]+$"
            }
        },
        "com.amazonaws.customerprofiles#Consolidation": {
            "type": "structure",
            "members": {
                "MatchingAttributesList": {
                    "target": "com.amazonaws.customerprofiles#MatchingAttributesList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of matching criteria.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The matching criteria to be used during the auto-merging process. </p>"
            }
        },
        "com.amazonaws.customerprofiles#ContactPreference": {
            "type": "structure",
            "members": {
                "KeyName": {
                    "target": "com.amazonaws.customerprofiles#name",
                    "traits": {
                        "smithy.api#documentation": "<p>A searchable, unique identifier of a customer profile.</p>"
                    }
                },
                "KeyValue": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The key value used to look up profile based off the keyName.</p>"
                    }
                },
                "ProfileId": {
                    "target": "com.amazonaws.customerprofiles#uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of a customer profile.</p>"
                    }
                },
                "ContactType": {
                    "target": "com.amazonaws.customerprofiles#ContactType",
                    "traits": {
                        "smithy.api#documentation": "<p>The contact type used for engagement. For example: HomePhoneNumber,\n         PersonalEmailAddress.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Object that defines users contact preference.</p>"
            }
        },
        "com.amazonaws.customerprofiles#ContactType": {
            "type": "enum",
            "members": {
                "PHONE_NUMBER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PhoneNumber"
                    }
                },
                "MOBILE_PHONE_NUMBER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MobilePhoneNumber"
                    }
                },
                "HOME_PHONE_NUMBER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HomePhoneNumber"
                    }
                },
                "BUSINESS_PHONE_NUMBER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BusinessPhoneNumber"
                    }
                },
                "EMAIL_ADDRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EmailAddress"
                    }
                },
                "PERSONAL_EMAIL_ADDRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PersonalEmailAddress"
                    }
                },
                "BUSINESS_EMAIL_ADDRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BusinessEmailAddress"
                    }
                }
            }
        },
        "com.amazonaws.customerprofiles#CreateCalculatedAttributeDefinition": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.customerprofiles#CreateCalculatedAttributeDefinitionRequest"
            },
            "output": {
                "target": "com.amazonaws.customerprofiles#CreateCalculatedAttributeDefinitionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.customerprofiles#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#BadRequestException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#InternalServerException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new calculated attribute definition. After creation, new object data ingested\n         into Customer Profiles will be included in the calculated attribute, which can be retrieved\n         for a profile using the <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetCalculatedAttributeForProfile.html\">GetCalculatedAttributeForProfile</a> API. Defining a calculated attribute makes it\n         available for all profiles within a domain. Each calculated attribute can only reference\n         one <code>ObjectType</code> and at most, two fields from that\n         <code>ObjectType</code>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/domains/{DomainName}/calculated-attributes/{CalculatedAttributeName}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.customerprofiles#CreateCalculatedAttributeDefinitionRequest": {
            "type": "structure",
            "members": {
                "DomainName": {
                    "target": "com.amazonaws.customerprofiles#name",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the domain.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "CalculatedAttributeName": {
                    "target": "com.amazonaws.customerprofiles#typeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the calculated attribute.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "DisplayName": {
                    "target": "com.amazonaws.customerprofiles#displayName",
                    "traits": {
                        "smithy.api#documentation": "<p>The display name of the calculated attribute.</p>"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.customerprofiles#sensitiveText",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the calculated attribute.</p>"
                    }
                },
                "AttributeDetails": {
                    "target": "com.amazonaws.customerprofiles#AttributeDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>Mathematical expression and a list of attribute items specified in that\n         expression.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Conditions": {
                    "target": "com.amazonaws.customerprofiles#Conditions",
                    "traits": {
                        "smithy.api#documentation": "<p>The conditions including range, object count, and threshold for the calculated\n         attribute.</p>"
                    }
                },
                "Filter": {
                    "target": "com.amazonaws.customerprofiles#Filter",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines how to filter incoming objects to include part of the Calculated\n         Attribute.</p>"
                    }
                },
                "Statistic": {
                    "target": "com.amazonaws.customerprofiles#Statistic",
                    "traits": {
                        "smithy.api#documentation": "<p>The aggregation operation to perform for the calculated attribute.</p>",
                        "smithy.api#required": {}
                    }
                },
                "UseHistoricalData": {
                    "target": "com.amazonaws.customerprofiles#optionalBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether historical data ingested before the Calculated Attribute was created should be\n         included in calculations.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.customerprofiles#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.customerprofiles#CreateCalculatedAttributeDefinitionResponse": {
            "type": "structure",
            "members": {
                "CalculatedAttributeName": {
                    "target": "com.amazonaws.customerprofiles#typeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the calculated attribute.</p>"
                    }
                },
                "DisplayName": {
                    "target": "com.amazonaws.customerprofiles#displayName",
                    "traits": {
                        "smithy.api#documentation": "<p>The display name of the calculated attribute.</p>"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.customerprofiles#sensitiveText",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the calculated attribute.</p>"
                    }
                },
                "AttributeDetails": {
                    "target": "com.amazonaws.customerprofiles#AttributeDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>Mathematical expression and a list of attribute items specified in that\n         expression.</p>"
                    }
                },
                "Conditions": {
                    "target": "com.amazonaws.customerprofiles#Conditions",
                    "traits": {
                        "smithy.api#documentation": "<p>The conditions including range, object count, and threshold for the calculated\n         attribute.</p>"
                    }
                },
                "Filter": {
                    "target": "com.amazonaws.customerprofiles#Filter",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter that was used as part of the request.</p>"
                    }
                },
                "Statistic": {
                    "target": "com.amazonaws.customerprofiles#Statistic",
                    "traits": {
                        "smithy.api#documentation": "<p>The aggregation operation to perform for the calculated attribute.</p>"
                    }
                },
                "CreatedAt": {
                    "target": "com.amazonaws.customerprofiles#timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the calculated attribute definition was created.</p>"
                    }
                },
                "LastUpdatedAt": {
                    "target": "com.amazonaws.customerprofiles#timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the calculated attribute definition was most recently\n         edited.</p>"
                    }
                },
                "UseHistoricalData": {
                    "target": "com.amazonaws.customerprofiles#optionalBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether historical data ingested before the Calculated Attribute was created should be\n         included in calculations.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.customerprofiles#ReadinessStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Status of the Calculated Attribute creation (whether all historical data has been\n         indexed.)</p>"
                    }
                },
                "Readiness": {
                    "target": "com.amazonaws.customerprofiles#Readiness",
                    "traits": {
                        "smithy.api#documentation": "<p>Information indicating if the Calculated Attribute is ready for use by confirming all\n         historical data has been processed and reflected.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.customerprofiles#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.customerprofiles#CreateDomain": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.customerprofiles#CreateDomainRequest"
            },
            "output": {
                "target": "com.amazonaws.customerprofiles#CreateDomainResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.customerprofiles#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#BadRequestException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#InternalServerException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a domain, which is a container for all customer data, such as customer profile\n         attributes, object types, profile keys, and encryption keys. You can create multiple\n         domains, and each domain can have multiple third-party integrations.</p>\n         <p>Each Amazon Connect instance can be associated with only one domain. Multiple\n            Amazon Connect instances can be associated with one domain.</p>\n         <p>Use this API or <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_UpdateDomain.html\">UpdateDomain</a> to\n         enable <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetMatches.html\">identity\n            resolution</a>: set <code>Matching</code> to true.</p>\n         <p>To prevent cross-service impersonation when you call this API, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/cross-service-confused-deputy-prevention.html\">Cross-service confused deputy prevention</a> for sample policies that you should\n         apply. </p>\n         <note>\n            <p>It is not possible to associate a Customer Profiles domain with an Amazon Connect Instance directly from\n            the API. If you would like to create a domain and associate a Customer Profiles domain, use the Amazon Connect\n            admin website. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-customer-profiles.html#enable-customer-profiles-step1\">Enable Customer Profiles</a>.</p>\n            <p>Each Amazon Connect instance can be associated with only one domain. Multiple Amazon Connect instances\n            can be associated with one domain.</p>\n         </note>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/domains/{DomainName}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.customerprofiles#CreateDomainLayout": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.customerprofiles#CreateDomainLayoutRequest"
            },
            "output": {
                "target": "com.amazonaws.customerprofiles#CreateDomainLayoutResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.customerprofiles#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#BadRequestException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#InternalServerException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.customerprofiles#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates the layout to view data for a specific domain. This API can only be invoked from\n         the Amazon Connect admin website.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/domains/{DomainName}/layouts/{LayoutDefinitionName}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.customerprofiles#CreateDomainLayoutRequest": {
            "type": "structure",
            "members": {
                "DomainName": {
                    "target": "com.amazonaws.customerprofiles#name",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the domain.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "LayoutDefinitionName": {
                    "target": "com.amazonaws.customerprofiles#name",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the layout.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Description": {
                    "target": "com.amazonaws.customerprofiles#sensitiveText",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the layout</p>",
                        "smithy.api#required": {}
                    }
                },
                "DisplayName": {
                    "target": "com.amazonaws.customerprofiles#displayName",
                    "traits": {
                        "smithy.api#documentation": "<p>The display name of the layout</p>",
                        "smithy.api#required": {}
                    }
                },
                "IsDefault": {
                    "target": "com.amazonaws.customerprofiles#boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>If set to true for a layout, this layout will be used by default to view data. If set to\n         false, then the layout will not be used by default, but it can be used to view data by\n         explicitly selecting it in the console.</p>"
                    }
                },
                "LayoutType": {
                    "target": "com.amazonaws.customerprofiles#LayoutType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of layout that can be used to view data under a Customer Profiles domain.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Layout": {
                    "target": "com.amazonaws.customerprofiles#sensitiveString1To2000000",
                    "traits": {
                        "smithy.api#documentation": "<p>A customizable layout that can be used to view data under a Customer Profiles domain.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.customerprofiles#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.customerprofiles#CreateDomainLayoutResponse": {
            "type": "structure",
            "members": {
                "LayoutDefinitionName": {
                    "target": "com.amazonaws.customerprofiles#name",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the layout.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Description": {
                    "target": "com.amazonaws.customerprofiles#sensitiveText",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the layout</p>",
                        "smithy.api#required": {}
                    }
                },
                "DisplayName": {
                    "target": "com.amazonaws.customerprofiles#displayName",
                    "traits": {
                        "smithy.api#documentation": "<p>The display name of the layout</p>",
                        "smithy.api#required": {}
                    }
                },
                "IsDefault": {
                    "target": "com.amazonaws.customerprofiles#boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>If set to true for a layout, this layout will be used by default to view data. If set to\n         false, then the layout will not be used by default, but it can be used to view data by\n         explicitly selecting it in the console.</p>"
                    }
                },
                "LayoutType": {
                    "target": "com.amazonaws.customerprofiles#LayoutType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of layout that can be used to view data under customer profiles domain.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Layout": {
                    "target": "com.amazonaws.customerprofiles#sensitiveString1To2000000",
                    "traits": {
                        "smithy.api#documentation": "<p>A customizable layout that can be used to view data under Customer Profiles\n         domain.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Version": {
                    "target": "com.amazonaws.customerprofiles#string1To255",
                    "traits": {
                        "smithy.api#documentation": "<p>The version used to create layout.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.customerprofiles#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                },
                "CreatedAt": {
                    "target": "com.amazonaws.customerprofiles#timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the layout was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LastUpdatedAt": {
                    "target": "com.amazonaws.customerprofiles#timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the layout was most recently updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.customerprofiles#CreateDomainRequest": {
            "type": "structure",
            "members": {
                "DomainName": {
                    "target": "com.amazonaws.customerprofiles#name",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the domain.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "DefaultExpirationDays": {
                    "target": "com.amazonaws.customerprofiles#expirationDaysInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The default number of days until the data within the domain expires.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DefaultEncryptionKey": {
                    "target": "com.amazonaws.customerprofiles#encryptionKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The default encryption key, which is an AWS managed key, is used when no specific type\n         of encryption key is specified. It is used to encrypt all data before it is placed in\n         permanent or semi-permanent storage.</p>"
                    }
                },
                "DeadLetterQueueUrl": {
                    "target": "com.amazonaws.customerprofiles#sqsQueueUrl",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL of the SQS dead letter queue, which is used for reporting errors associated with\n         ingesting data from third party applications. You must set up a policy on the\n         DeadLetterQueue for the SendMessage operation to enable Amazon Connect Customer Profiles to send\n         messages to the DeadLetterQueue.</p>"
                    }
                },
                "Matching": {
                    "target": "com.amazonaws.customerprofiles#MatchingRequest",
                    "traits": {
                        "smithy.api#documentation": "<p>The process of matching duplicate profiles. If <code>Matching</code> = <code>true</code>, Amazon Connect Customer Profiles starts a weekly\nbatch process called Identity Resolution Job. If you do not specify a date and time for Identity Resolution Job to run, by default it runs every \nSaturday at 12AM UTC to detect duplicate profiles in your domains. </p>\n         <p>After the Identity Resolution Job completes, use the \n<a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetMatches.html\">GetMatches</a>\nAPI to return and review the results. Or, if you have configured <code>ExportingConfig</code> in the <code>MatchingRequest</code>, you can download the results from\nS3.</p>"
                    }
                },
                "RuleBasedMatching": {
                    "target": "com.amazonaws.customerprofiles#RuleBasedMatchingRequest",
                    "traits": {
                        "smithy.api#documentation": "<p>The process of matching duplicate profiles using the Rule-Based matching. If\n            <code>RuleBasedMatching</code> = true, Amazon Connect Customer Profiles will start\n         to match and merge your profiles according to your configuration in the\n            <code>RuleBasedMatchingRequest</code>. You can use the <code>ListRuleBasedMatches</code>\n         and <code>GetSimilarProfiles</code> API to return and review the results. Also, if you have\n         configured <code>ExportingConfig</code> in the <code>RuleBasedMatchingRequest</code>, you\n         can download the results from S3.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.customerprofiles#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.customerprofiles#CreateDomainResponse": {
            "type": "structure",
            "members": {
                "DomainName": {
                    "target": "com.amazonaws.customerprofiles#name",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the domain.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DefaultExpirationDays": {
                    "target": "com.amazonaws.customerprofiles#expirationDaysInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The default number of days until the data within the domain expires.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DefaultEncryptionKey": {
                    "target": "com.amazonaws.customerprofiles#encryptionKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The default encryption key, which is an AWS managed key, is used when no specific type\n         of encryption key is specified. It is used to encrypt all data before it is placed in\n         permanent or semi-permanent storage.</p>"
                    }
                },
                "DeadLetterQueueUrl": {
                    "target": "com.amazonaws.customerprofiles#sqsQueueUrl",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL of the SQS dead letter queue, which is used for reporting errors associated with\n         ingesting data from third party applications.</p>"
                    }
                },
                "Matching": {
                    "target": "com.amazonaws.customerprofiles#MatchingResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>The process of matching duplicate profiles. If <code>Matching</code> = <code>true</code>, Amazon Connect Customer Profiles starts a weekly\nbatch process called Identity Resolution Job. If you do not specify a date and time for Identity Resolution Job to run, by default it runs every \nSaturday at 12AM UTC to detect duplicate profiles in your domains. </p>\n         <p>After the Identity Resolution Job completes, use the \n<a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetMatches.html\">GetMatches</a>\nAPI to return and review the results. Or, if you have configured <code>ExportingConfig</code> in the <code>MatchingRequest</code>, you can download the results from\nS3.</p>"
                    }
                },
                "RuleBasedMatching": {
                    "target": "com.amazonaws.customerprofiles#RuleBasedMatchingResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>The process of matching duplicate profiles using the Rule-Based matching. If\n            <code>RuleBasedMatching</code> = true, Amazon Connect Customer Profiles will start\n         to match and merge your profiles according to your configuration in the\n            <code>RuleBasedMatchingRequest</code>. You can use the <code>ListRuleBasedMatches</code>\n         and <code>GetSimilarProfiles</code> API to return and review the results. Also, if you have\n         configured <code>ExportingConfig</code> in the <code>RuleBasedMatchingRequest</code>, you\n         can download the results from S3.</p>"
                    }
                },
                "CreatedAt": {
                    "target": "com.amazonaws.customerprofiles#timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the domain was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LastUpdatedAt": {
                    "target": "com.amazonaws.customerprofiles#timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the domain was most recently edited.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.customerprofiles#TagMap",
                    "traits": {
[...]
