{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.databrew#AWSGlueDataBrew": {
            "type": "service",
            "version": "2017-07-25",
            "operations": [
                {
                    "target": "com.amazonaws.databrew#BatchDeleteRecipeVersion"
                },
                {
                    "target": "com.amazonaws.databrew#CreateDataset"
                },
                {
                    "target": "com.amazonaws.databrew#CreateProfileJob"
                },
                {
                    "target": "com.amazonaws.databrew#CreateProject"
                },
                {
                    "target": "com.amazonaws.databrew#CreateRecipe"
                },
                {
                    "target": "com.amazonaws.databrew#CreateRecipeJob"
                },
                {
                    "target": "com.amazonaws.databrew#CreateRuleset"
                },
                {
                    "target": "com.amazonaws.databrew#CreateSchedule"
                },
                {
                    "target": "com.amazonaws.databrew#DeleteDataset"
                },
                {
                    "target": "com.amazonaws.databrew#DeleteJob"
                },
                {
                    "target": "com.amazonaws.databrew#DeleteProject"
                },
                {
                    "target": "com.amazonaws.databrew#DeleteRecipeVersion"
                },
                {
                    "target": "com.amazonaws.databrew#DeleteRuleset"
                },
                {
                    "target": "com.amazonaws.databrew#DeleteSchedule"
                },
                {
                    "target": "com.amazonaws.databrew#DescribeDataset"
                },
                {
                    "target": "com.amazonaws.databrew#DescribeJob"
                },
                {
                    "target": "com.amazonaws.databrew#DescribeJobRun"
                },
                {
                    "target": "com.amazonaws.databrew#DescribeProject"
                },
                {
                    "target": "com.amazonaws.databrew#DescribeRecipe"
                },
                {
                    "target": "com.amazonaws.databrew#DescribeRuleset"
                },
                {
                    "target": "com.amazonaws.databrew#DescribeSchedule"
                },
                {
                    "target": "com.amazonaws.databrew#ListDatasets"
                },
                {
                    "target": "com.amazonaws.databrew#ListJobRuns"
                },
                {
                    "target": "com.amazonaws.databrew#ListJobs"
                },
                {
                    "target": "com.amazonaws.databrew#ListProjects"
                },
                {
                    "target": "com.amazonaws.databrew#ListRecipes"
                },
                {
                    "target": "com.amazonaws.databrew#ListRecipeVersions"
                },
                {
                    "target": "com.amazonaws.databrew#ListRulesets"
                },
                {
                    "target": "com.amazonaws.databrew#ListSchedules"
                },
                {
                    "target": "com.amazonaws.databrew#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.databrew#PublishRecipe"
                },
                {
                    "target": "com.amazonaws.databrew#SendProjectSessionAction"
                },
                {
                    "target": "com.amazonaws.databrew#StartJobRun"
                },
                {
                    "target": "com.amazonaws.databrew#StartProjectSession"
                },
                {
                    "target": "com.amazonaws.databrew#StopJobRun"
                },
                {
                    "target": "com.amazonaws.databrew#TagResource"
                },
                {
                    "target": "com.amazonaws.databrew#UntagResource"
                },
                {
                    "target": "com.amazonaws.databrew#UpdateDataset"
                },
                {
                    "target": "com.amazonaws.databrew#UpdateProfileJob"
                },
                {
                    "target": "com.amazonaws.databrew#UpdateProject"
                },
                {
                    "target": "com.amazonaws.databrew#UpdateRecipe"
                },
                {
                    "target": "com.amazonaws.databrew#UpdateRecipeJob"
                },
                {
                    "target": "com.amazonaws.databrew#UpdateRuleset"
                },
                {
                    "target": "com.amazonaws.databrew#UpdateSchedule"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "DataBrew",
                    "arnNamespace": "databrew",
                    "cloudFormationName": "DataBrew",
                    "cloudTrailEventSource": "databrew.amazonaws.com",
                    "endpointPrefix": "databrew"
                },
                "aws.auth#sigv4": {
                    "name": "databrew"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>Glue DataBrew is a visual, cloud-scale data-preparation service. DataBrew\n            simplifies data preparation tasks, targeting data issues that are hard to spot and\n            time-consuming to fix. DataBrew empowers users of all technical levels to visualize the\n            data and perform one-click data transformations, with no coding required.</p>",
                "smithy.api#title": "AWS Glue DataBrew",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": true,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "aws.partition",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ],
                                    "assign": "PartitionResult"
                                }
                            ],
                            "type": "tree",
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Endpoint"
                                                }
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                                    "type": "error"
                                                },
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": {
                                                            "ref": "Endpoint"
                                                        },
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        },
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsFIPS"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsDualStack"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "type": "tree",
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://databrew-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsFIPS"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "type": "tree",
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "stringEquals",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "Region"
                                                                        },
                                                                        "us-gov-west-1"
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://databrew.us-gov-west-1.amazonaws.com",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://databrew-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsDualStack"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "type": "tree",
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://databrew.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://databrew.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "af-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.cn-northwest-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://databrew.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.databrew#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.databrew#Message"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Access to the specified resource was denied.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.databrew#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 255
                }
            }
        },
        "com.amazonaws.databrew#ActionId": {
            "type": "integer"
        },
        "com.amazonaws.databrew#AllowedStatisticList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.databrew#AllowedStatistics"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.databrew#AllowedStatistics": {
            "type": "structure",
            "members": {
                "Statistics": {
                    "target": "com.amazonaws.databrew#StatisticList",
                    "traits": {
                        "smithy.api#documentation": "<p>One or more column statistics to allow for columns that contain detected entities.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration of statistics that are allowed to be run on columns that \n            contain detected entities. When undefined, no statistics will be computed \n            on columns that contain detected entities.</p>"
            }
        },
        "com.amazonaws.databrew#AnalyticsMode": {
            "type": "enum",
            "members": {
                "ENABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLE"
                    }
                },
                "DISABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLE"
                    }
                }
            }
        },
        "com.amazonaws.databrew#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.databrew#AssumeControl": {
            "type": "boolean",
            "traits": {
                "smithy.api#default": false
            }
        },
        "com.amazonaws.databrew#Attempt": {
            "type": "integer",
            "traits": {
                "smithy.api#default": 0
            }
        },
        "com.amazonaws.databrew#BatchDeleteRecipeVersion": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.databrew#BatchDeleteRecipeVersionRequest"
            },
            "output": {
                "target": "com.amazonaws.databrew#BatchDeleteRecipeVersionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.databrew#ConflictException"
                },
                {
                    "target": "com.amazonaws.databrew#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.databrew#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes one or more versions of a recipe at a time.</p>\n         <p>The entire request will be rejected if:</p>\n         <ul>\n            <li>\n               <p>The recipe does not exist.</p>\n            </li>\n            <li>\n               <p>There is an invalid version identifier in the list of versions.</p>\n            </li>\n            <li>\n               <p>The version list is empty.</p>\n            </li>\n            <li>\n               <p>The version list size exceeds 50.</p>\n            </li>\n            <li>\n               <p>The version list contains duplicate entries.</p>\n            </li>\n         </ul>\n         <p>The request will complete successfully, but with partial failures, if:</p>\n         <ul>\n            <li>\n               <p>A version does not exist.</p>\n            </li>\n            <li>\n               <p>A version is being used by a job.</p>\n            </li>\n            <li>\n               <p>You specify <code>LATEST_WORKING</code>, but it's being used by a\n                    project.</p>\n            </li>\n            <li>\n               <p>The version fails to be deleted.</p>\n            </li>\n         </ul>\n         <p>The <code>LATEST_WORKING</code> version will only be deleted if the recipe has no\n            other versions. If you try to delete <code>LATEST_WORKING</code> while other versions\n            exist (or if they can't be deleted), then <code>LATEST_WORKING</code> will be listed as\n            partial failure in the response.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/recipes/{Name}/batchDeleteRecipeVersion",
                    "code": 200
                }
            }
        },
        "com.amazonaws.databrew#BatchDeleteRecipeVersionRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.databrew#RecipeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the recipe whose versions are to be deleted.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "RecipeVersions": {
                    "target": "com.amazonaws.databrew#RecipeVersionList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of version identifiers, for the recipe versions to be deleted. You can\n            specify numeric versions (<code>X.Y</code>) or <code>LATEST_WORKING</code>.\n                <code>LATEST_PUBLISHED</code> is not supported.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.databrew#BatchDeleteRecipeVersionResponse": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.databrew#RecipeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the recipe that was modified.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Errors": {
                    "target": "com.amazonaws.databrew#RecipeErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>Errors, if any, that occurred while attempting to delete the recipe versions.</p>"
                    }
                }
            }
        },
        "com.amazonaws.databrew#Bucket": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 3,
                    "max": 63
                }
            }
        },
        "com.amazonaws.databrew#BucketOwner": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "^[0-9]{12}$"
            }
        },
        "com.amazonaws.databrew#CatalogId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                }
            }
        },
        "com.amazonaws.databrew#ClientSessionId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]*$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.databrew#ColumnName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                }
            }
        },
        "com.amazonaws.databrew#ColumnNameList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.databrew#ColumnName"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 200
                }
            }
        },
        "com.amazonaws.databrew#ColumnRange": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 0,
                    "max": 20
                }
            }
        },
        "com.amazonaws.databrew#ColumnSelector": {
            "type": "structure",
            "members": {
                "Regex": {
                    "target": "com.amazonaws.databrew#ColumnName",
                    "traits": {
                        "smithy.api#documentation": "<p>A regular expression for selecting a column from a dataset.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.databrew#ColumnName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of a column from a dataset.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Selector of a column from a dataset for profile job configuration. \n            One selector includes either a column name or a regular expression.</p>"
            }
        },
        "com.amazonaws.databrew#ColumnSelectorList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.databrew#ColumnSelector"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.databrew#ColumnStatisticsConfiguration": {
            "type": "structure",
            "members": {
                "Selectors": {
                    "target": "com.amazonaws.databrew#ColumnSelectorList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of column selectors. Selectors can be used to select columns from the dataset. \n            When selectors are undefined, configuration will be applied to all supported columns.\n        </p>"
                    }
                },
                "Statistics": {
                    "target": "com.amazonaws.databrew#StatisticsConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration for evaluations. Statistics can be used to select evaluations and override \n            parameters of evaluations. \n        </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration for column evaluations for a profile job. ColumnStatisticsConfiguration can be used to select \n            evaluations and override parameters of evaluations for particular columns. \n        </p>"
            }
        },
        "com.amazonaws.databrew#ColumnStatisticsConfigurationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.databrew#ColumnStatisticsConfiguration"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.databrew#CompressionFormat": {
            "type": "enum",
            "members": {
                "GZIP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GZIP"
                    }
                },
                "LZ4": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LZ4"
                    }
                },
                "SNAPPY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SNAPPY"
                    }
                },
                "BZIP2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BZIP2"
                    }
                },
                "DEFLATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DEFLATE"
                    }
                },
                "LZO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LZO"
                    }
                },
                "BROTLI": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BROTLI"
                    }
                },
                "ZSTD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ZSTD"
                    }
                },
                "ZLIB": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ZLIB"
                    }
                }
            }
        },
        "com.amazonaws.databrew#Condition": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[A-Z\\_]+$"
            }
        },
        "com.amazonaws.databrew#ConditionExpression": {
            "type": "structure",
            "members": {
                "Condition": {
                    "target": "com.amazonaws.databrew#Condition",
                    "traits": {
                        "smithy.api#documentation": "<p>A specific condition to apply to a recipe action. For more information, see <a href=\"https://docs.aws.amazon.com/databrew/latest/dg/recipes.html#recipes.structure\">Recipe\n            structure</a> in the <i>Glue DataBrew Developer\n            Guide</i>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Value": {
                    "target": "com.amazonaws.databrew#ConditionValue",
                    "traits": {
                        "smithy.api#documentation": "<p>A value that the condition must evaluate to for the condition to succeed.</p>"
                    }
                },
                "TargetColumn": {
                    "target": "com.amazonaws.databrew#TargetColumn",
                    "traits": {
                        "smithy.api#documentation": "<p>A column to apply this condition to.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents an individual condition that evaluates to true or false.</p>\n         <p>Conditions are used with recipe actions. The action is only performed for column values where the \n            condition evaluates to true.</p>\n         <p>If a recipe requires more than one condition, then the recipe must specify multiple \n            <code>ConditionExpression</code> elements. Each condition is applied to the rows in a dataset first, before \n            the recipe action is performed.</p>"
            }
        },
        "com.amazonaws.databrew#ConditionExpressionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.databrew#ConditionExpression"
            }
        },
        "com.amazonaws.databrew#ConditionValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.databrew#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.databrew#Message"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.databrew#CreateColumn": {
            "type": "boolean",
            "traits": {
                "smithy.api#default": false
            }
        },
        "com.amazonaws.databrew#CreateDataset": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.databrew#CreateDatasetRequest"
            },
            "output": {
                "target": "com.amazonaws.databrew#CreateDatasetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.databrew#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.databrew#ConflictException"
                },
                {
                    "target": "com.amazonaws.databrew#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.databrew#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new DataBrew dataset.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/datasets",
                    "code": 200
                }
            }
        },
        "com.amazonaws.databrew#CreateDatasetRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.databrew#DatasetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the dataset to be created. Valid characters are alphanumeric (A-Z, a-z,\n            0-9), hyphen (-), period (.), and space.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Format": {
                    "target": "com.amazonaws.databrew#InputFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The file format of a dataset that is created from an Amazon S3 file or folder.</p>"
                    }
                },
                "FormatOptions": {
                    "target": "com.amazonaws.databrew#FormatOptions"
                },
                "Input": {
                    "target": "com.amazonaws.databrew#Input",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "PathOptions": {
                    "target": "com.amazonaws.databrew#PathOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>A set of options that defines how DataBrew interprets an Amazon S3 path of the dataset.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.databrew#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Metadata tags to apply to this dataset.</p>"
                    }
                }
            }
        },
        "com.amazonaws.databrew#CreateDatasetResponse": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.databrew#DatasetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the dataset that you created.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.databrew#CreateProfileJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.databrew#CreateProfileJobRequest"
            },
            "output": {
                "target": "com.amazonaws.databrew#CreateProfileJobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.databrew#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.databrew#ConflictException"
                },
                {
                    "target": "com.amazonaws.databrew#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.databrew#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.databrew#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new job to analyze a dataset and create its data profile.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/profileJobs",
                    "code": 200
                }
            }
        },
        "com.amazonaws.databrew#CreateProfileJobRequest": {
            "type": "structure",
            "members": {
                "DatasetName": {
                    "target": "com.amazonaws.databrew#DatasetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the dataset that this job is to act upon.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EncryptionKeyArn": {
                    "target": "com.amazonaws.databrew#EncryptionKeyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an encryption key that is used to protect the\n            job.</p>"
                    }
                },
                "EncryptionMode": {
                    "target": "com.amazonaws.databrew#EncryptionMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The encryption mode for the job, which can be one of the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SSE-KMS</code> - <code>SSE-KMS</code> - Server-side encryption with \n                    KMS-managed keys.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SSE-S3</code> - Server-side encryption with keys managed by Amazon S3.</p>\n            </li>\n         </ul>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.databrew#JobName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the job to be created. Valid characters are alphanumeric (A-Z, a-z, 0-9),\n            hyphen (-), period (.), and space.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LogSubscription": {
                    "target": "com.amazonaws.databrew#LogSubscription",
                    "traits": {
                        "smithy.api#documentation": "<p>Enables or disables Amazon CloudWatch logging for the job. If logging is enabled,\n            CloudWatch writes one log stream for each job run.</p>"
                    }
                },
                "MaxCapacity": {
                    "target": "com.amazonaws.databrew#MaxCapacity",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The maximum number of nodes that DataBrew can use when the job processes data.</p>"
                    }
                },
                "MaxRetries": {
                    "target": "com.amazonaws.databrew#MaxRetries",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The maximum number of times to retry the job after a job run fails.</p>"
                    }
                },
                "OutputLocation": {
                    "target": "com.amazonaws.databrew#S3Location",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "Configuration": {
                    "target": "com.amazonaws.databrew#ProfileConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration for profile jobs. Used to select columns, do evaluations, \n            and override default parameters of evaluations. When configuration is null, the\n            profile job will run with default settings.</p>"
                    }
                },
                "ValidationConfigurations": {
                    "target": "com.amazonaws.databrew#ValidationConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of validation configurations that are applied to the profile job.</p>"
                    }
                },
                "RoleArn": {
                    "target": "com.amazonaws.databrew#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role to\n            be assumed when DataBrew runs the job.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.databrew#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Metadata tags to apply to this job.</p>"
                    }
                },
                "Timeout": {
                    "target": "com.amazonaws.databrew#Timeout",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The job's timeout in minutes. A job that attempts to run longer than this timeout\n            period ends with a status of <code>TIMEOUT</code>.</p>"
                    }
                },
                "JobSample": {
                    "target": "com.amazonaws.databrew#JobSample",
                    "traits": {
                        "smithy.api#documentation": "<p>Sample configuration for profile jobs only. Determines the number of rows on which the\n            profile job will be executed. If a JobSample value is not provided, the default value\n            will be used. The default value is CUSTOM_ROWS for the mode parameter and 20000 for the\n            size parameter.</p>"
                    }
                }
            }
        },
        "com.amazonaws.databrew#CreateProfileJobResponse": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.databrew#JobName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the job that was created.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.databrew#CreateProject": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.databrew#CreateProjectRequest"
            },
            "output": {
                "target": "com.amazonaws.databrew#CreateProjectResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.databrew#ConflictException"
                },
                {
                    "target": "com.amazonaws.databrew#InternalServerException"
                },
                {
                    "target": "com.amazonaws.databrew#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.databrew#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new DataBrew project.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/projects",
                    "code": 200
                }
            }
        },
        "com.amazonaws.databrew#CreateProjectRequest": {
            "type": "structure",
            "members": {
                "DatasetName": {
                    "target": "com.amazonaws.databrew#DatasetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of an existing dataset to associate this project with.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "com.amazonaws.databrew#ProjectName",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name for the new project. Valid characters are alphanumeric (A-Z, a-z, 0-9),\n            hyphen (-), period (.), and space.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RecipeName": {
                    "target": "com.amazonaws.databrew#RecipeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of an existing recipe to associate with the project.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Sample": {
                    "target": "com.amazonaws.databrew#Sample"
                },
                "RoleArn": {
                    "target": "com.amazonaws.databrew#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role to\n            be assumed for this request.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.databrew#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Metadata tags to apply to this project.</p>"
                    }
                }
            }
        },
        "com.amazonaws.databrew#CreateProjectResponse": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.databrew#ProjectName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the project that you created.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.databrew#CreateRecipe": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.databrew#CreateRecipeRequest"
            },
            "output": {
                "target": "com.amazonaws.databrew#CreateRecipeResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.databrew#ConflictException"
                },
                {
                    "target": "com.amazonaws.databrew#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.databrew#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new DataBrew recipe.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/recipes",
                    "code": 200
                }
            }
        },
        "com.amazonaws.databrew#CreateRecipeJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.databrew#CreateRecipeJobRequest"
            },
            "output": {
                "target": "com.amazonaws.databrew#CreateRecipeJobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.databrew#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.databrew#ConflictException"
                },
                {
                    "target": "com.amazonaws.databrew#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.databrew#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.databrew#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new job to transform input data, using steps defined in an existing Glue DataBrew recipe</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/recipeJobs",
                    "code": 200
                }
            }
        },
        "com.amazonaws.databrew#CreateRecipeJobRequest": {
            "type": "structure",
            "members": {
                "DatasetName": {
                    "target": "com.amazonaws.databrew#DatasetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the dataset that this job processes.</p>"
                    }
                },
                "EncryptionKeyArn": {
                    "target": "com.amazonaws.databrew#EncryptionKeyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an encryption key that is used to protect the\n            job.</p>"
                    }
                },
                "EncryptionMode": {
                    "target": "com.amazonaws.databrew#EncryptionMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The encryption mode for the job, which can be one of the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SSE-KMS</code> - Server-side encryption with keys managed by KMS.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SSE-S3</code> - Server-side encryption with keys managed by Amazon S3.</p>\n            </li>\n         </ul>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.databrew#JobName",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name for the job. Valid characters are alphanumeric (A-Z, a-z, 0-9), hyphen\n            (-), period (.), and space.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LogSubscription": {
                    "target": "com.amazonaws.databrew#LogSubscription",
                    "traits": {
                        "smithy.api#documentation": "<p>Enables or disables Amazon CloudWatch logging for the job. If logging is enabled,\n            CloudWatch writes one log stream for each job run.</p>"
                    }
                },
                "MaxCapacity": {
                    "target": "com.amazonaws.databrew#MaxCapacity",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The maximum number of nodes that DataBrew can consume when the job processes\n            data.</p>"
                    }
                },
                "MaxRetries": {
                    "target": "com.amazonaws.databrew#MaxRetries",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The maximum number of times to retry the job after a job run fails.</p>"
                    }
                },
                "Outputs": {
                    "target": "com.amazonaws.databrew#OutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>One or more artifacts that represent the output from running the job.</p>"
                    }
                },
                "DataCatalogOutputs": {
                    "target": "com.amazonaws.databrew#DataCatalogOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>One or more artifacts that represent the Glue Data Catalog output from running the job.</p>"
                    }
                },
                "DatabaseOutputs": {
                    "target": "com.amazonaws.databrew#DatabaseOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>Represents a list of JDBC database output objects which defines the output destination for \n            a DataBrew recipe job to write to. </p>"
                    }
                },
                "ProjectName": {
                    "target": "com.amazonaws.databrew#ProjectName",
                    "traits": {
                        "smithy.api#documentation": "<p>Either the name of an existing project, or a combination of a recipe and a dataset to\n            associate with the recipe.</p>"
                    }
                },
                "RecipeReference": {
                    "target": "com.amazonaws.databrew#RecipeReference"
                },
                "RoleArn": {
                    "target": "com.amazonaws.databrew#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role to\n            be assumed when DataBrew runs the job.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.databrew#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Metadata tags to apply to this job.</p>"
                    }
                },
                "Timeout": {
                    "target": "com.amazonaws.databrew#Timeout",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The job's timeout in minutes. A job that attempts to run longer than this timeout\n            period ends with a status of <code>TIMEOUT</code>.</p>"
                    }
                }
            }
        },
        "com.amazonaws.databrew#CreateRecipeJobResponse": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.databrew#JobName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the job that you created.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.databrew#CreateRecipeRequest": {
            "type": "structure",
            "members": {
                "Description": {
                    "target": "com.amazonaws.databrew#RecipeDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description for the recipe.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.databrew#RecipeName",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name for the recipe. Valid characters are alphanumeric (A-Z, a-z, 0-9),\n            hyphen (-), period (.), and space.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Steps": {
                    "target": "com.amazonaws.databrew#RecipeStepList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array containing the steps to be performed by the recipe. Each recipe step consists\n            of one recipe action and (optionally) an array of condition expressions.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.databrew#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Metadata tags to apply to this recipe.</p>"
                    }
                }
            }
        },
        "com.amazonaws.databrew#CreateRecipeResponse": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.databrew#RecipeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the recipe that you created.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.databrew#CreateRuleset": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.databrew#CreateRulesetRequest"
            },
            "output": {
                "target": "com.amazonaws.databrew#CreateRulesetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.databrew#ConflictException"
                },
                {
                    "target": "com.amazonaws.databrew#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.databrew#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new ruleset that can be used in a profile job to validate \n            the data quality of a dataset.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/rulesets",
                    "code": 200
                }
            }
        },
        "com.amazonaws.databrew#CreateRulesetRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.databrew#RulesetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the ruleset to be created. Valid characters are alphanumeric \n            (A-Z, a-z, 0-9), hyphen (-), period (.), and space.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Description": {
                    "target": "com.amazonaws.databrew#RulesetDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the ruleset.</p>"
                    }
                },
                "TargetArn": {
                    "target": "com.amazonaws.databrew#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a resource (dataset) that the \n            ruleset is associated with.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Rules": {
                    "target": "com.amazonaws.databrew#RuleList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of rules that are defined with the ruleset. A rule includes \n            one or more checks to be validated on a DataBrew dataset.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.databrew#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Metadata tags to apply to the ruleset.</p>"
                    }
                }
            }
        },
        "com.amazonaws.databrew#CreateRulesetResponse": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.databrew#RulesetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the created ruleset.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.databrew#CreateSchedule": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.databrew#CreateScheduleRequest"
            },
            "output": {
                "target": "com.amazonaws.databrew#CreateScheduleResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.databrew#ConflictException"
                },
                {
                    "target": "com.amazonaws.databrew#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.databrew#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new schedule for one or more DataBrew jobs. Jobs can be run at a specific\n            date and time, or at regular intervals.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/schedules",
                    "code": 200
                }
            }
        },
        "com.amazonaws.databrew#CreateScheduleRequest": {
            "type": "structure",
            "members": {
                "JobNames": {
                    "target": "com.amazonaws.databrew#JobNameList",
                    "traits": {
                        "smithy.api#documentation": "<p>The name or names of one or more jobs to be run.</p>"
                    }
                },
                "CronExpression": {
                    "target": "com.amazonaws.databrew#CronExpression",
                    "traits": {
[...]
