{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.databasemigrationservice#AccessDeniedFault": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.databasemigrationservice#ExceptionMessage",
                    "traits": {
                        "smithy.api#documentation": "<p></p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>DMS was denied access to the endpoint. Check that the \n            role is correctly configured.</p>",
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.databasemigrationservice#AccountQuota": {
            "type": "structure",
            "members": {
                "AccountQuotaName": {
                    "target": "com.amazonaws.databasemigrationservice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the DMS quota for this Amazon Web Services account.</p>"
                    }
                },
                "Used": {
                    "target": "com.amazonaws.databasemigrationservice#Long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The amount currently used toward the quota maximum.</p>"
                    }
                },
                "Max": {
                    "target": "com.amazonaws.databasemigrationservice#Long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The maximum allowed value for the quota.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a quota for an Amazon Web Services account, for example the number of replication instances\n         allowed.</p>"
            }
        },
        "com.amazonaws.databasemigrationservice#AccountQuotaList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.databasemigrationservice#AccountQuota",
                "traits": {
                    "smithy.api#xmlName": "AccountQuota"
                }
            }
        },
        "com.amazonaws.databasemigrationservice#AddTagsToResource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.databasemigrationservice#AddTagsToResourceMessage"
            },
            "output": {
                "target": "com.amazonaws.databasemigrationservice#AddTagsToResourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.databasemigrationservice#InvalidResourceStateFault"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds metadata tags to an DMS resource, including replication instance, endpoint,\n         subnet group, and migration task. These tags can also be used with cost allocation\n         reporting to track cost associated with DMS resources, or used in a Condition statement in\n         an IAM policy for DMS. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_Tag.html\">\n               <code>Tag</code>\n            </a> data type\n         description.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Add tags to resource",
                        "documentation": "Adds metadata tags to an AWS DMS resource, including replication instance, endpoint, security group, and migration task. These tags can also be used with cost allocation reporting to track cost associated with AWS DMS resources, or used in a Condition statement in an IAM policy for AWS DMS.",
                        "input": {
                            "ResourceArn": "arn:aws:dms:us-east-1:123456789012:endpoint:ASXWXJZLNWNT5HTWCGV2BUJQ7E",
                            "Tags": [
                                {
                                    "Key": "Acount",
                                    "Value": "1633456"
                                }
                            ]
                        },
                        "output": {}
                    }
                ]
            }
        },
        "com.amazonaws.databasemigrationservice#AddTagsToResourceMessage": {
            "type": "structure",
            "members": {
                "ResourceArn": {
                    "target": "com.amazonaws.databasemigrationservice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Identifies the DMS resource to which tags should be added. The value for this\n         parameter is an Amazon Resource Name (ARN).</p>\n         <p>For DMS, you can tag a replication instance, an endpoint, or a replication\n         task.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.databasemigrationservice#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>One or more tags to be assigned to the resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Associates a set of tags with an DMS resource.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.databasemigrationservice#AddTagsToResourceResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p></p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.databasemigrationservice#AmazonDMSv20160101": {
            "type": "service",
            "version": "2016-01-01",
            "operations": [
                {
                    "target": "com.amazonaws.databasemigrationservice#AddTagsToResource"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceAction"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#BatchStartRecommendations"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#CancelReplicationTaskAssessmentRun"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#CreateDataMigration"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#CreateDataProvider"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#CreateEndpoint"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#CreateEventSubscription"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#CreateFleetAdvisorCollector"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#CreateInstanceProfile"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#CreateMigrationProject"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#CreateReplicationConfig"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#CreateReplicationInstance"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#CreateReplicationSubnetGroup"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#CreateReplicationTask"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteCertificate"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteConnection"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteDataMigration"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteDataProvider"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteEndpoint"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteEventSubscription"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteFleetAdvisorCollector"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteFleetAdvisorDatabases"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteInstanceProfile"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteMigrationProject"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteReplicationConfig"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteReplicationInstance"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteReplicationSubnetGroup"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteReplicationTask"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DeleteReplicationTaskAssessmentRun"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeAccountAttributes"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeApplicableIndividualAssessments"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeCertificates"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeConnections"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeConversionConfiguration"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeDataMigrations"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeDataProviders"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeEndpoints"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeEndpointSettings"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeEndpointTypes"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeEngineVersions"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeEventCategories"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeEvents"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeEventSubscriptions"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeExtensionPackAssociations"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeFleetAdvisorCollectors"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeFleetAdvisorDatabases"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeFleetAdvisorLsaAnalysis"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeFleetAdvisorSchemaObjectSummary"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeFleetAdvisorSchemas"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeInstanceProfiles"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeMetadataModelAssessments"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeMetadataModelConversions"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeMetadataModelExportsAsScript"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeMetadataModelExportsToTarget"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeMetadataModelImports"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeMigrationProjects"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeOrderableReplicationInstances"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribePendingMaintenanceActions"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeRecommendationLimitations"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeRecommendations"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeRefreshSchemasStatus"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeReplicationConfigs"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeReplicationInstances"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeReplicationInstanceTaskLogs"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeReplications"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeReplicationSubnetGroups"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeReplicationTableStatistics"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeReplicationTaskAssessmentResults"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeReplicationTaskAssessmentRuns"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeReplicationTaskIndividualAssessments"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeReplicationTasks"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeSchemas"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#DescribeTableStatistics"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ExportMetadataModelAssessment"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ImportCertificate"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ModifyConversionConfiguration"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ModifyDataMigration"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ModifyDataProvider"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ModifyEndpoint"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ModifyEventSubscription"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ModifyInstanceProfile"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ModifyMigrationProject"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ModifyReplicationConfig"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ModifyReplicationInstance"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ModifyReplicationSubnetGroup"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ModifyReplicationTask"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#MoveReplicationTask"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#RebootReplicationInstance"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#RefreshSchemas"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ReloadReplicationTables"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ReloadTables"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#RemoveTagsFromResource"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#RunFleetAdvisorLsaAnalysis"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StartDataMigration"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StartExtensionPackAssociation"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StartMetadataModelAssessment"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StartMetadataModelConversion"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StartMetadataModelExportAsScript"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StartMetadataModelExportToTarget"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StartMetadataModelImport"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StartRecommendations"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StartReplication"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StartReplicationTask"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StartReplicationTaskAssessment"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StartReplicationTaskAssessmentRun"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StopDataMigration"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StopReplication"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#StopReplicationTask"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#TestConnection"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#UpdateSubscriptionsToEventBridge"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Database Migration Service",
                    "arnNamespace": "dms",
                    "cloudFormationName": "DMS",
                    "cloudTrailEventSource": "dms.amazonaws.com",
                    "docId": "dms-2016-01-01",
                    "endpointPrefix": "dms"
                },
                "aws.auth#sigv4": {
                    "name": "dms"
                },
                "aws.protocols#awsJson1_1": {},
                "smithy.api#documentation": "<fullname>Database Migration Service</fullname>\n         <p>Database Migration Service (DMS) can migrate your data to and from the most\n         widely used commercial and open-source databases such as Oracle, PostgreSQL, Microsoft SQL\n         Server, Amazon Redshift, MariaDB, Amazon Aurora, MySQL, and SAP Adaptive Server Enterprise\n         (ASE). The service supports homogeneous migrations such as Oracle to Oracle, as well as\n         heterogeneous migrations between different database platforms, such as Oracle to MySQL or\n         SQL Server to PostgreSQL.</p>\n         <p>For more information about DMS, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/Welcome.html\">What Is Database Migration Service?</a>\n         in the <i>Database Migration Service User Guide.</i>\n         </p>",
                "smithy.api#title": "AWS Database Migration Service",
                "smithy.api#xmlNamespace": {
                    "uri": "http://dms.amazonaws.com/doc/2016-01-01/"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://dms-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "stringEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "name"
                                                                            ]
                                                                        },
                                                                        "aws-us-gov"
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://dms.{Region}.amazonaws.com",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "stringEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "name"
                                                                            ]
                                                                        },
                                                                        "aws-iso"
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://dms.{Region}.c2s.ic.gov",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "stringEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "name"
                                                                            ]
                                                                        },
                                                                        "aws-iso-b"
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://dms.{Region}.sc2s.sgov.gov",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://dms-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://dms.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://dms.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "af-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.ap-southeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "me-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms-fips.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms-fips.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms-fips.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.cn-northwest-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-iso-west-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-iso-west-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://dms.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceAction": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceActionMessage"
            },
            "output": {
                "target": "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceActionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Applies a pending maintenance action to a resource (for example, to a replication\n         instance).</p>"
            }
        },
        "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceActionMessage": {
            "type": "structure",
            "members": {
                "ReplicationInstanceArn": {
                    "target": "com.amazonaws.databasemigrationservice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the DMS resource that the pending maintenance action\n         applies to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ApplyAction": {
                    "target": "com.amazonaws.databasemigrationservice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The pending maintenance action to apply to this resource.</p>\n         <p>Valid values: <code>os-upgrade</code>, <code>system-update</code>,\n            <code>db-upgrade</code>, <code>os-patch</code>\n         </p>",
                        "smithy.api#required": {}
                    }
                },
                "OptInType": {
                    "target": "com.amazonaws.databasemigrationservice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A value that specifies the type of opt-in request, or undoes an opt-in request. You\n         can't undo an opt-in request of type <code>immediate</code>.</p>\n         <p>Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>immediate</code> - Apply the maintenance action immediately.</p>\n            </li>\n            <li>\n               <p>\n                  <code>next-maintenance</code> - Apply the maintenance action during the next\n               maintenance window for the resource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in\n               requests.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p></p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceActionResponse": {
            "type": "structure",
            "members": {
                "ResourcePendingMaintenanceActions": {
                    "target": "com.amazonaws.databasemigrationservice#ResourcePendingMaintenanceActions",
                    "traits": {
                        "smithy.api#documentation": "<p>The DMS resource that the pending maintenance action will be applied to.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p></p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.databasemigrationservice#ArnList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.databasemigrationservice#String"
            }
        },
        "com.amazonaws.databasemigrationservice#AssessmentReportType": {
            "type": "enum",
            "members": {
                "PDF": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "pdf"
                    }
                },
                "CSV": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "csv"
                    }
                }
            }
        },
        "com.amazonaws.databasemigrationservice#AssessmentReportTypesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.databasemigrationservice#AssessmentReportType"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.databasemigrationservice#AuthMechanismValue": {
            "type": "enum",
            "members": {
                "DEFAULT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "default"
                    }
                },
                "MONGODB_CR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "mongodb_cr"
                    }
                },
                "SCRAM_SHA_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "scram_sha_1"
                    }
                }
            }
        },
        "com.amazonaws.databasemigrationservice#AuthTypeValue": {
            "type": "enum",
            "members": {
                "NO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "no"
                    }
                },
                "PASSWORD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "password"
                    }
                }
            }
        },
        "com.amazonaws.databasemigrationservice#AvailabilityZone": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.databasemigrationservice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The name of an Availability Zone for use during database migration.\n            <code>AvailabilityZone</code> is an optional parameter to the <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_CreateReplicationInstance.html\">\n               <code>CreateReplicationInstance</code>\n            </a> operation, and it’s value relates to\n         the Amazon Web Services Region of an endpoint. For example, the availability zone of an endpoint in the\n         us-east-1 region might be us-east-1a, us-east-1b, us-east-1c, or us-east-1d.</p>"
            }
        },
        "com.amazonaws.databasemigrationservice#AvailabilityZonesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.databasemigrationservice#String"
            }
        },
        "com.amazonaws.databasemigrationservice#AvailableUpgradesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.databasemigrationservice#String"
            }
        },
        "com.amazonaws.databasemigrationservice#BatchStartRecommendations": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.databasemigrationservice#BatchStartRecommendationsRequest"
            },
            "output": {
                "target": "com.amazonaws.databasemigrationservice#BatchStartRecommendationsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.databasemigrationservice#AccessDeniedFault"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#InvalidResourceStateFault"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<important>\n            <p>\nEnd of support notice: On May 20, 2026, Amazon Web Services will end support for Amazon Web Services DMS Fleet Advisor;. After May 20, 2026, you will no longer be able to access the Amazon Web Services DMS Fleet Advisor; console or Amazon Web Services DMS Fleet Advisor; resources. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/dms_fleet.advisor-end-of-support.html\">Amazon Web Services DMS Fleet Advisor end of support</a>.\n</p>\n         </important>\n         <p>Starts the analysis of up to 20 source databases to recommend target engines for each\n            source database. This is a batch version of <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_StartRecommendations.html\">StartRecommendations</a>.</p>\n         <p>The result of analysis of each source database is reported individually in the\n            response. Because the batch request can result in a combination of successful and\n            unsuccessful actions, you should check for batch errors even when the call returns an\n            HTTP status code of <code>200</code>.</p>"
            }
        },
        "com.amazonaws.databasemigrationservice#BatchStartRecommendationsErrorEntry": {
            "type": "structure",
            "members": {
                "DatabaseId": {
                    "target": "com.amazonaws.databasemigrationservice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the source database.</p>"
                    }
                },
                "Message": {
                    "target": "com.amazonaws.databasemigrationservice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The information about the error.</p>"
                    }
                },
                "Code": {
                    "target": "com.amazonaws.databasemigrationservice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The code of an error that occurred during the analysis of the source database.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the errors that occurred during the analysis of the source\n            database.</p>"
            }
        },
        "com.amazonaws.databasemigrationservice#BatchStartRecommendationsErrorEntryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.databasemigrationservice#BatchStartRecommendationsErrorEntry"
            }
        },
        "com.amazonaws.databasemigrationservice#BatchStartRecommendationsRequest": {
            "type": "structure",
            "members": {
                "Data": {
                    "target": "com.amazonaws.databasemigrationservice#StartRecommendationsRequestEntryList",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides information about source databases to analyze. After this analysis, Fleet\n            Advisor recommends target engines for each source database.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.databasemigrationservice#BatchStartRecommendationsResponse": {
            "type": "structure",
            "members": {
                "ErrorEntries": {
                    "target": "com.amazonaws.databasemigrationservice#BatchStartRecommendationsErrorEntryList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list with error details about the analysis of each source database.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.databasemigrationservice#Boolean": {
            "type": "boolean",
            "traits": {
                "smithy.api#default": false
            }
        },
        "com.amazonaws.databasemigrationservice#BooleanOptional": {
            "type": "boolean"
        },
        "com.amazonaws.databasemigrationservice#CancelReplicationTaskAssessmentRun": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.databasemigrationservice#CancelReplicationTaskAssessmentRunMessage"
            },
            "output": {
                "target": "com.amazonaws.databasemigrationservice#CancelReplicationTaskAssessmentRunResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.databasemigrationservice#AccessDeniedFault"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#InvalidResourceStateFault"
                },
                {
                    "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a single premigration assessment run.</p>\n         <p>This operation prevents any individual assessments from running if they haven't started\n         running. It also attempts to cancel any individual assessments that are currently\n         running.</p>"
            }
        },
        "com.amazonaws.databasemigrationservice#CancelReplicationTaskAssessmentRunMessage": {
            "type": "structure",
            "members": {
                "ReplicationTaskAssessmentRunArn": {
                    "target": "com.amazonaws.databasemigrationservice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the premigration assessment run to be canceled.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p></p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.databasemigrationservice#CancelReplicationTaskAssessmentRunResponse": {
            "type": "structure",
            "members": {
                "ReplicationTaskAssessmentRun": {
                    "target": "com.amazonaws.databasemigrationservice#ReplicationTaskAssessmentRun",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>ReplicationTaskAssessmentRun</code> object for the canceled assessment\n         run.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p></p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.databasemigrationservice#CannedAclForObjectsValue": {
            "type": "enum",
            "members": {
                "NONE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "none"
                    }
                },
                "PRIVATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "private"
                    }
                },
                "PUBLIC_READ": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "public-read"
                    }
                },
                "PUBLIC_READ_WRITE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "public-read-write"
                    }
                },
                "AUTHENTICATED_READ": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "authenticated-read"
                    }
                },
                "AWS_EXEC_READ": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "aws-exec-read"
                    }
                },
                "BUCKET_OWNER_READ": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "bucket-owner-read"
                    }
                },
                "BUCKET_OWNER_FULL_CONTROL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "bucket-owner-full-control"
                    }
                }
            }
        },
        "com.amazonaws.databasemigrationservice#Certificate": {
            "type": "structure",
            "members": {
                "CertificateIdentifier": {
                    "target": "com.amazonaws.databasemigrationservice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A customer-assigned name for the certificate. Identifiers must begin with a letter and\n         must contain only ASCII letters, digits, and hyphens. They can't end with a hyphen or\n         contain two consecutive hyphens.</p>"
                    }
                },
                "CertificateCreationDate": {
                    "target": "com.amazonaws.databasemigrationservice#TStamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date that the certificate was created.</p>"
                    }
                },
                "CertificatePem": {
                    "target": "com.amazonaws.databasemigrationservice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The contents of a <code>.pem</code> file, which contains an X.509 certificate.</p>"
                    }
                },
                "CertificateWallet": {
                    "target": "com.amazonaws.databasemigrationservice#CertificateWallet",
                    "traits": {
                        "smithy.api#documentation": "<p>The location of an imported Oracle Wallet certificate for use with SSL. Example:\n            <code>filebase64(\"${path.root}/rds-ca-2019-root.sso\")</code>\n         </p>"
                    }
                },
                "CertificateArn": {
                    "target": "com.amazonaws.databasemigrationservice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the certificate.</p>"
                    }
                },
                "CertificateOwner": {
                    "target": "com.amazonaws.databasemigrationservice#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The owner of the certificate.</p>"
                    }
                },
                "ValidFromDate": {
                    "target": "com.amazonaws.databasemigrationservice#TStamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The beginning date that the certificate is valid.</p>"
                    }
                },
                "ValidToDate": {
                    "target": "com.amazonaws.databasemigrationservice#TStamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The final date that the certificate is valid.</p>"
                    }
                },
                "SigningAlgorithm": {
[...]
