{
    "smithy": "2.0",
    "shapes": {
        "aws.cloudformation#StructureIdList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#idRef": {
                        "failWhenMissing": true,
                        "selector": "structure"
                    }
                }
            },
            "traits": {
                "smithy.api#private": {}
            }
        },
        "com.amazonaws.deadline#AcceleratorCapabilities": {
            "type": "structure",
            "members": {
                "selections": {
                    "target": "com.amazonaws.deadline#AcceleratorSelections",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of accelerator capabilities requested for this fleet. Only Amazon Elastic Compute Cloud instances\n         that provide these capabilities will be used. For example, if you specify both L4 and T4\n         chips, Deadline Cloud will use Amazon EC2 instances that have either the L4 or the T4 chip\n         installed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "count": {
                    "target": "com.amazonaws.deadline#AcceleratorCountRange",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of GPU accelerators specified for worker hosts in this fleet. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the GPU accelerators used for jobs processed by a\n         fleet.</p>"
            }
        },
        "com.amazonaws.deadline#AcceleratorCountRange": {
            "type": "structure",
            "members": {
                "min": {
                    "target": "com.amazonaws.deadline#MinZeroMaxInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The minimum number of GPU accelerators in the worker host.</p>",
                        "smithy.api#required": {}
                    }
                },
                "max": {
                    "target": "com.amazonaws.deadline#MinZeroMaxInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of GPU accelerators in the worker host.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines the maximum and minimum number of GPU accelerators required for a worker\n         instance..</p>"
            }
        },
        "com.amazonaws.deadline#AcceleratorName": {
            "type": "enum",
            "members": {
                "T4": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "t4"
                    }
                },
                "A10G": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "a10g"
                    }
                },
                "L4": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "l4"
                    }
                },
                "L40S": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "l40s"
                    }
                }
            }
        },
        "com.amazonaws.deadline#AcceleratorRuntime": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.deadline#AcceleratorSelection": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.deadline#AcceleratorName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the chip used by the GPU accelerator.</p>\n         <p>If you specify <code>l4</code> as the name of the accelerator, you must specify\n            <code>latest</code> or <code>grid:r570</code> as the runtime.</p>\n         <p>The available GPU accelerators are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>t4</code> - NVIDIA T4 Tensor Core GPU</p>\n            </li>\n            <li>\n               <p>\n                  <code>a10g</code> - NVIDIA A10G Tensor Core GPU</p>\n            </li>\n            <li>\n               <p>\n                  <code>l4</code> - NVIDIA L4 Tensor Core GPU</p>\n            </li>\n            <li>\n               <p>\n                  <code>l40s</code> - NVIDIA L40S Tensor Core GPU</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "runtime": {
                    "target": "com.amazonaws.deadline#AcceleratorRuntime",
                    "traits": {
                        "smithy.api#default": "latest",
                        "smithy.api#documentation": "<p>Specifies the runtime driver to use for the GPU accelerator. You must use the same\n         runtime for all GPUs. </p>\n         <p>You can choose from the following runtimes:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>latest</code> - Use the latest runtime available for the chip. If you\n               specify <code>latest</code> and a new version of the runtime is released, the new\n               version of the runtime is used.</p>\n            </li>\n            <li>\n               <p>\n                  <code>grid:r570</code> - <a href=\"https://docs.nvidia.com/vgpu/18.0/index.html\">NVIDIA vGPU software 18</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>grid:r535</code> - <a href=\"https://docs.nvidia.com/vgpu/16.0/index.html\">NVIDIA vGPU software 16</a>\n               </p>\n            </li>\n         </ul>\n         <p>If you don't specify a runtime, Deadline Cloud uses <code>latest</code> as the default. However,\n         if you have multiple accelerators and specify <code>latest</code> for some and leave others\n         blank, Deadline Cloud raises an exception.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a specific GPU accelerator required for an Amazon Elastic Compute Cloud worker host.</p>"
            }
        },
        "com.amazonaws.deadline#AcceleratorSelections": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.deadline#AcceleratorSelection"
            }
        },
        "com.amazonaws.deadline#AcceleratorTotalMemoryMiBRange": {
            "type": "structure",
            "members": {
                "min": {
                    "target": "com.amazonaws.deadline#MinZeroMaxInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The minimum amount of memory to use for the accelerator, measured in MiB.</p>",
                        "smithy.api#required": {}
                    }
                },
                "max": {
                    "target": "com.amazonaws.deadline#MinZeroMaxInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum amount of memory to use for the accelerator, measured in MiB.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines the maximum and minimum amount of memory, in MiB, to use for the\n         accelerator.</p>"
            }
        },
        "com.amazonaws.deadline#AcceleratorType": {
            "type": "enum",
            "members": {
                "GPU": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "GPU accelerator type.",
                        "smithy.api#enumValue": "gpu"
                    }
                }
            }
        },
        "com.amazonaws.deadline#AcceleratorTypes": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.deadline#AcceleratorType"
            }
        },
        "com.amazonaws.deadline#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.deadline#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "context": {
                    "target": "com.amazonaws.deadline#ExceptionContext",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the resources in use when the exception was thrown.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You don't have permission to perform the action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.deadline#AccessKeyId": {
            "type": "string",
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.deadline#AcquiredLimit": {
            "type": "structure",
            "members": {
                "limitId": {
                    "target": "com.amazonaws.deadline#LimitId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the limit.</p>",
                        "smithy.api#required": {}
                    }
                },
                "count": {
                    "target": "com.amazonaws.deadline#MinOneMaxInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of limit resources used.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the number of resources used.</p>"
            }
        },
        "com.amazonaws.deadline#AcquiredLimits": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.deadline#AcquiredLimit"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.deadline#AggregationId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[0-9a-f]{32}$"
            }
        },
        "com.amazonaws.deadline#AllowedStorageProfileIds": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.deadline#StorageProfileId"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 20
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.deadline#AmountCapabilityName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                },
                "smithy.api#pattern": "^([a-zA-Z][a-zA-Z0-9]{0,63}:)?amount(\\.[a-zA-Z][a-zA-Z0-9]{0,63})+$"
            }
        },
        "com.amazonaws.deadline#AmountRequirementName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 1024
                }
            }
        },
        "com.amazonaws.deadline#AssignedEnvironmentEnterSessionActionDefinition": {
            "type": "structure",
            "members": {
                "environmentId": {
                    "target": "com.amazonaws.deadline#EnvironmentId",
                    "traits": {
                        "smithy.api#documentation": "<p>The environment ID of the assigned environment at the start of a session.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The assigned starting environment for a worker during session.</p>"
            }
        },
        "com.amazonaws.deadline#AssignedEnvironmentExitSessionActionDefinition": {
            "type": "structure",
            "members": {
                "environmentId": {
                    "target": "com.amazonaws.deadline#EnvironmentId",
                    "traits": {
                        "smithy.api#documentation": "<p>The environment ID of the assigned environment when exiting a session.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The assigned environment when a worker exits a session.</p>"
            }
        },
        "com.amazonaws.deadline#AssignedSession": {
            "type": "structure",
            "members": {
                "queueId": {
                    "target": "com.amazonaws.deadline#QueueId",
                    "traits": {
                        "smithy.api#documentation": "<p>The queue ID of the assigned session.</p>",
                        "smithy.api#required": {}
                    }
                },
                "jobId": {
                    "target": "com.amazonaws.deadline#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The job ID for the assigned session.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sessionActions": {
                    "target": "com.amazonaws.deadline#AssignedSessionActions",
                    "traits": {
                        "smithy.api#documentation": "<p>The session actions to apply to the assigned session.</p>",
                        "smithy.api#required": {}
                    }
                },
                "logConfiguration": {
                    "target": "com.amazonaws.deadline#LogConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The log configuration for the worker's assigned session.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The assigned session for the worker.</p>"
            }
        },
        "com.amazonaws.deadline#AssignedSessionAction": {
            "type": "structure",
            "members": {
                "sessionActionId": {
                    "target": "com.amazonaws.deadline#SessionActionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The session action ID for the assigned session.</p>",
                        "smithy.api#required": {}
                    }
                },
                "definition": {
                    "target": "com.amazonaws.deadline#AssignedSessionActionDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>The definition of the assigned session action.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The action for a session defined by the session action ID.</p>"
            }
        },
        "com.amazonaws.deadline#AssignedSessionActionDefinition": {
            "type": "union",
            "members": {
                "envEnter": {
                    "target": "com.amazonaws.deadline#AssignedEnvironmentEnterSessionActionDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>The environment a session starts on.</p>"
                    }
                },
                "envExit": {
                    "target": "com.amazonaws.deadline#AssignedEnvironmentExitSessionActionDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>The environment a session exits from.</p>"
                    }
                },
                "taskRun": {
                    "target": "com.amazonaws.deadline#AssignedTaskRunSessionActionDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>The task run.</p>"
                    }
                },
                "syncInputJobAttachments": {
                    "target": "com.amazonaws.deadline#AssignedSyncInputJobAttachmentsSessionActionDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>The job attachment to sync with an assigned session action.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The definition of the assigned session action.</p>"
            }
        },
        "com.amazonaws.deadline#AssignedSessionActions": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.deadline#AssignedSessionAction"
            }
        },
        "com.amazonaws.deadline#AssignedSessions": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.deadline#SessionId"
            },
            "value": {
                "target": "com.amazonaws.deadline#AssignedSession"
            }
        },
        "com.amazonaws.deadline#AssignedSyncInputJobAttachmentsSessionActionDefinition": {
            "type": "structure",
            "members": {
                "stepId": {
                    "target": "com.amazonaws.deadline#StepId",
                    "traits": {
                        "smithy.api#documentation": "<p>The step ID.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The details for an assigned session action as it relates to a job attachment.</p>"
            }
        },
        "com.amazonaws.deadline#AssignedTaskRunSessionActionDefinition": {
            "type": "structure",
            "members": {
                "taskId": {
                    "target": "com.amazonaws.deadline#TaskId",
                    "traits": {
                        "smithy.api#documentation": "<p>The task ID.</p>"
                    }
                },
                "stepId": {
                    "target": "com.amazonaws.deadline#StepId",
                    "traits": {
                        "smithy.api#documentation": "<p>The step ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.deadline#TaskParameters",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameters to include.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The specific task, step, and parameters to include.</p>"
            }
        },
        "com.amazonaws.deadline#AssociateMemberToFarm": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.deadline#AssociateMemberToFarmRequest"
            },
            "output": {
                "target": "com.amazonaws.deadline#AssociateMemberToFarmResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.deadline#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.deadline#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.deadline#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.deadline#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.deadline#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.deadline#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "deadline:AssociatedMembershipLevel",
                    "deadline:MembershipLevel"
                ],
                "aws.iam#iamAction": {
                    "name": "AssociateMemberToFarm",
                    "documentation": "Grants permission to associate a member to a farm",
                    "requiredActions": [
                        "identitystore:DescribeGroup",
                        "identitystore:DescribeUser",
                        "identitystore:ListGroupMembershipsForMember"
                    ]
                },
                "smithy.api#documentation": "<p>Assigns a farm membership level to a member.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "management."
                },
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/2023-10-12/farms/{farmId}/members/{principalId}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.deadline#AssociateMemberToFarmRequest": {
            "type": "structure",
            "members": {
                "farmId": {
                    "target": "com.amazonaws.deadline#FarmId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the farm to associate with the member.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "principalId": {
                    "target": "com.amazonaws.deadline#IdentityCenterPrincipalId",
                    "traits": {
                        "smithy.api#documentation": "<p>The member's principal ID to associate with the farm.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "principalType": {
                    "target": "com.amazonaws.deadline#DeadlinePrincipalType",
                    "traits": {
                        "smithy.api#documentation": "<p>The principal type of the member to associate with the farm.</p>",
                        "smithy.api#required": {}
                    }
                },
                "identityStoreId": {
                    "target": "com.amazonaws.deadline#IdentityStoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identity store ID of the member to associate with the farm.</p>",
                        "smithy.api#required": {}
                    }
                },
                "membershipLevel": {
                    "target": "com.amazonaws.deadline#MembershipLevel",
                    "traits": {
                        "smithy.api#documentation": "<p>The principal's membership level for the associated farm.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "aws.api#data": "permissions",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.deadline#AssociateMemberToFarmResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.deadline#AssociateMemberToFleet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.deadline#AssociateMemberToFleetRequest"
            },
            "output": {
                "target": "com.amazonaws.deadline#AssociateMemberToFleetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.deadline#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.deadline#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.deadline#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.deadline#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.deadline#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.deadline#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "deadline:AssociatedMembershipLevel",
                    "deadline:MembershipLevel"
                ],
                "aws.iam#iamAction": {
                    "name": "AssociateMemberToFleet",
                    "documentation": "Grants permission to associate a member to a fleet",
                    "requiredActions": [
                        "identitystore:DescribeGroup",
                        "identitystore:DescribeUser",
                        "identitystore:ListGroupMembershipsForMember"
                    ]
                },
                "smithy.api#documentation": "<p>Assigns a fleet membership level to a member.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "management."
                },
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/members/{principalId}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.deadline#AssociateMemberToFleetRequest": {
            "type": "structure",
            "members": {
                "farmId": {
                    "target": "com.amazonaws.deadline#FarmId",
                    "traits": {
                        "smithy.api#documentation": "<p>The farm ID of the fleet to associate with the member.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "fleetId": {
                    "target": "com.amazonaws.deadline#FleetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the fleet to associate with a member.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "principalId": {
                    "target": "com.amazonaws.deadline#IdentityCenterPrincipalId",
                    "traits": {
                        "smithy.api#documentation": "<p>The member's principal ID to associate with a fleet.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "principalType": {
                    "target": "com.amazonaws.deadline#DeadlinePrincipalType",
                    "traits": {
                        "smithy.api#documentation": "<p>The member's principal type to associate with the fleet.</p>",
                        "smithy.api#required": {}
                    }
                },
                "identityStoreId": {
                    "target": "com.amazonaws.deadline#IdentityStoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The member's identity store ID to associate with the fleet.</p>",
                        "smithy.api#required": {}
                    }
                },
                "membershipLevel": {
                    "target": "com.amazonaws.deadline#MembershipLevel",
                    "traits": {
                        "smithy.api#documentation": "<p>The principal's membership level for the associated fleet.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "aws.api#data": "permissions",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.deadline#AssociateMemberToFleetResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.deadline#AssociateMemberToJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.deadline#AssociateMemberToJobRequest"
            },
            "output": {
                "target": "com.amazonaws.deadline#AssociateMemberToJobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.deadline#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.deadline#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.deadline#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.deadline#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.deadline#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.deadline#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "deadline:AssociatedMembershipLevel",
                    "deadline:MembershipLevel"
                ],
                "aws.iam#iamAction": {
                    "name": "AssociateMemberToJob",
                    "documentation": "Grants permission to associate a member to a job",
                    "requiredActions": [
                        "identitystore:DescribeGroup",
                        "identitystore:DescribeUser",
                        "identitystore:ListGroupMembershipsForMember"
                    ]
                },
                "smithy.api#documentation": "<p>Assigns a job membership level to a member</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "management."
                },
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members/{principalId}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.deadline#AssociateMemberToJobRequest": {
            "type": "structure",
            "members": {
                "farmId": {
                    "target": "com.amazonaws.deadline#FarmId",
                    "traits": {
                        "smithy.api#documentation": "<p>The farm ID of the job to associate with the member.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "queueId": {
                    "target": "com.amazonaws.deadline#QueueId",
                    "traits": {
                        "smithy.api#documentation": "<p>The queue ID to associate to the member.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "jobId": {
                    "target": "com.amazonaws.deadline#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The job ID to associate with the member.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "principalId": {
                    "target": "com.amazonaws.deadline#IdentityCenterPrincipalId",
                    "traits": {
                        "smithy.api#documentation": "<p>The member's principal ID to associate with the job.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "principalType": {
                    "target": "com.amazonaws.deadline#DeadlinePrincipalType",
                    "traits": {
                        "smithy.api#documentation": "<p>The member's principal type to associate with the job.</p>",
                        "smithy.api#required": {}
                    }
                },
                "identityStoreId": {
                    "target": "com.amazonaws.deadline#IdentityStoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The member's identity store ID to associate with the job.</p>",
                        "smithy.api#required": {}
                    }
                },
                "membershipLevel": {
                    "target": "com.amazonaws.deadline#MembershipLevel",
                    "traits": {
                        "smithy.api#documentation": "<p>The principal's membership level for the associated job.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "aws.api#data": "permissions",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.deadline#AssociateMemberToJobResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.deadline#AssociateMemberToQueue": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.deadline#AssociateMemberToQueueRequest"
            },
            "output": {
                "target": "com.amazonaws.deadline#AssociateMemberToQueueResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.deadline#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.deadline#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.deadline#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.deadline#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.deadline#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.deadline#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "deadline:AssociatedMembershipLevel",
                    "deadline:MembershipLevel"
                ],
                "aws.iam#iamAction": {
                    "name": "AssociateMemberToQueue",
                    "documentation": "Grants permission to associate a member to a queue",
                    "requiredActions": [
                        "identitystore:DescribeGroup",
                        "identitystore:DescribeUser",
                        "identitystore:ListGroupMembershipsForMember"
                    ]
                },
                "smithy.api#documentation": "<p>Assigns a queue membership level to a member</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "management."
                },
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/2023-10-12/farms/{farmId}/queues/{queueId}/members/{principalId}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.deadline#AssociateMemberToQueueRequest": {
            "type": "structure",
            "members": {
                "farmId": {
                    "target": "com.amazonaws.deadline#FarmId",
                    "traits": {
                        "smithy.api#documentation": "<p>The farm ID of the queue to associate with the member.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "queueId": {
                    "target": "com.amazonaws.deadline#QueueId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the queue to associate to the member.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "principalId": {
                    "target": "com.amazonaws.deadline#IdentityCenterPrincipalId",
                    "traits": {
                        "smithy.api#documentation": "<p>The member's principal ID to associate with the queue.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "principalType": {
                    "target": "com.amazonaws.deadline#DeadlinePrincipalType",
                    "traits": {
                        "smithy.api#documentation": "<p>The member's principal type to associate with the queue.</p>",
                        "smithy.api#required": {}
                    }
                },
                "identityStoreId": {
                    "target": "com.amazonaws.deadline#IdentityStoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The member's identity store ID to associate with the queue.</p>",
                        "smithy.api#required": {}
                    }
                },
                "membershipLevel": {
                    "target": "com.amazonaws.deadline#MembershipLevel",
                    "traits": {
                        "smithy.api#documentation": "<p>The principal's membership level for the associated queue.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "aws.api#data": "permissions",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.deadline#AssociateMemberToQueueResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.deadline#AssumeFleetRoleForRead": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.deadline#AssumeFleetRoleForReadRequest"
            },
            "output": {
                "target": "com.amazonaws.deadline#AssumeFleetRoleForReadResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.deadline#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.deadline#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.deadline#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.deadline#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.deadline#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "name": "AssumeFleetRoleForRead",
                    "documentation": "Grants permission to assume a fleet role for read-only access",
                    "requiredActions": [
                        "identitystore:ListGroupMembershipsForMember"
                    ]
                },
                "smithy.api#documentation": "<p>Get Amazon Web Services credentials from the fleet role. The IAM permissions of the credentials are\n         scoped down to have read-only access.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "management."
                },
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/read-roles",
                    "code": 200
                }
            }
        },
        "com.amazonaws.deadline#AssumeFleetRoleForReadRequest": {
            "type": "structure",
            "members": {
                "farmId": {
                    "target": "com.amazonaws.deadline#FarmId",
                    "traits": {
                        "smithy.api#documentation": "<p>The farm ID for the fleet's farm.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "fleetId": {
                    "target": "com.amazonaws.deadline#FleetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The fleet ID.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.deadline#AssumeFleetRoleForReadResponse": {
            "type": "structure",
            "members": {
                "credentials": {
                    "target": "com.amazonaws.deadline#AwsCredentials",
                    "traits": {
                        "smithy.api#documentation": "<p>The credentials for the fleet role.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {},
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.deadline#AssumeFleetRoleForWorker": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.deadline#AssumeFleetRoleForWorkerRequest"
            },
            "output": {
                "target": "com.amazonaws.deadline#AssumeFleetRoleForWorkerResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.deadline#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.deadline#ConflictException"
                },
                {
                    "target": "com.amazonaws.deadline#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.deadline#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.deadline#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.deadline#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "name": "AssumeFleetRoleForWorker",
                    "documentation": "Grants permission to assume a fleet role for a worker"
                },
                "smithy.api#documentation": "<p>Get credentials from the fleet role for a worker.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "scheduling."
                },
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/fleet-roles",
                    "code": 200
                }
            }
        },
        "com.amazonaws.deadline#AssumeFleetRoleForWorkerRequest": {
            "type": "structure",
            "members": {
                "farmId": {
                    "target": "com.amazonaws.deadline#FarmId",
                    "traits": {
                        "smithy.api#documentation": "<p>The farm ID for the fleet's farm.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "fleetId": {
                    "target": "com.amazonaws.deadline#FleetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The fleet ID that contains the worker.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "workerId": {
                    "target": "com.amazonaws.deadline#WorkerId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the worker assuming the fleet role.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.deadline#AssumeFleetRoleForWorkerResponse": {
            "type": "structure",
            "members": {
                "credentials": {
                    "target": "com.amazonaws.deadline#AwsCredentials",
                    "traits": {
                        "smithy.api#documentation": "<p>The credentials for the worker.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {},
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.deadline#AssumeQueueRoleForRead": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.deadline#AssumeQueueRoleForReadRequest"
            },
            "output": {
                "target": "com.amazonaws.deadline#AssumeQueueRoleForReadResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.deadline#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.deadline#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.deadline#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.deadline#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.deadline#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "name": "AssumeQueueRoleForRead",
                    "documentation": "Grants permission to assume a queue role for read-only access",
                    "requiredActions": [
                        "identitystore:ListGroupMembershipsForMember"
                    ]
                },
                "smithy.api#documentation": "<p>Gets Amazon Web Services credentials from the queue role. The IAM permissions of the credentials are\n         scoped down to have read-only access.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "management."
                },
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/2023-10-12/farms/{farmId}/queues/{queueId}/read-roles",
                    "code": 200
                }
            }
        },
        "com.amazonaws.deadline#AssumeQueueRoleForReadRequest": {
            "type": "structure",
            "members": {
                "farmId": {
                    "target": "com.amazonaws.deadline#FarmId",
                    "traits": {
                        "smithy.api#documentation": "<p>The farm ID of the farm containing the queue.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "queueId": {
                    "target": "com.amazonaws.deadline#QueueId",
                    "traits": {
                        "smithy.api#documentation": "<p>The queue ID.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.deadline#AssumeQueueRoleForReadResponse": {
            "type": "structure",
            "members": {
                "credentials": {
                    "target": "com.amazonaws.deadline#AwsCredentials",
                    "traits": {
                        "smithy.api#documentation": "<p>The credentials for the queue role.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {},
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.deadline#AssumeQueueRoleForUser": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.deadline#AssumeQueueRoleForUserRequest"
            },
            "output": {
                "target": "com.amazonaws.deadline#AssumeQueueRoleForUserResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.deadline#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.deadline#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.deadline#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.deadline#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.deadline#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "name": "AssumeQueueRoleForUser",
                    "documentation": "Grants permission to assume a queue role for a user",
                    "requiredActions": [
                        "identitystore:ListGroupMembershipsForMember"
                    ]
                },
                "smithy.api#documentation": "<p>Allows a user to assume a role for a queue.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "management."
                },
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/2023-10-12/farms/{farmId}/queues/{queueId}/user-roles",
                    "code": 200
                }
            }
        },
        "com.amazonaws.deadline#AssumeQueueRoleForUserRequest": {
            "type": "structure",
            "members": {
                "farmId": {
                    "target": "com.amazonaws.deadline#FarmId",
                    "traits": {
                        "smithy.api#documentation": "<p>The farm ID of the queue that the user assumes the role for.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "queueId": {
                    "target": "com.amazonaws.deadline#QueueId",
                    "traits": {
                        "smithy.api#documentation": "<p>The queue ID of the queue that the user assumes the role for.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.deadline#AssumeQueueRoleForUserResponse": {
            "type": "structure",
            "members": {
                "credentials": {
                    "target": "com.amazonaws.deadline#AwsCredentials",
                    "traits": {
                        "smithy.api#documentation": "<p>The credentials for the queue role that a user has access to.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {},
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.deadline#AssumeQueueRoleForWorker": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.deadline#AssumeQueueRoleForWorkerRequest"
            },
            "output": {
                "target": "com.amazonaws.deadline#AssumeQueueRoleForWorkerResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.deadline#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.deadline#ConflictException"
                },
                {
                    "target": "com.amazonaws.deadline#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.deadline#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.deadline#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.deadline#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "name": "AssumeQueueRoleForWorker",
                    "documentation": "Grants permission to assume a queue role for a worker",
                    "resources": {
                        "required": {
                            "worker": {},
                            "queue": {}
                        }
                    }
                },
                "smithy.api#documentation": "<p>Allows a worker to assume a queue role.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "scheduling."
                },
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/queue-roles",
                    "code": 200
                }
            }
        },
        "com.amazonaws.deadline#AssumeQueueRoleForWorkerRequest": {
            "type": "structure",
            "members": {
                "farmId": {
                    "target": "com.amazonaws.deadline#FarmId",
                    "traits": {
                        "smithy.api#documentation": "<p>The farm ID of the worker assuming the queue role.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "fleetId": {
                    "target": "com.amazonaws.deadline#FleetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The fleet ID of the worker assuming the queue role.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "workerId": {
                    "target": "com.amazonaws.deadline#WorkerId",
                    "traits": {
                        "smithy.api#documentation": "<p>The worker ID of the worker assuming the queue role.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "queueId": {
                    "target": "com.amazonaws.deadline#QueueId",
                    "traits": {
                        "smithy.api#documentation": "<p>The queue ID of the worker assuming the queue role.</p>",
                        "smithy.api#httpQuery": "queueId",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.deadline#AssumeQueueRoleForWorkerResponse": {
            "type": "structure",
            "members": {
                "credentials": {
                    "target": "com.amazonaws.deadline#AwsCredentials",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services credentials for the role that the worker is assuming.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {},
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.deadline#Attachments": {
            "type": "structure",
            "members": {
                "manifests": {
                    "target": "com.amazonaws.deadline#ManifestPropertiesList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of manifests which describe job attachment configurations.</p>",
                        "smithy.api#required": {}
                    }
                },
                "fileSystem": {
                    "target": "com.amazonaws.deadline#JobAttachmentsFileSystem",
                    "traits": {
                        "smithy.api#default": "COPIED",
                        "smithy.api#documentation": "<p>The file system.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The attachments for jobs.</p>"
            }
        },
        "com.amazonaws.deadline#AttributeCapabilityName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                },
                "smithy.api#pattern": "^([a-zA-Z][a-zA-Z0-9]{0,63}:)?attr(\\.[a-zA-Z][a-zA-Z0-9]{0,63})+$"
            }
        },
        "com.amazonaws.deadline#AttributeCapabilityValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                },
                "smithy.api#pattern": "^[a-zA-Z_]([a-zA-Z0-9_\\-]{0,99})$"
            }
        },
        "com.amazonaws.deadline#AttributeCapabilityValuesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.deadline#AttributeCapabilityValue"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.deadline#AutoScalingMode": {
            "type": "enum",
            "members": {
                "NO_SCALING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NO_SCALING"
                    }
                },
                "EVENT_BASED_AUTO_SCALING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EVENT_BASED_AUTO_SCALING"
                    }
                }
            }
        },
        "com.amazonaws.deadline#AutoScalingStatus": {
            "type": "enum",
            "members": {
                "GROWING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GROWING"
                    }
                },
                "STEADY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STEADY"
                    }
                },
                "SHRINKING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SHRINKING"
                    }
                }
            }
        },
        "com.amazonaws.deadline#AwsCredentials": {
            "type": "structure",
            "members": {
                "accessKeyId": {
                    "target": "com.amazonaws.deadline#AccessKeyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The IAM access key ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "secretAccessKey": {
                    "target": "com.amazonaws.deadline#SecretAccessKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The IAM secret access key.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sessionToken": {
                    "target": "com.amazonaws.deadline#SessionToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The IAM session token</p>",
                        "smithy.api#required": {}
                    }
                },
                "expiration": {
                    "target": "com.amazonaws.deadline#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The expiration date and time of the IAM credentials.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Identity and Access Management credentials.</p>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.deadline#BatchGetJobEntity": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.deadline#BatchGetJobEntityRequest"
            },
            "output": {
                "target": "com.amazonaws.deadline#BatchGetJobEntityResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.deadline#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.deadline#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.deadline#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.deadline#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.deadline#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "name": "BatchGetJobEntity",
                    "documentation": "Grants permission to get a job entity for a worker"
                },
                "smithy.api#documentation": "<p>Get batched job details for a worker.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "scheduling."
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/batchGetJobEntity",
                    "code": 200
                },
                "smithy.api#readonly": {},
                "smithy.api#suppress": [
                    "HttpMethodSemantics.UnnecessaryReadonlyTrait"
                ]
            }
        },
        "com.amazonaws.deadline#BatchGetJobEntityErrors": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.deadline#GetJobEntityError"
            }
        },
        "com.amazonaws.deadline#BatchGetJobEntityList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.deadline#JobEntity"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 25
                }
            }
        },
        "com.amazonaws.deadline#BatchGetJobEntityRequest": {
            "type": "structure",
            "members": {
                "farmId": {
                    "target": "com.amazonaws.deadline#FarmId",
                    "traits": {
                        "smithy.api#documentation": "<p>The farm ID of the worker that's fetching job details. The worker must have an\n         assignment on a job to fetch job details.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "fleetId": {
                    "target": "com.amazonaws.deadline#FleetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The fleet ID of the worker that's fetching job details. The worker must have an\n         assignment on a job to fetch job details.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "workerId": {
                    "target": "com.amazonaws.deadline#WorkerId",
                    "traits": {
                        "smithy.api#documentation": "<p>The worker ID of the worker containing the job details to get.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "identifiers": {
                    "target": "com.amazonaws.deadline#JobEntityIdentifiers",
                    "traits": {
                        "smithy.api#documentation": "<p>The job identifiers to include within the job entity batch details.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.deadline#BatchGetJobEntityResponse": {
            "type": "structure",
            "members": {
                "entities": {
                    "target": "com.amazonaws.deadline#BatchGetJobEntityList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of the job entities, or details, in the batch.</p>",
                        "smithy.api#required": {}
                    }
                },
                "errors": {
                    "target": "com.amazonaws.deadline#BatchGetJobEntityErrors",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of errors from the job error logs for the batch.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.deadline#BoundedString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.deadline#BudgetActionToAdd": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.deadline#BudgetActionType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of budget action to add.</p>",
                        "smithy.api#required": {}
                    }
                },
                "thresholdPercentage": {
                    "target": "com.amazonaws.deadline#ThresholdPercentage",
                    "traits": {
                        "smithy.api#documentation": "<p>The percentage threshold for the budget action to add.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.deadline#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description for the budget action to add.</p>\n         <important>\n            <p>This field can store any content. Escape or encode this content before displaying it on a webpage or any other system that might interpret the content of this field.</p>\n         </important>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The budget action to add.</p>"
            }
        },
        "com.amazonaws.deadline#BudgetActionToRemove": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.deadline#BudgetActionType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of budget action to remove.</p>",
                        "smithy.api#required": {}
                    }
                },
                "thresholdPercentage": {
                    "target": "com.amazonaws.deadline#ThresholdPercentage",
                    "traits": {
                        "smithy.api#documentation": "<p>The percentage threshold for the budget action to remove.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The budget action to remove.</p>"
            }
        },
        "com.amazonaws.deadline#BudgetActionType": {
            "type": "enum",
            "members": {
                "STOP_SCHEDULING_AND_COMPLETE_TASKS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STOP_SCHEDULING_AND_COMPLETE_TASKS"
                    }
                },
                "STOP_SCHEDULING_AND_CANCEL_TASKS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STOP_SCHEDULING_AND_CANCEL_TASKS"
                    }
                }
            }
        },
        "com.amazonaws.deadline#BudgetActionsToAdd": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.deadline#BudgetActionToAdd"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 10
                }
            }
        },
        "com.amazonaws.deadline#BudgetActionsToRemove": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.deadline#BudgetActionToRemove"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 10
                }
            }
        },
        "com.amazonaws.deadline#BudgetId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^budget-[0-9a-f]{32}$"
            }
        },
        "com.amazonaws.deadline#BudgetResource": {
            "type": "resource",
            "identifiers": {
                "farmId": {
                    "target": "com.amazonaws.deadline#FarmId"
                },
                "budgetId": {
                    "target": "com.amazonaws.deadline#BudgetId"
                }
            },
            "create": {
                "target": "com.amazonaws.deadline#CreateBudget"
            },
            "read": {
                "target": "com.amazonaws.deadline#GetBudget"
            },
            "update": {
                "target": "com.amazonaws.deadline#UpdateBudget"
            },
            "delete": {
                "target": "com.amazonaws.deadline#DeleteBudget"
            },
            "list": {
                "target": "com.amazonaws.deadline#ListBudgets"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "farm/{farmId}/budget/{budgetId}"
                },
                "aws.iam#conditionKeys": [
                    "deadline:FarmMembershipLevels"
                ],
                "aws.iam#disableConditionKeyInference": {},
                "aws.iam#iamResource": {
                    "disableConditionKeyInheritance": true,
                    "name": "budget"
                },
                "smithy.api#documentation": "Represents a budget that limits the expenses allowed on a queue or farm"
            }
        },
        "com.amazonaws.deadline#BudgetSchedule": {
            "type": "union",
            "members": {
                "fixed": {
                    "target": "com.amazonaws.deadline#FixedBudgetSchedule",
                    "traits": {
                        "smithy.api#documentation": "<p>The fixed start and end time of the budget's schedule.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The start and end time of the budget.</p>"
            }
        },
        "com.amazonaws.deadline#BudgetStatus": {
            "type": "enum",
            "members": {
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "INACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INACTIVE"
                    }
                }
            }
        },
        "com.amazonaws.deadline#BudgetSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.deadline#BudgetSummary"
            }
        },
        "com.amazonaws.deadline#BudgetSummary": {
            "type": "structure",
            "members": {
                "budgetId": {
                    "target": "com.amazonaws.deadline#BudgetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The budget ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "usageTrackingResource": {
                    "target": "com.amazonaws.deadline#UsageTrackingResource",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource used to track expenditure in the budget.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.deadline#BudgetStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the budget.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ACTIVE</code>–The budget is being evaluated.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INACTIVE</code>–The budget is inactive. This can include Expired,\n               Canceled, or deleted Deleted statuses.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "displayName": {
                    "target": "com.amazonaws.deadline#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The display name of the budget summary to update.</p>\n         <important>\n            <p>This field can store any content. Escape or encode this content before displaying it on a webpage or any other system that might interpret the content of this field.</p>\n         </important>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.deadline#Description",
                    "traits": {
                        "smithy.api#deprecated": {
                            "message": "ListBudgets no longer supports description. Use GetBudget if description is needed."
                        },
                        "smithy.api#documentation": "<p>The description of the budget summary.</p>\n         <important>\n            <p>This field can store any content. Escape or encode this content before displaying it on a webpage or any other system that might interpret the content of this field.</p>\n         </important>"
                    }
                },
                "approximateDollarLimit": {
                    "target": "com.amazonaws.deadline#ConsumedUsageLimit",
                    "traits": {
                        "smithy.api#documentation": "<p>The approximate dollar limit of the budget.</p>",
                        "smithy.api#required": {}
                    }
                },
                "usages": {
                    "target": "com.amazonaws.deadline#ConsumedUsages",
                    "traits": {
                        "smithy.api#documentation": "<p>The consumed usage for the budget.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdBy": {
                    "target": "com.amazonaws.deadline#CreatedBy",
                    "traits": {
                        "smithy.api#documentation": "<p>The user or system that created this resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.deadline#CreatedAt",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the resource was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedBy": {
                    "target": "com.amazonaws.deadline#UpdatedBy",
                    "traits": {
                        "smithy.api#documentation": "<p>The user or system that updated this resource.</p>"
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.deadline#UpdatedAt",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the resource was updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The budget summary.</p>"
            }
        },
        "com.amazonaws.deadline#CancelSessionActions": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.deadline#SessionId"
            },
            "value": {
                "target": "com.amazonaws.deadline#SessionActionIdList"
            }
        },
        "com.amazonaws.deadline#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.deadline#CombinationExpression": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1280
                }
            }
        },
        "com.amazonaws.deadline#ComparisonOperator": {
            "type": "enum",
            "members": {
                "EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EQUAL"
                    }
                },
                "NOT_EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NOT_EQUAL"
                    }
                },
                "GREATER_THAN_EQUAL_TO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GREATER_THAN_EQUAL_TO"
                    }
                },
                "GREATER_THAN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GREATER_THAN"
                    }
                },
                "LESS_THAN_EQUAL_TO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LESS_THAN_EQUAL_TO"
                    }
                },
                "LESS_THAN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LESS_THAN"
                    }
                }
            }
        },
        "com.amazonaws.deadline#CompletedStatus": {
            "type": "enum",
            "members": {
                "SUCCEEDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUCCEEDED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "INTERRUPTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INTERRUPTED"
                    }
                },
                "CANCELED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CANCELED"
                    }
                },
                "NEVER_ATTEMPTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NEVER_ATTEMPTED"
                    }
                }
            }
        },
        "com.amazonaws.deadline#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.deadline#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "reason": {
                    "target": "com.amazonaws.deadline#ConflictExceptionReason",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the error.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceId": {
                    "target": "com.amazonaws.deadline#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the resource in use.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceType": {
                    "target": "com.amazonaws.deadline#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the resource in use.</p>",
                        "smithy.api#required": {}
                    }
                },
                "context": {
                    "target": "com.amazonaws.deadline#ExceptionContext",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the resources in use when the exception was thrown.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Your request has conflicting operations. This can occur if you're trying to perform more\n         than one operation on the same resource at the same time.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.deadline#ConflictExceptionReason": {
            "type": "enum",
            "members": {
                "CONFLICT_EXCEPTION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONFLICT_EXCEPTION"
                    }
                },
                "CONCURRENT_MODIFICATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONCURRENT_MODIFICATION"
                    }
                },
                "RESOURCE_ALREADY_EXISTS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RESOURCE_ALREADY_EXISTS"
                    }
                },
                "RESOURCE_IN_USE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RESOURCE_IN_USE"
                    }
                },
                "STATUS_CONFLICT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STATUS_CONFLICT"
                    }
                }
            }
        },
        "com.amazonaws.deadline#ConsumedUsageLimit": {
            "type": "float",
            "traits": {
                "smithy.api#range": {
                    "min": 0.01
                }
            }
        },
        "com.amazonaws.deadline#ConsumedUsages": {
            "type": "structure",
            "members": {
                "approximateDollarUsage": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of the budget consumed.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The consumed usage for the resource.</p>"
            }
        },
        "com.amazonaws.deadline#CopyJobTemplate": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.deadline#CopyJobTemplateRequest"
            },
            "output": {
                "target": "com.amazonaws.deadline#CopyJobTemplateResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.deadline#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.deadline#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.deadline#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.deadline#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.deadline#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "name": "CopyJobTemplate",
                    "documentation": "Grants permission to copy a job template to an Amazon S3 bucket",
                    "requiredActions": [
                        "identitystore:ListGroupMembershipsForMember",
                        "s3:PutObject"
                    ]
                },
                "smithy.api#documentation": "<p>Copies a job template to an Amazon S3 bucket.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "management."
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/template",
                    "code": 200
                }
            }
        },
        "com.amazonaws.deadline#CopyJobTemplateRequest": {
            "type": "structure",
            "members": {
                "farmId": {
                    "target": "com.amazonaws.deadline#FarmId",
                    "traits": {
                        "smithy.api#documentation": "<p>The farm ID to copy.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "jobId": {
                    "target": "com.amazonaws.deadline#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The job ID to copy.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "queueId": {
                    "target": "com.amazonaws.deadline#QueueId",
                    "traits": {
                        "smithy.api#documentation": "<p>The queue ID to copy.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "targetS3Location": {
                    "target": "com.amazonaws.deadline#S3Location",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 bucket name and key where you would like to add a copy of the job\n         template.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.deadline#CopyJobTemplateResponse": {
            "type": "structure",
            "members": {
                "templateType": {
                    "target": "com.amazonaws.deadline#JobTemplateType",
                    "traits": {
                        "smithy.api#documentation": "<p>The format of the job template, either <code>JSON</code> or <code>YAML</code>.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.deadline#CpuArchitectureType": {
            "type": "enum",
            "members": {
                "X86_64": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "x86_64"
                    }
                },
                "ARM64": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "arm64"
                    }
                }
            }
        },
        "com.amazonaws.deadline#CreateBudget": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.deadline#CreateBudgetRequest"
            },
            "output": {
                "target": "com.amazonaws.deadline#CreateBudgetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.deadline#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.deadline#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.deadline#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.deadline#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.deadline#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.deadline#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "name": "CreateBudget",
                    "documentation": "Grants permission to create a budget",
                    "requiredActions": [
                        "identitystore:ListGroupMembershipsForMember"
                    ]
                },
                "smithy.api#documentation": "<p>Creates a budget to set spending thresholds for your rendering activity.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "management."
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/2023-10-12/farms/{farmId}/budgets",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.deadline#CreateBudgetRequest": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.deadline#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique token which the server uses to recognize retries of the same request.</p>",
                        "smithy.api#httpHeader": "X-Amz-Client-Token",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "farmId": {
                    "target": "com.amazonaws.deadline#FarmId",
                    "traits": {
                        "smithy.api#documentation": "<p>The farm ID to include in this budget.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "usageTrackingResource": {
                    "target": "com.amazonaws.deadline#UsageTrackingResource",
                    "traits": {
                        "smithy.api#documentation": "<p>The queue ID provided to this budget to track usage.</p>",
                        "smithy.api#required": {}
                    }
                },
                "displayName": {
                    "target": "com.amazonaws.deadline#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The display name of the budget.</p>\n         <important>\n            <p>This field can store any content. Escape or encode this content before displaying it on a webpage or any other system that might interpret the content of this field.</p>\n         </important>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.deadline#Description",
                    "traits": {
                        "smithy.api#default": "",
                        "smithy.api#documentation": "<p>The description of the budget.</p>\n         <important>\n            <p>This field can store any content. Escape or encode this content before displaying it on a webpage or any other system that might interpret the content of this field.</p>\n         </important>"
                    }
                },
                "approximateDollarLimit": {
                    "target": "com.amazonaws.deadline#ConsumedUsageLimit",
                    "traits": {
                        "smithy.api#documentation": "<p>The dollar limit based on consumed usage.</p>",
                        "smithy.api#required": {}
                    }
                },
                "actions": {
                    "target": "com.amazonaws.deadline#BudgetActionsToAdd",
                    "traits": {
                        "smithy.api#documentation": "<p>The budget actions to specify what happens when the budget runs out.</p>",
                        "smithy.api#required": {}
                    }
                },
                "schedule": {
                    "target": "com.amazonaws.deadline#BudgetSchedule",
                    "traits": {
                        "smithy.api#documentation": "<p>The schedule to associate with this budget.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.deadline#CreateBudgetResponse": {
            "type": "structure",
            "members": {
                "budgetId": {
                    "target": "com.amazonaws.deadline#BudgetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The budget ID.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.deadline#CreateFarm": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.deadline#CreateFarmRequest"
            },
            "output": {
                "target": "com.amazonaws.deadline#CreateFarmResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.deadline#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.deadline#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.deadline#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.deadline#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.deadline#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.deadline#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "aws.iam#iamAction": {
                    "name": "CreateFarm",
                    "documentation": "Grants permission to create a farm",
                    "requiredActions": [
                        "deadline:TagResource"
                    ]
                },
                "smithy.api#documentation": "<p>Creates a farm to allow space for queues and fleets. Farms are the space where the\n         components of your renders gather and are pieced together in the cloud. Farms contain\n         budgets and allow you to enforce permissions. Deadline Cloud farms are a useful container for\n         large projects.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "management."
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/2023-10-12/farms",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.deadline#CreateFarmRequest": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.deadline#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique token which the server uses to recognize retries of the same request.</p>",
[...]
