{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.docdbelastic#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>An error message explaining why access was denied.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An exception that occurs when there are not sufficient permissions to perform an action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.docdbelastic#ApplyPendingMaintenanceAction": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.docdbelastic#ApplyPendingMaintenanceActionInput"
            },
            "output": {
                "target": "com.amazonaws.docdbelastic#ApplyPendingMaintenanceActionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.docdbelastic#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ConflictException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#InternalServerException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>The type of pending maintenance action to be applied to the resource.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/pending-action"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.docdbelastic#ApplyPendingMaintenanceActionInput": {
            "type": "structure",
            "members": {
                "resourceArn": {
                    "target": "com.amazonaws.docdbelastic#InputString",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon DocumentDB Amazon Resource Name (ARN) of the resource to which the pending maintenance action applies.</p>",
                        "smithy.api#required": {}
                    }
                },
                "applyAction": {
                    "target": "com.amazonaws.docdbelastic#InputString",
                    "traits": {
                        "smithy.api#documentation": "<p>The pending maintenance action to apply to the resource.</p>\n         <p>Valid actions are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ENGINE_UPDATE<i/>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ENGINE_UPGRADE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>SECURITY_UPDATE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>OS_UPDATE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>MASTER_USER_PASSWORD_UPDATE</code>\n               </p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "optInType": {
                    "target": "com.amazonaws.docdbelastic#OptInType",
                    "traits": {
                        "smithy.api#documentation": "<p>A value that specifies the type of opt-in request, or undoes an opt-in request. An opt-in request of type <code>IMMEDIATE</code> can't be undone.</p>",
                        "smithy.api#required": {}
                    }
                },
                "applyOn": {
                    "target": "com.amazonaws.docdbelastic#InputString",
                    "traits": {
                        "smithy.api#documentation": "<p>A specific date to apply the pending maintenance action. Required if opt-in-type is <code>APPLY_ON</code>. Format: <code>yyyy/MM/dd HH:mm-yyyy/MM/dd HH:mm</code>\n         </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.docdbelastic#ApplyPendingMaintenanceActionOutput": {
            "type": "structure",
            "members": {
                "resourcePendingMaintenanceAction": {
                    "target": "com.amazonaws.docdbelastic#ResourcePendingMaintenanceAction",
                    "traits": {
                        "smithy.api#documentation": "<p>The output of the pending maintenance action being applied.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.docdbelastic#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1011
                }
            }
        },
        "com.amazonaws.docdbelastic#Auth": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "PLAIN_TEXT",
                        "name": "PLAIN_TEXT"
                    },
                    {
                        "value": "SECRET_ARN",
                        "name": "SECRET_ARN"
                    }
                ]
            }
        },
        "com.amazonaws.docdbelastic#ChimeraDbLionfishServiceLambda": {
            "type": "service",
            "version": "2022-11-28",
            "operations": [
                {
                    "target": "com.amazonaws.docdbelastic#ApplyPendingMaintenanceAction"
                },
                {
                    "target": "com.amazonaws.docdbelastic#CopyClusterSnapshot"
                },
                {
                    "target": "com.amazonaws.docdbelastic#CreateCluster"
                },
                {
                    "target": "com.amazonaws.docdbelastic#CreateClusterSnapshot"
                },
                {
                    "target": "com.amazonaws.docdbelastic#DeleteCluster"
                },
                {
                    "target": "com.amazonaws.docdbelastic#DeleteClusterSnapshot"
                },
                {
                    "target": "com.amazonaws.docdbelastic#GetCluster"
                },
                {
                    "target": "com.amazonaws.docdbelastic#GetClusterSnapshot"
                },
                {
                    "target": "com.amazonaws.docdbelastic#GetPendingMaintenanceAction"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ListClusters"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ListClusterSnapshots"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ListPendingMaintenanceActions"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.docdbelastic#RestoreClusterFromSnapshot"
                },
                {
                    "target": "com.amazonaws.docdbelastic#StartCluster"
                },
                {
                    "target": "com.amazonaws.docdbelastic#StopCluster"
                },
                {
                    "target": "com.amazonaws.docdbelastic#TagResource"
                },
                {
                    "target": "com.amazonaws.docdbelastic#UntagResource"
                },
                {
                    "target": "com.amazonaws.docdbelastic#UpdateCluster"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "DocDB Elastic",
                    "arnNamespace": "docdb-elastic",
                    "cloudTrailEventSource": "CASCADES_EVENT_SOURCE"
                },
                "aws.auth#sigv4": {
                    "name": "docdb-elastic"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "additionalAllowedHeaders": [
                        "*",
                        "content-type",
                        "x-amz-content-sha256",
                        "x-amz-user-agent",
                        "x-amzn-platform-id",
                        "x-amzn-trace-id"
                    ],
                    "additionalExposedHeaders": [
                        "x-amzn-errortype",
                        "x-amzn-requestid",
                        "x-amzn-trace-id"
                    ],
                    "maxAge": 86400
                },
                "smithy.api#documentation": "<fullname>Amazon DocumentDB elastic clusters</fullname>\n         <p>Amazon DocumentDB elastic-clusters support workloads with millions of reads/writes per second and petabytes of storage capacity. \n      Amazon DocumentDB elastic clusters also simplify how developers interact with Amazon DocumentDB elastic-clusters by eliminating the need to choose, manage or upgrade instances.</p>\n         <p>Amazon DocumentDB elastic-clusters were created to:</p>\n         <ul>\n            <li>\n               <p>provide a solution for customers looking for a database that provides virtually limitless scale with rich query capabilities and MongoDB API compatibility.</p>\n            </li>\n            <li>\n               <p>give customers higher connection limits, and to reduce downtime from patching.</p>\n            </li>\n            <li>\n               <p>continue investing in a cloud-native, elastic, and class leading architecture for JSON workloads.</p>\n            </li>\n         </ul>",
                "smithy.api#title": "Amazon DocumentDB Elastic Clusters",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://docdb-elastic-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://docdb-elastic-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://docdb-elastic.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://docdb-elastic.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://docdb-elastic.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.docdbelastic#Cluster": {
            "type": "structure",
            "members": {
                "clusterName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clusterArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN identifier of the elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.docdbelastic#Status",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clusterEndpoint": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL used to connect to the elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createTime": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the elastic cluster was created in Universal Coordinated Time (UTC).</p>",
                        "smithy.api#required": {}
                    }
                },
                "adminUserName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the elastic cluster administrator.</p>",
                        "smithy.api#required": {}
                    }
                },
                "authType": {
                    "target": "com.amazonaws.docdbelastic#Auth",
                    "traits": {
                        "smithy.api#documentation": "<p>The authentication type for the elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "shardCapacity": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of vCPUs assigned to each elastic cluster shard. Maximum is 64. \n      Allowed values are 2, 4, 8, 16, 32, 64.</p>",
                        "smithy.api#required": {}
                    }
                },
                "shardCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of shards assigned to the elastic cluster. Maximum is 32.</p>",
                        "smithy.api#required": {}
                    }
                },
                "vpcSecurityGroupIds": {
                    "target": "com.amazonaws.docdbelastic#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of EC2 VPC security groups associated with thie elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "subnetIds": {
                    "target": "com.amazonaws.docdbelastic#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon EC2 subnet IDs for the elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "preferredMaintenanceWindow": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p>\n         <p>\n            <i>Format</i>: <code>ddd:hh24:mi-ddd:hh24:mi</code>\n         </p>",
                        "smithy.api#required": {}
                    }
                },
                "kmsKeyId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key identifier to use to encrypt the elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "shards": {
                    "target": "com.amazonaws.docdbelastic#ShardList",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of shards in the cluster.</p>"
                    }
                },
                "backupRetentionPeriod": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of days for which automatic snapshots are retained.</p>"
                    }
                },
                "preferredBackupWindow": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The daily time range during which automated backups are created if automated backups are enabled, as determined by <code>backupRetentionPeriod</code>.</p>"
                    }
                },
                "shardInstanceCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of replica instances applying to all shards in the cluster. \n      A <code>shardInstanceCount</code> value of 1 means there is one writer instance, and any additional instances are replicas that can be used for reads and to improve availability.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Returns information about a specific elastic cluster.</p>"
            }
        },
        "com.amazonaws.docdbelastic#ClusterInList": {
            "type": "structure",
            "members": {
                "clusterName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clusterArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN identifier of the elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.docdbelastic#Status",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A list of Amazon DocumentDB elastic clusters.</p>"
            }
        },
        "com.amazonaws.docdbelastic#ClusterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.docdbelastic#ClusterInList"
            }
        },
        "com.amazonaws.docdbelastic#ClusterSnapshot": {
            "type": "structure",
            "members": {
                "subnetIds": {
                    "target": "com.amazonaws.docdbelastic#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon EC2 subnet IDs for the elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "snapshotName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the elastic cluster snapshot.</p>",
                        "smithy.api#required": {}
                    }
                },
                "snapshotArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN identifier of the elastic cluster snapshot.</p>",
                        "smithy.api#required": {}
                    }
                },
                "snapshotCreationTime": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the elastic cluster snapshot was created in Universal Coordinated Time (UTC).</p>",
                        "smithy.api#required": {}
                    }
                },
                "clusterArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN identifier of the elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clusterCreationTime": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the elastic cluster was created in Universal Coordinated Time (UTC).</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.docdbelastic#Status",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the elastic cluster snapshot.</p>",
                        "smithy.api#required": {}
                    }
                },
                "vpcSecurityGroupIds": {
                    "target": "com.amazonaws.docdbelastic#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of EC2 VPC security groups to associate with the elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "adminUserName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the elastic cluster administrator.</p>",
                        "smithy.api#required": {}
                    }
                },
                "kmsKeyId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key identifier is the Amazon Resource Name (ARN) for the KMS encryption key. \n      If you are creating a cluster using the same Amazon account that owns this KMS encryption key, you can use the KMS key alias instead of the ARN as the KMS encryption key.\n      If an encryption key is not specified here, Amazon DocumentDB uses the default encryption key that KMS creates for your account. \n      Your account has a different default encryption key for each Amazon Region.\n    </p>",
                        "smithy.api#required": {}
                    }
                },
                "snapshotType": {
                    "target": "com.amazonaws.docdbelastic#SnapshotType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of cluster snapshots to be returned. \n      You can specify one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>automated</code> - Return all cluster snapshots that Amazon DocumentDB has automatically created for your Amazon Web Services account.</p>\n            </li>\n            <li>\n               <p>\n                  <code>manual</code> - Return all cluster snapshots that you have manually created for your Amazon Web Services account.</p>\n            </li>\n         </ul>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Returns information about a specific elastic cluster snapshot.</p>"
            }
        },
        "com.amazonaws.docdbelastic#ClusterSnapshotInList": {
            "type": "structure",
            "members": {
                "snapshotName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the elastic cluster snapshot.</p>",
                        "smithy.api#required": {}
                    }
                },
                "snapshotArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN identifier of the elastic cluster snapshot.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clusterArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN identifier of the elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.docdbelastic#Status",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the elastic cluster snapshot.</p>",
                        "smithy.api#required": {}
                    }
                },
                "snapshotCreationTime": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the elastic cluster snapshot was created in Universal Coordinated Time (UTC).</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A list of elastic cluster snapshots.</p>"
            }
        },
        "com.amazonaws.docdbelastic#ClusterSnapshotList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.docdbelastic#ClusterSnapshotInList"
            }
        },
        "com.amazonaws.docdbelastic#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "resourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the resource where there was an access conflict.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the resource where there was an access conflict.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>There was an access conflict.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.docdbelastic#CopyClusterSnapshot": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.docdbelastic#CopyClusterSnapshotInput"
            },
            "output": {
                "target": "com.amazonaws.docdbelastic#CopyClusterSnapshotOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.docdbelastic#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ConflictException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#InternalServerException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Copies a snapshot of an elastic cluster.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Basic Copy Cluster Snapshot Example",
                        "documentation": "update applied",
                        "input": {
                            "snapshotArn": "arn:aws:docdb-elastic:us-east-1:$AWS_ACCOUNT_ID:cluster-snapshot/$SOURCE_SNAPSHOT_ID",
                            "targetSnapshotName": "sampleSnapshotName"
                        },
                        "output": {
                            "snapshot": {
                                "subnetIds": [
                                    "subnetId1",
                                    "subnetId2"
                                ],
                                "snapshotName": "sampleSnapshotName",
                                "snapshotArn": "arn:aws:docdb-elastic:us-east-1:$AWS_ACCOUNT_ID:cluster-snapshot/$TARGET_SNAPSHOT_ID",
                                "snapshotCreationTime": "2000-01-01T00:00:00.000Z",
                                "clusterArn": "arn:aws:docdb-elastic:us-east-1:$AWS_ACCOUNT_ID:cluster/$CLUSTER_ID",
                                "clusterCreationTime": "2000-01-01T00:00:00.000Z",
                                "status": "ACTIVE",
                                "vpcSecurityGroupIds": [
                                    "vpcSgId1, vpcSgId2"
                                ],
                                "adminUserName": "sampleAdminUser",
                                "kmsKeyId": "AWS_OWNED_KMS_KEY",
                                "snapshotType": "MANUAL"
                            }
                        }
                    }
                ],
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/cluster-snapshot/{snapshotArn}/copy"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.docdbelastic#CopyClusterSnapshotInput": {
            "type": "structure",
            "members": {
                "snapshotArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) identifier of the elastic cluster snapshot.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "snapshotArn"
                    }
                },
                "targetSnapshotName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the new elastic cluster snapshot to create from the source cluster snapshot. \n      This parameter is not case sensitive.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n               <p>The first character must be a letter.</p>\n            </li>\n            <li>\n               <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n         <p>Example: <code>elastic-cluster-snapshot-5</code>\n         </p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 63
                        },
                        "smithy.api#required": {}
                    }
                },
                "kmsKeyId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services KMS key ID for an encrypted elastic cluster snapshot. \n      The Amazon Web Services KMS key ID is the Amazon Resource Name (ARN), Amazon Web Services KMS key identifier, or the Amazon Web Services KMS key alias for the Amazon Web Services KMS encryption key.</p>\n         <p>If you copy an encrypted elastic cluster snapshot from your Amazon Web Services account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new Amazon Web ServicesS KMS encryption key. \n      If you don't specify a value for <code>KmsKeyId</code>, then the copy of the elastic cluster snapshot is encrypted with the same <code>AWS</code> KMS key as the source elastic cluster snapshot.</p>\n         <p>To copy an encrypted elastic cluster snapshot to another Amazon Web Services region, set <code>KmsKeyId</code> to the Amazon Web Services KMS key ID that you want to use to encrypt the copy of the elastic cluster snapshot in the destination region. \n      Amazon Web Services KMS encryption keys are specific to the Amazon Web Services region that they are created in, and you can't use encryption keys from one Amazon Web Services region in another Amazon Web Services region.</p>\n         <p>If you copy an unencrypted elastic cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, an error is returned.</p>"
                    }
                },
                "copyTags": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#default": null,
                        "smithy.api#documentation": "<p>Set to <code>true</code> to copy all tags from the source cluster snapshot to the target elastic cluster snapshot. \n      The default is <code>false</code>.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.docdbelastic#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to be assigned to the elastic cluster snapshot.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.docdbelastic#CopyClusterSnapshotOutput": {
            "type": "structure",
            "members": {
                "snapshot": {
                    "target": "com.amazonaws.docdbelastic#ClusterSnapshot",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.docdbelastic#CreateCluster": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.docdbelastic#CreateClusterInput"
            },
            "output": {
                "target": "com.amazonaws.docdbelastic#CreateClusterOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.docdbelastic#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ConflictException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#InternalServerException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new Amazon DocumentDB elastic cluster and returns its cluster structure.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/cluster"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.docdbelastic#CreateClusterInput": {
            "type": "structure",
            "members": {
                "clusterName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the new elastic cluster. This parameter is stored as\n      a lowercase string.</p>\n         <p>\n            <i>Constraints</i>:</p>\n         <ul>\n            <li>\n               <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n               <p>The first character must be a letter.</p>\n            </li>\n            <li>\n               <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n         <p>\n            <i>Example</i>: <code>my-cluster</code>\n         </p>",
                        "smithy.api#required": {}
                    }
                },
                "authType": {
                    "target": "com.amazonaws.docdbelastic#Auth",
                    "traits": {
                        "smithy.api#documentation": "<p>The authentication type used to determine where to fetch the password used for accessing the elastic cluster. \n      Valid types are <code>PLAIN_TEXT</code> or <code>SECRET_ARN</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "adminUserName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon DocumentDB elastic clusters administrator.</p>\n         <p>\n            <i>Constraints</i>:</p>\n         <ul>\n            <li>\n               <p>Must be from 1 to 63 letters or numbers.</p>\n            </li>\n            <li>\n               <p>The first character must be a letter.</p>\n            </li>\n            <li>\n               <p>Cannot be a reserved word.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "adminUserPassword": {
                    "target": "com.amazonaws.docdbelastic#Password",
                    "traits": {
                        "smithy.api#documentation": "<p>The password for the Amazon DocumentDB elastic clusters administrator. The password can contain any printable ASCII characters.</p>\n         <p>\n            <i>Constraints</i>:</p>\n         <ul>\n            <li>\n               <p>Must contain from 8 to 100 characters.</p>\n            </li>\n            <li>\n               <p>Cannot contain a forward slash (/), double quote (\"), or the \"at\" symbol (@).</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "shardCapacity": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of vCPUs assigned to each elastic cluster shard. Maximum is 64. Allowed values are 2, 4, 8, 16, 32, 64.</p>",
                        "smithy.api#required": {}
                    }
                },
                "shardCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of shards assigned to the elastic cluster. Maximum is 32.</p>",
                        "smithy.api#required": {}
                    }
                },
                "vpcSecurityGroupIds": {
                    "target": "com.amazonaws.docdbelastic#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of EC2 VPC security groups to associate with the new\n      elastic cluster.</p>"
                    }
                },
                "subnetIds": {
                    "target": "com.amazonaws.docdbelastic#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon EC2 subnet IDs for the new elastic cluster.</p>"
                    }
                },
                "kmsKeyId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key identifier to use to encrypt the new elastic cluster.</p>\n         <p>The KMS key identifier is the Amazon Resource Name (ARN) for the KMS\n        encryption key. If you are creating a cluster using the same Amazon account\n        that owns this KMS encryption key, you can use the KMS key alias instead\n        of the ARN as the KMS encryption key.</p>\n         <p>If an encryption key is not specified, Amazon DocumentDB uses the\n        default encryption key that KMS creates for your account. Your account\n        has a different default encryption key for each Amazon Region.</p>"
                    }
                },
                "clientToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The client token for the elastic cluster.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "preferredMaintenanceWindow": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The weekly time range during which system maintenance can occur,\n      in Universal Coordinated Time (UTC).</p>\n         <p>\n            <i>Format</i>: <code>ddd:hh24:mi-ddd:hh24:mi</code>\n         </p>\n         <p>\n            <i>Default</i>: a 30-minute window selected at random from an 8-hour block of time for each Amazon Web Services Region, occurring on a random day of the week.</p>\n         <p>\n            <i>Valid days</i>: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p>\n         <p>\n            <i>Constraints</i>: Minimum 30-minute window.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.docdbelastic#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to be assigned to the new elastic cluster.</p>"
                    }
                },
                "backupRetentionPeriod": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of days for which automatic snapshots are retained.</p>"
                    }
                },
                "preferredBackupWindow": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The daily time range during which automated backups are created if automated backups are enabled, as determined by the <code>backupRetentionPeriod</code>.</p>"
                    }
                },
                "shardInstanceCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of replica instances applying to all shards in the elastic cluster. \n      A <code>shardInstanceCount</code> value of 1 means there is one writer instance, and any additional instances are replicas that can be used for reads and to improve availability.</p>"
                    }
                }
            }
        },
        "com.amazonaws.docdbelastic#CreateClusterOutput": {
            "type": "structure",
            "members": {
                "cluster": {
                    "target": "com.amazonaws.docdbelastic#Cluster",
                    "traits": {
                        "smithy.api#documentation": "<p>The new elastic cluster that has been created.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.docdbelastic#CreateClusterSnapshot": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.docdbelastic#CreateClusterSnapshotInput"
            },
            "output": {
                "target": "com.amazonaws.docdbelastic#CreateClusterSnapshotOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.docdbelastic#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ConflictException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#InternalServerException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a snapshot of an elastic cluster.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/cluster-snapshot"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.docdbelastic#CreateClusterSnapshotInput": {
            "type": "structure",
            "members": {
                "clusterArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN identifier of the elastic cluster of which you want to create a snapshot.</p>",
                        "smithy.api#required": {}
                    }
                },
                "snapshotName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the new elastic cluster snapshot.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 63
                        },
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.docdbelastic#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to be assigned to the new elastic cluster snapshot.</p>"
                    }
                }
            }
        },
        "com.amazonaws.docdbelastic#CreateClusterSnapshotOutput": {
            "type": "structure",
            "members": {
                "snapshot": {
                    "target": "com.amazonaws.docdbelastic#ClusterSnapshot",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns information about the new elastic cluster snapshot.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.docdbelastic#DeleteCluster": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.docdbelastic#DeleteClusterInput"
            },
            "output": {
                "target": "com.amazonaws.docdbelastic#DeleteClusterOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.docdbelastic#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ConflictException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#InternalServerException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete an elastic cluster.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/cluster/{clusterArn}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.docdbelastic#DeleteClusterInput": {
            "type": "structure",
            "members": {
                "clusterArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN identifier of the elastic cluster that is to be deleted.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "clusterArn"
                    }
                }
            }
        },
        "com.amazonaws.docdbelastic#DeleteClusterOutput": {
            "type": "structure",
            "members": {
                "cluster": {
                    "target": "com.amazonaws.docdbelastic#Cluster",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns information about the newly deleted elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.docdbelastic#DeleteClusterSnapshot": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.docdbelastic#DeleteClusterSnapshotInput"
            },
            "output": {
                "target": "com.amazonaws.docdbelastic#DeleteClusterSnapshotOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.docdbelastic#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ConflictException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#InternalServerException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete an elastic cluster snapshot.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/cluster-snapshot/{snapshotArn}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.docdbelastic#DeleteClusterSnapshotInput": {
            "type": "structure",
            "members": {
                "snapshotArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN identifier of the elastic cluster snapshot that is to be deleted.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "snapshotArn"
                    }
                }
            }
        },
        "com.amazonaws.docdbelastic#DeleteClusterSnapshotOutput": {
            "type": "structure",
            "members": {
                "snapshot": {
                    "target": "com.amazonaws.docdbelastic#ClusterSnapshot",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns information about the newly deleted elastic cluster snapshot.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.docdbelastic#GetCluster": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.docdbelastic#GetClusterInput"
            },
            "output": {
                "target": "com.amazonaws.docdbelastic#GetClusterOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.docdbelastic#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#InternalServerException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns information about a specific elastic cluster.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/cluster/{clusterArn}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.docdbelastic#GetClusterInput": {
            "type": "structure",
            "members": {
                "clusterArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN identifier of the elastic cluster.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "clusterArn"
                    }
                }
            }
        },
        "com.amazonaws.docdbelastic#GetClusterOutput": {
            "type": "structure",
            "members": {
                "cluster": {
                    "target": "com.amazonaws.docdbelastic#Cluster",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns information about a specific elastic cluster.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.docdbelastic#GetClusterSnapshot": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.docdbelastic#GetClusterSnapshotInput"
            },
            "output": {
                "target": "com.amazonaws.docdbelastic#GetClusterSnapshotOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.docdbelastic#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#InternalServerException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns information about a specific elastic cluster snapshot</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/cluster-snapshot/{snapshotArn}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.docdbelastic#GetClusterSnapshotInput": {
            "type": "structure",
            "members": {
                "snapshotArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN identifier of the elastic cluster snapshot.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "snapshotArn"
                    }
                }
            }
        },
        "com.amazonaws.docdbelastic#GetClusterSnapshotOutput": {
            "type": "structure",
            "members": {
                "snapshot": {
                    "target": "com.amazonaws.docdbelastic#ClusterSnapshot",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns information about a specific elastic cluster snapshot.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.docdbelastic#GetPendingMaintenanceAction": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.docdbelastic#GetPendingMaintenanceActionInput"
            },
            "output": {
                "target": "com.amazonaws.docdbelastic#GetPendingMaintenanceActionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.docdbelastic#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ConflictException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#InternalServerException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves all maintenance actions that are pending.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/pending-action/{resourceArn}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.docdbelastic#GetPendingMaintenanceActionInput": {
            "type": "structure",
            "members": {
                "resourceArn": {
                    "target": "com.amazonaws.docdbelastic#InputString",
                    "traits": {
                        "smithy.api#documentation": "<p>Retrieves pending maintenance actions for a specific Amazon Resource Name (ARN).</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "resourceArn"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.docdbelastic#GetPendingMaintenanceActionOutput": {
            "type": "structure",
            "members": {
                "resourcePendingMaintenanceAction": {
                    "target": "com.amazonaws.docdbelastic#ResourcePendingMaintenanceAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides information about a pending maintenance action for a resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.docdbelastic#InputString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                }
            }
        },
        "com.amazonaws.docdbelastic#InternalServerException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>There was an internal server error.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.docdbelastic#ListClusterSnapshots": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.docdbelastic#ListClusterSnapshotsInput"
            },
            "output": {
                "target": "com.amazonaws.docdbelastic#ListClusterSnapshotsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.docdbelastic#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#InternalServerException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.docdbelastic#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns information about snapshots for a specified elastic cluster.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/cluster-snapshots"
                },
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "maxResults",
                    "items": "snapshots"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.docdbelastic#ListClusterSnapshotsInput": {
            "type": "structure",
            "members": {
                "clusterArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN identifier of the elastic cluster.</p>",
                        "smithy.api#httpQuery": "clusterArn"
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.docdbelastic#PaginationToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A pagination token provided by a previous request. \n      If this parameter is specified, the response includes only records beyond this token, up to the value specified by <code>max-results</code>.</p>\n         <p>If there is no more data in the responce, the <code>nextToken</code> will not be returned.</p>",
                        "smithy.api#httpQuery": "nextToken"
                    }
                },
                "maxResults": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#default": null,
[...]
