{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.elasticache#APICallRateForCustomerExceededFault": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.elasticache#ExceptionMessage"
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "APICallRateForCustomerExceeded",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>The customer has exceeded the allowed rate of API calls.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.elasticache#AZMode": {
            "type": "enum",
            "members": {
                "SINGLE_AZ": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "single-az"
                    }
                },
                "CROSS_AZ": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cross-az"
                    }
                }
            }
        },
        "com.amazonaws.elasticache#AccessString": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "\\S"
            }
        },
        "com.amazonaws.elasticache#AddTagsToResource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.elasticache#AddTagsToResourceMessage"
            },
            "output": {
                "target": "com.amazonaws.elasticache#TagListMessage"
            },
            "errors": [
                {
                    "target": "com.amazonaws.elasticache#CacheClusterNotFoundFault"
                },
                {
                    "target": "com.amazonaws.elasticache#CacheParameterGroupNotFoundFault"
                },
                {
                    "target": "com.amazonaws.elasticache#CacheSecurityGroupNotFoundFault"
                },
                {
                    "target": "com.amazonaws.elasticache#CacheSubnetGroupNotFoundFault"
                },
                {
                    "target": "com.amazonaws.elasticache#InvalidARNFault"
                },
                {
                    "target": "com.amazonaws.elasticache#InvalidReplicationGroupStateFault"
                },
                {
                    "target": "com.amazonaws.elasticache#InvalidServerlessCacheSnapshotStateFault"
                },
                {
                    "target": "com.amazonaws.elasticache#InvalidServerlessCacheStateFault"
                },
                {
                    "target": "com.amazonaws.elasticache#ReplicationGroupNotFoundFault"
                },
                {
                    "target": "com.amazonaws.elasticache#ReservedCacheNodeNotFoundFault"
                },
                {
                    "target": "com.amazonaws.elasticache#ServerlessCacheNotFoundFault"
                },
                {
                    "target": "com.amazonaws.elasticache#ServerlessCacheSnapshotNotFoundFault"
                },
                {
                    "target": "com.amazonaws.elasticache#SnapshotNotFoundFault"
                },
                {
                    "target": "com.amazonaws.elasticache#TagQuotaPerResourceExceeded"
                },
                {
                    "target": "com.amazonaws.elasticache#UserGroupNotFoundFault"
                },
                {
                    "target": "com.amazonaws.elasticache#UserNotFoundFault"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>A tag is a key-value pair where the key and value are case-sensitive. You can use tags\n            to categorize and track all your ElastiCache resources, with the exception of global\n            replication group. When you add or remove tags on replication groups, those actions will\n            be replicated to all nodes in the replication group. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/dg/IAM.ResourceLevelPermissions.html\">Resource-level permissions</a>.</p>\n         <p> For example, you can use cost-allocation tags to your ElastiCache resources, Amazon\n            generates a cost allocation report as a comma-separated value (CSV) file with your usage\n            and costs aggregated by your tags. You can apply tags that represent business categories\n            (such as cost centers, application names, or owners) to organize your costs across\n            multiple services.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/Tagging.html\">Using Cost Allocation Tags in\n                Amazon ElastiCache</a> in the <i>ElastiCache User\n            Guide</i>.</p>",
                "smithy.api#examples": [
                    {
                        "title": "AddTagsToResource",
                        "documentation": "Adds up to 10 tags, key/value pairs, to a cluster or snapshot resource.",
                        "input": {
                            "ResourceName": "arn:aws:elasticache:us-east-1:1234567890:cluster:my-mem-cluster",
                            "Tags": [
                                {
                                    "Value": "20150202",
                                    "Key": "APIVersion"
                                },
                                {
                                    "Value": "ElastiCache",
                                    "Key": "Service"
                                }
                            ]
                        },
                        "output": {
                            "TagList": [
                                {
                                    "Value": "20150202",
                                    "Key": "APIVersion"
                                },
                                {
                                    "Value": "ElastiCache",
                                    "Key": "Service"
                                }
                            ]
                        }
                    }
                ]
            }
        },
        "com.amazonaws.elasticache#AddTagsToResourceMessage": {
            "type": "structure",
            "members": {
                "ResourceName": {
                    "target": "com.amazonaws.elasticache#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to which the tags are to be added, for\n            example <code>arn:aws:elasticache:us-west-2:0123456789:cluster:myCluster</code> or\n                <code>arn:aws:elasticache:us-west-2:0123456789:snapshot:mySnapshot</code>.\n            ElastiCache resources are <i>cluster</i> and\n            <i>snapshot</i>.</p>\n         <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)\n                and Amazon Service Namespaces</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.elasticache#TagList",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>A list of tags to be added to this resource. A tag is a key-value pair. A tag key must\n            be accompanied by a tag value, although null is accepted.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents the input of an AddTagsToResource operation.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.elasticache#AllowedNodeGroupId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 4
                },
                "smithy.api#pattern": "^\\d+$"
            }
        },
        "com.amazonaws.elasticache#AllowedNodeTypeModificationsMessage": {
            "type": "structure",
            "members": {
                "ScaleUpModifications": {
                    "target": "com.amazonaws.elasticache#NodeTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>A string list, each element of which specifies a cache node type which you can use to\n            scale your cluster or replication group.</p>\n         <p>When scaling up a Valkey or Redis OSS cluster or replication group using\n                <code>ModifyCacheCluster</code> or <code>ModifyReplicationGroup</code>, use a value\n            from this list for the <code>CacheNodeType</code> parameter.</p>"
                    }
                },
                "ScaleDownModifications": {
                    "target": "com.amazonaws.elasticache#NodeTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>A string list, each element of which specifies a cache node type which you can use to\n            scale your cluster or replication group. When scaling down a Valkey or Redis OSS cluster or\n            replication group using ModifyCacheCluster or ModifyReplicationGroup, use a value from\n            this list for the CacheNodeType parameter. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents the allowed node types you can use to modify your cluster or replication\n            group.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.elasticache#AmazonElastiCacheV9": {
            "type": "service",
            "version": "2015-02-02",
            "operations": [
                {
                    "target": "com.amazonaws.elasticache#AddTagsToResource"
                },
                {
                    "target": "com.amazonaws.elasticache#AuthorizeCacheSecurityGroupIngress"
                },
                {
                    "target": "com.amazonaws.elasticache#BatchApplyUpdateAction"
                },
                {
                    "target": "com.amazonaws.elasticache#BatchStopUpdateAction"
                },
                {
                    "target": "com.amazonaws.elasticache#CompleteMigration"
                },
                {
                    "target": "com.amazonaws.elasticache#CopyServerlessCacheSnapshot"
                },
                {
                    "target": "com.amazonaws.elasticache#CopySnapshot"
                },
                {
                    "target": "com.amazonaws.elasticache#CreateCacheCluster"
                },
                {
                    "target": "com.amazonaws.elasticache#CreateCacheParameterGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#CreateCacheSecurityGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#CreateCacheSubnetGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#CreateGlobalReplicationGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#CreateReplicationGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#CreateServerlessCache"
                },
                {
                    "target": "com.amazonaws.elasticache#CreateServerlessCacheSnapshot"
                },
                {
                    "target": "com.amazonaws.elasticache#CreateSnapshot"
                },
                {
                    "target": "com.amazonaws.elasticache#CreateUser"
                },
                {
                    "target": "com.amazonaws.elasticache#CreateUserGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#DecreaseNodeGroupsInGlobalReplicationGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#DecreaseReplicaCount"
                },
                {
                    "target": "com.amazonaws.elasticache#DeleteCacheCluster"
                },
                {
                    "target": "com.amazonaws.elasticache#DeleteCacheParameterGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#DeleteCacheSecurityGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#DeleteCacheSubnetGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#DeleteGlobalReplicationGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#DeleteReplicationGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#DeleteServerlessCache"
                },
                {
                    "target": "com.amazonaws.elasticache#DeleteServerlessCacheSnapshot"
                },
                {
                    "target": "com.amazonaws.elasticache#DeleteSnapshot"
                },
                {
                    "target": "com.amazonaws.elasticache#DeleteUser"
                },
                {
                    "target": "com.amazonaws.elasticache#DeleteUserGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeCacheClusters"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeCacheEngineVersions"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeCacheParameterGroups"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeCacheParameters"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeCacheSecurityGroups"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeCacheSubnetGroups"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeEngineDefaultParameters"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeEvents"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeGlobalReplicationGroups"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeReplicationGroups"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeReservedCacheNodes"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeReservedCacheNodesOfferings"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeServerlessCaches"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeServerlessCacheSnapshots"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeServiceUpdates"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeSnapshots"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeUpdateActions"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeUserGroups"
                },
                {
                    "target": "com.amazonaws.elasticache#DescribeUsers"
                },
                {
                    "target": "com.amazonaws.elasticache#DisassociateGlobalReplicationGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#ExportServerlessCacheSnapshot"
                },
                {
                    "target": "com.amazonaws.elasticache#FailoverGlobalReplicationGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#IncreaseNodeGroupsInGlobalReplicationGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#IncreaseReplicaCount"
                },
                {
                    "target": "com.amazonaws.elasticache#ListAllowedNodeTypeModifications"
                },
                {
                    "target": "com.amazonaws.elasticache#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.elasticache#ModifyCacheCluster"
                },
                {
                    "target": "com.amazonaws.elasticache#ModifyCacheParameterGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#ModifyCacheSubnetGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#ModifyGlobalReplicationGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#ModifyReplicationGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#ModifyReplicationGroupShardConfiguration"
                },
                {
                    "target": "com.amazonaws.elasticache#ModifyServerlessCache"
                },
                {
                    "target": "com.amazonaws.elasticache#ModifyUser"
                },
                {
                    "target": "com.amazonaws.elasticache#ModifyUserGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#PurchaseReservedCacheNodesOffering"
                },
                {
                    "target": "com.amazonaws.elasticache#RebalanceSlotsInGlobalReplicationGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#RebootCacheCluster"
                },
                {
                    "target": "com.amazonaws.elasticache#RemoveTagsFromResource"
                },
                {
                    "target": "com.amazonaws.elasticache#ResetCacheParameterGroup"
                },
                {
                    "target": "com.amazonaws.elasticache#RevokeCacheSecurityGroupIngress"
                },
                {
                    "target": "com.amazonaws.elasticache#StartMigration"
                },
                {
                    "target": "com.amazonaws.elasticache#TestFailover"
                },
                {
                    "target": "com.amazonaws.elasticache#TestMigration"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "ElastiCache",
                    "arnNamespace": "elasticache",
                    "cloudFormationName": "ElastiCache",
                    "cloudTrailEventSource": "elasticache.amazonaws.com",
                    "endpointPrefix": "elasticache"
                },
                "aws.auth#sigv4": {
                    "name": "elasticache"
                },
                "aws.protocols#awsQuery": {},
                "smithy.api#documentation": "<fullname>Amazon ElastiCache</fullname>\n         <p>Amazon ElastiCache is a web service that makes it easier to set up, operate, and scale\n            a distributed cache in the cloud.</p>\n         <p>With ElastiCache, customers get all of the benefits of a high-performance, in-memory\n            cache with less of the administrative burden involved in launching and managing a\n            distributed cache. The service makes setup, scaling, and cluster failure handling much\n            simpler than in a self-managed cache deployment.</p>\n         <p>In addition, through integration with Amazon CloudWatch, customers get enhanced\n            visibility into the key performance statistics associated with their cache and can\n            receive alarms if a part of their cache runs hot.</p>",
                "smithy.api#title": "Amazon ElastiCache",
                "smithy.api#xmlNamespace": {
                    "uri": "http://elasticache.amazonaws.com/doc/2015-02-02/"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://elasticache-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "stringEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "name"
                                                                            ]
                                                                        },
                                                                        "aws-us-gov"
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://elasticache.{Region}.amazonaws.com",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://elasticache-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://elasticache.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://elasticache.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "af-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.ap-southeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "me-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache-fips.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache-fips.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache-fips.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.cn-northwest-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.us-iso-west-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elasticache-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.elasticache#AuthTokenUpdateStatus": {
            "type": "enum",
            "members": {
                "SETTING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SETTING"
                    }
                },
                "ROTATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ROTATING"
                    }
                }
            }
        },
        "com.amazonaws.elasticache#AuthTokenUpdateStrategyType": {
            "type": "enum",
            "members": {
                "SET": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SET"
                    }
                },
                "ROTATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ROTATE"
                    }
                },
                "DELETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE"
                    }
                }
            }
        },
        "com.amazonaws.elasticache#Authentication": {
            "type": "structure",
            "members": {
                "Type": {
                    "target": "com.amazonaws.elasticache#AuthenticationType",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the user requires a password to authenticate.</p>"
                    }
                },
                "PasswordCount": {
                    "target": "com.amazonaws.elasticache#IntegerOptional",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of passwords belonging to the user. The maximum is two.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Indicates whether the user requires a password to authenticate.</p>"
            }
        },
        "com.amazonaws.elasticache#AuthenticationMode": {
            "type": "structure",
            "members": {
                "Type": {
                    "target": "com.amazonaws.elasticache#InputAuthenticationType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the authentication type. Possible options are IAM authentication, password\n            and no password.</p>"
                    }
                },
                "Passwords": {
                    "target": "com.amazonaws.elasticache#PasswordListInput",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the passwords to use for authentication if <code>Type</code> is set to\n                <code>password</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the authentication mode to use.</p>"
            }
        },
        "com.amazonaws.elasticache#AuthenticationType": {
            "type": "enum",
            "members": {
                "PASSWORD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "password"
                    }
                },
                "NO_PASSWORD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "no-password"
                    }
                },
                "IAM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iam"
                    }
                }
            }
        },
        "com.amazonaws.elasticache#AuthorizationAlreadyExistsFault": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.elasticache#ExceptionMessage"
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "AuthorizationAlreadyExists",
                    "httpResponseCode": 400
                },
                "smithy.api#documentation": "<p>The specified Amazon EC2 security group is already authorized for the specified cache\n            security group.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.elasticache#AuthorizationNotFoundFault": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.elasticache#ExceptionMessage"
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "AuthorizationNotFound",
                    "httpResponseCode": 404
                },
                "smithy.api#documentation": "<p>The specified Amazon EC2 security group is not authorized for the specified cache\n            security group.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.amazonaws.elasticache#AuthorizeCacheSecurityGroupIngress": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.elasticache#AuthorizeCacheSecurityGroupIngressMessage"
            },
            "output": {
                "target": "com.amazonaws.elasticache#AuthorizeCacheSecurityGroupIngressResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.elasticache#AuthorizationAlreadyExistsFault"
                },
                {
                    "target": "com.amazonaws.elasticache#CacheSecurityGroupNotFoundFault"
                },
                {
                    "target": "com.amazonaws.elasticache#InvalidCacheSecurityGroupStateFault"
                },
                {
                    "target": "com.amazonaws.elasticache#InvalidParameterCombinationException"
                },
                {
                    "target": "com.amazonaws.elasticache#InvalidParameterValueException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Allows network ingress to a cache security group. Applications using ElastiCache must\n            be running on Amazon EC2, and Amazon EC2 security groups are used as the authorization\n            mechanism.</p>\n         <note>\n            <p>You cannot authorize ingress from an Amazon EC2 security group in one region to an\n                ElastiCache cluster in another region.</p>\n         </note>",
                "smithy.api#examples": [
                    {
                        "title": "AuthorizeCacheCacheSecurityGroupIngress",
                        "documentation": "Allows network ingress to a cache security group. Applications using ElastiCache must be running on Amazon EC2. Amazon EC2 security groups are used as the authorization mechanism.",
                        "input": {
                            "CacheSecurityGroupName": "my-sec-grp",
                            "EC2SecurityGroupName": "my-ec2-sec-grp",
                            "EC2SecurityGroupOwnerId": "1234567890"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.elasticache#AuthorizeCacheSecurityGroupIngressMessage": {
            "type": "structure",
            "members": {
                "CacheSecurityGroupName": {
                    "target": "com.amazonaws.elasticache#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The cache security group that allows network ingress.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EC2SecurityGroupName": {
                    "target": "com.amazonaws.elasticache#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The Amazon EC2 security group to be authorized for ingress to the cache security\n            group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EC2SecurityGroupOwnerId": {
                    "target": "com.amazonaws.elasticache#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The Amazon account number of the Amazon EC2 security group owner. Note that this is\n            not the same thing as an Amazon access key ID - you must provide a valid Amazon account\n            number for this parameter.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents the input of an AuthorizeCacheSecurityGroupIngress operation.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.elasticache#AuthorizeCacheSecurityGroupIngressResult": {
            "type": "structure",
            "members": {
                "CacheSecurityGroup": {
                    "target": "com.amazonaws.elasticache#CacheSecurityGroup"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.elasticache#AutomaticFailoverStatus": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "enabled"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "disabled"
                    }
                },
                "ENABLING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "enabling"
                    }
                },
                "DISABLING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "disabling"
                    }
                }
            }
        },
        "com.amazonaws.elasticache#AvailabilityZone": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.elasticache#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an Availability Zone in which the cluster is launched.</p>"
            }
        },
        "com.amazonaws.elasticache#AvailabilityZonesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.elasticache#String",
                "traits": {
                    "smithy.api#xmlName": "AvailabilityZone"
                }
            }
        },
        "com.amazonaws.elasticache#AwsQueryErrorMessage": {
            "type": "string"
        },
        "com.amazonaws.elasticache#BatchApplyUpdateAction": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.elasticache#BatchApplyUpdateActionMessage"
            },
            "output": {
                "target": "com.amazonaws.elasticache#UpdateActionResultsMessage"
            },
            "errors": [
                {
                    "target": "com.amazonaws.elasticache#InvalidParameterValueException"
                },
                {
                    "target": "com.amazonaws.elasticache#ServiceUpdateNotFoundFault"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Apply the service update. For more information on service updates and applying them,\n            see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/applying-updates.html\">Applying Service\n                Updates</a>.</p>"
            }
        },
        "com.amazonaws.elasticache#BatchApplyUpdateActionMessage": {
            "type": "structure",
            "members": {
                "ReplicationGroupIds": {
                    "target": "com.amazonaws.elasticache#ReplicationGroupIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The replication group IDs</p>"
                    }
                },
                "CacheClusterIds": {
                    "target": "com.amazonaws.elasticache#CacheClusterIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The cache cluster IDs</p>"
                    }
                },
                "ServiceUpdateName": {
                    "target": "com.amazonaws.elasticache#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The unique ID of the service update</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.elasticache#BatchStopUpdateAction": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.elasticache#BatchStopUpdateActionMessage"
            },
            "output": {
                "target": "com.amazonaws.elasticache#UpdateActionResultsMessage"
            },
            "errors": [
                {
                    "target": "com.amazonaws.elasticache#InvalidParameterValueException"
                },
                {
                    "target": "com.amazonaws.elasticache#ServiceUpdateNotFoundFault"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Stop the service update. For more information on service updates and stopping them,\n            see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/stopping-self-service-updates.html\">Stopping\n                Service Updates</a>.</p>"
            }
        },
        "com.amazonaws.elasticache#BatchStopUpdateActionMessage": {
            "type": "structure",
            "members": {
                "ReplicationGroupIds": {
                    "target": "com.amazonaws.elasticache#ReplicationGroupIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The replication group IDs</p>"
                    }
                },
                "CacheClusterIds": {
                    "target": "com.amazonaws.elasticache#CacheClusterIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The cache cluster IDs</p>"
                    }
                },
                "ServiceUpdateName": {
                    "target": "com.amazonaws.elasticache#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The unique ID of the service update</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.elasticache#Boolean": {
            "type": "boolean"
        },
        "com.amazonaws.elasticache#BooleanOptional": {
            "type": "boolean"
        },
        "com.amazonaws.elasticache#CacheCluster": {
            "type": "structure",
            "members": {
                "CacheClusterId": {
                    "target": "com.amazonaws.elasticache#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The user-supplied identifier of the cluster. This identifier is a unique key that\n            identifies a cluster.</p>"
                    }
                },
                "ConfigurationEndpoint": {
                    "target": "com.amazonaws.elasticache#Endpoint",
                    "traits": {
                        "smithy.api#documentation": "<p>Represents a Memcached cluster endpoint which can be used by an application to connect\n            to any node in the cluster. The configuration endpoint will always have\n                <code>.cfg</code> in it.</p>\n         <p>Example: <code>mem-3.9dvc4r<u>.cfg</u>.usw2.cache.amazonaws.com:11211</code>\n         </p>"
                    }
                },
                "ClientDownloadLandingPage": {
                    "target": "com.amazonaws.elasticache#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL of the web page where you can download the latest ElastiCache client\n            library.</p>"
                    }
                },
                "CacheNodeType": {
                    "target": "com.amazonaws.elasticache#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the compute and memory capacity node type for the cluster.</p>\n         <p>The following node types are supported by ElastiCache. Generally speaking, the current\n            generation types provide more memory and computational power at lower cost when compared\n            to their equivalent previous generation counterparts.</p>\n         <ul>\n            <li>\n               <p>General purpose:</p>\n               <ul>\n                  <li>\n                     <p>Current generation: </p>\n                     <p>\n                        <b>M7g node types</b>:\n    \t\t\t\t\t<code>cache.m7g.large</code>,\n    \t\t\t\t\t<code>cache.m7g.xlarge</code>,\n    \t\t\t\t\t<code>cache.m7g.2xlarge</code>,\n    \t\t\t\t\t<code>cache.m7g.4xlarge</code>,\n    \t\t\t\t\t<code>cache.m7g.8xlarge</code>,\n    \t\t\t\t\t<code>cache.m7g.12xlarge</code>,\n    \t\t\t\t\t<code>cache.m7g.16xlarge</code>\n                     </p>\n                     <note>\n                        <p>For region availability, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/CacheNodes.SupportedTypes.html#CacheNodes.SupportedTypesByRegion\">Supported Node Types</a>\n                        </p>\n                     </note>\n                     <p>\n                        <b>M6g node types</b> (available only for Redis OSS engine version 5.0.6 onward and for Memcached engine version 1.5.16 onward):\n\t\t\t\t\t    \n\t\t\t\t\t \t<code>cache.m6g.large</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.2xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.4xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.8xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.12xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.16xlarge</code>\n                     </p>\n                     <p>\n                        <b>M5 node types:</b>\n                        <code>cache.m5.large</code>,\n    \t\t\t\t\t\t<code>cache.m5.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.12xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.24xlarge</code>\n                     </p>\n                     <p>\n                        <b>M4 node types:</b>\n                        <code>cache.m4.large</code>,\n    \t\t\t\t\t\t<code>cache.m4.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.10xlarge</code>\n                     </p>\n                     <p>\n                        <b>T4g node types</b> (available only for Redis OSS engine version 5.0.6 onward and Memcached engine version 1.5.16 onward):\n\t\t\t\t\t        <code>cache.t4g.micro</code>,\n\t\t\t\t\t        <code>cache.t4g.small</code>,\n\t\t\t\t\t        <code>cache.t4g.medium</code>\n                     </p>\n                     <p>\n                        <b>T3 node types:</b>\n                        <code>cache.t3.micro</code>, \n    \t\t\t\t\t\t<code>cache.t3.small</code>,\n    \t\t\t\t\t\t<code>cache.t3.medium</code>\n                     </p>\n                     <p>\n                        <b>T2 node types:</b>\n                        <code>cache.t2.micro</code>, \n    \t\t\t\t\t\t<code>cache.t2.small</code>,\n    \t\t\t\t\t\t<code>cache.t2.medium</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>Previous generation: (not recommended. Existing clusters are still supported but creation of new clusters is not supported for these types.)</p>\n                     <p>\n                        <b>T1 node types:</b>\n                        <code>cache.t1.micro</code>\n                     </p>\n                     <p>\n                        <b>M1 node types:</b>\n                        <code>cache.m1.small</code>, \n\t\t\t\t\t\t   <code>cache.m1.medium</code>, \n\t\t\t\t\t\t   <code>cache.m1.large</code>,\n\t\t\t\t\t\t   <code>cache.m1.xlarge</code>\n                     </p>\n                     <p>\n                        <b>M3 node types:</b>\n                        <code>cache.m3.medium</code>,\n    \t\t\t\t\t\t<code>cache.m3.large</code>, \n    \t\t\t\t\t\t<code>cache.m3.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m3.2xlarge</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Compute optimized:</p>\n               <ul>\n                  <li>\n                     <p>Previous generation: (not recommended. Existing clusters are still supported but creation of new clusters is not supported for these types.)</p>\n                     <p>\n                        <b>C1 node types:</b>\n                        <code>cache.c1.xlarge</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Memory optimized:</p>\n               <ul>\n                  <li>\n                     <p>Current generation: </p>\n                     <p>\n                        <b>R7g node types</b>:\t\n\t\t\t\t\t\t\t<code>cache.r7g.large</code>,\n\t\t\t\t\t\t\t<code>cache.r7g.xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r7g.2xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r7g.4xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r7g.8xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r7g.12xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r7g.16xlarge</code>\n                     </p>\n                     <note>\n                        <p>For region availability, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/CacheNodes.SupportedTypes.html#CacheNodes.SupportedTypesByRegion\">Supported Node Types</a>\n                        </p>\n                     </note>\n                     <p>\n                        <b>R6g node types</b> (available only for Redis OSS engine version 5.0.6 onward and for Memcached engine version 1.5.16 onward):\n\t\t\t\t\t\t\t<code>cache.r6g.large</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.2xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.4xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.8xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.12xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.16xlarge</code>\n                     </p>\n 
[...]
