{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.elementalinference#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.elementalinference#AssociateFeed": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.elementalinference#AssociateFeedRequest"
            },
            "output": {
                "target": "com.amazonaws.elementalinference#AssociateFeedResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.elementalinference#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ConflictException"
                },
                {
                    "target": "com.amazonaws.elementalinference#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.elementalinference#TooManyRequestException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to associate a feed with an AWS resource"
                },
                "smithy.api#documentation": "<p>Associates a resource with the feed. The resource provides the input that Elemental Inference needs needs in order to perform an Elemental Inference feature, such as cropping video. You always provide the resource by associating it with a feed. You can associate only one resource with each feed.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/feed/{id}/associate",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.elementalinference#AssociateFeedRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.elementalinference#FeedId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the feed.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "associatedResourceName": {
                    "target": "com.amazonaws.elementalinference#AssociatedResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>An identifier for the resource. If the resource is from an AWS service, this identifier must be the full ARN of that resource. Otherwise, the identifier is a name that you assign and that is appropriate for the application that owns the resource. This name must not resemble an ARN.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "outputs": {
                    "target": "com.amazonaws.elementalinference#CreateOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>The outputs to add to this feed. You must specify at least one output. You can later use the UpdateFeed action to change the list of outputs.</p>",
                        "smithy.api#required": {}
                    }
                },
                "dryRun": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Set to true if you want to do a dry run of the associate action.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.elementalinference#AssociateFeedResponse": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.elementalinference#FeedArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS ARN for this association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "id": {
                    "target": "com.amazonaws.elementalinference#FeedId",
                    "traits": {
                        "smithy.api#documentation": "<p>An ID for this response. It is unique in Elemental Inference for this AWS account.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.elementalinference#AssociatedResourceName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#pattern": "^[\\w \\-\\.',@:;/]*$"
            }
        },
        "com.amazonaws.elementalinference#ClippingConfig": {
            "type": "structure",
            "members": {
                "callbackMetadata": {
                    "target": "com.amazonaws.elementalinference#ResourceDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The metadata that is the result of the clip request to Elemental Inference. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A type of OutputConfig, used when the output in a feed is for the clip feature.</p>"
            }
        },
        "com.amazonaws.elementalinference#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request could not be completed due to a conflict.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.elementalinference#CreateFeed": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.elementalinference#CreateFeedRequest"
            },
            "output": {
                "target": "com.amazonaws.elementalinference#CreateFeedResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.elementalinference#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ConflictException"
                },
                {
                    "target": "com.amazonaws.elementalinference#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.elementalinference#TooManyRequestException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create a new feed",
                    "createsResources": [
                        "FeedResource"
                    ],
                    "resources": {
                        "required": {}
                    }
                },
                "smithy.api#documentation": "<p>Creates a feed. The feed is the target for live streams being sent by the calling application. An example of a calling application is AWS Elemental MediaLive. After you create the feed, you can associate a resource with the feed.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/feed",
                    "code": 202
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.elementalinference#CreateFeedRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.elementalinference#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>A name for this feed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "outputs": {
                    "target": "com.amazonaws.elementalinference#CreateOutputList",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>An array of outputs for this feed. Each output represents a specific Elemental Inference feature. For example, an output might represent the crop feature. </p>",
                        "smithy.api#required": {},
                        "smithy.api#suppress": [
                            "UnstableTrait.aws.cloudformation#cfnExcludeProperty"
                        ]
                    }
                },
                "tags": {
                    "target": "com.amazonaws.elementalinference#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>If you want to include tags, add them now. You won't be able to add them later.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.elementalinference#CreateFeedResponse": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.elementalinference#FeedArn",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique ARN that Elemental Inference assigns to the feed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.elementalinference#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name that you specified.</p>",
                        "smithy.api#required": {}
                    }
                },
                "id": {
                    "target": "com.amazonaws.elementalinference#FeedId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique ID that Elemental Inference assigns to the feed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "dataEndpoints": {
                    "target": "com.amazonaws.elementalinference#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique ARN that Elemental Inference assigns to the feed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "outputs": {
                    "target": "com.amazonaws.elementalinference#GetOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>Data endpoints that Elemental Inference assigns to the feed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.elementalinference#FeedStatus",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>The current status of the feed. After creation of the feed has succeeded, the status will be AVAILABLE.</p>",
                        "smithy.api#required": {},
                        "smithy.api#suppress": [
                            "UnstableTrait.aws.cloudformation#cfnExcludeProperty"
                        ]
                    }
                },
                "association": {
                    "target": "com.amazonaws.elementalinference#FeedAssociation",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>The association for this feed. When you create the feed, this property is empty. You must associate a resource with the feed using AssociateFeed.</p>",
                        "smithy.api#suppress": [
                            "UnstableTrait.aws.cloudformation#cfnExcludeProperty"
                        ]
                    }
                },
                "tags": {
                    "target": "com.amazonaws.elementalinference#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Any tags that you included when you created the feed.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.elementalinference#CreateOutput": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.elementalinference#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>A name for the output.</p>",
                        "smithy.api#required": {}
                    }
                },
                "outputConfig": {
                    "target": "com.amazonaws.elementalinference#OutputConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A typed property for an output in a feed. It is used in the CreateFeed and AssociateFeed actions. It identifies the action for Elemental Inference to perform. It also provides a repository for the results of that action. For example, CroppingConfig output will contain the metadata for the crop feature. </p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.elementalinference#OutputStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status to assign to the output.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.elementalinference#ResourceDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description for the output.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains configuration information about one output in a feed. It is used in the AssociateFeed and the CreateFeed actions.</p>"
            }
        },
        "com.amazonaws.elementalinference#CreateOutputList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.elementalinference#CreateOutput"
            }
        },
        "com.amazonaws.elementalinference#CroppingConfig": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>A type of OutputConfig, used when the output in a feed is for the crop feature.</p>"
            }
        },
        "com.amazonaws.elementalinference#DeleteFeed": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.elementalinference#DeleteFeedRequest"
            },
            "output": {
                "target": "com.amazonaws.elementalinference#DeleteFeedResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.elementalinference#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ConflictException"
                },
                {
                    "target": "com.amazonaws.elementalinference#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.elementalinference#TooManyRequestException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to delete a feed"
                },
                "smithy.api#documentation": "<p>Deletes the specified feed. The feed can be deleted at any time.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/feed/{id}",
                    "code": 202
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.elementalinference#DeleteFeedRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.elementalinference#FeedId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the feed.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.elementalinference#DeleteFeedResponse": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.elementalinference#FeedArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the deleted feed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "id": {
                    "target": "com.amazonaws.elementalinference#FeedId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the deleted feed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.elementalinference#FeedStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the feed. When deletion of the feed has succeeded, the status will be DELETED.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.elementalinference#DisassociateFeed": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.elementalinference#DisassociateFeedRequest"
            },
            "output": {
                "target": "com.amazonaws.elementalinference#DisassociateFeedResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.elementalinference#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ConflictException"
                },
                {
                    "target": "com.amazonaws.elementalinference#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.elementalinference#TooManyRequestException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to disassociate a feed from an AWS resource"
                },
                "smithy.api#documentation": "<p>Releases the resource (for example, an MediaLive channel) that is associated with this feed. The outputs in the feed become disabled.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/feed/{id}/disassociate",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.elementalinference#DisassociateFeedRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.elementalinference#FeedId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the feed where you want to release the resource.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "associatedResourceName": {
                    "target": "com.amazonaws.elementalinference#AssociatedResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the resource currently associated with the feed'.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "dryRun": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Set to true if you want to do a dry run of the disassociate action.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.elementalinference#DisassociateFeedResponse": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.elementalinference#FeedArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the feed where you deleted the associated resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "id": {
                    "target": "com.amazonaws.elementalinference#FeedId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the resource that you deleted.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.elementalinference#ElementalInference": {
            "type": "service",
            "version": "2018-11-14",
            "operations": [
                {
                    "target": "com.amazonaws.elementalinference#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.elementalinference#TagResource"
                },
                {
                    "target": "com.amazonaws.elementalinference#UntagResource"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.elementalinference#FeedResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "ElementalInference",
                    "arnNamespace": "elemental-inference",
                    "cloudFormationName": "ElementalInference",
                    "cloudTrailEventSource": "elemental-inference.amazonaws.com"
                },
                "aws.api#tagEnabled": {},
                "aws.auth#sigv4": {
                    "name": "elemental-inference"
                },
                "aws.iam#defineConditionKeys": {
                    "aws:ResourceTag/${TagKey}": {
                        "type": "String",
                        "documentation": "Filters access by tags associated with the resource",
                        "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
                    },
                    "aws:RequestTag/${TagKey}": {
                        "type": "String",
                        "documentation": "Filters access by tags that are passed in the request",
                        "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
                    },
                    "aws:TagKeys": {
                        "type": "ArrayOfString",
                        "documentation": "Filters access by tag keys that are passed in the request",
                        "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
                    }
                },
                "aws.iam#disableConditionKeyInference": {},
                "aws.iam#supportedPrincipalTypes": [
                    "Root",
                    "IAMUser",
                    "IAMRole",
                    "FederatedUser"
                ],
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "maxAge": 86400
                },
                "smithy.api#documentation": "<p>This is the AWS Elemental Inference REST API Reference. It provides information on the URL, request contents, and response contents of each AWS Elemental Inference REST operation. </p> <p>We assume that you have the IAM permissions that you need to use AWS Elemental Inference via the REST API. We also assume that you are familiar with the features and operations of AWS Elemental Inference as described in <i>AWS Elemental Inference User Guide</i>. </p>",
                "smithy.api#suppress": [
                    "UnstableTrait.aws.api#tagEnabled"
                ],
                "smithy.api#title": "AWS Elemental Inference",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://elemental-inference-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://elemental-inference-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://elemental-inference.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://elemental-inference.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://elemental-inference.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.elementalinference#FeedArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::Elemental-Inference::Feed",
                    "service": "com.amazonaws.elementalinference#ElementalInference",
                    "resource": "com.amazonaws.elementalinference#FeedResource"
                }
            }
        },
        "com.amazonaws.elementalinference#FeedAssociation": {
            "type": "structure",
            "members": {
                "associatedResourceName": {
                    "target": "com.amazonaws.elementalinference#AssociatedResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the associated resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about the resource that is associated with a feed. It is used in the FeedSummary that is used in the response of a ListFeeds action.</p>"
            }
        },
        "com.amazonaws.elementalinference#FeedId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-z0-9]{19}$"
            }
        },
        "com.amazonaws.elementalinference#FeedResource": {
            "type": "resource",
            "identifiers": {
                "id": {
                    "target": "com.amazonaws.elementalinference#FeedId"
                }
            },
            "create": {
                "target": "com.amazonaws.elementalinference#CreateFeed"
            },
            "read": {
                "target": "com.amazonaws.elementalinference#GetFeed"
            },
            "update": {
                "target": "com.amazonaws.elementalinference#UpdateFeed"
            },
            "delete": {
                "target": "com.amazonaws.elementalinference#DeleteFeed"
            },
            "list": {
                "target": "com.amazonaws.elementalinference#ListFeeds"
            },
            "operations": [
                {
                    "target": "com.amazonaws.elementalinference#AssociateFeed"
                },
                {
                    "target": "com.amazonaws.elementalinference#DisassociateFeed"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "feed/{id}"
                },
                "aws.api#taggable": {
                    "property": "tags"
                },
                "aws.cloudformation#cfnResource": {
                    "name": "Feed"
                },
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}"
                ],
                "smithy.api#suppress": [
                    "UnstableTrait.aws.cloudformation#cfnResource",
                    "UnstableTrait.aws.api#taggable"
                ]
            }
        },
        "com.amazonaws.elementalinference#FeedStatus": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "AVAILABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AVAILABLE"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "UPDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATING"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "DELETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETED"
                    }
                },
                "ARCHIVED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ARCHIVED"
                    }
                }
            }
        },
        "com.amazonaws.elementalinference#FeedSummary": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.elementalinference#FeedArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the feed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "id": {
                    "target": "com.amazonaws.elementalinference#FeedId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the feed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.elementalinference#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the feed</p>",
                        "smithy.api#required": {}
                    }
                },
                "association": {
                    "target": "com.amazonaws.elementalinference#FeedAssociation",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource, if any, associated with the feed.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.elementalinference#FeedStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the feed.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains configuration information about a feed. It is used in the ListFeeds action.</p>"
            }
        },
        "com.amazonaws.elementalinference#FeedSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.elementalinference#FeedSummary"
            }
        },
        "com.amazonaws.elementalinference#GetFeed": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.elementalinference#GetFeedRequest"
            },
            "output": {
                "target": "com.amazonaws.elementalinference#GetFeedResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.elementalinference#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.elementalinference#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.elementalinference#TooManyRequestException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to get feed details"
                },
                "smithy.api#documentation": "<p>Retrieves information about the specified feed.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/feed/{id}",
                    "code": 200
                },
                "smithy.api#readonly": {},
                "smithy.waiters#waitable": {
                    "FeedDeleted": {
                        "documentation": "Wait until a Feed is deleted",
                        "minDelay": 3,
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "errorType": "ResourceNotFoundException"
                                }
                            },
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "status",
                                        "expected": "DELETED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "retry",
                                "matcher": {
                                    "output": {
                                        "path": "status",
                                        "expected": "DELETING",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "retry",
                                "matcher": {
                                    "errorType": "InternalServerErrorException"
                                }
                            },
                            {
                                "state": "retry",
                                "matcher": {
                                    "errorType": "TooManyRequestException"
                                }
                            }
                        ]
                    }
                }
            }
        },
        "com.amazonaws.elementalinference#GetFeedRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.elementalinference#FeedId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the feed to query.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.elementalinference#GetFeedResponse": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.elementalinference#FeedArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the feed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.elementalinference#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the feed being queried.</p>",
                        "smithy.api#required": {}
                    }
                },
                "id": {
                    "target": "com.amazonaws.elementalinference#FeedId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the feed being queried.</p>",
                        "smithy.api#required": {}
                    }
                },
                "dataEndpoints": {
                    "target": "com.amazonaws.elementalinference#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The dataEndpoints of the feed being queried.</p>",
                        "smithy.api#required": {}
                    }
                },
                "outputs": {
                    "target": "com.amazonaws.elementalinference#GetOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of the outputs in the feed being queried.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.elementalinference#FeedStatus",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>The status of the feed being queried.</p>",
                        "smithy.api#required": {},
                        "smithy.api#suppress": [
                            "UnstableTrait.aws.cloudformation#cfnExcludeProperty"
                        ]
                    }
                },
                "association": {
                    "target": "com.amazonaws.elementalinference#FeedAssociation",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>Information about the resource, if any, associated with the feed being queried.</p>",
                        "smithy.api#suppress": [
                            "UnstableTrait.aws.cloudformation#cfnExcludeProperty"
                        ]
                    }
                },
                "tags": {
                    "target": "com.amazonaws.elementalinference#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of the tags, if any, for the feed being queried.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.elementalinference#GetOutput": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.elementalinference#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the output.</p>",
                        "smithy.api#required": {}
                    }
                },
                "outputConfig": {
                    "target": "com.amazonaws.elementalinference#OutputConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A typed property for an output in a feed. It is used in the GetFeed action. It identifies the action for Elemental Inference to perform. It also provides a repository for the results of that action. For example, CroppingConfig output will contain the metadata for the crop feature. </p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.elementalinference#OutputStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the output.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.elementalinference#ResourceDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the output.</p>"
                    }
                },
                "fromAssociation": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>True means that the output was originally created in the feed by the AssociateFeed operation. False means it was created using CreateFeed or UpdateFeed. You will need this value if you use the UpdateFeed operation to modify the list of outputs in the feed.</p>",
                        "smithy.api#suppress": [
                            "UnstableTrait.aws.cloudformation#cfnExcludeProperty"
                        ]
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains configuration information about one output in a feed. It is used in the GetFeed action.</p>"
            }
        },
        "com.amazonaws.elementalinference#GetOutputList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.elementalinference#GetOutput"
            }
        },
        "com.amazonaws.elementalinference#InternalServerErrorException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An internal server error occurred. This is a temporary condition and the request can be retried. If the problem persists, contact AWS Support.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.elementalinference#ListFeeds": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.elementalinference#ListFeedsRequest"
            },
            "output": {
                "target": "com.amazonaws.elementalinference#ListFeedsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.elementalinference#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.elementalinference#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.elementalinference#TooManyRequestException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to list feeds in the account"
                },
                "smithy.api#documentation": "<p>Displays a list of feeds that belong to this AWS account.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/feeds",
                    "code": 200
                },
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "items": "feeds",
                    "pageSize": "maxResults"
                },
                "smithy.api#readonly": {},
                "smithy.test#smokeTests": [
                    {
                        "id": "ListFeedsSuccess",
                        "params": {},
                        "vendorParams": {
                            "region": "us-west-2"
                        },
                        "vendorParamsShape": "aws.test#AwsVendorParams",
                        "expect": {
                            "success": {}
                        }
                    }
                ]
            }
        },
        "com.amazonaws.elementalinference#ListFeedsRequest": {
            "type": "structure",
            "members": {
                "maxResults": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of results to return per API request.</p> <p>For example, you submit a list request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.)</p> <p>The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 10 results per page.</p> <p>Valid Range: Minimum value of 1. Maximum value of 1000.</p>",
                        "smithy.api#httpQuery": "maxResults",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 100
                        }
                    }
                },
                "nextToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The token that identifies the batch of results that you want to see.</p> <p>For example, you submit a ListBridges request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListBridges request a second time and specify the NextToken value.</p>",
                        "smithy.api#httpQuery": "nextToken"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.elementalinference#ListFeedsResponse": {
            "type": "structure",
            "members": {
                "feeds": {
                    "target": "com.amazonaws.elementalinference#FeedSummaryList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of feed summaries.</p>",
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The token that identifies the batch of results that you want to see. For example, you submit a list request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the list request a second time and specify the NextToken value.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.elementalinference#ListTagsForResource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.elementalinference#ListTagsForResourceRequest"
            },
            "output": {
                "target": "com.amazonaws.elementalinference#ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.elementalinference#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.elementalinference#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.elementalinference#TooManyRequestException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to list tags on a resource"
                },
                "smithy.api#documentation": "<p>List all tags that are on an Elemental Inference resource in the current region.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v1/tags/{resourceArn}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.elementalinference#ListTagsForResourceRequest": {
            "type": "structure",
            "members": {
                "resourceArn": {
                    "target": "com.amazonaws.elementalinference#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the resource whose tags you want to query. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.elementalinference#ListTagsForResourceResponse": {
            "type": "structure",
            "members": {
                "tags": {
                    "target": "com.amazonaws.elementalinference#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of the tags that belong to this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.elementalinference#OutputConfig": {
            "type": "union",
            "members": {
                "cropping": {
                    "target": "com.amazonaws.elementalinference#CroppingConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The output config type that applies to the cropping feature.</p>"
                    }
                },
                "clipping": {
                    "target": "com.amazonaws.elementalinference#ClippingConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The output config type that applies to the clipping feature.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains one typed output. It is used in the CreateOutput, GetOutput, and Update Output structures. </p>"
            }
        },
        "com.amazonaws.elementalinference#OutputStatus": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.elementalinference#ResourceArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::Elemental-Inference::Resource"
                }
            }
        },
        "com.amazonaws.elementalinference#ResourceDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 1024
                },
                "smithy.api#pattern": "^[\\w \\-\\.',@:;]*$"
            }
        },
        "com.amazonaws.elementalinference#ResourceName": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_]{0,126}[a-zA-Z0-9])?$"
            }
        },
        "com.amazonaws.elementalinference#ResourceNotFoundException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The resource specified in the action doesn't exist.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.amazonaws.elementalinference#ServiceQuotaExceededException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request was rejected because it would exceed one or more service quotas for your account. Review your service quotas and either delete unused resources or request a quota increase.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 402
            }
        },
        "com.amazonaws.elementalinference#StringList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            }
        },
        "com.amazonaws.elementalinference#TagKey": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                }
            }
        },
        "com.amazonaws.elementalinference#TagKeyList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.elementalinference#TagKey"
            }
        },
        "com.amazonaws.elementalinference#TagMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.elementalinference#TagKey"
            },
            "value": {
                "target": "com.amazonaws.elementalinference#TagValue"
            }
        },
        "com.amazonaws.elementalinference#TagResource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.elementalinference#TagResourceRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.elementalinference#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ConflictException"
                },
                {
                    "target": "com.amazonaws.elementalinference#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.elementalinference#TooManyRequestException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to add tags to a resource"
                },
                "smithy.api#documentation": "<p>Associates the specified tags to the resource identified by the specified resourceArn in the current region. If existing tags on a resource are not specified in the request parameters, they are not changed. When a resource is deleted, the tags associated with that resource are also deleted.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/tags/{resourceArn}",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.elementalinference#TagResourceRequest": {
            "type": "structure",
            "members": {
                "resourceArn": {
                    "target": "com.amazonaws.elementalinference#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the resource where you want to add tags. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.elementalinference#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of tags to add to the resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.elementalinference#TagValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 256
                }
            }
        },
        "com.amazonaws.elementalinference#TooManyRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request was denied due to request throttling. Too many requests have been made within a given time period. Reduce the frequency of requests and use exponential backoff when retrying.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 429,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.elementalinference#UntagResource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.elementalinference#UntagResourceRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.elementalinference#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ConflictException"
                },
                {
                    "target": "com.amazonaws.elementalinference#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.elementalinference#TooManyRequestException"
                },
                {
                    "target": "com.amazonaws.elementalinference#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:TagKeys"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to remove tags from a resource"
                },
                "smithy.api#documentation": "<p>Deletes specified tags from the specified resource in the current region.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/tags/{resourceArn}",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.elementalinference#UntagResourceRequest": {
[...]
