{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.emrserverless#Application": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.emrserverless#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the application.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "applicationId"
                    }
                },
                "name": {
                    "target": "com.amazonaws.emrserverless#ApplicationName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the application.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.emrserverless#ApplicationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "releaseLabel": {
                    "target": "com.amazonaws.emrserverless#ReleaseLabel",
                    "traits": {
                        "smithy.api#documentation": "<p>The EMR release associated with the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.emrserverless#EngineType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of application, such as Spark or Hive.</p>",
                        "smithy.api#required": {}
                    }
                },
                "state": {
                    "target": "com.amazonaws.emrserverless#ApplicationState",
                    "traits": {
                        "smithy.api#documentation": "<p>The state of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "stateDetails": {
                    "target": "com.amazonaws.emrserverless#String256",
                    "traits": {
                        "smithy.api#documentation": "<p>The state details of the application.</p>"
                    }
                },
                "initialCapacity": {
                    "target": "com.amazonaws.emrserverless#InitialCapacityConfigMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The initial capacity of the application.</p>"
                    }
                },
                "maximumCapacity": {
                    "target": "com.amazonaws.emrserverless#MaximumAllowedResources",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum capacity of the application. This is cumulative across all workers at any\n         given point in time during the lifespan of the application is created. No new resources\n         will be created once any one of the defined limits is hit.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.emrserverless#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the application run was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.emrserverless#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the application run was last updated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.emrserverless#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags assigned to the application.</p>"
                    }
                },
                "autoStartConfiguration": {
                    "target": "com.amazonaws.emrserverless#AutoStartConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for an application to automatically start on job submission.</p>"
                    }
                },
                "autoStopConfiguration": {
                    "target": "com.amazonaws.emrserverless#AutoStopConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for an application to automatically stop after a certain amount of\n         time being idle.</p>"
                    }
                },
                "networkConfiguration": {
                    "target": "com.amazonaws.emrserverless#NetworkConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The network configuration for customer VPC connectivity for the application.</p>"
                    }
                },
                "architecture": {
                    "target": "com.amazonaws.emrserverless#Architecture",
                    "traits": {
                        "smithy.api#documentation": "<p>The CPU architecture of an application.</p>"
                    }
                },
                "imageConfiguration": {
                    "target": "com.amazonaws.emrserverless#ImageConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The image configuration applied to all worker types.</p>"
                    }
                },
                "workerTypeSpecifications": {
                    "target": "com.amazonaws.emrserverless#WorkerTypeSpecificationMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The specification applied to each worker type.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about an application. EMR Serverless uses applications to run jobs.</p>"
            }
        },
        "com.amazonaws.emrserverless#ApplicationArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 60,
                    "max": 1024
                },
                "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):emr-serverless:.+:(\\d{12}):\\/applications\\/[0-9a-zA-Z]+$"
            }
        },
        "com.amazonaws.emrserverless#ApplicationId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[0-9a-z]+$"
            }
        },
        "com.amazonaws.emrserverless#ApplicationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.emrserverless#ApplicationSummary"
            }
        },
        "com.amazonaws.emrserverless#ApplicationName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[A-Za-z0-9._/#-]+$"
            }
        },
        "com.amazonaws.emrserverless#ApplicationResource": {
            "type": "resource",
            "identifiers": {
                "applicationId": {
                    "target": "com.amazonaws.emrserverless#ApplicationId"
                }
            },
            "create": {
                "target": "com.amazonaws.emrserverless#CreateApplication"
            },
            "read": {
                "target": "com.amazonaws.emrserverless#GetApplication"
            },
            "update": {
                "target": "com.amazonaws.emrserverless#UpdateApplication"
            },
            "delete": {
                "target": "com.amazonaws.emrserverless#DeleteApplication"
            },
            "list": {
                "target": "com.amazonaws.emrserverless#ListApplications"
            },
            "operations": [
                {
                    "target": "com.amazonaws.emrserverless#StartApplication"
                },
                {
                    "target": "com.amazonaws.emrserverless#StopApplication"
                }
            ],
            "traits": {
                "aws.cloudformation#cfnResource": {
                    "name": "Application"
                }
            }
        },
        "com.amazonaws.emrserverless#ApplicationState": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "CREATING",
                        "name": "CREATING"
                    },
                    {
                        "value": "CREATED",
                        "name": "CREATED"
                    },
                    {
                        "value": "STARTING",
                        "name": "STARTING"
                    },
                    {
                        "value": "STARTED",
                        "name": "STARTED"
                    },
                    {
                        "value": "STOPPING",
                        "name": "STOPPING"
                    },
                    {
                        "value": "STOPPED",
                        "name": "STOPPED"
                    },
                    {
                        "value": "TERMINATED",
                        "name": "TERMINATED"
                    }
                ]
            }
        },
        "com.amazonaws.emrserverless#ApplicationStateSet": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.emrserverless#ApplicationState"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 7
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.emrserverless#ApplicationSummary": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.emrserverless#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the application.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "applicationId"
                    }
                },
                "name": {
                    "target": "com.amazonaws.emrserverless#ApplicationName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the application.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.emrserverless#ApplicationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "releaseLabel": {
                    "target": "com.amazonaws.emrserverless#ReleaseLabel",
                    "traits": {
                        "smithy.api#documentation": "<p>The EMR release associated with the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.emrserverless#EngineType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of application, such as Spark or Hive.</p>",
                        "smithy.api#required": {}
                    }
                },
                "state": {
                    "target": "com.amazonaws.emrserverless#ApplicationState",
                    "traits": {
                        "smithy.api#documentation": "<p>The state of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "stateDetails": {
                    "target": "com.amazonaws.emrserverless#String256",
                    "traits": {
                        "smithy.api#documentation": "<p>The state details of the application.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.emrserverless#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the application was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.emrserverless#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the application was last updated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "architecture": {
                    "target": "com.amazonaws.emrserverless#Architecture",
                    "traits": {
                        "smithy.api#documentation": "<p>The CPU architecture of an application.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The summary of attributes associated with an application.</p>"
            }
        },
        "com.amazonaws.emrserverless#Architecture": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "ARM64",
                        "name": "ARM64"
                    },
                    {
                        "value": "X86_64",
                        "name": "X86_64"
                    }
                ]
            }
        },
        "com.amazonaws.emrserverless#AutoStartConfig": {
            "type": "structure",
            "members": {
                "enabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Enables the application to automatically start on job submission. Defaults to\n         true.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration for an application to automatically start on job submission.</p>"
            }
        },
        "com.amazonaws.emrserverless#AutoStopConfig": {
            "type": "structure",
            "members": {
                "enabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Enables the application to automatically stop after a certain amount of time being idle.\n         Defaults to true.</p>"
                    }
                },
                "idleTimeoutMinutes": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#default": null,
                        "smithy.api#documentation": "<p>The amount of idle time in minutes after which your application will automatically stop.\n         Defaults to 15 minutes.</p>",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 10080
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration for an application to automatically stop after a certain amount of\n         time being idle.</p>"
            }
        },
        "com.amazonaws.emrserverless#AwsToledoWebService": {
            "type": "service",
            "version": "2021-07-13",
            "operations": [
                {
                    "target": "com.amazonaws.emrserverless#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.emrserverless#TagResource"
                },
                {
                    "target": "com.amazonaws.emrserverless#UntagResource"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.emrserverless#ApplicationResource"
                },
                {
                    "target": "com.amazonaws.emrserverless#JobRunResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "EMR Serverless",
                    "arnNamespace": "emr-serverless",
                    "cloudFormationName": "EMRServerless"
                },
                "aws.auth#sigv4": {
                    "name": "emr-serverless"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "additionalAllowedHeaders": [
                        "*",
                        "Authorization",
                        "Date",
                        "X-Amz-Date",
                        "X-Amz-Security-Token",
                        "X-Amz-Target",
                        "content-type",
                        "x-amz-content-sha256",
                        "x-amz-user-agent",
                        "x-amzn-platform-id",
                        "x-amzn-trace-id"
                    ],
                    "additionalExposedHeaders": [
                        "x-amzn-errortype",
                        "x-amzn-requestid",
                        "x-amzn-trace-id",
                        "x-amz-apigw-id"
                    ]
                },
                "smithy.api#documentation": "<p>Amazon EMR Serverless is a new deployment option for Amazon EMR. EMR Serverless provides\n         a serverless runtime environment that simplifies running analytics applications using the\n         latest open source frameworks such as Apache Spark and Apache Hive. With EMR Serverless,\n         you don’t have to configure, optimize, secure, or operate clusters to run applications with\n         these frameworks.</p>\n         <p>The API reference to Amazon EMR Serverless is <code>emr-serverless</code>. The\n            <code>emr-serverless</code> prefix is used in the following scenarios: </p>\n         <ul>\n            <li>\n               <p>It is the prefix in the CLI commands for Amazon EMR Serverless. For example,\n                  <code>aws emr-serverless start-job-run</code>.</p>\n            </li>\n            <li>\n               <p>It is the prefix before IAM policy actions for Amazon EMR Serverless. For example,\n                  <code>\"Action\": [\"emr-serverless:StartJobRun\"]</code>. For more information, see\n                  <a href=\"https://docs.aws.amazon.com/emr/latest/EMR-Serverless-UserGuide/security_iam_service-with-iam.html#security_iam_service-with-iam-id-based-policies-actions\">Policy actions for Amazon EMR Serverless</a>.</p>\n            </li>\n            <li>\n               <p>It is the prefix used in Amazon EMR Serverless service endpoints. For example,\n                  <code>emr-serverless.us-east-2.amazonaws.com</code>.</p>\n            </li>\n         </ul>",
                "smithy.api#title": "EMR Serverless",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": true,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "aws.partition",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ],
                                    "assign": "PartitionResult"
                                }
                            ],
                            "type": "tree",
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "fn": "parseURL",
                                            "argv": [
                                                {
                                                    "ref": "Endpoint"
                                                }
                                            ],
                                            "assign": "url"
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                                    "type": "error"
                                                },
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": {
                                                            "ref": "Endpoint"
                                                        },
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        },
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsFIPS"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsDualStack"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://emr-serverless-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsFIPS"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "type": "tree",
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://emr-serverless-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsDualStack"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://emr-serverless.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": "https://emr-serverless.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ]
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.ap-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "ap-south-1"
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "ap-south-1"
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.ap-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "ap-south-1"
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "ap-south-1"
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.ca-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "ca-central-1"
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "ca-central-1"
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.ca-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "ca-central-1"
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "ca-central-1"
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.eu-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "eu-central-1"
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "eu-central-1"
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.eu-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "eu-central-1"
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "eu-central-1"
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.us-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "us-west-1"
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "us-west-1"
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.us-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "us-west-1"
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "us-west-1"
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.us-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "us-west-2"
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "us-west-2"
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.us-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "us-west-2"
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "us-west-2"
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.eu-north-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "eu-north-1"
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "eu-north-1"
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.eu-north-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "eu-north-1"
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "eu-north-1"
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.eu-west-3.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "eu-west-3"
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "eu-west-3"
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.eu-west-3.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "eu-west-3"
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "eu-west-3"
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.eu-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "eu-west-2"
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "eu-west-2"
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.eu-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "eu-west-2"
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "eu-west-2"
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.eu-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "eu-west-1"
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "eu-west-1"
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.eu-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "eu-west-1"
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "eu-west-1"
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.ap-northeast-3.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "ap-northeast-3"
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "ap-northeast-3"
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.ap-northeast-3.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "ap-northeast-3"
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "ap-northeast-3"
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.ap-northeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "ap-northeast-2"
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "ap-northeast-2"
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.ap-northeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "ap-northeast-2"
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "ap-northeast-2"
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.ap-northeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "ap-northeast-1"
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "ap-northeast-1"
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.ap-northeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "ap-northeast-1"
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "ap-northeast-1"
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.sa-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "sa-east-1"
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "sa-east-1"
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.sa-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "sa-east-1"
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "sa-east-1"
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.ap-southeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "ap-southeast-1"
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "ap-southeast-1"
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.ap-southeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "ap-southeast-1"
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "ap-southeast-1"
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.ap-southeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "ap-southeast-2"
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "ap-southeast-2"
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.ap-southeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "ap-southeast-2"
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "ap-southeast-2"
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "us-east-1"
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "us-east-1"
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "us-east-1"
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "us-east-1"
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.us-east-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": true,
                                "Region": "us-east-2"
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless-fips.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "us-east-2"
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.us-east-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "us-east-2"
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-serverless.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "us-east-2"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": false,
                                "Region": "us-east-1",
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "UseDualStack": false,
                                "UseFIPS": true,
                                "Region": "us-east-1",
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "UseDualStack": true,
                                "UseFIPS": false,
                                "Region": "us-east-1",
                                "Endpoint": "https://example.com"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.emrserverless#CancelJobRun": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emrserverless#CancelJobRunRequest"
            },
            "output": {
                "target": "com.amazonaws.emrserverless#CancelJobRunResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emrserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emrserverless#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.emrserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a job run.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/applications/{applicationId}/jobruns/{jobRunId}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.emrserverless#CancelJobRunRequest": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.emrserverless#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the application on which the job run will be canceled.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "applicationId"
                    }
                },
                "jobRunId": {
                    "target": "com.amazonaws.emrserverless#JobRunId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the job run to cancel.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "jobRunId"
                    }
                }
            }
        },
        "com.amazonaws.emrserverless#CancelJobRunResponse": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.emrserverless#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The output contains the application ID on which the job run is cancelled.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "applicationId"
                    }
                },
                "jobRunId": {
                    "target": "com.amazonaws.emrserverless#JobRunId",
                    "traits": {
                        "smithy.api#documentation": "<p>The output contains the ID of the cancelled job run.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "jobRunId"
                    }
                }
            }
        },
        "com.amazonaws.emrserverless#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[A-Za-z0-9._-]+$"
            }
        },
        "com.amazonaws.emrserverless#Configuration": {
            "type": "structure",
            "members": {
                "classification": {
                    "target": "com.amazonaws.emrserverless#String1024",
                    "traits": {
                        "smithy.api#documentation": "<p>The classification within a configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "properties": {
                    "target": "com.amazonaws.emrserverless#SensitivePropertiesMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A set of properties specified within a configuration classification.</p>"
                    }
                },
                "configurations": {
                    "target": "com.amazonaws.emrserverless#ConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of additional configurations to apply within a configuration object.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A configuration specification to be used when provisioning an application. A\n         configuration consists of a classification, properties, and optional nested configurations.\n         A classification refers to an application-specific configuration file. Properties are the\n         settings you want to change in that file.</p>"
            }
        },
        "com.amazonaws.emrserverless#ConfigurationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.emrserverless#Configuration"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 100
                }
            }
        },
        "com.amazonaws.emrserverless#ConfigurationOverrides": {
            "type": "structure",
            "members": {
                "applicationConfiguration": {
                    "target": "com.amazonaws.emrserverless#ConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>The override configurations for the application.</p>"
                    }
                },
                "monitoringConfiguration": {
                    "target": "com.amazonaws.emrserverless#MonitoringConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The override configurations for monitoring.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A configuration specification to be used to override existing configurations.</p>"
            }
        },
        "com.amazonaws.emrserverless#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.emrserverless#String1024",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n         resource.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.emrserverless#CpuSize": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 15
                },
                "smithy.api#pattern": "^[1-9][0-9]*(\\s)?(vCPU|vcpu|VCPU)?$"
            }
        },
        "com.amazonaws.emrserverless#CreateApplication": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emrserverless#CreateApplicationRequest"
            },
            "output": {
                "target": "com.amazonaws.emrserverless#CreateApplicationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emrserverless#ConflictException"
                },
                {
                    "target": "com.amazonaws.emrserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emrserverless#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.emrserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an application.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/applications"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.emrserverless#CreateApplicationRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.emrserverless#ApplicationName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the application.</p>"
                    }
                },
                "releaseLabel": {
                    "target": "com.amazonaws.emrserverless#ReleaseLabel",
                    "traits": {
                        "smithy.api#documentation": "<p>The EMR release associated with the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.emrserverless#EngineType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of application you want to start, such as Spark or Hive.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.emrserverless#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The client idempotency token of the application to create. Its value must be unique for\n         each request.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "initialCapacity": {
                    "target": "com.amazonaws.emrserverless#InitialCapacityConfigMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The capacity to initialize when the application is created.</p>"
                    }
                },
                "maximumCapacity": {
                    "target": "com.amazonaws.emrserverless#MaximumAllowedResources",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum capacity to allocate when the application is created. This is cumulative\n         across all workers at any given point in time, not just when an application is created. No\n         new resources will be created once any one of the defined limits is hit.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.emrserverless#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags assigned to the application.</p>"
                    }
                },
                "autoStartConfiguration": {
                    "target": "com.amazonaws.emrserverless#AutoStartConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for an application to automatically start on job submission.</p>"
                    }
                },
                "autoStopConfiguration": {
                    "target": "com.amazonaws.emrserverless#AutoStopConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for an application to automatically stop after a certain amount of\n         time being idle.</p>"
                    }
                },
                "networkConfiguration": {
                    "target": "com.amazonaws.emrserverless#NetworkConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The network configuration for customer VPC connectivity.</p>"
                    }
                },
                "architecture": {
                    "target": "com.amazonaws.emrserverless#Architecture",
                    "traits": {
                        "smithy.api#documentation": "<p>The CPU architecture of an application.</p>"
                    }
                },
                "imageConfiguration": {
                    "target": "com.amazonaws.emrserverless#ImageConfigurationInput",
                    "traits": {
                        "smithy.api#documentation": "<p>The image configuration for all worker types. You can either set this parameter or <code>imageConfiguration</code> \n         for each worker type in <code>workerTypeSpecifications</code>.</p>"
                    }
                },
                "workerTypeSpecifications": {
                    "target": "com.amazonaws.emrserverless#WorkerTypeSpecificationInputMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The key-value pairs that specify worker type to <code>WorkerTypeSpecificationInput</code>. This parameter must contain all valid \n         worker types for a Spark or Hive application. Valid worker types include <code>Driver</code> and <code>Executor</code> for \n         Spark applications and <code>HiveDriver</code> and <code>TezTask</code> for Hive applications. You can either set \n         image details in this parameter for each worker type, or in <code>imageConfiguration</code> for all worker types.</p>"
                    }
                }
            }
        },
        "com.amazonaws.emrserverless#CreateApplicationResponse": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.emrserverless#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The output contains the application ID.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "applicationId"
                    }
                },
                "name": {
                    "target": "com.amazonaws.emrserverless#ApplicationName",
                    "traits": {
                        "smithy.api#documentation": "<p>The output contains the name of the application.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.emrserverless#ApplicationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The output contains the ARN of the application.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.emrserverless#Date": {
            "type": "timestamp"
        },
        "com.amazonaws.emrserverless#DeleteApplication": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emrserverless#DeleteApplicationRequest"
            },
            "output": {
                "target": "com.amazonaws.emrserverless#DeleteApplicationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emrserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emrserverless#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.emrserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an application. An application has to be in a stopped or created state in order\n         to be deleted.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/applications/{applicationId}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.emrserverless#DeleteApplicationRequest": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.emrserverless#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the application that will be deleted.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
[...]
