{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.emrcontainers#ACMCertArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 44,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):acm:.+:(\\d{12}):certificate/.+$"
            }
        },
        "com.amazonaws.emrcontainers#AuthorizationConfiguration": {
            "type": "structure",
            "members": {
                "lakeFormationConfiguration": {
                    "target": "com.amazonaws.emrcontainers#LakeFormationConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Lake Formation related configuration inputs for the security\n         configuration.</p>"
                    }
                },
                "encryptionConfiguration": {
                    "target": "com.amazonaws.emrcontainers#EncryptionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Encryption-related configuration input for the security configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Authorization-related configuration inputs for the security configuration.</p>"
            }
        },
        "com.amazonaws.emrcontainers#AwsChicagoWebService": {
            "type": "service",
            "version": "2020-10-01",
            "operations": [
                {
                    "target": "com.amazonaws.emrcontainers#CancelJobRun"
                },
                {
                    "target": "com.amazonaws.emrcontainers#CreateJobTemplate"
                },
                {
                    "target": "com.amazonaws.emrcontainers#CreateManagedEndpoint"
                },
                {
                    "target": "com.amazonaws.emrcontainers#CreateSecurityConfiguration"
                },
                {
                    "target": "com.amazonaws.emrcontainers#CreateVirtualCluster"
                },
                {
                    "target": "com.amazonaws.emrcontainers#DeleteJobTemplate"
                },
                {
                    "target": "com.amazonaws.emrcontainers#DeleteManagedEndpoint"
                },
                {
                    "target": "com.amazonaws.emrcontainers#DeleteVirtualCluster"
                },
                {
                    "target": "com.amazonaws.emrcontainers#DescribeJobRun"
                },
                {
                    "target": "com.amazonaws.emrcontainers#DescribeJobTemplate"
                },
                {
                    "target": "com.amazonaws.emrcontainers#DescribeManagedEndpoint"
                },
                {
                    "target": "com.amazonaws.emrcontainers#DescribeSecurityConfiguration"
                },
                {
                    "target": "com.amazonaws.emrcontainers#DescribeVirtualCluster"
                },
                {
                    "target": "com.amazonaws.emrcontainers#GetManagedEndpointSessionCredentials"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ListJobRuns"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ListJobTemplates"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ListManagedEndpoints"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ListSecurityConfigurations"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ListVirtualClusters"
                },
                {
                    "target": "com.amazonaws.emrcontainers#StartJobRun"
                },
                {
                    "target": "com.amazonaws.emrcontainers#TagResource"
                },
                {
                    "target": "com.amazonaws.emrcontainers#UntagResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "EMR containers",
                    "arnNamespace": "emr-containers",
                    "cloudFormationName": "EMRcontainers",
                    "cloudTrailEventSource": "emrcontainers.amazonaws.com",
                    "endpointPrefix": "emr-containers"
                },
                "aws.auth#sigv4": {
                    "name": "emr-containers"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>Amazon EMR on EKS provides a deployment option for Amazon EMR that allows\n         you to run open-source big data frameworks on Amazon Elastic Kubernetes Service (Amazon EKS).\n         With this deployment option, you can focus on running analytics workloads while Amazon EMR on EKS builds, configures, and manages containers for open-source applications.\n         For more information about Amazon EMR on EKS concepts and tasks, see <a href=\"https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/emr-eks.html\">What is\n            Amazon EMR on EKS</a>.</p>\n         <p>\n            <i>Amazon EMR containers</i> is the API name for Amazon EMR on EKS. The <code>emr-containers</code> prefix is used in the following\n         scenarios: </p>\n         <ul>\n            <li>\n               <p>It is the prefix in the CLI commands for Amazon EMR on EKS. For example,\n                  <code>aws emr-containers start-job-run</code>.</p>\n            </li>\n            <li>\n               <p>It is the prefix before IAM policy actions for Amazon EMR on EKS. For\n               example, <code>\"Action\": [ \"emr-containers:StartJobRun\"]</code>. For more\n               information, see <a href=\"https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/security_iam_service-with-iam.html#security_iam_service-with-iam-id-based-policies-actions\">Policy actions for Amazon EMR on EKS</a>.</p>\n            </li>\n            <li>\n               <p>It is the prefix used in Amazon EMR on EKS service endpoints. For example,\n                  <code>emr-containers.us-east-2.amazonaws.com</code>. For more information, see\n                  <a href=\"https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/service-quotas.html#service-endpoints\">Amazon EMR on EKSService Endpoints</a>.</p>\n            </li>\n         </ul>",
                "smithy.api#title": "Amazon EMR Containers",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://emr-containers-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "stringEquals",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "Region"
                                                                        },
                                                                        "us-gov-east-1"
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://emr-containers.us-gov-east-1.amazonaws.com",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "stringEquals",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "Region"
                                                                        },
                                                                        "us-gov-west-1"
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://emr-containers.us-gov-west-1.amazonaws.com",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://emr-containers-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://emr-containers.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://emr-containers.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers-fips.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers-fips.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers-fips.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers-fips.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.cn-northwest-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://emr-containers.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.emrcontainers#Base64Encoded": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 5000
                },
                "smithy.api#pattern": "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{4}|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)?$"
            }
        },
        "com.amazonaws.emrcontainers#Boolean": {
            "type": "boolean"
        },
        "com.amazonaws.emrcontainers#CancelJobRun": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emrcontainers#CancelJobRunRequest"
            },
            "output": {
                "target": "com.amazonaws.emrcontainers#CancelJobRunResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emrcontainers#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a job run. A job run is a unit of work, such as a Spark jar, PySpark script, or\n         SparkSQL query, that you submit to Amazon EMR on EKS.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/virtualclusters/{virtualClusterId}/jobruns/{id}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.emrcontainers#CancelJobRunRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the job run to cancel.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "virtualClusterId": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the virtual cluster for which the job run will be canceled.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.emrcontainers#CancelJobRunResponse": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The output contains the ID of the cancelled job run.</p>"
                    }
                },
                "virtualClusterId": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.emrcontainers#Certificate": {
            "type": "structure",
            "members": {
                "certificateArn": {
                    "target": "com.amazonaws.emrcontainers#ACMCertArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the certificate generated for managed endpoint.</p>"
                    }
                },
                "certificateData": {
                    "target": "com.amazonaws.emrcontainers#Base64Encoded",
                    "traits": {
                        "smithy.api#documentation": "<p>The base64 encoded PEM certificate data generated for managed endpoint.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The entity representing certificate data generated for managed endpoint.</p>"
            }
        },
        "com.amazonaws.emrcontainers#CertificateProviderType": {
            "type": "enum",
            "members": {
                "PEM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PEM"
                    }
                }
            }
        },
        "com.amazonaws.emrcontainers#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "\\S"
            }
        },
        "com.amazonaws.emrcontainers#CloudWatchMonitoringConfiguration": {
            "type": "structure",
            "members": {
                "logGroupName": {
                    "target": "com.amazonaws.emrcontainers#LogGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the log group for log publishing.</p>",
                        "smithy.api#required": {}
                    }
                },
                "logStreamNamePrefix": {
                    "target": "com.amazonaws.emrcontainers#String256",
                    "traits": {
                        "smithy.api#documentation": "<p>The specified name prefix for log streams.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A configuration for CloudWatch monitoring. You can configure your jobs to send log\n         information to CloudWatch Logs.</p>"
            }
        },
        "com.amazonaws.emrcontainers#ClusterId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                },
                "smithy.api#pattern": "^[0-9A-Za-z][A-Za-z0-9\\-_]*$"
            }
        },
        "com.amazonaws.emrcontainers#Configuration": {
            "type": "structure",
            "members": {
                "classification": {
                    "target": "com.amazonaws.emrcontainers#String1024",
                    "traits": {
                        "smithy.api#documentation": "<p>The classification within a configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "properties": {
                    "target": "com.amazonaws.emrcontainers#SensitivePropertiesMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A set of properties specified within a configuration classification.</p>"
                    }
                },
                "configurations": {
                    "target": "com.amazonaws.emrcontainers#ConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of additional configurations to apply within a configuration object.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A configuration specification to be used when provisioning virtual clusters, which can\n         include configurations for applications and software bundled with Amazon EMR on EKS. A\n         configuration consists of a classification, properties, and optional nested configurations.\n         A classification refers to an application-specific configuration file. Properties are the\n         settings you want to change in that file.</p>"
            }
        },
        "com.amazonaws.emrcontainers#ConfigurationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.emrcontainers#Configuration"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 100
                }
            }
        },
        "com.amazonaws.emrcontainers#ConfigurationOverrides": {
            "type": "structure",
            "members": {
                "applicationConfiguration": {
                    "target": "com.amazonaws.emrcontainers#ConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>The configurations for the application running by the job run. </p>"
                    }
                },
                "monitoringConfiguration": {
                    "target": "com.amazonaws.emrcontainers#MonitoringConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configurations for monitoring.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A configuration specification to be used to override existing configurations.</p>"
            }
        },
        "com.amazonaws.emrcontainers#ContainerInfo": {
            "type": "union",
            "members": {
                "eksInfo": {
                    "target": "com.amazonaws.emrcontainers#EksInfo",
                    "traits": {
                        "smithy.api#documentation": "<p>The information about the Amazon EKS cluster.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The information about the container used for a job run or a managed endpoint.</p>"
            }
        },
        "com.amazonaws.emrcontainers#ContainerLogRotationConfiguration": {
            "type": "structure",
            "members": {
                "rotationSize": {
                    "target": "com.amazonaws.emrcontainers#RotationSize",
                    "traits": {
                        "smithy.api#documentation": "<p>The file size at which to rotate logs. Minimum of 2KB, Maximum of 2GB.</p>",
                        "smithy.api#required": {}
                    }
                },
                "maxFilesToKeep": {
                    "target": "com.amazonaws.emrcontainers#MaxFilesToKeep",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of files to keep in container after rotation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The settings for container log rotation.</p>"
            }
        },
        "com.amazonaws.emrcontainers#ContainerProvider": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.emrcontainers#ContainerProviderType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the container provider. Amazon EKS is the only supported type as of\n         now.</p>",
                        "smithy.api#required": {}
                    }
                },
                "id": {
                    "target": "com.amazonaws.emrcontainers#ClusterId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the container cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "info": {
                    "target": "com.amazonaws.emrcontainers#ContainerInfo",
                    "traits": {
                        "smithy.api#documentation": "<p>The information about the container cluster.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The information about the container provider.</p>"
            }
        },
        "com.amazonaws.emrcontainers#ContainerProviderType": {
            "type": "enum",
            "members": {
                "EKS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EKS"
                    }
                }
            }
        },
        "com.amazonaws.emrcontainers#CreateJobTemplate": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emrcontainers#CreateJobTemplateRequest"
            },
            "output": {
                "target": "com.amazonaws.emrcontainers#CreateJobTemplateResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emrcontainers#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a job template. Job template stores values of StartJobRun API request in a\n         template and can be used to start a job run. Job template allows two use cases: avoid\n         repeating recurring StartJobRun API request values, enforcing certain values in StartJobRun\n         API request.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/jobtemplates",
                    "code": 200
                }
            }
        },
        "com.amazonaws.emrcontainers#CreateJobTemplateRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.emrcontainers#ResourceNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>The specified name of the job template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.emrcontainers#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The client token of the job template.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "jobTemplateData": {
                    "target": "com.amazonaws.emrcontainers#JobTemplateData",
                    "traits": {
                        "smithy.api#documentation": "<p>The job template data which holds values of StartJobRun API request.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.emrcontainers#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags that are associated with the job template.</p>"
                    }
                },
                "kmsKeyArn": {
                    "target": "com.amazonaws.emrcontainers#KmsKeyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key ARN used to encrypt the job template.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.emrcontainers#CreateJobTemplateResponse": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>This output display the created job template ID.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.emrcontainers#ResourceNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>This output displays the name of the created job template.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.emrcontainers#JobTemplateArn",
                    "traits": {
                        "smithy.api#documentation": "<p>This output display the ARN of the created job template.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.emrcontainers#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>This output displays the date and time when the job template was created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.emrcontainers#CreateManagedEndpoint": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emrcontainers#CreateManagedEndpointRequest"
            },
            "output": {
                "target": "com.amazonaws.emrcontainers#CreateManagedEndpointResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emrcontainers#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a managed endpoint. A managed endpoint is a gateway that connects Amazon EMR Studio to Amazon EMR on EKS so that Amazon EMR Studio can\n         communicate with your virtual cluster.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/virtualclusters/{virtualClusterId}/endpoints",
                    "code": 200
                }
            }
        },
        "com.amazonaws.emrcontainers#CreateManagedEndpointRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.emrcontainers#ResourceNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the managed endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "virtualClusterId": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the virtual cluster for which a managed endpoint is created.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.emrcontainers#EndpointType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the managed endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "releaseLabel": {
                    "target": "com.amazonaws.emrcontainers#ReleaseLabel",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon EMR release version.</p>",
                        "smithy.api#required": {}
                    }
                },
                "executionRoleArn": {
                    "target": "com.amazonaws.emrcontainers#IAMRoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the execution role.</p>",
                        "smithy.api#required": {}
                    }
                },
                "certificateArn": {
                    "target": "com.amazonaws.emrcontainers#ACMCertArn",
                    "traits": {
                        "smithy.api#deprecated": {
                            "message": "Customer provided certificate-arn is deprecated and would be removed in future."
                        },
                        "smithy.api#documentation": "<p>The certificate ARN provided by users for the managed endpoint. This field is under\n         deprecation and will be removed in future releases.</p>"
                    }
                },
                "configurationOverrides": {
                    "target": "com.amazonaws.emrcontainers#ConfigurationOverrides",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration settings that will be used to override existing configurations.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.emrcontainers#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The client idempotency token for this create call.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.emrcontainers#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags of the managed endpoint. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.emrcontainers#CreateManagedEndpointResponse": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The output contains the ID of the managed endpoint.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.emrcontainers#ResourceNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>The output contains the name of the managed endpoint.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.emrcontainers#EndpointArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The output contains the ARN of the managed endpoint.</p>"
                    }
                },
                "virtualClusterId": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The output contains the ID of the virtual cluster.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.emrcontainers#CreateSecurityConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emrcontainers#CreateSecurityConfigurationRequest"
            },
            "output": {
                "target": "com.amazonaws.emrcontainers#CreateSecurityConfigurationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emrcontainers#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a security configuration. Security configurations in Amazon EMR on EKS are\n         templates for different security setups. You can use security configurations to configure\n         the Lake Formation integration setup. You can also create a security configuration\n         to re-use a security setup each time you create a virtual cluster.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/securityconfigurations",
                    "code": 200
                }
            }
        },
        "com.amazonaws.emrcontainers#CreateSecurityConfigurationRequest": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.emrcontainers#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The client idempotency token to use when creating the security configuration.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.emrcontainers#ResourceNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the security configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "securityConfigurationData": {
                    "target": "com.amazonaws.emrcontainers#SecurityConfigurationData",
                    "traits": {
                        "smithy.api#documentation": "<p>Security configuration input for the request.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.emrcontainers#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to add to the security configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.emrcontainers#CreateSecurityConfigurationResponse": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the security configuration.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.emrcontainers#ResourceNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the security configuration.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.emrcontainers#SecurityConfigurationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the security configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.emrcontainers#CreateVirtualCluster": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emrcontainers#CreateVirtualClusterRequest"
            },
            "output": {
                "target": "com.amazonaws.emrcontainers#CreateVirtualClusterResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emrcontainers#EKSRequestThrottledException"
                },
                {
                    "target": "com.amazonaws.emrcontainers#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a virtual cluster. Virtual cluster is a managed entity on Amazon EMR on EKS. You can create, describe, list and delete virtual clusters. They do not consume any\n         additional resource in your system. A single virtual cluster maps to a single Kubernetes\n         namespace. Given this relationship, you can model virtual clusters the same way you model\n         Kubernetes namespaces to meet your requirements.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/virtualclusters",
                    "code": 200
                }
            }
        },
        "com.amazonaws.emrcontainers#CreateVirtualClusterRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.emrcontainers#ResourceNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>The specified name of the virtual cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "containerProvider": {
                    "target": "com.amazonaws.emrcontainers#ContainerProvider",
                    "traits": {
                        "smithy.api#documentation": "<p>The container provider of the virtual cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.emrcontainers#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The client token of the virtual cluster.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.emrcontainers#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags assigned to the virtual cluster.</p>"
                    }
                },
                "securityConfigurationId": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the security configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.emrcontainers#CreateVirtualClusterResponse": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>This output contains the virtual cluster ID.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.emrcontainers#ResourceNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>This output contains the name of the virtual cluster.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.emrcontainers#VirtualClusterArn",
                    "traits": {
                        "smithy.api#documentation": "<p>This output contains the ARN of virtual cluster.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.emrcontainers#CredentialType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^.*\\S.*$"
            }
        },
        "com.amazonaws.emrcontainers#Credentials": {
            "type": "union",
            "members": {
                "token": {
                    "target": "com.amazonaws.emrcontainers#Token",
                    "traits": {
                        "smithy.api#documentation": "<p>The actual session token being returned.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The structure containing the session token being returned.</p>"
            }
        },
        "com.amazonaws.emrcontainers#Date": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "date-time"
            }
        },
        "com.amazonaws.emrcontainers#DeleteJobTemplate": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emrcontainers#DeleteJobTemplateRequest"
            },
            "output": {
                "target": "com.amazonaws.emrcontainers#DeleteJobTemplateResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emrcontainers#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a job template. Job template stores values of StartJobRun API request in a\n         template and can be used to start a job run. Job template allows two use cases: avoid\n         repeating recurring StartJobRun API request values, enforcing certain values in StartJobRun\n         API request.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/jobtemplates/{id}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.emrcontainers#DeleteJobTemplateRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the job template that will be deleted.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.emrcontainers#DeleteJobTemplateResponse": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>This output contains the ID of the job template that was deleted.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.emrcontainers#DeleteManagedEndpoint": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emrcontainers#DeleteManagedEndpointRequest"
            },
            "output": {
                "target": "com.amazonaws.emrcontainers#DeleteManagedEndpointResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emrcontainers#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a managed endpoint. A managed endpoint is a gateway that connects Amazon EMR Studio to Amazon EMR on EKS so that Amazon EMR Studio can\n         communicate with your virtual cluster.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/virtualclusters/{virtualClusterId}/endpoints/{id}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.emrcontainers#DeleteManagedEndpointRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the managed endpoint.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "virtualClusterId": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the endpoint's virtual cluster.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.emrcontainers#DeleteManagedEndpointResponse": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The output displays the ID of the managed endpoint.</p>"
                    }
                },
                "virtualClusterId": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The output displays the ID of the endpoint's virtual cluster.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.emrcontainers#DeleteVirtualCluster": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emrcontainers#DeleteVirtualClusterRequest"
            },
            "output": {
                "target": "com.amazonaws.emrcontainers#DeleteVirtualClusterResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emrcontainers#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emrcontainers#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a virtual cluster. Virtual cluster is a managed entity on Amazon EMR on EKS. You can create, describe, list and delete virtual clusters. They do not consume any\n         additional resource in your system. A single virtual cluster maps to a single Kubernetes\n         namespace. Given this relationship, you can model virtual clusters the same way you model\n         Kubernetes namespaces to meet your requirements.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/virtualclusters/{id}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.emrcontainers#DeleteVirtualClusterRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the virtual cluster that will be deleted.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.emrcontainers#DeleteVirtualClusterResponse": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.emrcontainers#ResourceIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>This output contains the ID of the virtual cluster that will be deleted. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.emrcontainers#DescribeJobRun": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emrcontainers#DescribeJobRunRequest"
            },
            "output": {
                "target": "com.amazonaws.emrcontainers#DescribeJobRunResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emrcontainers#InternalServerException"
[...]
