{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.emr#ActionOnFailure": {
            "type": "enum",
            "members": {
                "TERMINATE_JOB_FLOW": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TERMINATE_JOB_FLOW"
                    }
                },
                "TERMINATE_CLUSTER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TERMINATE_CLUSTER"
                    }
                },
                "CANCEL_AND_WAIT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CANCEL_AND_WAIT"
                    }
                },
                "CONTINUE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONTINUE"
                    }
                }
            }
        },
        "com.amazonaws.emr#AddInstanceFleet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emr#AddInstanceFleetInput"
            },
            "output": {
                "target": "com.amazonaws.emr#AddInstanceFleetOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emr#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emr#InvalidRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds an instance fleet to a running cluster.</p>\n         <note>\n            <p>The instance fleet configuration is available only in Amazon EMR versions\n            4.8.0 and later, excluding 5.0.x.</p>\n         </note>"
            }
        },
        "com.amazonaws.emr#AddInstanceFleetInput": {
            "type": "structure",
            "members": {
                "ClusterId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "InstanceFleet": {
                    "target": "com.amazonaws.emr#InstanceFleetConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the configuration of the instance fleet.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.emr#AddInstanceFleetOutput": {
            "type": "structure",
            "members": {
                "ClusterId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the cluster.</p>"
                    }
                },
                "InstanceFleetId": {
                    "target": "com.amazonaws.emr#InstanceFleetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the instance fleet.</p>"
                    }
                },
                "ClusterArn": {
                    "target": "com.amazonaws.emr#ArnType",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name of the cluster.</p>"
                    }
                }
            }
        },
        "com.amazonaws.emr#AddInstanceGroups": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emr#AddInstanceGroupsInput"
            },
            "output": {
                "target": "com.amazonaws.emr#AddInstanceGroupsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emr#InternalServerError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds one or more instance groups to a running cluster.</p>"
            }
        },
        "com.amazonaws.emr#AddInstanceGroupsInput": {
            "type": "structure",
            "members": {
                "InstanceGroups": {
                    "target": "com.amazonaws.emr#InstanceGroupConfigList",
                    "traits": {
                        "smithy.api#documentation": "<p>Instance groups to add.</p>",
                        "smithy.api#required": {}
                    }
                },
                "JobFlowId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>Job flow in which to add the instance groups.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Input to an AddInstanceGroups call.</p>"
            }
        },
        "com.amazonaws.emr#AddInstanceGroupsOutput": {
            "type": "structure",
            "members": {
                "JobFlowId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The job flow ID in which the instance groups are added.</p>"
                    }
                },
                "InstanceGroupIds": {
                    "target": "com.amazonaws.emr#InstanceGroupIdsList",
                    "traits": {
                        "smithy.api#documentation": "<p>Instance group IDs of the newly created instance groups.</p>"
                    }
                },
                "ClusterArn": {
                    "target": "com.amazonaws.emr#ArnType",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name of the cluster.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Output from an AddInstanceGroups call.</p>"
            }
        },
        "com.amazonaws.emr#AddJobFlowSteps": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emr#AddJobFlowStepsInput"
            },
            "output": {
                "target": "com.amazonaws.emr#AddJobFlowStepsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emr#InternalServerError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>AddJobFlowSteps adds new steps to a running cluster. A maximum of 256 steps are allowed\n         in each job flow.</p>\n         <p>If your cluster is long-running (such as a Hive data warehouse) or complex, you may\n         require more than 256 steps to process your data. You can bypass the 256-step limitation in\n         various ways, including using SSH to connect to the master node and submitting queries\n         directly to the software running on the master node, such as Hive and Hadoop.</p>\n         <p>A step specifies the location of a JAR file stored either on the master node of the\n         cluster or in Amazon S3. Each step is performed by the main function of the main\n         class of the JAR file. The main class can be specified either in the manifest of the JAR or\n         by using the MainFunction parameter of the step.</p>\n         <p>Amazon EMR executes each step in the order listed. For a step to be considered\n         complete, the main function must exit with a zero exit code and all Hadoop jobs started\n         while the step was running must have completed and run successfully.</p>\n         <p>You can only add steps to a cluster that is in one of the following states: STARTING,\n         BOOTSTRAPPING, RUNNING, or WAITING.</p>\n         <note>\n            <p>The string values passed into <code>HadoopJarStep</code> object cannot exceed a total\n            of 10240 characters.</p>\n         </note>"
            }
        },
        "com.amazonaws.emr#AddJobFlowStepsInput": {
            "type": "structure",
            "members": {
                "JobFlowId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>.\n      </p>",
                        "smithy.api#required": {}
                    }
                },
                "Steps": {
                    "target": "com.amazonaws.emr#StepConfigList",
                    "traits": {
                        "smithy.api#documentation": "<p> A list of <a>StepConfig</a> to be executed by the job flow. </p>",
                        "smithy.api#required": {}
                    }
                },
                "ExecutionRoleArn": {
                    "target": "com.amazonaws.emr#ArnType",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the runtime role for a step on the cluster. The\n         runtime role can be a cross-account IAM role. The runtime role ARN is a combination of\n         account ID, role name, and role type using the following format:\n            <code>arn:partition:service:region:account:resource</code>. </p>\n         <p>For example, <code>arn:aws:iam::1234567890:role/ReadOnly</code> is a correctly formatted\n         runtime role ARN.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The input argument to the <a>AddJobFlowSteps</a> operation. </p>"
            }
        },
        "com.amazonaws.emr#AddJobFlowStepsOutput": {
            "type": "structure",
            "members": {
                "StepIds": {
                    "target": "com.amazonaws.emr#StepIdsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifiers of the list of steps added to the job flow.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The output for the <a>AddJobFlowSteps</a> operation. </p>"
            }
        },
        "com.amazonaws.emr#AddTags": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emr#AddTagsInput"
            },
            "output": {
                "target": "com.amazonaws.emr#AddTagsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emr#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emr#InvalidRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds tags to an Amazon EMR resource, such as a cluster or an Amazon EMR\n         Studio. Tags make it easier to associate resources in various ways, such as grouping\n         clusters to track your Amazon EMR resource allocation costs. For more information,\n         see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html\">Tag\n            Clusters</a>. </p>"
            }
        },
        "com.amazonaws.emr#AddTagsInput": {
            "type": "structure",
            "members": {
                "ResourceId": {
                    "target": "com.amazonaws.emr#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon EMR resource identifier to which tags will be added. For example, a\n         cluster identifier or an Amazon EMR Studio ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.emr#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of tags to associate with a resource. Tags are user-defined key-value pairs that\n         consist of a required key string with a maximum of 128 characters, and an optional value\n         string with a maximum of 256 characters.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This input identifies an Amazon EMR resource and a list of tags to\n         attach.</p>"
            }
        },
        "com.amazonaws.emr#AddTagsOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>This output indicates the result of adding tags to a resource.</p>"
            }
        },
        "com.amazonaws.emr#AdjustmentType": {
            "type": "enum",
            "members": {
                "CHANGE_IN_CAPACITY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CHANGE_IN_CAPACITY"
                    }
                },
                "PERCENT_CHANGE_IN_CAPACITY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PERCENT_CHANGE_IN_CAPACITY"
                    }
                },
                "EXACT_CAPACITY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EXACT_CAPACITY"
                    }
                }
            }
        },
        "com.amazonaws.emr#Application": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the application.</p>"
                    }
                },
                "Version": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the application.</p>"
                    }
                },
                "Args": {
                    "target": "com.amazonaws.emr#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>Arguments for Amazon EMR to pass to the application.</p>"
                    }
                },
                "AdditionalInfo": {
                    "target": "com.amazonaws.emr#StringMap",
                    "traits": {
                        "smithy.api#documentation": "<p>This option is for advanced users only. This is meta information about third-party\n         applications that third-party vendors use for testing purposes.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>With Amazon EMR release version 4.0 and later, the only accepted parameter is\n         the application name. To pass arguments to applications, you use configuration\n         classifications specified using configuration JSON objects. For more information, see\n            <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-configure-apps.html\">Configuring Applications</a>.</p>\n         <p>With earlier Amazon EMR releases, the application is any Amazon or third-party\n         software that you can add to the cluster. This structure contains a list of strings that\n         indicates the software to use with the cluster and accepts a user argument list. Amazon EMR accepts and forwards the argument list to the corresponding installation\n         script as bootstrap action argument.</p>"
            }
        },
        "com.amazonaws.emr#ApplicationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.emr#Application"
            }
        },
        "com.amazonaws.emr#ArnType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.emr#AuthMode": {
            "type": "enum",
            "members": {
                "SSO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SSO"
                    }
                },
                "IAM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IAM"
                    }
                }
            }
        },
        "com.amazonaws.emr#AutoScalingPolicy": {
            "type": "structure",
            "members": {
                "Constraints": {
                    "target": "com.amazonaws.emr#ScalingConstraints",
                    "traits": {
                        "smithy.api#documentation": "<p>The upper and lower EC2 instance limits for an automatic scaling policy. Automatic\n         scaling activity will not cause an instance group to grow above or below these\n         limits.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Rules": {
                    "target": "com.amazonaws.emr#ScalingRuleList",
                    "traits": {
                        "smithy.api#documentation": "<p>The scale-in and scale-out rules that comprise the automatic scaling policy.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An automatic scaling policy for a core instance group or task instance group in an\n            Amazon EMR cluster. An automatic scaling policy defines how an instance group\n         dynamically adds and terminates EC2 instances in response to the value of a CloudWatch\n         metric. See <a>PutAutoScalingPolicy</a>.</p>"
            }
        },
        "com.amazonaws.emr#AutoScalingPolicyDescription": {
            "type": "structure",
            "members": {
                "Status": {
                    "target": "com.amazonaws.emr#AutoScalingPolicyStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of an automatic scaling policy. </p>"
                    }
                },
                "Constraints": {
                    "target": "com.amazonaws.emr#ScalingConstraints",
                    "traits": {
                        "smithy.api#documentation": "<p>The upper and lower EC2 instance limits for an automatic scaling policy. Automatic\n         scaling activity will not cause an instance group to grow above or below these\n         limits.</p>"
                    }
                },
                "Rules": {
                    "target": "com.amazonaws.emr#ScalingRuleList",
                    "traits": {
                        "smithy.api#documentation": "<p>The scale-in and scale-out rules that comprise the automatic scaling policy.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An automatic scaling policy for a core instance group or task instance group in an\n            Amazon EMR cluster. The automatic scaling policy defines how an instance group\n         dynamically adds and terminates EC2 instances in response to the value of a CloudWatch\n         metric. See <a>PutAutoScalingPolicy</a>.</p>"
            }
        },
        "com.amazonaws.emr#AutoScalingPolicyState": {
            "type": "enum",
            "members": {
                "PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING"
                    }
                },
                "ATTACHING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ATTACHING"
                    }
                },
                "ATTACHED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ATTACHED"
                    }
                },
                "DETACHING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DETACHING"
                    }
                },
                "DETACHED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DETACHED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.emr#AutoScalingPolicyStateChangeReason": {
            "type": "structure",
            "members": {
                "Code": {
                    "target": "com.amazonaws.emr#AutoScalingPolicyStateChangeReasonCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The code indicating the reason for the change in status.<code>USER_REQUEST</code>\n         indicates that the scaling policy status was changed by a user.\n            <code>PROVISION_FAILURE</code> indicates that the status change was because the policy\n         failed to provision. <code>CLEANUP_FAILURE</code> indicates an error.</p>"
                    }
                },
                "Message": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A friendly, more verbose message that accompanies an automatic scaling policy state\n         change.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The reason for an <a>AutoScalingPolicyStatus</a> change.</p>"
            }
        },
        "com.amazonaws.emr#AutoScalingPolicyStateChangeReasonCode": {
            "type": "enum",
            "members": {
                "USER_REQUEST": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "USER_REQUEST"
                    }
                },
                "PROVISION_FAILURE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PROVISION_FAILURE"
                    }
                },
                "CLEANUP_FAILURE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CLEANUP_FAILURE"
                    }
                }
            }
        },
        "com.amazonaws.emr#AutoScalingPolicyStatus": {
            "type": "structure",
            "members": {
                "State": {
                    "target": "com.amazonaws.emr#AutoScalingPolicyState",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates the status of the automatic scaling policy.</p>"
                    }
                },
                "StateChangeReason": {
                    "target": "com.amazonaws.emr#AutoScalingPolicyStateChangeReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for a change in status.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The status of an automatic scaling policy.\n         </p>"
            }
        },
        "com.amazonaws.emr#AutoTerminationPolicy": {
            "type": "structure",
            "members": {
                "IdleTimeout": {
                    "target": "com.amazonaws.emr#Long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Specifies the amount of idle time in seconds after which the cluster automatically\n         terminates. You can specify a minimum of 60 seconds and a maximum of 604800 seconds (seven\n         days).</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An auto-termination policy for an Amazon EMR cluster. An auto-termination policy\n         defines the amount of idle time in seconds after which a cluster automatically terminates.\n         For alternative cluster termination options, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-termination.html\">Control cluster\n            termination</a>.</p>"
            }
        },
        "com.amazonaws.emr#BlockPublicAccessConfiguration": {
            "type": "structure",
            "members": {
                "BlockPublicSecurityGroupRules": {
                    "target": "com.amazonaws.emr#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Indicates whether Amazon EMR block public access is enabled (<code>true</code>)\n         or disabled (<code>false</code>). By default, the value is <code>false</code> for accounts\n         that have created EMR clusters before July 2019. For accounts created after this, the\n         default is <code>true</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PermittedPublicSecurityGroupRuleRanges": {
                    "target": "com.amazonaws.emr#PortRanges",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies ports and port ranges that are permitted to have security group rules that\n         allow inbound traffic from all public sources. For example, if Port 23 (Telnet) is\n         specified for <code>PermittedPublicSecurityGroupRuleRanges</code>, Amazon EMR\n         allows cluster creation if a security group associated with the cluster has a rule that\n         allows inbound traffic on Port 23 from IPv4 0.0.0.0/0 or IPv6 port ::/0 as the\n         source.</p>\n         <p>By default, Port 22, which is used for SSH access to the cluster EC2 instances, is in\n         the list of <code>PermittedPublicSecurityGroupRuleRanges</code>.</p>"
                    }
                },
                "Classification": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The classification within a configuration.</p>"
                    }
                },
                "Configurations": {
                    "target": "com.amazonaws.emr#ConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of additional configurations to apply within a configuration object.</p>"
                    }
                },
                "Properties": {
                    "target": "com.amazonaws.emr#StringMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A set of properties specified within a configuration classification.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A configuration for Amazon EMR block public access. When\n            <code>BlockPublicSecurityGroupRules</code> is set to <code>true</code>, Amazon EMR prevents cluster creation if one of the cluster's security groups has a rule that allows\n         inbound traffic from 0.0.0.0/0 or ::/0 on a port, unless the port is specified as an\n         exception using <code>PermittedPublicSecurityGroupRuleRanges</code>.</p>"
            }
        },
        "com.amazonaws.emr#BlockPublicAccessConfigurationMetadata": {
            "type": "structure",
            "members": {
                "CreationDateTime": {
                    "target": "com.amazonaws.emr#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the configuration was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "CreatedByArn": {
                    "target": "com.amazonaws.emr#ArnType",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name that created or last modified the configuration.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Properties that describe the Amazon Web Services principal that created the\n            <code>BlockPublicAccessConfiguration</code> using the\n            <code>PutBlockPublicAccessConfiguration</code> action as well as the date and time that\n         the configuration was created. Each time a configuration for block public access is\n         updated, Amazon EMR updates this metadata.</p>"
            }
        },
        "com.amazonaws.emr#Boolean": {
            "type": "boolean",
            "traits": {
                "smithy.api#default": false
            }
        },
        "com.amazonaws.emr#BooleanObject": {
            "type": "boolean"
        },
        "com.amazonaws.emr#BootstrapActionConfig": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the bootstrap action.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ScriptBootstrapAction": {
                    "target": "com.amazonaws.emr#ScriptBootstrapActionConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The script run by the bootstrap action.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration of a bootstrap action.</p>"
            }
        },
        "com.amazonaws.emr#BootstrapActionConfigList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.emr#BootstrapActionConfig"
            }
        },
        "com.amazonaws.emr#BootstrapActionDetail": {
            "type": "structure",
            "members": {
                "BootstrapActionConfig": {
                    "target": "com.amazonaws.emr#BootstrapActionConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the bootstrap action.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Reports the configuration of a bootstrap action in a cluster (job flow).</p>"
            }
        },
        "com.amazonaws.emr#BootstrapActionDetailList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.emr#BootstrapActionDetail"
            }
        },
        "com.amazonaws.emr#CancelSteps": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emr#CancelStepsInput"
            },
            "output": {
                "target": "com.amazonaws.emr#CancelStepsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emr#InternalServerError"
                },
                {
                    "target": "com.amazonaws.emr#InvalidRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a pending step or steps in a running cluster. Available only in Amazon EMR versions 4.8.0 and later, excluding version 5.0.0. A maximum of 256 steps are allowed in\n         each CancelSteps request. CancelSteps is idempotent but asynchronous; it does not guarantee\n         that a step will be canceled, even if the request is successfully submitted. When you use\n            Amazon EMR versions 5.28.0 and later, you can cancel steps that are in a\n            <code>PENDING</code> or <code>RUNNING</code> state. In earlier versions of Amazon EMR, you can only cancel steps that are in a <code>PENDING</code> state. </p>"
            }
        },
        "com.amazonaws.emr#CancelStepsInfo": {
            "type": "structure",
            "members": {
                "StepId": {
                    "target": "com.amazonaws.emr#StepId",
                    "traits": {
                        "smithy.api#documentation": "<p>The encrypted StepId of a step.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.emr#CancelStepsRequestStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of a CancelSteps Request. The value may be SUBMITTED or FAILED.</p>"
                    }
                },
                "Reason": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the failure if the CancelSteps request fails.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specification of the status of a CancelSteps request. Available only in Amazon EMR version 4.8.0 and later, excluding version 5.0.0.</p>"
            }
        },
        "com.amazonaws.emr#CancelStepsInfoList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.emr#CancelStepsInfo"
            }
        },
        "com.amazonaws.emr#CancelStepsInput": {
            "type": "structure",
            "members": {
                "ClusterId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>ClusterID</code> for the specified steps that will be canceled. Use <a>RunJobFlow</a> and <a>ListClusters</a> to get ClusterIDs. </p>",
                        "smithy.api#required": {}
                    }
                },
                "StepIds": {
                    "target": "com.amazonaws.emr#StepIdsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of <code>StepIDs</code> to cancel. Use <a>ListSteps</a> to get steps\n         and their states for the specified cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StepCancellationOption": {
                    "target": "com.amazonaws.emr#StepCancellationOption",
                    "traits": {
                        "smithy.api#documentation": "<p>The option to choose to cancel <code>RUNNING</code> steps. By default, the value is\n            <code>SEND_INTERRUPT</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The input argument to the <a>CancelSteps</a> operation.</p>"
            }
        },
        "com.amazonaws.emr#CancelStepsOutput": {
            "type": "structure",
            "members": {
                "CancelStepsInfoList": {
                    "target": "com.amazonaws.emr#CancelStepsInfoList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <a>CancelStepsInfo</a>, which shows the status of specified cancel\n         requests for each <code>StepID</code> specified.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The output for the <a>CancelSteps</a> operation. </p>"
            }
        },
        "com.amazonaws.emr#CancelStepsRequestStatus": {
            "type": "enum",
            "members": {
                "SUBMITTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUBMITTED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.emr#CloudWatchAlarmDefinition": {
            "type": "structure",
            "members": {
                "ComparisonOperator": {
                    "target": "com.amazonaws.emr#ComparisonOperator",
                    "traits": {
                        "smithy.api#documentation": "<p>Determines how the metric specified by <code>MetricName</code> is compared to the value\n         specified by <code>Threshold</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EvaluationPeriods": {
                    "target": "com.amazonaws.emr#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of periods, in five-minute increments, during which the alarm condition must\n         exist before the alarm triggers automatic scaling activity. The default value is\n            <code>1</code>.</p>"
                    }
                },
                "MetricName": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the CloudWatch metric that is watched to determine an alarm\n         condition.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Namespace": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The namespace for the CloudWatch metric. The default is\n            <code>AWS/ElasticMapReduce</code>.</p>"
                    }
                },
                "Period": {
                    "target": "com.amazonaws.emr#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The period, in seconds, over which the statistic is applied. EMR CloudWatch metrics are\n         emitted every five minutes (300 seconds), so if an EMR CloudWatch metric is specified,\n         specify <code>300</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Statistic": {
                    "target": "com.amazonaws.emr#Statistic",
                    "traits": {
                        "smithy.api#documentation": "<p>The statistic to apply to the metric associated with the alarm. The default is\n            <code>AVERAGE</code>.</p>"
                    }
                },
                "Threshold": {
                    "target": "com.amazonaws.emr#NonNegativeDouble",
                    "traits": {
                        "smithy.api#documentation": "<p>The value against which the specified statistic is compared.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Unit": {
                    "target": "com.amazonaws.emr#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>The unit of measure associated with the CloudWatch metric being watched. The value\n         specified for <code>Unit</code> must correspond to the units specified in the CloudWatch\n         metric.</p>"
                    }
                },
                "Dimensions": {
                    "target": "com.amazonaws.emr#MetricDimensionList",
                    "traits": {
                        "smithy.api#documentation": "<p>A CloudWatch metric dimension.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The definition of a CloudWatch metric alarm, which determines when an automatic scaling\n         activity is triggered. When the defined alarm conditions are satisfied, scaling activity\n         begins.</p>"
            }
        },
        "com.amazonaws.emr#Cluster": {
            "type": "structure",
            "members": {
                "Id": {
                    "target": "com.amazonaws.emr#ClusterId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the cluster.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the cluster.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.emr#ClusterStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status details about the cluster.</p>"
                    }
                },
                "Ec2InstanceAttributes": {
                    "target": "com.amazonaws.emr#Ec2InstanceAttributes",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides information about the EC2 instances in a cluster grouped by category. For\n         example, key name, subnet ID, IAM instance profile, and so on.</p>"
                    }
                },
                "InstanceCollectionType": {
                    "target": "com.amazonaws.emr#InstanceCollectionType",
                    "traits": {
                        "smithy.api#documentation": "<note>\n            <p>The instance fleet configuration is available only in Amazon EMR versions\n            4.8.0 and later, excluding 5.0.x versions.</p>\n         </note>\n         <p>The instance group configuration of the cluster. A value of <code>INSTANCE_GROUP</code>\n         indicates a uniform instance group configuration. A value of <code>INSTANCE_FLEET</code>\n         indicates an instance fleets configuration.</p>"
                    }
                },
                "LogUri": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The path to the Amazon S3 location where logs for this cluster are\n         stored.</p>"
                    }
                },
                "LogEncryptionKmsKeyId": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The KMS key used for encrypting log files. This attribute is only\n         available with EMR version 5.30.0 and later, excluding EMR 6.0.0. </p>"
                    }
                },
                "RequestedAmiVersion": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The AMI version requested for this cluster.</p>"
                    }
                },
                "RunningAmiVersion": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The AMI version running on this cluster.</p>"
                    }
                },
                "ReleaseLabel": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon EMR release label, which determines the version of open-source\n         application packages installed on the cluster. Release labels are in the form\n            <code>emr-x.x.x</code>, where x.x.x is an Amazon EMR release version such as\n            <code>emr-5.14.0</code>. For more information about Amazon EMR release versions\n         and included application versions and features, see <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/\">https://docs.aws.amazon.com/emr/latest/ReleaseGuide/</a>. The release label applies only to Amazon EMR\n         releases version 4.0 and later. Earlier versions use <code>AmiVersion</code>.</p>"
                    }
                },
                "AutoTerminate": {
                    "target": "com.amazonaws.emr#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Specifies whether the cluster should terminate after completing all steps.</p>"
                    }
                },
                "TerminationProtected": {
                    "target": "com.amazonaws.emr#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Indicates whether Amazon EMR will lock the cluster to prevent the EC2 instances\n         from being terminated by an API call or user intervention, or in the event of a cluster\n         error.</p>"
                    }
                },
                "VisibleToAllUsers": {
                    "target": "com.amazonaws.emr#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Indicates whether the cluster is visible to IAM principals in the Amazon Web Services account associated with the cluster. When <code>true</code>, IAM principals\n         in the Amazon Web Services account can perform EMR cluster actions on the cluster that their\n         IAM policies allow. When <code>false</code>, only the IAM principal that created the\n         cluster and the Amazon Web Services account root user can perform EMR actions, regardless of\n         IAM permissions policies attached to other IAM principals.</p>\n         <p>The default value is <code>true</code> if a value is not provided when creating a\n         cluster using the EMR API <a>RunJobFlow</a> command, the CLI\n         <a href=\"https://docs.aws.amazon.com/cli/latest/reference/emr/create-cluster.html\">create-cluster</a> command, or the Amazon Web Services Management Console.</p>"
                    }
                },
                "Applications": {
                    "target": "com.amazonaws.emr#ApplicationList",
                    "traits": {
                        "smithy.api#documentation": "<p>The applications installed on this cluster.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.emr#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of tags associated with a cluster.</p>"
                    }
                },
                "ServiceRole": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The IAM role that Amazon EMR assumes in order to access Amazon Web Services\n         resources on your behalf.</p>"
                    }
                },
                "NormalizedInstanceHours": {
                    "target": "com.amazonaws.emr#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>An approximation of the cost of the cluster, represented in m1.small/hours. This value\n         is incremented one time for every hour an m1.small instance runs. Larger instances are\n         weighted more, so an EC2 instance that is roughly four times more expensive would result in\n         the normalized instance hours being incremented by four. This result is only an\n         approximation and does not reflect the actual billing rate.</p>"
                    }
                },
                "MasterPublicDnsName": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The DNS name of the master node. If the cluster is on a private subnet, this is the\n         private DNS name. On a public subnet, this is the public DNS name.</p>"
                    }
                },
                "Configurations": {
                    "target": "com.amazonaws.emr#ConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>Applies only to Amazon EMR releases 4.x and later. The list of Configurations\n         supplied to the EMR cluster.</p>"
                    }
                },
                "SecurityConfiguration": {
                    "target": "com.amazonaws.emr#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the security configuration applied to the cluster.</p>"
                    }
                },
                "AutoScalingRole": {
                    "target": "com.amazonaws.emr#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>An IAM role for automatic scaling policies. The default role is\n            <code>EMR_AutoScaling_DefaultRole</code>. The IAM role provides permissions that the\n         automatic scaling feature requires to launch and terminate EC2 instances in an instance\n         group.</p>"
                    }
                },
                "ScaleDownBehavior": {
                    "target": "com.amazonaws.emr#ScaleDownBehavior",
                    "traits": {
                        "smithy.api#documentation": "<p>The way that individual Amazon EC2 instances terminate when an automatic\n         scale-in activity occurs or an instance group is resized.\n            <code>TERMINATE_AT_INSTANCE_HOUR</code> indicates that Amazon EMR terminates\n         nodes at the instance-hour boundary, regardless of when the request to terminate the\n         instance was submitted. This option is only available with Amazon EMR 5.1.0 and\n         later and is the default for clusters created using that version.\n            <code>TERMINATE_AT_TASK_COMPLETION</code> indicates that Amazon EMR adds nodes\n         to a deny list and drains tasks from nodes before terminating the Amazon EC2\n         instances, regardless of the instance-hour boundary. With either behavior, Amazon EMR removes the least active nodes first and blocks instance termination if it could lead to\n         HDFS corruption. <code>TERMINATE_AT_TASK_COMPLETION</code> is available only in Amazon EMR version 4.1.0 and later, and is the default for versions of Amazon EMR earlier than 5.1.0.</p>"
                    }
                },
                "CustomAmiId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>Available only in Amazon EMR version 5.7.0 and later. The ID of a custom Amazon\n         EBS-backed Linux AMI if the cluster uses a custom AMI.</p>"
                    }
                },
                "EbsRootVolumeSize": {
                    "target": "com.amazonaws.emr#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The size, in GiB, of the Amazon EBS root device volume of the Linux AMI that is\n         used for each EC2 instance. Available in Amazon EMR version 4.x and later.</p>"
                    }
                },
                "RepoUpgradeOnBoot": {
                    "target": "com.amazonaws.emr#RepoUpgradeOnBoot",
                    "traits": {
                        "smithy.api#documentation": "<p>Applies only when <code>CustomAmiID</code> is used. Specifies the type of updates that\n         are applied from the Amazon Linux AMI package repositories when an instance boots using the\n         AMI.</p>"
                    }
                },
                "KerberosAttributes": {
                    "target": "com.amazonaws.emr#KerberosAttributes",
                    "traits": {
                        "smithy.api#documentation": "<p>Attributes for Kerberos configuration when Kerberos authentication is enabled using a\n         security configuration. For more information see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-kerberos.html\">Use Kerberos Authentication</a>\n         in the <i>Amazon EMR Management Guide</i>.</p>"
                    }
                },
                "ClusterArn": {
                    "target": "com.amazonaws.emr#ArnType",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name of the cluster.</p>"
                    }
                },
                "OutpostArn": {
                    "target": "com.amazonaws.emr#OptionalArnType",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the Outpost where the cluster is launched. </p>"
                    }
                },
                "StepConcurrencyLevel": {
                    "target": "com.amazonaws.emr#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the number of steps that can be executed concurrently.</p>"
                    }
                },
                "PlacementGroups": {
                    "target": "com.amazonaws.emr#PlacementGroupConfigList",
                    "traits": {
                        "smithy.api#documentation": "<p>Placement group configured for an Amazon EMR cluster.</p>"
                    }
                },
                "OSReleaseLabel": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Linux release specified in a cluster launch RunJobFlow request. If no Amazon Linux release was specified, the default Amazon Linux release is shown in the response.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The detailed description of the cluster.</p>"
            }
        },
        "com.amazonaws.emr#ClusterId": {
            "type": "string"
        },
        "com.amazonaws.emr#ClusterState": {
            "type": "enum",
            "members": {
                "STARTING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STARTING"
                    }
                },
                "BOOTSTRAPPING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BOOTSTRAPPING"
                    }
                },
                "RUNNING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RUNNING"
                    }
                },
                "WAITING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "WAITING"
                    }
                },
                "TERMINATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TERMINATING"
                    }
                },
                "TERMINATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TERMINATED"
                    }
                },
                "TERMINATED_WITH_ERRORS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TERMINATED_WITH_ERRORS"
                    }
                }
            }
        },
        "com.amazonaws.emr#ClusterStateChangeReason": {
            "type": "structure",
            "members": {
                "Code": {
                    "target": "com.amazonaws.emr#ClusterStateChangeReasonCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The programmatic code for the state change reason.</p>"
                    }
                },
                "Message": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The descriptive message for the state change reason.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The reason that the cluster changed to its current state.</p>"
            }
        },
        "com.amazonaws.emr#ClusterStateChangeReasonCode": {
            "type": "enum",
            "members": {
                "INTERNAL_ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INTERNAL_ERROR"
                    }
                },
                "VALIDATION_ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VALIDATION_ERROR"
                    }
                },
                "INSTANCE_FAILURE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INSTANCE_FAILURE"
                    }
                },
                "INSTANCE_FLEET_TIMEOUT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INSTANCE_FLEET_TIMEOUT"
                    }
                },
                "BOOTSTRAP_FAILURE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BOOTSTRAP_FAILURE"
                    }
                },
                "USER_REQUEST": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "USER_REQUEST"
                    }
                },
                "STEP_FAILURE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STEP_FAILURE"
                    }
                },
                "ALL_STEPS_COMPLETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALL_STEPS_COMPLETED"
                    }
                }
            }
        },
        "com.amazonaws.emr#ClusterStateList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.emr#ClusterState"
            }
        },
        "com.amazonaws.emr#ClusterStatus": {
            "type": "structure",
            "members": {
                "State": {
                    "target": "com.amazonaws.emr#ClusterState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the cluster.</p>"
                    }
                },
                "StateChangeReason": {
                    "target": "com.amazonaws.emr#ClusterStateChangeReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the cluster status change.</p>"
                    }
                },
                "Timeline": {
                    "target": "com.amazonaws.emr#ClusterTimeline",
                    "traits": {
                        "smithy.api#documentation": "<p>A timeline that represents the status of a cluster over the lifetime of the\n         cluster.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The detailed status of the cluster.</p>"
            }
        },
        "com.amazonaws.emr#ClusterSummary": {
            "type": "structure",
            "members": {
                "Id": {
                    "target": "com.amazonaws.emr#ClusterId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the cluster.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the cluster.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.emr#ClusterStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The details about the current status of the cluster.</p>"
                    }
                },
                "NormalizedInstanceHours": {
                    "target": "com.amazonaws.emr#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>An approximation of the cost of the cluster, represented in m1.small/hours. This value\n         is incremented one time for every hour an m1.small instance runs. Larger instances are\n         weighted more, so an EC2 instance that is roughly four times more expensive would result in\n         the normalized instance hours being incremented by four. This result is only an\n         approximation and does not reflect the actual billing rate.</p>"
                    }
                },
                "ClusterArn": {
                    "target": "com.amazonaws.emr#ArnType",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name of the cluster.</p>"
                    }
                },
                "OutpostArn": {
                    "target": "com.amazonaws.emr#OptionalArnType",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the Outpost where the cluster is launched. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The summary description of the cluster.</p>"
            }
        },
        "com.amazonaws.emr#ClusterSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.emr#ClusterSummary"
            }
        },
        "com.amazonaws.emr#ClusterTimeline": {
            "type": "structure",
            "members": {
                "CreationDateTime": {
                    "target": "com.amazonaws.emr#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>The creation date and time of the cluster.</p>"
                    }
                },
                "ReadyDateTime": {
                    "target": "com.amazonaws.emr#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the cluster was ready to run steps.</p>"
                    }
                },
                "EndDateTime": {
                    "target": "com.amazonaws.emr#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the cluster was terminated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents the timeline of the cluster's lifecycle.</p>"
            }
        },
        "com.amazonaws.emr#Command": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the command.</p>"
                    }
                },
                "ScriptPath": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 location of the command script.</p>"
                    }
                },
                "Args": {
                    "target": "com.amazonaws.emr#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>Arguments for Amazon EMR to pass to the command for execution.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An entity describing an executable that runs on a cluster.</p>"
            }
        },
        "com.amazonaws.emr#CommandList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.emr#Command"
            }
        },
        "com.amazonaws.emr#ComparisonOperator": {
            "type": "enum",
            "members": {
                "GREATER_THAN_OR_EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
                    }
                },
                "GREATER_THAN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GREATER_THAN"
                    }
                },
                "LESS_THAN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LESS_THAN"
                    }
                },
                "LESS_THAN_OR_EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
                    }
                }
            }
        },
        "com.amazonaws.emr#ComputeLimits": {
            "type": "structure",
            "members": {
                "UnitType": {
                    "target": "com.amazonaws.emr#ComputeLimitsUnitType",
                    "traits": {
                        "smithy.api#documentation": "<p> The unit type used for specifying a managed scaling policy. </p>",
                        "smithy.api#required": {}
                    }
                },
                "MinimumCapacityUnits": {
                    "target": "com.amazonaws.emr#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The lower boundary of EC2 units. It is measured through vCPU cores or instances for\n         instance groups and measured through units for instance fleets. Managed scaling activities\n         are not allowed beyond this boundary. The limit only applies to the core and task nodes.\n         The master node cannot be scaled after initial configuration. </p>",
                        "smithy.api#required": {}
                    }
                },
                "MaximumCapacityUnits": {
                    "target": "com.amazonaws.emr#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The upper boundary of EC2 units. It is measured through vCPU cores or instances for\n         instance groups and measured through units for instance fleets. Managed scaling activities\n         are not allowed beyond this boundary. The limit only applies to the core and task nodes.\n         The master node cannot be scaled after initial configuration. </p>",
                        "smithy.api#required": {}
                    }
                },
                "MaximumOnDemandCapacityUnits": {
                    "target": "com.amazonaws.emr#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The upper boundary of On-Demand EC2 units. It is measured through vCPU cores or\n         instances for instance groups and measured through units for instance fleets. The On-Demand\n         units are not allowed to scale beyond this boundary. The parameter is used to split\n         capacity allocation between On-Demand and Spot Instances. </p>"
                    }
                },
                "MaximumCoreCapacityUnits": {
                    "target": "com.amazonaws.emr#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The upper boundary of EC2 units for core node type in a cluster. It is measured through\n         vCPU cores or instances for instance groups and measured through units for instance fleets.\n         The core units are not allowed to scale beyond this boundary. The parameter is used to\n         split capacity allocation between core and task nodes. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The EC2 unit limits for a managed scaling policy. The managed scaling activity of a\n         cluster can not be above or below these limits. The limit only applies to the core and task\n         nodes. The master node cannot be scaled after initial configuration. </p>"
            }
        },
        "com.amazonaws.emr#ComputeLimitsUnitType": {
            "type": "enum",
            "members": {
                "InstanceFleetUnits": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "InstanceFleetUnits"
                    }
                },
                "Instances": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Instances"
                    }
                },
                "VCPU": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VCPU"
                    }
                }
            }
        },
        "com.amazonaws.emr#Configuration": {
            "type": "structure",
            "members": {
                "Classification": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The classification within a configuration.</p>"
                    }
                },
                "Configurations": {
                    "target": "com.amazonaws.emr#ConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of additional configurations to apply within a configuration object.</p>"
                    }
                },
                "Properties": {
                    "target": "com.amazonaws.emr#StringMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A set of properties specified within a configuration classification.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<note>\n            <p>Amazon EMR releases 4.x or later.</p>\n         </note>\n         <p>An optional configuration specification to be used when provisioning cluster instances,\n         which can include configurations for applications and software bundled with Amazon EMR. A configuration consists of a classification, properties, and optional\n         nested configurations. A classification refers to an application-specific configuration\n         file. Properties are the settings you want to change in that file. For more information,\n         see <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-configure-apps.html\">Configuring Applications</a>.</p>"
            }
        },
        "com.amazonaws.emr#ConfigurationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.emr#Configuration"
            }
        },
        "com.amazonaws.emr#CreateSecurityConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emr#CreateSecurityConfigurationInput"
            },
            "output": {
                "target": "com.amazonaws.emr#CreateSecurityConfigurationOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emr#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emr#InvalidRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a security configuration, which is stored in the service and can be specified\n         when a cluster is created.</p>"
            }
        },
        "com.amazonaws.emr#CreateSecurityConfigurationInput": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.emr#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the security configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SecurityConfiguration": {
                    "target": "com.amazonaws.emr#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The security configuration details in JSON format. For JSON parameters and examples, see\n            <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-security-configurations.html\">Use Security\n            Configurations to Set Up Cluster Security</a> in the <i>Amazon EMR\n            Management Guide</i>.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.emr#CreateSecurityConfigurationOutput": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.emr#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the security configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "CreationDateTime": {
                    "target": "com.amazonaws.emr#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the security configuration was created.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.emr#CreateStudio": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emr#CreateStudioInput"
            },
            "output": {
                "target": "com.amazonaws.emr#CreateStudioOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emr#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emr#InvalidRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new Amazon EMR Studio.</p>"
            }
        },
        "com.amazonaws.emr#CreateStudioInput": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>A descriptive name for the Amazon EMR Studio.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Description": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>A detailed description of the Amazon EMR Studio.</p>"
                    }
                },
                "AuthMode": {
                    "target": "com.amazonaws.emr#AuthMode",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the Studio authenticates users using IAM or IAM Identity Center.</p>",
                        "smithy.api#required": {}
                    }
                },
                "VpcId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Amazon Virtual Private Cloud (Amazon VPC) to associate with the\n         Studio.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SubnetIds": {
                    "target": "com.amazonaws.emr#SubnetIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of subnet IDs to associate with the Amazon EMR Studio. A Studio can have\n         a maximum of 5 subnets. The subnets must belong to the VPC specified by <code>VpcId</code>.\n         Studio users can create a Workspace in any of the specified subnets.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ServiceRole": {
                    "target": "com.amazonaws.emr#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>The IAM role that the Amazon EMR Studio assumes. The service role provides a way\n         for Amazon EMR Studio to interoperate with other Amazon Web Services\n         services.</p>",
                        "smithy.api#required": {}
                    }
                },
                "UserRole": {
                    "target": "com.amazonaws.emr#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>The IAM user role that users and groups assume when logged in to an Amazon EMR\n         Studio. Only specify a <code>UserRole</code> when you use IAM Identity Center\n         authentication. The permissions attached to the <code>UserRole</code> can be scoped down\n         for each user or group using session policies.</p>"
                    }
                },
                "WorkspaceSecurityGroupId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Amazon EMR Studio Workspace security group. The Workspace security\n         group allows outbound network traffic to resources in the Engine security group, and it\n         must be in the same VPC specified by <code>VpcId</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EngineSecurityGroupId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Amazon EMR Studio Engine security group. The Engine security group\n         allows inbound network traffic from the Workspace security group, and it must be in the\n         same VPC specified by <code>VpcId</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DefaultS3Location": {
                    "target": "com.amazonaws.emr#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 location to back up Amazon EMR Studio Workspaces and\n         notebook files.</p>",
                        "smithy.api#required": {}
                    }
                },
                "IdpAuthUrl": {
                    "target": "com.amazonaws.emr#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>The authentication endpoint of your identity provider (IdP). Specify this value when you\n         use IAM authentication and want to let federated users log in to a Studio\n         with the Studio URL and credentials from your IdP. Amazon EMR Studio redirects\n         users to this endpoint to enter credentials.</p>"
                    }
                },
                "IdpRelayStateParameterName": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The name that your identity provider (IdP) uses for its <code>RelayState</code>\n         parameter. For example, <code>RelayState</code> or <code>TargetSource</code>. Specify this\n         value when you use IAM authentication and want to let federated users log in\n         to a Studio using the Studio URL. The <code>RelayState</code> parameter differs by\n         IdP.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.emr#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of tags to associate with the Amazon EMR Studio. Tags are user-defined\n         key-value pairs that consist of a required key string with a maximum of 128 characters, and\n         an optional value string with a maximum of 256 characters.</p>"
                    }
                }
            }
        },
        "com.amazonaws.emr#CreateStudioOutput": {
            "type": "structure",
            "members": {
                "StudioId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Amazon EMR Studio.</p>"
                    }
                },
                "Url": {
                    "target": "com.amazonaws.emr#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique Studio access URL.</p>"
                    }
                }
            }
        },
        "com.amazonaws.emr#CreateStudioSessionMapping": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emr#CreateStudioSessionMappingInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emr#InternalServerError"
                },
                {
                    "target": "com.amazonaws.emr#InvalidRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Maps a user or group to the Amazon EMR Studio specified by\n         <code>StudioId</code>, and applies a session policy to refine Studio permissions for that\n         user or group. Use <code>CreateStudioSessionMapping</code> to assign users to a Studio when\n         you use IAM Identity Center authentication. For instructions on how to assign users to a\n         Studio when you use IAM authentication, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-studio-manage-users.html#emr-studio-assign-users-groups\">Assign a user or group to your EMR Studio</a>.</p>"
            }
        },
        "com.amazonaws.emr#CreateStudioSessionMappingInput": {
            "type": "structure",
            "members": {
                "StudioId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Amazon EMR Studio to which the user or group will be\n         mapped.</p>",
                        "smithy.api#required": {}
                    }
                },
                "IdentityId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The globally unique identifier (GUID) of the user or group from the IAM Identity Center\n         Identity Store. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_User.html#singlesignon-Type-User-UserId\">UserId</a> and <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_Group.html#singlesignon-Type-Group-GroupId\">GroupId</a> in the <i>IAM Identity Center Identity Store API\n            Reference</i>. Either <code>IdentityName</code> or <code>IdentityId</code> must\n         be specified, but not both.</p>"
                    }
                },
                "IdentityName": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the user or group. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_User.html#singlesignon-Type-User-UserName\">UserName</a> and <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_Group.html#singlesignon-Type-Group-DisplayName\">DisplayName</a> in the <i>IAM Identity Center Identity Store API\n            Reference</i>. Either <code>IdentityName</code> or <code>IdentityId</code> must\n         be specified, but not both.</p>"
                    }
                },
                "IdentityType": {
                    "target": "com.amazonaws.emr#IdentityType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the identity to map to the Amazon EMR Studio is a user or a\n         group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SessionPolicyArn": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the session policy that will be applied to the user\n         or group. You should specify the ARN for the session policy that you want to apply, not the\n         ARN of your user role. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-studio-user-role.html\">Create an EMR Studio User\n            Role with Session Policies</a>.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.emr#Credentials": {
            "type": "union",
            "members": {
                "UsernamePassword": {
                    "target": "com.amazonaws.emr#UsernamePassword",
                    "traits": {
                        "smithy.api#documentation": "<p>The username and password that you use to connect to cluster endpoints.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The credentials that you can use to connect to cluster endpoints. Credentials consist of a username and a password.</p>"
            }
        },
        "com.amazonaws.emr#Date": {
            "type": "timestamp"
        },
        "com.amazonaws.emr#DeleteSecurityConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emr#DeleteSecurityConfigurationInput"
            },
            "output": {
                "target": "com.amazonaws.emr#DeleteSecurityConfigurationOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emr#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emr#InvalidRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a security configuration.</p>"
            }
        },
        "com.amazonaws.emr#DeleteSecurityConfigurationInput": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.emr#XmlString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the security configuration.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.emr#DeleteSecurityConfigurationOutput": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.emr#DeleteStudio": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emr#DeleteStudioInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emr#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emr#InvalidRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Removes an Amazon EMR Studio from the Studio metadata store.</p>"
            }
        },
        "com.amazonaws.emr#DeleteStudioInput": {
            "type": "structure",
            "members": {
                "StudioId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Amazon EMR Studio.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.emr#DeleteStudioSessionMapping": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emr#DeleteStudioSessionMappingInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emr#InternalServerError"
                },
                {
                    "target": "com.amazonaws.emr#InvalidRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Removes a user or group from an Amazon EMR Studio.</p>"
            }
        },
        "com.amazonaws.emr#DeleteStudioSessionMappingInput": {
            "type": "structure",
            "members": {
                "StudioId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Amazon EMR Studio.</p>",
                        "smithy.api#required": {}
                    }
                },
                "IdentityId": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The globally unique identifier (GUID) of the user or group to remove from the Amazon EMR Studio. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_User.html#singlesignon-Type-User-UserId\">UserId</a> and <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_Group.html#singlesignon-Type-Group-GroupId\">GroupId</a> in the <i>IAM Identity Center Identity Store API\n            Reference</i>. Either <code>IdentityName</code> or <code>IdentityId</code> must\n         be specified.</p>"
                    }
                },
                "IdentityName": {
                    "target": "com.amazonaws.emr#XmlStringMaxLen256",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the user name or group to remove from the Amazon EMR Studio. For\n         more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_User.html#singlesignon-Type-User-UserName\">UserName</a> and <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_Group.html#singlesignon-Type-Group-DisplayName\">DisplayName</a> in the <i>IAM Identity Center Store API Reference</i>.\n         Either <code>IdentityName</code> or <code>IdentityId</code> must be specified.</p>"
                    }
                },
                "IdentityType": {
                    "target": "com.amazonaws.emr#IdentityType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the identity to delete from the Amazon EMR Studio is a user or\n         a group.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.emr#DescribeCluster": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.emr#DescribeClusterInput"
            },
            "output": {
                "target": "com.amazonaws.emr#DescribeClusterOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.emr#InternalServerException"
                },
                {
                    "target": "com.amazonaws.emr#InvalidRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Provides cluster-level details including status, hardware and software configuration,\n         VPC settings, and so on.</p>",
                "smithy.waiters#waitable": {
                    "ClusterRunning": {
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "Cluster.Status.State",
                                        "expected": "RUNNING",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "Cluster.Status.State",
                                        "expected": "WAITING",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "Cluster.Status.State",
                                        "expected": "TERMINATING",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "Cluster.Status.State",
                                        "expected": "TERMINATED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "Cluster.Status.State",
                                        "expected": "TERMINATED_WITH_ERRORS",
                                        "comparator": "stringEquals"
                                    }
                                }
                            }
                        ],
                        "minDelay": 30
                    },
                    "ClusterTerminated": {
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "Cluster.Status.State",
                                        "expected": "TERMINATED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "Cluster.Status.State",
                                        "expected": "TERMINATED_WITH_ERRORS",
                                        "comparator": "stringEquals"
                                    }
                                }
                            }
                        ],
                        "minDelay": 30
                    }
                }
            }
        },
        "com.amazonaws.emr#DescribeClusterInput": {
            "type": "structure",
            "members": {
                "ClusterId": {
                    "target": "com.amazonaws.emr#ClusterId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the cluster to describe.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This input determines which cluster to describe.</p>"
            }
        },
        "com.amazonaws.emr#DescribeClusterOutput": {
            "type": "structure",
            "members": {
                "Cluster": {
[...]
