{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.endusermessaging#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.endusermessaging#AmazonResourceName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Amazon Resource Name.",
                "smithy.api#length": {
                    "min": 20,
                    "max": 256
                },
                "smithy.api#pattern": "^arn:[A-Za-z0-9_:/-]+$"
            }
        },
        "com.amazonaws.endusermessaging#AttachmentBody": {
            "type": "blob",
            "traits": {
                "smithy.api#documentation": "Attachment Body",
                "smithy.api#length": {
                    "min": 1,
                    "max": 5242880
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileAttributeCategory": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Category for the attribute. Validated against supported values at runtime (see FoodCourtConstants).",
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileAttributeDescription": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Attribute description.",
                "smithy.api#length": {
                    "min": 0,
                    "max": 1024
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileAttributeInput": {
            "type": "structure",
            "members": {
                "attributeName": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the brand profile attribute. The name is unique within a brand profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "attributeType": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the attribute. TEXT stores an inline value. IMAGE and DOCUMENT store binary media that you upload.</p>",
                        "smithy.api#required": {}
                    }
                },
                "attributeValue": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The text value for the attribute. This value applies to attributes of type TEXT. For attributes of type IMAGE or DOCUMENT, provide the media through the attachment body instead.</p>"
                    }
                },
                "attachmentBody": {
                    "target": "com.amazonaws.endusermessaging#AttachmentBody",
                    "traits": {
                        "smithy.api#documentation": "<p>The binary content for an attribute of type IMAGE or DOCUMENT. The content is base64-encoded when it is sent over the wire.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the attribute.</p>"
                    }
                },
                "category": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeCategory",
                    "traits": {
                        "smithy.api#documentation": "<p>The category of the attribute.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies an attribute to create for a brand profile.</p>"
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileAttributeInputList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.endusermessaging#BrandProfileAttributeInput"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileAttributeName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Customer-provided attribute name (unique per brand profile).\nAlphanumeric, underscore, hyphen, and space only.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^[A-Za-z0-9_ -]*[A-Za-z0-9_-][A-Za-z0-9_ -]*$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileAttributeOutput": {
            "type": "structure",
            "members": {
                "attributeName": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the brand profile attribute. The name is unique within a brand profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "attributeType": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the attribute. TEXT stores an inline value. IMAGE and DOCUMENT store binary media that you upload.</p>",
                        "smithy.api#required": {}
                    }
                },
                "mediaDownloadUrl": {
                    "target": "com.amazonaws.endusermessaging#MediaDownloadUrl",
                    "traits": {
                        "smithy.api#documentation": "<p>A presigned Amazon S3 URL that you can use to download the attribute media. The URL is valid for one hour and is present only for attributes of type IMAGE or DOCUMENT.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about an attribute that was created for a brand profile.</p>"
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileAttributeOutputList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.endusermessaging#BrandProfileAttributeOutput"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileAttributeSummary": {
            "type": "structure",
            "members": {
                "attributeName": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the brand profile attribute. The name is unique within a brand profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "attributeType": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the attribute. TEXT stores an inline value. IMAGE and DOCUMENT store binary media that you upload.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the attribute.</p>"
                    }
                },
                "category": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeCategory",
                    "traits": {
                        "smithy.api#documentation": "<p>The category of the attribute.</p>"
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the resource was created, in Unix epoch time.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the resource was last updated, in Unix epoch time.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains summary information about a brand profile attribute in a list response.</p>"
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileAttributeSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.endusermessaging#BrandProfileAttributeSummary"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 100
                }
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileAttributeType": {
            "type": "enum",
            "members": {
                "TEXT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TEXT"
                    }
                },
                "IMAGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IMAGE"
                    }
                },
                "DOCUMENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DOCUMENT"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Type of brand profile attribute. Drives whether a value is inline (TEXT)\nor referenced via a presigned media upload URL."
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileAttributeValue": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Attribute value for TEXT type.",
                "smithy.api#length": {
                    "min": 0,
                    "max": 4096
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileIdOrArn": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "System-generated brand profile identifier or full ARN.\nAccepts either a bare ID (e.g., \"bp-abc12345678901234\") or a full ARN\n(e.g., \"arn:aws:end-user-messaging:us-east-1:123456789012:brand-profile/bp-abc12345678901234\").\nSDKs handle percent-encoding of ARN characters in path parameters transparently.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^[A-Za-z0-9_:/-]+$"
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileInfo": {
            "type": "structure",
            "members": {
                "brandProfileId": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the brand profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "brandProfileArn": {
                    "target": "com.amazonaws.endusermessaging#AmazonResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the brand profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "brandProfileName": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the brand profile. The name can contain alphanumeric characters, underscores, hyphens, and spaces.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.endusermessaging#Status",
                    "traits": {
                        "smithy.api#documentation": "<p>The current lifecycle status of the brand profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "deletionProtectionEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether deletion protection is enabled. When enabled, the resource cannot be deleted until deletion protection is turned off.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the resource was created, in Unix epoch time.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the resource was last updated, in Unix epoch time.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about a brand profile.</p>"
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileInfoList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.endusermessaging#BrandProfileInfo"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 100
                }
            }
        },
        "com.amazonaws.endusermessaging#BrandProfileName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Customer-provided brand profile name. Alphanumeric, underscore, hyphen, and space only.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[A-Za-z0-9_ -]*[A-Za-z0-9_-][A-Za-z0-9_ -]*$"
            }
        },
        "com.amazonaws.endusermessaging#ChannelParameters": {
            "type": "structure",
            "members": {
                "text": {
                    "target": "com.amazonaws.endusermessaging#TextParameters",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameters for the text channel, which delivers over SMS or RCS.</p>"
                    }
                },
                "voice": {
                    "target": "com.amazonaws.endusermessaging#VoiceParameters",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameters for the voice channel.</p>"
                    }
                },
                "notify": {
                    "target": "com.amazonaws.endusermessaging#NotifyParameters",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameters for the preapproved notify-template route over the SMS or voice channels.</p>"
                    }
                },
                "whatsApp": {
                    "target": "com.amazonaws.endusermessaging#WhatsAppParameters",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameters for the WhatsApp channel.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The channel-specific parameters used to render and deliver a one-time passcode. Each member configures the parameters for one delivery route. Populate only the channels that a configuration or send request supports. A notify code configuration can carry every channel at once, and a send request resolves to a single route that selects the matching channel at send time.</p>"
            }
        },
        "com.amazonaws.endusermessaging#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Idempotency token for safe retries on Create operations.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[\\x21-\\x7E]+$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.endusermessaging#CodeConfigurationParameters": {
            "type": "structure",
            "members": {
                "codeType": {
                    "target": "com.amazonaws.endusermessaging#CodeType",
                    "traits": {
                        "smithy.api#documentation": "<p>The character set used to generate the one-time passcode. Valid values are NUMERIC (digits only), ALPHA (uppercase letters only), and ALPHANUMERIC (uppercase letters and digits). When you do not specify a value, the default is applied when a passcode is sent.</p>"
                    }
                },
                "codeLength": {
                    "target": "com.amazonaws.endusermessaging#CodeLength",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of characters in the one-time passcode. Valid values range from 4 through 8. When you do not specify a value, the default is applied when a passcode is sent.</p>"
                    }
                },
                "validityPeriodMinutes": {
                    "target": "com.amazonaws.endusermessaging#ValidityPeriodMinutes",
                    "traits": {
                        "smithy.api#documentation": "<p>The length of time, in minutes, that the one-time passcode remains valid. Valid values range from 1 through 60. When you do not specify a value, the default is applied when a passcode is sent.</p>"
                    }
                },
                "maxAttempts": {
                    "target": "com.amazonaws.endusermessaging#MaxVerificationAttempts",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of validation attempts that are allowed before the verification is locked. Valid values range from 1 through 5. When you do not specify a value, the default is applied when a passcode is sent.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The passcode policy parameters that are grouped for reuse across a notify code configuration and its create request. Each member is optional. When you omit a member on a create request, no value is applied at create time and the default is applied when a passcode is sent.</p>"
            }
        },
        "com.amazonaws.endusermessaging#CodeLength": {
            "type": "integer",
            "traits": {
                "smithy.api#documentation": "OTP code length (4-8 characters).",
                "smithy.api#range": {
                    "min": 4,
                    "max": 8
                }
            }
        },
        "com.amazonaws.endusermessaging#CodeType": {
            "type": "enum",
            "members": {
                "NUMERIC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Digits 0–9.",
                        "smithy.api#enumValue": "NUMERIC"
                    }
                },
                "ALPHA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Letters A–Z (uppercase).",
                        "smithy.api#enumValue": "ALPHA"
                    }
                },
                "ALPHANUMERIC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Letters A–Z and digits 0–9.",
                        "smithy.api#enumValue": "ALPHANUMERIC"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "OTP character alphabet used by a NotifyCodeConfiguration."
            }
        },
        "com.amazonaws.endusermessaging#ConfigurationSetName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Configuration set name used to control event delivery for the verification message.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^[A-Za-z0-9_-]+$"
            }
        },
        "com.amazonaws.endusermessaging#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "resourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the resource that the request conflicts with.</p>"
                    }
                },
                "resourceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the resource that the request conflicts with.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request conflicts with the current state of the resource.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.endusermessaging#ContextKey": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Caller-supplied context propagated to delivery events for this verification.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                },
                "smithy.api#pattern": "^\\S+$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.endusermessaging#ContextMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.endusermessaging#ContextKey"
            },
            "value": {
                "target": "com.amazonaws.endusermessaging#ContextValue"
            },
            "traits": {
                "smithy.api#documentation": "Caller-supplied context map propagated to delivery events for this verification.",
                "smithy.api#length": {
                    "max": 5
                }
            }
        },
        "com.amazonaws.endusermessaging#ContextValue": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Caller-supplied context value. Blank space is not allowed at the front or end.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 800
                },
                "smithy.api#pattern": "^\\S(?:[\\s\\S]*\\S)?$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.endusermessaging#CreateBrandProfile": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.endusermessaging#CreateBrandProfileInput"
            },
            "output": {
                "target": "com.amazonaws.endusermessaging#CreateBrandProfileOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.endusermessaging#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ConflictException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#InternalServerException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create a brand profile",
                    "requiredActions": []
                },
                "smithy.api#documentation": "<p>Creates a brand profile. A brand profile is a lightweight container that holds your brand identity information as flexible attributes. After you create a brand profile, use the CreateBrandProfileAttributes operation to add company information, addresses, compliance documents, and logos.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create a brand profile",
                        "input": {
                            "brandProfileName": "AcmeCorp",
                            "deletionProtectionEnabled": true
                        },
                        "output": {
                            "brandProfileId": "bp-abc12345678901234",
                            "brandProfileArn": "arn:aws:end-user-messaging:us-east-1:123456789012:brand-profile/bp-abc12345678901234",
                            "brandProfileName": "AcmeCorp",
                            "status": "ACTIVE",
                            "deletionProtectionEnabled": true,
                            "createdAt": 1727130000,
                            "updatedAt": 1727130000,
                            "attributesCreated": 0
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/brand-profiles"
                }
            }
        },
        "com.amazonaws.endusermessaging#CreateBrandProfileAttributes": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.endusermessaging#CreateBrandProfileAttributesInput"
            },
            "output": {
                "target": "com.amazonaws.endusermessaging#CreateBrandProfileAttributesOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.endusermessaging#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ConflictException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#InternalServerException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create attributes for a brand profile",
                    "requiredActions": []
                },
                "smithy.api#documentation": "<p>Creates up to 10 attributes for a brand profile in a single request. For attributes of type IMAGE or DOCUMENT, the response includes a presigned Amazon S3 URL that you use to upload the media. This operation is atomic: either all of the attributes are created, or none of them are.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create a text attribute on a brand profile",
                        "input": {
                            "brandProfileId": "bp-abc12345678901234",
                            "attributes": [
                                {
                                    "attributeName": "SupportEmail",
                                    "attributeType": "TEXT",
                                    "attributeValue": "support@example.com",
                                    "category": "CONTACT"
                                }
                            ]
                        },
                        "output": {
                            "attributes": [
                                {
                                    "attributeName": "SupportEmail",
                                    "attributeType": "TEXT"
                                }
                            ]
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/brand-profiles/{brandProfileId}/attributes"
                }
            }
        },
        "com.amazonaws.endusermessaging#CreateBrandProfileAttributesInput": {
            "type": "structure",
            "members": {
                "brandProfileId": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the brand profile. You can specify either the bare ID or the full Amazon Resource Name (ARN).</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "attributes": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeInputList",
                    "traits": {
                        "smithy.api#documentation": "<p>The brand profile attributes.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.endusermessaging#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you do not specify a client token, the AWS SDK automatically generates one.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.endusermessaging#CreateBrandProfileAttributesOutput": {
            "type": "structure",
            "members": {
                "attributes": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>The brand profile attributes.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.endusermessaging#CreateBrandProfileFromRegistration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.endusermessaging#CreateBrandProfileFromRegistrationInput"
            },
            "output": {
                "target": "com.amazonaws.endusermessaging#CreateBrandProfileFromRegistrationOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.endusermessaging#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ConflictException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#InternalServerException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create a new brand profile populated from an existing registration via Bedrock mapping",
                    "requiredActions": []
                },
                "smithy.api#documentation": "<p>Creates a brand profile and populates its attributes from an existing registration. This operation runs asynchronously. Use the GetJob operation to track its progress.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create a brand profile from a registration",
                        "input": {
                            "registrationId": "reg-abc12345678901234",
                            "brandProfileName": "AcmeCorp",
                            "smartMatch": true
                        },
                        "output": {
                            "results": [
                                {
                                    "jobId": "job-abc12345678901234",
                                    "resourceIdentifier": "reg-abc12345678901234"
                                }
                            ]
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/brand-profiles/create-from-registration"
                }
            }
        },
        "com.amazonaws.endusermessaging#CreateBrandProfileFromRegistrationInput": {
            "type": "structure",
            "members": {
                "registrationId": {
                    "target": "com.amazonaws.endusermessaging#RegistrationIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier or Amazon Resource Name (ARN) of the registration to populate the brand profile from.</p>",
                        "smithy.api#required": {}
                    }
                },
                "brandProfileName": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the brand profile. The name can contain alphanumeric characters, underscores, hyphens, and spaces.</p>",
                        "smithy.api#required": {}
                    }
                },
                "smartMatch": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether to use semantic field mapping between brand profile attributes and registration fields. The default is true. When false, the service maps fields using a fixed set of standard field types.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.endusermessaging#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of key and value pair tags that are associated with the resource.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.endusermessaging#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you do not specify a client token, the AWS SDK automatically generates one.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.endusermessaging#CreateBrandProfileFromRegistrationOutput": {
            "type": "structure",
            "members": {
                "results": {
                    "target": "com.amazonaws.endusermessaging#JobResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The results of the operation. Each result pairs a requested item with the asynchronous job that processes it.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.endusermessaging#CreateBrandProfileInput": {
            "type": "structure",
            "members": {
                "brandProfileName": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the brand profile. The name can contain alphanumeric characters, underscores, hyphens, and spaces.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.endusermessaging#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you do not specify a client token, the AWS SDK automatically generates one.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "deletionProtectionEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether deletion protection is enabled. When enabled, the resource cannot be deleted until deletion protection is turned off.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.endusermessaging#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of key and value pair tags that are associated with the resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.endusermessaging#CreateBrandProfileOutput": {
            "type": "structure",
            "members": {
                "brandProfileId": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the brand profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "brandProfileArn": {
                    "target": "com.amazonaws.endusermessaging#AmazonResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the brand profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "brandProfileName": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the brand profile. The name can contain alphanumeric characters, underscores, hyphens, and spaces.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.endusermessaging#Status",
                    "traits": {
                        "smithy.api#documentation": "<p>The current lifecycle status of the brand profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "deletionProtectionEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether deletion protection is enabled. When enabled, the resource cannot be deleted until deletion protection is turned off.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the resource was created, in Unix epoch time.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the resource was last updated, in Unix epoch time.</p>",
                        "smithy.api#required": {}
                    }
                },
                "attributesCreated": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of default attributes that were created for the brand profile.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.endusermessaging#CreateNotifyCodeConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.endusermessaging#CreateNotifyCodeConfigurationInput"
            },
            "output": {
                "target": "com.amazonaws.endusermessaging#CreateNotifyCodeConfigurationOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.endusermessaging#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ConflictException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#InternalServerException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create a notify code configuration",
                    "requiredActions": []
                },
                "smithy.api#documentation": "<p>Creates a notify code configuration. A notify code configuration is a reusable policy that defines how one-time passcodes are generated and rendered, including the code type, length, validity period, maximum number of attempts, and channel templates.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create a notify code configuration",
                        "input": {
                            "notifyCodeConfigurationName": "SignupOtp",
                            "codeConfigurationParameters": {
                                "codeType": "NUMERIC",
                                "codeLength": 6,
                                "validityPeriodMinutes": 10,
                                "maxAttempts": 3
                            },
                            "channelParameters": {
                                "text": {
                                    "inlineTemplateBody": "Your verification code is {{code}}."
                                }
                            }
                        },
                        "output": {
                            "notifyCodeConfiguration": {
                                "notifyCodeConfigurationId": "ncc-abc12345678901234",
                                "notifyCodeConfigurationArn": "arn:aws:end-user-messaging:us-east-1:123456789012:notify-code-configuration/ncc-abc12345678901234",
                                "notifyCodeConfigurationName": "SignupOtp",
                                "codeConfigurationParameters": {
                                    "codeType": "NUMERIC",
                                    "codeLength": 6,
                                    "validityPeriodMinutes": 10,
                                    "maxAttempts": 3
                                },
                                "channelParameters": {
                                    "text": {
                                        "inlineTemplateBody": "Your verification code is {{code}}."
                                    }
                                },
                                "deletionProtectionEnabled": false,
                                "createdAt": 1727130000,
                                "updatedAt": 1727130000
                            }
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/notify-code-configurations"
                }
            }
        },
        "com.amazonaws.endusermessaging#CreateNotifyCodeConfigurationInput": {
            "type": "structure",
            "members": {
                "notifyCodeConfigurationName": {
                    "target": "com.amazonaws.endusermessaging#NotifyCodeConfigurationName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the notify code configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "codeConfigurationParameters": {
                    "target": "com.amazonaws.endusermessaging#CodeConfigurationParameters",
                    "traits": {
                        "smithy.api#documentation": "<p>The passcode policy parameters, including the code type, length, validity period, and maximum number of attempts. Each member is optional. When you omit a member, no value is applied at create time and the default is applied when a passcode is sent.</p>"
                    }
                },
                "channelParameters": {
                    "target": "com.amazonaws.endusermessaging#ChannelParameters",
                    "traits": {
                        "smithy.api#documentation": "<p>The channel-specific parameters used to render and deliver the one-time passcode. Provide parameters for any subset of channels. Each member configures one delivery route, and the route that is selected at send time uses the matching channel.</p>"
                    }
                },
                "deletionProtectionEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether deletion protection is enabled. When enabled, the resource cannot be deleted until deletion protection is turned off.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.endusermessaging#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you do not specify a client token, the AWS SDK automatically generates one.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.endusermessaging#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of key and value pair tags that are associated with the resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.endusermessaging#CreateNotifyCodeConfigurationOutput": {
            "type": "structure",
            "members": {
                "notifyCodeConfiguration": {
                    "target": "com.amazonaws.endusermessaging#NotifyCodeConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The notify code configuration resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.endusermessaging#CreateRegistrationsFromBrandProfile": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.endusermessaging#CreateRegistrationsFromBrandProfileInput"
            },
            "output": {
                "target": "com.amazonaws.endusermessaging#CreateRegistrationsFromBrandProfileOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.endusermessaging#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ConflictException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#InternalServerException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create DRAFT registrations pre-filled from brand profile attributes via Bedrock mapping",
                    "requiredActions": []
                },
                "smithy.api#documentation": "<p>Creates one or more registrations in the DRAFT state and prefills their fields from the attributes of a brand profile. This operation runs asynchronously. Use the GetJob operation to track its progress.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create draft registrations from a brand profile",
                        "input": {
                            "brandProfileId": "bp-abc12345678901234",
                            "registrationTypes": [
                                "US_TOLL_FREE_REGISTRATION"
                            ],
                            "smartMatch": true
                        },
                        "output": {
                            "results": [
                                {
                                    "jobId": "job-abc12345678901234",
                                    "resourceIdentifier": "US_TOLL_FREE_REGISTRATION"
                                }
                            ]
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/brand-profiles/{brandProfileId}/create-registrations"
                }
            }
        },
        "com.amazonaws.endusermessaging#CreateRegistrationsFromBrandProfileInput": {
            "type": "structure",
            "members": {
                "brandProfileId": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the brand profile. You can specify either the bare ID or the full Amazon Resource Name (ARN).</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "registrationTypes": {
                    "target": "com.amazonaws.endusermessaging#RegistrationTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The registration types to create, for example US_TOLL_FREE_REGISTRATION or SENDER_ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "smartMatch": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether to use semantic field mapping between brand profile attributes and registration fields. The default is true. When false, the service maps fields using a fixed set of standard field types.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.endusermessaging#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you do not specify a client token, the AWS SDK automatically generates one.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.endusermessaging#CreateRegistrationsFromBrandProfileOutput": {
            "type": "structure",
            "members": {
                "results": {
                    "target": "com.amazonaws.endusermessaging#JobResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The results of the operation. Each result pairs a requested item with the asynchronous job that processes it.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.endusermessaging#DeleteBrandProfile": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.endusermessaging#DeleteBrandProfileInput"
            },
            "output": {
                "target": "com.amazonaws.endusermessaging#DeleteBrandProfileOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.endusermessaging#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ConflictException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#InternalServerException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to delete a brand profile",
                    "requiredActions": []
                },
                "smithy.api#documentation": "<p>Deletes a brand profile. This operation also deletes the attributes of the profile and any associated media. The request fails if deletion protection is enabled for the profile.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Delete a brand profile",
                        "input": {
                            "brandProfileId": "bp-abc12345678901234"
                        },
                        "output": {
                            "brandProfileId": "bp-abc12345678901234",
                            "brandProfileArn": "arn:aws:end-user-messaging:us-east-1:123456789012:brand-profile/bp-abc12345678901234"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/brand-profiles/{brandProfileId+}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.endusermessaging#DeleteBrandProfileAttribute": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.endusermessaging#DeleteBrandProfileAttributeInput"
            },
            "output": {
                "target": "com.amazonaws.endusermessaging#DeleteBrandProfileAttributeOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.endusermessaging#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ConflictException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#InternalServerException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to delete a brand profile attribute",
                    "requiredActions": []
                },
                "smithy.api#documentation": "<p>Deletes a brand profile attribute. If the attribute stores media, this operation also deletes the associated media.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Delete a brand profile attribute",
                        "input": {
                            "brandProfileId": "bp-abc12345678901234",
                            "attributeName": "SupportEmail"
                        },
                        "output": {
                            "brandProfileId": "bp-abc12345678901234",
                            "attributeName": "SupportEmail"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/brand-profiles/{brandProfileId}/attributes/{attributeName}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.endusermessaging#DeleteBrandProfileAttributeInput": {
            "type": "structure",
            "members": {
                "brandProfileId": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the brand profile. You can specify either the bare ID or the full Amazon Resource Name (ARN).</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "attributeName": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the brand profile attribute. The name is unique within a brand profile.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.endusermessaging#DeleteBrandProfileAttributeOutput": {
            "type": "structure",
            "members": {
                "brandProfileId": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the brand profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "attributeName": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileAttributeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the brand profile attribute. The name is unique within a brand profile.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.endusermessaging#DeleteBrandProfileInput": {
            "type": "structure",
            "members": {
                "brandProfileId": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the brand profile. You can specify either the bare ID or the full Amazon Resource Name (ARN).</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.endusermessaging#DeleteBrandProfileOutput": {
            "type": "structure",
            "members": {
                "brandProfileId": {
                    "target": "com.amazonaws.endusermessaging#BrandProfileIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the brand profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "brandProfileArn": {
                    "target": "com.amazonaws.endusermessaging#AmazonResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the brand profile.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.endusermessaging#DeleteNotifyCodeConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.endusermessaging#DeleteNotifyCodeConfigurationInput"
            },
            "output": {
                "target": "com.amazonaws.endusermessaging#DeleteNotifyCodeConfigurationOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.endusermessaging#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ConflictException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#InternalServerException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to delete a notify code configuration",
                    "requiredActions": []
                },
                "smithy.api#documentation": "<p>Deletes a notify code configuration. Verifications that are already in progress are not affected, because they capture the policy at the time that the passcode was sent.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Delete a notify code configuration",
                        "input": {
                            "notifyCodeConfigurationId": "ncc-abc12345678901234"
                        },
                        "output": {}
                    }
                ],
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/notify-code-configurations/{notifyCodeConfigurationId+}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.endusermessaging#DeleteNotifyCodeConfigurationInput": {
            "type": "structure",
            "members": {
                "notifyCodeConfigurationId": {
                    "target": "com.amazonaws.endusermessaging#NotifyCodeConfigurationIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the notify code configuration. You can specify either the bare ID or the full Amazon Resource Name (ARN).</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.endusermessaging#DeleteNotifyCodeConfigurationOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.endusermessaging#DestinationCountryParameterKey": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Key of a `DestinationCountryParameters` map entry. Up to 64 non-whitespace characters.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^\\S+$"
            }
        },
        "com.amazonaws.endusermessaging#DestinationCountryParameterValue": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Value of a `DestinationCountryParameters` map entry. Up to 64 non-whitespace characters.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^\\S+$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.endusermessaging#DestinationCountryParameters": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.endusermessaging#DestinationCountryParameterKey"
            },
            "value": {
                "target": "com.amazonaws.endusermessaging#DestinationCountryParameterValue"
            },
            "traits": {
                "smithy.api#documentation": "Country-specific OTP delivery parameters as a map of destination-country-parameter keys to values.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.endusermessaging#DestinationIdentity": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Recipient identifier. E.164 phone number for TEXT/VOICE, WhatsApp address for WHATSAPP.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 20
                },
                "smithy.api#pattern": "^[\\x21-\\x22\\x24-\\x7E]+$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.endusermessaging#EndUserMessaging": {
            "type": "service",
            "version": "2026-09-21",
            "operations": [
                {
                    "target": "com.amazonaws.endusermessaging#CreateBrandProfile"
                },
                {
                    "target": "com.amazonaws.endusermessaging#CreateBrandProfileAttributes"
                },
                {
                    "target": "com.amazonaws.endusermessaging#CreateBrandProfileFromRegistration"
                },
                {
                    "target": "com.amazonaws.endusermessaging#CreateNotifyCodeConfiguration"
                },
                {
                    "target": "com.amazonaws.endusermessaging#CreateRegistrationsFromBrandProfile"
                },
                {
                    "target": "com.amazonaws.endusermessaging#DeleteBrandProfile"
                },
                {
                    "target": "com.amazonaws.endusermessaging#DeleteBrandProfileAttribute"
                },
                {
                    "target": "com.amazonaws.endusermessaging#DeleteNotifyCodeConfiguration"
                },
                {
                    "target": "com.amazonaws.endusermessaging#GetBrandProfile"
                },
                {
                    "target": "com.amazonaws.endusermessaging#GetBrandProfileAttribute"
                },
                {
                    "target": "com.amazonaws.endusermessaging#GetJob"
                },
                {
                    "target": "com.amazonaws.endusermessaging#GetNotifyCodeConfiguration"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ListBrandProfileAttributes"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ListBrandProfiles"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ListJobs"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ListNotifyCodeConfigurations"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ListRegistrationsFromBrandProfile"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.endusermessaging#SendNotifyCodeVerification"
                },
                {
                    "target": "com.amazonaws.endusermessaging#TagResource"
                },
                {
                    "target": "com.amazonaws.endusermessaging#UntagResource"
                },
                {
                    "target": "com.amazonaws.endusermessaging#UpdateBrandProfile"
                },
                {
                    "target": "com.amazonaws.endusermessaging#UpdateBrandProfileAttribute"
                },
                {
                    "target": "com.amazonaws.endusermessaging#UpdateBrandProfileFromRegistration"
                },
                {
                    "target": "com.amazonaws.endusermessaging#UpdateNotifyCodeConfiguration"
                },
                {
                    "target": "com.amazonaws.endusermessaging#UpdateRegistrationsFromBrandProfile"
                },
                {
                    "target": "com.amazonaws.endusermessaging#ValidateNotifyCodeVerification"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "EndUserMessaging",
                    "arnNamespace": "end-user-messaging",
                    "cloudTrailEventSource": "end-user-messaging.amazonaws.com",
                    "endpointPrefix": "end-user-messaging"
                },
                "aws.auth#sigv4": {
                    "name": "end-user-messaging"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>AWS End User Messaging provides a set of APIs to manage brand profiles, synchronize brand profile data with SMS and Rich Communication Services (RCS) registrations, and send and validate one-time passcodes across the SMS, voice, and WhatsApp channels.</p>",
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "maxResults"
                },
                "smithy.api#title": "AWS End User Messaging",
                "smithy.rules#endpointBdd": {
                    "version": "1.1",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "conditions": [
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "Endpoint"
                                }
                            ]
                        },
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "Region"
                                }
                            ]
                        },
                        {
                            "fn": "aws.partition",
                            "argv": [
                                {
                                    "ref": "Region"
                                }
                            ],
                            "assign": "PartitionResult"
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "ref": "UseFIPS"
                                },
                                true
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "ref": "UseDualStack"
                                },
                                true
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                    ]
                                },
                                true
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                    ]
                                },
                                true
                            ]
                        }
                    ],
                    "results": [
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": {
                                    "ref": "Endpoint"
                                },
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://end-user-messaging-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://end-user-messaging-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "FIPS is enabled but this partition does not support FIPS",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://end-user-messaging.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "DualStack is enabled but this partition does not support DualStack",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://end-user-messaging.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ],
                    "root": 2,
                    "nodeCount": 13,
                    "nodes": "/////wAAAAH/////AAAAAAAAAAwAAAADAAAAAQAAAAQF9eELAAAAAgAAAAUF9eELAAAAAwAAAAgAAAAGAAAABAAAAAcF9eEKAAAABQX14QgF9eEJAAAABAAAAAoAAAAJAAAABgX14QYF9eEHAAAABQAAAAsF9eEFAAAABgX14QQF9eEFAAAAAwX14QEAAAANAAAABAX14QIF9eED"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://end-user-messaging-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://end-user-messaging-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
[...]
