{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.entityresolution#AWSVeniceService": {
            "type": "service",
            "version": "2018-05-10",
            "operations": [
                {
                    "target": "com.amazonaws.entityresolution#AddPolicyStatement"
                },
                {
                    "target": "com.amazonaws.entityresolution#BatchDeleteUniqueId"
                },
                {
                    "target": "com.amazonaws.entityresolution#CreateIdMappingWorkflow"
                },
                {
                    "target": "com.amazonaws.entityresolution#CreateIdNamespace"
                },
                {
                    "target": "com.amazonaws.entityresolution#CreateMatchingWorkflow"
                },
                {
                    "target": "com.amazonaws.entityresolution#CreateSchemaMapping"
                },
                {
                    "target": "com.amazonaws.entityresolution#DeleteIdMappingWorkflow"
                },
                {
                    "target": "com.amazonaws.entityresolution#DeleteIdNamespace"
                },
                {
                    "target": "com.amazonaws.entityresolution#DeleteMatchingWorkflow"
                },
                {
                    "target": "com.amazonaws.entityresolution#DeletePolicyStatement"
                },
                {
                    "target": "com.amazonaws.entityresolution#DeleteSchemaMapping"
                },
                {
                    "target": "com.amazonaws.entityresolution#GenerateMatchId"
                },
                {
                    "target": "com.amazonaws.entityresolution#GetIdMappingJob"
                },
                {
                    "target": "com.amazonaws.entityresolution#GetIdMappingWorkflow"
                },
                {
                    "target": "com.amazonaws.entityresolution#GetIdNamespace"
                },
                {
                    "target": "com.amazonaws.entityresolution#GetMatchId"
                },
                {
                    "target": "com.amazonaws.entityresolution#GetMatchingJob"
                },
                {
                    "target": "com.amazonaws.entityresolution#GetMatchingWorkflow"
                },
                {
                    "target": "com.amazonaws.entityresolution#GetPolicy"
                },
                {
                    "target": "com.amazonaws.entityresolution#GetProviderService"
                },
                {
                    "target": "com.amazonaws.entityresolution#GetSchemaMapping"
                },
                {
                    "target": "com.amazonaws.entityresolution#ListIdMappingJobs"
                },
                {
                    "target": "com.amazonaws.entityresolution#ListIdMappingWorkflows"
                },
                {
                    "target": "com.amazonaws.entityresolution#ListIdNamespaces"
                },
                {
                    "target": "com.amazonaws.entityresolution#ListMatchingJobs"
                },
                {
                    "target": "com.amazonaws.entityresolution#ListMatchingWorkflows"
                },
                {
                    "target": "com.amazonaws.entityresolution#ListProviderServices"
                },
                {
                    "target": "com.amazonaws.entityresolution#ListSchemaMappings"
                },
                {
                    "target": "com.amazonaws.entityresolution#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.entityresolution#PutPolicy"
                },
                {
                    "target": "com.amazonaws.entityresolution#StartIdMappingJob"
                },
                {
                    "target": "com.amazonaws.entityresolution#StartMatchingJob"
                },
                {
                    "target": "com.amazonaws.entityresolution#TagResource"
                },
                {
                    "target": "com.amazonaws.entityresolution#UntagResource"
                },
                {
                    "target": "com.amazonaws.entityresolution#UpdateIdMappingWorkflow"
                },
                {
                    "target": "com.amazonaws.entityresolution#UpdateIdNamespace"
                },
                {
                    "target": "com.amazonaws.entityresolution#UpdateMatchingWorkflow"
                },
                {
                    "target": "com.amazonaws.entityresolution#UpdateSchemaMapping"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "EntityResolution",
                    "arnNamespace": "entityresolution",
                    "cloudTrailEventSource": "entityresolution.amazonaws.com"
                },
                "aws.auth#sigv4": {
                    "name": "entityresolution"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "additionalAllowedHeaders": [
                        "*",
                        "content-type",
                        "x-amz-content-sha256",
                        "x-amz-user-agent",
                        "x-amzn-platform-id",
                        "x-amzn-trace-id"
                    ],
                    "additionalExposedHeaders": [
                        "x-amzn-errortype",
                        "x-amzn-requestid",
                        "x-amzn-trace-id"
                    ],
                    "maxAge": 86400
                },
                "smithy.api#documentation": "<p>Welcome to the <i>Entity Resolution API Reference</i>.</p> <p>Entity Resolution is an Amazon Web Services service that provides pre-configured entity resolution capabilities that enable developers and analysts at advertising and marketing companies to build an accurate and complete view of their consumers.</p> <p> With Entity Resolution, you can match source records containing consumer identifiers, such as name, email address, and phone number. This is true even when these records have incomplete or conflicting identifiers. For example, Entity Resolution can effectively match a source record from a customer relationship management (CRM) system with a source record from a marketing system containing campaign information.</p> <p>To learn more about Entity Resolution concepts, procedures, and best practices, see the <a href=\"https://docs.aws.amazon.com/entityresolution/latest/userguide/what-is-service.html\">Entity Resolution User Guide</a>.</p>",
                "smithy.api#title": "AWS EntityResolution",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://entityresolution-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://entityresolution-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://entityresolution.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://entityresolution.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://entityresolution.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.entityresolution#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.entityresolution#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action. </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.entityresolution#AddPolicyStatement": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.entityresolution#AddPolicyStatementInput"
            },
            "output": {
                "target": "com.amazonaws.entityresolution#AddPolicyStatementOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.entityresolution#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ConflictException"
                },
                {
                    "target": "com.amazonaws.entityresolution#InternalServerException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds a policy statement object. To retrieve a list of existing policy statements, use the <code>GetPolicy</code> API.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/policies/{arn}/{statementId}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.entityresolution#AddPolicyStatementInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.entityresolution#VeniceGlobalArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource that will be accessed by the principal.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "statementId": {
                    "target": "com.amazonaws.entityresolution#StatementId",
                    "traits": {
                        "smithy.api#documentation": "<p>A statement identifier that differentiates the statement from others in the same policy.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "effect": {
                    "target": "com.amazonaws.entityresolution#StatementEffect",
                    "traits": {
                        "smithy.api#documentation": "<p>Determines whether the permissions specified in the policy are to be allowed (<code>Allow</code>) or denied (<code>Deny</code>).</p> <important> <p> If you set the value of the <code>effect</code> parameter to <code>Deny</code> for the <code>AddPolicyStatement</code> operation, you must also set the value of the <code>effect</code> parameter in the <code>policy</code> to <code>Deny</code> for the <code>PutPolicy</code> operation.</p> </important>",
                        "smithy.api#required": {}
                    }
                },
                "action": {
                    "target": "com.amazonaws.entityresolution#StatementActionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The action that the principal can use on the resource. </p> <p>For example, <code>entityresolution:GetIdMappingJob</code>, <code>entityresolution:GetMatchingJob</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "principal": {
                    "target": "com.amazonaws.entityresolution#StatementPrincipalList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services service or Amazon Web Services account that can access the resource defined as ARN.</p>",
                        "smithy.api#required": {}
                    }
                },
                "condition": {
                    "target": "com.amazonaws.entityresolution#StatementCondition",
                    "traits": {
                        "smithy.api#documentation": "<p>A set of condition keys that you can use in key policies.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.entityresolution#AddPolicyStatementOutput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.entityresolution#VeniceGlobalArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource that will be accessed by the principal.</p>",
                        "smithy.api#required": {}
                    }
                },
                "token": {
                    "target": "com.amazonaws.entityresolution#PolicyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier for the current revision of the policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "policy": {
                    "target": "com.amazonaws.entityresolution#PolicyDocument",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource-based policy.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.entityresolution#AttributeMatchingModel": {
            "type": "enum",
            "members": {
                "ONE_TO_ONE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ONE_TO_ONE"
                    }
                },
                "MANY_TO_MANY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MANY_TO_MANY"
                    }
                }
            }
        },
        "com.amazonaws.entityresolution#AttributeName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 255
                },
                "smithy.api#pattern": "^[a-zA-Z_0-9- ]*$"
            }
        },
        "com.amazonaws.entityresolution#AwsAccountId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^\\d{12}$"
            }
        },
        "com.amazonaws.entityresolution#AwsAccountIdList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.entityresolution#AwsAccountId"
            }
        },
        "com.amazonaws.entityresolution#BatchDeleteUniqueId": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.entityresolution#BatchDeleteUniqueIdInput"
            },
            "output": {
                "target": "com.amazonaws.entityresolution#BatchDeleteUniqueIdOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.entityresolution#InternalServerException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes multiple unique IDs in a matching workflow.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/matchingworkflows/{workflowName}/uniqueids"
                }
            }
        },
        "com.amazonaws.entityresolution#BatchDeleteUniqueIdInput": {
            "type": "structure",
            "members": {
                "workflowName": {
                    "target": "com.amazonaws.entityresolution#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the workflow.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "inputSource": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The input source for the batch delete unique ID operation.</p>",
                        "smithy.api#httpHeader": "inputSource",
                        "smithy.api#pattern": "^arn:(aws|aws-us-gov|aws-cn):glue:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(table/[a-zA-Z_0-9-]{1,255}/[a-zA-Z_0-9-]{1,255})$"
                    }
                },
                "uniqueIds": {
                    "target": "com.amazonaws.entityresolution#UniqueIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique IDs to delete.</p>",
                        "smithy.api#httpHeader": "uniqueIds",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.entityresolution#BatchDeleteUniqueIdOutput": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "com.amazonaws.entityresolution#DeleteUniqueIdStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the batch delete unique ID operation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "errors": {
                    "target": "com.amazonaws.entityresolution#DeleteUniqueIdErrorsList",
                    "traits": {
                        "smithy.api#documentation": "<p> The errors from deleting multiple unique IDs.</p>",
                        "smithy.api#required": {}
                    }
                },
                "deleted": {
                    "target": "com.amazonaws.entityresolution#DeletedUniqueIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique IDs that were deleted.</p>",
                        "smithy.api#required": {}
                    }
                },
                "disconnectedUniqueIds": {
                    "target": "com.amazonaws.entityresolution#DisconnectedUniqueIdsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique IDs that were disconnected.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.entityresolution#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.entityresolution#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request couldn't be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.entityresolution#CreateIdMappingWorkflow": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.entityresolution#CreateIdMappingWorkflowInput"
            },
            "output": {
                "target": "com.amazonaws.entityresolution#CreateIdMappingWorkflowOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.entityresolution#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ConflictException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ExceedsLimitException"
                },
                {
                    "target": "com.amazonaws.entityresolution#InternalServerException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an <code>IdMappingWorkflow</code> object which stores the configuration of the data processing job to be run. Each <code>IdMappingWorkflow</code> must have a unique workflow name. To modify an existing workflow, use the UpdateIdMappingWorkflow API.</p> <important> <p>Incremental processing is not supported for ID mapping workflows. </p> </important>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/idmappingworkflows"
                }
            }
        },
        "com.amazonaws.entityresolution#CreateIdMappingWorkflowInput": {
            "type": "structure",
            "members": {
                "workflowName": {
                    "target": "com.amazonaws.entityresolution#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the workflow. There can't be multiple <code>IdMappingWorkflows</code> with the same name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.entityresolution#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the workflow.</p>"
                    }
                },
                "inputSourceConfig": {
                    "target": "com.amazonaws.entityresolution#IdMappingWorkflowInputSourceConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "outputSourceConfig": {
                    "target": "com.amazonaws.entityresolution#IdMappingWorkflowOutputSourceConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>IdMappingWorkflowOutputSource</code> objects, each of which contains fields <code>outputS3Path</code> and <code>KMSArn</code>.</p>"
                    }
                },
                "idMappingTechniques": {
                    "target": "com.amazonaws.entityresolution#IdMappingTechniques",
                    "traits": {
                        "smithy.api#documentation": "<p>An object which defines the ID mapping technique and any additional configurations.</p>",
                        "smithy.api#required": {}
                    }
                },
                "incrementalRunConfig": {
                    "target": "com.amazonaws.entityresolution#IdMappingIncrementalRunConfig",
                    "traits": {
                        "smithy.api#documentation": "<p> The incremental run configuration for the ID mapping workflow.</p>"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.entityresolution#IdMappingRoleArn",
                    "traits": {
                        "smithy.api#addedDefault": {},
                        "smithy.api#default": "",
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to create resources on your behalf as part of workflow execution.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.entityresolution#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.entityresolution#CreateIdMappingWorkflowOutput": {
            "type": "structure",
            "members": {
                "workflowName": {
                    "target": "com.amazonaws.entityresolution#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the workflow.</p>",
                        "smithy.api#required": {}
                    }
                },
                "workflowArn": {
                    "target": "com.amazonaws.entityresolution#IdMappingWorkflowArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) that Entity Resolution generated for the <code>IDMappingWorkflow</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.entityresolution#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the workflow.</p>"
                    }
                },
                "inputSourceConfig": {
                    "target": "com.amazonaws.entityresolution#IdMappingWorkflowInputSourceConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "outputSourceConfig": {
                    "target": "com.amazonaws.entityresolution#IdMappingWorkflowOutputSourceConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>IdMappingWorkflowOutputSource</code> objects, each of which contains fields <code>outputS3Path</code> and <code>KMSArn</code>.</p>"
                    }
                },
                "idMappingTechniques": {
                    "target": "com.amazonaws.entityresolution#IdMappingTechniques",
                    "traits": {
                        "smithy.api#documentation": "<p>An object which defines the ID mapping technique and any additional configurations.</p>",
                        "smithy.api#required": {}
                    }
                },
                "incrementalRunConfig": {
                    "target": "com.amazonaws.entityresolution#IdMappingIncrementalRunConfig",
                    "traits": {
                        "smithy.api#documentation": "<p> The incremental run configuration for the ID mapping workflow.</p>"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.entityresolution#IdMappingRoleArn",
                    "traits": {
                        "smithy.api#addedDefault": {},
                        "smithy.api#default": "",
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to create resources on your behalf as part of workflow execution.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.entityresolution#CreateIdNamespace": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.entityresolution#CreateIdNamespaceInput"
            },
            "output": {
                "target": "com.amazonaws.entityresolution#CreateIdNamespaceOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.entityresolution#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ConflictException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ExceedsLimitException"
                },
                {
                    "target": "com.amazonaws.entityresolution#InternalServerException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an ID namespace object which will help customers provide metadata explaining their dataset and how to use it. Each ID namespace must have a unique name. To modify an existing ID namespace, use the UpdateIdNamespace API.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/idnamespaces"
                }
            }
        },
        "com.amazonaws.entityresolution#CreateIdNamespaceInput": {
            "type": "structure",
            "members": {
                "idNamespaceName": {
                    "target": "com.amazonaws.entityresolution#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the ID namespace.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.entityresolution#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the ID namespace.</p>"
                    }
                },
                "inputSourceConfig": {
                    "target": "com.amazonaws.entityresolution#IdNamespaceInputSourceConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>"
                    }
                },
                "idMappingWorkflowProperties": {
                    "target": "com.amazonaws.entityresolution#IdNamespaceIdMappingWorkflowPropertiesList",
                    "traits": {
                        "smithy.api#documentation": "<p>Determines the properties of <code>IdMappingWorflow</code> where this <code>IdNamespace</code> can be used as a <code>Source</code> or a <code>Target</code>.</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.entityresolution#IdNamespaceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of ID namespace. There are two types: <code>SOURCE</code> and <code>TARGET</code>. </p> <p>The <code>SOURCE</code> contains configurations for <code>sourceId</code> data that will be processed in an ID mapping workflow. </p> <p>The <code>TARGET</code> contains a configuration of <code>targetId</code> to which all <code>sourceIds</code> will resolve to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.entityresolution#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to access the resources defined in this <code>IdNamespace</code> on your behalf as part of the workflow run.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.entityresolution#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.entityresolution#CreateIdNamespaceOutput": {
            "type": "structure",
            "members": {
                "idNamespaceName": {
                    "target": "com.amazonaws.entityresolution#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the ID namespace.</p>",
                        "smithy.api#required": {}
                    }
                },
                "idNamespaceArn": {
                    "target": "com.amazonaws.entityresolution#IdNamespaceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ID namespace.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.entityresolution#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the ID namespace.</p>"
                    }
                },
                "inputSourceConfig": {
                    "target": "com.amazonaws.entityresolution#IdNamespaceInputSourceConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>"
                    }
                },
                "idMappingWorkflowProperties": {
                    "target": "com.amazonaws.entityresolution#IdNamespaceIdMappingWorkflowPropertiesList",
                    "traits": {
                        "smithy.api#documentation": "<p>Determines the properties of <code>IdMappingWorkflow</code> where this <code>IdNamespace</code> can be used as a <code>Source</code> or a <code>Target</code>.</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.entityresolution#IdNamespaceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of ID namespace. There are two types: <code>SOURCE</code> and <code>TARGET</code>.</p> <p>The <code>SOURCE</code> contains configurations for <code>sourceId</code> data that will be processed in an ID mapping workflow. </p> <p>The <code>TARGET</code> contains a configuration of <code>targetId</code> to which all <code>sourceIds</code> will resolve to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.entityresolution#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to access the resources defined in <code>inputSourceConfig</code> on your behalf as part of the workflow run.</p>"
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the ID namespace was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the ID namespace was last updated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.entityresolution#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.entityresolution#CreateMatchingWorkflow": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.entityresolution#CreateMatchingWorkflowInput"
            },
            "output": {
                "target": "com.amazonaws.entityresolution#CreateMatchingWorkflowOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.entityresolution#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ConflictException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ExceedsLimitException"
                },
                {
                    "target": "com.amazonaws.entityresolution#InternalServerException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a matching workflow that defines the configuration for a data processing job. The workflow name must be unique. To modify an existing workflow, use <code>UpdateMatchingWorkflow</code>. </p> <important> <p>For workflows where <code>resolutionType</code> is <code>ML_MATCHING</code> or <code>PROVIDER</code>, incremental processing is not supported. </p> </important>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/matchingworkflows"
                }
            }
        },
        "com.amazonaws.entityresolution#CreateMatchingWorkflowInput": {
            "type": "structure",
            "members": {
                "workflowName": {
                    "target": "com.amazonaws.entityresolution#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the workflow. There can't be multiple <code>MatchingWorkflows</code> with the same name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.entityresolution#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the workflow.</p>"
                    }
                },
                "inputSourceConfig": {
                    "target": "com.amazonaws.entityresolution#InputSourceConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "outputSourceConfig": {
                    "target": "com.amazonaws.entityresolution#OutputSourceConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>OutputSource</code> objects, each of which contains fields <code>outputS3Path</code>, <code>applyNormalization</code>, <code>KMSArn</code>, and <code>output</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resolutionTechniques": {
                    "target": "com.amazonaws.entityresolution#ResolutionTechniques",
                    "traits": {
                        "smithy.api#documentation": "<p>An object which defines the <code>resolutionType</code> and the <code>ruleBasedProperties</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "incrementalRunConfig": {
                    "target": "com.amazonaws.entityresolution#IncrementalRunConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional. An object that defines the incremental run type. This object contains only the <code>incrementalRunType</code> field, which appears as \"Automatic\" in the console. </p> <important> <p>For workflows where <code>resolutionType</code> is <code>ML_MATCHING</code> or <code>PROVIDER</code>, incremental processing is not supported. </p> </important>"
                    }
                },
                "roleArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to create resources on your behalf as part of workflow execution.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.entityresolution#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.entityresolution#CreateMatchingWorkflowOutput": {
            "type": "structure",
            "members": {
                "workflowName": {
                    "target": "com.amazonaws.entityresolution#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the workflow.</p>",
                        "smithy.api#required": {}
                    }
                },
                "workflowArn": {
                    "target": "com.amazonaws.entityresolution#MatchingWorkflowArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) that Entity Resolution generated for the <code>MatchingWorkflow</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.entityresolution#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the workflow.</p>"
                    }
                },
                "inputSourceConfig": {
                    "target": "com.amazonaws.entityresolution#InputSourceConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "outputSourceConfig": {
                    "target": "com.amazonaws.entityresolution#OutputSourceConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>OutputSource</code> objects, each of which contains fields <code>outputS3Path</code>, <code>applyNormalization</code>, <code>KMSArn</code>, and <code>output</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resolutionTechniques": {
                    "target": "com.amazonaws.entityresolution#ResolutionTechniques",
                    "traits": {
                        "smithy.api#documentation": "<p>An object which defines the <code>resolutionType</code> and the <code>ruleBasedProperties</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "incrementalRunConfig": {
                    "target": "com.amazonaws.entityresolution#IncrementalRunConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>An object which defines an incremental run type and has only <code>incrementalRunType</code> as a field.</p>"
                    }
                },
                "roleArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to create resources on your behalf as part of workflow execution.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.entityresolution#CreateSchemaMapping": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.entityresolution#CreateSchemaMappingInput"
            },
            "output": {
                "target": "com.amazonaws.entityresolution#CreateSchemaMappingOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.entityresolution#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ConflictException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ExceedsLimitException"
                },
                {
                    "target": "com.amazonaws.entityresolution#InternalServerException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a schema mapping, which defines the schema of the input customer records table. The <code>SchemaMapping</code> also provides Entity Resolution with some metadata about the table, such as the attribute types of the columns and which columns to match on.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/schemas"
                }
            }
        },
        "com.amazonaws.entityresolution#CreateSchemaMappingInput": {
            "type": "structure",
            "members": {
                "schemaName": {
                    "target": "com.amazonaws.entityresolution#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the schema. There can't be multiple <code>SchemaMappings</code> with the same name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.entityresolution#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the schema.</p>"
                    }
                },
                "mappedInputFields": {
                    "target": "com.amazonaws.entityresolution#SchemaInputAttributes",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>MappedInputFields</code>. Each <code>MappedInputField</code> corresponds to a column the source data table, and contains column name plus additional information that Entity Resolution uses for matching.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.entityresolution#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.entityresolution#CreateSchemaMappingOutput": {
            "type": "structure",
            "members": {
                "schemaName": {
                    "target": "com.amazonaws.entityresolution#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the schema.</p>",
                        "smithy.api#required": {}
                    }
                },
                "schemaArn": {
                    "target": "com.amazonaws.entityresolution#SchemaMappingArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) that Entity Resolution generated for the <code>SchemaMapping</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.entityresolution#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the schema.</p>",
                        "smithy.api#required": {}
                    }
                },
                "mappedInputFields": {
                    "target": "com.amazonaws.entityresolution#SchemaInputAttributes",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>MappedInputFields</code>. Each <code>MappedInputField</code> corresponds to a column the source data table, and contains column name plus additional information that Entity Resolution uses for matching.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.entityresolution#DeleteIdMappingWorkflow": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.entityresolution#DeleteIdMappingWorkflowInput"
            },
            "output": {
                "target": "com.amazonaws.entityresolution#DeleteIdMappingWorkflowOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.entityresolution#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ConflictException"
                },
                {
                    "target": "com.amazonaws.entityresolution#InternalServerException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the <code>IdMappingWorkflow</code> with a given name. This operation will succeed even if a workflow with the given name does not exist.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/idmappingworkflows/{workflowName}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.entityresolution#DeleteIdMappingWorkflowInput": {
            "type": "structure",
            "members": {
                "workflowName": {
                    "target": "com.amazonaws.entityresolution#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the workflow to be deleted.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.entityresolution#DeleteIdMappingWorkflowOutput": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A successful operation message.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.entityresolution#DeleteIdNamespace": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.entityresolution#DeleteIdNamespaceInput"
            },
            "output": {
                "target": "com.amazonaws.entityresolution#DeleteIdNamespaceOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.entityresolution#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.entityresolution#InternalServerException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the <code>IdNamespace</code> with a given name.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/idnamespaces/{idNamespaceName}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.entityresolution#DeleteIdNamespaceInput": {
            "type": "structure",
            "members": {
                "idNamespaceName": {
                    "target": "com.amazonaws.entityresolution#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the ID namespace.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.entityresolution#DeleteIdNamespaceOutput": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A successful operation message.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.entityresolution#DeleteMatchingWorkflow": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.entityresolution#DeleteMatchingWorkflowInput"
            },
            "output": {
                "target": "com.amazonaws.entityresolution#DeleteMatchingWorkflowOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.entityresolution#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ConflictException"
                },
                {
                    "target": "com.amazonaws.entityresolution#InternalServerException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the <code>MatchingWorkflow</code> with a given name. This operation will succeed even if a workflow with the given name does not exist.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/matchingworkflows/{workflowName}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.entityresolution#DeleteMatchingWorkflowInput": {
            "type": "structure",
            "members": {
                "workflowName": {
                    "target": "com.amazonaws.entityresolution#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the workflow to be retrieved.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.entityresolution#DeleteMatchingWorkflowOutput": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A successful operation message.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.entityresolution#DeletePolicyStatement": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.entityresolution#DeletePolicyStatementInput"
            },
            "output": {
                "target": "com.amazonaws.entityresolution#DeletePolicyStatementOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.entityresolution#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ConflictException"
                },
                {
                    "target": "com.amazonaws.entityresolution#InternalServerException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the policy statement.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/policies/{arn}/{statementId}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.entityresolution#DeletePolicyStatementInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.entityresolution#VeniceGlobalArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the resource for which the policy need to be deleted.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "statementId": {
                    "target": "com.amazonaws.entityresolution#StatementId",
                    "traits": {
                        "smithy.api#documentation": "<p>A statement identifier that differentiates the statement from others in the same policy.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.entityresolution#DeletePolicyStatementOutput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.entityresolution#VeniceGlobalArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the resource for which the policy need to be deleted.</p>",
                        "smithy.api#required": {}
                    }
                },
                "token": {
                    "target": "com.amazonaws.entityresolution#PolicyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier for the deleted policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "policy": {
                    "target": "com.amazonaws.entityresolution#PolicyDocument",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource-based policy.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.entityresolution#DeleteSchemaMapping": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.entityresolution#DeleteSchemaMappingInput"
            },
            "output": {
                "target": "com.amazonaws.entityresolution#DeleteSchemaMappingOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.entityresolution#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ConflictException"
                },
                {
                    "target": "com.amazonaws.entityresolution#InternalServerException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.entityresolution#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the <code>SchemaMapping</code> with a given name. This operation will succeed even if a schema with the given name does not exist. This operation will fail if there is a <code>MatchingWorkflow</code> object that references the <code>SchemaMapping</code> in the workflow's <code>InputSourceConfig</code>.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/schemas/{schemaName}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.entityresolution#DeleteSchemaMappingInput": {
            "type": "structure",
            "members": {
[...]
