{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "RuleSetAwsBuiltIn.AWS::Auth::AccountIdEndpointMode",
                "namespace": "*"
            },
            {
                "id": "RuleSetAwsBuiltIn.AWS::Auth::AccountId",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.eventbridgev2#AWSEventsV2": {
            "type": "service",
            "version": "2025-05-15",
            "operations": [
                {
                    "target": "com.amazonaws.eventbridgev2#CreateEventBus"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#CreateEventSource"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#CreateSubscriber"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#DeleteEventBus"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#DeleteEventSource"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#DeleteResourcePolicy"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#DeleteSubscriber"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#DescribeEventBus"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#DescribeEventSource"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#DescribeSubscriber"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#GetResourcePolicy"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#ListEventBuses"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#ListEventSources"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#ListResourcePolicies"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#ListSubscribers"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#PutEvents"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#PutRawEvents"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#PutResourcePolicy"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#RevokeResource"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#TagResource"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#UntagResource"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#UpdateEventBus"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#UpdateEventSource"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#UpdateSubscriber"
                }
            ],
            "errors": [
                {
                    "target": "com.amazonaws.eventbridgev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#InternalException"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.eventbridgev2#ThrottlingException"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "EventBridgeV2",
                    "arnNamespace": "events",
                    "endpointPrefix": "eventsv2"
                },
                "aws.auth#sigv4": {
                    "name": "events"
                },
                "smithy.api#documentation": "Amazon EventBridge event bus API. An event bus receives events published by\nyour applications and AWS services, stores them for a configurable retention\nperiod, and delivers them to subscribers. A subscriber filters events,\noptionally transforms them, and invokes a target such as Lambda, SQS, SNS,\nKinesis, Step Functions, or an HTTP endpoint. The API manages event buses,\nsubscribers, event sources, resource policies, and tags, and publishes\nevents through PutEvents and PutRawEvents.",
                "smithy.api#title": "Amazon EventBridgeV2",
                "smithy.api#xmlNamespace": {
                    "uri": "http://eventsv2.amazonaws.com/doc/2025-05-15"
                },
                "smithy.protocols#rpcv2Cbor": {},
                "smithy.rules#endpointBdd": {
                    "version": "1.1",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": true,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request.",
                            "type": "string"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint.",
                            "type": "boolean"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint.",
                            "type": "boolean"
                        },
                        "AccountId": {
                            "builtIn": "AWS::Auth::AccountId",
                            "required": false,
                            "documentation": "The AWS account ID used for the request, sourced from the caller's credentials.",
                            "type": "string"
                        },
                        "EventBusArn": {
                            "required": false,
                            "documentation": "The bus ARN from the request, bound via @contextParam. Its account is the bus owner and takes precedence over the credentials-sourced account for cell routing (cross-account calls).",
                            "type": "string"
                        },
                        "AccountIdEndpointMode": {
                            "builtIn": "AWS::Auth::AccountIdEndpointMode",
                            "required": false,
                            "documentation": "The behavior for account ID based endpoint routing: preferred, disabled, or required.",
                            "type": "string"
                        }
                    },
                    "conditions": [
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "Endpoint"
                                }
                            ]
                        },
                        {
                            "fn": "aws.partition",
                            "argv": [
                                {
                                    "ref": "Region"
                                }
                            ],
                            "assign": "PartitionResult"
                        },
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "AccountIdEndpointMode"
                                }
                            ]
                        },
                        {
                            "fn": "stringEquals",
                            "argv": [
                                {
                                    "ref": "AccountIdEndpointMode"
                                },
                                "disabled"
                            ]
                        },
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "EventBusArn"
                                }
                            ]
                        },
                        {
                            "fn": "aws.parseArn",
                            "argv": [
                                {
                                    "ref": "EventBusArn"
                                }
                            ],
                            "assign": "ParsedBusArn"
                        },
                        {
                            "fn": "stringEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "ParsedBusArn"
                                        },
                                        "service"
                                    ]
                                },
                                "events"
                            ]
                        },
                        {
                            "fn": "isValidHostLabel",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "ParsedBusArn"
                                        },
                                        "accountId"
                                    ]
                                },
                                false
                            ]
                        },
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "AccountId"
                                }
                            ]
                        },
                        {
                            "fn": "stringEquals",
                            "argv": [
                                {
                                    "ref": "AccountIdEndpointMode"
                                },
                                "required"
                            ]
                        },
                        {
                            "fn": "isValidHostLabel",
                            "argv": [
                                {
                                    "ref": "AccountId"
                                },
                                false
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "ref": "UseFIPS"
                                },
                                true
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "ref": "UseDualStack"
                                },
                                true
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                    ]
                                },
                                true
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                    ]
                                },
                                true
                            ]
                        }
                    ],
                    "results": [
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": {
                                    "ref": "Endpoint"
                                },
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://{ParsedBusArn#accountId}.eventsv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {
                                    "metricValues": [
                                        "O"
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://{ParsedBusArn#accountId}.eventsv2-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {
                                    "metricValues": [
                                        "O"
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "FIPS is enabled but this partition does not support FIPS",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://{ParsedBusArn#accountId}.eventsv2.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {
                                    "metricValues": [
                                        "O"
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "DualStack is enabled but this partition does not support DualStack",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://{ParsedBusArn#accountId}.eventsv2.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {
                                    "metricValues": [
                                        "O"
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://{AccountId}.eventsv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {
                                    "metricValues": [
                                        "O"
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://{AccountId}.eventsv2-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {
                                    "metricValues": [
                                        "O"
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://{AccountId}.eventsv2.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {
                                    "metricValues": [
                                        "O"
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://{AccountId}.eventsv2.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {
                                    "metricValues": [
                                        "O"
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "Credentials-sourced account ID parameter is invalid",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "error": "AccountIdEndpointMode is required but no AccountID was provided or able to be loaded",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://eventsv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://eventsv2-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://eventsv2.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://eventsv2.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        }
                    ],
                    "root": 2,
                    "nodeCount": 35,
                    "nodes": "/////wAAAAH/////AAAAAAAAACIAAAADAAAAAQAAAAQF9eEAAAAAAgAAAAUAAAAbAAAAAwAAABoAAAAGAAAABAAAAAcAAAAKAAAABQAAAAgAAAAKAAAABgAAAAkAAAAKAAAABwAAABMAAAAKAAAACAAAAAsAAAAaAAAACgAAAAwF9eEPAAAACwAAAA8AAAANAAAADAAAAA4F9eEOAAAADQX14Q0F9eEJAAAADAAAABEAAAAQAAAADgX14QwF9eEHAAAADQAAABIF9eEFAAAADgX14QsF9eEFAAAACwAAABYAAAAUAAAADAAAABUF9eEKAAAADQX14QgF9eEJAAAADAAAABgAAAAXAAAADgX14QYF9eEHAAAADQAAABkF9eEFAAAADgX14QQF9eEFAAAACQX14RAAAAAbAAAACwAAAB4AAAAcAAAADAAAAB0F9eEUAAAADQX14RMF9eEJAAAADAAAACAAAAAfAAAADgX14RIF9eEHAAAADQAAACEF9eEFAAAADgX14REF9eEFAAAACwX14QEAAAAjAAAADAX14QIF9eED"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "type": "String",
                            "builtIn": "AWS::Region",
                            "required": true,
                            "documentation": "The AWS region used to dispatch the request."
                        },
                        "Endpoint": {
                            "type": "String",
                            "builtIn": "SDK::Endpoint",
                            "documentation": "Override the endpoint used to send this request."
                        },
                        "UseFIPS": {
                            "type": "Boolean",
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint."
                        },
                        "UseDualStack": {
                            "type": "Boolean",
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint."
                        },
                        "AccountId": {
                            "type": "String",
                            "builtIn": "AWS::Auth::AccountId",
                            "documentation": "The AWS account ID used for the request, sourced from the caller's credentials."
                        },
                        "EventBusArn": {
                            "type": "String",
                            "documentation": "The bus ARN from the request, bound via @contextParam. Its account is the bus owner and takes precedence over the credentials-sourced account for cell routing (cross-account calls)."
                        },
                        "AccountIdEndpointMode": {
                            "type": "String",
                            "builtIn": "AWS::Auth::AccountIdEndpointMode",
                            "documentation": "The behavior for account ID based endpoint routing: preferred, disabled, or required."
                        }
                    },
                    "rules": [
                        {
                            "documentation": "An explicit endpoint override always wins; FIPS/DualStack cannot be combined with it.",
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "type": "tree",
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        }
                                    },
                                    "type": "endpoint"
                                }
                            ]
                        },
                        {
                            "documentation": "Resolve against the partition of the configured region.",
                            "conditions": [
                                {
                                    "fn": "aws.partition",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ],
                                    "assign": "PartitionResult"
                                }
                            ],
                            "type": "tree",
                            "rules": [
                                {
                                    "documentation": "Bus-owner account endpoint derived from the request's bus ARN (cross-account safe). Falls through to the credentials-sourced rule if the ARN does not parse or its account is not a valid host label. FIPS/DualStack partition support is validated per variant.",
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "AccountIdEndpointMode"
                                                }
                                            ]
                                        },
                                        {
                                            "fn": "not",
                                            "argv": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "AccountIdEndpointMode"
                                                        },
                                                        "disabled"
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "EventBusArn"
                                                }
                                            ]
                                        },
                                        {
                                            "fn": "aws.parseArn",
                                            "argv": [
                                                {
                                                    "ref": "EventBusArn"
                                                }
                                            ],
                                            "assign": "ParsedBusArn"
                                        },
                                        {
                                            "fn": "stringEquals",
                                            "argv": [
                                                {
                                                    "fn": "getAttr",
                                                    "argv": [
                                                        {
                                                            "ref": "ParsedBusArn"
                                                        },
                                                        "service"
                                                    ]
                                                },
                                                "events"
                                            ]
                                        },
                                        {
                                            "fn": "isValidHostLabel",
                                            "argv": [
                                                {
                                                    "fn": "getAttr",
                                                    "argv": [
                                                        {
                                                            "ref": "ParsedBusArn"
                                                        },
                                                        "accountId"
                                                    ]
                                                },
                                                false
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "endpoint": {
                                                        "url": "https://{ParsedBusArn#accountId}.eventsv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {
                                                            "metricValues": [
                                                                "O"
                                                            ]
                                                        }
                                                    },
                                                    "type": "endpoint"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "endpoint": {
                                                        "url": "https://{ParsedBusArn#accountId}.eventsv2-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                        "properties": {
                                                            "metricValues": [
                                                                "O"
                                                            ]
                                                        }
                                                    },
                                                    "type": "endpoint"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "endpoint": {
                                                        "url": "https://{ParsedBusArn#accountId}.eventsv2.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {
                                                            "metricValues": [
                                                                "O"
                                                            ]
                                                        }
                                                    },
                                                    "type": "endpoint"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://{ParsedBusArn#accountId}.eventsv2.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {
                                                    "metricValues": [
                                                        "O"
                                                    ]
                                                }
                                            },
                                            "type": "endpoint"
                                        }
                                    ]
                                },
                                {
                                    "documentation": "Account-based endpoint when routing is enabled and a credentials-sourced account ID is present. FIPS/DualStack partition support is validated per variant.",
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "AccountIdEndpointMode"
                                                }
                                            ]
                                        },
                                        {
                                            "fn": "not",
                                            "argv": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "AccountIdEndpointMode"
                                                        },
                                                        "disabled"
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "AccountId"
                                                }
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "isValidHostLabel",
                                                    "argv": [
                                                        {
                                                            "ref": "AccountId"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "type": "tree",
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://{AccountId}.eventsv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {
                                                                    "metricValues": [
                                                                        "O"
                                                                    ]
                                                                }
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "type": "tree",
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://{AccountId}.eventsv2-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {
                                                                    "metricValues": [
                                                                        "O"
                                                                    ]
                                                                }
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "type": "tree",
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://{AccountId}.eventsv2.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {
                                                                    "metricValues": [
                                                                        "O"
                                                                    ]
                                                                }
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://{AccountId}.eventsv2.{Region}.{PartitionResult#dnsSuffix}",
                                                        "properties": {
                                                            "metricValues": [
                                                                "O"
                                                            ]
                                                        }
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "Credentials-sourced account ID parameter is invalid",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "documentation": "Required mode could not produce an account-based endpoint: no account ID from the bus ARN or credentials. (An invalid credentials-sourced ID errors in the rule above.)",
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "AccountIdEndpointMode"
                                                }
                                            ]
                                        },
                                        {
                                            "fn": "stringEquals",
                                            "argv": [
                                                {
                                                    "ref": "AccountIdEndpointMode"
                                                },
                                                "required"
                                            ]
                                        }
                                    ],
                                    "error": "AccountIdEndpointMode is required but no AccountID was provided or able to be loaded",
                                    "type": "error"
                                },
                                {
                                    "documentation": "Regional endpoint fallback with FIPS/DualStack variants, validating partition support.",
                                    "conditions": [],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "endpoint": {
                                                        "url": "https://eventsv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                    },
                                                    "type": "endpoint"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "endpoint": {
                                                        "url": "https://eventsv2-fips.{Region}.{PartitionResult#dnsSuffix}"
                                                    },
                                                    "type": "endpoint"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "endpoint": {
                                                        "url": "https://eventsv2.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                    },
                                                    "type": "endpoint"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://eventsv2.{Region}.{PartitionResult#dnsSuffix}"
                                            },
                                            "type": "endpoint"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "version": "1.0",
                    "testCases": [
                        {
                            "documentation": "Bus ARN account takes precedence over the credentials-sourced account (cross-account call).",
                            "params": {
                                "Region": "us-east-1",
                                "EventBusArn": "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "preferred"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://210987654321.eventsv2.us-east-1.amazonaws.com",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "Bus ARN routing works without a credentials-sourced account ID.",
                            "params": {
                                "Region": "us-east-1",
                                "EventBusArn": "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                                "AccountIdEndpointMode": "preferred"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://210987654321.eventsv2.us-east-1.amazonaws.com",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "Disabled mode ignores the bus ARN and the credentials-sourced account.",
                            "params": {
                                "Region": "us-east-1",
                                "EventBusArn": "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "disabled"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://eventsv2.us-east-1.amazonaws.com"
                                }
                            }
                        },
                        {
                            "documentation": "An unparseable bus ARN falls through to the credentials-sourced account.",
                            "params": {
                                "Region": "us-east-1",
                                "EventBusArn": "not-an-arn",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "preferred"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://123456789012.eventsv2.us-east-1.amazonaws.com",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "FIPS account-based endpoint from the bus ARN.",
                            "params": {
                                "Region": "us-east-1",
                                "EventBusArn": "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                                "AccountIdEndpointMode": "preferred",
                                "UseFIPS": true
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://210987654321.eventsv2-fips.us-east-1.amazonaws.com",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "DualStack account-based endpoint from the bus ARN.",
                            "params": {
                                "Region": "us-east-1",
                                "EventBusArn": "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                                "AccountIdEndpointMode": "preferred",
                                "UseDualStack": true
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://210987654321.eventsv2.us-east-1.api.aws",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "FIPS + DualStack account-based endpoint from the bus ARN.",
                            "params": {
                                "Region": "us-east-1",
                                "EventBusArn": "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                                "AccountIdEndpointMode": "preferred",
                                "UseFIPS": true,
                                "UseDualStack": true
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://210987654321.eventsv2-fips.us-east-1.api.aws",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "FIPS account-based endpoint from the credentials-sourced account.",
                            "params": {
                                "Region": "us-east-1",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "preferred",
                                "UseFIPS": true
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://123456789012.eventsv2-fips.us-east-1.amazonaws.com",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "FIPS + DualStack account-based endpoint from the credentials-sourced account.",
                            "params": {
                                "Region": "us-east-1",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "preferred",
                                "UseFIPS": true,
                                "UseDualStack": true
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://123456789012.eventsv2-fips.us-east-1.api.aws",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "Explicit endpoint override wins over account-based routing.",
                            "params": {
                                "Region": "us-east-1",
                                "Endpoint": "https://example.com",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "preferred"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            }
                        },
                        {
                            "documentation": "FIPS cannot be combined with an endpoint override.",
                            "params": {
                                "Region": "us-east-1",
                                "Endpoint": "https://example.com",
                                "UseFIPS": true
                            },
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            }
                        },
                        {
                            "documentation": "DualStack cannot be combined with an endpoint override.",
                            "params": {
                                "Region": "us-east-1",
                                "Endpoint": "https://example.com",
                                "UseDualStack": true
                            },
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            }
                        },
                        {
                            "documentation": "Account-based endpoint when mode is preferred and account ID is available.",
                            "params": {
                                "Region": "us-east-1",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "preferred"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://123456789012.eventsv2.us-east-1.amazonaws.com",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "Regional endpoint when mode is disabled.",
                            "params": {
                                "Region": "us-east-1",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "disabled"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://eventsv2.us-east-1.amazonaws.com"
                                }
                            }
                        },
                        {
                            "documentation": "Regional FIPS endpoint when mode is disabled.",
                            "params": {
                                "Region": "us-east-1",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "disabled",
                                "UseFIPS": true
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://eventsv2-fips.us-east-1.amazonaws.com"
                                }
                            }
                        },
                        {
                            "documentation": "Regional DualStack endpoint when mode is disabled.",
                            "params": {
                                "Region": "us-east-1",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "disabled",
                                "UseDualStack": true
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://eventsv2.us-east-1.api.aws"
                                }
                            }
                        },
                        {
                            "documentation": "Regional FIPS + DualStack endpoint when mode is disabled.",
                            "params": {
                                "Region": "us-east-1",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "disabled",
                                "UseFIPS": true,
                                "UseDualStack": true
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://eventsv2-fips.us-east-1.api.aws"
                                }
                            }
                        },
                        {
                            "documentation": "Regional endpoint when no account ID is available and mode is preferred.",
                            "params": {
                                "Region": "eu-west-1",
                                "AccountIdEndpointMode": "preferred"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://eventsv2.eu-west-1.amazonaws.com"
                                }
                            }
                        },
                        {
                            "documentation": "Error when mode is required but no account ID is available.",
                            "params": {
                                "Region": "us-east-1",
                                "AccountIdEndpointMode": "required"
                            },
                            "expect": {
                                "error": "AccountIdEndpointMode is required but no AccountID was provided or able to be loaded"
                            }
                        },
                        {
                            "documentation": "Account-based endpoint in the aws-cn partition when mode is required (account routing works in every partition).",
                            "params": {
                                "Region": "cn-north-1",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "required"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://123456789012.eventsv2.cn-north-1.amazonaws.com.cn",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "Error when the credentials-sourced account ID is not a valid host label.",
                            "params": {
                                "Region": "us-east-1",
                                "AccountId": "not/valid",
                                "AccountIdEndpointMode": "preferred"
                            },
                            "expect": {
                                "error": "Credentials-sourced account ID parameter is invalid"
                            }
                        },
                        {
                            "documentation": "Regional endpoint when AccountIdEndpointMode is not set at all, even with an account ID and bus ARN available. The explicit empty properties pin that regional endpoints carry no adoption metric.",
                            "params": {
                                "Region": "us-east-1",
                                "EventBusArn": "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                                "AccountId": "123456789012"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://eventsv2.us-east-1.amazonaws.com",
                                    "properties": {}
                                }
                            }
                        },
                        {
                            "documentation": "Account-based endpoint in the aws-us-gov partition when mode is preferred (account routing works in every partition).",
                            "params": {
                                "Region": "us-gov-west-1",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "preferred"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://123456789012.eventsv2.us-gov-west-1.amazonaws.com",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "Account-based FIPS endpoint in the aws-us-gov partition when mode is required.",
                            "params": {
                                "Region": "us-gov-west-1",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "required",
                                "UseFIPS": true
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://123456789012.eventsv2-fips.us-gov-west-1.amazonaws.com",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "Account-based endpoint in the aws-iso partition when mode is preferred, composing the iso DNS suffix.",
                            "params": {
                                "Region": "us-iso-east-1",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "preferred"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://123456789012.eventsv2.us-iso-east-1.c2s.ic.gov",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "DualStack account-based endpoint in the aws-iso partition, composing the iso dualstack DNS suffix.",
                            "params": {
                                "Region": "us-iso-east-1",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "preferred",
                                "UseDualStack": true
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://123456789012.eventsv2.us-iso-east-1.api.aws.ic.gov",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "A parseable bus ARN whose account is not a valid host label falls through to the credentials-sourced account.",
                            "params": {
                                "Region": "us-east-1",
                                "EventBusArn": "arn:aws:events:us-east-1:not_a_valid_label!:event-busv2/owner-bus/abcdefghij0123456789abcde",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "preferred"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://123456789012.eventsv2.us-east-1.amazonaws.com",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "A bus ARN for another service falls through to the credentials-sourced account.",
                            "params": {
                                "Region": "us-east-1",
                                "EventBusArn": "arn:aws:sqs:us-east-1:210987654321:some-queue",
                                "AccountId": "123456789012",
                                "AccountIdEndpointMode": "preferred"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://123456789012.eventsv2.us-east-1.amazonaws.com",
                                    "properties": {
                                        "metricValues": [
                                            "O"
                                        ]
                                    }
                                }
                            }
                        },
                        {
[...]
