{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.finspace#AWSHabaneroManagementService": {
            "type": "service",
            "version": "2021-03-12",
            "operations": [
                {
                    "target": "com.amazonaws.finspace#CreateEnvironment"
                },
                {
                    "target": "com.amazonaws.finspace#CreateKxChangeset"
                },
                {
                    "target": "com.amazonaws.finspace#CreateKxCluster"
                },
                {
                    "target": "com.amazonaws.finspace#CreateKxDatabase"
                },
                {
                    "target": "com.amazonaws.finspace#CreateKxDataview"
                },
                {
                    "target": "com.amazonaws.finspace#CreateKxEnvironment"
                },
                {
                    "target": "com.amazonaws.finspace#CreateKxScalingGroup"
                },
                {
                    "target": "com.amazonaws.finspace#CreateKxUser"
                },
                {
                    "target": "com.amazonaws.finspace#CreateKxVolume"
                },
                {
                    "target": "com.amazonaws.finspace#DeleteEnvironment"
                },
                {
                    "target": "com.amazonaws.finspace#DeleteKxCluster"
                },
                {
                    "target": "com.amazonaws.finspace#DeleteKxClusterNode"
                },
                {
                    "target": "com.amazonaws.finspace#DeleteKxDatabase"
                },
                {
                    "target": "com.amazonaws.finspace#DeleteKxDataview"
                },
                {
                    "target": "com.amazonaws.finspace#DeleteKxEnvironment"
                },
                {
                    "target": "com.amazonaws.finspace#DeleteKxScalingGroup"
                },
                {
                    "target": "com.amazonaws.finspace#DeleteKxUser"
                },
                {
                    "target": "com.amazonaws.finspace#DeleteKxVolume"
                },
                {
                    "target": "com.amazonaws.finspace#GetEnvironment"
                },
                {
                    "target": "com.amazonaws.finspace#GetKxChangeset"
                },
                {
                    "target": "com.amazonaws.finspace#GetKxCluster"
                },
                {
                    "target": "com.amazonaws.finspace#GetKxConnectionString"
                },
                {
                    "target": "com.amazonaws.finspace#GetKxDatabase"
                },
                {
                    "target": "com.amazonaws.finspace#GetKxDataview"
                },
                {
                    "target": "com.amazonaws.finspace#GetKxEnvironment"
                },
                {
                    "target": "com.amazonaws.finspace#GetKxScalingGroup"
                },
                {
                    "target": "com.amazonaws.finspace#GetKxUser"
                },
                {
                    "target": "com.amazonaws.finspace#GetKxVolume"
                },
                {
                    "target": "com.amazonaws.finspace#ListEnvironments"
                },
                {
                    "target": "com.amazonaws.finspace#ListKxChangesets"
                },
                {
                    "target": "com.amazonaws.finspace#ListKxClusterNodes"
                },
                {
                    "target": "com.amazonaws.finspace#ListKxClusters"
                },
                {
                    "target": "com.amazonaws.finspace#ListKxDatabases"
                },
                {
                    "target": "com.amazonaws.finspace#ListKxDataviews"
                },
                {
                    "target": "com.amazonaws.finspace#ListKxEnvironments"
                },
                {
                    "target": "com.amazonaws.finspace#ListKxScalingGroups"
                },
                {
                    "target": "com.amazonaws.finspace#ListKxUsers"
                },
                {
                    "target": "com.amazonaws.finspace#ListKxVolumes"
                },
                {
                    "target": "com.amazonaws.finspace#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.finspace#TagResource"
                },
                {
                    "target": "com.amazonaws.finspace#UntagResource"
                },
                {
                    "target": "com.amazonaws.finspace#UpdateEnvironment"
                },
                {
                    "target": "com.amazonaws.finspace#UpdateKxClusterCodeConfiguration"
                },
                {
                    "target": "com.amazonaws.finspace#UpdateKxClusterDatabases"
                },
                {
                    "target": "com.amazonaws.finspace#UpdateKxDatabase"
                },
                {
                    "target": "com.amazonaws.finspace#UpdateKxDataview"
                },
                {
                    "target": "com.amazonaws.finspace#UpdateKxEnvironment"
                },
                {
                    "target": "com.amazonaws.finspace#UpdateKxEnvironmentNetwork"
                },
                {
                    "target": "com.amazonaws.finspace#UpdateKxUser"
                },
                {
                    "target": "com.amazonaws.finspace#UpdateKxVolume"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "finspace",
                    "arnNamespace": "finspace",
                    "cloudFormationName": "Finspace",
                    "cloudTrailEventSource": "finspace.amazonaws.com",
                    "endpointPrefix": "finspace"
                },
                "aws.auth#sigv4": {
                    "name": "finspace"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>The FinSpace management service provides the APIs for managing FinSpace environments.</p>",
                "smithy.api#title": "FinSpace User Environment Management service",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://finspace-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://finspace-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://finspace.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://finspace.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://finspace.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.finspace#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.finspace#ErrorMessage2"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.finspace#AttachedClusterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.finspace#KxClusterName"
            }
        },
        "com.amazonaws.finspace#AttributeMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.finspace#FederationAttributeKey"
            },
            "value": {
                "target": "com.amazonaws.finspace#FederationAttributeValue"
            }
        },
        "com.amazonaws.finspace#AutoScalingConfiguration": {
            "type": "structure",
            "members": {
                "minNodeCount": {
                    "target": "com.amazonaws.finspace#NodeCount",
                    "traits": {
                        "smithy.api#documentation": "<p>The lowest number of nodes to scale. This value must be at least 1 and less than the <code>maxNodeCount</code>. If the nodes in a cluster belong to multiple availability zones, then <code>minNodeCount</code> must be at least 3.</p>"
                    }
                },
                "maxNodeCount": {
                    "target": "com.amazonaws.finspace#NodeCount",
                    "traits": {
                        "smithy.api#documentation": "<p>The highest number of nodes to scale. This value cannot be greater than 5.</p>"
                    }
                },
                "autoScalingMetric": {
                    "target": "com.amazonaws.finspace#AutoScalingMetric",
                    "traits": {
                        "smithy.api#documentation": "<p> The metric your cluster will track in order to scale in and out. For example, <code>CPU_UTILIZATION_PERCENTAGE</code> is the average CPU usage across all the nodes in a cluster.</p>"
                    }
                },
                "metricTarget": {
                    "target": "com.amazonaws.finspace#AutoScalingMetricTarget",
                    "traits": {
                        "smithy.api#documentation": "<p>The desired value of the chosen <code>autoScalingMetric</code>. When the metric drops below this value, the cluster will scale in. When the metric goes above this value, the cluster will scale out. You can set the target value between 1 and 100 percent.</p>"
                    }
                },
                "scaleInCooldownSeconds": {
                    "target": "com.amazonaws.finspace#CooldownTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The duration in seconds that FinSpace will wait after a scale in event before initiating another scaling event.</p>"
                    }
                },
                "scaleOutCooldownSeconds": {
                    "target": "com.amazonaws.finspace#CooldownTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The duration in seconds that FinSpace will wait after a scale out event before initiating another scaling event.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration based on which FinSpace will scale in or scale out nodes in your cluster. </p>"
            }
        },
        "com.amazonaws.finspace#AutoScalingMetric": {
            "type": "enum",
            "members": {
                "CPU_UTILIZATION_PERCENTAGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CPU_UTILIZATION_PERCENTAGE"
                    }
                }
            }
        },
        "com.amazonaws.finspace#AutoScalingMetricTarget": {
            "type": "double",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.finspace#AvailabilityZoneId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 8,
                    "max": 12
                },
                "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
            }
        },
        "com.amazonaws.finspace#AvailabilityZoneIds": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.finspace#AvailabilityZoneId"
            }
        },
        "com.amazonaws.finspace#BoxedInteger": {
            "type": "integer"
        },
        "com.amazonaws.finspace#CapacityConfiguration": {
            "type": "structure",
            "members": {
                "nodeType": {
                    "target": "com.amazonaws.finspace#NodeType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type that determines the hardware of the host computer used for your cluster instance. Each node type offers different memory and storage capabilities. Choose a node type based on the requirements of the application or software that you plan to run on your instance.</p>\n         <p>You can only specify one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>kx.s.large</code> – The node type with a configuration of 12 GiB memory and 2 vCPUs.</p>\n            </li>\n            <li>\n               <p>\n                  <code>kx.s.xlarge</code> – The node type with a configuration of 27 GiB memory and 4 vCPUs.</p>\n            </li>\n            <li>\n               <p>\n                  <code>kx.s.2xlarge</code> – The node type with a configuration of 54 GiB memory and 8 vCPUs.</p>\n            </li>\n            <li>\n               <p>\n                  <code>kx.s.4xlarge</code> – The node type with a configuration of 108 GiB memory and 16 vCPUs.</p>\n            </li>\n            <li>\n               <p>\n                  <code>kx.s.8xlarge</code> – The node type with a configuration of 216 GiB memory and 32 vCPUs.</p>\n            </li>\n            <li>\n               <p>\n                  <code>kx.s.16xlarge</code> – The node type with a configuration of 432 GiB memory and 64 vCPUs.</p>\n            </li>\n            <li>\n               <p>\n                  <code>kx.s.32xlarge</code> – The node type with a configuration of 864 GiB memory and 128 vCPUs.</p>\n            </li>\n         </ul>"
                    }
                },
                "nodeCount": {
                    "target": "com.amazonaws.finspace#NodeCount",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of instances running in a cluster.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure for the metadata of a cluster. It includes information like the CPUs needed, memory of instances, and number of instances.</p>"
            }
        },
        "com.amazonaws.finspace#ChangeRequest": {
            "type": "structure",
            "members": {
                "changeType": {
                    "target": "com.amazonaws.finspace#ChangeType",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the type of change request. A <code>changeType</code> can have the following values:</p>\n         <ul>\n            <li>\n               <p>PUT – Adds or updates files in a database.</p>\n            </li>\n            <li>\n               <p>DELETE – Deletes files in a database.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "s3Path": {
                    "target": "com.amazonaws.finspace#S3Path",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the S3 path of the source file that is required to add or update files in a database.</p>"
                    }
                },
                "dbPath": {
                    "target": "com.amazonaws.finspace#DbPath",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the path within the database directory. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A list of change request objects.</p>"
            }
        },
        "com.amazonaws.finspace#ChangeRequests": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.finspace#ChangeRequest"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 32
                }
            }
        },
        "com.amazonaws.finspace#ChangeType": {
            "type": "enum",
            "members": {
                "PUT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PUT"
                    }
                },
                "DELETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE"
                    }
                }
            }
        },
        "com.amazonaws.finspace#ChangesetId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 26
                },
                "smithy.api#pattern": "^[a-zA-Z0-9]+$"
            }
        },
        "com.amazonaws.finspace#ChangesetStatus": {
            "type": "enum",
            "members": {
                "PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING"
                    }
                },
                "PROCESSING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PROCESSING"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "COMPLETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETED"
                    }
                }
            }
        },
        "com.amazonaws.finspace#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 36
                },
                "smithy.api#pattern": "\\S"
            }
        },
        "com.amazonaws.finspace#ClientTokenString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
            }
        },
        "com.amazonaws.finspace#ClusterNodeCount": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.finspace#CodeConfiguration": {
            "type": "structure",
            "members": {
                "s3Bucket": {
                    "target": "com.amazonaws.finspace#S3Bucket",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name for the S3 bucket.</p>"
                    }
                },
                "s3Key": {
                    "target": "com.amazonaws.finspace#S3Key",
                    "traits": {
                        "smithy.api#documentation": "<p>The full S3 path (excluding bucket) to the .zip file. This file contains the code that is loaded onto the cluster when it's started.</p>"
                    }
                },
                "s3ObjectVersion": {
                    "target": "com.amazonaws.finspace#S3ObjectVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of an S3 object.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The structure of the customer code available within the running cluster.</p>"
            }
        },
        "com.amazonaws.finspace#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.finspace#ErrorMessage2"
                },
                "reason": {
                    "target": "com.amazonaws.finspace#ErrorMessage2",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the conflict exception.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>There was a conflict with this action, and it could not be completed.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.finspace#CooldownTime": {
            "type": "double",
            "traits": {
                "smithy.api#range": {
                    "min": 0,
                    "max": 100000
                }
            }
        },
        "com.amazonaws.finspace#CpuCount": {
            "type": "double",
            "traits": {
                "smithy.api#range": {
                    "min": 0.1
                }
            }
        },
        "com.amazonaws.finspace#CreateEnvironment": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.finspace#CreateEnvironmentRequest"
            },
            "output": {
                "target": "com.amazonaws.finspace#CreateEnvironmentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.finspace#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.finspace#InternalServerException"
                },
                {
                    "target": "com.amazonaws.finspace#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.finspace#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.finspace#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.finspace#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#deprecated": {
                    "message": "This method will be discontinued."
                },
                "smithy.api#documentation": "<p>Create a new FinSpace environment.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/environment",
                    "code": 200
                }
            }
        },
        "com.amazonaws.finspace#CreateEnvironmentRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.finspace#EnvironmentName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the FinSpace environment to be created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.finspace#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the FinSpace environment to be created.</p>"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.finspace#KmsKeyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key id to encrypt your data in the FinSpace environment.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.finspace#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Add tags to your FinSpace environment.</p>"
                    }
                },
                "federationMode": {
                    "target": "com.amazonaws.finspace#FederationMode",
                    "traits": {
                        "smithy.api#documentation": "<p>Authentication mode for the environment.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p>\n            </li>\n         </ul>"
                    }
                },
                "federationParameters": {
                    "target": "com.amazonaws.finspace#FederationParameters",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration information when authentication mode is FEDERATED.</p>"
                    }
                },
                "superuserParameters": {
                    "target": "com.amazonaws.finspace#SuperuserParameters",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration information for the superuser.</p>"
                    }
                },
                "dataBundles": {
                    "target": "com.amazonaws.finspace#DataBundleArns",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of Amazon Resource Names (ARN) of the data bundles to install. Currently supported data bundle ARNs:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>arn:aws:finspace:${Region}::data-bundle/capital-markets-sample</code> - Contains sample Capital Markets datasets, categories and controlled vocabularies.</p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:finspace:${Region}::data-bundle/taq</code> (default) - Contains trades and quotes data in addition to sample Capital Markets data.</p>\n            </li>\n         </ul>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.finspace#CreateEnvironmentResponse": {
            "type": "structure",
            "members": {
                "environmentId": {
                    "target": "com.amazonaws.finspace#IdType",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for FinSpace environment that you created.</p>"
                    }
                },
                "environmentArn": {
                    "target": "com.amazonaws.finspace#EnvironmentArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FinSpace environment that you created.</p>"
                    }
                },
                "environmentUrl": {
                    "target": "com.amazonaws.finspace#url",
                    "traits": {
                        "smithy.api#documentation": "<p>The sign-in URL for the web application of the FinSpace environment you created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.finspace#CreateKxChangeset": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.finspace#CreateKxChangesetRequest"
            },
            "output": {
                "target": "com.amazonaws.finspace#CreateKxChangesetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.finspace#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.finspace#ConflictException"
                },
                {
                    "target": "com.amazonaws.finspace#InternalServerException"
                },
                {
                    "target": "com.amazonaws.finspace#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.finspace#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.finspace#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.finspace#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>\n   Creates a changeset for a kdb database. A changeset allows you to add and delete existing files by using an ordered list of change requests.\n</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/kx/environments/{environmentId}/databases/{databaseName}/changesets",
                    "code": 200
                }
            }
        },
        "com.amazonaws.finspace#CreateKxChangesetRequest": {
            "type": "structure",
            "members": {
                "environmentId": {
                    "target": "com.amazonaws.finspace#EnvironmentId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier of the kdb environment.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "databaseName": {
                    "target": "com.amazonaws.finspace#DatabaseName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the kdb database.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "changeRequests": {
                    "target": "com.amazonaws.finspace#ChangeRequests",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of change request objects that are run in order. A change request object consists of <code>changeType</code> , <code>s3Path</code>, and <code>dbPath</code>. \n      A changeType can have the following values: </p>\n         <ul>\n            <li>\n               <p>PUT – Adds or updates files in a database.</p>\n            </li>\n            <li>\n               <p>DELETE – Deletes files in a database.</p>\n            </li>\n         </ul>\n         <p>All the change requests require a mandatory <code>dbPath</code> attribute that defines the\n         path within the database directory. All database paths must start with a leading / and end\n         with a trailing /. The <code>s3Path</code> attribute defines the s3 source file path and is\n         required for a PUT change type. The <code>s3path</code> must end with a trailing / if it is\n         a directory and must end without a trailing / if it is a file. </p>\n         <p>Here are few examples of how you can use the change request object:</p>\n         <ol>\n            <li>\n               <p>This request adds a single sym file at database root location.   </p>\n               <p>\n                  <code>{ \"changeType\": \"PUT\", \"s3Path\":\"s3://bucket/db/sym\",\n               \"dbPath\":\"/\"}</code>\n               </p>\n            </li>\n            <li>\n               <p>This request adds files in the given <code>s3Path</code> under the 2020.01.02\n               partition of the database.</p>\n               <p>\n                  <code>{ \"changeType\": \"PUT\", \"s3Path\":\"s3://bucket/db/2020.01.02/\",\n               \"dbPath\":\"/2020.01.02/\"}</code>\n               </p>\n            </li>\n            <li>\n               <p>This request adds files in the given <code>s3Path</code> under the\n                  <i>taq</i> table partition of the database.</p>\n               <p>\n                  <code>[ { \"changeType\": \"PUT\", \"s3Path\":\"s3://bucket/db/2020.01.02/taq/\",\n                  \"dbPath\":\"/2020.01.02/taq/\"}]</code>\n               </p>\n            </li>\n            <li>\n               <p>This request deletes the 2020.01.02 partition of the database.</p>\n               <p>\n                  <code>[{ \"changeType\": \"DELETE\", \"dbPath\": \"/2020.01.02/\"} ]</code>\n               </p>\n            </li>\n            <li>\n               <p>The <i>DELETE</i> request allows you to delete the existing files under the\n               2020.01.02 partition of the database, and the <i>PUT</i> request adds a\n               new taq table under it.</p>\n               <p>\n                  <code>[ {\"changeType\": \"DELETE\", \"dbPath\":\"/2020.01.02/\"}, {\"changeType\": \"PUT\",\n                  \"s3Path\":\"s3://bucket/db/2020.01.02/taq/\",\n               \"dbPath\":\"/2020.01.02/taq/\"}]</code>\n               </p>\n            </li>\n         </ol>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.finspace#ClientTokenString",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.finspace#CreateKxChangesetResponse": {
            "type": "structure",
            "members": {
                "changesetId": {
                    "target": "com.amazonaws.finspace#ChangesetId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier for the changeset.</p>"
                    }
                },
                "databaseName": {
                    "target": "com.amazonaws.finspace#DatabaseName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the kdb database.</p>"
                    }
                },
                "environmentId": {
                    "target": "com.amazonaws.finspace#EnvironmentId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier for the kdb environment.</p>"
                    }
                },
                "changeRequests": {
                    "target": "com.amazonaws.finspace#ChangeRequests",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of change requests.</p>"
                    }
                },
                "createdTimestamp": {
                    "target": "com.amazonaws.finspace#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp at which the changeset was created in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
                    }
                },
                "lastModifiedTimestamp": {
                    "target": "com.amazonaws.finspace#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp at which the changeset was updated in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.finspace#ChangesetStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Status of the changeset creation process.</p>\n         <ul>\n            <li>\n               <p>Pending – Changeset creation is pending.</p>\n            </li>\n            <li>\n               <p>Processing – Changeset creation is running.</p>\n            </li>\n            <li>\n               <p>Failed – Changeset creation has failed.</p>\n            </li>\n            <li>\n               <p>Complete – Changeset creation has succeeded.</p>\n            </li>\n         </ul>"
                    }
                },
                "errorInfo": {
                    "target": "com.amazonaws.finspace#ErrorInfo",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the error that you receive when creating a changeset. It consists of the type of error and the error message.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.finspace#CreateKxCluster": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.finspace#CreateKxClusterRequest"
            },
            "output": {
                "target": "com.amazonaws.finspace#CreateKxClusterResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.finspace#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.finspace#ConflictException"
                },
                {
                    "target": "com.amazonaws.finspace#InternalServerException"
                },
                {
                    "target": "com.amazonaws.finspace#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.finspace#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.finspace#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.finspace#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new kdb cluster.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/kx/environments/{environmentId}/clusters",
                    "code": 200
                }
            }
        },
        "com.amazonaws.finspace#CreateKxClusterRequest": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.finspace#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "environmentId": {
                    "target": "com.amazonaws.finspace#KxEnvironmentId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier for the kdb environment.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "clusterName": {
                    "target": "com.amazonaws.finspace#KxClusterName",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name for the cluster that you want to create.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clusterType": {
                    "target": "com.amazonaws.finspace#KxClusterType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the type of KDB database that is being created. The following types are available: </p>\n         <ul>\n            <li>\n               <p>HDB – A Historical Database. The data is only accessible with read-only permissions from one of the FinSpace managed kdb databases mounted to the cluster.</p>\n            </li>\n            <li>\n               <p>RDB – A Realtime Database. This type of database captures all the data from a ticker plant and stores it in memory until the end of day, after which it writes all of its data to a disk and reloads the HDB. This cluster type requires local storage for temporary storage of data during the savedown process. If you specify this field in your request, you must provide the <code>savedownStorageConfiguration</code> parameter.</p>\n            </li>\n            <li>\n               <p>GATEWAY – A gateway cluster allows you to access data across processes in kdb systems. It allows you to create your own routing logic using the initialization scripts and custom code. This type of cluster does not require a  writable local storage.</p>\n            </li>\n            <li>\n               <p>GP – A general purpose cluster allows you to quickly iterate on code during development by granting greater access to system commands and enabling a fast reload of custom code. This cluster type can optionally mount databases including cache and savedown storage. For this cluster type, the node count is fixed at 1. It does not support autoscaling and supports only <code>SINGLE</code> AZ mode.</p>\n            </li>\n            <li>\n               <p>Tickerplant – A tickerplant cluster allows you to subscribe to feed handlers based on IAM permissions. It can publish to RDBs, other Tickerplants, and real-time subscribers (RTS). Tickerplants can persist messages to log, which is readable by any RDB environment. It supports only single-node that is only one kdb process.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "tickerplantLogConfiguration": {
                    "target": "com.amazonaws.finspace#TickerplantLogConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>\nA configuration to store Tickerplant logs. It consists of\na list of volumes that will be mounted to your cluster. For the cluster type <code>Tickerplant</code>, the location of the TP volume on the cluster will be available by using the global variable <code>.aws.tp_log_path</code>. \n</p>"
                    }
                },
                "databases": {
                    "target": "com.amazonaws.finspace#KxDatabaseConfigurations",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of databases that will be available for querying.</p>"
                    }
                },
                "cacheStorageConfigurations": {
                    "target": "com.amazonaws.finspace#KxCacheStorageConfigurations",
                    "traits": {
                        "smithy.api#documentation": "<p>The configurations for a read only cache storage associated with a cluster. This cache will be stored as an FSx Lustre that reads from the S3 store. </p>"
                    }
                },
                "autoScalingConfiguration": {
                    "target": "com.amazonaws.finspace#AutoScalingConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration based on which FinSpace will scale in or scale out nodes in your cluster.</p>"
                    }
                },
                "clusterDescription": {
                    "target": "com.amazonaws.finspace#KxClusterDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the cluster.</p>"
                    }
                },
                "capacityConfiguration": {
                    "target": "com.amazonaws.finspace#CapacityConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure for the metadata of a cluster. It includes information like the CPUs needed, memory of instances, and number of instances.</p>"
                    }
                },
                "releaseLabel": {
                    "target": "com.amazonaws.finspace#ReleaseLabel",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of FinSpace managed kdb to run.</p>",
                        "smithy.api#required": {}
                    }
                },
                "vpcConfiguration": {
                    "target": "com.amazonaws.finspace#VpcConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration details about the network where the Privatelink endpoint of the cluster resides.</p>",
                        "smithy.api#required": {}
                    }
                },
                "initializationScript": {
                    "target": "com.amazonaws.finspace#InitializationScriptFilePath",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies a Q program that will be run at launch of a cluster. It is a relative path within\n            <i>.zip</i> file that contains the custom code, which will be loaded on\n         the cluster. It must include the file name itself. For example,\n         <code>somedir/init.q</code>.</p>"
                    }
                },
                "commandLineArguments": {
                    "target": "com.amazonaws.finspace#KxCommandLineArguments",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the key-value pairs to make them available inside the cluster.</p>"
                    }
                },
                "code": {
                    "target": "com.amazonaws.finspace#CodeConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the custom code that you want to use inside a cluster when analyzing a data. It consists of the S3 source bucket, location, S3 object version, and the relative path from where the custom code is loaded into the cluster. </p>"
                    }
                },
                "executionRole": {
                    "target": "com.amazonaws.finspace#ExecutionRoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>An IAM role that defines a set of permissions associated with a cluster. These permissions are assumed when a cluster attempts to access another cluster.</p>"
                    }
                },
                "savedownStorageConfiguration": {
                    "target": "com.amazonaws.finspace#KxSavedownStorageConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The size and type of the temporary storage that is used to hold data during the savedown process. This parameter is required when you choose <code>clusterType</code> as RDB. All the data written to this storage space is lost when the cluster node is restarted.</p>"
                    }
                },
                "azMode": {
                    "target": "com.amazonaws.finspace#KxAzMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of availability zones you want to assign per cluster. This can be one of the following </p>\n         <ul>\n            <li>\n               <p>\n                  <code>SINGLE</code> – Assigns one availability zone per cluster.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MULTI</code> – Assigns all the availability zones per cluster.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "availabilityZoneId": {
                    "target": "com.amazonaws.finspace#AvailabilityZoneId",
                    "traits": {
                        "smithy.api#documentation": "<p>The availability zone identifiers for the requested regions.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.finspace#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of key-value pairs to label the cluster. You can add up to 50 tags to a cluster.</p>"
                    }
                },
                "scalingGroupConfiguration": {
                    "target": "com.amazonaws.finspace#KxScalingGroupConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The structure that stores the configuration details of a scaling group.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.finspace#CreateKxClusterResponse": {
            "type": "structure",
            "members": {
                "environmentId": {
                    "target": "com.amazonaws.finspace#KxEnvironmentId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier for the kdb environment.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.finspace#KxClusterStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of cluster creation.</p>\n         <ul>\n            <li>\n               <p>PENDING – The cluster is pending creation.</p>\n            </li>\n            <li>\n               <p>CREATING – The cluster creation process is in progress.</p>\n            </li>\n            <li>\n               <p>CREATE_FAILED – The cluster creation process has failed.</p>\n            </li>\n            <li>\n               <p>RUNNING – The cluster creation process is running.</p>\n            </li>\n            <li>\n               <p>UPDATING – The cluster is in the process of being updated.</p>\n            </li>\n            <li>\n               <p>DELETING – The cluster is in the process of being deleted.</p>\n            </li>\n            <li>\n               <p>DELETED – The cluster has been deleted.</p>\n            </li>\n            <li>\n               <p>DELETE_FAILED – The cluster failed to delete.</p>\n            </li>\n         </ul>"
                    }
                },
                "statusReason": {
                    "target": "com.amazonaws.finspace#KxClusterStatusReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The error message when a failed state occurs. </p>"
                    }
                },
                "clusterName": {
                    "target": "com.amazonaws.finspace#KxClusterName",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name for the cluster.</p>"
                    }
                },
                "clusterType": {
                    "target": "com.amazonaws.finspace#KxClusterType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the type of KDB database that is being created. The following types are available: </p>\n         <ul>\n            <li>\n               <p>HDB – A Historical Database. The data is only accessible with read-only permissions from one of the FinSpace managed kdb databases mounted to the cluster.</p>\n            </li>\n            <li>\n               <p>RDB – A Realtime Database. This type of database captures all the data from a ticker plant and stores it in memory until the end of day, after which it writes all of its data to a disk and reloads the HDB. This cluster type requires local storage for temporary storage of data during the savedown process. If you specify this field in your request, you must provide the <code>savedownStorageConfiguration</code> parameter.</p>\n            </li>\n            <li>\n               <p>GATEWAY – A gateway cluster allows you to access data across processes in kdb systems. It allows you to create your own routing logic using the initialization scripts and custom code. This type of cluster does not require a  writable local storage.</p>\n            </li>\n            <li>\n               <p>GP – A general purpose cluster allows you to quickly iterate on code during development by granting greater access to system commands and enabling a fast reload of custom code. This cluster type can optionally mount databases including cache and savedown storage. For this cluster type, the node count is fixed at 1. It does not support autoscaling and supports only <code>SINGLE</code> AZ mode.</p>\n            </li>\n            <li>\n               <p>Tickerplant – A tickerplant cluster allows you to subscribe to feed handlers based on IAM permissions. It can publish to RDBs, other Tickerplants, and real-time subscribers (RTS). Tickerplants can persist messages to log, which is readable by any RDB environment. It supports only single-node that is only one kdb process.</p>\n            </li>\n         </ul>"
                    }
                },
                "tickerplantLogConfiguration": {
                    "target": "com.amazonaws.finspace#TickerplantLogConfiguration"
                },
                "volumes": {
                    "target": "com.amazonaws.finspace#Volumes",
                    "traits": {
                        "smithy.api#documentation": "<p>\nA list of volumes mounted on the cluster.\n</p>"
                    }
                },
                "databases": {
                    "target": "com.amazonaws.finspace#KxDatabaseConfigurations",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of databases that will be available for querying.</p>"
                    }
                },
                "cacheStorageConfigurations": {
                    "target": "com.amazonaws.finspace#KxCacheStorageConfigurations",
                    "traits": {
                        "smithy.api#documentation": "<p>The configurations for a read only cache storage associated with a cluster. This cache will be stored as an FSx Lustre that reads from the S3 store. </p>"
                    }
                },
                "autoScalingConfiguration": {
                    "target": "com.amazonaws.finspace#AutoScalingConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration based on which FinSpace will scale in or scale out nodes in your cluster.</p>"
                    }
                },
                "clusterDescription": {
                    "target": "com.amazonaws.finspace#KxClusterDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the cluster.</p>"
                    }
                },
                "capacityConfiguration": {
                    "target": "com.amazonaws.finspace#CapacityConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure for the metadata of a cluster. It includes information like the CPUs needed, memory of instances, and number of instances.</p>"
                    }
                },
                "releaseLabel": {
                    "target": "com.amazonaws.finspace#ReleaseLabel",
                    "traits": {
                        "smithy.api#documentation": "<p>A version of the FinSpace managed kdb to run.</p>"
                    }
                },
                "vpcConfiguration": {
                    "target": "com.amazonaws.finspace#VpcConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration details about the network where the Privatelink endpoint of the cluster resides.</p>"
                    }
                },
                "initializationScript": {
                    "target": "com.amazonaws.finspace#InitializationScriptFilePath",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies a Q program that will be run at launch of a cluster. It is a relative path within\n      <i>.zip</i> file that contains the custom code, which will be loaded on\n      the cluster. It must include the file name itself. For example,\n      <code>somedir/init.q</code>.</p>"
                    }
                },
                "commandLineArguments": {
                    "target": "com.amazonaws.finspace#KxCommandLineArguments",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the key-value pairs to make them available inside the cluster.</p>"
                    }
                },
                "code": {
                    "target": "com.amazonaws.finspace#CodeConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the custom code that you want to use inside a cluster when analyzing a data. It consists of the S3 source bucket, location, S3 object version, and the relative path from where the custom code is loaded into the cluster. </p>"
                    }
                },
                "executionRole": {
                    "target": "com.amazonaws.finspace#ExecutionRoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            An IAM role that defines a set of permissions associated with a cluster. These permissions are assumed when a cluster attempts to access another cluster.\n         </p>"
                    }
                },
                "lastModifiedTimestamp": {
                    "target": "com.amazonaws.finspace#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The last time that the cluster was modified. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
                    }
                },
                "savedownStorageConfiguration": {
                    "target": "com.amazonaws.finspace#KxSavedownStorageConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The size and type of the temporary storage that is used to hold data during the savedown process. This parameter is required when you choose <code>clusterType</code> as RDB. All the data written to this storage space is lost when the cluster node is restarted.</p>"
                    }
                },
                "azMode": {
                    "target": "com.amazonaws.finspace#KxAzMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of availability zones you want to assign per cluster. This can be one of the following </p>\n         <ul>\n            <li>\n               <p>\n                  <code>SINGLE</code> – Assigns one availability zone per cluster.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MULTI</code> – Assigns all the availability zones per cluster.</p>\n            </li>\n         </ul>"
                    }
                },
                "availabilityZoneId": {
                    "target": "com.amazonaws.finspace#AvailabilityZoneId",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            The availability zone identifiers for the requested regions.\n         </p>"
                    }
                },
                "createdTimestamp": {
                    "target": "com.amazonaws.finspace#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp at which the cluster was created in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
                    }
                },
                "scalingGroupConfiguration": {
                    "target": "com.amazonaws.finspace#KxScalingGroupConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The structure that stores the configuration details of a scaling group.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.finspace#CreateKxDatabase": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.finspace#CreateKxDatabaseRequest"
            },
            "output": {
                "target": "com.amazonaws.finspace#CreateKxDatabaseResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.finspace#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.finspace#ConflictException"
                },
                {
                    "target": "com.amazonaws.finspace#InternalServerException"
                },
                {
                    "target": "com.amazonaws.finspace#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.finspace#ResourceAlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.finspace#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.finspace#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.finspace#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new kdb database in the environment.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/kx/environments/{environmentId}/databases",
                    "code": 200
                }
            }
        },
        "com.amazonaws.finspace#CreateKxDatabaseRequest": {
            "type": "structure",
            "members": {
                "environmentId": {
                    "target": "com.amazonaws.finspace#EnvironmentId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier for the kdb environment.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "databaseName": {
[...]
