{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.fis#AccountTargeting": {
            "type": "enum",
            "members": {
                "SINGLE_ACCOUNT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "single-account"
                    }
                },
                "MULTI_ACCOUNT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "multi-account"
                    }
                }
            }
        },
        "com.amazonaws.fis#Action": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.fis#ActionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the action.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.fis#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the action.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.fis#ActionDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description for the action.</p>"
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.fis#ActionParameterMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The action parameters, if applicable.</p>"
                    }
                },
                "targets": {
                    "target": "com.amazonaws.fis#ActionTargetMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The supported targets for the action.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.fis#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags for the action.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an action. For more information, see <a href=\"https://docs.aws.amazon.com/fis/latest/userguide/fis-actions-reference.html\">FIS actions</a> \n         in the <i>Fault Injection Service User Guide</i>.</p>"
            }
        },
        "com.amazonaws.fis#ActionDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 512
                },
                "smithy.api#pattern": "^[\\s\\S]+$"
            }
        },
        "com.amazonaws.fis#ActionId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 128
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ActionParameter": {
            "type": "structure",
            "members": {
                "description": {
                    "target": "com.amazonaws.fis#ActionParameterDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameter description.</p>"
                    }
                },
                "required": {
                    "target": "com.amazonaws.fis#ActionParameterRequired",
                    "traits": {
                        "smithy.api#default": null,
                        "smithy.api#documentation": "<p>Indicates whether the parameter is required.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a parameter for an action.</p>"
            }
        },
        "com.amazonaws.fis#ActionParameterDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 512
                },
                "smithy.api#pattern": "^[\\s\\S]+$"
            }
        },
        "com.amazonaws.fis#ActionParameterMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.fis#ActionParameterName"
            },
            "value": {
                "target": "com.amazonaws.fis#ActionParameter"
            }
        },
        "com.amazonaws.fis#ActionParameterName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ActionParameterRequired": {
            "type": "boolean",
            "traits": {
                "smithy.api#default": false
            }
        },
        "com.amazonaws.fis#ActionSummary": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.fis#ActionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the action.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.fis#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the action.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.fis#ActionDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description for the action.</p>"
                    }
                },
                "targets": {
                    "target": "com.amazonaws.fis#ActionTargetMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The targets for the action.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.fis#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags for the action.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides a summary of an action.</p>"
            }
        },
        "com.amazonaws.fis#ActionSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.fis#ActionSummary"
            }
        },
        "com.amazonaws.fis#ActionTarget": {
            "type": "structure",
            "members": {
                "resourceType": {
                    "target": "com.amazonaws.fis#TargetResourceTypeId",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource type of the target.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a target for an action.</p>"
            }
        },
        "com.amazonaws.fis#ActionTargetMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.fis#ActionTargetName"
            },
            "value": {
                "target": "com.amazonaws.fis#ActionTarget"
            }
        },
        "com.amazonaws.fis#ActionTargetName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ActionsMode": {
            "type": "enum",
            "members": {
                "SKIP_ALL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "skip-all"
                    }
                },
                "RUN_ALL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "run-all"
                    }
                }
            }
        },
        "com.amazonaws.fis#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#CloudWatchLogGroupArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.fis#ExceptionMessage"
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "ConflictException",
                    "httpResponseCode": 409
                },
                "smithy.api#documentation": "<p>The request could not be processed because of a conflict.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.fis#CreateExperimentTemplate": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.fis#CreateExperimentTemplateRequest"
            },
            "output": {
                "target": "com.amazonaws.fis#CreateExperimentTemplateResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.fis#ConflictException"
                },
                {
                    "target": "com.amazonaws.fis#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.fis#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.fis#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an experiment template. </p>\n         <p>An experiment template includes the following components:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Targets</b>: A target can be a specific resource in \n               your Amazon Web Services environment, or one or more resources that match criteria that you\n               specify, for example, resources that have specific tags.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Actions</b>: The actions to carry out on the\n               target. You can specify multiple actions, the duration of each action, and when to start each action during an experiment.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Stop conditions</b>: If a stop condition is\n               triggered while an experiment is running, the experiment is automatically\n               stopped. You can define a stop condition as a CloudWatch alarm.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/fis/latest/userguide/experiment-templates.html\">experiment templates</a>\n         in the <i>Fault Injection Service User Guide</i>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/experimentTemplates",
                    "code": 200
                }
            }
        },
        "com.amazonaws.fis#CreateExperimentTemplateActionInput": {
            "type": "structure",
            "members": {
                "actionId": {
                    "target": "com.amazonaws.fis#ActionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the action. The format of the action ID is: aws:<i>service-name</i>:<i>action-type</i>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.fis#ExperimentTemplateActionDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description for the action.</p>"
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.fis#ExperimentTemplateActionParameterMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameters for the action, if applicable.</p>"
                    }
                },
                "targets": {
                    "target": "com.amazonaws.fis#ExperimentTemplateActionTargetMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The targets for the action.</p>"
                    }
                },
                "startAfter": {
                    "target": "com.amazonaws.fis#ExperimentTemplateActionStartAfterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the action that must be completed before the current action starts. Omit this parameter to run the action at the start of the experiment.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies an action for an experiment template.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/fis/latest/userguide/actions.html\">Actions</a>\n         in the <i>Fault Injection Service User Guide</i>.</p>"
            }
        },
        "com.amazonaws.fis#CreateExperimentTemplateActionInputMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.fis#ExperimentTemplateActionName"
            },
            "value": {
                "target": "com.amazonaws.fis#CreateExperimentTemplateActionInput"
            }
        },
        "com.amazonaws.fis#CreateExperimentTemplateExperimentOptionsInput": {
            "type": "structure",
            "members": {
                "accountTargeting": {
                    "target": "com.amazonaws.fis#AccountTargeting",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the account targeting setting for experiment options.</p>"
                    }
                },
                "emptyTargetResolutionMode": {
                    "target": "com.amazonaws.fis#EmptyTargetResolutionMode",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the empty target resolution mode for experiment options.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies experiment options for an experiment template.</p>"
            }
        },
        "com.amazonaws.fis#CreateExperimentTemplateLogConfigurationInput": {
            "type": "structure",
            "members": {
                "cloudWatchLogsConfiguration": {
                    "target": "com.amazonaws.fis#ExperimentTemplateCloudWatchLogsLogConfigurationInput",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for experiment logging to Amazon CloudWatch Logs.</p>"
                    }
                },
                "s3Configuration": {
                    "target": "com.amazonaws.fis#ExperimentTemplateS3LogConfigurationInput",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for experiment logging to Amazon S3.</p>"
                    }
                },
                "logSchemaVersion": {
                    "target": "com.amazonaws.fis#LogSchemaVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The schema version.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the configuration for experiment logging.</p>"
            }
        },
        "com.amazonaws.fis#CreateExperimentTemplateRequest": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.fis#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.fis#ExperimentTemplateDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description for the experiment template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "stopConditions": {
                    "target": "com.amazonaws.fis#CreateExperimentTemplateStopConditionInputList",
                    "traits": {
                        "smithy.api#documentation": "<p>The stop conditions.</p>",
                        "smithy.api#required": {}
                    }
                },
                "targets": {
                    "target": "com.amazonaws.fis#CreateExperimentTemplateTargetInputMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The targets for the experiment.</p>"
                    }
                },
                "actions": {
                    "target": "com.amazonaws.fis#CreateExperimentTemplateActionInputMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The actions for the experiment.</p>",
                        "smithy.api#required": {}
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.fis#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role that grants the FIS service permission to perform service actions on your behalf.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.fis#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to apply to the experiment template.</p>"
                    }
                },
                "logConfiguration": {
                    "target": "com.amazonaws.fis#CreateExperimentTemplateLogConfigurationInput",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for experiment logging.</p>"
                    }
                },
                "experimentOptions": {
                    "target": "com.amazonaws.fis#CreateExperimentTemplateExperimentOptionsInput",
                    "traits": {
                        "smithy.api#documentation": "<p>The experiment options for the experiment template.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.fis#CreateExperimentTemplateResponse": {
            "type": "structure",
            "members": {
                "experimentTemplate": {
                    "target": "com.amazonaws.fis#ExperimentTemplate",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the experiment template.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.fis#CreateExperimentTemplateStopConditionInput": {
            "type": "structure",
            "members": {
                "source": {
                    "target": "com.amazonaws.fis#StopConditionSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The source for the stop condition. Specify <code>aws:cloudwatch:alarm</code> if the stop\n         condition is defined by a CloudWatch alarm. Specify <code>none</code> if there is no stop\n         condition.</p>",
                        "smithy.api#required": {}
                    }
                },
                "value": {
                    "target": "com.amazonaws.fis#StopConditionValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CloudWatch alarm. This is required if the source is\n         a CloudWatch alarm.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies a stop condition for an experiment template.</p>"
            }
        },
        "com.amazonaws.fis#CreateExperimentTemplateStopConditionInputList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.fis#CreateExperimentTemplateStopConditionInput"
            }
        },
        "com.amazonaws.fis#CreateExperimentTemplateTargetInput": {
            "type": "structure",
            "members": {
                "resourceType": {
                    "target": "com.amazonaws.fis#TargetResourceTypeId",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource type. The resource type must be supported for the specified action.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceArns": {
                    "target": "com.amazonaws.fis#ResourceArnList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the resources.</p>"
                    }
                },
                "resourceTags": {
                    "target": "com.amazonaws.fis#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags for the target resources.</p>"
                    }
                },
                "filters": {
                    "target": "com.amazonaws.fis#ExperimentTemplateTargetFilterInputList",
                    "traits": {
                        "smithy.api#documentation": "<p>The filters to apply to identify target resources using specific attributes.</p>"
                    }
                },
                "selectionMode": {
                    "target": "com.amazonaws.fis#ExperimentTemplateTargetSelectionMode",
                    "traits": {
                        "smithy.api#documentation": "<p>Scopes the identified resources to a specific count of the resources at random, or a percentage of the resources. All identified resources are included in the target.</p>\n         <ul>\n            <li>\n               <p>ALL - Run the action on all identified targets. This is the default.</p>\n            </li>\n            <li>\n               <p>COUNT(n) - Run the action on the specified number of targets, chosen from the identified targets at random.\n                For example, COUNT(1) selects one of the targets.</p>\n            </li>\n            <li>\n               <p>PERCENT(n) - Run the action on the specified percentage of targets, chosen from the identified targets \n               at random. For example, PERCENT(25) selects 25% of the targets.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.fis#ExperimentTemplateTargetParameterMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource type parameters.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies a target for an experiment. You must specify at least one Amazon Resource Name (ARN) or \n         at least one resource tag. You cannot specify both ARNs and tags.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/fis/latest/userguide/targets.html\">Targets</a>\n         in the <i>Fault Injection Service User Guide</i>.</p>"
            }
        },
        "com.amazonaws.fis#CreateExperimentTemplateTargetInputMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.fis#ExperimentTemplateTargetName"
            },
            "value": {
                "target": "com.amazonaws.fis#CreateExperimentTemplateTargetInput"
            }
        },
        "com.amazonaws.fis#CreateTargetAccountConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.fis#CreateTargetAccountConfigurationRequest"
            },
            "output": {
                "target": "com.amazonaws.fis#CreateTargetAccountConfigurationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.fis#ConflictException"
                },
                {
                    "target": "com.amazonaws.fis#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.fis#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.fis#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a target account configuration for the experiment template. A target account configuration\n      is required when <code>accountTargeting</code> of <code>experimentOptions</code> is set to <code>multi-account</code>.\n      For more information, see <a href=\"https://docs.aws.amazon.com/fis/latest/userguide/experiment-options.html\">experiment options</a>\n      in the <i>Fault Injection Service User Guide</i>.\n      </p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/experimentTemplates/{experimentTemplateId}/targetAccountConfigurations/{accountId}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.fis#CreateTargetAccountConfigurationRequest": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.fis#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "experimentTemplateId": {
                    "target": "com.amazonaws.fis#ExperimentTemplateId",
                    "traits": {
                        "smithy.api#documentation": "<p>The experiment template ID.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "accountId": {
                    "target": "com.amazonaws.fis#TargetAccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID of the target account.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.fis#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role for the target account.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.fis#TargetAccountConfigurationDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the target account.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.fis#CreateTargetAccountConfigurationResponse": {
            "type": "structure",
            "members": {
                "targetAccountConfiguration": {
                    "target": "com.amazonaws.fis#TargetAccountConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the target account configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.fis#CreationTime": {
            "type": "timestamp"
        },
        "com.amazonaws.fis#DeleteExperimentTemplate": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.fis#DeleteExperimentTemplateRequest"
            },
            "output": {
                "target": "com.amazonaws.fis#DeleteExperimentTemplateResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.fis#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.fis#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the specified experiment template.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/experimentTemplates/{id}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.fis#DeleteExperimentTemplateRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.fis#ExperimentTemplateId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the experiment template.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.fis#DeleteExperimentTemplateResponse": {
            "type": "structure",
            "members": {
                "experimentTemplate": {
                    "target": "com.amazonaws.fis#ExperimentTemplate",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the experiment template.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.fis#DeleteTargetAccountConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.fis#DeleteTargetAccountConfigurationRequest"
            },
            "output": {
                "target": "com.amazonaws.fis#DeleteTargetAccountConfigurationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.fis#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.fis#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the specified target account configuration of the experiment template.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/experimentTemplates/{experimentTemplateId}/targetAccountConfigurations/{accountId}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.fis#DeleteTargetAccountConfigurationRequest": {
            "type": "structure",
            "members": {
                "experimentTemplateId": {
                    "target": "com.amazonaws.fis#ExperimentTemplateId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the experiment template.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "accountId": {
                    "target": "com.amazonaws.fis#TargetAccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID of the target account.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.fis#DeleteTargetAccountConfigurationResponse": {
            "type": "structure",
            "members": {
                "targetAccountConfiguration": {
                    "target": "com.amazonaws.fis#TargetAccountConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the target account configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.fis#EmptyTargetResolutionMode": {
            "type": "enum",
            "members": {
                "FAIL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "fail"
                    }
                },
                "SKIP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "skip"
                    }
                }
            }
        },
        "com.amazonaws.fis#ExceptionMessage": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1024
                },
                "smithy.api#pattern": "^[\\s\\S]+$"
            }
        },
        "com.amazonaws.fis#Experiment": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.fis#ExperimentId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the experiment.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.fis#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the experiment.</p>"
                    }
                },
                "experimentTemplateId": {
                    "target": "com.amazonaws.fis#ExperimentTemplateId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the experiment template.</p>"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.fis#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role that grants the FIS service permission to perform service actions on your behalf.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.fis#ExperimentState",
                    "traits": {
                        "smithy.api#documentation": "<p>The state of the experiment.</p>"
                    }
                },
                "targets": {
                    "target": "com.amazonaws.fis#ExperimentTargetMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The targets for the experiment.</p>"
                    }
                },
                "actions": {
                    "target": "com.amazonaws.fis#ExperimentActionMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The actions for the experiment.</p>"
                    }
                },
                "stopConditions": {
                    "target": "com.amazonaws.fis#ExperimentStopConditionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The stop conditions for the experiment.</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.fis#CreationTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the experiment was created.</p>"
                    }
                },
                "startTime": {
                    "target": "com.amazonaws.fis#ExperimentStartTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the experiment started.</p>"
                    }
                },
                "endTime": {
                    "target": "com.amazonaws.fis#ExperimentEndTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the experiment ended.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.fis#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags for the experiment.</p>"
                    }
                },
                "logConfiguration": {
                    "target": "com.amazonaws.fis#ExperimentLogConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for experiment logging.</p>"
                    }
                },
                "experimentOptions": {
                    "target": "com.amazonaws.fis#ExperimentOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>The experiment options for the experiment.</p>"
                    }
                },
                "targetAccountConfigurationsCount": {
                    "target": "com.amazonaws.fis#TargetAccountConfigurationsCount",
                    "traits": {
                        "smithy.api#documentation": "<p>The count of target account configurations for the experiment.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an experiment.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentAction": {
            "type": "structure",
            "members": {
                "actionId": {
                    "target": "com.amazonaws.fis#ActionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the action.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.fis#ExperimentActionDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description for the action.</p>"
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.fis#ExperimentActionParameterMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameters for the action.</p>"
                    }
                },
                "targets": {
                    "target": "com.amazonaws.fis#ExperimentActionTargetMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The targets for the action.</p>"
                    }
                },
                "startAfter": {
                    "target": "com.amazonaws.fis#ExperimentActionStartAfterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the action that must be completed before this action starts.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.fis#ExperimentActionState",
                    "traits": {
                        "smithy.api#documentation": "<p>The state of the action.</p>"
                    }
                },
                "startTime": {
                    "target": "com.amazonaws.fis#ExperimentActionStartTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the action started.</p>"
                    }
                },
                "endTime": {
                    "target": "com.amazonaws.fis#ExperimentActionEndTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the action ended.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the action for an experiment.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentActionDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 512
                },
                "smithy.api#pattern": "^[\\s\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentActionEndTime": {
            "type": "timestamp"
        },
        "com.amazonaws.fis#ExperimentActionMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.fis#ExperimentActionName"
            },
            "value": {
                "target": "com.amazonaws.fis#ExperimentAction"
            }
        },
        "com.amazonaws.fis#ExperimentActionName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentActionParameter": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1024
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentActionParameterMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.fis#ExperimentActionParameterName"
            },
            "value": {
                "target": "com.amazonaws.fis#ExperimentActionParameter"
            }
        },
        "com.amazonaws.fis#ExperimentActionParameterName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentActionStartAfter": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentActionStartAfterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.fis#ExperimentActionStartAfter"
            }
        },
        "com.amazonaws.fis#ExperimentActionStartTime": {
            "type": "timestamp"
        },
        "com.amazonaws.fis#ExperimentActionState": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "com.amazonaws.fis#ExperimentActionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The state of the action.</p>"
                    }
                },
                "reason": {
                    "target": "com.amazonaws.fis#ExperimentActionStatusReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the state.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the state of an action.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentActionStatus": {
            "type": "enum",
            "members": {
                "pending": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "pending"
                    }
                },
                "initiating": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "initiating"
                    }
                },
                "running": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "running"
                    }
                },
                "completed": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "completed"
                    }
                },
                "cancelled": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cancelled"
                    }
                },
                "stopping": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "stopping"
                    }
                },
                "stopped": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "stopped"
                    }
                },
                "failed": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "failed"
                    }
                },
                "skipped": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "skipped"
                    }
                }
            }
        },
        "com.amazonaws.fis#ExperimentActionStatusReason": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 512
                },
                "smithy.api#pattern": "^[\\s\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentActionTargetMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.fis#ExperimentActionTargetName"
            },
            "value": {
                "target": "com.amazonaws.fis#ExperimentTargetName"
            }
        },
        "com.amazonaws.fis#ExperimentActionTargetName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentCloudWatchLogsLogConfiguration": {
            "type": "structure",
            "members": {
                "logGroupArn": {
                    "target": "com.amazonaws.fis#CloudWatchLogGroupArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the destination Amazon CloudWatch Logs log group.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the configuration for experiment logging to Amazon CloudWatch Logs.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentEndTime": {
            "type": "timestamp"
        },
        "com.amazonaws.fis#ExperimentError": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.fis#ExperimentErrorAccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Account ID where the experiment failure occurred.</p>"
                    }
                },
                "code": {
                    "target": "com.amazonaws.fis#ExperimentErrorCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The error code for the failed experiment.</p>"
                    }
                },
                "location": {
                    "target": "com.amazonaws.fis#ExperimentErrorLocation",
                    "traits": {
                        "smithy.api#documentation": "<p>Context for the section of the experiment template that failed.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the error when an experiment has <code>failed</code>.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentErrorAccountId": {
            "type": "string"
        },
        "com.amazonaws.fis#ExperimentErrorCode": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 128
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentErrorLocation": {
            "type": "string"
        },
        "com.amazonaws.fis#ExperimentId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentLogConfiguration": {
            "type": "structure",
            "members": {
                "cloudWatchLogsConfiguration": {
                    "target": "com.amazonaws.fis#ExperimentCloudWatchLogsLogConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for experiment logging to Amazon CloudWatch Logs.</p>"
                    }
                },
                "s3Configuration": {
                    "target": "com.amazonaws.fis#ExperimentS3LogConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for experiment logging to Amazon S3.</p>"
                    }
                },
                "logSchemaVersion": {
                    "target": "com.amazonaws.fis#LogSchemaVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The schema version.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the configuration for experiment logging.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentOptions": {
            "type": "structure",
            "members": {
                "accountTargeting": {
                    "target": "com.amazonaws.fis#AccountTargeting",
                    "traits": {
                        "smithy.api#documentation": "<p>The account targeting setting for an experiment.</p>"
                    }
                },
                "emptyTargetResolutionMode": {
                    "target": "com.amazonaws.fis#EmptyTargetResolutionMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The empty target resolution mode for an experiment.</p>"
                    }
                },
                "actionsMode": {
                    "target": "com.amazonaws.fis#ActionsMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The actions mode of the experiment that is set from the StartExperiment API command.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the options for an experiment.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentS3LogConfiguration": {
            "type": "structure",
            "members": {
                "bucketName": {
                    "target": "com.amazonaws.fis#S3BucketName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the destination bucket.</p>"
                    }
                },
                "prefix": {
                    "target": "com.amazonaws.fis#S3ObjectKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The bucket prefix.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the configuration for experiment logging to Amazon S3.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentStartTime": {
            "type": "timestamp"
        },
        "com.amazonaws.fis#ExperimentState": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "com.amazonaws.fis#ExperimentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The state of the experiment.</p>"
                    }
                },
                "reason": {
                    "target": "com.amazonaws.fis#ExperimentStatusReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the state.</p>"
                    }
                },
                "error": {
                    "target": "com.amazonaws.fis#ExperimentError",
                    "traits": {
                        "smithy.api#documentation": "<p>The error information of the experiment when the action has <code>failed</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the state of an experiment.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentStatus": {
            "type": "enum",
            "members": {
                "pending": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "pending"
                    }
                },
                "initiating": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "initiating"
                    }
                },
                "running": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "running"
                    }
                },
                "completed": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "completed"
                    }
                },
                "stopping": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "stopping"
                    }
                },
                "stopped": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "stopped"
                    }
                },
                "failed": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "failed"
                    }
                },
                "cancelled": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cancelled"
                    }
                }
            }
        },
        "com.amazonaws.fis#ExperimentStatusReason": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 512
                },
                "smithy.api#pattern": "^[\\s\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentStopCondition": {
            "type": "structure",
            "members": {
                "source": {
                    "target": "com.amazonaws.fis#StopConditionSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The source for the stop condition.</p>"
                    }
                },
                "value": {
                    "target": "com.amazonaws.fis#StopConditionValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CloudWatch alarm, if applicable.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the stop condition for an experiment.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentStopConditionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.fis#ExperimentStopCondition"
            }
        },
        "com.amazonaws.fis#ExperimentSummary": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.fis#ExperimentId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the experiment.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.fis#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the experiment.</p>"
                    }
                },
                "experimentTemplateId": {
                    "target": "com.amazonaws.fis#ExperimentTemplateId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the experiment template.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.fis#ExperimentState",
                    "traits": {
                        "smithy.api#documentation": "<p>The state of the experiment.</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.fis#CreationTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the experiment was created.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.fis#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags for the experiment.</p>"
                    }
                },
                "experimentOptions": {
                    "target": "com.amazonaws.fis#ExperimentOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>The experiment options for the experiment.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides a summary of an experiment.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.fis#ExperimentSummary"
            }
        },
        "com.amazonaws.fis#ExperimentTarget": {
            "type": "structure",
            "members": {
                "resourceType": {
                    "target": "com.amazonaws.fis#TargetResourceTypeId",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource type.</p>"
                    }
                },
                "resourceArns": {
                    "target": "com.amazonaws.fis#ResourceArnList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the resources.</p>"
                    }
                },
                "resourceTags": {
                    "target": "com.amazonaws.fis#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags for the target resources.</p>"
                    }
                },
                "filters": {
                    "target": "com.amazonaws.fis#ExperimentTargetFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The filters to apply to identify target resources using specific attributes.</p>"
                    }
                },
                "selectionMode": {
                    "target": "com.amazonaws.fis#ExperimentTargetSelectionMode",
                    "traits": {
                        "smithy.api#documentation": "<p>Scopes the identified resources to a specific count or percentage.</p>"
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.fis#ExperimentTargetParameterMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource type parameters.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a target for an experiment.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTargetAccountConfiguration": {
            "type": "structure",
            "members": {
                "roleArn": {
                    "target": "com.amazonaws.fis#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role for the target account.</p>"
                    }
                },
                "accountId": {
                    "target": "com.amazonaws.fis#TargetAccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID of the target account.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.fis#TargetAccountConfigurationDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the target account.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a target account configuration for an experiment.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTargetAccountConfigurationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.fis#ExperimentTargetAccountConfigurationSummary"
            }
        },
        "com.amazonaws.fis#ExperimentTargetAccountConfigurationSummary": {
            "type": "structure",
            "members": {
                "roleArn": {
                    "target": "com.amazonaws.fis#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role for the target account.</p>"
                    }
                },
                "accountId": {
                    "target": "com.amazonaws.fis#TargetAccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID of the target account.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.fis#TargetAccountConfigurationDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the target account.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides a summary of a target account configuration.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTargetFilter": {
            "type": "structure",
            "members": {
                "path": {
                    "target": "com.amazonaws.fis#ExperimentTargetFilterPath",
                    "traits": {
                        "smithy.api#documentation": "<p>The attribute path for the filter.</p>"
                    }
                },
                "values": {
                    "target": "com.amazonaws.fis#ExperimentTargetFilterValues",
                    "traits": {
                        "smithy.api#documentation": "<p>The attribute values for the filter.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a filter used for the target resources in an experiment.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTargetFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.fis#ExperimentTargetFilter"
            }
        },
        "com.amazonaws.fis#ExperimentTargetFilterPath": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTargetFilterValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 128
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTargetFilterValues": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.fis#ExperimentTargetFilterValue"
            }
        },
        "com.amazonaws.fis#ExperimentTargetMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.fis#ExperimentTargetName"
            },
            "value": {
                "target": "com.amazonaws.fis#ExperimentTarget"
            }
        },
        "com.amazonaws.fis#ExperimentTargetName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTargetParameterMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.fis#ExperimentTargetParameterName"
            },
            "value": {
                "target": "com.amazonaws.fis#ExperimentTargetParameterValue"
            }
        },
        "com.amazonaws.fis#ExperimentTargetParameterName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTargetParameterValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.fis#ExperimentTargetSelectionMode": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTemplate": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.fis#ExperimentTemplateId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the experiment template.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.fis#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the experiment template.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.fis#ExperimentTemplateDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description for the experiment template.</p>"
                    }
                },
                "targets": {
                    "target": "com.amazonaws.fis#ExperimentTemplateTargetMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The targets for the experiment.</p>"
                    }
                },
                "actions": {
                    "target": "com.amazonaws.fis#ExperimentTemplateActionMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The actions for the experiment.</p>"
                    }
                },
                "stopConditions": {
                    "target": "com.amazonaws.fis#ExperimentTemplateStopConditionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The stop conditions for the experiment.</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.fis#CreationTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the experiment template was created.</p>"
                    }
                },
                "lastUpdateTime": {
                    "target": "com.amazonaws.fis#LastUpdateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the experiment template was last updated.</p>"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.fis#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.fis#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags for the experiment template.</p>"
                    }
                },
                "logConfiguration": {
                    "target": "com.amazonaws.fis#ExperimentTemplateLogConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for experiment logging.</p>"
                    }
                },
                "experimentOptions": {
                    "target": "com.amazonaws.fis#ExperimentTemplateExperimentOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>The experiment options for an experiment template.</p>"
                    }
                },
                "targetAccountConfigurationsCount": {
                    "target": "com.amazonaws.fis#TargetAccountConfigurationsCount",
                    "traits": {
                        "smithy.api#documentation": "<p>The count of target account configurations for the experiment template.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an experiment template.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateAction": {
            "type": "structure",
            "members": {
                "actionId": {
                    "target": "com.amazonaws.fis#ActionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the action.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.fis#ExperimentTemplateActionDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description for the action.</p>"
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.fis#ExperimentTemplateActionParameterMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameters for the action.</p>"
                    }
                },
                "targets": {
                    "target": "com.amazonaws.fis#ExperimentTemplateActionTargetMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The targets for the action.</p>"
                    }
                },
                "startAfter": {
                    "target": "com.amazonaws.fis#ExperimentTemplateActionStartAfterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the action that must be completed before the current action starts.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an action for an experiment template.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateActionDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 512
                },
                "smithy.api#pattern": "^[\\s\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateActionMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.fis#ExperimentTemplateActionName"
            },
            "value": {
                "target": "com.amazonaws.fis#ExperimentTemplateAction"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateActionName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateActionParameter": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1024
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateActionParameterMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.fis#ExperimentTemplateActionParameterName"
            },
            "value": {
                "target": "com.amazonaws.fis#ExperimentTemplateActionParameter"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateActionParameterName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateActionStartAfter": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateActionStartAfterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.fis#ExperimentTemplateActionStartAfter"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateActionTargetMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.fis#ExperimentTemplateActionTargetName"
            },
            "value": {
                "target": "com.amazonaws.fis#ExperimentTemplateTargetName"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateActionTargetName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateCloudWatchLogsLogConfiguration": {
            "type": "structure",
            "members": {
                "logGroupArn": {
                    "target": "com.amazonaws.fis#CloudWatchLogGroupArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the destination Amazon CloudWatch Logs log group.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the configuration for experiment logging to Amazon CloudWatch Logs.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateCloudWatchLogsLogConfigurationInput": {
            "type": "structure",
            "members": {
                "logGroupArn": {
                    "target": "com.amazonaws.fis#CloudWatchLogGroupArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the destination Amazon CloudWatch Logs log group.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the configuration for experiment logging to Amazon CloudWatch Logs.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 512
                },
                "smithy.api#pattern": "^[\\s\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateExperimentOptions": {
            "type": "structure",
            "members": {
                "accountTargeting": {
                    "target": "com.amazonaws.fis#AccountTargeting",
                    "traits": {
                        "smithy.api#documentation": "<p>The account targeting setting for an experiment template. </p>"
                    }
                },
                "emptyTargetResolutionMode": {
                    "target": "com.amazonaws.fis#EmptyTargetResolutionMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The empty target resolution mode for an experiment template.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the experiment options for an experiment template.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateLogConfiguration": {
            "type": "structure",
            "members": {
                "cloudWatchLogsConfiguration": {
                    "target": "com.amazonaws.fis#ExperimentTemplateCloudWatchLogsLogConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for experiment logging to Amazon CloudWatch Logs.</p>"
                    }
                },
                "s3Configuration": {
                    "target": "com.amazonaws.fis#ExperimentTemplateS3LogConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for experiment logging to Amazon S3.</p>"
                    }
                },
                "logSchemaVersion": {
                    "target": "com.amazonaws.fis#LogSchemaVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The schema version.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the configuration for experiment logging.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateS3LogConfiguration": {
            "type": "structure",
            "members": {
                "bucketName": {
                    "target": "com.amazonaws.fis#S3BucketName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the destination bucket.</p>"
                    }
                },
                "prefix": {
                    "target": "com.amazonaws.fis#S3ObjectKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The bucket prefix.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the configuration for experiment logging to Amazon S3.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateS3LogConfigurationInput": {
            "type": "structure",
            "members": {
                "bucketName": {
                    "target": "com.amazonaws.fis#S3BucketName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the destination bucket.</p>",
                        "smithy.api#required": {}
                    }
                },
                "prefix": {
                    "target": "com.amazonaws.fis#S3ObjectKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The bucket prefix.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the configuration for experiment logging to Amazon S3.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateStopCondition": {
            "type": "structure",
            "members": {
                "source": {
                    "target": "com.amazonaws.fis#StopConditionSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The source for the stop condition.</p>"
                    }
                },
                "value": {
                    "target": "com.amazonaws.fis#StopConditionValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CloudWatch alarm, if applicable.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a stop condition for an experiment template.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateStopConditionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.fis#ExperimentTemplateStopCondition"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateSummary": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.fis#ExperimentTemplateId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the experiment template.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.fis#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the experiment template.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.fis#ExperimentTemplateDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the experiment template.</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.fis#CreationTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the experiment template was created.</p>"
                    }
                },
                "lastUpdateTime": {
                    "target": "com.amazonaws.fis#LastUpdateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the experiment template was last updated.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.fis#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags for the experiment template.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides a summary of an experiment template.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.fis#ExperimentTemplateSummary"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateTarget": {
            "type": "structure",
            "members": {
                "resourceType": {
                    "target": "com.amazonaws.fis#TargetResourceTypeId",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource type.</p>"
                    }
                },
                "resourceArns": {
                    "target": "com.amazonaws.fis#ResourceArnList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the targets.</p>"
                    }
                },
                "resourceTags": {
                    "target": "com.amazonaws.fis#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags for the target resources.</p>"
                    }
                },
                "filters": {
                    "target": "com.amazonaws.fis#ExperimentTemplateTargetFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The filters to apply to identify target resources using specific attributes.</p>"
                    }
                },
                "selectionMode": {
                    "target": "com.amazonaws.fis#ExperimentTemplateTargetSelectionMode",
                    "traits": {
                        "smithy.api#documentation": "<p>Scopes the identified resources to a specific count or percentage.</p>"
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.fis#ExperimentTemplateTargetParameterMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource type parameters.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a target for an experiment template.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateTargetFilter": {
            "type": "structure",
            "members": {
                "path": {
                    "target": "com.amazonaws.fis#ExperimentTemplateTargetFilterPath",
                    "traits": {
                        "smithy.api#documentation": "<p>The attribute path for the filter.</p>"
                    }
                },
                "values": {
                    "target": "com.amazonaws.fis#ExperimentTemplateTargetFilterValues",
                    "traits": {
                        "smithy.api#documentation": "<p>The attribute values for the filter.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a filter used for the target resources in an experiment template.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateTargetFilterInputList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.fis#ExperimentTemplateTargetInputFilter"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateTargetFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.fis#ExperimentTemplateTargetFilter"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateTargetFilterPath": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateTargetFilterValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 128
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateTargetFilterValues": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.fis#ExperimentTemplateTargetFilterValue"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateTargetInputFilter": {
            "type": "structure",
            "members": {
                "path": {
                    "target": "com.amazonaws.fis#ExperimentTemplateTargetFilterPath",
                    "traits": {
                        "smithy.api#documentation": "<p>The attribute path for the filter.</p>",
                        "smithy.api#required": {}
                    }
                },
                "values": {
                    "target": "com.amazonaws.fis#ExperimentTemplateTargetFilterValues",
                    "traits": {
                        "smithy.api#documentation": "<p>The attribute values for the filter.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies a filter used for the target resource input in an experiment template.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/fis/latest/userguide/targets.html#target-filters\">Resource filters</a>\n         in the <i>Fault Injection Service User Guide</i>.</p>"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateTargetMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.fis#ExperimentTemplateTargetName"
            },
            "value": {
                "target": "com.amazonaws.fis#ExperimentTemplateTarget"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateTargetName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateTargetParameterMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.fis#ExperimentTemplateTargetParameterName"
            },
            "value": {
                "target": "com.amazonaws.fis#ExperimentTemplateTargetParameterValue"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateTargetParameterName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateTargetParameterValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                },
                "smithy.api#pattern": "^[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]+$"
            }
        },
        "com.amazonaws.fis#ExperimentTemplateTargetSelectionMode": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\S]+$"
            }
        },
        "com.amazonaws.fis#FaultInjectionSimulator": {
            "type": "service",
            "version": "2020-12-01",
            "operations": [
                {
                    "target": "com.amazonaws.fis#CreateExperimentTemplate"
                },
                {
                    "target": "com.amazonaws.fis#CreateTargetAccountConfiguration"
                },
                {
                    "target": "com.amazonaws.fis#DeleteExperimentTemplate"
                },
                {
                    "target": "com.amazonaws.fis#DeleteTargetAccountConfiguration"
                },
                {
                    "target": "com.amazonaws.fis#GetAction"
                },
                {
                    "target": "com.amazonaws.fis#GetExperiment"
                },
                {
                    "target": "com.amazonaws.fis#GetExperimentTargetAccountConfiguration"
                },
                {
                    "target": "com.amazonaws.fis#GetExperimentTemplate"
                },
                {
                    "target": "com.amazonaws.fis#GetSafetyLever"
                },
                {
                    "target": "com.amazonaws.fis#GetTargetAccountConfiguration"
                },
                {
                    "target": "com.amazonaws.fis#GetTargetResourceType"
                },
                {
                    "target": "com.amazonaws.fis#ListActions"
                },
                {
                    "target": "com.amazonaws.fis#ListExperimentResolvedTargets"
                },
                {
                    "target": "com.amazonaws.fis#ListExperiments"
                },
                {
                    "target": "com.amazonaws.fis#ListExperimentTargetAccountConfigurations"
                },
                {
                    "target": "com.amazonaws.fis#ListExperimentTemplates"
                },
                {
                    "target": "com.amazonaws.fis#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.fis#ListTargetAccountConfigurations"
                },
                {
                    "target": "com.amazonaws.fis#ListTargetResourceTypes"
                },
                {
                    "target": "com.amazonaws.fis#StartExperiment"
                },
                {
                    "target": "com.amazonaws.fis#StopExperiment"
                },
                {
                    "target": "com.amazonaws.fis#TagResource"
                },
                {
                    "target": "com.amazonaws.fis#UntagResource"
                },
                {
                    "target": "com.amazonaws.fis#UpdateExperimentTemplate"
                },
                {
                    "target": "com.amazonaws.fis#UpdateSafetyLeverState"
                },
                {
                    "target": "com.amazonaws.fis#UpdateTargetAccountConfiguration"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "fis",
                    "arnNamespace": "fis",
                    "cloudFormationName": "Fis",
                    "cloudTrailEventSource": "fis.amazonaws.com",
                    "endpointPrefix": "fis"
                },
                "aws.auth#sigv4": {
                    "name": "fis"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>Amazon Web Services Fault Injection Service is a managed service that enables you to perform fault injection \n           experiments on your Amazon Web Services workloads. For more information, see the <a href=\"https://docs.aws.amazon.com/fis/latest/userguide/\">Fault Injection Service User Guide</a>.</p>",
                "smithy.api#title": "AWS Fault Injection Simulator",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
[...]
