{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.gameliftstreams#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Description of the error.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You don't have the required permissions to access this Amazon GameLift Streams resource. Correct the permissions before you try again.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.gameliftstreams#AddStreamGroupLocations": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.gameliftstreams#AddStreamGroupLocationsInput"
            },
            "output": {
                "target": "com.amazonaws.gameliftstreams#AddStreamGroupLocationsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.gameliftstreams#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#InternalServerException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to attach a StreamGroup remote location",
                    "resources": {
                        "required": {
                            "stream group": {}
                        }
                    },
                    "requiredActions": [
                        "ec2:DescribeRegions"
                    ]
                },
                "smithy.api#documentation": "<p> Add locations that can host stream sessions. You configure locations and their corresponding capacity for each stream group. Creating a stream group in a location that's nearest to your end users can help minimize latency and improve quality. </p> <p> This operation provisions stream capacity at the specified locations. By default, all locations have 1 or 2 capacity, depending on the stream class option: 2 for 'High' and 1 for 'Ultra' and 'Win2022'. This operation also copies the content files of all associated applications to an internal S3 bucket at each location. This allows Amazon GameLift Streams to host performant stream sessions. </p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/streamgroups/{Identifier}/locations"
                }
            }
        },
        "com.amazonaws.gameliftstreams#AddStreamGroupLocationsInput": {
            "type": "structure",
            "members": {
                "Identifier": {
                    "target": "com.amazonaws.gameliftstreams#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p> A stream group to add the specified locations to. </p> <p>This value is an <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> or ID that uniquely identifies the stream group resource. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:streamgroup/sg-1AB2C3De4</code>. Example ID: <code>sg-1AB2C3De4</code>. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "Arn"
                    }
                },
                "LocationConfigurations": {
                    "target": "com.amazonaws.gameliftstreams#LocationConfigurations",
                    "traits": {
                        "smithy.api#documentation": "<p> A set of one or more locations and the streaming capacity for each location. </p>",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.gameliftstreams#AddStreamGroupLocationsOutput": {
            "type": "structure",
            "members": {
                "Identifier": {
                    "target": "com.amazonaws.gameliftstreams#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>This value is an <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> or ID that uniquely identifies the stream group resource. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:streamgroup/sg-1AB2C3De4</code>. Example ID: <code>sg-1AB2C3De4</code>. </p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "Arn"
                    }
                },
                "Locations": {
                    "target": "com.amazonaws.gameliftstreams#LocationStates",
                    "traits": {
                        "smithy.api#documentation": "<p>This value is set of locations, including their name, current status, and capacities. </p> <p>A location can be in one of the following states:</p> <ul> <li> <p> <code>ACTIVATING</code>: Amazon GameLift Streams is preparing the location. You cannot stream from, scale the capacity of, or remove this location yet.</p> </li> <li> <p> <code>ACTIVE</code>: The location is provisioned with initial capacity. You can now stream from, scale the capacity of, or remove this location.</p> </li> <li> <p> <code>ERROR</code>: Amazon GameLift Streams failed to set up this location. The <code>StatusReason</code> field describes the error. You can remove this location and try to add it again.</p> </li> <li> <p> <code>REMOVING</code>: Amazon GameLift Streams is working to remove this location. This will release all provisioned capacity for this location in this stream group.</p> </li> </ul>",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.gameliftstreams#AlwaysOnCapacity": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 0
                }
            }
        },
        "com.amazonaws.gameliftstreams#ApplicationLogOutputUri": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1024
                },
                "smithy.api#pattern": "^$|^s3://([a-zA-Z0-9][a-zA-Z0-9._-]{1,61}[a-zA-Z0-9])(/[a-zA-Z0-9._-]+)*/?$"
            }
        },
        "com.amazonaws.gameliftstreams#ApplicationResource": {
            "type": "resource",
            "identifiers": {
                "Arn": {
                    "target": "com.amazonaws.gameliftstreams#Identifier"
                }
            },
            "properties": {
                "Id": {
                    "target": "com.amazonaws.gameliftstreams#Id"
                },
                "Description": {
                    "target": "com.amazonaws.gameliftstreams#Description"
                },
                "RuntimeEnvironment": {
                    "target": "com.amazonaws.gameliftstreams#RuntimeEnvironment"
                },
                "ExecutablePath": {
                    "target": "com.amazonaws.gameliftstreams#ExecutablePath"
                },
                "ApplicationLogPaths": {
                    "target": "com.amazonaws.gameliftstreams#FilePaths"
                },
                "ApplicationLogOutputUri": {
                    "target": "com.amazonaws.gameliftstreams#ApplicationLogOutputUri"
                },
                "ApplicationSourceUri": {
                    "target": "com.amazonaws.gameliftstreams#ApplicationSourceUri"
                },
                "Status": {
                    "target": "com.amazonaws.gameliftstreams#ApplicationStatus"
                },
                "StatusReason": {
                    "target": "com.amazonaws.gameliftstreams#ApplicationStatusReason"
                },
                "ReplicationStatuses": {
                    "target": "com.amazonaws.gameliftstreams#ReplicationStatuses"
                },
                "CreatedAt": {
                    "target": "smithy.api#Timestamp"
                },
                "LastUpdatedAt": {
                    "target": "smithy.api#Timestamp"
                },
                "Tags": {
                    "target": "com.amazonaws.gameliftstreams#Tags"
                },
                "AssociatedStreamGroups": {
                    "target": "com.amazonaws.gameliftstreams#ArnList"
                }
            },
            "create": {
                "target": "com.amazonaws.gameliftstreams#CreateApplication"
            },
            "read": {
                "target": "com.amazonaws.gameliftstreams#GetApplication"
            },
            "update": {
                "target": "com.amazonaws.gameliftstreams#UpdateApplication"
            },
            "delete": {
                "target": "com.amazonaws.gameliftstreams#DeleteApplication"
            },
            "list": {
                "target": "com.amazonaws.gameliftstreams#ListApplications"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "{Arn}",
                    "absolute": true
                },
                "aws.cloudformation#cfnResource": {
                    "name": "Application"
                },
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}"
                ],
                "aws.iam#disableConditionKeyInference": {},
                "aws.iam#iamResource": {
                    "name": "application",
                    "relativeDocumentation": "applications.html"
                }
            }
        },
        "com.amazonaws.gameliftstreams#ApplicationSourceUri": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.gameliftstreams#ApplicationStatus": {
            "type": "enum",
            "members": {
                "INITIALIZED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INITIALIZED"
                    }
                },
                "PROCESSING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PROCESSING"
                    }
                },
                "READY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "READY"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR"
                    }
                }
            }
        },
        "com.amazonaws.gameliftstreams#ApplicationStatusReason": {
            "type": "enum",
            "members": {
                "INTERNAL_ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "internalError"
                    }
                },
                "ACCESS_DENIED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "accessDenied"
                    }
                }
            }
        },
        "com.amazonaws.gameliftstreams#ApplicationSummary": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.gameliftstreams#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that's assigned to an application resource and uniquely identifies the application across all Amazon Web Services Regions. Format is <code>arn:aws:gameliftstreams:[AWS Region]:[AWS account]:application/[resource ID]</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Id": {
                    "target": "com.amazonaws.gameliftstreams#Id",
                    "traits": {
                        "smithy.api#documentation": "<p>An ID that uniquely identifies the application resource. Example ID: <code>a-9ZY8X7Wv6</code>. </p>"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.gameliftstreams#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A human-readable label for the application. You can edit this value. </p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.gameliftstreams#ApplicationStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the application resource. Possible statuses include the following:</p> <ul> <li> <p> <code>INITIALIZED</code>: Amazon GameLift Streams has received the request and is initiating the work flow to create an application. </p> </li> <li> <p> <code>PROCESSING</code>: The create application work flow is in process. Amazon GameLift Streams is copying the content and caching for future deployment in a stream group.</p> </li> <li> <p> <code>READY</code>: The application is ready to deploy in a stream group.</p> </li> <li> <p> <code>ERROR</code>: An error occurred when setting up the application. See <code>StatusReason</code> for more information.</p> </li> <li> <p> <code>DELETING</code>: Amazon GameLift Streams is in the process of deleting the application.</p> </li> </ul>"
                    }
                },
                "CreatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>A timestamp that indicates when this resource was created. Timestamps are expressed using in ISO8601 format, such as: <code>2022-12-27T22:29:40+00:00</code> (UTC).</p>"
                    }
                },
                "LastUpdatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>A timestamp that indicates when this resource was last updated. Timestamps are expressed using in ISO8601 format, such as: <code>2022-12-27T22:29:40+00:00</code> (UTC).</p>"
                    }
                },
                "RuntimeEnvironment": {
                    "target": "com.amazonaws.gameliftstreams#RuntimeEnvironment",
                    "traits": {
                        "smithy.api#documentation": "<p> Configuration settings that identify the operating system for an application resource. This can also include a compatibility layer and other drivers. </p> <p>A runtime environment can be one of the following:</p> <ul> <li> <p> For Linux applications </p> <ul> <li> <p> Ubuntu 22.04 LTS (<code>Type=UBUNTU, Version=22_04_LTS</code>) </p> </li> </ul> </li> <li> <p> For Windows applications </p> <ul> <li> <p>Microsoft Windows Server 2022 Base (<code>Type=WINDOWS, Version=2022</code>)</p> </li> <li> <p>Proton 9.0-2 (<code>Type=PROTON, Version=20250516</code>)</p> </li> <li> <p>Proton 8.0-5 (<code>Type=PROTON, Version=20241007</code>)</p> </li> <li> <p>Proton 8.0-2c (<code>Type=PROTON, Version=20230704</code>)</p> </li> </ul> </li> </ul>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an application resource that represents a collection of content for streaming with Amazon GameLift Streams. To retrieve additional application details, call <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_GetApplication.html\">GetApplication</a>.</p>"
            }
        },
        "com.amazonaws.gameliftstreams#ApplicationSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.gameliftstreams#ApplicationSummary"
            }
        },
        "com.amazonaws.gameliftstreams#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^arn:aws:gameliftstreams:([^:\n]*):([0-9]{12}):([^:\n]*)$"
            }
        },
        "com.amazonaws.gameliftstreams#ArnList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.gameliftstreams#Arn"
            }
        },
        "com.amazonaws.gameliftstreams#AssociateApplications": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.gameliftstreams#AssociateApplicationsInput"
            },
            "output": {
                "target": "com.amazonaws.gameliftstreams#AssociateApplicationsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.gameliftstreams#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#InternalServerException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to associate Applications to a StreamGroup",
                    "resources": {
                        "required": {
                            "stream group": {},
                            "application": {}
                        }
                    }
                },
                "smithy.api#documentation": "<p>When you associate, or link, an application with a stream group, then Amazon GameLift Streams can launch the application using the stream group's allocated compute resources. The stream group must be in <code>ACTIVE</code> status. You can reverse this action by using <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_DisassociateApplications.html\">DisassociateApplications</a>.</p> <p>If a stream group does not already have a linked application, Amazon GameLift Streams will automatically assign the first application provided in <code>ApplicationIdentifiers</code> as the default.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/streamgroups/{Identifier}/associations"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.gameliftstreams#AssociateApplicationsInput": {
            "type": "structure",
            "members": {
                "Identifier": {
                    "target": "com.amazonaws.gameliftstreams#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>A stream group to associate to the applications.</p> <p>This value is an <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> or ID that uniquely identifies the stream group resource. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:streamgroup/sg-1AB2C3De4</code>. Example ID: <code>sg-1AB2C3De4</code>. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "Arn"
                    }
                },
                "ApplicationIdentifiers": {
                    "target": "com.amazonaws.gameliftstreams#Identifiers",
                    "traits": {
                        "smithy.api#documentation": "<p>A set of applications to associate with the stream group.</p> <p>This value is a set of either <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Names (ARN)</a> or IDs that uniquely identify application resources. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:application/a-9ZY8X7Wv6</code>. Example ID: <code>a-9ZY8X7Wv6</code>. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.gameliftstreams#AssociateApplicationsOutput": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.gameliftstreams#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>A stream group that is associated to the applications.</p> <p>This value is an <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> that uniquely identifies the stream group resource. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:streamgroup/sg-1AB2C3De4</code>. </p>"
                    }
                },
                "ApplicationArns": {
                    "target": "com.amazonaws.gameliftstreams#ArnList",
                    "traits": {
                        "smithy.api#documentation": "<p>A set of applications that are associated to the stream group.</p> <p>This value is a set of <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Names (ARNs)</a> that uniquely identify application resources. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:application/a-9ZY8X7Wv6</code>. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.gameliftstreams#CapacityValue": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 0
                }
            }
        },
        "com.amazonaws.gameliftstreams#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 32,
                    "max": 128
                },
                "smithy.api#pattern": "^[\\x21-\\x7E]+$"
            }
        },
        "com.amazonaws.gameliftstreams#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Description of the error.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.gameliftstreams#ConnectionTimeoutSeconds": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 3600
                }
            }
        },
        "com.amazonaws.gameliftstreams#CreateApplication": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.gameliftstreams#CreateApplicationInput"
            },
            "output": {
                "target": "com.amazonaws.gameliftstreams#CreateApplicationOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.gameliftstreams#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ConflictException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#InternalServerException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:TagKeys",
                    "aws:RequestTag/${TagKey}"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create application",
                    "requiredActions": [
                        "gameliftstreams:TagResource",
                        "s3:ListBucket",
                        "s3:GetObject"
                    ]
                },
                "smithy.api#documentation": "<p>Creates an application resource in Amazon GameLift Streams, which specifies the application content you want to stream, such as a game build or other software, and configures the settings to run it.</p> <p> Before you create an application, upload your application content files to an Amazon Simple Storage Service (Amazon S3) bucket. For more information, see <b>Getting Started</b> in the Amazon GameLift Streams Developer Guide. </p> <important> <p> Make sure that your files in the Amazon S3 bucket are the correct version you want to use. If you change the files at a later time, you will need to create a new Amazon GameLift Streams application. </p> </important> <p> If the request is successful, Amazon GameLift Streams begins to create an application and sets the status to <code>INITIALIZED</code>. When an application reaches <code>READY</code> status, you can use the application to set up stream groups and start streams. To track application status, call <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_GetApplication.html\">GetApplication</a>. </p>",
                "smithy.api#http": {
                    "code": 201,
                    "method": "POST",
                    "uri": "/applications"
                }
            }
        },
        "com.amazonaws.gameliftstreams#CreateApplicationInput": {
            "type": "structure",
            "members": {
                "Description": {
                    "target": "com.amazonaws.gameliftstreams#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A human-readable label for the application. You can update this value later.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RuntimeEnvironment": {
                    "target": "com.amazonaws.gameliftstreams#RuntimeEnvironment",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration settings that identify the operating system for an application resource. This can also include a compatibility layer and other drivers.</p> <p>A runtime environment can be one of the following:</p> <ul> <li> <p> For Linux applications </p> <ul> <li> <p> Ubuntu 22.04 LTS (<code>Type=UBUNTU, Version=22_04_LTS</code>) </p> </li> </ul> </li> <li> <p> For Windows applications </p> <ul> <li> <p>Microsoft Windows Server 2022 Base (<code>Type=WINDOWS, Version=2022</code>)</p> </li> <li> <p>Proton 9.0-2 (<code>Type=PROTON, Version=20250516</code>)</p> </li> <li> <p>Proton 8.0-5 (<code>Type=PROTON, Version=20241007</code>)</p> </li> <li> <p>Proton 8.0-2c (<code>Type=PROTON, Version=20230704</code>)</p> </li> </ul> </li> </ul>",
                        "smithy.api#required": {}
                    }
                },
                "ExecutablePath": {
                    "target": "com.amazonaws.gameliftstreams#ExecutablePath",
                    "traits": {
                        "smithy.api#documentation": "<p>The path and file name of the executable file that launches the content for streaming. Enter a path value that is relative to the location set in <code>ApplicationSourceUri</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ApplicationSourceUri": {
                    "target": "com.amazonaws.gameliftstreams#ApplicationSourceUri",
                    "traits": {
                        "smithy.api#documentation": "<p>The location of the content that you want to stream. Enter an Amazon S3 URI to a bucket that contains your game or other application. The location can have a multi-level prefix structure, but it must include all the files needed to run the content. Amazon GameLift Streams copies everything under the specified location.</p> <p>This value is immutable. To designate a different content location, create a new application.</p> <note> <p>The Amazon S3 bucket and the Amazon GameLift Streams application must be in the same Amazon Web Services Region.</p> </note>",
                        "smithy.api#required": {}
                    }
                },
                "ApplicationLogPaths": {
                    "target": "com.amazonaws.gameliftstreams#FilePaths",
                    "traits": {
                        "smithy.api#documentation": "<p>Locations of log files that your content generates during a stream session. Enter path values that are relative to the <code>ApplicationSourceUri</code> location. You can specify up to 10 log paths. Amazon GameLift Streams uploads designated log files to the Amazon S3 bucket that you specify in <code>ApplicationLogOutputUri</code> at the end of a stream session. To retrieve stored log files, call <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_GetStreamSession.html\">GetStreamSession</a> and get the <code>LogFileLocationUri</code>.</p>"
                    }
                },
                "ApplicationLogOutputUri": {
                    "target": "com.amazonaws.gameliftstreams#ApplicationLogOutputUri",
                    "traits": {
                        "smithy.api#documentation": "<p>An Amazon S3 URI to a bucket where you would like Amazon GameLift Streams to save application logs. Required if you specify one or more <code>ApplicationLogPaths</code>.</p> <note> <p>The log bucket must have permissions that give Amazon GameLift Streams access to write the log files. For more information, see <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/developerguide/applications.html#application-bucket-permission-template\">Application log bucket permission policy</a> in the <i>Amazon GameLift Streams Developer Guide</i>.</p> </note>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.gameliftstreams#Tags",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "full",
                        "smithy.api#documentation": "<p>A list of labels to assign to the new application resource. Tags are developer-defined key-value pairs. Tagging Amazon Web Services resources is useful for resource management, access management and cost allocation. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\"> Tagging Amazon Web Services Resources</a> in the <i>Amazon Web Services General Reference</i>. You can use <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_TagResource.html\">TagResource</a> to add tags, <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_UntagResource.html\">UntagResource</a> to remove tags, and <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_ListTagsForResource.html\">ListTagsForResource</a> to view tags on existing resources.</p>"
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.gameliftstreams#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p> A unique identifier that represents a client request. The request is idempotent, which ensures that an API request completes only once. When users send a request, Amazon GameLift Streams automatically populates this field. </p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.gameliftstreams#CreateApplicationOutput": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.gameliftstreams#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> that's assigned to an application resource and uniquely identifies it across all Amazon Web Services Regions. Format is <code>arn:aws:gameliftstreams:[AWS Region]:[AWS account]:application/[resource ID]</code>.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "Arn"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.gameliftstreams#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A human-readable label for the application. You can edit this value. </p>"
                    }
                },
                "RuntimeEnvironment": {
                    "target": "com.amazonaws.gameliftstreams#RuntimeEnvironment",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "create-and-read",
                        "smithy.api#documentation": "<p> Configuration settings that identify the operating system for an application resource. This can also include a compatibility layer and other drivers. </p> <p>A runtime environment can be one of the following:</p> <ul> <li> <p> For Linux applications </p> <ul> <li> <p> Ubuntu 22.04 LTS (<code>Type=UBUNTU, Version=22_04_LTS</code>) </p> </li> </ul> </li> <li> <p> For Windows applications </p> <ul> <li> <p>Microsoft Windows Server 2022 Base (<code>Type=WINDOWS, Version=2022</code>)</p> </li> <li> <p>Proton 9.0-2 (<code>Type=PROTON, Version=20250516</code>)</p> </li> <li> <p>Proton 8.0-5 (<code>Type=PROTON, Version=20241007</code>)</p> </li> <li> <p>Proton 8.0-2c (<code>Type=PROTON, Version=20230704</code>)</p> </li> </ul> </li> </ul>"
                    }
                },
                "ExecutablePath": {
                    "target": "com.amazonaws.gameliftstreams#ExecutablePath",
                    "traits": {
                        "smithy.api#documentation": "<p>The path and file name of the executable file that launches the content for streaming.</p>"
                    }
                },
                "ApplicationLogPaths": {
                    "target": "com.amazonaws.gameliftstreams#FilePaths",
                    "traits": {
                        "smithy.api#documentation": "<p>Locations of log files that your content generates during a stream session. Amazon GameLift Streams uploads log files to the Amazon S3 bucket that you specify in <code>ApplicationLogOutputUri</code> at the end of a stream session. To retrieve stored log files, call <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_GetStreamSession.html\">GetStreamSession</a> and get the <code>LogFileLocationUri</code>.</p>"
                    }
                },
                "ApplicationLogOutputUri": {
                    "target": "com.amazonaws.gameliftstreams#ApplicationLogOutputUri",
                    "traits": {
                        "smithy.api#documentation": "<p>An Amazon S3 URI to a bucket where you would like Amazon GameLift Streams to save application logs. Required if you specify one or more <code>ApplicationLogPaths</code>.</p>"
                    }
                },
                "ApplicationSourceUri": {
                    "target": "com.amazonaws.gameliftstreams#ApplicationSourceUri",
                    "traits": {
                        "smithy.api#documentation": "<p>The original Amazon S3 location of uploaded stream content for the application.</p>"
                    }
                },
                "Id": {
                    "target": "com.amazonaws.gameliftstreams#Id",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique ID value that is assigned to the resource when it's created. Format example: <code>a-9ZY8X7Wv6</code>.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.gameliftstreams#ApplicationStatus",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>The current status of the application resource. Possible statuses include the following:</p> <ul> <li> <p> <code>INITIALIZED</code>: Amazon GameLift Streams has received the request and is initiating the work flow to create an application. </p> </li> <li> <p> <code>PROCESSING</code>: The create application work flow is in process. Amazon GameLift Streams is copying the content and caching for future deployment in a stream group.</p> </li> <li> <p> <code>READY</code>: The application is ready to deploy in a stream group.</p> </li> <li> <p> <code>ERROR</code>: An error occurred when setting up the application. See <code>StatusReason</code> for more information.</p> </li> <li> <p> <code>DELETING</code>: Amazon GameLift Streams is in the process of deleting the application.</p> </li> </ul>"
                    }
                },
                "StatusReason": {
                    "target": "com.amazonaws.gameliftstreams#ApplicationStatusReason",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>A short description of the status reason when the application is in <code>ERROR</code> status.</p>"
                    }
                },
                "ReplicationStatuses": {
                    "target": "com.amazonaws.gameliftstreams#ReplicationStatuses",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>A set of replication statuses for each location.</p>"
                    }
                },
                "CreatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>A timestamp that indicates when this resource was created. Timestamps are expressed using in ISO8601 format, such as: <code>2022-12-27T22:29:40+00:00</code> (UTC).</p>"
                    }
                },
                "LastUpdatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>A timestamp that indicates when this resource was last updated. Timestamps are expressed using in ISO8601 format, such as: <code>2022-12-27T22:29:40+00:00</code> (UTC).</p>"
                    }
                },
                "AssociatedStreamGroups": {
                    "target": "com.amazonaws.gameliftstreams#ArnList",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>A newly created application is not associated to any stream groups. This value is empty.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.gameliftstreams#CreateStreamGroup": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.gameliftstreams#CreateStreamGroupInput"
            },
            "output": {
                "target": "com.amazonaws.gameliftstreams#CreateStreamGroupOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.gameliftstreams#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ConflictException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#InternalServerException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:TagKeys",
                    "aws:RequestTag/${TagKey}"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create a StreamGroup",
                    "requiredActions": [
                        "gameliftstreams:TagResource"
                    ]
                },
                "smithy.api#documentation": "<p> Manage how Amazon GameLift Streams streams your applications by using a stream group. A stream group is a collection of resources that Amazon GameLift Streams uses to stream your application to end-users. When you create a stream group, you specify an application to stream by default and the type of hardware to use, such as the graphical processing unit (GPU). You can also link additional applications, which allows you to stream those applications using this stream group. Depending on your expected users, you also scale the number of concurrent streams you want to support at one time, and in what locations. </p> <p> Stream capacity represents the number of concurrent streams that can be active at a time. You set stream capacity per location, per stream group. There are two types of capacity, always-on and on-demand: </p> <ul> <li> <p> <b>Always-on</b>: The streaming capacity that is allocated and ready to handle stream requests without delay. You pay for this capacity whether it's in use or not. Best for quickest time from streaming request to streaming session. Default is 1 when creating a stream group or adding a location. </p> </li> <li> <p> <b>On-demand</b>: The streaming capacity that Amazon GameLift Streams can allocate in response to stream requests, and then de-allocate when the session has terminated. This offers a cost control measure at the expense of a greater startup time (typically under 5 minutes). Default is 0 when creating a stream group or adding a location. </p> </li> </ul> <p> To adjust the capacity of any <code>ACTIVE</code> stream group, call <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_UpdateStreamGroup.html\">UpdateStreamGroup</a>. </p> <p> If the request is successful, Amazon GameLift Streams begins creating the stream group. Amazon GameLift Streams assigns a unique ID to the stream group resource and sets the status to <code>ACTIVATING</code>. When the stream group reaches <code>ACTIVE</code> status, you can start stream sessions by using <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_StartStreamSession.html\">StartStreamSession</a>. To check the stream group's status, call <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_GetStreamGroup.html\">GetStreamGroup</a>. </p>",
                "smithy.api#http": {
                    "code": 201,
                    "method": "POST",
                    "uri": "/streamgroups"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.gameliftstreams#CreateStreamGroupInput": {
            "type": "structure",
            "members": {
                "Description": {
                    "target": "com.amazonaws.gameliftstreams#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A descriptive label for the stream group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StreamClass": {
                    "target": "com.amazonaws.gameliftstreams#StreamClass",
                    "traits": {
                        "smithy.api#documentation": "<p>The target stream quality for sessions that are hosted in this stream group. Set a stream class that is appropriate to the type of content that you're streaming. Stream class determines the type of computing resources Amazon GameLift Streams uses and impacts the cost of streaming. The following options are available: </p> <p>A stream class can be one of the following:</p> <ul> <li> <p> <b> <code>gen5n_win2022</code> (NVIDIA, ultra)</b> Supports applications with extremely high 3D scene complexity. Runs applications on Microsoft Windows Server 2022 Base and supports DirectX 12. Compatible with Unreal Engine versions up through 5.4, 32 and 64-bit applications, and anti-cheat technology. Uses NVIDIA A10G Tensor GPU.</p> <ul> <li> <p>Reference resolution: 1080p</p> </li> <li> <p>Reference frame rate: 60 fps</p> </li> <li> <p>Workload specifications: 8 vCPUs, 32 GB RAM, 24 GB VRAM</p> </li> <li> <p>Tenancy: Supports 1 concurrent stream session</p> </li> </ul> </li> <li> <p> <b> <code>gen5n_high</code> (NVIDIA, high)</b> Supports applications with moderate to high 3D scene complexity. Uses NVIDIA A10G Tensor GPU.</p> <ul> <li> <p>Reference resolution: 1080p</p> </li> <li> <p>Reference frame rate: 60 fps</p> </li> <li> <p>Workload specifications: 4 vCPUs, 16 GB RAM, 12 GB VRAM</p> </li> <li> <p>Tenancy: Supports up to 2 concurrent stream sessions</p> </li> </ul> </li> <li> <p> <b> <code>gen5n_ultra</code> (NVIDIA, ultra)</b> Supports applications with extremely high 3D scene complexity. Uses dedicated NVIDIA A10G Tensor GPU.</p> <ul> <li> <p>Reference resolution: 1080p</p> </li> <li> <p>Reference frame rate: 60 fps</p> </li> <li> <p>Workload specifications: 8 vCPUs, 32 GB RAM, 24 GB VRAM</p> </li> <li> <p>Tenancy: Supports 1 concurrent stream session</p> </li> </ul> </li> <li> <p> <b> <code>gen4n_win2022</code> (NVIDIA, ultra)</b> Supports applications with extremely high 3D scene complexity. Runs applications on Microsoft Windows Server 2022 Base and supports DirectX 12. Compatible with Unreal Engine versions up through 5.4, 32 and 64-bit applications, and anti-cheat technology. Uses NVIDIA T4 Tensor GPU.</p> <ul> <li> <p>Reference resolution: 1080p</p> </li> <li> <p>Reference frame rate: 60 fps</p> </li> <li> <p>Workload specifications: 8 vCPUs, 32 GB RAM, 16 GB VRAM</p> </li> <li> <p>Tenancy: Supports 1 concurrent stream session</p> </li> </ul> </li> <li> <p> <b> <code>gen4n_high</code> (NVIDIA, high)</b> Supports applications with moderate to high 3D scene complexity. Uses NVIDIA T4 Tensor GPU.</p> <ul> <li> <p>Reference resolution: 1080p</p> </li> <li> <p>Reference frame rate: 60 fps</p> </li> <li> <p>Workload specifications: 4 vCPUs, 16 GB RAM, 8 GB VRAM</p> </li> <li> <p>Tenancy: Supports up to 2 concurrent stream sessions</p> </li> </ul> </li> <li> <p> <b> <code>gen4n_ultra</code> (NVIDIA, ultra)</b> Supports applications with high 3D scene complexity. Uses dedicated NVIDIA T4 Tensor GPU.</p> <ul> <li> <p>Reference resolution: 1080p</p> </li> <li> <p>Reference frame rate: 60 fps</p> </li> <li> <p>Workload specifications: 8 vCPUs, 32 GB RAM, 16 GB VRAM</p> </li> <li> <p>Tenancy: Supports 1 concurrent stream session</p> </li> </ul> </li> </ul>",
                        "smithy.api#required": {}
                    }
                },
                "DefaultApplicationIdentifier": {
                    "target": "com.amazonaws.gameliftstreams#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Amazon GameLift Streams application that you want to set as the default application in a stream group. The application that you specify must be in <code>READY</code> status. The default application is pre-cached on always-on compute resources, reducing stream startup times. Other applications are automatically cached as needed.</p> <p>If you do not link an application when you create a stream group, you will need to link one later, before you can start streaming, using <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_AssociateApplications.html\">AssociateApplications</a>.</p> <p>This value is an <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> or ID that uniquely identifies the application resource. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:application/a-9ZY8X7Wv6</code>. Example ID: <code>a-9ZY8X7Wv6</code>. </p>",
                        "smithy.api#notProperty": {}
                    }
                },
                "LocationConfigurations": {
                    "target": "com.amazonaws.gameliftstreams#LocationConfigurations",
                    "traits": {
                        "smithy.api#documentation": "<p> A set of one or more locations and the streaming capacity for each location. </p>",
                        "smithy.api#notProperty": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.gameliftstreams#Tags",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "full",
                        "smithy.api#documentation": "<p>A list of labels to assign to the new stream group resource. Tags are developer-defined key-value pairs. Tagging Amazon Web Services resources is useful for resource management, access management and cost allocation. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\"> Tagging Amazon Web Services Resources</a> in the <i>Amazon Web Services General Reference</i>. You can use <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_TagResource.html\">TagResource</a> to add tags, <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_UntagResource.html\">UntagResource</a> to remove tags, and <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_ListTagsForResource.html\">ListTagsForResource</a> to view tags on existing resources.</p>"
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.gameliftstreams#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p> A unique identifier that represents a client request. The request is idempotent, which ensures that an API request completes only once. When users send a request, Amazon GameLift Streams automatically populates this field. </p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.gameliftstreams#CreateStreamGroupOutput": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.gameliftstreams#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> that is assigned to the stream group resource and that uniquely identifies the group across all Amazon Web Services Regions. Format is <code>arn:aws:gameliftstreams:[AWS Region]:[AWS account]:streamgroup/[resource ID]</code>.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "Arn"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.gameliftstreams#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A descriptive label for the stream group.</p>"
                    }
                },
                "DefaultApplication": {
                    "target": "com.amazonaws.gameliftstreams#DefaultApplication",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "create-and-read",
                        "smithy.api#documentation": "<p>The default Amazon GameLift Streams application that is associated with this stream group.</p>"
                    }
                },
                "LocationStates": {
                    "target": "com.amazonaws.gameliftstreams#LocationStates",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>This value is the set of locations, including their name, current status, and capacities. </p> <p>A location can be in one of the following states:</p> <ul> <li> <p> <code>ACTIVATING</code>: Amazon GameLift Streams is preparing the location. You cannot stream from, scale the capacity of, or remove this location yet.</p> </li> <li> <p> <code>ACTIVE</code>: The location is provisioned with initial capacity. You can now stream from, scale the capacity of, or remove this location.</p> </li> <li> <p> <code>ERROR</code>: Amazon GameLift Streams failed to set up this location. The <code>StatusReason</code> field describes the error. You can remove this location and try to add it again.</p> </li> <li> <p> <code>REMOVING</code>: Amazon GameLift Streams is working to remove this location. This will release all provisioned capacity for this location in this stream group.</p> </li> </ul>"
                    }
                },
                "StreamClass": {
                    "target": "com.amazonaws.gameliftstreams#StreamClass",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "create-and-read",
                        "smithy.api#documentation": "<p>The target stream quality for the stream group.</p> <p>A stream class can be one of the following:</p> <ul> <li> <p> <b> <code>gen5n_win2022</code> (NVIDIA, ultra)</b> Supports applications with extremely high 3D scene complexity. Runs applications on Microsoft Windows Server 2022 Base and supports DirectX 12. Compatible with Unreal Engine versions up through 5.4, 32 and 64-bit applications, and anti-cheat technology. Uses NVIDIA A10G Tensor GPU.</p> <ul> <li> <p>Reference resolution: 1080p</p> </li> <li> <p>Reference frame rate: 60 fps</p> </li> <li> <p>Workload specifications: 8 vCPUs, 32 GB RAM, 24 GB VRAM</p> </li> <li> <p>Tenancy: Supports 1 concurrent stream session</p> </li> </ul> </li> <li> <p> <b> <code>gen5n_high</code> (NVIDIA, high)</b> Supports applications with moderate to high 3D scene complexity. Uses NVIDIA A10G Tensor GPU.</p> <ul> <li> <p>Reference resolution: 1080p</p> </li> <li> <p>Reference frame rate: 60 fps</p> </li> <li> <p>Workload specifications: 4 vCPUs, 16 GB RAM, 12 GB VRAM</p> </li> <li> <p>Tenancy: Supports up to 2 concurrent stream sessions</p> </li> </ul> </li> <li> <p> <b> <code>gen5n_ultra</code> (NVIDIA, ultra)</b> Supports applications with extremely high 3D scene complexity. Uses dedicated NVIDIA A10G Tensor GPU.</p> <ul> <li> <p>Reference resolution: 1080p</p> </li> <li> <p>Reference frame rate: 60 fps</p> </li> <li> <p>Workload specifications: 8 vCPUs, 32 GB RAM, 24 GB VRAM</p> </li> <li> <p>Tenancy: Supports 1 concurrent stream session</p> </li> </ul> </li> <li> <p> <b> <code>gen4n_win2022</code> (NVIDIA, ultra)</b> Supports applications with extremely high 3D scene complexity. Runs applications on Microsoft Windows Server 2022 Base and supports DirectX 12. Compatible with Unreal Engine versions up through 5.4, 32 and 64-bit applications, and anti-cheat technology. Uses NVIDIA T4 Tensor GPU.</p> <ul> <li> <p>Reference resolution: 1080p</p> </li> <li> <p>Reference frame rate: 60 fps</p> </li> <li> <p>Workload specifications: 8 vCPUs, 32 GB RAM, 16 GB VRAM</p> </li> <li> <p>Tenancy: Supports 1 concurrent stream session</p> </li> </ul> </li> <li> <p> <b> <code>gen4n_high</code> (NVIDIA, high)</b> Supports applications with moderate to high 3D scene complexity. Uses NVIDIA T4 Tensor GPU.</p> <ul> <li> <p>Reference resolution: 1080p</p> </li> <li> <p>Reference frame rate: 60 fps</p> </li> <li> <p>Workload specifications: 4 vCPUs, 16 GB RAM, 8 GB VRAM</p> </li> <li> <p>Tenancy: Supports up to 2 concurrent stream sessions</p> </li> </ul> </li> <li> <p> <b> <code>gen4n_ultra</code> (NVIDIA, ultra)</b> Supports applications with high 3D scene complexity. Uses dedicated NVIDIA T4 Tensor GPU.</p> <ul> <li> <p>Reference resolution: 1080p</p> </li> <li> <p>Reference frame rate: 60 fps</p> </li> <li> <p>Workload specifications: 8 vCPUs, 32 GB RAM, 16 GB VRAM</p> </li> <li> <p>Tenancy: Supports 1 concurrent stream session</p> </li> </ul> </li> </ul>"
                    }
                },
                "Id": {
                    "target": "com.amazonaws.gameliftstreams#Id",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique ID value that is assigned to the resource when it's created. Format example: <code>sg-1AB2C3De4</code>.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.gameliftstreams#StreamGroupStatus",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>The current status of the stream group resource. Possible statuses include the following:</p> <ul> <li> <p> <code>ACTIVATING</code>: The stream group is deploying and isn't ready to host streams. </p> </li> <li> <p> <code>ACTIVE</code>: The stream group is ready to host streams. </p> </li> <li> <p> <code>ACTIVE_WITH_ERRORS</code>: One or more locations in the stream group are in an error state. Verify the details of individual locations and remove any locations which are in error. </p> </li> <li> <p> <code>ERROR</code>: An error occurred when the stream group deployed. See <code>StatusReason</code> for more information. </p> </li> <li> <p> <code>DELETING</code>: Amazon GameLift Streams is in the process of deleting the stream group. </p> </li> <li> <p> <code>UPDATING_LOCATIONS</code>: One or more locations in the stream group are in the process of updating (either activating or deleting). </p> </li> </ul>"
                    }
                },
                "StatusReason": {
                    "target": "com.amazonaws.gameliftstreams#StreamGroupStatusReason",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p> A short description of the reason that the stream group is in <code>ERROR</code> status. The possible reasons can be one of the following: </p> <ul> <li> <p> <code>internalError</code>: The request can't process right now because of an issue with the server. Try again later.</p> </li> <li> <p> <code>noAvailableInstances</code>: Amazon GameLift Streams does not currently have enough available on-demand capacity to fulfill your request. Wait a few minutes and retry the request as capacity can shift frequently. You can also try to make the request using a different stream class or in another region.</p> </li> </ul>"
                    }
                },
                "LastUpdatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>A timestamp that indicates when this resource was last updated. Timestamps are expressed using in ISO8601 format, such as: <code>2022-12-27T22:29:40+00:00</code> (UTC).</p>"
                    }
                },
                "CreatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>A timestamp that indicates when this resource was created. Timestamps are expressed using in ISO8601 format, such as: <code>2022-12-27T22:29:40+00:00</code> (UTC).</p>"
                    }
                },
                "AssociatedApplications": {
                    "target": "com.amazonaws.gameliftstreams#ArnList",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p> A set of applications that this stream group is associated to. You can stream any of these applications by using this stream group. </p> <p>This value is a set of <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Names (ARNs)</a> that uniquely identify application resources. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:application/a-9ZY8X7Wv6</code>. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.gameliftstreams#CreateStreamSessionConnection": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.gameliftstreams#CreateStreamSessionConnectionInput"
            },
            "output": {
                "target": "com.amazonaws.gameliftstreams#CreateStreamSessionConnectionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.gameliftstreams#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ConflictException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#InternalServerException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ValidationException"
                }
            ],
            "traits": {
                "aws.api#dataPlane": {},
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create a stream session connection",
                    "resources": {
                        "required": {
                            "stream group": {}
                        }
                    }
                },
                "smithy.api#documentation": "<p>Enables clients to reconnect to a stream session while preserving all session state and data in the disconnected session. This reconnection process can be initiated when a stream session is in either <code>PENDING_CLIENT_RECONNECTION</code> or <code>ACTIVE</code> status. The process works as follows: </p> <ol> <li> <p>Initial disconnect:</p> <ul> <li> <p>When a client disconnects or loses connection, the stream session transitions from <code>CONNECTED</code> to <code>PENDING_CLIENT_RECONNECTION</code> </p> </li> </ul> </li> <li> <p>Reconnection time window:</p> <ul> <li> <p>Clients have <code>ConnectionTimeoutSeconds</code> (defined in <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_StartStreamSession.html\">StartStreamSession</a>) to reconnect before session termination</p> </li> <li> <p>Your backend server must call <b>CreateStreamSessionConnection</b> to initiate reconnection</p> </li> <li> <p>Session transitions to <code>RECONNECTING</code> status</p> </li> </ul> </li> <li> <p>Reconnection completion:</p> <ul> <li> <p>On successful <b>CreateStreamSessionConnection</b>, session status changes to <code>ACTIVE</code> </p> </li> <li> <p>Provide the new connection information to the requesting client</p> </li> <li> <p>Client must establish connection within <code>ConnectionTimeoutSeconds</code> </p> </li> <li> <p>Session terminates automatically if client fails to connect in time</p> </li> </ul> </li> </ol> <p>For more information about the stream session lifecycle, see <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/developerguide/stream-sessions.html\">Stream sessions</a> in the <i>Amazon GameLift Streams Developer Guide</i>.</p> <p>To begin re-connecting to an existing stream session, specify the stream group ID and stream session ID that you want to reconnect to, and the signal request to use with the stream.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/streamgroups/{Identifier}/streamsessions/{StreamSessionIdentifier}/connections"
                }
            }
        },
        "com.amazonaws.gameliftstreams#CreateStreamSessionConnectionInput": {
            "type": "structure",
            "members": {
                "ClientToken": {
                    "target": "com.amazonaws.gameliftstreams#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p> A unique identifier that represents a client request. The request is idempotent, which ensures that an API request completes only once. When users send a request, Amazon GameLift Streams automatically populates this field. </p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "Identifier": {
                    "target": "com.amazonaws.gameliftstreams#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> or ID that uniquely identifies the stream group resource. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:streamgroup/sg-1AB2C3De4</code>. Example ID: <code>sg-1AB2C3De4</code>. </p> <p> The stream group that you want to run this stream session with. The stream group must be in <code>ACTIVE</code> status. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "StreamSessionIdentifier": {
                    "target": "com.amazonaws.gameliftstreams#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> or ID that uniquely identifies the stream session resource. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:streamsession/sg-1AB2C3De4/ABC123def4567</code>. Example ID: <code>ABC123def4567</code>. </p> <p> The stream session must be in <code>PENDING_CLIENT_RECONNECTION</code> or <code>ACTIVE</code> status. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "SignalRequest": {
                    "target": "com.amazonaws.gameliftstreams#SignalRequest",
                    "traits": {
                        "smithy.api#documentation": "<p>A WebRTC ICE offer string to use when initializing a WebRTC connection. The offer is a very long JSON string. Provide the string as a text value in quotes. The offer must be newly generated, not the same offer provided to <code>StartStreamSession</code>. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.gameliftstreams#CreateStreamSessionConnectionOutput": {
            "type": "structure",
            "members": {
                "SignalResponse": {
                    "target": "com.amazonaws.gameliftstreams#SignalResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>The WebRTC answer string that the stream server generates in response to the <code>SignalRequest</code>. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.gameliftstreams#DefaultApplication": {
            "type": "structure",
            "members": {
                "Id": {
                    "target": "com.amazonaws.gameliftstreams#Id",
                    "traits": {
                        "smithy.api#documentation": "<p>An ID that uniquely identifies the application resource. Example ID: <code>a-9ZY8X7Wv6</code>. </p>"
                    }
                },
                "Arn": {
                    "target": "com.amazonaws.gameliftstreams#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>An <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> that uniquely identifies the application resource. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:application/a-9ZY8X7Wv6</code>. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents the default Amazon GameLift Streams application that a stream group hosts.</p>"
            }
        },
        "com.amazonaws.gameliftstreams#DeleteApplication": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.gameliftstreams#DeleteApplicationInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.gameliftstreams#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ConflictException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#InternalServerException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to delete an application"
                },
                "smithy.api#documentation": "<p>Permanently deletes an Amazon GameLift Streams application resource. This also deletes the application content files stored with Amazon GameLift Streams. However, this does not delete the original files that you uploaded to your Amazon S3 bucket; you can delete these any time after Amazon GameLift Streams creates an application, which is the only time Amazon GameLift Streams accesses your Amazon S3 bucket.</p> <p> You can only delete an application that meets the following conditions: </p> <ul> <li> <p>The application is in <code>READY</code> or <code>ERROR</code> status. You cannot delete an application that's in <code>PROCESSING</code> or <code>INITIALIZED</code> status.</p> </li> <li> <p>The application is not the default application of any stream groups. You must first delete the stream group by using <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_DeleteStreamGroup.html\">DeleteStreamGroup</a>.</p> </li> <li> <p>The application is not linked to any stream groups. You must first unlink the stream group by using <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_DisassociateApplications.html\">DisassociateApplications</a>.</p> </li> <li> <p> An application is not streaming in any ongoing stream session. You must wait until the client ends the stream session or call <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_TerminateStreamSession.html\">TerminateStreamSession</a> to end the stream. </p> </li> </ul> <p>If any active stream groups exist for this application, this request returns a <code>ValidationException</code>. </p>",
                "smithy.api#http": {
                    "code": 204,
                    "method": "DELETE",
                    "uri": "/applications/{Identifier}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.gameliftstreams#DeleteApplicationInput": {
            "type": "structure",
            "members": {
                "Identifier": {
                    "target": "com.amazonaws.gameliftstreams#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>An <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> or ID that uniquely identifies the application resource. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:application/a-9ZY8X7Wv6</code>. Example ID: <code>a-9ZY8X7Wv6</code>. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "Arn"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.gameliftstreams#DeleteStreamGroup": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.gameliftstreams#DeleteStreamGroupInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.gameliftstreams#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ConflictException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#InternalServerException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to delete a StreamGroup"
                },
                "smithy.api#documentation": "<p>Permanently deletes all compute resources and information related to a stream group. To delete a stream group, specify the unique stream group identifier. During the deletion process, the stream group's status is <code>DELETING</code>. This operation stops streams in progress and prevents new streams from starting. As a best practice, before deleting the stream group, call <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_ListStreamSessions.html\">ListStreamSessions</a> to check for streams in progress and take action to stop them. When you delete a stream group, any application associations referring to that stream group are automatically removed.</p>",
                "smithy.api#http": {
                    "code": 204,
                    "method": "DELETE",
                    "uri": "/streamgroups/{Identifier}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.gameliftstreams#DeleteStreamGroupInput": {
            "type": "structure",
            "members": {
                "Identifier": {
                    "target": "com.amazonaws.gameliftstreams#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>An <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> or ID that uniquely identifies the stream group resource. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:streamgroup/sg-1AB2C3De4</code>. Example ID: <code>sg-1AB2C3De4</code>. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "Arn"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.gameliftstreams#Description": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 80
                },
                "smithy.api#pattern": "^[a-zA-Z0-9-_.!+@/][a-zA-Z0-9-_.!+@/ ]*$"
            }
        },
        "com.amazonaws.gameliftstreams#DisassociateApplications": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.gameliftstreams#DisassociateApplicationsInput"
            },
            "output": {
                "target": "com.amazonaws.gameliftstreams#DisassociateApplicationsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.gameliftstreams#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#InternalServerException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to disassociate Applications from a StreamGroup",
                    "resources": {
                        "required": {
                            "stream group": {},
                            "application": {}
                        }
                    }
                },
                "smithy.api#documentation": "<p> When you disassociate, or unlink, an application from a stream group, you can no longer stream this application by using that stream group's allocated compute resources. Any streams in process will continue until they terminate, which helps avoid interrupting an end-user's stream. Amazon GameLift Streams will not initiate new streams in the stream group using the disassociated application. The disassociate action does not affect the stream capacity of a stream group. </p> <p> If you disassociate the default application, Amazon GameLift Streams will automatically choose a new default application from the remaining associated applications. To change which application is the default application, call <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_UpdateStreamGroup.html\">UpdateStreamGroup</a> and specify a new <code>DefaultApplicationIdentifier</code>. </p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/streamgroups/{Identifier}/disassociations"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.gameliftstreams#DisassociateApplicationsInput": {
            "type": "structure",
            "members": {
                "Identifier": {
                    "target": "com.amazonaws.gameliftstreams#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>A stream group to disassociate these applications from.</p> <p>This value is an <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> or ID that uniquely identifies the stream group resource. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:streamgroup/sg-1AB2C3De4</code>. Example ID: <code>sg-1AB2C3De4</code>. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "Arn"
                    }
                },
                "ApplicationIdentifiers": {
                    "target": "com.amazonaws.gameliftstreams#Identifiers",
                    "traits": {
                        "smithy.api#documentation": "<p>A set of applications that you want to disassociate from the stream group.</p> <p>This value is a set of either <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Names (ARN)</a> or IDs that uniquely identify application resources. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:application/a-9ZY8X7Wv6</code>. Example ID: <code>a-9ZY8X7Wv6</code>. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.gameliftstreams#DisassociateApplicationsOutput": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.gameliftstreams#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>An <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> that uniquely identifies the stream group resource. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:streamgroup/sg-1AB2C3De4</code>. </p>"
                    }
                },
                "ApplicationArns": {
                    "target": "com.amazonaws.gameliftstreams#ArnList",
                    "traits": {
                        "smithy.api#documentation": "<p>A set of applications that are disassociated from this stream group.</p> <p>This value is a set of <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Names (ARNs)</a> that uniquely identify application resources. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:application/a-9ZY8X7Wv6</code>. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.gameliftstreams#EnvironmentVariables": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "min": 1,
                        "max": 256
                    },
                    "smithy.api#pattern": "^[_a-zA-Z][_a-zA-Z0-9]*$"
                }
            },
            "value": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "min": 0,
                        "max": 1024
                    }
                }
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 50
                }
            }
        },
        "com.amazonaws.gameliftstreams#ExecutablePath": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.gameliftstreams#ExportFilesMetadata": {
            "type": "structure",
            "members": {
                "Status": {
                    "target": "com.amazonaws.gameliftstreams#ExportFilesStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The result of the <a href=\"https://docs.aws.amazon.com/gameliftstreams/latest/apireference/API_ExportStreamSessionFiles.html\">ExportStreamSessionFiles</a> operation.</p>"
                    }
                },
                "StatusReason": {
                    "target": "com.amazonaws.gameliftstreams#ExportFilesReason",
                    "traits": {
                        "smithy.api#documentation": "<p>A short description of the reason the export is in <code>FAILED</code> status.</p>"
                    }
                },
                "OutputUri": {
                    "target": "com.amazonaws.gameliftstreams#OutputUri",
                    "traits": {
                        "smithy.api#documentation": "<p> The S3 bucket URI where Amazon GameLift Streams uploaded the set of compressed exported files for a stream session. Amazon GameLift Streams generates a ZIP file name based on the stream session metadata. Alternatively, you can provide a custom file name with a <code>.zip</code> file extension.</p> <p> Example 1: If you provide an S3 URI called <code>s3://amzn-s3-demo-destination-bucket/MyGame_Session1.zip</code>, then Amazon GameLift Streams will save the files at that location. </p> <p> Example 2: If you provide an S3 URI called <code>s3://amzn-s3-demo-destination-bucket/MyGameSessions_ExportedFiles/</code>, then Amazon GameLift Streams will save the files at <code>s3://amzn-s3-demo-destination-bucket/MyGameSessions_ExportedFiles/YYYYMMDD-HHMMSS-appId-sg-Id-sessionId.zip</code> or another similar name. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides details about the stream session's exported files. </p>"
            }
        },
        "com.amazonaws.gameliftstreams#ExportFilesReason": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.gameliftstreams#ExportFilesStatus": {
            "type": "enum",
            "members": {
                "SUCCEEDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUCCEEDED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING"
                    }
                }
            }
        },
        "com.amazonaws.gameliftstreams#ExportStreamSessionFiles": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.gameliftstreams#ExportStreamSessionFilesInput"
            },
            "output": {
                "target": "com.amazonaws.gameliftstreams#ExportStreamSessionFilesOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.gameliftstreams#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#InternalServerException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ValidationException"
                }
            ],
            "traits": {
                "aws.api#dataPlane": {},
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to export stream session files that your application generates",
                    "requiredActions": [
                        "s3:PutObject"
                    ],
                    "resources": {
                        "required": {
                            "stream group": {}
                        }
                    }
                },
                "smithy.api#documentation": "<p> Export the files that your application modifies or generates in a stream session, which can help you debug or verify your application. When your application runs, it generates output files such as logs, diagnostic information, crash dumps, save files, user data, screenshots, and so on. The files can be defined by the engine or frameworks that your application uses, or information that you've programmed your application to output. </p> <p> You can only call this action on a stream session that is in progress, specifically in one of the following statuses <code>ACTIVE</code>, <code>CONNECTED</code>, <code>PENDING_CLIENT_RECONNECTION</code>, and <code>RECONNECTING</code>. You must provide an Amazon Simple Storage Service (Amazon S3) bucket to store the files in. When the session ends, Amazon GameLift Streams produces a compressed folder that contains all of the files and directories that were modified or created by the application during the stream session. AWS uses your security credentials to authenticate and authorize access to your Amazon S3 bucket. </p> <p>Amazon GameLift Streams collects the following generated and modified files. Find them in the corresponding folders in the <code>.zip</code> archive.</p> <ul> <li> <p> <code>application/</code>: The folder where your application or game is stored. </p> </li> </ul> <ul> <li> <p> <code>profile/</code>: The user profile folder.</p> </li> <li> <p> <code>temp/</code>: The system temp folder.</p> </li> </ul> <p/> <p>To verify the status of the exported files, use GetStreamSession. </p> <p>To delete the files, delete the object in the S3 bucket. </p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "PUT",
                    "uri": "/streamgroups/{Identifier}/streamsessions/{StreamSessionIdentifier}/exportfiles"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.gameliftstreams#ExportStreamSessionFilesInput": {
            "type": "structure",
            "members": {
                "Identifier": {
                    "target": "com.amazonaws.gameliftstreams#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>An <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> or ID that uniquely identifies the stream group resource. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:streamgroup/sg-1AB2C3De4</code>. Example ID: <code>sg-1AB2C3De4</code>. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "StreamSessionIdentifier": {
                    "target": "com.amazonaws.gameliftstreams#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>An <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Name (ARN)</a> or ID that uniquely identifies the stream session resource. Example ARN: <code>arn:aws:gameliftstreams:us-west-2:111122223333:streamsession/sg-1AB2C3De4/ABC123def4567</code>. Example ID: <code>ABC123def4567</code>. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "OutputUri": {
                    "target": "com.amazonaws.gameliftstreams#OutputUri",
                    "traits": {
                        "smithy.api#documentation": "<p> The S3 bucket URI where Amazon GameLift Streams uploads the set of compressed exported files for this stream session. Amazon GameLift Streams generates a ZIP file name based on the stream session metadata. Alternatively, you can provide a custom file name with a <code>.zip</code> file extension.</p> <p> Example 1: If you provide an S3 URI called <code>s3://amzn-s3-demo-destination-bucket/MyGame_Session1.zip</code>, then Amazon GameLift Streams will save the files at that location. </p> <p> Example 2: If you provide an S3 URI called <code>s3://amzn-s3-demo-destination-bucket/MyGameSessions_ExportedFiles/</code>, then Amazon GameLift Streams will save the files at <code>s3://amzn-s3-demo-destination-bucket/MyGameSessions_ExportedFiles/YYYYMMDD-HHMMSS-appId-sg-Id-sessionId.zip</code> or another similar name. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.gameliftstreams#ExportStreamSessionFilesOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.gameliftstreams#FileLocationUri": {
            "type": "string"
        },
        "com.amazonaws.gameliftstreams#FilePath": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.gameliftstreams#FilePaths": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.gameliftstreams#FilePath"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 10
                }
            }
        },
        "com.amazonaws.gameliftstreams#GameLaunchArgList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 100
                }
            }
        },
        "com.amazonaws.gameliftstreams#GameLiftStreams": {
            "type": "service",
            "version": "2018-05-10",
            "operations": [
                {
                    "target": "com.amazonaws.gameliftstreams#AddStreamGroupLocations"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#AssociateApplications"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#CreateStreamSessionConnection"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#DisassociateApplications"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ExportStreamSessionFiles"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#GetStreamSession"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ListStreamSessions"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ListStreamSessionsByAccount"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#RemoveStreamGroupLocations"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#StartStreamSession"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#TagResource"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#TerminateStreamSession"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#UntagResource"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.gameliftstreams#ApplicationResource"
                },
                {
                    "target": "com.amazonaws.gameliftstreams#StreamGroupResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "GameLiftStreams",
                    "cloudFormationName": "GameLiftStreams",
                    "arnNamespace": "gameliftstreams",
                    "cloudTrailEventSource": "gameliftstreams.amazonaws.com"
                },
                "aws.auth#sigv4": {
                    "name": "gameliftstreams"
                },
                "aws.endpoints#dualStackOnlyEndpoints": {},
                "aws.endpoints#standardRegionalEndpoints": {},
[...]
