{
    "smithy": "2.0",
    "shapes": {
        "com.amazon.awshealthlakedatatransformationfrontendservice#DataTransformationProfile": {
            "type": "resource",
            "identifiers": {
                "ProfileId": {
                    "target": "com.amazonaws.healthlake#ProfileIdString"
                }
            },
            "create": {
                "target": "com.amazonaws.healthlake#CreateDataTransformationProfile"
            },
            "read": {
                "target": "com.amazonaws.healthlake#GetDataTransformationProfile"
            },
            "update": {
                "target": "com.amazonaws.healthlake#UpdateDataTransformationProfile"
            },
            "delete": {
                "target": "com.amazonaws.healthlake#DeleteDataTransformationProfile"
            },
            "list": {
                "target": "com.amazonaws.healthlake#ListDataTransformationProfiles"
            },
            "operations": [
                {
                    "target": "com.amazon.awshealthlakedatatransformationfrontendservice#TransformData"
                },
                {
                    "target": "com.amazonaws.healthlake#ListDataTransformationProfileVersions"
                },
                {
                    "target": "com.amazonaws.healthlake#PublishDataTransformationProfile"
                },
                {
                    "target": "com.amazonaws.healthlake#StartDataTransformationJob"
                },
                {
                    "target": "com.amazonaws.healthlake#UpdateProfileWithAgent"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "dataTransformationProfile/{ProfileId}"
                },
                "aws.api#taggable": {},
                "aws.iam#iamResource": {
                    "name": "dataTransformationProfile"
                },
                "smithy.api#suppress": [
                    "UnstableTrait"
                ]
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#FileInputMap": {
            "type": "map",
            "key": {
                "target": "com.amazon.awshealthlakedatatransformationfrontendservice#FileName"
            },
            "value": {
                "target": "smithy.api#String"
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#FileName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^[\\w\\-\\.]+$"
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#ListTagsForResource": {
            "type": "operation",
            "input": {
                "target": "com.amazon.awshealthlakedatatransformationfrontendservice#ListTagsForResourceRequest"
            },
            "output": {
                "target": "com.amazon.awshealthlakedatatransformationfrontendservice#ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.healthlake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.healthlake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.healthlake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.healthlake#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.healthlake#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Lists all tags associated with a data transformation profile.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/tags/{ResourceArn}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#ListTagsForResourceRequest": {
            "type": "structure",
            "members": {
                "ResourceArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the data transformation profile.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {},
                "smithy.api#references": [
                    {
                        "resource": "com.amazon.awshealthlakedatatransformationfrontendservice#DataTransformationProfile",
                        "ids": {
                            "ProfileId": "ResourceArn"
                        }
                    }
                ]
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#ListTagsForResourceResponse": {
            "type": "structure",
            "members": {
                "Tags": {
                    "target": "com.amazonaws.healthlake#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags associated with the resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#SourceFileBlob": {
            "type": "blob",
            "traits": {
                "smithy.api#length": {
                    "max": 10485760
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#SourceValidationIssue": {
            "type": "structure",
            "members": {
                "Severity": {
                    "target": "com.amazon.awshealthlakedatatransformationfrontendservice#ValidationSeverity",
                    "traits": {
                        "smithy.api#documentation": "<p>The severity of the validation issue (ERROR or WARNING). Errors indicate problems that prevent successful conversion; warnings indicate potential issues that do not block conversion.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the validation issue.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Field": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The field in the source file that caused the validation issue.</p>"
                    }
                },
                "Code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The validation rule code that identified this issue.</p>"
                    }
                },
                "Line": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The line number in the source file where the issue was detected.</p>"
                    }
                },
                "Column": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The column number in the source file where the issue was detected.</p>"
                    }
                },
                "Xpath": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The XPath expression that identifies the location of the issue within a C-CDA document. The service populates this field only for C-CDA source files.</p>"
                    }
                },
                "Remediation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A suggested fix for the validation issue.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details about a single validation issue found while validating a source file. Each issue includes the severity, a descriptive message, and location information to help you identify and resolve the problem.</p>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#SourceValidationIssueList": {
            "type": "list",
            "member": {
                "target": "com.amazon.awshealthlakedatatransformationfrontendservice#SourceValidationIssue"
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#TagKeyList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.healthlake#DataTransformationTagKey"
            },
            "traits": {
                "smithy.api#documentation": "<p>A list of tag keys to remove from a resource.</p>",
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                }
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#TagResource": {
            "type": "operation",
            "input": {
                "target": "com.amazon.awshealthlakedatatransformationfrontendservice#TagResourceRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.healthlake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.healthlake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.healthlake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.healthlake#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.healthlake#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds or overwrites tags on a data transformation profile. Re-tagging with the same key replaces the existing value.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/tags/{ResourceArn}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#TagResourceRequest": {
            "type": "structure",
            "members": {
                "ResourceArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the data transformation profile to tag.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.healthlake#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to add to or overwrite on the resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {},
                "smithy.api#references": [
                    {
                        "resource": "com.amazon.awshealthlakedatatransformationfrontendservice#DataTransformationProfile",
                        "ids": {
                            "ProfileId": "ResourceArn"
                        }
                    }
                ]
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#TransformData": {
            "type": "operation",
            "input": {
                "target": "com.amazon.awshealthlakedatatransformationfrontendservice#TransformDataRequest"
            },
            "output": {
                "target": "com.amazon.awshealthlakedatatransformationfrontendservice#TransformDataResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.healthlake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.healthlake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.healthlake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.healthlake#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.healthlake#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Transforms clinical data synchronously to a Fast Healthcare Interoperability Resources R4 (FHIR R4) Bundle using a specified data transformation profile.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/transform-data",
                    "code": 200
                },
                "smithy.api#tags": [
                    "sdk-exclude"
                ]
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#TransformDataRequest": {
            "type": "structure",
            "members": {
                "ProfileId": {
                    "target": "com.amazonaws.healthlake#ProfileIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the data transformation profile to use for conversion.</p>",
                        "smithy.api#required": {}
                    }
                },
                "InputData": {
                    "target": "com.amazon.awshealthlakedatatransformationfrontendservice#TransformInputData",
                    "traits": {
                        "smithy.api#documentation": "<p>The clinical data to transform. Provide either raw C-CDA XML or CSV content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DriftDetectionEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether drift detection is enabled for this request. When enabled, AWS HealthLake writes a drift report in the API response.</p>"
                    }
                },
                "ProvenanceEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#default": true,
                        "smithy.api#documentation": "<p>Specifies whether FHIR R4 Provenance resource generation is enabled for this transformation. When provenance is enabled, the service also generates related DocumentReference and Device resources. If you don't specify a value, the default is <code>true</code>. To disable provenance output, set this parameter to <code>false</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request parameters for the <code>TransformData</code> operation.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#TransformDataResponse": {
            "type": "structure",
            "members": {
                "TransformedData": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The transformed FHIR R4 JSON output.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DriftReport": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The drift report comparing transformation output against ground truth. AWS HealthLake populates this field only when you enable drift detection and ground truth is available.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The response from the <code>TransformData</code> operation.</p>",
                "smithy.api#output": {},
                "smithy.api#sensitive": {}
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#TransformInputData": {
            "type": "union",
            "members": {
                "CcdaInput": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Raw C-CDA XML content to transform.</p>"
                    }
                },
                "CsvInput": {
                    "target": "com.amazon.awshealthlakedatatransformationfrontendservice#FileInputMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A map of filenames to CSV content to transform. Each key is a filename and each value is the corresponding CSV content.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The clinical source data to transform. Specify either raw C-CDA XML content or a map of CSV file content.</p>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#UntagResource": {
            "type": "operation",
            "input": {
                "target": "com.amazon.awshealthlakedatatransformationfrontendservice#UntagResourceRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.healthlake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.healthlake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.healthlake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.healthlake#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.healthlake#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Removes tags from a data transformation profile. If a specified tag key doesn't exist on the resource, the operation succeeds without returning an error.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/untag/{ResourceArn}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#UntagResourceRequest": {
            "type": "structure",
            "members": {
                "ResourceArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the data transformation profile to untag.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "TagKeys": {
                    "target": "com.amazon.awshealthlakedatatransformationfrontendservice#TagKeyList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tag keys to remove from the resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {},
                "smithy.api#references": [
                    {
                        "resource": "com.amazon.awshealthlakedatatransformationfrontendservice#DataTransformationProfile",
                        "ids": {
                            "ProfileId": "ResourceArn"
                        }
                    }
                ]
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#ValidateSource": {
            "type": "operation",
            "input": {
                "target": "com.amazon.awshealthlakedatatransformationfrontendservice#ValidateSourceRequest"
            },
            "output": {
                "target": "com.amazon.awshealthlakedatatransformationfrontendservice#ValidateSourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.healthlake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.healthlake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.healthlake#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.healthlake#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Validates a source file against format specifications without performing conversion. Returns detailed validation issues including line and column locations, XPath expressions, and remediation guidance.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/validate-source",
                    "code": 200
                },
                "smithy.api#tags": [
                    "sdk-exclude"
                ]
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#ValidateSourceRequest": {
            "type": "structure",
            "members": {
                "SourceFormat": {
                    "target": "com.amazonaws.healthlake#SourceFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The format of the source file to validate.</p>",
                        "smithy.api#httpQuery": "sourceFormat",
                        "smithy.api#required": {}
                    }
                },
                "SourceFile": {
                    "target": "com.amazon.awshealthlakedatatransformationfrontendservice#SourceFileBlob",
                    "traits": {
                        "smithy.api#documentation": "<p>The raw source file content to validate.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request parameters for the <code>ValidateSource</code> operation.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#ValidateSourceResponse": {
            "type": "structure",
            "members": {
                "Valid": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the source file passed validation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SourceFormat": {
                    "target": "com.amazonaws.healthlake#SourceFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The format that was validated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Issues": {
                    "target": "com.amazon.awshealthlakedatatransformationfrontendservice#SourceValidationIssueList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of validation issues found, including errors and warnings with location details and remediation guidance.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Summary": {
                    "target": "com.amazon.awshealthlakedatatransformationfrontendservice#ValidationSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>A summary of validation results, including the count of errors and warnings.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The response from the <code>ValidateSource</code> operation.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#ValidationSeverity": {
            "type": "enum",
            "members": {
                "ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR"
                    }
                },
                "WARNING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "WARNING"
                    }
                }
            }
        },
        "com.amazon.awshealthlakedatatransformationfrontendservice#ValidationSummary": {
            "type": "structure",
            "members": {
                "ErrorCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of validation errors found.</p>",
                        "smithy.api#required": {}
                    }
                },
                "WarningCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of validation warnings found.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of the counts of validation errors and warnings.</p>"
            }
        },
        "com.amazonaws.healthlake#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.healthlake#HealthLakeString"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Access is denied. Your account is not authorized to perform this operation.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.healthlake#AgentInputMessage": {
            "type": "structure",
            "members": {
                "Body": {
                    "target": "com.amazonaws.healthlake#AgentMessageString",
                    "traits": {
                        "smithy.api#documentation": "<p>The text of your message to the agent.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Type": {
                    "target": "com.amazonaws.healthlake#AgentInputMessageType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of input message, which determines how the agent processes your request. Valid values:</p> <ul> <li> <p> <code>normal</code>: A regular message to the agent.</p> </li> <li> <p> <code>confirmation_response</code>: A response to a confirmation request from the agent.</p> </li> </ul>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents a message sent to the agent during chat-based profile customization.</p>"
            }
        },
        "com.amazonaws.healthlake#AgentInputMessageType": {
            "type": "enum",
            "members": {
                "NORMAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "normal"
                    }
                },
                "USER_CONFIRMATION_RESPONSE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "confirmation_response"
                    }
                }
            }
        },
        "com.amazonaws.healthlake#AgentMessageOutOfContextException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The agent message does not fit within the current conversation context. Start a new conversation or provide a message that relates to the current profile customization session.</p>",
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.healthlake#AgentMessageString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 40960
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.healthlake#AgentOutputMessage": {
            "type": "structure",
            "members": {
                "Body": {
                    "target": "com.amazonaws.healthlake#AgentMessageString",
                    "traits": {
                        "smithy.api#documentation": "<p>The text of the agent's response.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Type": {
                    "target": "com.amazonaws.healthlake#AgentOutputMessageType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of output message, which indicates how to interpret the agent's response.</p>",
                        "smithy.api#required": {}
                    }
                },
                "OptionsList": {
                    "target": "com.amazonaws.healthlake#DataTransformationChatOptionsList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of selectable options presented when the response type is <code>options</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents a response message from the agent during chat-based profile customization.</p>"
            }
        },
        "com.amazonaws.healthlake#AgentOutputMessageType": {
            "type": "enum",
            "members": {
                "INITIAL_GREETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INITIAL_GREETING"
                    }
                },
                "NORMAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "normal"
                    }
                },
                "USER_CONFIRMATION_REQUEST": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "confirmation"
                    }
                },
                "COMPLETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "complete"
                    }
                },
                "ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "error"
                    }
                },
                "OPTIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "options"
                    }
                },
                "CHOICES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "choices"
                    }
                }
            }
        },
        "com.amazonaws.healthlake#AmazonResourceName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1011
                },
                "smithy.api#pattern": "^arn:aws((-us-gov)|(-iso)|(-iso-b)|(-cn))?:healthlake:[a-z0-9-]+:\\d{12}:(datastore\\/fhir\\/.{32}|dataTransformationProfile\\/[a-f0-9]{32})$"
            }
        },
        "com.amazonaws.healthlake#AnalyticsConfiguration": {
            "type": "structure",
            "members": {
                "Status": {
                    "target": "com.amazonaws.healthlake#AnalyticsStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the analytics configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The analytics configuration for a data store.</p>"
            }
        },
        "com.amazonaws.healthlake#AnalyticsStatus": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "ENABLING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLING"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                },
                "DISABLING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLING"
                    }
                },
                "PAUSING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PAUSING"
                    }
                },
                "PAUSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PAUSED"
                    }
                }
            }
        },
        "com.amazonaws.healthlake#AuthorizationStrategy": {
            "type": "enum",
            "members": {
                "SMARTV1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SMART_ON_FHIR_V1"
                    }
                },
                "SMART_ON_FHIR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SMART_ON_FHIR"
                    }
                },
                "AWS_AUTH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AWS_AUTH"
                    }
                }
            }
        },
        "com.amazonaws.healthlake#BoundedLengthString": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "A bounded-length string value.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 5000
                },
                "smithy.api#pattern": "^[\\P{M}\\p{M}]{1,5000}$"
            }
        },
        "com.amazonaws.healthlake#BoundedString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.healthlake#ChangeDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1000
                }
            }
        },
        "com.amazonaws.healthlake#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
            }
        },
        "com.amazonaws.healthlake#ClientTokenString": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "A client-provided idempotency token.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
            }
        },
        "com.amazonaws.healthlake#CmkType": {
            "type": "enum",
            "members": {
                "CM_CMK": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CUSTOMER_MANAGED_KMS_KEY"
                    }
                },
                "AO_CMK": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AWS_OWNED_KMS_KEY"
                    }
                }
            }
        },
        "com.amazonaws.healthlake#ConfigurationMetadata": {
            "type": "string"
        },
        "com.amazonaws.healthlake#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.healthlake#HealthLakeString"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The data store is in a transition state and the user requested action cannot be performed.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.healthlake#ConversationIdString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 36
                }
            }
        },
        "com.amazonaws.healthlake#ConversationNotFoundException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The specified conversation identifier does not exist. Verify the conversation ID or omit it to start a new conversation.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.amazonaws.healthlake#CreateDataTransformationProfile": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.healthlake#CreateDataTransformationProfileRequest"
            },
            "output": {
                "target": "com.amazonaws.healthlake#CreateDataTransformationProfileResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.healthlake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.healthlake#ConflictException"
                },
                {
                    "target": "com.amazonaws.healthlake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.healthlake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.healthlake#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.healthlake#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.healthlake#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a data transformation profile in DRAFT state. Specify a built-in starter profile, an existing profile version, raw profile content, or a sample data file as the source.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "datatransformation."
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/data-transformation-profile",
                    "code": 201
                }
            }
        },
        "com.amazonaws.healthlake#CreateDataTransformationProfileRequest": {
            "type": "structure",
            "members": {
                "SourceFormat": {
                    "target": "com.amazonaws.healthlake#SourceFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The source data format that this profile converts from (Consolidated Clinical Document Architecture (C-CDA) or Comma-separated values (CSV)).</p>",
                        "smithy.api#required": {}
                    }
                },
                "Source": {
                    "target": "com.amazonaws.healthlake#CreateDataTransformationProfileSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The source for the initial profile content. Specify a built-in starter profile, an existing profile version to clone, raw profile content for CI/CD workflows, or a sample data file in Amazon S3.</p>",
                        "smithy.api#required": {}
                    }
                },
                "KmsKeyId": {
                    "target": "com.amazonaws.healthlake#KmsKeyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS Key Management Service (AWS KMS) key identifier used to encrypt the profile content at rest.</p>"
                    }
                },
                "ProfileDescription": {
                    "target": "com.amazonaws.healthlake#ProfileDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A human-readable description of the profile's purpose.</p>"
                    }
                },
                "ProfileName": {
                    "target": "com.amazonaws.healthlake#ProfileNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>A name for the data transformation profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.healthlake#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to associate with the profile at creation time.</p>"
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.healthlake#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the operation completes no more than one time. If this token matches a previous request, the service ignores the request but does not return an error.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request parameters for the <code>CreateDataTransformationProfile</code> operation.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.healthlake#CreateDataTransformationProfileResponse": {
            "type": "structure",
            "members": {
                "ProfileId": {
                    "target": "com.amazonaws.healthlake#ProfileIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the created profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Version": {
                    "target": "com.amazonaws.healthlake#ProfileVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version number of the newly created profile. The starting version is always 0, which indicates the profile is in DRAFT state.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SourceFormat": {
                    "target": "com.amazonaws.healthlake#SourceFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The source data format of the profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TargetFormat": {
                    "target": "com.amazonaws.healthlake#TargetFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The target output format. Always <code>FHIR_R4</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ProfileName": {
                    "target": "com.amazonaws.healthlake#ProfileNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the created profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LastUpdatedAt": {
                    "target": "com.amazonaws.healthlake#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the profile was last updated.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The response from the <code>CreateDataTransformationProfile</code> operation.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.healthlake#CreateDataTransformationProfileSource": {
            "type": "union",
            "members": {
                "StarterProfile": {
                    "target": "com.amazonaws.healthlake#StarterProfileSource",
                    "traits": {
                        "smithy.api#documentation": "<p>Creates the profile from a built-in starter profile. Valid only when the source format is Consolidated Clinical Document Architecture (C-CDA).</p>"
                    }
                },
                "ExistingVersionedProfileId": {
                    "target": "com.amazonaws.healthlake#ExistingVersionedProfileSource",
                    "traits": {
                        "smithy.api#documentation": "<p>Creates the profile by cloning an existing profile at a specific version.</p>"
                    }
                },
                "ProfileMapping": {
                    "target": "com.amazonaws.healthlake#ProfileMappingSource",
                    "traits": {
                        "smithy.api#documentation": "<p>Creates the profile from raw profile content that you provide directly. Use this variant for continuous integration and continuous delivery (CI/CD) workflows.</p>"
                    }
                },
                "SampleData": {
                    "target": "com.amazonaws.healthlake#SampleDataSource",
                    "traits": {
                        "smithy.api#documentation": "<p>Creates the profile from a sample data file stored in Amazon S3. Valid only when the source format is Comma-separated values (CSV).</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The source for initial content when creating a data transformation profile. Specify exactly one variant: a built-in starter profile, an existing profile version to clone, raw profile content, or a sample data file.</p>"
            }
        },
        "com.amazonaws.healthlake#CreateFHIRDatastore": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.healthlake#CreateFHIRDatastoreRequest"
            },
            "output": {
                "target": "com.amazonaws.healthlake#CreateFHIRDatastoreResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.healthlake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.healthlake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.healthlake#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.healthlake#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create a FHIR-enabled data store.</p>"
            }
        },
        "com.amazonaws.healthlake#CreateFHIRDatastoreRequest": {
            "type": "structure",
            "members": {
                "DatastoreName": {
                    "target": "com.amazonaws.healthlake#DatastoreName",
                    "traits": {
                        "smithy.api#documentation": "<p>The data store name (user-generated).</p>"
                    }
                },
                "DatastoreTypeVersion": {
                    "target": "com.amazonaws.healthlake#FHIRVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The FHIR release version supported by the data store. Current support is for version <code>R4</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SseConfiguration": {
                    "target": "com.amazonaws.healthlake#SseConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The server-side encryption key configuration for a customer-provided encryption key specified for creating a data store. </p>"
                    }
                },
                "PreloadDataConfig": {
                    "target": "com.amazonaws.healthlake#PreloadDataConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>An optional parameter to preload (import) open source Synthea FHIR data upon creation of the data store.</p>"
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.healthlake#ClientTokenString",
                    "traits": {
                        "smithy.api#documentation": "<p>An optional user-provided token to ensure API idempotency.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.healthlake#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource tags applied to a data store when it is created.</p>"
                    }
                },
                "IdentityProviderConfiguration": {
                    "target": "com.amazonaws.healthlake#IdentityProviderConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The identity provider configuration to use for the data store.</p>"
                    }
                },
                "AnalyticsConfiguration": {
                    "target": "com.amazonaws.healthlake#AnalyticsConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The analytics configuration for the data store.</p>"
                    }
                },
                "NlpConfiguration": {
                    "target": "com.amazonaws.healthlake#NlpConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The natural language processing (NLP) configuration for the data store.</p>"
                    }
                },
                "ProfileConfiguration": {
                    "target": "com.amazonaws.healthlake#ProfileConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The profile configuration for the data store.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.healthlake#CreateFHIRDatastoreResponse": {
            "type": "structure",
            "members": {
                "DatastoreId": {
                    "target": "com.amazonaws.healthlake#DatastoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The data store identifier.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DatastoreArn": {
                    "target": "com.amazonaws.healthlake#DatastoreArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the data store.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DatastoreStatus": {
                    "target": "com.amazonaws.healthlake#DatastoreStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The data store status.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DatastoreEndpoint": {
                    "target": "com.amazonaws.healthlake#BoundedLengthString",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS endpoint created for the data store.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.healthlake#DataTransformationChatOptionString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.healthlake#DataTransformationChatOptionsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.healthlake#DataTransformationChatOptionString"
            }
        },
        "com.amazonaws.healthlake#DataTransformationIamRoleArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+$"
            }
        },
        "com.amazonaws.healthlake#DataTransformationJobId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 32
                },
                "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
            }
        },
        "com.amazonaws.healthlake#DataTransformationJobName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*$"
            }
        },
        "com.amazonaws.healthlake#DataTransformationNextToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.healthlake#DataTransformationProfileSummary": {
            "type": "structure",
            "members": {
                "ProfileId": {
                    "target": "com.amazonaws.healthlake#ProfileIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Version": {
                    "target": "com.amazonaws.healthlake#ProfileVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The latest version number of the profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SourceFormat": {
                    "target": "com.amazonaws.healthlake#SourceFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The source data format that this profile converts from.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TargetFormat": {
                    "target": "com.amazonaws.healthlake#TargetFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The target output format of the profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ProfileName": {
                    "target": "com.amazonaws.healthlake#ProfileNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the profile.</p>"
                    }
                },
                "ProfileDescription": {
                    "target": "com.amazonaws.healthlake#ProfileDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the profile's purpose.</p>"
                    }
                },
                "LastUpdatedAt": {
                    "target": "com.amazonaws.healthlake#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the profile was last updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains summary information about a data transformation profile. To retrieve profile content, call <code>GetDataTransformationProfile</code>.</p>"
            }
        },
        "com.amazonaws.healthlake#DataTransformationProfileSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.healthlake#DataTransformationProfileSummary"
            }
        },
        "com.amazonaws.healthlake#DataTransformationProfileVersionSummary": {
            "type": "structure",
            "members": {
                "ProfileId": {
                    "target": "com.amazonaws.healthlake#ProfileIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Version": {
                    "target": "com.amazonaws.healthlake#ProfileVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version number.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SourceFormat": {
                    "target": "com.amazonaws.healthlake#SourceFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The source data format that this profile converts from.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TargetFormat": {
                    "target": "com.amazonaws.healthlake#TargetFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The target output format of the profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ProfileName": {
                    "target": "com.amazonaws.healthlake#ProfileNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the profile.</p>"
                    }
                },
                "ChangeDescription": {
                    "target": "com.amazonaws.healthlake#ChangeDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of what changed in this version.</p>"
                    }
                },
                "LastUpdatedAt": {
                    "target": "com.amazonaws.healthlake#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when this version was last updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains summary information about a specific version of a data transformation profile. To retrieve profile content, call <code>GetDataTransformationProfile</code>.</p>"
            }
        },
        "com.amazonaws.healthlake#DataTransformationProfileVersionSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.healthlake#DataTransformationProfileVersionSummary"
            }
        },
        "com.amazonaws.healthlake#DataTransformationS3Configuration": {
            "type": "structure",
            "members": {
                "S3Uri": {
                    "target": "com.amazonaws.healthlake#DataTransformationS3Uri",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 URI where AWS HealthLake writes the converted output files.</p>",
                        "smithy.api#required": {}
                    }
                },
                "KmsKeyId": {
                    "target": "com.amazonaws.healthlake#KmsKeyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS Key Management Service (AWS KMS) key identifier used to encrypt the transformation job output written to Amazon S3.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Amazon S3 output configuration for a data transformation job, including the output location and encryption settings.</p>"
            }
        },
        "com.amazonaws.healthlake#DataTransformationS3Uri": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 8,
                    "max": 2048
                },
                "smithy.api#pattern": "^s3://[a-z0-9][a-z0-9.\\-]{1,61}[a-z0-9](/.+)?$"
            }
        },
        "com.amazonaws.healthlake#DataTransformationTagKey": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The key of the tag. Tag keys are case-sensitive and must be unique per resource.</p>",
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                }
            }
        },
        "com.amazonaws.healthlake#DataTransformationTagValue": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The value of the tag. Tag values are case-sensitive and can be empty strings.</p>",
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                }
            }
        },
        "com.amazonaws.healthlake#DatastoreArn": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The ARN of a data store.",
                "smithy.api#pattern": "^arn:aws((-us-gov)|(-iso)|(-iso-b)|(-cn))?:healthlake:[a-zA-Z0-9-]+:[0-9]{12}:datastore/.+?$"
            }
        },
        "com.amazonaws.healthlake#DatastoreFilter": {
            "type": "structure",
            "members": {
                "DatastoreName": {
                    "target": "com.amazonaws.healthlake#DatastoreName",
                    "traits": {
                        "smithy.api#documentation": "<p>Filter data store results by name.</p>"
                    }
                },
                "DatastoreStatus": {
                    "target": "com.amazonaws.healthlake#DatastoreStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Filter data store results by status.</p>"
                    }
                },
                "CreatedBefore": {
                    "target": "com.amazonaws.healthlake#HealthLakeTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Filter to set cutoff dates for records. All data stores created before the specified date are included in the results. </p>"
                    }
                },
                "CreatedAfter": {
                    "target": "com.amazonaws.healthlake#HealthLakeTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Filter to set cutoff dates for records. All data stores created after the specified date are included in the results.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The filters applied to a data store query.</p>"
            }
        },
        "com.amazonaws.healthlake#DatastoreId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The identifier of a data store.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 32
                },
                "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
            }
        },
        "com.amazonaws.healthlake#DatastoreName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The name of a data store.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
            }
        },
        "com.amazonaws.healthlake#DatastoreProperties": {
            "type": "structure",
            "members": {
                "DatastoreId": {
                    "target": "com.amazonaws.healthlake#DatastoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The data store identifier.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DatastoreArn": {
                    "target": "com.amazonaws.healthlake#DatastoreArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) used in the creation of the data store.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DatastoreName": {
                    "target": "com.amazonaws.healthlake#DatastoreName",
                    "traits": {
                        "smithy.api#documentation": "<p>The data store name.</p>"
                    }
                },
                "DatastoreStatus": {
                    "target": "com.amazonaws.healthlake#DatastoreStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The data store status.</p>",
                        "smithy.api#required": {}
                    }
                },
                "CreatedAt": {
                    "target": "com.amazonaws.healthlake#HealthLakeTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the data store was created. </p>"
                    }
                },
                "DatastoreTypeVersion": {
                    "target": "com.amazonaws.healthlake#FHIRVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The FHIR release version supported by the data store. Current support is for version <code>R4</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DatastoreEndpoint": {
                    "target": "com.amazonaws.healthlake#HealthLakeString",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS endpoint for the data store.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SseConfiguration": {
                    "target": "com.amazonaws.healthlake#SseConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p> The server-side encryption key configuration for a customer provided encryption key.</p>"
                    }
                },
                "PreloadDataConfig": {
                    "target": "com.amazonaws.healthlake#PreloadDataConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The preloaded Synthea data configuration for the data store.</p>"
                    }
                },
                "IdentityProviderConfiguration": {
                    "target": "com.amazonaws.healthlake#IdentityProviderConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The identity provider selected during data store creation.</p>"
                    }
                },
                "ErrorCause": {
                    "target": "com.amazonaws.healthlake#ErrorCause",
                    "traits": {
                        "smithy.api#documentation": "<p>The error cause for the current data store operation.</p>"
                    }
                },
                "NlpConfiguration": {
                    "target": "com.amazonaws.healthlake#NlpConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The natural language processing (NLP) configuration for the data store.</p>"
                    }
                },
                "AnalyticsConfiguration": {
                    "target": "com.amazonaws.healthlake#AnalyticsConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The analytics configuration for the data store.</p>"
                    }
                },
                "ProfileConfiguration": {
                    "target": "com.amazonaws.healthlake#ProfileConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The profile configuration for the data store.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The data store properties.</p>"
            }
        },
        "com.amazonaws.healthlake#DatastorePropertiesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.healthlake#DatastoreProperties"
            }
        },
        "com.amazonaws.healthlake#DatastoreStatus": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "DELETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETED"
                    }
                },
                "CREATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_FAILED"
                    }
                },
                "UPDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATING"
                    }
                },
                "UPDATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_FAILED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The status of a data store."
            }
        },
        "com.amazonaws.healthlake#DateTime": {
            "type": "timestamp"
        },
        "com.amazonaws.healthlake#DefaultProfiles": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.healthlake#HealthLakeString"
            }
        },
        "com.amazonaws.healthlake#DeleteDataTransformationProfile": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.healthlake#DeleteDataTransformationProfileRequest"
            },
            "output": {
                "target": "com.amazonaws.healthlake#DeleteDataTransformationProfileResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.healthlake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.healthlake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.healthlake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.healthlake#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.healthlake#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a data transformation profile and all its versions, including the DRAFT and all published versions.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "datatransformation."
                },
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/data-transformation-profile/{ProfileId}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.healthlake#DeleteDataTransformationProfileRequest": {
            "type": "structure",
            "members": {
                "ProfileId": {
                    "target": "com.amazonaws.healthlake#ProfileIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the profile to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request parameters for the <code>DeleteDataTransformationProfile</code> operation.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.healthlake#DeleteDataTransformationProfileResponse": {
            "type": "structure",
            "members": {
                "ProfileId": {
                    "target": "com.amazonaws.healthlake#ProfileIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the deleted profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ProfileName": {
                    "target": "com.amazonaws.healthlake#ProfileNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the deleted profile.</p>"
                    }
                },
                "DeletionTime": {
                    "target": "com.amazonaws.healthlake#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the profile was deleted.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The response from the <code>DeleteDataTransformationProfile</code> operation.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.healthlake#DeleteFHIRDatastore": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.healthlake#DeleteFHIRDatastoreRequest"
            },
            "output": {
                "target": "com.amazonaws.healthlake#DeleteFHIRDatastoreResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.healthlake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.healthlake#ConflictException"
                },
                {
                    "target": "com.amazonaws.healthlake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.healthlake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.healthlake#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.healthlake#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete a FHIR-enabled data store.</p>"
            }
        },
        "com.amazonaws.healthlake#DeleteFHIRDatastoreRequest": {
            "type": "structure",
            "members": {
                "DatastoreId": {
                    "target": "com.amazonaws.healthlake#DatastoreId",
                    "traits": {
                        "smithy.api#documentation": "<p> The AWS-generated identifier for the data store to be deleted.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.healthlake#DeleteFHIRDatastoreResponse": {
            "type": "structure",
            "members": {
                "DatastoreId": {
                    "target": "com.amazonaws.healthlake#DatastoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS-generated ID for the deleted data store.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DatastoreArn": {
                    "target": "com.amazonaws.healthlake#DatastoreArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that grants access permission to AWS HealthLake.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DatastoreStatus": {
                    "target": "com.amazonaws.healthlake#DatastoreStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The data store status.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DatastoreEndpoint": {
                    "target": "com.amazonaws.healthlake#BoundedLengthString",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS endpoint of the data store to be deleted.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.healthlake#DescribeDataTransformationJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.healthlake#DescribeDataTransformationJobRequest"
            },
            "output": {
                "target": "com.amazonaws.healthlake#DescribeDataTransformationJobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.healthlake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.healthlake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.healthlake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.healthlake#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.healthlake#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes a data transformation job, including its current status, configuration, and progress information.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "datatransformation."
                },
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/data-transformation-job/{JobId}",
                    "code": 200
                },
                "smithy.api#readonly": {},
                "smithy.waiters#waitable": {
                    "DataTransformationJobCompleted": {
                        "minDelay": 30,
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "TransformationJobProperties.JobStatus",
                                        "expected": "COMPLETED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "TransformationJobProperties.JobStatus",
                                        "expected": "COMPLETED_WITH_ERRORS",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "TransformationJobProperties.JobStatus",
                                        "expected": "FAILED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "errorType": "ResourceNotFoundException"
                                }
                            }
                        ]
                    }
                }
            }
        },
        "com.amazonaws.healthlake#DescribeDataTransformationJobRequest": {
            "type": "structure",
            "members": {
                "JobId": {
                    "target": "com.amazonaws.healthlake#DataTransformationJobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the data transformation job to describe.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request parameters for the <code>DescribeDataTransformationJob</code> operation.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.healthlake#DescribeDataTransformationJobResponse": {
            "type": "structure",
            "members": {
                "TransformationJobProperties": {
                    "target": "com.amazonaws.healthlake#TransformationJobProperties",
                    "traits": {
                        "smithy.api#documentation": "<p>The properties of the data transformation job, including status, configuration, and progress information.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The response from the <code>DescribeDataTransformationJob</code> operation.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.healthlake#DescribeFHIRDatastore": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.healthlake#DescribeFHIRDatastoreRequest"
            },
            "output": {
                "target": "com.amazonaws.healthlake#DescribeFHIRDatastoreResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.healthlake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.healthlake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.healthlake#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.healthlake#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Get properties for a FHIR-enabled data store.</p>",
                "smithy.waiters#waitable": {
                    "FHIRDatastoreActive": {
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "DatastoreProperties.DatastoreStatus",
                                        "expected": "ACTIVE",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "DatastoreProperties.DatastoreStatus",
                                        "expected": "CREATE_FAILED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "DatastoreProperties.DatastoreStatus",
                                        "expected": "DELETED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            }
                        ],
                        "minDelay": 60
                    },
                    "FHIRDatastoreDeleted": {
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "DatastoreProperties.DatastoreStatus",
                                        "expected": "DELETED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            }
                        ],
                        "minDelay": 120
                    }
                }
            }
        },
        "com.amazonaws.healthlake#DescribeFHIRDatastoreRequest": {
            "type": "structure",
            "members": {
                "DatastoreId": {
                    "target": "com.amazonaws.healthlake#DatastoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The data store identifier.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.healthlake#DescribeFHIRDatastoreResponse": {
            "type": "structure",
            "members": {
                "DatastoreProperties": {
                    "target": "com.amazonaws.healthlake#DatastoreProperties",
                    "traits": {
                        "smithy.api#documentation": "<p>The data store properties.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.healthlake#DescribeFHIRExportJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.healthlake#DescribeFHIRExportJobRequest"
            },
            "output": {
                "target": "com.amazonaws.healthlake#DescribeFHIRExportJobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.healthlake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.healthlake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.healthlake#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.healthlake#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Get FHIR export job properties.</p>",
                "smithy.waiters#waitable": {
                    "FHIRExportJobCompleted": {
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "ExportJobProperties.JobStatus",
                                        "expected": "COMPLETED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "ExportJobProperties.JobStatus",
                                        "expected": "COMPLETED_WITH_ERRORS",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "ExportJobProperties.JobStatus",
                                        "expected": "CANCEL_COMPLETED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "ExportJobProperties.JobStatus",
                                        "expected": "FAILED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "ExportJobProperties.JobStatus",
                                        "expected": "CANCEL_FAILED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            }
                        ],
                        "minDelay": 120
                    }
                }
            }
        },
        "com.amazonaws.healthlake#DescribeFHIRExportJobRequest": {
            "type": "structure",
            "members": {
                "DatastoreId": {
                    "target": "com.amazonaws.healthlake#DatastoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The data store identifier from which FHIR data is being exported from.</p>",
                        "smithy.api#required": {}
                    }
                },
                "JobId": {
                    "target": "com.amazonaws.healthlake#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The export job identifier.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.healthlake#DescribeFHIRExportJobResponse": {
            "type": "structure",
            "members": {
                "ExportJobProperties": {
                    "target": "com.amazonaws.healthlake#ExportJobProperties",
                    "traits": {
                        "smithy.api#documentation": "<p>The export job properties.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.healthlake#DescribeFHIRImportJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.healthlake#DescribeFHIRImportJobRequest"
            },
            "output": {
                "target": "com.amazonaws.healthlake#DescribeFHIRImportJobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.healthlake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.healthlake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.healthlake#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.healthlake#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Get the import job properties to learn more about the job or job progress.</p>",
                "smithy.waiters#waitable": {
                    "FHIRImportJobCompleted": {
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "ImportJobProperties.JobStatus",
                                        "expected": "COMPLETED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "ImportJobProperties.JobStatus",
                                        "expected": "COMPLETED_WITH_ERRORS",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "ImportJobProperties.JobStatus",
                                        "expected": "FAILED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            }
                        ],
                        "minDelay": 120
                    }
                }
            }
        },
        "com.amazonaws.healthlake#DescribeFHIRImportJobRequest": {
            "type": "structure",
            "members": {
                "DatastoreId": {
                    "target": "com.amazonaws.healthlake#DatastoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The data store identifier.</p>",
[...]
