{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.imagebuilder#AccountAggregation": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Identifies the account that owns the aggregated resource findings.</p>"
                    }
                },
                "severityCounts": {
                    "target": "com.amazonaws.imagebuilder#SeverityCounts",
                    "traits": {
                        "smithy.api#documentation": "<p>Counts by severity level for medium severity and higher level findings, plus a total\n\t\t\tfor all of the findings.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains counts of vulnerability findings from image scans that run when you create\n\t\t\tnew Image Builder images, or build new versions of existing images. The vulnerability counts are\n\t\t\tgrouped by severity level. The counts are aggregated across resources to create the\n\t\t\tfinal tally for the account that owns them.</p>"
            }
        },
        "com.amazonaws.imagebuilder#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[0-9]{12}$"
            }
        },
        "com.amazonaws.imagebuilder#AccountList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#AccountId"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1536
                }
            }
        },
        "com.amazonaws.imagebuilder#AdditionalInstanceConfiguration": {
            "type": "structure",
            "members": {
                "systemsManagerAgent": {
                    "target": "com.amazonaws.imagebuilder#SystemsManagerAgent",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains settings for the Systems Manager agent on your build instance.</p>"
                    }
                },
                "userDataOverride": {
                    "target": "com.amazonaws.imagebuilder#UserDataOverride",
                    "traits": {
                        "smithy.api#documentation": "<p>Use this property to provide commands or a command script to run when you launch your\n\t\t\tbuild instance.</p>\n         <p>The userDataOverride property replaces any commands that Image Builder might have added to\n\t\t\tensure that Systems Manager is installed on your Linux build instance. If you override the user\n\t\t\tdata, make sure that you add commands to install Systems Manager, if it is not pre-installed on\n\t\t\tyour base image.</p>\n         <note>\n            <p>The user data is always base 64 encoded. For example, the following commands are\n\t\t\t\tencoded as\n\t\t\t\t<code>IyEvYmluL2Jhc2gKbWtkaXIgLXAgL3Zhci9iYi8KdG91Y2ggL3Zhci$</code>:</p>\n            <p>\n               <i>#!/bin/bash</i>\n            </p>\n            <p>mkdir -p /var/bb/</p>\n            <p>touch /var</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>In addition to your infrastructure configuration, these settings provide an extra\n\t\t\tlayer of control over your build instances. You can also specify commands to run on\n\t\t\tlaunch for all of your build instances.</p>\n         <p>Image Builder does not automatically install the Systems Manager agent on Windows instances. If your base\n\t\t\timage includes the Systems Manager agent, then the AMI that you create will also include the\n\t\t\tagent. For Linux instances, if the base image does not already include the Systems Manager agent,\n\t\t\tImage Builder installs it. For Linux instances where Image Builder installs the Systems Manager agent, you can\n\t\t\tchoose whether to keep it for the AMI that you create.</p>"
            }
        },
        "com.amazonaws.imagebuilder#Ami": {
            "type": "structure",
            "members": {
                "region": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Region of the Amazon EC2 AMI.</p>"
                    }
                },
                "image": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The AMI ID of the Amazon EC2 AMI.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon EC2 AMI.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the Amazon EC2 AMI. Minimum and maximum length are in characters.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.imagebuilder#ImageState"
                },
                "accountId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The account ID of the owner of the AMI.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details of an Amazon EC2 AMI.</p>"
            }
        },
        "com.amazonaws.imagebuilder#AmiDistributionConfiguration": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.imagebuilder#AmiNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the output AMI.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the AMI distribution configuration. Minimum and maximum length are\n\t\t\tin characters.</p>"
                    }
                },
                "targetAccountIds": {
                    "target": "com.amazonaws.imagebuilder#AccountList",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of an account to which you want to distribute an image.</p>"
                    }
                },
                "amiTags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to apply to AMIs distributed to this Region.</p>"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key identifier used to encrypt the distributed image.</p>"
                    }
                },
                "launchPermission": {
                    "target": "com.amazonaws.imagebuilder#LaunchPermissionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Launch permissions can be used to configure which Amazon Web Services accounts can use the AMI to\n\t\t\tlaunch instances.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Define and configure the output AMIs of the pipeline.</p>"
            }
        },
        "com.amazonaws.imagebuilder#AmiList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#Ami"
            }
        },
        "com.amazonaws.imagebuilder#AmiNameString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 127
                },
                "smithy.api#pattern": "^[-_A-Za-z0-9{][-_A-Za-z0-9\\s:{}\\.]+[-_A-Za-z0-9}]$"
            }
        },
        "com.amazonaws.imagebuilder#Arn": {
            "type": "string"
        },
        "com.amazonaws.imagebuilder#Boolean": {
            "type": "boolean",
            "traits": {
                "smithy.api#default": false
            }
        },
        "com.amazonaws.imagebuilder#BuildType": {
            "type": "enum",
            "members": {
                "USER_INITIATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "USER_INITIATED"
                    }
                },
                "SCHEDULED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SCHEDULED"
                    }
                },
                "IMPORT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IMPORT"
                    }
                }
            }
        },
        "com.amazonaws.imagebuilder#CallRateLimitExceededException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.imagebuilder#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You have exceeded the permitted request rate for the specific operation.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 429
            }
        },
        "com.amazonaws.imagebuilder#CancelImageCreation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.imagebuilder#CancelImageCreationRequest"
            },
            "output": {
                "target": "com.amazonaws.imagebuilder#CancelImageCreationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ClientException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>CancelImageCreation cancels the creation of Image. This operation can only be used on\n\t\t\timages in a non-terminal state.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/CancelImageCreation",
                    "code": 200
                }
            }
        },
        "com.amazonaws.imagebuilder#CancelImageCreationRequest": {
            "type": "structure",
            "members": {
                "imageBuildVersionArn": {
                    "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image that you want to cancel creation\n\t\t\tfor.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier you provide to ensure\n       idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a> \n       in the <i>Amazon EC2 API Reference</i>.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.imagebuilder#CancelImageCreationResponse": {
            "type": "structure",
            "members": {
                "requestId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The idempotency token that was used for this request.</p>"
                    }
                },
                "imageBuildVersionArn": {
                    "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the image whose creation this request canceled.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.imagebuilder#ClientException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.imagebuilder#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>These errors are usually caused by a client action, such as using an action or\n\t\t\tresource on behalf of a user that doesn't have permissions to use the action or\n\t\t\tresource, or specifying an invalid resource identifier.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.imagebuilder#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 36
                }
            }
        },
        "com.amazonaws.imagebuilder#Component": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the component.</p>"
                    }
                },
                "version": {
                    "target": "com.amazonaws.imagebuilder#VersionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the component.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the component.</p>"
                    }
                },
                "changeDescription": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The change description of the component.</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.imagebuilder#ComponentType",
                    "traits": {
                        "smithy.api#documentation": "<p>The component type specifies whether Image Builder uses the component to build the image or\n\t\t\tonly to test it.</p>"
                    }
                },
                "platform": {
                    "target": "com.amazonaws.imagebuilder#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system platform of the component.</p>"
                    }
                },
                "supportedOsVersions": {
                    "target": "com.amazonaws.imagebuilder#OsVersionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system (OS) version supported by the component. If the OS information is\n\t\t\tavailable, Image Builder performs a prefix match against the base image OS version during image\n\t\t\trecipe creation.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.imagebuilder#ComponentState",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the current status of the component. This is used for components that are no\n\t\t\tlonger active.</p>"
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterDetailList",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains parameter details for each of the parameters that the component document \n\t\t\tdefined for the component.</p>"
                    }
                },
                "owner": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The owner of the component.</p>"
                    }
                },
                "data": {
                    "target": "com.amazonaws.imagebuilder#ComponentData",
                    "traits": {
                        "smithy.api#documentation": "<p>Component data contains the YAML document content for the component.</p>"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key identifier used to encrypt the component.</p>"
                    }
                },
                "encrypted": {
                    "target": "com.amazonaws.imagebuilder#NullableBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>The encryption status of the component.</p>"
                    }
                },
                "dateCreated": {
                    "target": "com.amazonaws.imagebuilder#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date that Image Builder created the component.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags that apply to the component.</p>"
                    }
                },
                "publisher": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the name of the publisher if this is a third-party component. Otherwise, \n\t\t\tthis property is empty.</p>"
                    }
                },
                "obfuscate": {
                    "target": "com.amazonaws.imagebuilder#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Indicates whether component source is hidden from view in the console, and from \n\t\t\tcomponent detail results for API, CLI, or SDK operations.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A detailed view of a component.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentBuildVersionArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws):component/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+/[0-9]+$"
            }
        },
        "com.amazonaws.imagebuilder#ComponentConfiguration": {
            "type": "structure",
            "members": {
                "componentArn": {
                    "target": "com.amazonaws.imagebuilder#ComponentVersionArnOrBuildVersionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>",
                        "smithy.api#required": {}
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterList",
                    "traits": {
                        "smithy.api#documentation": "<p>A group of parameter settings that Image Builder uses to configure the component for a specific\n\t\t\trecipe.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration details of the component.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentConfigurationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#ComponentConfiguration"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.imagebuilder#ComponentData": {
            "type": "string"
        },
        "com.amazonaws.imagebuilder#ComponentFormat": {
            "type": "enum",
            "members": {
                "SHELL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SHELL"
                    }
                }
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameter": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the component parameter to set.</p>",
                        "smithy.api#required": {}
                    }
                },
                "value": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterValueList",
                    "traits": {
                        "smithy.api#documentation": "<p>Sets the value for the named component parameter.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains a key/value pair that sets the named component parameter.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                },
                "smithy.api#pattern": "^[^\\x00]+$"
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterDetail": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of this input parameter.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of input this parameter provides. The currently supported value is\n\t\t\t\"string\".</p>",
                        "smithy.api#required": {}
                    }
                },
                "defaultValue": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterValueList",
                    "traits": {
                        "smithy.api#documentation": "<p>The default value of this parameter if no input is provided.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes this parameter.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines a parameter that is used to provide configuration details for the\n\t\t\tcomponent.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterDetailList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#ComponentParameterDetail"
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#ComponentParameter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^[^\\x00]+$"
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 20
                },
                "smithy.api#pattern": "^String|Integer|Boolean|StringList$"
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0
                },
                "smithy.api#pattern": "^[^\\x00]*$"
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterValueList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#ComponentParameterValue"
            }
        },
        "com.amazonaws.imagebuilder#ComponentState": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "com.amazonaws.imagebuilder#ComponentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the component.</p>"
                    }
                },
                "reason": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes how or why the component changed state.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A group of fields that describe the current status of components that are no longer\n\t\t\tactive.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentStatus": {
            "type": "enum",
            "members": {
                "DEPRECATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DEPRECATED"
                    }
                }
            }
        },
        "com.amazonaws.imagebuilder#ComponentSummary": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the component.</p>"
                    }
                },
                "version": {
                    "target": "com.amazonaws.imagebuilder#VersionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the component.</p>"
                    }
                },
                "platform": {
                    "target": "com.amazonaws.imagebuilder#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system platform of the component.</p>"
                    }
                },
                "supportedOsVersions": {
                    "target": "com.amazonaws.imagebuilder#OsVersionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system (OS) version that the component supports. If the OS information\n\t\t\tis available, Image Builder performs a prefix match against the base image OS version during\n\t\t\timage recipe creation.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.imagebuilder#ComponentState",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the current status of the component.</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.imagebuilder#ComponentType",
                    "traits": {
                        "smithy.api#documentation": "<p>The component type specifies whether Image Builder uses the component to build the image or\n\t\t\tonly to test it.</p>"
                    }
                },
                "owner": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The owner of the component.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the component.</p>"
                    }
                },
                "changeDescription": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The change description for the current version of the component.</p>"
                    }
                },
                "dateCreated": {
                    "target": "com.amazonaws.imagebuilder#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The original creation date of the component.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags that apply to the component.</p>"
                    }
                },
                "publisher": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the name of the publisher if this is a third-party component. Otherwise, \n\t\t\tthis property is empty.</p>"
                    }
                },
                "obfuscate": {
                    "target": "com.amazonaws.imagebuilder#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Indicates whether component source is hidden from view in the console, \n\t\t\tand from component detail results for API, CLI, or SDK operations.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A high-level summary of a component.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#ComponentSummary"
            }
        },
        "com.amazonaws.imagebuilder#ComponentType": {
            "type": "enum",
            "members": {
                "BUILD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BUILD"
                    }
                },
                "TEST": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TEST"
                    }
                }
            }
        },
        "com.amazonaws.imagebuilder#ComponentVersion": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>\n         <note>\n            <p>Semantic versioning is included in each object's Amazon Resource Name (ARN), \n\tat the level that applies to that object as follows:</p>\n            <ol>\n               <li>\n                  <p>Versionless ARNs and Name ARNs do not include specific values in any of the nodes. The nodes are \n\t\t\t\teither left off entirely, or they are specified as wildcards, for example: x.x.x.</p>\n               </li>\n               <li>\n                  <p>Version ARNs have only the first three nodes: <major>.<minor>.<patch></p>\n               </li>\n               <li>\n                  <p>Build version ARNs have all four nodes, and point to a specific build for a specific version of an object.</p>\n               </li>\n            </ol>\n         </note>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the component.</p>"
                    }
                },
                "version": {
                    "target": "com.amazonaws.imagebuilder#VersionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The semantic version of the component.</p>\n         <note>\n            <p>The semantic version has four nodes: <major>.<minor>.<patch>/<build>. \n\tYou can assign values for the first three, and can filter on all of them.</p>\n            <p>\n               <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including \n\tzero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the \n\tbuild number to the fourth node.</p>\n            <p>\n               <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for \n\tthe nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or \n\ta date, such as 2021.01.01.</p>\n            <p>\n               <b>Filtering:</b> With semantic versioning, you have the flexibility to use wildcards (x) \n\tto specify the most recent versions or nodes when selecting the base image or components for your \n\trecipe. When you use a wildcard in any node, all nodes to the right of the first wildcard must also be \n\twildcards.</p>\n         </note>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the component.</p>"
                    }
                },
                "platform": {
                    "target": "com.amazonaws.imagebuilder#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>The platform of the component.</p>"
                    }
                },
                "supportedOsVersions": {
                    "target": "com.amazonaws.imagebuilder#OsVersionList",
                    "traits": {
                        "smithy.api#documentation": "<p>he operating system (OS) version supported by the component. If the OS information is\n\t\t\tavailable, a prefix match is performed against the base image OS version during image\n\t\t\trecipe creation.</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.imagebuilder#ComponentType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the component denotes whether the component is used to build the image or\n\t\t\tonly to test it.</p>"
                    }
                },
                "owner": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The owner of the component.</p>"
                    }
                },
                "dateCreated": {
                    "target": "com.amazonaws.imagebuilder#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date that the component was created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The defining characteristics of a specific version of an Amazon Web Services TOE component.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentVersionArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws):component/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+$"
            }
        },
        "com.amazonaws.imagebuilder#ComponentVersionArnOrBuildVersionArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws):component/[a-z0-9-_]+/(?:(?:([0-9]+|x)\\.([0-9]+|x)\\.([0-9]+|x))|(?:[0-9]+\\.[0-9]+\\.[0-9]+/[0-9]+))$"
            }
        },
        "com.amazonaws.imagebuilder#ComponentVersionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#ComponentVersion"
            }
        },
        "com.amazonaws.imagebuilder#Container": {
            "type": "structure",
            "members": {
                "region": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Containers and container images are Region-specific. This is the Region context for\n\t\t\tthe container.</p>"
                    }
                },
                "imageUris": {
                    "target": "com.amazonaws.imagebuilder#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of URIs for containers created in the context Region.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A container encapsulates the runtime environment for an application.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ContainerDistributionConfiguration": {
            "type": "structure",
            "members": {
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the container distribution configuration.</p>"
                    }
                },
                "containerTags": {
                    "target": "com.amazonaws.imagebuilder#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags that are attached to the container distribution configuration.</p>"
                    }
                },
                "targetRepository": {
                    "target": "com.amazonaws.imagebuilder#TargetContainerRepository",
                    "traits": {
                        "smithy.api#documentation": "<p>The destination repository for the container distribution configuration.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Container distribution settings for encryption, licensing, and sharing in a specific\n\t\t\tRegion.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ContainerList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#Container"
            }
        },
        "com.amazonaws.imagebuilder#ContainerRecipe": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container recipe.</p>\n         <note>\n            <p>Semantic versioning is included in each object's Amazon Resource Name (ARN), \n\tat the level that applies to that object as follows:</p>\n            <ol>\n               <li>\n                  <p>Versionless ARNs and Name ARNs do not include specific values in any of the nodes. The nodes are \n\t\t\t\teither left off entirely, or they are specified as wildcards, for example: x.x.x.</p>\n               </li>\n               <li>\n                  <p>Version ARNs have only the first three nodes: <major>.<minor>.<patch></p>\n               </li>\n               <li>\n                  <p>Build version ARNs have all four nodes, and point to a specific build for a specific version of an object.</p>\n               </li>\n            </ol>\n         </note>"
                    }
                },
                "containerType": {
                    "target": "com.amazonaws.imagebuilder#ContainerType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the type of container, such as Docker.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the container recipe.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the container recipe.</p>"
                    }
                },
                "platform": {
                    "target": "com.amazonaws.imagebuilder#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>The system platform for the container, such as Windows or Linux.</p>"
                    }
                },
                "owner": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The owner of the container recipe.</p>"
                    }
                },
                "version": {
                    "target": "com.amazonaws.imagebuilder#VersionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The semantic version of the container recipe.</p>\n         <note>\n            <p>The semantic version has four nodes: <major>.<minor>.<patch>/<build>. \n\tYou can assign values for the first three, and can filter on all of them.</p>\n            <p>\n               <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including \n\tzero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the \n\tbuild number to the fourth node.</p>\n            <p>\n               <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for \n\tthe nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or \n\ta date, such as 2021.01.01.</p>\n            <p>\n               <b>Filtering:</b> With semantic versioning, you have the flexibility to use wildcards (x) \n\tto specify the most recent versions or nodes when selecting the base image or components for your \n\trecipe. When you use a wildcard in any node, all nodes to the right of the first wildcard must also be \n\twildcards.</p>\n         </note>"
                    }
                },
                "components": {
                    "target": "com.amazonaws.imagebuilder#ComponentConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>Build and test components that are included in the container recipe.\n\t\t\tRecipes require a minimum of one build component, and can \n\t\t\thave a maximum of 20 build and test components in any combination.</p>"
                    }
                },
                "instanceConfiguration": {
                    "target": "com.amazonaws.imagebuilder#InstanceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>A group of options that can be used to configure an instance for building and testing\n\t\t\tcontainer images.</p>"
                    }
                },
                "dockerfileTemplateData": {
                    "target": "com.amazonaws.imagebuilder#DockerFileTemplate",
                    "traits": {
                        "smithy.api#documentation": "<p>Dockerfiles are text documents that are used to build Docker containers, and ensure\n\t\t\tthat they contain all of the elements required by the application running inside. The\n\t\t\ttemplate data consists of contextual variables where Image Builder places build information or\n\t\t\tscripts, based on your container image recipe.</p>"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Identifies which KMS key is used to encrypt the container image for distribution to\n\t\t\tthe target Region.</p>"
                    }
                },
                "encrypted": {
                    "target": "com.amazonaws.imagebuilder#NullableBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>A flag that indicates if the target container is encrypted.</p>"
                    }
                },
                "parentImage": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The base image for the container recipe.</p>"
                    }
                },
                "dateCreated": {
                    "target": "com.amazonaws.imagebuilder#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date when this container recipe was created.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags that are attached to the container recipe.</p>"
                    }
                },
                "workingDirectory": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The working directory for use during build and test workflows.</p>"
                    }
                },
                "targetRepository": {
                    "target": "com.amazonaws.imagebuilder#TargetContainerRepository",
                    "traits": {
                        "smithy.api#documentation": "<p>The destination repository for the container image.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A container recipe.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ContainerRecipeArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws):container-recipe/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+$"
            }
        },
        "com.amazonaws.imagebuilder#ContainerRecipeSummary": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container recipe.</p>"
                    }
                },
                "containerType": {
                    "target": "com.amazonaws.imagebuilder#ContainerType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the type of container, such as \"Docker\".</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the container recipe.</p>"
                    }
                },
                "platform": {
                    "target": "com.amazonaws.imagebuilder#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>The system platform for the container, such as Windows or Linux.</p>"
                    }
                },
                "owner": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The owner of the container recipe.</p>"
                    }
                },
                "parentImage": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The base image for the container recipe.</p>"
                    }
                },
                "dateCreated": {
                    "target": "com.amazonaws.imagebuilder#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date when this container recipe was created.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags that are attached to the container recipe.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of a container recipe</p>"
            }
        },
        "com.amazonaws.imagebuilder#ContainerRecipeSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#ContainerRecipeSummary"
            }
        },
        "com.amazonaws.imagebuilder#ContainerRepositoryService": {
            "type": "enum",
            "members": {
                "ECR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ECR"
                    }
                }
            }
        },
        "com.amazonaws.imagebuilder#ContainerType": {
            "type": "enum",
            "members": {
                "DOCKER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DOCKER"
                    }
                }
            }
        },
        "com.amazonaws.imagebuilder#CreateComponent": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.imagebuilder#CreateComponentRequest"
            },
            "output": {
                "target": "com.amazonaws.imagebuilder#CreateComponentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ClientException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidParameterCombinationException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidVersionNumberException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new component that can be used to build, validate, test, and assess your\n\t\t\timage. The component is based on a YAML document that you specify using exactly one of\n\t\t\tthe following methods:</p>\n         <ul>\n            <li>\n               <p>Inline, using the <code>data</code> property in the request body.</p>\n            </li>\n            <li>\n               <p>A URL that points to a YAML document file stored in Amazon S3, using the\n\t\t\t\t\t\t<code>uri</code> property in the request body.</p>\n            </li>\n         </ul>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/CreateComponent",
                    "code": 200
                }
            }
        },
        "com.amazonaws.imagebuilder#CreateComponentRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the component.</p>",
                        "smithy.api#required": {}
                    }
                },
                "semanticVersion": {
                    "target": "com.amazonaws.imagebuilder#VersionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The semantic version of the component. This version follows the semantic version\n\t\t\tsyntax.</p>\n         <note>\n            <p>The semantic version has four nodes: <major>.<minor>.<patch>/<build>. \n\tYou can assign values for the first three, and can filter on all of them.</p>\n            <p>\n               <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including \n\tzero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the \n\tbuild number to the fourth node.</p>\n            <p>\n               <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for \n\tthe nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or \n\ta date, such as 2021.01.01.</p>\n         </note>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the contents of the component.</p>"
                    }
                },
                "changeDescription": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The change description of the component. Describes what change has been made in this\n\t\t\tversion, or what makes this version different from other versions of this\n\t\t\tcomponent.</p>"
                    }
                },
                "platform": {
                    "target": "com.amazonaws.imagebuilder#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system platform of the component.</p>",
                        "smithy.api#required": {}
                    }
                },
                "supportedOsVersions": {
                    "target": "com.amazonaws.imagebuilder#OsVersionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system (OS) version supported by the component. If the OS information is\n\t\t\tavailable, a prefix match is performed against the base image OS version during image\n\t\t\trecipe creation.</p>"
                    }
                },
                "data": {
                    "target": "com.amazonaws.imagebuilder#InlineComponentData",
                    "traits": {
                        "smithy.api#documentation": "<p>Component <code>data</code> contains inline YAML document content for the component.\n\t\t\tAlternatively, you can specify the <code>uri</code> of a YAML document file stored in\n\t\t\tAmazon S3. However, you cannot specify both properties.</p>"
                    }
                },
                "uri": {
                    "target": "com.amazonaws.imagebuilder#Uri",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>uri</code> of a YAML component document file. This must be an S3 URL\n\t\t\t\t(<code>s3://bucket/key</code>), and the requester must have permission to access the\n\t\t\tS3 bucket it points to. If you use Amazon S3, you can specify component content up to your\n\t\t\tservice quota.</p>\n         <p>Alternatively, you can specify the YAML document inline, using the component\n\t\t\t\t<code>data</code> property. You cannot specify both properties.</p>"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the KMS key that is used to encrypt this component.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags that apply to the component.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The idempotency token of the component.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.imagebuilder#CreateComponentResponse": {
            "type": "structure",
            "members": {
                "requestId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>"
                    }
                },
                "componentBuildVersionArn": {
                    "target": "com.amazonaws.imagebuilder#ComponentBuildVersionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component that this request created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.imagebuilder#CreateContainerRecipe": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.imagebuilder#CreateContainerRecipeRequest"
            },
            "output": {
                "target": "com.amazonaws.imagebuilder#CreateContainerRecipeResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ClientException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidVersionNumberException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceAlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new container recipe. Container recipes define how images are configured,\n\t\t\ttested, and assessed.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/CreateContainerRecipe",
                    "code": 200
                }
            }
        },
        "com.amazonaws.imagebuilder#CreateContainerRecipeRequest": {
            "type": "structure",
            "members": {
                "containerType": {
                    "target": "com.amazonaws.imagebuilder#ContainerType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of container to create.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the container recipe.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the container recipe.</p>"
                    }
                },
                "semanticVersion": {
                    "target": "com.amazonaws.imagebuilder#VersionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The semantic version of the container recipe. This version follows the semantic\n\t\t\tversion syntax.</p>\n         <note>\n            <p>The semantic version has four nodes: <major>.<minor>.<patch>/<build>. \n\tYou can assign values for the first three, and can filter on all of them.</p>\n            <p>\n               <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including \n\tzero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the \n\tbuild number to the fourth node.</p>\n            <p>\n               <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for \n\tthe nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or \n\ta date, such as 2021.01.01.</p>\n         </note>",
                        "smithy.api#required": {}
                    }
                },
                "components": {
                    "target": "com.amazonaws.imagebuilder#ComponentConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>Components for build and test that are included in the container recipe.\n\t\t\tRecipes require a minimum of one build component, and can \n\t\t\thave a maximum of 20 build and test components in any combination.</p>",
                        "smithy.api#required": {}
                    }
                },
                "instanceConfiguration": {
                    "target": "com.amazonaws.imagebuilder#InstanceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>A group of options that can be used to configure an instance for building and testing\n\t\t\tcontainer images.</p>"
                    }
                },
                "dockerfileTemplateData": {
                    "target": "com.amazonaws.imagebuilder#InlineDockerFileTemplate",
                    "traits": {
                        "smithy.api#documentation": "<p>The Dockerfile template used to build your image as an inline data blob.</p>"
                    }
                },
                "dockerfileTemplateUri": {
                    "target": "com.amazonaws.imagebuilder#Uri",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 URI for the Dockerfile that will be used to build your container\n\t\t\timage.</p>"
                    }
                },
                "platformOverride": {
                    "target": "com.amazonaws.imagebuilder#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the operating system platform when you use a custom base image.</p>"
                    }
                },
                "imageOsVersionOverride": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the operating system version for the base image.</p>"
                    }
                },
                "parentImage": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The base image for the container recipe.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags that are attached to the container recipe.</p>"
                    }
                },
                "workingDirectory": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The working directory for use during build and test workflows.</p>"
                    }
                },
                "targetRepository": {
                    "target": "com.amazonaws.imagebuilder#TargetContainerRepository",
                    "traits": {
                        "smithy.api#documentation": "<p>The destination repository for the container image.</p>",
                        "smithy.api#required": {}
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Identifies which KMS key is used to encrypt the container image.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The client token used to make this request idempotent.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.imagebuilder#CreateContainerRecipeResponse": {
            "type": "structure",
            "members": {
                "requestId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The client token used to make this request idempotent.</p>"
                    }
                },
                "containerRecipeArn": {
                    "target": "com.amazonaws.imagebuilder#ContainerRecipeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns the Amazon Resource Name (ARN) of the container recipe that the request\n\t\t\tcreated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.imagebuilder#CreateDistributionConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.imagebuilder#CreateDistributionConfigurationRequest"
            },
            "output": {
                "target": "com.amazonaws.imagebuilder#CreateDistributionConfigurationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ClientException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidParameterCombinationException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceAlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new distribution configuration. Distribution configurations define and\n\t\t\tconfigure the outputs of your pipeline.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/CreateDistributionConfiguration",
                    "code": 200
                }
            }
        },
        "com.amazonaws.imagebuilder#CreateDistributionConfigurationRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the distribution configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the distribution configuration.</p>"
                    }
                },
                "distributions": {
                    "target": "com.amazonaws.imagebuilder#DistributionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The distributions of the distribution configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags of the distribution configuration.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The idempotency token of the distribution configuration.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.imagebuilder#CreateDistributionConfigurationResponse": {
            "type": "structure",
            "members": {
                "requestId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>"
                    }
                },
                "distributionConfigurationArn": {
                    "target": "com.amazonaws.imagebuilder#DistributionConfigurationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the distribution configuration that was created by\n\t\t\tthis request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.imagebuilder#CreateImage": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.imagebuilder#CreateImageRequest"
            },
            "output": {
                "target": "com.amazonaws.imagebuilder#CreateImageResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ClientException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new image. This request will create a new image along with all of the\n\t\t\tconfigured output resources defined in the distribution configuration. You must specify\n\t\t\texactly one recipe for your image, using either a ContainerRecipeArn or an\n\t\t\tImageRecipeArn.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/CreateImage",
                    "code": 200
                }
            }
        },
        "com.amazonaws.imagebuilder#CreateImagePipeline": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.imagebuilder#CreateImagePipelineRequest"
            },
            "output": {
                "target": "com.amazonaws.imagebuilder#CreateImagePipelineResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ClientException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceAlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new image pipeline. Image pipelines enable you to automate the creation and\n\t\t\tdistribution of images.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/CreateImagePipeline",
                    "code": 200
                }
            }
        },
        "com.amazonaws.imagebuilder#CreateImagePipelineRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the image pipeline.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the image pipeline.</p>"
                    }
                },
                "imageRecipeArn": {
                    "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image recipe that will be used to configure\n\t\t\timages created by this image pipeline.</p>"
                    }
                },
                "containerRecipeArn": {
                    "target": "com.amazonaws.imagebuilder#ContainerRecipeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container recipe that is used to configure\n\t\t\timages created by this container pipeline.</p>"
                    }
                },
                "infrastructureConfigurationArn": {
                    "target": "com.amazonaws.imagebuilder#InfrastructureConfigurationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the infrastructure configuration that will be used\n\t\t\tto build images created by this image pipeline.</p>",
                        "smithy.api#required": {}
                    }
                },
                "distributionConfigurationArn": {
                    "target": "com.amazonaws.imagebuilder#DistributionConfigurationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the distribution configuration that will be used to\n\t\t\tconfigure and distribute images created by this image pipeline.</p>"
                    }
                },
                "imageTestsConfiguration": {
                    "target": "com.amazonaws.imagebuilder#ImageTestsConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The image test configuration of the image pipeline.</p>"
                    }
                },
                "enhancedImageMetadataEnabled": {
                    "target": "com.amazonaws.imagebuilder#NullableBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Collects additional information about the image being created, including the operating\n\t\t\tsystem (OS) version and package list. This information is used to enhance the overall\n\t\t\texperience of using EC2 Image Builder. Enabled by default.</p>"
                    }
                },
                "schedule": {
                    "target": "com.amazonaws.imagebuilder#Schedule",
                    "traits": {
                        "smithy.api#documentation": "<p>The schedule of the image pipeline.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.imagebuilder#PipelineStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the image pipeline.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags of the image pipeline.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "imageScanningConfiguration": {
                    "target": "com.amazonaws.imagebuilder#ImageScanningConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains settings for vulnerability scans.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.imagebuilder#CreateImagePipelineResponse": {
            "type": "structure",
            "members": {
                "requestId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>"
                    }
                },
                "imagePipelineArn": {
                    "target": "com.amazonaws.imagebuilder#ImagePipelineArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image pipeline that was created by this\n\t\t\trequest.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.imagebuilder#CreateImageRecipe": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.imagebuilder#CreateImageRecipeRequest"
            },
            "output": {
                "target": "com.amazonaws.imagebuilder#CreateImageRecipeResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ClientException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidVersionNumberException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceAlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new image recipe. Image recipes define how images are configured, tested,\n\t\t\tand assessed.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/CreateImageRecipe",
                    "code": 200
                }
            }
        },
        "com.amazonaws.imagebuilder#CreateImageRecipeRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the image recipe.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the image recipe.</p>"
                    }
                },
                "semanticVersion": {
                    "target": "com.amazonaws.imagebuilder#VersionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The semantic version of the image recipe. This version follows the semantic version\n\t\t\tsyntax.</p>\n         <note>\n            <p>The semantic version has four nodes: <major>.<minor>.<patch>/<build>. \n\tYou can assign values for the first three, and can filter on all of them.</p>\n            <p>\n               <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including \n\tzero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the \n\tbuild number to the fourth node.</p>\n            <p>\n               <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for \n\tthe nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or \n\ta date, such as 2021.01.01.</p>\n         </note>",
                        "smithy.api#required": {}
                    }
                },
                "components": {
                    "target": "com.amazonaws.imagebuilder#ComponentConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>The components included in the image recipe.</p>",
                        "smithy.api#required": {}
                    }
                },
                "parentImage": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The base image of the image recipe. The value of the string can be the ARN of the base\n\t\t\timage or an AMI ID. The format for the ARN follows this example:\n\t\t\t\t<code>arn:aws:imagebuilder:us-west-2:aws:image/windows-server-2016-english-full-base-x86/x.x.x</code>.\n\t\t\tYou can provide the specific version that you want to use, or you can use a wildcard in\n\t\t\tall of the fields. If you enter an AMI ID for the string value, you must have access to\n\t\t\tthe AMI, and the AMI must be in the same Region in which you are using Image Builder.</p>",
                        "smithy.api#required": {}
                    }
                },
                "blockDeviceMappings": {
                    "target": "com.amazonaws.imagebuilder#InstanceBlockDeviceMappings",
                    "traits": {
                        "smithy.api#documentation": "<p>The block device mappings of the image recipe.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags of the image recipe.</p>"
                    }
                },
                "workingDirectory": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The working directory used during build and test workflows.</p>"
                    }
                },
                "additionalInstanceConfiguration": {
                    "target": "com.amazonaws.imagebuilder#AdditionalInstanceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify additional settings and launch scripts for your build instances.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.imagebuilder#CreateImageRecipeResponse": {
            "type": "structure",
            "members": {
                "requestId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>"
                    }
                },
                "imageRecipeArn": {
                    "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image recipe that was created by this\n\t\t\trequest.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.imagebuilder#CreateImageRequest": {
            "type": "structure",
            "members": {
                "imageRecipeArn": {
                    "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image recipe that defines how images are\n\t\t\tconfigured, tested, and assessed.</p>"
                    }
                },
                "containerRecipeArn": {
                    "target": "com.amazonaws.imagebuilder#ContainerRecipeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container recipe that defines how images are\n\t\t\tconfigured and tested.</p>"
                    }
                },
                "distributionConfigurationArn": {
                    "target": "com.amazonaws.imagebuilder#DistributionConfigurationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the distribution configuration that defines and\n\t\t\tconfigures the outputs of your pipeline.</p>"
                    }
                },
                "infrastructureConfigurationArn": {
                    "target": "com.amazonaws.imagebuilder#InfrastructureConfigurationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the infrastructure configuration that defines the\n\t\t\tenvironment in which your image will be built and tested.</p>",
                        "smithy.api#required": {}
                    }
                },
                "imageTestsConfiguration": {
                    "target": "com.amazonaws.imagebuilder#ImageTestsConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The image tests configuration of the image.</p>"
                    }
                },
                "enhancedImageMetadataEnabled": {
                    "target": "com.amazonaws.imagebuilder#NullableBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Collects additional information about the image being created, including the operating\n\t\t\tsystem (OS) version and package list. This information is used to enhance the overall\n\t\t\texperience of using EC2 Image Builder. Enabled by default.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags of the image.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
[...]
