{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.imagebuilder#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.imagebuilder#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have permissions to perform the requested operation.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.imagebuilder#AccountAggregation": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Identifies the account that owns the aggregated resource findings.</p>"
                    }
                },
                "severityCounts": {
                    "target": "com.amazonaws.imagebuilder#SeverityCounts",
                    "traits": {
                        "smithy.api#documentation": "<p>Counts by severity level for medium severity and higher level findings, plus a total\n\t\t\tfor all of the findings.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains counts of vulnerability findings from image scans that run when you create\n\t\t\tnew Image Builder images, or build new versions of existing images. The vulnerability counts are\n\t\t\tgrouped by severity level. The counts are aggregated across resources to create the\n\t\t\tfinal tally for the account that owns them.</p>"
            }
        },
        "com.amazonaws.imagebuilder#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[0-9]{12}$"
            }
        },
        "com.amazonaws.imagebuilder#AccountList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#AccountId"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1536
                }
            }
        },
        "com.amazonaws.imagebuilder#AdditionalInstanceConfiguration": {
            "type": "structure",
            "members": {
                "systemsManagerAgent": {
                    "target": "com.amazonaws.imagebuilder#SystemsManagerAgent",
                    "traits": {
                        "smithy.api#documentation": "<p>The Systems Manager agent settings for your build instance. This setting\n\t\t\tapplies to Linux and macOS build instances only. Requests that set it for a\n\t\t\trecipe with a Windows base image are rejected.</p>"
                    }
                },
                "userDataOverride": {
                    "target": "com.amazonaws.imagebuilder#UserDataOverride",
                    "traits": {
                        "smithy.api#documentation": "<p>Use this property to provide commands or a command script to run when you launch your\n\t\t\tbuild instance.</p>\n         <p>The userDataOverride property replaces any commands that Image Builder might have added to\n\t\t\tensure that Systems Manager is installed on your Linux build instance. If you override the user\n\t\t\tdata, make sure that you add commands to install Systems Manager, if it is not pre-installed on\n\t\t\tyour base image.</p>\n         <note>\n            <p>The user data is always base 64 encoded. For example, the following commands are\n\t\t\t\tencoded as\n\t\t\t\t<code>IyEvYmluL2Jhc2gKbWtkaXIgLXAgL3Zhci9iYi8KdG91Y2ggL3Zhcg==</code>:</p>\n            <p>\n               <i>#!/bin/bash</i>\n            </p>\n            <p>mkdir -p /var/bb/</p>\n            <p>touch /var</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>In addition to your infrastructure configuration, these settings provide an extra\n\t\t\tlayer of control over your build instances. You can also specify commands to run on\n\t\t\tlaunch for all of your build instances.</p>\n         <p>Image Builder does not automatically install the Systems Manager agent on Windows instances. If your base\n\t\t\timage includes the Systems Manager agent, then the AMI that you create will also include the\n\t\t\tagent. For Linux instances, if the base image does not already include the Systems Manager agent,\n\t\t\tImage Builder installs it. For Linux instances where Image Builder installs the Systems Manager agent, you can\n\t\t\tchoose whether to keep it for the AMI that you create.</p>"
            }
        },
        "com.amazonaws.imagebuilder#Ami": {
            "type": "structure",
            "members": {
                "region": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Region of the Amazon EC2 AMI.</p>"
                    }
                },
                "image": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The AMI ID of the Amazon EC2 AMI.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon EC2 AMI.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the Amazon EC2 AMI. Minimum and maximum length are in characters.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.imagebuilder#ImageState",
                    "traits": {
                        "smithy.api#documentation": "<p>The state of the AMI, which includes the status and, if applicable,\n\t\t\tthe reason for that status.</p>"
                    }
                },
                "accountId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The account ID of the owner of the AMI.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details of an Amazon EC2 AMI.</p>"
            }
        },
        "com.amazonaws.imagebuilder#AmiDistributionConfiguration": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.imagebuilder#AmiNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the output AMI. The name must include the\n\t\t\t<code>{{ imagebuilder:buildDate }}</code> dynamic tag so that each build\n\t\t\tproduces a uniquely named AMI. If you don't specify a name, Image Builder\n\t\t\tnames the output AMI with the image name followed by the build timestamp,\n\t\t\tfor example <code>my-image 2022-10-26T22-30-05.912619Z</code>.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description to apply to the distributed AMI. Image Builder sets this as the\n\t\t\toutput AMI's description in each target Region and account. If you\n\t\t\tdon't specify a description, the AMI in the build Region uses the\n\t\t\timage recipe's description, if the recipe has one. Copies distributed\n\t\t\tto other Regions and accounts don't receive a default\n\t\t\tdescription.</p>"
                    }
                },
                "targetAccountIds": {
                    "target": "com.amazonaws.imagebuilder#AccountList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account IDs to distribute the AMI to in this Region. Each listed\n\t\t\taccount receives its own copy of the output AMI. If you don't specify\n\t\t\taccounts, Image Builder distributes the AMI only to your own account.</p>"
                    }
                },
                "amiTags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to apply to AMIs distributed to this Region.</p>"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the KMS key used to encrypt the distributed image. \n\t\t\tThis can be either the Key ARN or the Alias ARN. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#key-id-key-ARN\">Key identifiers (KeyId)</a> \n\t\t\tin the <i>Key Management Service Developer Guide</i>.</p>"
                    }
                },
                "launchPermission": {
                    "target": "com.amazonaws.imagebuilder#LaunchPermissionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Launch permissions can be used to configure which Amazon Web Services accounts can use the AMI to\n\t\t\tlaunch instances.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Define and configure the output AMIs of the pipeline.</p>"
            }
        },
        "com.amazonaws.imagebuilder#AmiList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#Ami"
            }
        },
        "com.amazonaws.imagebuilder#AmiNameString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 127
                },
                "smithy.api#pattern": "^[-_A-Za-z0-9{][-_A-Za-z0-9\\s:{}\\.]+[-_A-Za-z0-9}]$"
            }
        },
        "com.amazonaws.imagebuilder#AmiWatermarkName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The name of an AMI watermark. AMI watermarks are lineage markers that\n\t\t\tImage Builder attaches to output AMIs during the build process. AMI watermarks\n\t\t\tautomatically propagate to derivative AMIs when the source AMI is\n\t\t\tcopied or distributed.</p>",
                "smithy.api#length": {
                    "min": 3,
                    "max": 128
                },
                "smithy.api#pattern": "^[A-Za-z0-9()\\[\\]./'@_\\-][A-Za-z0-9 ()\\[\\]./'@_\\-]{1,126}[A-Za-z0-9()\\[\\]./'@_\\-]$"
            }
        },
        "com.amazonaws.imagebuilder#AmiWatermarksList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#AmiWatermarkName"
            },
            "traits": {
                "smithy.api#documentation": "<p>A list of AMI watermark names to attach to the output AMI. Names are\n\t\t\tcase-sensitive. The recipe does not allow duplicate names.</p>",
                "smithy.api#length": {
                    "min": 1,
                    "max": 5
                }
            }
        },
        "com.amazonaws.imagebuilder#Arn": {
            "type": "string"
        },
        "com.amazonaws.imagebuilder#AutoDisableFailureCount": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.imagebuilder#AutoDisablePolicy": {
            "type": "structure",
            "members": {
                "failureCount": {
                    "target": "com.amazonaws.imagebuilder#AutoDisableFailureCount",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of consecutive scheduled image pipeline executions that must fail before Image Builder \n\t\t\tautomatically disables the pipeline.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines the rules by which an image pipeline is automatically disabled when\n\t\t\tit fails. By default, if the schedule doesn't include an auto-disable\n\t\t\tpolicy, Image Builder disables the pipeline after 5 consecutive failed scheduled\n\t\t\tbuilds.</p>"
            }
        },
        "com.amazonaws.imagebuilder#Boolean": {
            "type": "boolean",
            "traits": {
                "smithy.api#default": false
            }
        },
        "com.amazonaws.imagebuilder#BuildType": {
            "type": "enum",
            "members": {
                "USER_INITIATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "USER_INITIATED"
                    }
                },
                "SCHEDULED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SCHEDULED"
                    }
                },
                "IMPORT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IMPORT"
                    }
                },
                "IMPORT_ISO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IMPORT_ISO"
                    }
                }
            }
        },
        "com.amazonaws.imagebuilder#CallRateLimitExceededException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.imagebuilder#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You have exceeded the permitted request rate for the Amazon EC2 APIs that Image Builder\n\t\t\tcalls on your behalf. Retry with an increasing or variable delay between\n\t\t\trequests.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 429
            }
        },
        "com.amazonaws.imagebuilder#CancelImageCreation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.imagebuilder#CancelImageCreationRequest"
            },
            "output": {
                "target": "com.amazonaws.imagebuilder#CancelImageCreationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ClientException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels the creation of an image. This operation can only be used on\n\t\t\timages in a non-terminal state. Cancellation is asynchronous: the request\n\t\t\treturns immediately, then Image Builder stops the running build and moves the image\n\t\t\tto the <code>CANCELLED</code> state. Output resources that the build already\n\t\t\tcreated, such as AMIs and snapshots, aren't removed.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Cancel an image build",
                        "documentation": "The following example cancels a build that is in progress for the specified image build version.",
                        "input": {
                            "imageBuildVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:image/my-example-recipe/1.0.0/1",
                            "clientToken": "a1b2c3d4-5678-90ab-cdef-EXAMPLE77777"
                        },
                        "output": {
                            "requestId": "fead325f-72d9-42b5-b2ed-c5294984c6a9",
                            "clientToken": "a1b2c3d4-5678-90ab-cdef-EXAMPLE77777",
                            "imageBuildVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:image/my-example-recipe/1.0.0/1"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/CancelImageCreation",
                    "code": 200
                }
            }
        },
        "com.amazonaws.imagebuilder#CancelImageCreationRequest": {
            "type": "structure",
            "members": {
                "imageBuildVersionArn": {
                    "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image that you want to cancel creation\n\t\t\tfor.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier you provide to ensure\n       that the operation runs no more than one time. If you retry a request with the same client\n\t   token, Image Builder returns the original response without running the operation again. For more\n\t   information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>\n       in the <i>Amazon EC2 API Reference</i>.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.imagebuilder#CancelImageCreationResponse": {
            "type": "structure",
            "members": {
                "requestId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The client token that uniquely identifies the request.</p>"
                    }
                },
                "imageBuildVersionArn": {
                    "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image whose creation this request canceled.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.imagebuilder#CancelLifecycleExecution": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.imagebuilder#CancelLifecycleExecutionRequest"
            },
            "output": {
                "target": "com.amazonaws.imagebuilder#CancelLifecycleExecutionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ClientException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a lifecycle execution – a single run of lifecycle actions that a\n\t\t\tlifecycle policy or a <a>StartResourceStateUpdate</a> request\n\t\t\tstarted. You can only cancel an execution that hasn't reached a\n\t\t\tterminal state. Cancellation is asynchronous and doesn't undo\n\t\t\tcompleted lifecycle actions.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Cancel a lifecycle execution",
                        "documentation": "The following example cancels the scheduled resource state update associated with the specified lifecycle execution ID before it runs.",
                        "input": {
                            "lifecycleExecutionId": "lce-401aefc3-a829-46f6-8fc2-91497988a503",
                            "clientToken": "a1b2c3d4-5678-90ab-cdef-EXAMPLE97531"
                        },
                        "output": {
                            "lifecycleExecutionId": "lce-401aefc3-a829-46f6-8fc2-91497988a503"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/CancelLifecycleExecution",
                    "code": 200
                }
            }
        },
        "com.amazonaws.imagebuilder#CancelLifecycleExecutionRequest": {
            "type": "structure",
            "members": {
                "lifecycleExecutionId": {
                    "target": "com.amazonaws.imagebuilder#LifecycleExecutionId",
                    "traits": {
                        "smithy.api#documentation": "<p>Identifies the specific runtime instance of the image lifecycle to cancel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier you provide to ensure\n       that the operation runs no more than one time. If you retry a request with the same client\n\t   token, Image Builder returns the original response without running the operation again. For more\n\t   information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>\n       in the <i>Amazon EC2 API Reference</i>.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.imagebuilder#CancelLifecycleExecutionResponse": {
            "type": "structure",
            "members": {
                "lifecycleExecutionId": {
                    "target": "com.amazonaws.imagebuilder#LifecycleExecutionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the lifecycle execution that the cancellation\n\t\t\trequest applies to. The cancellation completes asynchronously.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.imagebuilder#ClientException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.imagebuilder#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A generic client error. This error usually indicates that the request\n\t\t\tfailed a validation check, such as when a downstream service rejects a\n\t\t\tconfigured value.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.imagebuilder#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.imagebuilder#Component": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the component.</p>"
                    }
                },
                "version": {
                    "target": "com.amazonaws.imagebuilder#VersionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the component.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the component.</p>"
                    }
                },
                "changeDescription": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes what change has been made in this version of the component, \n\t\t\tor what makes this version different from other versions of the component.</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.imagebuilder#ComponentType",
                    "traits": {
                        "smithy.api#documentation": "<p>The component type specifies whether Image Builder uses the component to build the image or\n\t\t\tonly to test it.</p>"
                    }
                },
                "platform": {
                    "target": "com.amazonaws.imagebuilder#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system platform of the component.</p>"
                    }
                },
                "supportedOsVersions": {
                    "target": "com.amazonaws.imagebuilder#OsVersionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system (OS) version supported by the component. If the OS information is\n\t\t\tavailable, Image Builder performs a prefix match against the base image OS version during image\n\t\t\trecipe creation.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.imagebuilder#ComponentState",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the current status of the component.</p>"
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterDetailList",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains parameter details for each of the parameters that the component document \n\t\t\tdefined for the component.</p>"
                    }
                },
                "owner": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The owner of the component. The value is your account ID for components\n\t\t\tthat you own, the sharing account's ID for shared components, or\n\t\t\t<code>Amazon</code>, <code>ThirdParty</code>, or <code>AWSMarketplace</code>.</p>"
                    }
                },
                "data": {
                    "target": "com.amazonaws.imagebuilder#ComponentData",
                    "traits": {
                        "smithy.api#documentation": "<p>Component data contains the YAML document content for the component.</p>"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key identifier used to encrypt the component. This can be either the Key ARN or the Alias ARN. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#key-id-key-ARN\">Key identifiers (KeyId)</a> \n\t\t\tin the <i>Key Management Service Developer Guide</i>.</p>"
                    }
                },
                "encrypted": {
                    "target": "com.amazonaws.imagebuilder#NullableBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the component data is encrypted at rest. Image Builder encrypts\n\t\t\tall component data at rest, so this value is always <code>true</code>. This\n\t\t\tfield is retained for backward compatibility.</p>"
                    }
                },
                "dateCreated": {
                    "target": "com.amazonaws.imagebuilder#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date that Image Builder created the component.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags that apply to the component.</p>"
                    }
                },
                "publisher": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the name of the publisher if this is a third-party component. Otherwise, \n\t\t\tthis property is empty.</p>"
                    }
                },
                "obfuscate": {
                    "target": "com.amazonaws.imagebuilder#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Indicates whether component source is hidden from view in the console, and from \n\t\t\tcomponent detail results for API, CLI, or SDK operations.</p>"
                    }
                },
                "productCodes": {
                    "target": "com.amazonaws.imagebuilder#ProductCodeList",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains product codes that are used for billing purposes for Amazon Web Services Marketplace components.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A detailed view of a component.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentBuildVersionArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws(?:-[a-z-]+)?|third-party):component/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+/[0-9]+$"
            }
        },
        "com.amazonaws.imagebuilder#ComponentConfiguration": {
            "type": "structure",
            "members": {
                "componentArn": {
                    "target": "com.amazonaws.imagebuilder#ComponentVersionArnOrBuildVersionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component. You can specify a build version ARN, or a\n\t\t\tcomponent version ARN whose version segments can use <code>x</code>\n\t\t\twildcards, for example <code>1.x.x</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterList",
                    "traits": {
                        "smithy.api#documentation": "<p>A group of parameter settings that Image Builder uses to configure the component for\n\t\t\ta specific recipe. You must supply a value for every component parameter\n\t\t\tthat has no default value, and you can only supply parameters that the\n\t\t\tcomponent defines.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration details of the component. You can specify each component only\n\t\t\tonce in a recipe, regardless of version. Components with a status of\n\t\t\t<code>DEPRECATED</code> or <code>DISABLED</code> can't be added to new\n\t\t\trecipes.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentConfigurationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#ComponentConfiguration"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.imagebuilder#ComponentData": {
            "type": "string"
        },
        "com.amazonaws.imagebuilder#ComponentFailureContext": {
            "type": "structure",
            "members": {
                "componentArn": {
                    "target": "com.amazonaws.imagebuilder#ComponentBuildVersionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component build version that failed.</p>"
                    }
                },
                "phaseName": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the phase in the component document where the failure occurred, such\n\t\t\tas <code>build</code>, <code>validate</code>, or <code>test</code>.</p>"
                    }
                },
                "stepName": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the step in the component document that failed.</p>"
                    }
                },
                "action": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The action that the failed step runs, for example <code>ExecuteBash</code>.</p>"
                    }
                },
                "errorMessage": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyMaxLengthString",
                    "traits": {
                        "smithy.api#documentation": "<p>The error message from the step that failed. Image Builder truncates messages that are\n\t\t\tlonger than 1024 characters. The component log in Amazon CloudWatch Logs contains\n\t\t\tthe full output.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details about the component that caused the image creation process to\n\t\t\tfail. The details identify the first step that failed when the component ran.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentFormat": {
            "type": "enum",
            "members": {
                "SHELL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SHELL"
                    }
                }
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameter": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the component parameter to set.</p>",
                        "smithy.api#required": {}
                    }
                },
                "value": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterValueList",
                    "traits": {
                        "smithy.api#documentation": "<p>Sets the value for the named component parameter.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains a key/value pair that sets the named component parameter.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                },
                "smithy.api#pattern": "^[^\\x00]+$"
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterDetail": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of this input parameter.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of input this parameter provides. The currently supported value is\n\t\t\t\"string\".</p>",
                        "smithy.api#required": {}
                    }
                },
                "defaultValue": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterValueList",
                    "traits": {
                        "smithy.api#documentation": "<p>The default value of this parameter if no input is provided.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#ComponentParameterDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes this parameter.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines a parameter that is used to provide configuration details for the\n\t\t\tcomponent.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterDetailList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#ComponentParameterDetail"
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#ComponentParameter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^[^\\x00]+$"
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 20
                },
                "smithy.api#pattern": "^String|Integer|Boolean|StringList$"
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0
                },
                "smithy.api#pattern": "^[^\\x00]*$"
            }
        },
        "com.amazonaws.imagebuilder#ComponentParameterValueList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#ComponentParameterValue"
            }
        },
        "com.amazonaws.imagebuilder#ComponentState": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "com.amazonaws.imagebuilder#ComponentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the component. Components with a status of\n\t\t\t<code>DEPRECATED</code> or <code>DISABLED</code> can't be added to new\n\t\t\trecipes.</p>"
                    }
                },
                "reason": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes how or why the component changed state.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A group of fields that describe the current status of components.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentStatus": {
            "type": "enum",
            "members": {
                "DEPRECATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DEPRECATED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                }
            }
        },
        "com.amazonaws.imagebuilder#ComponentSummary": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the component.</p>"
                    }
                },
                "version": {
                    "target": "com.amazonaws.imagebuilder#VersionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the component.</p>"
                    }
                },
                "platform": {
                    "target": "com.amazonaws.imagebuilder#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system platform of the component.</p>"
                    }
                },
                "supportedOsVersions": {
                    "target": "com.amazonaws.imagebuilder#OsVersionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system (OS) version that the component supports. If the OS information\n\t\t\tis available, Image Builder performs a prefix match against the base image OS version during\n\t\t\timage recipe creation.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.imagebuilder#ComponentState",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the current status of the component.</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.imagebuilder#ComponentType",
                    "traits": {
                        "smithy.api#documentation": "<p>The component type specifies whether Image Builder uses the component to build the image or\n\t\t\tonly to test it.</p>"
                    }
                },
                "owner": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The owner of the component. The value is your account ID for components\n\t\t\tthat you own, the sharing account's ID for shared components, or\n\t\t\t<code>Amazon</code>, <code>ThirdParty</code>, or <code>AWSMarketplace</code>.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the component.</p>"
                    }
                },
                "changeDescription": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The change description for this version of the component.</p>"
                    }
                },
                "dateCreated": {
                    "target": "com.amazonaws.imagebuilder#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date that Image Builder created this version of the component.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags that apply to the component.</p>"
                    }
                },
                "publisher": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the name of the publisher if this is a third-party component. Otherwise, \n\t\t\tthis property is empty.</p>"
                    }
                },
                "obfuscate": {
                    "target": "com.amazonaws.imagebuilder#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Indicates whether component source is hidden from view in the console, and from \n\t\t\tcomponent detail results for API, CLI, or SDK operations.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A high-level summary of a component.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#ComponentSummary"
            }
        },
        "com.amazonaws.imagebuilder#ComponentType": {
            "type": "enum",
            "members": {
                "BUILD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BUILD"
                    }
                },
                "TEST": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TEST"
                    }
                }
            }
        },
        "com.amazonaws.imagebuilder#ComponentVersion": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>\n         <note>\n            <p>Semantic versioning is included in each object's Amazon Resource Name (ARN), \n\tat the level that applies to that object as follows:</p>\n            <ol>\n               <li>\n                  <p>Versionless ARNs and Name ARNs do not include specific values in any of the nodes. The nodes are \n\t\t\t\teither left off entirely, or they are specified as wildcards, for example: x.x.x.</p>\n               </li>\n               <li>\n                  <p>Version ARNs have only the first three nodes: <major>.<minor>.<patch></p>\n               </li>\n               <li>\n                  <p>Build version ARNs have all four nodes, and point to a specific build for a specific version of an object.</p>\n               </li>\n            </ol>\n         </note>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the component.</p>"
                    }
                },
                "version": {
                    "target": "com.amazonaws.imagebuilder#VersionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The semantic version of the component.</p>\n         <note>\n            <p>The semantic version has four nodes: <major>.<minor>.<patch>/<build>. \n\tYou can assign values for the first three, and can filter on all of them.</p>\n            <p>\n               <b>Assignment:</b> For the first three nodes, you can assign any positive integer value, including \n\tzero. The upper limit is 2^30-1, or 1073741823, for each node. Image Builder automatically assigns the \n\tbuild number to the fourth node.</p>\n            <p>\n               <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for \n\tthe nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or \n\ta date, such as 2021.01.01.</p>\n            <p>\n               <b>Filtering:</b> You can use wildcards (x) to specify the most recent versions or nodes when \n\tselecting the base image or components for your recipe. When you use a wildcard in any node, all nodes \n\tto the right of the first wildcard must also be wildcards.</p>\n         </note>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the component.</p>"
                    }
                },
                "platform": {
                    "target": "com.amazonaws.imagebuilder#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>The platform of the component.</p>"
                    }
                },
                "supportedOsVersions": {
                    "target": "com.amazonaws.imagebuilder#OsVersionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system (OS) version supported by the component. If OS information is\n\t\t\tavailable, Image Builder performs a prefix match against the base image OS version during image\n\t\t\trecipe creation.</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.imagebuilder#ComponentType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the component denotes whether the component is used to build the image or\n\t\t\tonly to test it.</p>"
                    }
                },
                "owner": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The owner of the component. The value is your account ID for components\n\t\t\tthat you own, the sharing account's ID for shared components, or\n\t\t\t<code>Amazon</code>, <code>ThirdParty</code>, or <code>AWSMarketplace</code>.</p>"
                    }
                },
                "dateCreated": {
                    "target": "com.amazonaws.imagebuilder#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date that the component was created.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.imagebuilder#ComponentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the current status of the component version.</p>"
                    }
                },
                "productCodes": {
                    "target": "com.amazonaws.imagebuilder#ProductCodeList",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains product codes that are used for billing purposes for Amazon Web Services Marketplace components.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The defining characteristics of a specific version of a component.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ComponentVersionArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws(?:-[a-z-]+)?|third-party):component/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+$"
            }
        },
        "com.amazonaws.imagebuilder#ComponentVersionArnOrBuildVersionArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws(?:-[a-z-]+)?|third-party):component/[a-z0-9-_]+/(?:(?:([0-9]+|x)\\.([0-9]+|x)\\.([0-9]+|x))|(?:[0-9]+\\.[0-9]+\\.[0-9]+/[0-9]+))$"
            }
        },
        "com.amazonaws.imagebuilder#ComponentVersionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#ComponentVersion"
            }
        },
        "com.amazonaws.imagebuilder#ConsecutiveFailures": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 0
                }
            }
        },
        "com.amazonaws.imagebuilder#Container": {
            "type": "structure",
            "members": {
                "region": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Containers and container images are Region-specific. This is the Region context for\n\t\t\tthe container.</p>"
                    }
                },
                "imageUris": {
                    "target": "com.amazonaws.imagebuilder#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of URIs for containers created in the context Region.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details of the container images that are output resources of an image build\n\t\t\tin a given Amazon Web Services Region: the Region, and the URIs of the container\n\t\t\timages.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ContainerDistributionConfiguration": {
            "type": "structure",
            "members": {
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the container distribution configuration.</p>"
                    }
                },
                "containerTags": {
                    "target": "com.amazonaws.imagebuilder#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags that Image Builder applies to the distributed container image in the target\n\t\t\trepository. These are repository image tags, not resource tags.</p>"
                    }
                },
                "targetRepository": {
                    "target": "com.amazonaws.imagebuilder#TargetContainerRepository",
                    "traits": {
                        "smithy.api#documentation": "<p>The destination repository for the container distribution configuration.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines how the output container image is distributed in a specific\n\t\t\tAmazon Web Services Region: the target repository, the image tags to apply to the\n\t\t\tdistributed image, and an optional description.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ContainerList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#Container"
            }
        },
        "com.amazonaws.imagebuilder#ContainerRecipe": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container recipe.</p>\n         <note>\n            <p>Semantic versioning is included in each object's Amazon Resource Name (ARN), \n\tat the level that applies to that object as follows:</p>\n            <ol>\n               <li>\n                  <p>Versionless ARNs and Name ARNs do not include specific values in any of the nodes. The nodes are \n\t\t\t\teither left off entirely, or they are specified as wildcards, for example: x.x.x.</p>\n               </li>\n               <li>\n                  <p>Version ARNs have only the first three nodes: <major>.<minor>.<patch></p>\n               </li>\n               <li>\n                  <p>Build version ARNs have all four nodes, and point to a specific build for a specific version of an object.</p>\n               </li>\n            </ol>\n         </note>"
                    }
                },
                "containerType": {
                    "target": "com.amazonaws.imagebuilder#ContainerType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the type of container, such as Docker.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the container recipe.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the container recipe.</p>"
                    }
                },
                "platform": {
                    "target": "com.amazonaws.imagebuilder#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>The system platform for the container. Container recipes support only the\n\t\t\tLinux and Windows platforms.</p>"
                    }
                },
                "owner": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The owner of the container recipe.</p>"
                    }
                },
                "version": {
                    "target": "com.amazonaws.imagebuilder#VersionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The semantic version of the container recipe.</p>\n         <note>\n            <p>The semantic version has four nodes: <major>.<minor>.<patch>/<build>. \n\tYou can assign values for the first three, and can filter on all of them.</p>\n            <p>\n               <b>Assignment:</b> For the first three nodes, you can assign any positive integer value, including \n\tzero. The upper limit is 2^30-1, or 1073741823, for each node. Image Builder automatically assigns the \n\tbuild number to the fourth node.</p>\n            <p>\n               <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for \n\tthe nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or \n\ta date, such as 2021.01.01.</p>\n            <p>\n               <b>Filtering:</b> You can use wildcards (x) to specify the most recent versions or nodes when \n\tselecting the base image or components for your recipe. When you use a wildcard in any node, all nodes \n\tto the right of the first wildcard must also be wildcards.</p>\n         </note>"
                    }
                },
                "components": {
                    "target": "com.amazonaws.imagebuilder#ComponentConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>Build and test components that are included in the container recipe.\n\t\t\tA recipe can contain a maximum of 20 build and test components\n\t\t\tin any combination, by default. This maximum is an adjustable quota. For more information, see\n\t\t\t<a href=\"https://docs.aws.amazon.com/general/latest/gr/imagebuilder.html\">EC2 Image Builder endpoints and quotas</a>\n\t\t\tin the <i>Amazon Web Services General Reference</i>.</p>"
                    }
                },
                "instanceConfiguration": {
                    "target": "com.amazonaws.imagebuilder#InstanceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>A group of options that can be used to configure an instance for building and testing\n\t\t\tcontainer images.</p>"
                    }
                },
                "dockerfileTemplateData": {
                    "target": "com.amazonaws.imagebuilder#DockerFileTemplate",
                    "traits": {
                        "smithy.api#documentation": "<p>The Dockerfile template that Image Builder uses to build the container image. The\n\t\t\ttemplate can include contextual variables that Image Builder replaces with build\n\t\t\tinformation at build time. For the contextual variables that the template\n\t\t\tcan include, see <a href=\"https://docs.aws.amazon.com/imagebuilder/latest/userguide/create-container-recipes.html\">Create\n\t\t\t\ta new version of a container recipe</a> in the\n\t\t\t<i>EC2 Image Builder User Guide</i>.</p>"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key that Image Builder uses to encrypt the recipe's Dockerfile template\n\t\t\tdata at rest. This can be either the Key ARN or the Alias ARN. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#key-id-key-ARN\">Key identifiers (KeyId)</a> \n\t\t\tin the <i>Key Management Service Developer Guide</i>. If you don't specify a key, Image Builder\n\t\t\tencrypts the template data with a KMS key that Image Builder owns. This key\n\t\t\tisn't used to encrypt the output container image.</p>"
                    }
                },
                "encrypted": {
                    "target": "com.amazonaws.imagebuilder#NullableBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the recipe's Dockerfile template data is encrypted at\n\t\t\trest. Image Builder encrypts all Dockerfile template data at rest, so this value is\n\t\t\talways <code>true</code>. This field is retained for backward compatibility,\n\t\t\tand doesn't describe encryption of the output container image.</p>"
                    }
                },
                "parentImage": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The base image for customizations specified in the container recipe. This can \n\t\t\tcontain an Image Builder image resource ARN or a container image URI, for example \n\t\t\t<code>amazonlinux:latest</code>.</p>"
                    }
                },
                "dateCreated": {
                    "target": "com.amazonaws.imagebuilder#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date when this container recipe was created.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags that are attached to the container recipe.</p>"
                    }
                },
                "workingDirectory": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The working directory for use during build and test workflows.</p>"
                    }
                },
                "targetRepository": {
                    "target": "com.amazonaws.imagebuilder#TargetContainerRepository",
                    "traits": {
                        "smithy.api#documentation": "<p>The destination repository for the container image.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines how Image Builder builds and tests a container image: the base image,\n\t\t\tcomponents to apply, the Dockerfile template, the build and test instance\n\t\t\tconfiguration, and the target repository for the output image.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ContainerRecipeArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws):container-recipe/[a-z0-9-_]+/(?:[0-9]+|x)\\.(?:[0-9]+|x)\\.(?:[0-9]+|x)$"
            }
        },
        "com.amazonaws.imagebuilder#ContainerRecipeSummary": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container recipe.</p>"
                    }
                },
                "containerType": {
                    "target": "com.amazonaws.imagebuilder#ContainerType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the type of container, such as \"Docker\".</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the container recipe.</p>"
                    }
                },
                "platform": {
                    "target": "com.amazonaws.imagebuilder#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>The system platform for the container. Container recipes support only the\n\t\t\tLinux and Windows platforms.</p>"
                    }
                },
                "owner": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The owner of the container recipe.</p>"
                    }
                },
                "parentImage": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The base image for the container recipe.</p>"
                    }
                },
                "dateCreated": {
                    "target": "com.amazonaws.imagebuilder#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date when this container recipe was created.</p>"
                    }
                },
                "instanceImage": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The base image for a container build and test instance. This can contain an AMI ID \n\t\tor it can specify an Amazon Web Services Systems Manager (SSM) Parameter Store Parameter, prefixed by <code>ssm:</code>, \n\t\tfollowed by the parameter name or ARN.</p>\n         <p>If not specified, Image Builder uses the appropriate ECS-optimized AMI as a base image.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags that are attached to the container recipe.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of a container recipe.</p>"
            }
        },
        "com.amazonaws.imagebuilder#ContainerRecipeSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.imagebuilder#ContainerRecipeSummary"
            }
        },
        "com.amazonaws.imagebuilder#ContainerRepositoryService": {
            "type": "enum",
            "members": {
                "ECR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ECR"
                    }
                }
            }
        },
        "com.amazonaws.imagebuilder#ContainerType": {
            "type": "enum",
            "members": {
                "DOCKER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DOCKER"
                    }
                }
            }
        },
        "com.amazonaws.imagebuilder#CreateComponent": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.imagebuilder#CreateComponentRequest"
            },
            "output": {
                "target": "com.amazonaws.imagebuilder#CreateComponentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ClientException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#DryRunOperationException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidParameterCombinationException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidVersionNumberException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new component that can be used to build, validate, test, and assess your\n\t\t\timage. The component is based on a YAML document that you specify using exactly one of\n\t\t\tthe following methods:</p>\n         <ul>\n            <li>\n               <p>Inline, using the <code>data</code> property in the request body.</p>\n            </li>\n            <li>\n               <p>A URL that points to a YAML document file stored in Amazon S3, using the\n\t\t\t\t\t\t<code>uri</code> property in the request body.</p>\n            </li>\n         </ul>\n         <p>Image Builder determines the component type from the document. If the document\n\t\t\tcontains a single phase named <code>test</code>, the component type is\n\t\t\t<code>TEST</code>. Otherwise, the component type is <code>BUILD</code>.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create a component from a document stored in Amazon S3",
                        "documentation": "The following example creates a component from a YAML definition document that's stored in an Amazon S3 bucket. The definition document for this component includes an AppVersion parameter that recipes can set when they include the component.",
                        "input": {
                            "name": "my-example-parameterized-component",
                            "semanticVersion": "1.0.0",
                            "description": "Installs a configurable version of my application",
                            "platform": "Linux",
                            "uri": "s3://amzn-s3-demo-bucket/components/install-my-app.yaml",
                            "clientToken": "a1b2c3d4-5678-90ab-cdef-EXAMPLE10101"
                        },
                        "output": {
                            "requestId": "0cec8e32-a5c6-4aeb-ac3a-6471c8a2a8a9",
                            "clientToken": "a1b2c3d4-5678-90ab-cdef-EXAMPLE10101",
                            "componentBuildVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:component/my-example-parameterized-component/1.0.0/1",
                            "latestVersionReferences": {
                                "latestVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:component/my-example-parameterized-component/x.x.x",
                                "latestMajorVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:component/my-example-parameterized-component/1.x.x",
                                "latestMinorVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:component/my-example-parameterized-component/1.0.x",
                                "latestPatchVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:component/my-example-parameterized-component/1.0.0"
                            }
                        }
                    },
                    {
                        "title": "Create a component from an inline document",
                        "documentation": "The following example creates a build component from a YAML document provided inline in the request.",
                        "input": {
                            "name": "my-example-component",
                            "semanticVersion": "1.0.0",
                            "description": "Installs the latest version of my application",
                            "platform": "Linux",
                            "data": "name: InstallMyApp\ndescription: Installs my application\nschemaVersion: 1.0\nphases:\n  - name: build\n    steps:\n      - name: InstallApp\n        action: ExecuteBash\n        inputs:\n          commands:\n            - sudo yum -y install my-app\n",
                            "clientToken": "a1b2c3d4-5678-90ab-cdef-EXAMPLE11111"
                        },
                        "output": {
                            "requestId": "e769f240-fb6a-4253-88d1-20a80cbe787d",
                            "clientToken": "a1b2c3d4-5678-90ab-cdef-EXAMPLE11111",
                            "componentBuildVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:component/my-example-component/1.0.0/1",
                            "latestVersionReferences": {
                                "latestVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:component/my-example-component/x.x.x",
                                "latestMajorVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:component/my-example-component/1.x.x",
                                "latestMinorVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:component/my-example-component/1.0.x",
                                "latestPatchVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:component/my-example-component/1.0.0"
                            }
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/CreateComponent",
                    "code": 200
                }
            }
        },
        "com.amazonaws.imagebuilder#CreateComponentRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the component. Image Builder generates the component ARN from a\n\t\t\tnormalized form of the name, so names that differ only in case, spaces, or\n\t\t\tunderscores count as the same name. If a component with the same name and\n\t\t\tsemantic version already exists in your account in the same Amazon Web Services Region,\n\t\t\tthe request creates a new build version for it. If the content is also\n\t\t\tidentical to the latest build version, the request fails because the\n\t\t\tcomponent already exists.</p>",
                        "smithy.api#required": {}
                    }
                },
                "semanticVersion": {
                    "target": "com.amazonaws.imagebuilder#VersionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The semantic version of the component. This version follows the semantic version\n\t\t\tsyntax.</p>\n         <note>\n            <p>The semantic version has four nodes: <major>.<minor>.<patch>/<build>. \n\tYou can assign values for the first three, and can filter on all of them.</p>\n            <p>\n               <b>Assignment:</b> For the first three nodes, you can assign any positive integer value, including \n\tzero. The upper limit is 2^30-1, or 1073741823, for each node. Image Builder automatically assigns the \n\tbuild number to the fourth node.</p>\n            <p>\n               <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for \n\tthe nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or \n\ta date, such as 2021.01.01.</p>\n         </note>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the contents of the component.</p>"
                    }
                },
                "changeDescription": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The change description of the component. Describes what change has been made in this\n\t\t\tversion, or what makes this version different from other versions of the\n\t\t\tcomponent.</p>"
                    }
                },
                "platform": {
                    "target": "com.amazonaws.imagebuilder#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system platform of the component.</p>",
                        "smithy.api#required": {}
                    }
                },
                "supportedOsVersions": {
                    "target": "com.amazonaws.imagebuilder#OsVersionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system (OS) version supported by the component. If the OS information is\n\t\t\tavailable, a prefix match is performed against the base image OS version during image\n\t\t\trecipe creation.</p>"
                    }
                },
                "data": {
                    "target": "com.amazonaws.imagebuilder#InlineComponentData",
                    "traits": {
                        "smithy.api#documentation": "<p>Component <code>data</code> contains inline YAML document content for the component.\n\t\t\tAlternatively, you can specify the <code>uri</code> of a YAML document file stored in\n\t\t\tAmazon S3. However, you cannot specify both properties.</p>"
                    }
                },
                "uri": {
                    "target": "com.amazonaws.imagebuilder#Uri",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>uri</code> of a YAML component document file. This must be an S3 URL\n\t\t\t\t(<code>s3://bucket/key</code>), and you must have permission to access the\n\t\t\tS3 bucket it points to. If you use Amazon S3, you can specify component content up to your\n\t\t\tservice quota for component size, which is 64 KB by default.</p>\n         <p>Alternatively, you can specify the YAML document inline, using the component\n\t\t\t\t<code>data</code> property. You cannot specify both properties.</p>"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the KMS key used to encrypt this component.\n\t\t\tThis can be either the Key ARN or the Alias ARN. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#key-id-key-ARN\">Key identifiers (KeyId)</a> \n\t\t\tin the <i>Key Management Service Developer Guide</i>. If you don't specify a key, Image Builder encrypts the\n\t\t\tcomponent data with a KMS key that Image Builder owns.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.imagebuilder#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags that apply to the component.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier you provide to ensure\n       that the operation runs no more than one time. If you retry a request with the same client\n\t   token, Image Builder returns the original response without running the operation again. For more\n\t   information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>\n       in the <i>Amazon EC2 API Reference</i>.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "dryRun": {
                    "target": "com.amazonaws.imagebuilder#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Validates the required permissions and request parameters without performing the operation. If validation succeeds, the operation returns a <code>DryRunOperationException</code> error response.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.imagebuilder#CreateComponentResponse": {
            "type": "structure",
            "members": {
                "requestId": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.imagebuilder#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The client token that uniquely identifies the request.</p>"
                    }
                },
                "componentBuildVersionArn": {
                    "target": "com.amazonaws.imagebuilder#ComponentBuildVersionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component that the request created.</p>"
                    }
                },
                "latestVersionReferences": {
                    "target": "com.amazonaws.imagebuilder#LatestVersionReferences",
                    "traits": {
                        "smithy.api#documentation": "<p>A set of wildcard version ARNs that always reference the latest\n\t\t\tversion of the resource. ARNs are included for the latest version overall, and for the latest\n\t\t\tversions within the same major, minor, and patch levels.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.imagebuilder#CreateContainerRecipe": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.imagebuilder#CreateContainerRecipeRequest"
            },
            "output": {
                "target": "com.amazonaws.imagebuilder#CreateContainerRecipeResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ClientException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#DryRunOperationException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#InvalidVersionNumberException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceAlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new container recipe. Container recipes define how images are configured,\n\t\t\ttested, and assessed.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create a container recipe with a custom build instance configuration",
                        "documentation": "The following example creates a container recipe that customizes the Amazon EC2 instance that builds the container image. The build instance launches from an Amazon ECS-optimized instance image and uses a 40 GiB gp3 volume.",
                        "input": {
                            "containerType": "DOCKER",
                            "name": "my-example-container-recipe",
                            "semanticVersion": "1.1.0",
                            "description": "A container recipe that builds on an ECS-optimized instance image with a larger build volume",
                            "parentImage": "amazonlinux:latest",
                            "components": [
                                {
                                    "componentArn": "arn:aws:imagebuilder:us-west-2:111122223333:component/my-example-container-component/1.0.0/1"
                                }
                            ],
                            "instanceConfiguration": {
                                "image": "ami-1234567890abcdef0",
                                "blockDeviceMappings": [
                                    {
                                        "deviceName": "/dev/xvda",
                                        "ebs": {
                                            "volumeSize": 40,
                                            "volumeType": "gp3",
                                            "deleteOnTermination": true
                                        }
                                    }
                                ]
                            },
                            "dockerfileTemplateData": "FROM {{{ imagebuilder:parentImage }}}\n{{{ imagebuilder:environments }}}\n{{{ imagebuilder:components }}}\n",
                            "targetRepository": {
                                "service": "ECR",
                                "repositoryName": "my-example-container-repo"
                            },
                            "clientToken": "a1b2c3d4-5678-90ab-cdef-EXAMPLE40404"
                        },
                        "output": {
                            "requestId": "4b6fc7f3-5b6b-4086-858e-22d4c7f9a37f",
                            "clientToken": "a1b2c3d4-5678-90ab-cdef-EXAMPLE40404",
                            "containerRecipeArn": "arn:aws:imagebuilder:us-west-2:111122223333:container-recipe/my-example-container-recipe/1.1.0",
                            "latestVersionReferences": {
                                "latestVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:container-recipe/my-example-container-recipe/x.x.x",
                                "latestMajorVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:container-recipe/my-example-container-recipe/1.x.x",
                                "latestMinorVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:container-recipe/my-example-container-recipe/1.1.x",
                                "latestPatchVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:container-recipe/my-example-container-recipe/1.1.0"
                            }
                        }
                    },
                    {
                        "title": "Create a container recipe with an inline Dockerfile template",
                        "documentation": "The following example creates a Docker container recipe that applies one build component, using the latest Amazon Linux container image as the parent and an existing ECR repository as the target.",
                        "input": {
                            "containerType": "DOCKER",
                            "name": "my-example-container-recipe",
                            "semanticVersion": "1.0.0",
                            "parentImage": "amazonlinux:latest",
                            "components": [
                                {
                                    "componentArn": "arn:aws:imagebuilder:us-west-2:111122223333:component/my-example-container-component/1.0.0/1"
                                }
                            ],
                            "dockerfileTemplateData": "FROM {{{ imagebuilder:parentImage }}}\n{{{ imagebuilder:environments }}}\n{{{ imagebuilder:components }}}\n",
                            "targetRepository": {
                                "service": "ECR",
                                "repositoryName": "my-example-container-repo"
                            },
                            "clientToken": "a1b2c3d4-5678-90ab-cdef-EXAMPLE99999"
                        },
                        "output": {
                            "requestId": "20b16948-45a4-4b3a-9a17-d54779847365",
                            "clientToken": "a1b2c3d4-5678-90ab-cdef-EXAMPLE99999",
                            "containerRecipeArn": "arn:aws:imagebuilder:us-west-2:111122223333:container-recipe/my-example-container-recipe/1.0.0",
                            "latestVersionReferences": {
                                "latestVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:container-recipe/my-example-container-recipe/x.x.x",
                                "latestMajorVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:container-recipe/my-example-container-recipe/1.x.x",
                                "latestMinorVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:container-recipe/my-example-container-recipe/1.0.x",
                                "latestPatchVersionArn": "arn:aws:imagebuilder:us-west-2:111122223333:container-recipe/my-example-container-recipe/1.0.0"
                            }
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/CreateContainerRecipe",
                    "code": 200
                }
            }
        },
        "com.amazonaws.imagebuilder#CreateContainerRecipeRequest": {
            "type": "structure",
            "members": {
                "containerType": {
                    "target": "com.amazonaws.imagebuilder#ContainerType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of container to create.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.imagebuilder#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the container recipe. The recipe name, combined with the\n\t\t\tsemantic version, must be unique to your account in each Amazon Web Services Region.\n\t\t\tImage Builder generates the container recipe ARN from a normalized form of the\n\t\t\tname, so names that differ only in case, spaces, or underscores count as\n\t\t\tthe same name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.imagebuilder#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the container recipe.</p>"
                    }
                },
                "semanticVersion": {
                    "target": "com.amazonaws.imagebuilder#WildcardVersionNumber",
                    "traits": {
[...]
