{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.inspector2#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>\n         <p>\n         For <code>Enable</code>, you receive this error if you attempt to use a feature in an unsupported Amazon Web Services Region.\n      </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.inspector2#Account": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.inspector2#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Amazon Web Services account.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.inspector2#Status",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of Amazon Inspector for the account.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceStatus": {
                    "target": "com.amazonaws.inspector2#ResourceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Details of the status of Amazon Inspector scans by resource type.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An Amazon Web Services account within your environment that Amazon Inspector has been enabled for.</p>"
            }
        },
        "com.amazonaws.inspector2#AccountAggregation": {
            "type": "structure",
            "members": {
                "findingType": {
                    "target": "com.amazonaws.inspector2#AggregationFindingType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of finding.</p>"
                    }
                },
                "resourceType": {
                    "target": "com.amazonaws.inspector2#AggregationResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of resource.</p>"
                    }
                },
                "sortOrder": {
                    "target": "com.amazonaws.inspector2#SortOrder",
                    "traits": {
                        "smithy.api#documentation": "<p>The sort order (ascending or descending).</p>"
                    }
                },
                "sortBy": {
                    "target": "com.amazonaws.inspector2#AccountSortBy",
                    "traits": {
                        "smithy.api#documentation": "<p>The value to sort by.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on\n         Amazon Web Services accounts.</p>"
            }
        },
        "com.amazonaws.inspector2#AccountAggregationResponse": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.inspector2#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID.</p>"
                    }
                },
                "severityCounts": {
                    "target": "com.amazonaws.inspector2#SeverityCounts",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of findings by severity.</p>"
                    }
                },
                "exploitAvailableCount": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>\n         The number of findings that have an exploit available.\n      </p>"
                    }
                },
                "fixAvailableCount": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>\n         Details about the number of fixes.\n      </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An aggregation of findings by Amazon Web Services account ID.</p>"
            }
        },
        "com.amazonaws.inspector2#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "^\\d{12}$"
            }
        },
        "com.amazonaws.inspector2#AccountIdFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#CisStringFilter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.inspector2#AccountIdSet": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#AccountId"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 100
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.inspector2#AccountList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#Account"
            }
        },
        "com.amazonaws.inspector2#AccountSortBy": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "CRITICAL",
                        "name": "CRITICAL"
                    },
                    {
                        "value": "HIGH",
                        "name": "HIGH"
                    },
                    {
                        "value": "ALL",
                        "name": "ALL"
                    }
                ]
            }
        },
        "com.amazonaws.inspector2#AccountState": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.inspector2#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "state": {
                    "target": "com.amazonaws.inspector2#State",
                    "traits": {
                        "smithy.api#documentation": "<p>An object detailing the status of Amazon Inspector for the account.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceState": {
                    "target": "com.amazonaws.inspector2#ResourceState",
                    "traits": {
                        "smithy.api#documentation": "<p>An object detailing which resources Amazon Inspector is enabled to scan for the account.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object with details the status of an Amazon Web Services account within your Amazon Inspector environment.</p>"
            }
        },
        "com.amazonaws.inspector2#AccountStateList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#AccountState"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 100
                }
            }
        },
        "com.amazonaws.inspector2#AggCounts": {
            "type": "long",
            "traits": {
                "smithy.api#default": 0
            }
        },
        "com.amazonaws.inspector2#AggregationFindingType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "NETWORK_REACHABILITY",
                        "name": "NETWORK_REACHABILITY"
                    },
                    {
                        "value": "PACKAGE_VULNERABILITY",
                        "name": "PACKAGE_VULNERABILITY"
                    },
                    {
                        "value": "CODE_VULNERABILITY",
                        "name": "CODE_VULNERABILITY"
                    }
                ]
            }
        },
        "com.amazonaws.inspector2#AggregationRequest": {
            "type": "union",
            "members": {
                "accountAggregation": {
                    "target": "com.amazonaws.inspector2#AccountAggregation",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on Amazon Web Services account\n         IDs.</p>"
                    }
                },
                "amiAggregation": {
                    "target": "com.amazonaws.inspector2#AmiAggregation",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on Amazon Machine\n         Images (AMIs).</p>"
                    }
                },
                "awsEcrContainerAggregation": {
                    "target": "com.amazonaws.inspector2#AwsEcrContainerAggregation",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on Amazon ECR container\n         images.</p>"
                    }
                },
                "ec2InstanceAggregation": {
                    "target": "com.amazonaws.inspector2#Ec2InstanceAggregation",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on Amazon EC2\n         instances.</p>"
                    }
                },
                "findingTypeAggregation": {
                    "target": "com.amazonaws.inspector2#FindingTypeAggregation",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on finding types.</p>"
                    }
                },
                "imageLayerAggregation": {
                    "target": "com.amazonaws.inspector2#ImageLayerAggregation",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on container image\n         layers.</p>"
                    }
                },
                "packageAggregation": {
                    "target": "com.amazonaws.inspector2#PackageAggregation",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on operating system\n         package type.</p>"
                    }
                },
                "repositoryAggregation": {
                    "target": "com.amazonaws.inspector2#RepositoryAggregation",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on Amazon ECR repositories.</p>"
                    }
                },
                "titleAggregation": {
                    "target": "com.amazonaws.inspector2#TitleAggregation",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on finding title.</p>"
                    }
                },
                "lambdaLayerAggregation": {
                    "target": "com.amazonaws.inspector2#LambdaLayerAggregation",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns an object with findings aggregated by Amazon Web Services Lambda layer.</p>"
                    }
                },
                "lambdaFunctionAggregation": {
                    "target": "com.amazonaws.inspector2#LambdaFunctionAggregation",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns an object with findings aggregated by Amazon Web Services Lambda function.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details about an aggregation request.</p>"
            }
        },
        "com.amazonaws.inspector2#AggregationResourceType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "AWS_EC2_INSTANCE",
                        "name": "AWS_EC2_INSTANCE"
                    },
                    {
                        "value": "AWS_ECR_CONTAINER_IMAGE",
                        "name": "AWS_ECR_CONTAINER_IMAGE"
                    },
                    {
                        "value": "AWS_LAMBDA_FUNCTION",
                        "name": "AWS_LAMBDA_FUNCTION"
                    }
                ]
            }
        },
        "com.amazonaws.inspector2#AggregationResponse": {
            "type": "union",
            "members": {
                "accountAggregation": {
                    "target": "com.amazonaws.inspector2#AccountAggregationResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on Amazon Web Services account\n         IDs.</p>"
                    }
                },
                "amiAggregation": {
                    "target": "com.amazonaws.inspector2#AmiAggregationResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on Amazon Machine\n         Images (AMIs).</p>"
                    }
                },
                "awsEcrContainerAggregation": {
                    "target": "com.amazonaws.inspector2#AwsEcrContainerAggregationResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on Amazon ECR container\n         images.</p>"
                    }
                },
                "ec2InstanceAggregation": {
                    "target": "com.amazonaws.inspector2#Ec2InstanceAggregationResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on Amazon EC2\n         instances.</p>"
                    }
                },
                "findingTypeAggregation": {
                    "target": "com.amazonaws.inspector2#FindingTypeAggregationResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on finding types.</p>"
                    }
                },
                "imageLayerAggregation": {
                    "target": "com.amazonaws.inspector2#ImageLayerAggregationResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on container image\n         layers.</p>"
                    }
                },
                "packageAggregation": {
                    "target": "com.amazonaws.inspector2#PackageAggregationResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on operating system\n         package type.</p>"
                    }
                },
                "repositoryAggregation": {
                    "target": "com.amazonaws.inspector2#RepositoryAggregationResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on Amazon ECR\n         repositories.</p>"
                    }
                },
                "titleAggregation": {
                    "target": "com.amazonaws.inspector2#TitleAggregationResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on finding title.</p>"
                    }
                },
                "lambdaLayerAggregation": {
                    "target": "com.amazonaws.inspector2#LambdaLayerAggregationResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>An aggregation of findings by Amazon Web Services Lambda layer.</p>"
                    }
                },
                "lambdaFunctionAggregation": {
                    "target": "com.amazonaws.inspector2#LambdaFunctionAggregationResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>An aggregation of findings by Amazon Web Services Lambda function.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains details about the results of an aggregation type.</p>"
            }
        },
        "com.amazonaws.inspector2#AggregationResponseList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#AggregationResponse"
            }
        },
        "com.amazonaws.inspector2#AggregationType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "FINDING_TYPE",
                        "name": "FINDING_TYPE"
                    },
                    {
                        "value": "PACKAGE",
                        "name": "PACKAGE"
                    },
                    {
                        "value": "TITLE",
                        "name": "TITLE"
                    },
                    {
                        "value": "REPOSITORY",
                        "name": "REPOSITORY"
                    },
                    {
                        "value": "AMI",
                        "name": "AMI"
                    },
                    {
                        "value": "AWS_EC2_INSTANCE",
                        "name": "AWS_EC2_INSTANCE"
                    },
                    {
                        "value": "AWS_ECR_CONTAINER",
                        "name": "AWS_ECR_CONTAINER"
                    },
                    {
                        "value": "IMAGE_LAYER",
                        "name": "IMAGE_LAYER"
                    },
                    {
                        "value": "ACCOUNT",
                        "name": "ACCOUNT"
                    },
                    {
                        "value": "AWS_LAMBDA_FUNCTION",
                        "name": "AWS_LAMBDA_FUNCTION"
                    },
                    {
                        "value": "LAMBDA_LAYER",
                        "name": "LAMBDA_LAYER"
                    }
                ]
            }
        },
        "com.amazonaws.inspector2#AmiAggregation": {
            "type": "structure",
            "members": {
                "amis": {
                    "target": "com.amazonaws.inspector2#StringFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The IDs of AMIs to aggregate findings for.</p>"
                    }
                },
                "sortOrder": {
                    "target": "com.amazonaws.inspector2#SortOrder",
                    "traits": {
                        "smithy.api#documentation": "<p>The order to sort results by.</p>"
                    }
                },
                "sortBy": {
                    "target": "com.amazonaws.inspector2#AmiSortBy",
                    "traits": {
                        "smithy.api#documentation": "<p>The value to sort results by.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The details that define an aggregation based on Amazon machine images (AMIs).</p>"
            }
        },
        "com.amazonaws.inspector2#AmiAggregationResponse": {
            "type": "structure",
            "members": {
                "ami": {
                    "target": "com.amazonaws.inspector2#AmiId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the AMI that findings were aggregated for.</p>",
                        "smithy.api#required": {}
                    }
                },
                "accountId": {
                    "target": "com.amazonaws.inspector2#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID for the AMI.</p>"
                    }
                },
                "severityCounts": {
                    "target": "com.amazonaws.inspector2#SeverityCounts",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains the count of matched findings per severity.</p>"
                    }
                },
                "affectedInstances": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The IDs of Amazon EC2 instances using this AMI.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A response that contains the results of a finding aggregation by AMI.</p>"
            }
        },
        "com.amazonaws.inspector2#AmiId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^ami-([a-z0-9]{8}|[a-z0-9]{17}|\\*)$"
            }
        },
        "com.amazonaws.inspector2#AmiSortBy": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "CRITICAL",
                        "name": "CRITICAL"
                    },
                    {
                        "value": "HIGH",
                        "name": "HIGH"
                    },
                    {
                        "value": "ALL",
                        "name": "ALL"
                    },
                    {
                        "value": "AFFECTED_INSTANCES",
                        "name": "AFFECTED_INSTANCES"
                    }
                ]
            }
        },
        "com.amazonaws.inspector2#Architecture": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "X86_64",
                        "name": "X86_64"
                    },
                    {
                        "value": "ARM64",
                        "name": "ARM64"
                    }
                ]
            }
        },
        "com.amazonaws.inspector2#ArchitectureList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#Architecture"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1
                }
            }
        },
        "com.amazonaws.inspector2#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1011
                }
            }
        },
        "com.amazonaws.inspector2#AssociateMember": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.inspector2#AssociateMemberRequest"
            },
            "output": {
                "target": "com.amazonaws.inspector2#AssociateMemberResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.inspector2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.inspector2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.inspector2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.inspector2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates an Amazon Web Services account with an Amazon Inspector delegated administrator.   An HTTP 200 response indicates the association was successfully started, but doesn’t indicate whether it was completed. You can check if the association completed by using <a href=\"https://docs.aws.amazon.com/inspector/v2/APIReference/API_ListMembers.html\">ListMembers</a> for multiple accounts or <a href=\"https://docs.aws.amazon.com/inspector/v2/APIReference/API_GetMember.html\">GetMembers</a> for a single account.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/members/associate"
                }
            }
        },
        "com.amazonaws.inspector2#AssociateMemberRequest": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.inspector2#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID of the member account to be associated.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.inspector2#AssociateMemberResponse": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.inspector2#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID of the successfully associated member account.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.inspector2#AtigData": {
            "type": "structure",
            "members": {
                "firstSeen": {
                    "target": "com.amazonaws.inspector2#FirstSeen",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time this vulnerability was first observed.</p>"
                    }
                },
                "lastSeen": {
                    "target": "com.amazonaws.inspector2#LastSeen",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time this vulnerability was last observed.</p>"
                    }
                },
                "targets": {
                    "target": "com.amazonaws.inspector2#Targets",
                    "traits": {
                        "smithy.api#documentation": "<p>The commercial sectors this vulnerability targets.</p>"
                    }
                },
                "ttps": {
                    "target": "com.amazonaws.inspector2#Ttps",
                    "traits": {
                        "smithy.api#documentation": "<p>The <a href=\"https://attack.mitre.org/\">MITRE ATT&amp;CK</a> tactics, techniques, and procedures (TTPs) associated with vulnerability.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Amazon Web Services Threat Intel Group (ATIG) details for a specific vulnerability.</p>"
            }
        },
        "com.amazonaws.inspector2#AutoEnable": {
            "type": "structure",
            "members": {
                "ec2": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Represents whether Amazon EC2 scans are automatically enabled for new members of your Amazon Inspector\n         organization.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ecr": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Represents whether Amazon ECR scans are automatically enabled for new members of your Amazon Inspector\n         organization.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lambda": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Represents whether Amazon Web Services Lambda standard scans are automatically enabled for new members of your Amazon Inspector organization.\n      </p>"
                    }
                },
                "lambdaCode": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Represents whether Lambda code scans are automatically enabled for new members of your Amazon Inspector organization.\n         \n      </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents which scan types are automatically enabled for new members of your Amazon Inspector organization.</p>"
            }
        },
        "com.amazonaws.inspector2#AwsEc2InstanceDetails": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.inspector2#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the Amazon EC2 instance.</p>"
                    }
                },
                "imageId": {
                    "target": "com.amazonaws.inspector2#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The image ID of the Amazon EC2 instance.</p>"
                    }
                },
                "ipV4Addresses": {
                    "target": "com.amazonaws.inspector2#IpV4AddressList",
                    "traits": {
                        "smithy.api#documentation": "<p>The IPv4 addresses of the Amazon EC2 instance.</p>"
                    }
                },
                "ipV6Addresses": {
                    "target": "com.amazonaws.inspector2#IpV6AddressList",
                    "traits": {
                        "smithy.api#documentation": "<p>The IPv6 addresses of the Amazon EC2 instance.</p>"
                    }
                },
                "keyName": {
                    "target": "com.amazonaws.inspector2#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the key pair used to launch the Amazon EC2 instance.</p>"
                    }
                },
                "iamInstanceProfileArn": {
                    "target": "com.amazonaws.inspector2#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The IAM instance profile ARN of the Amazon EC2 instance.</p>"
                    }
                },
                "vpcId": {
                    "target": "com.amazonaws.inspector2#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The VPC ID of the Amazon EC2 instance.</p>"
                    }
                },
                "subnetId": {
                    "target": "com.amazonaws.inspector2#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The subnet ID of the Amazon EC2 instance.</p>"
                    }
                },
                "launchedAt": {
                    "target": "com.amazonaws.inspector2#DateTimeTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the Amazon EC2 instance was launched at.</p>"
                    }
                },
                "platform": {
                    "target": "com.amazonaws.inspector2#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>The platform of the Amazon EC2 instance.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details of the Amazon EC2 instance involved in a finding.</p>"
            }
        },
        "com.amazonaws.inspector2#AwsEcrContainerAggregation": {
            "type": "structure",
            "members": {
                "resourceIds": {
                    "target": "com.amazonaws.inspector2#StringFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The container resource IDs.</p>"
                    }
                },
                "imageShas": {
                    "target": "com.amazonaws.inspector2#StringFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The image SHA values.</p>"
                    }
                },
                "repositories": {
                    "target": "com.amazonaws.inspector2#StringFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The container repositories.</p>"
                    }
                },
                "architectures": {
                    "target": "com.amazonaws.inspector2#StringFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The architecture of the containers.</p>"
                    }
                },
                "imageTags": {
                    "target": "com.amazonaws.inspector2#StringFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The image tags.</p>"
                    }
                },
                "sortOrder": {
                    "target": "com.amazonaws.inspector2#SortOrder",
                    "traits": {
                        "smithy.api#documentation": "<p>The sort order (ascending or descending).</p>"
                    }
                },
                "sortBy": {
                    "target": "com.amazonaws.inspector2#AwsEcrContainerSortBy",
                    "traits": {
                        "smithy.api#documentation": "<p>The value to sort by.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An aggregation of information about Amazon ECR containers.</p>"
            }
        },
        "com.amazonaws.inspector2#AwsEcrContainerAggregationResponse": {
            "type": "structure",
            "members": {
                "resourceId": {
                    "target": "com.amazonaws.inspector2#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource ID of the container.</p>",
                        "smithy.api#required": {}
                    }
                },
                "imageSha": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The SHA value of the container image.</p>"
                    }
                },
                "repository": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The container repository.</p>"
                    }
                },
                "architecture": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The architecture of the container.</p>"
                    }
                },
                "imageTags": {
                    "target": "com.amazonaws.inspector2#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The container image stags.</p>"
                    }
                },
                "accountId": {
                    "target": "com.amazonaws.inspector2#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID of the account that owns the container.</p>"
                    }
                },
                "severityCounts": {
                    "target": "com.amazonaws.inspector2#SeverityCounts",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of finding by severity.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An aggregation of information about Amazon ECR containers.</p>"
            }
        },
        "com.amazonaws.inspector2#AwsEcrContainerImageDetails": {
            "type": "structure",
            "members": {
                "repositoryName": {
                    "target": "com.amazonaws.inspector2#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the repository the Amazon ECR container image resides in.</p>",
                        "smithy.api#required": {}
                    }
                },
                "imageTags": {
                    "target": "com.amazonaws.inspector2#ImageTagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The image tags attached to the Amazon ECR container image.</p>"
                    }
                },
                "pushedAt": {
                    "target": "com.amazonaws.inspector2#DateTimeTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the Amazon ECR container image was pushed.</p>"
                    }
                },
                "author": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The image author of the Amazon ECR container image.</p>"
                    }
                },
                "architecture": {
                    "target": "com.amazonaws.inspector2#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The architecture of the Amazon ECR container image.</p>"
                    }
                },
                "imageHash": {
                    "target": "com.amazonaws.inspector2#ImageHash",
                    "traits": {
                        "smithy.api#documentation": "<p>The image hash of the Amazon ECR container image.</p>",
                        "smithy.api#required": {}
                    }
                },
                "registry": {
                    "target": "com.amazonaws.inspector2#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The registry for the Amazon ECR container image.</p>",
                        "smithy.api#required": {}
                    }
                },
                "platform": {
                    "target": "com.amazonaws.inspector2#Platform",
                    "traits": {
                        "smithy.api#documentation": "<p>The platform of the Amazon ECR container image.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The image details of the Amazon ECR container image.</p>"
            }
        },
        "com.amazonaws.inspector2#AwsEcrContainerSortBy": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "CRITICAL",
                        "name": "CRITICAL"
                    },
                    {
                        "value": "HIGH",
                        "name": "HIGH"
                    },
                    {
                        "value": "ALL",
                        "name": "ALL"
                    }
                ]
            }
        },
        "com.amazonaws.inspector2#AwsLambdaFunctionDetails": {
            "type": "structure",
            "members": {
                "functionName": {
                    "target": "com.amazonaws.inspector2#FunctionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon Web Services Lambda function.</p>",
                        "smithy.api#required": {}
                    }
                },
                "runtime": {
                    "target": "com.amazonaws.inspector2#Runtime",
                    "traits": {
                        "smithy.api#documentation": "<p>The runtime environment for the Amazon Web Services Lambda function.</p>",
                        "smithy.api#required": {}
                    }
                },
                "codeSha256": {
                    "target": "com.amazonaws.inspector2#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The SHA256 hash of the Amazon Web Services Lambda function's deployment package.</p>",
                        "smithy.api#required": {}
                    }
                },
                "version": {
                    "target": "com.amazonaws.inspector2#Version",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the Amazon Web Services Lambda function.</p>",
                        "smithy.api#required": {}
                    }
                },
                "executionRoleArn": {
                    "target": "com.amazonaws.inspector2#ExecutionRoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Lambda function's execution role.</p>",
                        "smithy.api#required": {}
                    }
                },
                "layers": {
                    "target": "com.amazonaws.inspector2#LayerList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Lambda function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">\n         layers</a>. A Lambda function can have up to five layers.</p>"
                    }
                },
                "vpcConfig": {
                    "target": "com.amazonaws.inspector2#LambdaVpcConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Lambda function's networking configuration.</p>"
                    }
                },
                "packageType": {
                    "target": "com.amazonaws.inspector2#PackageType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of deployment package. Set to <code>Image</code> for container image and set <code>Zip</code> for .zip file archive.</p>"
                    }
                },
                "architectures": {
                    "target": "com.amazonaws.inspector2#ArchitectureList",
                    "traits": {
                        "smithy.api#documentation": "<p>The instruction set architecture that the Amazon Web Services Lambda function supports. Architecture is a string array with one of the \n         valid values. The default architecture value is <code>x86_64</code>.</p>"
                    }
                },
                "lastModifiedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that a user last updated the configuration, in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601 format</a>\n         </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> A summary of information about the Amazon Web Services Lambda function.</p>"
            }
        },
        "com.amazonaws.inspector2#BadRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>One or more tags submitted as part of the request is not valid.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.inspector2#BatchGetAccountStatus": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.inspector2#BatchGetAccountStatusRequest"
            },
            "output": {
                "target": "com.amazonaws.inspector2#BatchGetAccountStatusResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.inspector2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.inspector2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.inspector2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.inspector2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.inspector2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the Amazon Inspector status of multiple Amazon Web Services accounts within your environment.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/status/batch/get"
                }
            }
        },
        "com.amazonaws.inspector2#BatchGetAccountStatusRequest": {
            "type": "structure",
            "members": {
                "accountIds": {
                    "target": "com.amazonaws.inspector2#AccountIdSet",
                    "traits": {
                        "smithy.api#documentation": "<p>The 12-digit Amazon Web Services account IDs of the accounts to retrieve Amazon Inspector status for.</p>"
                    }
                }
            }
        },
        "com.amazonaws.inspector2#BatchGetAccountStatusResponse": {
            "type": "structure",
            "members": {
                "accounts": {
                    "target": "com.amazonaws.inspector2#AccountStateList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that provide details on the status of Amazon Inspector for each of the requested accounts.</p>",
                        "smithy.api#required": {}
                    }
                },
                "failedAccounts": {
                    "target": "com.amazonaws.inspector2#FailedAccountList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects detailing any accounts that failed to enable Amazon Inspector and why.</p>"
                    }
                }
            }
        },
        "com.amazonaws.inspector2#BatchGetCodeSnippet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.inspector2#BatchGetCodeSnippetRequest"
            },
            "output": {
                "target": "com.amazonaws.inspector2#BatchGetCodeSnippetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.inspector2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.inspector2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.inspector2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.inspector2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves code snippets from findings that Amazon Inspector detected code vulnerabilities in.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/codesnippet/batchget"
                }
            }
        },
        "com.amazonaws.inspector2#BatchGetCodeSnippetRequest": {
            "type": "structure",
            "members": {
                "findingArns": {
                    "target": "com.amazonaws.inspector2#FindingArns",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of finding ARNs for the findings you want to retrieve code snippets from.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 10
                        },
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.inspector2#BatchGetCodeSnippetResponse": {
            "type": "structure",
            "members": {
                "codeSnippetResults": {
                    "target": "com.amazonaws.inspector2#CodeSnippetResultList",
                    "traits": {
                        "smithy.api#documentation": "<p>The retrieved code snippets associated with the provided finding ARNs.</p>"
                    }
                },
                "errors": {
                    "target": "com.amazonaws.inspector2#CodeSnippetErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>Any errors Amazon Inspector encountered while trying to retrieve the requested code snippets.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.inspector2#BatchGetFindingDetails": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.inspector2#BatchGetFindingDetailsRequest"
            },
            "output": {
                "target": "com.amazonaws.inspector2#BatchGetFindingDetailsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.inspector2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.inspector2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.inspector2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.inspector2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Gets vulnerability details for findings.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Sample BatchGetFindingDetails Call",
                        "input": {
                            "findingArns": [
                                "arn:aws:inspector2:eu-west-1:123456789012:finding/78b88cc9aa1d78b6e14fde90d774dde7",
                                "arn:aws:inspector2:eu-west-1:111111111111:finding/78b88cc9aa1d78b6e14fde90d874dde7"
                            ]
                        },
                        "output": {
                            "findingDetails": [
                                {
                                    "findingArn": "arn:aws:inspector2:eu-west-1:123456789012:finding/78b88cc9aa1d78b6e14fde90d774dde7",
                                    "cisaData": {
                                        "dateAdded": 1688580990,
                                        "dateDue": 1688580999,
                                        "action": "For all affected software assets for which updates exist, the only acceptable remediation actions are: 1) Apply updates; OR 2) remove affected assets from agency networks."
                                    },
                                    "riskScore": 66,
                                    "evidences": [
                                        {
                                            "evidenceRule": "Historically Linked to Penetration Testing Tools",
                                            "evidenceDetail": "2 sightings on 1 source",
                                            "severity": "Low"
                                        }
                                    ],
                                    "ttps": [
                                        "TA0001",
                                        "TA0002"
                                    ],
                                    "tools": [
                                        "Metasploit"
                                    ],
                                    "exploitObserved": {
                                        "lastSeen": 1688580990,
                                        "firstSeen": 1688580800
                                    },
                                    "referenceUrls": [
                                        "https://nvd.nist.gov/vuln/detail/CVE-2019-20367"
                                    ],
                                    "cwes": [
                                        "cwe-1234"
                                    ],
                                    "epssScore": 0.85
                                }
                            ],
                            "errors": [
                                {
                                    "findingArn": "arn:aws:inspector2:eu-west-1:111111111111:finding/78b88cc9aa1d78b6e14fde90d874dde7",
                                    "errorCode": "ACCESS_DENIED",
                                    "errorMessage": "You don't have permission to access this finding"
                                }
                            ]
                        }
                    }
                ],
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/findings/details/batch/get"
                }
            }
        },
        "com.amazonaws.inspector2#BatchGetFindingDetailsRequest": {
            "type": "structure",
            "members": {
                "findingArns": {
                    "target": "com.amazonaws.inspector2#FindingArnList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of finding ARNs.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.inspector2#BatchGetFindingDetailsResponse": {
            "type": "structure",
            "members": {
                "findingDetails": {
                    "target": "com.amazonaws.inspector2#FindingDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>A finding's vulnerability details.</p>"
                    }
                },
                "errors": {
                    "target": "com.amazonaws.inspector2#FindingDetailsErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>Error information for findings that details could not be returned for.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.inspector2#BatchGetFreeTrialInfo": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.inspector2#BatchGetFreeTrialInfoRequest"
            },
            "output": {
                "target": "com.amazonaws.inspector2#BatchGetFreeTrialInfoResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.inspector2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.inspector2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.inspector2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.inspector2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Gets free trial status for multiple Amazon Web Services accounts.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/freetrialinfo/batchget"
                }
            }
        },
        "com.amazonaws.inspector2#BatchGetFreeTrialInfoRequest": {
            "type": "structure",
            "members": {
                "accountIds": {
                    "target": "com.amazonaws.inspector2#MeteringAccountIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The account IDs to get free trial status for.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 100
                        },
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.inspector2#BatchGetFreeTrialInfoResponse": {
            "type": "structure",
            "members": {
                "accounts": {
                    "target": "com.amazonaws.inspector2#FreeTrialAccountInfoList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that provide Amazon Inspector free trial details for each of the requested accounts.\n      </p>",
                        "smithy.api#required": {}
                    }
                },
                "failedAccounts": {
                    "target": "com.amazonaws.inspector2#FreeTrialInfoErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects detailing any accounts that free trial data could not be returned for.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.inspector2#BatchGetMemberEc2DeepInspectionStatus": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.inspector2#BatchGetMemberEc2DeepInspectionStatusRequest"
            },
            "output": {
                "target": "com.amazonaws.inspector2#BatchGetMemberEc2DeepInspectionStatusResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.inspector2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.inspector2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.inspector2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.inspector2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves Amazon Inspector deep inspection activation status of multiple member accounts within your organization. You must be the delegated administrator of an organization in Amazon Inspector to use this API.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/ec2deepinspectionstatus/member/batch/get"
                }
            }
        },
        "com.amazonaws.inspector2#BatchGetMemberEc2DeepInspectionStatusRequest": {
            "type": "structure",
            "members": {
                "accountIds": {
                    "target": "com.amazonaws.inspector2#AccountIdSet",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifiers for the Amazon Web Services accounts to retrieve Amazon Inspector deep inspection activation status for.\n         \n      </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.inspector2#BatchGetMemberEc2DeepInspectionStatusResponse": {
            "type": "structure",
            "members": {
                "accountIds": {
                    "target": "com.amazonaws.inspector2#MemberAccountEc2DeepInspectionStatusStateList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that provide details on the activation status of Amazon Inspector deep inspection for each of the requested accounts.\n         \n         </p>"
                    }
                },
                "failedAccountIds": {
                    "target": "com.amazonaws.inspector2#FailedMemberAccountEc2DeepInspectionStatusStateList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that provide details on any accounts that failed to activate Amazon Inspector deep inspection and why.\n         \n      </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.inspector2#BatchUpdateMemberEc2DeepInspectionStatus": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.inspector2#BatchUpdateMemberEc2DeepInspectionStatusRequest"
            },
            "output": {
                "target": "com.amazonaws.inspector2#BatchUpdateMemberEc2DeepInspectionStatusResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.inspector2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.inspector2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.inspector2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.inspector2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Activates or deactivates Amazon Inspector deep inspection for the provided member accounts in your organization. You must be the delegated administrator of an organization in Amazon Inspector to use this API.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/ec2deepinspectionstatus/member/batch/update"
                }
            }
        },
        "com.amazonaws.inspector2#BatchUpdateMemberEc2DeepInspectionStatusRequest": {
            "type": "structure",
            "members": {
                "accountIds": {
                    "target": "com.amazonaws.inspector2#MemberAccountEc2DeepInspectionStatusList",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifiers for the Amazon Web Services accounts to change Amazon Inspector deep inspection status for.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.inspector2#BatchUpdateMemberEc2DeepInspectionStatusResponse": {
            "type": "structure",
            "members": {
                "accountIds": {
                    "target": "com.amazonaws.inspector2#MemberAccountEc2DeepInspectionStatusStateList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that provide details for each of the accounts that Amazon Inspector deep inspection status was successfully changed for.       \n      </p>"
                    }
                },
                "failedAccountIds": {
                    "target": "com.amazonaws.inspector2#FailedMemberAccountEc2DeepInspectionStatusStateList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that provide details for each of the accounts that Amazon Inspector deep inspection status could not be successfully changed for.  \n      </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.inspector2#BenchmarkProfile": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 128
                }
            }
        },
        "com.amazonaws.inspector2#BenchmarkVersion": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 8
                }
            }
        },
        "com.amazonaws.inspector2#CancelFindingsReport": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.inspector2#CancelFindingsReportRequest"
            },
            "output": {
                "target": "com.amazonaws.inspector2#CancelFindingsReportResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.inspector2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.inspector2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.inspector2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.inspector2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.inspector2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels the given findings report.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/reporting/cancel"
                }
            }
        },
        "com.amazonaws.inspector2#CancelFindingsReportRequest": {
            "type": "structure",
            "members": {
                "reportId": {
                    "target": "com.amazonaws.inspector2#ReportId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the report to be canceled.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.inspector2#CancelFindingsReportResponse": {
            "type": "structure",
            "members": {
                "reportId": {
                    "target": "com.amazonaws.inspector2#ReportId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the canceled report.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.inspector2#CancelSbomExport": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.inspector2#CancelSbomExportRequest"
            },
            "output": {
                "target": "com.amazonaws.inspector2#CancelSbomExportResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.inspector2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.inspector2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.inspector2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.inspector2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.inspector2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a software bill of materials (SBOM) report.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/sbomexport/cancel"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.inspector2#CancelSbomExportRequest": {
            "type": "structure",
            "members": {
                "reportId": {
                    "target": "com.amazonaws.inspector2#ReportId",
                    "traits": {
                        "smithy.api#documentation": "<p>The report ID of the SBOM export to cancel.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.inspector2#CancelSbomExportResponse": {
            "type": "structure",
            "members": {
                "reportId": {
                    "target": "com.amazonaws.inspector2#ReportId",
                    "traits": {
                        "smithy.api#documentation": "<p>The report ID of the canceled SBOM export.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.inspector2#CheckCount": {
            "type": "integer",
            "traits": {
                "smithy.api#default": 0,
                "smithy.api#range": {
                    "min": 0,
                    "max": 65536
                }
            }
        },
        "com.amazonaws.inspector2#CheckIdFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#CisStringFilter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.inspector2#CisAccountIdList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#AccountId"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10000
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.inspector2#CisCheckAggregation": {
            "type": "structure",
            "members": {
                "scanArn": {
                    "target": "com.amazonaws.inspector2#CisScanArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The scan ARN for the CIS check scan ARN.</p>",
                        "smithy.api#required": {}
                    }
                },
                "checkId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The check ID for the CIS check.</p>"
                    }
                },
                "title": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS check title.</p>"
                    }
                },
                "checkDescription": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The description for the CIS check.</p>"
                    }
                },
                "level": {
                    "target": "com.amazonaws.inspector2#CisSecurityLevel",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS check level.</p>"
                    }
                },
                "accountId": {
                    "target": "com.amazonaws.inspector2#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The account ID for the CIS check.</p>"
                    }
                },
                "statusCounts": {
                    "target": "com.amazonaws.inspector2#StatusCounts",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS check status counts.</p>"
                    }
                },
                "platform": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS check platform.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A CIS check.</p>"
            }
        },
        "com.amazonaws.inspector2#CisCheckAggregationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#CisCheckAggregation"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1000
                }
            }
        },
        "com.amazonaws.inspector2#CisDateFilter": {
            "type": "structure",
            "members": {
                "earliestScanStartTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS date filter's earliest scan start time.</p>"
                    }
                },
                "latestScanStartTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS date filter's latest scan start time.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The CIS date filter.</p>"
            }
        },
        "com.amazonaws.inspector2#CisFindingArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:aws(-gov|-cn)?:inspector2:[-.a-z0-9]{0,20}:\\d{12}:owner/\\d{12}/cis-finding/[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
        },
        "com.amazonaws.inspector2#CisFindingArnFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#CisStringFilter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.inspector2#CisFindingStatus": {
            "type": "enum",
            "members": {
                "PASSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PASSED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "SKIPPED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SKIPPED"
                    }
                }
            }
        },
        "com.amazonaws.inspector2#CisFindingStatusComparison": {
            "type": "enum",
            "members": {
                "EQUALS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EQUALS"
                    }
                }
            }
        },
        "com.amazonaws.inspector2#CisFindingStatusFilter": {
            "type": "structure",
            "members": {
                "comparison": {
                    "target": "com.amazonaws.inspector2#CisFindingStatusComparison",
                    "traits": {
                        "smithy.api#documentation": "<p>The comparison value of the CIS finding status filter.</p>",
                        "smithy.api#required": {}
                    }
                },
                "value": {
                    "target": "com.amazonaws.inspector2#CisFindingStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the CIS finding status filter.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The CIS finding status filter.</p>"
            }
        },
        "com.amazonaws.inspector2#CisFindingStatusFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#CisFindingStatusFilter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.inspector2#CisNumberFilter": {
            "type": "structure",
            "members": {
                "upperInclusive": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS number filter's upper inclusive.</p>"
                    }
                },
                "lowerInclusive": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS number filter's lower inclusive.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The CIS number filter.</p>"
            }
        },
        "com.amazonaws.inspector2#CisNumberFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#CisNumberFilter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.inspector2#CisOwnerId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^\\d{12}|o-[a-z0-9]{10,32}$"
            }
        },
        "com.amazonaws.inspector2#CisReportFormat": {
            "type": "enum",
            "members": {
                "PDF": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PDF"
                    }
                },
                "CSV": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CSV"
                    }
                }
            }
        },
        "com.amazonaws.inspector2#CisReportStatus": {
            "type": "enum",
            "members": {
                "SUCCEEDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUCCEEDED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IN_PROGRESS"
                    }
                }
            }
        },
        "com.amazonaws.inspector2#CisResultStatus": {
            "type": "enum",
            "members": {
                "PASSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PASSED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "SKIPPED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SKIPPED"
                    }
                }
            }
        },
        "com.amazonaws.inspector2#CisResultStatusComparison": {
            "type": "enum",
            "members": {
                "EQUALS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EQUALS"
                    }
                }
            }
        },
        "com.amazonaws.inspector2#CisResultStatusFilter": {
            "type": "structure",
            "members": {
                "comparison": {
                    "target": "com.amazonaws.inspector2#CisResultStatusComparison",
                    "traits": {
                        "smithy.api#documentation": "<p>The comparison value of the CIS result status filter.</p>",
                        "smithy.api#required": {}
                    }
                },
                "value": {
                    "target": "com.amazonaws.inspector2#CisResultStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the CIS result status filter.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The CIS result status filter.</p>"
            }
        },
        "com.amazonaws.inspector2#CisResultStatusFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#CisResultStatusFilter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.inspector2#CisRuleDetails": {
            "type": "blob",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1000
                }
            }
        },
        "com.amazonaws.inspector2#CisRuleStatus": {
            "type": "enum",
            "members": {
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "PASSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PASSED"
                    }
                },
                "NOT_EVALUATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NOT_EVALUATED"
                    }
                },
                "INFORMATIONAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INFORMATIONAL"
                    }
                },
                "UNKNOWN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNKNOWN"
                    }
                },
                "NOT_APPLICABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NOT_APPLICABLE"
                    }
                },
                "ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR"
                    }
                }
            }
        },
        "com.amazonaws.inspector2#CisScan": {
            "type": "structure",
            "members": {
                "scanArn": {
                    "target": "com.amazonaws.inspector2#CisScanArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan's ARN.</p>",
                        "smithy.api#required": {}
                    }
                },
                "scanConfigurationArn": {
                    "target": "com.amazonaws.inspector2#CisScanConfigurationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan's configuration ARN.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.inspector2#CisScanStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan's status.</p>"
                    }
                },
                "scanName": {
                    "target": "com.amazonaws.inspector2#CisScanName",
                    "traits": {
                        "smithy.api#documentation": "<p>The the name of the scan configuration that's associated with this scan.</p>"
                    }
                },
                "scanDate": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan's date.</p>"
                    }
                },
                "failedChecks": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan's failed checks.</p>"
                    }
                },
                "totalChecks": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan's total checks.</p>"
                    }
                },
                "targets": {
                    "target": "com.amazonaws.inspector2#CisTargets",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan's targets.</p>"
                    }
                },
                "scheduledBy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The account or organization that schedules the CIS scan.</p>"
                    }
                },
                "securityLevel": {
                    "target": "com.amazonaws.inspector2#CisSecurityLevel",
                    "traits": {
                        "smithy.api#documentation": "<p>\n         The security level for the CIS scan. \n         Security level refers to the Benchmark levels that CIS assigns to a profile.\n      </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The CIS scan.</p>"
            }
        },
        "com.amazonaws.inspector2#CisScanArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:aws(-us-gov|-cn)?:inspector2:[-.a-z0-9]{0,20}:\\d{12}:owner/(\\d{12}|o-[a-z0-9]{10,32})/cis-scan/[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
        },
        "com.amazonaws.inspector2#CisScanArnFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#CisStringFilter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.inspector2#CisScanConfiguration": {
            "type": "structure",
            "members": {
                "scanConfigurationArn": {
                    "target": "com.amazonaws.inspector2#CisScanConfigurationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan configuration's scan configuration ARN.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ownerId": {
                    "target": "com.amazonaws.inspector2#CisOwnerId",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan configuration's owner ID.</p>"
                    }
                },
                "scanName": {
                    "target": "com.amazonaws.inspector2#CisScanName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the CIS scan configuration.</p>"
                    }
                },
                "securityLevel": {
                    "target": "com.amazonaws.inspector2#CisSecurityLevel",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan configuration's security level.</p>"
                    }
                },
                "schedule": {
                    "target": "com.amazonaws.inspector2#Schedule",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan configuration's schedule.</p>"
                    }
                },
                "targets": {
                    "target": "com.amazonaws.inspector2#CisTargets",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan configuration's targets.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.inspector2#CisTagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan configuration's tags.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The CIS scan configuration.</p>"
            }
        },
        "com.amazonaws.inspector2#CisScanConfigurationArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:aws(-us-gov|-cn)?:inspector2:[a-z]{2}(-gov)?-[a-z]+-[0-9]{1}:[0-9]{12}:owner/(o-[a-z0-9]+|[0-9]{12})/cis-configuration/[0-9a-fA-F-]+$"
            }
        },
        "com.amazonaws.inspector2#CisScanConfigurationArnFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#CisStringFilter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.inspector2#CisScanConfigurationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#CisScanConfiguration"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 100
                }
            }
        },
        "com.amazonaws.inspector2#CisScanConfigurationsSortBy": {
            "type": "enum",
            "members": {
                "SCAN_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SCAN_NAME"
                    }
                },
                "SCAN_CONFIGURATION_ARN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SCAN_CONFIGURATION_ARN"
                    }
                }
            }
        },
        "com.amazonaws.inspector2#CisScanDateFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#CisDateFilter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1
                }
            }
        },
        "com.amazonaws.inspector2#CisScanList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#CisScan"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 50
                }
            }
        },
        "com.amazonaws.inspector2#CisScanName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                }
            }
        },
        "com.amazonaws.inspector2#CisScanNameFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.inspector2#CisStringFilter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.inspector2#CisScanResultDetails": {
            "type": "structure",
            "members": {
                "scanArn": {
                    "target": "com.amazonaws.inspector2#CisScanArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan result details' scan ARN.</p>",
                        "smithy.api#required": {}
                    }
                },
                "accountId": {
                    "target": "com.amazonaws.inspector2#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan result details' account ID.</p>"
                    }
                },
                "targetResourceId": {
                    "target": "com.amazonaws.inspector2#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan result details' target resource ID.</p>"
                    }
                },
                "platform": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan result details' platform.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.inspector2#CisFindingStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan result details' status.</p>"
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan result details' status reason.</p>"
                    }
                },
                "checkId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan result details' check ID.</p>"
                    }
                },
                "title": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan result details' title.</p>"
                    }
                },
                "checkDescription": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The account ID that's associated with the CIS scan result details.</p>"
                    }
                },
                "remediation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan result details' remediation.</p>"
                    }
                },
                "level": {
                    "target": "com.amazonaws.inspector2#CisSecurityLevel",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan result details' level.</p>"
                    }
                },
                "findingArn": {
                    "target": "com.amazonaws.inspector2#CisFindingArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The CIS scan result details' finding ARN.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The CIS scan result details.</p>"
            }
        },
        "com.amazonaws.inspector2#CisScanResultDetailsFilterCriteria": {
            "type": "structure",
            "members": {
                "findingStatusFilters": {
                    "target": "com.amazonaws.inspector2#CisFindingStatusFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The criteria's finding status filters.</p>"
                    }
                },
                "checkIdFilters": {
                    "target": "com.amazonaws.inspector2#CheckIdFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The criteria's check ID filters.</p>"
                    }
                },
                "titleFilters": {
                    "target": "com.amazonaws.inspector2#TitleFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The criteria's title filters.</p>"
                    }
                },
                "securityLevelFilters": {
[...]
