{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.internetmonitor#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You don't have sufficient permission to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.internetmonitor#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                }
            }
        },
        "com.amazonaws.internetmonitor#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:.*"
            }
        },
        "com.amazonaws.internetmonitor#AvailabilityMeasurement": {
            "type": "structure",
            "members": {
                "ExperienceScore": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>Experience scores, or health scores are calculated for different geographic and network provider combinations (that is, different granularities) and\n\t\t\talso summed into global scores. If you view performance or availability scores without filtering for any specific geography or service provider, Amazon CloudWatch Internet Monitor\n\t\t\tprovides global health scores.</p>\n         <p>The Amazon CloudWatch Internet Monitor chapter in the <i>CloudWatch User Guide</i> includes detailed information about how Internet Monitor calculates health scores, including performance and\n\t\t\tavailability scores, and when it creates and resolves health events. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Amazon Web Services calculates performance and\n\t\t\t\tavailability scores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>"
                    }
                },
                "PercentOfTotalTrafficImpacted": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The impact on total traffic that a health event has, in increased latency or reduced availability. This is the \n\t\t\tpercentage of how much latency has increased or availability has decreased during the event, compared to what is typical for traffic from this \n\t\t\tclient location to the Amazon Web Services location using this client network.</p>\n         <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">How Internet Monitor works</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User\n\t\t\tGuide.</p>"
                    }
                },
                "PercentOfClientLocationImpacted": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The percentage of impact caused by a health event for client location traffic globally.</p>\n         <p>For information about how Internet Monitor calculates impact, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html\">Inside Internet Monitor</a> in the Amazon CloudWatch Internet Monitor section of the Amazon CloudWatch User\n\t\t\tGuide.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Amazon CloudWatch Internet Monitor calculates measurements about the availability for your application's internet traffic between client locations and Amazon Web Services.\n\t\t\tAmazon Web Services has substantial historical data about internet\n\t\t\tperformance and availability between Amazon Web Services services and different network providers and geographies. By applying statistical analysis to the data, Internet Monitor\n\t\t\tcan detect when the performance and availability for your application has dropped, compared to an estimated baseline that's already calculated. To make it\n\t\t\teasier to see those drops, we report that information to you in the form of health scores: a performance score and an availability score.</p>\n         <p>Availability in Internet Monitor represents the estimated percentage of traffic that is not seeing an availability drop. For example, an availability score of 99%\n\t\t\tfor an end user and service location pair is equivalent to 1% of the traffic experiencing an availability drop for that pair.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Internet Monitor calculates performance and availability\n\t\t\t\tscores</a> in the Amazon CloudWatch Internet Monitor section of the <i>Amazon CloudWatch User Guide</i>.</p>"
            }
        },
        "com.amazonaws.internetmonitor#BadRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A bad request was received.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.internetmonitor#ClientLocation": {
            "type": "structure",
            "members": {
                "ASName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the internet service provider (ISP) or network (ASN).</p>",
                        "smithy.api#required": {}
                    }
                },
                "ASNumber": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The Autonomous System Number (ASN) of the network at an impacted location.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Country": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the country where the internet event is located.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Subdivision": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The subdivision location where the health event is located. The subdivision usually maps to states in most countries \n\t\t\t(including the United States). For United Kingdom, it maps to a country (England, Scotland, Wales) or province (Northern Ireland).</p>"
                    }
                },
                "Metro": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The metro area where the health event is located.</p>\n         <p>Metro indicates a metropolitan region in the United States, such as the region around New York City. In non-US countries, \n\t\t\tthis is a second-level subdivision. For example, in the United Kingdom, it could be a county, a London borough, a unitary \n\t\t\tauthority, council area, and so on.</p>"
                    }
                },
                "City": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the city where the internet event is located.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Latitude": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The latitude where the internet event is located.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Longitude": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The longitude where the internet event is located.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The impacted location, such as a city, that Amazon Web Services clients access application resources from.</p>"
            }
        },
        "com.amazonaws.internetmonitor#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The requested resource is in use.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.internetmonitor#CreateMonitor": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.internetmonitor#CreateMonitorInput"
            },
            "output": {
                "target": "com.amazonaws.internetmonitor#CreateMonitorOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.internetmonitor#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ConflictException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#InternalServerException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "smithy.api#documentation": "<p>Creates a monitor in Amazon CloudWatch Internet Monitor. A monitor is built based on information from the application resources that you add: VPCs,\n\t\t\tNetwork Load Balancers (NLBs), Amazon CloudFront distributions, and Amazon WorkSpaces directories. Internet Monitor then publishes internet measurements from Amazon Web Services \n\t\t\tthat are specific to the <i>city-networks</i>. That is, the locations and ASNs (typically internet service providers or ISPs),\n\t\t\twhere clients access your application. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-InternetMonitor.html\">Using Amazon CloudWatch Internet Monitor</a> in the <i>Amazon CloudWatch User \n\t\t\t\t\tGuide</i>.</p>\n         <p>When you create a monitor, you choose the percentage of traffic that you want to monitor. You can also set a maximum limit for the \n\t\t\tnumber of city-networks where client traffic is monitored, that caps the total traffic that Internet Monitor monitors. A city-network \n\t\t\tmaximum is the limit of city-networks, but you only pay for the number of city-networks that are actually monitored. You can update your monitor\n\t\t\tat any time to change the percentage of traffic to monitor or the city-networks maximum. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/IMCityNetworksMaximum.html\">Choosing a city-network maximum value</a> in the <i>Amazon CloudWatch User Guide</i>.</p>",
                "smithy.api#http": {
                    "uri": "/v20210603/Monitors",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.internetmonitor#CreateMonitorInput": {
            "type": "structure",
            "members": {
                "MonitorName": {
                    "target": "com.amazonaws.internetmonitor#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the monitor. </p>",
                        "smithy.api#required": {}
                    }
                },
                "Resources": {
                    "target": "com.amazonaws.internetmonitor#SetOfARNs",
                    "traits": {
                        "smithy.api#documentation": "<p>The resources to include in a monitor, which you provide as a set of Amazon Resource Names (ARNs). Resources can be VPCs, NLBs,\n\t\t\tAmazon CloudFront distributions, or Amazon WorkSpaces directories.</p>\n         <p>You can add a combination of VPCs and CloudFront distributions, or you can add WorkSpaces directories, or you can add NLBs. You can't add \n\t\t\tNLBs or WorkSpaces directories together with any other resources.</p>\n         <note>\n            <p>If you add only Amazon VPC resources, at least one VPC must have an Internet Gateway attached to it, to make sure that it has \n\t\t\tinternet connectivity.</p>\n         </note>"
                    }
                },
                "ClientToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive string of up to 64 ASCII characters that you specify to make an idempotent API request. Don't reuse the same client token for\n\t\t\tother API requests.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.internetmonitor#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags for a monitor. You can add a maximum of 50 tags in Internet Monitor.</p>"
                    }
                },
                "MaxCityNetworksToMonitor": {
                    "target": "com.amazonaws.internetmonitor#MaxCityNetworksToMonitor",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of city-networks to monitor for your resources. A city-network is the location (city) where clients access your \n\t\t\tapplication resources from and the ASN or network provider, such as an internet service provider (ISP), that clients access the resources \n\t\t\tthrough. Setting this limit can help control billing costs.</p>\n         <p>To learn more, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/IMCityNetworksMaximum.html\">Choosing a city-network maximum value\n\t\t</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>"
                    }
                },
                "InternetMeasurementsLogDelivery": {
                    "target": "com.amazonaws.internetmonitor#InternetMeasurementsLogDelivery",
                    "traits": {
                        "smithy.api#documentation": "<p>Publish internet measurements for Internet Monitor to an Amazon S3 bucket in addition to CloudWatch Logs.</p>"
                    }
                },
                "TrafficPercentageToMonitor": {
                    "target": "com.amazonaws.internetmonitor#TrafficPercentageToMonitor",
                    "traits": {
                        "smithy.api#documentation": "<p>The percentage of the internet-facing traffic for your application that you want to monitor with this monitor. If you set a city-networks\n\t\t\tmaximum, that limit overrides the traffic percentage that you set.</p>\n         <p>To learn more, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/IMTrafficPercentage.html\">Choosing an application traffic percentage to monitor\n\t\t</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>"
                    }
                },
                "HealthEventsConfig": {
                    "target": "com.amazonaws.internetmonitor#HealthEventsConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the threshold percentages and other configuration information for when Amazon CloudWatch Internet Monitor creates a health event. Internet Monitor creates a\n\t\t\thealth event when an internet issue that affects your application end users has a health score percentage that is at or below a \n\t\t\tspecific threshold, and, sometimes, when other criteria are met.</p>\n         <p>If you don't set a health event threshold, the default value is 95%.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-overview.html#IMUpdateThresholdFromOverview\">\n\t\t\tChange health event thresholds</a> in the Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.internetmonitor#CreateMonitorOutput": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.internetmonitor#MonitorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the monitor.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Status": {
                    "target": "com.amazonaws.internetmonitor#MonitorConfigState",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of a monitor.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.internetmonitor#DeleteMonitor": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.internetmonitor#DeleteMonitorInput"
            },
            "output": {
                "target": "com.amazonaws.internetmonitor#DeleteMonitorOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.internetmonitor#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#InternalServerException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a monitor in Amazon CloudWatch Internet Monitor. </p>",
                "smithy.api#http": {
                    "uri": "/v20210603/Monitors/{MonitorName}",
                    "method": "DELETE"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.internetmonitor#DeleteMonitorInput": {
            "type": "structure",
            "members": {
                "MonitorName": {
                    "target": "com.amazonaws.internetmonitor#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the monitor to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.internetmonitor#DeleteMonitorOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.internetmonitor#FilterList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            }
        },
        "com.amazonaws.internetmonitor#FilterParameter": {
            "type": "structure",
            "members": {
                "Field": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A data field that you want to filter, to further scope your application's Internet Monitor data in a repository that you \n\t\t\tcreated by running a query. A field might be <code>city</code>, for example. The field must be one of the fields\n\t\t\tthat was returned by the specific query that you used to create the repository.</p>"
                    }
                },
                "Operator": {
                    "target": "com.amazonaws.internetmonitor#Operator",
                    "traits": {
                        "smithy.api#documentation": "<p>The operator to use with the filter field and a value, such as <code>not_equals</code>.</p>"
                    }
                },
                "Values": {
                    "target": "com.amazonaws.internetmonitor#FilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>One or more values to be used, together with the specified operator, to filter data for a query.\n\t\t\tFor example, you could specify an array of values such as <code>[\"Seattle\", \"Redmond\"]</code>. Values in the array are separated by\n\t\t\tcommas.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A filter that you use with the results of a Amazon CloudWatch Internet Monitor query that you created and ran. The query sets up a \n\t\t\trepository of data that is a subset of your application's Internet Monitor data. <code>FilterParameter</code> is a string \n\t\t\tthat defines how you want to filter the repository of data to return a set of results, based on your criteria.</p>\n         <p>The filter parameters that you can specify depend on the query type that you used to create the repository, since \n\t\t\teach query type returns a different set of Internet Monitor data.</p>\n         <p>For each filter, you specify a field (such as <code>city</code>), an operator (such as <code>not_equals</code>,\n\t\t\tand a value or array of values (such as <code>[\"Seattle\", \"Redmond\"]</code>). Separate values in the array with\n\t\t\tcommas.</p>\n         <p>For more information about specifying filter parameters, see\n\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-view-cw-tools-cwim-query.html\">Using the Amazon CloudWatch Internet Monitor query interface</a>\n\t\t\tin the Amazon CloudWatch Internet Monitor User Guide.</p>"
            }
        },
        "com.amazonaws.internetmonitor#FilterParameters": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.internetmonitor#FilterParameter"
            }
        },
        "com.amazonaws.internetmonitor#GetHealthEvent": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.internetmonitor#GetHealthEventInput"
            },
            "output": {
                "target": "com.amazonaws.internetmonitor#GetHealthEventOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.internetmonitor#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#InternalServerException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Gets information that Amazon CloudWatch Internet Monitor has created and stored about a health event for a specified monitor. This information includes the impacted locations,\n\t\t\tand all the information related to the event, by location.</p>\n         <p>The information returned includes the impact on performance, availability, and round-trip time, information about the network providers (ASNs),\n\t\t\tthe event type, and so on.</p>\n         <p>Information rolled up at the global traffic level is also returned, including the impact type and total traffic impact.</p>",
                "smithy.api#http": {
                    "uri": "/v20210603/Monitors/{MonitorName}/HealthEvents/{EventId}",
                    "method": "GET"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.internetmonitor#GetHealthEventInput": {
            "type": "structure",
            "members": {
                "MonitorName": {
                    "target": "com.amazonaws.internetmonitor#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the monitor.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "EventId": {
                    "target": "com.amazonaws.internetmonitor#HealthEventName",
                    "traits": {
                        "smithy.api#documentation": "<p>The internally-generated identifier of a health event. Because <code>EventID</code> contains the forward slash (“/”) character, you must \n\t\t\tURL-encode the <code>EventID</code> field in the request URL.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "LinkedAccountId": {
                    "target": "com.amazonaws.internetmonitor#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The account ID for an account that you've set up cross-account sharing for in Amazon CloudWatch Internet Monitor. You configure cross-account\n\t\t\tsharing by using Amazon CloudWatch Observability Access Manager. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cwim-cross-account.html\">Internet Monitor cross-account\n\t\t\tobservability</a> in the Amazon CloudWatch Internet Monitor User Guide.</p>",
                        "smithy.api#httpQuery": "LinkedAccountId"
                    }
                }
            }
        },
        "com.amazonaws.internetmonitor#GetHealthEventOutput": {
            "type": "structure",
            "members": {
                "EventArn": {
                    "target": "com.amazonaws.internetmonitor#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventId": {
                    "target": "com.amazonaws.internetmonitor#HealthEventName",
                    "traits": {
                        "smithy.api#documentation": "<p>The internally-generated identifier of a health event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StartedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when a health event started.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "EndedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when a health event was resolved. If the health event is still active, the end time is not set.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "CreatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when a health event was created.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "LastUpdatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when a health event was last updated or recalculated.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "ImpactedLocations": {
                    "target": "com.amazonaws.internetmonitor#ImpactedLocationsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The locations affected by a health event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Status": {
                    "target": "com.amazonaws.internetmonitor#HealthEventStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of a health event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PercentOfTotalTrafficImpacted": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The impact on total traffic that a health event has, in increased latency or reduced availability. This is the \n\t\t\tpercentage of how much latency has increased or availability has decreased during the event, compared to what is typical for traffic from this \n\t\t\tclient location to the Amazon Web Services location using this client network.</p>"
                    }
                },
                "ImpactType": {
                    "target": "com.amazonaws.internetmonitor#HealthEventImpactType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of impairment of a specific health event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "HealthScoreThreshold": {
                    "target": "com.amazonaws.internetmonitor#Percentage",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The threshold percentage for a health score that determines, along with other configuration information,\n\t\t\twhen Internet Monitor creates a health event when there's an internet issue that affects your application end users.</p>"
                    }
                }
            }
        },
        "com.amazonaws.internetmonitor#GetInternetEvent": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.internetmonitor#GetInternetEventInput"
            },
            "output": {
                "target": "com.amazonaws.internetmonitor#GetInternetEventOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.internetmonitor#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#InternalServerException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Gets information that Amazon CloudWatch Internet Monitor has generated about an internet event. Internet Monitor displays information about \n\t\t\trecent global health events, called internet events, on a global outages map that is available to all Amazon Web Services\n\t\t\tcustomers. </p>\n         <p>The information returned here includes the impacted location,\n\t\t\twhen the event started and (if the event is over) ended, the type of event (<code>PERFORMANCE</code> or <code>AVAILABILITY</code>),\n\t\t\tand the status (<code>ACTIVE</code> or <code>RESOLVED</code>).</p>",
                "smithy.api#http": {
                    "uri": "/v20210603/InternetEvents/{EventId}",
                    "method": "GET"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.internetmonitor#GetInternetEventInput": {
            "type": "structure",
            "members": {
                "EventId": {
                    "target": "com.amazonaws.internetmonitor#InternetEventId",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>EventId</code> of the internet event to return information for. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.internetmonitor#GetInternetEventOutput": {
            "type": "structure",
            "members": {
                "EventId": {
                    "target": "com.amazonaws.internetmonitor#InternetEventId",
                    "traits": {
                        "smithy.api#documentation": "<p>The internally-generated identifier of an internet event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventArn": {
                    "target": "com.amazonaws.internetmonitor#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the internet event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StartedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the internet event started.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "EndedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the internet event ended. If the event hasn't ended yet, this value is empty.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "ClientLocation": {
                    "target": "com.amazonaws.internetmonitor#ClientLocation",
                    "traits": {
                        "smithy.api#documentation": "<p>The impacted location, such as a city, where clients access Amazon Web Services application resources.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventType": {
                    "target": "com.amazonaws.internetmonitor#InternetEventType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of network impairment.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventStatus": {
                    "target": "com.amazonaws.internetmonitor#InternetEventStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the internet event.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.internetmonitor#GetMonitor": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.internetmonitor#GetMonitorInput"
            },
            "output": {
                "target": "com.amazonaws.internetmonitor#GetMonitorOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.internetmonitor#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#InternalServerException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Gets information about a monitor in Amazon CloudWatch Internet Monitor based on a monitor name. The information returned includes the Amazon Resource Name (ARN), create time,\n\t\t\tmodified time, resources included in the monitor, and status information.</p>",
                "smithy.api#http": {
                    "uri": "/v20210603/Monitors/{MonitorName}",
                    "method": "GET"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.internetmonitor#GetMonitorInput": {
            "type": "structure",
            "members": {
                "MonitorName": {
                    "target": "com.amazonaws.internetmonitor#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the monitor.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "LinkedAccountId": {
                    "target": "com.amazonaws.internetmonitor#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The account ID for an account that you've set up cross-account sharing for in Amazon CloudWatch Internet Monitor. You configure cross-account\n\t\t\tsharing by using Amazon CloudWatch Observability Access Manager. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cwim-cross-account.html\">Internet Monitor cross-account\n\t\t\t\tobservability</a> in the Amazon CloudWatch Internet Monitor User Guide.</p>",
                        "smithy.api#httpQuery": "LinkedAccountId"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.internetmonitor#GetMonitorOutput": {
            "type": "structure",
            "members": {
                "MonitorName": {
                    "target": "com.amazonaws.internetmonitor#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the monitor.</p>",
                        "smithy.api#required": {}
                    }
                },
                "MonitorArn": {
                    "target": "com.amazonaws.internetmonitor#MonitorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the monitor.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Resources": {
                    "target": "com.amazonaws.internetmonitor#SetOfARNs",
                    "traits": {
                        "smithy.api#documentation": "<p>The resources monitored by the monitor. Resources are listed by their Amazon Resource Names (ARNs).</p>",
                        "smithy.api#required": {}
                    }
                },
                "Status": {
                    "target": "com.amazonaws.internetmonitor#MonitorConfigState",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the monitor.</p>",
                        "smithy.api#required": {}
                    }
                },
                "CreatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the monitor was created.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "ModifiedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The last time that the monitor was modified.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "ProcessingStatus": {
                    "target": "com.amazonaws.internetmonitor#MonitorProcessingStatusCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The health of the data processing for the monitor.</p>"
                    }
                },
                "ProcessingStatusInfo": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the health of the data processing for the monitor.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.internetmonitor#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags that have been added to monitor.</p>"
                    }
                },
                "MaxCityNetworksToMonitor": {
                    "target": "com.amazonaws.internetmonitor#MaxCityNetworksToMonitor",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of city-networks to monitor for your resources. A city-network is the location (city) where clients access your \n\t\t\tapplication resources from and the ASN or network provider, such as an internet service provider (ISP), that clients access the resources \n\t\t\tthrough. This limit can help control billing costs.</p>\n         <p>To learn more, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/IMCityNetworksMaximum.html\">Choosing a city-network maximum value\n\t\t</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>"
                    }
                },
                "InternetMeasurementsLogDelivery": {
                    "target": "com.amazonaws.internetmonitor#InternetMeasurementsLogDelivery",
                    "traits": {
                        "smithy.api#documentation": "<p>Publish internet measurements for Internet Monitor to another location, such as an Amazon S3 bucket. The measurements are also published to Amazon CloudWatch Logs.</p>"
                    }
                },
                "TrafficPercentageToMonitor": {
                    "target": "com.amazonaws.internetmonitor#TrafficPercentageToMonitor",
                    "traits": {
                        "smithy.api#documentation": "<p>The percentage of the internet-facing traffic for your application to monitor with this monitor. If you set a city-networks\n\t\t\tmaximum, that limit overrides the traffic percentage that you set.</p>\n         <p>To learn more, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/IMTrafficPercentage.html\">Choosing an application traffic percentage to monitor\n\t\t</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>"
                    }
                },
                "HealthEventsConfig": {
                    "target": "com.amazonaws.internetmonitor#HealthEventsConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of health event threshold configurations. The threshold percentage for a health score determines, along with other configuration \n\t\t\tinformation, when Internet Monitor creates a health event when there's an internet issue that affects your application end users.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-overview.html#IMUpdateThresholdFromOverview\">\n\t\t\tChange health event thresholds</a> in the Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.internetmonitor#GetQueryResults": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.internetmonitor#GetQueryResultsInput"
            },
            "output": {
                "target": "com.amazonaws.internetmonitor#GetQueryResultsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.internetmonitor#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#InternalServerException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Return the data for a query with the Amazon CloudWatch Internet Monitor query interface. Specify the query that you want to return results for by providing \n\t\t\ta <code>QueryId</code> and a monitor name.</p>\n         <p>For more information about using the query interface, including examples, see\n\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-view-cw-tools-cwim-query.html\">Using the Amazon CloudWatch Internet Monitor query interface</a>\n\t\t\tin the Amazon CloudWatch Internet Monitor User Guide.</p>",
                "smithy.api#http": {
                    "uri": "/v20210603/Monitors/{MonitorName}/Queries/{QueryId}/Results",
                    "method": "GET"
                },
                "smithy.api#paginated": {
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
                    "pageSize": "MaxResults"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.internetmonitor#GetQueryResultsInput": {
            "type": "structure",
            "members": {
                "MonitorName": {
                    "target": "com.amazonaws.internetmonitor#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the monitor to return data for.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "QueryId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the query that you want to return data results for. A <code>QueryId</code> is an \n\t\t\tinternally-generated identifier for a specific query.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "NextToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The token for the next set of results. You receive this token from a previous call.</p>",
                        "smithy.api#httpQuery": "NextToken"
                    }
                },
                "MaxResults": {
                    "target": "com.amazonaws.internetmonitor#QueryMaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of query results that you want to return with this call.</p>",
                        "smithy.api#httpQuery": "MaxResults"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.internetmonitor#GetQueryResultsOutput": {
            "type": "structure",
            "members": {
                "Fields": {
                    "target": "com.amazonaws.internetmonitor#QueryFields",
                    "traits": {
                        "smithy.api#documentation": "<p>The fields that the query returns data for. Fields are name-data type pairs, such as \n\t\t\t<code>availability_score</code>-<code>float</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Data": {
                    "target": "com.amazonaws.internetmonitor#QueryData",
                    "traits": {
                        "smithy.api#documentation": "<p>The data results that the query returns. Data is returned in arrays, aligned with the <code>Fields</code>\n\t\tfor the query, which creates a repository of Amazon CloudWatch Internet Monitor information for your application. Then, you can filter\n\t\tthe information in the repository by using <code>FilterParameters</code> that you define.</p>",
                        "smithy.api#required": {}
                    }
                },
                "NextToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The token for the next set of results. You receive this token from a previous call.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.internetmonitor#GetQueryStatus": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.internetmonitor#GetQueryStatusInput"
            },
            "output": {
                "target": "com.amazonaws.internetmonitor#GetQueryStatusOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.internetmonitor#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#InternalServerException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.internetmonitor#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns the current status of a query for the Amazon CloudWatch Internet Monitor query interface, for a specified query ID and monitor. \n\t\t\tWhen you run a query, check the status to make sure that the query has <code>SUCCEEDED</code> before you review the results.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>QUEUED</code>: The query is scheduled to run.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RUNNING</code>: The query is in progress but not complete.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SUCCEEDED</code>: The query completed sucessfully.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code>: The query failed due to an error.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELED</code>: The query was canceled.</p>\n            </li>\n         </ul>",
                "smithy.api#http": {
                    "uri": "/v20210603/Monitors/{MonitorName}/Queries/{QueryId}/Status",
                    "method": "GET"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.internetmonitor#GetQueryStatusInput": {
            "type": "structure",
            "members": {
                "MonitorName": {
                    "target": "com.amazonaws.internetmonitor#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the monitor.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "QueryId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the query that you want to return the status for. A <code>QueryId</code> is an internally-generated \n\t\t\tdentifier for a specific query.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.internetmonitor#GetQueryStatusOutput": {
            "type": "structure",
            "members": {
                "Status": {
                    "target": "com.amazonaws.internetmonitor#QueryStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status for a query.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.internetmonitor#HealthEvent": {
            "type": "structure",
            "members": {
                "EventArn": {
                    "target": "com.amazonaws.internetmonitor#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventId": {
                    "target": "com.amazonaws.internetmonitor#HealthEventName",
                    "traits": {
                        "smithy.api#documentation": "<p>The internally-generated identifier of a specific network traffic impairment health event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StartedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>When a health event started.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "EndedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when a health event ended. If the health event is still active, then the end time is not set.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "CreatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>When the health event was created.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "LastUpdatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>When the health event was last updated.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "ImpactedLocations": {
                    "target": "com.amazonaws.internetmonitor#ImpactedLocationsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The locations impacted by the health event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Status": {
                    "target": "com.amazonaws.internetmonitor#HealthEventStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of a health event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PercentOfTotalTrafficImpacted": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The impact on total traffic that a health event has, in increased latency or reduced availability. This is the \n\t\t\tpercentage of how much latency has increased or availability has decreased during the event, compared to what is typical for traffic from this \n\t\t\tclient location to the Amazon Web Services location using this client network.</p>"
                    }
                },
                "ImpactType": {
                    "target": "com.amazonaws.internetmonitor#HealthEventImpactType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of impairment for a health event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "HealthScoreThreshold": {
                    "target": "com.amazonaws.internetmonitor#Percentage",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The value of the threshold percentage for performance or availability that was configured when Amazon CloudWatch Internet Monitor created the health event.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a health event created in a monitor in Amazon CloudWatch Internet Monitor.</p>"
            }
        },
        "com.amazonaws.internetmonitor#HealthEventImpactType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "AVAILABILITY",
                        "name": "AVAILABILITY"
                    },
                    {
                        "value": "PERFORMANCE",
                        "name": "PERFORMANCE"
                    },
                    {
                        "value": "LOCAL_AVAILABILITY",
                        "name": "LOCAL_AVAILABILITY"
                    },
                    {
                        "value": "LOCAL_PERFORMANCE",
                        "name": "LOCAL_PERFORMANCE"
                    }
                ]
            }
        },
        "com.amazonaws.internetmonitor#HealthEventList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.internetmonitor#HealthEvent"
            }
        },
        "com.amazonaws.internetmonitor#HealthEventName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^[a-zA-Z0-9/_.-]+$"
            }
        },
        "com.amazonaws.internetmonitor#HealthEventResource": {
            "type": "resource",
            "identifiers": {
                "MonitorName": {
                    "target": "com.amazonaws.internetmonitor#ResourceName"
                },
                "EventId": {
                    "target": "com.amazonaws.internetmonitor#HealthEventName"
                }
            },
            "read": {
                "target": "com.amazonaws.internetmonitor#GetHealthEvent"
            },
            "list": {
                "target": "com.amazonaws.internetmonitor#ListHealthEvents"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "monitor/{MonitorName}/health-event/{EventId}"
                },
                "aws.iam#disableConditionKeyInference": {}
            }
        },
        "com.amazonaws.internetmonitor#HealthEventStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "ACTIVE",
                        "name": "ACTIVE"
                    },
                    {
                        "value": "RESOLVED",
                        "name": "RESOLVED"
                    }
                ]
            }
        },
        "com.amazonaws.internetmonitor#HealthEventsConfig": {
            "type": "structure",
            "members": {
                "AvailabilityScoreThreshold": {
                    "target": "com.amazonaws.internetmonitor#Percentage",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The health event threshold percentage set for availability scores.</p>"
                    }
                },
                "PerformanceScoreThreshold": {
                    "target": "com.amazonaws.internetmonitor#Percentage",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The health event threshold percentage set for performance scores.</p>"
                    }
                },
                "AvailabilityLocalHealthEventsConfig": {
                    "target": "com.amazonaws.internetmonitor#LocalHealthEventsConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration that determines the threshold and other conditions for when Internet Monitor creates a health event for a local availability issue.</p>"
                    }
                },
                "PerformanceLocalHealthEventsConfig": {
                    "target": "com.amazonaws.internetmonitor#LocalHealthEventsConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration that determines the threshold and other conditions for when Internet Monitor creates a health event for a local performance issue.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A complex type with the configuration information that determines the threshold and other conditions for when Internet Monitor creates a health event \n\t\t\tfor an overall performance or availability issue, across an application's geographies.</p>\n         <p>Defines the percentages, for overall performance scores and availability scores for an application, that are the thresholds\n\t\t\tfor when Amazon CloudWatch Internet Monitor creates a health event. You can override the defaults to set a custom threshold for overall performance or availability scores,\n\t\t\tor both.</p>\n         <p>You can also set thresholds for local health scores,, where Internet Monitor creates a health event when scores cross a threshold for one or more city-networks,\n\t\t\tin addition to creating an event when an overall score crosses a threshold.</p>\n         <p>If you don't set a health event threshold, the default value is 95%.</p>\n         <p>For local thresholds, you also set a minimum percentage of overall traffic that is impacted by an issue before Internet Monitor creates an event.\n\t\t\tIn addition, you can disable local thresholds, for performance scores, availability scores, or both.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-overview.html#IMUpdateThresholdFromOverview\">\n\t\t\tChange health event thresholds</a> in the Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>"
            }
        },
        "com.amazonaws.internetmonitor#ImpactedLocation": {
            "type": "structure",
            "members": {
                "ASName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the internet service provider (ISP) or network (ASN).</p>",
                        "smithy.api#required": {}
                    }
                },
                "ASNumber": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The Autonomous System Number (ASN) of the network at an impacted location.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Country": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the country where the health event is located.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Subdivision": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The subdivision location where the health event is located. The subdivision usually maps to \n\t\t\t\tstates in most countries (including the United States). For United Kingdom, it maps to a country (England, \n\t\t\t\tScotland, Wales) or province (Northern Ireland).</p>"
                    }
                },
                "Metro": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The metro area where the health event is located.</p>\n         <p>Metro indicates a metropolitan region in the United States, such as the region around New York City.\n   \t\tIn non-US countries, this is a second-level subdivision. For example, in the United Kingdom, it could be\n   \t\ta county, a London borough, a unitary authority, council area, and so on.</p>"
                    }
                },
                "City": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the city where the health event is located.</p>"
                    }
                },
                "Latitude": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The latitude where the health event is located.</p>"
                    }
                },
                "Longitude": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The longitude where the health event is located.</p>"
                    }
                },
                "CountryCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The country code where the health event is located. The ISO 3166-2 codes for the\n   \t\tcountry is provided, when available. </p>"
                    }
                },
                "SubdivisionCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The subdivision code where the health event is located. The ISO 3166-2 codes for \n\t\t\tcountry subdivisions is provided, when available. </p>"
                    }
                },
                "ServiceLocation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The service location where the health event is located.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.internetmonitor#HealthEventStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the health event at an impacted location.</p>",
                        "smithy.api#required": {}
                    }
                },
                "CausedBy": {
                    "target": "com.amazonaws.internetmonitor#NetworkImpairment",
                    "traits": {
                        "smithy.api#documentation": "<p>The cause of the impairment. There are two types of network impairments: Amazon Web Services network issues\n      \tor internet issues. Internet issues are typically a problem with a network provider, like an internet service provider (ISP).</p>"
                    }
                },
                "InternetHealth": {
                    "target": "com.amazonaws.internetmonitor#InternetHealth",
                    "traits": {
                        "smithy.api#documentation": "<p>The calculated health at a specific location.</p>"
                    }
                },
                "Ipv4Prefixes": {
                    "target": "com.amazonaws.internetmonitor#Ipv4PrefixList",
                    "traits": {
                        "smithy.api#documentation": "<p>The IPv4 prefixes at the client location that was impacted by the health event.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a location impacted by a health event in Amazon CloudWatch Internet Monitor.</p>\n         <p>Geographic regions are hierarchically categorized into country, subdivision, \n   \t\tmetro and city geographic granularities. The geographic region is identified based \n   \t\ton the IP address used at the client locations.</p>"
            }
        },
        "com.amazonaws.internetmonitor#ImpactedLocationsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.internetmonitor#ImpactedLocation"
            }
        },
        "com.amazonaws.internetmonitor#InternalServerErrorException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>There was an internal server error.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.internetmonitor#InternalServerException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An internal error occurred.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.internetmonitor#InternetEventId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
            }
        },
        "com.amazonaws.internetmonitor#InternetEventMaxResults": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.internetmonitor#InternetEventResource": {
            "type": "resource",
            "identifiers": {
                "EventId": {
                    "target": "com.amazonaws.internetmonitor#InternetEventId"
                }
            },
            "read": {
                "target": "com.amazonaws.internetmonitor#GetInternetEvent"
            },
            "list": {
                "target": "com.amazonaws.internetmonitor#ListInternetEvents"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "internet-event/{EventId}",
                    "noRegion": true,
                    "noAccount": false
                },
                "aws.iam#disableConditionKeyInference": {},
                "smithy.api#documentation": "Represents an internet event for a specific city+AS location"
            }
        },
        "com.amazonaws.internetmonitor#InternetEventStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "ACTIVE",
                        "value": "ACTIVE"
                    },
                    {
                        "name": "RESOLVED",
                        "value": "RESOLVED"
                    }
                ]
            }
        },
        "com.amazonaws.internetmonitor#InternetEventSummary": {
            "type": "structure",
            "members": {
                "EventId": {
                    "target": "com.amazonaws.internetmonitor#InternetEventId",
                    "traits": {
                        "smithy.api#documentation": "<p>The internally-generated identifier of an internet event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventArn": {
                    "target": "com.amazonaws.internetmonitor#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the internet event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StartedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when an internet event started.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "EndedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when an internet event ended. If the event hasn't ended yet, this value\n\t\tis empty.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "ClientLocation": {
                    "target": "com.amazonaws.internetmonitor#ClientLocation",
                    "traits": {
                        "smithy.api#documentation": "<p>The impacted location, such as a city, that Amazon Web Services clients access application resources from.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventType": {
                    "target": "com.amazonaws.internetmonitor#InternetEventType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of network impairment.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventStatus": {
                    "target": "com.amazonaws.internetmonitor#InternetEventStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of an internet event.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of information about an internet event in Amazon CloudWatch Internet Monitor. Internet events are issues that cause performance degradation\n\t\t\tor availability problems for impacted Amazon Web Services client locations. Internet Monitor displays information about \n\t\t\trecent global health events, called internet events, on a global outages map that is available to all Amazon Web Services\n\t\t\tcustomers. </p>"
            }
        },
        "com.amazonaws.internetmonitor#InternetEventType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "AVAILABILITY",
                        "name": "AVAILABILITY"
                    },
                    {
                        "value": "PERFORMANCE",
                        "name": "PERFORMANCE"
                    }
                ]
            }
        },
        "com.amazonaws.internetmonitor#InternetEventsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.internetmonitor#InternetEventSummary"
            }
        },
        "com.amazonaws.internetmonitor#InternetHealth": {
            "type": "structure",
            "members": {
                "Availability": {
                    "target": "com.amazonaws.internetmonitor#AvailabilityMeasurement",
                    "traits": {
                        "smithy.api#documentation": "<p>Availability in Internet Monitor represents the estimated percentage of traffic that is not seeing an availability drop. For example, an availability score of 99%\n\t\t\tfor an end user and service location pair is equivalent to 1% of the traffic experiencing an availability drop for that pair.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Internet Monitor calculates performance and availability\n\t\t\tscores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>"
                    }
                },
                "Performance": {
                    "target": "com.amazonaws.internetmonitor#PerformanceMeasurement",
                    "traits": {
                        "smithy.api#documentation": "<p>Performance in Internet Monitor represents the estimated percentage of traffic that is not seeing a performance drop. For example, a performance score of 99% for\n\t\t\tan end user and service location pair is equivalent to 1% of the traffic experiencing a performance drop for that pair.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-IM-inside-internet-monitor.html#IMExperienceScores\">How Internet Monitor calculates performance and availability\n\t\t\tscores</a> in the Amazon CloudWatch Internet Monitor section of the <i>CloudWatch User Guide</i>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Internet health includes measurements calculated by Amazon CloudWatch Internet Monitor about the performance and availability for your application on the internet. Amazon Web Services has\n\t\t\tsubstantial historical data about internet performance and availability between Amazon Web Services services and different network providers and geographies. By\n\t\t\tapplying statistical analysis to the data, Internet Monitor can detect when the performance and availability for your application has dropped, compared to an\n\t\t\testimated baseline that's already calculated. To make it easier to see those drops, Internet Monitor reports the information to you in the form of health scores: a\n\t\t\tperformance score and an availability score.</p>"
            }
        },
        "com.amazonaws.internetmonitor#InternetMeasurementsLogDelivery": {
            "type": "structure",
            "members": {
                "S3Config": {
                    "target": "com.amazonaws.internetmonitor#S3Config",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration information for publishing Internet Monitor internet measurements to Amazon S3. The configuration includes the bucket name and (optionally) prefix \n\t\t\tfor the S3 bucket to store the measurements, and the delivery status. The delivery status is <code>ENABLED</code> or <code>DISABLED</code>, depending on\n\t\t\twhether you choose to deliver internet measurements to S3 logs.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Publish internet measurements to an Amazon S3 bucket in addition to CloudWatch Logs.</p>"
            }
        },
        "com.amazonaws.internetmonitor#InternetMonitor20210603": {
            "type": "service",
            "version": "2021-06-03",
            "operations": [
                {
                    "target": "com.amazonaws.internetmonitor#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.internetmonitor#TagResource"
                },
                {
                    "target": "com.amazonaws.internetmonitor#UntagResource"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.internetmonitor#InternetEventResource"
                },
                {
                    "target": "com.amazonaws.internetmonitor#MonitorResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "InternetMonitor",
                    "arnNamespace": "internetmonitor",
                    "cloudFormationName": "InternetMonitor",
                    "cloudTrailEventSource": "internetmonitor.amazonaws.com"
                },
                "aws.auth#sigv4": {
                    "name": "internetmonitor"
                },
                "aws.iam#defineConditionKeys": {
                    "aws:ResourceTag/${TagKey}": {
                        "type": "String",
                        "documentation": "Filters access by the tag key-value pairs attached to the resource",
                        "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
                    },
                    "aws:RequestTag/${TagKey}": {
                        "type": "String",
                        "documentation": "Filters access by the tag key-value pairs in the request",
                        "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
                    },
                    "aws:TagKeys": {
                        "type": "ArrayOfString",
                        "documentation": "Filters access by the tag keys in the request",
                        "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
                    }
                },
                "aws.iam#supportedPrincipalTypes": [
                    "Root",
                    "IAMUser",
                    "IAMRole",
                    "FederatedUser"
                ],
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "additionalAllowedHeaders": [
                        "Content-Type",
                        "X-Amz-Requested-Operation"
                    ]
                },
                "smithy.api#documentation": "<p>Amazon CloudWatch Internet Monitor provides visibility into how internet issues impact the performance and availability \n\t\t\tbetween your applications hosted on Amazon Web Services and your end users. It can reduce the time it takes for you to diagnose \n\t\t\tinternet issues from days to minutes. Internet Monitor uses the connectivity data that Amazon Web Services captures from its global \n\t\t\tnetworking footprint to calculate a baseline of performance and availability for internet traffic. This \n\t\t\tis the same data that Amazon Web Services uses to monitor internet uptime and availability. With those measurements \n\t\t\tas a baseline, Internet Monitor raises awareness for you when there are significant problems for your \n\t\t\tend users in the different geographic locations where your application runs.</p>\n         <p>Internet Monitor publishes internet measurements to CloudWatch Logs and CloudWatch Metrics, \n\t\t\tto easily support using CloudWatch tools with health information for geographies and networks specific to your application.\n\t\t\tInternet Monitor sends health events to Amazon EventBridge so that you can set up notifications. If an issue is caused by the Amazon Web Services network, \n\t\t\tyou also automatically receive an Amazon Web Services Health Dashboard notification with the steps that Amazon Web Services is taking to mitigate the problem.</p>\n         <p>To use Internet Monitor, you create a <i>monitor</i> and associate your application's resources \n\t\t\twith it - VPCs, NLBs, CloudFront distributions, or WorkSpaces directories - so Internet Monitor can determine \n\t\t\twhere your application's internet traffic is. Internet Monitor then provides internet measurements from Amazon Web Services that are specific to \n\t\t\tthe locations and ASNs (typically, internet service providers or ISPs) that communicate with your application.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-InternetMonitor.html\">Using Amazon CloudWatch Internet Monitor</a> in the <i>Amazon CloudWatch User Guide</i>.</p>",
                "smithy.api#title": "Amazon CloudWatch Internet Monitor",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://internetmonitor-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
[...]
