{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.iotjobsdataplane#ApproximateSecondsBeforeTimedOut": {
            "type": "long"
        },
        "com.amazonaws.iotjobsdataplane#BinaryBlob": {
            "type": "blob"
        },
        "com.amazonaws.iotjobsdataplane#BinaryParameterValue": {
            "type": "blob",
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.iotjobsdataplane#BooleanParameterValue": {
            "type": "boolean"
        },
        "com.amazonaws.iotjobsdataplane#CertificateValidationException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.iotjobsdataplane#errorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the exception.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The certificate is invalid.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.iotjobsdataplane#ClientRequestTokenV2": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\x21-\\x7E]+$"
            }
        },
        "com.amazonaws.iotjobsdataplane#CommandArn": {
            "type": "string"
        },
        "com.amazonaws.iotjobsdataplane#CommandExecutionId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
            }
        },
        "com.amazonaws.iotjobsdataplane#CommandExecutionParameterMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.iotjobsdataplane#CommandParameterName"
            },
            "value": {
                "target": "com.amazonaws.iotjobsdataplane#CommandParameterValue"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.iotjobsdataplane#CommandExecutionTimeoutInSeconds": {
            "type": "long",
            "traits": {
                "smithy.api#range": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.iotjobsdataplane#CommandParameterName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 192
                },
                "smithy.api#pattern": "^[.$a-zA-Z0-9_-]+$"
            }
        },
        "com.amazonaws.iotjobsdataplane#CommandParameterValue": {
            "type": "structure",
            "members": {
                "S": {
                    "target": "com.amazonaws.iotjobsdataplane#StringParameterValue",
                    "traits": {
                        "smithy.api#documentation": "<p>An attribute of type String. For example:</p>\n         <p>\n            <code>\"S\": \"Hello\"</code>\n         </p>"
                    }
                },
                "B": {
                    "target": "com.amazonaws.iotjobsdataplane#BooleanParameterValue",
                    "traits": {
                        "smithy.api#documentation": "<p>An attribute of type Boolean. For example:</p>\n         <p>\n            <code>\"BOOL\": true</code>\n         </p>"
                    }
                },
                "I": {
                    "target": "com.amazonaws.iotjobsdataplane#IntegerParameterValue",
                    "traits": {
                        "smithy.api#documentation": "<p>An attribute of type Integer (Thirty-Two Bits).</p>"
                    }
                },
                "L": {
                    "target": "com.amazonaws.iotjobsdataplane#LongParameterValue",
                    "traits": {
                        "smithy.api#documentation": "<p>An attribute of type Long.</p>"
                    }
                },
                "D": {
                    "target": "com.amazonaws.iotjobsdataplane#DoubleParameterValue",
                    "traits": {
                        "smithy.api#documentation": "<p>An attribute of type Double (Sixty-Four Bits).</p>"
                    }
                },
                "BIN": {
                    "target": "com.amazonaws.iotjobsdataplane#BinaryParameterValue",
                    "traits": {
                        "smithy.api#documentation": "<p>An attribute of type Binary.</p>"
                    }
                },
                "UL": {
                    "target": "com.amazonaws.iotjobsdataplane#UnsignedLongParameterValue",
                    "traits": {
                        "smithy.api#documentation": "<p>An attribute of type Unsigned Long.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The list of values used to describe a specific command parameter.</p>"
            }
        },
        "com.amazonaws.iotjobsdataplane#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.iotjobsdataplane#errorMessage"
                },
                "resourceId": {
                    "target": "com.amazonaws.iotjobsdataplane#resourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>A conflict occurred while performing the API request on the resource ID.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A conflict has occurred when performing the API request.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.iotjobsdataplane#DescribeJobExecution": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotjobsdataplane#DescribeJobExecutionRequest"
            },
            "output": {
                "target": "com.amazonaws.iotjobsdataplane#DescribeJobExecutionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotjobsdataplane#CertificateValidationException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#TerminalStateException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Gets details of a job execution.</p>\n         <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">DescribeJobExecution</a> action.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/things/{thingName}/jobs/{jobId}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.iotjobsdataplane#DescribeJobExecutionJobId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-zA-Z0-9_-]+|^\\$next$"
            }
        },
        "com.amazonaws.iotjobsdataplane#DescribeJobExecutionRequest": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.iotjobsdataplane#DescribeJobExecutionJobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier assigned to this job when it was created.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "thingName": {
                    "target": "com.amazonaws.iotjobsdataplane#ThingName",
                    "traits": {
                        "smithy.api#documentation": "<p>The thing name associated with the device the job execution is running on.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "includeJobDocument": {
                    "target": "com.amazonaws.iotjobsdataplane#IncludeJobDocument",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional. Unless set to false, the response contains the job document. The default is\n         true.</p>",
                        "smithy.api#httpQuery": "includeJobDocument"
                    }
                },
                "executionNumber": {
                    "target": "com.amazonaws.iotjobsdataplane#ExecutionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional. A number that identifies a particular job execution on a particular device.\n         If not specified, the latest job execution is returned.</p>",
                        "smithy.api#httpQuery": "executionNumber"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotjobsdataplane#DescribeJobExecutionResponse": {
            "type": "structure",
            "members": {
                "execution": {
                    "target": "com.amazonaws.iotjobsdataplane#JobExecution",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains data about a job execution.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotjobsdataplane#DetailsKey": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9:_-]+$"
            }
        },
        "com.amazonaws.iotjobsdataplane#DetailsMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.iotjobsdataplane#DetailsKey"
            },
            "value": {
                "target": "com.amazonaws.iotjobsdataplane#DetailsValue"
            }
        },
        "com.amazonaws.iotjobsdataplane#DetailsValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1
                },
                "smithy.api#pattern": "^[^\\p{C}]+$"
            }
        },
        "com.amazonaws.iotjobsdataplane#DoubleParameterValue": {
            "type": "double"
        },
        "com.amazonaws.iotjobsdataplane#ExecutionNumber": {
            "type": "long"
        },
        "com.amazonaws.iotjobsdataplane#ExpectedVersion": {
            "type": "long"
        },
        "com.amazonaws.iotjobsdataplane#GetPendingJobExecutions": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotjobsdataplane#GetPendingJobExecutionsRequest"
            },
            "output": {
                "target": "com.amazonaws.iotjobsdataplane#GetPendingJobExecutionsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotjobsdataplane#CertificateValidationException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Gets the list of all jobs for a thing that are not in a terminal status.</p>\n         <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">GetPendingJobExecutions</a> action.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/things/{thingName}/jobs",
                    "code": 200
                }
            }
        },
        "com.amazonaws.iotjobsdataplane#GetPendingJobExecutionsRequest": {
            "type": "structure",
            "members": {
                "thingName": {
                    "target": "com.amazonaws.iotjobsdataplane#ThingName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the thing that is executing the job.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotjobsdataplane#GetPendingJobExecutionsResponse": {
            "type": "structure",
            "members": {
                "inProgressJobs": {
                    "target": "com.amazonaws.iotjobsdataplane#JobExecutionSummaryList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of JobExecutionSummary objects with status IN_PROGRESS.</p>"
                    }
                },
                "queuedJobs": {
                    "target": "com.amazonaws.iotjobsdataplane#JobExecutionSummaryList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of JobExecutionSummary objects with status QUEUED.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotjobsdataplane#IncludeExecutionState": {
            "type": "boolean"
        },
        "com.amazonaws.iotjobsdataplane#IncludeJobDocument": {
            "type": "boolean"
        },
        "com.amazonaws.iotjobsdataplane#IntegerParameterValue": {
            "type": "integer"
        },
        "com.amazonaws.iotjobsdataplane#InternalServerException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.iotjobsdataplane#errorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An internal server error occurred when performing the API request.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "com.amazonaws.iotjobsdataplane#InvalidRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.iotjobsdataplane#errorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>The message for the exception.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The contents of the request were invalid.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.iotjobsdataplane#InvalidStateTransitionException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.iotjobsdataplane#errorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An update attempted to change the job execution to a state that is invalid because of\n         the job execution's current state (for example, an attempt to change a request in state\n         SUCCESS to state IN_PROGRESS). In this case, the body of the error message also contains\n         the executionState field.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.iotjobsdataplane#IotLaserThingJobManagerExternalService": {
            "type": "service",
            "version": "2017-09-29",
            "operations": [
                {
                    "target": "com.amazonaws.iotjobsdataplane#DescribeJobExecution"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#GetPendingJobExecutions"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#StartCommandExecution"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#StartNextPendingJobExecution"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#UpdateJobExecution"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "IoT Jobs Data Plane",
                    "arnNamespace": "iot-jobs-data",
                    "cloudFormationName": "IoTJobsDataPlane",
                    "cloudTrailEventSource": "iotjobsdataplane.amazonaws.com",
                    "docId": "iot-jobs-data-2017-09-29",
                    "endpointPrefix": "data.jobs.iot"
                },
                "aws.auth#sigv4": {
                    "name": "iot-jobs-data"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>IoT Jobs is a service that allows you to define a set of jobs — remote operations\n         that are sent to and executed on one or more devices connected to Amazon Web Services IoT Core. For example,\n         you can define a job that instructs a set of devices to download and install application or\n         firmware updates, reboot, rotate certificates, or perform remote troubleshooting\n         operations.</p>\n         <p>Find the endpoint address for actions in the IoT jobs data plane by running this\n         CLI command:</p>\n         <p>\n            <code>aws iot describe-endpoint --endpoint-type iot:Jobs</code>\n         </p>\n         <p>The service name used by <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Amazon Web Services\n            Signature Version 4</a> to sign requests is:\n         <i>iot-jobs-data</i>.</p>\n         <p> To create a job, you make a job document which is a description of the remote\n         operations to be performed, and you specify a list of targets that should perform the\n         operations. The targets can be individual things, thing groups or both.</p>\n         <p> IoT Jobs sends a message to inform the targets that a job is available. The target\n         starts the execution of the job by downloading the job document, performing the operations\n         it specifies, and reporting its progress to Amazon Web Services IoT Core. The Jobs service provides commands\n         to track the progress of a job on a specific target and for all the targets of the\n         job</p>",
                "smithy.api#title": "AWS IoT Jobs Data Plane",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://data.jobs.iot-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://data.jobs.iot-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://data.jobs.iot.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://data.jobs.iot.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot-fips.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "me-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot-fips.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot-fips.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot-fips.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.cn-northwest-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot-fips.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.jobs.iot.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.iotjobsdataplane#JobDocument": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 32768
                }
            }
        },
        "com.amazonaws.iotjobsdataplane#JobExecution": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.iotjobsdataplane#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier you assigned to this job when it was created.</p>"
                    }
                },
                "thingName": {
                    "target": "com.amazonaws.iotjobsdataplane#ThingName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the thing that is executing the job.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.iotjobsdataplane#JobExecutionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the job execution. Can be one of: \"QUEUED\", \"IN_PROGRESS\", \"FAILED\",\n         \"SUCCESS\", \"CANCELED\", \"TIMED_OUT\", \"REJECTED\", or \"REMOVED\".</p>"
                    }
                },
                "statusDetails": {
                    "target": "com.amazonaws.iotjobsdataplane#DetailsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A collection of name/value pairs that describe the status of the job\n         execution.</p>\n         <p>The maximum length of the value in the name/value pair is 1,024 characters.</p>"
                    }
                },
                "queuedAt": {
                    "target": "com.amazonaws.iotjobsdataplane#QueuedAt",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The time, in seconds since the epoch, when the job execution was enqueued.</p>"
                    }
                },
                "startedAt": {
                    "target": "com.amazonaws.iotjobsdataplane#StartedAt",
                    "traits": {
                        "smithy.api#documentation": "<p>The time, in seconds since the epoch, when the job execution was started.</p>"
                    }
                },
                "lastUpdatedAt": {
                    "target": "com.amazonaws.iotjobsdataplane#LastUpdatedAt",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The time, in seconds since the epoch, when the job execution was last updated.\n      </p>"
                    }
                },
                "approximateSecondsBeforeTimedOut": {
                    "target": "com.amazonaws.iotjobsdataplane#ApproximateSecondsBeforeTimedOut",
                    "traits": {
                        "smithy.api#documentation": "<p>The estimated number of seconds that remain before the job execution status will be\n         changed to <code>TIMED_OUT</code>. The actual job execution timeout can occur up to 60\n         seconds later than the estimated duration.</p>"
                    }
                },
                "versionNumber": {
                    "target": "com.amazonaws.iotjobsdataplane#VersionNumber",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The version of the job execution. Job execution versions are incremented each time\n         they are updated by a device.</p>"
                    }
                },
                "executionNumber": {
                    "target": "com.amazonaws.iotjobsdataplane#ExecutionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>A number that identifies a particular job execution on a particular device. It can be\n         used later in commands that return or update job execution information.</p>"
                    }
                },
                "jobDocument": {
                    "target": "com.amazonaws.iotjobsdataplane#JobDocument",
                    "traits": {
                        "smithy.api#documentation": "<p>The content of the job document.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains data about a job execution.</p>"
            }
        },
        "com.amazonaws.iotjobsdataplane#JobExecutionState": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "com.amazonaws.iotjobsdataplane#JobExecutionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the job execution. Can be one of: \"QUEUED\", \"IN_PROGRESS\", \"FAILED\",\n         \"SUCCESS\", \"CANCELED\", \"TIMED_OUT\", \"REJECTED\", or \"REMOVED\".</p>"
                    }
                },
                "statusDetails": {
                    "target": "com.amazonaws.iotjobsdataplane#DetailsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A collection of name/value pairs that describe the status of the job\n         execution.</p>\n         <p>The maximum length of the value in the name/value pair is 1,024 characters.</p>"
                    }
                },
                "versionNumber": {
                    "target": "com.amazonaws.iotjobsdataplane#VersionNumber",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The version of the job execution. Job execution versions are incremented each time\n         they are updated by a device.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains data about the state of a job execution.</p>"
            }
        },
        "com.amazonaws.iotjobsdataplane#JobExecutionStatus": {
            "type": "enum",
            "members": {
                "QUEUED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "QUEUED"
                    }
                },
                "IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IN_PROGRESS"
                    }
                },
                "SUCCEEDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUCCEEDED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "TIMED_OUT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TIMED_OUT"
                    }
                },
                "REJECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REJECTED"
                    }
                },
                "REMOVED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REMOVED"
                    }
                },
                "CANCELED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CANCELED"
                    }
                }
            }
        },
        "com.amazonaws.iotjobsdataplane#JobExecutionSummary": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.iotjobsdataplane#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier you assigned to this job when it was created.</p>"
                    }
                },
                "queuedAt": {
                    "target": "com.amazonaws.iotjobsdataplane#QueuedAt",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The time, in seconds since the epoch, when the job execution was enqueued.</p>"
                    }
                },
                "startedAt": {
                    "target": "com.amazonaws.iotjobsdataplane#StartedAt",
                    "traits": {
                        "smithy.api#documentation": "<p>The time, in seconds since the epoch, when the job execution started.</p>"
                    }
                },
                "lastUpdatedAt": {
                    "target": "com.amazonaws.iotjobsdataplane#LastUpdatedAt",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The time, in seconds since the epoch, when the job execution was last\n         updated.</p>"
                    }
                },
                "versionNumber": {
                    "target": "com.amazonaws.iotjobsdataplane#VersionNumber",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The version of the job execution. Job execution versions are incremented each time\n         IoT Jobs receives an update from a device.</p>"
                    }
                },
                "executionNumber": {
                    "target": "com.amazonaws.iotjobsdataplane#ExecutionNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>A number that identifies a particular job execution on a particular device.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains a subset of information about a job execution.</p>"
            }
        },
        "com.amazonaws.iotjobsdataplane#JobExecutionSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.iotjobsdataplane#JobExecutionSummary"
            }
        },
        "com.amazonaws.iotjobsdataplane#JobId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
            }
        },
        "com.amazonaws.iotjobsdataplane#LastUpdatedAt": {
            "type": "long",
            "traits": {
                "smithy.api#default": 0
            }
        },
        "com.amazonaws.iotjobsdataplane#LongParameterValue": {
            "type": "long"
        },
        "com.amazonaws.iotjobsdataplane#QueuedAt": {
            "type": "long",
            "traits": {
                "smithy.api#default": 0
            }
        },
        "com.amazonaws.iotjobsdataplane#ResourceNotFoundException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.iotjobsdataplane#errorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>The message for the exception.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The specified resource does not exist.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.amazonaws.iotjobsdataplane#ServiceQuotaExceededException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.iotjobsdataplane#errorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The service quota has been exceeded for this request.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 402
            }
        },
        "com.amazonaws.iotjobsdataplane#ServiceUnavailableException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.iotjobsdataplane#errorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>The message for the exception.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The service is temporarily unavailable.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 503
            }
        },
        "com.amazonaws.iotjobsdataplane#StartCommandExecution": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotjobsdataplane#StartCommandExecutionRequest"
            },
            "output": {
                "target": "com.amazonaws.iotjobsdataplane#StartCommandExecutionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotjobsdataplane#ConflictException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#InternalServerException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Using the command created with the <code>CreateCommand</code> API, start a command\n         execution on a specific device.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/command-executions",
                    "code": 200
                }
            }
        },
        "com.amazonaws.iotjobsdataplane#StartCommandExecutionRequest": {
            "type": "structure",
            "members": {
                "targetArn": {
                    "target": "com.amazonaws.iotjobsdataplane#TargetArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the device where the command execution is\n         occurring.</p>",
                        "smithy.api#required": {}
                    }
                },
                "commandArn": {
                    "target": "com.amazonaws.iotjobsdataplane#CommandArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the command. For example,\n            <code>arn:aws:iot:<region>:<accountid>:command/<commandName></code>\n         </p>",
                        "smithy.api#required": {}
                    }
                },
                "parameters": {
                    "target": "com.amazonaws.iotjobsdataplane#CommandExecutionParameterMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of parameters that are required by the <code>StartCommandExecution</code> API\n         when performing the command on a device.</p>"
                    }
                },
                "executionTimeoutSeconds": {
                    "target": "com.amazonaws.iotjobsdataplane#CommandExecutionTimeoutInSeconds",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the amount of time in second the device has to finish the command execution. A\n         timer is started as soon as the command execution is created. If the command execution\n         status is not set to another terminal state before the timer expires, it will automatically\n         update to <code>TIMED_OUT</code>.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.iotjobsdataplane#ClientRequestTokenV2",
                    "traits": {
                        "smithy.api#documentation": "<p>The client token is used to implement idempotency. It ensures that the request completes\n         no more than one time. If you retry a request with the same token and the same parameters,\n         the request will complete successfully. However, if you retry the request using the same\n         token but different parameters, an HTTP 409 conflict occurs. If you omit this value, Amazon Web Services\n         SDKs will automatically generate a unique client request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotjobsdataplane#StartCommandExecutionResponse": {
            "type": "structure",
            "members": {
                "executionId": {
                    "target": "com.amazonaws.iotjobsdataplane#CommandExecutionId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier for the command execution.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotjobsdataplane#StartNextPendingJobExecution": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotjobsdataplane#StartNextPendingJobExecutionRequest"
            },
            "output": {
                "target": "com.amazonaws.iotjobsdataplane#StartNextPendingJobExecutionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotjobsdataplane#CertificateValidationException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Gets and starts the next pending (status IN_PROGRESS or QUEUED) job execution for a\n         thing.</p>\n         <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">StartNextPendingJobExecution</a> action.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/things/{thingName}/jobs/$next",
                    "code": 200
                }
            }
        },
        "com.amazonaws.iotjobsdataplane#StartNextPendingJobExecutionRequest": {
            "type": "structure",
            "members": {
                "thingName": {
                    "target": "com.amazonaws.iotjobsdataplane#ThingName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the thing associated with the device.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "statusDetails": {
                    "target": "com.amazonaws.iotjobsdataplane#DetailsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A collection of name/value pairs that describe the status of the job execution. If\n         not specified, the statusDetails are unchanged.</p>\n         <p>The maximum length of the value in the name/value pair is 1,024 characters.</p>"
                    }
                },
                "stepTimeoutInMinutes": {
                    "target": "com.amazonaws.iotjobsdataplane#StepTimeoutInMinutes",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the amount of time this device has to finish execution of this job. If the job\n         execution status is not set to a terminal state before this timer expires, or before the\n         timer is reset (by calling <code>UpdateJobExecution</code>, setting the status to\n            <code>IN_PROGRESS</code>, and specifying a new timeout value in field\n            <code>stepTimeoutInMinutes</code>) the job execution status will be automatically set to\n            <code>TIMED_OUT</code>. Note that setting the step timeout has no effect on the in\n         progress timeout that may have been specified when the job was created\n            (<code>CreateJob</code> using field <code>timeoutConfig</code>).</p>\n         <p>Valid values for this parameter range from 1 to 10080 (1 minute to 7 days).</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotjobsdataplane#StartNextPendingJobExecutionResponse": {
            "type": "structure",
            "members": {
                "execution": {
                    "target": "com.amazonaws.iotjobsdataplane#JobExecution",
                    "traits": {
                        "smithy.api#documentation": "<p>A JobExecution object.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotjobsdataplane#StartedAt": {
            "type": "long"
        },
        "com.amazonaws.iotjobsdataplane#StepTimeoutInMinutes": {
            "type": "long"
        },
        "com.amazonaws.iotjobsdataplane#StringParameterValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.iotjobsdataplane#TargetArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.iotjobsdataplane#TerminalStateException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.iotjobsdataplane#errorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The job is in a terminal state.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 410
            }
        },
        "com.amazonaws.iotjobsdataplane#ThingName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9:_-]+$"
            }
        },
        "com.amazonaws.iotjobsdataplane#ThrottlingException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.iotjobsdataplane#errorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>The message associated with the exception.</p>"
                    }
                },
                "payload": {
                    "target": "com.amazonaws.iotjobsdataplane#BinaryBlob",
                    "traits": {
                        "smithy.api#documentation": "<p>The payload associated with the exception.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The rate exceeds the limit.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 429
            }
        },
        "com.amazonaws.iotjobsdataplane#UnsignedLongParameterValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 20
                },
                "smithy.api#pattern": "^[0-9]*$"
            }
        },
        "com.amazonaws.iotjobsdataplane#UpdateJobExecution": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotjobsdataplane#UpdateJobExecutionRequest"
            },
            "output": {
                "target": "com.amazonaws.iotjobsdataplane#UpdateJobExecutionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotjobsdataplane#CertificateValidationException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#InvalidStateTransitionException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotjobsdataplane#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Updates the status of a job execution.</p>\n         <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiotjobsdataplane.html\">UpdateJobExecution</a> action.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/things/{thingName}/jobs/{jobId}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.iotjobsdataplane#UpdateJobExecutionRequest": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.iotjobsdataplane#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier assigned to this job when it was created.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "thingName": {
                    "target": "com.amazonaws.iotjobsdataplane#ThingName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the thing associated with the device.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.iotjobsdataplane#JobExecutionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The new status for the job execution (IN_PROGRESS, FAILED, SUCCESS, or REJECTED).\n         This must be specified on every update.</p>",
                        "smithy.api#required": {}
                    }
                },
                "statusDetails": {
                    "target": "com.amazonaws.iotjobsdataplane#DetailsMap",
                    "traits": {
                        "smithy.api#documentation": "<p> Optional. A collection of name/value pairs that describe the status of the job\n         execution. If not specified, the statusDetails are unchanged.</p>\n         <p>The maximum length of the value in the name/value pair is 1,024 characters.</p>"
                    }
                },
                "stepTimeoutInMinutes": {
                    "target": "com.amazonaws.iotjobsdataplane#StepTimeoutInMinutes",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the amount of time this device has to finish execution of this job. If the job\n         execution status is not set to a terminal state before this timer expires, or before the\n         timer is reset (by again calling <code>UpdateJobExecution</code>, setting the status to\n            <code>IN_PROGRESS</code>, and specifying a new timeout value in this field) the job\n         execution status will be automatically set to <code>TIMED_OUT</code>. Note that setting or\n         resetting the step timeout has no effect on the in progress timeout that may have been\n         specified when the job was created (<code>CreateJob</code> using field\n            <code>timeoutConfig</code>).</p>\n         <p>Valid values for this parameter range from 1 to 10080 (1 minute to 7 days). A value of\n         -1 is also valid and will cancel the current step timer (created by an earlier use of\n            <code>UpdateJobExecutionRequest</code>).</p>"
                    }
                },
                "expectedVersion": {
                    "target": "com.amazonaws.iotjobsdataplane#ExpectedVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional. The expected current version of the job execution. Each time you update the\n         job execution, its version is incremented. If the version of the job execution stored in\n         Jobs does not match, the update is rejected with a VersionMismatch error, and an\n         ErrorResponse that contains the current job execution status data is returned. (This makes\n         it unnecessary to perform a separate DescribeJobExecution request in order to obtain the\n         job execution status data.)</p>"
                    }
                },
                "includeJobExecutionState": {
                    "target": "com.amazonaws.iotjobsdataplane#IncludeExecutionState",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional. When included and set to true, the response contains the JobExecutionState\n         data. The default is false.</p>"
                    }
                },
                "includeJobDocument": {
                    "target": "com.amazonaws.iotjobsdataplane#IncludeJobDocument",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional. When set to true, the response contains the job document. The default is\n         false.</p>"
                    }
                },
                "executionNumber": {
[...]
