{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.ioteventsdata#AcknowledgeActionConfiguration": {
            "type": "structure",
            "members": {
                "note": {
                    "target": "com.amazonaws.ioteventsdata#Note",
                    "traits": {
                        "smithy.api#documentation": "<p>The note that you can leave when you acknowledge the alarm.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the configuration information of an acknowledge action.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#AcknowledgeAlarmActionRequest": {
            "type": "structure",
            "members": {
                "requestId": {
                    "target": "com.amazonaws.ioteventsdata#RequestId",
                    "traits": {
                        "smithy.api#documentation": "<p>The request ID. Each ID must be unique within each batch.</p>",
                        "smithy.api#required": {}
                    }
                },
                "alarmModelName": {
                    "target": "com.amazonaws.ioteventsdata#AlarmModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm model.</p>",
                        "smithy.api#required": {}
                    }
                },
                "keyValue": {
                    "target": "com.amazonaws.ioteventsdata#KeyValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the key used as a filter to select only the alarms associated with the \n<a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>"
                    }
                },
                "note": {
                    "target": "com.amazonaws.ioteventsdata#Note",
                    "traits": {
                        "smithy.api#documentation": "<p>The note that you can leave when you acknowledge the alarm.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information needed to acknowledge the alarm.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#AcknowledgeAlarmActionRequests": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ioteventsdata#AcknowledgeAlarmActionRequest"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.ioteventsdata#Alarm": {
            "type": "structure",
            "members": {
                "alarmModelName": {
                    "target": "com.amazonaws.ioteventsdata#AlarmModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm model.</p>"
                    }
                },
                "alarmModelVersion": {
                    "target": "com.amazonaws.ioteventsdata#AlarmModelVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the alarm model.</p>"
                    }
                },
                "keyValue": {
                    "target": "com.amazonaws.ioteventsdata#KeyValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the key used as a filter to select only the alarms associated with the \n<a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>"
                    }
                },
                "alarmState": {
                    "target": "com.amazonaws.ioteventsdata#AlarmState",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about the current state of the alarm.</p>"
                    }
                },
                "severity": {
                    "target": "com.amazonaws.ioteventsdata#Severity",
                    "traits": {
                        "smithy.api#documentation": "<p>A non-negative integer that reflects the severity level of the alarm.</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.ioteventsdata#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the alarm was created, in the Unix epoch format.</p>"
                    }
                },
                "lastUpdateTime": {
                    "target": "com.amazonaws.ioteventsdata#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the alarm was last updated, in the Unix epoch format.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about an alarm.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#AlarmModelName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
            }
        },
        "com.amazonaws.ioteventsdata#AlarmModelVersion": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                }
            }
        },
        "com.amazonaws.ioteventsdata#AlarmState": {
            "type": "structure",
            "members": {
                "stateName": {
                    "target": "com.amazonaws.ioteventsdata#AlarmStateName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm state. The state name can be one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DISABLED</code> - When the alarm is in the <code>DISABLED</code> state, \n\t\tit isn't ready to evaluate data. To enable the alarm, \n\t\tyou must change the alarm to the <code>NORMAL</code> state.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NORMAL</code> - When the alarm is in the <code>NORMAL</code> state, \n\t\tit's ready to evaluate data.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTIVE</code> - If the alarm is in the <code>ACTIVE</code> state, \n\t\tthe alarm is invoked.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACKNOWLEDGED</code> - When the alarm is in the <code>ACKNOWLEDGED</code> state, \n\t\tthe alarm was invoked and you acknowledged the alarm.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SNOOZE_DISABLED</code> - When the alarm is in the <code>SNOOZE_DISABLED</code> state, \n\t\tthe alarm is disabled for a specified period of time. After the snooze time, \n\t\tthe alarm automatically changes to the <code>NORMAL</code> state. </p>\n            </li>\n            <li>\n               <p>\n                  <code>LATCHED</code> - When the alarm is in the <code>LATCHED</code> state, \n\t\tthe alarm was invoked. However, the data that the alarm is currently evaluating is within the specified range. \n\t\tTo change the alarm to the <code>NORMAL</code> state, you must acknowledge the alarm.</p>\n            </li>\n         </ul>"
                    }
                },
                "ruleEvaluation": {
                    "target": "com.amazonaws.ioteventsdata#RuleEvaluation",
                    "traits": {
                        "smithy.api#documentation": "<p>Information needed to evaluate data.</p>"
                    }
                },
                "customerAction": {
                    "target": "com.amazonaws.ioteventsdata#CustomerAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about the action that you can take to respond to the alarm.</p>"
                    }
                },
                "systemEvent": {
                    "target": "com.amazonaws.ioteventsdata#SystemEvent",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about alarm state changes.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about the current state of the alarm.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#AlarmStateName": {
            "type": "enum",
            "members": {
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                },
                "NORMAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NORMAL"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "ACKNOWLEDGED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACKNOWLEDGED"
                    }
                },
                "SNOOZE_DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SNOOZE_DISABLED"
                    }
                },
                "LATCHED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LATCHED"
                    }
                }
            }
        },
        "com.amazonaws.ioteventsdata#AlarmSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ioteventsdata#AlarmSummary"
            }
        },
        "com.amazonaws.ioteventsdata#AlarmSummary": {
            "type": "structure",
            "members": {
                "alarmModelName": {
                    "target": "com.amazonaws.ioteventsdata#AlarmModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm model.</p>"
                    }
                },
                "alarmModelVersion": {
                    "target": "com.amazonaws.ioteventsdata#AlarmModelVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the alarm model.</p>"
                    }
                },
                "keyValue": {
                    "target": "com.amazonaws.ioteventsdata#KeyValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the key used as a filter to select only the alarms associated with the \n<a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>"
                    }
                },
                "stateName": {
                    "target": "com.amazonaws.ioteventsdata#AlarmStateName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm state. The state name can be one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DISABLED</code> - When the alarm is in the <code>DISABLED</code> state, \n\t\tit isn't ready to evaluate data. To enable the alarm, \n\t\tyou must change the alarm to the <code>NORMAL</code> state.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NORMAL</code> - When the alarm is in the <code>NORMAL</code> state, \n\t\tit's ready to evaluate data.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTIVE</code> - If the alarm is in the <code>ACTIVE</code> state, \n\t\tthe alarm is invoked.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACKNOWLEDGED</code> - When the alarm is in the <code>ACKNOWLEDGED</code> state, \n\t\tthe alarm was invoked and you acknowledged the alarm.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SNOOZE_DISABLED</code> - When the alarm is in the <code>SNOOZE_DISABLED</code> state, \n\t\tthe alarm is disabled for a specified period of time. After the snooze time, \n\t\tthe alarm automatically changes to the <code>NORMAL</code> state. </p>\n            </li>\n            <li>\n               <p>\n                  <code>LATCHED</code> - When the alarm is in the <code>LATCHED</code> state, \n\t\tthe alarm was invoked. However, the data that the alarm is currently evaluating is within the specified range. \n\t\tTo change the alarm to the <code>NORMAL</code> state, you must acknowledge the alarm.</p>\n            </li>\n         </ul>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.ioteventsdata#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the alarm was created, in the Unix epoch format.</p>"
                    }
                },
                "lastUpdateTime": {
                    "target": "com.amazonaws.ioteventsdata#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the alarm was last updated, in the Unix epoch format.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains a summary of an alarm.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#BatchAcknowledgeAlarm": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ioteventsdata#BatchAcknowledgeAlarmRequest"
            },
            "output": {
                "target": "com.amazonaws.ioteventsdata#BatchAcknowledgeAlarmResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ioteventsdata#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Acknowledges one or more alarms. The alarms change to the <code>ACKNOWLEDGED</code> state\n      after you acknowledge them.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/alarms/acknowledge",
                    "code": 202
                }
            }
        },
        "com.amazonaws.ioteventsdata#BatchAcknowledgeAlarmRequest": {
            "type": "structure",
            "members": {
                "acknowledgeActionRequests": {
                    "target": "com.amazonaws.ioteventsdata#AcknowledgeAlarmActionRequests",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of acknowledge action requests. You can specify up to 10 requests per operation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchAcknowledgeAlarmResponse": {
            "type": "structure",
            "members": {
                "errorEntries": {
                    "target": "com.amazonaws.ioteventsdata#BatchAlarmActionErrorEntries",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of errors associated with the request, or <code>null</code> if there are no errors. \nEach error entry contains an entry ID that helps you identify the entry that failed.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchAlarmActionErrorEntries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ioteventsdata#BatchAlarmActionErrorEntry"
            }
        },
        "com.amazonaws.ioteventsdata#BatchAlarmActionErrorEntry": {
            "type": "structure",
            "members": {
                "requestId": {
                    "target": "com.amazonaws.ioteventsdata#RequestId",
                    "traits": {
                        "smithy.api#documentation": "<p>The request ID. Each ID must be unique within each batch.</p>"
                    }
                },
                "errorCode": {
                    "target": "com.amazonaws.ioteventsdata#ErrorCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The error code.</p>"
                    }
                },
                "errorMessage": {
                    "target": "com.amazonaws.ioteventsdata#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>A message that describes the error.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains error messages associated with one of the following requests:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_BatchAcknowledgeAlarm.html\">BatchAcknowledgeAlarm</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_BatchDisableAlarm.html\">BatchDisableAlarm</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_BatchEnableAlarm.html\">BatchEnableAlarm</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_BatchResetAlarm.html\">BatchResetAlarm</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_BatchSnoozeAlarm.html\">BatchSnoozeAlarm</a>\n               </p>\n            </li>\n         </ul>"
            }
        },
        "com.amazonaws.ioteventsdata#BatchDeleteDetector": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ioteventsdata#BatchDeleteDetectorRequest"
            },
            "output": {
                "target": "com.amazonaws.ioteventsdata#BatchDeleteDetectorResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ioteventsdata#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes one or more detectors that were created. When a detector is deleted, its state will be cleared and the detector will be removed from the list of detectors. The deleted detector will no longer appear if referenced in the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_ListDetectors.html\">ListDetectors</a> API call.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/detectors/delete",
                    "code": 200
                }
            }
        },
        "com.amazonaws.ioteventsdata#BatchDeleteDetectorErrorEntries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ioteventsdata#BatchDeleteDetectorErrorEntry"
            }
        },
        "com.amazonaws.ioteventsdata#BatchDeleteDetectorErrorEntry": {
            "type": "structure",
            "members": {
                "messageId": {
                    "target": "com.amazonaws.ioteventsdata#MessageId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the message that caused the error. (See the value of the <code>\"messageId\"</code> in the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_BatchDeleteDetector.html#iotevents-iotevents-data_BatchDeleteDetector-request-detectors\">detectors</a> object of the <code>DeleteDetectorRequest</code>.)</p>"
                    }
                },
                "errorCode": {
                    "target": "com.amazonaws.ioteventsdata#ErrorCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The error code.</p>"
                    }
                },
                "errorMessage": {
                    "target": "com.amazonaws.ioteventsdata#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>A message that describes the error.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains error messages associated with the deletion request.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#BatchDeleteDetectorRequest": {
            "type": "structure",
            "members": {
                "detectors": {
                    "target": "com.amazonaws.ioteventsdata#DeleteDetectorRequests",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of one or more detectors to be deleted.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchDeleteDetectorResponse": {
            "type": "structure",
            "members": {
                "batchDeleteDetectorErrorEntries": {
                    "target": "com.amazonaws.ioteventsdata#BatchDeleteDetectorErrorEntries",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of errors associated with the request, or an empty array (<code>[]</code>) if there are no errors. Each error entry contains a <code>messageId</code> that helps you identify the entry that failed.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchDisableAlarm": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ioteventsdata#BatchDisableAlarmRequest"
            },
            "output": {
                "target": "com.amazonaws.ioteventsdata#BatchDisableAlarmResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ioteventsdata#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Disables one or more alarms. The alarms change to the <code>DISABLED</code> state after\n      you disable them.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/alarms/disable",
                    "code": 202
                }
            }
        },
        "com.amazonaws.ioteventsdata#BatchDisableAlarmRequest": {
            "type": "structure",
            "members": {
                "disableActionRequests": {
                    "target": "com.amazonaws.ioteventsdata#DisableAlarmActionRequests",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of disable action requests. You can specify up to 10 requests per operation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchDisableAlarmResponse": {
            "type": "structure",
            "members": {
                "errorEntries": {
                    "target": "com.amazonaws.ioteventsdata#BatchAlarmActionErrorEntries",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of errors associated with the request, or <code>null</code> if there are no errors. \nEach error entry contains an entry ID that helps you identify the entry that failed.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchEnableAlarm": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ioteventsdata#BatchEnableAlarmRequest"
            },
            "output": {
                "target": "com.amazonaws.ioteventsdata#BatchEnableAlarmResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ioteventsdata#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Enables one or more alarms. The alarms change to the <code>NORMAL</code> state after you\n      enable them.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/alarms/enable",
                    "code": 202
                }
            }
        },
        "com.amazonaws.ioteventsdata#BatchEnableAlarmRequest": {
            "type": "structure",
            "members": {
                "enableActionRequests": {
                    "target": "com.amazonaws.ioteventsdata#EnableAlarmActionRequests",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of enable action requests. You can specify up to 10 requests per operation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchEnableAlarmResponse": {
            "type": "structure",
            "members": {
                "errorEntries": {
                    "target": "com.amazonaws.ioteventsdata#BatchAlarmActionErrorEntries",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of errors associated with the request, or <code>null</code> if there are no errors. \nEach error entry contains an entry ID that helps you identify the entry that failed.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchPutMessage": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ioteventsdata#BatchPutMessageRequest"
            },
            "output": {
                "target": "com.amazonaws.ioteventsdata#BatchPutMessageResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ioteventsdata#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Sends a set of messages to the IoT Events system. Each message payload is transformed into\n      the input you specify (<code>\"inputName\"</code>) and ingested into any detectors that monitor\n      that input. If multiple messages are sent, the order in which the messages are processed isn't\n      guaranteed. To guarantee ordering, you must send messages one at a time and wait for a\n      successful response.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/inputs/messages",
                    "code": 200
                }
            }
        },
        "com.amazonaws.ioteventsdata#BatchPutMessageErrorEntries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ioteventsdata#BatchPutMessageErrorEntry"
            }
        },
        "com.amazonaws.ioteventsdata#BatchPutMessageErrorEntry": {
            "type": "structure",
            "members": {
                "messageId": {
                    "target": "com.amazonaws.ioteventsdata#MessageId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the message that caused the error. (See the value corresponding to the\n        <code>\"messageId\"</code> key in the <code>\"message\"</code> object.)</p>"
                    }
                },
                "errorCode": {
                    "target": "com.amazonaws.ioteventsdata#ErrorCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The error code.</p>"
                    }
                },
                "errorMessage": {
                    "target": "com.amazonaws.ioteventsdata#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>A message that describes the error.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about the errors encountered.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#BatchPutMessageRequest": {
            "type": "structure",
            "members": {
                "messages": {
                    "target": "com.amazonaws.ioteventsdata#Messages",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of messages to send. Each message has the following format: <code>'{ \"messageId\":\n        \"string\", \"inputName\": \"string\", \"payload\": \"string\"}'</code>\n         </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchPutMessageResponse": {
            "type": "structure",
            "members": {
                "BatchPutMessageErrorEntries": {
                    "target": "com.amazonaws.ioteventsdata#BatchPutMessageErrorEntries",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of any errors encountered when sending the messages.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchResetAlarm": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ioteventsdata#BatchResetAlarmRequest"
            },
            "output": {
                "target": "com.amazonaws.ioteventsdata#BatchResetAlarmResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ioteventsdata#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Resets one or more alarms. The alarms return to the <code>NORMAL</code> state after you\n      reset them.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/alarms/reset",
                    "code": 202
                }
            }
        },
        "com.amazonaws.ioteventsdata#BatchResetAlarmRequest": {
            "type": "structure",
            "members": {
                "resetActionRequests": {
                    "target": "com.amazonaws.ioteventsdata#ResetAlarmActionRequests",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of reset action requests. You can specify up to 10 requests per operation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchResetAlarmResponse": {
            "type": "structure",
            "members": {
                "errorEntries": {
                    "target": "com.amazonaws.ioteventsdata#BatchAlarmActionErrorEntries",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of errors associated with the request, or <code>null</code> if there are no errors. \nEach error entry contains an entry ID that helps you identify the entry that failed.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchSnoozeAlarm": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ioteventsdata#BatchSnoozeAlarmRequest"
            },
            "output": {
                "target": "com.amazonaws.ioteventsdata#BatchSnoozeAlarmResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ioteventsdata#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Changes one or more alarms to the snooze mode. The alarms change to the\n        <code>SNOOZE_DISABLED</code> state after you set them to the snooze mode.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/alarms/snooze",
                    "code": 202
                }
            }
        },
        "com.amazonaws.ioteventsdata#BatchSnoozeAlarmRequest": {
            "type": "structure",
            "members": {
                "snoozeActionRequests": {
                    "target": "com.amazonaws.ioteventsdata#SnoozeAlarmActionRequests",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of snooze action requests. You can specify up to 10 requests per operation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchSnoozeAlarmResponse": {
            "type": "structure",
            "members": {
                "errorEntries": {
                    "target": "com.amazonaws.ioteventsdata#BatchAlarmActionErrorEntries",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of errors associated with the request, or <code>null</code> if there are no errors. \nEach error entry contains an entry ID that helps you identify the entry that failed.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchUpdateDetector": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ioteventsdata#BatchUpdateDetectorRequest"
            },
            "output": {
                "target": "com.amazonaws.ioteventsdata#BatchUpdateDetectorResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ioteventsdata#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Updates the state, variable values, and timer settings of one or more detectors\n      (instances) of a specified detector model.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/detectors",
                    "code": 200
                }
            }
        },
        "com.amazonaws.ioteventsdata#BatchUpdateDetectorErrorEntries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ioteventsdata#BatchUpdateDetectorErrorEntry"
            }
        },
        "com.amazonaws.ioteventsdata#BatchUpdateDetectorErrorEntry": {
            "type": "structure",
            "members": {
                "messageId": {
                    "target": "com.amazonaws.ioteventsdata#MessageId",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>\"messageId\"</code> of the update request that caused the error. (The value of\n      the <code>\"messageId\"</code> in the update request <code>\"Detector\"</code> object.)</p>"
                    }
                },
                "errorCode": {
                    "target": "com.amazonaws.ioteventsdata#ErrorCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The error code.</p>"
                    }
                },
                "errorMessage": {
                    "target": "com.amazonaws.ioteventsdata#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>A message that describes the error.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the error that occurred when attempting to update a detector.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#BatchUpdateDetectorRequest": {
            "type": "structure",
            "members": {
                "detectors": {
                    "target": "com.amazonaws.ioteventsdata#UpdateDetectorRequests",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of detectors (instances) to update, along with the values to update.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ioteventsdata#BatchUpdateDetectorResponse": {
            "type": "structure",
            "members": {
                "batchUpdateDetectorErrorEntries": {
                    "target": "com.amazonaws.ioteventsdata#BatchUpdateDetectorErrorEntries",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of those detector updates that resulted in errors. (If an error is listed here, the\n      specific update did not occur.)</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ioteventsdata#ComparisonOperator": {
            "type": "enum",
            "members": {
                "GREATER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GREATER"
                    }
                },
                "GREATER_OR_EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GREATER_OR_EQUAL"
                    }
                },
                "LESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LESS"
                    }
                },
                "LESS_OR_EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LESS_OR_EQUAL"
                    }
                },
                "EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EQUAL"
                    }
                },
                "NOT_EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NOT_EQUAL"
                    }
                }
            }
        },
        "com.amazonaws.ioteventsdata#CustomerAction": {
            "type": "structure",
            "members": {
                "actionName": {
                    "target": "com.amazonaws.ioteventsdata#CustomerActionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the action. The action name can be one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SNOOZE</code> - When you snooze the alarm, the alarm state changes to <code>SNOOZE_DISABLED</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ENABLE</code> - When you enable the alarm, the alarm state changes to <code>NORMAL</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISABLE</code> - When you disable the alarm, the alarm state changes to <code>DISABLED</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACKNOWLEDGE</code> - When you acknowledge the alarm, the alarm state changes to <code>ACKNOWLEDGED</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RESET</code> - When you reset the alarm, the alarm state changes to <code>NORMAL</code>.</p>\n            </li>\n         </ul>\n         <p>For more information, see the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_AlarmState.html\">AlarmState</a> API.</p>"
                    }
                },
                "snoozeActionConfiguration": {
                    "target": "com.amazonaws.ioteventsdata#SnoozeActionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the configuration information of a snooze action.</p>"
                    }
                },
                "enableActionConfiguration": {
                    "target": "com.amazonaws.ioteventsdata#EnableActionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the configuration information of an enable action.</p>"
                    }
                },
                "disableActionConfiguration": {
                    "target": "com.amazonaws.ioteventsdata#DisableActionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the configuration information of a disable action.</p>"
                    }
                },
                "acknowledgeActionConfiguration": {
                    "target": "com.amazonaws.ioteventsdata#AcknowledgeActionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the configuration information of an acknowledge action.</p>"
                    }
                },
                "resetActionConfiguration": {
                    "target": "com.amazonaws.ioteventsdata#ResetActionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the configuration information of a reset action.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about the action that you can take to respond to the alarm.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#CustomerActionName": {
            "type": "enum",
            "members": {
                "SNOOZE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SNOOZE"
                    }
                },
                "ENABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLE"
                    }
                },
                "DISABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLE"
                    }
                },
                "ACKNOWLEDGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACKNOWLEDGE"
                    }
                },
                "RESET": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RESET"
                    }
                }
            }
        },
        "com.amazonaws.ioteventsdata#DeleteDetectorRequest": {
            "type": "structure",
            "members": {
                "messageId": {
                    "target": "com.amazonaws.ioteventsdata#MessageId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID to assign to the <code>DeleteDetectorRequest</code>. Each <code>\"messageId\"</code> must be unique within each batch sent.</p>",
                        "smithy.api#required": {}
                    }
                },
                "detectorModelName": {
                    "target": "com.amazonaws.ioteventsdata#DetectorModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the detector model that was used to create the detector instance.</p>",
                        "smithy.api#required": {}
                    }
                },
                "keyValue": {
                    "target": "com.amazonaws.ioteventsdata#KeyValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateDetectorModel.html#iotevents-CreateDetectorModel-request-key\">key</a> used to identify the detector. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information used to delete the detector model.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#DeleteDetectorRequests": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ioteventsdata#DeleteDetectorRequest"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.ioteventsdata#DescribeAlarm": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ioteventsdata#DescribeAlarmRequest"
            },
            "output": {
                "target": "com.amazonaws.ioteventsdata#DescribeAlarmResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ioteventsdata#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves information about an alarm.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/alarms/{alarmModelName}/keyValues",
                    "code": 200
                }
            }
        },
        "com.amazonaws.ioteventsdata#DescribeAlarmRequest": {
            "type": "structure",
            "members": {
                "alarmModelName": {
                    "target": "com.amazonaws.ioteventsdata#AlarmModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm model.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "keyValue": {
                    "target": "com.amazonaws.ioteventsdata#KeyValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the key used as a filter to select only the alarms associated with the \n<a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
                        "smithy.api#httpQuery": "keyValue"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ioteventsdata#DescribeAlarmResponse": {
            "type": "structure",
            "members": {
                "alarm": {
                    "target": "com.amazonaws.ioteventsdata#Alarm",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about an alarm.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ioteventsdata#DescribeDetector": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ioteventsdata#DescribeDetectorRequest"
            },
            "output": {
                "target": "com.amazonaws.ioteventsdata#DescribeDetectorResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ioteventsdata#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns information about the specified detector (instance).</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/detectors/{detectorModelName}/keyValues",
                    "code": 200
                }
            }
        },
        "com.amazonaws.ioteventsdata#DescribeDetectorRequest": {
            "type": "structure",
            "members": {
                "detectorModelName": {
                    "target": "com.amazonaws.ioteventsdata#DetectorModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the detector model whose detectors (instances) you want information\n      about.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "keyValue": {
                    "target": "com.amazonaws.ioteventsdata#KeyValue",
                    "traits": {
                        "smithy.api#documentation": "<p>A filter used to limit results to detectors (instances) created because of the given key\n      ID.</p>",
                        "smithy.api#httpQuery": "keyValue"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ioteventsdata#DescribeDetectorResponse": {
            "type": "structure",
            "members": {
                "detector": {
                    "target": "com.amazonaws.ioteventsdata#Detector",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the detector (instance).</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ioteventsdata#Detector": {
            "type": "structure",
            "members": {
                "detectorModelName": {
                    "target": "com.amazonaws.ioteventsdata#DetectorModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the detector model that created this detector (instance).</p>"
                    }
                },
                "keyValue": {
                    "target": "com.amazonaws.ioteventsdata#KeyValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the key (identifying the device or system) that caused the creation of this\n      detector (instance).</p>"
                    }
                },
                "detectorModelVersion": {
                    "target": "com.amazonaws.ioteventsdata#DetectorModelVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the detector model that created this detector (instance).</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.ioteventsdata#DetectorState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the detector (instance).</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.ioteventsdata#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the detector (instance) was created.</p>"
                    }
                },
                "lastUpdateTime": {
                    "target": "com.amazonaws.ioteventsdata#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the detector (instance) was last updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the detector (instance).</p>"
            }
        },
        "com.amazonaws.ioteventsdata#DetectorModelName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
            }
        },
        "com.amazonaws.ioteventsdata#DetectorModelVersion": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                }
            }
        },
        "com.amazonaws.ioteventsdata#DetectorState": {
            "type": "structure",
            "members": {
                "stateName": {
                    "target": "com.amazonaws.ioteventsdata#StateName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the state.</p>",
                        "smithy.api#required": {}
                    }
                },
                "variables": {
                    "target": "com.amazonaws.ioteventsdata#Variables",
                    "traits": {
                        "smithy.api#documentation": "<p>The current values of the detector's variables.</p>",
                        "smithy.api#required": {}
                    }
                },
                "timers": {
                    "target": "com.amazonaws.ioteventsdata#Timers",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the detector's timers.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the current state of the detector instance.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#DetectorStateDefinition": {
            "type": "structure",
            "members": {
                "stateName": {
                    "target": "com.amazonaws.ioteventsdata#StateName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the new state of the detector (instance).</p>",
                        "smithy.api#required": {}
                    }
                },
                "variables": {
                    "target": "com.amazonaws.ioteventsdata#VariableDefinitions",
                    "traits": {
                        "smithy.api#documentation": "<p>The new values of the detector's variables. Any variable whose value isn't specified is\n      cleared.</p>",
                        "smithy.api#required": {}
                    }
                },
                "timers": {
                    "target": "com.amazonaws.ioteventsdata#TimerDefinitions",
                    "traits": {
                        "smithy.api#documentation": "<p>The new values of the detector's timers. Any timer whose value isn't specified is cleared,\n      and its timeout event won't occur.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The new state, variable values, and timer settings of the detector (instance).</p>"
            }
        },
        "com.amazonaws.ioteventsdata#DetectorStateSummary": {
            "type": "structure",
            "members": {
                "stateName": {
                    "target": "com.amazonaws.ioteventsdata#StateName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the state.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the detector state.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#DetectorSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ioteventsdata#DetectorSummary"
            }
        },
        "com.amazonaws.ioteventsdata#DetectorSummary": {
            "type": "structure",
            "members": {
                "detectorModelName": {
                    "target": "com.amazonaws.ioteventsdata#DetectorModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the detector model that created this detector (instance).</p>"
                    }
                },
                "keyValue": {
                    "target": "com.amazonaws.ioteventsdata#KeyValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the key (identifying the device or system) that caused the creation of this\n      detector (instance).</p>"
                    }
                },
                "detectorModelVersion": {
                    "target": "com.amazonaws.ioteventsdata#DetectorModelVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the detector model that created this detector (instance).</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.ioteventsdata#DetectorStateSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the detector (instance).</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.ioteventsdata#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the detector (instance) was created.</p>"
                    }
                },
                "lastUpdateTime": {
                    "target": "com.amazonaws.ioteventsdata#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the detector (instance) was last updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the detector (instance).</p>"
            }
        },
        "com.amazonaws.ioteventsdata#DisableActionConfiguration": {
            "type": "structure",
            "members": {
                "note": {
                    "target": "com.amazonaws.ioteventsdata#Note",
                    "traits": {
                        "smithy.api#documentation": "<p>The note that you can leave when you disable the alarm.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the configuration information of a disable action.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#DisableAlarmActionRequest": {
            "type": "structure",
            "members": {
                "requestId": {
                    "target": "com.amazonaws.ioteventsdata#RequestId",
                    "traits": {
                        "smithy.api#documentation": "<p>The request ID. Each ID must be unique within each batch.</p>",
                        "smithy.api#required": {}
                    }
                },
                "alarmModelName": {
                    "target": "com.amazonaws.ioteventsdata#AlarmModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm model.</p>",
                        "smithy.api#required": {}
                    }
                },
                "keyValue": {
                    "target": "com.amazonaws.ioteventsdata#KeyValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the key used as a filter to select only the alarms associated with the \n<a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>"
                    }
                },
                "note": {
                    "target": "com.amazonaws.ioteventsdata#Note",
                    "traits": {
                        "smithy.api#documentation": "<p>The note that you can leave when you disable the alarm.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information used to disable the alarm.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#DisableAlarmActionRequests": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ioteventsdata#DisableAlarmActionRequest"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.ioteventsdata#EnableActionConfiguration": {
            "type": "structure",
            "members": {
                "note": {
                    "target": "com.amazonaws.ioteventsdata#Note",
                    "traits": {
                        "smithy.api#documentation": "<p>The note that you can leave when you enable the alarm.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the configuration information of an enable action.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#EnableAlarmActionRequest": {
            "type": "structure",
            "members": {
                "requestId": {
                    "target": "com.amazonaws.ioteventsdata#RequestId",
                    "traits": {
                        "smithy.api#documentation": "<p>The request ID. Each ID must be unique within each batch.</p>",
                        "smithy.api#required": {}
                    }
                },
                "alarmModelName": {
                    "target": "com.amazonaws.ioteventsdata#AlarmModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm model.</p>",
                        "smithy.api#required": {}
                    }
                },
                "keyValue": {
                    "target": "com.amazonaws.ioteventsdata#KeyValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the key used as a filter to select only the alarms associated with the \n<a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>"
                    }
                },
                "note": {
                    "target": "com.amazonaws.ioteventsdata#Note",
                    "traits": {
                        "smithy.api#documentation": "<p>The note that you can leave when you enable the alarm.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information needed to enable the alarm.</p>"
            }
        },
        "com.amazonaws.ioteventsdata#EnableAlarmActionRequests": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ioteventsdata#EnableAlarmActionRequest"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.ioteventsdata#EphemeralInputName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
            }
        },
        "com.amazonaws.ioteventsdata#EpochMilliTimestamp": {
            "type": "long",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 9223372036854775807
                }
            }
        },
        "com.amazonaws.ioteventsdata#ErrorCode": {
            "type": "enum",
            "members": {
                "ResourceNotFoundException": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ResourceNotFoundException"
                    }
                },
                "InvalidRequestException": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "InvalidRequestException"
                    }
                },
                "InternalFailureException": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "InternalFailureException"
                    }
                },
                "ServiceUnavailableException": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ServiceUnavailableException"
                    }
                },
                "ThrottlingException": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ThrottlingException"
                    }
                }
            }
        },
        "com.amazonaws.ioteventsdata#ErrorMessage": {
            "type": "string"
        },
        "com.amazonaws.ioteventsdata#EventType": {
            "type": "enum",
            "members": {
                "STATE_CHANGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STATE_CHANGE"
                    }
                }
            }
        },
        "com.amazonaws.ioteventsdata#InputPropertyValue": {
            "type": "string"
        },
        "com.amazonaws.ioteventsdata#InternalFailureException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.ioteventsdata#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>The message for the exception.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An internal failure occurred.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "com.amazonaws.ioteventsdata#InvalidRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.ioteventsdata#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>The message for the exception.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request was invalid.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.ioteventsdata#IotColumboDataService": {
            "type": "service",
            "version": "2018-10-23",
            "operations": [
                {
                    "target": "com.amazonaws.ioteventsdata#BatchAcknowledgeAlarm"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#BatchDeleteDetector"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#BatchDisableAlarm"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#BatchEnableAlarm"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#BatchPutMessage"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#BatchResetAlarm"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#BatchSnoozeAlarm"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#BatchUpdateDetector"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#DescribeAlarm"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#DescribeDetector"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ListAlarms"
                },
                {
                    "target": "com.amazonaws.ioteventsdata#ListDetectors"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "IoT Events Data",
                    "arnNamespace": "ioteventsdata",
                    "cloudFormationName": "IoTEventsData",
                    "cloudTrailEventSource": "ioteventsdata.amazonaws.com",
                    "docId": "iotevents-data-2018-10-23",
                    "endpointPrefix": "data.iotevents"
                },
                "aws.auth#sigv4": {
                    "name": "ioteventsdata"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>IoT Events monitors your equipment or device fleets for failures or changes in operation, and\n      triggers actions when such events occur. You can use IoT Events Data API commands to send inputs to\n      detectors, list detectors, and view or update a detector's status.</p>\n         <p> For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/what-is-iotevents.html\">What is IoT Events?</a> in the\n        <i>IoT Events Developer Guide</i>.</p>",
                "smithy.api#title": "AWS IoT Events Data",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://data.iotevents-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://data.iotevents-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://data.iotevents.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://data.iotevents.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.iotevents-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.iotevents-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.iotevents.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.iotevents.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.iotevents-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.iotevents-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://data.iotevents.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
[...]
