{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.iotevents#AcknowledgeFlow": {
            "type": "structure",
            "members": {
                "enabled": {
                    "target": "com.amazonaws.iotevents#AcknowledgeFlowEnabled",
                    "traits": {
                        "smithy.api#documentation": "<p>The value must be <code>TRUE</code> or <code>FALSE</code>. If <code>TRUE</code>, you\n      receive a notification when the alarm state changes. You must choose to acknowledge the\n      notification before the alarm state can return to <code>NORMAL</code>. If <code>FALSE</code>,\n      you won't receive notifications. The alarm automatically changes to the <code>NORMAL</code>\n      state when the input property value returns to the specified range.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies whether to get notified for alarm state changes.</p>"
            }
        },
        "com.amazonaws.iotevents#AcknowledgeFlowEnabled": {
            "type": "boolean"
        },
        "com.amazonaws.iotevents#Action": {
            "type": "structure",
            "members": {
                "setVariable": {
                    "target": "com.amazonaws.iotevents#SetVariableAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Sets a variable to a specified value.</p>"
                    }
                },
                "sns": {
                    "target": "com.amazonaws.iotevents#SNSTopicPublishAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Sends an Amazon SNS message.</p>"
                    }
                },
                "iotTopicPublish": {
                    "target": "com.amazonaws.iotevents#IotTopicPublishAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>"
                    }
                },
                "setTimer": {
                    "target": "com.amazonaws.iotevents#SetTimerAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Information needed to set the timer.</p>"
                    }
                },
                "clearTimer": {
                    "target": "com.amazonaws.iotevents#ClearTimerAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Information needed to clear the timer.</p>"
                    }
                },
                "resetTimer": {
                    "target": "com.amazonaws.iotevents#ResetTimerAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Information needed to reset the timer.</p>"
                    }
                },
                "lambda": {
                    "target": "com.amazonaws.iotevents#LambdaAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Calls a Lambda function, passing in information about the detector model instance and the\n      event that triggered the action.</p>"
                    }
                },
                "iotEvents": {
                    "target": "com.amazonaws.iotevents#IotEventsAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Sends AWS IoT Events input, which passes information about the detector model instance and the\n      event that triggered the action.</p>"
                    }
                },
                "sqs": {
                    "target": "com.amazonaws.iotevents#SqsAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Sends information about the detector model instance and the event that triggered the\n      action to an Amazon SQS queue.</p>"
                    }
                },
                "firehose": {
                    "target": "com.amazonaws.iotevents#FirehoseAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Sends information about the detector model instance and the event that triggered the\n      action to an Amazon Kinesis Data Firehose delivery stream.</p>"
                    }
                },
                "dynamoDB": {
                    "target": "com.amazonaws.iotevents#DynamoDBAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Writes to the DynamoDB table that you created. The default action payload contains all\n      attribute-value pairs that have the information about the detector model instance and the\n      event that triggered the action. You can customize the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_Payload.html\">payload</a>. One column of the\n      DynamoDB table receives all attribute-value pairs in the payload that you specify. For more\n      information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-event-actions.html\">Actions</a> in\n        <i>AWS IoT Events Developer Guide</i>.</p>"
                    }
                },
                "dynamoDBv2": {
                    "target": "com.amazonaws.iotevents#DynamoDBv2Action",
                    "traits": {
                        "smithy.api#documentation": "<p>Writes to the DynamoDB table that you created. The default action payload contains all\n      attribute-value pairs that have the information about the detector model instance and the\n      event that triggered the action. You can customize the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_Payload.html\">payload</a>. A separate column of\n      the DynamoDB table receives one attribute-value pair in the payload that you specify. For more\n      information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-event-actions.html\">Actions</a> in\n        <i>AWS IoT Events Developer Guide</i>.</p>"
                    }
                },
                "iotSiteWise": {
                    "target": "com.amazonaws.iotevents#IotSiteWiseAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Sends information about the detector model instance and the event that triggered the\n      action to an asset property in AWS IoT SiteWise .</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An action to be performed when the <code>condition</code> is TRUE.</p>"
            }
        },
        "com.amazonaws.iotevents#Actions": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.iotevents#Action"
            }
        },
        "com.amazonaws.iotevents#AlarmAction": {
            "type": "structure",
            "members": {
                "sns": {
                    "target": "com.amazonaws.iotevents#SNSTopicPublishAction"
                },
                "iotTopicPublish": {
                    "target": "com.amazonaws.iotevents#IotTopicPublishAction"
                },
                "lambda": {
                    "target": "com.amazonaws.iotevents#LambdaAction"
                },
                "iotEvents": {
                    "target": "com.amazonaws.iotevents#IotEventsAction"
                },
                "sqs": {
                    "target": "com.amazonaws.iotevents#SqsAction"
                },
                "firehose": {
                    "target": "com.amazonaws.iotevents#FirehoseAction"
                },
                "dynamoDB": {
                    "target": "com.amazonaws.iotevents#DynamoDBAction"
                },
                "dynamoDBv2": {
                    "target": "com.amazonaws.iotevents#DynamoDBv2Action"
                },
                "iotSiteWise": {
                    "target": "com.amazonaws.iotevents#IotSiteWiseAction"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies one of the following actions to receive notifications when the alarm state\n      changes.</p>"
            }
        },
        "com.amazonaws.iotevents#AlarmActions": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.iotevents#AlarmAction"
            }
        },
        "com.amazonaws.iotevents#AlarmCapabilities": {
            "type": "structure",
            "members": {
                "initializationConfiguration": {
                    "target": "com.amazonaws.iotevents#InitializationConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the default alarm state. \nThe configuration applies to all alarms that were created based on this alarm model.</p>"
                    }
                },
                "acknowledgeFlow": {
                    "target": "com.amazonaws.iotevents#AcknowledgeFlow",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether to get notified for alarm state changes.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the configuration information of alarm state changes.</p>"
            }
        },
        "com.amazonaws.iotevents#AlarmEventActions": {
            "type": "structure",
            "members": {
                "alarmActions": {
                    "target": "com.amazonaws.iotevents#AlarmActions",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies one or more supported actions to receive notifications when the alarm state\n      changes.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about one or more alarm actions.</p>"
            }
        },
        "com.amazonaws.iotevents#AlarmModelArn": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AlarmModelDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.iotevents#AlarmModelName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
            }
        },
        "com.amazonaws.iotevents#AlarmModelSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.iotevents#AlarmModelSummary"
            }
        },
        "com.amazonaws.iotevents#AlarmModelSummary": {
            "type": "structure",
            "members": {
                "creationTime": {
                    "target": "com.amazonaws.iotevents#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the alarm model was created, in the Unix epoch format.</p>"
                    }
                },
                "alarmModelDescription": {
                    "target": "com.amazonaws.iotevents#AlarmModelDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the alarm model.</p>"
                    }
                },
                "alarmModelName": {
                    "target": "com.amazonaws.iotevents#AlarmModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm model.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains a summary of an alarm model.</p>"
            }
        },
        "com.amazonaws.iotevents#AlarmModelVersion": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                }
            }
        },
        "com.amazonaws.iotevents#AlarmModelVersionStatus": {
            "type": "enum",
            "members": {
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "ACTIVATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVATING"
                    }
                },
                "INACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INACTIVE"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.iotevents#AlarmModelVersionSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.iotevents#AlarmModelVersionSummary"
            }
        },
        "com.amazonaws.iotevents#AlarmModelVersionSummary": {
            "type": "structure",
            "members": {
                "alarmModelName": {
                    "target": "com.amazonaws.iotevents#AlarmModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm model.</p>"
                    }
                },
                "alarmModelArn": {
                    "target": "com.amazonaws.iotevents#AlarmModelArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the alarm model. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>"
                    }
                },
                "alarmModelVersion": {
                    "target": "com.amazonaws.iotevents#AlarmModelVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the alarm model.</p>"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.iotevents#AmazonResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM role that allows the alarm to perform actions and access AWS resources. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.iotevents#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the alarm model was created, in the Unix epoch format.</p>"
                    }
                },
                "lastUpdateTime": {
                    "target": "com.amazonaws.iotevents#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the alarm model was last updated, in the Unix epoch format.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.iotevents#AlarmModelVersionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the alarm model. The status can be one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ACTIVE</code> - The alarm model is active and it's ready to evaluate data.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTIVATING</code> - AWS IoT Events is activating your alarm model. \n        Activating an alarm model can take up to a few minutes.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INACTIVE</code> - The alarm model is inactive, so it isn't ready to evaluate data. \n\t  Check your alarm model information and update the alarm model.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - You couldn't create or update the alarm model. Check your alarm model information \n        and try again.</p>\n            </li>\n         </ul>"
                    }
                },
                "statusMessage": {
                    "target": "com.amazonaws.iotevents#StatusMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>\n      Contains information about the status of the alarm model version.\n    </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains a summary of an alarm model version.</p>"
            }
        },
        "com.amazonaws.iotevents#AlarmNotification": {
            "type": "structure",
            "members": {
                "notificationActions": {
                    "target": "com.amazonaws.iotevents#NotificationActions",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the notification settings of an alarm model. \nThe settings apply to all alarms that were created based on this alarm model.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about one or more notification actions.</p>"
            }
        },
        "com.amazonaws.iotevents#AlarmRule": {
            "type": "structure",
            "members": {
                "simpleRule": {
                    "target": "com.amazonaws.iotevents#SimpleRule",
                    "traits": {
                        "smithy.api#documentation": "<p>A rule that compares an input property value to a threshold value with a comparison operator.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines when your alarm is invoked.</p>"
            }
        },
        "com.amazonaws.iotevents#AmazonResourceName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.iotevents#AnalysisId": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AnalysisMessage": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AnalysisResult": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.iotevents#AnalysisType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the analysis result. Analyses fall into the following types based on the\n      validators used to generate the analysis result:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>supported-actions</code> - You must specify AWS IoT Events supported actions that work\n          with other AWS services in a supported AWS Region.</p>\n            </li>\n            <li>\n               <p>\n                  <code>service-limits</code> - Resources or API operations can't exceed service\n          quotas (also known as limits). Update your detector model or request a quota\n          increase.</p>\n            </li>\n            <li>\n               <p>\n                  <code>structure</code> - The detector model must follow a structure that AWS IoT Events\n          supports. </p>\n            </li>\n            <li>\n               <p>\n                  <code>expression-syntax</code> - Your expression must follow the required\n          syntax.</p>\n            </li>\n            <li>\n               <p>\n                  <code>data-type</code> - Data types referenced in the detector model must be\n          compatible.</p>\n            </li>\n            <li>\n               <p>\n                  <code>referenced-data</code> - You must define the data referenced in your detector\n          model before you can use the data.</p>\n            </li>\n            <li>\n               <p>\n                  <code>referenced-resource</code> - Resources that the detector model uses must be\n          available.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-analyze-api.html\">Running detector model\n        analyses</a> in the <i>AWS IoT Events Developer Guide</i>.</p>"
                    }
                },
                "level": {
                    "target": "com.amazonaws.iotevents#AnalysisResultLevel",
                    "traits": {
                        "smithy.api#documentation": "<p>The severity level of the analysis result. Based on the severity level, analysis results\n      fall into three general categories:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>INFO</code> - An information result tells you about a significant field in your\n          detector model. This type of result usually doesn't require immediate action.</p>\n            </li>\n            <li>\n               <p>\n                  <code>WARNING</code> - A warning result draws special attention to fields that might cause issues for your detector model. \n          We recommend that you review warnings and take necessary actions\n          before you use your detector model in production environments. Otherwise, the detector\n          model might not work as expected.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ERROR</code> - An error result notifies you about a problem found in your\n          detector model. You must fix all errors before you can publish your detector model.</p>\n            </li>\n         </ul>"
                    }
                },
                "message": {
                    "target": "com.amazonaws.iotevents#AnalysisMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains additional information about the analysis result.</p>"
                    }
                },
                "locations": {
                    "target": "com.amazonaws.iotevents#AnalysisResultLocations",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains one or more locations that you can use to locate the fields in your detector\n      model that the analysis result references.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the result of the analysis.</p>"
            }
        },
        "com.amazonaws.iotevents#AnalysisResultLevel": {
            "type": "enum",
            "members": {
                "INFO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INFO"
                    }
                },
                "WARNING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "WARNING"
                    }
                },
                "ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR"
                    }
                }
            }
        },
        "com.amazonaws.iotevents#AnalysisResultLocation": {
            "type": "structure",
            "members": {
                "path": {
                    "target": "com.amazonaws.iotevents#AnalysisResultLocationPath",
                    "traits": {
                        "smithy.api#documentation": "<p>A <a href=\"https://github.com/json-path/JsonPath\">JsonPath</a> expression that\n      identifies the error field in your detector model.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information that you can use to locate the field in your detector model that the\n      analysis result references.</p>"
            }
        },
        "com.amazonaws.iotevents#AnalysisResultLocationPath": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AnalysisResultLocations": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.iotevents#AnalysisResultLocation"
            }
        },
        "com.amazonaws.iotevents#AnalysisResults": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.iotevents#AnalysisResult"
            }
        },
        "com.amazonaws.iotevents#AnalysisStatus": {
            "type": "enum",
            "members": {
                "RUNNING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RUNNING"
                    }
                },
                "COMPLETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETE"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.iotevents#AnalysisType": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AssetId": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AssetModelId": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AssetPropertyAlias": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AssetPropertyBooleanValue": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AssetPropertyDoubleValue": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AssetPropertyEntryId": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AssetPropertyId": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AssetPropertyIntegerValue": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AssetPropertyOffsetInNanos": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AssetPropertyQuality": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AssetPropertyStringValue": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AssetPropertyTimeInSeconds": {
            "type": "string"
        },
        "com.amazonaws.iotevents#AssetPropertyTimestamp": {
            "type": "structure",
            "members": {
                "timeInSeconds": {
                    "target": "com.amazonaws.iotevents#AssetPropertyTimeInSeconds",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp, in seconds, in the Unix epoch format. The valid range is between\n      1-31556889864403199.</p>",
                        "smithy.api#required": {}
                    }
                },
                "offsetInNanos": {
                    "target": "com.amazonaws.iotevents#AssetPropertyOffsetInNanos",
                    "traits": {
                        "smithy.api#documentation": "<p>The nanosecond offset converted from <code>timeInSeconds</code>. The valid range is\n      between 0-999999999.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains timestamp information. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_TimeInNanos.html\">TimeInNanos</a> in the <i>AWS IoT SiteWise API Reference</i>.</p>\n         <p>You must use expressions for all parameters in <code>AssetPropertyTimestamp</code>. The\n      expressions accept literals, operators, functions, references, and substitution\n      templates.</p>\n         <p class=\"title\">\n            <b>Examples</b>\n         </p>\n         <ul>\n            <li>\n               <p>For literal values, the expressions must contain single quotes. For example, the value\n          for the <code>timeInSeconds</code> parameter can be <code>'1586400675'</code>.</p>\n            </li>\n            <li>\n               <p>For references, you must specify either variables or input values. For example, the\n          value for the <code>offsetInNanos</code> parameter can be\n          <code>$variable.time</code>.</p>\n            </li>\n            <li>\n               <p>For a substitution template, you must use <code>${}</code>, and the template must be\n          in single quotes. A substitution template can also contain a combination of literals,\n          operators, functions, references, and substitution templates.</p>\n               <p>In the following example, the value for the <code>timeInSeconds</code> parameter uses\n          a substitution template.</p>\n               <p>\n                  <code>'${$input.TemperatureInput.sensorData.timestamp / 1000}'</code>\n               </p>\n            </li>\n         </ul>\n         <p>For more information, \n        see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-expressions.html\">Expressions</a> \n        in the <i>AWS IoT Events Developer Guide</i>.</p>"
            }
        },
        "com.amazonaws.iotevents#AssetPropertyValue": {
            "type": "structure",
            "members": {
                "value": {
                    "target": "com.amazonaws.iotevents#AssetPropertyVariant",
                    "traits": {
                        "smithy.api#documentation": "<p>The value to send to an asset property.</p>"
                    }
                },
                "timestamp": {
                    "target": "com.amazonaws.iotevents#AssetPropertyTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp associated with the asset property value. The default is the current event\n      time.</p>"
                    }
                },
                "quality": {
                    "target": "com.amazonaws.iotevents#AssetPropertyQuality",
                    "traits": {
                        "smithy.api#documentation": "<p>The quality of the asset property value. The value must be <code>'GOOD'</code>,\n        <code>'BAD'</code>, or <code>'UNCERTAIN'</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains value information. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_AssetPropertyValue.html\">AssetPropertyValue</a> in the <i>AWS IoT SiteWise API Reference</i>.</p>\n         <p>You must use expressions for all parameters in <code>AssetPropertyValue</code>. The\n      expressions accept literals, operators, functions, references, and substitution\n      templates.</p>\n         <p class=\"title\">\n            <b>Examples</b>\n         </p>\n         <ul>\n            <li>\n               <p>For literal values, the expressions must contain single quotes. For example, the value\n          for the <code>quality</code> parameter can be <code>'GOOD'</code>.</p>\n            </li>\n            <li>\n               <p>For references, you must specify either variables or input values. For example, the\n          value for the <code>quality</code> parameter can be\n            <code>$input.TemperatureInput.sensorData.quality</code>.</p>\n            </li>\n         </ul>\n         <p>For more information, \n        see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-expressions.html\">Expressions</a> \n        in the <i>AWS IoT Events Developer Guide</i>.</p>"
            }
        },
        "com.amazonaws.iotevents#AssetPropertyVariant": {
            "type": "structure",
            "members": {
                "stringValue": {
                    "target": "com.amazonaws.iotevents#AssetPropertyStringValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The asset property value is a string. You must use an expression, and the evaluated result\n      should be a string.</p>"
                    }
                },
                "integerValue": {
                    "target": "com.amazonaws.iotevents#AssetPropertyIntegerValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The asset property value is an integer. You must use an expression, and the evaluated\n      result should be an integer.</p>"
                    }
                },
                "doubleValue": {
                    "target": "com.amazonaws.iotevents#AssetPropertyDoubleValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The asset property value is a double. You must use an expression, and the evaluated result\n      should be a double.</p>"
                    }
                },
                "booleanValue": {
                    "target": "com.amazonaws.iotevents#AssetPropertyBooleanValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The asset property value is a Boolean value that must be <code>'TRUE'</code> or\n        <code>'FALSE'</code>. You must use an expression, and the evaluated result should be a\n      Boolean value.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains an asset property value. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_Variant.html\">Variant</a>\n      in the <i>AWS IoT SiteWise API Reference</i>.</p>\n         <p>You must use expressions for all parameters in <code>AssetPropertyVariant</code>. The\n      expressions accept literals, operators, functions, references, and substitution\n      templates.</p>\n         <p class=\"title\">\n            <b>Examples</b>\n         </p>\n         <ul>\n            <li>\n               <p>For literal values, the expressions must contain single quotes. For example, the value\n          for the <code>integerValue</code> parameter can be <code>'100'</code>.</p>\n            </li>\n            <li>\n               <p>For references, you must specify either variables or parameters. For example, the\n          value for the <code>booleanValue</code> parameter can be\n          <code>$variable.offline</code>.</p>\n            </li>\n            <li>\n               <p>For a substitution template, you must use <code>${}</code>, and the template must be\n          in single quotes. A substitution template can also contain a combination of literals,\n          operators, functions, references, and substitution templates. </p>\n               <p>In the following example, the value for the <code>doubleValue</code> parameter uses a\n          substitution template. </p>\n               <p>\n                  <code>'${$input.TemperatureInput.sensorData.temperature * 6 / 5 + 32}'</code>\n               </p>\n            </li>\n         </ul>\n         <p>For more information, \n        see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-expressions.html\">Expressions</a> \n        in the <i>AWS IoT Events Developer Guide</i>.</p>\n         <p>You must specify one of the following value types, depending on the <code>dataType</code>\n      of the specified asset property. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_AssetProperty.html\">AssetProperty</a> in the\n        <i>AWS IoT SiteWise API Reference</i>.</p>"
            }
        },
        "com.amazonaws.iotevents#Attribute": {
            "type": "structure",
            "members": {
                "jsonPath": {
                    "target": "com.amazonaws.iotevents#AttributeJsonPath",
                    "traits": {
                        "smithy.api#documentation": "<p>An expression that specifies an attribute-value pair in a JSON structure. Use this to\n      specify an attribute from the JSON payload that is made available by the input. Inputs are\n      derived from messages sent to AWS IoT Events (<code>BatchPutMessage</code>). Each such message contains\n      a JSON payload. The attribute (and its paired value) specified here are available for use in\n      the <code>condition</code> expressions used by detectors. </p>\n         <p>Syntax: <code><field-name>.<field-name>...</code>\n         </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The attributes from the JSON payload that are made available by the input. Inputs are\n      derived from messages sent to the AWS IoT Events system using <code>BatchPutMessage</code>. Each such\n      message contains a JSON payload. Those attributes (and their paired values) specified here are\n      available for use in the <code>condition</code> expressions used by detectors. </p>"
            }
        },
        "com.amazonaws.iotevents#AttributeJsonPath": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^((`[\\w\\- ]+`)|([\\w\\-]+))(\\.((`[\\w- ]+`)|([\\w\\-]+)))*$"
            }
        },
        "com.amazonaws.iotevents#Attributes": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.iotevents#Attribute"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 200
                }
            }
        },
        "com.amazonaws.iotevents#ClearTimerAction": {
            "type": "structure",
            "members": {
                "timerName": {
                    "target": "com.amazonaws.iotevents#TimerName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the timer to clear.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information needed to clear the timer.</p>"
            }
        },
        "com.amazonaws.iotevents#ComparisonOperator": {
            "type": "enum",
            "members": {
                "GREATER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GREATER"
                    }
                },
                "GREATER_OR_EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GREATER_OR_EQUAL"
                    }
                },
                "LESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LESS"
                    }
                },
                "LESS_OR_EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LESS_OR_EQUAL"
                    }
                },
                "EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EQUAL"
                    }
                },
                "NOT_EQUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NOT_EQUAL"
                    }
                }
            }
        },
        "com.amazonaws.iotevents#Condition": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 512
                }
            }
        },
        "com.amazonaws.iotevents#ContentExpression": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.iotevents#CreateAlarmModel": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotevents#CreateAlarmModelRequest"
            },
            "output": {
                "target": "com.amazonaws.iotevents#CreateAlarmModelResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotevents#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.iotevents#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotevents#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceAlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.iotevents#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotevents#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an alarm model to monitor an AWS IoT Events input attribute. You can use the alarm to get\n      notified when the value is outside a specified range. For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/create-alarms.html\">Create an\n        alarm model</a> in the <i>AWS IoT Events Developer Guide</i>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/alarm-models",
                    "code": 200
                }
            }
        },
        "com.amazonaws.iotevents#CreateAlarmModelRequest": {
            "type": "structure",
            "members": {
                "alarmModelName": {
                    "target": "com.amazonaws.iotevents#AlarmModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name that helps you identify the alarm model. You can't change this name after\n      you create the alarm model.</p>",
                        "smithy.api#required": {}
                    }
                },
                "alarmModelDescription": {
                    "target": "com.amazonaws.iotevents#AlarmModelDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description that tells you what the alarm model detects.</p>"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.iotevents#AmazonResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM role that allows the alarm to perform actions and access AWS resources. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.iotevents#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of key-value pairs that contain metadata for the alarm model. The tags help you\n      manage the alarm model. For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/tagging-iotevents.html\">Tagging your AWS IoT Events\n        resources</a> in the <i>AWS IoT Events Developer Guide</i>.</p>\n         <p>You can create up to 50 tags for one alarm model.</p>"
                    }
                },
                "key": {
                    "target": "com.amazonaws.iotevents#AttributeJsonPath",
                    "traits": {
                        "smithy.api#documentation": "<p>An input attribute used as a key to create an alarm. \nAWS IoT Events routes <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_Input.html\">inputs</a> \nassociated with this key to the alarm.</p>"
                    }
                },
                "severity": {
                    "target": "com.amazonaws.iotevents#Severity",
                    "traits": {
                        "smithy.api#documentation": "<p>A non-negative integer that reflects the severity level of the alarm.</p>"
                    }
                },
                "alarmRule": {
                    "target": "com.amazonaws.iotevents#AlarmRule",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines when your alarm is invoked.</p>",
                        "smithy.api#required": {}
                    }
                },
                "alarmNotification": {
                    "target": "com.amazonaws.iotevents#AlarmNotification",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about one or more notification actions.</p>"
                    }
                },
                "alarmEventActions": {
                    "target": "com.amazonaws.iotevents#AlarmEventActions",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about one or more alarm actions.</p>"
                    }
                },
                "alarmCapabilities": {
                    "target": "com.amazonaws.iotevents#AlarmCapabilities",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the configuration information of alarm state changes.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotevents#CreateAlarmModelResponse": {
            "type": "structure",
            "members": {
                "creationTime": {
                    "target": "com.amazonaws.iotevents#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the alarm model was created, in the Unix epoch format.</p>"
                    }
                },
                "alarmModelArn": {
                    "target": "com.amazonaws.iotevents#AlarmModelArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the alarm model. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>"
                    }
                },
                "alarmModelVersion": {
                    "target": "com.amazonaws.iotevents#AlarmModelVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the alarm model.</p>"
                    }
                },
                "lastUpdateTime": {
                    "target": "com.amazonaws.iotevents#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the alarm model was last updated, in the Unix epoch format.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.iotevents#AlarmModelVersionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the alarm model. The status can be one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ACTIVE</code> - The alarm model is active and it's ready to evaluate data.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTIVATING</code> - AWS IoT Events is activating your alarm model. \n        Activating an alarm model can take up to a few minutes.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INACTIVE</code> - The alarm model is inactive, so it isn't ready to evaluate data. \n\t  Check your alarm model information and update the alarm model.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - You couldn't create or update the alarm model. Check your alarm model information \n        and try again.</p>\n            </li>\n         </ul>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotevents#CreateDetectorModel": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotevents#CreateDetectorModelRequest"
            },
            "output": {
                "target": "com.amazonaws.iotevents#CreateDetectorModelResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotevents#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.iotevents#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotevents#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceAlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.iotevents#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotevents#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a detector model.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/detector-models",
                    "code": 200
                }
            }
        },
        "com.amazonaws.iotevents#CreateDetectorModelRequest": {
            "type": "structure",
            "members": {
                "detectorModelName": {
                    "target": "com.amazonaws.iotevents#DetectorModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the detector model.</p>",
                        "smithy.api#required": {}
                    }
                },
                "detectorModelDefinition": {
                    "target": "com.amazonaws.iotevents#DetectorModelDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>Information that defines how the detectors operate.</p>",
                        "smithy.api#required": {}
                    }
                },
                "detectorModelDescription": {
                    "target": "com.amazonaws.iotevents#DetectorModelDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A brief description of the detector model.</p>"
                    }
                },
                "key": {
                    "target": "com.amazonaws.iotevents#AttributeJsonPath",
                    "traits": {
                        "smithy.api#documentation": "<p>The input attribute key used to identify a device or system to create a detector (an\n      instance of the detector model) and then to route each input received to the appropriate\n      detector (instance). This parameter uses a JSON-path expression in the message payload of each\n      input to specify the attribute-value pair that is used to identify the device associated with\n      the input.</p>"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.iotevents#AmazonResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the role that grants permission to AWS IoT Events to perform its operations.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.iotevents#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>Metadata that can be used to manage the detector model.</p>"
                    }
                },
                "evaluationMethod": {
                    "target": "com.amazonaws.iotevents#EvaluationMethod",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the order in which events are evaluated and how actions are executed.\n    </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotevents#CreateDetectorModelResponse": {
            "type": "structure",
            "members": {
                "detectorModelConfiguration": {
                    "target": "com.amazonaws.iotevents#DetectorModelConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about how the detector model is configured.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotevents#CreateInput": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotevents#CreateInputRequest"
            },
            "output": {
                "target": "com.amazonaws.iotevents#CreateInputResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotevents#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.iotevents#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceAlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.iotevents#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotevents#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an input.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/inputs",
                    "code": 201
                }
            }
        },
        "com.amazonaws.iotevents#CreateInputRequest": {
            "type": "structure",
            "members": {
                "inputName": {
                    "target": "com.amazonaws.iotevents#InputName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name you want to give to the input.</p>",
                        "smithy.api#required": {}
                    }
                },
                "inputDescription": {
                    "target": "com.amazonaws.iotevents#InputDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A brief description of the input.</p>"
                    }
                },
                "inputDefinition": {
                    "target": "com.amazonaws.iotevents#InputDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>The definition of the input.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.iotevents#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>Metadata that can be used to manage the input.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotevents#CreateInputResponse": {
            "type": "structure",
            "members": {
                "inputConfiguration": {
                    "target": "com.amazonaws.iotevents#InputConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the configuration of the input.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotevents#DeleteAlarmModel": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotevents#DeleteAlarmModelRequest"
            },
            "output": {
                "target": "com.amazonaws.iotevents#DeleteAlarmModelResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotevents#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.iotevents#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.iotevents#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotevents#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an alarm model. Any alarm instances that were created based on this alarm model\n      are also deleted. This action can't be undone.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/alarm-models/{alarmModelName}",
                    "code": 204
                }
            }
        },
        "com.amazonaws.iotevents#DeleteAlarmModelRequest": {
            "type": "structure",
            "members": {
                "alarmModelName": {
                    "target": "com.amazonaws.iotevents#AlarmModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm model.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotevents#DeleteAlarmModelResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotevents#DeleteDetectorModel": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotevents#DeleteDetectorModelRequest"
            },
            "output": {
                "target": "com.amazonaws.iotevents#DeleteDetectorModelResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotevents#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.iotevents#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.iotevents#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotevents#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a detector model. Any active instances of the detector model are also\n      deleted.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/detector-models/{detectorModelName}",
                    "code": 204
                }
            }
        },
        "com.amazonaws.iotevents#DeleteDetectorModelRequest": {
            "type": "structure",
            "members": {
                "detectorModelName": {
                    "target": "com.amazonaws.iotevents#DetectorModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the detector model to be deleted.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotevents#DeleteDetectorModelResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotevents#DeleteInput": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotevents#DeleteInputRequest"
            },
            "output": {
                "target": "com.amazonaws.iotevents#DeleteInputResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotevents#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.iotevents#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.iotevents#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotevents#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an input.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/inputs/{inputName}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.iotevents#DeleteInputRequest": {
            "type": "structure",
            "members": {
                "inputName": {
                    "target": "com.amazonaws.iotevents#InputName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the input to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotevents#DeleteInputResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotevents#DeliveryStreamName": {
            "type": "string"
        },
        "com.amazonaws.iotevents#DescribeAlarmModel": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotevents#DescribeAlarmModelRequest"
            },
            "output": {
                "target": "com.amazonaws.iotevents#DescribeAlarmModelResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotevents#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.iotevents#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.iotevents#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotevents#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves information about an alarm model. If you don't specify a value for the\n        <code>alarmModelVersion</code> parameter, the latest version is returned.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/alarm-models/{alarmModelName}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.iotevents#DescribeAlarmModelRequest": {
            "type": "structure",
            "members": {
                "alarmModelName": {
                    "target": "com.amazonaws.iotevents#AlarmModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm model.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "alarmModelVersion": {
                    "target": "com.amazonaws.iotevents#AlarmModelVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the alarm model.</p>",
                        "smithy.api#httpQuery": "version"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotevents#DescribeAlarmModelResponse": {
            "type": "structure",
            "members": {
                "creationTime": {
                    "target": "com.amazonaws.iotevents#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the alarm model was created, in the Unix epoch format.</p>"
                    }
                },
                "alarmModelArn": {
                    "target": "com.amazonaws.iotevents#AlarmModelArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the alarm model. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>"
                    }
                },
                "alarmModelVersion": {
                    "target": "com.amazonaws.iotevents#AlarmModelVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the alarm model.</p>"
                    }
                },
                "lastUpdateTime": {
                    "target": "com.amazonaws.iotevents#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the alarm model was last updated, in the Unix epoch format.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.iotevents#AlarmModelVersionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the alarm model. The status can be one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ACTIVE</code> - The alarm model is active and it's ready to evaluate data.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTIVATING</code> - AWS IoT Events is activating your alarm model. \n        Activating an alarm model can take up to a few minutes.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INACTIVE</code> - The alarm model is inactive, so it isn't ready to evaluate data. \n\t  Check your alarm model information and update the alarm model.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - You couldn't create or update the alarm model. Check your alarm model information \n        and try again.</p>\n            </li>\n         </ul>"
                    }
                },
                "statusMessage": {
                    "target": "com.amazonaws.iotevents#StatusMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>\n      Contains information about the status of the alarm model.\n    </p>"
                    }
                },
                "alarmModelName": {
                    "target": "com.amazonaws.iotevents#AlarmModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm model.</p>"
                    }
                },
                "alarmModelDescription": {
                    "target": "com.amazonaws.iotevents#AlarmModelDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the alarm model.</p>"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.iotevents#AmazonResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM role that allows the alarm to perform actions and access AWS resources. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>"
                    }
                },
                "key": {
                    "target": "com.amazonaws.iotevents#AttributeJsonPath",
                    "traits": {
                        "smithy.api#documentation": "<p>An input attribute used as a key to create an alarm. \nAWS IoT Events routes <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_Input.html\">inputs</a> \nassociated with this key to the alarm.</p>"
                    }
                },
                "severity": {
                    "target": "com.amazonaws.iotevents#Severity",
                    "traits": {
                        "smithy.api#documentation": "<p>A non-negative integer that reflects the severity level of the alarm.</p>"
                    }
                },
                "alarmRule": {
                    "target": "com.amazonaws.iotevents#AlarmRule",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines when your alarm is invoked.</p>"
                    }
                },
                "alarmNotification": {
                    "target": "com.amazonaws.iotevents#AlarmNotification",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about one or more notification actions.</p>"
                    }
                },
                "alarmEventActions": {
                    "target": "com.amazonaws.iotevents#AlarmEventActions",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about one or more alarm actions.</p>"
                    }
                },
                "alarmCapabilities": {
                    "target": "com.amazonaws.iotevents#AlarmCapabilities",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the configuration information of alarm state changes.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotevents#DescribeDetectorModel": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotevents#DescribeDetectorModelRequest"
            },
            "output": {
                "target": "com.amazonaws.iotevents#DescribeDetectorModelResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotevents#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.iotevents#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.iotevents#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotevents#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes a detector model. If the <code>version</code> parameter is not specified,\n      information about the latest version is returned.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/detector-models/{detectorModelName}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.iotevents#DescribeDetectorModelAnalysis": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotevents#DescribeDetectorModelAnalysisRequest"
            },
            "output": {
                "target": "com.amazonaws.iotevents#DescribeDetectorModelAnalysisResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotevents#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.iotevents#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.iotevents#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotevents#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves runtime information about a detector model analysis.</p>\n         <note>\n            <p>After AWS IoT Events starts analyzing your detector model, you have up to 24 hours to retrieve the analysis results.</p>\n         </note>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/analysis/detector-models/{analysisId}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.iotevents#DescribeDetectorModelAnalysisRequest": {
            "type": "structure",
            "members": {
                "analysisId": {
                    "target": "com.amazonaws.iotevents#AnalysisId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the analysis result that you want to retrieve.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotevents#DescribeDetectorModelAnalysisResponse": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "com.amazonaws.iotevents#AnalysisStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the analysis activity. The status can be one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>RUNNING</code> - AWS IoT Events is analyzing your detector model. This process can take\n          several minutes to complete.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETE</code> - AWS IoT Events finished analyzing your detector model.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - AWS IoT Events couldn't analyze your detector model. Try again\n          later.</p>\n            </li>\n         </ul>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotevents#DescribeDetectorModelRequest": {
            "type": "structure",
            "members": {
                "detectorModelName": {
                    "target": "com.amazonaws.iotevents#DetectorModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the detector model.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "detectorModelVersion": {
                    "target": "com.amazonaws.iotevents#DetectorModelVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the detector model.</p>",
                        "smithy.api#httpQuery": "version"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotevents#DescribeDetectorModelResponse": {
            "type": "structure",
            "members": {
                "detectorModel": {
                    "target": "com.amazonaws.iotevents#DetectorModel",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the detector model.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotevents#DescribeInput": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotevents#DescribeInputRequest"
            },
            "output": {
                "target": "com.amazonaws.iotevents#DescribeInputResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotevents#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.iotevents#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.iotevents#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotevents#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes an input.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/inputs/{inputName}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.iotevents#DescribeInputRequest": {
            "type": "structure",
            "members": {
                "inputName": {
                    "target": "com.amazonaws.iotevents#InputName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the input.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotevents#DescribeInputResponse": {
            "type": "structure",
            "members": {
                "input": {
                    "target": "com.amazonaws.iotevents#Input",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the input.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotevents#DescribeLoggingOptions": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.iotevents#DescribeLoggingOptionsRequest"
            },
            "output": {
                "target": "com.amazonaws.iotevents#DescribeLoggingOptionsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.iotevents#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.iotevents#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.iotevents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.iotevents#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.iotevents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.iotevents#UnsupportedOperationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the current settings of the AWS IoT Events logging options.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/logging",
                    "code": 200
                }
            }
        },
        "com.amazonaws.iotevents#DescribeLoggingOptionsRequest": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.iotevents#DescribeLoggingOptionsResponse": {
            "type": "structure",
            "members": {
                "loggingOptions": {
                    "target": "com.amazonaws.iotevents#LoggingOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>The current settings of the AWS IoT Events logging options.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.iotevents#DetectorDebugOption": {
            "type": "structure",
            "members": {
                "detectorModelName": {
                    "target": "com.amazonaws.iotevents#DetectorModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the detector model.</p>",
                        "smithy.api#required": {}
                    }
                },
                "keyValue": {
                    "target": "com.amazonaws.iotevents#KeyValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the input attribute key used to create the detector (the instance of the\n      detector model).</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The detector model and the specific detectors (instances) for which the logging level is\n      given.</p>"
            }
        },
        "com.amazonaws.iotevents#DetectorDebugOptions": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.iotevents#DetectorDebugOption"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.iotevents#DetectorModel": {
            "type": "structure",
            "members": {
                "detectorModelDefinition": {
                    "target": "com.amazonaws.iotevents#DetectorModelDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>Information that defines how a detector operates.</p>"
                    }
                },
                "detectorModelConfiguration": {
                    "target": "com.amazonaws.iotevents#DetectorModelConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about how the detector is configured.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the detector model.</p>"
            }
        },
        "com.amazonaws.iotevents#DetectorModelArn": {
            "type": "string"
        },
        "com.amazonaws.iotevents#DetectorModelConfiguration": {
            "type": "structure",
            "members": {
                "detectorModelName": {
                    "target": "com.amazonaws.iotevents#DetectorModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the detector model.</p>"
                    }
                },
                "detectorModelVersion": {
                    "target": "com.amazonaws.iotevents#DetectorModelVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the detector model.</p>"
                    }
                },
                "detectorModelDescription": {
                    "target": "com.amazonaws.iotevents#DetectorModelDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A brief description of the detector model.</p>"
                    }
                },
                "detectorModelArn": {
                    "target": "com.amazonaws.iotevents#DetectorModelArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the detector model.</p>"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.iotevents#AmazonResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the role that grants permission to AWS IoT Events to perform its operations.</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.iotevents#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the detector model was created.</p>"
                    }
                },
                "lastUpdateTime": {
                    "target": "com.amazonaws.iotevents#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the detector model was last updated.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.iotevents#DetectorModelVersionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the detector model.</p>"
                    }
                },
                "key": {
                    "target": "com.amazonaws.iotevents#AttributeJsonPath",
                    "traits": {
                        "smithy.api#documentation": "<p>The value used to identify a detector instance. When a device or system sends input, a new\n      detector instance with a unique key value is created. AWS IoT Events can continue to route input to its\n      corresponding detector instance based on this identifying information. </p>\n         <p>This parameter uses a JSON-path expression to select the attribute-value pair in the\n      message payload that is used for identification. To route the message to the correct detector\n      instance, the device must send a message payload that contains the same\n      attribute-value.</p>"
                    }
                },
                "evaluationMethod": {
                    "target": "com.amazonaws.iotevents#EvaluationMethod",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the order in which events are evaluated and how actions are executed.\n    </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about how the detector model is configured.</p>"
            }
        },
        "com.amazonaws.iotevents#DetectorModelDefinition": {
            "type": "structure",
            "members": {
                "states": {
                    "target": "com.amazonaws.iotevents#States",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the states of the detector.</p>",
                        "smithy.api#required": {}
                    }
                },
                "initialStateName": {
                    "target": "com.amazonaws.iotevents#StateName",
                    "traits": {
                        "smithy.api#documentation": "<p>The state that is entered at the creation of each detector (instance).</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information that defines how a detector operates.</p>"
            }
        },
        "com.amazonaws.iotevents#DetectorModelDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.iotevents#DetectorModelName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
            }
        },
        "com.amazonaws.iotevents#DetectorModelSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.iotevents#DetectorModelSummary"
            }
        },
        "com.amazonaws.iotevents#DetectorModelSummary": {
            "type": "structure",
            "members": {
                "detectorModelName": {
                    "target": "com.amazonaws.iotevents#DetectorModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the detector model.</p>"
                    }
                },
                "detectorModelDescription": {
                    "target": "com.amazonaws.iotevents#DetectorModelDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A brief description of the detector model.</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.iotevents#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the detector model was created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the detector model.</p>"
            }
        },
        "com.amazonaws.iotevents#DetectorModelVersion": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                }
            }
        },
        "com.amazonaws.iotevents#DetectorModelVersionStatus": {
            "type": "enum",
            "members": {
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "ACTIVATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVATING"
                    }
                },
                "INACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INACTIVE"
                    }
                },
                "DEPRECATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DEPRECATED"
                    }
                },
                "DRAFT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DRAFT"
                    }
                },
                "PAUSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PAUSED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.iotevents#DetectorModelVersionSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.iotevents#DetectorModelVersionSummary"
            }
        },
        "com.amazonaws.iotevents#DetectorModelVersionSummary": {
            "type": "structure",
            "members": {
                "detectorModelName": {
                    "target": "com.amazonaws.iotevents#DetectorModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the detector model.</p>"
                    }
                },
                "detectorModelVersion": {
                    "target": "com.amazonaws.iotevents#DetectorModelVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the detector model version.</p>"
                    }
                },
                "detectorModelArn": {
                    "target": "com.amazonaws.iotevents#DetectorModelArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the detector model version.</p>"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.iotevents#AmazonResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the role that grants the detector model permission to perform its tasks.</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.iotevents#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the detector model version was created.</p>"
                    }
                },
                "lastUpdateTime": {
                    "target": "com.amazonaws.iotevents#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The last time the detector model version was updated.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.iotevents#DetectorModelVersionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the detector model version.</p>"
                    }
                },
                "evaluationMethod": {
                    "target": "com.amazonaws.iotevents#EvaluationMethod",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the order in which events are evaluated and how actions are executed.\n    </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the detector model version.</p>"
            }
        },
        "com.amazonaws.iotevents#DisabledOnInitialization": {
            "type": "boolean"
        },
        "com.amazonaws.iotevents#DynamoDBAction": {
            "type": "structure",
            "members": {
                "hashKeyType": {
                    "target": "com.amazonaws.iotevents#DynamoKeyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The data type for the hash key (also called the partition key). You can specify the\n      following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>'STRING'</code> - The hash key is a string.</p>\n            </li>\n            <li>\n               <p>\n                  <code>'NUMBER'</code> - The hash key is a number.</p>\n            </li>\n         </ul>\n         <p>If you don't specify <code>hashKeyType</code>, the default value is\n      <code>'STRING'</code>.</p>"
                    }
                },
                "hashKeyField": {
                    "target": "com.amazonaws.iotevents#DynamoKeyField",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the hash key (also called the partition key). The <code>hashKeyField</code>\n      value must match the partition key of the target DynamoDB table.</p>",
                        "smithy.api#required": {}
                    }
                },
                "hashKeyValue": {
[...]
