{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iotsitewise#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.iotsitewise#AWSIoTSiteWise": {
      "type": "service",
      "version": "2019-12-02",
      "operations": [
        {
          "target": "com.amazonaws.iotsitewise#AssociateAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchAssociateProjectAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchDisassociateProjectAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchPutAssetPropertyValue"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateAccessPolicy"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateAsset"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateAssetModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateDashboard"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateGateway"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreatePortal"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateProject"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteAccessPolicy"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteAsset"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteAssetModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteDashboard"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteGateway"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeletePortal"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteProject"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAccessPolicy"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAsset"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAssetModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAssetProperty"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeDashboard"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeGateway"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeGatewayCapabilityConfiguration"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeLoggingOptions"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribePortal"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeProject"
        },
        {
          "target": "com.amazonaws.iotsitewise#DisassociateAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#GetAssetPropertyAggregates"
        },
        {
          "target": "com.amazonaws.iotsitewise#GetAssetPropertyValue"
        },
        {
          "target": "com.amazonaws.iotsitewise#GetAssetPropertyValueHistory"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAccessPolicies"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssetModels"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssociatedAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListDashboards"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListGateways"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListPortals"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListProjectAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListProjects"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.iotsitewise#PutLoggingOptions"
        },
        {
          "target": "com.amazonaws.iotsitewise#TagResource"
        },
        {
          "target": "com.amazonaws.iotsitewise#UntagResource"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateAccessPolicy"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateAsset"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateAssetModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateAssetProperty"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateDashboard"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateGateway"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateGatewayCapabilityConfiguration"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdatePortal"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateProject"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IoTSiteWise",
          "arnNamespace": "iotsitewise",
          "cloudFormationName": "IoTSiteWise",
          "cloudTrailEventSource": "sitewise.iot.amazon.com"
        },
        "aws.auth#sigv4": {
          "name": "iotsitewise"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Welcome to the AWS IoT SiteWise API Reference. AWS IoT SiteWise is an AWS service that connects <a href=\"https://en.wikipedia.org/wiki/Internet_of_things#Industrial_applications\">Industrial Internet of Things (IIoT)</a> devices to the power of the AWS Cloud. For more information, see the\n      <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/\">AWS IoT SiteWise User Guide</a>. For information about AWS IoT SiteWise quotas, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/quotas.html\">Quotas</a> in the <i>AWS IoT SiteWise User Guide</i>.</p>",
        "smithy.api#title": "AWS IoT SiteWise"
      }
    },
    "com.amazonaws.iotsitewise#AccessPolicySummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AccessPolicySummary"
      }
    },
    "com.amazonaws.iotsitewise#AccessPolicySummary": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.amazonaws.iotsitewise#Resource",
          "traits": {
            "smithy.api#documentation": "<p>The AWS IoT SiteWise Monitor resource (a portal or project).</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdateDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the access policy was last updated, in Unix epoch time.</p>"
          }
        },
        "identity": {
          "target": "com.amazonaws.iotsitewise#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The AWS SSO identity (a user or group).</p>",
            "smithy.api#required": {}
          }
        },
        "permission": {
          "target": "com.amazonaws.iotsitewise#Permission",
          "traits": {
            "smithy.api#documentation": "<p>The permissions for the access policy. Note that a project <code>ADMINISTRATOR</code> is\n      also known as a project owner.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access policy.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the access policy was created, in Unix epoch time.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an access policy that defines an AWS SSO identity's access to an AWS IoT SiteWise Monitor\n      resource.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AggregateType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AVERAGE",
            "name": "AVERAGE"
          },
          {
            "value": "COUNT",
            "name": "COUNT"
          },
          {
            "value": "MAXIMUM",
            "name": "MAXIMUM"
          },
          {
            "value": "MINIMUM",
            "name": "MINIMUM"
          },
          {
            "value": "SUM",
            "name": "SUM"
          },
          {
            "value": "STANDARD_DEVIATION",
            "name": "STANDARD_DEVIATION"
          }
        ]
      }
    },
    "com.amazonaws.iotsitewise#AggregateTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AggregateType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.iotsitewise#AggregatedDoubleValue": {
      "type": "double",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.iotsitewise#AggregatedValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.amazonaws.iotsitewise#Aggregates",
          "traits": {
            "smithy.api#documentation": "<p>The value of the aggregates.</p>",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the aggregating computations occurred, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "quality": {
          "target": "com.amazonaws.iotsitewise#Quality",
          "traits": {
            "smithy.api#documentation": "<p>The quality of the aggregated data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains aggregated asset property values (for example, average, minimum, and\n      maximum).</p>"
      }
    },
    "com.amazonaws.iotsitewise#AggregatedValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AggregatedValue"
      }
    },
    "com.amazonaws.iotsitewise#Aggregates": {
      "type": "structure",
      "members": {
        "sum": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The sum of the time series over a time interval window.</p>"
          }
        },
        "average": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The average (mean) value of the time series over a time interval window.</p>"
          }
        },
        "maximum": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The maximum value of the time series over a time interval window.</p>"
          }
        },
        "count": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The count of data points in the time series over a time interval window.</p>"
          }
        },
        "standardDeviation": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The standard deviation of the time series over a time interval window.</p>"
          }
        },
        "minimum": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The minimum value of the time series over a time interval window.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the (pre-calculated) aggregate values for an asset property.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.iotsitewise#AssetErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INTERNAL_FAILURE",
            "name": "INTERNAL_FAILURE"
          }
        ]
      }
    },
    "com.amazonaws.iotsitewise#AssetErrorDetails": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.iotsitewise#AssetErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.amazonaws.iotsitewise#AssetErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>",
            "smithy.api#required": {}
          }
        },
        "assetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error details for the requested associate project asset action.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.iotsitewise#AssetHierarchies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetHierarchy"
      }
    },
    "com.amazonaws.iotsitewise#AssetHierarchy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The hierarchy name provided in the <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CreateAssetModel.html\">CreateAssetModel</a> or <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a> API.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the hierarchy. This ID is a <code>hierarchyId</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an asset hierarchy that contains a hierarchy's name and ID.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetIDs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#ID"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelHierarchies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelHierarchy"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelHierarchy": {
      "type": "structure",
      "members": {
        "childAssetModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model. All assets in this hierarchy must be instances of the\n        <code>childAssetModelId</code> asset model.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model hierarchy. This ID is a <code>hierarchyId</code>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset model hierarchy that you specify by using the <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CreateAssetModel.html\">CreateAssetModel</a> or <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a> API.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an asset hierarchy that contains a hierarchy's name, ID, and child asset model\n      ID that specifies the type of asset that can be in this hierarchy.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelHierarchyDefinition": {
      "type": "structure",
      "members": {
        "childAssetModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an asset model for this hierarchy.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset model hierarchy definition (as specified in <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CreateAssetModel.html\">CreateAssetModel</a> or <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a>).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an asset model hierarchy used in asset model creation. An asset model hierarchy\n      determines the kind (or type) of asset that can belong to a hierarchy.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelHierarchyDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelHierarchyDefinition"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelProperties": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelProperty"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelProperty": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model property.</p>"
          }
        },
        "unit": {
          "target": "com.amazonaws.iotsitewise#PropertyUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of the asset model property, such as <code>Newtons</code> or\n      <code>RPM</code>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset model property.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#PropertyType",
          "traits": {
            "smithy.api#documentation": "<p>The property type (see <code>PropertyType</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "dataType": {
          "target": "com.amazonaws.iotsitewise#PropertyDataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the asset model property.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an asset model property.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelPropertyDefinition": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.iotsitewise#PropertyType",
          "traits": {
            "smithy.api#documentation": "<p>The property definition type (see <code>PropertyType</code>). You can only specify one\n      type in a property definition.</p>",
            "smithy.api#required": {}
          }
        },
        "dataType": {
          "target": "com.amazonaws.iotsitewise#PropertyDataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the property definition.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the property definition.</p>",
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "com.amazonaws.iotsitewise#PropertyUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of the property definition, such as <code>Newtons</code> or\n      <code>RPM</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an asset model property definition. This property definition is applied to all\n      assets created from the asset model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelPropertyDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelPropertyDefinition"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "PROPAGATING",
            "name": "PROPAGATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.iotsitewise#AssetModelStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.amazonaws.iotsitewise#AssetModelState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the asset model.</p>",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.amazonaws.iotsitewise#ErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains associated error information, if any.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains current status information for an asset model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/asset-and-model-states.html\">Asset and Model States</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelSummary"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelSummary": {
      "type": "structure",
      "members": {
        "creationDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the asset model was created, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the asset model, which has the following format.</p>\n        <p>\n            <code>arn:${Partition}:iotsitewise:${Region}:${Account}:asset-model/${AssetModelId}</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model (used with AWS IoT SiteWise APIs).</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset model.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>The asset model description.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.iotsitewise#AssetModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the asset model.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdateDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the asset model was last updated, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of an asset model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetProperties": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetProperty"
      }
    },
    "com.amazonaws.iotsitewise#AssetProperty": {
      "type": "structure",
      "members": {
        "notification": {
          "target": "com.amazonaws.iotsitewise#PropertyNotification",
          "traits": {
            "smithy.api#documentation": "<p>The asset property's notification topic and state. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>\n         </p>"
          }
        },
        "dataType": {
          "target": "com.amazonaws.iotsitewise#PropertyDataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the asset property.</p>",
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "com.amazonaws.iotsitewise#PropertyUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit (such as <code>Newtons</code> or <code>RPM</code>) of the asset property.</p>"
          }
        },
        "alias": {
          "target": "com.amazonaws.iotsitewise#PropertyAlias",
          "traits": {
            "smithy.api#documentation": "<p>The property alias that identifies the property, such as an OPC-UA server data stream path\n        (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). For more information, see\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/connect-data-streams.html\">Mapping Industrial Data Streams to Asset Properties</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset property.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the property.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains asset property information.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetPropertyAlias": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "[^\\u0000-\\u001F\\u007F]+"
      }
    },
    "com.amazonaws.iotsitewise#AssetPropertyValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.amazonaws.iotsitewise#Variant",
          "traits": {
            "smithy.api#documentation": "<p>The value of the asset property (see <code>Variant</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "com.amazonaws.iotsitewise#TimeInNanos",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the asset property value.</p>",
            "smithy.api#required": {}
          }
        },
        "quality": {
          "target": "com.amazonaws.iotsitewise#Quality",
          "traits": {
            "smithy.api#documentation": "<p>The quality of the asset property value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains asset property value information.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetPropertyValueHistory": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetPropertyValue"
      }
    },
    "com.amazonaws.iotsitewise#AssetPropertyValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetPropertyValue"
      }
    },
    "com.amazonaws.iotsitewise#AssetState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.iotsitewise#AssetStatus": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.iotsitewise#ErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains associated error information, if any.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.iotsitewise#AssetState",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the asset.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the current status of an asset. For more information, see\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/asset-and-model-states.html\">Asset and Model States</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetSummary"
      }
    },
    "com.amazonaws.iotsitewise#AssetSummary": {
      "type": "structure",
      "members": {
        "hierarchies": {
          "target": "com.amazonaws.iotsitewise#AssetHierarchies",
          "traits": {
            "smithy.api#documentation": "<p>A list of asset hierarchies that each contain a <code>hierarchyId</code>. A hierarchy specifies allowed parent/child asset relationships.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the asset, which has the following format.</p>\n        <p>\n            <code>arn:${Partition}:iotsitewise:${Region}:${Account}:asset/${AssetId}</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the asset was created, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.iotsitewise#AssetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "assetModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model used to create this asset.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdateDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the asset was last updated, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of an asset.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssociateAssets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#AssociateAssetsRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#ConflictingOperationException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a child asset with the given parent asset through a hierarchy defined in the\n      parent asset's model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/add-associated-assets.html\">Associating Assets</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "model."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/assets/{assetId}/associate",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotsitewise#AssociateAssetsRequest": {
      "type": "structure",
      "members": {
        "childAssetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the child asset to be associated.</p>",
            "smithy.api#required": {}
          }
        },
        "hierarchyId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a hierarchy in the parent asset's model. Hierarchies allow different groupings\n      of assets to be formed that all come from the same asset model. For more information, see\n      <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/asset-hierarchies.html\">Asset Hierarchies</a> in the <i>AWS IoT SiteWise User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "assetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent asset.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#AssociatedAssetsSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssociatedAssetsSummary"
      }
    },
    "com.amazonaws.iotsitewise#AssociatedAssetsSummary": {
      "type": "structure",
      "members": {
        "creationDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the asset was created, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "assetModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model used to create the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the asset, which has the following format.</p>\n        <p>\n            <code>arn:${Partition}:iotsitewise:${Region}:${Account}:asset/${AssetId}</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdateDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the asset was last updated, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.iotsitewise#AssetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "hierarchies": {
          "target": "com.amazonaws.iotsitewise#AssetHierarchies",
          "traits": {
            "smithy.api#documentation": "<p>A list of asset hierarchies that each contain a <code>hierarchyId</code>. A hierarchy specifies allowed parent/child asset relationships.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of an associated asset.</p>"
      }
    },
    "com.amazonaws.iotsitewise#Attribute": {
      "type": "structure",
      "members": {
        "defaultValue": {
          "target": "com.amazonaws.iotsitewise#DefaultValue",
          "traits": {
            "smithy.api#documentation": "<p>The default value of the asset model property attribute. All assets that you create from\n      the asset model contain this attribute value. You can update an attribute's value after you\n      create an asset. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/update-attribute-values.html\">Updating Attribute Values</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an asset attribute property. For more information, see\n      <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/asset-properties.html#attributes\">Attributes</a> in the <i>AWS IoT SiteWise User Guide</i>.</p>"
      }
    },
    "com.amazonaws.iotsitewise#BatchAssociateProjectAssets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#BatchAssociateProjectAssetsRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#BatchAssociateProjectAssetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a group (batch) of assets with an AWS IoT SiteWise Monitor project.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "monitor."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects/{projectId}/assets/associate",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotsitewise#BatchAssociateProjectAssetsErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetErrorDetails"
      }
    },
    "com.amazonaws.iotsitewise#BatchAssociateProjectAssetsRequest": {
      "type": "structure",
      "members": {
        "assetIds": {
          "target": "com.amazonaws.iotsitewise#IDs",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the assets to be associated to the project.</p>",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project to which to associate the assets.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#BatchAssociateProjectAssetsResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.iotsitewise#BatchAssociateProjectAssetsErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of associated error information, if any.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#BatchDisassociateProjectAssets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#BatchDisassociateProjectAssetsRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#BatchDisassociateProjectAssetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a group (batch) of assets from an AWS IoT SiteWise Monitor project.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "monitor."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects/{projectId}/assets/disassociate",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotsitewise#BatchDisassociateProjectAssetsErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetErrorDetails"
      }
    },
    "com.amazonaws.iotsitewise#BatchDisassociateProjectAssetsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project from which to disassociate the assets.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "assetIds": {
          "target": "com.amazonaws.iotsitewise#IDs",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the assets to be disassociated from the project.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#BatchDisassociateProjectAssetsResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.iotsitewise#BatchDisassociateProjectAssetsErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of associated error information, if any.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#BatchPutAssetPropertyError": {
      "type": "structure",
      "members": {
        "timestamps": {
          "target": "com.amazonaws.iotsitewise#Timestamps",
          "traits": {
            "smithy.api#documentation": "<p>A list of timestamps for each  error, if any.</p>",
            "smithy.api#required": {}
          }
        },
        "errorCode": {
          "target": "com.amazonaws.iotsitewise#BatchPutAssetPropertyValueErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.iotsitewise#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The associated error message.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error information from updating a batch of asset property values.</p>"
      }
    },
    "com.amazonaws.iotsitewise#BatchPutAssetPropertyErrorEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#BatchPutAssetPropertyErrorEntry"
      }
    },
    "com.amazonaws.iotsitewise#BatchPutAssetPropertyErrorEntry": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.iotsitewise#BatchPutAssetPropertyErrors",
          "traits": {
            "smithy.api#documentation": "<p>The list of update property value errors.</p>",
            "smithy.api#required": {}
          }
        },
        "entryId": {
          "target": "com.amazonaws.iotsitewise#EntryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the failed entry.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error information for asset property value entries that are associated with the\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_BatchPutAssetPropertyValue.html\">BatchPutAssetPropertyValue</a> API.</p>"
      }
    },
    "com.amazonaws.iotsitewise#BatchPutAssetPropertyErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#BatchPutAssetPropertyError"
      }
    },
    "com.amazonaws.iotsitewise#BatchPutAssetPropertyValue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#BatchPutAssetPropertyValueRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#BatchPutAssetPropertyValueResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#ConflictingOperationException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends a list of asset property values to AWS IoT SiteWise. Each value is a timestamp-quality-value\n      (TQV) data point. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/ingest-api.html\">Ingesting\n        Data Using the API</a> in the <i>AWS IoT SiteWise User Guide</i>.</p>\n         <p>To identify an asset property, you must specify one of the following:</p>\n         <ul>\n            <li>\n               <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p>\n            </li>\n            <li>\n               <p>A <code>propertyAlias</code>, which is a data stream alias (for example,\n          <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p>\n            </li>\n         </ul> \n         <important>\n            <p>With respect to Unix epoch time, AWS IoT SiteWise accepts only TQVs that have a timestamp of no more\n        than 15 minutes in the past and no more than 5 minutes in the future. AWS IoT SiteWise rejects\n        timestamps outside of the inclusive range of [-15, +5] minutes and returns a\n          <code>TimestampOutOfRangeException</code> error.</p>\n            <p>For each asset property, AWS IoT SiteWise overwrites TQVs with duplicate timestamps unless the newer\n        TQV has a different quality. For example, if you store a TQV <code>{T1, GOOD, V1}</code>,\n        then storing <code>{T1, GOOD, V2}</code> replaces the existing TQV.</p>\n         </important>",
        "smithy.api#endpoint": {
          "hostPrefix": "data."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/properties",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotsitewise#BatchPutAssetPropertyValueErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ResourceNotFoundException",
            "name": "ResourceNotFoundException"
          },
          {
            "value": "InvalidRequestException",
            "name": "InvalidRequestException"
          },
          {
            "value": "InternalFailureException",
            "name": "InternalFailureException"
          },
          {
            "value": "ServiceUnavailableException",
            "name": "ServiceUnavailableException"
          },
          {
            "value": "ThrottlingException",
            "name": "ThrottlingException"
          },
          {
            "value": "LimitExceededException",
            "name": "LimitExceededException"
          },
          {
            "value": "ConflictingOperationException",
            "name": "ConflictingOperationException"
          },
          {
            "value": "TimestampOutOfRangeException",
            "name": "TimestampOutOfRangeException"
          },
          {
            "value": "AccessDeniedException",
            "name": "AccessDeniedException"
          }
        ]
      }
    },
    "com.amazonaws.iotsitewise#BatchPutAssetPropertyValueRequest": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.amazonaws.iotsitewise#PutAssetPropertyValueEntries",
          "traits": {
            "smithy.api#documentation": "<p>The list of asset property value entries for the batch put request. You can specify up to\n      10 entries per request.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#BatchPutAssetPropertyValueResponse": {
      "type": "structure",
      "members": {
        "errorEntries": {
          "target": "com.amazonaws.iotsitewise#BatchPutAssetPropertyErrorEntries",
          "traits": {
            "smithy.api#documentation": "<p>A list of the errors (if any) associated with the batch put request. Each error entry\n      contains the <code>entryId</code> of the entry that failed.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#CapabilityConfiguration": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 204800
        }
      }
    },
    "com.amazonaws.iotsitewise#CapabilityNamespace": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[a-zA-Z]+:[a-zA-Z]+:[0-9]+$"
      }
    },
    "com.amazonaws.iotsitewise#CapabilitySyncStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_SYNC",
            "name": "IN_SYNC"
          },
          {
            "value": "OUT_OF_SYNC",
            "name": "OUT_OF_SYNC"
          },
          {
            "value": "SYNC_FAILED",
            "name": "SYNC_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.iotsitewise#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 64
        },
        "smithy.api#pattern": "\\S{36,64}"
      }
    },
    "com.amazonaws.iotsitewise#ConflictingOperationException": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "com.amazonaws.iotsitewise#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource that conflicts with this operation.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.iotsitewise#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource that conflicts with this operation.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.amazonaws.iotsitewise#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request has conflicting operations. This can occur if you're trying to perform more\n      than one operation on the same resource at the same time.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.iotsitewise#CreateAccessPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#CreateAccessPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#CreateAccessPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an access policy that grants the specified AWS Single Sign-On user or group access to the\n      specified AWS IoT SiteWise Monitor portal or project resource.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "monitor."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/access-policies",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateAccessPolicyRequest": {
      "type": "structure",
      "members": {
        "accessPolicyIdentity": {
          "target": "com.amazonaws.iotsitewise#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The identity for this access policy. Choose either a <code>user</code> or a <code>group</code> but not both.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "accessPolicyResource": {
          "target": "com.amazonaws.iotsitewise#Resource",
          "traits": {
            "smithy.api#documentation": "<p>The AWS IoT SiteWise Monitor resource for this access policy. Choose either <code>portal</code> or <code>project</code> but not both.</p>",
            "smithy.api#required": {}
          }
        },
        "accessPolicyPermission": {
          "target": "com.amazonaws.iotsitewise#Permission",
          "traits": {
            "smithy.api#documentation": "<p>The permission level for this access policy. Note that a project <code>ADMINISTRATOR</code> is also known as a project owner.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.iotsitewise#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that contain metadata for the access policy. For more\n      information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/tag-resources.html\">Tagging your AWS IoT SiteWise\n        resources</a> in the <i>AWS IoT SiteWise User Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateAccessPolicyResponse": {
      "type": "structure",
      "members": {
        "accessPolicyId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access policy.</p>",
            "smithy.api#required": {}
          }
        },
        "accessPolicyArn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the access policy, which has the following format.</p>\n        <p>\n            <code>arn:${Partition}:iotsitewise:${Region}:${Account}:access-policy/${AccessPolicyId}</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateAsset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#CreateAssetRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#CreateAssetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#ConflictingOperationException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an asset from an existing asset model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/create-assets.html\">Creating Assets</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "model."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/assets",
          "code": 202
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateAssetModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#CreateAssetModelRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#CreateAssetModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#ConflictingOperationException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an asset model from specified property and hierarchy definitions. You create\n      assets from asset models. With asset models, you can easily create assets of the same type\n      that have standardized definitions. Each asset created from a model inherits the asset model's\n      property and hierarchy definitions. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/define-models.html\">Defining Asset Models</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "model."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/asset-models",
          "code": 202
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateAssetModelRequest": {
      "type": "structure",
      "members": {
        "assetModelDescription": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the asset model.</p>"
          }
        },
        "assetModelProperties": {
          "target": "com.amazonaws.iotsitewise#AssetModelPropertyDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>The property definitions of the asset model. For more information, see\n      <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/asset-properties.html\">Asset Properties</a> in the <i>AWS IoT SiteWise User Guide</i>.</p>\n         <p>You can specify up to 200 properties per asset model. For more\n      information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/quotas.html\">Quotas</a> in the <i>AWS IoT SiteWise User Guide</i>.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "assetModelName": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>A unique, friendly name for the asset model.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.iotsitewise#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that contain metadata for the asset model. For more information,\n      see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/tag-resources.html\">Tagging your AWS IoT SiteWise resources</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>"
          }
        },
        "assetModelHierarchies": {
          "target": "com.amazonaws.iotsitewise#AssetModelHierarchyDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>The hierarchy definitions of the asset model. Each hierarchy specifies an asset model\n      whose assets can be children of any other assets created from this asset model. For more\n      information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/asset-hierarchies.html\">Asset Hierarchies</a> in the <i>AWS IoT SiteWise User Guide</i>.</p>\n         <p>You can specify up to 10 hierarchies per asset model. For more\n      information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/quotas.html\">Quotas</a> in the <i>AWS IoT SiteWise User Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateAssetModelResponse": {
      "type": "structure",
      "members": {
        "assetModelArn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the asset model, which has the following format.</p>\n        <p>\n            <code>arn:${Partition}:iotsitewise:${Region}:${Account}:asset-model/${AssetModelId}</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "assetModelStatus": {
          "target": "com.amazonaws.iotsitewise#AssetModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the asset model, which contains a state (<code>CREATING</code> after\n      successfully calling this operation) and any error message.</p>",
            "smithy.api#required": {}
          }
        },
        "assetModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model. You can use this ID when you call other AWS IoT SiteWise APIs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateAssetRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "assetModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model from which to create the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.iotsitewise#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that contain metadata for the asset. For more information, see\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/tag-resources.html\">Tagging your AWS IoT SiteWise resources</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>"
          }
        },
        "assetName": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>A unique, friendly name for the asset.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateAssetResponse": {
      "type": "structure",
      "members": {
        "assetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset. This ID uniquely identifies the asset within AWS IoT SiteWise and can be used with other\n      AWS IoT SiteWise APIs.</p>",
            "smithy.api#required": {}
          }
        },
        "assetStatus": {
          "target": "com.amazonaws.iotsitewise#AssetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the asset, which contains a state (<code>CREATING</code> after successfully\n      calling this operation) and any error message.</p>",
            "smithy.api#required": {}
          }
        },
        "assetArn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the asset, which has the following format.</p>\n        <p>\n            <code>arn:${Partition}:iotsitewise:${Region}:${Account}:asset/${AssetId}</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateDashboard": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#CreateDashboardRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#CreateDashboardResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a dashboard in an AWS IoT SiteWise Monitor project.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "monitor."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dashboards",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateDashboardRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "dashboardDefinition": {
          "target": "com.amazonaws.iotsitewise#DashboardDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The dashboard definition specified in a JSON literal. For detailed information, see\n      <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/create-dashboards-using-aws-cli.html\">Creating Dashboards (CLI)</a> in the <i>AWS IoT SiteWise User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.iotsitewise#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that contain metadata for the dashboard. For more information,\n      see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/tag-resources.html\">Tagging your AWS IoT SiteWise resources</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>"
          }
        },
        "dashboardName": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name for the dashboard.</p>",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project in which to create the dashboard.</p>",
            "smithy.api#required": {}
          }
        },
        "dashboardDescription": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the dashboard.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateDashboardResponse": {
      "type": "structure",
      "members": {
        "dashboardId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dashboard.</p>",
            "smithy.api#required": {}
          }
        },
        "dashboardArn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the dashboard, which has the following format.</p>\n        <p>\n            <code>arn:${Partition}:iotsitewise:${Region}:${Account}:dashboard/${DashboardId}</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#CreateGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#CreateGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a gateway, which is a virtual or edge device that delivers industrial data streams\n      from local servers to AWS IoT SiteWise. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/gateway-connector.html\">Ingesting data using a gateway</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "edge."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/20200301/gateways",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateGatewayRequest": {
      "type": "structure",
      "members": {
        "gatewayPlatform": {
          "target": "com.amazonaws.iotsitewise#GatewayPlatform",
          "traits": {
            "smithy.api#documentation": "<p>The gateway's platform. You can only specify one platform in a gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.iotsitewise#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that contain metadata for the gateway. For more information, see\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/tag-resources.html\">Tagging your AWS IoT SiteWise resources</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>"
          }
        },
        "gatewayName": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>A unique, friendly name for the gateway.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateGatewayResponse": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the gateway device. You can use this ID when you call other AWS IoT SiteWise APIs.</p>",
            "smithy.api#required": {}
          }
        },
        "gatewayArn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the gateway, which has the following format.</p>\n        <p>\n            <code>arn:${Partition}:iotsitewise:${Region}:${Account}:gateway/${GatewayId}</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#CreatePortal": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#CreatePortalRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#CreatePortalResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a portal, which can contain projects and dashboards. Before you can create a\n      portal, you must configure AWS Single Sign-On in the current Region. AWS IoT SiteWise Monitor uses AWS SSO to manage\n      user permissions. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/monitor-get-started.html#mon-gs-sso\">Enabling AWS SSO</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>\n         <note>\n            <p>Before you can sign in to a new portal, you must add at least one AWS SSO user or group to\n        that portal. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/administer-portals.html#portal-change-admins\">Adding or Removing Portal\n          Administrators</a> in the <i>AWS IoT SiteWise User Guide</i>.</p>\n         </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "monitor."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/portals",
          "code": 202
        }
      }
    },
    "com.amazonaws.iotsitewise#CreatePortalRequest": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.iotsitewise#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that contain metadata for the portal. For more information, see\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/tag-resources.html\">Tagging your AWS IoT SiteWise resources</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>"
          }
        },
        "portalName": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name for the portal.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of a service role that allows the portal's users to access your AWS IoT SiteWise\n      resources on your behalf. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/monitor-service-role.html\">Using service roles for AWS IoT SiteWise Monitor</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "portalContactEmail": {
          "target": "com.amazonaws.iotsitewise#Email",
          "traits": {
            "smithy.api#documentation": "<p>The AWS administrator's contact email address.</p>",
            "smithy.api#required": {}
          }
        },
        "portalLogoImageFile": {
          "target": "com.amazonaws.iotsitewise#ImageFile",
          "traits": {
            "smithy.api#documentation": "<p>A logo image to display in the portal. Upload a square, high-resolution image. The\n      image is displayed on a dark background.</p>"
          }
        },
        "portalDescription": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the portal.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#CreatePortalResponse": {
      "type": "structure",
      "members": {
        "ssoApplicationId": {
          "target": "com.amazonaws.iotsitewise#SSOApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The associated AWS SSO application Id.</p>",
            "smithy.api#required": {}
          }
        },
        "portalStatus": {
          "target": "com.amazonaws.iotsitewise#PortalStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the portal, which contains a state (<code>CREATING</code> after successfully\n      calling this operation) and any error message.</p>",
            "smithy.api#required": {}
          }
        },
        "portalArn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the portal, which has the following format.</p>\n        <p>\n            <code>arn:${Partition}:iotsitewise:${Region}:${Account}:portal/${PortalId}</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "portalStartUrl": {
          "target": "com.amazonaws.iotsitewise#Url",
          "traits": {
            "smithy.api#documentation": "<p>The public URL for the AWS IoT SiteWise Monitor portal.</p>",
            "smithy.api#required": {}
          }
        },
        "portalId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the created portal.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#CreateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#CreateProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a project in the specified portal.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "monitor."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.iotsitewise#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that contain metadata for the project. For more information, see\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/tag-resources.html\">Tagging your AWS IoT SiteWise resources</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>"
          }
        },
        "projectDescription": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the project.</p>"
          }
        },
        "projectName": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name for the project.</p>",
            "smithy.api#required": {}
          }
        },
        "portalId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the portal in which to create the project.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#CreateProjectResponse": {
      "type": "structure",
      "members": {
        "projectArn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the project, which has the following format.</p>\n        <p>\n            <code>arn:${Partition}:iotsitewise:${Region}:${Account}:project/${ProjectId}</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#DashboardDefinition": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 204800
        },
        "smithy.api#pattern": ".+"
      }
    },
    "com.amazonaws.iotsitewise#DashboardSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#DashboardSummary"
      }
    },
    "com.amazonaws.iotsitewise#DashboardSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dashboard.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the dashboard was created, in Unix epoch time.</p>"
          }
        },
        "lastUpdateDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the dashboard was last updated, in Unix epoch time.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>The dashboard's description.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dashboard</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a dashboard summary.</p>"
      }
    },
    "com.amazonaws.iotsitewise#DefaultValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "[^\\u0000-\\u001F\\u007F]+"
      }
    },
    "com.amazonaws.iotsitewise#DeleteAccessPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#DeleteAccessPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#DeleteAccessPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an access policy that grants the specified AWS Single Sign-On identity access to the\n      specified AWS IoT SiteWise Monitor resource. You can use this operation to revoke access to an AWS IoT SiteWise Monitor\n      resource.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "monitor."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/access-policies/{accessPolicyId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotsitewise#DeleteAccessPolicyRequest": {
      "type": "structure",
      "members": {
        "accessPolicyId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access policy to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#DeleteAccessPolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotsitewise#DeleteAsset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#DeleteAssetRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#DeleteAssetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#ConflictingOperationException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an asset. This action can't be undone. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/delete-assets-and-models.html\">Deleting Assets and Models</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.\n      </p>\n         <note>\n            <p>You can't delete an asset that's associated to another asset. For more information, see\n          <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_DisassociateAssets.html\">DisassociateAssets</a>.</p>\n         </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "model."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/assets/{assetId}",
          "code": 202
        }
      }
    },
    "com.amazonaws.iotsitewise#DeleteAssetModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#DeleteAssetModelRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#DeleteAssetModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#ConflictingOperationException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an asset model. This action can't be undone. You must delete all assets created\n      from an asset model before you can delete the model. Also, you can't delete an asset model if\n      a parent asset model exists that contains a property formula expression that depends on the\n      asset model that you want to delete. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/delete-assets-and-models.html\">Deleting Assets and Models</a> in the\n        <i>AWS IoT SiteWise User Guide</i>.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "model."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/asset-models/{assetModelId}",
          "code": 202
        }
      }
    },
    "com.amazonaws.iotsitewise#DeleteAssetModelRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        },
        "assetModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#DeleteAssetModelResponse": {
      "type": "structure",
      "members": {
        "assetModelStatus": {
          "target": "com.amazonaws.iotsitewise#AssetModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the asset model, which contains a state (<code>DELETING</code> after\n      successfully calling this operation) and any error message.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#DeleteAssetRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        },
        "assetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#DeleteAssetResponse": {
      "type": "structure",
      "members": {
        "assetStatus": {
          "target": "com.amazonaws.iotsitewise#AssetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the asset, which contains a state (<code>DELETING</code> after successfully\n      calling this operation) and any error message.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#DeleteDashboard": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#DeleteDashboardRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#DeleteDashboardResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a dashboard from AWS IoT SiteWise Monitor.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "monitor."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/dashboards/{dashboardId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotsitewise#DeleteDashboardRequest": {
      "type": "structure",
      "members": {
        "dashboardId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dashboard to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#DeleteDashboardResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotsitewise#DeleteGateway": {
[...]
