{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kendra#AWSKendraFrontendService": {
      "type": "service",
      "version": "2019-02-03",
      "operations": [
        {
          "target": "com.amazonaws.kendra#BatchDeleteDocument"
        },
        {
          "target": "com.amazonaws.kendra#BatchPutDocument"
        },
        {
          "target": "com.amazonaws.kendra#CreateDataSource"
        },
        {
          "target": "com.amazonaws.kendra#CreateFaq"
        },
        {
          "target": "com.amazonaws.kendra#CreateIndex"
        },
        {
          "target": "com.amazonaws.kendra#DeleteDataSource"
        },
        {
          "target": "com.amazonaws.kendra#DeleteFaq"
        },
        {
          "target": "com.amazonaws.kendra#DeleteIndex"
        },
        {
          "target": "com.amazonaws.kendra#DescribeDataSource"
        },
        {
          "target": "com.amazonaws.kendra#DescribeFaq"
        },
        {
          "target": "com.amazonaws.kendra#DescribeIndex"
        },
        {
          "target": "com.amazonaws.kendra#ListDataSources"
        },
        {
          "target": "com.amazonaws.kendra#ListDataSourceSyncJobs"
        },
        {
          "target": "com.amazonaws.kendra#ListFaqs"
        },
        {
          "target": "com.amazonaws.kendra#ListIndices"
        },
        {
          "target": "com.amazonaws.kendra#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.kendra#Query"
        },
        {
          "target": "com.amazonaws.kendra#StartDataSourceSyncJob"
        },
        {
          "target": "com.amazonaws.kendra#StopDataSourceSyncJob"
        },
        {
          "target": "com.amazonaws.kendra#SubmitFeedback"
        },
        {
          "target": "com.amazonaws.kendra#TagResource"
        },
        {
          "target": "com.amazonaws.kendra#UntagResource"
        },
        {
          "target": "com.amazonaws.kendra#UpdateDataSource"
        },
        {
          "target": "com.amazonaws.kendra#UpdateIndex"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "kendra",
          "arnNamespace": "kendra",
          "cloudFormationName": "Kendra",
          "cloudTrailEventSource": "kendra.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "kendra"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon Kendra is a service for indexing large document sets.</p>",
        "smithy.api#title": "AWSKendraFrontendService"
      }
    },
    "com.amazonaws.kendra#AccessControlListConfiguration": {
      "type": "structure",
      "members": {
        "KeyPath": {
          "target": "com.amazonaws.kendra#S3ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>Path to the AWS S3 bucket that contains the ACL files.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access Control List files for the documents in a data source.</p>"
      }
    },
    "com.amazonaws.kendra#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kendra#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.kendra#AclConfiguration": {
      "type": "structure",
      "members": {
        "AllowedGroupsColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>A list of groups, separated by semi-colons, that filters a query response based on\n            user context. The document is only returned to users that are in one of the groups\n            specified in the <code>UserContext</code> field of the <a>Query</a>\n            operation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the column that should be used for filtering the query\n            response by groups.</p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttribute": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.kendra#String",
          "traits": {
            "smithy.api#documentation": "<p>The key that identifies the attribute.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.kendra#AdditionalResultAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the attribute value.</p>",
            "smithy.api#required": {}
          }
        },
        "ValueType": {
          "target": "com.amazonaws.kendra#AdditionalResultAttributeValueType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the <code>Value</code> property.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute returned from an index query.</p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#AdditionalResultAttribute"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeValue": {
      "type": "structure",
      "members": {
        "TextWithHighlightsValue": {
          "target": "com.amazonaws.kendra#TextWithHighlights",
          "traits": {
            "smithy.api#documentation": "<p>The text associated with the attribute and information about the highlight to apply to\n            the text.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute returned with a document from a search.</p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeValueType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TEXT_WITH_HIGHLIGHTS_VALUE",
            "name": "TEXT_WITH_HIGHLIGHTS_VALUE"
          }
        ]
      }
    },
    "com.amazonaws.kendra#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.kendra#AttributeFilter": {
      "type": "structure",
      "members": {
        "EqualsTo": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs an equals operation on two document attributes.</p>"
          }
        },
        "AndAllFilters": {
          "target": "com.amazonaws.kendra#AttributeFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>AND</code> operation on all supplied filters.</p>"
          }
        },
        "GreaterThan": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a greater than operation on two document attributes. Use with a document\n         attribute of type <code>Integer</code> or <code>Long</code>.</p>"
          }
        },
        "ContainsAny": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Returns true when a document contains any of the specified document attributes.This\n         filter is only appicable to <code>StringListValue</code> metadata.</p>"
          }
        },
        "LessThanOrEquals": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a less than or equals operation on two document attributes. Use with a document\n         attribute of type <code>Integer</code> or <code>Long</code>.</p>"
          }
        },
        "NotFilter": {
          "target": "com.amazonaws.kendra#AttributeFilter",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>NOT</code> operation on all supplied filters.</p>"
          }
        },
        "GreaterThanOrEquals": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a greater or equals than operation on two document attributes. Use with a\n         document attribute of type <code>Integer</code> or <code>Long</code>.</p>"
          }
        },
        "OrAllFilters": {
          "target": "com.amazonaws.kendra#AttributeFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>OR</code> operation on all supplied filters.</p>"
          }
        },
        "ContainsAll": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Returns true when a document contains all of the specified document attributes. This\n         filter is only appicable to <code>StringListValue</code> metadata.</p>"
          }
        },
        "LessThan": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a less than operation on two document attributes. Use with a document attribute\n         of type <code>Integer</code> or <code>Long</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides filtering the query results based on document attributes.</p>\n         <p>When you use the <code>AndAllFilters</code> or <code>OrAllFilters</code>, filters you\n         can use 2 layers under the first attribute filter. For example, you can use:</p>\n         <p>\n            <code><AndAllFilters></code>\n         </p>\n         <ol>\n            <li>\n               <p>\n                  <code> <OrAllFilters></code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code> <EqualTo></code>\n               </p>\n            </li>\n         </ol>\n         <p>If you use more than 2 layers, you receive a <code>ValidationException</code> exception\n         with the message \"<code>AttributeFilter</code> cannot have a depth of more than 2.\"</p>"
      }
    },
    "com.amazonaws.kendra#AttributeFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#AttributeFilter"
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes one or more documents from an index. The documents must have been added with the\n        <a>BatchPutDocument</a> operation.</p>\n         <p>The documents are deleted asynchronously. You can see the progress of the deletion by\n      using AWS CloudWatch. Any error messages releated to the processing of the batch are sent to\n      you CloudWatch log.</p>"
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the documents to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSourceSyncJobMetricTarget": {
          "target": "com.amazonaws.kendra#DataSourceSyncJobMetricTarget"
        },
        "DocumentIdList": {
          "target": "com.amazonaws.kendra#DocumentIdList",
          "traits": {
            "smithy.api#documentation": "<p>One or more identifiers for documents to delete from the index.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponse": {
      "type": "structure",
      "members": {
        "FailedDocuments": {
          "target": "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocuments",
          "traits": {
            "smithy.api#documentation": "<p>A list of documents that could not be removed from the index. Each entry contains an error\n      message that indicates why the document couldn't be removed from the index.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocument": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code for why the document couldn't be removed from the index.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>An explanation for why the document couldn't be removed from the index.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#DocumentId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the document that couldn't be removed from the index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about documents that could not be removed from an index by the\n                <a>BatchDeleteDocument</a> operation.</p>"
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocuments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocument"
      }
    },
    "com.amazonaws.kendra#BatchPutDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#BatchPutDocumentRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#BatchPutDocumentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more documents to an index.</p>\n         <p>The <code>BatchPutDocument</code> operation enables you to ingest inline documents or a\n      set of documents stored in an Amazon S3 bucket. Use this operation to ingest your text and\n      unstructured text into an index, add custom attributes to the documents, and to attach an\n      access control list to the documents added to the index.</p>\n         <p>The documents are indexed asynchronously. You can see the progress of the batch using AWS\n      CloudWatch. Any error messages related to processing the batch are sent to your AWS CloudWatch\n      log.</p>"
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentRequest": {
      "type": "structure",
      "members": {
        "Documents": {
          "target": "com.amazonaws.kendra#DocumentList",
          "traits": {
            "smithy.api#documentation": "<p>One or more documents to add to the index. </p>\n         <p>Documents have the following file size limits.</p>\n         <ul>\n            <li>\n               <p>5 MB total size for inline documents</p>\n            </li>\n            <li>\n               <p>50 MB total size for files from an S3 bucket</p>\n            </li>\n            <li>\n               <p>5 MB extracted text for any file</p>\n            </li>\n         </ul>\n         <p>For more information about file size and transaction per second quotas,\n      see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/quotas.html\">Quotas</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role that is allowed to run the\n        <code>BatchPutDocument</code> operation. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for\n        Amazon Kendra</a>.</p>"
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index to add the documents to. You need to create the index first\n      using the <a>CreateIndex</a> operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponse": {
      "type": "structure",
      "members": {
        "FailedDocuments": {
          "target": "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocuments",
          "traits": {
            "smithy.api#documentation": "<p>A list of documents that were not added to the index because the document failed a\n      validation check. Each document contains an error message that indicates why the document\n      couldn't be added to the index.</p>\n         <p>If there was an error adding a document to an index the error is reported in your AWS\n      CloudWatch log. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/cloudwatch-logs.html\">Monitoring Amazon Kendra with\n        Amazon CloudWatch Logs</a>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocument": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The type of error that caused the document to fail to be indexed.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the reason why the document could not be indexed.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#DocumentId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a document that could not be indexed.</p>"
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocuments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocument"
      }
    },
    "com.amazonaws.kendra#Blob": {
      "type": "blob"
    },
    "com.amazonaws.kendra#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.kendra#CapacityUnitsConfiguration": {
      "type": "structure",
      "members": {
        "QueryCapacityUnits": {
          "target": "com.amazonaws.kendra#QueryCapacityUnit",
          "traits": {
            "smithy.api#documentation": "<p>The amount of extra query capacity for an index. Each capacity unit provides 0.5\n            queries per second and 40,000 queries per day.</p>",
            "smithy.api#required": {}
          }
        },
        "StorageCapacityUnits": {
          "target": "com.amazonaws.kendra#StorageCapacityUnit",
          "traits": {
            "smithy.api#documentation": "<p>The amount of extra storage capacity for an index. Each capacity unit provides 150 Gb\n            of storage space or 500,000 documents, whichever is reached first.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies capacity units configured for your index. You can add and remove capacity\n            units to tune an index to your requirements.</p>"
      }
    },
    "com.amazonaws.kendra#ChangeDetectingColumns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ColumnName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.kendra#ClickFeedback": {
      "type": "structure",
      "members": {
        "ClickTime": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp of the date and time that the result was clicked.</p>",
            "smithy.api#required": {}
          }
        },
        "ResultId": {
          "target": "com.amazonaws.kendra#ResultId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the search result that was clicked.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Gathers information about when a particular result was clicked by a user. Your\n            application uses the <a>SubmitFeedback</a> operation to provide click\n            information.</p>"
      }
    },
    "com.amazonaws.kendra#ClickFeedbackList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ClickFeedback"
      }
    },
    "com.amazonaws.kendra#ClientTokenName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#ColumnConfiguration": {
      "type": "structure",
      "members": {
        "ChangeDetectingColumns": {
          "target": "com.amazonaws.kendra#ChangeDetectingColumns",
          "traits": {
            "smithy.api#documentation": "<p>One to five columns that indicate when a document in the database has changed.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentDataColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that contains the contents of the document.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentTitleColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that contains the title of the document.</p>"
          }
        },
        "DocumentIdColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that provides the document's unique identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "FieldMappings": {
          "target": "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that map database column names to the corresponding fields in an\n            index. You must first create the fields in the index using the <a>UpdateIndex</a> operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about how Amazon Kendra should use the columns of a database in an\n            index.</p>"
      }
    },
    "com.amazonaws.kendra#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]*$"
      }
    },
    "com.amazonaws.kendra#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kendra#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.kendra#ConnectionConfiguration": {
      "type": "structure",
      "members": {
        "SecretArn": {
          "target": "com.amazonaws.kendra#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of credentials stored in AWS Secrets Manager. The\n            credentials should be a user/password pair. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/data-source-database.html\">Using a\n                Database Data Source</a>. For more information about AWS Secrets Manager, see\n                <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html\"> What\n                Is AWS Secrets Manager </a> in the <i>AWS Secrets Manager</i> user\n            guide.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.kendra#DatabaseName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database containing the document data.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabasePort": {
          "target": "com.amazonaws.kendra#DatabasePort",
          "traits": {
            "smithy.api#documentation": "<p>The port that the database uses for connections.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabaseHost": {
          "target": "com.amazonaws.kendra#DatabaseHost",
          "traits": {
            "smithy.api#documentation": "<p>The name of the host for the database. Can be either a string\n            (host.subdomain.domain.tld) or an IPv4 or IPv6 address.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.kendra#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table that contains the document data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the information necessary to connect to a database.</p>"
      }
    },
    "com.amazonaws.kendra#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PDF",
            "name": "PDF"
          },
          {
            "value": "HTML",
            "name": "HTML"
          },
          {
            "value": "MS_WORD",
            "name": "MS_WORD"
          },
          {
            "value": "PLAIN_TEXT",
            "name": "PLAIN_TEXT"
          },
          {
            "value": "PPT",
            "name": "PPT"
          }
        ]
      }
    },
    "com.amazonaws.kendra#CreateDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceAlreadyExistException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a data source that you use to with an Amazon Kendra index. </p>\n         <p>You specify a name, connector type and description for your data source. You can choose\n      between an S3 connector, a SharePoint Online connector, and a database connector.</p>\n         <p>You also specify configuration information such as document metadata (author, source URI,\n      and so on) and user context information.</p>\n         <p>\n            <code>CreateDataSource</code> is a synchronous operation. The operation returns 200 if the\n      data source was successfully created. Otherwise, an exception is raised.</p>"
      }
    },
    "com.amazonaws.kendra#CreateDataSourceRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the data source.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.kendra#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of repository that contains the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kendra#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that identify the data source. You can use the tags\n    to identify and organize your resources and to control access to resources.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role with permission to access the data source. For\n      more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM\n        Roles for Amazon Kendra</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#DataSourceName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the data source. A data source name can't be changed without deleting\n      and recreating the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "Schedule": {
          "target": "com.amazonaws.kendra#ScanSchedule",
          "traits": {
            "smithy.api#documentation": "<p>Sets the frequency that Amazon Kendra will check the documents in your repository and\n      update the index. If you don't set a schedule Amazon Kendra will not periodically update the\n      index. You can call the <code>StartDataSourceSyncJob</code> operation to update the\n      index.</p>"
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that should be associated with this data source.</p>",
            "smithy.api#required": {}
          }
        },
        "Configuration": {
          "target": "com.amazonaws.kendra#DataSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The connector configuration information that is required to access the repository.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateDataSourceResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateFaq": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateFaqRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateFaqResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an new set of frequently asked question (FAQ) questions and answers.</p>"
      }
    },
    "com.amazonaws.kendra#CreateFaqRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.kendra#FaqName",
          "traits": {
            "smithy.api#documentation": "<p>The name that should be associated with the FAQ.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kendra#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that identify the FAQ. You can use the tags\n            to identify and organize your resources and to control access to resources.</p>"
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the FAQ.</p>",
            "smithy.api#required": {}
          }
        },
        "S3Path": {
          "target": "com.amazonaws.kendra#S3Path",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location of the FAQ input data.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the FAQ.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role with permission to\n            access the S3 bucket that contains the FAQs. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for\n                Amazon Kendra</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateFaqResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#FaqId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the FAQ.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateIndexRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateIndexResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceAlreadyExistException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon Kendra index. Index creation is an asynchronous operation. To\n      determine if index creation has completed, check the <code>Status</code> field returned from a\n      call to . The <code>Status</code> field is set to\n        <code>ACTIVE</code> when the index is ready to use.</p>\n         <p>Once the index is active you can index your documents using the  operation or using one of the supported data sources.\n    </p>"
      }
    },
    "com.amazonaws.kendra#CreateIndexRequest": {
      "type": "structure",
      "members": {
        "ServerSideEncryptionConfiguration": {
          "target": "com.amazonaws.kendra#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS KMS customer managed key (CMK) to use to encrypt data indexed by\n      Amazon Kendra. Amazon Kendra doesn't support asymmetric CMKs.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#IndexName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new index.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kendra#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that identify the index. You can use the tags to identify and\n      organize your resources and to control access to resources.</p>"
          }
        },
        "Edition": {
          "target": "com.amazonaws.kendra#IndexEdition",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Kendra edition to use for the index. Choose <code>DEVELOPER_EDITION</code> for\n      indexes intended for development, testing, or proof of concept. Use\n        <code>ENTERPRISE_EDITION</code> for your production databases. Once you set the edition for\n      an index, it can't be changed. </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the index.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>An IAM role that gives Amazon Kendra permissions to access your Amazon CloudWatch logs and\n      metrics. This is also the role used when you use the <code>BatchPutDocument</code> operation\n      to index documents from an Amazon S3 bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.kendra#ClientTokenName",
          "traits": {
            "smithy.api#documentation": "<p>A token that you provide to identify the request to create an index. Multiple calls to the\n        <code>CreateIndex</code> operation with the same client token will create only one\n      index.”</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateIndexResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the index. Use this identifier when you query an index, set up a\n      data source, or index a document.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#DataSourceConfiguration": {
      "type": "structure",
      "members": {
        "SharePointConfiguration": {
          "target": "com.amazonaws.kendra#SharePointConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides information necessary to create a connector for a Microsoft SharePoint\n            site.</p>"
          }
        },
        "SalesforceConfiguration": {
          "target": "com.amazonaws.kendra#SalesforceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides configuration information for data sources that connect to a Salesforce\n            site.</p>"
          }
        },
        "ServiceNowConfiguration": {
          "target": "com.amazonaws.kendra#ServiceNowConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides configuration for data sources that connect to ServiceNow instances.</p>"
          }
        },
        "OneDriveConfiguration": {
          "target": "com.amazonaws.kendra#OneDriveConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provided configuration for data sources that connect to Microsoft OneDrive.</p>"
          }
        },
        "DatabaseConfiguration": {
          "target": "com.amazonaws.kendra#DatabaseConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides information necessary to create a connector for a database.</p>"
          }
        },
        "S3Configuration": {
          "target": "com.amazonaws.kendra#S3DataSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides information to create a connector for a document repository in an Amazon S3\n            bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for a Amazon Kendra data source.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceDateFieldFormat": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 40
        },
        "smithy.api#pattern": "^(?!\\s).*(?<!\\s)$"
      }
    },
    "com.amazonaws.kendra#DataSourceFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_.]*$"
      }
    },
    "com.amazonaws.kendra#DataSourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#DataSourceInclusionsExclusionsStrings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceInclusionsExclusionsStringsMember"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#DataSourceInclusionsExclusionsStringsMember": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 150
        }
      }
    },
    "com.amazonaws.kendra#DataSourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#DataSourceStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DataSourceSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data source.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the data source was lasted updated. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#DataSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.kendra#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#DataSourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the data source. When the status is <code>ATIVE</code> the data source\n            is ready to use.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the data source was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information for a Amazon Kendra data source. Returned in a call to .</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceSummary"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJob": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the synchronization job was started.</p>"
          }
        },
        "ExecutionId": {
          "target": "com.amazonaws.kendra#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the synchronization job.</p>"
          }
        },
        "DataSourceErrorCode": {
          "target": "com.amazonaws.kendra#String",
          "traits": {
            "smithy.api#documentation": "<p>If the reason that the synchronization failed is due to an error with the underlying\n            data source, this field contains a code that identifies the error.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>Status</code> field is set to <code>ERROR</code>, the\n                <code>ErrorMessage</code> field contains a description of the error that caused the\n            synchronization to fail.</p>"
          }
        },
        "Metrics": {
          "target": "com.amazonaws.kendra#DataSourceSyncJobMetrics",
          "traits": {
            "smithy.api#documentation": "<p>Maps a batch delete document request to a specific data source sync job. This is\n            optional and should only be supplied when documents are deleted by a connector.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#DataSourceSyncJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The execution status of the synchronization job. When the <code>Status</code> field is\n            set to <code>SUCCEEDED</code>, the synchronization job is done. If the status code is\n            set to <code>FAILED</code>, the <code>ErrorCode</code> and <code>ErrorMessage</code>\n            fields give you the reason for the failure.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the synchronization job was completed.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>Status</code> field is set to <code>FAILED</code>, the\n                <code>ErrorCode</code> field contains a the reason that the synchronization\n            failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a synchronization job.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJobHistoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceSyncJob"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJobMetricTarget": {
      "type": "structure",
      "members": {
        "DataSourceId": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the data source that is running the sync job.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSourceSyncJobId": {
          "target": "com.amazonaws.kendra#DataSourceSyncJobId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the sync job that is running on the data source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Maps a particular data source sync job to a particular data source.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJobMetrics": {
      "type": "structure",
      "members": {
        "DocumentsFailed": {
          "target": "com.amazonaws.kendra#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents that failed to sync from the data source up to now in the data\n            source sync run.</p>"
          }
        },
        "DocumentsModified": {
          "target": "com.amazonaws.kendra#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents modified in the data source up to now in the data source sync\n            run.</p>"
          }
        },
        "DocumentsScanned": {
          "target": "com.amazonaws.kendra#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The current number of documents crawled by the current sync job in the data\n            source.</p>"
          }
        },
        "DocumentsDeleted": {
          "target": "com.amazonaws.kendra#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents deleted from the data source up to now in the data source sync\n            run.</p>"
          }
        },
        "DocumentsAdded": {
          "target": "com.amazonaws.kendra#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents added from the data source up to now in the data source\n            sync.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Maps a batch delete document request to a specific data source sync job. This is\n            optional and should only be supplied when documents are deleted by a connector.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "SYNCING",
            "name": "SYNCING"
          },
          {
            "value": "INCOMPLETE",
            "name": "INCOMPLETE"
          },
          {
            "value": "STOPPING",
            "name": "STOPPING"
          },
          {
            "value": "ABORTED",
            "name": "ABORTED"
          },
          {
            "value": "SYNCING_INDEXING",
            "name": "SYNCING_INDEXING"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DataSourceToIndexFieldMapping": {
      "type": "structure",
      "members": {
        "DataSourceFieldName": {
          "target": "com.amazonaws.kendra#DataSourceFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column or attribute in the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "DateFieldFormat": {
          "target": "com.amazonaws.kendra#DataSourceDateFieldFormat",
          "traits": {
            "smithy.api#documentation": "<p>The type of data stored in the column or attribute.</p>"
          }
        },
        "IndexFieldName": {
          "target": "com.amazonaws.kendra#IndexFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field in the index.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Maps a column or attribute in the data source to an index field. You must first create\n            the fields in the index using the <a>UpdateIndex</a> operation.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceToIndexFieldMappingList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceToIndexFieldMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#DataSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "S3",
            "name": "S3"
          },
          {
            "value": "SHAREPOINT",
            "name": "SHAREPOINT"
          },
          {
            "value": "DATABASE",
            "name": "DATABASE"
          },
          {
            "value": "SALESFORCE",
            "name": "SALESFORCE"
          },
          {
            "value": "ONEDRIVE",
            "name": "ONEDRIVE"
          },
          {
            "value": "SERVICENOW",
            "name": "SERVICENOW"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DataSourceVpcConfiguration": {
      "type": "structure",
      "members": {
        "SecurityGroupIds": {
          "target": "com.amazonaws.kendra#SecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers of security groups within your Amazon VPC. The security groups\n            should enable Amazon Kendra to connect to the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.kendra#SubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers for subnets within your Amazon VPC. The subnets should be able\n            to connect to each other in the VPC, and they should have outgoing access to the\n            Internet through a NAT device.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information for connecting to an Amazon VPC.</p>"
      }
    },
    "com.amazonaws.kendra#DatabaseConfiguration": {
      "type": "structure",
      "members": {
        "ConnectionConfiguration": {
          "target": "com.amazonaws.kendra#ConnectionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The information necessary to connect to a database.</p>",
            "smithy.api#required": {}
          }
        },
        "ColumnConfiguration": {
          "target": "com.amazonaws.kendra#ColumnConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about where the index should get the document information from the\n            database.</p>",
            "smithy.api#required": {}
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.kendra#DataSourceVpcConfiguration"
        },
        "AclConfiguration": {
          "target": "com.amazonaws.kendra#AclConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about the database column that provides information for user context\n            filtering.</p>"
          }
        },
        "DatabaseEngineType": {
          "target": "com.amazonaws.kendra#DatabaseEngineType",
          "traits": {
            "smithy.api#documentation": "<p>The type of database engine that runs the database.</p>",
            "smithy.api#required": {}
          }
        },
        "SqlConfiguration": {
          "target": "com.amazonaws.kendra#SqlConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about how Amazon Kendra uses quote marks around SQL identifiers when\n            querying a database data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the information necessary to connect a database to an index. </p>"
      }
    },
    "com.amazonaws.kendra#DatabaseEngineType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RDS_AURORA_MYSQL",
            "name": "RDS_AURORA_MYSQL"
          },
          {
            "value": "RDS_AURORA_POSTGRESQL",
            "name": "RDS_AURORA_POSTGRESQL"
          },
          {
            "value": "RDS_MYSQL",
            "name": "RDS_MYSQL"
          },
          {
            "value": "RDS_POSTGRESQL",
            "name": "RDS_POSTGRESQL"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DatabaseHost": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 253
        }
      }
    },
    "com.amazonaws.kendra#DatabaseName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]*$"
      }
    },
    "com.amazonaws.kendra#DatabasePort": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 65535
        }
      }
    },
    "com.amazonaws.kendra#DeleteDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DeleteDataSourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon Kendra data source. An exception is not thrown if the data source is\n      already being deleted. While the data source is being deleted, the <code>Status</code> field\n      returned by a call to the  operation is set to\n        <code>DELETING</code>. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/delete-data-source.html\">Deleting Data Sources</a>.</p>"
      }
    },
    "com.amazonaws.kendra#DeleteDataSourceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the data source to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the index associated with the data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DeleteFaq": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DeleteFaqRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes an FAQ from an index.</p>"
      }
    },
    "com.amazonaws.kendra#DeleteFaqRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The index to remove the FAQ from.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#FaqId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the FAQ to remove.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DeleteIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DeleteIndexRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing Amazon Kendra index. An exception is not thrown if the index is already\n      being deleted. While the index is being deleted, the <code>Status</code> field returned by a\n      call to the <a>DescribeIndex</a> operation is set to <code>DELETING</code>.</p>"
      }
    },
    "com.amazonaws.kendra#DeleteIndexRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DescribeDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DescribeDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#DescribeDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a Amazon Kendra data source.</p>"
      }
    },
    "com.amazonaws.kendra#DescribeDataSourceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the data source to describe.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DescribeDataSourceResponse": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the data source.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#DataSourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the data source. When the status is <code>ACTIVE</code> the data\n      source is ready to use. When the status is <code>FAILED</code>, the <code>ErrorMessage</code>\n      field contains the reason that the data source failed.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the data source.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the data source.</p>"
          }
        },
        "Schedule": {
          "target": "com.amazonaws.kendra#ScanSchedule",
          "traits": {
            "smithy.api#documentation": "<p>The schedule that Amazon Kendra will update the data source.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp of when the data source was created.</p>"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.kendra#DataSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information that describes where the data source is located and how the data source is\n      configured. The specific information in the description depends on the data source\n      provider.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>When the <code>Status</code> field value is <code>FAILED</code>, the\n        <code>ErrorMessage</code> field contains a description of the error that caused the data\n      source to fail.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp of when the data source was last updated.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#DataSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you gave the data source when it was created.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.kendra#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role that enables the data source to access its\n      resources.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#DescribeFaq": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DescribeFaqRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#DescribeFaqResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about an FAQ list.</p>"
      }
    },
    "com.amazonaws.kendra#DescribeFaqRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#FaqId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the FAQ.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the FAQ.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DescribeFaqResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#FaqId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the FAQ.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the FAQ that you provided when it was created.</p>"
          }
        },
        "S3Path": {
          "target": "com.amazonaws.kendra#S3Path"
        },
        "CreatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the FAQ was created.</p>"
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the FAQ.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#FaqStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the FAQ. It is ready to use when the status is\n            <code>ACTIVE</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#FaqName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you gave the FAQ when it was created.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role that provides access to\n        the S3 bucket containing the input files for the FAQ.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>Status</code> field is <code>FAILED</code>, the <code>ErrorMessage</code>\n            field contains the reason why the FAQ failed.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the FAQ was last updated.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#DescribeIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DescribeIndexRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#DescribeIndexResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes an existing Amazon Kendra index</p>"
      }
    },
    "com.amazonaws.kendra#DescribeIndexRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DescribeIndexResponse": {
      "type": "structure",
      "members": {
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>When th e<code>Status</code> field value is <code>FAILED</code>, the\n        <code>ErrorMessage</code> field contains a message that explains why.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that gives Amazon Kendra permission to write\n      to your Amazon Cloudwatch logs.</p>"
          }
        },
        "DocumentMetadataConfigurations": {
          "target": "com.amazonaws.kendra#DocumentMetadataConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>Configuration settings for any metadata applied to the documents in the index.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>the name of the index.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the index.</p>"
          }
        },
        "CapacityUnits": {
          "target": "com.amazonaws.kendra#CapacityUnitsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>For enterprise edtion indexes, you can choose to use additional capacity to meet the needs\n      of your application. This contains the capacity units used for the index. A 0 for the query\n      capacity or the storage capacity indicates that the index is using the default capacity for\n      the index.</p>"
          }
        },
        "IndexStatistics": {
          "target": "com.amazonaws.kendra#IndexStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about the number of FAQ questions and answers and the number of text\n      documents indexed.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix datetime that the index was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix datetime that the index was last updated.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#IndexName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index.</p>"
          }
        },
        "Edition": {
          "target": "com.amazonaws.kendra#IndexEdition",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Kendra edition used for the index. You decide the edition when you create the\n      index.</p>"
          }
        },
        "ServerSideEncryptionConfiguration": {
          "target": "com.amazonaws.kendra#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS KMS customer master key (CMK) used to encrypt your data.\n      Amazon Kendra doesn't support asymmetric CMKs.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#IndexStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the index. When the value is <code>ACTIVE</code>, the index is ready\n      for use. If the <code>Status</code> field value is <code>FAILED</code>, the\n        <code>ErrorMessage</code> field contains a message that explains why.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^\\P{C}*$"
      }
    },
    "com.amazonaws.kendra#Document": {
      "type": "structure",
      "members": {
        "AccessControlList": {
          "target": "com.amazonaws.kendra#PrincipalList",
          "traits": {
            "smithy.api#documentation": "<p>Information to use for user context filtering.</p>"
          }
        },
        "ContentType": {
          "target": "com.amazonaws.kendra#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>The file type of the document in the <code>Blob</code> field.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#DocumentId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier of the document in the index.</p>",
            "smithy.api#required": {}
          }
        },
        "S3Path": {
          "target": "com.amazonaws.kendra#S3Path"
        },
        "Blob": {
          "target": "com.amazonaws.kendra#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The contents of the document. </p>\n        <p>Documents passed to the <code>Blob</code> parameter must be base64 encoded. Your code\n            might not need to encode the document file bytes if you're using an AWS SDK to call\n            Amazon Kendra operations. If you are calling the Amazon Kendra endpoint directly using REST, you\n            must base64 encode the contents before sending.</p>"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.kendra#DocumentAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>Custom attributes to apply to the document. Use the custom attributes to provide\n            additional information for searching, to provide facets for refining searches, and to\n            provide additional information in the query response.</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.kendra#Title",
          "traits": {
            "smithy.api#documentation": "<p>The title of the document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A document in an index.</p>"
      }
    },
    "com.amazonaws.kendra#DocumentAttribute": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.kendra#DocumentAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute.</p>",
            "smithy.api#required": {}
          }
        },
        "Key": {
          "target": "com.amazonaws.kendra#DocumentAttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the attribute.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A custom attribute value assigned to a document. </p>"
      }
    },
    "com.amazonaws.kendra#DocumentAttributeKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "[a-zA-Z0-9_][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#DocumentAttributeKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DocumentAttributeKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#DocumentAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DocumentAttribute"
      }
    },
    "com.amazonaws.kendra#DocumentAttributeStringListValue": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#String"
      }
    },
    "com.amazonaws.kendra#DocumentAttributeStringValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.kendra#DocumentAttributeValue": {
      "type": "structure",
      "members": {
        "StringValue": {
          "target": "com.amazonaws.kendra#DocumentAttributeStringValue",
          "traits": {
            "smithy.api#documentation": "<p>A string, such as \"department\".</p>"
          }
        },
        "DateValue": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A date expressed as an ISO 8601 string.</p>"
          }
        },
        "LongValue": {
          "target": "com.amazonaws.kendra#Long",
          "traits": {
            "smithy.api#documentation": "<p>A long integer value.</p>"
          }
        },
        "StringListValue": {
          "target": "com.amazonaws.kendra#DocumentAttributeStringListValue",
          "traits": {
            "smithy.api#documentation": "<p>A list of strings. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value of a custom document attribute. You can only provide one value for a custom\n            attribute.</p>"
      }
    },
    "com.amazonaws.kendra#DocumentAttributeValueCountPair": {
      "type": "structure",
      "members": {
        "Count": {
          "target": "com.amazonaws.kendra#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents in the response that have the attribute value for the\n            key.</p>"
          }
        },
        "DocumentAttributeValue": {
          "target": "com.amazonaws.kendra#DocumentAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute. For example, \"HR.\"</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the count of documents that match a particular attribute when doing a faceted\n            search.</p>"
      }
    },
    "com.amazonaws.kendra#DocumentAttributeValueCountPairList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DocumentAttributeValueCountPair"
      }
    },
    "com.amazonaws.kendra#DocumentAttributeValueType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STRING_VALUE",
            "name": "STRING_VALUE"
          },
          {
            "value": "STRING_LIST_VALUE",
            "name": "STRING_LIST_VALUE"
          },
          {
            "value": "LONG_VALUE",
            "name": "LONG_VALUE"
          },
          {
            "value": "DATE_VALUE",
            "name": "DATE_VALUE"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DocumentId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.kendra#DocumentIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DocumentId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.kendra#DocumentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#Document"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.kendra#DocumentMetadataBoolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.kendra#DocumentMetadataConfiguration": {
      "type": "structure",
      "members": {
        "Search": {
          "target": "com.amazonaws.kendra#Search",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about how the field is used during a search.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#DocumentMetadataConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index field.</p>",
            "smithy.api#required": {}
          }
        },
        "Relevance": {
          "target": "com.amazonaws.kendra#Relevance",
          "traits": {
            "smithy.api#documentation": "<p>Provides manual tuning parameters to determine how the field affects the search\n            results.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.kendra#DocumentAttributeValueType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the index field. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the properties of a custom index field.</p>"
      }
    },
    "com.amazonaws.kendra#DocumentMetadataConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DocumentMetadataConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.kendra#DocumentMetadataConfigurationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 30
        }
      }
    },
    "com.amazonaws.kendra#DocumentsMetadataConfiguration": {
      "type": "structure",
      "members": {
        "S3Prefix": {
          "target": "com.amazonaws.kendra#S3ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>A prefix used to filter metadata configuration files in the AWS S3 bucket. The S3\n            bucket might contain multiple metadata files. Use <code>S3Prefix</code> to include only\n            the desired metadata files.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Document metadata files that contain information such as the document access control\n            information, source URI, document author, and custom attributes. Each metadata file\n            contains metadata about a single document.</p>"
      }
    },
    "com.amazonaws.kendra#Duration": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#pattern": "[0-9]+[s]"
      }
    },
    "com.amazonaws.kendra#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "InternalError",
            "name": "INTERNAL_ERROR"
          },
          {
            "value": "InvalidRequest",
            "name": "INVALID_REQUEST"
          }
        ]
      }
    },
    "com.amazonaws.kendra#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^\\P{C}*$"
      }
    },
    "com.amazonaws.kendra#Facet": {
      "type": "structure",
      "members": {
        "DocumentAttributeKey": {
          "target": "com.amazonaws.kendra#DocumentAttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The unique key for the document attribute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a document attribute</p>"
      }
    },
    "com.amazonaws.kendra#FacetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#Facet"
      }
    },
    "com.amazonaws.kendra#FacetResult": {
      "type": "structure",
      "members": {
        "DocumentAttributeValueCountPairs": {
          "target": "com.amazonaws.kendra#DocumentAttributeValueCountPairList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key/value pairs, where the key is the value of the attribute and the count\n         is the number of documents that share the key value.</p>"
          }
        },
        "DocumentAttributeKey": {
          "target": "com.amazonaws.kendra#DocumentAttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The key for the facet values. This is the same as the <code>DocumentAttributeKey</code>\n         provided in the query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The facet values for the documents in the response.</p>"
      }
    },
    "com.amazonaws.kendra#FacetResultList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#FacetResult"
      }
    },
    "com.amazonaws.kendra#FaqId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#FaqName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#FaqStatistics": {
      "type": "structure",
      "members": {
        "IndexedQuestionAnswersCount": {
          "target": "com.amazonaws.kendra#IndexedQuestionAnswersCount",
          "traits": {
            "smithy.api#documentation": "<p>The total number of FAQ questions and answers contained in the index.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides statistical information about the FAQ questions and answers contained in an\n            index.</p>"
      }
    },
    "com.amazonaws.kendra#FaqStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.kendra#FaqSummary": {
      "type": "structure",
      "members": {
        "UpdatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the FAQ was last updated.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#FaqId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the FAQ.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#FaqName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you assigned the FAQ when you created or updated the FAQ.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#FaqStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the FAQ. When the status is <code>ACTIVE</code> the FAQ is ready\n            for use.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the FAQ was added to the index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a frequently asked questions and answer contained in an\n            index.</p>"
      }
    },
    "com.amazonaws.kendra#FaqSummaryItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#FaqSummary"
      }
    },
    "com.amazonaws.kendra#Highlight": {
      "type": "structure",
      "members": {
        "TopAnswer": {
          "target": "com.amazonaws.kendra#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the response is the best response. True if this is the best\n            response; otherwise, false.</p>"
          }
        },
        "EndOffset": {
          "target": "com.amazonaws.kendra#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based location in the response string where the highlight ends.</p>",
            "smithy.api#required": {}
          }
        },
        "BeginOffset": {
          "target": "com.amazonaws.kendra#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based location in the response string where the highlight starts.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information that you can use to highlight a search result so that your users\n            can quickly identify terms in the response.</p>"
      }
    },
    "com.amazonaws.kendra#HighlightList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#Highlight"
      }
    },
    "com.amazonaws.kendra#Importance": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.kendra#IndexConfigurationSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the index. Use this to identify the index when you are using\n            operations such as <code>Query</code>, <code>DescribeIndex</code>,\n                <code>UpdateIndex</code>, and <code>DeleteIndex</code>.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp when the index was last updated by the <code>UpdateIndex</code>\n            operation.</p>",
            "smithy.api#required": {}
          }
        },
        "Edition": {
          "target": "com.amazonaws.kendra#IndexEdition",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the index is a enterprise edition index or a developer edition\n            index. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#IndexName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp when the index was created.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#IndexStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the index. When the status is <code>ACTIVE</code>, the index is\n            ready to search.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of information about an index.</p>"
      }
    },
    "com.amazonaws.kendra#IndexConfigurationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#IndexConfigurationSummary"
      }
    },
    "com.amazonaws.kendra#IndexEdition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DEVELOPER_EDITION",
            "name": "DEVELOPER_EDITION"
          },
          {
            "value": "ENTERPRISE_EDITION",
            "name": "ENTERPRISE_EDITION"
          }
        ]
      }
    },
    "com.amazonaws.kendra#IndexFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 30
        },
        "smithy.api#pattern": "^\\P{C}*$"
      }
    },
    "com.amazonaws.kendra#IndexId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9-]*"
      }
    },
    "com.amazonaws.kendra#IndexName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#IndexStatistics": {
      "type": "structure",
      "members": {
        "FaqStatistics": {
          "target": "com.amazonaws.kendra#FaqStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The number of question and answer topics in the index.</p>",
            "smithy.api#required": {}
          }
        },
        "TextDocumentStatistics": {
          "target": "com.amazonaws.kendra#TextDocumentStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The number of text documents indexed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the number of documents and the number of questions and\n            answers in an index.</p>"
      }
    },
    "com.amazonaws.kendra#IndexStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "SYSTEM_UPDATING",
            "name": "SYSTEM_UPDATING"
          }
        ]
      }
    },
    "com.amazonaws.kendra#IndexedQuestionAnswersCount": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.kendra#IndexedTextBytes": {
[...]
