{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            },
            {
                "id": "RuleSetAwsBuiltIn.AWS::Auth::AccountIdEndpointMode",
                "namespace": "*"
            },
            {
                "id": "RuleSetAwsBuiltIn.AWS::Auth::AccountId",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.kinesis#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.kinesis#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies that you do not have the permissions required to perform this\n            operation.</p>",
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.kinesis#AddTagsToStream": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesis#AddTagsToStreamInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesis#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.kinesis#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.kinesis#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceNotFoundException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds or updates tags for the specified Kinesis data stream. You can assign up to 50\n            tags to a data stream.</p>\n         <note>\n            <p>When invoking this API, you must use either the <code>StreamARN</code> or the\n                    <code>StreamName</code> parameter, or both. It is recommended that you use the\n                    <code>StreamARN</code> input parameter when you invoke this API.</p>\n         </note>\n         <p>If tags have already been assigned to the stream, <code>AddTagsToStream</code>\n            overwrites any existing tags that correspond to the specified tag keys.</p>\n         <p>\n            <a>AddTagsToStream</a> has a limit of five transactions per second per\n            account.</p>",
                "smithy.rules#staticContextParams": {
                    "OperationType": {
                        "value": "control"
                    }
                }
            }
        },
        "com.amazonaws.kinesis#AddTagsToStreamInput": {
            "type": "structure",
            "members": {
                "StreamName": {
                    "target": "com.amazonaws.kinesis#StreamName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the stream.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.kinesis#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A set of up to 50 key-value pairs to use to create the tags. A tag consists of a required key and an optional value. You can add up to 50 tags per resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StreamARN": {
                    "target": "com.amazonaws.kinesis#StreamARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the stream.</p>",
                        "smithy.rules#contextParam": {
                            "name": "StreamARN"
                        }
                    }
                },
                "StreamId": {
                    "target": "com.amazonaws.kinesis#StreamId",
                    "traits": {
                        "smithy.api#documentation": "<p>Not Implemented. Reserved for future use.</p>",
                        "smithy.rules#contextParam": {
                            "name": "StreamId"
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents the input for <code>AddTagsToStream</code>.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.kinesis#BooleanObject": {
            "type": "boolean"
        },
        "com.amazonaws.kinesis#BucketARN": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:aws[-a-z0-9]*:s3:::[a-z0-9._-]{3,63}$"
            }
        },
        "com.amazonaws.kinesis#ChannelARN": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:aws.*:kinesis:.*:\\d{12}:channel/\\S+$"
            }
        },
        "com.amazonaws.kinesis#ChannelCountObject": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 0,
                    "max": 1000000
                }
            }
        },
        "com.amazonaws.kinesis#ChannelDescription": {
            "type": "structure",
            "members": {
                "ChannelName": {
                    "target": "com.amazonaws.kinesis#ChannelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the channel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ChannelARN": {
                    "target": "com.amazonaws.kinesis#ChannelARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the channel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ChannelId": {
                    "target": "com.amazonaws.kinesis#ChannelId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the channel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ChannelStatus": {
                    "target": "com.amazonaws.kinesis#ChannelStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the channel. Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATING</code> - The channel is being created.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTIVE</code> - The channel is ready to deliver records.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UPDATING</code> - The channel configuration is being updated.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETING</code> - The channel is being deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - See <code>ChannelStatusReason</code> for the failure cause.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "ChannelStatusReason": {
                    "target": "com.amazonaws.kinesis#ChannelStatusReason",
                    "traits": {
                        "smithy.api#documentation": "<p>A message describing the reason for a <code>FAILED</code> status.</p>"
                    }
                },
                "ChannelCreationTimestamp": {
                    "target": "com.amazonaws.kinesis#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the channel was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ServiceExecutionRoleARN": {
                    "target": "com.amazonaws.kinesis#RoleARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that Amazon Kinesis Data Streams assumes to write records to the destination.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StreamConfigurationList": {
                    "target": "com.amazonaws.kinesis#ChannelStreamDescriptionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The source stream configuration for the channel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "S3DestinationConfiguration": {
                    "target": "com.amazonaws.kinesis#S3DestinationDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for delivery to a general purpose Amazon S3 bucket. Present only when the channel destination is a general purpose Amazon S3 bucket.</p>"
                    }
                },
                "S3TablesDestinationConfiguration": {
                    "target": "com.amazonaws.kinesis#S3TablesDestinationDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for delivery to streaming tables on Apache Iceberg in Amazon S3 Tables. Present only when the channel destination is a streaming table.</p>"
                    }
                },
                "EncryptionConfiguration": {
                    "target": "com.amazonaws.kinesis#ChannelEncryptionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The server-side encryption configuration for the channel.</p>"
                    }
                },
                "LoggingConfiguration": {
                    "target": "com.amazonaws.kinesis#ChannelLoggingConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon CloudWatch Logs configuration for the channel.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the configuration and current status of a channel.</p>"
            }
        },
        "com.amazonaws.kinesis#ChannelDestinationType": {
            "type": "enum",
            "members": {
                "S3": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "S3"
                    }
                },
                "S3_TABLES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "S3_TABLES"
                    }
                }
            }
        },
        "com.amazonaws.kinesis#ChannelEncryptionConfiguration": {
            "type": "structure",
            "members": {
                "EncryptionType": {
                    "target": "com.amazonaws.kinesis#ChannelEncryptionType",
                    "traits": {
                        "smithy.api#documentation": "<p>The encryption type. The only valid value is <code>KMS</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "KeyId": {
                    "target": "com.amazonaws.kinesis#KeyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the customer managed Amazon Web Services KMS key. You cannot use the Amazon Kinesis Data Streams service key (<code>aws/kinesis</code>).</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the Amazon Web Services KMS key that Amazon Kinesis Data Streams uses to encrypt data delivered to the channel's destination.</p>"
            }
        },
        "com.amazonaws.kinesis#ChannelEncryptionType": {
            "type": "enum",
            "members": {
                "KMS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "KMS"
                    }
                }
            }
        },
        "com.amazonaws.kinesis#ChannelId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.kinesis#ChannelLoggingConfiguration": {
            "type": "structure",
            "members": {
                "CloudWatchLogs": {
                    "target": "com.amazonaws.kinesis#CloudWatchLogs",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon CloudWatch Logs settings for the channel.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Amazon CloudWatch Logs configuration for a channel.</p>"
            }
        },
        "com.amazonaws.kinesis#ChannelLoggingUpdateInput": {
            "type": "structure",
            "members": {
                "CloudWatchLogs": {
                    "target": "com.amazonaws.kinesis#CloudWatchLogsUpdateInput",
                    "traits": {
                        "smithy.api#documentation": "<p>The updated Amazon CloudWatch Logs settings for the channel.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The updated Amazon CloudWatch Logs configuration for a channel. Used in <a>UpdateChannel</a>.</p>"
            }
        },
        "com.amazonaws.kinesis#ChannelName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_.-]+$"
            }
        },
        "com.amazonaws.kinesis#ChannelStatus": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "UPDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATING"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.kinesis#ChannelStatusReason": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.kinesis#ChannelStreamConfiguration": {
            "type": "structure",
            "members": {
                "StreamARN": {
                    "target": "com.amazonaws.kinesis#StreamARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source Kinesis data stream.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RecordConfiguration": {
                    "target": "com.amazonaws.kinesis#RecordConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The record format configuration for the source stream.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the source stream and record configuration when creating a channel.</p>"
            }
        },
        "com.amazonaws.kinesis#ChannelStreamConfigurationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.kinesis#ChannelStreamConfiguration"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10000
                }
            }
        },
        "com.amazonaws.kinesis#ChannelStreamDescription": {
            "type": "structure",
            "members": {
                "StreamARN": {
                    "target": "com.amazonaws.kinesis#StreamARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source Kinesis data stream.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StreamCreationTimestamp": {
                    "target": "com.amazonaws.kinesis#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the source stream was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RecordConfiguration": {
                    "target": "com.amazonaws.kinesis#RecordConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The record format configuration for the source stream.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the source stream of a channel.</p>"
            }
        },
        "com.amazonaws.kinesis#ChannelStreamDescriptionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.kinesis#ChannelStreamDescription"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10000
                }
            }
        },
        "com.amazonaws.kinesis#ChannelStreamIdentifier": {
            "type": "structure",
            "members": {
                "StreamARN": {
                    "target": "com.amazonaws.kinesis#StreamARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source Kinesis data stream.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StreamCreationTimestamp": {
                    "target": "com.amazonaws.kinesis#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the source stream was created.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Identifies a source stream associated with a channel.</p>"
            }
        },
        "com.amazonaws.kinesis#ChannelStreamIdentifierList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.kinesis#ChannelStreamIdentifier"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10000
                }
            }
        },
        "com.amazonaws.kinesis#ChannelSummary": {
            "type": "structure",
            "members": {
                "ChannelName": {
                    "target": "com.amazonaws.kinesis#ChannelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the channel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ChannelARN": {
                    "target": "com.amazonaws.kinesis#ChannelARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the channel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ChannelId": {
                    "target": "com.amazonaws.kinesis#ChannelId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the channel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ChannelStatus": {
                    "target": "com.amazonaws.kinesis#ChannelStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the channel. Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATING</code> - The channel is being created.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTIVE</code> - The channel is ready to deliver records.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UPDATING</code> - The channel configuration is being updated.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETING</code> - The channel is being deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - See <code>ChannelStatusReason</code> for the failure cause.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "ChannelStatusReason": {
                    "target": "com.amazonaws.kinesis#ChannelStatusReason",
                    "traits": {
                        "smithy.api#documentation": "<p>A message describing the reason for a <code>FAILED</code> status.</p>"
                    }
                },
                "ChannelCreationTimestamp": {
                    "target": "com.amazonaws.kinesis#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the channel was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ChannelDestinationType": {
                    "target": "com.amazonaws.kinesis#ChannelDestinationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The destination type of the channel. Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>S3</code> - Delivery to a general purpose Amazon S3 bucket.</p>\n            </li>\n            <li>\n               <p>\n                  <code>S3_TABLES</code> - Delivery to streaming tables on Apache Iceberg.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "Streams": {
                    "target": "com.amazonaws.kinesis#ChannelStreamIdentifierList",
                    "traits": {
                        "smithy.api#documentation": "<p>The source streams associated with the channel.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of a channel, returned by <a>ListChannels</a>.</p>"
            }
        },
        "com.amazonaws.kinesis#ChannelSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.kinesis#ChannelSummary"
            }
        },
        "com.amazonaws.kinesis#ChildShard": {
            "type": "structure",
            "members": {
                "ShardId": {
                    "target": "com.amazonaws.kinesis#ShardId",
                    "traits": {
                        "smithy.api#documentation": "<p>The shard ID of the existing child shard of the current shard.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ParentShards": {
                    "target": "com.amazonaws.kinesis#ShardIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The current shard that is the parent of the existing child shard.</p>",
                        "smithy.api#required": {}
                    }
                },
                "HashKeyRange": {
                    "target": "com.amazonaws.kinesis#HashKeyRange",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Output parameter of the GetRecords API. The existing child shard of the current\n            shard.</p>"
            }
        },
        "com.amazonaws.kinesis#ChildShardList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.kinesis#ChildShard"
            }
        },
        "com.amazonaws.kinesis#CloudWatchLogGroupName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 512
                },
                "smithy.api#pattern": "^[\\.\\-_/#A-Za-z0-9]+$"
            }
        },
        "com.amazonaws.kinesis#CloudWatchLogStreamName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 512
                },
                "smithy.api#pattern": "^[^:*]*$"
            }
        },
        "com.amazonaws.kinesis#CloudWatchLogs": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "target": "com.amazonaws.kinesis#BooleanObject",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether logging to Amazon CloudWatch Logs is enabled.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LogGroupName": {
                    "target": "com.amazonaws.kinesis#CloudWatchLogGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon CloudWatch Logs log group. Defaults to <code>/aws/kinesis/{channelName}/{channelId}</code>.</p>"
                    }
                },
                "LogStreamName": {
                    "target": "com.amazonaws.kinesis#CloudWatchLogStreamName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon CloudWatch Logs log stream. Defaults to <code>DestinationDelivery</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Amazon CloudWatch Logs settings for channel logging.</p>"
            }
        },
        "com.amazonaws.kinesis#CloudWatchLogsUpdateInput": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "target": "com.amazonaws.kinesis#BooleanObject",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether logging to Amazon CloudWatch Logs is enabled.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LogGroupName": {
                    "target": "com.amazonaws.kinesis#CloudWatchLogGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon CloudWatch Logs log group.</p>"
                    }
                },
                "LogStreamName": {
                    "target": "com.amazonaws.kinesis#CloudWatchLogStreamName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon CloudWatch Logs log stream.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The updated Amazon CloudWatch Logs settings for a channel.</p>"
            }
        },
        "com.amazonaws.kinesis#Consumer": {
            "type": "structure",
            "members": {
                "ConsumerName": {
                    "target": "com.amazonaws.kinesis#ConsumerName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the consumer is something you choose when you register the\n            consumer.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ConsumerARN": {
                    "target": "com.amazonaws.kinesis#ConsumerARN",
                    "traits": {
                        "smithy.api#documentation": "<p>When you register a consumer, Kinesis Data Streams generates an ARN for it. You need\n            this ARN to be able to call <a>SubscribeToShard</a>.</p>\n         <p>If you delete a consumer and then create a new one with the same name, it won't have\n            the same ARN. That's because consumer ARNs contain the creation timestamp. This is\n            important to keep in mind if you have IAM policies that reference consumer ARNs.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ConsumerStatus": {
                    "target": "com.amazonaws.kinesis#ConsumerStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>A consumer can't read data while in the <code>CREATING</code> or <code>DELETING</code>\n            states.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ConsumerCreationTimestamp": {
                    "target": "com.amazonaws.kinesis#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p></p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents the details of the consumer you registered. This type of\n            object is returned by <a>RegisterStreamConsumer</a>.</p>"
            }
        },
        "com.amazonaws.kinesis#ConsumerARN": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#pattern": "^(arn):aws.*:kinesis:.*:\\d{12}:.*stream\\/[a-zA-Z0-9_.-]+\\/consumer\\/[a-zA-Z0-9_.-]+:[0-9]+$"
            }
        },
        "com.amazonaws.kinesis#ConsumerCountObject": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 0,
                    "max": 1000000
                }
            }
        },
        "com.amazonaws.kinesis#ConsumerDescription": {
            "type": "structure",
            "members": {
                "ConsumerName": {
                    "target": "com.amazonaws.kinesis#ConsumerName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the consumer is something you choose when you register the\n            consumer.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ConsumerARN": {
                    "target": "com.amazonaws.kinesis#ConsumerARN",
                    "traits": {
                        "smithy.api#documentation": "<p>When you register a consumer, Kinesis Data Streams generates an ARN for it. You need\n            this ARN to be able to call <a>SubscribeToShard</a>.</p>\n         <p>If you delete a consumer and then create a new one with the same name, it won't have\n            the same ARN. That's because consumer ARNs contain the creation timestamp. This is\n            important to keep in mind if you have IAM policies that reference consumer ARNs.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ConsumerStatus": {
                    "target": "com.amazonaws.kinesis#ConsumerStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>A consumer can't read data while in the <code>CREATING</code> or <code>DELETING</code>\n            states.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ConsumerCreationTimestamp": {
                    "target": "com.amazonaws.kinesis#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p></p>",
                        "smithy.api#required": {}
                    }
                },
                "StreamARN": {
                    "target": "com.amazonaws.kinesis#StreamARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the stream with which you registered the consumer.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents the details of a registered consumer. This type of object is\n            returned by <a>DescribeStreamConsumer</a>.</p>"
            }
        },
        "com.amazonaws.kinesis#ConsumerList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.kinesis#Consumer"
            }
        },
        "com.amazonaws.kinesis#ConsumerName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_.-]+$"
            }
        },
        "com.amazonaws.kinesis#ConsumerStatus": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                }
            }
        },
        "com.amazonaws.kinesis#CreateChannel": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesis#CreateChannelInput"
            },
            "output": {
                "target": "com.amazonaws.kinesis#CreateChannelOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesis#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.kinesis#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.kinesis#KMSAccessDeniedException"
                },
                {
                    "target": "com.amazonaws.kinesis#KMSDisabledException"
                },
                {
                    "target": "com.amazonaws.kinesis#KMSInvalidStateException"
                },
                {
                    "target": "com.amazonaws.kinesis#KMSNotFoundException"
                },
                {
                    "target": "com.amazonaws.kinesis#KMSOptInRequired"
                },
                {
                    "target": "com.amazonaws.kinesis#KMSThrottlingException"
                },
                {
                    "target": "com.amazonaws.kinesis#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.kinesis#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a channel that delivers records from a Kinesis data stream to a destination. A channel reads records from the specified stream and writes them to streaming tables on Apache Iceberg (Amazon S3 Tables) or to a general purpose Amazon S3 bucket.</p>\n         <p>You must specify either <code>S3DestinationConfiguration</code> or <code>S3TablesDestinationConfiguration</code>, but not both.</p>\n         <p>To use this operation, you must have permission to pass the specified service execution IAM role to Amazon Kinesis Data Streams (the <code>iam:PassRole</code> permission on that role).</p>\n         <p>Creating a channel is an asynchronous operation. Upon receiving the request, Amazon Kinesis Data Streams returns immediately with the channel in the <code>CREATING</code> state. After provisioning is complete, Amazon Kinesis Data Streams sets the state to <code>ACTIVE</code>. You can use <a>DescribeChannel</a> to check the current state.</p>\n         <p>This operation is only supported for data streams with the on-demand capacity mode.</p>\n         <p>This operation has a call limit of 5 transactions per second (TPS) for each Amazon Web Services account. Exceeding 5 TPS results in a <code>LimitExceededException</code>.</p>",
                "smithy.api#examples": [
                    {
                        "title": "To create an S3 channel",
                        "input": {
                            "ChannelName": "my-channel-name",
                            "ServiceExecutionRoleARN": "arn:aws:iam::123456789012:role/my-channel-role",
                            "StreamConfigurationList": [
                                {
                                    "StreamARN": "arn:aws:kinesis:us-east-1:123456789012:stream/my-stream-name",
                                    "RecordConfiguration": {
                                        "RecordFormatType": "JSON"
                                    }
                                }
                            ],
                            "S3DestinationConfiguration": {
                                "StorageConfiguration": {
                                    "BucketARN": "arn:aws:s3:::my-channel-bucket",
                                    "ExpectedBucketOwner": "123456789012",
                                    "CompressionType": "ZSTD"
                                },
                                "DeadLetterQueueS3Configuration": {
                                    "BucketARN": "arn:aws:s3:::my-channel-dlq-bucket",
                                    "ExpectedBucketOwner": "123456789012"
                                }
                            },
                            "EncryptionConfiguration": {
                                "EncryptionType": "KMS",
                                "KeyId": "arn:aws:kms:us-east-1:123456789012:key/1234abcd-12ab-34cd-56ef-1234567890ab"
                            },
                            "LoggingConfiguration": {
                                "CloudWatchLogs": {
                                    "Enabled": true,
                                    "LogGroupName": "/aws/kinesis/my-channel",
                                    "LogStreamName": "my-channel-log-stream"
                                }
                            }
                        },
                        "output": {
                            "ChannelDescription": {
                                "ChannelName": "my-channel-name",
                                "ChannelARN": "arn:aws:kinesis:us-east-1:123456789012:channel/my-channel-id",
                                "ChannelId": "my-channel-id",
                                "ChannelStatus": "CREATING",
                                "ChannelCreationTimestamp": "2024-07-02T00:00:00Z",
                                "ServiceExecutionRoleARN": "arn:aws:iam::123456789012:role/my-channel-role",
                                "StreamConfigurationList": [
                                    {
                                        "StreamARN": "arn:aws:kinesis:us-east-1:123456789012:stream/my-stream-name",
                                        "StreamCreationTimestamp": "2024-07-01T00:00:00Z",
                                        "RecordConfiguration": {
                                            "RecordFormatType": "JSON"
                                        }
                                    }
                                ],
                                "S3DestinationConfiguration": {
                                    "DataFreshnessInSeconds": 300,
                                    "DeadLetterQueueS3Configuration": {
                                        "BucketARN": "arn:aws:s3:::my-channel-dlq-bucket",
                                        "ExpectedBucketOwner": "123456789012",
                                        "ErrorOutputPrefix": "kinesis-channel/errors/my-channel/my-channel-id/"
                                    },
                                    "StorageConfiguration": {
                                        "BucketARN": "arn:aws:s3:::my-channel-bucket",
                                        "ExpectedBucketOwner": "123456789012",
                                        "OutputKeyTemplate": "kinesis-channel/!{channel-name}/!{channel-id}/!{yyyy}/!{MM}/!{dd}/!{HH}/!{channel-name}-!{channel-id}-!{yyyy}-!{MM}-!{dd}-!{HH}-!{mm}!{extension}",
                                        "StorageClass": "STANDARD",
                                        "CompressionType": "ZSTD"
                                    }
                                },
                                "EncryptionConfiguration": {
                                    "EncryptionType": "KMS",
                                    "KeyId": "arn:aws:kms:us-east-1:123456789012:key/1234abcd-12ab-34cd-56ef-1234567890ab"
                                },
                                "LoggingConfiguration": {
                                    "CloudWatchLogs": {
                                        "Enabled": true,
                                        "LogGroupName": "/aws/kinesis/my-channel",
                                        "LogStreamName": "my-channel-log-stream"
                                    }
                                }
                            }
                        }
                    },
                    {
                        "title": "To create an S3 Tables channel",
                        "input": {
                            "ChannelName": "my-channel-name",
                            "ServiceExecutionRoleARN": "arn:aws:iam::123456789012:role/my-channel-role",
                            "StreamConfigurationList": [
                                {
                                    "StreamARN": "arn:aws:kinesis:us-east-1:123456789012:stream/my-stream-name",
                                    "RecordConfiguration": {
                                        "RecordFormatType": "JSON",
                                        "GSRSchemaARN": "arn:aws:glue:us-east-1:123456789012:schema/my-registry/my-schema"
                                    }
                                }
                            ],
                            "S3TablesDestinationConfiguration": {
                                "DeadLetterQueueS3Configuration": {
                                    "BucketARN": "arn:aws:s3:::my-channel-dlq-bucket",
                                    "ExpectedBucketOwner": "123456789012"
                                },
                                "S3TablesConfigurationList": [
                                    {
                                        "TableBucketARN": "arn:aws:s3tables:us-east-1:123456789012:bucket/my-table-bucket",
                                        "Namespace": "my_namespace",
                                        "TableName": "my_table",
                                        "CompressionType": "ZSTD",
                                        "PartitionSpec": {
                                            "PartitionFields": [
                                                {
                                                    "Transform": "TIME_HOUR",
                                                    "SourceName": "creation_ts"
                                                }
                                            ]
                                        }
                                    }
                                ]
                            },
                            "EncryptionConfiguration": {
                                "EncryptionType": "KMS",
                                "KeyId": "arn:aws:kms:us-east-1:123456789012:key/1234abcd-12ab-34cd-56ef-1234567890ab"
                            },
                            "LoggingConfiguration": {
                                "CloudWatchLogs": {
                                    "Enabled": true,
                                    "LogGroupName": "/aws/kinesis/my-channel",
                                    "LogStreamName": "my-channel-log-stream"
                                }
                            }
                        },
                        "output": {
                            "ChannelDescription": {
                                "ChannelName": "my-channel-name",
                                "ChannelARN": "arn:aws:kinesis:us-east-1:123456789012:channel/my-channel-id",
                                "ChannelId": "my-channel-id",
                                "ChannelStatus": "CREATING",
                                "ChannelCreationTimestamp": "2024-07-02T00:00:00Z",
                                "ServiceExecutionRoleARN": "arn:aws:iam::123456789012:role/my-channel-role",
                                "StreamConfigurationList": [
                                    {
                                        "StreamARN": "arn:aws:kinesis:us-east-1:123456789012:stream/my-stream-name",
                                        "StreamCreationTimestamp": "2024-07-01T00:00:00Z",
                                        "RecordConfiguration": {
                                            "RecordFormatType": "JSON",
                                            "GSRSchemaARN": "arn:aws:glue:us-east-1:123456789012:schema/my-registry/my-schema"
                                        }
                                    }
                                ],
                                "S3TablesDestinationConfiguration": {
                                    "DataFreshnessInSeconds": 300,
                                    "DeadLetterQueueS3Configuration": {
                                        "BucketARN": "arn:aws:s3:::my-channel-dlq-bucket",
                                        "ExpectedBucketOwner": "123456789012",
                                        "ErrorOutputPrefix": "kinesis-channel/errors/my-channel/my-channel-id/"
                                    },
                                    "S3TablesConfigurationList": [
                                        {
                                            "TableBucketARN": "arn:aws:s3tables:us-east-1:123456789012:bucket/my-table-bucket",
                                            "Namespace": "my_namespace",
                                            "TableName": "my_table",
                                            "CompressionType": "ZSTD",
                                            "PartitionSpec": {
                                                "PartitionFields": [
                                                    {
                                                        "Transform": "TIME_HOUR",
                                                        "SourceName": "creation_ts"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                "EncryptionConfiguration": {
                                    "EncryptionType": "KMS",
                                    "KeyId": "arn:aws:kms:us-east-1:123456789012:key/1234abcd-12ab-34cd-56ef-1234567890ab"
                                },
                                "LoggingConfiguration": {
                                    "CloudWatchLogs": {
                                        "Enabled": true,
                                        "LogGroupName": "/aws/kinesis/my-channel",
                                        "LogStreamName": "my-channel-log-stream"
                                    }
                                }
                            }
                        }
                    }
                ],
                "smithy.rules#staticContextParams": {
                    "OperationType": {
                        "value": "control"
                    }
                }
            }
        },
        "com.amazonaws.kinesis#CreateChannelInput": {
            "type": "structure",
            "members": {
                "ChannelName": {
                    "target": "com.amazonaws.kinesis#ChannelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the channel. The name is unique within your Amazon Web Services account and Amazon Web Services Region.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ServiceExecutionRoleARN": {
                    "target": "com.amazonaws.kinesis#RoleARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that Amazon Kinesis Data Streams assumes to write records to the destination.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StreamConfigurationList": {
                    "target": "com.amazonaws.kinesis#ChannelStreamConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>The source stream configuration for the channel. Currently, one stream is supported per channel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "S3DestinationConfiguration": {
                    "target": "com.amazonaws.kinesis#S3DestinationConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for delivery to a general purpose Amazon S3 bucket. You must specify either <code>S3DestinationConfiguration</code> or <code>S3TablesDestinationConfiguration</code>, but not both.</p>"
                    }
                },
                "S3TablesDestinationConfiguration": {
                    "target": "com.amazonaws.kinesis#S3TablesDestinationConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for delivery to streaming tables on Apache Iceberg in Amazon S3 Tables. You must specify either <code>S3DestinationConfiguration</code> or <code>S3TablesDestinationConfiguration</code>, but not both.</p>"
                    }
                },
                "EncryptionConfiguration": {
                    "target": "com.amazonaws.kinesis#ChannelEncryptionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The server-side encryption configuration that uses an Amazon Web Services KMS key to encrypt data delivered to the destination.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.kinesis#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A set of key-value pairs to assign to the channel. A tag consists of a required key and an optional value.</p>"
                    }
                },
                "LoggingConfiguration": {
                    "target": "com.amazonaws.kinesis#ChannelLoggingConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon CloudWatch Logs configuration for the channel.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.kinesis#CreateChannelOutput": {
            "type": "structure",
            "members": {
                "ChannelDescription": {
                    "target": "com.amazonaws.kinesis#ChannelDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration and current status of the channel.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.kinesis#CreateStream": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesis#CreateStreamInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesis#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.kinesis#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.kinesis#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a Kinesis data stream. A stream captures and transports data records that are\n            continuously emitted from different data sources or <i>producers</i>.\n            Scale-out within a stream is explicitly supported by means of shards, which are uniquely\n            identified groups of data records in a stream.</p>\n         <p>You can create your data stream using either on-demand or provisioned capacity mode. Data streams with an on-demand mode require no capacity planning and automatically scale to handle gigabytes of write and read throughput per minute. With the on-demand mode, Kinesis Data Streams automatically manages the shards in order to provide the necessary throughput.</p>\n         <p>If you'd still like to proactively scale your on-demand data stream’s capacity, you can unlock the warm throughput feature for on-demand data streams by enabling <code>MinimumThroughputBillingCommitment</code> for your account. Once your account has <code>MinimumThroughputBillingCommitment</code> enabled, you can specify the warm throughput in MiB per second that your stream can support in writes.</p>\n         <p>For the data streams with a provisioned mode, you must specify the number of shards for the data stream. Each shard can support reads up to five transactions per second, up to a maximum data read total of 2 MiB per second. Each shard can support writes up to 1,000 records per second, up to a maximum data write total of 1 MiB per second. If the amount of data input increases or decreases, you can add or remove shards.</p>\n         <p>The stream name identifies the stream. The name is scoped to the Amazon Web Services\n            account used by the application. It is also scoped by Amazon Web Services Region. That\n            is, two streams in two different accounts can have the same name, and two streams in the\n            same account, but in two different Regions, can have the same name.</p>\n         <p>\n            <code>CreateStream</code> is an asynchronous operation. Upon receiving a\n                <code>CreateStream</code> request, Kinesis Data Streams immediately returns and sets\n            the stream status to <code>CREATING</code>. After the stream is created, Kinesis Data\n            Streams sets the stream status to <code>ACTIVE</code>. You should perform read and write\n            operations only on an <code>ACTIVE</code> stream. </p>\n         <p>You receive a <code>LimitExceededException</code> when making a\n                <code>CreateStream</code> request when you try to do one of the following:</p>\n         <ul>\n            <li>\n               <p>Have more than five streams in the <code>CREATING</code> state at any point in\n                    time.</p>\n            </li>\n            <li>\n               <p>Create more shards than are authorized for your account.</p>\n            </li>\n         </ul>\n         <p>For the default shard or on-demand throughput limits for an Amazon Web Services account, see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Amazon Kinesis Data Streams Limits</a> in the <i>Amazon Kinesis Data Streams Developer Guide</i>. To increase this limit, <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">contact Amazon Web Services Support</a>.</p>\n         <p>You can use <a>DescribeStreamSummary</a> to check the stream status, which\n            is returned in <code>StreamStatus</code>.</p>\n         <p>\n            <a>CreateStream</a> has a limit of five transactions per second per\n            account.</p>\n         <p>You can add tags to the stream when making a <code>CreateStream</code> request by setting the <code>Tags</code> parameter. If you pass the <code>Tags</code> parameter, in addition to having the <code>kinesis:CreateStream</code> permission, you must also have the <code>kinesis:AddTagsToStream</code> permission for the stream that will be created. The <code>kinesis:TagResource</code> permission won’t work to tag streams on creation. Tags will take effect from the <code>CREATING</code> status of the stream, but you can't make any updates to the tags until the stream is in <code>ACTIVE</code> state.</p>",
                "smithy.rules#staticContextParams": {
                    "OperationType": {
                        "value": "control"
                    }
                }
            }
        },
        "com.amazonaws.kinesis#CreateStreamInput": {
            "type": "structure",
            "members": {
                "StreamName": {
                    "target": "com.amazonaws.kinesis#StreamName",
                    "traits": {
                        "smithy.api#documentation": "<p>A name to identify the stream. The stream name is scoped to the Amazon Web Services\n            account used by the application that creates the stream. It is also scoped by Amazon Web Services Region. That is, two streams in two different Amazon Web Services accounts\n            can have the same name. Two streams in the same Amazon Web Services account but in two\n            different Regions can also have the same name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ShardCount": {
                    "target": "com.amazonaws.kinesis#PositiveIntegerObject",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of shards that the stream will use. The throughput of the stream is a\n            function of the number of shards; more shards are required for greater provisioned\n            throughput.</p>"
                    }
                },
                "StreamModeDetails": {
                    "target": "com.amazonaws.kinesis#StreamModeDetails",
                    "traits": {
                        "smithy.api#documentation": "<p> Indicates the capacity mode of the data stream. Currently, in Kinesis Data Streams,\n            you can choose between an <b>on-demand</b> capacity mode and a\n                <b>provisioned</b> capacity mode for your data\n            streams.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.kinesis#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A set of up to 50 key-value pairs to use to create the tags. A tag consists of a required key and an optional value.</p>"
                    }
                },
                "WarmThroughputMiBps": {
                    "target": "com.amazonaws.kinesis#NaturalIntegerObject",
                    "traits": {
                        "smithy.api#documentation": "<p>The target warm throughput in MB/s that the stream should be scaled to handle. This represents the throughput capacity that will be immediately available for write operations.</p>"
                    }
                },
                "MaxRecordSizeInKiB": {
                    "target": "com.amazonaws.kinesis#MaxRecordSizeInKiB",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum record size of a single record in kibibyte (KiB) that you can write to, and read from a stream.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents the input for <code>CreateStream</code>.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.kinesis#Data": {
            "type": "blob",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 10485760
                }
            }
        },
        "com.amazonaws.kinesis#DataFreshnessInSeconds": {
            "type": "integer"
        },
        "com.amazonaws.kinesis#DeadLetterQueueS3Configuration": {
            "type": "structure",
            "members": {
                "BucketARN": {
                    "target": "com.amazonaws.kinesis#BucketARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dead-letter queue Amazon S3 bucket.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ExpectedBucketOwner": {
                    "target": "com.amazonaws.kinesis#ExpectedBucketOwner",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID of the expected owner of the dead-letter queue bucket.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ErrorOutputPrefix": {
                    "target": "com.amazonaws.kinesis#S3ErrorOutputPrefix",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 key prefix for error records.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Amazon S3 dead-letter queue configuration for records that cannot be delivered.</p>"
            }
        },
        "com.amazonaws.kinesis#DecreaseStreamRetentionPeriod": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesis#DecreaseStreamRetentionPeriodInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesis#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.kinesis#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.kinesis#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceNotFoundException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Decreases the Kinesis data stream's retention period, which is the length of time data\n            records are accessible after they are added to the stream. The minimum value of a\n            stream's retention period is 24 hours.</p>\n         <note>\n            <p>When invoking this API, you must use either the <code>StreamARN</code> or the\n                    <code>StreamName</code> parameter, or both. It is recommended that you use the\n                    <code>StreamARN</code> input parameter when you invoke this API.</p>\n         </note>\n         <p>This operation may result in lost data. For example, if the stream's retention period\n            is 48 hours and is decreased to 24 hours, any data already in the stream that is older\n            than 24 hours is inaccessible.</p>",
                "smithy.rules#staticContextParams": {
                    "OperationType": {
                        "value": "control"
                    }
                }
            }
        },
        "com.amazonaws.kinesis#DecreaseStreamRetentionPeriodInput": {
            "type": "structure",
            "members": {
                "StreamName": {
                    "target": "com.amazonaws.kinesis#StreamName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the stream to modify.</p>"
                    }
                },
                "RetentionPeriodHours": {
                    "target": "com.amazonaws.kinesis#RetentionPeriodHours",
                    "traits": {
                        "smithy.api#documentation": "<p>The new retention period of the stream, in hours. Must be less than the current\n            retention period.</p>",
                        "smithy.api#required": {}
                    }
                },
                "StreamARN": {
                    "target": "com.amazonaws.kinesis#StreamARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the stream.</p>",
                        "smithy.rules#contextParam": {
                            "name": "StreamARN"
                        }
                    }
                },
                "StreamId": {
                    "target": "com.amazonaws.kinesis#StreamId",
                    "traits": {
                        "smithy.api#documentation": "<p>Not Implemented. Reserved for future use.</p>",
                        "smithy.rules#contextParam": {
                            "name": "StreamId"
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents the input for <a>DecreaseStreamRetentionPeriod</a>.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.kinesis#DeleteChannel": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesis#DeleteChannelInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesis#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.kinesis#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.kinesis#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.kinesis#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the specified channel. Deleting a channel stops delivery from the source stream to the destination. Data already delivered to the destination is not deleted.</p>\n         <p>A stream cannot be deleted while it has active channels. To delete the stream, first delete all channels attached to it. To find them, use <a>ListChannels</a> with a stream filter.</p>\n         <p>This operation has a call limit of 5 transactions per second (TPS) for each Amazon Web Services account. Exceeding 5 TPS results in a <code>LimitExceededException</code>.</p>",
                "smithy.api#examples": [
                    {
                        "title": "To delete a channel",
                        "input": {
                            "ChannelARN": "arn:aws:kinesis:us-east-1:123456789012:channel/my-channel-id"
                        },
                        "output": {}
                    }
                ],
                "smithy.rules#staticContextParams": {
                    "OperationType": {
                        "value": "control"
                    }
                }
            }
        },
        "com.amazonaws.kinesis#DeleteChannelInput": {
            "type": "structure",
            "members": {
                "ChannelARN": {
                    "target": "com.amazonaws.kinesis#ChannelARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the channel to delete.</p>",
                        "smithy.api#required": {},
                        "smithy.rules#contextParam": {
                            "name": "ChannelARN"
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.kinesis#DeleteResourcePolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesis#DeleteResourcePolicyInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesis#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.kinesis#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.kinesis#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceNotFoundException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete a policy for the specified data stream or consumer. Request patterns can be one of the following:</p>\n         <ul>\n            <li>\n               <p>Data stream pattern: <code>arn:aws.*:kinesis:.*:\\d{12}:.*stream/\\S+</code>\n               </p>\n            </li>\n            <li>\n               <p>Consumer pattern: <code>^(arn):aws.*:kinesis:.*:\\d{12}:.*stream\\/[a-zA-Z0-9_.-]+\\/consumer\\/[a-zA-Z0-9_.-]+:[0-9]+</code>\n               </p>\n            </li>\n         </ul>",
                "smithy.rules#staticContextParams": {
                    "OperationType": {
                        "value": "control"
                    }
                }
            }
        },
        "com.amazonaws.kinesis#DeleteResourcePolicyInput": {
            "type": "structure",
            "members": {
                "ResourceARN": {
                    "target": "com.amazonaws.kinesis#ResourceARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the data stream or consumer.</p>",
                        "smithy.api#required": {},
                        "smithy.rules#contextParam": {
                            "name": "ResourceARN"
                        }
                    }
                },
                "StreamId": {
                    "target": "com.amazonaws.kinesis#StreamId",
                    "traits": {
                        "smithy.api#documentation": "<p>Not Implemented. Reserved for future use.</p>",
                        "smithy.rules#contextParam": {
                            "name": "StreamId"
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.kinesis#DeleteStream": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesis#DeleteStreamInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesis#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.kinesis#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.kinesis#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceNotFoundException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a Kinesis data stream and all its shards and data. You must shut down any\n            applications that are operating on the stream before you delete the stream. If an\n            application attempts to operate on a deleted stream, it receives the exception\n                <code>ResourceNotFoundException</code>.</p>\n         <note>\n            <p>When invoking this API, you must use either the <code>StreamARN</code> or the\n                    <code>StreamName</code> parameter, or both. It is recommended that you use the\n                    <code>StreamARN</code> input parameter when you invoke this API.</p>\n         </note>\n         <p>If the stream is in the <code>ACTIVE</code> state, you can delete it. After a\n                <code>DeleteStream</code> request, the specified stream is in the\n                <code>DELETING</code> state until Kinesis Data Streams completes the\n            deletion.</p>\n         <p>\n            <b>Note:</b> Kinesis Data Streams might continue to accept\n            data read and write operations, such as <a>PutRecord</a>, <a>PutRecords</a>, and <a>GetRecords</a>, on a stream in the\n                <code>DELETING</code> state until the stream deletion is complete.</p>\n         <p>When you delete a stream, any shards in that stream are also deleted, and any tags are\n            dissociated from the stream.</p>\n         <p>You can use the <a>DescribeStreamSummary</a> operation to check the state\n            of the stream, which is returned in <code>StreamStatus</code>.</p>\n         <p>\n            <a>DeleteStream</a> has a limit of five transactions per second per\n            account.</p>",
                "smithy.rules#staticContextParams": {
                    "OperationType": {
                        "value": "control"
                    }
                }
            }
        },
        "com.amazonaws.kinesis#DeleteStreamInput": {
            "type": "structure",
            "members": {
                "StreamName": {
                    "target": "com.amazonaws.kinesis#StreamName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the stream to delete.</p>"
                    }
                },
                "EnforceConsumerDeletion": {
                    "target": "com.amazonaws.kinesis#BooleanObject",
                    "traits": {
                        "smithy.api#documentation": "<p>If this parameter is unset (<code>null</code>) or if you set it to <code>false</code>,\n            and the stream has registered consumers, the call to <code>DeleteStream</code> fails\n            with a <code>ResourceInUseException</code>. </p>"
                    }
                },
                "StreamARN": {
                    "target": "com.amazonaws.kinesis#StreamARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the stream.</p>",
                        "smithy.rules#contextParam": {
                            "name": "StreamARN"
                        }
                    }
                },
                "StreamId": {
                    "target": "com.amazonaws.kinesis#StreamId",
                    "traits": {
                        "smithy.api#documentation": "<p>Not Implemented. Reserved for future use.</p>",
                        "smithy.rules#contextParam": {
                            "name": "StreamId"
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents the input for <a>DeleteStream</a>.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.kinesis#DeregisterStreamConsumer": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesis#DeregisterStreamConsumerInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesis#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.kinesis#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceNotFoundException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>To deregister a consumer, provide its ARN. Alternatively, you can provide the ARN of\n            the data stream and the name you gave the consumer when you registered it. You may also\n            provide all three parameters, as long as they don't conflict with each other. If you\n            don't know the name or ARN of the consumer that you want to deregister, you can use the\n                <a>ListStreamConsumers</a> operation to get a list of the descriptions of\n            all the consumers that are currently registered with a given data stream. The\n            description of a consumer contains its name and ARN.</p>\n         <p>This operation has a limit of five transactions per second per stream.</p>",
                "smithy.rules#staticContextParams": {
                    "OperationType": {
                        "value": "control"
                    }
                }
            }
        },
        "com.amazonaws.kinesis#DeregisterStreamConsumerInput": {
            "type": "structure",
            "members": {
                "StreamARN": {
                    "target": "com.amazonaws.kinesis#StreamARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the Kinesis data stream that the consumer is registered with. For more\n            information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kinesis-streams\">Amazon Resource Names (ARNs) and Amazon Web Services Service\n            Namespaces</a>.</p>",
                        "smithy.rules#contextParam": {
                            "name": "StreamARN"
                        }
                    }
                },
                "ConsumerName": {
                    "target": "com.amazonaws.kinesis#ConsumerName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name that you gave to the consumer.</p>"
                    }
                },
                "ConsumerARN": {
                    "target": "com.amazonaws.kinesis#ConsumerARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN returned by Kinesis Data Streams when you registered the consumer. If you\n            don't know the ARN of the consumer that you want to deregister, you can use the\n            ListStreamConsumers operation to get a list of the descriptions of all the consumers\n            that are currently registered with a given data stream. The description of a consumer\n            contains its ARN.</p>",
                        "smithy.rules#contextParam": {
                            "name": "ConsumerARN"
                        }
                    }
                },
                "StreamId": {
                    "target": "com.amazonaws.kinesis#StreamId",
                    "traits": {
                        "smithy.api#documentation": "<p>Not Implemented. Reserved for future use.</p>",
                        "smithy.rules#contextParam": {
                            "name": "StreamId"
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.kinesis#DescribeAccountSettings": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesis#DescribeAccountSettingsInput"
            },
            "output": {
                "target": "com.amazonaws.kinesis#DescribeAccountSettingsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesis#LimitExceededException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes the account-level settings for Amazon Kinesis Data Streams. This operation returns information about the minimum throughput billing commitments and other account-level configurations.</p>\n         <p>This API has a call limit of 5 transactions per second (TPS) for each Amazon Web Services account. TPS over 5 will initiate the <code>LimitExceededException</code>.</p>",
                "smithy.rules#staticContextParams": {
                    "OperationType": {
                        "value": "control"
                    }
                }
            }
        },
        "com.amazonaws.kinesis#DescribeAccountSettingsInput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.kinesis#DescribeAccountSettingsOutput": {
            "type": "structure",
            "members": {
                "MinimumThroughputBillingCommitment": {
                    "target": "com.amazonaws.kinesis#MinimumThroughputBillingCommitmentOutput",
                    "traits": {
                        "smithy.api#documentation": "<p>The current configuration of the minimum throughput billing commitment for your Amazon Web Services account.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.kinesis#DescribeChannel": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesis#DescribeChannelInput"
            },
            "output": {
                "target": "com.amazonaws.kinesis#DescribeChannelOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesis#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.kinesis#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.kinesis#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.kinesis#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes the specified channel, including its configuration and current status.</p>\n         <p>Use this operation to verify that a channel reached the <code>ACTIVE</code> state after creation, or to diagnose a channel in the <code>FAILED</code> state by reading the <code>ChannelStatusReason</code>.</p>\n         <p>This operation has a call limit of 5 transactions per second (TPS) for each Amazon Web Services account. Exceeding 5 TPS results in a <code>LimitExceededException</code>.</p>",
                "smithy.api#examples": [
                    {
                        "title": "To describe a channel",
                        "input": {
                            "ChannelARN": "arn:aws:kinesis:us-east-1:123456789012:channel/my-channel-id"
                        },
                        "output": {
                            "ChannelDescription": {
                                "ChannelName": "my-channel-name",
                                "ChannelARN": "arn:aws:kinesis:us-east-1:123456789012:channel/my-channel-id",
                                "ChannelId": "my-channel-id",
                                "ChannelStatus": "ACTIVE",
                                "ChannelCreationTimestamp": "2024-07-02T00:00:00Z",
                                "ServiceExecutionRoleARN": "arn:aws:iam::123456789012:role/my-channel-role",
                                "StreamConfigurationList": [
                                    {
                                        "StreamARN": "arn:aws:kinesis:us-east-1:123456789012:stream/my-stream-name",
                                        "StreamCreationTimestamp": "2024-07-01T00:00:00Z",
                                        "RecordConfiguration": {
                                            "RecordFormatType": "JSON"
                                        }
                                    }
                                ],
                                "S3DestinationConfiguration": {
                                    "DataFreshnessInSeconds": 300,
                                    "DeadLetterQueueS3Configuration": {
                                        "BucketARN": "arn:aws:s3:::my-channel-dlq-bucket",
                                        "ExpectedBucketOwner": "123456789012",
                                        "ErrorOutputPrefix": "kinesis-channel/errors/my-channel/my-channel-id/"
                                    },
                                    "StorageConfiguration": {
                                        "BucketARN": "arn:aws:s3:::my-channel-bucket",
                                        "ExpectedBucketOwner": "123456789012",
                                        "OutputKeyTemplate": "kinesis-channel/!{channel-name}/!{channel-id}/!{yyyy}/!{MM}/!{dd}/!{HH}/!{channel-name}-!{channel-id}-!{yyyy}-!{MM}-!{dd}-!{HH}-!{mm}!{extension}",
                                        "StorageClass": "STANDARD",
                                        "CompressionType": "ZSTD"
                                    }
                                },
                                "EncryptionConfiguration": {
                                    "EncryptionType": "KMS",
                                    "KeyId": "arn:aws:kms:us-east-1:123456789012:key/1234abcd-12ab-34cd-56ef-1234567890ab"
                                },
                                "LoggingConfiguration": {
                                    "CloudWatchLogs": {
                                        "Enabled": true,
                                        "LogGroupName": "/aws/kinesis/my-channel",
                                        "LogStreamName": "my-channel-log-stream"
                                    }
                                }
                            }
                        }
                    }
                ],
                "smithy.api#readonly": {},
                "smithy.rules#staticContextParams": {
                    "OperationType": {
                        "value": "control"
                    }
                },
                "smithy.waiters#waitable": {
                    "ChannelActive": {
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "ChannelDescription.ChannelStatus",
                                        "expected": "ACTIVE",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "retry",
                                "matcher": {
                                    "output": {
                                        "path": "ChannelDescription.ChannelStatus",
                                        "expected": "CREATING",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "retry",
                                "matcher": {
                                    "output": {
                                        "path": "ChannelDescription.ChannelStatus",
                                        "expected": "UPDATING",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "ChannelDescription.ChannelStatus",
                                        "expected": "DELETING",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "ChannelDescription.ChannelStatus",
                                        "expected": "FAILED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            }
                        ],
                        "minDelay": 10
                    }
                }
            }
        },
        "com.amazonaws.kinesis#DescribeChannelInput": {
            "type": "structure",
            "members": {
                "ChannelARN": {
                    "target": "com.amazonaws.kinesis#ChannelARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the channel to describe.</p>",
                        "smithy.api#required": {},
                        "smithy.rules#contextParam": {
                            "name": "ChannelARN"
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.kinesis#DescribeChannelOutput": {
            "type": "structure",
            "members": {
                "ChannelDescription": {
                    "target": "com.amazonaws.kinesis#ChannelDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration and current status of the channel.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.kinesis#DescribeLimits": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesis#DescribeLimitsInput"
            },
            "output": {
                "target": "com.amazonaws.kinesis#DescribeLimitsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesis#LimitExceededException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes the shard limits and usage for the account.</p>\n         <p>If you update your account limits, the old limits might be returned for a few\n            minutes.</p>\n         <p>This operation has a limit of one transaction per second per account.</p>",
                "smithy.rules#staticContextParams": {
                    "OperationType": {
                        "value": "control"
                    }
                }
            }
        },
        "com.amazonaws.kinesis#DescribeLimitsInput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.kinesis#DescribeLimitsOutput": {
            "type": "structure",
            "members": {
                "ShardLimit": {
                    "target": "com.amazonaws.kinesis#ShardCountObject",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of shards.</p>",
                        "smithy.api#required": {}
                    }
                },
                "OpenShardCount": {
                    "target": "com.amazonaws.kinesis#ShardCountObject",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of open shards.</p>",
                        "smithy.api#required": {}
                    }
                },
                "OnDemandStreamCount": {
                    "target": "com.amazonaws.kinesis#OnDemandStreamCountObject",
                    "traits": {
                        "smithy.api#documentation": "<p> Indicates the number of data streams with the on-demand capacity mode.</p>",
                        "smithy.api#required": {}
                    }
                },
                "OnDemandStreamCountLimit": {
                    "target": "com.amazonaws.kinesis#OnDemandStreamCountLimitObject",
                    "traits": {
                        "smithy.api#documentation": "<p> The maximum number of data streams with the on-demand capacity mode. </p>",
                        "smithy.api#required": {}
                    }
                },
                "ChannelCount": {
                    "target": "com.amazonaws.kinesis#ChannelCountObject",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of channels in the account.</p>"
                    }
                },
                "ChannelCountLimit": {
                    "target": "com.amazonaws.kinesis#ChannelCountObject",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of channels allowed in the account.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.kinesis#DescribeStream": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesis#DescribeStreamInput"
            },
            "output": {
                "target": "com.amazonaws.kinesis#DescribeStreamOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesis#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.kinesis#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.kinesis#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.kinesis#ResourceNotFoundException"
                }
            ],
            "traits": {
[...]
