{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.kinesisvideoarchivedmedia#AWSAcuityReader": {
            "type": "service",
            "version": "2017-09-30",
            "operations": [
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#GetClip"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#GetDASHStreamingSessionURL"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#GetHLSStreamingSessionURL"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#GetImages"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#GetMediaForFragmentList"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#ListFragments"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Kinesis Video Archived Media",
                    "arnNamespace": "kinesisvideo",
                    "cloudFormationName": "KinesisVideoArchivedMedia",
                    "cloudTrailEventSource": "kinesisvideoarchivedmedia.amazonaws.com",
                    "endpointPrefix": "kinesisvideo"
                },
                "aws.auth#sigv4": {
                    "name": "kinesisvideo"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p></p>",
                "smithy.api#title": "Amazon Kinesis Video Streams Archived Media",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://kinesisvideo-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://kinesisvideo-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://kinesisvideo.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://kinesisvideo.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "af-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://kinesisvideo.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#ClientLimitExceededException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Kinesis Video Streams has throttled the request because you have exceeded a limit. Try making the call later. For information about limits, see <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/limits.html\">Kinesis Video Streams Limits</a>.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#ClipFragmentSelector": {
            "type": "structure",
            "members": {
                "FragmentSelectorType": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#ClipFragmentSelectorType",
                    "traits": {
                        "smithy.api#documentation": "<p>The origin of the timestamps to use (Server or Producer).</p>",
                        "smithy.api#required": {}
                    }
                },
                "TimestampRange": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#ClipTimestampRange",
                    "traits": {
                        "smithy.api#documentation": "<p>The range of timestamps to return.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the timestamp range and timestamp origin of a range of fragments.</p>\n         <p>Fragments that have duplicate producer timestamps are deduplicated. This means that if\n            producers are producing a stream of fragments with producer timestamps that are\n            approximately equal to the true clock time, the clip will contain all of the fragments\n            within the requested timestamp range. If some fragments are ingested within the same\n            time range and very different points in time, only the oldest ingested collection of\n            fragments are returned.</p>"
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#ClipFragmentSelectorType": {
            "type": "enum",
            "members": {
                "PRODUCER_TIMESTAMP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PRODUCER_TIMESTAMP"
                    }
                },
                "SERVER_TIMESTAMP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SERVER_TIMESTAMP"
                    }
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#ClipTimestampRange": {
            "type": "structure",
            "members": {
                "StartTimestamp": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The starting timestamp in the range of timestamps for which to return fragments. </p>\n         <p>Only fragments that start exactly at or after <code>StartTimestamp</code> are included\n            in the session. Fragments that start before <code>StartTimestamp</code> and continue\n            past it aren't included in the session. If <code>FragmentSelectorType</code> is\n                <code>SERVER_TIMESTAMP</code>, the <code>StartTimestamp</code> must be later than\n            the stream head. </p>",
                        "smithy.api#required": {}
                    }
                },
                "EndTimestamp": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The end of the timestamp range for the requested media.</p>\n         <p>This value must be within 24 hours of the specified <code>StartTimestamp</code>, and\n            it must be later than the <code>StartTimestamp</code> value. If\n                <code>FragmentSelectorType</code> for the request is <code>SERVER_TIMESTAMP</code>,\n            this value must be in the past. </p>\n         <p>This value is inclusive. The <code>EndTimestamp</code> is compared to the (starting)\n            timestamp of the fragment. Fragments that start before the <code>EndTimestamp</code>\n            value and continue past it are included in the session. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The range of timestamps for which to return fragments.</p>"
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#ContainerFormat": {
            "type": "enum",
            "members": {
                "FRAGMENTED_MP4": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FRAGMENTED_MP4"
                    }
                },
                "MPEG_TS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MPEG_TS"
                    }
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#ContentType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_\\.\\-]+$"
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#DASHDisplayFragmentNumber": {
            "type": "enum",
            "members": {
                "ALWAYS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALWAYS"
                    }
                },
                "NEVER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NEVER"
                    }
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#DASHDisplayFragmentTimestamp": {
            "type": "enum",
            "members": {
                "ALWAYS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALWAYS"
                    }
                },
                "NEVER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NEVER"
                    }
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#DASHFragmentSelector": {
            "type": "structure",
            "members": {
                "FragmentSelectorType": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHFragmentSelectorType",
                    "traits": {
                        "smithy.api#documentation": "<p>The source of the timestamps for the requested media.</p>\n         <p>When <code>FragmentSelectorType</code> is set to <code>PRODUCER_TIMESTAMP</code> and\n                <a>GetDASHStreamingSessionURLInput$PlaybackMode</a> is\n                <code>ON_DEMAND</code> or <code>LIVE_REPLAY</code>, the first fragment ingested with\n            a producer timestamp within the specified <a>FragmentSelector$TimestampRange</a> is included in the media playlist. In\n            addition, the fragments with producer timestamps within the <code>TimestampRange</code>\n            ingested immediately following the first fragment (up to the <a>GetDASHStreamingSessionURLInput$MaxManifestFragmentResults</a> value) are\n            included. </p>\n         <p>Fragments that have duplicate producer timestamps are deduplicated. This means that if\n            producers are producing a stream of fragments with producer timestamps that are\n            approximately equal to the true clock time, the MPEG-DASH manifest will contain all of\n            the fragments within the requested timestamp range. If some fragments are ingested\n            within the same time range and very different points in time, only the oldest ingested\n            collection of fragments are returned.</p>\n         <p>When <code>FragmentSelectorType</code> is set to <code>PRODUCER_TIMESTAMP</code> and\n                <a>GetDASHStreamingSessionURLInput$PlaybackMode</a> is <code>LIVE</code>,\n            the producer timestamps are used in the MP4 fragments and for deduplication. But the\n            most recently ingested fragments based on server timestamps are included in the\n            MPEG-DASH manifest. This means that even if fragments ingested in the past have producer\n            timestamps with values now, they are not included in the HLS media playlist.</p>\n         <p>The default is <code>SERVER_TIMESTAMP</code>.</p>"
                    }
                },
                "TimestampRange": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHTimestampRange",
                    "traits": {
                        "smithy.api#documentation": "<p>The start and end of the timestamp range for the requested media.</p>\n         <p>This value should not be present if <code>PlaybackType</code> is\n            <code>LIVE</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the range of timestamps for the requested media, and the source of the\n            timestamps. </p>"
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#DASHFragmentSelectorType": {
            "type": "enum",
            "members": {
                "PRODUCER_TIMESTAMP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PRODUCER_TIMESTAMP"
                    }
                },
                "SERVER_TIMESTAMP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SERVER_TIMESTAMP"
                    }
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#DASHMaxResults": {
            "type": "long",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 5000
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#DASHPlaybackMode": {
            "type": "enum",
            "members": {
                "LIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LIVE"
                    }
                },
                "LIVE_REPLAY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LIVE_REPLAY"
                    }
                },
                "ON_DEMAND": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ON_DEMAND"
                    }
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#DASHStreamingSessionURL": {
            "type": "string"
        },
        "com.amazonaws.kinesisvideoarchivedmedia#DASHTimestampRange": {
            "type": "structure",
            "members": {
                "StartTimestamp": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The start of the timestamp range for the requested media.</p>\n         <p>If the <code>DASHTimestampRange</code> value is specified, the\n                <code>StartTimestamp</code> value is required.</p>\n         <p>Only fragments that start exactly at or after <code>StartTimestamp</code> are included\n            in the session. Fragments that start before <code>StartTimestamp</code> and continue\n            past it aren't included in the session. If <code>FragmentSelectorType</code> is\n                <code>SERVER_TIMESTAMP</code>, the <code>StartTimestamp</code> must be later than\n            the stream head. </p>"
                    }
                },
                "EndTimestamp": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The end of the timestamp range for the requested media. This value must be within 24\n            hours of the specified <code>StartTimestamp</code>, and it must be later than the\n                <code>StartTimestamp</code> value.</p>\n         <p>If <code>FragmentSelectorType</code> for the request is <code>SERVER_TIMESTAMP</code>,\n            this value must be in the past.</p>\n         <p>The <code>EndTimestamp</code> value is required for <code>ON_DEMAND</code> mode, but\n            optional for <code>LIVE_REPLAY</code> mode. If the <code>EndTimestamp</code> is not set\n            for <code>LIVE_REPLAY</code> mode then the session will continue to include newly\n            ingested fragments until the session expires.</p>\n         <note>\n            <p>This value is inclusive. The <code>EndTimestamp</code> is compared to the\n                (starting) timestamp of the fragment. Fragments that start before the\n                    <code>EndTimestamp</code> value and continue past it are included in the\n                session.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The start and end of the timestamp range for the requested media.</p>\n         <p>This value should not be present if <code>PlaybackType</code> is\n            <code>LIVE</code>.</p>\n         <p>The values in <code>DASHimestampRange</code> are inclusive. Fragments that start\n            exactly at or after the start time are included in the session. Fragments that start\n            before the start time and continue past it are not included in the session.</p>"
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#ErrorMessage": {
            "type": "string"
        },
        "com.amazonaws.kinesisvideoarchivedmedia#Expires": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 300,
                    "max": 43200
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#Format": {
            "type": "enum",
            "members": {
                "JPEG": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "JPEG"
                    }
                },
                "PNG": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PNG"
                    }
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#FormatConfig": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.kinesisvideoarchivedmedia#FormatConfigKey"
            },
            "value": {
                "target": "com.amazonaws.kinesisvideoarchivedmedia#FormatConfigValue"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#FormatConfigKey": {
            "type": "enum",
            "members": {
                "JPEGQuality": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "JPEGQuality"
                    }
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#FormatConfigValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                },
                "smithy.api#pattern": "^[a-zA-Z_0-9]+$"
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#Fragment": {
            "type": "structure",
            "members": {
                "FragmentNumber": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#FragmentNumberString",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the fragment. This value monotonically increases based on the\n            ingestion order.</p>"
                    }
                },
                "FragmentSizeInBytes": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#Long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The total fragment size, including information about the fragment and contained media\n            data.</p>"
                    }
                },
                "ProducerTimestamp": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp from the producer corresponding to the fragment.</p>"
                    }
                },
                "ServerTimestamp": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp from the Amazon Web Services server corresponding to the fragment.</p>"
                    }
                },
                "FragmentLengthInMilliseconds": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#Long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The playback duration or other time value associated with the fragment.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents a segment of video or other time-delimited data.</p>"
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#FragmentList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.kinesisvideoarchivedmedia#Fragment"
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#FragmentNumberList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.kinesisvideoarchivedmedia#FragmentNumberString"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1000
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#FragmentNumberString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[0-9]+$"
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#FragmentSelector": {
            "type": "structure",
            "members": {
                "FragmentSelectorType": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#FragmentSelectorType",
                    "traits": {
                        "smithy.api#documentation": "<p>The origin of the timestamps to use (Server or Producer).</p>",
                        "smithy.api#required": {}
                    }
                },
                "TimestampRange": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#TimestampRange",
                    "traits": {
                        "smithy.api#documentation": "<p>The range of timestamps to return.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the timestamp range and timestamp origin of a range of fragments.</p>\n         <p>Only fragments with a start timestamp greater than or equal to the given start time\n            and less than or equal to the end time are returned. For example, if a stream contains\n            fragments with the following start timestamps: </p>\n         <ul>\n            <li>\n               <p>00:00:00</p>\n            </li>\n            <li>\n               <p>00:00:02</p>\n            </li>\n            <li>\n               <p>00:00:04</p>\n            </li>\n            <li>\n               <p>00:00:06</p>\n            </li>\n         </ul>\n         <p> A fragment selector range with a start time of 00:00:01 and end time of 00:00:04\n            would return the fragments with start times of 00:00:02 and 00:00:04. </p>"
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#FragmentSelectorType": {
            "type": "enum",
            "members": {
                "PRODUCER_TIMESTAMP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PRODUCER_TIMESTAMP"
                    }
                },
                "SERVER_TIMESTAMP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SERVER_TIMESTAMP"
                    }
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#GetClip": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesisvideoarchivedmedia#GetClipInput"
            },
            "output": {
                "target": "com.amazonaws.kinesisvideoarchivedmedia#GetClipOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#ClientLimitExceededException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#InvalidCodecPrivateDataException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#InvalidMediaFrameException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#MissingCodecPrivateDataException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#NoDataRetentionException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#NotAuthorizedException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#UnsupportedStreamMediaTypeException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Downloads an MP4 file (clip) containing the archived, on-demand media from the\n            specified video stream over the specified time range. </p>\n         <p>Both the StreamName and the StreamARN parameters are optional, but you must specify\n            either the StreamName or the StreamARN when invoking this API operation. </p>\n         <p>As a prerequisite to using GetCLip API, you must obtain an endpoint using\n                <code>GetDataEndpoint</code>, specifying GET_CLIP for<code></code> the\n                <code>APIName</code> parameter. </p>\n         <p>An Amazon Kinesis video stream has the following requirements for providing data\n            through MP4:</p>\n         <ul>\n            <li>\n               <p>The media must contain h.264 or h.265 encoded video and, optionally, AAC or\n                    G.711 encoded audio. Specifically, the codec ID of track 1 should be\n                        <code>V_MPEG/ISO/AVC</code> (for h.264) or V_MPEGH/ISO/HEVC (for H.265).\n                    Optionally, the codec ID of track 2 should be <code>A_AAC</code> (for AAC) or\n                    A_MS/ACM (for G.711).</p>\n            </li>\n            <li>\n               <p>Data retention must be greater than 0.</p>\n            </li>\n            <li>\n               <p>The video track of each fragment must contain codec private data in the\n                    Advanced Video Coding (AVC) for H.264 format and HEVC for H.265 format. For more\n                    information, see <a href=\"https://www.iso.org/standard/55980.html\">MPEG-4\n                        specification ISO/IEC 14496-15</a>. For information about adapting\n                    stream data to a given format, see <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/producer-reference-nal.html\">NAL Adaptation Flags</a>.</p>\n            </li>\n            <li>\n               <p>The audio track (if present) of each fragment must contain codec private data\n                    in the AAC format (<a href=\"https://www.iso.org/standard/43345.html\">AAC\n                        specification ISO/IEC 13818-7</a>) or the <a href=\"http://www-mmsp.ece.mcgill.ca/Documents/AudioFormats/WAVE/WAVE.html\">MS\n                        Wave format</a>.</p>\n            </li>\n         </ul>\n         <p>You can monitor the amount of outgoing data by monitoring the\n                <code>GetClip.OutgoingBytes</code> Amazon CloudWatch metric. For information about\n            using CloudWatch to monitor Kinesis Video Streams, see <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/monitoring.html\">Monitoring Kinesis Video Streams</a>. For pricing information, see <a href=\"https://aws.amazon.com/kinesis/video-streams/pricing/\">Amazon Kinesis Video\n                    Streams Pricing</a> and <a href=\"https://aws.amazon.com/pricing/\"> Amazon Web Services\n                Pricing</a>. Charges for outgoing Amazon Web Services data apply.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/getClip",
                    "code": 200
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#GetClipInput": {
            "type": "structure",
            "members": {
                "StreamName": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#StreamName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the stream for which to retrieve the media clip. </p>\n         <p>You must specify either the StreamName or the StreamARN. </p>"
                    }
                },
                "StreamARN": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#ResourceARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream for which to retrieve the media clip. </p>\n         <p>You must specify either the StreamName or the StreamARN. </p>"
                    }
                },
                "ClipFragmentSelector": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#ClipFragmentSelector",
                    "traits": {
                        "smithy.api#documentation": "<p>The time range of the requested clip and the source of the timestamps.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#GetClipOutput": {
            "type": "structure",
            "members": {
                "ContentType": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#ContentType",
                    "traits": {
                        "smithy.api#documentation": "<p>The content type of the media in the requested clip.</p>",
                        "smithy.api#httpHeader": "Content-Type"
                    }
                },
                "Payload": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#Payload",
                    "traits": {
                        "smithy.api#default": "",
                        "smithy.api#documentation": "<p>Traditional MP4 file that contains the media clip from the specified video stream. The\n            output will contain the first 100 MB or the first 200 fragments from the specified start\n            timestamp. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/limits.html\">Kinesis\n                Video Streams Limits</a>. </p>",
                        "smithy.api#httpPayload": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#GetDASHStreamingSessionURL": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesisvideoarchivedmedia#GetDASHStreamingSessionURLInput"
            },
            "output": {
                "target": "com.amazonaws.kinesisvideoarchivedmedia#GetDASHStreamingSessionURLOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#ClientLimitExceededException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#InvalidCodecPrivateDataException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#MissingCodecPrivateDataException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#NoDataRetentionException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#NotAuthorizedException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#UnsupportedStreamMediaTypeException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves an MPEG Dynamic Adaptive Streaming over HTTP (DASH) URL for the stream. You\n            can then open the URL in a media player to view the stream contents.</p>\n         <p>Both the <code>StreamName</code> and the <code>StreamARN</code> parameters are\n            optional, but you must specify either the <code>StreamName</code> or the\n                <code>StreamARN</code> when invoking this API operation.</p>\n         <p>An Amazon Kinesis video stream has the following requirements for providing data\n            through MPEG-DASH:</p>\n         <ul>\n            <li>\n               <p>The media must contain h.264 or h.265 encoded video and, optionally, AAC or\n                    G.711 encoded audio. Specifically, the codec ID of track 1 should be\n                        <code>V_MPEG/ISO/AVC</code> (for h.264) or V_MPEGH/ISO/HEVC (for H.265).\n                    Optionally, the codec ID of track 2 should be <code>A_AAC</code> (for AAC) or\n                    A_MS/ACM (for G.711).</p>\n            </li>\n            <li>\n               <p>Data retention must be greater than 0.</p>\n            </li>\n            <li>\n               <p>The video track of each fragment must contain codec private data in the\n                    Advanced Video Coding (AVC) for H.264 format and HEVC for H.265 format. For more\n                    information, see <a href=\"https://www.iso.org/standard/55980.html\">MPEG-4\n                        specification ISO/IEC 14496-15</a>. For information about adapting\n                    stream data to a given format, see <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/producer-reference-nal.html\">NAL Adaptation Flags</a>.</p>\n            </li>\n            <li>\n               <p>The audio track (if present) of each fragment must contain codec private data\n                    in the AAC format (<a href=\"https://www.iso.org/standard/43345.html\">AAC\n                        specification ISO/IEC 13818-7</a>) or the <a href=\"http://www-mmsp.ece.mcgill.ca/Documents/AudioFormats/WAVE/WAVE.html\">MS\n                        Wave format</a>.</p>\n            </li>\n         </ul>\n         <p>The following procedure shows how to use MPEG-DASH with Kinesis Video Streams:</p>\n         <ol>\n            <li>\n               <p>Get an endpoint using <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_GetDataEndpoint.html\">GetDataEndpoint</a>, specifying\n                        <code>GET_DASH_STREAMING_SESSION_URL</code> for the <code>APIName</code>\n                    parameter.</p>\n            </li>\n            <li>\n               <p>Retrieve the MPEG-DASH URL using <code>GetDASHStreamingSessionURL</code>.\n                    Kinesis Video Streams creates an MPEG-DASH streaming session to be used for\n                    accessing content in a stream using the MPEG-DASH protocol.\n                        <code>GetDASHStreamingSessionURL</code> returns an authenticated URL (that\n                    includes an encrypted session token) for the session's MPEG-DASH\n                        <i>manifest</i> (the root resource needed for streaming with\n                    MPEG-DASH).</p>\n               <note>\n                  <p>Don't share or store this token where an unauthorized entity can access\n                        it. The token provides access to the content of the stream. Safeguard the\n                        token with the same measures that you use with your Amazon Web Services credentials.</p>\n               </note>\n               <p>The media that is made available through the manifest consists only of the\n                    requested stream, time range, and format. No other media data (such as frames\n                    outside the requested window or alternate bitrates) is made available.</p>\n            </li>\n            <li>\n               <p>Provide the URL (containing the encrypted session token) for the MPEG-DASH\n                    manifest to a media player that supports the MPEG-DASH protocol. Kinesis Video\n                    Streams makes the initialization fragment and media fragments available through\n                    the manifest URL. The initialization fragment contains the codec private data\n                    for the stream, and other data needed to set up the video or audio decoder and\n                    renderer. The media fragments contain encoded video frames or encoded audio\n                    samples.</p>\n            </li>\n            <li>\n               <p>The media player receives the authenticated URL and requests stream metadata\n                    and media data normally. When the media player requests data, it calls the\n                    following actions:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <b>GetDASHManifest:</b> Retrieves an MPEG DASH\n                            manifest, which contains the metadata for the media that you want to\n                            playback.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>GetMP4InitFragment:</b> Retrieves the MP4\n                            initialization fragment. The media player typically loads the\n                            initialization fragment before loading any media fragments. This\n                            fragment contains the \"<code>fytp</code>\" and \"<code>moov</code>\" MP4\n                            atoms, and the child atoms that are needed to initialize the media\n                            player decoder.</p>\n                     <p>The initialization fragment does not correspond to a fragment in a\n                            Kinesis video stream. It contains only the codec private data for the\n                            stream and respective track, which the media player needs to decode the\n                            media frames.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>GetMP4MediaFragment:</b> Retrieves MP4\n                            media fragments. These fragments contain the \"<code>moof</code>\" and\n                                \"<code>mdat</code>\" MP4 atoms and their child atoms, containing the\n                            encoded fragment's media frames and their timestamps. </p>\n                     <note>\n                        <p>After the first media fragment is made available in a streaming\n                                session, any fragments that don't contain the same codec private\n                                data cause an error to be returned when those different media\n                                fragments are loaded. Therefore, the codec private data should not\n                                change between fragments in a session. This also means that the\n                                session fails if the fragments in a stream change from having only\n                                video to having both audio and video.</p>\n                     </note>\n                     <p>Data retrieved with this action is billable. See <a href=\"https://aws.amazon.com/kinesis/video-streams/pricing/\">Pricing</a> for details.</p>\n                  </li>\n               </ul>\n            </li>\n         </ol>\n         <note>\n            <p>For restrictions that apply to MPEG-DASH sessions, see <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/limits.html\">Kinesis Video Streams Limits</a>.</p>\n         </note>\n         <p>You can monitor the amount of data that the media player consumes by monitoring the\n                <code>GetMP4MediaFragment.OutgoingBytes</code> Amazon CloudWatch metric. For\n            information about using CloudWatch to monitor Kinesis Video Streams, see <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/monitoring.html\">Monitoring Kinesis Video Streams</a>. For pricing information, see <a href=\"https://aws.amazon.com/kinesis/video-streams/pricing/\">Amazon Kinesis Video\n                Streams Pricing</a> and <a href=\"https://aws.amazon.com/pricing/\">Amazon Web Services\n                Pricing</a>. Charges for both HLS sessions and outgoing Amazon Web Services data apply.</p>\n         <p>For more information about HLS, see <a href=\"https://developer.apple.com/streaming/\">HTTP Live Streaming</a> on the\n                <a href=\"https://developer.apple.com\">Apple Developer site</a>.</p>\n         <important>\n            <p>If an error is thrown after invoking a Kinesis Video Streams archived media API,\n                in addition to the HTTP status code and the response body, it includes the following\n                pieces of information: </p>\n            <ul>\n               <li>\n                  <p>\n                     <code>x-amz-ErrorType</code> HTTP header – contains a more specific error\n                        type in addition to what the HTTP status code provides. </p>\n               </li>\n               <li>\n                  <p>\n                     <code>x-amz-RequestId</code> HTTP header – if you want to report an issue to\n                        Amazon Web Services the support team can better diagnose the problem if given the Request\n                        Id.</p>\n               </li>\n            </ul>\n            <p>Both the HTTP status code and the ErrorType header can be utilized to make\n                programmatic decisions about whether errors are retry-able and under what\n                conditions, as well as provide information on what actions the client programmer\n                might need to take in order to successfully try again.</p>\n            <p>For more information, see the <b>Errors</b> section at\n                the bottom of this topic, as well as <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/CommonErrors.html\">Common Errors</a>.\n            </p>\n         </important>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/getDASHStreamingSessionURL",
                    "code": 200
                }
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#GetDASHStreamingSessionURLInput": {
            "type": "structure",
            "members": {
                "StreamName": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#StreamName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the stream for which to retrieve the MPEG-DASH manifest URL.</p>\n         <p>You must specify either the <code>StreamName</code> or the\n            <code>StreamARN</code>.</p>"
                    }
                },
                "StreamARN": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#ResourceARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream for which to retrieve the MPEG-DASH\n            manifest URL.</p>\n         <p>You must specify either the <code>StreamName</code> or the\n            <code>StreamARN</code>.</p>"
                    }
                },
                "PlaybackMode": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHPlaybackMode",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether to retrieve live, live replay, or archived, on-demand data.</p>\n         <p>Features of the three types of sessions include the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>\n                     <code>LIVE</code>\n                  </b>: For sessions of this type, the MPEG-DASH manifest is continually\n                    updated with the latest fragments as they become available. We recommend that\n                    the media player retrieve a new manifest on a one-second interval. When this\n                    type of session is played in a media player, the user interface typically\n                    displays a \"live\" notification, with no scrubber control for choosing the\n                    position in the playback window to display.</p>\n               <note>\n                  <p>In <code>LIVE</code> mode, the newest available fragments are included in\n                        an MPEG-DASH manifest, even if there is a gap between fragments (that is, if\n                        a fragment is missing). A gap like this might cause a media player to halt\n                        or cause a jump in playback. In this mode, fragments are not added to the\n                        MPEG-DASH manifest if they are older than the newest fragment in the\n                        playlist. If the missing fragment becomes available after a subsequent\n                        fragment is added to the manifest, the older fragment is not added, and the\n                        gap is not filled.</p>\n               </note>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>LIVE_REPLAY</code>\n                  </b>: For sessions of this type, the MPEG-DASH manifest is updated\n                    similarly to how it is updated for <code>LIVE</code> mode except that it starts\n                    by including fragments from a given start time. Instead of fragments being added\n                    as they are ingested, fragments are added as the duration of the next fragment\n                    elapses. For example, if the fragments in the session are two seconds long, then\n                    a new fragment is added to the manifest every two seconds. This mode is useful\n                    to be able to start playback from when an event is detected and continue live\n                    streaming media that has not yet been ingested as of the time of the session\n                    creation. This mode is also useful to stream previously archived media without\n                    being limited by the 1,000 fragment limit in the <code>ON_DEMAND</code> mode.\n                </p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>ON_DEMAND</code>\n                  </b>: For sessions of this type, the MPEG-DASH manifest contains all the\n                    fragments for the session, up to the number that is specified in\n                        <code>MaxManifestFragmentResults</code>. The manifest must be retrieved only\n                    once for each session. When this type of session is played in a media player,\n                    the user interface typically displays a scrubber control for choosing the\n                    position in the playback window to display.</p>\n            </li>\n         </ul>\n         <p>In all playback modes, if <code>FragmentSelectorType</code> is\n                <code>PRODUCER_TIMESTAMP</code>, and if there are multiple fragments with the same\n            start timestamp, the fragment that has the larger fragment number (that is, the newer\n            fragment) is included in the MPEG-DASH manifest. The other fragments are not included.\n            Fragments that have different timestamps but have overlapping durations are still\n            included in the MPEG-DASH manifest. This can lead to unexpected behavior in the media\n            player.</p>\n         <p>The default is <code>LIVE</code>.</p>"
                    }
                },
                "DisplayFragmentTimestamp": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHDisplayFragmentTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Per the MPEG-DASH specification, the wall-clock time of fragments in the manifest file\n            can be derived using attributes in the manifest itself. However, typically, MPEG-DASH\n            compatible media players do not properly handle gaps in the media timeline. Kinesis\n            Video Streams adjusts the media timeline in the manifest file to enable playback of\n            media with discontinuities. Therefore, the wall-clock time derived from the manifest\n            file may be inaccurate. If DisplayFragmentTimestamp is set to <code>ALWAYS</code>, the\n            accurate fragment timestamp is added to each S element in the manifest file with the\n            attribute name “kvs:ts”. A custom MPEG-DASH media player is necessary to leverage this\n            custom attribute.</p>\n         <p>The default value is <code>NEVER</code>. When <a>DASHFragmentSelector</a>\n            is <code>SERVER_TIMESTAMP</code>, the timestamps will be the server start timestamps.\n            Similarly, when <a>DASHFragmentSelector</a> is\n                <code>PRODUCER_TIMESTAMP</code>, the timestamps will be the producer start\n            timestamps. </p>"
                    }
                },
                "DisplayFragmentNumber": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHDisplayFragmentNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>Fragments are identified in the manifest file based on their sequence number in the\n            session. If DisplayFragmentNumber is set to <code>ALWAYS</code>, the Kinesis Video\n            Streams fragment number is added to each S element in the manifest file with the\n            attribute name “kvs:fn”. These fragment numbers can be used for logging or for use with\n            other APIs (e.g. <code>GetMedia</code> and <code>GetMediaForFragmentList</code>). A\n            custom MPEG-DASH media player is necessary to leverage these this custom\n            attribute.</p>\n         <p>The default value is <code>NEVER</code>.</p>"
                    }
                },
                "DASHFragmentSelector": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHFragmentSelector",
                    "traits": {
                        "smithy.api#documentation": "<p>The time range of the requested fragment and the source of the timestamps.</p>\n         <p>This parameter is required if <code>PlaybackMode</code> is <code>ON_DEMAND</code> or\n                <code>LIVE_REPLAY</code>. This parameter is optional if PlaybackMode is<code></code>\n            <code>LIVE</code>. If <code>PlaybackMode</code> is <code>LIVE</code>, the\n                <code>FragmentSelectorType</code> can be set, but the <code>TimestampRange</code>\n            should not be set. If <code>PlaybackMode</code> is <code>ON_DEMAND</code> or\n                <code>LIVE_REPLAY</code>, both <code>FragmentSelectorType</code> and\n                <code>TimestampRange</code> must be set.</p>"
                    }
                },
                "Expires": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#Expires",
                    "traits": {
                        "smithy.api#documentation": "<p>The time in seconds until the requested session expires. This value can be between 300\n            (5 minutes) and 43200 (12 hours).</p>\n         <p>When a session expires, no new calls to <code>GetDashManifest</code>,\n                <code>GetMP4InitFragment</code>, or <code>GetMP4MediaFragment</code> can be made for\n            that session.</p>\n         <p>The default is 300 (5 minutes).</p>"
                    }
                },
                "MaxManifestFragmentResults": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHMaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of fragments that are returned in the MPEG-DASH manifest.</p>\n         <p>When the <code>PlaybackMode</code> is <code>LIVE</code>, the most recent fragments are\n            returned up to this value. When the <code>PlaybackMode</code> is <code>ON_DEMAND</code>,\n            the oldest fragments are returned, up to this maximum number.</p>\n         <p>When there are a higher number of fragments available in a live MPEG-DASH manifest,\n            video players often buffer content before starting playback. Increasing the buffer size\n            increases the playback latency, but it decreases the likelihood that rebuffering will\n            occur during playback. We recommend that a live MPEG-DASH manifest have a minimum of 3\n            fragments and a maximum of 10 fragments.</p>\n         <p>The default is 5 fragments if <code>PlaybackMode</code> is <code>LIVE</code> or\n                <code>LIVE_REPLAY</code>, and 1,000 if <code>PlaybackMode</code> is\n                <code>ON_DEMAND</code>. </p>\n         <p>The maximum value of 1,000 fragments corresponds to more than 16 minutes of video on\n            streams with 1-second fragments, and more than 2 1/2 hours of video on streams with\n            10-second fragments.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#GetDASHStreamingSessionURLOutput": {
            "type": "structure",
            "members": {
                "DASHStreamingSessionURL": {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHStreamingSessionURL",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL (containing the session token) that a media player can use to retrieve the\n            MPEG-DASH manifest.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.kinesisvideoarchivedmedia#GetHLSStreamingSessionURL": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.kinesisvideoarchivedmedia#GetHLSStreamingSessionURLInput"
            },
            "output": {
                "target": "com.amazonaws.kinesisvideoarchivedmedia#GetHLSStreamingSessionURLOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#ClientLimitExceededException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#InvalidCodecPrivateDataException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#MissingCodecPrivateDataException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#NoDataRetentionException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#NotAuthorizedException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.kinesisvideoarchivedmedia#UnsupportedStreamMediaTypeException"
                }
            ],
            "traits": {
[...]
