{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.lakeformation#AWSLakeFormation": {
            "type": "service",
            "version": "2017-03-31",
            "operations": [
                {
                    "target": "com.amazonaws.lakeformation#AddLFTagsToResource"
                },
                {
                    "target": "com.amazonaws.lakeformation#AssumeDecoratedRoleWithSAML"
                },
                {
                    "target": "com.amazonaws.lakeformation#BatchGrantPermissions"
                },
                {
                    "target": "com.amazonaws.lakeformation#BatchRevokePermissions"
                },
                {
                    "target": "com.amazonaws.lakeformation#CancelTransaction"
                },
                {
                    "target": "com.amazonaws.lakeformation#CommitTransaction"
                },
                {
                    "target": "com.amazonaws.lakeformation#CreateDataCellsFilter"
                },
                {
                    "target": "com.amazonaws.lakeformation#CreateLFTag"
                },
                {
                    "target": "com.amazonaws.lakeformation#DeleteDataCellsFilter"
                },
                {
                    "target": "com.amazonaws.lakeformation#DeleteLFTag"
                },
                {
                    "target": "com.amazonaws.lakeformation#DeleteObjectsOnCancel"
                },
                {
                    "target": "com.amazonaws.lakeformation#DeregisterResource"
                },
                {
                    "target": "com.amazonaws.lakeformation#DescribeResource"
                },
                {
                    "target": "com.amazonaws.lakeformation#DescribeTransaction"
                },
                {
                    "target": "com.amazonaws.lakeformation#ExtendTransaction"
                },
                {
                    "target": "com.amazonaws.lakeformation#GetDataLakeSettings"
                },
                {
                    "target": "com.amazonaws.lakeformation#GetEffectivePermissionsForPath"
                },
                {
                    "target": "com.amazonaws.lakeformation#GetLFTag"
                },
                {
                    "target": "com.amazonaws.lakeformation#GetQueryState"
                },
                {
                    "target": "com.amazonaws.lakeformation#GetQueryStatistics"
                },
                {
                    "target": "com.amazonaws.lakeformation#GetResourceLFTags"
                },
                {
                    "target": "com.amazonaws.lakeformation#GetTableObjects"
                },
                {
                    "target": "com.amazonaws.lakeformation#GetTemporaryGluePartitionCredentials"
                },
                {
                    "target": "com.amazonaws.lakeformation#GetTemporaryGlueTableCredentials"
                },
                {
                    "target": "com.amazonaws.lakeformation#GetWorkUnitResults"
                },
                {
                    "target": "com.amazonaws.lakeformation#GetWorkUnits"
                },
                {
                    "target": "com.amazonaws.lakeformation#GrantPermissions"
                },
                {
                    "target": "com.amazonaws.lakeformation#ListDataCellsFilter"
                },
                {
                    "target": "com.amazonaws.lakeformation#ListLFTags"
                },
                {
                    "target": "com.amazonaws.lakeformation#ListPermissions"
                },
                {
                    "target": "com.amazonaws.lakeformation#ListResources"
                },
                {
                    "target": "com.amazonaws.lakeformation#ListTableStorageOptimizers"
                },
                {
                    "target": "com.amazonaws.lakeformation#ListTransactions"
                },
                {
                    "target": "com.amazonaws.lakeformation#PutDataLakeSettings"
                },
                {
                    "target": "com.amazonaws.lakeformation#RegisterResource"
                },
                {
                    "target": "com.amazonaws.lakeformation#RemoveLFTagsFromResource"
                },
                {
                    "target": "com.amazonaws.lakeformation#RevokePermissions"
                },
                {
                    "target": "com.amazonaws.lakeformation#SearchDatabasesByLFTags"
                },
                {
                    "target": "com.amazonaws.lakeformation#SearchTablesByLFTags"
                },
                {
                    "target": "com.amazonaws.lakeformation#StartQueryPlanning"
                },
                {
                    "target": "com.amazonaws.lakeformation#StartTransaction"
                },
                {
                    "target": "com.amazonaws.lakeformation#UpdateLFTag"
                },
                {
                    "target": "com.amazonaws.lakeformation#UpdateResource"
                },
                {
                    "target": "com.amazonaws.lakeformation#UpdateTableObjects"
                },
                {
                    "target": "com.amazonaws.lakeformation#UpdateTableStorageOptimizer"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "LakeFormation",
                    "arnNamespace": "lakeformation",
                    "cloudFormationName": "LakeFormation",
                    "cloudTrailEventSource": "lakeformation.amazonaws.com",
                    "endpointPrefix": "lakeformation"
                },
                "aws.auth#sigv4": {
                    "name": "lakeformation"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<fullname>Lake Formation</fullname>\n         <p>Defines the public endpoint for the Lake Formation service.</p>",
                "smithy.api#title": "AWS Lake Formation",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "aws.partition",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ],
                                    "assign": "PartitionResult"
                                }
                            ],
                            "type": "tree",
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "fn": "parseURL",
                                            "argv": [
                                                {
                                                    "ref": "Endpoint"
                                                }
                                            ],
                                            "assign": "url"
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                                    "type": "error"
                                                },
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": {
                                                            "ref": "Endpoint"
                                                        },
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        },
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsFIPS"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsDualStack"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://lakeformation-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsFIPS"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "type": "tree",
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://lakeformation-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsDualStack"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://lakeformation.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": "https://lakeformation.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ]
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ap-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-south-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-south-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ap-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-south-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-south-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.eu-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-south-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-south-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.eu-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-south-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-south-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-gov-east-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-gov-east-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-gov-east-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-gov-east-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ca-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ca-central-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ca-central-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ca-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ca-central-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ca-central-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.eu-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-central-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-central-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.eu-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-central-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-central-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.us-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-west-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-west-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.us-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-west-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-west-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.us-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-west-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-west-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.us-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-west-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-west-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.af-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "af-south-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "af-south-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.af-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "af-south-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "af-south-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.eu-north-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-north-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-north-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.eu-north-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-north-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-north-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.eu-west-3.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-west-3",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-west-3",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.eu-west-3.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-west-3",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-west-3",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.eu-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-west-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-west-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.eu-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-west-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-west-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.eu-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-west-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "eu-west-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.eu-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-west-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "eu-west-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ap-northeast-3.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-northeast-3",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-northeast-3",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ap-northeast-3.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-northeast-3",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-northeast-3",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ap-northeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-northeast-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-northeast-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ap-northeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-northeast-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-northeast-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ap-northeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-northeast-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-northeast-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ap-northeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-northeast-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-northeast-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.me-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "me-south-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "me-south-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.me-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "me-south-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "me-south-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.sa-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "sa-east-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "sa-east-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.sa-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "sa-east-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "sa-east-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ap-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-east-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-east-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ap-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-east-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-east-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "cn-north-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "cn-north-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "cn-north-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "cn-north-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.us-gov-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-gov-west-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-gov-west-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.us-gov-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-gov-west-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-gov-west-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ap-southeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-southeast-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-southeast-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ap-southeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-southeast-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-southeast-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ap-southeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-southeast-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "ap-southeast-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ap-southeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-southeast-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "ap-southeast-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-east-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-east-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-east-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-east-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.us-east-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-east-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-east-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.us-east-2.api.aws"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-east-2",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-east-2",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "cn-northwest-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation-fips.cn-northwest-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "cn-northwest-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.cn-northwest-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "cn-northwest-1",
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://lakeformation.cn-northwest-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "cn-northwest-1",
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-east-1",
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "UseFIPS": true,
                                "Region": "us-east-1",
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "UseFIPS": false,
                                "Region": "us-east-1",
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.lakeformation#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.lakeformation#MessageString",
                    "traits": {
                        "smithy.api#documentation": "<p>A message describing the problem.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Access to a resource was denied.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.lakeformation#AccessKeyIdString": {
            "type": "string"
        },
        "com.amazonaws.lakeformation#AddLFTagsToResource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lakeformation#AddLFTagsToResourceRequest"
            },
            "output": {
                "target": "com.amazonaws.lakeformation#AddLFTagsToResourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lakeformation#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lakeformation#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.lakeformation#EntityNotFoundException"
                },
                {
                    "target": "com.amazonaws.lakeformation#InternalServiceException"
                },
                {
                    "target": "com.amazonaws.lakeformation#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.lakeformation#OperationTimeoutException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Attaches one or more LF-tags to an existing resource.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/AddLFTagsToResource",
                    "code": 200
                }
            }
        },
        "com.amazonaws.lakeformation#AddLFTagsToResourceRequest": {
            "type": "structure",
            "members": {
                "CatalogId": {
                    "target": "com.amazonaws.lakeformation#CatalogIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your Lake Formation environment. </p>"
                    }
                },
                "Resource": {
                    "target": "com.amazonaws.lakeformation#Resource",
                    "traits": {
                        "smithy.api#documentation": "<p>The database, table, or column resource to which to attach an LF-tag.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LFTags": {
                    "target": "com.amazonaws.lakeformation#LFTagsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The LF-tags to attach to the resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.lakeformation#AddLFTagsToResourceResponse": {
            "type": "structure",
            "members": {
                "Failures": {
                    "target": "com.amazonaws.lakeformation#LFTagErrors",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of failures to tag the resource.</p>"
                    }
                }
            }
        },
        "com.amazonaws.lakeformation#AddObjectInput": {
            "type": "structure",
            "members": {
                "Uri": {
                    "target": "com.amazonaws.lakeformation#URI",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 location of the object.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ETag": {
                    "target": "com.amazonaws.lakeformation#ETagString",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 ETag of the object. Returned by <code>GetTableObjects</code> for validation and used to identify changes to the underlying data.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Size": {
                    "target": "com.amazonaws.lakeformation#ObjectSize",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The size of the Amazon S3 object in bytes.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PartitionValues": {
                    "target": "com.amazonaws.lakeformation#PartitionValuesList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of partition values for the object. A value must be specified for each partition key associated with the table.</p>\n\t        <p>The supported data types are integer, long, date(yyyy-MM-dd), timestamp(yyyy-MM-dd HH:mm:ssXXX or yyyy-MM-dd HH:mm:ss\"), string and decimal.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A new object to add to the governed table.</p>"
            }
        },
        "com.amazonaws.lakeformation#AllRowsWildcard": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>A structure that you pass to indicate you want all rows in a filter. </p>"
            }
        },
        "com.amazonaws.lakeformation#AlreadyExistsException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.lakeformation#MessageString",
                    "traits": {
                        "smithy.api#documentation": "<p>A message describing the problem.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A resource to be created or added already exists.</p>",
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.lakeformation#AssumeDecoratedRoleWithSAML": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lakeformation#AssumeDecoratedRoleWithSAMLRequest"
            },
            "output": {
                "target": "com.amazonaws.lakeformation#AssumeDecoratedRoleWithSAMLResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lakeformation#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lakeformation#EntityNotFoundException"
                },
                {
                    "target": "com.amazonaws.lakeformation#InternalServiceException"
                },
                {
                    "target": "com.amazonaws.lakeformation#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.lakeformation#OperationTimeoutException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Allows a caller to assume an IAM role decorated as the SAML user specified in the SAML assertion included in the request. This decoration allows Lake Formation to enforce access policies against the SAML users and groups.  This API operation requires SAML federation setup in the caller’s account as it can only be called with valid SAML assertions.\n      Lake Formation does not scope down the permission of the assumed role.  All permissions attached to the role via the SAML federation setup will be included in the role session.\n    </p>\n         <p>\n      This decorated role is expected to access data in Amazon S3 by getting temporary access from Lake Formation which is authorized via the virtual API <code>GetDataAccess</code>.  Therefore, all SAML roles that can be assumed via <code>AssumeDecoratedRoleWithSAML</code> must at a minimum include <code>lakeformation:GetDataAccess</code> in their role policies.  A typical IAM policy attached to such a role would look as follows:\n    </p>",
[...]
