{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.lambdaweb#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A message describing the access denied error.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient permissions to perform this operation.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.lambdaweb#AccountQuotas": {
            "type": "structure",
            "members": {
                "maxTotalArmVCpus": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum total number of Arm vCPUs that you can allocate across all of your web functions in the current AWS Region.</p>",
                        "smithy.api#range": {
                            "min": 0
                        },
                        "smithy.api#required": {}
                    }
                },
                "maxTotalRateLimit": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of requests per second allowed across all of your web function endpoints in your account in the current AWS Region.</p>",
                        "smithy.api#range": {
                            "min": 0
                        },
                        "smithy.api#required": {}
                    }
                },
                "maxRevisionsPerFunction": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of revisions that a single web function can have.</p>",
                        "smithy.api#range": {
                            "min": 0
                        },
                        "smithy.api#required": {}
                    }
                },
                "maxEndpointsPerFunction": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of endpoints that a single web function can have.</p>",
                        "smithy.api#range": {
                            "min": 0
                        },
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The quotas that apply to web functions in your account in the current AWS Region.</p>"
            }
        },
        "com.amazonaws.lambdaweb#AccountUsage": {
            "type": "structure",
            "members": {
                "functionCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of web functions in your account in the current AWS Region.</p>",
                        "smithy.api#range": {
                            "min": 0
                        },
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains your current web function usage for the current AWS Region.</p>"
            }
        },
        "com.amazonaws.lambdaweb#ApplicationLogLevel": {
            "type": "enum",
            "members": {
                "TRACE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TRACE"
                    }
                },
                "DEBUG": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DEBUG"
                    }
                },
                "INFO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INFO"
                    }
                },
                "WARN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "WARN"
                    }
                },
                "ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR"
                    }
                },
                "FATAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FATAL"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The log level for application logs. Possible values: <code>TRACE</code>, <code>DEBUG</code>, <code>INFO</code>, <code>WARN</code>, <code>ERROR</code>, <code>FATAL</code>.</p>"
            }
        },
        "com.amazonaws.lambdaweb#AuthType": {
            "type": "enum",
            "members": {
                "APPLICATION_MANAGED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ApplicationManaged"
                    }
                },
                "IAM_AUTH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IamAuth"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The authorization type for a web function endpoint. Possible values: <code>ApplicationManaged</code> (the function handles authorization), <code>IamAuth</code> (Lambda authorizes requests with AWS SigV4 and IAM).</p>"
            }
        },
        "com.amazonaws.lambdaweb#AutoDeploymentMode": {
            "type": "enum",
            "members": {
                "LATEST_REVISION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LatestRevision"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Disabled"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The auto-deployment mode for a web function endpoint. Possible values: <code>LatestRevision</code> (endpoint automatically serves the newest revision), <code>Disabled</code> (revision routing is fixed until explicitly changed).</p>"
            }
        },
        "com.amazonaws.lambdaweb#BuildConfig": {
            "type": "structure",
            "members": {
                "codeConfig": {
                    "target": "com.amazonaws.lambdaweb#CodeConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The code configuration specifying where the deployment artifact is stored.</p>",
                        "smithy.api#required": {}
                    }
                },
                "runtimeConfig": {
                    "target": "com.amazonaws.lambdaweb#RuntimeConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The runtime configuration for the revision.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The build configuration for a web function revision, including code location and runtime settings.</p>"
            }
        },
        "com.amazonaws.lambdaweb#CodeConfig": {
            "type": "structure",
            "members": {
                "s3Object": {
                    "target": "com.amazonaws.lambdaweb#S3Object",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 location of the deployment artifact.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The code configuration specifying the location of the deployment artifact.</p>"
            }
        },
        "com.amazonaws.lambdaweb#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A message describing the conflict.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the resource in conflict.</p>"
                    }
                },
                "resourceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the resource in conflict.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request conflicts with the current state of the resource. Resolve the conflict and try again.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.lambdaweb#CreateWebFunction": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lambdaweb#CreateWebFunctionRequest"
            },
            "output": {
                "target": "com.amazonaws.lambdaweb#CreateWebFunctionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lambdaweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys",
                    "lambda:Request/WebFunctionAuthType"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create a Lambda web function",
                    "requiredActions": [
                        "iam:PassRole",
                        "lambda:PassNetworkConnector"
                    ],
                    "resources": {
                        "required": {
                            "webFunction": {}
                        }
                    },
                    "createsResources": [
                        "webFunction"
                    ]
                },
                "smithy.api#documentation": "<p>Creates a web function with an initial revision and endpoint. To create a web function, you provide the function name, revision configuration (code and service settings), and endpoint configuration.</p> <p>To use this operation, you must have the <code>CreateWebFunction</code> permission on the web function. You don't need separate permissions for the initial revision or endpoint.</p> <note> <p>This API is experimental and for internal AWS use only. It is not yet available to external customers.</p> </note>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/2025-03-07/web-functions",
                    "code": 202
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.lambdaweb#CreateWebFunctionEndpoint": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lambdaweb#CreateWebFunctionEndpointRequest"
            },
            "output": {
                "target": "com.amazonaws.lambdaweb#CreateWebFunctionEndpointResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lambdaweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "lambda:Request/WebFunctionAuthType"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create an endpoint for a Lambda web function",
                    "resources": {
                        "required": {
                            "webFunction": {}
                        }
                    },
                    "createsResources": [
                        "webFunctionEndpoint"
                    ]
                },
                "smithy.api#documentation": "<p>Creates an endpoint for a web function. An endpoint exposes the web function over HTTPS and routes traffic to one or more revisions.</p> <p>To use this operation, you must have the <code>CreateWebFunctionEndpoint</code> permission on the web function, not on the endpoint being created.</p> <note> <p>This API is experimental and for internal AWS use only. It is not yet available to external customers.</p> </note>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/2025-03-07/web-functions/{functionName}/endpoints",
                    "code": 202
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.lambdaweb#CreateWebFunctionEndpointRequest": {
            "type": "structure",
            "members": {
                "functionName": {
                    "target": "com.amazonaws.lambdaweb#FunctionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the web function to create the endpoint for. You can specify the function name or the function ARN. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "endpointName": {
                    "target": "com.amazonaws.lambdaweb#EndpointName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the endpoint to create. The name can contain letters, numbers, hyphens (-), and underscores (_), and can't begin or end with a hyphen or an underscore. The length constraint applies only to the full ARN. If you specify only the endpoint name, it is limited to 64 characters in length.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.lambdaweb#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the endpoint.</p>"
                    }
                },
                "endpointType": {
                    "target": "com.amazonaws.lambdaweb#EndpointType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of endpoint to create. Determines how traffic is served and routed across Regions.</p>",
                        "smithy.api#required": {}
                    }
                },
                "authType": {
                    "target": "com.amazonaws.lambdaweb#AuthType",
                    "traits": {
                        "smithy.api#documentation": "<p>The authorization type for the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "autoDeploymentMode": {
                    "target": "com.amazonaws.lambdaweb#AutoDeploymentMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The auto-deployment mode for the endpoint. Controls whether the endpoint automatically serves the newest revision. If you don't specify a value, the default is <code>Disabled</code>, and this default is returned in the response.</p>"
                    }
                },
                "revisionWeights": {
                    "target": "com.amazonaws.lambdaweb#RevisionWeightList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of revision weights that determine how traffic is distributed across revisions. Up to two revisions can be specified for canary or blue-green deployments.</p>"
                    }
                },
                "regions": {
                    "target": "com.amazonaws.lambdaweb#RegionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of Regions for the endpoint. Required when the endpoint type is <code>MultiRegion</code> or <code>PerRegion</code>: specify at least one Region other than the Region where you create the endpoint (the home Region). The home Region is added automatically if you don't include it; specifying only the home Region isn't allowed. When the endpoint type is <code>HomeRegion</code>, omit this field or specify only the home Region.</p>"
                    }
                },
                "scalingConfig": {
                    "target": "com.amazonaws.lambdaweb#ScalingConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The scaling configuration for the endpoint. There is no default value. If you don't specify a scaling configuration, it is absent from the response.</p>"
                    }
                },
                "throttleConfig": {
                    "target": "com.amazonaws.lambdaweb#ThrottleConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The throttling configuration for the endpoint. There is no default value. If you don't specify a throttling configuration, it is absent from the response.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request to create a web function endpoint.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.lambdaweb#CreateWebFunctionEndpointResponse": {
            "type": "structure",
            "members": {
                "functionArn": {
                    "target": "com.amazonaws.lambdaweb#FunctionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the web function.</p>",
                        "smithy.api#required": {}
                    }
                },
                "endpointArn": {
                    "target": "com.amazonaws.lambdaweb#EndpointArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "endpointName": {
                    "target": "com.amazonaws.lambdaweb#EndpointName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.lambdaweb#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the endpoint.</p>"
                    }
                },
                "endpointType": {
                    "target": "com.amazonaws.lambdaweb#EndpointType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "domainName": {
                    "target": "com.amazonaws.lambdaweb#DomainName",
                    "traits": {
                        "smithy.api#documentation": "<p>The domain name assigned to the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "authType": {
                    "target": "com.amazonaws.lambdaweb#AuthType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "autoDeploymentMode": {
                    "target": "com.amazonaws.lambdaweb#AutoDeploymentMode",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "revisionWeights": {
                    "target": "com.amazonaws.lambdaweb#RevisionWeightList",
                    "traits": {
                        "smithy.api#documentation": "<p>The traffic distribution across revisions for the endpoint. Each entry maps a revision to a weight from 1 to 100.</p>",
                        "smithy.api#required": {}
                    }
                },
                "regions": {
                    "target": "com.amazonaws.lambdaweb#RegionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Regions configured for the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "scalingConfig": {
                    "target": "com.amazonaws.lambdaweb#ScalingConfig"
                },
                "throttleConfig": {
                    "target": "com.amazonaws.lambdaweb#ThrottleConfig"
                },
                "state": {
                    "target": "com.amazonaws.lambdaweb#EndpointState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "stateReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the current state of the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updateStatus": {
                    "target": "com.amazonaws.lambdaweb#EndpointUpdateStatus"
                },
                "updateStatusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the endpoint's most recent update status.</p>"
                    }
                },
                "regionalEndpoints": {
                    "target": "com.amazonaws.lambdaweb#RegionalEndpoints",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of regional endpoint configurations.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.lambdaweb#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the endpoint was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.lambdaweb#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the endpoint was last updated.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details about the created endpoint.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.lambdaweb#CreateWebFunctionRequest": {
            "type": "structure",
            "members": {
                "functionName": {
                    "target": "com.amazonaws.lambdaweb#FunctionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the web function. The name can contain letters, numbers, hyphens (-), and underscores (_), and can't begin or end with a hyphen or an underscore. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
                        "smithy.api#required": {}
                    }
                },
                "revisionConfig": {
                    "target": "com.amazonaws.lambdaweb#RevisionConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for the initial revision of the web function, including code and service settings.</p>",
                        "smithy.api#notProperty": {}
                    }
                },
                "endpointConfig": {
                    "target": "com.amazonaws.lambdaweb#EndpointConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for the initial endpoint of the web function.</p>",
                        "smithy.api#notProperty": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.lambdaweb#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>A map of tag keys and values to apply to the web function.</p>",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request to create a web function.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.lambdaweb#CreateWebFunctionResponse": {
            "type": "structure",
            "members": {
                "functionName": {
                    "target": "com.amazonaws.lambdaweb#FunctionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the web function.</p>",
                        "smithy.api#required": {}
                    }
                },
                "functionArn": {
                    "target": "com.amazonaws.lambdaweb#FunctionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the web function.</p>",
                        "smithy.api#required": {}
                    }
                },
                "state": {
                    "target": "com.amazonaws.lambdaweb#FunctionState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the web function.</p>",
                        "smithy.api#required": {}
                    }
                },
                "stateReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the current state of the web function.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.lambdaweb#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the web function was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.lambdaweb#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the web function was last updated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "revision": {
                    "target": "com.amazonaws.lambdaweb#FunctionRevisionSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>A summary of the initial revision created with the web function.</p>",
                        "smithy.api#notProperty": {}
                    }
                },
                "endpoint": {
                    "target": "com.amazonaws.lambdaweb#FunctionEndpointSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>A summary of the initial endpoint created with the web function.</p>",
                        "smithy.api#notProperty": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.lambdaweb#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>A map of tag keys and values associated with the web function.</p>",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details about the created web function.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.lambdaweb#CreateWebFunctionRevision": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lambdaweb#CreateWebFunctionRevisionRequest"
            },
            "output": {
                "target": "com.amazonaws.lambdaweb#CreateWebFunctionRevisionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lambdaweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create a revision for a Lambda web function",
                    "requiredActions": [
                        "iam:PassRole",
                        "lambda:PassNetworkConnector"
                    ],
                    "resources": {
                        "required": {
                            "webFunction": {}
                        }
                    },
                    "createsResources": [
                        "webFunctionRevision"
                    ]
                },
                "smithy.api#documentation": "<p>Creates an immutable revision for a web function. A revision represents a specific version of the function code and configuration.</p> <p>To use this operation, you must have the <code>CreateWebFunctionRevision</code> permission on the web function, not on the revision being created.</p> <note> <p>This API is experimental and for internal AWS use only. It is not yet available to external customers.</p> </note>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/2025-03-07/web-functions/{functionName}/revisions",
                    "code": 202
                }
            }
        },
        "com.amazonaws.lambdaweb#CreateWebFunctionRevisionRequest": {
            "type": "structure",
            "members": {
                "functionName": {
                    "target": "com.amazonaws.lambdaweb#FunctionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the web function. You can specify the function name or the function ARN. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.lambdaweb#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the revision.</p>"
                    }
                },
                "kmsKeyArn": {
                    "target": "com.amazonaws.lambdaweb#KmsKeyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS Key Management Service (AWS KMS) key used to encrypt the revision's code and environment variables.</p>"
                    }
                },
                "buildConfig": {
                    "target": "com.amazonaws.lambdaweb#BuildConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The build configuration for the revision, including code location and runtime settings.</p>",
                        "smithy.api#required": {}
                    }
                },
                "serviceConfig": {
                    "target": "com.amazonaws.lambdaweb#ServiceConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The service configuration for the revision, including execution role, timeout, and concurrency settings.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request to create a web function revision.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.lambdaweb#CreateWebFunctionRevisionResponse": {
            "type": "structure",
            "members": {
                "functionArn": {
                    "target": "com.amazonaws.lambdaweb#FunctionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the web function.</p>",
                        "smithy.api#required": {}
                    }
                },
                "revisionArn": {
                    "target": "com.amazonaws.lambdaweb#RevisionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the revision.</p>",
                        "smithy.api#required": {}
                    }
                },
                "revisionId": {
                    "target": "com.amazonaws.lambdaweb#RevisionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the revision.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.lambdaweb#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the revision.</p>"
                    }
                },
                "kmsKeyArn": {
                    "target": "com.amazonaws.lambdaweb#KmsKeyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS KMS key used to encrypt the revision's code and environment variables.</p>"
                    }
                },
                "buildConfig": {
                    "target": "com.amazonaws.lambdaweb#BuildConfig",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "serviceConfig": {
                    "target": "com.amazonaws.lambdaweb#ServiceConfig",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "state": {
                    "target": "com.amazonaws.lambdaweb#RevisionState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the revision.</p>",
                        "smithy.api#required": {}
                    }
                },
                "stateReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the current state of the revision.</p>",
                        "smithy.api#required": {}
                    }
                },
                "errors": {
                    "target": "com.amazonaws.lambdaweb#RevisionErrors",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of errors encountered during revision creation. This field is absent when the revision has no errors.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.lambdaweb#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the revision was created.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details about the created revision.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.lambdaweb#DateTime": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "date-time"
            }
        },
        "com.amazonaws.lambdaweb#DeleteResourcePolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lambdaweb#DeleteResourcePolicyRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lambdaweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "resources": {
                        "required": {
                            "webFunction": {}
                        }
                    }
                },
                "smithy.api#documentation": "<p>Removes the resource-based policy from a web function.</p> <note> <p>This API is experimental and for internal AWS use only. It is not yet available to external customers.</p> </note>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/2025-03-07/resource-policy/{resourceArn}",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.lambdaweb#DeleteResourcePolicyRequest": {
            "type": "structure",
            "members": {
                "resourceArn": {
                    "target": "com.amazonaws.lambdaweb#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the web function.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "revisionId": {
                    "target": "com.amazonaws.lambdaweb#PolicyRevisionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The revision ID of the policy. Use this to prevent deleting a policy that has been updated since you last retrieved it. If you don't specify a value, the policy is deleted regardless of its current revision.</p>",
                        "smithy.api#httpQuery": "RevisionId"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request to delete a resource-based policy.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.lambdaweb#DeleteWebFunction": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lambdaweb#DeleteWebFunctionRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lambdaweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to delete a Lambda web function",
                    "resources": {
                        "required": {
                            "webFunction": {}
                        }
                    }
                },
                "smithy.api#documentation": "<p>Deletes a web function and all of its associated revisions and endpoints.</p> <p>To use this operation, you must have the <code>DeleteWebFunction</code> permission on the web function. You don't need the <code>DeleteWebFunctionRevision</code> or <code>DeleteWebFunctionEndpoint</code> permission.</p> <note> <p>This API is experimental and for internal AWS use only. It is not yet available to external customers.</p> </note>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/2025-03-07/web-functions/{functionName}",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.lambdaweb#DeleteWebFunctionEndpoint": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lambdaweb#DeleteWebFunctionEndpointRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lambdaweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "lambda:Resource/WebFunctionAuthType"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to delete an endpoint for a Lambda web function",
                    "resources": {
                        "required": {
                            "webFunctionEndpoint": {}
                        }
                    }
                },
                "smithy.api#documentation": "<p>Deletes a web function endpoint.</p> <note> <p>This API is experimental and for internal AWS use only. It is not yet available to external customers.</p> </note>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/2025-03-07/web-functions/{functionName}/endpoints/{endpointName}",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.lambdaweb#DeleteWebFunctionEndpointRequest": {
            "type": "structure",
            "members": {
                "functionName": {
                    "target": "com.amazonaws.lambdaweb#FunctionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the web function. You can specify the function name or the function ARN. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "endpointName": {
                    "target": "com.amazonaws.lambdaweb#EndpointName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the endpoint to delete. You can specify the endpoint name or the endpoint ARN. The length constraint applies only to the full ARN. If you specify only the endpoint name, it is limited to 64 characters in length.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request to delete a web function endpoint.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.lambdaweb#DeleteWebFunctionRequest": {
            "type": "structure",
            "members": {
                "functionName": {
                    "target": "com.amazonaws.lambdaweb#FunctionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the web function to delete. You can specify the function name or the function ARN. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request to delete a web function.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.lambdaweb#DeleteWebFunctionRevision": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lambdaweb#DeleteWebFunctionRevisionRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lambdaweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to delete a revision for a Lambda web function",
                    "resources": {
                        "required": {
                            "webFunctionRevision": {}
                        }
                    }
                },
                "smithy.api#documentation": "<p>Deletes a web function revision. You cannot delete a revision that is currently serving traffic on an endpoint.</p> <note> <p>This API is experimental and for internal AWS use only. It is not yet available to external customers.</p> </note>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/2025-03-07/web-functions/{functionName}/revisions/{revisionId}",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.lambdaweb#DeleteWebFunctionRevisionRequest": {
            "type": "structure",
            "members": {
                "functionName": {
                    "target": "com.amazonaws.lambdaweb#FunctionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the web function. You can specify the function name or the function ARN. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "revisionId": {
                    "target": "com.amazonaws.lambdaweb#RevisionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the revision to delete. You can specify the revision identifier or the revision ARN. The length constraint applies only to the full ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request to delete a web function revision.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.lambdaweb#Description": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                }
            }
        },
        "com.amazonaws.lambdaweb#DomainName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 4,
                    "max": 256
                },
                "smithy.api#pattern": "^([a-z0-9-]+\\.)+[a-z]+$"
            }
        },
        "com.amazonaws.lambdaweb#EndpointArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.lambdaweb#EndpointConfig": {
            "type": "structure",
            "members": {
                "endpointName": {
                    "target": "com.amazonaws.lambdaweb#EndpointName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the endpoint. The name can contain letters, numbers, hyphens (-), and underscores (_), and can't begin or end with a hyphen or an underscore. The length constraint applies only to the full ARN. If you specify only the endpoint name, it is limited to 64 characters in length.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.lambdaweb#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the endpoint.</p>"
                    }
                },
                "endpointType": {
                    "target": "com.amazonaws.lambdaweb#EndpointType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of endpoint. Determines how traffic is served and routed across Regions.</p>",
                        "smithy.api#required": {}
                    }
                },
                "authType": {
                    "target": "com.amazonaws.lambdaweb#AuthType",
                    "traits": {
                        "smithy.api#documentation": "<p>The authorization type for the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "autoDeploymentMode": {
                    "target": "com.amazonaws.lambdaweb#AutoDeploymentMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The auto-deployment mode for the endpoint. If you don't specify a value, the default is <code>Disabled</code>, and this default is returned in the response.</p>"
                    }
                },
                "regions": {
                    "target": "com.amazonaws.lambdaweb#RegionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of Regions for the endpoint. Required when the endpoint type is <code>MultiRegion</code> or <code>PerRegion</code>: specify at least one Region other than the Region where you create the endpoint (the home Region). The home Region is added automatically if you don't include it; specifying only the home Region isn't allowed. When the endpoint type is <code>HomeRegion</code>, omit this field or specify only the home Region.</p>"
                    }
                },
                "scalingConfig": {
                    "target": "com.amazonaws.lambdaweb#ScalingConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The scaling configuration for the endpoint.</p>"
                    }
                },
                "throttleConfig": {
                    "target": "com.amazonaws.lambdaweb#ThrottleConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The throttling configuration for the endpoint.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration for a web function endpoint.</p>"
            }
        },
        "com.amazonaws.lambdaweb#EndpointName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                }
            }
        },
        "com.amazonaws.lambdaweb#EndpointState": {
            "type": "enum",
            "members": {
                "PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Pending"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Active"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Failed"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Deleting"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The state of a web function endpoint. Possible values: <code>Pending</code> (endpoint is being created), <code>Active</code> (endpoint is ready to receive traffic), <code>Failed</code> (endpoint creation or update failed), <code>Deleting</code> (endpoint is being deleted).</p>"
            }
        },
        "com.amazonaws.lambdaweb#EndpointType": {
            "type": "enum",
            "members": {
                "HOME_REGION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HomeRegion"
                    }
                },
                "MULTI_REGION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MultiRegion"
                    }
                },
                "PER_REGION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PerRegion"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The type of a web function endpoint. Possible values: <code>HomeRegion</code> (serves from the Region where the function was created), <code>MultiRegion</code> (replicates across chosen Regions and routes to the nearest), <code>PerRegion</code> (separate endpoint per Region).</p>"
            }
        },
        "com.amazonaws.lambdaweb#EndpointUpdateStatus": {
            "type": "enum",
            "members": {
                "IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "InProgress"
                    }
                },
                "SUCCESSFUL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Successful"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Failed"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The status of the most recent update to an endpoint. Possible values: <code>InProgress</code> (update is in progress), <code>Successful</code> (update completed successfully), <code>Failed</code> (update failed).</p>"
            }
        },
        "com.amazonaws.lambdaweb#EnvironmentVariables": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "min": 1
                    },
                    "smithy.api#pattern": "^[a-zA-Z]([a-zA-Z0-9_])*$"
                }
            },
            "value": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "min": 1
                    }
                }
            },
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.lambdaweb#Filter": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the filter field.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 64
                        },
                        "smithy.api#pattern": "^[a-zA-Z0-9]+$",
                        "smithy.api#required": {}
                    }
                },
                "values": {
                    "target": "com.amazonaws.lambdaweb#FilterValueList",
                    "traits": {
                        "smithy.api#documentation": "<p>The values to match for the filter.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A filter to apply when listing resources.</p>"
            }
        },
        "com.amazonaws.lambdaweb#FilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lambdaweb#Filter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.lambdaweb#FilterValueList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "min": 1,
                        "max": 64
                    },
                    "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
                }
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.lambdaweb#FunctionArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.lambdaweb#FunctionEndpointSummary": {
            "type": "structure",
            "members": {
                "endpointArn": {
                    "target": "com.amazonaws.lambdaweb#EndpointArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "endpointName": {
                    "target": "com.amazonaws.lambdaweb#EndpointName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.lambdaweb#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the endpoint.</p>"
                    }
                },
                "endpointType": {
                    "target": "com.amazonaws.lambdaweb#EndpointType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "domainName": {
                    "target": "com.amazonaws.lambdaweb#DomainName",
                    "traits": {
                        "smithy.api#documentation": "<p>The domain name of the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "authType": {
                    "target": "com.amazonaws.lambdaweb#AuthType",
                    "traits": {
                        "smithy.api#documentation": "<p>The authorization type for the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "autoDeploymentMode": {
                    "target": "com.amazonaws.lambdaweb#AutoDeploymentMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The auto-deployment mode for the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "revisionWeights": {
                    "target": "com.amazonaws.lambdaweb#RevisionWeightList",
                    "traits": {
                        "smithy.api#documentation": "<p>The revision weights for the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "regions": {
                    "target": "com.amazonaws.lambdaweb#RegionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of Regions for the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "scalingConfig": {
                    "target": "com.amazonaws.lambdaweb#ScalingConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The scaling configuration for the endpoint. This field is absent if the endpoint has no scaling configuration.</p>"
                    }
                },
                "throttleConfig": {
                    "target": "com.amazonaws.lambdaweb#ThrottleConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The throttling configuration for the endpoint. This field is absent if the endpoint has no throttling configuration.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.lambdaweb#EndpointState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "stateReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the current state of the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updateStatus": {
                    "target": "com.amazonaws.lambdaweb#EndpointUpdateStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the most recent update to the endpoint.</p>"
                    }
                },
                "updateStatusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the current update status of the endpoint.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.lambdaweb#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the endpoint was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.lambdaweb#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the endpoint was last updated.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of a web function endpoint.</p>"
            }
        },
        "com.amazonaws.lambdaweb#FunctionEndpointSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lambdaweb#FunctionEndpointSummary"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.lambdaweb#FunctionName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                }
            }
        },
        "com.amazonaws.lambdaweb#FunctionRevisionSummary": {
            "type": "structure",
            "members": {
                "revisionArn": {
                    "target": "com.amazonaws.lambdaweb#RevisionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the revision.</p>",
                        "smithy.api#required": {}
                    }
                },
                "revisionId": {
                    "target": "com.amazonaws.lambdaweb#RevisionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the revision.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.lambdaweb#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the revision.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.lambdaweb#RevisionState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the revision.</p>",
                        "smithy.api#required": {}
                    }
                },
                "stateReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the current state of the revision.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.lambdaweb#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the revision was created.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of a web function revision.</p>"
            }
        },
        "com.amazonaws.lambdaweb#FunctionRevisionSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lambdaweb#FunctionRevisionSummary"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.lambdaweb#FunctionState": {
            "type": "enum",
            "members": {
                "PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Pending"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Active"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Failed"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Deleting"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The state of a web function. Possible values: <code>Pending</code> (function is being created), <code>Active</code> (function is ready to use), <code>Failed</code> (function creation or update failed), <code>Deleting</code> (function is being deleted).</p>"
            }
        },
        "com.amazonaws.lambdaweb#FunctionSummary": {
            "type": "structure",
            "members": {
                "functionName": {
                    "target": "com.amazonaws.lambdaweb#FunctionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the web function.</p>",
                        "smithy.api#required": {}
                    }
                },
                "functionArn": {
                    "target": "com.amazonaws.lambdaweb#FunctionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the web function.</p>",
                        "smithy.api#required": {}
                    }
                },
                "state": {
                    "target": "com.amazonaws.lambdaweb#FunctionState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the web function.</p>",
                        "smithy.api#required": {}
                    }
                },
                "stateReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the current state of the web function.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.lambdaweb#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the web function was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.lambdaweb#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the web function was last updated.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of a web function.</p>"
            }
        },
        "com.amazonaws.lambdaweb#FunctionSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lambdaweb#FunctionSummary"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.lambdaweb#GetResourcePolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lambdaweb#GetResourcePolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.lambdaweb#GetResourcePolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lambdaweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "resources": {
                        "required": {
                            "webFunction": {}
                        }
                    }
                },
                "smithy.api#documentation": "<p>Retrieves the resource-based policy attached to a web function.</p> <note> <p>This API is experimental and for internal AWS use only. It is not yet available to external customers.</p> </note>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/2025-03-07/resource-policy/{resourceArn}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.lambdaweb#GetResourcePolicyRequest": {
            "type": "structure",
            "members": {
                "resourceArn": {
                    "target": "com.amazonaws.lambdaweb#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the web function.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request to retrieve a resource-based policy.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.lambdaweb#GetResourcePolicyResponse": {
            "type": "structure",
            "members": {
                "policy": {
                    "target": "com.amazonaws.lambdaweb#ResourcePolicy",
                    "traits": {
                        "smithy.api#documentation": "<p>The JSON-formatted resource-based policy attached to the web function.</p>",
                        "smithy.api#jsonName": "Policy",
                        "smithy.api#required": {}
                    }
                },
                "revisionId": {
                    "target": "com.amazonaws.lambdaweb#PolicyRevisionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The revision ID of the policy.</p>",
                        "smithy.api#jsonName": "RevisionId",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the resource-based policy and its revision ID.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.lambdaweb#GetWebAccountSettings": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lambdaweb#GetWebAccountSettingsRequest"
            },
            "output": {
                "target": "com.amazonaws.lambdaweb#GetWebAccountSettingsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lambdaweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to view the account settings"
                },
                "smithy.api#documentation": "<p>Retrieves details about your AWS Lambda Web Functions account settings for the current AWS Region, including the quotas that apply to web functions and your current usage.</p> <note> <p>This API is experimental and for internal AWS use only. It is not yet available to external customers.</p> </note>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/2025-03-07/web-account-settings"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.lambdaweb#GetWebAccountSettingsRequest": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.lambdaweb#GetWebAccountSettingsResponse": {
            "type": "structure",
            "members": {
                "accountQuotas": {
                    "target": "com.amazonaws.lambdaweb#AccountQuotas",
                    "traits": {
                        "smithy.api#documentation": "<p>The quotas that apply to web functions in your account in the current AWS Region.</p>",
                        "smithy.api#required": {}
                    }
                },
                "accountUsage": {
                    "target": "com.amazonaws.lambdaweb#AccountUsage",
                    "traits": {
                        "smithy.api#documentation": "<p>The current web function usage for your account in the current AWS Region.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains your AWS Lambda Web Functions account quotas and usage for the current AWS Region.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.lambdaweb#GetWebFunction": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lambdaweb#GetWebFunctionRequest"
            },
            "output": {
                "target": "com.amazonaws.lambdaweb#GetWebFunctionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lambdaweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to view details about a Lambda web function",
                    "resources": {
                        "required": {
                            "webFunction": {}
                        }
                    }
                },
                "smithy.api#documentation": "<p>Retrieves details about a web function, including its current state and configuration.</p> <note> <p>This API is experimental and for internal AWS use only. It is not yet available to external customers.</p> </note>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/2025-03-07/web-functions/{functionName}"
                },
                "smithy.api#readonly": {},
                "smithy.waiters#waitable": {
                    "WebFunctionActive": {
                        "documentation": "Waits for the web function's state to be Active. This should be used after new function creation.",
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "state",
                                        "expected": "Active",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "state",
                                        "expected": "Failed",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "state",
                                        "expected": "Deleting",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "retry",
                                "matcher": {
                                    "output": {
                                        "path": "state",
                                        "expected": "Pending",
                                        "comparator": "stringEquals"
                                    }
                                }
                            }
                        ],
                        "minDelay": 1,
                        "maxDelay": 300
                    },
                    "WebFunctionDeleted": {
                        "documentation": "Waits for the web function to be deleted. This should be used after function deletion.",
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "errorType": "ResourceNotFoundException"
                                }
                            },
                            {
                                "state": "retry",
                                "matcher": {
                                    "output": {
                                        "path": "state",
                                        "expected": "Deleting",
                                        "comparator": "stringEquals"
                                    }
                                }
                            }
                        ],
                        "minDelay": 1,
                        "maxDelay": 300
                    }
                }
            }
        },
        "com.amazonaws.lambdaweb#GetWebFunctionEndpoint": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lambdaweb#GetWebFunctionEndpointRequest"
            },
            "output": {
                "target": "com.amazonaws.lambdaweb#GetWebFunctionEndpointResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lambdaweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.lambdaweb#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "lambda:Resource/WebFunctionAuthType"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to view details about an endpoint for a Lambda web function",
                    "resources": {
                        "required": {
                            "webFunctionEndpoint": {}
                        }
                    }
                },
                "smithy.api#documentation": "<p>Retrieves details about a web function endpoint, including its current state, configuration, and domain name.</p> <note> <p>This API is experimental and for internal AWS use only. It is not yet available to external customers.</p> </note>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/2025-03-07/web-functions/{functionName}/endpoints/{endpointName}"
                },
                "smithy.api#readonly": {},
                "smithy.waiters#waitable": {
                    "WebFunctionEndpointActive": {
                        "documentation": "Waits for the web function endpoint's state to be Active. This should be used after new endpoint creation.",
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "state",
                                        "expected": "Active",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "state",
                                        "expected": "Failed",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "state",
                                        "expected": "Deleting",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "retry",
                                "matcher": {
                                    "output": {
                                        "path": "state",
                                        "expected": "Pending",
                                        "comparator": "stringEquals"
                                    }
                                }
                            }
                        ],
                        "minDelay": 1,
                        "maxDelay": 300
                    },
                    "WebFunctionEndpointDeleted": {
                        "documentation": "Waits for the web function endpoint to be deleted. This should be used after endpoint deletion.",
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "errorType": "ResourceNotFoundException"
                                }
                            },
                            {
                                "state": "retry",
                                "matcher": {
                                    "output": {
                                        "path": "state",
                                        "expected": "Deleting",
                                        "comparator": "stringEquals"
                                    }
                                }
                            }
                        ],
                        "minDelay": 1,
                        "maxDelay": 300
                    },
                    "WebFunctionEndpointUpdated": {
                        "documentation": "Waits for the web function endpoint's update status to be Successful. This should be used after endpoint updates.",
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "updateStatus",
                                        "expected": "Successful",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "updateStatus",
                                        "expected": "Failed",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "retry",
                                "matcher": {
                                    "output": {
                                        "path": "updateStatus",
                                        "expected": "InProgress",
                                        "comparator": "stringEquals"
                                    }
                                }
                            }
                        ],
                        "minDelay": 1,
                        "maxDelay": 300
                    }
                }
            }
        },
        "com.amazonaws.lambdaweb#GetWebFunctionEndpointRequest": {
            "type": "structure",
            "members": {
                "functionName": {
                    "target": "com.amazonaws.lambdaweb#FunctionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the web function. You can specify the function name or the function ARN. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "endpointName": {
                    "target": "com.amazonaws.lambdaweb#EndpointName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the endpoint to retrieve. You can specify the endpoint name or the endpoint ARN. The length constraint applies only to the full ARN. If you specify only the endpoint name, it is limited to 64 characters in length.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request to retrieve a web function endpoint.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.lambdaweb#GetWebFunctionEndpointResponse": {
            "type": "structure",
            "members": {
                "functionArn": {
                    "target": "com.amazonaws.lambdaweb#FunctionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the web function.</p>",
                        "smithy.api#required": {}
                    }
                },
                "endpointArn": {
                    "target": "com.amazonaws.lambdaweb#EndpointArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "endpointName": {
                    "target": "com.amazonaws.lambdaweb#EndpointName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.lambdaweb#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the endpoint.</p>"
                    }
                },
                "endpointType": {
                    "target": "com.amazonaws.lambdaweb#EndpointType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "domainName": {
                    "target": "com.amazonaws.lambdaweb#DomainName",
                    "traits": {
                        "smithy.api#documentation": "<p>The domain name assigned to the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "authType": {
                    "target": "com.amazonaws.lambdaweb#AuthType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "autoDeploymentMode": {
                    "target": "com.amazonaws.lambdaweb#AutoDeploymentMode",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "revisionWeights": {
                    "target": "com.amazonaws.lambdaweb#RevisionWeightList",
                    "traits": {
                        "smithy.api#documentation": "<p>The traffic distribution across revisions for the endpoint. Each entry maps a revision to a weight from 1 to 100.</p>",
                        "smithy.api#required": {}
                    }
                },
                "regions": {
                    "target": "com.amazonaws.lambdaweb#RegionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Regions configured for the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "scalingConfig": {
                    "target": "com.amazonaws.lambdaweb#ScalingConfig"
                },
                "throttleConfig": {
                    "target": "com.amazonaws.lambdaweb#ThrottleConfig"
                },
                "state": {
                    "target": "com.amazonaws.lambdaweb#EndpointState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the endpoint.</p>",
                        "smithy.api#required": {}
                    }
[...]
