{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.lightsail#AccessDeniedException": {
            "type": "structure",
            "members": {
                "code": {
                    "target": "com.amazonaws.lightsail#string"
                },
                "docs": {
                    "target": "com.amazonaws.lightsail#string"
                },
                "message": {
                    "target": "com.amazonaws.lightsail#string"
                },
                "tip": {
                    "target": "com.amazonaws.lightsail#string"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid\n      credentials to access a resource.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.lightsail#AccessDirection": {
            "type": "enum",
            "members": {
                "inbound": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "inbound"
                    }
                },
                "outbound": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "outbound"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AccessKey": {
            "type": "structure",
            "members": {
                "accessKeyId": {
                    "target": "com.amazonaws.lightsail#IAMAccessKeyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the access key.</p>"
                    }
                },
                "secretAccessKey": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The secret access key used to sign requests.</p>\n         <p>You should store the secret access key in a safe location. We recommend that you delete\n      the access key if the secret access key is compromised.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.lightsail#StatusType",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the access key.</p>\n         <p>A status of <code>Active</code> means that the key is valid, while <code>Inactive</code>\n      means it is not.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.lightsail#IsoDate",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the access key was created.</p>"
                    }
                },
                "lastUsed": {
                    "target": "com.amazonaws.lightsail#AccessKeyLastUsed",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that describes the last time the access key was used.</p>\n         <note>\n            <p>This object does not include data in the response of a <a href=\"https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/API_CreateBucketAccessKey.html\">CreateBucketAccessKey</a> action. If the access key has not been used, the\n          <code>region</code> and <code>serviceName</code> values are <code>N/A</code>, and the\n          <code>lastUsedDate</code> value is null.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an access key for an Amazon Lightsail bucket.</p>\n         <p>Access keys grant full programmatic access to the specified bucket and its objects. You\n      can have a maximum of two access keys per bucket. Use the <a href=\"https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/API_CreateBucketAccessKey.html\">CreateBucketAccessKey</a> action to create an access key for a specific bucket. For\n      more information about access keys, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-creating-bucket-access-keys\">Creating access keys for a bucket in Amazon Lightsail</a> in the\n        <i>Amazon Lightsail Developer Guide</i>.</p>\n         <important>\n            <p>The <code>secretAccessKey</code> value is returned only in response to the\n          <code>CreateBucketAccessKey</code> action. You can get a secret access key only when you\n        first create an access key; you cannot get the secret access key later. If you lose the\n        secret access key, you must create a new access key.</p>\n         </important>"
            }
        },
        "com.amazonaws.lightsail#AccessKeyLastUsed": {
            "type": "structure",
            "members": {
                "lastUsedDate": {
                    "target": "com.amazonaws.lightsail#IsoDate",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the access key was most recently used.</p>\n         <p>This value is null if the access key has not been used.</p>"
                    }
                },
                "region": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Region where this access key was most recently used.</p>\n         <p>This value is <code>N/A</code> if the access key has not been used.</p>"
                    }
                },
                "serviceName": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon Web Services service with which this access key was most recently\n      used.</p>\n         <p>This value is <code>N/A</code> if the access key has not been used.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the last time an access key was used.</p>\n         <note>\n            <p>This object does not include data in the response of a <a href=\"https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/API_CreateBucketAccessKey.html\">CreateBucketAccessKey</a> action.</p>\n         </note>"
            }
        },
        "com.amazonaws.lightsail#AccessKeyList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lightsail#AccessKey"
            }
        },
        "com.amazonaws.lightsail#AccessReceiverList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lightsail#ResourceReceivingAccess"
            }
        },
        "com.amazonaws.lightsail#AccessRules": {
            "type": "structure",
            "members": {
                "getObject": {
                    "target": "com.amazonaws.lightsail#AccessType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the anonymous access to all objects in a bucket.</p>\n         <p>The following options can be specified:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>public</code> - Sets all objects in the bucket to public (read-only), making\n          them readable by anyone in the world.</p>\n               <p>If the <code>getObject</code> value is set to <code>public</code>, then all objects in\n          the bucket default to public regardless of the <code>allowPublicOverrides</code>\n          value.</p>\n            </li>\n            <li>\n               <p>\n                  <code>private</code> - Sets all objects in the bucket to private, making them readable\n          only by you or anyone you give access to.</p>\n               <p>If the <code>getObject</code> value is set to <code>private</code>, and the\n            <code>allowPublicOverrides</code> value is set to <code>true</code>, then all objects in\n          the bucket default to private unless they are configured with a <code>public-read</code>\n          ACL. Individual objects with a <code>public-read</code> ACL are readable by anyone in the\n          world.</p>\n            </li>\n         </ul>"
                    }
                },
                "allowPublicOverrides": {
                    "target": "com.amazonaws.lightsail#boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>A Boolean value that indicates whether the access control list (ACL) permissions that are\n      applied to individual objects override the <code>getObject</code> option that is currently\n      specified.</p>\n         <p>When this is true, you can use the <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutObjectAcl.html\">PutObjectAcl</a> Amazon S3 API action to set\n      individual objects to public (read-only) using the <code>public-read</code> ACL, or to private\n      using the <code>private</code> ACL.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the anonymous access permissions for an Amazon Lightsail bucket and its\n      objects.</p>\n         <p>For more information about bucket access permissions, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-understanding-bucket-permissions\">Understanding bucket permissions in Amazon Lightsail</a> in the </p>\n         <p>\n            <i>Amazon Lightsail Developer Guide</i>.</p>"
            }
        },
        "com.amazonaws.lightsail#AccessType": {
            "type": "enum",
            "members": {
                "Public": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "public"
                    }
                },
                "Private": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "private"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AccountLevelBpaSync": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "com.amazonaws.lightsail#AccountLevelBpaSyncStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the account-level BPA synchronization.</p>\n         <p>The following statuses are possible:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>InSync</code> - Account-level BPA is synchronized. The Amazon S3\n          account-level BPA configuration applies to your Lightsail buckets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NeverSynced</code> - Synchronization has not yet happened. The Amazon S3\n          account-level BPA configuration does not apply to your Lightsail buckets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failed</code> - Synchronization failed. The Amazon S3 account-level BPA\n          configuration does not apply to your Lightsail buckets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Defaulted</code> - Synchronization failed and account-level BPA for your\n          Lightsail buckets is defaulted to <i>active</i>.</p>\n            </li>\n         </ul>\n         <note>\n            <p>You might need to complete further actions if the status is <code>Failed</code> or\n          <code>Defaulted</code>. The <code>message</code> parameter provides more information for\n        those statuses.</p>\n         </note>"
                    }
                },
                "lastSyncedAt": {
                    "target": "com.amazonaws.lightsail#IsoDate",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the account-level BPA configuration was last synchronized. This\n      value is null when the account-level BPA configuration has not been synchronized.</p>"
                    }
                },
                "message": {
                    "target": "com.amazonaws.lightsail#BPAStatusMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>A message that provides a reason for a <code>Failed</code> or <code>Defaulted</code>\n      synchronization status.</p>\n         <p>The following messages are possible:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SYNC_ON_HOLD</code> - The synchronization has not yet happened. This status\n          message occurs immediately after you create your first Lightsail bucket. This status\n          message should change after the first synchronization happens, approximately 1 hour after\n          the first bucket is created.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DEFAULTED_FOR_SLR_MISSING</code> - The synchronization failed because the\n          required service-linked role is missing from your Amazon Web Services account. The\n          account-level BPA configuration for your Lightsail buckets is defaulted to\n            <i>active</i> until the synchronization can occur. This means that all\n          your buckets are private and not publicly accessible. For more information about how to\n          create the required service-linked role to allow synchronization, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-using-service-linked-roles\">Using Service-Linked Roles for Amazon Lightsail</a> in the\n              <i>Amazon Lightsail Developer Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DEFAULTED_FOR_SLR_MISSING_ON_HOLD</code> - The synchronization failed because\n          the required service-linked role is missing from your Amazon Web Services account.\n          Account-level BPA is not yet configured for your Lightsail buckets. Therefore, only the\n          bucket access permissions and individual object access permissions apply to your\n          Lightsail buckets. For more information about how to create the required service-linked\n          role to allow synchronization, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-using-service-linked-roles\">Using Service-Linked Roles for Amazon Lightsail</a> in the\n              <i>Amazon Lightsail Developer Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Unknown</code> - The reason that synchronization failed is unknown. Contact\n            Amazon Web Services Support for more information.</p>\n            </li>\n         </ul>"
                    }
                },
                "bpaImpactsLightsail": {
                    "target": "com.amazonaws.lightsail#boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>A Boolean value that indicates whether account-level block public access is affecting your\n        Lightsail buckets.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the synchronization status of the Amazon Simple Storage Service (Amazon S3)\n      account-level block public access (BPA) feature for your Lightsail buckets.</p>\n         <p>The account-level BPA feature of Amazon S3 provides centralized controls to limit\n      public access to all Amazon S3 buckets in an account. BPA can make all Amazon S3 buckets in an Amazon Web Services account private regardless of the individual bucket and\n      object permissions that are configured. Lightsail buckets take into account the\n        Amazon S3 account-level BPA configuration when allowing or denying public access. To\n      do this, Lightsail periodically fetches the account-level BPA configuration\n      from Amazon S3. When the account-level BPA status is <code>InSync</code>, the Amazon S3 account-level BPA configuration is synchronized and it applies to your Lightsail\n      buckets. For more information about Amazon Simple Storage Service account-level BPA and how it affects\n        Lightsail buckets, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-block-public-access-for-buckets\">Block public access for buckets in Amazon Lightsail</a> in the\n          <i>Amazon Lightsail Developer Guide</i>.</p>"
            }
        },
        "com.amazonaws.lightsail#AccountLevelBpaSyncStatus": {
            "type": "enum",
            "members": {
                "InSync": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "InSync"
                    }
                },
                "Failed": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Failed"
                    }
                },
                "NeverSynced": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NeverSynced"
                    }
                },
                "Defaulted": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Defaulted"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AccountSetupInProgressException": {
            "type": "structure",
            "members": {
                "code": {
                    "target": "com.amazonaws.lightsail#string"
                },
                "docs": {
                    "target": "com.amazonaws.lightsail#string"
                },
                "message": {
                    "target": "com.amazonaws.lightsail#string"
                },
                "tip": {
                    "target": "com.amazonaws.lightsail#string"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Lightsail throws this exception when an account is still in the setup in progress\n      state.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 428
            }
        },
        "com.amazonaws.lightsail#AddOn": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the add-on.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the add-on.</p>"
                    }
                },
                "snapshotTimeOfDay": {
                    "target": "com.amazonaws.lightsail#TimeOfDay",
                    "traits": {
                        "smithy.api#documentation": "<p>The daily time when an automatic snapshot is created.</p>\n         <p>The time shown is in <code>HH:00</code> format, and in Coordinated Universal Time\n      (UTC).</p>\n         <p>The snapshot is automatically created between the time shown and up to 45 minutes\n      after.</p>"
                    }
                },
                "nextSnapshotTimeOfDay": {
                    "target": "com.amazonaws.lightsail#TimeOfDay",
                    "traits": {
                        "smithy.api#documentation": "<p>The next daily time an automatic snapshot will be created.</p>\n         <p>The time shown is in <code>HH:00</code> format, and in Coordinated Universal Time\n      (UTC).</p>\n         <p>The snapshot is automatically created between the time shown and up to 45 minutes\n      after.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an add-on that is enabled for an Amazon Lightsail resource.</p>"
            }
        },
        "com.amazonaws.lightsail#AddOnList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lightsail#AddOn"
            }
        },
        "com.amazonaws.lightsail#AddOnRequest": {
            "type": "structure",
            "members": {
                "addOnType": {
                    "target": "com.amazonaws.lightsail#AddOnType",
                    "traits": {
                        "smithy.api#documentation": "<p>The add-on type.</p>",
                        "smithy.api#required": {}
                    }
                },
                "autoSnapshotAddOnRequest": {
                    "target": "com.amazonaws.lightsail#AutoSnapshotAddOnRequest",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that represents additional parameters when enabling or modifying the automatic\n      snapshot add-on.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a request to enable, modify, or disable an add-on for an Amazon Lightsail\n      resource.</p>\n         <note>\n            <p>An additional cost may be associated with enabling add-ons. For more information, see\n        the <a href=\"https://aws.amazon.com/lightsail/pricing/\">Lightsail pricing\n        page</a>.</p>\n         </note>"
            }
        },
        "com.amazonaws.lightsail#AddOnRequestList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lightsail#AddOnRequest"
            }
        },
        "com.amazonaws.lightsail#AddOnType": {
            "type": "enum",
            "members": {
                "AutoSnapshot": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AutoSnapshot"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#Alarm": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.lightsail#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alarm.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the alarm.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.lightsail#IsoDate",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the alarm was created.</p>"
                    }
                },
                "location": {
                    "target": "com.amazonaws.lightsail#ResourceLocation",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that lists information about the location of the alarm.</p>"
                    }
                },
                "resourceType": {
                    "target": "com.amazonaws.lightsail#ResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The Lightsail resource type (e.g., <code>Alarm</code>).</p>"
                    }
                },
                "supportCode": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>The support code. Include this code in your email to support when you have questions about\n      your Lightsail alarm. This code enables our support team to look up your Lightsail\n      information more easily.</p>"
                    }
                },
                "monitoredResourceInfo": {
                    "target": "com.amazonaws.lightsail#MonitoredResourceInfo",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that lists information about the resource monitored by the alarm.</p>"
                    }
                },
                "comparisonOperator": {
                    "target": "com.amazonaws.lightsail#ComparisonOperator",
                    "traits": {
                        "smithy.api#documentation": "<p>The arithmetic operation used when comparing the specified statistic and threshold.</p>"
                    }
                },
                "evaluationPeriods": {
                    "target": "com.amazonaws.lightsail#integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of periods over which data is compared to the specified threshold.</p>"
                    }
                },
                "period": {
                    "target": "com.amazonaws.lightsail#MetricPeriod",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The period, in seconds, over which the statistic is applied.</p>"
                    }
                },
                "threshold": {
                    "target": "com.amazonaws.lightsail#double",
                    "traits": {
                        "smithy.api#documentation": "<p>The value against which the specified statistic is compared.</p>"
                    }
                },
                "datapointsToAlarm": {
                    "target": "com.amazonaws.lightsail#integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of data points that must not within the specified threshold to trigger the\n      alarm.</p>"
                    }
                },
                "treatMissingData": {
                    "target": "com.amazonaws.lightsail#TreatMissingData",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies how the alarm handles missing data points.</p>\n         <p>An alarm can treat missing data in the following ways:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>breaching</code> - Assume the missing data is not within the threshold. Missing\n          data counts towards the number of times the metric is not within the threshold.</p>\n            </li>\n            <li>\n               <p>\n                  <code>notBreaching</code> - Assume the missing data is within the threshold. Missing\n          data does not count towards the number of times the metric is not within the\n          threshold.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ignore</code> - Ignore the missing data. Maintains the current alarm\n          state.</p>\n            </li>\n            <li>\n               <p>\n                  <code>missing</code> - Missing data is treated as missing.</p>\n            </li>\n         </ul>"
                    }
                },
                "statistic": {
                    "target": "com.amazonaws.lightsail#MetricStatistic",
                    "traits": {
                        "smithy.api#documentation": "<p>The statistic for the metric associated with the alarm.</p>\n         <p>The following statistics are available:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Minimum</code> - The lowest value observed during the specified period. Use this\n          value to determine low volumes of activity for your application.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Maximum</code> - The highest value observed during the specified period. Use\n          this value to determine high volumes of activity for your application.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Sum</code> - All values submitted for the matching metric added together. You\n          can use this statistic to determine the total volume of a metric.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Average</code> - The value of Sum / SampleCount during the specified period. By\n          comparing this statistic with the Minimum and Maximum values, you can determine the full\n          scope of a metric and how close the average use is to the Minimum and Maximum values. This\n          comparison helps you to know when to increase or decrease your resources.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SampleCount</code> - The count, or number, of data points used for the\n          statistical calculation.</p>\n            </li>\n         </ul>"
                    }
                },
                "metricName": {
                    "target": "com.amazonaws.lightsail#MetricName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the metric associated with the alarm.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.lightsail#AlarmState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the alarm.</p>\n         <p>An alarm has the following possible states:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ALARM</code> - The metric is outside of the defined threshold.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INSUFFICIENT_DATA</code> - The alarm has just started, the metric is not\n          available, or not enough data is available for the metric to determine the alarm\n          state.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OK</code> - The metric is within the defined threshold.</p>\n            </li>\n         </ul>"
                    }
                },
                "unit": {
                    "target": "com.amazonaws.lightsail#MetricUnit",
                    "traits": {
                        "smithy.api#documentation": "<p>The unit of the metric associated with the alarm.</p>"
                    }
                },
                "contactProtocols": {
                    "target": "com.amazonaws.lightsail#ContactProtocolsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The contact protocols for the alarm, such as <code>Email</code>, <code>SMS</code> (text\n      messaging), or both.</p>"
                    }
                },
                "notificationTriggers": {
                    "target": "com.amazonaws.lightsail#NotificationTriggerList",
                    "traits": {
                        "smithy.api#documentation": "<p>The alarm states that trigger a notification.</p>"
                    }
                },
                "notificationEnabled": {
                    "target": "com.amazonaws.lightsail#boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the alarm is enabled.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an alarm.</p>\n         <p>An alarm is a way to monitor your Lightsail resource metrics. For more information, see\n        <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-alarms\">Alarms in Amazon Lightsail</a>.</p>"
            }
        },
        "com.amazonaws.lightsail#AlarmState": {
            "type": "enum",
            "members": {
                "OK": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OK"
                    }
                },
                "ALARM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALARM"
                    }
                },
                "INSUFFICIENT_DATA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INSUFFICIENT_DATA"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AlarmsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lightsail#Alarm"
            }
        },
        "com.amazonaws.lightsail#AllocateStaticIp": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lightsail#AllocateStaticIpRequest"
            },
            "output": {
                "target": "com.amazonaws.lightsail#AllocateStaticIpResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lightsail#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
                },
                {
                    "target": "com.amazonaws.lightsail#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.lightsail#NotFoundException"
                },
                {
                    "target": "com.amazonaws.lightsail#OperationFailureException"
                },
                {
                    "target": "com.amazonaws.lightsail#ServiceException"
                },
                {
                    "target": "com.amazonaws.lightsail#UnauthenticatedException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Allocates a static IP address.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/ls/api/2016-11-28/AllocateStaticIp",
                    "code": 200
                }
            }
        },
        "com.amazonaws.lightsail#AllocateStaticIpRequest": {
            "type": "structure",
            "members": {
                "staticIpName": {
                    "target": "com.amazonaws.lightsail#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the static IP address.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AllocateStaticIpResult": {
            "type": "structure",
            "members": {
                "operations": {
                    "target": "com.amazonaws.lightsail#OperationList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that describe the result of the action, such as the status of the\n      request, the timestamp of the request, and the resources affected by the request.</p>"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AttachCertificateToDistribution": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lightsail#AttachCertificateToDistributionRequest"
            },
            "output": {
                "target": "com.amazonaws.lightsail#AttachCertificateToDistributionResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lightsail#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lightsail#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.lightsail#NotFoundException"
                },
                {
                    "target": "com.amazonaws.lightsail#OperationFailureException"
                },
                {
                    "target": "com.amazonaws.lightsail#ServiceException"
                },
                {
                    "target": "com.amazonaws.lightsail#UnauthenticatedException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Attaches an SSL/TLS certificate to your Amazon Lightsail content delivery network (CDN)\n      distribution.</p>\n         <p>After the certificate is attached, your distribution accepts HTTPS traffic for all of the\n      domains that are associated with the certificate.</p>\n         <p>Use the <code>CreateCertificate</code> action to create a certificate that you can attach\n      to your distribution.</p>\n         <important>\n            <p>Only certificates created in the <code>us-east-1</code>\n        Amazon Web Services Region can be attached to Lightsail distributions. Lightsail\n        distributions are global resources that can reference an origin in any Amazon Web Services\n        Region, and distribute its content globally. However, all distributions are located in the\n          <code>us-east-1</code> Region.</p>\n         </important>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/ls/api/2016-11-28/AttachCertificateToDistribution",
                    "code": 200
                }
            }
        },
        "com.amazonaws.lightsail#AttachCertificateToDistributionRequest": {
            "type": "structure",
            "members": {
                "distributionName": {
                    "target": "com.amazonaws.lightsail#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the distribution that the certificate will be attached to.</p>\n         <p>Use the <code>GetDistributions</code> action to get a list of distribution names that you\n      can specify.</p>",
                        "smithy.api#required": {}
                    }
                },
                "certificateName": {
                    "target": "com.amazonaws.lightsail#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the certificate to attach to a distribution.</p>\n         <p>Only certificates with a status of <code>ISSUED</code> can be attached to a\n      distribution.</p>\n         <p>Use the <code>GetCertificates</code> action to get a list of certificate names that you\n      can specify.</p>\n         <note>\n            <p>This is the name of the certificate resource type and is used only to reference the\n        certificate in other API actions. It can be different than the domain name of the\n        certificate. For example, your certificate name might be\n          <code>WordPress-Blog-Certificate</code> and the domain name of the certificate might be\n          <code>example.com</code>.</p>\n         </note>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AttachCertificateToDistributionResult": {
            "type": "structure",
            "members": {
                "operation": {
                    "target": "com.amazonaws.lightsail#Operation",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that describes the result of the action, such as the status of the request, the\n      timestamp of the request, and the resources affected by the request.</p>"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AttachDisk": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lightsail#AttachDiskRequest"
            },
            "output": {
                "target": "com.amazonaws.lightsail#AttachDiskResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lightsail#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
                },
                {
                    "target": "com.amazonaws.lightsail#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.lightsail#NotFoundException"
                },
                {
                    "target": "com.amazonaws.lightsail#OperationFailureException"
                },
                {
                    "target": "com.amazonaws.lightsail#ServiceException"
                },
                {
                    "target": "com.amazonaws.lightsail#UnauthenticatedException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Attaches a block storage disk to a running or stopped Lightsail instance and exposes it\n      to the instance with the specified disk name.</p>\n         <p>The <code>attach disk</code> operation supports tag-based access control via resource tags\n      applied to the resource identified by <code>disk name</code>. For more information, see the\n        <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-controlling-access-using-tags\">Amazon Lightsail Developer Guide</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/ls/api/2016-11-28/AttachDisk",
                    "code": 200
                }
            }
        },
        "com.amazonaws.lightsail#AttachDiskRequest": {
            "type": "structure",
            "members": {
                "diskName": {
                    "target": "com.amazonaws.lightsail#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique Lightsail disk name (e.g., <code>my-disk</code>).</p>",
                        "smithy.api#required": {}
                    }
                },
                "instanceName": {
                    "target": "com.amazonaws.lightsail#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Lightsail instance where you want to utilize the storage disk.</p>",
                        "smithy.api#required": {}
                    }
                },
                "diskPath": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The disk path to expose to the instance (e.g., <code>/dev/xvdf</code>).</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AttachDiskResult": {
            "type": "structure",
            "members": {
                "operations": {
                    "target": "com.amazonaws.lightsail#OperationList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that describe the result of the action, such as the status of the\n      request, the timestamp of the request, and the resources affected by the request.</p>"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AttachInstancesToLoadBalancer": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lightsail#AttachInstancesToLoadBalancerRequest"
            },
            "output": {
                "target": "com.amazonaws.lightsail#AttachInstancesToLoadBalancerResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lightsail#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
                },
                {
                    "target": "com.amazonaws.lightsail#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.lightsail#NotFoundException"
                },
                {
                    "target": "com.amazonaws.lightsail#OperationFailureException"
                },
                {
                    "target": "com.amazonaws.lightsail#ServiceException"
                },
                {
                    "target": "com.amazonaws.lightsail#UnauthenticatedException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Attaches one or more Lightsail instances to a load balancer.</p>\n         <p>After some time, the instances are attached to the load balancer and the health check\n      status is available.</p>\n         <p>The <code>attach instances to load balancer</code> operation supports tag-based access\n      control via resource tags applied to the resource identified by <code>load balancer\n        name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Developer Guide</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/ls/api/2016-11-28/AttachInstancesToLoadBalancer",
                    "code": 200
                }
            }
        },
        "com.amazonaws.lightsail#AttachInstancesToLoadBalancerRequest": {
            "type": "structure",
            "members": {
                "loadBalancerName": {
                    "target": "com.amazonaws.lightsail#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the load balancer.</p>",
                        "smithy.api#required": {}
                    }
                },
                "instanceNames": {
                    "target": "com.amazonaws.lightsail#ResourceNameList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of strings representing the instance name(s) you want to attach to your load\n      balancer.</p>\n         <p>An instance must be <code>running</code> before you can attach it to your load\n      balancer.</p>\n         <p>There are no additional limits on the number of instances you can attach to your load\n      balancer, aside from the limit of Lightsail instances you can create in your account\n      (20).</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AttachInstancesToLoadBalancerResult": {
            "type": "structure",
            "members": {
                "operations": {
                    "target": "com.amazonaws.lightsail#OperationList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that describe the result of the action, such as the status of the\n      request, the timestamp of the request, and the resources affected by the request.</p>"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AttachLoadBalancerTlsCertificate": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lightsail#AttachLoadBalancerTlsCertificateRequest"
            },
            "output": {
                "target": "com.amazonaws.lightsail#AttachLoadBalancerTlsCertificateResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lightsail#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
                },
                {
                    "target": "com.amazonaws.lightsail#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.lightsail#NotFoundException"
                },
                {
                    "target": "com.amazonaws.lightsail#OperationFailureException"
                },
                {
                    "target": "com.amazonaws.lightsail#ServiceException"
                },
                {
                    "target": "com.amazonaws.lightsail#UnauthenticatedException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Attaches a Transport Layer Security (TLS) certificate to your load balancer. TLS is just\n      an updated, more secure version of Secure Socket Layer (SSL).</p>\n         <p>Once you create and validate your certificate, you can attach it to your load balancer.\n      You can also use this API to rotate the certificates on your account. Use the\n        <code>AttachLoadBalancerTlsCertificate</code> action with the non-attached certificate, and\n      it will replace the existing one and become the attached certificate.</p>\n         <p>The <code>AttachLoadBalancerTlsCertificate</code> operation supports tag-based access\n      control via resource tags applied to the resource identified by <code>load balancer\n        name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-controlling-access-using-tags\">Amazon Lightsail Developer Guide</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/ls/api/2016-11-28/AttachLoadBalancerTlsCertificate",
                    "code": 200
                }
            }
        },
        "com.amazonaws.lightsail#AttachLoadBalancerTlsCertificateRequest": {
            "type": "structure",
            "members": {
                "loadBalancerName": {
                    "target": "com.amazonaws.lightsail#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the load balancer to which you want to associate the SSL/TLS\n      certificate.</p>",
                        "smithy.api#required": {}
                    }
                },
                "certificateName": {
                    "target": "com.amazonaws.lightsail#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of your SSL/TLS certificate.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AttachLoadBalancerTlsCertificateResult": {
            "type": "structure",
            "members": {
                "operations": {
                    "target": "com.amazonaws.lightsail#OperationList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that describe the result of the action, such as the status of the\n      request, the timestamp of the request, and the resources affected by the request.</p>\n         <p>These SSL/TLS certificates are only usable by Lightsail load balancers. You can't get\n      the certificate and use it for another purpose.</p>"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AttachStaticIp": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.lightsail#AttachStaticIpRequest"
            },
            "output": {
                "target": "com.amazonaws.lightsail#AttachStaticIpResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.lightsail#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
                },
                {
                    "target": "com.amazonaws.lightsail#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.lightsail#NotFoundException"
                },
                {
                    "target": "com.amazonaws.lightsail#OperationFailureException"
                },
                {
                    "target": "com.amazonaws.lightsail#ServiceException"
                },
                {
                    "target": "com.amazonaws.lightsail#UnauthenticatedException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Attaches a static IP address to a specific Amazon Lightsail instance.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/ls/api/2016-11-28/AttachStaticIp",
                    "code": 200
                }
            }
        },
        "com.amazonaws.lightsail#AttachStaticIpRequest": {
            "type": "structure",
            "members": {
                "staticIpName": {
                    "target": "com.amazonaws.lightsail#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the static IP.</p>",
                        "smithy.api#required": {}
                    }
                },
                "instanceName": {
                    "target": "com.amazonaws.lightsail#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The instance name to which you want to attach the static IP address.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AttachStaticIpResult": {
            "type": "structure",
            "members": {
                "operations": {
                    "target": "com.amazonaws.lightsail#OperationList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that describe the result of the action, such as the status of the\n      request, the timestamp of the request, and the resources affected by the request.</p>"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AttachedDisk": {
            "type": "structure",
            "members": {
                "path": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>The path of the disk (e.g., <code>/dev/xvdf</code>).</p>"
                    }
                },
                "sizeInGb": {
                    "target": "com.amazonaws.lightsail#integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The size of the disk in GB.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a block storage disk that is attached to an instance, and is included in an\n      automatic snapshot.</p>"
            }
        },
        "com.amazonaws.lightsail#AttachedDiskList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lightsail#AttachedDisk"
            }
        },
        "com.amazonaws.lightsail#AttachedDiskMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.lightsail#ResourceName"
            },
            "value": {
                "target": "com.amazonaws.lightsail#DiskMapList"
            }
        },
        "com.amazonaws.lightsail#AutoSnapshotAddOnRequest": {
            "type": "structure",
            "members": {
                "snapshotTimeOfDay": {
                    "target": "com.amazonaws.lightsail#TimeOfDay",
                    "traits": {
                        "smithy.api#documentation": "<p>The daily time when an automatic snapshot will be created.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must be in <code>HH:00</code> format, and in an hourly increment.</p>\n            </li>\n            <li>\n               <p>Specified in Coordinated Universal Time (UTC).</p>\n            </li>\n            <li>\n               <p>The snapshot will be automatically created between the time specified and up to 45\n          minutes after.</p>\n            </li>\n         </ul>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a request to enable or modify the automatic snapshot add-on for an\n      Amazon Lightsail instance or disk.</p>\n         <p>When you modify the automatic snapshot time for a resource, it is typically effective\n      immediately except under the following conditions:</p>\n         <ul>\n            <li>\n               <p>If an automatic snapshot has been created for the current day, and you change the\n          snapshot time to a later time of day, then the new snapshot time will be effective the\n          following day. This ensures that two snapshots are not created for the current day.</p>\n            </li>\n            <li>\n               <p>If an automatic snapshot has not yet been created for the current day, and you change\n          the snapshot time to an earlier time of day, then the new snapshot time will be effective\n          the following day and a snapshot is automatically created at the previously set time for\n          the current day. This ensures that a snapshot is created for the current day.</p>\n            </li>\n            <li>\n               <p>If an automatic snapshot has not yet been created for the current day, and you change\n          the snapshot time to a time that is within 30 minutes from your current time, then the new\n          snapshot time will be effective the following day and a snapshot is automatically created\n          at the previously set time for the current day. This ensures that a snapshot is created\n          for the current day, because 30 minutes is required between your current time and the new\n          snapshot time that you specify.</p>\n            </li>\n            <li>\n               <p>If an automatic snapshot is scheduled to be created within 30 minutes from your\n          current time and you change the snapshot time, then the new snapshot time will be\n          effective the following day and a snapshot is automatically created at the previously set\n          time for the current day. This ensures that a snapshot is created for the current day,\n          because 30 minutes is required between your current time and the new snapshot time that\n          you specify.</p>\n            </li>\n         </ul>"
            }
        },
        "com.amazonaws.lightsail#AutoSnapshotDate": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            }
        },
        "com.amazonaws.lightsail#AutoSnapshotDetails": {
            "type": "structure",
            "members": {
                "date": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>The date of the automatic snapshot in <code>YYYY-MM-DD</code> format.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.lightsail#IsoDate",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the automatic snapshot was created.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.lightsail#AutoSnapshotStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the automatic snapshot.</p>"
                    }
                },
                "fromAttachedDisks": {
                    "target": "com.amazonaws.lightsail#AttachedDiskList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that describe the block storage disks attached to the instance when\n      the automatic snapshot was created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an automatic snapshot.</p>"
            }
        },
        "com.amazonaws.lightsail#AutoSnapshotDetailsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lightsail#AutoSnapshotDetails"
            }
        },
        "com.amazonaws.lightsail#AutoSnapshotStatus": {
            "type": "enum",
            "members": {
                "SUCCESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Success"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Failed"
                    }
                },
                "IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "InProgress"
                    }
                },
                "NOT_FOUND": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NotFound"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#AvailabilityZone": {
            "type": "structure",
            "members": {
                "zoneName": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Availability Zone. The format is <code>us-east-2a</code>\n      (case-sensitive).</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The state of the Availability Zone.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an Availability Zone.</p>"
            }
        },
        "com.amazonaws.lightsail#AvailabilityZoneList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lightsail#AvailabilityZone"
            }
        },
        "com.amazonaws.lightsail#BPAStatusMessage": {
            "type": "enum",
            "members": {
                "DEFAULTED_FOR_SLR_MISSING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DEFAULTED_FOR_SLR_MISSING"
                    }
                },
                "SYNC_ON_HOLD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SYNC_ON_HOLD"
                    }
                },
                "DEFAULTED_FOR_SLR_MISSING_ON_HOLD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DEFAULTED_FOR_SLR_MISSING_ON_HOLD"
                    }
                },
                "Unknown": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Unknown"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#Base64": {
            "type": "string"
        },
        "com.amazonaws.lightsail#BehaviorEnum": {
            "type": "enum",
            "members": {
                "DontCacheSetting": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "dont-cache"
                    }
                },
                "CacheSetting": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cache"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#Blueprint": {
            "type": "structure",
            "members": {
                "blueprintId": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID for the virtual private server image (e.g., <code>app_wordpress_4_4</code> or\n        <code>app_lamp_7_0</code>).</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.lightsail#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The friendly name of the blueprint (e.g., <code>Amazon Linux</code>).</p>"
                    }
                },
                "group": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The group name of the blueprint (e.g., <code>amazon-linux</code>).</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.lightsail#BlueprintType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the blueprint (e.g., <code>os</code> or <code>app</code>).</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the blueprint.</p>"
                    }
                },
                "isActive": {
                    "target": "com.amazonaws.lightsail#boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>A Boolean value indicating whether the blueprint is active. Inactive blueprints are listed\n      to support customers with existing instances but are not necessarily available for launch of\n      new instances. Blueprints are marked inactive when they become outdated due to operating\n      system updates or new application releases.</p>"
                    }
                },
                "minPower": {
                    "target": "com.amazonaws.lightsail#integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The minimum bundle power required to run this blueprint. For example, you need a bundle\n      with a power value of 500 or more to create an instance that uses a blueprint with a minimum\n      power value of 500. <code>0</code> indicates that the blueprint runs on all instance sizes.\n    </p>"
                    }
                },
                "version": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>The version number of the operating system, application, or stack (e.g.,\n        <code>2016.03.0</code>).</p>"
                    }
                },
                "versionCode": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>The version code.</p>"
                    }
                },
                "productUrl": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>The product URL to learn more about the image or blueprint.</p>"
                    }
                },
                "licenseUrl": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>The end-user license agreement URL for the image or blueprint.</p>"
                    }
                },
                "platform": {
                    "target": "com.amazonaws.lightsail#InstancePlatform",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system platform (either Linux/Unix-based or Windows Server-based) of the\n      blueprint.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a blueprint (a virtual private server image).</p>"
            }
        },
        "com.amazonaws.lightsail#BlueprintList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lightsail#Blueprint"
            }
        },
        "com.amazonaws.lightsail#BlueprintType": {
            "type": "enum",
            "members": {
                "os": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "os"
                    }
                },
                "app": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "app"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#Bucket": {
            "type": "structure",
            "members": {
                "resourceType": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The Lightsail resource type of the bucket (for example, <code>Bucket</code>).</p>"
                    }
                },
                "accessRules": {
                    "target": "com.amazonaws.lightsail#AccessRules",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that describes the access rules of the bucket.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the bucket.</p>"
                    }
                },
                "bundleId": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the bundle currently applied to the bucket.</p>\n         <p>A bucket bundle specifies the monthly cost, storage space, and data transfer quota for a\n      bucket.</p>\n         <p>Use the <a href=\"https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/API_UpdateBucketBundle.html\">UpdateBucketBundle</a> action to change the\n      bundle of a bucket.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.lightsail#IsoDate",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the distribution was created.</p>"
                    }
                },
                "url": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL of the bucket.</p>"
                    }
                },
                "location": {
                    "target": "com.amazonaws.lightsail#ResourceLocation",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that describes the location of the bucket, such as the Amazon Web Services Region\n      and Availability Zone.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.lightsail#BucketName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the bucket.</p>"
                    }
                },
                "supportCode": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The support code for a bucket. Include this code in your email to support when you have\n      questions about a Lightsail bucket. This code enables our support team to look up your\n      Lightsail information more easily.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.lightsail#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tag keys and optional values for the bucket. For more information, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-tags\">Tags in\n        Amazon Lightsail</a> in the <i>Amazon Lightsail Developer Guide</i>.</p>"
                    }
                },
                "objectVersioning": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether object versioning is enabled for the bucket.</p>\n         <p>The following options can be configured:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Enabled</code> - Object versioning is enabled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Suspended</code> - Object versioning was previously enabled but is currently\n          suspended. Existing object versions are retained.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NeverEnabled</code> - Object versioning has never been enabled.</p>\n            </li>\n         </ul>"
                    }
                },
                "ableToUpdateBundle": {
                    "target": "com.amazonaws.lightsail#boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the bundle that is currently applied to a bucket can be changed to\n      another bundle.</p>\n         <p>You can update a bucket's bundle only one time within a monthly Amazon Web Services billing\n      cycle.</p>\n         <p>Use the <a href=\"https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/API_UpdateBucketBundle.html\">UpdateBucketBundle</a> action to change a\n      bucket's bundle.</p>"
                    }
                },
                "readonlyAccessAccounts": {
                    "target": "com.amazonaws.lightsail#PartnerIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of strings that specify the Amazon Web Services account IDs that have read-only\n      access to the bucket.</p>"
                    }
                },
                "resourcesReceivingAccess": {
                    "target": "com.amazonaws.lightsail#AccessReceiverList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that describe Lightsail instances that have access to the\n      bucket.</p>\n         <p>Use the <a href=\"https://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/API_SetResourceAccessForBucket.html\">SetResourceAccessForBucket</a>\n      action to update the instances that have access to a bucket.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.lightsail#BucketState",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that describes the state of the bucket.</p>"
                    }
                },
                "accessLogConfig": {
                    "target": "com.amazonaws.lightsail#BucketAccessLogConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that describes the access log configuration for the bucket.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an Amazon Lightsail bucket.</p>"
            }
        },
        "com.amazonaws.lightsail#BucketAccessLogConfig": {
            "type": "structure",
            "members": {
                "enabled": {
                    "target": "com.amazonaws.lightsail#boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>A Boolean value that indicates whether bucket access logging is enabled for the\n      bucket.</p>",
                        "smithy.api#required": {}
                    }
                },
                "destination": {
                    "target": "com.amazonaws.lightsail#BucketName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the bucket where the access logs are saved. The destination can be a\n      Lightsail bucket in the same account, and in the same Amazon Web Services Region as the\n      source bucket.</p>\n         <note>\n            <p>This parameter is required when enabling the access log for a bucket, and should be\n        omitted when disabling the access log.</p>\n         </note>"
                    }
                },
                "prefix": {
                    "target": "com.amazonaws.lightsail#BucketAccessLogPrefix",
                    "traits": {
                        "smithy.api#documentation": "<p>The optional object prefix for the bucket access log.</p>\n         <p>The prefix is an optional addition to the object key that organizes your access log files\n      in the destination bucket. For example, if you specify a <code>logs/</code> prefix, then each\n      log object will begin with the <code>logs/</code> prefix in its key (for example,\n        <code>logs/2021-11-01-21-32-16-E568B2907131C0C0</code>).</p>\n         <note>\n            <p>This parameter can be optionally specified when enabling the access log for a bucket,\n        and should be omitted when disabling the access log.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the access log configuration for a bucket in the Amazon Lightsail object storage\n      service.</p>\n         <p>For more information about bucket access logs, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-bucket-access-logs\">Logging bucket requests using access logging in Amazon Lightsail</a> in the\n        <i>Amazon Lightsail Developer Guide</i>.</p>"
            }
        },
        "com.amazonaws.lightsail#BucketAccessLogPrefix": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                },
                "smithy.api#pattern": "^[\\w/!.*')(-]+$"
            }
        },
        "com.amazonaws.lightsail#BucketBundle": {
            "type": "structure",
            "members": {
                "bundleId": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the bundle.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the bundle.</p>"
                    }
                },
                "price": {
                    "target": "com.amazonaws.lightsail#float",
                    "traits": {
                        "smithy.api#documentation": "<p>The monthly price of the bundle, in US dollars.</p>"
                    }
                },
                "storagePerMonthInGb": {
                    "target": "com.amazonaws.lightsail#integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The storage size of the bundle, in GB.</p>"
                    }
                },
                "transferPerMonthInGb": {
                    "target": "com.amazonaws.lightsail#integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The monthly network transfer quota of the bundle.</p>"
                    }
                },
                "isActive": {
                    "target": "com.amazonaws.lightsail#boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the bundle is active. Use for a new or existing bucket.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the specifications of a bundle that can be applied to an Amazon Lightsail\n      bucket.</p>\n         <p>A bucket bundle specifies the monthly cost, storage space, and data transfer quota for a\n      bucket.</p>"
            }
        },
        "com.amazonaws.lightsail#BucketBundleList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lightsail#BucketBundle"
            }
        },
        "com.amazonaws.lightsail#BucketList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lightsail#Bucket"
            }
        },
        "com.amazonaws.lightsail#BucketMetricName": {
            "type": "enum",
            "members": {
                "BucketSizeBytes": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BucketSizeBytes"
                    }
                },
                "NumberOfObjects": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NumberOfObjects"
                    }
                }
            }
        },
        "com.amazonaws.lightsail#BucketName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 3,
                    "max": 54
                },
                "smithy.api#pattern": "^[a-z0-9][a-z0-9-]{1,52}[a-z0-9]$"
            }
        },
        "com.amazonaws.lightsail#BucketState": {
            "type": "structure",
            "members": {
                "code": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The state code of the bucket.</p>\n         <p>The following codes are possible:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>OK</code> - The bucket is in a running state.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Unknown</code> - Creation of the bucket might have timed-out. You might want to\n          delete the bucket and create a new one.</p>\n            </li>\n         </ul>"
                    }
                },
                "message": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>A message that describes the state of the bucket.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the state of an Amazon Lightsail bucket.</p>"
            }
        },
        "com.amazonaws.lightsail#Bundle": {
            "type": "structure",
            "members": {
                "price": {
                    "target": "com.amazonaws.lightsail#float",
                    "traits": {
                        "smithy.api#documentation": "<p>The price in US dollars (e.g., <code>5.0</code>) of the bundle.</p>"
                    }
                },
                "cpuCount": {
                    "target": "com.amazonaws.lightsail#integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of vCPUs included in the bundle (e.g., <code>2</code>).</p>"
                    }
                },
                "diskSizeInGb": {
                    "target": "com.amazonaws.lightsail#integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The size of the SSD (e.g., <code>30</code>).</p>"
                    }
                },
                "bundleId": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The bundle ID (e.g., <code>micro_1_0</code>).</p>"
                    }
                },
                "instanceType": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon EC2 instance type (e.g., <code>t2.micro</code>).</p>"
                    }
                },
                "isActive": {
                    "target": "com.amazonaws.lightsail#boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>A Boolean value indicating whether the bundle is active.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>A friendly name for the bundle (e.g., <code>Micro</code>).</p>"
                    }
                },
                "power": {
                    "target": "com.amazonaws.lightsail#integer",
                    "traits": {
                        "smithy.api#documentation": "<p>A numeric value that represents the power of the bundle (e.g., <code>500</code>). You can\n      use the bundle's power value in conjunction with a blueprint's minimum power value to\n      determine whether the blueprint will run on the bundle. For example, you need a bundle with a\n      power value of 500 or more to create an instance that uses a blueprint with a minimum power\n      value of 500.</p>"
                    }
                },
                "ramSizeInGb": {
                    "target": "com.amazonaws.lightsail#float",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of RAM in GB (e.g., <code>2.0</code>).</p>"
                    }
                },
                "transferPerMonthInGb": {
                    "target": "com.amazonaws.lightsail#integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The data transfer rate per month in GB (e.g., <code>2000</code>).</p>"
                    }
                },
                "supportedPlatforms": {
                    "target": "com.amazonaws.lightsail#InstancePlatformList",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system platform (Linux/Unix-based or Windows Server-based) that the bundle\n      supports. You can only launch a <code>WINDOWS</code> bundle on a blueprint that supports the\n        <code>WINDOWS</code> platform. <code>LINUX_UNIX</code> blueprints require a\n        <code>LINUX_UNIX</code> bundle.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a bundle, which is a set of specs describing your virtual private server (or\n        <i>instance</i>).</p>"
            }
        },
        "com.amazonaws.lightsail#BundleList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lightsail#Bundle"
            }
        },
        "com.amazonaws.lightsail#CacheBehavior": {
            "type": "structure",
            "members": {
                "behavior": {
                    "target": "com.amazonaws.lightsail#BehaviorEnum",
                    "traits": {
                        "smithy.api#documentation": "<p>The cache behavior of the distribution.</p>\n         <p>The following cache behaviors can be specified:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>\n                     <code>cache</code>\n                  </b> - This option is best for static\n          sites. When specified, your distribution caches and serves your entire website as static\n          content. This behavior is ideal for websites with static content that doesn't change\n          depending on who views it, or for websites that don't use cookies, headers, or query\n          strings to personalize content.</p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>dont-cache</code>\n                  </b> - This option is best for\n          sites that serve a mix of static and dynamic content. When specified, your distribution\n          caches and serve only the content that is specified in the distribution's\n            <code>CacheBehaviorPerPath</code> parameter. This behavior is ideal for websites or web\n          applications that use cookies, headers, and query strings to personalize content for\n          individual users.</p>\n            </li>\n         </ul>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the default cache behavior of an Amazon Lightsail content delivery network (CDN)\n      distribution.</p>"
            }
        },
        "com.amazonaws.lightsail#CacheBehaviorList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.lightsail#CacheBehaviorPerPath"
            }
        },
        "com.amazonaws.lightsail#CacheBehaviorPerPath": {
            "type": "structure",
            "members": {
                "path": {
                    "target": "com.amazonaws.lightsail#string",
                    "traits": {
                        "smithy.api#documentation": "<p>The path to a directory or file to cached, or not cache. Use an asterisk symbol to specify\n      wildcard directories (<code>path/to/assets/*</code>), and file types (<code>*.html, *jpg,\n        *js</code>). Directories and file paths are case-sensitive.</p>\n         <p>Examples:</p>\n         <ul>\n            <li>\n               <p>Specify the following to cache all files in the document root of an Apache web server\n          running on a Lightsail instance.</p>\n               <p>\n                  <code>var/www/html/</code>\n               </p>\n            </li>\n            <li>\n               <p>Specify the following file to cache only the index page in the document root of an\n          Apache web server.</p>\n               <p>\n                  <code>var/www/html/index.html</code>\n               </p>\n            </li>\n            <li>\n               <p>Specify the following to cache only the .html files in the document root of an Apache\n          web server.</p>\n               <p>\n                  <code>var/www/html/*.html</code>\n               </p>\n            </li>\n            <li>\n               <p>Specify the following to cache only the .jpg, .png, and .gif files in the images\n          sub-directory of the document root of an Apache web server.</p>\n               <p>\n                  <code>var/www/html/images/*.jpg</code>\n               </p>\n               <p>\n                  <code>var/www/html/images/*.png</code>\n               </p>\n               <p>\n                  <code>var/www/html/images/*.gif</code>\n               </p>\n               <p>Specify the following to cache all files in the images sub-directory of the document\n          root of an Apache web server.</p>\n               <p>\n                  <code>var/www/html/images/</code>\n               </p>\n            </li>\n         </ul>"
                    }
                },
                "behavior": {
                    "target": "com.amazonaws.lightsail#BehaviorEnum",
                    "traits": {
                        "smithy.api#documentation": "<p>The cache behavior for the specified path.</p>\n         <p>You can specify one of the following per-path cache behaviors:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>\n                     <code>cache</code>\n                  </b> - This behavior caches the\n          specified path. </p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>dont-cache</code>\n                  </b> - This behavior doesn't cache\n          the specified path. </p>\n            </li>\n         </ul>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the per-path cache behavior of an Amazon Lightsail content delivery network (CDN)\n      distribution.</p>\n         <p>A per-path cache behavior is used to override, or add an exception to, the default cache\n      behavior of a distribution. For example, if the <code>cacheBehavior</code> is set to\n        <code>cache</code>, then a per-path cache behavior can be used to specify a directory, file,\n      or file type that your distribution will cache. Alternately, if the distribution's\n        <code>cacheBehavior</code> is <code>dont-cache</code>, then a per-path cache behavior can be\n      used to specify a directory, file, or file type that your distribution will not cache.</p>"
            }
        },
        "com.amazonaws.lightsail#CacheSettings": {
            "type": "structure",
            "members": {
                "defaultTTL": {
                    "target": "com.amazonaws.lightsail#long",
                    "traits": {
                        "smithy.api#documentation": "<p>The default amount of time that objects stay in the distribution's cache before the\n      distribution forwards another request to the origin to determine whether the content has been\n      updated.</p>\n         <note>\n            <p>The value specified applies only when the origin does not add HTTP headers such as\n          <code>Cache-Control max-age</code>, <code>Cache-Control s-maxage</code>, and\n          <code>Expires</code> to objects.</p>\n         </note>"
                    }
                },
                "minimumTTL": {
                    "target": "com.amazonaws.lightsail#long",
                    "traits": {
                        "smithy.api#documentation": "<p>The minimum amount of time that objects stay in the distribution's cache before the\n      distribution forwards another request to the origin to determine whether the object has been\n      updated.</p>\n         <p>A value of <code>0</code> must be specified for <code>minimumTTL</code> if the\n      distribution is configured to forward all headers to the origin.</p>"
                    }
                },
                "maximumTTL": {
                    "target": "com.amazonaws.lightsail#long",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum amount of time that objects stay in the distribution's cache before the\n      distribution forwards another request to the origin to determine whether the object has been\n      updated.</p>\n         <p>The value specified applies only when the origin adds HTTP headers such as\n        <code>Cache-Control max-age</code>, <code>Cache-Control s-maxage</code>, and\n        <code>Expires</code> to objects.</p>"
                    }
                },
                "allowedHTTPMethods": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTP methods that are processed and forwarded to the distribution's origin.</p>\n         <p>You can specify the following options:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>GET,HEAD</code> - The distribution forwards the <code>GET</code> and\n            <code>HEAD</code> methods.</p>\n            </li>\n            <li>\n               <p>\n                  <code>GET,HEAD,OPTIONS</code> - The distribution forwards the <code>GET</code>,\n            <code>HEAD</code>, and <code>OPTIONS</code> methods.</p>\n            </li>\n            <li>\n               <p>\n                  <code>GET,HEAD,OPTIONS,PUT,PATCH,POST,DELETE</code> - The distribution forwards the\n            <code>GET</code>, <code>HEAD</code>, <code>OPTIONS</code>, <code>PUT</code>,\n            <code>PATCH</code>, <code>POST</code>, and <code>DELETE</code> methods.</p>\n            </li>\n         </ul>\n         <p>If you specify the third option, you might need to restrict access to your distribution's\n      origin so users can't perform operations that you don't want them to. For example, you might\n      not want users to have permission to delete objects from your origin.</p>"
                    }
                },
                "cachedHTTPMethods": {
                    "target": "com.amazonaws.lightsail#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTP method responses that are cached by your distribution.</p>\n         <p>You can specify the following options:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>GET,HEAD</code> - The distribution caches responses to the <code>GET</code> and\n            <code>HEAD</code> methods.</p>\n            </li>\n            <li>\n               <p>\n                  <code>GET,HEAD,OPTIONS</code> - The distribution caches responses to the\n            <code>GET</code>, <code>HEAD</code>, and <code>OPTIONS</code> methods.</p>\n            </li>\n         </ul>"
                    }
                },
                "forwardedCookies": {
                    "target": "com.amazonaws.lightsail#CookieObject",
                    "traits": {
[...]
