{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.m2#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The account or role doesn't have the right permissions to make the request.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.m2#AlternateKey": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the alternate key.</p>"
                    }
                },
                "offset": {
                    "target": "com.amazonaws.m2#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>A positive integer value representing the offset to mark the start of the alternate key\n         part in the record byte array.</p>",
                        "smithy.api#required": {}
                    }
                },
                "length": {
                    "target": "com.amazonaws.m2#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>A strictly positive integer value representing the length of the alternate key.</p>",
                        "smithy.api#required": {}
                    }
                },
                "allowDuplicates": {
                    "target": "com.amazonaws.m2#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Indicates whether the alternate key values are supposed to be unique for the given data\n         set.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines an alternate key. This value is optional. A legacy data set might not have any\n         alternate key defined but if those alternate keys definitions exist, provide them, as some\n         applications will make use of them.</p>"
            }
        },
        "com.amazonaws.m2#AlternateKeyList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.m2#AlternateKey"
            }
        },
        "com.amazonaws.m2#Application": {
            "type": "resource",
            "identifiers": {
                "applicationId": {
                    "target": "com.amazonaws.m2#Identifier"
                }
            },
            "create": {
                "target": "com.amazonaws.m2#CreateApplication"
            },
            "read": {
                "target": "com.amazonaws.m2#GetApplication"
            },
            "update": {
                "target": "com.amazonaws.m2#UpdateApplication"
            },
            "delete": {
                "target": "com.amazonaws.m2#DeleteApplication"
            },
            "list": {
                "target": "com.amazonaws.m2#ListApplications"
            },
            "operations": [
                {
                    "target": "com.amazonaws.m2#CancelBatchJobExecution"
                },
                {
                    "target": "com.amazonaws.m2#CreateDataSetExportTask"
                },
                {
                    "target": "com.amazonaws.m2#CreateDataSetImportTask"
                },
                {
                    "target": "com.amazonaws.m2#CreateDeployment"
                },
                {
                    "target": "com.amazonaws.m2#DeleteApplicationFromEnvironment"
                },
                {
                    "target": "com.amazonaws.m2#GetApplicationVersion"
                },
                {
                    "target": "com.amazonaws.m2#GetBatchJobExecution"
                },
                {
                    "target": "com.amazonaws.m2#GetDataSetDetails"
                },
                {
                    "target": "com.amazonaws.m2#GetDataSetExportTask"
                },
                {
                    "target": "com.amazonaws.m2#GetDataSetImportTask"
                },
                {
                    "target": "com.amazonaws.m2#GetDeployment"
                },
                {
                    "target": "com.amazonaws.m2#ListApplicationVersions"
                },
                {
                    "target": "com.amazonaws.m2#ListBatchJobDefinitions"
                },
                {
                    "target": "com.amazonaws.m2#ListBatchJobExecutions"
                },
                {
                    "target": "com.amazonaws.m2#ListBatchJobRestartPoints"
                },
                {
                    "target": "com.amazonaws.m2#ListDataSetExportHistory"
                },
                {
                    "target": "com.amazonaws.m2#ListDataSetImportHistory"
                },
                {
                    "target": "com.amazonaws.m2#ListDataSets"
                },
                {
                    "target": "com.amazonaws.m2#ListDeployments"
                },
                {
                    "target": "com.amazonaws.m2#StartApplication"
                },
                {
                    "target": "com.amazonaws.m2#StartBatchJob"
                },
                {
                    "target": "com.amazonaws.m2#StopApplication"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "app/{applicationId}"
                },
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}"
                ],
                "aws.iam#disableConditionKeyInference": {}
            }
        },
        "com.amazonaws.m2#ApplicationDeploymentLifecycle": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "Deploying",
                        "name": "DEPLOYING"
                    },
                    {
                        "value": "Deployed",
                        "name": "DEPLOYED"
                    }
                ]
            }
        },
        "com.amazonaws.m2#ApplicationLifecycle": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "Creating",
                        "name": "CREATING"
                    },
                    {
                        "value": "Created",
                        "name": "CREATED"
                    },
                    {
                        "value": "Available",
                        "name": "AVAILABLE"
                    },
                    {
                        "value": "Ready",
                        "name": "READY"
                    },
                    {
                        "value": "Starting",
                        "name": "STARTING"
                    },
                    {
                        "value": "Running",
                        "name": "RUNNING"
                    },
                    {
                        "value": "Stopping",
                        "name": "STOPPING"
                    },
                    {
                        "value": "Stopped",
                        "name": "STOPPED"
                    },
                    {
                        "value": "Failed",
                        "name": "FAILED"
                    },
                    {
                        "value": "Deleting",
                        "name": "DELETING"
                    },
                    {
                        "value": "Deleting From Environment",
                        "name": "DELETING_FROM_ENVIRONMENT"
                    }
                ]
            }
        },
        "com.amazonaws.m2#ApplicationSummary": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.m2#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.m2#EntityDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the application.</p>"
                    }
                },
                "applicationId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "applicationArn": {
                    "target": "com.amazonaws.m2#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "applicationVersion": {
                    "target": "com.amazonaws.m2#Version",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.m2#ApplicationLifecycle",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "engineType": {
                    "target": "com.amazonaws.m2#EngineType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the target platform for this application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.m2#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the application was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "environmentId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the runtime environment that hosts this application.</p>"
                    }
                },
                "lastStartTime": {
                    "target": "com.amazonaws.m2#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when you last started the application. Null until the application runs for\n         the first time.</p>"
                    }
                },
                "versionStatus": {
                    "target": "com.amazonaws.m2#ApplicationVersionLifecycle",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates the status of the latest version of the application.</p>"
                    }
                },
                "deploymentStatus": {
                    "target": "com.amazonaws.m2#ApplicationDeploymentLifecycle",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates either an ongoing deployment or if the application has ever deployed\n         successfully.</p>"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.m2#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role associated with the application.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A subset of the possible application attributes. Used in the application list.</p>"
            }
        },
        "com.amazonaws.m2#ApplicationSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.m2#ApplicationSummary"
            }
        },
        "com.amazonaws.m2#ApplicationVersionLifecycle": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "Creating",
                        "name": "CREATING"
                    },
                    {
                        "value": "Available",
                        "name": "AVAILABLE"
                    },
                    {
                        "value": "Failed",
                        "name": "FAILED"
                    }
                ]
            }
        },
        "com.amazonaws.m2#ApplicationVersionSummary": {
            "type": "structure",
            "members": {
                "applicationVersion": {
                    "target": "com.amazonaws.m2#Version",
                    "traits": {
                        "smithy.api#documentation": "<p>The application version.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.m2#ApplicationVersionLifecycle",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the reported status.</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.m2#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the application version was created.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines an application version summary.</p>"
            }
        },
        "com.amazonaws.m2#ApplicationVersionSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.m2#ApplicationVersionSummary"
            }
        },
        "com.amazonaws.m2#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:(aws|aws-cn|aws-iso|aws-iso-[a-z]{1}|aws-us-gov):[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:([a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]|):[0-9]{12}:[A-Za-z0-9/][A-Za-z0-9:_/+=,@.-]{0,1023}$"
            }
        },
        "com.amazonaws.m2#ArnList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.m2#Arn"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.m2#AuthSecretsManagerArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.m2#AwsSupernovaControlPlaneService": {
            "type": "service",
            "version": "2021-04-28",
            "operations": [
                {
                    "target": "com.amazonaws.m2#GetSignedBluinsightsUrl"
                },
                {
                    "target": "com.amazonaws.m2#ListEngineVersions"
                },
                {
                    "target": "com.amazonaws.m2#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.m2#TagResource"
                },
                {
                    "target": "com.amazonaws.m2#UntagResource"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.m2#Application"
                },
                {
                    "target": "com.amazonaws.m2#Environment"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "m2",
                    "sdkServiceId": "M2",
                    "serviceName": "m2",
                    "arnNamespace": "m2",
                    "cloudFormationName": "M2",
                    "cloudTrailEventSource": "m2.amazonaws.com",
                    "endpointPrefix": "m2"
                },
                "aws.auth#sigv4": {
                    "name": "m2"
                },
                "aws.iam#defineConditionKeys": {
                    "aws:ResourceTag/${TagKey}": {
                        "type": "String",
                        "documentation": "Filters access by a tag key and value pair of a resource"
                    },
                    "aws:RequestTag/${TagKey}": {
                        "type": "String",
                        "documentation": "Filters access by a tag key and value pair that is allowed in the request"
                    },
                    "aws:TagKeys": {
                        "type": "String",
                        "documentation": "Filters access by a list of tag keys that are allowed in the request"
                    }
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "additionalAllowedHeaders": [
                        "*,authorization,date,x-amz-date,x-amz-security-token,x-amz-target,content-type,x-amz-content-sha256,x-amz-user-agent,x-amzn-platform-id,x-amzn-trace-id,amz-sdk-invocation-id,amz-sdk-request"
                    ]
                },
                "smithy.api#documentation": "<p>Amazon Web Services Mainframe Modernization provides tools and resources to help you plan and implement migration and\n         modernization from mainframes to Amazon Web Services managed runtime environments. It provides tools for\n         analyzing existing mainframe applications, developing or updating mainframe applications\n         using COBOL or PL/I, and implementing an automated pipeline for continuous integration and\n         continuous delivery (CI/CD) of the applications.</p>",
                "smithy.api#title": "AWSMainframeModernization",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://m2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://m2-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://m2.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://m2.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://m2.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.m2#BatchJobDefinition": {
            "type": "union",
            "members": {
                "fileBatchJobDefinition": {
                    "target": "com.amazonaws.m2#FileBatchJobDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies a file containing a batch job definition.</p>"
                    }
                },
                "scriptBatchJobDefinition": {
                    "target": "com.amazonaws.m2#ScriptBatchJobDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>A script containing a batch job definition.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines the details of a batch job.</p>"
            }
        },
        "com.amazonaws.m2#BatchJobDefinitions": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.m2#BatchJobDefinition"
            }
        },
        "com.amazonaws.m2#BatchJobExecutionStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "Submitting",
                        "name": "SUBMITTING"
                    },
                    {
                        "value": "Holding",
                        "name": "HOLDING"
                    },
                    {
                        "value": "Dispatching",
                        "name": "DISPATCH"
                    },
                    {
                        "value": "Running",
                        "name": "RUNNING"
                    },
                    {
                        "value": "Cancelling",
                        "name": "CANCELLING"
                    },
                    {
                        "value": "Cancelled",
                        "name": "CANCELLED"
                    },
                    {
                        "value": "Succeeded",
                        "name": "SUCCEEDED"
                    },
                    {
                        "value": "Failed",
                        "name": "FAILED"
                    },
                    {
                        "value": "Purged",
                        "name": "PURGED"
                    },
                    {
                        "value": "Succeeded With Warning",
                        "name": "SUCCEEDED_WITH_WARNING"
                    }
                ]
            }
        },
        "com.amazonaws.m2#BatchJobExecutionSummary": {
            "type": "structure",
            "members": {
                "executionId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of this execution of the batch job.</p>",
                        "smithy.api#required": {}
                    }
                },
                "applicationId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the application that hosts this batch job.</p>",
                        "smithy.api#required": {}
                    }
                },
                "jobId": {
                    "target": "com.amazonaws.m2#String100",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of a particular batch job.</p>"
                    }
                },
                "jobName": {
                    "target": "com.amazonaws.m2#String100",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of a particular batch job.</p>"
                    }
                },
                "jobType": {
                    "target": "com.amazonaws.m2#BatchJobType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of a particular batch job execution.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.m2#BatchJobExecutionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of a particular batch job execution.</p>",
                        "smithy.api#required": {}
                    }
                },
                "startTime": {
                    "target": "com.amazonaws.m2#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when a particular batch job execution started.</p>",
                        "smithy.api#required": {}
                    }
                },
                "endTime": {
                    "target": "com.amazonaws.m2#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when this batch job execution ended.</p>"
                    }
                },
                "returnCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The batch job return code from either the Blu Age or Micro Focus runtime engines. For more\n         information, see <a href=\"https://www.ibm.com/docs/en/was/8.5.5?topic=model-batch-return-codes\">Batch return\n            codes</a> in the <i>IBM WebSphere Application Server</i>\n         documentation.</p>"
                    }
                },
                "batchJobIdentifier": {
                    "target": "com.amazonaws.m2#BatchJobIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of this batch job.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A subset of the possible batch job attributes. Used in the batch job list.</p>"
            }
        },
        "com.amazonaws.m2#BatchJobExecutionSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.m2#BatchJobExecutionSummary"
            }
        },
        "com.amazonaws.m2#BatchJobIdentifier": {
            "type": "union",
            "members": {
                "fileBatchJobIdentifier": {
                    "target": "com.amazonaws.m2#FileBatchJobIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies a file associated with a specific batch job.</p>"
                    }
                },
                "scriptBatchJobIdentifier": {
                    "target": "com.amazonaws.m2#ScriptBatchJobIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>A batch job identifier in which the batch job to run is identified by the script\n         name.</p>"
                    }
                },
                "s3BatchJobIdentifier": {
                    "target": "com.amazonaws.m2#S3BatchJobIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies an Amazon S3 location that identifies the batch jobs that you want to run. Use this identifier to run ad hoc batch jobs.</p>"
                    }
                },
                "restartBatchJobIdentifier": {
                    "target": "com.amazonaws.m2#RestartBatchJobIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the required information for restart, including <code>executionId</code> and <code>JobStepRestartMarker</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Identifies a specific batch job.</p>"
            }
        },
        "com.amazonaws.m2#BatchJobParametersMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.m2#BatchParamKey"
            },
            "value": {
                "target": "com.amazonaws.m2#BatchParamValue"
            },
            "traits": {
                "smithy.api#documentation": "Job parameters are optional.\nCan contain up to 500 entries.",
                "smithy.api#length": {
                    "min": 0,
                    "max": 500
                }
            }
        },
        "com.amazonaws.m2#BatchJobStepList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.m2#JobStep"
            }
        },
        "com.amazonaws.m2#BatchJobType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "VSE",
                        "name": "VSE"
                    },
                    {
                        "value": "JES2",
                        "name": "JES2"
                    },
                    {
                        "value": "JES3",
                        "name": "JES3"
                    }
                ]
            }
        },
        "com.amazonaws.m2#BatchParamKey": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "See https://www.ibm.com/docs/en/workload-automation/9.3.0?topic=zos-coding-variables-in-jcl\nto get details about limits for both keys and values:\n8 for keys (variable names), 44 for values (variable values)\nIn addition, keys will be only alphabetic characters and digits, without any space\nor special characters (dash, underscore, etc ...)\n\nFor BluAge Engine:\nThere is no limit in length of keys and values.\nAdditional validation may be applied in code, per engine.\nParameter key: the first character must be alphabetic.\nCan be of up to 32 alphanumeric characters.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 32
                },
                "smithy.api#pattern": "^[A-Za-z][A-Za-z0-9]{1,31}$"
            }
        },
        "com.amazonaws.m2#BatchParamValue": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Parameter value can be of up to 1024 alphanumeric characters.",
                "smithy.api#length": {
                    "min": 0,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.m2#Boolean": {
            "type": "boolean",
            "traits": {
                "smithy.api#default": false
            }
        },
        "com.amazonaws.m2#CancelBatchJobExecution": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.m2#CancelBatchJobExecutionRequest"
            },
            "output": {
                "target": "com.amazonaws.m2#CancelBatchJobExecutionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.m2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.m2#ConflictException"
                },
                {
                    "target": "com.amazonaws.m2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.m2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.m2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.m2#ValidationException"
                }
            ],
            "traits": {
                "aws.api#controlPlane": {},
                "smithy.api#documentation": "<p>Cancels the running of a specific batch job execution.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/applications/{applicationId}/batch-job-executions/{executionId}/cancel",
                    "code": 200
                }
            }
        },
        "com.amazonaws.m2#CancelBatchJobExecutionRequest": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the application.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "executionId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the batch job execution.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "authSecretsManagerArn": {
                    "target": "com.amazonaws.m2#AuthSecretsManagerArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Secrets Manager containing user's credentials for authentication and authorization for Cancel Batch Job Execution operation.</p>"
                    }
                }
            }
        },
        "com.amazonaws.m2#CancelBatchJobExecutionResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.m2#CapacityValue": {
            "type": "integer"
        },
        "com.amazonaws.m2#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "A client token is a unique, case-sensitive string of up to 128 ASCII characters with ASCII values of 33-126 inclusive.\n        It is generated by the client to ensure idempotent operations, allowing safe retries without unintended side effects.",
                "smithy.api#length": {
                    "max": 128
                },
                "smithy.api#pattern": "^[!-~]+$"
            }
        },
        "com.amazonaws.m2#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "resourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the conflicting resource.</p>"
                    }
                },
                "resourceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the conflicting resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The parameters provided in the request conflict with existing resources.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.m2#CreateApplication": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.m2#CreateApplicationRequest"
            },
            "output": {
                "target": "com.amazonaws.m2#CreateApplicationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.m2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.m2#ConflictException"
                },
                {
                    "target": "com.amazonaws.m2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.m2#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.m2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.m2#ValidationException"
                }
            ],
            "traits": {
                "aws.api#controlPlane": {},
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "aws.iam#requiredActions": [
                    "s3:GetObject",
                    "s3:ListBucket"
                ],
                "smithy.api#documentation": "<p>Creates a new application with given parameters. Requires an existing runtime\n         environment and application definition file.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/applications",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.m2#CreateApplicationRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.m2#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.m2#EntityDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the application.</p>"
                    }
                },
                "engineType": {
                    "target": "com.amazonaws.m2#EngineType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the target platform for this application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "definition": {
                    "target": "com.amazonaws.m2#Definition",
                    "traits": {
                        "smithy.api#documentation": "<p>The application definition for this application. You can specify either inline JSON or\n         an S3 bucket location.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.m2#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of tags to apply to the application.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.m2#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A client token is a unique, case-sensitive string of up to 128 ASCII characters with ASCII values of 33-126 inclusive.\n         It's generated by the client to ensure idempotent operations, allowing for safe retries without unintended side effects.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "kmsKeyId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of a customer managed key.</p>"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.m2#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies a role that the application uses to access Amazon Web Services resources\n         that are not part of the application or are in a different Amazon Web Services account.</p>"
                    }
                }
            }
        },
        "com.amazonaws.m2#CreateApplicationResponse": {
            "type": "structure",
            "members": {
                "applicationArn": {
                    "target": "com.amazonaws.m2#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "applicationId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique application identifier.</p>",
                        "smithy.api#required": {}
                    }
                },
                "applicationVersion": {
                    "target": "com.amazonaws.m2#Version",
                    "traits": {
                        "smithy.api#documentation": "<p>The version number of the application.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.m2#CreateDataSetExportTask": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.m2#CreateDataSetExportTaskRequest"
            },
            "output": {
                "target": "com.amazonaws.m2#CreateDataSetExportTaskResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.m2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.m2#ConflictException"
                },
                {
                    "target": "com.amazonaws.m2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.m2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.m2#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.m2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.m2#ValidationException"
                }
            ],
            "traits": {
                "aws.api#controlPlane": {},
                "aws.iam#iamAction": {
                    "requiredActions": [
                        "s3:GetObject"
                    ],
                    "documentation": "Grants permission to create a data set export task"
                },
                "smithy.api#documentation": "<p>Starts a data set export task for a specific application.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/applications/{applicationId}/dataset-export-task",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.m2#CreateDataSetExportTaskRequest": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the application for which you want to export data sets.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "exportConfig": {
                    "target": "com.amazonaws.m2#DataSetExportConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The data set export task configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.m2#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request to create a data set export. The service generates the clientToken when the API call is triggered. The token expires after one hour, so if you retry the API within this timeframe with the same clientToken, you will get the same response. The service also handles deleting the clientToken after it expires.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.m2#KMSKeyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of a customer managed key.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.m2#CreateDataSetExportTaskResponse": {
            "type": "structure",
            "members": {
                "taskId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The task identifier. This operation is asynchronous. Use this identifier with the <a>GetDataSetExportTask</a> operation to obtain the status of this task.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.m2#CreateDataSetImportTask": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.m2#CreateDataSetImportTaskRequest"
            },
            "output": {
                "target": "com.amazonaws.m2#CreateDataSetImportTaskResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.m2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.m2#ConflictException"
                },
                {
                    "target": "com.amazonaws.m2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.m2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.m2#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.m2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.m2#ValidationException"
                }
            ],
            "traits": {
                "aws.api#controlPlane": {},
                "smithy.api#documentation": "<p>Starts a data set import task for a specific application.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/applications/{applicationId}/dataset-import-task",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.m2#CreateDataSetImportTaskRequest": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the application for which you want to import data sets.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "importConfig": {
                    "target": "com.amazonaws.m2#DataSetImportConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The data set import task configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.m2#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p> Unique, case-sensitive identifier you provide to ensure the idempotency of the request\n         to create a data set import. The service generates the clientToken when the API call is\n         triggered. The token expires after one hour, so if you retry the API within this timeframe\n         with the same clientToken, you will get the same response. The service also handles\n         deleting the clientToken after it expires. </p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.m2#CreateDataSetImportTaskResponse": {
            "type": "structure",
            "members": {
                "taskId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The task identifier. This operation is asynchronous. Use this identifier with the <a>GetDataSetImportTask</a> operation to obtain the status of this task.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.m2#CreateDeployment": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.m2#CreateDeploymentRequest"
            },
            "output": {
                "target": "com.amazonaws.m2#CreateDeploymentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.m2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.m2#ConflictException"
                },
                {
                    "target": "com.amazonaws.m2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.m2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.m2#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.m2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.m2#ValidationException"
                }
            ],
            "traits": {
                "aws.api#controlPlane": {},
                "aws.iam#requiredActions": [
                    "elasticloadbalancing:CreateTargetGroup",
                    "elasticloadbalancing:CreateListener"
                ],
                "smithy.api#documentation": "<p>Creates and starts a deployment to deploy an application into a runtime\n         environment.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/applications/{applicationId}/deployments",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.m2#CreateDeploymentRequest": {
            "type": "structure",
            "members": {
                "environmentId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the runtime environment where you want to deploy this\n         application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "applicationId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The application identifier.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "applicationVersion": {
                    "target": "com.amazonaws.m2#Version",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the application to deploy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.m2#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request\n         to create a deployment. The service generates the clientToken when the API call is\n         triggered. The token expires after one hour, so if you retry the API within this timeframe\n         with the same clientToken, you will get the same response. The service also handles\n         deleting the clientToken after it expires. </p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.m2#Environment"
                    }
                ]
            }
        },
        "com.amazonaws.m2#CreateDeploymentResponse": {
            "type": "structure",
            "members": {
                "deploymentId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the deployment.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.m2#CreateEnvironment": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.m2#CreateEnvironmentRequest"
            },
            "output": {
                "target": "com.amazonaws.m2#CreateEnvironmentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.m2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.m2#ConflictException"
                },
                {
                    "target": "com.amazonaws.m2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.m2#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.m2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.m2#ValidationException"
                }
            ],
            "traits": {
                "aws.api#controlPlane": {},
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "aws.iam#requiredActions": [
                    "ec2:DescribeSecurityGroups",
                    "ec2:DescribeSubnets",
                    "ec2:DescribeVpcs",
                    "ec2:DescribeNetworkInterfaces",
                    "ec2:DescribeVpcAttribute",
                    "elasticloadbalancing:CreateLoadBalancer"
                ],
                "smithy.api#documentation": "<p>Creates a runtime environment for a given runtime engine.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/environments",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.m2#CreateEnvironmentRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.m2#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the runtime environment. Must be unique within the account.</p>",
                        "smithy.api#required": {}
                    }
                },
                "instanceType": {
                    "target": "com.amazonaws.m2#String20",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of instance for the runtime environment.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.m2#EntityDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the runtime environment.</p>"
                    }
                },
                "engineType": {
                    "target": "com.amazonaws.m2#EngineType",
                    "traits": {
                        "smithy.api#documentation": "<p>The engine type for the runtime environment.</p>",
                        "smithy.api#required": {}
                    }
                },
                "engineVersion": {
                    "target": "com.amazonaws.m2#EngineVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the engine type for the runtime environment.</p>"
                    }
                },
                "subnetIds": {
                    "target": "com.amazonaws.m2#String50List",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of subnets associated with the VPC for this runtime environment.</p>"
                    }
                },
                "securityGroupIds": {
                    "target": "com.amazonaws.m2#String50List",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of security groups for the VPC associated with this runtime environment.</p>"
                    }
                },
                "storageConfigurations": {
                    "target": "com.amazonaws.m2#StorageConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional. The storage configurations for this runtime environment.</p>"
                    }
                },
                "publiclyAccessible": {
                    "target": "com.amazonaws.m2#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Specifies whether the runtime environment is publicly accessible.</p>"
                    }
                },
                "highAvailabilityConfig": {
                    "target": "com.amazonaws.m2#HighAvailabilityConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of a high availability configuration for this runtime environment.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.m2#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags for the runtime environment.</p>"
                    }
                },
                "preferredMaintenanceWindow": {
                    "target": "com.amazonaws.m2#String50",
                    "traits": {
                        "smithy.api#documentation": "<p>Configures the maintenance window that you want for the runtime environment. The maintenance window must have the format <code>ddd:hh24:mi-ddd:hh24:mi</code> and must be less than 24 hours. The following two examples are valid maintenance windows: <code>sun:23:45-mon:00:15</code> or <code>sat:01:00-sat:03:00</code>. </p>\n         <p>If you do not provide a value, a random system-generated value will be assigned.</p>"
                    }
                },
                "networkType": {
                    "target": "com.amazonaws.m2#NetworkType",
                    "traits": {
                        "smithy.api#documentation": "<p>The network type required for the runtime environment.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.m2#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request\n         to create an environment. The service generates the clientToken when the API call is\n         triggered. The token expires after one hour, so if you retry the API within this timeframe\n         with the same clientToken, you will get the same response. The service also handles\n         deleting the clientToken after it expires. </p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "kmsKeyId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of a customer managed key.</p>"
                    }
                }
            }
        },
        "com.amazonaws.m2#CreateEnvironmentResponse": {
            "type": "structure",
            "members": {
                "environmentId": {
                    "target": "com.amazonaws.m2#Identifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the runtime environment.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.m2#DataSet": {
            "type": "structure",
            "members": {
                "storageType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The storage type of the data set: database or file system. For Micro Focus, database\n         corresponds to datastore and file system corresponds to EFS/FSX. For Blu Age, there is no\n         support of file system and database corresponds to Blusam. </p>"
                    }
                },
                "datasetName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The logical identifier for a specific data set (in mainframe format).</p>",
                        "smithy.api#required": {}
                    }
                },
                "datasetOrg": {
                    "target": "com.amazonaws.m2#DatasetOrgAttributes",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of dataset. The only supported value is VSAM.</p>",
[...]
