{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.macie2#AcceptInvitation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.macie2#AcceptInvitationRequest"
            },
            "output": {
                "target": "com.amazonaws.macie2#AcceptInvitationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.macie2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.macie2#ConflictException"
                },
                {
                    "target": "com.amazonaws.macie2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.macie2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.macie2#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.macie2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.macie2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Accepts an Amazon Macie membership invitation that was received from a specific account.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/invitations/accept",
                    "code": 200
                }
            }
        },
        "com.amazonaws.macie2#AcceptInvitationRequest": {
            "type": "structure",
            "members": {
                "administratorAccountId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID for the account that sent the invitation.</p>",
                        "smithy.api#jsonName": "administratorAccountId"
                    }
                },
                "invitationId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The unique identifier for the invitation to accept.</p>",
                        "smithy.api#jsonName": "invitationId",
                        "smithy.api#required": {}
                    }
                },
                "masterAccount": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>(Deprecated) The Amazon Web Services account ID for the account that sent the invitation. This property has been replaced by the administratorAccountId property and is retained only for backward compatibility.</p>",
                        "smithy.api#jsonName": "masterAccount"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.macie2#AcceptInvitationResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.macie2#AccessControlList": {
            "type": "structure",
            "members": {
                "allowsPublicReadAccess": {
                    "target": "com.amazonaws.macie2#__boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the ACL grants the general public with read access permissions for the bucket.</p>",
                        "smithy.api#jsonName": "allowsPublicReadAccess"
                    }
                },
                "allowsPublicWriteAccess": {
                    "target": "com.amazonaws.macie2#__boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the ACL grants the general public with write access permissions for the bucket.</p>",
                        "smithy.api#jsonName": "allowsPublicWriteAccess"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the permissions settings of the bucket-level access control list (ACL) for an S3 bucket.</p>"
            }
        },
        "com.amazonaws.macie2#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The explanation of the error that occurred.</p>",
                        "smithy.api#jsonName": "message"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about an error that occurred due to insufficient access to a specified resource.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.macie2#AccountDetail": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID for the account.</p>",
                        "smithy.api#jsonName": "accountId",
                        "smithy.api#required": {}
                    }
                },
                "email": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The email address for the account.</p>",
                        "smithy.api#jsonName": "email",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the details of an account to associate with an Amazon Macie administrator account.</p>"
            }
        },
        "com.amazonaws.macie2#AccountLevelPermissions": {
            "type": "structure",
            "members": {
                "blockPublicAccess": {
                    "target": "com.amazonaws.macie2#BlockPublicAccess",
                    "traits": {
                        "smithy.api#documentation": "<p>The block public access settings for the Amazon Web Services account that owns the bucket.</p>",
                        "smithy.api#jsonName": "blockPublicAccess"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the account-level permissions settings that apply to an S3 bucket.</p>"
            }
        },
        "com.amazonaws.macie2#AdminAccount": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID for the account.</p>",
                        "smithy.api#jsonName": "accountId"
                    }
                },
                "status": {
                    "target": "com.amazonaws.macie2#AdminStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the account as the delegated Amazon Macie administrator account for the organization.</p>",
                        "smithy.api#jsonName": "status"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the delegated Amazon Macie administrator account for an organization in Organizations.</p>"
            }
        },
        "com.amazonaws.macie2#AdminStatus": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLING_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLING_IN_PROGRESS"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The current status of an account as the delegated Amazon Macie administrator account for an organization in Organizations. Possible values are:</p>"
            }
        },
        "com.amazonaws.macie2#AllowListCriteria": {
            "type": "structure",
            "members": {
                "regex": {
                    "target": "com.amazonaws.macie2#__stringMin1Max512PatternSS",
                    "traits": {
                        "smithy.api#documentation": "<p>The regular expression (<i>regex</i>) that defines the text pattern to ignore. The expression can contain as many as 512 characters.</p>",
                        "smithy.api#jsonName": "regex"
                    }
                },
                "s3WordsList": {
                    "target": "com.amazonaws.macie2#S3WordsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The location and name of the S3 object that lists specific text to ignore.</p>",
                        "smithy.api#jsonName": "s3WordsList"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the criteria for an allow list. The criteria must specify a regular expression (regex) or an S3 object (s3WordsList). It can't specify both.</p>"
            }
        },
        "com.amazonaws.macie2#AllowListStatus": {
            "type": "structure",
            "members": {
                "code": {
                    "target": "com.amazonaws.macie2#AllowListStatusCode",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The current status of the allow list. If the list's criteria specify a regular expression (regex), this value is typically OK. Amazon Macie can compile the expression.</p> <p>If the list's criteria specify an S3 object, possible values are:</p> <ul><li><p>OK - Macie can retrieve and parse the contents of the object.</p></li> <li><p>S3_OBJECT_ACCESS_DENIED - Macie isn't allowed to access the object or the object is encrypted with a customer managed KMS key that Macie isn't allowed to use. Check the bucket policy and other permissions settings for the bucket and the object. If the object is encrypted, also ensure that it's encrypted with a key that Macie is allowed to use.</p></li> <li><p>S3_OBJECT_EMPTY - Macie can retrieve the object but the object doesn't contain any content. Ensure that the object contains the correct entries. Also ensure that the list's criteria specify the correct bucket and object names.</p></li> <li><p>S3_OBJECT_NOT_FOUND - The object doesn't exist in Amazon S3. Ensure that the list's criteria specify the correct bucket and object names.</p></li> <li><p>S3_OBJECT_OVERSIZE - Macie can retrieve the object. However, the object contains too many entries or its storage size exceeds the quota for an allow list. Try breaking the list into multiple files and ensure that each file doesn't exceed any quotas. Then configure list settings in Macie for each file.</p></li> <li><p>S3_THROTTLED - Amazon S3 throttled the request to retrieve the object. Wait a few minutes and then try again.</p></li> <li><p>S3_USER_ACCESS_DENIED - Amazon S3 denied the request to retrieve the object. If the specified object exists, you're not allowed to access it or it's encrypted with an KMS key that you're not allowed to use. Work with your Amazon Web Services administrator to ensure that the list's criteria specify the correct bucket and object names, and you have read access to the bucket and the object. If the object is encrypted, also ensure that it's encrypted with a key that you're allowed to use.</p></li> <li><p>UNKNOWN_ERROR - A transient or internal error occurred when Macie attempted to retrieve or parse the object. Wait a few minutes and then try again. A list can also have this status if it's encrypted with a key that Amazon S3 and Macie can't access or use.</p></li></ul>",
                        "smithy.api#jsonName": "code",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.macie2#__stringMin1Max1024PatternSS",
                    "traits": {
                        "smithy.api#documentation": "<p>A brief description of the status of the allow list. Amazon Macie uses this value to provide additional information about an error that occurred when Macie tried to access and use the list's criteria.</p>",
                        "smithy.api#jsonName": "description"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the current status of an allow list, which indicates whether Amazon Macie can access and use the list's criteria.</p>"
            }
        },
        "com.amazonaws.macie2#AllowListStatusCode": {
            "type": "enum",
            "members": {
                "OK": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OK"
                    }
                },
                "S3_OBJECT_NOT_FOUND": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "S3_OBJECT_NOT_FOUND"
                    }
                },
                "S3_USER_ACCESS_DENIED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "S3_USER_ACCESS_DENIED"
                    }
                },
                "S3_OBJECT_ACCESS_DENIED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "S3_OBJECT_ACCESS_DENIED"
                    }
                },
                "S3_THROTTLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "S3_THROTTLED"
                    }
                },
                "S3_OBJECT_OVERSIZE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "S3_OBJECT_OVERSIZE"
                    }
                },
                "S3_OBJECT_EMPTY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "S3_OBJECT_EMPTY"
                    }
                },
                "UNKNOWN_ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNKNOWN_ERROR"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Indicates the current status of an allow list. Depending on the type of criteria that the list specifies, possible values are:</p>"
            }
        },
        "com.amazonaws.macie2#AllowListSummary": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.macie2#__stringMin71Max89PatternArnAwsAwsCnAwsUsGovMacie2AZ19920D12AllowListAZ0922",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the allow list.</p>",
                        "smithy.api#jsonName": "arn"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.macie2#__timestampIso8601",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time, in UTC and extended ISO 8601 format, when the allow list was created in Amazon Macie.</p>",
                        "smithy.api#jsonName": "createdAt"
                    }
                },
                "description": {
                    "target": "com.amazonaws.macie2#__stringMin1Max512PatternSS",
                    "traits": {
                        "smithy.api#documentation": "<p>The custom description of the allow list.</p>",
                        "smithy.api#jsonName": "description"
                    }
                },
                "id": {
                    "target": "com.amazonaws.macie2#__stringMin22Max22PatternAZ0922",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the allow list.</p>",
                        "smithy.api#jsonName": "id"
                    }
                },
                "name": {
                    "target": "com.amazonaws.macie2#__stringMin1Max128Pattern",
                    "traits": {
                        "smithy.api#documentation": "<p>The custom name of the allow list.</p>",
                        "smithy.api#jsonName": "name"
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.macie2#__timestampIso8601",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time, in UTC and extended ISO 8601 format, when the allow list's settings were most recently changed in Amazon Macie.</p>",
                        "smithy.api#jsonName": "updatedAt"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides a subset of information about an allow list.</p>"
            }
        },
        "com.amazonaws.macie2#AllowsUnencryptedObjectUploads": {
            "type": "enum",
            "members": {
                "TRUE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TRUE"
                    }
                },
                "FALSE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FALSE"
                    }
                },
                "UNKNOWN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNKNOWN"
                    }
                }
            }
        },
        "com.amazonaws.macie2#ApiCallDetails": {
            "type": "structure",
            "members": {
                "api": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the operation that was invoked most recently and produced the finding.</p>",
                        "smithy.api#jsonName": "api"
                    }
                },
                "apiServiceName": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL of the Amazon Web Services service that provides the operation, for example: s3.amazonaws.com.</p>",
                        "smithy.api#jsonName": "apiServiceName"
                    }
                },
                "firstSeen": {
                    "target": "com.amazonaws.macie2#__timestampIso8601",
                    "traits": {
                        "smithy.api#documentation": "<p>The first date and time, in UTC and extended ISO 8601 format, when any operation was invoked and produced the finding.</p>",
                        "smithy.api#jsonName": "firstSeen"
                    }
                },
                "lastSeen": {
                    "target": "com.amazonaws.macie2#__timestampIso8601",
                    "traits": {
                        "smithy.api#documentation": "<p>The most recent date and time, in UTC and extended ISO 8601 format, when the specified operation (api) was invoked and produced the finding.</p>",
                        "smithy.api#jsonName": "lastSeen"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about an API operation that an entity invoked for an affected resource.</p>"
            }
        },
        "com.amazonaws.macie2#AssumedRole": {
            "type": "structure",
            "members": {
                "accessKeyId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services access key ID that identifies the credentials.</p>",
                        "smithy.api#jsonName": "accessKeyId"
                    }
                },
                "accountId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the Amazon Web Services account that owns the entity that was used to get the credentials.</p>",
                        "smithy.api#jsonName": "accountId"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the entity that was used to get the credentials.</p>",
                        "smithy.api#jsonName": "arn"
                    }
                },
                "principalId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the entity that was used to get the credentials.</p>",
                        "smithy.api#jsonName": "principalId"
                    }
                },
                "sessionContext": {
                    "target": "com.amazonaws.macie2#SessionContext",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the session that was created for the credentials, including the entity that issued the session.</p>",
                        "smithy.api#jsonName": "sessionContext"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about an identity that performed an action on an affected resource by using temporary security credentials. The credentials were obtained using the AssumeRole operation of the Security Token Service (STS) API.</p>"
            }
        },
        "com.amazonaws.macie2#AutoEnableMode": {
            "type": "enum",
            "members": {
                "ALL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALL"
                    }
                },
                "NEW": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NEW"
                    }
                },
                "NONE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NONE"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies whether to automatically enable automated sensitive data discovery for accounts that are part of an organization in Amazon Macie. Valid values are:</p>"
            }
        },
        "com.amazonaws.macie2#AutomatedDiscoveryAccount": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID for the account.</p>",
                        "smithy.api#jsonName": "accountId"
                    }
                },
                "status": {
                    "target": "com.amazonaws.macie2#AutomatedDiscoveryAccountStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of automated sensitive data discovery for the account. Possible values are: ENABLED, perform automated sensitive data discovery activities for the account; and, DISABLED, don't perform automated sensitive data discovery activities for the account.</p>",
                        "smithy.api#jsonName": "status"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the status of automated sensitive data discovery for an Amazon Macie account.</p>"
            }
        },
        "com.amazonaws.macie2#AutomatedDiscoveryAccountStatus": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The status of automated sensitive data discovery for an Amazon Macie account. Valid values are:</p>"
            }
        },
        "com.amazonaws.macie2#AutomatedDiscoveryAccountUpdate": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID for the account.</p>",
                        "smithy.api#jsonName": "accountId"
                    }
                },
                "status": {
                    "target": "com.amazonaws.macie2#AutomatedDiscoveryAccountStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The new status of automated sensitive data discovery for the account. Valid values are: ENABLED, perform automated sensitive data discovery activities for the account; and, DISABLED, don't perform automated sensitive data discovery activities for the account.</p>",
                        "smithy.api#jsonName": "status"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Changes the status of automated sensitive data discovery for an Amazon Macie account.</p>"
            }
        },
        "com.amazonaws.macie2#AutomatedDiscoveryAccountUpdateError": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID for the account that the request applied to.</p>",
                        "smithy.api#jsonName": "accountId"
                    }
                },
                "errorCode": {
                    "target": "com.amazonaws.macie2#AutomatedDiscoveryAccountUpdateErrorCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The error code for the error that caused the request to fail for the account (accountId). Possible values are: ACCOUNT_NOT_FOUND, the account doesn’t exist or you're not the Amazon Macie administrator for the account; and, ACCOUNT_PAUSED, Macie isn’t enabled for the account in the current Amazon Web Services Region.</p>",
                        "smithy.api#jsonName": "errorCode"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about a request that failed to change the status of automated sensitive data discovery for an Amazon Macie account.</p>"
            }
        },
        "com.amazonaws.macie2#AutomatedDiscoveryAccountUpdateErrorCode": {
            "type": "enum",
            "members": {
                "ACCOUNT_PAUSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACCOUNT_PAUSED"
                    }
                },
                "ACCOUNT_NOT_FOUND": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACCOUNT_NOT_FOUND"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The error code that indicates why a request failed to change the status of automated sensitive data discovery for an Amazon Macie account. Possible values are:</p>"
            }
        },
        "com.amazonaws.macie2#AutomatedDiscoveryMonitoringStatus": {
            "type": "enum",
            "members": {
                "MONITORED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MONITORED"
                    }
                },
                "NOT_MONITORED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NOT_MONITORED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies whether automated sensitive data discovery is currently configured to analyze objects in an S3 bucket. Possible values are:</p>"
            }
        },
        "com.amazonaws.macie2#AutomatedDiscoveryStatus": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The status of the automated sensitive data discovery configuration for an organization in Amazon Macie or a standalone Macie account. Valid values are:</p>"
            }
        },
        "com.amazonaws.macie2#AvailabilityCode": {
            "type": "enum",
            "members": {
                "AVAILABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AVAILABLE"
                    }
                },
                "UNAVAILABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNAVAILABLE"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies whether occurrences of sensitive data can be retrieved for a finding. Possible values are:</p>"
            }
        },
        "com.amazonaws.macie2#AwsAccount": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the Amazon Web Services account.</p>",
                        "smithy.api#jsonName": "accountId"
                    }
                },
                "principalId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the entity that performed the action.</p>",
                        "smithy.api#jsonName": "principalId"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about an Amazon Web Services account and entity that performed an action on an affected resource. The action was performed using the credentials for an Amazon Web Services account other than your own account.</p>"
            }
        },
        "com.amazonaws.macie2#AwsService": {
            "type": "structure",
            "members": {
                "invokedBy": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon Web Service that performed the action.</p>",
                        "smithy.api#jsonName": "invokedBy"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about an Amazon Web Service that performed an action on an affected resource.</p>"
            }
        },
        "com.amazonaws.macie2#BatchGetCustomDataIdentifierSummary": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the custom data identifier.</p>",
                        "smithy.api#jsonName": "arn"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.macie2#__timestampIso8601",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time, in UTC and extended ISO 8601 format, when the custom data identifier was created.</p>",
                        "smithy.api#jsonName": "createdAt"
                    }
                },
                "deleted": {
                    "target": "com.amazonaws.macie2#__boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the custom data identifier was deleted. If you delete a custom data identifier, Amazon Macie doesn't delete it permanently. Instead, it soft deletes the identifier.</p>",
                        "smithy.api#jsonName": "deleted"
                    }
                },
                "description": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The custom description of the custom data identifier.</p>",
                        "smithy.api#jsonName": "description"
                    }
                },
                "id": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the custom data identifier.</p>",
                        "smithy.api#jsonName": "id"
                    }
                },
                "name": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The custom name of the custom data identifier.</p>",
                        "smithy.api#jsonName": "name"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about a custom data identifier.</p>"
            }
        },
        "com.amazonaws.macie2#BatchGetCustomDataIdentifiers": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.macie2#BatchGetCustomDataIdentifiersRequest"
            },
            "output": {
                "target": "com.amazonaws.macie2#BatchGetCustomDataIdentifiersResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.macie2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.macie2#ConflictException"
                },
                {
                    "target": "com.amazonaws.macie2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.macie2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.macie2#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.macie2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.macie2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves information about one or more custom data identifiers.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/custom-data-identifiers/get",
                    "code": 200
                }
            }
        },
        "com.amazonaws.macie2#BatchGetCustomDataIdentifiersRequest": {
            "type": "structure",
            "members": {
                "ids": {
                    "target": "com.amazonaws.macie2#__listOf__string",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of custom data identifier IDs, one for each custom data identifier to retrieve information about.</p>",
                        "smithy.api#jsonName": "ids"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.macie2#BatchGetCustomDataIdentifiersResponse": {
            "type": "structure",
            "members": {
                "customDataIdentifiers": {
                    "target": "com.amazonaws.macie2#__listOfBatchGetCustomDataIdentifierSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects, one for each custom data identifier that matches the criteria specified in the request.</p>",
                        "smithy.api#jsonName": "customDataIdentifiers"
                    }
                },
                "notFoundIdentifierIds": {
                    "target": "com.amazonaws.macie2#__listOf__string",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of custom data identifier IDs, one for each custom data identifier that was specified in the request but doesn't correlate to an existing custom data identifier.</p>",
                        "smithy.api#jsonName": "notFoundIdentifierIds"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.macie2#BatchUpdateAutomatedDiscoveryAccounts": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.macie2#BatchUpdateAutomatedDiscoveryAccountsRequest"
            },
            "output": {
                "target": "com.amazonaws.macie2#BatchUpdateAutomatedDiscoveryAccountsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.macie2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.macie2#ConflictException"
                },
                {
                    "target": "com.amazonaws.macie2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.macie2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.macie2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Changes the status of automated sensitive data discovery for one or more accounts.</p>",
                "smithy.api#http": {
                    "method": "PATCH",
                    "uri": "/automated-discovery/accounts",
                    "code": 200
                }
            }
        },
        "com.amazonaws.macie2#BatchUpdateAutomatedDiscoveryAccountsRequest": {
            "type": "structure",
            "members": {
                "accounts": {
                    "target": "com.amazonaws.macie2#__listOfAutomatedDiscoveryAccountUpdate",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects, one for each account to change the status of automated sensitive data discovery for. Each object specifies the Amazon Web Services account ID for an account and a new status for that account.</p>",
                        "smithy.api#jsonName": "accounts"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.macie2#BatchUpdateAutomatedDiscoveryAccountsResponse": {
            "type": "structure",
            "members": {
                "errors": {
                    "target": "com.amazonaws.macie2#__listOfAutomatedDiscoveryAccountUpdateError",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects, one for each account whose status wasn’t changed. Each object identifies the account and explains why the status of automated sensitive data discovery wasn’t changed for the account. This value is null if the request succeeded for all specified accounts.</p>",
                        "smithy.api#jsonName": "errors"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.macie2#BlockPublicAccess": {
            "type": "structure",
            "members": {
                "blockPublicAcls": {
                    "target": "com.amazonaws.macie2#__boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether Amazon S3 blocks public access control lists (ACLs) for the bucket and objects in the bucket.</p>",
                        "smithy.api#jsonName": "blockPublicAcls"
                    }
                },
                "blockPublicPolicy": {
                    "target": "com.amazonaws.macie2#__boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether Amazon S3 blocks public bucket policies for the bucket.</p>",
                        "smithy.api#jsonName": "blockPublicPolicy"
                    }
                },
                "ignorePublicAcls": {
                    "target": "com.amazonaws.macie2#__boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether Amazon S3 ignores public ACLs for the bucket and objects in the bucket.</p>",
                        "smithy.api#jsonName": "ignorePublicAcls"
                    }
                },
                "restrictPublicBuckets": {
                    "target": "com.amazonaws.macie2#__boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether Amazon S3 restricts public bucket policies for the bucket.</p>",
                        "smithy.api#jsonName": "restrictPublicBuckets"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the block public access settings for an S3 bucket. These settings can apply to a bucket at the account or bucket level. For detailed information about each setting, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/access-control-block-public-access.html\">Blocking public access to your Amazon S3 storage</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p>"
            }
        },
        "com.amazonaws.macie2#BucketCountByEffectivePermission": {
            "type": "structure",
            "members": {
                "publiclyAccessible": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets that allow the general public to have read or write access to the bucket.</p>",
                        "smithy.api#jsonName": "publiclyAccessible"
                    }
                },
                "publiclyReadable": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets that allow the general public to have read access to the bucket.</p>",
                        "smithy.api#jsonName": "publiclyReadable"
                    }
                },
                "publiclyWritable": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets that allow the general public to have write access to the bucket.</p>",
                        "smithy.api#jsonName": "publiclyWritable"
                    }
                },
                "unknown": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets that Amazon Macie wasn't able to evaluate permissions settings for. For example, the buckets' policies or a quota prevented Macie from retrieving the requisite data. Macie can't determine whether the buckets are publicly accessible.</p>",
                        "smithy.api#jsonName": "unknown"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the number of S3 buckets that are publicly accessible due to a combination of permissions settings for each bucket.</p>"
            }
        },
        "com.amazonaws.macie2#BucketCountByEncryptionType": {
            "type": "structure",
            "members": {
                "kmsManaged": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets whose default encryption settings are configured to encrypt new objects with an KMS key, either an Amazon Web Services managed key or a customer managed key. By default, these buckets encrypt new objects automatically using DSSE-KMS or SSE-KMS encryption.</p>",
                        "smithy.api#jsonName": "kmsManaged"
                    }
                },
                "s3Managed": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets whose default encryption settings are configured to encrypt new objects with an Amazon S3 managed key. By default, these buckets encrypt new objects automatically using SSE-S3 encryption.</p>",
                        "smithy.api#jsonName": "s3Managed"
                    }
                },
                "unencrypted": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets that don't specify default server-side encryption behavior for new objects. Default encryption settings aren't configured for these buckets.</p>",
                        "smithy.api#jsonName": "unencrypted"
                    }
                },
                "unknown": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets that Amazon Macie doesn't have current encryption metadata for. For example, the buckets' permissions settings or a quota prevented Macie from retrieving the default encryption settings for the buckets.</p>",
                        "smithy.api#jsonName": "unknown"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the number of S3 buckets whose settings do or don't specify default server-side encryption behavior for objects that are added to the buckets. For detailed information about these settings, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/bucket-encryption.html\">Setting default server-side encryption behavior for Amazon S3 buckets</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p>"
            }
        },
        "com.amazonaws.macie2#BucketCountBySharedAccessType": {
            "type": "structure",
            "members": {
                "external": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets that are shared with one or more of the following or any combination of the following: an Amazon CloudFront OAI, a CloudFront OAC, or an Amazon Web Services account that isn't in the same Amazon Macie organization.</p>",
                        "smithy.api#jsonName": "external"
                    }
                },
                "internal": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets that are shared with one or more Amazon Web Services accounts in the same Amazon Macie organization. These buckets aren't shared with Amazon CloudFront OAIs or OACs.</p>",
                        "smithy.api#jsonName": "internal"
                    }
                },
                "notShared": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets that aren't shared with other Amazon Web Services accounts, Amazon CloudFront OAIs, or CloudFront OACs.</p>",
                        "smithy.api#jsonName": "notShared"
                    }
                },
                "unknown": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets that Amazon Macie wasn't able to evaluate shared access settings for. For example, the buckets' permissions settings or a quota prevented Macie from retrieving the requisite data. Macie can't determine whether the buckets are shared with other Amazon Web Services accounts, Amazon CloudFront OAIs, or CloudFront OACs.</p>",
                        "smithy.api#jsonName": "unknown"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the number of S3 buckets that are or aren't shared with other Amazon Web Services accounts, Amazon CloudFront origin access identities (OAIs), or CloudFront origin access controls (OACs). In this data, an <i>Amazon Macie organization</i> is defined as a set of Macie accounts that are centrally managed as a group of related accounts through Organizations or by Macie invitation.</p>"
            }
        },
        "com.amazonaws.macie2#BucketCountPolicyAllowsUnencryptedObjectUploads": {
            "type": "structure",
            "members": {
                "allowsUnencryptedObjectUploads": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets that don't have a bucket policy or have a bucket policy that doesn't require server-side encryption of new objects. If a bucket policy exists, the policy doesn't require PutObject requests to include a valid server-side encryption header: the x-amz-server-side-encryption header with a value of AES256 or aws:kms, or the x-amz-server-side-encryption-customer-algorithm header with a value of AES256.</p>",
                        "smithy.api#jsonName": "allowsUnencryptedObjectUploads"
                    }
                },
                "deniesUnencryptedObjectUploads": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets whose bucket policies require server-side encryption of new objects. PutObject requests for these buckets must include a valid server-side encryption header: the x-amz-server-side-encryption header with a value of AES256 or aws:kms, or the x-amz-server-side-encryption-customer-algorithm header with a value of AES256.</p>",
                        "smithy.api#jsonName": "deniesUnencryptedObjectUploads"
                    }
                },
                "unknown": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of buckets that Amazon Macie wasn't able to evaluate server-side encryption requirements for. For example, the buckets' permissions settings or a quota prevented Macie from retrieving the requisite data. Macie can't determine whether bucket policies for the buckets require server-side encryption of new objects.</p>",
                        "smithy.api#jsonName": "unknown"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the number of S3 buckets whose bucket policies do or don't require server-side encryption of objects when objects are added to the buckets.</p>"
            }
        },
        "com.amazonaws.macie2#BucketCriteria": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.macie2#__string"
            },
            "value": {
                "target": "com.amazonaws.macie2#BucketCriteriaAdditionalProperties"
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies, as a map, one or more property-based conditions that filter the results of a query for information about S3 buckets.</p>"
            }
        },
        "com.amazonaws.macie2#BucketCriteriaAdditionalProperties": {
            "type": "structure",
            "members": {
                "eq": {
                    "target": "com.amazonaws.macie2#__listOf__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The value for the property matches (equals) the specified value. If you specify multiple values, Amazon Macie uses OR logic to join the values.</p>",
                        "smithy.api#jsonName": "eq"
                    }
                },
                "gt": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The value for the property is greater than the specified value.</p>",
                        "smithy.api#jsonName": "gt"
                    }
                },
                "gte": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The value for the property is greater than or equal to the specified value.</p>",
                        "smithy.api#jsonName": "gte"
                    }
                },
                "lt": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The value for the property is less than the specified value.</p>",
                        "smithy.api#jsonName": "lt"
                    }
                },
                "lte": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The value for the property is less than or equal to the specified value.</p>",
                        "smithy.api#jsonName": "lte"
                    }
                },
                "neq": {
                    "target": "com.amazonaws.macie2#__listOf__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The value for the property doesn't match (doesn't equal) the specified value. If you specify multiple values, Amazon Macie uses OR logic to join the values.</p>",
                        "smithy.api#jsonName": "neq"
                    }
                },
                "prefix": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the bucket begins with the specified value.</p>",
                        "smithy.api#jsonName": "prefix"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the operator to use in a property-based condition that filters the results of a query for information about S3 buckets.</p>"
            }
        },
        "com.amazonaws.macie2#BucketLevelPermissions": {
            "type": "structure",
            "members": {
                "accessControlList": {
                    "target": "com.amazonaws.macie2#AccessControlList",
                    "traits": {
                        "smithy.api#documentation": "<p>The permissions settings of the access control list (ACL) for the bucket. This value is null if an ACL hasn't been defined for the bucket.</p>",
                        "smithy.api#jsonName": "accessControlList"
                    }
                },
                "blockPublicAccess": {
                    "target": "com.amazonaws.macie2#BlockPublicAccess",
                    "traits": {
                        "smithy.api#documentation": "<p>The block public access settings for the bucket.</p>",
                        "smithy.api#jsonName": "blockPublicAccess"
                    }
                },
                "bucketPolicy": {
                    "target": "com.amazonaws.macie2#BucketPolicy",
                    "traits": {
                        "smithy.api#documentation": "<p>The permissions settings of the bucket policy for the bucket. This value is null if a bucket policy hasn't been defined for the bucket.</p>",
                        "smithy.api#jsonName": "bucketPolicy"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the bucket-level permissions settings for an S3 bucket.</p>"
            }
        },
        "com.amazonaws.macie2#BucketMetadata": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the Amazon Web Services account that owns the bucket.</p>",
                        "smithy.api#jsonName": "accountId"
                    }
                },
                "allowsUnencryptedObjectUploads": {
                    "target": "com.amazonaws.macie2#AllowsUnencryptedObjectUploads",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the bucket policy for the bucket requires server-side encryption of objects when objects are added to the bucket. Possible values are:</p> <ul><li><p>FALSE - The bucket policy requires server-side encryption of new objects. PutObject requests must include a valid server-side encryption header.</p></li> <li><p>TRUE - The bucket doesn't have a bucket policy or it has a bucket policy that doesn't require server-side encryption of new objects. If a bucket policy exists, it doesn't require PutObject requests to include a valid server-side encryption header.</p></li> <li><p>UNKNOWN - Amazon Macie can't determine whether the bucket policy requires server-side encryption of new objects.</p></li></ul> <p>Valid server-side encryption headers are: x-amz-server-side-encryption with a value of AES256 or aws:kms, and x-amz-server-side-encryption-customer-algorithm with a value of AES256.</p>",
                        "smithy.api#jsonName": "allowsUnencryptedObjectUploads"
                    }
                },
                "automatedDiscoveryMonitoringStatus": {
                    "target": "com.amazonaws.macie2#AutomatedDiscoveryMonitoringStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether automated sensitive data discovery is currently configured to analyze objects in the bucket. Possible values are: MONITORED, the bucket is included in analyses; and, NOT_MONITORED, the bucket is excluded from analyses. If automated sensitive data discovery is disabled for your account, this value is NOT_MONITORED.</p>",
                        "smithy.api#jsonName": "automatedDiscoveryMonitoringStatus"
                    }
                },
                "bucketArn": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the bucket.</p>",
                        "smithy.api#jsonName": "bucketArn"
                    }
                },
                "bucketCreatedAt": {
                    "target": "com.amazonaws.macie2#__timestampIso8601",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time, in UTC and extended ISO 8601 format, when the bucket was created. This value can also indicate when changes such as edits to the bucket's policy were most recently made to the bucket.</p>",
                        "smithy.api#jsonName": "bucketCreatedAt"
                    }
                },
                "bucketName": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the bucket.</p>",
                        "smithy.api#jsonName": "bucketName"
                    }
                },
                "classifiableObjectCount": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of objects that Amazon Macie can analyze in the bucket. These objects use a supported storage class and have a file name extension for a supported file or storage format.</p>",
                        "smithy.api#jsonName": "classifiableObjectCount"
                    }
                },
                "classifiableSizeInBytes": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total storage size, in bytes, of the objects that Amazon Macie can analyze in the bucket. These objects use a supported storage class and have a file name extension for a supported file or storage format.</p> <p>If versioning is enabled for the bucket, Macie calculates this value based on the size of the latest version of each applicable object in the bucket. This value doesn't reflect the storage size of all versions of each applicable object in the bucket.</p>",
                        "smithy.api#jsonName": "classifiableSizeInBytes"
                    }
                },
                "errorCode": {
                    "target": "com.amazonaws.macie2#BucketMetadataErrorCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The code for an error or issue that prevented Amazon Macie from retrieving and processing information about the bucket and the bucket's objects. Possible values are:</p> <ul><li><p>ACCESS_DENIED - Macie doesn't have permission to retrieve the information. For example, the bucket has a restrictive bucket policy and Amazon S3 denied the request.</p></li> <li><p>BUCKET_COUNT_EXCEEDS_QUOTA - Retrieving and processing the information would exceed the quota for the number of buckets that Macie monitors for an account (10,000).</p></li></ul> <p>If this value is null, Macie was able to retrieve and process the information.</p>",
                        "smithy.api#jsonName": "errorCode"
                    }
                },
                "errorMessage": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>A brief description of the error or issue (errorCode) that prevented Amazon Macie from retrieving and processing information about the bucket and the bucket's objects. This value is null if Macie was able to retrieve and process the information.</p>",
                        "smithy.api#jsonName": "errorMessage"
                    }
                },
                "jobDetails": {
                    "target": "com.amazonaws.macie2#JobDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether any one-time or recurring classification jobs are configured to analyze objects in the bucket, and, if so, the details of the job that ran most recently.</p>",
                        "smithy.api#jsonName": "jobDetails"
                    }
                },
                "lastAutomatedDiscoveryTime": {
                    "target": "com.amazonaws.macie2#__timestampIso8601",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time, in UTC and extended ISO 8601 format, when Amazon Macie most recently analyzed objects in the bucket while performing automated sensitive data discovery. This value is null if this analysis hasn't occurred.</p>",
                        "smithy.api#jsonName": "lastAutomatedDiscoveryTime"
                    }
                },
                "lastUpdated": {
                    "target": "com.amazonaws.macie2#__timestampIso8601",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time, in UTC and extended ISO 8601 format, when Amazon Macie most recently retrieved bucket or object metadata from Amazon S3 for the bucket.</p>",
                        "smithy.api#jsonName": "lastUpdated"
                    }
                },
                "objectCount": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of objects in the bucket.</p>",
                        "smithy.api#jsonName": "objectCount"
                    }
                },
                "objectCountByEncryptionType": {
                    "target": "com.amazonaws.macie2#ObjectCountByEncryptionType",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of objects in the bucket, grouped by server-side encryption type. This includes a grouping that reports the total number of objects that aren't encrypted or use client-side encryption.</p>",
                        "smithy.api#jsonName": "objectCountByEncryptionType"
                    }
                },
                "publicAccess": {
                    "target": "com.amazonaws.macie2#BucketPublicAccess",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the bucket is publicly accessible due to the combination of permissions settings that apply to the bucket, and provides information about those settings.</p>",
                        "smithy.api#jsonName": "publicAccess"
                    }
                },
                "region": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Region that hosts the bucket.</p>",
                        "smithy.api#jsonName": "region"
                    }
                },
                "replicationDetails": {
                    "target": "com.amazonaws.macie2#ReplicationDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the bucket is configured to replicate one or more objects to buckets for other Amazon Web Services accounts and, if so, which accounts.</p>",
                        "smithy.api#jsonName": "replicationDetails"
                    }
                },
                "sensitivityScore": {
                    "target": "com.amazonaws.macie2#__integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The sensitivity score for the bucket, ranging from -1 (classification error) to 100 (sensitive).</p><p>If automated sensitive data discovery has never been enabled for your account or it's been disabled for your organization or standalone account for more than 30 days, possible values are: 1, the bucket is empty; or, 50, the bucket stores objects but it's been excluded from recent analyses.</p>",
                        "smithy.api#jsonName": "sensitivityScore"
                    }
                },
                "serverSideEncryption": {
                    "target": "com.amazonaws.macie2#BucketServerSideEncryption",
                    "traits": {
                        "smithy.api#documentation": "<p>The default server-side encryption settings for the bucket.</p>",
                        "smithy.api#jsonName": "serverSideEncryption"
                    }
                },
                "sharedAccess": {
                    "target": "com.amazonaws.macie2#SharedAccess",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the bucket is shared with another Amazon Web Services account, an Amazon CloudFront origin access identity (OAI), or a CloudFront origin access control (OAC). Possible values are:</p> <ul><li><p>EXTERNAL - The bucket is shared with one or more of the following or any combination of the following: a CloudFront OAI, a CloudFront OAC, or an Amazon Web Services account that isn't part of your Amazon Macie organization.</p></li> <li><p>INTERNAL - The bucket is shared with one or more Amazon Web Services accounts that are part of your Amazon Macie organization. It isn't shared with a CloudFront OAI or OAC.</p></li> <li><p>NOT_SHARED - The bucket isn't shared with another Amazon Web Services account, a CloudFront OAI, or a CloudFront OAC.</p></li> <li><p>UNKNOWN - Amazon Macie wasn't able to evaluate the shared access settings for the bucket.</p></li></ul> <p>An <i>Amazon Macie organization</i> is a set of Macie accounts that are centrally managed as a group of related accounts through Organizations or by Macie invitation.</p>",
                        "smithy.api#jsonName": "sharedAccess"
                    }
                },
                "sizeInBytes": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total storage size, in bytes, of the bucket.</p> <p>If versioning is enabled for the bucket, Amazon Macie calculates this value based on the size of the latest version of each object in the bucket. This value doesn't reflect the storage size of all versions of each object in the bucket.</p>",
                        "smithy.api#jsonName": "sizeInBytes"
                    }
                },
                "sizeInBytesCompressed": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total storage size, in bytes, of the objects that are compressed (.gz, .gzip, .zip) files in the bucket.</p> <p>If versioning is enabled for the bucket, Amazon Macie calculates this value based on the size of the latest version of each applicable object in the bucket. This value doesn't reflect the storage size of all versions of each applicable object in the bucket.</p>",
                        "smithy.api#jsonName": "sizeInBytesCompressed"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.macie2#__listOfKeyValuePair",
                    "traits": {
                        "smithy.api#documentation": "<p>An array that specifies the tags (keys and values) that are associated with the bucket.</p>",
                        "smithy.api#jsonName": "tags"
                    }
                },
                "unclassifiableObjectCount": {
                    "target": "com.amazonaws.macie2#ObjectLevelStatistics",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of objects that Amazon Macie can't analyze in the bucket. These objects don't use a supported storage class or don't have a file name extension for a supported file or storage format.</p>",
                        "smithy.api#jsonName": "unclassifiableObjectCount"
                    }
                },
                "unclassifiableObjectSizeInBytes": {
                    "target": "com.amazonaws.macie2#ObjectLevelStatistics",
                    "traits": {
                        "smithy.api#documentation": "<p>The total storage size, in bytes, of the objects that Amazon Macie can't analyze in the bucket. These objects don't use a supported storage class or don't have a file name extension for a supported file or storage format.</p>",
                        "smithy.api#jsonName": "unclassifiableObjectSizeInBytes"
                    }
                },
                "versioning": {
                    "target": "com.amazonaws.macie2#__boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether versioning is enabled for the bucket.</p>",
                        "smithy.api#jsonName": "versioning"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides statistical data and other information about an S3 bucket that Amazon Macie monitors and analyzes for your account. By default, object count and storage size values include data for object parts that are the result of incomplete multipart uploads. For more information, see <a href=\"https://docs.aws.amazon.com/macie/latest/user/monitoring-s3-how-it-works.html\">How Macie monitors Amazon S3 data security</a> in the <i>Amazon Macie User Guide</i>.</p> <p>If an error or issue prevents Macie from retrieving and processing metadata from Amazon S3 for the bucket or the bucket's objects, the value for the versioning property is false and the value for most other properties is null or UNKNOWN. Key exceptions are accountId, bucketArn, bucketCreatedAt, bucketName, lastUpdated, and region. To identify the cause, refer to the errorCode and errorMessage values.</p>"
            }
        },
        "com.amazonaws.macie2#BucketMetadataErrorCode": {
            "type": "enum",
            "members": {
                "ACCESS_DENIED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACCESS_DENIED"
                    }
                },
                "BUCKET_COUNT_EXCEEDS_QUOTA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BUCKET_COUNT_EXCEEDS_QUOTA"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The code for an error or issue that prevented Amazon Macie from retrieving and processing information about an S3 bucket and the bucket's objects.</p>"
            }
        },
        "com.amazonaws.macie2#BucketPermissionConfiguration": {
            "type": "structure",
            "members": {
                "accountLevelPermissions": {
                    "target": "com.amazonaws.macie2#AccountLevelPermissions",
                    "traits": {
                        "smithy.api#documentation": "<p>The account-level permissions settings that apply to the bucket.</p>",
                        "smithy.api#jsonName": "accountLevelPermissions"
                    }
                },
                "bucketLevelPermissions": {
                    "target": "com.amazonaws.macie2#BucketLevelPermissions",
                    "traits": {
                        "smithy.api#documentation": "<p>The bucket-level permissions settings for the bucket.</p>",
                        "smithy.api#jsonName": "bucketLevelPermissions"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the account-level and bucket-level permissions settings for an S3 bucket.</p>"
            }
        },
        "com.amazonaws.macie2#BucketPolicy": {
            "type": "structure",
            "members": {
                "allowsPublicReadAccess": {
                    "target": "com.amazonaws.macie2#__boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the bucket policy allows the general public to have read access to the bucket.</p>",
                        "smithy.api#jsonName": "allowsPublicReadAccess"
                    }
                },
                "allowsPublicWriteAccess": {
                    "target": "com.amazonaws.macie2#__boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the bucket policy allows the general public to have write access to the bucket.</p>",
                        "smithy.api#jsonName": "allowsPublicWriteAccess"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the permissions settings of the bucket policy for an S3 bucket.</p>"
            }
        },
        "com.amazonaws.macie2#BucketPublicAccess": {
            "type": "structure",
            "members": {
                "effectivePermission": {
                    "target": "com.amazonaws.macie2#EffectivePermission",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the bucket is publicly accessible due to the combination of permissions settings that apply to the bucket. Possible values are:</p> <ul><li><p>NOT_PUBLIC - The bucket isn't publicly accessible.</p></li> <li><p>PUBLIC - The bucket is publicly accessible.</p></li> <li><p>UNKNOWN - Amazon Macie can't determine whether the bucket is publicly accessible.</p></li></ul>",
                        "smithy.api#jsonName": "effectivePermission"
                    }
                },
                "permissionConfiguration": {
                    "target": "com.amazonaws.macie2#BucketPermissionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The account-level and bucket-level permissions settings for the bucket.</p>",
                        "smithy.api#jsonName": "permissionConfiguration"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the permissions settings that determine whether an S3 bucket is publicly accessible.</p>"
            }
        },
        "com.amazonaws.macie2#BucketServerSideEncryption": {
            "type": "structure",
            "members": {
                "kmsMasterKeyId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or unique identifier (key ID) for the KMS key that's used by default to encrypt objects that are added to the bucket. This value is null if the bucket is configured to use an Amazon S3 managed key to encrypt new objects.</p>",
                        "smithy.api#jsonName": "kmsMasterKeyId"
                    }
                },
                "type": {
                    "target": "com.amazonaws.macie2#Type",
                    "traits": {
                        "smithy.api#documentation": "<p>The server-side encryption algorithm that's used by default to encrypt objects that are added to the bucket. Possible values are:</p> <ul><li><p>AES256 - New objects use SSE-S3 encryption. They're encrypted with an Amazon S3 managed key.</p></li> <li><p>aws:kms - New objects use SSE-KMS encryption. They're encrypted with an KMS key (kmsMasterKeyId), either an Amazon Web Services managed key or a customer managed key.</p></li> <li><p>aws:kms:dsse - New objects use DSSE-KMS encryption. They're encrypted with an KMS key (kmsMasterKeyId), either an Amazon Web Services managed key or a customer managed key.</p></li> <li><p>NONE - The bucket's default encryption settings don't specify server-side encryption behavior for new objects.</p></li></ul>",
                        "smithy.api#jsonName": "type"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the default server-side encryption settings for an S3 bucket. For detailed information about these settings, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/bucket-encryption.html\">Setting default server-side encryption behavior for Amazon S3 buckets</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p>"
            }
        },
        "com.amazonaws.macie2#BucketSortCriteria": {
            "type": "structure",
            "members": {
                "attributeName": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the bucket property to sort the results by. This value can be one of the following properties that Amazon Macie defines as bucket metadata: accountId, bucketName, classifiableObjectCount, classifiableSizeInBytes, objectCount, sensitivityScore, or sizeInBytes.</p>",
                        "smithy.api#jsonName": "attributeName"
                    }
                },
                "orderBy": {
                    "target": "com.amazonaws.macie2#OrderBy",
                    "traits": {
                        "smithy.api#documentation": "<p>The sort order to apply to the results, based on the value specified by the attributeName property. Valid values are: ASC, sort the results in ascending order; and, DESC, sort the results in descending order.</p>",
                        "smithy.api#jsonName": "orderBy"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies criteria for sorting the results of a query for information about S3 buckets.</p>"
            }
        },
        "com.amazonaws.macie2#BucketStatisticsBySensitivity": {
            "type": "structure",
            "members": {
                "classificationError": {
                    "target": "com.amazonaws.macie2#SensitivityAggregations",
                    "traits": {
                        "smithy.api#documentation": "<p>The aggregated statistical data for all buckets that have a sensitivity score of -1.</p>",
                        "smithy.api#jsonName": "classificationError"
                    }
                },
                "notClassified": {
                    "target": "com.amazonaws.macie2#SensitivityAggregations",
                    "traits": {
                        "smithy.api#documentation": "<p>The aggregated statistical data for all buckets that have a sensitivity score of 50.</p>",
                        "smithy.api#jsonName": "notClassified"
                    }
                },
                "notSensitive": {
                    "target": "com.amazonaws.macie2#SensitivityAggregations",
                    "traits": {
                        "smithy.api#documentation": "<p>The aggregated statistical data for all buckets that have a sensitivity score of 1-49.</p>",
                        "smithy.api#jsonName": "notSensitive"
                    }
                },
                "sensitive": {
                    "target": "com.amazonaws.macie2#SensitivityAggregations",
                    "traits": {
                        "smithy.api#documentation": "<p>The aggregated statistical data for all buckets that have a sensitivity score of 51-100.</p>",
                        "smithy.api#jsonName": "sensitive"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides aggregated statistical data for sensitive data discovery metrics that apply to S3 buckets, grouped by bucket sensitivity score (sensitivityScore). If automated sensitive data discovery is currently disabled for your account, the value for most of these metrics is 0.</p>"
            }
        },
        "com.amazonaws.macie2#Cell": {
            "type": "structure",
            "members": {
                "cellReference": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The location of the cell, as an absolute cell reference, that contains the sensitive data, for example Sheet2!C5 for cell C5 on Sheet2 in a Microsoft Excel workbook. This value is null for CSV and TSV files.</p>",
                        "smithy.api#jsonName": "cellReference"
                    }
                },
                "column": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The column number of the column that contains the sensitive data. For a Microsoft Excel workbook, this value correlates to the alphabetical character(s) for a column identifier, for example: 1 for column A, 2 for column B, and so on.</p>",
                        "smithy.api#jsonName": "column"
                    }
                },
                "columnName": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the column that contains the sensitive data, if available.</p>",
                        "smithy.api#jsonName": "columnName"
                    }
                },
                "row": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The row number of the row that contains the sensitive data.</p>",
                        "smithy.api#jsonName": "row"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the location of an occurrence of sensitive data in a Microsoft Excel workbook, CSV file, or TSV file.</p>"
            }
        },
        "com.amazonaws.macie2#Cells": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.macie2#Cell"
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the location of occurrences of sensitive data in a Microsoft Excel workbook, CSV file, or TSV file.</p>"
            }
        },
        "com.amazonaws.macie2#ClassificationDetails": {
            "type": "structure",
            "members": {
                "detailedResultsLocation": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The path to the folder or file in Amazon S3 that contains the corresponding sensitive data discovery result for the finding. If a finding applies to a large archive or compressed file, this value is the path to a folder. Otherwise, this value is the path to a file.</p>",
                        "smithy.api#jsonName": "detailedResultsLocation"
                    }
                },
                "jobArn": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the classification job that produced the finding. This value is null if the origin of the finding (originType) is AUTOMATED_SENSITIVE_DATA_DISCOVERY.</p>",
                        "smithy.api#jsonName": "jobArn"
                    }
                },
                "jobId": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the classification job that produced the finding. This value is null if the origin of the finding (originType) is AUTOMATED_SENSITIVE_DATA_DISCOVERY.</p>",
                        "smithy.api#jsonName": "jobId"
                    }
                },
                "originType": {
                    "target": "com.amazonaws.macie2#OriginType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies how Amazon Macie found the sensitive data that produced the finding. Possible values are: SENSITIVE_DATA_DISCOVERY_JOB, for a classification job; and, AUTOMATED_SENSITIVE_DATA_DISCOVERY, for automated sensitive data discovery.</p>",
                        "smithy.api#jsonName": "originType"
                    }
                },
                "result": {
                    "target": "com.amazonaws.macie2#ClassificationResult",
                    "traits": {
                        "smithy.api#documentation": "<p>The status and other details of the finding.</p>",
                        "smithy.api#jsonName": "result"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about a sensitive data finding and the details of the finding.</p>"
            }
        },
        "com.amazonaws.macie2#ClassificationExportConfiguration": {
            "type": "structure",
            "members": {
                "s3Destination": {
                    "target": "com.amazonaws.macie2#S3Destination",
                    "traits": {
                        "smithy.api#documentation": "<p>The S3 bucket to store data classification results in, and the encryption settings to use when storing results in that bucket.</p>",
                        "smithy.api#jsonName": "s3Destination"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies where to store data classification results, and the encryption settings to use when storing results in that location. The location must be an S3 general purpose bucket.</p>"
            }
        },
        "com.amazonaws.macie2#ClassificationResult": {
            "type": "structure",
            "members": {
                "additionalOccurrences": {
                    "target": "com.amazonaws.macie2#__boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether Amazon Macie detected additional occurrences of sensitive data in the S3 object. A finding includes location data for a maximum of 15 occurrences of sensitive data.</p> <p>This value can help you determine whether to investigate additional occurrences of sensitive data in an object. You can do this by referring to the corresponding sensitive data discovery result for the finding (classificationDetails.detailedResultsLocation).</p>",
                        "smithy.api#jsonName": "additionalOccurrences"
                    }
                },
                "customDataIdentifiers": {
                    "target": "com.amazonaws.macie2#CustomDataIdentifiers",
                    "traits": {
                        "smithy.api#documentation": "<p>The custom data identifiers that detected the sensitive data and the number of occurrences of the data that they detected.</p>",
                        "smithy.api#jsonName": "customDataIdentifiers"
                    }
                },
                "mimeType": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of content, as a MIME type, that the finding applies to. For example, application/gzip, for a GNU Gzip compressed archive file, or application/pdf, for an Adobe Portable Document Format file.</p>",
                        "smithy.api#jsonName": "mimeType"
                    }
                },
                "sensitiveData": {
                    "target": "com.amazonaws.macie2#SensitiveData",
                    "traits": {
                        "smithy.api#documentation": "<p>The category, types, and number of occurrences of the sensitive data that produced the finding.</p>",
                        "smithy.api#jsonName": "sensitiveData"
                    }
                },
                "sizeClassified": {
                    "target": "com.amazonaws.macie2#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The total size, in bytes, of the data that the finding applies to.</p>",
                        "smithy.api#jsonName": "sizeClassified"
                    }
                },
                "status": {
                    "target": "com.amazonaws.macie2#ClassificationResultStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the finding.</p>",
                        "smithy.api#jsonName": "status"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides the details of a sensitive data finding, including the types, number of occurrences, and locations of the sensitive data that was detected.</p>"
            }
        },
        "com.amazonaws.macie2#ClassificationResultStatus": {
            "type": "structure",
            "members": {
                "code": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the finding. Possible values are:</p> <ul><li><p>COMPLETE - Amazon Macie successfully completed its analysis of the S3 object that the finding applies to.</p></li> <li><p>PARTIAL - Macie analyzed only a subset of the data in the S3 object that the finding applies to. For example, the object is an archive file that contains files in an unsupported format.</p></li> <li><p>SKIPPED - Macie wasn't able to analyze the S3 object that the finding applies to. For example, the object is a file that uses an unsupported format.</p></li></ul>",
                        "smithy.api#jsonName": "code"
                    }
                },
                "reason": {
                    "target": "com.amazonaws.macie2#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>A brief description of the status of the finding. This value is null if the status (code) of the finding is COMPLETE.</p> <p>Amazon Macie uses this value to notify you of any errors, warnings, or considerations that might impact your analysis of the finding and the affected S3 object. Possible values are:</p> <ul><li><p>ARCHIVE_CONTAINS_UNPROCESSED_FILES - The object is an archive file and Macie extracted and analyzed only some or none of the files in the archive. To determine which files Macie analyzed, if any, refer to the corresponding sensitive data discovery result for the finding (classificationDetails.detailedResultsLocation).</p></li> <li><p>ARCHIVE_EXCEEDS_SIZE_LIMIT - The object is an archive file whose total storage size exceeds the size quota for this type of archive.</p></li> <li><p>ARCHIVE_NESTING_LEVEL_OVER_LIMIT - The object is an archive file whose nested depth exceeds the quota for the maximum number of nested levels that Macie analyzes for this type of archive.</p></li> <li><p>ARCHIVE_TOTAL_BYTES_EXTRACTED_OVER_LIMIT - The object is an archive file that exceeds the quota for the maximum amount of data that Macie extracts and analyzes for this type of archive.</p></li> <li><p>ARCHIVE_TOTAL_DOCUMENTS_PROCESSED_OVER_LIMIT - The object is an archive file that contains more than the maximum number of files that Macie extracts and analyzes for this type of archive.</p></li> <li><p>FILE_EXCEEDS_SIZE_LIMIT - The storage size of the object exceeds the size quota for this type of file.</p></li> <li><p>INVALID_ENCRYPTION - The object is encrypted using server-side encryption but Macie isn't allowed to use the key. Macie can't decrypt and analyze the object.</p></li> <li><p>INVALID_KMS_KEY - The object is encrypted with an KMS key that was disabled or is being deleted. Macie can't decrypt and analyze the object.</p></li> <li><p>INVALID_OBJECT_STATE - The object doesn't use a supported Amazon S3 storage class.</p></li> <li><p>JSON_NESTING_LEVEL_OVER_LIMIT - The object contains JSON data and the nested depth of the data exceeds the quota for the number of nested levels that Macie analyzes for this type of file.</p></li> <li><p>MALFORMED_FILE - The object is a malformed or corrupted file. An e
[...]
