{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.mailmanager#AcceptAction": {
            "type": "enum",
            "members": {
                "ALLOW": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALLOW"
                    }
                },
                "DENY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DENY"
                    }
                }
            }
        },
        "com.amazonaws.mailmanager#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.mailmanager#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Occurs when a user is denied access to a specific resource or action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.mailmanager#ActionFailurePolicy": {
            "type": "enum",
            "members": {
                "CONTINUE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONTINUE"
                    }
                },
                "DROP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DROP"
                    }
                }
            }
        },
        "com.amazonaws.mailmanager#AddHeaderAction": {
            "type": "structure",
            "members": {
                "HeaderName": {
                    "target": "com.amazonaws.mailmanager#HeaderName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the header to add to an email. The header must be prefixed with\n            \"X-\". Headers are added regardless of whether the header name pre-existed in\n            the email.</p>",
                        "smithy.api#required": {}
                    }
                },
                "HeaderValue": {
                    "target": "com.amazonaws.mailmanager#HeaderValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of the header to add to the email.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The action to add a header to a message. When executed, this action will add the given\n            header to the message.</p>"
            }
        },
        "com.amazonaws.mailmanager#AddonInstance": {
            "type": "structure",
            "members": {
                "AddonInstanceId": {
                    "target": "com.amazonaws.mailmanager#AddonInstanceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the Add On instance.</p>"
                    }
                },
                "AddonSubscriptionId": {
                    "target": "com.amazonaws.mailmanager#AddonSubscriptionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The subscription ID for the instance.</p>"
                    }
                },
                "AddonName": {
                    "target": "com.amazonaws.mailmanager#AddonName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Add On for the instance.</p>"
                    }
                },
                "AddonInstanceArn": {
                    "target": "com.amazonaws.mailmanager#AddonInstanceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Add On instance.</p>"
                    }
                },
                "CreatedTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the Add On instance was created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An Add On instance represents a specific configuration of an Add On.</p>"
            }
        },
        "com.amazonaws.mailmanager#AddonInstanceArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {}
            }
        },
        "com.amazonaws.mailmanager#AddonInstanceId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 4,
                    "max": 67
                },
                "smithy.api#pattern": "^ai-[a-zA-Z0-9]{1,64}$"
            }
        },
        "com.amazonaws.mailmanager#AddonInstanceResource": {
            "type": "resource",
            "identifiers": {
                "AddonInstanceId": {
                    "target": "com.amazonaws.mailmanager#AddonInstanceId"
                }
            },
            "properties": {
                "AddonInstanceArn": {
                    "target": "com.amazonaws.mailmanager#AddonInstanceArn"
                },
                "AddonSubscriptionId": {
                    "target": "com.amazonaws.mailmanager#AddonSubscriptionId"
                },
                "AddonName": {
                    "target": "com.amazonaws.mailmanager#AddonName"
                },
                "CreatedTimestamp": {
                    "target": "smithy.api#Timestamp"
                },
                "Tags": {
                    "target": "com.amazonaws.mailmanager#TagList"
                }
            },
            "create": {
                "target": "com.amazonaws.mailmanager#CreateAddonInstance"
            },
            "read": {
                "target": "com.amazonaws.mailmanager#GetAddonInstance"
            },
            "delete": {
                "target": "com.amazonaws.mailmanager#DeleteAddonInstance"
            },
            "list": {
                "target": "com.amazonaws.mailmanager#ListAddonInstances"
            },
            "traits": {
                "aws.cloudformation#cfnResource": {
                    "name": "MailManagerAddonInstance"
                }
            }
        },
        "com.amazonaws.mailmanager#AddonInstances": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mailmanager#AddonInstance"
            }
        },
        "com.amazonaws.mailmanager#AddonName": {
            "type": "string"
        },
        "com.amazonaws.mailmanager#AddonSubscription": {
            "type": "structure",
            "members": {
                "AddonSubscriptionId": {
                    "target": "com.amazonaws.mailmanager#AddonSubscriptionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the Add On subscription.</p>"
                    }
                },
                "AddonName": {
                    "target": "com.amazonaws.mailmanager#AddonName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Add On.</p>"
                    }
                },
                "AddonSubscriptionArn": {
                    "target": "com.amazonaws.mailmanager#AddonSubscriptionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Add On subscription.</p>"
                    }
                },
                "CreatedTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the Add On subscription was created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A subscription for an Add On representing the acceptance of its terms of use and\n            additional pricing.</p>"
            }
        },
        "com.amazonaws.mailmanager#AddonSubscriptionArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {}
            }
        },
        "com.amazonaws.mailmanager#AddonSubscriptionId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 4,
                    "max": 67
                },
                "smithy.api#pattern": "^as-[a-zA-Z0-9]{1,64}$"
            }
        },
        "com.amazonaws.mailmanager#AddonSubscriptionResource": {
            "type": "resource",
            "identifiers": {
                "AddonSubscriptionId": {
                    "target": "com.amazonaws.mailmanager#AddonSubscriptionId"
                }
            },
            "properties": {
                "AddonSubscriptionArn": {
                    "target": "com.amazonaws.mailmanager#AddonSubscriptionArn"
                },
                "AddonName": {
                    "target": "com.amazonaws.mailmanager#AddonName"
                },
                "CreatedTimestamp": {
                    "target": "smithy.api#Timestamp"
                },
                "Tags": {
                    "target": "com.amazonaws.mailmanager#TagList"
                }
            },
            "create": {
                "target": "com.amazonaws.mailmanager#CreateAddonSubscription"
            },
            "read": {
                "target": "com.amazonaws.mailmanager#GetAddonSubscription"
            },
            "delete": {
                "target": "com.amazonaws.mailmanager#DeleteAddonSubscription"
            },
            "list": {
                "target": "com.amazonaws.mailmanager#ListAddonSubscriptions"
            },
            "traits": {
                "aws.cloudformation#cfnResource": {
                    "name": "MailManagerAddonSubscription"
                }
            }
        },
        "com.amazonaws.mailmanager#AddonSubscriptions": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mailmanager#AddonSubscription"
            }
        },
        "com.amazonaws.mailmanager#Address": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 3,
                    "max": 320
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.mailmanager#AddressFilter": {
            "type": "structure",
            "members": {
                "AddressPrefix": {
                    "target": "com.amazonaws.mailmanager#AddressPrefix",
                    "traits": {
                        "smithy.api#documentation": "<p>Filter to limit the results to addresses having the provided prefix.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Filtering options for ListMembersOfAddressList operation.</p>"
            }
        },
        "com.amazonaws.mailmanager#AddressList": {
            "type": "structure",
            "members": {
                "AddressListId": {
                    "target": "com.amazonaws.mailmanager#AddressListId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the address list.</p>",
                        "smithy.api#required": {}
                    }
                },
                "AddressListArn": {
                    "target": "com.amazonaws.mailmanager#AddressListArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the address list.</p>",
                        "smithy.api#required": {}
                    }
                },
                "AddressListName": {
                    "target": "com.amazonaws.mailmanager#AddressListName",
                    "traits": {
                        "smithy.api#documentation": "<p>The user-friendly name of the address list.</p>",
                        "smithy.api#required": {}
                    }
                },
                "CreatedTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the address list was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LastUpdatedTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the address list was last updated.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An address list contains a list of emails and domains that are used in MailManager Ingress endpoints and Rules for email management.</p>"
            }
        },
        "com.amazonaws.mailmanager#AddressListArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "service": "ses",
                    "resource": "com.amazon.pancetta.addresslist.management#AddressListResource"
                }
            }
        },
        "com.amazonaws.mailmanager#AddressListId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
            }
        },
        "com.amazonaws.mailmanager#AddressListName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_.-]+$"
            }
        },
        "com.amazonaws.mailmanager#AddressListResource": {
            "type": "resource",
            "identifiers": {
                "AddressListId": {
                    "target": "com.amazonaws.mailmanager#AddressListId"
                }
            },
            "properties": {
                "AddressListArn": {
                    "target": "com.amazonaws.mailmanager#AddressListArn"
                },
                "AddressListName": {
                    "target": "com.amazonaws.mailmanager#AddressListName"
                },
                "CreatedTimestamp": {
                    "target": "smithy.api#Timestamp"
                },
                "LastUpdatedTimestamp": {
                    "target": "smithy.api#Timestamp"
                },
                "Tags": {
                    "target": "com.amazonaws.mailmanager#TagList"
                }
            },
            "create": {
                "target": "com.amazonaws.mailmanager#CreateAddressList"
            },
            "read": {
                "target": "com.amazonaws.mailmanager#GetAddressList"
            },
            "delete": {
                "target": "com.amazonaws.mailmanager#DeleteAddressList"
            },
            "list": {
                "target": "com.amazonaws.mailmanager#ListAddressLists"
            }
        },
        "com.amazonaws.mailmanager#AddressLists": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mailmanager#AddressList"
            }
        },
        "com.amazonaws.mailmanager#AddressPageSize": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 1000
                }
            }
        },
        "com.amazonaws.mailmanager#AddressPrefix": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 320
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.mailmanager#Analysis": {
            "type": "structure",
            "members": {
                "Analyzer": {
                    "target": "com.amazonaws.mailmanager#AnalyzerArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Add On.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ResultField": {
                    "target": "com.amazonaws.mailmanager#ResultField",
                    "traits": {
                        "smithy.api#documentation": "<p>The returned value from an Add On.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The result of an analysis can be used in conditions to trigger actions. Analyses can\n            inspect the email content and report a certain aspect of the email.</p>"
            }
        },
        "com.amazonaws.mailmanager#AnalyzerArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {},
                "smithy.api#pattern": "^[a-zA-Z0-9:_/+=,@.#-]+$"
            }
        },
        "com.amazonaws.mailmanager#Archive": {
            "type": "structure",
            "members": {
                "ArchiveId": {
                    "target": "com.amazonaws.mailmanager#ArchiveIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the archive.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ArchiveName": {
                    "target": "com.amazonaws.mailmanager#ArchiveNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name assigned to the archive.</p>"
                    }
                },
                "ArchiveState": {
                    "target": "com.amazonaws.mailmanager#ArchiveState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the archive:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ACTIVE</code> – The archive is ready and available for use. </p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING_DELETION</code> – The archive has been marked for deletion\n                    and will be permanently deleted in 30 days. No further modifications can be made\n                    in this state. </p>\n            </li>\n         </ul>"
                    }
                },
                "LastUpdatedTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the archive was last updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An archive resource for storing and retaining emails.</p>"
            }
        },
        "com.amazonaws.mailmanager#ArchiveAction": {
            "type": "structure",
            "members": {
                "ActionFailurePolicy": {
                    "target": "com.amazonaws.mailmanager#ActionFailurePolicy",
                    "traits": {
                        "smithy.api#documentation": "<p>A policy that states what to do in the case of failure. The action will fail if there\n            are configuration errors. For example, the specified archive has been deleted.</p>"
                    }
                },
                "TargetArchive": {
                    "target": "com.amazonaws.mailmanager#NameOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the archive to send the email to.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The action to archive the email by delivering the email to an Amazon SES archive.</p>"
            }
        },
        "com.amazonaws.mailmanager#ArchiveArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {}
            }
        },
        "com.amazonaws.mailmanager#ArchiveBooleanEmailAttribute": {
            "type": "enum",
            "members": {
                "HAS_ATTACHMENTS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HAS_ATTACHMENTS"
                    }
                }
            }
        },
        "com.amazonaws.mailmanager#ArchiveBooleanExpression": {
            "type": "structure",
            "members": {
                "Evaluate": {
                    "target": "com.amazonaws.mailmanager#ArchiveBooleanToEvaluate",
                    "traits": {
                        "smithy.api#documentation": "<p>The email attribute value to evaluate.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Operator": {
                    "target": "com.amazonaws.mailmanager#ArchiveBooleanOperator",
                    "traits": {
                        "smithy.api#documentation": "<p>The boolean operator to use for evaluation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A boolean expression to evaluate email attribute values.</p>"
            }
        },
        "com.amazonaws.mailmanager#ArchiveBooleanOperator": {
            "type": "enum",
            "members": {
                "IS_TRUE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IS_TRUE"
                    }
                },
                "IS_FALSE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IS_FALSE"
                    }
                }
            }
        },
        "com.amazonaws.mailmanager#ArchiveBooleanToEvaluate": {
            "type": "union",
            "members": {
                "Attribute": {
                    "target": "com.amazonaws.mailmanager#ArchiveBooleanEmailAttribute",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the email attribute to evaluate.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The attribute to evaluate in a boolean expression.</p>"
            }
        },
        "com.amazonaws.mailmanager#ArchiveFilterCondition": {
            "type": "union",
            "members": {
                "StringExpression": {
                    "target": "com.amazonaws.mailmanager#ArchiveStringExpression",
                    "traits": {
                        "smithy.api#documentation": "<p>A string expression to evaluate against email attributes.</p>"
                    }
                },
                "BooleanExpression": {
                    "target": "com.amazonaws.mailmanager#ArchiveBooleanExpression",
                    "traits": {
                        "smithy.api#documentation": "<p>A boolean expression to evaluate against email attributes.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A filter condition used to include or exclude emails when exporting from or searching an archive.</p>"
            }
        },
        "com.amazonaws.mailmanager#ArchiveFilterConditions": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mailmanager#ArchiveFilterCondition"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 10
                }
            }
        },
        "com.amazonaws.mailmanager#ArchiveFilters": {
            "type": "structure",
            "members": {
                "Include": {
                    "target": "com.amazonaws.mailmanager#ArchiveFilterConditions",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter conditions for emails to include.</p>"
                    }
                },
                "Unless": {
                    "target": "com.amazonaws.mailmanager#ArchiveFilterConditions",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter conditions for emails to exclude.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A set of filter conditions to include and/or exclude emails.</p>"
            }
        },
        "com.amazonaws.mailmanager#ArchiveId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 3,
                    "max": 66
                },
                "smithy.api#pattern": "^a-[\\w]{1,64}$"
            }
        },
        "com.amazonaws.mailmanager#ArchiveIdString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 66
                }
            }
        },
        "com.amazonaws.mailmanager#ArchiveNameString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]$"
            }
        },
        "com.amazonaws.mailmanager#ArchiveResource": {
            "type": "resource",
            "identifiers": {
                "ArchiveId": {
                    "target": "com.amazonaws.mailmanager#ArchiveIdString"
                }
            },
            "properties": {
                "ArchiveArn": {
                    "target": "com.amazonaws.mailmanager#ArchiveArn"
                },
                "ArchiveName": {
                    "target": "com.amazonaws.mailmanager#ArchiveNameString"
                },
                "ArchiveState": {
                    "target": "com.amazonaws.mailmanager#ArchiveState"
                },
                "CreatedTimestamp": {
                    "target": "smithy.api#Timestamp"
                },
                "LastUpdatedTimestamp": {
                    "target": "smithy.api#Timestamp"
                },
                "Retention": {
                    "target": "com.amazonaws.mailmanager#ArchiveRetention"
                },
                "KmsKeyArn": {
                    "target": "com.amazonaws.mailmanager#KmsKeyArn"
                },
                "Tags": {
                    "target": "com.amazonaws.mailmanager#TagList"
                }
            },
            "create": {
                "target": "com.amazonaws.mailmanager#CreateArchive"
            },
            "read": {
                "target": "com.amazonaws.mailmanager#GetArchive"
            },
            "update": {
                "target": "com.amazonaws.mailmanager#UpdateArchive"
            },
            "delete": {
                "target": "com.amazonaws.mailmanager#DeleteArchive"
            },
            "list": {
                "target": "com.amazonaws.mailmanager#ListArchives"
            },
            "traits": {
                "aws.cloudformation#cfnResource": {
                    "name": "MailManagerArchive"
                }
            }
        },
        "com.amazonaws.mailmanager#ArchiveRetention": {
            "type": "union",
            "members": {
                "RetentionPeriod": {
                    "target": "com.amazonaws.mailmanager#RetentionPeriod",
                    "traits": {
                        "smithy.api#documentation": "<p>The enum value sets the period for retaining emails in an archive.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The retention policy for an email archive that specifies how long emails are kept\n            before being automatically deleted. </p>"
            }
        },
        "com.amazonaws.mailmanager#ArchiveState": {
            "type": "enum",
            "members": {
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "PENDING_DELETION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING_DELETION"
                    }
                }
            }
        },
        "com.amazonaws.mailmanager#ArchiveStringEmailAttribute": {
            "type": "enum",
            "members": {
                "TO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TO"
                    }
                },
                "FROM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FROM"
                    }
                },
                "CC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CC"
                    }
                },
                "SUBJECT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUBJECT"
                    }
                },
                "ENVELOPE_TO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENVELOPE_TO"
                    }
                },
                "ENVELOPE_FROM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENVELOPE_FROM"
                    }
                }
            }
        },
        "com.amazonaws.mailmanager#ArchiveStringExpression": {
            "type": "structure",
            "members": {
                "Evaluate": {
                    "target": "com.amazonaws.mailmanager#ArchiveStringToEvaluate",
                    "traits": {
                        "smithy.api#documentation": "<p>The attribute of the email to evaluate.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Operator": {
                    "target": "com.amazonaws.mailmanager#ArchiveStringOperator",
                    "traits": {
                        "smithy.api#documentation": "<p>The operator to use when evaluating the string values.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Values": {
                    "target": "com.amazonaws.mailmanager#StringValueList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of string values to evaluate the email attribute against.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A string expression to evaluate an email attribute value against one or more string values.</p>"
            }
        },
        "com.amazonaws.mailmanager#ArchiveStringOperator": {
            "type": "enum",
            "members": {
                "CONTAINS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONTAINS"
                    }
                }
            }
        },
        "com.amazonaws.mailmanager#ArchiveStringToEvaluate": {
            "type": "union",
            "members": {
                "Attribute": {
                    "target": "com.amazonaws.mailmanager#ArchiveStringEmailAttribute",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the email attribute to evaluate.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the email attribute to evaluate in a string expression.</p>"
            }
        },
        "com.amazonaws.mailmanager#ArchivedMessageId": {
            "type": "string"
        },
        "com.amazonaws.mailmanager#ArchivesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mailmanager#Archive"
            }
        },
        "com.amazonaws.mailmanager#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.mailmanager#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.mailmanager#CreateAddonInstance": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#CreateAddonInstanceRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#CreateAddonInstanceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an Add On instance for the subscription indicated in the request. The\n            resulting Amazon Resource Name (ARN) can be used in a conditional statement for a rule set or traffic policy.\n        </p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#CreateAddonInstanceRequest": {
            "type": "structure",
            "members": {
                "ClientToken": {
                    "target": "com.amazonaws.mailmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique token that Amazon SES uses to recognize subsequent retries of the same\n            request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "AddonSubscriptionId": {
                    "target": "com.amazonaws.mailmanager#AddonSubscriptionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of a previously created subscription that an Add On instance is created\n            for. You can only have one instance per subscription.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mailmanager#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#CreateAddonInstanceResponse": {
            "type": "structure",
            "members": {
                "AddonInstanceId": {
                    "target": "com.amazonaws.mailmanager#AddonInstanceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the Add On instance created by this API.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#CreateAddonSubscription": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#CreateAddonSubscriptionRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#CreateAddonSubscriptionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a subscription for an Add On representing the acceptance of its terms of use\n            and additional pricing. The subscription can then be used to create an instance for use\n            in rule sets or traffic policies.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#CreateAddonSubscriptionRequest": {
            "type": "structure",
            "members": {
                "ClientToken": {
                    "target": "com.amazonaws.mailmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique token that Amazon SES uses to recognize subsequent retries of the same\n            request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "AddonName": {
                    "target": "com.amazonaws.mailmanager#AddonName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Add On to subscribe to. You can only have one subscription for each\n            Add On name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mailmanager#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#CreateAddonSubscriptionResponse": {
            "type": "structure",
            "members": {
                "AddonSubscriptionId": {
                    "target": "com.amazonaws.mailmanager#AddonSubscriptionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the Add On subscription created by this API.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#CreateAddressList": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#CreateAddressListRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#CreateAddressListResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new address list.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#CreateAddressListImportJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#CreateAddressListImportJobRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#CreateAddressListImportJobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an import job for an address list.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#CreateAddressListImportJobRequest": {
            "type": "structure",
            "members": {
                "ClientToken": {
                    "target": "com.amazonaws.mailmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique token that Amazon SES uses to recognize subsequent retries of the same\n            request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "AddressListId": {
                    "target": "com.amazonaws.mailmanager#AddressListId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the address list for importing addresses to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "com.amazonaws.mailmanager#JobName",
                    "traits": {
                        "smithy.api#documentation": "<p>A user-friendly name for the import job.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ImportDataFormat": {
                    "target": "com.amazonaws.mailmanager#ImportDataFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The format of the input for an import job.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#CreateAddressListImportJobResponse": {
            "type": "structure",
            "members": {
                "JobId": {
                    "target": "com.amazonaws.mailmanager#JobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the created import job.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PreSignedUrl": {
                    "target": "com.amazonaws.mailmanager#PreSignedUrl",
                    "traits": {
                        "smithy.api#documentation": "<p>The pre-signed URL target for uploading the input file.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#CreateAddressListRequest": {
            "type": "structure",
            "members": {
                "ClientToken": {
                    "target": "com.amazonaws.mailmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique token that Amazon SES uses to recognize subsequent retries of the same\n            request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "AddressListName": {
                    "target": "com.amazonaws.mailmanager#AddressListName",
                    "traits": {
                        "smithy.api#documentation": "<p>A user-friendly name for the address list.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mailmanager#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#CreateAddressListResponse": {
            "type": "structure",
            "members": {
                "AddressListId": {
                    "target": "com.amazonaws.mailmanager#AddressListId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the created address list.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#CreateArchive": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#CreateArchiveRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#CreateArchiveResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new email archive resource for storing and retaining emails.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#CreateArchiveRequest": {
            "type": "structure",
            "members": {
                "ClientToken": {
                    "target": "com.amazonaws.mailmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique token Amazon SES uses to recognize retries of this request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "ArchiveName": {
                    "target": "com.amazonaws.mailmanager#ArchiveNameString",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name for the new archive.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Retention": {
                    "target": "com.amazonaws.mailmanager#ArchiveRetention",
                    "traits": {
                        "smithy.api#documentation": "<p>The period for retaining emails in the archive before automatic deletion.</p>"
                    }
                },
                "KmsKeyArn": {
                    "target": "com.amazonaws.mailmanager#KmsKeyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key for encrypting emails in the archive.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mailmanager#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request to create a new email archive.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#CreateArchiveResponse": {
            "type": "structure",
            "members": {
                "ArchiveId": {
                    "target": "com.amazonaws.mailmanager#ArchiveIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the newly created archive.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The response from creating a new email archive.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#CreateIngressPoint": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#CreateIngressPointRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#CreateIngressPointResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Provision a new ingress endpoint resource.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create Open IngressPoint",
                        "input": {
                            "IngressPointName": "ingressPointName",
                            "Type": "OPEN",
                            "RuleSetId": "rs-12345",
                            "TrafficPolicyId": "tp-12345",
                            "Tags": [
                                {
                                    "Key": "key",
                                    "Value": "value"
                                }
                            ]
                        },
                        "output": {
                            "IngressPointId": "inp-12345"
                        }
                    },
                    {
                        "title": "Create Auth IngressPoint with Password",
                        "input": {
                            "IngressPointName": "ingressPointName",
                            "Type": "AUTH",
                            "RuleSetId": "rs-12345",
                            "TrafficPolicyId": "tp-12345",
                            "IngressPointConfiguration": {
                                "SmtpPassword": "smtpPassword"
                            },
                            "Tags": [
                                {
                                    "Key": "key",
                                    "Value": "value"
                                }
                            ]
                        },
                        "output": {
                            "IngressPointId": "inp-12345"
                        }
                    },
                    {
                        "title": "Create Auth IngressPoint with SecretsManager Secret",
                        "input": {
                            "IngressPointName": "ingressPointName",
                            "Type": "AUTH",
                            "RuleSetId": "rs-12345",
                            "TrafficPolicyId": "tp-12345",
                            "IngressPointConfiguration": {
                                "SecretArn": "arn:aws:secretsmanager:us-west-2:123456789012:secret:abcde"
                            },
                            "Tags": [
                                {
                                    "Key": "key",
                                    "Value": "value"
                                }
                            ]
                        },
                        "output": {
                            "IngressPointId": "inp-12345"
                        }
                    }
                ],
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#CreateIngressPointRequest": {
            "type": "structure",
            "members": {
                "ClientToken": {
                    "target": "com.amazonaws.mailmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique token that Amazon SES uses to recognize subsequent retries of the same\n            request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "IngressPointName": {
                    "target": "com.amazonaws.mailmanager#IngressPointName",
                    "traits": {
                        "smithy.api#documentation": "<p>A user friendly name for an ingress endpoint resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Type": {
                    "target": "com.amazonaws.mailmanager#IngressPointType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the ingress endpoint to create.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RuleSetId": {
                    "target": "com.amazonaws.mailmanager#RuleSetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of an existing rule set that you attach to an ingress endpoint\n            resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TrafficPolicyId": {
                    "target": "com.amazonaws.mailmanager#TrafficPolicyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of an existing traffic policy that you attach to an ingress endpoint\n            resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "IngressPointConfiguration": {
                    "target": "com.amazonaws.mailmanager#IngressPointConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>If you choose an Authenticated ingress endpoint, you must configure either an SMTP password or a secret\n            ARN.</p>"
                    }
                },
                "NetworkConfiguration": {
                    "target": "com.amazonaws.mailmanager#NetworkConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the network configuration for the ingress point.\n            This allows you to create an IPv4-only, Dual-Stack, or PrivateLink type of ingress point. If not specified, the default network type is IPv4-only.\n        </p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mailmanager#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#CreateIngressPointResponse": {
            "type": "structure",
            "members": {
                "IngressPointId": {
                    "target": "com.amazonaws.mailmanager#IngressPointId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for a previously created ingress endpoint.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#CreateRelay": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#CreateRelayRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#CreateRelayResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a relay resource which can be used in rules to relay incoming emails to\n            defined relay destinations. </p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#CreateRelayRequest": {
            "type": "structure",
            "members": {
                "ClientToken": {
                    "target": "com.amazonaws.mailmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique token that Amazon SES uses to recognize subsequent retries of the same\n            request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "RelayName": {
                    "target": "com.amazonaws.mailmanager#RelayName",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique name of the relay resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ServerName": {
                    "target": "com.amazonaws.mailmanager#RelayServerName",
                    "traits": {
                        "smithy.api#documentation": "<p>The destination relay server address.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ServerPort": {
                    "target": "com.amazonaws.mailmanager#RelayServerPort",
                    "traits": {
                        "smithy.api#documentation": "<p>The destination relay server port.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Authentication": {
                    "target": "com.amazonaws.mailmanager#RelayAuthentication",
                    "traits": {
                        "smithy.api#documentation": "<p>Authentication for the relay destination server—specify the secretARN where\n            the SMTP credentials are stored.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mailmanager#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#CreateRelayResponse": {
            "type": "structure",
            "members": {
                "RelayId": {
                    "target": "com.amazonaws.mailmanager#RelayId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier of the created relay resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#CreateRuleSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#CreateRuleSetRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#CreateRuleSetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Provision a new rule set.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#CreateRuleSetRequest": {
            "type": "structure",
            "members": {
                "ClientToken": {
                    "target": "com.amazonaws.mailmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique token that Amazon SES uses to recognize subsequent retries of the same\n            request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "RuleSetName": {
                    "target": "com.amazonaws.mailmanager#RuleSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>A user-friendly name for the rule set.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Rules": {
                    "target": "com.amazonaws.mailmanager#Rules",
                    "traits": {
                        "smithy.api#documentation": "<p>Conditional rules that are evaluated for determining actions on email.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mailmanager#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#CreateRuleSetResponse": {
            "type": "structure",
            "members": {
                "RuleSetId": {
                    "target": "com.amazonaws.mailmanager#RuleSetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the created rule set.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#CreateTrafficPolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#CreateTrafficPolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#CreateTrafficPolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Provision a new traffic policy resource.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create TrafficPolicy",
                        "input": {
                            "TrafficPolicyName": "trafficPolicyName",
                            "PolicyStatements": [
                                {
                                    "Conditions": [
                                        {
                                            "IpExpression": {
                                                "Evaluate": {
                                                    "Attribute": "SENDER_IP"
                                                },
                                                "Operator": "CIDR_MATCHES",
                                                "Values": [
                                                    "0.0.0.0/12"
                                                ]
                                            }
                                        }
                                    ],
                                    "Action": "ALLOW"
                                }
                            ],
                            "DefaultAction": "DENY"
                        },
                        "output": {
                            "TrafficPolicyId": "tp-13245"
                        }
                    }
                ],
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#CreateTrafficPolicyRequest": {
            "type": "structure",
            "members": {
                "ClientToken": {
                    "target": "com.amazonaws.mailmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique token that Amazon SES uses to recognize subsequent retries of the same\n            request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "TrafficPolicyName": {
                    "target": "com.amazonaws.mailmanager#TrafficPolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>A user-friendly name for the traffic policy resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PolicyStatements": {
                    "target": "com.amazonaws.mailmanager#PolicyStatementList",
                    "traits": {
                        "smithy.api#documentation": "<p>Conditional statements for filtering email traffic.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DefaultAction": {
                    "target": "com.amazonaws.mailmanager#AcceptAction",
                    "traits": {
                        "smithy.api#documentation": "<p>Default action instructs the traﬃc policy to either Allow or Deny (block) messages that fall outside of (or not addressed by) the conditions of your policy statements</p>",
                        "smithy.api#required": {}
                    }
                },
                "MaxMessageSizeBytes": {
                    "target": "com.amazonaws.mailmanager#MaxMessageSizeBytes",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum message size in bytes of email which is allowed in by this traffic\n            policy—anything larger will be blocked.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mailmanager#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#CreateTrafficPolicyResponse": {
            "type": "structure",
            "members": {
                "TrafficPolicyId": {
                    "target": "com.amazonaws.mailmanager#TrafficPolicyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the traffic policy resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteAddonInstance": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#DeleteAddonInstanceRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#DeleteAddonInstanceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an Add On instance.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteAddonInstanceRequest": {
            "type": "structure",
            "members": {
                "AddonInstanceId": {
                    "target": "com.amazonaws.mailmanager#AddonInstanceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Add On instance ID to delete.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteAddonInstanceResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteAddonSubscription": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#DeleteAddonSubscriptionRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#DeleteAddonSubscriptionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an Add On subscription.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteAddonSubscriptionRequest": {
            "type": "structure",
            "members": {
                "AddonSubscriptionId": {
                    "target": "com.amazonaws.mailmanager#AddonSubscriptionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Add On subscription ID to delete.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteAddonSubscriptionResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteAddressList": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#DeleteAddressListRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#DeleteAddressListResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ThrottlingException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an address list.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteAddressListRequest": {
            "type": "structure",
            "members": {
                "AddressListId": {
                    "target": "com.amazonaws.mailmanager#AddressListId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of an existing address list resource to delete.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteAddressListResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteArchive": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#DeleteArchiveRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#DeleteArchiveResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Initiates deletion of an email archive. This changes the archive state to pending\n            deletion. In this state, no new emails can be added, and existing archived emails become\n            inaccessible (search, export, download). The archive and all of its contents will be\n            permanently deleted 30 days after entering the pending deletion state, regardless of the\n            configured retention period. </p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteArchiveRequest": {
            "type": "structure",
            "members": {
                "ArchiveId": {
                    "target": "com.amazonaws.mailmanager#ArchiveIdString",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the archive to delete.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request to initiate deletion of an email archive.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteArchiveResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>The response indicating if the archive deletion was successfully initiated.</p>\n         <p>On success, returns an HTTP 200 status code. On failure, returns an error\n            message.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteIngressPoint": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#DeleteIngressPointRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#DeleteIngressPointResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete an ingress endpoint resource.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Delete IngressPoint",
                        "input": {
                            "IngressPointId": "inp-12345"
                        },
                        "output": {}
                    }
                ],
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteIngressPointRequest": {
            "type": "structure",
            "members": {
                "IngressPointId": {
                    "target": "com.amazonaws.mailmanager#IngressPointId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the ingress endpoint resource that you want to delete.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteIngressPointResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteRelay": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#DeleteRelayRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#DeleteRelayResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing relay resource.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteRelayRequest": {
            "type": "structure",
            "members": {
                "RelayId": {
                    "target": "com.amazonaws.mailmanager#RelayId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique relay identifier.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteRelayResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteRuleSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#DeleteRuleSetRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#DeleteRuleSetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete a rule set.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteRuleSetRequest": {
            "type": "structure",
            "members": {
                "RuleSetId": {
                    "target": "com.amazonaws.mailmanager#RuleSetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of an existing rule set resource to delete.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteRuleSetResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteTrafficPolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#DeleteTrafficPolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#DeleteTrafficPolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete a traffic policy resource.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Delete TrafficPolicy",
                        "input": {
                            "TrafficPolicyId": "tp-12345"
                        },
                        "output": {}
                    }
                ],
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteTrafficPolicyRequest": {
            "type": "structure",
            "members": {
                "TrafficPolicyId": {
                    "target": "com.amazonaws.mailmanager#TrafficPolicyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the traffic policy that you want to delete.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#DeleteTrafficPolicyResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#DeliverToMailboxAction": {
            "type": "structure",
            "members": {
                "ActionFailurePolicy": {
                    "target": "com.amazonaws.mailmanager#ActionFailurePolicy",
                    "traits": {
                        "smithy.api#documentation": "<p>A policy that states what to do in the case of failure. The action will fail if there\n            are configuration errors. For example, the mailbox ARN is no longer valid.</p>"
                    }
                },
                "MailboxArn": {
                    "target": "com.amazonaws.mailmanager#NameOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a WorkMail organization to deliver the email to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RoleArn": {
                    "target": "com.amazonaws.mailmanager#IamRoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role to use to execute this action. The role must have access to\n            the workmail:DeliverToMailbox API.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This action to delivers an email to a mailbox.</p>"
            }
        },
        "com.amazonaws.mailmanager#DeliverToQBusinessAction": {
            "type": "structure",
            "members": {
                "ActionFailurePolicy": {
                    "target": "com.amazonaws.mailmanager#ActionFailurePolicy",
                    "traits": {
                        "smithy.api#documentation": "<p>A policy that states what to do in the case of failure. The action will fail if there are\n            configuration errors. For example, the specified application has been deleted or the role lacks\n            necessary permissions to call the qbusiness:BatchPutDocument API.</p>"
                    }
                },
                "ApplicationId": {
                    "target": "com.amazonaws.mailmanager#QBusinessApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application instance where the email\n            content will be delivered.</p>",
                        "smithy.api#required": {}
                    }
                },
                "IndexId": {
                    "target": "com.amazonaws.mailmanager#QBusinessIndexId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base index within the Amazon Q Business application\n            where the email content will be stored and indexed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RoleArn": {
                    "target": "com.amazonaws.mailmanager#IamRoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM Role to use while delivering to Amazon Q Business. This role must have access\n            to the qbusiness:BatchPutDocument API for the given application and index.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The action to deliver incoming emails to an Amazon Q Business application for indexing.</p>"
            }
        },
        "com.amazonaws.mailmanager#DeregisterMemberFromAddressList": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#DeregisterMemberFromAddressListRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#DeregisterMemberFromAddressListResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Removes a member from an address list.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mailmanager#DeregisterMemberFromAddressListRequest": {
            "type": "structure",
            "members": {
                "AddressListId": {
                    "target": "com.amazonaws.mailmanager#AddressListId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the address list to remove the address from.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Address": {
                    "target": "com.amazonaws.mailmanager#Address",
                    "traits": {
                        "smithy.api#documentation": "<p>The address to be removed from the address list.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#DeregisterMemberFromAddressListResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mailmanager#DropAction": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>This action causes processing to stop and the email to be dropped. If the action\n            applies only to certain recipients, only those recipients are dropped, and processing\n            continues for other recipients.</p>"
            }
        },
        "com.amazonaws.mailmanager#EmailAddress": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 254
                },
                "smithy.api#pattern": "^[0-9A-Za-z@+.-]+$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.mailmanager#EmailReceivedHeadersList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            }
        },
        "com.amazonaws.mailmanager#Envelope": {
            "type": "structure",
            "members": {
                "Helo": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The HELO used by the host from which the email was received.</p>"
                    }
                },
                "From": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The RCPT FROM given by the host from which the email was received.</p>"
                    }
                },
                "To": {
                    "target": "com.amazonaws.mailmanager#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>All SMTP TO entries given by the host from which the email was received.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The SMTP envelope information of the email.</p>"
            }
        },
        "com.amazonaws.mailmanager#ErrorMessage": {
            "type": "string"
        },
        "com.amazonaws.mailmanager#ExportDestinationConfiguration": {
            "type": "union",
            "members": {
                "S3": {
                    "target": "com.amazonaws.mailmanager#S3ExportDestinationConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration for delivering to an Amazon S3 bucket.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The destination configuration for delivering exported email data.</p>"
            }
        },
        "com.amazonaws.mailmanager#ExportId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.mailmanager#ExportMaxResults": {
            "type": "integer"
        },
        "com.amazonaws.mailmanager#ExportState": {
            "type": "enum",
            "members": {
                "QUEUED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "QUEUED"
                    }
                },
                "PREPROCESSING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PREPROCESSING"
                    }
                },
                "PROCESSING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PROCESSING"
                    }
                },
                "COMPLETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "CANCELLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CANCELLED"
                    }
                }
            }
        },
        "com.amazonaws.mailmanager#ExportStatus": {
            "type": "structure",
            "members": {
                "SubmissionTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the export job was submitted.</p>"
                    }
                },
                "CompletionTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the export job completed (if finished).</p>"
                    }
                },
                "State": {
                    "target": "com.amazonaws.mailmanager#ExportState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the export job.</p>"
                    }
                },
                "ErrorMessage": {
                    "target": "com.amazonaws.mailmanager#ErrorMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>An error message if the export job failed.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The current status of an archive export job.</p>"
            }
        },
        "com.amazonaws.mailmanager#ExportSummary": {
            "type": "structure",
            "members": {
                "ExportId": {
                    "target": "com.amazonaws.mailmanager#ExportId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the export job.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.mailmanager#ExportStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the export job.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary statuses of an archive export job.</p>"
            }
        },
        "com.amazonaws.mailmanager#ExportSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mailmanager#ExportSummary"
            }
        },
        "com.amazonaws.mailmanager#GetAddonInstance": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mailmanager#GetAddonInstanceRequest"
            },
            "output": {
                "target": "com.amazonaws.mailmanager#GetAddonInstanceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mailmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mailmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Gets detailed information about an Add On instance.</p>",
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.mailmanager#GetAddonInstanceRequest": {
            "type": "structure",
            "members": {
                "AddonInstanceId": {
                    "target": "com.amazonaws.mailmanager#AddonInstanceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Add On instance ID to retrieve information for.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mailmanager#GetAddonInstanceResponse": {
            "type": "structure",
            "members": {
                "AddonSubscriptionId": {
                    "target": "com.amazonaws.mailmanager#AddonSubscriptionId",
[...]
