{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.managedblockchainquery#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.managedblockchainquery#ExceptionMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the exception message.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Amazon Web Services account doesn’t have access to this resource. </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.managedblockchainquery#AddressIdentifierFilter": {
            "type": "structure",
            "members": {
                "transactionEventToAddress": {
                    "target": "com.amazonaws.managedblockchainquery#ChainAddresses",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the recipient address of the transaction. </p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 1
                        },
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This is the container for the unique public address on the blockchain.</p>"
            }
        },
        "com.amazonaws.managedblockchainquery#AssetContract": {
            "type": "structure",
            "members": {
                "contractIdentifier": {
                    "target": "com.amazonaws.managedblockchainquery#ContractIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the contract identifier containing its blockchain network \n       and address.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tokenStandard": {
                    "target": "com.amazonaws.managedblockchainquery#QueryTokenStandard",
                    "traits": {
                        "smithy.api#documentation": "<p>The token standard of the contract.</p>",
                        "smithy.api#required": {}
                    }
                },
                "deployerAddress": {
                    "target": "com.amazonaws.managedblockchainquery#ChainAddress",
                    "traits": {
                        "smithy.api#documentation": "<p>The address of the contract deployer.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This container contains information about an contract.</p>"
            }
        },
        "com.amazonaws.managedblockchainquery#AssetContractList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.managedblockchainquery#AssetContract"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 250
                }
            }
        },
        "com.amazonaws.managedblockchainquery#BatchGetTokenBalance": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.managedblockchainquery#BatchGetTokenBalanceInput"
            },
            "output": {
                "target": "com.amazonaws.managedblockchainquery#BatchGetTokenBalanceOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.managedblockchainquery#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#InternalServerException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to batch calls for GetTokenBalance API",
                "smithy.api#documentation": "<p>Gets the token balance for a batch of tokens by using the <code>BatchGetTokenBalance</code> \n         action for every token in the request.</p>\n         <note>\n            <p>Only the native tokens BTC and ETH, and the ERC-20, \n         ERC-721, and ERC 1155 token standards are supported.</p>\n         </note>",
                "smithy.api#http": {
                    "uri": "/batch-get-token-balance",
                    "method": "POST"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.managedblockchainquery#BatchGetTokenBalanceErrorItem": {
            "type": "structure",
            "members": {
                "tokenIdentifier": {
                    "target": "com.amazonaws.managedblockchainquery#TokenIdentifier"
                },
                "ownerIdentifier": {
                    "target": "com.amazonaws.managedblockchainquery#OwnerIdentifier"
                },
                "atBlockchainInstant": {
                    "target": "com.amazonaws.managedblockchainquery#BlockchainInstant"
                },
                "errorCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The error code associated with the error.</p>",
                        "smithy.api#required": {}
                    }
                },
                "errorMessage": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The message associated with the error.</p>",
                        "smithy.api#required": {}
                    }
                },
                "errorType": {
                    "target": "com.amazonaws.managedblockchainquery#ErrorType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of error.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Error generated from a failed <code>BatchGetTokenBalance</code> request.</p>"
            }
        },
        "com.amazonaws.managedblockchainquery#BatchGetTokenBalanceErrors": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.managedblockchainquery#BatchGetTokenBalanceErrorItem"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 10
                }
            }
        },
        "com.amazonaws.managedblockchainquery#BatchGetTokenBalanceInput": {
            "type": "structure",
            "members": {
                "getTokenBalanceInputs": {
                    "target": "com.amazonaws.managedblockchainquery#GetTokenBalanceInputList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of <code>BatchGetTokenBalanceInputItem</code> objects whose balance is being requested.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.managedblockchainquery#BatchGetTokenBalanceInputItem": {
            "type": "structure",
            "members": {
                "tokenIdentifier": {
                    "target": "com.amazonaws.managedblockchainquery#TokenIdentifier",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "ownerIdentifier": {
                    "target": "com.amazonaws.managedblockchainquery#OwnerIdentifier",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "atBlockchainInstant": {
                    "target": "com.amazonaws.managedblockchainquery#BlockchainInstant"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The container for the input for getting a token balance.</p>"
            }
        },
        "com.amazonaws.managedblockchainquery#BatchGetTokenBalanceOutput": {
            "type": "structure",
            "members": {
                "tokenBalances": {
                    "target": "com.amazonaws.managedblockchainquery#BatchGetTokenBalanceOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of <code>BatchGetTokenBalanceOutputItem</code> objects returned by the response.</p>",
                        "smithy.api#required": {}
                    }
                },
                "errors": {
                    "target": "com.amazonaws.managedblockchainquery#BatchGetTokenBalanceErrors",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of <code>BatchGetTokenBalanceErrorItem</code> objects returned from the request.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.managedblockchainquery#BatchGetTokenBalanceOutputItem": {
            "type": "structure",
            "members": {
                "ownerIdentifier": {
                    "target": "com.amazonaws.managedblockchainquery#OwnerIdentifier"
                },
                "tokenIdentifier": {
                    "target": "com.amazonaws.managedblockchainquery#TokenIdentifier"
                },
                "balance": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the token balance.</p>",
                        "smithy.api#required": {}
                    }
                },
                "atBlockchainInstant": {
                    "target": "com.amazonaws.managedblockchainquery#BlockchainInstant",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "lastUpdatedTime": {
                    "target": "com.amazonaws.managedblockchainquery#BlockchainInstant"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The container for the properties of a token balance output.</p>"
            }
        },
        "com.amazonaws.managedblockchainquery#BatchGetTokenBalanceOutputList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.managedblockchainquery#BatchGetTokenBalanceOutputItem"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 10
                }
            }
        },
        "com.amazonaws.managedblockchainquery#BlockHash": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^(0x[A-Fa-f0-9]{64}|[A-Fa-f0-9]{64})$"
            }
        },
        "com.amazonaws.managedblockchainquery#BlockchainInstant": {
            "type": "structure",
            "members": {
                "time": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The container of the <code>Timestamp</code> of the blockchain instant.</p>\n         <note>\n            <p>This <code>timestamp</code> will only be recorded up to \n         the second.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The container for time.</p>"
            }
        },
        "com.amazonaws.managedblockchainquery#ChainAddress": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[-A-Za-z0-9]{13,74}$"
            }
        },
        "com.amazonaws.managedblockchainquery#ChainAddresses": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.managedblockchainquery#ChainAddress"
            }
        },
        "com.amazonaws.managedblockchainquery#ConfirmationStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "FINAL",
                        "name": "FINAL"
                    },
                    {
                        "value": "NONFINAL",
                        "name": "NONFINAL"
                    }
                ]
            }
        },
        "com.amazonaws.managedblockchainquery#ConfirmationStatusFilter": {
            "type": "structure",
            "members": {
                "include": {
                    "target": "com.amazonaws.managedblockchainquery#ConfirmationStatusIncludeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The container to determine whether to list results that have only reached <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/ambq-dg/key-concepts.html#finality\">\n               <i>finality</i>\n            </a>. Transactions \n         that have reached finality are always part of the response.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The container for the <code>ConfirmationStatusFilter</code> that filters for the <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/ambq-dg/key-concepts.html#finality\">\n               <i>finality</i>\n            </a> of the results.</p>"
            }
        },
        "com.amazonaws.managedblockchainquery#ConfirmationStatusIncludeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.managedblockchainquery#ConfirmationStatus"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.managedblockchainquery#ContractFilter": {
            "type": "structure",
            "members": {
                "network": {
                    "target": "com.amazonaws.managedblockchainquery#QueryNetwork",
                    "traits": {
                        "smithy.api#documentation": "<p>The blockchain network of the contract.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tokenStandard": {
                    "target": "com.amazonaws.managedblockchainquery#QueryTokenStandard",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the token standard.</p>",
                        "smithy.api#required": {}
                    }
                },
                "deployerAddress": {
                    "target": "com.amazonaws.managedblockchainquery#ChainAddress",
                    "traits": {
                        "smithy.api#documentation": "<p>The network address of the deployer.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The contract or wallet address by which to filter the request.</p>"
            }
        },
        "com.amazonaws.managedblockchainquery#ContractIdentifier": {
            "type": "structure",
            "members": {
                "network": {
                    "target": "com.amazonaws.managedblockchainquery#QueryNetwork",
                    "traits": {
                        "smithy.api#documentation": "<p>The blockchain network of the contract.</p>",
                        "smithy.api#required": {}
                    }
                },
                "contractAddress": {
                    "target": "com.amazonaws.managedblockchainquery#ChainAddress",
                    "traits": {
                        "smithy.api#documentation": "<p>Container for the blockchain address about a contract.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Container for the blockchain address and network information about a contract.</p>"
            }
        },
        "com.amazonaws.managedblockchainquery#ContractMetadata": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the token contract.</p>"
                    }
                },
                "symbol": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The symbol of the token contract.</p>"
                    }
                },
                "decimals": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The decimals used by the token contract.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The metadata of the contract.</p>"
            }
        },
        "com.amazonaws.managedblockchainquery#ErrorType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "VALIDATION_EXCEPTION",
                        "name": "VALIDATION_EXCEPTION",
                        "documentation": "An API request validation exception"
                    },
                    {
                        "value": "RESOURCE_NOT_FOUND_EXCEPTION",
                        "name": "RESOURCE_NOT_FOUND_EXCEPTION",
                        "documentation": "An API request retrieving an item that can't be found"
                    }
                ]
            }
        },
        "com.amazonaws.managedblockchainquery#ExceptionMessage": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.managedblockchainquery#ExecutionStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "FAILED",
                        "name": "FAILED"
                    },
                    {
                        "value": "SUCCEEDED",
                        "name": "SUCCEEDED"
                    }
                ]
            }
        },
        "com.amazonaws.managedblockchainquery#GetAssetContract": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.managedblockchainquery#GetAssetContractInput"
            },
            "output": {
                "target": "com.amazonaws.managedblockchainquery#GetAssetContractOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.managedblockchainquery#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#InternalServerException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to fetch information about a contract on the blockchain",
                "smithy.api#documentation": "<p>Gets the information about a specific contract deployed on the blockchain.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>The Bitcoin blockchain networks do not support this \n             operation.</p>\n               </li>\n               <li>\n                  <p>Metadata is currently only available for some <code>ERC-20</code> contracts. \n                Metadata will be available for additional contracts in the future.</p>\n               </li>\n            </ul>\n         </note>",
                "smithy.api#http": {
                    "uri": "/get-asset-contract",
                    "method": "POST"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.managedblockchainquery#GetAssetContractInput": {
            "type": "structure",
            "members": {
                "contractIdentifier": {
                    "target": "com.amazonaws.managedblockchainquery#ContractIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the blockchain address and network information about the contract.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.managedblockchainquery#GetAssetContractOutput": {
            "type": "structure",
            "members": {
                "contractIdentifier": {
                    "target": "com.amazonaws.managedblockchainquery#ContractIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the blockchain address and network information about the contract.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tokenStandard": {
                    "target": "com.amazonaws.managedblockchainquery#QueryTokenStandard",
                    "traits": {
                        "smithy.api#documentation": "<p>The token standard of the contract requested.</p>",
                        "smithy.api#required": {}
                    }
                },
                "deployerAddress": {
                    "target": "com.amazonaws.managedblockchainquery#ChainAddress",
                    "traits": {
                        "smithy.api#documentation": "<p>The address of the deployer of contract.</p>",
                        "smithy.api#required": {}
                    }
                },
                "metadata": {
                    "target": "com.amazonaws.managedblockchainquery#ContractMetadata"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.managedblockchainquery#GetTokenBalance": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.managedblockchainquery#GetTokenBalanceInput"
            },
            "output": {
                "target": "com.amazonaws.managedblockchainquery#GetTokenBalanceOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.managedblockchainquery#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#InternalServerException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to retrieve balance of a token for an address on the blockchain",
                "smithy.api#documentation": "<p>Gets the balance of a specific token, including native tokens, for a given address (wallet or contract) on the blockchain.</p>\n         <note>\n            <p>Only the native tokens BTC and ETH, and the ERC-20, \n         ERC-721, and ERC 1155 token standards are supported.</p>\n         </note>",
                "smithy.api#http": {
                    "uri": "/get-token-balance",
                    "method": "POST"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.managedblockchainquery#GetTokenBalanceInput": {
            "type": "structure",
            "members": {
                "tokenIdentifier": {
                    "target": "com.amazonaws.managedblockchainquery#TokenIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the identifier for the token, including the unique \n         token ID and its blockchain network.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ownerIdentifier": {
                    "target": "com.amazonaws.managedblockchainquery#OwnerIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the identifier for the owner.</p>",
                        "smithy.api#required": {}
                    }
                },
                "atBlockchainInstant": {
                    "target": "com.amazonaws.managedblockchainquery#BlockchainInstant",
                    "traits": {
                        "smithy.api#documentation": "<p>The time for when the TokenBalance is requested or \n         the current time if a time is not provided in the request.</p>\n         <note>\n            <p>This time will only be recorded up to the second.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.managedblockchainquery#GetTokenBalanceInputList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.managedblockchainquery#BatchGetTokenBalanceInputItem"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.managedblockchainquery#GetTokenBalanceOutput": {
            "type": "structure",
            "members": {
                "ownerIdentifier": {
                    "target": "com.amazonaws.managedblockchainquery#OwnerIdentifier"
                },
                "tokenIdentifier": {
                    "target": "com.amazonaws.managedblockchainquery#TokenIdentifier"
                },
                "balance": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the token balance.</p>",
                        "smithy.api#required": {}
                    }
                },
                "atBlockchainInstant": {
                    "target": "com.amazonaws.managedblockchainquery#BlockchainInstant",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "lastUpdatedTime": {
                    "target": "com.amazonaws.managedblockchainquery#BlockchainInstant"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.managedblockchainquery#GetTransaction": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.managedblockchainquery#GetTransactionInput"
            },
            "output": {
                "target": "com.amazonaws.managedblockchainquery#GetTransactionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.managedblockchainquery#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#InternalServerException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to retrieve a transaction on the blockchain",
                "smithy.api#documentation": "<p>Gets the details of a transaction.</p>\n         <note>\n            <p>This action will return transaction details for all transactions \n         that are <i>confirmed</i> on the blockchain, even if they have not reached \n         <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/ambq-dg/key-concepts.html#finality\">finality</a>.\n      </p>\n         </note>",
                "smithy.api#http": {
                    "uri": "/get-transaction",
                    "method": "POST"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.managedblockchainquery#GetTransactionInput": {
            "type": "structure",
            "members": {
                "transactionHash": {
                    "target": "com.amazonaws.managedblockchainquery#QueryTransactionHash",
                    "traits": {
                        "smithy.api#documentation": "<p>The hash of a transaction. It is generated when a transaction is created.</p>"
                    }
                },
                "transactionId": {
                    "target": "com.amazonaws.managedblockchainquery#QueryTransactionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of a Bitcoin transaction. It is generated when a transaction is created.</p>\n         <note>\n            <p>\n               <code>transactionId</code> is only supported on the Bitcoin networks.</p>\n         </note>"
                    }
                },
                "network": {
                    "target": "com.amazonaws.managedblockchainquery#QueryNetwork",
                    "traits": {
                        "smithy.api#documentation": "<p>The blockchain network where the transaction occurred.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.managedblockchainquery#GetTransactionOutput": {
            "type": "structure",
            "members": {
                "transaction": {
                    "target": "com.amazonaws.managedblockchainquery#Transaction",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the details of the transaction.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.managedblockchainquery#InternalServerException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.managedblockchainquery#ExceptionMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the exception message.</p>",
                        "smithy.api#required": {}
                    }
                },
                "retryAfterSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the <code>retryAfterSeconds</code> value.</p>",
                        "smithy.api#httpHeader": "Retry-After"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request processing has failed because of an internal error in the service.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListAssetContracts": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.managedblockchainquery#ListAssetContractsInput"
            },
            "output": {
                "target": "com.amazonaws.managedblockchainquery#ListAssetContractsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.managedblockchainquery#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#InternalServerException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to fetch multiple contracts on the blockchain",
                "smithy.api#documentation": "<p>Lists all the contracts for a given contract type deployed by an address \n         (either a contract address or a wallet address).</p>\n         <p>The Bitcoin blockchain networks do not support this \n            operation.</p>",
                "smithy.api#http": {
                    "uri": "/list-asset-contracts",
                    "method": "POST"
                },
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "items": "contracts",
                    "pageSize": "maxResults"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListAssetContractsInput": {
            "type": "structure",
            "members": {
                "contractFilter": {
                    "target": "com.amazonaws.managedblockchainquery#ContractFilter",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the filter parameter for the request.</p>",
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.managedblockchainquery#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p> The pagination token that indicates the next set of results to retrieve.</p>"
                    }
                },
                "maxResults": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of contracts to list.</p>\n         <p>Default: <code>100</code>\n         </p>\n         <note>\n            <p>Even if additional results can be retrieved, the request can return less \n       results than <code>maxResults</code> or an empty array of results.</p>\n            <p>To retrieve the next set of results, make another request with the \n         returned <code>nextToken</code> value. The value of <code>nextToken</code> is \n         <code>null</code> when there are no more results to return</p>\n         </note>",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 250
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListAssetContractsOutput": {
            "type": "structure",
            "members": {
                "contracts": {
                    "target": "com.amazonaws.managedblockchainquery#AssetContractList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of contract objects that contain the properties for each contract.</p>",
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.managedblockchainquery#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListFilteredTransactionEvents": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.managedblockchainquery#ListFilteredTransactionEventsInput"
            },
            "output": {
                "target": "com.amazonaws.managedblockchainquery#ListFilteredTransactionEventsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.managedblockchainquery#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#InternalServerException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to retrieve events on the blockchain with additional filters",
                "smithy.api#documentation": "<p>Lists all the transaction events for an address on the blockchain.</p>\n         <note>\n            <p>This operation is only supported on the Bitcoin networks.</p>\n         </note>",
                "smithy.api#http": {
                    "uri": "/list-filtered-transaction-events",
                    "method": "POST"
                },
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "items": "events",
                    "pageSize": "maxResults"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListFilteredTransactionEventsInput": {
            "type": "structure",
            "members": {
                "network": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The blockchain network where the transaction occurred.</p>\n         <p>Valid Values: <code>BITCOIN_MAINNET</code> | <code>BITCOIN_TESTNET</code>\n         </p>",
                        "smithy.api#required": {}
                    }
                },
                "addressIdentifierFilter": {
                    "target": "com.amazonaws.managedblockchainquery#AddressIdentifierFilter",
                    "traits": {
                        "smithy.api#documentation": "<p>This is the unique public address on the blockchain for which the transaction events are being requested.</p>",
                        "smithy.api#required": {}
                    }
                },
                "timeFilter": {
                    "target": "com.amazonaws.managedblockchainquery#TimeFilter",
                    "traits": {
                        "smithy.api#documentation": "<p>This container specifies the time frame for the transaction events returned in the response.</p>"
                    }
                },
                "voutFilter": {
                    "target": "com.amazonaws.managedblockchainquery#VoutFilter",
                    "traits": {
                        "smithy.api#documentation": "<p>This container specifies filtering attributes related to BITCOIN_VOUT event types</p>"
                    }
                },
                "confirmationStatusFilter": {
                    "target": "com.amazonaws.managedblockchainquery#ConfirmationStatusFilter"
                },
                "sort": {
                    "target": "com.amazonaws.managedblockchainquery#ListFilteredTransactionEventsSort",
                    "traits": {
                        "smithy.api#documentation": "<p>The order by which the results will be sorted.</p>"
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.managedblockchainquery#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
                    }
                },
                "maxResults": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of transaction events to list.</p>\n         <p>Default: <code>100</code>\n         </p>\n         <note>\n            <p>Even if additional results can be retrieved, the request can return less \n       results than <code>maxResults</code> or an empty array of results.</p>\n            <p>To retrieve the next set of results, make another request with the \n         returned <code>nextToken</code> value. The value of <code>nextToken</code> is \n         <code>null</code> when there are no more results to return</p>\n         </note>",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 250
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListFilteredTransactionEventsOutput": {
            "type": "structure",
            "members": {
                "events": {
                    "target": "com.amazonaws.managedblockchainquery#TransactionEventList",
                    "traits": {
                        "smithy.api#documentation": "<p>The transaction events returned by the request.</p>",
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.managedblockchainquery#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListFilteredTransactionEventsSort": {
            "type": "structure",
            "members": {
                "sortBy": {
                    "target": "com.amazonaws.managedblockchainquery#ListFilteredTransactionEventsSortBy",
                    "traits": {
                        "smithy.api#documentation": "<p>Container on how the results will be sorted by?</p>"
                    }
                },
                "sortOrder": {
                    "target": "com.amazonaws.managedblockchainquery#SortOrder",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the <i>sort order</i> for <code>ListFilteredTransactionEvents</code>. \n         The <code>SortOrder</code> field only accepts the values <code>ASCENDING</code> \n         and <code>DESCENDING</code>. Not providing <code>SortOrder</code> will default \n         to <code>ASCENDING</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Lists all the transaction events for an address on the blockchain.</p>\n         <note>\n            <p>This operation is only supported on the Bitcoin blockchain networks.</p>\n         </note>"
            }
        },
        "com.amazonaws.managedblockchainquery#ListFilteredTransactionEventsSortBy": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "blockchainInstant",
                        "name": "blockchainInstant",
                        "documentation": "Timestamp of a transaction"
                    }
                ]
            }
        },
        "com.amazonaws.managedblockchainquery#ListTokenBalances": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.managedblockchainquery#ListTokenBalancesInput"
            },
            "output": {
                "target": "com.amazonaws.managedblockchainquery#ListTokenBalancesOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.managedblockchainquery#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#InternalServerException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to retrieve multiple balances on the blockchain",
                "smithy.api#documentation": "<p>This action returns the following for a given blockchain network:</p>\n         <ul>\n            <li>\n               <p>Lists all token balances owned by an address (either a contract \n          address or a wallet address).</p>\n            </li>\n            <li>\n               <p>Lists all token balances for all tokens created by a contract.</p>\n            </li>\n            <li>\n               <p>Lists all token balances for a given token.</p>\n            </li>\n         </ul>\n         <note>\n            <p>You must always specify the network property of \n                              the <code>tokenFilter</code> when using this operation.</p>\n         </note>",
                "smithy.api#http": {
                    "uri": "/list-token-balances",
                    "method": "POST"
                },
                "smithy.api#paginated": {
                    "items": "tokenBalances",
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "maxResults"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListTokenBalancesInput": {
            "type": "structure",
            "members": {
                "ownerFilter": {
                    "target": "com.amazonaws.managedblockchainquery#OwnerFilter",
                    "traits": {
                        "smithy.api#documentation": "<p>The contract or wallet address on the blockchain network by which to filter the \n         request. You must specify the <code>address</code> property of the <code>ownerFilter</code> \n         when listing balances of tokens owned by the address.</p>"
                    }
                },
                "tokenFilter": {
                    "target": "com.amazonaws.managedblockchainquery#TokenFilter",
                    "traits": {
                        "smithy.api#documentation": "<p>The contract address or a token identifier on the \n        blockchain network by which to filter the request. You must specify the <code>contractAddress</code> \n        property of this container when listing tokens minted by a contract.</p>\n         <note>\n            <p>You must always specify the network property of this \n                           container when using this operation.</p>\n         </note>",
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.managedblockchainquery#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
                    }
                },
                "maxResults": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of token balances to return.</p>\n         <p>Default: <code>100</code>\n         </p>\n         <note>\n            <p>Even if additional results can be retrieved, the request can return less \n       results than <code>maxResults</code> or an empty array of results.</p>\n            <p>To retrieve the next set of results, make another request with the \n         returned <code>nextToken</code> value. The value of <code>nextToken</code> is \n         <code>null</code> when there are no more results to return</p>\n         </note>",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 250
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListTokenBalancesOutput": {
            "type": "structure",
            "members": {
                "tokenBalances": {
                    "target": "com.amazonaws.managedblockchainquery#TokenBalanceList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of <code>TokenBalance</code> objects. Each object contains details about \n       the token balance.</p>",
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.managedblockchainquery#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListTransactionEvents": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.managedblockchainquery#ListTransactionEventsInput"
            },
            "output": {
                "target": "com.amazonaws.managedblockchainquery#ListTransactionEventsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.managedblockchainquery#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#InternalServerException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to retrieve events in a transaction on the blockchain",
                "smithy.api#documentation": "<p>Lists all the transaction events for a transaction </p>\n         <note>\n            <p>This action will return transaction details for all transactions \n         that are <i>confirmed</i> on the blockchain, even if they have not reached \n         <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/ambq-dg/key-concepts.html#finality\">finality</a>.\n      </p>\n         </note>",
                "smithy.api#http": {
                    "uri": "/list-transaction-events",
                    "method": "POST"
                },
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "items": "events",
                    "pageSize": "maxResults"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListTransactionEventsInput": {
            "type": "structure",
            "members": {
                "transactionHash": {
                    "target": "com.amazonaws.managedblockchainquery#QueryTransactionHash",
                    "traits": {
                        "smithy.api#documentation": "<p>The hash of a transaction. It is generated when a transaction is created.</p>"
                    }
                },
                "transactionId": {
                    "target": "com.amazonaws.managedblockchainquery#QueryTransactionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of a Bitcoin transaction. It is generated when a transaction is created.</p>\n         <note>\n            <p>\n               <code>transactionId</code> is only supported on the Bitcoin networks.</p>\n         </note>"
                    }
                },
                "network": {
                    "target": "com.amazonaws.managedblockchainquery#QueryNetwork",
                    "traits": {
                        "smithy.api#documentation": "<p>The blockchain network where the transaction events occurred.</p>",
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.managedblockchainquery#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
                    }
                },
                "maxResults": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of transaction events to list.</p>\n         <p>Default: <code>100</code>\n         </p>\n         <note>\n            <p>Even if additional results can be retrieved, the request can return less \n       results than <code>maxResults</code> or an empty array of results.</p>\n            <p>To retrieve the next set of results, make another request with the \n         returned <code>nextToken</code> value. The value of <code>nextToken</code> is \n         <code>null</code> when there are no more results to return</p>\n         </note>",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 250
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListTransactionEventsOutput": {
            "type": "structure",
            "members": {
                "events": {
                    "target": "com.amazonaws.managedblockchainquery#TransactionEventList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of <code>TransactionEvent</code> objects. Each object contains details \n         about the transaction events.</p>",
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.managedblockchainquery#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListTransactions": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.managedblockchainquery#ListTransactionsInput"
            },
            "output": {
                "target": "com.amazonaws.managedblockchainquery#ListTransactionsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.managedblockchainquery#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#InternalServerException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to retrieve a multiple transactions on a blockchain",
                "smithy.api#documentation": "<p>Lists all the transaction events for a transaction.</p>",
                "smithy.api#http": {
                    "uri": "/list-transactions",
                    "method": "POST"
                },
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "items": "transactions",
                    "pageSize": "maxResults"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListTransactionsInput": {
            "type": "structure",
            "members": {
                "address": {
                    "target": "com.amazonaws.managedblockchainquery#ChainAddress",
                    "traits": {
                        "smithy.api#documentation": "<p>The address (either a contract or wallet), whose transactions are being requested.</p>",
                        "smithy.api#required": {}
                    }
                },
                "network": {
                    "target": "com.amazonaws.managedblockchainquery#QueryNetwork",
                    "traits": {
                        "smithy.api#documentation": "<p>The blockchain network where the transactions occurred.</p>",
                        "smithy.api#required": {}
                    }
                },
                "fromBlockchainInstant": {
                    "target": "com.amazonaws.managedblockchainquery#BlockchainInstant"
                },
                "toBlockchainInstant": {
                    "target": "com.amazonaws.managedblockchainquery#BlockchainInstant"
                },
                "sort": {
                    "target": "com.amazonaws.managedblockchainquery#ListTransactionsSort",
                    "traits": {
                        "smithy.api#documentation": "<p>The order by which the results will be sorted. </p>"
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.managedblockchainquery#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
                    }
                },
                "maxResults": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of transactions to list.</p>\n         <p>Default: <code>100</code>\n         </p>\n         <note>\n            <p>Even if additional results can be retrieved, the request can return less \n       results than <code>maxResults</code> or an empty array of results.</p>\n            <p>To retrieve the next set of results, make another request with the \n         returned <code>nextToken</code> value. The value of <code>nextToken</code> is \n         <code>null</code> when there are no more results to return</p>\n         </note>",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 250
                        }
                    }
                },
                "confirmationStatusFilter": {
                    "target": "com.amazonaws.managedblockchainquery#ConfirmationStatusFilter",
                    "traits": {
                        "smithy.api#documentation": "<p>This filter is used to include transactions in the response that haven't reached <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/ambq-dg/key-concepts.html#finality\">\n               <i>finality</i>\n            </a>. Transactions that have reached finality are always \n         part of the response.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListTransactionsOutput": {
            "type": "structure",
            "members": {
                "transactions": {
                    "target": "com.amazonaws.managedblockchainquery#TransactionOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>The array of transactions returned by the request.</p>",
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.managedblockchainquery#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.managedblockchainquery#ListTransactionsSort": {
            "type": "structure",
            "members": {
                "sortBy": {
                    "target": "com.amazonaws.managedblockchainquery#ListTransactionsSortBy",
                    "traits": {
                        "smithy.api#documentation": "<p>Defaults to the value <code>TRANSACTION_TIMESTAMP</code>.</p>"
                    }
                },
                "sortOrder": {
                    "target": "com.amazonaws.managedblockchainquery#SortOrder",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the <i>sort order</i> for <code>ListTransactions</code>. \n             The <code>SortOrder</code> field only accepts the values <code>ASCENDING</code> \n             and <code>DESCENDING</code>. Not providing <code>SortOrder</code> will default \n             to <code>ASCENDING</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The container for determining how the list transaction result will \n             be sorted.</p>"
            }
        },
        "com.amazonaws.managedblockchainquery#ListTransactionsSortBy": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "TRANSACTION_TIMESTAMP",
                        "name": "TRANSACTION_TIMESTAMP",
                        "documentation": "Timestamp of a transaction"
                    }
                ]
            }
        },
        "com.amazonaws.managedblockchainquery#NextToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 131070
                }
            }
        },
        "com.amazonaws.managedblockchainquery#OwnerFilter": {
            "type": "structure",
            "members": {
                "address": {
                    "target": "com.amazonaws.managedblockchainquery#ChainAddress",
                    "traits": {
                        "smithy.api#documentation": "<p>The contract or wallet address.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The container for the owner information to filter by.</p>"
            }
        },
        "com.amazonaws.managedblockchainquery#OwnerIdentifier": {
            "type": "structure",
            "members": {
                "address": {
                    "target": "com.amazonaws.managedblockchainquery#ChainAddress",
                    "traits": {
                        "smithy.api#documentation": "<p>The contract or wallet address for the owner.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The container for the owner identifier.</p>"
            }
        },
        "com.amazonaws.managedblockchainquery#QueryNetwork": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "ETHEREUM_MAINNET",
                        "name": "ETHEREUM_MAINNET",
                        "documentation": "Ethereum main network"
                    },
                    {
                        "value": "ETHEREUM_SEPOLIA_TESTNET",
                        "name": "ETHEREUM_SEPOLIA_TESTNET",
                        "documentation": "SEPOLIA network (ethereum testnet)"
                    },
                    {
                        "value": "BITCOIN_MAINNET",
                        "name": "BITCOIN_MAINNET",
                        "documentation": "Bitcoin main network"
                    },
                    {
                        "value": "BITCOIN_TESTNET",
                        "name": "BITCOIN_TESTNET",
                        "documentation": "Bitcoin test network"
                    }
                ]
            }
        },
        "com.amazonaws.managedblockchainquery#QueryTokenId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-zA-Z0-9]{1,66}$"
            }
        },
        "com.amazonaws.managedblockchainquery#QueryTokenStandard": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "ERC20",
                        "name": "ERC20"
                    },
                    {
                        "value": "ERC721",
                        "name": "ERC721"
                    },
                    {
                        "value": "ERC1155",
                        "name": "ERC1155"
                    }
                ]
            }
        },
        "com.amazonaws.managedblockchainquery#QueryTransactionEventType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "ERC20_TRANSFER",
                        "name": "ERC20_TRANSFER",
                        "documentation": "An ERC20 transfer type"
                    },
                    {
                        "value": "ERC20_MINT",
                        "name": "ERC20_MINT",
                        "documentation": "An ERC20_MINT transfer type"
                    },
                    {
                        "value": "ERC20_BURN",
                        "name": "ERC20_BURN",
                        "documentation": "An ERC20_BURN transfer type"
                    },
                    {
                        "value": "ERC20_DEPOSIT",
                        "name": "ERC20_DEPOSIT",
                        "documentation": "An ERC20_DEPOSIT transfer type"
                    },
                    {
                        "value": "ERC20_WITHDRAWAL",
                        "name": "ERC20_WITHDRAWAL",
                        "documentation": "An ERC20_WITHDRAWAL transfer type"
                    },
                    {
                        "value": "ERC721_TRANSFER",
                        "name": "ERC721_TRANSFER",
                        "documentation": "An ERC721 transfer type"
                    },
                    {
                        "value": "ERC1155_TRANSFER",
                        "name": "ERC1155_TRANSFER",
                        "documentation": "An ERC1155 transfer type"
                    },
                    {
                        "value": "BITCOIN_VIN",
                        "name": "BITCOIN_VIN",
                        "documentation": "A Bitcoin Vin transfer type"
                    },
                    {
                        "value": "BITCOIN_VOUT",
                        "name": "BITCOIN_VOUT",
                        "documentation": "A Bitcoin Vout transfer type"
                    },
                    {
                        "value": "INTERNAL_ETH_TRANSFER",
                        "name": "INTERNAL_ETH_TRANSFER",
                        "documentation": "An internal ETH transfer type"
                    },
                    {
                        "value": "ETH_TRANSFER",
                        "name": "ETH_TRANSFER",
                        "documentation": "An ETH transfer type"
                    }
                ]
            }
        },
        "com.amazonaws.managedblockchainquery#QueryTransactionHash": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^(0x[A-Fa-f0-9]{64}|[A-Fa-f0-9]{64})$"
            }
        },
        "com.amazonaws.managedblockchainquery#QueryTransactionId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^(0x[A-Fa-f0-9]{64}|[A-Fa-f0-9]{64})$"
            }
        },
        "com.amazonaws.managedblockchainquery#QuotaCode": {
            "type": "string"
        },
        "com.amazonaws.managedblockchainquery#ResourceId": {
            "type": "string"
        },
        "com.amazonaws.managedblockchainquery#ResourceNotFoundException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.managedblockchainquery#ExceptionMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the exception message.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceId": {
                    "target": "com.amazonaws.managedblockchainquery#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>resourceId</code> of the resource that caused the exception.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceType": {
                    "target": "com.amazonaws.managedblockchainquery#ResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>resourceType</code> of the resource that caused the exception.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The resource was not found.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.amazonaws.managedblockchainquery#ResourceType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "collection",
                        "name": "COLLECTION"
                    }
                ]
            }
        },
        "com.amazonaws.managedblockchainquery#ServiceCode": {
            "type": "string"
        },
        "com.amazonaws.managedblockchainquery#ServiceQuotaExceededException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.managedblockchainquery#ExceptionMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the exception message.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceId": {
                    "target": "com.amazonaws.managedblockchainquery#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>resourceId</code> of the resource that caused the exception.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceType": {
                    "target": "com.amazonaws.managedblockchainquery#ResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>resourceType</code> of the resource that caused the exception.</p>",
                        "smithy.api#required": {}
                    }
                },
                "serviceCode": {
                    "target": "com.amazonaws.managedblockchainquery#ServiceCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the <code>serviceCode</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "quotaCode": {
                    "target": "com.amazonaws.managedblockchainquery#QuotaCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the <code>quotaCode</code>.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The service quota has been exceeded for this resource.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 402
            }
        },
        "com.amazonaws.managedblockchainquery#SortOrder": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "ASCENDING",
                        "name": "ASCENDING",
                        "documentation": "Result sorted in ascending order"
                    },
                    {
                        "value": "DESCENDING",
                        "name": "DESCENDING",
                        "documentation": "Result sorted in descending order"
                    }
                ]
            }
        },
        "com.amazonaws.managedblockchainquery#ThrottlingException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.managedblockchainquery#ExceptionMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the exception message.</p>",
                        "smithy.api#required": {}
                    }
                },
                "serviceCode": {
                    "target": "com.amazonaws.managedblockchainquery#ServiceCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the <code>serviceCode</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "quotaCode": {
                    "target": "com.amazonaws.managedblockchainquery#QuotaCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The container for the <code>quotaCode</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "retryAfterSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The container of the <code>retryAfterSeconds</code> value.</p>",
                        "smithy.api#httpHeader": "Retry-After"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request or operation couldn't be performed because a service is throttling \n      requests. The most common source of throttling errors is when you create resources \n      that exceed your service limit for this resource type. Request a limit increase or \n      delete unused resources, if possible.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 429,
                "smithy.api#retryable": {
                    "throttling": true
                }
            }
        },
        "com.amazonaws.managedblockchainquery#TietonChainQueryService": {
            "type": "service",
            "version": "2023-05-04",
            "operations": [
                {
                    "target": "com.amazonaws.managedblockchainquery#BatchGetTokenBalance"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#GetAssetContract"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#GetTokenBalance"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#GetTransaction"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ListAssetContracts"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ListFilteredTransactionEvents"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ListTokenBalances"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ListTransactionEvents"
                },
                {
                    "target": "com.amazonaws.managedblockchainquery#ListTransactions"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "ManagedBlockchain Query",
                    "arnNamespace": "managedblockchain-query"
                },
                "aws.auth#sigv4": {
                    "name": "managedblockchain-query"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "additionalAllowedHeaders": [
                        "*",
                        "Authorization",
                        "Date",
                        "X-Amz-Date",
                        "X-Amz-Security-Token",
                        "X-Amz-Target",
                        "content-type",
                        "x-amz-content-sha256",
                        "x-amz-user-agent",
                        "x-amzn-platform-id",
                        "x-amzn-trace-id"
                    ],
                    "additionalExposedHeaders": [
                        "x-amzn-errortype",
                        "x-amzn-requestid",
                        "x-amzn-errormessage",
                        "x-amzn-trace-id",
                        "x-amz-apigw-id",
                        "date"
                    ],
                    "maxAge": 86400
                },
                "smithy.api#documentation": "<p>Amazon Managed Blockchain (AMB) Query provides you with convenient access to multi-blockchain network data, which makes \n        it easier for you to extract contextual data related to blockchain activity. You can use AMB Query to \n        read data from public blockchain networks, such as Bitcoin Mainnet and Ethereum Mainnet. You can \n        also get information such as the current and historical balances of addresses, or you can get a \n        list of blockchain transactions for a given time period. Additionally, you can get details of a \n        given transaction, such as transaction events, which you can further analyze or use in business \n        logic for your applications.</p>",
                "smithy.api#title": "Amazon Managed Blockchain Query",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://managedblockchain-query-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://managedblockchain-query-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
[...]
