{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.marketplacecommerceanalytics#CustomerDefinedValues": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.marketplacecommerceanalytics#OptionalKey"
            },
            "value": {
                "target": "com.amazonaws.marketplacecommerceanalytics#OptionalValue"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 5
                }
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#DataSetPublicationDate": {
            "type": "timestamp"
        },
        "com.amazonaws.marketplacecommerceanalytics#DataSetRequestId": {
            "type": "string"
        },
        "com.amazonaws.marketplacecommerceanalytics#DataSetType": {
            "type": "enum",
            "members": {
                "CUSTOMER_SUBSCRIBER_HOURLY_MONTHLY_SUBSCRIPTIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "customer_subscriber_hourly_monthly_subscriptions"
                    }
                },
                "CUSTOMER_SUBSCRIBER_ANNUAL_SUBSCRIPTIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "customer_subscriber_annual_subscriptions"
                    }
                },
                "DAILY_BUSINESS_USAGE_BY_INSTANCE_TYPE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "daily_business_usage_by_instance_type"
                    }
                },
                "DAILY_BUSINESS_FEES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "daily_business_fees"
                    }
                },
                "DAILY_BUSINESS_FREE_TRIAL_CONVERSIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "daily_business_free_trial_conversions"
                    }
                },
                "DAILY_BUSINESS_NEW_INSTANCES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "daily_business_new_instances"
                    }
                },
                "DAILY_BUSINESS_NEW_PRODUCT_SUBSCRIBERS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "daily_business_new_product_subscribers"
                    }
                },
                "DAILY_BUSINESS_CANCELED_PRODUCT_SUBSCRIBERS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "daily_business_canceled_product_subscribers"
                    }
                },
                "MONTHLY_REVENUE_BILLING_AND_REVENUE_DATA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "monthly_revenue_billing_and_revenue_data"
                    }
                },
                "MONTHLY_REVENUE_ANNUAL_SUBSCRIPTIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "monthly_revenue_annual_subscriptions"
                    }
                },
                "MONTHLY_REVENUE_FIELD_DEMONSTRATION_USAGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "monthly_revenue_field_demonstration_usage"
                    }
                },
                "MONTHLY_REVENUE_FLEXIBLE_PAYMENT_SCHEDULE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "monthly_revenue_flexible_payment_schedule"
                    }
                },
                "DISBURSED_AMOUNT_BY_PRODUCT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "disbursed_amount_by_product"
                    }
                },
                "DISBURSED_AMOUNT_BY_PRODUCT_WITH_UNCOLLECTED_FUNDS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "disbursed_amount_by_product_with_uncollected_funds"
                    }
                },
                "DISBURSED_AMOUNT_BY_INSTANCE_HOURS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "disbursed_amount_by_instance_hours"
                    }
                },
                "DISBURSED_AMOUNT_BY_CUSTOMER_GEO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "disbursed_amount_by_customer_geo"
                    }
                },
                "DISBURSED_AMOUNT_BY_AGE_OF_UNCOLLECTED_FUNDS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "disbursed_amount_by_age_of_uncollected_funds"
                    }
                },
                "DISBURSED_AMOUNT_BY_AGE_OF_DISBURSED_FUNDS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "disbursed_amount_by_age_of_disbursed_funds"
                    }
                },
                "DISBURSED_AMOUNT_BY_AGE_OF_PAST_DUE_FUNDS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "disbursed_amount_by_age_of_past_due_funds"
                    }
                },
                "DISBURSED_AMOUNT_BY_UNCOLLECTED_FUNDS_BREAKDOWN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "disbursed_amount_by_uncollected_funds_breakdown"
                    }
                },
                "CUSTOMER_PROFILE_BY_INDUSTRY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "customer_profile_by_industry"
                    }
                },
                "CUSTOMER_PROFILE_BY_REVENUE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "customer_profile_by_revenue"
                    }
                },
                "CUSTOMER_PROFILE_BY_GEOGRAPHY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "customer_profile_by_geography"
                    }
                },
                "SALES_COMPENSATION_BILLED_REVENUE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "sales_compensation_billed_revenue"
                    }
                },
                "US_SALES_AND_USE_TAX_RECORDS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "us_sales_and_use_tax_records"
                    }
                }
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                }
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#DestinationS3BucketName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 63
                }
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#DestinationS3Prefix": {
            "type": "string"
        },
        "com.amazonaws.marketplacecommerceanalytics#ExceptionMessage": {
            "type": "string"
        },
        "com.amazonaws.marketplacecommerceanalytics#FromDate": {
            "type": "timestamp"
        },
        "com.amazonaws.marketplacecommerceanalytics#GenerateDataSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.marketplacecommerceanalytics#GenerateDataSetRequest"
            },
            "output": {
                "target": "com.amazonaws.marketplacecommerceanalytics#GenerateDataSetResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.marketplacecommerceanalytics#MarketplaceCommerceAnalyticsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Given a data set type and data set publication date, asynchronously publishes the requested data set to the specified\n        S3 bucket and notifies the specified SNS topic once the data is available. Returns a unique request identifier that\n        can be used to correlate requests with notifications from the SNS topic.\n        Data sets will be published in comma-separated values (CSV) format with the file name {data_set_type}_YYYY-MM-DD.csv.\n        If a file with the same name already exists (e.g. if the same data set is requested twice), the original file will\n        be overwritten by the new file.\n        Requires a Role with an attached permissions policy providing Allow permissions for the following actions:\n        s3:PutObject, s3:GetBucketLocation, sns:GetTopicAttributes, sns:Publish, iam:GetRolePolicy."
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#GenerateDataSetRequest": {
            "type": "structure",
            "members": {
                "dataSetType": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#DataSetType",
                    "traits": {
                        "smithy.api#documentation": "<p>The desired data set type.</p>\n        <p>\n            <ul>\n                <li>\n                    <strong>customer_subscriber_hourly_monthly_subscriptions</strong>\n                    <p>From 2017-09-15 to present: Available daily by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>customer_subscriber_annual_subscriptions</strong>\n                    <p>From 2017-09-15 to present: Available daily by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>daily_business_usage_by_instance_type</strong>\n                    <p>From 2017-09-15 to present: Available daily by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>daily_business_fees</strong>\n                    <p>From 2017-09-15 to present: Available daily by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>daily_business_free_trial_conversions</strong>\n                    <p>From 2017-09-15 to present: Available daily by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>daily_business_new_instances</strong>\n                    <p>From 2017-09-15 to present: Available daily by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>daily_business_new_product_subscribers</strong>\n                    <p>From 2017-09-15 to present: Available daily by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>daily_business_canceled_product_subscribers</strong>\n                    <p>From 2017-09-15 to present: Available daily by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>monthly_revenue_billing_and_revenue_data</strong>\n                    <p>From 2017-09-15 to present: Available monthly on the 15th day of the month by 24:00 UTC. Data includes metered transactions (e.g. hourly) from one month prior.</p>\n                </li>\n                <li>\n                    <strong>monthly_revenue_annual_subscriptions</strong>\n                    <p>From 2017-09-15 to present: Available monthly on the 15th day of the month by 24:00 UTC. Data includes up-front software charges (e.g. annual) from one month prior.</p>\n                </li>\n                <li>\n                    <strong>monthly_revenue_field_demonstration_usage</strong>\n                    <p>From 2018-03-15 to present: Available monthly on the 15th day of the month by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>monthly_revenue_flexible_payment_schedule</strong>\n                    <p>From 2018-11-15 to present: Available monthly on the 15th day of the month by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>disbursed_amount_by_product</strong>\n                    <p>From 2017-09-15 to present: Available every 30 days by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>disbursed_amount_by_instance_hours</strong>\n                    <p>From 2017-09-15 to present: Available every 30 days by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>disbursed_amount_by_customer_geo</strong>\n                    <p>From 2017-09-15 to present: Available every 30 days by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>disbursed_amount_by_age_of_uncollected_funds</strong>\n                    <p>From 2017-09-15 to present: Available every 30 days by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>disbursed_amount_by_age_of_disbursed_funds</strong>\n                    <p>From 2017-09-15 to present: Available every 30 days by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>disbursed_amount_by_age_of_past_due_funds</strong>\n                    <p>From 2018-04-07 to present: Available every 30 days by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>disbursed_amount_by_uncollected_funds_breakdown</strong>\n                    <p>From 2019-10-04 to present: Available every 30 days by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>sales_compensation_billed_revenue</strong>\n                    <p>From 2017-09-15 to present: Available monthly on the 15th day of the month by 24:00 UTC. Data includes metered transactions (e.g. hourly) from one month prior, and up-front software charges (e.g. annual) from one month prior.</p>\n                </li>\n                <li>\n                    <strong>us_sales_and_use_tax_records</strong>\n                    <p>From 2017-09-15 to present: Available monthly on the 15th day of the month by 24:00 UTC.</p>\n                </li>\n                <li>\n                    <strong>disbursed_amount_by_product_with_uncollected_funds</strong>\n                    <p>This data set is deprecated. Download related reports from AMMP instead!</p>\n                </li>\n                <li>\n                    <strong>customer_profile_by_industry</strong>\n                    <p>This data set is deprecated. Download related reports from AMMP instead!</p>\n                </li>\n                <li>\n                    <strong>customer_profile_by_revenue</strong>\n                    <p>This data set is deprecated. Download related reports from AMMP instead!</p>\n                </li>\n                <li>\n                    <strong>customer_profile_by_geography</strong>\n                    <p>This data set is deprecated. Download related reports from AMMP instead!</p>\n                </li>\n            </ul>\n        </p>",
                        "smithy.api#required": {}
                    }
                },
                "dataSetPublicationDate": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#DataSetPublicationDate",
                    "traits": {
                        "smithy.api#documentation": "The date a data set was published.\n        For daily data sets, provide a date with day-level granularity for the desired day.\n        For monthly data sets except those with prefix disbursed_amount, provide a date with month-level granularity for the desired month (the day value will be ignored).\n        For data sets with prefix disbursed_amount, provide a date with day-level granularity for the desired day. For these data sets we will look backwards in time over the range of 31 days until the first data set is found (the latest one).",
                        "smithy.api#required": {}
                    }
                },
                "roleNameArn": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#RoleNameArn",
                    "traits": {
                        "smithy.api#documentation": "The Amazon Resource Name (ARN) of the Role with an attached permissions policy to interact with the provided\n        AWS services.",
                        "smithy.api#required": {}
                    }
                },
                "destinationS3BucketName": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#DestinationS3BucketName",
                    "traits": {
                        "smithy.api#documentation": "The name (friendly name, not ARN) of the destination S3 bucket.",
                        "smithy.api#required": {}
                    }
                },
                "destinationS3Prefix": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#DestinationS3Prefix",
                    "traits": {
                        "smithy.api#documentation": "(Optional) The desired S3 prefix for the published data set, similar to a directory path in standard file systems.\n        For example, if given the bucket name \"mybucket\" and the prefix \"myprefix/mydatasets\", the output file\n        \"outputfile\" would be published to \"s3://mybucket/myprefix/mydatasets/outputfile\".\n        If the prefix directory structure does not exist, it will be created.\n        If no prefix is provided, the data set will be published to the S3 bucket root."
                    }
                },
                "snsTopicArn": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#SnsTopicArn",
                    "traits": {
                        "smithy.api#documentation": "Amazon Resource Name (ARN) for the SNS Topic that will be notified when the data set has been published or if an\n        error has occurred.",
                        "smithy.api#required": {}
                    }
                },
                "customerDefinedValues": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#CustomerDefinedValues",
                    "traits": {
                        "smithy.api#documentation": "(Optional) Key-value pairs which will be returned, unmodified, in the\n        Amazon SNS notification message and the data set metadata file. These\n        key-value pairs can be used to correlated responses with tracking\n        information from other systems."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Container for the parameters to the GenerateDataSet operation.",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#GenerateDataSetResult": {
            "type": "structure",
            "members": {
                "dataSetRequestId": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#DataSetRequestId",
                    "traits": {
                        "smithy.api#documentation": "A unique identifier representing a specific request to the GenerateDataSet operation. This identifier can be\n        used to correlate a request with notifications from the SNS topic."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Container for the result of the GenerateDataSet operation.",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#MarketplaceCommerceAnalytics20150701": {
            "type": "service",
            "version": "2015-07-01",
            "operations": [
                {
                    "target": "com.amazonaws.marketplacecommerceanalytics#GenerateDataSet"
                },
                {
                    "target": "com.amazonaws.marketplacecommerceanalytics#StartSupportDataExport"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Marketplace Commerce Analytics",
                    "arnNamespace": "marketplacecommerceanalytics",
                    "cloudFormationName": "MarketplaceCommerceAnalytics",
                    "cloudTrailEventSource": "marketplacecommerceanalytics.amazonaws.com",
                    "docId": "marketplacecommerceanalytics-2015-07-01",
                    "endpointPrefix": "marketplacecommerceanalytics"
                },
                "aws.auth#sigv4": {
                    "name": "marketplacecommerceanalytics"
                },
                "aws.protocols#awsJson1_1": {},
                "smithy.api#documentation": "Provides AWS Marketplace business intelligence data on-demand.",
                "smithy.api#title": "AWS Marketplace Commerce Analytics",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://marketplacecommerceanalytics-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://marketplacecommerceanalytics-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://marketplacecommerceanalytics.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://marketplacecommerceanalytics.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://marketplacecommerceanalytics.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#MarketplaceCommerceAnalyticsException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#ExceptionMessage",
                    "traits": {
                        "smithy.api#documentation": "This message describes details of the error."
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "This exception is thrown when an internal service error occurs.",
                "smithy.api#error": "server"
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#OptionalKey": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                }
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#OptionalValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                }
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#RoleNameArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#SnsTopicArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                }
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#StartSupportDataExport": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.marketplacecommerceanalytics#StartSupportDataExportRequest"
            },
            "output": {
                "target": "com.amazonaws.marketplacecommerceanalytics#StartSupportDataExportResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.marketplacecommerceanalytics#MarketplaceCommerceAnalyticsException"
                }
            ],
            "traits": {
                "smithy.api#deprecated": {
                    "message": "This target has been deprecated. As of December 2022 Product Support Connection is no longer supported."
                },
                "smithy.api#documentation": "<i>This target has been deprecated.</i> Given a data set type and a from date, asynchronously publishes the requested customer support data\n        to the specified S3 bucket and notifies the specified SNS topic once the data is available. Returns a unique request\n        identifier that can be used to correlate requests with notifications from the SNS topic.\n        Data sets will be published in comma-separated values (CSV) format with the file name {data_set_type}_YYYY-MM-DD'T'HH-mm-ss'Z'.csv.\n        If a file with the same name already exists (e.g. if the same data set is requested twice), the original file will\n        be overwritten by the new file.\n        Requires a Role with an attached permissions policy providing Allow permissions for the following actions:\n        s3:PutObject, s3:GetBucketLocation, sns:GetTopicAttributes, sns:Publish, iam:GetRolePolicy."
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#StartSupportDataExportRequest": {
            "type": "structure",
            "members": {
                "dataSetType": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#SupportDataSetType",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            <i>This target has been deprecated.</i> Specifies the data set type to be written to the output csv file. The data set types customer_support_contacts_data and\n           test_customer_support_contacts_data both result in a csv file containing the following fields: Product Id, Product Code, Customer Guid,\n           Subscription Guid, Subscription Start Date, Organization, AWS Account Id, Given Name, Surname, Telephone Number, Email, Title,\n           Country Code, ZIP Code, Operation Type, and Operation Time.\n        </p>\n        <p>\n            <ul>\n                <li><i>customer_support_contacts_data</i> Customer support contact data. The data set will contain all changes (Creates, Updates, and Deletes) to customer support contact data from the date specified in the from_date parameter.</li>\n                <li><i>test_customer_support_contacts_data</i> An example data set containing static test data in the same format as customer_support_contacts_data</li>\n            </ul>\n        </p>",
                        "smithy.api#required": {}
                    }
                },
                "fromDate": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#FromDate",
                    "traits": {
                        "smithy.api#documentation": "<i>This target has been deprecated.</i> The start date from which to retrieve the data set in UTC.  This parameter only affects the customer_support_contacts_data data set type.",
                        "smithy.api#required": {}
                    }
                },
                "roleNameArn": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#RoleNameArn",
                    "traits": {
                        "smithy.api#documentation": "<i>This target has been deprecated.</i> The Amazon Resource Name (ARN) of the Role with an attached permissions policy to interact with the provided\n        AWS services.",
                        "smithy.api#required": {}
                    }
                },
                "destinationS3BucketName": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#DestinationS3BucketName",
                    "traits": {
                        "smithy.api#documentation": "<i>This target has been deprecated.</i> The name (friendly name, not ARN) of the destination S3 bucket.",
                        "smithy.api#required": {}
                    }
                },
                "destinationS3Prefix": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#DestinationS3Prefix",
                    "traits": {
                        "smithy.api#documentation": "<i>This target has been deprecated.</i> (Optional) The desired S3 prefix for the published data set, similar to a directory path in standard file systems.\n        For example, if given the bucket name \"mybucket\" and the prefix \"myprefix/mydatasets\", the output file\n        \"outputfile\" would be published to \"s3://mybucket/myprefix/mydatasets/outputfile\".\n        If the prefix directory structure does not exist, it will be created.\n        If no prefix is provided, the data set will be published to the S3 bucket root."
                    }
                },
                "snsTopicArn": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#SnsTopicArn",
                    "traits": {
                        "smithy.api#documentation": "<i>This target has been deprecated.</i> Amazon Resource Name (ARN) for the SNS Topic that will be notified when the data set has been published or if an\n        error has occurred.",
                        "smithy.api#required": {}
                    }
                },
                "customerDefinedValues": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#CustomerDefinedValues",
                    "traits": {
                        "smithy.api#documentation": "<i>This target has been deprecated.</i> (Optional) Key-value pairs which will be returned, unmodified, in the\n        Amazon SNS notification message and the data set metadata file."
                    }
                }
            },
            "traits": {
                "smithy.api#deprecated": {
                    "message": "This target has been deprecated. As of December 2022 Product Support Connection is no longer supported."
                },
                "smithy.api#documentation": "<i>This target has been deprecated.</i> Container for the parameters to the StartSupportDataExport operation.",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#StartSupportDataExportResult": {
            "type": "structure",
            "members": {
                "dataSetRequestId": {
                    "target": "com.amazonaws.marketplacecommerceanalytics#DataSetRequestId",
                    "traits": {
                        "smithy.api#documentation": "<i>This target has been deprecated.</i> A unique identifier representing a specific request to the StartSupportDataExport operation. This identifier can be\n        used to correlate a request with notifications from the SNS topic."
                    }
                }
            },
            "traits": {
                "smithy.api#deprecated": {
                    "message": "This target has been deprecated. As of December 2022 Product Support Connection is no longer supported."
                },
                "smithy.api#documentation": "<i>This target has been deprecated.</i> Container for the result of the StartSupportDataExport operation.",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.marketplacecommerceanalytics#SupportDataSetType": {
            "type": "enum",
            "members": {
                "customer_support_contacts_data": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "customer_support_contacts_data"
                    }
                },
                "test_customer_support_contacts_data": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "test_customer_support_contacts_data"
                    }
                }
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                }
            }
        }
    }
}
