{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.marketplaceagreement#AWSAccountId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "^[0-9]+$"
            }
        },
        "com.amazonaws.marketplaceagreement#AWSMPCommerceService_v20200301": {
            "type": "service",
            "version": "2020-03-01",
            "operations": [
                {
                    "target": "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequest"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#CancelAgreementCancellationRequest"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#CancelAgreementPaymentRequest"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#DescribeAgreement"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#GetAgreementCancellationRequest"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#GetAgreementPaymentRequest"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#GetAgreementTerms"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#GetBillingAdjustmentRequest"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ListAgreementCancellationRequests"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ListAgreementInvoiceLineItems"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ListAgreementPaymentRequests"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ListBillingAdjustmentRequests"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#SearchAgreements"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#SendAgreementCancellationRequest"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#SendAgreementPaymentRequest"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Marketplace Agreement",
                    "endpointPrefix": "agreement-marketplace"
                },
                "aws.auth#sigv4": {
                    "name": "aws-marketplace"
                },
                "aws.protocols#awsJson1_0": {},
                "smithy.api#documentation": "<p>AWS Marketplace is a curated digital catalog that customers can use to find, buy, deploy, and manage third-party software, data, and services to build solutions and run their businesses. The AWS Marketplace Agreement Service provides an API interface that helps AWS Marketplace sellers manage their product-related agreements, including listing, searching, and filtering agreements.</p> <p>To manage agreements in AWS Marketplace, you must ensure that your AWS Identity and Access Management (IAM) policies and roles are set up. The user must have the required policies/permissions that allow them to carry out the actions in AWS:</p> <ul> <li> <p> <code>DescribeAgreement</code> – Grants permission to users to obtain detailed meta data about any of their agreements.</p> </li> <li> <p> <code>GetAgreementTerms</code> – Grants permission to users to obtain details about the terms of an agreement.</p> </li> <li> <p> <code>SearchAgreements</code> – Grants permission to users to search through all their agreements.</p> </li> </ul>",
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "maxResults"
                },
                "smithy.api#title": "AWS Marketplace Agreement Service",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://agreement-marketplace-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://agreement-marketplace-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://agreement-marketplace.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://agreement-marketplace.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://agreement-marketplace.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.marketplaceagreement#AcceptedTerm": {
            "type": "union",
            "members": {
                "legalTerm": {
                    "target": "com.amazonaws.marketplaceagreement#LegalTerm",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).</p>"
                    }
                },
                "supportTerm": {
                    "target": "com.amazonaws.marketplaceagreement#SupportTerm",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the customer support available for the acceptors when they purchase the software.</p>"
                    }
                },
                "renewalTerm": {
                    "target": "com.amazonaws.marketplaceagreement#RenewalTerm",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.</p>"
                    }
                },
                "usageBasedPricingTerm": {
                    "target": "com.amazonaws.marketplaceagreement#UsageBasedPricingTerm",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines a usage-based pricing model (typically, pay-as-you-go pricing), where the customers are charged based on product usage.</p>"
                    }
                },
                "configurableUpfrontPricingTerm": {
                    "target": "com.amazonaws.marketplaceagreement#ConfigurableUpfrontPricingTerm",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.</p>"
                    }
                },
                "byolPricingTerm": {
                    "target": "com.amazonaws.marketplaceagreement#ByolPricingTerm",
                    "traits": {
                        "smithy.api#documentation": "<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>"
                    }
                },
                "recurringPaymentTerm": {
                    "target": "com.amazonaws.marketplaceagreement#RecurringPaymentTerm",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.</p>"
                    }
                },
                "validityTerm": {
                    "target": "com.amazonaws.marketplaceagreement#ValidityTerm",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the conditions that will keep an agreement created from this offer valid.</p>"
                    }
                },
                "paymentScheduleTerm": {
                    "target": "com.amazonaws.marketplaceagreement#PaymentScheduleTerm",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.</p>"
                    }
                },
                "freeTrialPricingTerm": {
                    "target": "com.amazonaws.marketplaceagreement#FreeTrialPricingTerm",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.</p>"
                    }
                },
                "fixedUpfrontPricingTerm": {
                    "target": "com.amazonaws.marketplaceagreement#FixedUpfrontPricingTerm",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.</p>"
                    }
                },
                "variablePaymentTerm": {
                    "target": "com.amazonaws.marketplaceagreement#VariablePaymentTerm",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines a payment model where sellers can submit variable payment requests up to a maximum charge amount, with configurable approval strategies and expiration timelines.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A subset of terms proposed by the proposer, which have been accepted by the acceptor as part of agreement creation.</p>"
            }
        },
        "com.amazonaws.marketplaceagreement#AcceptedTermList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.marketplaceagreement#AcceptedTerm"
            }
        },
        "com.amazonaws.marketplaceagreement#Acceptor": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.marketplaceagreement#AWSAccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS account ID of the acceptor.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The details of the party accepting the agreement terms. This is commonly the buyer for <code>PurchaseAgreement</code>.</p>"
            }
        },
        "com.amazonaws.marketplaceagreement#AccessDeniedException": {
            "type": "structure",
            "members": {
                "requestId": {
                    "target": "com.amazonaws.marketplaceagreement#RequestId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the error.</p>"
                    }
                },
                "message": {
                    "target": "com.amazonaws.marketplaceagreement#ExceptionMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>User does not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementCancellationRequestCancellationReason": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2000
                },
                "smithy.api#pattern": "^.+$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementCancellationRequestDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2000
                },
                "smithy.api#pattern": "^.+$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementCancellationRequestId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^acr-[a-zA-Z0-9]+$"
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementCancellationRequestReasonCode": {
            "type": "enum",
            "members": {
                "INCORRECT_TERMS_ACCEPTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INCORRECT_TERMS_ACCEPTED"
                    }
                },
                "REPLACING_AGREEMENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REPLACING_AGREEMENT"
                    }
                },
                "TEST_AGREEMENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TEST_AGREEMENT"
                    }
                },
                "ALTERNATIVE_PROCUREMENT_CHANNEL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALTERNATIVE_PROCUREMENT_CHANNEL"
                    }
                },
                "PRODUCT_DISCONTINUED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PRODUCT_DISCONTINUED"
                    }
                },
                "UNINTENDED_RENEWAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNINTENDED_RENEWAL"
                    }
                },
                "BUYER_DISSATISFACTION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BUYER_DISSATISFACTION"
                    }
                },
                "OTHER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OTHER"
                    }
                }
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementCancellationRequestStatus": {
            "type": "enum",
            "members": {
                "PENDING_APPROVAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING_APPROVAL"
                    }
                },
                "APPROVED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "APPROVED"
                    }
                },
                "REJECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REJECTED"
                    }
                },
                "CANCELLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CANCELLED"
                    }
                },
                "VALIDATION_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VALIDATION_FAILED"
                    }
                }
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementCancellationRequestStatusMessage": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2000
                }
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementCancellationRequestSummary": {
            "type": "structure",
            "members": {
                "agreementCancellationRequestId": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementCancellationRequestId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the cancellation request.</p>"
                    }
                },
                "agreementId": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the agreement associated with this cancellation request.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementCancellationRequestStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the cancellation request. Possible values include <code>PENDING_APPROVAL</code>, <code>APPROVED</code>, <code>REJECTED</code>, <code>CANCELLED</code>, and <code>VALIDATION_FAILED</code>.</p>"
                    }
                },
                "reasonCode": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementCancellationRequestReasonCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason code provided for the cancellation.</p>"
                    }
                },
                "agreementType": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of agreement.</p>"
                    }
                },
                "catalog": {
                    "target": "com.amazonaws.marketplaceagreement#Catalog",
                    "traits": {
                        "smithy.api#documentation": "<p>The catalog in which the agreement was created.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.marketplaceagreement#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the cancellation request was created, as a POSIX timestamp (Unix epoch seconds).</p>"
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.marketplaceagreement#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the cancellation request was last updated, as a POSIX timestamp (Unix epoch seconds).</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary view of an agreement cancellation request.</p>"
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementCancellationRequestSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.marketplaceagreement#AgreementCancellationRequestSummary"
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[A-Za-z0-9_/-]+$"
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementInvoiceLineItemGroupSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.marketplaceagreement#AgreementInvoiceLineItemGroupSummary"
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementInvoiceLineItemGroupSummary": {
            "type": "structure",
            "members": {
                "agreementId": {
                    "target": "com.amazonaws.marketplaceagreement#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the agreement.</p>"
                    }
                },
                "invoiceId": {
                    "target": "com.amazonaws.marketplaceagreement#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the invoice for this group.</p>"
                    }
                },
                "pricingCurrencyAmount": {
                    "target": "com.amazonaws.marketplaceagreement#PricingCurrencyAmount",
                    "traits": {
                        "smithy.api#documentation": "<p>Monetary amounts for this invoice group.</p>"
                    }
                },
                "invoiceBillingPeriod": {
                    "target": "com.amazonaws.marketplaceagreement#InvoiceBillingPeriod",
                    "traits": {
                        "smithy.api#documentation": "<p>The billing period associated with this group.</p>"
                    }
                },
                "issuedTime": {
                    "target": "com.amazonaws.marketplaceagreement#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the invoice containing this group was created.</p>"
                    }
                },
                "invoiceType": {
                    "target": "com.amazonaws.marketplaceagreement#InvoiceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of invoice. Valid values are <code>INVOICE</code> and <code>CREDIT_MEMO</code>.</p>"
                    }
                },
                "invoicingEntity": {
                    "target": "com.amazonaws.marketplaceagreement#InvoicingEntity",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity that issues the invoice.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of grouped billing data for an agreement invoice line item.</p>"
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementResourceType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[a-zA-Z]+$"
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementStatus": {
            "type": "enum",
            "members": {
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "ARCHIVED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ARCHIVED"
                    }
                },
                "CANCELLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CANCELLED"
                    }
                },
                "EXPIRED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EXPIRED"
                    }
                },
                "RENEWED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RENEWED"
                    }
                },
                "REPLACED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REPLACED"
                    }
                },
                "ROLLED_BACK": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ROLLED_BACK"
                    }
                },
                "SUPERSEDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUPERSEDED"
                    }
                },
                "TERMINATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TERMINATED"
                    }
                }
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[A-Za-z]+$"
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementViewSummary": {
            "type": "structure",
            "members": {
                "agreementId": {
                    "target": "com.amazonaws.marketplaceagreement#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the agreement.</p>"
                    }
                },
                "acceptanceTime": {
                    "target": "com.amazonaws.marketplaceagreement#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the agreement was accepted.</p>"
                    }
                },
                "startTime": {
                    "target": "com.amazonaws.marketplaceagreement#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the agreement starts.</p>"
                    }
                },
                "endTime": {
                    "target": "com.amazonaws.marketplaceagreement#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the agreement ends. The field is <code>null</code> for pay-as-you-go agreements, which don’t have end dates.</p>"
                    }
                },
                "agreementType": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of agreement.</p>"
                    }
                },
                "acceptor": {
                    "target": "com.amazonaws.marketplaceagreement#Acceptor",
                    "traits": {
                        "smithy.api#documentation": "<p>Details of the party accepting the agreement terms. This is commonly the buyer for <code>PurchaseAgreement.</code> </p>"
                    }
                },
                "proposer": {
                    "target": "com.amazonaws.marketplaceagreement#Proposer",
                    "traits": {
                        "smithy.api#documentation": "<p>Details of the party proposing the agreement terms, most commonly the seller for <code>PurchaseAgreement</code>.</p>"
                    }
                },
                "proposalSummary": {
                    "target": "com.amazonaws.marketplaceagreement#ProposalSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>A summary of the proposal</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the agreement. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of the agreement, including top-level attributes (for example, the agreement ID, proposer, and acceptor).</p>"
            }
        },
        "com.amazonaws.marketplaceagreement#AgreementViewSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.marketplaceagreement#AgreementViewSummary"
            }
        },
        "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentError": {
            "type": "structure",
            "members": {
                "code": {
                    "target": "com.amazonaws.marketplaceagreement#BillingAdjustmentErrorCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The error code indicating the reason for failure.</p>",
                        "smithy.api#required": {}
                    }
                },
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A human-readable message describing the error.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.marketplaceagreement#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The client token of the request entry that failed.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An error for a billing adjustment request entry that failed validation.</p>"
            }
        },
        "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentErrorList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentError"
            }
        },
        "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentItem": {
            "type": "structure",
            "members": {
                "billingAdjustmentRequestId": {
                    "target": "com.amazonaws.marketplaceagreement#BillingAdjustmentRequestId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the created billing adjustment request.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.marketplaceagreement#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The client token provided in the corresponding request entry.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A successfully created billing adjustment request item.</p>"
            }
        },
        "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentItemList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentItem"
            }
        },
        "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequest": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestInput"
            },
            "output": {
                "target": "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.marketplaceagreement#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ConflictException"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#InternalServerException"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Allows sellers (proposers) to submit billing adjustment requests for one or more invoices within an agreement. Each entry in the batch specifies an invoice and the adjustment amount. The operation returns successfully created adjustment request IDs and any errors for entries that failed validation.</p> <note> <p>Each entry requires a unique <code>clientToken</code> for idempotency. A <code>ValidationException</code> is returned if the adjustment amount exceeds the maximum refundable amount for the invoice.</p> </note>",
                "smithy.api#examples": [
                    {
                        "title": "Create billing adjustment requests",
                        "input": {
                            "billingAdjustmentRequestEntries": [
                                {
                                    "originalInvoiceId": "E2E20230929a108cfae",
                                    "agreementId": "agmt-SvIzsqYMyQwI3GWgJAe17URx",
                                    "adjustmentAmount": "500.00",
                                    "currencyCode": "USD",
                                    "clientToken": "71a5e82e-a49b-4075-8c7f-52df1d294379",
                                    "adjustmentReasonCode": "OTHER",
                                    "description": "Customer requested adjustment due to service outage during critical business period."
                                }
                            ]
                        },
                        "output": {
                            "items": [
                                {
                                    "billingAdjustmentRequestId": "ba-1a2b3c4d5e6f7g",
                                    "clientToken": "71a5e82e-a49b-4075-8c7f-52df1d294379"
                                }
                            ],
                            "errors": []
                        }
                    }
                ]
            }
        },
        "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestEntry": {
            "type": "structure",
            "members": {
                "agreementId": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the agreement associated with the invoice.</p>",
                        "smithy.api#required": {}
                    }
                },
                "originalInvoiceId": {
                    "target": "com.amazonaws.marketplaceagreement#InvoiceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the original invoice to adjust.</p>",
                        "smithy.api#required": {}
                    }
                },
                "adjustmentAmount": {
                    "target": "com.amazonaws.marketplaceagreement#PositiveAmountUpto8Decimals",
                    "traits": {
                        "smithy.api#documentation": "<p>The adjustment amount as a string representation of a decimal number in the currency of the invoice.</p>",
                        "smithy.api#required": {}
                    }
                },
                "currencyCode": {
                    "target": "com.amazonaws.marketplaceagreement#CurrencyCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The 3-letter ISO 4217 currency code for the adjustment amount (e.g., <code>USD</code>).</p>",
                        "smithy.api#required": {}
                    }
                },
                "adjustmentReasonCode": {
                    "target": "com.amazonaws.marketplaceagreement#BillingAdjustmentReasonCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason code for the billing adjustment. Valid values include <code>INCORRECT_TERMS_ACCEPTED</code>, <code>INCORRECT_METERING</code>, <code>TEST_ENVIRONMENT_CHARGES</code>, <code>ALTERNATIVE_PROCUREMENT_CHANNEL</code>, <code>UNINTENDED_RENEWAL</code>, <code>BUYER_DISSATISFACTION</code>, and <code>OTHER</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.marketplaceagreement#BillingAdjustmentDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>An optional detailed description of the adjustment reason.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.marketplaceagreement#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An individual entry in a batch billing adjustment request, specifying the invoice and adjustment details.</p>"
            }
        },
        "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestEntryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestEntry"
            }
        },
        "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestInput": {
            "type": "structure",
            "members": {
                "billingAdjustmentRequestEntries": {
                    "target": "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestEntryList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of billing adjustment request entries. Each entry specifies the invoice and adjustment details.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestOutput": {
            "type": "structure",
            "members": {
                "items": {
                    "target": "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentItemList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of successfully created billing adjustment items, each containing the <code>billingAdjustmentRequestId</code> and <code>clientToken</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "errors": {
                    "target": "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of errors for entries that failed validation, each containing the <code>clientToken</code>, error <code>code</code>, and <code>message</code>.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.marketplaceagreement#BillingAdjustmentDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 500
                },
                "smithy.api#pattern": "^.+$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.marketplaceagreement#BillingAdjustmentErrorCode": {
            "type": "enum",
            "members": {
                "CONFLICT_EXCEPTION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONFLICT_EXCEPTION"
                    }
                },
                "VALIDATION_EXCEPTION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VALIDATION_EXCEPTION"
                    }
                },
                "RESOURCE_NOT_FOUND_EXCEPTION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RESOURCE_NOT_FOUND_EXCEPTION"
                    }
                },
                "INTERNAL_FAILURE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INTERNAL_FAILURE"
                    }
                }
            }
        },
        "com.amazonaws.marketplaceagreement#BillingAdjustmentReasonCode": {
            "type": "enum",
            "members": {
                "INCORRECT_TERMS_ACCEPTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INCORRECT_TERMS_ACCEPTED"
                    }
                },
                "INCORRECT_METERING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INCORRECT_METERING"
                    }
                },
                "TEST_ENVIRONMENT_CHARGES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TEST_ENVIRONMENT_CHARGES"
                    }
                },
                "ALTERNATIVE_PROCUREMENT_CHANNEL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALTERNATIVE_PROCUREMENT_CHANNEL"
                    }
                },
                "UNINTENDED_RENEWAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNINTENDED_RENEWAL"
                    }
                },
                "BUYER_DISSATISFACTION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BUYER_DISSATISFACTION"
                    }
                },
                "OTHER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OTHER"
                    }
                }
            }
        },
        "com.amazonaws.marketplaceagreement#BillingAdjustmentRequestId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^ba-[a-zA-Z0-9]+$"
            }
        },
        "com.amazonaws.marketplaceagreement#BillingAdjustmentStatus": {
            "type": "enum",
            "members": {
                "PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING"
                    }
                },
                "VALIDATION_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VALIDATION_FAILED"
                    }
                },
                "COMPLETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETED"
                    }
                }
            }
        },
        "com.amazonaws.marketplaceagreement#BillingAdjustmentStatusMessage": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 500
                }
            }
        },
        "com.amazonaws.marketplaceagreement#BillingAdjustmentSummary": {
            "type": "structure",
            "members": {
                "billingAdjustmentRequestId": {
                    "target": "com.amazonaws.marketplaceagreement#BillingAdjustmentRequestId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the billing adjustment request.</p>",
                        "smithy.api#required": {}
                    }
                },
                "originalInvoiceId": {
                    "target": "com.amazonaws.marketplaceagreement#InvoiceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the original invoice being adjusted.</p>",
                        "smithy.api#required": {}
                    }
                },
                "adjustmentAmount": {
                    "target": "com.amazonaws.marketplaceagreement#PositiveAmountUpto8Decimals",
                    "traits": {
                        "smithy.api#documentation": "<p>The adjustment amount as a string representation of a decimal number.</p>",
                        "smithy.api#required": {}
                    }
                },
                "currencyCode": {
                    "target": "com.amazonaws.marketplaceagreement#CurrencyCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The currency code for the adjustment amount.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.marketplaceagreement#BillingAdjustmentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the billing adjustment request.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agreementId": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the agreement associated with this billing adjustment request.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.marketplaceagreement#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the billing adjustment request was created, as a POSIX timestamp (Unix epoch seconds).</p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.marketplaceagreement#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the billing adjustment request was last updated, as a POSIX timestamp (Unix epoch seconds).</p>",
                        "smithy.api#required": {}
                    }
                },
                "agreementType": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of agreement.</p>",
                        "smithy.api#required": {}
                    }
                },
                "catalog": {
                    "target": "com.amazonaws.marketplaceagreement#Catalog",
                    "traits": {
                        "smithy.api#documentation": "<p>The catalog in which the agreement was created.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary view of a billing adjustment request.</p>"
            }
        },
        "com.amazonaws.marketplaceagreement#BillingAdjustmentSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.marketplaceagreement#BillingAdjustmentSummary"
            }
        },
        "com.amazonaws.marketplaceagreement#Boolean": {
            "type": "boolean"
        },
        "com.amazonaws.marketplaceagreement#BoundedString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 4096
                },
                "smithy.api#pattern": "^(.)+$"
            }
        },
        "com.amazonaws.marketplaceagreement#ByolPricingTerm": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.marketplaceagreement#UnversionedTermType",
                    "traits": {
                        "smithy.api#documentation": "<p>Type of the term being updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>"
            }
        },
        "com.amazonaws.marketplaceagreement#CancelAgreementCancellationRequest": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.marketplaceagreement#CancelAgreementCancellationRequestInput"
            },
            "output": {
                "target": "com.amazonaws.marketplaceagreement#CancelAgreementCancellationRequestOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.marketplaceagreement#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ConflictException"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#InternalServerException"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Allows sellers (proposers) to withdraw an existing agreement cancellation request that is in a pending state. Once cancelled, the cancellation request transitions to <code>CANCELLED</code> status and can no longer be approved or rejected by the buyer.</p> <note> <p>Only cancellation requests in <code>PENDING_APPROVAL</code> status can be cancelled. A <code>ConflictException</code> is thrown if the cancellation request is in any other status.</p> </note>",
                "smithy.api#examples": [
                    {
                        "title": "Cancel a cancellation request",
                        "input": {
                            "agreementCancellationRequestId": "acr-752jqvg74yo7k4h56cakk6396",
                            "agreementId": "agmt-752jqvg74yo7k4h56cakk6396",
                            "cancellationReason": "Requested agreement cancellation by mistake"
                        },
                        "output": {
                            "agreementCancellationRequestId": "acr-752jqvg74yo7k4h56cakk6396",
                            "agreementId": "agmt-752jqvg74yo7k4h56cakk6396",
                            "reasonCode": "PRODUCT_DISCONTINUED",
                            "description": "Product is being discontinued and no longer supported",
                            "status": "CANCELLED",
                            "statusMessage": "Cancellation requested by seller",
                            "createdAt": "2025-01-15T10:30:00Z",
                            "updatedAt": "2025-01-16T10:30:00Z"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.marketplaceagreement#CancelAgreementCancellationRequestInput": {
            "type": "structure",
            "members": {
                "agreementId": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the agreement associated with the cancellation request.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agreementCancellationRequestId": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementCancellationRequestId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the cancellation request to cancel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "cancellationReason": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementCancellationRequestCancellationReason",
                    "traits": {
                        "smithy.api#documentation": "<p>A required message explaining why the cancellation request is being withdrawn (1-2000 characters).</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.marketplaceagreement#CancelAgreementCancellationRequestOutput": {
            "type": "structure",
            "members": {
                "agreementCancellationRequestId": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementCancellationRequestId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the cancelled cancellation request.</p>"
                    }
                },
                "agreementId": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the agreement associated with this cancellation request.</p>"
                    }
                },
                "reasonCode": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementCancellationRequestReasonCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The original reason code provided when the cancellation request was created.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementCancellationRequestDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The detailed description of the original cancellation reason, if provided.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementCancellationRequestStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The updated status of the cancellation request, which is <code>CANCELLED</code>.</p>"
                    }
                },
                "statusMessage": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementCancellationRequestStatusMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>A message providing additional context about the cancellation request status.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.marketplaceagreement#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the cancellation request was originally created, as a POSIX timestamp (Unix epoch seconds).</p>"
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.marketplaceagreement#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the cancellation request was cancelled, as a POSIX timestamp (Unix epoch seconds).</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.marketplaceagreement#CancelAgreementPaymentRequest": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.marketplaceagreement#CancelAgreementPaymentRequestInput"
            },
            "output": {
                "target": "com.amazonaws.marketplaceagreement#CancelAgreementPaymentRequestOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.marketplaceagreement#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ConflictException"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#InternalServerException"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.marketplaceagreement#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Allows sellers (proposers) to cancel a payment request that is in <code>PENDING_APPROVAL</code> status. Once cancelled, the payment request transitions to <code>CANCELLED</code> status and can no longer be accepted or rejected by the buyer.</p> <note> <p>Only payment requests in <code>PENDING_APPROVAL</code> status can be cancelled. A <code>ConflictException</code> is thrown if the payment request is in any other status.</p> </note>"
            }
        },
        "com.amazonaws.marketplaceagreement#CancelAgreementPaymentRequestInput": {
            "type": "structure",
            "members": {
                "paymentRequestId": {
                    "target": "com.amazonaws.marketplaceagreement#PaymentRequestId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the payment request to cancel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agreementId": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the agreement associated with the payment request.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.marketplaceagreement#CancelAgreementPaymentRequestOutput": {
            "type": "structure",
            "members": {
                "paymentRequestId": {
                    "target": "com.amazonaws.marketplaceagreement#PaymentRequestId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the cancelled payment request.</p>"
                    }
                },
                "agreementId": {
                    "target": "com.amazonaws.marketplaceagreement#AgreementId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the agreement associated with this payment request.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.marketplaceagreement#PaymentRequestStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The updated status of the payment request, which is <code>CANCELLED</code>.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.marketplaceagreement#PaymentRequestName",
                    "traits": {
                        "smithy.api#documentation": "<p>The descriptive name of the payment request.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.marketplaceagreement#PaymentRequestDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The detailed description of the payment request, if provided.</p>"
                    }
                },
                "chargeAmount": {
                    "target": "com.amazonaws.marketplaceagreement#PositiveAmountUpto8Decimals",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount that was requested to be charged.</p>"
                    }
                },
                "currencyCode": {
                    "target": "com.amazonaws.marketplaceagreement#CurrencyCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The currency code for the charge amount.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.marketplaceagreement#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the payment request was originally created, in ISO 8601 format.</p>"
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.marketplaceagreement#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the payment request was cancelled, in ISO 8601 format.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.marketplaceagreement#Catalog": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
[...]
