{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.mediaconnect#AddBridgeFlowSourceRequest": {
            "type": "structure",
            "members": {
                "FlowArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The Amazon Resource Number (ARN) of the flow to use as a source of this bridge. </p>",
                        "smithy.api#jsonName": "flowArn",
                        "smithy.api#pattern": "^arn:.+:mediaconnect.+:flow:.+$",
                        "smithy.api#required": {}
                    }
                },
                "FlowVpcInterfaceAttachment": {
                    "target": "com.amazonaws.mediaconnect#VpcInterfaceAttachment",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the VPC interface attachment to use for this source. </p>",
                        "smithy.api#jsonName": "flowVpcInterfaceAttachment"
                    }
                },
                "Name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The name of the flow source. This name is used to reference the source and must be unique among sources in this bridge. </p>",
                        "smithy.api#jsonName": "name",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Add a flow source to an existing bridge. </p>"
            }
        },
        "com.amazonaws.mediaconnect#AddBridgeNetworkOutputRequest": {
            "type": "structure",
            "members": {
                "IpAddress": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network output IP Address. </p>",
                        "smithy.api#jsonName": "ipAddress",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network output name. This name is used to reference the output and must be unique among outputs in this bridge. </p>",
                        "smithy.api#jsonName": "name",
                        "smithy.api#required": {}
                    }
                },
                "NetworkName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network output's gateway network name. </p>",
                        "smithy.api#jsonName": "networkName",
                        "smithy.api#required": {}
                    }
                },
                "Port": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network output port. </p>",
                        "smithy.api#jsonName": "port",
                        "smithy.api#required": {}
                    }
                },
                "Protocol": {
                    "target": "com.amazonaws.mediaconnect#Protocol",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network output protocol. </p> <note> <p>Elemental MediaConnect no longer supports the Fujitsu QoS protocol. This reference is maintained for legacy purposes only.</p> </note>",
                        "smithy.api#jsonName": "protocol",
                        "smithy.api#required": {}
                    }
                },
                "Ttl": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network output TTL. </p>",
                        "smithy.api#jsonName": "ttl",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Add a network output to an existing bridge. </p>"
            }
        },
        "com.amazonaws.mediaconnect#AddBridgeNetworkSourceRequest": {
            "type": "structure",
            "members": {
                "MulticastIp": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network source multicast IP.</p>",
                        "smithy.api#jsonName": "multicastIp",
                        "smithy.api#required": {}
                    }
                },
                "MulticastSourceSettings": {
                    "target": "com.amazonaws.mediaconnect#MulticastSourceSettings",
                    "traits": {
                        "smithy.api#documentation": "<p> The settings related to the multicast source. </p>",
                        "smithy.api#jsonName": "multicastSourceSettings"
                    }
                },
                "Name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The name of the network source. This name is used to reference the source and must be unique among sources in this bridge.</p>",
                        "smithy.api#jsonName": "name",
                        "smithy.api#required": {}
                    }
                },
                "NetworkName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network source's gateway network name.</p>",
                        "smithy.api#jsonName": "networkName",
                        "smithy.api#required": {}
                    }
                },
                "Port": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network source port.</p>",
                        "smithy.api#jsonName": "port",
                        "smithy.api#required": {}
                    }
                },
                "Protocol": {
                    "target": "com.amazonaws.mediaconnect#Protocol",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network source protocol.</p> <note> <p>Elemental MediaConnect no longer supports the Fujitsu QoS protocol. This reference is maintained for legacy purposes only.</p> </note>",
                        "smithy.api#jsonName": "protocol",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Add a network source to an existing bridge. </p>"
            }
        },
        "com.amazonaws.mediaconnect#AddBridgeOutputRequest": {
            "type": "structure",
            "members": {
                "NetworkOutput": {
                    "target": "com.amazonaws.mediaconnect#AddBridgeNetworkOutputRequest",
                    "traits": {
                        "smithy.api#documentation": "<p> The network output of the bridge. A network output is delivered to your premises. </p>",
                        "smithy.api#jsonName": "networkOutput"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Add outputs to the specified bridge.</p>"
            }
        },
        "com.amazonaws.mediaconnect#AddBridgeOutputs": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediaconnect#AddBridgeOutputsRequest"
            },
            "output": {
                "target": "com.amazonaws.mediaconnect#AddBridgeOutputsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mediaconnect#BadRequestException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ConflictException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#NotFoundException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Adds outputs to an existing bridge.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/bridges/{BridgeArn}/outputs",
                    "code": 202
                }
            }
        },
        "com.amazonaws.mediaconnect#AddBridgeOutputsRequest": {
            "type": "structure",
            "members": {
                "BridgeArn": {
                    "target": "com.amazonaws.mediaconnect#BridgeArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the bridge that you want to update.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#pattern": "^arn:.+:mediaconnect.+:bridge:.+$",
                        "smithy.api#required": {}
                    }
                },
                "Outputs": {
                    "target": "com.amazonaws.mediaconnect#__listOfAddBridgeOutputRequest",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The outputs that you want to add to this bridge.</p>",
                        "smithy.api#jsonName": "outputs",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mediaconnect#AddBridgeOutputsResponse": {
            "type": "structure",
            "members": {
                "BridgeArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The ARN of the bridge that you added outputs to.</p>",
                        "smithy.api#jsonName": "bridgeArn"
                    }
                },
                "Outputs": {
                    "target": "com.amazonaws.mediaconnect#__listOfBridgeOutput",
                    "traits": {
                        "smithy.api#documentation": "<p> The outputs that you added to this bridge.</p>",
                        "smithy.api#jsonName": "outputs"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mediaconnect#AddBridgeSourceRequest": {
            "type": "structure",
            "members": {
                "FlowSource": {
                    "target": "com.amazonaws.mediaconnect#AddBridgeFlowSourceRequest",
                    "traits": {
                        "smithy.api#documentation": "<p> The source of the flow. </p>",
                        "smithy.api#jsonName": "flowSource"
                    }
                },
                "NetworkSource": {
                    "target": "com.amazonaws.mediaconnect#AddBridgeNetworkSourceRequest",
                    "traits": {
                        "smithy.api#documentation": "<p> The source of the network. </p>",
                        "smithy.api#jsonName": "networkSource"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Add an output to a bridge. </p>"
            }
        },
        "com.amazonaws.mediaconnect#AddBridgeSources": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediaconnect#AddBridgeSourcesRequest"
            },
            "output": {
                "target": "com.amazonaws.mediaconnect#AddBridgeSourcesResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mediaconnect#BadRequestException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ConflictException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#NotFoundException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Adds sources to an existing bridge.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/bridges/{BridgeArn}/sources",
                    "code": 202
                }
            }
        },
        "com.amazonaws.mediaconnect#AddBridgeSourcesRequest": {
            "type": "structure",
            "members": {
                "BridgeArn": {
                    "target": "com.amazonaws.mediaconnect#BridgeArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the bridge that you want to update.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Sources": {
                    "target": "com.amazonaws.mediaconnect#__listOfAddBridgeSourceRequest",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The sources that you want to add to this bridge.</p>",
                        "smithy.api#jsonName": "sources",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mediaconnect#AddBridgeSourcesResponse": {
            "type": "structure",
            "members": {
                "BridgeArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The ARN of the bridge that you added sources to.</p>",
                        "smithy.api#jsonName": "bridgeArn"
                    }
                },
                "Sources": {
                    "target": "com.amazonaws.mediaconnect#__listOfBridgeSource",
                    "traits": {
                        "smithy.api#documentation": "<p> The sources that you added to this bridge.</p>",
                        "smithy.api#jsonName": "sources"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mediaconnect#AddEgressGatewayBridgeRequest": {
            "type": "structure",
            "members": {
                "MaxBitrate": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The maximum expected bitrate (in bps) of the egress bridge.</p>",
                        "smithy.api#jsonName": "maxBitrate",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Create a bridge with the egress bridge type. An egress bridge is a cloud-to-ground bridge. The content comes from an existing MediaConnect flow and is delivered to your premises. </p>"
            }
        },
        "com.amazonaws.mediaconnect#AddFlowMediaStreams": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediaconnect#AddFlowMediaStreamsRequest"
            },
            "output": {
                "target": "com.amazonaws.mediaconnect#AddFlowMediaStreamsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mediaconnect#BadRequestException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#NotFoundException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Adds media streams to an existing flow. After you add a media stream to a flow, you can associate it with a source and/or an output that uses the ST 2110 JPEG XS or CDI protocol.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/flows/{FlowArn}/mediaStreams",
                    "code": 201
                }
            }
        },
        "com.amazonaws.mediaconnect#AddFlowMediaStreamsRequest": {
            "type": "structure",
            "members": {
                "FlowArn": {
                    "target": "com.amazonaws.mediaconnect#FlowArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the flow.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#pattern": "^arn:.+:mediaconnect.+:flow:.+$",
                        "smithy.api#required": {}
                    }
                },
                "MediaStreams": {
                    "target": "com.amazonaws.mediaconnect#__listOfAddMediaStreamRequest",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The media streams that you want to add to the flow.</p>",
                        "smithy.api#jsonName": "mediaStreams",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mediaconnect#AddFlowMediaStreamsResponse": {
            "type": "structure",
            "members": {
                "FlowArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The ARN of the flow that you added media streams to.</p>",
                        "smithy.api#jsonName": "flowArn"
                    }
                },
                "MediaStreams": {
                    "target": "com.amazonaws.mediaconnect#__listOfMediaStream",
                    "traits": {
                        "smithy.api#documentation": "<p> The media streams that you added to the flow.</p>",
                        "smithy.api#jsonName": "mediaStreams"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mediaconnect#AddFlowOutputs": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediaconnect#AddFlowOutputsRequest"
            },
            "output": {
                "target": "com.amazonaws.mediaconnect#AddFlowOutputsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mediaconnect#AddFlowOutputs420Exception"
                },
                {
                    "target": "com.amazonaws.mediaconnect#BadRequestException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#NotFoundException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Adds outputs to an existing flow. You can create up to 50 outputs per flow.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/flows/{FlowArn}/outputs",
                    "code": 201
                }
            }
        },
        "com.amazonaws.mediaconnect#AddFlowOutputs420Exception": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#jsonName": "message",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Exception raised by Elemental MediaConnect when adding the flow output. See the error message for the operation for more information on the cause of this exception. </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 420
            }
        },
        "com.amazonaws.mediaconnect#AddFlowOutputsRequest": {
            "type": "structure",
            "members": {
                "FlowArn": {
                    "target": "com.amazonaws.mediaconnect#FlowArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the flow that you want to add outputs to.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#pattern": "^arn:.+:mediaconnect.+:flow:.+$",
                        "smithy.api#required": {}
                    }
                },
                "Outputs": {
                    "target": "com.amazonaws.mediaconnect#__listOfAddOutputRequest",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> A list of outputs that you want to add to the flow.</p>",
                        "smithy.api#jsonName": "outputs",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mediaconnect#AddFlowOutputsResponse": {
            "type": "structure",
            "members": {
                "FlowArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The ARN of the flow that these outputs were added to.</p>",
                        "smithy.api#jsonName": "flowArn"
                    }
                },
                "Outputs": {
                    "target": "com.amazonaws.mediaconnect#__listOfOutput",
                    "traits": {
                        "smithy.api#documentation": "<p> The details of the newly added outputs.</p>",
                        "smithy.api#jsonName": "outputs"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mediaconnect#AddFlowSources": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediaconnect#AddFlowSourcesRequest"
            },
            "output": {
                "target": "com.amazonaws.mediaconnect#AddFlowSourcesResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mediaconnect#BadRequestException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#NotFoundException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Adds sources to a flow.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/flows/{FlowArn}/source",
                    "code": 201
                }
            }
        },
        "com.amazonaws.mediaconnect#AddFlowSourcesRequest": {
            "type": "structure",
            "members": {
                "FlowArn": {
                    "target": "com.amazonaws.mediaconnect#FlowArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the flow that you want to update.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#pattern": "^arn:.+:mediaconnect.+:flow:.+$",
                        "smithy.api#required": {}
                    }
                },
                "Sources": {
                    "target": "com.amazonaws.mediaconnect#__listOfSetSourceRequest",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> A list of sources that you want to add to the flow.</p>",
                        "smithy.api#jsonName": "sources",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mediaconnect#AddFlowSourcesResponse": {
            "type": "structure",
            "members": {
                "FlowArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The ARN of the flow that these sources were added to.</p>",
                        "smithy.api#jsonName": "flowArn"
                    }
                },
                "Sources": {
                    "target": "com.amazonaws.mediaconnect#__listOfSource",
                    "traits": {
                        "smithy.api#documentation": "<p> The details of the newly added sources.</p>",
                        "smithy.api#jsonName": "sources"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mediaconnect#AddFlowVpcInterfaces": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediaconnect#AddFlowVpcInterfacesRequest"
            },
            "output": {
                "target": "com.amazonaws.mediaconnect#AddFlowVpcInterfacesResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mediaconnect#BadRequestException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#NotFoundException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Adds VPC interfaces to a flow.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/flows/{FlowArn}/vpcInterfaces",
                    "code": 201
                }
            }
        },
        "com.amazonaws.mediaconnect#AddFlowVpcInterfacesRequest": {
            "type": "structure",
            "members": {
                "FlowArn": {
                    "target": "com.amazonaws.mediaconnect#FlowArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the flow that you want to update.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#pattern": "^arn:.+:mediaconnect.+:flow:.+$",
                        "smithy.api#required": {}
                    }
                },
                "VpcInterfaces": {
                    "target": "com.amazonaws.mediaconnect#__listOfVpcInterfaceRequest",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> A list of VPC interfaces that you want to add to the flow.</p>",
                        "smithy.api#jsonName": "vpcInterfaces",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mediaconnect#AddFlowVpcInterfacesResponse": {
            "type": "structure",
            "members": {
                "FlowArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The ARN of the flow that these VPC interfaces were added to.</p>",
                        "smithy.api#jsonName": "flowArn"
                    }
                },
                "VpcInterfaces": {
                    "target": "com.amazonaws.mediaconnect#__listOfVpcInterface",
                    "traits": {
                        "smithy.api#documentation": "<p> The details of the newly added VPC interfaces.</p>",
                        "smithy.api#jsonName": "vpcInterfaces"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mediaconnect#AddIngressGatewayBridgeRequest": {
            "type": "structure",
            "members": {
                "MaxBitrate": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The maximum expected bitrate (in bps) of the ingress bridge. </p>",
                        "smithy.api#jsonName": "maxBitrate",
                        "smithy.api#required": {}
                    }
                },
                "MaxOutputs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The maximum number of expected outputs on the ingress bridge. </p>",
                        "smithy.api#jsonName": "maxOutputs",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Create a bridge with the ingress bridge type. An ingress bridge is a ground-to-cloud bridge. The content originates at your premises and is delivered to the cloud. </p>"
            }
        },
        "com.amazonaws.mediaconnect#AddMaintenance": {
            "type": "structure",
            "members": {
                "MaintenanceDay": {
                    "target": "com.amazonaws.mediaconnect#MaintenanceDay",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> A day of a week when the maintenance will happen. </p>",
                        "smithy.api#jsonName": "maintenanceDay",
                        "smithy.api#required": {}
                    }
                },
                "MaintenanceStartHour": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> UTC time when the maintenance will happen. </p> <p>Use 24-hour HH:MM format. </p> <p>Minutes must be 00. </p> <p>Example: 13:00. </p> <p>The default value is 02:00.</p>",
                        "smithy.api#jsonName": "maintenanceStartHour",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Create a maintenance setting for a flow.</p>"
            }
        },
        "com.amazonaws.mediaconnect#AddMediaStreamRequest": {
            "type": "structure",
            "members": {
                "Attributes": {
                    "target": "com.amazonaws.mediaconnect#MediaStreamAttributesRequest",
                    "traits": {
                        "smithy.api#documentation": "<p> The attributes that you want to assign to the new media stream.</p>",
                        "smithy.api#jsonName": "attributes"
                    }
                },
                "ClockRate": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The sample rate (in Hz) for the stream. If the media stream type is video or ancillary data, set this value to 90000. If the media stream type is audio, set this value to either 48000 or 96000.</p>",
                        "smithy.api#jsonName": "clockRate"
                    }
                },
                "Description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> A description that can help you quickly identify what your media stream is used for.</p>",
                        "smithy.api#jsonName": "description"
                    }
                },
                "MediaStreamId": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> A unique identifier for the media stream. </p>",
                        "smithy.api#jsonName": "mediaStreamId",
                        "smithy.api#required": {}
                    }
                },
                "MediaStreamName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> A name that helps you distinguish one media stream from another.</p>",
                        "smithy.api#jsonName": "mediaStreamName",
                        "smithy.api#required": {}
                    }
                },
                "MediaStreamType": {
                    "target": "com.amazonaws.mediaconnect#MediaStreamType",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The type of media stream.</p>",
                        "smithy.api#jsonName": "mediaStreamType",
                        "smithy.api#required": {}
                    }
                },
                "VideoFormat": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The resolution of the video.</p>",
                        "smithy.api#jsonName": "videoFormat"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The media stream that you want to add to the flow. </p>"
            }
        },
        "com.amazonaws.mediaconnect#AddOutputRequest": {
            "type": "structure",
            "members": {
                "CidrAllowList": {
                    "target": "com.amazonaws.mediaconnect#__listOfString",
                    "traits": {
                        "smithy.api#documentation": "<p> The range of IP addresses that should be allowed to initiate output requests to this flow. These IP addresses should be in the form of a Classless Inter-Domain Routing (CIDR) block; for example, 10.0.0.0/16.</p>",
                        "smithy.api#jsonName": "cidrAllowList"
                    }
                },
                "Description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> A description of the output. This description appears only on the Audit Manager console and will not be seen by the end user.</p>",
                        "smithy.api#jsonName": "description"
                    }
                },
                "Destination": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The IP address from which video will be sent to output destinations.</p>",
                        "smithy.api#jsonName": "destination"
                    }
                },
                "Encryption": {
                    "target": "com.amazonaws.mediaconnect#Encryption",
                    "traits": {
                        "smithy.api#documentation": "<p> The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key). Allowable encryption types: static-key.</p>",
                        "smithy.api#jsonName": "encryption"
                    }
                },
                "MaxLatency": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The maximum latency in milliseconds. This parameter applies only to RIST-based and Zixi-based streams.</p>",
                        "smithy.api#jsonName": "maxLatency"
                    }
                },
                "MediaStreamOutputConfigurations": {
                    "target": "com.amazonaws.mediaconnect#__listOfMediaStreamOutputConfigurationRequest",
                    "traits": {
                        "smithy.api#documentation": "<p> The media streams that are associated with the output, and the parameters for those associations.</p>",
                        "smithy.api#jsonName": "mediaStreamOutputConfigurations"
                    }
                },
                "MinLatency": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The minimum latency in milliseconds for SRT-based streams. In streams that use the SRT protocol, this value that you set on your MediaConnect source or output represents the minimal potential latency of that connection. The latency of the stream is set to the highest number between the sender’s minimum latency and the receiver’s minimum latency.</p>",
                        "smithy.api#jsonName": "minLatency"
                    }
                },
                "Name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the output. This value must be unique within the current flow.</p>",
                        "smithy.api#jsonName": "name"
                    }
                },
                "Port": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The port to use when content is distributed to this output.</p>",
                        "smithy.api#jsonName": "port"
                    }
                },
                "Protocol": {
                    "target": "com.amazonaws.mediaconnect#Protocol",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The protocol to use for the output.</p> <note> <p>Elemental MediaConnect no longer supports the Fujitsu QoS protocol. This reference is maintained for legacy purposes only.</p> </note>",
                        "smithy.api#jsonName": "protocol",
                        "smithy.api#required": {}
                    }
                },
                "RemoteId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The remote ID for the Zixi-pull output stream.</p>",
                        "smithy.api#jsonName": "remoteId"
                    }
                },
                "SenderControlPort": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The port that the flow uses to send outbound requests to initiate connection with the sender.</p>",
                        "smithy.api#jsonName": "senderControlPort"
                    }
                },
                "SmoothingLatency": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> The smoothing latency in milliseconds for RIST, RTP, and RTP-FEC streams.</p>",
                        "smithy.api#jsonName": "smoothingLatency"
                    }
                },
                "StreamId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The stream ID that you want to use for this transport. This parameter applies only to Zixi and SRT caller-based streams.</p>",
                        "smithy.api#jsonName": "streamId"
                    }
                },
                "VpcInterfaceAttachment": {
                    "target": "com.amazonaws.mediaconnect#VpcInterfaceAttachment",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the VPC interface attachment to use for this output.</p>",
                        "smithy.api#jsonName": "vpcInterfaceAttachment"
                    }
                },
                "OutputStatus": {
                    "target": "com.amazonaws.mediaconnect#OutputStatus",
                    "traits": {
                        "smithy.api#documentation": "<p> An indication of whether the new output should be enabled or disabled as soon as it is created. If you don't specify the outputStatus field in your request, MediaConnect sets it to ENABLED.</p>",
                        "smithy.api#jsonName": "outputStatus"
                    }
                },
                "NdiSpeedHqQuality": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>A quality setting for the NDI Speed HQ encoder. </p>",
                        "smithy.api#jsonName": "ndiSpeedHqQuality"
                    }
                },
                "NdiProgramName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> A suffix for the names of the NDI sources that the flow creates. If a custom name isn't specified, MediaConnect uses the output name. </p>",
                        "smithy.api#jsonName": "ndiProgramName"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> A request to add an output to a flow.</p>"
            }
        },
        "com.amazonaws.mediaconnect#Algorithm": {
            "type": "enum",
            "members": {
                "aes128": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "aes128",
                        "smithy.api#suppress": [
                            "EnumShape"
                        ]
                    }
                },
                "aes192": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "aes192",
                        "smithy.api#suppress": [
                            "EnumShape"
                        ]
                    }
                },
                "aes256": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "aes256",
                        "smithy.api#suppress": [
                            "EnumShape"
                        ]
                    }
                }
            }
        },
        "com.amazonaws.mediaconnect#AudioMonitoringSetting": {
            "type": "structure",
            "members": {
                "SilentAudio": {
                    "target": "com.amazonaws.mediaconnect#SilentAudio",
                    "traits": {
                        "smithy.api#documentation": "<p> Detects periods of silence. </p>",
                        "smithy.api#jsonName": "silentAudio"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Specifies the configuration for audio stream metrics monitoring.</p>"
            }
        },
        "com.amazonaws.mediaconnect#BadRequestException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#jsonName": "message",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This exception is thrown if the request contains a semantic error. The precise meaning depends on the API, and is documented in the error message. </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.mediaconnect#BlackFrames": {
            "type": "structure",
            "members": {
                "State": {
                    "target": "com.amazonaws.mediaconnect#State",
                    "traits": {
                        "smithy.api#documentation": "<p> Indicates whether the <code>BlackFrames</code> metric is enabled or disabled..</p>",
                        "smithy.api#jsonName": "state"
                    }
                },
                "ThresholdSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> Specifies the number of consecutive seconds of black frames that triggers an event or alert.</p>",
                        "smithy.api#jsonName": "thresholdSeconds"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Configures settings for the <code>BlackFrames</code> metric.</p>"
            }
        },
        "com.amazonaws.mediaconnect#Bridge": {
            "type": "structure",
            "members": {
                "BridgeArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The Amazon Resource Number (ARN) of the bridge.</p>",
                        "smithy.api#jsonName": "bridgeArn",
                        "smithy.api#required": {}
                    }
                },
                "BridgeMessages": {
                    "target": "com.amazonaws.mediaconnect#__listOfMessageDetail",
                    "traits": {
                        "smithy.api#documentation": "<p> Messages with details about the bridge. </p>",
                        "smithy.api#jsonName": "bridgeMessages"
                    }
                },
                "BridgeState": {
                    "target": "com.amazonaws.mediaconnect#BridgeState",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The state of the bridge. </p>",
                        "smithy.api#jsonName": "bridgeState",
                        "smithy.api#required": {}
                    }
                },
                "EgressGatewayBridge": {
                    "target": "com.amazonaws.mediaconnect#EgressGatewayBridge",
                    "traits": {
                        "smithy.api#documentation": "<p> An egress bridge is a cloud-to-ground bridge. The content comes from an existing MediaConnect flow and is delivered to your premises. </p>",
                        "smithy.api#jsonName": "egressGatewayBridge"
                    }
                },
                "IngressGatewayBridge": {
                    "target": "com.amazonaws.mediaconnect#IngressGatewayBridge",
                    "traits": {
                        "smithy.api#documentation": "<p> An ingress bridge is a ground-to-cloud bridge. The content originates at your premises and is delivered to the cloud. </p>",
                        "smithy.api#jsonName": "ingressGatewayBridge"
                    }
                },
                "Name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The name of the bridge.</p>",
                        "smithy.api#jsonName": "name",
                        "smithy.api#required": {}
                    }
                },
                "Outputs": {
                    "target": "com.amazonaws.mediaconnect#__listOfBridgeOutput",
                    "traits": {
                        "smithy.api#documentation": "<p> The outputs on this bridge.</p>",
                        "smithy.api#jsonName": "outputs"
                    }
                },
                "PlacementArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The placement Amazon Resource Number (ARN) of the bridge.</p>",
                        "smithy.api#jsonName": "placementArn",
                        "smithy.api#required": {}
                    }
                },
                "SourceFailoverConfig": {
                    "target": "com.amazonaws.mediaconnect#FailoverConfig",
                    "traits": {
                        "smithy.api#documentation": "<p> The settings for source failover. </p>",
                        "smithy.api#jsonName": "sourceFailoverConfig"
                    }
                },
                "Sources": {
                    "target": "com.amazonaws.mediaconnect#__listOfBridgeSource",
                    "traits": {
                        "smithy.api#documentation": "<p> The sources on this bridge.</p>",
                        "smithy.api#jsonName": "sources"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> A Bridge is the connection between your data center's Instances and the Amazon Web Services cloud. A bridge can be used to send video from the Amazon Web Services cloud to your data center or from your data center to the Amazon Web Services cloud.</p>"
            }
        },
        "com.amazonaws.mediaconnect#BridgeArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::MediaConnect::Bridge",
                    "service": "com.amazonaws.mediaconnect#MediaConnect",
                    "resource": "com.amazonaws.mediaconnect#BridgeResource"
                }
            }
        },
        "com.amazonaws.mediaconnect#BridgeFlowOutput": {
            "type": "structure",
            "members": {
                "FlowArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The Amazon Resource Number (ARN) of the cloud flow.</p>",
                        "smithy.api#jsonName": "flowArn",
                        "smithy.api#required": {}
                    }
                },
                "FlowSourceArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The Amazon Resource Number (ARN) of the flow source.</p>",
                        "smithy.api#jsonName": "flowSourceArn",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The name of the bridge's output.</p>",
                        "smithy.api#jsonName": "name",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The output of the bridge. A flow output is delivered to the Amazon Web Services cloud. </p>"
            }
        },
        "com.amazonaws.mediaconnect#BridgeFlowSource": {
            "type": "structure",
            "members": {
                "FlowArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The ARN of the cloud flow used as a source of this bridge.</p>",
                        "smithy.api#jsonName": "flowArn",
                        "smithy.api#required": {}
                    }
                },
                "FlowVpcInterfaceAttachment": {
                    "target": "com.amazonaws.mediaconnect#VpcInterfaceAttachment",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the VPC interface attachment to use for this source.</p>",
                        "smithy.api#jsonName": "flowVpcInterfaceAttachment"
                    }
                },
                "Name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The name of the flow source.</p>",
                        "smithy.api#jsonName": "name",
                        "smithy.api#required": {}
                    }
                },
                "OutputArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Number (ARN) of the output.</p>",
                        "smithy.api#jsonName": "outputArn"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The source of the bridge. A flow source originates in MediaConnect as an existing cloud flow.</p>"
            }
        },
        "com.amazonaws.mediaconnect#BridgeNetworkOutput": {
            "type": "structure",
            "members": {
                "IpAddress": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network output IP address.</p>",
                        "smithy.api#jsonName": "ipAddress",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network output name.</p>",
                        "smithy.api#jsonName": "name",
                        "smithy.api#required": {}
                    }
                },
                "NetworkName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network output's gateway network name.</p>",
                        "smithy.api#jsonName": "networkName",
                        "smithy.api#required": {}
                    }
                },
                "Port": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network output's port.</p>",
                        "smithy.api#jsonName": "port",
                        "smithy.api#required": {}
                    }
                },
                "Protocol": {
                    "target": "com.amazonaws.mediaconnect#Protocol",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network output protocol.</p> <note> <p>Elemental MediaConnect no longer supports the Fujitsu QoS protocol. This reference is maintained for legacy purposes only.</p> </note>",
                        "smithy.api#jsonName": "protocol",
                        "smithy.api#required": {}
                    }
                },
                "Ttl": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network output TTL.</p>",
                        "smithy.api#jsonName": "ttl",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The output of the bridge. A network output is delivered to your premises.</p>"
            }
        },
        "com.amazonaws.mediaconnect#BridgeNetworkSource": {
            "type": "structure",
            "members": {
                "MulticastIp": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network source multicast IP.</p>",
                        "smithy.api#jsonName": "multicastIp",
                        "smithy.api#required": {}
                    }
                },
                "MulticastSourceSettings": {
                    "target": "com.amazonaws.mediaconnect#MulticastSourceSettings",
                    "traits": {
                        "smithy.api#documentation": "<p>The settings related to the multicast source. </p>",
                        "smithy.api#jsonName": "multicastSourceSettings"
                    }
                },
                "Name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The name of the network source.</p>",
                        "smithy.api#jsonName": "name",
                        "smithy.api#required": {}
                    }
                },
                "NetworkName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network source's gateway network name.</p>",
                        "smithy.api#jsonName": "networkName",
                        "smithy.api#required": {}
                    }
                },
                "Port": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network source port.</p>",
                        "smithy.api#jsonName": "port",
                        "smithy.api#required": {}
                    }
                },
                "Protocol": {
                    "target": "com.amazonaws.mediaconnect#Protocol",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The network source protocol.</p> <note> <p>Elemental MediaConnect no longer supports the Fujitsu QoS protocol. This reference is maintained for legacy purposes only.</p> </note>",
                        "smithy.api#jsonName": "protocol",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The source of the bridge. A network source originates at your premises.</p>"
            }
        },
        "com.amazonaws.mediaconnect#BridgeOutput": {
            "type": "structure",
            "members": {
                "FlowOutput": {
                    "target": "com.amazonaws.mediaconnect#BridgeFlowOutput",
                    "traits": {
                        "smithy.api#documentation": "<p> The output of the associated flow. </p>",
                        "smithy.api#jsonName": "flowOutput"
                    }
                },
                "NetworkOutput": {
                    "target": "com.amazonaws.mediaconnect#BridgeNetworkOutput",
                    "traits": {
                        "smithy.api#documentation": "<p> The network output for the bridge. </p>",
                        "smithy.api#jsonName": "networkOutput"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The output of the bridge.</p>"
            }
        },
        "com.amazonaws.mediaconnect#BridgePlacement": {
            "type": "enum",
            "members": {
                "AVAILABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AVAILABLE"
                    }
                },
                "LOCKED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LOCKED"
                    }
                }
            }
        },
        "com.amazonaws.mediaconnect#BridgeResource": {
            "type": "resource",
            "identifiers": {
                "BridgeArn": {
                    "target": "com.amazonaws.mediaconnect#BridgeArn"
                }
            },
            "create": {
                "target": "com.amazonaws.mediaconnect#CreateBridge"
            },
            "read": {
                "target": "com.amazonaws.mediaconnect#DescribeBridge"
            },
            "update": {
                "target": "com.amazonaws.mediaconnect#UpdateBridge"
            },
            "delete": {
                "target": "com.amazonaws.mediaconnect#DeleteBridge"
            },
            "list": {
                "target": "com.amazonaws.mediaconnect#ListBridges"
            },
            "operations": [
                {
                    "target": "com.amazonaws.mediaconnect#AddBridgeOutputs"
                },
                {
                    "target": "com.amazonaws.mediaconnect#AddBridgeSources"
                },
                {
                    "target": "com.amazonaws.mediaconnect#RemoveBridgeOutput"
                },
                {
                    "target": "com.amazonaws.mediaconnect#RemoveBridgeSource"
                },
                {
                    "target": "com.amazonaws.mediaconnect#UpdateBridgeOutput"
                },
                {
                    "target": "com.amazonaws.mediaconnect#UpdateBridgeSource"
                },
                {
                    "target": "com.amazonaws.mediaconnect#UpdateBridgeState"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "{BridgeArn}",
                    "resourceDelimiter": ":",
                    "absolute": true
                },
                "aws.iam#iamResource": {
                    "name": "bridge"
                }
            }
        },
        "com.amazonaws.mediaconnect#BridgeSource": {
            "type": "structure",
            "members": {
                "FlowSource": {
                    "target": "com.amazonaws.mediaconnect#BridgeFlowSource",
                    "traits": {
                        "smithy.api#documentation": "<p> The source of the associated flow. </p>",
                        "smithy.api#jsonName": "flowSource"
                    }
                },
                "NetworkSource": {
                    "target": "com.amazonaws.mediaconnect#BridgeNetworkSource",
                    "traits": {
                        "smithy.api#documentation": "<p> The network source for the bridge. </p>",
                        "smithy.api#jsonName": "networkSource"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The bridge's source.</p>"
            }
        },
        "com.amazonaws.mediaconnect#BridgeState": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "STANDBY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STANDBY"
                    }
                },
                "STARTING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STARTING"
                    }
                },
                "DEPLOYING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DEPLOYING"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "STOPPING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STOPPING"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "DELETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETED"
                    }
                },
                "START_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "START_FAILED"
                    }
                },
                "START_PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "START_PENDING"
                    }
                },
                "STOP_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STOP_FAILED"
                    }
                },
                "UPDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATING"
                    }
                }
            }
        },
        "com.amazonaws.mediaconnect#Colorimetry": {
            "type": "enum",
            "members": {
                "BT601": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BT601"
                    }
                },
                "BT709": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BT709"
                    }
                },
                "BT2020": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BT2020"
                    }
                },
                "BT2100": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BT2100"
                    }
                },
                "ST2065_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ST2065-1"
                    }
                },
                "ST2065_3": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ST2065-3"
                    }
                },
                "XYZ": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "XYZ"
                    }
                }
            }
        },
        "com.amazonaws.mediaconnect#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#jsonName": "message",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.mediaconnect#ConnectionStatus": {
            "type": "enum",
            "members": {
                "CONNECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CONNECTED"
                    }
                },
                "DISCONNECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISCONNECTED"
                    }
                }
            }
        },
        "com.amazonaws.mediaconnect#ContentQualityAnalysisState": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.mediaconnect#CreateBridge": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediaconnect#CreateBridgeRequest"
            },
            "output": {
                "target": "com.amazonaws.mediaconnect#CreateBridgeResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mediaconnect#BadRequestException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ConflictException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#CreateBridge420Exception"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Creates a new bridge. The request must include one source.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/bridges",
                    "code": 201
                }
            }
        },
        "com.amazonaws.mediaconnect#CreateBridge420Exception": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#jsonName": "message",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Exception raised by Elemental MediaConnect when creating the bridge. See the error message for the operation for more information on the cause of this exception. </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 420
            }
        },
        "com.amazonaws.mediaconnect#CreateBridgeRequest": {
            "type": "structure",
            "members": {
                "EgressGatewayBridge": {
                    "target": "com.amazonaws.mediaconnect#AddEgressGatewayBridgeRequest",
                    "traits": {
                        "smithy.api#documentation": "<p>An egress bridge is a cloud-to-ground bridge. The content comes from an existing MediaConnect flow and is delivered to your premises. </p>",
                        "smithy.api#jsonName": "egressGatewayBridge"
                    }
                },
                "IngressGatewayBridge": {
                    "target": "com.amazonaws.mediaconnect#AddIngressGatewayBridgeRequest",
                    "traits": {
                        "smithy.api#documentation": "<p>An ingress bridge is a ground-to-cloud bridge. The content originates at your premises and is delivered to the cloud. </p>",
                        "smithy.api#jsonName": "ingressGatewayBridge"
                    }
                },
                "Name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The name of the bridge. This name can not be modified after the bridge is created.</p>",
                        "smithy.api#jsonName": "name",
                        "smithy.api#required": {}
                    }
                },
                "Outputs": {
                    "target": "com.amazonaws.mediaconnect#__listOfAddBridgeOutputRequest",
                    "traits": {
                        "smithy.api#documentation": "<p> The outputs that you want to add to this bridge.</p>",
                        "smithy.api#jsonName": "outputs"
                    }
                },
                "PlacementArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The bridge placement Amazon Resource Number (ARN).</p>",
                        "smithy.api#jsonName": "placementArn",
                        "smithy.api#required": {}
                    }
                },
                "SourceFailoverConfig": {
                    "target": "com.amazonaws.mediaconnect#FailoverConfig",
                    "traits": {
                        "smithy.api#documentation": "<p> The settings for source failover.</p>",
                        "smithy.api#jsonName": "sourceFailoverConfig"
                    }
                },
                "Sources": {
                    "target": "com.amazonaws.mediaconnect#__listOfAddBridgeSourceRequest",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The sources that you want to add to this bridge.</p>",
                        "smithy.api#jsonName": "sources",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mediaconnect#CreateBridgeResponse": {
            "type": "structure",
            "members": {
                "Bridge": {
                    "target": "com.amazonaws.mediaconnect#Bridge",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the bridge that was created.</p>",
                        "smithy.api#jsonName": "bridge"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mediaconnect#CreateFlow": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediaconnect#CreateFlowRequest"
            },
            "output": {
                "target": "com.amazonaws.mediaconnect#CreateFlowResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mediaconnect#BadRequestException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#CreateFlow420Exception"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Creates a new flow. The request must include one source. The request optionally can include outputs (up to 50) and entitlements (up to 50).</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/flows",
                    "code": 201
                }
            }
        },
        "com.amazonaws.mediaconnect#CreateFlow420Exception": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#jsonName": "message",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Exception raised by Elemental MediaConnect when creating the flow. See the error message for the operation for more information on the cause of this exception. </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 420
            }
        },
        "com.amazonaws.mediaconnect#CreateFlowRequest": {
            "type": "structure",
            "members": {
                "AvailabilityZone": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The Availability Zone that you want to create the flow in. These options are limited to the Availability Zones within the current Amazon Web Services Region.</p>",
                        "smithy.api#jsonName": "availabilityZone"
                    }
                },
                "Entitlements": {
                    "target": "com.amazonaws.mediaconnect#__listOfGrantEntitlementRequest",
                    "traits": {
                        "smithy.api#documentation": "<p> The entitlements that you want to grant on a flow.</p>",
                        "smithy.api#jsonName": "entitlements"
                    }
                },
                "MediaStreams": {
                    "target": "com.amazonaws.mediaconnect#__listOfAddMediaStreamRequest",
                    "traits": {
                        "smithy.api#documentation": "<p> The media streams that you want to add to the flow. You can associate these media streams with sources and outputs on the flow.</p>",
                        "smithy.api#jsonName": "mediaStreams"
                    }
                },
                "Name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The name of the flow.</p>",
                        "smithy.api#jsonName": "name",
                        "smithy.api#required": {}
                    }
                },
                "Outputs": {
                    "target": "com.amazonaws.mediaconnect#__listOfAddOutputRequest",
                    "traits": {
                        "smithy.api#documentation": "<p> The outputs that you want to add to this flow.</p>",
                        "smithy.api#jsonName": "outputs"
                    }
                },
                "Source": {
                    "target": "com.amazonaws.mediaconnect#SetSourceRequest",
                    "traits": {
                        "smithy.api#documentation": "<p> The settings for the source that you want to use for the new flow. </p>",
                        "smithy.api#jsonName": "source"
                    }
                },
                "SourceFailoverConfig": {
                    "target": "com.amazonaws.mediaconnect#FailoverConfig",
                    "traits": {
                        "smithy.api#documentation": "<p> The settings for source failover. </p>",
                        "smithy.api#jsonName": "sourceFailoverConfig"
                    }
                },
                "Sources": {
                    "target": "com.amazonaws.mediaconnect#__listOfSetSourceRequest",
                    "traits": {
                        "smithy.api#documentation": "<p>The sources that are assigned to the flow. </p>",
                        "smithy.api#jsonName": "sources"
                    }
                },
                "VpcInterfaces": {
                    "target": "com.amazonaws.mediaconnect#__listOfVpcInterfaceRequest",
                    "traits": {
                        "smithy.api#documentation": "<p> The VPC interfaces you want on the flow.</p>",
                        "smithy.api#jsonName": "vpcInterfaces"
                    }
                },
                "Maintenance": {
                    "target": "com.amazonaws.mediaconnect#AddMaintenance",
                    "traits": {
                        "smithy.api#documentation": "<p> The maintenance settings you want to use for the flow. </p>",
                        "smithy.api#jsonName": "maintenance"
                    }
                },
                "SourceMonitoringConfig": {
                    "target": "com.amazonaws.mediaconnect#MonitoringConfig",
                    "traits": {
                        "smithy.api#documentation": "<p> The settings for source monitoring. </p>",
                        "smithy.api#jsonName": "sourceMonitoringConfig"
                    }
                },
                "FlowSize": {
                    "target": "com.amazonaws.mediaconnect#FlowSize",
                    "traits": {
                        "smithy.api#documentation": "<p> Determines the processing capacity and feature set of the flow. Set this optional parameter to <code>LARGE</code> if you want to enable NDI outputs on the flow. </p>",
                        "smithy.api#jsonName": "flowSize"
                    }
                },
                "NdiConfig": {
                    "target": "com.amazonaws.mediaconnect#NdiConfig",
                    "traits": {
                        "smithy.api#documentation": "<p> Specifies the configuration settings for NDI outputs. Required when the flow includes NDI outputs. </p>",
                        "smithy.api#jsonName": "ndiConfig"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mediaconnect#CreateFlowResponse": {
            "type": "structure",
            "members": {
                "Flow": {
                    "target": "com.amazonaws.mediaconnect#Flow",
                    "traits": {
                        "smithy.api#documentation": "<p> The flow that you created. </p>",
                        "smithy.api#jsonName": "flow"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mediaconnect#CreateGateway": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediaconnect#CreateGatewayRequest"
            },
            "output": {
                "target": "com.amazonaws.mediaconnect#CreateGatewayResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mediaconnect#BadRequestException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ConflictException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#CreateGateway420Exception"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Creates a new gateway. The request must include at least one network (up to four).</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/gateways",
                    "code": 201
                }
            }
        },
        "com.amazonaws.mediaconnect#CreateGateway420Exception": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#jsonName": "message",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Exception raised by Elemental MediaConnect when creating the gateway. See the error message for the operation for more information on the cause of this exception. </p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 420
            }
        },
        "com.amazonaws.mediaconnect#CreateGatewayRequest": {
            "type": "structure",
            "members": {
                "EgressCidrBlocks": {
                    "target": "com.amazonaws.mediaconnect#__listOfString",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The range of IP addresses that are allowed to contribute content or initiate output requests for flows communicating with this gateway. These IP addresses should be in the form of a Classless Inter-Domain Routing (CIDR) block; for example, 10.0.0.0/16.</p>",
                        "smithy.api#jsonName": "egressCidrBlocks",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The name of the gateway. This name can not be modified after the gateway is created.</p>",
                        "smithy.api#jsonName": "name",
                        "smithy.api#required": {}
                    }
                },
                "Networks": {
                    "target": "com.amazonaws.mediaconnect#__listOfGatewayNetwork",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p> The list of networks that you want to add to the gateway.</p>",
                        "smithy.api#jsonName": "networks",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mediaconnect#CreateGatewayResponse": {
            "type": "structure",
            "members": {
                "Gateway": {
                    "target": "com.amazonaws.mediaconnect#Gateway",
                    "traits": {
                        "smithy.api#documentation": "<p> The gateway that you created. </p>",
                        "smithy.api#jsonName": "gateway"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mediaconnect#DeleteBridge": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediaconnect#DeleteBridgeRequest"
            },
            "output": {
                "target": "com.amazonaws.mediaconnect#DeleteBridgeResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mediaconnect#BadRequestException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ConflictException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#NotFoundException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Deletes a bridge. Before you can delete a bridge, you must stop the bridge.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/bridges/{BridgeArn}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mediaconnect#DeleteBridgeRequest": {
            "type": "structure",
            "members": {
                "BridgeArn": {
                    "target": "com.amazonaws.mediaconnect#BridgeArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the bridge that you want to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#pattern": "^arn:.+:mediaconnect.+:bridge:.+$",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mediaconnect#DeleteBridgeResponse": {
            "type": "structure",
            "members": {
                "BridgeArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The ARN of the deleted bridge.</p>",
                        "smithy.api#jsonName": "bridgeArn"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mediaconnect#DeleteFlow": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediaconnect#DeleteFlowRequest"
            },
            "output": {
                "target": "com.amazonaws.mediaconnect#DeleteFlowResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mediaconnect#BadRequestException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#NotFoundException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Deletes a flow. Before you can delete a flow, you must stop the flow.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/flows/{FlowArn}",
                    "code": 202
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mediaconnect#DeleteFlowRequest": {
            "type": "structure",
            "members": {
                "FlowArn": {
                    "target": "com.amazonaws.mediaconnect#FlowArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the flow that you want to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#pattern": "^arn:.+:mediaconnect.+:flow:.+$",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mediaconnect#DeleteFlowResponse": {
            "type": "structure",
            "members": {
                "FlowArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The ARN of the flow that was deleted.</p>",
                        "smithy.api#jsonName": "flowArn"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.mediaconnect#Status",
                    "traits": {
                        "smithy.api#documentation": "<p> The status of the flow when the <code>DeleteFlow</code> process begins.</p>",
                        "smithy.api#jsonName": "status"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mediaconnect#DeleteGateway": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediaconnect#DeleteGatewayRequest"
            },
            "output": {
                "target": "com.amazonaws.mediaconnect#DeleteGatewayResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mediaconnect#BadRequestException"
                },
                {
                    "target": "com.amazonaws.mediaconnect#ConflictException"
                },
                {
[...]
