{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.mediatailor#AccessConfiguration": {
            "type": "structure",
            "members": {
                "AccessType": {
                    "target": "com.amazonaws.mediatailor#AccessType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of authentication used to access content from <code>HttpConfiguration::BaseUrl</code> on your source location.</p> <p> <code>S3_SIGV4</code> - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use <code>S3_SIGV4</code>, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p> <p> <code>AUTODETECT_SIGV4</code> - AWS Signature Version 4 authentication for a set of supported services: MediaPackage Version 2 and Amazon S3 hosted virtual-style access. If your source location base URL is a MediaPackage Version 2 endpoint or an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the resource where your source content is stored.</p> <p>Before you can use <code>AUTODETECT_SIGV4</code> with a MediaPackage Version 2 endpoint, you must meet these requirements:</p> <p>• You must grant MediaTailor access to your MediaPackage endpoint by granting <code>mediatailor.amazonaws.com</code> principal access in an Origin Access policy on the endpoint.</p> <p>• Your MediaTailor source location base URL must be a MediaPackage V2 endpoint.</p> <p>• The caller of the API must have <code>mediapackagev2:GetObject</code> IAM permissions to read all top level manifests referenced by the MediaTailor source packaging configurations.</p> <p>Before you can use <code>AUTODETECT_SIGV4</code> with an Amazon S3 bucket, you must meet these requirements:</p> <p>• You must grant MediaTailor access to your S3 bucket by granting <code>mediatailor.amazonaws.com</code> principal access in IAM. For more information about configuring access in IAM, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access management</a> in the <i>IAM User Guide.</i>.</p> <p>• The <code>mediatailor.amazonaws.com</code> service principal must have permissions to read all top-level manifests referenced by the <code>VodSource</code> packaging configurations.</p> <p>• The caller of the API must have <code>s3:GetObject</code> IAM permissions to read all top level manifests referenced by your MediaTailor <code>VodSource</code> packaging configurations.</p>"
                    }
                },
                "SecretsManagerAccessTokenConfiguration": {
                    "target": "com.amazonaws.mediatailor#SecretsManagerAccessTokenConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>AWS Secrets Manager access token configuration parameters.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Access configuration parameters.</p>"
            }
        },
        "com.amazonaws.mediatailor#AccessType": {
            "type": "enum",
            "members": {
                "S3_SIGV4": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "S3_SIGV4"
                    }
                },
                "SECRETS_MANAGER_ACCESS_TOKEN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SECRETS_MANAGER_ACCESS_TOKEN"
                    }
                },
                "AUTODETECT_SIGV4": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AUTODETECT_SIGV4"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#AdBreak": {
            "type": "structure",
            "members": {
                "MessageType": {
                    "target": "com.amazonaws.mediatailor#MessageType",
                    "traits": {
                        "smithy.api#documentation": "<p>The SCTE-35 ad insertion type. Accepted value: <code>SPLICE_INSERT</code>, <code>TIME_SIGNAL</code>.</p>"
                    }
                },
                "OffsetMillis": {
                    "target": "com.amazonaws.mediatailor#__long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>How long (in milliseconds) after the beginning of the program that an ad starts. This value must fall within 100ms of a segment boundary, otherwise the ad break will be skipped.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Slate": {
                    "target": "com.amazonaws.mediatailor#SlateSource",
                    "traits": {
                        "smithy.api#documentation": "<p>Ad break slate configuration.</p>"
                    }
                },
                "SpliceInsertMessage": {
                    "target": "com.amazonaws.mediatailor#SpliceInsertMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>This defines the SCTE-35 <code>splice_insert()</code> message inserted around the ad. For information about using <code>splice_insert()</code>, see the SCTE-35 specficiaiton, section 9.7.3.1.</p>"
                    }
                },
                "TimeSignalMessage": {
                    "target": "com.amazonaws.mediatailor#TimeSignalMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the SCTE-35 <code>time_signal</code> message inserted around the ad.</p> <p>Programs on a channel's schedule can be configured with one or more ad breaks. You can attach a <code>splice_insert</code> SCTE-35 message to the ad break. This message provides basic metadata about the ad break.</p> <p>See section 9.7.4 of the 2022 SCTE-35 specification for more information.</p>"
                    }
                },
                "AdBreakMetadata": {
                    "target": "com.amazonaws.mediatailor#AdBreakMetadataList",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines a list of key/value pairs that MediaTailor generates within the <code>EXT-X-ASSET</code>tag for <code>SCTE35_ENHANCED</code> output.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Ad break configuration parameters.</p>"
            }
        },
        "com.amazonaws.mediatailor#AdBreakMetadataList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mediatailor#KeyValuePair"
            }
        },
        "com.amazonaws.mediatailor#AdBreakOpportunities": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mediatailor#AdBreakOpportunity"
            },
            "traits": {
                "smithy.api#documentation": "<p>The list of ad break opportunities detected within the VOD source.</p>"
            }
        },
        "com.amazonaws.mediatailor#AdBreakOpportunity": {
            "type": "structure",
            "members": {
                "OffsetMillis": {
                    "target": "com.amazonaws.mediatailor#__long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The offset in milliseconds from the start of the VOD source at which an ad marker was detected.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A location at which a zero-duration ad marker was detected in a VOD source manifest.</p>"
            }
        },
        "com.amazonaws.mediatailor#AdConditioningConfiguration": {
            "type": "structure",
            "members": {
                "StreamingMediaFileConditioning": {
                    "target": "com.amazonaws.mediatailor#StreamingMediaFileConditioning",
                    "traits": {
                        "smithy.api#documentation": "<p>For ads that have media files with streaming delivery and supported file extensions, indicates what transcoding action MediaTailor takes when it first receives these ads from the ADS. <code>TRANSCODE</code> indicates that MediaTailor must transcode the ads. <code>NONE</code> indicates that you have already transcoded the ads outside of MediaTailor and don't need them transcoded as part of the ad insertion workflow. For more information about ad conditioning see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/precondition-ads.html\">Using preconditioned ads</a> in the Elemental MediaTailor user guide.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The setting that indicates what conditioning MediaTailor will perform on ads that the ad decision server (ADS) returns.</p>"
            }
        },
        "com.amazonaws.mediatailor#AdMarkerPassthrough": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "target": "com.amazonaws.mediatailor#__boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Enables ad marker passthrough for your configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>For HLS, when set to <code>true</code>, MediaTailor passes through <code>EXT-X-CUE-IN</code>, <code>EXT-X-CUE-OUT</code>, and <code>EXT-X-SPLICEPOINT-SCTE35</code> ad markers from the origin manifest to the MediaTailor personalized manifest.</p> <p>No logic is applied to these ad markers. For example, if <code>EXT-X-CUE-OUT</code> has a value of <code>60</code>, but no ads are filled for that ad break, MediaTailor will not set the value to <code>0</code>.</p>"
            }
        },
        "com.amazonaws.mediatailor#AdMarkupType": {
            "type": "enum",
            "members": {
                "DATERANGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DATERANGE"
                    }
                },
                "SCTE35_ENHANCED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SCTE35_ENHANCED"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#AdsInteractionExcludeEventType": {
            "type": "enum",
            "members": {
                "AD_MARKER_FOUND": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AD_MARKER_FOUND"
                    }
                },
                "NON_AD_MARKER_FOUND": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NON_AD_MARKER_FOUND"
                    }
                },
                "MAKING_ADS_REQUEST": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MAKING_ADS_REQUEST"
                    }
                },
                "MODIFIED_TARGET_URL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MODIFIED_TARGET_URL"
                    }
                },
                "VAST_REDIRECT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VAST_REDIRECT"
                    }
                },
                "EMPTY_VAST_RESPONSE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EMPTY_VAST_RESPONSE"
                    }
                },
                "EMPTY_VMAP_RESPONSE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EMPTY_VMAP_RESPONSE"
                    }
                },
                "VAST_RESPONSE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VAST_RESPONSE"
                    }
                },
                "REDIRECTED_VAST_RESPONSE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REDIRECTED_VAST_RESPONSE"
                    }
                },
                "FILLED_AVAIL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FILLED_AVAIL"
                    }
                },
                "FILLED_OVERLAY_AVAIL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FILLED_OVERLAY_AVAIL"
                    }
                },
                "BEACON_FIRED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BEACON_FIRED"
                    }
                },
                "WARNING_NO_ADVERTISEMENTS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "WARNING_NO_ADVERTISEMENTS"
                    }
                },
                "WARNING_VPAID_AD_DROPPED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "WARNING_VPAID_AD_DROPPED"
                    }
                },
                "WARNING_URL_VARIABLE_SUBSTITUTION_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "WARNING_URL_VARIABLE_SUBSTITUTION_FAILED"
                    }
                },
                "ERROR_UNKNOWN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_UNKNOWN"
                    }
                },
                "ERROR_UNKNOWN_HOST": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_UNKNOWN_HOST"
                    }
                },
                "ERROR_DISALLOWED_HOST": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_DISALLOWED_HOST"
                    }
                },
                "ERROR_ADS_IO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_ADS_IO"
                    }
                },
                "ERROR_ADS_TIMEOUT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_ADS_TIMEOUT"
                    }
                },
                "ERROR_ADS_RESPONSE_PARSE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_ADS_RESPONSE_PARSE"
                    }
                },
                "ERROR_ADS_RESPONSE_UNKNOWN_ROOT_ELEMENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_ADS_RESPONSE_UNKNOWN_ROOT_ELEMENT"
                    }
                },
                "ERROR_ADS_INVALID_RESPONSE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_ADS_INVALID_RESPONSE"
                    }
                },
                "ERROR_VAST_REDIRECT_EMPTY_RESPONSE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_VAST_REDIRECT_EMPTY_RESPONSE"
                    }
                },
                "ERROR_VAST_REDIRECT_MULTIPLE_VAST": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_VAST_REDIRECT_MULTIPLE_VAST"
                    }
                },
                "ERROR_VAST_REDIRECT_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_VAST_REDIRECT_FAILED"
                    }
                },
                "ERROR_VAST_MISSING_MEDIAFILES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_VAST_MISSING_MEDIAFILES"
                    }
                },
                "ERROR_VAST_MISSING_CREATIVES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_VAST_MISSING_CREATIVES"
                    }
                },
                "ERROR_VAST_MISSING_OVERLAYS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_VAST_MISSING_OVERLAYS"
                    }
                },
                "ERROR_VAST_MISSING_IMPRESSION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_VAST_MISSING_IMPRESSION"
                    }
                },
                "ERROR_VAST_INVALID_VAST_AD_TAG_URI": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_VAST_INVALID_VAST_AD_TAG_URI"
                    }
                },
                "ERROR_VAST_MULTIPLE_TRACKING_EVENTS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_VAST_MULTIPLE_TRACKING_EVENTS"
                    }
                },
                "ERROR_VAST_MULTIPLE_LINEAR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_VAST_MULTIPLE_LINEAR"
                    }
                },
                "ERROR_VAST_INVALID_MEDIA_FILE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_VAST_INVALID_MEDIA_FILE"
                    }
                },
                "ERROR_FIRING_BEACON_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_FIRING_BEACON_FAILED"
                    }
                },
                "ERROR_PERSONALIZATION_DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR_PERSONALIZATION_DISABLED"
                    }
                },
                "VOD_TIME_BASED_AVAIL_PLAN_VAST_RESPONSE_FOR_OFFSET": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VOD_TIME_BASED_AVAIL_PLAN_VAST_RESPONSE_FOR_OFFSET"
                    }
                },
                "VOD_TIME_BASED_AVAIL_PLAN_SUCCESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VOD_TIME_BASED_AVAIL_PLAN_SUCCESS"
                    }
                },
                "VOD_TIME_BASED_AVAIL_PLAN_WARNING_NO_ADVERTISEMENTS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VOD_TIME_BASED_AVAIL_PLAN_WARNING_NO_ADVERTISEMENTS"
                    }
                },
                "INTERSTITIAL_VOD_SUCCESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INTERSTITIAL_VOD_SUCCESS"
                    }
                },
                "INTERSTITIAL_VOD_FAILURE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INTERSTITIAL_VOD_FAILURE"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#AdsInteractionLog": {
            "type": "structure",
            "members": {
                "PublishOptInEventTypes": {
                    "target": "com.amazonaws.mediatailor#__adsInteractionPublishOptInEventTypesList",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates that MediaTailor emits <code>RAW_ADS_RESPONSE</code> logs for playback sessions that are initialized with this configuration.</p>"
                    }
                },
                "ExcludeEventTypes": {
                    "target": "com.amazonaws.mediatailor#__adsInteractionExcludeEventTypesList",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates that MediaTailor won't emit the selected events in the logs for playback sessions that are initialized with this configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Settings for customizing what events are included in logs for interactions with the ad decision server (ADS).</p> <p>For more information about ADS logs, inlcuding descriptions of the event types, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/ads-log-format.html\">MediaTailor ADS logs description and event types</a> in Elemental MediaTailor User Guide.</p>"
            }
        },
        "com.amazonaws.mediatailor#AdsInteractionPublishOptInEventType": {
            "type": "enum",
            "members": {
                "RAW_ADS_RESPONSE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RAW_ADS_RESPONSE"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#Alert": {
            "type": "structure",
            "members": {
                "AlertCode": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The code for the alert. For example, <code>NOT_PROCESSED</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "AlertMessage": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>If an alert is generated for a resource, an explanation of the reason for the alert.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LastModifiedTime": {
                    "target": "com.amazonaws.mediatailor#__timestampUnix",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the alert was last modified.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RelatedResourceArns": {
                    "target": "com.amazonaws.mediatailor#__listOf__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) related to this alert.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ResourceArn": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Category": {
                    "target": "com.amazonaws.mediatailor#AlertCategory",
                    "traits": {
                        "smithy.api#documentation": "<p>The category that MediaTailor assigns to the alert.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Alert configuration parameters.</p>"
            }
        },
        "com.amazonaws.mediatailor#AlertCategory": {
            "type": "enum",
            "members": {
                "SCHEDULING_ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SCHEDULING_ERROR"
                    }
                },
                "PLAYBACK_WARNING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PLAYBACK_WARNING"
                    }
                },
                "INFO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INFO"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#AlternateMedia": {
            "type": "structure",
            "members": {
                "SourceLocationName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the source location for alternateMedia.</p>"
                    }
                },
                "LiveSourceName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the live source for alternateMedia.</p>"
                    }
                },
                "VodSourceName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the VOD source for alternateMedia.</p>"
                    }
                },
                "ClipRange": {
                    "target": "com.amazonaws.mediatailor#ClipRange"
                },
                "ScheduledStartTimeMillis": {
                    "target": "com.amazonaws.mediatailor#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the alternateMedia is scheduled to start, in epoch milliseconds.</p>"
                    }
                },
                "AdBreaks": {
                    "target": "com.amazonaws.mediatailor#__listOfAdBreak",
                    "traits": {
                        "smithy.api#documentation": "<p>Ad break configuration parameters defined in AlternateMedia.</p>"
                    }
                },
                "DurationMillis": {
                    "target": "com.amazonaws.mediatailor#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The duration of the alternateMedia in milliseconds.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A playlist of media (VOD and/or live) to be played instead of the default media on a particular program.</p>"
            }
        },
        "com.amazonaws.mediatailor#AudienceMedia": {
            "type": "structure",
            "members": {
                "Audience": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Audience defined in AudienceMedia.</p>"
                    }
                },
                "AlternateMedia": {
                    "target": "com.amazonaws.mediatailor#__listOfAlternateMedia",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of AlternateMedia defined in AudienceMedia.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An AudienceMedia object contains an Audience and a list of AlternateMedia.</p>"
            }
        },
        "com.amazonaws.mediatailor#Audiences": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            }
        },
        "com.amazonaws.mediatailor#AvailMatchingCriteria": {
            "type": "structure",
            "members": {
                "DynamicVariable": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The dynamic variable(s) that MediaTailor should use as avail matching criteria. MediaTailor only places the prefetched ads into the avail if the avail matches the criteria defined by the dynamic variable. For information about dynamic variables, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/variables.html\">Using dynamic ad variables</a> in the <i>MediaTailor User Guide</i>.</p> <p>You can include up to 100 dynamic variables.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Operator": {
                    "target": "com.amazonaws.mediatailor#Operator",
                    "traits": {
                        "smithy.api#documentation": "<p>For the <code>DynamicVariable</code> specified in <code>AvailMatchingCriteria</code>, the Operator that is used for the comparison.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>MediaTailor only places (consumes) prefetched ads if the ad break meets the criteria defined by the dynamic variables. This gives you granular control over which ad break to place the prefetched ads into.</p> <p>As an example, let's say that you set <code>DynamicVariable</code> to <code>scte.event_id</code> and <code>Operator</code> to <code>EQUALS</code>, and your playback configuration has an ADS URL of <code>https://my.ads.server.com/path?&amp;podId=[scte.avail_num]&amp;event=[scte.event_id]&amp;duration=[session.avail_duration_secs]</code>. And the prefetch request to the ADS contains these values <code>https://my.ads.server.com/path?&amp;podId=3&amp;event=my-awesome-event&amp;duration=30</code>. MediaTailor will only insert the prefetched ads into the ad break if has a SCTE marker with an event id of <code>my-awesome-event</code>, since it must match the event id that MediaTailor uses to query the ADS.</p> <p>You can specify up to five <code>AvailMatchingCriteria</code>. If you specify multiple <code>AvailMatchingCriteria</code>, MediaTailor combines them to match using a logical <code>AND</code>. You can model logical <code>OR</code> combinations by creating multiple prefetch schedules.</p>"
            }
        },
        "com.amazonaws.mediatailor#AvailSuppression": {
            "type": "structure",
            "members": {
                "Mode": {
                    "target": "com.amazonaws.mediatailor#Mode",
                    "traits": {
                        "smithy.api#documentation": "<p>Sets the ad suppression mode. By default, ad suppression is off and all ad breaks are filled with ads or slate. When Mode is set to <code>BEHIND_LIVE_EDGE</code>, ad suppression is active and MediaTailor won't fill ad breaks on or behind the ad suppression Value time in the manifest lookback window. When Mode is set to <code>AFTER_LIVE_EDGE</code>, ad suppression is active and MediaTailor won't fill ad breaks that are within the live edge plus the avail suppression value.</p>"
                    }
                },
                "Value": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>A live edge offset time in HH:MM:SS. MediaTailor won't fill ad breaks on or behind this time in the manifest lookback window. If Value is set to 00:00:00, it is in sync with the live edge, and MediaTailor won't fill any ad breaks on or behind the live edge. If you set a Value time, MediaTailor won't fill any ad breaks on or behind this time in the manifest lookback window. For example, if you set 00:45:00, then MediaTailor will fill ad breaks that occur within 45 minutes behind the live edge, but won't fill ad breaks on or behind 45 minutes behind the live edge.</p>"
                    }
                },
                "FillPolicy": {
                    "target": "com.amazonaws.mediatailor#FillPolicy",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the policy to apply to the avail suppression mode. <code>BEHIND_LIVE_EDGE</code> will always use the full avail suppression policy. <code>AFTER_LIVE_EDGE</code> mode can be used to invoke partial ad break fills when a session starts mid-break.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration for avail suppression, also known as ad suppression. For more information about ad suppression, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/ad-behavior.html\">Ad Suppression</a>.</p>"
            }
        },
        "com.amazonaws.mediatailor#BadRequestException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.mediatailor#__string"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A request contains unexpected data.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.mediatailor#Bumper": {
            "type": "structure",
            "members": {
                "EndUrl": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for the end bumper asset.</p>"
                    }
                },
                "StartUrl": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for the start bumper asset.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration for bumpers. Bumpers are short audio or video clips that play at the start or before the end of an ad break. To learn more about bumpers, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/bumpers.html\">Bumpers</a>.</p>"
            }
        },
        "com.amazonaws.mediatailor#CdnConfiguration": {
            "type": "structure",
            "members": {
                "AdSegmentUrlPrefix": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>A non-default content delivery network (CDN) to serve ad segments. By default, AWS Elemental MediaTailor uses Amazon CloudFront with default cache settings as its CDN for ad segments. To set up an alternate CDN, create a rule in your CDN for the origin ads.mediatailor.<i>&lt;region&gt;</i>.amazonaws.com. Then specify the rule's name in this <code>AdSegmentUrlPrefix</code>. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for ad segments.</p>"
                    }
                },
                "ContentSegmentUrlPrefix": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>A content delivery network (CDN) to cache content segments, so that content requests don’t always have to go to the origin server. First, create a rule in your CDN for the content segment origin server. Then specify the rule's name in this <code>ContentSegmentUrlPrefix</code>. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for content segments.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management.</p>"
            }
        },
        "com.amazonaws.mediatailor#Channel": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the channel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ChannelName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the channel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ChannelState": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns the state whether the channel is running or not.</p>",
                        "smithy.api#required": {}
                    }
                },
                "CreationTime": {
                    "target": "com.amazonaws.mediatailor#__timestampUnix",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the channel was created.</p>"
                    }
                },
                "FillerSlate": {
                    "target": "com.amazonaws.mediatailor#SlateSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The slate used to fill gaps between programs in the schedule. You must configure filler slate if your channel uses the <code>LINEAR</code> <code>PlaybackMode</code>. MediaTailor doesn't support filler slate for channels using the <code>LOOP</code> <code>PlaybackMode</code>.</p>"
                    }
                },
                "LastModifiedTime": {
                    "target": "com.amazonaws.mediatailor#__timestampUnix",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the channel was last modified.</p>"
                    }
                },
                "Outputs": {
                    "target": "com.amazonaws.mediatailor#ResponseOutputs",
                    "traits": {
                        "smithy.api#documentation": "<p>The channel's output properties.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PlaybackMode": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of playback mode for this channel.</p> <p> <code>LINEAR</code> - Programs play back-to-back only once.</p> <p> <code>LOOP</code> - Programs play back-to-back in an endless loop. When the last program in the schedule plays, playback loops back to the first program in the schedule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mediatailor#__mapOf__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to assign to the channel. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
                        "smithy.api#jsonName": "tags"
                    }
                },
                "Tier": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The tier for this channel. STANDARD tier channels can contain live programs.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LogConfiguration": {
                    "target": "com.amazonaws.mediatailor#LogConfigurationForChannel",
                    "traits": {
                        "smithy.api#documentation": "<p>The log configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Audiences": {
                    "target": "com.amazonaws.mediatailor#Audiences",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of audiences defined in channel.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration parameters for a channel. For information about MediaTailor channels, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-channels.html\">Working with channels</a> in the <i>MediaTailor User Guide</i>.</p>",
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.mediatailor#ChannelResource"
                    }
                ]
            }
        },
        "com.amazonaws.mediatailor#ChannelPolicy": {
            "type": "resource",
            "identifiers": {
                "ChannelName": {
                    "target": "com.amazonaws.mediatailor#__string"
                }
            },
            "put": {
                "target": "com.amazonaws.mediatailor#PutChannelPolicy"
            },
            "read": {
                "target": "com.amazonaws.mediatailor#GetChannelPolicy"
            },
            "delete": {
                "target": "com.amazonaws.mediatailor#DeleteChannelPolicy"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "channel/{ChannelName}"
                },
                "aws.cloudformation#cfnResource": {
                    "name": "ChannelPolicy"
                },
                "smithy.api#unstable": {}
            }
        },
        "com.amazonaws.mediatailor#ChannelResource": {
            "type": "resource",
            "identifiers": {
                "ChannelName": {
                    "target": "com.amazonaws.mediatailor#__string"
                }
            },
            "put": {
                "target": "com.amazonaws.mediatailor#CreateChannel"
            },
            "read": {
                "target": "com.amazonaws.mediatailor#DescribeChannel"
            },
            "update": {
                "target": "com.amazonaws.mediatailor#UpdateChannel"
            },
            "delete": {
                "target": "com.amazonaws.mediatailor#DeleteChannel"
            },
            "list": {
                "target": "com.amazonaws.mediatailor#ListChannels"
            },
            "operations": [
                {
                    "target": "com.amazonaws.mediatailor#ConfigureLogsForChannel"
                },
                {
                    "target": "com.amazonaws.mediatailor#CreateChannel"
                },
                {
                    "target": "com.amazonaws.mediatailor#GetChannelSchedule"
                },
                {
                    "target": "com.amazonaws.mediatailor#StartChannel"
                },
                {
                    "target": "com.amazonaws.mediatailor#StopChannel"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.mediatailor#ChannelPolicy"
                },
                {
                    "target": "com.amazonaws.mediatailor#ProgramResource"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "channel/{ChannelName}"
                },
                "aws.cloudformation#cfnResource": {
                    "name": "Channel"
                },
                "smithy.api#noReplace": {},
                "smithy.api#unstable": {}
            }
        },
        "com.amazonaws.mediatailor#ChannelState": {
            "type": "enum",
            "members": {
                "RUNNING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RUNNING"
                    }
                },
                "STOPPED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STOPPED"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#ClipRange": {
            "type": "structure",
            "members": {
                "EndOffsetMillis": {
                    "target": "com.amazonaws.mediatailor#__long",
                    "traits": {
                        "smithy.api#addedDefault": {},
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The end offset of the clip range, in milliseconds, starting from the beginning of the VOD source associated with the program.</p>"
                    }
                },
                "StartOffsetMillis": {
                    "target": "com.amazonaws.mediatailor#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The start offset of the clip range, in milliseconds. This offset truncates the start at the number of milliseconds into the duration of the VOD source.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Clip range configuration for the VOD source associated with the program.</p>"
            }
        },
        "com.amazonaws.mediatailor#ConfigurationAliasesRequest": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.mediatailor#__string",
                "traits": {
                    "smithy.api#documentation": "<p>The dynamic variable that has aliases.</p>"
                }
            },
            "value": {
                "target": "com.amazonaws.mediatailor#__mapOf__string",
                "traits": {
                    "smithy.api#documentation": "<p>Map of aliases to the value to be used at request time.</p>"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The predefined aliases for dynamic variables.</p>"
            }
        },
        "com.amazonaws.mediatailor#ConfigurationAliasesResponse": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.mediatailor#__string",
                "traits": {
                    "smithy.api#documentation": "<p>The dynamic variable that has aliases.</p>"
                }
            },
            "value": {
                "target": "com.amazonaws.mediatailor#__mapOf__string",
                "traits": {
                    "smithy.api#documentation": "<p>Map of aliases to the value to be used at request time.</p>"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The predefined aliases for dynamic variables.</p>"
            }
        },
        "com.amazonaws.mediatailor#ConfigureLogsForChannel": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediatailor#ConfigureLogsForChannelRequest"
            },
            "output": {
                "target": "com.amazonaws.mediatailor#ConfigureLogsForChannelResponse"
            },
            "traits": {
                "smithy.api#documentation": "<p>Configures Amazon CloudWatch log settings for a channel.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/configureLogs/channel",
                    "code": 200
                }
            }
        },
        "com.amazonaws.mediatailor#ConfigureLogsForChannelRequest": {
            "type": "structure",
            "members": {
                "ChannelName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the channel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LogTypes": {
                    "target": "com.amazonaws.mediatailor#LogTypes",
                    "traits": {
                        "smithy.api#documentation": "<p>The types of logs to collect.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#ConfigureLogsForChannelResponse": {
            "type": "structure",
            "members": {
                "ChannelName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the channel.</p>"
                    }
                },
                "LogTypes": {
                    "target": "com.amazonaws.mediatailor#LogTypes",
                    "traits": {
                        "smithy.api#documentation": "<p>The types of logs collected.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#ConfigureLogsForPlaybackConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediatailor#ConfigureLogsForPlaybackConfigurationRequest"
            },
            "output": {
                "target": "com.amazonaws.mediatailor#ConfigureLogsForPlaybackConfigurationResponse"
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines where AWS Elemental MediaTailor sends logs for the playback configuration.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/configureLogs/playbackConfiguration",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mediatailor#ConfigureLogsForPlaybackConfigurationRequest": {
            "type": "structure",
            "members": {
                "PercentEnabled": {
                    "target": "com.amazonaws.mediatailor#__integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The percentage of session logs that MediaTailor sends to your CloudWatch Logs account. For example, if your playback configuration has 1000 sessions and percentEnabled is set to <code>60</code>, MediaTailor sends logs for 600 of the sessions to CloudWatch Logs. MediaTailor decides at random which of the playback configuration sessions to send logs for. If you want to view logs for a specific session, you can use the <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/debug-log-mode.html\">debug log mode</a>.</p> <p>Valid values: <code>0</code> - <code>100</code> </p>",
                        "smithy.api#required": {}
                    }
                },
                "PlaybackConfigurationName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the playback configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EnabledLoggingStrategies": {
                    "target": "com.amazonaws.mediatailor#__listOfLoggingStrategies",
                    "traits": {
                        "smithy.api#documentation": "<p>The method used for collecting logs from AWS Elemental MediaTailor. To configure MediaTailor to send logs directly to Amazon CloudWatch Logs, choose <code>LEGACY_CLOUDWATCH</code>. To configure MediaTailor to send logs to CloudWatch, which then vends the logs to your destination of choice, choose <code>VENDED_LOGS</code>. Supported destinations are CloudWatch Logs log group, Amazon S3 bucket, and Amazon Data Firehose stream.</p> <p>To use vended logs, you must configure the delivery destination in Amazon CloudWatch, as described in <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/AWS-logs-and-resource-policy.html#AWS-vended-logs-permissions-V2\">Enable logging from AWS services, Logging that requires additional permissions [V2]</a>.</p>"
                    }
                },
                "AdsInteractionLog": {
                    "target": "com.amazonaws.mediatailor#AdsInteractionLog",
                    "traits": {
                        "smithy.api#documentation": "<p>The event types that MediaTailor emits in logs for interactions with the ADS.</p>"
                    }
                },
                "ManifestServiceInteractionLog": {
                    "target": "com.amazonaws.mediatailor#ManifestServiceInteractionLog",
                    "traits": {
                        "smithy.api#documentation": "<p>The event types that MediaTailor emits in logs for interactions with the origin server.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configures Amazon CloudWatch log settings for a playback configuration.</p>"
            }
        },
        "com.amazonaws.mediatailor#ConfigureLogsForPlaybackConfigurationResponse": {
            "type": "structure",
            "members": {
                "PercentEnabled": {
                    "target": "com.amazonaws.mediatailor#__integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The percentage of session logs that MediaTailor sends to your Cloudwatch Logs account.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PlaybackConfigurationName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the playback configuration.</p>"
                    }
                },
                "EnabledLoggingStrategies": {
                    "target": "com.amazonaws.mediatailor#__listOfLoggingStrategies",
                    "traits": {
                        "smithy.api#documentation": "<p>The method used for collecting logs from AWS Elemental MediaTailor. <code>LEGACY_CLOUDWATCH</code> indicates that MediaTailor is sending logs directly to Amazon CloudWatch Logs. <code>VENDED_LOGS</code> indicates that MediaTailor is sending logs to CloudWatch, which then vends the logs to your destination of choice. Supported destinations are CloudWatch Logs log group, Amazon S3 bucket, and Amazon Data Firehose stream. </p>"
                    }
                },
                "AdsInteractionLog": {
                    "target": "com.amazonaws.mediatailor#AdsInteractionLog",
                    "traits": {
                        "smithy.api#documentation": "<p>The event types that MediaTailor emits in logs for interactions with the ADS.</p>"
                    }
                },
                "ManifestServiceInteractionLog": {
                    "target": "com.amazonaws.mediatailor#ManifestServiceInteractionLog",
                    "traits": {
                        "smithy.api#documentation": "<p>The event types that MediaTailor emits in logs for interactions with the origin server.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#CreateChannel": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediatailor#CreateChannelRequest"
            },
            "output": {
                "target": "com.amazonaws.mediatailor#CreateChannelResponse"
            },
            "traits": {
                "smithy.api#documentation": "<p>Creates a channel. For information about MediaTailor channels, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-channels.html\">Working with channels</a> in the <i>MediaTailor User Guide</i>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/channel/{ChannelName}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mediatailor#CreateChannelRequest": {
            "type": "structure",
            "members": {
                "ChannelName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the channel.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "FillerSlate": {
                    "target": "com.amazonaws.mediatailor#SlateSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The slate used to fill gaps between programs in the schedule. You must configure filler slate if your channel uses the <code>LINEAR</code> <code>PlaybackMode</code>. MediaTailor doesn't support filler slate for channels using the <code>LOOP</code> <code>PlaybackMode</code>.</p>"
                    }
                },
                "Outputs": {
                    "target": "com.amazonaws.mediatailor#RequestOutputs",
                    "traits": {
                        "smithy.api#documentation": "<p>The channel's output properties.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PlaybackMode": {
                    "target": "com.amazonaws.mediatailor#PlaybackMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of playback mode to use for this channel.</p> <p> <code>LINEAR</code> - The programs in the schedule play once back-to-back in the schedule.</p> <p> <code>LOOP</code> - The programs in the schedule play back-to-back in an endless loop. When the last program in the schedule stops playing, playback loops back to the first program in the schedule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mediatailor#__mapOf__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to assign to the channel. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
                        "smithy.api#jsonName": "tags"
                    }
                },
                "Tier": {
                    "target": "com.amazonaws.mediatailor#Tier",
                    "traits": {
                        "smithy.api#documentation": "<p>The tier of the channel.</p>"
                    }
                },
                "TimeShiftConfiguration": {
                    "target": "com.amazonaws.mediatailor#TimeShiftConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p> The time-shifted viewing configuration you want to associate to the channel. </p>"
                    }
                },
                "Audiences": {
                    "target": "com.amazonaws.mediatailor#Audiences",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of audiences defined in channel.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#CreateChannelResponse": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) to assign to the channel.</p>"
                    }
                },
                "ChannelName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to assign to the channel.</p>"
                    }
                },
                "ChannelState": {
                    "target": "com.amazonaws.mediatailor#ChannelState",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the channel is in a running state or not.</p>"
                    }
                },
                "CreationTime": {
                    "target": "com.amazonaws.mediatailor#__timestampUnix",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the channel was created.</p>"
                    }
                },
                "FillerSlate": {
                    "target": "com.amazonaws.mediatailor#SlateSource",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about the slate used to fill gaps between programs in the schedule.</p>"
                    }
                },
                "LastModifiedTime": {
                    "target": "com.amazonaws.mediatailor#__timestampUnix",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the channel was last modified.</p>"
                    }
                },
                "Outputs": {
                    "target": "com.amazonaws.mediatailor#ResponseOutputs",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>The output properties to assign to the channel.</p>",
                        "smithy.api#unstable": {}
                    }
                },
                "PlaybackMode": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>The playback mode to assign to the channel.</p>",
                        "smithy.api#unstable": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mediatailor#__mapOf__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to assign to the channel. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
                        "smithy.api#jsonName": "tags"
                    }
                },
                "Tier": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>The tier of the channel.</p>",
                        "smithy.api#unstable": {}
                    }
                },
                "TimeShiftConfiguration": {
                    "target": "com.amazonaws.mediatailor#TimeShiftConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p> The time-shifted viewing configuration assigned to the channel. </p>"
                    }
                },
                "Audiences": {
                    "target": "com.amazonaws.mediatailor#Audiences",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of audiences defined in channel.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#CreateLiveSource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediatailor#CreateLiveSourceRequest"
            },
            "output": {
                "target": "com.amazonaws.mediatailor#CreateLiveSourceResponse"
            },
            "traits": {
                "smithy.api#documentation": "<p>The live source configuration.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mediatailor#CreateLiveSourceRequest": {
            "type": "structure",
            "members": {
                "HttpPackageConfigurations": {
                    "target": "com.amazonaws.mediatailor#HttpPackageConfigurations",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of HTTP package configuration parameters for this live source.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LiveSourceName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the live source.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "SourceLocationName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the source location.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mediatailor#__mapOf__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to assign to the live source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
                        "smithy.api#jsonName": "tags"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#CreateLiveSourceResponse": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN to assign to the live source.</p>"
                    }
                },
                "CreationTime": {
                    "target": "com.amazonaws.mediatailor#__timestampUnix",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the live source was created.</p>"
                    }
                },
                "HttpPackageConfigurations": {
                    "target": "com.amazonaws.mediatailor#HttpPackageConfigurations",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of HTTP package configuration parameters for this live source.</p>"
                    }
                },
                "LastModifiedTime": {
                    "target": "com.amazonaws.mediatailor#__timestampUnix",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the live source was last modified.</p>"
                    }
                },
                "LiveSourceName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to assign to the live source.</p>"
                    }
                },
                "SourceLocationName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to assign to the source location of the live source.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mediatailor#__mapOf__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to assign to the live source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
                        "smithy.api#jsonName": "tags"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#CreatePrefetchSchedule": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediatailor#CreatePrefetchScheduleRequest"
            },
            "output": {
                "target": "com.amazonaws.mediatailor#CreatePrefetchScheduleResponse"
            },
            "traits": {
                "smithy.api#documentation": "<p>Creates a prefetch schedule for a playback configuration. A prefetch schedule allows you to tell MediaTailor to fetch and prepare certain ads before an ad break happens. For more information about ad prefetching, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/prefetching-ads.html\">Using ad prefetching</a> in the <i>MediaTailor User Guide</i>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/prefetchSchedule/{PlaybackConfigurationName}/{Name}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mediatailor#CreatePrefetchScheduleRequest": {
            "type": "structure",
            "members": {
                "Consumption": {
                    "target": "com.amazonaws.mediatailor#PrefetchConsumption",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration settings for how and when MediaTailor consumes prefetched ads from the ad decision server for single prefetch schedules. Each consumption configuration contains an end time and an optional start time that define the <i>consumption window</i>. Prefetch schedules automatically expire no earlier than seven days after the end time.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to assign to the schedule request.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "PlaybackConfigurationName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to assign to the playback configuration.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Retrieval": {
                    "target": "com.amazonaws.mediatailor#PrefetchRetrieval",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration settings for retrieval of prefetched ads from the ad decision server. Only one set of prefetched ads will be retrieved and subsequently consumed for each ad break.</p>"
                    }
                },
                "RecurringPrefetchConfiguration": {
                    "target": "com.amazonaws.mediatailor#RecurringPrefetchConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration that defines how and when MediaTailor performs ad prefetching in a live event.</p>"
                    }
                },
                "ScheduleType": {
                    "target": "com.amazonaws.mediatailor#PrefetchScheduleType",
                    "traits": {
                        "smithy.api#documentation": "<p>The frequency that MediaTailor creates prefetch schedules. <code>SINGLE</code> indicates that this schedule applies to one ad break. <code>RECURRING</code> indicates that MediaTailor automatically creates a schedule for each ad avail in a live event.</p> <p>For more information about the prefetch types and when you might use each, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/prefetching-ads.html\">Prefetching ads in Elemental MediaTailor.</a> </p>"
                    }
                },
                "StreamId": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>An optional stream identifier that MediaTailor uses to prefetch ads for multiple streams that use the same playback configuration. If <code>StreamId</code> is specified, MediaTailor returns all of the prefetch schedules with an exact match on <code>StreamId</code>. If not specified, MediaTailor returns all of the prefetch schedules for the playback configuration, regardless of <code>StreamId</code>.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#CreatePrefetchScheduleResponse": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN to assign to the prefetch schedule.</p>"
                    }
                },
                "Consumption": {
                    "target": "com.amazonaws.mediatailor#PrefetchConsumption",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration settings for how and when MediaTailor consumes prefetched ads from the ad decision server for single prefetch schedules. Each consumption configuration contains an end time and an optional start time that define the <i>consumption window</i>. Prefetch schedules automatically expire no earlier than seven days after the end time.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to assign to the prefetch schedule.</p>"
                    }
                },
                "PlaybackConfigurationName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to assign to the playback configuration.</p>"
                    }
                },
                "Retrieval": {
                    "target": "com.amazonaws.mediatailor#PrefetchRetrieval",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration settings for retrieval of prefetched ads from the ad decision server. Only one set of prefetched ads will be retrieved and subsequently consumed for each ad break.</p>"
                    }
                },
                "RecurringPrefetchConfiguration": {
                    "target": "com.amazonaws.mediatailor#RecurringPrefetchConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration that defines how MediaTailor performs recurring prefetch. </p>"
                    }
                },
                "ScheduleType": {
                    "target": "com.amazonaws.mediatailor#PrefetchScheduleType",
                    "traits": {
                        "smithy.api#documentation": "<p>The frequency that MediaTailor creates prefetch schedules. <code>SINGLE</code> indicates that this schedule applies to one ad break. <code>RECURRING</code> indicates that MediaTailor automatically creates a schedule for each ad avail in a live event.</p>"
                    }
                },
                "StreamId": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>An optional stream identifier that MediaTailor uses to prefetch ads for multiple streams that use the same playback configuration. If <code>StreamId</code> is specified, MediaTailor returns all of the prefetch schedules with an exact match on <code>StreamId</code>. If not specified, MediaTailor returns all of the prefetch schedules for the playback configuration, regardless of <code>StreamId</code>.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#CreateProgram": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediatailor#CreateProgramRequest"
            },
            "output": {
                "target": "com.amazonaws.mediatailor#CreateProgramResponse"
            },
            "traits": {
                "smithy.api#documentation": "<p>Creates a program within a channel. For information about programs, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-programs.html\">Working with programs</a> in the <i>MediaTailor User Guide</i>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/channel/{ChannelName}/program/{ProgramName}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mediatailor#CreateProgramRequest": {
            "type": "structure",
            "members": {
                "AdBreaks": {
                    "target": "com.amazonaws.mediatailor#__listOfAdBreak",
                    "traits": {
                        "smithy.api#documentation": "<p>The ad break configuration settings.</p>"
                    }
                },
                "ChannelName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the channel for this Program.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "LiveSourceName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the LiveSource for this Program.</p>"
                    }
                },
                "ProgramName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Program.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ScheduleConfiguration": {
                    "target": "com.amazonaws.mediatailor#ScheduleConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The schedule configuration settings.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SourceLocationName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the source location.</p>",
                        "smithy.api#required": {}
                    }
                },
                "VodSourceName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name that's used to refer to a VOD source.</p>"
                    }
                },
                "AudienceMedia": {
                    "target": "com.amazonaws.mediatailor#__listOfAudienceMedia",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of AudienceMedia defined in program.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#CreateProgramResponse": {
            "type": "structure",
            "members": {
                "AdBreaks": {
                    "target": "com.amazonaws.mediatailor#__listOfAdBreak",
                    "traits": {
                        "smithy.api#documentation": "<p>The ad break configuration settings.</p>"
                    }
                },
                "Arn": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN to assign to the program.</p>"
                    }
                },
                "ChannelName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to assign to the channel for this program.</p>"
                    }
                },
                "CreationTime": {
                    "target": "com.amazonaws.mediatailor#__timestampUnix",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the program was created.</p>"
                    }
                },
                "LiveSourceName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the LiveSource for this Program.</p>"
                    }
                },
                "ProgramName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to assign to this program.</p>"
                    }
                },
                "ScheduledStartTime": {
                    "target": "com.amazonaws.mediatailor#__timestampUnix",
                    "traits": {
                        "smithy.api#documentation": "<p>The scheduled start time for this Program.</p>"
                    }
                },
                "SourceLocationName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to assign to the source location for this program.</p>"
                    }
                },
                "VodSourceName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name that's used to refer to a VOD source.</p>"
                    }
                },
                "ClipRange": {
                    "target": "com.amazonaws.mediatailor#ClipRange",
                    "traits": {
                        "smithy.api#documentation": "<p>The clip range configuration settings.</p>"
                    }
                },
                "DurationMillis": {
                    "target": "com.amazonaws.mediatailor#__long",
                    "traits": {
                        "smithy.api#documentation": "<p>The duration of the live program in milliseconds.</p>"
                    }
                },
                "AudienceMedia": {
                    "target": "com.amazonaws.mediatailor#__listOfAudienceMedia",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of AudienceMedia defined in program.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#CreateSourceLocation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediatailor#CreateSourceLocationRequest"
            },
            "output": {
                "target": "com.amazonaws.mediatailor#CreateSourceLocationResponse"
            },
            "traits": {
                "smithy.api#documentation": "<p>Creates a source location. A source location is a container for sources. For more information about source locations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-source-locations.html\">Working with source locations</a> in the <i>MediaTailor User Guide</i>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/sourceLocation/{SourceLocationName}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mediatailor#CreateSourceLocationRequest": {
            "type": "structure",
            "members": {
                "AccessConfiguration": {
                    "target": "com.amazonaws.mediatailor#AccessConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Access configuration parameters. Configures the type of authentication used to access content from your source location.</p>"
                    }
                },
                "DefaultSegmentDeliveryConfiguration": {
                    "target": "com.amazonaws.mediatailor#DefaultSegmentDeliveryConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The optional configuration for the server that serves segments.</p>"
                    }
                },
                "HttpConfiguration": {
                    "target": "com.amazonaws.mediatailor#HttpConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The source's HTTP package configurations.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SegmentDeliveryConfigurations": {
                    "target": "com.amazonaws.mediatailor#__listOfSegmentDeliveryConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of the segment delivery configurations associated with this resource.</p>"
                    }
                },
                "SourceLocationName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name associated with the source location.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mediatailor#__mapOf__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to assign to the source location. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
                        "smithy.api#jsonName": "tags"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#CreateSourceLocationResponse": {
            "type": "structure",
            "members": {
                "AccessConfiguration": {
                    "target": "com.amazonaws.mediatailor#AccessConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Access configuration parameters. Configures the type of authentication used to access content from your source location.</p>"
                    }
                },
                "Arn": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN to assign to the source location.</p>"
                    }
                },
                "CreationTime": {
                    "target": "com.amazonaws.mediatailor#__timestampUnix",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the source location was created.</p>"
                    }
                },
                "DefaultSegmentDeliveryConfiguration": {
                    "target": "com.amazonaws.mediatailor#DefaultSegmentDeliveryConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The optional configuration for the server that serves segments.</p>"
                    }
                },
                "HttpConfiguration": {
                    "target": "com.amazonaws.mediatailor#HttpConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The source's HTTP package configurations.</p>"
                    }
                },
                "LastModifiedTime": {
                    "target": "com.amazonaws.mediatailor#__timestampUnix",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the source location was last modified.</p>"
                    }
                },
                "SegmentDeliveryConfigurations": {
                    "target": "com.amazonaws.mediatailor#__listOfSegmentDeliveryConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The segment delivery configurations for the source location. For information about MediaTailor configurations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/configurations.html\">Working with configurations in AWS Elemental MediaTailor</a>.</p>"
                    }
                },
                "SourceLocationName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to assign to the source location.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mediatailor#__mapOf__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to assign to the source location. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
                        "smithy.api#jsonName": "tags"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#CreateVodSource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mediatailor#CreateVodSourceRequest"
            },
            "output": {
                "target": "com.amazonaws.mediatailor#CreateVodSourceResponse"
            },
            "traits": {
                "smithy.api#documentation": "<p>The VOD source configuration parameters.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mediatailor#CreateVodSourceRequest": {
            "type": "structure",
            "members": {
                "HttpPackageConfigurations": {
                    "target": "com.amazonaws.mediatailor#HttpPackageConfigurations",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of HTTP package configuration parameters for this VOD source.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SourceLocationName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the source location for this VOD source.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mediatailor#__mapOf__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to assign to the VOD source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
                        "smithy.api#jsonName": "tags"
                    }
                },
                "VodSourceName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name associated with the VOD source.&gt;</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#CreateVodSourceResponse": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN to assign to this VOD source.</p>"
                    }
                },
                "CreationTime": {
                    "target": "com.amazonaws.mediatailor#__timestampUnix",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the VOD source was created.</p>"
                    }
                },
                "HttpPackageConfigurations": {
                    "target": "com.amazonaws.mediatailor#HttpPackageConfigurations",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of HTTP package configuration parameters for this VOD source.</p>"
                    }
                },
                "LastModifiedTime": {
                    "target": "com.amazonaws.mediatailor#__timestampUnix",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the VOD source was last modified.</p>"
                    }
                },
                "SourceLocationName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to assign to the source location for this VOD source.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mediatailor#__mapOf__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to assign to the VOD source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
                        "smithy.api#jsonName": "tags"
                    }
                },
                "VodSourceName": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to assign to the VOD source.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mediatailor#DashConfiguration": {
            "type": "structure",
            "members": {
                "ManifestEndpointPrefix": {
                    "target": "com.amazonaws.mediatailor#__string",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL generated by MediaTailor to initiate a playback session. The session uses server-side reporting. This setting is ignored in PUT operations.</p>"
                    }
                },
                "MpdLocation": {
[...]
