{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.mediaconvert#AacAudioDescriptionBroadcasterMix": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.",
        "smithy.api#enum": [
          {
            "value": "BROADCASTER_MIXED_AD",
            "name": "BROADCASTER_MIXED_AD"
          },
          {
            "value": "NORMAL",
            "name": "NORMAL"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacCodecProfile": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "AAC Profile.",
        "smithy.api#enum": [
          {
            "value": "LC",
            "name": "LC"
          },
          {
            "value": "HEV1",
            "name": "HEV1"
          },
          {
            "value": "HEV2",
            "name": "HEV2"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacCodingMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. \"1.0 - Audio Description (Receiver Mix)\" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
        "smithy.api#enum": [
          {
            "value": "AD_RECEIVER_MIX",
            "name": "AD_RECEIVER_MIX"
          },
          {
            "value": "CODING_MODE_1_0",
            "name": "CODING_MODE_1_0"
          },
          {
            "value": "CODING_MODE_1_1",
            "name": "CODING_MODE_1_1"
          },
          {
            "value": "CODING_MODE_2_0",
            "name": "CODING_MODE_2_0"
          },
          {
            "value": "CODING_MODE_5_1",
            "name": "CODING_MODE_5_1"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacRateControlMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Rate Control Mode.",
        "smithy.api#enum": [
          {
            "value": "CBR",
            "name": "CBR"
          },
          {
            "value": "VBR",
            "name": "VBR"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacRawFormat": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose \"No container\" for the output container.",
        "smithy.api#enum": [
          {
            "value": "LATM_LOAS",
            "name": "LATM_LOAS"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacSettings": {
      "type": "structure",
      "members": {
        "RawFormat": {
          "target": "com.amazonaws.mediaconvert#AacRawFormat",
          "traits": {
            "smithy.api#documentation": "Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose \"No container\" for the output container.",
            "smithy.api#jsonName": "rawFormat"
          }
        },
        "Specification": {
          "target": "com.amazonaws.mediaconvert#AacSpecification",
          "traits": {
            "smithy.api#documentation": "Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
            "smithy.api#jsonName": "specification"
          }
        },
        "VbrQuality": {
          "target": "com.amazonaws.mediaconvert#AacVbrQuality",
          "traits": {
            "smithy.api#documentation": "VBR Quality Level - Only used if rate_control_mode is VBR.",
            "smithy.api#jsonName": "vbrQuality"
          }
        },
        "RateControlMode": {
          "target": "com.amazonaws.mediaconvert#AacRateControlMode",
          "traits": {
            "smithy.api#documentation": "Rate Control Mode.",
            "smithy.api#jsonName": "rateControlMode"
          }
        },
        "CodingMode": {
          "target": "com.amazonaws.mediaconvert#AacCodingMode",
          "traits": {
            "smithy.api#documentation": "Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. \"1.0 - Audio Description (Receiver Mix)\" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
            "smithy.api#jsonName": "codingMode"
          }
        },
        "CodecProfile": {
          "target": "com.amazonaws.mediaconvert#AacCodecProfile",
          "traits": {
            "smithy.api#documentation": "AAC Profile.",
            "smithy.api#jsonName": "codecProfile"
          }
        },
        "AudioDescriptionBroadcasterMix": {
          "target": "com.amazonaws.mediaconvert#AacAudioDescriptionBroadcasterMix",
          "traits": {
            "smithy.api#documentation": "Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.",
            "smithy.api#jsonName": "audioDescriptionBroadcasterMix"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.mediaconvert#__integerMin8000Max96000",
          "traits": {
            "smithy.api#documentation": "Sample rate in Hz. Valid values depend on rate control mode and profile.",
            "smithy.api#jsonName": "sampleRate"
          }
        },
        "Bitrate": {
          "target": "com.amazonaws.mediaconvert#__integerMin6000Max1024000",
          "traits": {
            "smithy.api#documentation": "Specify the average bitrate in bits per second. The set of valid values for this setting is: 6000, 8000, 10000, 12000, 14000, 16000, 20000, 24000, 28000, 32000, 40000, 48000, 56000, 64000, 80000, 96000, 112000, 128000, 160000, 192000, 224000, 256000, 288000, 320000, 384000, 448000, 512000, 576000, 640000, 768000, 896000, 1024000. The value you set is also constrained by the values that you choose for Profile (codecProfile), Bitrate control mode (codingMode), and Sample rate (sampleRate). Default values depend on Bitrate control mode and Profile.",
            "smithy.api#jsonName": "bitrate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to \"VBR\" or \"CBR\".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode."
      }
    },
    "com.amazonaws.mediaconvert#AacSpecification": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
        "smithy.api#enum": [
          {
            "value": "MPEG2",
            "name": "MPEG2"
          },
          {
            "value": "MPEG4",
            "name": "MPEG4"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacVbrQuality": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "VBR Quality Level - Only used if rate_control_mode is VBR.",
        "smithy.api#enum": [
          {
            "value": "LOW",
            "name": "LOW"
          },
          {
            "value": "MEDIUM_LOW",
            "name": "MEDIUM_LOW"
          },
          {
            "value": "MEDIUM_HIGH",
            "name": "MEDIUM_HIGH"
          },
          {
            "value": "HIGH",
            "name": "HIGH"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3BitstreamMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E).",
        "smithy.api#enum": [
          {
            "value": "COMPLETE_MAIN",
            "name": "COMPLETE_MAIN"
          },
          {
            "value": "COMMENTARY",
            "name": "COMMENTARY"
          },
          {
            "value": "DIALOGUE",
            "name": "DIALOGUE"
          },
          {
            "value": "EMERGENCY",
            "name": "EMERGENCY"
          },
          {
            "value": "HEARING_IMPAIRED",
            "name": "HEARING_IMPAIRED"
          },
          {
            "value": "MUSIC_AND_EFFECTS",
            "name": "MUSIC_AND_EFFECTS"
          },
          {
            "value": "VISUALLY_IMPAIRED",
            "name": "VISUALLY_IMPAIRED"
          },
          {
            "value": "VOICE_OVER",
            "name": "VOICE_OVER"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3CodingMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Dolby Digital coding mode. Determines number of channels.",
        "smithy.api#enum": [
          {
            "value": "CODING_MODE_1_0",
            "name": "CODING_MODE_1_0"
          },
          {
            "value": "CODING_MODE_1_1",
            "name": "CODING_MODE_1_1"
          },
          {
            "value": "CODING_MODE_2_0",
            "name": "CODING_MODE_2_0"
          },
          {
            "value": "CODING_MODE_3_2_LFE",
            "name": "CODING_MODE_3_2_LFE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionProfile": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "If set to FILM_STANDARD, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.",
        "smithy.api#enum": [
          {
            "value": "FILM_STANDARD",
            "name": "FILM_STANDARD"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3LfeFilter": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.",
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3MetadataControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
        "smithy.api#enum": [
          {
            "value": "FOLLOW_INPUT",
            "name": "FOLLOW_INPUT"
          },
          {
            "value": "USE_CONFIGURED",
            "name": "USE_CONFIGURED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3Settings": {
      "type": "structure",
      "members": {
        "LfeFilter": {
          "target": "com.amazonaws.mediaconvert#Ac3LfeFilter",
          "traits": {
            "smithy.api#documentation": "Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.",
            "smithy.api#jsonName": "lfeFilter"
          }
        },
        "BitstreamMode": {
          "target": "com.amazonaws.mediaconvert#Ac3BitstreamMode",
          "traits": {
            "smithy.api#documentation": "Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E).",
            "smithy.api#jsonName": "bitstreamMode"
          }
        },
        "Bitrate": {
          "target": "com.amazonaws.mediaconvert#__integerMin64000Max640000",
          "traits": {
            "smithy.api#documentation": "Specify the average bitrate in bits per second. Valid bitrates depend on the coding mode.",
            "smithy.api#jsonName": "bitrate"
          }
        },
        "DynamicRangeCompressionProfile": {
          "target": "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionProfile",
          "traits": {
            "smithy.api#documentation": "If set to FILM_STANDARD, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.",
            "smithy.api#jsonName": "dynamicRangeCompressionProfile"
          }
        },
        "CodingMode": {
          "target": "com.amazonaws.mediaconvert#Ac3CodingMode",
          "traits": {
            "smithy.api#documentation": "Dolby Digital coding mode. Determines number of channels.",
            "smithy.api#jsonName": "codingMode"
          }
        },
        "MetadataControl": {
          "target": "com.amazonaws.mediaconvert#Ac3MetadataControl",
          "traits": {
            "smithy.api#documentation": "When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
            "smithy.api#jsonName": "metadataControl"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.mediaconvert#__integerMin48000Max48000",
          "traits": {
            "smithy.api#documentation": "This value is always 48000. It represents the sample rate in Hz.",
            "smithy.api#jsonName": "sampleRate"
          }
        },
        "Dialnorm": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max31",
          "traits": {
            "smithy.api#documentation": "Sets the dialnorm for the output. If blank and input audio is Dolby Digital, dialnorm will be passed through.",
            "smithy.api#jsonName": "dialnorm"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3."
      }
    },
    "com.amazonaws.mediaconvert#AccelerationMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify whether the service runs your job with accelerated transcoding. Choose DISABLED if you don't want accelerated transcoding. Choose ENABLED if you want your job to run with accelerated transcoding and to fail if your input files or your job settings aren't compatible with accelerated transcoding. Choose PREFERRED if you want your job to run with accelerated transcoding if the job is compatible with the feature and to run at standard speed if it's not.",
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "PREFERRED",
            "name": "PREFERRED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AccelerationSettings": {
      "type": "structure",
      "members": {
        "Mode": {
          "target": "com.amazonaws.mediaconvert#AccelerationMode",
          "traits": {
            "smithy.api#documentation": "Specify the conditions when the service will run your job with accelerated transcoding.",
            "smithy.api#jsonName": "mode",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Accelerated transcoding can significantly speed up jobs with long, visually complex content."
      }
    },
    "com.amazonaws.mediaconvert#AccelerationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Describes whether the current job is running with accelerated transcoding. For jobs that have Acceleration (AccelerationMode) set to DISABLED, AccelerationStatus is always NOT_APPLICABLE. For jobs that have Acceleration (AccelerationMode) set to ENABLED or PREFERRED, AccelerationStatus is one of the other states. AccelerationStatus is IN_PROGRESS initially, while the service determines whether the input files and job settings are compatible with accelerated transcoding. If they are, AcclerationStatus is ACCELERATED. If your input files and job settings aren't compatible with accelerated transcoding, the service either fails your job or runs it without accelerated transcoding, depending on how you set Acceleration (AccelerationMode). When the service runs your job without accelerated transcoding, AccelerationStatus is NOT_ACCELERATED.",
        "smithy.api#enum": [
          {
            "value": "NOT_APPLICABLE",
            "name": "NOT_APPLICABLE"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "ACCELERATED",
            "name": "ACCELERATED"
          },
          {
            "value": "NOT_ACCELERATED",
            "name": "NOT_ACCELERATED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AfdSignaling": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "This setting only applies to H.264, H.265, and MPEG2 outputs. Use Insert AFD signaling (AfdSignaling) to specify whether the service includes AFD values in the output video data and what those values are. * Choose None to remove all AFD values from this output. * Choose Fixed to ignore input AFD values and instead encode the value specified in the job. * Choose Auto to calculate output AFD values based on the input AFD scaler data.",
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "AUTO",
            "name": "AUTO"
          },
          {
            "value": "FIXED",
            "name": "FIXED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AiffSettings": {
      "type": "structure",
      "members": {
        "SampleRate": {
          "target": "com.amazonaws.mediaconvert#__integerMin8000Max192000",
          "traits": {
            "smithy.api#documentation": "Sample rate in hz.",
            "smithy.api#jsonName": "sampleRate"
          }
        },
        "BitDepth": {
          "target": "com.amazonaws.mediaconvert#__integerMin16Max24",
          "traits": {
            "smithy.api#documentation": "Specify Bit depth (BitDepth), in bits per sample, to choose the encoding quality for this audio track.",
            "smithy.api#jsonName": "bitDepth"
          }
        },
        "Channels": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max64",
          "traits": {
            "smithy.api#documentation": "Specify the number of channels in this output audio track. Valid values are 1 and even numbers up to 64. For example, 1, 2, 4, 6, and so on, up to 64.",
            "smithy.api#jsonName": "channels"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF."
      }
    },
    "com.amazonaws.mediaconvert#AlphaBehavior": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Ignore this setting unless this input is a QuickTime animation with an alpha channel. Use this setting to create separate Key and Fill outputs. In each output, specify which part of the input MediaConvert uses. Leave this setting at the default value DISCARD to delete the alpha channel and preserve the video. Set it to REMAP_TO_LUMA to delete the video and map the alpha channel to the luma channel of your outputs.",
        "smithy.api#enum": [
          {
            "value": "DISCARD",
            "name": "DISCARD"
          },
          {
            "value": "REMAP_TO_LUMA",
            "name": "REMAP_TO_LUMA"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AncillaryConvert608To708": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert (UPCONVERT), MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708.",
        "smithy.api#enum": [
          {
            "value": "UPCONVERT",
            "name": "UPCONVERT"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AncillarySourceSettings": {
      "type": "structure",
      "members": {
        "SourceAncillaryChannelNumber": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max4",
          "traits": {
            "smithy.api#documentation": "Specifies the 608 channel number in the ancillary data track from which to extract captions. Unused for passthrough.",
            "smithy.api#jsonName": "sourceAncillaryChannelNumber"
          }
        },
        "Convert608To708": {
          "target": "com.amazonaws.mediaconvert#AncillaryConvert608To708",
          "traits": {
            "smithy.api#documentation": "Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert (UPCONVERT), MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708.",
            "smithy.api#jsonName": "convert608To708"
          }
        },
        "TerminateCaptions": {
          "target": "com.amazonaws.mediaconvert#AncillaryTerminateCaptions",
          "traits": {
            "smithy.api#documentation": "By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting.",
            "smithy.api#jsonName": "terminateCaptions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for ancillary captions source."
      }
    },
    "com.amazonaws.mediaconvert#AncillaryTerminateCaptions": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting.",
        "smithy.api#enum": [
          {
            "value": "END_OF_INPUT",
            "name": "END_OF_INPUT"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AntiAlias": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The anti-alias filter is automatically applied to all outputs. The service no longer accepts the value DISABLED for AntiAlias. If you specify that in your job, the service will ignore the setting.",
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AssociateCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconvert#AssociateCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconvert#AssociateCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconvert#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconvert#ConflictException"
        },
        {
          "target": "com.amazonaws.mediaconvert#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconvert#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconvert#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconvert#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Associates an AWS Certificate Manager (ACM) Amazon Resource Name (ARN) with AWS Elemental MediaConvert.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2017-08-29/certificates",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconvert#AssociateCertificateRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the ACM certificate that you want to associate with your MediaConvert resource.",
            "smithy.api#jsonName": "arn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconvert#AssociateCertificateResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediaconvert#AudioCodec": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Type of Audio codec.",
        "smithy.api#enum": [
          {
            "value": "AAC",
            "name": "AAC"
          },
          {
            "value": "MP2",
            "name": "MP2"
          },
          {
            "value": "MP3",
            "name": "MP3"
          },
          {
            "value": "WAV",
            "name": "WAV"
          },
          {
            "value": "AIFF",
            "name": "AIFF"
          },
          {
            "value": "AC3",
            "name": "AC3"
          },
          {
            "value": "EAC3",
            "name": "EAC3"
          },
          {
            "value": "EAC3_ATMOS",
            "name": "EAC3_ATMOS"
          },
          {
            "value": "VORBIS",
            "name": "VORBIS"
          },
          {
            "value": "OPUS",
            "name": "OPUS"
          },
          {
            "value": "PASSTHROUGH",
            "name": "PASSTHROUGH"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioCodecSettings": {
      "type": "structure",
      "members": {
        "Mp3Settings": {
          "target": "com.amazonaws.mediaconvert#Mp3Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value MP3.",
            "smithy.api#jsonName": "mp3Settings"
          }
        },
        "Mp2Settings": {
          "target": "com.amazonaws.mediaconvert#Mp2Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value MP2.",
            "smithy.api#jsonName": "mp2Settings"
          }
        },
        "AacSettings": {
          "target": "com.amazonaws.mediaconvert#AacSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to \"VBR\" or \"CBR\".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode.",
            "smithy.api#jsonName": "aacSettings"
          }
        },
        "OpusSettings": {
          "target": "com.amazonaws.mediaconvert#OpusSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value OPUS.",
            "smithy.api#jsonName": "opusSettings"
          }
        },
        "Ac3Settings": {
          "target": "com.amazonaws.mediaconvert#Ac3Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.",
            "smithy.api#jsonName": "ac3Settings"
          }
        },
        "Eac3Settings": {
          "target": "com.amazonaws.mediaconvert#Eac3Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3.",
            "smithy.api#jsonName": "eac3Settings"
          }
        },
        "VorbisSettings": {
          "target": "com.amazonaws.mediaconvert#VorbisSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value Vorbis.",
            "smithy.api#jsonName": "vorbisSettings"
          }
        },
        "Codec": {
          "target": "com.amazonaws.mediaconvert#AudioCodec",
          "traits": {
            "smithy.api#documentation": "Type of Audio codec.",
            "smithy.api#jsonName": "codec"
          }
        },
        "AiffSettings": {
          "target": "com.amazonaws.mediaconvert#AiffSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.",
            "smithy.api#jsonName": "aiffSettings"
          }
        },
        "Eac3AtmosSettings": {
          "target": "com.amazonaws.mediaconvert#Eac3AtmosSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3_ATMOS.",
            "smithy.api#jsonName": "eac3AtmosSettings"
          }
        },
        "WavSettings": {
          "target": "com.amazonaws.mediaconvert#WavSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value WAV.",
            "smithy.api#jsonName": "wavSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio codec settings (CodecSettings) under (AudioDescriptions) contains the group of settings related to audio encoding. The settings in this group vary depending on the value that you choose for Audio codec (Codec). For each codec enum that you choose, define the corresponding settings object. The following lists the codec enum, settings object pairs. * AAC, AacSettings * MP2, Mp2Settings * MP3, Mp3Settings * WAV, WavSettings * AIFF, AiffSettings * AC3, Ac3Settings * EAC3, Eac3Settings * EAC3_ATMOS, Eac3AtmosSettings * VORBIS, VorbisSettings * OPUS, OpusSettings"
      }
    },
    "com.amazonaws.mediaconvert#AudioDefaultSelection": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can't find the specified input audio. If you don't set a default, those outputs have no audio.",
        "smithy.api#enum": [
          {
            "value": "DEFAULT",
            "name": "DEFAULT"
          },
          {
            "value": "NOT_DEFAULT",
            "name": "NOT_DEFAULT"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioDescription": {
      "type": "structure",
      "members": {
        "CodecSettings": {
          "target": "com.amazonaws.mediaconvert#AudioCodecSettings",
          "traits": {
            "smithy.api#documentation": "Audio codec settings (CodecSettings) under (AudioDescriptions) contains the group of settings related to audio encoding. The settings in this group vary depending on the value that you choose for Audio codec (Codec). For each codec enum that you choose, define the corresponding settings object. The following lists the codec enum, settings object pairs. * AAC, AacSettings * MP2, Mp2Settings * MP3, Mp3Settings * WAV, WavSettings * AIFF, AiffSettings * AC3, Ac3Settings * EAC3, Eac3Settings * EAC3_ATMOS, Eac3AtmosSettings * VORBIS, VorbisSettings * OPUS, OpusSettings",
            "smithy.api#jsonName": "codecSettings"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.mediaconvert#LanguageCode",
          "traits": {
            "smithy.api#documentation": "Indicates the language of the audio output track. The ISO 639 language specified in the 'Language Code' drop down will be used when 'Follow Input Language Code' is not selected or when 'Follow Input Language Code' is selected but there is no ISO 639 language code specified by the input.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "AudioType": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max255",
          "traits": {
            "smithy.api#documentation": "Applies only if Follow Input Audio Type is unchecked (false). A number between 0 and 255. The following are defined in ISO-IEC 13818-1: 0 = Undefined, 1 = Clean Effects, 2 = Hearing Impaired, 3 = Visually Impaired Commentary, 4-255 = Reserved.",
            "smithy.api#jsonName": "audioType"
          }
        },
        "RemixSettings": {
          "target": "com.amazonaws.mediaconvert#RemixSettings",
          "traits": {
            "smithy.api#documentation": "Advanced audio remixing settings.",
            "smithy.api#jsonName": "remixSettings"
          }
        },
        "AudioTypeControl": {
          "target": "com.amazonaws.mediaconvert#AudioTypeControl",
          "traits": {
            "smithy.api#documentation": "When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.",
            "smithy.api#jsonName": "audioTypeControl"
          }
        },
        "LanguageCodeControl": {
          "target": "com.amazonaws.mediaconvert#AudioLanguageCodeControl",
          "traits": {
            "smithy.api#documentation": "Specify which source for language code takes precedence for this audio track. When you choose Follow input (FOLLOW_INPUT), the service uses the language code from the input track if it's present. If there's no languge code on the input track, the service uses the code that you specify in the setting Language code (languageCode or customLanguageCode). When you choose Use configured (USE_CONFIGURED), the service uses the language code that you specify.",
            "smithy.api#jsonName": "languageCodeControl"
          }
        },
        "AudioNormalizationSettings": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationSettings",
          "traits": {
            "smithy.api#documentation": "Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard.",
            "smithy.api#jsonName": "audioNormalizationSettings"
          }
        },
        "CustomLanguageCode": {
          "target": "com.amazonaws.mediaconvert#__stringPatternAZaZ23AZaZ",
          "traits": {
            "smithy.api#documentation": "Specify the language for this audio output track. The service puts this language code into your output audio track when you set Language code control (AudioLanguageCodeControl) to Use configured (USE_CONFIGURED). The service also uses your specified custom language code when you set Language code control (AudioLanguageCodeControl) to Follow input (FOLLOW_INPUT), but your input file doesn't specify a language code. For all outputs, you can use an ISO 639-2 or ISO 639-3 code. For streaming outputs, you can also use any other code in the full RFC-5646 specification. Streaming outputs are those that are in one of the following output groups: CMAF, DASH ISO, Apple HLS, or Microsoft Smooth Streaming.",
            "smithy.api#jsonName": "customLanguageCode"
          }
        },
        "AudioSourceName": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "Specifies which audio data to use from each input. In the simplest case, specify an \"Audio Selector\":#inputs-audio_selector by name based on its order within each input. For example if you specify \"Audio Selector 3\", then the third audio selector will be used from each input. If an input does not have an \"Audio Selector 3\", then the audio selector marked as \"default\" in that input will be used. If there is no audio selector marked as \"default\", silence will be inserted for the duration of that input. Alternatively, an \"Audio Selector Group\":#inputs-audio_selector_group name may be specified, with similar default/silence behavior. If no audio_source_name is specified, then \"Audio Selector 1\" will be chosen automatically.",
            "smithy.api#jsonName": "audioSourceName"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.mediaconvert#__stringPatternWS",
          "traits": {
            "smithy.api#documentation": "Specify a label for this output audio stream. For example, \"English\", \"Director commentary\", or \"track_2\". For streaming outputs, MediaConvert passes this information into destination manifests for display on the end-viewer's player device. For outputs in other output groups, the service ignores this setting.",
            "smithy.api#jsonName": "streamName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of audio output"
      }
    },
    "com.amazonaws.mediaconvert#AudioLanguageCodeControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify which source for language code takes precedence for this audio track. When you choose Follow input (FOLLOW_INPUT), the service uses the language code from the input track if it's present. If there's no languge code on the input track, the service uses the code that you specify in the setting Language code (languageCode or customLanguageCode). When you choose Use configured (USE_CONFIGURED), the service uses the language code that you specify.",
        "smithy.api#enum": [
          {
            "value": "FOLLOW_INPUT",
            "name": "FOLLOW_INPUT"
          },
          {
            "value": "USE_CONFIGURED",
            "name": "USE_CONFIGURED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationAlgorithm": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1.",
        "smithy.api#enum": [
          {
            "value": "ITU_BS_1770_1",
            "name": "ITU_BS_1770_1"
          },
          {
            "value": "ITU_BS_1770_2",
            "name": "ITU_BS_1770_2"
          },
          {
            "value": "ITU_BS_1770_3",
            "name": "ITU_BS_1770_3"
          },
          {
            "value": "ITU_BS_1770_4",
            "name": "ITU_BS_1770_4"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationAlgorithmControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.",
        "smithy.api#enum": [
          {
            "value": "CORRECT_AUDIO",
            "name": "CORRECT_AUDIO"
          },
          {
            "value": "MEASURE_ONLY",
            "name": "MEASURE_ONLY"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationLoudnessLogging": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "If set to LOG, log each output's audio track loudness to a CSV file.",
        "smithy.api#enum": [
          {
            "value": "LOG",
            "name": "LOG"
          },
          {
            "value": "DONT_LOG",
            "name": "DONT_LOG"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationPeakCalculation": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "If set to TRUE_PEAK, calculate and log the TruePeak for each output's audio track loudness.",
        "smithy.api#enum": [
          {
            "value": "TRUE_PEAK",
            "name": "TRUE_PEAK"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationSettings": {
      "type": "structure",
      "members": {
        "CorrectionGateLevel": {
          "target": "com.amazonaws.mediaconvert#__integerMinNegative70Max0",
          "traits": {
            "smithy.api#documentation": "Content measuring above this level will be corrected to the target level. Content measuring below this level will not be corrected.",
            "smithy.api#jsonName": "correctionGateLevel"
          }
        },
        "AlgorithmControl": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationAlgorithmControl",
          "traits": {
            "smithy.api#documentation": "When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.",
            "smithy.api#jsonName": "algorithmControl"
          }
        },
        "Algorithm": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationAlgorithm",
          "traits": {
            "smithy.api#documentation": "Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1.",
            "smithy.api#jsonName": "algorithm"
          }
        },
        "LoudnessLogging": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationLoudnessLogging",
          "traits": {
            "smithy.api#documentation": "If set to LOG, log each output's audio track loudness to a CSV file.",
            "smithy.api#jsonName": "loudnessLogging"
          }
        },
        "TargetLkfs": {
          "target": "com.amazonaws.mediaconvert#__doubleMinNegative59Max0",
          "traits": {
            "smithy.api#documentation": "When you use Audio normalization (AudioNormalizationSettings), optionally use this setting to specify a target loudness. If you don't specify a value here, the encoder chooses a value for you, based on the algorithm that you choose for Algorithm (algorithm). If you choose algorithm 1770-1, the encoder will choose -24 LKFS; otherwise, the encoder will choose -23 LKFS.",
            "smithy.api#jsonName": "targetLkfs"
          }
        },
        "PeakCalculation": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationPeakCalculation",
          "traits": {
            "smithy.api#documentation": "If set to TRUE_PEAK, calculate and log the TruePeak for each output's audio track loudness.",
            "smithy.api#jsonName": "peakCalculation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard."
      }
    },
    "com.amazonaws.mediaconvert#AudioSelector": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.mediaconvert#LanguageCode",
          "traits": {
            "smithy.api#documentation": "Selects a specific language code from within an audio source.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "Pids": {
          "target": "com.amazonaws.mediaconvert#__listOf__integerMin1Max2147483647",
          "traits": {
            "smithy.api#documentation": "Selects a specific PID from within an audio source (e.g. 257 selects PID 0x101).",
            "smithy.api#jsonName": "pids"
          }
        },
        "Tracks": {
          "target": "com.amazonaws.mediaconvert#__listOf__integerMin1Max2147483647",
          "traits": {
            "smithy.api#documentation": "Identify a track from the input audio to include in this selector by entering the track index number. To include several tracks in a single audio selector, specify multiple tracks as follows. Using the console, enter a comma-separated list. For examle, type \"1,2,3\" to include tracks 1 through 3. Specifying directly in your JSON job file, provide the track numbers in an array. For example, \"tracks\": [1,2,3].",
            "smithy.api#jsonName": "tracks"
          }
        },
        "CustomLanguageCode": {
          "target": "com.amazonaws.mediaconvert#__stringMin3Max3PatternAZaZ3",
          "traits": {
            "smithy.api#documentation": "Selects a specific language code from within an audio source, using the ISO 639-2 or ISO 639-3 three-letter language code",
            "smithy.api#jsonName": "customLanguageCode"
          }
        },
        "ProgramSelection": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max8",
          "traits": {
            "smithy.api#documentation": "Use this setting for input streams that contain Dolby E, to have the service extract specific program data from the track. To select multiple programs, create multiple selectors with the same Track and different Program numbers. In the console, this setting is visible when you set Selector type to Track. Choose the program number from the dropdown list. If you are sending a JSON file, provide the program ID, which is part of the audio metadata. If your input file has incorrect metadata, you can choose All channels instead of a program number to have the service ignore the program IDs and include all the programs in the track.",
            "smithy.api#jsonName": "programSelection"
          }
        },
        "Offset": {
          "target": "com.amazonaws.mediaconvert#__integerMinNegative2147483648Max2147483647",
          "traits": {
            "smithy.api#documentation": "Specifies a time delta in milliseconds to offset the audio from the input video.",
            "smithy.api#jsonName": "offset"
          }
        },
        "DefaultSelection": {
          "target": "com.amazonaws.mediaconvert#AudioDefaultSelection",
          "traits": {
            "smithy.api#documentation": "Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can't find the specified input audio. If you don't set a default, those outputs have no audio.",
            "smithy.api#jsonName": "defaultSelection"
          }
        },
        "ExternalAudioFileInput": {
          "target": "com.amazonaws.mediaconvert#__stringPatternS3WWEEBBMMMM2VVMMPPEEGGMMPP3AAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMOOVVMMTTSSMM2TTWWMMVVAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEEHttpsMM2VVMMPPEEGGMMPP3AAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMOOVVMMTTSSMM2TTWWMMVVAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEE",
          "traits": {
            "smithy.api#documentation": "Specifies audio data from an external file source.",
            "smithy.api#jsonName": "externalAudioFileInput"
          }
        },
        "RemixSettings": {
          "target": "com.amazonaws.mediaconvert#RemixSettings",
          "traits": {
            "smithy.api#documentation": "Use these settings to reorder the audio channels of one input to match those of another input. This allows you to combine the two files into a single output, one after the other.",
            "smithy.api#jsonName": "remixSettings"
          }
        },
        "SelectorType": {
          "target": "com.amazonaws.mediaconvert#AudioSelectorType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of the audio selector.",
            "smithy.api#jsonName": "selectorType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Selector for Audio"
      }
    },
    "com.amazonaws.mediaconvert#AudioSelectorGroup": {
      "type": "structure",
      "members": {
        "AudioSelectorNames": {
          "target": "com.amazonaws.mediaconvert#__listOf__stringMin1",
          "traits": {
            "smithy.api#documentation": "Name of an Audio Selector within the same input to include in the group.  Audio selector names are standardized, based on their order within the input (e.g., \"Audio Selector 1\"). The audio selector name parameter can be repeated to add any number of audio selectors to the group.",
            "smithy.api#jsonName": "audioSelectorNames"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Group of Audio Selectors"
      }
    },
    "com.amazonaws.mediaconvert#AudioSelectorType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specifies the type of the audio selector.",
        "smithy.api#enum": [
          {
            "value": "PID",
            "name": "PID"
          },
          {
            "value": "TRACK",
            "name": "TRACK"
          },
          {
            "value": "LANGUAGE_CODE",
            "name": "LANGUAGE_CODE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioTypeControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.",
        "smithy.api#enum": [
          {
            "value": "FOLLOW_INPUT",
            "name": "FOLLOW_INPUT"
          },
          {
            "value": "USE_CONFIGURED",
            "name": "USE_CONFIGURED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Av1AdaptiveQuantization": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Adaptive quantization. Allows intra-frame quantizers to vary to improve visual quality.",
        "smithy.api#enum": [
          {
            "value": "OFF",
            "name": "OFF"
          },
          {
            "value": "LOW",
            "name": "LOW"
          },
          {
            "value": "MEDIUM",
            "name": "MEDIUM"
          },
          {
            "value": "HIGH",
            "name": "HIGH"
          },
          {
            "value": "HIGHER",
            "name": "HIGHER"
          },
          {
            "value": "MAX",
            "name": "MAX"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Av1FramerateControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "If you are using the console, use the Framerate setting to specify the frame rate for this output. If you want to keep the same frame rate as the input video, choose Follow source. If you want to do frame rate conversion, choose a frame rate from the dropdown list or choose Custom. The framerates shown in the dropdown list are decimal approximations of fractions. If you choose Custom, specify your frame rate as a fraction. If you are creating your transcoding job specification as a JSON file without the console, use FramerateControl to specify which value the service uses for the frame rate for this output. Choose INITIALIZE_FROM_SOURCE if you want the service to use the frame rate from the input. Choose SPECIFIED if you want the service to use the frame rate you specify in the settings FramerateNumerator and FramerateDenominator.",
        "smithy.api#enum": [
          {
            "value": "INITIALIZE_FROM_SOURCE",
            "name": "INITIALIZE_FROM_SOURCE"
          },
          {
            "value": "SPECIFIED",
            "name": "SPECIFIED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Av1FramerateConversionAlgorithm": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Optional. Specify how the transcoder performs framerate conversion. The default behavior is to use duplicate drop conversion.",
        "smithy.api#enum": [
          {
            "value": "DUPLICATE_DROP",
            "name": "DUPLICATE_DROP"
          },
          {
            "value": "INTERPOLATE",
            "name": "INTERPOLATE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Av1QvbrSettings": {
      "type": "structure",
      "members": {
        "QvbrQualityLevel": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max10",
          "traits": {
            "smithy.api#documentation": "Required when you use QVBR rate control mode. That is, when you specify qvbrSettings within av1Settings. Specify the general target quality level for this output, from 1 to 10. Use higher numbers for greater quality. Level 10 results in nearly lossless compression. The quality level for most broadcast-quality transcodes is between 6 and 9. Optionally, to specify a value between whole numbers, also provide a value for the setting qvbrQualityLevelFineTune. For example, if you want your QVBR quality level to be 7.33, set qvbrQualityLevel to 7 and set qvbrQualityLevelFineTune to .33.",
            "smithy.api#jsonName": "qvbrQualityLevel"
          }
        },
        "QvbrQualityLevelFineTune": {
          "target": "com.amazonaws.mediaconvert#__doubleMin0Max1",
          "traits": {
            "smithy.api#documentation": "Optional. Specify a value here to set the QVBR quality to a level that is between whole numbers. For example, if you want your QVBR quality level to be 7.33, set qvbrQualityLevel to 7 and set qvbrQualityLevelFineTune to .33. MediaConvert rounds your QVBR quality level to the nearest third of a whole number. For example, if you set qvbrQualityLevel to 7 and you set qvbrQualityLevelFineTune to .25, your actual QVBR quality level is 7.33.",
            "smithy.api#jsonName": "qvbrQualityLevelFineTune"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for quality-defined variable bitrate encoding with the AV1 codec. Required when you set Rate control mode to QVBR. Not valid when you set Rate control mode to a value other than QVBR, or when you don't define Rate control mode."
      }
    },
    "com.amazonaws.mediaconvert#Av1RateControlMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "'With AV1 outputs, for rate control mode, MediaConvert supports only quality-defined variable bitrate (QVBR). You can''t use CBR or VBR.'",
        "smithy.api#enum": [
          {
            "value": "QVBR",
            "name": "QVBR"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Av1Settings": {
      "type": "structure",
      "members": {
        "GopSize": {
          "target": "com.amazonaws.mediaconvert#__doubleMin0",
          "traits": {
            "smithy.api#documentation": "Specify the GOP length (keyframe interval) in frames. With AV1, MediaConvert doesn't support GOP length in seconds. This value must be greater than zero and preferably equal to 1 + ((numberBFrames + 1) * x), where x is an integer value.",
            "smithy.api#jsonName": "gopSize"
          }
        },
        "FramerateConversionAlgorithm": {
          "target": "com.amazonaws.mediaconvert#Av1FramerateConversionAlgorithm",
          "traits": {
            "smithy.api#documentation": "Optional. Specify how the transcoder performs framerate conversion. The default behavior is to use duplicate drop conversion.",
            "smithy.api#jsonName": "framerateConversionAlgorithm"
          }
        },
        "RateControlMode": {
          "target": "com.amazonaws.mediaconvert#Av1RateControlMode",
          "traits": {
            "smithy.api#documentation": "'With AV1 outputs, for rate control mode, MediaConvert supports only quality-defined variable bitrate (QVBR). You can''t use CBR or VBR.'",
            "smithy.api#jsonName": "rateControlMode"
          }
        },
        "QvbrSettings": {
          "target": "com.amazonaws.mediaconvert#Av1QvbrSettings",
          "traits": {
            "smithy.api#documentation": "Settings for quality-defined variable bitrate encoding with the AV1 codec. Required when you set Rate control mode to QVBR. Not valid when you set Rate control mode to a value other than QVBR, or when you don't define Rate control mode.",
            "smithy.api#jsonName": "qvbrSettings"
          }
        },
        "MaxBitrate": {
          "target": "com.amazonaws.mediaconvert#__integerMin1000Max1152000000",
          "traits": {
            "smithy.api#documentation": "Maximum bitrate in bits/second. For example, enter five megabits per second as 5000000. Required when Rate control mode is QVBR.",
            "smithy.api#jsonName": "maxBitrate"
          }
        },
        "SpatialAdaptiveQuantization": {
          "target": "com.amazonaws.mediaconvert#Av1SpatialAdaptiveQuantization",
          "traits": {
            "smithy.api#documentation": "Adjust quantization within each frame based on spatial variation of content complexity.",
            "smithy.api#jsonName": "spatialAdaptiveQuantization"
          }
        },
        "FramerateDenominator": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max2147483647",
          "traits": {
            "smithy.api#documentation": "When you use the API for transcode jobs that use frame rate conversion, specify the frame rate as a fraction. For example,  24000 / 1001 = 23.976 fps. Use FramerateDenominator to specify the denominator of this fraction. In this example, use 1001 for the value of FramerateDenominator. When you use the console for transcode jobs that use frame rate conversion, provide the value as a decimal number for Framerate. In this example, specify 23.976.",
            "smithy.api#jsonName": "framerateDenominator"
          }
        },
        "NumberBFramesBetweenReferenceFrames": {
          "target": "com.amazonaws.mediaconvert#__integerMin7Max15",
          "traits": {
            "smithy.api#documentation": "Specify the number of B-frames. With AV1, MediaConvert supports only 7 or 15.",
            "smithy.api#jsonName": "numberBFramesBetweenReferenceFrames"
          }
        },
        "AdaptiveQuantization": {
          "target": "com.amazonaws.mediaconvert#Av1AdaptiveQuantization",
          "traits": {
            "smithy.api#documentation": "Adaptive quantization. Allows intra-frame quantizers to vary to improve visual quality.",
            "smithy.api#jsonName": "adaptiveQuantization"
          }
        },
        "FramerateNumerator": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max2147483647",
          "traits": {
            "smithy.api#documentation": "When you use the API for transcode jobs that use frame rate conversion, specify the frame rate as a fraction. For example,  24000 / 1001 = 23.976 fps. Use FramerateNumerator to specify the numerator of this fraction. In this example, use 24000 for the value of FramerateNumerator. When you use the console for transcode jobs that use frame rate conversion, provide the value as a decimal number for Framerate. In this example, specify 23.976.",
            "smithy.api#jsonName": "framerateNumerator"
          }
        },
        "Slices": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max32",
          "traits": {
            "smithy.api#documentation": "Specify the number of slices per picture. This value must be 1, 2, 4, 8, 16, or 32. For progressive pictures, this value must be less than or equal to the number of macroblock rows. For interlaced pictures, this value must be less than or equal to half the number of macroblock rows.",
            "smithy.api#jsonName": "slices"
          }
        },
        "FramerateControl": {
          "target": "com.amazonaws.mediaconvert#Av1FramerateControl",
          "traits": {
            "smithy.api#documentation": "If you are using the console, use the Framerate setting to specify the frame rate for this output. If you want to keep the same frame rate as the input video, choose Follow source. If you want to do frame rate conversion, choose a frame rate from the dropdown list or choose Custom. The framerates shown in the dropdown list are decimal approximations of fractions. If you choose Custom, specify your frame rate as a fraction. If you are creating your transcoding job specification as a JSON file without the console, use FramerateControl to specify which value the service uses for the frame rate for this output. Choose INITIALIZE_FROM_SOURCE if you want the service to use the frame rate from the input. Choose SPECIFIED if you want the service to use the frame rate you specify in the settings FramerateNumerator and FramerateDenominator.",
            "smithy.api#jsonName": "framerateControl"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you set Codec, under VideoDescription>CodecSettings to the value AV1."
      }
    },
    "com.amazonaws.mediaconvert#Av1SpatialAdaptiveQuantization": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Adjust quantization within each frame based on spatial variation of content complexity.",
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AvailBlanking": {
      "type": "structure",
      "members": {
        "AvailBlankingImage": {
          "target": "com.amazonaws.mediaconvert#__stringMin14PatternS3BmpBMPPngPNGHttpsBmpBMPPngPNG",
          "traits": {
            "smithy.api#documentation": "Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported.",
            "smithy.api#jsonName": "availBlankingImage"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Avail Blanking"
      }
    },
    "com.amazonaws.mediaconvert#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.mediaconvert#BillingTagsSource": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The tag type that AWS Billing and Cost Management will use to sort your AWS Elemental MediaConvert costs on any billing report that you set up.",
        "smithy.api#enum": [
          {
            "value": "QUEUE",
            "name": "QUEUE"
          },
          {
            "value": "PRESET",
            "name": "PRESET"
          },
          {
            "value": "JOB_TEMPLATE",
            "name": "JOB_TEMPLATE"
          },
          {
            "value": "JOB",
            "name": "JOB"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#BurninDestinationSettings": {
      "type": "structure",
      "members": {
        "FontSize": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max96",
          "traits": {
            "smithy.api#documentation": "A positive integer indicates the exact font size in points. Set to 0 for automatic font size selection. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontSize"
          }
        },
        "BackgroundColor": {
          "target": "com.amazonaws.mediaconvert#BurninSubtitleBackgroundColor",
          "traits": {
            "smithy.api#documentation": "Specifies the color of the rectangle behind the captions.\nAll burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "backgroundColor"
          }
        },
        "YPosition": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max2147483647",
          "traits": {
            "smithy.api#documentation": "Specifies the vertical position of the caption relative to the top of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the top of the output. If no explicit y_position is provided, the caption will be positioned towards the bottom of the output. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "yPosition"
          }
        },
        "TeletextSpacing": {
          "target": "com.amazonaws.mediaconvert#BurninSubtitleTeletextSpacing",
          "traits": {
            "smithy.api#documentation": "Only applies to jobs with input captions in Teletext or STL formats. Specify whether the spacing between letters in your captions is set by the captions grid or varies depending on letter width. Choose fixed grid to conform to the spacing specified in the captions file more accurately. Choose proportional to make the text easier to read if the captions are closed caption.",
            "smithy.api#jsonName": "teletextSpacing"
          }
        },
        "ShadowYOffset": {
          "target": "com.amazonaws.mediaconvert#__integerMinNegative2147483648Max2147483647",
          "traits": {
            "smithy.api#documentation": "Specifies the vertical offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels above the text. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowYOffset"
          }
        },
        "XPosition": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max2147483647",
          "traits": {
            "smithy.api#documentation": "Specifies the horizontal position of the caption relative to the left side of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the left of the output. If no explicit x_position is provided, the horizontal caption position will be determined by the alignment parameter. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "xPosition"
          }
        },
        "Alignment": {
          "target": "com.amazonaws.mediaconvert#BurninSubtitleAlignment",
          "traits": {
            "smithy.api#documentation": "If no explicit x_position or y_position is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "alignment"
          }
        },
        "BackgroundOpacity": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max255",
          "traits": {
            "smithy.api#documentation": "Specifies the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent). All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "backgroundOpacity"
          }
        },
        "ShadowXOffset": {
          "target": "com.amazonaws.mediaconvert#__integerMinNegative2147483648Max2147483647",
          "traits": {
            "smithy.api#documentation": "Specifies the horizontal offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels to the left. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowXOffset"
          }
        },
        "OutlineSize": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max10",
          "traits": {
            "smithy.api#documentation": "Specifies font outline size in pixels. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "outlineSize"
          }
        },
        "FontOpacity": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max255",
          "traits": {
            "smithy.api#documentation": "Specifies the opacity of the burned-in captions. 255 is opaque; 0 is transparent.\nAll burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontOpacity"
          }
        },
        "ShadowColor": {
          "target": "com.amazonaws.mediaconvert#BurninSubtitleShadowColor",
          "traits": {
            "smithy.api#documentation": "Specifies the color of the shadow cast by the captions.\nAll burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowColor"
          }
        },
        "FontResolution": {
          "target": "com.amazonaws.mediaconvert#__integerMin96Max600",
          "traits": {
            "smithy.api#documentation": "Font resolution in DPI (dots per inch); default is 96 dpi.\nAll burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontResolution"
          }
        },
        "FontScript": {
          "target": "com.amazonaws.mediaconvert#FontScript",
          "traits": {
            "smithy.api#documentation": "Provide the font script, using an ISO 15924 script code, if the LanguageCode is not sufficient for determining the script type. Where LanguageCode or CustomLanguageCode is sufficient, use \"AUTOMATIC\" or leave unset. This is used to help determine the appropriate font for rendering burn-in captions.",
            "smithy.api#jsonName": "fontScript"
          }
        },
        "OutlineColor": {
          "target": "com.amazonaws.mediaconvert#BurninSubtitleOutlineColor",
          "traits": {
            "smithy.api#documentation": "Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "outlineColor"
          }
        },
        "ShadowOpacity": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max255",
          "traits": {
            "smithy.api#documentation": "Specifies the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent). All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowOpacity"
          }
        },
        "FontColor": {
          "target": "com.amazonaws.mediaconvert#BurninSubtitleFontColor",
          "traits": {
            "smithy.api#documentation": "Specifies the color of the burned-in captions. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontColor"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Burn-In Destination Settings."
      }
    },
    "com.amazonaws.mediaconvert#BurninSubtitleAlignment": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "If no explicit x_position or y_position is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
        "smithy.api#enum": [
          {
            "value": "CENTERED",
            "name": "CENTERED"
          },
          {
            "value": "LEFT",
            "name": "LEFT"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#BurninSubtitleBackgroundColor": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specifies the color of the rectangle behind the captions.\nAll burn-in and DVB-Sub font settings must match.",
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "BLACK",
            "name": "BLACK"
          },
          {
            "value": "WHITE",
            "name": "WHITE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#BurninSubtitleFontColor": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specifies the color of the burned-in captions. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
        "smithy.api#enum": [
          {
            "value": "WHITE",
            "name": "WHITE"
          },
          {
            "value": "BLACK",
            "name": "BLACK"
          },
          {
            "value": "YELLOW",
            "name": "YELLOW"
          },
          {
            "value": "RED",
            "name": "RED"
          },
          {
            "value": "GREEN",
            "name": "GREEN"
          },
          {
            "value": "BLUE",
            "name": "BLUE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#BurninSubtitleOutlineColor": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
        "smithy.api#enum": [
          {
            "value": "BLACK",
            "name": "BLACK"
          },
          {
            "value": "WHITE",
            "name": "WHITE"
          },
          {
            "value": "YELLOW",
            "name": "YELLOW"
          },
          {
            "value": "RED",
            "name": "RED"
          },
          {
            "value": "GREEN",
            "name": "GREEN"
          },
          {
            "value": "BLUE",
            "name": "BLUE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#BurninSubtitleShadowColor": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specifies the color of the shadow cast by the captions.\nAll burn-in and DVB-Sub font settings must match.",
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "BLACK",
            "name": "BLACK"
          },
          {
            "value": "WHITE",
            "name": "WHITE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#BurninSubtitleTeletextSpacing": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Only applies to jobs with input captions in Teletext or STL formats. Specify whether the spacing between letters in your captions is set by the captions grid or varies depending on letter width. Choose fixed grid to conform to the spacing specified in the captions file more accurately. Choose proportional to make the text easier to read if the captions are closed caption.",
        "smithy.api#enum": [
          {
            "value": "FIXED_GRID",
            "name": "FIXED_GRID"
          },
          {
            "value": "PROPORTIONAL",
            "name": "PROPORTIONAL"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#CancelJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconvert#CancelJobRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconvert#CancelJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconvert#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconvert#ConflictException"
        },
        {
          "target": "com.amazonaws.mediaconvert#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconvert#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconvert#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconvert#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Permanently cancel a job. Once you have canceled a job, you can't start it again.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2017-08-29/jobs/{Id}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconvert#CancelJobRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "The Job ID of the job to be cancelled.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconvert#CancelJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediaconvert#CaptionDescription": {
      "type": "structure",
      "members": {
        "DestinationSettings": {
          "target": "com.amazonaws.mediaconvert#CaptionDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Specific settings required by destination type. Note that burnin_destination_settings are not available if the source of the caption data is Embedded or Teletext.",
            "smithy.api#jsonName": "destinationSettings"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.mediaconvert#LanguageCode",
          "traits": {
            "smithy.api#documentation": "Specify the language of this captions output track. For most captions output formats, the encoder puts this language information in the output captions metadata. If your output captions format is DVB-Sub or Burn in, the encoder uses this language information to choose the font language for rendering the captions text.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "LanguageDescription": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "Specify a label for this set of output captions. For example, \"English\", \"Director commentary\", or \"track_2\". For streaming outputs, MediaConvert passes this information into destination manifests for display on the end-viewer's player device. For outputs in other output groups, the service ignores this setting.",
            "smithy.api#jsonName": "languageDescription"
          }
        },
        "CustomLanguageCode": {
          "target": "com.amazonaws.mediaconvert#__stringPatternAZaZ23AZaZ",
          "traits": {
            "smithy.api#documentation": "Specify the language for this captions output track. For most captions output formats, the encoder puts this language information in the output captions metadata. If your output captions format is DVB-Sub or Burn in, the encoder uses this language information when automatically selecting the font script for rendering the captions text. For all outputs, you can use an ISO 639-2 or ISO 639-3 code. For streaming outputs, you can also use any other code in the full RFC-5646 specification. Streaming outputs are those that are in one of the following output groups: CMAF, DASH ISO, Apple HLS, or Microsoft Smooth Streaming.",
            "smithy.api#jsonName": "customLanguageCode"
          }
        },
        "CaptionSelectorName": {
          "target": "com.amazonaws.mediaconvert#__stringMin1",
          "traits": {
            "smithy.api#documentation": "Specifies which \"Caption Selector\":#inputs-caption_selector to use from each input when generating captions. The name should be of the format \"Caption Selector <N>\", which denotes that the Nth Caption Selector will be used from each input.",
            "smithy.api#jsonName": "captionSelectorName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of Caption output"
      }
    },
    "com.amazonaws.mediaconvert#CaptionDescriptionPreset": {
      "type": "structure",
      "members": {
        "CustomLanguageCode": {
          "target": "com.amazonaws.mediaconvert#__stringPatternAZaZ23AZaZ",
          "traits": {
            "smithy.api#documentation": "Specify the language for this captions output track. For most captions output formats, the encoder puts this language information in the output captions metadata. If your output captions format is DVB-Sub or Burn in, the encoder uses this language information when automatically selecting the font script for rendering the captions text. For all outputs, you can use an ISO 639-2 or ISO 639-3 code. For streaming outputs, you can also use any other code in the full RFC-5646 specification. Streaming outputs are those that are in one of the following output groups: CMAF, DASH ISO, Apple HLS, or Microsoft Smooth Streaming.",
            "smithy.api#jsonName": "customLanguageCode"
          }
        },
        "DestinationSettings": {
          "target": "com.amazonaws.mediaconvert#CaptionDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Specific settings required by destination type. Note that burnin_destination_settings are not available if the source of the caption data is Embedded or Teletext.",
            "smithy.api#jsonName": "destinationSettings"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.mediaconvert#LanguageCode",
          "traits": {
            "smithy.api#documentation": "Specify the language of this captions output track. For most captions output formats, the encoder puts this language information in the output captions metadata. If your output captions format is DVB-Sub or Burn in, the encoder uses this language information to choose the font language for rendering the captions text.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "LanguageDescription": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "Specify a label for this set of output captions. For example, \"English\", \"Director commentary\", or \"track_2\". For streaming outputs, MediaConvert passes this information into destination manifests for display on the end-viewer's player device. For outputs in other output groups, the service ignores this setting.",
            "smithy.api#jsonName": "languageDescription"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Caption Description for preset"
      }
    },
    "com.amazonaws.mediaconvert#CaptionDestinationSettings": {
      "type": "structure",
      "members": {
        "DestinationType": {
          "target": "com.amazonaws.mediaconvert#CaptionDestinationType",
          "traits": {
            "smithy.api#documentation": "Specify the format for this set of captions on this output. The default format is embedded without SCTE-20. Other options are embedded with SCTE-20, burn-in, DVB-sub, IMSC, SCC, SRT, teletext, TTML, and web-VTT. If you are using SCTE-20, choose SCTE-20 plus embedded (SCTE20_PLUS_EMBEDDED) to create an output that complies with the SCTE-43 spec. To create a non-compliant output where the embedded captions come first, choose Embedded plus SCTE-20 (EMBEDDED_PLUS_SCTE20).",
            "smithy.api#jsonName": "destinationType"
          }
        },
        "ImscDestinationSettings": {
          "target": "com.amazonaws.mediaconvert#ImscDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Settings specific to IMSC caption outputs.",
            "smithy.api#jsonName": "imscDestinationSettings"
          }
        },
        "TeletextDestinationSettings": {
          "target": "com.amazonaws.mediaconvert#TeletextDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Settings for Teletext caption output",
            "smithy.api#jsonName": "teletextDestinationSettings"
          }
        },
        "EmbeddedDestinationSettings": {
          "target": "com.amazonaws.mediaconvert#EmbeddedDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Settings specific to embedded/ancillary caption outputs, including 608/708 Channel destination number.",
            "smithy.api#jsonName": "embeddedDestinationSettings"
          }
        },
        "DvbSubDestinationSettings": {
          "target": "com.amazonaws.mediaconvert#DvbSubDestinationSettings",
          "traits": {
            "smithy.api#documentation": "DVB-Sub Destination Settings",
            "smithy.api#jsonName": "dvbSubDestinationSettings"
          }
        },
        "BurninDestinationSettings": {
          "target": "com.amazonaws.mediaconvert#BurninDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Burn-In Destination Settings.",
            "smithy.api#jsonName": "burninDestinationSettings"
          }
        },
        "TtmlDestinationSettings": {
          "target": "com.amazonaws.mediaconvert#TtmlDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Settings specific to TTML caption outputs, including Pass style information (TtmlStylePassthrough).",
            "smithy.api#jsonName": "ttmlDestinationSettings"
          }
        },
        "SccDestinationSettings": {
          "target": "com.amazonaws.mediaconvert#SccDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Settings for SCC caption output.",
            "smithy.api#jsonName": "sccDestinationSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific settings required by destination type. Note that burnin_destination_settings are not available if the source of the caption data is Embedded or Teletext."
      }
    },
    "com.amazonaws.mediaconvert#CaptionDestinationType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify the format for this set of captions on this output. The default format is embedded without SCTE-20. Other options are embedded with SCTE-20, burn-in, DVB-sub, IMSC, SCC, SRT, teletext, TTML, and web-VTT. If you are using SCTE-20, choose SCTE-20 plus embedded (SCTE20_PLUS_EMBEDDED) to create an output that complies with the SCTE-43 spec. To create a non-compliant output where the embedded captions come first, choose Embedded plus SCTE-20 (EMBEDDED_PLUS_SCTE20).",
        "smithy.api#enum": [
          {
            "value": "BURN_IN",
            "name": "BURN_IN"
          },
          {
            "value": "DVB_SUB",
            "name": "DVB_SUB"
          },
          {
            "value": "EMBEDDED",
            "name": "EMBEDDED"
          },
          {
            "value": "EMBEDDED_PLUS_SCTE20",
            "name": "EMBEDDED_PLUS_SCTE20"
          },
          {
            "value": "IMSC",
            "name": "IMSC"
          },
          {
            "value": "SCTE20_PLUS_EMBEDDED",
            "name": "SCTE20_PLUS_EMBEDDED"
          },
          {
            "value": "SCC",
            "name": "SCC"
          },
          {
            "value": "SRT",
            "name": "SRT"
          },
          {
            "value": "SMI",
            "name": "SMI"
          },
          {
            "value": "TELETEXT",
            "name": "TELETEXT"
          },
          {
            "value": "TTML",
            "name": "TTML"
          },
          {
            "value": "WEBVTT",
            "name": "WEBVTT"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#CaptionSelector": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.mediaconvert#LanguageCode",
          "traits": {
            "smithy.api#documentation": "The specific language to extract from source. If input is SCTE-27, complete this field and/or PID to select the caption language to extract. If input is DVB-Sub and output is Burn-in or SMPTE-TT, complete this field and/or PID to select the caption language to extract. If input is DVB-Sub that is being passed through, omit this field (and PID field); there is no way to extract a specific language with pass-through captions.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "CustomLanguageCode": {
          "target": "com.amazonaws.mediaconvert#__stringMin3Max3PatternAZaZ3",
          "traits": {
            "smithy.api#documentation": "The specific language to extract from source, using the ISO 639-2 or ISO 639-3 three-letter language code. If input is SCTE-27, complete this field and/or PID to select the caption language to extract. If input is DVB-Sub and output is Burn-in or SMPTE-TT, complete this field and/or PID to select the caption language to extract. If input is DVB-Sub that is being passed through, omit this field (and PID field); there is no way to extract a specific language with pass-through captions.",
            "smithy.api#jsonName": "customLanguageCode"
          }
        },
        "SourceSettings": {
          "target": "com.amazonaws.mediaconvert#CaptionSourceSettings",
          "traits": {
            "smithy.api#documentation": "If your input captions are SCC, TTML, STL, SMI, SRT, or IMSC in an xml file, specify the URI of the input captions source file. If your input captions are IMSC in an IMF package, use TrackSourceSettings instead of FileSoureSettings.",
            "smithy.api#jsonName": "sourceSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set up captions in your outputs by first selecting them from your input here."
      }
    },
    "com.amazonaws.mediaconvert#CaptionSourceFramerate": {
      "type": "structure",
      "members": {
        "FramerateDenominator": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max1001",
          "traits": {
            "smithy.api#documentation": "Specify the denominator of the fraction that represents the frame rate for the setting Caption source frame rate (CaptionSourceFramerate). Use this setting along with the setting Framerate numerator (framerateNumerator).",
            "smithy.api#jsonName": "framerateDenominator"
          }
        },
        "FramerateNumerator": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max60000",
          "traits": {
            "smithy.api#documentation": "Specify the numerator of the fraction that represents the frame rate for the setting Caption source frame rate (CaptionSourceFramerate). Use this setting along with the setting Framerate denominator (framerateDenominator).",
            "smithy.api#jsonName": "framerateNumerator"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ignore this setting unless your input captions format is SCC. To have the service compensate for differing frame rates between your input captions and input video, specify the frame rate of the captions file. Specify this value as a fraction, using the settings Framerate numerator (framerateNumerator) and Framerate denominator (framerateDenominator). For example, you might specify 24 / 1 for 24 fps, 25 / 1 for 25 fps, 24000 / 1001 for 23.976 fps, or 30000 / 1001 for 29.97 fps."
      }
    },
    "com.amazonaws.mediaconvert#CaptionSourceSettings": {
      "type": "structure",
      "members": {
        "TeletextSourceSettings": {
          "target": "com.amazonaws.mediaconvert#TeletextSourceSettings",
          "traits": {
            "smithy.api#documentation": "Settings specific to Teletext caption sources, including Page number.",
            "smithy.api#jsonName": "teletextSourceSettings"
          }
        },
        "FileSourceSettings": {
          "target": "com.amazonaws.mediaconvert#FileSourceSettings",
          "traits": {
            "smithy.api#documentation": "If your input captions are SCC, SMI, SRT, STL, TTML, or IMSC 1.1 in an xml file, specify the URI of the input caption source file. If your caption source is IMSC in an IMF package, use TrackSourceSettings instead of FileSoureSettings.",
            "smithy.api#jsonName": "fileSourceSettings"
          }
        },
        "TrackSourceSettings": {
          "target": "com.amazonaws.mediaconvert#TrackSourceSettings",
          "traits": {
            "smithy.api#documentation": "Settings specific to caption sources that are specified by track number. Currently, this is only IMSC captions in an IMF package. If your caption source is IMSC 1.1 in a separate xml file, use FileSourceSettings instead of TrackSourceSettings.",
            "smithy.api#jsonName": "trackSourceSettings"
          }
        },
        "SourceType": {
          "target": "com.amazonaws.mediaconvert#CaptionSourceType",
          "traits": {
            "smithy.api#documentation": "Use Source (SourceType) to identify the format of your input captions.  The service cannot auto-detect caption format.",
            "smithy.api#jsonName": "sourceType"
          }
        },
        "AncillarySourceSettings": {
          "target": "com.amazonaws.mediaconvert#AncillarySourceSettings",
          "traits": {
            "smithy.api#documentation": "Settings for ancillary captions source.",
            "smithy.api#jsonName": "ancillarySourceSettings"
          }
        },
        "DvbSubSourceSettings": {
          "target": "com.amazonaws.mediaconvert#DvbSubSourceSettings",
          "traits": {
            "smithy.api#documentation": "DVB Sub Source Settings",
            "smithy.api#jsonName": "dvbSubSourceSettings"
          }
        },
        "EmbeddedSourceSettings": {
          "target": "com.amazonaws.mediaconvert#EmbeddedSourceSettings",
          "traits": {
            "smithy.api#documentation": "Settings for embedded captions Source",
            "smithy.api#jsonName": "embeddedSourceSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If your input captions are SCC, TTML, STL, SMI, SRT, or IMSC in an xml file, specify the URI of the input captions source file. If your input captions are IMSC in an IMF package, use TrackSourceSettings instead of FileSoureSettings."
      }
    },
    "com.amazonaws.mediaconvert#CaptionSourceType": {
      "type": "string",
      "traits": {
[...]
