{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.medialive#AacCodingMode": {
            "type": "enum",
            "members": {
                "AD_RECEIVER_MIX": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AD_RECEIVER_MIX"
                    }
                },
                "CODING_MODE_1_0": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CODING_MODE_1_0"
                    }
                },
                "CODING_MODE_1_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CODING_MODE_1_1"
                    }
                },
                "CODING_MODE_2_0": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CODING_MODE_2_0"
                    }
                },
                "CODING_MODE_5_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CODING_MODE_5_1"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Aac Coding Mode"
            }
        },
        "com.amazonaws.medialive#AacInputType": {
            "type": "enum",
            "members": {
                "BROADCASTER_MIXED_AD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BROADCASTER_MIXED_AD"
                    }
                },
                "NORMAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NORMAL"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Aac Input Type"
            }
        },
        "com.amazonaws.medialive#AacProfile": {
            "type": "enum",
            "members": {
                "HEV1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HEV1"
                    }
                },
                "HEV2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HEV2"
                    }
                },
                "LC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LC"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Aac Profile"
            }
        },
        "com.amazonaws.medialive#AacRateControlMode": {
            "type": "enum",
            "members": {
                "CBR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CBR"
                    }
                },
                "VBR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VBR"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Aac Rate Control Mode"
            }
        },
        "com.amazonaws.medialive#AacRawFormat": {
            "type": "enum",
            "members": {
                "LATM_LOAS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LATM_LOAS"
                    }
                },
                "NONE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NONE"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Aac Raw Format"
            }
        },
        "com.amazonaws.medialive#AacSettings": {
            "type": "structure",
            "members": {
                "Bitrate": {
                    "target": "com.amazonaws.medialive#__double",
                    "traits": {
                        "smithy.api#documentation": "Average bitrate in bits/second. Valid values depend on rate control mode and profile.",
                        "smithy.api#jsonName": "bitrate"
                    }
                },
                "CodingMode": {
                    "target": "com.amazonaws.medialive#AacCodingMode",
                    "traits": {
                        "smithy.api#documentation": "Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. The adReceiverMix setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
                        "smithy.api#jsonName": "codingMode"
                    }
                },
                "InputType": {
                    "target": "com.amazonaws.medialive#AacInputType",
                    "traits": {
                        "smithy.api#documentation": "Set to \"broadcasterMixedAd\" when input contains pre-mixed main audio + AD (narration) as a stereo pair.  The Audio Type field (audioType) will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. The values in audioTypeControl and audioType (in AudioDescription) are ignored when set to broadcasterMixedAd.\n\nLeave set to \"normal\" when input does not contain pre-mixed audio + AD.",
                        "smithy.api#jsonName": "inputType"
                    }
                },
                "Profile": {
                    "target": "com.amazonaws.medialive#AacProfile",
                    "traits": {
                        "smithy.api#documentation": "AAC Profile.",
                        "smithy.api#jsonName": "profile"
                    }
                },
                "RateControlMode": {
                    "target": "com.amazonaws.medialive#AacRateControlMode",
                    "traits": {
                        "smithy.api#documentation": "Rate Control Mode.",
                        "smithy.api#jsonName": "rateControlMode"
                    }
                },
                "RawFormat": {
                    "target": "com.amazonaws.medialive#AacRawFormat",
                    "traits": {
                        "smithy.api#documentation": "Sets LATM / LOAS AAC output for raw containers.",
                        "smithy.api#jsonName": "rawFormat"
                    }
                },
                "SampleRate": {
                    "target": "com.amazonaws.medialive#__double",
                    "traits": {
                        "smithy.api#documentation": "Sample rate in Hz. Valid values depend on rate control mode and profile.",
                        "smithy.api#jsonName": "sampleRate"
                    }
                },
                "Spec": {
                    "target": "com.amazonaws.medialive#AacSpec",
                    "traits": {
                        "smithy.api#documentation": "Use MPEG-2 AAC audio instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
                        "smithy.api#jsonName": "spec"
                    }
                },
                "VbrQuality": {
                    "target": "com.amazonaws.medialive#AacVbrQuality",
                    "traits": {
                        "smithy.api#documentation": "VBR Quality Level - Only used if rateControlMode is VBR.",
                        "smithy.api#jsonName": "vbrQuality"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Aac Settings"
            }
        },
        "com.amazonaws.medialive#AacSpec": {
            "type": "enum",
            "members": {
                "MPEG2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MPEG2"
                    }
                },
                "MPEG4": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MPEG4"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Aac Spec"
            }
        },
        "com.amazonaws.medialive#AacVbrQuality": {
            "type": "enum",
            "members": {
                "HIGH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HIGH"
                    }
                },
                "LOW": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LOW"
                    }
                },
                "MEDIUM_HIGH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MEDIUM_HIGH"
                    }
                },
                "MEDIUM_LOW": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MEDIUM_LOW"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Aac Vbr Quality"
            }
        },
        "com.amazonaws.medialive#Ac3AttenuationControl": {
            "type": "enum",
            "members": {
                "ATTENUATE_3_DB": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ATTENUATE_3_DB"
                    }
                },
                "NONE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NONE"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Ac3 Attenuation Control"
            }
        },
        "com.amazonaws.medialive#Ac3BitstreamMode": {
            "type": "enum",
            "members": {
                "COMMENTARY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMMENTARY"
                    }
                },
                "COMPLETE_MAIN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETE_MAIN"
                    }
                },
                "DIALOGUE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DIALOGUE"
                    }
                },
                "EMERGENCY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EMERGENCY"
                    }
                },
                "HEARING_IMPAIRED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HEARING_IMPAIRED"
                    }
                },
                "MUSIC_AND_EFFECTS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MUSIC_AND_EFFECTS"
                    }
                },
                "VISUALLY_IMPAIRED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VISUALLY_IMPAIRED"
                    }
                },
                "VOICE_OVER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VOICE_OVER"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Ac3 Bitstream Mode"
            }
        },
        "com.amazonaws.medialive#Ac3CodingMode": {
            "type": "enum",
            "members": {
                "CODING_MODE_1_0": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CODING_MODE_1_0"
                    }
                },
                "CODING_MODE_1_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CODING_MODE_1_1"
                    }
                },
                "CODING_MODE_2_0": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CODING_MODE_2_0"
                    }
                },
                "CODING_MODE_3_2_LFE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CODING_MODE_3_2_LFE"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Ac3 Coding Mode"
            }
        },
        "com.amazonaws.medialive#Ac3DrcProfile": {
            "type": "enum",
            "members": {
                "FILM_STANDARD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FILM_STANDARD"
                    }
                },
                "NONE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NONE"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Ac3 Drc Profile"
            }
        },
        "com.amazonaws.medialive#Ac3LfeFilter": {
            "type": "enum",
            "members": {
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                },
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Ac3 Lfe Filter"
            }
        },
        "com.amazonaws.medialive#Ac3MetadataControl": {
            "type": "enum",
            "members": {
                "FOLLOW_INPUT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FOLLOW_INPUT"
                    }
                },
                "USE_CONFIGURED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "USE_CONFIGURED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Ac3 Metadata Control"
            }
        },
        "com.amazonaws.medialive#Ac3Settings": {
            "type": "structure",
            "members": {
                "Bitrate": {
                    "target": "com.amazonaws.medialive#__double",
                    "traits": {
                        "smithy.api#documentation": "Average bitrate in bits/second. Valid bitrates depend on the coding mode.",
                        "smithy.api#jsonName": "bitrate"
                    }
                },
                "BitstreamMode": {
                    "target": "com.amazonaws.medialive#Ac3BitstreamMode",
                    "traits": {
                        "smithy.api#documentation": "Specifies the bitstream mode (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for background on these values.",
                        "smithy.api#jsonName": "bitstreamMode"
                    }
                },
                "CodingMode": {
                    "target": "com.amazonaws.medialive#Ac3CodingMode",
                    "traits": {
                        "smithy.api#documentation": "Dolby Digital coding mode. Determines number of channels.",
                        "smithy.api#jsonName": "codingMode"
                    }
                },
                "Dialnorm": {
                    "target": "com.amazonaws.medialive#__integerMin1Max31",
                    "traits": {
                        "smithy.api#documentation": "Sets the dialnorm for the output. If excluded and input audio is Dolby Digital, dialnorm will be passed through.",
                        "smithy.api#jsonName": "dialnorm"
                    }
                },
                "DrcProfile": {
                    "target": "com.amazonaws.medialive#Ac3DrcProfile",
                    "traits": {
                        "smithy.api#documentation": "If set to filmStandard, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.",
                        "smithy.api#jsonName": "drcProfile"
                    }
                },
                "LfeFilter": {
                    "target": "com.amazonaws.medialive#Ac3LfeFilter",
                    "traits": {
                        "smithy.api#documentation": "When set to enabled, applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid in codingMode32Lfe mode.",
                        "smithy.api#jsonName": "lfeFilter"
                    }
                },
                "MetadataControl": {
                    "target": "com.amazonaws.medialive#Ac3MetadataControl",
                    "traits": {
                        "smithy.api#documentation": "When set to \"followInput\", encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
                        "smithy.api#jsonName": "metadataControl"
                    }
                },
                "AttenuationControl": {
                    "target": "com.amazonaws.medialive#Ac3AttenuationControl",
                    "traits": {
                        "smithy.api#documentation": "Applies a 3 dB attenuation to the surround channels. Applies only when the coding mode parameter is CODING_MODE_3_2_LFE.",
                        "smithy.api#jsonName": "attenuationControl"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Ac3 Settings"
            }
        },
        "com.amazonaws.medialive#AcceptHeader": {
            "type": "enum",
            "members": {
                "image_jpeg": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "image/jpeg"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The HTTP Accept header. Indicates the requested type fothe thumbnail."
            }
        },
        "com.amazonaws.medialive#AcceptInputDeviceTransfer": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.medialive#AcceptInputDeviceTransferRequest"
            },
            "output": {
                "target": "com.amazonaws.medialive#AcceptInputDeviceTransferResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.medialive#BadGatewayException"
                },
                {
                    "target": "com.amazonaws.medialive#BadRequestException"
                },
                {
                    "target": "com.amazonaws.medialive#ConflictException"
                },
                {
                    "target": "com.amazonaws.medialive#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.medialive#GatewayTimeoutException"
                },
                {
                    "target": "com.amazonaws.medialive#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.medialive#NotFoundException"
                },
                {
                    "target": "com.amazonaws.medialive#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.medialive#UnprocessableEntityException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Accept an incoming input device transfer. The ownership of the device will transfer to your AWS account.",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/prod/inputDevices/{InputDeviceId}/accept",
                    "code": 200
                }
            }
        },
        "com.amazonaws.medialive#AcceptInputDeviceTransferRequest": {
            "type": "structure",
            "members": {
                "InputDeviceId": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#documentation": "The unique ID of the input device to accept. For example, hd-123456789abcdef.",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Placeholder documentation for AcceptInputDeviceTransferRequest",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.medialive#AcceptInputDeviceTransferResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Placeholder documentation for AcceptInputDeviceTransferResponse",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.medialive#AccessibilityType": {
            "type": "enum",
            "members": {
                "DOES_NOT_IMPLEMENT_ACCESSIBILITY_FEATURES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DOES_NOT_IMPLEMENT_ACCESSIBILITY_FEATURES"
                    }
                },
                "IMPLEMENTS_ACCESSIBILITY_FEATURES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IMPLEMENTS_ACCESSIBILITY_FEATURES"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Accessibility Type"
            }
        },
        "com.amazonaws.medialive#AccountConfiguration": {
            "type": "structure",
            "members": {
                "KmsKeyId": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#documentation": "Specifies the KMS key to use for all features that use key encryption. Specify the ARN of a KMS key that you have created. Or leave blank to use the key that MediaLive creates and manages for you.",
                        "smithy.api#jsonName": "kmsKeyId"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Placeholder documentation for AccountConfiguration"
            }
        },
        "com.amazonaws.medialive#AfdSignaling": {
            "type": "enum",
            "members": {
                "AUTO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AUTO"
                    }
                },
                "FIXED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FIXED"
                    }
                },
                "NONE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NONE"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Afd Signaling"
            }
        },
        "com.amazonaws.medialive#Algorithm": {
            "type": "enum",
            "members": {
                "AES128": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AES128"
                    }
                },
                "AES192": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AES192"
                    }
                },
                "AES256": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AES256"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Placeholder documentation for Algorithm"
            }
        },
        "com.amazonaws.medialive#AncillarySourceSettings": {
            "type": "structure",
            "members": {
                "SourceAncillaryChannelNumber": {
                    "target": "com.amazonaws.medialive#__integerMin1Max4",
                    "traits": {
                        "smithy.api#documentation": "Specifies the number (1 to 4) of the captions channel you want to extract from the ancillary captions. If you plan to convert the ancillary captions to another format, complete this field. If you plan to choose Embedded as the captions destination in the output (to pass through all the channels in the ancillary captions), leave this field blank because MediaLive ignores the field.",
                        "smithy.api#jsonName": "sourceAncillaryChannelNumber"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Ancillary Source Settings"
            }
        },
        "com.amazonaws.medialive#AnywhereSettings": {
            "type": "structure",
            "members": {
                "ChannelPlacementGroupId": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#documentation": "The ID of the channel placement group for the channel.",
                        "smithy.api#jsonName": "channelPlacementGroupId"
                    }
                },
                "ClusterId": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#documentation": "The ID of the cluster for the channel.",
                        "smithy.api#jsonName": "clusterId"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Elemental anywhere settings"
            }
        },
        "com.amazonaws.medialive#ArchiveCdnSettings": {
            "type": "structure",
            "members": {
                "ArchiveS3Settings": {
                    "target": "com.amazonaws.medialive#ArchiveS3Settings",
                    "traits": {
                        "smithy.api#jsonName": "archiveS3Settings"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Archive Cdn Settings"
            }
        },
        "com.amazonaws.medialive#ArchiveContainerSettings": {
            "type": "structure",
            "members": {
                "M2tsSettings": {
                    "target": "com.amazonaws.medialive#M2tsSettings",
                    "traits": {
                        "smithy.api#jsonName": "m2tsSettings"
                    }
                },
                "RawSettings": {
                    "target": "com.amazonaws.medialive#RawSettings",
                    "traits": {
                        "smithy.api#jsonName": "rawSettings"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Archive Container Settings"
            }
        },
        "com.amazonaws.medialive#ArchiveGroupSettings": {
            "type": "structure",
            "members": {
                "ArchiveCdnSettings": {
                    "target": "com.amazonaws.medialive#ArchiveCdnSettings",
                    "traits": {
                        "smithy.api#documentation": "Parameters that control interactions with the CDN.",
                        "smithy.api#jsonName": "archiveCdnSettings"
                    }
                },
                "Destination": {
                    "target": "com.amazonaws.medialive#OutputLocationRef",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "A directory and base filename where archive files should be written.",
                        "smithy.api#jsonName": "destination",
                        "smithy.api#required": {}
                    }
                },
                "RolloverInterval": {
                    "target": "com.amazonaws.medialive#__integerMin1",
                    "traits": {
                        "smithy.api#documentation": "Number of seconds to write to archive file before closing and starting a new one.",
                        "smithy.api#jsonName": "rolloverInterval"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Archive Group Settings"
            }
        },
        "com.amazonaws.medialive#ArchiveOutputSettings": {
            "type": "structure",
            "members": {
                "ContainerSettings": {
                    "target": "com.amazonaws.medialive#ArchiveContainerSettings",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "Settings specific to the container type of the file.",
                        "smithy.api#jsonName": "containerSettings",
                        "smithy.api#required": {}
                    }
                },
                "Extension": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#documentation": "Output file extension. If excluded, this will be auto-selected from the container type.",
                        "smithy.api#jsonName": "extension"
                    }
                },
                "NameModifier": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#documentation": "String concatenated to the end of the destination filename.  Required for multiple outputs of the same type.",
                        "smithy.api#jsonName": "nameModifier"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Archive Output Settings"
            }
        },
        "com.amazonaws.medialive#ArchiveS3Settings": {
            "type": "structure",
            "members": {
                "CannedAcl": {
                    "target": "com.amazonaws.medialive#S3CannedAcl",
                    "traits": {
                        "smithy.api#documentation": "Specify the canned ACL to apply to each S3 request. Defaults to none.",
                        "smithy.api#jsonName": "cannedAcl"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Archive S3 Settings"
            }
        },
        "com.amazonaws.medialive#AribDestinationSettings": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Arib Destination Settings"
            }
        },
        "com.amazonaws.medialive#AribSourceSettings": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Arib Source Settings"
            }
        },
        "com.amazonaws.medialive#AudioChannelMapping": {
            "type": "structure",
            "members": {
                "InputChannelLevels": {
                    "target": "com.amazonaws.medialive#__listOfInputChannelLevel",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "Indices and gain values for each input channel that should be remixed into this output channel.",
                        "smithy.api#jsonName": "inputChannelLevels",
                        "smithy.api#required": {}
                    }
                },
                "OutputChannel": {
                    "target": "com.amazonaws.medialive#__integerMin0Max7",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "The index of the output channel being produced.",
                        "smithy.api#jsonName": "outputChannel",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Channel Mapping"
            }
        },
        "com.amazonaws.medialive#AudioCodecSettings": {
            "type": "structure",
            "members": {
                "AacSettings": {
                    "target": "com.amazonaws.medialive#AacSettings",
                    "traits": {
                        "smithy.api#jsonName": "aacSettings"
                    }
                },
                "Ac3Settings": {
                    "target": "com.amazonaws.medialive#Ac3Settings",
                    "traits": {
                        "smithy.api#jsonName": "ac3Settings"
                    }
                },
                "Eac3AtmosSettings": {
                    "target": "com.amazonaws.medialive#Eac3AtmosSettings",
                    "traits": {
                        "smithy.api#jsonName": "eac3AtmosSettings"
                    }
                },
                "Eac3Settings": {
                    "target": "com.amazonaws.medialive#Eac3Settings",
                    "traits": {
                        "smithy.api#jsonName": "eac3Settings"
                    }
                },
                "Mp2Settings": {
                    "target": "com.amazonaws.medialive#Mp2Settings",
                    "traits": {
                        "smithy.api#jsonName": "mp2Settings"
                    }
                },
                "PassThroughSettings": {
                    "target": "com.amazonaws.medialive#PassThroughSettings",
                    "traits": {
                        "smithy.api#jsonName": "passThroughSettings"
                    }
                },
                "WavSettings": {
                    "target": "com.amazonaws.medialive#WavSettings",
                    "traits": {
                        "smithy.api#jsonName": "wavSettings"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Codec Settings"
            }
        },
        "com.amazonaws.medialive#AudioDescription": {
            "type": "structure",
            "members": {
                "AudioNormalizationSettings": {
                    "target": "com.amazonaws.medialive#AudioNormalizationSettings",
                    "traits": {
                        "smithy.api#documentation": "Advanced audio normalization settings.",
                        "smithy.api#jsonName": "audioNormalizationSettings"
                    }
                },
                "AudioSelectorName": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "The name of the AudioSelector used as the source for this AudioDescription.",
                        "smithy.api#jsonName": "audioSelectorName",
                        "smithy.api#required": {}
                    }
                },
                "AudioType": {
                    "target": "com.amazonaws.medialive#AudioType",
                    "traits": {
                        "smithy.api#documentation": "Applies only if audioTypeControl is useConfigured. The values for audioType are defined in ISO-IEC 13818-1.",
                        "smithy.api#jsonName": "audioType"
                    }
                },
                "AudioTypeControl": {
                    "target": "com.amazonaws.medialive#AudioDescriptionAudioTypeControl",
                    "traits": {
                        "smithy.api#documentation": "Determines how audio type is determined.\n  followInput: If the input contains an ISO 639 audioType, then that value is passed through to the output. If the input contains no ISO 639 audioType, the value in Audio Type is included in the output.\n  useConfigured: The value in Audio Type is included in the output.\nNote that this field and audioType are both ignored if inputType is broadcasterMixedAd.",
                        "smithy.api#jsonName": "audioTypeControl"
                    }
                },
                "AudioWatermarkingSettings": {
                    "target": "com.amazonaws.medialive#AudioWatermarkSettings",
                    "traits": {
                        "smithy.api#documentation": "Settings to configure one or more solutions that insert audio watermarks in the audio encode",
                        "smithy.api#jsonName": "audioWatermarkingSettings"
                    }
                },
                "CodecSettings": {
                    "target": "com.amazonaws.medialive#AudioCodecSettings",
                    "traits": {
                        "smithy.api#documentation": "Audio codec settings.",
                        "smithy.api#jsonName": "codecSettings"
                    }
                },
                "LanguageCode": {
                    "target": "com.amazonaws.medialive#__stringMin1Max35",
                    "traits": {
                        "smithy.api#documentation": "RFC 5646 language code representing the language of the audio output track. Only used if languageControlMode is useConfigured, or there is no ISO 639 language code specified in the input.",
                        "smithy.api#jsonName": "languageCode"
                    }
                },
                "LanguageCodeControl": {
                    "target": "com.amazonaws.medialive#AudioDescriptionLanguageCodeControl",
                    "traits": {
                        "smithy.api#documentation": "Choosing followInput will cause the ISO 639 language code of the output to follow the ISO 639 language code of the input. The languageCode will be used when useConfigured is set, or when followInput is selected but there is no ISO 639 language code specified by the input.",
                        "smithy.api#jsonName": "languageCodeControl"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.medialive#__stringMax255",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "The name of this AudioDescription. Outputs will use this name to uniquely identify this AudioDescription.  Description names should be unique within this Live Event.",
                        "smithy.api#jsonName": "name",
                        "smithy.api#required": {}
                    }
                },
                "RemixSettings": {
                    "target": "com.amazonaws.medialive#RemixSettings",
                    "traits": {
                        "smithy.api#documentation": "Settings that control how input audio channels are remixed into the output audio channels.",
                        "smithy.api#jsonName": "remixSettings"
                    }
                },
                "StreamName": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#documentation": "Used for MS Smooth and Apple HLS outputs. Indicates the name displayed by the player (eg. English, or Director Commentary).",
                        "smithy.api#jsonName": "streamName"
                    }
                },
                "AudioDashRoles": {
                    "target": "com.amazonaws.medialive#__listOfDashRoleAudio",
                    "traits": {
                        "smithy.api#documentation": "Identifies the DASH roles to assign to this audio output. Applies only when the audio output is configured for DVB DASH accessibility signaling.",
                        "smithy.api#jsonName": "audioDashRoles"
                    }
                },
                "DvbDashAccessibility": {
                    "target": "com.amazonaws.medialive#DvbDashAccessibility",
                    "traits": {
                        "smithy.api#documentation": "Identifies DVB DASH accessibility signaling in this audio output. Used in Microsoft Smooth Streaming outputs to signal accessibility information to packagers.",
                        "smithy.api#jsonName": "dvbDashAccessibility"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Description"
            }
        },
        "com.amazonaws.medialive#AudioDescriptionAudioTypeControl": {
            "type": "enum",
            "members": {
                "FOLLOW_INPUT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FOLLOW_INPUT"
                    }
                },
                "USE_CONFIGURED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "USE_CONFIGURED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Description Audio Type Control"
            }
        },
        "com.amazonaws.medialive#AudioDescriptionLanguageCodeControl": {
            "type": "enum",
            "members": {
                "FOLLOW_INPUT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FOLLOW_INPUT"
                    }
                },
                "USE_CONFIGURED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "USE_CONFIGURED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Description Language Code Control"
            }
        },
        "com.amazonaws.medialive#AudioDolbyEDecode": {
            "type": "structure",
            "members": {
                "ProgramSelection": {
                    "target": "com.amazonaws.medialive#DolbyEProgramSelection",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "Applies only to Dolby E. Enter the program ID (according to the metadata in the audio) of the Dolby E program to extract from the specified track. One program extracted per audio selector. To select multiple programs, create multiple selectors with the same Track and different Program numbers. “All channels” means to ignore the program IDs and include all the channels in this selector; useful if metadata is known to be incorrect.",
                        "smithy.api#jsonName": "programSelection",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Dolby EDecode"
            }
        },
        "com.amazonaws.medialive#AudioHlsRenditionSelection": {
            "type": "structure",
            "members": {
                "GroupId": {
                    "target": "com.amazonaws.medialive#__stringMin1",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "Specifies the GROUP-ID in the #EXT-X-MEDIA tag of the target HLS audio rendition.",
                        "smithy.api#jsonName": "groupId",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "com.amazonaws.medialive#__stringMin1",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "Specifies the NAME in the #EXT-X-MEDIA tag of the target HLS audio rendition.",
                        "smithy.api#jsonName": "name",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Hls Rendition Selection"
            }
        },
        "com.amazonaws.medialive#AudioLanguageSelection": {
            "type": "structure",
            "members": {
                "LanguageCode": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "Selects a specific three-letter language code from within an audio source.",
                        "smithy.api#jsonName": "languageCode",
                        "smithy.api#required": {}
                    }
                },
                "LanguageSelectionPolicy": {
                    "target": "com.amazonaws.medialive#AudioLanguageSelectionPolicy",
                    "traits": {
                        "smithy.api#documentation": "When set to \"strict\", the transport stream demux strictly identifies audio streams by their language descriptor. If a PMT update occurs such that an audio stream matching the initially selected language is no longer present then mute will be encoded until the language returns. If \"loose\", then on a PMT update the demux will choose another audio stream in the program with the same stream type if it can't find one with the same language.",
                        "smithy.api#jsonName": "languageSelectionPolicy"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Language Selection"
            }
        },
        "com.amazonaws.medialive#AudioLanguageSelectionPolicy": {
            "type": "enum",
            "members": {
                "LOOSE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LOOSE"
                    }
                },
                "STRICT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STRICT"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Language Selection Policy"
            }
        },
        "com.amazonaws.medialive#AudioNormalizationAlgorithm": {
            "type": "enum",
            "members": {
                "ITU_1770_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ITU_1770_1"
                    }
                },
                "ITU_1770_2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ITU_1770_2"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Normalization Algorithm"
            }
        },
        "com.amazonaws.medialive#AudioNormalizationAlgorithmControl": {
            "type": "enum",
            "members": {
                "CORRECT_AUDIO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CORRECT_AUDIO"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Normalization Algorithm Control"
            }
        },
        "com.amazonaws.medialive#AudioNormalizationSettings": {
            "type": "structure",
            "members": {
                "Algorithm": {
                    "target": "com.amazonaws.medialive#AudioNormalizationAlgorithm",
                    "traits": {
                        "smithy.api#documentation": "Audio normalization algorithm to use. itu17701 conforms to the CALM Act specification, itu17702 conforms to the EBU R-128 specification.",
                        "smithy.api#jsonName": "algorithm"
                    }
                },
                "AlgorithmControl": {
                    "target": "com.amazonaws.medialive#AudioNormalizationAlgorithmControl",
                    "traits": {
                        "smithy.api#documentation": "When set to correctAudio the output audio is corrected using the chosen algorithm. If set to measureOnly, the audio will be measured but not adjusted.",
                        "smithy.api#jsonName": "algorithmControl"
                    }
                },
                "TargetLkfs": {
                    "target": "com.amazonaws.medialive#__doubleMinNegative59Max0",
                    "traits": {
                        "smithy.api#documentation": "Target LKFS(loudness) to adjust volume to. If no value is entered, a default value will be used according to the chosen algorithm.  The CALM Act (1770-1) recommends a target of -24 LKFS. The EBU R-128 specification (1770-2) recommends a target of -23 LKFS.",
                        "smithy.api#jsonName": "targetLkfs"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Normalization Settings"
            }
        },
        "com.amazonaws.medialive#AudioOnlyHlsSegmentType": {
            "type": "enum",
            "members": {
                "AAC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AAC"
                    }
                },
                "FMP4": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FMP4"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Only Hls Segment Type"
            }
        },
        "com.amazonaws.medialive#AudioOnlyHlsSettings": {
            "type": "structure",
            "members": {
                "AudioGroupId": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#documentation": "Specifies the group to which the audio Rendition belongs.",
                        "smithy.api#jsonName": "audioGroupId"
                    }
                },
                "AudioOnlyImage": {
                    "target": "com.amazonaws.medialive#InputLocation",
                    "traits": {
                        "smithy.api#documentation": "Optional. Specifies the .jpg or .png image to use as the cover art for an audio-only output. We recommend a low bit-size file because the image increases the output audio bandwidth.\n\nThe image is attached to the audio as an ID3 tag, frame type APIC, picture type 0x10, as per the \"ID3 tag version 2.4.0 - Native Frames\" standard.",
                        "smithy.api#jsonName": "audioOnlyImage"
                    }
                },
                "AudioTrackType": {
                    "target": "com.amazonaws.medialive#AudioOnlyHlsTrackType",
                    "traits": {
                        "smithy.api#documentation": "Four types of audio-only tracks are supported:\n\nAudio-Only Variant Stream\nThe client can play back this audio-only stream instead of video in low-bandwidth scenarios. Represented as an EXT-X-STREAM-INF in the HLS manifest.\n\nAlternate Audio, Auto Select, Default\nAlternate rendition that the client should try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=YES, AUTOSELECT=YES\n\nAlternate Audio, Auto Select, Not Default\nAlternate rendition that the client may try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO, AUTOSELECT=YES\n\nAlternate Audio, not Auto Select\nAlternate rendition that the client will not try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO, AUTOSELECT=NO",
                        "smithy.api#jsonName": "audioTrackType"
                    }
                },
                "SegmentType": {
                    "target": "com.amazonaws.medialive#AudioOnlyHlsSegmentType",
                    "traits": {
                        "smithy.api#documentation": "Specifies the segment type.",
                        "smithy.api#jsonName": "segmentType"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Only Hls Settings"
            }
        },
        "com.amazonaws.medialive#AudioOnlyHlsTrackType": {
            "type": "enum",
            "members": {
                "ALTERNATE_AUDIO_AUTO_SELECT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALTERNATE_AUDIO_AUTO_SELECT"
                    }
                },
                "ALTERNATE_AUDIO_AUTO_SELECT_DEFAULT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALTERNATE_AUDIO_AUTO_SELECT_DEFAULT"
                    }
                },
                "ALTERNATE_AUDIO_NOT_AUTO_SELECT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALTERNATE_AUDIO_NOT_AUTO_SELECT"
                    }
                },
                "AUDIO_ONLY_VARIANT_STREAM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AUDIO_ONLY_VARIANT_STREAM"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Only Hls Track Type"
            }
        },
        "com.amazonaws.medialive#AudioPidSelection": {
            "type": "structure",
            "members": {
                "Pid": {
                    "target": "com.amazonaws.medialive#__integerMin0Max8191",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "Selects a specific PID from within a source.",
                        "smithy.api#jsonName": "pid",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Pid Selection"
            }
        },
        "com.amazonaws.medialive#AudioSelector": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.medialive#__stringMin1",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "The name of this AudioSelector. AudioDescriptions will use this name to uniquely identify this Selector.  Selector names should be unique per input.",
                        "smithy.api#jsonName": "name",
                        "smithy.api#required": {}
                    }
                },
                "SelectorSettings": {
                    "target": "com.amazonaws.medialive#AudioSelectorSettings",
                    "traits": {
                        "smithy.api#documentation": "The audio selector settings.",
                        "smithy.api#jsonName": "selectorSettings"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Selector"
            }
        },
        "com.amazonaws.medialive#AudioSelectorSettings": {
            "type": "structure",
            "members": {
                "AudioHlsRenditionSelection": {
                    "target": "com.amazonaws.medialive#AudioHlsRenditionSelection",
                    "traits": {
                        "smithy.api#jsonName": "audioHlsRenditionSelection"
                    }
                },
                "AudioLanguageSelection": {
                    "target": "com.amazonaws.medialive#AudioLanguageSelection",
                    "traits": {
                        "smithy.api#jsonName": "audioLanguageSelection"
                    }
                },
                "AudioPidSelection": {
                    "target": "com.amazonaws.medialive#AudioPidSelection",
                    "traits": {
                        "smithy.api#jsonName": "audioPidSelection"
                    }
                },
                "AudioTrackSelection": {
                    "target": "com.amazonaws.medialive#AudioTrackSelection",
                    "traits": {
                        "smithy.api#jsonName": "audioTrackSelection"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Selector Settings"
            }
        },
        "com.amazonaws.medialive#AudioSilenceFailoverSettings": {
            "type": "structure",
            "members": {
                "AudioSelectorName": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "The name of the audio selector in the input that MediaLive should monitor to detect silence. Select your most important rendition. If you didn't create an audio selector in this input, leave blank.",
                        "smithy.api#jsonName": "audioSelectorName",
                        "smithy.api#required": {}
                    }
                },
                "AudioSilenceThresholdMsec": {
                    "target": "com.amazonaws.medialive#__integerMin1000",
                    "traits": {
                        "smithy.api#documentation": "The amount of time (in milliseconds) that the active input must be silent before automatic input failover occurs. Silence is defined as audio loss or audio quieter than -50 dBFS.",
                        "smithy.api#jsonName": "audioSilenceThresholdMsec"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Placeholder documentation for AudioSilenceFailoverSettings"
            }
        },
        "com.amazonaws.medialive#AudioTrack": {
            "type": "structure",
            "members": {
                "Track": {
                    "target": "com.amazonaws.medialive#__integerMin1",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "1-based integer value that maps to a specific audio track",
                        "smithy.api#jsonName": "track",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Track"
            }
        },
        "com.amazonaws.medialive#AudioTrackSelection": {
            "type": "structure",
            "members": {
                "Tracks": {
                    "target": "com.amazonaws.medialive#__listOfAudioTrack",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "Selects one or more unique audio tracks from within a source.",
                        "smithy.api#jsonName": "tracks",
                        "smithy.api#required": {}
                    }
                },
                "DolbyEDecode": {
                    "target": "com.amazonaws.medialive#AudioDolbyEDecode",
                    "traits": {
                        "smithy.api#documentation": "Configure decoding options for Dolby E streams - these should be Dolby E frames carried in PCM streams tagged with SMPTE-337",
                        "smithy.api#jsonName": "dolbyEDecode"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Track Selection"
            }
        },
        "com.amazonaws.medialive#AudioType": {
            "type": "enum",
            "members": {
                "CLEAN_EFFECTS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CLEAN_EFFECTS"
                    }
                },
                "HEARING_IMPAIRED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HEARING_IMPAIRED"
                    }
                },
                "UNDEFINED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNDEFINED"
                    }
                },
                "VISUAL_IMPAIRED_COMMENTARY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VISUAL_IMPAIRED_COMMENTARY"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Type"
            }
        },
        "com.amazonaws.medialive#AudioWatermarkSettings": {
            "type": "structure",
            "members": {
                "NielsenWatermarksSettings": {
                    "target": "com.amazonaws.medialive#NielsenWatermarksSettings",
                    "traits": {
                        "smithy.api#documentation": "Settings to configure Nielsen Watermarks in the audio encode",
                        "smithy.api#jsonName": "nielsenWatermarksSettings"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Audio Watermark Settings"
            }
        },
        "com.amazonaws.medialive#AuthenticationScheme": {
            "type": "enum",
            "members": {
                "AKAMAI": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AKAMAI"
                    }
                },
                "COMMON": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMMON"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Authentication Scheme"
            }
        },
        "com.amazonaws.medialive#AutomaticInputFailoverSettings": {
            "type": "structure",
            "members": {
                "ErrorClearTimeMsec": {
                    "target": "com.amazonaws.medialive#__integerMin1",
                    "traits": {
                        "smithy.api#documentation": "This clear time defines the requirement a recovered input must meet to be considered healthy. The input must have no failover conditions for this length of time. Enter a time in milliseconds. This value is particularly important if the input_preference for the failover pair is set to PRIMARY_INPUT_PREFERRED, because after this time, MediaLive will switch back to the primary input.",
                        "smithy.api#jsonName": "errorClearTimeMsec"
                    }
                },
                "FailoverConditions": {
                    "target": "com.amazonaws.medialive#__listOfFailoverCondition",
                    "traits": {
                        "smithy.api#documentation": "A list of failover conditions. If any of these conditions occur, MediaLive will perform a failover to the other input.",
                        "smithy.api#jsonName": "failoverConditions"
                    }
                },
                "InputPreference": {
                    "target": "com.amazonaws.medialive#InputPreference",
                    "traits": {
                        "smithy.api#documentation": "Input preference when deciding which input to make active when a previously failed input has recovered.",
                        "smithy.api#jsonName": "inputPreference"
                    }
                },
                "SecondaryInputId": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "The input ID of the secondary input in the automatic input failover pair.",
                        "smithy.api#jsonName": "secondaryInputId",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "The settings for Automatic Input Failover."
            }
        },
        "com.amazonaws.medialive#Av1ColorSpaceSettings": {
            "type": "structure",
            "members": {
                "ColorSpacePassthroughSettings": {
                    "target": "com.amazonaws.medialive#ColorSpacePassthroughSettings",
                    "traits": {
                        "smithy.api#jsonName": "colorSpacePassthroughSettings"
                    }
                },
                "Hdr10Settings": {
                    "target": "com.amazonaws.medialive#Hdr10Settings",
                    "traits": {
                        "smithy.api#jsonName": "hdr10Settings"
                    }
                },
                "Rec601Settings": {
                    "target": "com.amazonaws.medialive#Rec601Settings",
                    "traits": {
                        "smithy.api#jsonName": "rec601Settings"
                    }
                },
                "Rec709Settings": {
                    "target": "com.amazonaws.medialive#Rec709Settings",
                    "traits": {
                        "smithy.api#jsonName": "rec709Settings"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Av1 Color Space Settings"
            }
        },
        "com.amazonaws.medialive#Av1GopSizeUnits": {
            "type": "enum",
            "members": {
                "FRAMES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FRAMES"
                    }
                },
                "SECONDS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SECONDS"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Av1 Gop Size Units"
            }
        },
        "com.amazonaws.medialive#Av1Level": {
            "type": "enum",
            "members": {
                "AV1_LEVEL_2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_2"
                    }
                },
                "AV1_LEVEL_2_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_2_1"
                    }
                },
                "AV1_LEVEL_3": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_3"
                    }
                },
                "AV1_LEVEL_3_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_3_1"
                    }
                },
                "AV1_LEVEL_4": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_4"
                    }
                },
                "AV1_LEVEL_4_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_4_1"
                    }
                },
                "AV1_LEVEL_5": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_5"
                    }
                },
                "AV1_LEVEL_5_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_5_1"
                    }
                },
                "AV1_LEVEL_5_2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_5_2"
                    }
                },
                "AV1_LEVEL_5_3": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_5_3"
                    }
                },
                "AV1_LEVEL_6": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_6"
                    }
                },
                "AV1_LEVEL_6_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_6_1"
                    }
                },
                "AV1_LEVEL_6_2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_6_2"
                    }
                },
                "AV1_LEVEL_6_3": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_6_3"
                    }
                },
                "AV1_LEVEL_AUTO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AV1_LEVEL_AUTO"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Av1 Level"
            }
        },
        "com.amazonaws.medialive#Av1LookAheadRateControl": {
            "type": "enum",
            "members": {
                "HIGH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HIGH"
                    }
                },
                "LOW": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LOW"
                    }
                },
                "MEDIUM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MEDIUM"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Av1 Look Ahead Rate Control"
            }
        },
        "com.amazonaws.medialive#Av1SceneChangeDetect": {
            "type": "enum",
            "members": {
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                },
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Av1 Scene Change Detect"
            }
        },
        "com.amazonaws.medialive#Av1Settings": {
            "type": "structure",
            "members": {
                "AfdSignaling": {
                    "target": "com.amazonaws.medialive#AfdSignaling",
                    "traits": {
                        "smithy.api#documentation": "Configures whether MediaLive will write AFD values into the video.\nAUTO: MediaLive will try to preserve the input AFD value (in cases where multiple AFD values are valid).\nFIXED: the AFD value will be the value configured in the fixedAfd parameter.\nNONE: MediaLive won't write AFD into the video",
                        "smithy.api#jsonName": "afdSignaling"
                    }
                },
                "BufSize": {
                    "target": "com.amazonaws.medialive#__integerMin50000Max16000000",
                    "traits": {
                        "smithy.api#documentation": "The size of the buffer (HRD buffer model) in bits.",
                        "smithy.api#jsonName": "bufSize"
                    }
                },
                "ColorSpaceSettings": {
                    "target": "com.amazonaws.medialive#Av1ColorSpaceSettings",
                    "traits": {
                        "smithy.api#documentation": "Color Space settings",
                        "smithy.api#jsonName": "colorSpaceSettings"
                    }
                },
                "FixedAfd": {
                    "target": "com.amazonaws.medialive#FixedAfd",
                    "traits": {
                        "smithy.api#documentation": "Complete this property only if you set the afdSignaling property to FIXED. Choose the AFD value (4 bits) to write on all frames of the video encode.",
                        "smithy.api#jsonName": "fixedAfd"
                    }
                },
                "FramerateDenominator": {
                    "target": "com.amazonaws.medialive#__integerMin1Max3003",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "The denominator for the framerate. Framerate is a fraction, for example, 24000 / 1001.",
                        "smithy.api#jsonName": "framerateDenominator",
                        "smithy.api#required": {}
                    }
                },
                "FramerateNumerator": {
                    "target": "com.amazonaws.medialive#__integerMin1",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "The numerator for the framerate. Framerate is a fraction, for example, 24000 / 1001.",
                        "smithy.api#jsonName": "framerateNumerator",
                        "smithy.api#required": {}
                    }
                },
                "GopSize": {
                    "target": "com.amazonaws.medialive#__doubleMin0",
                    "traits": {
                        "smithy.api#documentation": "The GOP size (keyframe interval).\nIf GopSizeUnits is frames, GopSize must be a whole number and must be greater than or equal to 1.\nIf GopSizeUnits is seconds, GopSize must be greater than 0, but it can be a decimal.",
                        "smithy.api#jsonName": "gopSize"
                    }
                },
                "GopSizeUnits": {
                    "target": "com.amazonaws.medialive#Av1GopSizeUnits",
                    "traits": {
                        "smithy.api#documentation": "Choose the units for the GOP size: FRAMES or SECONDS. For SECONDS, MediaLive converts the size into a frame count at run time.",
                        "smithy.api#jsonName": "gopSizeUnits"
                    }
                },
                "Level": {
                    "target": "com.amazonaws.medialive#Av1Level",
                    "traits": {
                        "smithy.api#documentation": "Sets the level. This parameter is one of the properties of the encoding scheme for AV1.",
                        "smithy.api#jsonName": "level"
                    }
                },
                "LookAheadRateControl": {
                    "target": "com.amazonaws.medialive#Av1LookAheadRateControl",
                    "traits": {
                        "smithy.api#documentation": "Sets the amount of lookahead. A value of LOW can decrease latency and memory usage. A value of HIGH can produce better quality for certain content.",
                        "smithy.api#jsonName": "lookAheadRateControl"
                    }
                },
                "MaxBitrate": {
                    "target": "com.amazonaws.medialive#__integerMin50000Max8000000",
                    "traits": {
                        "smithy.api#documentation": "The maximum bitrate to assign.\nFor recommendations, see the description for qvbrQualityLevel.",
                        "smithy.api#jsonName": "maxBitrate"
                    }
                },
                "MinIInterval": {
                    "target": "com.amazonaws.medialive#__integerMin0Max30",
                    "traits": {
                        "smithy.api#documentation": "Applies only if you enable SceneChangeDetect. Sets the interval between frames. This property ensures a minimum separation between repeated (cadence) I-frames and any I-frames inserted by scene change detection (SCD frames).\nEnter a number for the interval, measured in number of frames.\nIf an SCD frame and a cadence frame are closer than the specified number of frames, MediaLive shrinks or stretches the GOP to include the SCD frame. Then normal cadence resumes in the next GOP. For GOP stretch to succeed, you must enable LookAheadRateControl.\nNote that the maximum GOP stretch = (GOP size) + (Minimum I-interval) - 1",
                        "smithy.api#jsonName": "minIInterval"
                    }
                },
                "ParDenominator": {
                    "target": "com.amazonaws.medialive#__integerMin1",
                    "traits": {
                        "smithy.api#documentation": "The denominator for the output pixel aspect ratio (PAR).",
                        "smithy.api#jsonName": "parDenominator"
                    }
                },
                "ParNumerator": {
                    "target": "com.amazonaws.medialive#__integerMin1",
                    "traits": {
                        "smithy.api#documentation": "The numerator for the output pixel aspect ratio (PAR).",
                        "smithy.api#jsonName": "parNumerator"
                    }
                },
                "QvbrQualityLevel": {
                    "target": "com.amazonaws.medialive#__integerMin1Max10",
                    "traits": {
                        "smithy.api#documentation": "Controls the target quality for the video encode. With QVBR rate control mode, the final quality is the target quality, constrained by the maxBitrate.\nSet values for the qvbrQualityLevel property and maxBitrate property that suit your most important viewing devices.\nTo let MediaLive set the quality level (AUTO mode), leave the qvbrQualityLevel field empty. In this case, MediaLive uses the maximum bitrate, and the quality follows from that: more complex content might have a lower quality.\nOr set a target quality level and a maximum bitrate. With more complex content, MediaLive will try to achieve the target quality, but it won't exceed the maximum bitrate. With less complex content, This option will use only the bitrate needed to reach the target quality.\nRecommended values are:\nPrimary screen: qvbrQualityLevel: Leave empty. maxBitrate: 4,000,000\nPC or tablet: qvbrQualityLevel: Leave empty. maxBitrate: 1,500,000 to 3,000,000\nSmartphone: qvbrQualityLevel: Leave empty. maxBitrate: 1,000,000 to 1,500,000",
                        "smithy.api#jsonName": "qvbrQualityLevel"
                    }
                },
                "SceneChangeDetect": {
                    "target": "com.amazonaws.medialive#Av1SceneChangeDetect",
                    "traits": {
                        "smithy.api#documentation": "Controls whether MediaLive inserts I-frames when it detects a scene change. ENABLED or DISABLED.",
                        "smithy.api#jsonName": "sceneChangeDetect"
                    }
                },
                "TimecodeBurninSettings": {
                    "target": "com.amazonaws.medialive#TimecodeBurninSettings",
                    "traits": {
                        "smithy.api#documentation": "Configures the timecode burn-in feature. If you enable this feature, the timecode will become part of the video.",
                        "smithy.api#jsonName": "timecodeBurninSettings"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Av1 Settings"
            }
        },
        "com.amazonaws.medialive#AvailBlanking": {
            "type": "structure",
            "members": {
                "AvailBlankingImage": {
                    "target": "com.amazonaws.medialive#InputLocation",
                    "traits": {
                        "smithy.api#documentation": "Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported.",
                        "smithy.api#jsonName": "availBlankingImage"
                    }
                },
                "State": {
                    "target": "com.amazonaws.medialive#AvailBlankingState",
                    "traits": {
                        "smithy.api#documentation": "When set to enabled, causes video, audio and captions to be blanked when insertion metadata is added.",
                        "smithy.api#jsonName": "state"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Avail Blanking"
            }
        },
        "com.amazonaws.medialive#AvailBlankingState": {
            "type": "enum",
            "members": {
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                },
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Avail Blanking State"
            }
        },
        "com.amazonaws.medialive#AvailConfiguration": {
            "type": "structure",
            "members": {
                "AvailSettings": {
                    "target": "com.amazonaws.medialive#AvailSettings",
                    "traits": {
                        "smithy.api#documentation": "Controls how SCTE-35 messages create cues. Splice Insert mode treats all segmentation signals traditionally. With Time Signal APOS mode only Time Signal Placement Opportunity and Break messages create segment breaks. With ESAM mode, signals are forwarded to an ESAM server for possible update.",
                        "smithy.api#jsonName": "availSettings"
                    }
                },
                "Scte35SegmentationScope": {
                    "target": "com.amazonaws.medialive#Scte35SegmentationScope",
                    "traits": {
                        "smithy.api#documentation": "Configures whether SCTE 35 passthrough triggers segment breaks in all output groups that use segmented outputs. Insertion of a SCTE 35 message typically results in a segment break, in addition to the regular cadence of breaks. The segment breaks appear in video outputs, audio outputs, and captions outputs (if any).\n\nALL_OUTPUT_GROUPS: Default. Insert the segment break in in all output groups that have segmented outputs. This is the legacy behavior.\nSCTE35_ENABLED_OUTPUT_GROUPS: Insert the segment break only in output groups that have SCTE 35 passthrough enabled. This is the recommended value, because it reduces unnecessary segment breaks.",
                        "smithy.api#jsonName": "scte35SegmentationScope"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Avail Configuration"
            }
        },
        "com.amazonaws.medialive#AvailSettings": {
            "type": "structure",
            "members": {
                "Esam": {
                    "target": "com.amazonaws.medialive#Esam",
                    "traits": {
                        "smithy.api#jsonName": "esam"
                    }
                },
                "Scte35SpliceInsert": {
                    "target": "com.amazonaws.medialive#Scte35SpliceInsert",
                    "traits": {
                        "smithy.api#jsonName": "scte35SpliceInsert"
                    }
                },
                "Scte35TimeSignalApos": {
                    "target": "com.amazonaws.medialive#Scte35TimeSignalApos",
                    "traits": {
                        "smithy.api#jsonName": "scte35TimeSignalApos"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Avail Settings"
            }
        },
        "com.amazonaws.medialive#BadGatewayException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#jsonName": "message"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Placeholder documentation for BadGatewayException",
                "smithy.api#error": "server",
                "smithy.api#httpError": 502
            }
        },
        "com.amazonaws.medialive#BadRequestException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#jsonName": "message"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Placeholder documentation for BadRequestException",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.medialive#BandwidthReductionFilterSettings": {
            "type": "structure",
            "members": {
                "PostFilterSharpening": {
                    "target": "com.amazonaws.medialive#BandwidthReductionPostFilterSharpening",
                    "traits": {
                        "smithy.api#documentation": "Configures the sharpening control, which is available when the bandwidth reduction filter is enabled. This\ncontrol sharpens edges and contours, which produces a specific artistic effect that you might want.\n\nWe recommend that you test each of the values (including DISABLED) to observe the sharpening effect on the\ncontent.",
                        "smithy.api#jsonName": "postFilterSharpening"
                    }
                },
                "Strength": {
                    "target": "com.amazonaws.medialive#BandwidthReductionFilterStrength",
                    "traits": {
                        "smithy.api#documentation": "Enables the bandwidth reduction filter. The filter strengths range from 1 to 4. We recommend that you always\nenable this filter and use AUTO, to let MediaLive apply the optimum filtering for the context.",
                        "smithy.api#jsonName": "strength"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Bandwidth Reduction Filter Settings"
            }
        },
        "com.amazonaws.medialive#BandwidthReductionFilterStrength": {
            "type": "enum",
            "members": {
                "AUTO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AUTO"
                    }
                },
                "STRENGTH_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STRENGTH_1"
                    }
                },
                "STRENGTH_2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STRENGTH_2"
                    }
                },
                "STRENGTH_3": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STRENGTH_3"
                    }
                },
                "STRENGTH_4": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STRENGTH_4"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Bandwidth Reduction Filter Strength"
            }
        },
        "com.amazonaws.medialive#BandwidthReductionPostFilterSharpening": {
            "type": "enum",
            "members": {
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                },
                "SHARPENING_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SHARPENING_1"
                    }
                },
                "SHARPENING_2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SHARPENING_2"
                    }
                },
                "SHARPENING_3": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SHARPENING_3"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Bandwidth Reduction Post Filter Sharpening"
            }
        },
        "com.amazonaws.medialive#BatchDelete": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.medialive#BatchDeleteRequest"
            },
            "output": {
                "target": "com.amazonaws.medialive#BatchDeleteResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.medialive#BadGatewayException"
                },
                {
                    "target": "com.amazonaws.medialive#BadRequestException"
                },
                {
                    "target": "com.amazonaws.medialive#ConflictException"
                },
                {
                    "target": "com.amazonaws.medialive#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.medialive#GatewayTimeoutException"
                },
                {
                    "target": "com.amazonaws.medialive#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.medialive#NotFoundException"
                },
                {
                    "target": "com.amazonaws.medialive#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Starts delete of resources.",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/prod/batch/delete",
                    "code": 200
                }
            }
        },
        "com.amazonaws.medialive#BatchDeleteRequest": {
            "type": "structure",
            "members": {
                "ChannelIds": {
                    "target": "com.amazonaws.medialive#__listOf__string",
                    "traits": {
                        "smithy.api#documentation": "List of channel IDs",
                        "smithy.api#jsonName": "channelIds"
                    }
                },
                "InputIds": {
                    "target": "com.amazonaws.medialive#__listOf__string",
                    "traits": {
                        "smithy.api#documentation": "List of input IDs",
                        "smithy.api#jsonName": "inputIds"
                    }
                },
                "InputSecurityGroupIds": {
                    "target": "com.amazonaws.medialive#__listOf__string",
                    "traits": {
                        "smithy.api#documentation": "List of input security group IDs",
                        "smithy.api#jsonName": "inputSecurityGroupIds"
                    }
                },
                "MultiplexIds": {
                    "target": "com.amazonaws.medialive#__listOf__string",
                    "traits": {
                        "smithy.api#documentation": "List of multiplex IDs",
                        "smithy.api#jsonName": "multiplexIds"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A request to delete resources",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.medialive#BatchDeleteResponse": {
            "type": "structure",
            "members": {
                "Failed": {
                    "target": "com.amazonaws.medialive#__listOfBatchFailedResultModel",
                    "traits": {
                        "smithy.api#documentation": "List of failed operations",
                        "smithy.api#jsonName": "failed"
                    }
                },
                "Successful": {
                    "target": "com.amazonaws.medialive#__listOfBatchSuccessfulResultModel",
                    "traits": {
                        "smithy.api#documentation": "List of successful operations",
                        "smithy.api#jsonName": "successful"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Placeholder documentation for BatchDeleteResponse",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.medialive#BatchFailedResultModel": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#documentation": "ARN of the resource",
                        "smithy.api#jsonName": "arn"
                    }
                },
                "Code": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#documentation": "Error code for the failed operation",
                        "smithy.api#jsonName": "code"
                    }
                },
                "Id": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#documentation": "ID of the resource",
                        "smithy.api#jsonName": "id"
                    }
                },
                "Message": {
                    "target": "com.amazonaws.medialive#__string",
                    "traits": {
                        "smithy.api#documentation": "Error message for the failed operation",
                        "smithy.api#jsonName": "message"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Details from a failed operation"
            }
        },
        "com.amazonaws.medialive#BatchScheduleActionCreateRequest": {
            "type": "structure",
            "members": {
                "ScheduleActions": {
                    "target": "com.amazonaws.medialive#__listOfScheduleAction",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "A list of schedule actions to create.",
                        "smithy.api#jsonName": "scheduleActions",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "A list of schedule actions to create (in a request) or that have been created (in a response)."
            }
        },
        "com.amazonaws.medialive#BatchScheduleActionCreateResult": {
            "type": "structure",
            "members": {
                "ScheduleActions": {
                    "target": "com.amazonaws.medialive#__listOfScheduleAction",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "List of actions that have been created in the schedule.",
[...]
