{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.mgn#ARN": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {},
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.mgn#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.mgn#LargeBoundedString"
                },
                "code": {
                    "target": "com.amazonaws.mgn#LargeBoundedString"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Operating denied due to a file permission or access check error.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.mgn#AccountID": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "[0-9]{12,}"
            }
        },
        "com.amazonaws.mgn#AccountResource": {
            "type": "resource",
            "identifiers": {
                "accountID": {
                    "target": "com.amazonaws.mgn#AccountID"
                }
            }
        },
        "com.amazonaws.mgn#ActionCategory": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "DISASTER_RECOVERY",
                        "name": "DISASTER_RECOVERY"
                    },
                    {
                        "value": "OPERATING_SYSTEM",
                        "name": "OPERATING_SYSTEM"
                    },
                    {
                        "value": "LICENSE_AND_SUBSCRIPTION",
                        "name": "LICENSE_AND_SUBSCRIPTION"
                    },
                    {
                        "value": "VALIDATION",
                        "name": "VALIDATION"
                    },
                    {
                        "value": "OBSERVABILITY",
                        "name": "OBSERVABILITY"
                    },
                    {
                        "value": "REFACTORING",
                        "name": "REFACTORING"
                    },
                    {
                        "value": "SECURITY",
                        "name": "SECURITY"
                    },
                    {
                        "value": "NETWORKING",
                        "name": "NETWORKING"
                    },
                    {
                        "value": "CONFIGURATION",
                        "name": "CONFIGURATION"
                    },
                    {
                        "value": "BACKUP",
                        "name": "BACKUP"
                    },
                    {
                        "value": "OTHER",
                        "name": "OTHER"
                    }
                ]
            }
        },
        "com.amazonaws.mgn#ActionDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                },
                "smithy.api#pattern": "^[0-9a-zA-Z ():/.,'-_#*;\n]*$"
            }
        },
        "com.amazonaws.mgn#ActionID": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "[0-9a-zA-Z]$"
            }
        },
        "com.amazonaws.mgn#ActionIDs": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mgn#ActionID"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 100
                }
            }
        },
        "com.amazonaws.mgn#ActionName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^[^\\s\\x00]( *[^\\s\\x00])*$"
            }
        },
        "com.amazonaws.mgn#ApplianceID": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 27,
                    "max": 27
                },
                "smithy.api#pattern": "^appliance-[0-9a-zA-Z]{17}$"
            }
        },
        "com.amazonaws.mgn#ApplianceResource": {
            "type": "resource",
            "identifiers": {
                "applianceID": {
                    "target": "com.amazonaws.mgn#ApplianceID"
                }
            },
            "traits": {
                "aws.api#arn": {
                    "template": "appliance/{applianceID}"
                }
            }
        },
        "com.amazonaws.mgn#Application": {
            "type": "structure",
            "members": {
                "applicationID": {
                    "target": "com.amazonaws.mgn#ApplicationID",
                    "traits": {
                        "smithy.api#documentation": "<p>Application ID.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.mgn#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>Application ARN.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.mgn#ApplicationName",
                    "traits": {
                        "smithy.api#documentation": "<p>Application name.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.mgn#ApplicationDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Application description.</p>"
                    }
                },
                "isArchived": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Application archival status.</p>"
                    }
                },
                "applicationAggregatedStatus": {
                    "target": "com.amazonaws.mgn#ApplicationAggregatedStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Application aggregated status.</p>"
                    }
                },
                "creationDateTime": {
                    "target": "com.amazonaws.mgn#ISO8601DatetimeString",
                    "traits": {
                        "smithy.api#documentation": "<p>Application creation dateTime.</p>"
                    }
                },
                "lastModifiedDateTime": {
                    "target": "com.amazonaws.mgn#ISO8601DatetimeString",
                    "traits": {
                        "smithy.api#documentation": "<p>Application last modified dateTime.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.mgn#TagsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Application tags.</p>"
                    }
                },
                "waveID": {
                    "target": "com.amazonaws.mgn#WaveID",
                    "traits": {
                        "smithy.api#documentation": "<p>Application wave ID.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.mgn#ApplicationResource"
                    }
                ]
            }
        },
        "com.amazonaws.mgn#ApplicationAggregatedStatus": {
            "type": "structure",
            "members": {
                "lastUpdateDateTime": {
                    "target": "com.amazonaws.mgn#ISO8601DatetimeString",
                    "traits": {
                        "smithy.api#documentation": "<p>Application aggregated status last update dateTime.</p>"
                    }
                },
                "healthStatus": {
                    "target": "com.amazonaws.mgn#ApplicationHealthStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Application aggregated status health status.</p>"
                    }
                },
                "progressStatus": {
                    "target": "com.amazonaws.mgn#ApplicationProgressStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Application aggregated status progress status.</p>"
                    }
                },
                "totalSourceServers": {
                    "target": "com.amazonaws.mgn#PositiveInteger",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Application aggregated status total source servers amount.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Application aggregated status.</p>"
            }
        },
        "com.amazonaws.mgn#ApplicationDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 600
                },
                "smithy.api#pattern": "^[^\\x00]*$"
            }
        },
        "com.amazonaws.mgn#ApplicationHealthStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "HEALTHY",
                        "value": "HEALTHY"
                    },
                    {
                        "name": "LAGGING",
                        "value": "LAGGING"
                    },
                    {
                        "name": "ERROR",
                        "value": "ERROR"
                    }
                ]
            }
        },
        "com.amazonaws.mgn#ApplicationID": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 21,
                    "max": 21
                },
                "smithy.api#pattern": "^app-[0-9a-zA-Z]{17}$"
            }
        },
        "com.amazonaws.mgn#ApplicationIDs": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mgn#ApplicationID"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                }
            }
        },
        "com.amazonaws.mgn#ApplicationIDsFilter": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mgn#ApplicationID"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 200
                }
            }
        },
        "com.amazonaws.mgn#ApplicationMigrationService": {
            "type": "service",
            "version": "2020-02-26",
            "operations": [
                {
                    "target": "com.amazonaws.mgn#InitializeService"
                },
                {
                    "target": "com.amazonaws.mgn#ListManagedAccounts"
                },
                {
                    "target": "com.amazonaws.mgn#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.mgn#TagResource"
                },
                {
                    "target": "com.amazonaws.mgn#UntagResource"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.mgn#AccountResource"
                },
                {
                    "target": "com.amazonaws.mgn#ApplianceResource"
                },
                {
                    "target": "com.amazonaws.mgn#ApplicationResource"
                },
                {
                    "target": "com.amazonaws.mgn#ConnectorResource"
                },
                {
                    "target": "com.amazonaws.mgn#ExportResource"
                },
                {
                    "target": "com.amazonaws.mgn#ImportResource"
                },
                {
                    "target": "com.amazonaws.mgn#JobResource"
                },
                {
                    "target": "com.amazonaws.mgn#LaunchConfigurationTemplateResource"
                },
                {
                    "target": "com.amazonaws.mgn#ReplicationConfigurationTemplateResource"
                },
                {
                    "target": "com.amazonaws.mgn#SourceServerResource"
                },
                {
                    "target": "com.amazonaws.mgn#VcenterClientResource"
                },
                {
                    "target": "com.amazonaws.mgn#WaveResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "mgn",
                    "arnNamespace": "mgn",
                    "awsProductName": "mgn",
                    "cloudTrailEventSource": "mgn.amazonaws.com"
                },
                "aws.auth#sigv4": {
                    "name": "mgn"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "additionalAllowedHeaders": [
                        "content-type",
                        "x-amz-content-sha256",
                        "x-amz-user-agent",
                        "x-amzn-trace-id"
                    ],
                    "additionalExposedHeaders": [
                        "x-amzn-errortype",
                        "x-amzn-requestid",
                        "x-amzn-trace-id",
                        "x-amz-apigw-id"
                    ]
                },
                "smithy.api#documentation": "<p>The Application Migration Service service.</p>",
                "smithy.api#title": "Application Migration Service",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://mgn-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://mgn-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://mgn.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://mgn.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "af-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "me-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mgn.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.mgn#ApplicationName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^[^\\s\\x00]( *[^\\s\\x00])*$"
            }
        },
        "com.amazonaws.mgn#ApplicationProgressStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "NOT_STARTED",
                        "value": "NOT_STARTED"
                    },
                    {
                        "name": "IN_PROGRESS",
                        "value": "IN_PROGRESS"
                    },
                    {
                        "name": "COMPLETED",
                        "value": "COMPLETED"
                    }
                ]
            }
        },
        "com.amazonaws.mgn#ApplicationResource": {
            "type": "resource",
            "identifiers": {
                "applicationID": {
                    "target": "com.amazonaws.mgn#ApplicationID"
                }
            },
            "create": {
                "target": "com.amazonaws.mgn#CreateApplication"
            },
            "delete": {
                "target": "com.amazonaws.mgn#DeleteApplication"
            },
            "list": {
                "target": "com.amazonaws.mgn#ListApplications"
            },
            "operations": [
                {
                    "target": "com.amazonaws.mgn#ArchiveApplication"
                },
                {
                    "target": "com.amazonaws.mgn#AssociateSourceServers"
                },
                {
                    "target": "com.amazonaws.mgn#DisassociateSourceServers"
                },
                {
                    "target": "com.amazonaws.mgn#UnarchiveApplication"
                },
                {
                    "target": "com.amazonaws.mgn#UpdateApplication"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "application/{applicationID}"
                }
            }
        },
        "com.amazonaws.mgn#ApplicationsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mgn#Application"
            }
        },
        "com.amazonaws.mgn#ArchiveApplication": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mgn#ArchiveApplicationRequest"
            },
            "output": {
                "target": "com.amazonaws.mgn#Application"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mgn#ConflictException"
                },
                {
                    "target": "com.amazonaws.mgn#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mgn#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mgn#UninitializedAccountException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Archive application.</p>",
                "smithy.api#http": {
                    "uri": "/ArchiveApplication",
                    "method": "POST",
                    "code": 200
                }
            }
        },
        "com.amazonaws.mgn#ArchiveApplicationRequest": {
            "type": "structure",
            "members": {
                "applicationID": {
                    "target": "com.amazonaws.mgn#ApplicationID",
                    "traits": {
                        "smithy.api#documentation": "<p>Application ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "accountID": {
                    "target": "com.amazonaws.mgn#AccountID",
                    "traits": {
                        "smithy.api#documentation": "<p>Account ID.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mgn#ArchiveWave": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mgn#ArchiveWaveRequest"
            },
            "output": {
                "target": "com.amazonaws.mgn#Wave"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mgn#ConflictException"
                },
                {
                    "target": "com.amazonaws.mgn#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mgn#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mgn#UninitializedAccountException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Archive wave.</p>",
                "smithy.api#http": {
                    "uri": "/ArchiveWave",
                    "method": "POST",
                    "code": 200
                }
            }
        },
        "com.amazonaws.mgn#ArchiveWaveRequest": {
            "type": "structure",
            "members": {
                "waveID": {
                    "target": "com.amazonaws.mgn#WaveID",
                    "traits": {
                        "smithy.api#documentation": "<p>Wave ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "accountID": {
                    "target": "com.amazonaws.mgn#AccountID",
                    "traits": {
                        "smithy.api#documentation": "<p>Account ID.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mgn#AssociateApplications": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mgn#AssociateApplicationsRequest"
            },
            "output": {
                "target": "com.amazonaws.mgn#AssociateApplicationsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mgn#ConflictException"
                },
                {
                    "target": "com.amazonaws.mgn#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mgn#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mgn#UninitializedAccountException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associate applications to wave.</p>",
                "smithy.api#http": {
                    "uri": "/AssociateApplications",
                    "method": "POST",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mgn#AssociateApplicationsRequest": {
            "type": "structure",
            "members": {
                "waveID": {
                    "target": "com.amazonaws.mgn#WaveID",
                    "traits": {
                        "smithy.api#documentation": "<p>Wave ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "applicationIDs": {
                    "target": "com.amazonaws.mgn#ApplicationIDs",
                    "traits": {
                        "smithy.api#documentation": "<p>Application IDs list.</p>",
                        "smithy.api#required": {}
                    }
                },
                "accountID": {
                    "target": "com.amazonaws.mgn#AccountID",
                    "traits": {
                        "smithy.api#documentation": "<p>Account ID.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mgn#AssociateApplicationsResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.mgn#AssociateSourceServers": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mgn#AssociateSourceServersRequest"
            },
            "output": {
                "target": "com.amazonaws.mgn#AssociateSourceServersResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mgn#ConflictException"
                },
                {
                    "target": "com.amazonaws.mgn#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mgn#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mgn#UninitializedAccountException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associate source servers to application.</p>",
                "smithy.api#http": {
                    "uri": "/AssociateSourceServers",
                    "method": "POST",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mgn#AssociateSourceServersRequest": {
            "type": "structure",
            "members": {
                "applicationID": {
                    "target": "com.amazonaws.mgn#ApplicationID",
                    "traits": {
                        "smithy.api#documentation": "<p>Application ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sourceServerIDs": {
                    "target": "com.amazonaws.mgn#AssociateSourceServersRequestSourceServerIDs",
                    "traits": {
                        "smithy.api#documentation": "<p>Source server IDs list.</p>",
                        "smithy.api#required": {}
                    }
                },
                "accountID": {
                    "target": "com.amazonaws.mgn#AccountID",
                    "traits": {
                        "smithy.api#documentation": "<p>Account ID.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mgn#AssociateSourceServersRequestSourceServerIDs": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mgn#SourceServerID"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                }
            }
        },
        "com.amazonaws.mgn#AssociateSourceServersResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.mgn#BandwidthThrottling": {
            "type": "long",
            "traits": {
                "smithy.api#default": 0,
                "smithy.api#range": {
                    "min": 0,
                    "max": 10000
                }
            }
        },
        "com.amazonaws.mgn#BootMode": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "LEGACY_BIOS",
                        "value": "LEGACY_BIOS"
                    },
                    {
                        "name": "UEFI",
                        "value": "UEFI"
                    },
                    {
                        "name": "USE_SOURCE",
                        "value": "USE_SOURCE"
                    }
                ]
            }
        },
        "com.amazonaws.mgn#BoundedString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                }
            }
        },
        "com.amazonaws.mgn#CPU": {
            "type": "structure",
            "members": {
                "cores": {
                    "target": "com.amazonaws.mgn#PositiveInteger",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The number of CPU cores on the source server.</p>"
                    }
                },
                "modelName": {
                    "target": "com.amazonaws.mgn#BoundedString",
                    "traits": {
                        "smithy.api#documentation": "<p>The source server's CPU model name.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Source server CPU information.</p>"
            }
        },
        "com.amazonaws.mgn#ChangeServerLifeCycleState": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mgn#ChangeServerLifeCycleStateRequest"
            },
            "output": {
                "target": "com.amazonaws.mgn#SourceServer"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mgn#ConflictException"
                },
                {
                    "target": "com.amazonaws.mgn#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mgn#UninitializedAccountException"
                },
                {
                    "target": "com.amazonaws.mgn#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Allows the user to set the SourceServer.LifeCycle.state property for specific Source Server IDs to one of the following: READY_FOR_TEST or READY_FOR_CUTOVER. This command only works if the Source Server is already launchable (dataReplicationInfo.lagDuration is not null.)</p>",
                "smithy.api#http": {
                    "uri": "/ChangeServerLifeCycleState",
                    "method": "POST",
                    "code": 200
                }
            }
        },
        "com.amazonaws.mgn#ChangeServerLifeCycleStateRequest": {
            "type": "structure",
            "members": {
                "sourceServerID": {
                    "target": "com.amazonaws.mgn#SourceServerID",
                    "traits": {
                        "smithy.api#documentation": "<p>The request to change the source server migration lifecycle state by source server ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lifeCycle": {
                    "target": "com.amazonaws.mgn#ChangeServerLifeCycleStateSourceServerLifecycle",
                    "traits": {
                        "smithy.api#documentation": "<p>The request to change the source server migration lifecycle state.</p>",
                        "smithy.api#required": {}
                    }
                },
                "accountID": {
                    "target": "com.amazonaws.mgn#AccountID",
                    "traits": {
                        "smithy.api#documentation": "<p>The request to change the source server migration account ID.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mgn#ChangeServerLifeCycleStateSourceServerLifecycle": {
            "type": "structure",
            "members": {
                "state": {
                    "target": "com.amazonaws.mgn#ChangeServerLifeCycleStateSourceServerLifecycleState",
                    "traits": {
                        "smithy.api#documentation": "<p>The request to change the source server migration lifecycle state.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request to change the source server migration lifecycle state.</p>"
            }
        },
        "com.amazonaws.mgn#ChangeServerLifeCycleStateSourceServerLifecycleState": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "READY_FOR_TEST",
                        "value": "READY_FOR_TEST"
                    },
                    {
                        "name": "READY_FOR_CUTOVER",
                        "value": "READY_FOR_CUTOVER"
                    },
                    {
                        "name": "CUTOVER",
                        "value": "CUTOVER"
                    }
                ]
            }
        },
        "com.amazonaws.mgn#ClientIdempotencyToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 64
                }
            }
        },
        "com.amazonaws.mgn#CloudWatchLogGroupName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 512
                },
                "smithy.api#pattern": "^[\\.\\-_/#A-Za-z0-9]+$"
            }
        },
        "com.amazonaws.mgn#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.mgn#LargeBoundedString"
                },
                "code": {
                    "target": "com.amazonaws.mgn#LargeBoundedString"
                },
                "resourceId": {
                    "target": "com.amazonaws.mgn#LargeBoundedString",
                    "traits": {
                        "smithy.api#documentation": "<p>A conflict occurred when prompting for the Resource ID.</p>"
                    }
                },
                "resourceType": {
                    "target": "com.amazonaws.mgn#LargeBoundedString",
                    "traits": {
                        "smithy.api#documentation": "<p>A conflict occurred when prompting for resource type.</p>"
                    }
                },
                "errors": {
                    "target": "com.amazonaws.mgn#ConflictExceptionErrors",
                    "traits": {
                        "smithy.api#documentation": "<p>Conflict Exception specific errors.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.mgn#ConflictExceptionErrors": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mgn#ErrorDetails"
            }
        },
        "com.amazonaws.mgn#Connector": {
            "type": "structure",
            "members": {
                "connectorID": {
                    "target": "com.amazonaws.mgn#ConnectorID",
                    "traits": {
                        "smithy.api#documentation": "<p>Connector ID.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.mgn#ConnectorName",
                    "traits": {
                        "smithy.api#documentation": "<p>Connector name.</p>"
                    }
                },
                "ssmInstanceID": {
                    "target": "com.amazonaws.mgn#SsmInstanceID",
                    "traits": {
                        "smithy.api#documentation": "<p>Connector SSM instance ID.</p>"
                    }
                },
                "arn": {
                    "target": "com.amazonaws.mgn#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>Connector arn.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.mgn#TagsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Connector tags.</p>"
                    }
                },
                "ssmCommandConfig": {
                    "target": "com.amazonaws.mgn#ConnectorSsmCommandConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Connector SSM command config.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.mgn#ConnectorResource"
                    }
                ]
            }
        },
        "com.amazonaws.mgn#ConnectorArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 27,
                    "max": 100
                },
                "smithy.api#pattern": "^arn:[\\w-]+:mgn:([a-z]{2}-(gov-)?[a-z]+-\\d{1})?:(\\d{12})?:connector\\/(connector-[0-9a-zA-Z]{17})$"
            }
        },
        "com.amazonaws.mgn#ConnectorID": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 27,
                    "max": 27
                },
                "smithy.api#pattern": "^connector-[0-9a-zA-Z]{17}$"
            }
        },
        "com.amazonaws.mgn#ConnectorIDsFilter": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mgn#ConnectorID"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 20
                }
            }
        },
        "com.amazonaws.mgn#ConnectorName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^[A-Za-z0-9_-]+$"
            }
        },
        "com.amazonaws.mgn#ConnectorResource": {
            "type": "resource",
            "identifiers": {
                "connectorID": {
                    "target": "com.amazonaws.mgn#ConnectorID"
                }
            },
            "create": {
                "target": "com.amazonaws.mgn#CreateConnector"
            },
            "update": {
                "target": "com.amazonaws.mgn#UpdateConnector"
            },
            "delete": {
                "target": "com.amazonaws.mgn#DeleteConnector"
            },
            "list": {
                "target": "com.amazonaws.mgn#ListConnectors"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "connector/{connectorID}"
                }
            }
        },
        "com.amazonaws.mgn#ConnectorSsmCommandConfig": {
            "type": "structure",
            "members": {
                "s3OutputEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Connector SSM command config S3 output enabled.</p>",
                        "smithy.api#required": {}
                    }
                },
                "outputS3BucketName": {
                    "target": "com.amazonaws.mgn#S3BucketName",
                    "traits": {
                        "smithy.api#documentation": "<p>Connector SSM command config output S3 bucket name.</p>"
                    }
                },
                "cloudWatchOutputEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Connector SSM command config CloudWatch output enabled.</p>",
                        "smithy.api#required": {}
                    }
                },
                "cloudWatchLogGroupName": {
                    "target": "com.amazonaws.mgn#CloudWatchLogGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>Connector SSM command config CloudWatch log group name.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Connector SSM command config.</p>"
            }
        },
        "com.amazonaws.mgn#ConnectorsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mgn#Connector"
            }
        },
        "com.amazonaws.mgn#Cpus": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mgn#CPU"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                }
            }
        },
        "com.amazonaws.mgn#CreateApplication": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mgn#CreateApplicationRequest"
            },
            "output": {
                "target": "com.amazonaws.mgn#Application"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mgn#ConflictException"
                },
                {
                    "target": "com.amazonaws.mgn#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mgn#UninitializedAccountException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create application.</p>",
                "smithy.api#http": {
                    "uri": "/CreateApplication",
                    "method": "POST",
                    "code": 201
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mgn#CreateApplicationRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.mgn#ApplicationName",
                    "traits": {
                        "smithy.api#documentation": "<p>Application name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.mgn#ApplicationDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Application description.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.mgn#TagsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Application tags.</p>"
                    }
                },
                "accountID": {
                    "target": "com.amazonaws.mgn#AccountID",
                    "traits": {
                        "smithy.api#documentation": "<p>Account ID.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mgn#CreateConnector": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mgn#CreateConnectorRequest"
            },
            "output": {
                "target": "com.amazonaws.mgn#Connector"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mgn#UninitializedAccountException"
                },
                {
                    "target": "com.amazonaws.mgn#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create Connector.</p>",
                "smithy.api#http": {
                    "uri": "/CreateConnector",
                    "method": "POST",
                    "code": 201
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mgn#CreateConnectorRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.mgn#ConnectorName",
                    "traits": {
                        "smithy.api#documentation": "<p>Create Connector request name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ssmInstanceID": {
                    "target": "com.amazonaws.mgn#SsmInstanceID",
                    "traits": {
                        "smithy.api#documentation": "<p>Create Connector request SSM instance ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.mgn#TagsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Create Connector request tags.</p>"
                    }
                },
                "ssmCommandConfig": {
                    "target": "com.amazonaws.mgn#ConnectorSsmCommandConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Create Connector request SSM command config.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mgn#CreateLaunchConfigurationTemplate": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mgn#CreateLaunchConfigurationTemplateRequest"
            },
            "output": {
                "target": "com.amazonaws.mgn#LaunchConfigurationTemplate"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mgn#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mgn#UninitializedAccountException"
                },
                {
                    "target": "com.amazonaws.mgn#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new Launch Configuration Template.</p>",
                "smithy.api#http": {
                    "uri": "/CreateLaunchConfigurationTemplate",
                    "method": "POST",
                    "code": 201
                }
            }
        },
        "com.amazonaws.mgn#CreateLaunchConfigurationTemplateRequest": {
            "type": "structure",
            "members": {
                "postLaunchActions": {
                    "target": "com.amazonaws.mgn#PostLaunchActions",
                    "traits": {
                        "smithy.api#documentation": "<p>Launch configuration template post launch actions.</p>"
                    }
                },
                "enableMapAutoTagging": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Enable map auto tagging.</p>"
                    }
                },
                "mapAutoTaggingMpeID": {
                    "target": "com.amazonaws.mgn#TagValue",
                    "traits": {
                        "smithy.api#documentation": "<p>Launch configuration template map auto tagging MPE ID.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.mgn#TagsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Request to associate tags during creation of a Launch Configuration Template.</p>"
                    }
                },
                "launchDisposition": {
                    "target": "com.amazonaws.mgn#LaunchDisposition",
                    "traits": {
                        "smithy.api#documentation": "<p>Launch disposition.</p>"
                    }
                },
                "targetInstanceTypeRightSizingMethod": {
                    "target": "com.amazonaws.mgn#TargetInstanceTypeRightSizingMethod",
                    "traits": {
                        "smithy.api#documentation": "<p>Target instance type right-sizing method.</p>"
                    }
                },
                "copyPrivateIp": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Copy private Ip.</p>"
                    }
                },
                "associatePublicIpAddress": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Associate public Ip address.</p>"
                    }
                },
                "copyTags": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Copy tags.</p>"
                    }
                },
                "licensing": {
                    "target": "com.amazonaws.mgn#Licensing"
                },
                "bootMode": {
                    "target": "com.amazonaws.mgn#BootMode",
                    "traits": {
                        "smithy.api#documentation": "<p>Launch configuration template boot mode.</p>"
                    }
                },
                "smallVolumeMaxSize": {
                    "target": "com.amazonaws.mgn#PositiveInteger",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Small volume maximum size.</p>"
                    }
                },
                "smallVolumeConf": {
                    "target": "com.amazonaws.mgn#LaunchTemplateDiskConf",
                    "traits": {
                        "smithy.api#documentation": "<p>Small volume config.</p>"
                    }
                },
                "largeVolumeConf": {
                    "target": "com.amazonaws.mgn#LaunchTemplateDiskConf",
                    "traits": {
                        "smithy.api#documentation": "<p>Large volume config.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mgn#CreateReplicationConfigurationTemplate": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mgn#CreateReplicationConfigurationTemplateRequest"
            },
            "output": {
                "target": "com.amazonaws.mgn#ReplicationConfigurationTemplate"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mgn#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mgn#UninitializedAccountException"
                },
                {
                    "target": "com.amazonaws.mgn#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new ReplicationConfigurationTemplate.</p>",
                "smithy.api#http": {
                    "uri": "/CreateReplicationConfigurationTemplate",
                    "method": "POST",
                    "code": 201
                }
            }
        },
        "com.amazonaws.mgn#CreateReplicationConfigurationTemplateRequest": {
            "type": "structure",
            "members": {
                "stagingAreaSubnetId": {
                    "target": "com.amazonaws.mgn#SubnetID",
                    "traits": {
                        "smithy.api#documentation": "<p>Request to configure the Staging Area subnet ID during Replication Settings template creation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "associateDefaultSecurityGroup": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Request to associate the default Application Migration Service Security group with the Replication Settings template.</p>",
                        "smithy.api#required": {}
                    }
                },
                "replicationServersSecurityGroupsIDs": {
                    "target": "com.amazonaws.mgn#ReplicationServersSecurityGroupsIDs",
                    "traits": {
                        "smithy.api#documentation": "<p>Request to configure the Replication Server Security group ID during Replication Settings template creation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "replicationServerInstanceType": {
                    "target": "com.amazonaws.mgn#EC2InstanceType",
                    "traits": {
                        "smithy.api#documentation": "<p>Request to configure the Replication Server instance type during Replication Settings template creation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "useDedicatedReplicationServer": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Request to use Dedicated Replication Servers during Replication Settings template creation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "defaultLargeStagingDiskType": {
                    "target": "com.amazonaws.mgn#ReplicationConfigurationDefaultLargeStagingDiskType",
                    "traits": {
                        "smithy.api#documentation": "<p>Request to configure the default large staging disk EBS volume type during Replication Settings template creation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ebsEncryption": {
                    "target": "com.amazonaws.mgn#ReplicationConfigurationEbsEncryption",
                    "traits": {
                        "smithy.api#documentation": "<p>Request to configure EBS encryption during Replication Settings template creation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ebsEncryptionKeyArn": {
                    "target": "com.amazonaws.mgn#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>Request to configure an EBS encryption key during Replication Settings template creation.</p>"
                    }
                },
                "bandwidthThrottling": {
                    "target": "com.amazonaws.mgn#BandwidthThrottling",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Request to configure bandwidth throttling during Replication Settings template creation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "dataPlaneRouting": {
                    "target": "com.amazonaws.mgn#ReplicationConfigurationDataPlaneRouting",
                    "traits": {
                        "smithy.api#documentation": "<p>Request to configure  data plane routing during Replication Settings template creation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createPublicIP": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Request to create Public IP during Replication Settings template creation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "stagingAreaTags": {
                    "target": "com.amazonaws.mgn#TagsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Request to configure Staging Area tags during Replication Settings template creation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "useFipsEndpoint": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Request to use Fips Endpoint during Replication Settings template creation.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.mgn#TagsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Request to configure tags during Replication Settings template creation.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mgn#CreateWave": {
            "type": "operation",
            "input": {
[...]
