{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.mpa#AWSFluffyCoreService": {
            "type": "service",
            "version": "2022-07-26",
            "operations": [
                {
                    "target": "com.amazonaws.mpa#GetPolicyVersion"
                },
                {
                    "target": "com.amazonaws.mpa#GetResourcePolicy"
                },
                {
                    "target": "com.amazonaws.mpa#ListPolicies"
                },
                {
                    "target": "com.amazonaws.mpa#ListPolicyVersions"
                },
                {
                    "target": "com.amazonaws.mpa#ListResourcePolicies"
                },
                {
                    "target": "com.amazonaws.mpa#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.mpa#TagResource"
                },
                {
                    "target": "com.amazonaws.mpa#UntagResource"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.mpa#ApprovalTeam"
                },
                {
                    "target": "com.amazonaws.mpa#IdentitySource"
                },
                {
                    "target": "com.amazonaws.mpa#Session"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "MPA",
                    "arnNamespace": "mpa"
                },
                "aws.auth#sigv4": {
                    "name": "mpa"
                },
                "aws.endpoints#dualStackOnlyEndpoints": {},
                "aws.endpoints#standardRegionalEndpoints": {},
                "aws.iam#defineConditionKeys": {
                    "aws:ResourceTag/${TagKey}": {
                        "type": "String",
                        "documentation": "Filters access by a tag key and value pair of a resource",
                        "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
                    },
                    "aws:RequestTag/${TagKey}": {
                        "type": "String",
                        "documentation": "Filters access by a tag key and value pair that is allowed in the request",
                        "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
                    },
                    "aws:TagKeys": {
                        "type": "ArrayOfString",
                        "documentation": "Filters access by a list of tag keys that are allowed in the request",
                        "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
                    },
                    "mpa:RequestedOperation": {
                        "type": "String",
                        "documentation": "Filters access by the requested operation that requires team approval before it can be executed",
                        "externalDocumentation": "${DocHomeURL}mpa/latest/userguide/mpa-concepts.html"
                    },
                    "mpa:ProtectedResourceAccount": {
                        "type": "String",
                        "documentation": "Filters access by the account that owns the resource that is the target of the operation that requires approval",
                        "externalDocumentation": "${DocHomeURL}mpa/latest/userguide/mpa-concepts.html"
                    }
                },
                "aws.iam#disableConditionKeyInference": {},
                "aws.iam#supportedPrincipalTypes": [
                    "Root",
                    "IAMUser",
                    "IAMRole",
                    "FederatedUser"
                ],
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>Multi-party approval is a capability of <a href=\"http://aws.amazon.com/organizations\">Organizations</a> that allows you to protect a predefined list of operations through a distributed approval process. Use Multi-party approval to establish approval workflows and transform security processes into team-based decisions.</p> <p> <b>When to use Multi-party approval</b>:</p> <ul> <li> <p>You need to align with the Zero Trust principle of \"never trust, always verify\"</p> </li> <li> <p>You need to make sure that the right humans have access to the right things in the right way</p> </li> <li> <p>You need distributed decision-making for sensitive or critical operations</p> </li> <li> <p>You need to protect against unintended operations on sensitive or critical resources</p> </li> <li> <p>You need formal reviews and approvals for auditing or compliance reasons</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/what-is.html\">What is Multi-party approval</a> in the <i>Multi-party approval User Guide</i>.</p>",
                "smithy.api#title": "AWS Multi-party Approval",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        },
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "endpoint": {
                                                        "url": "https://mpa-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                },
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://mpa.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Endpoint": "https://example.com",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Endpoint": "https://example.com",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mpa-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mpa.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mpa-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mpa.cn-northwest-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mpa-fips.us-gov-west-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://mpa.us-gov-west-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.mpa#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Message for the <code>AccessDeniedException</code> error.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action. Check your permissions, and try again.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.mpa#AccountId": {
            "type": "string",
            "traits": {
                "aws.api#data": "account",
                "smithy.api#length": {
                    "max": 12
                },
                "smithy.api#pattern": "^\\d{12}$"
            }
        },
        "com.amazonaws.mpa#ActionCompletionStrategy": {
            "type": "enum",
            "members": {
                "AUTO_COMPLETION_UPON_APPROVAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AUTO_COMPLETION_UPON_APPROVAL"
                    }
                }
            }
        },
        "com.amazonaws.mpa#ActionName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 500
                }
            }
        },
        "com.amazonaws.mpa#ApprovalStrategy": {
            "type": "union",
            "members": {
                "MofN": {
                    "target": "com.amazonaws.mpa#MofNApprovalStrategy",
                    "traits": {
                        "smithy.api#documentation": "<p>Minimum number of approvals (M) required for a total number of approvers (N).</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Strategy for how an approval team grants approval.</p>"
            }
        },
        "com.amazonaws.mpa#ApprovalStrategyResponse": {
            "type": "union",
            "members": {
                "MofN": {
                    "target": "com.amazonaws.mpa#MofNApprovalStrategy",
                    "traits": {
                        "smithy.api#documentation": "<p>Minimum number of approvals (M) required for a total number of approvers (N).</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details for how an approval team grants approval.</p>"
            }
        },
        "com.amazonaws.mpa#ApprovalTeam": {
            "type": "resource",
            "identifiers": {
                "Arn": {
                    "target": "com.amazonaws.mpa#ApprovalTeamArn"
                }
            },
            "create": {
                "target": "com.amazonaws.mpa#CreateApprovalTeam"
            },
            "read": {
                "target": "com.amazonaws.mpa#GetApprovalTeam"
            },
            "update": {
                "target": "com.amazonaws.mpa#UpdateApprovalTeam"
            },
            "delete": {
                "target": "com.amazonaws.mpa#DeleteInactiveApprovalTeamVersion"
            },
            "list": {
                "target": "com.amazonaws.mpa#ListApprovalTeams"
            },
            "operations": [
                {
                    "target": "com.amazonaws.mpa#StartActiveApprovalTeamDeletion"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "approval-team/{Arn}"
                },
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}"
                ],
                "aws.iam#iamResource": {
                    "name": "approval-team",
                    "relativeDocumentation": "mpa-concepts.html"
                },
                "smithy.api#documentation": "Represents a team that is responsible for approving protected operations"
            }
        },
        "com.amazonaws.mpa#ApprovalTeamArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:aws(-[^:]+)?:mpa:[a-z0-9-]{1,20}:[0-9]{12}:approval-team/[a-zA-Z0-9._-]+$"
            }
        },
        "com.amazonaws.mpa#ApprovalTeamName": {
            "type": "string",
            "traits": {
                "aws.api#data": "usage",
                "smithy.api#length": {
                    "max": 64
                },
                "smithy.api#pattern": "^[a-zA-Z0-9._-]+$"
            }
        },
        "com.amazonaws.mpa#ApprovalTeamRequestApprover": {
            "type": "structure",
            "members": {
                "PrimaryIdentityId": {
                    "target": "com.amazonaws.mpa#IdentityId",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>ID for the user.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PrimaryIdentitySourceArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the identity source. The identity source manages the user authentication for approvers.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "aws.api#data": "usage",
                "smithy.api#documentation": "<p>Contains details for an approver.</p>"
            }
        },
        "com.amazonaws.mpa#ApprovalTeamRequestApprovers": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mpa#ApprovalTeamRequestApprover"
            },
            "traits": {
                "aws.api#data": "usage",
                "smithy.api#length": {
                    "min": 1,
                    "max": 20
                }
            }
        },
        "com.amazonaws.mpa#ApprovalTeamStatus": {
            "type": "enum",
            "members": {
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "INACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INACTIVE"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING"
                    }
                }
            }
        },
        "com.amazonaws.mpa#ApprovalTeamStatusCode": {
            "type": "enum",
            "members": {
                "VALIDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VALIDATING"
                    }
                },
                "PENDING_ACTIVATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING_ACTIVATION"
                    }
                },
                "FAILED_VALIDATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED_VALIDATION"
                    }
                },
                "FAILED_ACTIVATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED_ACTIVATION"
                    }
                },
                "UPDATE_PENDING_APPROVAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_PENDING_APPROVAL"
                    }
                },
                "UPDATE_PENDING_ACTIVATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_PENDING_ACTIVATION"
                    }
                },
                "UPDATE_FAILED_APPROVAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_FAILED_APPROVAL"
                    }
                },
                "UPDATE_FAILED_ACTIVATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_FAILED_ACTIVATION"
                    }
                },
                "UPDATE_FAILED_VALIDATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_FAILED_VALIDATION"
                    }
                },
                "DELETE_PENDING_APPROVAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE_PENDING_APPROVAL"
                    }
                },
                "DELETE_FAILED_APPROVAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE_FAILED_APPROVAL"
                    }
                },
                "DELETE_FAILED_VALIDATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE_FAILED_VALIDATION"
                    }
                }
            }
        },
        "com.amazonaws.mpa#CancelSession": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mpa#CancelSessionRequest"
            },
            "output": {
                "target": "com.amazonaws.mpa#CancelSessionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mpa#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mpa#ConflictException"
                },
                {
                    "target": "com.amazonaws.mpa#InternalServerException"
                },
                {
                    "target": "com.amazonaws.mpa#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mpa#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mpa#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}",
                    "mpa:RequestedOperation",
                    "mpa:ProtectedResourceAccount"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to cancel an approval session"
                },
                "smithy.api#documentation": "<p>Cancels an approval session. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-concepts.html\">Session</a> in the <i>Multi-party approval User Guide</i>.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "PUT",
                    "uri": "/sessions/{SessionArn}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mpa#CancelSessionRequest": {
            "type": "structure",
            "members": {
                "SessionArn": {
                    "target": "com.amazonaws.mpa#SessionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the session.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mpa#CancelSessionResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mpa#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Message for the <code>ConflictException</code> error.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request cannot be completed because it conflicts with the current state of a resource.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.mpa#CreateApprovalTeam": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mpa#CreateApprovalTeamRequest"
            },
            "output": {
                "target": "com.amazonaws.mpa#CreateApprovalTeamResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mpa#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mpa#ConflictException"
                },
                {
                    "target": "com.amazonaws.mpa#InternalServerException"
                },
                {
                    "target": "com.amazonaws.mpa#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mpa#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mpa#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}",
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create an approval team"
                },
                "smithy.api#documentation": "<p>Creates a new approval team. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-concepts.html\">Approval team</a> in the <i>Multi-party approval User Guide</i>.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/approval-teams"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mpa#CreateApprovalTeamRequest": {
            "type": "structure",
            "members": {
                "ClientToken": {
                    "target": "com.amazonaws.mpa#Token",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If not provided, the Amazon Web Services populates this field.</p> <note> <p> <b>What is idempotency?</b> </p> <p>When you make a mutating API request, the request typically returns a result before the operation's asynchronous workflows have completed. Operations might also time out or encounter other server issues before they complete, even though the request has already returned a result. This could make it difficult to determine whether the request succeeded or not, and could lead to multiple retries to ensure that the operation completes successfully. However, if the original request and the subsequent retries are successful, the operation is completed multiple times. This means that you might create more resources than you intended.</p> <p> <i>Idempotency</i> ensures that an API request completes no more than one time. With an idempotent request, if the original request completes successfully, any subsequent retries complete successfully without performing any further actions.</p> </note>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "ApprovalStrategy": {
                    "target": "com.amazonaws.mpa#ApprovalStrategy",
                    "traits": {
                        "smithy.api#documentation": "<p>An <code>ApprovalStrategy</code> object. Contains details for how the team grants approval.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Approvers": {
                    "target": "com.amazonaws.mpa#ApprovalTeamRequestApprovers",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of <code>ApprovalTeamRequesterApprovers</code> objects. Contains details for the approvers in the team.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Description": {
                    "target": "com.amazonaws.mpa#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>Description for the team.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Policies": {
                    "target": "com.amazonaws.mpa#PoliciesReferences",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of <code>PolicyReference</code> objects. Contains a list of policies that define the permissions for team resources.</p> <p>The protected operation for a service integration might require specific permissions. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-integrations.html\">How other services work with Multi-party approval</a> in the <i>Multi-party approval User Guide</i>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "com.amazonaws.mpa#ApprovalTeamName",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the team.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mpa#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags you want to attach to the team.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mpa#CreateApprovalTeamResponse": {
            "type": "structure",
            "members": {
                "CreationTime": {
                    "target": "com.amazonaws.mpa#IsoTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Timestamp when the team was created.</p>"
                    }
                },
                "Arn": {
                    "target": "com.amazonaws.mpa#ApprovalTeamArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the team that was created.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the team that was created.</p>"
                    }
                },
                "VersionId": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Version ID for the team that was created. When a team is updated, the version ID changes.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mpa#CreateIdentitySource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mpa#CreateIdentitySourceRequest"
            },
            "output": {
                "target": "com.amazonaws.mpa#CreateIdentitySourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mpa#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mpa#InternalServerException"
                },
                {
                    "target": "com.amazonaws.mpa#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.mpa#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mpa#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}",
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create an identity source"
                },
                "smithy.api#documentation": "<p>Creates a new identity source. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-concepts.html\">Identity Source</a> in the <i>Multi-party approval User Guide</i>.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/identity-sources"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mpa#CreateIdentitySourceRequest": {
            "type": "structure",
            "members": {
                "IdentitySourceParameters": {
                    "target": "com.amazonaws.mpa#IdentitySourceParameters",
                    "traits": {
                        "smithy.api#documentation": "<p>A <code> IdentitySourceParameters</code> object. Contains details for the resource that provides identities to the identity source. For example, an IAM Identity Center instance.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.mpa#Token",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If not provided, the Amazon Web Services populates this field.</p> <note> <p> <b>What is idempotency?</b> </p> <p>When you make a mutating API request, the request typically returns a result before the operation's asynchronous workflows have completed. Operations might also time out or encounter other server issues before they complete, even though the request has already returned a result. This could make it difficult to determine whether the request succeeded or not, and could lead to multiple retries to ensure that the operation completes successfully. However, if the original request and the subsequent retries are successful, the operation is completed multiple times. This means that you might create more resources than you intended.</p> <p> <i>Idempotency</i> ensures that an API request completes no more than one time. With an idempotent request, if the original request completes successfully, any subsequent retries complete successfully without performing any further actions.</p> </note>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mpa#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>Tag you want to attach to the identity source.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mpa#CreateIdentitySourceResponse": {
            "type": "structure",
            "members": {
                "IdentitySourceType": {
                    "target": "com.amazonaws.mpa#IdentitySourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of resource that provided identities to the identity source. For example, an IAM Identity Center instance.</p>"
                    }
                },
                "IdentitySourceArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the identity source that was created.</p>"
                    }
                },
                "CreationTime": {
                    "target": "com.amazonaws.mpa#IsoTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Timestamp when the identity source was created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mpa#DeleteIdentitySource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mpa#DeleteIdentitySourceRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mpa#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mpa#ConflictException"
                },
                {
                    "target": "com.amazonaws.mpa#InternalServerException"
                },
                {
                    "target": "com.amazonaws.mpa#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mpa#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to delete an identity source"
                },
                "smithy.api#documentation": "<p>Deletes an identity source. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-concepts.html\">Identity Source</a> in the <i>Multi-party approval User Guide</i>.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/identity-sources/{IdentitySourceArn}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mpa#DeleteIdentitySourceRequest": {
            "type": "structure",
            "members": {
                "IdentitySourceArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for identity source.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mpa#DeleteInactiveApprovalTeamVersion": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mpa#DeleteInactiveApprovalTeamVersionRequest"
            },
            "output": {
                "target": "com.amazonaws.mpa#DeleteInactiveApprovalTeamVersionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mpa#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mpa#ConflictException"
                },
                {
                    "target": "com.amazonaws.mpa#InternalServerException"
                },
                {
                    "target": "com.amazonaws.mpa#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mpa#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mpa#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to delete an inactive approval team"
                },
                "smithy.api#documentation": "<p>Deletes an inactive approval team. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-health.html\">Team health</a> in the <i>Multi-party approval User Guide</i>.</p> <p>You can also use this operation to delete a team draft. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/update-team.html#update-team-draft-status\">Interacting with drafts</a> in the <i>Multi-party approval User Guide</i>.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/approval-teams/{Arn}/{VersionId}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mpa#DeleteInactiveApprovalTeamVersionRequest": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.mpa#ApprovalTeamArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amaazon Resource Name (ARN) for the team.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "VersionId": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Version ID for the team.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mpa#DeleteInactiveApprovalTeamVersionResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mpa#Description": {
            "type": "string",
            "traits": {
                "aws.api#data": "usage",
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.mpa#Filter": {
            "type": "structure",
            "members": {
                "FieldName": {
                    "target": "com.amazonaws.mpa#FilterField",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the filter to use.</p> <note> <p> <b>Supported filters</b> </p> <p>The supported filters for <a>ListSessions</a> are: <code>ActionName</code>, <code>SessionStatus</code>, and <code>InitationTime</code>.</p> </note>"
                    }
                },
                "Operator": {
                    "target": "com.amazonaws.mpa#Operator",
                    "traits": {
                        "smithy.api#documentation": "<p>Operator to use for filtering.</p> <ul> <li> <p> <code>EQ</code>: Equal to the specified value</p> </li> <li> <p> <code>NE</code>: Not equal to the specified value</p> </li> <li> <p> <code>GT</code>: Greater than the specified value</p> </li> <li> <p> <code>LT</code>: Less than the specified value</p> </li> <li> <p> <code>GTE</code>: Greater than or equal to the specified value</p> </li> <li> <p> <code>LTE</code>: Less than or equal to the specified value</p> </li> <li> <p> <code>CONTAINS</code>: Contains the specified value</p> </li> <li> <p> <code>NOT_CONTAINS</code>: Does not contain the specified value</p> </li> <li> <p> <code>BETWEEN</code>: Between two values, inclusive of the specified values.</p> </li> </ul> <note> <p> <b>Supported operators for each filter</b>:</p> <ul> <li> <p> <code>ActionName</code>: <code>EQ</code> | <code>NE</code> | <code>CONTAINS</code> | <code>NOT_CONTAINS</code> </p> </li> <li> <p> <code>SessionStatus</code>: <code>EQ</code> | <code>NE</code> </p> </li> <li> <p> <code>InitiationTime</code>: <code>GT</code> | <code>LT</code> | <code>GTE</code> | <code>LTE</code> | <code>BETWEEN</code> </p> </li> </ul> </note>"
                    }
                },
                "Value": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Value to use for filtering. For the <code>BETWEEN</code> operator, specify values in the format <code>a AND b</code> (<code>AND</code> is case-insensitive).</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the filter to apply to requests. You can specify up to 10 filters for a request.</p>"
            }
        },
        "com.amazonaws.mpa#FilterField": {
            "type": "enum",
            "members": {
                "ACTION_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ActionName"
                    }
                },
                "APPROVAL_TEAM_NAME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ApprovalTeamName"
                    }
                },
                "VOTING_TIME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VotingTime"
                    }
                },
                "VOTE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Vote"
                    }
                },
                "SESSION_STATUS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SessionStatus"
                    }
                },
                "INITIATION_TIME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "InitiationTime"
                    }
                }
            }
        },
        "com.amazonaws.mpa#Filters": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mpa#Filter"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 10
                }
            }
        },
        "com.amazonaws.mpa#GetApprovalTeam": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mpa#GetApprovalTeamRequest"
            },
            "output": {
                "target": "com.amazonaws.mpa#GetApprovalTeamResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mpa#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mpa#InternalServerException"
                },
                {
                    "target": "com.amazonaws.mpa#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mpa#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mpa#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to retrieve details for an approval team"
                },
                "smithy.api#documentation": "<p>Returns details for an approval team.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/approval-teams/{Arn}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.mpa#GetApprovalTeamRequest": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.mpa#ApprovalTeamArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the team.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mpa#GetApprovalTeamResponse": {
            "type": "structure",
            "members": {
                "CreationTime": {
                    "target": "com.amazonaws.mpa#IsoTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Timestamp when the team was created.</p>"
                    }
                },
                "ApprovalStrategy": {
                    "target": "com.amazonaws.mpa#ApprovalStrategyResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>An <code>ApprovalStrategyResponse</code> object. Contains details for how the team grants approval.</p>"
                    }
                },
                "NumberOfApprovers": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>Total number of approvers in the team.</p>"
                    }
                },
                "Approvers": {
                    "target": "com.amazonaws.mpa#GetApprovalTeamResponseApprovers",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of <code>GetApprovalTeamResponseApprover </code> objects. Contains details for the approvers in the team.</p>"
                    }
                },
                "Arn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the team.</p>"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.mpa#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>Description for the team.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the approval team.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.mpa#ApprovalTeamStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Status for the team. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-health.html\">Team health</a> in the <i>Multi-party approval User Guide</i>.</p>"
                    }
                },
                "StatusCode": {
                    "target": "com.amazonaws.mpa#ApprovalTeamStatusCode",
                    "traits": {
                        "smithy.api#documentation": "<p>Status code for the approval team. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-health.html\">Team health</a> in the <i>Multi-party approval User Guide</i>.</p>"
                    }
                },
                "StatusMessage": {
                    "target": "com.amazonaws.mpa#Message",
                    "traits": {
                        "smithy.api#documentation": "<p>Message describing the status for the team.</p>"
                    }
                },
                "UpdateSessionArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the session.</p>"
                    }
                },
                "VersionId": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Version ID for the team.</p>"
                    }
                },
                "Policies": {
                    "target": "com.amazonaws.mpa#PoliciesReferences",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of <code>PolicyReference</code> objects. Contains a list of policies that define the permissions for team resources.</p> <p>The protected operation for a service integration might require specific permissions. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-integrations.html\">How other services work with Multi-party approval</a> in the <i>Multi-party approval User Guide</i>.</p>"
                    }
                },
                "LastUpdateTime": {
                    "target": "com.amazonaws.mpa#IsoTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Timestamp when the team was last updated.</p>"
                    }
                },
                "PendingUpdate": {
                    "target": "com.amazonaws.mpa#PendingUpdate",
                    "traits": {
                        "smithy.api#documentation": "<p>A <code>PendingUpdate</code> object. Contains details for the pending updates for the team, if applicable.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mpa#GetApprovalTeamResponseApprover": {
            "type": "structure",
            "members": {
                "ApproverId": {
                    "target": "com.amazonaws.mpa#ParticipantId",
                    "traits": {
                        "smithy.api#documentation": "<p>ID for the approver.</p>"
                    }
                },
                "ResponseTime": {
                    "target": "com.amazonaws.mpa#IsoTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Timestamp when the approver responded to an approval team invitation.</p>"
                    }
                },
                "PrimaryIdentityId": {
                    "target": "com.amazonaws.mpa#IdentityId",
                    "traits": {
                        "smithy.api#documentation": "<p>ID for the user.</p>"
                    }
                },
                "PrimaryIdentitySourceArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the identity source. The identity source manages the user authentication for approvers.</p>"
                    }
                },
                "PrimaryIdentityStatus": {
                    "target": "com.amazonaws.mpa#IdentityStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Status for the identity source. For example, if an approver has accepted a team invitation with a user authentication method managed by the identity source.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details for an approver.</p>"
            }
        },
        "com.amazonaws.mpa#GetApprovalTeamResponseApprovers": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mpa#GetApprovalTeamResponseApprover"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 20
                }
            }
        },
        "com.amazonaws.mpa#GetIdentitySource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mpa#GetIdentitySourceRequest"
            },
            "output": {
                "target": "com.amazonaws.mpa#GetIdentitySourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mpa#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mpa#InternalServerException"
                },
                {
                    "target": "com.amazonaws.mpa#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mpa#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mpa#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to retrieve details for an identity source"
                },
                "smithy.api#documentation": "<p>Returns details for an identity source. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-concepts.html\">Identity Source</a> in the <i>Multi-party approval User Guide</i>.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/identity-sources/{IdentitySourceArn}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.mpa#GetIdentitySourceRequest": {
            "type": "structure",
            "members": {
                "IdentitySourceArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the identity source.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mpa#GetIdentitySourceResponse": {
            "type": "structure",
            "members": {
                "IdentitySourceType": {
                    "target": "com.amazonaws.mpa#IdentitySourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of resource that provided identities to the identity source. For example, an IAM Identity Center instance.</p>"
                    }
                },
                "IdentitySourceParameters": {
                    "target": "com.amazonaws.mpa#IdentitySourceParametersForGet",
                    "traits": {
                        "smithy.api#documentation": "<p>A <code> IdentitySourceParameters</code> object. Contains details for the resource that provides identities to the identity source. For example, an IAM Identity Center instance.</p>"
                    }
                },
                "IdentitySourceArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the identity source.</p>"
                    }
                },
                "CreationTime": {
                    "target": "com.amazonaws.mpa#IsoTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Timestamp when the identity source was created.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.mpa#IdentitySourceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Status for the identity source. For example, if the identity source is <code>ACTIVE</code>.</p>"
                    }
                },
                "StatusCode": {
                    "target": "com.amazonaws.mpa#IdentitySourceStatusCode",
                    "traits": {
                        "smithy.api#documentation": "<p>Status code of the identity source.</p>"
                    }
                },
                "StatusMessage": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Message describing the status for the identity source.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mpa#GetPolicyVersion": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mpa#GetPolicyVersionRequest"
            },
            "output": {
                "target": "com.amazonaws.mpa#GetPolicyVersionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mpa#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mpa#InternalServerException"
                },
                {
                    "target": "com.amazonaws.mpa#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mpa#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mpa#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to retrieve details for a policy"
                },
                "smithy.api#documentation": "<p>Returns details for the version of a policy. Policies define the permissions for team resources.</p> <p>The protected operation for a service integration might require specific permissions. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-integrations.html\">How other services work with Multi-party approval</a> in the <i>Multi-party approval User Guide</i>.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/policy-versions/{PolicyVersionArn}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.mpa#GetPolicyVersionRequest": {
            "type": "structure",
            "members": {
                "PolicyVersionArn": {
                    "target": "com.amazonaws.mpa#QualifiedPolicyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the policy.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mpa#GetPolicyVersionResponse": {
            "type": "structure",
            "members": {
                "PolicyVersion": {
                    "target": "com.amazonaws.mpa#PolicyVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>A <code>PolicyVersion</code> object. Contains details for the version of the policy. Policies define the permissions for team resources.</p> <p>The protected operation for a service integration might require specific permissions. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-integrations.html\">How other services work with Multi-party approval</a> in the <i>Multi-party approval User Guide</i>.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mpa#GetResourcePolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mpa#GetResourcePolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.mpa#GetResourcePolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mpa#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mpa#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.mpa#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mpa#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mpa#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to retrieve details for a specific resource"
                },
                "smithy.api#documentation": "<p>Returns details about a policy for a resource.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/GetResourcePolicy"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.mpa#GetResourcePolicyRequest": {
            "type": "structure",
            "members": {
                "ResourceArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PolicyName": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PolicyType": {
                    "target": "com.amazonaws.mpa#PolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of policy.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mpa#GetResourcePolicyResponse": {
            "type": "structure",
            "members": {
                "ResourceArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PolicyType": {
                    "target": "com.amazonaws.mpa#PolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of policy</p>",
                        "smithy.api#required": {}
                    }
                },
                "PolicyVersionArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the policy version.</p>"
                    }
                },
                "PolicyName": {
                    "target": "com.amazonaws.mpa#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PolicyDocument": {
                    "target": "com.amazonaws.mpa#PolicyDocument",
                    "traits": {
                        "smithy.api#documentation": "<p>Document that contains the contents for the policy.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mpa#GetSession": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mpa#GetSessionRequest"
            },
            "output": {
                "target": "com.amazonaws.mpa#GetSessionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mpa#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mpa#InternalServerException"
                },
                {
                    "target": "com.amazonaws.mpa#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mpa#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.mpa#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}",
                    "mpa:RequestedOperation",
                    "mpa:ProtectedResourceAccount"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to retrieve details for an approval session"
                },
                "smithy.api#documentation": "<p>Returns details for an approval session. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-concepts.html\">Session</a> in the <i>Multi-party approval User Guide</i>.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/sessions/{SessionArn}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.mpa#GetSessionRequest": {
            "type": "structure",
            "members": {
                "SessionArn": {
                    "target": "com.amazonaws.mpa#SessionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the session.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.mpa#GetSessionResponse": {
            "type": "structure",
            "members": {
                "SessionArn": {
                    "target": "com.amazonaws.mpa#SessionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the session.</p>"
                    }
                },
                "ApprovalTeamArn": {
                    "target": "com.amazonaws.mpa#ApprovalTeamArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the approval team.</p>"
                    }
                },
                "ApprovalTeamName": {
                    "target": "com.amazonaws.mpa#ApprovalTeamName",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the approval team.</p>"
                    }
                },
                "ProtectedResourceArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the protected operation.</p>"
                    }
                },
                "ApprovalStrategy": {
                    "target": "com.amazonaws.mpa#ApprovalStrategyResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>An <code>ApprovalStrategyResponse</code> object. Contains details for how the team grants approval</p>"
                    }
                },
                "NumberOfApprovers": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>Total number of approvers in the session.</p>"
                    }
                },
                "InitiationTime": {
                    "target": "com.amazonaws.mpa#IsoTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Timestamp when the session was initiated.</p>"
                    }
                },
                "ExpirationTime": {
                    "target": "com.amazonaws.mpa#IsoTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Timestamp when the session will expire.</p>"
                    }
                },
                "CompletionTime": {
                    "target": "com.amazonaws.mpa#IsoTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Timestamp when the session completed.</p>"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.mpa#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>Description for the session.</p>"
                    }
                },
                "Metadata": {
                    "target": "com.amazonaws.mpa#SessionMetadata",
                    "traits": {
                        "smithy.api#documentation": "<p>Metadata for the session.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.mpa#SessionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Status for the session. For example, if the team has approved the requested operation.</p>"
                    }
                },
                "StatusCode": {
                    "target": "com.amazonaws.mpa#SessionStatusCode",
                    "traits": {
                        "smithy.api#documentation": "<p>Status code of the session.</p>"
                    }
                },
                "StatusMessage": {
                    "target": "com.amazonaws.mpa#Message",
                    "traits": {
                        "smithy.api#documentation": "<p>Message describing the status for session.</p>"
                    }
                },
                "ExecutionStatus": {
                    "target": "com.amazonaws.mpa#SessionExecutionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Status for the protected operation. For example, if the operation is <code>PENDING</code>.</p>"
                    }
                },
                "ActionName": {
                    "target": "com.amazonaws.mpa#ActionName",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the protected operation.</p>"
                    }
                },
                "RequesterServicePrincipal": {
                    "target": "com.amazonaws.mpa#ServicePrincipal",
                    "traits": {
                        "smithy.api#documentation": "<p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html#principal-services\">Service principal</a> for the service associated with the protected operation.</p>"
                    }
                },
                "RequesterPrincipalArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/intro-structure.html#intro-structure-request\">IAM principal</a> that made the operation request.</p>"
                    }
                },
                "RequesterAccountId": {
                    "target": "com.amazonaws.mpa#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>ID for the account that made the operation request.</p>"
                    }
                },
                "RequesterRegion": {
                    "target": "com.amazonaws.mpa#Region",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Web Services Region where the operation request originated.</p>"
                    }
                },
                "RequesterComment": {
                    "target": "com.amazonaws.mpa#RequesterComment",
                    "traits": {
                        "smithy.api#documentation": "<p>Message from the account that made the operation request</p>"
                    }
                },
                "ActionCompletionStrategy": {
                    "target": "com.amazonaws.mpa#ActionCompletionStrategy",
                    "traits": {
                        "smithy.api#documentation": "<p>Strategy for executing the protected operation. <code>AUTO_COMPLETION_UPON_APPROVAL</code> means the operation is automatically executed using the requester's permissions, if approved.</p>"
                    }
                },
                "ApproverResponses": {
                    "target": "com.amazonaws.mpa#GetSessionResponseApproverResponses",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of <code>GetSessionResponseApproverResponse</code> objects. Contains details for approver responses in the session.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.mpa#GetSessionResponseApproverResponse": {
            "type": "structure",
            "members": {
                "ApproverId": {
                    "target": "com.amazonaws.mpa#ParticipantId",
                    "traits": {
                        "smithy.api#documentation": "<p>ID for the approver.</p>"
                    }
                },
                "IdentitySourceArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the identity source. The identity source manages the user authentication for approvers.</p>"
                    }
                },
                "IdentityId": {
                    "target": "com.amazonaws.mpa#IdentityId",
                    "traits": {
                        "smithy.api#documentation": "<p>ID for the identity source. The identity source manages the user authentication for approvers.</p>"
                    }
                },
                "Response": {
                    "target": "com.amazonaws.mpa#SessionResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>Response to the operation request.</p>"
                    }
                },
                "ResponseTime": {
                    "target": "com.amazonaws.mpa#IsoTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Timestamp when a approver responded to the operation request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details for an approver response in an approval session.</p>",
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.mpa#IdentitySource"
                    }
                ]
            }
        },
        "com.amazonaws.mpa#GetSessionResponseApproverResponses": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.mpa#GetSessionResponseApproverResponse"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 20
                }
            }
        },
        "com.amazonaws.mpa#IamIdentityCenter": {
            "type": "structure",
            "members": {
                "InstanceArn": {
                    "target": "com.amazonaws.mpa#IdcInstanceArn",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the IAM Identity Center instance.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Region": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Web Services Region where the IAM Identity Center instance is located.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "aws.api#data": "usage",
                "smithy.api#documentation": "<p>IAM Identity Center credentials. For more information see, <a href=\"http://aws.amazon.com/identity-center/\">IAM Identity Center</a> .</p>"
            }
        },
        "com.amazonaws.mpa#IamIdentityCenterForGet": {
            "type": "structure",
            "members": {
                "InstanceArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the IAM Identity Center instance.</p>"
                    }
                },
                "ApprovalPortalUrl": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>URL for the approval portal associated with the IAM Identity Center instance.</p>"
                    }
                },
                "Region": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Web Services Region where the IAM Identity Center instance is located.</p>"
                    }
                }
            },
            "traits": {
                "aws.api#data": "usage",
                "smithy.api#documentation": "<p>IAM Identity Center credentials. For more information see, <a href=\"http://aws.amazon.com/identity-center/\">IAM Identity Center</a> .</p>"
            }
        },
        "com.amazonaws.mpa#IamIdentityCenterForList": {
            "type": "structure",
            "members": {
                "InstanceArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the IAM Identity Center instance.</p>"
                    }
                },
                "ApprovalPortalUrl": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>URL for the approval portal associated with the IAM Identity Center instance.</p>"
                    }
                },
                "Region": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Web Services Region where the IAM Identity Center instance is located.</p>"
                    }
                }
            },
            "traits": {
                "aws.api#data": "usage",
                "smithy.api#documentation": "<p>IAM Identity Center credentials. For more information see, <a href=\"http://aws.amazon.com/identity-center/\">IAM Identity Center</a> .</p>"
            }
        },
        "com.amazonaws.mpa#IdcInstanceArn": {
            "type": "string",
            "traits": {
                "aws.api#data": "usage",
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:.+:sso:::instance/(?:sso)?ins-[a-zA-Z0-9-.]{16}$"
            }
        },
        "com.amazonaws.mpa#IdentityId": {
            "type": "string",
            "traits": {
                "aws.api#data": "usage",
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.mpa#IdentitySource": {
            "type": "resource",
            "identifiers": {
                "IdentitySourceArn": {
                    "target": "com.amazonaws.mpa#String"
                }
            },
            "create": {
                "target": "com.amazonaws.mpa#CreateIdentitySource"
            },
            "read": {
                "target": "com.amazonaws.mpa#GetIdentitySource"
            },
            "delete": {
                "target": "com.amazonaws.mpa#DeleteIdentitySource"
            },
            "list": {
                "target": "com.amazonaws.mpa#ListIdentitySources"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "identity-source/{IdentitySourceArn}"
                },
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}"
                ],
                "aws.iam#iamResource": {
                    "name": "identity-source",
                    "relativeDocumentation": "mpa-concepts.html"
                },
                "smithy.api#documentation": "Represents an association with an IAM Identity Center instance that manages the user authentication for approvers"
            }
        },
        "com.amazonaws.mpa#IdentitySourceForList": {
            "type": "structure",
            "members": {
                "IdentitySourceType": {
                    "target": "com.amazonaws.mpa#IdentitySourceType",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>The type of resource that provided identities to the identity source. For example, an IAM Identity Center instance.</p>"
                    }
                },
                "IdentitySourceParameters": {
                    "target": "com.amazonaws.mpa#IdentitySourceParametersForList",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>A <code>IdentitySourceParametersForList</code> object. Contains details for the resource that provides identities to the identity source. For example, an IAM Identity Center instance.</p>"
                    }
                },
                "IdentitySourceArn": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the identity source.</p>"
                    }
                },
                "CreationTime": {
                    "target": "com.amazonaws.mpa#IsoTimestamp",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>Timestamp when the identity source was created.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.mpa#IdentitySourceStatus",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>Status for the identity source. For example, if the identity source is <code>ACTIVE</code>.</p>"
                    }
                },
                "StatusCode": {
                    "target": "com.amazonaws.mpa#IdentitySourceStatusCode",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>Status code of the identity source.</p>"
                    }
                },
                "StatusMessage": {
                    "target": "com.amazonaws.mpa#String",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>Message describing the status for the identity source.</p>"
                    }
                }
            },
            "traits": {
                "aws.api#data": "usage",
                "smithy.api#documentation": "<p>Contains details for an identity source. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-concepts.html\">Identity source</a> in the <i>Multi-party approval User Guide</i>.</p>"
            }
        },
        "com.amazonaws.mpa#IdentitySourceParameters": {
            "type": "structure",
            "members": {
                "IamIdentityCenter": {
                    "target": "com.amazonaws.mpa#IamIdentityCenter",
                    "traits": {
                        "smithy.api#documentation": "<p>IAM Identity Center credentials.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details for the resource that provides identities to the identity source. For example, an IAM Identity Center instance.</p>"
            }
        },
        "com.amazonaws.mpa#IdentitySourceParametersForGet": {
            "type": "union",
            "members": {
                "IamIdentityCenter": {
                    "target": "com.amazonaws.mpa#IamIdentityCenterForGet",
                    "traits": {
                        "aws.api#data": "usage",
                        "smithy.api#documentation": "<p>IAM Identity Center credentials.</p>"
                    }
                }
            },
            "traits": {
                "aws.api#data": "usage",
                "smithy.api#documentation": "<p>Contains details for the resource that provides identities to the identity source. For example, an IAM Identity Center instance. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-concepts.html\">Identity source</a> in the <i>Multi-party approval User Guide</i>.</p>"
            }
        },
        "com.amazonaws.mpa#IdentitySourceParametersForList": {
            "type": "union",
            "members": {
                "IamIdentityCenter": {
                    "target": "com.amazonaws.mpa#IamIdentityCenterForList",
                    "traits": {
                        "smithy.api#documentation": "<p>IAM Identity Center credentials.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details for the resource that provides identities to the identity source. For example, an IAM Identity Center instance. For more information, see <a href=\"https://docs.aws.amazon.com/mpa/latest/userguide/mpa-concepts.html\">Identity source</a> in the <i>Multi-party approval User Guide</i>.</p>"
            }
        },
        "com.amazonaws.mpa#IdentitySourceStatus": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR"
                    }
                }
            }
        },
        "com.amazonaws.mpa#IdentitySourceStatusCode": {
            "type": "enum",
            "members": {
                "ACCESS_DENIED": {
                    "target": "smithy.api#Unit",
[...]
