{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.mwaa#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Access to the Apache Airflow Web UI or CLI has been denied due to insufficient permissions. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/access-policies.html\">Accessing an Amazon MWAA environment</a>.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.mwaa#AirflowConfigurationOptions": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.mwaa#ConfigKey"
            },
            "value": {
                "target": "com.amazonaws.mwaa#ConfigValue"
            },
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.mwaa#AirflowVersion": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 32
                },
                "smithy.api#pattern": "^[0-9a-z.]+$"
            }
        },
        "com.amazonaws.mwaa#AmazonMWAA": {
            "type": "service",
            "version": "2020-07-01",
            "operations": [
                {
                    "target": "com.amazonaws.mwaa#CreateCliToken"
                },
                {
                    "target": "com.amazonaws.mwaa#CreateEnvironment"
                },
                {
                    "target": "com.amazonaws.mwaa#CreateWebLoginToken"
                },
                {
                    "target": "com.amazonaws.mwaa#DeleteEnvironment"
                },
                {
                    "target": "com.amazonaws.mwaa#GetEnvironment"
                },
                {
                    "target": "com.amazonaws.mwaa#ListEnvironments"
                },
                {
                    "target": "com.amazonaws.mwaa#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.mwaa#PublishMetrics"
                },
                {
                    "target": "com.amazonaws.mwaa#TagResource"
                },
                {
                    "target": "com.amazonaws.mwaa#UntagResource"
                },
                {
                    "target": "com.amazonaws.mwaa#UpdateEnvironment"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "MWAA",
                    "arnNamespace": "airflow"
                },
                "aws.auth#sigv4": {
                    "name": "airflow"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<fullname>Amazon Managed Workflows for Apache Airflow</fullname>\n         <p>This section contains the Amazon Managed Workflows for Apache Airflow (MWAA) API reference documentation. For more information, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/what-is-mwaa.html\">What Is Amazon MWAA?</a>.</p>\n         <p>\n            <b>Endpoints</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>api.airflow.{region}.amazonaws.com</code> - This endpoint is used for environment management.</p>\n               <ul>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/mwaa/latest/API/API_CreateEnvironment.html\">CreateEnvironment</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/mwaa/latest/API/API_DeleteEnvironment.html\">DeleteEnvironment</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/mwaa/latest/API/API_GetEnvironment.html\">GetEnvironment</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/mwaa/latest/API/API_ListEnvironments.html\">ListEnvironments</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/mwaa/latest/API/API_ListTagsForResource.html\">ListTagsForResource</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/mwaa/latest/API/API_TagResource.html\">TagResource</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/mwaa/latest/API/API_UntagResource.html\">UntagResource</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/mwaa/latest/API/API_UpdateEnvironment.html\">UpdateEnvironment</a>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>\n                  <code>env.airflow.{region}.amazonaws.com</code> - This endpoint is used to operate the Airflow environment.</p>\n               <ul>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/mwaa/latest/API/API_CreateCliToken.html \">CreateCliToken</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/mwaa/latest/API/API_CreateWebLoginToken.html\">CreateWebLoginToken</a>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>\n                  <code>ops.airflow.{region}.amazonaws.com</code> - This endpoint is used to push environment metrics that track environment health.</p>\n               <ul>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/mwaa/latest/API/API_PublishMetrics.html \">PublishMetrics</a>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n         <p>\n            <b>Regions</b>\n         </p>\n         <p>For a list of regions that Amazon MWAA supports, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/what-is-mwaa.html#regions-mwaa\">Region availability</a> in the <i>Amazon MWAA User Guide</i>.</p>",
                "smithy.api#title": "AmazonMWAA",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": true,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "aws.partition",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ],
                                    "assign": "PartitionResult"
                                }
                            ],
                            "type": "tree",
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Endpoint"
                                                }
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                                    "type": "error"
                                                },
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": {
                                                            "ref": "Endpoint"
                                                        },
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        },
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsFIPS"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsDualStack"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://airflow-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsFIPS"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "type": "tree",
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://airflow-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "type": "tree",
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        true,
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "supportsDualStack"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "tree",
                                            "rules": [
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://airflow.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {},
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "conditions": [],
                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                            "type": "error"
                                        }
                                    ]
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": "https://airflow.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ]
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ap-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-south-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-south-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ap-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-south-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-south-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.eu-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-south-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-south-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.eu-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-south-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-south-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ca-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ca-central-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ca-central-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ca-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ca-central-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ca-central-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.eu-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-central-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-central-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.eu-central-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-central-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-central-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.us-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-west-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-west-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.us-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-west-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-west-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.us-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-west-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-west-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.us-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-west-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-west-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.af-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "af-south-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "af-south-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.af-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "af-south-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "af-south-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.eu-north-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-north-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-north-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.eu-north-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-north-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-north-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.eu-west-3.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-west-3",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-west-3",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.eu-west-3.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-west-3",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-west-3",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.eu-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-west-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-west-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.eu-west-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-west-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-west-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.eu-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-west-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-west-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.eu-west-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "eu-west-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "eu-west-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ap-northeast-3.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-northeast-3",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-northeast-3",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ap-northeast-3.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-northeast-3",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-northeast-3",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ap-northeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-northeast-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-northeast-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ap-northeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-northeast-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-northeast-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ap-northeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-northeast-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-northeast-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ap-northeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-northeast-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-northeast-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.me-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "me-south-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "me-south-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.me-south-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "me-south-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "me-south-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.sa-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "sa-east-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "sa-east-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.sa-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "sa-east-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "sa-east-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ap-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-east-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-east-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ap-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-east-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-east-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ap-southeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-southeast-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-southeast-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ap-southeast-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-southeast-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-southeast-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ap-southeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-southeast-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-southeast-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ap-southeast-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "ap-southeast-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "ap-southeast-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-east-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-east-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-east-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-east-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.us-east-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-east-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow-fips.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-east-2",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.us-east-2.api.aws"
                                }
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-east-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://airflow.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-east-2",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "UseDualStack": false,
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "UseDualStack": true,
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "Endpoint": "https://example.com"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.mwaa#CloudWatchLogGroupArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1224
                },
                "smithy.api#pattern": "^arn:aws(-[a-z]+)?:logs:[a-z0-9\\-]+:\\d{12}:log-group:\\w+"
            }
        },
        "com.amazonaws.mwaa#ConfigKey": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[a-z]+([a-z0-9._]*[a-z0-9_]+)?$"
            }
        },
        "com.amazonaws.mwaa#ConfigValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 65536
                },
                "smithy.api#pattern": "^[ -~]+$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.mwaa#CreateCliToken": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mwaa#CreateCliTokenRequest"
            },
            "output": {
                "target": "com.amazonaws.mwaa#CreateCliTokenResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mwaa#ResourceNotFoundException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a CLI token for the Airflow CLI. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/call-mwaa-apis-cli.html\">Creating an Apache Airflow CLI token</a>.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "env."
                },
                "smithy.api#http": {
                    "uri": "/clitoken/{Name}",
                    "method": "POST",
                    "code": 200
                }
            }
        },
        "com.amazonaws.mwaa#CreateCliTokenRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.mwaa#EnvironmentName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon MWAA environment. For example, <code>MyMWAAEnvironment</code>.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.mwaa#CreateCliTokenResponse": {
            "type": "structure",
            "members": {
                "CliToken": {
                    "target": "com.amazonaws.mwaa#Token",
                    "traits": {
                        "smithy.api#documentation": "<p>An Airflow CLI login token.</p>"
                    }
                },
                "WebServerHostname": {
                    "target": "com.amazonaws.mwaa#Hostname",
                    "traits": {
                        "smithy.api#documentation": "<p>The Airflow web server hostname for the environment.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mwaa#CreateEnvironment": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mwaa#CreateEnvironmentInput"
            },
            "output": {
                "target": "com.amazonaws.mwaa#CreateEnvironmentOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mwaa#InternalServerException"
                },
                {
                    "target": "com.amazonaws.mwaa#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an Amazon Managed Workflows for Apache Airflow (MWAA) environment.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "api."
                },
                "smithy.api#http": {
                    "code": 200,
                    "method": "PUT",
                    "uri": "/environments/{Name}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mwaa#CreateEnvironmentInput": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.mwaa#EnvironmentName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon MWAA environment. For example, <code>MyMWAAEnvironment</code>.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ExecutionRoleArn": {
                    "target": "com.amazonaws.mwaa#IamRoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the execution role for your environment. An execution role is an Amazon Web Services Identity and Access Management (IAM) role that grants MWAA permission to access Amazon Web Services services and resources used by your environment. For example, <code>arn:aws:iam::123456789:role/my-execution-role</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/mwaa-create-role.html\">Amazon MWAA Execution role</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SourceBucketArn": {
                    "target": "com.amazonaws.mwaa#S3BucketArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket where your DAG code and supporting files are stored. For example, <code>arn:aws:s3:::my-airflow-bucket-unique-name</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/mwaa-s3-bucket.html\">Create an Amazon S3 bucket for Amazon MWAA</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DagS3Path": {
                    "target": "com.amazonaws.mwaa#RelativePath",
                    "traits": {
                        "smithy.api#documentation": "<p>The relative path to the DAGs folder on your Amazon S3 bucket. For example, <code>dags</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-dag-folder.html\">Adding or updating DAGs</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "NetworkConfiguration": {
                    "target": "com.amazonaws.mwaa#NetworkConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The VPC networking components used to secure and enable network traffic between the Amazon Web Services resources for your environment. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/networking-about.html\">About networking on Amazon MWAA</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PluginsS3Path": {
                    "target": "com.amazonaws.mwaa#RelativePath",
                    "traits": {
                        "smithy.api#documentation": "<p>The relative path to the <code>plugins.zip</code> file on your Amazon S3 bucket. For example, <code>plugins.zip</code>. If specified, then the plugins.zip version is required. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-dag-import-plugins.html\">Installing custom plugins</a>.</p>"
                    }
                },
                "PluginsS3ObjectVersion": {
                    "target": "com.amazonaws.mwaa#S3ObjectVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the plugins.zip file on your Amazon S3 bucket. A version must be specified each time a plugins.zip file is updated. To learn more, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/versioning-workflows.html\">How S3 Versioning works</a>.</p>"
                    }
                },
                "RequirementsS3Path": {
                    "target": "com.amazonaws.mwaa#RelativePath",
                    "traits": {
                        "smithy.api#documentation": "<p>The relative path to the <code>requirements.txt</code> file on your Amazon S3 bucket. For example, <code>requirements.txt</code>. If specified, then a file version is required. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/working-dags-dependencies.html\">Installing Python dependencies</a>.</p>"
                    }
                },
                "RequirementsS3ObjectVersion": {
                    "target": "com.amazonaws.mwaa#S3ObjectVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the requirements.txt file on your Amazon S3 bucket. A version must be specified each time a requirements.txt file is updated. To learn more, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/versioning-workflows.html\">How S3 Versioning works</a>.</p>"
                    }
                },
                "AirflowConfigurationOptions": {
                    "target": "com.amazonaws.mwaa#AirflowConfigurationOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of key-value pairs containing the Apache Airflow configuration options you want to attach to your environment. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-env-variables.html\">Apache Airflow configuration options</a>.</p>"
                    }
                },
                "EnvironmentClass": {
                    "target": "com.amazonaws.mwaa#EnvironmentClass",
                    "traits": {
                        "smithy.api#documentation": "<p>The environment class type. Valid values: <code>mw1.small</code>, <code>mw1.medium</code>, <code>mw1.large</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/environment-class.html\">Amazon MWAA environment class</a>.</p>"
                    }
                },
                "MaxWorkers": {
                    "target": "com.amazonaws.mwaa#MaxWorkers",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of workers that you want to run in your environment. MWAA scales the number of Apache Airflow workers up to the number you specify in the <code>MaxWorkers</code> field. For example, <code>20</code>. When there are no more tasks running, and no more in the queue, MWAA disposes of the extra workers leaving the one worker that is included with your environment, or the number you specify in <code>MinWorkers</code>.</p>"
                    }
                },
                "KmsKey": {
                    "target": "com.amazonaws.mwaa#KmsKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Key Management Service (KMS) key to encrypt the data in your environment. You can use an Amazon Web Services owned CMK, or a Customer managed CMK (advanced). To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/create-environment.html\">Create an Amazon MWAA environment</a>.</p>"
                    }
                },
                "AirflowVersion": {
                    "target": "com.amazonaws.mwaa#AirflowVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The Apache Airflow version for your environment. If no value is specified, it defaults to the latest version. Valid values:\n            <code>1.10.12</code>, <code>2.0.2</code>, <code>2.2.2</code>, and <code>2.4.3</code>.\n            For more information, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/airflow-versions.html\">Apache Airflow versions on Amazon Managed Workflows for Apache Airflow (MWAA)</a>.</p>"
                    }
                },
                "LoggingConfiguration": {
                    "target": "com.amazonaws.mwaa#LoggingConfigurationInput",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the Apache Airflow logs to send to CloudWatch Logs.</p>"
                    }
                },
                "WeeklyMaintenanceWindowStart": {
                    "target": "com.amazonaws.mwaa#WeeklyMaintenanceWindowStart",
                    "traits": {
                        "smithy.api#documentation": "<p>The day and time of the week in Coordinated Universal Time (UTC) 24-hour standard time to start weekly maintenance updates of your environment in the following format: <code>DAY:HH:MM</code>. For example: <code>TUE:03:30</code>. You can specify a start time in 30 minute increments only.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.mwaa#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The key-value tag pairs you want to associate to your environment. For example, <code>\"Environment\": \"Staging\"</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>.</p>"
                    }
                },
                "WebserverAccessMode": {
                    "target": "com.amazonaws.mwaa#WebserverAccessMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The Apache Airflow <i>Web server</i> access mode. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-networking.html\">Apache Airflow access modes</a>.</p>"
                    }
                },
                "MinWorkers": {
                    "target": "com.amazonaws.mwaa#MinWorkers",
                    "traits": {
                        "smithy.api#documentation": "<p>The minimum number of workers that you want to run in your environment. MWAA scales the number of Apache Airflow workers up to the number you specify in the <code>MaxWorkers</code> field. When there are no more tasks running, and no more in the queue, MWAA disposes of the extra workers leaving the worker count you specify in the <code>MinWorkers</code> field. For example, <code>2</code>.</p>"
                    }
                },
                "Schedulers": {
                    "target": "com.amazonaws.mwaa#Schedulers",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of Apache Airflow schedulers to run in your environment. Valid values:</p>\n         <ul>\n            <li>\n               <p>v2 - Accepts between 2 to 5. Defaults to 2.</p>\n            </li>\n            <li>\n               <p>v1 - Accepts 1.</p>\n            </li>\n         </ul>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This section contains the Amazon Managed Workflows for Apache Airflow (MWAA) API reference documentation to create an environment. For more information, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/get-started.html\">Get started with Amazon Managed Workflows for Apache Airflow</a>.</p>"
            }
        },
        "com.amazonaws.mwaa#CreateEnvironmentOutput": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.mwaa#EnvironmentArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) returned in the response for the environment.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mwaa#CreateWebLoginToken": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mwaa#CreateWebLoginTokenRequest"
            },
            "output": {
                "target": "com.amazonaws.mwaa#CreateWebLoginTokenResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mwaa#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.mwaa#InternalServerException"
                },
                {
                    "target": "com.amazonaws.mwaa#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mwaa#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a web login token for the Airflow Web UI. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/call-mwaa-apis-web.html\">Creating an Apache Airflow web login token</a>.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "env."
                },
                "smithy.api#http": {
                    "uri": "/webtoken/{Name}",
                    "method": "POST",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.mwaa#CreateWebLoginTokenRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.mwaa#EnvironmentName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon MWAA environment. For example, <code>MyMWAAEnvironment</code>.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.mwaa#CreateWebLoginTokenResponse": {
            "type": "structure",
            "members": {
                "WebToken": {
                    "target": "com.amazonaws.mwaa#Token",
                    "traits": {
                        "smithy.api#documentation": "<p>An Airflow web server login token.</p>"
                    }
                },
                "WebServerHostname": {
                    "target": "com.amazonaws.mwaa#Hostname",
                    "traits": {
                        "smithy.api#documentation": "<p>The Airflow web server hostname for the environment.</p>"
                    }
                }
            }
        },
        "com.amazonaws.mwaa#CreatedAt": {
            "type": "timestamp"
        },
        "com.amazonaws.mwaa#DeleteEnvironment": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.mwaa#DeleteEnvironmentInput"
            },
            "output": {
                "target": "com.amazonaws.mwaa#DeleteEnvironmentOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.mwaa#InternalServerException"
                },
                {
                    "target": "com.amazonaws.mwaa#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.mwaa#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an Amazon Managed Workflows for Apache Airflow (MWAA) environment.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "api."
                },
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/environments/{Name}"
                },
                "smithy.api#idempotent": {}
            }
        },
[...]
