{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.neptunedata#AccessDeniedException": {
            "type": "structure",
            "members": {
                "detailedMessage": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A detailed message describing the problem.</p>",
                        "smithy.api#required": {}
                    }
                },
                "requestId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the request in question.</p>",
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTP status code returned with the exception.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Raised in case of an authentication or authorization failure.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.neptunedata#Action": {
            "type": "enum",
            "members": {
                "INITIALIZE_RESET": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "initiateDatabaseReset"
                    }
                },
                "PERFORM_RESET": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "performDatabaseReset"
                    }
                }
            }
        },
        "com.amazonaws.neptunedata#AmazonNeptuneDataplane": {
            "type": "service",
            "version": "2023-08-01",
            "operations": [
                {
                    "target": "com.amazonaws.neptunedata#CancelGremlinQuery"
                },
                {
                    "target": "com.amazonaws.neptunedata#CancelLoaderJob"
                },
                {
                    "target": "com.amazonaws.neptunedata#CancelMLDataProcessingJob"
                },
                {
                    "target": "com.amazonaws.neptunedata#CancelMLModelTrainingJob"
                },
                {
                    "target": "com.amazonaws.neptunedata#CancelMLModelTransformJob"
                },
                {
                    "target": "com.amazonaws.neptunedata#CancelOpenCypherQuery"
                },
                {
                    "target": "com.amazonaws.neptunedata#CreateMLEndpoint"
                },
                {
                    "target": "com.amazonaws.neptunedata#DeleteMLEndpoint"
                },
                {
                    "target": "com.amazonaws.neptunedata#DeletePropertygraphStatistics"
                },
                {
                    "target": "com.amazonaws.neptunedata#DeleteSparqlStatistics"
                },
                {
                    "target": "com.amazonaws.neptunedata#ExecuteFastReset"
                },
                {
                    "target": "com.amazonaws.neptunedata#ExecuteGremlinExplainQuery"
                },
                {
                    "target": "com.amazonaws.neptunedata#ExecuteGremlinProfileQuery"
                },
                {
                    "target": "com.amazonaws.neptunedata#ExecuteGremlinQuery"
                },
                {
                    "target": "com.amazonaws.neptunedata#ExecuteOpenCypherExplainQuery"
                },
                {
                    "target": "com.amazonaws.neptunedata#ExecuteOpenCypherQuery"
                },
                {
                    "target": "com.amazonaws.neptunedata#GetEngineStatus"
                },
                {
                    "target": "com.amazonaws.neptunedata#GetGremlinQueryStatus"
                },
                {
                    "target": "com.amazonaws.neptunedata#GetLoaderJobStatus"
                },
                {
                    "target": "com.amazonaws.neptunedata#GetMLDataProcessingJob"
                },
                {
                    "target": "com.amazonaws.neptunedata#GetMLEndpoint"
                },
                {
                    "target": "com.amazonaws.neptunedata#GetMLModelTrainingJob"
                },
                {
                    "target": "com.amazonaws.neptunedata#GetMLModelTransformJob"
                },
                {
                    "target": "com.amazonaws.neptunedata#GetOpenCypherQueryStatus"
                },
                {
                    "target": "com.amazonaws.neptunedata#GetPropertygraphStatistics"
                },
                {
                    "target": "com.amazonaws.neptunedata#GetPropertygraphStream"
                },
                {
                    "target": "com.amazonaws.neptunedata#GetPropertygraphSummary"
                },
                {
                    "target": "com.amazonaws.neptunedata#GetRDFGraphSummary"
                },
                {
                    "target": "com.amazonaws.neptunedata#GetSparqlStatistics"
                },
                {
                    "target": "com.amazonaws.neptunedata#GetSparqlStream"
                },
                {
                    "target": "com.amazonaws.neptunedata#ListGremlinQueries"
                },
                {
                    "target": "com.amazonaws.neptunedata#ListLoaderJobs"
                },
                {
                    "target": "com.amazonaws.neptunedata#ListMLDataProcessingJobs"
                },
                {
                    "target": "com.amazonaws.neptunedata#ListMLEndpoints"
                },
                {
                    "target": "com.amazonaws.neptunedata#ListMLModelTrainingJobs"
                },
                {
                    "target": "com.amazonaws.neptunedata#ListMLModelTransformJobs"
                },
                {
                    "target": "com.amazonaws.neptunedata#ListOpenCypherQueries"
                },
                {
                    "target": "com.amazonaws.neptunedata#ManagePropertygraphStatistics"
                },
                {
                    "target": "com.amazonaws.neptunedata#ManageSparqlStatistics"
                },
                {
                    "target": "com.amazonaws.neptunedata#StartLoaderJob"
                },
                {
                    "target": "com.amazonaws.neptunedata#StartMLDataProcessingJob"
                },
                {
                    "target": "com.amazonaws.neptunedata#StartMLModelTrainingJob"
                },
                {
                    "target": "com.amazonaws.neptunedata#StartMLModelTransformJob"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "neptunedata",
                    "arnNamespace": "neptune-db"
                },
                "aws.auth#sigv4": {
                    "name": "neptune-db"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<fullname>Neptune Data API</fullname> <p>The Amazon Neptune data API provides SDK support for more than 40 of Neptune's data operations, including data loading, query execution, data inquiry, and machine learning. It supports the Gremlin and openCypher query languages, and is available in all SDK languages. It automatically signs API requests and greatly simplifies integrating Neptune into your applications.</p>",
                "smithy.api#externalDocumentation": {
                    "API Reference": "https://docs.aws.amazon.com/neptune/latest/userguide/intro.html"
                },
                "smithy.api#title": "Amazon NeptuneData",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://neptune-db-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://neptune-db-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://neptune-db.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://neptune-db.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://neptune-db.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.neptunedata#BadRequestException": {
            "type": "structure",
            "members": {
                "detailedMessage": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A detailed message describing the problem.</p>",
                        "smithy.api#required": {}
                    }
                },
                "requestId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the bad request.</p>",
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTP status code returned with the exception.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Raised when a request is submitted that cannot be processed.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.neptunedata#BulkLoadIdNotFoundException": {
            "type": "structure",
            "members": {
                "detailedMessage": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A detailed message describing the problem.</p>",
                        "smithy.api#required": {}
                    }
                },
                "requestId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The bulk-load job ID that could not be found.</p>",
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTP status code returned with the exception.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Raised when a specified bulk-load job ID cannot be found.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 404,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.neptunedata#CancelGremlinQuery": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.neptunedata#CancelGremlinQueryInput"
            },
            "output": {
                "target": "com.amazonaws.neptunedata#CancelGremlinQueryOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.neptunedata#BadRequestException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ClientTimeoutException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ConstraintViolationException"
                },
                {
                    "target": "com.amazonaws.neptunedata#FailureByQueryException"
                },
                {
                    "target": "com.amazonaws.neptunedata#IllegalArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MissingParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ParsingException"
                },
                {
                    "target": "com.amazonaws.neptunedata#PreconditionsFailedException"
                },
                {
                    "target": "com.amazonaws.neptunedata#TimeLimitExceededException"
                },
                {
                    "target": "com.amazonaws.neptunedata#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.neptunedata#UnsupportedOperationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a Gremlin query. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/gremlin-api-status-cancel.html\">Gremlin query cancellation</a> for more information.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelquery\">neptune-db:CancelQuery</a> IAM action in that cluster.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/gremlin/status/{queryId}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.neptunedata#CancelGremlinQueryInput": {
            "type": "structure",
            "members": {
                "queryId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier that identifies the query to be canceled.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.neptunedata#CancelGremlinQueryOutput": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the cancelation</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.neptunedata#CancelLoaderJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.neptunedata#CancelLoaderJobInput"
            },
            "output": {
                "target": "com.amazonaws.neptunedata#CancelLoaderJobOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.neptunedata#BadRequestException"
                },
                {
                    "target": "com.amazonaws.neptunedata#BulkLoadIdNotFoundException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ClientTimeoutException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ConstraintViolationException"
                },
                {
                    "target": "com.amazonaws.neptunedata#IllegalArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#LoadUrlAccessDeniedException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MissingParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#PreconditionsFailedException"
                },
                {
                    "target": "com.amazonaws.neptunedata#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.neptunedata#UnsupportedOperationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a specified load job. This is an HTTP <code>DELETE</code> request. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/load-api-reference-status.htm\">Neptune Loader Get-Status API</a> for more information.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelloaderjob\">neptune-db:CancelLoaderJob</a> IAM action in that cluster..</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/loader/{loadId}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.neptunedata#CancelLoaderJobInput": {
            "type": "structure",
            "members": {
                "loadId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the load job to be deleted.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.neptunedata#CancelLoaderJobOutput": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The cancellation status.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.neptunedata#CancelMLDataProcessingJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.neptunedata#CancelMLDataProcessingJobInput"
            },
            "output": {
                "target": "com.amazonaws.neptunedata#CancelMLDataProcessingJobOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.neptunedata#BadRequestException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ClientTimeoutException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ConstraintViolationException"
                },
                {
                    "target": "com.amazonaws.neptunedata#IllegalArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MissingParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MLResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.neptunedata#PreconditionsFailedException"
                },
                {
                    "target": "com.amazonaws.neptunedata#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.neptunedata#UnsupportedOperationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a Neptune ML data processing job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-dataprocessing.html\">The <code>dataprocessing</code> command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelmldataprocessingjob\">neptune-db:CancelMLDataProcessingJob</a> IAM action in that cluster.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/ml/dataprocessing/{id}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.neptunedata#CancelMLDataProcessingJobInput": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the data-processing job.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "neptuneIamRoleArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of an IAM role that provides Neptune access to SageMaker and Amazon S3 resources. This must be listed in your DB cluster parameter group or an error will occur.</p>",
                        "smithy.api#httpQuery": "neptuneIamRoleArn"
                    }
                },
                "clean": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>If set to <code>TRUE</code>, this flag specifies that all Neptune ML S3 artifacts should be deleted when the job is stopped. The default is <code>FALSE</code>.</p>",
                        "smithy.api#httpQuery": "clean"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.neptunedata#CancelMLDataProcessingJobOutput": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the cancellation request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.neptunedata#CancelMLModelTrainingJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.neptunedata#CancelMLModelTrainingJobInput"
            },
            "output": {
                "target": "com.amazonaws.neptunedata#CancelMLModelTrainingJobOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.neptunedata#BadRequestException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ClientTimeoutException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ConstraintViolationException"
                },
                {
                    "target": "com.amazonaws.neptunedata#IllegalArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MissingParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MLResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.neptunedata#PreconditionsFailedException"
                },
                {
                    "target": "com.amazonaws.neptunedata#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.neptunedata#UnsupportedOperationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a Neptune ML model training job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-modeltraining.html\">Model training using the <code>modeltraining</code> command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelmlmodeltrainingjob\">neptune-db:CancelMLModelTrainingJob</a> IAM action in that cluster.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/ml/modeltraining/{id}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.neptunedata#CancelMLModelTrainingJobInput": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the model-training job to be canceled.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "neptuneIamRoleArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of an IAM role that provides Neptune access to SageMaker and Amazon S3 resources. This must be listed in your DB cluster parameter group or an error will occur.</p>",
                        "smithy.api#httpQuery": "neptuneIamRoleArn"
                    }
                },
                "clean": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>If set to <code>TRUE</code>, this flag specifies that all Amazon S3 artifacts should be deleted when the job is stopped. The default is <code>FALSE</code>.</p>",
                        "smithy.api#httpQuery": "clean"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.neptunedata#CancelMLModelTrainingJobOutput": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the cancellation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.neptunedata#CancelMLModelTransformJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.neptunedata#CancelMLModelTransformJobInput"
            },
            "output": {
                "target": "com.amazonaws.neptunedata#CancelMLModelTransformJobOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.neptunedata#BadRequestException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ClientTimeoutException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ConstraintViolationException"
                },
                {
                    "target": "com.amazonaws.neptunedata#IllegalArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MissingParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MLResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.neptunedata#PreconditionsFailedException"
                },
                {
                    "target": "com.amazonaws.neptunedata#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.neptunedata#UnsupportedOperationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a specified model transform job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-model-transform.html\">Use a trained model to generate new model artifacts</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelmlmodeltransformjob\">neptune-db:CancelMLModelTransformJob</a> IAM action in that cluster.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/ml/modeltransform/{id}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.neptunedata#CancelMLModelTransformJobInput": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the model transform job to be canceled.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "neptuneIamRoleArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of an IAM role that provides Neptune access to SageMaker and Amazon S3 resources. This must be listed in your DB cluster parameter group or an error will occur.</p>",
                        "smithy.api#httpQuery": "neptuneIamRoleArn"
                    }
                },
                "clean": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>If this flag is set to <code>TRUE</code>, all Neptune ML S3 artifacts should be deleted when the job is stopped. The default is <code>FALSE</code>.</p>",
                        "smithy.api#httpQuery": "clean"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.neptunedata#CancelMLModelTransformJobOutput": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>the status of the cancelation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.neptunedata#CancelOpenCypherQuery": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.neptunedata#CancelOpenCypherQueryInput"
            },
            "output": {
                "target": "com.amazonaws.neptunedata#CancelOpenCypherQueryOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.neptunedata#BadRequestException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ClientTimeoutException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ConstraintViolationException"
                },
                {
                    "target": "com.amazonaws.neptunedata#FailureByQueryException"
                },
                {
                    "target": "com.amazonaws.neptunedata#IllegalArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidNumericDataException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MissingParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ParsingException"
                },
                {
                    "target": "com.amazonaws.neptunedata#PreconditionsFailedException"
                },
                {
                    "target": "com.amazonaws.neptunedata#TimeLimitExceededException"
                },
                {
                    "target": "com.amazonaws.neptunedata#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.neptunedata#UnsupportedOperationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a specified openCypher query. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/access-graph-opencypher-status.html\">Neptune openCypher status endpoint</a> for more information.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelquery\">neptune-db:CancelQuery</a> IAM action in that cluster.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/opencypher/status/{queryId}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.neptunedata#CancelOpenCypherQueryInput": {
            "type": "structure",
            "members": {
                "queryId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the openCypher query to cancel.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "silent": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>If set to <code>TRUE</code>, causes the cancelation of the openCypher query to happen silently.</p>",
                        "smithy.api#httpQuery": "silent"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.neptunedata#CancelOpenCypherQueryOutput": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The cancellation status of the openCypher query.</p>"
                    }
                },
                "payload": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>The cancelation payload for the openCypher query.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.neptunedata#CancelledByUserException": {
            "type": "structure",
            "members": {
                "detailedMessage": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A detailed message describing the problem.</p>",
                        "smithy.api#required": {}
                    }
                },
                "requestId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the request in question.</p>",
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTP status code returned with the exception.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Raised when a user cancelled a request.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "com.amazonaws.neptunedata#Classes": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            }
        },
        "com.amazonaws.neptunedata#ClientTimeoutException": {
            "type": "structure",
            "members": {
                "detailedMessage": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A detailed message describing the problem.</p>",
                        "smithy.api#required": {}
                    }
                },
                "requestId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the request in question.</p>",
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTP status code returned with the exception.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Raised when a request timed out in the client.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 408,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.neptunedata#ConcurrentModificationException": {
            "type": "structure",
            "members": {
                "detailedMessage": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A detailed message describing the problem.</p>",
                        "smithy.api#required": {}
                    }
                },
                "requestId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the request in question.</p>",
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTP status code returned with the exception.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Raised when a request attempts to modify data that is concurrently being modified by another process.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.neptunedata#ConstraintViolationException": {
            "type": "structure",
            "members": {
                "detailedMessage": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A detailed message describing the problem.</p>",
                        "smithy.api#required": {}
                    }
                },
                "requestId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the request in question.</p>",
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTP status code returned with the exception.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Raised when a value in a request field did not satisfy required constraints.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.neptunedata#CreateMLEndpoint": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.neptunedata#CreateMLEndpointInput"
            },
            "output": {
                "target": "com.amazonaws.neptunedata#CreateMLEndpointOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.neptunedata#BadRequestException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ClientTimeoutException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ConstraintViolationException"
                },
                {
                    "target": "com.amazonaws.neptunedata#IllegalArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MissingParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MLResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.neptunedata#PreconditionsFailedException"
                },
                {
                    "target": "com.amazonaws.neptunedata#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.neptunedata#UnsupportedOperationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new Neptune ML inference endpoint that lets you query one specific model that the model-training process constructed. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-endpoints.html\">Managing inference endpoints using the endpoints command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#createmlendpoint\">neptune-db:CreateMLEndpoint</a> IAM action in that cluster.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/ml/endpoints",
                    "code": 200
                }
            }
        },
        "com.amazonaws.neptunedata#CreateMLEndpointInput": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier for the new inference endpoint. The default is an autogenerated timestamped name.</p>"
                    }
                },
                "mlModelTrainingJobId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The job Id of the completed model-training job that has created the model that the inference endpoint will point to. You must supply either the <code>mlModelTrainingJobId</code> or the <code>mlModelTransformJobId</code>.</p>"
                    }
                },
                "mlModelTransformJobId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The job Id of the completed model-transform job. You must supply either the <code>mlModelTrainingJobId</code> or the <code>mlModelTransformJobId</code>.</p>"
                    }
                },
                "update": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>If set to <code>true</code>, <code>update</code> indicates that this is an update request. The default is <code>false</code>. You must supply either the <code>mlModelTrainingJobId</code> or the <code>mlModelTransformJobId</code>.</p>"
                    }
                },
                "neptuneIamRoleArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of an IAM role providing Neptune access to SageMaker and Amazon S3 resources. This must be listed in your DB cluster parameter group or an error will be thrown.</p>"
                    }
                },
                "modelName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Model type for training. By default the Neptune ML model is automatically based on the <code>modelType</code> used in data processing, but you can specify a different model type here. The default is <code>rgcn</code> for heterogeneous graphs and <code>kge</code> for knowledge graphs. The only valid value for heterogeneous graphs is <code>rgcn</code>. Valid values for knowledge graphs are: <code>kge</code>, <code>transe</code>, <code>distmult</code>, and <code>rotate</code>.</p>"
                    }
                },
                "instanceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of Neptune ML instance to use for online servicing. The default is <code>ml.m5.xlarge</code>. Choosing the ML instance for an inference endpoint depends on the task type, the graph size, and your budget.</p>"
                    }
                },
                "instanceCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The minimum number of Amazon EC2 instances to deploy to an endpoint for prediction. The default is 1</p>"
                    }
                },
                "volumeEncryptionKMSKey": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Key Management Service (Amazon KMS) key that SageMaker uses to encrypt data on the storage volume attached to the ML compute instances that run the training job. The default is None.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.neptunedata#CreateMLEndpointOutput": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the new inference endpoint.</p>"
                    }
                },
                "arn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN for the new inference endpoint.</p>"
                    }
                },
                "creationTimeInMillis": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The endpoint creation time, in milliseconds.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.neptunedata#CustomModelTrainingParameters": {
            "type": "structure",
            "members": {
                "sourceS3DirectoryPath": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The path to the Amazon S3 location where the Python module implementing your model is located. This must point to a valid existing Amazon S3 location that contains, at a minimum, a training script, a transform script, and a <code>model-hpo-configuration.json</code> file.</p>",
                        "smithy.api#required": {}
                    }
                },
                "trainingEntryPointScript": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the entry point in your module of a script that performs model training and takes hyperparameters as command-line arguments, including fixed hyperparameters. The default is <code>training.py</code>.</p>"
                    }
                },
                "transformEntryPointScript": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the entry point in your module of a script that should be run after the best model from the hyperparameter search has been identified, to compute the model artifacts necessary for model deployment. It should be able to run with no command-line arguments.The default is <code>transform.py</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains custom model training parameters. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-custom-models.html\">Custom models in Neptune ML</a>.</p>"
            }
        },
        "com.amazonaws.neptunedata#CustomModelTransformParameters": {
            "type": "structure",
            "members": {
                "sourceS3DirectoryPath": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The path to the Amazon S3 location where the Python module implementing your model is located. This must point to a valid existing Amazon S3 location that contains, at a minimum, a training script, a transform script, and a <code>model-hpo-configuration.json</code> file.</p>",
                        "smithy.api#required": {}
                    }
                },
                "transformEntryPointScript": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the entry point in your module of a script that should be run after the best model from the hyperparameter search has been identified, to compute the model artifacts necessary for model deployment. It should be able to run with no command-line arguments. The default is <code>transform.py</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains custom model transform parameters. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-model-transform.html\">Use a trained model to generate new model artifacts</a>.</p>"
            }
        },
        "com.amazonaws.neptunedata#DeleteMLEndpoint": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.neptunedata#DeleteMLEndpointInput"
            },
            "output": {
                "target": "com.amazonaws.neptunedata#DeleteMLEndpointOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.neptunedata#BadRequestException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ClientTimeoutException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ConstraintViolationException"
                },
                {
                    "target": "com.amazonaws.neptunedata#IllegalArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MissingParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MLResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.neptunedata#PreconditionsFailedException"
                },
                {
                    "target": "com.amazonaws.neptunedata#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.neptunedata#UnsupportedOperationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels the creation of a Neptune ML inference endpoint. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-endpoints.html\">Managing inference endpoints using the endpoints command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#deletemlendpoint\">neptune-db:DeleteMLEndpoint</a> IAM action in that cluster.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/ml/endpoints/{id}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.neptunedata#DeleteMLEndpointInput": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the inference endpoint.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "neptuneIamRoleArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of an IAM role providing Neptune access to SageMaker and Amazon S3 resources. This must be listed in your DB cluster parameter group or an error will be thrown.</p>",
                        "smithy.api#httpQuery": "neptuneIamRoleArn"
                    }
                },
                "clean": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>If this flag is set to <code>TRUE</code>, all Neptune ML S3 artifacts should be deleted when the job is stopped. The default is <code>FALSE</code>.</p>",
                        "smithy.api#httpQuery": "clean"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.neptunedata#DeleteMLEndpointOutput": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the cancellation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.neptunedata#DeletePropertygraphStatistics": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "com.amazonaws.neptunedata#DeletePropertygraphStatisticsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.neptunedata#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.neptunedata#BadRequestException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ClientTimeoutException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ConstraintViolationException"
                },
                {
                    "target": "com.amazonaws.neptunedata#IllegalArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MissingParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#PreconditionsFailedException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ReadOnlyViolationException"
                },
                {
                    "target": "com.amazonaws.neptunedata#StatisticsNotAvailableException"
                },
                {
                    "target": "com.amazonaws.neptunedata#TooManyRequestsException"
                },
                {
                    "target": "com.amazonaws.neptunedata#UnsupportedOperationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes statistics for Gremlin and openCypher (property graph) data.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#deletestatistics\">neptune-db:DeleteStatistics</a> IAM action in that cluster.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/propertygraph/statistics"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.neptunedata#DeletePropertygraphStatisticsOutput": {
            "type": "structure",
            "members": {
                "statusCode": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTP response code: 200 if the delete was successful, or 204 if there were no statistics to delete.</p>",
                        "smithy.api#httpResponseCode": {}
                    }
                },
                "status": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The cancel status.</p>"
                    }
                },
                "payload": {
                    "target": "com.amazonaws.neptunedata#DeleteStatisticsValueMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The deletion payload.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.neptunedata#DeleteSparqlStatistics": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "com.amazonaws.neptunedata#DeleteSparqlStatisticsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.neptunedata#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.neptunedata#BadRequestException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ClientTimeoutException"
                },
                {
                    "target": "com.amazonaws.neptunedata#ConstraintViolationException"
                },
                {
                    "target": "com.amazonaws.neptunedata#IllegalArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidArgumentException"
                },
                {
                    "target": "com.amazonaws.neptunedata#InvalidParameterException"
                },
                {
                    "target": "com.amazonaws.neptunedata#MissingParameterException"
[...]
