{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.networksecuritymanager#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient permissions to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.networksecuritymanager#AccountFilter": {
            "type": "union",
            "members": {
                "includeAll": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>Includes all accounts. No account filtering is applied.</p>"
                    }
                },
                "include": {
                    "target": "com.amazonaws.networksecuritymanager#AccountSet",
                    "traits": {
                        "smithy.api#documentation": "<p>Includes only the specified accounts and organizational units.</p>"
                    }
                },
                "exclude": {
                    "target": "com.amazonaws.networksecuritymanager#AccountSet",
                    "traits": {
                        "smithy.api#documentation": "<p>Excludes the specified accounts and organizational units. All others are in scope.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Determines which accounts are in scope. Exactly one of <code>includeAll</code>, <code>include</code>, or <code>exclude</code> is set.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "^(?:[0-9]{12})$"
            }
        },
        "com.amazonaws.networksecuritymanager#AccountIdList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.networksecuritymanager#AccountId"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 1000
                }
            }
        },
        "com.amazonaws.networksecuritymanager#AccountList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.networksecuritymanager#AccountId"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 1000
                }
            }
        },
        "com.amazonaws.networksecuritymanager#AccountReference": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.networksecuritymanager#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS account ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.networksecuritymanager#SensitiveAccountName",
                    "traits": {
                        "smithy.api#documentation": "<p>The display name of the account.</p>"
                    }
                },
                "email": {
                    "target": "com.amazonaws.networksecuritymanager#SensitiveAccountEmail",
                    "traits": {
                        "smithy.api#documentation": "<p>The email address associated with the account.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A reference to an AWS account, with optional display metadata.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#AccountReferenceList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.networksecuritymanager#AccountReference"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 1000
                }
            }
        },
        "com.amazonaws.networksecuritymanager#AccountSet": {
            "type": "structure",
            "members": {
                "accountIds": {
                    "target": "com.amazonaws.networksecuritymanager#AccountList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of AWS account IDs.</p>"
                    }
                },
                "organizationalUnits": {
                    "target": "com.amazonaws.networksecuritymanager#OrganizationalUnitList",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS Organizations organizational units (OUs) in the selection.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A set of AWS accounts and organizational units.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#AdminAccountDetails": {
            "type": "structure",
            "members": {
                "adminAccount": {
                    "target": "com.amazonaws.networksecuritymanager#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS account ID of the administrator account.</p>",
                        "smithy.api#required": {}
                    }
                },
                "priority": {
                    "target": "com.amazonaws.networksecuritymanager#AdminPriority",
                    "traits": {
                        "smithy.api#documentation": "<p>The priority assigned to the administrator account.</p>",
                        "smithy.api#required": {}
                    }
                },
                "adminScope": {
                    "target": "com.amazonaws.networksecuritymanager#AdminScope",
                    "traits": {
                        "smithy.api#documentation": "<p>The administrative scope, which defines the accounts, organizational units, and firewall types that the administrator can manage.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.networksecuritymanager#AdminAccountStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the administrator account, either <code>ONBOARDED</code> or <code>OFFBOARDED</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The details of an AWS Network Security Manager administrator account.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#AdminAccountStatus": {
            "type": "enum",
            "members": {
                "ONBOARDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ONBOARDED"
                    }
                },
                "OFFBOARDED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OFFBOARDED"
                    }
                }
            }
        },
        "com.amazonaws.networksecuritymanager#AdminAccountSummary": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.networksecuritymanager#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS account ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "priority": {
                    "target": "com.amazonaws.networksecuritymanager#AdminPriority",
                    "traits": {
                        "smithy.api#documentation": "<p>The priority assigned to the administrator account.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.networksecuritymanager#SensitiveName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the administrator account.</p>"
                    }
                },
                "email": {
                    "target": "com.amazonaws.networksecuritymanager#SensitiveEmail",
                    "traits": {
                        "smithy.api#documentation": "<p>The email address associated with the account.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary information about an AWS Network Security Manager administrator account.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#AdminAccountSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.networksecuritymanager#AdminAccountSummary"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 100
                }
            }
        },
        "com.amazonaws.networksecuritymanager#AdminFirewallTypeScope": {
            "type": "structure",
            "members": {
                "allFirewallTypesEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the administrator can manage all firewall types, except for third-party firewall types.</p>"
                    }
                },
                "firewallTypes": {
                    "target": "com.amazonaws.networksecuritymanager#FirewallTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of firewall types that the administrator can manage.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines the firewall types that an administrator can create and manage.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#AdminPriority": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.networksecuritymanager#AdminScope": {
            "type": "structure",
            "members": {
                "scopeFilter": {
                    "target": "com.amazonaws.networksecuritymanager#AdminScopeFilter",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter that determines which accounts and organizational units are in the administrator's scope.</p>"
                    }
                },
                "firewallTypeScope": {
                    "target": "com.amazonaws.networksecuritymanager#AdminFirewallTypeScope",
                    "traits": {
                        "smithy.api#documentation": "<p>The firewall types that the administrator can create and manage.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines the accounts, organizational units, and firewall types that an administrator can manage.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#AdminScopeFilter": {
            "type": "union",
            "members": {
                "includeAll": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>All accounts and organizational units are in scope.</p>"
                    }
                },
                "includeOnly": {
                    "target": "com.amazonaws.networksecuritymanager#AdminScopeSelection",
                    "traits": {
                        "smithy.api#documentation": "<p>Only the specified accounts and organizational units are in the administrator's scope.</p>"
                    }
                },
                "excludeOnly": {
                    "target": "com.amazonaws.networksecuritymanager#AdminScopeSelection",
                    "traits": {
                        "smithy.api#documentation": "<p>The accounts and organizational units to exclude from the administrator's scope. All others are in scope.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Determines which accounts and organizational units are in an administrator's scope. This is the reference form, which includes display metadata.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#AdminScopeFilterInput": {
            "type": "union",
            "members": {
                "includeAll": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>All accounts and organizational units are in scope.</p>"
                    }
                },
                "includeOnly": {
                    "target": "com.amazonaws.networksecuritymanager#AdminScopeSelectionInput",
                    "traits": {
                        "smithy.api#documentation": "<p>Only the specified accounts and organizational units are in the administrator's scope.</p>"
                    }
                },
                "excludeOnly": {
                    "target": "com.amazonaws.networksecuritymanager#AdminScopeSelectionInput",
                    "traits": {
                        "smithy.api#documentation": "<p>The accounts and organizational units to exclude from the administrator's scope. All others are in scope.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Determines which accounts and organizational units are in an administrator's scope. This is the input form, which uses account and organizational unit IDs.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#AdminScopeInput": {
            "type": "structure",
            "members": {
                "scopeFilter": {
                    "target": "com.amazonaws.networksecuritymanager#AdminScopeFilterInput",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter that determines which accounts and organizational units are in the administrator's scope.</p>"
                    }
                },
                "firewallTypeScope": {
                    "target": "com.amazonaws.networksecuritymanager#AdminFirewallTypeScope",
                    "traits": {
                        "smithy.api#documentation": "<p>The firewall types that the administrator can create and manage.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The administrative scope configuration provided on input, using account and organizational unit IDs.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#AdminScopeSelection": {
            "type": "structure",
            "members": {
                "accounts": {
                    "target": "com.amazonaws.networksecuritymanager#AccountReferenceList",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS accounts in the selection.</p>"
                    }
                },
                "organizationalUnits": {
                    "target": "com.amazonaws.networksecuritymanager#OrganizationalUnitReferenceList",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS Organizations organizational units (OUs) in the selection.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A selection of accounts and organizational units. This is the reference form, which includes display metadata.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#AdminScopeSelectionInput": {
            "type": "structure",
            "members": {
                "accounts": {
                    "target": "com.amazonaws.networksecuritymanager#AccountIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS accounts in the selection.</p>"
                    }
                },
                "organizationalUnits": {
                    "target": "com.amazonaws.networksecuritymanager#OrganizationalUnitIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS Organizations organizational units (OUs) in the selection.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A selection of accounts and organizational units. This is the input form, which uses account and organizational unit IDs.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#AlbConfiguration": {
            "type": "structure",
            "members": {
                "scheme": {
                    "target": "com.amazonaws.networksecuritymanager#Scheme",
                    "traits": {
                        "smithy.api#documentation": "<p>The scheme of the Application Load Balancer, either <code>internet-facing</code> or <code>internal</code>.</p>"
                    }
                },
                "ipAddressType": {
                    "target": "com.amazonaws.networksecuritymanager#IpAddressType",
                    "traits": {
                        "smithy.api#documentation": "<p>The IP address type of the Application Load Balancer.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Filter criteria specific to Application Load Balancers.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 1010
                },
                "smithy.api#pattern": "^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:(.+)$"
            }
        },
        "com.amazonaws.networksecuritymanager#AssociatedPolicy": {
            "type": "structure",
            "members": {
                "policyArn": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the associated policy, including its version qualifier when a specific published version is pinned (for example, <code>...:policy:abc123:3</code>).</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An association between a deployment and a policy, as returned in outputs. The corresponding request structure is <code>PolicyReference</code>.</p>",
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.networksecuritymanager#Policy",
                        "ids": {
                            "policyIdentifier": "policyArn"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.networksecuritymanager#AssociatedPolicyList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.networksecuritymanager#AssociatedPolicy"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2
                }
            }
        },
        "com.amazonaws.networksecuritymanager#AssociatedRule": {
            "type": "structure",
            "members": {
                "ruleArn": {
                    "target": "com.amazonaws.networksecuritymanager#RuleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the associated rule.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An association between a template and a rule, as returned in outputs. The corresponding request structure is <code>RuleReference</code>.</p>",
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.networksecuritymanager#Rule",
                        "ids": {
                            "ruleIdentifier": "ruleArn"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.networksecuritymanager#AssociatedRuleList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.networksecuritymanager#AssociatedRule"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                }
            }
        },
        "com.amazonaws.networksecuritymanager#AssociatedScope": {
            "type": "structure",
            "members": {
                "scopeArn": {
                    "target": "com.amazonaws.networksecuritymanager#ScopeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the associated scope.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An association between a deployment and a scope, as returned in outputs. The corresponding request structure is <code>ScopeReference</code>.</p>",
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.networksecuritymanager#Scope",
                        "ids": {
                            "scopeIdentifier": "scopeArn"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.networksecuritymanager#AssociatedScopeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.networksecuritymanager#AssociatedScope"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1
                }
            }
        },
        "com.amazonaws.networksecuritymanager#AssociatedTemplateAndRuleList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.networksecuritymanager#AssociatedTemplateOrRule"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 100
                }
            }
        },
        "com.amazonaws.networksecuritymanager#AssociatedTemplateOrRule": {
            "type": "union",
            "members": {
                "templateArn": {
                    "target": "com.amazonaws.networksecuritymanager#TemplateArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the associated template.</p>"
                    }
                },
                "ruleArn": {
                    "target": "com.amazonaws.networksecuritymanager#RuleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the associated rule.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An association between a policy and either a template or a rule, as returned in outputs. Exactly one of <code>templateArn</code> or <code>ruleArn</code> is set. The corresponding request structure is <code>TemplateOrRuleReference</code>.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#ConfigurationIssue": {
            "type": "structure",
            "members": {
                "configurationName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the configuration setting that is in conflict.</p>"
                    }
                },
                "expectedValue": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration value that AWS Network Security Manager expected.</p>"
                    }
                },
                "actualValue": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration value that was found on the resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a single configuration value that does not match the intended configuration.</p>"
            }
        },
        "com.amazonaws.networksecuritymanager#ConfigurationIssueList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.networksecuritymanager#ConfigurationIssue"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 100
                }
            }
        },
        "com.amazonaws.networksecuritymanager#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "resourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the resource that is in conflict with the request.</p>"
                    }
                },
                "resourceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the resource that is in conflict with the request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request conflicts with the current state of the resource. For example, the resource was modified concurrently, or it is in a state that does not allow the requested operation.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.networksecuritymanager#CreateDeployment": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.networksecuritymanager#CreateDeploymentInput"
            },
            "output": {
                "target": "com.amazonaws.networksecuritymanager#CreateDeploymentOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.networksecuritymanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#TagPolicyViolationException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create a deployment",
                    "resources": {
                        "required": {
                            "policy": {},
                            "policy-snapshot": {},
                            "scope": {},
                            "scope-snapshot": {}
                        }
                    }
                },
                "smithy.api#documentation": "<p>Creates a deployment. A deployment applies one or more policies to the accounts and resources selected by a scope. Use <code>isPublished</code> to create the deployment in published (<code>ACTIVE</code>) or draft (<code>DRAFT</code>) state. The response includes coverage information and any warnings about the deployment.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create a deployment",
                        "documentation": "Creates a new deployment in draft state.",
                        "input": {
                            "clientToken": "550e8400-e29b-41d4-a716-446655440003",
                            "deploymentName": "prod-us-east-1-deployment",
                            "deploymentDescription": "Production deployment for US East 1 region",
                            "associatedPolicyList": [
                                {
                                    "policyIdentifier": "arn:aws:network-security-manager:us-east-1:123456789012:policy:xyz789"
                                }
                            ],
                            "associatedScopeList": [
                                {
                                    "scopeIdentifier": "arn:aws:network-security-manager:us-east-1:123456789012:scope:abc123"
                                }
                            ],
                            "deploymentConfiguration": {
                                "enableCrossAccountVisibility": false
                            },
                            "isPublished": false
                        },
                        "output": {
                            "deploymentId": "def456",
                            "deploymentArn": "arn:aws:network-security-manager:us-east-1:123456789012:deployment:def456",
                            "deploymentName": "prod-us-east-1-deployment",
                            "deploymentDescription": "Production deployment for US East 1 region",
                            "status": "DRAFT",
                            "deploymentConfiguration": {
                                "enableCrossAccountVisibility": false
                            },
                            "associatedPolicyList": [
                                {
                                    "policyArn": "arn:aws:network-security-manager:us-east-1:123456789012:policy:xyz789"
                                }
                            ],
                            "associatedScopeList": [
                                {
                                    "scopeArn": "arn:aws:network-security-manager:us-east-1:123456789012:scope:abc123"
                                }
                            ],
                            "version": "1",
                            "updateToken": "f4a5b6c7-7d8e-4f9a-8b1c-1d2e3f4a5b6c",
                            "isSnapshot": false,
                            "hasPublishedVersion": false
                        }
                    }
                ],
                "smithy.api#http": {
                    "uri": "/deployments",
                    "method": "POST",
                    "code": 201
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.networksecuritymanager#CreateDeploymentInput": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.networksecuritymanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "deploymentName": {
                    "target": "com.amazonaws.networksecuritymanager#DeploymentName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the deployment.</p>",
                        "smithy.api#required": {}
                    }
                },
                "deploymentDescription": {
                    "target": "com.amazonaws.networksecuritymanager#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the deployment.</p>"
                    }
                },
                "deploymentConfiguration": {
                    "target": "com.amazonaws.networksecuritymanager#DeploymentConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration settings for the deployment.</p>",
                        "smithy.api#required": {}
                    }
                },
                "associatedPolicyList": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyReferenceList",
                    "traits": {
                        "smithy.api#documentation": "<p>The policies associated with the deployment.</p>",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "associatedScopeList": {
                    "target": "com.amazonaws.networksecuritymanager#ScopeReferenceList",
                    "traits": {
                        "smithy.api#documentation": "<p>The scope associated with the deployment. A deployment has exactly one scope.</p>",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "isPublished": {
                    "target": "com.amazonaws.networksecuritymanager#IsPublished",
                    "traits": {
                        "smithy.api#default": true,
                        "smithy.api#documentation": "<p>Specifies whether to publish the resource. When <code>true</code>, the resource is saved in published (<code>ACTIVE</code>) state. When <code>false</code>, it is saved as a draft (<code>DRAFT</code>). Default: <code>true</code>.</p>",
                        "smithy.api#notProperty": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.networksecuritymanager#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to add to the resource when it is created.</p>",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.networksecuritymanager#CreateDeploymentOutput": {
            "type": "structure",
            "members": {
                "deploymentId": {
                    "target": "com.amazonaws.networksecuritymanager#DeploymentId",
                    "traits": {
                        "smithy.api#documentation": "<p>The service-generated id of the deployment.</p>",
                        "smithy.api#required": {}
                    }
                },
                "deploymentArn": {
                    "target": "com.amazonaws.networksecuritymanager#DeploymentArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deployment.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "deploymentIdentifier"
                    }
                },
                "deploymentName": {
                    "target": "com.amazonaws.networksecuritymanager#DeploymentName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the deployment.</p>",
                        "smithy.api#required": {}
                    }
                },
                "deploymentDescription": {
                    "target": "com.amazonaws.networksecuritymanager#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the deployment.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.networksecuritymanager#EntityStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>",
                        "smithy.api#required": {}
                    }
                },
                "deploymentConfiguration": {
                    "target": "com.amazonaws.networksecuritymanager#DeploymentConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration settings for the deployment.</p>"
                    }
                },
                "associatedPolicyList": {
                    "target": "com.amazonaws.networksecuritymanager#AssociatedPolicyList",
                    "traits": {
                        "smithy.api#documentation": "<p>The policies associated with the deployment.</p>",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "associatedScopeList": {
                    "target": "com.amazonaws.networksecuritymanager#AssociatedScopeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The scope associated with the deployment. A deployment has exactly one scope.</p>",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "version": {
                    "target": "com.amazonaws.networksecuritymanager#EntityVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updateToken": {
                    "target": "com.amazonaws.networksecuritymanager#UpdateToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
                    }
                },
                "isSnapshot": {
                    "target": "com.amazonaws.networksecuritymanager#IsSnapshot",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the resource is a snapshot of a published version.</p>"
                    }
                },
                "hasPublishedVersion": {
                    "target": "com.amazonaws.networksecuritymanager#HasPublishedVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether a published version of the resource exists.</p>"
                    }
                },
                "deploymentCoverage": {
                    "target": "com.amazonaws.networksecuritymanager#DeploymentCoverageList",
                    "traits": {
                        "smithy.api#documentation": "<p>The coverage information for the deployment. For each firewall type, it shows which policies have that firewall type and which in-scope resource types the firewall type protects.</p>",
                        "smithy.api#notProperty": {}
                    }
                },
                "warnings": {
                    "target": "com.amazonaws.networksecuritymanager#DeploymentWarningList",
                    "traits": {
                        "smithy.api#documentation": "<p>Warnings about potential issues, such as a policy that has no applicable resources in the deployment's scope.</p>",
                        "smithy.api#notProperty": {}
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.networksecuritymanager#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the resource was last updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.networksecuritymanager#CreateDeploymentSnapshot": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.networksecuritymanager#CreateDeploymentSnapshotInput"
            },
            "output": {
                "target": "com.amazonaws.networksecuritymanager#CreateDeploymentSnapshotOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.networksecuritymanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create a snapshot of a deployment",
                    "resources": {
                        "required": {
                            "deployment": {}
                        }
                    },
                    "createsResources": [
                        "deployment-snapshot"
                    ]
                },
                "smithy.api#documentation": "<p>Creates a snapshot of the current published version of the specified deployment.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create a deployment snapshot",
                        "documentation": "Creates an immutable snapshot of the current published version of a deployment. The snapshot is addressable by a version-qualified ARN.",
                        "input": {
                            "deploymentIdentifier": "arn:aws:network-security-manager:us-east-1:123456789012:deployment:def456",
                            "clientToken": "550e8400-e29b-41d4-a716-446655440014"
                        },
                        "output": {
                            "deploymentId": "def456",
                            "deploymentArn": "arn:aws:network-security-manager:us-east-1:123456789012:deployment:def456:2",
                            "deploymentName": "prod-us-east-1-deployment",
                            "status": "ACTIVE",
                            "deploymentConfiguration": {
                                "enableCrossAccountVisibility": true
                            },
                            "associatedPolicyList": [
                                {
                                    "policyArn": "arn:aws:network-security-manager:us-east-1:123456789012:policy:xyz789"
                                }
                            ],
                            "associatedScopeList": [
                                {
                                    "scopeArn": "arn:aws:network-security-manager:us-east-1:123456789012:scope:abc123"
                                }
                            ],
                            "version": "2",
                            "isSnapshot": true,
                            "updatedAt": "2026-08-20T12:00:00Z"
                        }
                    }
                ],
                "smithy.api#http": {
                    "uri": "/deployments/{deploymentIdentifier}/snapshots",
                    "method": "POST",
                    "code": 201
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.networksecuritymanager#CreateDeploymentSnapshotInput": {
            "type": "structure",
            "members": {
                "deploymentIdentifier": {
                    "target": "com.amazonaws.networksecuritymanager#DeploymentIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the deployment. This is the deployment's Amazon Resource Name (ARN).</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.networksecuritymanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.networksecuritymanager#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to add to the snapshot when it is created.</p>",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {},
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.networksecuritymanager#Deployment"
                    }
                ]
            }
        },
        "com.amazonaws.networksecuritymanager#CreateDeploymentSnapshotOutput": {
            "type": "structure",
            "members": {
                "deploymentId": {
                    "target": "com.amazonaws.networksecuritymanager#DeploymentId",
                    "traits": {
                        "smithy.api#documentation": "<p>The service-generated id of the deployment.</p>",
                        "smithy.api#required": {}
                    }
                },
                "deploymentArn": {
                    "target": "com.amazonaws.networksecuritymanager#DeploymentArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deployment.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "deploymentIdentifier"
                    }
                },
                "deploymentName": {
                    "target": "com.amazonaws.networksecuritymanager#DeploymentName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the deployment.</p>",
                        "smithy.api#required": {}
                    }
                },
                "deploymentDescription": {
                    "target": "com.amazonaws.networksecuritymanager#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the deployment.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.networksecuritymanager#EntityStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>",
                        "smithy.api#required": {}
                    }
                },
                "deploymentConfiguration": {
                    "target": "com.amazonaws.networksecuritymanager#DeploymentConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration settings for the deployment.</p>"
                    }
                },
                "associatedPolicyList": {
                    "target": "com.amazonaws.networksecuritymanager#AssociatedPolicyList",
                    "traits": {
                        "smithy.api#documentation": "<p>The policies associated with the deployment.</p>",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "associatedScopeList": {
                    "target": "com.amazonaws.networksecuritymanager#AssociatedScopeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The scope associated with the deployment. A deployment has exactly one scope.</p>",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "version": {
                    "target": "com.amazonaws.networksecuritymanager#EntityVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updateToken": {
                    "target": "com.amazonaws.networksecuritymanager#UpdateToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
                    }
                },
                "isSnapshot": {
                    "target": "com.amazonaws.networksecuritymanager#IsSnapshot",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the resource is a snapshot of a published version.</p>"
                    }
                },
                "hasPublishedVersion": {
                    "target": "com.amazonaws.networksecuritymanager#HasPublishedVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether a published version of the resource exists.</p>"
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.networksecuritymanager#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the snapshot was created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.networksecuritymanager#CreatePolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.networksecuritymanager#CreatePolicyInput"
            },
            "output": {
                "target": "com.amazonaws.networksecuritymanager#CreatePolicyOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.networksecuritymanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#TagPolicyViolationException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create a policy",
                    "resources": {
                        "optional": {
                            "rule": {},
                            "rule-snapshot": {},
                            "template": {},
                            "template-snapshot": {}
                        }
                    }
                },
                "smithy.api#documentation": "<p>Creates a policy. A policy combines templates and rules with enforcement settings for a firewall type, such as AWS WAF or AWS Shield Advanced. Use <code>isPublished</code> to create the policy in published (<code>ACTIVE</code>) or draft (<code>DRAFT</code>) state.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create a WAF policy",
                        "documentation": "Creates a new WAF policy in draft state with a template association.",
                        "input": {
                            "clientToken": "550e8400-e29b-41d4-a716-446655440002",
                            "policyName": "web-app-waf-policy",
                            "policyDescription": "WAF policy for web application protection",
                            "firewallType": "WAF",
                            "priority": 1,
                            "associatedTemplateAndRuleList": [
                                {
                                    "templateIdentifier": "arn:aws:network-security-manager:us-east-1:123456789012:template:xyz789"
                                }
                            ],
                            "policyConfiguration": {
                                "remediationEnabled": false,
                                "resourcesCleanUp": false,
                                "wafConfig": {
                                    "existingCustomerWebACLResolution": "NO_REMEDIATION",
                                    "conflictResolution": "MERGE_WHERE_APPLICABLE"
                                }
                            },
                            "isPublished": false
                        },
                        "output": {
                            "policyId": "xyz789",
                            "policyArn": "arn:aws:network-security-manager:us-east-1:123456789012:policy:xyz789",
                            "policyName": "web-app-waf-policy",
                            "policyDescription": "WAF policy for web application protection",
                            "status": "DRAFT",
                            "priority": 1,
                            "associatedTemplateAndRuleList": [
                                {
                                    "templateArn": "arn:aws:network-security-manager:us-east-1:123456789012:template:xyz789"
                                }
                            ],
                            "version": "1",
                            "updateToken": "e3f4a5b6-6c7d-4e8f-9a0b-0c1d2e3f4a5b",
                            "isSnapshot": false,
                            "hasPublishedVersion": false,
                            "firewallType": "WAF",
                            "policyConfiguration": {
                                "remediationEnabled": false,
                                "resourcesCleanUp": false,
                                "wafConfig": {
                                    "existingCustomerWebACLResolution": "NO_REMEDIATION",
                                    "conflictResolution": "MERGE_WHERE_APPLICABLE"
                                }
                            }
                        }
                    }
                ],
                "smithy.api#http": {
                    "uri": "/policies",
                    "method": "POST",
                    "code": 201
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.networksecuritymanager#CreatePolicyInput": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.networksecuritymanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "policyName": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "policyDescription": {
                    "target": "com.amazonaws.networksecuritymanager#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the policy.</p>"
                    }
                },
                "priority": {
                    "target": "com.amazonaws.networksecuritymanager#Priority",
                    "traits": {
                        "smithy.api#documentation": "<p>The priority of the resource. A lower number indicates a higher priority.</p>",
                        "smithy.api#required": {}
                    }
                },
                "associatedTemplateAndRuleList": {
                    "target": "com.amazonaws.networksecuritymanager#TemplateAndRuleReferenceList",
                    "traits": {
                        "smithy.api#documentation": "<p>The templates and rules to associate with the policy. For AWS WAF policies, specify 1 to 100 templates or rules, of which at most 2 can be templates. For AWS Shield Advanced policies, this list must be empty.</p>",
                        "smithy.api#notProperty": {}
                    }
                },
                "firewallType": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyFirewallType",
                    "traits": {
                        "smithy.api#documentation": "<p>The firewall type associated with the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "policyConfiguration": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration settings that control the policy's behavior, including remediation and firewall-type-specific settings.</p>",
                        "smithy.api#required": {}
                    }
                },
                "isPublished": {
                    "target": "com.amazonaws.networksecuritymanager#IsPublished",
                    "traits": {
                        "smithy.api#default": true,
                        "smithy.api#documentation": "<p>Specifies whether to publish the resource. When <code>true</code>, the resource is saved in published (<code>ACTIVE</code>) state. When <code>false</code>, it is saved as a draft (<code>DRAFT</code>). Default: <code>true</code>.</p>",
                        "smithy.api#notProperty": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.networksecuritymanager#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to add to the resource when it is created.</p>",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.networksecuritymanager#CreatePolicyOutput": {
            "type": "structure",
            "members": {
                "policyId": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The service-generated id of the policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "policyArn": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the policy.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "policyIdentifier"
                    }
                },
                "policyName": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "policyDescription": {
                    "target": "com.amazonaws.networksecuritymanager#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the policy.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.networksecuritymanager#EntityStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>",
                        "smithy.api#required": {}
                    }
                },
                "priority": {
                    "target": "com.amazonaws.networksecuritymanager#Priority",
                    "traits": {
                        "smithy.api#documentation": "<p>The priority of the resource. A lower number indicates a higher priority.</p>",
                        "smithy.api#required": {}
                    }
                },
                "associatedTemplateAndRuleList": {
                    "target": "com.amazonaws.networksecuritymanager#AssociatedTemplateAndRuleList",
                    "traits": {
                        "smithy.api#documentation": "<p>The templates and rules associated with the policy. For AWS WAF policies, this list contains 1 to 100 templates or rules, of which at most 2 can be templates. For AWS Shield Advanced policies, this list is empty.</p>",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "version": {
                    "target": "com.amazonaws.networksecuritymanager#EntityVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updateToken": {
                    "target": "com.amazonaws.networksecuritymanager#UpdateToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
                    }
                },
                "isSnapshot": {
                    "target": "com.amazonaws.networksecuritymanager#IsSnapshot",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the resource is a snapshot of a published version.</p>"
                    }
                },
                "hasPublishedVersion": {
                    "target": "com.amazonaws.networksecuritymanager#HasPublishedVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether a published version of the resource exists.</p>"
                    }
                },
                "firewallType": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyFirewallType",
                    "traits": {
                        "smithy.api#documentation": "<p>The firewall type associated with the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "policyConfiguration": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration settings that control the policy's behavior, including remediation and firewall-type-specific settings.</p>"
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.networksecuritymanager#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the resource was last updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.networksecuritymanager#CreatePolicySnapshot": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.networksecuritymanager#CreatePolicySnapshotInput"
            },
            "output": {
                "target": "com.amazonaws.networksecuritymanager#CreatePolicySnapshotOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.networksecuritymanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create a snapshot of a policy",
                    "resources": {
                        "required": {
                            "policy": {}
                        }
                    },
                    "createsResources": [
                        "policy-snapshot"
                    ]
                },
                "smithy.api#documentation": "<p>Creates a snapshot of the current published version of the specified policy.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create a policy snapshot",
                        "documentation": "Creates an immutable snapshot of the current published version of a policy. The snapshot is addressable by a version-qualified ARN.",
                        "input": {
                            "policyIdentifier": "arn:aws:network-security-manager:us-east-1:123456789012:policy:xyz789",
                            "clientToken": "550e8400-e29b-41d4-a716-446655440013"
                        },
                        "output": {
                            "policyId": "xyz789",
                            "policyArn": "arn:aws:network-security-manager:us-east-1:123456789012:policy:xyz789:2",
                            "policyName": "web-app-waf-policy",
                            "status": "ACTIVE",
                            "priority": 2,
                            "associatedTemplateAndRuleList": [
                                {
                                    "templateArn": "arn:aws:network-security-manager:us-east-1:123456789012:template:xyz789"
                                }
                            ],
                            "version": "2",
                            "isSnapshot": true,
                            "firewallType": "WAF",
                            "policyConfiguration": {
                                "remediationEnabled": true,
                                "resourcesCleanUp": false,
                                "wafConfig": {
                                    "existingCustomerWebACLResolution": "NO_REMEDIATION",
                                    "conflictResolution": "MERGE_WHERE_APPLICABLE"
                                }
                            },
                            "updatedAt": "2026-08-20T12:00:00Z"
                        }
                    }
                ],
                "smithy.api#http": {
                    "uri": "/policies/{policyIdentifier}/snapshots",
                    "method": "POST",
                    "code": 201
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.networksecuritymanager#CreatePolicySnapshotInput": {
            "type": "structure",
            "members": {
                "policyIdentifier": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the policy. This is the policy's Amazon Resource Name (ARN).</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.networksecuritymanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.networksecuritymanager#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to add to the snapshot when it is created.</p>",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {},
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.networksecuritymanager#Policy"
                    }
                ]
            }
        },
        "com.amazonaws.networksecuritymanager#CreatePolicySnapshotOutput": {
            "type": "structure",
            "members": {
                "policyId": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The service-generated id of the policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "policyArn": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the policy.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "policyIdentifier"
                    }
                },
                "policyName": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "policyDescription": {
                    "target": "com.amazonaws.networksecuritymanager#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the policy.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.networksecuritymanager#EntityStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>",
                        "smithy.api#required": {}
                    }
                },
                "priority": {
                    "target": "com.amazonaws.networksecuritymanager#Priority",
                    "traits": {
                        "smithy.api#documentation": "<p>The priority of the resource. A lower number indicates a higher priority.</p>",
                        "smithy.api#required": {}
                    }
                },
                "associatedTemplateAndRuleList": {
                    "target": "com.amazonaws.networksecuritymanager#AssociatedTemplateAndRuleList",
                    "traits": {
                        "smithy.api#documentation": "<p>The templates and rules associated with the policy. For AWS WAF policies, this list contains 1 to 100 templates or rules, of which at most 2 can be templates. For AWS Shield Advanced policies, this list is empty.</p>",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "version": {
                    "target": "com.amazonaws.networksecuritymanager#EntityVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updateToken": {
                    "target": "com.amazonaws.networksecuritymanager#UpdateToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
                    }
                },
                "isSnapshot": {
                    "target": "com.amazonaws.networksecuritymanager#IsSnapshot",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the resource is a snapshot of a published version.</p>"
                    }
                },
                "hasPublishedVersion": {
                    "target": "com.amazonaws.networksecuritymanager#HasPublishedVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether a published version of the resource exists.</p>"
                    }
                },
                "firewallType": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyFirewallType",
                    "traits": {
                        "smithy.api#documentation": "<p>The firewall type associated with the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "policyConfiguration": {
                    "target": "com.amazonaws.networksecuritymanager#PolicyConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration settings that control the policy's behavior, including remediation and firewall-type-specific settings.</p>"
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.networksecuritymanager#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the snapshot was created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.networksecuritymanager#CreateRule": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.networksecuritymanager#CreateRuleInput"
            },
            "output": {
                "target": "com.amazonaws.networksecuritymanager#CreateRuleOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.networksecuritymanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#TagPolicyViolationException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create a rule",
                    "resources": {}
                },
                "smithy.api#documentation": "<p>Creates a rule. A rule defines a network security configuration to enforce, such as an AWS WAF rule group or configuration data. Use <code>isPublished</code> to create the rule in published (<code>ACTIVE</code>) or draft (<code>DRAFT</code>) state.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create a WAF rule",
                        "documentation": "Creates a new WAF inspection rule in draft state.",
                        "input": {
                            "clientToken": "550e8400-e29b-41d4-a716-446655440000",
                            "ruleName": "block-known-bad-ips",
                            "firewallType": "WAF",
                            "ruleType": "INSPECTION",
                            "ruleDescription": "Blocks requests from known malicious IP addresses",
                            "configuration": {},
                            "isPublished": false
                        },
                        "output": {
                            "ruleId": "abc123",
                            "ruleArn": "arn:aws:network-security-manager:us-east-1:123456789012:rule:abc123",
                            "ruleName": "block-known-bad-ips",
                            "firewallType": "WAF",
                            "ruleType": "INSPECTION",
                            "ruleDescription": "Blocks requests from known malicious IP addresses",
                            "configuration": {},
                            "status": "DRAFT",
                            "version": "1",
                            "updateToken": "c1d2e3f4-4a5b-4c6d-9e7f-8a9b0c1d2e3f",
                            "isSnapshot": false,
                            "hasPublishedVersion": false
                        }
                    }
                ],
                "smithy.api#http": {
                    "uri": "/rules",
                    "method": "POST",
                    "code": 201
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.networksecuritymanager#CreateRuleInput": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.networksecuritymanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "ruleName": {
                    "target": "com.amazonaws.networksecuritymanager#RuleName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the rule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "firewallType": {
                    "target": "com.amazonaws.networksecuritymanager#RuleFirewallType",
                    "traits": {
                        "smithy.api#documentation": "<p>The firewall type associated with the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ruleType": {
                    "target": "com.amazonaws.networksecuritymanager#RuleType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the rule. <code>CONFIGURATION</code> rules contain firewall settings, and <code>INSPECTION</code> rules contain rule groups.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ruleDescription": {
                    "target": "com.amazonaws.networksecuritymanager#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the rule.</p>"
                    }
                },
                "configuration": {
                    "target": "com.amazonaws.networksecuritymanager#JsonDocument",
                    "traits": {
                        "smithy.api#documentation": "<p>The firewall configuration for the rule, as a JSON document. The structure depends on the rule's firewall type and rule type. For an AWS WAF <code>INSPECTION</code> rule, provide an AWS WAF rule group. For an AWS WAF <code>CONFIGURATION</code> rule, provide a single web ACL setting, such as <code>DefaultAction</code> or <code>VisibilityConfig</code>; use <code>wafConfigDataType</code> to declare which setting the document contains. For the schema of each setting and complete examples, see <a href=\"https://docs.aws.amazon.com/network-security-manager/latest/devguide/what-is.html\">Writing rule configurations</a> in the <i>AWS Network Security Manager Developer Guide</i>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "isPublished": {
                    "target": "com.amazonaws.networksecuritymanager#IsPublished",
                    "traits": {
                        "smithy.api#default": true,
                        "smithy.api#documentation": "<p>Specifies whether to publish the resource. When <code>true</code>, the resource is saved in published (<code>ACTIVE</code>) state. When <code>false</code>, it is saved as a draft (<code>DRAFT</code>). Default: <code>true</code>.</p>",
                        "smithy.api#notProperty": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.networksecuritymanager#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to add to the resource when it is created.</p>",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.networksecuritymanager#CreateRuleOutput": {
            "type": "structure",
            "members": {
                "ruleId": {
                    "target": "com.amazonaws.networksecuritymanager#RuleId",
                    "traits": {
                        "smithy.api#documentation": "<p>The service-generated id of the rule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ruleArn": {
                    "target": "com.amazonaws.networksecuritymanager#RuleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rule.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "ruleIdentifier"
                    }
                },
                "ruleName": {
                    "target": "com.amazonaws.networksecuritymanager#RuleName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the rule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "firewallType": {
                    "target": "com.amazonaws.networksecuritymanager#RuleFirewallType",
                    "traits": {
                        "smithy.api#documentation": "<p>The firewall type associated with the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ruleType": {
                    "target": "com.amazonaws.networksecuritymanager#RuleType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the rule. <code>CONFIGURATION</code> rules contain firewall settings, and <code>INSPECTION</code> rules contain rule groups.</p>"
                    }
                },
                "ruleDescription": {
                    "target": "com.amazonaws.networksecuritymanager#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the rule.</p>"
                    }
                },
                "configuration": {
                    "target": "com.amazonaws.networksecuritymanager#JsonDocument",
                    "traits": {
                        "smithy.api#documentation": "<p>The firewall configuration for the rule, as a JSON document. The structure depends on the rule's firewall type and rule type.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.networksecuritymanager#EntityStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>",
                        "smithy.api#required": {}
                    }
                },
                "version": {
                    "target": "com.amazonaws.networksecuritymanager#EntityVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updateToken": {
                    "target": "com.amazonaws.networksecuritymanager#UpdateToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
                    }
                },
                "isSnapshot": {
                    "target": "com.amazonaws.networksecuritymanager#IsSnapshot",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the resource is a snapshot of a published version.</p>"
                    }
                },
                "hasPublishedVersion": {
                    "target": "com.amazonaws.networksecuritymanager#HasPublishedVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether a published version of the resource exists.</p>"
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.networksecuritymanager#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the resource was last updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.networksecuritymanager#CreateRuleSnapshot": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.networksecuritymanager#CreateRuleSnapshotInput"
            },
            "output": {
                "target": "com.amazonaws.networksecuritymanager#CreateRuleSnapshotOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.networksecuritymanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.networksecuritymanager#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create a snapshot of a rule",
                    "resources": {
                        "required": {
                            "rule": {}
                        }
                    },
                    "createsResources": [
                        "rule-snapshot"
                    ]
                },
                "smithy.api#documentation": "<p>Creates a snapshot of the current published version of the specified rule. A snapshot is an immutable, versioned copy that other resources can reference.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Create a rule snapshot",
                        "documentation": "Creates an immutable snapshot of the current published version of a rule. The snapshot is addressable by a version-qualified ARN.",
                        "input": {
                            "ruleIdentifier": "arn:aws:network-security-manager:us-east-1:123456789012:rule:abc123",
                            "clientToken": "550e8400-e29b-41d4-a716-446655440011"
                        },
                        "output": {
                            "ruleId": "abc123",
                            "ruleArn": "arn:aws:network-security-manager:us-east-1:123456789012:rule:abc123:2",
                            "ruleName": "block-known-bad-ips",
                            "firewallType": "WAF",
                            "ruleType": "INSPECTION",
                            "configuration": {},
                            "status": "ACTIVE",
                            "version": "2",
                            "isSnapshot": true,
                            "updatedAt": "2026-08-20T12:00:00Z"
                        }
                    }
                ],
                "smithy.api#http": {
                    "uri": "/rules/{ruleIdentifier}/snapshots",
                    "method": "POST",
                    "code": 201
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.networksecuritymanager#CreateRuleSnapshotInput": {
            "type": "structure",
            "members": {
                "ruleIdentifier": {
                    "target": "com.amazonaws.networksecuritymanager#RuleIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the rule. This is the rule's Amazon Resource Name (ARN).</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.networksecuritymanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.networksecuritymanager#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to add to the snapshot when it is created.</p>",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {},
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.networksecuritymanager#Rule"
                    }
                ]
            }
        },
        "com.amazonaws.networksecuritymanager#CreateRuleSnapshotOutput": {
            "type": "structure",
            "members": {
                "ruleId": {
                    "target": "com.amazonaws.networksecuritymanager#RuleId",
                    "traits": {
                        "smithy.api#documentation": "<p>The service-generated id of the rule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ruleArn": {
                    "target": "com.amazonaws.networksecuritymanager#RuleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rule.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "ruleIdentifier"
                    }
                },
                "ruleName": {
                    "target": "com.amazonaws.networksecuritymanager#RuleName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the rule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "firewallType": {
                    "target": "com.amazonaws.networksecuritymanager#RuleFirewallType",
                    "traits": {
                        "smithy.api#documentation": "<p>The firewall type associated with the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ruleType": {
                    "target": "com.amazonaws.networksecuritymanager#RuleType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the rule. <code>CONFIGURATION</code> rules contain firewall settings, and <code>INSPECTION</code> rules contain rule groups.</p>"
                    }
                },
                "ruleDescription": {
                    "target": "com.amazonaws.networksecuritymanager#Description",
                    "traits": {
[...]
