{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.odb#AcceptMarketplaceRegistration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.odb#AcceptMarketplaceRegistrationInput"
            },
            "output": {
                "target": "com.amazonaws.odb#AcceptMarketplaceRegistrationOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.odb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.odb#ConflictException"
                },
                {
                    "target": "com.amazonaws.odb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.odb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.odb#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Registers the Amazon Web Services Marketplace token for your Amazon Web Services account to activate your Oracle Database@Amazon Web Services subscription.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.odb#AcceptMarketplaceRegistrationInput": {
            "type": "structure",
            "members": {
                "marketplaceRegistrationToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The registration token that's generated by Amazon Web Services Marketplace and sent to Oracle Database@Amazon Web Services.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.odb#AcceptMarketplaceRegistrationOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.odb#Access": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.odb#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You don't have sufficient access to perform this action. Make sure you have the required permissions and try again.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.odb#AdminPasswordSource": {
            "type": "enum",
            "members": {
                "CUSTOMER_MANAGED_AWS_SECRET": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CUSTOMER_MANAGED_AWS_SECRET"
                    }
                },
                "API_REQUEST_PARAMETER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "API_REQUEST_PARAMETER"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The source of the admin password for an Autonomous Database.</p>"
            }
        },
        "com.amazonaws.odb#AdminPasswordSourceConfiguration": {
            "type": "union",
            "members": {
                "customerManagedAwsSecret": {
                    "target": "com.amazonaws.odb#CustomerManagedAwsSecretConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for a customer-managed Amazon Web Services Secrets Manager secret used as the admin password source.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration of the admin password source. This is a union, so only one of the following members can be specified.</p>"
            }
        },
        "com.amazonaws.odb#AdminPasswordSourceConfigurationInput": {
            "type": "union",
            "members": {
                "customerManagedAwsSecret": {
                    "target": "com.amazonaws.odb#CustomerManagedAwsSecretConfigurationInput",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for using a customer-managed Amazon Web Services Secrets Manager secret as the admin password source.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The input configuration for the admin password source. This is a union, so only one of the following members can be specified.</p>"
            }
        },
        "com.amazonaws.odb#AdminPasswordSourceSummary": {
            "type": "structure",
            "members": {
                "adminPasswordSource": {
                    "target": "com.amazonaws.odb#AdminPasswordSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The source of the admin password for the Autonomous Database.</p>"
                    }
                },
                "adminPasswordSourceConfiguration": {
                    "target": "com.amazonaws.odb#AdminPasswordSourceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration of the admin password source for the Autonomous Database.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of the admin password source configuration for an Autonomous Database.</p>"
            }
        },
        "com.amazonaws.odb#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.odb#AssociateIamRoleToResource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.odb#AssociateIamRoleToResourceInput"
            },
            "output": {
                "target": "com.amazonaws.odb#AssociateIamRoleToResourceOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.odb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.odb#ConflictException"
                },
                {
                    "target": "com.amazonaws.odb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.odb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.odb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.odb#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates an Amazon Web Services Identity and Access Management (IAM) service role with a specified resource to enable Amazon Web Services service integration.</p>"
            }
        },
        "com.amazonaws.odb#AssociateIamRoleToResourceInput": {
            "type": "structure",
            "members": {
                "iamRoleArn": {
                    "target": "com.amazonaws.odb#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Web Services Identity and Access Management (IAM) service role to associate with the resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "awsIntegration": {
                    "target": "com.amazonaws.odb#SupportedAwsIntegration",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services integration configuration settings for the Amazon Web Services Identity and Access Management (IAM) service role association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceArn": {
                    "target": "com.amazonaws.odb#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target resource to associate with the Amazon Web Services Identity and Access Management (IAM) service role.</p>",
                        "smithy.api#pattern": "^arn:(?:aws|aws-cn|aws-us-gov|aws-iso-[a-z]?|aws-iso):odb:[a-z0-9-]+:\\d{12}:(?:cloud-vm-cluster|cloud-autonomous-vm-cluster|exadb-vm-cluster)/[a-z0-9-_]+$",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {},
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.odb#CloudVmClusterResource",
                        "ids": {
                            "cloudVmClusterId": "resourceArn"
                        }
                    },
                    {
                        "resource": "com.amazonaws.odb#CloudAutonomousVmClusterResource",
                        "ids": {
                            "cloudAutonomousVmClusterId": "resourceArn"
                        }
                    },
                    {
                        "resource": "com.amazonaws.odb#ExadbVmClusterResource",
                        "ids": {
                            "exadbVmClusterId": "resourceArn"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.odb#AssociateIamRoleToResourceOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.odb#AutonomousDatabase": {
            "type": "structure",
            "members": {
                "autonomousDatabaseId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Autonomous Database.</p>"
                    }
                },
                "autonomousDatabaseArn": {
                    "target": "com.amazonaws.odb#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Autonomous Database.</p>"
                    }
                },
                "ociResourceAnchorName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Oracle Cloud Infrastructure (OCI) resource anchor associated with the Autonomous Database.</p>"
                    }
                },
                "percentProgress": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The progress of the current operation on the Autonomous Database, as a percentage.</p>"
                    }
                },
                "ocid": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Cloud Identifier (OCID) of the Autonomous Database.</p>"
                    }
                },
                "ociUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing the OCI console page for the Autonomous Database.</p>"
                    }
                },
                "displayName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The user-friendly name of the Autonomous Database.</p>"
                    }
                },
                "dbName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Autonomous Database.</p>"
                    }
                },
                "sourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the source from which the Autonomous Database was created.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.odb#AutonomousDatabaseResourceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the Autonomous Database.</p>"
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the current status of the Autonomous Database, if applicable.</p>"
                    }
                },
                "databaseType": {
                    "target": "com.amazonaws.odb#DatabaseType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the Autonomous Database, either a regular database or a clone.</p>"
                    }
                },
                "dbVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Database software version of the Autonomous Database.</p>"
                    }
                },
                "dbWorkload": {
                    "target": "com.amazonaws.odb#DbWorkload",
                    "traits": {
                        "smithy.api#documentation": "<p>The intended use of the Autonomous Database, such as transaction processing, data warehouse, JSON database, or APEX.</p>"
                    }
                },
                "characterSet": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The character set of the Autonomous Database.</p>"
                    }
                },
                "ncharacterSet": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The national character set of the Autonomous Database.</p>"
                    }
                },
                "databaseEdition": {
                    "target": "com.amazonaws.odb#DatabaseEdition",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Database edition of the Autonomous Database.</p>"
                    }
                },
                "licenseModel": {
                    "target": "com.amazonaws.odb#LicenseModel",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle license model that applies to the Autonomous Database.</p>"
                    }
                },
                "openMode": {
                    "target": "com.amazonaws.odb#OpenMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The mode in which the Autonomous Database is open, either read-only or read/write.</p>"
                    }
                },
                "permissionLevel": {
                    "target": "com.amazonaws.odb#PermissionLevel",
                    "traits": {
                        "smithy.api#documentation": "<p>The permission level of the Autonomous Database.</p>"
                    }
                },
                "isMtlsConnectionRequired": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether mutual TLS (mTLS) authentication is required to connect to the Autonomous Database.</p>"
                    }
                },
                "autonomousMaintenanceScheduleType": {
                    "target": "com.amazonaws.odb#AutonomousMaintenanceScheduleType",
                    "traits": {
                        "smithy.api#documentation": "<p>The maintenance schedule type for the Autonomous Database.</p>"
                    }
                },
                "netServicesArchitecture": {
                    "target": "com.amazonaws.odb#NetServicesArchitecture",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Net Services architecture of the Autonomous Database, either dedicated or shared.</p>"
                    }
                },
                "availableUpgradeVersions": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of Oracle Database software versions to which the Autonomous Database can be upgraded.</p>"
                    }
                },
                "byolComputeCountLimit": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of compute resources that you can allocate to the Autonomous Database under the bring-your-own-license (BYOL) model.</p>"
                    }
                },
                "connectionStringDetails": {
                    "target": "com.amazonaws.odb#AutonomousDatabaseConnectionStrings",
                    "traits": {
                        "smithy.api#documentation": "<p>The connection string details for the Autonomous Database.</p>"
                    }
                },
                "serviceConsoleUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing the Oracle service console for the Autonomous Database.</p>"
                    }
                },
                "sqlWebDeveloperUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing Oracle SQL Developer Web for the Autonomous Database.</p>"
                    }
                },
                "customerContacts": {
                    "target": "com.amazonaws.odb#CustomerContacts",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of customer contacts that receive operational notifications from Oracle for the Autonomous Database.</p>"
                    }
                },
                "apexDetails": {
                    "target": "com.amazonaws.odb#AutonomousDatabaseApex",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Application Express (APEX) details for the Autonomous Database.</p>"
                    }
                },
                "standbyDb": {
                    "target": "com.amazonaws.odb#DatabaseStandbySummary",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the standby Autonomous Database in a cross-Region Oracle Data Guard configuration.</p>"
                    }
                },
                "localStandbyDb": {
                    "target": "com.amazonaws.odb#DatabaseStandbySummary",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the local standby Autonomous Database in an Oracle Data Guard configuration.</p>"
                    }
                },
                "dataSafeStatus": {
                    "target": "com.amazonaws.odb#DataSafeStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the Oracle Data Safe registration for the Autonomous Database.</p>"
                    }
                },
                "databaseManagementStatus": {
                    "target": "com.amazonaws.odb#DatabaseManagementStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of Oracle Database Management for the Autonomous Database.</p>"
                    }
                },
                "operationsInsightsStatus": {
                    "target": "com.amazonaws.odb#OperationsInsightsStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of Oracle Operations Insights for the Autonomous Database.</p>"
                    }
                },
                "availabilityZone": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Availability Zone where the Autonomous Database is located.</p>"
                    }
                },
                "availabilityZoneId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Availability Zone where the Autonomous Database is located.</p>"
                    }
                },
                "maintenanceTargetComponent": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The component on the Autonomous Database that the current maintenance is being applied to.</p>"
                    }
                },
                "connectionUrls": {
                    "target": "com.amazonaws.odb#AutonomousDatabaseConnectionUrls",
                    "traits": {
                        "smithy.api#documentation": "<p>The connection URLs for accessing tools and services for the Autonomous Database.</p>"
                    }
                },
                "dbToolsDetails": {
                    "target": "com.amazonaws.odb#DatabaseToolList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of database management tools enabled for the Autonomous Database.</p>"
                    }
                },
                "scheduledOperations": {
                    "target": "com.amazonaws.odb#ScheduledOperationDetailsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of scheduled start and stop times for the Autonomous Database.</p>"
                    }
                },
                "resourcePoolLeaderId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the resource pool leader Autonomous Database.</p>"
                    }
                },
                "computeCount": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The compute capacity, in number of Elastic CPUs (ECPUs) or Oracle CPUs (OCPUs), assigned to the Autonomous Database.</p>"
                    }
                },
                "computeModel": {
                    "target": "com.amazonaws.odb#ComputeModel",
                    "traits": {
                        "smithy.api#documentation": "<p>The compute model of the Autonomous Database, either ECPU or OCPU.</p>"
                    }
                },
                "cpuCoreCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPU cores allocated to the Autonomous Database.</p>"
                    }
                },
                "memoryPerOracleComputeUnitInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of memory allocated per Oracle Compute Unit, in GB.</p>"
                    }
                },
                "provisionableCpus": {
                    "target": "com.amazonaws.odb#IntegerList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of CPU core counts that you can provision for the Autonomous Database.</p>"
                    }
                },
                "isAutoScalingEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether automatic scaling of the compute resources is enabled for the Autonomous Database.</p>"
                    }
                },
                "dataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The size, in terabytes (TB), of the data volume allocated for the Autonomous Database.</p>"
                    }
                },
                "dataStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The size, in gigabytes (GB), of the data volume allocated for the Autonomous Database.</p>"
                    }
                },
                "usedDataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of data storage currently in use by the Autonomous Database, in TB.</p>"
                    }
                },
                "usedDataStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of data storage currently in use by the Autonomous Database, in GB.</p>"
                    }
                },
                "actualUsedDataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The actual amount of data storage currently in use by the Autonomous Database, in TB.</p>"
                    }
                },
                "allocatedStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of storage currently allocated to the Autonomous Database, in TB.</p>"
                    }
                },
                "inMemoryAreaInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The size of the in-memory area of the Autonomous Database, in GB.</p>"
                    }
                },
                "isAutoScalingForStorageEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether automatic scaling of the storage is enabled for the Autonomous Database.</p>"
                    }
                },
                "odbNetworkId": {
                    "target": "com.amazonaws.odb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the ODB network associated with the Autonomous Database.</p>"
                    }
                },
                "odbNetworkArn": {
                    "target": "com.amazonaws.odb#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ODB network associated with the Autonomous Database.</p>"
                    }
                },
                "privateEndpoint": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The private endpoint for the Autonomous Database.</p>"
                    }
                },
                "privateEndpointIp": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The private endpoint IP address for the Autonomous Database.</p>"
                    }
                },
                "privateEndpointLabel": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The private endpoint label for the Autonomous Database.</p>"
                    }
                },
                "allowlistedIps": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of IP addresses that are allowed to access the Autonomous Database.</p>"
                    }
                },
                "standbyAllowlistedIps": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of IP addresses that are allowed to access the standby Autonomous Database.</p>"
                    }
                },
                "standbyAllowlistedIpsSource": {
                    "target": "com.amazonaws.odb#StandbyAllowlistedIpsSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The source of the allowlisted IP addresses for the standby Autonomous Database.</p>"
                    }
                },
                "isLocalDataGuardEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether local Oracle Data Guard is enabled for the Autonomous Database.</p>"
                    }
                },
                "isRemoteDataGuardEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether remote Oracle Data Guard is enabled for the Autonomous Database.</p>"
                    }
                },
                "localDisasterRecoveryType": {
                    "target": "com.amazonaws.odb#DisasterRecoveryType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of local disaster recovery configured for the Autonomous Database.</p>"
                    }
                },
                "role": {
                    "target": "com.amazonaws.odb#DataGuardRole",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Data Guard role of the Autonomous Database.</p>"
                    }
                },
                "peerDbIds": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of unique identifiers of the peer Autonomous Databases.</p>"
                    }
                },
                "failedDataRecoveryInSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of time, in seconds, that the data in the Autonomous Database is behind the data in the primary database.</p>"
                    }
                },
                "localAdgAutoFailoverMaxDataLossLimit": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum data loss limit, in seconds, for automatic failover to the local Oracle Data Guard standby database.</p>"
                    }
                },
                "remoteDisasterRecoveryConfiguration": {
                    "target": "com.amazonaws.odb#DisasterRecoveryConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration of the remote disaster recovery for the Autonomous Database.</p>"
                    }
                },
                "isRefreshableClone": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the Autonomous Database is a refreshable clone.</p>"
                    }
                },
                "refreshableMode": {
                    "target": "com.amazonaws.odb#RefreshableMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The refresh mode of the refreshable clone Autonomous Database.</p>"
                    }
                },
                "refreshableStatus": {
                    "target": "com.amazonaws.odb#RefreshableStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The refresh status of the refreshable clone Autonomous Database.</p>"
                    }
                },
                "autoRefreshFrequencyInSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The frequency, in seconds, at which the refreshable clone Autonomous Database is automatically refreshed.</p>"
                    }
                },
                "autoRefreshPointLagInSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The time lag, in seconds, between the refreshable clone and its source Autonomous Database.</p>"
                    }
                },
                "isReconnectCloneEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether reconnecting the refreshable clone to its source Autonomous Database is enabled.</p>"
                    }
                },
                "cloneTableSpaceList": {
                    "target": "com.amazonaws.odb#IntegerList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of tablespace identifiers to clone for the Autonomous Database.</p>"
                    }
                },
                "backupRetentionPeriodInDays": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The retention period, in days, for automatic backups of the Autonomous Database.</p>"
                    }
                },
                "longTermBackupSchedule": {
                    "target": "com.amazonaws.odb#LongTermBackupSchedule",
                    "traits": {
                        "smithy.api#documentation": "<p>The long-term backup schedule for the Autonomous Database.</p>"
                    }
                },
                "isBackupRetentionLocked": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the backup retention period of the Autonomous Database is locked.</p>"
                    }
                },
                "totalBackupStorageSizeInGBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The total amount of backup storage used by the Autonomous Database, in GB.</p>"
                    }
                },
                "resourcePoolSummary": {
                    "target": "com.amazonaws.odb#ResourcePoolSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration of the resource pool for the Autonomous Database.</p>"
                    }
                },
                "encryptionSummary": {
                    "target": "com.amazonaws.odb#EncryptionSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>The encryption configuration for the Autonomous Database.</p>"
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the Autonomous Database was created.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeOfLastBackup": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time of the last backup of the Autonomous Database.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeMaintenanceBegin": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the next maintenance of the Autonomous Database begins.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeMaintenanceEnd": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the next maintenance of the Autonomous Database ends.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeLocalDataGuardEnabled": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when local Oracle Data Guard was enabled for the Autonomous Database.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeDataGuardRoleChanged": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the Oracle Data Guard role of the Autonomous Database last changed.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeOfLastSwitchover": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time of the last switchover operation for the Autonomous Database.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeOfLastFailover": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time of the last failover operation for the Autonomous Database.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeOfLastRefresh": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time of the last refresh of the refreshable clone Autonomous Database.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeOfLastRefreshPoint": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time as of which the data in the refreshable clone Autonomous Database is current.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeOfNextRefresh": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time of the next scheduled refresh of the refreshable clone Autonomous Database.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeOfAutoRefreshStart": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time at which the automatic refresh of the refreshable clone Autonomous Database starts.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeDeletionOfFreeAutonomousDatabase": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the inactive Always Free Autonomous Database is scheduled to be automatically deleted.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeReclamationOfFreeAutonomousDatabase": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the Always Free Autonomous Database is scheduled to be stopped because of inactivity.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeDisasterRecoveryRoleChanged": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the disaster recovery role of the Autonomous Database last changed.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeUntilReconnectCloneEnabled": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time until which reconnecting the refreshable clone to its source Autonomous Database is allowed.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "nextLongTermBackupTimeStamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time of the next scheduled long-term backup of the Autonomous Database.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeUndeleted": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the Autonomous Database was restored after deletion.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "adminPasswordSourceSummary": {
                    "target": "com.amazonaws.odb#AdminPasswordSourceSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>The summary of the admin password source configuration for the Autonomous Database.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about an Autonomous Database.</p>"
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseApex": {
            "type": "structure",
            "members": {
                "apexVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Application Express (APEX) version of the Autonomous Database.</p>"
                    }
                },
                "ordsVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle REST Data Services (ORDS) version of the Autonomous Database.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Oracle Application Express (APEX) details for an Autonomous Database.</p>"
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseBackup": {
            "type": "structure",
            "members": {
                "autonomousDatabaseBackupId": {
                    "target": "com.amazonaws.odb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Autonomous Database backup.</p>"
                    }
                },
                "autonomousDatabaseBackupArn": {
                    "target": "com.amazonaws.odb#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Autonomous Database backup.</p>"
                    }
                },
                "autonomousDatabaseId": {
                    "target": "com.amazonaws.odb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Autonomous Database that the backup was created from.</p>"
                    }
                },
                "ocid": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Cloud Identifier (OCID) of the Autonomous Database backup.</p>"
                    }
                },
                "displayName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The user-friendly name of the Autonomous Database backup.</p>"
                    }
                },
                "dbVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Database software version of the Autonomous Database backup.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.odb#AutonomousDatabaseBackupStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the Autonomous Database backup.</p>"
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the current status of the Autonomous Database backup, if applicable.</p>"
                    }
                },
                "isAutomatic": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the backup was created automatically.</p>"
                    }
                },
                "retentionPeriodInDays": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The retention period, in days, for the Autonomous Database backup.</p>"
                    }
                },
                "sizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The size of the Autonomous Database backup, in terabytes (TB).</p>"
                    }
                },
                "timeAvailableTill": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time until which the Autonomous Database backup is available for restore.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeStarted": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the Autonomous Database backup started.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeEnded": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the Autonomous Database backup ended.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "type": {
                    "target": "com.amazonaws.odb#AutonomousDatabaseBackupType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the Autonomous Database backup.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about an Autonomous Database backup.</p>"
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseBackupList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.odb#AutonomousDatabaseBackupSummary"
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseBackupResource": {
            "type": "resource",
            "identifiers": {
                "autonomousDatabaseBackupId": {
                    "target": "com.amazonaws.odb#ResourceId"
                }
            },
            "create": {
                "target": "com.amazonaws.odb#CreateAutonomousDatabaseBackup"
            },
            "read": {
                "target": "com.amazonaws.odb#GetAutonomousDatabaseBackup"
            },
            "update": {
                "target": "com.amazonaws.odb#UpdateAutonomousDatabaseBackup"
            },
            "delete": {
                "target": "com.amazonaws.odb#DeleteAutonomousDatabaseBackup"
            },
            "list": {
                "target": "com.amazonaws.odb#ListAutonomousDatabaseBackups"
            },
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}"
                ],
                "aws.iam#iamResource": {
                    "name": "autonomous-database-backup"
                }
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseBackupStatus": {
            "type": "enum",
            "members": {
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "UPDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATING"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseBackupSummary": {
            "type": "structure",
            "members": {
                "autonomousDatabaseBackupId": {
                    "target": "com.amazonaws.odb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Autonomous Database backup.</p>"
                    }
                },
                "autonomousDatabaseBackupArn": {
                    "target": "com.amazonaws.odb#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Autonomous Database backup.</p>"
                    }
                },
                "autonomousDatabaseId": {
                    "target": "com.amazonaws.odb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Autonomous Database that the backup was created from.</p>"
                    }
                },
                "ocid": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Cloud Identifier (OCID) of the Autonomous Database backup.</p>"
                    }
                },
                "displayName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The user-friendly name of the Autonomous Database backup.</p>"
                    }
                },
                "dbVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Database software version of the Autonomous Database backup.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.odb#AutonomousDatabaseBackupStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the Autonomous Database backup.</p>"
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the current status of the Autonomous Database backup, if applicable.</p>"
                    }
                },
                "isAutomatic": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the backup was created automatically.</p>"
                    }
                },
                "retentionPeriodInDays": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The retention period, in days, for the Autonomous Database backup.</p>"
                    }
                },
                "sizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The size of the Autonomous Database backup, in terabytes (TB).</p>"
                    }
                },
                "timeAvailableTill": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time until which the Autonomous Database backup is available for restore.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeStarted": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the Autonomous Database backup started.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeEnded": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the Autonomous Database backup ended.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "type": {
                    "target": "com.amazonaws.odb#AutonomousDatabaseBackupType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the Autonomous Database backup.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of an Autonomous Database backup.</p>"
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseBackupType": {
            "type": "enum",
            "members": {
                "INCREMENTAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INCREMENTAL"
                    }
                },
                "FULL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FULL"
                    }
                },
                "LONGTERM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LONGTERM"
                    }
                },
                "VIRTUAL_FULL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VIRTUAL_FULL"
                    }
                },
                "CUMULATIVE_INCREMENTAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CUMULATIVE_INCREMENTAL"
                    }
                },
                "ROLL_FORWARD_IMAGE_COPY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ROLL_FORWARD_IMAGE_COPY"
                    }
                }
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseCharacterSetList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.odb#AutonomousDatabaseCharacterSetSummary"
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseCharacterSetSummary": {
            "type": "structure",
            "members": {
                "characterSet": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the character set.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of an available character set for Autonomous Databases.</p>"
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseConnectionStrings": {
            "type": "structure",
            "members": {
                "allConnectionStrings": {
                    "target": "com.amazonaws.odb#DatabaseConnectionStringMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of all connection strings that you can use to connect to the Autonomous Database.</p>"
                    }
                },
                "dedicated": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The connection string for connecting to the Autonomous Database with a dedicated service.</p>"
                    }
                },
                "high": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The connection string for the high-priority database service.</p>"
                    }
                },
                "medium": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The connection string for the medium-priority database service.</p>"
                    }
                },
                "low": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The connection string for the low-priority database service.</p>"
                    }
                },
                "profiles": {
                    "target": "com.amazonaws.odb#DatabaseConnectionStringProfileList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of connection string profiles for the Autonomous Database.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The connection strings used to connect to an Autonomous Database.</p>"
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseConnectionUrls": {
            "type": "structure",
            "members": {
                "apexUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing Oracle Application Express (APEX) for the Autonomous Database.</p>"
                    }
                },
                "databaseTransformsUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing Oracle Database Transforms for the Autonomous Database.</p>"
                    }
                },
                "graphStudioUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing Oracle Graph Studio for the Autonomous Database.</p>"
                    }
                },
                "machineLearningNotebookUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing the Oracle Machine Learning notebook for the Autonomous Database.</p>"
                    }
                },
                "machineLearningUserManagementUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing Oracle Machine Learning user management for the Autonomous Database.</p>"
                    }
                },
                "mongoDbUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing the MongoDB API for the Autonomous Database.</p>"
                    }
                },
                "ordsUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing Oracle REST Data Services (ORDS) for the Autonomous Database.</p>"
                    }
                },
                "spatialStudioUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing Oracle Spatial Studio for the Autonomous Database.</p>"
                    }
                },
                "sqlDevWebUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing Oracle SQL Developer Web for the Autonomous Database.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The connection URLs for accessing tools and services for an Autonomous Database.</p>"
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.odb#AutonomousDatabaseSummary"
            }
        },
        "com.amazonaws.odb#AutonomousDatabasePeerList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.odb#AutonomousDatabasePeerSummary"
            }
        },
        "com.amazonaws.odb#AutonomousDatabasePeerSummary": {
            "type": "structure",
            "members": {
                "autonomousDatabaseId": {
                    "target": "com.amazonaws.odb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the peer Autonomous Database.</p>"
                    }
                },
                "autonomousDatabaseArn": {
                    "target": "com.amazonaws.odb#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the peer Autonomous Database.</p>"
                    }
                },
                "ocid": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Cloud Identifier (OCID) of the peer Autonomous Database.</p>"
                    }
                },
                "region": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Region where the peer Autonomous Database is located.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of a peer database of an Autonomous Database.</p>"
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseResource": {
            "type": "resource",
            "identifiers": {
                "autonomousDatabaseId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn"
                }
            },
            "create": {
                "target": "com.amazonaws.odb#CreateAutonomousDatabase"
            },
            "read": {
                "target": "com.amazonaws.odb#GetAutonomousDatabase"
            },
            "update": {
                "target": "com.amazonaws.odb#UpdateAutonomousDatabase"
            },
            "delete": {
                "target": "com.amazonaws.odb#DeleteAutonomousDatabase"
            },
            "list": {
                "target": "com.amazonaws.odb#ListAutonomousDatabases"
            },
            "operations": [
                {
                    "target": "com.amazonaws.odb#CreateAutonomousDatabaseWallet"
                },
                {
                    "target": "com.amazonaws.odb#FailoverAutonomousDatabase"
                },
                {
                    "target": "com.amazonaws.odb#GetAutonomousDatabaseWalletDetails"
                },
                {
                    "target": "com.amazonaws.odb#ListAutonomousDatabaseClones"
                },
                {
                    "target": "com.amazonaws.odb#ListAutonomousDatabasePeers"
                },
                {
                    "target": "com.amazonaws.odb#RebootAutonomousDatabase"
                },
                {
                    "target": "com.amazonaws.odb#RestoreAutonomousDatabase"
                },
                {
                    "target": "com.amazonaws.odb#ShrinkAutonomousDatabase"
                },
                {
                    "target": "com.amazonaws.odb#StartAutonomousDatabase"
                },
                {
                    "target": "com.amazonaws.odb#StopAutonomousDatabase"
                },
                {
                    "target": "com.amazonaws.odb#SwitchoverAutonomousDatabase"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}"
                ],
                "aws.iam#iamResource": {
                    "name": "autonomous-database"
                }
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseResourceStatus": {
            "type": "enum",
            "members": {
                "AVAILABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AVAILABLE"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "PROVISIONING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PROVISIONING"
                    }
                },
                "TERMINATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TERMINATED"
                    }
                },
                "TERMINATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TERMINATING"
                    }
                },
                "UPDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATING"
                    }
                },
                "MAINTENANCE_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MAINTENANCE_IN_PROGRESS"
                    }
                },
                "STOPPING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STOPPING"
                    }
                },
                "STOPPED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STOPPED"
                    }
                },
                "STARTING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STARTING"
                    }
                },
                "UNAVAILABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNAVAILABLE"
                    }
                },
                "RESTORE_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RESTORE_IN_PROGRESS"
                    }
                },
                "RESTORE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RESTORE_FAILED"
                    }
                },
                "BACKUP_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BACKUP_IN_PROGRESS"
                    }
                },
                "SCALE_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SCALE_IN_PROGRESS"
                    }
                },
                "AVAILABLE_NEEDS_ATTENTION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AVAILABLE_NEEDS_ATTENTION"
                    }
                },
                "RESTARTING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RESTARTING"
                    }
                },
                "RECREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RECREATING"
                    }
                },
                "ROLE_CHANGE_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ROLE_CHANGE_IN_PROGRESS"
                    }
                },
                "UPGRADING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPGRADING"
                    }
                },
                "INACCESSIBLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INACCESSIBLE"
                    }
                },
                "STANDBY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STANDBY"
                    }
                }
            }
        },
        "com.amazonaws.odb#AutonomousDatabaseSummary": {
            "type": "structure",
            "members": {
                "autonomousDatabaseId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Autonomous Database.</p>"
                    }
                },
                "autonomousDatabaseArn": {
                    "target": "com.amazonaws.odb#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Autonomous Database.</p>"
                    }
                },
                "ociResourceAnchorName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Oracle Cloud Infrastructure (OCI) resource anchor associated with the Autonomous Database.</p>"
                    }
                },
                "percentProgress": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The progress of the current operation on the Autonomous Database, as a percentage.</p>"
                    }
                },
                "ocid": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Cloud Identifier (OCID) of the Autonomous Database.</p>"
                    }
                },
                "ociUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing the OCI console page for the Autonomous Database.</p>"
                    }
                },
                "displayName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The user-friendly name of the Autonomous Database.</p>"
                    }
                },
                "dbName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Autonomous Database.</p>"
                    }
                },
                "sourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the source from which the Autonomous Database was created.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.odb#AutonomousDatabaseResourceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the Autonomous Database.</p>"
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the current status of the Autonomous Database, if applicable.</p>"
                    }
                },
                "databaseType": {
                    "target": "com.amazonaws.odb#DatabaseType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the Autonomous Database, either a regular database or a clone.</p>"
                    }
                },
                "dbVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Database software version of the Autonomous Database.</p>"
                    }
                },
                "dbWorkload": {
                    "target": "com.amazonaws.odb#DbWorkload",
                    "traits": {
                        "smithy.api#documentation": "<p>The intended use of the Autonomous Database, such as transaction processing, data warehouse, JSON database, or APEX.</p>"
                    }
                },
                "characterSet": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The character set of the Autonomous Database.</p>"
                    }
                },
                "ncharacterSet": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The national character set of the Autonomous Database.</p>"
                    }
                },
                "databaseEdition": {
                    "target": "com.amazonaws.odb#DatabaseEdition",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Database edition of the Autonomous Database.</p>"
                    }
                },
                "licenseModel": {
                    "target": "com.amazonaws.odb#LicenseModel",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle license model that applies to the Autonomous Database.</p>"
                    }
                },
                "openMode": {
                    "target": "com.amazonaws.odb#OpenMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The mode in which the Autonomous Database is open, either read-only or read/write.</p>"
                    }
                },
                "permissionLevel": {
                    "target": "com.amazonaws.odb#PermissionLevel",
                    "traits": {
                        "smithy.api#documentation": "<p>The permission level of the Autonomous Database.</p>"
                    }
                },
                "isMtlsConnectionRequired": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether mutual TLS (mTLS) authentication is required to connect to the Autonomous Database.</p>"
                    }
                },
                "autonomousMaintenanceScheduleType": {
                    "target": "com.amazonaws.odb#AutonomousMaintenanceScheduleType",
                    "traits": {
                        "smithy.api#documentation": "<p>The maintenance schedule type for the Autonomous Database.</p>"
                    }
                },
                "netServicesArchitecture": {
                    "target": "com.amazonaws.odb#NetServicesArchitecture",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Net Services architecture of the Autonomous Database, either dedicated or shared.</p>"
                    }
                },
                "availableUpgradeVersions": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of Oracle Database software versions to which the Autonomous Database can be upgraded.</p>"
                    }
                },
                "byolComputeCountLimit": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of compute resources that you can allocate to the Autonomous Database under the bring-your-own-license (BYOL) model.</p>"
                    }
                },
                "connectionStringDetails": {
                    "target": "com.amazonaws.odb#AutonomousDatabaseConnectionStrings",
                    "traits": {
                        "smithy.api#documentation": "<p>The connection string details for the Autonomous Database.</p>"
                    }
                },
                "serviceConsoleUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing the Oracle service console for the Autonomous Database.</p>"
                    }
                },
                "sqlWebDeveloperUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing Oracle SQL Developer Web for the Autonomous Database.</p>"
                    }
                },
                "customerContacts": {
                    "target": "com.amazonaws.odb#CustomerContacts",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of customer contacts that receive operational notifications from Oracle for the Autonomous Database.</p>"
                    }
                },
                "apexDetails": {
                    "target": "com.amazonaws.odb#AutonomousDatabaseApex",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Application Express (APEX) details for the Autonomous Database.</p>"
                    }
                },
                "standbyDb": {
                    "target": "com.amazonaws.odb#DatabaseStandbySummary",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the standby Autonomous Database in a cross-Region Oracle Data Guard configuration.</p>"
                    }
                },
                "localStandbyDb": {
                    "target": "com.amazonaws.odb#DatabaseStandbySummary",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the local standby Autonomous Database in an Oracle Data Guard configuration.</p>"
                    }
                },
                "dataSafeStatus": {
                    "target": "com.amazonaws.odb#DataSafeStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the Oracle Data Safe registration for the Autonomous Database.</p>"
                    }
                },
                "databaseManagementStatus": {
                    "target": "com.amazonaws.odb#DatabaseManagementStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of Oracle Database Management for the Autonomous Database.</p>"
                    }
                },
                "operationsInsightsStatus": {
                    "target": "com.amazonaws.odb#OperationsInsightsStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of Oracle Operations Insights for the Autonomous Database.</p>"
                    }
                },
                "availabilityZone": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Availability Zone where the Autonomous Database is located.</p>"
                    }
                },
                "availabilityZoneId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Availability Zone where the Autonomous Database is located.</p>"
                    }
                },
                "maintenanceTargetComponent": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The component on the Autonomous Database that the current maintenance is being applied to.</p>"
                    }
                },
                "connectionUrls": {
                    "target": "com.amazonaws.odb#AutonomousDatabaseConnectionUrls",
                    "traits": {
                        "smithy.api#documentation": "<p>The connection URLs for accessing tools and services for the Autonomous Database.</p>"
                    }
                },
                "dbToolsDetails": {
                    "target": "com.amazonaws.odb#DatabaseToolList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of database management tools enabled for the Autonomous Database.</p>"
                    }
                },
                "scheduledOperations": {
                    "target": "com.amazonaws.odb#ScheduledOperationDetailsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of scheduled start and stop times for the Autonomous Database.</p>"
                    }
                },
                "resourcePoolLeaderId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the resource pool leader Autonomous Database.</p>"
                    }
                },
                "computeCount": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The compute capacity, in number of Elastic CPUs (ECPUs) or Oracle CPUs (OCPUs), assigned to the Autonomous Database.</p>"
                    }
                },
                "computeModel": {
                    "target": "com.amazonaws.odb#ComputeModel",
                    "traits": {
                        "smithy.api#documentation": "<p>The compute model of the Autonomous Database, either ECPU or OCPU.</p>"
                    }
                },
                "cpuCoreCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPU cores allocated to the Autonomous Database.</p>"
                    }
                },
                "memoryPerOracleComputeUnitInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of memory allocated per Oracle Compute Unit, in GB.</p>"
                    }
                },
                "provisionableCpus": {
                    "target": "com.amazonaws.odb#IntegerList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of CPU core counts that you can provision for the Autonomous Database.</p>"
                    }
                },
                "isAutoScalingEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether automatic scaling of the compute resources is enabled for the Autonomous Database.</p>"
                    }
                },
                "dataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The size, in terabytes (TB), of the data volume allocated for the Autonomous Database.</p>"
                    }
                },
                "dataStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The size, in gigabytes (GB), of the data volume allocated for the Autonomous Database.</p>"
                    }
                },
                "usedDataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of data storage currently in use by the Autonomous Database, in TB.</p>"
                    }
                },
                "usedDataStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of data storage currently in use by the Autonomous Database, in GB.</p>"
                    }
                },
                "actualUsedDataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The actual amount of data storage currently in use by the Autonomous Database, in TB.</p>"
                    }
                },
                "allocatedStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of storage currently allocated to the Autonomous Database, in TB.</p>"
                    }
                },
                "inMemoryAreaInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The size of the in-memory area of the Autonomous Database, in GB.</p>"
                    }
                },
                "isAutoScalingForStorageEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether automatic scaling of the storage is enabled for the Autonomous Database.</p>"
                    }
                },
                "odbNetworkId": {
                    "target": "com.amazonaws.odb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the ODB network associated with the Autonomous Database.</p>"
                    }
                },
                "odbNetworkArn": {
                    "target": "com.amazonaws.odb#ResourceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ODB network associated with the Autonomous Database.</p>"
                    }
                },
                "privateEndpoint": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The private endpoint for the Autonomous Database.</p>"
                    }
                },
                "privateEndpointIp": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The private endpoint IP address for the Autonomous Database.</p>"
                    }
                },
                "privateEndpointLabel": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The private endpoint label for the Autonomous Database.</p>"
                    }
                },
                "allowlistedIps": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of IP addresses that are allowed to access the Autonomous Database.</p>"
                    }
                },
                "standbyAllowlistedIps": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of IP addresses that are allowed to access the standby Autonomous Database.</p>"
                    }
                },
                "standbyAllowlistedIpsSource": {
                    "target": "com.amazonaws.odb#StandbyAllowlistedIpsSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The source of the allowlisted IP addresses for the standby Autonomous Database.</p>"
                    }
                },
                "isLocalDataGuardEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether local Oracle Data Guard is enabled for the Autonomous Database.</p>"
                    }
                },
                "isRemoteDataGuardEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether remote Oracle Data Guard is enabled for the Autonomous Database.</p>"
                    }
                },
                "localDisasterRecoveryType": {
                    "target": "com.amazonaws.odb#DisasterRecoveryType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of local disaster recovery configured for the Autonomous Database.</p>"
                    }
                },
                "role": {
                    "target": "com.amazonaws.odb#DataGuardRole",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Data Guard role of the Autonomous Database.</p>"
                    }
                },
                "peerDbIds": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of unique identifiers of the peer Autonomous Databases.</p>"
                    }
                },
                "failedDataRecoveryInSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of time, in seconds, that the data in the Autonomous Database is behind the data in the primary database.</p>"
                    }
                },
                "localAdgAutoFailoverMaxDataLossLimit": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum data loss limit, in seconds, for automatic failover to the local Oracle Data Guard standby database.</p>"
                    }
                },
                "remoteDisasterRecoveryConfiguration": {
                    "target": "com.amazonaws.odb#DisasterRecoveryConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration of the remote disaster recovery for the Autonomous Database.</p>"
                    }
                },
                "isRefreshableClone": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the Autonomous Database is a refreshable clone.</p>"
                    }
                },
                "refreshableMode": {
                    "target": "com.amazonaws.odb#RefreshableMode",
                    "traits": {
                        "smithy.api#documentation": "<p>The refresh mode of the refreshable clone Autonomous Database.</p>"
                    }
                },
                "refreshableStatus": {
                    "target": "com.amazonaws.odb#RefreshableStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The refresh status of the refreshable clone Autonomous Database.</p>"
                    }
                },
                "autoRefreshFrequencyInSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The frequency, in seconds, at which the refreshable clone Autonomous Database is automatically refreshed.</p>"
                    }
                },
                "autoRefreshPointLagInSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The time lag, in seconds, between the refreshable clone and its source Autonomous Database.</p>"
                    }
                },
                "isReconnectCloneEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether reconnecting the refreshable clone to its source Autonomous Database is enabled.</p>"
                    }
                },
                "cloneTableSpaceList": {
                    "target": "com.amazonaws.odb#IntegerList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of tablespace identifiers to clone for the Autonomous Database.</p>"
                    }
                },
                "backupRetentionPeriodInDays": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The retention period, in days, for automatic backups of the Autonomous Database.</p>"
                    }
                },
                "longTermBackupSchedule": {
                    "target": "com.amazonaws.odb#LongTermBackupSchedule",
                    "traits": {
                        "smithy.api#documentation": "<p>The long-term backup schedule for the Autonomous Database.</p>"
                    }
[...]
