{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.odb#AcceptMarketplaceRegistration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.odb#AcceptMarketplaceRegistrationInput"
            },
            "output": {
                "target": "com.amazonaws.odb#AcceptMarketplaceRegistrationOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.odb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.odb#ConflictException"
                },
                {
                    "target": "com.amazonaws.odb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.odb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.odb#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Registers the Amazon Web Services Marketplace token for your Amazon Web Services account to activate your Oracle Database@Amazon Web Services subscription.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.odb#AcceptMarketplaceRegistrationInput": {
            "type": "structure",
            "members": {
                "marketplaceRegistrationToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The registration token that's generated by Amazon Web Services Marketplace and sent to Oracle Database@Amazon Web Services.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.odb#AcceptMarketplaceRegistrationOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.odb#Access": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.odb#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You don't have sufficient access to perform this action. Make sure you have the required permissions and try again.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.odb#AutonomousVirtualMachineList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.odb#AutonomousVirtualMachineSummary"
            }
        },
        "com.amazonaws.odb#AutonomousVirtualMachineSummary": {
            "type": "structure",
            "members": {
                "autonomousVirtualMachineId": {
                    "target": "com.amazonaws.odb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Autonomous VM.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.odb#ResourceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the Autonomous VM.</p>"
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the current status of the Autonomous VM, if applicable.</p>"
                    }
                },
                "vmName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Autonomous VM.</p>"
                    }
                },
                "dbServerId": {
                    "target": "com.amazonaws.odb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the database server hosting this Autonomous VM.</p>"
                    }
                },
                "dbServerDisplayName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The display name of the database server hosting this Autonomous VM.</p>"
                    }
                },
                "cpuCoreCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPU cores allocated to this Autonomous VM.</p>"
                    }
                },
                "memorySizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of memory allocated to this Autonomous VM, in gigabytes (GB).</p>"
                    }
                },
                "dbNodeStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of storage allocated to this Autonomous Virtual Machine, in gigabytes (GB).</p>"
                    }
                },
                "clientIpAddress": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The IP address used by clients to connect to this Autonomous VM.</p>"
                    }
                },
                "cloudAutonomousVmClusterId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Autonomous VM cluster containing this Autonomous VM.</p>"
                    }
                },
                "ocid": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Cloud Identifier (OCID) of the Autonomous VM.</p>"
                    }
                },
                "ociResourceAnchorName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Oracle Cloud Infrastructure (OCI) resource anchor associated with this Autonomous VM.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of an Autonomous Virtual Machine (VM) within an Autonomous VM cluster.</p>"
            }
        },
        "com.amazonaws.odb#CloudAutonomousVmCluster": {
            "type": "structure",
            "members": {
                "cloudAutonomousVmClusterId": {
                    "target": "com.amazonaws.odb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Autonomous VM cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "cloudAutonomousVmClusterArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the Autonomous VM cluster.</p>"
                    }
                },
                "odbNetworkId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the ODB network associated with this Autonomous VM cluster.</p>"
                    }
                },
                "ociResourceAnchorName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the OCI resource anchor associated with this Autonomous VM cluster.</p>"
                    }
                },
                "percentProgress": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The progress of the current operation on the Autonomous VM cluster, as a percentage.</p>"
                    }
                },
                "displayName": {
                    "target": "com.amazonaws.odb#ResourceDisplayName",
                    "traits": {
                        "smithy.api#documentation": "<p>The display name of the Autonomous VM cluster.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.odb#ResourceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the Autonomous VM cluster. Possible values include <code>CREATING</code>, <code>AVAILABLE</code>, <code>UPDATING</code>, <code>DELETING</code>, <code>DELETED</code>, <code>FAILED</code>.</p>"
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the current status of the Autonomous VM cluster.</p>"
                    }
                },
                "cloudExadataInfrastructureId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Cloud Exadata Infrastructure containing this Autonomous VM cluster.</p>"
                    }
                },
                "autonomousDataStoragePercentage": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The percentage of data storage currently in use for Autonomous Databases in the Autonomous VM cluster.</p>"
                    }
                },
                "autonomousDataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The data storage size allocated for Autonomous Databases in the Autonomous VM cluster, in TB.</p>"
                    }
                },
                "availableAutonomousDataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The available data storage space for Autonomous Databases in the Autonomous VM cluster, in TB.</p>"
                    }
                },
                "availableContainerDatabases": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of Autonomous CDBs that you can create with the currently available storage.</p>"
                    }
                },
                "availableCpus": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPU cores available for allocation to Autonomous Databases.</p>"
                    }
                },
                "computeModel": {
                    "target": "com.amazonaws.odb#ComputeModel",
                    "traits": {
                        "smithy.api#documentation": "<p>The compute model of the Autonomous VM cluster: ECPU or OCPU.</p>"
                    }
                },
                "cpuCoreCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of CPU cores in the Autonomous VM cluster.</p>"
                    }
                },
                "cpuCoreCountPerNode": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPU cores enabled per node in the Autonomous VM cluster.</p>"
                    }
                },
                "cpuPercentage": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The percentage of total CPU cores currently in use in the Autonomous VM cluster.</p>"
                    }
                },
                "dataStorageSizeInGBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The total data storage allocated to the Autonomous VM cluster, in GB.</p>"
                    }
                },
                "dataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The total data storage allocated to the Autonomous VM cluster, in TB.</p>"
                    }
                },
                "dbNodeStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The local node storage allocated to the Autonomous VM cluster, in gigabytes (GB).</p>"
                    }
                },
                "dbServers": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of database servers associated with the Autonomous VM cluster.</p>"
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The user-provided description of the Autonomous VM cluster.</p>"
                    }
                },
                "domain": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The domain name for the Autonomous VM cluster.</p>"
                    }
                },
                "exadataStorageInTBsLowestScaledValue": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The minimum value to which you can scale down the Exadata storage, in TB.</p>"
                    }
                },
                "hostname": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The hostname for the Autonomous VM cluster.</p>"
                    }
                },
                "ocid": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Cloud Identifier (OCID) of the Autonomous VM cluster.</p>"
                    }
                },
                "ociUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing the OCI console page for this Autonomous VM cluster.</p>"
                    }
                },
                "isMtlsEnabledVmCluster": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether mutual TLS (mTLS) authentication is enabled for the Autonomous VM cluster.</p>"
                    }
                },
                "licenseModel": {
                    "target": "com.amazonaws.odb#LicenseModel",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle license model that applies to the Autonomous VM cluster.</p>"
                    }
                },
                "maintenanceWindow": {
                    "target": "com.amazonaws.odb#MaintenanceWindow",
                    "traits": {
                        "smithy.api#documentation": "<p>The scheduling details for the maintenance window. Patching and system updates take place during the maintenance window.</p>"
                    }
                },
                "maxAcdsLowestScaledValue": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The minimum value to which you can scale down the maximum number of Autonomous CDBs.</p>"
                    }
                },
                "memoryPerOracleComputeUnitInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of memory allocated per Oracle Compute Unit, in GB.</p>"
                    }
                },
                "memorySizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total amount of memory allocated to the Autonomous VM cluster, in gigabytes (GB).</p>"
                    }
                },
                "nodeCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of database server nodes in the Autonomous VM cluster.</p>"
                    }
                },
                "nonProvisionableAutonomousContainerDatabases": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of Autonomous CDBs that can't be provisioned because of resource constraints.</p>"
                    }
                },
                "provisionableAutonomousContainerDatabases": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of Autonomous CDBs that can be provisioned in the Autonomous VM cluster.</p>"
                    }
                },
                "provisionedAutonomousContainerDatabases": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of Autonomous CDBs currently provisioned in the Autonomous VM cluster.</p>"
                    }
                },
                "provisionedCpus": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPU cores currently provisioned in the Autonomous VM cluster.</p>"
                    }
                },
                "reclaimableCpus": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPU cores that can be reclaimed from terminated or scaled-down Autonomous Databases.</p>"
                    }
                },
                "reservedCpus": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPU cores reserved for system operations and redundancy.</p>"
                    }
                },
                "scanListenerPortNonTls": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The SCAN listener port for non-TLS (TCP) protocol. The default is 1521.</p>"
                    }
                },
                "scanListenerPortTls": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The SCAN listener port for TLS (TCP) protocol. The default is 2484.</p>"
                    }
                },
                "shape": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The shape of the Exadata infrastructure for the Autonomous VM cluster.</p>"
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the Autonomous VM cluster was created.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeDatabaseSslCertificateExpires": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The expiration date and time of the database SSL certificate.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeOrdsCertificateExpires": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The expiration date and time of the Oracle REST Data Services (ORDS) certificate.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeZone": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The time zone of the Autonomous VM cluster.</p>"
                    }
                },
                "totalContainerDatabases": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of Autonomous Container Databases that can be created with the allocated local storage.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about an Autonomous VM cluster resource.</p>"
            }
        },
        "com.amazonaws.odb#CloudAutonomousVmClusterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.odb#CloudAutonomousVmClusterSummary"
            }
        },
        "com.amazonaws.odb#CloudAutonomousVmClusterResource": {
            "type": "resource",
            "identifiers": {
                "cloudAutonomousVmClusterId": {
                    "target": "com.amazonaws.odb#ResourceId"
                }
            },
            "create": {
                "target": "com.amazonaws.odb#CreateCloudAutonomousVmCluster"
            },
            "read": {
                "target": "com.amazonaws.odb#GetCloudAutonomousVmCluster"
            },
            "delete": {
                "target": "com.amazonaws.odb#DeleteCloudAutonomousVmCluster"
            },
            "list": {
                "target": "com.amazonaws.odb#ListCloudAutonomousVmClusters"
            },
            "operations": [
                {
                    "target": "com.amazonaws.odb#ListAutonomousVirtualMachines"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}"
                ],
                "aws.iam#iamResource": {
                    "name": "cloud-autonomous-vm-cluster"
                }
            }
        },
        "com.amazonaws.odb#CloudAutonomousVmClusterResourceDetails": {
            "type": "structure",
            "members": {
                "cloudAutonomousVmClusterId": {
                    "target": "com.amazonaws.odb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Autonomous VM cluster.</p>"
                    }
                },
                "unallocatedAdbStorageInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of unallocated Autonomous Database storage in the Autonomous VM cluster, in terabytes.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Resource details of an Autonomous VM cluster.</p>"
            }
        },
        "com.amazonaws.odb#CloudAutonomousVmClusterResourceDetailsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.odb#CloudAutonomousVmClusterResourceDetails"
            }
        },
        "com.amazonaws.odb#CloudAutonomousVmClusterSummary": {
            "type": "structure",
            "members": {
                "cloudAutonomousVmClusterId": {
                    "target": "com.amazonaws.odb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Autonomous VM cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "cloudAutonomousVmClusterArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the Autonomous VM cluster.</p>"
                    }
                },
                "odbNetworkId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the ODB network associated with this Autonomous VM cluster.</p>"
                    }
                },
                "ociResourceAnchorName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the OCI resource anchor associated with this Autonomous VM cluster.</p>"
                    }
                },
                "percentProgress": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The progress of the current operation on the Autonomous VM cluster, as a percentage.</p>"
                    }
                },
                "displayName": {
                    "target": "com.amazonaws.odb#ResourceDisplayName",
                    "traits": {
                        "smithy.api#documentation": "<p>The user-friendly name for the Autonomous VM cluster.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.odb#ResourceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the Autonomous VM cluster.</p>"
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the current status of the Autonomous VM cluster, if applicable.</p>"
                    }
                },
                "cloudExadataInfrastructureId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Exadata infrastructure containing this Autonomous VM cluster.</p>"
                    }
                },
                "autonomousDataStoragePercentage": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The percentage of data storage currently in use for Autonomous Databases in the Autonomous VM cluster.</p>"
                    }
                },
                "autonomousDataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The total data storage allocated for Autonomous Databases in the Autonomous VM cluster, in TB.</p>"
                    }
                },
                "availableAutonomousDataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The available data storage for Autonomous Databases in the Autonomous VM cluster, in TB.</p>"
                    }
                },
                "availableContainerDatabases": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of Autonomous Container Databases that you can create with the currently available storage.</p>"
                    }
                },
                "availableCpus": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPU cores available for allocation to Autonomous Databases.</p>"
                    }
                },
                "computeModel": {
                    "target": "com.amazonaws.odb#ComputeModel",
                    "traits": {
                        "smithy.api#documentation": "<p>The compute model of the Autonomous VM cluster: ECPU or OCPU.</p>"
                    }
                },
                "cpuCoreCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of CPU cores in the Autonomous VM cluster.</p>"
                    }
                },
                "cpuCoreCountPerNode": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPU cores per node in the Autonomous VM cluster.</p>"
                    }
                },
                "cpuPercentage": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The percentage of total CPU cores currently in use in the Autonomous VM cluster.</p>"
                    }
                },
                "dataStorageSizeInGBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The total data storage allocated to the Autonomous VM cluster, in GB.</p>"
                    }
                },
                "dataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The total data storage allocated to the Autonomous VM cluster, in TB.</p>"
                    }
                },
                "dbNodeStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The local node storage allocated to the Autonomous VM cluster, in GB.</p>"
                    }
                },
                "dbServers": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of database servers associated with the Autonomous VM cluster.</p>"
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The user-provided description of the Autonomous VM cluster.</p>"
                    }
                },
                "domain": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The domain name for the Autonomous VM cluster.</p>"
                    }
                },
                "exadataStorageInTBsLowestScaledValue": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The lowest value to which Exadata storage can be scaled down, in TB.</p>"
                    }
                },
                "hostname": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The host name for the Autonomous VM cluster.</p>"
                    }
                },
                "ocid": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Cloud Identifier (OCID) of the Autonomous VM cluster.</p>"
                    }
                },
                "ociUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for accessing the OCI console page for this Autonomous VM cluster.</p>"
                    }
                },
                "isMtlsEnabledVmCluster": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates if mutual TLS (mTLS) authentication is enabled for the Autonomous VM cluster.</p>"
                    }
                },
                "licenseModel": {
                    "target": "com.amazonaws.odb#LicenseModel",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle license model that applies to the Autonomous VM cluster.</p>"
                    }
                },
                "maintenanceWindow": {
                    "target": "com.amazonaws.odb#MaintenanceWindow",
                    "traits": {
                        "smithy.api#documentation": "<p>The scheduling details for the maintenance window. Patching and system updates take place during the maintenance window.</p>"
                    }
                },
                "maxAcdsLowestScaledValue": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The lowest value to which you can scale down the maximum number of Autonomous CDBs.</p>"
                    }
                },
                "memoryPerOracleComputeUnitInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of memory allocated per Oracle Compute Unit (OCU), in GB.</p>"
                    }
                },
                "memorySizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total amount of memory allocated to the Autonomous VM cluster, in GB.</p>"
                    }
                },
                "nodeCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of database server nodes in the Autonomous VM cluster.</p>"
                    }
                },
                "nonProvisionableAutonomousContainerDatabases": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of Autonomous CDBs that can't be provisioned because of resource constraints.</p>"
                    }
                },
                "provisionableAutonomousContainerDatabases": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of Autonomous CDBs that you can provision in the Autonomous VM cluster.</p>"
                    }
                },
                "provisionedAutonomousContainerDatabases": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of Autonomous Container Databases currently provisioned in the Autonomous VM cluster.</p>"
                    }
                },
                "provisionedCpus": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPUs currently provisioned in the Autonomous VM cluster.</p>"
                    }
                },
                "reclaimableCpus": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPUs that can be reclaimed from terminated or scaled-down Autonomous Databases.</p>"
                    }
                },
                "reservedCpus": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPUs reserved for system operations and redundancy.</p>"
                    }
                },
                "scanListenerPortNonTls": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The SCAN listener port for non-TLS (TCP) protocol.</p>"
                    }
                },
                "scanListenerPortTls": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The SCAN listener port for TLS (TCP) protocol.</p>"
                    }
                },
                "shape": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The shape of the Exadata infrastructure for the Autonomous VM cluster.</p>"
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the Autonomous VM cluster was created.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeDatabaseSslCertificateExpires": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The expiration date and time of the database SSL certificate.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeOrdsCertificateExpires": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The expiration date and time of the Oracle REST Data Services (ORDS) certificate.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeZone": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The time zone of the Autonomous VM cluster.</p>"
                    }
                },
                "totalContainerDatabases": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of Autonomous Container Databases that can be created in the Autonomous VM cluster.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of an Autonomous VM cluster.</p>"
            }
        },
        "com.amazonaws.odb#CloudExadataInfrastructure": {
            "type": "structure",
            "members": {
                "cloudExadataInfrastructureId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the Exadata infrastructure.</p>",
                        "smithy.api#required": {}
                    }
                },
                "displayName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The user-friendly name for the Exadata infrastructure.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.odb#ResourceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the Exadata infrastructure.</p>"
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the status of the Exadata infrastructure.</p>"
                    }
                },
                "cloudExadataInfrastructureArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the Exadata infrastructure.</p>"
                    }
                },
                "activatedStorageCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of storage servers requested for the Exadata infrastructure.</p>"
                    }
                },
                "additionalStorageCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of storage servers requested for the Exadata infrastructure.</p>"
                    }
                },
                "availableStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of available storage, in gigabytes (GB), for the Exadata infrastructure.</p>"
                    }
                },
                "availabilityZone": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Availability Zone (AZ) where the Exadata infrastructure is located.</p>"
                    }
                },
                "availabilityZoneId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The AZ ID of the AZ where the Exadata infrastructure is located.</p>"
                    }
                },
                "computeCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of database servers for the Exadata infrastructure.</p>"
                    }
                },
                "cpuCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of CPU cores that are allocated to the Exadata infrastructure.</p>"
                    }
                },
                "customerContactsToSendToOCI": {
                    "target": "com.amazonaws.odb#CustomerContacts",
                    "traits": {
                        "smithy.api#documentation": "<p>The email addresses of contacts to receive notification from Oracle about maintenance updates for the Exadata infrastructure.</p>"
                    }
                },
                "dataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The size of the Exadata infrastructure's data disk group, in terabytes (TB).</p>"
                    }
                },
                "dbNodeStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The size of the Exadata infrastructure's local node storage, in gigabytes (GB).</p>"
                    }
                },
                "dbServerVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The software version of the database servers (dom0) in the Exadata infrastructure.</p>"
                    }
                },
                "lastMaintenanceRunId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Cloud Identifier (OCID) of the last maintenance run for the Exadata infrastructure.</p>"
                    }
                },
                "maintenanceWindow": {
                    "target": "com.amazonaws.odb#MaintenanceWindow",
                    "traits": {
                        "smithy.api#documentation": "<p>The scheduling details for the maintenance window. Patching and system updates take place during the maintenance window.</p>"
                    }
                },
                "maxCpuCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of CPU cores available on the Exadata infrastructure.</p>"
                    }
                },
                "maxDataStorageInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The total amount of data disk group storage, in terabytes (TB), that's available on the Exadata infrastructure.</p>"
                    }
                },
                "maxDbNodeStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total amount of local node storage, in gigabytes (GB), that's available on the Exadata infrastructure.</p>"
                    }
                },
                "maxMemoryInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total amount of memory, in gigabytes (GB), that's available on the Exadata infrastructure.</p>"
                    }
                },
                "memorySizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of memory, in gigabytes (GB), that's allocated on the Exadata infrastructure.</p>"
                    }
                },
                "monthlyDbServerVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The monthly software version of the database servers installed on the Exadata infrastructure.</p>"
                    }
                },
                "monthlyStorageServerVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The monthly software version of the storage servers installed on the Exadata infrastructure.</p>"
                    }
                },
                "nextMaintenanceRunId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The OCID of the next maintenance run for the Exadata infrastructure.</p>"
                    }
                },
                "ociResourceAnchorName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the OCI resource anchor for the Exadata infrastructure.</p>"
                    }
                },
                "ociUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTPS link to the Exadata infrastructure in OCI.</p>"
                    }
                },
                "ocid": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The OCID of the Exadata infrastructure.</p>"
                    }
                },
                "shape": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The model name of the Exadata infrastructure.</p>"
                    }
                },
                "storageCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of storage servers that are activated for the Exadata infrastructure.</p>"
                    }
                },
                "storageServerVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The software version of the storage servers on the Exadata infrastructure.</p>"
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the Exadata infrastructure was created.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "totalStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total amount of storage, in gigabytes (GB), on the the Exadata infrastructure.</p>"
                    }
                },
                "percentProgress": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of progress made on the current operation on the Exadata infrastructure, expressed as a percentage.</p>"
                    }
                },
                "databaseServerType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The database server model type of the Exadata infrastructure. For the list of valid model names, use the <code>ListDbSystemShapes</code> operation.</p>"
                    }
                },
                "storageServerType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The storage server model type of the Exadata infrastructure. For the list of valid model names, use the <code>ListDbSystemShapes</code> operation.</p>"
                    }
                },
                "computeModel": {
                    "target": "com.amazonaws.odb#ComputeModel",
                    "traits": {
                        "smithy.api#documentation": "<p>The OCI model compute model used when you create or clone an instance: ECPU or OCPU. An ECPU is an abstracted measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers. An OCPU is a legacy physical measure of compute resources. OCPUs are based on the physical core of a processor with hyper-threading enabled. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about an Exadata infrastructure.</p>"
            }
        },
        "com.amazonaws.odb#CloudExadataInfrastructureList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.odb#CloudExadataInfrastructureSummary"
            }
        },
        "com.amazonaws.odb#CloudExadataInfrastructureResource": {
            "type": "resource",
            "identifiers": {
                "cloudExadataInfrastructureId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn"
                }
            },
            "create": {
                "target": "com.amazonaws.odb#CreateCloudExadataInfrastructure"
            },
            "read": {
                "target": "com.amazonaws.odb#GetCloudExadataInfrastructure"
            },
            "update": {
                "target": "com.amazonaws.odb#UpdateCloudExadataInfrastructure"
            },
            "delete": {
                "target": "com.amazonaws.odb#DeleteCloudExadataInfrastructure"
            },
            "list": {
                "target": "com.amazonaws.odb#ListCloudExadataInfrastructures"
            },
            "operations": [
                {
                    "target": "com.amazonaws.odb#GetCloudExadataInfrastructureUnallocatedResources"
                },
                {
                    "target": "com.amazonaws.odb#GetDbServer"
                },
                {
                    "target": "com.amazonaws.odb#ListDbServers"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}"
                ],
                "aws.iam#iamResource": {
                    "name": "cloud-exadata-infrastructure"
                }
            }
        },
        "com.amazonaws.odb#CloudExadataInfrastructureSummary": {
            "type": "structure",
            "members": {
                "cloudExadataInfrastructureId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the Exadata infrastructure.</p>",
                        "smithy.api#required": {}
                    }
                },
                "displayName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The user-friendly name for the Exadata infrastructure.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.odb#ResourceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the Exadata infrastructure.</p>"
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the status of the Exadata infrastructure.</p>"
                    }
                },
                "cloudExadataInfrastructureArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the Exadata infrastructure.</p>"
                    }
                },
                "activatedStorageCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of storage servers requested for the Exadata infrastructure.</p>"
                    }
                },
                "additionalStorageCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of storage servers requested for the Exadata infrastructure.</p>"
                    }
                },
                "availableStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of available storage, in gigabytes (GB), for the Exadata infrastructure.</p>"
                    }
                },
                "availabilityZone": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Availability Zone (AZ) where the Exadata infrastructure is located.</p>"
                    }
                },
                "availabilityZoneId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The AZ ID of the AZ where the Exadata infrastructure is located.</p>"
                    }
                },
                "computeCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of database servers for the Exadata infrastructure.</p>"
                    }
                },
                "cpuCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of CPU cores that are allocated to the Exadata infrastructure.</p>"
                    }
                },
                "customerContactsToSendToOCI": {
                    "target": "com.amazonaws.odb#CustomerContacts",
                    "traits": {
                        "smithy.api#documentation": "<p>The email addresses of contacts to receive notification from Oracle about maintenance updates for the Exadata infrastructure.</p>"
                    }
                },
                "dataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The size of the Exadata infrastructure's data disk group, in terabytes (TB).</p>"
                    }
                },
                "dbNodeStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The size of the Exadata infrastructure's local node storage, in gigabytes (GB).</p>"
                    }
                },
                "dbServerVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The software version of the database servers on the Exadata infrastructure.</p>"
                    }
                },
                "lastMaintenanceRunId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Cloud Identifier (OCID) of the last maintenance run for the Exadata infrastructure.</p>"
                    }
                },
                "maintenanceWindow": {
                    "target": "com.amazonaws.odb#MaintenanceWindow",
                    "traits": {
                        "smithy.api#documentation": "<p>The scheduling details for the maintenance window. Patching and system updates take place during the maintenance window.</p>"
                    }
                },
                "maxCpuCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of CPU cores available on the Exadata infrastructure.</p>"
                    }
                },
                "maxDataStorageInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The total amount of data disk group storage, in terabytes (TB), that's available on the Exadata infrastructure.</p>"
                    }
                },
                "maxDbNodeStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total amount of local node storage, in gigabytes (GB), that's available on the Exadata infrastructure.</p>"
                    }
                },
                "maxMemoryInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total amount of memory, in gigabytes (GB), that's available on the Exadata infrastructure.</p>"
                    }
                },
                "memorySizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of memory, in gigabytes (GB), that's allocated on the Exadata infrastructure.</p>"
                    }
                },
                "monthlyDbServerVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The monthly software version of the database servers (dom0) installed on the Exadata infrastructure.</p>"
                    }
                },
                "monthlyStorageServerVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The monthly software version of the storage servers installed on the Exadata infrastructure.</p>"
                    }
                },
                "nextMaintenanceRunId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The OCID of the next maintenance run for the Exadata infrastructure.</p>"
                    }
                },
                "ociResourceAnchorName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the OCI resource anchor for the Exadata infrastructure.</p>"
                    }
                },
                "ociUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTPS link to the Exadata infrastructure in OCI.</p>"
                    }
                },
                "ocid": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The OCID of the Exadata infrastructure.</p>"
                    }
                },
                "shape": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The model name of the Exadata infrastructure.</p>"
                    }
                },
                "storageCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of storage servers that are activated for the Exadata infrastructure.</p>"
                    }
                },
                "storageServerVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The software version of the storage servers on the Exadata infrastructure.</p>"
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the Exadata infrastructure was created.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "totalStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The total amount of storage, in gigabytes (GB), on the the Exadata infrastructure.</p>"
                    }
                },
                "percentProgress": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of progress made on the current operation on the Exadata infrastructure, expressed as a percentage.</p>"
                    }
                },
                "databaseServerType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The database server model type of the Exadata infrastructure. For the list of valid model names, use the <code>ListDbSystemShapes</code> operation.</p>"
                    }
                },
                "storageServerType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The storage server model type of the Exadata infrastructure. For the list of valid model names, use the <code>ListDbSystemShapes</code> operation.</p>"
                    }
                },
                "computeModel": {
                    "target": "com.amazonaws.odb#ComputeModel",
                    "traits": {
                        "smithy.api#documentation": "<p>The OCI model compute model used when you create or clone an instance: ECPU or OCPU. An ECPU is an abstracted measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers. An OCPU is a legacy physical measure of compute resources. OCPUs are based on the physical core of a processor with hyper-threading enabled. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about an Exadata infrastructure.</p>"
            }
        },
        "com.amazonaws.odb#CloudExadataInfrastructureUnallocatedResources": {
            "type": "structure",
            "members": {
                "cloudAutonomousVmClusters": {
                    "target": "com.amazonaws.odb#CloudAutonomousVmClusterResourceDetailsList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of Autonomous VM clusters associated with this Cloud Exadata Infrastructure.</p>"
                    }
                },
                "cloudExadataInfrastructureDisplayName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The display name of the Cloud Exadata infrastructure.</p>"
                    }
                },
                "exadataStorageInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of unallocated Exadata storage available, in terabytes (TB).</p>"
                    }
                },
                "cloudExadataInfrastructureId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Cloud Exadata infrastructure.</p>"
                    }
                },
                "localStorageInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of unallocated local storage available, in gigabytes (GB).</p>"
                    }
                },
                "memoryInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of unallocated memory available, in gigabytes (GB).</p>"
                    }
                },
                "ocpus": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of unallocated Oracle CPU Units (OCPUs) available.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about unallocated resources in the Cloud Exadata infrastructure.</p>"
            }
        },
        "com.amazonaws.odb#CloudVmCluster": {
            "type": "structure",
            "members": {
                "cloudVmClusterId": {
                    "target": "com.amazonaws.odb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the VM cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "displayName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The user-friendly name for the VM cluster.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.odb#ResourceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the VM cluster.</p>"
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the status of the VM cluster.</p>"
                    }
                },
                "cloudVmClusterArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the VM cluster.</p>"
                    }
                },
                "cloudExadataInfrastructureId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Exadata infrastructure that this VM cluster belongs to.</p>"
                    }
                },
                "clusterName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Grid Infrastructure (GI) cluster.</p>"
                    }
                },
                "cpuCoreCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPU cores enabled on the VM cluster.</p>"
                    }
                },
                "dataCollectionOptions": {
                    "target": "com.amazonaws.odb#DataCollectionOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>The set of diagnostic collection options enabled for the VM cluster.</p>"
                    }
                },
                "dataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The size of the data disk group, in terabytes (TB), that's allocated for the VM cluster.</p>"
                    }
                },
                "dbNodeStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of local node storage, in gigabytes (GB), that's allocated for the VM cluster.</p>"
                    }
                },
                "dbServers": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of database servers for the VM cluster.</p>"
                    }
                },
                "diskRedundancy": {
                    "target": "com.amazonaws.odb#DiskRedundancy",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of redundancy configured for the VM cluster. <code>NORMAL</code> is 2-way redundancy. <code>HIGH</code> is 3-way redundancy.</p>"
                    }
                },
                "giVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The software version of the Oracle Grid Infrastructure (GI) for the VM cluster.</p>"
                    }
                },
                "hostname": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The host name for the VM cluster.</p>"
                    }
                },
                "iormConfigCache": {
                    "target": "com.amazonaws.odb#ExadataIormConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The ExadataIormConfig cache details for the VM cluster.</p>"
                    }
                },
                "isLocalBackupEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether database backups to local Exadata storage is enabled for the VM cluster.</p>"
                    }
                },
                "isSparseDiskgroupEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the VM cluster is configured with a sparse disk group.</p>"
                    }
                },
                "lastUpdateHistoryEntryId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Cloud ID (OCID) of the last maintenance update history entry.</p>"
                    }
                },
                "licenseModel": {
                    "target": "com.amazonaws.odb#LicenseModel",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle license model applied to the VM cluster.</p>"
                    }
                },
                "listenerPort": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The port number configured for the listener on the VM cluster.</p>"
                    }
                },
                "memorySizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of memory, in gigabytes (GB), that's allocated for the VM cluster.</p>"
                    }
                },
                "nodeCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of nodes in the VM cluster.</p>"
                    }
                },
                "ocid": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The OCID of the VM cluster.</p>"
                    }
                },
                "ociResourceAnchorName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the OCI resource anchor for the VM cluster.</p>"
                    }
                },
                "ociUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTPS link to the VM cluster in OCI.</p>"
                    }
                },
                "domain": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The domain of the VM cluster.</p>"
                    }
                },
                "scanDnsName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The FQDN of the DNS record for the Single Client Access Name (SCAN) IP addresses that are associated with the VM cluster.</p>"
                    }
                },
                "scanDnsRecordId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The OCID of the DNS record for the SCAN IP addresses that are associated with the VM cluster.</p>"
                    }
                },
                "scanIpIds": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The OCID of the SCAN IP addresses that are associated with the VM cluster.</p>"
                    }
                },
                "shape": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The hardware model name of the Exadata infrastructure that's running the VM cluster.</p>"
                    }
                },
                "sshPublicKeys": {
                    "target": "com.amazonaws.odb#SensitiveStringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The public key portion of one or more key pairs used for SSH access to the VM cluster.</p>"
                    }
                },
                "storageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of local node storage, in gigabytes (GB), that's allocated to the VM cluster.</p>"
                    }
                },
                "systemVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system version of the image chosen for the VM cluster.</p>"
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the VM cluster was created.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeZone": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The time zone of the VM cluster.</p>"
                    }
                },
                "vipIds": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The virtual IP (VIP) addresses that are associated with the VM cluster. Oracle's Cluster Ready Services (CRS) creates and maintains one VIP address for each node in the VM cluster to enable failover. If one node fails, the VIP is reassigned to another active node in the cluster.</p>"
                    }
                },
                "odbNetworkId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the ODB network for the VM cluster.</p>"
                    }
                },
                "percentProgress": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of progress made on the current operation on the VM cluster, expressed as a percentage.</p>"
                    }
                },
                "computeModel": {
                    "target": "com.amazonaws.odb#ComputeModel",
                    "traits": {
                        "smithy.api#documentation": "<p>The OCI model compute model used when you create or clone an instance: ECPU or OCPU. An ECPU is an abstracted measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers. An OCPU is a legacy physical measure of compute resources. OCPUs are based on the physical core of a processor with hyper-threading enabled. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a VM cluster.</p>"
            }
        },
        "com.amazonaws.odb#CloudVmClusterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.odb#CloudVmClusterSummary"
            }
        },
        "com.amazonaws.odb#CloudVmClusterResource": {
            "type": "resource",
            "identifiers": {
                "cloudVmClusterId": {
                    "target": "com.amazonaws.odb#ResourceId"
                }
            },
            "create": {
                "target": "com.amazonaws.odb#CreateCloudVmCluster"
            },
            "read": {
                "target": "com.amazonaws.odb#GetCloudVmCluster"
            },
            "delete": {
                "target": "com.amazonaws.odb#DeleteCloudVmCluster"
            },
            "list": {
                "target": "com.amazonaws.odb#ListCloudVmClusters"
            },
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:ResourceTag/${TagKey}"
                ],
                "aws.iam#iamResource": {
                    "name": "cloud-vm-cluster"
                }
            }
        },
        "com.amazonaws.odb#CloudVmClusterSummary": {
            "type": "structure",
            "members": {
                "cloudVmClusterId": {
                    "target": "com.amazonaws.odb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the VM cluster.</p>",
                        "smithy.api#required": {}
                    }
                },
                "displayName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The user-friendly name for the VM cluster.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.odb#ResourceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the VM cluster.</p>"
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the status of the VM cluster.</p>"
                    }
                },
                "cloudVmClusterArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the VM cluster.</p>"
                    }
                },
                "cloudExadataInfrastructureId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Exadata infrastructure that this VM cluster belongs to.</p>"
                    }
                },
                "clusterName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Grid Infrastructure (GI) cluster.</p>"
                    }
                },
                "cpuCoreCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of CPU cores enabled on the VM cluster.</p>"
                    }
                },
                "dataCollectionOptions": {
                    "target": "com.amazonaws.odb#DataCollectionOptions"
                },
                "dataStorageSizeInTBs": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The size of the data disk group, in terabytes (TB), that's allocated for the VM cluster.</p>"
                    }
                },
                "dbNodeStorageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of local node storage, in gigabytes (GB), that's allocated for the VM cluster.</p>"
                    }
                },
                "dbServers": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of database servers for the VM cluster.</p>"
                    }
                },
                "diskRedundancy": {
                    "target": "com.amazonaws.odb#DiskRedundancy",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of redundancy configured for the VM cluster. <code>NORMAL</code> is 2-way redundancy. <code>HIGH</code> is 3-way redundancy.</p>"
                    }
                },
                "giVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The software version of the Oracle Grid Infrastructure (GI) for the VM cluster.</p>"
                    }
                },
                "hostname": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The host name for the VM cluster.</p>"
                    }
                },
                "iormConfigCache": {
                    "target": "com.amazonaws.odb#ExadataIormConfig"
                },
                "isLocalBackupEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether database backups to local Exadata storage is enabled for the VM cluster.</p>"
                    }
                },
                "isSparseDiskgroupEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the VM cluster is configured with a sparse disk group.</p>"
                    }
                },
                "lastUpdateHistoryEntryId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle Cloud ID (OCID) of the last maintenance update history entry.</p>"
                    }
                },
                "licenseModel": {
                    "target": "com.amazonaws.odb#LicenseModel",
                    "traits": {
                        "smithy.api#documentation": "<p>The Oracle license model applied to the VM cluster.</p>"
                    }
                },
                "listenerPort": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The port number configured for the listener on the VM cluster.</p>"
                    }
                },
                "memorySizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of memory, in gigabytes (GB), that's allocated for the VM cluster.</p>"
                    }
                },
                "nodeCount": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of nodes in the VM cluster.</p>"
                    }
                },
                "ocid": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The OCID of the VM cluster.</p>"
                    }
                },
                "ociResourceAnchorName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the OCI resource anchor for the VM cluster.</p>"
                    }
                },
                "ociUrl": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTPS link to the VM cluster in OCI.</p>"
                    }
                },
                "domain": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The domain of the VM cluster.</p>"
                    }
                },
                "scanDnsName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The FQDN of the DNS record for the Single Client Access Name (SCAN) IP addresses that are associated with the VM cluster.</p>"
                    }
                },
                "scanDnsRecordId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The OCID of the DNS record for the SCAN IP addresses that are associated with the VM cluster.</p>"
                    }
                },
                "scanIpIds": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The OCID of the SCAN IP addresses that are associated with the VM cluster.</p>"
                    }
                },
                "shape": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The hardware model name of the Exadata infrastructure that's running the VM cluster.</p>"
                    }
                },
                "sshPublicKeys": {
                    "target": "com.amazonaws.odb#SensitiveStringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The public key portion of one or more key pairs used for SSH access to the VM cluster.</p>"
                    }
                },
                "storageSizeInGBs": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of local node storage, in gigabytes (GB), that's allocated to the VM cluster.</p>"
                    }
                },
                "systemVersion": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The operating system version of the image chosen for the VM cluster.</p>"
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the VM cluster was created.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "timeZone": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The time zone of the VM cluster.</p>"
                    }
                },
                "vipIds": {
                    "target": "com.amazonaws.odb#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The virtual IP (VIP) addresses that are associated with the VM cluster. Oracle's Cluster Ready Services (CRS) creates and maintains one VIP address for each node in the VM cluster to enable failover. If one node fails, the VIP is reassigned to another active node in the cluster.</p>"
                    }
                },
                "odbNetworkId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the ODB network for the VM cluster.</p>"
                    }
                },
                "percentProgress": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of progress made on the current operation on the VM cluster, expressed as a percentage.</p>"
                    }
                },
                "computeModel": {
                    "target": "com.amazonaws.odb#ComputeModel",
                    "traits": {
                        "smithy.api#documentation": "<p>The OCI model compute model used when you create or clone an instance: ECPU or OCPU. An ECPU is an abstracted measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers. An OCPU is a legacy physical measure of compute resources. OCPUs are based on the physical core of a processor with hyper-threading enabled. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a VM cluster.</p>"
            }
        },
        "com.amazonaws.odb#ComputeModel": {
            "type": "enum",
            "members": {
                "ECPU": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ECPU"
                    }
                },
                "OCPU": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OCPU"
                    }
                }
            }
        },
        "com.amazonaws.odb#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "resourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the resource that caused the conflict.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of resource that caused the conflict.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Occurs when a conflict with the current status of your resource. Fix any inconsistencies with your resource and try again.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.odb#CreateCloudAutonomousVmCluster": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.odb#CreateCloudAutonomousVmClusterInput"
            },
            "output": {
                "target": "com.amazonaws.odb#CreateCloudAutonomousVmClusterOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.odb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.odb#ConflictException"
                },
                {
                    "target": "com.amazonaws.odb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.odb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.odb#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.odb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.odb#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "smithy.api#documentation": "<p>Creates a new Autonomous VM cluster in the specified Exadata infrastructure.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.odb#CreateCloudAutonomousVmClusterInput": {
            "type": "structure",
            "members": {
                "cloudExadataInfrastructureId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Exadata infrastructure where the VM cluster will be created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "odbNetworkId": {
                    "target": "com.amazonaws.odb#ResourceIdOrArn",
                    "traits": {
[...]
