{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.omics#AbortMultipartReadSetUpload": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.omics#AbortMultipartReadSetUploadRequest"
            },
            "output": {
                "target": "com.amazonaws.omics#AbortMultipartReadSetUploadResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.omics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.omics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.omics#NotSupportedOperationException"
                },
                {
                    "target": "com.amazonaws.omics#RequestTimeoutException"
                },
                {
                    "target": "com.amazonaws.omics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.omics#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.omics#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.omics#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to abort multipart read set uploads",
                "smithy.api#documentation": "<p>Stops a multipart read set upload into a sequence store and returns a response with no body if the operation is successful. To confirm that a multipart read set upload has been stopped, use the <code>ListMultipartReadSetUploads</code> API operation to view all active multipart read set uploads.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "control-storage-"
                },
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/sequencestore/{sequenceStoreId}/upload/{uploadId}/abort"
                }
            }
        },
        "com.amazonaws.omics#AbortMultipartReadSetUploadRequest": {
            "type": "structure",
            "members": {
                "sequenceStoreId": {
                    "target": "com.amazonaws.omics#SequenceStoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The sequence store ID for the store involved in the multipart upload.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "uploadId": {
                    "target": "com.amazonaws.omics#UploadId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID for the multipart upload.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.omics#AbortMultipartReadSetUploadResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.omics#Accelerators": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "GPU",
                        "value": "GPU"
                    }
                ],
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.omics#AcceptShare": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.omics#AcceptShareRequest"
            },
            "output": {
                "target": "com.amazonaws.omics#AcceptShareResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.omics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.omics#ConflictException"
                },
                {
                    "target": "com.amazonaws.omics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.omics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.omics#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.omics#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.omics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Accept a resource share request.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "analytics-"
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/share/{shareId}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.omics#AcceptShareRequest": {
            "type": "structure",
            "members": {
                "shareId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the resource share.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.omics#AcceptShareResponse": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "com.amazonaws.omics#ShareStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the resource share.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.omics#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.omics#AccessLogLocation": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^$|^s3://([a-z0-9][a-z0-9-.]{1,61}[a-z0-9])/?((.{1,800})/)?$"
            }
        },
        "com.amazonaws.omics#ActivateReadSetFilter": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "com.amazonaws.omics#ReadSetActivationJobStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter's status.</p>"
                    }
                },
                "createdAfter": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter's start date.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "createdBefore": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter's end date.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A read set activation job filter.</p>"
            }
        },
        "com.amazonaws.omics#ActivateReadSetJobItem": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.omics#ActivationJobId",
                    "traits": {
                        "smithy.api#documentation": "<p>The job's ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sequenceStoreId": {
                    "target": "com.amazonaws.omics#SequenceStoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The job's sequence store ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.omics#ReadSetActivationJobStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The job's status.</p>",
                        "smithy.api#required": {}
                    }
                },
                "creationTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>When the job was created.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "completionTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>When the job completed.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A read set activation job.</p>"
            }
        },
        "com.amazonaws.omics#ActivateReadSetJobList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.omics#ActivateReadSetJobItem"
            }
        },
        "com.amazonaws.omics#ActivateReadSetSourceItem": {
            "type": "structure",
            "members": {
                "readSetId": {
                    "target": "com.amazonaws.omics#ReadSetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The source's read set ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.omics#ReadSetActivationJobItemStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The source's status.</p>",
                        "smithy.api#required": {}
                    }
                },
                "statusMessage": {
                    "target": "com.amazonaws.omics#JobStatusMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>The source's status message.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A source for a read set activation job.</p>"
            }
        },
        "com.amazonaws.omics#ActivateReadSetSourceList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.omics#ActivateReadSetSourceItem"
            }
        },
        "com.amazonaws.omics#ActivationJobId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 10,
                    "max": 36
                },
                "smithy.api#pattern": "^[0-9]+$"
            }
        },
        "com.amazonaws.omics#AnnotationFieldMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "min": 1,
                        "max": 21
                    }
                }
            },
            "value": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "min": 1,
                        "max": 21
                    }
                }
            }
        },
        "com.amazonaws.omics#AnnotationImportItemDetail": {
            "type": "structure",
            "members": {
                "source": {
                    "target": "com.amazonaws.omics#S3Uri",
                    "traits": {
                        "smithy.api#documentation": "<p>The source file's location in Amazon S3.</p>",
                        "smithy.api#required": {}
                    }
                },
                "jobStatus": {
                    "target": "com.amazonaws.omics#JobStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The item's job status.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details about an imported annotation item.</p>"
            }
        },
        "com.amazonaws.omics#AnnotationImportItemDetails": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.omics#AnnotationImportItemDetail"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1
                }
            }
        },
        "com.amazonaws.omics#AnnotationImportItemSource": {
            "type": "structure",
            "members": {
                "source": {
                    "target": "com.amazonaws.omics#S3Uri",
                    "traits": {
                        "smithy.api#documentation": "<p>The source file's location in Amazon S3.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A source for an annotation import job.</p>"
            }
        },
        "com.amazonaws.omics#AnnotationImportItemSources": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.omics#AnnotationImportItemSource"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.omics#AnnotationImportJob": {
            "type": "resource",
            "identifiers": {
                "jobId": {
                    "target": "com.amazonaws.omics#ResourceId"
                }
            },
            "create": {
                "target": "com.amazonaws.omics#StartAnnotationImportJob"
            },
            "read": {
                "target": "com.amazonaws.omics#GetAnnotationImportJob"
            },
            "delete": {
                "target": "com.amazonaws.omics#CancelAnnotationImportJob"
            },
            "list": {
                "target": "com.amazonaws.omics#ListAnnotationImportJobs"
            }
        },
        "com.amazonaws.omics#AnnotationImportJobItem": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The job's ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "destinationName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The job's destination annotation store.</p>",
                        "smithy.api#required": {}
                    }
                },
                "versionName": {
                    "target": "com.amazonaws.omics#VersionName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the annotation store version. </p>",
                        "smithy.api#required": {}
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.omics#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The job's service role ARN.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.omics#JobStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The job's status.</p>",
                        "smithy.api#required": {}
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.omics#CreationTime",
                    "traits": {
                        "smithy.api#documentation": "<p>When the job was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updateTime": {
                    "target": "com.amazonaws.omics#UpdateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>When the job was updated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "completionTime": {
                    "target": "com.amazonaws.omics#CompletionTime",
                    "traits": {
                        "smithy.api#documentation": "<p>When the job completed.</p>"
                    }
                },
                "runLeftNormalization": {
                    "target": "com.amazonaws.omics#RunLeftNormalization",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>The job's left normalization setting.</p>"
                    }
                },
                "annotationFields": {
                    "target": "com.amazonaws.omics#AnnotationFieldMap",
                    "traits": {
                        "smithy.api#documentation": "<p> The annotation schema generated by the parsed annotation data. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An annotation import job.</p>"
            }
        },
        "com.amazonaws.omics#AnnotationImportJobItems": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.omics#AnnotationImportJobItem"
            }
        },
        "com.amazonaws.omics#AnnotationStore": {
            "type": "resource",
            "identifiers": {
                "name": {
                    "target": "smithy.api#String"
                }
            },
            "create": {
                "target": "com.amazonaws.omics#CreateAnnotationStore"
            },
            "read": {
                "target": "com.amazonaws.omics#GetAnnotationStore"
            },
            "update": {
                "target": "com.amazonaws.omics#UpdateAnnotationStore"
            },
            "delete": {
                "target": "com.amazonaws.omics#DeleteAnnotationStore"
            },
            "list": {
                "target": "com.amazonaws.omics#ListAnnotationStores"
            },
            "traits": {
                "smithy.api#documentation": "Represents a resource that stores annotation data"
            }
        },
        "com.amazonaws.omics#AnnotationStoreItem": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.omics#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "reference": {
                    "target": "com.amazonaws.omics#ReferenceItem",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's genome reference.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.omics#StoreStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's status.</p>",
                        "smithy.api#required": {}
                    }
                },
                "storeArn": {
                    "target": "com.amazonaws.omics#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's ARN.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "storeFormat": {
                    "target": "com.amazonaws.omics#StoreFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's file format.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.omics#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's description.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sseConfig": {
                    "target": "com.amazonaws.omics#SseConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's server-side encryption (SSE) settings.</p>",
                        "smithy.api#required": {}
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.omics#CreationTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's creation time.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updateTime": {
                    "target": "com.amazonaws.omics#UpdateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>When the store was updated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "statusMessage": {
                    "target": "com.amazonaws.omics#StatusMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's status message.</p>",
                        "smithy.api#required": {}
                    }
                },
                "storeSizeBytes": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's size in bytes.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An annotation store.</p>"
            }
        },
        "com.amazonaws.omics#AnnotationStoreItems": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.omics#AnnotationStoreItem"
            }
        },
        "com.amazonaws.omics#AnnotationStoreVersion": {
            "type": "resource",
            "identifiers": {
                "name": {
                    "target": "smithy.api#String"
                },
                "versionName": {
                    "target": "smithy.api#String"
                }
            },
            "create": {
                "target": "com.amazonaws.omics#CreateAnnotationStoreVersion"
            },
            "read": {
                "target": "com.amazonaws.omics#GetAnnotationStoreVersion"
            },
            "update": {
                "target": "com.amazonaws.omics#UpdateAnnotationStoreVersion"
            },
            "list": {
                "target": "com.amazonaws.omics#ListAnnotationStoreVersions"
            },
            "collectionOperations": [
                {
                    "target": "com.amazonaws.omics#DeleteAnnotationStoreVersions"
                }
            ]
        },
        "com.amazonaws.omics#AnnotationStoreVersionItem": {
            "type": "structure",
            "members": {
                "storeId": {
                    "target": "com.amazonaws.omics#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p> The store ID for an annotation store version. </p>",
                        "smithy.api#required": {}
                    }
                },
                "id": {
                    "target": "com.amazonaws.omics#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p> The annotation store version ID. </p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.omics#VersionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p> The status of an annotation store version. </p>",
                        "smithy.api#required": {}
                    }
                },
                "versionArn": {
                    "target": "com.amazonaws.omics#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Arn for an annotation store version. </p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.omics#StoreName",
                    "traits": {
                        "smithy.api#documentation": "<p> A name given to an annotation store version to distinguish it from others. </p>",
                        "smithy.api#required": {}
                    }
                },
                "versionName": {
                    "target": "com.amazonaws.omics#VersionName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of an annotation store version. </p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.omics#Description",
                    "traits": {
                        "smithy.api#documentation": "<p> The description of an annotation store version. </p>",
                        "smithy.api#required": {}
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.omics#CreationTime",
                    "traits": {
                        "smithy.api#documentation": "<p> The time stamp for when an annotation store version was created. </p>",
                        "smithy.api#required": {}
                    }
                },
                "updateTime": {
                    "target": "com.amazonaws.omics#UpdateTime",
                    "traits": {
                        "smithy.api#documentation": "<p> The time stamp for when an annotation store version was updated. </p>",
                        "smithy.api#required": {}
                    }
                },
                "statusMessage": {
                    "target": "com.amazonaws.omics#StatusMessage",
                    "traits": {
                        "smithy.api#documentation": "<p> The status of an annotation store version. </p>",
                        "smithy.api#required": {}
                    }
                },
                "versionSizeBytes": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p> The size of an annotation store version in Bytes. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Annotation store versions. </p>"
            }
        },
        "com.amazonaws.omics#AnnotationStoreVersionItems": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.omics#AnnotationStoreVersionItem"
            }
        },
        "com.amazonaws.omics#AnnotationType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "GENERIC",
                        "name": "GENERIC",
                        "documentation": "Generic text file. No genomic information"
                    },
                    {
                        "value": "CHR_POS",
                        "name": "CHR_POS",
                        "documentation": "Contains contig and 1-base position"
                    },
                    {
                        "value": "CHR_POS_REF_ALT",
                        "name": "CHR_POS_REF_ALT",
                        "documentation": "Contains contig, 1-base position, ref and alt allele information"
                    },
                    {
                        "value": "CHR_START_END_ONE_BASE",
                        "name": "CHR_START_END_ONE_BASE",
                        "documentation": "Contains contig, start, and end positions. Coordinates are 1-based"
                    },
                    {
                        "value": "CHR_START_END_REF_ALT_ONE_BASE",
                        "name": "CHR_START_END_REF_ALT_ONE_BASE",
                        "documentation": "Contains contig, start, end, ref and alt allele information. Coordinates are 1-based"
                    },
                    {
                        "value": "CHR_START_END_ZERO_BASE",
                        "name": "CHR_START_END_ZERO_BASE",
                        "documentation": "Contains contig, start, and end positions. Coordinates are 0-based"
                    },
                    {
                        "value": "CHR_START_END_REF_ALT_ZERO_BASE",
                        "name": "CHR_START_END_REF_ALT_ZERO_BASE",
                        "documentation": "Contains contig, start, end, ref and alt allele information. Coordinates are 0-based"
                    }
                ]
            }
        },
        "com.amazonaws.omics#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:([^:\n]*):([^:\n]*):([^:\n]*):([0-9]{12}):([^:\n]*)$"
            }
        },
        "com.amazonaws.omics#ArnList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.omics#AwsAccountId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "^[0-9]+$"
            }
        },
        "com.amazonaws.omics#BatchDeleteReadSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.omics#BatchDeleteReadSetRequest"
            },
            "output": {
                "target": "com.amazonaws.omics#BatchDeleteReadSetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.omics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.omics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.omics#RequestTimeoutException"
                },
                {
                    "target": "com.amazonaws.omics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.omics#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.omics#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to batch delete Read Sets in the given Sequence Store",
                "smithy.api#documentation": "<p>Deletes one or more read sets. If the operation is successful, it returns a response with no body. If there is an error with deleting one of the read sets, the operation returns an error list. If the operation successfully deletes only a subset of files, it will return an error list for the remaining files that fail to be deleted. There is a limit of 100 read sets that can be deleted in each <code>BatchDeleteReadSet</code> API call.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "control-storage-"
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/sequencestore/{sequenceStoreId}/readset/batch/delete"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.omics#BatchDeleteReadSetRequest": {
            "type": "structure",
            "members": {
                "ids": {
                    "target": "com.amazonaws.omics#ReadSetIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The read sets' IDs.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sequenceStoreId": {
                    "target": "com.amazonaws.omics#SequenceStoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The read sets' sequence store ID.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.omics#BatchDeleteReadSetResponse": {
            "type": "structure",
            "members": {
                "errors": {
                    "target": "com.amazonaws.omics#ReadSetBatchErrorList",
                    "traits": {
                        "smithy.api#documentation": "<p>Errors returned by individual delete operations.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.omics#CacheBehavior": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "CACHE_ON_FAILURE",
                        "value": "CACHE_ON_FAILURE"
                    },
                    {
                        "name": "CACHE_ALWAYS",
                        "value": "CACHE_ALWAYS"
                    }
                ],
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.omics#CancelAnnotationImportJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.omics#CancelAnnotationImportRequest"
            },
            "output": {
                "target": "com.amazonaws.omics#CancelAnnotationImportResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.omics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.omics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.omics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.omics#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.omics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels an annotation import job.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "analytics-"
                },
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/import/annotation/{jobId}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.omics#CancelAnnotationImportRequest": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.omics#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The job's ID.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.omics#CancelAnnotationImportResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.omics#CancelRun": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.omics#CancelRunRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.omics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.omics#ConflictException"
                },
                {
                    "target": "com.amazonaws.omics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.omics#RequestTimeoutException"
                },
                {
                    "target": "com.amazonaws.omics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.omics#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.omics#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.omics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a run using its ID and returns a response with no body if the operation is successful. To confirm that the run has been cancelled, use the <code>ListRuns</code> API operation to check that it is no longer listed.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "workflows-"
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/run/{id}/cancel",
                    "code": 202
                }
            }
        },
        "com.amazonaws.omics#CancelRunRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.omics#RunId",
                    "traits": {
                        "smithy.api#documentation": "<p>The run's ID.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.omics#CancelVariantImportJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.omics#CancelVariantImportRequest"
            },
            "output": {
                "target": "com.amazonaws.omics#CancelVariantImportResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.omics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.omics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.omics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.omics#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.omics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a variant import job.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "analytics-"
                },
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/import/variant/{jobId}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.omics#CancelVariantImportRequest": {
            "type": "structure",
            "members": {
                "jobId": {
                    "target": "com.amazonaws.omics#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The job's ID.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.omics#CancelVariantImportResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.omics#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 127
                },
                "smithy.api#pattern": "^[\\p{L}||\\p{M}||\\p{Z}||\\p{S}||\\p{N}||\\p{P}]+$"
            }
        },
        "com.amazonaws.omics#CommentChar": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1
                }
            }
        },
        "com.amazonaws.omics#CompleteMultipartReadSetUpload": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.omics#CompleteMultipartReadSetUploadRequest"
            },
            "output": {
                "target": "com.amazonaws.omics#CompleteMultipartReadSetUploadResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.omics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.omics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.omics#NotSupportedOperationException"
                },
                {
                    "target": "com.amazonaws.omics#RequestTimeoutException"
                },
                {
                    "target": "com.amazonaws.omics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.omics#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.omics#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.omics#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to complete a multipart read set upload",
                "smithy.api#documentation": "<p>Completes a multipart read set upload into a sequence store after you have initiated the upload process with <code>CreateMultipartReadSetUpload</code> and uploaded all read set parts using <code>UploadReadSetPart</code>. You must specify the parts you uploaded using the parts parameter. If the operation is successful, it returns the read set ID(s) of the uploaded read set(s).</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/synchronous-uploads.html\">Direct upload to a sequence store</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "storage-"
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/sequencestore/{sequenceStoreId}/upload/{uploadId}/complete"
                }
            }
        },
        "com.amazonaws.omics#CompleteMultipartReadSetUploadRequest": {
            "type": "structure",
            "members": {
                "sequenceStoreId": {
                    "target": "com.amazonaws.omics#SequenceStoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The sequence store ID for the store involved in the multipart upload.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "uploadId": {
                    "target": "com.amazonaws.omics#UploadId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID for the multipart upload.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "parts": {
                    "target": "com.amazonaws.omics#CompleteReadSetUploadPartList",
                    "traits": {
                        "smithy.api#documentation": "<p>The individual uploads or parts of a multipart upload.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.omics#CompleteMultipartReadSetUploadResponse": {
            "type": "structure",
            "members": {
                "readSetId": {
                    "target": "com.amazonaws.omics#ReadSetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The read set ID created for an uploaded read set.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.omics#CompleteReadSetUploadPartList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.omics#CompleteReadSetUploadPartListItem"
            }
        },
        "com.amazonaws.omics#CompleteReadSetUploadPartListItem": {
            "type": "structure",
            "members": {
                "partNumber": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p> A number identifying the part in a read set upload. </p>",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 10000
                        },
                        "smithy.api#required": {}
                    }
                },
                "partSource": {
                    "target": "com.amazonaws.omics#ReadSetPartSource",
                    "traits": {
                        "smithy.api#documentation": "<p> The source file of the part being uploaded. </p>",
                        "smithy.api#required": {}
                    }
                },
                "checksum": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p> A unique identifier used to confirm that parts are being added to the correct upload. </p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 100
                        },
                        "smithy.api#pattern": "^[\\p{L}||\\p{M}||\\p{Z}||\\p{S}||\\p{N}||\\p{P}]+$",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Part of the response to the CompleteReadSetUpload API, including metadata. </p>"
            }
        },
        "com.amazonaws.omics#CompletionTime": {
            "type": "timestamp",
            "traits": {
                "smithy.api#timestampFormat": "date-time"
            }
        },
        "com.amazonaws.omics#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request cannot be applied to the target resource in its current state.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.omics#ConnectionArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^arn:aws(-[\\w]+)*:.+:.+:[0-9]{12}:.+$"
            }
        },
        "com.amazonaws.omics#ContainerRegistryMap": {
            "type": "structure",
            "members": {
                "registryMappings": {
                    "target": "com.amazonaws.omics#RegistryMappingsList",
                    "traits": {
                        "smithy.api#documentation": "<p>Mapping that provides the ECR repository path where upstream container images are pulled and synchronized.</p>"
                    }
                },
                "imageMappings": {
                    "target": "com.amazonaws.omics#ImageMappingsList",
                    "traits": {
                        "smithy.api#documentation": "<p>Image mappings specify path mappings between the ECR private repository and their corresponding external repositories.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Use a container registry map to specify mappings between the ECR private repository and one or more upstream registries. For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/workflows-ecr.html\">Container images</a> in the <i>Amazon Web Services HealthOmics User Guide</i>. </p>"
            }
        },
        "com.amazonaws.omics#CreateAnnotationStore": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.omics#CreateAnnotationStoreRequest"
            },
            "output": {
                "target": "com.amazonaws.omics#CreateAnnotationStoreResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.omics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.omics#ConflictException"
                },
                {
                    "target": "com.amazonaws.omics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.omics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.omics#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.omics#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.omics#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#iamAction": {
                    "documentation": "Grants permission to create an Annotation Store"
                },
                "smithy.api#documentation": "<p>Creates an annotation store.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "analytics-"
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/annotationStore",
                    "code": 200
                }
            }
        },
        "com.amazonaws.omics#CreateAnnotationStoreRequest": {
            "type": "structure",
            "members": {
                "reference": {
                    "target": "com.amazonaws.omics#ReferenceItem",
                    "traits": {
                        "smithy.api#documentation": "<p>The genome reference for the store's annotations.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.omics#StoreName",
                    "traits": {
                        "smithy.api#documentation": "<p>A name for the store.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.omics#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>A description for the store.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.omics#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags for the store.</p>"
                    }
                },
                "versionName": {
                    "target": "com.amazonaws.omics#VersionName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name given to an annotation store version to distinguish it from other versions. </p>"
                    }
                },
                "sseConfig": {
                    "target": "com.amazonaws.omics#SseConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Server-side encryption (SSE) settings for the store.</p>"
                    }
                },
                "storeFormat": {
                    "target": "com.amazonaws.omics#StoreFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The annotation file format of the store.</p>",
                        "smithy.api#required": {}
                    }
                },
                "storeOptions": {
                    "target": "com.amazonaws.omics#StoreOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>File parsing options for the annotation store.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.omics#CreateAnnotationStoreResponse": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.omics#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "reference": {
                    "target": "com.amazonaws.omics#ReferenceItem",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's genome reference. Required for all stores except TSV format with generic annotations.</p>"
                    }
                },
                "storeFormat": {
                    "target": "com.amazonaws.omics#StoreFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The annotation file format of the store.</p>"
                    }
                },
                "storeOptions": {
                    "target": "com.amazonaws.omics#StoreOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's file parsing options.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.omics#StoreStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's status.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "versionName": {
                    "target": "com.amazonaws.omics#VersionName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name given to an annotation store version to distinguish it from other versions. </p>",
                        "smithy.api#required": {}
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.omics#CreationTime",
                    "traits": {
                        "smithy.api#documentation": "<p>When the store was created.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.omics#CreateAnnotationStoreVersion": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.omics#CreateAnnotationStoreVersionRequest"
            },
            "output": {
                "target": "com.amazonaws.omics#CreateAnnotationStoreVersionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.omics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.omics#ConflictException"
                },
                {
                    "target": "com.amazonaws.omics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.omics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.omics#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.omics#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.omics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Creates a new version of an annotation store. </p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "analytics-"
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/annotationStore/{name}/version",
                    "code": 200
                }
            }
        },
        "com.amazonaws.omics#CreateAnnotationStoreVersionRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.omics#StoreName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of an annotation store version from which versions are being created. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "versionName": {
                    "target": "com.amazonaws.omics#VersionName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name given to an annotation store version to distinguish it from other versions. </p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.omics#Description",
                    "traits": {
                        "smithy.api#documentation": "<p> The description of an annotation store version. </p>"
                    }
                },
                "versionOptions": {
                    "target": "com.amazonaws.omics#VersionOptions",
                    "traits": {
                        "smithy.api#documentation": "<p> The options for an annotation store version. </p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.omics#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p> Any tags added to annotation store version. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.omics#CreateAnnotationStoreVersionResponse": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.omics#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p> A generated ID for the annotation store </p>",
                        "smithy.api#required": {}
                    }
                },
                "versionName": {
                    "target": "com.amazonaws.omics#VersionName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name given to an annotation store version to distinguish it from other versions. </p>",
                        "smithy.api#required": {}
                    }
                },
                "storeId": {
                    "target": "com.amazonaws.omics#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p> The ID for the annotation store from which new versions are being created. </p>",
                        "smithy.api#required": {}
                    }
                },
                "versionOptions": {
                    "target": "com.amazonaws.omics#VersionOptions",
                    "traits": {
                        "smithy.api#documentation": "<p> The options for an annotation store version. </p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.omics#StoreName",
                    "traits": {
                        "smithy.api#documentation": "<p> The name given to an annotation store version to distinguish it from other versions. </p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.omics#VersionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p> The status of a annotation store version. </p>",
                        "smithy.api#required": {}
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.omics#CreationTime",
                    "traits": {
                        "smithy.api#documentation": "<p> The time stamp for the creation of an annotation store version. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.omics#CreateMultipartReadSetUpload": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.omics#CreateMultipartReadSetUploadRequest"
            },
            "output": {
                "target": "com.amazonaws.omics#CreateMultipartReadSetUploadResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.omics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.omics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.omics#NotSupportedOperationException"
                },
                {
                    "target": "com.amazonaws.omics#RequestTimeoutException"
                },
                {
                    "target": "com.amazonaws.omics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.omics#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.omics#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.omics#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to create a multipart read set upload",
                "smithy.api#documentation": "<p>Initiates a multipart read set upload for uploading partitioned source files into a sequence store. You can directly import source files from an EC2 instance and other local compute, or from an S3 bucket. To separate these source files into parts, use the <code>split</code> operation. Each part cannot be larger than 100 MB. If the operation is successful, it provides an <code>uploadId</code> which is required by the <code>UploadReadSetPart</code> API operation to upload parts into a sequence store.</p> <p>To continue uploading a multipart read set into your sequence store, you must use the <code>UploadReadSetPart</code> API operation to upload each part individually following the steps below:</p> <ul> <li> <p>Specify the <code>uploadId</code> obtained from the previous call to <code>CreateMultipartReadSetUpload</code>.</p> </li> <li> <p>Upload parts for that <code>uploadId</code>.</p> </li> </ul> <p>When you have finished uploading parts, use the <code>CompleteMultipartReadSetUpload</code> API to complete the multipart read set upload and to retrieve the final read set IDs in the response.</p> <p>To learn more about creating parts and the <code>split</code> operation, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/synchronous-uploads.html\">Direct upload to a sequence store</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "control-storage-"
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/sequencestore/{sequenceStoreId}/upload"
                }
            }
        },
        "com.amazonaws.omics#CreateMultipartReadSetUploadRequest": {
            "type": "structure",
            "members": {
                "sequenceStoreId": {
                    "target": "com.amazonaws.omics#SequenceStoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The sequence store ID for the store that is the destination of the multipart uploads.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.omics#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>An idempotency token that can be used to avoid triggering multiple multipart uploads.</p>"
                    }
                },
                "sourceFileType": {
                    "target": "com.amazonaws.omics#FileType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of file being uploaded.</p>",
                        "smithy.api#required": {}
                    }
                },
                "subjectId": {
                    "target": "com.amazonaws.omics#SubjectId",
                    "traits": {
                        "smithy.api#documentation": "<p>The source's subject ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sampleId": {
                    "target": "com.amazonaws.omics#SampleId",
                    "traits": {
                        "smithy.api#documentation": "<p>The source's sample ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "generatedFrom": {
                    "target": "com.amazonaws.omics#GeneratedFrom",
                    "traits": {
                        "smithy.api#documentation": "<p>Where the source originated.</p>"
                    }
                },
                "referenceArn": {
                    "target": "com.amazonaws.omics#ReferenceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the reference.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.omics#ReadSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the read set.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.omics#ReadSetDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the read set.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.omics#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Any tags to add to the read set.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.omics#CreateMultipartReadSetUploadResponse": {
            "type": "structure",
            "members": {
                "sequenceStoreId": {
                    "target": "com.amazonaws.omics#SequenceStoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The sequence store ID for the store that the read set will be created in.</p>",
                        "smithy.api#required": {}
                    }
                },
                "uploadId": {
                    "target": "com.amazonaws.omics#UploadId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID for the initiated multipart upload.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sourceFileType": {
                    "target": "com.amazonaws.omics#FileType",
                    "traits": {
                        "smithy.api#documentation": "<p>The file type of the read set source.</p>",
                        "smithy.api#required": {}
                    }
                },
                "subjectId": {
                    "target": "com.amazonaws.omics#SubjectId",
                    "traits": {
                        "smithy.api#documentation": "<p>The source's subject ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sampleId": {
                    "target": "com.amazonaws.omics#SampleId",
                    "traits": {
                        "smithy.api#documentation": "<p>The source's sample ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "generatedFrom": {
                    "target": "com.amazonaws.omics#GeneratedFrom",
                    "traits": {
                        "smithy.api#documentation": "<p>The source of the read set.</p>"
                    }
                },
                "referenceArn": {
                    "target": "com.amazonaws.omics#ReferenceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The read set source's reference ARN.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.omics#ReadSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the read set.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.omics#ReadSetDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the read set.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.omics#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to add to the read set.</p>"
                    }
                },
                "creationTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The creation time of the multipart upload.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.omics#CreateReferenceStore": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.omics#CreateReferenceStoreRequest"
            },
            "output": {
                "target": "com.amazonaws.omics#CreateReferenceStoreResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.omics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.omics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.omics#RequestTimeoutException"
                },
                {
                    "target": "com.amazonaws.omics#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.omics#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.omics#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to create a Reference Store",
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "smithy.api#documentation": "<p>Creates a reference store and returns metadata in JSON format. Reference stores are used to store reference genomes in FASTA format. A reference store is created when the first reference genome is imported. To import additional reference genomes from an Amazon S3 bucket, use the <code>StartReferenceImportJob</code> API operation. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/create-reference-store.html\">Creating a HealthOmics reference store</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "control-storage-"
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/referencestore"
                }
            }
        },
        "com.amazonaws.omics#CreateReferenceStoreRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.omics#ReferenceStoreName",
                    "traits": {
                        "smithy.api#documentation": "<p>A name for the store.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.omics#ReferenceStoreDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description for the store.</p>"
                    }
                },
                "sseConfig": {
                    "target": "com.amazonaws.omics#SseConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Server-side encryption (SSE) settings for the store.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.omics#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags for the store.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.omics#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>To ensure that requests don't run multiple times, specify a unique token for each request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.omics#CreateReferenceStoreResponse": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.omics#ReferenceStoreId",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "arn": {
                    "target": "com.amazonaws.omics#ReferenceStoreArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's ARN.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.omics#ReferenceStoreName",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's name.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.omics#ReferenceStoreDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's description.</p>"
                    }
                },
                "sseConfig": {
                    "target": "com.amazonaws.omics#SseConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>The store's SSE settings.</p>"
                    }
                },
                "creationTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>When the store was created.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.omics#CreateRunCache": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.omics#CreateRunCacheRequest"
            },
            "output": {
                "target": "com.amazonaws.omics#CreateRunCacheResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.omics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.omics#ConflictException"
                },
                {
                    "target": "com.amazonaws.omics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.omics#RequestTimeoutException"
                },
                {
                    "target": "com.amazonaws.omics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.omics#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.omics#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.omics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a run cache to store and reference task outputs from completed private runs. Specify an Amazon S3 location where Amazon Web Services HealthOmics saves the cached data. This data must be immediately accessible and not in an archived state. You can save intermediate task files to a run cache if they are declared as task outputs in the workflow definition file.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/workflows-call-caching.html\">Call caching</a> and <a href=\"https://docs.aws.amazon.com/omics/latest/dev/workflow-cache-create.html\">Creating a run cache</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "workflows-"
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/runCache",
                    "code": 201
                }
            }
        },
        "com.amazonaws.omics#CreateRunCacheRequest": {
            "type": "structure",
            "members": {
                "cacheBehavior": {
                    "target": "com.amazonaws.omics#CacheBehavior",
                    "traits": {
                        "smithy.api#documentation": "<p>Default cache behavior for runs that use this cache. Supported values are:</p> <p> <code>CACHE_ON_FAILURE</code>: Caches task outputs from completed tasks for runs that fail. This setting is useful if you're debugging a workflow that fails after several tasks completed successfully. The subsequent run uses the cache outputs for previously-completed tasks if the task definition, inputs, and container in ECR are identical to the prior run.</p> <p> <code>CACHE_ALWAYS</code>: Caches task outputs from completed tasks for all runs. This setting is useful in development mode, but do not use it in a production setting.</p> <p>If you don't specify a value, the default behavior is CACHE_ON_FAILURE. When you start a run that uses this cache, you can override the default cache behavior.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/how-run-cache.html#run-cache-behavior\">Run cache behavior</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>"
                    }
                },
                "cacheS3Location": {
                    "target": "com.amazonaws.omics#S3UriForBucketOrObject",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify the S3 location for storing the cached task outputs. This data must be immediately accessible (not in an archived state).</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.omics#UserCustomDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Enter a description of the run cache.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.omics#UserCustomName",
                    "traits": {
                        "smithy.api#documentation": "<p>Enter a user-friendly name for the run cache.</p>"
                    }
                },
                "requestId": {
                    "target": "com.amazonaws.omics#RunCacheRequestId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique request token, to ensure idempotency. If you don't specify a token, Amazon Web Services HealthOmics automatically generates a universally unique identifier (UUID) for the request.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.omics#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify one or more tags to associate with this run cache.</p>"
                    }
                },
                "cacheBucketOwnerId": {
                    "target": "com.amazonaws.omics#AwsAccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID of the expected owner of the S3 bucket for the run cache. If not provided, your account ID is set as the owner of the bucket.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.omics#CreateRunCacheResponse": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.omics#RunCacheArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique resource identifier for the run cache.</p>"
                    }
                },
                "id": {
                    "target": "com.amazonaws.omics#RunCacheId",
                    "traits": {
                        "smithy.api#documentation": "<p>Identifier for the run cache.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.omics#RunCacheStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Run cache status.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.omics#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags associated with this run cache.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.omics#CreateRunGroup": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.omics#CreateRunGroupRequest"
            },
            "output": {
                "target": "com.amazonaws.omics#CreateRunGroupResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.omics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.omics#ConflictException"
                },
                {
                    "target": "com.amazonaws.omics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.omics#RequestTimeoutException"
                },
                {
                    "target": "com.amazonaws.omics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.omics#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.omics#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.omics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a run group to limit the compute resources for the runs that are added to the group. Returns an ARN, ID, and tags for the run group.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "workflows-"
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/runGroup",
                    "code": 201
                }
            }
        },
        "com.amazonaws.omics#CreateRunGroupRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.omics#RunGroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>A name for the group.</p>"
                    }
                },
                "maxCpus": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of CPUs that can run concurrently across all active runs in the run group.</p>",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 100000
                        }
                    }
                },
                "maxRuns": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of runs that can be running at the same time.</p>",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 100000
                        }
                    }
                },
                "maxDuration": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum time for each run (in minutes). If a run exceeds the maximum run time, the run fails automatically.</p>",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 100000
                        }
                    }
                },
                "tags": {
                    "target": "com.amazonaws.omics#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags for the group.</p>"
                    }
                },
                "requestId": {
                    "target": "com.amazonaws.omics#RunGroupRequestId",
                    "traits": {
                        "smithy.api#documentation": "<p>To ensure that requests don't run multiple times, specify a unique ID for each request.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "maxGpus": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of GPUs that can run concurrently across all active runs in the run group.</p>",
                        "smithy.api#range": {
                            "min": 1,
                            "max": 100000
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.omics#CreateRunGroupResponse": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.omics#RunGroupArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The group's ARN.</p>"
                    }
                },
                "id": {
                    "target": "com.amazonaws.omics#RunGroupId",
                    "traits": {
                        "smithy.api#documentation": "<p>The group's ID.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.omics#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags for the run group.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.omics#CreateSequenceStore": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.omics#CreateSequenceStoreRequest"
            },
            "output": {
                "target": "com.amazonaws.omics#CreateSequenceStoreResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.omics#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.omics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.omics#RequestTimeoutException"
                },
                {
                    "target": "com.amazonaws.omics#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.omics#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.omics#ValidationException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to create a Sequence Store",
                "aws.iam#conditionKeys": [
                    "aws:RequestTag/${TagKey}",
                    "aws:TagKeys"
                ],
                "smithy.api#documentation": "<p>Creates a sequence store and returns its metadata. Sequence stores are used to store sequence data files called read sets that are saved in FASTQ, BAM, uBAM, or CRAM formats. For aligned formats (BAM and CRAM), a sequence store can only use one reference genome. For unaligned formats (FASTQ and uBAM), a reference genome is not required. You can create multiple sequence stores per region per account. </p> <p>The following are optional parameters you can specify for your sequence store:</p> <ul> <li> <p>Use <code>s3AccessConfig</code> to configure your sequence store with S3 access logs (recommended).</p> </li> <li> <p>Use <code>sseConfig</code> to define your own KMS key for encryption.</p> </li> <li> <p>Use <code>eTagAlgorithmFamily</code> to define which algorithm to use for the HealthOmics eTag on objects.</p> </li> <li> <p>Use <code>fallbackLocation</code> to define a backup location for storing files that have failed a direct upload.</p> </li> <li> <p>Use <code>propagatedSetLevelTags</code> to configure tags that propagate to all objects in your store.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/create-sequence-store.html\">Creating a HealthOmics sequence store</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
                "smithy.api#endpoint": {
                    "hostPrefix": "control-storage-"
                },
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/sequencestore"
                }
            }
        },
        "com.amazonaws.omics#CreateSequenceStoreRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.omics#SequenceStoreName",
                    "traits": {
                        "smithy.api#documentation": "<p>A name for the store.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.omics#SequenceStoreDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description for the store.</p>"
                    }
                },
                "sseConfig": {
                    "target": "com.amazonaws.omics#SseConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Server-side encryption (SSE) settings for the store.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.omics#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags for the store. You can configure up to 50 tags.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.omics#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>An idempotency token used to dedupe retry requests so that duplicate runs are not created.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "fallbackLocation": {
                    "target": "com.amazonaws.omics#FallbackLocation",
                    "traits": {
                        "smithy.api#documentation": "<p>An S3 location that is used to store files that have failed a direct upload. You can add or change the <code>fallbackLocation</code> after creating a sequence store. This is not required if you are uploading files from a different S3 bucket.</p>"
                    }
                },
                "eTagAlgorithmFamily": {
                    "target": "com.amazonaws.omics#ETagAlgorithmFamily",
                    "traits": {
                        "smithy.api#documentation": "<p>The ETag algorithm family to use for ingested read sets. The default value is MD5up. For more information on ETags, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/etags-and-provenance.html\">ETags and data provenance</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>"
                    }
                },
                "propagatedSetLevelTags": {
                    "target": "com.amazonaws.omics#PropagatedSetLevelTags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags keys to propagate to the S3 objects associated with read sets in the sequence store. These tags can be used as input to add metadata to your read sets.</p>"
                    }
                },
                "s3AccessConfig": {
                    "target": "com.amazonaws.omics#S3AccessConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>S3 access configuration parameters. This specifies the parameters needed to access logs stored in S3 buckets. The S3 bucket must be in the same region and account as the sequence store. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
[...]
