{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.opensearchserverless#AccessPolicy": {
            "type": "resource",
            "identifiers": {
                "type": {
                    "target": "com.amazonaws.opensearchserverless#AccessPolicyType"
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#PolicyName"
                }
            },
            "put": {
                "target": "com.amazonaws.opensearchserverless#CreateAccessPolicy"
            },
            "read": {
                "target": "com.amazonaws.opensearchserverless#GetAccessPolicy"
            },
            "update": {
                "target": "com.amazonaws.opensearchserverless#UpdateAccessPolicy"
            },
            "delete": {
                "target": "com.amazonaws.opensearchserverless#DeleteAccessPolicy"
            },
            "list": {
                "target": "com.amazonaws.opensearchserverless#ListAccessPolicies"
            },
            "traits": {
                "aws.cloudformation#cfnResource": {
                    "name": "AccessPolicy"
                }
            }
        },
        "com.amazonaws.opensearchserverless#AccessPolicyDetail": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.opensearchserverless#AccessPolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of access policy.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the policy.</p>"
                    }
                },
                "policyVersion": {
                    "target": "com.amazonaws.opensearchserverless#PolicyVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the policy.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.opensearchserverless#PolicyDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the policy.</p>"
                    }
                },
                "policy": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "<p>The JSON policy document without any whitespaces.</p>"
                    }
                },
                "createdDate": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The date the policy was created.</p>"
                    }
                },
                "lastModifiedDate": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp of when the policy was last modified.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details about an OpenSearch Serverless access policy.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#AccessPolicyStats": {
            "type": "structure",
            "members": {
                "DataPolicyCount": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of data access policies in the current account.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Statistics for an OpenSearch Serverless access policy.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#AccessPolicySummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.opensearchserverless#AccessPolicySummary"
            }
        },
        "com.amazonaws.opensearchserverless#AccessPolicySummary": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.opensearchserverless#AccessPolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of access policy. Currently, the only available type is <code>data</code>.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the access policy.</p>"
                    }
                },
                "policyVersion": {
                    "target": "com.amazonaws.opensearchserverless#PolicyVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the policy.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.opensearchserverless#PolicyDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the access policy.</p>"
                    }
                },
                "createdDate": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The Epoch time when the access policy was created.</p>"
                    }
                },
                "lastModifiedDate": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the collection was last modified.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A summary of the data access policy.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#AccessPolicyType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "data",
                        "value": "data",
                        "documentation": "data policy type"
                    }
                ]
            }
        },
        "com.amazonaws.opensearchserverless#AccountSettingsDetail": {
            "type": "structure",
            "members": {
                "capacityLimits": {
                    "target": "com.amazonaws.opensearchserverless#CapacityLimits"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>OpenSearch Serverless-related information for the current account.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1011
                }
            }
        },
        "com.amazonaws.opensearchserverless#BatchGetCollection": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#BatchGetCollectionRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#BatchGetCollectionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns attributes for one or more collections, including the collection endpoint, the OpenSearch Dashboards endpoint, and FIPS-compliant endpoints. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-manage.html\">Creating and managing Amazon OpenSearch Serverless collections</a>.</p>",
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.opensearchserverless#BatchGetCollectionRequest": {
            "type": "structure",
            "members": {
                "ids": {
                    "target": "com.amazonaws.opensearchserverless#CollectionIds",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of collection IDs. You can't provide names and IDs in the same request. The ID is part of the collection endpoint. You can also retrieve it using the <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/ServerlessAPIReference/API_ListCollections.html\">ListCollections</a> API.</p>"
                    }
                },
                "names": {
                    "target": "com.amazonaws.opensearchserverless#CollectionNames",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of collection names. You can't provide names and IDs in the same request.</p>"
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#BatchGetCollectionResponse": {
            "type": "structure",
            "members": {
                "collectionDetails": {
                    "target": "com.amazonaws.opensearchserverless#CollectionDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about each collection.</p>"
                    }
                },
                "collectionErrorDetails": {
                    "target": "com.amazonaws.opensearchserverless#CollectionErrorDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>Error information for the request.</p>"
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#BatchGetEffectiveLifecyclePolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#BatchGetEffectiveLifecyclePolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#BatchGetEffectiveLifecyclePolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns a list of successful and failed retrievals for the OpenSearch Serverless indexes. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-lifecycle.html#serverless-lifecycle-list\">Viewing data lifecycle policies</a>.</p>",
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.opensearchserverless#BatchGetEffectiveLifecyclePolicyRequest": {
            "type": "structure",
            "members": {
                "resourceIdentifiers": {
                    "target": "com.amazonaws.opensearchserverless#LifecyclePolicyResourceIdentifiers",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifiers of policy types and resource names.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.opensearchserverless#BatchGetEffectiveLifecyclePolicyResponse": {
            "type": "structure",
            "members": {
                "effectiveLifecyclePolicyDetails": {
                    "target": "com.amazonaws.opensearchserverless#EffectiveLifecyclePolicyDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of lifecycle policies applied to the OpenSearch Serverless indexes.</p>"
                    }
                },
                "effectiveLifecyclePolicyErrorDetails": {
                    "target": "com.amazonaws.opensearchserverless#EffectiveLifecyclePolicyErrorDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of resources for which retrieval failed.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.opensearchserverless#BatchGetLifecyclePolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#BatchGetLifecyclePolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#BatchGetLifecyclePolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns one or more configured OpenSearch Serverless lifecycle policies. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-lifecycle.html#serverless-lifecycle-list\">Viewing data lifecycle policies</a>.</p>",
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.opensearchserverless#BatchGetLifecyclePolicyRequest": {
            "type": "structure",
            "members": {
                "identifiers": {
                    "target": "com.amazonaws.opensearchserverless#LifecyclePolicyIdentifiers",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifiers of policy types and policy names.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.opensearchserverless#BatchGetLifecyclePolicyResponse": {
            "type": "structure",
            "members": {
                "lifecyclePolicyDetails": {
                    "target": "com.amazonaws.opensearchserverless#LifecyclePolicyDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of lifecycle policies matched to the input policy name and policy type.</p>"
                    }
                },
                "lifecyclePolicyErrorDetails": {
                    "target": "com.amazonaws.opensearchserverless#LifecyclePolicyErrorDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of lifecycle policy names and policy types for which retrieval failed.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.opensearchserverless#BatchGetVpcEndpoint": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#BatchGetVpcEndpointRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#BatchGetVpcEndpointResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns attributes for one or more VPC endpoints associated with the current account. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-vpc.html\">Access Amazon OpenSearch Serverless using an interface endpoint</a>.</p>",
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.opensearchserverless#BatchGetVpcEndpointRequest": {
            "type": "structure",
            "members": {
                "ids": {
                    "target": "com.amazonaws.opensearchserverless#VpcEndpointIds",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of VPC endpoint identifiers.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#BatchGetVpcEndpointResponse": {
            "type": "structure",
            "members": {
                "vpcEndpointDetails": {
                    "target": "com.amazonaws.opensearchserverless#VpcEndpointDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the specified VPC endpoint.</p>"
                    }
                },
                "vpcEndpointErrorDetails": {
                    "target": "com.amazonaws.opensearchserverless#VpcEndpointErrorDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>Error information for a failed request.</p>"
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#CapacityLimits": {
            "type": "structure",
            "members": {
                "maxIndexingCapacityInOCU": {
                    "target": "com.amazonaws.opensearchserverless#IndexingCapacityValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum indexing capacity for collections.</p>"
                    }
                },
                "maxSearchCapacityInOCU": {
                    "target": "com.amazonaws.opensearchserverless#SearchCapacityValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum search capacity for collections.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The maximum capacity limits for all OpenSearch Serverless collections, in OpenSearch Compute Units (OCUs). These limits are used to scale your collections based on the current workload. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-scaling.html\">Managing capacity limits for Amazon OpenSearch Serverless</a>.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 512
                }
            }
        },
        "com.amazonaws.opensearchserverless#Collection": {
            "type": "resource",
            "identifiers": {
                "id": {
                    "target": "com.amazonaws.opensearchserverless#CollectionId"
                }
            },
            "create": {
                "target": "com.amazonaws.opensearchserverless#CreateCollection"
            },
            "update": {
                "target": "com.amazonaws.opensearchserverless#UpdateCollection"
            },
            "delete": {
                "target": "com.amazonaws.opensearchserverless#DeleteCollection"
            },
            "list": {
                "target": "com.amazonaws.opensearchserverless#ListCollections"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "collection/{id}"
                },
                "aws.cloudformation#cfnResource": {
                    "name": "Collection"
                }
            }
        },
        "com.amazonaws.opensearchserverless#CollectionDetail": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.opensearchserverless#CollectionId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier for the collection.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#CollectionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the collection.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.opensearchserverless#CollectionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the collection.</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.opensearchserverless#CollectionType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of collection.</p>"
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the collection.</p>"
                    }
                },
                "arn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the collection.</p>"
                    }
                },
                "kmsKeyArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the Amazon Web Services KMS key used to encrypt the collection.</p>"
                    }
                },
                "standbyReplicas": {
                    "target": "com.amazonaws.opensearchserverless#StandbyReplicas",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about an OpenSearch Serverless collection.</p>"
                    }
                },
                "createdDate": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The Epoch time when the collection was created.</p>"
                    }
                },
                "lastModifiedDate": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the collection was last modified.</p>"
                    }
                },
                "collectionEndpoint": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Collection-specific endpoint used to submit index, search, and data upload requests to an OpenSearch Serverless collection.</p>"
                    }
                },
                "dashboardEndpoint": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Collection-specific endpoint used to access OpenSearch Dashboards.</p>"
                    }
                },
                "fipsEndpoints": {
                    "target": "com.amazonaws.opensearchserverless#FipsEndpoints",
                    "traits": {
                        "smithy.api#documentation": "<p>FIPS-compliant endpoints for the collection. These endpoints use FIPS 140-3 validated cryptographic modules and are required for federal government workloads that must comply with FedRAMP security standards.</p>"
                    }
                },
                "failureCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A failure code associated with the request.</p>"
                    }
                },
                "failureMessage": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A message associated with the failure code.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details about each OpenSearch Serverless collection, including the collection endpoint, the OpenSearch Dashboards endpoint, and FIPS-compliant endpoints for federal government workloads.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#CollectionDetails": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.opensearchserverless#CollectionDetail"
            }
        },
        "com.amazonaws.opensearchserverless#CollectionErrorDetail": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.opensearchserverless#CollectionId",
                    "traits": {
                        "smithy.api#documentation": "<p>If the request contains collection IDs, the response includes the IDs provided in the request.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#CollectionName",
                    "traits": {
                        "smithy.api#documentation": "<p>If the request contains collection names, the response includes the names provided in the request.</p>"
                    }
                },
                "errorMessage": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the error. For example, <code>The specified Collection is not found.</code> </p>"
                    }
                },
                "errorCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The error code for the request. For example, <code>NOT_FOUND</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Error information for an OpenSearch Serverless request.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#CollectionErrorDetails": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.opensearchserverless#CollectionErrorDetail"
            }
        },
        "com.amazonaws.opensearchserverless#CollectionFilters": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.opensearchserverless#CollectionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the collection.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.opensearchserverless#CollectionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the collection.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A list of filter keys that you can use for LIST, UPDATE, and DELETE requests to OpenSearch Serverless collections.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#CollectionId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 3,
                    "max": 40
                },
                "smithy.api#pattern": "^[a-z0-9]{3,40}$"
            }
        },
        "com.amazonaws.opensearchserverless#CollectionIds": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.opensearchserverless#CollectionId"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.opensearchserverless#CollectionName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 3,
                    "max": 32
                },
                "smithy.api#pattern": "^[a-z][a-z0-9-]+$"
            }
        },
        "com.amazonaws.opensearchserverless#CollectionNames": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.opensearchserverless#CollectionName"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.opensearchserverless#CollectionStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "CREATING",
                        "value": "CREATING",
                        "documentation": "Creating collection resource"
                    },
                    {
                        "name": "DELETING",
                        "value": "DELETING",
                        "documentation": "Deleting collection resource"
                    },
                    {
                        "name": "ACTIVE",
                        "value": "ACTIVE",
                        "documentation": "Collection resource is ready to use"
                    },
                    {
                        "name": "FAILED",
                        "value": "FAILED",
                        "documentation": "Collection resource create or delete failed"
                    }
                ]
            }
        },
        "com.amazonaws.opensearchserverless#CollectionSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.opensearchserverless#CollectionSummary"
            }
        },
        "com.amazonaws.opensearchserverless#CollectionSummary": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.opensearchserverless#CollectionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the collection.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#CollectionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the collection.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.opensearchserverless#CollectionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the collection.</p>"
                    }
                },
                "arn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the collection.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details about each OpenSearch Serverless collection.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#CollectionType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "SEARCH",
                        "value": "SEARCH",
                        "documentation": "Search collection type"
                    },
                    {
                        "name": "TIMESERIES",
                        "value": "TIMESERIES",
                        "documentation": "Timeseries collection type"
                    },
                    {
                        "name": "VECTORSEARCH",
                        "value": "VECTORSEARCH",
                        "documentation": "Vectorsearch collection type"
                    }
                ]
            }
        },
        "com.amazonaws.opensearchserverless#ConfigDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1000
                }
            }
        },
        "com.amazonaws.opensearchserverless#ConfigName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 3,
                    "max": 32
                },
                "smithy.api#pattern": "^[a-z][a-z0-9-]+$"
            }
        },
        "com.amazonaws.opensearchserverless#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>When creating a resource, thrown when a resource with the same name already exists or is being created. When deleting a resource, thrown when the resource is not in the ACTIVE or FAILED state.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.opensearchserverless#CreateAccessPolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#CreateAccessPolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#CreateAccessPolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#ConflictException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a data access policy for OpenSearch Serverless. Access policies limit access to collections and the resources within them, and allow a user to access that data irrespective of the access mechanism or network source. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-data-access.html\">Data access control for Amazon OpenSearch Serverless</a>.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.opensearchserverless#CreateAccessPolicyRequest": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.opensearchserverless#AccessPolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.opensearchserverless#PolicyDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the policy. Typically used to store information about the permissions defined in the policy.</p>"
                    }
                },
                "policy": {
                    "target": "com.amazonaws.opensearchserverless#PolicyDocument",
                    "traits": {
                        "smithy.api#documentation": "<p>The JSON policy document to use as the content for the policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.opensearchserverless#ClientToken",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#CreateAccessPolicyResponse": {
            "type": "structure",
            "members": {
                "accessPolicyDetail": {
                    "target": "com.amazonaws.opensearchserverless#AccessPolicyDetail",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the created access policy.</p>"
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#CreateCollection": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#CreateCollectionRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#CreateCollectionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#ConflictException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#OcuLimitExceededException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new OpenSearch Serverless collection. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-manage.html\">Creating and managing Amazon OpenSearch Serverless collections</a>.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.opensearchserverless#CreateCollectionDetail": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.opensearchserverless#CollectionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the collection.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#CollectionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the collection.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.opensearchserverless#CollectionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the collection.</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.opensearchserverless#CollectionType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of collection.</p>"
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the collection.</p>"
                    }
                },
                "arn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the collection.</p>"
                    }
                },
                "kmsKeyArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key with which to encrypt the collection.</p>"
                    }
                },
                "standbyReplicas": {
                    "target": "com.amazonaws.opensearchserverless#StandbyReplicas",
                    "traits": {
                        "smithy.api#documentation": "<p>Creates details about an OpenSearch Serverless collection.</p>"
                    }
                },
                "createdDate": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The Epoch time when the collection was created.</p>"
                    }
                },
                "lastModifiedDate": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the collection was last modified.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details about the created OpenSearch Serverless collection.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#CreateCollectionRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.opensearchserverless#CollectionName",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the collection.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.opensearchserverless#CollectionType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of collection.</p>"
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Description of the collection.</p>",
                        "smithy.api#length": {
                            "max": 1000
                        }
                    }
                },
                "tags": {
                    "target": "com.amazonaws.opensearchserverless#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>An arbitrary set of tags (key–value pairs) to associate with the OpenSearch Serverless collection.</p>"
                    }
                },
                "standbyReplicas": {
                    "target": "com.amazonaws.opensearchserverless#StandbyReplicas",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether standby replicas should be used for a collection.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.opensearchserverless#ClientToken",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#CreateCollectionResponse": {
            "type": "structure",
            "members": {
                "createCollectionDetail": {
                    "target": "com.amazonaws.opensearchserverless#CreateCollectionDetail",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the collection.</p>"
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#CreateIamIdentityCenterConfigOptions": {
            "type": "structure",
            "members": {
                "instanceArn": {
                    "target": "com.amazonaws.opensearchserverless#IamIdentityCenterInstanceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance used to integrate with OpenSearch Serverless.</p>",
                        "smithy.api#required": {}
                    }
                },
                "userAttribute": {
                    "target": "com.amazonaws.opensearchserverless#IamIdentityCenterUserAttribute",
                    "traits": {
                        "smithy.api#documentation": "<p>The user attribute for this IAM Identity Center integration. Defaults to <code>UserId</code>.</p>"
                    }
                },
                "groupAttribute": {
                    "target": "com.amazonaws.opensearchserverless#IamIdentityCenterGroupAttribute",
                    "traits": {
                        "smithy.api#documentation": "<p>The group attribute for this IAM Identity Center integration. Defaults to <code>GroupId</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes IAM Identity Center options for creating an OpenSearch Serverless security configuration in the form of a key-value map.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#CreateIndex": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#CreateIndexRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#CreateIndexResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#ConflictException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an index within an OpenSearch Serverless collection. Unlike other OpenSearch indexes, indexes created by this API are automatically configured to conduct automatic semantic enrichment ingestion and search. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-manage.html#serverless-semantic-enrichment\">About automatic semantic enrichment</a> in the <i>OpenSearch User Guide</i>.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.opensearchserverless#CreateIndexRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.opensearchserverless#CollectionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the collection in which to create the index.</p>",
                        "smithy.api#required": {}
                    }
                },
                "indexName": {
                    "target": "com.amazonaws.opensearchserverless#IndexName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the index to create. Index names must be lowercase and can't begin with underscores (_) or hyphens (-).</p>",
                        "smithy.api#required": {}
                    }
                },
                "indexSchema": {
                    "target": "com.amazonaws.opensearchserverless#IndexSchema",
                    "traits": {
                        "smithy.api#documentation": "<p>The JSON schema definition for the index, including field mappings and settings.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.opensearchserverless#CreateIndexResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.opensearchserverless#CreateLifecyclePolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#CreateLifecyclePolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#CreateLifecyclePolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#ConflictException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a lifecyle policy to be applied to OpenSearch Serverless indexes. Lifecycle policies define the number of days or hours to retain the data on an OpenSearch Serverless index. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-lifecycle.html#serverless-lifecycle-create\">Creating data lifecycle policies</a>.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.opensearchserverless#CreateLifecyclePolicyRequest": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.opensearchserverless#LifecyclePolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of lifecycle policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the lifecycle policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.opensearchserverless#PolicyDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the lifecycle policy.</p>"
                    }
                },
                "policy": {
                    "target": "com.amazonaws.opensearchserverless#PolicyDocument",
                    "traits": {
                        "smithy.api#documentation": "<p>The JSON policy document to use as the content for the lifecycle policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.opensearchserverless#ClientToken",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.opensearchserverless#CreateLifecyclePolicyResponse": {
            "type": "structure",
            "members": {
                "lifecyclePolicyDetail": {
                    "target": "com.amazonaws.opensearchserverless#LifecyclePolicyDetail",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the created lifecycle policy.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.opensearchserverless#CreateSecurityConfig": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#CreateSecurityConfigRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#CreateSecurityConfigResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#ConflictException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Specifies a security configuration for OpenSearch Serverless. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-saml.html\">SAML authentication for Amazon OpenSearch Serverless</a>.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.opensearchserverless#CreateSecurityConfigRequest": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.opensearchserverless#SecurityConfigType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of security configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#ConfigName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the security configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.opensearchserverless#ConfigDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the security configuration.</p>"
                    }
                },
                "samlOptions": {
                    "target": "com.amazonaws.opensearchserverless#SamlConfigOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes SAML options in in the form of a key-value map. This field is required if you specify <code>SAML</code> for the <code>type</code> parameter.</p>"
                    }
                },
                "iamIdentityCenterOptions": {
                    "target": "com.amazonaws.opensearchserverless#CreateIamIdentityCenterConfigOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes IAM Identity Center options in the form of a key-value map. This field is required if you specify iamidentitycenter for the type parameter.</p>"
                    }
                },
                "iamFederationOptions": {
                    "target": "com.amazonaws.opensearchserverless#IamFederationConfigOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes IAM federation options in the form of a key-value map. This field is required if you specify <code>iamFederation</code> for the <code>type</code> parameter.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.opensearchserverless#ClientToken",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#CreateSecurityConfigResponse": {
            "type": "structure",
            "members": {
                "securityConfigDetail": {
                    "target": "com.amazonaws.opensearchserverless#SecurityConfigDetail",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the created security configuration.</p>"
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#CreateSecurityPolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#CreateSecurityPolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#CreateSecurityPolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#ConflictException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a security policy to be used by one or more OpenSearch Serverless collections. Security policies provide access to a collection and its OpenSearch Dashboards endpoint from public networks or specific VPC endpoints. They also allow you to secure a collection with a KMS encryption key. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-network.html\">Network access for Amazon OpenSearch Serverless</a> and <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-encryption.html\">Encryption at rest for Amazon OpenSearch Serverless</a>.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.opensearchserverless#CreateSecurityPolicyRequest": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.opensearchserverless#SecurityPolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of security policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.opensearchserverless#PolicyDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the policy. Typically used to store information about the permissions defined in the policy.</p>"
                    }
                },
                "policy": {
                    "target": "com.amazonaws.opensearchserverless#PolicyDocument",
                    "traits": {
                        "smithy.api#documentation": "<p>The JSON policy document to use as the content for the new policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.opensearchserverless#ClientToken",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#CreateSecurityPolicyResponse": {
            "type": "structure",
            "members": {
                "securityPolicyDetail": {
                    "target": "com.amazonaws.opensearchserverless#SecurityPolicyDetail",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the created security policy.</p>"
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#CreateVpcEndpoint": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#CreateVpcEndpointRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#CreateVpcEndpointResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#ConflictException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an OpenSearch Serverless-managed interface VPC endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-vpc.html\">Access Amazon OpenSearch Serverless using an interface endpoint</a>.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.opensearchserverless#CreateVpcEndpointDetail": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.opensearchserverless#VpcEndpointId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the endpoint.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#VpcEndpointName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the endpoint.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.opensearchserverless#VpcEndpointStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status in the endpoint creation process.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Creation details for an OpenSearch Serverless-managed interface endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-vpc.html\">Access Amazon OpenSearch Serverless using an interface endpoint</a>.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#CreateVpcEndpointRequest": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.opensearchserverless#VpcEndpointName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the interface endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "vpcId": {
                    "target": "com.amazonaws.opensearchserverless#VpcId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the VPC from which you'll access OpenSearch Serverless.</p>",
                        "smithy.api#required": {}
                    }
                },
                "subnetIds": {
                    "target": "com.amazonaws.opensearchserverless#SubnetIds",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of one or more subnets from which you'll access OpenSearch Serverless.</p>",
                        "smithy.api#required": {}
                    }
                },
                "securityGroupIds": {
                    "target": "com.amazonaws.opensearchserverless#SecurityGroupIds",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifiers of the security groups that define the ports, protocols, and sources for inbound traffic that you are authorizing into your endpoint.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.opensearchserverless#ClientToken",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#CreateVpcEndpointResponse": {
            "type": "structure",
            "members": {
                "createVpcEndpointDetail": {
                    "target": "com.amazonaws.opensearchserverless#CreateVpcEndpointDetail",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the created interface VPC endpoint.</p>"
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#DeleteAccessPolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#DeleteAccessPolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#DeleteAccessPolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#ConflictException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an OpenSearch Serverless access policy. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-data-access.html\">Data access control for Amazon OpenSearch Serverless</a>.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.opensearchserverless#DeleteAccessPolicyRequest": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.opensearchserverless#AccessPolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the policy to delete.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.opensearchserverless#ClientToken",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#DeleteAccessPolicyResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.opensearchserverless#DeleteCollection": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#DeleteCollectionRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#DeleteCollectionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#ConflictException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an OpenSearch Serverless collection. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-manage.html\">Creating and managing Amazon OpenSearch Serverless collections</a>.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.opensearchserverless#DeleteCollectionDetail": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.opensearchserverless#CollectionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the collection.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#CollectionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the collection.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.opensearchserverless#CollectionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the collection.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details about a deleted OpenSearch Serverless collection.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#DeleteCollectionRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.opensearchserverless#CollectionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the collection. For example, <code>1iu5usc406kd</code>. The ID is part of the collection endpoint. You can also retrieve it using the <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/ServerlessAPIReference/API_ListCollections.html\">ListCollections</a> API.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.opensearchserverless#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#DeleteCollectionResponse": {
            "type": "structure",
            "members": {
                "deleteCollectionDetail": {
                    "target": "com.amazonaws.opensearchserverless#DeleteCollectionDetail",
                    "traits": {
                        "smithy.api#documentation": "<p>Details of the deleted collection.</p>"
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#DeleteIndex": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#DeleteIndexRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#DeleteIndexResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an index from an OpenSearch Serverless collection. Be aware that the index might be configured to conduct automatic semantic enrichment ingestion and search. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-manage.html#serverless-semantic-enrichment\">About automatic semantic enrichment</a>.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.opensearchserverless#DeleteIndexRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.opensearchserverless#CollectionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the collection containing the index to delete.</p>",
                        "smithy.api#required": {}
                    }
                },
                "indexName": {
                    "target": "com.amazonaws.opensearchserverless#IndexName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the index to delete.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.opensearchserverless#DeleteIndexResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.opensearchserverless#DeleteLifecyclePolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#DeleteLifecyclePolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#DeleteLifecyclePolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#ConflictException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an OpenSearch Serverless lifecycle policy. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-lifecycle.html#serverless-lifecycle-delete\">Deleting data lifecycle policies</a>.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.opensearchserverless#DeleteLifecyclePolicyRequest": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.opensearchserverless#LifecyclePolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of lifecycle policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the policy to delete.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.opensearchserverless#ClientToken",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.opensearchserverless#DeleteLifecyclePolicyResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.opensearchserverless#DeleteSecurityConfig": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#DeleteSecurityConfigRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#DeleteSecurityConfigResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#ConflictException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a security configuration for OpenSearch Serverless. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-saml.html\">SAML authentication for Amazon OpenSearch Serverless</a>.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.opensearchserverless#DeleteSecurityConfigRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.opensearchserverless#SecurityConfigId",
                    "traits": {
                        "smithy.api#documentation": "<p>The security configuration identifier. For SAML the ID will be <code>saml/&lt;accountId&gt;/&lt;idpProviderName&gt;</code>. For example, <code>saml/123456789123/OKTADev</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.opensearchserverless#ClientToken",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#DeleteSecurityConfigResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.opensearchserverless#DeleteSecurityPolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#DeleteSecurityPolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#DeleteSecurityPolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#ConflictException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an OpenSearch Serverless security policy.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.opensearchserverless#DeleteSecurityPolicyRequest": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.opensearchserverless#SecurityPolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the policy to delete.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.opensearchserverless#ClientToken",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#DeleteSecurityPolicyResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.opensearchserverless#DeleteVpcEndpoint": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#DeleteVpcEndpointRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#DeleteVpcEndpointResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#ConflictException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an OpenSearch Serverless-managed interface endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-vpc.html\">Access Amazon OpenSearch Serverless using an interface endpoint</a>.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.opensearchserverless#DeleteVpcEndpointDetail": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.opensearchserverless#VpcEndpointId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the endpoint.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#VpcEndpointName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the endpoint.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.opensearchserverless#VpcEndpointStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the endpoint deletion process.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Deletion details for an OpenSearch Serverless-managed interface endpoint.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#DeleteVpcEndpointRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.opensearchserverless#VpcEndpointId",
                    "traits": {
                        "smithy.api#documentation": "<p>The VPC endpoint identifier.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.opensearchserverless#ClientToken",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#DeleteVpcEndpointResponse": {
            "type": "structure",
            "members": {
                "deleteVpcEndpointDetail": {
                    "target": "com.amazonaws.opensearchserverless#DeleteVpcEndpointDetail",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the deleted endpoint.</p>"
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#EffectiveLifecyclePolicyDetail": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.opensearchserverless#LifecyclePolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of lifecycle policy.</p>"
                    }
                },
                "resource": {
                    "target": "com.amazonaws.opensearchserverless#Resource",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the OpenSearch Serverless index resource.</p>"
                    }
                },
                "policyName": {
                    "target": "com.amazonaws.opensearchserverless#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the lifecycle policy.</p>"
                    }
                },
                "resourceType": {
                    "target": "com.amazonaws.opensearchserverless#ResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of OpenSearch Serverless resource. Currently, the only supported resource is <code>index</code>.</p>"
                    }
                },
                "retentionPeriod": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The minimum number of index retention in days or hours. This is an optional parameter that will return only if it’s set.</p>"
                    }
                },
                "noMinRetentionPeriod": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>The minimum number of index retention days set. That is an optional param that will return as <code>true</code> if the minimum number of days or hours is not set to a index resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Error information for an OpenSearch Serverless request.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#EffectiveLifecyclePolicyDetails": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.opensearchserverless#EffectiveLifecyclePolicyDetail"
            }
        },
        "com.amazonaws.opensearchserverless#EffectiveLifecyclePolicyErrorDetail": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.opensearchserverless#LifecyclePolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of lifecycle policy.</p>"
                    }
                },
                "resource": {
                    "target": "com.amazonaws.opensearchserverless#Resource",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of OpenSearch Serverless index resource.</p>"
                    }
                },
                "errorMessage": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the error. For example, <code>The specified Index resource is not found</code>.</p>"
                    }
                },
                "errorCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The error code for the request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Error information for an OpenSearch Serverless request.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#EffectiveLifecyclePolicyErrorDetails": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.opensearchserverless#EffectiveLifecyclePolicyErrorDetail"
            }
        },
        "com.amazonaws.opensearchserverless#FipsEndpoints": {
            "type": "structure",
            "members": {
                "collectionEndpoint": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>FIPS-compliant collection endpoint used to submit index, search, and data upload requests to an OpenSearch Serverless collection. This endpoint uses FIPS 140-3 validated cryptography and is required for federal government workloads.</p>"
                    }
                },
                "dashboardEndpoint": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>FIPS-compliant endpoint used to access OpenSearch Dashboards. This endpoint uses FIPS 140-3 validated cryptography and is required for federal government workloads that need dashboard visualization capabilities.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>FIPS-compliant endpoint URLs for an OpenSearch Serverless collection. These endpoints ensure all data transmission uses FIPS 140-3 validated cryptographic implementations, meeting federal security requirements for government workloads.</p>"
            }
        },
        "com.amazonaws.opensearchserverless#GetAccessPolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#GetAccessPolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#GetAccessPolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns an OpenSearch Serverless access policy. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-data-access.html\">Data access control for Amazon OpenSearch Serverless</a>.</p>",
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.opensearchserverless#GetAccessPolicyRequest": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.opensearchserverless#AccessPolicyType",
                    "traits": {
                        "smithy.api#documentation": "<p>Tye type of policy. Currently, the only supported value is <code>data</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.opensearchserverless#PolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the access policy.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#GetAccessPolicyResponse": {
            "type": "structure",
            "members": {
                "accessPolicyDetail": {
                    "target": "com.amazonaws.opensearchserverless#AccessPolicyDetail",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the requested access policy.</p>"
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#GetAccountSettings": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#GetAccountSettingsRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#GetAccountSettingsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns account-level settings related to OpenSearch Serverless.</p>",
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.opensearchserverless#GetAccountSettingsRequest": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.opensearchserverless#GetAccountSettingsResponse": {
            "type": "structure",
            "members": {
                "accountSettingsDetail": {
                    "target": "com.amazonaws.opensearchserverless#AccountSettingsDetail",
                    "traits": {
                        "smithy.api#documentation": "<p>OpenSearch Serverless-related details for the current account.</p>"
                    }
                }
            }
        },
        "com.amazonaws.opensearchserverless#GetIndex": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opensearchserverless#GetIndexRequest"
            },
            "output": {
                "target": "com.amazonaws.opensearchserverless#GetIndexResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opensearchserverless#InternalServerException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opensearchserverless#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves information about an index in an OpenSearch Serverless collection, including its schema definition. The index might be configured to conduct automatic semantic enrichment ingestion and search. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-manage.html#serverless-semantic-enrichment\">About automatic semantic enrichment</a>.</p>",
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.opensearchserverless#GetIndexRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.opensearchserverless#CollectionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the collection containing the index.</p>",
                        "smithy.api#required": {}
                    }
                },
                "indexName": {
                    "target": "com.amazonaws.opensearchserverless#IndexName",
                    "traits": {
[...]
