{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.opsworks#AgentVersion": {
            "type": "structure",
            "members": {
                "Version": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The agent version.</p>"
                    }
                },
                "ConfigurationManager": {
                    "target": "com.amazonaws.opsworks#StackConfigurationManager",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration manager.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an agent version.</p>"
            }
        },
        "com.amazonaws.opsworks#AgentVersions": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.opsworks#AgentVersion"
            }
        },
        "com.amazonaws.opsworks#App": {
            "type": "structure",
            "members": {
                "AppId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The app ID.</p>"
                    }
                },
                "StackId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The app stack ID.</p>"
                    }
                },
                "Shortname": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The app's short name.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The app name.</p>"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the app.</p>"
                    }
                },
                "DataSources": {
                    "target": "com.amazonaws.opsworks#DataSources",
                    "traits": {
                        "smithy.api#documentation": "<p>The app's data sources.</p>"
                    }
                },
                "Type": {
                    "target": "com.amazonaws.opsworks#AppType",
                    "traits": {
                        "smithy.api#documentation": "<p>The app type.</p>"
                    }
                },
                "AppSource": {
                    "target": "com.amazonaws.opsworks#Source",
                    "traits": {
                        "smithy.api#documentation": "<p>A <code>Source</code> object that describes the app repository.</p>"
                    }
                },
                "Domains": {
                    "target": "com.amazonaws.opsworks#Strings",
                    "traits": {
                        "smithy.api#documentation": "<p>The app vhost settings with multiple domains separated by commas. For example:\n        <code>'www.example.com, example.com'</code>\n         </p>"
                    }
                },
                "EnableSsl": {
                    "target": "com.amazonaws.opsworks#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether to enable SSL for the app.</p>"
                    }
                },
                "SslConfiguration": {
                    "target": "com.amazonaws.opsworks#SslConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>An <code>SslConfiguration</code> object with the SSL configuration.</p>"
                    }
                },
                "Attributes": {
                    "target": "com.amazonaws.opsworks#AppAttributes",
                    "traits": {
                        "smithy.api#documentation": "<p>The stack attributes.</p>"
                    }
                },
                "CreatedAt": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>When the app was created.</p>"
                    }
                },
                "Environment": {
                    "target": "com.amazonaws.opsworks#EnvironmentVariables",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of <code>EnvironmentVariable</code> objects that specify environment variables to be\n      associated with the app. After you deploy the app, these variables are defined on the\n      associated app server instances. For more information, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workingapps-creating.html#workingapps-creating-environment\"> Environment Variables</a>. </p>\n         <note>\n            <p>There is no specific limit on the number of environment variables. \n          However, the size of the associated data structure - which includes the variable names, values, and protected flag \n          values - cannot exceed 20 KB. This limit should accommodate most if not all use cases, but if you do exceed it, you \n          will cause an exception (API) with an \"Environment: is too large (maximum is 20 KB)\" message.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A description of the app.</p>"
            }
        },
        "com.amazonaws.opsworks#AppAttributes": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.opsworks#AppAttributesKeys"
            },
            "value": {
                "target": "com.amazonaws.opsworks#String"
            }
        },
        "com.amazonaws.opsworks#AppAttributesKeys": {
            "type": "enum",
            "members": {
                "DocumentRoot": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DocumentRoot"
                    }
                },
                "RailsEnv": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RailsEnv"
                    }
                },
                "AutoBundleOnDeploy": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AutoBundleOnDeploy"
                    }
                },
                "AwsFlowRubySettings": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AwsFlowRubySettings"
                    }
                }
            }
        },
        "com.amazonaws.opsworks#AppType": {
            "type": "enum",
            "members": {
                "aws_flow_ruby": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "aws-flow-ruby"
                    }
                },
                "java": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "java"
                    }
                },
                "rails": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "rails"
                    }
                },
                "php": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "php"
                    }
                },
                "nodejs": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "nodejs"
                    }
                },
                "static": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "static"
                    }
                },
                "other": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "other"
                    }
                }
            }
        },
        "com.amazonaws.opsworks#Apps": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.opsworks#App"
            }
        },
        "com.amazonaws.opsworks#Architecture": {
            "type": "enum",
            "members": {
                "x86_64": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "x86_64"
                    }
                },
                "i386": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "i386"
                    }
                }
            }
        },
        "com.amazonaws.opsworks#AssignInstance": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opsworks#AssignInstanceRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opsworks#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opsworks#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Assign a registered instance to a layer.</p>\n         <ul>\n            <li>\n               <p>You can assign registered on-premises instances to any layer type.</p>\n            </li>\n            <li>\n               <p>You can assign registered Amazon EC2 instances only to custom layers.</p>\n            </li>\n            <li>\n               <p>You cannot use this action with instances that were created with OpsWorks Stacks.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Required Permissions</b>: To use this action, an Identity and Access Management\n          (IAM) user must have a Manage permissions\n      level for the stack or an attached policy that explicitly grants permissions. For more\n      information on user permissions, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User\n        Permissions</a>.</p>"
            }
        },
        "com.amazonaws.opsworks#AssignInstanceRequest": {
            "type": "structure",
            "members": {
                "InstanceId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The instance ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LayerIds": {
                    "target": "com.amazonaws.opsworks#Strings",
                    "traits": {
                        "smithy.api#documentation": "<p>The layer ID, which must correspond to a custom layer. You cannot assign a registered instance to a built-in layer.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.opsworks#AssignVolume": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opsworks#AssignVolumeRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opsworks#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opsworks#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Assigns one of the stack's registered Amazon EBS volumes to a specified instance. The volume must\n      first be registered with the stack by calling <a>RegisterVolume</a>. After you register the\n      volume, you must call <a>UpdateVolume</a> to specify a mount point before calling\n        <code>AssignVolume</code>. For more information, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/resources.html\">Resource Management</a>.</p>\n         <p>\n            <b>Required Permissions</b>: To use this action, an IAM user must have a Manage \n          permissions\n      level for the stack, or an attached policy that explicitly grants permissions. For more\n      information on user permissions, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User\n        Permissions</a>.</p>"
            }
        },
        "com.amazonaws.opsworks#AssignVolumeRequest": {
            "type": "structure",
            "members": {
                "VolumeId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The volume ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "InstanceId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The instance ID.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.opsworks#AssociateElasticIp": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opsworks#AssociateElasticIpRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opsworks#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opsworks#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates one of the stack's registered Elastic IP addresses with a specified instance. The\n      address must first be registered with the stack by calling <a>RegisterElasticIp</a>. For more\n      information, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/resources.html\">Resource\n        Management</a>.</p>\n         <p>\n            <b>Required Permissions</b>: To use this action, an IAM user must have a \n          Manage permissions\n      level for the stack, or an attached policy that explicitly grants permissions. For more\n      information on user permissions, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User\n        Permissions</a>.</p>"
            }
        },
        "com.amazonaws.opsworks#AssociateElasticIpRequest": {
            "type": "structure",
            "members": {
                "ElasticIp": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Elastic IP address.</p>",
                        "smithy.api#required": {}
                    }
                },
                "InstanceId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The instance ID.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.opsworks#AttachElasticLoadBalancer": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opsworks#AttachElasticLoadBalancerRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opsworks#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opsworks#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Attaches an Elastic Load Balancing load balancer to a specified layer. OpsWorks Stacks does not support \n          Application Load Balancer. You can only use Classic Load Balancer with OpsWorks Stacks. \n          For more information, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/layers-elb.html\">Elastic Load\n        Balancing</a>.</p>\n         <note>\n            <p>You must create the Elastic Load Balancing instance separately, by using the Elastic Load Balancing console, API, or CLI. For\n        more information, see the <a href=\"https://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/Welcome.html\">Elastic Load Balancing Developer Guide</a>.</p>\n         </note>\n         <p>\n            <b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions\n      level for the stack, or an attached policy that explicitly grants permissions. For more\n      information on user permissions, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User\n        Permissions</a>.</p>"
            }
        },
        "com.amazonaws.opsworks#AttachElasticLoadBalancerRequest": {
            "type": "structure",
            "members": {
                "ElasticLoadBalancerName": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Elastic Load Balancing instance's name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LayerId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the layer to which the Elastic Load Balancing instance is to be attached.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.opsworks#AutoScalingThresholds": {
            "type": "structure",
            "members": {
                "InstanceCount": {
                    "target": "com.amazonaws.opsworks#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of instances to add or remove when the load exceeds a threshold.</p>"
                    }
                },
                "ThresholdsWaitTime": {
                    "target": "com.amazonaws.opsworks#Minute",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of time, in minutes, that the load must exceed a threshold before more instances are added or removed.</p>"
                    }
                },
                "IgnoreMetricsTime": {
                    "target": "com.amazonaws.opsworks#Minute",
                    "traits": {
                        "smithy.api#documentation": "<p>The amount of time (in minutes) after a scaling event occurs that OpsWorks Stacks should ignore metrics\n          and suppress additional scaling events. For example, OpsWorks Stacks adds new instances following\n      an upscaling event but the instances won't start reducing the load until they have been booted\n      and configured. There is no point in raising additional scaling events during that operation,\n      which typically takes several minutes. <code>IgnoreMetricsTime</code> allows you to direct\n          OpsWorks Stacks to suppress scaling events long enough to get the new instances online.</p>"
                    }
                },
                "CpuThreshold": {
                    "target": "com.amazonaws.opsworks#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The CPU utilization threshold, as a percent of the available CPU. A value of -1 disables the threshold.</p>"
                    }
                },
                "MemoryThreshold": {
                    "target": "com.amazonaws.opsworks#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The memory utilization threshold, as a percent of the available memory. A value of -1 disables the threshold.</p>"
                    }
                },
                "LoadThreshold": {
                    "target": "com.amazonaws.opsworks#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The load threshold. A value of -1 disables the threshold. For more information about how load is computed, \n          see <a href=\"http://en.wikipedia.org/wiki/Load_%28computing%29\">Load (computing)</a>.</p>"
                    }
                },
                "Alarms": {
                    "target": "com.amazonaws.opsworks#Strings",
                    "traits": {
                        "smithy.api#documentation": "<p>Custom CloudWatch auto scaling alarms, to be used as thresholds. This parameter takes a list of up to five alarm names,\n          which are case sensitive and must be in the same region as the stack.</p>\n         <note>\n            <p>To use custom alarms, you must update your service role to allow\n          <code>cloudwatch:DescribeAlarms</code>. You can either have OpsWorks Stacks update the role for\n      you when you first use this feature or you can edit the role manually. For more information,\n      see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-servicerole.html\">Allowing OpsWorks Stacks to Act on Your Behalf</a>.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a load-based auto scaling upscaling or downscaling threshold configuration, which specifies when OpsWorks Stacks starts or \n          stops load-based instances.</p>"
            }
        },
        "com.amazonaws.opsworks#AutoScalingType": {
            "type": "enum",
            "members": {
                "load": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "load"
                    }
                },
                "timer": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "timer"
                    }
                }
            }
        },
        "com.amazonaws.opsworks#BlockDeviceMapping": {
            "type": "structure",
            "members": {
                "DeviceName": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The device name that is exposed to the instance, such as <code>/dev/sdh</code>. For the root\n      device, you can use the explicit device name or you can set this parameter to\n          <code>ROOT_DEVICE</code> and OpsWorks Stacks will provide the correct device name.</p>"
                    }
                },
                "NoDevice": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Suppresses the specified device included in the AMI's block device mapping.</p>"
                    }
                },
                "VirtualName": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The virtual device name. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_BlockDeviceMapping.html\">BlockDeviceMapping</a>.</p>"
                    }
                },
                "Ebs": {
                    "target": "com.amazonaws.opsworks#EbsBlockDevice",
                    "traits": {
                        "smithy.api#documentation": "<p>An <code>EBSBlockDevice</code> that defines how to configure an Amazon EBS volume when the\n      instance is launched.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a block device mapping. This data type maps directly to the Amazon EC2 <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_BlockDeviceMapping.html\">BlockDeviceMapping</a> data type. </p>"
            }
        },
        "com.amazonaws.opsworks#BlockDeviceMappings": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.opsworks#BlockDeviceMapping"
            }
        },
        "com.amazonaws.opsworks#Boolean": {
            "type": "boolean"
        },
        "com.amazonaws.opsworks#ChefConfiguration": {
            "type": "structure",
            "members": {
                "ManageBerkshelf": {
                    "target": "com.amazonaws.opsworks#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether to enable Berkshelf.</p>"
                    }
                },
                "BerkshelfVersion": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Berkshelf version.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the Chef configuration.</p>"
            }
        },
        "com.amazonaws.opsworks#CloneStack": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opsworks#CloneStackRequest"
            },
            "output": {
                "target": "com.amazonaws.opsworks#CloneStackResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opsworks#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opsworks#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a clone of a specified stack. For more information, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-cloning.html\">Clone a\n        Stack</a>. By default, all parameters are set to the values used by the parent stack.</p>\n         <p>\n            <b>Required Permissions</b>: To use this action, an IAM user must have an attached policy\n      that explicitly grants permissions. For more information about user permissions, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User\n        Permissions</a>.</p>"
            }
        },
        "com.amazonaws.opsworks#CloneStackRequest": {
            "type": "structure",
            "members": {
                "SourceStackId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The source stack ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The cloned stack name. Stack names can be a maximum of 64 characters.</p>"
                    }
                },
                "Region": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The cloned stack Amazon Web Services Region, such as <code>ap-northeast-2</code>. For more information \n          about Amazon Web Services Regions, see\n        <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html\">Regions and Endpoints</a>.</p>"
                    }
                },
                "VpcId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the VPC that the cloned stack is to be launched into. It must be in the specified region. All\n          instances are launched into this VPC, and you cannot change the ID later.</p>\n         <ul>\n            <li>\n               <p>If your account supports EC2 Classic, the default value is no VPC.</p>\n            </li>\n            <li>\n               <p>If your account does not support EC2 Classic, the default value is the default VPC for the specified region.</p>\n            </li>\n         </ul>\n         <p>If the VPC ID corresponds to a default VPC and you have specified either the\n        <code>DefaultAvailabilityZone</code> or the <code>DefaultSubnetId</code> parameter only,\n          OpsWorks Stacks infers the value of the other parameter. If you specify neither parameter, OpsWorks Stacks sets\n      these parameters to the first valid Availability Zone for the specified region and the\n      corresponding default VPC subnet ID, respectively. </p>\n         <p>If you specify a nondefault VPC ID, note the following:</p>\n         <ul>\n            <li>\n               <p>It must belong to a VPC in your account that is in the specified region.</p>\n            </li>\n            <li>\n               <p>You must specify a value for <code>DefaultSubnetId</code>.</p>\n            </li>\n         </ul>\n         <p>For more information about how to use OpsWorks Stacks with a VPC, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-vpc.html\">Running a Stack in a\n        VPC</a>. For more information about default VPC and EC2 Classic, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-supported-platforms.html\">Supported\n        Platforms</a>. </p>"
                    }
                },
                "Attributes": {
                    "target": "com.amazonaws.opsworks#StackAttributes",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of stack attributes and values as key/value pairs to be added to the cloned stack.</p>"
                    }
                },
                "ServiceRoleArn": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The stack Identity and Access Management (IAM) role, which allows OpsWorks Stacks to work with Amazon Web Services\n      resources on your behalf. You must set this parameter to the Amazon Resource Name (ARN) for an\n      existing IAM role. If you create a stack by using the OpsWorkss Stacks console, it creates the role for\n          you. You can obtain an existing stack's IAM ARN programmatically by calling\n          <a>DescribePermissions</a>. For more information about IAM ARNs, see \n          <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">Using\n      Identifiers</a>.</p>\n         <note>\n            <p>You must set this parameter to a valid service role ARN or the action will fail; there is no default value. \n             You can specify the source stack's service role ARN, if you prefer, but you must do so explicitly.</p>\n         </note>",
                        "smithy.api#required": {}
                    }
                },
                "DefaultInstanceProfileArn": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM profile that is the default profile for all of the stack's \n          EC2 instances.\n          For more information about IAM ARNs, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">Using\n      Identifiers</a>.</p>"
                    }
                },
                "DefaultOs": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The stack's operating system, which must be set to one of the following.</p>\n         <ul>\n            <li>\n               <p>A supported Linux operating system: An Amazon Linux version, such as <code>Amazon Linux 2</code>, <code>Amazon Linux 2018.03</code>, <code>Amazon Linux 2017.09</code>, <code>Amazon Linux 2017.03</code>, <code>Amazon Linux\n        2016.09</code>, <code>Amazon Linux 2016.03</code>, <code>Amazon Linux 2015.09</code>, or <code>Amazon Linux 2015.03</code>.</p>\n            </li>\n            <li>\n               <p>A supported Ubuntu operating system, such as <code>Ubuntu 18.04 LTS</code>, <code>Ubuntu 16.04 LTS</code>, <code>Ubuntu 14.04 LTS</code>, or <code>Ubuntu 12.04 LTS</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CentOS Linux 7</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Red Hat Enterprise Linux 7</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Microsoft Windows Server 2012 R2 Base</code>, <code>Microsoft Windows Server 2012 R2 with SQL Server Express</code>, \n              <code>Microsoft Windows Server 2012 R2 with SQL Server Standard</code>, or <code>Microsoft Windows Server 2012 R2 with SQL Server Web</code>.</p>\n            </li>\n            <li>\n               <p>A custom AMI: <code>Custom</code>. You specify the custom AMI you want to use when\n             you create instances. For more information about how to use custom AMIs with OpsWorks, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-custom-ami.html\">Using\n          Custom AMIs</a>.</p>\n            </li>\n         </ul>\n         <p>The default option is the parent stack's operating system.\n      Not all operating systems are supported with all versions of Chef. For more information about supported operating systems,\n      see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-os.html\">OpsWorks Stacks Operating Systems</a>.</p>\n         <note>\n            <p>You can specify a different Linux operating system for the cloned stack, but you cannot change from Linux to \n          Windows or Windows to Linux.</p>\n         </note>"
                    }
                },
                "HostnameTheme": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The stack's host name theme, with spaces are replaced by underscores. The theme is used to\n      generate host names for the stack's instances. By default, <code>HostnameTheme</code> is set\n      to <code>Layer_Dependent</code>, which creates host names by appending integers to the layer's\n      short name. The other themes are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Baked_Goods</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Clouds</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Europe_Cities</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Fruits</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Greek_Deities_and_Titans</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Legendary_creatures_from_Japan</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Planets_and_Moons</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Roman_Deities</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Scottish_Islands</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>US_Cities</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Wild_Cats</code>\n               </p>\n            </li>\n         </ul>\n         <p>To obtain a generated host name, call <code>GetHostNameSuggestion</code>, which returns a\n      host name based on the current theme.</p>"
                    }
                },
                "DefaultAvailabilityZone": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The cloned stack's default Availability Zone, which must be in the specified region. For more\n      information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html\">Regions and\n        Endpoints</a>. If you also specify a value for <code>DefaultSubnetId</code>, the subnet must\n      be in the same zone. For more information, see the <code>VpcId</code> parameter description.\n    </p>"
                    }
                },
                "DefaultSubnetId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The stack's default VPC subnet ID. This parameter is required if you specify a value for the\n        <code>VpcId</code> parameter. All instances are launched into this subnet unless you specify\n      otherwise when you create the instance. If you also specify a value for\n        <code>DefaultAvailabilityZone</code>, the subnet must be in that zone. For information on\n      default values and when this parameter is required, see the <code>VpcId</code> parameter\n      description. </p>"
                    }
                },
                "CustomJson": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A string that contains user-defined, custom JSON. It is used to override the corresponding default stack configuration \n          JSON values. The string should be in the following format:</p>\n         <p>\n            <code>\"{\\\"key1\\\": \\\"value1\\\", \\\"key2\\\": \\\"value2\\\",...}\"</code>\n         </p>\n         <p>For more information about custom JSON, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-json.html\">Use Custom JSON to\n        Modify the Stack Configuration Attributes</a>\n         </p>"
                    }
                },
                "ConfigurationManager": {
                    "target": "com.amazonaws.opsworks#StackConfigurationManager",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration manager. When you clone a stack we recommend that you use the configuration manager to specify the \n          Chef version: 12, 11.10, or 11.4 for Linux stacks, or 12.2 for Windows stacks. The default value for Linux stacks is currently 12.</p>"
                    }
                },
                "ChefConfiguration": {
                    "target": "com.amazonaws.opsworks#ChefConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>A <code>ChefConfiguration</code> object that specifies whether to enable Berkshelf and the\n      Berkshelf version on Chef 11.10 stacks. For more information, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-creating.html\">Create a New Stack</a>.</p>"
                    }
                },
                "UseCustomCookbooks": {
                    "target": "com.amazonaws.opsworks#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether to use custom cookbooks.</p>"
                    }
                },
                "UseOpsworksSecurityGroups": {
                    "target": "com.amazonaws.opsworks#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether to associate the OpsWorks Stacks built-in security groups with the stack's layers.</p>\n         <p>OpsWorks Stacks provides a standard set of security groups, one for each layer, which are\n      associated with layers by default. With <code>UseOpsworksSecurityGroups</code> you can instead\n      provide your own custom security groups. <code>UseOpsworksSecurityGroups</code> has the\n      following settings: </p>\n         <ul>\n            <li>\n               <p>True - OpsWorks Stacks automatically associates the appropriate built-in security group with \n              each layer (default setting). You can associate additional security groups with a layer after you create it but you cannot \n              delete the built-in security group.</p>\n            </li>\n            <li>\n               <p>False - OpsWorks Stacks does not associate built-in security groups with layers. \n              You must create appropriate Amazon EC2 security groups and associate a security group with each \n              layer that you create. However, you can still manually associate a built-in security group with a layer on creation; \n              custom security groups are required only for those layers that need custom settings.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-creating.html\">Create a New\n        Stack</a>.</p>"
                    }
                },
                "CustomCookbooksSource": {
                    "target": "com.amazonaws.opsworks#Source",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the information required to retrieve an app or cookbook from a repository. For more information, \n            see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workingapps-creating.html\">Adding Apps</a> or \n            <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workingcookbook.html\">Cookbooks and Recipes</a>.</p>"
                    }
                },
                "DefaultSshKeyName": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A default Amazon EC2 key pair name. The default value is none. If you specify a key pair name, \n          OpsWorks installs the public key on the instance and you can use the private key with an SSH\n      client to log in to the instance. For more information, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-ssh.html\"> Using SSH to\n        Communicate with an Instance</a> and <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/security-ssh-access.html\"> Managing SSH\n        Access</a>. You can override this setting by specifying a different key pair, or no key\n      pair, when you <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-add.html\">\n        create an instance</a>. </p>"
                    }
                },
                "ClonePermissions": {
                    "target": "com.amazonaws.opsworks#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether to clone the source stack's permissions.</p>"
                    }
                },
                "CloneAppIds": {
                    "target": "com.amazonaws.opsworks#Strings",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of source stack app IDs to be included in the cloned stack.</p>"
                    }
                },
                "DefaultRootDeviceType": {
                    "target": "com.amazonaws.opsworks#RootDeviceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The default root device type. This value is used by default for all instances in the cloned\n      stack, but you can override it when you create an instance. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ComponentsAMIs.html#storage-for-the-root-device\">Storage for the Root Device</a>.</p>"
                    }
                },
                "AgentVersion": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The default OpsWorks Stacks agent version. You have the following options:</p>\n         <ul>\n            <li>\n               <p>Auto-update - Set this parameter to <code>LATEST</code>. OpsWorks Stacks\n      automatically installs new agent versions on the stack's instances as soon as\n      they are available.</p>\n            </li>\n            <li>\n               <p>Fixed version - Set this parameter to your preferred agent version. To update \n             the agent version, you must edit the stack configuration and specify a new version. \n             OpsWorks Stacks automatically installs that version on the stack's instances.</p>\n            </li>\n         </ul>\n         <p>The default setting is <code>LATEST</code>. To specify an agent version,\n      you must use the complete version number, not the abbreviated number shown on the console.\n      For a list of available agent version numbers, call <a>DescribeAgentVersions</a>. AgentVersion cannot be set to Chef 12.2.</p>\n         <note>\n            <p>You can also specify an agent version when you create or update an instance, which overrides the stack's \n          default setting.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.opsworks#CloneStackResult": {
            "type": "structure",
            "members": {
                "StackId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The cloned stack ID.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the response to a <code>CloneStack</code> request.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.opsworks#CloudWatchLogsConfiguration": {
            "type": "structure",
            "members": {
                "Enabled": {
                    "target": "com.amazonaws.opsworks#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether CloudWatch Logs is enabled for a layer.</p>"
                    }
                },
                "LogStreams": {
                    "target": "com.amazonaws.opsworks#CloudWatchLogsLogStreams",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of configuration options for CloudWatch Logs.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the Amazon CloudWatch Logs configuration for a layer.</p>"
            }
        },
        "com.amazonaws.opsworks#CloudWatchLogsEncoding": {
            "type": "enum",
            "members": {
                "ascii": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ascii"
                    }
                },
                "big5": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "big5"
                    }
                },
                "big5hkscs": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "big5hkscs"
                    }
                },
                "cp037": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp037"
                    }
                },
                "cp424": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp424"
                    }
                },
                "cp437": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp437"
                    }
                },
                "cp500": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp500"
                    }
                },
                "cp720": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp720"
                    }
                },
                "cp737": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp737"
                    }
                },
                "cp775": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp775"
                    }
                },
                "cp850": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp850"
                    }
                },
                "cp852": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp852"
                    }
                },
                "cp855": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp855"
                    }
                },
                "cp856": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp856"
                    }
                },
                "cp857": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp857"
                    }
                },
                "cp858": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp858"
                    }
                },
                "cp860": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp860"
                    }
                },
                "cp861": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp861"
                    }
                },
                "cp862": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp862"
                    }
                },
                "cp863": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp863"
                    }
                },
                "cp864": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp864"
                    }
                },
                "cp865": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp865"
                    }
                },
                "cp866": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp866"
                    }
                },
                "cp869": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp869"
                    }
                },
                "cp874": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp874"
                    }
                },
                "cp875": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp875"
                    }
                },
                "cp932": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp932"
                    }
                },
                "cp949": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp949"
                    }
                },
                "cp950": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp950"
                    }
                },
                "cp1006": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp1006"
                    }
                },
                "cp1026": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp1026"
                    }
                },
                "cp1140": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp1140"
                    }
                },
                "cp1250": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp1250"
                    }
                },
                "cp1251": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp1251"
                    }
                },
                "cp1252": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp1252"
                    }
                },
                "cp1253": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp1253"
                    }
                },
                "cp1254": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp1254"
                    }
                },
                "cp1255": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp1255"
                    }
                },
                "cp1256": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp1256"
                    }
                },
                "cp1257": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp1257"
                    }
                },
                "cp1258": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cp1258"
                    }
                },
                "euc_jp": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "euc_jp"
                    }
                },
                "euc_jis_2004": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "euc_jis_2004"
                    }
                },
                "euc_jisx0213": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "euc_jisx0213"
                    }
                },
                "euc_kr": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "euc_kr"
                    }
                },
                "gb2312": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "gb2312"
                    }
                },
                "gbk": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "gbk"
                    }
                },
                "gb18030": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "gb18030"
                    }
                },
                "hz": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "hz"
                    }
                },
                "iso2022_jp": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso2022_jp"
                    }
                },
                "iso2022_jp_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso2022_jp_1"
                    }
                },
                "iso2022_jp_2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso2022_jp_2"
                    }
                },
                "iso2022_jp_2004": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso2022_jp_2004"
                    }
                },
                "iso2022_jp_3": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso2022_jp_3"
                    }
                },
                "iso2022_jp_ext": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso2022_jp_ext"
                    }
                },
                "iso2022_kr": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso2022_kr"
                    }
                },
                "latin_1": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "latin_1"
                    }
                },
                "iso8859_2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso8859_2"
                    }
                },
                "iso8859_3": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso8859_3"
                    }
                },
                "iso8859_4": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso8859_4"
                    }
                },
                "iso8859_5": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso8859_5"
                    }
                },
                "iso8859_6": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso8859_6"
                    }
                },
                "iso8859_7": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso8859_7"
                    }
                },
                "iso8859_8": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso8859_8"
                    }
                },
                "iso8859_9": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso8859_9"
                    }
                },
                "iso8859_10": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso8859_10"
                    }
                },
                "iso8859_13": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso8859_13"
                    }
                },
                "iso8859_14": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso8859_14"
                    }
                },
                "iso8859_15": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso8859_15"
                    }
                },
                "iso8859_16": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "iso8859_16"
                    }
                },
                "johab": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "johab"
                    }
                },
                "koi8_r": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "koi8_r"
                    }
                },
                "koi8_u": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "koi8_u"
                    }
                },
                "mac_cyrillic": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "mac_cyrillic"
                    }
                },
                "mac_greek": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "mac_greek"
                    }
                },
                "mac_iceland": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "mac_iceland"
                    }
                },
                "mac_latin2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "mac_latin2"
                    }
                },
                "mac_roman": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "mac_roman"
                    }
                },
                "mac_turkish": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "mac_turkish"
                    }
                },
                "ptcp154": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ptcp154"
                    }
                },
                "shift_jis": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "shift_jis"
                    }
                },
                "shift_jis_2004": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "shift_jis_2004"
                    }
                },
                "shift_jisx0213": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "shift_jisx0213"
                    }
                },
                "utf_32": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "utf_32"
                    }
                },
                "utf_32_be": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "utf_32_be"
                    }
                },
                "utf_32_le": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "utf_32_le"
                    }
                },
                "utf_16": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "utf_16"
                    }
                },
                "utf_16_be": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "utf_16_be"
                    }
                },
                "utf_16_le": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "utf_16_le"
                    }
                },
                "utf_7": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "utf_7"
                    }
                },
                "utf_8": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "utf_8"
                    }
                },
                "utf_8_sig": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "utf_8_sig"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the encoding of the log file so that the file can be read correctly. \n            The default is <code>utf_8</code>. Encodings supported by Python <code>codecs.decode()</code> can be used here.</p>"
            }
        },
        "com.amazonaws.opsworks#CloudWatchLogsInitialPosition": {
            "type": "enum",
            "members": {
                "start_of_file": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "start_of_file"
                    }
                },
                "end_of_file": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "end_of_file"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies where to start to read data (start_of_file or end_of_file). The default is start_of_file. It's only used if there is no state persisted for that log stream.</p>"
            }
        },
        "com.amazonaws.opsworks#CloudWatchLogsLogStream": {
            "type": "structure",
            "members": {
                "LogGroupName": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the destination log group. A log group is created automatically if it doesn't already exist. \n            Log group names can be between 1 and 512 characters long. Allowed characters include a-z, A-Z, 0-9, '_' (underscore), \n            '-' (hyphen), '/' (forward slash), and '.' (period).</p>"
                    }
                },
                "DatetimeFormat": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies how the time stamp is extracted from logs. For more information, see the \n            <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/AgentReference.html\">CloudWatch Logs Agent Reference</a>.</p>"
                    }
                },
                "TimeZone": {
                    "target": "com.amazonaws.opsworks#CloudWatchLogsTimeZone",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the time zone of log event time stamps.</p>"
                    }
                },
                "File": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies log files that you want to push to CloudWatch Logs.</p>\n         <p>\n            <code>File</code> can point to a specific file or multiple files (by using wild card characters such \n            as <code>/var/log/system.log*</code>).\n            Only the latest file is pushed to CloudWatch Logs, based on file modification time. We recommend that you use \n            wild card characters to specify a series\n            of files of the same type, such as <code>access_log.2014-06-01-01</code>, <code>access_log.2014-06-01-02</code>, and so on\n            by using a pattern like <code>access_log.*</code>. Don't use a wildcard to match multiple file types,\n            such as <code>access_log_80</code> and <code>access_log_443</code>. To specify multiple, different file types, add another\n            log stream entry to the configuration file, so that each log file type is stored in a different log group.</p>\n         <p>Zipped files are not supported.</p>"
                    }
                },
                "FileFingerprintLines": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the range of lines for identifying a file. The valid values are one number, or two dash-delimited numbers, \n            such as '1', '2-5'. The default value is '1', meaning the first line is used to calculate the fingerprint. \n            Fingerprint lines are \n            not sent to CloudWatch Logs unless all specified lines are available.</p>"
                    }
                },
                "MultiLineStartPattern": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the pattern for identifying the start of a log message.</p>"
                    }
                },
                "InitialPosition": {
                    "target": "com.amazonaws.opsworks#CloudWatchLogsInitialPosition",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies where to start to read data (start_of_file or end_of_file). The default is start_of_file. \n            This setting is only used if there is no state persisted for that log stream.</p>"
                    }
                },
                "Encoding": {
                    "target": "com.amazonaws.opsworks#CloudWatchLogsEncoding",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the encoding of the log file so that the file can be read correctly. \n            The default is <code>utf_8</code>. Encodings supported by Python <code>codecs.decode()</code> can be used here.</p>"
                    }
                },
                "BufferDuration": {
                    "target": "com.amazonaws.opsworks#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the time duration for the batching of log events. The minimum value is 5000ms and default value is 5000ms.</p>"
                    }
                },
                "BatchCount": {
                    "target": "com.amazonaws.opsworks#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the max number of log events in a batch, up to 10000. The default value is 1000.</p>"
                    }
                },
                "BatchSize": {
                    "target": "com.amazonaws.opsworks#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the maximum size of log events in a batch, in bytes, up to 1048576 bytes. \n            The default value is 32768 bytes. This size is calculated as the sum of all event messages \n            in UTF-8, plus 26 bytes for each log event.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the CloudWatch Logs configuration for a layer. For detailed information about members of this data type, \n            see the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/AgentReference.html\">CloudWatch Logs Agent Reference</a>.</p>"
            }
        },
        "com.amazonaws.opsworks#CloudWatchLogsLogStreams": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.opsworks#CloudWatchLogsLogStream"
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes the Amazon CloudWatch Logs configuration for a layer.</p>"
            }
        },
        "com.amazonaws.opsworks#CloudWatchLogsTimeZone": {
            "type": "enum",
            "members": {
                "LOCAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LOCAL"
                    }
                },
                "UTC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UTC"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The preferred time zone for logs streamed to CloudWatch Logs. \n            Valid values are <code>LOCAL</code> and <code>UTC</code>, for Coordinated Universal Time.</p>"
            }
        },
        "com.amazonaws.opsworks#Command": {
            "type": "structure",
            "members": {
                "CommandId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The command ID.</p>"
                    }
                },
                "InstanceId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the instance where the command was executed.</p>"
                    }
                },
                "DeploymentId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The command deployment ID.</p>"
                    }
                },
                "CreatedAt": {
                    "target": "com.amazonaws.opsworks#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>Date and time when the command was run.</p>"
                    }
                },
                "AcknowledgedAt": {
                    "target": "com.amazonaws.opsworks#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>Date and time when the command was acknowledged.</p>"
                    }
                },
                "CompletedAt": {
                    "target": "com.amazonaws.opsworks#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>Date when the command completed.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The command status:</p>\n         <ul>\n            <li>\n               <p>failed</p>\n            </li>\n            <li>\n               <p>successful</p>\n            </li>\n            <li>\n               <p>skipped</p>\n            </li>\n            <li>\n               <p>pending</p>\n            </li>\n         </ul>"
                    }
                },
                "ExitCode": {
                    "target": "com.amazonaws.opsworks#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The command exit code.</p>"
                    }
                },
                "LogUrl": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL of the command log.</p>"
                    }
                },
                "Type": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The command type:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>configure</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>deploy</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>execute_recipes</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>install_dependencies</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>restart</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>rollback</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>setup</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>start</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>stop</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>undeploy</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>update_custom_cookbooks</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>update_dependencies</code>\n               </p>\n            </li>\n         </ul>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a command.</p>"
            }
        },
        "com.amazonaws.opsworks#Commands": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.opsworks#Command"
            }
        },
        "com.amazonaws.opsworks#CreateApp": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opsworks#CreateAppRequest"
            },
            "output": {
                "target": "com.amazonaws.opsworks#CreateAppResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opsworks#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opsworks#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an app for a specified stack. For more information, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workingapps-creating.html\">Creating\n      Apps</a>.</p>\n         <p>\n            <b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions\n      level for the stack, or an attached policy that explicitly grants permissions. For more\n      information on user permissions, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User\n        Permissions</a>.</p>"
            }
        },
        "com.amazonaws.opsworks#CreateAppRequest": {
            "type": "structure",
            "members": {
                "StackId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The stack ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Shortname": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The app's short name.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The app name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Description": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the app.</p>"
                    }
                },
                "DataSources": {
                    "target": "com.amazonaws.opsworks#DataSources",
                    "traits": {
                        "smithy.api#documentation": "<p>The app's data source.</p>"
                    }
                },
                "Type": {
                    "target": "com.amazonaws.opsworks#AppType",
                    "traits": {
                        "smithy.api#documentation": "<p>The app type. Each supported type is associated with a particular layer. For example, PHP\n          applications are associated with a PHP layer. OpsWorks Stacks deploys an application to those instances\n      that are members of the corresponding layer. If your app isn't one of the standard types, or\n      you prefer to implement your own Deploy recipes, specify <code>other</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "AppSource": {
                    "target": "com.amazonaws.opsworks#Source",
                    "traits": {
                        "smithy.api#documentation": "<p>A <code>Source</code> object that specifies the app repository.</p>"
                    }
                },
                "Domains": {
                    "target": "com.amazonaws.opsworks#Strings",
                    "traits": {
                        "smithy.api#documentation": "<p>The app virtual host settings, with multiple domains separated by commas. For example:\n        <code>'www.example.com, example.com'</code>\n         </p>"
                    }
                },
                "EnableSsl": {
                    "target": "com.amazonaws.opsworks#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether to enable SSL for the app.</p>"
                    }
                },
                "SslConfiguration": {
                    "target": "com.amazonaws.opsworks#SslConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>An <code>SslConfiguration</code> object with the SSL configuration.</p>"
                    }
                },
                "Attributes": {
                    "target": "com.amazonaws.opsworks#AppAttributes",
                    "traits": {
                        "smithy.api#documentation": "<p>One or more user-defined key/value pairs to be added to the stack attributes.</p>"
                    }
                },
                "Environment": {
                    "target": "com.amazonaws.opsworks#EnvironmentVariables",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of <code>EnvironmentVariable</code> objects that specify environment variables to be\n      associated with the app. After you deploy the app, these variables are defined on the\n      associated app server instance. For more information, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workingapps-creating.html#workingapps-creating-environment\"> Environment Variables</a>.</p>\n         <p>There is no specific limit on the number of environment variables. However, the size of the associated data structure - which includes the variables' names, values, and protected flag values - cannot exceed 20 KB. This limit should accommodate most if not all use cases. Exceeding it will cause an exception with the message, \"Environment: is too large (maximum is 20KB).\"</p>\n         <note>\n            <p>If you have specified one or more environment variables, you cannot modify the stack's Chef version.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.opsworks#CreateAppResult": {
            "type": "structure",
            "members": {
                "AppId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The app ID.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the response to a <code>CreateApp</code> request.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.opsworks#CreateDeployment": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opsworks#CreateDeploymentRequest"
            },
            "output": {
                "target": "com.amazonaws.opsworks#CreateDeploymentResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opsworks#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opsworks#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Runs deployment or stack commands. For more information, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workingapps-deploying.html\">Deploying\n        Apps</a> and <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-commands.html\">Run Stack Commands</a>.</p>\n         <p>\n            <b>Required Permissions</b>: To use this action, an IAM user must have a Deploy or Manage\n      permissions level for the stack, or an attached policy that explicitly grants permissions. For\n      more information on user permissions, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User\n        Permissions</a>.</p>"
            }
        },
        "com.amazonaws.opsworks#CreateDeploymentRequest": {
            "type": "structure",
            "members": {
                "StackId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The stack ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "AppId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The app ID. This parameter is required for app deployments, but not for other deployment commands.</p>"
                    }
                },
                "InstanceIds": {
                    "target": "com.amazonaws.opsworks#Strings",
                    "traits": {
                        "smithy.api#documentation": "<p>The instance IDs for the deployment targets.</p>"
                    }
                },
                "LayerIds": {
                    "target": "com.amazonaws.opsworks#Strings",
                    "traits": {
                        "smithy.api#documentation": "<p>The layer IDs for the deployment targets.</p>"
                    }
                },
                "Command": {
                    "target": "com.amazonaws.opsworks#DeploymentCommand",
                    "traits": {
                        "smithy.api#documentation": "<p>A <code>DeploymentCommand</code> object that specifies the deployment command and any\n      associated arguments.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Comment": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A user-defined comment.</p>"
                    }
                },
                "CustomJson": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A string that contains user-defined, custom JSON. You can use this parameter to override some corresponding default \n          stack configuration JSON values. The string should be in the following format:</p>\n         <p>\n            <code>\"{\\\"key1\\\": \\\"value1\\\", \\\"key2\\\": \\\"value2\\\",...}\"</code>\n         </p>\n         <p>For more information about custom JSON, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-json.html\">Use Custom JSON to\n          Modify the Stack Configuration Attributes</a> and \n          <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workingcookbook-json-override.html\">Overriding Attributes With Custom \n              JSON</a>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.opsworks#CreateDeploymentResult": {
            "type": "structure",
            "members": {
                "DeploymentId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The deployment ID, which can be used with other requests to identify the deployment.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the response to a <code>CreateDeployment</code> request.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.opsworks#CreateInstance": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.opsworks#CreateInstanceRequest"
            },
            "output": {
                "target": "com.amazonaws.opsworks#CreateInstanceResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.opsworks#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.opsworks#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an instance in a specified stack. For more information, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-add.html\">Adding an\n        Instance to a Layer</a>.</p>\n         <p>\n            <b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions\n      level for the stack, or an attached policy that explicitly grants permissions. For more\n      information on user permissions, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User\n        Permissions</a>.</p>"
            }
        },
        "com.amazonaws.opsworks#CreateInstanceRequest": {
            "type": "structure",
            "members": {
                "StackId": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The stack ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LayerIds": {
                    "target": "com.amazonaws.opsworks#Strings",
                    "traits": {
                        "smithy.api#documentation": "<p>An array that contains the instance's layer IDs.</p>",
                        "smithy.api#required": {}
                    }
                },
                "InstanceType": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The instance type, such as <code>t2.micro</code>. For a list of supported instance types,\n      open the stack in the console, choose <b>Instances</b>, and choose <b>+ Instance</b>.\n      The <b>Size</b> list contains the currently supported types. \n          For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html\">Instance\n        Families and Types</a>. The parameter values that you use to specify the various types are\n      in the <b>API Name</b> column of the <b>Available Instance Types</b> table.</p>",
                        "smithy.api#required": {}
                    }
                },
                "AutoScalingType": {
                    "target": "com.amazonaws.opsworks#AutoScalingType",
                    "traits": {
                        "smithy.api#documentation": "<p>For load-based or time-based instances, the type. Windows stacks can use only time-based instances.</p>"
                    }
                },
                "Hostname": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The instance host name. The following are character limits for instance host names.</p>\n         <ul>\n            <li>\n               <p>Linux-based instances: 63 characters</p>\n            </li>\n            <li>\n               <p>Windows-based instances: 15 characters</p>\n            </li>\n         </ul>"
                    }
                },
                "Os": {
                    "target": "com.amazonaws.opsworks#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The instance's operating system, which must be set to one of the following.</p>\n         <ul>\n            <li>\n               <p>A supported Linux operating system: An Amazon Linux version, such as <code>Amazon Linux 2</code>, <code>Amazon Linux 2018.03</code>, <code>Amazon Linux 2017.09</code>, <code>Amazon Linux 2017.03</code>, <code>Amazon Linux 2016.09</code>, \n              <code>Amazon Linux 2016.03</code>, <code>Amazon Linux 2015.09</code>, or <code>Amazon Linux 2015.03</code>.</p>\n            </li>\n            <li>\n               <p>A supported Ubuntu operating system, such as <code>Ubuntu 18.04 LTS</code>, <code>Ubuntu 16.04 LTS</code>, <code>Ubuntu 14.04 LTS</code>, or <code>Ubuntu 12.04 LTS</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CentOS Linux 7</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Red Hat Enterprise Linux 7</code>\n               </p>\n            </li>\n            <li>\n               <p>A supported Windows operating system, such as <code>Microsoft Windows Server 2012 R2 Base</code>, <code>Microsoft Windows Server 2012 R2 with SQL Server Express</code>, \n\t\t\t   <code>Microsoft Windows Server 2012 R2 with SQL Server Standard</code>, or <code>Microsoft Windows Server 2012 R2 with SQL Server Web</code>.</p>\n            </li>\n            <li>\n               <p>A custom AMI: <code>Custom</code>.</p>\n            </li>\n         </ul>\n         <p>Not all operating systems are supported with all versions of Chef. For more information about the supported operating systems,\n          see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-os.html\">OpsWorks Stacks Operating Systems</a>.</p>\n         <p>The default option is the current Amazon Linux version. If you set this parameter to\n        <code>Custom</code>, you must use the <a>CreateInstance</a> action's AmiId parameter to\n      specify the custom AMI that you want to use. Block device mappings are not supported if the value is <code>Custom</code>. \n          For more information about how to use custom AMIs with OpsWorks Stacks, see <a href=\"https://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-custom-ami.html\">Using\n        Custom AMIs</a>.</p>"
                    }
                },
                "AmiId": {
[...]
