{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.pcaconnectorscep#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You can receive this error if you attempt to perform an operation and you don't have\n      the required permissions. This can be caused by insufficient permissions in policies\n      attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen\n      because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP)\n      that affects your Amazon Web Services account.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.pcaconnectorscep#AzureApplicationId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 15,
                    "max": 100
                },
                "smithy.api#pattern": "^[a-zA-Z0-9]{2,15}-[a-zA-Z0-9]{2,15}-[a-zA-Z0-9]{2,15}-[a-zA-Z0-9]{2,15}-[a-zA-Z0-9]{2,15}$"
            }
        },
        "com.amazonaws.pcaconnectorscep#AzureDomain": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^[a-zA-Z0-9._-]+$"
            }
        },
        "com.amazonaws.pcaconnectorscep#BadRequestException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.pcaconnectorscep#CertificateAuthorityArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 5,
                    "max": 200
                },
                "smithy.api#pattern": "^arn:aws(-[a-z]+)*:acm-pca:[a-z]+(-[a-z]+)+-[1-9]\\d*:\\d{12}:certificate-authority\\/[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}$"
            }
        },
        "com.amazonaws.pcaconnectorscep#Challenge": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.pcaconnectorscep#ChallengeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the challenge.</p>"
                    }
                },
                "ConnectorArn": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connector.</p>"
                    }
                },
                "CreatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the challenge was created.</p>"
                    }
                },
                "UpdatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the challenge was updated.</p>"
                    }
                },
                "Password": {
                    "target": "com.amazonaws.pcaconnectorscep#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>The SCEP challenge password, in UUID format.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>For Connector for SCEP for general-purpose. An object containing information about the specified connector's SCEP challenge passwords.</p>"
            }
        },
        "com.amazonaws.pcaconnectorscep#ChallengeArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 5,
                    "max": 200
                },
                "smithy.api#pattern": "^arn:aws(-[a-z]+)*:pca-connector-scep:[a-z]+(-[a-z]+)+-[1-9]\\d*:\\d{12}:connector\\/[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}\\/challenge\\/[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}$"
            }
        },
        "com.amazonaws.pcaconnectorscep#ChallengeMetadata": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.pcaconnectorscep#ChallengeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the challenge.</p>"
                    }
                },
                "ConnectorArn": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connector.</p>"
                    }
                },
                "CreatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the connector was created.</p>"
                    }
                },
                "UpdatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the connector was updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details about the connector's challenge.</p>"
            }
        },
        "com.amazonaws.pcaconnectorscep#ChallengeMetadataList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.pcaconnectorscep#ChallengeMetadataSummary"
            }
        },
        "com.amazonaws.pcaconnectorscep#ChallengeMetadataSummary": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.pcaconnectorscep#ChallengeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the challenge.</p>"
                    }
                },
                "ConnectorArn": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connector.</p>"
                    }
                },
                "CreatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the challenge was created.</p>"
                    }
                },
                "UpdatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the challenge was updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details about the specified challenge, returned by the <a href=\"https://docs.aws.amazon.com/C4SCEP_API/pca-connector-scep/latest/APIReference/API_GetChallengeMetadata.html\">GetChallengeMetadata</a> action.</p>"
            }
        },
        "com.amazonaws.pcaconnectorscep#ChallengeResource": {
            "type": "resource",
            "identifiers": {
                "ChallengeArn": {
                    "target": "com.amazonaws.pcaconnectorscep#ChallengeArn"
                }
            },
            "create": {
                "target": "com.amazonaws.pcaconnectorscep#CreateChallenge"
            },
            "read": {
                "target": "com.amazonaws.pcaconnectorscep#GetChallengeMetadata"
            },
            "delete": {
                "target": "com.amazonaws.pcaconnectorscep#DeleteChallenge"
            },
            "list": {
                "target": "com.amazonaws.pcaconnectorscep#ListChallengeMetadata"
            },
            "operations": [
                {
                    "target": "com.amazonaws.pcaconnectorscep#GetChallengePassword"
                }
            ],
            "traits": {
                "aws.cloudformation#cfnResource": {
                    "name": "Challenge"
                }
            }
        },
        "com.amazonaws.pcaconnectorscep#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[!-~]+$"
            }
        },
        "com.amazonaws.pcaconnectorscep#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "ResourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Web Services resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ResourceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource type, which can be either <code>Connector</code> or <code>Challenge</code>.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This request can't be completed for one of the following reasons because the requested\n      resource was being concurrently modified by another request.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.pcaconnectorscep#Connector": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connector.</p>"
                    }
                },
                "CertificateAuthorityArn": {
                    "target": "com.amazonaws.pcaconnectorscep#CertificateAuthorityArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the certificate authority associated with the connector.</p>"
                    }
                },
                "Type": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorType",
                    "traits": {
                        "smithy.api#documentation": "<p>The connector type.</p>"
                    }
                },
                "MobileDeviceManagement": {
                    "target": "com.amazonaws.pcaconnectorscep#MobileDeviceManagement",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains settings relevant to the mobile device management system that you chose for the connector. If you didn't configure <code>MobileDeviceManagement</code>, then the connector is for general-purpose use and this object is empty.</p>"
                    }
                },
                "OpenIdConfiguration": {
                    "target": "com.amazonaws.pcaconnectorscep#OpenIdConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains OpenID Connect (OIDC) parameters for use with Connector for SCEP for Microsoft Intune. For more information about using Connector for SCEP for Microsoft Intune, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/scep-connector.htmlconnector-for-scep-intune.html\">Using Connector for SCEP for Microsoft Intune</a>.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The connector's status.</p>"
                    }
                },
                "StatusReason": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorStatusReason",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about why connector creation failed, if status is <code>FAILED</code>.</p>"
                    }
                },
                "Endpoint": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The connector's HTTPS public SCEP URL.</p>"
                    }
                },
                "CreatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the connector was created.</p>"
                    }
                },
                "UpdatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the connector was updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Connector for SCEP is a service that links Amazon Web Services Private Certificate Authority to your SCEP-enabled devices. The connector brokers the exchange of certificates from Amazon Web Services Private CA to your SCEP-enabled devices and mobile device management systems. The connector is a complex type that contains the connector's configuration settings.</p>"
            }
        },
        "com.amazonaws.pcaconnectorscep#ConnectorArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 5,
                    "max": 200
                },
                "smithy.api#pattern": "^arn:aws(-[a-z]+)*:pca-connector-scep:[a-z]+(-[a-z]+)+-[1-9]\\d*:\\d{12}:connector\\/[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}$"
            }
        },
        "com.amazonaws.pcaconnectorscep#ConnectorList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.pcaconnectorscep#ConnectorSummary"
            }
        },
        "com.amazonaws.pcaconnectorscep#ConnectorResource": {
            "type": "resource",
            "identifiers": {
                "ConnectorArn": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorArn"
                }
            },
            "create": {
                "target": "com.amazonaws.pcaconnectorscep#CreateConnector"
            },
            "read": {
                "target": "com.amazonaws.pcaconnectorscep#GetConnector"
            },
            "delete": {
                "target": "com.amazonaws.pcaconnectorscep#DeleteConnector"
            },
            "list": {
                "target": "com.amazonaws.pcaconnectorscep#ListConnectors"
            },
            "traits": {
                "aws.cloudformation#cfnResource": {
                    "name": "Connector"
                }
            }
        },
        "com.amazonaws.pcaconnectorscep#ConnectorStatus": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.pcaconnectorscep#ConnectorStatusReason": {
            "type": "enum",
            "members": {
                "INTERNAL_FAILURE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INTERNAL_FAILURE"
                    }
                },
                "PRIVATECA_ACCESS_DENIED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PRIVATECA_ACCESS_DENIED"
                    }
                },
                "PRIVATECA_INVALID_STATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PRIVATECA_INVALID_STATE"
                    }
                },
                "PRIVATECA_RESOURCE_NOT_FOUND": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PRIVATECA_RESOURCE_NOT_FOUND"
                    }
                }
            }
        },
        "com.amazonaws.pcaconnectorscep#ConnectorSummary": {
            "type": "structure",
            "members": {
                "Arn": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connector.</p>"
                    }
                },
                "CertificateAuthorityArn": {
                    "target": "com.amazonaws.pcaconnectorscep#CertificateAuthorityArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connector's associated certificate authority.</p>"
                    }
                },
                "Type": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorType",
                    "traits": {
                        "smithy.api#documentation": "<p>The connector type.</p>"
                    }
                },
                "MobileDeviceManagement": {
                    "target": "com.amazonaws.pcaconnectorscep#MobileDeviceManagement",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains settings relevant to the mobile device management system that you chose for the connector. If you didn't configure <code>MobileDeviceManagement</code>, then the connector is for general-purpose use and this object is empty.</p>"
                    }
                },
                "OpenIdConfiguration": {
                    "target": "com.amazonaws.pcaconnectorscep#OpenIdConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains OpenID Connect (OIDC) parameters for use with Microsoft Intune.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The connector's status. Status can be creating, active, deleting, or failed.</p>"
                    }
                },
                "StatusReason": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorStatusReason",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about why connector creation failed, if status is <code>FAILED</code>.</p>"
                    }
                },
                "Endpoint": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The connector's HTTPS public SCEP URL.</p>"
                    }
                },
                "CreatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the challenge was created.</p>"
                    }
                },
                "UpdatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the challenge was updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Lists the Amazon Web Services Private CA SCEP connectors belonging to your Amazon Web Services account.</p>"
            }
        },
        "com.amazonaws.pcaconnectorscep#ConnectorType": {
            "type": "enum",
            "members": {
                "GENERAL_PURPOSE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GENERAL_PURPOSE"
                    }
                },
                "INTUNE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INTUNE"
                    }
                }
            }
        },
        "com.amazonaws.pcaconnectorscep#CreateChallenge": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pcaconnectorscep#CreateChallengeRequest"
            },
            "output": {
                "target": "com.amazonaws.pcaconnectorscep#CreateChallengeResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pcaconnectorscep#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#BadRequestException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ConflictException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>For general-purpose connectors. Creates a <i>challenge password</i> for the specified connector. The SCEP protocol uses a challenge password to authenticate a request before issuing a certificate from a certificate authority (CA). Your SCEP clients include the challenge password as part of their certificate request to Connector for SCEP. To retrieve the connector Amazon Resource Names (ARNs) for the connectors in your account, call <a href=\"https://docs.aws.amazon.com/C4SCEP_API/pca-connector-scep/latest/APIReference/API_ListConnectors.html\">ListConnectors</a>.</p>\n         <p>To create additional challenge passwords for the connector, call <code>CreateChallenge</code> again. We recommend frequently rotating your challenge passwords.</p>",
                "smithy.api#http": {
                    "code": 202,
                    "method": "POST",
                    "uri": "/challenges"
                }
            }
        },
        "com.amazonaws.pcaconnectorscep#CreateChallengeRequest": {
            "type": "structure",
            "members": {
                "ConnectorArn": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connector that you want to create a challenge for.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.pcaconnectorscep#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Custom string that can be used to distinguish between calls to the <a href=\"https://docs.aws.amazon.com/C4SCEP_API/pca-connector-scep/latest/APIReference/API_CreateChallenge.html\">CreateChallenge</a> action. Client tokens for <code>CreateChallenge</code> time out after five minutes. Therefore, if you call <code>CreateChallenge</code> multiple times with the same client token within five minutes, Connector for SCEP recognizes that you are requesting only one challenge and will only respond with one. If you change the client token for each call, Connector for SCEP recognizes that you are requesting multiple challenge passwords.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.pcaconnectorscep#Tags",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "write",
                        "smithy.api#documentation": "<p>The key-value pairs to associate with the resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#CreateChallengeResponse": {
            "type": "structure",
            "members": {
                "Challenge": {
                    "target": "com.amazonaws.pcaconnectorscep#Challenge",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns the challenge details for the specified connector.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#CreateConnector": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pcaconnectorscep#CreateConnectorRequest"
            },
            "output": {
                "target": "com.amazonaws.pcaconnectorscep#CreateConnectorResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pcaconnectorscep#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ConflictException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a SCEP connector. A SCEP connector links Amazon Web Services Private Certificate Authority to your SCEP-compatible devices and mobile device management (MDM) systems. Before you create a connector, you must complete a set of prerequisites, including creation of a private certificate authority (CA) to use with this connector. For more information, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/scep-connector.htmlconnector-for-scep-prerequisites.html\">Connector for SCEP prerequisites</a>.</p>",
                "smithy.api#http": {
                    "code": 202,
                    "method": "POST",
                    "uri": "/connectors"
                }
            }
        },
        "com.amazonaws.pcaconnectorscep#CreateConnectorRequest": {
            "type": "structure",
            "members": {
                "CertificateAuthorityArn": {
                    "target": "com.amazonaws.pcaconnectorscep#CertificateAuthorityArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Web Services Private Certificate Authority certificate authority to use with this connector. Due to security vulnerabilities present in the SCEP protocol, we recommend using a private CA that's dedicated for use with the connector.</p>\n         <p>To retrieve the private CAs associated with your account, you can call <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_ListCertificateAuthorities.html\">ListCertificateAuthorities</a> using the Amazon Web Services Private CA API.</p>",
                        "smithy.api#required": {}
                    }
                },
                "MobileDeviceManagement": {
                    "target": "com.amazonaws.pcaconnectorscep#MobileDeviceManagement",
                    "traits": {
                        "smithy.api#documentation": "<p>If you don't supply a value, by default Connector for SCEP creates a connector for general-purpose use. A general-purpose connector is designed to work with clients or endpoints that support the SCEP protocol, except Connector for SCEP for Microsoft Intune. With connectors for general-purpose use, you manage SCEP challenge passwords using Connector for SCEP. For information about considerations and limitations with using Connector for SCEP, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/scep-connector.htmlc4scep-considerations-limitations.html\">Considerations and Limitations</a>.</p>\n         <p>If you provide an <code>IntuneConfiguration</code>, Connector for SCEP creates a connector for use with Microsoft Intune, and you manage the challenge passwords using Microsoft Intune. For more information, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/scep-connector.htmlconnector-for-scep-intune.html\">Using Connector for SCEP for Microsoft Intune</a>.</p>"
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.pcaconnectorscep#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Custom string that can be used to distinguish between calls to the <a href=\"https://docs.aws.amazon.com/C4SCEP_API/pca-connector-scep/latest/APIReference/API_CreateChallenge.html\">CreateChallenge</a> action. Client tokens for <code>CreateChallenge</code> time out after five minutes. Therefore, if you call <code>CreateChallenge</code> multiple times with the same client token within five minutes, Connector for SCEP recognizes that you are requesting only one challenge and will only respond with one. If you change the client token for each call, Connector for SCEP recognizes that you are requesting multiple challenge passwords.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.pcaconnectorscep#Tags",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "write",
                        "smithy.api#documentation": "<p>The key-value pairs to associate with the resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#CreateConnectorResponse": {
            "type": "structure",
            "members": {
                "ConnectorArn": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns the Amazon Resource Name (ARN) of the connector.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#DeleteChallenge": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pcaconnectorscep#DeleteChallengeRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pcaconnectorscep#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ConflictException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the specified <a href=\"https://docs.aws.amazon.com/C4SCEP_API/pca-connector-scep/latest/APIReference/API_Challenge.html\">Challenge</a>.</p>",
                "smithy.api#http": {
                    "code": 202,
                    "method": "DELETE",
                    "uri": "/challenges/{ChallengeArn}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#DeleteChallengeRequest": {
            "type": "structure",
            "members": {
                "ChallengeArn": {
                    "target": "com.amazonaws.pcaconnectorscep#ChallengeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the challenge password to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#DeleteConnector": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pcaconnectorscep#DeleteConnectorRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pcaconnectorscep#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ConflictException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the specified <a href=\"https://docs.aws.amazon.com/C4SCEP_API/pca-connector-scep/latest/APIReference/API_Connector.html\">Connector</a>. This operation also deletes any challenges associated with the connector.</p>",
                "smithy.api#http": {
                    "code": 202,
                    "method": "DELETE",
                    "uri": "/connectors/{ConnectorArn}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#DeleteConnectorRequest": {
            "type": "structure",
            "members": {
                "ConnectorArn": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connector to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#GetChallengeMetadata": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pcaconnectorscep#GetChallengeMetadataRequest"
            },
            "output": {
                "target": "com.amazonaws.pcaconnectorscep#GetChallengeMetadataResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pcaconnectorscep#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the metadata for the specified <a href=\"https://docs.aws.amazon.com/C4SCEP_API/pca-connector-scep/latest/APIReference/API_Challenge.html\">Challenge</a>.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/challengeMetadata/{ChallengeArn}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#GetChallengeMetadataRequest": {
            "type": "structure",
            "members": {
                "ChallengeArn": {
                    "target": "com.amazonaws.pcaconnectorscep#ChallengeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the challenge.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#GetChallengeMetadataResponse": {
            "type": "structure",
            "members": {
                "ChallengeMetadata": {
                    "target": "com.amazonaws.pcaconnectorscep#ChallengeMetadata",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>The metadata for the challenge.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#GetChallengePassword": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pcaconnectorscep#GetChallengePasswordRequest"
            },
            "output": {
                "target": "com.amazonaws.pcaconnectorscep#GetChallengePasswordResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pcaconnectorscep#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the challenge password for the specified <a href=\"https://docs.aws.amazon.com/C4SCEP_API/pca-connector-scep/latest/APIReference/API_Challenge.html\">Challenge</a>.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/challengePasswords/{ChallengeArn}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#GetChallengePasswordRequest": {
            "type": "structure",
            "members": {
                "ChallengeArn": {
                    "target": "com.amazonaws.pcaconnectorscep#ChallengeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the challenge.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#GetChallengePasswordResponse": {
            "type": "structure",
            "members": {
                "Password": {
                    "target": "com.amazonaws.pcaconnectorscep#SensitiveString",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>The SCEP challenge password.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#GetConnector": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pcaconnectorscep#GetConnectorRequest"
            },
            "output": {
                "target": "com.amazonaws.pcaconnectorscep#GetConnectorResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pcaconnectorscep#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves details about the specified <a href=\"https://docs.aws.amazon.com/C4SCEP_API/pca-connector-scep/latest/APIReference/API_Connector.html\">Connector</a>. Calling this action returns important details about the connector, such as the public SCEP URL where your clients can request certificates.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/connectors/{ConnectorArn}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#GetConnectorRequest": {
            "type": "structure",
            "members": {
                "ConnectorArn": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connector.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#GetConnectorResponse": {
            "type": "structure",
            "members": {
                "Connector": {
                    "target": "com.amazonaws.pcaconnectorscep#Connector",
                    "traits": {
                        "aws.cloudformation#cfnExcludeProperty": {},
                        "smithy.api#documentation": "<p>The properties of the connector.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#InternalServerException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or failure with\n      an internal server.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#IntuneConfiguration": {
            "type": "structure",
            "members": {
                "AzureApplicationId": {
                    "target": "com.amazonaws.pcaconnectorscep#AzureApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The directory (tenant) ID from your Microsoft Entra ID app registration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Domain": {
                    "target": "com.amazonaws.pcaconnectorscep#AzureDomain",
                    "traits": {
                        "smithy.api#documentation": "<p>The primary domain from your Microsoft Entra ID app registration.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains configuration details for use with Microsoft Intune. For information about using Connector for SCEP for Microsoft Intune, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/scep-connector.htmlconnector-for-scep-intune.html\">Using Connector for SCEP for Microsoft Intune</a>.</p>\n         <p>When you use Connector for SCEP for Microsoft Intune, certain functionalities are enabled by accessing Microsoft Intune through the Microsoft API. Your use of the Connector for SCEP and accompanying Amazon Web Services services doesn't remove your need to have a valid license for your use of the Microsoft Intune service. You should also review the <a href=\"https://learn.microsoft.com/en-us/mem/intune/apps/app-protection-policy\">Microsoft Intune® App Protection Policies</a>.</p>"
            }
        },
        "com.amazonaws.pcaconnectorscep#ListChallengeMetadata": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pcaconnectorscep#ListChallengeMetadataRequest"
            },
            "output": {
                "target": "com.amazonaws.pcaconnectorscep#ListChallengeMetadataResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pcaconnectorscep#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the challenge metadata for the specified ARN.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/challengeMetadata"
                },
                "smithy.api#paginated": {
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
                    "pageSize": "MaxResults",
                    "items": "Challenges"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#ListChallengeMetadataRequest": {
            "type": "structure",
            "members": {
                "MaxResults": {
                    "target": "com.amazonaws.pcaconnectorscep#MaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of objects that you want Connector for SCEP to return for this request. If more\n  objects are available, in the response, Connector for SCEP provides a\n <code>NextToken</code> value that you can use in a subsequent call to get the next batch of objects.</p>",
                        "smithy.api#httpQuery": "MaxResults"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.pcaconnectorscep#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>When you request a list of objects with a <code>MaxResults</code> setting, if the number of objects that are still available\n for retrieval exceeds the maximum you requested, Connector for SCEP returns a <code>NextToken</code>\n value in the response. To retrieve the next batch of objects, use the token returned from the prior request in your next request.</p>",
                        "smithy.api#httpQuery": "NextToken"
                    }
                },
                "ConnectorArn": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connector.</p>",
                        "smithy.api#httpQuery": "ConnectorArn",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#ListChallengeMetadataResponse": {
            "type": "structure",
            "members": {
                "Challenges": {
                    "target": "com.amazonaws.pcaconnectorscep#ChallengeMetadataList",
                    "traits": {
                        "smithy.api#documentation": "<p>The challenge metadata for the challenges belonging to your Amazon Web Services account.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.pcaconnectorscep#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>When you request a list of objects with a <code>MaxResults</code> setting, if the number of objects that are still available\n for retrieval exceeds the maximum you requested, Connector for SCEP returns a <code>NextToken</code>\n value in the response. To retrieve the next batch of objects, use the token returned from the prior request in your next request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#ListConnectors": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pcaconnectorscep#ListConnectorsRequest"
            },
            "output": {
                "target": "com.amazonaws.pcaconnectorscep#ListConnectorsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pcaconnectorscep#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Lists the connectors belonging to your Amazon Web Services account.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/connectors"
                },
                "smithy.api#paginated": {
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
                    "pageSize": "MaxResults",
                    "items": "Connectors"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#ListConnectorsRequest": {
            "type": "structure",
            "members": {
                "MaxResults": {
                    "target": "com.amazonaws.pcaconnectorscep#MaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of objects that you want Connector for SCEP to return for this request. If more\n  objects are available, in the response, Connector for SCEP provides a\n <code>NextToken</code> value that you can use in a subsequent call to get the next batch of objects.</p>",
                        "smithy.api#httpQuery": "MaxResults"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.pcaconnectorscep#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>When you request a list of objects with a <code>MaxResults</code> setting, if the number of objects that are still available\n for retrieval exceeds the maximum you requested, Connector for SCEP returns a <code>NextToken</code>\n value in the response. To retrieve the next batch of objects, use the token returned from the prior request in your next request.</p>",
                        "smithy.api#httpQuery": "NextToken"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#ListConnectorsResponse": {
            "type": "structure",
            "members": {
                "Connectors": {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorList",
                    "traits": {
                        "smithy.api#documentation": "<p>The connectors belonging to your Amazon Web Services account.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.pcaconnectorscep#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>When you request a list of objects with a <code>MaxResults</code> setting, if the number of objects that are still available\n for retrieval exceeds the maximum you requested, Connector for SCEP returns a <code>NextToken</code>\n value in the response. To retrieve the next batch of objects, use the token returned from the prior request in your next request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#ListTagsForResource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pcaconnectorscep#ListTagsForResourceRequest"
            },
            "output": {
                "target": "com.amazonaws.pcaconnectorscep#ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pcaconnectorscep#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the tags associated with the specified resource. Tags are key-value pairs that\n      you can use to categorize and manage your resources, for purposes like billing. For\n      example, you might set the tag key to \"customer\" and the value to the customer name or ID.\n      You can specify one or more tags to add to each Amazon Web Services resource, up to 50 tags for a\n      resource.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/tags/{ResourceArn}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#ListTagsForResourceRequest": {
            "type": "structure",
            "members": {
                "ResourceArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#ListTagsForResourceResponse": {
            "type": "structure",
            "members": {
                "Tags": {
                    "target": "com.amazonaws.pcaconnectorscep#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The key-value pairs to associate with the resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pcaconnectorscep#MaxResults": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 1000
                }
            }
        },
        "com.amazonaws.pcaconnectorscep#MobileDeviceManagement": {
            "type": "union",
            "members": {
                "Intune": {
                    "target": "com.amazonaws.pcaconnectorscep#IntuneConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration settings for use with Microsoft Intune. For information about using Connector for SCEP for Microsoft Intune, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/scep-connector.htmlconnector-for-scep-intune.html\">Using Connector for SCEP for Microsoft Intune</a>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>If you don't supply a value, by default Connector for SCEP creates a connector for general-purpose use. A general-purpose connector is designed to work with clients or endpoints that support the SCEP protocol, except Connector for SCEP for Microsoft Intune. For information about considerations and limitations with using Connector for SCEP, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/scep-connector.htmlc4scep-considerations-limitations.html\">Considerations and Limitations</a>.</p>\n         <p>If you provide an <code>IntuneConfiguration</code>, Connector for SCEP creates a connector for use with Microsoft Intune, and you manage the challenge passwords using Microsoft Intune. For more information, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/scep-connector.htmlconnector-for-scep-intune.html\">Using Connector for SCEP for Microsoft Intune</a>.</p>"
            }
        },
        "com.amazonaws.pcaconnectorscep#NextToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1000
                },
                "smithy.api#pattern": "^(?:[A-Za-z0-9_-]{4})*(?:[A-Za-z0-9_-]{2}==|[A-Za-z0-9_-]{3}=)?$"
            }
        },
        "com.amazonaws.pcaconnectorscep#OpenIdConfiguration": {
            "type": "structure",
            "members": {
                "Issuer": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The issuer value to copy into your Microsoft Entra app registration's OIDC.</p>"
                    }
                },
                "Subject": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The subject value to copy into your Microsoft Entra app registration's OIDC.</p>"
                    }
                },
                "Audience": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The audience value to copy into your Microsoft Entra app registration's OIDC.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains OpenID Connect (OIDC) parameters for use with Microsoft Intune. For more information about using Connector for SCEP for Microsoft Intune, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/scep-connector.htmlconnector-for-scep-intune.html\">Using Connector for SCEP for Microsoft Intune</a>.</p>"
            }
        },
        "com.amazonaws.pcaconnectorscep#PcaConnectorScep": {
            "type": "service",
            "version": "2018-05-10",
            "operations": [
                {
                    "target": "com.amazonaws.pcaconnectorscep#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#TagResource"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#UntagResource"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.pcaconnectorscep#ChallengeResource"
                },
                {
                    "target": "com.amazonaws.pcaconnectorscep#ConnectorResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "arnNamespace": "pca-connector-scep",
                    "cloudFormationName": "PCAConnectorSCEP",
                    "sdkId": "Pca Connector Scep",
                    "serviceName": "pca-connector-scep",
                    "cloudTrailEventSource": "pca-connector-scep.amazonaws.com"
                },
                "aws.auth#sigv4": {
                    "name": "pca-connector-scep"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "additionalAllowedHeaders": [
                        "*",
                        "content-type",
                        "x-amz-content-sha256",
                        "x-amz-user-agent",
                        "x-amzn-platform-id",
                        "x-amzn-trace-id"
                    ],
                    "additionalExposedHeaders": [
                        "x-amzn-errortype",
                        "x-amzn-requestid",
                        "x-amzn-trace-id"
                    ],
                    "maxAge": 86400
                },
                "smithy.api#documentation": "<p>Connector for SCEP creates a connector between Amazon Web Services Private CA and your SCEP-enabled clients and devices. For more information, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/scep-connector.htmlconnector-for-scep.html\">Connector for SCEP</a> in the <i>Amazon Web Services Private CA User Guide</i>.</p>",
                "smithy.api#title": "Private CA Connector for SCEP",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://pca-connector-scep-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://pca-connector-scep-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://pca-connector-scep.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://pca-connector-scep.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://pca-connector-scep.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
[...]
