{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.personalizeevents#Action": {
            "type": "structure",
            "members": {
                "actionId": {
                    "target": "com.amazonaws.personalizeevents#StringType",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID associated with the action.</p>",
                        "smithy.api#required": {}
                    }
                },
                "properties": {
                    "target": "com.amazonaws.personalizeevents#SynthesizedJsonActionProperties",
                    "traits": {
                        "smithy.api#documentation": "<p>A string map of action-specific metadata. Each element in the map consists of a key-value pair. \n      For example, <code>{\"value\": \"100\"}</code>.</p>\n         <p>The keys use camel case names that match the fields in the schema for the Actions\n      dataset. In the previous example, the <code>value</code> matches the\n      'VALUE' field defined in the Actions schema. For categorical string data, to include multiple categories for a single action, \n      separate each category with a pipe separator (<code>|</code>). For example, <code>\\\"Deluxe|Premium\\\"</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents action metadata added to an Action dataset using the \n      <code>PutActions</code> API. For more information see \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/importing-actions.html\">Importing actions individually</a>.\n    </p>"
            }
        },
        "com.amazonaws.personalizeevents#ActionId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.personalizeevents#ActionImpression": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.personalizeevents#ActionId"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 25
                }
            }
        },
        "com.amazonaws.personalizeevents#ActionInteraction": {
            "type": "structure",
            "members": {
                "actionId": {
                    "target": "com.amazonaws.personalizeevents#ActionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the action the user interacted with. This corresponds to the <code>ACTION_ID</code> \n      field of the Action interaction schema.</p>",
                        "smithy.api#required": {}
                    }
                },
                "userId": {
                    "target": "com.amazonaws.personalizeevents#UserId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the user who interacted with the action. This corresponds to the <code>USER_ID</code> \n      field of the Action interaction schema.</p>"
                    }
                },
                "sessionId": {
                    "target": "com.amazonaws.personalizeevents#StringType",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID associated with the user's visit. \n      Your application generates a unique <code>sessionId</code> when a user first visits your website or uses your application. </p>",
                        "smithy.api#required": {}
                    }
                },
                "timestamp": {
                    "target": "com.amazonaws.personalizeevents#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp for when the action interaction event occurred. Timestamps must be in Unix epoch time format, in seconds.</p>",
                        "smithy.api#required": {}
                    }
                },
                "eventType": {
                    "target": "com.amazonaws.personalizeevents#StringType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of action interaction event. You can specify <code>Viewed</code>, <code>Taken</code>, and <code>Not Taken</code> event types. For more\n      information about action interaction event type data, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/action-interaction-event-type-data.html\">Event type data</a>. </p>",
                        "smithy.api#required": {}
                    }
                },
                "eventId": {
                    "target": "com.amazonaws.personalizeevents#StringType",
                    "traits": {
                        "smithy.api#documentation": "<p>An ID associated with the event. If an event ID is not provided, Amazon Personalize generates\n      a unique ID for the event. An event ID is not used as an input to the model. Amazon Personalize uses\n      the event ID to distinguish unique events. Any subsequent events after the first with the\n      same event ID are not used in model training.</p>"
                    }
                },
                "recommendationId": {
                    "target": "com.amazonaws.personalizeevents#RecommendationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the list of recommendations that contains the action the user interacted with.</p>"
                    }
                },
                "impression": {
                    "target": "com.amazonaws.personalizeevents#ActionImpression",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of action IDs that represents the sequence of actions you have shown the user. For example, <code>[\"actionId1\", \"actionId2\", \"actionId3\"]</code>.\n      Amazon Personalize doesn't use impressions data from action interaction events. Instead, record multiple events for each action and use the <code>Viewed</code> event type.\n    </p>"
                    }
                },
                "properties": {
                    "target": "com.amazonaws.personalizeevents#SynthesizedJsonActionInteractionProperties",
                    "traits": {
                        "smithy.api#documentation": "<p>A string map of event-specific data that you might choose to record. For example, if a\n      user takes an action, other than the action ID, you might also send the number of actions taken by the user.</p>\n         <p>Each item in the map consists of a key-value pair. For example,</p>\n         <p>\n            <code>{\"numberOfActions\": \"12\"}</code>\n         </p>\n         <p>The keys use camel case names that match the fields in the Action interactions\n      schema. In the above example, the <code>numberOfActions</code> would match the\n      'NUMBER_OF_ACTIONS' field defined in the Action interactions schema.</p>\n         <p>\n      The following can't be included as a keyword for properties (case insensitive). \n    </p>\n         <ul>\n            <li>\n               <p>\n          userId\n        </p>\n            </li>\n            <li>\n               <p>\n          sessionId\n        </p>\n            </li>\n            <li>\n               <p>eventType</p>\n            </li>\n            <li>\n               <p>timestamp</p>\n            </li>\n            <li>\n               <p>recommendationId</p>\n            </li>\n            <li>\n               <p>impression</p>\n            </li>\n         </ul>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents an action interaction event sent using the\n      <code>PutActionInteractions</code> API.</p>"
            }
        },
        "com.amazonaws.personalizeevents#ActionInteractionsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.personalizeevents#ActionInteraction"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.personalizeevents#ActionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.personalizeevents#Action"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.personalizeevents#AmazonPersonalizeEvents": {
            "type": "service",
            "version": "2018-03-22",
            "operations": [
                {
                    "target": "com.amazonaws.personalizeevents#PutActionInteractions"
                },
                {
                    "target": "com.amazonaws.personalizeevents#PutActions"
                },
                {
                    "target": "com.amazonaws.personalizeevents#PutEvents"
                },
                {
                    "target": "com.amazonaws.personalizeevents#PutItems"
                },
                {
                    "target": "com.amazonaws.personalizeevents#PutUsers"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Personalize Events",
                    "arnNamespace": "personalize",
                    "cloudFormationName": "PersonalizeEvents",
                    "cloudTrailEventSource": "personalizeevents.amazonaws.com",
                    "endpointPrefix": "personalize-events"
                },
                "aws.auth#sigv4": {
                    "name": "personalize"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>Amazon Personalize can consume real-time user event data, such as <i>stream</i> or <i>click</i> data, and use\n      it for model training either alone or combined with historical data. For more information see \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/recording-item-interaction-events.html\">Recording item interaction events</a>.</p>",
                "smithy.api#title": "Amazon Personalize Events",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://personalize-events-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://personalize-events-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://personalize-events.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://personalize-events.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://personalize-events.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.personalizeevents#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                },
                "smithy.api#pattern": "^arn:([a-z\\d-]+):personalize:.*:.*:.+$"
            }
        },
        "com.amazonaws.personalizeevents#Date": {
            "type": "timestamp"
        },
        "com.amazonaws.personalizeevents#ErrorMessage": {
            "type": "string"
        },
        "com.amazonaws.personalizeevents#Event": {
            "type": "structure",
            "members": {
                "eventId": {
                    "target": "com.amazonaws.personalizeevents#StringType",
                    "traits": {
                        "smithy.api#documentation": "<p>An ID associated with the event. If an event ID is not provided, Amazon Personalize generates\n      a unique ID for the event. An event ID is not used as an input to the model. Amazon Personalize uses\n      the event ID to distinguish unique events. Any subsequent events after the first with the\n      same event ID are not used in model training.</p>"
                    }
                },
                "eventType": {
                    "target": "com.amazonaws.personalizeevents#StringType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of event, such as click or download. This property corresponds to the <code>EVENT_TYPE</code>\n      field of your Item interactions dataset's schema and depends on the types of events you are tracking.</p>",
                        "smithy.api#required": {}
                    }
                },
                "eventValue": {
                    "target": "com.amazonaws.personalizeevents#FloatType",
                    "traits": {
                        "smithy.api#documentation": "<p>The event value that corresponds to the <code>EVENT_VALUE</code> field of the Item interactions schema.</p>"
                    }
                },
                "itemId": {
                    "target": "com.amazonaws.personalizeevents#ItemId",
                    "traits": {
                        "smithy.api#documentation": "<p>The item ID key that corresponds to the <code>ITEM_ID</code> field of the Item interactions dataset's schema.</p>"
                    }
                },
                "properties": {
                    "target": "com.amazonaws.personalizeevents#SynthesizedJsonEventPropertiesJSON",
                    "traits": {
                        "smithy.api#documentation": "<p>A string map of event-specific data that you might choose to record. For example, if a\n      user rates a movie on your site, other than movie ID (<code>itemId</code>) and rating (<code>eventValue</code>)\n      , you might also send the number of movie ratings made by the user.</p>\n         <p>Each item in the map consists of a key-value pair. For example,</p>\n         <p>\n            <code>{\"numberOfRatings\": \"12\"}</code>\n         </p>\n         <p>The keys use camel case names that match the fields in the Item interactions dataset's\n      schema. In the above example, the <code>numberOfRatings</code> would match the\n      'NUMBER_OF_RATINGS' field defined in the Item interactions dataset's schema.</p>\n         <p>\n      The following can't be included as a keyword for properties (case insensitive). \n      \n    </p>\n         <ul>\n            <li>\n               <p>\n          userId\n        </p>\n            </li>\n            <li>\n               <p>\n          sessionId\n        </p>\n            </li>\n            <li>\n               <p>eventType</p>\n            </li>\n            <li>\n               <p>timestamp</p>\n            </li>\n            <li>\n               <p>recommendationId</p>\n            </li>\n            <li>\n               <p>impression</p>\n            </li>\n         </ul>"
                    }
                },
                "sentAt": {
                    "target": "com.amazonaws.personalizeevents#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp (in Unix time) on the client side when the event occurred.</p>",
                        "smithy.api#required": {}
                    }
                },
                "recommendationId": {
                    "target": "com.amazonaws.personalizeevents#RecommendationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the list of recommendations that contains the item the user interacted with. Provide a <code>recommendationId</code> to have Amazon Personalize implicitly record the\n      recommendations you show your user as impressions data. Or provide a <code>recommendationId</code> if you use a metric attribution to measure the impact of recommendations. \n    </p>\n         <p>\n      For more information on recording impressions data, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/recording-events.html#putevents-including-impressions-data\">Recording impressions data</a>. \n      For more information on creating a metric attribution see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/measuring-recommendation-impact.html\">Measuring impact of recommendations</a>.\n    </p>"
                    }
                },
                "impression": {
                    "target": "com.amazonaws.personalizeevents#Impression",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of item IDs that represents the sequence of items you have shown the user. For example, <code>[\"itemId1\", \"itemId2\", \"itemId3\"]</code>. Provide a list of \n      items to manually record impressions data for an event. For more information on recording impressions data, \n      see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/recording-events.html#putevents-including-impressions-data\">Recording impressions data</a>. </p>"
                    }
                },
                "metricAttribution": {
                    "target": "com.amazonaws.personalizeevents#MetricAttribution",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about the metric attribution associated with an event. For more information about metric attributions, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/measuring-recommendation-impact.html\">Measuring impact of recommendations</a>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents item interaction event information sent using the\n      <code>PutEvents</code> API.</p>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.personalizeevents#EventAttributionSource": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1024
                },
                "smithy.api#pattern": "^[\\x20-\\x7E]*[\\x21-\\x7E]+[\\x20-\\x7E]*$"
            }
        },
        "com.amazonaws.personalizeevents#EventList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.personalizeevents#Event"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.personalizeevents#FloatType": {
            "type": "float"
        },
        "com.amazonaws.personalizeevents#Impression": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.personalizeevents#ItemId"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 25
                }
            }
        },
        "com.amazonaws.personalizeevents#InvalidInputException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.personalizeevents#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provide a valid value for the field or parameter.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.personalizeevents#Item": {
            "type": "structure",
            "members": {
                "itemId": {
                    "target": "com.amazonaws.personalizeevents#StringType",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID associated with the item.</p>",
                        "smithy.api#required": {}
                    }
                },
                "properties": {
                    "target": "com.amazonaws.personalizeevents#SynthesizedJsonItemProperties",
                    "traits": {
                        "smithy.api#documentation": "<p>A string map of item-specific metadata. Each element in the map consists of a key-value pair. \n      For example, <code>{\"numberOfRatings\": \"12\"}</code>.</p>\n         <p>The keys use camel case names that match the fields in the schema for the Items\n      dataset. In the previous example, the <code>numberOfRatings</code> matches the\n      'NUMBER_OF_RATINGS' field defined in the Items schema. For categorical string data, to include multiple categories for a single item, \n      separate each category with a pipe separator (<code>|</code>). For example, <code>\\\"Horror|Action\\\"</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents item metadata added to an Items dataset using the \n      <code>PutItems</code> API. For more information see \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/importing-items.html\">Importing items individually</a>.\n    </p>"
            }
        },
        "com.amazonaws.personalizeevents#ItemId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.personalizeevents#ItemList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.personalizeevents#Item"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.personalizeevents#MetricAttribution": {
            "type": "structure",
            "members": {
                "eventAttributionSource": {
                    "target": "com.amazonaws.personalizeevents#EventAttributionSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The source of the event, such as a third party.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about a metric attribution associated with an event. For more information about metric attributions, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/measuring-recommendation-impact.html\">Measuring impact of recommendations</a>.</p>"
            }
        },
        "com.amazonaws.personalizeevents#PutActionInteractions": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.personalizeevents#PutActionInteractionsRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.personalizeevents#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.personalizeevents#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.personalizeevents#ResourceNotFoundException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Records action interaction event data. An <i>action interaction</i> event is an interaction between a user and an <i>action</i>. \n      For example, a user taking an action, such a enrolling in a membership program or downloading your app.</p>\n         <p>\n      For more information about recording action interactions, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/recording-action-interaction-events.html\">Recording action interaction events</a>.\n      For more information about actions in an Actions dataset, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/actions-datasets.html\">Actions dataset</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/action-interactions",
                    "code": 200
                }
            }
        },
        "com.amazonaws.personalizeevents#PutActionInteractionsRequest": {
            "type": "structure",
            "members": {
                "trackingId": {
                    "target": "com.amazonaws.personalizeevents#StringType",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of your action interaction event tracker. When you create an Action interactions dataset, Amazon Personalize creates an\n      action interaction event tracker for you. For more information, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/action-interaction-tracker-id.html\">Action interaction event tracker ID</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "actionInteractions": {
                    "target": "com.amazonaws.personalizeevents#ActionInteractionsList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of action interaction events from the session.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.personalizeevents#PutActions": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.personalizeevents#PutActionsRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.personalizeevents#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.personalizeevents#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.personalizeevents#ResourceNotFoundException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds one or more actions to an Actions dataset. For more information see \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/importing-actions.html\">Importing actions individually</a>.\n    </p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/actions",
                    "code": 200
                }
            }
        },
        "com.amazonaws.personalizeevents#PutActionsRequest": {
            "type": "structure",
            "members": {
                "datasetArn": {
                    "target": "com.amazonaws.personalizeevents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Actions dataset you are adding the action or actions to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "actions": {
                    "target": "com.amazonaws.personalizeevents#ActionList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of action data.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.personalizeevents#PutEvents": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.personalizeevents#PutEventsRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.personalizeevents#InvalidInputException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Records item interaction event data. For more information see \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/recording-item-interaction-events.html\">Recording item interaction events</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/events",
                    "code": 200
                }
            }
        },
        "com.amazonaws.personalizeevents#PutEventsRequest": {
            "type": "structure",
            "members": {
                "trackingId": {
                    "target": "com.amazonaws.personalizeevents#StringType",
                    "traits": {
                        "smithy.api#documentation": "<p>The tracking ID for the event.\n      The ID is generated by a call to the\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateEventTracker.html\">CreateEventTracker</a> API.</p>",
                        "smithy.api#required": {}
                    }
                },
                "userId": {
                    "target": "com.amazonaws.personalizeevents#UserId",
                    "traits": {
                        "smithy.api#documentation": "<p>The user associated with the event.</p>"
                    }
                },
                "sessionId": {
                    "target": "com.amazonaws.personalizeevents#StringType",
                    "traits": {
                        "smithy.api#documentation": "<p>The session ID associated with the user's visit. Your application generates the sessionId when a user first visits your website or uses your application. \n      Amazon Personalize uses the sessionId to associate events with the user before they log in. For more information, see \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/recording-item-interaction-events.html\">Recording item interaction events</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "eventList": {
                    "target": "com.amazonaws.personalizeevents#EventList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of event data from the session.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.personalizeevents#PutItems": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.personalizeevents#PutItemsRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.personalizeevents#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.personalizeevents#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.personalizeevents#ResourceNotFoundException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds one or more items to an Items dataset. For more information see \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/importing-items.html\">Importing items individually</a>.\n     </p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/items",
                    "code": 200
                }
            }
        },
        "com.amazonaws.personalizeevents#PutItemsRequest": {
            "type": "structure",
            "members": {
                "datasetArn": {
                    "target": "com.amazonaws.personalizeevents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Items dataset you are adding the item or items to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "items": {
                    "target": "com.amazonaws.personalizeevents#ItemList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of item data.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.personalizeevents#PutUsers": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.personalizeevents#PutUsersRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.personalizeevents#InvalidInputException"
                },
                {
                    "target": "com.amazonaws.personalizeevents#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.personalizeevents#ResourceNotFoundException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds one or more users to a Users dataset. For more information see \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/importing-users.html\">Importing users individually</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/users",
                    "code": 200
                }
            }
        },
        "com.amazonaws.personalizeevents#PutUsersRequest": {
            "type": "structure",
            "members": {
                "datasetArn": {
                    "target": "com.amazonaws.personalizeevents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Users dataset you are adding the user or users to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "users": {
                    "target": "com.amazonaws.personalizeevents#UserList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of user data.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.personalizeevents#RecommendationId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 40
                }
            }
        },
        "com.amazonaws.personalizeevents#ResourceInUseException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.personalizeevents#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The specified resource is in use.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.personalizeevents#ResourceNotFoundException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.personalizeevents#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Could not find the specified resource.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.amazonaws.personalizeevents#StringType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                }
            }
        },
        "com.amazonaws.personalizeevents#SynthesizedJsonActionInteractionProperties": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                },
                "smithy.api#mediaType": "application/json",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.personalizeevents#SynthesizedJsonActionProperties": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 32000
                },
                "smithy.api#mediaType": "application/json",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.personalizeevents#SynthesizedJsonEventPropertiesJSON": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                },
                "smithy.api#mediaType": "application/json",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.personalizeevents#SynthesizedJsonItemProperties": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 32000
                },
                "smithy.api#mediaType": "application/json",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.personalizeevents#SynthesizedJsonUserProperties": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 24000
                },
                "smithy.api#mediaType": "application/json",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.personalizeevents#User": {
            "type": "structure",
            "members": {
                "userId": {
                    "target": "com.amazonaws.personalizeevents#StringType",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID associated with the user.</p>",
                        "smithy.api#required": {}
                    }
                },
                "properties": {
                    "target": "com.amazonaws.personalizeevents#SynthesizedJsonUserProperties",
                    "traits": {
                        "smithy.api#documentation": "<p>A string map of user-specific metadata. Each element in the map consists of a key-value pair. \n      For example, <code>{\"numberOfVideosWatched\": \"45\"}</code>.</p>\n         <p>The keys use camel case names that match the fields in the schema for the Users\n      dataset. In the previous example, the <code>numberOfVideosWatched</code> matches the\n      'NUMBER_OF_VIDEOS_WATCHED' field defined in the Users schema. For categorical string data, \n      to include multiple categories for a single user, separate each category with a pipe separator (<code>|</code>). \n      For example, <code>\\\"Member|Frequent shopper\\\"</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents user metadata added to a Users dataset using the \n      <code>PutUsers</code> API. For more information see \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/importing-users.html\">Importing users individually</a>.</p>"
            }
        },
        "com.amazonaws.personalizeevents#UserId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.personalizeevents#UserList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.personalizeevents#User"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        }
    }
}
