{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.pinpointemail#AccountSuspendedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.pinpointemail#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The message can't be sent because the account's ability to send email has been\n            permanently restricted.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.pinpointemail#AlreadyExistsException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.pinpointemail#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The resource specified in your request already exists.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.pinpointemail#AmazonPinpointEmailService": {
            "type": "service",
            "version": "2018-07-26",
            "operations": [
                {
                    "target": "com.amazonaws.pinpointemail#CreateConfigurationSet"
                },
                {
                    "target": "com.amazonaws.pinpointemail#CreateConfigurationSetEventDestination"
                },
                {
                    "target": "com.amazonaws.pinpointemail#CreateDedicatedIpPool"
                },
                {
                    "target": "com.amazonaws.pinpointemail#CreateDeliverabilityTestReport"
                },
                {
                    "target": "com.amazonaws.pinpointemail#CreateEmailIdentity"
                },
                {
                    "target": "com.amazonaws.pinpointemail#DeleteConfigurationSet"
                },
                {
                    "target": "com.amazonaws.pinpointemail#DeleteConfigurationSetEventDestination"
                },
                {
                    "target": "com.amazonaws.pinpointemail#DeleteDedicatedIpPool"
                },
                {
                    "target": "com.amazonaws.pinpointemail#DeleteEmailIdentity"
                },
                {
                    "target": "com.amazonaws.pinpointemail#GetAccount"
                },
                {
                    "target": "com.amazonaws.pinpointemail#GetBlacklistReports"
                },
                {
                    "target": "com.amazonaws.pinpointemail#GetConfigurationSet"
                },
                {
                    "target": "com.amazonaws.pinpointemail#GetConfigurationSetEventDestinations"
                },
                {
                    "target": "com.amazonaws.pinpointemail#GetDedicatedIp"
                },
                {
                    "target": "com.amazonaws.pinpointemail#GetDedicatedIps"
                },
                {
                    "target": "com.amazonaws.pinpointemail#GetDeliverabilityDashboardOptions"
                },
                {
                    "target": "com.amazonaws.pinpointemail#GetDeliverabilityTestReport"
                },
                {
                    "target": "com.amazonaws.pinpointemail#GetDomainDeliverabilityCampaign"
                },
                {
                    "target": "com.amazonaws.pinpointemail#GetDomainStatisticsReport"
                },
                {
                    "target": "com.amazonaws.pinpointemail#GetEmailIdentity"
                },
                {
                    "target": "com.amazonaws.pinpointemail#ListConfigurationSets"
                },
                {
                    "target": "com.amazonaws.pinpointemail#ListDedicatedIpPools"
                },
                {
                    "target": "com.amazonaws.pinpointemail#ListDeliverabilityTestReports"
                },
                {
                    "target": "com.amazonaws.pinpointemail#ListDomainDeliverabilityCampaigns"
                },
                {
                    "target": "com.amazonaws.pinpointemail#ListEmailIdentities"
                },
                {
                    "target": "com.amazonaws.pinpointemail#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.pinpointemail#PutAccountDedicatedIpWarmupAttributes"
                },
                {
                    "target": "com.amazonaws.pinpointemail#PutAccountSendingAttributes"
                },
                {
                    "target": "com.amazonaws.pinpointemail#PutConfigurationSetDeliveryOptions"
                },
                {
                    "target": "com.amazonaws.pinpointemail#PutConfigurationSetReputationOptions"
                },
                {
                    "target": "com.amazonaws.pinpointemail#PutConfigurationSetSendingOptions"
                },
                {
                    "target": "com.amazonaws.pinpointemail#PutConfigurationSetTrackingOptions"
                },
                {
                    "target": "com.amazonaws.pinpointemail#PutDedicatedIpInPool"
                },
                {
                    "target": "com.amazonaws.pinpointemail#PutDedicatedIpWarmupAttributes"
                },
                {
                    "target": "com.amazonaws.pinpointemail#PutDeliverabilityDashboardOption"
                },
                {
                    "target": "com.amazonaws.pinpointemail#PutEmailIdentityDkimAttributes"
                },
                {
                    "target": "com.amazonaws.pinpointemail#PutEmailIdentityFeedbackAttributes"
                },
                {
                    "target": "com.amazonaws.pinpointemail#PutEmailIdentityMailFromAttributes"
                },
                {
                    "target": "com.amazonaws.pinpointemail#SendEmail"
                },
                {
                    "target": "com.amazonaws.pinpointemail#TagResource"
                },
                {
                    "target": "com.amazonaws.pinpointemail#UntagResource"
                },
                {
                    "target": "com.amazonaws.pinpointemail#UpdateConfigurationSetEventDestination"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Pinpoint Email",
                    "arnNamespace": "ses",
                    "cloudFormationName": "PinpointEmail",
                    "cloudTrailEventSource": "pinpointemail.amazonaws.com",
                    "endpointPrefix": "email"
                },
                "aws.auth#sigv4": {
                    "name": "ses"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<fullname>Amazon Pinpoint Email Service</fullname>\n        <p>Welcome to the <i>Amazon Pinpoint Email API Reference</i>. This guide provides\n            information about the Amazon Pinpoint Email API (version 1.0), including supported\n            operations, data types, parameters, and schemas.</p>\n        <p>\n            <a href=\"https://aws.amazon.com/pinpoint\">Amazon Pinpoint</a> is an AWS service that you\n            can use to engage with your customers across multiple messaging channels. You can use\n            Amazon Pinpoint to send email, SMS text messages, voice messages, and push notifications. The\n            Amazon Pinpoint Email API provides programmatic access to options that are unique to the\n            email channel and supplement the options provided by the Amazon Pinpoint API.</p>\n        <p>If you're new to Amazon Pinpoint, you might find it helpful to also review the <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/welcome.html\">Amazon\n                Pinpoint Developer Guide</a>. The <i>Amazon Pinpoint Developer\n                Guide</i> provides tutorials, code samples, and procedures that demonstrate\n            how to use Amazon Pinpoint features programmatically and how to integrate Amazon Pinpoint functionality into\n            mobile apps and other types of applications. The guide also provides information about\n            key topics such as Amazon Pinpoint integration with other AWS services and the limits that apply\n            to using the service.</p>\n        <p>The Amazon Pinpoint Email API is available in several AWS Regions and it provides an endpoint\n            for each of these Regions. For a list of all the Regions and endpoints where the API is\n            currently available, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#pinpoint_region\">AWS Service Endpoints</a> in\n            the <i>Amazon Web Services General Reference</i>. To learn more about AWS Regions, see\n                <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande-manage.html\">Managing AWS\n                Regions</a> in the <i>Amazon Web Services General Reference</i>.</p>\n        <p>In each Region, AWS maintains multiple Availability Zones. These Availability Zones\n            are physically isolated from each other, but are united by private, low-latency,\n            high-throughput, and highly redundant network connections. These Availability Zones\n            enable us to provide very high levels of availability and redundancy, while also\n            minimizing latency. To learn more about the number of Availability Zones that are\n            available in each Region, see <a href=\"http://aws.amazon.com/about-aws/global-infrastructure/\">AWS Global Infrastructure</a>.</p>",
                "smithy.api#title": "Amazon Pinpoint Email Service",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://email-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://email-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://email.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://email.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "af-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "me-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.us-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email-fips.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email-fips.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://email.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.pinpointemail#AmazonResourceName": {
            "type": "string"
        },
        "com.amazonaws.pinpointemail#BadRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.pinpointemail#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The input you provided is invalid.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.pinpointemail#BehaviorOnMxFailure": {
            "type": "enum",
            "members": {
                "USE_DEFAULT_VALUE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "USE_DEFAULT_VALUE"
                    }
                },
                "REJECT_MESSAGE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "REJECT_MESSAGE"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The action that you want Amazon Pinpoint to take if it can't read the required MX record for a\n            custom MAIL FROM domain. When you set this value to <code>UseDefaultValue</code>, Amazon Pinpoint\n            uses <i>amazonses.com</i> as the MAIL FROM domain. When you set this value\n            to <code>RejectMessage</code>, Amazon Pinpoint returns a <code>MailFromDomainNotVerified</code>\n            error, and doesn't attempt to deliver the email.</p>\n        <p>These behaviors are taken when the custom MAIL FROM domain configuration is in the\n                <code>Pending</code>, <code>Failed</code>, and <code>TemporaryFailure</code>\n            states.</p>"
            }
        },
        "com.amazonaws.pinpointemail#BlacklistEntries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.pinpointemail#BlacklistEntry"
            }
        },
        "com.amazonaws.pinpointemail#BlacklistEntry": {
            "type": "structure",
            "members": {
                "RblName": {
                    "target": "com.amazonaws.pinpointemail#RblName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the blacklist that the IP address appears on.</p>"
                    }
                },
                "ListingTime": {
                    "target": "com.amazonaws.pinpointemail#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the blacklisting event occurred, shown in Unix time format.</p>"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.pinpointemail#BlacklistingDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional information about the blacklisting event, as provided by the blacklist\n            maintainer.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that contains information about a blacklisting event that impacts one of the\n            dedicated IP addresses that is associated with your account.</p>"
            }
        },
        "com.amazonaws.pinpointemail#BlacklistItemName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>An IP address that you want to obtain blacklist information for.</p>"
            }
        },
        "com.amazonaws.pinpointemail#BlacklistItemNames": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.pinpointemail#BlacklistItemName"
            }
        },
        "com.amazonaws.pinpointemail#BlacklistReport": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.pinpointemail#BlacklistItemName"
            },
            "value": {
                "target": "com.amazonaws.pinpointemail#BlacklistEntries"
            }
        },
        "com.amazonaws.pinpointemail#BlacklistingDescription": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>A description of the blacklisting event.</p>"
            }
        },
        "com.amazonaws.pinpointemail#Body": {
            "type": "structure",
            "members": {
                "Text": {
                    "target": "com.amazonaws.pinpointemail#Content",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that represents the version of the message that is displayed in email\n            clients that don't support HTML, or clients where the recipient has disabled HTML\n            rendering.</p>"
                    }
                },
                "Html": {
                    "target": "com.amazonaws.pinpointemail#Content",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that represents the version of the message that is displayed in email\n            clients that support HTML. HTML messages can include formatted text, hyperlinks, images,\n            and more. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents the body of the email message.</p>"
            }
        },
        "com.amazonaws.pinpointemail#CampaignId": {
            "type": "string"
        },
        "com.amazonaws.pinpointemail#Charset": {
            "type": "string"
        },
        "com.amazonaws.pinpointemail#CloudWatchDestination": {
            "type": "structure",
            "members": {
                "DimensionConfigurations": {
                    "target": "com.amazonaws.pinpointemail#CloudWatchDimensionConfigurations",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that define the dimensions to use when you send email events to\n            Amazon CloudWatch.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that defines an Amazon CloudWatch destination for email events. You can use Amazon CloudWatch to\n            monitor and gain insights on your email sending metrics.</p>"
            }
        },
        "com.amazonaws.pinpointemail#CloudWatchDimensionConfiguration": {
            "type": "structure",
            "members": {
                "DimensionName": {
                    "target": "com.amazonaws.pinpointemail#DimensionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of an Amazon CloudWatch dimension associated with an email sending metric. The name has to\n            meet the following criteria:</p>\n        <ul>\n            <li>\n                <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_),\n                    or dashes (-).</p>\n            </li>\n            <li>\n                <p>It can contain no more than 256 characters.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "DimensionValueSource": {
                    "target": "com.amazonaws.pinpointemail#DimensionValueSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The location where Amazon Pinpoint finds the value of a dimension to publish to Amazon CloudWatch. If you\n            want Amazon Pinpoint to use the message tags that you specify using an X-SES-MESSAGE-TAGS header\n            or a parameter to the SendEmail/SendRawEmail API, choose <code>messageTag</code>. If you\n            want Amazon Pinpoint to use your own email headers, choose <code>emailHeader</code>. If you want\n            Amazon Pinpoint to use link tags, choose <code>linkTags</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DefaultDimensionValue": {
                    "target": "com.amazonaws.pinpointemail#DefaultDimensionValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The default value of the dimension that is published to Amazon CloudWatch if you don't provide the\n            value of the dimension when you send an email. This value has to meet the following\n            criteria:</p>\n        <ul>\n            <li>\n                <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_),\n                    or dashes (-).</p>\n            </li>\n            <li>\n                <p>It can contain no more than 256 characters.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that defines the dimension configuration to use when you send Amazon Pinpoint email\n            events to Amazon CloudWatch.</p>"
            }
        },
        "com.amazonaws.pinpointemail#CloudWatchDimensionConfigurations": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.pinpointemail#CloudWatchDimensionConfiguration"
            }
        },
        "com.amazonaws.pinpointemail#ConcurrentModificationException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.pinpointemail#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The resource is being modified by another operation or thread.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "com.amazonaws.pinpointemail#ConfigurationSetName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The name of a configuration set.</p>\n        <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can\n            apply to the emails you send. You apply a configuration set to an email by including a\n            reference to the configuration set in the headers of the email. When you apply a\n            configuration set to an email, all of the rules in that configuration set are applied to\n            the email.</p>"
            }
        },
        "com.amazonaws.pinpointemail#ConfigurationSetNameList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.pinpointemail#ConfigurationSetName"
            }
        },
        "com.amazonaws.pinpointemail#Content": {
            "type": "structure",
            "members": {
                "Data": {
                    "target": "com.amazonaws.pinpointemail#MessageData",
                    "traits": {
                        "smithy.api#documentation": "<p>The content of the message itself.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Charset": {
                    "target": "com.amazonaws.pinpointemail#Charset",
                    "traits": {
                        "smithy.api#documentation": "<p>The character set for the content. Because of the constraints of the SMTP protocol,\n            Amazon Pinpoint uses 7-bit ASCII by default. If the text includes characters outside of the ASCII\n            range, you have to specify a character set. For example, you could specify\n                <code>UTF-8</code>, <code>ISO-8859-1</code>, or <code>Shift_JIS</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents the content of the email, and optionally a character set\n            specification.</p>"
            }
        },
        "com.amazonaws.pinpointemail#CreateConfigurationSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointemail#CreateConfigurationSetRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointemail#CreateConfigurationSetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointemail#AlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#BadRequestException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#NotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create a configuration set. <i>Configuration sets</i> are groups of\n            rules that you can apply to the emails you send using Amazon Pinpoint. You apply a configuration\n            set to an email by including a reference to the configuration set in the headers of the\n            email. When you apply a configuration set to an email, all of the rules in that\n            configuration set are applied to the email. </p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/email/configuration-sets",
                    "code": 200
                }
            }
        },
        "com.amazonaws.pinpointemail#CreateConfigurationSetEventDestination": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointemail#CreateConfigurationSetEventDestinationRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointemail#CreateConfigurationSetEventDestinationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointemail#AlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#BadRequestException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#NotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create an event destination. In Amazon Pinpoint, <i>events</i> include message\n            sends, deliveries, opens, clicks, bounces, and complaints. <i>Event\n                destinations</i> are places that you can send information about these events\n            to. For example, you can send event data to Amazon SNS to receive notifications when you\n            receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term\n            storage.</p>\n        <p>A single configuration set can include more than one event destination.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations",
                    "code": 200
                }
            }
        },
        "com.amazonaws.pinpointemail#CreateConfigurationSetEventDestinationRequest": {
            "type": "structure",
            "members": {
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointemail#ConfigurationSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the configuration set that you want to add an event destination to.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "EventDestinationName": {
                    "target": "com.amazonaws.pinpointemail#EventDestinationName",
                    "traits": {
                        "smithy.api#documentation": "<p>A name that identifies the event destination within the configuration set.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventDestination": {
                    "target": "com.amazonaws.pinpointemail#EventDestinationDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that defines the event destination.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A request to add an event destination to a configuration set.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pinpointemail#CreateConfigurationSetEventDestinationResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pinpointemail#CreateConfigurationSetRequest": {
            "type": "structure",
            "members": {
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointemail#ConfigurationSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the configuration set.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TrackingOptions": {
                    "target": "com.amazonaws.pinpointemail#TrackingOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that defines the open and click tracking options for emails that you send\n            using the configuration set.</p>"
                    }
                },
                "DeliveryOptions": {
                    "target": "com.amazonaws.pinpointemail#DeliveryOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that defines the dedicated IP pool that is used to send emails that you send\n            using the configuration set.</p>"
                    }
                },
                "ReputationOptions": {
                    "target": "com.amazonaws.pinpointemail#ReputationOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that defines whether or not Amazon Pinpoint collects reputation metrics for the emails\n            that you send that use the configuration set.</p>"
                    }
                },
                "SendingOptions": {
                    "target": "com.amazonaws.pinpointemail#SendingOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that defines whether or not Amazon Pinpoint can send email that you send using the\n            configuration set.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.pinpointemail#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that define the tags (keys and values) that you want to associate\n            with the configuration set.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A request to create a configuration set.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pinpointemail#CreateConfigurationSetResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pinpointemail#CreateDedicatedIpPool": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointemail#CreateDedicatedIpPoolRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointemail#CreateDedicatedIpPoolResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointemail#AlreadyExistsException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#BadRequestException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create a new pool of dedicated IP addresses. A pool can include one or more dedicated\n            IP addresses that are associated with your Amazon Pinpoint account. You can associate a pool with\n            a configuration set. When you send an email that uses that configuration set, Amazon Pinpoint\n            sends it using only the IP addresses in the associated pool.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/email/dedicated-ip-pools",
                    "code": 200
                }
            }
        },
        "com.amazonaws.pinpointemail#CreateDedicatedIpPoolRequest": {
            "type": "structure",
            "members": {
                "PoolName": {
                    "target": "com.amazonaws.pinpointemail#PoolName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the dedicated IP pool.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.pinpointemail#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that defines the tags (keys and values) that you want to associate with the\n            pool.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A request to create a new dedicated IP pool.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pinpointemail#CreateDedicatedIpPoolResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pinpointemail#CreateDeliverabilityTestReport": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointemail#CreateDeliverabilityTestReportRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointemail#CreateDeliverabilityTestReportResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointemail#AccountSuspendedException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#BadRequestException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#MailFromDomainNotVerifiedException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#MessageRejected"
                },
                {
                    "target": "com.amazonaws.pinpointemail#NotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#SendingPausedException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create a new predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will be handled\n            by various email providers around the world. When you perform a predictive inbox placement test, you provide a\n            sample message that contains the content that you plan to send to your customers. Amazon Pinpoint\n            then sends that message to special email addresses spread across several major email\n            providers. After about 24 hours, the test is complete, and you can use the\n                <code>GetDeliverabilityTestReport</code> operation to view the results of the\n            test.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/email/deliverability-dashboard/test",
                    "code": 200
                }
            }
        },
        "com.amazonaws.pinpointemail#CreateDeliverabilityTestReportRequest": {
            "type": "structure",
            "members": {
                "ReportName": {
                    "target": "com.amazonaws.pinpointemail#ReportName",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name that helps you to identify the predictive inbox placement test when you retrieve the\n            results.</p>"
                    }
                },
                "FromEmailAddress": {
                    "target": "com.amazonaws.pinpointemail#EmailAddress",
                    "traits": {
                        "smithy.api#documentation": "<p>The email address that the predictive inbox placement test email was sent from.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Content": {
                    "target": "com.amazonaws.pinpointemail#EmailContent",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTML body of the message that you sent when you performed the predictive inbox placement test.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.pinpointemail#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that define the tags (keys and values) that you want to associate\n            with the predictive inbox placement test.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A request to perform a predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will\n            be handled by various email providers around the world. When you perform a predictive inbox placement test, you\n            provide a sample message that contains the content that you plan to send to your\n            customers. Amazon Pinpoint then sends that message to special email addresses spread across\n            several major email providers. After about 24 hours, the test is complete, and you can\n            use the <code>GetDeliverabilityTestReport</code> operation to view the results of the\n            test.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pinpointemail#CreateDeliverabilityTestReportResponse": {
            "type": "structure",
            "members": {
                "ReportId": {
                    "target": "com.amazonaws.pinpointemail#ReportId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique string that identifies the predictive inbox placement test.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DeliverabilityTestStatus": {
                    "target": "com.amazonaws.pinpointemail#DeliverabilityTestStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the predictive inbox placement test. If the status is <code>IN_PROGRESS</code>, then the predictive inbox placement test\n            is currently running. Predictive inbox placement tests are usually complete within 24 hours of creating the\n            test. If the status is <code>COMPLETE</code>, then the test is finished, and you can use\n            the <code>GetDeliverabilityTestReport</code> to view the results of the test.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the predictive inbox placement test that you created.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pinpointemail#CreateEmailIdentity": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointemail#CreateEmailIdentityRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointemail#CreateEmailIdentityResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointemail#BadRequestException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Verifies an email identity for use with Amazon Pinpoint. In Amazon Pinpoint, an identity is an email\n            address or domain that you use when you send email. Before you can use an identity to\n            send email with Amazon Pinpoint, you first have to verify it. By verifying an address, you\n            demonstrate that you're the owner of the address, and that you've given Amazon Pinpoint permission\n            to send email from the address.</p>\n        <p>When you verify an email address, Amazon Pinpoint sends an email to the address. Your email\n            address is verified as soon as you follow the link in the verification email.\n            \n        </p>\n        <p>When you verify a domain, this operation provides a set of DKIM tokens, which you can\n            convert into CNAME tokens. You add these CNAME tokens to the DNS configuration for your\n            domain. Your domain is verified when Amazon Pinpoint detects these records in the DNS\n            configuration for your domain. It usually takes around 72 hours to complete the domain\n            verification process.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/email/identities",
                    "code": 200
                }
            }
        },
        "com.amazonaws.pinpointemail#CreateEmailIdentityRequest": {
            "type": "structure",
            "members": {
                "EmailIdentity": {
                    "target": "com.amazonaws.pinpointemail#Identity",
                    "traits": {
                        "smithy.api#documentation": "<p>The email address or domain that you want to verify.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.pinpointemail#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects that define the tags (keys and values) that you want to associate\n            with the email identity.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A request to begin the verification process for an email identity (an email address or\n            domain).</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pinpointemail#CreateEmailIdentityResponse": {
            "type": "structure",
            "members": {
                "IdentityType": {
                    "target": "com.amazonaws.pinpointemail#IdentityType",
                    "traits": {
                        "smithy.api#documentation": "<p>The email identity type.</p>"
                    }
                },
                "VerifiedForSendingStatus": {
                    "target": "com.amazonaws.pinpointemail#Enabled",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Specifies whether or not the identity is verified. In Amazon Pinpoint, you can only send email\n            from verified email addresses or domains. For more information about verifying\n            identities, see the <a href=\"https://docs.aws.amazon.com/pinpoint/latest/userguide/channels-email-manage-verify.html\">Amazon Pinpoint User Guide</a>.</p>"
                    }
                },
                "DkimAttributes": {
                    "target": "com.amazonaws.pinpointemail#DkimAttributes",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains information about the DKIM attributes for the identity. This\n            object includes the tokens that you use to create the CNAME records that are required to\n            complete the DKIM verification process.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>If the email identity is a domain, this object contains tokens that you can use to\n            create a set of CNAME records. To sucessfully verify your domain, you have to add these\n            records to the DNS configuration for your domain.</p>\n        <p>If the email identity is an email address, this object is empty. </p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pinpointemail#CustomRedirectDomain": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The domain that you want to use for tracking open and click events.</p>"
            }
        },
        "com.amazonaws.pinpointemail#DailyVolume": {
            "type": "structure",
            "members": {
                "StartDate": {
                    "target": "com.amazonaws.pinpointemail#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date that the DailyVolume metrics apply to, in Unix time.</p>"
                    }
                },
                "VolumeStatistics": {
                    "target": "com.amazonaws.pinpointemail#VolumeStatistics",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains inbox placement metrics for a specific day in the analysis\n            period.</p>"
                    }
                },
                "DomainIspPlacements": {
                    "target": "com.amazonaws.pinpointemail#DomainIspPlacements",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains inbox placement metrics for a specified day in the analysis\n            period, broken out by the recipient's email provider.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that contains information about the volume of email sent on each day of the\n            analysis period.</p>"
            }
        },
        "com.amazonaws.pinpointemail#DailyVolumes": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.pinpointemail#DailyVolume"
            }
        },
        "com.amazonaws.pinpointemail#DedicatedIp": {
            "type": "structure",
            "members": {
                "Ip": {
                    "target": "com.amazonaws.pinpointemail#Ip",
                    "traits": {
                        "smithy.api#documentation": "<p>An IP address that is reserved for use by your Amazon Pinpoint account.</p>",
                        "smithy.api#required": {}
                    }
                },
                "WarmupStatus": {
                    "target": "com.amazonaws.pinpointemail#WarmupStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The warm-up status of a dedicated IP address. The status can have one of the following\n            values:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>IN_PROGRESS</code> – The IP address isn't ready to use because the\n                    dedicated IP warm-up process is ongoing.</p>\n            </li>\n            <li>\n                <p>\n                  <code>DONE</code> – The dedicated IP warm-up process is complete, and\n                    the IP address is ready to use.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "WarmupPercentage": {
                    "target": "com.amazonaws.pinpointemail#Percentage100Wrapper",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates how complete the dedicated IP warm-up process is. When this value equals 1,\n            the address has completed the warm-up process and is ready for use.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PoolName": {
                    "target": "com.amazonaws.pinpointemail#PoolName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the dedicated IP pool that the IP address is associated with.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about a dedicated IP address that is associated with your Amazon Pinpoint\n            account.</p>\n        <p></p>"
            }
        },
        "com.amazonaws.pinpointemail#DedicatedIpList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.pinpointemail#DedicatedIp"
            },
            "traits": {
                "smithy.api#documentation": "<p>A list of dedicated IP addresses that are associated with your Amazon Pinpoint account.</p>"
            }
        },
        "com.amazonaws.pinpointemail#DefaultDimensionValue": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The default value of the dimension that is published to Amazon CloudWatch if you don't provide the\n            value of the dimension when you send an email. This value has to meet the following\n            criteria:</p>\n        <ul>\n            <li>\n                <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_),\n                    or dashes (-).</p>\n            </li>\n            <li>\n                <p>It can contain no more than 256 characters.</p>\n            </li>\n         </ul>"
            }
        },
        "com.amazonaws.pinpointemail#DeleteConfigurationSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointemail#DeleteConfigurationSetRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointemail#DeleteConfigurationSetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointemail#BadRequestException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#ConcurrentModificationException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#NotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete an existing configuration set.</p>\n        <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can\n            apply to the emails you send. You apply a configuration set to an email by including a\n            reference to the configuration set in the headers of the email. When you apply a\n            configuration set to an email, all of the rules in that configuration set are applied to\n            the email.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/email/configuration-sets/{ConfigurationSetName}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.pinpointemail#DeleteConfigurationSetEventDestination": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointemail#DeleteConfigurationSetEventDestinationRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointemail#DeleteConfigurationSetEventDestinationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointemail#BadRequestException"
                },
                {
                    "target": "com.amazonaws.pinpointemail#NotFoundException"
                },
                {
[...]
