{
    "smithy": "1.0",
    "shapes": {
        "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String"
                },
                "Reason": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedExceptionReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the exception.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request was denied because you don't have sufficient permissions to access the\n            resource.</p>",
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#AccessDeniedExceptionReason": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "INSUFFICIENT_ACCOUNT_REPUTATION",
                        "name": "INSUFFICIENT_ACCOUNT_REPUTATION"
                    },
                    {
                        "value": "ACCOUNT_DISABLED",
                        "name": "ACCOUNT_DISABLED"
                    }
                ]
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#AccountAttribute": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccountAttributeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the account attribute.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Value": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The value associated with the account attribute name.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Displays the attributes associated with a single Amazon Web Services account.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#AccountAttributeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.pinpointsmsvoicev2#AccountAttribute"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#AccountAttributeName": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "ACCOUNT_TIER",
                        "name": "ACCOUNT_TIER"
                    }
                ]
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#AccountLimit": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccountLimitName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the attribute to apply the account limit to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Used": {
                    "target": "smithy.api#PrimitiveLong",
                    "traits": {
                        "smithy.api#documentation": "<p>The current amount that has been spent, in US dollars.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Max": {
                    "target": "smithy.api#PrimitiveLong",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services set limit for that resource type, in US dollars.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The current resource quotas associated with an Amazon Web Services account.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#AccountLimitList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.pinpointsmsvoicev2#AccountLimit"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#AccountLimitName": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "PHONE_NUMBERS",
                        "name": "PHONE_NUMBERS"
                    },
                    {
                        "value": "POOLS",
                        "name": "POOLS"
                    },
                    {
                        "value": "CONFIGURATION_SETS",
                        "name": "CONFIGURATION_SETS"
                    },
                    {
                        "value": "OPT_OUT_LISTS",
                        "name": "OPT_OUT_LISTS"
                    }
                ]
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#AmazonResourceName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 256
                },
                "smithy.api#pattern": "^arn:[A-Za-z0-9_:/-]+$"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentity": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentityRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentityResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates the specified origination identity with a pool.</p>\n        <p>If the origination identity is a phone number and is already associated with another\n            pool, an Error is returned. A sender ID can be associated with multiple pools.</p>\n        <p>If the origination identity configuration doesn't match the pool's configuration, an\n            Error is returned.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentityRequest": {
            "type": "structure",
            "members": {
                "PoolId": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#PoolIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The pool to update with the new Identity. This value can be either the PoolId or\n            PoolArn, and you can find these values using <a>DescribePools</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "OriginationIdentity": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#PhoneOrSenderIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The origination identity to use, such as PhoneNumberId, PhoneNumberArn, SenderId, or\n            SenderIdArn. You can use <a>DescribePhoneNumbers</a> to find the values for\n            PhoneNumberId and PhoneNumberArn, while <a>DescribeSenderIds</a> can be used\n            to get the values for SenderId and SenderIdArn.</p>",
                        "smithy.api#required": {}
                    }
                },
                "IsoCountryCode": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#IsoCountryCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The new two-character code, in ISO 3166-1 alpha-2 format, for the country or region of\n            the origination identity.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don't specify a client token, a randomly generated token is used for the\n            request to ensure idempotency.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentityResult": {
            "type": "structure",
            "members": {
                "PoolArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the pool that is now associated with the origination\n            identity.</p>"
                    }
                },
                "PoolId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The PoolId of the pool that is now associated with the origination identity.</p>"
                    }
                },
                "OriginationIdentityArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The PhoneNumberArn or SenderIdArn of the origination identity.</p>"
                    }
                },
                "OriginationIdentity": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The PhoneNumberId or SenderId of the origination identity.</p>"
                    }
                },
                "IsoCountryCode": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#IsoCountryCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The two-character code, in ISO 3166-1 alpha-2 format, for the country or region.\n        </p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[!-~]+$"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#CloudWatchLogsDestination": {
            "type": "structure",
            "members": {
                "IamRoleArn": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#IamRoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role\n            that is able to write event data to an Amazon CloudWatch destination.</p>",
                        "smithy.api#required": {}
                    }
                },
                "LogGroupArn": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#LogGroupArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon CloudWatch log group that you want to record events in. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains the destination configuration to use when publishing message sending events.\n        </p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilter": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilterName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the attribute to filter on.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Values": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#FilterValueList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array values to filter for.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The information for configuration sets that meet a specified criteria.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilter"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 20
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilterName": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "event-destination-name",
                        "name": "EVENT_DESTINATION_NAME"
                    },
                    {
                        "value": "matching-event-types",
                        "name": "MATCHING_EVENT_TYPES"
                    },
                    {
                        "value": "default-message-type",
                        "name": "DEFAULT_MESSAGE_TYPE"
                    },
                    {
                        "value": "default-sender-id",
                        "name": "DEFAULT_SENDER_ID"
                    }
                ]
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetInformation": {
            "type": "structure",
            "members": {
                "ConfigurationSetArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Resource Name (ARN) of the ConfigurationSet.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the ConfigurationSet.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventDestinations": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#EventDestinationList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of EventDestination objects that describe any events to log and where to log\n            them.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DefaultMessageType": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#MessageType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of message. Valid values are TRANSACTIONAL for messages that are critical or\n            time-sensitive and PROMOTIONAL for messages that aren't critical or\n            time-sensitive.</p>"
                    }
                },
                "DefaultSenderId": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#SenderId",
                    "traits": {
                        "smithy.api#documentation": "<p>The default sender ID used by the ConfigurationSet.</p>"
                    }
                },
                "CreatedTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the ConfigurationSet was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information related to a given configuration set in your Amazon Web Services\n            account.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetInformationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetInformation"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[A-Za-z0-9_-]+$"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 5
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^[A-Za-z0-9_:/-]+$"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String"
                },
                "Reason": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConflictExceptionReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the exception.</p>"
                    }
                },
                "ResourceType": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of resource that caused the exception.</p>"
                    }
                },
                "ResourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Your request has conflicting operations. This can occur if you're trying to perform\n            more than one operation on the same resource at the same time or it could be that the\n            requested action isn't valid for the current state or configuration of the\n            resource.</p>",
                "smithy.api#error": "client"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#ConflictExceptionReason": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "DELETION_PROTECTION_ENABLED",
                        "name": "DELETION_PROTECTION_ENABLED"
                    },
                    {
                        "value": "DESTINATION_PHONE_NUMBER_NOT_VERIFIED",
                        "name": "DESTINATION_PHONE_NUMBER_NOT_VERIFIED"
                    },
                    {
                        "value": "DESTINATION_PHONE_NUMBER_OPTED_OUT",
                        "name": "DESTINATION_PHONE_NUMBER_OPTED_OUT"
                    },
                    {
                        "value": "EVENT_DESTINATION_MISMATCH",
                        "name": "EVENT_DESTINATION_MISMATCH"
                    },
                    {
                        "value": "KEYWORD_MISMATCH",
                        "name": "KEYWORD_MISMATCH"
                    },
                    {
                        "value": "LAST_PHONE_NUMBER",
                        "name": "LAST_PHONE_NUMBER"
                    },
                    {
                        "value": "SELF_MANAGED_OPT_OUTS_MISMATCH",
                        "name": "SELF_MANAGED_OPT_OUTS_MISMATCH"
                    },
                    {
                        "value": "MESSAGE_TYPE_MISMATCH",
                        "name": "MESSAGE_TYPE_MISMATCH"
                    },
                    {
                        "value": "NO_ORIGINATION_IDENTITIES_FOUND",
                        "name": "NO_ORIGINATION_IDENTITIES_FOUND"
                    },
                    {
                        "value": "OPT_OUT_LIST_MISMATCH",
                        "name": "OPT_OUT_LIST_MISMATCH"
                    },
                    {
                        "value": "PHONE_NUMBER_ASSOCIATED_TO_POOL",
                        "name": "PHONE_NUMBER_ASSOCIATED_TO_POOL"
                    },
                    {
                        "value": "PHONE_NUMBER_NOT_ASSOCIATED_TO_POOL",
                        "name": "PHONE_NUMBER_NOT_ASSOCIATED_TO_POOL"
                    },
                    {
                        "value": "PHONE_NUMBER_NOT_IN_REGISTRATION_REGION",
                        "name": "PHONE_NUMBER_NOT_IN_REGISTRATION_REGION"
                    },
                    {
                        "value": "RESOURCE_ALREADY_EXISTS",
                        "name": "RESOURCE_ALREADY_EXISTS"
                    },
                    {
                        "value": "RESOURCE_DELETION_NOT_ALLOWED",
                        "name": "RESOURCE_DELETION_NOT_ALLOWED"
                    },
                    {
                        "value": "RESOURCE_MODIFICATION_NOT_ALLOWED",
                        "name": "RESOURCE_MODIFICATION_NOT_ALLOWED"
                    },
                    {
                        "value": "RESOURCE_NOT_ACTIVE",
                        "name": "RESOURCE_NOT_ACTIVE"
                    },
                    {
                        "value": "RESOURCE_NOT_EMPTY",
                        "name": "RESOURCE_NOT_EMPTY"
                    },
                    {
                        "value": "TWO_WAY_CONFIG_MISMATCH",
                        "name": "TWO_WAY_CONFIG_MISMATCH"
                    }
                ]
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#ContextKey": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                },
                "smithy.api#pattern": "^\\S+$"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#ContextMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.pinpointsmsvoicev2#ContextKey"
            },
            "value": {
                "target": "com.amazonaws.pinpointsmsvoicev2#ContextValue"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 5
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#ContextValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 800
                },
                "smithy.api#pattern": "^\\S+$"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSetRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSetResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new configuration set. After you create the configuration set, you can add\n            one or more event destinations to it.</p>\n        <p>A configuration set is a set of rules that you apply to the SMS and voice messages\n            that you send.</p>\n        <p>When you send a message, you can optionally specify a single configuration set.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSetRequest": {
            "type": "structure",
            "members": {
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to use for the new configuration set.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of key and value pair tags that's associated with the new configuration set. </p>"
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don't specify a client token, a randomly generated token is used for the\n            request to ensure idempotency.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSetResult": {
            "type": "structure",
            "members": {
                "ConfigurationSetArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the newly created configuration set.</p>"
                    }
                },
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the new configuration set.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of key and value pair tags that's associated with the configuration\n            set.</p>"
                    }
                },
                "CreatedTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the configuration set was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#CreateEventDestination": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#CreateEventDestinationRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#CreateEventDestinationResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new event destination in a configuration set.</p>\n        <p>An event destination is a location where you send message events. The event options\n            are Amazon CloudWatch, Amazon Kinesis Data Firehose, or Amazon SNS. For example,\n            when a message is delivered successfully, you can send information about that event to\n            an event destination, or send notifications to endpoints that are subscribed to an\n                Amazon SNS topic.</p>\n        <p>Each configuration set can contain between 0 and 5 event destinations. Each event\n            destination can contain a reference to a single destination, such as a CloudWatch\n            or Kinesis Data Firehose destination.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#CreateEventDestinationRequest": {
            "type": "structure",
            "members": {
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Either the name of the configuration set or the configuration set ARN to apply event\n            logging to. The ConfigurateSetName and ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a> action.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventDestinationName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#EventDestinationName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name that identifies the event destination.</p>",
                        "smithy.api#required": {}
                    }
                },
                "MatchingEventTypes": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#EventTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of event types that determine which events to log. If \"ALL\" is used, then\n                Amazon Pinpoint logs every event type.</p>",
                        "smithy.api#required": {}
                    }
                },
                "CloudWatchLogsDestination": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#CloudWatchLogsDestination",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains information about an event destination for logging to Amazon\n            CloudWatch logs.</p>"
                    }
                },
                "KinesisFirehoseDestination": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#KinesisFirehoseDestination",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains information about an event destination for logging to Amazon\n            Kinesis Data Firehose.</p>"
                    }
                },
                "SnsDestination": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#SnsDestination",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that contains information about an event destination for logging to Amazon SNS.</p>"
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don't specify a client token, a randomly generated token is used for the\n            request to ensure idempotency.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#CreateEventDestinationResult": {
            "type": "structure",
            "members": {
                "ConfigurationSetArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the configuration set.</p>"
                    }
                },
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the configuration set.</p>"
                    }
                },
                "EventDestination": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#EventDestination",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the destination where events are logged.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#CreateOptOutList": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#CreateOptOutListRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#CreateOptOutListResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new opt-out list.</p>\n        <p>If the opt-out list name already exists, an Error is returned.</p>\n        <p>An opt-out list is a list of phone numbers that are opted out, meaning you can't send\n            SMS or voice messages to them. If end user replies with the keyword \"STOP,\" an entry for\n            the phone number is added to the opt-out list. In addition to STOP, your recipients can\n            use any supported opt-out keyword, such as CANCEL or OPTOUT. For a list of supported\n            opt-out keywords, see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/userguide/channels-sms-manage.html#channels-sms-manage-optout\">\n                SMS opt out </a> in the <i>Amazon Pinpoint User\n            Guide</i>.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#CreateOptOutListRequest": {
            "type": "structure",
            "members": {
                "OptOutListName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the new OptOutList.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of tags (key and value pairs) to associate with the new OptOutList.</p>"
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don't specify a client token, a randomly generated token is used for the\n            request to ensure idempotency.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#CreateOptOutListResult": {
            "type": "structure",
            "members": {
                "OptOutListArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the OptOutList.</p>"
                    }
                },
                "OptOutListName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the new OptOutList.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of tags (key and value pairs) associated with the new OptOutList.</p>"
                    }
                },
                "CreatedTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the pool was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#CreatePool": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#CreatePoolRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#CreatePoolResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new pool and associates the specified origination identity to the pool. A\n            pool can include one or more phone numbers and SenderIds that are associated with your\n                Amazon Web Services account.</p>\n        <p>The new pool inherits its configuration from the specified origination identity. This\n            includes keywords, message type, opt-out list, two-way configuration, and self-managed\n            opt-out configuration. Deletion protection isn't inherited from the origination identity\n            and defaults to false.</p>\n        <p>If the origination identity is a phone number and is already associated with another\n            pool, an Error is returned. A sender ID can be associated with multiple pools.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#CreatePoolRequest": {
            "type": "structure",
            "members": {
                "OriginationIdentity": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#PhoneOrSenderIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The origination identity to use such as a PhoneNumberId, PhoneNumberArn, SenderId or\n            SenderIdArn. You can use <a>DescribePhoneNumbers</a> to find the values for\n            PhoneNumberId and PhoneNumberArn while <a>DescribeSenderIds</a> can be used\n            to get the values for SenderId and SenderIdArn.</p>",
                        "smithy.api#required": {}
                    }
                },
                "IsoCountryCode": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#IsoCountryCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The new two-character code, in ISO 3166-1 alpha-2 format, for the country or region of\n            the new pool.</p>",
                        "smithy.api#required": {}
                    }
                },
                "MessageType": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#MessageType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of message. Valid values are TRANSACTIONAL for messages that are critical or\n            time-sensitive and PROMOTIONAL for messages that aren't critical or\n            time-sensitive.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DeletionProtectionEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>By default this is set to false. When set to true the pool can't be deleted. You can\n            change this value using the <a>UpdatePool</a> action.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of tags (key and value pairs) associated with the pool.</p>"
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don't specify a client token, a randomly generated token is used for the\n            request to ensure idempotency.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#CreatePoolResult": {
            "type": "structure",
            "members": {
                "PoolArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the pool.</p>"
                    }
                },
                "PoolId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier for the pool.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#PoolStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the pool.</p>\n        <ul>\n            <li>\n                <p>CREATING: The pool is currently being created and isn't yet available for\n                    use.</p>\n            </li>\n            <li>\n                <p>ACTIVE: The pool is active and available for use.</p>\n            </li>\n            <li>\n                <p>DELETING: The pool is being deleted.</p>\n            </li>\n         </ul>"
                    }
                },
                "MessageType": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#MessageType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of message for the pool to use.</p>"
                    }
                },
                "TwoWayEnabled": {
                    "target": "smithy.api#PrimitiveBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>By default this is set to false. When set to true you can receive incoming text\n            messages from your end recipients.</p>"
                    }
                },
                "TwoWayChannelArn": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#TwoWayChannelArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the two way channel.</p>"
                    }
                },
                "SelfManagedOptOutsEnabled": {
                    "target": "smithy.api#PrimitiveBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>By default this is set to false. When an end recipient sends a message that begins\n            with HELP or STOP to one of your dedicated numbers, Amazon Pinpoint automatically\n            replies with a customizable message and adds the end recipient to the OptOutList. When\n            set to true you're responsible for responding to HELP and STOP requests. You're also\n            responsible for tracking and honoring opt-out requests.</p>"
                    }
                },
                "OptOutListName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the OptOutList associated with the pool.</p>"
                    }
                },
                "SharedRoutesEnabled": {
                    "target": "smithy.api#PrimitiveBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether shared routes are enabled for the pool.</p>"
                    }
                },
                "DeletionProtectionEnabled": {
                    "target": "smithy.api#PrimitiveBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>When set to true deletion protection is enabled. By default this is set to false.\n        </p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of tags (key and value pairs) associated with the pool.</p>"
                    }
                },
                "CreatedTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the pool was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteConfigurationSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteConfigurationSetRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteConfigurationSetResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing configuration set.</p>\n        <p>A configuration set is a set of rules that you apply to voice and SMS messages that\n            you send. In a configuration set, you can specify a destination for specific types of\n            events related to voice and SMS messages. </p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteConfigurationSetRequest": {
            "type": "structure",
            "members": {
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the configuration set or the configuration set ARN that you want to\n            delete. The ConfigurationSetName and ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a> action.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteConfigurationSetResult": {
            "type": "structure",
            "members": {
                "ConfigurationSetArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deleted configuration set.</p>"
                    }
                },
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the deleted configuration set.</p>"
                    }
                },
                "EventDestinations": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#EventDestinationList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of any EventDestination objects that were associated with the deleted\n            configuration set.</p>"
                    }
                },
                "DefaultMessageType": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#MessageType",
                    "traits": {
                        "smithy.api#documentation": "<p>The default message type of the configuration set that was deleted.</p>"
                    }
                },
                "DefaultSenderId": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#SenderId",
                    "traits": {
                        "smithy.api#documentation": "<p>The default Sender ID of the configuration set that was deleted.</p>"
                    }
                },
                "CreatedTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the deleted configuration set was created in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultMessageType": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultMessageTypeRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultMessageTypeResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing default message type on a configuration set.</p>\n        <p> A message type is a type of messages that you plan to send. If you send\n            account-related messages or time-sensitive messages such as one-time passcodes, choose\n                <b>Transactional</b>. If you plan to send messages that\n            contain marketing material or other promotional content, choose <b>Promotional</b>. This setting applies to your entire Amazon Web Services\n            account. </p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultMessageTypeRequest": {
            "type": "structure",
            "members": {
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the configuration set or the configuration set Amazon Resource Name (ARN)\n            to delete the default message type from. The ConfigurationSetName and\n            ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a>\n            action.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultMessageTypeResult": {
            "type": "structure",
            "members": {
                "ConfigurationSetArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration set.</p>"
                    }
                },
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the configuration set.</p>"
                    }
                },
                "MessageType": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#MessageType",
                    "traits": {
                        "smithy.api#documentation": "<p>The current message type for the configuration set.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultSenderId": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultSenderIdRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultSenderIdResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing default sender ID on a configuration set.</p>\n        <p>A default sender ID is the identity that appears on recipients' devices when they\n            receive SMS messages. Support for sender ID capabilities varies by country or\n            region.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultSenderIdRequest": {
            "type": "structure",
            "members": {
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the configuration set or the configuration set Amazon Resource Name (ARN)\n            to delete the default sender ID from. The ConfigurationSetName and ConfigurationSetArn\n            can be found using the <a>DescribeConfigurationSets</a> action.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultSenderIdResult": {
            "type": "structure",
            "members": {
                "ConfigurationSetArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration set.</p>"
                    }
                },
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the configuration set.</p>"
                    }
                },
                "SenderId": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#SenderId",
                    "traits": {
                        "smithy.api#documentation": "<p>The current sender ID for the configuration set.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteEventDestination": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteEventDestinationRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteEventDestinationResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing event destination.</p>\n        <p>An event destination is a location where you send response information about the\n            messages that you send. For example, when a message is delivered successfully, you can\n            send information about that event to an Amazon CloudWatch destination, or send\n            notifications to endpoints that are subscribed to an Amazon SNS topic.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteEventDestinationRequest": {
            "type": "structure",
            "members": {
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the configuration set or the configuration set's Amazon Resource Name\n            (ARN) to remove the event destination from. The ConfigurateSetName and\n            ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a>\n            action.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EventDestinationName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#EventDestinationName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the event destination to delete.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteEventDestinationResult": {
            "type": "structure",
            "members": {
                "ConfigurationSetArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration set.</p>"
                    }
                },
                "ConfigurationSetName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the configuration set the event destination was deleted from.</p>"
                    }
                },
                "EventDestination": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#EventDestination",
                    "traits": {
                        "smithy.api#documentation": "<p>The event destination object that was deleted.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteKeyword": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteKeywordRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteKeywordResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing keyword from an origination phone number or pool.</p>\n        <p>A keyword is a word that you can search for on a particular phone number or pool. It\n            is also a specific word or phrase that an end user can send to your number to elicit a\n            response, such as an informational message or a special offer. When your number receives\n            a message that begins with a keyword, Amazon Pinpoint responds with a customizable\n            message.</p>\n        <p>Keywords \"HELP\" and \"STOP\" can't be deleted or modified.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteKeywordRequest": {
            "type": "structure",
            "members": {
                "OriginationIdentity": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#PhoneOrPoolIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The origination identity to use such as a PhoneNumberId, PhoneNumberArn, PoolId or\n            PoolArn. You can use <a>DescribePhoneNumbers</a> to find the values for\n            PhoneNumberId and PhoneNumberArn and <a>DescribePools</a> to find the values\n            of PoolId and PoolArn.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Keyword": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#Keyword",
                    "traits": {
                        "smithy.api#documentation": "<p>The keyword to delete.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteKeywordResult": {
            "type": "structure",
            "members": {
                "OriginationIdentityArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The PhoneNumberArn or PoolArn that the keyword was associated with.</p>"
                    }
                },
                "OriginationIdentity": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The PhoneNumberId or PoolId that the keyword was associated with.</p>"
                    }
                },
                "Keyword": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#Keyword",
                    "traits": {
                        "smithy.api#documentation": "<p>The keyword that was deleted.</p>"
                    }
                },
                "KeywordMessage": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#KeywordMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>The message that was associated with the deleted keyword.</p>"
                    }
                },
                "KeywordAction": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#KeywordAction",
                    "traits": {
                        "smithy.api#documentation": "<p>The action that was associated with the deleted keyword.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteOptOutList": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteOptOutListRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteOptOutListResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing opt-out list. All opted out phone numbers in the opt-out list are\n            deleted.</p>\n        <p>If the specified opt-out list name doesn't exist or is in-use by an origination phone\n            number or pool, an Error is returned.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteOptOutListRequest": {
            "type": "structure",
            "members": {
                "OptOutListName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListNameOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The OptOutListName or OptOutListArn of the OptOutList to delete. You can use <a>DescribeOptOutLists</a> to find the values for OptOutListName and\n            OptOutListArn.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteOptOutListResult": {
            "type": "structure",
            "members": {
                "OptOutListArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the OptOutList that was removed.</p>"
                    }
                },
                "OptOutListName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the OptOutList that was removed.</p>"
                    }
                },
                "CreatedTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the OptOutList was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteOptedOutNumber": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteOptedOutNumberRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteOptedOutNumberResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing opted out destination phone number from the specified opt-out\n            list.</p>\n        <p>Each destination phone number can only be deleted once every 30 days.</p>\n        <p>If the specified destination phone number doesn't exist or if the opt-out list doesn't\n            exist, an Error is returned.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteOptedOutNumberRequest": {
            "type": "structure",
            "members": {
                "OptOutListName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListNameOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The OptOutListName or OptOutListArn to remove the phone number from.</p>",
                        "smithy.api#required": {}
                    }
                },
                "OptedOutNumber": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#PhoneNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The phone number, in E.164 format, to remove from the OptOutList.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteOptedOutNumberResult": {
            "type": "structure",
            "members": {
                "OptOutListArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The OptOutListArn that the phone number was removed from.</p>"
                    }
                },
                "OptOutListName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListName",
                    "traits": {
                        "smithy.api#documentation": "<p>The OptOutListName that the phone number was removed from.</p>"
                    }
                },
                "OptedOutNumber": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#PhoneNumber",
                    "traits": {
                        "smithy.api#documentation": "<p>The phone number that was removed from the OptOutList.</p>"
                    }
                },
                "OptedOutTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the number was removed at, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
                    }
                },
                "EndUserOptedOut": {
                    "target": "smithy.api#PrimitiveBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>This is true if it was the end user who requested their phone number be removed.\n        </p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeletePool": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeletePoolRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeletePoolResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing pool. Deleting a pool disassociates all origination identities\n            from that pool.</p>\n        <p>If the pool status isn't active or if deletion protection is enabled, an Error is\n            returned.</p>\n        <p>A pool is a collection of phone numbers and SenderIds. A pool can include one or more\n            phone numbers and SenderIds that are associated with your Amazon Web Services\n            account.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeletePoolRequest": {
            "type": "structure",
            "members": {
                "PoolId": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#PoolIdOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The PoolId or PoolArn of the pool to delete. You can use <a>DescribePools</a> to find the values for PoolId and PoolArn .</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeletePoolResult": {
            "type": "structure",
            "members": {
                "PoolArn": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the pool that was deleted.</p>"
                    }
                },
                "PoolId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The PoolId of the pool that was deleted.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#PoolStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the pool.</p>\n        <ul>\n            <li>\n                <p>CREATING: The pool is currently being created and isn't yet available for\n                    use.</p>\n            </li>\n            <li>\n                <p>ACTIVE: The pool is active and available for use.</p>\n            </li>\n            <li>\n                <p>DELETING: The pool is being deleted.</p>\n            </li>\n         </ul>"
                    }
                },
                "MessageType": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#MessageType",
                    "traits": {
                        "smithy.api#documentation": "<p>The message type that was associated with the deleted pool.</p>"
                    }
                },
                "TwoWayEnabled": {
                    "target": "smithy.api#PrimitiveBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>By default this is set to false. When set to true you can receive incoming text\n            messages from your end recipients.</p>"
                    }
                },
                "TwoWayChannelArn": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#TwoWayChannelArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the TwoWayChannel.</p>"
                    }
                },
                "SelfManagedOptOutsEnabled": {
                    "target": "smithy.api#PrimitiveBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>By default this is set to false. When an end recipient sends a message that begins\n            with HELP or STOP to one of your dedicated numbers, Amazon Pinpoint automatically\n            replies with a customizable message and adds the end recipient to the OptOutList. When\n            set to true you're responsible for responding to HELP and STOP requests. You're also\n            responsible for tracking and honoring opt-out requests.</p>"
                    }
                },
                "OptOutListName": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the OptOutList that was associated with the deleted pool.</p>"
                    }
                },
                "SharedRoutesEnabled": {
                    "target": "smithy.api#PrimitiveBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether shared routes are enabled for the pool.</p>"
                    }
                },
                "CreatedTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time when the pool was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteTextMessageSpendLimitOverride": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteTextMessageSpendLimitOverrideRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteTextMessageSpendLimitOverrideResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an account-level monthly spending limit override for sending text messages.\n            Deleting a spend limit override will set the <code>EnforcedLimit</code> to equal the\n                <code>MaxLimit</code>, which is controlled by Amazon Web Services. For more\n            information on spend limits (quotas) see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/quotas.html\">Amazon Pinpoint quotas </a>\n            in the <i>Amazon Pinpoint Developer Guide</i>.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteTextMessageSpendLimitOverrideRequest": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteTextMessageSpendLimitOverrideResult": {
            "type": "structure",
            "members": {
                "MonthlyLimit": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#MonthlyLimit",
                    "traits": {
                        "smithy.api#documentation": "<p>The current monthly limit, in US dollars.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteVoiceMessageSpendLimitOverride": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteVoiceMessageSpendLimitOverrideRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DeleteVoiceMessageSpendLimitOverrideResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an account level monthly spend limit override for sending voice messages.\n            Deleting a spend limit override sets the <code>EnforcedLimit</code> equal to the\n                <code>MaxLimit</code>, which is controlled by Amazon Web Services. For more\n            information on spending limits (quotas) see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/quotas.html\">Amazon Pinpoint quotas</a>\n            in the <i>Amazon Pinpoint Developer Guide</i>.</p>"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteVoiceMessageSpendLimitOverrideRequest": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.pinpointsmsvoicev2#DeleteVoiceMessageSpendLimitOverrideResult": {
            "type": "structure",
            "members": {
                "MonthlyLimit": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#MonthlyLimit",
                    "traits": {
                        "smithy.api#documentation": "<p>The current monthly limit, in US dollars.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DeliveryStreamArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:\\S+$"
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DescribeAccountAttributes": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DescribeAccountAttributesRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DescribeAccountAttributesResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes attributes of your Amazon Web Services account. The supported account\n            attributes include account tier, which indicates whether your account is in the sandbox\n            or production environment. When you're ready to move your account out of the sandbox,\n            create an Amazon Web Services Support case for a service limit increase request.</p>\n        <p>New Amazon Pinpoint accounts are placed into an SMS or voice sandbox. The sandbox\n            protects both Amazon Web Services end recipients and SMS or voice recipients from fraud\n            and abuse. </p>",
                "smithy.api#paginated": {
                    "items": "AccountAttributes"
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DescribeAccountAttributesRequest": {
            "type": "structure",
            "members": {
                "NextToken": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token to be used for the next set of paginated results. You don't need to supply a\n            value for this field in the initial request.</p>"
                    }
                },
                "MaxResults": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#MaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of results to return per each request.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DescribeAccountAttributesResult": {
            "type": "structure",
            "members": {
                "AccountAttributes": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccountAttributeList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of AccountAttributes objects.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token to be used for the next set of paginated results. If this field is empty\n            then there are no more results.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DescribeAccountLimits": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DescribeAccountLimitsRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DescribeAccountLimitsResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes the current Amazon Pinpoint SMS Voice V2 resource quotas for your\n            account. The description for a quota includes the quota name, current usage toward that\n            quota, and the quota's maximum value.</p>\n        <p>When you establish an Amazon Web Services account, the account has initial quotas on\n            the maximum number of configuration sets, opt-out lists, phone numbers, and pools that\n            you can create in a given Region. For more information see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/quotas.html\">\n                Amazon Pinpoint quotas </a> in the <i>Amazon Pinpoint Developer\n                Guide</i>.</p>",
                "smithy.api#paginated": {
                    "items": "AccountLimits"
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DescribeAccountLimitsRequest": {
            "type": "structure",
            "members": {
                "NextToken": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token to be used for the next set of paginated results. You don't need to supply a\n            value for this field in the initial request.</p>"
                    }
                },
                "MaxResults": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#MaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of results to return per each request.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DescribeAccountLimitsResult": {
            "type": "structure",
            "members": {
                "AccountLimits": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccountLimitList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of AccountLimit objects that show the current spend limits.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token to be used for the next set of paginated results. If this field is empty\n            then there are no more results.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DescribeConfigurationSets": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DescribeConfigurationSetsRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DescribeConfigurationSetsResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes the specified configuration sets or all in your account.</p>\n        <p>If you specify configuration set names, the output includes information for only the\n            specified configuration sets. If you specify filters, the output includes information\n            for only those configuration sets that meet the filter criteria. If you don't specify\n            configuration set names or filters, the output includes information for all\n            configuration sets.</p>\n        <p>If you specify a configuration set name that isn't valid, an error is returned.</p>",
                "smithy.api#paginated": {
                    "items": "ConfigurationSets"
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DescribeConfigurationSetsRequest": {
            "type": "structure",
            "members": {
                "ConfigurationSetNames": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of strings. Each element can be either a ConfigurationSetName or\n            ConfigurationSetArn.</p>"
                    }
                },
                "Filters": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of filters to apply to the results that are returned.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token to be used for the next set of paginated results. You don't need to supply a\n            value for this field in the initial request.</p>"
                    }
                },
                "MaxResults": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#MaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of results to return per each request.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DescribeConfigurationSetsResult": {
            "type": "structure",
            "members": {
                "ConfigurationSets": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetInformationList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of ConfigurationSets objects.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token to be used for the next set of paginated results. If this field is empty\n            then there are no more results.</p>"
                    }
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DescribeKeywords": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DescribeKeywordsRequest"
            },
            "output": {
                "target": "com.amazonaws.pinpointsmsvoicev2#DescribeKeywordsResult"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes the specified keywords or all keywords on your origination phone number or\n            pool.</p>\n        <p>A keyword is a word that you can search for on a particular phone number or pool. It\n            is also a specific word or phrase that an end user can send to your number to elicit a\n            response, such as an informational message or a special offer. When your number receives\n            a message that begins with a keyword, Amazon Pinpoint responds with a customizable\n            message.</p>\n        <p>If you specify a keyword that isn't valid, an Error is returned.</p>",
                "smithy.api#paginated": {
                    "items": "Keywords"
                }
            }
        },
        "com.amazonaws.pinpointsmsvoicev2#DescribeKeywordsRequest": {
            "type": "structure",
            "members": {
                "OriginationIdentity": {
                    "target": "com.amazonaws.pinpointsmsvoicev2#PhoneOrPoolIdOrArn",
                    "traits": {
[...]
