{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.pricingplanmanager#AWSPricingPlanManager": {
            "type": "service",
            "version": "2025-08-05",
            "operations": [
                {
                    "target": "com.amazonaws.pricingplanmanager#ApprovePaidSubscription"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#AssociateResourcesToSubscription"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#CancelSubscription"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#CancelSubscriptionChange"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#CreateSubscription"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#DisassociateResourcesFromSubscription"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#GetSubscription"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ListSubscriptions"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#UpdateSubscription"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Pricing Plan Manager",
                    "arnNamespace": "pricingplanmanager",
                    "cloudTrailEventSource": "pricingplanmanager.amazonaws.com"
                },
                "aws.auth#sigv4": {
                    "name": "pricingplanmanager"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "origin": "*",
                    "additionalAllowedHeaders": [
                        "*",
                        "Authorization",
                        "Date",
                        "X-Amz-Date",
                        "X-Amz-Security-Token",
                        "X-Amz-Target",
                        "content-type",
                        "x-amz-content-sha256",
                        "x-amz-user-agent",
                        "x-amzn-platform-id",
                        "x-amzn-trace-id"
                    ],
                    "additionalExposedHeaders": [
                        "x-amzn-errortype",
                        "x-amzn-requestid",
                        "x-amzn-errormessage",
                        "x-amzn-trace-id",
                        "x-amz-apigw-id",
                        "date"
                    ],
                    "maxAge": 86400
                },
                "smithy.api#documentation": "<p>Manages flat-rate pricing subscriptions for supported AWS services. Use this API to create, approve, update, and cancel subscriptions; associate and disassociate resources; and retrieve subscription details. With a flat-rate pricing subscription, you pay a fixed recurring fee for eligible resources instead of usage-based pricing.</p>",
                "smithy.api#title": "PricingPlanManager",
                "smithy.rules#endpointBdd": {
                    "version": "1.1",
                    "parameters": {
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint URL",
                            "type": "string"
                        },
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": true,
                            "documentation": "The AWS region",
                            "type": "string"
                        }
                    },
                    "conditions": [
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "Endpoint"
                                }
                            ]
                        }
                    ],
                    "results": [
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "{Endpoint}",
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4",
                                            "signingName": "pricingplanmanager",
                                            "signingRegion": "us-east-1"
                                        }
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "documentation": "Route every region to the single us-east-1 endpoint, signing for us-east-1.",
                            "conditions": [],
                            "endpoint": {
                                "url": "https://pricingplanmanager.us-east-1.api.aws",
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4",
                                            "signingName": "pricingplanmanager",
                                            "signingRegion": "us-east-1"
                                        }
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        }
                    ],
                    "root": 2,
                    "nodeCount": 2,
                    "nodes": "/////wAAAAH/////AAAAAAX14QEF9eEC"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Endpoint": {
                            "type": "String",
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint URL"
                        },
                        "Region": {
                            "type": "String",
                            "builtIn": "AWS::Region",
                            "required": true,
                            "documentation": "The AWS region"
                        }
                    },
                    "rules": [
                        {
                            "documentation": "Use the custom endpoint if one is provided, signing for us-east-1.",
                            "type": "endpoint",
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "endpoint": {
                                "url": "{Endpoint}",
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4",
                                            "signingName": "pricingplanmanager",
                                            "signingRegion": "us-east-1"
                                        }
                                    ]
                                }
                            }
                        },
                        {
                            "documentation": "Route every region to the single us-east-1 endpoint, signing for us-east-1.",
                            "type": "endpoint",
                            "conditions": [],
                            "endpoint": {
                                "url": "https://pricingplanmanager.us-east-1.api.aws",
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4",
                                            "signingName": "pricingplanmanager",
                                            "signingRegion": "us-east-1"
                                        }
                                    ]
                                }
                            }
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "version": "1",
                    "testCases": [
                        {
                            "documentation": "Resolves the us-east-1 endpoint and signs for us-east-1.",
                            "params": {
                                "Region": "us-east-1"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://pricingplanmanager.us-east-1.api.aws",
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "pricingplanmanager",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "Routes any other region to the us-east-1 endpoint and still signs for us-east-1.",
                            "params": {
                                "Region": "us-west-2"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://pricingplanmanager.us-east-1.api.aws",
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "pricingplanmanager",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        {
                            "documentation": "A custom endpoint override wins over region resolution and signs for us-east-1.",
                            "params": {
                                "Region": "us-west-2",
                                "Endpoint": "https://pricingplanmanager.us-east-1.api.aws"
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://pricingplanmanager.us-east-1.api.aws",
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "pricingplanmanager",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        },
        "com.amazonaws.pricingplanmanager#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have the required permissions to perform this operation. Verify that your IAM policy grants access to this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.pricingplanmanager#ApprovalMode": {
            "type": "enum",
            "members": {
                "MANUAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MANUAL"
                    }
                },
                "IMMEDIATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IMMEDIATE"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Determines whether a subscription requires explicit approval before billing starts.</p>"
            }
        },
        "com.amazonaws.pricingplanmanager#ApprovePaidSubscription": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pricingplanmanager#ApprovePaidSubscriptionInput"
            },
            "output": {
                "target": "com.amazonaws.pricingplanmanager#ApprovePaidSubscriptionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pricingplanmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Approves a subscription that is in <code>PENDING_APPROVAL</code> status, activating it and starting billing.</p> <note> <p>This operation requires the current <code>ETag</code> value for concurrency control. Retrieve it from a previous <code>GetSubscription</code> or <code>ListSubscriptions</code> response.</p> </note>",
                "smithy.api#examples": [
                    {
                        "title": "Approve a pending paid subscription",
                        "input": {
                            "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                            "ifMatch": "1"
                        },
                        "output": {
                            "subscription": {
                                "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                                "planFamily": "CloudFront",
                                "planTier": "PRO",
                                "status": "SYNC_IN_PROGRESS",
                                "resourceArns": [
                                    "arn:aws:cloudfront::123456789012:distribution/EDFDVBD6EXAMPLE",
                                    "arn:aws:wafv2:us-east-1:123456789012:global/webacl/ExampleWebACL/a1b2c3d4"
                                ],
                                "createdAt": "2025-01-15T10:30:00Z",
                                "updatedAt": "2025-01-15T10:35:00Z"
                            },
                            "eTag": "2"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/ApprovePaidSubscription"
                }
            }
        },
        "com.amazonaws.pricingplanmanager#ApprovePaidSubscriptionInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.pricingplanmanager#SubscriptionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the subscription to approve.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ifMatch": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>ETag</code> value from a previous <code>GetSubscription</code> or <code>ListSubscriptions</code> response. This ensures you are approving the expected version of the subscription.</p>",
                        "smithy.api#httpHeader": "If-Match",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.pricingplanmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the request is handled only once.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pricingplanmanager#ApprovePaidSubscriptionOutput": {
            "type": "structure",
            "members": {
                "subscription": {
                    "target": "com.amazonaws.pricingplanmanager#Subscription",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the approved subscription.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                },
                "eTag": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The updated entity tag for concurrency control.</p>",
                        "smithy.api#httpHeader": "ETag",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pricingplanmanager#AssociateResourcesToSubscription": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pricingplanmanager#AssociateResourcesToSubscriptionInput"
            },
            "output": {
                "target": "com.amazonaws.pricingplanmanager#AssociateResourcesToSubscriptionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pricingplanmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds one or more resources to an existing subscription. The subscription must be in an active state that is not pending other changes.</p> <note> <p>For subscriptions in the CloudFront plan family, the associated resources must include exactly one Amazon CloudFront distribution and one AWS WAF web ACL. You can also include other supported resources, such as Amazon Route 53 hosted zones, and CloudFront KeyValueStores.</p> </note>",
                "smithy.api#examples": [
                    {
                        "title": "Associate additional resources to a subscription",
                        "input": {
                            "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                            "resourceArns": [
                                "arn:aws:route53:::hostedzone/Z0123456789EXAMPLE"
                            ],
                            "ifMatch": "1"
                        },
                        "output": {
                            "subscription": {
                                "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                                "planFamily": "CloudFront",
                                "planTier": "PRO",
                                "status": "SYNC_IN_PROGRESS",
                                "resourceArns": [
                                    "arn:aws:cloudfront::123456789012:distribution/EDFDVBD6EXAMPLE",
                                    "arn:aws:wafv2:us-east-1:123456789012:global/webacl/ExampleWebACL/a1b2c3d4",
                                    "arn:aws:route53:::hostedzone/Z0123456789EXAMPLE"
                                ],
                                "createdAt": "2025-01-15T10:30:00Z",
                                "updatedAt": "2025-01-18T11:00:00Z"
                            },
                            "eTag": "2"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/AssociateResourcesToSubscription"
                }
            }
        },
        "com.amazonaws.pricingplanmanager#AssociateResourcesToSubscriptionInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.pricingplanmanager#SubscriptionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the subscription to add resources to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceArns": {
                    "target": "com.amazonaws.pricingplanmanager#ResourceArns",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARNs of the resources to add to the subscription.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ifMatch": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>ETag</code> value from a previous <code>GetSubscription</code> or <code>ListSubscriptions</code> response.</p>",
                        "smithy.api#httpHeader": "If-Match",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.pricingplanmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the request is handled only once.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pricingplanmanager#AssociateResourcesToSubscriptionOutput": {
            "type": "structure",
            "members": {
                "subscription": {
                    "target": "com.amazonaws.pricingplanmanager#Subscription",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the subscription with the newly added resources.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                },
                "eTag": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The updated entity tag for concurrency control.</p>",
                        "smithy.api#httpHeader": "ETag",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pricingplanmanager#CancelSubscription": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pricingplanmanager#CancelSubscriptionInput"
            },
            "output": {
                "target": "com.amazonaws.pricingplanmanager#CancelSubscriptionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pricingplanmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a flat-rate pricing subscription.</p> <note> <p>For active subscriptions, the cancellation is scheduled to take effect at the end of the current billing period. The subscription remains active until that date. To revert a pending cancellation, use <code>CancelSubscriptionChange</code>.</p> <p>For subscriptions in <code>PENDING_APPROVAL</code> status, the subscription is deleted immediately without scheduling.</p> </note>",
                "smithy.api#examples": [
                    {
                        "title": "Cancel a subscription",
                        "input": {
                            "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                            "ifMatch": "2"
                        },
                        "output": {
                            "subscription": {
                                "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                                "planFamily": "CloudFront",
                                "planTier": "BUSINESS",
                                "status": "ACTIVE",
                                "scheduledChange": {
                                    "changeType": "CANCELLATION",
                                    "effectiveDate": "2025-02-01T00:00:00Z"
                                },
                                "resourceArns": [
                                    "arn:aws:cloudfront::123456789012:distribution/EDFDVBD6EXAMPLE",
                                    "arn:aws:wafv2:us-east-1:123456789012:global/webacl/ExampleWebACL/a1b2c3d4"
                                ],
                                "createdAt": "2025-01-15T10:30:00Z",
                                "updatedAt": "2025-01-16T12:00:00Z"
                            },
                            "eTag": "3"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/CancelSubscription"
                }
            }
        },
        "com.amazonaws.pricingplanmanager#CancelSubscriptionChange": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pricingplanmanager#CancelSubscriptionChangeInput"
            },
            "output": {
                "target": "com.amazonaws.pricingplanmanager#CancelSubscriptionChangeOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pricingplanmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels a pending scheduled change on a subscription, such as a pending downgrade or cancellation. The subscription returns to its state before the change was scheduled.</p> <note> <p>You cannot cancel a scheduled change close to its effective date. If the change is within the processing window, this operation returns an error.</p> </note>",
                "smithy.api#examples": [
                    {
                        "title": "Cancel a pending subscription change",
                        "input": {
                            "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                            "ifMatch": "3"
                        },
                        "output": {
                            "subscription": {
                                "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                                "planFamily": "CloudFront",
                                "planTier": "BUSINESS",
                                "status": "ACTIVE",
                                "resourceArns": [
                                    "arn:aws:cloudfront::123456789012:distribution/EDFDVBD6EXAMPLE",
                                    "arn:aws:wafv2:us-east-1:123456789012:global/webacl/ExampleWebACL/a1b2c3d4"
                                ],
                                "createdAt": "2025-01-15T10:30:00Z",
                                "updatedAt": "2025-01-17T09:00:00Z"
                            },
                            "eTag": "4"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/CancelSubscriptionChange"
                }
            }
        },
        "com.amazonaws.pricingplanmanager#CancelSubscriptionChangeInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.pricingplanmanager#SubscriptionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the subscription whose pending change you want to cancel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ifMatch": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>ETag</code> value from a previous <code>GetSubscription</code> or <code>ListSubscriptions</code> response.</p>",
                        "smithy.api#httpHeader": "If-Match",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.pricingplanmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the request is handled only once.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pricingplanmanager#CancelSubscriptionChangeOutput": {
            "type": "structure",
            "members": {
                "subscription": {
                    "target": "com.amazonaws.pricingplanmanager#Subscription",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the subscription with the pending change removed.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                },
                "eTag": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The updated entity tag for concurrency control.</p>",
                        "smithy.api#httpHeader": "ETag",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pricingplanmanager#CancelSubscriptionInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.pricingplanmanager#SubscriptionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the subscription to cancel.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ifMatch": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>ETag</code> value from a previous <code>GetSubscription</code> or <code>ListSubscriptions</code> response.</p>",
                        "smithy.api#httpHeader": "If-Match",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.pricingplanmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the request is handled only once.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pricingplanmanager#CancelSubscriptionOutput": {
            "type": "structure",
            "members": {
                "subscription": {
                    "target": "com.amazonaws.pricingplanmanager#Subscription",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the subscription with the pending cancellation. For active subscriptions, a <code>scheduledChange</code> of type <code>CANCELLATION</code> is included.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                },
                "eTag": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The updated entity tag for concurrency control.</p>",
                        "smithy.api#httpHeader": "ETag",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pricingplanmanager#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "resourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the resource that has a conflicting state.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request conflicts with the current state of the resource. This typically occurs when the <code>ETag</code> value in the <code>If-Match</code> header does not match the current version of the subscription. Retrieve the latest version and retry.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.pricingplanmanager#CreateSubscription": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pricingplanmanager#CreateSubscriptionInput"
            },
            "output": {
                "target": "com.amazonaws.pricingplanmanager#CreateSubscriptionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pricingplanmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a flat-rate pricing subscription for the specified resources.</p> <note> <p>When <code>approvalMode</code> is set to <code>MANUAL</code>, paid-tier subscriptions are created in <code>PENDING_APPROVAL</code> status and require a separate <code>ApprovePaidSubscription</code> call before billing starts. Free-tier subscriptions are always activated immediately regardless of approval mode.</p> <p>When <code>approvalMode</code> is set to <code>IMMEDIATE</code> or is not specified, the subscription is activated immediately.</p> </note>",
                "smithy.api#examples": [
                    {
                        "title": "Create a flat-rate pricing subscription (deferred approval)",
                        "input": {
                            "planFamily": "CloudFront",
                            "planTier": "PRO",
                            "resourceArns": [
                                "arn:aws:cloudfront::123456789012:distribution/EDFDVBD6EXAMPLE",
                                "arn:aws:wafv2:us-east-1:123456789012:global/webacl/ExampleWebACL/a1b2c3d4"
                            ],
                            "approvalMode": "MANUAL"
                        },
                        "output": {
                            "subscription": {
                                "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                                "planFamily": "CloudFront",
                                "planTier": "PRO",
                                "status": "PENDING_APPROVAL",
                                "resourceArns": [
                                    "arn:aws:cloudfront::123456789012:distribution/EDFDVBD6EXAMPLE",
                                    "arn:aws:wafv2:us-east-1:123456789012:global/webacl/ExampleWebACL/a1b2c3d4"
                                ],
                                "createdAt": "2025-01-15T10:30:00Z",
                                "updatedAt": "2025-01-15T10:30:00Z"
                            },
                            "eTag": "1"
                        }
                    },
                    {
                        "title": "Create a subscription with approval mode",
                        "input": {
                            "planFamily": "CloudFront",
                            "planTier": "PRO",
                            "resourceArns": [
                                "arn:aws:cloudfront::123456789012:distribution/EDFDVBD6EXAMPLE",
                                "arn:aws:wafv2:us-east-1:123456789012:global/webacl/ExampleWebACL/a1b2c3d4"
                            ],
                            "approvalMode": "IMMEDIATE"
                        },
                        "output": {
                            "subscription": {
                                "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                                "planFamily": "CloudFront",
                                "planTier": "PRO",
                                "status": "SYNC_IN_PROGRESS",
                                "resourceArns": [
                                    "arn:aws:cloudfront::123456789012:distribution/EDFDVBD6EXAMPLE",
                                    "arn:aws:wafv2:us-east-1:123456789012:global/webacl/ExampleWebACL/a1b2c3d4"
                                ],
                                "createdAt": "2025-01-15T10:30:00Z",
                                "updatedAt": "2025-01-15T10:30:00Z"
                            },
                            "eTag": "1"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/CreateSubscription"
                }
            }
        },
        "com.amazonaws.pricingplanmanager#CreateSubscriptionInput": {
            "type": "structure",
            "members": {
                "planFamily": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The pricing plan family to subscribe to, such as <code>CloudFront</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "planTier": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The tier level for the subscription, such as <code>FREE</code>, <code>PRO</code>, <code>BUSINESS</code>, or <code>PREMIUM</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "usageLevel": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The usage level within the plan tier. Specify <code>DEFAULT</code> for the base configuration, or a higher level if your plan tier supports it.</p>"
                    }
                },
                "resourceArns": {
                    "target": "com.amazonaws.pricingplanmanager#ResourceArns",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARNs of the AWS resources to include in the subscription. Specify one or more supported resources.</p> <note> <p>For subscriptions in the CloudFront plan family, the resources must include exactly one Amazon CloudFront distribution and exactly one AWS WAF web ACL. You can also include other supported resources, such as Amazon Route 53 hosted zones and CloudFront KeyValueStores.</p> </note>",
                        "smithy.api#required": {}
                    }
                },
                "approvalMode": {
                    "target": "com.amazonaws.pricingplanmanager#ApprovalMode",
                    "traits": {
                        "smithy.api#documentation": "<p>Determines whether the subscription requires explicit approval before billing starts. Set to <code>MANUAL</code> to require a separate <code>ApprovePaidSubscription</code> call, or <code>IMMEDIATE</code> to activate the subscription right away. Defaults to <code>IMMEDIATE</code> if not specified.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.pricingplanmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure that the request is handled only once. If you send the same request with the same client token, the API returns the original response without creating a duplicate subscription.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pricingplanmanager#CreateSubscriptionOutput": {
            "type": "structure",
            "members": {
                "subscription": {
                    "target": "com.amazonaws.pricingplanmanager#Subscription",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the newly created subscription.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                },
                "eTag": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity tag for concurrency control. Use this value in the <code>If-Match</code> header for subsequent operations on this subscription.</p>",
                        "smithy.api#httpHeader": "ETag",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pricingplanmanager#DisassociateResourcesFromSubscription": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pricingplanmanager#DisassociateResourcesFromSubscriptionInput"
            },
            "output": {
                "target": "com.amazonaws.pricingplanmanager#DisassociateResourcesFromSubscriptionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pricingplanmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Removes one or more resources from an existing subscription.</p> <note> <p>For subscriptions in the CloudFront plan family, the associated resources must always include exactly one Amazon CloudFront distribution and exactly one AWS WAF web ACL. You cannot remove these required resources.</p> </note>",
                "smithy.api#examples": [
                    {
                        "title": "Remove a resource from a subscription",
                        "input": {
                            "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                            "resourceArns": [
                                "arn:aws:route53:::hostedzone/Z0123456789EXAMPLE"
                            ],
                            "ifMatch": "2"
                        },
                        "output": {
                            "subscription": {
                                "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                                "planFamily": "CloudFront",
                                "planTier": "PRO",
                                "status": "SYNC_IN_PROGRESS",
                                "resourceArns": [
                                    "arn:aws:cloudfront::123456789012:distribution/EDFDVBD6EXAMPLE",
                                    "arn:aws:wafv2:us-east-1:123456789012:global/webacl/ExampleWebACL/a1b2c3d4"
                                ],
                                "createdAt": "2025-01-15T10:30:00Z",
                                "updatedAt": "2025-01-18T15:00:00Z"
                            },
                            "eTag": "3"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/DisassociateResourcesFromSubscription"
                }
            }
        },
        "com.amazonaws.pricingplanmanager#DisassociateResourcesFromSubscriptionInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.pricingplanmanager#SubscriptionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the subscription to remove resources from.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceArns": {
                    "target": "com.amazonaws.pricingplanmanager#ResourceArns",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARNs of the resources to remove from the subscription. For subscriptions in the CloudFront plan family, you cannot remove the required CloudFront distribution or WAF web ACL.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ifMatch": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>ETag</code> value from a previous <code>GetSubscription</code> or <code>ListSubscriptions</code> response.</p>",
                        "smithy.api#httpHeader": "If-Match",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.pricingplanmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the request is handled only once.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pricingplanmanager#DisassociateResourcesFromSubscriptionOutput": {
            "type": "structure",
            "members": {
                "subscription": {
                    "target": "com.amazonaws.pricingplanmanager#Subscription",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the subscription with the specified resources removed.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                },
                "eTag": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The updated entity tag for concurrency control.</p>",
                        "smithy.api#httpHeader": "ETag",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pricingplanmanager#GetSubscription": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pricingplanmanager#GetSubscriptionInput"
            },
            "output": {
                "target": "com.amazonaws.pricingplanmanager#GetSubscriptionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pricingplanmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns the details of a flat-rate pricing subscription, including its current status, associated resources, and any pending scheduled changes.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Get subscription details",
                        "input": {
                            "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890"
                        },
                        "output": {
                            "subscription": {
                                "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                                "planFamily": "CloudFront",
                                "planTier": "PRO",
                                "status": "ACTIVE",
                                "resourceArns": [
                                    "arn:aws:cloudfront::123456789012:distribution/EDFDVBD6EXAMPLE",
                                    "arn:aws:wafv2:us-east-1:123456789012:global/webacl/ExampleWebACL/a1b2c3d4"
                                ],
                                "createdAt": "2025-01-15T10:30:00Z",
                                "updatedAt": "2025-01-15T10:30:00Z"
                            },
                            "eTag": "1"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/GetSubscription"
                },
                "smithy.api#readonly": {},
                "smithy.test#smokeTests": [
                    {
                        "id": "GetSubscriptionFailure",
                        "params": {
                            "arn": "arn:aws:pricingplanmanager::123456789012:subscription/non-existent"
                        },
                        "expect": {
                            "failure": {
                                "errorId": "com.amazonaws.pricingplanmanager#ResourceNotFoundException"
                            }
                        },
                        "vendorParamsShape": "aws.test#AwsVendorParams",
                        "vendorParams": {
                            "region": "us-east-1"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.pricingplanmanager#GetSubscriptionInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.pricingplanmanager#SubscriptionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the subscription to retrieve.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pricingplanmanager#GetSubscriptionOutput": {
            "type": "structure",
            "members": {
                "subscription": {
                    "target": "com.amazonaws.pricingplanmanager#Subscription",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the requested subscription.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                },
                "eTag": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity tag for concurrency control. Use this value in the <code>If-Match</code> header for subsequent operations on this subscription.</p>",
                        "smithy.api#httpHeader": "ETag",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pricingplanmanager#IdempotencyToken": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure a request is handled only once.</p>",
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.pricingplanmanager#InternalServerException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An unexpected error occurred on the server. Retry the request.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "com.amazonaws.pricingplanmanager#ListSubscriptions": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pricingplanmanager#ListSubscriptionsInput"
            },
            "output": {
                "target": "com.amazonaws.pricingplanmanager#ListSubscriptionsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pricingplanmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns a summary of all flat-rate pricing subscriptions in the calling account.</p>",
                "smithy.api#examples": [
                    {
                        "title": "List all subscriptions",
                        "input": {},
                        "output": {
                            "subscriptionSummaries": [
                                {
                                    "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                                    "planFamily": "CloudFront",
                                    "planTier": "PRO",
                                    "status": "ACTIVE",
                                    "resourceArns": [
                                        "arn:aws:cloudfront::123456789012:distribution/EDFDVBD6EXAMPLE",
                                        "arn:aws:wafv2:us-east-1:123456789012:global/webacl/ExampleWebACL/a1b2c3d4"
                                    ],
                                    "createdAt": "2025-01-15T10:30:00Z",
                                    "updatedAt": "2025-01-15T10:30:00Z",
                                    "eTag": "1"
                                }
                            ]
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/ListSubscriptions"
                },
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "items": "subscriptionSummaries"
                },
                "smithy.api#readonly": {},
                "smithy.test#smokeTests": [
                    {
                        "id": "ListSubscriptionsSuccess",
                        "params": {},
                        "expect": {
                            "success": {}
                        },
                        "vendorParamsShape": "aws.test#AwsVendorParams",
                        "vendorParams": {
                            "region": "us-east-1"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.pricingplanmanager#ListSubscriptionsInput": {
            "type": "structure",
            "members": {
                "nextToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A token from a previous <code>ListSubscriptions</code> response. If the response included a <code>nextToken</code>, there are more results available. Pass this value to retrieve the next page of results.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pricingplanmanager#ListSubscriptionsOutput": {
            "type": "structure",
            "members": {
                "subscriptionSummaries": {
                    "target": "com.amazonaws.pricingplanmanager#SubscriptionSummaryList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of subscription summaries for the calling account.</p>",
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that indicates there are more results available. Pass this value in a subsequent <code>ListSubscriptions</code> request to retrieve the next page of results.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pricingplanmanager#ResourceArns": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#documentation": "<p>A list of 1 to 10 AWS resource ARNs to include in the subscription.</p>",
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.pricingplanmanager#ResourceNotFoundException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "resourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the resource that was not found.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The specified subscription was not found. Verify that the ARN is correct and that the subscription belongs to your account.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.amazonaws.pricingplanmanager#ScheduledChange": {
            "type": "structure",
            "members": {
                "changeType": {
                    "target": "com.amazonaws.pricingplanmanager#ScheduledChangeType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of pending change. Possible values are <code>DOWNGRADE</code> (a tier change to a lower level) and <code>CANCELLATION</code> (subscription termination).</p>",
                        "smithy.api#required": {}
                    }
                },
                "effectiveDate": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the change takes effect, in ISO 8601 format. This value is populated after the change is confirmed by the billing system.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "planTier": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>For downgrades, the tier level that the subscription will change to. Not present for cancellations.</p>"
                    }
                },
                "usageLevel": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>For downgrades, the target usage level after the change takes effect.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A pending change on a subscription that takes effect at the end of the current billing period, such as a tier downgrade or cancellation.</p>"
            }
        },
        "com.amazonaws.pricingplanmanager#ScheduledChangeType": {
            "type": "enum",
            "members": {
                "DOWNGRADE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DOWNGRADE"
                    }
                },
                "CANCELLATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CANCELLATION"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The type of pending change on a subscription.</p> <p>Possible values:</p> <ul> <li> <p> <code>DOWNGRADE</code> — The subscription tier is being lowered at the end of the billing period.</p> </li> <li> <p> <code>CANCELLATION</code> — The subscription is being terminated at the end of the billing period.</p> </li> </ul>"
            }
        },
        "com.amazonaws.pricingplanmanager#ServiceQuotaExceededException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request would exceed a service limit. You have reached the maximum number of subscriptions allowed for your account.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 402
            }
        },
        "com.amazonaws.pricingplanmanager#Status": {
            "type": "enum",
            "members": {
                "PENDING_APPROVAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING_APPROVAL"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "SYNC_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SYNC_IN_PROGRESS"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The status of a flat-rate pricing subscription.</p> <p>Possible values:</p> <ul> <li> <p> <code>PENDING_APPROVAL</code> — The subscription was created with manual approval and is waiting for an <code>ApprovePaidSubscription</code> call.</p> </li> <li> <p> <code>ACTIVE</code> — The subscription is active and resources are covered by flat-rate pricing.</p> </li> <li> <p> <code>SYNC_IN_PROGRESS</code> — A change is being applied to the subscription. Wait for the operation to complete before making additional changes.</p> </li> <li> <p> <code>FAILED</code> — The subscription encountered an error. Check the <code>statusReason</code> field for details.</p> </li> </ul>"
            }
        },
        "com.amazonaws.pricingplanmanager#Subscription": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.pricingplanmanager#SubscriptionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies this subscription.</p>",
                        "smithy.api#required": {}
                    }
                },
                "planFamily": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The pricing plan family for the subscription, such as <code>CloudFront</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "planTier": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The current tier level of the pricing plan, such as <code>FREE</code>, <code>PRO</code>, <code>BUSINESS</code>, or <code>PREMIUM</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "usageLevel": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The usage level within the plan tier. When present, indicates a specific capacity configuration beyond the base tier.</p>"
                    }
                },
                "scheduledChange": {
                    "target": "com.amazonaws.pricingplanmanager#ScheduledChange",
                    "traits": {
                        "smithy.api#documentation": "<p>A pending change that will take effect at the end of the current billing period. This field is present only when a downgrade or cancellation is scheduled.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.pricingplanmanager#Status",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the subscription. For the list of possible values, see the <code>Status</code> type.</p>",
                        "smithy.api#required": {}
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A human-readable explanation of the current status, present when additional context is available.</p>"
                    }
                },
                "resourceArns": {
                    "target": "com.amazonaws.pricingplanmanager#ResourceArns",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARNs of the AWS resources covered by this subscription.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the subscription was created, in ISO 8601 format.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the subscription was last modified, in ISO 8601 format.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The full details of a flat-rate pricing subscription, including its current configuration, status, and associated resources.</p>"
            }
        },
        "com.amazonaws.pricingplanmanager#SubscriptionArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::PricingPlanManager::Subscription"
                },
                "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a flat-rate pricing subscription.</p>",
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.pricingplanmanager#SubscriptionSummary": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.pricingplanmanager#SubscriptionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies this subscription.</p>",
                        "smithy.api#required": {}
                    }
                },
                "planFamily": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The pricing plan family for the subscription, such as <code>CloudFront</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "planTier": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The current tier level of the pricing plan.</p>",
                        "smithy.api#required": {}
                    }
                },
                "usageLevel": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The usage level within the plan tier.</p>"
                    }
                },
                "scheduledChange": {
                    "target": "com.amazonaws.pricingplanmanager#ScheduledChange",
                    "traits": {
                        "smithy.api#documentation": "<p>A pending change that will take effect at the end of the current billing period, if any.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.pricingplanmanager#Status",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the subscription.</p>",
                        "smithy.api#required": {}
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A human-readable explanation of the current status, present when additional context is available.</p>"
                    }
                },
                "resourceArns": {
                    "target": "com.amazonaws.pricingplanmanager#ResourceArns",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARNs of the AWS resources covered by this subscription.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the subscription was created, in ISO 8601 format.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the subscription was last modified, in ISO 8601 format.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "eTag": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity tag for concurrency control. Pass this value in the <code>If-Match</code> header when making changes to this subscription.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary information for a flat-rate pricing subscription, as returned by list operations.</p>"
            }
        },
        "com.amazonaws.pricingplanmanager#SubscriptionSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.pricingplanmanager#SubscriptionSummary"
            }
        },
        "com.amazonaws.pricingplanmanager#ThrottlingException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request rate exceeds the allowed limit. Wait briefly and retry the request.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 429
            }
        },
        "com.amazonaws.pricingplanmanager#UpdateSubscription": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.pricingplanmanager#UpdateSubscriptionInput"
            },
            "output": {
                "target": "com.amazonaws.pricingplanmanager#UpdateSubscriptionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.pricingplanmanager#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ConflictException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#InternalServerException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.pricingplanmanager#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Changes the plan tier of an existing subscription.</p> <note> <p>Upgrades take effect immediately. Downgrades are scheduled and the current tier remains unchanged until the end of the billing cycle (calendar month). You cannot update a subscription while a scheduled change is pending. To make a new change, first cancel the pending change using <code>CancelSubscriptionChange</code>.</p> <p>This operation replaces the plan tier value. If you omit the optional <code>usageLevel</code> field, it is reset to the default.</p> </note>",
                "smithy.api#examples": [
                    {
                        "title": "Update a subscription plan tier",
                        "input": {
                            "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                            "planTier": "BUSINESS",
                            "ifMatch": "1"
                        },
                        "output": {
                            "subscription": {
                                "arn": "arn:aws:pricingplanmanager::123456789012:subscription/sub-1234567890",
                                "planFamily": "CloudFront",
                                "planTier": "BUSINESS",
                                "status": "SYNC_IN_PROGRESS",
                                "resourceArns": [
                                    "arn:aws:cloudfront::123456789012:distribution/EDFDVBD6EXAMPLE",
                                    "arn:aws:wafv2:us-east-1:123456789012:global/webacl/ExampleWebACL/a1b2c3d4"
                                ],
                                "createdAt": "2025-01-15T10:30:00Z",
                                "updatedAt": "2025-01-16T08:00:00Z"
                            },
                            "eTag": "2"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/UpdateSubscription"
                }
            }
        },
        "com.amazonaws.pricingplanmanager#UpdateSubscriptionInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.pricingplanmanager#SubscriptionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the subscription to update.</p>",
                        "smithy.api#required": {}
                    }
                },
                "planTier": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The new tier level for the subscription.</p>",
                        "smithy.api#required": {}
                    }
                },
                "usageLevel": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The usage level within the plan tier. Specify <code>DEFAULT</code> for the base configuration. If omitted, the usage level is reset to the default.</p>"
                    }
                },
                "ifMatch": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>ETag</code> value from a previous <code>GetSubscription</code> or <code>ListSubscriptions</code> response. This ensures you are updating the expected version of the subscription.</p>",
                        "smithy.api#httpHeader": "If-Match",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.pricingplanmanager#IdempotencyToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the request is handled only once.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.pricingplanmanager#UpdateSubscriptionOutput": {
            "type": "structure",
            "members": {
                "subscription": {
                    "target": "com.amazonaws.pricingplanmanager#Subscription",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the updated subscription. For downgrades, the current tier remains unchanged and a <code>scheduledChange</code> indicates the pending change.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                },
                "eTag": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The updated entity tag for concurrency control.</p>",
                        "smithy.api#httpHeader": "ETag",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.pricingplanmanager#ValidationException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "resourceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the resource that failed validation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request failed a business rule validation. For example, the specified resource might already be associated with another subscription, or the subscription might not be in the required state for this operation.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        }
    }
}