{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.qbusiness#APISchema": {
            "type": "union",
            "members": {
                "payload": {
                    "target": "com.amazonaws.qbusiness#Payload",
                    "traits": {
                        "smithy.api#documentation": "<p>The JSON or YAML-formatted payload defining the OpenAPI schema for a custom plugin.\n        </p>"
                    }
                },
                "s3": {
                    "target": "com.amazonaws.qbusiness#S3",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains details about the S3 object containing the OpenAPI schema for a custom\n            plugin. The schema could be in either JSON or YAML format.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details about the OpenAPI schema for a custom plugin. For more information,\n            see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/custom-plugin.html#plugins-api-schema\">custom plugin OpenAPI schemas</a>. You can either include\n            the schema directly in the payload field or you can upload it to an S3 bucket and\n            specify the S3 bucket location in the <code>s3</code> field. </p>"
            }
        },
        "com.amazonaws.qbusiness#APISchemaType": {
            "type": "enum",
            "members": {
                "OPEN_API_V3": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OPEN_API_V3"
                    }
                }
            }
        },
        "com.amazonaws.qbusiness#AccessConfiguration": {
            "type": "structure",
            "members": {
                "accessControls": {
                    "target": "com.amazonaws.qbusiness#AccessControls",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of <code>AccessControlList</code> objects.</p>",
                        "smithy.api#required": {}
                    }
                },
                "memberRelation": {
                    "target": "com.amazonaws.qbusiness#MemberRelation",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the member relation within the <code>AccessControlList</code> object.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Used to configure access permissions for a document.</p>"
            }
        },
        "com.amazonaws.qbusiness#AccessControl": {
            "type": "structure",
            "members": {
                "principals": {
                    "target": "com.amazonaws.qbusiness#Principals",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains a list of principals, where a principal can be either a <code>USER</code> or\n            a <code>GROUP</code>. Each principal can be have the following type of document access:\n                <code>ALLOW</code> or <code>DENY</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "memberRelation": {
                    "target": "com.amazonaws.qbusiness#MemberRelation",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the member relation within a principal list.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A list of principals. Each principal can be either a <code>USER</code> or a\n                <code>GROUP</code> and can be designated document access permissions of either\n                <code>ALLOW</code> or <code>DENY</code>.</p>"
            }
        },
        "com.amazonaws.qbusiness#AccessControls": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.qbusiness#AccessControl"
            }
        },
        "com.amazonaws.qbusiness#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.qbusiness#ErrorMessage",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> You don't have access to perform this action. Make sure you have the required\n            permission policies and user accounts and try again.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.qbusiness#ActionConfiguration": {
            "type": "structure",
            "members": {
                "action": {
                    "target": "com.amazonaws.qbusiness#QIamAction",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Q Business action that is allowed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "filterConfiguration": {
                    "target": "com.amazonaws.qbusiness#ActionFilterConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter configuration for the action, if any.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies an allowed action and its associated filter configuration.</p>"
            }
        },
        "com.amazonaws.qbusiness#ActionConfigurationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.qbusiness#ActionConfiguration"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.qbusiness#ActionExecution": {
            "type": "structure",
            "members": {
                "pluginId": {
                    "target": "com.amazonaws.qbusiness#PluginId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the plugin the action is attached to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "payload": {
                    "target": "com.amazonaws.qbusiness#ActionExecutionPayload",
                    "traits": {
                        "smithy.api#documentation": "<p>A mapping of field names to the field values in input that an end user provides to\n            Amazon Q Business requests to perform their plugin action. </p>",
                        "smithy.api#required": {}
                    }
                },
                "payloadFieldNameSeparator": {
                    "target": "com.amazonaws.qbusiness#ActionPayloadFieldNameSeparator",
                    "traits": {
                        "smithy.api#documentation": "<p>A string used to retain information about the hierarchical contexts within an action\n            execution event payload.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Performs an Amazon Q Business plugin action during a non-streaming chat\n            conversation.</p>"
            }
        },
        "com.amazonaws.qbusiness#ActionExecutionEvent": {
            "type": "structure",
            "members": {
                "pluginId": {
                    "target": "com.amazonaws.qbusiness#PluginId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the plugin for which the action is being requested.</p>",
                        "smithy.api#required": {}
                    }
                },
                "payload": {
                    "target": "com.amazonaws.qbusiness#ActionExecutionPayload",
                    "traits": {
                        "smithy.api#documentation": "<p>A mapping of field names to the field values in input that an end user provides to\n            Amazon Q Business requests to perform their plugin action. </p>",
                        "smithy.api#required": {}
                    }
                },
                "payloadFieldNameSeparator": {
                    "target": "com.amazonaws.qbusiness#ActionPayloadFieldNameSeparator",
                    "traits": {
                        "smithy.api#documentation": "<p>A string used to retain information about the hierarchical contexts within a action\n            execution event payload.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A request from an end user signalling an intent to perform an Amazon Q Business plugin\n            action during a streaming chat.</p>"
            }
        },
        "com.amazonaws.qbusiness#ActionExecutionPayload": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.qbusiness#ActionPayloadFieldKey"
            },
            "value": {
                "target": "com.amazonaws.qbusiness#ActionExecutionPayloadField"
            }
        },
        "com.amazonaws.qbusiness#ActionExecutionPayloadField": {
            "type": "structure",
            "members": {
                "value": {
                    "target": "com.amazonaws.qbusiness#ActionPayloadFieldValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The content of a user input field in an plugin action execution payload.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A user input field in an plugin action execution payload.</p>"
            }
        },
        "com.amazonaws.qbusiness#ActionFilterConfiguration": {
            "type": "structure",
            "members": {
                "documentAttributeFilter": {
                    "target": "com.amazonaws.qbusiness#AttributeFilter",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies filters to apply to an allowed action.</p>"
            }
        },
        "com.amazonaws.qbusiness#ActionPayloadFieldKey": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.qbusiness#ActionPayloadFieldNameSeparator": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1
                }
            }
        },
        "com.amazonaws.qbusiness#ActionPayloadFieldType": {
            "type": "enum",
            "members": {
                "STRING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STRING"
                    }
                },
                "NUMBER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NUMBER"
                    }
                },
                "ARRAY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ARRAY"
                    }
                },
                "BOOLEAN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BOOLEAN"
                    }
                }
            }
        },
        "com.amazonaws.qbusiness#ActionPayloadFieldValue": {
            "type": "document"
        },
        "com.amazonaws.qbusiness#ActionReview": {
            "type": "structure",
            "members": {
                "pluginId": {
                    "target": "com.amazonaws.qbusiness#PluginId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the plugin associated with the action review.</p>"
                    }
                },
                "pluginType": {
                    "target": "com.amazonaws.qbusiness#PluginType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of plugin.</p>"
                    }
                },
                "payload": {
                    "target": "com.amazonaws.qbusiness#ActionReviewPayload",
                    "traits": {
                        "smithy.api#documentation": "<p>Field values that an end user needs to provide to Amazon Q Business for Amazon Q Business to\n            perform the requested plugin action.</p>"
                    }
                },
                "payloadFieldNameSeparator": {
                    "target": "com.amazonaws.qbusiness#ActionPayloadFieldNameSeparator",
                    "traits": {
                        "smithy.api#documentation": "<p>A string used to retain information about the hierarchical contexts within an action\n            review payload.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An output event that Amazon Q Business returns to an user who wants to perform a plugin\n            action during a non-streaming chat conversation. It contains information about the\n            selected action with a list of possible user input fields, some pre-populated by\n            Amazon Q Business.</p>"
            }
        },
        "com.amazonaws.qbusiness#ActionReviewEvent": {
            "type": "structure",
            "members": {
                "conversationId": {
                    "target": "com.amazonaws.qbusiness#ConversationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the conversation with which the action review event is\n            associated.</p>"
                    }
                },
                "userMessageId": {
                    "target": "com.amazonaws.qbusiness#MessageId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the conversation with which the plugin action is associated.</p>"
                    }
                },
                "systemMessageId": {
                    "target": "com.amazonaws.qbusiness#MessageId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of an Amazon Q Business AI generated associated with the action review\n            event.</p>"
                    }
                },
                "pluginId": {
                    "target": "com.amazonaws.qbusiness#PluginId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the plugin associated with the action review event.</p>"
                    }
                },
                "pluginType": {
                    "target": "com.amazonaws.qbusiness#PluginType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of plugin.</p>"
                    }
                },
                "payload": {
                    "target": "com.amazonaws.qbusiness#ActionReviewPayload",
                    "traits": {
                        "smithy.api#documentation": "<p>Field values that an end user needs to provide to Amazon Q Business for Amazon Q Business to\n            perform the requested plugin action.</p>"
                    }
                },
                "payloadFieldNameSeparator": {
                    "target": "com.amazonaws.qbusiness#ActionPayloadFieldNameSeparator",
                    "traits": {
                        "smithy.api#documentation": "<p>A string used to retain information about the hierarchical contexts within an action\n            review event payload.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An output event that Amazon Q Business returns to an user who wants to perform a plugin\n            action during a streaming chat conversation. It contains information about the selected\n            action with a list of possible user input fields, some pre-populated by Amazon Q Business.\n        </p>"
            }
        },
        "com.amazonaws.qbusiness#ActionReviewPayload": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.qbusiness#ActionPayloadFieldKey"
            },
            "value": {
                "target": "com.amazonaws.qbusiness#ActionReviewPayloadField"
            }
        },
        "com.amazonaws.qbusiness#ActionReviewPayloadField": {
            "type": "structure",
            "members": {
                "displayName": {
                    "target": "com.amazonaws.qbusiness#String",
                    "traits": {
                        "smithy.api#documentation": "<p> The name of the field. </p>"
                    }
                },
                "displayOrder": {
                    "target": "com.amazonaws.qbusiness#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The display order of fields in a payload.</p>"
                    }
                },
                "displayDescription": {
                    "target": "com.amazonaws.qbusiness#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The field level description of each action review input field. This could be an\n            explanation of the field. In the Amazon Q Business web experience, these descriptions could\n            be used to display as tool tips to help users understand the field. </p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.qbusiness#ActionPayloadFieldType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of field. </p>"
                    }
                },
                "value": {
                    "target": "com.amazonaws.qbusiness#ActionPayloadFieldValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The field value.</p>"
                    }
                },
                "allowedValues": {
                    "target": "com.amazonaws.qbusiness#ActionReviewPayloadFieldAllowedValues",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the field values that an end user can use to provide to\n            Amazon Q Business for Amazon Q Business to perform the requested plugin action.</p>"
                    }
                },
                "allowedFormat": {
                    "target": "com.amazonaws.qbusiness#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The expected data format for the action review input field value. For example, in PTO\n            request, <code>from</code> and <code>to</code> would be of <code>datetime</code> allowed\n            format. </p>"
                    }
                },
                "arrayItemJsonSchema": {
                    "target": "com.amazonaws.qbusiness#ActionReviewPayloadFieldArrayItemJsonSchema",
                    "traits": {
                        "smithy.api#documentation": "<p>Use to create a custom form with array fields (fields with nested objects inside an\n            array).</p>"
                    }
                },
                "required": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about whether the field is required.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A user input field in an plugin action review payload.</p>"
            }
        },
        "com.amazonaws.qbusiness#ActionReviewPayloadFieldAllowedValue": {
            "type": "structure",
            "members": {
                "value": {
                    "target": "com.amazonaws.qbusiness#ActionPayloadFieldValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The field value.</p>"
                    }
                },
                "displayValue": {
                    "target": "com.amazonaws.qbusiness#ActionPayloadFieldValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the field.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the field values that an end user can use to provide to\n            Amazon Q Business for Amazon Q Business to perform the requested plugin action.</p>"
            }
        },
        "com.amazonaws.qbusiness#ActionReviewPayloadFieldAllowedValues": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.qbusiness#ActionReviewPayloadFieldAllowedValue"
            }
        },
        "com.amazonaws.qbusiness#ActionReviewPayloadFieldArrayItemJsonSchema": {
            "type": "document"
        },
        "com.amazonaws.qbusiness#ActionSummary": {
            "type": "structure",
            "members": {
                "actionIdentifier": {
                    "target": "com.amazonaws.qbusiness#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of an Amazon Q Business plugin action.</p>"
                    }
                },
                "displayName": {
                    "target": "com.amazonaws.qbusiness#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The display name assigned by Amazon Q Business to a plugin action. You can't\n            modify this value.</p>"
                    }
                },
                "instructionExample": {
                    "target": "com.amazonaws.qbusiness#String",
                    "traits": {
                        "smithy.api#documentation": "<p>An Amazon Q Business suggested prompt and end user can use to invoke a plugin\n            action. This value can be modified and sent as input to initiate an action. For\n            example:</p>\n         <ul>\n            <li>\n               <p>Create a Jira task</p>\n            </li>\n            <li>\n               <p>Create a chat assistant task to find the root cause of a specific\n                    incident</p>\n            </li>\n         </ul>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.qbusiness#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of an Amazon Q Business plugin action.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary information for an Amazon Q Business plugin action.</p>"
            }
        },
        "com.amazonaws.qbusiness#Actions": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.qbusiness#ActionSummary"
            }
        },
        "com.amazonaws.qbusiness#AmazonResourceName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1011
                }
            }
        },
        "com.amazonaws.qbusiness#Application": {
            "type": "structure",
            "members": {
                "displayName": {
                    "target": "com.amazonaws.qbusiness#ApplicationName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon Q Business application.</p>"
                    }
                },
                "applicationId": {
                    "target": "com.amazonaws.qbusiness#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier for the Amazon Q Business application.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.qbusiness#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The Unix timestamp when the Amazon Q Business application was created.</p>"
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.qbusiness#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The Unix timestamp when the Amazon Q Business application was last updated. </p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.qbusiness#ApplicationStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the Amazon Q Business application. The application is ready to use when the\n            status is <code>ACTIVE</code>.</p>"
                    }
                },
                "identityType": {
                    "target": "com.amazonaws.qbusiness#IdentityType",
                    "traits": {
                        "smithy.api#documentation": "<p>The authentication type being used by a Amazon Q Business application.</p>"
                    }
                },
                "quickSightConfiguration": {
                    "target": "com.amazonaws.qbusiness#QuickSightConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon QuickSight configuration for an Amazon Q Business application that uses QuickSight as the identity provider.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary information for an Amazon Q Business application.</p>"
            }
        },
        "com.amazonaws.qbusiness#ApplicationArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1284
                },
                "smithy.api#pattern": "^arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}$"
            }
        },
        "com.amazonaws.qbusiness#ApplicationId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 36,
                    "max": 36
                },
                "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{35}$"
            }
        },
        "com.amazonaws.qbusiness#ApplicationName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1000
                },
                "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
            }
        },
        "com.amazonaws.qbusiness#ApplicationResource": {
            "type": "resource",
            "identifiers": {
                "applicationId": {
                    "target": "com.amazonaws.qbusiness#ApplicationId"
                }
            },
            "create": {
                "target": "com.amazonaws.qbusiness#CreateApplication"
            },
            "read": {
                "target": "com.amazonaws.qbusiness#GetApplication"
            },
            "update": {
                "target": "com.amazonaws.qbusiness#UpdateApplication"
            },
            "delete": {
                "target": "com.amazonaws.qbusiness#DeleteApplication"
            },
            "list": {
                "target": "com.amazonaws.qbusiness#ListApplications"
            },
            "resources": [
                {
                    "target": "com.amazonaws.qbusiness#DataAccessorResource"
                },
                {
                    "target": "com.amazonaws.qbusiness#IndexResource"
                },
                {
                    "target": "com.amazonaws.qbusiness#IntegrationResource"
                },
                {
                    "target": "com.amazonaws.qbusiness#PluginResource"
                },
                {
                    "target": "com.amazonaws.qbusiness#RetrieverResource"
                },
                {
                    "target": "com.amazonaws.qbusiness#WebExperienceResource"
                }
            ],
            "traits": {
                "aws.cloudformation#cfnResource": {
                    "name": "Application"
                }
            }
        },
        "com.amazonaws.qbusiness#ApplicationStatus": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "UPDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATING"
                    }
                }
            }
        },
        "com.amazonaws.qbusiness#Applications": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.qbusiness#Application"
            }
        },
        "com.amazonaws.qbusiness#AppliedAttachmentsConfiguration": {
            "type": "structure",
            "members": {
                "attachmentsControlMode": {
                    "target": "com.amazonaws.qbusiness#AttachmentsControlMode",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about whether file upload during chat functionality is activated for your\n            application.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration information about the file upload during chat feature for your\n            application.</p>"
            }
        },
        "com.amazonaws.qbusiness#AppliedCreatorModeConfiguration": {
            "type": "structure",
            "members": {
                "creatorModeControl": {
                    "target": "com.amazonaws.qbusiness#CreatorModeControl",
                    "traits": {
                        "smithy.api#documentation": "<p> Information about whether creator mode is enabled or disabled for an Amazon Q Business\n            application. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The creator mode specific admin controls configured for an Amazon Q Business application.\n            Determines whether an end user can generate LLM-only responses when they use the web\n            experience.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/guardrails.html\">Admin controls and guardrails</a> and <a href=\"https://docs.aws.amazon.com/amazonq/latest/business-use-dg/using-web-experience.html#chat-source-scope\">Conversation settings</a>.</p>"
            }
        },
        "com.amazonaws.qbusiness#AppliedOrchestrationConfiguration": {
            "type": "structure",
            "members": {
                "control": {
                    "target": "com.amazonaws.qbusiness#OrchestrationControl",
                    "traits": {
                        "smithy.api#documentation": "<p> Information about whether chat orchestration is enabled or disabled for an\n            Amazon Q Business application. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The chat orchestration specific admin controls configured for an Amazon Q Business\n            application. Determines whether Amazon Q Business automatically routes chat requests across\n            configured plugins and data sources in your Amazon Q Business application.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/guardrails-global-controls.html#guardrails-global-orchestration\">Chat orchestration settings</a>.</p>"
            }
        },
        "com.amazonaws.qbusiness#AssociatePermission": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.qbusiness#AssociatePermissionRequest"
            },
            "output": {
                "target": "com.amazonaws.qbusiness#AssociatePermissionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.qbusiness#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ConflictException"
                },
                {
                    "target": "com.amazonaws.qbusiness#InternalServerException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds or updates a permission policy for a Amazon Q Business application, allowing cross-account access for an ISV. \n         This operation creates a new policy statement for the specified Amazon Q Business application. \n         The policy statement defines the IAM actions that the ISV is allowed to perform on the Amazon Q Business application's resources.</p>",
                "smithy.api#http": {
                    "uri": "/applications/{applicationId}/policy",
                    "method": "POST"
                }
            }
        },
        "com.amazonaws.qbusiness#AssociatePermissionRequest": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.qbusiness#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "statementId": {
                    "target": "com.amazonaws.qbusiness#StatementId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier for the policy statement.</p>",
                        "smithy.api#required": {}
                    }
                },
                "actions": {
                    "target": "com.amazonaws.qbusiness#QIamActions",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of Amazon Q Business actions that the ISV is allowed to perform.</p>",
                        "smithy.api#required": {}
                    }
                },
                "principal": {
                    "target": "com.amazonaws.qbusiness#PrincipalRoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name of the IAM role for the ISV that is being granted permission.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.qbusiness#AssociatePermissionResponse": {
            "type": "structure",
            "members": {
                "statement": {
                    "target": "com.amazonaws.qbusiness#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The JSON representation of the added permission statement.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.qbusiness#Attachment": {
            "type": "structure",
            "members": {
                "attachmentId": {
                    "target": "com.amazonaws.qbusiness#AttachmentId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Q Business attachment.</p>"
                    }
                },
                "conversationId": {
                    "target": "com.amazonaws.qbusiness#ConversationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Q Business conversation the attachment is associated with.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.qbusiness#AttachmentName",
                    "traits": {
                        "smithy.api#documentation": "<p>Filename of the Amazon Q Business attachment.</p>"
                    }
                },
                "copyFrom": {
                    "target": "com.amazonaws.qbusiness#CopyFromSource",
                    "traits": {
                        "smithy.api#documentation": "<p>A CopyFromSource containing a reference to the original source of the Amazon Q Business attachment.</p>"
                    }
                },
                "fileType": {
                    "target": "com.amazonaws.qbusiness#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Filetype of the Amazon Q Business attachment.</p>"
                    }
                },
                "fileSize": {
                    "target": "com.amazonaws.qbusiness#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>Size in bytes of the Amazon Q Business attachment.</p>"
                    }
                },
                "md5chksum": {
                    "target": "com.amazonaws.qbusiness#String",
                    "traits": {
                        "smithy.api#documentation": "<p>MD5 checksum of the Amazon Q Business attachment contents.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.qbusiness#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The Unix timestamp when the Amazon Q Business attachment was created.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.qbusiness#AttachmentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>AttachmentStatus of the Amazon Q Business attachment.</p>"
                    }
                },
                "error": {
                    "target": "com.amazonaws.qbusiness#ErrorDetail",
                    "traits": {
                        "smithy.api#documentation": "<p>ErrorDetail providing information about a Amazon Q Business attachment error. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An attachment in an Amazon Q Business conversation.</p>"
            }
        },
        "com.amazonaws.qbusiness#AttachmentId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
        },
        "com.amazonaws.qbusiness#AttachmentInput": {
            "type": "structure",
            "members": {
                "data": {
                    "target": "com.amazonaws.qbusiness#Blob",
                    "traits": {
                        "smithy.api#documentation": "<p>The contents of the attachment.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.qbusiness#AttachmentName",
                    "traits": {
                        "smithy.api#documentation": "<p>The filename of the attachment.</p>"
                    }
                },
                "copyFrom": {
                    "target": "com.amazonaws.qbusiness#CopyFromSource",
                    "traits": {
                        "smithy.api#documentation": "<p>A reference to an existing attachment.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This is either a file directly uploaded into a web experience chat or a reference to an existing attachment that is part of a web experience chat.</p>"
            }
        },
        "com.amazonaws.qbusiness#AttachmentInputEvent": {
            "type": "structure",
            "members": {
                "attachment": {
                    "target": "com.amazonaws.qbusiness#AttachmentInput"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A file input event activated by a end user request to upload files into their web\n            experience chat.</p>"
            }
        },
        "com.amazonaws.qbusiness#AttachmentList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.qbusiness#Attachment"
            }
        },
        "com.amazonaws.qbusiness#AttachmentName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1000
                },
                "smithy.api#pattern": "^\\P{C}*$"
            }
        },
        "com.amazonaws.qbusiness#AttachmentOutput": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.qbusiness#AttachmentName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of a file uploaded during chat.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.qbusiness#AttachmentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of a file uploaded during chat.</p>"
                    }
                },
                "error": {
                    "target": "com.amazonaws.qbusiness#ErrorDetail",
                    "traits": {
                        "smithy.api#documentation": "<p>An error associated with a file uploaded during chat.</p>"
                    }
                },
                "attachmentId": {
                    "target": "com.amazonaws.qbusiness#AttachmentId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business attachment.</p>"
                    }
                },
                "conversationId": {
                    "target": "com.amazonaws.qbusiness#ConversationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business conversation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The details of a file uploaded during chat.</p>"
            }
        },
        "com.amazonaws.qbusiness#AttachmentStatus": {
            "type": "enum",
            "members": {
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "SUCCESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUCCESS"
                    }
                }
            }
        },
        "com.amazonaws.qbusiness#AttachmentsConfiguration": {
            "type": "structure",
            "members": {
                "attachmentsControlMode": {
                    "target": "com.amazonaws.qbusiness#AttachmentsControlMode",
                    "traits": {
                        "smithy.api#documentation": "<p>Status information about whether file upload functionality is activated or deactivated\n            for your end user.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration information for the file upload during chat feature.</p>"
            }
        },
        "com.amazonaws.qbusiness#AttachmentsControlMode": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.qbusiness#AttachmentsInput": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.qbusiness#AttachmentInput"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.qbusiness#AttachmentsOutput": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.qbusiness#AttachmentOutput"
            }
        },
        "com.amazonaws.qbusiness#AttributeFilter": {
            "type": "structure",
            "members": {
                "andAllFilters": {
                    "target": "com.amazonaws.qbusiness#AttributeFilters",
                    "traits": {
                        "smithy.api#documentation": "<p>Performs a logical <code>AND</code> operation on all supplied filters.</p>"
                    }
                },
                "orAllFilters": {
                    "target": "com.amazonaws.qbusiness#AttributeFilters",
                    "traits": {
                        "smithy.api#documentation": "<p> Performs a logical <code>OR</code> operation on all supplied filters. </p>"
                    }
                },
                "notFilter": {
                    "target": "com.amazonaws.qbusiness#AttributeFilter",
                    "traits": {
                        "smithy.api#documentation": "<p>Performs a logical <code>NOT</code> operation on all supplied filters. </p>"
                    }
                },
                "equalsTo": {
                    "target": "com.amazonaws.qbusiness#DocumentAttribute",
                    "traits": {
                        "smithy.api#documentation": "<p>Performs an equals operation on two document attributes or metadata fields. Supported\n            for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>dateValue</code>,\n                <code>longValue</code>, <code>stringListValue</code> and\n            <code>stringValue</code>.</p>"
                    }
                },
                "containsAll": {
                    "target": "com.amazonaws.qbusiness#DocumentAttribute",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns <code>true</code> when a document contains all the specified document\n            attributes or metadata fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>:\n                <code>stringListValue</code>.</p>"
                    }
                },
                "containsAny": {
                    "target": "com.amazonaws.qbusiness#DocumentAttribute",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns <code>true</code> when a document contains any of the specified document\n            attributes or metadata fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>:\n                <code>stringListValue</code>.</p>"
                    }
                },
                "greaterThan": {
                    "target": "com.amazonaws.qbusiness#DocumentAttribute",
                    "traits": {
                        "smithy.api#documentation": "<p>Performs a greater than operation on two document attributes or metadata fields.\n            Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>dateValue</code>\n            and <code>longValue</code>.</p>"
                    }
                },
                "greaterThanOrEquals": {
                    "target": "com.amazonaws.qbusiness#DocumentAttribute",
                    "traits": {
                        "smithy.api#documentation": "<p>Performs a greater or equals than operation on two document attributes or metadata\n            fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>dateValue</code>\n            and <code>longValue</code>. </p>"
                    }
                },
                "lessThan": {
                    "target": "com.amazonaws.qbusiness#DocumentAttribute",
                    "traits": {
                        "smithy.api#documentation": "<p>Performs a less than operation on two document attributes or metadata fields.\n            Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>dateValue</code>\n            and <code>longValue</code>.</p>"
                    }
                },
                "lessThanOrEquals": {
                    "target": "com.amazonaws.qbusiness#DocumentAttribute",
                    "traits": {
                        "smithy.api#documentation": "<p>Performs a less than or equals operation on two document attributes or metadata\n            fields.Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value type</a>: <code>dateValue</code>\n            and <code>longValue</code>. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Enables filtering of responses based on document attributes or metadata fields.</p>"
            }
        },
        "com.amazonaws.qbusiness#AttributeFilters": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.qbusiness#AttributeFilter"
            }
        },
        "com.amazonaws.qbusiness#AttributeType": {
            "type": "enum",
            "members": {
                "STRING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STRING"
                    }
                },
                "STRING_LIST": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STRING_LIST"
                    }
                },
                "NUMBER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NUMBER"
                    }
                },
                "DATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DATE"
                    }
                }
            }
        },
        "com.amazonaws.qbusiness#AttributeValueOperator": {
            "type": "enum",
            "members": {
                "DELETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE"
                    }
                }
            }
        },
        "com.amazonaws.qbusiness#AudioExtractionConfiguration": {
            "type": "structure",
            "members": {
                "audioExtractionStatus": {
                    "target": "com.amazonaws.qbusiness#AudioExtractionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of audio extraction (ENABLED or DISABLED) for processing audio content from files.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration settings for audio content extraction and processing.</p>"
            }
        },
        "com.amazonaws.qbusiness#AudioExtractionStatus": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.qbusiness#AudioExtractionType": {
            "type": "enum",
            "members": {
                "TRANSCRIPT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TRANSCRIPT"
                    }
                },
                "SUMMARY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SUMMARY"
                    }
                }
            }
        },
        "com.amazonaws.qbusiness#AudioSourceDetails": {
            "type": "structure",
            "members": {
                "mediaId": {
                    "target": "com.amazonaws.qbusiness#MediaId",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique identifier for the audio media file.</p>"
                    }
                },
                "mediaMimeType": {
                    "target": "com.amazonaws.qbusiness#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The MIME type of the audio file (e.g., audio/mp3, audio/wav).</p>"
                    }
                },
                "startTimeMilliseconds": {
                    "target": "com.amazonaws.qbusiness#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The starting timestamp in milliseconds for the relevant audio segment.</p>"
                    }
                },
                "endTimeMilliseconds": {
                    "target": "com.amazonaws.qbusiness#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The ending timestamp in milliseconds for the relevant audio segment.</p>"
                    }
                },
                "audioExtractionType": {
                    "target": "com.amazonaws.qbusiness#AudioExtractionType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of audio extraction performed on the content.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details about an audio source, including its identifier, format, and time information.</p>"
            }
        },
        "com.amazonaws.qbusiness#AuthChallengeRequest": {
            "type": "structure",
            "members": {
                "authorizationUrl": {
                    "target": "com.amazonaws.qbusiness#Url",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL sent by Amazon Q Business to the third party authentication server to authenticate\n            a custom plugin user through an OAuth protocol.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A request made by Amazon Q Business to a third paty authentication server to authenticate\n            a custom plugin user.</p>"
            }
        },
        "com.amazonaws.qbusiness#AuthChallengeRequestEvent": {
            "type": "structure",
            "members": {
                "authorizationUrl": {
                    "target": "com.amazonaws.qbusiness#Url",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL sent by Amazon Q Business to a third party authentication server in response to an\n            authentication verification event activated by an end user request to use a custom\n            plugin. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An authentication verification event activated by an end user request to use a custom\n            plugin.</p>"
            }
        },
        "com.amazonaws.qbusiness#AuthChallengeResponse": {
            "type": "structure",
            "members": {
                "responseMap": {
                    "target": "com.amazonaws.qbusiness#AuthorizationResponseMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The mapping of key-value pairs in an authentication challenge response.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details of the authentication information received from a third party\n            authentication server in response to an authentication challenge.</p>"
            }
        },
        "com.amazonaws.qbusiness#AuthChallengeResponseEvent": {
            "type": "structure",
            "members": {
                "responseMap": {
                    "target": "com.amazonaws.qbusiness#AuthorizationResponseMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The mapping of key-value pairs in an authentication challenge response.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An authentication verification event response by a third party authentication server\n            to Amazon Q Business.</p>"
            }
        },
        "com.amazonaws.qbusiness#AuthResponseKey": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.qbusiness#AuthResponseValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.qbusiness#AuthorizationResponseMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.qbusiness#AuthResponseKey"
            },
            "value": {
                "target": "com.amazonaws.qbusiness#AuthResponseValue"
            }
        },
        "com.amazonaws.qbusiness#AutoSubscriptionConfiguration": {
            "type": "structure",
            "members": {
                "autoSubscribe": {
                    "target": "com.amazonaws.qbusiness#AutoSubscriptionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes whether automatic subscriptions are enabled for an Amazon Q Business\n            application using IAM identity federation for user management.</p>",
                        "smithy.api#required": {}
                    }
                },
                "defaultSubscriptionType": {
                    "target": "com.amazonaws.qbusiness#SubscriptionType",
                    "traits": {
                        "smithy.api#documentation": "<p>Describes the default subscription type assigned to an Amazon Q Business\n            application using IAM identity federation for user management. If the\n            value for <code>autoSubscribe</code> is set to <code>ENABLED</code> you must select a\n            value for this field.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Subscription configuration information for an Amazon Q Business application\n            using IAM identity federation for user management. </p>"
            }
        },
        "com.amazonaws.qbusiness#AutoSubscriptionStatus": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.qbusiness#BasicAuthConfiguration": {
            "type": "structure",
            "members": {
                "secretArn": {
                    "target": "com.amazonaws.qbusiness#SecretArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the Secrets Manager secret that stores the basic authentication\n            credentials used for plugin configuration..</p>",
                        "smithy.api#required": {}
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.qbusiness#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of an IAM role used by Amazon Q Business to access the basic\n            authentication credentials stored in a Secrets Manager secret.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the basic authentication credentials used to configure a\n            plugin.</p>"
            }
        },
        "com.amazonaws.qbusiness#BatchDeleteDocument": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.qbusiness#BatchDeleteDocumentRequest"
            },
            "output": {
                "target": "com.amazonaws.qbusiness#BatchDeleteDocumentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.qbusiness#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ConflictException"
                },
                {
                    "target": "com.amazonaws.qbusiness#InternalServerException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Asynchronously deletes one or more documents added using the\n                <code>BatchPutDocument</code> API from an Amazon Q Business index.</p>\n         <p>You can see the progress of the deletion, and any error messages related to the\n            process, by using CloudWatch.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/applications/{applicationId}/indices/{indexId}/documents/delete"
                }
            }
        },
        "com.amazonaws.qbusiness#BatchDeleteDocumentRequest": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.qbusiness#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Q Business application.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "indexId": {
                    "target": "com.amazonaws.qbusiness#IndexId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Q Business index that contains the documents to\n            delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "documents": {
                    "target": "com.amazonaws.qbusiness#DeleteDocuments",
                    "traits": {
                        "smithy.api#documentation": "<p>Documents deleted from the Amazon Q Business index.</p>",
                        "smithy.api#required": {}
                    }
                },
                "dataSourceSyncId": {
                    "target": "com.amazonaws.qbusiness#ExecutionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the data source sync during which the documents were deleted.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.qbusiness#BatchDeleteDocumentResponse": {
            "type": "structure",
            "members": {
                "failedDocuments": {
                    "target": "com.amazonaws.qbusiness#FailedDocuments",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of documents that couldn't be removed from the Amazon Q Business index. Each entry\n            contains an error message that indicates why the document couldn't be removed from the\n            index. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.qbusiness#BatchPutDocument": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.qbusiness#BatchPutDocumentRequest"
            },
            "output": {
                "target": "com.amazonaws.qbusiness#BatchPutDocumentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.qbusiness#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ConflictException"
                },
                {
                    "target": "com.amazonaws.qbusiness#InternalServerException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds one or more documents to an Amazon Q Business index.</p>\n         <p>You use this API to:</p>\n         <ul>\n            <li>\n               <p>ingest your structured and unstructured documents and documents stored in an\n                        Amazon S3 bucket into an Amazon Q Business index.</p>\n            </li>\n            <li>\n               <p>add custom attributes to documents in an Amazon Q Business index.</p>\n            </li>\n            <li>\n               <p>attach an access control list to the documents added to an Amazon Q Business\n                    index.</p>\n            </li>\n         </ul>\n         <p>You can see the progress of the deletion, and any error messages related to the\n            process, by using CloudWatch.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/applications/{applicationId}/indices/{indexId}/documents"
                }
            }
        },
        "com.amazonaws.qbusiness#BatchPutDocumentRequest": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.qbusiness#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Q Business application.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "indexId": {
                    "target": "com.amazonaws.qbusiness#IndexId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Q Business index to add the documents to. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "documents": {
                    "target": "com.amazonaws.qbusiness#Documents",
                    "traits": {
                        "smithy.api#documentation": "<p>One or more documents to add to the index.</p>",
                        "smithy.api#required": {}
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.qbusiness#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role with permission to access your S3\n            bucket.</p>"
                    }
                },
                "dataSourceSyncId": {
                    "target": "com.amazonaws.qbusiness#ExecutionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the data source sync during which the documents were added.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.qbusiness#BatchPutDocumentResponse": {
            "type": "structure",
            "members": {
                "failedDocuments": {
                    "target": "com.amazonaws.qbusiness#FailedDocuments",
                    "traits": {
                        "smithy.api#documentation": "<p> A list of documents that were not added to the Amazon Q Business index because the\n            document failed a validation check. Each document contains an error message that\n            indicates why the document couldn't be added to the index. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.qbusiness#Blob": {
            "type": "blob"
        },
        "com.amazonaws.qbusiness#BlockedPhrase": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 36
                },
                "smithy.api#pattern": "^\\P{C}*$"
            }
        },
        "com.amazonaws.qbusiness#BlockedPhrases": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.qbusiness#BlockedPhrase"
            }
        },
        "com.amazonaws.qbusiness#BlockedPhrasesConfiguration": {
            "type": "structure",
            "members": {
                "blockedPhrases": {
                    "target": "com.amazonaws.qbusiness#BlockedPhrases",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of phrases blocked from a Amazon Q Business web experience chat.</p>"
                    }
                },
                "systemMessageOverride": {
                    "target": "com.amazonaws.qbusiness#SystemMessageOverride",
                    "traits": {
                        "smithy.api#documentation": "<p>The configured custom message displayed to an end user informing them that they've\n            used a blocked phrase during chat.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the phrases blocked from chat by your chat control\n            configuration.</p>"
            }
        },
        "com.amazonaws.qbusiness#BlockedPhrasesConfigurationUpdate": {
            "type": "structure",
            "members": {
                "blockedPhrasesToCreateOrUpdate": {
                    "target": "com.amazonaws.qbusiness#BlockedPhrases",
                    "traits": {
                        "smithy.api#documentation": "<p>Creates or updates a blocked phrases configuration in your Amazon Q Business\n            application.</p>"
                    }
                },
                "blockedPhrasesToDelete": {
                    "target": "com.amazonaws.qbusiness#BlockedPhrases",
                    "traits": {
                        "smithy.api#documentation": "<p>Deletes a blocked phrases configuration in your Amazon Q Business application.</p>"
                    }
                },
                "systemMessageOverride": {
                    "target": "com.amazonaws.qbusiness#SystemMessageOverride",
                    "traits": {
                        "smithy.api#documentation": "<p>The configured custom message displayed to your end user when they use blocked phrase\n            during chat.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Updates a blocked phrases configuration in your Amazon Q Business application.</p>"
            }
        },
        "com.amazonaws.qbusiness#BoostingDurationInSeconds": {
            "type": "long",
            "traits": {
                "smithy.api#range": {
                    "min": 0,
                    "max": 999999999
                }
            }
        },
        "com.amazonaws.qbusiness#BrowserExtension": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "FIREFOX",
                        "name": "FIREFOX"
                    },
                    {
                        "value": "CHROME",
                        "name": "CHROME"
                    }
                ]
            }
        },
        "com.amazonaws.qbusiness#BrowserExtensionConfiguration": {
            "type": "structure",
            "members": {
                "enabledBrowserExtensions": {
                    "target": "com.amazonaws.qbusiness#BrowserExtensionList",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify the browser extensions allowed for your Amazon Q web experience.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CHROME</code> — Enables the extension for Chromium-based browsers (Google Chrome, Microsoft\n                    Edge, Opera, etc.).</p>\n            </li>\n            <li>\n               <p>\n                  <code>FIREFOX</code> — Enables the extension for Mozilla Firefox.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CHROME</code> and <code>FIREFOX</code> — Enable the extension for Chromium-based browsers\n                    and Mozilla Firefox.</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The container for browser extension configuration for an Amazon Q Business web experience.</p>"
            }
        },
        "com.amazonaws.qbusiness#BrowserExtensionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.qbusiness#BrowserExtension"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 2
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.qbusiness#CancelSubscription": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.qbusiness#CancelSubscriptionRequest"
            },
            "output": {
                "target": "com.amazonaws.qbusiness#CancelSubscriptionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.qbusiness#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.qbusiness#InternalServerException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Unsubscribes a user or a group from their pricing tier in an Amazon Q Business\n            application. An unsubscribed user or group loses all Amazon Q Business feature access at the\n            start of next month. </p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/applications/{applicationId}/subscriptions/{subscriptionId}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.qbusiness#CancelSubscriptionRequest": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.qbusiness#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Q Business application for which the subscription is being\n            cancelled.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "subscriptionId": {
                    "target": "com.amazonaws.qbusiness#SubscriptionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Q Business subscription being cancelled.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.qbusiness#CancelSubscriptionResponse": {
            "type": "structure",
            "members": {
                "subscriptionArn": {
                    "target": "com.amazonaws.qbusiness#SubscriptionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q Business subscription being\n            cancelled.</p>"
                    }
                },
                "currentSubscription": {
                    "target": "com.amazonaws.qbusiness#SubscriptionDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of your current Amazon Q Business subscription.</p>"
                    }
                },
                "nextSubscription": {
                    "target": "com.amazonaws.qbusiness#SubscriptionDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the Amazon Q Business subscription for the next month.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.qbusiness#Chat": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.qbusiness#ChatInput"
            },
            "output": {
                "target": "com.amazonaws.qbusiness#ChatOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.qbusiness#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ConflictException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ExternalResourceException"
                },
                {
                    "target": "com.amazonaws.qbusiness#InternalServerException"
                },
                {
                    "target": "com.amazonaws.qbusiness#LicenseNotFoundException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Starts or continues a streaming Amazon Q Business conversation.</p>",
                "smithy.api#http": {
                    "uri": "/applications/{applicationId}/conversations",
                    "method": "POST"
                }
            }
        },
        "com.amazonaws.qbusiness#ChatInput": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.qbusiness#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Q Business application linked to a streaming Amazon Q Business\n            conversation.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "userId": {
                    "target": "com.amazonaws.qbusiness#UserId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the user attached to the chat input. </p>",
                        "smithy.api#httpQuery": "userId"
                    }
                },
                "userGroups": {
                    "target": "com.amazonaws.qbusiness#UserGroups",
                    "traits": {
                        "smithy.api#documentation": "<p>The group names that a user associated with the chat input belongs to.</p>",
                        "smithy.api#httpQuery": "userGroups"
                    }
                },
                "conversationId": {
                    "target": "com.amazonaws.qbusiness#ConversationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Q Business conversation.</p>",
                        "smithy.api#httpQuery": "conversationId"
                    }
                },
                "parentMessageId": {
                    "target": "com.amazonaws.qbusiness#MessageId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier used to associate a user message with a AI generated response.</p>",
                        "smithy.api#httpQuery": "parentMessageId"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.qbusiness#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that you provide to identify the chat input.</p>",
                        "smithy.api#httpQuery": "clientToken",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "inputStream": {
                    "target": "com.amazonaws.qbusiness#ChatInputStream",
                    "traits": {
                        "smithy.api#documentation": "<p>The streaming input for the <code>Chat</code> API.</p>",
                        "smithy.api#httpPayload": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.qbusiness#ChatInputStream": {
            "type": "union",
            "members": {
                "configurationEvent": {
                    "target": "com.amazonaws.qbusiness#ConfigurationEvent",
                    "traits": {
                        "smithy.api#documentation": "<p>A configuration event activated by an end user request to select a specific chat\n            mode.</p>"
                    }
                },
                "textEvent": {
                    "target": "com.amazonaws.qbusiness#TextInputEvent",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the payload of the <code>ChatInputStream</code> event containing the\n            end user message input.</p>"
                    }
                },
                "attachmentEvent": {
                    "target": "com.amazonaws.qbusiness#AttachmentInputEvent",
                    "traits": {
                        "smithy.api#documentation": "<p>A request by an end user to upload a file during chat.</p>"
                    }
                },
                "actionExecutionEvent": {
                    "target": "com.amazonaws.qbusiness#ActionExecutionEvent",
                    "traits": {
                        "smithy.api#documentation": "<p>A request from an end user to perform an Amazon Q Business plugin action.</p>"
                    }
                },
                "endOfInputEvent": {
                    "target": "com.amazonaws.qbusiness#EndOfInputEvent",
                    "traits": {
                        "smithy.api#documentation": "<p>The end of the streaming input for the <code>Chat</code> API.</p>"
                    }
                },
                "authChallengeResponseEvent": {
                    "target": "com.amazonaws.qbusiness#AuthChallengeResponseEvent",
                    "traits": {
                        "smithy.api#documentation": "<p>An authentication verification event response by a third party authentication server\n            to Amazon Q Business.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The streaming input for the <code>Chat</code> API.</p>",
                "smithy.api#streaming": {}
            }
        },
        "com.amazonaws.qbusiness#ChatMode": {
            "type": "enum",
            "members": {
                "RETRIEVAL_MODE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RETRIEVAL_MODE"
                    }
                },
                "CREATOR_MODE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATOR_MODE"
                    }
                },
                "PLUGIN_MODE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PLUGIN_MODE"
                    }
                }
            }
        },
        "com.amazonaws.qbusiness#ChatModeConfiguration": {
            "type": "union",
            "members": {
                "pluginConfiguration": {
                    "target": "com.amazonaws.qbusiness#PluginConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration information required to invoke chat in <code>PLUGIN_MODE</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration information for Amazon Q Business conversation modes.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/guardrails.html\">Admin controls and guardrails</a> and <a href=\"https://docs.aws.amazon.com/amazonq/latest/business-use-dg/using-web-experience.html#chat-source-scope\">Conversation settings</a>.</p>"
            }
        },
        "com.amazonaws.qbusiness#ChatOutput": {
            "type": "structure",
            "members": {
                "outputStream": {
                    "target": "com.amazonaws.qbusiness#ChatOutputStream",
                    "traits": {
                        "smithy.api#documentation": "<p>The streaming output for the <code>Chat</code> API.</p>",
                        "smithy.api#httpPayload": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.qbusiness#ChatOutputStream": {
            "type": "union",
            "members": {
                "textEvent": {
                    "target": "com.amazonaws.qbusiness#TextOutputEvent",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the payload of the <code>ChatOutputStream</code> event containing\n            the AI-generated message output.</p>"
                    }
                },
                "metadataEvent": {
                    "target": "com.amazonaws.qbusiness#MetadataEvent",
                    "traits": {
                        "smithy.api#documentation": "<p>A metadata event for a AI-generated text output message in a Amazon Q Business\n            conversation. </p>"
                    }
                },
                "actionReviewEvent": {
                    "target": "com.amazonaws.qbusiness#ActionReviewEvent",
                    "traits": {
                        "smithy.api#documentation": "<p>A request from Amazon Q Business to the end user for information Amazon Q Business needs to\n            successfully complete a requested plugin action.</p>"
                    }
                },
                "failedAttachmentEvent": {
                    "target": "com.amazonaws.qbusiness#FailedAttachmentEvent",
                    "traits": {
                        "smithy.api#documentation": "<p>A failed file upload event during a web experience chat.</p>"
                    }
                },
                "authChallengeRequestEvent": {
                    "target": "com.amazonaws.qbusiness#AuthChallengeRequestEvent",
                    "traits": {
                        "smithy.api#documentation": "<p>An authentication verification event activated by an end user request to use a custom\n            plugin.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The streaming output for the <code>Chat</code> API.</p>",
                "smithy.api#streaming": {}
            }
        },
        "com.amazonaws.qbusiness#ChatSync": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.qbusiness#ChatSyncInput"
            },
            "output": {
                "target": "com.amazonaws.qbusiness#ChatSyncOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.qbusiness#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ConflictException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ExternalResourceException"
                },
                {
                    "target": "com.amazonaws.qbusiness#InternalServerException"
                },
                {
                    "target": "com.amazonaws.qbusiness#LicenseNotFoundException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.qbusiness#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Starts or continues a non-streaming Amazon Q Business conversation.</p>",
                "smithy.api#http": {
                    "uri": "/applications/{applicationId}/conversations?sync",
                    "method": "POST"
                }
            }
        },
        "com.amazonaws.qbusiness#ChatSyncInput": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.qbusiness#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Q Business application linked to the Amazon Q Business\n            conversation.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "userId": {
                    "target": "com.amazonaws.qbusiness#UserId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the user attached to the chat input.</p>",
                        "smithy.api#httpQuery": "userId"
                    }
                },
                "userGroups": {
                    "target": "com.amazonaws.qbusiness#UserGroups",
                    "traits": {
                        "smithy.api#documentation": "<p>The group names that a user associated with the chat input belongs to.</p>",
                        "smithy.api#httpQuery": "userGroups"
                    }
                },
                "userMessage": {
                    "target": "com.amazonaws.qbusiness#UserMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>A end user message in a conversation.</p>"
                    }
                },
                "attachments": {
                    "target": "com.amazonaws.qbusiness#AttachmentsInput",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of files uploaded directly during chat. You can upload a maximum of 5 files of\n            upto 10 MB each.</p>"
                    }
                },
                "actionExecution": {
                    "target": "com.amazonaws.qbusiness#ActionExecution",
                    "traits": {
                        "smithy.api#documentation": "<p>A request from an end user to perform an Amazon Q Business plugin action.</p>"
                    }
                },
                "authChallengeResponse": {
                    "target": "com.amazonaws.qbusiness#AuthChallengeResponse",
                    "traits": {
                        "smithy.api#documentation": "<p>An authentication verification event response by a third party authentication server\n            to Amazon Q Business.</p>"
                    }
                },
                "conversationId": {
                    "target": "com.amazonaws.qbusiness#ConversationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Q Business conversation.</p>"
                    }
                },
                "parentMessageId": {
                    "target": "com.amazonaws.qbusiness#MessageId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the previous system message in a conversation.</p>"
                    }
                },
                "attributeFilter": {
                    "target": "com.amazonaws.qbusiness#AttributeFilter",
                    "traits": {
                        "smithy.api#documentation": "<p>Enables filtering of Amazon Q Business web experience responses based on document\n            attributes or metadata fields.</p>"
                    }
                },
                "chatMode": {
                    "target": "com.amazonaws.qbusiness#ChatMode",
                    "traits": {
[...]
