{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.resiliencehub#AcceptGroupingRecommendationEntries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.resiliencehub#AcceptGroupingRecommendationEntry"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 30
                }
            }
        },
        "com.amazonaws.resiliencehub#AcceptGroupingRecommendationEntry": {
            "type": "structure",
            "members": {
                "groupingRecommendationId": {
                    "target": "com.amazonaws.resiliencehub#String255",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates the identifier of the grouping recommendation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Indicates the grouping recommendation you have accepted to include in your application.</p>"
            }
        },
        "com.amazonaws.resiliencehub#AcceptResourceGroupingRecommendations": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.resiliencehub#AcceptResourceGroupingRecommendationsRequest"
            },
            "output": {
                "target": "com.amazonaws.resiliencehub#AcceptResourceGroupingRecommendationsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.resiliencehub#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.resiliencehub#InternalServerException"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Accepts the resource grouping recommendations suggested by Resilience Hub for your application.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/accept-resource-grouping-recommendations",
                    "code": 200
                }
            }
        },
        "com.amazonaws.resiliencehub#AcceptResourceGroupingRecommendationsRequest": {
            "type": "structure",
            "members": {
                "appArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>Amazon Web Services General Reference</i> guide.</p>",
                        "smithy.api#required": {}
                    }
                },
                "entries": {
                    "target": "com.amazonaws.resiliencehub#AcceptGroupingRecommendationEntries",
                    "traits": {
                        "smithy.api#documentation": "<p>List of resource grouping recommendations you want to include in your application.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.resiliencehub#AcceptResourceGroupingRecommendationsResponse": {
            "type": "structure",
            "members": {
                "appArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>Amazon Web Services General Reference</i> guide.</p>",
                        "smithy.api#required": {}
                    }
                },
                "failedEntries": {
                    "target": "com.amazonaws.resiliencehub#FailedGroupingRecommendationEntries",
                    "traits": {
                        "smithy.api#documentation": "<p>List of resource grouping recommendations that could not be included in your application.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.resiliencehub#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.resiliencehub#String500"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You don't have permissions to perform the requested operation. The user or role that is\n      making the request must have at least one IAM permissions policy attached that grants the\n      required permissions.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappings": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappingsRequest"
            },
            "output": {
                "target": "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappingsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.resiliencehub#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ConflictException"
                },
                {
                    "target": "com.amazonaws.resiliencehub#InternalServerException"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds the source of resource-maps to the draft version of an application. During\n      assessment, Resilience Hub will use these resource-maps to resolve the latest physical\n      ID for each resource in the application template. For more information about different types\n      of resources supported by Resilience Hub and how to add them in your application, see\n        <a href=\"https://docs.aws.amazon.com/resilience-hub/latest/userguide/how-app-manage.html\">Step\n        2: How is your application managed?</a> in the Resilience Hub User Guide.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/add-draft-app-version-resource-mappings",
                    "code": 200
                }
            }
        },
        "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappingsRequest": {
            "type": "structure",
            "members": {
                "appArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>Amazon Web Services General Reference</i> guide.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceMappings": {
                    "target": "com.amazonaws.resiliencehub#ResourceMappingList",
                    "traits": {
                        "smithy.api#documentation": "<p>Mappings used to map logical resources from the template to physical resources. You can\n      use the mapping type <code>CFN_STACK</code> if the application template uses\n      a logical stack name. Or you can map individual resources by using the mapping type\n      <code>RESOURCE</code>. We recommend using the mapping type <code>CFN_STACK</code> if the\n      application is backed by a CloudFormation stack.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappingsResponse": {
            "type": "structure",
            "members": {
                "appArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>Amazon Web Services General Reference</i> guide.</p>",
                        "smithy.api#required": {}
                    }
                },
                "appVersion": {
                    "target": "com.amazonaws.resiliencehub#EntityVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceMappings": {
                    "target": "com.amazonaws.resiliencehub#ResourceMappingList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of sources that are used to map a logical resource from the template to a physical\n      resource. You can use sources such as CloudFormation, Terraform state files,\n      AppRegistry applications, or Amazon EKS.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.resiliencehub#AdditionalInfoMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.resiliencehub#String128WithoutWhitespace"
            },
            "value": {
                "target": "com.amazonaws.resiliencehub#AdditionalInfoValueList"
            }
        },
        "com.amazonaws.resiliencehub#AdditionalInfoValueList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.resiliencehub#String1024"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.resiliencehub#Alarm": {
            "type": "structure",
            "members": {
                "alarmArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Amazon CloudWatch alarm.</p>"
                    }
                },
                "source": {
                    "target": "com.amazonaws.resiliencehub#String255",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates the source of the Amazon CloudWatch alarm. That is, it indicates if the\n      alarm was created using Resilience Hub recommendation (<code>AwsResilienceHub</code>),\n      or if you had created the alarm in Amazon CloudWatch (<code>Customer</code>).</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Indicates the Amazon CloudWatch alarm detected while running an assessment.</p>"
            }
        },
        "com.amazonaws.resiliencehub#AlarmRecommendation": {
            "type": "structure",
            "members": {
                "recommendationId": {
                    "target": "com.amazonaws.resiliencehub#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>Identifier of the alarm recommendation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "referenceId": {
                    "target": "com.amazonaws.resiliencehub#SpecReferenceId",
                    "traits": {
                        "smithy.api#documentation": "<p>Reference identifier of the alarm recommendation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.resiliencehub#String500",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the alarm recommendation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.resiliencehub#EntityDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Description of the alarm recommendation.</p>"
                    }
                },
                "type": {
                    "target": "com.amazonaws.resiliencehub#AlarmType",
                    "traits": {
                        "smithy.api#documentation": "<p>Type of alarm recommendation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "appComponentName": {
                    "target": "com.amazonaws.resiliencehub#EntityId",
                    "traits": {
                        "smithy.api#deprecated": {
                            "message": "An alarm recommendation can be attached to multiple Application Components, hence this property will be replaced by the new property 'appComponentNames'."
                        },
                        "smithy.api#documentation": "<p>Application Component name for the CloudWatch alarm recommendation. This name is saved as the first\n      item in the <code>appComponentNames</code> list.</p>"
                    }
                },
                "items": {
                    "target": "com.amazonaws.resiliencehub#RecommendationItemList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of CloudWatch alarm recommendations.</p>"
                    }
                },
                "prerequisite": {
                    "target": "com.amazonaws.resiliencehub#String500",
                    "traits": {
                        "smithy.api#documentation": "<p>The prerequisite for the alarm recommendation.</p>"
                    }
                },
                "appComponentNames": {
                    "target": "com.amazonaws.resiliencehub#AppComponentNameList",
                    "traits": {
                        "smithy.api#documentation": "<p>List of Application Component names for the CloudWatch alarm recommendation.</p>"
                    }
                },
                "recommendationStatus": {
                    "target": "com.amazonaws.resiliencehub#RecommendationStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Status of the recommended Amazon CloudWatch alarm.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines a recommendation for a CloudWatch alarm.</p>"
            }
        },
        "com.amazonaws.resiliencehub#AlarmRecommendationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.resiliencehub#AlarmRecommendation"
            }
        },
        "com.amazonaws.resiliencehub#AlarmReferenceIdList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.resiliencehub#String500"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 200
                }
            }
        },
        "com.amazonaws.resiliencehub#AlarmType": {
            "type": "enum",
            "members": {
                "METRIC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Metric"
                    }
                },
                "COMPOSITE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Composite"
                    }
                },
                "CANARY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Canary"
                    }
                },
                "LOGS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Logs"
                    }
                },
                "EVENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Event"
                    }
                }
            }
        },
        "com.amazonaws.resiliencehub#App": {
            "type": "structure",
            "members": {
                "appArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>Amazon Web Services General Reference</i> guide.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.resiliencehub#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>Name for the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.resiliencehub#EntityDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional description for an application.</p>"
                    }
                },
                "policyArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the resiliency policy. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:resiliency-policy/<code>policy-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>Amazon Web Services General Reference</i> guide.</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.resiliencehub#TimeStamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Date and time when the application was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.resiliencehub#AppStatusType",
                    "traits": {
                        "smithy.api#documentation": "<p>Status of the application.</p>"
                    }
                },
                "complianceStatus": {
                    "target": "com.amazonaws.resiliencehub#AppComplianceStatusType",
                    "traits": {
                        "smithy.api#documentation": "<p>Current status of compliance for the resiliency policy.</p>"
                    }
                },
                "lastAppComplianceEvaluationTime": {
                    "target": "com.amazonaws.resiliencehub#TimeStamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Date and time the most recent compliance evaluation.</p>"
                    }
                },
                "resiliencyScore": {
                    "target": "com.amazonaws.resiliencehub#Double",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Current resiliency score for the application.</p>"
                    }
                },
                "lastResiliencyScoreEvaluationTime": {
                    "target": "com.amazonaws.resiliencehub#TimeStamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Date and time the most recent resiliency score evaluation.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.resiliencehub#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags assigned to the resource. A tag is a label that you assign to an Amazon Web Services resource. \nEach tag consists of a key/value pair.</p>"
                    }
                },
                "assessmentSchedule": {
                    "target": "com.amazonaws.resiliencehub#AppAssessmentScheduleType",
                    "traits": {
                        "smithy.api#documentation": "<p>Assessment execution schedule with 'Daily' or 'Disabled' values. </p>"
                    }
                },
                "permissionModel": {
                    "target": "com.amazonaws.resiliencehub#PermissionModel",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the roles and credentials that Resilience Hub would use while creating the\n      application, importing its resources, and running an assessment.</p>"
                    }
                },
                "eventSubscriptions": {
                    "target": "com.amazonaws.resiliencehub#EventSubscriptionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of events you would like to subscribe and get notification for. Currently,\n        Resilience Hub supports notifications only for <b>Drift\n        detected</b> and <b>Scheduled assessment failure</b>\n      events.</p>"
                    }
                },
                "driftStatus": {
                    "target": "com.amazonaws.resiliencehub#AppDriftStatusType",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates if compliance drifts (deviations) were detected while running an assessment for\n      your application.</p>"
                    }
                },
                "lastDriftEvaluationTime": {
                    "target": "com.amazonaws.resiliencehub#TimeStamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates the last time that a drift was evaluated.</p>"
                    }
                },
                "rtoInSecs": {
                    "target": "com.amazonaws.resiliencehub#IntegerOptional",
                    "traits": {
                        "smithy.api#documentation": "<p>Recovery Time Objective (RTO) in seconds.</p>"
                    }
                },
                "rpoInSecs": {
                    "target": "com.amazonaws.resiliencehub#IntegerOptional",
                    "traits": {
                        "smithy.api#documentation": "<p>Recovery Point Objective (RPO) in seconds.</p>"
                    }
                },
                "awsApplicationArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of  Resource Groups group that is integrated with an AppRegistry application. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>Amazon Web Services General Reference</i> guide.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines an Resilience Hub application.</p>"
            }
        },
        "com.amazonaws.resiliencehub#AppAssessment": {
            "type": "structure",
            "members": {
                "appArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>Amazon Web Services General Reference</i> guide.</p>"
                    }
                },
                "appVersion": {
                    "target": "com.amazonaws.resiliencehub#EntityVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>Version of an application.</p>"
                    }
                },
                "invoker": {
                    "target": "com.amazonaws.resiliencehub#AssessmentInvoker",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity that invoked the assessment.</p>",
                        "smithy.api#required": {}
                    }
                },
                "cost": {
                    "target": "com.amazonaws.resiliencehub#Cost",
                    "traits": {
                        "smithy.api#documentation": "<p>Cost for the application.</p>"
                    }
                },
                "resiliencyScore": {
                    "target": "com.amazonaws.resiliencehub#ResiliencyScore",
                    "traits": {
                        "smithy.api#documentation": "<p>Current resiliency score for an application.</p>"
                    }
                },
                "compliance": {
                    "target": "com.amazonaws.resiliencehub#AssessmentCompliance",
                    "traits": {
                        "smithy.api#documentation": "<p>Application compliance against the resiliency policy.</p>"
                    }
                },
                "complianceStatus": {
                    "target": "com.amazonaws.resiliencehub#ComplianceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Current status of the compliance for the resiliency policy.</p>"
                    }
                },
                "assessmentStatus": {
                    "target": "com.amazonaws.resiliencehub#AssessmentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Current status of the assessment for the resiliency policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "startTime": {
                    "target": "com.amazonaws.resiliencehub#TimeStamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Starting time for the action.</p>"
                    }
                },
                "endTime": {
                    "target": "com.amazonaws.resiliencehub#TimeStamp",
                    "traits": {
                        "smithy.api#documentation": "<p>End time for the action.</p>"
                    }
                },
                "message": {
                    "target": "com.amazonaws.resiliencehub#String500",
                    "traits": {
                        "smithy.api#documentation": "<p>Error or warning message from the assessment execution</p>"
                    }
                },
                "assessmentName": {
                    "target": "com.amazonaws.resiliencehub#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the assessment.</p>"
                    }
                },
                "assessmentArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the assessment. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>Amazon Web Services General Reference</i> guide.</p>",
                        "smithy.api#required": {}
                    }
                },
                "policy": {
                    "target": "com.amazonaws.resiliencehub#ResiliencyPolicy",
                    "traits": {
                        "smithy.api#documentation": "<p>Resiliency policy of an application.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.resiliencehub#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags assigned to the resource. A tag is a label that you assign to an Amazon Web Services resource. \nEach tag consists of a key/value pair.</p>"
                    }
                },
                "resourceErrorsDetails": {
                    "target": "com.amazonaws.resiliencehub#ResourceErrorsDetails",
                    "traits": {
                        "smithy.api#documentation": "<p> A resource error object containing a list of errors retrieving an application's\n      resources. </p>"
                    }
                },
                "versionName": {
                    "target": "com.amazonaws.resiliencehub#EntityVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>Version name of the published application.</p>"
                    }
                },
                "driftStatus": {
                    "target": "com.amazonaws.resiliencehub#DriftStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates if compliance drifts (deviations) were detected while running an assessment for\n      your application.</p>"
                    }
                },
                "summary": {
                    "target": "com.amazonaws.resiliencehub#AssessmentSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates the AI-generated summary for the Resilience Hub assessment, providing a concise overview that highlights the top risks and recommendations.</p>\n         <note>\n            <p>This property is available only in the US East (N. Virginia) Region.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines an application assessment.</p>"
            }
        },
        "com.amazonaws.resiliencehub#AppAssessmentScheduleType": {
            "type": "enum",
            "members": {
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Disabled"
                    }
                },
                "DAILY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Daily"
                    }
                }
            }
        },
        "com.amazonaws.resiliencehub#AppAssessmentSummary": {
            "type": "structure",
            "members": {
                "appArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>Amazon Web Services General Reference</i> guide.</p>"
                    }
                },
                "appVersion": {
                    "target": "com.amazonaws.resiliencehub#EntityVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>Version of an application.</p>"
                    }
                },
                "assessmentStatus": {
                    "target": "com.amazonaws.resiliencehub#AssessmentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Current status of the assessment for the resiliency policy.</p>",
                        "smithy.api#required": {}
                    }
                },
                "invoker": {
                    "target": "com.amazonaws.resiliencehub#AssessmentInvoker",
                    "traits": {
                        "smithy.api#documentation": "<p>Entity that invoked the assessment.</p>"
                    }
                },
                "startTime": {
                    "target": "com.amazonaws.resiliencehub#TimeStamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Starting time for the action.</p>"
                    }
                },
                "endTime": {
                    "target": "com.amazonaws.resiliencehub#TimeStamp",
                    "traits": {
                        "smithy.api#documentation": "<p>End time for the action.</p>"
                    }
                },
                "message": {
                    "target": "com.amazonaws.resiliencehub#String500",
                    "traits": {
                        "smithy.api#documentation": "<p>Message from the assessment run.</p>"
                    }
                },
                "assessmentName": {
                    "target": "com.amazonaws.resiliencehub#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the assessment.</p>"
                    }
                },
                "assessmentArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the assessment. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>Amazon Web Services General Reference</i> guide.</p>",
                        "smithy.api#required": {}
                    }
                },
                "complianceStatus": {
                    "target": "com.amazonaws.resiliencehub#ComplianceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Current status of compliance for the resiliency policy.</p>"
                    }
                },
                "cost": {
                    "target": "com.amazonaws.resiliencehub#Cost",
                    "traits": {
                        "smithy.api#documentation": "<p>Cost for an application.</p>"
                    }
                },
                "resiliencyScore": {
                    "target": "com.amazonaws.resiliencehub#Double",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Current resiliency score for the application.</p>"
                    }
                },
                "versionName": {
                    "target": "com.amazonaws.resiliencehub#EntityVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of an application version.</p>"
                    }
                },
                "driftStatus": {
                    "target": "com.amazonaws.resiliencehub#DriftStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates if compliance drifts (deviations) were detected while running an assessment for\n      your application.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines an application assessment summary.</p>"
            }
        },
        "com.amazonaws.resiliencehub#AppAssessmentSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.resiliencehub#AppAssessmentSummary"
            }
        },
        "com.amazonaws.resiliencehub#AppComplianceStatusType": {
            "type": "enum",
            "members": {
                "POLICY_BREACHED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PolicyBreached"
                    }
                },
                "POLICY_MET": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PolicyMet"
                    }
                },
                "NOT_ASSESSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NotAssessed"
                    }
                },
                "CHANGES_DETECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ChangesDetected"
                    }
                },
                "NOT_APPLICABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NotApplicable"
                    }
                },
                "MISSING_POLICY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MissingPolicy"
                    }
                }
            }
        },
        "com.amazonaws.resiliencehub#AppComponent": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.resiliencehub#EntityName255",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the Application Component.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.resiliencehub#String255",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of Application Component.</p>",
                        "smithy.api#required": {}
                    }
                },
                "id": {
                    "target": "com.amazonaws.resiliencehub#EntityName255",
                    "traits": {
                        "smithy.api#documentation": "<p>Identifier of the Application Component.</p>"
                    }
                },
                "additionalInfo": {
                    "target": "com.amazonaws.resiliencehub#AdditionalInfoMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional configuration parameters for an Resilience Hub application. If you want to implement <code>additionalInfo</code> through the Resilience Hub console rather than using an API call, see <a href=\"https://docs.aws.amazon.com/resilience-hub/latest/userguide/app-config-param.html\">Configure the application configuration parameters</a>.</p>\n         <note>\n            <p>Currently, this parameter accepts a key-value mapping (in a string format) of only one failover region and one associated account.</p>\n            <p>Key: <code>\"failover-regions\"</code>\n            </p>\n            <p>Value: <code>\"[{\"region\":\"&lt;REGION&gt;\", \"accounts\":[{\"id\":\"&lt;ACCOUNT_ID&gt;\"}]}]\"</code>\n            </p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines an Application Component.</p>"
            }
        },
        "com.amazonaws.resiliencehub#AppComponentCompliance": {
            "type": "structure",
            "members": {
                "cost": {
                    "target": "com.amazonaws.resiliencehub#Cost",
                    "traits": {
                        "smithy.api#documentation": "<p>The cost for the application.</p>"
                    }
                },
                "appComponentName": {
                    "target": "com.amazonaws.resiliencehub#EntityId",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the Application Component.</p>"
                    }
                },
                "compliance": {
                    "target": "com.amazonaws.resiliencehub#AssessmentCompliance",
                    "traits": {
                        "smithy.api#documentation": "<p>The compliance of the Application Component against the resiliency policy.</p>"
                    }
                },
                "message": {
                    "target": "com.amazonaws.resiliencehub#String500",
                    "traits": {
                        "smithy.api#documentation": "<p>The compliance message.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.resiliencehub#ComplianceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Status of the action.</p>"
                    }
                },
                "resiliencyScore": {
                    "target": "com.amazonaws.resiliencehub#ResiliencyScore",
                    "traits": {
                        "smithy.api#documentation": "<p>The current resiliency score for the application.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines the compliance of an Application Component against the resiliency policy.</p>"
            }
        },
        "com.amazonaws.resiliencehub#AppComponentList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.resiliencehub#AppComponent"
            }
        },
        "com.amazonaws.resiliencehub#AppComponentNameList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.resiliencehub#String255"
            }
        },
        "com.amazonaws.resiliencehub#AppDriftStatusType": {
            "type": "enum",
            "members": {
                "NOT_CHECKED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NotChecked"
                    }
                },
                "NOT_DETECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NotDetected"
                    }
                },
                "DETECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Detected"
                    }
                }
            }
        },
        "com.amazonaws.resiliencehub#AppInputSource": {
            "type": "structure",
            "members": {
                "sourceName": {
                    "target": "com.amazonaws.resiliencehub#String255",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the input source.</p>"
                    }
                },
                "importType": {
                    "target": "com.amazonaws.resiliencehub#ResourceMappingType",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource type of the input source.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sourceArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the input source. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>Amazon Web Services General Reference</i> guide.</p>"
                    }
                },
                "terraformSource": {
                    "target": "com.amazonaws.resiliencehub#TerraformSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Terraform s3 state ﬁle.</p>"
                    }
                },
                "resourceCount": {
                    "target": "com.amazonaws.resiliencehub#Integer",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The number of resources.</p>"
                    }
                },
                "eksSourceClusterNamespace": {
                    "target": "com.amazonaws.resiliencehub#EksSourceClusterNamespace",
                    "traits": {
                        "smithy.api#documentation": "<p>The namespace on your Amazon Elastic Kubernetes Service cluster.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The list of Resilience Hub application input sources.</p>"
            }
        },
        "com.amazonaws.resiliencehub#AppInputSourceList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.resiliencehub#AppInputSource"
            }
        },
        "com.amazonaws.resiliencehub#AppStatusType": {
            "type": "enum",
            "members": {
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Active"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Deleting"
                    }
                }
            }
        },
        "com.amazonaws.resiliencehub#AppSummary": {
            "type": "structure",
            "members": {
                "appArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>Amazon Web Services General Reference</i> guide.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.resiliencehub#EntityName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.resiliencehub#EntityDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The optional description for an app.</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.resiliencehub#TimeStamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Date and time when the app was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "complianceStatus": {
                    "target": "com.amazonaws.resiliencehub#AppComplianceStatusType",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of compliance for the resiliency policy.</p>"
                    }
                },
                "resiliencyScore": {
                    "target": "com.amazonaws.resiliencehub#Double",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The current resiliency score for the application.</p>"
                    }
                },
                "assessmentSchedule": {
                    "target": "com.amazonaws.resiliencehub#AppAssessmentScheduleType",
                    "traits": {
                        "smithy.api#documentation": "<p> Assessment execution schedule with 'Daily' or 'Disabled' values. </p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.resiliencehub#AppStatusType",
                    "traits": {
                        "smithy.api#documentation": "<p>Status of the application.</p>"
                    }
                },
                "driftStatus": {
                    "target": "com.amazonaws.resiliencehub#AppDriftStatusType",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates if compliance drifts (deviations) were detected while running an assessment for\n      your application.</p>"
                    }
                },
                "lastAppComplianceEvaluationTime": {
                    "target": "com.amazonaws.resiliencehub#TimeStamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Date and time of the most recent compliance evaluation.</p>"
                    }
                },
                "rtoInSecs": {
                    "target": "com.amazonaws.resiliencehub#IntegerOptional",
                    "traits": {
                        "smithy.api#documentation": "<p>Recovery Time Objective (RTO) in seconds.</p>"
                    }
                },
                "rpoInSecs": {
                    "target": "com.amazonaws.resiliencehub#IntegerOptional",
                    "traits": {
                        "smithy.api#documentation": "<p>Recovery Point Objective (RPO) in seconds.</p>"
                    }
                },
                "awsApplicationArn": {
                    "target": "com.amazonaws.resiliencehub#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of  Resource Groups group that is integrated with an AppRegistry application. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>Amazon Web Services General Reference</i> guide.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines an application summary.</p>"
            }
        },
        "com.amazonaws.resiliencehub#AppSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.resiliencehub#AppSummary"
            }
        },
        "com.amazonaws.resiliencehub#AppTemplateBody": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 409600
                },
                "smithy.api#pattern": "^[\\w\\s:,-\\.'\\/{}\\[\\]:\"\\\\]+$"
            }
        },
        "com.amazonaws.resiliencehub#AppVersionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.resiliencehub#AppVersionSummary"
            }
        },
        "com.amazonaws.resiliencehub#AppVersionSummary": {
            "type": "structure",
            "members": {
                "appVersion": {
                    "target": "com.amazonaws.resiliencehub#EntityVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>Version of an application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "identifier": {
                    "target": "com.amazonaws.resiliencehub#LongOptional",
                    "traits": {
                        "smithy.api#documentation": "<p>Identifier of the application version.</p>"
                    }
                },
                "creationTime": {
                    "target": "com.amazonaws.resiliencehub#TimeStamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Creation time of the application version.</p>"
                    }
                },
                "versionName": {
                    "target": "com.amazonaws.resiliencehub#EntityVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the application version.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Version of an application.</p>"
            }
        },
        "com.amazonaws.resiliencehub#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:(aws|aws-cn|aws-iso|aws-iso-[a-z]{1}|aws-us-gov):[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:([a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]):[0-9]{12}:[A-Za-z0-9/][A-Za-z0-9:_/+.-]{0,1023}$"
            }
        },
        "com.amazonaws.resiliencehub#ArnList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.resiliencehub#Arn"
            }
        },
        "com.amazonaws.resiliencehub#AssessmentCompliance": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.resiliencehub#DisruptionType"
            },
            "value": {
                "target": "com.amazonaws.resiliencehub#DisruptionCompliance"
            }
        },
        "com.amazonaws.resiliencehub#AssessmentInvoker": {
            "type": "enum",
            "members": {
                "USER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "User"
                    }
                },
                "SYSTEM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "System"
                    }
                }
            }
        },
        "com.amazonaws.resiliencehub#AssessmentRiskRecommendation": {
            "type": "structure",
            "members": {
                "risk": {
                    "target": "com.amazonaws.resiliencehub#String255",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates the description of the potential risk identified in the application as part of the Resilience Hub assessment.</p>\n         <note>\n            <p>This property is available only in the US East (N. Virginia) Region.</p>\n         </note>"
                    }
                },
                "recommendation": {
                    "target": "com.amazonaws.resiliencehub#String255",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates the recommendation provided by the Resilience Hub to address the identified\n      risks in the application.</p>\n         <note>\n            <p>This property is available only in the US East (N. Virginia) Region.</p>\n         </note>"
                    }
                },
                "appComponents": {
                    "target": "com.amazonaws.resiliencehub#AppComponentNameList",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates the Application Components (AppComponents) that were assessed as part of the\n      assessment and are associated with the identified risk and recommendation.</p>\n         <note>\n            <p>This property is available only in the US East (N. Virginia) Region.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Indicates a specific risk identified in the Resilience Hub assessment and the corresponding recommendation provided to address that risk.</p>\n         <note>\n            <p>The assessment summary generated by large language models (LLMs) on Amazon Bedrock are only suggestions. \n        The current level of generative AI technology is not perfect and LLMs are not infallible. \n        Bias and incorrect answers, although rare, should be expected. Review each recommendation in the assessment summary before you use the output from an LLM.\n      </p>\n         </note>\n         <note>\n            <p>This property is available only in the US East (N. Virginia) Region.</p>\n         </note>"
            }
        },
        "com.amazonaws.resiliencehub#AssessmentRiskRecommendationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.resiliencehub#AssessmentRiskRecommendation"
            }
        },
        "com.amazonaws.resiliencehub#AssessmentStatus": {
            "type": "enum",
            "members": {
                "PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Pending"
                    }
                },
                "INPROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "InProgress"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Failed"
                    }
                },
                "SUCCESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Success"
                    }
                }
            }
        },
        "com.amazonaws.resiliencehub#AssessmentStatusList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.resiliencehub#AssessmentStatus"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.resiliencehub#AssessmentSummary": {
            "type": "structure",
            "members": {
                "summary": {
                    "target": "com.amazonaws.resiliencehub#String500",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates a concise summary that provides an overview of the Resilience Hub assessment.</p>\n         <note>\n            <p>This property is available only in the US East (N. Virginia) Region.</p>\n         </note>"
                    }
                },
                "riskRecommendations": {
                    "target": "com.amazonaws.resiliencehub#AssessmentRiskRecommendationList",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates the top risks and recommendations identified by the Resilience Hub assessment, \n      each representing a specific risk and the corresponding recommendation to address it.</p>\n         <note>\n            <p>This property is available only in the US East (N. Virginia) Region.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Indicates the AI-generated summary for the Resilience Hub assessment, providing a concise overview that highlights the top risks and recommendations.</p>\n         <note>\n            <p>This property is available only in the US East (N. Virginia) Region.</p>\n         </note>"
            }
        },
        "com.amazonaws.resiliencehub#AwsRegion": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]$"
            }
        },
        "com.amazonaws.resiliencehub#AwsResilienceHub": {
            "type": "service",
            "version": "2020-04-30",
            "operations": [
                {
                    "target": "com.amazonaws.resiliencehub#AcceptResourceGroupingRecommendations"
                },
                {
                    "target": "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappings"
                },
                {
                    "target": "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatus"
                },
                {
                    "target": "com.amazonaws.resiliencehub#CreateApp"
                },
                {
                    "target": "com.amazonaws.resiliencehub#CreateAppVersionAppComponent"
                },
                {
                    "target": "com.amazonaws.resiliencehub#CreateAppVersionResource"
                },
                {
                    "target": "com.amazonaws.resiliencehub#CreateRecommendationTemplate"
                },
                {
                    "target": "com.amazonaws.resiliencehub#CreateResiliencyPolicy"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DeleteApp"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DeleteAppAssessment"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DeleteAppInputSource"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DeleteAppVersionAppComponent"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DeleteAppVersionResource"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DeleteRecommendationTemplate"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DeleteResiliencyPolicy"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DescribeApp"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DescribeAppAssessment"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DescribeAppVersion"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DescribeAppVersionAppComponent"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DescribeAppVersionResource"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DescribeAppVersionResourcesResolutionStatus"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DescribeAppVersionTemplate"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DescribeDraftAppVersionResourcesImportStatus"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DescribeMetricsExport"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DescribeResiliencyPolicy"
                },
                {
                    "target": "com.amazonaws.resiliencehub#DescribeResourceGroupingRecommendationTask"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ImportResourcesToDraftAppVersion"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListAlarmRecommendations"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListAppAssessmentComplianceDrifts"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListAppAssessmentResourceDrifts"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListAppAssessments"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListAppComponentCompliances"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListAppComponentRecommendations"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListAppInputSources"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListApps"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListAppVersionAppComponents"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListAppVersionResourceMappings"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListAppVersionResources"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListAppVersions"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListMetrics"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListRecommendationTemplates"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListResiliencyPolicies"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListResourceGroupingRecommendations"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListSopRecommendations"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListSuggestedResiliencyPolicies"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListTestRecommendations"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ListUnsupportedAppVersionResources"
                },
                {
                    "target": "com.amazonaws.resiliencehub#PublishAppVersion"
                },
                {
                    "target": "com.amazonaws.resiliencehub#PutDraftAppVersionTemplate"
                },
                {
                    "target": "com.amazonaws.resiliencehub#RejectResourceGroupingRecommendations"
                },
                {
                    "target": "com.amazonaws.resiliencehub#RemoveDraftAppVersionResourceMappings"
                },
                {
                    "target": "com.amazonaws.resiliencehub#ResolveAppVersionResources"
                },
                {
                    "target": "com.amazonaws.resiliencehub#StartAppAssessment"
                },
                {
                    "target": "com.amazonaws.resiliencehub#StartMetricsExport"
                },
                {
                    "target": "com.amazonaws.resiliencehub#StartResourceGroupingRecommendationTask"
                },
                {
                    "target": "com.amazonaws.resiliencehub#TagResource"
                },
                {
                    "target": "com.amazonaws.resiliencehub#UntagResource"
                },
                {
                    "target": "com.amazonaws.resiliencehub#UpdateApp"
                },
                {
                    "target": "com.amazonaws.resiliencehub#UpdateAppVersion"
                },
                {
                    "target": "com.amazonaws.resiliencehub#UpdateAppVersionAppComponent"
                },
                {
                    "target": "com.amazonaws.resiliencehub#UpdateAppVersionResource"
                },
                {
                    "target": "com.amazonaws.resiliencehub#UpdateResiliencyPolicy"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "resiliencehub",
                    "arnNamespace": "resiliencehub",
                    "cloudFormationName": "Resiliencehub",
                    "endpointPrefix": "resiliencehub"
                },
                "aws.auth#sigv4": {
                    "name": "resiliencehub"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "additionalAllowedHeaders": [
                        "*,authorization,date,x-amz-date,x-amz-security-token,x-amz-target,content-type,x-amz-content-sha256,x-amz-user-agent,x-amzn-platform-id,x-amzn-trace-id,amz-sdk-invocation-id,amz-sdk-request"
                    ]
                },
                "smithy.api#documentation": "<p>Resilience Hub helps you proactively prepare and protect your Amazon Web Services applications from\n      disruptions. It offers continual resiliency assessment and validation that integrates\n      into your software development lifecycle. This enables you to uncover resiliency weaknesses,\n      ensure recovery time objective (RTO) and recovery point objective (RPO) targets for your\n      applications are met, and resolve issues before they are released into production. </p>",
                "smithy.api#title": "AWS Resilience Hub",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://resiliencehub-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://resiliencehub-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://resiliencehub.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://resiliencehub.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://resiliencehub.af-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "af-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://resiliencehub.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://resiliencehub.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://resiliencehub.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://resiliencehub.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://resiliencehub.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://resiliencehub.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://resiliencehub.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://resiliencehub.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://resiliencehub.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://resiliencehub.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://resiliencehub.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://resiliencehub.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
[...]
