{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.robomaker#Architecture": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "X86_64",
            "name": "X86_64"
          },
          {
            "value": "ARM64",
            "name": "ARM64"
          },
          {
            "value": "ARMHF",
            "name": "ARMHF"
          }
        ]
      }
    },
    "com.amazonaws.robomaker#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1224
        },
        "smithy.api#pattern": "arn:.*"
      }
    },
    "com.amazonaws.robomaker#Arns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.robomaker#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.robomaker#BatchDescribeSimulationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#BatchDescribeSimulationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#BatchDescribeSimulationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes one or more simulation jobs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/batchDescribeSimulationJob",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#BatchDescribeSimulationJobRequest": {
      "type": "structure",
      "members": {
        "jobs": {
          "target": "com.amazonaws.robomaker#Arns",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Resource Names (ARNs) of simulation jobs to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#BatchDescribeSimulationJobResponse": {
      "type": "structure",
      "members": {
        "jobs": {
          "target": "com.amazonaws.robomaker#SimulationJobs",
          "traits": {
            "smithy.api#documentation": "<p>A list of simulation jobs.</p>"
          }
        },
        "unprocessedJobs": {
          "target": "com.amazonaws.robomaker#Arns",
          "traits": {
            "smithy.api#documentation": "<p>A list of unprocessed simulation job Amazon Resource Names (ARNs).</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#BatchPolicy": {
      "type": "structure",
      "members": {
        "timeoutInSeconds": {
          "target": "com.amazonaws.robomaker#BatchTimeoutInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, to wait for the batch to complete. \n        \n      </p>\n         <p>If a batch times out, and there are pending requests that \n      were failing due to an internal failure (like <code>InternalServiceError</code>), \n      they will be moved to the \n      failed list and the batch status will be <code>Failed</code>.\n      If the pending requests were failing for any other reason, \n      the failed pending requests will be moved to the failed list \n      and the batch status will be <code>TimedOut</code>.\n      </p>"
          }
        },
        "maxConcurrency": {
          "target": "com.amazonaws.robomaker#MaxConcurrency",
          "traits": {
            "smithy.api#documentation": "<p>The number of active simulation jobs create as part of the batch that \n         can be in an active state at the same time. \n      </p>\n         <p>Active states include: <code>Pending</code>,<code>Preparing</code>, \n         <code>Running</code>, <code>Restarting</code>, <code>RunningFailed</code> and\n         <code>Terminating</code>. All other states are terminal states.  \n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the batch policy.</p>"
      }
    },
    "com.amazonaws.robomaker#BatchTimeoutInSeconds": {
      "type": "long",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.robomaker#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.robomaker#BoxedBoolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.robomaker#CancelDeploymentJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#CancelDeploymentJobRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#CancelDeploymentJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the specified deployment job.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cancelDeploymentJob",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#CancelDeploymentJobRequest": {
      "type": "structure",
      "members": {
        "job": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The deployment job ARN to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#CancelDeploymentJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.robomaker#CancelSimulationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#CancelSimulationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#CancelSimulationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the specified simulation job.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cancelSimulationJob",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#CancelSimulationJobBatch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#CancelSimulationJobBatchRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#CancelSimulationJobBatchResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a simulation job batch. When you cancel a simulation job batch,\n      you are also cancelling all of the active simulation jobs created as part of\n      the batch.\n      </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cancelSimulationJobBatch",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#CancelSimulationJobBatchRequest": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The id of the batch to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#CancelSimulationJobBatchResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.robomaker#CancelSimulationJobRequest": {
      "type": "structure",
      "members": {
        "job": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The simulation job ARN to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#CancelSimulationJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.robomaker#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "[a-zA-Z0-9_\\-=]*"
      }
    },
    "com.amazonaws.robomaker#Command": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.\\-]*"
      }
    },
    "com.amazonaws.robomaker#Compute": {
      "type": "structure",
      "members": {
        "simulationUnitLimit": {
          "target": "com.amazonaws.robomaker#SimulationUnit",
          "traits": {
            "smithy.api#documentation": "<p>The simulation unit limit. Your simulation is allocated CPU and memory \n        proportional to the supplied simulation unit limit. A simulation\n        unit is 1 vcpu and 2GB of memory. You are only billed\n        for the SU utilization you consume up to the maximim value provided.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Compute information for the simulation job.</p>"
      }
    },
    "com.amazonaws.robomaker#ComputeResponse": {
      "type": "structure",
      "members": {
        "simulationUnitLimit": {
          "target": "com.amazonaws.robomaker#SimulationUnit",
          "traits": {
            "smithy.api#documentation": "<p>The simulation unit limit. Your simulation is allocated CPU and memory \n        proportional to the supplied simulation unit limit. A simulation\n        unit is 1 vcpu and 2GB of memory. You are only billed\n        for the SU utilization you consume up to the maximim value provided.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Compute information for the simulation job</p>"
      }
    },
    "com.amazonaws.robomaker#ConcurrentDeploymentException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.robomaker#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The failure percentage threshold percentage was met.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.robomaker#CreateDeploymentJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#CreateDeploymentJobRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#CreateDeploymentJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#ConcurrentDeploymentException"
        },
        {
          "target": "com.amazonaws.robomaker#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#LimitExceededException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deploys a specific version of a robot application to robots in a fleet.</p>\n         <p>The robot application must have a numbered <code>applicationVersion</code> \n         for consistency reasons. To create a new version, use <code>CreateRobotApplicationVersion</code>\n         or see <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/create-robot-application-version.html\">Creating a Robot Application Version</a>.\n      </p>\n         <note>\n            <p>After 90 days, deployment jobs expire and will be deleted. They will no longer be accessible.\n         </p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createDeploymentJob",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#CreateDeploymentJobRequest": {
      "type": "structure",
      "members": {
        "deploymentConfig": {
          "target": "com.amazonaws.robomaker#DeploymentConfig",
          "traits": {
            "smithy.api#documentation": "<p>The requested deployment configuration.</p>"
          }
        },
        "fleet": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the fleet to deploy.</p>",
            "smithy.api#required": {}
          }
        },
        "deploymentApplicationConfigs": {
          "target": "com.amazonaws.robomaker#DeploymentApplicationConfigs",
          "traits": {
            "smithy.api#documentation": "<p>The deployment application configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.robomaker#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A map that contains tag keys and tag values that are attached to the deployment job.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateDeploymentJobResponse": {
      "type": "structure",
      "members": {
        "deploymentApplicationConfigs": {
          "target": "com.amazonaws.robomaker#DeploymentApplicationConfigs",
          "traits": {
            "smithy.api#documentation": "<p>The deployment application configuration.</p>"
          }
        },
        "failureCode": {
          "target": "com.amazonaws.robomaker#DeploymentJobErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The failure code of the simulation job if it failed:</p>\n         <dl>\n            <dt>BadPermissionError</dt>\n            <dd>\n\n               <p>AWS Greengrass requires a service-level role permission to access\n                  other services. The role must include the \n                  <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSGreengrassResourceAccessRolePolicy$jsonEditor\">\n                     <code>AWSGreengrassResourceAccessRolePolicy</code> \n                     managed policy</a>.\n               </p>\n            </dd>\n            <dt>ExtractingBundleFailure</dt>\n            <dd>\n               <p>The robot application could not be extracted from the bundle.</p>\n            </dd>\n            <dt>FailureThresholdBreached</dt>\n            <dd>\n               <p>The percentage of robots that could not be updated exceeded the percentage\n                  set for the deployment.</p>\n            </dd>\n            <dt>GreengrassDeploymentFailed</dt>\n            <dd>\n               <p>The robot application could not be deployed to the robot.</p>\n            </dd>\n            <dt>GreengrassGroupVersionDoesNotExist</dt>\n            <dd>\n               <p>The AWS Greengrass group or version associated with a robot is missing.</p>\n            </dd>\n            <dt>InternalServerError</dt>\n            <dd>\n               <p>An internal error has occurred. Retry your request, but if the problem persists, \n                  contact us with details.</p>\n            </dd>\n            <dt>MissingRobotApplicationArchitecture</dt>\n            <dd>\n               <p>The robot application does not have a source that matches the architecture of the robot.</p>\n            </dd>\n            <dt>MissingRobotDeploymentResource</dt>\n            <dd>\n               <p>One or more of the resources specified for the robot application are missing. For\n               example, does the robot application have the correct launch package and launch file?</p>\n            </dd>\n            <dt>PostLaunchFileFailure</dt>\n            <dd>\n               <p>The post-launch script failed.</p>\n            </dd>\n            <dt>PreLaunchFileFailure</dt>\n            <dd>\n               <p>The pre-launch script failed.</p>\n            </dd>\n            <dt>ResourceNotFound</dt>\n            <dd>\n               <p>One or more deployment resources are missing. For example, do robot application \n                  source bundles still exist? </p>\n            </dd>\n            <dt>RobotDeploymentNoResponse</dt>\n            <dd>\n               <p>There is no response from the robot. It might not be powered on or \n               connected to the internet.</p>\n            </dd>\n         </dl>"
          }
        },
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of all tags added to the deployment job.</p>"
          }
        },
        "deploymentConfig": {
          "target": "com.amazonaws.robomaker#DeploymentConfig",
          "traits": {
            "smithy.api#documentation": "<p>The deployment configuration.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.robomaker#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the fleet was created.</p>"
          }
        },
        "fleet": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The target fleet for the deployment job.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.robomaker#DeploymentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the deployment job.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deployment job.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.robomaker#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The failure reason of the deployment job if it failed.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#CreateFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#CreateFleetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#LimitExceededException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a fleet, a logical group of robots running the same robot application.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createFleet",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#CreateFleetRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A map that contains tag keys and tag values that are attached to the fleet.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateFleetResponse": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "com.amazonaws.robomaker#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the fleet was created.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of all tags added to the fleet.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateRobot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#CreateRobotRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#CreateRobotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#LimitExceededException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a robot.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createRobot",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#CreateRobotApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#CreateRobotApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#CreateRobotApplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#LimitExceededException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a robot application.\n      </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createRobotApplication",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#CreateRobotApplicationRequest": {
      "type": "structure",
      "members": {
        "robotSoftwareSuite": {
          "target": "com.amazonaws.robomaker#RobotSoftwareSuite",
          "traits": {
            "smithy.api#documentation": "<p>The robot software suite (ROS distribuition) used by the robot application.</p>",
            "smithy.api#required": {}
          }
        },
        "sources": {
          "target": "com.amazonaws.robomaker#SourceConfigs",
          "traits": {
            "smithy.api#documentation": "<p>The sources of the robot application.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A map that contains tag keys and tag values that are attached to the robot application.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the robot application.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateRobotApplicationResponse": {
      "type": "structure",
      "members": {
        "robotSoftwareSuite": {
          "target": "com.amazonaws.robomaker#RobotSoftwareSuite",
          "traits": {
            "smithy.api#documentation": "<p>The robot software suite (ROS distribution) used by the robot application.</p>"
          }
        },
        "sources": {
          "target": "com.amazonaws.robomaker#Sources",
          "traits": {
            "smithy.api#documentation": "<p>The sources of the robot application.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.robomaker#LastUpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the robot application was last updated.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the robot application.</p>"
          }
        },
        "revisionId": {
          "target": "com.amazonaws.robomaker#RevisionId",
          "traits": {
            "smithy.api#documentation": "<p>The revision id of the robot application.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.robomaker#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the robot application.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of all tags added to the robot application.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the robot application.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateRobotApplicationVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#CreateRobotApplicationVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#CreateRobotApplicationVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#LimitExceededException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a version of a robot application.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createRobotApplicationVersion",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#CreateRobotApplicationVersionRequest": {
      "type": "structure",
      "members": {
        "application": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The application information for the robot application.</p>",
            "smithy.api#required": {}
          }
        },
        "currentRevisionId": {
          "target": "com.amazonaws.robomaker#RevisionId",
          "traits": {
            "smithy.api#documentation": "<p>The current revision id for the robot application. If you provide a value and it\n        matches the latest revision ID, a new version will be created.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateRobotApplicationVersionResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the robot application.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.robomaker#LastUpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the robot application was last updated.</p>"
          }
        },
        "robotSoftwareSuite": {
          "target": "com.amazonaws.robomaker#RobotSoftwareSuite",
          "traits": {
            "smithy.api#documentation": "<p>The robot software suite (ROS distribution) used by the robot application.</p>"
          }
        },
        "sources": {
          "target": "com.amazonaws.robomaker#Sources",
          "traits": {
            "smithy.api#documentation": "<p>The sources of the robot application.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.robomaker#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the robot application.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the robot application.</p>"
          }
        },
        "revisionId": {
          "target": "com.amazonaws.robomaker#RevisionId",
          "traits": {
            "smithy.api#documentation": "<p>The revision id of the robot application.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateRobotRequest": {
      "type": "structure",
      "members": {
        "greengrassGroupId": {
          "target": "com.amazonaws.robomaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The Greengrass group id.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the robot.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A map that contains tag keys and tag values that are attached to the robot.</p>"
          }
        },
        "architecture": {
          "target": "com.amazonaws.robomaker#Architecture",
          "traits": {
            "smithy.api#documentation": "<p>The target architecture of the robot.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateRobotResponse": {
      "type": "structure",
      "members": {
        "architecture": {
          "target": "com.amazonaws.robomaker#Architecture",
          "traits": {
            "smithy.api#documentation": "<p>The target architecture of the robot.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the robot.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.robomaker#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the robot was created.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of all tags added to the robot.</p>"
          }
        },
        "greengrassGroupId": {
          "target": "com.amazonaws.robomaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Greengrass group associated with the robot.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the robot.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateSimulationApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#CreateSimulationApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#CreateSimulationApplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#LimitExceededException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a simulation application.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createSimulationApplication",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#CreateSimulationApplicationRequest": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A map that contains tag keys and tag values that are attached to the simulation application.</p>"
          }
        },
        "renderingEngine": {
          "target": "com.amazonaws.robomaker#RenderingEngine",
          "traits": {
            "smithy.api#documentation": "<p>The rendering engine for the simulation application.</p>"
          }
        },
        "simulationSoftwareSuite": {
          "target": "com.amazonaws.robomaker#SimulationSoftwareSuite",
          "traits": {
            "smithy.api#documentation": "<p>The simulation software suite used by the simulation application.</p>",
            "smithy.api#required": {}
          }
        },
        "sources": {
          "target": "com.amazonaws.robomaker#SourceConfigs",
          "traits": {
            "smithy.api#documentation": "<p>The sources of the simulation application.</p>",
            "smithy.api#required": {}
          }
        },
        "robotSoftwareSuite": {
          "target": "com.amazonaws.robomaker#RobotSoftwareSuite",
          "traits": {
            "smithy.api#documentation": "<p>The robot software suite (ROS distribution) used by the simulation application.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the simulation application.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateSimulationApplicationResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of all tags added to the simulation application.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the simulation application.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.robomaker#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the simulation application.</p>"
          }
        },
        "revisionId": {
          "target": "com.amazonaws.robomaker#RevisionId",
          "traits": {
            "smithy.api#documentation": "<p>The revision id of the simulation application.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the simulation application.</p>"
          }
        },
        "simulationSoftwareSuite": {
          "target": "com.amazonaws.robomaker#SimulationSoftwareSuite",
          "traits": {
            "smithy.api#documentation": "<p>The simulation software suite used by the simulation application.</p>"
          }
        },
        "robotSoftwareSuite": {
          "target": "com.amazonaws.robomaker#RobotSoftwareSuite",
          "traits": {
            "smithy.api#documentation": "<p>Information about the robot software suite (ROS distribution).</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.robomaker#LastUpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the simulation application was last updated.</p>"
          }
        },
        "renderingEngine": {
          "target": "com.amazonaws.robomaker#RenderingEngine",
          "traits": {
            "smithy.api#documentation": "<p>The rendering engine for the simulation application.</p>"
          }
        },
        "sources": {
          "target": "com.amazonaws.robomaker#Sources",
          "traits": {
            "smithy.api#documentation": "<p>The sources of the simulation application.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateSimulationApplicationVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#CreateSimulationApplicationVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#CreateSimulationApplicationVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#LimitExceededException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a simulation application with a specific revision id.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createSimulationApplicationVersion",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#CreateSimulationApplicationVersionRequest": {
      "type": "structure",
      "members": {
        "currentRevisionId": {
          "target": "com.amazonaws.robomaker#RevisionId",
          "traits": {
            "smithy.api#documentation": "<p>The current revision id for the simulation application. If you provide a value and it\n        matches the latest revision ID, a new version will be created.</p>"
          }
        },
        "application": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The application information for the simulation application.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateSimulationApplicationVersionResponse": {
      "type": "structure",
      "members": {
        "renderingEngine": {
          "target": "com.amazonaws.robomaker#RenderingEngine",
          "traits": {
            "smithy.api#documentation": "<p>The rendering engine for the simulation application.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.robomaker#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the simulation application.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the simulation application.</p>"
          }
        },
        "robotSoftwareSuite": {
          "target": "com.amazonaws.robomaker#RobotSoftwareSuite",
          "traits": {
            "smithy.api#documentation": "<p>Information about the robot software suite (ROS distribution).</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the simulation application.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.robomaker#LastUpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the simulation application was last updated.</p>"
          }
        },
        "sources": {
          "target": "com.amazonaws.robomaker#Sources",
          "traits": {
            "smithy.api#documentation": "<p>The sources of the simulation application.</p>"
          }
        },
        "revisionId": {
          "target": "com.amazonaws.robomaker#RevisionId",
          "traits": {
            "smithy.api#documentation": "<p>The revision ID of the simulation application.</p>"
          }
        },
        "simulationSoftwareSuite": {
          "target": "com.amazonaws.robomaker#SimulationSoftwareSuite",
          "traits": {
            "smithy.api#documentation": "<p>The simulation software suite used by the simulation application.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateSimulationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#CreateSimulationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#CreateSimulationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#LimitExceededException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.robomaker#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a simulation job.</p>\n         <note>\n            <p>After 90 days, simulation jobs expire and will be deleted. They will no longer be accessible.\n         </p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createSimulationJob",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#CreateSimulationJobRequest": {
      "type": "structure",
      "members": {
        "dataSources": {
          "target": "com.amazonaws.robomaker#DataSourceConfigs",
          "traits": {
            "smithy.api#documentation": "<p>Specify data sources to mount read-only files from S3 into your simulation. These files are \n        available under <code>/opt/robomaker/datasources/data_source_name</code>.\n      </p>\n         <note>\n            <p>There is a limit of 100 files and a combined size of 25GB for all\n            <code>DataSourceConfig</code> objects.  \n         </p>\n         </note>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.robomaker#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "maxJobDurationInSeconds": {
          "target": "com.amazonaws.robomaker#JobDuration",
          "traits": {
            "smithy.api#documentation": "<p>The maximum simulation job duration in seconds (up to 14 days or 1,209,600 seconds.\n         When <code>maxJobDurationInSeconds</code> is reached, the simulation job will status will transition to \n         <code>Completed</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "outputLocation": {
          "target": "com.amazonaws.robomaker#OutputLocation",
          "traits": {
            "smithy.api#documentation": "<p>Location for output files generated by the simulation job.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A map that contains tag keys and tag values that are attached to the simulation job.</p>"
          }
        },
        "iamRole": {
          "target": "com.amazonaws.robomaker#IamRole",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role name that allows the simulation instance to call the AWS APIs that \n         are specified in its associated policies on your behalf. This is how credentials are passed in to your \n         simulation job. \n      </p>",
            "smithy.api#required": {}
          }
        },
        "loggingConfig": {
          "target": "com.amazonaws.robomaker#LoggingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The logging configuration.</p>"
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.robomaker#VPCConfig",
          "traits": {
            "smithy.api#documentation": "<p>If your simulation job accesses resources in a VPC, you provide this parameter identifying the list of security group IDs and subnet IDs. \n         These must belong to the same VPC. You must provide at least one security group and one subnet ID. </p>"
          }
        },
        "failureBehavior": {
          "target": "com.amazonaws.robomaker#FailureBehavior",
          "traits": {
            "smithy.api#documentation": "<p>The failure behavior the simulation job.</p>\n         <dl>\n            <dt>Continue</dt>\n            <dd>\n               <p>Restart the simulation job in the same host instance.</p>\n            </dd>\n            <dt>Fail</dt>\n            <dd>\n               <p>Stop the simulation job and terminate the instance.</p>\n            </dd>\n         </dl>"
          }
        },
        "robotApplications": {
          "target": "com.amazonaws.robomaker#RobotApplicationConfigs",
          "traits": {
            "smithy.api#documentation": "<p>The robot application to use in the simulation job.</p>"
          }
        },
        "simulationApplications": {
          "target": "com.amazonaws.robomaker#SimulationApplicationConfigs",
          "traits": {
            "smithy.api#documentation": "<p>The simulation application to use in the simulation job.</p>"
          }
        },
        "compute": {
          "target": "com.amazonaws.robomaker#Compute",
          "traits": {
            "smithy.api#documentation": "<p>Compute information for the simulation job.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreateSimulationJobRequests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.robomaker#SimulationJobRequest"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.robomaker#CreateSimulationJobResponse": {
      "type": "structure",
      "members": {
        "outputLocation": {
          "target": "com.amazonaws.robomaker#OutputLocation",
          "traits": {
            "smithy.api#documentation": "<p>Simulation job output files location.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.robomaker#LastUpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the simulation job was last updated.</p>"
          }
        },
        "failureCode": {
          "target": "com.amazonaws.robomaker#SimulationJobErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The failure code of the simulation job if it failed:</p>\n         <dl>\n            <dt>InternalServiceError</dt>\n            <dd>\n               <p>Internal service error.</p>\n            </dd>\n            <dt>RobotApplicationCrash</dt>\n            <dd>\n               <p>Robot application exited abnormally.</p>\n            </dd>\n            <dt>SimulationApplicationCrash</dt>\n            <dd>\n               <p> Simulation application exited abnormally.</p>\n            </dd>\n            <dt>BadPermissionsRobotApplication</dt>\n            <dd>\n               <p>Robot application bundle could not be downloaded.</p>\n            </dd>\n            <dt>BadPermissionsSimulationApplication</dt>\n            <dd>\n               <p>Simulation application bundle could not be downloaded.</p>\n            </dd>\n            <dt>BadPermissionsS3Output</dt>\n            <dd>\n               <p>Unable to publish outputs to customer-provided S3 bucket.</p>\n            </dd>\n            <dt>BadPermissionsCloudwatchLogs</dt>\n            <dd>\n               <p>Unable to publish logs to customer-provided CloudWatch Logs resource.</p>\n            </dd>\n            <dt>SubnetIpLimitExceeded</dt>\n            <dd>\n               <p>Subnet IP limit exceeded.</p>\n            </dd>\n            <dt>ENILimitExceeded</dt>\n            <dd>\n               <p>ENI limit exceeded.</p>\n            </dd>\n            <dt>BadPermissionsUserCredentials</dt>\n            <dd>\n               <p>Unable to use the Role provided.</p>\n            </dd>\n            <dt>InvalidBundleRobotApplication</dt>\n            <dd>\n               <p>Robot bundle cannot be extracted (invalid format, bundling error, or other issue).</p>\n            </dd>\n            <dt>InvalidBundleSimulationApplication</dt>\n            <dd>\n               <p>Simulation bundle cannot be extracted (invalid format, bundling error, or other issue).</p>\n            </dd>\n            <dt>RobotApplicationVersionMismatchedEtag</dt>\n            <dd>\n               <p>Etag for RobotApplication does not match value during version creation.</p>\n            </dd>\n            <dt>SimulationApplicationVersionMismatchedEtag</dt>\n            <dd>\n               <p>Etag for SimulationApplication does not match value during version creation.</p>\n            </dd>\n         </dl>"
          }
        },
        "simulationApplications": {
          "target": "com.amazonaws.robomaker#SimulationApplicationConfigs",
          "traits": {
            "smithy.api#documentation": "<p>The simulation application used by the simulation job.</p>"
          }
        },
        "lastStartedAt": {
          "target": "com.amazonaws.robomaker#LastStartedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the simulation job was last started.</p>"
          }
        },
        "failureBehavior": {
          "target": "com.amazonaws.robomaker#FailureBehavior",
          "traits": {
            "smithy.api#documentation": "<p>the failure behavior for the simulation job.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the simulation job.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.robomaker#SimulationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the simulation job.</p>"
          }
        },
        "robotApplications": {
          "target": "com.amazonaws.robomaker#RobotApplicationConfigs",
          "traits": {
            "smithy.api#documentation": "<p>The robot application used by the simulation job.</p>"
          }
        },
        "dataSources": {
          "target": "com.amazonaws.robomaker#DataSources",
          "traits": {
            "smithy.api#documentation": "<p>The data sources for the simulation job.</p>"
          }
        },
        "compute": {
          "target": "com.amazonaws.robomaker#ComputeResponse",
          "traits": {
            "smithy.api#documentation": "<p>Compute information for the simulation job.</p>"
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.robomaker#VPCConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>Information about the vpc configuration.</p>"
          }
        },
        "iamRole": {
          "target": "com.amazonaws.robomaker#IamRole",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role that allows the simulation job to call the AWS APIs that \n         are specified in its associated policies on your behalf.</p>"
          }
        },
        "simulationTimeMillis": {
          "target": "com.amazonaws.robomaker#SimulationTimeMillis",
          "traits": {
            "smithy.api#documentation": "<p>The simulation job execution duration in milliseconds.</p>"
          }
        },
        "loggingConfig": {
          "target": "com.amazonaws.robomaker#LoggingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The logging configuration.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.robomaker#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of all tags added to the simulation job.</p>"
          }
        },
        "maxJobDurationInSeconds": {
          "target": "com.amazonaws.robomaker#JobDuration",
          "traits": {
            "smithy.api#documentation": "<p>The maximum simulation job duration in seconds.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#CreatedAt": {
      "type": "timestamp"
    },
    "com.amazonaws.robomaker#DataSource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>"
          }
        },
        "s3Bucket": {
          "target": "com.amazonaws.robomaker#S3Bucket",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket where the data files are located.</p>"
          }
        },
        "s3Keys": {
          "target": "com.amazonaws.robomaker#S3KeyOutputs",
          "traits": {
            "smithy.api#documentation": "<p>The list of S3 keys identifying the data source files.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a data source.</p>"
      }
    },
    "com.amazonaws.robomaker#DataSourceConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "s3Bucket": {
          "target": "com.amazonaws.robomaker#S3Bucket",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket where the data files are located.</p>",
            "smithy.api#required": {}
          }
        },
        "s3Keys": {
          "target": "com.amazonaws.robomaker#S3Keys",
          "traits": {
            "smithy.api#documentation": "<p>The list of S3 keys identifying the data source files.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a data source.</p>"
      }
    },
    "com.amazonaws.robomaker#DataSourceConfigs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.robomaker#DataSourceConfig"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.robomaker#DataSourceNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.robomaker#Name"
      }
    },
    "com.amazonaws.robomaker#DataSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.robomaker#DataSource"
      }
    },
    "com.amazonaws.robomaker#DeleteFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#DeleteFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#DeleteFleetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a fleet.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deleteFleet",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#DeleteFleetRequest": {
      "type": "structure",
      "members": {
        "fleet": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#DeleteFleetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.robomaker#DeleteRobot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#DeleteRobotRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#DeleteRobotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a robot.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deleteRobot",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#DeleteRobotApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#DeleteRobotApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#DeleteRobotApplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a robot application.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deleteRobotApplication",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#DeleteRobotApplicationRequest": {
      "type": "structure",
      "members": {
        "applicationVersion": {
          "target": "com.amazonaws.robomaker#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the robot application to delete.</p>"
          }
        },
        "application": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the the robot application.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#DeleteRobotApplicationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.robomaker#DeleteRobotRequest": {
      "type": "structure",
      "members": {
        "robot": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the robot.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#DeleteRobotResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.robomaker#DeleteSimulationApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#DeleteSimulationApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#DeleteSimulationApplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a simulation application.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deleteSimulationApplication",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#DeleteSimulationApplicationRequest": {
      "type": "structure",
      "members": {
        "application": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The application information for the simulation application to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "applicationVersion": {
          "target": "com.amazonaws.robomaker#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the simulation application to delete.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#DeleteSimulationApplicationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.robomaker#DeploymentApplicationConfig": {
      "type": "structure",
      "members": {
        "application": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the robot application.</p>",
            "smithy.api#required": {}
          }
        },
        "launchConfig": {
          "target": "com.amazonaws.robomaker#DeploymentLaunchConfig",
          "traits": {
            "smithy.api#documentation": "<p>The launch configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "applicationVersion": {
          "target": "com.amazonaws.robomaker#DeploymentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a deployment application configuration.</p>"
      }
    },
    "com.amazonaws.robomaker#DeploymentApplicationConfigs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.robomaker#DeploymentApplicationConfig"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.robomaker#DeploymentConfig": {
      "type": "structure",
      "members": {
        "failureThresholdPercentage": {
          "target": "com.amazonaws.robomaker#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of deployments that need to fail before stopping deployment.</p>"
          }
        },
        "downloadConditionFile": {
          "target": "com.amazonaws.robomaker#S3Object",
          "traits": {
            "smithy.api#documentation": "<p>The download condition file.</p>"
          }
        },
        "robotDeploymentTimeoutInSeconds": {
          "target": "com.amazonaws.robomaker#DeploymentTimeout",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, to wait for deployment to a single robot to complete. \n        Choose a time between 1 minute and 7 days. The default is 5 hours.</p>"
          }
        },
        "concurrentDeploymentPercentage": {
          "target": "com.amazonaws.robomaker#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of robots receiving the deployment at the same time.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a deployment configuration.</p>"
      }
    },
    "com.amazonaws.robomaker#DeploymentJob": {
      "type": "structure",
      "members": {
        "failureReason": {
          "target": "com.amazonaws.robomaker#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A short description of the reason why the deployment job failed.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.robomaker#DeploymentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the deployment job.</p>"
          }
        },
        "failureCode": {
          "target": "com.amazonaws.robomaker#DeploymentJobErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The deployment job failure code.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.robomaker#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the deployment job was created.</p>"
          }
        },
        "deploymentConfig": {
          "target": "com.amazonaws.robomaker#DeploymentConfig",
          "traits": {
            "smithy.api#documentation": "<p>The deployment configuration.</p>"
          }
        },
        "deploymentApplicationConfigs": {
          "target": "com.amazonaws.robomaker#DeploymentApplicationConfigs",
          "traits": {
            "smithy.api#documentation": "<p>The deployment application configuration.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deployment job.</p>"
          }
        },
        "fleet": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a deployment job.</p>"
      }
    },
    "com.amazonaws.robomaker#DeploymentJobErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ResourceNotFound",
            "name": "ResourceNotFound"
          },
          {
            "value": "EnvironmentSetupError",
            "name": "EnvironmentSetupError"
          },
          {
            "value": "EtagMismatch",
            "name": "EtagMismatch"
          },
          {
            "value": "FailureThresholdBreached",
            "name": "FailureThresholdBreached"
          },
          {
            "value": "RobotDeploymentAborted",
            "name": "RobotDeploymentAborted"
          },
          {
            "value": "RobotDeploymentNoResponse",
            "name": "RobotDeploymentNoResponse"
          },
          {
            "value": "RobotAgentConnectionTimeout",
            "name": "RobotAgentConnectionTimeout"
          },
          {
            "value": "GreengrassDeploymentFailed",
            "name": "GreengrassDeploymentFailed"
          },
          {
            "value": "InvalidGreengrassGroup",
            "name": "InvalidGreengrassGroup"
          },
          {
            "value": "MissingRobotArchitecture",
            "name": "MissingRobotArchitecture"
          },
          {
            "value": "MissingRobotApplicationArchitecture",
            "name": "MissingRobotApplicationArchitecture"
          },
          {
            "value": "MissingRobotDeploymentResource",
            "name": "MissingRobotDeploymentResource"
          },
          {
            "value": "GreengrassGroupVersionDoesNotExist",
            "name": "GreengrassGroupVersionDoesNotExist"
          },
          {
            "value": "LambdaDeleted",
            "name": "LambdaDeleted"
          },
          {
            "value": "ExtractingBundleFailure",
            "name": "ExtractingBundleFailure"
          },
          {
            "value": "PreLaunchFileFailure",
            "name": "PreLaunchFileFailure"
          },
          {
            "value": "PostLaunchFileFailure",
            "name": "PostLaunchFileFailure"
          },
          {
            "value": "BadPermissionError",
            "name": "BadPermissionError"
          },
          {
            "value": "DownloadConditionFailed",
            "name": "DownloadConditionFailed"
          },
          {
            "value": "InternalServerError",
            "name": "InternalServerError"
          }
        ]
      }
    },
    "com.amazonaws.robomaker#DeploymentJobs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.robomaker#DeploymentJob"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.robomaker#DeploymentLaunchConfig": {
      "type": "structure",
      "members": {
        "preLaunchFile": {
          "target": "com.amazonaws.robomaker#Path",
          "traits": {
            "smithy.api#documentation": "<p>The deployment pre-launch file. This file will be executed prior to the launch file.</p>"
          }
        },
        "postLaunchFile": {
          "target": "com.amazonaws.robomaker#Path",
          "traits": {
            "smithy.api#documentation": "<p>The deployment post-launch file. This file will be executed after the launch file.</p>"
          }
        },
        "packageName": {
          "target": "com.amazonaws.robomaker#Command",
          "traits": {
            "smithy.api#documentation": "<p>The package name.</p>",
            "smithy.api#required": {}
          }
        },
        "launchFile": {
          "target": "com.amazonaws.robomaker#Command",
          "traits": {
            "smithy.api#documentation": "<p>The launch file name.</p>",
            "smithy.api#required": {}
          }
        },
        "environmentVariables": {
          "target": "com.amazonaws.robomaker#EnvironmentVariableMap",
          "traits": {
            "smithy.api#documentation": "<p>An array of key/value pairs specifying environment variables for the robot application</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for a deployment launch.</p>"
      }
    },
    "com.amazonaws.robomaker#DeploymentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Pending",
            "name": "Pending"
          },
          {
            "value": "Preparing",
            "name": "Preparing"
          },
          {
            "value": "InProgress",
            "name": "InProgress"
          },
          {
            "value": "Failed",
            "name": "Failed"
          },
          {
            "value": "Succeeded",
            "name": "Succeeded"
          },
          {
            "value": "Canceled",
            "name": "Canceled"
          }
        ]
      }
    },
    "com.amazonaws.robomaker#DeploymentTimeout": {
      "type": "long",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.robomaker#DeploymentVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "[0-9]*"
      }
    },
    "com.amazonaws.robomaker#DeregisterRobot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#DeregisterRobotRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#DeregisterRobotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deregisters a robot.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deregisterRobot",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#DeregisterRobotRequest": {
      "type": "structure",
      "members": {
        "fleet": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
            "smithy.api#required": {}
          }
        },
        "robot": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the robot.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#DeregisterRobotResponse": {
      "type": "structure",
      "members": {
        "robot": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the robot.</p>"
          }
        },
        "fleet": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#DescribeDeploymentJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#DescribeDeploymentJobRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#DescribeDeploymentJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a deployment job.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeDeploymentJob",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#DescribeDeploymentJobRequest": {
      "type": "structure",
      "members": {
        "job": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deployment job.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#DescribeDeploymentJobResponse": {
      "type": "structure",
      "members": {
        "failureCode": {
          "target": "com.amazonaws.robomaker#DeploymentJobErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The deployment job failure code.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.robomaker#DeploymentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the deployment job.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.robomaker#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A short description of the reason why the deployment job failed.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of all tags added to the specified deployment job.</p>"
          }
        },
        "deploymentApplicationConfigs": {
          "target": "com.amazonaws.robomaker#DeploymentApplicationConfigs",
          "traits": {
            "smithy.api#documentation": "<p>The deployment application configuration.</p>"
          }
        },
        "deploymentConfig": {
          "target": "com.amazonaws.robomaker#DeploymentConfig",
          "traits": {
            "smithy.api#documentation": "<p>The deployment configuration.</p>"
          }
        },
        "fleet": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deployment job.</p>"
          }
        },
        "robotDeploymentSummary": {
          "target": "com.amazonaws.robomaker#RobotDeploymentSummary",
          "traits": {
            "smithy.api#documentation": "<p>A list of robot deployment summaries.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.robomaker#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the deployment job was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#DescribeFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#DescribeFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#DescribeFleetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a fleet.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeFleet",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#DescribeFleetRequest": {
      "type": "structure",
      "members": {
        "fleet": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#DescribeFleetResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>"
          }
        },
        "lastDeploymentStatus": {
          "target": "com.amazonaws.robomaker#DeploymentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the last deployment.</p>"
          }
        },
        "lastDeploymentTime": {
          "target": "com.amazonaws.robomaker#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time of the last deployment.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of all tags added to the specified fleet.</p>"
          }
        },
        "robots": {
          "target": "com.amazonaws.robomaker#Robots",
          "traits": {
            "smithy.api#documentation": "<p>A list of robots.</p>"
          }
        },
        "lastDeploymentJob": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the last deployment job.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.robomaker#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the fleet was created.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#DescribeRobot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#DescribeRobotRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#DescribeRobotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a robot.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeRobot",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#DescribeRobotApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#DescribeRobotApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#DescribeRobotApplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a robot application.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeRobotApplication",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#DescribeRobotApplicationRequest": {
      "type": "structure",
      "members": {
        "applicationVersion": {
          "target": "com.amazonaws.robomaker#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the robot application to describe.</p>"
          }
        },
        "application": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the robot application.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#DescribeRobotApplicationResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of all tags added to the specified robot application.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.robomaker#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the robot application.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.robomaker#LastUpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the robot application was last updated.</p>"
          }
        },
        "sources": {
          "target": "com.amazonaws.robomaker#Sources",
          "traits": {
            "smithy.api#documentation": "<p>The sources of the robot application.</p>"
          }
        },
        "revisionId": {
          "target": "com.amazonaws.robomaker#RevisionId",
          "traits": {
            "smithy.api#documentation": "<p>The revision id of the robot application.</p>"
          }
        },
        "robotSoftwareSuite": {
          "target": "com.amazonaws.robomaker#RobotSoftwareSuite",
          "traits": {
            "smithy.api#documentation": "<p>The robot software suite (ROS distribution) used by the robot application.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the robot application.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the robot application.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#DescribeRobotRequest": {
      "type": "structure",
      "members": {
        "robot": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the robot to be described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#DescribeRobotResponse": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "com.amazonaws.robomaker#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the robot was created.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.robomaker#RobotStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the fleet.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of all tags added to the specified robot.</p>"
          }
        },
        "lastDeploymentJob": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the last deployment job.</p>"
          }
        },
        "lastDeploymentTime": {
          "target": "com.amazonaws.robomaker#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time of the last deployment job.</p>"
          }
        },
        "fleetArn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the robot.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the robot.</p>"
          }
        },
        "architecture": {
          "target": "com.amazonaws.robomaker#Architecture",
          "traits": {
            "smithy.api#documentation": "<p>The target architecture of the robot application.</p>"
          }
        },
        "greengrassGroupId": {
          "target": "com.amazonaws.robomaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The Greengrass group id.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#DescribeSimulationApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#DescribeSimulationApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#DescribeSimulationApplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a simulation application.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeSimulationApplication",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#DescribeSimulationApplicationRequest": {
      "type": "structure",
      "members": {
        "application": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The application information for the simulation application.</p>",
            "smithy.api#required": {}
          }
        },
        "applicationVersion": {
          "target": "com.amazonaws.robomaker#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the simulation application to describe.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#DescribeSimulationApplicationResponse": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.amazonaws.robomaker#Sources",
          "traits": {
            "smithy.api#documentation": "<p>The sources of the simulation application.</p>"
          }
        },
        "revisionId": {
          "target": "com.amazonaws.robomaker#RevisionId",
          "traits": {
            "smithy.api#documentation": "<p>The revision id of the simulation application.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.robomaker#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the simulation application.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.robomaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of all tags added to the specified simulation application.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the robot simulation application.</p>"
          }
        },
        "robotSoftwareSuite": {
          "target": "com.amazonaws.robomaker#RobotSoftwareSuite",
          "traits": {
            "smithy.api#documentation": "<p>Information about the robot software suite (ROS distribution).</p>"
          }
        },
        "renderingEngine": {
          "target": "com.amazonaws.robomaker#RenderingEngine",
          "traits": {
            "smithy.api#documentation": "<p>The rendering engine for the simulation application.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.robomaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the simulation application.</p>"
          }
        },
        "simulationSoftwareSuite": {
          "target": "com.amazonaws.robomaker#SimulationSoftwareSuite",
          "traits": {
            "smithy.api#documentation": "<p>The simulation software suite used by the simulation application.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.robomaker#LastUpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the simulation application was last updated.</p>"
          }
        }
      }
    },
    "com.amazonaws.robomaker#DescribeSimulationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#DescribeSimulationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#DescribeSimulationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.robomaker#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a simulation job.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeSimulationJob",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#DescribeSimulationJobBatch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.robomaker#DescribeSimulationJobBatchRequest"
      },
      "output": {
        "target": "com.amazonaws.robomaker#DescribeSimulationJobBatchResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.robomaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.robomaker#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.robomaker#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a simulation job batch.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeSimulationJobBatch",
          "code": 200
        }
      }
    },
    "com.amazonaws.robomaker#DescribeSimulationJobBatchRequest": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.amazonaws.robomaker#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The id of the batch to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.robomaker#DescribeSimulationJobBatchResponse": {
      "type": "structure",
      "members": {
        "clientRequestToken": {
          "target": "com.amazonaws.robomaker#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.robomaker#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The reason the simulation job batch failed.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.robomaker#LastUpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the simulation job batch was last updated.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.robomaker#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds since the epoch, when the simulation job batch was created.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.robomaker#SimulationJobBatchStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the batch.</p>\n         <dl>\n            <dt>Pending</dt>\n            <dd>\n               <p>The simulation job batch request is pending.</p>\n            </dd>\n            <dt>InProgress</dt>\n            <dd>\n               <p>The simulation job batch is in progress. </p>\n            </dd>\n            <dt>Failed</dt>\n            <dd>\n               <p>The simulation job batch failed. One or more simulation job requests could not be completed\n                due to an internal failure (like <code>InternalServiceError</code>). \n                See <code>failureCode</code> and <code>failureReason</code> for more information.</p>\n            </dd>\n            <dt>Completed</dt>\n            <dd>\n               <p>The simulation batch job completed. A batch is complete when (1) there are \n               no pending simulation job requests in the batch and none of the \n               failed simulation job requests are due to <code>InternalServiceError</code> and (2)\n                  when all created simulation jobs have reached a terminal state (for example, \n                  <code>Completed</code> or <code>Failed</code>).\n               </p>\n            </dd>\n            <dt>Canceled</dt>\n            <dd>\n               <p>The simulation batch job was cancelled.</p>\n            </dd>\n            <dt>Canceling</dt>\n            <dd>\n               <p>The simulation batch job is being cancelled.</p>\n            </dd>\n            <dt>Completing</dt>\n            <dd>\n               <p>The simulation batch job is completing.</p>\n            </dd>\n            <dt>TimingOut</dt>\n            <dd>\n               <p>The simulation job batch is timing out.</p>\n               <p>If a batch timing out, and there are pending requests that \n                  were failing due to an internal failure (like <code>InternalServiceError</code>), \n                  the batch status will be <code>Failed</code>. If there are no such failing request,  \n                  the batch status will be <code>TimedOut</code>.\n               </p>\n            </dd>\n            <dt>TimedOut</dt>\n            <dd>\n               <p>The simulation batch job timed out.</p>\n            </dd>\n         </dl>"
          }
        },
        "pendingRequests": {
          "target": "com.amazonaws.robomaker#CreateSimulationJobRequests",
          "traits": {
            "smithy.api#documentation": "<p>A list of pending simulation job requests. These requests have\n      not yet been created into simulation jobs.</p>"
          }
        },
        "createdRequests": {
[...]
