{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.route53#ARN": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                },
                "smithy.api#pattern": "\\S"
            }
        },
        "com.amazonaws.route53#AWSAccountID": {
            "type": "string"
        },
        "com.amazonaws.route53#AWSDnsV20130401": {
            "type": "service",
            "version": "2013-04-01",
            "operations": [
                {
                    "target": "com.amazonaws.route53#ActivateKeySigningKey"
                },
                {
                    "target": "com.amazonaws.route53#AssociateVPCWithHostedZone"
                },
                {
                    "target": "com.amazonaws.route53#ChangeCidrCollection"
                },
                {
                    "target": "com.amazonaws.route53#ChangeResourceRecordSets"
                },
                {
                    "target": "com.amazonaws.route53#ChangeTagsForResource"
                },
                {
                    "target": "com.amazonaws.route53#CreateCidrCollection"
                },
                {
                    "target": "com.amazonaws.route53#CreateHealthCheck"
                },
                {
                    "target": "com.amazonaws.route53#CreateHostedZone"
                },
                {
                    "target": "com.amazonaws.route53#CreateKeySigningKey"
                },
                {
                    "target": "com.amazonaws.route53#CreateQueryLoggingConfig"
                },
                {
                    "target": "com.amazonaws.route53#CreateReusableDelegationSet"
                },
                {
                    "target": "com.amazonaws.route53#CreateTrafficPolicy"
                },
                {
                    "target": "com.amazonaws.route53#CreateTrafficPolicyInstance"
                },
                {
                    "target": "com.amazonaws.route53#CreateTrafficPolicyVersion"
                },
                {
                    "target": "com.amazonaws.route53#CreateVPCAssociationAuthorization"
                },
                {
                    "target": "com.amazonaws.route53#DeactivateKeySigningKey"
                },
                {
                    "target": "com.amazonaws.route53#DeleteCidrCollection"
                },
                {
                    "target": "com.amazonaws.route53#DeleteHealthCheck"
                },
                {
                    "target": "com.amazonaws.route53#DeleteHostedZone"
                },
                {
                    "target": "com.amazonaws.route53#DeleteKeySigningKey"
                },
                {
                    "target": "com.amazonaws.route53#DeleteQueryLoggingConfig"
                },
                {
                    "target": "com.amazonaws.route53#DeleteReusableDelegationSet"
                },
                {
                    "target": "com.amazonaws.route53#DeleteTrafficPolicy"
                },
                {
                    "target": "com.amazonaws.route53#DeleteTrafficPolicyInstance"
                },
                {
                    "target": "com.amazonaws.route53#DeleteVPCAssociationAuthorization"
                },
                {
                    "target": "com.amazonaws.route53#DisableHostedZoneDNSSEC"
                },
                {
                    "target": "com.amazonaws.route53#DisassociateVPCFromHostedZone"
                },
                {
                    "target": "com.amazonaws.route53#EnableHostedZoneDNSSEC"
                },
                {
                    "target": "com.amazonaws.route53#GetAccountLimit"
                },
                {
                    "target": "com.amazonaws.route53#GetChange"
                },
                {
                    "target": "com.amazonaws.route53#GetCheckerIpRanges"
                },
                {
                    "target": "com.amazonaws.route53#GetDNSSEC"
                },
                {
                    "target": "com.amazonaws.route53#GetGeoLocation"
                },
                {
                    "target": "com.amazonaws.route53#GetHealthCheck"
                },
                {
                    "target": "com.amazonaws.route53#GetHealthCheckCount"
                },
                {
                    "target": "com.amazonaws.route53#GetHealthCheckLastFailureReason"
                },
                {
                    "target": "com.amazonaws.route53#GetHealthCheckStatus"
                },
                {
                    "target": "com.amazonaws.route53#GetHostedZone"
                },
                {
                    "target": "com.amazonaws.route53#GetHostedZoneCount"
                },
                {
                    "target": "com.amazonaws.route53#GetHostedZoneLimit"
                },
                {
                    "target": "com.amazonaws.route53#GetQueryLoggingConfig"
                },
                {
                    "target": "com.amazonaws.route53#GetReusableDelegationSet"
                },
                {
                    "target": "com.amazonaws.route53#GetReusableDelegationSetLimit"
                },
                {
                    "target": "com.amazonaws.route53#GetTrafficPolicy"
                },
                {
                    "target": "com.amazonaws.route53#GetTrafficPolicyInstance"
                },
                {
                    "target": "com.amazonaws.route53#GetTrafficPolicyInstanceCount"
                },
                {
                    "target": "com.amazonaws.route53#ListCidrBlocks"
                },
                {
                    "target": "com.amazonaws.route53#ListCidrCollections"
                },
                {
                    "target": "com.amazonaws.route53#ListCidrLocations"
                },
                {
                    "target": "com.amazonaws.route53#ListGeoLocations"
                },
                {
                    "target": "com.amazonaws.route53#ListHealthChecks"
                },
                {
                    "target": "com.amazonaws.route53#ListHostedZones"
                },
                {
                    "target": "com.amazonaws.route53#ListHostedZonesByName"
                },
                {
                    "target": "com.amazonaws.route53#ListHostedZonesByVPC"
                },
                {
                    "target": "com.amazonaws.route53#ListQueryLoggingConfigs"
                },
                {
                    "target": "com.amazonaws.route53#ListResourceRecordSets"
                },
                {
                    "target": "com.amazonaws.route53#ListReusableDelegationSets"
                },
                {
                    "target": "com.amazonaws.route53#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.route53#ListTagsForResources"
                },
                {
                    "target": "com.amazonaws.route53#ListTrafficPolicies"
                },
                {
                    "target": "com.amazonaws.route53#ListTrafficPolicyInstances"
                },
                {
                    "target": "com.amazonaws.route53#ListTrafficPolicyInstancesByHostedZone"
                },
                {
                    "target": "com.amazonaws.route53#ListTrafficPolicyInstancesByPolicy"
                },
                {
                    "target": "com.amazonaws.route53#ListTrafficPolicyVersions"
                },
                {
                    "target": "com.amazonaws.route53#ListVPCAssociationAuthorizations"
                },
                {
                    "target": "com.amazonaws.route53#TestDNSAnswer"
                },
                {
                    "target": "com.amazonaws.route53#UpdateHealthCheck"
                },
                {
                    "target": "com.amazonaws.route53#UpdateHostedZoneComment"
                },
                {
                    "target": "com.amazonaws.route53#UpdateTrafficPolicyComment"
                },
                {
                    "target": "com.amazonaws.route53#UpdateTrafficPolicyInstance"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Route 53",
                    "arnNamespace": "route53",
                    "cloudFormationName": "Route53",
                    "cloudTrailEventSource": "route53.amazonaws.com",
                    "docId": "route53-2013-04-01",
                    "endpointPrefix": "route53"
                },
                "aws.auth#sigv4": {
                    "name": "route53"
                },
                "aws.protocols#restXml": {},
                "smithy.api#documentation": "<p>Amazon Route 53 is a highly available and scalable Domain Name System (DNS) web\n\t\t\tservice.</p>\n         <p>You can use Route 53 to:</p>\n         <ul>\n            <li>\n               <p>Register domain names.</p>\n               <p>For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-domain-registration.html\">How domain registration works</a>.</p>\n            </li>\n            <li>\n               <p>Route internet traffic to the resources for your domain</p>\n               <p>For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-dns-service.html\">How internet traffic is routed to your website or web application</a>.</p>\n            </li>\n            <li>\n               <p>Check the health of your resources.</p>\n               <p>For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-health-checks.html\">How Route 53 checks the health of your resources</a>.</p>\n            </li>\n         </ul>",
                "smithy.api#title": "Amazon Route 53",
                "smithy.api#xmlNamespace": {
                    "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        false
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://route53.amazonaws.com",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "route53",
                                                            "signingRegion": "us-east-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://route53-fips.amazonaws.com",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "route53",
                                                            "signingRegion": "us-east-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws-cn"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        false
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://route53.amazonaws.com.cn",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "route53",
                                                            "signingRegion": "cn-northwest-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws-us-gov"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        false
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://route53.us-gov.amazonaws.com",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "route53",
                                                            "signingRegion": "us-gov-west-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws-us-gov"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://route53.us-gov.amazonaws.com",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "route53",
                                                            "signingRegion": "us-gov-west-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws-iso"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        false
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://route53.c2s.ic.gov",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "route53",
                                                            "signingRegion": "us-iso-east-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws-iso-b"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        false
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://route53.sc2s.sgov.gov",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "route53",
                                                            "signingRegion": "us-isob-east-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws-iso-e"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        false
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://route53.cloud.adc-e.uk",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "route53",
                                                            "signingRegion": "eu-isoe-west-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws-iso-f"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        false
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://route53.csp.hci.ic.gov",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "route53",
                                                            "signingRegion": "us-isof-south-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://route53-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://route53-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://route53.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://route53.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region aws-global with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "aws-global",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region aws-global with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53-fips.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "aws-global",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://route53-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53-fips.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://route53.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region aws-cn-global with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "cn-northwest-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "aws-cn-global",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://route53-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://route53-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://route53.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "cn-northwest-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region aws-us-gov-global with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "us-gov-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53.us-gov.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "aws-us-gov-global",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region aws-us-gov-global with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "us-gov-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53.us-gov.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "aws-us-gov-global",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://route53-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "us-gov-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53.us-gov.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://route53.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "us-gov-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53.us-gov.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region aws-iso-global with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "us-iso-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "aws-iso-global",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://route53-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "us-iso-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region aws-iso-b-global with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "us-isob-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "aws-iso-b-global",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://route53-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "error": "DualStack is enabled but this partition does not support DualStack"
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "us-isob-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-isoe-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "eu-isoe-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53.cloud.adc-e.uk"
                                }
                            },
                            "params": {
                                "Region": "eu-isoe-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isof-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "route53",
                                                "signingRegion": "us-isof-south-1"
                                            }
                                        ]
                                    },
                                    "url": "https://route53.csp.hci.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isof-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.route53#AWSRegion": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.route53#AccountLimit": {
            "type": "structure",
            "members": {
                "Type": {
                    "target": "com.amazonaws.route53#AccountLimitType",
                    "traits": {
                        "smithy.api#documentation": "<p>The limit that you requested. Valid values include the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>MAX_HEALTH_CHECKS_BY_OWNER</b>: The maximum\n\t\t\t\t\tnumber of health checks that you can create using the current account.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MAX_HOSTED_ZONES_BY_OWNER</b>: The maximum number\n\t\t\t\t\tof hosted zones that you can create using the current account.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MAX_REUSABLE_DELEGATION_SETS_BY_OWNER</b>: The\n\t\t\t\t\tmaximum number of reusable delegation sets that you can create using the current\n\t\t\t\t\taccount.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MAX_TRAFFIC_POLICIES_BY_OWNER</b>: The maximum\n\t\t\t\t\tnumber of traffic policies that you can create using the current account.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER</b>: The\n\t\t\t\t\tmaximum number of traffic policy instances that you can create using the current\n\t\t\t\t\taccount. (Traffic policy instances are referred to as traffic flow policy\n\t\t\t\t\trecords in the Amazon Route 53 console.)</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "Value": {
                    "target": "com.amazonaws.route53#LimitValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The current value for the limit that is specified by <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_AccountLimit.html#Route53-Type-AccountLimit-Type\">Type</a>.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A complex type that contains the type of limit that you specified in the request and\n\t\t\tthe current value for that limit.</p>"
            }
        },
        "com.amazonaws.route53#AccountLimitType": {
            "type": "enum",
            "members": {
                "MAX_HEALTH_CHECKS_BY_OWNER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MAX_HEALTH_CHECKS_BY_OWNER"
                    }
                },
                "MAX_HOSTED_ZONES_BY_OWNER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MAX_HOSTED_ZONES_BY_OWNER"
                    }
                },
                "MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER"
                    }
                },
                "MAX_REUSABLE_DELEGATION_SETS_BY_OWNER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MAX_REUSABLE_DELEGATION_SETS_BY_OWNER"
                    }
                },
                "MAX_TRAFFIC_POLICIES_BY_OWNER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MAX_TRAFFIC_POLICIES_BY_OWNER"
                    }
                }
            }
        },
        "com.amazonaws.route53#ActivateKeySigningKey": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.route53#ActivateKeySigningKeyRequest"
            },
            "output": {
                "target": "com.amazonaws.route53#ActivateKeySigningKeyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.route53#ConcurrentModification"
                },
                {
                    "target": "com.amazonaws.route53#InvalidInput"
                },
                {
                    "target": "com.amazonaws.route53#InvalidKeySigningKeyStatus"
                },
                {
                    "target": "com.amazonaws.route53#InvalidKMSArn"
                },
                {
                    "target": "com.amazonaws.route53#InvalidSigningStatus"
                },
                {
                    "target": "com.amazonaws.route53#NoSuchKeySigningKey"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Activates a key-signing key (KSK) so that it can be used for signing by DNSSEC. This\n\t\t\toperation changes the KSK status to <code>ACTIVE</code>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/2013-04-01/keysigningkey/{HostedZoneId}/{Name}/activate",
                    "code": 200
                }
            }
        },
        "com.amazonaws.route53#ActivateKeySigningKeyRequest": {
            "type": "structure",
            "members": {
                "HostedZoneId": {
                    "target": "com.amazonaws.route53#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique string used to identify a hosted zone.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "com.amazonaws.route53#SigningKeyName",
                    "traits": {
                        "smithy.api#documentation": "<p>A string used to identify a key-signing key (KSK). <code>Name</code> can include\n\t\t\tnumbers, letters, and underscores (_). <code>Name</code> must be unique for each\n\t\t\tkey-signing key in the same hosted zone.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.route53#ActivateKeySigningKeyResponse": {
            "type": "structure",
            "members": {
                "ChangeInfo": {
                    "target": "com.amazonaws.route53#ChangeInfo",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.route53#AlarmIdentifier": {
            "type": "structure",
            "members": {
                "Region": {
                    "target": "com.amazonaws.route53#CloudWatchRegion",
                    "traits": {
                        "smithy.api#documentation": "<p>For the CloudWatch alarm that you want Route 53 health checkers to use to determine\n\t\t\twhether this health check is healthy, the region that the alarm was created in.</p>\n         <p>For the current list of CloudWatch regions, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/cw_region.html\">Amazon CloudWatch endpoints and\n\t\t\t\tquotas</a> in the <i>Amazon Web Services General\n\t\t\tReference</i>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "com.amazonaws.route53#AlarmName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the CloudWatch alarm that you want Amazon Route 53 health checkers to use\n\t\t\tto determine whether this health check is healthy.</p>\n         <note>\n            <p>Route 53 supports CloudWatch alarms with the following features:</p>\n            <ul>\n               <li>\n                  <p>Standard-resolution metrics. High-resolution metrics aren't supported. For\n\t\t\t\t\t\tmore information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/publishingMetrics.html#high-resolution-metrics\">High-Resolution Metrics</a> in the <i>Amazon CloudWatch User\n\t\t\t\t\t\t\tGuide</i>.</p>\n               </li>\n               <li>\n                  <p>Statistics: Average, Minimum, Maximum, Sum, and SampleCount. Extended\n\t\t\t\t\t\tstatistics aren't supported.</p>\n               </li>\n            </ul>\n         </note>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A complex type that identifies the CloudWatch alarm that you want Amazon Route 53\n\t\t\thealth checkers to use to determine whether the specified health check is\n\t\t\thealthy.</p>"
            }
        },
        "com.amazonaws.route53#AlarmName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                }
            }
        },
        "com.amazonaws.route53#AliasHealthEnabled": {
            "type": "boolean",
            "traits": {
                "smithy.api#default": false
            }
        },
        "com.amazonaws.route53#AliasTarget": {
            "type": "structure",
            "members": {
                "HostedZoneId": {
                    "target": "com.amazonaws.route53#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            <i>Alias resource records sets only</i>: The value used depends on where\n\t\t\tyou want to route traffic:</p>\n         <dl>\n            <dt>Amazon API Gateway custom regional APIs and edge-optimized APIs</dt>\n            <dd>\n               <p>Specify the hosted zone ID for your API. You can get the applicable value\n\t\t\t\t\t\tusing the CLI command <a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/get-domain-names.html\">get-domain-names</a>:</p>\n               <ul>\n                  <li>\n                     <p>For regional APIs, specify the value of\n\t\t\t\t\t\t\t\t\t<code>regionalHostedZoneId</code>.</p>\n                  </li>\n                  <li>\n                     <p>For edge-optimized APIs, specify the value of\n\t\t\t\t\t\t\t\t\t<code>distributionHostedZoneId</code>.</p>\n                  </li>\n               </ul>\n            </dd>\n            <dt>Amazon Virtual Private Cloud interface VPC endpoint</dt>\n            <dd>\n               <p>Specify the hosted zone ID for your interface endpoint. You can get the\n\t\t\t\t\t\tvalue of <code>HostedZoneId</code> using the CLI command\n\t\t\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-vpc-endpoints.html\">describe-vpc-endpoints</a>.</p>\n            </dd>\n            <dt>CloudFront distribution</dt>\n            <dd>\n               <p>Specify <code>Z2FDTNDATAQYW2</code>.</p>\n               <note>\n                  <p>Alias resource record sets for CloudFront can't be created in a\n\t\t\t\t\t\t\tprivate zone.</p>\n               </note>\n            </dd>\n            <dt>Elastic Beanstalk environment</dt>\n            <dd>\n               <p>Specify the hosted zone ID for the region that you created the environment in. The\n\t\t\t\t\t\tenvironment must have a regionalized subdomain. For a list of regions and\n\t\t\t\t\t\tthe corresponding hosted zone IDs, see <a href=\"https://docs.aws.amazon.com/g
[...]
