{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.rum#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You don't have sufficient permissions to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.rum#Alias": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                }
            }
        },
        "com.amazonaws.rum#AppMonitor": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.rum#AppMonitorName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the app monitor.</p>"
                    }
                },
                "Domain": {
                    "target": "com.amazonaws.rum#AppMonitorDomain",
                    "traits": {
                        "smithy.api#documentation": "<p>The top-level internet domain name for which your application has administrative authority.</p>"
                    }
                },
                "DomainList": {
                    "target": "com.amazonaws.rum#AppMonitorDomainList",
                    "traits": {
                        "smithy.api#documentation": "<p>\n         List the domain names for which your application has administrative authority. \n      </p>"
                    }
                },
                "Id": {
                    "target": "com.amazonaws.rum#AppMonitorId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of this app monitor.</p>"
                    }
                },
                "Created": {
                    "target": "com.amazonaws.rum#ISOTimestampString",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that this app monitor was created.</p>"
                    }
                },
                "LastModified": {
                    "target": "com.amazonaws.rum#ISOTimestampString",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time of the most recent changes to this app monitor's configuration.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.rum#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of tag keys and values associated with this app monitor.</p>"
                    }
                },
                "State": {
                    "target": "com.amazonaws.rum#StateEnum",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the app monitor.</p>"
                    }
                },
                "AppMonitorConfiguration": {
                    "target": "com.amazonaws.rum#AppMonitorConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains much of the configuration data for the app monitor.</p>"
                    }
                },
                "DataStorage": {
                    "target": "com.amazonaws.rum#DataStorage",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains information about whether this app monitor stores a copy of\n         the telemetry data that RUM collects using CloudWatch Logs.</p>"
                    }
                },
                "CustomEvents": {
                    "target": "com.amazonaws.rum#CustomEvents",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether this app monitor allows the web client to define and send\n      custom events.</p>\n         <p>For more information about custom events, see \n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-custom-events.html\">Send custom events</a>.</p>"
                    }
                },
                "DeobfuscationConfiguration": {
                    "target": "com.amazonaws.rum#DeobfuscationConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>\n         A structure that contains the configuration for how an app monitor can deobfuscate stack traces.\n      </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A RUM app monitor collects telemetry data from your application and sends that\n         data to RUM. The data includes performance and reliability information such as page load time, client-side errors, \n         and user behavior.</p>"
            }
        },
        "com.amazonaws.rum#AppMonitorConfiguration": {
            "type": "structure",
            "members": {
                "IdentityPoolId": {
                    "target": "com.amazonaws.rum#IdentityPoolId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Amazon Cognito identity pool \n         that is used to authorize the sending of data to RUM.</p>"
                    }
                },
                "ExcludedPages": {
                    "target": "com.amazonaws.rum#Pages",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of URLs in your website or application to exclude from RUM data collection.</p>\n         <p>You can't include both <code>ExcludedPages</code> and <code>IncludedPages</code> in the same operation.</p>"
                    }
                },
                "IncludedPages": {
                    "target": "com.amazonaws.rum#Pages",
                    "traits": {
                        "smithy.api#documentation": "<p>If this app monitor is to collect data from only certain pages in your application, this structure lists those pages. </p>\n         <p>You can't include both <code>ExcludedPages</code> and <code>IncludedPages</code> in the same operation.</p>"
                    }
                },
                "FavoritePages": {
                    "target": "com.amazonaws.rum#FavoritePages",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of pages in your application that are to be displayed with a \"favorite\" icon\n         in the CloudWatch RUM console.</p>"
                    }
                },
                "SessionSampleRate": {
                    "target": "com.amazonaws.rum#SessionSampleRate",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Specifies the portion of user sessions to use for RUM data collection. Choosing a higher portion gives you\n      more data but also incurs more costs.</p>\n         <p>The range for this value is 0 to 1 inclusive. Setting this to 1 means that 100% of user sessions are sampled, and setting\n         it to 0.1 means that 10% of user sessions are sampled.</p>\n         <p>If you omit this parameter, the default of 0.1 is used, and 10% of sessions will be sampled.</p>"
                    }
                },
                "GuestRoleArn": {
                    "target": "com.amazonaws.rum#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the guest IAM role that is attached to the Amazon Cognito identity pool \n      that is used to authorize the sending of data to RUM.</p>\n         <note>\n            <p>It is possible that an app monitor does not have a value for <code>GuestRoleArn</code>. For example, \n         this can happen when you use the console to create an app monitor and you allow CloudWatch RUM to \n         create a new identity pool for Authorization. In this case, <code>GuestRoleArn</code> is not present in the \n         <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_GetAppMonitor.html\">GetAppMonitor</a>\n        response because it is not stored by the service.</p>\n            <p>If this issue affects you, you can take one of the following steps:</p>\n            <ul>\n               <li>\n                  <p>Use the Cloud Development Kit (CDK) to create an identity pool and the associated IAM\n            role, and use that for your app monitor.</p>\n               </li>\n               <li>\n                  <p>Make a separate <a href=\"https://docs.aws.amazon.com/cognitoidentity/latest/APIReference/API_GetIdentityPoolRoles.html\">GetIdentityPoolRoles</a>\n               call to Amazon Cognito to retrieve \n               the <code>GuestRoleArn</code>.</p>\n               </li>\n            </ul>\n         </note>"
                    }
                },
                "AllowCookies": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>If you set this to <code>true</code>, the RUM web client sets two cookies, a session\n         cookie and a user cookie. The cookies allow the RUM web client to collect data relating to\n         the number of users an application has and the behavior of the application across a\n         sequence of events. Cookies are stored in the top-level domain of the current page.</p>"
                    }
                },
                "Telemetries": {
                    "target": "com.amazonaws.rum#Telemetries",
                    "traits": {
                        "smithy.api#documentation": "<p>An array that lists the types of telemetry data that this app monitor is to collect.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>errors</code> indicates that RUM collects data about unhandled JavaScript errors raised\n         by your application.</p>\n            </li>\n            <li>\n               <p>\n                  <code>performance</code> indicates that RUM collects performance data about how your application\n            and its resources are loaded and rendered. This includes Core Web Vitals.</p>\n            </li>\n            <li>\n               <p>\n                  <code>http</code> indicates that RUM collects data about HTTP errors thrown by your application.</p>\n            </li>\n         </ul>"
                    }
                },
                "EnableXRay": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>If you set this to <code>true</code>, RUM enables X-Ray tracing for\n         the user sessions that RUM samples. RUM adds an X-Ray trace header to allowed\n         HTTP requests. It also records an X-Ray segment for allowed HTTP requests.\n         You can see traces and segments from these user sessions in the X-Ray console\n         and the CloudWatch ServiceLens console. For more information, see <a href=\"https://docs.aws.amazon.com/xray/latest/devguide/aws-xray.html\">What is X-Ray?</a>\n         </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This structure contains much of the configuration data for the app monitor.</p>"
            }
        },
        "com.amazonaws.rum#AppMonitorDetails": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the app monitor.</p>"
                    }
                },
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the app monitor.</p>"
                    }
                },
                "version": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the app monitor.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains information about the RUM app monitor.</p>"
            }
        },
        "com.amazonaws.rum#AppMonitorDomain": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 253
                },
                "smithy.api#pattern": "^(localhost)$|^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$|(?=^[a-zA-Z0-9\\.\\*-]{4,253}$)(?!.*\\.-)(?!.*-\\.)(?!.*\\.\\.)(?!.*[^\\.]{64,})^(\\*\\.)?(?![-\\.\\*])[^\\*]{1,}\\.(\\*|(?!.*--)(?=.*[a-zA-Z])[^\\*]{1,}[^\\*-])$"
            }
        },
        "com.amazonaws.rum#AppMonitorDomainList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.rum#AppMonitorDomain"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 5
                }
            }
        },
        "com.amazonaws.rum#AppMonitorId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 36,
                    "max": 36
                },
                "smithy.api#pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
            }
        },
        "com.amazonaws.rum#AppMonitorName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^(?!\\.)[\\.\\-_#A-Za-z0-9]+$"
            }
        },
        "com.amazonaws.rum#AppMonitorResource": {
            "type": "resource",
            "identifiers": {
                "Name": {
                    "target": "com.amazonaws.rum#AppMonitorName"
                }
            },
            "read": {
                "target": "com.amazonaws.rum#GetAppMonitor"
            },
            "update": {
                "target": "com.amazonaws.rum#UpdateAppMonitor"
            },
            "delete": {
                "target": "com.amazonaws.rum#DeleteAppMonitor"
            },
            "list": {
                "target": "com.amazonaws.rum#ListAppMonitors"
            },
            "operations": [
                {
                    "target": "com.amazonaws.rum#BatchCreateRumMetricDefinitions"
                },
                {
                    "target": "com.amazonaws.rum#BatchDeleteRumMetricDefinitions"
                },
                {
                    "target": "com.amazonaws.rum#BatchGetRumMetricDefinitions"
                },
                {
                    "target": "com.amazonaws.rum#CreateAppMonitor"
                },
                {
                    "target": "com.amazonaws.rum#DeleteResourcePolicy"
                },
                {
                    "target": "com.amazonaws.rum#DeleteRumMetricsDestination"
                },
                {
                    "target": "com.amazonaws.rum#GetAppMonitorData"
                },
                {
                    "target": "com.amazonaws.rum#GetResourcePolicy"
                },
                {
                    "target": "com.amazonaws.rum#ListRumMetricsDestinations"
                },
                {
                    "target": "com.amazonaws.rum#PutResourcePolicy"
                },
                {
                    "target": "com.amazonaws.rum#PutRumMetricsDestination"
                },
                {
                    "target": "com.amazonaws.rum#UpdateRumMetricDefinition"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "appmonitor/{Name}"
                }
            }
        },
        "com.amazonaws.rum#AppMonitorSummary": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.rum#AppMonitorName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of this app monitor.</p>"
                    }
                },
                "Id": {
                    "target": "com.amazonaws.rum#AppMonitorId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of this app monitor.</p>"
                    }
                },
                "Created": {
                    "target": "com.amazonaws.rum#ISOTimestampString",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the app monitor was created.</p>"
                    }
                },
                "LastModified": {
                    "target": "com.amazonaws.rum#ISOTimestampString",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time of the most recent changes to this app monitor's configuration.</p>"
                    }
                },
                "State": {
                    "target": "com.amazonaws.rum#StateEnum",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of this app monitor.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that includes some data about app monitors and their settings.</p>"
            }
        },
        "com.amazonaws.rum#AppMonitorSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.rum#AppMonitorSummary"
            }
        },
        "com.amazonaws.rum#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "arn:[^:]*:[^:]*:[^:]*:[^:]*:.*"
            }
        },
        "com.amazonaws.rum#BatchCreateRumMetricDefinitions": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.rum#BatchCreateRumMetricDefinitionsRequest"
            },
            "output": {
                "target": "com.amazonaws.rum#BatchCreateRumMetricDefinitionsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.rum#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.rum#ConflictException"
                },
                {
                    "target": "com.amazonaws.rum#InternalServerException"
                },
                {
                    "target": "com.amazonaws.rum#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.rum#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.rum#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.rum#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Specifies the extended metrics and custom metrics that you want a CloudWatch RUM app monitor to send to a destination. Valid\n         destinations include CloudWatch and Evidently.</p>\n         <p>By default, RUM app monitors send some metrics to CloudWatch. These default metrics\n         are listed in <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-metrics.html\">CloudWatch metrics that you can collect \n            with CloudWatch RUM</a>.</p>\n         <p>In addition to these default metrics, you can choose to send extended metrics, custom\n         metrics, or both.</p>\n         <ul>\n            <li>\n               <p>Extended metrics let you send metrics with additional dimensions that aren't included in the\n               default metrics. You can also send extended metrics to both Evidently and CloudWatch. The valid dimension names for the additional dimensions for extended\n               metrics are <code>BrowserName</code>, <code>CountryCode</code>,\n                  <code>DeviceType</code>, <code>FileType</code>, <code>OSName</code>, and\n                  <code>PageId</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-vended-metrics.html\">\n                  Extended metrics that you can send to CloudWatch and CloudWatch\n                  Evidently</a>.</p>\n            </li>\n            <li>\n               <p>Custom metrics are metrics that you define. You can send custom metrics to CloudWatch.\n                  CloudWatch Evidently, or both. With custom metrics, you can use any metric\n               name and namespace. To derive the metrics, you can use any custom events, built-in\n               events, custom attributes, or default attributes. </p>\n               <p>You can't send custom metrics to the <code>AWS/RUM</code> namespace. You must send custom metrics to a \n               custom namespace that you define. The namespace that you use can't start with <code>AWS/</code>. \n               CloudWatch RUM prepends <code>RUM/CustomMetrics/</code> to the custom namespace that you define, \n               so the final namespace for your metrics in CloudWatch is \n         <code>RUM/CustomMetrics/<i>your-custom-namespace</i>\n                  </code>.</p>\n            </li>\n         </ul>\n         <p>The maximum number of metric definitions that you can specify in one \n         <code>BatchCreateRumMetricDefinitions</code> operation is 200.</p>\n         <p>The maximum number of metric definitions that one destination can contain is 2000.</p>\n         <p>Extended metrics sent to CloudWatch and RUM custom metrics are charged as CloudWatch custom metrics. Each combination of additional dimension name and dimension\n         value counts as a custom metric. For more information, see \n         <a href=\"https://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>.</p>\n         <p>You must have\n         already created a destination for the metrics before you send them. For more information, see \n         <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_PutRumMetricsDestination.html\">PutRumMetricsDestination</a>.</p>\n         <p>If some metric definitions specified in a <code>BatchCreateRumMetricDefinitions</code> operations are not valid,\n      those metric definitions fail and return errors, but all valid metric definitions in the same operation still succeed.</p>",
                "smithy.api#externalDocumentation": {
                    "API Reference": "https://docs.aws.amazon.com/rum/latest/developerguide/BatchCreateRumMetricDefinitions.html"
                },
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/rummetrics/{AppMonitorName}/metrics"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.rum#BatchCreateRumMetricDefinitionsError": {
            "type": "structure",
            "members": {
                "MetricDefinition": {
                    "target": "com.amazonaws.rum#MetricDefinitionRequest",
                    "traits": {
                        "smithy.api#documentation": "<p>The metric definition that caused this error.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ErrorCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The error code.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ErrorMessage": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The error message for this metric definition.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that defines one error caused by a \n         <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_BatchCreateRumMetricsDefinitions.html\">BatchCreateRumMetricsDefinitions</a>\n      operation.</p>"
            }
        },
        "com.amazonaws.rum#BatchCreateRumMetricDefinitionsErrors": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.rum#BatchCreateRumMetricDefinitionsError"
            }
        },
        "com.amazonaws.rum#BatchCreateRumMetricDefinitionsRequest": {
            "type": "structure",
            "members": {
                "AppMonitorName": {
                    "target": "com.amazonaws.rum#AppMonitorName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the CloudWatch RUM app monitor that is to send the metrics.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "Name"
                    }
                },
                "Destination": {
                    "target": "com.amazonaws.rum#MetricDestination",
                    "traits": {
                        "smithy.api#documentation": "<p>The destination to send the metrics to. Valid values are <code>CloudWatch</code> and\n            <code>Evidently</code>. If you specify <code>Evidently</code>, you must also specify the\n         Amazon Resource Name (ARN) of the CloudWatchEvidently experiment that will receive\n         the metrics and an IAM role that has permission to write to the\n         experiment.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DestinationArn": {
                    "target": "com.amazonaws.rum#DestinationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>This parameter is required if <code>Destination</code> is <code>Evidently</code>. If <code>Destination</code> is \n         <code>CloudWatch</code>, do not use this parameter.</p>\n         <p>This parameter specifies the ARN of the Evidently experiment that is to receive the metrics. You must have already defined this \n         experiment as a valid destination. For more information, see <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_PutRumMetricsDestination.html\">PutRumMetricsDestination</a>.</p>"
                    }
                },
                "MetricDefinitions": {
                    "target": "com.amazonaws.rum#MetricDefinitionsRequest",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of structures which define the metrics that you want to send.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.rum#BatchCreateRumMetricDefinitionsResponse": {
            "type": "structure",
            "members": {
                "Errors": {
                    "target": "com.amazonaws.rum#BatchCreateRumMetricDefinitionsErrors",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of error objects, if the operation caused any errors.</p>",
                        "smithy.api#required": {}
                    }
                },
                "MetricDefinitions": {
                    "target": "com.amazonaws.rum#MetricDefinitions",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of structures that define the extended metrics.</p>"
                    }
                }
            }
        },
        "com.amazonaws.rum#BatchDeleteRumMetricDefinitions": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.rum#BatchDeleteRumMetricDefinitionsRequest"
            },
            "output": {
                "target": "com.amazonaws.rum#BatchDeleteRumMetricDefinitionsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.rum#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.rum#ConflictException"
                },
                {
                    "target": "com.amazonaws.rum#InternalServerException"
                },
                {
                    "target": "com.amazonaws.rum#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.rum#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.rum#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Removes the specified metrics from being sent to an extended metrics destination.</p>\n         <p>If some metric definition IDs specified in a <code>BatchDeleteRumMetricDefinitions</code> operations are not valid,\n         those metric definitions fail and return errors, but all valid metric definition IDs in the same operation are still \n         deleted.</p>\n         <p>The maximum number of metric definitions that you can specify in one \n         <code>BatchDeleteRumMetricDefinitions</code> operation is 200.</p>",
                "smithy.api#externalDocumentation": {
                    "API Reference": "https://docs.aws.amazon.com/rum/latest/developerguide/BatchDeleteRumMetricDefinitions.html"
                },
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/rummetrics/{AppMonitorName}/metrics"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.rum#BatchDeleteRumMetricDefinitionsError": {
            "type": "structure",
            "members": {
                "MetricDefinitionId": {
                    "target": "com.amazonaws.rum#MetricDefinitionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the metric definition that caused this error.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ErrorCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The error code.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ErrorMessage": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The error message for this metric definition.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that defines one error caused by a \n         <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_BatchDeleteRumMetricsDefinitions.html\">BatchCreateRumMetricsDefinitions</a>\n         operation.</p>"
            }
        },
        "com.amazonaws.rum#BatchDeleteRumMetricDefinitionsErrors": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.rum#BatchDeleteRumMetricDefinitionsError"
            }
        },
        "com.amazonaws.rum#BatchDeleteRumMetricDefinitionsRequest": {
            "type": "structure",
            "members": {
                "AppMonitorName": {
                    "target": "com.amazonaws.rum#AppMonitorName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the CloudWatch RUM app monitor that is sending these metrics.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "Name"
                    }
                },
                "Destination": {
                    "target": "com.amazonaws.rum#MetricDestination",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the destination where you want to stop sending the specified metrics. Valid values are <code>CloudWatch</code> and\n         <code>Evidently</code>. If\n         you specify <code>Evidently</code>, you must also specify the ARN of the CloudWatchEvidently experiment that is to \n         be the destination and an IAM role that has permission to write to the experiment.</p>",
                        "smithy.api#httpQuery": "destination",
                        "smithy.api#required": {}
                    }
                },
                "DestinationArn": {
                    "target": "com.amazonaws.rum#DestinationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>This parameter is required if <code>Destination</code> is <code>Evidently</code>. If <code>Destination</code> is \n         <code>CloudWatch</code>, do not use this parameter. </p>\n         <p>This parameter specifies\n         the ARN of the Evidently experiment that was receiving the metrics that are being deleted.</p>",
                        "smithy.api#httpQuery": "destinationArn"
                    }
                },
                "MetricDefinitionIds": {
                    "target": "com.amazonaws.rum#MetricDefinitionIds",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of structures which define the metrics that you want to stop sending.</p>",
                        "smithy.api#httpQuery": "metricDefinitionIds",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.rum#BatchDeleteRumMetricDefinitionsResponse": {
            "type": "structure",
            "members": {
                "Errors": {
                    "target": "com.amazonaws.rum#BatchDeleteRumMetricDefinitionsErrors",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of error objects, if the operation caused any errors.</p>",
                        "smithy.api#required": {}
                    }
                },
                "MetricDefinitionIds": {
                    "target": "com.amazonaws.rum#MetricDefinitionIds",
                    "traits": {
                        "smithy.api#documentation": "<p>The IDs of the metric definitions that were deleted.</p>"
                    }
                }
            }
        },
        "com.amazonaws.rum#BatchGetRumMetricDefinitions": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.rum#BatchGetRumMetricDefinitionsRequest"
            },
            "output": {
                "target": "com.amazonaws.rum#BatchGetRumMetricDefinitionsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.rum#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.rum#InternalServerException"
                },
                {
                    "target": "com.amazonaws.rum#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.rum#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the list of metrics and dimensions that a RUM app monitor is sending to a single destination.</p>",
                "smithy.api#externalDocumentation": {
                    "API Reference": "https://docs.aws.amazon.com/rum/latest/developerguide/BatchGetRumMetricDefinitions.html"
                },
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/rummetrics/{AppMonitorName}/metrics"
                },
                "smithy.api#paginated": {
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
                    "pageSize": "MaxResults",
                    "items": "MetricDefinitions"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.rum#BatchGetRumMetricDefinitionsRequest": {
            "type": "structure",
            "members": {
                "AppMonitorName": {
                    "target": "com.amazonaws.rum#AppMonitorName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the CloudWatch RUM app monitor that is sending the metrics.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "Name"
                    }
                },
                "Destination": {
                    "target": "com.amazonaws.rum#MetricDestination",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of destination that you want to view metrics for. Valid values are <code>CloudWatch</code> \n         and <code>Evidently</code>.</p>",
                        "smithy.api#httpQuery": "destination",
                        "smithy.api#required": {}
                    }
                },
                "DestinationArn": {
                    "target": "com.amazonaws.rum#DestinationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>This parameter is required if <code>Destination</code> is <code>Evidently</code>. If <code>Destination</code> is \n         <code>CloudWatch</code>, do not use this parameter.</p>\n         <p>This parameter\n         specifies the ARN of the Evidently experiment that corresponds to the destination.</p>",
                        "smithy.api#httpQuery": "destinationArn"
                    }
                },
                "MaxResults": {
                    "target": "com.amazonaws.rum#MaxResultsInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of results to return in one operation. The default is 50. The maximum that you can \n         specify is 100.</p>\n         <p>To retrieve the remaining results, make another call with the returned \n         <code>NextToken</code> value. </p>",
                        "smithy.api#httpQuery": "maxResults"
                    }
                },
                "NextToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Use the token returned by the previous operation to request the next page of results.</p>",
                        "smithy.api#httpQuery": "nextToken"
                    }
                }
            }
        },
        "com.amazonaws.rum#BatchGetRumMetricDefinitionsResponse": {
            "type": "structure",
            "members": {
                "MetricDefinitions": {
                    "target": "com.amazonaws.rum#MetricDefinitions",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of structures that display information about the metrics that are sent by the specified\n         app monitor to the specified destination.</p>"
                    }
                },
                "NextToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that you can use in a subsequent operation to \n         retrieve the next set of results.</p>"
                    }
                }
            }
        },
        "com.amazonaws.rum#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "resourceName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the resource that is associated with the error.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the resource that is associated with the error.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This operation attempted to create a resource that already exists.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.rum#CreateAppMonitor": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.rum#CreateAppMonitorRequest"
            },
            "output": {
                "target": "com.amazonaws.rum#CreateAppMonitorResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.rum#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.rum#ConflictException"
                },
                {
                    "target": "com.amazonaws.rum#InternalServerException"
                },
                {
                    "target": "com.amazonaws.rum#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.rum#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.rum#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.rum#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a Amazon CloudWatch RUM app monitor, which collects telemetry data from your application and sends that\n      data to RUM. The data includes performance and reliability information such as page load time, client-side errors, \n      and user behavior.</p>\n         <p>You use this operation only to create a new app monitor. To update an existing app monitor, use <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_UpdateAppMonitor.html\">UpdateAppMonitor</a> instead.</p>\n         <p>After you create an app monitor, sign in to the CloudWatch RUM console to get \n         the JavaScript code snippet to add to your web application. For more information, see\n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-find-code-snippet.html\">How do I find a code snippet\n         that I've already generated?</a>\n         </p>",
                "smithy.api#externalDocumentation": {
                    "API Reference": "https://docs.aws.amazon.com/rum/latest/developerguide/CreateAppMonitor.html"
                },
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/appmonitor"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.rum#CreateAppMonitorRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.rum#AppMonitorName",
                    "traits": {
                        "smithy.api#documentation": "<p>A name for the app monitor.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Domain": {
                    "target": "com.amazonaws.rum#AppMonitorDomain",
                    "traits": {
                        "smithy.api#documentation": "<p>The top-level internet domain name for which your application has administrative authority.</p>"
                    }
                },
                "DomainList": {
                    "target": "com.amazonaws.rum#AppMonitorDomainList",
                    "traits": {
                        "smithy.api#documentation": "<p>\n         List the domain names for which your application has administrative authority. The <code>CreateAppMonitor</code> requires either the domain or the domain list.\n      </p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.rum#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Assigns one or more tags (key-value pairs) to the app monitor.</p>\n         <p>Tags can help you organize and categorize your resources. You can also use them to scope user\n         permissions by granting a user\n         permission to access or change only resources with certain tag values.</p>\n         <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p>\n         <p>You can associate as many as 50 tags with an app monitor.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>.</p>"
                    }
                },
                "AppMonitorConfiguration": {
                    "target": "com.amazonaws.rum#AppMonitorConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains much of the configuration data for the app monitor. If you are using \n         Amazon Cognito for authorization, you must include this structure in your request, and it must include the ID of the \n         Amazon Cognito identity pool to use for authorization. If you don't include <code>AppMonitorConfiguration</code>, you must set up your own \n         authorization method. For more information, see \n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-get-started-authorization.html\">Authorize your application\n            to send data to Amazon Web Services</a>.</p>\n         <p>If you omit this argument, the sample rate used for RUM is set to 10% of the user sessions.</p>"
                    }
                },
                "CwLogEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Data collected by RUM is kept by RUM for 30 days and then deleted. This parameter specifies whether RUM \n         sends a copy of this telemetry data to Amazon CloudWatch Logs\n         in your account. This enables you to keep the telemetry data for more than 30 days, but it does incur\n         Amazon CloudWatch Logs charges.</p>\n         <p>If you omit this parameter, the default is <code>false</code>.</p>"
                    }
                },
                "CustomEvents": {
                    "target": "com.amazonaws.rum#CustomEvents",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether this app monitor allows the web client to define and send\n         custom events. If you omit this parameter, custom events are <code>DISABLED</code>.</p>\n         <p>For more information about custom events, see \n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-custom-events.html\">Send custom events</a>.</p>"
                    }
                },
                "DeobfuscationConfiguration": {
                    "target": "com.amazonaws.rum#DeobfuscationConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>\n         A structure that contains the configuration for how an app monitor can deobfuscate stack traces.\n      </p>"
                    }
                }
            }
        },
        "com.amazonaws.rum#CreateAppMonitorResponse": {
            "type": "structure",
            "members": {
                "Id": {
                    "target": "com.amazonaws.rum#AppMonitorId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the new app monitor.</p>"
                    }
                }
            }
        },
        "com.amazonaws.rum#CustomEvents": {
            "type": "structure",
            "members": {
                "Status": {
                    "target": "com.amazonaws.rum#CustomEventsStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether this app monitor allows the web client to define and send\n         custom events. The default is for custom events to be <code>DISABLED</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains information about custom events for this app monitor.</p>"
            }
        },
        "com.amazonaws.rum#CustomEventsStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "ENABLED",
                        "value": "ENABLED"
                    },
                    {
                        "name": "DISABLED",
                        "value": "DISABLED"
                    }
                ]
            }
        },
        "com.amazonaws.rum#CwLog": {
            "type": "structure",
            "members": {
                "CwLogEnabled": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicated whether the app monitor stores copies of the data\n         that RUM collects in CloudWatch Logs.</p>"
                    }
                },
                "CwLogGroup": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the log group where the copies are stored.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains the information about whether the app monitor stores copies of the data\n      that RUM collects in CloudWatch Logs. If it does, this structure also contains the name of the log group.</p>"
            }
        },
        "com.amazonaws.rum#DataStorage": {
            "type": "structure",
            "members": {
                "CwLog": {
                    "target": "com.amazonaws.rum#CwLog",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains the information about whether the app monitor stores copies of the data\n         that RUM collects in CloudWatch Logs. If it does, this structure also contains the name of the log group.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains information about whether this app monitor stores a copy of\n         the telemetry data that RUM collects using CloudWatch Logs.</p>"
            }
        },
        "com.amazonaws.rum#DeleteAppMonitor": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.rum#DeleteAppMonitorRequest"
            },
            "output": {
                "target": "com.amazonaws.rum#DeleteAppMonitorResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.rum#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.rum#ConflictException"
                },
                {
                    "target": "com.amazonaws.rum#InternalServerException"
                },
                {
                    "target": "com.amazonaws.rum#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.rum#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.rum#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing app monitor. This immediately stops the collection of data.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/appmonitor/{Name}"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.rum#DeleteAppMonitorRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.rum#AppMonitorName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the app monitor to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.rum#DeleteAppMonitorResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.rum#DeleteResourcePolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.rum#DeleteResourcePolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.rum#DeleteResourcePolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.rum#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.rum#ConflictException"
                },
                {
                    "target": "com.amazonaws.rum#InternalServerException"
                },
                {
                    "target": "com.amazonaws.rum#InvalidPolicyRevisionIdException"
                },
                {
                    "target": "com.amazonaws.rum#PolicyNotFoundException"
                },
                {
                    "target": "com.amazonaws.rum#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.rum#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.rum#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Removes the association of a resource-based policy from an app monitor.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/appmonitor/{Name}/policy"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.rum#DeleteResourcePolicyRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.rum#AppMonitorName",
                    "traits": {
                        "smithy.api#documentation": "<p>The app monitor that you want to remove the resource policy from.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "PolicyRevisionId": {
                    "target": "com.amazonaws.rum#PolicyRevisionId",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies a specific policy revision to delete. Provide a <code>PolicyRevisionId</code> to ensure an atomic delete operation. \n         If the revision ID that you provide doesn't match the latest policy revision ID, the request will be rejected with an <code>InvalidPolicyRevisionIdException</code> error.</p>",
                        "smithy.api#httpQuery": "policyRevisionId"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.rum#DeleteResourcePolicyResponse": {
            "type": "structure",
            "members": {
                "PolicyRevisionId": {
                    "target": "com.amazonaws.rum#PolicyRevisionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The revision ID of the policy that was removed, if it had one.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.rum#DeleteRumMetricsDestination": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.rum#DeleteRumMetricsDestinationRequest"
            },
            "output": {
                "target": "com.amazonaws.rum#DeleteRumMetricsDestinationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.rum#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.rum#ConflictException"
                },
                {
                    "target": "com.amazonaws.rum#InternalServerException"
                },
                {
                    "target": "com.amazonaws.rum#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.rum#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.rum#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a destination for CloudWatch RUM extended metrics, so that the specified app monitor stops\n         sending extended metrics to that destination.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "DELETE",
                    "uri": "/rummetrics/{AppMonitorName}/metricsdestination"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.rum#DeleteRumMetricsDestinationRequest": {
            "type": "structure",
            "members": {
                "AppMonitorName": {
                    "target": "com.amazonaws.rum#AppMonitorName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the app monitor that is sending metrics to the destination that you want to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "Name"
                    }
                },
                "Destination": {
                    "target": "com.amazonaws.rum#MetricDestination",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of destination to delete. Valid values are <code>CloudWatch</code> and <code>Evidently</code>.</p>",
                        "smithy.api#httpQuery": "destination",
                        "smithy.api#required": {}
                    }
                },
                "DestinationArn": {
                    "target": "com.amazonaws.rum#DestinationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>This parameter is required if <code>Destination</code> is <code>Evidently</code>. If <code>Destination</code> is \n         <code>CloudWatch</code>, do not use this parameter. This parameter\n         specifies the ARN of the Evidently experiment that corresponds to the destination to delete.</p>",
                        "smithy.api#httpQuery": "destinationArn"
                    }
                }
            }
        },
        "com.amazonaws.rum#DeleteRumMetricsDestinationResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.rum#DeobfuscationConfiguration": {
            "type": "structure",
            "members": {
                "JavaScriptSourceMaps": {
                    "target": "com.amazonaws.rum#JavaScriptSourceMaps",
                    "traits": {
                        "smithy.api#documentation": "<p>\n         A structure that contains the configuration for how an app monitor can unminify JavaScript error stack traces using source maps.\n      </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>\n         A structure that contains the configuration for how an app monitor can deobfuscate stack traces.\n      </p>"
            }
        },
        "com.amazonaws.rum#DeobfuscationS3Uri": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                },
                "smithy.api#pattern": "^s3://[a-z0-9][-.a-z0-9]{1,61}(?:/[-!_*'().a-z0-9A-Z]+(?:/[-!_*'().a-z0-9A-Z]+)*)?/?$"
            }
        },
        "com.amazonaws.rum#DeobfuscationStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "name": "ENABLED",
                        "value": "ENABLED"
                    },
                    {
                        "name": "DISABLED",
                        "value": "DISABLED"
                    }
                ]
            }
        },
        "com.amazonaws.rum#DestinationArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 2048
                },
                "smithy.api#pattern": "arn:[^:]*:[^:]*:[^:]*:[^:]*:.*"
            }
        },
        "com.amazonaws.rum#DimensionKey": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 280
                }
            }
        },
        "com.amazonaws.rum#DimensionKeysMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.rum#DimensionKey"
            },
            "value": {
                "target": "com.amazonaws.rum#DimensionName"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 29
                }
            }
        },
        "com.amazonaws.rum#DimensionName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^(?!:).*[^\\s].*"
            }
        },
        "com.amazonaws.rum#EventData": {
            "type": "string"
        },
        "com.amazonaws.rum#EventDataList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.rum#EventData"
            }
        },
        "com.amazonaws.rum#EventPattern": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 4000
                }
            }
        },
        "com.amazonaws.rum#FavoritePages": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 50
                }
            }
        },
        "com.amazonaws.rum#GetAppMonitor": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.rum#GetAppMonitorRequest"
            },
            "output": {
                "target": "com.amazonaws.rum#GetAppMonitorResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.rum#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.rum#InternalServerException"
                },
                {
                    "target": "com.amazonaws.rum#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.rum#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.rum#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the complete configuration information for one app monitor.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/appmonitor/{Name}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.rum#GetAppMonitorData": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.rum#GetAppMonitorDataRequest"
            },
            "output": {
                "target": "com.amazonaws.rum#GetAppMonitorDataResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.rum#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.rum#InternalServerException"
                },
                {
                    "target": "com.amazonaws.rum#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.rum#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.rum#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the raw performance events that RUM has collected from your web application,\n         so that you can do your own processing or analysis of this data.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/appmonitor/{Name}/data"
                },
                "smithy.api#paginated": {
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
                    "pageSize": "MaxResults",
                    "items": "Events"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.rum#GetAppMonitorDataRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.rum#AppMonitorName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the app monitor that collected the data that you want to retrieve.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "TimeRange": {
                    "target": "com.amazonaws.rum#TimeRange",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that defines the time range that you want to retrieve results from.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Filters": {
                    "target": "com.amazonaws.rum#QueryFilters",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of structures that you can use to filter the results to those that match one or\n         more sets of key-value pairs that you specify.</p>"
                    }
                },
                "MaxResults": {
                    "target": "com.amazonaws.rum#MaxQueryResults",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The maximum number of results to return in one operation. </p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.rum#Token",
                    "traits": {
                        "smithy.api#documentation": "<p>Use the token returned by the previous operation to request the next page of results.</p>"
                    }
                }
            }
        },
        "com.amazonaws.rum#GetAppMonitorDataResponse": {
            "type": "structure",
            "members": {
                "Events": {
                    "target": "com.amazonaws.rum#EventDataList",
                    "traits": {
                        "smithy.api#documentation": "<p>The events that RUM collected that match your request.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.rum#Token",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that you can use in a subsequent operation to retrieve the next set of\n         results.</p>"
                    }
                }
            }
        },
        "com.amazonaws.rum#GetAppMonitorRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.rum#AppMonitorName",
                    "traits": {
                        "smithy.api#documentation": "<p>The app monitor to retrieve information for.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.rum#GetAppMonitorResponse": {
            "type": "structure",
            "members": {
                "AppMonitor": {
                    "target": "com.amazonaws.rum#AppMonitor",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure containing all the configuration information for the app monitor.</p>"
                    }
                }
            }
        },
        "com.amazonaws.rum#GetResourcePolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.rum#GetResourcePolicyRequest"
            },
            "output": {
                "target": "com.amazonaws.rum#GetResourcePolicyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.rum#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.rum#ConflictException"
                },
                {
                    "target": "com.amazonaws.rum#InternalServerException"
                },
                {
                    "target": "com.amazonaws.rum#PolicyNotFoundException"
                },
                {
                    "target": "com.amazonaws.rum#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.rum#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.rum#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Use this operation to retrieve information about a resource-based policy that is attached to an app monitor.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/appmonitor/{Name}/policy"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.rum#GetResourcePolicyRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.rum#AppMonitorName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the app monitor that is associated with the resource-based policy that you want to view.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.rum#GetResourcePolicyResponse": {
            "type": "structure",
            "members": {
                "PolicyDocument": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The JSON policy document that you requested.</p>"
                    }
                },
                "PolicyRevisionId": {
                    "target": "com.amazonaws.rum#PolicyRevisionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The revision ID information for this version of the policy document that you requested.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.rum#ISOTimestampString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 19,
                    "max": 19
                }
            }
        },
        "com.amazonaws.rum#IamRoleArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "arn:[^:]*:[^:]*:[^:]*:[^:]*:.*"
            }
        },
        "com.amazonaws.rum#IdentityPoolId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 55
                },
                "smithy.api#pattern": "[\\w-]+:[0-9a-f-]+"
            }
        },
        "com.amazonaws.rum#InternalServerException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "retryAfterSeconds": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of a parameter in the request caused an error.</p>",
                        "smithy.api#httpHeader": "Retry-After"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Internal service exception.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.rum#InvalidPolicyRevisionIdException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The policy revision ID that you provided doeesn't match the latest policy revision ID.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.rum#JavaScriptSourceMaps": {
            "type": "structure",
            "members": {
                "Status": {
                    "target": "com.amazonaws.rum#DeobfuscationStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>\n         Specifies whether JavaScript error stack traces should be unminified for this app monitor. The default is for JavaScript error stack trace unminification to be <code>DISABLED</code>.\n      </p>",
                        "smithy.api#required": {}
                    }
                },
                "S3Uri": {
                    "target": "com.amazonaws.rum#DeobfuscationS3Uri",
                    "traits": {
                        "smithy.api#documentation": "<p>\n         The S3Uri of the bucket or folder that stores the source map files. It is required if status is ENABLED.\n      </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>\n         A structure that contains the configuration for how an app monitor can unminify JavaScript error stack traces using source maps.\n      </p>"
            }
        },
        "com.amazonaws.rum#JsonValue": {
            "type": "string",
            "traits": {
                "smithy.api#mediaType": "application/json"
            }
        },
        "com.amazonaws.rum#ListAppMonitors": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.rum#ListAppMonitorsRequest"
            },
            "output": {
                "target": "com.amazonaws.rum#ListAppMonitorsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.rum#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.rum#InternalServerException"
                },
                {
                    "target": "com.amazonaws.rum#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.rum#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns a list of the Amazon CloudWatch RUM app monitors in the account.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/appmonitors"
                },
                "smithy.api#paginated": {
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
                    "pageSize": "MaxResults",
                    "items": "AppMonitorSummaries"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.rum#ListAppMonitorsRequest": {
            "type": "structure",
            "members": {
                "MaxResults": {
                    "target": "com.amazonaws.rum#MaxResultsInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of results to return in one operation. The default is 50. The maximum that you can \n      specify is 100.</p>",
                        "smithy.api#httpQuery": "maxResults"
                    }
                },
                "NextToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Use the token returned by the previous operation to request the next page of results.</p>",
                        "smithy.api#httpQuery": "nextToken"
                    }
                }
            }
        },
        "com.amazonaws.rum#ListAppMonitorsResponse": {
            "type": "structure",
            "members": {
                "NextToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that you can use in a subsequent operation to retrieve the next set of\n         results.</p>"
                    }
                },
                "AppMonitorSummaries": {
                    "target": "com.amazonaws.rum#AppMonitorSummaryList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of structures that contain information about the returned app monitors.</p>"
                    }
                }
            }
        },
        "com.amazonaws.rum#ListRumMetricsDestinations": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.rum#ListRumMetricsDestinationsRequest"
            },
            "output": {
                "target": "com.amazonaws.rum#ListRumMetricsDestinationsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.rum#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.rum#InternalServerException"
                },
                {
                    "target": "com.amazonaws.rum#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.rum#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns a list of destinations that you have created to receive RUM extended metrics, \n         for the specified app monitor.</p>\n         <p>For more information about extended metrics, see <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_AddRumMetrcs.html\">AddRumMetrics</a>.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/rummetrics/{AppMonitorName}/metricsdestination"
                },
                "smithy.api#paginated": {
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
                    "pageSize": "MaxResults",
                    "items": "Destinations"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.rum#ListRumMetricsDestinationsRequest": {
            "type": "structure",
            "members": {
                "AppMonitorName": {
                    "target": "com.amazonaws.rum#AppMonitorName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the app monitor associated with the destinations that you want to retrieve.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "Name"
                    }
                },
                "MaxResults": {
                    "target": "com.amazonaws.rum#MaxResultsInteger",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of results to return in one operation. The default is 50. The maximum that you can \n         specify is 100.</p>\n         <p>To retrieve the remaining results, make another call with the returned \n         <code>NextToken</code> value. </p>",
                        "smithy.api#httpQuery": "maxResults"
                    }
                },
                "NextToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Use the token returned by the previous operation to request the next page of results.</p>",
                        "smithy.api#httpQuery": "nextToken"
                    }
                }
            }
        },
        "com.amazonaws.rum#ListRumMetricsDestinationsResponse": {
            "type": "structure",
            "members": {
                "Destinations": {
                    "target": "com.amazonaws.rum#MetricDestinationSummaryList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of CloudWatch RUM extended metrics destinations associated with the app monitor that \n      you specified.</p>"
                    }
                },
                "NextToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that you can use in a subsequent operation to \n         retrieve the next set of results.</p>"
                    }
                }
            }
        },
        "com.amazonaws.rum#ListTagsForResource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.rum#ListTagsForResourceRequest"
            },
            "output": {
                "target": "com.amazonaws.rum#ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.rum#InternalServerException"
                },
                {
                    "target": "com.amazonaws.rum#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.rum#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Displays the tags associated with a CloudWatch RUM resource.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/tags/{ResourceArn}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.rum#ListTagsForResourceRequest": {
            "type": "structure",
            "members": {
                "ResourceArn": {
                    "target": "com.amazonaws.rum#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the resource that you want to see the tags of.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.rum#ListTagsForResourceResponse": {
            "type": "structure",
            "members": {
                "ResourceArn": {
                    "target": "com.amazonaws.rum#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the resource that you are viewing.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.rum#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of tag keys and values associated with the resource you specified.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.rum#MalformedPolicyDocumentException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The policy document that you specified is not formatted correctly.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.rum#MaxQueryResults": {
            "type": "integer",
            "traits": {
                "smithy.api#default": 0,
                "smithy.api#range": {
                    "min": 0,
                    "max": 100
                }
            }
        },
        "com.amazonaws.rum#MaxResultsInteger": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.rum#MetricDefinition": {
            "type": "structure",
            "members": {
                "MetricDefinitionId": {
                    "target": "com.amazonaws.rum#MetricDefinitionId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of this metric definition.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "com.amazonaws.rum#MetricName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the metric that is defined in this structure.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ValueKey": {
                    "target": "com.amazonaws.rum#ValueKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The field within the event object that the metric value is sourced from.</p>"
                    }
                },
                "UnitLabel": {
                    "target": "com.amazonaws.rum#UnitLabel",
                    "traits": {
                        "smithy.api#documentation": "<p>Use this field only if you are sending this metric to CloudWatch. It defines\n         the CloudWatch metric unit that this metric is measured in. </p>"
                    }
                },
                "DimensionKeys": {
                    "target": "com.amazonaws.rum#DimensionKeysMap",
                    "traits": {
                        "smithy.api#documentation": "<p>This field is a map of field paths to dimension names. It defines the dimensions to associate with this\n         metric in CloudWatch The value of this field is used only if the metric destination is <code>CloudWatch</code>.\n         If the metric destination is <code>Evidently</code>, the value of <code>DimensionKeys</code> is ignored.</p>"
                    }
                },
                "EventPattern": {
                    "target": "com.amazonaws.rum#EventPattern",
                    "traits": {
                        "smithy.api#documentation": "<p>The pattern that defines the metric. RUM checks events that happen in a user's session\n      against the pattern, and events that match the pattern are sent to the metric destination.</p>\n         <p>If the metrics destination\n      is <code>CloudWatch</code> and the event\n      also matches a value in <code>DimensionKeys</code>, then the metric is published with the specified dimensions. </p>"
                    }
                },
                "Namespace": {
                    "target": "com.amazonaws.rum#Namespace",
                    "traits": {
                        "smithy.api#documentation": "<p>If this metric definition is for a custom metric instead of an extended metric, this field displays\n      the metric namespace that the custom metric is published to.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that displays the definition of one extended metric that RUM sends\n         to CloudWatch or CloudWatch Evidently. For more information, see \n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-vended-metrics.html\">\n            Additional metrics that you can send to CloudWatch and CloudWatch Evidently</a>.</p>"
            }
        },
        "com.amazonaws.rum#MetricDefinitionId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                }
            }
        },
        "com.amazonaws.rum#MetricDefinitionIds": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.rum#MetricDefinitionId"
            }
        },
        "com.amazonaws.rum#MetricDefinitionRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.rum#MetricName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name for the metric that is defined in this structure. For custom metrics, you can specify \n         any name that you like. For extended metrics, valid values are the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PerformanceNavigationDuration</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>PerformanceResourceDuration\n            </code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>NavigationSatisfiedTransaction</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>NavigationToleratedTransaction</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>NavigationFrustratedTransaction</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>WebVitalsCumulativeLayoutShift</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>WebVitalsFirstInputDelay</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>WebVitalsLargestContentfulPaint</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>JsErrorCount</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>HttpErrorCount</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>SessionCount</code>\n               </p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "ValueKey": {
                    "target": "com.amazonaws.rum#ValueKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The field within the event object that the metric value is sourced from.</p>\n         <p>If you omit this field, a hardcoded value of 1 is pushed as the metric value. This is\n         useful if you want to count the number of events that the filter catches. </p>\n         <p>If this metric is sent to CloudWatch Evidently, this field will be passed to\n         Evidently raw. Evidently will handle data extraction from the event.</p>"
                    }
                },
                "UnitLabel": {
                    "target": "com.amazonaws.rum#UnitLabel",
                    "traits": {
                        "smithy.api#documentation": "<p>The CloudWatch metric unit to use for this metric. If you omit this field, the metric\n      is recorded with no unit.</p>"
                    }
                },
                "DimensionKeys": {
                    "target": "com.amazonaws.rum#DimensionKeysMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Use this field only if you are sending the metric to CloudWatch.</p>\n         <p>This field is a map of field paths to dimension names. It defines the dimensions to associate with this\n         metric in CloudWatch. For extended metrics, valid values for the entries in this field are the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>\"metadata.pageId\": \"PageId\"</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>\"metadata.browserName\": \"BrowserName\"</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>\"metadata.deviceType\": \"DeviceType\"</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>\"metadata.osName\": \"OSName\"</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>\"metadata.countryCode\": \"CountryCode\"</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>\"event_details.fileType\": \"FileType\"</code>\n               </p>\n            </li>\n         </ul>\n         <p> For both extended metrics and custom metrics, \n         all dimensions listed in this field\n         must also be included in <code>EventPattern</code>.</p>"
                    }
                },
                "EventPattern": {
                    "target": "com.amazonaws.rum#EventPattern",
                    "traits": {
                        "smithy.api#documentation": "<p>The pattern that defines the metric, specified as a JSON object. RUM checks events that happen in a user's session\n         against the pattern, and events that match the pattern are sent to the metric destination.</p>\n         <p>When you define extended metrics, the metric definition is not valid if <code>EventPattern</code>\n      is omitted.</p>\n         <p>Example event patterns:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>'{\n            \"event_type\": [\"com.amazon.rum.js_error_event\"],\n            \"metadata\": {\n            \"browserName\": [ \"Chrome\", \"Safari\" ], } }'</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>'{\n            \"event_type\": [\"com.amazon.rum.performance_navigation_event\"],\n            \"metadata\": {\n            \"browserName\": [ \"Chrome\", \"Firefox\" ]\n            },\n            \"event_details\": {\n            \"duration\": [{\n            \"numeric\": [ \"&lt;\", 2000 ]\n            }]\n            }\n            }'</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>'{\n            \"event_type\": [\"com.amazon.rum.performance_navigation_event\"],\n            \"metadata\": {\n            \"browserName\": [ \"Chrome\", \"Safari\" ],\n            \"countryCode\": [ \"US\" ]\n            },\n            \"event_details\": {\n            \"duration\": [{\n            \"numeric\": [ \"&gt;=\", 2000, \"&lt;\", 8000 ]\n            }]\n            }\n            }'</code>\n               </p>\n            </li>\n         </ul>\n         <p>If the metrics destination is <code>CloudWatch</code> and the event also matches a value\n         in <code>DimensionKeys</code>, then the metric is published with the specified dimensions. </p>"
                    }
                },
                "Namespace": {
                    "target": "com.amazonaws.rum#Namespace",
                    "traits": {
[...]
