{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.s3control#AWSS3ControlServiceV20180820": {
            "type": "service",
            "version": "2018-08-20",
            "operations": [
                {
                    "target": "com.amazonaws.s3control#AssociateAccessGrantsIdentityCenter"
                },
                {
                    "target": "com.amazonaws.s3control#CreateAccessGrant"
                },
                {
                    "target": "com.amazonaws.s3control#CreateAccessGrantsInstance"
                },
                {
                    "target": "com.amazonaws.s3control#CreateAccessGrantsLocation"
                },
                {
                    "target": "com.amazonaws.s3control#CreateAccessPoint"
                },
                {
                    "target": "com.amazonaws.s3control#CreateAccessPointForObjectLambda"
                },
                {
                    "target": "com.amazonaws.s3control#CreateBucket"
                },
                {
                    "target": "com.amazonaws.s3control#CreateJob"
                },
                {
                    "target": "com.amazonaws.s3control#CreateMultiRegionAccessPoint"
                },
                {
                    "target": "com.amazonaws.s3control#CreateStorageLensGroup"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteAccessGrant"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteAccessGrantsInstance"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteAccessGrantsInstanceResourcePolicy"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteAccessGrantsLocation"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteAccessPoint"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteAccessPointForObjectLambda"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteAccessPointPolicy"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteAccessPointPolicyForObjectLambda"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteBucket"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteBucketLifecycleConfiguration"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteBucketPolicy"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteBucketReplication"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteBucketTagging"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteJobTagging"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteMultiRegionAccessPoint"
                },
                {
                    "target": "com.amazonaws.s3control#DeletePublicAccessBlock"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteStorageLensConfiguration"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteStorageLensConfigurationTagging"
                },
                {
                    "target": "com.amazonaws.s3control#DeleteStorageLensGroup"
                },
                {
                    "target": "com.amazonaws.s3control#DescribeJob"
                },
                {
                    "target": "com.amazonaws.s3control#DescribeMultiRegionAccessPointOperation"
                },
                {
                    "target": "com.amazonaws.s3control#DissociateAccessGrantsIdentityCenter"
                },
                {
                    "target": "com.amazonaws.s3control#GetAccessGrant"
                },
                {
                    "target": "com.amazonaws.s3control#GetAccessGrantsInstance"
                },
                {
                    "target": "com.amazonaws.s3control#GetAccessGrantsInstanceForPrefix"
                },
                {
                    "target": "com.amazonaws.s3control#GetAccessGrantsInstanceResourcePolicy"
                },
                {
                    "target": "com.amazonaws.s3control#GetAccessGrantsLocation"
                },
                {
                    "target": "com.amazonaws.s3control#GetAccessPoint"
                },
                {
                    "target": "com.amazonaws.s3control#GetAccessPointConfigurationForObjectLambda"
                },
                {
                    "target": "com.amazonaws.s3control#GetAccessPointForObjectLambda"
                },
                {
                    "target": "com.amazonaws.s3control#GetAccessPointPolicy"
                },
                {
                    "target": "com.amazonaws.s3control#GetAccessPointPolicyForObjectLambda"
                },
                {
                    "target": "com.amazonaws.s3control#GetAccessPointPolicyStatus"
                },
                {
                    "target": "com.amazonaws.s3control#GetAccessPointPolicyStatusForObjectLambda"
                },
                {
                    "target": "com.amazonaws.s3control#GetBucket"
                },
                {
                    "target": "com.amazonaws.s3control#GetBucketLifecycleConfiguration"
                },
                {
                    "target": "com.amazonaws.s3control#GetBucketPolicy"
                },
                {
                    "target": "com.amazonaws.s3control#GetBucketReplication"
                },
                {
                    "target": "com.amazonaws.s3control#GetBucketTagging"
                },
                {
                    "target": "com.amazonaws.s3control#GetBucketVersioning"
                },
                {
                    "target": "com.amazonaws.s3control#GetDataAccess"
                },
                {
                    "target": "com.amazonaws.s3control#GetJobTagging"
                },
                {
                    "target": "com.amazonaws.s3control#GetMultiRegionAccessPoint"
                },
                {
                    "target": "com.amazonaws.s3control#GetMultiRegionAccessPointPolicy"
                },
                {
                    "target": "com.amazonaws.s3control#GetMultiRegionAccessPointPolicyStatus"
                },
                {
                    "target": "com.amazonaws.s3control#GetMultiRegionAccessPointRoutes"
                },
                {
                    "target": "com.amazonaws.s3control#GetPublicAccessBlock"
                },
                {
                    "target": "com.amazonaws.s3control#GetStorageLensConfiguration"
                },
                {
                    "target": "com.amazonaws.s3control#GetStorageLensConfigurationTagging"
                },
                {
                    "target": "com.amazonaws.s3control#GetStorageLensGroup"
                },
                {
                    "target": "com.amazonaws.s3control#ListAccessGrants"
                },
                {
                    "target": "com.amazonaws.s3control#ListAccessGrantsInstances"
                },
                {
                    "target": "com.amazonaws.s3control#ListAccessGrantsLocations"
                },
                {
                    "target": "com.amazonaws.s3control#ListAccessPoints"
                },
                {
                    "target": "com.amazonaws.s3control#ListAccessPointsForObjectLambda"
                },
                {
                    "target": "com.amazonaws.s3control#ListCallerAccessGrants"
                },
                {
                    "target": "com.amazonaws.s3control#ListJobs"
                },
                {
                    "target": "com.amazonaws.s3control#ListMultiRegionAccessPoints"
                },
                {
                    "target": "com.amazonaws.s3control#ListRegionalBuckets"
                },
                {
                    "target": "com.amazonaws.s3control#ListStorageLensConfigurations"
                },
                {
                    "target": "com.amazonaws.s3control#ListStorageLensGroups"
                },
                {
                    "target": "com.amazonaws.s3control#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.s3control#PutAccessGrantsInstanceResourcePolicy"
                },
                {
                    "target": "com.amazonaws.s3control#PutAccessPointConfigurationForObjectLambda"
                },
                {
                    "target": "com.amazonaws.s3control#PutAccessPointPolicy"
                },
                {
                    "target": "com.amazonaws.s3control#PutAccessPointPolicyForObjectLambda"
                },
                {
                    "target": "com.amazonaws.s3control#PutBucketLifecycleConfiguration"
                },
                {
                    "target": "com.amazonaws.s3control#PutBucketPolicy"
                },
                {
                    "target": "com.amazonaws.s3control#PutBucketReplication"
                },
                {
                    "target": "com.amazonaws.s3control#PutBucketTagging"
                },
                {
                    "target": "com.amazonaws.s3control#PutBucketVersioning"
                },
                {
                    "target": "com.amazonaws.s3control#PutJobTagging"
                },
                {
                    "target": "com.amazonaws.s3control#PutMultiRegionAccessPointPolicy"
                },
                {
                    "target": "com.amazonaws.s3control#PutPublicAccessBlock"
                },
                {
                    "target": "com.amazonaws.s3control#PutStorageLensConfiguration"
                },
                {
                    "target": "com.amazonaws.s3control#PutStorageLensConfigurationTagging"
                },
                {
                    "target": "com.amazonaws.s3control#SubmitMultiRegionAccessPointRoutes"
                },
                {
                    "target": "com.amazonaws.s3control#TagResource"
                },
                {
                    "target": "com.amazonaws.s3control#UntagResource"
                },
                {
                    "target": "com.amazonaws.s3control#UpdateAccessGrantsLocation"
                },
                {
                    "target": "com.amazonaws.s3control#UpdateJobPriority"
                },
                {
                    "target": "com.amazonaws.s3control#UpdateJobStatus"
                },
                {
                    "target": "com.amazonaws.s3control#UpdateStorageLensGroup"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "S3 Control",
                    "arnNamespace": "s3",
                    "cloudFormationName": "S3Control",
                    "cloudTrailEventSource": "s3control.amazonaws.com",
                    "docId": "s3control-2018-08-20",
                    "endpointPrefix": "s3-control"
                },
                "aws.auth#sigv4": {
                    "name": "s3"
                },
                "aws.protocols#restXml": {},
                "smithy.api#documentation": "<p> Amazon Web Services S3 Control provides access to Amazon S3 control plane actions. </p>",
                "smithy.api#title": "AWS S3 Control",
                "smithy.api#xmlNamespace": {
                    "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
                },
                "smithy.rules#clientContextParams": {
                    "UseArnRegion": {
                        "documentation": "Enables this client to use an ARN's region when constructing an endpoint instead of the client's configured region.",
                        "type": "boolean"
                    }
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        },
                        "AccountId": {
                            "required": false,
                            "documentation": "The Account ID used to send the request. This is an optional parameter that will be set automatically for operations that require it.",
                            "type": "String"
                        },
                        "RequiresAccountId": {
                            "required": false,
                            "documentation": "Internal parameter for operations that require account id host prefix.",
                            "type": "Boolean"
                        },
                        "OutpostId": {
                            "required": false,
                            "documentation": "The Outpost ID.  Some operations have an optional OutpostId which should be used in endpoint construction.",
                            "type": "String"
                        },
                        "Bucket": {
                            "required": false,
                            "documentation": "The S3 bucket used to send the request. This is an optional parameter that will be set automatically for operations that are scoped to an S3 bucket.",
                            "type": "String"
                        },
                        "AccessPointName": {
                            "required": false,
                            "documentation": "The S3 AccessPointName used to send the request. This is an optional parameter that will be set automatically for operations that are scoped to an S3 AccessPoint.",
                            "type": "String"
                        },
                        "UseArnRegion": {
                            "builtIn": "AWS::S3Control::UseArnRegion",
                            "required": false,
                            "documentation": "When an Access Point ARN is provided and this flag is enabled, the SDK MUST use the ARN's region when constructing the endpoint instead of the client's configured region.",
                            "type": "Boolean"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "stringEquals",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                },
                                                "snow"
                                            ]
                                        },
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Endpoint"
                                                }
                                            ]
                                        },
                                        {
                                            "fn": "parseURL",
                                            "argv": [
                                                {
                                                    "ref": "Endpoint"
                                                }
                                            ],
                                            "assign": "url"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "partitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "error": "S3 Snow does not support DualStack",
                                                    "type": "error"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "error": "S3 Snow does not support FIPS",
                                                    "type": "error"
                                                },
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "{url#scheme}://{url#authority}",
                                                        "properties": {
                                                            "authSchemes": [
                                                                {
                                                                    "disableDoubleEncoding": true,
                                                                    "name": "sigv4",
                                                                    "signingName": "s3",
                                                                    "signingRegion": "{Region}"
                                                                }
                                                            ]
                                                        },
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "OutpostId"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "partitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "stringEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "partitionResult"
                                                                        },
                                                                        "name"
                                                                    ]
                                                                },
                                                                "aws-cn"
                                                            ]
                                                        }
                                                    ],
                                                    "error": "Partition does not support FIPS",
                                                    "type": "error"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "isSet",
                                                            "argv": [
                                                                {
                                                                    "ref": "RequiresAccountId"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "RequiresAccountId"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "not",
                                                            "argv": [
                                                                {
                                                                    "fn": "isSet",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "AccountId"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "error": "AccountId is required but not set",
                                                    "type": "error"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "isSet",
                                                            "argv": [
                                                                {
                                                                    "ref": "AccountId"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "not",
                                                            "argv": [
                                                                {
                                                                    "fn": "isValidHostLabel",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "AccountId"
                                                                        },
                                                                        false
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "error": "AccountId must only contain a-z, A-Z, 0-9 and `-`.",
                                                    "type": "error"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "not",
                                                            "argv": [
                                                                {
                                                                    "fn": "isValidHostLabel",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "OutpostId"
                                                                        },
                                                                        false
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "error": "OutpostId must only contain a-z, A-Z, 0-9 and `-`.",
                                                    "type": "error"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "isSet",
                                                            "argv": [
                                                                {
                                                                    "ref": "Endpoint"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "error": "Invalid Configuration: DualStack and custom endpoint are not supported",
                                                    "type": "error"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "isValidHostLabel",
                                                            "argv": [
                                                                {
                                                                    "ref": "Region"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "isSet",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "Endpoint"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "parseURL",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "Endpoint"
                                                                        }
                                                                    ],
                                                                    "assign": "url"
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "{url#scheme}://{url#authority}{url#path}",
                                                                "properties": {
                                                                    "authSchemes": [
                                                                        {
                                                                            "disableDoubleEncoding": true,
                                                                            "name": "sigv4",
                                                                            "signingName": "s3-outposts",
                                                                            "signingRegion": "{Region}"
                                                                        }
                                                                    ]
                                                                },
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "UseFIPS"
                                                                        },
                                                                        true
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "UseDualStack"
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://s3-outposts-fips.{Region}.{partitionResult#dualStackDnsSuffix}",
                                                                "properties": {
                                                                    "authSchemes": [
                                                                        {
                                                                            "disableDoubleEncoding": true,
                                                                            "name": "sigv4",
                                                                            "signingName": "s3-outposts",
                                                                            "signingRegion": "{Region}"
                                                                        }
                                                                    ]
                                                                },
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "UseFIPS"
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://s3-outposts-fips.{Region}.{partitionResult#dnsSuffix}",
                                                                "properties": {
                                                                    "authSchemes": [
                                                                        {
                                                                            "disableDoubleEncoding": true,
                                                                            "name": "sigv4",
                                                                            "signingName": "s3-outposts",
                                                                            "signingRegion": "{Region}"
                                                                        }
                                                                    ]
                                                                },
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "UseDualStack"
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://s3-outposts.{Region}.{partitionResult#dualStackDnsSuffix}",
                                                                "properties": {
                                                                    "authSchemes": [
                                                                        {
                                                                            "disableDoubleEncoding": true,
                                                                            "name": "sigv4",
                                                                            "signingName": "s3-outposts",
                                                                            "signingRegion": "{Region}"
                                                                        }
                                                                    ]
                                                                },
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://s3-outposts.{Region}.{partitionResult#dnsSuffix}",
                                                                "properties": {
                                                                    "authSchemes": [
                                                                        {
                                                                            "disableDoubleEncoding": true,
                                                                            "name": "sigv4",
                                                                            "signingName": "s3-outposts",
                                                                            "signingRegion": "{Region}"
                                                                        }
                                                                    ]
                                                                },
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "Invalid region: region was not a valid DNS name.",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "AccessPointName"
                                                }
                                            ]
                                        },
                                        {
                                            "fn": "aws.parseArn",
                                            "argv": [
                                                {
                                                    "ref": "AccessPointName"
                                                }
                                            ],
                                            "assign": "accessPointArn"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "getAttr",
                                                    "argv": [
                                                        {
                                                            "ref": "accessPointArn"
                                                        },
                                                        "resourceId[0]"
                                                    ],
                                                    "assign": "arnType"
                                                },
                                                {
                                                    "fn": "not",
                                                    "argv": [
                                                        {
                                                            "fn": "stringEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "arnType"
                                                                },
                                                                ""
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "stringEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "accessPointArn"
                                                                        },
                                                                        "service"
                                                                    ]
                                                                },
                                                                "s3-outposts"
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "accessPointArn"
                                                                        },
                                                                        "resourceId[1]"
                                                                    ],
                                                                    "assign": "outpostId"
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [
                                                                        {
                                                                            "fn": "isValidHostLabel",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "outpostId"
                                                                                },
                                                                                false
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [
                                                                                {
                                                                                    "fn": "isSet",
                                                                                    "argv": [
                                                                                        {
                                                                                            "ref": "Endpoint"
                                                                                        }
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "fn": "booleanEquals",
                                                                                    "argv": [
                                                                                        {
                                                                                            "ref": "UseDualStack"
                                                                                        },
                                                                                        true
                                                                                    ]
                                                                                }
                                                                            ],
                                                                            "error": "Invalid Configuration: DualStack and custom endpoint are not supported",
                                                                            "type": "error"
                                                                        },
                                                                        {
                                                                            "conditions": [
                                                                                {
                                                                                    "fn": "isSet",
                                                                                    "argv": [
                                                                                        {
                                                                                            "ref": "UseArnRegion"
                                                                                        }
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "fn": "booleanEquals",
                                                                                    "argv": [
                                                                                        {
                                                                                            "ref": "UseArnRegion"
                                                                                        },
                                                                                        false
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "fn": "not",
                                                                                    "argv": [
                                                                                        {
                                                                                            "fn": "stringEquals",
                                                                                            "argv": [
                                                                                                {
                                                                                                    "fn": "getAttr",
                                                                                                    "argv": [
                                                                                                        {
                                                                                                            "ref": "accessPointArn"
                                                                                                        },
                                                                                                        "region"
                                                                                                    ]
                                                                                                },
                                                                                                "{Region}"
                                                                                            ]
                                                                                        }
                                                                                    ]
                                                                                }
                                                                            ],
                                                                            "error": "Invalid configuration: region from ARN `{accessPointArn#region}` does not match client region `{Region}` and UseArnRegion is `false`",
                                                                            "type": "error"
                                                                        },
                                                                        {
                                                                            "conditions": [
                                                                                {
                                                                                    "fn": "aws.partition",
                                                                                    "argv": [
                                                                                        {
                                                                                            "ref": "Region"
                                                                                        }
                                                                                    ],
                                                                                    "assign": "partitionResult"
                                                                                }
                                                                            ],
                                                                            "rules": [
                                                                                {
                                                                                    "conditions": [
                                                                                        {
                                                                                            "fn": "aws.partition",
                                                                                            "argv": [
                                                                                                {
                                                                                                    "fn": "getAttr",
                                                                                                    "argv": [
                                                                                                        {
                                                                                                            "ref": "accessPointArn"
                                                                                                        },
                                                                                                        "region"
                                                                                                    ]
                                                                                                }
                                                                                            ],
                                                                                            "assign": "arnPartition"
                                                                                        }
                                                                                    ],
                                                                                    "rules": [
                                                                                        {
                                                                                            "conditions": [
                                                                                                {
                                                                                                    "fn": "stringEquals",
                                                                                                    "argv": [
                                                                                                        {
                                                                                                            "fn": "getAttr",
                                                                                                            "argv": [
                                                                                                                {
                                                                                                                    "ref": "arnPartition"
                                                                                                                },
                                                                                                                "name"
                                                                                                            ]
                                                                                                        },
                                                                                                        {
                                                                                                            "fn": "getAttr",
                                                                                                            "argv": [
                                                                                                                {
                                                                                                                    "ref": "partitionResult"
                                                                                                                },
                                                                                                                "name"
                                                                                                            ]
                                                                                                        }
                                                                                                    ]
                                                                                                }
                                                                                            ],
                                                                                            "rules": [
                                                                                                {
                                                                                                    "conditions": [
                                                                                                        {
                                                                                                            "fn": "isValidHostLabel",
                                                                                                            "argv": [
                                                                                                                {
                                                                                                                    "fn": "getAttr",
                                                                                                                    "argv": [
                                                                                                                        {
                                                                                                                            "ref": "accessPointArn"
                                                                                                                        },
                                                                                                                        "region"
                                                                                                                    ]
                                                                                                                },
                                                                                                                true
                                                                                                            ]
                                                                                                        }
                                                                                                    ],
                                                                                                    "rules": [
                                                                                                        {
                                                                                                            "conditions": [
                                                                                                                {
                                                                                                                    "fn": "not",
                                                                                                                    "argv": [
                                                                                                                        {
                                                                                                                            "fn": "stringEquals",
                                                                                                                            "argv": [
                                                                                                                                {
                                                                                                                                    "fn": "getAttr",
                                                                                                                                    "argv": [
                                                                                                                                        {
                                                                                                                                            "ref": "accessPointArn"
                                                                                                                                        },
                                                                                                                                        "accountId"
                                                                                                                                    ]
                                                                                                                                },
                                                                                                                                ""
                                                                                                                            ]
                                                                                                                        }
                                                                                                                    ]
                                                                                                                }
                                                                                                            ],
                                                                                                            "rules": [
                                                                                                                {
                                                                                                                    "conditions": [
                                                                                                                        {
                                                                                                                            "fn": "isValidHostLabel",
                                                                                                                            "argv": [
                                                                                                                                {
                                                                                                                                    "fn": "getAttr",
                                                                                                                                    "argv": [
                                                                                                                                        {
                                                                                                                                            "ref": "accessPointArn"
                                                                                                                                        },
                                                                                                                                        "accountId"
                                                                                                                                    ]
                                                                                                                                },
                                                                                                                                false
                                                                                                                            ]
                                                                                                                        }
                                                                                                                    ],
                                                                                                                    "rules": [
                                                                                                                        {
                                                                                                                            "conditions": [
                                                                                                                                {
                                                                                                                                    "fn": "isSet",
                                                                                                                                    "argv": [
                                                                                                                                        {
                                                                                                                                            "ref": "AccountId"
                                                                                                                                        }
                                                                                                                                    ]
                                                                                                                                },
                                                                                                                                {
                                                                                                                                    "fn": "not",
                                                                                                                                    "argv": [
                                                                                                                                        {
                                                                                                                                            "fn": "stringEquals",
                                                                                                                                            "argv": [
                                                                                                                                                {
                                                                                                                                                    "ref": "AccountId"
                                                                                                                                                },
                                                                                                                                                "{accessPointArn#accountId}"
                                                                                                                                            ]
                                                                                                                                        }
                                                                                                                                    ]
                                                                                                                                }
                                                                                                                            ],
                                                                                                                            "error": "Invalid ARN: the accountId specified in the ARN (`{accessPointArn#accountId}`) does not match the parameter (`{AccountId}`)",
                                                                                                                            "type": "error"
                                                                                                                        },
                                                                                                                        {
                                                                                                                            "conditions": [
                                                                                                                                {
                                                                                                                                    "fn": "getAttr",
                                                                                                                                    "argv": [
                                                                                                                                        {
                                                                                                                                            "ref": "accessPointArn"
                                                                                                                                        },
                                                                                                                                        "resourceId[2]"
                                                                                                                                    ],
                                                                                                                                    "assign": "outpostType"
                                                                                                                                }
                                                                                                                            ],
                                                                                                                            "rules": [
                                                                                                                                {
                                                                                                                                    "conditions": [
                                                                                                                                        {
                                                                                                                                            "fn": "getAttr",
                                                                                                                                            "argv": [
                                                                                                                                                {
                                                                                                                                                    "ref": "accessPointArn"
                                                                                                                                                },
                                                                                                                                                "resourceId[3]"
                                                                                                                                            ],
                                                                                                                                            "assign": "accessPointName"
                                                                                                                                        }
                                                                                                                                    ],
                                                                                                                                    "rules": [
                                                                                                                                        {
                                                                                                                                            "conditions": [
                                                                                                                                                {
                                                                                                                                                    "fn": "stringEquals",
                                                                                                                                                    "argv": [
                                                                                                                                                        {
                                                                                                                                                            "ref": "outpostType"
                                                                                                                                                        },
                                                                                                                                                        "accesspoint"
                                                                                                                                                    ]
                                                                                                                                                }
                                                                                                                                            ],
                                                                                                                                            "rules": [
                                                                                                                                                {
                                                                                                                                                    "conditions": [
                                                                                                                                                        {
                                                                                                                                                            "fn": "booleanEquals",
                                                                                                                                                            "argv": [
                                                                                                                                                                {
                                                                                                                                                                    "ref": "UseFIPS"
                                                                                                                                                                },
                                                                                                                                                                true
                                                                                                                                                            ]
                                                                                                                                                        },
                                                                                                                                                        {
                                                                                                                                                            "fn": "booleanEquals",
                                                                                                                                                            "argv": [
                                                                                                                                                                {
                                                                                                                                                                    "ref": "UseDualStack"
                                                                                                                                                                },
                                                                                                                                                                true
                                                                                                                                                            ]
                                                                                                                                                        }
                                                                                                                                                    ],
                                                                                                                                                    "endpoint": {
                                                                                                                                                        "url": "https://s3-outposts-fips.{accessPointArn#region}.{arnPartition#dualStackDnsSuffix}",
                                                                                                                                                        "properties": {
                                                                                                                                                            "authSchemes": [
                                                                                                                                                                {
                                                                                                                                                                    "disableDoubleEncoding": true,
                                                                                                                                                                    "name": "sigv4",
                                                                                                                                                                    "signingName": "s3-outposts",
                                                                                                                                                                    "signingRegion": "{accessPointArn#region}"
                                                                                                                                                                }
                                                                                                                                                            ]
                                                                                                                                                        },
                                                                                                                                                        "headers": {
                                                                                                                                                            "x-amz-account-id": [
                                                                                                                                                                "{accessPointArn#accountId}"
                                                                                                                                                            ],
                                                                                                                                                            "x-amz-outpost-id": [
                                                                                                                                                                "{outpostId}"
                                                                                                                                                            ]
                                                                                                                                                        }
                                                                                                                                                    },
                                                                                                                                                    "type": "endpoint"
                                                                                                                                                },
                                                                                                                                                {
                                                                                                                                                    "conditions": [
                                                                                                                                                        {
                                                                                                                                                            "fn": "booleanEquals",
                                                                                                                                                            "argv": [
                                                                                                                                                                {
                                                                                                                                                                    "ref": "UseFIPS"
                                                                                                                                                                },
                                                                                                                                                                true
                                                                                                                                                            ]
                                                                                                                                                        }
                                                                                                                                                    ],
                                                                                                                                                    "endpoint": {
                                                                                                                                                        "url": "https://s3-outposts-fips.{accessPointArn#region}.{arnPartition#dnsSuffix}",
                                                                                                                                                        "properties": {
                                                                                                                                                            "authSchemes": [
                                                                                                                                                                {
                                                                                                                                                                    "disableDoubleEncoding": true,
                                                                                                                                                                    "name": "sigv4",
                                                                                                                                                                    "signingName": "s3-outposts",
                                                                                                                                                                    "signingRegion": "{accessPointArn#region}"
                                                                                                                                                                }
                                                                                                                                                            ]
                                                                                                                                                        },
                                                                                                                                                        "headers": {
                                                                                                                                                            "x-amz-account-id": [
                                                                                                                                                                "{accessPointArn#accountId}"
                                                                                                                                                            ],
                                                                                                                                                            "x-amz-outpost-id": [
                                                                                                                                                                "{outpostId}"
                                                                                                                                                            ]
                                                                                                                                                        }
                                                                                                                                                    },
                                                                                                                                                    "type": "endpoint"
                                                                                                                                                },
                                                                                                                                                {
                                                                                                                                                    "conditions": [
                                                                                                                                                        {
                                                                                                                                                            "fn": "booleanEquals",
                                                                                                                                                            "argv": [
                                                                                                                                                                {
                                                                                                                                                                    "ref": "UseDualStack"
                                                                                                                                                                },
                                                                                                                                                                true
                                                                                                                                                            ]
                                                                                                                                                        }
                                                                                                                                                    ],
                                                                                                                                                    "endpoint": {
[...]
