{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.savingsplans#AWSSavingsPlan": {
            "type": "service",
            "version": "2019-06-28",
            "operations": [
                {
                    "target": "com.amazonaws.savingsplans#CreateSavingsPlan"
                },
                {
                    "target": "com.amazonaws.savingsplans#DeleteQueuedSavingsPlan"
                },
                {
                    "target": "com.amazonaws.savingsplans#DescribeSavingsPlanRates"
                },
                {
                    "target": "com.amazonaws.savingsplans#DescribeSavingsPlans"
                },
                {
                    "target": "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingRates"
                },
                {
                    "target": "com.amazonaws.savingsplans#DescribeSavingsPlansOfferings"
                },
                {
                    "target": "com.amazonaws.savingsplans#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.savingsplans#ReturnSavingsPlan"
                },
                {
                    "target": "com.amazonaws.savingsplans#TagResource"
                },
                {
                    "target": "com.amazonaws.savingsplans#UntagResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "savingsplans",
                    "arnNamespace": "savingsplans",
                    "cloudFormationName": "Savingsplans",
                    "cloudTrailEventSource": "savingsplans.amazonaws.com",
                    "endpointPrefix": "savingsplans"
                },
                "aws.auth#sigv4": {
                    "name": "savingsplans"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>Savings Plans are a pricing model that offer significant savings on Amazon Web Services usage (for example, on Amazon EC2 instances). You commit to a consistent\n         amount of usage per hour, in the specified currency, for a term of one or three years, and\n         receive a lower price for that usage. For more information, see the <a href=\"https://docs.aws.amazon.com/savingsplans/latest/userguide/\">Amazon Web Services\n            Savings Plans User Guide</a>.</p>",
                "smithy.api#title": "AWS Savings Plans",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        false
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://savingsplans.amazonaws.com",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "savingsplans",
                                                            "signingRegion": "us-east-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://savingsplans-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://savingsplans-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://savingsplans.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://savingsplans.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region aws-global with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "savingsplans",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://savingsplans.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "aws-global",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "savingsplans",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://savingsplans.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://savingsplans.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.savingsplans#Amount": {
            "type": "string"
        },
        "com.amazonaws.savingsplans#ClientToken": {
            "type": "string"
        },
        "com.amazonaws.savingsplans#CreateSavingsPlan": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.savingsplans#CreateSavingsPlanRequest"
            },
            "output": {
                "target": "com.amazonaws.savingsplans#CreateSavingsPlanResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.savingsplans#InternalServerException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a Savings Plan.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/CreateSavingsPlan",
                    "code": 200
                }
            }
        },
        "com.amazonaws.savingsplans#CreateSavingsPlanRequest": {
            "type": "structure",
            "members": {
                "savingsPlanOfferingId": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanOfferingId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the offering.</p>",
                        "smithy.api#required": {}
                    }
                },
                "commitment": {
                    "target": "com.amazonaws.savingsplans#Amount",
                    "traits": {
                        "smithy.api#documentation": "<p>The hourly commitment, in the same currency of the <code>savingsPlanOfferingId</code>.\n         This is a value between 0.001 and 1 million. You cannot specify more than five digits after\n         the decimal point.</p>",
                        "smithy.api#required": {}
                    }
                },
                "upfrontPaymentAmount": {
                    "target": "com.amazonaws.savingsplans#Amount",
                    "traits": {
                        "smithy.api#documentation": "<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the\n         total value of the Savings Plan. This parameter is only supported if the\n         payment option is <code>Partial Upfront</code>.</p>"
                    }
                },
                "purchaseTime": {
                    "target": "com.amazonaws.savingsplans#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The purchase time of the Savings Plan in UTC format\n         (YYYY-MM-DDTHH:MM:SSZ).</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.savingsplans#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n         request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.savingsplans#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>One or more tags.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.savingsplans#CreateSavingsPlanResponse": {
            "type": "structure",
            "members": {
                "savingsPlanId": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Savings Plan.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.savingsplans#CurrencyCode": {
            "type": "enum",
            "members": {
                "CNY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CNY"
                    }
                },
                "USD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "USD"
                    }
                }
            }
        },
        "com.amazonaws.savingsplans#CurrencyList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#CurrencyCode"
            }
        },
        "com.amazonaws.savingsplans#DateTime": {
            "type": "timestamp"
        },
        "com.amazonaws.savingsplans#DeleteQueuedSavingsPlan": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.savingsplans#DeleteQueuedSavingsPlanRequest"
            },
            "output": {
                "target": "com.amazonaws.savingsplans#DeleteQueuedSavingsPlanResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.savingsplans#InternalServerException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the queued purchase for the specified Savings Plan.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/DeleteQueuedSavingsPlan",
                    "code": 200
                }
            }
        },
        "com.amazonaws.savingsplans#DeleteQueuedSavingsPlanRequest": {
            "type": "structure",
            "members": {
                "savingsPlanId": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Savings Plan.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.savingsplans#DeleteQueuedSavingsPlanResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.savingsplans#DescribeSavingsPlanRates": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.savingsplans#DescribeSavingsPlanRatesRequest"
            },
            "output": {
                "target": "com.amazonaws.savingsplans#DescribeSavingsPlanRatesResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.savingsplans#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes the rates for the specified Savings Plan.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/DescribeSavingsPlanRates",
                    "code": 200
                }
            }
        },
        "com.amazonaws.savingsplans#DescribeSavingsPlanRatesRequest": {
            "type": "structure",
            "members": {
                "savingsPlanId": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Savings Plan.</p>",
                        "smithy.api#required": {}
                    }
                },
                "filters": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanRateFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The filters.</p>"
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.savingsplans#PaginationToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token for the next page of results.</p>"
                    }
                },
                "maxResults": {
                    "target": "com.amazonaws.savingsplans#MaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of results to return with a single call. To retrieve additional\n         results, make another call with the returned token value.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.savingsplans#DescribeSavingsPlanRatesResponse": {
            "type": "structure",
            "members": {
                "savingsPlanId": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Savings Plan.</p>"
                    }
                },
                "searchResults": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanRateList",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the Savings Plan rates.</p>"
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.savingsplans#PaginationToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is null when there are\n         no more results to return.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.savingsplans#DescribeSavingsPlans": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.savingsplans#DescribeSavingsPlansRequest"
            },
            "output": {
                "target": "com.amazonaws.savingsplans#DescribeSavingsPlansResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.savingsplans#InternalServerException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes the specified Savings Plans.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/DescribeSavingsPlans",
                    "code": 200
                }
            }
        },
        "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingRates": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingRatesRequest"
            },
            "output": {
                "target": "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingRatesResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.savingsplans#InternalServerException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes the offering rates for the specified Savings Plans.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/DescribeSavingsPlansOfferingRates",
                    "code": 200
                }
            }
        },
        "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingRatesRequest": {
            "type": "structure",
            "members": {
                "savingsPlanOfferingIds": {
                    "target": "com.amazonaws.savingsplans#UUIDs",
                    "traits": {
                        "smithy.api#documentation": "<p>The IDs of the offerings.</p>"
                    }
                },
                "savingsPlanPaymentOptions": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanPaymentOptionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The payment options.</p>"
                    }
                },
                "savingsPlanTypes": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The plan types.</p>"
                    }
                },
                "products": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanProductTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services products.</p>"
                    }
                },
                "serviceCodes": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanRateServiceCodeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The services.</p>"
                    }
                },
                "usageTypes": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanRateUsageTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The usage details of the line item in the billing report.</p>"
                    }
                },
                "operations": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanRateOperationList",
                    "traits": {
                        "smithy.api#documentation": "<p>The specific Amazon Web Services operation for the line item in the billing\n         report.</p>"
                    }
                },
                "filters": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanOfferingRateFiltersList",
                    "traits": {
                        "smithy.api#documentation": "<p>The filters.</p>"
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.savingsplans#PaginationToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token for the next page of results.</p>"
                    }
                },
                "maxResults": {
                    "target": "com.amazonaws.savingsplans#PageSize",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The maximum number of results to return with a single call. To retrieve additional\n         results, make another call with the returned token value.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingRatesResponse": {
            "type": "structure",
            "members": {
                "searchResults": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanOfferingRatesList",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the Savings Plans offering rates.</p>"
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.savingsplans#PaginationToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is null when there are\n         no more results to return.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.savingsplans#DescribeSavingsPlansOfferings": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingsRequest"
            },
            "output": {
                "target": "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.savingsplans#InternalServerException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes the offerings for the specified Savings Plans.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/DescribeSavingsPlansOfferings",
                    "code": 200
                }
            }
        },
        "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingsRequest": {
            "type": "structure",
            "members": {
                "offeringIds": {
                    "target": "com.amazonaws.savingsplans#UUIDs",
                    "traits": {
                        "smithy.api#documentation": "<p>The IDs of the offerings.</p>"
                    }
                },
                "paymentOptions": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanPaymentOptionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The payment options.</p>"
                    }
                },
                "productType": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanProductType",
                    "traits": {
                        "smithy.api#documentation": "<p>The product type.</p>"
                    }
                },
                "planTypes": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The plan types.</p>"
                    }
                },
                "durations": {
                    "target": "com.amazonaws.savingsplans#DurationsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The duration, in seconds.</p>"
                    }
                },
                "currencies": {
                    "target": "com.amazonaws.savingsplans#CurrencyList",
                    "traits": {
                        "smithy.api#documentation": "<p>The currencies.</p>"
                    }
                },
                "descriptions": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanDescriptionsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The descriptions.</p>"
                    }
                },
                "serviceCodes": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanServiceCodeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The services.</p>"
                    }
                },
                "usageTypes": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanUsageTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The usage details of the line item in the billing report.</p>"
                    }
                },
                "operations": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanOperationList",
                    "traits": {
                        "smithy.api#documentation": "<p>The specific Amazon Web Services operation for the line item in the billing\n         report.</p>"
                    }
                },
                "filters": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanOfferingFiltersList",
                    "traits": {
                        "smithy.api#documentation": "<p>The filters.</p>"
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.savingsplans#PaginationToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token for the next page of results.</p>"
                    }
                },
                "maxResults": {
                    "target": "com.amazonaws.savingsplans#PageSize",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The maximum number of results to return with a single call. To retrieve additional\n         results, make another call with the returned token value.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingsResponse": {
            "type": "structure",
            "members": {
                "searchResults": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanOfferingsList",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the Savings Plans offerings.</p>"
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.savingsplans#PaginationToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is null when there are\n         no more results to return.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.savingsplans#DescribeSavingsPlansRequest": {
            "type": "structure",
            "members": {
                "savingsPlanArns": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanArnList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the Savings Plans.</p>"
                    }
                },
                "savingsPlanIds": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The IDs of the Savings Plans.</p>"
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.savingsplans#PaginationToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token for the next page of results.</p>"
                    }
                },
                "maxResults": {
                    "target": "com.amazonaws.savingsplans#MaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of results to return with a single call. To retrieve additional\n         results, make another call with the returned token value.</p>"
                    }
                },
                "states": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanStateList",
                    "traits": {
                        "smithy.api#documentation": "<p>The current states of the Savings Plans.</p>"
                    }
                },
                "filters": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The filters.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.savingsplans#DescribeSavingsPlansResponse": {
            "type": "structure",
            "members": {
                "savingsPlans": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanList",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the Savings Plans.</p>"
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.savingsplans#PaginationToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is null when there are\n         no more results to return.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.savingsplans#DurationsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlansDuration"
            }
        },
        "com.amazonaws.savingsplans#EC2InstanceFamily": {
            "type": "string"
        },
        "com.amazonaws.savingsplans#FilterValuesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#JsonSafeFilterValueString"
            }
        },
        "com.amazonaws.savingsplans#InternalServerException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.savingsplans#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "InternalServerException",
                    "httpResponseCode": 500
                },
                "smithy.api#documentation": "<p>An unexpected error occurred.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "com.amazonaws.savingsplans#JsonSafeFilterValueString": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-zA-Z0-9_ \\/.\\:\\-\\(\\)]+$"
            }
        },
        "com.amazonaws.savingsplans#ListOfStrings": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#String"
            }
        },
        "com.amazonaws.savingsplans#ListTagsForResource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.savingsplans#ListTagsForResourceRequest"
            },
            "output": {
                "target": "com.amazonaws.savingsplans#ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.savingsplans#InternalServerException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Lists the tags for the specified resource.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/ListTagsForResource",
                    "code": 200
                }
            }
        },
        "com.amazonaws.savingsplans#ListTagsForResourceRequest": {
            "type": "structure",
            "members": {
                "resourceArn": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.savingsplans#ListTagsForResourceResponse": {
            "type": "structure",
            "members": {
                "tags": {
                    "target": "com.amazonaws.savingsplans#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the tags.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.savingsplans#MaxResults": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 1000
                }
            }
        },
        "com.amazonaws.savingsplans#PageSize": {
            "type": "integer",
            "traits": {
                "smithy.api#default": 0,
                "smithy.api#range": {
                    "min": 0,
                    "max": 1000
                }
            }
        },
        "com.amazonaws.savingsplans#PaginationToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1024
                },
                "smithy.api#pattern": "^[A-Za-z0-9/=\\+]+$"
            }
        },
        "com.amazonaws.savingsplans#ParentSavingsPlanOffering": {
            "type": "structure",
            "members": {
                "offeringId": {
                    "target": "com.amazonaws.savingsplans#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the offering.</p>"
                    }
                },
                "paymentOption": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanPaymentOption",
                    "traits": {
                        "smithy.api#documentation": "<p>The payment option.</p>"
                    }
                },
                "planType": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanType",
                    "traits": {
                        "smithy.api#documentation": "<p>The plan type.</p>"
                    }
                },
                "durationSeconds": {
                    "target": "com.amazonaws.savingsplans#SavingsPlansDuration",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The duration, in seconds.</p>"
                    }
                },
                "currency": {
                    "target": "com.amazonaws.savingsplans#CurrencyCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The currency.</p>"
                    }
                },
                "planDescription": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a Savings Plan offering.</p>"
            }
        },
        "com.amazonaws.savingsplans#Region": {
            "type": "string"
        },
        "com.amazonaws.savingsplans#ResourceNotFoundException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.savingsplans#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "aws.protocols#awsQueryError": {
                    "code": "ResourceNotFoundException",
                    "httpResponseCode": 404
                },
                "smithy.api#documentation": "<p>The specified resource was not found.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 404
            }
        },
        "com.amazonaws.savingsplans#ReturnSavingsPlan": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.savingsplans#ReturnSavingsPlanRequest"
            },
            "output": {
                "target": "com.amazonaws.savingsplans#ReturnSavingsPlanResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.savingsplans#InternalServerException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.savingsplans#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns the specified Savings Plan.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/ReturnSavingsPlan",
                    "code": 200
                }
            }
        },
        "com.amazonaws.savingsplans#ReturnSavingsPlanRequest": {
            "type": "structure",
            "members": {
                "savingsPlanId": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Savings Plan.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.savingsplans#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n         request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.savingsplans#ReturnSavingsPlanResponse": {
            "type": "structure",
            "members": {
                "savingsPlanId": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Savings Plan.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.savingsplans#SavingsPlan": {
            "type": "structure",
            "members": {
                "offeringId": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanOfferingId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the offering.</p>"
                    }
                },
                "savingsPlanId": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Savings Plan.</p>"
                    }
                },
                "savingsPlanArn": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Savings Plan.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.savingsplans#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The description.</p>"
                    }
                },
                "start": {
                    "target": "com.amazonaws.savingsplans#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The start time.</p>"
                    }
                },
                "end": {
                    "target": "com.amazonaws.savingsplans#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The end time.</p>"
                    }
                },
                "state": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state.</p>"
                    }
                },
                "region": {
                    "target": "com.amazonaws.savingsplans#Region",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Region.</p>"
                    }
                },
                "ec2InstanceFamily": {
                    "target": "com.amazonaws.savingsplans#EC2InstanceFamily",
                    "traits": {
                        "smithy.api#documentation": "<p>The EC2 instance family.</p>"
                    }
                },
                "savingsPlanType": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanType",
                    "traits": {
                        "smithy.api#documentation": "<p>The plan type.</p>"
                    }
                },
                "paymentOption": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanPaymentOption",
                    "traits": {
                        "smithy.api#documentation": "<p>The payment option.</p>"
                    }
                },
                "productTypes": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanProductTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The product types.</p>"
                    }
                },
                "currency": {
                    "target": "com.amazonaws.savingsplans#CurrencyCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The currency.</p>"
                    }
                },
                "commitment": {
                    "target": "com.amazonaws.savingsplans#Amount",
                    "traits": {
                        "smithy.api#documentation": "<p>The hourly commitment amount in the specified currency.</p>"
                    }
                },
                "upfrontPaymentAmount": {
                    "target": "com.amazonaws.savingsplans#Amount",
                    "traits": {
                        "smithy.api#documentation": "<p>The up-front payment amount.</p>"
                    }
                },
                "recurringPaymentAmount": {
                    "target": "com.amazonaws.savingsplans#Amount",
                    "traits": {
                        "smithy.api#documentation": "<p>The recurring payment amount.</p>"
                    }
                },
                "termDurationInSeconds": {
                    "target": "com.amazonaws.savingsplans#TermDurationInSeconds",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The duration of the term, in seconds.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.savingsplans#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>One or more tags.</p>"
                    }
                },
                "returnableUntil": {
                    "target": "com.amazonaws.savingsplans#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The time until when a return for the Savings Plan can be requested. If the\n            Savings Plan is not returnable, the field reflects the Savings Plan start time.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a Savings Plan.</p>"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:aws:[a-z]+:([a-z]{2}-[a-z]+-\\d{1}|):(\\d{12}):savingsplan\\/([0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})$"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanArnList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlanArn"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 100
                }
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanDescription": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-zA-Z0-9_\\- ]+$"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanDescriptionsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlanDescription"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanFilter": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.savingsplans#SavingsPlansFilterName",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter name.</p>"
                    }
                },
                "values": {
                    "target": "com.amazonaws.savingsplans#ListOfStrings",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter value.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a Savings Plan filter.</p>"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlanFilter"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanId": {
            "type": "string"
        },
        "com.amazonaws.savingsplans#SavingsPlanIdList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlanId"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlan"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOffering": {
            "type": "structure",
            "members": {
                "offeringId": {
                    "target": "com.amazonaws.savingsplans#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the offering.</p>"
                    }
                },
                "productTypes": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanProductTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The product type.</p>"
                    }
                },
                "planType": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanType",
                    "traits": {
                        "smithy.api#documentation": "<p>The plan type.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description.</p>"
                    }
                },
                "paymentOption": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanPaymentOption",
                    "traits": {
                        "smithy.api#documentation": "<p>The payment option.</p>"
                    }
                },
                "durationSeconds": {
                    "target": "com.amazonaws.savingsplans#SavingsPlansDuration",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The duration, in seconds.</p>"
                    }
                },
                "currency": {
                    "target": "com.amazonaws.savingsplans#CurrencyCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The currency.</p>"
                    }
                },
                "serviceCode": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanServiceCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The service.</p>"
                    }
                },
                "usageType": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanUsageType",
                    "traits": {
                        "smithy.api#documentation": "<p>The usage details of the line item in the billing report.</p>"
                    }
                },
                "operation": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanOperation",
                    "traits": {
                        "smithy.api#documentation": "<p>The specific Amazon Web Services operation for the line item in the billing\n         report.</p>"
                    }
                },
                "properties": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanOfferingPropertyList",
                    "traits": {
                        "smithy.api#documentation": "<p>The properties.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a Savings Plan offering.</p>"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOfferingFilterAttribute": {
            "type": "enum",
            "members": {
                "region": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "region"
                    }
                },
                "instanceFamily": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "instanceFamily"
                    }
                }
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOfferingFilterElement": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanOfferingFilterAttribute",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter name.</p>"
                    }
                },
                "values": {
                    "target": "com.amazonaws.savingsplans#FilterValuesList",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter values.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a Savings Plan offering filter.</p>"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOfferingFiltersList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlanOfferingFilterElement"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOfferingId": {
            "type": "string"
        },
        "com.amazonaws.savingsplans#SavingsPlanOfferingProperty": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanOfferingPropertyKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The property name.</p>"
                    }
                },
                "value": {
                    "target": "com.amazonaws.savingsplans#JsonSafeFilterValueString",
                    "traits": {
                        "smithy.api#documentation": "<p>The property value.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a Savings Plan offering property.</p>"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOfferingPropertyKey": {
            "type": "enum",
            "members": {
                "REGION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "region"
                    }
                },
                "INSTANCE_FAMILY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "instanceFamily"
                    }
                }
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOfferingPropertyList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlanOfferingProperty"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOfferingRate": {
            "type": "structure",
            "members": {
                "savingsPlanOffering": {
                    "target": "com.amazonaws.savingsplans#ParentSavingsPlanOffering",
                    "traits": {
                        "smithy.api#documentation": "<p>The Savings Plan offering.</p>"
                    }
                },
                "rate": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanRatePricePerUnit",
                    "traits": {
                        "smithy.api#documentation": "<p>The Savings Plan rate.</p>"
                    }
                },
                "unit": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanRateUnit",
                    "traits": {
                        "smithy.api#documentation": "<p>The unit.</p>"
                    }
                },
                "productType": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanProductType",
                    "traits": {
                        "smithy.api#documentation": "<p>The product type.</p>"
                    }
                },
                "serviceCode": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanRateServiceCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The service.</p>"
                    }
                },
                "usageType": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanRateUsageType",
                    "traits": {
                        "smithy.api#documentation": "<p>The usage details of the line item in the billing report.</p>"
                    }
                },
                "operation": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanRateOperation",
                    "traits": {
                        "smithy.api#documentation": "<p>The specific Amazon Web Services operation for the line item in the billing\n         report.</p>"
                    }
                },
                "properties": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanOfferingRatePropertyList",
                    "traits": {
                        "smithy.api#documentation": "<p>The properties.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a Savings Plan offering rate.</p>"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOfferingRateFilterElement": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanRateFilterAttribute",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter name.</p>"
                    }
                },
                "values": {
                    "target": "com.amazonaws.savingsplans#FilterValuesList",
                    "traits": {
                        "smithy.api#documentation": "<p>The filter values.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a Savings Plan offering rate filter.</p>"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOfferingRateFiltersList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlanOfferingRateFilterElement"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOfferingRateProperty": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.savingsplans#JsonSafeFilterValueString",
                    "traits": {
                        "smithy.api#documentation": "<p>The property name.</p>"
                    }
                },
                "value": {
                    "target": "com.amazonaws.savingsplans#JsonSafeFilterValueString",
                    "traits": {
                        "smithy.api#documentation": "<p>The property value.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about a Savings Plan offering rate property.</p>"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOfferingRatePropertyList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlanOfferingRateProperty"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOfferingRatesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlanOfferingRate"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOfferingsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlanOffering"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOperation": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 255
                },
                "smithy.api#pattern": "^[a-zA-Z0-9_ \\/.:-]*$"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanOperationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlanOperation"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanPaymentOption": {
            "type": "enum",
            "members": {
                "ALL_UPFRONT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "All Upfront"
                    }
                },
                "PARTIAL_UPFRONT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Partial Upfront"
                    }
                },
                "NO_UPFRONT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "No Upfront"
                    }
                }
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanPaymentOptionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlanPaymentOption"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanProductType": {
            "type": "enum",
            "members": {
                "EC2": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EC2"
                    }
                },
                "FARGATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Fargate"
                    }
                },
                "LAMBDA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "Lambda"
                    }
                },
                "SAGEMAKER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SageMaker"
                    }
                }
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanProductTypeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.savingsplans#SavingsPlanProductType"
            }
        },
        "com.amazonaws.savingsplans#SavingsPlanRate": {
            "type": "structure",
            "members": {
                "rate": {
                    "target": "com.amazonaws.savingsplans#Amount",
                    "traits": {
                        "smithy.api#documentation": "<p>The rate.</p>"
                    }
                },
                "currency": {
                    "target": "com.amazonaws.savingsplans#CurrencyCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The currency.</p>"
                    }
                },
                "unit": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanRateUnit",
                    "traits": {
                        "smithy.api#documentation": "<p>The unit.</p>"
                    }
                },
                "productType": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanProductType",
                    "traits": {
                        "smithy.api#documentation": "<p>The product type.</p>"
                    }
                },
                "serviceCode": {
                    "target": "com.amazonaws.savingsplans#SavingsPlanRateServiceCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The service.</p>"
                    }
                },
[...]
