{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.securitylake#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                },
                "errorCode": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A coded string to provide more information about the access denied exception. You can use the error code to check the exception type.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action. Access denied errors appear when Amazon Security Lake explicitly or implicitly denies an authorization\n         request. An explicit denial occurs when a policy contains a Deny statement for the specific\n         Amazon Web Services action. An implicit denial occurs when there is no applicable Deny statement and also\n         no applicable Allow statement.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.securitylake#AccessType": {
            "type": "enum",
            "members": {
                "LAKEFORMATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LAKEFORMATION"
                    }
                },
                "S3": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "S3"
                    }
                }
            }
        },
        "com.amazonaws.securitylake#AccessTypeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securitylake#AccessType"
            }
        },
        "com.amazonaws.securitylake#AccountList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securitylake#AwsAccountId"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.securitylake#AmazonResourceName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1011
                },
                "smithy.api#pattern": "^arn:(aws|aws-us-gov|aws-cn):securitylake:[A-Za-z0-9_/.\\-]{0,63}:[A-Za-z0-9_/.\\-]{0,63}:[A-Za-z0-9][A-Za-z0-9_/.\\-]{0,127}$"
            }
        },
        "com.amazonaws.securitylake#AwsAccountId": {
            "type": "string",
            "traits": {
                "aws.api#data": "account",
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "^[0-9]{12}$"
            }
        },
        "com.amazonaws.securitylake#AwsIdentity": {
            "type": "structure",
            "members": {
                "principal": {
                    "target": "com.amazonaws.securitylake#AwsPrincipal",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services identity principal.</p>",
                        "smithy.api#required": {}
                    }
                },
                "externalId": {
                    "target": "com.amazonaws.securitylake#ExternalId",
                    "traits": {
                        "smithy.api#documentation": "<p>The external ID used to establish trust relationship with the Amazon Web Services identity.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Amazon Web Services identity.</p>"
            }
        },
        "com.amazonaws.securitylake#AwsLogSourceConfiguration": {
            "type": "structure",
            "members": {
                "accounts": {
                    "target": "com.amazonaws.securitylake#AccountList",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify the Amazon Web Services account information where you want to enable Security Lake.</p>"
                    }
                },
                "regions": {
                    "target": "com.amazonaws.securitylake#RegionList",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify the Regions where you want to enable Security Lake.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sourceName": {
                    "target": "com.amazonaws.securitylake#AwsLogSourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name for a Amazon Web Services source. </p>",
                        "smithy.api#required": {}
                    }
                },
                "sourceVersion": {
                    "target": "com.amazonaws.securitylake#AwsLogSourceVersion",
                    "traits": {
                        "smithy.api#default": "latest",
                        "smithy.api#documentation": "<p>The version for a Amazon Web Services source. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>To add a natively-supported Amazon Web Services service as a log source, use these\n         parameters to specify the configuration settings for the log source. </p>"
            }
        },
        "com.amazonaws.securitylake#AwsLogSourceConfigurationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securitylake#AwsLogSourceConfiguration"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                }
            }
        },
        "com.amazonaws.securitylake#AwsLogSourceName": {
            "type": "enum",
            "members": {
                "ROUTE53": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ROUTE53"
                    }
                },
                "VPC_FLOW": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "VPC_FLOW"
                    }
                },
                "SH_FINDINGS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SH_FINDINGS"
                    }
                },
                "CLOUD_TRAIL_MGMT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CLOUD_TRAIL_MGMT"
                    }
                },
                "LAMBDA_EXECUTION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LAMBDA_EXECUTION"
                    }
                },
                "S3_DATA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "S3_DATA"
                    }
                },
                "EKS_AUDIT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EKS_AUDIT"
                    }
                },
                "WAF": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "WAF"
                    }
                }
            }
        },
        "com.amazonaws.securitylake#AwsLogSourceResource": {
            "type": "structure",
            "members": {
                "sourceName": {
                    "target": "com.amazonaws.securitylake#AwsLogSourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name for a Amazon Web Services source. This must be a Regionally unique value.</p>"
                    }
                },
                "sourceVersion": {
                    "target": "com.amazonaws.securitylake#AwsLogSourceVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version for a Amazon Web Services source. This must be a Regionally unique value.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Amazon Security Lake can collect logs and events from natively-supported Amazon Web Services\n         services.</p>"
            }
        },
        "com.amazonaws.securitylake#AwsLogSourceResourceList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securitylake#AwsLogSourceResource"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.securitylake#AwsLogSourceVersion": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^(latest|[0-9]\\.[0-9])$"
            }
        },
        "com.amazonaws.securitylake#AwsPrincipal": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^([0-9]{12}|[a-z0-9\\.\\-]*\\.(amazonaws|amazon)\\.com)$"
            }
        },
        "com.amazonaws.securitylake#BadRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.securitylake#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                },
                "resourceName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource name.</p>"
                    }
                },
                "resourceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource type.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Occurs when a conflict with a previous successful write is detected. This generally\n         occurs when the previous write did not have time to propagate to the host serving the\n         current request. A retry (with appropriate backoff logic) is the recommended response to\n         this exception.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.securitylake#CreateAwsLogSource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#CreateAwsLogSourceRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#CreateAwsLogSourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to enable any source type in any region for accounts that are either part of a trusted organization or standalone account",
                "aws.iam#requiredActions": [
                    "iam:CreateServiceLinkedRole",
                    "kms:DescribeKey",
                    "kms:CreateGrant",
                    "glue:GetTable",
                    "glue:GetDatabase",
                    "glue:CreateTable",
                    "glue:CreateDatabase"
                ],
                "smithy.api#documentation": "<p>Adds a natively supported Amazon Web Services service as an Amazon Security Lake source. Enables\n         source types for member accounts in required Amazon Web Services Regions, based on the\n         parameters you specify. You can choose any source type in any Region for either accounts\n         that are part of a trusted organization or standalone accounts. Once you add an Amazon Web Services service as a source, Security Lake starts collecting logs and events from it.</p>\n         <p>You can use this API only to enable natively supported Amazon Web Services services as a\n         source. Use <code>CreateCustomLogSource</code> to enable data collection from a custom\n         source.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/datalake/logsources/aws",
                    "code": 200
                }
            }
        },
        "com.amazonaws.securitylake#CreateAwsLogSourceRequest": {
            "type": "structure",
            "members": {
                "sources": {
                    "target": "com.amazonaws.securitylake#AwsLogSourceConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify the natively-supported Amazon Web Services service to add as a source in Security Lake.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#CreateAwsLogSourceResponse": {
            "type": "structure",
            "members": {
                "failed": {
                    "target": "com.amazonaws.securitylake#AccountList",
                    "traits": {
                        "smithy.api#documentation": "<p>Lists all accounts in which enabling a natively supported Amazon Web Services service as\n         a Security Lake source failed. The failure occurred as these accounts are not part of an\n         organization.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#CreateCustomLogSource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#CreateCustomLogSourceRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#CreateCustomLogSourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to add a custom source",
                "aws.iam#requiredActions": [
                    "iam:GetRole",
                    "iam:PutRolePolicy",
                    "iam:DeleteRolePolicy",
                    "iam:PassRole",
                    "s3:PutObject",
                    "s3:ListBucket",
                    "lakeformation:RegisterResource",
                    "lakeformation:GrantPermissions",
                    "kms:DescribeKey",
                    "kms:CreateGrant",
                    "kms:GenerateDataKey",
                    "glue:CreateCrawler",
                    "glue:StartCrawlerSchedule",
                    "glue:CreateTable",
                    "glue:CreateDatabase"
                ],
                "smithy.api#documentation": "<p>Adds a third-party custom source in Amazon Security Lake, from the Amazon Web Services Region\n         where you want to create a custom source. Security Lake can collect logs and events from\n         third-party custom sources. After creating the appropriate IAM role to\n         invoke Glue crawler, use this API to add a custom source name in Security Lake. This\n         operation creates a partition in the Amazon S3 bucket for Security Lake as the target\n         location for log files from the custom source. In addition, this operation also creates an\n         associated Glue table and an Glue crawler.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/datalake/logsources/custom",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.securitylake#CreateCustomLogSourceRequest": {
            "type": "structure",
            "members": {
                "sourceName": {
                    "target": "com.amazonaws.securitylake#CustomLogSourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify the name for a third-party custom source. This must be a Regionally unique\n         value. The <code>sourceName</code> you enter here, is used in the\n            <code>LogProviderRole</code> name which follows the convention\n            <code>AmazonSecurityLake-Provider-{name of the custom source}-{region}</code>. You must\n         use a <code>CustomLogSource</code> name that is shorter than or equal to 20 characters.\n         This ensures that the <code>LogProviderRole</code> name is below the 64 character\n         limit.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sourceVersion": {
                    "target": "com.amazonaws.securitylake#CustomLogSourceVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify the source version for the third-party custom source, to limit log collection to\n         a specific version of custom data source.</p>"
                    }
                },
                "eventClasses": {
                    "target": "com.amazonaws.securitylake#OcsfEventClassList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Open Cybersecurity Schema Framework (OCSF) event classes which describes the type of\n         data that the custom source will send to Security Lake. For the list of supported event classes, see the <a href=\"https://docs.aws.amazon.com/security-lake/latest/userguide/adding-custom-sources.html#ocsf-eventclass\">Amazon Security Lake User Guide</a>.</p>"
                    }
                },
                "configuration": {
                    "target": "com.amazonaws.securitylake#CustomLogSourceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration used for the third-party custom source.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#CreateCustomLogSourceResponse": {
            "type": "structure",
            "members": {
                "source": {
                    "target": "com.amazonaws.securitylake#CustomLogSourceResource",
                    "traits": {
                        "smithy.api#documentation": "<p>The third-party custom source that was created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#CreateDataLake": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#CreateDataLakeRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#CreateDataLakeResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to create a new security data lake",
                "aws.iam#conditionKeys": [
                    "aws:TagKeys",
                    "aws:RequestTag/${TagKey}"
                ],
                "aws.iam#requiredActions": [
                    "iam:CreateServiceLinkedRole",
                    "iam:GetRole",
                    "iam:PutRolePolicy",
                    "iam:DeleteRolePolicy",
                    "iam:PassRole",
                    "s3:PutBucketPolicy",
                    "s3:PutBucketPublicAccessBlock",
                    "s3:CreateBucket",
                    "s3:ListBucket",
                    "s3:PutBucketVersioning",
                    "s3:PutBucketVersioning",
                    "organizations:DescribeOrganization",
                    "organizations:ListDelegatedServicesForAccount",
                    "lakeformation:GetDataLakeSettings",
                    "lakeformation:PutDataLakeSettings",
                    "kms:DescribeKey",
                    "kms:CreateGrant",
                    "events:PutRule",
                    "events:PutTargets",
                    "sqs:CreateQueue",
                    "sqs:GetQueueAttributes",
                    "sqs:SetQueueAttributes",
                    "lambda:CreateFunction",
                    "lambda:CreateEventSourceMapping"
                ],
                "smithy.api#documentation": "<p>Initializes an Amazon Security Lake instance with the provided (or default) configuration. You\n         can enable Security Lake in Amazon Web Services Regions with customized settings before enabling\n         log collection in Regions. To specify particular Regions, configure these Regions using the\n            <code>configurations</code> parameter. If you have already enabled Security Lake in a Region\n         when you call this command, the command will update the Region if you provide new\n         configuration parameters. If you have not already enabled Security Lake in the Region when you\n         call this API, it will set up the data lake in the Region with the specified\n         configurations.</p>\n         <p>When you enable Security Lake, it starts ingesting security data after the\n            <code>CreateAwsLogSource</code> call and after you create subscribers using the <code>CreateSubscriber</code> API. This includes ingesting security data from\n         sources, storing data, and making data accessible to subscribers. Security Lake also enables\n         all the existing settings and resources that it stores or maintains for your Amazon Web Services account in the current Region, including security log and event data. For\n         more information, see the <a href=\"https://docs.aws.amazon.com/security-lake/latest/userguide/what-is-security-lake.html\">Amazon Security Lake User\n            Guide</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/datalake",
                    "code": 200
                }
            }
        },
        "com.amazonaws.securitylake#CreateDataLakeExceptionSubscription": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#CreateDataLakeExceptionSubscriptionRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#CreateDataLakeExceptionSubscriptionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to get instant notifications about exceptions. Subscribes to the SNS topics for exception notifications",
                "smithy.api#documentation": "<p>Creates the specified notification subscription in Amazon Security Lake for the organization\n         you specify. The notification subscription is created for exceptions that cannot be resolved by Security Lake automatically.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/datalake/exceptions/subscription",
                    "code": 200
                }
            }
        },
        "com.amazonaws.securitylake#CreateDataLakeExceptionSubscriptionRequest": {
            "type": "structure",
            "members": {
                "subscriptionProtocol": {
                    "target": "com.amazonaws.securitylake#SubscriptionProtocol",
                    "traits": {
                        "smithy.api#documentation": "<p>The subscription protocol to which exception notifications are posted.</p>",
                        "smithy.api#required": {}
                    }
                },
                "notificationEndpoint": {
                    "target": "com.amazonaws.securitylake#SafeString",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account where you want to receive exception notifications.</p>",
                        "smithy.api#required": {}
                    }
                },
                "exceptionTimeToLive": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p>The expiration period and time-to-live (TTL). It is the duration of time until which the exception message remains.</p>",
                        "smithy.api#range": {
                            "min": 1
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#CreateDataLakeExceptionSubscriptionResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#CreateDataLakeOrganizationConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#CreateDataLakeOrganizationConfigurationRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#CreateDataLakeOrganizationConfigurationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to automatically enable Amazon Security Lake for new member accounts in your organization. or Grants permission to automatically enable Amazon Security Lake for new organization accounts",
                "smithy.api#documentation": "<p>Automatically enables Amazon Security Lake for new member accounts in your organization.\n         Security Lake is not automatically enabled for any existing member accounts in your\n         organization.</p>\n         <p>This operation merges the new data lake organization configuration with the existing configuration for Security Lake in your organization. If you want to create a new data lake organization configuration, you must delete the existing one using <a href=\"https://docs.aws.amazon.com/security-lake/latest/APIReference/API_DeleteDataLakeOrganizationConfiguration.html\">DeleteDataLakeOrganizationConfiguration</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/datalake/organization/configuration",
                    "code": 200
                }
            }
        },
        "com.amazonaws.securitylake#CreateDataLakeOrganizationConfigurationRequest": {
            "type": "structure",
            "members": {
                "autoEnableNewAccount": {
                    "target": "com.amazonaws.securitylake#DataLakeAutoEnableNewAccountConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>Enable Security Lake with the specified configuration settings, to begin collecting security\n         data for new accounts in your organization.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#CreateDataLakeOrganizationConfigurationResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#CreateDataLakeRequest": {
            "type": "structure",
            "members": {
                "configurations": {
                    "target": "com.amazonaws.securitylake#DataLakeConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify the Region or Regions that will contribute data to the rollup region.</p>",
                        "smithy.api#required": {}
                    }
                },
                "metaStoreManagerRoleArn": {
                    "target": "com.amazonaws.securitylake#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) used to create and update the Glue table.\n         This table contains partitions generated by the ingestion and normalization of\n          Amazon Web Services log sources and custom sources.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.securitylake#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects, one for each tag to associate with the data lake configuration. For each tag, you must specify both a tag key and a tag value. A tag \n         value cannot be null, but it can be an empty string.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#CreateDataLakeResponse": {
            "type": "structure",
            "members": {
                "dataLakes": {
                    "target": "com.amazonaws.securitylake#DataLakeResourceList",
                    "traits": {
                        "smithy.api#documentation": "<p>The created Security Lake configuration object.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#CreateSubscriber": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#CreateSubscriberRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#CreateSubscriberResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to create a subscriber",
                "aws.iam#conditionKeys": [
                    "aws:TagKeys",
                    "aws:RequestTag/${TagKey}"
                ],
                "aws.iam#requiredActions": [
                    "iam:GetRole",
                    "iam:PutRolePolicy",
                    "iam:DeleteRolePolicy",
                    "iam:CreateRole",
                    "s3:PutObject",
                    "lakeformation:RegisterResource",
                    "lakeformation:GrantPermissions",
                    "lakeformation:RevokePermissions",
                    "lakeformation:ListPermissions",
                    "ram:GetResourceShareAssociations",
                    "ram:UpdateResourceShare",
                    "ram:GetResourceShares"
                ],
                "smithy.api#documentation": "<p>Creates a subscriber for accounts that are already enabled in Amazon Security Lake. You can\n         create a subscriber with access to data in the current Amazon Web Services Region.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/subscribers",
                    "code": 200
                }
            }
        },
        "com.amazonaws.securitylake#CreateSubscriberNotification": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#CreateSubscriberNotificationRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#CreateSubscriberNotificationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to create a webhook invocation to notify a client when there is new data in the data lake",
                "aws.iam#requiredActions": [
                    "iam:GetRole",
                    "iam:PassRole",
                    "iam:DeleteRolePolicy",
                    "s3:PutBucketNotification",
                    "s3:GetBucketNotification",
                    "events:CreateApiDestination",
                    "events:CreateConnection",
                    "events:ListApiDestinations",
                    "events:ListConnections",
                    "events:PutRule",
                    "events:DescribeRule",
                    "events:PutTargets",
                    "sqs:CreateQueue",
                    "sqs:DeleteQueue",
                    "sqs:GetQueueAttributes",
                    "sqs:GetQueueUrl",
                    "sqs:SetQueueAttributes"
                ],
                "smithy.api#documentation": "<p>Notifies the subscriber when new data is written to the data lake for the sources that\n         the subscriber consumes in Security Lake. You can create only one subscriber notification per\n         subscriber.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/subscribers/{subscriberId}/notification",
                    "code": 200
                }
            }
        },
        "com.amazonaws.securitylake#CreateSubscriberNotificationRequest": {
            "type": "structure",
            "members": {
                "subscriberId": {
                    "target": "com.amazonaws.securitylake#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The subscriber ID for the notification subscription.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "configuration": {
                    "target": "com.amazonaws.securitylake#NotificationConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify the configuration using which you want to create the subscriber\n         notification.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#CreateSubscriberNotificationResponse": {
            "type": "structure",
            "members": {
                "subscriberEndpoint": {
                    "target": "com.amazonaws.securitylake#SafeString",
                    "traits": {
                        "smithy.api#documentation": "<p>The subscriber endpoint to which exception messages are posted.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#CreateSubscriberRequest": {
            "type": "structure",
            "members": {
                "subscriberIdentity": {
                    "target": "com.amazonaws.securitylake#AwsIdentity",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services identity used to access your data.</p>",
                        "smithy.api#required": {}
                    }
                },
                "subscriberName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of your Security Lake subscriber account.</p>",
                        "smithy.api#length": {
                            "max": 64
                        },
                        "smithy.api#required": {}
                    }
                },
                "subscriberDescription": {
                    "target": "com.amazonaws.securitylake#DescriptionString",
                    "traits": {
                        "smithy.api#documentation": "<p>The description for your subscriber account in Security Lake.</p>"
                    }
                },
                "sources": {
                    "target": "com.amazonaws.securitylake#LogSourceResourceList",
                    "traits": {
                        "smithy.api#documentation": "<p>The supported Amazon Web Services services from which logs and events are collected.\n         Security Lake supports log and event collection for natively supported Amazon Web Services services.</p>",
                        "smithy.api#required": {}
                    }
                },
                "accessTypes": {
                    "target": "com.amazonaws.securitylake#AccessTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 or Lake Formation access type.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.securitylake#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of objects, one for each tag to associate with the subscriber. For each tag, you must specify both a tag key and a tag value. A tag \n         value cannot be null, but it can be an empty string.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#CreateSubscriberResponse": {
            "type": "structure",
            "members": {
                "subscriber": {
                    "target": "com.amazonaws.securitylake#SubscriberResource",
                    "traits": {
                        "smithy.api#documentation": "<p>Retrieve information about the subscriber created using the\n            <code>CreateSubscriber</code> API.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#CustomLogSourceAttributes": {
            "type": "structure",
            "members": {
                "crawlerArn": {
                    "target": "com.amazonaws.securitylake#AmazonResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the Glue crawler.</p>"
                    }
                },
                "databaseArn": {
                    "target": "com.amazonaws.securitylake#AmazonResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the Glue database where results are written, such as:\n         <code>arn:aws:daylight:us-east-1::database/sometable/*</code>.</p>"
                    }
                },
                "tableArn": {
                    "target": "com.amazonaws.securitylake#AmazonResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the Glue table.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The attributes of a third-party custom source.</p>"
            }
        },
        "com.amazonaws.securitylake#CustomLogSourceConfiguration": {
            "type": "structure",
            "members": {
                "crawlerConfiguration": {
                    "target": "com.amazonaws.securitylake#CustomLogSourceCrawlerConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration used for the Glue Crawler for a third-party custom source.</p>",
                        "smithy.api#required": {}
                    }
                },
                "providerIdentity": {
                    "target": "com.amazonaws.securitylake#AwsIdentity",
                    "traits": {
                        "smithy.api#documentation": "<p>The identity of the log provider for the third-party custom source.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration used for the third-party custom source.</p>"
            }
        },
        "com.amazonaws.securitylake#CustomLogSourceCrawlerConfiguration": {
            "type": "structure",
            "members": {
                "roleArn": {
                    "target": "com.amazonaws.securitylake#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role\n         to be used by the Glue crawler. The recommended IAM policies\n         are:</p>\n         <ul>\n            <li>\n               <p>The managed policy <code>AWSGlueServiceRole</code>\n               </p>\n            </li>\n            <li>\n               <p>A custom policy granting access to your Amazon S3 Data Lake</p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration used for the Glue Crawler for a third-party custom source.</p>"
            }
        },
        "com.amazonaws.securitylake#CustomLogSourceName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[\\w\\-\\_\\:\\.]*$"
            }
        },
        "com.amazonaws.securitylake#CustomLogSourceProvider": {
            "type": "structure",
            "members": {
                "roleArn": {
                    "target": "com.amazonaws.securitylake#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM role to be used by the entity putting logs into your\n         custom source partition. Security Lake will apply the correct access policies to this role, but\n         you must first manually create the trust policy for this role. The IAM role\n         name must start with the text 'Security Lake'. The IAM role must trust the\n         <code>logProviderAccountId</code> to assume the role.</p>"
                    }
                },
                "location": {
                    "target": "com.amazonaws.securitylake#S3URI",
                    "traits": {
                        "smithy.api#documentation": "<p>The location of the partition in the Amazon S3 bucket for Security Lake.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The details of the log provider for a third-party custom source.</p>"
            }
        },
        "com.amazonaws.securitylake#CustomLogSourceResource": {
            "type": "structure",
            "members": {
                "sourceName": {
                    "target": "com.amazonaws.securitylake#CustomLogSourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name for a third-party custom source. This must be a Regionally unique value.</p>"
                    }
                },
                "sourceVersion": {
                    "target": "com.amazonaws.securitylake#CustomLogSourceVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version for a third-party custom source. This must be a Regionally unique value.</p>"
                    }
                },
                "provider": {
                    "target": "com.amazonaws.securitylake#CustomLogSourceProvider",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the log provider for a third-party custom source.</p>"
                    }
                },
                "attributes": {
                    "target": "com.amazonaws.securitylake#CustomLogSourceAttributes",
                    "traits": {
                        "smithy.api#documentation": "<p>The attributes of a third-party custom source.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Amazon Security Lake can collect logs and events from third-party custom sources.</p>"
            }
        },
        "com.amazonaws.securitylake#CustomLogSourceVersion": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 32
                },
                "smithy.api#pattern": "^[A-Za-z0-9\\-\\.\\_]*$"
            }
        },
        "com.amazonaws.securitylake#DataLake": {
            "type": "resource",
            "operations": [
                {
                    "target": "com.amazonaws.securitylake#CreateAwsLogSource"
                },
                {
                    "target": "com.amazonaws.securitylake#CreateCustomLogSource"
                },
                {
                    "target": "com.amazonaws.securitylake#CreateDataLake"
                },
                {
                    "target": "com.amazonaws.securitylake#CreateDataLakeOrganizationConfiguration"
                },
                {
                    "target": "com.amazonaws.securitylake#DeleteAwsLogSource"
                },
                {
                    "target": "com.amazonaws.securitylake#DeleteCustomLogSource"
                },
                {
                    "target": "com.amazonaws.securitylake#DeleteDataLake"
                },
                {
                    "target": "com.amazonaws.securitylake#DeleteDataLakeOrganizationConfiguration"
                },
                {
                    "target": "com.amazonaws.securitylake#GetDataLakeOrganizationConfiguration"
                },
                {
                    "target": "com.amazonaws.securitylake#GetDataLakeSources"
                },
                {
                    "target": "com.amazonaws.securitylake#ListDataLakes"
                },
                {
                    "target": "com.amazonaws.securitylake#ListLogSources"
                },
                {
                    "target": "com.amazonaws.securitylake#UpdateDataLake"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "data-lake/default"
                },
                "aws.iam#disableConditionKeyInference": {},
                "aws.iam#iamResource": {
                    "name": "data-lake"
                },
                "smithy.api#documentation": "Represents a data lake resource that can collect logs from multiple aws or custom sources"
            }
        },
        "com.amazonaws.securitylake#DataLakeAutoEnableNewAccountConfiguration": {
            "type": "structure",
            "members": {
                "region": {
                    "target": "com.amazonaws.securitylake#Region",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Regions where Security Lake is automatically enabled.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sources": {
                    "target": "com.amazonaws.securitylake#AwsLogSourceResourceList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services sources that are automatically enabled in Security Lake.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Automatically enable new organization accounts as member accounts from an Amazon Security Lake\n         administrator account.</p>"
            }
        },
        "com.amazonaws.securitylake#DataLakeAutoEnableNewAccountConfigurationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securitylake#DataLakeAutoEnableNewAccountConfiguration"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.securitylake#DataLakeConfiguration": {
            "type": "structure",
            "members": {
                "region": {
                    "target": "com.amazonaws.securitylake#Region",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Regions where Security Lake is automatically enabled.</p>",
                        "smithy.api#required": {}
                    }
                },
                "encryptionConfiguration": {
                    "target": "com.amazonaws.securitylake#DataLakeEncryptionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides encryption details of Amazon Security Lake object.</p>"
                    }
                },
                "lifecycleConfiguration": {
                    "target": "com.amazonaws.securitylake#DataLakeLifecycleConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides lifecycle details of Amazon Security Lake object.</p>"
                    }
                },
                "replicationConfiguration": {
                    "target": "com.amazonaws.securitylake#DataLakeReplicationConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides replication details of Amazon Security Lake object.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides details of Amazon Security Lake object.</p>"
            }
        },
        "com.amazonaws.securitylake#DataLakeConfigurationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securitylake#DataLakeConfiguration"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.securitylake#DataLakeEncryptionConfiguration": {
            "type": "structure",
            "members": {
                "kmsKeyId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of KMS encryption key used by Amazon Security Lake to encrypt the Security Lake\n         object.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides encryption details of Amazon Security Lake object.</p>"
            }
        },
        "com.amazonaws.securitylake#DataLakeException": {
            "type": "structure",
            "members": {
                "region": {
                    "target": "com.amazonaws.securitylake#Region",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Regions where the exception occurred.</p>"
                    }
                },
                "exception": {
                    "target": "com.amazonaws.securitylake#SafeString",
                    "traits": {
                        "smithy.api#documentation": "<p>The underlying exception of a Security Lake exception.</p>"
                    }
                },
                "remediation": {
                    "target": "com.amazonaws.securitylake#SafeString",
                    "traits": {
                        "smithy.api#documentation": "<p>List of all remediation steps for a Security Lake exception.</p>"
                    }
                },
                "timestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>This error can occur if you configure the wrong timestamp format, or if the subset of entries used for validation had errors or missing values.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The details for an Amazon Security Lake exception.</p>"
            }
        },
        "com.amazonaws.securitylake#DataLakeExceptionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securitylake#DataLakeException"
            }
        },
        "com.amazonaws.securitylake#DataLakeLifecycleConfiguration": {
            "type": "structure",
            "members": {
                "expiration": {
                    "target": "com.amazonaws.securitylake#DataLakeLifecycleExpiration",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides data expiration details of Amazon Security Lake object.</p>"
                    }
                },
                "transitions": {
                    "target": "com.amazonaws.securitylake#DataLakeLifecycleTransitionList",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides data storage transition details of Amazon Security Lake object.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides lifecycle details of Amazon Security Lake object.</p>"
            }
        },
        "com.amazonaws.securitylake#DataLakeLifecycleExpiration": {
            "type": "structure",
            "members": {
                "days": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>Number of days before data expires in the Amazon Security Lake object.</p>",
                        "smithy.api#range": {
                            "min": 1
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provide expiration lifecycle details of Amazon Security Lake object.</p>"
            }
        },
        "com.amazonaws.securitylake#DataLakeLifecycleTransition": {
            "type": "structure",
            "members": {
                "storageClass": {
                    "target": "com.amazonaws.securitylake#DataLakeStorageClass",
                    "traits": {
                        "smithy.api#documentation": "<p>The range of storage classes that you can choose from based on the data access,\n         resiliency, and cost requirements of your workloads.</p>"
                    }
                },
                "days": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>Number of days before data transitions to a different S3 Storage Class in the Amazon Security Lake object.</p>",
                        "smithy.api#range": {
                            "min": 1
                        }
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provide transition lifecycle details of Amazon Security Lake object.</p>"
            }
        },
        "com.amazonaws.securitylake#DataLakeLifecycleTransitionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securitylake#DataLakeLifecycleTransition"
            }
        },
        "com.amazonaws.securitylake#DataLakeReplicationConfiguration": {
            "type": "structure",
            "members": {
                "regions": {
                    "target": "com.amazonaws.securitylake#RegionList",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies one or more centralized rollup Regions. The Amazon Web Services Region specified in the <code>region</code> \n          parameter of the <a href=\"https://docs.aws.amazon.com/security-lake/latest/APIReference/API_CreateDataLake.html\">\n               <code>CreateDataLake</code>\n            </a> \n          or <a href=\"https://docs.aws.amazon.com/security-lake/latest/APIReference/API_UpdateDataLake.html\">\n               <code>UpdateDataLake</code>\n            </a> operations contributes data to the rollup Region or \n        Regions specified in this parameter.</p>\n         <p>Replication enables automatic, asynchronous copying of objects across Amazon S3\n           buckets. S3 buckets that are configured for object replication can be owned\n           by the same Amazon Web Services account or by different accounts. You can replicate objects\n           to a single destination bucket or to multiple destination buckets. The destination buckets\n           can be in different Regions or within the same Region as the source bucket.</p>"
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.securitylake#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Replication settings for the Amazon S3 buckets. This parameter uses the Identity and Access Management (IAM) role you created that is managed by Security Lake, to\n         ensure the replication setting is correct.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides replication details for objects stored in the Amazon Security Lake data lake.</p>"
            }
        },
        "com.amazonaws.securitylake#DataLakeResource": {
            "type": "structure",
            "members": {
                "dataLakeArn": {
                    "target": "com.amazonaws.securitylake#AmazonResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) created by you to provide to the subscriber. For more information about ARNs and how to use them in policies, see the <a href=\"https://docs.aws.amazon.com/security-lake/latest/userguide/subscriber-management.html\">Amazon Security Lake User Guide</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "region": {
                    "target": "com.amazonaws.securitylake#Region",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Regions where Security Lake is enabled.</p>",
                        "smithy.api#required": {}
                    }
                },
                "s3BucketArn": {
                    "target": "com.amazonaws.securitylake#S3BucketArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN for the Amazon Security Lake Amazon S3 bucket.</p>"
                    }
                },
                "encryptionConfiguration": {
                    "target": "com.amazonaws.securitylake#DataLakeEncryptionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides encryption details of Amazon Security Lake object.</p>"
                    }
                },
                "lifecycleConfiguration": {
                    "target": "com.amazonaws.securitylake#DataLakeLifecycleConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides lifecycle details of Amazon Security Lake object.</p>"
                    }
                },
                "replicationConfiguration": {
                    "target": "com.amazonaws.securitylake#DataLakeReplicationConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides replication details of Amazon Security Lake object.</p>"
                    }
                },
                "createStatus": {
                    "target": "com.amazonaws.securitylake#DataLakeStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Retrieves the status of the <code>CreateDatalake</code> API call for an account in Amazon Security Lake.</p>"
                    }
                },
                "updateStatus": {
                    "target": "com.amazonaws.securitylake#DataLakeUpdateStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the last <code>UpdateDataLake </code>or <code>DeleteDataLake</code> API\n         request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides details of Amazon Security Lake object.</p>"
            }
        },
        "com.amazonaws.securitylake#DataLakeResourceList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securitylake#DataLakeResource"
            }
        },
        "com.amazonaws.securitylake#DataLakeSource": {
            "type": "structure",
            "members": {
                "account": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Security Lake account for which logs are collected.</p>"
                    }
                },
                "sourceName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The supported Amazon Web Services services from which logs and events are collected.\n         Amazon Security Lake supports log and event collection for natively supported Amazon Web Services services.</p>"
                    }
                },
                "eventClasses": {
                    "target": "com.amazonaws.securitylake#OcsfEventClassList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Open Cybersecurity Schema Framework (OCSF) event classes describes the type of\n         data that the custom source will send to Security Lake. For the list of supported event classes, see <a href=\"https://docs.aws.amazon.com/security-lake/latest/userguide/adding-custom-sources.html#ocsf-eventclass.html\">Supported OCSF Event classes</a> in the Amazon Security Lake User Guide.</p>"
                    }
                },
                "sourceStatuses": {
                    "target": "com.amazonaws.securitylake#DataLakeSourceStatusList",
                    "traits": {
                        "smithy.api#documentation": "<p>The log status for the Security Lake account.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Amazon Security Lake collects logs and events from supported Amazon Web Services services and\n         custom sources. For the list of supported Amazon Web Services services, see the <a href=\"https://docs.aws.amazon.com/security-lake/latest/userguide/internal-sources.html\">Amazon Security Lake User Guide</a>.</p>"
            }
        },
        "com.amazonaws.securitylake#DataLakeSourceList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securitylake#DataLakeSource"
            }
        },
        "com.amazonaws.securitylake#DataLakeSourceStatus": {
            "type": "structure",
            "members": {
                "resource": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines path the stored logs are available which has information on your systems,\n         applications, and services.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.securitylake#SourceCollectionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The health status of services, including error codes and patterns.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the Logs status for the Amazon Security Lake account.</p>"
            }
        },
        "com.amazonaws.securitylake#DataLakeSourceStatusList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securitylake#DataLakeSourceStatus"
            }
        },
        "com.amazonaws.securitylake#DataLakeStatus": {
            "type": "enum",
            "members": {
                "INITIALIZED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INITIALIZED"
                    }
                },
                "PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING"
                    }
                },
                "COMPLETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.securitylake#DataLakeStorageClass": {
            "type": "string"
        },
        "com.amazonaws.securitylake#DataLakeUpdateException": {
            "type": "structure",
            "members": {
                "reason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the exception of the last <code>UpdateDataLake</code>or\n         <code>DeleteDataLake</code> API request.</p>"
                    }
                },
                "code": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason code for the exception of the last <code>UpdateDataLake</code> or\n         <code>DeleteDataLake</code> API request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The details of the last <code>UpdateDataLake</code> or <code>DeleteDataLake</code>\n         API request which failed.</p>"
            }
        },
        "com.amazonaws.securitylake#DataLakeUpdateStatus": {
            "type": "structure",
            "members": {
                "requestId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID for the last <code>UpdateDataLake</code> or <code>DeleteDataLake</code> API\n         request.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.securitylake#DataLakeStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the last <code>UpdateDataLake</code> or <code>DeleteDataLake</code> API\n         request that was requested.</p>"
                    }
                },
                "exception": {
                    "target": "com.amazonaws.securitylake#DataLakeUpdateException",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of the last <code>UpdateDataLake</code>or <code>DeleteDataLake</code> API\n         request which failed.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The status of the last <code>UpdateDataLake</code> or <code>DeleteDataLake</code> API\n         request. This is set to Completed after the configuration is updated, or removed if\n         deletion of the data lake is successful.</p>"
            }
        },
        "com.amazonaws.securitylake#DeleteAwsLogSource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#DeleteAwsLogSourceRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#DeleteAwsLogSourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to disable any source type in any region for accounts that are part of a trusted organization or standalone accounts",
                "smithy.api#documentation": "<p>Removes a natively supported Amazon Web Services service as an Amazon Security Lake source. You\n         can remove a source for one or more Regions. When you remove the source, Security Lake stops\n         collecting data from that source in the specified Regions and accounts, and subscribers can\n         no longer consume new data from the source. However, subscribers can still consume data\n         that Security Lake collected from the source before removal.</p>\n         <p>You can choose any source type in any Amazon Web Services Region for either accounts that\n         are part of a trusted organization or standalone accounts. </p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/datalake/logsources/aws/delete",
                    "code": 200
                }
            }
        },
        "com.amazonaws.securitylake#DeleteAwsLogSourceRequest": {
            "type": "structure",
            "members": {
                "sources": {
                    "target": "com.amazonaws.securitylake#AwsLogSourceConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify the natively-supported Amazon Web Services service to remove as a source in\n         Security Lake.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#DeleteAwsLogSourceResponse": {
            "type": "structure",
            "members": {
                "failed": {
                    "target": "com.amazonaws.securitylake#AccountList",
                    "traits": {
                        "smithy.api#documentation": "<p>Deletion of the Amazon Web Services sources failed as the account is not a part of the organization.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#DeleteCustomLogSource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#DeleteCustomLogSourceRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#DeleteCustomLogSourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to remove a custom source",
                "aws.iam#requiredActions": [
                    "glue:StopCrawlerSchedule"
                ],
                "smithy.api#documentation": "<p>Removes a custom log source from Amazon Security Lake, to stop sending data from the custom\n         source to Security Lake.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/datalake/logsources/custom/{sourceName}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.securitylake#DeleteCustomLogSourceRequest": {
            "type": "structure",
            "members": {
                "sourceName": {
                    "target": "com.amazonaws.securitylake#CustomLogSourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The source name of custom log source that you want to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "sourceVersion": {
                    "target": "com.amazonaws.securitylake#CustomLogSourceVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The source version for the third-party custom source. You can limit the custom source\n         removal to the specified source version.</p>",
                        "smithy.api#httpQuery": "sourceVersion"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#DeleteCustomLogSourceResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#DeleteDataLake": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#DeleteDataLakeRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#DeleteDataLakeResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to delete security data lake",
                "aws.iam#requiredActions": [
                    "organizations:DescribeOrganization",
                    "organizations:ListDelegatedServicesForAccount",
                    "organizations:ListDelegatedAdministrators"
                ],
                "smithy.api#documentation": "<p>When you disable Amazon Security Lake from your account, Security Lake is disabled in all Amazon Web Services Regions and it stops collecting data from your sources. Also, this API\n         automatically takes steps to remove the account from Security Lake. However, Security Lake retains\n         all of your existing settings and the resources that it created in your Amazon Web Services\n         account in the current Amazon Web Services Region.</p>\n         <p>The <code>DeleteDataLake</code> operation does not delete the data that is stored in\n         your Amazon S3 bucket, which is owned by your Amazon Web Services account. For more\n         information, see the <a href=\"https://docs.aws.amazon.com/security-lake/latest/userguide/disable-security-lake.html\">Amazon Security Lake User\n            Guide</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/datalake/delete",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.securitylake#DeleteDataLakeExceptionSubscription": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#DeleteDataLakeExceptionSubscriptionRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#DeleteDataLakeExceptionSubscriptionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to unsubscribe from SNS topics for exception notifications. Removes exception notifications for the SNS topic",
                "smithy.api#documentation": "<p>Deletes the specified notification subscription in Amazon Security Lake for the organization\n         you specify.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/datalake/exceptions/subscription",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.securitylake#DeleteDataLakeExceptionSubscriptionRequest": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#DeleteDataLakeExceptionSubscriptionResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#DeleteDataLakeOrganizationConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#DeleteDataLakeOrganizationConfigurationRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#DeleteDataLakeOrganizationConfigurationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to remove the automatic enablement of Amazon Security Lake access for new organization accounts",
                "smithy.api#documentation": "<p>Turns off automatic enablement of Amazon Security Lake for member accounts that are added to an organization in Organizations. Only the delegated \n         Security Lake administrator for an organization can perform this operation. If the delegated Security Lake administrator performs this operation, new member\n         accounts won't automatically contribute data to the data lake.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/v1/datalake/organization/configuration/delete",
                    "code": 200
                }
            }
        },
        "com.amazonaws.securitylake#DeleteDataLakeOrganizationConfigurationRequest": {
            "type": "structure",
            "members": {
                "autoEnableNewAccount": {
                    "target": "com.amazonaws.securitylake#DataLakeAutoEnableNewAccountConfigurationList",
                    "traits": {
                        "smithy.api#documentation": "<p>Turns off automatic enablement of Security Lake for member accounts that are added to an organization.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#DeleteDataLakeOrganizationConfigurationResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#DeleteDataLakeRequest": {
            "type": "structure",
            "members": {
                "regions": {
                    "target": "com.amazonaws.securitylake#RegionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of Regions where Security Lake is enabled.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#DeleteDataLakeResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#DeleteSubscriber": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#DeleteSubscriberRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#DeleteSubscriberResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to delete the specified subscriber",
                "aws.iam#requiredActions": [
                    "iam:GetRole",
                    "iam:ListRolePolicies",
                    "iam:DeleteRole",
                    "iam:DeleteRolePolicy",
                    "lakeformation:RevokePermissions",
                    "lakeformation:ListPermissions",
                    "events:DeleteApiDestination",
                    "events:DeleteConnection",
                    "events:DeleteRule",
                    "events:ListApiDestinations",
                    "events:ListTargetsByRule",
                    "events:DescribeRule",
                    "events:RemoveTargets",
                    "sqs:DeleteQueue",
                    "sqs:GetQueueUrl"
                ],
                "smithy.api#documentation": "<p>Deletes the subscription permission and all notification settings for accounts that are\n         already enabled in Amazon Security Lake. When you run <code>DeleteSubscriber</code>, the\n         subscriber will no longer consume data from Security Lake and the subscriber is removed. This\n         operation deletes the subscriber and removes access to data in the current Amazon Web Services Region.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/subscribers/{subscriberId}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.securitylake#DeleteSubscriberNotification": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#DeleteSubscriberNotificationRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#DeleteSubscriberNotificationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to remove a webhook invocation to notify a client when there is new data in the data lake",
                "aws.iam#requiredActions": [
                    "iam:GetRole",
                    "iam:ListRolePolicies",
                    "iam:DeleteRole",
                    "iam:DeleteRolePolicy",
                    "lakeformation:RevokePermissions",
                    "events:DeleteApiDestination",
                    "events:DeleteConnection",
                    "events:DeleteRule",
                    "events:ListApiDestinations",
                    "events:ListTargetsByRule",
                    "events:DescribeRule",
                    "events:RemoveTargets",
                    "sqs:DeleteQueue",
                    "sqs:GetQueueUrl"
                ],
                "smithy.api#documentation": "<p>Deletes the specified subscription notification in Amazon Security Lake for the organization\n         you specify.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/subscribers/{subscriberId}/notification",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.securitylake#DeleteSubscriberNotificationRequest": {
            "type": "structure",
            "members": {
                "subscriberId": {
                    "target": "com.amazonaws.securitylake#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the Security Lake subscriber account.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#DeleteSubscriberNotificationResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#DeleteSubscriberRequest": {
            "type": "structure",
            "members": {
                "subscriberId": {
                    "target": "com.amazonaws.securitylake#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>A value created by Security Lake that uniquely identifies your <code>DeleteSubscriber</code> API request.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#DeleteSubscriberResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#DeregisterDataLakeDelegatedAdministrator": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#DeregisterDataLakeDelegatedAdministratorRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#DeregisterDataLakeDelegatedAdministratorResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securitylake#BadRequestException"
                },
                {
                    "target": "com.amazonaws.securitylake#ConflictException"
                },
                {
                    "target": "com.amazonaws.securitylake#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securitylake#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securitylake#ThrottlingException"
                }
            ],
            "traits": {
                "aws.iam#actionPermissionDescription": "Grants permission to remove the Delegated Administrator account and disable Amazon Security Lake as a service for this organization",
                "aws.iam#requiredActions": [
                    "organizations:DescribeOrganization",
                    "organizations:DeregisterDelegatedAdministrator",
                    "organizations:ListDelegatedServicesForAccount"
                ],
                "smithy.api#documentation": "<p>Deletes the Amazon Security Lake delegated administrator account for the organization. This API\n         can only be called by the organization management account. The organization management\n         account cannot be the delegated administrator account.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v1/datalake/delegate",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.securitylake#DeregisterDataLakeDelegatedAdministratorRequest": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securitylake#DeregisterDataLakeDelegatedAdministratorResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securitylake#DescriptionString": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[\\\\\\w\\s\\-_:/,.@=+]*$"
            }
        },
        "com.amazonaws.securitylake#ExternalId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 2,
                    "max": 1224
                },
                "smithy.api#pattern": "^[\\w+=,.@:\\/-]*$"
            }
        },
        "com.amazonaws.securitylake#GetDataLakeExceptionSubscription": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securitylake#GetDataLakeExceptionSubscriptionRequest"
            },
            "output": {
                "target": "com.amazonaws.securitylake#GetDataLakeExceptionSubscriptionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securitylake#AccessDeniedException"
                },
                {
[...]
