{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.securityagent#AWSResources": {
            "type": "structure",
            "members": {
                "vpcs": {
                    "target": "com.amazonaws.securityagent#VpcConfigs",
                    "traits": {
                        "smithy.api#documentation": "VPC configurations that the Security Agent accesses in the customer environment"
                    }
                },
                "logGroups": {
                    "target": "com.amazonaws.securityagent#LogGroupArns",
                    "traits": {
                        "smithy.api#documentation": "CloudWatch log group ARNs or names used to store Security Agent logs"
                    }
                },
                "s3Buckets": {
                    "target": "com.amazonaws.securityagent#S3BucketArns",
                    "traits": {
                        "smithy.api#documentation": "S3 bucket ARNs or names used to store Security Agent artifacts"
                    }
                },
                "secretArns": {
                    "target": "com.amazonaws.securityagent#SecretArns",
                    "traits": {
                        "smithy.api#documentation": "SecretsManager secret ARNs or names used to store tester credentials for pentests"
                    }
                },
                "lambdaFunctionArns": {
                    "target": "com.amazonaws.securityagent#LambdaFunctionArns",
                    "traits": {
                        "smithy.api#documentation": "Lambda function ARNs or names used to retrieve tester credentials for pentests"
                    }
                },
                "iamRoles": {
                    "target": "com.amazonaws.securityagent#IamRoles",
                    "traits": {
                        "smithy.api#documentation": "IAM role ARNs that the Security Agent can assume to access customer resources"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "AWS resource configurations associated with the agent space"
            }
        },
        "com.amazonaws.securityagent#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Error description",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Request denied due to insufficient permissions",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.securityagent#AccessType": {
            "type": "enum",
            "members": {
                "PRIVATE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Resource is private and has restricted access",
                        "smithy.api#enumValue": "PRIVATE"
                    }
                },
                "PUBLIC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Resource is public and openly accessible",
                        "smithy.api#enumValue": "PUBLIC"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Defines the visibility level of provider resources. PRIVATE indicates restricted access (e.g: private GitHub repositories), while PUBLIC indicates open access (e.g: public GitHub repositories)"
            }
        },
        "com.amazonaws.securityagent#Actor": {
            "type": "structure",
            "members": {
                "identifier": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier for the actor (case-insensitive)"
                    }
                },
                "uris": {
                    "target": "com.amazonaws.securityagent#UriList",
                    "traits": {
                        "smithy.api#documentation": "List of URIs accessible with the actor's credentials"
                    }
                },
                "authentication": {
                    "target": "com.amazonaws.securityagent#Authentication",
                    "traits": {
                        "smithy.api#documentation": "Authentication information used by the actor to access resources"
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Additional description or details about the actor"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Represents an entity that interacts with the system during security testing"
            }
        },
        "com.amazonaws.securityagent#ActorList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securityagent#Actor"
            }
        },
        "com.amazonaws.securityagent#AddArtifact": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#AddArtifactInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#AddArtifactOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securityagent#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securityagent#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securityagent#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securityagent#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.securityagent#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Adds an Artifact for the given agent space",
                "smithy.api#http": {
                    "code": 201,
                    "method": "POST",
                    "uri": "/AddArtifact"
                }
            }
        },
        "com.amazonaws.securityagent#AddArtifactInput": {
            "type": "structure",
            "members": {
                "agentSpaceId": {
                    "target": "com.amazonaws.securityagent#AgentSpaceId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the agent space",
                        "smithy.api#required": {}
                    }
                },
                "artifactContent": {
                    "target": "smithy.api#Blob",
                    "traits": {
                        "smithy.api#documentation": "Binary content of the artifact",
                        "smithy.api#required": {}
                    }
                },
                "artifactType": {
                    "target": "com.amazonaws.securityagent#ArtifactType",
                    "traits": {
                        "smithy.api#documentation": "Type of the artifact file",
                        "smithy.api#required": {}
                    }
                },
                "fileName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Name of the artifact file",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#AddArtifactOutput": {
            "type": "structure",
            "members": {
                "artifactId": {
                    "target": "com.amazonaws.securityagent#ArtifactId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the created artifact",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#AgentName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Name of an agent space"
            }
        },
        "com.amazonaws.securityagent#AgentSpace": {
            "type": "structure",
            "members": {
                "agentSpaceId": {
                    "target": "com.amazonaws.securityagent#AgentSpaceId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the agent space",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Name of the agent space",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Description of the agent space"
                    }
                },
                "awsResources": {
                    "target": "com.amazonaws.securityagent#AWSResources",
                    "traits": {
                        "smithy.api#documentation": "AWS resource configurations"
                    }
                },
                "targetDomainIds": {
                    "target": "com.amazonaws.securityagent#TargetDomainIdList",
                    "traits": {
                        "smithy.api#documentation": "List of target domain IDs registered with the agent space"
                    }
                },
                "codeReviewSettings": {
                    "target": "com.amazonaws.securityagent#CodeReviewSettings",
                    "traits": {
                        "smithy.api#documentation": "Configuration for code review analysis, including controls scanning and general purpose scanning settings"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.securityagent#KmsKeyId",
                    "traits": {
                        "smithy.api#documentation": "Identifier of the KMS key used to encrypt data. Can be a key ID, key ARN, alias name, or alias ARN. If not specified, an AWS managed key is used."
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "Timestamp when the agent space was created",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "Timestamp when the agent space was last updated",
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Agent space structure"
            }
        },
        "com.amazonaws.securityagent#AgentSpaceId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Unique identifier of the agent space"
            }
        },
        "com.amazonaws.securityagent#AgentSpaceIdList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securityagent#AgentSpaceId"
            }
        },
        "com.amazonaws.securityagent#AgentSpaceList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securityagent#AgentSpace"
            }
        },
        "com.amazonaws.securityagent#AgentSpaceResource": {
            "type": "resource",
            "identifiers": {
                "agentSpaceId": {
                    "target": "com.amazonaws.securityagent#AgentSpaceId"
                }
            },
            "properties": {
                "name": {
                    "target": "com.amazonaws.securityagent#AgentName"
                },
                "description": {
                    "target": "smithy.api#String"
                },
                "awsResources": {
                    "target": "com.amazonaws.securityagent#AWSResources"
                },
                "targetDomainIds": {
                    "target": "com.amazonaws.securityagent#TargetDomainIdList"
                },
                "codeReviewSettings": {
                    "target": "com.amazonaws.securityagent#CodeReviewSettings"
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.securityagent#KmsKeyId"
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp"
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp"
                }
            },
            "create": {
                "target": "com.amazonaws.securityagent#CreateAgentSpace"
            },
            "update": {
                "target": "com.amazonaws.securityagent#UpdateAgentSpace"
            },
            "delete": {
                "target": "com.amazonaws.securityagent#DeleteAgentSpace"
            },
            "list": {
                "target": "com.amazonaws.securityagent#ListAgentSpaces"
            },
            "collectionOperations": [
                {
                    "target": "com.amazonaws.securityagent#BatchGetAgentSpaces"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Agent space resource representing an isolated workspace for Security Agent operations"
            }
        },
        "com.amazonaws.securityagent#AgentSpaceSummary": {
            "type": "structure",
            "members": {
                "agentSpaceId": {
                    "target": "com.amazonaws.securityagent#AgentSpaceId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the agent space",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Name of the agent space",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "Timestamp when the agent space was created",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "Timestamp when the agent space was last updated",
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Summary information for an agent space"
            }
        },
        "com.amazonaws.securityagent#AgentSpaceSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securityagent#AgentSpaceSummary"
            }
        },
        "com.amazonaws.securityagent#ApplicationDomain": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Domain where the application is available"
            }
        },
        "com.amazonaws.securityagent#ApplicationId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Application identifier"
            }
        },
        "com.amazonaws.securityagent#ApplicationResource": {
            "type": "resource",
            "identifiers": {
                "applicationId": {
                    "target": "com.amazonaws.securityagent#ApplicationId"
                }
            },
            "properties": {
                "applicationName": {
                    "target": "smithy.api#String"
                },
                "domain": {
                    "target": "com.amazonaws.securityagent#ApplicationDomain"
                },
                "idcConfiguration": {
                    "target": "com.amazonaws.securityagent#IdCConfiguration"
                },
                "roleArn": {
                    "target": "com.amazonaws.securityagent#RoleArn"
                },
                "defaultKmsKeyId": {
                    "target": "com.amazonaws.securityagent#DefaultKmsKeyId"
                }
            },
            "create": {
                "target": "com.amazonaws.securityagent#CreateApplication"
            },
            "read": {
                "target": "com.amazonaws.securityagent#GetApplication"
            },
            "update": {
                "target": "com.amazonaws.securityagent#UpdateApplication"
            },
            "delete": {
                "target": "com.amazonaws.securityagent#DeleteApplication"
            },
            "list": {
                "target": "com.amazonaws.securityagent#ListApplications"
            },
            "traits": {
                "smithy.api#documentation": "Application resource"
            }
        },
        "com.amazonaws.securityagent#ApplicationSummary": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.securityagent#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the application",
                        "smithy.api#required": {}
                    }
                },
                "applicationName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Name of the application, automatically assigned by the service",
                        "smithy.api#required": {}
                    }
                },
                "domain": {
                    "target": "com.amazonaws.securityagent#ApplicationDomain",
                    "traits": {
                        "smithy.api#documentation": "Domain where the application is available",
                        "smithy.api#required": {}
                    }
                },
                "defaultKmsKeyId": {
                    "target": "com.amazonaws.securityagent#DefaultKmsKeyId",
                    "traits": {
                        "smithy.api#documentation": "Default KMS key identifier used to encrypt application data"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Application summary for list operations"
            }
        },
        "com.amazonaws.securityagent#ApplicationSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securityagent#ApplicationSummary"
            },
            "traits": {
                "smithy.api#documentation": "List of application summaries"
            }
        },
        "com.amazonaws.securityagent#Artifact": {
            "type": "structure",
            "members": {
                "contents": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The content of the artifact",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.securityagent#ArtifactType",
                    "traits": {
                        "smithy.api#documentation": "The file type of the artifact",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Files containing relevant data for review"
            }
        },
        "com.amazonaws.securityagent#ArtifactId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "The id of the artifact"
            }
        },
        "com.amazonaws.securityagent#ArtifactIds": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securityagent#ArtifactId"
            }
        },
        "com.amazonaws.securityagent#ArtifactMetadataItem": {
            "type": "structure",
            "members": {
                "agentSpaceId": {
                    "target": "com.amazonaws.securityagent#AgentSpaceId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the agent space",
                        "smithy.api#required": {}
                    }
                },
                "artifactId": {
                    "target": "com.amazonaws.securityagent#ArtifactId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the artifact",
                        "smithy.api#required": {}
                    }
                },
                "fileName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Name of the artifact file",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "Timestamp when the artifact was last updated",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Metadata in relation to the artifact"
            }
        },
        "com.amazonaws.securityagent#ArtifactMetadataList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securityagent#ArtifactMetadataItem"
            },
            "traits": {
                "smithy.api#documentation": "List of metadata objects containing artifacts details"
            }
        },
        "com.amazonaws.securityagent#ArtifactSummary": {
            "type": "structure",
            "members": {
                "artifactId": {
                    "target": "com.amazonaws.securityagent#ArtifactId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the artifact",
                        "smithy.api#required": {}
                    }
                },
                "fileName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Name of the artifact file",
                        "smithy.api#required": {}
                    }
                },
                "artifactType": {
                    "target": "com.amazonaws.securityagent#ArtifactType",
                    "traits": {
                        "smithy.api#documentation": "Type of the artifact file",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Summary information about an artifact"
            }
        },
        "com.amazonaws.securityagent#ArtifactSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securityagent#ArtifactSummary"
            },
            "traits": {
                "smithy.api#documentation": "List of artifact summaries"
            }
        },
        "com.amazonaws.securityagent#ArtifactType": {
            "type": "enum",
            "members": {
                "TXT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TXT"
                    }
                },
                "PNG": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PNG"
                    }
                },
                "JPEG": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "JPEG"
                    }
                },
                "MD": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MD"
                    }
                },
                "PDF": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PDF"
                    }
                },
                "DOCX": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DOCX"
                    }
                },
                "DOC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DOC"
                    }
                },
                "JSON": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "JSON"
                    }
                },
                "YAML": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "YAML"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Supported file extension types for artifacts"
            }
        },
        "com.amazonaws.securityagent#Assets": {
            "type": "structure",
            "members": {
                "endpoints": {
                    "target": "com.amazonaws.securityagent#EndpointList",
                    "traits": {
                        "smithy.api#documentation": "List of web application endpoints to test"
                    }
                },
                "actors": {
                    "target": "com.amazonaws.securityagent#ActorList",
                    "traits": {
                        "smithy.api#documentation": "List of actors that interact with the system"
                    }
                },
                "documents": {
                    "target": "com.amazonaws.securityagent#DocumentList",
                    "traits": {
                        "smithy.api#documentation": "List of documents providing context for testing"
                    }
                },
                "sourceCode": {
                    "target": "com.amazonaws.securityagent#SourceCodeRepositoryList",
                    "traits": {
                        "smithy.api#documentation": "List of source code repositories for static analysis"
                    }
                },
                "integratedRepositories": {
                    "target": "com.amazonaws.securityagent#IntegratedRepositoryList",
                    "traits": {
                        "smithy.api#documentation": "List of integrated code repositories"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Collection of assets to be tested or used during a pentest"
            }
        },
        "com.amazonaws.securityagent#AuthCode": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Authorization code from OAuth flow"
            }
        },
        "com.amazonaws.securityagent#Authentication": {
            "type": "structure",
            "members": {
                "providerType": {
                    "target": "com.amazonaws.securityagent#AuthenticationProviderType",
                    "traits": {
                        "smithy.api#documentation": "Provider type for the authentication credentials"
                    }
                },
                "value": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Authentication credential value or reference"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Authentication information used to access protected resources"
            }
        },
        "com.amazonaws.securityagent#AuthenticationProviderType": {
            "type": "enum",
            "members": {
                "SECRETS_MANAGER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Credentials stored in AWS Secrets Manager",
                        "smithy.api#enumValue": "SECRETS_MANAGER"
                    }
                },
                "AWS_LAMBDA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Credentials retrieved via AWS Lambda function",
                        "smithy.api#enumValue": "AWS_LAMBDA"
                    }
                },
                "AWS_IAM_ROLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Authentication using an AWS IAM role",
                        "smithy.api#enumValue": "AWS_IAM_ROLE"
                    }
                },
                "AWS_INTERNAL": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Internal AWS authentication",
                        "smithy.api#enumValue": "AWS_INTERNAL"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Type of authentication provider"
            }
        },
        "com.amazonaws.securityagent#BatchDeletePentests": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#BatchDeletePentestsInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#BatchDeletePentestsOutput"
            },
            "traits": {
                "smithy.api#documentation": "Deletes multiple pentests in a single request",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/BatchDeletePentests"
                }
            }
        },
        "com.amazonaws.securityagent#BatchDeletePentestsInput": {
            "type": "structure",
            "members": {
                "pentestIds": {
                    "target": "com.amazonaws.securityagent#PentestIdList",
                    "traits": {
                        "smithy.api#documentation": "List of pentest IDs to delete",
                        "smithy.api#required": {}
                    }
                },
                "agentSpaceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "ID of the agent space where the pentests exist",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Input for deleting multiple pentests",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#BatchDeletePentestsOutput": {
            "type": "structure",
            "members": {
                "deleted": {
                    "target": "com.amazonaws.securityagent#PentestList",
                    "traits": {
                        "smithy.api#documentation": "List of successfully deleted pentests"
                    }
                },
                "failed": {
                    "target": "com.amazonaws.securityagent#DeletePentestFailureList",
                    "traits": {
                        "smithy.api#documentation": "List of pentests that could not be deleted and the reasons for failure"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Output for the BatchDeletePentests operation",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetAgentSpaces": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#BatchGetAgentSpacesInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#BatchGetAgentSpacesOutput"
            },
            "traits": {
                "smithy.api#documentation": "Retrieves multiple agent spaces in a single request",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/BatchGetAgentSpaces"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetAgentSpacesInput": {
            "type": "structure",
            "members": {
                "agentSpaceIds": {
                    "target": "com.amazonaws.securityagent#AgentSpaceIdList",
                    "traits": {
                        "smithy.api#documentation": "List of agent space IDs to retrieve",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Input for batch retrieving agent spaces",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetAgentSpacesOutput": {
            "type": "structure",
            "members": {
                "agentSpaces": {
                    "target": "com.amazonaws.securityagent#AgentSpaceList",
                    "traits": {
                        "smithy.api#documentation": "List of agent spaces that were successfully retrieved",
                        "smithy.api#notProperty": {}
                    }
                },
                "notFound": {
                    "target": "com.amazonaws.securityagent#AgentSpaceIdList",
                    "traits": {
                        "smithy.api#documentation": "List of agent space IDs that could not be found",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Output for the BatchGetAgentSpaces operation",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetArtifactMetadata": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#BatchGetArtifactMetadataInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#BatchGetArtifactMetadataOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securityagent#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securityagent#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securityagent#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securityagent#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.securityagent#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Retrieve the list of artifact metadata for the given agent space",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/BatchGetArtifactMetadata"
                }
            }
        },
        "com.amazonaws.securityagent#BatchGetArtifactMetadataInput": {
            "type": "structure",
            "members": {
                "agentSpaceId": {
                    "target": "com.amazonaws.securityagent#AgentSpaceId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the agent space",
                        "smithy.api#required": {}
                    }
                },
                "artifactIds": {
                    "target": "com.amazonaws.securityagent#ArtifactIds",
                    "traits": {
                        "smithy.api#documentation": "List of artifact identifiers",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetArtifactMetadataOutput": {
            "type": "structure",
            "members": {
                "artifactMetadataList": {
                    "target": "com.amazonaws.securityagent#ArtifactMetadataList",
                    "traits": {
                        "smithy.api#documentation": "List of artifact metadata",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetFindings": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#BatchGetFindingsInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#BatchGetFindingsOutput"
            },
            "traits": {
                "smithy.api#documentation": "Retrieves multiple findings in a single request",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/BatchGetFindings"
                }
            }
        },
        "com.amazonaws.securityagent#BatchGetFindingsInput": {
            "type": "structure",
            "members": {
                "findingIds": {
                    "target": "com.amazonaws.securityagent#FindingIdList",
                    "traits": {
                        "smithy.api#documentation": "List of finding IDs to retrieve",
                        "smithy.api#required": {}
                    }
                },
                "agentSpaceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "ID of the agent space where the findings exist",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Input for BatchGetFindings operation",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetFindingsOutput": {
            "type": "structure",
            "members": {
                "findings": {
                    "target": "com.amazonaws.securityagent#FindingList",
                    "traits": {
                        "smithy.api#documentation": "List of successfully retrieved findings"
                    }
                },
                "notFound": {
                    "target": "com.amazonaws.securityagent#FindingIdList",
                    "traits": {
                        "smithy.api#documentation": "List of finding IDs that could not be found"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Output for the BatchGetFindings operation",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetPentestJobTasks": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#BatchGetPentestJobTasksInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#BatchGetPentestJobTasksOutput"
            },
            "traits": {
                "smithy.api#documentation": "Retrieves multiple tasks for a pentest job in a single request",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/BatchGetPentestJobTasks"
                }
            }
        },
        "com.amazonaws.securityagent#BatchGetPentestJobTasksInput": {
            "type": "structure",
            "members": {
                "agentSpaceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "ID of the agent space where the pentest exists",
                        "smithy.api#required": {}
                    }
                },
                "taskIds": {
                    "target": "com.amazonaws.securityagent#TaskIdList",
                    "traits": {
                        "smithy.api#documentation": "List of task IDs to retrieve",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Input for retrieving multiple tasks by their IDs for a pentest job",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetPentestJobTasksOutput": {
            "type": "structure",
            "members": {
                "tasks": {
                    "target": "com.amazonaws.securityagent#TaskList",
                    "traits": {
                        "smithy.api#documentation": "List of successfully retrieved tasks"
                    }
                },
                "notFound": {
                    "target": "com.amazonaws.securityagent#TaskIdList",
                    "traits": {
                        "smithy.api#documentation": "List of task IDs that could not be found"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Output for the BatchGetPentestJobTasks operation",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetPentestJobs": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#BatchGetPentestJobsInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#BatchGetPentestJobsOutput"
            },
            "traits": {
                "smithy.api#documentation": "Retrieves multiple pentest jobs in a single request",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/BatchGetPentestJobs"
                }
            }
        },
        "com.amazonaws.securityagent#BatchGetPentestJobsInput": {
            "type": "structure",
            "members": {
                "pentestJobIds": {
                    "target": "com.amazonaws.securityagent#PentestJobIdList",
                    "traits": {
                        "smithy.api#documentation": "List of pentest job IDs to retrieve",
                        "smithy.api#required": {}
                    }
                },
                "agentSpaceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "ID of the agent space where the pentest exists",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Input for BatchGetPentestJobs operation",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetPentestJobsOutput": {
            "type": "structure",
            "members": {
                "pentestJobs": {
                    "target": "com.amazonaws.securityagent#PentestJobList",
                    "traits": {
                        "smithy.api#documentation": "List of successfully retrieved pentest jobs"
                    }
                },
                "notFound": {
                    "target": "com.amazonaws.securityagent#PentestJobIdList",
                    "traits": {
                        "smithy.api#documentation": "List of pentest job IDs that could not be found"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Output for the BatchGetPentestJobs operation",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetPentests": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#BatchGetPentestsInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#BatchGetPentestsOutput"
            },
            "traits": {
                "smithy.api#documentation": "Retrieves multiple pentests in a single request",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/BatchGetPentests"
                }
            }
        },
        "com.amazonaws.securityagent#BatchGetPentestsInput": {
            "type": "structure",
            "members": {
                "pentestIds": {
                    "target": "com.amazonaws.securityagent#PentestIdList",
                    "traits": {
                        "smithy.api#documentation": "List of pentest IDs to retrieve",
                        "smithy.api#required": {}
                    }
                },
                "agentSpaceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "ID of the agent space where the pentest exists",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Input for retrieving multiple pentests by their IDs",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetPentestsOutput": {
            "type": "structure",
            "members": {
                "pentests": {
                    "target": "com.amazonaws.securityagent#PentestList",
                    "traits": {
                        "smithy.api#documentation": "List of successfully retrieved pentests"
                    }
                },
                "notFound": {
                    "target": "com.amazonaws.securityagent#PentestIdList",
                    "traits": {
                        "smithy.api#documentation": "List of pentest IDs that could not be found"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Output for the BatchGetPentests operation",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetTargetDomains": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#BatchGetTargetDomainsInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#BatchGetTargetDomainsOutput"
            },
            "traits": {
                "smithy.api#documentation": "Retrieves multiple target domains in a single request",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/BatchGetTargetDomains"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetTargetDomainsInput": {
            "type": "structure",
            "members": {
                "targetDomainIds": {
                    "target": "com.amazonaws.securityagent#TargetDomainIdList",
                    "traits": {
                        "smithy.api#documentation": "List of target domain IDs to retrieve",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Input for batch retrieving target domains",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#BatchGetTargetDomainsOutput": {
            "type": "structure",
            "members": {
                "targetDomains": {
                    "target": "com.amazonaws.securityagent#TargetDomainList",
                    "traits": {
                        "smithy.api#documentation": "List of target domains that were successfully retrieved",
                        "smithy.api#notProperty": {}
                    }
                },
                "notFound": {
                    "target": "com.amazonaws.securityagent#TargetDomainIdList",
                    "traits": {
                        "smithy.api#documentation": "List of target domain IDs that could not be found",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Output for the BatchGetTargetDomains operation",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#Category": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Name of the category"
                    }
                },
                "isPrimary": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Whether this is the primary category for the task"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Represents a category classification for tasks"
            }
        },
        "com.amazonaws.securityagent#CategoryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securityagent#Category"
            }
        },
        "com.amazonaws.securityagent#CloudWatchLog": {
            "type": "structure",
            "members": {
                "logGroup": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Name of the CloudWatch log group"
                    }
                },
                "logStream": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Name of the CloudWatch log stream"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Reference to logs stored in CloudWatch"
            }
        },
        "com.amazonaws.securityagent#CodeRemediationStrategy": {
            "type": "enum",
            "members": {
                "AUTOMATIC": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Automatically generate code remediation for findings",
                        "smithy.api#enumValue": "AUTOMATIC"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Code remediation is disabled",
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Strategy for automated code remediation"
            }
        },
        "com.amazonaws.securityagent#CodeRemediationTask": {
            "type": "structure",
            "members": {
                "status": {
                    "target": "com.amazonaws.securityagent#CodeRemediationTaskStatus",
                    "traits": {
                        "smithy.api#documentation": "Current status of the code remediation task",
                        "smithy.api#required": {}
                    }
                },
                "statusReason": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Reason for the current code remediation task status"
                    }
                },
                "taskDetails": {
                    "target": "com.amazonaws.securityagent#CodeRemediationTaskDetailsList",
                    "traits": {
                        "smithy.api#documentation": "Details of the code remediation for each repository"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Information about task for code remediation"
            }
        },
        "com.amazonaws.securityagent#CodeRemediationTaskDetails": {
            "type": "structure",
            "members": {
                "repoName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Name of the repository"
                    }
                },
                "codeDiffLink": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Link to the code diff for the remediation"
                    }
                },
                "pullRequestLink": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Link to the pull request for the remediation"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Code remediation details for a single repository"
            }
        },
        "com.amazonaws.securityagent#CodeRemediationTaskDetailsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securityagent#CodeRemediationTaskDetails"
            }
        },
        "com.amazonaws.securityagent#CodeRemediationTaskStatus": {
            "type": "enum",
            "members": {
                "IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IN_PROGRESS"
                    }
                },
                "COMPLETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Code remediation task status"
            }
        },
        "com.amazonaws.securityagent#CodeReviewSettings": {
            "type": "structure",
            "members": {
                "controlsScanning": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Whether Controls are utilized for code review analysis",
                        "smithy.api#required": {}
                    }
                },
                "generalPurposeScanning": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "Whether general purpose analysis is performed for code review",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Details of code review settings"
            }
        },
        "com.amazonaws.securityagent#ConfidenceLevel": {
            "type": "enum",
            "members": {
                "FALSE_POSITIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FALSE_POSITIVE"
                    }
                },
                "UNCONFIRMED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNCONFIRMED"
                    }
                },
                "LOW": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LOW"
                    }
                },
                "MEDIUM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "MEDIUM"
                    }
                },
                "HIGH": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HIGH"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Finding confidence level"
            }
        },
        "com.amazonaws.securityagent#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Error description",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Request conflicts with current resource state",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.securityagent#ContextType": {
            "type": "enum",
            "members": {
                "ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Error encountered during execution",
                        "smithy.api#enumValue": "ERROR"
                    }
                },
                "CLIENT_ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Client-side error encountered during execution",
                        "smithy.api#enumValue": "CLIENT_ERROR"
                    }
                },
                "WARNING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Warning encountered during execution",
                        "smithy.api#enumValue": "WARNING"
                    }
                },
                "INFO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "Informational message during execution",
                        "smithy.api#enumValue": "INFO"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Category of execution context"
            }
        },
        "com.amazonaws.securityagent#CreateAgentSpace": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#CreateAgentSpaceInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#CreateAgentSpaceOutput"
            },
            "traits": {
                "smithy.api#documentation": "Creates an agent space record",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/CreateAgentSpace"
                }
            }
        },
        "com.amazonaws.securityagent#CreateAgentSpaceInput": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.securityagent#AgentName",
                    "traits": {
                        "smithy.api#documentation": "Name of the agent space",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Description of the agent space"
                    }
                },
                "awsResources": {
                    "target": "com.amazonaws.securityagent#AWSResources",
                    "traits": {
                        "smithy.api#documentation": "AWS resource configurations associated with the agent space"
                    }
                },
                "targetDomainIds": {
                    "target": "com.amazonaws.securityagent#TargetDomainIdList",
                    "traits": {
                        "smithy.api#documentation": "Target domain IDs to associate with the agent space"
                    }
                },
                "codeReviewSettings": {
                    "target": "com.amazonaws.securityagent#CodeReviewSettings",
                    "traits": {
                        "smithy.api#documentation": "Configuration for code review analysis, including controls scanning and general purpose scanning settings"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.securityagent#KmsKeyId",
                    "traits": {
                        "smithy.api#documentation": "Identifier of the KMS key used to encrypt data. Can be a key ID, key ARN, alias name, or alias ARN. If not specified, an AWS managed key is used."
                    }
                },
                "tags": {
                    "target": "com.amazonaws.securityagent#TagMap",
                    "traits": {
                        "smithy.api#documentation": "Tags to associate with the agent space",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Input for creating a new agent space",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#CreateAgentSpaceOutput": {
            "type": "structure",
            "members": {
                "agentSpaceId": {
                    "target": "com.amazonaws.securityagent#AgentSpaceId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the created agent space",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.securityagent#AgentName",
                    "traits": {
                        "smithy.api#documentation": "Name of the created agent space",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Description of the created agent space"
                    }
                },
                "awsResources": {
                    "target": "com.amazonaws.securityagent#AWSResources",
                    "traits": {
                        "smithy.api#documentation": "AWS resource configurations associated with the agent space"
                    }
                },
                "targetDomainIds": {
                    "target": "com.amazonaws.securityagent#TargetDomainIdList",
                    "traits": {
                        "smithy.api#documentation": "List of target domain IDs registered with the agent space"
                    }
                },
                "codeReviewSettings": {
                    "target": "com.amazonaws.securityagent#CodeReviewSettings",
                    "traits": {
                        "smithy.api#documentation": "Configuration for code review analysis, including controls scanning and general purpose scanning settings"
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.securityagent#KmsKeyId",
                    "traits": {
                        "smithy.api#documentation": "Identifier of the KMS key used to encrypt data. Can be a key ID, key ARN, alias name, or alias ARN. If not specified, an AWS managed key is used."
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "Timestamp when the agent space was created",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "Timestamp when the agent space was last updated",
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Output for the CreateAgentSpace operation",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#CreateApplication": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#CreateApplicationRequest"
            },
            "output": {
                "target": "com.amazonaws.securityagent#CreateApplicationResponse"
            },
            "traits": {
                "smithy.api#documentation": "Creates a new application",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/CreateApplication"
                }
            }
        },
        "com.amazonaws.securityagent#CreateApplicationRequest": {
            "type": "structure",
            "members": {
                "idcInstanceArn": {
                    "target": "com.amazonaws.securityagent#IdCInstanceArn",
                    "traits": {
                        "smithy.api#documentation": "ARN of the IAM Identity Center instance used for user authentication. Optional for non-IdC applications",
                        "smithy.api#notProperty": {}
                    }
                },
                "roleArn": {
                    "target": "com.amazonaws.securityagent#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "ARN of the IAM role that the application uses to access AWS resources on your behalf"
                    }
                },
                "defaultKmsKeyId": {
                    "target": "com.amazonaws.securityagent#DefaultKmsKeyId",
                    "traits": {
                        "smithy.api#documentation": "Default KMS key identifier used to encrypt application data"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.securityagent#TagMap",
                    "traits": {
                        "smithy.api#documentation": "Tags to associate with the application",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#CreateApplicationResponse": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.securityagent#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "Application ID",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#CreateIntegration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#CreateIntegrationInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#CreateIntegrationOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securityagent#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securityagent#ConflictException"
                },
                {
                    "target": "com.amazonaws.securityagent#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securityagent#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securityagent#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.securityagent#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Creates the Integration of the Security Agent App with an external Provider",
                "smithy.api#http": {
                    "code": 201,
                    "method": "POST",
                    "uri": "/CreateIntegration"
                }
            }
        },
        "com.amazonaws.securityagent#CreateIntegrationInput": {
            "type": "structure",
            "members": {
                "provider": {
                    "target": "com.amazonaws.securityagent#Provider",
                    "traits": {
                        "smithy.api#documentation": "Provider to integrate with",
                        "smithy.api#required": {}
                    }
                },
                "input": {
                    "target": "com.amazonaws.securityagent#ProviderInput",
                    "traits": {
                        "smithy.api#documentation": "Provider-specific input parameters",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "integrationDisplayName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Display name for the integration",
                        "smithy.api#property": {
                            "name": "displayName"
                        },
                        "smithy.api#required": {}
                    }
                },
                "kmsKeyId": {
                    "target": "com.amazonaws.securityagent#KmsKeyId",
                    "traits": {
                        "smithy.api#documentation": "KMS key ID for encrypting integration details"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.securityagent#TagMap",
                    "traits": {
                        "smithy.api#documentation": "Tags to associate with the integration",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#CreateIntegrationOutput": {
            "type": "structure",
            "members": {
                "integrationId": {
                    "target": "com.amazonaws.securityagent#IntegrationId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the created integration",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#CreateMembership": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#CreateMembershipRequest"
            },
            "output": {
                "target": "com.amazonaws.securityagent#CreateMembershipResponse"
            },
            "traits": {
                "smithy.api#documentation": "Adds a single member to an agent space with specified role",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/CreateMembership"
                }
            }
        },
        "com.amazonaws.securityagent#CreateMembershipRequest": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.securityagent#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "Application identifier",
                        "smithy.api#required": {}
                    }
                },
                "agentSpaceId": {
                    "target": "com.amazonaws.securityagent#AgentSpaceId",
                    "traits": {
                        "smithy.api#documentation": "Agent space identifier",
                        "smithy.api#required": {}
                    }
                },
                "membershipId": {
                    "target": "com.amazonaws.securityagent#MembershipId",
                    "traits": {
                        "smithy.api#documentation": "Member identifier (userId or agentSpaceId)",
                        "smithy.api#required": {}
                    }
                },
                "memberType": {
                    "target": "com.amazonaws.securityagent#MembershipType",
                    "traits": {
                        "smithy.api#documentation": "Type of member (USER or AGENT_SPACE)",
                        "smithy.api#required": {}
                    }
                },
                "config": {
                    "target": "com.amazonaws.securityagent#MembershipConfig",
                    "traits": {
                        "smithy.api#documentation": "Membership details (user or agent specific)"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Request structure for adding a single member to an agent space",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#CreateMembershipResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Response structure for adding a single member to an agent space",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#CreatePentest": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#CreatePentestInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#CreatePentestOutput"
            },
            "traits": {
                "smithy.api#documentation": "Creates a new pentest configuration",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/CreatePentest"
                }
            }
        },
        "com.amazonaws.securityagent#CreatePentestInput": {
            "type": "structure",
            "members": {
                "title": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Title of the pentest",
                        "smithy.api#required": {}
                    }
                },
                "agentSpaceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "ID of the agent space where the pentest should be created",
                        "smithy.api#required": {}
                    }
                },
                "assets": {
                    "target": "com.amazonaws.securityagent#Assets",
                    "traits": {
                        "smithy.api#documentation": "Assets to be tested during the pentest"
                    }
                },
                "excludeRiskTypes": {
                    "target": "com.amazonaws.securityagent#RiskTypeList",
                    "traits": {
                        "smithy.api#documentation": "A list of risk types excluded from the pentest execution"
                    }
                },
                "serviceRole": {
                    "target": "com.amazonaws.securityagent#ServiceRole",
                    "traits": {
                        "smithy.api#documentation": "Service role ARN for accessing customer resources"
                    }
                },
                "logConfig": {
                    "target": "com.amazonaws.securityagent#CloudWatchLog",
                    "traits": {
                        "smithy.api#documentation": "CloudWatch log group and stream prefix where pentest execution logs are stored"
                    }
                },
                "vpcConfig": {
                    "target": "com.amazonaws.securityagent#VpcConfig",
                    "traits": {
                        "smithy.api#documentation": "VPC configuration that the Security Agent accesses"
                    }
                },
                "networkTrafficConfig": {
                    "target": "com.amazonaws.securityagent#NetworkTrafficConfig",
                    "traits": {
                        "smithy.api#documentation": "Configuration for network traffic filtering"
                    }
                },
                "codeRemediationStrategy": {
                    "target": "com.amazonaws.securityagent#CodeRemediationStrategy",
                    "traits": {
                        "smithy.api#documentation": "Strategy for code remediation on findings"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Input for creating a new pentest",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#CreatePentestOutput": {
            "type": "structure",
            "members": {
                "pentestId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the created pentest"
                    }
                },
                "title": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Title of the created pentest"
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "Timestamp when the pentest was created",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "Timestamp when the pentest was last updated",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "assets": {
                    "target": "com.amazonaws.securityagent#Assets",
                    "traits": {
                        "smithy.api#documentation": "Assets to be tested in the created pentest"
                    }
                },
                "excludeRiskTypes": {
                    "target": "com.amazonaws.securityagent#RiskTypeList",
                    "traits": {
                        "smithy.api#documentation": "A list of risk types excluded from the pentest execution"
                    }
                },
                "serviceRole": {
                    "target": "com.amazonaws.securityagent#ServiceRole",
                    "traits": {
                        "smithy.api#documentation": "Service role ARN for accessing customer resources"
                    }
                },
                "logConfig": {
                    "target": "com.amazonaws.securityagent#CloudWatchLog",
                    "traits": {
                        "smithy.api#documentation": "CloudWatch log group and stream prefix where pentest execution logs are stored"
                    }
                },
                "agentSpaceId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "ID of the agent space where the pentest was created"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Output for the CreatePentest operation",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#CreateTargetDomain": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#CreateTargetDomainInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#CreateTargetDomainOutput"
            },
            "traits": {
                "smithy.api#documentation": "Creates a target domain record",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/CreateTargetDomain"
                }
            }
        },
        "com.amazonaws.securityagent#CreateTargetDomainInput": {
            "type": "structure",
            "members": {
                "targetDomainName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Domain name of the target domain",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "verificationMethod": {
                    "target": "com.amazonaws.securityagent#DomainVerificationMethod",
                    "traits": {
                        "smithy.api#documentation": "Verification method for the target domain",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.securityagent#TagMap",
                    "traits": {
                        "smithy.api#documentation": "Tags to associate with the target domain",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Input for creating a new target domain",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#CreateTargetDomainOutput": {
            "type": "structure",
            "members": {
                "targetDomainId": {
                    "target": "com.amazonaws.securityagent#TargetDomainId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the created target domain",
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "domainName": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Name of the created target domain",
                        "smithy.api#required": {}
                    }
                },
                "verificationStatus": {
                    "target": "com.amazonaws.securityagent#TargetDomainStatus",
                    "traits": {
                        "smithy.api#documentation": "Current verification status of the registered target domain",
                        "smithy.api#required": {}
                    }
                },
                "verificationDetails": {
                    "target": "com.amazonaws.securityagent#VerificationDetails",
                    "traits": {
                        "smithy.api#documentation": "Verification details to verify registered target domain"
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "Timestamp when the target domain was registered",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "verifiedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "Timestamp when the target domain was last successfully verified",
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Output for the CreateTargetDomain operation",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#CsrfState": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "CSRF state token for OAuth security"
            }
        },
        "com.amazonaws.securityagent#CustomHeader": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Name of header to set value for"
                    }
                },
                "value": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Value to set for header"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Custom headers to be set for network requests"
            }
        },
        "com.amazonaws.securityagent#CustomHeaderList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.securityagent#CustomHeader"
            },
            "traits": {
                "smithy.api#documentation": "List of custom headers"
            }
        },
        "com.amazonaws.securityagent#DNSRecordType": {
            "type": "enum",
            "members": {
                "TXT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "DNS TXT record",
                        "smithy.api#enumValue": "TXT"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Type of DNS record"
            }
        },
        "com.amazonaws.securityagent#DefaultKmsKeyId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "Identifier of a KMS key. Can be a key ID, key ARN, alias name, or alias ARN."
            }
        },
        "com.amazonaws.securityagent#DeleteAgentSpace": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#DeleteAgentSpaceInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#DeleteAgentSpaceOutput"
            },
            "traits": {
                "smithy.api#documentation": "Deletes an agent space record",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/DeleteAgentSpace"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.securityagent#DeleteAgentSpaceInput": {
            "type": "structure",
            "members": {
                "agentSpaceId": {
                    "target": "com.amazonaws.securityagent#AgentSpaceId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the agent space to delete",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Input for deleting an agent space",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#DeleteAgentSpaceOutput": {
            "type": "structure",
            "members": {
                "agentSpaceId": {
                    "target": "com.amazonaws.securityagent#AgentSpaceId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the deleted agent space",
                        "smithy.api#notProperty": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Output for the DeleteAgentSpace operation",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#DeleteApplication": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#DeleteApplicationRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#documentation": "Deletes an application",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/DeleteApplication"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.securityagent#DeleteApplicationRequest": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.securityagent#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "Application ID",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#DeleteArtifact": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#DeleteArtifactInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#DeleteArtifactOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securityagent#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securityagent#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securityagent#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securityagent#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.securityagent#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Delete an Artifact from the given agent space",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/DeleteArtifact"
                }
            }
        },
        "com.amazonaws.securityagent#DeleteArtifactInput": {
            "type": "structure",
            "members": {
                "agentSpaceId": {
                    "target": "com.amazonaws.securityagent#AgentSpaceId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the agent space",
                        "smithy.api#required": {}
                    }
                },
                "artifactId": {
                    "target": "com.amazonaws.securityagent#ArtifactId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the artifact",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#DeleteArtifactOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#DeleteIntegration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#DeleteIntegrationInput"
            },
            "output": {
                "target": "com.amazonaws.securityagent#DeleteIntegrationOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.securityagent#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.securityagent#ConflictException"
                },
                {
                    "target": "com.amazonaws.securityagent#InternalServerException"
                },
                {
                    "target": "com.amazonaws.securityagent#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.securityagent#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.securityagent#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Deletes the Integration of the Security Agent App with an external Provider",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/DeleteIntegration"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.securityagent#DeleteIntegrationInput": {
            "type": "structure",
            "members": {
                "integrationId": {
                    "target": "com.amazonaws.securityagent#IntegrationId",
                    "traits": {
                        "smithy.api#documentation": "Unique identifier of the integration",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#DeleteIntegrationOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#DeleteMembership": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.securityagent#DeleteMembershipRequest"
            },
            "output": {
                "target": "com.amazonaws.securityagent#DeleteMembershipResponse"
            },
            "traits": {
                "smithy.api#documentation": "Removes a single member associated to an agent space",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/DeleteMembership"
                }
            }
        },
        "com.amazonaws.securityagent#DeleteMembershipRequest": {
            "type": "structure",
            "members": {
                "applicationId": {
                    "target": "com.amazonaws.securityagent#ApplicationId",
                    "traits": {
                        "smithy.api#documentation": "Application identifier",
                        "smithy.api#required": {}
                    }
                },
                "agentSpaceId": {
                    "target": "com.amazonaws.securityagent#AgentSpaceId",
                    "traits": {
                        "smithy.api#documentation": "Agent space identifier",
                        "smithy.api#required": {}
                    }
                },
                "membershipId": {
                    "target": "com.amazonaws.securityagent#MembershipId",
                    "traits": {
                        "smithy.api#documentation": "Member identifier (userId or agentSpaceId)",
                        "smithy.api#required": {}
                    }
                },
                "memberType": {
                    "target": "com.amazonaws.securityagent#MembershipType",
                    "traits": {
                        "smithy.api#documentation": "Type of member (USER or AGENT_SPACE)"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "Request structure for removing a single member from an agent space",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.securityagent#DeleteMembershipResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "Response structure for removing a single member from an agent space",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.securityagent#DeletePentestFailure": {
            "type": "structure",
            "members": {
                "pentestId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "Identifier of the pentest that failed to delete"
                    }
                },
[...]
