{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.securityhub#AcceptInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.securityhub#AcceptInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.securityhub#AcceptInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.securityhub#InternalException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidAccessException"
        },
        {
          "target": "com.amazonaws.securityhub#InvalidInputException"
        },
        {
          "target": "com.amazonaws.securityhub#LimitExceededException"
        },
        {
          "target": "com.amazonaws.securityhub#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts the invitation to be a member account and be monitored by the Security Hub master\n         account that the invitation was sent from.</p>\n         <p>When the member account accepts the invitation, permission is granted to the master\n         account to view findings generated in the member account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/master",
          "code": 200
        }
      }
    },
    "com.amazonaws.securityhub#AcceptInvitationRequest": {
      "type": "structure",
      "members": {
        "MasterId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the Security Hub master account that sent the invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the invitation sent from the Security Hub master account.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.securityhub#AcceptInvitationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.securityhub#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.securityhub#NonEmptyString"
        },
        "Message": {
          "target": "com.amazonaws.securityhub#NonEmptyString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permission to perform the action specified in the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.securityhub#AccountDetails": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.securityhub#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an AWS account.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The email of an AWS account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an AWS account.</p>"
      }
    },
    "com.amazonaws.securityhub#AccountDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AccountDetails"
      }
    },
    "com.amazonaws.securityhub#AccountId": {
      "type": "string"
    },
    "com.amazonaws.securityhub#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#NonEmptyString"
      }
    },
    "com.amazonaws.securityhub#ActionTarget": {
      "type": "structure",
      "members": {
        "ActionTargetArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the target action.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the target action.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action target.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An <code>ActionTarget</code> object.</p>"
      }
    },
    "com.amazonaws.securityhub#ActionTargetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#ActionTarget"
      }
    },
    "com.amazonaws.securityhub#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#NonEmptyString"
      }
    },
    "com.amazonaws.securityhub#AvailabilityZone": {
      "type": "structure",
      "members": {
        "SubnetId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subnet. You can specify one subnet per Availability Zone.</p>"
          }
        },
        "ZoneName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Availability Zone.</p>"
      }
    },
    "com.amazonaws.securityhub#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AvailabilityZone"
      }
    },
    "com.amazonaws.securityhub#AwsAutoScalingAutoScalingGroupDetails": {
      "type": "structure",
      "members": {
        "HealthCheckGracePeriod": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, that Amazon EC2 Auto Scaling waits before it checks the\n         health status of an EC2 instance that has come into service.</p>"
          }
        },
        "HealthCheckType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The service to use for the health checks.</p>"
          }
        },
        "LoadBalancerNames": {
          "target": "com.amazonaws.securityhub#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The list of load balancers associated with the group.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The datetime when the auto scaling group was created.</p>"
          }
        },
        "LaunchConfigurationName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the launch configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about an auto scaling group.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionDetails": {
      "type": "structure",
      "members": {
        "LastModifiedTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the distribution was last modified.</p>"
          }
        },
        "WebAclId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that specifies the AWS WAF web ACL, if any, to associate with this distribution.</p>"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The domain name corresponding to the distribution.</p>"
          }
        },
        "ETag": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The entity tag is a hash of the object.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the current status of the distribution.</p>"
          }
        },
        "Logging": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionLogging",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that controls whether access logs are written for the distribution.</p>"
          }
        },
        "Origins": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOrigins",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about origins for this distribution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A distribution configuration.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionLogging": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>With this field, you can enable or disable the selected distribution.</p>"
          }
        },
        "Prefix": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An optional string that you want CloudFront to use as a prefix to the access log\n         filenames for this distribution.</p>"
          }
        },
        "IncludeCookies": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether you want CloudFront to include cookies in access logs.</p>"
          }
        },
        "Bucket": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket to store the access logs in.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that controls whether access logs are written for the distribution.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginItem": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the origin or origin group.</p>"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin.</p>"
          }
        },
        "OriginPath": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that describes the Amazon S3 bucket, HTTP server (for example, a web\n         server), Amazon Elemental MediaStore, or other server from which CloudFront gets your\n         files.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginItem"
      }
    },
    "com.amazonaws.securityhub#AwsCloudFrontDistributionOrigins": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.securityhub#AwsCloudFrontDistributionOriginItemList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains origins or origin groups for this distribution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about origins and origin groups for this distribution.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCodeBuildProjectDetails": {
      "type": "structure",
      "members": {
        "Environment": {
          "target": "com.amazonaws.securityhub#AwsCodeBuildProjectEnvironment",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build environment for this build project.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the build project.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.securityhub#AwsCodeBuildProjectSource",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build input source code for this build project.</p>"
          }
        },
        "ServiceRole": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that enables AWS CodeBuild to interact with dependent AWS\n         services on behalf of the AWS account.</p>"
          }
        },
        "EncryptionKey": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) used to encrypt the\n         build output artifacts.</p>\n         <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the\n         CMK alias (using the format alias/alias-name). </p>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.securityhub#AwsCodeBuildProjectVpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the VPC configuration that AWS CodeBuild accesses.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an AWS CodeBuild project.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCodeBuildProjectEnvironment": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The certificate to use with this build project.</p>"
          }
        },
        "RegistryCredential": {
          "target": "com.amazonaws.securityhub#AwsCodeBuildProjectEnvironmentRegistryCredential",
          "traits": {
            "smithy.api#documentation": "<p>The credentials for access to a private registry.</p>"
          }
        },
        "ImagePullCredentialsType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of credentials AWS CodeBuild uses to pull images in your build.</p>\n         <p>Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CODEBUILD</code> specifies that AWS CodeBuild uses its own credentials. This\n               requires that you modify your ECR repository policy to trust the AWS CodeBuild\n               service principal.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SERVICE_ROLE</code> specifies that AWS CodeBuild uses your build project's\n               service role.</p>\n            </li>\n         </ul>\n         <p>When you use a cross-account or private registry image, you must use\n            <code>SERVICE_ROLE</code> credentials. When you use an AWS CodeBuild curated image, you\n         must use <code>CODEBUILD</code> credentials.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of build environment to use for related builds.</p>\n         <p>The environment type <code>ARM_CONTAINER</code> is available only in Regions US East (N.\n         Virginia), US East (Ohio), US West (Oregon), Europe (Ireland), Asia Pacific (Mumbai), Asia\n         Pacific (Tokyo), Asia Pacific (Sydney), and Europe (Frankfurt).</p>\n         <p>The environment type <code>LINUX_CONTAINER</code> with compute type\n         build.general1.2xlarge is available only in Regions US East (N. Virginia), US East (N.\n         Virginia), US West (Oregon), Canada (Central), Europe (Ireland), Europe (London), Europe\n         (Frankfurt), Asia Pacific (Tokyo), Asia Pacific (Seoul), Asia Pacific (Singapore), Asia\n         Pacific (Sydney), China (Beijing), and China (Ningxia).</p>\n         <p>The environment type <code>LINUX_GPU_CONTAINER</code> is available only in Regions US\n         East (N. Virginia), US East (N. Virginia), US West (Oregon), Canada (Central), Europe\n         (Ireland), Europe (London), Europe (Frankfurt), Asia Pacific (Tokyo), Asia Pacific (Seoul),\n         Asia Pacific (Singapore), Asia Pacific (Sydney), China (Beijing), and China\n         (Ningxia).</p>\n         <p>Valid values: <code>WINDOWS_CONTAINER</code> | <code>LINUX_CONTAINER</code> |\n            <code>LINUX_GPU_CONTAINER</code> | <code>ARM_CONTAINER</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the build environment for this build project.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCodeBuildProjectEnvironmentRegistryCredential": {
      "type": "structure",
      "members": {
        "CredentialProvider": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The service that created the credentials to access a private Docker registry.</p>\n         <p>The valid value,<code> SECRETS_MANAGER</code>, is for AWS Secrets Manager.</p>"
          }
        },
        "Credential": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or name of credentials created using AWS Secrets\n         Manager.</p>\n         <note>\n            <p>The credential can use the name of the credentials only if they exist in your current\n            AWS Region. </p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The credentials for access to a private registry.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCodeBuildProjectSource": {
      "type": "structure",
      "members": {
        "Location": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Information about the location of the source code to be built.</p>\n         <p>Valid values include:</p>\n         <ul>\n            <li>\n               <p>For source code settings that are specified in the source action of a pipeline in\n               AWS CodePipeline, location should not be specified. If it is specified, AWS\n               CodePipeline ignores it. This is because AWS CodePipeline uses the settings in a\n               pipeline's source action instead of this value.</p>\n            </li>\n            <li>\n               <p>For source code in an AWS CodeCommit repository, the HTTPS clone URL to the\n               repository that contains the source code and the build spec file (for example,\n                  <code>https://git-codecommit.region-ID.amazonaws.com/v1/repos/repo-name</code>\n               ).</p>\n            </li>\n            <li>\n               <p>For source code in an S3 input bucket, one of the following.</p>\n               <ul>\n                  <li>\n                     <p>The path to the ZIP file that contains the source code (for example,\n                        <code>bucket-name/path/to/object-name.zip</code>).</p>\n                  </li>\n                  <li>\n                     <p> The path to the folder that contains the source code (for example,\n                        <code>bucket-name/path/to/source-code/folder/</code>).</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>For source code in a GitHub repository, the HTTPS clone URL to the repository that\n               contains the source and the build spec file.</p>\n            </li>\n            <li>\n               <p>For source code in a Bitbucket repository, the HTTPS clone URL to the repository\n               that contains the source and the build spec file. </p>\n            </li>\n         </ul>"
          }
        },
        "GitCloneDepth": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Git clone depth for the build project.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of repository that contains the source code to be built. Valid values\n         are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BITBUCKET</code> - The source code is in a Bitbucket repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CODECOMMIT</code> - The source code is in an AWS CodeCommit\n               repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CODEPIPELINE</code> - The source code settings are specified in the source\n               action of a pipeline in AWS CodePipeline.</p>\n            </li>\n            <li>\n               <p>\n                  <code>GITHUB</code> - The source code is in a GitHub repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>GITHUB_ENTERPRISE</code> - The source code is in a GitHub Enterprise\n               repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NO_SOURCE</code> - The project does not have input source code.</p>\n            </li>\n            <li>\n               <p>\n                  <code>S3</code> - The source code is in an S3 input bucket. </p>\n            </li>\n         </ul>"
          }
        },
        "InsecureSsl": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to ignore SSL warnings while connecting to the project source code.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the build input source code for this build project.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsCodeBuildProjectVpcConfig": {
      "type": "structure",
      "members": {
        "Subnets": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of one or more subnet IDs in your Amazon VPC.</p>"
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of one or more security group IDs in your Amazon VPC.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the VPC configuration that AWS CodeBuild accesses.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsEc2InstanceDetails": {
      "type": "structure",
      "members": {
        "LaunchedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date/time the instance was launched.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The instance type of the instance. </p>"
          }
        },
        "IpV6Addresses": {
          "target": "com.amazonaws.securityhub#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The IPv6 addresses associated with the instance.</p>"
          }
        },
        "ImageId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Machine Image (AMI) ID of the instance.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the VPC that the instance was launched in.</p>"
          }
        },
        "IpV4Addresses": {
          "target": "com.amazonaws.securityhub#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The IPv4 addresses associated with the instance.</p>"
          }
        },
        "KeyName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The key name associated with the instance.</p>"
          }
        },
        "IamInstanceProfileArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The IAM profile ARN of the instance.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the subnet that the instance was launched in.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an Amazon EC2 instance.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsEc2NetworkInterfaceAttachment": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The attachment state.</p>\n         <p>Valid values: <code>attaching</code> | <code>attached</code> | <code>detaching</code> |\n            <code>detached</code>\n         </p>"
          }
        },
        "InstanceOwnerId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the owner of the instance.</p>"
          }
        },
        "AttachTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp indicating when the attachment initiated.</p>"
          }
        },
        "AttachmentId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the network interface attachment</p>"
          }
        },
        "DeleteOnTermination": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the network interface is deleted when the instance is\n         terminated.</p>"
          }
        },
        "DeviceIndex": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The device index of the network interface attachment on the instance.</p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the network interface attachment.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsEc2NetworkInterfaceDetails": {
      "type": "structure",
      "members": {
        "Attachment": {
          "target": "com.amazonaws.securityhub#AwsEc2NetworkInterfaceAttachment",
          "traits": {
            "smithy.api#documentation": "<p>The network interface attachment.</p>"
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the network interface.</p>"
          }
        },
        "SourceDestCheck": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether traffic to or from the instance is validated.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.securityhub#AwsEc2NetworkInterfaceSecurityGroupList",
          "traits": {
            "smithy.api#documentation": "<p>Security groups for the network interface.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the network interface</p>"
      }
    },
    "com.amazonaws.securityhub#AwsEc2NetworkInterfaceSecurityGroup": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the security group.</p>"
          }
        },
        "GroupId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the security group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A security group associated with the network interface.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsEc2NetworkInterfaceSecurityGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsEc2NetworkInterfaceSecurityGroup"
      }
    },
    "com.amazonaws.securityhub#AwsEc2SecurityGroupDetails": {
      "type": "structure",
      "members": {
        "IpPermissions": {
          "target": "com.amazonaws.securityhub#AwsEc2SecurityGroupIpPermissionList",
          "traits": {
            "smithy.api#documentation": "<p>The inbound rules associated with the security group.</p>"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the owner of the security group.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the security group.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>[VPC only] The ID of the VPC for the security group.</p>"
          }
        },
        "GroupId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the security group.</p>"
          }
        },
        "IpPermissionsEgress": {
          "target": "com.amazonaws.securityhub#AwsEc2SecurityGroupIpPermissionList",
          "traits": {
            "smithy.api#documentation": "<p>[VPC only] The outbound rules associated with the security group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about an EC2 security group.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsEc2SecurityGroupIpPermission": {
      "type": "structure",
      "members": {
        "PrefixListIds": {
          "target": "com.amazonaws.securityhub#AwsEc2SecurityGroupPrefixListIdList",
          "traits": {
            "smithy.api#documentation": "<p>[VPC only] The prefix list IDs for an AWS service. With outbound rules, this is the AWS\n         service to access through a VPC endpoint from instances associated with the security\n         group.</p>"
          }
        },
        "Ipv6Ranges": {
          "target": "com.amazonaws.securityhub#AwsEc2SecurityGroupIpv6RangeList",
          "traits": {
            "smithy.api#documentation": "<p>The IPv6 ranges.</p>"
          }
        },
        "UserIdGroupPairs": {
          "target": "com.amazonaws.securityhub#AwsEc2SecurityGroupUserIdGroupPairList",
          "traits": {
            "smithy.api#documentation": "<p>The security group and AWS account ID pairs.</p>"
          }
        },
        "IpRanges": {
          "target": "com.amazonaws.securityhub#AwsEc2SecurityGroupIpRangeList",
          "traits": {
            "smithy.api#documentation": "<p>The IPv4 ranges.</p>"
          }
        },
        "FromPort": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The start of the port range for the TCP and UDP protocols, or an ICMP/ICMPv6 type\n         number.</p>\n         <p>A value of -1 indicates all ICMP/ICMPv6 types. If you specify all ICMP/ICMPv6 types, you\n         must specify all codes. </p>"
          }
        },
        "IpProtocol": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The IP protocol name (<code>tcp</code>, <code>udp</code>, <code>icmp</code>,\n            <code>icmpv6</code>) or number.</p>\n         <p>[VPC only] Use <code>-1</code> to specify all protocols.</p>\n         <p>When authorizing security group rules, specifying -1 or a protocol number other than\n            <code>tcp</code>, <code>udp</code>, <code>icmp</code>, or <code>icmpv6</code> allows\n         traffic on all ports, regardless of any port range you specify.</p>\n         <p>For <code>tcp</code>, <code>udp</code>, and <code>icmp</code>, you must specify a port\n         range.</p>\n         <p>For <code>icmpv6</code>, the port range is optional. If you omit the port range, traffic\n         for all types and codes is allowed. </p>"
          }
        },
        "ToPort": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The end of the port range for the TCP and UDP protocols, or an ICMP/ICMPv6 code.</p>\n         <p>A value of -1 indicates all ICMP/ICMPv6 codes. If you specify all ICMP/ICMPv6 types, you\n         must specify all codes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An IP permission for an EC2 security group.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsEc2SecurityGroupIpPermissionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsEc2SecurityGroupIpPermission"
      }
    },
    "com.amazonaws.securityhub#AwsEc2SecurityGroupIpRange": {
      "type": "structure",
      "members": {
        "CidrIp": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The IPv4 CIDR range. You can specify either a CIDR range or a source security group, but\n         not both. To specify a single IPv4 address, use the /32 prefix length.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A range of IPv4 addresses.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsEc2SecurityGroupIpRangeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsEc2SecurityGroupIpRange"
      }
    },
    "com.amazonaws.securityhub#AwsEc2SecurityGroupIpv6Range": {
      "type": "structure",
      "members": {
        "CidrIpv6": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The IPv6 CIDR range. You can specify either a CIDR range or a source security group, but\n         not both. To specify a single IPv6 address, use the /128 prefix length.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A range of IPv6 addresses.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsEc2SecurityGroupIpv6RangeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsEc2SecurityGroupIpv6Range"
      }
    },
    "com.amazonaws.securityhub#AwsEc2SecurityGroupPrefixListId": {
      "type": "structure",
      "members": {
        "PrefixListId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the prefix.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A prefix list ID.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsEc2SecurityGroupPrefixListIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsEc2SecurityGroupPrefixListId"
      }
    },
    "com.amazonaws.securityhub#AwsEc2SecurityGroupUserIdGroupPair": {
      "type": "structure",
      "members": {
        "PeeringStatus": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The status of a VPC peering connection, if applicable.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC for the referenced security group, if applicable.</p>"
          }
        },
        "GroupId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the security group.</p>"
          }
        },
        "VpcPeeringConnectionId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC peering connection, if applicable.</p>"
          }
        },
        "UserId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an AWS account.</p>\n         <p>For a referenced security group in another VPC, the account ID of the referenced\n         security group is returned in the response. If the referenced security group is deleted,\n         this value is not returned.</p>\n         <p>[EC2-Classic] Required when adding or removing rules that reference a security group in\n         another AWS. </p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the security group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A relationship between a security group and a user.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsEc2SecurityGroupUserIdGroupPairList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsEc2SecurityGroupUserIdGroupPair"
      }
    },
    "com.amazonaws.securityhub#AwsEc2VolumeAttachment": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the EC2 instance.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The attachment state of the volume.</p>"
          }
        },
        "AttachTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The datetime when the attachment initiated.</p>"
          }
        },
        "DeleteOnTermination": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the EBS volume is deleted when the EC2 instance is terminated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attachment to an AWS EC2 volume.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsEc2VolumeAttachmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsEc2VolumeAttachment"
      }
    },
    "com.amazonaws.securityhub#AwsEc2VolumeDetails": {
      "type": "structure",
      "members": {
        "Attachments": {
          "target": "com.amazonaws.securityhub#AwsEc2VolumeAttachmentList",
          "traits": {
            "smithy.api#documentation": "<p>The volume attachments.</p>"
          }
        },
        "SnapshotId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot from which the volume was created.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS Key Management Service (AWS KMS) customer master key (CMK) that was\n         used to protect the volume encryption key for the volume.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The volume state.</p>"
          }
        },
        "Encrypted": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the volume is encrypted.</p>"
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The datetime when the volume was created.</p>"
          }
        },
        "Size": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the volume, in GiBs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about an EC2 volume.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsEc2VpcDetails": {
      "type": "structure",
      "members": {
        "DhcpOptionsId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the set of Dynamic Host Configuration Protocol (DHCP) options that are\n         associated with the VPC. If the default options are associated with the VPC, then this is\n         default.</p>"
          }
        },
        "CidrBlockAssociationSet": {
          "target": "com.amazonaws.securityhub#CidrBlockAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the IPv4 CIDR blocks associated with the VPC.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the VPC.</p>"
          }
        },
        "Ipv6CidrBlockAssociationSet": {
          "target": "com.amazonaws.securityhub#Ipv6CidrBlockAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the IPv6 CIDR blocks associated with the VPC.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about an EC2 VPC.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsElasticsearchDomainDetails": {
      "type": "structure",
      "members": {
        "Endpoint": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Domain-specific endpoint used to submit index, search, and data upload requests to an\n         Amazon ES domain.</p>\n         <p>The endpoint is a service URL. </p>"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Name of an Amazon ES domain.</p>\n         <p>Domain names are unique across all domains owned by the same account within an AWS\n         Region.</p>\n         <p>Domain names must start with a lowercase letter and must be between 3 and 28\n         characters.</p>\n         <p>Valid characters are a-z (lowercase only), 0-9, and – (hyphen). </p>"
          }
        },
        "NodeToNodeEncryptionOptions": {
          "target": "com.amazonaws.securityhub#AwsElasticsearchDomainNodeToNodeEncryptionOptions",
          "traits": {
            "smithy.api#documentation": "<p>Details about the configuration for node-to-node encryption.</p>"
          }
        },
        "DomainId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for an Amazon ES domain.</p>"
          }
        },
        "EncryptionAtRestOptions": {
          "target": "com.amazonaws.securityhub#AwsElasticsearchDomainEncryptionAtRestOptions",
          "traits": {
            "smithy.api#documentation": "<p>Details about the configuration for encryption at rest.</p>"
          }
        },
        "AccessPolicies": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>IAM policy document specifying the access policies for the new Amazon ES domain.</p>"
          }
        },
        "ElasticsearchVersion": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Elasticsearch version.</p>"
          }
        },
        "DomainEndpointOptions": {
          "target": "com.amazonaws.securityhub#AwsElasticsearchDomainDomainEndpointOptions",
          "traits": {
            "smithy.api#documentation": "<p>Additional options for the domain endpoint.</p>"
          }
        },
        "Endpoints": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that exists if the Amazon ES domain uses VPC endpoints.</p>"
          }
        },
        "VPCOptions": {
          "target": "com.amazonaws.securityhub#AwsElasticsearchDomainVPCOptions",
          "traits": {
            "smithy.api#documentation": "<p>Information that Amazon ES derives based on <code>VPCOptions</code> for the\n         domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Elasticsearch domain.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsElasticsearchDomainDomainEndpointOptions": {
      "type": "structure",
      "members": {
        "EnforceHTTPS": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to require that all traffic to the domain arrive over HTTPS.</p>"
          }
        },
        "TLSSecurityPolicy": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The TLS security policy to apply to the HTTPS endpoint of the Elasticsearch\n         domain.</p>\n         <p>Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Policy-Min-TLS-1-0-2019-07</code>, which supports TLSv1.0 and higher</p>\n            </li>\n            <li>\n               <p>\n                  <code>Policy-Min-TLS-1-2-2019-07</code>, which only supports TLSv1.2</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional options for the domain endpoint, such as whether to require HTTPS for all\n         traffic.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsElasticsearchDomainEncryptionAtRestOptions": {
      "type": "structure",
      "members": {
        "KmsKeyId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key ID. Takes the form 1a2a3a4-1a2a-3a4a-5a6a-1a2a3a4a5a6a.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether encryption at rest is enabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the configuration for encryption at rest.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsElasticsearchDomainNodeToNodeEncryptionOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether node-to-node encryption is enabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the configuration for node-to-node encryption.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsElasticsearchDomainVPCOptions": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Availability Zones associated with the VPC subnets.</p>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of subnet IDs associated with the VPC endpoints for the domain.</p>"
          }
        },
        "VPCId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>ID for the VPC.</p>"
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>The list of security group IDs associated with the VPC endpoints for the domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information that Amazon ES derives based on <code>VPCOptions</code> for the\n         domain.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsElbv2LoadBalancerDetails": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.securityhub#LoadBalancerState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the load balancer.</p>"
          }
        },
        "CanonicalHostedZoneId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Route 53 hosted zone associated with the load balancer.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC for the load balancer.</p>"
          }
        },
        "AvailabilityZones": {
          "target": "com.amazonaws.securityhub#AvailabilityZones",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zones for the load balancer.</p>"
          }
        },
        "Scheme": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The nodes of an Internet-facing load balancer have public IP addresses.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.securityhub#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the security groups for the load balancer.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the load balancer was created.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of load balancer.</p>"
          }
        },
        "DNSName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The public DNS name of the load balancer.</p>"
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of IP addresses used by the subnets for your load balancer. The possible values\n         are <code>ipv4</code> (for IPv4 addresses) and <code>dualstack</code> (for IPv4 and IPv6\n         addresses).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a load balancer.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsIamAccessKeyDetails": {
      "type": "structure",
      "members": {
        "PrincipalName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the principal.</p>"
          }
        },
        "PrincipalType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of principal associated with an access key.</p>"
          }
        },
        "UserName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use PrincipalName instead."
            },
            "smithy.api#documentation": "<p>The user associated with the IAM access key related to a finding.</p>\n         <p>The <code>UserName</code> parameter has been replaced with the <code>PrincipalName</code> parameter because access keys can also be assigned to principals that are not IAM users.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The creation date/time of the IAM access key related to a finding.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.securityhub#AwsIamAccessKeyStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the IAM access key related to a finding.</p>"
          }
        },
        "PrincipalId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the principal associated with an access key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>IAM access key details related to a finding.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsIamAccessKeyStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Active",
            "name": "ACTIVE"
          },
          {
            "value": "Inactive",
            "name": "INACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.securityhub#AwsIamRoleAssumeRolePolicyDocument": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 131072
        },
        "smithy.api#pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u00A1-\\u00FF]+"
      }
    },
    "com.amazonaws.securityhub#AwsIamRoleDetails": {
      "type": "structure",
      "members": {
        "AssumeRolePolicyDocument": {
          "target": "com.amazonaws.securityhub#AwsIamRoleAssumeRolePolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The trust policy that grants permission to assume the role.</p>"
          }
        },
        "CreateDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in ISO 8601 date-time format, when the role was created.</p>"
          }
        },
        "Path": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The path to the role.</p>"
          }
        },
        "MaxSessionDuration": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum session duration (in seconds) that you want to set for the specified role.</p>"
          }
        },
        "RoleId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The stable and unique string identifying the role.</p>"
          }
        },
        "RoleName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name that identifies the role.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an IAM role, including all of the role's policies.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsKmsKeyDetails": {
      "type": "structure",
      "members": {
        "CreationDate": {
          "target": "com.amazonaws.securityhub#Double",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the CMK was created.</p>"
          }
        },
        "Origin": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The source of the CMK's key material.</p>\n         <p>When this value is <code>AWS_KMS</code>, AWS KMS created the key material.</p>\n         <p>When this value is <code>EXTERNAL</code>, the key material was imported from your\n         existing key management infrastructure or the CMK lacks key material.</p>\n         <p>When this value is <code>AWS_CLOUDHSM</code>, the key material was created in the AWS\n         CloudHSM cluster associated with a custom key store.</p>"
          }
        },
        "AWSAccountId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The twelve-digit account ID of the AWS account that owns the CMK.</p>"
          }
        },
        "KeyId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The globally unique identifier for the CMK.</p>"
          }
        },
        "KeyManager": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The manager of the CMK. CMKs in your AWS account are either customer managed or AWS managed.</p>"
          }
        },
        "KeyState": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The state of the CMK.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a customer master key (CMK).</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionCode": {
      "type": "structure",
      "members": {
        "S3Bucket": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon S3 bucket in the same AWS Region as your function. The bucket can be in a different AWS account.</p>"
          }
        },
        "S3Key": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 key of the deployment package.</p>"
          }
        },
        "ZipFile": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The base64-encoded contents of the deployment package. AWS SDK and AWS CLI clients handle the encoding for you.</p>"
          }
        },
        "S3ObjectVersion": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>For versioned objects, the version of the deployment package object to use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The code for the Lambda function. You can specify either an object in Amazon S3, or upload a deployment package directly.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionDeadLetterConfig": {
      "type": "structure",
      "members": {
        "TargetArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The dead-letter queue for failed asynchronous invocations.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionDetails": {
      "type": "structure",
      "members": {
        "KmsKeyArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key that's used to encrypt the function's environment variables. This key is only returned if you've configured a customer managed CMK.</p>"
          }
        },
        "MasterArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>For Lambda@Edge functions, the ARN of the master function.</p>"
          }
        },
        "FunctionName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the function.</p>"
          }
        },
        "Timeout": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that Lambda allows a function to run before stopping it.</p>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.securityhub#AwsLambdaFunctionVpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>The function's networking configuration.</p>"
          }
        },
        "Runtime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The runtime environment for the Lambda function.</p>"
          }
        },
        "Environment": {
          "target": "com.amazonaws.securityhub#AwsLambdaFunctionEnvironment",
          "traits": {
            "smithy.api#documentation": "<p>The function's environment variables.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The function's execution role.</p>"
          }
        },
        "Layers": {
          "target": "com.amazonaws.securityhub#AwsLambdaFunctionLayerList",
          "traits": {
            "smithy.api#documentation": "<p>The function's layers.</p>"
          }
        },
        "TracingConfig": {
          "target": "com.amazonaws.securityhub#AwsLambdaFunctionTracingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The function's AWS X-Ray tracing configuration.</p>"
          }
        },
        "MemorySize": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The memory that's allocated to the function.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the Lambda function.</p>"
          }
        },
        "DeadLetterConfig": {
          "target": "com.amazonaws.securityhub#AwsLambdaFunctionDeadLetterConfig",
          "traits": {
            "smithy.api#documentation": "<p>The function's dead letter queue.</p>"
          }
        },
        "Code": {
          "target": "com.amazonaws.securityhub#AwsLambdaFunctionCode",
          "traits": {
            "smithy.api#documentation": "<p>An <code>AwsLambdaFunctionCode</code> object.</p>"
          }
        },
        "CodeSha256": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The SHA256 hash of the function's deployment package.</p>"
          }
        },
        "Handler": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The function that Lambda calls to begin executing your function.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The latest updated revision of the function or alias.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the function was last updated, in ISO-8601 format (YYYY-MM-DDThh:mm:ss.sTZD).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a function's configuration.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionEnvironment": {
      "type": "structure",
      "members": {
        "Variables": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>Environment variable key-value pairs.</p>"
          }
        },
        "Error": {
          "target": "com.amazonaws.securityhub#AwsLambdaFunctionEnvironmentError",
          "traits": {
            "smithy.api#documentation": "<p>An <code>AwsLambdaFunctionEnvironmentError</code> object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A function's environment variable settings.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionEnvironmentError": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error messages for environment variables that couldn't be applied.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionLayer": {
      "type": "structure",
      "members": {
        "CodeSize": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the layer archive in bytes.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the function layer.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS Lambda layer.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionLayerList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsLambdaFunctionLayer"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionTracingConfig": {
      "type": "structure",
      "members": {
        "Mode": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The tracing mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The function's AWS X-Ray tracing configuration.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaFunctionVpcConfig": {
      "type": "structure",
      "members": {
        "SecurityGroupIds": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC security groups IDs.</p>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC subnet IDs.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The VPC security groups and subnets that are attached to a Lambda function. For more information, see VPC Settings.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaLayerVersionDetails": {
      "type": "structure",
      "members": {
        "Version": {
          "target": "com.amazonaws.securityhub#AwsLambdaLayerVersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The version number.</p>"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date that the version was created, in ISO 8601 format. For example,\n         2018-11-27T15:10:45.123+0000. </p>"
          }
        },
        "CompatibleRuntimes": {
          "target": "com.amazonaws.securityhub#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>The layer's compatible runtimes. Maximum number of five items.</p>\n         <p>Valid values: <code>nodejs10.x</code> | <code>nodejs12.x</code> | <code>java8</code> |\n            <code>java11</code> | <code>python2.7</code> | <code>python3.6</code> |\n            <code>python3.7</code> | <code>python3.8</code> | <code>dotnetcore1.0</code> |\n            <code>dotnetcore2.1</code> | <code>go1.x</code> | <code>ruby2.5</code> |\n            <code>provided</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a Lambda layer version.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsLambdaLayerVersionNumber": {
      "type": "long"
    },
    "com.amazonaws.securityhub#AwsRdsDbInstanceAssociatedRole": {
      "type": "structure",
      "members": {
        "FeatureName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feature associated with the IAM)role.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that is associated with the DB\n         instance.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Describes the state of the association between the IAM role and the DB instance. The\n            <code>Status</code> property returns one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ACTIVE</code> - The IAM role ARN is associated with the DB instance and can\n               be used to access other AWS services on your behalf.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING</code> - The IAM role ARN is being associated with the DB\n               instance.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INVALID</code> - The IAM role ARN is associated with the DB instance. But\n               the DB instance is unable to assume the IAM role in order to access other AWS\n               services on your behalf. </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS Identity and Access Management (IAM) role associated with the DB instance.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsRdsDbInstanceAssociatedRoles": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsRdsDbInstanceAssociatedRole"
      }
    },
    "com.amazonaws.securityhub#AwsRdsDbInstanceDetails": {
      "type": "structure",
      "members": {
        "Endpoint": {
          "target": "com.amazonaws.securityhub#AwsRdsDbInstanceEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the connection endpoint.</p>"
          }
        },
        "DbiResourceId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region-unique, immutable identifier for the DB instance. This identifier is\n         found in AWS CloudTrail log entries whenever the AWS KMS key for the DB instance is\n         accessed. </p>"
          }
        },
        "DBName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The meaning of this parameter differs according to the database engine you use.</p>\n         <p>\n            <b>MySQL, MariaDB, SQL Server, PostgreSQL</b>\n         </p>\n         <p>Contains the name of the initial database of this instance that was provided at create\n         time, if one was specified when the DB instance was created. This same name is returned for\n         the life of the DB instance.</p>\n         <p>\n            <b>Oracle</b>\n         </p>\n         <p>Contains the Oracle System ID (SID) of the created DB instance. Not shown when the\n         returned parameters do not apply to an Oracle DB instance. </p>"
          }
        },
        "CACertificateIdentifier": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the CA certificate for this DB instance.</p>"
          }
        },
        "DbInstancePort": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the port that the DB instance listens on. If the DB instance is part of a DB\n         cluster, this can be a different port than the DB cluster port.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>If <code>StorageEncrypted</code> is true, the AWS KMS key identifier for the encrypted\n         DB instance.</p>"
          }
        },
        "VpcSecurityGroups": {
          "target": "com.amazonaws.securityhub#AwsRdsDbInstanceVpcSecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC security groups that the DB instance belongs to.</p>"
          }
        },
        "DeletionProtection": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the DB instance has deletion protection enabled.</p>\n         <p>When deletion protection is enabled, the database cannot be deleted.</p>"
          }
        },
        "IAMDatabaseAuthenticationEnabled": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if mapping of AWS Identity and Access Management (IAM) accounts to database\n         accounts is enabled, and otherwise false.</p>\n         <p>IAM database authentication can be enabled for the following database engines.</p>\n         <ul>\n            <li>\n               <p>For MySQL 5.6, minor version 5.6.34 or higher</p>\n            </li>\n            <li>\n               <p>For MySQL 5.7, minor version 5.7.16 or higher</p>\n            </li>\n            <li>\n               <p>Aurora 5.6 or higher</p>\n            </li>\n         </ul>"
          }
        },
        "StorageEncrypted": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the DB instance is encrypted.</p>"
          }
        },
        "DBClusterIdentifier": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>If the DB instance is a member of a DB cluster, contains the name of the DB cluster that\n         the DB instance is a member of.</p>"
          }
        },
        "DBInstanceClass": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Contains the name of the compute and memory capacity class of the DB instance.</p>"
          }
        },
        "Engine": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Provides the name of the database engine to use for this DB instance.</p>"
          }
        },
        "TdeCredentialArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN from the key store with which the instance is associated for TDE\n         encryption.</p>"
          }
        },
        "InstanceCreateTime": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Provides the date and time the DB instance was created.</p>"
          }
        },
        "DBInstanceIdentifier": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Contains a user-supplied database identifier. This identifier is the unique key that\n         identifies a DB instance.</p>"
          }
        },
        "AssociatedRoles": {
          "target": "com.amazonaws.securityhub#AwsRdsDbInstanceAssociatedRoles",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Identity and Access Management (IAM) roles associated with the DB\n         instance.</p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the database engine version.</p>"
          }
        },
        "PubliclyAccessible": {
          "target": "com.amazonaws.securityhub#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the accessibility options for the DB instance.</p>\n         <p>A value of true specifies an Internet-facing instance with a publicly resolvable DNS\n         name, which resolves to a public IP address.</p>\n         <p>A value of false specifies an internal instance with a DNS name that resolves to a\n         private IP address. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of an Amazon RDS DB instance.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsRdsDbInstanceEndpoint": {
      "type": "structure",
      "members": {
        "Address": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DNS address of the DB instance.</p>"
          }
        },
        "Port": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the port that the database engine is listening on.</p>"
          }
        },
        "HostedZoneId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID that Amazon Route 53 assigns when you create a hosted zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the connection endpoint.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsRdsDbInstanceVpcSecurityGroup": {
      "type": "structure",
      "members": {
        "VpcSecurityGroupId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the VPC security group.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The status of the VPC security group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A VPC security groups that the DB instance belongs to.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsRdsDbInstanceVpcSecurityGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsRdsDbInstanceVpcSecurityGroup"
      }
    },
    "com.amazonaws.securityhub#AwsS3BucketDetails": {
      "type": "structure",
      "members": {
        "ServerSideEncryptionConfiguration": {
          "target": "com.amazonaws.securityhub#AwsS3BucketServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption rules that are applied to the S3 bucket.</p>"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The canonical user ID of the owner of the S3 bucket.</p>"
          }
        },
        "OwnerName": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the owner of the S3 bucket.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the S3 bucket was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an Amazon S3 bucket.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsS3BucketServerSideEncryptionByDefault": {
      "type": "structure",
      "members": {
        "SSEAlgorithm": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Server-side encryption algorithm to use for the default encryption.</p>"
          }
        },
        "KMSMasterKeyID": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>AWS KMS customer master key (CMK) ID to use for the default encryption.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the default server-side encryption to apply to new objects in the\n         bucket.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsS3BucketServerSideEncryptionConfiguration": {
      "type": "structure",
      "members": {
        "Rules": {
          "target": "com.amazonaws.securityhub#AwsS3BucketServerSideEncryptionRules",
          "traits": {
            "smithy.api#documentation": "<p>The encryption rules that are applied to the S3 bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The encryption configuration for the S3 bucket.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsS3BucketServerSideEncryptionRule": {
      "type": "structure",
      "members": {
        "ApplyServerSideEncryptionByDefault": {
          "target": "com.amazonaws.securityhub#AwsS3BucketServerSideEncryptionByDefault",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the default server-side encryption to apply to new objects in the bucket. If a\n            <code>PUT</code> object request doesn't specify any server-side encryption, this default\n         encryption is applied.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An encryption rule to apply to the S3 bucket.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsS3BucketServerSideEncryptionRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.securityhub#AwsS3BucketServerSideEncryptionRule"
      }
    },
    "com.amazonaws.securityhub#AwsS3ObjectDetails": {
      "type": "structure",
      "members": {
        "ServerSideEncryption": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>If the object is stored using server-side encryption, the value of the server-side\n         encryption algorithm used when storing this object in Amazon S3.</p>"
          }
        },
        "SSEKMSKeyId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS Key Management Service (AWS KMS) symmetric customer managed\n         customer master key (CMK) that was used for the object.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the object.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the object was last modified.</p>"
          }
        },
        "ETag": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The opaque identifier assigned by a web server to a specific version of a resource found\n         at a URL.</p>"
          }
        },
        "ContentType": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A standard MIME type describing the format of the object data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about an Amazon S3 object.</p>"
      }
    },
    "com.amazonaws.securityhub#AwsSecurityFinding": {
      "type": "structure",
      "members": {
        "Types": {
          "target": "com.amazonaws.securityhub#TypeList",
          "traits": {
            "smithy.api#documentation": "<p>One or more finding types in the format of <code>namespace/category/classifier</code>\n         that classify a finding.</p>\n         <p>Valid namespace values are: Software and Configuration Checks | TTPs | Effects | Unusual\n         Behaviors | Sensitive Data Identifications</p>",
            "smithy.api#required": {}
          }
        },
        "ProductArn": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN generated by Security Hub that uniquely identifies a product that generates findings.\n         This can be the ARN for a third-party product that is integrated with Security Hub, or the ARN for\n         a custom integration.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceUrl": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A URL that links to a page about the current finding in the security-findings provider's\n         solution.</p>"
          }
        },
        "ThreatIntelIndicators": {
          "target": "com.amazonaws.securityhub#ThreatIntelIndicatorList",
          "traits": {
            "smithy.api#documentation": "<p>Threat intelligence details related to a finding.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A finding's description.</p>\n         <note>\n            <p>In this release, <code>Description</code> is a required property.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "Vulnerabilities": {
          "target": "com.amazonaws.securityhub#VulnerabilityList",
          "traits": {
            "smithy.api#documentation": "<p>Provides a list of vulnerabilities associated with the findings.</p>"
          }
        },
        "Criticality": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The level of importance assigned to the resources associated with the finding.</p>\n         <p>A score of 0 means that the underlying resources have no criticality, and a score of 100\n         is reserved for the most critical resources.</p>"
          }
        },
        "VerificationState": {
          "target": "com.amazonaws.securityhub#VerificationState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the veracity of a finding. </p>"
          }
        },
        "Resources": {
          "target": "com.amazonaws.securityhub#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>A set of resource data types that describe the resources that the finding refers\n         to.</p>",
            "smithy.api#required": {}
          }
        },
        "Network": {
          "target": "com.amazonaws.securityhub#Network",
          "traits": {
            "smithy.api#documentation": "<p>The details of network-related information about a finding.</p>"
          }
        },
        "Malware": {
          "target": "com.amazonaws.securityhub#MalwareList",
          "traits": {
            "smithy.api#documentation": "<p>A list of malware related to a finding.</p>"
          }
        },
        "NetworkPath": {
          "target": "com.amazonaws.securityhub#NetworkPathList",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about a network path that is relevant to a finding. Each entry\n         under <code>NetworkPath</code> represents a component of that path.</p>"
          }
        },
        "Workflow": {
          "target": "com.amazonaws.securityhub#Workflow",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about the status of the investigation into a finding.</p>"
          }
        },
        "Process": {
          "target": "com.amazonaws.securityhub#ProcessDetails",
          "traits": {
            "smithy.api#documentation": "<p>The details of process-related information about a finding.</p>"
          }
        },
        "RelatedFindings": {
          "target": "com.amazonaws.securityhub#RelatedFindingList",
          "traits": {
            "smithy.api#documentation": "<p>A list of related findings.</p>"
          }
        },
        "FirstObservedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider first\n         observed the potential security issue that a finding captured.</p>"
          }
        },
        "Severity": {
          "target": "com.amazonaws.securityhub#Severity",
          "traits": {
            "smithy.api#documentation": "<p>A finding's severity.</p>",
            "smithy.api#required": {}
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The schema version that a finding is formatted for.</p>",
            "smithy.api#required": {}
          }
        },
        "RecordState": {
          "target": "com.amazonaws.securityhub#RecordState",
          "traits": {
            "smithy.api#documentation": "<p>The record state of a finding.</p>"
          }
        },
        "ProductFields": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>A data type where security-findings providers can include additional solution-specific\n         details that aren't part of the defined <code>AwsSecurityFinding</code> format.</p>"
          }
        },
        "Remediation": {
          "target": "com.amazonaws.securityhub#Remediation",
          "traits": {
            "smithy.api#documentation": "<p>A data type that describes the remediation options for a finding.</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A finding's title.</p>\n         <note>\n            <p>In this release, <code>Title</code> is a required property.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "Confidence": {
          "target": "com.amazonaws.securityhub#Integer",
          "traits": {
            "smithy.api#documentation": "<p>A finding's confidence. Confidence is defined as the likelihood that a finding\n         accurately identifies the behavior or issue that it was intended to identify.</p>\n         <p>Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent\n         confidence and 100 means 100 percent confidence.</p>"
          }
        },
        "LastObservedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider most\n         recently observed the potential security issue that a finding captured.</p>"
          }
        },
        "AwsAccountId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID that a finding is generated in.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The security findings provider-specific identifier for a finding.</p>",
            "smithy.api#required": {}
          }
        },
        "UserDefinedFields": {
          "target": "com.amazonaws.securityhub#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of name/value string pairs associated with the finding. These are custom,\n         user-defined fields added to a finding. </p>"
          }
        },
        "WorkflowState": {
          "target": "com.amazonaws.securityhub#WorkflowState",
          "traits": {
            "smithy.api#documentation": "<p>The workflow state of a finding. </p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider last\n         updated the finding record. </p>",
            "smithy.api#required": {}
          }
        },
        "Compliance": {
          "target": "com.amazonaws.securityhub#Compliance",
          "traits": {
            "smithy.api#documentation": "<p>This data type is exclusive to findings that are generated as the result of a check run\n         against a specific rule in a supported security standard, such as CIS AWS Foundations.\n         Contains security standard-related finding details.</p>"
          }
        },
        "Note": {
          "target": "com.amazonaws.securityhub#Note",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined note added to a finding.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider\n         created the potential security issue that a finding captured.</p>",
            "smithy.api#required": {}
          }
        },
        "GeneratorId": {
          "target": "com.amazonaws.securityhub#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the solution-specific component (a discrete unit of logic) that\n         generated a finding. In various security-findings providers' solutions, this generator can\n         be called a rule, a check, a detector, a plugin, etc. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides consistent format for the contents of the Security Hub-aggregated findings.\n            <code>AwsSecurityFinding</code> format enables you to share findings between AWS\n         security services and third-party solutions, and security standards checks.</p>\n         <note>\n            <p>A finding is a potential security issue generated either by AWS services (Amazon\n            GuardDuty, Amazon Inspector, and Amazon Macie) or by the integrated third-party\n            solutions and standards checks.</p>\n         </note>"
      }
    },
    "com.amazonaws.securityhub#AwsSecurityFindingFilters": {
      "type": "structure",
      "members": {
        "ProcessPath": {
[...]
