{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.ssmincidents#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.ssmincidents#ExceptionMessage",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You don't have sufficient access to perform this operation.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.ssmincidents#Action": {
            "type": "union",
            "members": {
                "ssmAutomation": {
                    "target": "com.amazonaws.ssmincidents#SsmAutomation",
                    "traits": {
                        "smithy.api#documentation": "<p>The Systems Manager automation document to start as the runbook at the beginning of\n         the incident.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The action that starts at the beginning of an incident. The response plan defines the\n         action.</p>"
            }
        },
        "com.amazonaws.ssmincidents#ActionsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssmincidents#Action"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 1
                }
            }
        },
        "com.amazonaws.ssmincidents#AddRegionAction": {
            "type": "structure",
            "members": {
                "regionName": {
                    "target": "com.amazonaws.ssmincidents#RegionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Region name to add to the replication set.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "sseKmsKeyId": {
                    "target": "com.amazonaws.ssmincidents#SseKmsKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key ID to use to encrypt your replication set.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines the Amazon Web Services Region and KMS key to add to the\n         replication set. </p>"
            }
        },
        "com.amazonaws.ssmincidents#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 1000
                },
                "smithy.api#pattern": "^arn:aws(-cn|-us-gov)?:[a-z0-9-]*:[a-z0-9-]*:([0-9]{12})?:.+$"
            }
        },
        "com.amazonaws.ssmincidents#AttributeValueList": {
            "type": "union",
            "members": {
                "stringValues": {
                    "target": "com.amazonaws.ssmincidents#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of string values that the filter matches.</p>"
                    }
                },
                "integerValues": {
                    "target": "com.amazonaws.ssmincidents#IntegerList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of integer values that the filter matches.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Use the AttributeValueList to filter by string or integer values.</p>"
            }
        },
        "com.amazonaws.ssmincidents#AutomationExecution": {
            "type": "union",
            "members": {
                "ssmExecutionArn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the automation process.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Systems Manager automation document process to start as the runbook at the\n         beginning of the incident.</p>"
            }
        },
        "com.amazonaws.ssmincidents#AutomationExecutionSet": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssmincidents#AutomationExecution"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 100
                }
            }
        },
        "com.amazonaws.ssmincidents#ChatChannel": {
            "type": "union",
            "members": {
                "empty": {
                    "target": "com.amazonaws.ssmincidents#EmptyChatChannel",
                    "traits": {
                        "smithy.api#documentation": "<p>Used to remove the chat channel from an incident record or response plan.</p>"
                    }
                },
                "chatbotSns": {
                    "target": "com.amazonaws.ssmincidents#ChatbotSnsConfigurationSet",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon SNS targets that Chatbot uses to notify the chat channel\n         of updates to an incident. You can also make updates to the incident through the chat\n         channel by using the Amazon SNS topics. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Chatbot chat channel used for collaboration during an\n         incident.</p>"
            }
        },
        "com.amazonaws.ssmincidents#ChatbotSnsConfigurationSet": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssmincidents#SnsArn",
                "traits": {
                    "smithy.api#tags": [
                        "logs_investigations"
                    ]
                }
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 5
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.ssmincidents#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 128
                }
            }
        },
        "com.amazonaws.ssmincidents#Condition": {
            "type": "union",
            "members": {
                "before": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>Before the specified timestamp</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "after": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>After the specified timestamp.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "equals": {
                    "target": "com.amazonaws.ssmincidents#AttributeValueList",
                    "traits": {
                        "smithy.api#documentation": "<p>The value is equal to the provided string or integer. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A conditional statement with which to compare a value, after a timestamp, before a\n         timestamp, or equal to a string or integer. If multiple conditions are specified, the\n         conditionals become an <code>AND</code>ed statement. If multiple values are specified for a\n         conditional, the values are <code>OR</code>d.</p>"
            }
        },
        "com.amazonaws.ssmincidents#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.ssmincidents#ExceptionMessage",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "resourceIdentifier": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "The identifier of the requested resource"
                    }
                },
                "resourceType": {
                    "target": "com.amazonaws.ssmincidents#ResourceType",
                    "traits": {
                        "smithy.api#documentation": "The resource type"
                    }
                },
                "retryAfter": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "If present in the output, the operation can be retried after this time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Updating or deleting a resource causes an inconsistent state.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.ssmincidents#CreateReplicationSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#CreateReplicationSetInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#CreateReplicationSetOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>A replication set replicates and encrypts your data to the provided Regions with the\n            provided KMS key. </p>",
                "smithy.api#http": {
                    "code": 201,
                    "method": "POST",
                    "uri": "/createReplicationSet"
                }
            }
        },
        "com.amazonaws.ssmincidents#CreateReplicationSetInput": {
            "type": "structure",
            "members": {
                "regions": {
                    "target": "com.amazonaws.ssmincidents#RegionMapInput",
                    "traits": {
                        "smithy.api#documentation": "<p>The Regions that Incident Manager replicates your data to. You can have up to three Regions\n            in your replication set.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.ssmincidents#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that ensures that the operation is called only once with the specified\n            details.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "tags": {
                    "target": "com.amazonaws.ssmincidents#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of tags to add to the replication set.</p>"
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#CreateReplicationSetOutput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the replication set. </p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#CreateResponsePlan": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#CreateResponsePlanInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#CreateResponsePlanOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a response plan that automates the initial response to incidents. A response\n            plan engages contacts, starts chat channel collaboration, and initiates runbooks at the\n            beginning of an incident.</p>",
                "smithy.api#http": {
                    "code": 201,
                    "method": "POST",
                    "uri": "/createResponsePlan"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.ssmincidents#CreateResponsePlanInput": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.ssmincidents#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A token ensuring that the operation is called only once with the specified\n            details.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "name": {
                    "target": "com.amazonaws.ssmincidents#ResponsePlanName",
                    "traits": {
                        "smithy.api#documentation": "<p>The short format name of the response plan. Can't include spaces.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "displayName": {
                    "target": "com.amazonaws.ssmincidents#ResponsePlanDisplayName",
                    "traits": {
                        "smithy.api#documentation": "<p>The long format of the response plan name. This field can contain spaces.</p>"
                    }
                },
                "incidentTemplate": {
                    "target": "com.amazonaws.ssmincidents#IncidentTemplate",
                    "traits": {
                        "smithy.api#documentation": "<p>Details used to create an incident when using this response plan.</p>",
                        "smithy.api#required": {}
                    }
                },
                "chatChannel": {
                    "target": "com.amazonaws.ssmincidents#ChatChannel",
                    "traits": {
                        "smithy.api#documentation": "<p>The Chatbot chat channel used for collaboration during an\n            incident.</p>"
                    }
                },
                "engagements": {
                    "target": "com.amazonaws.ssmincidents#EngagementSet",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the contacts and escalation plans that the response\n            plan engages during an incident.</p>"
                    }
                },
                "actions": {
                    "target": "com.amazonaws.ssmincidents#ActionsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The actions that the response plan starts at the beginning of an incident.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.ssmincidents#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of tags that you are adding to the response plan.</p>"
                    }
                },
                "integrations": {
                    "target": "com.amazonaws.ssmincidents#Integrations",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about third-party services integrated into the response plan.</p>"
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#CreateResponsePlanOutput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the response plan.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#CreateTimelineEvent": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#CreateTimelineEventInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#CreateTimelineEventOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a custom timeline event on the incident details page of an incident record.\n            Timeline events are automatically created by Incident Manager, marking key moment during an\n            incident. You can create custom timeline events to mark important events that are\n            automatically detected by Incident Manager.</p>",
                "smithy.api#http": {
                    "code": 201,
                    "method": "POST",
                    "uri": "/createTimelineEvent"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.ssmincidents#CreateTimelineEventInput": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.ssmincidents#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A token ensuring that the action is called only once with the specified\n            details.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "incidentRecordArn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident record to which the event will be\n            added.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_required"
                        ]
                    }
                },
                "eventTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the event occurred.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "eventType": {
                    "target": "com.amazonaws.ssmincidents#TimelineEventType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the event. You can create timeline events of type <code>Custom\n                Event</code>.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "eventData": {
                    "target": "com.amazonaws.ssmincidents#EventData",
                    "traits": {
                        "smithy.api#documentation": "<p>A short description of the event.</p>",
                        "smithy.api#required": {}
                    }
                },
                "eventReferences": {
                    "target": "com.amazonaws.ssmincidents#EventReferenceList",
                    "traits": {
                        "smithy.api#documentation": "<p>Adds one or more references to the <code>TimelineEvent</code>. A reference can be an\n                Amazon Web Services resource involved in the incident or in some way associated with\n            it. When you specify a reference, you enter the Amazon Resource Name (ARN) of the\n            resource. You can also specify a related item. As an example, you could specify the ARN\n            of an Amazon DynamoDB (DynamoDB) table. The table for this example is\n            the resource. You could also specify a Amazon CloudWatch metric for that table. The\n            metric is the related item.</p>"
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#CreateTimelineEventOutput": {
            "type": "structure",
            "members": {
                "incidentRecordArn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the incident record that you added the event to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "eventId": {
                    "target": "com.amazonaws.ssmincidents#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the event for easy reference later. </p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#DedupeString": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 1000
                }
            }
        },
        "com.amazonaws.ssmincidents#DeleteIncidentRecord": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#DeleteIncidentRecordInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#DeleteIncidentRecordOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete an incident record from Incident Manager. </p>",
                "smithy.api#http": {
                    "code": 204,
                    "method": "POST",
                    "uri": "/deleteIncidentRecord"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.ssmincidents#DeleteIncidentRecordInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident record you are deleting.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_required"
                        ]
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#DeleteIncidentRecordOutput": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.ssmincidents#DeleteRegionAction": {
            "type": "structure",
            "members": {
                "regionName": {
                    "target": "com.amazonaws.ssmincidents#RegionName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon Web Services Region you're deleting from the replication\n         set.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Defines the information about the Amazon Web Services Region you're deleting from your\n         replication set.</p>"
            }
        },
        "com.amazonaws.ssmincidents#DeleteReplicationSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#DeleteReplicationSetInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#DeleteReplicationSetOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes all Regions in your replication set. Deleting the replication set deletes all\n            Incident Manager data.</p>",
                "smithy.api#http": {
                    "code": 204,
                    "method": "POST",
                    "uri": "/deleteReplicationSet"
                }
            }
        },
        "com.amazonaws.ssmincidents#DeleteReplicationSetInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the replication set you're deleting.</p>",
                        "smithy.api#httpQuery": "arn",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_required"
                        ]
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#DeleteReplicationSetOutput": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.ssmincidents#DeleteResourcePolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#DeleteResourcePolicyInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#DeleteResourcePolicyOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the resource policy that Resource Access Manager uses to share your Incident Manager\n            resource.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/deleteResourcePolicy"
                }
            }
        },
        "com.amazonaws.ssmincidents#DeleteResourcePolicyInput": {
            "type": "structure",
            "members": {
                "resourceArn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource you're deleting the policy from.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_required"
                        ]
                    }
                },
                "policyId": {
                    "target": "com.amazonaws.ssmincidents#PolicyId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the resource policy you're deleting.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_investigation"
                        ]
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#DeleteResourcePolicyOutput": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.ssmincidents#DeleteResponsePlan": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#DeleteResponsePlanInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#DeleteResponsePlanOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the specified response plan. Deleting a response plan stops all linked CloudWatch alarms and EventBridge events from creating an incident with this\n            response plan.</p>",
                "smithy.api#http": {
                    "code": 204,
                    "method": "POST",
                    "uri": "/deleteResponsePlan"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.ssmincidents#DeleteResponsePlanInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the response plan.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_required"
                        ]
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#DeleteResponsePlanOutput": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.ssmincidents#DeleteTimelineEvent": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#DeleteTimelineEventInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#DeleteTimelineEventOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a timeline event from an incident.</p>",
                "smithy.api#http": {
                    "code": 204,
                    "method": "POST",
                    "uri": "/deleteTimelineEvent"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.ssmincidents#DeleteTimelineEventInput": {
            "type": "structure",
            "members": {
                "incidentRecordArn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident that includes the timeline\n            event.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_required"
                        ]
                    }
                },
                "eventId": {
                    "target": "com.amazonaws.ssmincidents#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the event you are updating. You can find this by using\n                <code>ListTimelineEvents</code>.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_required"
                        ]
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#DeleteTimelineEventOutput": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.ssmincidents#DynamicSsmParameterValue": {
            "type": "union",
            "members": {
                "variable": {
                    "target": "com.amazonaws.ssmincidents#VariableType",
                    "traits": {
                        "smithy.api#documentation": "<p>Variable dynamic parameters. A parameter value is determined when an incident is\n         created.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The dynamic SSM parameter value.</p>"
            }
        },
        "com.amazonaws.ssmincidents#DynamicSsmParameters": {
            "type": "map",
            "key": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "min": 1,
                        "max": 50
                    }
                }
            },
            "value": {
                "target": "com.amazonaws.ssmincidents#DynamicSsmParameterValue"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 200
                }
            }
        },
        "com.amazonaws.ssmincidents#EmptyChatChannel": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#documentation": "<p>Used to remove the chat channel from an incident record or response plan.</p>"
            }
        },
        "com.amazonaws.ssmincidents#EngagementSet": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssmincidents#SsmContactsArn",
                "traits": {
                    "smithy.api#tags": [
                        "logs_investigations"
                    ]
                }
            },
            "traits": {
                "smithy.api#length": {
                    "max": 5
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.ssmincidents#EventData": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 12000
                }
            }
        },
        "com.amazonaws.ssmincidents#EventReference": {
            "type": "union",
            "members": {
                "resource": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Amazon Web Services resource referenced in a\n            <code>TimelineEvent</code>.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "relatedItemId": {
                    "target": "com.amazonaws.ssmincidents#GeneratedId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of a <code>RelatedItem</code> referenced in a <code>TimelineEvent</code>.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An item referenced in a <code>TimelineEvent</code> that is involved in or somehow\n         associated with an incident. You can specify an Amazon Resource Name (ARN) for an Amazon Web Services resource or a <code>RelatedItem</code> ID.</p>"
            }
        },
        "com.amazonaws.ssmincidents#EventReferenceList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssmincidents#EventReference"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 10
                }
            }
        },
        "com.amazonaws.ssmincidents#EventSummary": {
            "type": "structure",
            "members": {
                "incidentRecordArn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident that the event happened during.</p>",
                        "smithy.api#required": {}
                    }
                },
                "eventId": {
                    "target": "com.amazonaws.ssmincidents#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The timeline event ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "eventTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the event occurred.</p>",
                        "smithy.api#required": {}
                    }
                },
                "eventUpdatedTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that the timeline event was last updated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "eventType": {
                    "target": "com.amazonaws.ssmincidents#TimelineEventType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of event. The timeline event must be <code>Custom Event</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "eventReferences": {
                    "target": "com.amazonaws.ssmincidents#EventReferenceList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of references in a <code>TimelineEvent</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details about a timeline event during an incident.</p>"
            }
        },
        "com.amazonaws.ssmincidents#EventSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssmincidents#EventSummary"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 100
                }
            }
        },
        "com.amazonaws.ssmincidents#ExceptionMessage": {
            "type": "string"
        },
        "com.amazonaws.ssmincidents#Filter": {
            "type": "structure",
            "members": {
                "key": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The key that you're filtering on.</p>",
                        "smithy.api#length": {
                            "max": 50
                        },
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "condition": {
                    "target": "com.amazonaws.ssmincidents#Condition",
                    "traits": {
                        "smithy.api#documentation": "<p>The condition accepts before or after a specified time, equal to a string, or equal to\n         an integer.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Filter the selection by using a condition.</p>"
            }
        },
        "com.amazonaws.ssmincidents#FilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssmincidents#Filter"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 5
                }
            }
        },
        "com.amazonaws.ssmincidents#GeneratedId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 200
                },
                "smithy.api#pattern": "^related-item/(ANALYSIS|INCIDENT|METRIC|PARENT|ATTACHMENT|OTHER|AUTOMATION|INVOLVED_RESOURCE|TASK)/([0-9]|[A-F]){32}$"
            }
        },
        "com.amazonaws.ssmincidents#GetIncidentRecord": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#GetIncidentRecordInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#GetIncidentRecordOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns the details for the specified incident record.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/getIncidentRecord"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.ssmincidents#GetIncidentRecordInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident record.</p>",
                        "smithy.api#httpQuery": "arn",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_required"
                        ]
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#GetIncidentRecordOutput": {
            "type": "structure",
            "members": {
                "incidentRecord": {
                    "target": "com.amazonaws.ssmincidents#IncidentRecord",
                    "traits": {
                        "smithy.api#documentation": "<p>Details the structure of the incident record.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#GetReplicationSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#GetReplicationSetInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#GetReplicationSetOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieve your Incident Manager replication set.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/getReplicationSet"
                },
                "smithy.api#readonly": {},
                "smithy.waiters#waitable": {
                    "WaitForReplicationSetActive": {
                        "documentation": "Wait for a replication set to become ACTIVE",
                        "minDelay": 30,
                        "maxDelay": 30,
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "output": {
                                        "path": "replicationSet.status",
                                        "expected": "ACTIVE",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "retry",
                                "matcher": {
                                    "output": {
                                        "path": "replicationSet.status",
                                        "expected": "CREATING",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "retry",
                                "matcher": {
                                    "output": {
                                        "path": "replicationSet.status",
                                        "expected": "UPDATING",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "replicationSet.status",
                                        "expected": "FAILED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            }
                        ]
                    },
                    "WaitForReplicationSetDeleted": {
                        "documentation": "Wait for a replication set to be deleted",
                        "minDelay": 30,
                        "maxDelay": 30,
                        "acceptors": [
                            {
                                "state": "success",
                                "matcher": {
                                    "errorType": "ResourceNotFoundException"
                                }
                            },
                            {
                                "state": "retry",
                                "matcher": {
                                    "output": {
                                        "path": "replicationSet.status",
                                        "expected": "DELETING",
                                        "comparator": "stringEquals"
                                    }
                                }
                            },
                            {
                                "state": "failure",
                                "matcher": {
                                    "output": {
                                        "path": "replicationSet.status",
                                        "expected": "FAILED",
                                        "comparator": "stringEquals"
                                    }
                                }
                            }
                        ]
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#GetReplicationSetInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the replication set you want to retrieve.</p>",
                        "smithy.api#httpQuery": "arn",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_required"
                        ]
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#GetReplicationSetOutput": {
            "type": "structure",
            "members": {
                "replicationSet": {
                    "target": "com.amazonaws.ssmincidents#ReplicationSet",
                    "traits": {
                        "smithy.api#documentation": "<p>Details of the replication set.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#GetResourcePolicies": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#GetResourcePoliciesInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#GetResourcePoliciesOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the resource policies attached to the specified response plan.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/getResourcePolicies"
                },
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "maxResults",
                    "items": "resourcePolicies"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.ssmincidents#GetResourcePoliciesInput": {
            "type": "structure",
            "members": {
                "resourceArn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the response plan with the attached resource policy.\n        </p>",
                        "smithy.api#httpQuery": "resourceArn",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_required"
                        ]
                    }
                },
                "maxResults": {
                    "target": "com.amazonaws.ssmincidents#MaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of resource policies to display for each page of results.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.ssmincidents#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#GetResourcePoliciesOutput": {
            "type": "structure",
            "members": {
                "resourcePolicies": {
                    "target": "com.amazonaws.ssmincidents#ResourcePolicyList",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the resource policy attached to the response plan.</p>",
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.ssmincidents#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#GetResponsePlan": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#GetResponsePlanInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#GetResponsePlanOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves the details of the specified response plan.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/getResponsePlan"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.ssmincidents#GetResponsePlanInput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the response plan.</p>",
                        "smithy.api#httpQuery": "arn",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_required"
                        ]
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#GetResponsePlanOutput": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the response plan.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.ssmincidents#ResponsePlanName",
                    "traits": {
                        "smithy.api#documentation": "<p>The short format name of the response plan. The name can't contain spaces.</p>",
                        "smithy.api#required": {}
                    }
                },
                "displayName": {
                    "target": "com.amazonaws.ssmincidents#ResponsePlanDisplayName",
                    "traits": {
                        "smithy.api#documentation": "<p>The long format name of the response plan. Can contain spaces.</p>"
                    }
                },
                "incidentTemplate": {
                    "target": "com.amazonaws.ssmincidents#IncidentTemplate",
                    "traits": {
                        "smithy.api#documentation": "<p>Details used to create the incident when using this response plan.</p>",
                        "smithy.api#required": {}
                    }
                },
                "chatChannel": {
                    "target": "com.amazonaws.ssmincidents#ChatChannel",
                    "traits": {
                        "smithy.api#documentation": "<p>The Chatbot chat channel used for collaboration during an\n            incident.</p>"
                    }
                },
                "engagements": {
                    "target": "com.amazonaws.ssmincidents#EngagementSet",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the contacts and escalation plans that the response\n            plan engages during an incident.</p>"
                    }
                },
                "actions": {
                    "target": "com.amazonaws.ssmincidents#ActionsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The actions that this response plan takes at the beginning of the incident.</p>"
                    }
                },
                "integrations": {
                    "target": "com.amazonaws.ssmincidents#Integrations",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about third-party services integrated into the Incident Manager response\n            plan.</p>"
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#GetTimelineEvent": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#GetTimelineEventInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#GetTimelineEventOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves a timeline event based on its ID and incident record.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "GET",
                    "uri": "/getTimelineEvent"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.ssmincidents#GetTimelineEventInput": {
            "type": "structure",
            "members": {
                "incidentRecordArn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident that includes the timeline\n            event.</p>",
                        "smithy.api#httpQuery": "incidentRecordArn",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_required"
                        ]
                    }
                },
                "eventId": {
                    "target": "com.amazonaws.ssmincidents#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the event. You can get an event's ID when you create it, or by using\n                <code>ListTimelineEvents</code>.</p>",
                        "smithy.api#httpQuery": "eventId",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_required"
                        ]
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#GetTimelineEventOutput": {
            "type": "structure",
            "members": {
                "event": {
                    "target": "com.amazonaws.ssmincidents#TimelineEvent",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the timeline event.</p>",
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#Impact": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 5
                }
            }
        },
        "com.amazonaws.ssmincidents#IncidentRecord": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident record.</p>",
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.amazonaws.ssmincidents#IncidentTitle",
                    "traits": {
                        "smithy.api#documentation": "<p>The title of the incident.</p>",
                        "smithy.api#required": {}
                    }
                },
                "summary": {
                    "target": "com.amazonaws.ssmincidents#IncidentSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>The summary of the incident. The summary is a brief synopsis of what occurred, what's\n         currently happening, and context of the incident.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.ssmincidents#IncidentRecordStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the incident.</p>",
                        "smithy.api#required": {}
                    }
                },
                "impact": {
                    "target": "com.amazonaws.ssmincidents#Impact",
                    "traits": {
                        "smithy.api#documentation": "<p>The impact of the incident on customers and applications.</p>",
                        "smithy.api#required": {}
                    }
                },
                "creationTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time that Incident Manager created the incident record.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resolvedTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the incident was resolved. This appears as a timeline event.</p>"
                    }
                },
                "lastModifiedTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the incident was most recently modified.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lastModifiedBy": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>Who modified the incident most recently.</p>",
                        "smithy.api#required": {}
                    }
                },
                "automationExecutions": {
                    "target": "com.amazonaws.ssmincidents#AutomationExecutionSet",
                    "traits": {
                        "smithy.api#documentation": "<p>The runbook, or automation document, that's run at the beginning of the incident.</p>"
                    }
                },
                "incidentRecordSource": {
                    "target": "com.amazonaws.ssmincidents#IncidentRecordSource",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the action that started the incident.</p>",
                        "smithy.api#required": {}
                    }
                },
                "dedupeString": {
                    "target": "com.amazonaws.ssmincidents#DedupeString",
                    "traits": {
                        "smithy.api#documentation": "<p>The string Incident Manager uses to prevent duplicate incidents from being created by the\n         same incident in the same account.</p>",
                        "smithy.api#required": {}
                    }
                },
                "chatChannel": {
                    "target": "com.amazonaws.ssmincidents#ChatChannel",
                    "traits": {
                        "smithy.api#documentation": "<p>The chat channel used for collaboration during an incident.</p>"
                    }
                },
                "notificationTargets": {
                    "target": "com.amazonaws.ssmincidents#NotificationTargetSet",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon SNS targets that are notified when updates are made to an\n         incident.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The record of the incident that's created when an incident occurs.</p>"
            }
        },
        "com.amazonaws.ssmincidents#IncidentRecordSource": {
            "type": "structure",
            "members": {
                "createdBy": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The principal that started the incident.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "invokedBy": {
                    "target": "com.amazonaws.ssmincidents#ServicePrincipal",
                    "traits": {
                        "smithy.api#documentation": "<p>The service principal that assumed the role specified in <code>createdBy</code>. If no\n         service principal assumed the role this will be left blank.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "resourceArn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The resource that caused the incident to be created.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "source": {
                    "target": "com.amazonaws.ssmincidents#IncidentSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The service that started the incident. This can be manually created from Incident Manager,\n         automatically created using an Amazon CloudWatch alarm, or Amazon EventBridge\n         event.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details about what created the incident record and when it was created.</p>"
            }
        },
        "com.amazonaws.ssmincidents#IncidentRecordStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "OPEN",
                        "name": "OPEN"
                    },
                    {
                        "value": "RESOLVED",
                        "name": "RESOLVED"
                    }
                ]
            }
        },
        "com.amazonaws.ssmincidents#IncidentRecordSummary": {
            "type": "structure",
            "members": {
                "arn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident.</p>",
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.amazonaws.ssmincidents#IncidentTitle",
                    "traits": {
                        "smithy.api#documentation": "<p>The title of the incident. This value is either provided by the response plan or\n         overwritten on creation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.ssmincidents#IncidentRecordStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the incident.</p>",
                        "smithy.api#required": {}
                    }
                },
                "impact": {
                    "target": "com.amazonaws.ssmincidents#Impact",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the impact to customers and applications.</p>",
                        "smithy.api#required": {}
                    }
                },
                "creationTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the incident was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resolvedTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time the incident was resolved.</p>"
                    }
                },
                "incidentRecordSource": {
                    "target": "com.amazonaws.ssmincidents#IncidentRecordSource",
                    "traits": {
                        "smithy.api#documentation": "<p>What caused Incident Manager to create the incident.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details describing an incident record.</p>"
            }
        },
        "com.amazonaws.ssmincidents#IncidentRecordSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssmincidents#IncidentRecordSummary"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 100
                }
            }
        },
        "com.amazonaws.ssmincidents#IncidentSource": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 50
                }
            }
        },
        "com.amazonaws.ssmincidents#IncidentSummary": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 4000
                }
            }
        },
        "com.amazonaws.ssmincidents#IncidentTemplate": {
            "type": "structure",
            "members": {
                "title": {
                    "target": "com.amazonaws.ssmincidents#IncidentTitle",
                    "traits": {
                        "smithy.api#documentation": "<p>The title of the incident. </p>",
                        "smithy.api#required": {}
                    }
                },
                "impact": {
                    "target": "com.amazonaws.ssmincidents#Impact",
                    "traits": {
                        "smithy.api#documentation": "<p>The impact of the incident on your customers and applications. </p>",
                        "smithy.api#required": {}
                    }
                },
                "summary": {
                    "target": "com.amazonaws.ssmincidents#IncidentSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>The summary of the incident. The summary is a brief synopsis of what occurred, what's\n         currently happening, and context.</p>"
                    }
                },
                "dedupeString": {
                    "target": "com.amazonaws.ssmincidents#DedupeString",
                    "traits": {
                        "smithy.api#documentation": "<p>Used to stop Incident Manager from creating multiple incident records for the same incident.\n      </p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "notificationTargets": {
                    "target": "com.amazonaws.ssmincidents#NotificationTargetSet",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon SNS targets that are notified when updates are made to an\n         incident.</p>"
                    }
                },
                "incidentTags": {
                    "target": "com.amazonaws.ssmincidents#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Tags to assign to the template. When the <code>StartIncident</code> API action is\n         called, Incident Manager assigns the tags specified in the template to the incident.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Basic details used in creating a response plan. The response plan is then used to create\n         an incident record.</p>"
            }
        },
        "com.amazonaws.ssmincidents#IncidentTitle": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 200
                }
            }
        },
        "com.amazonaws.ssmincidents#IntegerList": {
            "type": "list",
            "member": {
                "target": "smithy.api#Integer",
                "traits": {
                    "smithy.api#tags": [
                        "logs_investigations"
                    ]
                }
            },
            "traits": {
                "smithy.api#length": {
                    "max": 100
                }
            }
        },
        "com.amazonaws.ssmincidents#Integration": {
            "type": "union",
            "members": {
                "pagerDutyConfiguration": {
                    "target": "com.amazonaws.ssmincidents#PagerDutyConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the PagerDuty service where the response plan creates an\n            incident.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about third-party services integrated into a response plan.</p>"
            }
        },
        "com.amazonaws.ssmincidents#Integrations": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssmincidents#Integration"
            },
            "traits": {
                "smithy.api#length": {
                    "max": 1
                }
            }
        },
        "com.amazonaws.ssmincidents#InternalServerException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.ssmincidents#ExceptionMessage",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or\n      failure.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "com.amazonaws.ssmincidents#ItemIdentifier": {
            "type": "structure",
            "members": {
                "value": {
                    "target": "com.amazonaws.ssmincidents#ItemValue",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about the related item.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.ssmincidents#ItemType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of related item. </p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Details and type of a related item.</p>"
            }
        },
        "com.amazonaws.ssmincidents#ItemType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "ANALYSIS",
                        "name": "ANALYSIS"
                    },
                    {
                        "value": "INCIDENT",
                        "name": "INCIDENT"
                    },
                    {
                        "value": "METRIC",
                        "name": "METRIC"
                    },
                    {
                        "value": "PARENT",
                        "name": "PARENT"
                    },
                    {
                        "value": "ATTACHMENT",
                        "name": "ATTACHMENT"
                    },
                    {
                        "value": "OTHER",
                        "name": "OTHER"
                    },
                    {
                        "value": "AUTOMATION",
                        "name": "AUTOMATION"
                    },
                    {
                        "value": "INVOLVED_RESOURCE",
                        "name": "INVOLVED_RESOURCE"
                    },
                    {
                        "value": "TASK",
                        "name": "TASK"
                    }
                ]
            }
        },
        "com.amazonaws.ssmincidents#ItemValue": {
            "type": "union",
            "members": {
                "arn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the related item, if the related item is an Amazon\n         resource.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "url": {
                    "target": "com.amazonaws.ssmincidents#Url",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL, if the related item is a non-Amazon Web Services resource.</p>"
                    }
                },
                "metricDefinition": {
                    "target": "com.amazonaws.ssmincidents#MetricDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>The metric definition, if the related item is a metric in Amazon CloudWatch.</p>"
                    }
                },
                "pagerDutyIncidentDetail": {
                    "target": "com.amazonaws.ssmincidents#PagerDutyIncidentDetail",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about an incident that is associated with a PagerDuty incident.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a related item.</p>"
            }
        },
        "com.amazonaws.ssmincidents#ListIncidentRecords": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#ListIncidentRecordsInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#ListIncidentRecordsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Lists all incident records in your account. Use this command to retrieve the Amazon\n            Resource Name (ARN) of the incident record you want to update. </p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/listIncidentRecords"
                },
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "maxResults",
                    "items": "incidentRecordSummaries"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.ssmincidents#ListIncidentRecordsInput": {
            "type": "structure",
            "members": {
                "filters": {
                    "target": "com.amazonaws.ssmincidents#FilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>Filters the list of incident records through which you are searching. You can filter\n            on the following keys:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>creationTime</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>impact</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>status</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>createdBy</code>\n               </p>\n            </li>\n         </ul>\n        <p>Note the following when deciding how to use Filters:</p>\n        <ul>\n            <li>\n                <p>If you don't specify a Filter, the response includes all incident\n                    records.</p>\n            </li>\n            <li>\n                <p>If you specify more than one filter in a single request, the response returns\n                    incident records that match all filters.</p>\n            </li>\n            <li>\n                <p>If you specify a filter with more than one value, the response returns\n                    incident records that match any of the values provided.</p>\n            </li>\n         </ul>"
                    }
                },
                "maxResults": {
                    "target": "com.amazonaws.ssmincidents#MaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of results per page.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.ssmincidents#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#ListIncidentRecordsOutput": {
            "type": "structure",
            "members": {
                "incidentRecordSummaries": {
                    "target": "com.amazonaws.ssmincidents#IncidentRecordSummaryList",
                    "traits": {
                        "smithy.api#documentation": "<p>The details of each listed incident record.</p>",
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.ssmincidents#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#ListRelatedItems": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#ListRelatedItemsInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#ListRelatedItemsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>List all related items for an incident record.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/listRelatedItems"
                },
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "maxResults",
                    "items": "relatedItems"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.ssmincidents#ListRelatedItemsInput": {
            "type": "structure",
            "members": {
                "incidentRecordArn": {
                    "target": "com.amazonaws.ssmincidents#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident record containing the listed related\n            items.</p>",
                        "smithy.api#required": {},
                        "smithy.api#tags": [
                            "logs_required"
                        ]
                    }
                },
                "maxResults": {
                    "target": "com.amazonaws.ssmincidents#MaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of related items per page.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.ssmincidents#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#ListRelatedItemsOutput": {
            "type": "structure",
            "members": {
                "relatedItems": {
                    "target": "com.amazonaws.ssmincidents#RelatedItemList",
                    "traits": {
                        "smithy.api#documentation": "<p>Details about each related item.</p>",
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.ssmincidents#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#ListReplicationSets": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#ListReplicationSetsInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#ListReplicationSetsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Lists details about the replication set configured in your account. </p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/listReplicationSets"
                },
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "maxResults",
                    "items": "replicationSetArns"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.ssmincidents#ListReplicationSetsInput": {
            "type": "structure",
            "members": {
                "maxResults": {
                    "target": "com.amazonaws.ssmincidents#MaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of results per page. </p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.ssmincidents#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>",
                        "smithy.api#tags": [
                            "logs_investigations"
                        ]
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#ListReplicationSetsOutput": {
            "type": "structure",
            "members": {
                "replicationSetArns": {
                    "target": "com.amazonaws.ssmincidents#ReplicationSetArnList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the list replication set.</p>",
                        "smithy.api#required": {}
                    }
                },
                "nextToken": {
                    "target": "com.amazonaws.ssmincidents#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
                    }
                }
            }
        },
        "com.amazonaws.ssmincidents#ListResponsePlans": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssmincidents#ListResponsePlansInput"
            },
            "output": {
                "target": "com.amazonaws.ssmincidents#ListResponsePlansOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssmincidents#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssmincidents#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Lists all response plans in your account.</p>",
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/listResponsePlans"
                },
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "maxResults",
                    "items": "responsePlanSummaries"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.ssmincidents#ListResponsePlansInput": {
            "type": "structure",
            "members": {
[...]
