{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ssooidc#AWSSSOOIDCService": {
      "type": "service",
      "version": "2019-06-10",
      "operations": [
        {
          "target": "com.amazonaws.ssooidc#CreateToken"
        },
        {
          "target": "com.amazonaws.ssooidc#RegisterClient"
        },
        {
          "target": "com.amazonaws.ssooidc#StartDeviceAuthorization"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "SSO OIDC",
          "arnNamespace": "awsssooidc",
          "cloudFormationName": "SSOOIDC",
          "cloudTrailEventSource": "ssooidc.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "awsssooidc"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#title": "AWS SSO OIDC"
      }
    },
    "com.amazonaws.ssooidc#AccessDeniedException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#AccessToken": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#AuthCode": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#AuthorizationPendingException": {
      "type": "structure",
      "members": {
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        },
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#ClientId": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#ClientName": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#ClientSecret": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#ClientType": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#CreateToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssooidc#CreateTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.ssooidc#CreateTokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssooidc#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ssooidc#AuthorizationPendingException"
        },
        {
          "target": "com.amazonaws.ssooidc#ExpiredTokenException"
        },
        {
          "target": "com.amazonaws.ssooidc#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidClientException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidGrantException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidScopeException"
        },
        {
          "target": "com.amazonaws.ssooidc#SlowDownException"
        },
        {
          "target": "com.amazonaws.ssooidc#UnauthorizedClientException"
        },
        {
          "target": "com.amazonaws.ssooidc#UnsupportedGrantTypeException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/token",
          "code": 200
        }
      }
    },
    "com.amazonaws.ssooidc#CreateTokenRequest": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.ssooidc#AuthCode"
        },
        "refreshToken": {
          "target": "com.amazonaws.ssooidc#RefreshToken"
        },
        "scope": {
          "target": "com.amazonaws.ssooidc#Scopes"
        },
        "redirectUri": {
          "target": "com.amazonaws.ssooidc#URI"
        },
        "grantType": {
          "target": "com.amazonaws.ssooidc#GrantType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deviceCode": {
          "target": "com.amazonaws.ssooidc#DeviceCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientId": {
          "target": "com.amazonaws.ssooidc#ClientId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientSecret": {
          "target": "com.amazonaws.ssooidc#ClientSecret",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssooidc#CreateTokenResponse": {
      "type": "structure",
      "members": {
        "accessToken": {
          "target": "com.amazonaws.ssooidc#AccessToken"
        },
        "expiresIn": {
          "target": "com.amazonaws.ssooidc#ExpirationInSeconds"
        },
        "refreshToken": {
          "target": "com.amazonaws.ssooidc#RefreshToken"
        },
        "tokenType": {
          "target": "com.amazonaws.ssooidc#TokenType"
        },
        "idToken": {
          "target": "com.amazonaws.ssooidc#IdToken"
        }
      }
    },
    "com.amazonaws.ssooidc#DeviceCode": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#Error": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#ErrorDescription": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#ExpirationInSeconds": {
      "type": "integer"
    },
    "com.amazonaws.ssooidc#ExpiredTokenException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#GrantType": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#IdToken": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#InternalServerException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.ssooidc#IntervalInSeconds": {
      "type": "integer"
    },
    "com.amazonaws.ssooidc#InvalidClientException": {
      "type": "structure",
      "members": {
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        },
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.ssooidc#InvalidClientMetadataException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#InvalidGrantException": {
      "type": "structure",
      "members": {
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        },
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#InvalidRequestException": {
      "type": "structure",
      "members": {
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        },
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#InvalidScopeException": {
      "type": "structure",
      "members": {
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        },
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#LongTimeStampType": {
      "type": "long"
    },
    "com.amazonaws.ssooidc#RefreshToken": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#RegisterClient": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssooidc#RegisterClientRequest"
      },
      "output": {
        "target": "com.amazonaws.ssooidc#RegisterClientResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssooidc#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidClientMetadataException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidScopeException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/client/register",
          "code": 200
        }
      }
    },
    "com.amazonaws.ssooidc#RegisterClientRequest": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.amazonaws.ssooidc#Scopes"
        },
        "clientType": {
          "target": "com.amazonaws.ssooidc#ClientType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientName": {
          "target": "com.amazonaws.ssooidc#ClientName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssooidc#RegisterClientResponse": {
      "type": "structure",
      "members": {
        "clientSecret": {
          "target": "com.amazonaws.ssooidc#ClientSecret"
        },
        "authorizationEndpoint": {
          "target": "com.amazonaws.ssooidc#URI"
        },
        "clientId": {
          "target": "com.amazonaws.ssooidc#ClientId"
        },
        "tokenEndpoint": {
          "target": "com.amazonaws.ssooidc#URI"
        },
        "clientIdIssuedAt": {
          "target": "com.amazonaws.ssooidc#LongTimeStampType"
        },
        "clientSecretExpiresAt": {
          "target": "com.amazonaws.ssooidc#LongTimeStampType"
        }
      }
    },
    "com.amazonaws.ssooidc#Scope": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#Scopes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ssooidc#Scope"
      }
    },
    "com.amazonaws.ssooidc#SlowDownException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#StartDeviceAuthorization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ssooidc#StartDeviceAuthorizationRequest"
      },
      "output": {
        "target": "com.amazonaws.ssooidc#StartDeviceAuthorizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ssooidc#InternalServerException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidClientException"
        },
        {
          "target": "com.amazonaws.ssooidc#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.ssooidc#SlowDownException"
        },
        {
          "target": "com.amazonaws.ssooidc#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/device_authorization",
          "code": 200
        }
      }
    },
    "com.amazonaws.ssooidc#StartDeviceAuthorizationRequest": {
      "type": "structure",
      "members": {
        "clientSecret": {
          "target": "com.amazonaws.ssooidc#ClientSecret",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientId": {
          "target": "com.amazonaws.ssooidc#ClientId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startUrl": {
          "target": "com.amazonaws.ssooidc#URI",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ssooidc#StartDeviceAuthorizationResponse": {
      "type": "structure",
      "members": {
        "expiresIn": {
          "target": "com.amazonaws.ssooidc#ExpirationInSeconds"
        },
        "verificationUri": {
          "target": "com.amazonaws.ssooidc#URI"
        },
        "interval": {
          "target": "com.amazonaws.ssooidc#IntervalInSeconds"
        },
        "verificationUriComplete": {
          "target": "com.amazonaws.ssooidc#URI"
        },
        "deviceCode": {
          "target": "com.amazonaws.ssooidc#DeviceCode"
        },
        "userCode": {
          "target": "com.amazonaws.ssooidc#UserCode"
        }
      }
    },
    "com.amazonaws.ssooidc#TokenType": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#URI": {
      "type": "string"
    },
    "com.amazonaws.ssooidc#UnauthorizedClientException": {
      "type": "structure",
      "members": {
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        },
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#UnsupportedGrantTypeException": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.ssooidc#Error"
        },
        "error_description": {
          "target": "com.amazonaws.ssooidc#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ssooidc#UserCode": {
      "type": "string"
    }
  }
}
