{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.ssooidc#AWSSSOOIDCService": {
            "type": "service",
            "version": "2019-06-10",
            "operations": [
                {
                    "target": "com.amazonaws.ssooidc#CreateToken"
                },
                {
                    "target": "com.amazonaws.ssooidc#CreateTokenWithIAM"
                },
                {
                    "target": "com.amazonaws.ssooidc#RegisterClient"
                },
                {
                    "target": "com.amazonaws.ssooidc#StartDeviceAuthorization"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "SSO OIDC",
                    "arnNamespace": "sso-oauth",
                    "cloudFormationName": "SSOOIDC",
                    "cloudTrailEventSource": "ssooidc.amazonaws.com",
                    "endpointPrefix": "oidc"
                },
                "aws.auth#sigv4": {
                    "name": "sso-oauth"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>IAM Identity Center OpenID Connect (OIDC) is a web service that enables a client (such as CLI or a\n      native application) to register with IAM Identity Center. The service also enables the client to fetch the\n      user’s access token upon successful authentication and authorization with IAM Identity Center.</p>\n         <p>\n            <b>API namespaces</b>\n         </p>\n         <p>IAM Identity Center uses the <code>sso</code> and <code>identitystore</code> API namespaces. IAM Identity Center\n      OpenID Connect uses the <code>sso-oauth</code> namespace.</p>\n         <p>\n            <b>Considerations for using this guide</b>\n         </p>\n         <p>Before you begin using this guide, we recommend that you first review the following\n      important information about how the IAM Identity Center OIDC service works.</p>\n         <ul>\n            <li>\n               <p>The IAM Identity Center OIDC service currently implements only the portions of the OAuth 2.0 Device\n          Authorization Grant standard (<a href=\"https://tools.ietf.org/html/rfc8628\">https://tools.ietf.org/html/rfc8628</a>) that are necessary to enable single\n          sign-on authentication with the CLI. </p>\n            </li>\n            <li>\n               <p>With older versions of the CLI, the service only emits OIDC access tokens, so to\n          obtain a new token, users must explicitly re-authenticate. To access the OIDC flow that\n          supports token refresh and doesn’t require re-authentication, update to the latest CLI\n          version (1.27.10 for CLI V1 and 2.9.0 for CLI V2) with support for OIDC token refresh\n          and configurable IAM Identity Center session durations. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/configure-user-session.html\">Configure Amazon Web Services access portal session duration </a>. </p>\n            </li>\n            <li>\n               <p>The access tokens provided by this service grant access to all Amazon Web Services account\n          entitlements assigned to an IAM Identity Center user, not just a particular application.</p>\n            </li>\n            <li>\n               <p>The documentation in this guide does not describe the mechanism to convert the access\n          token into Amazon Web Services Auth (“sigv4”) credentials for use with IAM-protected Amazon Web Services service\n          endpoints. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/PortalAPIReference/API_GetRoleCredentials.html\">GetRoleCredentials</a> in the <i>IAM Identity Center Portal API Reference\n          Guide</i>.</p>\n            </li>\n         </ul>\n         <p>For general information about IAM Identity Center, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/what-is.html\">What is\n        IAM Identity Center?</a> in the <i>IAM Identity Center User Guide</i>.</p>",
                "smithy.api#title": "AWS SSO OIDC",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://oidc-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "stringEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "name"
                                                                            ]
                                                                        },
                                                                        "aws-us-gov"
                                                                    ]
                                                                }
                                                            ],
                                                            "endpoint": {
                                                                "url": "https://oidc.{Region}.amazonaws.com",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://oidc-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://oidc.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://oidc.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.ap-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.ap-northeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.ap-northeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.ap-northeast-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-northeast-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.ap-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.ap-southeast-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.ap-southeast-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ap-southeast-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.ca-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "ca-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.eu-central-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-central-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.eu-north-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.eu-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.eu-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.eu-west-3.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-3",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.me-south-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "me-south-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.sa-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "sa-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.us-east-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://oidc.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.ssooidc#AccessDeniedException": {
            "type": "structure",
            "members": {
                "error": {
                    "target": "com.amazonaws.ssooidc#Error",
                    "traits": {
                        "smithy.api#documentation": "<p>Single error code. For this exception the value will be <code>access_denied</code>.</p>"
                    }
                },
                "reason": {
                    "target": "com.amazonaws.ssooidc#AccessDeniedExceptionReason",
                    "traits": {
                        "smithy.api#documentation": "<p>A string that uniquely identifies a reason for the error.</p>"
                    }
                },
                "error_description": {
                    "target": "com.amazonaws.ssooidc#ErrorDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.ssooidc#AccessDeniedExceptionReason": {
            "type": "enum",
            "members": {
                "KMS_ACCESS_DENIED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "KMS_AccessDeniedException"
                    }
                }
            }
        },
        "com.amazonaws.ssooidc#AccessToken": {
            "type": "string",
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.ssooidc#ArnType": {
            "type": "string"
        },
        "com.amazonaws.ssooidc#Assertion": {
            "type": "string",
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.ssooidc#AuthCode": {
            "type": "string"
        },
        "com.amazonaws.ssooidc#AuthorizationPendingException": {
            "type": "structure",
            "members": {
                "error": {
                    "target": "com.amazonaws.ssooidc#Error",
                    "traits": {
                        "smithy.api#documentation": "<p>Single error code. For this exception the value will be\n      <code>authorization_pending</code>.</p>"
                    }
                },
                "error_description": {
                    "target": "com.amazonaws.ssooidc#ErrorDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Indicates that a request to authorize a client with an access user session token is\n      pending.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.ssooidc#AwsAdditionalDetails": {
            "type": "structure",
            "members": {
                "identityContext": {
                    "target": "com.amazonaws.ssooidc#IdentityContext",
                    "traits": {
                        "smithy.api#documentation": "<p>The trusted context assertion is signed and encrypted by STS. It provides access to\n        <code>sts:identity_context</code> claim in the <code>idToken</code> without JWT\n      parsing</p>\n         <p>Identity context comprises information that Amazon Web Services services use to make authorization\n      decisions when they receive requests.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This structure contains Amazon Web Services-specific parameter extensions and the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/trustedidentitypropagation-overview.html\">identity context</a>.</p>"
            }
        },
        "com.amazonaws.ssooidc#ClientId": {
            "type": "string"
        },
        "com.amazonaws.ssooidc#ClientName": {
            "type": "string"
        },
        "com.amazonaws.ssooidc#ClientSecret": {
            "type": "string",
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.ssooidc#ClientType": {
            "type": "string"
        },
        "com.amazonaws.ssooidc#CodeVerifier": {
            "type": "string",
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.ssooidc#CreateToken": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssooidc#CreateTokenRequest"
            },
            "output": {
                "target": "com.amazonaws.ssooidc#CreateTokenResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssooidc#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssooidc#AuthorizationPendingException"
                },
                {
                    "target": "com.amazonaws.ssooidc#ExpiredTokenException"
                },
                {
                    "target": "com.amazonaws.ssooidc#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssooidc#InvalidClientException"
                },
                {
                    "target": "com.amazonaws.ssooidc#InvalidGrantException"
                },
                {
                    "target": "com.amazonaws.ssooidc#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.ssooidc#InvalidScopeException"
                },
                {
                    "target": "com.amazonaws.ssooidc#SlowDownException"
                },
                {
                    "target": "com.amazonaws.ssooidc#UnauthorizedClientException"
                },
                {
                    "target": "com.amazonaws.ssooidc#UnsupportedGrantTypeException"
                }
            ],
            "traits": {
                "smithy.api#auth": [],
                "smithy.api#documentation": "<p>Creates and returns access and refresh tokens for clients that are authenticated using\n      client secrets. The access token can be used to fetch short-lived credentials for the assigned\n      AWS accounts or to access application APIs using <code>bearer</code> authentication.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Call OAuth/OIDC /token endpoint for Device Code grant with Secret authentication",
                        "documentation": "",
                        "input": {
                            "clientId": "_yzkThXVzLWVhc3QtMQEXAMPLECLIENTID",
                            "clientSecret": "VERYLONGSECRETeyJraWQiOiJrZXktMTU2NDAyODA5OSIsImFsZyI6IkhTMzg0In0",
                            "grantType": "urn:ietf:params:oauth:grant-type:device-code",
                            "deviceCode": "yJraWQiOiJrZXktMTU2Njk2ODA4OCIsImFsZyI6IkhTMzIn0EXAMPLEDEVICECODE"
                        },
                        "output": {
                            "accessToken": "aoal-YigITUDiNX1xZwOMXM5MxOWDL0E0jg9P6_C_jKQPxS_SKCP6f0kh1Up4g7TtvQqkMnD-GJiU_S1gvug6SrggAkc0:MGYCMQD3IatVjV7jAJU91kK3PkS/SfA2wtgWzOgZWDOR7sDGN9t0phCZz5It/aes/3C1Zj0CMQCKWOgRaiz6AIhza3DSXQNMLjRKXC8F8ceCsHlgYLMZ7hZidEXAMPLEACCESSTOKEN",
                            "tokenType": "Bearer",
                            "expiresIn": 1579729529,
                            "refreshToken": "aorvJYubGpU6i91YnH7Mfo-AT2fIVa1zCfA_Rvq9yjVKIP3onFmmykuQ7E93y2I-9Nyj-A_sVvMufaLNL0bqnDRtgAkc0:MGUCMFrRsktMRVlWaOR70XGMFGLL0SlcCw4DiYveIiOVx1uK9BbD0gvAddsW3UTLozXKMgIxAJ3qxUvjpnlLIOaaKOoa/FuNgqJVvr9GMwDtnAtlh9iZzAkEXAMPLEREFRESHTOKEN"
                        }
                    },
                    {
                        "title": "Call OAuth/OIDC /token endpoint for Refresh Token grant with Secret authentication",
                        "documentation": "",
                        "input": {
                            "clientId": "_yzkThXVzLWVhc3QtMQEXAMPLECLIENTID",
                            "clientSecret": "VERYLONGSECRETeyJraWQiOiJrZXktMTU2NDAyODA5OSIsImFsZyI6IkhTMzg0In0",
                            "grantType": "refresh_token",
                            "refreshToken": "aorvJYubGpU6i91YnH7Mfo-AT2fIVa1zCfA_Rvq9yjVKIP3onFmmykuQ7E93y2I-9Nyj-A_sVvMufaLNL0bqnDRtgAkc0:MGUCMFrRsktMRVlWaOR70XGMFGLL0SlcCw4DiYveIiOVx1uK9BbD0gvAddsW3UTLozXKMgIxAJ3qxUvjpnlLIOaaKOoa/FuNgqJVvr9GMwDtnAtlh9iZzAkEXAMPLEREFRESHTOKEN",
                            "scope": [
                                "codewhisperer:completions"
                            ]
                        },
                        "output": {
                            "accessToken": "aoal-YigITUDiNX1xZwOMXM5MxOWDL0E0jg9P6_C_jKQPxS_SKCP6f0kh1Up4g7TtvQqkMnD-GJiU_S1gvug6SrggAkc0:MGYCMQD3IatVjV7jAJU91kK3PkS/SfA2wtgWzOgZWDOR7sDGN9t0phCZz5It/aes/3C1Zj0CMQCKWOgRaiz6AIhza3DSXQNMLjRKXC8F8ceCsHlgYLMZ7hZidEXAMPLEACCESSTOKEN",
                            "tokenType": "Bearer",
                            "expiresIn": 1579729529,
                            "refreshToken": "aorvJYubGpU6i91YnH7Mfo-AT2fIVa1zCfA_Rvq9yjVKIP3onFmmykuQ7E93y2I-9Nyj-A_sVvMufaLNL0bqnDRtgAkc0:MGUCMFrRsktMRVlWaOR70XGMFGLL0SlcCw4DiYveIiOVx1uK9BbD0gvAddsW3UTLozXKMgIxAJ3qxUvjpnlLIOaaKOoa/FuNgqJVvr9GMwDtnAtlh9iZzAkEXAMPLEREFRESHTOKEN"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/token",
                    "code": 200
                },
                "smithy.api#optionalAuth": {}
            }
        },
        "com.amazonaws.ssooidc#CreateTokenRequest": {
            "type": "structure",
            "members": {
                "clientId": {
                    "target": "com.amazonaws.ssooidc#ClientId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier string for the client or application. This value comes from the\n      result of the <a>RegisterClient</a> API.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientSecret": {
                    "target": "com.amazonaws.ssooidc#ClientSecret",
                    "traits": {
                        "smithy.api#documentation": "<p>A secret string generated for the client. This value should come from the persisted result\n      of the <a>RegisterClient</a> API.</p>",
                        "smithy.api#required": {}
                    }
                },
                "grantType": {
                    "target": "com.amazonaws.ssooidc#GrantType",
                    "traits": {
                        "smithy.api#documentation": "<p>Supports the following OAuth grant types: Authorization Code, Device Code, and Refresh\n      Token. Specify one of the following values, depending on the grant type that you want:</p>\n         <p>* Authorization Code - <code>authorization_code</code>\n         </p>\n         <p>* Device Code - <code>urn:ietf:params:oauth:grant-type:device_code</code>\n         </p>\n         <p>* Refresh Token - <code>refresh_token</code>\n         </p>",
                        "smithy.api#required": {}
                    }
                },
                "deviceCode": {
                    "target": "com.amazonaws.ssooidc#DeviceCode",
                    "traits": {
                        "smithy.api#documentation": "<p>Used only when calling this API for the Device Code grant type. This short-lived code is\n      used to identify this authorization request. This comes from the result of the <a>StartDeviceAuthorization</a> API.</p>"
                    }
                },
                "code": {
                    "target": "com.amazonaws.ssooidc#AuthCode",
                    "traits": {
                        "smithy.api#documentation": "<p>Used only when calling this API for the Authorization Code grant type. The short-lived\n      code is used to identify this authorization request.</p>"
                    }
                },
                "refreshToken": {
                    "target": "com.amazonaws.ssooidc#RefreshToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Used only when calling this API for the Refresh Token grant type. This token is used to\n      refresh short-lived tokens, such as the access token, that might expire.</p>\n         <p>For more information about the features and limitations of the current IAM Identity Center OIDC\n      implementation, see <i>Considerations for Using this Guide</i> in the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/OIDCAPIReference/Welcome.html\">IAM Identity Center\n        OIDC API Reference</a>.</p>"
                    }
                },
                "scope": {
                    "target": "com.amazonaws.ssooidc#Scopes",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of scopes for which authorization is requested. This parameter has no effect; the access token will always include all scopes configured during client registration.</p>"
                    }
                },
                "redirectUri": {
                    "target": "com.amazonaws.ssooidc#URI",
                    "traits": {
                        "smithy.api#documentation": "<p>Used only when calling this API for the Authorization Code grant type. This value\n      specifies the location of the client or application that has registered to receive the\n      authorization code.</p>"
                    }
                },
                "codeVerifier": {
                    "target": "com.amazonaws.ssooidc#CodeVerifier",
                    "traits": {
                        "smithy.api#documentation": "<p>Used only when calling this API for the Authorization Code grant type. This value is\n      generated by the client and presented to validate the original code challenge value the client\n      passed at authorization time.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssooidc#CreateTokenResponse": {
            "type": "structure",
            "members": {
                "accessToken": {
                    "target": "com.amazonaws.ssooidc#AccessToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A bearer token to access Amazon Web Services accounts and applications assigned to a user.</p>"
                    }
                },
                "tokenType": {
                    "target": "com.amazonaws.ssooidc#TokenType",
                    "traits": {
                        "smithy.api#documentation": "<p>Used to notify the client that the returned token is an access token. The supported token\n      type is <code>Bearer</code>.</p>"
                    }
                },
                "expiresIn": {
                    "target": "com.amazonaws.ssooidc#ExpirationInSeconds",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Indicates the time in seconds when an access token will expire.</p>"
                    }
                },
                "refreshToken": {
                    "target": "com.amazonaws.ssooidc#RefreshToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that, if present, can be used to refresh a previously issued access token that\n      might have expired.</p>\n         <p>For more information about the features and limitations of the current IAM Identity Center OIDC\n      implementation, see <i>Considerations for Using this Guide</i> in the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/OIDCAPIReference/Welcome.html\">IAM Identity Center\n        OIDC API Reference</a>.</p>"
                    }
                },
                "idToken": {
                    "target": "com.amazonaws.ssooidc#IdToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The <code>idToken</code> is not implemented or supported. For more information about the\n      features and limitations of the current IAM Identity Center OIDC implementation, see\n        <i>Considerations for Using this Guide</i> in the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/OIDCAPIReference/Welcome.html\">IAM Identity Center\n        OIDC API Reference</a>.</p>\n         <p>A JSON Web Token (JWT) that identifies who is associated with the issued access token.\n    </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssooidc#CreateTokenWithIAM": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssooidc#CreateTokenWithIAMRequest"
            },
            "output": {
                "target": "com.amazonaws.ssooidc#CreateTokenWithIAMResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssooidc#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssooidc#AuthorizationPendingException"
                },
                {
                    "target": "com.amazonaws.ssooidc#ExpiredTokenException"
                },
                {
                    "target": "com.amazonaws.ssooidc#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssooidc#InvalidClientException"
                },
                {
                    "target": "com.amazonaws.ssooidc#InvalidGrantException"
                },
                {
                    "target": "com.amazonaws.ssooidc#InvalidRequestException"
                },
                {
                    "target": "com.amazonaws.ssooidc#InvalidRequestRegionException"
                },
                {
                    "target": "com.amazonaws.ssooidc#InvalidScopeException"
                },
                {
                    "target": "com.amazonaws.ssooidc#SlowDownException"
                },
                {
                    "target": "com.amazonaws.ssooidc#UnauthorizedClientException"
                },
                {
                    "target": "com.amazonaws.ssooidc#UnsupportedGrantTypeException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates and returns access and refresh tokens for authorized client applications that are\n      authenticated using any IAM entity, such as a service\n      role or user. These tokens might contain defined scopes that specify permissions such as <code>read:profile</code> or <code>write:data</code>. Through downscoping, you can use the scopes parameter to request tokens with reduced permissions compared to the original client application's permissions or, if applicable, the refresh token's scopes. The access token can be used to fetch short-lived credentials for the assigned\n      Amazon Web Services accounts or to access application APIs using <code>bearer</code> authentication.</p>\n         <note>\n            <p>This API is used with Signature Version 4. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_sigv.html\">Amazon Web Services Signature\n          Version 4 for API Requests</a>.</p>\n         </note>",
                "smithy.api#examples": [
                    {
                        "title": "Call OAuth/OIDC /token endpoint for Authorization Code grant with IAM authentication",
                        "documentation": "",
                        "input": {
                            "clientId": "arn:aws:sso::123456789012:application/ssoins-111111111111/apl-222222222222",
                            "grantType": "authorization_code",
                            "code": "yJraWQiOiJrZXktMTU2Njk2ODA4OCIsImFsZyI6IkhTMzg0In0EXAMPLEAUTHCODE",
                            "redirectUri": "https://mywebapp.example/redirect",
                            "scope": [
                                "openid",
                                "aws",
                                "sts:identity_context"
                            ]
                        },
                        "output": {
                            "accessToken": "aoal-YigITUDiNX1xZwOMXM5MxOWDL0E0jg9P6_C_jKQPxS_SKCP6f0kh1Up4g7TtvQqkMnD-GJiU_S1gvug6SrggAkc0:MGYCMQD3IatVjV7jAJU91kK3PkS/SfA2wtgWzOgZWDOR7sDGN9t0phCZz5It/aes/3C1Zj0CMQCKWOgRaiz6AIhza3DSXQNMLjRKXC8F8ceCsHlgYLMZ7hZidEXAMPLEACCESSTOKEN",
                            "tokenType": "Bearer",
                            "expiresIn": 1579729529,
                            "refreshToken": "aorvJYubGpU6i91YnH7Mfo-AT2fIVa1zCfA_Rvq9yjVKIP3onFmmykuQ7E93y2I-9Nyj-A_sVvMufaLNL0bqnDRtgAkc0:MGUCMFrRsktMRVlWaOR70XGMFGLL0SlcCw4DiYveIiOVx1uK9BbD0gvAddsW3UTLozXKMgIxAJ3qxUvjpnlLIOaaKOoa/FuNgqJVvr9GMwDtnAtlh9iZzAkEXAMPLEREFRESHTOKEN",
                            "idToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhd3M6aWRlbnRpdHlfc3RvcmVfaWQiOiJkLTMzMzMzMzMzMzMiLCJzdWIiOiI3MzA0NDhmMi1lMGExLTcwYTctYzk1NC0wMDAwMDAwMDAwMDAiLCJhd3M6aW5zdGFuY2VfYWNjb3VudCI6IjExMTExMTExMTExMSIsInN0czppZGVudGl0eV9jb250ZXh0IjoiRVhBTVBMRUlERU5USVRZQ09OVEVYVCIsInN0czphdWRpdF9jb250ZXh0IjoiRVhBTVBMRUFVRElUQ09OVEVYVCIsImlzcyI6Imh0dHBzOi8vaWRlbnRpdHljZW50ZXIuYW1hem9uYXdzLmNvbS9zc29pbnMtMTExMTExMTExMTExIiwiYXdzOmlkZW50aXR5X3N0b3JlX2FybiI6ImFybjphd3M6aWRlbnRpdHlzdG9yZTo6MTExMTExMTExMTExOmlkZW50aXR5c3RvcmUvZC0zMzMzMzMzMzMzIiwiYXVkIjoiYXJuOmF3czpzc286OjEyMzQ1Njc4OTAxMjphcHBsaWNhdGlvbi9zc29pbnMtMTExMTExMTExMTExL2FwbC0yMjIyMjIyMjIyMjIiLCJhd3M6aW5zdGFuY2VfYXJuIjoiYXJuOmF3czpzc286OjppbnN0YW5jZS9zc29pbnMtMTExMTExMTExMTExIiwiYXdzOmNyZWRlbnRpYWxfaWQiOiJfWlIyTjZhVkJqMjdGUEtheWpfcEtwVjc3QVBERl80MXB4ZXRfWWpJdUpONlVJR2RBdkpFWEFNUExFQ1JFRElEIiwiYXV0aF90aW1lIjoiMjAyMC0wMS0yMlQxMjo0NToyOVoiLCJleHAiOjE1Nzk3Mjk1MjksImlhdCI6MTU3OTcyNTkyOX0.Xyah6qbk78qThzJ41iFU2yfGuRqqtKXHrJYwQ8L9Ip0",
                            "issuedTokenType": "urn:ietf:params:oauth:token-type:refresh_token",
                            "scope": [
                                "openid",
                                "aws",
                                "sts:identity_context"
                            ],
                            "awsAdditionalDetails": {
                                "identityContext": "EXAMPLEIDENTITYCONTEXT"
                            }
                        }
                    },
                    {
                        "title": "Call OAuth/OIDC /token endpoint for JWT Bearer grant with IAM authentication",
                        "documentation": "",
                        "input": {
                            "clientId": "arn:aws:sso::123456789012:application/ssoins-111111111111/apl-222222222222",
                            "grantType": "urn:ietf:params:oauth:grant-type:jwt-bearer",
                            "assertion": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IjFMVE16YWtpaGlSbGFfOHoyQkVKVlhlV01xbyJ9.eyJ2ZXIiOiIyLjAiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vOTEyMjA0MGQtNmM2Ny00YzViLWIxMTItMzZhMzA0YjY2ZGFkL3YyLjAiLCJzdWIiOiJBQUFBQUFBQUFBQUFBQUFBQUFBQUFJa3pxRlZyU2FTYUZIeTc4MmJidGFRIiwiYXVkIjoiNmNiMDQwMTgtYTNmNS00NmE3LWI5OTUtOTQwYzc4ZjVhZWYzIiwiZXhwIjoxNTM2MzYxNDExLCJpYXQiOjE1MzYyNzQ3MTEsIm5iZiI6MTUzNjI3NDcxMSwibmFtZSI6IkFiZSBMaW5jb2xuIiwicHJlZmVycmVkX3VzZXJuYW1lIjoiQWJlTGlAbWljcm9zb2Z0LmNvbSIsIm9pZCI6IjAwMDAwMDAwLTAwMDAtMDAwMC02NmYzLTMzMzJlY2E3ZWE4MSIsInRpZCI6IjkxMjIwNDBkLTZjNjctNGM1Yi1iMTEyLTM2YTMwNGI2NmRhZCIsIm5vbmNlIjoiMTIzNTIzIiwiYWlvIjoiRGYyVVZYTDFpeCFsTUNXTVNPSkJjRmF0emNHZnZGR2hqS3Y4cTVnMHg3MzJkUjVNQjVCaXN2R1FPN1lXQnlqZDhpUURMcSFlR2JJRGFreXA1bW5PcmNkcUhlWVNubHRlcFFtUnA2QUlaOGpZIn0.1AFWW-Ck5nROwSlltm7GzZvDwUkqvhSQpm55TQsmVo9Y59cLhRXpvB8n-55HCr9Z6G_31_UbeUkoz612I2j_Sm9FFShSDDjoaLQr54CreGIJvjtmS3EkK9a7SJBbcpL1MpUtlfygow39tFjY7EVNW9plWUvRrTgVk7lYLprvfzw-CIqw3gHC-T7IK_m_xkr08INERBtaecwhTeN4chPC4W3jdmw_lIxzC48YoQ0dB1L9-ImX98Egypfrlbm0IBL5spFzL6JDZIRRJOu8vecJvj1mq-IUhGt0MacxX8jdxYLP-KUu2d9MbNKpCKJuZ7p8gwTL5B7NlUdh_dmSviPWrw"
                        },
                        "output": {
                            "accessToken": "aoal-YigITUDiNX1xZwOMXM5MxOWDL0E0jg9P6_C_jKQPxS_SKCP6f0kh1Up4g7TtvQqkMnD-GJiU_S1gvug6SrggAkc0:MGYCMQD3IatVjV7jAJU91kK3PkS/SfA2wtgWzOgZWDOR7sDGN9t0phCZz5It/aes/3C1Zj0CMQCKWOgRaiz6AIhza3DSXQNMLjRKXC8F8ceCsHlgYLMZ7hZidEXAMPLEACCESSTOKEN",
                            "tokenType": "Bearer",
                            "expiresIn": 1579729529,
                            "refreshToken": "aorvJYubGpU6i91YnH7Mfo-AT2fIVa1zCfA_Rvq9yjVKIP3onFmmykuQ7E93y2I-9Nyj-A_sVvMufaLNL0bqnDRtgAkc0:MGUCMFrRsktMRVlWaOR70XGMFGLL0SlcCw4DiYveIiOVx1uK9BbD0gvAddsW3UTLozXKMgIxAJ3qxUvjpnlLIOaaKOoa/FuNgqJVvr9GMwDtnAtlh9iZzAkEXAMPLEREFRESHTOKEN",
                            "idToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhd3M6aWRlbnRpdHlfc3RvcmVfaWQiOiJkLTMzMzMzMzMzMzMiLCJzdWIiOiI3MzA0NDhmMi1lMGExLTcwYTctYzk1NC0wMDAwMDAwMDAwMDAiLCJhd3M6aW5zdGFuY2VfYWNjb3VudCI6IjExMTExMTExMTExMSIsInN0czppZGVudGl0eV9jb250ZXh0IjoiRVhBTVBMRUlERU5USVRZQ09OVEVYVCIsInN0czphdWRpdF9jb250ZXh0IjoiRVhBTVBMRUFVRElUQ09OVEVYVCIsImlzcyI6Imh0dHBzOi8vaWRlbnRpdHljZW50ZXIuYW1hem9uYXdzLmNvbS9zc29pbnMtMTExMTExMTExMTExIiwiYXdzOmlkZW50aXR5X3N0b3JlX2FybiI6ImFybjphd3M6aWRlbnRpdHlzdG9yZTo6MTExMTExMTExMTExOmlkZW50aXR5c3RvcmUvZC0zMzMzMzMzMzMzIiwiYXVkIjoiYXJuOmF3czpzc286OjEyMzQ1Njc4OTAxMjphcHBsaWNhdGlvbi9zc29pbnMtMTExMTExMTExMTExL2FwbC0yMjIyMjIyMjIyMjIiLCJhd3M6aW5zdGFuY2VfYXJuIjoiYXJuOmF3czpzc286OjppbnN0YW5jZS9zc29pbnMtMTExMTExMTExMTExIiwiYXdzOmNyZWRlbnRpYWxfaWQiOiJfWlIyTjZhVkJqMjdGUEtheWpfcEtwVjc3QVBERl80MXB4ZXRfWWpJdUpONlVJR2RBdkpFWEFNUExFQ1JFRElEIiwiYXV0aF90aW1lIjoiMjAyMC0wMS0yMlQxMjo0NToyOVoiLCJleHAiOjE1Nzk3Mjk1MjksImlhdCI6MTU3OTcyNTkyOX0.Xyah6qbk78qThzJ41iFU2yfGuRqqtKXHrJYwQ8L9Ip0",
                            "issuedTokenType": "urn:ietf:params:oauth:token-type:refresh_token",
                            "scope": [
                                "openid",
                                "aws",
                                "sts:identity_context"
                            ],
                            "awsAdditionalDetails": {
                                "identityContext": "EXAMPLEIDENTITYCONTEXT"
                            }
                        }
                    },
                    {
                        "title": "Call OAuth/OIDC /token endpoint for Refresh Token grant with IAM authentication",
                        "documentation": "",
                        "input": {
                            "clientId": "arn:aws:sso::123456789012:application/ssoins-111111111111/apl-222222222222",
                            "grantType": "refresh_token",
                            "refreshToken": "aorvJYubGpU6i91YnH7Mfo-AT2fIVa1zCfA_Rvq9yjVKIP3onFmmykuQ7E93y2I-9Nyj-A_sVvMufaLNL0bqnDRtgAkc0:MGUCMFrRsktMRVlWaOR70XGMFGLL0SlcCw4DiYveIiOVx1uK9BbD0gvAddsW3UTLozXKMgIxAJ3qxUvjpnlLIOaaKOoa/FuNgqJVvr9GMwDtnAtlh9iZzAkEXAMPLEREFRESHTOKEN"
                        },
                        "output": {
                            "accessToken": "aoal-YigITUDiNX1xZwOMXM5MxOWDL0E0jg9P6_C_jKQPxS_SKCP6f0kh1Up4g7TtvQqkMnD-GJiU_S1gvug6SrggAkc0:MGYCMQD3IatVjV7jAJU91kK3PkS/SfA2wtgWzOgZWDOR7sDGN9t0phCZz5It/aes/3C1Zj0CMQCKWOgRaiz6AIhza3DSXQNMLjRKXC8F8ceCsHlgYLMZ7hZidEXAMPLEACCESSTOKEN",
                            "tokenType": "Bearer",
                            "expiresIn": 1579729529,
                            "refreshToken": "aorvJYubGpU6i91YnH7Mfo-AT2fIVa1zCfA_Rvq9yjVKIP3onFmmykuQ7E93y2I-9Nyj-A_sVvMufaLNL0bqnDRtgAkc0:MGUCMFrRsktMRVlWaOR70XGMFGLL0SlcCw4DiYveIiOVx1uK9BbD0gvAddsW3UTLozXKMgIxAJ3qxUvjpnlLIOaaKOoa/FuNgqJVvr9GMwDtnAtlh9iZzAkEXAMPLEREFRESHTOKEN",
                            "issuedTokenType": "urn:ietf:params:oauth:token-type:refresh_token",
                            "scope": [
                                "openid",
                                "aws",
                                "sts:identity_context"
                            ]
                        }
                    },
                    {
                        "title": "Call OAuth/OIDC /token endpoint for Token Exchange grant with IAM authentication",
                        "documentation": "",
                        "input": {
                            "clientId": "arn:aws:sso::123456789012:application/ssoins-111111111111/apl-222222222222",
                            "grantType": "urn:ietf:params:oauth:grant-type:token-exchange",
                            "subjectToken": "aoak-Hig8TUDPNX1xZwOMXM5MxOWDL0E0jg9P6_C_jKQPxS_SKCP6f0kh1Up4g7TtvQqkMnD-GJiU_S1gvug6SrggAkc0:MGYCMQD3IatVjV7jAJU91kK3PkS/SfA2wtgWzOgZWDOR7sDGN9t0phCZz5It/aes/3C1Zj0CMQCKWOgRaiz6AIhza3DSXQNMLjRKXC8F8ceCsHlgYLMZ7hZDIFFERENTACCESSTOKEN",
                            "subjectTokenType": "urn:ietf:params:oauth:token-type:access_token",
                            "requestedTokenType": "urn:ietf:params:oauth:token-type:access_token"
                        },
                        "output": {
                            "accessToken": "aoal-YigITUDiNX1xZwOMXM5MxOWDL0E0jg9P6_C_jKQPxS_SKCP6f0kh1Up4g7TtvQqkMnD-GJiU_S1gvug6SrggAkc0:MGYCMQD3IatVjV7jAJU91kK3PkS/SfA2wtgWzOgZWDOR7sDGN9t0phCZz5It/aes/3C1Zj0CMQCKWOgRaiz6AIhza3DSXQNMLjRKXC8F8ceCsHlgYLMZ7hZidEXAMPLEACCESSTOKEN",
                            "tokenType": "Bearer",
                            "expiresIn": 1579729529,
                            "idToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhd3M6aWRlbnRpdHlfc3RvcmVfaWQiOiJkLTMzMzMzMzMzMzMiLCJzdWIiOiI3MzA0NDhmMi1lMGExLTcwYTctYzk1NC0wMDAwMDAwMDAwMDAiLCJhd3M6aW5zdGFuY2VfYWNjb3VudCI6IjExMTExMTExMTExMSIsInN0czppZGVudGl0eV9jb250ZXh0IjoiRVhBTVBMRUlERU5USVRZQ09OVEVYVCIsImlzcyI6Imh0dHBzOi8vaWRlbnRpdHljZW50ZXIuYW1hem9uYXdzLmNvbS9zc29pbnMtMTExMTExMTExMTExIiwiYXdzOmlkZW50aXR5X3N0b3JlX2FybiI6ImFybjphd3M6aWRlbnRpdHlzdG9yZTo6MTExMTExMTExMTExOmlkZW50aXR5c3RvcmUvZC0zMzMzMzMzMzMzIiwiYXVkIjoiYXJuOmF3czpzc286OjEyMzQ1Njc4OTAxMjphcHBsaWNhdGlvbi9zc29pbnMtMTExMTExMTExMTExL2FwbC0yMjIyMjIyMjIyMjIiLCJhd3M6aW5zdGFuY2VfYXJuIjoiYXJuOmF3czpzc286OjppbnN0YW5jZS9zc29pbnMtMTExMTExMTExMTExIiwiYXdzOmNyZWRlbnRpYWxfaWQiOiJfWlIyTjZhVkJqMjdGUEtheWpfcEtwVjc3QVBERl80MXB4ZXRfWWpJdUpONlVJR2RBdkpFWEFNUExFQ1JFRElEIiwiYXV0aF90aW1lIjoiMjAyMC0wMS0yMlQxMjo0NToyOVoiLCJleHAiOjE1Nzk3Mjk1MjksImlhdCI6MTU3OTcyNTkyOX0.5SYiW1kMsuUr7nna-l5tlakM0GNbMHvIM2_n0QD23jM",
                            "issuedTokenType": "urn:ietf:params:oauth:token-type:access_token",
                            "scope": [
                                "openid",
                                "aws",
                                "sts:identity_context"
                            ],
                            "awsAdditionalDetails": {
                                "identityContext": "EXAMPLEIDENTITYCONTEXT"
                            }
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/token?aws_iam=t",
                    "code": 200
                }
            }
        },
        "com.amazonaws.ssooidc#CreateTokenWithIAMRequest": {
            "type": "structure",
            "members": {
                "clientId": {
                    "target": "com.amazonaws.ssooidc#ClientId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier string for the client or application. This value is an application\n      ARN that has OAuth grants configured.</p>",
                        "smithy.api#required": {}
                    }
                },
                "grantType": {
                    "target": "com.amazonaws.ssooidc#GrantType",
                    "traits": {
                        "smithy.api#documentation": "<p>Supports the following OAuth grant types: Authorization Code, Refresh Token, JWT Bearer,\n      and Token Exchange. Specify one of the following values, depending on the grant type that you\n      want:</p>\n         <p>* Authorization Code - <code>authorization_code</code>\n         </p>\n         <p>* Refresh Token - <code>refresh_token</code>\n         </p>\n         <p>* JWT Bearer - <code>urn:ietf:params:oauth:grant-type:jwt-bearer</code>\n         </p>\n         <p>* Token Exchange - <code>urn:ietf:params:oauth:grant-type:token-exchange</code>\n         </p>",
                        "smithy.api#required": {}
                    }
                },
                "code": {
                    "target": "com.amazonaws.ssooidc#AuthCode",
                    "traits": {
                        "smithy.api#documentation": "<p>Used only when calling this API for the Authorization Code grant type. This short-lived\n      code is used to identify this authorization request. The code is obtained through a redirect\n      from IAM Identity Center to a redirect URI persisted in the Authorization Code GrantOptions for the\n      application.</p>"
                    }
                },
                "refreshToken": {
                    "target": "com.amazonaws.ssooidc#RefreshToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Used only when calling this API for the Refresh Token grant type. This token is used to\n      refresh short-lived tokens, such as the access token, that might expire.</p>\n         <p>For more information about the features and limitations of the current IAM Identity Center OIDC\n      implementation, see <i>Considerations for Using this Guide</i> in the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/OIDCAPIReference/Welcome.html\">IAM Identity Center\n        OIDC API Reference</a>.</p>"
                    }
                },
                "assertion": {
                    "target": "com.amazonaws.ssooidc#Assertion",
                    "traits": {
                        "smithy.api#documentation": "<p>Used only when calling this API for the JWT Bearer grant type. This value specifies the\n      JSON Web Token (JWT) issued by a trusted token issuer. To authorize a trusted token issuer,\n      configure the JWT Bearer GrantOptions for the application.</p>"
                    }
                },
                "scope": {
                    "target": "com.amazonaws.ssooidc#Scopes",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of scopes for which authorization is requested. The access token that is issued\n      is limited to the scopes that are granted. If the value is not specified, IAM Identity Center authorizes all\n      scopes configured for the application, including the following default scopes:\n        <code>openid</code>, <code>aws</code>, <code>sts:identity_context</code>.</p>"
                    }
                },
                "redirectUri": {
                    "target": "com.amazonaws.ssooidc#URI",
                    "traits": {
                        "smithy.api#documentation": "<p>Used only when calling this API for the Authorization Code grant type. This value\n      specifies the location of the client or application that has registered to receive the\n      authorization code. </p>"
                    }
                },
                "subjectToken": {
                    "target": "com.amazonaws.ssooidc#SubjectToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Used only when calling this API for the Token Exchange grant type. This value specifies\n      the subject of the exchange. The value of the subject token must be an access token issued by\n      IAM Identity Center to a different client or application. The access token must have authorized scopes that\n      indicate the requested application as a target audience.</p>"
                    }
                },
                "subjectTokenType": {
                    "target": "com.amazonaws.ssooidc#TokenTypeURI",
                    "traits": {
                        "smithy.api#documentation": "<p>Used only when calling this API for the Token Exchange grant type. This value specifies\n      the type of token that is passed as the subject of the exchange. The following value is\n      supported:</p>\n         <p>* Access Token - <code>urn:ietf:params:oauth:token-type:access_token</code>\n         </p>"
                    }
                },
                "requestedTokenType": {
                    "target": "com.amazonaws.ssooidc#TokenTypeURI",
                    "traits": {
                        "smithy.api#documentation": "<p>Used only when calling this API for the Token Exchange grant type. This value specifies\n      the type of token that the requester can receive. The following values are supported:</p>\n         <p>* Access Token - <code>urn:ietf:params:oauth:token-type:access_token</code>\n         </p>\n         <p>* Refresh Token - <code>urn:ietf:params:oauth:token-type:refresh_token</code>\n         </p>"
                    }
                },
                "codeVerifier": {
                    "target": "com.amazonaws.ssooidc#CodeVerifier",
                    "traits": {
                        "smithy.api#documentation": "<p>Used only when calling this API for the Authorization Code grant type. This value is\n      generated by the client and presented to validate the original code challenge value the client\n      passed at authorization time.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssooidc#CreateTokenWithIAMResponse": {
            "type": "structure",
            "members": {
                "accessToken": {
                    "target": "com.amazonaws.ssooidc#AccessToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A bearer token to access Amazon Web Services accounts and applications assigned to a user.</p>"
                    }
                },
                "tokenType": {
                    "target": "com.amazonaws.ssooidc#TokenType",
                    "traits": {
                        "smithy.api#documentation": "<p>Used to notify the requester that the returned token is an access token. The supported\n      token type is <code>Bearer</code>.</p>"
                    }
                },
                "expiresIn": {
                    "target": "com.amazonaws.ssooidc#ExpirationInSeconds",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Indicates the time in seconds when an access token will expire.</p>"
                    }
                },
                "refreshToken": {
                    "target": "com.amazonaws.ssooidc#RefreshToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that, if present, can be used to refresh a previously issued access token that\n      might have expired.</p>\n         <p>For more information about the features and limitations of the current IAM Identity Center OIDC\n      implementation, see <i>Considerations for Using this Guide</i> in the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/OIDCAPIReference/Welcome.html\">IAM Identity Center\n        OIDC API Reference</a>.</p>"
                    }
                },
                "idToken": {
                    "target": "com.amazonaws.ssooidc#IdToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A JSON Web Token (JWT) that identifies the user associated with the issued access token.\n    </p>"
                    }
                },
                "issuedTokenType": {
                    "target": "com.amazonaws.ssooidc#TokenTypeURI",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates the type of tokens that are issued by IAM Identity Center. The following values are supported: </p>\n         <p>* Access Token - <code>urn:ietf:params:oauth:token-type:access_token</code>\n         </p>\n         <p>* Refresh Token - <code>urn:ietf:params:oauth:token-type:refresh_token</code>\n         </p>"
                    }
                },
                "scope": {
                    "target": "com.amazonaws.ssooidc#Scopes",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of scopes for which authorization is granted. The access token that is issued is\n      limited to the scopes that are granted.</p>"
                    }
                },
                "awsAdditionalDetails": {
                    "target": "com.amazonaws.ssooidc#AwsAdditionalDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure containing information from IAM Identity Center managed user and group\n      information.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssooidc#DeviceCode": {
            "type": "string"
        },
        "com.amazonaws.ssooidc#Error": {
            "type": "string"
        },
        "com.amazonaws.ssooidc#ErrorDescription": {
            "type": "string"
        },
        "com.amazonaws.ssooidc#ExpirationInSeconds": {
            "type": "integer",
            "traits": {
                "smithy.api#default": 0
            }
        },
        "com.amazonaws.ssooidc#ExpiredTokenException": {
            "type": "structure",
            "members": {
                "error": {
                    "target": "com.amazonaws.ssooidc#Error",
                    "traits": {
                        "smithy.api#documentation": "<p>Single error code. For this exception the value will be <code>expired_token</code>.</p>"
                    }
                },
                "error_description": {
                    "target": "com.amazonaws.ssooidc#ErrorDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Indicates that the token issued by the service is expired and is no longer valid.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.ssooidc#GrantType": {
            "type": "string"
        },
        "com.amazonaws.ssooidc#GrantTypes": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssooidc#GrantType"
            }
        },
        "com.amazonaws.ssooidc#IdToken": {
            "type": "string",
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.ssooidc#IdentityContext": {
            "type": "string"
        },
        "com.amazonaws.ssooidc#InternalServerException": {
            "type": "structure",
            "members": {
                "error": {
                    "target": "com.amazonaws.ssooidc#Error",
                    "traits": {
                        "smithy.api#documentation": "<p>Single error code. For this exception the value will be <code>server_error</code>.</p>"
                    }
                },
                "error_description": {
                    "target": "com.amazonaws.ssooidc#ErrorDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Indicates that an error from the service occurred while trying to process a\n      request.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500
            }
        },
        "com.amazonaws.ssooidc#IntervalInSeconds": {
            "type": "integer",
            "traits": {
                "smithy.api#default": 0
            }
        },
        "com.amazonaws.ssooidc#InvalidClientException": {
            "type": "structure",
            "members": {
                "error": {
                    "target": "com.amazonaws.ssooidc#Error",
                    "traits": {
                        "smithy.api#documentation": "<p>Single error code. For this exception the value will be\n      <code>invalid_client</code>.</p>"
                    }
                },
                "error_description": {
                    "target": "com.amazonaws.ssooidc#ErrorDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Indicates that the <code>clientId</code> or <code>clientSecret</code> in the request is\n      invalid. For example, this can occur when a client sends an incorrect <code>clientId</code> or\n      an expired <code>clientSecret</code>.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 401
            }
        },
        "com.amazonaws.ssooidc#InvalidClientMetadataException": {
            "type": "structure",
            "members": {
                "error": {
                    "target": "com.amazonaws.ssooidc#Error",
                    "traits": {
                        "smithy.api#documentation": "<p>Single error code. For this exception the value will be\n        <code>invalid_client_metadata</code>.</p>"
                    }
                },
                "error_description": {
                    "target": "com.amazonaws.ssooidc#ErrorDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Indicates that the client information sent in the request during registration is\n      invalid.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.ssooidc#InvalidGrantException": {
            "type": "structure",
            "members": {
                "error": {
                    "target": "com.amazonaws.ssooidc#Error",
                    "traits": {
                        "smithy.api#documentation": "<p>Single error code. For this exception the value will be <code>invalid_grant</code>.</p>"
                    }
                },
                "error_description": {
                    "target": "com.amazonaws.ssooidc#ErrorDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Indicates that a request contains an invalid grant. This can occur if a client makes a\n        <a>CreateToken</a> request with an invalid grant type.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.ssooidc#InvalidRedirectUriException": {
            "type": "structure",
[...]
