{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.ssoadmin#AccessControlAttribute": {
            "type": "structure",
            "members": {
                "Key": {
                    "target": "com.amazonaws.ssoadmin#AccessControlAttributeKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the attribute associated with your identities in your identity source. This is used to map a specified attribute in your identity source with an attribute in IAM Identity Center.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Value": {
                    "target": "com.amazonaws.ssoadmin#AccessControlAttributeValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The value used for mapping a specified attribute to an identity source.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>These are IAM Identity Center identity store attributes that you can configure for use in attributes-based access control (ABAC). You can create permissions policies that determine who can access your Amazon Web Services resources based upon the configured attribute values. When you enable ABAC and specify <code>AccessControlAttributes</code>, IAM Identity Center passes the attribute values of the authenticated user into IAM for use in policy evaluation.</p>"
            }
        },
        "com.amazonaws.ssoadmin#AccessControlAttributeKey": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]+$"
            }
        },
        "com.amazonaws.ssoadmin#AccessControlAttributeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssoadmin#AccessControlAttribute"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 50
                }
            }
        },
        "com.amazonaws.ssoadmin#AccessControlAttributeValue": {
            "type": "structure",
            "members": {
                "Source": {
                    "target": "com.amazonaws.ssoadmin#AccessControlAttributeValueSourceList",
                    "traits": {
                        "smithy.api#documentation": "<p>The identity source to use when mapping a specified attribute to IAM Identity Center.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The value used for mapping a specified attribute to an identity source. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/attributemappingsconcept.html\">Attribute mappings</a> in the <i>IAM Identity Center User Guide</i>.</p>"
            }
        },
        "com.amazonaws.ssoadmin#AccessControlAttributeValueSource": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 256
                },
                "smithy.api#pattern": "^[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@\\[\\]\\{\\}\\$\\\\\"]*$"
            }
        },
        "com.amazonaws.ssoadmin#AccessControlAttributeValueSourceList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssoadmin#AccessControlAttributeValueSource"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1
                }
            }
        },
        "com.amazonaws.ssoadmin#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedExceptionMessage"
                },
                "Reason": {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedExceptionReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason for the access denied exception.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.ssoadmin#AccessDeniedExceptionMessage": {
            "type": "string"
        },
        "com.amazonaws.ssoadmin#AccessDeniedExceptionReason": {
            "type": "enum",
            "members": {
                "KMS_ACCESS_DENIED_EXCEPTION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "KMS_AccessDeniedException"
                    }
                }
            }
        },
        "com.amazonaws.ssoadmin#AccountAssignment": {
            "type": "structure",
            "members": {
                "AccountId": {
                    "target": "com.amazonaws.ssoadmin#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Web Services account.</p>"
                    }
                },
                "PermissionSetArn": {
                    "target": "com.amazonaws.ssoadmin#PermissionSetArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the permission set. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>"
                    }
                },
                "PrincipalType": {
                    "target": "com.amazonaws.ssoadmin#PrincipalType",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>"
                    }
                },
                "PrincipalId": {
                    "target": "com.amazonaws.ssoadmin#PrincipalId",
                    "traits": {
                        "smithy.api#documentation": "<p>An identifier for an object in IAM Identity Center, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in IAM Identity Center, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">IAM Identity Center Identity Store API Reference</a>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The assignment that indicates a principal's limited access to a specified Amazon Web Services account with a specified permission set.</p> <note> <p>The term <i>principal</i> here refers to a user or group that is defined in IAM Identity Center.</p> </note>"
            }
        },
        "com.amazonaws.ssoadmin#AccountAssignmentForPrincipal": {
            "type": "structure",
            "members": {
                "AccountId": {
                    "target": "com.amazonaws.ssoadmin#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The account ID number of the Amazon Web Services account.</p>"
                    }
                },
                "PermissionSetArn": {
                    "target": "com.amazonaws.ssoadmin#PermissionSetArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM Identity Center permission set assigned to this principal for this Amazon Web Services account.</p>"
                    }
                },
                "PrincipalId": {
                    "target": "com.amazonaws.ssoadmin#PrincipalId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the principal.</p>"
                    }
                },
                "PrincipalType": {
                    "target": "com.amazonaws.ssoadmin#PrincipalType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the principal.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that describes an assignment of an Amazon Web Services account to a principal and the permissions that principal has in the account.</p>"
            }
        },
        "com.amazonaws.ssoadmin#AccountAssignmentList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssoadmin#AccountAssignment"
            }
        },
        "com.amazonaws.ssoadmin#AccountAssignmentListForPrincipal": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssoadmin#AccountAssignmentForPrincipal"
            }
        },
        "com.amazonaws.ssoadmin#AccountAssignmentOperationStatus": {
            "type": "structure",
            "members": {
                "Status": {
                    "target": "com.amazonaws.ssoadmin#StatusValues",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the permission set provisioning process.</p>"
                    }
                },
                "RequestId": {
                    "target": "com.amazonaws.ssoadmin#UUId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier for tracking the request operation that is generated by the universally unique identifier (UUID) workflow.</p>"
                    }
                },
                "FailureReason": {
                    "target": "com.amazonaws.ssoadmin#Reason",
                    "traits": {
                        "smithy.api#documentation": "<p>The message that contains an error or exception in case of an operation failure.</p>"
                    }
                },
                "TargetId": {
                    "target": "com.amazonaws.ssoadmin#TargetId",
                    "traits": {
                        "smithy.api#documentation": "<p>TargetID is an Amazon Web Services account identifier, (For example, 123456789012).</p>"
                    }
                },
                "TargetType": {
                    "target": "com.amazonaws.ssoadmin#TargetType",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>"
                    }
                },
                "PermissionSetArn": {
                    "target": "com.amazonaws.ssoadmin#PermissionSetArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the permission set. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>"
                    }
                },
                "PrincipalType": {
                    "target": "com.amazonaws.ssoadmin#PrincipalType",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>"
                    }
                },
                "PrincipalId": {
                    "target": "com.amazonaws.ssoadmin#PrincipalId",
                    "traits": {
                        "smithy.api#documentation": "<p>An identifier for an object in IAM Identity Center, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in IAM Identity Center, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">IAM Identity Center Identity Store API Reference</a>.</p>"
                    }
                },
                "CreatedDate": {
                    "target": "com.amazonaws.ssoadmin#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>The date that the permission set was created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The status of the creation or deletion operation of an assignment that a principal needs to access an account.</p>"
            }
        },
        "com.amazonaws.ssoadmin#AccountAssignmentOperationStatusList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatusMetadata"
            }
        },
        "com.amazonaws.ssoadmin#AccountAssignmentOperationStatusMetadata": {
            "type": "structure",
            "members": {
                "Status": {
                    "target": "com.amazonaws.ssoadmin#StatusValues",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the permission set provisioning process.</p>"
                    }
                },
                "RequestId": {
                    "target": "com.amazonaws.ssoadmin#UUId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier for tracking the request operation that is generated by the universally unique identifier (UUID) workflow.</p>"
                    }
                },
                "CreatedDate": {
                    "target": "com.amazonaws.ssoadmin#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>The date that the permission set was created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides information about the <a>AccountAssignment</a> creation request.</p>"
            }
        },
        "com.amazonaws.ssoadmin#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "^\\d{12}$"
            }
        },
        "com.amazonaws.ssoadmin#AccountList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssoadmin#AccountId"
            }
        },
        "com.amazonaws.ssoadmin#ActorPolicyDocument": {
            "type": "document"
        },
        "com.amazonaws.ssoadmin#Application": {
            "type": "structure",
            "members": {
                "ApplicationArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the application.</p>"
                    }
                },
                "ApplicationProviderArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationProviderArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the application provider for this application.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.ssoadmin#ApplicationNameType",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the application.</p>"
                    }
                },
                "ApplicationAccount": {
                    "target": "com.amazonaws.ssoadmin#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID number of the application.</p>"
                    }
                },
                "InstanceArn": {
                    "target": "com.amazonaws.ssoadmin#InstanceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the instance of IAM Identity Center that is configured with this application.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.ssoadmin#ApplicationStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the application in this instance of IAM Identity Center.</p>"
                    }
                },
                "PortalOptions": {
                    "target": "com.amazonaws.ssoadmin#PortalOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that describes the options for the access portal associated with this application.</p>"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.ssoadmin#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the application.</p>"
                    }
                },
                "CreatedDate": {
                    "target": "com.amazonaws.ssoadmin#Date",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the application was originally created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that describes an application that uses IAM Identity Center for access management.</p>"
            }
        },
        "com.amazonaws.ssoadmin#ApplicationAccessScopeResource": {
            "type": "resource",
            "identifiers": {
                "ApplicationArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationArn"
                },
                "Scope": {
                    "target": "com.amazonaws.ssoadmin#Scope"
                }
            },
            "put": {
                "target": "com.amazonaws.ssoadmin#PutApplicationAccessScope"
            },
            "read": {
                "target": "com.amazonaws.ssoadmin#GetApplicationAccessScope"
            },
            "delete": {
                "target": "com.amazonaws.ssoadmin#DeleteApplicationAccessScope"
            },
            "list": {
                "target": "com.amazonaws.ssoadmin#ListApplicationAccessScopes"
            }
        },
        "com.amazonaws.ssoadmin#ApplicationArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 10,
                    "max": 1224
                },
                "smithy.api#pattern": "^arn:(aws|aws-us-gov|aws-cn|aws-iso|aws-iso-b):sso::\\d{12}:application/(sso)?ins-[a-zA-Z0-9-.]{16}/apl-[a-zA-Z0-9]{16}$"
            }
        },
        "com.amazonaws.ssoadmin#ApplicationAssignment": {
            "type": "structure",
            "members": {
                "ApplicationArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the application that has principals assigned.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PrincipalId": {
                    "target": "com.amazonaws.ssoadmin#PrincipalId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the principal assigned to the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PrincipalType": {
                    "target": "com.amazonaws.ssoadmin#PrincipalType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the principal assigned to the application.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that describes an assignment of a principal to an application.</p>"
            }
        },
        "com.amazonaws.ssoadmin#ApplicationAssignmentForPrincipal": {
            "type": "structure",
            "members": {
                "ApplicationArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the application to which the specified principal is assigned.</p>"
                    }
                },
                "PrincipalId": {
                    "target": "com.amazonaws.ssoadmin#PrincipalId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the principal assigned to the application.</p>"
                    }
                },
                "PrincipalType": {
                    "target": "com.amazonaws.ssoadmin#PrincipalType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the principal assigned to the application.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that describes an application to which a principal is assigned.</p>"
            }
        },
        "com.amazonaws.ssoadmin#ApplicationAssignmentListForPrincipal": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssoadmin#ApplicationAssignmentForPrincipal"
            }
        },
        "com.amazonaws.ssoadmin#ApplicationAssignmentsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssoadmin#ApplicationAssignment"
            }
        },
        "com.amazonaws.ssoadmin#ApplicationAuthenticationMethodResource": {
            "type": "resource",
            "identifiers": {
                "ApplicationArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationArn"
                },
                "AuthenticationMethodType": {
                    "target": "com.amazonaws.ssoadmin#AuthenticationMethodType"
                }
            },
            "put": {
                "target": "com.amazonaws.ssoadmin#PutApplicationAuthenticationMethod"
            },
            "read": {
                "target": "com.amazonaws.ssoadmin#GetApplicationAuthenticationMethod"
            },
            "delete": {
                "target": "com.amazonaws.ssoadmin#DeleteApplicationAuthenticationMethod"
            },
            "list": {
                "target": "com.amazonaws.ssoadmin#ListApplicationAuthenticationMethods"
            }
        },
        "com.amazonaws.ssoadmin#ApplicationGrantResource": {
            "type": "resource",
            "identifiers": {
                "ApplicationArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationArn"
                },
                "GrantType": {
                    "target": "com.amazonaws.ssoadmin#GrantType"
                }
            },
            "put": {
                "target": "com.amazonaws.ssoadmin#PutApplicationGrant"
            },
            "read": {
                "target": "com.amazonaws.ssoadmin#GetApplicationGrant"
            },
            "delete": {
                "target": "com.amazonaws.ssoadmin#DeleteApplicationGrant"
            },
            "list": {
                "target": "com.amazonaws.ssoadmin#ListApplicationGrants"
            }
        },
        "com.amazonaws.ssoadmin#ApplicationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssoadmin#Application"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 50
                }
            }
        },
        "com.amazonaws.ssoadmin#ApplicationNameType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                },
                "smithy.api#pattern": "^[\\S\\s]*$"
            }
        },
        "com.amazonaws.ssoadmin#ApplicationProvider": {
            "type": "structure",
            "members": {
                "ApplicationProviderArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationProviderArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the application provider.</p>",
                        "smithy.api#required": {}
                    }
                },
                "FederationProtocol": {
                    "target": "com.amazonaws.ssoadmin#FederationProtocol",
                    "traits": {
                        "smithy.api#documentation": "<p>The protocol that the application provider uses to perform federation.</p>"
                    }
                },
                "DisplayData": {
                    "target": "com.amazonaws.ssoadmin#DisplayData",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that describes how IAM Identity Center represents the application provider in the portal.</p>"
                    }
                },
                "ResourceServerConfig": {
                    "target": "com.amazonaws.ssoadmin#ResourceServerConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that describes the application provider's resource server.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that describes a provider that can be used to connect an Amazon Web Services managed application or customer managed application to IAM Identity Center.</p>"
            }
        },
        "com.amazonaws.ssoadmin#ApplicationProviderArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 10,
                    "max": 1224
                },
                "smithy.api#pattern": "^arn:(aws|aws-us-gov|aws-cn|aws-iso|aws-iso-b):sso::aws:applicationProvider/[a-zA-Z0-9-/]+$"
            }
        },
        "com.amazonaws.ssoadmin#ApplicationProviderList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssoadmin#ApplicationProvider"
            }
        },
        "com.amazonaws.ssoadmin#ApplicationStatus": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.ssoadmin#ApplicationUrl": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 512
                },
                "smithy.api#pattern": "^http(s)?:\\/\\/[-a-zA-Z0-9+&@#\\/%?=~_|!:,.;]*[-a-zA-Z0-9+&bb@#\\/%?=~_|]$"
            }
        },
        "com.amazonaws.ssoadmin#ApplicationVisibility": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            },
            "traits": {
                "smithy.api#default": "ENABLED"
            }
        },
        "com.amazonaws.ssoadmin#AssignmentRequired": {
            "type": "boolean",
            "traits": {
                "smithy.api#default": true
            }
        },
        "com.amazonaws.ssoadmin#AttachCustomerManagedPolicyReferenceToPermissionSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#AttachCustomerManagedPolicyReferenceToPermissionSetRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#AttachCustomerManagedPolicyReferenceToPermissionSetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Attaches the specified customer managed policy to the specified <a>PermissionSet</a>.</p>"
            }
        },
        "com.amazonaws.ssoadmin#AttachCustomerManagedPolicyReferenceToPermissionSetRequest": {
            "type": "structure",
            "members": {
                "InstanceArn": {
                    "target": "com.amazonaws.ssoadmin#InstanceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. </p>",
                        "smithy.api#required": {}
                    }
                },
                "PermissionSetArn": {
                    "target": "com.amazonaws.ssoadmin#PermissionSetArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the <code>PermissionSet</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "CustomerManagedPolicyReference": {
                    "target": "com.amazonaws.ssoadmin#CustomerManagedPolicyReference",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the name and path of a customer managed policy. You must have an IAM policy that matches the name and path in each Amazon Web Services account where you want to deploy your permission set.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#AttachCustomerManagedPolicyReferenceToPermissionSetResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSetRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Attaches an Amazon Web Services managed policy ARN to a permission set.</p> <note> <p>If the permission set is already referenced by one or more account assignments, you will need to call <code> <a>ProvisionPermissionSet</a> </code> after this operation. Calling <code>ProvisionPermissionSet</code> applies the corresponding IAM policy updates to all assigned accounts.</p> </note>"
            }
        },
        "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSetRequest": {
            "type": "structure",
            "members": {
                "InstanceArn": {
                    "target": "com.amazonaws.ssoadmin#InstanceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PermissionSetArn": {
                    "target": "com.amazonaws.ssoadmin#PermissionSetArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the <a>PermissionSet</a> that the managed policy should be attached to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ManagedPolicyArn": {
                    "target": "com.amazonaws.ssoadmin#ManagedPolicyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services managed policy ARN to be attached to a permission set.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#AttachManagedPolicyToPermissionSetResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssoadmin#AttachedManagedPolicy": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.ssoadmin#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Amazon Web Services managed policy.</p>"
                    }
                },
                "Arn": {
                    "target": "com.amazonaws.ssoadmin#ManagedPolicyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the Amazon Web Services managed policy. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that stores a list of managed policy ARNs that describe the associated Amazon Web Services managed policy.</p>"
            }
        },
        "com.amazonaws.ssoadmin#AttachedManagedPolicyList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssoadmin#AttachedManagedPolicy"
            }
        },
        "com.amazonaws.ssoadmin#AuthenticationMethod": {
            "type": "union",
            "members": {
                "Iam": {
                    "target": "com.amazonaws.ssoadmin#IamAuthenticationMethod",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that describes details for IAM authentication.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that describes an authentication method that can be used by an application.</p>"
            }
        },
        "com.amazonaws.ssoadmin#AuthenticationMethodItem": {
            "type": "structure",
            "members": {
                "AuthenticationMethodType": {
                    "target": "com.amazonaws.ssoadmin#AuthenticationMethodType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of authentication that is used by this method.</p>"
                    }
                },
                "AuthenticationMethod": {
                    "target": "com.amazonaws.ssoadmin#AuthenticationMethod",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that describes an authentication method. The contents of this structure is determined by the <code>AuthenticationMethodType</code>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that describes an authentication method and its type.</p>"
            }
        },
        "com.amazonaws.ssoadmin#AuthenticationMethodType": {
            "type": "enum",
            "members": {
                "IAM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IAM"
                    }
                }
            }
        },
        "com.amazonaws.ssoadmin#AuthenticationMethods": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssoadmin#AuthenticationMethodItem"
            }
        },
        "com.amazonaws.ssoadmin#AuthorizationCodeGrant": {
            "type": "structure",
            "members": {
                "RedirectUris": {
                    "target": "com.amazonaws.ssoadmin#RedirectUris",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of URIs that are valid locations to redirect a user's browser after the user is authorized.</p> <note> <p>RedirectUris is required when the grant type is <code>authorization_code</code>.</p> </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that defines configuration settings for an application that supports the OAuth 2.0 Authorization Code Grant.</p>"
            }
        },
        "com.amazonaws.ssoadmin#AuthorizedTokenIssuer": {
            "type": "structure",
            "members": {
                "TrustedTokenIssuerArn": {
                    "target": "com.amazonaws.ssoadmin#TrustedTokenIssuerArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the trusted token issuer.</p>"
                    }
                },
                "AuthorizedAudiences": {
                    "target": "com.amazonaws.ssoadmin#TokenIssuerAudiences",
                    "traits": {
                        "smithy.api#documentation": "<p>An array list of authorized audiences, or applications, that can consume the tokens generated by the associated trusted token issuer.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that describes a trusted token issuer and associates it with a set of authorized audiences.</p>"
            }
        },
        "com.amazonaws.ssoadmin#AuthorizedTokenIssuers": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssoadmin#AuthorizedTokenIssuer"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.ssoadmin#ClaimAttributePath": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^\\p{L}+(?:(\\.|\\_)\\p{L}+){0,2}$"
            }
        },
        "com.amazonaws.ssoadmin#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[!-~]+$"
            }
        },
        "com.amazonaws.ssoadmin#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.ssoadmin#ConflictExceptionMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.ssoadmin#ConflictExceptionMessage": {
            "type": "string"
        },
        "com.amazonaws.ssoadmin#CreateAccountAssignment": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#CreateAccountAssignmentRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#CreateAccountAssignmentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Assigns access to a principal for a specified Amazon Web Services account using a specified permission set.</p> <note> <p>The term <i>principal</i> here refers to a user or group that is defined in IAM Identity Center.</p> </note> <note> <p>As part of a successful <code>CreateAccountAssignment</code> call, the specified permission set will automatically be provisioned to the account in the form of an IAM policy. That policy is attached to the IAM role created in IAM Identity Center. If the permission set is subsequently updated, the corresponding IAM policies attached to roles in your accounts will not be updated automatically. In this case, you must call <code> <a>ProvisionPermissionSet</a> </code> to make these updates.</p> </note> <note> <p> After a successful response, call <code>DescribeAccountAssignmentCreationStatus</code> to describe the status of an assignment creation request. </p> </note>"
            }
        },
        "com.amazonaws.ssoadmin#CreateAccountAssignmentRequest": {
            "type": "structure",
            "members": {
                "InstanceArn": {
                    "target": "com.amazonaws.ssoadmin#InstanceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TargetId": {
                    "target": "com.amazonaws.ssoadmin#TargetId",
                    "traits": {
                        "smithy.api#documentation": "<p>TargetID is an Amazon Web Services account identifier, (For example, 123456789012).</p>",
                        "smithy.api#required": {}
                    }
                },
                "TargetType": {
                    "target": "com.amazonaws.ssoadmin#TargetType",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PermissionSetArn": {
                    "target": "com.amazonaws.ssoadmin#PermissionSetArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the permission set that the admin wants to grant the principal access to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PrincipalType": {
                    "target": "com.amazonaws.ssoadmin#PrincipalType",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PrincipalId": {
                    "target": "com.amazonaws.ssoadmin#PrincipalId",
                    "traits": {
                        "smithy.api#documentation": "<p>An identifier for an object in IAM Identity Center, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in IAM Identity Center, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">IAM Identity Center Identity Store API Reference</a>.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#CreateAccountAssignmentResponse": {
            "type": "structure",
            "members": {
                "AccountAssignmentCreationStatus": {
                    "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status object for the account assignment creation operation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssoadmin#CreateApplication": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#CreateApplicationRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#CreateApplicationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an OAuth 2.0 customer managed application in IAM Identity Center for the given application provider.</p> <note> <p>This API does not support creating SAML 2.0 customer managed applications or Amazon Web Services managed applications. To learn how to create an Amazon Web Services managed application, see the application user guide. You can create a SAML 2.0 customer managed application in the Amazon Web Services Management Console only. See <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/customermanagedapps-saml2-setup.html\">Setting up customer managed SAML 2.0 applications</a>. For more information on these application types, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/awsapps.html\">Amazon Web Services managed applications</a>.</p> </note>"
            }
        },
        "com.amazonaws.ssoadmin#CreateApplicationAssignment": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#CreateApplicationAssignmentRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#CreateApplicationAssignmentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Grant application access to a user or group.</p>"
            }
        },
        "com.amazonaws.ssoadmin#CreateApplicationAssignmentRequest": {
            "type": "structure",
            "members": {
                "ApplicationArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the application for which the assignment is created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PrincipalId": {
                    "target": "com.amazonaws.ssoadmin#PrincipalId",
                    "traits": {
                        "smithy.api#documentation": "<p>An identifier for an object in IAM Identity Center, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in IAM Identity Center, see the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">IAM Identity Center Identity Store API Reference</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PrincipalType": {
                    "target": "com.amazonaws.ssoadmin#PrincipalType",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity type for which the assignment will be created.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#CreateApplicationAssignmentResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssoadmin#CreateApplicationRequest": {
            "type": "structure",
            "members": {
                "InstanceArn": {
                    "target": "com.amazonaws.ssoadmin#InstanceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the instance of IAM Identity Center under which the operation will run. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ApplicationProviderArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationProviderArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the application provider under which the operation will run.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "com.amazonaws.ssoadmin#ApplicationNameType",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the .</p>",
                        "smithy.api#required": {}
                    }
                },
                "Description": {
                    "target": "com.amazonaws.ssoadmin#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the .</p>"
                    }
                },
                "PortalOptions": {
                    "target": "com.amazonaws.ssoadmin#PortalOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that describes the options for the portal associated with an application.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.ssoadmin#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies tags to be attached to the application.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.ssoadmin#ApplicationStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether the application is enabled or disabled.</p>"
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.ssoadmin#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies a unique, case-sensitive ID that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#CreateApplicationResponse": {
            "type": "structure",
            "members": {
                "ApplicationArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the ARN of the application.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssoadmin#CreateInstance": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#CreateInstanceRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#CreateInstanceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an instance of IAM Identity Center for a standalone Amazon Web Services account that is not managed by Organizations or a member Amazon Web Services account in an organization. You can create only one instance per account and across all Amazon Web Services Regions.</p> <p>The CreateInstance request is rejected if the following apply: </p> <ul> <li> <p>The instance is created within the organization management account.</p> </li> <li> <p>An instance already exists in the same account.</p> </li> </ul>"
            }
        },
        "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfigurationRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfigurationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Enables the attributes-based access control (ABAC) feature for the specified IAM Identity Center instance. You can also specify new attributes to add to your ABAC configuration during the enabling process. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>IAM Identity Center User Guide</i>.</p> <note> <p>After a successful response, call <code>DescribeInstanceAccessControlAttributeConfiguration</code> to validate that <code>InstanceAccessControlAttributeConfiguration</code> was created.</p> </note>"
            }
        },
        "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfigurationRequest": {
            "type": "structure",
            "members": {
                "InstanceArn": {
                    "target": "com.amazonaws.ssoadmin#InstanceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed.</p>",
                        "smithy.api#required": {}
                    }
                },
                "InstanceAccessControlAttributeConfiguration": {
                    "target": "com.amazonaws.ssoadmin#InstanceAccessControlAttributeConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the IAM Identity Center identity store attributes to add to your ABAC configuration. When using an external identity provider as an identity source, you can pass attributes through the SAML assertion. Doing so provides an alternative to configuring attributes from the IAM Identity Center identity store. If a SAML assertion passes any of these attributes, IAM Identity Center will replace the attribute value with the value from the IAM Identity Center identity store.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#CreateInstanceAccessControlAttributeConfigurationResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssoadmin#CreateInstanceRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.ssoadmin#NameType",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the instance of IAM Identity Center.</p>"
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.ssoadmin#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies a unique, case-sensitive ID that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.ssoadmin#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies tags to be attached to the instance of IAM Identity Center.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#CreateInstanceResponse": {
            "type": "structure",
            "members": {
                "InstanceArn": {
                    "target": "com.amazonaws.ssoadmin#InstanceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the instance of IAM Identity Center under which the operation will run. </p> <p>For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssoadmin#CreatePermissionSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#CreatePermissionSetRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#CreatePermissionSetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a permission set within a specified IAM Identity Center instance.</p> <note> <p>To grant users and groups access to Amazon Web Services account resources, use <code> <a>CreateAccountAssignment</a> </code>.</p> </note>"
            }
        },
        "com.amazonaws.ssoadmin#CreatePermissionSetRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.ssoadmin#PermissionSetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the <a>PermissionSet</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Description": {
                    "target": "com.amazonaws.ssoadmin#PermissionSetDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the <a>PermissionSet</a>.</p>"
                    }
                },
                "InstanceArn": {
                    "target": "com.amazonaws.ssoadmin#InstanceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SessionDuration": {
                    "target": "com.amazonaws.ssoadmin#Duration",
                    "traits": {
                        "smithy.api#documentation": "<p>The length of time that the application user sessions are valid in the ISO-8601 standard.</p>"
                    }
                },
                "RelayState": {
                    "target": "com.amazonaws.ssoadmin#RelayState",
                    "traits": {
                        "smithy.api#documentation": "<p>Used to redirect users within the application during the federation authentication process.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.ssoadmin#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to attach to the new <a>PermissionSet</a>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#CreatePermissionSetResponse": {
            "type": "structure",
            "members": {
                "PermissionSet": {
                    "target": "com.amazonaws.ssoadmin#PermissionSet",
                    "traits": {
                        "smithy.api#documentation": "<p>Defines the level of access on an Amazon Web Services account.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssoadmin#CreateTrustedTokenIssuer": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#CreateTrustedTokenIssuerRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#CreateTrustedTokenIssuerResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a connection to a trusted token issuer in an instance of IAM Identity Center. A trusted token issuer enables trusted identity propagation to be used with applications that authenticate outside of Amazon Web Services.</p> <p>This trusted token issuer describes an external identity provider (IdP) that can generate claims or assertions in the form of access tokens for a user. Applications enabled for IAM Identity Center can use these tokens for authentication. </p>"
            }
        },
        "com.amazonaws.ssoadmin#CreateTrustedTokenIssuerRequest": {
            "type": "structure",
            "members": {
                "InstanceArn": {
                    "target": "com.amazonaws.ssoadmin#InstanceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the ARN of the instance of IAM Identity Center to contain the new trusted token issuer configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Name": {
                    "target": "com.amazonaws.ssoadmin#TrustedTokenIssuerName",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the name of the new trusted token issuer configuration.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TrustedTokenIssuerType": {
                    "target": "com.amazonaws.ssoadmin#TrustedTokenIssuerType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the type of the new trusted token issuer.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TrustedTokenIssuerConfiguration": {
                    "target": "com.amazonaws.ssoadmin#TrustedTokenIssuerConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies settings that apply to the new trusted token issuer configuration. The settings that are available depend on what <code>TrustedTokenIssuerType</code> you specify.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.ssoadmin#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies a unique, case-sensitive ID that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.ssoadmin#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies tags to be attached to the new trusted token issuer configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#CreateTrustedTokenIssuerResponse": {
            "type": "structure",
            "members": {
                "TrustedTokenIssuerArn": {
                    "target": "com.amazonaws.ssoadmin#TrustedTokenIssuerArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the new trusted token issuer configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssoadmin#CustomerManagedPolicyReference": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.ssoadmin#ManagedPolicyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the IAM policy that you have configured in each account where you want to deploy your permission set.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Path": {
                    "target": "com.amazonaws.ssoadmin#ManagedPolicyPath",
                    "traits": {
                        "smithy.api#documentation": "<p>The path to the IAM policy that you have configured in each account where you want to deploy your permission set. The default is <code>/</code>. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-friendly-names\">Friendly names and paths</a> in the <i>IAM User Guide</i>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the name and path of a customer managed policy. You must have an IAM policy that matches the name and path in each Amazon Web Services account where you want to deploy your permission set.</p>"
            }
        },
        "com.amazonaws.ssoadmin#CustomerManagedPolicyReferenceList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.ssoadmin#CustomerManagedPolicyReference"
            }
        },
        "com.amazonaws.ssoadmin#Date": {
            "type": "timestamp"
        },
        "com.amazonaws.ssoadmin#DeleteAccountAssignment": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#DeleteAccountAssignmentRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#DeleteAccountAssignmentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a principal's access from a specified Amazon Web Services account using a specified permission set.</p> <note> <p>After a successful response, call <code>DescribeAccountAssignmentDeletionStatus</code> to describe the status of an assignment deletion request.</p> </note>"
            }
        },
        "com.amazonaws.ssoadmin#DeleteAccountAssignmentRequest": {
            "type": "structure",
            "members": {
                "InstanceArn": {
                    "target": "com.amazonaws.ssoadmin#InstanceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TargetId": {
                    "target": "com.amazonaws.ssoadmin#TargetId",
                    "traits": {
                        "smithy.api#documentation": "<p>TargetID is an Amazon Web Services account identifier, (For example, 123456789012).</p>",
                        "smithy.api#required": {}
                    }
                },
                "TargetType": {
                    "target": "com.amazonaws.ssoadmin#TargetType",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity type for which the assignment will be deleted.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PermissionSetArn": {
                    "target": "com.amazonaws.ssoadmin#PermissionSetArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the permission set that will be used to remove access.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PrincipalType": {
                    "target": "com.amazonaws.ssoadmin#PrincipalType",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity type for which the assignment will be deleted.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PrincipalId": {
                    "target": "com.amazonaws.ssoadmin#PrincipalId",
                    "traits": {
                        "smithy.api#documentation": "<p>An identifier for an object in IAM Identity Center, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in IAM Identity Center, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">IAM Identity Center Identity Store API Reference</a>.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteAccountAssignmentResponse": {
            "type": "structure",
            "members": {
                "AccountAssignmentDeletionStatus": {
                    "target": "com.amazonaws.ssoadmin#AccountAssignmentOperationStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status object for the account assignment deletion operation.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteApplication": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#DeleteApplicationRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#DeleteApplicationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the association with the application. The connected service resource still exists.</p>"
            }
        },
        "com.amazonaws.ssoadmin#DeleteApplicationAccessScope": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#DeleteApplicationAccessScopeRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an IAM Identity Center access scope from an application.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteApplicationAccessScopeRequest": {
            "type": "structure",
            "members": {
                "ApplicationArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the ARN of the application with the access scope to delete.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Scope": {
                    "target": "com.amazonaws.ssoadmin#Scope",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the name of the access scope to remove from the application.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteApplicationAssignment": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#DeleteApplicationAssignmentRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#DeleteApplicationAssignmentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Revoke application access to an application by deleting application assignments for a user or group.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteApplicationAssignmentRequest": {
            "type": "structure",
            "members": {
                "ApplicationArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the ARN of the application.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PrincipalId": {
                    "target": "com.amazonaws.ssoadmin#PrincipalId",
                    "traits": {
                        "smithy.api#documentation": "<p>An identifier for an object in IAM Identity Center, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in IAM Identity Center, see the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">IAM Identity Center Identity Store API Reference</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PrincipalType": {
                    "target": "com.amazonaws.ssoadmin#PrincipalType",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity type for which the assignment will be deleted.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteApplicationAssignmentResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteApplicationAuthenticationMethod": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#DeleteApplicationAuthenticationMethodRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an authentication method from an application.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteApplicationAuthenticationMethodRequest": {
            "type": "structure",
            "members": {
                "ApplicationArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the ARN of the application with the authentication method to delete.</p>",
                        "smithy.api#required": {}
                    }
                },
                "AuthenticationMethodType": {
                    "target": "com.amazonaws.ssoadmin#AuthenticationMethodType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the authentication method type to delete from the application.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteApplicationGrant": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#DeleteApplicationGrantRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a grant from an application.</p>",
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteApplicationGrantRequest": {
            "type": "structure",
            "members": {
                "ApplicationArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the ARN of the application with the grant to delete.</p>",
                        "smithy.api#required": {}
                    }
                },
                "GrantType": {
                    "target": "com.amazonaws.ssoadmin#GrantType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the type of grant to delete from the application.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteApplicationRequest": {
            "type": "structure",
            "members": {
                "ApplicationArn": {
                    "target": "com.amazonaws.ssoadmin#ApplicationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the ARN of the application. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteApplicationResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSetRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the inline policy from a specified permission set.</p>"
            }
        },
        "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSetRequest": {
            "type": "structure",
            "members": {
                "InstanceArn": {
                    "target": "com.amazonaws.ssoadmin#InstanceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PermissionSetArn": {
                    "target": "com.amazonaws.ssoadmin#PermissionSetArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the permission set that will be used to remove access.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteInlinePolicyFromPermissionSetResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteInstance": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#DeleteInstanceRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#DeleteInstanceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the instance of IAM Identity Center. Only the account that owns the instance can call this API. Neither the delegated administrator nor member account can delete the organization instance, but those roles can delete their own instance.</p>"
            }
        },
        "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfiguration": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfigurationRequest"
            },
            "output": {
                "target": "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfigurationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.ssoadmin#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ConflictException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#InternalServerException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.ssoadmin#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Disables the attributes-based access control (ABAC) feature for the specified IAM Identity Center instance and deletes all of the attribute mappings that have been configured. Once deleted, any attributes that are received from an identity source and any custom attributes you have previously configured will not be passed. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>IAM Identity Center User Guide</i>.</p>"
            }
        },
        "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfigurationRequest": {
            "type": "structure",
            "members": {
                "InstanceArn": {
                    "target": "com.amazonaws.ssoadmin#InstanceArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.ssoadmin#DeleteInstanceAccessControlAttributeConfigurationResponse": {
            "type": "structure",
[...]
