{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.storagegateway#ActivateGateway": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.storagegateway#ActivateGatewayInput"
            },
            "output": {
                "target": "com.amazonaws.storagegateway#ActivateGatewayOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.storagegateway#InternalServerError"
                },
                {
                    "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Activates the gateway you previously deployed on your host. In the activation process,\n         you specify information such as the Amazon Web Services Region that you want to use for\n         storing snapshots or tapes, the time zone for scheduled snapshots the gateway snapshot\n         schedule window, an activation key, and a name for your gateway. The activation process\n         also associates your gateway with your account. For more information, see <a>UpdateGatewayInformation</a>.</p>\n         <note>\n            <p>You must turn on the gateway VM before you can activate your gateway.</p>\n         </note>",
                "smithy.api#examples": [
                    {
                        "title": "To activate the gateway",
                        "documentation": "Activates the gateway you previously deployed on your host.",
                        "input": {
                            "ActivationKey": "29AV1-3OFV9-VVIUB-NKT0I-LRO6V",
                            "GatewayName": "My_Gateway",
                            "GatewayTimezone": "GMT-12:00",
                            "GatewayRegion": "us-east-1",
                            "GatewayType": "STORED",
                            "TapeDriveType": "IBM-ULT3580-TD5",
                            "MediumChangerType": "AWS-Gateway-VTL"
                        },
                        "output": {
                            "GatewayARN": "arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-11A2222B"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.storagegateway#ActivateGatewayInput": {
            "type": "structure",
            "members": {
                "ActivationKey": {
                    "target": "com.amazonaws.storagegateway#ActivationKey",
                    "traits": {
                        "smithy.api#documentation": "<p>Your gateway activation key. You can obtain the activation key by sending an HTTP GET\n         request with redirects enabled to the gateway IP address (port 80). The redirect URL\n         returned in the response provides you the activation key for your gateway in the query\n         string parameter <code>activationKey</code>. It may also include other activation-related\n         parameters, however, these are merely defaults -- the arguments you pass to the\n            <code>ActivateGateway</code> API call determine the actual configuration of your\n         gateway.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/get-activation-key.html\">Getting activation\n            key</a> in the <i>Storage Gateway User Guide</i>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "GatewayName": {
                    "target": "com.amazonaws.storagegateway#GatewayName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name you configured for your gateway.</p>",
                        "smithy.api#required": {}
                    }
                },
                "GatewayTimezone": {
                    "target": "com.amazonaws.storagegateway#GatewayTimezone",
                    "traits": {
                        "smithy.api#documentation": "<p>A value that indicates the time zone you want to set for the gateway. The time zone is\n         of the format \"GMT\", \"GMT-hr:mm\", or \"GMT+hr:mm\". For example, GMT indicates Greenwich Mean\n         Time without any offset. GMT-4:00 indicates the time is 4 hours behind GMT. GMT+2:00\n         indicates the time is 2 hours ahead of GMT. The time zone is used, for example, for\n         scheduling snapshots and your gateway's maintenance schedule.</p>",
                        "smithy.api#required": {}
                    }
                },
                "GatewayRegion": {
                    "target": "com.amazonaws.storagegateway#RegionId",
                    "traits": {
                        "smithy.api#documentation": "<p>A value that indicates the Amazon Web Services Region where you want to store your data.\n         The gateway Amazon Web Services Region specified must be the same Amazon Web Services Region\n         as the Amazon Web Services Region in your <code>Host</code> header in the request. For more\n         information about available Amazon Web Services Regions and endpoints for Storage Gateway, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/sg.html\">\n            Storage Gateway endpoints and quotas</a> in the <i>Amazon Web Services\n            General Reference</i>.</p>\n         <p>Valid Values: See <a href=\"https://docs.aws.amazon.com/general/latest/gr/sg.html\">\n            Storage Gateway endpoints and quotas</a> in the <i>Amazon Web Services\n            General Reference</i>.\n         \n      </p>",
                        "smithy.api#required": {}
                    }
                },
                "GatewayType": {
                    "target": "com.amazonaws.storagegateway#GatewayType",
                    "traits": {
                        "smithy.api#documentation": "<p>A value that defines the type of gateway to activate. The type specified is critical to\n         all later functions of the gateway and cannot be changed after activation. The default\n         value is <code>CACHED</code>.</p>\n         <important>\n            <p>Amazon FSx File Gateway is no longer available to new customers. Existing\n            customers of FSx File Gateway can continue to use the service normally. For\n            capabilities similar to FSx File Gateway, visit <a href=\"https://aws.amazon.com/blogs/storage/switch-your-file-share-access-from-amazon-fsx-file-gateway-to-amazon-fsx-for-windows-file-server/\">this blog post</a>.</p>\n         </important>\n         <p>Valid Values: <code>STORED</code> | <code>CACHED</code> | <code>VTL</code>\n         | <code>FILE_S3</code> |\n         <code>FILE_FSX_SMB</code>\n         </p>"
                    }
                },
                "TapeDriveType": {
                    "target": "com.amazonaws.storagegateway#TapeDriveType",
                    "traits": {
                        "smithy.api#documentation": "<p>The value that indicates the type of tape drive to use for tape gateway. This field is\n         optional.</p>\n         <p>Valid Values: <code>IBM-ULT3580-TD5</code>\n         </p>"
                    }
                },
                "MediumChangerType": {
                    "target": "com.amazonaws.storagegateway#MediumChangerType",
                    "traits": {
                        "smithy.api#documentation": "<p>The value that indicates the type of medium changer to use for tape gateway. This field\n         is optional.</p>\n         <p>Valid Values: <code>STK-L700</code> | <code>AWS-Gateway-VTL</code> |\n            <code>IBM-03584L32-0402</code>\n         </p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.storagegateway#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of up to 50 tags that you can assign to the gateway. Each tag is a key-value\n         pair.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers that can be\n            represented in UTF-8 format, and the following special characters: + - = . _ : / @. The\n            maximum length of a tag's key is 128 characters, and the maximum length for a\n            tag's value is 256 characters.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A JSON object containing one or more of the following fields:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$ActivationKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$GatewayName</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$GatewayRegion</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$GatewayTimezone</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$GatewayType</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$MediumChangerType</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ActivateGatewayInput$TapeDriveType</a>\n               </p>\n            </li>\n         </ul>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.storagegateway#ActivateGatewayOutput": {
            "type": "structure",
            "members": {
                "GatewayARN": {
                    "target": "com.amazonaws.storagegateway#GatewayARN"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Storage Gateway returns the Amazon Resource Name (ARN) of the activated gateway. It\n         is a string made of information such as your account, gateway name, and Amazon Web Services Region. This ARN is used to reference the gateway in other API operations as\n         well as resource-based authorization.</p>\n         <note>\n            <p>For gateways activated prior to September 02, 2015, the gateway ARN contains the\n            gateway name rather than the gateway ID. Changing the name of the gateway has no effect\n            on the gateway ARN.</p>\n         </note>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.storagegateway#ActivationKey": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                }
            }
        },
        "com.amazonaws.storagegateway#ActiveDirectoryStatus": {
            "type": "enum",
            "members": {
                "ACCESS_DENIED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACCESS_DENIED"
                    }
                },
                "DETACHED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DETACHED"
                    }
                },
                "JOINED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "JOINED"
                    }
                },
                "JOINING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "JOINING"
                    }
                },
                "NETWORK_ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NETWORK_ERROR"
                    }
                },
                "TIMEOUT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TIMEOUT"
                    }
                },
                "UNKNOWN_ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNKNOWN_ERROR"
                    }
                },
                "INSUFFICIENT_PERMISSIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INSUFFICIENT_PERMISSIONS"
                    }
                }
            }
        },
        "com.amazonaws.storagegateway#AddCache": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.storagegateway#AddCacheInput"
            },
            "output": {
                "target": "com.amazonaws.storagegateway#AddCacheOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.storagegateway#InternalServerError"
                },
                {
                    "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Configures one or more gateway local disks as cache for a gateway. This operation is\n         only supported in the cached volume, tape, and file gateway type (see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/StorageGatewayConcepts.html\">How Storage Gateway works (architecture)</a>.</p>\n         <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to\n         add cache, and one or more disk IDs that you want to configure as cache.</p>",
                "smithy.api#examples": [
                    {
                        "title": "To add a cache",
                        "documentation": "The following example shows a request that activates a gateway-stored volume.",
                        "input": {
                            "GatewayARN": "arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B",
                            "DiskIds": [
                                "pci-0000:03:00.0-scsi-0:0:0:0",
                                "pci-0000:03:00.0-scsi-0:0:1:0"
                            ]
                        },
                        "output": {
                            "GatewayARN": "arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.storagegateway#AddCacheInput": {
            "type": "structure",
            "members": {
                "GatewayARN": {
                    "target": "com.amazonaws.storagegateway#GatewayARN",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "DiskIds": {
                    "target": "com.amazonaws.storagegateway#DiskIds",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of strings that identify disks that are to be configured as working storage.\n         Each string has a minimum length of 1 and maximum length of 300. You can get the disk IDs\n         from the <a>ListLocalDisks</a> API.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.storagegateway#AddCacheOutput": {
            "type": "structure",
            "members": {
                "GatewayARN": {
                    "target": "com.amazonaws.storagegateway#GatewayARN"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.storagegateway#AddTagsToResource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.storagegateway#AddTagsToResourceInput"
            },
            "output": {
                "target": "com.amazonaws.storagegateway#AddTagsToResourceOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.storagegateway#InternalServerError"
                },
                {
                    "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds one or more tags to the specified resource. You use tags to add metadata to\n         resources, which you can use to categorize these resources. For example, you can categorize\n         resources by purpose, owner, environment, or team. Each tag consists of a key and a value,\n         which you define. You can add tags to the following Storage Gateway resources:</p>\n         <ul>\n            <li>\n               <p>Storage gateways of all types</p>\n            </li>\n            <li>\n               <p>Storage volumes</p>\n            </li>\n            <li>\n               <p>Virtual tapes</p>\n            </li>\n            <li>\n               <p>NFS and SMB file shares</p>\n            </li>\n            <li>\n               <p>File System associations</p>\n            </li>\n         </ul>\n         <p>You can create a maximum of 50 tags for each resource. Virtual tapes and storage volumes\n         that are recovered to a new gateway maintain their tags.</p>",
                "smithy.api#examples": [
                    {
                        "title": "To add tags to resource",
                        "documentation": "Adds one or more tags to the specified resource.",
                        "input": {
                            "ResourceARN": "arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-11A2222B",
                            "Tags": [
                                {
                                    "Key": "Dev Gatgeway Region",
                                    "Value": "East Coast"
                                }
                            ]
                        },
                        "output": {
                            "ResourceARN": "arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-11A2222B"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.storagegateway#AddTagsToResourceInput": {
            "type": "structure",
            "members": {
                "ResourceARN": {
                    "target": "com.amazonaws.storagegateway#ResourceARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource you want to add tags to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.storagegateway#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The key-value pair that represents the tag you want to add to the resource. The value\n         can be an empty string.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable in\n            UTF-8 format, and the following special characters: + - = . _ : / @. The maximum length\n            of a tag's key is 128 characters, and the maximum length for a tag's value is\n            256.</p>\n         </note>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>AddTagsToResourceInput</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.storagegateway#AddTagsToResourceOutput": {
            "type": "structure",
            "members": {
                "ResourceARN": {
                    "target": "com.amazonaws.storagegateway#ResourceARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource you want to add tags to.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>AddTagsToResourceOutput</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.storagegateway#AddUploadBuffer": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.storagegateway#AddUploadBufferInput"
            },
            "output": {
                "target": "com.amazonaws.storagegateway#AddUploadBufferOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.storagegateway#InternalServerError"
                },
                {
                    "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Configures one or more gateway local disks as upload buffer for a specified gateway.\n         This operation is supported for the stored volume, cached volume, and tape gateway\n         types.</p>\n         <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to\n         add upload buffer, and one or more disk IDs that you want to configure as upload\n         buffer.</p>",
                "smithy.api#examples": [
                    {
                        "title": "To add upload buffer on local disk",
                        "documentation": "Configures one or more gateway local disks as upload buffer for a specified gateway.",
                        "input": {
                            "GatewayARN": "arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B",
                            "DiskIds": [
                                "pci-0000:03:00.0-scsi-0:0:0:0",
                                "pci-0000:03:00.0-scsi-0:0:1:0"
                            ]
                        },
                        "output": {
                            "GatewayARN": "arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.storagegateway#AddUploadBufferInput": {
            "type": "structure",
            "members": {
                "GatewayARN": {
                    "target": "com.amazonaws.storagegateway#GatewayARN",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "DiskIds": {
                    "target": "com.amazonaws.storagegateway#DiskIds",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of strings that identify disks that are to be configured as working storage.\n         Each string has a minimum length of 1 and maximum length of 300. You can get the disk IDs\n         from the <a>ListLocalDisks</a> API.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.storagegateway#AddUploadBufferOutput": {
            "type": "structure",
            "members": {
                "GatewayARN": {
                    "target": "com.amazonaws.storagegateway#GatewayARN"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.storagegateway#AddWorkingStorage": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.storagegateway#AddWorkingStorageInput"
            },
            "output": {
                "target": "com.amazonaws.storagegateway#AddWorkingStorageOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.storagegateway#InternalServerError"
                },
                {
                    "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Configures one or more gateway local disks as working storage for a gateway. This\n         operation is only supported in the stored volume gateway type. This operation is deprecated\n         in cached volume API version 20120630. Use <a>AddUploadBuffer</a>\n         instead.</p>\n         <note>\n            <p>Working storage is also referred to as upload buffer. You can also use the <a>AddUploadBuffer</a> operation to add upload buffer to a stored volume\n            gateway.</p>\n         </note>\n         <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to\n         add working storage, and one or more disk IDs that you want to configure as working\n         storage.</p>",
                "smithy.api#examples": [
                    {
                        "title": "To add storage on local disk",
                        "documentation": "Configures one or more gateway local disks as working storage for a gateway. (Working storage is also referred to as upload buffer.)",
                        "input": {
                            "GatewayARN": "arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B",
                            "DiskIds": [
                                "pci-0000:03:00.0-scsi-0:0:0:0",
                                "pci-0000:03:00.0-scsi-0:0:1:0"
                            ]
                        },
                        "output": {
                            "GatewayARN": "arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.storagegateway#AddWorkingStorageInput": {
            "type": "structure",
            "members": {
                "GatewayARN": {
                    "target": "com.amazonaws.storagegateway#GatewayARN",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "DiskIds": {
                    "target": "com.amazonaws.storagegateway#DiskIds",
                    "traits": {
                        "smithy.api#documentation": "<p>An array of strings that identify disks that are to be configured as working storage.\n         Each string has a minimum length of 1 and maximum length of 300. You can get the disk IDs\n         from the <a>ListLocalDisks</a> API.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A JSON object containing one or more of the following fields:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>AddWorkingStorageInput$DiskIds</a>\n               </p>\n            </li>\n         </ul>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.storagegateway#AddWorkingStorageOutput": {
            "type": "structure",
            "members": {
                "GatewayARN": {
                    "target": "com.amazonaws.storagegateway#GatewayARN"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A JSON object containing the Amazon Resource Name (ARN) of the gateway for which working\n         storage was configured.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.storagegateway#AssignTapePool": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.storagegateway#AssignTapePoolInput"
            },
            "output": {
                "target": "com.amazonaws.storagegateway#AssignTapePoolOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.storagegateway#InternalServerError"
                },
                {
                    "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Assigns a tape to a tape pool for archiving. The tape assigned to a pool is archived in\n         the S3 storage class that is associated with the pool. When you use your backup application\n         to eject the tape, the tape is archived directly into the S3 storage class (S3 Glacier or\n         S3 Glacier Deep Archive) that corresponds to the pool.</p>"
            }
        },
        "com.amazonaws.storagegateway#AssignTapePoolInput": {
            "type": "structure",
            "members": {
                "TapeARN": {
                    "target": "com.amazonaws.storagegateway#TapeARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique Amazon Resource Name (ARN) of the virtual tape that you want to add to the\n         tape pool.</p>",
                        "smithy.api#required": {}
                    }
                },
                "PoolId": {
                    "target": "com.amazonaws.storagegateway#PoolId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the pool that you want to add your tape to for archiving. The tape in this\n         pool is archived in the S3 storage class that is associated with the pool. When you use\n         your backup application to eject the tape, the tape is archived directly into the storage\n         class (S3 Glacier or S3 Glacier Deep Archive) that corresponds to the pool.</p>",
                        "smithy.api#required": {}
                    }
                },
                "BypassGovernanceRetention": {
                    "target": "com.amazonaws.storagegateway#Boolean2",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Set permissions to bypass governance retention. If the lock type of the archived tape is\n            <code>Governance</code>, the tape's archived age is not older than\n            <code>RetentionLockInDays</code>, and the user does not already have\n            <code>BypassGovernanceRetention</code>, setting this to TRUE enables the user to bypass\n         the retention lock. This parameter is set to true by default for calls from the\n         console.</p>\n         <p>Valid values: <code>TRUE</code> | <code>FALSE</code>\n         </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.storagegateway#AssignTapePoolOutput": {
            "type": "structure",
            "members": {
                "TapeARN": {
                    "target": "com.amazonaws.storagegateway#TapeARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique Amazon Resource Names (ARN) of the virtual tape that was added to the tape\n         pool.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.storagegateway#AssociateFileSystem": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.storagegateway#AssociateFileSystemInput"
            },
            "output": {
                "target": "com.amazonaws.storagegateway#AssociateFileSystemOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.storagegateway#InternalServerError"
                },
                {
                    "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associate an Amazon FSx file system with the FSx File Gateway. After the\n         association process is complete, the file shares on the Amazon FSx file system are\n         available for access through the gateway. This operation only supports the FSx File Gateway\n         type.</p>"
            }
        },
        "com.amazonaws.storagegateway#AssociateFileSystemInput": {
            "type": "structure",
            "members": {
                "UserName": {
                    "target": "com.amazonaws.storagegateway#DomainUserName",
                    "traits": {
                        "smithy.api#documentation": "<p>The user name of the user credential that has permission to access the root share D$ of\n         the Amazon FSx file system. The user account must belong to the Amazon FSx\n         delegated admin user group.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Password": {
                    "target": "com.amazonaws.storagegateway#DomainUserPassword",
                    "traits": {
                        "smithy.api#documentation": "<p>The password of the user credential.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.storagegateway#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique string value that you supply that is used by the FSx File Gateway to ensure\n         idempotent file system association creation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "GatewayARN": {
                    "target": "com.amazonaws.storagegateway#GatewayARN",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "LocationARN": {
                    "target": "com.amazonaws.storagegateway#FileSystemLocationARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon FSx file system to associate with\n         the FSx File Gateway.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.storagegateway#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of up to 50 tags that can be assigned to the file system association. Each tag is\n         a key-value pair.</p>"
                    }
                },
                "AuditDestinationARN": {
                    "target": "com.amazonaws.storagegateway#AuditDestinationARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the storage used for the audit logs.</p>"
                    }
                },
                "CacheAttributes": {
                    "target": "com.amazonaws.storagegateway#CacheAttributes"
                },
                "EndpointNetworkConfiguration": {
                    "target": "com.amazonaws.storagegateway#EndpointNetworkConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the network configuration information for the gateway associated with the\n            Amazon FSx file system.</p>\n         <note>\n            <p>If multiple file systems are associated with this gateway, this parameter's\n               <code>IpAddresses</code> field is required.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.storagegateway#AssociateFileSystemOutput": {
            "type": "structure",
            "members": {
                "FileSystemAssociationARN": {
                    "target": "com.amazonaws.storagegateway#FileSystemAssociationARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the newly created file system association.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.storagegateway#AttachVolume": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.storagegateway#AttachVolumeInput"
            },
            "output": {
                "target": "com.amazonaws.storagegateway#AttachVolumeOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.storagegateway#InternalServerError"
                },
                {
                    "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Connects a volume to an iSCSI connection and then attaches the volume to the specified\n         gateway. Detaching and attaching a volume enables you to recover your data from one gateway\n         to a different gateway without creating a snapshot. It also makes it easier to move your\n         volumes from an on-premises gateway to a gateway hosted on an Amazon EC2 instance.</p>"
            }
        },
        "com.amazonaws.storagegateway#AttachVolumeInput": {
            "type": "structure",
            "members": {
                "GatewayARN": {
                    "target": "com.amazonaws.storagegateway#GatewayARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the gateway that you want to attach the volume\n         to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TargetName": {
                    "target": "com.amazonaws.storagegateway#TargetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the iSCSI target used by an initiator to connect to a volume and used as a\n         suffix for the target ARN. For example, specifying <code>TargetName</code> as\n            <i>myvolume</i> results in the target ARN of\n            <code>arn:aws:storagegateway:us-east-2:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume</code>.\n         The target name must be unique across all volumes on a gateway.</p>\n         <p>If you don't specify a value, Storage Gateway uses the value that was previously\n         used for this volume as the new target name.</p>"
                    }
                },
                "VolumeARN": {
                    "target": "com.amazonaws.storagegateway#VolumeARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume to attach to the specified gateway.</p>",
                        "smithy.api#required": {}
                    }
                },
                "NetworkInterfaceId": {
                    "target": "com.amazonaws.storagegateway#NetworkInterfaceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The network interface of the gateway on which to expose the iSCSI target. Accepts IPv4\n         and IPv6 addresses. Use <a>DescribeGatewayInformation</a> to get a list of the\n         network interfaces available on a gateway.</p>\n         <p>Valid Values: A valid IP address.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DiskId": {
                    "target": "com.amazonaws.storagegateway#DiskId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique device ID or other distinguishing data that identifies the local disk used to\n         create the volume. This value is only required when you are attaching a stored\n         volume.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>AttachVolumeInput</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.storagegateway#AttachVolumeOutput": {
            "type": "structure",
            "members": {
                "VolumeARN": {
                    "target": "com.amazonaws.storagegateway#VolumeARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume that was attached to the gateway.</p>"
                    }
                },
                "TargetARN": {
                    "target": "com.amazonaws.storagegateway#TargetARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume target, which includes the iSCSI name for\n         the initiator that was used to connect to the target.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>AttachVolumeOutput</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.storagegateway#AuditDestinationARN": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.storagegateway#Authentication": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The authentication method of the file share. The default is\n         <code>ActiveDirectory</code>.</p>\n         <p>Valid Values: <code>ActiveDirectory</code> | <code>GuestAccess</code>\n         </p>",
                "smithy.api#length": {
                    "min": 5,
                    "max": 15
                }
            }
        },
        "com.amazonaws.storagegateway#AutomaticTapeCreationPolicyInfo": {
            "type": "structure",
            "members": {
                "AutomaticTapeCreationRules": {
                    "target": "com.amazonaws.storagegateway#AutomaticTapeCreationRules",
                    "traits": {
                        "smithy.api#documentation": "<p>An automatic tape creation policy consists of a list of automatic tape creation rules.\n         This returns the rules that determine when and how to automatically create new\n         tapes.</p>"
                    }
                },
                "GatewayARN": {
                    "target": "com.amazonaws.storagegateway#GatewayARN"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the gateway's automatic tape creation policies, including the\n         automatic tape creation rules and the gateway that is using the policies.</p>"
            }
        },
        "com.amazonaws.storagegateway#AutomaticTapeCreationPolicyInfos": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.storagegateway#AutomaticTapeCreationPolicyInfo"
            }
        },
        "com.amazonaws.storagegateway#AutomaticTapeCreationRule": {
            "type": "structure",
            "members": {
                "TapeBarcodePrefix": {
                    "target": "com.amazonaws.storagegateway#TapeBarcodePrefix",
                    "traits": {
                        "smithy.api#documentation": "<p>A prefix that you append to the barcode of the virtual tape that you are creating. This\n         prefix makes the barcode unique.</p>\n         <note>\n            <p>The prefix must be 1-4 characters in length and must be one of the uppercase letters\n            from A to Z.</p>\n         </note>",
                        "smithy.api#required": {}
                    }
                },
                "PoolId": {
                    "target": "com.amazonaws.storagegateway#PoolId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the pool that you want to add your tape to for archiving. The tape in this\n         pool is archived in the Amazon S3 storage class that is associated with the pool.\n         When you use your backup application to eject the tape, the tape is archived directly into\n         the storage class (S3 Glacier or S3 Glacier Deep Archive) that corresponds to the\n         pool.</p>",
                        "smithy.api#required": {}
                    }
                },
                "TapeSizeInBytes": {
                    "target": "com.amazonaws.storagegateway#TapeSize",
                    "traits": {
                        "smithy.api#documentation": "<p>The size, in bytes, of the virtual tape capacity.</p>",
                        "smithy.api#required": {}
                    }
                },
                "MinimumNumTapes": {
                    "target": "com.amazonaws.storagegateway#MinimumNumTapes",
                    "traits": {
                        "smithy.api#documentation": "<p>The minimum number of available virtual tapes that the gateway maintains at all times.\n         If the number of tapes on the gateway goes below this value, the gateway creates as many\n         new tapes as are needed to have <code>MinimumNumTapes</code> on the gateway. For more\n         information about automatic tape creation, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/GettingStartedCreateTapes.html#CreateTapesAutomatically\">Creating Tapes Automatically</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Worm": {
                    "target": "com.amazonaws.storagegateway#Boolean2",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Set to <code>true</code> to indicate that tapes are to be archived as\n         write-once-read-many (WORM). Set to <code>false</code> when WORM is not enabled for\n         tapes.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An automatic tape creation policy consists of automatic tape creation rules where each\n         rule defines when and how to create new tapes. For more information about automatic tape\n         creation, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/GettingStartedCreateTapes.html#CreateTapesAutomatically\">Creating Tapes Automatically</a>.</p>"
            }
        },
        "com.amazonaws.storagegateway#AutomaticTapeCreationRules": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.storagegateway#AutomaticTapeCreationRule"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.storagegateway#AutomaticUpdatePolicy": {
            "type": "enum",
            "members": {
                "ALL_VERSIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ALL_VERSIONS"
                    }
                },
                "EMERGENCY_VERSIONS_ONLY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EMERGENCY_VERSIONS_ONLY"
                    }
                }
            }
        },
        "com.amazonaws.storagegateway#AvailabilityMonitorTestStatus": {
            "type": "enum",
            "members": {
                "COMPLETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETE"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING"
                    }
                }
            }
        },
        "com.amazonaws.storagegateway#BandwidthDownloadRateLimit": {
            "type": "long",
            "traits": {
                "smithy.api#range": {
                    "min": 102400
                }
            }
        },
        "com.amazonaws.storagegateway#BandwidthRateLimitInterval": {
            "type": "structure",
            "members": {
                "StartHourOfDay": {
                    "target": "com.amazonaws.storagegateway#HourOfDay",
                    "traits": {
                        "smithy.api#documentation": "<p> The hour of the day to start the bandwidth rate limit interval. </p>",
                        "smithy.api#required": {}
                    }
                },
                "StartMinuteOfHour": {
                    "target": "com.amazonaws.storagegateway#MinuteOfHour",
                    "traits": {
                        "smithy.api#documentation": "<p> The minute of the hour to start the bandwidth rate limit interval. The interval begins\n         at the start of that minute. To begin an interval exactly at the start of the hour, use the\n         value <code>0</code>. </p>",
                        "smithy.api#required": {}
                    }
                },
                "EndHourOfDay": {
                    "target": "com.amazonaws.storagegateway#HourOfDay",
                    "traits": {
                        "smithy.api#documentation": "<p> The hour of the day to end the bandwidth rate limit interval. </p>",
                        "smithy.api#required": {}
                    }
                },
                "EndMinuteOfHour": {
                    "target": "com.amazonaws.storagegateway#MinuteOfHour",
                    "traits": {
                        "smithy.api#documentation": "<p> The minute of the hour to end the bandwidth rate limit interval. </p>\n         <important>\n            <p> The bandwidth rate limit interval ends at the end of the minute. To end an interval\n            at the end of an hour, use the value <code>59</code>. </p>\n         </important>",
                        "smithy.api#required": {}
                    }
                },
                "DaysOfWeek": {
                    "target": "com.amazonaws.storagegateway#DaysOfWeek",
                    "traits": {
                        "smithy.api#documentation": "<p> The days of the week component of the bandwidth rate limit interval, represented as\n         ordinal numbers from 0 to 6, where 0 represents Sunday and 6 represents Saturday. </p>",
                        "smithy.api#required": {}
                    }
                },
                "AverageUploadRateLimitInBitsPerSec": {
                    "target": "com.amazonaws.storagegateway#BandwidthUploadRateLimit",
                    "traits": {
                        "smithy.api#documentation": "<p> The average upload rate limit component of the bandwidth rate limit interval, in bits\n         per second. This field does not appear in the response if the upload rate limit is not set. </p>\n         <note>\n            <p>For Tape Gateway and Volume Gateway, the minimum value is <code>51200</code>.</p>\n            <p>This field is required for S3 File Gateway, and the minimum value is\n               <code>104857600</code>.</p>\n         </note>"
                    }
                },
                "AverageDownloadRateLimitInBitsPerSec": {
                    "target": "com.amazonaws.storagegateway#BandwidthDownloadRateLimit",
                    "traits": {
                        "smithy.api#documentation": "<p> The average download rate limit component of the bandwidth rate limit interval, in bits\n         per second. This field does not appear in the response if the download rate limit is not\n         set. </p>\n         <note>\n            <p>S3 File Gateway does not support this feature.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes a bandwidth rate limit interval for a gateway. A bandwidth rate limit schedule\n         consists of one or more bandwidth rate limit intervals. A bandwidth rate limit interval\n         defines a period of time on one or more days of the week, during which bandwidth rate\n         limits are specified for uploading, downloading, or both.</p>\n         <note>\n            <p>FSx File Gateway does not support this feature.</p>\n         </note>"
            }
        },
        "com.amazonaws.storagegateway#BandwidthRateLimitIntervals": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.storagegateway#BandwidthRateLimitInterval"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 20
                }
            }
        },
        "com.amazonaws.storagegateway#BandwidthType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 3,
                    "max": 25
                }
            }
        },
        "com.amazonaws.storagegateway#BandwidthUploadRateLimit": {
            "type": "long",
            "traits": {
                "smithy.api#range": {
                    "min": 51200
                }
            }
        },
        "com.amazonaws.storagegateway#Boolean": {
            "type": "boolean"
        },
        "com.amazonaws.storagegateway#Boolean2": {
            "type": "boolean",
            "traits": {
                "smithy.api#default": false
            }
        },
        "com.amazonaws.storagegateway#CacheAttributes": {
            "type": "structure",
            "members": {
                "CacheStaleTimeoutInSeconds": {
                    "target": "com.amazonaws.storagegateway#CacheStaleTimeoutInSeconds",
                    "traits": {
                        "smithy.api#documentation": "<p>Refreshes a file share's cache by using Time To Live (TTL). TTL is the length of\n         time since the last refresh after which access to the directory would cause the file\n         gateway to first refresh that directory's contents from the Amazon S3 bucket\n         or Amazon FSx file system. The TTL duration is in seconds.</p>\n         <p>Valid Values:0, 300 to 2,592,000 seconds (5 minutes to 30 days)</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The refresh cache information for the file share or FSx file systems.</p>"
            }
        },
        "com.amazonaws.storagegateway#CacheReportARN": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 50,
                    "max": 500
                }
            }
        },
        "com.amazonaws.storagegateway#CacheReportFilter": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.storagegateway#CacheReportFilterName",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameter name for a filter that determines which files are included or excluded\n         from a cache report.</p>\n         <p>\n            <b>Valid Names:</b>\n         </p>\n         <p>UploadFailureReason | UploadState</p>",
                        "smithy.api#required": {}
                    }
                },
                "Values": {
                    "target": "com.amazonaws.storagegateway#CacheReportFilterValues",
                    "traits": {
                        "smithy.api#documentation": "<p>The parameter value for a filter that determines which files are included or excluded\n         from a cache report.</p>\n         <p>\n            <b>Valid <code>UploadFailureReason</code> Values:</b>\n         </p>\n         <p>\n            <code>InaccessibleStorageClass</code> | <code>InvalidObjectState</code> |\n            <code>ObjectMissing</code> | <code>S3AccessDenied</code>\n         </p>\n         <p>\n            <b>Valid <code>UploadState</code> Values:</b>\n         </p>\n         <p>\n            <code>FailingUpload</code>\n         </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A list of filter parameters and associated values that determine which files are\n         included or excluded from a cache report created by a <code>StartCacheReport</code>\n         request. Multiple instances of the same filter parameter are combined with an OR operation,\n         while different parameters are combined with an AND operation.</p>"
            }
        },
        "com.amazonaws.storagegateway#CacheReportFilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.storagegateway#CacheReportFilter"
            }
        },
        "com.amazonaws.storagegateway#CacheReportFilterName": {
            "type": "enum",
            "members": {
                "UploadState": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UploadState"
                    }
                },
                "UploadFailureReason": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UploadFailureReason"
                    }
                }
            }
        },
        "com.amazonaws.storagegateway#CacheReportFilterValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 25
                }
            }
        },
        "com.amazonaws.storagegateway#CacheReportFilterValues": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.storagegateway#CacheReportFilterValue"
            }
        },
        "com.amazonaws.storagegateway#CacheReportInfo": {
            "type": "structure",
            "members": {
                "CacheReportARN": {
                    "target": "com.amazonaws.storagegateway#CacheReportARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cache report you want to describe.</p>"
                    }
                },
                "CacheReportStatus": {
                    "target": "com.amazonaws.storagegateway#CacheReportStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the specified cache report.</p>"
                    }
                },
                "ReportCompletionPercent": {
                    "target": "com.amazonaws.storagegateway#ReportCompletionPercent",
                    "traits": {
                        "smithy.api#documentation": "<p>The percentage of the report generation process that has been completed at time of\n         inquiry.</p>"
                    }
                },
                "EndTime": {
                    "target": "com.amazonaws.storagegateway#Time",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the gateway stopped generating the cache report.</p>"
                    }
                },
                "Role": {
                    "target": "com.amazonaws.storagegateway#Role"
                },
                "FileShareARN": {
                    "target": "com.amazonaws.storagegateway#FileShareARN"
                },
                "LocationARN": {
                    "target": "com.amazonaws.storagegateway#LocationARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the Amazon S3 bucket location where the cache report is saved.</p>"
                    }
                },
                "StartTime": {
                    "target": "com.amazonaws.storagegateway#Time",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the gateway started generating the cache report.</p>"
                    }
                },
                "InclusionFilters": {
                    "target": "com.amazonaws.storagegateway#CacheReportFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of filters and parameters that determine which files are included in the\n         report.</p>"
                    }
                },
                "ExclusionFilters": {
                    "target": "com.amazonaws.storagegateway#CacheReportFilterList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of filters and parameters that determine which files are excluded from the\n         report.</p>"
                    }
                },
                "ReportName": {
                    "target": "com.amazonaws.storagegateway#CacheReportName",
                    "traits": {
                        "smithy.api#documentation": "<p>The file name of the completed cache report object stored in Amazon S3.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.storagegateway#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of key/value tags associated with the report.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains all informational fields associated with a cache report. Includes name, ARN,\n         tags, status, progress, filters, start time, and end time.</p>"
            }
        },
        "com.amazonaws.storagegateway#CacheReportList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.storagegateway#CacheReportInfo"
            }
        },
        "com.amazonaws.storagegateway#CacheReportName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                }
            }
        },
        "com.amazonaws.storagegateway#CacheReportStatus": {
            "type": "enum",
            "members": {
                "IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IN_PROGRESS"
                    }
                },
                "COMPLETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETED"
                    }
                },
                "CANCELED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CANCELED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR"
                    }
                }
            }
        },
        "com.amazonaws.storagegateway#CacheStaleTimeoutInSeconds": {
            "type": "integer"
        },
        "com.amazonaws.storagegateway#CachediSCSIVolume": {
            "type": "structure",
            "members": {
                "VolumeARN": {
                    "target": "com.amazonaws.storagegateway#VolumeARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the storage volume.</p>"
                    }
                },
                "VolumeId": {
                    "target": "com.amazonaws.storagegateway#VolumeId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the volume, e.g., vol-AE4B946D.</p>"
                    }
                },
                "VolumeType": {
                    "target": "com.amazonaws.storagegateway#VolumeType",
                    "traits": {
                        "smithy.api#documentation": "<p>One of the VolumeType enumeration values that describes the type of the volume.</p>"
                    }
                },
                "VolumeStatus": {
                    "target": "com.amazonaws.storagegateway#VolumeStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>One of the VolumeStatus values that indicates the state of the storage volume.</p>"
                    }
                },
                "VolumeAttachmentStatus": {
                    "target": "com.amazonaws.storagegateway#VolumeAttachmentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>A value that indicates whether a storage volume is attached to or detached from a\n         gateway. For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/managing-volumes.html#attach-detach-volume\">Moving\n            your volumes to a different gateway</a>.</p>"
                    }
                },
                "VolumeSizeInBytes": {
                    "target": "com.amazonaws.storagegateway#long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The size, in bytes, of the volume capacity.</p>"
                    }
                },
                "VolumeProgress": {
                    "target": "com.amazonaws.storagegateway#DoubleObject",
                    "traits": {
                        "smithy.api#documentation": "<p>Represents the percentage complete if the volume is restoring or bootstrapping that\n         represents the percent of data transferred. This field does not appear in the response if\n         the cached volume is not restoring or bootstrapping.</p>"
                    }
                },
                "SourceSnapshotId": {
                    "target": "com.amazonaws.storagegateway#SnapshotId",
                    "traits": {
                        "smithy.api#documentation": "<p>If the cached volume was created from a snapshot, this field contains the snapshot ID\n         used, e.g., snap-78e22663. Otherwise, this field is not included.</p>"
                    }
                },
                "VolumeiSCSIAttributes": {
                    "target": "com.amazonaws.storagegateway#VolumeiSCSIAttributes",
                    "traits": {
                        "smithy.api#documentation": "<p>An <a>VolumeiSCSIAttributes</a> object that represents a collection of iSCSI\n         attributes for one stored volume.</p>"
                    }
                },
                "CreatedDate": {
                    "target": "com.amazonaws.storagegateway#CreatedDate",
                    "traits": {
                        "smithy.api#documentation": "<p>The date the volume was created. Volumes created prior to March 28, 2017 don’t have this\n         timestamp.</p>"
                    }
                },
                "VolumeUsedInBytes": {
                    "target": "com.amazonaws.storagegateway#VolumeUsedInBytes",
                    "traits": {
                        "smithy.api#documentation": "<p>The size of the data stored on the volume in bytes. This value is calculated based on\n         the number of blocks that are touched, instead of the actual amount of data written. This\n         value can be useful for sequential write patterns but less accurate for random write\n         patterns. <code>VolumeUsedInBytes</code> is different from the compressed size of the\n         volume, which is the value that is used to calculate your bill.</p>\n         <note>\n            <p>This value is not available for volumes created prior to May 13, 2015, until you\n            store data on the volume.</p>\n            <p>If you use a delete tool that overwrites the data on your volume with random data,\n            your usage will not be reduced. This is because the random data is not compressible. If\n            you want to reduce the amount of billed storage on your volume, we recommend overwriting\n            your files with zeros to compress the data to a negligible amount of actual\n            storage.</p>\n         </note>"
                    }
                },
                "KMSKey": {
                    "target": "com.amazonaws.storagegateway#KMSKey"
                },
                "TargetName": {
                    "target": "com.amazonaws.storagegateway#TargetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the iSCSI target used by an initiator to connect to a volume and used as a\n         suffix for the target ARN. For example, specifying <code>TargetName</code> as\n            <i>myvolume</i> results in the target ARN of\n            <code>arn:aws:storagegateway:us-east-2:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume</code>.\n         The target name must be unique across all volumes on a gateway.</p>\n         <p>If you don't specify a value, Storage Gateway uses the value that was previously\n         used for this volume as the new target name.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes an iSCSI cached volume.</p>"
            }
        },
        "com.amazonaws.storagegateway#CachediSCSIVolumes": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.storagegateway#CachediSCSIVolume"
            }
        },
        "com.amazonaws.storagegateway#CancelArchival": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.storagegateway#CancelArchivalInput"
            },
            "output": {
                "target": "com.amazonaws.storagegateway#CancelArchivalOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.storagegateway#InternalServerError"
                },
                {
                    "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels archiving of a virtual tape to the virtual tape shelf (VTS) after the archiving\n         process is initiated. This operation is only supported in the tape gateway type.</p>",
                "smithy.api#examples": [
                    {
                        "title": "To cancel virtual tape archiving",
                        "documentation": "Cancels archiving of a virtual tape to the virtual tape shelf (VTS) after the archiving process is initiated.",
                        "input": {
                            "GatewayARN": "arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B",
                            "TapeARN": "arn:aws:storagegateway:us-east-1:999999999999:tape/AMZN01A2A4"
                        },
                        "output": {
                            "TapeARN": "arn:aws:storagegateway:us-east-1:999999999999:tape/AMZN01A2A4"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.storagegateway#CancelArchivalInput": {
            "type": "structure",
            "members": {
                "GatewayARN": {
                    "target": "com.amazonaws.storagegateway#GatewayARN",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "TapeARN": {
                    "target": "com.amazonaws.storagegateway#TapeARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape you want to cancel archiving\n         for.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>CancelArchivalInput</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.storagegateway#CancelArchivalOutput": {
            "type": "structure",
            "members": {
                "TapeARN": {
                    "target": "com.amazonaws.storagegateway#TapeARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape for which archiving was\n         canceled.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>CancelArchivalOutput</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.storagegateway#CancelCacheReport": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.storagegateway#CancelCacheReportInput"
            },
            "output": {
                "target": "com.amazonaws.storagegateway#CancelCacheReportOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.storagegateway#InternalServerError"
                },
                {
                    "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels generation of a specified cache report. You can use this operation to manually\n         cancel an IN-PROGRESS report for any reason. This action changes the report status from\n         IN-PROGRESS to CANCELLED. You can only cancel in-progress reports. If the the report you\n         attempt to cancel is in FAILED, ERROR, or COMPLETED state, the cancel operation returns an\n         error.</p>"
            }
        },
        "com.amazonaws.storagegateway#CancelCacheReportInput": {
            "type": "structure",
            "members": {
                "CacheReportARN": {
                    "target": "com.amazonaws.storagegateway#CacheReportARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cache report you want to cancel.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.storagegateway#CancelCacheReportOutput": {
            "type": "structure",
            "members": {
                "CacheReportARN": {
                    "target": "com.amazonaws.storagegateway#CacheReportARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cache report you want to cancel.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.storagegateway#CancelRetrieval": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.storagegateway#CancelRetrievalInput"
            },
            "output": {
                "target": "com.amazonaws.storagegateway#CancelRetrievalOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.storagegateway#InternalServerError"
                },
                {
                    "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Cancels retrieval of a virtual tape from the virtual tape shelf (VTS) to a gateway after\n         the retrieval process is initiated. The virtual tape is returned to the VTS. This operation\n         is only supported in the tape gateway type.</p>",
                "smithy.api#examples": [
                    {
                        "title": "To cancel virtual tape retrieval",
                        "documentation": "Cancels retrieval of a virtual tape from the virtual tape shelf (VTS) to a gateway after the retrieval process is initiated.",
                        "input": {
                            "GatewayARN": "arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B",
                            "TapeARN": "arn:aws:storagegateway:us-east-1:999999999999:tape/AMZN01A2A4"
                        },
                        "output": {
                            "TapeARN": "arn:aws:storagegateway:us-east-1:999999999999:tape/AMZN01A2A4"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.storagegateway#CancelRetrievalInput": {
            "type": "structure",
            "members": {
                "GatewayARN": {
                    "target": "com.amazonaws.storagegateway#GatewayARN",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "TapeARN": {
                    "target": "com.amazonaws.storagegateway#TapeARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape you want to cancel retrieval\n         for.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>CancelRetrievalInput</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.storagegateway#CancelRetrievalOutput": {
            "type": "structure",
            "members": {
                "TapeARN": {
                    "target": "com.amazonaws.storagegateway#TapeARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape for which retrieval was\n         canceled.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>CancelRetrievalOutput</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.storagegateway#CaseSensitivity": {
            "type": "enum",
            "members": {
                "ClientSpecified": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ClientSpecified"
                    }
                },
                "CaseSensitive": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CaseSensitive"
                    }
                }
            }
        },
        "com.amazonaws.storagegateway#ChapCredentials": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.storagegateway#ChapInfo"
            }
        },
        "com.amazonaws.storagegateway#ChapInfo": {
            "type": "structure",
            "members": {
                "TargetARN": {
                    "target": "com.amazonaws.storagegateway#TargetARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume.</p>\n         <p>Valid Values: 50 to 500 lowercase letters, numbers, periods (.), and hyphens (-).</p>"
                    }
                },
                "SecretToAuthenticateInitiator": {
                    "target": "com.amazonaws.storagegateway#ChapSecret",
                    "traits": {
                        "smithy.api#documentation": "<p>The secret key that the initiator (for example, the Windows client) must provide to\n         participate in mutual CHAP with the target.</p>"
                    }
                },
                "InitiatorName": {
                    "target": "com.amazonaws.storagegateway#IqnName",
                    "traits": {
                        "smithy.api#documentation": "<p>The iSCSI initiator that connects to the target.</p>"
                    }
                },
                "SecretToAuthenticateTarget": {
                    "target": "com.amazonaws.storagegateway#ChapSecret",
                    "traits": {
                        "smithy.api#documentation": "<p>The secret key that the target must provide to participate in mutual CHAP with the\n         initiator (e.g., Windows client).</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Describes Challenge-Handshake Authentication Protocol (CHAP) information that supports\n         authentication between your gateway and iSCSI initiators.</p>"
            }
        },
        "com.amazonaws.storagegateway#ChapSecret": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.storagegateway#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 5,
                    "max": 100
                }
            }
        },
        "com.amazonaws.storagegateway#CloudWatchLogGroupARN": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 562
                }
            }
        },
        "com.amazonaws.storagegateway#CreateCachediSCSIVolume": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.storagegateway#CreateCachediSCSIVolumeInput"
            },
            "output": {
                "target": "com.amazonaws.storagegateway#CreateCachediSCSIVolumeOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.storagegateway#InternalServerError"
                },
                {
                    "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a cached volume on a specified cached volume gateway. This operation is only\n         supported in the cached volume gateway type.</p>\n         <note>\n            <p>Cache storage must be allocated to the gateway before you can create a cached volume.\n            Use the <a>AddCache</a> operation to add cache storage to a gateway.</p>\n         </note>\n         <p>In the request, you must specify the gateway, size of the volume in bytes, the iSCSI\n         target name, an IP address on which to expose the target, and a unique client token. In\n         response, the gateway creates the volume and returns information about it. This information\n         includes the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that\n         initiators can use to connect to the volume target.</p>\n         <p>Optionally, you can provide the ARN for an existing volume as the\n            <code>SourceVolumeARN</code> for this cached volume, which creates an exact copy of the\n         existing volume’s latest recovery point. The <code>VolumeSizeInBytes</code> value must be\n         equal to or larger than the size of the copied volume, in bytes.</p>",
                "smithy.api#examples": [
                    {
                        "title": "To create a cached iSCSI volume",
                        "documentation": "Creates a cached volume on a specified cached gateway.",
                        "input": {
                            "GatewayARN": "arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B",
                            "VolumeSizeInBytes": 536870912000,
                            "SnapshotId": "snap-f47b7b94",
                            "TargetName": "my-volume",
                            "NetworkInterfaceId": "10.1.1.1",
                            "ClientToken": "cachedvol112233"
                        },
                        "output": {
                            "VolumeARN": "arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB",
                            "TargetARN": "arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.storagegateway#CreateCachediSCSIVolumeInput": {
            "type": "structure",
            "members": {
                "GatewayARN": {
                    "target": "com.amazonaws.storagegateway#GatewayARN",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "VolumeSizeInBytes": {
                    "target": "com.amazonaws.storagegateway#long",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The size of the volume in bytes.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SnapshotId": {
                    "target": "com.amazonaws.storagegateway#SnapshotId",
                    "traits": {
                        "smithy.api#documentation": "<p>The snapshot ID (e.g. \"snap-1122aabb\") of the snapshot to restore as the new cached\n         volume. Specify this field if you want to create the iSCSI storage volume from a snapshot;\n         otherwise, do not include this field. To list snapshots for your account use <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeSnapshots.html\">DescribeSnapshots</a> in the <i>Amazon Elastic Compute Cloud API\n            Reference</i>.</p>"
                    }
                },
                "TargetName": {
                    "target": "com.amazonaws.storagegateway#TargetName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the iSCSI target used by an initiator to connect to a volume and used as a\n         suffix for the target ARN. For example, specifying <code>TargetName</code> as\n            <i>myvolume</i> results in the target ARN of\n            <code>arn:aws:storagegateway:us-east-2:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume</code>.\n         The target name must be unique across all volumes on a gateway.</p>\n         <p>If you don't specify a value, Storage Gateway uses the value that was previously\n         used for this volume as the new target name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "SourceVolumeARN": {
                    "target": "com.amazonaws.storagegateway#VolumeARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN for an existing volume. Specifying this ARN makes the new volume into an exact\n         copy of the specified existing volume's latest recovery point. The\n            <code>VolumeSizeInBytes</code> value for this new volume must be equal to or larger than\n         the size of the existing volume, in bytes.</p>"
                    }
                },
                "NetworkInterfaceId": {
                    "target": "com.amazonaws.storagegateway#NetworkInterfaceId",
                    "traits": {
                        "smithy.api#documentation": "<p>The network interface of the gateway on which to expose the iSCSI target. Accepts IPv4\n         and IPv6 addresses. Use <a>DescribeGatewayInformation</a> to get a list of the\n         network interfaces available on a gateway.</p>\n         <p>Valid Values: A valid IP address.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ClientToken": {
                    "target": "com.amazonaws.storagegateway#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique identifier that you use to retry a request. If you retry a request, use the\n         same <code>ClientToken</code> you specified in the initial request.</p>",
                        "smithy.api#required": {}
                    }
                },
                "KMSEncrypted": {
                    "target": "com.amazonaws.storagegateway#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Set to <code>true</code> to use Amazon S3 server-side encryption with your own\n            KMS key, or <code>false</code> to use a key managed by Amazon S3.\n         Optional.</p>\n         <p>Valid Values: <code>true</code> | <code>false</code>\n         </p>"
                    }
                },
                "KMSKey": {
                    "target": "com.amazonaws.storagegateway#KMSKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a symmetric customer master key (CMK) used for Amazon S3 server-side encryption. Storage Gateway does not support asymmetric CMKs. This\n         value can only be set when <code>KMSEncrypted</code> is <code>true</code>. Optional.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.storagegateway#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of up to 50 tags that you can assign to a cached volume. Each tag is a key-value\n         pair.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers that you can\n            represent in UTF-8 format, and the following special characters: + - = . _ : / @. The\n            maximum length of a tag's key is 128 characters, and the maximum length for a\n            tag's value is 256 characters.</p>\n         </note>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.storagegateway#CreateCachediSCSIVolumeOutput": {
            "type": "structure",
            "members": {
                "VolumeARN": {
                    "target": "com.amazonaws.storagegateway#VolumeARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured volume.</p>"
                    }
                },
                "TargetARN": {
                    "target": "com.amazonaws.storagegateway#TargetARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volume target, which includes the iSCSI name that\n         initiators can use to connect to the target.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.storagegateway#CreateNFSFileShare": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.storagegateway#CreateNFSFileShareInput"
            },
            "output": {
                "target": "com.amazonaws.storagegateway#CreateNFSFileShareOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.storagegateway#InternalServerError"
                },
                {
                    "target": "com.amazonaws.storagegateway#InvalidGatewayRequestException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a Network File System (NFS) file share on an existing S3 File Gateway. In\n         Storage Gateway, a file share is a file system mount point backed by Amazon S3\n         cloud storage. Storage Gateway exposes file shares using an NFS interface. This operation\n         is only supported for S3 File Gateways.</p>\n         <important>\n            <p>S3 File gateway requires Security Token Service (Amazon Web Services STS) to be\n            activated to enable you to create a file share. Make sure Amazon Web Services STS is\n            activated in the Amazon Web Services Region you are creating your S3 File Gateway in. If\n               Amazon Web Services STS is not activated in the Amazon Web Services Region, activate\n            it. For information about how to activate Amazon Web Services STS, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and\n               deactivating Amazon Web Services STS in an Amazon Web Services Region</a> in the\n                  <i>Identity and Access Management User Guide</i>.</p>\n            <p>S3 File Gateways do not support creating hard or symbolic links on a file\n            share.</p>\n         </important>"
            }
        },
        "com.amazonaws.storagegateway#CreateNFSFileShareInput": {
            "type": "structure",
            "members": {
                "ClientToken": {
                    "target": "com.amazonaws.storagegateway#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique string value that you supply that is used by S3 File Gateway to ensure\n         idempotent file share creation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "NFSFileShareDefaults": {
                    "target": "com.amazonaws.storagegateway#NFSFileShareDefaults",
                    "traits": {
                        "smithy.api#documentation": "<p>File share default values. Optional.</p>"
                    }
                },
                "GatewayARN": {
                    "target": "com.amazonaws.storagegateway#GatewayARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the S3 File Gateway on which you want to create a file\n         share.</p>",
                        "smithy.api#required": {}
                    }
                },
                "EncryptionType": {
                    "target": "com.amazonaws.storagegateway#EncryptionType",
                    "traits": {
                        "smithy.api#documentation": "<p>A value that specifies the type of server-side encryption that the file share will use\n         for the data that it stores in Amazon S3.</p>\n         <note>\n            <p>We recommend using <code>EncryptionType</code> instead of <code>KMSEncrypted</code>\n            to set the file share encryption method. You do not need to provide values for both\n            parameters.</p>\n            <p>If values for both parameters exist in the same request, then the specified\n            encryption methods must not conflict. For example, if <code>EncryptionType</code> is\n               <code>SseS3</code>, then <code>KMSEncrypted</code> must be <code>false</code>. If\n               <code>EncryptionType</code> is <code>SseKms</code> or <code>DsseKms</code>, then\n               <code>KMSEncrypted</code> must be <code>true</code>.</p>\n         </note>"
                    }
                },
                "KMSEncrypted": {
                    "target": "com.amazonaws.storagegateway#Boolean",
                    "traits": {
                        "smithy.api#deprecated": {
                            "message": "KMSEncrypted is deprecated, use EncryptionType instead."
                        },
                        "smithy.api#documentation": "<p>Optional. Set to <code>true</code> to use Amazon S3 server-side encryption with\n         your own KMS key (SSE-KMS), or <code>false</code> to use a key managed by\n            Amazon S3 (SSE-S3). To use dual-layer encryption (DSSE-KMS), set the\n            <code>EncryptionType</code> parameter instead.</p>\n         <note>\n            <p>We recommend using <code>EncryptionType</code> instead of <code>KMSEncrypted</code>\n            to set the file share encryption method. You do not need to provide values for both\n            parameters.</p>\n            <p>If values for both parameters exist in the same request, then the specified\n            encryption methods must not conflict. For example, if <code>EncryptionType</code> is\n               <code>SseS3</code>, then <code>KMSEncrypted</code> must be <code>false</code>. If\n               <code>EncryptionType</code> is <code>SseKms</code> or <code>DsseKms</code>, then\n               <code>KMSEncrypted</code> must be <code>true</code>.</p>\n         </note>\n         <p>Valid Values: <code>true</code> | <code>false</code>\n         </p>"
                    }
                },
                "KMSKey": {
                    "target": "com.amazonaws.storagegateway#KMSKey",
                    "traits": {
[...]
