{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.support#AWSSupport_20130415": {
            "type": "service",
            "version": "2013-04-15",
            "operations": [
                {
                    "target": "com.amazonaws.support#AddAttachmentsToSet"
                },
                {
                    "target": "com.amazonaws.support#AddCommunicationToCase"
                },
                {
                    "target": "com.amazonaws.support#CompleteAttachmentUpload"
                },
                {
                    "target": "com.amazonaws.support#CreateCase"
                },
                {
                    "target": "com.amazonaws.support#DescribeAttachment"
                },
                {
                    "target": "com.amazonaws.support#DescribeAttachmentUploadStatus"
                },
                {
                    "target": "com.amazonaws.support#DescribeCases"
                },
                {
                    "target": "com.amazonaws.support#DescribeCommunications"
                },
                {
                    "target": "com.amazonaws.support#DescribeCreateCaseOptions"
                },
                {
                    "target": "com.amazonaws.support#DescribeServices"
                },
                {
                    "target": "com.amazonaws.support#DescribeSeverityLevels"
                },
                {
                    "target": "com.amazonaws.support#DescribeSupportedLanguages"
                },
                {
                    "target": "com.amazonaws.support#DescribeTrustedAdvisorCheckRefreshStatuses"
                },
                {
                    "target": "com.amazonaws.support#DescribeTrustedAdvisorCheckResult"
                },
                {
                    "target": "com.amazonaws.support#DescribeTrustedAdvisorChecks"
                },
                {
                    "target": "com.amazonaws.support#DescribeTrustedAdvisorCheckSummaries"
                },
                {
                    "target": "com.amazonaws.support#GetAttachmentDownloadLink"
                },
                {
                    "target": "com.amazonaws.support#GetAttachmentUploadLinks"
                },
                {
                    "target": "com.amazonaws.support#RefreshTrustedAdvisorCheck"
                },
                {
                    "target": "com.amazonaws.support#ResolveCase"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Support",
                    "arnNamespace": "support",
                    "cloudFormationName": "Support",
                    "cloudTrailEventSource": "support.amazonaws.com",
                    "endpointPrefix": "support"
                },
                "aws.auth#sigv4": {
                    "name": "support"
                },
                "aws.protocols#awsJson1_1": {},
                "smithy.api#documentation": "<fullname>Amazon Web Services Support</fullname>\n         <p>The <i>Amazon Web Services Support API Reference</i> is intended for programmers who need detailed\n            information about the Amazon Web Services Support operations and data types. You can use the API to manage\n            your support cases programmatically. The Amazon Web Services Support API uses HTTP methods that return\n            results in JSON format.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have an Amazon Web Services Business Support+, Amazon Web Services Enterprise Support, or Amazon Web Services Unified Operations plan to use the Amazon Web Services Support\n                        API. If you're in an Amazon Web Services Region that doesn't offer one of these Amazon Web Services Support plans, or if you haven't transitioned to one of these plans, you can use the Amazon Web Services Support API with a Business, Enterprise On-Ramp, or Enterprise Support plan.</p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have an\n                        Amazon Web Services Business Support+, Amazon Web Services Enterprise Support, or Amazon Web Services Unified Operations plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>\n         <p>You can also use the Amazon Web Services Support API to access features for <a href=\"http://aws.amazon.com/premiumsupport/trustedadvisor/\">Trusted Advisor</a>. You can return a list of\n            checks and their descriptions, get check results, specify checks to refresh, and get the\n            refresh status of checks.</p>\n         <p>You can manage your support cases with the following Amazon Web Services Support API operations:</p>\n         <ul>\n            <li>\n               <p>The <a>CreateCase</a>, <a>DescribeCases</a>, <a>DescribeAttachment</a>, and <a>ResolveCase</a> operations\n                    create Amazon Web Services Support cases, retrieve information about cases, and resolve cases.</p>\n            </li>\n            <li>\n               <p>The <a>DescribeCommunications</a>, <a>AddCommunicationToCase</a>, and <a>AddAttachmentsToSet</a> operations retrieve and add communications and attachments to Amazon Web Services Support\n                    cases.</p>\n            </li>\n            <li>\n               <p>The <a>DescribeServices</a> and <a>DescribeSeverityLevels</a> operations return Amazon Web Services service names, service codes, service categories, and problem\n                    severity levels. You use these values when you call the <a>CreateCase</a> operation.</p>\n            </li>\n         </ul>\n         <p>You can also use the Amazon Web Services Support API to call the  Trusted Advisor operations. For more\n            information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/trusted-advisor.html\">Trusted Advisor</a> in the\n                <i>Amazon Web Services Support User Guide</i>.</p>\n         <p>For authentication of requests, Amazon Web Services Support uses <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing\n                Process</a>.</p>\n         <p>For more information about this service and the endpoints to use, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html\">About the\n                Amazon Web Services Support API</a> in the <i>Amazon Web Services Support User Guide</i>.</p>",
                "smithy.api#title": "AWS Support",
                "smithy.api#xmlNamespace": {
                    "uri": "http://support.amazonaws.com/doc/2013-04-15/"
                },
                "smithy.rules#endpointBdd": {
                    "version": "1.1",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "conditions": [
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "Endpoint"
                                }
                            ]
                        },
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "Region"
                                }
                            ]
                        },
                        {
                            "fn": "aws.partition",
                            "argv": [
                                {
                                    "ref": "Region"
                                }
                            ],
                            "assign": "PartitionResult"
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "ref": "UseFIPS"
                                },
                                true
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "ref": "UseDualStack"
                                },
                                true
                            ]
                        },
                        {
                            "fn": "stringEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "name"
                                    ]
                                },
                                "aws"
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                    ]
                                },
                                true
                            ]
                        },
                        {
                            "fn": "stringEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "name"
                                    ]
                                },
                                "aws-cn"
                            ]
                        },
                        {
                            "fn": "stringEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "name"
                                    ]
                                },
                                "aws-us-gov"
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                    ]
                                },
                                true
                            ]
                        },
                        {
                            "fn": "stringEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "name"
                                    ]
                                },
                                "aws-iso"
                            ]
                        },
                        {
                            "fn": "stringEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "name"
                                    ]
                                },
                                "aws-iso-b"
                            ]
                        }
                    ],
                    "results": [
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": {
                                    "ref": "Endpoint"
                                },
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://support.us-east-1.amazonaws.com",
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4",
                                            "signingName": "support",
                                            "signingRegion": "us-east-1"
                                        }
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://support.cn-north-1.amazonaws.com.cn",
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4",
                                            "signingName": "support",
                                            "signingRegion": "cn-north-1"
                                        }
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://support.us-gov-west-1.amazonaws.com",
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4",
                                            "signingName": "support",
                                            "signingRegion": "us-gov-west-1"
                                        }
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://support.us-iso-east-1.c2s.ic.gov",
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4",
                                            "signingName": "support",
                                            "signingRegion": "us-iso-east-1"
                                        }
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://support.us-isob-east-1.sc2s.sgov.gov",
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4",
                                            "signingName": "support",
                                            "signingRegion": "us-isob-east-1"
                                        }
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://support-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://support-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "FIPS is enabled but this partition does not support FIPS",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://support.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "DualStack is enabled but this partition does not support DualStack",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://support.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ],
                    "root": 2,
                    "nodeCount": 19,
                    "nodes": "/////wAAAAH/////AAAAAAAAABIAAAADAAAAAQAAAAQF9eEQAAAAAgAAAAUF9eEQAAAAAwAAAA0AAAAGAAAABAAAAAwAAAAHAAAABQX14QQAAAAIAAAABwX14QUAAAAJAAAACAX14QYAAAAKAAAACgX14QcAAAALAAAACwX14QgF9eEPAAAABgX14Q0F9eEOAAAABAAAABAAAAAOAAAACAX14QYAAAAPAAAACQX14QsF9eEMAAAABgAAABEF9eEKAAAACQX14QkF9eEKAAAAAwX14QEAAAATAAAABAX14QIF9eED"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        false
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://support.us-east-1.amazonaws.com",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "support",
                                                            "signingRegion": "us-east-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws-cn"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        false
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://support.cn-north-1.amazonaws.com.cn",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "support",
                                                            "signingRegion": "cn-north-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws-us-gov"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        false
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://support.us-gov-west-1.amazonaws.com",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "support",
                                                            "signingRegion": "us-gov-west-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws-us-gov"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://support.us-gov-west-1.amazonaws.com",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "support",
                                                            "signingRegion": "us-gov-west-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws-iso"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        false
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://support.us-iso-east-1.c2s.ic.gov",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "support",
                                                            "signingRegion": "us-iso-east-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "stringEquals",
                                                    "argv": [
                                                        {
                                                            "fn": "getAttr",
                                                            "argv": [
                                                                {
                                                                    "ref": "PartitionResult"
                                                                },
                                                                "name"
                                                            ]
                                                        },
                                                        "aws-iso-b"
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        false
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        false
                                                    ]
                                                }
                                            ],
                                            "endpoint": {
                                                "url": "https://support.us-isob-east-1.sc2s.sgov.gov",
                                                "properties": {
                                                    "authSchemes": [
                                                        {
                                                            "name": "sigv4",
                                                            "signingName": "support",
                                                            "signingRegion": "us-isob-east-1"
                                                        }
                                                    ]
                                                },
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://support-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://support-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://support.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://support.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region aws-global with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "support",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://support.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "aws-global",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://support-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://support-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://support.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "support",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://support.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region aws-cn-global with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "support",
                                                "signingRegion": "cn-north-1"
                                            }
                                        ]
                                    },
                                    "url": "https://support.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "aws-cn-global",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://support-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://support-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://support.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "support",
                                                "signingRegion": "cn-north-1"
                                            }
                                        ]
                                    },
                                    "url": "https://support.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region aws-us-gov-global with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "support",
                                                "signingRegion": "us-gov-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://support.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "aws-us-gov-global",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region aws-us-gov-global with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "support",
                                                "signingRegion": "us-gov-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://support.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "aws-us-gov-global",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://support-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "support",
                                                "signingRegion": "us-gov-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://support.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://support.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "support",
                                                "signingRegion": "us-gov-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://support.us-gov-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region aws-iso-global with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "support",
                                                "signingRegion": "us-iso-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://support.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "aws-iso-global",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://support-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "support",
                                                "signingRegion": "us-iso-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://support.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region aws-iso-b-global with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "support",
                                                "signingRegion": "us-isob-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://support.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "aws-iso-b-global",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://support-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4",
                                                "signingName": "support",
                                                "signingRegion": "us-isob-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://support.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.support#AddAttachmentsToSet": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.support#AddAttachmentsToSetRequest"
            },
            "output": {
                "target": "com.amazonaws.support#AddAttachmentsToSetResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.support#AttachmentLimitExceeded"
                },
                {
                    "target": "com.amazonaws.support#AttachmentSetExpired"
                },
                {
                    "target": "com.amazonaws.support#AttachmentSetIdNotFound"
                },
                {
                    "target": "com.amazonaws.support#AttachmentSetSizeLimitExceeded"
                },
                {
                    "target": "com.amazonaws.support#DryRunOperationException"
                },
                {
                    "target": "com.amazonaws.support#InternalServerError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds one or more attachments to an attachment set. </p>\n         <p>An attachment set is a temporary container for attachments that you add to a case or\n            case communication. The set is available for 1 hour after it's created. The\n                <code>expiryTime</code> returned in the response is when the set expires. </p>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have an Amazon Web Services Business Support+, Amazon Web Services Enterprise Support, or Amazon Web Services Unified Operations plan to use the Amazon Web Services Support\n                        API. If you're in an Amazon Web Services Region that doesn't offer one of these Amazon Web Services Support plans, or if you haven't transitioned to one of these plans, you can use the Amazon Web Services Support API with a Business, Enterprise On-Ramp, or Enterprise Support plan.</p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have an\n                        Amazon Web Services Business Support+, Amazon Web Services Enterprise Support, or Amazon Web Services Unified Operations plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>"
            }
        },
        "com.amazonaws.support#AddAttachmentsToSetRequest": {
            "type": "structure",
            "members": {
                "attachmentSetId": {
                    "target": "com.amazonaws.support#AttachmentSetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a\n            new attachment set is created, and the ID of the set is returned in the response. If an\n                <code>attachmentSetId</code> is specified, the attachments are added to the\n            specified set, if it exists.</p>"
                    }
                },
                "attachments": {
                    "target": "com.amazonaws.support#Attachments",
                    "traits": {
                        "smithy.api#documentation": "<p>One or more attachments to add to the set. You can add up to three attachments per\n            set. The size limit is 5 MB per attachment.</p>\n         <p>In the <code>Attachment</code> object, use the <code>data</code> parameter to specify\n            the contents of the attachment file. In the previous request syntax, the value for\n                <code>data</code> appear as <code>blob</code>, which is represented as a\n            base64-encoded string. The value for <code>fileName</code> is the name of the\n            attachment, such as <code>troubleshoot-screenshot.png</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "dryRun": {
                    "target": "com.amazonaws.support#NullableBooleanType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether to validate the request without actually adding the attachments. When set\n         to <code>true</code>, the request is validated but no attachments are stored, and the operation\n         returns a <code>DryRunOperationException</code>. When omitted or set to <code>false</code>, the\n         request runs normally.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.support#AddAttachmentsToSetResponse": {
            "type": "structure",
            "members": {
                "attachmentSetId": {
                    "target": "com.amazonaws.support#AttachmentSetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a\n            new attachment set is created, and the ID of the set is returned in the response. If an\n                <code>attachmentSetId</code> was specified, the attachments are added to the\n            specified set, if it exists.</p>"
                    }
                },
                "expiryTime": {
                    "target": "com.amazonaws.support#ExpiryTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The time and date when the attachment set expires.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a> operation.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.support#AddCommunicationToCase": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.support#AddCommunicationToCaseRequest"
            },
            "output": {
                "target": "com.amazonaws.support#AddCommunicationToCaseResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.support#AttachmentSetExpired"
                },
                {
                    "target": "com.amazonaws.support#AttachmentSetIdNotFound"
                },
                {
                    "target": "com.amazonaws.support#CaseIdNotFound"
                },
                {
                    "target": "com.amazonaws.support#DryRunOperationException"
                },
                {
                    "target": "com.amazonaws.support#InternalServerError"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Adds additional customer communication to a Amazon Web Services Support case. Use the <code>caseId</code>\n            parameter to identify the case to which to add communication. To list a set of\n            email addresses to copy on the communication, use the <code>ccEmailAddresses</code>\n            parameter. The <code>communicationBody</code> value contains the text of the\n            communication.</p>\n         <p>To attach files larger than 5 MB to the communication, use the <code>uploadIds</code> parameter.</p>\n         <important>\n            <p>Amazon Web Services Support automatically redacts sensitive information from support cases to protect your data. The following information is replaced with <code>[REDACTED_BY_Amazon Web Services]</code> and is not stored:</p>\n            <ul>\n               <li>\n                  <p>Amazon Web Services secret keys - The complete key is replaced. Example: <code>[REDACTED_BY_Amazon Web Services]</code>\n                  </p>\n               </li>\n               <li>\n                  <p>Private keys - The complete key is replaced. Example: <code>[REDACTED_BY_Amazon Web Services]</code>\n                  </p>\n               </li>\n               <li>\n                  <p>Credit card numbers - The number is redacted, but the last 4 digits remain. Example: <code>[REDACTED_BY_Amazon Web Services]-7016</code>\n                  </p>\n               </li>\n            </ul>\n            <p>This sensitive information is never required by Amazon Web Services Support.</p>\n         </important>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have an Amazon Web Services Business Support+, Amazon Web Services Enterprise Support, or Amazon Web Services Unified Operations plan to use the Amazon Web Services Support\n                        API. If you're in an Amazon Web Services Region that doesn't offer one of these Amazon Web Services Support plans, or if you haven't transitioned to one of these plans, you can use the Amazon Web Services Support API with a Business, Enterprise On-Ramp, or Enterprise Support plan.</p>\n               </li>\n               <li>\n                  <p>If you call the Amazon Web Services Support API from an account that doesn't have an\n                        Amazon Web Services Business Support+, Amazon Web Services Enterprise Support, or Amazon Web Services Unified Operations plan, the\n                            <code>SubscriptionRequiredException</code> error message appears. For\n                        information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p>\n               </li>\n            </ul>\n         </note>"
            }
        },
        "com.amazonaws.support#AddCommunicationToCaseRequest": {
            "type": "structure",
            "members": {
                "caseId": {
                    "target": "com.amazonaws.support#CaseId",
                    "traits": {
                        "smithy.api#documentation": "<p>The support case ID requested or returned in the call. The case ID is an alphanumeric\n            string formatted as shown in this example:\n                case-<i>12345678910-exen-2025-c4c1d2bf33c5cf47</i>\n         </p>"
                    }
                },
                "communicationBody": {
                    "target": "com.amazonaws.support#CommunicationBody",
                    "traits": {
                        "smithy.api#documentation": "<p>The body of an email communication to add to the support case.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ccEmailAddresses": {
                    "target": "com.amazonaws.support#CcEmailAddressList",
                    "traits": {
                        "smithy.api#documentation": "<p>The email addresses in the CC line of an email to be added to the support case.</p>"
                    }
                },
                "attachmentSetId": {
                    "target": "com.amazonaws.support#AttachmentSetId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of a set of one or more attachments for the communication to add to the case.\n            Create the set by calling <a>AddAttachmentsToSet</a>. Each attachment in the\n            set must be 5 MB or smaller. To attach files larger than 5 MB, use <code>uploadIds</code>.</p>"
                    }
                },
                "uploadIds": {
                    "target": "com.amazonaws.support#UploadIds",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of upload IDs that identify attachments to add to the case. Each\n            <code>uploadId</code> is returned by the <a>GetAttachmentUploadLinks</a>\n         operation. The upload must reach the <code>attachment-ready</code> state by calling <a>CompleteAttachmentUpload</a> before it can be passed here.\n         Use\n            <code>uploadIds</code> to attach files of any supported size, including files larger than\n         5 MB.</p>"
                    }
                },
                "dryRun": {
                    "target": "com.amazonaws.support#NullableBooleanType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether to validate the request without actually adding the communication to the\n         case. When set to <code>true</code>, the request is validated but the communication isn't\n         added, and the operation returns a <code>DryRunOperationException</code>. When omitted or set\n         to <code>false</code>, the request runs normally.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.support#AddCommunicationToCaseResponse": {
            "type": "structure",
            "members": {
                "result": {
                    "target": "com.amazonaws.support#Result",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>True if <a>AddCommunicationToCase</a> succeeds. Otherwise, returns an\n            error.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The result of the <a>AddCommunicationToCase</a> operation.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.support#AfterTime": {
            "type": "string"
        },
        "com.amazonaws.support#Attachment": {
            "type": "structure",
            "members": {
                "fileName": {
                    "target": "com.amazonaws.support#FileName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the attachment file.</p>"
                    }
                },
                "data": {
                    "target": "com.amazonaws.support#Data",
                    "traits": {
                        "smithy.api#documentation": "<p>The content of the attachment file.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An attachment to a case communication. The attachment consists of the file name and\n            the content of the file. Each attachment file size should not exceed 5 MB. File types that are supported include the following: pdf, jpeg,.doc, .log, .text </p>"
            }
        },
        "com.amazonaws.support#AttachmentDetails": {
            "type": "structure",
            "members": {
                "attachmentId": {
                    "target": "com.amazonaws.support#AttachmentId",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the attachment.</p>"
[...]
