{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.sustainability#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "message",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.sustainability#AwsSustainabilityApiService": {
            "type": "service",
            "version": "2018-05-10",
            "operations": [
                {
                    "target": "com.amazonaws.sustainability#GetEstimatedCarbonEmissions"
                },
                {
                    "target": "com.amazonaws.sustainability#GetEstimatedCarbonEmissionsDimensionValues"
                },
                {
                    "target": "com.amazonaws.sustainability#GetEstimatedWaterAllocation"
                },
                {
                    "target": "com.amazonaws.sustainability#GetEstimatedWaterAllocationDimensionValues"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Sustainability",
                    "arnNamespace": "sustainability"
                },
                "aws.auth#sigv4": {
                    "name": "sustainability"
                },
                "aws.auth#sigv4a": {
                    "name": "sustainability"
                },
                "aws.endpoints#dualStackOnlyEndpoints": {},
                "aws.endpoints#standardPartitionalEndpoints": {
                    "endpointPatternType": "aws_recommended",
                    "partitionEndpointSpecialCases": {
                        "aws": [
                            {
                                "endpoint": "https://api.sustainability.{region}.{dualStackDnsSuffix}",
                                "region": "us-east-1",
                                "dualStack": true
                            }
                        ]
                    }
                },
                "aws.protocols#restJson1": {},
                "smithy.api#auth": [
                    "aws.auth#sigv4a",
                    "aws.auth#sigv4"
                ],
                "smithy.api#cors": {
                    "additionalAllowedHeaders": [
                        "X-Amz-Region-Set"
                    ]
                },
                "smithy.api#documentation": "<p>The AWS Sustainability service provides programmatic access to estimated environmental impact data for your Amazon Web Services usage. Use the AWS Sustainability service to retrieve, analyze, and track the environmental impact of your cloud infrastructure over time. </p> <p>With the AWS Sustainability service, you can:</p> <ul> <li> <p>Retrieve estimated carbon emissions and water allocation for your Amazon Web Services usage across different time periods </p> </li> <li> <p>Group environmental impact data by dimensions such as account, region, and service</p> </li> <li> <p>Filter environmental impact data to focus on specific accounts, regions, or services</p> </li> <li> <p>Access multiple carbon emissions calculation methodologies including Location-based Method (LBM) and Market-based Method (MBM) </p> </li> <li> <p>Aggregate environmental impact data at various time granularities including monthly, quarterly, and yearly periods </p> </li> </ul> <p> The API supports pagination for efficient data retrieval and provides dimension values to help you understand the available grouping and filtering options for your account. </p>",
                "smithy.api#title": "AWS Sustainability",
                "smithy.rules#endpointBdd": {
                    "version": "1.1",
                    "parameters": {
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        },
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        }
                    },
                    "conditions": [
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "Endpoint"
                                }
                            ]
                        },
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "Region"
                                }
                            ]
                        },
                        {
                            "fn": "aws.partition",
                            "argv": [
                                {
                                    "ref": "Region"
                                }
                            ],
                            "assign": "PartitionResult"
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "ref": "UseFIPS"
                                },
                                true
                            ]
                        },
                        {
                            "fn": "stringEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "name"
                                    ]
                                },
                                "aws"
                            ]
                        },
                        {
                            "fn": "stringEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "name"
                                    ]
                                },
                                "aws-us-gov"
                            ]
                        }
                    ],
                    "results": [
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": {
                                    "ref": "Endpoint"
                                },
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4a",
                                            "signingRegionSet": [
                                                "*"
                                            ]
                                        },
                                        {
                                            "name": "sigv4"
                                        }
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://api.sustainability.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4a",
                                            "signingRegionSet": [
                                                "*"
                                            ]
                                        },
                                        {
                                            "name": "sigv4",
                                            "signingRegion": "us-east-1"
                                        }
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://sustainability.us-gov.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4a",
                                            "signingRegionSet": [
                                                "*"
                                            ]
                                        },
                                        {
                                            "name": "sigv4",
                                            "signingRegion": "us-gov-west-1"
                                        }
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://sustainability-fips.us-gov.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4a",
                                            "signingRegionSet": [
                                                "*"
                                            ]
                                        },
                                        {
                                            "name": "sigv4",
                                            "signingRegion": "us-gov-west-1"
                                        }
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://sustainability-fips.global.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4a",
                                            "signingRegionSet": [
                                                "*"
                                            ]
                                        },
                                        {
                                            "name": "sigv4",
                                            "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                        }
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://sustainability.global.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {
                                    "authSchemes": [
                                        {
                                            "name": "sigv4a",
                                            "signingRegionSet": [
                                                "*"
                                            ]
                                        },
                                        {
                                            "name": "sigv4",
                                            "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                        }
                                    ]
                                },
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ],
                    "root": 2,
                    "nodeCount": 9,
                    "nodes": "/////wAAAAH/////AAAAAAAAAAkAAAADAAAAAQAAAAQF9eEIAAAAAgAAAAUF9eEIAAAAAwAAAAgAAAAGAAAABAX14QMAAAAHAAAABQX14QQF9eEHAAAABQX14QUF9eEGAAAAAwX14QEF9eEC"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        },
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {
                                            "authSchemes": [
                                                {
                                                    "name": "sigv4a",
                                                    "signingRegionSet": [
                                                        "*"
                                                    ]
                                                },
                                                {
                                                    "name": "sigv4"
                                                }
                                            ]
                                        },
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "stringEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "name"
                                                                    ]
                                                                },
                                                                "aws"
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                false
                                                            ]
                                                        }
                                                    ],
                                                    "endpoint": {
                                                        "url": "https://api.sustainability.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {
                                                            "authSchemes": [
                                                                {
                                                                    "name": "sigv4a",
                                                                    "signingRegionSet": [
                                                                        "*"
                                                                    ]
                                                                },
                                                                {
                                                                    "name": "sigv4",
                                                                    "signingRegion": "us-east-1"
                                                                }
                                                            ]
                                                        },
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "stringEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "name"
                                                                    ]
                                                                },
                                                                "aws-us-gov"
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                false
                                                            ]
                                                        }
                                                    ],
                                                    "endpoint": {
                                                        "url": "https://sustainability.us-gov.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {
                                                            "authSchemes": [
                                                                {
                                                                    "name": "sigv4a",
                                                                    "signingRegionSet": [
                                                                        "*"
                                                                    ]
                                                                },
                                                                {
                                                                    "name": "sigv4",
                                                                    "signingRegion": "us-gov-west-1"
                                                                }
                                                            ]
                                                        },
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "stringEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "name"
                                                                    ]
                                                                },
                                                                "aws-us-gov"
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "endpoint": {
                                                        "url": "https://sustainability-fips.us-gov.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {
                                                            "authSchemes": [
                                                                {
                                                                    "name": "sigv4a",
                                                                    "signingRegionSet": [
                                                                        "*"
                                                                    ]
                                                                },
                                                                {
                                                                    "name": "sigv4",
                                                                    "signingRegion": "us-gov-west-1"
                                                                }
                                                            ]
                                                        },
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "endpoint": {
                                                        "url": "https://sustainability-fips.global.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {
                                                            "authSchemes": [
                                                                {
                                                                    "name": "sigv4a",
                                                                    "signingRegionSet": [
                                                                        "*"
                                                                    ]
                                                                },
                                                                {
                                                                    "name": "sigv4",
                                                                    "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                                                }
                                                            ]
                                                        },
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                },
                                                {
                                                    "conditions": [],
                                                    "endpoint": {
                                                        "url": "https://sustainability.global.{PartitionResult#dualStackDnsSuffix}",
                                                        "properties": {
                                                            "authSchemes": [
                                                                {
                                                                    "name": "sigv4a",
                                                                    "signingRegionSet": [
                                                                        "*"
                                                                    ]
                                                                },
                                                                {
                                                                    "name": "sigv4",
                                                                    "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                                                }
                                                            ]
                                                        },
                                                        "headers": {}
                                                    },
                                                    "type": "endpoint"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4a",
                                                "signingRegionSet": [
                                                    "*"
                                                ]
                                            },
                                            {
                                                "name": "sigv4"
                                            }
                                        ]
                                    },
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Endpoint": "https://example.com",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Endpoint": "https://example.com",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4a",
                                                "signingRegionSet": [
                                                    "*"
                                                ]
                                            },
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://sustainability-fips.global.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4a",
                                                "signingRegionSet": [
                                                    "*"
                                                ]
                                            },
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-east-1"
                                            }
                                        ]
                                    },
                                    "url": "https://api.sustainability.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4a",
                                                "signingRegionSet": [
                                                    "*"
                                                ]
                                            },
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "cn-northwest-1"
                                            }
                                        ]
                                    },
                                    "url": "https://sustainability-fips.global.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4a",
                                                "signingRegionSet": [
                                                    "*"
                                                ]
                                            },
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "cn-northwest-1"
                                            }
                                        ]
                                    },
                                    "url": "https://sustainability.global.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-northwest-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4a",
                                                "signingRegionSet": [
                                                    "*"
                                                ]
                                            },
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-gov-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://sustainability-fips.us-gov.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "properties": {
                                        "authSchemes": [
                                            {
                                                "name": "sigv4a",
                                                "signingRegionSet": [
                                                    "*"
                                                ]
                                            },
                                            {
                                                "name": "sigv4",
                                                "signingRegion": "us-gov-west-1"
                                            }
                                        ]
                                    },
                                    "url": "https://sustainability.us-gov.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-west-1",
                                "UseFIPS": false
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.sustainability#Dimension": {
            "type": "enum",
            "members": {
                "USAGE_ACCOUNT_ID": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>The account ID whose Amazon Web Services usage is associated with the estimated environmental impact data.</p>",
                        "smithy.api#enumValue": "USAGE_ACCOUNT_ID"
                    }
                },
                "REGION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>The geographical area containing data center clusters where Amazon Web Services services are hosted.</p>",
                        "smithy.api#enumValue": "REGION"
                    }
                },
                "SERVICE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>The cloud computing product and solution offered by Amazon Web Services.</p>",
                        "smithy.api#enumValue": "SERVICE"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the dimensions available for grouping and filtering environmental impact data.</p>"
            }
        },
        "com.amazonaws.sustainability#DimensionEntry": {
            "type": "structure",
            "members": {
                "Dimension": {
                    "target": "com.amazonaws.sustainability#Dimension",
                    "traits": {
                        "smithy.api#documentation": "<p>The dimension type that categorizes this entry.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Value": {
                    "target": "com.amazonaws.sustainability#DimensionValue",
                    "traits": {
                        "smithy.api#documentation": "<p> The value for the specified dimension. Valid values vary based on the dimension type (e.g., <code>us-east-1</code> for the <code>REGION</code> dimension, <code>AmazonEC2</code> for the <code>SERVICE</code> dimension). </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents a dimension and its corresponding value.</p>"
            }
        },
        "com.amazonaws.sustainability#DimensionEntryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.sustainability#DimensionEntry"
            }
        },
        "com.amazonaws.sustainability#DimensionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.sustainability#Dimension"
            }
        },
        "com.amazonaws.sustainability#DimensionListMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.sustainability#Dimension"
            },
            "value": {
                "target": "com.amazonaws.sustainability#DimensionValueList"
            }
        },
        "com.amazonaws.sustainability#DimensionValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 256
                }
            }
        },
        "com.amazonaws.sustainability#DimensionValueList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.sustainability#DimensionValue"
            }
        },
        "com.amazonaws.sustainability#DimensionsMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.sustainability#Dimension"
            },
            "value": {
                "target": "com.amazonaws.sustainability#DimensionValue"
            }
        },
        "com.amazonaws.sustainability#Emissions": {
            "type": "structure",
            "members": {
                "Value": {
                    "target": "smithy.api#Double",
                    "traits": {
                        "smithy.api#documentation": "<p>The numeric value of the emissions quantity.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Unit": {
                    "target": "com.amazonaws.sustainability#EmissionsUnit",
                    "traits": {
                        "smithy.api#documentation": "<p>The unit of measurement for the emissions value.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents a carbon emissions quantity with its value and unit of measurement.</p>"
            }
        },
        "com.amazonaws.sustainability#EmissionsMap": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.sustainability#EmissionsType"
            },
            "value": {
                "target": "com.amazonaws.sustainability#Emissions"
            }
        },
        "com.amazonaws.sustainability#EmissionsType": {
            "type": "enum",
            "members": {
                "TOTAL_LBM_CARBON_EMISSIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>Total direct, indirect, and value chain emissions, calculated using GHG Protocol's Location-based method (LBM).</p>",
                        "smithy.api#enumValue": "TOTAL_LBM_CARBON_EMISSIONS"
                    }
                },
                "TOTAL_MBM_CARBON_EMISSIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>Total direct, indirect, and value chain emissions, calculated using GHG Protocol's Market-based method (MBM).</p>",
                        "smithy.api#enumValue": "TOTAL_MBM_CARBON_EMISSIONS"
                    }
                },
                "TOTAL_SCOPE_1_CARBON_EMISSIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>Total direct emissions from Amazon Web Services owned or controlled sources.</p>",
                        "smithy.api#enumValue": "TOTAL_SCOPE_1_CARBON_EMISSIONS"
                    }
                },
                "TOTAL_SCOPE_2_LBM_CARBON_EMISSIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>Total indirect emissions from the production of purchased energy, calculated using GHG Protocol's Location-based method (LBM).</p>",
                        "smithy.api#enumValue": "TOTAL_SCOPE_2_LBM_CARBON_EMISSIONS"
                    }
                },
                "TOTAL_SCOPE_2_MBM_CARBON_EMISSIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>Total indirect emissions from the production of purchased energy, calculated using GHG Protocol's Market-based method (MBM).</p>",
                        "smithy.api#enumValue": "TOTAL_SCOPE_2_MBM_CARBON_EMISSIONS"
                    }
                },
                "TOTAL_SCOPE_3_LBM_CARBON_EMISSIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>Total value chain emissions, calculated using GHG Protocol's Location-based method (LBM).</p>",
                        "smithy.api#enumValue": "TOTAL_SCOPE_3_LBM_CARBON_EMISSIONS"
                    }
                },
                "TOTAL_SCOPE_3_MBM_CARBON_EMISSIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>Total value chain emissions, calculated using GHG Protocol's Market-based method (MBM).</p>",
                        "smithy.api#enumValue": "TOTAL_SCOPE_3_MBM_CARBON_EMISSIONS"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the types of carbon emissions calculations available.</p>"
            }
        },
        "com.amazonaws.sustainability#EmissionsTypeList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.sustainability#EmissionsType"
            }
        },
        "com.amazonaws.sustainability#EmissionsUnit": {
            "type": "enum",
            "members": {
                "MT_CO2E": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>Metric tons of carbon dioxide-equivalent (MTCO2e).</p>",
                        "smithy.api#enumValue": "MTCO2e"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies the unit of measurement for emissions.</p>"
            }
        },
        "com.amazonaws.sustainability#EstimatedCarbonEmissions": {
            "type": "structure",
            "members": {
                "TimePeriod": {
                    "target": "com.amazonaws.sustainability#TimePeriod",
                    "traits": {
                        "smithy.api#documentation": "<p>The reporting period for emission values.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DimensionsValues": {
                    "target": "com.amazonaws.sustainability#DimensionsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The dimensions used to group emissions values.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ModelVersion": {
                    "target": "com.amazonaws.sustainability#ModelVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The semantic version-formatted string that indicates the methodology version used to calculate the emission values. </p> <note> <p> The AWS Sustainability service reflects the most recent model version for every month. You will not see two entries for the same month with different <code>ModelVersion</code> values. To track the evolution of the methodology and compare emission values from previous versions, we recommend creating a <a href=\"https://docs.aws.amazon.com/cur/latest/userguide/what-is-data-exports.html\">Data Export</a>. </p> </note>",
                        "smithy.api#required": {}
                    }
                },
                "EmissionsValues": {
                    "target": "com.amazonaws.sustainability#EmissionsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The emissions values for the requested emissions types.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains estimated carbon emissions data for a specific time period and dimension grouping.</p>"
            }
        },
        "com.amazonaws.sustainability#EstimatedCarbonEmissionsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.sustainability#EstimatedCarbonEmissions"
            }
        },
        "com.amazonaws.sustainability#EstimatedWaterAllocation": {
            "type": "structure",
            "members": {
                "TimePeriod": {
                    "target": "com.amazonaws.sustainability#TimePeriod",
                    "traits": {
                        "smithy.api#documentation": "<p>The reporting period for water allocation values.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DimensionsValues": {
                    "target": "com.amazonaws.sustainability#DimensionsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The dimensions used to group water allocation values.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ModelVersion": {
                    "target": "com.amazonaws.sustainability#ModelVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The semantic version-formatted string that indicates the methodology version used to calculate the water allocation values. </p> <note> <p> The AWS Sustainability service reflects the most recent model version for every month. You will not see two entries for the same month with different <code>ModelVersion</code> values. </p> </note>",
                        "smithy.api#required": {}
                    }
                },
                "AllocationValues": {
                    "target": "com.amazonaws.sustainability#WaterAllocationMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The allocation values for the requested water allocation types.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains estimated water allocation data for a specific time period and dimension grouping.</p>"
            }
        },
        "com.amazonaws.sustainability#EstimatedWaterAllocationList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.sustainability#EstimatedWaterAllocation"
            }
        },
        "com.amazonaws.sustainability#FilterExpression": {
            "type": "structure",
            "members": {
                "Dimensions": {
                    "target": "com.amazonaws.sustainability#DimensionListMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Filters environmental impact values by specific dimension values.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Filters environmental impact values by specific dimension values.</p>"
            }
        },
        "com.amazonaws.sustainability#GetEstimatedCarbonEmissions": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.sustainability#GetEstimatedCarbonEmissionsRequest"
            },
            "output": {
                "target": "com.amazonaws.sustainability#GetEstimatedCarbonEmissionsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.sustainability#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.sustainability#InternalServerException"
                },
                {
                    "target": "com.amazonaws.sustainability#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.sustainability#ValidationException"
                }
            ],
            "traits": {
                "aws.api#dataPlane": {},
                "smithy.api#documentation": "<p>Returns estimated carbon emission values based on customer grouping and filtering parameters. We recommend using pagination to ensure that the operation returns quickly and successfully. </p>",
                "smithy.api#examples": [
                    {
                        "title": "GetEstimatedCarbonEmissionsSuccess",
                        "input": {
                            "TimePeriod": {
                                "Start": "2025-01-01T00:00:00.000Z",
                                "End": "2025-12-31T23:59:59.999Z"
                            },
                            "GroupBy": [
                                "SERVICE"
                            ],
                            "EmissionsTypes": [
                                "TOTAL_LBM_CARBON_EMISSIONS",
                                "TOTAL_MBM_CARBON_EMISSIONS",
                                "TOTAL_SCOPE_1_CARBON_EMISSIONS",
                                "TOTAL_SCOPE_2_LBM_CARBON_EMISSIONS",
                                "TOTAL_SCOPE_2_MBM_CARBON_EMISSIONS",
                                "TOTAL_SCOPE_3_LBM_CARBON_EMISSIONS",
                                "TOTAL_SCOPE_3_MBM_CARBON_EMISSIONS"
                            ],
                            "Granularity": "MONTHLY"
                        },
                        "output": {
                            "Results": [
                                {
                                    "DimensionsValues": {
                                        "SERVICE": "AmazonEC2"
                                    },
                                    "EmissionsValues": {
                                        "TOTAL_LBM_CARBON_EMISSIONS": {
                                            "Unit": "MTCO2e",
                                            "Value": 1
                                        },
                                        "TOTAL_MBM_CARBON_EMISSIONS": {
                                            "Unit": "MTCO2e",
                                            "Value": 1
                                        },
                                        "TOTAL_SCOPE_1_CARBON_EMISSIONS": {
                                            "Unit": "MTCO2e",
                                            "Value": 1
                                        },
                                        "TOTAL_SCOPE_2_LBM_CARBON_EMISSIONS": {
                                            "Unit": "MTCO2e",
                                            "Value": 1
                                        },
                                        "TOTAL_SCOPE_2_MBM_CARBON_EMISSIONS": {
                                            "Unit": "MTCO2e",
                                            "Value": 1
                                        },
                                        "TOTAL_SCOPE_3_LBM_CARBON_EMISSIONS": {
                                            "Unit": "MTCO2e",
                                            "Value": 1
                                        },
                                        "TOTAL_SCOPE_3_MBM_CARBON_EMISSIONS": {
                                            "Unit": "MTCO2e",
                                            "Value": 1
                                        }
                                    },
                                    "ModelVersion": "v3.0.0",
                                    "TimePeriod": {
                                        "Start": "2025-01-01T00:00:00Z",
                                        "End": "2025-02-01T00:00:00Z"
                                    }
                                }
                            ]
                        }
                    }
                ],
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/v1/estimated-carbon-emissions"
                },
                "smithy.api#paginated": {
                    "pageSize": "MaxResults",
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
                    "items": "Results"
                },
                "smithy.api#readonly": {},
                "smithy.test#smokeTests": [
                    {
                        "id": "GetEstimatedCarbonEmissionsSuccess",
                        "params": {
                            "TimePeriod": {
                                "Start": 1735689600,
                                "End": 1767225599
                            }
                        },
                        "expect": {
                            "success": {}
                        },
                        "vendorParamsShape": "aws.test#AwsVendorParams",
                        "vendorParams": {
                            "region": "us-east-1"
                        }
                    },
                    {
                        "id": "GetEstimatedCarbonEmissionsFailure",
                        "params": {
                            "TimePeriod": {
                                "Start": 1767225599,
                                "End": 1735689600
                            }
                        },
                        "expect": {
                            "failure": {
                                "errorId": "com.amazonaws.sustainability#ValidationException"
                            }
                        },
                        "vendorParamsShape": "aws.test#AwsVendorParams",
                        "vendorParams": {
                            "region": "us-east-1"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.sustainability#GetEstimatedCarbonEmissionsDimensionValues": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.sustainability#GetEstimatedCarbonEmissionsDimensionValuesRequest"
            },
            "output": {
                "target": "com.amazonaws.sustainability#GetEstimatedCarbonEmissionsDimensionValuesResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.sustainability#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.sustainability#InternalServerException"
                },
                {
                    "target": "com.amazonaws.sustainability#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.sustainability#ValidationException"
                }
            ],
            "traits": {
                "aws.api#dataPlane": {},
                "smithy.api#documentation": "<p>Returns the possible dimension values available for a customer's account. We recommend using pagination to ensure that the operation returns quickly and successfully. </p>",
                "smithy.api#examples": [
                    {
                        "title": "GetEstimatedCarbonEmissionsDimensionValuesSuccess",
                        "input": {
                            "TimePeriod": {
                                "Start": "2025-01-01T00:00:00.000Z",
                                "End": "2025-12-31T23:59:59.999Z"
                            },
                            "Dimensions": [
                                "REGION",
                                "SERVICE",
                                "USAGE_ACCOUNT_ID"
                            ]
                        },
                        "output": {
                            "Results": [
                                {
                                    "Dimension": "SERVICE",
                                    "Value": "AmazonEC2"
                                },
                                {
                                    "Dimension": "SERVICE",
                                    "Value": "AmazonS3"
                                },
                                {
                                    "Dimension": "SERVICE",
                                    "Value": "AmazonCloudFront"
                                },
                                {
                                    "Dimension": "REGION",
                                    "Value": "global"
                                },
                                {
                                    "Dimension": "REGION",
                                    "Value": "us-east-1"
                                },
                                {
                                    "Dimension": "REGION",
                                    "Value": "us-west-2"
                                },
                                {
                                    "Dimension": "USAGE_ACCOUNT_ID",
                                    "Value": "111222333444"
                                }
                            ]
                        }
                    }
                ],
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/v1/estimated-carbon-emissions-dimension-values"
                },
                "smithy.api#paginated": {
                    "pageSize": "MaxResults",
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
                    "items": "Results"
                },
                "smithy.api#readonly": {},
                "smithy.test#smokeTests": [
                    {
                        "id": "GetEstimatedCarbonEmissionsDimensionValuesSuccess",
                        "params": {
                            "TimePeriod": {
                                "Start": 1735689600,
                                "End": 1767225599
                            },
                            "Dimensions": [
                                "REGION",
                                "SERVICE"
                            ]
                        },
                        "expect": {
                            "success": {}
                        },
                        "vendorParamsShape": "aws.test#AwsVendorParams",
                        "vendorParams": {
                            "region": "us-east-1"
                        }
                    },
                    {
                        "id": "GetEstimatedCarbonEmissionsDimensionValuesFailure",
                        "params": {
                            "TimePeriod": {
                                "Start": 1767225599,
                                "End": 1735689600
                            },
                            "Dimensions": [
                                "REGION",
                                "SERVICE"
                            ]
                        },
                        "expect": {
                            "failure": {
                                "errorId": "com.amazonaws.sustainability#ValidationException"
                            }
                        },
                        "vendorParamsShape": "aws.test#AwsVendorParams",
                        "vendorParams": {
                            "region": "us-east-1"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.sustainability#GetEstimatedCarbonEmissionsDimensionValuesRequest": {
            "type": "structure",
            "members": {
                "TimePeriod": {
                    "target": "com.amazonaws.sustainability#TimePeriod",
                    "traits": {
                        "smithy.api#documentation": "<p> The date range for fetching the dimension values. The range must include the start date of a month for that month's dimensions to be included in the response. </p>",
                        "smithy.api#required": {}
                    }
                },
                "Dimensions": {
                    "target": "com.amazonaws.sustainability#DimensionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The dimensions available for grouping estimated carbon emissions.</p>",
                        "smithy.api#required": {}
                    }
                },
                "MaxResults": {
                    "target": "com.amazonaws.sustainability#MaxResults",
                    "traits": {
                        "smithy.api#default": 1000,
                        "smithy.api#documentation": "<p>The maximum number of results to return in a single call. Default is 1000.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.sustainability#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token specifying which page of results to return in the response. If no token is provided, the default page is the first page. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.sustainability#GetEstimatedCarbonEmissionsDimensionValuesResponse": {
            "type": "structure",
            "members": {
                "Results": {
                    "target": "com.amazonaws.sustainability#DimensionEntryList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of possible dimensions over which the emissions data is aggregated.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.sustainability#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token indicating there are additional pages available. You can use the token in a following request to fetch the next set of results. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.sustainability#GetEstimatedCarbonEmissionsRequest": {
            "type": "structure",
            "members": {
                "TimePeriod": {
                    "target": "com.amazonaws.sustainability#TimePeriod",
                    "traits": {
                        "smithy.api#documentation": "<p> The date range for fetching estimated carbon emissions. The range must include the start date of a month for that month's data to be included in the response. </p>",
                        "smithy.api#required": {}
                    }
                },
                "GroupBy": {
                    "target": "com.amazonaws.sustainability#DimensionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The dimensions available for grouping estimated carbon emissions.</p>"
                    }
                },
                "FilterBy": {
                    "target": "com.amazonaws.sustainability#FilterExpression",
                    "traits": {
                        "smithy.api#documentation": "<p> The criteria for filtering estimated carbon emissions. To determine which dimensions are available to be filtered by, you can first call <a>GetEstimatedCarbonEmissionsDimensionValues</a> </p>"
                    }
                },
                "EmissionsTypes": {
                    "target": "com.amazonaws.sustainability#EmissionsTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The emission types to include in the results. If absent, returns <code>TOTAL_LBM_CARBON_EMISSIONS</code> and <code>TOTAL_MBM_CARBON_EMISSIONS</code> emissions types. </p>"
                    }
                },
                "Granularity": {
                    "target": "com.amazonaws.sustainability#TimeGranularity",
                    "traits": {
                        "smithy.api#default": "MONTHLY",
                        "smithy.api#documentation": "<p> The time granularity for the results. If absent, uses <code>MONTHLY</code> time granularity. The smallest supported granularity for carbon emissions is <code>MONTHLY</code>. </p> <p> If requesting partial time periods, data will be returned based on the smallest supported granularity. For example, requesting <code>2025-04-01T00:00:00Z</code> to <code>2026-04-01T00:00:00Z</code> with <code>YEARLY_CALENDAR</code> granularity will return the last 9 months for 2025 and the first 3 months of 2026. </p>"
                    }
                },
                "GranularityConfiguration": {
                    "target": "com.amazonaws.sustainability#GranularityConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration for fiscal year calculations when using <code>YEARLY_FISCAL</code> or <code>QUARTERLY_FISCAL</code> granularity. </p>"
                    }
                },
                "MaxResults": {
                    "target": "com.amazonaws.sustainability#MaxResults",
                    "traits": {
                        "smithy.api#default": 1000,
                        "smithy.api#documentation": "<p>The maximum number of results to return in a single call. Default is 1000.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.sustainability#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token specifying which page of results to return in the response. If no token is provided, the default page is the first page. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.sustainability#GetEstimatedCarbonEmissionsResponse": {
            "type": "structure",
            "members": {
                "Results": {
                    "target": "com.amazonaws.sustainability#EstimatedCarbonEmissionsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The result of the requested inputs.</p>",
                        "smithy.api#required": {}
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.sustainability#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token indicating there are additional pages available. You can use the token in a following request to fetch the next set of results. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.sustainability#GetEstimatedWaterAllocation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.sustainability#GetEstimatedWaterAllocationRequest"
            },
            "output": {
                "target": "com.amazonaws.sustainability#GetEstimatedWaterAllocationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.sustainability#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.sustainability#InternalServerException"
                },
                {
                    "target": "com.amazonaws.sustainability#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.sustainability#ValidationException"
                }
            ],
            "traits": {
                "aws.api#dataPlane": {},
                "smithy.api#documentation": "<p>Returns estimated water allocation values based on customer grouping and filtering parameters. We recommend using pagination to ensure that the operation returns quickly and successfully. </p>",
                "smithy.api#examples": [
                    {
                        "title": "GetEstimatedWaterAllocationSuccess",
                        "input": {
                            "TimePeriod": {
                                "Start": "2025-01-01T00:00:00.00Z",
                                "End": "2026-01-01T00:00:00.00Z"
                            },
                            "GroupBy": [
                                "SERVICE"
                            ],
                            "AllocationTypes": [
                                "TOTAL_WATER_WITHDRAWALS"
                            ],
                            "Granularity": "YEARLY_CALENDAR"
                        },
                        "output": {
                            "Results": [
                                {
                                    "DimensionsValues": {
                                        "SERVICE": "AmazonEC2"
                                    },
                                    "AllocationValues": {
                                        "TOTAL_WATER_WITHDRAWALS": {
                                            "Unit": "m3",
                                            "Value": 1
                                        }
                                    },
                                    "ModelVersion": "v1.0.0",
                                    "TimePeriod": {
                                        "Start": "2025-01-01T00:00:00Z",
                                        "End": "2026-01-01T00:00:00Z"
                                    }
                                }
                            ]
                        }
                    }
                ],
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/v1/estimated-water-allocation"
                },
                "smithy.api#paginated": {
                    "pageSize": "MaxResults",
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
                    "items": "Results"
                },
                "smithy.api#readonly": {},
                "smithy.test#smokeTests": [
                    {
                        "id": "GetEstimatedWaterAllocationSuccess",
                        "params": {
                            "TimePeriod": {
                                "Start": 1735689600,
                                "End": 1767225600
                            }
                        },
                        "expect": {
                            "success": {}
                        },
                        "vendorParamsShape": "aws.test#AwsVendorParams",
                        "vendorParams": {
                            "region": "us-east-1"
                        }
                    },
                    {
                        "id": "GetEstimatedWaterAllocationFailure",
                        "params": {
                            "TimePeriod": {
                                "Start": 1767225600,
                                "End": 1735689600
                            }
                        },
                        "expect": {
                            "failure": {
                                "errorId": "com.amazonaws.sustainability#ValidationException"
                            }
                        },
                        "vendorParamsShape": "aws.test#AwsVendorParams",
                        "vendorParams": {
                            "region": "us-east-1"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.sustainability#GetEstimatedWaterAllocationDimensionValues": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.sustainability#GetEstimatedWaterAllocationDimensionValuesRequest"
            },
            "output": {
                "target": "com.amazonaws.sustainability#GetEstimatedWaterAllocationDimensionValuesResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.sustainability#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.sustainability#InternalServerException"
                },
                {
                    "target": "com.amazonaws.sustainability#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.sustainability#ValidationException"
                }
            ],
            "traits": {
                "aws.api#dataPlane": {},
                "smithy.api#documentation": "<p>Returns the possible dimension values available for a customer's account. We recommend using pagination to ensure that the operation returns quickly and successfully. </p>",
                "smithy.api#examples": [
                    {
                        "title": "GetEstimatedWaterAllocationDimensionValuesSuccess",
                        "input": {
                            "TimePeriod": {
                                "Start": "2025-01-01T00:00:00.00Z",
                                "End": "2026-01-01T00:00:00.00Z"
                            },
                            "Dimensions": [
                                "REGION",
                                "SERVICE",
                                "USAGE_ACCOUNT_ID"
                            ]
                        },
                        "output": {
                            "Results": [
                                {
                                    "Dimension": "SERVICE",
                                    "Value": "AmazonEC2"
                                },
                                {
                                    "Dimension": "SERVICE",
                                    "Value": "AmazonS3"
                                },
                                {
                                    "Dimension": "SERVICE",
                                    "Value": "AmazonCloudFront"
                                },
                                {
                                    "Dimension": "REGION",
                                    "Value": "global"
                                },
                                {
                                    "Dimension": "REGION",
                                    "Value": "us-east-1"
                                },
                                {
                                    "Dimension": "REGION",
                                    "Value": "us-west-2"
                                },
                                {
                                    "Dimension": "USAGE_ACCOUNT_ID",
                                    "Value": "111222333444"
                                }
                            ]
                        }
                    }
                ],
                "smithy.api#http": {
                    "code": 200,
                    "method": "POST",
                    "uri": "/v1/estimated-water-allocation-dimension-values"
                },
                "smithy.api#paginated": {
                    "pageSize": "MaxResults",
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
                    "items": "Results"
                },
                "smithy.api#readonly": {},
                "smithy.test#smokeTests": [
                    {
                        "id": "GetEstimatedWaterAllocationDimensionValuesSuccess",
                        "params": {
                            "TimePeriod": {
                                "Start": 1735689600,
                                "End": 1767225600
                            },
                            "Dimensions": [
                                "REGION",
                                "SERVICE"
                            ]
                        },
                        "expect": {
                            "success": {}
                        },
                        "vendorParamsShape": "aws.test#AwsVendorParams",
                        "vendorParams": {
                            "region": "us-east-1"
                        }
                    },
                    {
                        "id": "GetEstimatedWaterAllocationDimensionValuesFailure",
                        "params": {
                            "TimePeriod": {
                                "Start": 1767225600,
                                "End": 1735689600
                            },
                            "Dimensions": [
                                "REGION",
                                "SERVICE"
                            ]
                        },
                        "expect": {
                            "failure": {
                                "errorId": "com.amazonaws.sustainability#ValidationException"
                            }
                        },
                        "vendorParamsShape": "aws.test#AwsVendorParams",
                        "vendorParams": {
                            "region": "us-east-1"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.sustainability#GetEstimatedWaterAllocationDimensionValuesRequest": {
            "type": "structure",
            "members": {
                "TimePeriod": {
                    "target": "com.amazonaws.sustainability#TimePeriod",
                    "traits": {
                        "smithy.api#documentation": "<p> The date range for fetching the dimension values. The range must include the start date of a year for that year's data to be included in the response. </p>",
                        "smithy.api#required": {}
                    }
                },
                "Dimensions": {
                    "target": "com.amazonaws.sustainability#DimensionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The dimensions available for grouping estimated water allocation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "MaxResults": {
                    "target": "com.amazonaws.sustainability#MaxResults",
                    "traits": {
                        "smithy.api#default": 1000,
                        "smithy.api#documentation": "<p>The maximum number of results to return in a single call. Default is 1000.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.sustainability#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token specifying which page of results to return in the response. If no token is provided, the default page is the first page. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.sustainability#GetEstimatedWaterAllocationDimensionValuesResponse": {
            "type": "structure",
            "members": {
                "Results": {
                    "target": "com.amazonaws.sustainability#DimensionEntryList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of possible dimensions over which the allocation data is aggregated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.sustainability#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token indicating there are additional pages available. You can use the token in a following request to fetch the next set of results. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.sustainability#GetEstimatedWaterAllocationRequest": {
            "type": "structure",
            "members": {
                "TimePeriod": {
                    "target": "com.amazonaws.sustainability#TimePeriod",
                    "traits": {
                        "smithy.api#documentation": "<p> The date range for fetching estimated water allocation. The range must include the start date of a year for that year's data to be included in the response. </p>",
                        "smithy.api#required": {}
                    }
                },
                "GroupBy": {
                    "target": "com.amazonaws.sustainability#DimensionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The dimensions available for grouping estimated water allocation.</p>"
                    }
                },
                "FilterBy": {
                    "target": "com.amazonaws.sustainability#FilterExpression",
                    "traits": {
                        "smithy.api#documentation": "<p> The criteria for filtering estimated water allocation. To determine which dimensions are available to be filtered by, you can first call <a>GetEstimatedWaterAllocationDimensionValues</a> </p>"
                    }
                },
                "AllocationTypes": {
                    "target": "com.amazonaws.sustainability#WaterAllocationTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The allocation types to include in the results. If absent, returns <code>TOTAL_WATER_WITHDRAWALS</code> allocation types. </p>"
                    }
                },
                "Granularity": {
                    "target": "com.amazonaws.sustainability#TimeGranularity",
                    "traits": {
                        "smithy.api#default": "YEARLY_CALENDAR",
                        "smithy.api#documentation": "<p>The time granularity for the results. Only <code>YEARLY_CALENDAR</code> time granularity is currently supported for water allocation. Defaults to <code>YEARLY_CALENDAR</code> if absent.</p> <p> If requesting partial time periods, data will be returned based on the smallest supported granularity. For example, requesting <code>2025-04-01T00:00:00Z</code> to <code>2026-04-01T00:00:00Z</code> with <code>YEARLY_CALENDAR</code> will return all the data for 2026 only. </p>"
                    }
                },
                "MaxResults": {
                    "target": "com.amazonaws.sustainability#MaxResults",
                    "traits": {
                        "smithy.api#default": 1000,
                        "smithy.api#documentation": "<p>The maximum number of results to return in a single call. Default is 1000.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.sustainability#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token specifying which page of results to return in the response. If no token is provided, the default page is the first page. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.sustainability#GetEstimatedWaterAllocationResponse": {
            "type": "structure",
            "members": {
                "Results": {
                    "target": "com.amazonaws.sustainability#EstimatedWaterAllocationList",
                    "traits": {
                        "smithy.api#documentation": "<p>The result of the requested inputs.</p>",
                        "smithy.api#required": {}
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.sustainability#NextToken",
                    "traits": {
                        "smithy.api#documentation": "<p>The pagination token indicating there are additional pages available. You can use the token in a following request to fetch the next set of results. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.sustainability#GranularityConfiguration": {
            "type": "structure",
            "members": {
                "FiscalYearStartMonth": {
                    "target": "com.amazonaws.sustainability#Month",
                    "traits": {
                        "smithy.api#default": 1,
                        "smithy.api#documentation": "<p> The month (1-12) when the fiscal year begins. Used for <code>YEARLY_FISCAL</code> and <code>QUARTERLY_FISCAL</code> granularity. Defaults to 1 (January). </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> Contains configuration for the fiscal year granularities (e.g., <code>YEARLY_FISCAL</code>, <code>QUARTERLY_FISCAL</code>. </p>"
            }
        },
        "com.amazonaws.sustainability#InternalServerException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "message",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
                "smithy.api#error": "server",
                "smithy.api#httpError": 500,
                "smithy.api#retryable": {}
            }
        },
        "com.amazonaws.sustainability#MaxResults": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 5000
                }
            }
        },
        "com.amazonaws.sustainability#ModelVersion": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^v(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
            }
        },
        "com.amazonaws.sustainability#Month": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
[...]
