{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.synthetics#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.synthetics#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You don't have permission to perform this operation on this resource.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.synthetics#ArtifactConfigInput": {
            "type": "structure",
            "members": {
                "S3Encryption": {
                    "target": "com.amazonaws.synthetics#S3EncryptionConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads\n         to Amazon S3. \n         Artifact encryption functionality is available only for canaries that use Synthetics runtime version \n         syn-nodejs-puppeteer-3.3 or later. For more information, see\n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a>\n         </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains the configuration for canary artifacts, including the \n         encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>"
            }
        },
        "com.amazonaws.synthetics#ArtifactConfigOutput": {
            "type": "structure",
            "members": {
                "S3Encryption": {
                    "target": "com.amazonaws.synthetics#S3EncryptionConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains the configuration for canary artifacts, including \n         the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>"
            }
        },
        "com.amazonaws.synthetics#AssociateResource": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.synthetics#AssociateResourceRequest"
            },
            "output": {
                "target": "com.amazonaws.synthetics#AssociateResourceResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.synthetics#ConflictException"
                },
                {
                    "target": "com.amazonaws.synthetics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.synthetics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.synthetics#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.synthetics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates a canary with a group. Using groups can help you with\n         managing and automating your canaries, and you can also view aggregated run results and statistics\n         for all canaries in a group. </p>\n         <p>You must run this operation in the Region where the canary exists.</p>",
                "smithy.api#http": {
                    "method": "PATCH",
                    "uri": "/group/{GroupIdentifier}/associate",
                    "code": 200
                }
            }
        },
        "com.amazonaws.synthetics#AssociateResourceRequest": {
            "type": "structure",
            "members": {
                "GroupIdentifier": {
                    "target": "com.amazonaws.synthetics#GroupIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the group. You can specify the group name, the ARN, or the \n         group ID as the <code>GroupIdentifier</code>.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ResourceArn": {
                    "target": "com.amazonaws.synthetics#CanaryArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the canary that you want to associate with the specified group.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.synthetics#AssociateResourceResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.synthetics#BadRequestException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.synthetics#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request was not valid.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.synthetics#BaseScreenshot": {
            "type": "structure",
            "members": {
                "ScreenshotName": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the screenshot. This is generated the first time the canary is run after the <code>UpdateCanary</code> operation that\n      specified for this canary to perform visual monitoring.</p>",
                        "smithy.api#required": {}
                    }
                },
                "IgnoreCoordinates": {
                    "target": "com.amazonaws.synthetics#BaseScreenshotIgnoreCoordinates",
                    "traits": {
                        "smithy.api#documentation": "<p>Coordinates that define the part of a screen to ignore during screenshot comparisons. To obtain the \n         coordinates to use here, use the \n         CloudWatch console to draw the boundaries on the screen. For more information, see \n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/synthetics_canaries_deletion.html\">\n            Editing or deleting a canary</a>\n         </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure representing a screenshot that is used as a baseline during visual monitoring comparisons made by the canary.</p>"
            }
        },
        "com.amazonaws.synthetics#BaseScreenshotConfigIgnoreCoordinate": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^(-?\\d{1,5}\\.?\\d{0,2},){3}(-?\\d{1,5}\\.?\\d{0,2}){1}$"
            }
        },
        "com.amazonaws.synthetics#BaseScreenshotIgnoreCoordinates": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.synthetics#BaseScreenshotConfigIgnoreCoordinate"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 20
                }
            }
        },
        "com.amazonaws.synthetics#BaseScreenshots": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.synthetics#BaseScreenshot"
            }
        },
        "com.amazonaws.synthetics#Blob": {
            "type": "blob",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10000000
                }
            }
        },
        "com.amazonaws.synthetics#BlueprintType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 128
                },
                "smithy.api#pattern": "^[0-9a-zA-Z_\\-\\.]+$"
            }
        },
        "com.amazonaws.synthetics#BlueprintTypes": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.synthetics#BlueprintType"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1
                }
            }
        },
        "com.amazonaws.synthetics#BrowserConfig": {
            "type": "structure",
            "members": {
                "BrowserType": {
                    "target": "com.amazonaws.synthetics#BrowserType",
                    "traits": {
                        "smithy.api#documentation": "<p>The browser type associated with this browser configuration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that specifies the browser type to use for a canary run.</p>"
            }
        },
        "com.amazonaws.synthetics#BrowserConfigs": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.synthetics#BrowserConfig"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2
                }
            }
        },
        "com.amazonaws.synthetics#BrowserType": {
            "type": "enum",
            "members": {
                "CHROME": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CHROME"
                    }
                },
                "FIREFOX": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FIREFOX"
                    }
                }
            }
        },
        "com.amazonaws.synthetics#Canaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.synthetics#Canary"
            }
        },
        "com.amazonaws.synthetics#CanariesLastRun": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.synthetics#CanaryLastRun"
            }
        },
        "com.amazonaws.synthetics#Canary": {
            "type": "structure",
            "members": {
                "Id": {
                    "target": "com.amazonaws.synthetics#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of this canary.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.synthetics#CanaryName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the canary.</p>"
                    }
                },
                "Code": {
                    "target": "com.amazonaws.synthetics#CanaryCodeOutput"
                },
                "ExecutionRoleArn": {
                    "target": "com.amazonaws.synthetics#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM role used to run the canary. This role must include <code>lambda.amazonaws.com</code> as a principal in the trust\n         policy.</p>"
                    }
                },
                "Schedule": {
                    "target": "com.amazonaws.synthetics#CanaryScheduleOutput",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains information about how often the canary is to run, and when\n         these runs are to stop.</p>"
                    }
                },
                "RunConfig": {
                    "target": "com.amazonaws.synthetics#CanaryRunConfigOutput"
                },
                "SuccessRetentionPeriodInDays": {
                    "target": "com.amazonaws.synthetics#MaxSize1024",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of days to retain data about successful runs of this canary.</p>\n         <p>This setting affects the range of information returned by <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_GetCanaryRuns.html\">GetCanaryRuns</a>, as well as \n         the range of information displayed in the Synthetics console.\n      </p>"
                    }
                },
                "FailureRetentionPeriodInDays": {
                    "target": "com.amazonaws.synthetics#MaxSize1024",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of days to retain data about failed runs of this canary.</p>\n         <p>This setting affects the range of information returned by <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_GetCanaryRuns.html\">GetCanaryRuns</a>, as well as \n         the range of information displayed in the Synthetics console.\n      </p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.synthetics#CanaryStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains information about the canary's status.</p>"
                    }
                },
                "Timeline": {
                    "target": "com.amazonaws.synthetics#CanaryTimeline",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains information about when the canary was created, modified, and\n         most recently run.</p>"
                    }
                },
                "ArtifactS3Location": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The location in Amazon S3 where Synthetics stores artifacts from the runs of this\n         canary. Artifacts include the log file, screenshots, and HAR files.</p>"
                    }
                },
                "EngineArn": {
                    "target": "com.amazonaws.synthetics#FunctionArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the Lambda function that is used as your canary's engine. For more information \n         about Lambda ARN format, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-api-permissions-ref.html\">Resources and Conditions for Lambda Actions</a>.</p>"
                    }
                },
                "RuntimeVersion": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the runtime version to use for the canary. For more information about\n         runtime versions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\">\n            Canary Runtime Versions</a>.</p>"
                    }
                },
                "VpcConfig": {
                    "target": "com.amazonaws.synthetics#VpcConfigOutput"
                },
                "VisualReference": {
                    "target": "com.amazonaws.synthetics#VisualReferenceOutput",
                    "traits": {
                        "smithy.api#documentation": "<p>If this canary performs visual monitoring by comparing screenshots, this structure contains the ID of the canary run to use as the baseline for screenshots, and the coordinates\n      of any parts of the screen to ignore during the visual monitoring comparison.</p>"
                    }
                },
                "ProvisionedResourceCleanup": {
                    "target": "com.amazonaws.synthetics#ProvisionedResourceCleanupSetting",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether to also delete the Lambda functions and layers used by this canary\n         when the canary is deleted. If it is <code>AUTOMATIC</code>, the Lambda functions and layers will be deleted\n         when the canary is deleted.</p>\n         <p>If the value of this parameter is <code>OFF</code>, then the value of the <code>DeleteLambda</code> parameter\n         of the <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_DeleteCanary.html\">DeleteCanary</a> operation\n         determines whether the Lambda functions and layers will be deleted.</p>"
                    }
                },
                "BrowserConfigs": {
                    "target": "com.amazonaws.synthetics#BrowserConfigs",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that specifies the browser type to use for a canary run. CloudWatch Synthetics supports running canaries on both <code>CHROME</code> and <code>FIREFOX</code> browsers.</p>\n         <note>\n            <p>If not specified, <code>browserConfigs</code> defaults to Chrome.</p>\n         </note>"
                    }
                },
                "EngineConfigs": {
                    "target": "com.amazonaws.synthetics#EngineConfigs",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of engine configurations for the canary, one for each browser type that the canary is configured to run on.</p>\n         <p>All runtime versions <code>syn-nodejs-puppeteer-11.0</code> and above, and <code>syn-nodejs-playwright-3.0</code> and above, use <code>engineConfigs</code> only. \n         You can no longer use <code>engineArn</code> in these versions.</p>\n         <p>Runtime versions older than <code>syn-nodejs-puppeteer-11.0</code> and <code>syn-nodejs-playwright-3.0</code> continue to support <code>engineArn</code> to ensure backward compatibility.</p>"
                    }
                },
                "VisualReferences": {
                    "target": "com.amazonaws.synthetics#VisualReferencesOutput",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of visual reference configurations for the canary, one for each browser type that the canary is configured to run on. Visual references are used for visual monitoring comparisons.</p>\n         <p>\n            <code>syn-nodejs-puppeteer-11.0</code> and above, and <code>syn-nodejs-playwright-3.0</code> and above, only supports <code>visualReferences</code>. <code>visualReference</code> field is not supported.</p>\n         <p>Versions older than <code>syn-nodejs-puppeteer-11.0</code> supports both <code>visualReference</code> and <code>visualReferences</code> for backward compatibility. It is recommended to use <code>visualReferences</code>\n         for consistency and future compatibility.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.synthetics#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of key-value pairs that are associated with the canary.</p>"
                    }
                },
                "ArtifactConfig": {
                    "target": "com.amazonaws.synthetics#ArtifactConfigOutput",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains the configuration for canary artifacts, including \n         the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>"
                    }
                },
                "DryRunConfig": {
                    "target": "com.amazonaws.synthetics#DryRunConfigOutput",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns the dry run configurations for a canary.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This structure contains all information about one canary in your account.</p>"
            }
        },
        "com.amazonaws.synthetics#CanaryArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:(aws[a-zA-Z-]*)?:synthetics:[a-z]{2,4}(-[a-z]{2,4})?-[a-z]+-\\d{1}:\\d{12}:canary:[0-9a-z_\\-]{1,255}$"
            }
        },
        "com.amazonaws.synthetics#CanaryCodeInput": {
            "type": "structure",
            "members": {
                "S3Bucket": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>If your canary script is located in Amazon S3, specify the bucket name here. Do not include <code>s3://</code> as the \n         start of the bucket name.</p>"
                    }
                },
                "S3Key": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 key of your script. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingObjects.html\">Working with Amazon S3 Objects</a>.</p>"
                    }
                },
                "S3Version": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 version ID of your script.</p>"
                    }
                },
                "ZipFile": {
                    "target": "com.amazonaws.synthetics#Blob",
                    "traits": {
                        "smithy.api#documentation": "<p>If you input your canary script directly into the canary instead of referring to an Amazon S3\n         location, the value of this parameter is the base64-encoded contents of the .zip file that \n         contains the script. It must be smaller than 225 Kb.</p>\n         <p>For large canary scripts, we recommend that you use an Amazon S3 location instead of inputting it \n      directly with this parameter.</p>"
                    }
                },
                "Handler": {
                    "target": "com.amazonaws.synthetics#CodeHandler",
                    "traits": {
                        "smithy.api#addedDefault": {},
                        "smithy.api#default": "",
                        "smithy.api#documentation": "<p>The entry point to use for the source code when running the canary. For canaries that use the \n         <code>syn-python-selenium-1.0</code> runtime\n         or a <code>syn-nodejs.puppeteer</code> runtime earlier than <code>syn-nodejs.puppeteer-3.4</code>, \n         the handler must be specified as <code>\n               <i>fileName</i>.handler</code>. For \n         <code>syn-python-selenium-1.1</code>, <code>syn-nodejs.puppeteer-3.4</code>, and later runtimes, the handler can be specified as \n            <code>\n               <i>fileName</i>.<i>functionName</i>\n            </code>, or\n            you can specify a folder where canary scripts reside as \n<code>\n               <i>folder</i>/<i>fileName</i>.<i>functionName</i>\n            </code>.</p>\n         <p>This field is required when you don't specify <code>BlueprintTypes</code> and is not allowed when you specify <code>BlueprintTypes</code>.</p>"
                    }
                },
                "BlueprintTypes": {
                    "target": "com.amazonaws.synthetics#BlueprintTypes",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            <code>BlueprintTypes</code> is a list of templates that enable simplified canary creation. You can create canaries for common monitoring scenarios by providing only a JSON configuration file instead of writing custom scripts. The only supported value is <code>multi-checks</code>.</p>\n         <p>Multi-checks monitors HTTP/DNS/SSL/TCP endpoints with built-in authentication schemes (Basic, API Key, OAuth, SigV4) and assertion capabilities. When you specify <code>BlueprintTypes</code>, the Handler field cannot be specified since the blueprint provides a pre-defined entry point.</p>\n         <p>\n            <code>BlueprintTypes</code> is supported only on canaries for syn-nodejs-3.0 runtime or later.</p>"
                    }
                },
                "Dependencies": {
                    "target": "com.amazonaws.synthetics#Dependencies",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of dependencies that should be used for running this canary. Specify the dependencies as a key-value pair, where the key is the type of dependency and the value is the dependency reference.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Use this structure to input your script code for the canary. This structure contains the\n         Lambda handler with the location where the canary should start running the script. If the\n         script is stored in an Amazon S3 bucket, the bucket name, key, and version are also included. If\n         the script was passed into the canary directly, the script code is contained in the value\n         of <code>Zipfile</code>. </p>\n         <p>If you are uploading your canary scripts with an Amazon S3 bucket, your zip file should include your \n      script in a certain folder structure.</p>\n         <ul>\n            <li>\n               <p>For Node.js canaries, the folder structure must be <code>nodejs/node_modules/<i>myCanaryFilename.js</i>\n                  </code>\n            For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_WritingCanary_Nodejs.html#CloudWatch_Synthetics_Canaries_package\">Packaging your Node.js canary files</a>\n               </p>\n            </li>\n            <li>\n               <p>For Python canaries, the folder structure must be <code>python/<i>myCanaryFilename.py</i>\n                  </code> or <code>python/<i>myFolder/myCanaryFilename.py</i>\n                  </code>\n            For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_WritingCanary_Python.html#CloudWatch_Synthetics_Canaries_WritingCanary_Python_package\">Packaging your Python canary files</a>\n               </p>\n            </li>\n         </ul>"
            }
        },
        "com.amazonaws.synthetics#CanaryCodeOutput": {
            "type": "structure",
            "members": {
                "SourceLocationArn": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the Lambda layer where Synthetics stores the canary script code.</p>"
                    }
                },
                "Handler": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The entry point to use for the source code when running the canary.</p>\n         <p>This field is required when you don't specify <code>BlueprintTypes</code> and is not allowed when you specify <code>BlueprintTypes</code>.</p>"
                    }
                },
                "BlueprintTypes": {
                    "target": "com.amazonaws.synthetics#BlueprintTypes",
                    "traits": {
                        "smithy.api#documentation": "<p>\n            <code>BlueprintTypes</code> is a list of templates that enable simplified canary creation. You can create canaries for common monitoring scenarios by providing only a JSON configuration file instead of writing custom scripts. The only supported value is <code>multi-checks</code>.</p>\n         <p>Multi-checks monitors HTTP/DNS/SSL/TCP endpoints with built-in authentication schemes (Basic, API Key, OAuth, SigV4) and assertion capabilities. When you specify <code>BlueprintTypes</code>, the Handler field cannot be specified since the blueprint provides a pre-defined entry point.</p>\n         <p>\n            <code>BlueprintTypes</code> is supported only on canaries for syn-nodejs-3.0 runtime or later.</p>"
                    }
                },
                "Dependencies": {
                    "target": "com.amazonaws.synthetics#Dependencies",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of dependencies that are used for running this canary. The dependencies are specified as a key-value pair, where the key is the type of dependency and the value is the dependency reference.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This structure contains information about the canary's Lambda handler and \n      where its code is stored by CloudWatch Synthetics.</p>"
            }
        },
        "com.amazonaws.synthetics#CanaryDryRunConfigOutput": {
            "type": "structure",
            "members": {
                "DryRunId": {
                    "target": "com.amazonaws.synthetics#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The DryRunId associated with an existing canary’s dry run. You can use this DryRunId to retrieve information about the dry run.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Returns the dry run configurations set for a canary.</p>"
            }
        },
        "com.amazonaws.synthetics#CanaryLastRun": {
            "type": "structure",
            "members": {
                "CanaryName": {
                    "target": "com.amazonaws.synthetics#CanaryName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the canary.</p>"
                    }
                },
                "LastRun": {
                    "target": "com.amazonaws.synthetics#CanaryRun",
                    "traits": {
                        "smithy.api#documentation": "<p>The results from this canary's most recent run.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This structure contains information about the most recent run of a single canary.</p>"
            }
        },
        "com.amazonaws.synthetics#CanaryName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^[0-9a-z_\\-]+$"
            }
        },
        "com.amazonaws.synthetics#CanaryRun": {
            "type": "structure",
            "members": {
                "Id": {
                    "target": "com.amazonaws.synthetics#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique ID that identifies this canary run.</p>"
                    }
                },
                "ScheduledRunId": {
                    "target": "com.amazonaws.synthetics#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the scheduled canary run.</p>"
                    }
                },
                "RetryAttempt": {
                    "target": "com.amazonaws.synthetics#RetryAttempt",
                    "traits": {
                        "smithy.api#documentation": "<p>The count in number of the retry attempt.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.synthetics#CanaryName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the canary.</p>"
                    }
                },
                "Status": {
                    "target": "com.amazonaws.synthetics#CanaryRunStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of this run.</p>"
                    }
                },
                "Timeline": {
                    "target": "com.amazonaws.synthetics#CanaryRunTimeline",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains the start and end times of this run.</p>"
                    }
                },
                "ArtifactS3Location": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The location where the canary stored artifacts from the run. Artifacts include \n         the log file, screenshots, and HAR files.</p>"
                    }
                },
                "DryRunConfig": {
                    "target": "com.amazonaws.synthetics#CanaryDryRunConfigOutput",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns the dry run configurations for a canary.</p>"
                    }
                },
                "BrowserType": {
                    "target": "com.amazonaws.synthetics#BrowserType",
                    "traits": {
                        "smithy.api#documentation": "<p>The browser type associated with this canary run.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This structure contains the details about one run of one canary.</p>"
            }
        },
        "com.amazonaws.synthetics#CanaryRunConfigInput": {
            "type": "structure",
            "members": {
                "TimeoutInSeconds": {
                    "target": "com.amazonaws.synthetics#MaxFifteenMinutesInSeconds",
                    "traits": {
                        "smithy.api#documentation": "<p>How long the canary is allowed to run before it must stop. You can't set this time to be longer\n         than the frequency of the runs of this canary.</p>\n         <p>If you omit this field, the\n         frequency of the canary is used as this value, up to a maximum of 14 minutes.</p>"
                    }
                },
                "MemoryInMB": {
                    "target": "com.amazonaws.synthetics#MaxSize3008",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum amount of memory available to the canary while it is running, in MB. This value must be a multiple of 64.</p>"
                    }
                },
                "ActiveTracing": {
                    "target": "com.amazonaws.synthetics#NullableBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether this canary is to use active X-Ray tracing when it runs. Active tracing \n         enables\n         this canary run to be displayed in the ServiceLens and X-Ray service maps even if the canary does \n         not hit an endpoint that has X-Ray tracing enabled. Using X-Ray tracing incurs charges.\n      For more information, see  <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_tracing.html\">\n         Canaries and X-Ray tracing</a>.</p>\n         <p>You can enable active tracing only for canaries that use version <code>syn-nodejs-2.0</code> \n      or later for their canary runtime.</p>"
                    }
                },
                "EnvironmentVariables": {
                    "target": "com.amazonaws.synthetics#EnvironmentVariablesMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the keys and values to use for any environment variables\n      used in the canary script. Use the following format:</p>\n         <p>{ \"key1\" : \"value1\", \"key2\" : \"value2\", ...}</p>\n         <p>Keys must start with a letter and be at least two characters. The total size\n         of your environment variables cannot exceed 4 KB. You can't specify any Lambda\n         reserved environment variables as the keys for your environment variables. For \n         more information about reserved keys, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-envvars.html#configuration-envvars-runtime\">\n            Runtime environment variables</a>.</p>\n         <important>\n            <p>Environment variable keys and values are encrypted at rest using Amazon Web Services owned KMS keys. However, the environment variables \n         are not encrypted on the client side. Do not store sensitive information\n         in them.</p>\n         </important>"
                    }
                },
                "EphemeralStorage": {
                    "target": "com.amazonaws.synthetics#EphemeralStorageSize",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the amount of ephemeral storage (in MB) to allocate for the canary run during execution. This temporary storage is used for storing canary run artifacts (which are uploaded to an Amazon S3 bucket at the end of the run), and any canary browser operations. This temporary storage is cleared after the run is completed. Default storage value is 1024 MB.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains input information for a canary run.</p>"
            }
        },
        "com.amazonaws.synthetics#CanaryRunConfigOutput": {
            "type": "structure",
            "members": {
                "TimeoutInSeconds": {
                    "target": "com.amazonaws.synthetics#MaxFifteenMinutesInSeconds",
                    "traits": {
                        "smithy.api#documentation": "<p>How long the canary is allowed to run before it must stop.</p>"
                    }
                },
                "MemoryInMB": {
                    "target": "com.amazonaws.synthetics#MaxSize3008",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum amount of memory available to the canary while it is running, in MB. This value\n         must be a multiple of 64.</p>"
                    }
                },
                "ActiveTracing": {
                    "target": "com.amazonaws.synthetics#NullableBoolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Displays whether this canary run used active X-Ray tracing. </p>"
                    }
                },
                "EphemeralStorage": {
                    "target": "com.amazonaws.synthetics#EphemeralStorageSize",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the amount of ephemeral storage (in MB) to allocate for the canary run during execution. This temporary storage is used for storing canary run artifacts (which are uploaded to an Amazon S3 bucket at the end of the run), and any canary browser operations. This temporary storage is cleared after the run is completed. Default storage value is 1024 MB.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains information about a canary run.</p>"
            }
        },
        "com.amazonaws.synthetics#CanaryRunState": {
            "type": "enum",
            "members": {
                "RUNNING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RUNNING"
                    }
                },
                "PASSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PASSED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.synthetics#CanaryRunStateReasonCode": {
            "type": "enum",
            "members": {
                "CANARY_FAILURE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CANARY_FAILURE"
                    }
                },
                "EXECUTION_FAILURE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "EXECUTION_FAILURE"
                    }
                }
            }
        },
        "com.amazonaws.synthetics#CanaryRunStatus": {
            "type": "structure",
            "members": {
                "State": {
                    "target": "com.amazonaws.synthetics#CanaryRunState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the run.</p>"
                    }
                },
                "StateReason": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>If run of the canary failed, this field contains the reason for the error.</p>"
                    }
                },
                "StateReasonCode": {
                    "target": "com.amazonaws.synthetics#CanaryRunStateReasonCode",
                    "traits": {
                        "smithy.api#documentation": "<p>If this value is <code>CANARY_FAILURE</code>, either the canary script failed or Synthetics ran into a fatal error when running the canary. For example,  a canary timeout misconfiguration setting can cause the canary to timeout before Synthetics can evaluate its status.\n        </p>\n         <p> If this value is <code>EXECUTION_FAILURE</code>, a non-critical failure occurred such as failing to save generated debug artifacts (for example, screenshots or har files).</p>\n         <p>If both types of failures occurred, the <code>CANARY_FAILURE</code> takes precedence. To understand the exact error, use the <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_CanaryRunStatus.html\">StateReason</a> API.</p>"
                    }
                },
                "TestResult": {
                    "target": "com.amazonaws.synthetics#CanaryRunTestResult",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the status of canary script for this run. When Synthetics tries to determine the status but fails, the result is marked as <code>UNKNOWN</code>.\n         For the overall status of canary run, see <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_CanaryRunStatus.html\">State</a>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This structure contains the status information about a canary run.</p>"
            }
        },
        "com.amazonaws.synthetics#CanaryRunTestResult": {
            "type": "enum",
            "members": {
                "PASSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PASSED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "UNKNOWN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNKNOWN"
                    }
                }
            }
        },
        "com.amazonaws.synthetics#CanaryRunTimeline": {
            "type": "structure",
            "members": {
                "Started": {
                    "target": "com.amazonaws.synthetics#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The start time of the run.</p>"
                    }
                },
                "Completed": {
                    "target": "com.amazonaws.synthetics#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The end time of the run.</p>"
                    }
                },
                "MetricTimestampForRunAndRetries": {
                    "target": "com.amazonaws.synthetics#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The time at which the metrics will be generated for this run or retries.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This structure contains the start and end times of a single canary run.</p>"
            }
        },
        "com.amazonaws.synthetics#CanaryRuns": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.synthetics#CanaryRun"
            }
        },
        "com.amazonaws.synthetics#CanaryScheduleInput": {
            "type": "structure",
            "members": {
                "Expression": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A <code>rate</code> expression or a <code>cron</code> expression that defines how often the canary is to run.</p>\n         <p>For a rate expression, The syntax is\n               <code>rate(<i>number unit</i>)</code>. <i>unit</i>\n         can be <code>minute</code>, <code>minutes</code>, or <code>hour</code>. </p>\n         <p>For example, <code>rate(1 minute)</code> runs the canary once a minute, <code>rate(10 minutes)</code> runs it once every \n      10 minutes, and <code>rate(1 hour)</code> runs it once every hour. You can\n         specify a frequency between <code>rate(1 minute)</code> and <code>rate(1 hour)</code>.</p>\n         <p>Specifying <code>rate(0 minute)</code> or <code>rate(0 hour)</code> is a special value \n         that causes the \n         canary to run only once when it is started.</p>\n         <p>Use <code>cron(<i>expression</i>)</code> to specify a cron \n         expression. You can't schedule a canary to wait for more than a year before running. For information about the syntax for cron expressions, see \n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_cron.html\">\n            Scheduling canary runs using cron</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "DurationInSeconds": {
                    "target": "com.amazonaws.synthetics#MaxOneYearInSeconds",
                    "traits": {
                        "smithy.api#documentation": "<p>How long, in seconds, for the canary to continue making regular runs according to\n         the schedule in the <code>Expression</code> value. If you specify 0, the canary continues\n         making runs until you stop it. If you omit this field, the default of 0 is used.</p>"
                    }
                },
                "RetryConfig": {
                    "target": "com.amazonaws.synthetics#RetryConfigInput",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains the retry configuration for a canary</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This structure specifies how often a canary is to make runs and the date and time\n         when it should stop making runs.</p>"
            }
        },
        "com.amazonaws.synthetics#CanaryScheduleOutput": {
            "type": "structure",
            "members": {
                "Expression": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A <code>rate</code> expression or a <code>cron</code> expression that defines how often the canary is to run.</p>\n         <p>For a rate expression, The syntax is\n         <code>rate(<i>number unit</i>)</code>. <i>unit</i>\n         can be <code>minute</code>, <code>minutes</code>, or <code>hour</code>. </p>\n         <p>For example, <code>rate(1 minute)</code> runs the canary once a minute, <code>rate(10 minutes)</code> runs it once every \n         10 minutes, and <code>rate(1 hour)</code> runs it once every hour. You can\n         specify a frequency between <code>rate(1 minute)</code> and <code>rate(1 hour)</code>.</p>\n         <p>Specifying <code>rate(0 minute)</code> or <code>rate(0 hour)</code> is a special value \n         that causes the \n         canary to run only once when it is started.</p>\n         <p>Use <code>cron(<i>expression</i>)</code> to specify a cron \n         expression. For information about the syntax for cron expressions, see \n         <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_cron.html\">\n            Scheduling canary runs using cron</a>.</p>"
                    }
                },
                "DurationInSeconds": {
                    "target": "com.amazonaws.synthetics#MaxOneYearInSeconds",
                    "traits": {
                        "smithy.api#documentation": "<p>How long, in seconds, for the canary to continue making regular runs after it \n         was created. The runs are performed according to the schedule in the \n         <code>Expression</code> value.</p>"
                    }
                },
                "RetryConfig": {
                    "target": "com.amazonaws.synthetics#RetryConfigOutput",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains the retry configuration for a canary</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>How long, in seconds, for the canary to continue making regular runs according to the schedule in the \n         <code>Expression</code> value.</p>"
            }
        },
        "com.amazonaws.synthetics#CanaryState": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "READY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "READY"
                    }
                },
                "STARTING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STARTING"
                    }
                },
                "RUNNING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RUNNING"
                    }
                },
                "UPDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATING"
                    }
                },
                "STOPPING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STOPPING"
                    }
                },
                "STOPPED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STOPPED"
                    }
                },
                "ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                }
            }
        },
        "com.amazonaws.synthetics#CanaryStateReasonCode": {
            "type": "enum",
            "members": {
                "INVALID_PERMISSIONS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INVALID_PERMISSIONS"
                    }
                },
                "CREATE_PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_PENDING"
                    }
                },
                "CREATE_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_IN_PROGRESS"
                    }
                },
                "CREATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_FAILED"
                    }
                },
                "UPDATE_PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_PENDING"
                    }
                },
                "UPDATE_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_IN_PROGRESS"
                    }
                },
                "UPDATE_COMPLETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_COMPLETE"
                    }
                },
                "ROLLBACK_COMPLETE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ROLLBACK_COMPLETE"
                    }
                },
                "ROLLBACK_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ROLLBACK_FAILED"
                    }
                },
                "DELETE_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE_IN_PROGRESS"
                    }
                },
                "DELETE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE_FAILED"
                    }
                },
                "SYNC_DELETE_IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SYNC_DELETE_IN_PROGRESS"
                    }
                }
            }
        },
        "com.amazonaws.synthetics#CanaryStatus": {
            "type": "structure",
            "members": {
                "State": {
                    "target": "com.amazonaws.synthetics#CanaryState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the canary.</p>"
                    }
                },
                "StateReason": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>If the canary creation or update failed, this field provides details on the failure.</p>"
                    }
                },
                "StateReasonCode": {
                    "target": "com.amazonaws.synthetics#CanaryStateReasonCode",
                    "traits": {
                        "smithy.api#documentation": "<p>If the canary creation or update failed, this field displays the reason code.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains the current state of the canary.</p>"
            }
        },
        "com.amazonaws.synthetics#CanaryTimeline": {
            "type": "structure",
            "members": {
                "Created": {
                    "target": "com.amazonaws.synthetics#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the canary was created.</p>"
                    }
                },
                "LastModified": {
                    "target": "com.amazonaws.synthetics#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the canary was most recently modified.</p>"
                    }
                },
                "LastStarted": {
                    "target": "com.amazonaws.synthetics#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the canary's most recent run started.</p>"
                    }
                },
                "LastStopped": {
                    "target": "com.amazonaws.synthetics#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time that the canary's most recent run ended.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This structure contains information about when the canary was created and modified.</p>"
            }
        },
        "com.amazonaws.synthetics#CodeHandler": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 128
                },
                "smithy.api#pattern": "^(([0-9a-zA-Z_-]+(\\/|\\.))*[0-9A-Za-z_\\\\-]+(\\.|::)[A-Za-z_][A-Za-z0-9_]*)?$"
            }
        },
        "com.amazonaws.synthetics#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.synthetics#ErrorMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A conflicting operation is already in progress.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.synthetics#CreateCanary": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.synthetics#CreateCanaryRequest"
            },
            "output": {
                "target": "com.amazonaws.synthetics#CreateCanaryResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.synthetics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.synthetics#RequestEntityTooLargeException"
                },
                {
                    "target": "com.amazonaws.synthetics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a canary. Canaries are scripts that monitor your endpoints and APIs from the\n         outside-in. Canaries help you check the availability and latency of your web services and\n         troubleshoot anomalies by investigating load time data, screenshots of the UI, logs, and\n         metrics. You can set up a canary to run continuously or just once. </p>\n         <p>Do not use <code>CreateCanary</code> to modify an existing canary. Use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_UpdateCanary.html\">UpdateCanary</a> instead.</p>\n         <p>To create canaries, you must have the <code>CloudWatchSyntheticsFullAccess</code> policy.\n         If you are creating a new IAM role for the canary, you also need the\n         <code>iam:CreateRole</code>, <code>iam:CreatePolicy</code> and\n            <code>iam:AttachRolePolicy</code> permissions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Roles\">Necessary\n            Roles and Permissions</a>.</p>\n         <p>Do not include secrets or proprietary information in your canary names. The canary name\n         makes up part of the Amazon Resource Name (ARN) for the canary, and the ARN is included in\n         outbound calls over the internet. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/servicelens_canaries_security.html\">Security\n            Considerations for Synthetics Canaries</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/canary",
                    "code": 200
                }
            }
        },
        "com.amazonaws.synthetics#CreateCanaryRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.synthetics#CanaryName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name for this canary. Be sure to give it a descriptive name \n         that distinguishes it from other canaries in your account.</p>\n         <p>Do not include secrets or proprietary information in your canary names. The canary name\n         makes up part of the canary ARN, and the ARN is included in outbound calls over the\n         internet. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/servicelens_canaries_security.html\">Security\n            Considerations for Synthetics Canaries</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Code": {
                    "target": "com.amazonaws.synthetics#CanaryCodeInput",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that includes the entry point from which the canary should start\n         running your script. If the script is stored in \n         an Amazon S3 bucket, the bucket name, key, and version are also included.\n      </p>",
                        "smithy.api#required": {}
                    }
                },
                "ArtifactS3Location": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The location in Amazon S3 where Synthetics stores artifacts from the test runs of this\n         canary. Artifacts include the log file, screenshots, and HAR files.  The name of the \n         Amazon S3 bucket can't include a period (.).</p>",
                        "smithy.api#required": {}
                    }
                },
                "ExecutionRoleArn": {
                    "target": "com.amazonaws.synthetics#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM role to be used to run the canary. This role must already exist, \n         and must include <code>lambda.amazonaws.com</code> as a principal in the trust\n         policy. The role must also have the following permissions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>s3:PutObject</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>s3:GetBucketLocation</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>s3:ListAllMyBuckets</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>cloudwatch:PutMetricData</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>logs:CreateLogGroup</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>logs:CreateLogStream</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>logs:PutLogEvents</code>\n               </p>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "Schedule": {
                    "target": "com.amazonaws.synthetics#CanaryScheduleInput",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains information about how often the canary is to run and when\n         these test runs are to stop.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RunConfig": {
                    "target": "com.amazonaws.synthetics#CanaryRunConfigInput",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains the configuration for individual canary runs, \n         such as timeout value and environment variables.</p>\n         <important>\n            <p>Environment variable keys and values are encrypted at rest using Amazon Web Services owned KMS keys. However, the environment variables \n         are not encrypted on the client side. Do not store sensitive information\n         in them.</p>\n         </important>"
                    }
                },
                "SuccessRetentionPeriodInDays": {
                    "target": "com.amazonaws.synthetics#MaxSize1024",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of days to retain data about successful runs of this canary. If you omit \n         this field, the default of 31 days is used. The valid range is 1 to 455 days.</p>\n         <p>This setting affects the range of information returned by <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_GetCanaryRuns.html\">GetCanaryRuns</a>, as well as \n         the range of information displayed in the Synthetics console.\n      </p>"
                    }
                },
                "FailureRetentionPeriodInDays": {
                    "target": "com.amazonaws.synthetics#MaxSize1024",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of days to retain data about failed runs of this canary. If you omit \n         this field, the default of 31 days is used. The valid range is 1 to 455 days.</p>\n         <p>This setting affects the range of information returned by <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_GetCanaryRuns.html\">GetCanaryRuns</a>, as well as \n         the range of information displayed in the Synthetics console.\n      </p>"
                    }
                },
                "RuntimeVersion": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the runtime version to use for the canary. For a list of valid\n         runtime versions and more information about\n         runtime versions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\">\n            Canary Runtime Versions</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "VpcConfig": {
                    "target": "com.amazonaws.synthetics#VpcConfigInput",
                    "traits": {
                        "smithy.api#documentation": "<p>If this canary is to test an endpoint in a VPC, this structure contains\n      information about the subnet and security groups of the VPC endpoint. \n      For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_VPC.html\">\n         Running a Canary in a VPC</a>.</p>"
                    }
                },
                "ResourcesToReplicateTags": {
                    "target": "com.amazonaws.synthetics#ResourceList",
                    "traits": {
                        "smithy.api#documentation": "<p>To have the tags that you apply to this canary also be applied to the Lambda function that\n         the canary uses, specify this parameter with the value <code>lambda-function</code>.</p>\n         <p>If you specify this parameter and don't specify any tags in the <code>Tags</code>\n         parameter, the canary creation fails.</p>"
                    }
                },
                "ProvisionedResourceCleanup": {
                    "target": "com.amazonaws.synthetics#ProvisionedResourceCleanupSetting",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies whether to also delete the Lambda functions and layers used by this canary\n      when the canary is deleted. If you omit this parameter, the default of <code>AUTOMATIC</code> is used, which means\n         that the Lambda functions and layers will be deleted when the canary is deleted.</p>\n         <p>If the value of this parameter is <code>OFF</code>, then the value of the <code>DeleteLambda</code> parameter\n         of the <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_DeleteCanary.html\">DeleteCanary</a> operation\n         determines whether the Lambda functions and layers will be deleted.</p>"
                    }
                },
                "BrowserConfigs": {
                    "target": "com.amazonaws.synthetics#BrowserConfigs",
                    "traits": {
                        "smithy.api#documentation": "<p>CloudWatch Synthetics now supports multibrowser canaries for <code>syn-nodejs-puppeteer-11.0</code> and <code>syn-nodejs-playwright-3.0</code> runtimes. This feature allows you to run your canaries on both \n         Firefox and Chrome browsers. To create a multibrowser canary, you need to specify the BrowserConfigs with a list of browsers you want to use.</p>\n         <note>\n            <p>If not specified, <code>browserConfigs</code> defaults to Chrome.</p>\n         </note>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.synthetics#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of key-value pairs to associate with the canary. \n         You can associate as many as 50 tags with a canary.</p>\n         <p>Tags can help you organize and categorize your\n         resources. You can also use them to scope user permissions, by \n         granting a user permission to access or change only the resources that have\n         certain tag values.</p>\n         <p>To have the tags that you apply to this canary also be applied to the Lambda function that\n         the canary uses, specify this parameter with the value <code>lambda-function</code>.</p>"
                    }
                },
                "ArtifactConfig": {
                    "target": "com.amazonaws.synthetics#ArtifactConfigInput",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains the configuration for canary artifacts, including \n         the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.synthetics#CreateCanaryResponse": {
            "type": "structure",
            "members": {
                "Canary": {
                    "target": "com.amazonaws.synthetics#Canary",
                    "traits": {
                        "smithy.api#documentation": "<p>The full details about the canary you have created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.synthetics#CreateGroup": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.synthetics#CreateGroupRequest"
            },
            "output": {
                "target": "com.amazonaws.synthetics#CreateGroupResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.synthetics#ConflictException"
                },
                {
                    "target": "com.amazonaws.synthetics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.synthetics#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.synthetics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a group which you can use to associate canaries with each other, including cross-Region\n         canaries. Using groups can help you with\n         managing and automating your canaries, and you can also view aggregated run results and statistics\n      for all canaries in a group. </p>\n         <p>Groups are global resources. When you create a group, it is replicated across Amazon Web Services Regions, and \n         you can view it and add canaries to it from any Region.\n         Although the group ARN format reflects the Region name where it was created, a group is not constrained to any Region. \n         This means that you can put canaries from multiple Regions into the same group, and then use\n      that group to view and manage all of those canaries in a single view.</p>\n         <p>Groups are supported in all Regions except the Regions that are disabled by default. For more information\n         about these Regions, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande-manage.html#rande-manage-enable\">Enabling a Region</a>.</p>\n         <p>Each group can contain as many as 10 canaries. You can have as many as 20 groups in your account. Any single canary\n      can be a member of up to 10 groups.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/group",
                    "code": 200
                }
            }
        },
        "com.amazonaws.synthetics#CreateGroupRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.synthetics#GroupName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name for the group. It can include any Unicode characters.</p>\n         <p>The names for all groups in your account, across all Regions, must be unique.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.synthetics#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of key-value pairs to associate with the group. \n         You can associate as many as 50 tags with a group.</p>\n         <p>Tags can help you organize and categorize your\n         resources. You can also use them to scope user permissions, by \n         granting a user permission to access or change only the resources that have\n         certain tag values.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.synthetics#CreateGroupResponse": {
            "type": "structure",
            "members": {
                "Group": {
                    "target": "com.amazonaws.synthetics#Group",
                    "traits": {
                        "smithy.api#documentation": "<p>A structure that contains information about the group that was just created.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.synthetics#DeleteCanary": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.synthetics#DeleteCanaryRequest"
            },
            "output": {
                "target": "com.amazonaws.synthetics#DeleteCanaryResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.synthetics#ConflictException"
                },
                {
                    "target": "com.amazonaws.synthetics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.synthetics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.synthetics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Permanently deletes the specified canary.</p>\n         <p>If the canary's <code>ProvisionedResourceCleanup</code> field is set to <code>AUTOMATIC</code> \n         or you specify <code>DeleteLambda</code> in this operation as <code>true</code>, CloudWatch Synthetics also deletes\n         the Lambda functions and layers that are used by the canary.</p>\n         <p>Other resources used and created by the canary are not automatically deleted. \n         After you delete a canary, you\n      should also delete the following:</p>\n         <ul>\n            <li>\n               <p>The CloudWatch alarms created for this canary. These alarms have a name of\n               <code>Synthetics-Alarm-<i>first-198-characters-of-canary-name</i>-<i>canaryId</i>-<i>alarm number</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>Amazon S3 objects and buckets, such as the canary's artifact location.</p>\n            </li>\n            <li>\n               <p>IAM roles created for the canary. If they were created in the console, these roles\n               have the name <code>\n                     role/service-role/CloudWatchSyntheticsRole-<i>First-21-Characters-of-CanaryName</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>CloudWatch Logs log groups created for the canary. These logs groups have the name\n               <code>/aws/lambda/cwsyn-<i>First-21-Characters-of-CanaryName</i>\n                  </code>\n               </p>\n            </li>\n         </ul>\n         <p>Before you delete a canary, you might want to use <code>GetCanary</code> to display\n         the information about this canary. Make\n         note of the information returned by this operation so that you can delete these resources\n         after you delete the canary.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/canary/{Name}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.synthetics#DeleteCanaryRequest": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "com.amazonaws.synthetics#CanaryName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the canary that you want to delete. To find the names of your canaries, use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_DescribeCanaries.html\">DescribeCanaries</a>.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "DeleteLambda": {
                    "target": "com.amazonaws.synthetics#boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Specifies whether to also delete the Lambda functions and layers used by this canary. The default\n      is <code>false</code>.</p>\n         <p>Your setting for this parameter is used only if the canary doesn't have <code>AUTOMATIC</code> for its \n       <code>ProvisionedResourceCleanup</code> field. If that field is set to <code>AUTOMATIC</code>, then the \n       Lambda functions and layers will be deleted when this canary is deleted. </p>\n         <p>Type: Boolean</p>",
                        "smithy.api#httpQuery": "deleteLambda"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.synthetics#DeleteCanaryResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.synthetics#DeleteGroup": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.synthetics#DeleteGroupRequest"
            },
            "output": {
                "target": "com.amazonaws.synthetics#DeleteGroupResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.synthetics#ConflictException"
                },
                {
                    "target": "com.amazonaws.synthetics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.synthetics#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.synthetics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a group. The group doesn't need to be empty to be deleted. If there are canaries in the group,\n         they are not deleted when you delete the group.\n      </p>\n         <p>Groups are a global resource that appear in all Regions, but the request to delete a group\n      must be made from its home Region. You can find the home Region of a group within its ARN.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/group/{GroupIdentifier}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.synthetics#DeleteGroupRequest": {
            "type": "structure",
            "members": {
                "GroupIdentifier": {
                    "target": "com.amazonaws.synthetics#GroupIdentifier",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies which group to delete. You can specify the group name, the ARN, or the \n      group ID as the <code>GroupIdentifier</code>.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.synthetics#DeleteGroupResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.synthetics#Dependencies": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.synthetics#Dependency"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 1
                }
            }
        },
        "com.amazonaws.synthetics#Dependency": {
            "type": "structure",
            "members": {
                "Type": {
                    "target": "com.amazonaws.synthetics#DependencyType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of dependency. Valid value is <code>LambdaLayer</code>.</p>"
                    }
                },
                "Reference": {
                    "target": "com.amazonaws.synthetics#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The dependency reference. For Lambda layers, this is the ARN of the Lambda layer. For more information \n         about Lambda ARN format, see <a href=\"https://docs.aws.amazon.com/lambda/latest/api/API_Layer.html\">Lambda</a>.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A structure that contains information about a dependency for a canary.</p>"
            }
        },
        "com.amazonaws.synthetics#DependencyType": {
            "type": "enum",
            "members": {
                "LambdaLayer": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "LambdaLayer"
                    }
                }
            }
        },
        "com.amazonaws.synthetics#DescribeCanaries": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.synthetics#DescribeCanariesRequest"
            },
            "output": {
                "target": "com.amazonaws.synthetics#DescribeCanariesResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.synthetics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.synthetics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>This operation returns a list of the canaries in your account, along with full details\n      about each canary.</p>\n         <p>This operation supports resource-level authorization using an IAM policy and \n      the <code>Names</code> parameter. If you specify the <code>Names</code> parameter, the operation is successful only if you have authorization to view\n         all the canaries that you specify in your request. If you do not have permission to view any of \n         the canaries, the request fails with a 403 response.</p>\n         <p>You are required to use the <code>Names</code> parameter if you are logged on to a user or role that has an \n         IAM policy that restricts which canaries that you are allowed to view. For more information, \n         see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Restricted.html\">\n            Limiting a user to viewing specific canaries</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/canaries",
                    "code": 200
                },
                "smithy.api#paginated": {
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
                    "pageSize": "MaxResults"
                }
            }
        },
        "com.amazonaws.synthetics#DescribeCanariesLastRun": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.synthetics#DescribeCanariesLastRunRequest"
            },
            "output": {
                "target": "com.amazonaws.synthetics#DescribeCanariesLastRunResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.synthetics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.synthetics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Use this operation to see information from the most recent run of each canary that you have created.</p>\n         <p>This operation supports resource-level authorization using an IAM policy and \n         the <code>Names</code> parameter. If you specify the <code>Names</code> parameter, the operation is successful only if you have authorization to view\n         all the canaries that you specify in your request. If you do not have permission to view any of \n         the canaries, the request fails with a 403 response.</p>\n         <p>You are required to use the <code>Names</code> parameter if you are logged on to a user or role that has an \n         IAM policy that restricts which canaries that you are allowed to view. For more information, \n         see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Restricted.html\">\n            Limiting a user to viewing specific canaries</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/canaries/last-run",
                    "code": 200
                },
                "smithy.api#paginated": {
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
                    "pageSize": "MaxResults"
                }
            }
        },
        "com.amazonaws.synthetics#DescribeCanariesLastRunNameFilter": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.synthetics#CanaryName"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 5
                }
            }
        },
        "com.amazonaws.synthetics#DescribeCanariesLastRunRequest": {
            "type": "structure",
            "members": {
                "NextToken": {
                    "target": "com.amazonaws.synthetics#Token",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent <code>DescribeCanariesLastRun</code> operation to retrieve the next \n         set of results.</p>"
                    }
                },
                "MaxResults": {
                    "target": "com.amazonaws.synthetics#MaxSize100",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify this parameter to limit how many runs are returned each time you use\n         the <code>DescribeLastRun</code> operation. If you omit this parameter, the default of 100 is used.</p>"
                    }
                },
                "Names": {
                    "target": "com.amazonaws.synthetics#DescribeCanariesLastRunNameFilter",
                    "traits": {
                        "smithy.api#documentation": "<p>Use this parameter to return only canaries that match the names that you specify here. You can\n         specify as many as five canary names.</p>\n         <p>If you specify this parameter, the operation is successful only if you have authorization to view\n         all the canaries that you specify in your request. If you do not have permission to view any of \n         the canaries, the request fails with a 403 response.</p>\n         <p>You are required to use the <code>Names</code> parameter if you are logged on to a user or role that has an \n         IAM policy that restricts which canaries that you are allowed to view. For more information, \n         see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Restricted.html\">\n            Limiting a user to viewing specific canaries</a>.</p>"
                    }
                },
                "BrowserType": {
                    "target": "com.amazonaws.synthetics#BrowserType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of browser to use for the canary run.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.synthetics#DescribeCanariesLastRunResponse": {
            "type": "structure",
            "members": {
                "CanariesLastRun": {
                    "target": "com.amazonaws.synthetics#CanariesLastRun",
                    "traits": {
                        "smithy.api#documentation": "<p>An array that contains the information from the most recent run of each\n         canary.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.synthetics#Token",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent <code>DescribeCanariesLastRun</code> operation to retrieve the next \n         set of results.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.synthetics#DescribeCanariesNameFilter": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.synthetics#CanaryName"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 5
                }
            }
        },
        "com.amazonaws.synthetics#DescribeCanariesRequest": {
            "type": "structure",
            "members": {
                "NextToken": {
                    "target": "com.amazonaws.synthetics#Token",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent operation to retrieve the next \n         set of results.</p>"
                    }
                },
                "MaxResults": {
                    "target": "com.amazonaws.synthetics#MaxCanaryResults",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify this parameter to limit how many canaries are returned each time you use\n      the <code>DescribeCanaries</code> operation. If you omit this parameter, the default of 20 is used.</p>"
                    }
                },
                "Names": {
                    "target": "com.amazonaws.synthetics#DescribeCanariesNameFilter",
                    "traits": {
                        "smithy.api#documentation": "<p>Use this parameter to return only canaries that match the names that you specify here. You can\n         specify as many as five canary names.</p>\n         <p>If you specify this parameter, the operation is successful only if you have authorization to view\n         all the canaries that you specify in your request. If you do not have permission to view any of \n         the canaries, the request fails with a 403 response.</p>\n         <p>You are required to use this parameter if you are logged on to a user or role that has an \n         IAM policy that restricts which canaries that you are allowed to view. For more information, \n         see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Restricted.html\">\n            Limiting a user to viewing specific canaries</a>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.synthetics#DescribeCanariesResponse": {
            "type": "structure",
            "members": {
                "Canaries": {
                    "target": "com.amazonaws.synthetics#Canaries",
                    "traits": {
                        "smithy.api#documentation": "<p>Returns an array. Each item in the array contains the full information about\n         one canary.</p>"
                    }
                },
                "NextToken": {
                    "target": "com.amazonaws.synthetics#Token",
                    "traits": {
                        "smithy.api#documentation": "<p>A token that indicates that there is more data\n         available. You can use this token in a subsequent <code>DescribeCanaries</code> operation to retrieve the next \n         set of results.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.synthetics#DescribeRuntimeVersions": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.synthetics#DescribeRuntimeVersionsRequest"
            },
            "output": {
                "target": "com.amazonaws.synthetics#DescribeRuntimeVersionsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.synthetics#InternalServerException"
                },
                {
                    "target": "com.amazonaws.synthetics#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Returns a list of Synthetics canary runtime versions. For more information, \n         see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\">\n            Canary Runtime Versions</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/runtime-versions",
                    "code": 200
                },
                "smithy.api#paginated": {
                    "inputToken": "NextToken",
                    "outputToken": "NextToken",
[...]
