{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.transcribe#AbsoluteTimeRange": {
            "type": "structure",
            "members": {
                "StartTime": {
                    "target": "com.amazonaws.transcribe#TimestampMilliseconds",
                    "traits": {
                        "smithy.api#documentation": "<p>The time, in milliseconds, when Amazon Transcribe starts searching for the specified\n            criteria in your audio. If you include <code>StartTime</code> in your request, you must\n            also include <code>EndTime</code>.</p>"
                    }
                },
                "EndTime": {
                    "target": "com.amazonaws.transcribe#TimestampMilliseconds",
                    "traits": {
                        "smithy.api#documentation": "<p>The time, in milliseconds, when Amazon Transcribe stops searching for the specified\n            criteria in your audio. If you include <code>EndTime</code> in your request, you must\n            also include <code>StartTime</code>.</p>"
                    }
                },
                "First": {
                    "target": "com.amazonaws.transcribe#TimestampMilliseconds",
                    "traits": {
                        "smithy.api#documentation": "<p>The time, in milliseconds, from the start of your media file until the specified value. \n            Amazon Transcribe searches for your specified criteria in this time segment.</p>"
                    }
                },
                "Last": {
                    "target": "com.amazonaws.transcribe#TimestampMilliseconds",
                    "traits": {
                        "smithy.api#documentation": "<p>The time, in milliseconds, from the specified value until the end of your media file.\n            Amazon Transcribe searches for your specified criteria in this time segment.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A time range, in milliseconds, between two points in your media file.</p>\n         <p>You can use <code>StartTime</code> and <code>EndTime</code> to search a custom\n            segment. For example, setting <code>StartTime</code> to 10000 and <code>EndTime</code>\n            to 50000 only searches for your specified criteria in the audio contained between the\n            10,000 millisecond mark and the 50,000 millisecond mark of your media file. You must use\n                <code>StartTime</code> and <code>EndTime</code> as a set; that is, if you include\n            one, you must include both.</p>\n         <p>You can use also <code>First</code> to search from the start of the audio until the\n            time that  you specify, or <code>Last</code> to search from the time that you specify\n            until the end of the audio. For example, setting <code>First</code> to 50000 only\n            searches for your specified criteria in the audio contained between the start of the\n            media file to the 50,000 millisecond mark. You can use <code>First</code> and\n                <code>Last</code> independently of each other.</p>\n         <p>If you prefer to use percentage instead of milliseconds, see .</p>"
            }
        },
        "com.amazonaws.transcribe#BadRequestException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.transcribe#FailureReason"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Your request didn't pass one or more validation tests. This can occur when the entity\n            you're trying to delete doesn't exist or if it's in a non-terminal state (such as\n                <code>IN PROGRESS</code>). See the exception message field for more\n            information.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.transcribe#BaseModelName": {
            "type": "enum",
            "members": {
                "NARROW_BAND": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NarrowBand"
                    }
                },
                "WIDE_BAND": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "WideBand"
                    }
                }
            }
        },
        "com.amazonaws.transcribe#Boolean": {
            "type": "boolean"
        },
        "com.amazonaws.transcribe#CLMLanguageCode": {
            "type": "enum",
            "members": {
                "EN_US": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "en-US"
                    }
                },
                "HI_IN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "hi-IN"
                    }
                },
                "ES_US": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "es-US"
                    }
                },
                "EN_GB": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "en-GB"
                    }
                },
                "EN_AU": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "en-AU"
                    }
                },
                "DE_DE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "de-DE"
                    }
                },
                "JA_JP": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ja-JP"
                    }
                }
            }
        },
        "com.amazonaws.transcribe#CallAnalyticsFeature": {
            "type": "enum",
            "members": {
                "GENERATIVE_SUMMARIZATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "GENERATIVE_SUMMARIZATION"
                    }
                }
            }
        },
        "com.amazonaws.transcribe#CallAnalyticsJob": {
            "type": "structure",
            "members": {
                "CallAnalyticsJobName": {
                    "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Call Analytics job. Job names are case sensitive and must be unique\n            within an Amazon Web Services account.</p>"
                    }
                },
                "CallAnalyticsJobStatus": {
                    "target": "com.amazonaws.transcribe#CallAnalyticsJobStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides the status of the specified Call Analytics job.</p>\n         <p>If the status is <code>COMPLETED</code>, the job is finished and you can find the\n            results at the location specified in <code>TranscriptFileUri</code> (or\n                <code>RedactedTranscriptFileUri</code>, if you requested transcript redaction). If\n            the status is <code>FAILED</code>, <code>FailureReason</code> provides details on why\n            your transcription job failed.</p>"
                    }
                },
                "CallAnalyticsJobDetails": {
                    "target": "com.amazonaws.transcribe#CallAnalyticsJobDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides detailed information about a call analytics job, including information about skipped analytics features.</p>"
                    }
                },
                "LanguageCode": {
                    "target": "com.amazonaws.transcribe#LanguageCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The language code used to create your Call Analytics job. For a list of supported\n            languages and their associated language codes, refer to the <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a>\n            table.</p>\n         <p>If you do not know the language spoken in your media file, you can omit this field and\n            let Amazon Transcribe automatically identify the language of your media. To improve the\n            accuracy of language identification, you can include several language codes and Amazon Transcribe chooses the closest match for your transcription.</p>"
                    }
                },
                "MediaSampleRateHertz": {
                    "target": "com.amazonaws.transcribe#MediaSampleRateHertz",
                    "traits": {
                        "smithy.api#documentation": "<p>The sample rate, in hertz, of the audio track in your input media file.</p>"
                    }
                },
                "MediaFormat": {
                    "target": "com.amazonaws.transcribe#MediaFormat",
                    "traits": {
                        "smithy.api#documentation": "<p>The format of the input media file.</p>"
                    }
                },
                "Media": {
                    "target": "com.amazonaws.transcribe#Media",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides the Amazon S3 location of the media file you used in your Call\n            Analytics request.</p>"
                    }
                },
                "Transcript": {
                    "target": "com.amazonaws.transcribe#Transcript"
                },
                "StartTime": {
                    "target": "com.amazonaws.transcribe#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the specified Call Analytics job began processing.</p>\n         <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.789000-07:00</code> represents a transcription job\n            that started processing at 12:32 PM UTC-7 on May 4, 2022.</p>"
                    }
                },
                "CreationTime": {
                    "target": "com.amazonaws.transcribe#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the specified Call Analytics job request was made.</p>\n         <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.761000-07:00</code> represents a transcription job\n            that started processing at 12:32 PM UTC-7 on May 4, 2022.</p>"
                    }
                },
                "CompletionTime": {
                    "target": "com.amazonaws.transcribe#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the specified Call Analytics job finished processing.</p>\n         <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:33:13.922000-07:00</code> represents a transcription job\n            that started processing at 12:33 PM UTC-7 on May 4, 2022.</p>"
                    }
                },
                "FailureReason": {
                    "target": "com.amazonaws.transcribe#FailureReason",
                    "traits": {
                        "smithy.api#documentation": "<p>If <code>CallAnalyticsJobStatus</code> is <code>FAILED</code>,\n                <code>FailureReason</code> contains information about why the Call Analytics job\n            request failed.</p>\n         <p>The <code>FailureReason</code> field contains one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Unsupported media format</code>.</p>\n               <p>The media format specified in <code>MediaFormat</code> isn't valid. Refer to\n                    refer to the <code>MediaFormat</code> parameter for a list of supported\n                    formats.</p>\n            </li>\n            <li>\n               <p>\n                  <code>The media format provided does not match the detected media\n                        format</code>.</p>\n               <p>The media format specified in <code>MediaFormat</code> doesn't match the\n                    format of the input file. Check the media format of your media file and correct\n                    the specified value.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Invalid sample rate for audio file</code>.</p>\n               <p>The sample rate specified in <code>MediaSampleRateHertz</code> isn't valid.\n                    The sample rate must be between 8,000 and 48,000 hertz.</p>\n            </li>\n            <li>\n               <p>\n                  <code>The sample rate provided does not match the detected sample\n                    rate</code>.</p>\n               <p>The sample rate specified in <code>MediaSampleRateHertz</code> doesn't match\n                    the sample rate detected in your input media file. Check the sample rate of your\n                    media file and correct the specified value.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Invalid file size: file size too large</code>.</p>\n               <p>The size of your media file is larger than what Amazon Transcribe can\n                    process. For more information, refer to <a href=\"https://docs.aws.amazon.com/general/latest/gr/transcribe.html#limits-amazon-transcribe\">Service \n                        quotas</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Invalid number of channels: number of channels too large</code>.</p>\n               <p>Your audio contains more channels than Amazon Transcribe is able to process.\n                    For more information, refer to <a href=\"https://docs.aws.amazon.com/general/latest/gr/transcribe.html#limits-amazon-transcribe\">Service \n                        quotas</a>.</p>\n            </li>\n         </ul>"
                    }
                },
                "DataAccessRoleArn": {
                    "target": "com.amazonaws.transcribe#DataAccessRoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) you included in your request.</p>"
                    }
                },
                "IdentifiedLanguageScore": {
                    "target": "com.amazonaws.transcribe#IdentifiedLanguageScore",
                    "traits": {
                        "smithy.api#documentation": "<p>The confidence score associated with the language identified in your media\n            file.</p>\n         <p>Confidence scores are values between 0 and 1; a larger value indicates a higher\n            probability that the identified language correctly matches the language spoken in your\n            media.</p>"
                    }
                },
                "Settings": {
                    "target": "com.amazonaws.transcribe#CallAnalyticsJobSettings",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides information on any additional settings that were included in your request.\n            Additional settings include content redaction and language identification\n            settings.</p>"
                    }
                },
                "ChannelDefinitions": {
                    "target": "com.amazonaws.transcribe#ChannelDefinitions",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates which speaker is on which channel.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.transcribe#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags, each in the form of a key:value pair, assigned to the specified\n            call analytics job.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides detailed information about a Call Analytics job.</p>\n         <p>To view the job's status, refer to <code>CallAnalyticsJobStatus</code>. If the status\n            is <code>COMPLETED</code>, the job is finished. You can find your completed transcript\n            at the URI specified in <code>TranscriptFileUri</code>. If the status is\n                <code>FAILED</code>, <code>FailureReason</code> provides details on why your\n            transcription job failed.</p>\n         <p>If you enabled personally identifiable information (PII) redaction, the redacted\n            transcript appears at the location specified in\n            <code>RedactedTranscriptFileUri</code>.</p>\n         <p>If you chose to redact the audio in your media file, you can find your redacted media\n            file at the location specified in the <code>RedactedMediaFileUri</code> field of your\n            response.</p>"
            }
        },
        "com.amazonaws.transcribe#CallAnalyticsJobDetails": {
            "type": "structure",
            "members": {
                "Skipped": {
                    "target": "com.amazonaws.transcribe#CallAnalyticsSkippedFeatureList",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains information about any skipped analytics features during the analysis of a call analytics job.</p>\n         <p>This array lists all the analytics features that were skipped, along with their corresponding reason code and message.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains details about a call analytics job, including information about skipped analytics features.</p>"
            }
        },
        "com.amazonaws.transcribe#CallAnalyticsJobName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 200
                },
                "smithy.api#pattern": "^[0-9a-zA-Z._-]+$"
            }
        },
        "com.amazonaws.transcribe#CallAnalyticsJobSettings": {
            "type": "structure",
            "members": {
                "VocabularyName": {
                    "target": "com.amazonaws.transcribe#VocabularyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the custom vocabulary you want to include in your Call Analytics\n            transcription request. Custom vocabulary names are case sensitive.</p>"
                    }
                },
                "VocabularyFilterName": {
                    "target": "com.amazonaws.transcribe#VocabularyFilterName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the custom vocabulary filter you want to include in your Call Analytics\n            transcription request. Custom vocabulary filter names are case sensitive.</p>\n         <p>Note that if you include <code>VocabularyFilterName</code> in your request, you must\n            also include <code>VocabularyFilterMethod</code>.</p>"
                    }
                },
                "VocabularyFilterMethod": {
                    "target": "com.amazonaws.transcribe#VocabularyFilterMethod",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify how you want your custom vocabulary filter applied to your transcript.</p>\n         <p>To replace words with <code>***</code>, choose <code>mask</code>.</p>\n         <p>To delete words, choose <code>remove</code>.</p>\n         <p>To flag words without changing them, choose <code>tag</code>.</p>"
                    }
                },
                "LanguageModelName": {
                    "target": "com.amazonaws.transcribe#ModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the custom language model you want to use when processing your Call\n            Analytics job. Note that custom language model names are case sensitive.</p>\n         <p>The language of the specified custom language model must match the language code that\n            you specify in your transcription request. If the languages do not match, the custom\n            language model isn't applied. There are no errors or warnings associated with a language\n            mismatch.</p>"
                    }
                },
                "ContentRedaction": {
                    "target": "com.amazonaws.transcribe#ContentRedaction"
                },
                "LanguageOptions": {
                    "target": "com.amazonaws.transcribe#LanguageOptions",
                    "traits": {
                        "smithy.api#documentation": "<p>You can specify two or more language codes that represent the languages you think may\n            be present in your media. Including more than five is not recommended. If you're unsure\n            what languages are present, do not include this parameter.</p>\n         <p>Including language options can improve the accuracy of language identification.</p>\n         <p>For a list of languages supported with Call Analytics, refer to the <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported\n                languages</a> table.</p>\n         <p>To transcribe speech in Modern Standard Arabic (<code>ar-SA</code>) in Amazon Web Services GovCloud (US) (US-West, us-gov-west-1), Amazon Web Services GovCloud (US) (US-East, us-gov-east-1), Canada (Calgary) ca-west-1 and Africa (Cape Town) af-south-1, your media file\n            must be encoded at a sample rate of 16,000 Hz or higher.</p>"
                    }
                },
                "LanguageIdSettings": {
                    "target": "com.amazonaws.transcribe#LanguageIdSettingsMap",
                    "traits": {
                        "smithy.api#documentation": "<p>If using automatic language identification in your request and you want to apply a\n            custom language model, a custom vocabulary, or a custom vocabulary filter, include\n                <code>LanguageIdSettings</code> with the relevant sub-parameters\n                (<code>VocabularyName</code>, <code>LanguageModelName</code>, and\n                <code>VocabularyFilterName</code>).</p>\n         <p>\n            <code>LanguageIdSettings</code> supports two to five language codes. Each language\n            code you include can have an associated custom language model, custom vocabulary, and\n            custom vocabulary filter. The language codes that you specify must match the languages\n            of the associated custom language models, custom vocabularies, and custom vocabulary\n            filters.</p>\n         <p>It's recommended that you include <code>LanguageOptions</code> when using\n                <code>LanguageIdSettings</code> to ensure that the correct language dialect is\n            identified. For example, if you specify a custom vocabulary that is in\n                <code>en-US</code> but Amazon Transcribe determines that the language spoken in\n            your media is <code>en-AU</code>, your custom vocabulary <i>is not</i>\n            applied to your transcription. If you include <code>LanguageOptions</code> and include\n                <code>en-US</code> as the only English language dialect, your custom vocabulary\n                <i>is</i> applied to your transcription.</p>\n         <p>If you want to include a custom language model, custom vocabulary, or custom\n            vocabulary filter with your request but <b>do not</b> want to\n            use automatic language identification, use instead the <code></code> parameter with the\n                <code>LanguageModelName</code>, <code>VocabularyName</code>, or\n                <code>VocabularyFilterName</code> sub-parameters.</p>\n         <p>For a list of languages supported with Call Analytics, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages and \n            language-specific features</a>.</p>"
                    }
                },
                "Summarization": {
                    "target": "com.amazonaws.transcribe#Summarization",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains <code>GenerateAbstractiveSummary</code>, which is a required parameter if you \n\t    want to enable Generative call summarization in your Call Analytics request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides additional optional settings for your  request, including content redaction,\n            automatic language identification; allows you to apply custom language models, custom\n            vocabulary filters, and custom vocabularies.</p>"
            }
        },
        "com.amazonaws.transcribe#CallAnalyticsJobStatus": {
            "type": "enum",
            "members": {
                "QUEUED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "QUEUED"
                    }
                },
                "IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IN_PROGRESS"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "COMPLETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETED"
                    }
                }
            }
        },
        "com.amazonaws.transcribe#CallAnalyticsJobSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.transcribe#CallAnalyticsJobSummary"
            }
        },
        "com.amazonaws.transcribe#CallAnalyticsJobSummary": {
            "type": "structure",
            "members": {
                "CallAnalyticsJobName": {
                    "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Call Analytics job. Job names are case sensitive and must be unique\n            within an Amazon Web Services account.</p>"
                    }
                },
                "CreationTime": {
                    "target": "com.amazonaws.transcribe#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the specified Call Analytics job request was made.</p>\n         <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.761000-07:00</code> represents a transcription job\n            that started processing at 12:32 PM UTC-7 on May 4, 2022.</p>"
                    }
                },
                "StartTime": {
                    "target": "com.amazonaws.transcribe#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time your Call Analytics job began processing.</p>\n         <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.789000-07:00</code> represents a transcription job\n            that started processing at 12:32 PM UTC-7 on May 4, 2022.</p>"
                    }
                },
                "CompletionTime": {
                    "target": "com.amazonaws.transcribe#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the specified Call Analytics job finished processing.</p>\n         <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:33:13.922000-07:00</code> represents a transcription job\n            that started processing at 12:33 PM UTC-7 on May 4, 2022.</p>"
                    }
                },
                "LanguageCode": {
                    "target": "com.amazonaws.transcribe#LanguageCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The language code used to create your Call Analytics transcription.</p>"
                    }
                },
                "CallAnalyticsJobStatus": {
                    "target": "com.amazonaws.transcribe#CallAnalyticsJobStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides the status of your Call Analytics job.</p>\n         <p>If the status is <code>COMPLETED</code>, the job is finished and you can find the\n            results at the location specified in <code>TranscriptFileUri</code> (or\n                <code>RedactedTranscriptFileUri</code>, if you requested transcript redaction). If\n            the status is <code>FAILED</code>, <code>FailureReason</code> provides details on why\n            your transcription job failed.</p>"
                    }
                },
                "CallAnalyticsJobDetails": {
                    "target": "com.amazonaws.transcribe#CallAnalyticsJobDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides detailed information about a call analytics job, including information about skipped analytics features.</p>"
                    }
                },
                "FailureReason": {
                    "target": "com.amazonaws.transcribe#FailureReason",
                    "traits": {
                        "smithy.api#documentation": "<p>If <code>CallAnalyticsJobStatus</code> is <code>FAILED</code>,\n                <code>FailureReason</code> contains information about why the Call Analytics job\n            failed. See also: <a href=\"https://docs.aws.amazon.com/transcribe/latest/APIReference/CommonErrors.html\">Common Errors</a>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides detailed information about a specific Call Analytics job.</p>"
            }
        },
        "com.amazonaws.transcribe#CallAnalyticsSkippedFeature": {
            "type": "structure",
            "members": {
                "Feature": {
                    "target": "com.amazonaws.transcribe#CallAnalyticsFeature",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates the type of analytics feature that was skipped during the analysis of a call analytics job.</p>"
                    }
                },
                "ReasonCode": {
                    "target": "com.amazonaws.transcribe#CallAnalyticsSkippedReasonCode",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides a code indicating the reason why a specific analytics feature was skipped during the analysis of a call analytics job.</p>"
                    }
                },
                "Message": {
                    "target": "com.amazonaws.transcribe#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains additional information or a message explaining why a specific analytics feature was skipped during the analysis of a call analytics job.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents a skipped analytics feature during the analysis of a call analytics job.</p>\n         <p>The <code>Feature</code> field indicates the type of analytics feature that was skipped.</p>\n         <p>The <code>Message</code> field contains additional information or a message explaining why the analytics feature was skipped.</p>\n         <p>The <code>ReasonCode</code> field provides a code indicating the reason why the analytics feature was skipped.</p>"
            }
        },
        "com.amazonaws.transcribe#CallAnalyticsSkippedFeatureList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.transcribe#CallAnalyticsSkippedFeature"
            }
        },
        "com.amazonaws.transcribe#CallAnalyticsSkippedReasonCode": {
            "type": "enum",
            "members": {
                "INSUFFICIENT_CONVERSATION_CONTENT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "INSUFFICIENT_CONVERSATION_CONTENT"
                    }
                },
                "FAILED_SAFETY_GUIDELINES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED_SAFETY_GUIDELINES"
                    }
                }
            }
        },
        "com.amazonaws.transcribe#CategoryName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 200
                },
                "smithy.api#pattern": "^[0-9a-zA-Z._-]+$"
            }
        },
        "com.amazonaws.transcribe#CategoryProperties": {
            "type": "structure",
            "members": {
                "CategoryName": {
                    "target": "com.amazonaws.transcribe#CategoryName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Call Analytics category. Category names are case sensitive and must be\n            unique within an Amazon Web Services account.</p>"
                    }
                },
                "Rules": {
                    "target": "com.amazonaws.transcribe#RuleList",
                    "traits": {
                        "smithy.api#documentation": "<p>The rules used to define a Call Analytics category. Each category can have between 1\n            and 20 rules.</p>"
                    }
                },
                "CreateTime": {
                    "target": "com.amazonaws.transcribe#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the specified Call Analytics category was created.</p>\n         <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.761000-07:00</code> represents 12:32 PM UTC-7 on May\n            4, 2022.</p>"
                    }
                },
                "LastUpdateTime": {
                    "target": "com.amazonaws.transcribe#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time the specified Call Analytics category was last updated.</p>\n         <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-05T12:45:32.691000-07:00</code> represents 12:45 PM UTC-7 on May\n            5, 2022.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.transcribe#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags, each in the form of a key:value pair, assigned to the specified\n            call analytics category.</p>"
                    }
                },
                "InputType": {
                    "target": "com.amazonaws.transcribe#InputType",
                    "traits": {
                        "smithy.api#documentation": "<p>The input type associated with the specified category. <code>POST_CALL</code> \n            refers to a category that is applied to batch transcriptions; <code>REAL_TIME</code> \n            refers to a category that is applied to streaming transcriptions.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Provides you with the properties of the Call Analytics category you specified in your\n            request. This includes the list of rules that define the specified category.</p>"
            }
        },
        "com.amazonaws.transcribe#CategoryPropertiesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.transcribe#CategoryProperties"
            }
        },
        "com.amazonaws.transcribe#ChannelDefinition": {
            "type": "structure",
            "members": {
                "ChannelId": {
                    "target": "com.amazonaws.transcribe#ChannelId",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Specify the audio channel you want to define.</p>"
                    }
                },
                "ParticipantRole": {
                    "target": "com.amazonaws.transcribe#ParticipantRole",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify the speaker you want to define. Omitting this parameter is equivalent to\n            specifying both participants.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Makes it possible to specify which speaker is on which channel. For example, if your\n            agent is the first participant to speak, you would set <code>ChannelId</code> to\n                <code>0</code> (to indicate the first channel) and <code>ParticipantRole</code> to\n                <code>AGENT</code> (to indicate that it's the agent speaking).</p>"
            }
        },
        "com.amazonaws.transcribe#ChannelDefinitions": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.transcribe#ChannelDefinition"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 2,
                    "max": 2
                }
            }
        },
        "com.amazonaws.transcribe#ChannelId": {
            "type": "integer",
            "traits": {
                "smithy.api#default": 0,
                "smithy.api#range": {
                    "min": 0,
                    "max": 1
                }
            }
        },
        "com.amazonaws.transcribe#ClinicalNoteGenerationSettings": {
            "type": "structure",
            "members": {
                "NoteTemplate": {
                    "target": "com.amazonaws.transcribe#MedicalScribeNoteTemplate",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify one of the following templates to use for the clinical note summary. The default is <code>HISTORY_AND_PHYSICAL</code>.</p>\n         <ul>\n            <li>\n               <p>HISTORY_AND_PHYSICAL: Provides summaries for key sections of the clinical documentation. Examples of sections include Chief Complaint, History of Present Illness, Review of Systems, Past Medical History, Assessment, and Plan.\n                </p>\n            </li>\n            <li>\n               <p>GIRPP: Provides summaries based on the patients progress toward goals. Examples of sections include Goal, Intervention,\n                    Response, Progress, and Plan.</p>\n            </li>\n         </ul>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The output configuration for clinical note generation.</p>"
            }
        },
        "com.amazonaws.transcribe#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.transcribe#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A resource already exists with this name. Resource names must be unique within an\n                Amazon Web Services account.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.transcribe#ContentRedaction": {
            "type": "structure",
            "members": {
                "RedactionType": {
                    "target": "com.amazonaws.transcribe#RedactionType",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify the category of information you want to redact; <code>PII</code> (personally\n            identifiable information) is the only valid value. You can use <code>PiiEntityTypes</code> to \n            choose which types of PII you want to redact. If you do not include <code>PiiEntityTypes</code> in \n            your request, all PII is redacted.</p>",
                        "smithy.api#required": {}
                    }
                },
                "RedactionOutput": {
                    "target": "com.amazonaws.transcribe#RedactionOutput",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify if you want only a redacted transcript, or if you want a redacted and an\n            unredacted transcript.</p>\n         <p>When you choose <code>redacted</code>\n            Amazon Transcribe creates only a redacted transcript.</p>\n         <p>When you choose <code>redacted_and_unredacted</code>\n            Amazon Transcribe creates a redacted and an unredacted transcript (as two separate\n            files).</p>",
                        "smithy.api#required": {}
                    }
                },
                "PiiEntityTypes": {
                    "target": "com.amazonaws.transcribe#PiiEntityTypes",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify which types of personally identifiable information (PII) you want to redact in\n            your transcript. You can include as many types as you'd like, or you can select\n            <code>ALL</code>. If you do not include <code>PiiEntityTypes</code> in your request, all PII is \n            redacted.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Makes it possible to redact or flag specified personally identifiable information (PII) in \n            your transcript. If you use <code>ContentRedaction</code>, you must also include the \n            sub-parameters: <code>RedactionOutput</code> and <code>RedactionType</code>. You can \n            optionally include <code>PiiEntityTypes</code> to choose which types of PII you want to \n            redact.</p>"
            }
        },
        "com.amazonaws.transcribe#CreateCallAnalyticsCategory": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.transcribe#CreateCallAnalyticsCategoryRequest"
            },
            "output": {
                "target": "com.amazonaws.transcribe#CreateCallAnalyticsCategoryResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.transcribe#BadRequestException"
                },
                {
                    "target": "com.amazonaws.transcribe#ConflictException"
                },
                {
                    "target": "com.amazonaws.transcribe#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.transcribe#LimitExceededException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new Call Analytics category.</p>\n         <p>All categories are automatically applied to your Call Analytics transcriptions. Note that in\n            order to apply categories to your transcriptions, you must create them before submitting your\n            transcription request, as categories cannot be applied retroactively.</p>\n         <p>When creating a new category, you can use the <code>InputType</code> parameter to \n            label the category as a <code>POST_CALL</code> or a <code>REAL_TIME</code> category. \n            <code>POST_CALL</code> categories can only be applied to post-call transcriptions and \n            <code>REAL_TIME</code> categories can only be applied to real-time transcriptions. If you \n            do not include <code>InputType</code>, your category is created as a \n            <code>POST_CALL</code> category by default.</p>\n         <p>Call Analytics categories are composed of rules. For each category, you must create\n            between 1 and 20 rules. Rules can include these parameters: , , , and .</p>\n         <p>To update an existing category, see .</p>\n         <p>To learn more about Call Analytics categories, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tca-categories-batch.html\">Creating categories for post-call\n            transcriptions</a> and <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tca-categories-stream.html\">Creating categories for\n                real-time transcriptions</a>.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/callanalyticscategories/{CategoryName}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.transcribe#CreateCallAnalyticsCategoryRequest": {
            "type": "structure",
            "members": {
                "CategoryName": {
                    "target": "com.amazonaws.transcribe#CategoryName",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name, chosen by you, for your Call Analytics category. It's helpful to use a\n            detailed naming system that will make sense to you in the future. For example, it's\n            better to use <code>sentiment-positive-last30seconds</code> for a category over a\n            generic name like <code>test-category</code>.</p>\n         <p>Category names are case sensitive.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Rules": {
                    "target": "com.amazonaws.transcribe#RuleList",
                    "traits": {
                        "smithy.api#documentation": "<p>Rules define a Call Analytics category. When creating a new category, you must create \n            between 1 and 20 rules for that category. For each rule, you specify a filter you want \n            applied to the attributes of a call. For example, you can choose a sentiment filter that \n            detects if a customer's sentiment was positive during the last 30 seconds of the call.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.transcribe#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Adds one or more custom tags, each in the form of a key:value pair, to a new\n            call analytics category at the time you start this new job.</p>\n         <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging\n            resources</a>.</p>"
                    }
                },
                "InputType": {
                    "target": "com.amazonaws.transcribe#InputType",
                    "traits": {
                        "smithy.api#documentation": "<p>Choose whether you want to create a real-time or a post-call category for your Call \n            Analytics transcription.</p>\n         <p>Specifying <code>POST_CALL</code> assigns your category to post-call transcriptions; \n            categories with this input type cannot be applied to streaming (real-time) \n            transcriptions.</p>\n         <p>Specifying <code>REAL_TIME</code> assigns your category to streaming transcriptions; \n            categories with this input type cannot be applied to post-call transcriptions.</p>\n         <p>If you do not include <code>InputType</code>, your category is created as a post-call \n            category by default.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.transcribe#CreateCallAnalyticsCategoryResponse": {
            "type": "structure",
            "members": {
                "CategoryProperties": {
                    "target": "com.amazonaws.transcribe#CategoryProperties",
                    "traits": {
                        "smithy.api#documentation": "<p>Provides you with the properties of your new category, including its associated\n            rules.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.transcribe#CreateLanguageModel": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.transcribe#CreateLanguageModelRequest"
            },
            "output": {
                "target": "com.amazonaws.transcribe#CreateLanguageModelResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.transcribe#BadRequestException"
                },
                {
                    "target": "com.amazonaws.transcribe#ConflictException"
                },
                {
                    "target": "com.amazonaws.transcribe#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.transcribe#LimitExceededException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new custom language model.</p>\n         <p>When creating a new custom language model, you must specify:</p>\n         <ul>\n            <li>\n               <p>If you want a Wideband (audio sample rates over 16,000 Hz) or Narrowband\n                    (audio sample rates under 16,000 Hz) base model</p>\n            </li>\n            <li>\n               <p>The location of your training and tuning files (this must be an Amazon S3 URI)</p>\n            </li>\n            <li>\n               <p>The language of your model</p>\n            </li>\n            <li>\n               <p>A unique name for your model</p>\n            </li>\n         </ul>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/languagemodels/{ModelName}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.transcribe#CreateLanguageModelRequest": {
            "type": "structure",
            "members": {
                "LanguageCode": {
                    "target": "com.amazonaws.transcribe#CLMLanguageCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The language code that represents the language of your model. Each custom language\n            model must contain terms in only one language, and the language you select for your\n            custom language model must match the language of your training and tuning data.</p>\n         <p>For a list of supported languages and their associated language codes, refer to the\n                <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> table. Note that US English (<code>en-US</code>) is the \n            only language supported with Amazon Transcribe Medical.</p>\n         <p>A custom language model can only be used to transcribe files in the same language as\n            the model. For example, if you create a custom language model using US English\n                (<code>en-US</code>), you can only apply this model to files that contain English\n            audio.</p>",
                        "smithy.api#required": {}
                    }
                },
                "BaseModelName": {
                    "target": "com.amazonaws.transcribe#BaseModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Transcribe standard language model, or base model, used to create your\n            custom language model. Amazon Transcribe offers two options for base models: Wideband\n            and Narrowband.</p>\n         <p>If the audio you want to transcribe has a sample rate of 16,000 Hz or greater, choose\n                <code>WideBand</code>. To transcribe audio with a sample rate less than 16,000 Hz,\n            choose <code>NarrowBand</code>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ModelName": {
                    "target": "com.amazonaws.transcribe#ModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name, chosen by you, for your custom language model.</p>\n         <p>This name is case sensitive, cannot contain spaces, and must be unique within an\n                Amazon Web Services account. If you try to create a new custom language model with\n            the same name as an existing custom language model, you get a\n                <code>ConflictException</code> error.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "InputDataConfig": {
                    "target": "com.amazonaws.transcribe#InputDataConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Contains the Amazon S3 location of the training data you want to use to create\n            a new custom language model, and permissions to access this location.</p>\n         <p>When using <code>InputDataConfig</code>, you must include these sub-parameters:\n                <code>S3Uri</code>, which is the Amazon S3 location of your training data,\n            and <code>DataAccessRoleArn</code>, which is the Amazon Resource Name (ARN) of the role\n            that has permission to access your specified Amazon S3 location. You can\n            optionally include <code>TuningDataS3Uri</code>, which is the Amazon S3 location\n            of your tuning data. If you specify different Amazon S3 locations for training\n            and tuning data, the ARN you use must have permissions to access both locations.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.transcribe#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Adds one or more custom tags, each in the form of a key:value pair, to a new custom\n            language model at the time you create this new model.</p>\n         <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging\n                resources</a>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.transcribe#CreateLanguageModelResponse": {
            "type": "structure",
            "members": {
                "LanguageCode": {
                    "target": "com.amazonaws.transcribe#CLMLanguageCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The language code you selected for your custom language model.</p>"
                    }
                },
                "BaseModelName": {
                    "target": "com.amazonaws.transcribe#BaseModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Transcribe standard language model, or base model, you specified when\n            creating your custom language model.</p>"
                    }
                },
                "ModelName": {
                    "target": "com.amazonaws.transcribe#ModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of your custom language model.</p>"
                    }
                },
                "InputDataConfig": {
                    "target": "com.amazonaws.transcribe#InputDataConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Lists your data access role ARN (Amazon Resource Name) and the Amazon S3\n            locations you provided for your training (<code>S3Uri</code>) and tuning\n                (<code>TuningDataS3Uri</code>) data.</p>"
                    }
                },
                "ModelStatus": {
                    "target": "com.amazonaws.transcribe#ModelStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of your custom language model. When the status displays as\n                <code>COMPLETED</code>, your model is ready to use.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.transcribe#CreateMedicalVocabulary": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.transcribe#CreateMedicalVocabularyRequest"
            },
            "output": {
                "target": "com.amazonaws.transcribe#CreateMedicalVocabularyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.transcribe#BadRequestException"
                },
                {
                    "target": "com.amazonaws.transcribe#ConflictException"
                },
                {
                    "target": "com.amazonaws.transcribe#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.transcribe#LimitExceededException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new custom medical vocabulary.</p>\n         <p>Before creating a new custom medical vocabulary, you must first upload a text file\n            that contains your vocabulary table into an Amazon S3 bucket.\n            Note that this differs from , where you can\n            include a list of terms within your request using the <code>Phrases</code> flag;\n                <code>CreateMedicalVocabulary</code> does not support the <code>Phrases</code>\n            flag and only accepts vocabularies in table format.</p>\n         <p>Each language has a character set that contains all allowed characters for that\n            specific language. If you use unsupported characters, your custom vocabulary request\n            fails. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for Custom Vocabularies</a> to get the character set for your\n            language.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-vocabulary.html\">Custom\n            vocabularies</a>.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/medicalvocabularies/{VocabularyName}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.transcribe#CreateMedicalVocabularyRequest": {
            "type": "structure",
            "members": {
                "VocabularyName": {
                    "target": "com.amazonaws.transcribe#VocabularyName",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name, chosen by you, for your new custom medical vocabulary.</p>\n         <p>This name is case sensitive, cannot contain spaces, and must be unique within an\n                Amazon Web Services account. If you try to create a new custom medical vocabulary\n            with the same name as an existing custom medical vocabulary, you get a\n                <code>ConflictException</code> error.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "LanguageCode": {
                    "target": "com.amazonaws.transcribe#LanguageCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The language code that represents the language of the entries in your custom\n            vocabulary. US English (<code>en-US</code>) is the only language supported with Amazon Transcribe Medical.</p>",
                        "smithy.api#required": {}
                    }
                },
                "VocabularyFileUri": {
                    "target": "com.amazonaws.transcribe#Uri",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 location (URI) of the text file that contains your custom\n            medical vocabulary. The URI must be in the same Amazon Web Services Region as the\n            resource you're calling.</p>\n         <p>Here's an example URI path:\n            <code>s3://DOC-EXAMPLE-BUCKET/my-vocab-file.txt</code>\n         </p>",
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.transcribe#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Adds one or more custom tags, each in the form of a key:value pair, to a new custom\n            medical vocabulary at the time you create this new custom vocabulary.</p>\n         <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging\n                resources</a>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.transcribe#CreateMedicalVocabularyResponse": {
            "type": "structure",
            "members": {
                "VocabularyName": {
                    "target": "com.amazonaws.transcribe#VocabularyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name you chose for your custom medical vocabulary.</p>"
                    }
                },
                "LanguageCode": {
                    "target": "com.amazonaws.transcribe#LanguageCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The language code you selected for your custom medical vocabulary. US English\n                (<code>en-US</code>) is the only language supported with Amazon Transcribe\n            Medical.</p>"
                    }
                },
                "VocabularyState": {
                    "target": "com.amazonaws.transcribe#VocabularyState",
                    "traits": {
                        "smithy.api#documentation": "<p>The processing state of your custom medical vocabulary. If the state is\n                <code>READY</code>, you can use the custom vocabulary in a\n                <code>StartMedicalTranscriptionJob</code> request.</p>"
                    }
                },
                "LastModifiedTime": {
                    "target": "com.amazonaws.transcribe#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time you created your custom medical vocabulary.</p>\n         <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.761000-07:00</code> represents 12:32 PM UTC-7 on May\n            4, 2022.</p>"
                    }
                },
                "FailureReason": {
                    "target": "com.amazonaws.transcribe#FailureReason",
                    "traits": {
                        "smithy.api#documentation": "<p>If <code>VocabularyState</code> is <code>FAILED</code>, <code>FailureReason</code>\n            contains information about why the medical transcription job request failed. See also:\n                <a href=\"https://docs.aws.amazon.com/transcribe/latest/APIReference/CommonErrors.html\">Common Errors</a>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.transcribe#CreateVocabulary": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.transcribe#CreateVocabularyRequest"
            },
            "output": {
                "target": "com.amazonaws.transcribe#CreateVocabularyResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.transcribe#BadRequestException"
                },
                {
                    "target": "com.amazonaws.transcribe#ConflictException"
                },
                {
                    "target": "com.amazonaws.transcribe#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.transcribe#LimitExceededException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new custom vocabulary.</p>\n         <p>When creating a new custom vocabulary, you can either upload a text file that contains\n            your new entries, phrases, and terms into an Amazon S3 bucket and include the\n            URI in your request. Or you can include a list of terms directly in your request using\n            the <code>Phrases</code> flag.</p>\n         <p>Each language has a character set that contains all allowed characters for that\n            specific language. If you use unsupported characters, your custom vocabulary request\n            fails. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for Custom Vocabularies</a> to get the character set for your\n            language.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-vocabulary.html\">Custom\n            vocabularies</a>.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/vocabularies/{VocabularyName}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.transcribe#CreateVocabularyFilter": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.transcribe#CreateVocabularyFilterRequest"
            },
            "output": {
                "target": "com.amazonaws.transcribe#CreateVocabularyFilterResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.transcribe#BadRequestException"
                },
                {
                    "target": "com.amazonaws.transcribe#ConflictException"
                },
                {
                    "target": "com.amazonaws.transcribe#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.transcribe#LimitExceededException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a new custom vocabulary filter.</p>\n         <p>You can use custom vocabulary filters to mask, delete, or flag specific words from\n            your transcript. Custom vocabulary filters are commonly used to mask profanity in\n            transcripts.</p>\n         <p>Each language has a character set that contains all allowed characters for that\n            specific language. If you use unsupported characters, your custom vocabulary filter\n            request fails. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for Custom\n                Vocabularies</a> to get the character set for your language.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/vocabulary-filtering.html\">Vocabulary\n            filtering</a>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/vocabularyFilters/{VocabularyFilterName}",
                    "code": 201
                }
            }
        },
        "com.amazonaws.transcribe#CreateVocabularyFilterRequest": {
            "type": "structure",
            "members": {
                "VocabularyFilterName": {
                    "target": "com.amazonaws.transcribe#VocabularyFilterName",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name, chosen by you, for your new custom vocabulary filter.</p>\n         <p>This name is case sensitive, cannot contain spaces, and must be unique within an\n                Amazon Web Services account. If you try to create a new custom vocabulary filter with\n            the same name as an existing custom vocabulary filter, you get a\n                <code>ConflictException</code> error.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "LanguageCode": {
                    "target": "com.amazonaws.transcribe#LanguageCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The language code that represents the language of the entries in your vocabulary\n            filter. Each custom vocabulary filter must contain terms in only one language.</p>\n         <p>A custom vocabulary filter can only be used to transcribe files in the same language\n            as the filter. For example, if you create a custom vocabulary filter using US English\n                (<code>en-US</code>), you can only apply this filter to files that contain English\n            audio.</p>\n         <p>For a list of supported languages and their associated language codes, refer to the\n                <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> table.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Words": {
                    "target": "com.amazonaws.transcribe#Words",
                    "traits": {
                        "smithy.api#documentation": "<p>Use this parameter if you want to create your custom vocabulary filter by including\n            all desired terms, as comma-separated values, within your request. The other option for\n            creating your vocabulary filter is to save your entries in a text file and upload them\n            to an Amazon S3 bucket, then specify the location of your file using the\n                <code>VocabularyFilterFileUri</code> parameter.</p>\n         <p>Note that if you include <code>Words</code> in your request, you cannot use\n                <code>VocabularyFilterFileUri</code>; you must choose one or the other.</p>\n         <p>Each language has a character set that contains all allowed characters for that\n            specific language. If you use unsupported characters, your custom vocabulary filter\n            request fails. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for Custom\n                Vocabularies</a> to get the character set for your language.</p>"
                    }
                },
                "VocabularyFilterFileUri": {
                    "target": "com.amazonaws.transcribe#Uri",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 location of the text file that contains your custom vocabulary\n            filter terms. The URI must be located in the same Amazon Web Services Region as the\n            resource you're calling.</p>\n         <p>Here's an example URI path:\n                <code>s3://DOC-EXAMPLE-BUCKET/my-vocab-filter-file.txt</code>\n         </p>\n         <p>Note that if you include <code>VocabularyFilterFileUri</code> in your request, you\n            cannot use <code>Words</code>; you must choose one or the other.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.transcribe#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Adds one or more custom tags, each in the form of a key:value pair, to a new custom\n            vocabulary filter at the time you create this new vocabulary filter.</p>\n         <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging\n                resources</a>.</p>"
                    }
                },
                "DataAccessRoleArn": {
                    "target": "com.amazonaws.transcribe#DataAccessRoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role that has permissions to\n            access the Amazon S3 bucket that contains your input files (in this case, your custom\n            vocabulary filter). If the role that you specify doesn’t have the appropriate permissions to access\n            the specified Amazon S3 location, your request fails.</p>\n         <p>IAM role ARNs have the format\n            <code>arn:partition:iam::account:role/role-name-with-path</code>. For example:\n            <code>arn:aws:iam::111122223333:role/Admin</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-arns\">IAM\n            ARNs</a>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.transcribe#CreateVocabularyFilterResponse": {
            "type": "structure",
            "members": {
                "VocabularyFilterName": {
                    "target": "com.amazonaws.transcribe#VocabularyFilterName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name you chose for your custom vocabulary filter.</p>"
                    }
                },
                "LanguageCode": {
                    "target": "com.amazonaws.transcribe#LanguageCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The language code you selected for your custom vocabulary filter.</p>"
                    }
                },
                "LastModifiedTime": {
                    "target": "com.amazonaws.transcribe#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time you created your custom vocabulary filter.</p>\n         <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.761000-07:00</code> represents 12:32 PM UTC-7 on May\n            4, 2022.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.transcribe#CreateVocabularyRequest": {
            "type": "structure",
            "members": {
                "VocabularyName": {
                    "target": "com.amazonaws.transcribe#VocabularyName",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique name, chosen by you, for your new custom vocabulary.</p>\n         <p>This name is case sensitive, cannot contain spaces, and must be unique within an\n                Amazon Web Services account. If you try to create a new custom vocabulary with the\n            same name as an existing custom vocabulary, you get a <code>ConflictException</code>\n            error.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "LanguageCode": {
                    "target": "com.amazonaws.transcribe#LanguageCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The language code that represents the language of the entries in your custom\n            vocabulary. Each custom vocabulary must contain terms in only one language.</p>\n         <p>A custom vocabulary can only be used to transcribe files in the same language as the\n            custom vocabulary. For example, if you create a custom vocabulary using US English\n                (<code>en-US</code>), you can only apply this custom vocabulary to files that\n            contain English audio.</p>\n         <p>For a list of supported languages and their associated language codes, refer to the\n                <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> table.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Phrases": {
                    "target": "com.amazonaws.transcribe#Phrases",
                    "traits": {
                        "smithy.api#documentation": "<p>Use this parameter if you want to create your custom vocabulary by including all\n            desired terms, as comma-separated values, within your request. The other option for\n            creating your custom vocabulary is to save your entries in a text file and upload them\n            to an Amazon S3 bucket, then specify the location of your file using the\n                <code>VocabularyFileUri</code> parameter.</p>\n         <p>Note that if you include <code>Phrases</code> in your request, you cannot use\n                <code>VocabularyFileUri</code>; you must choose one or the other.</p>\n         <p>Each language has a character set that contains all allowed characters for that\n            specific language. If you use unsupported characters, your custom vocabulary filter\n            request fails. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for Custom\n                Vocabularies</a> to get the character set for your language.</p>"
                    }
                },
                "VocabularyFileUri": {
                    "target": "com.amazonaws.transcribe#Uri",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon S3 location of the text file that contains your custom vocabulary.\n            The URI must be located in the same Amazon Web Services Region as the resource you're\n            calling.</p>\n         <p>Here's an example URI path:\n            <code>s3://DOC-EXAMPLE-BUCKET/my-vocab-file.txt</code>\n         </p>\n         <p>Note that if you include <code>VocabularyFileUri</code> in your request, you cannot\n            use the <code>Phrases</code> flag; you must choose one or the other.</p>"
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.transcribe#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Adds one or more custom tags, each in the form of a key:value pair, to a new custom\n            vocabulary at the time you create this new custom vocabulary.</p>\n         <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging\n                resources</a>.</p>"
                    }
                },
                "DataAccessRoleArn": {
                    "target": "com.amazonaws.transcribe#DataAccessRoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role that has permissions to\n            access the Amazon S3 bucket that contains your input files (in this case, your custom\n            vocabulary). If the role that you specify doesn’t have the appropriate permissions to access\n            the specified Amazon S3 location, your request fails.</p>\n         <p>IAM role ARNs have the format\n            <code>arn:partition:iam::account:role/role-name-with-path</code>. For example:\n            <code>arn:aws:iam::111122223333:role/Admin</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-arns\">IAM\n            ARNs</a>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.transcribe#CreateVocabularyResponse": {
            "type": "structure",
            "members": {
                "VocabularyName": {
                    "target": "com.amazonaws.transcribe#VocabularyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name you chose for your custom vocabulary.</p>"
                    }
                },
                "LanguageCode": {
                    "target": "com.amazonaws.transcribe#LanguageCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The language code you selected for your custom vocabulary.</p>"
                    }
                },
                "VocabularyState": {
                    "target": "com.amazonaws.transcribe#VocabularyState",
                    "traits": {
                        "smithy.api#documentation": "<p>The processing state of your custom vocabulary. If the state is <code>READY</code>,\n            you can use the custom vocabulary in a <code>StartTranscriptionJob</code>\n            request.</p>"
                    }
                },
                "LastModifiedTime": {
                    "target": "com.amazonaws.transcribe#DateTime",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time you created your custom vocabulary.</p>\n         <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For\n            example, <code>2022-05-04T12:32:58.761000-07:00</code> represents 12:32 PM UTC-7 on May\n            4, 2022.</p>"
                    }
                },
                "FailureReason": {
                    "target": "com.amazonaws.transcribe#FailureReason",
                    "traits": {
                        "smithy.api#documentation": "<p>If <code>VocabularyState</code> is <code>FAILED</code>, <code>FailureReason</code>\n            contains information about why the custom vocabulary request failed. See also: <a href=\"https://docs.aws.amazon.com/transcribe/latest/APIReference/CommonErrors.html\">Common\n                Errors</a>.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.transcribe#DataAccessRoleArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso-{0,1}[a-z]{0,1}):iam::[0-9]{0,63}:role/[A-Za-z0-9:_/+=,@.-]{0,1024}$"
            }
        },
        "com.amazonaws.transcribe#DateTime": {
            "type": "timestamp"
        },
        "com.amazonaws.transcribe#DeleteCallAnalyticsCategory": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryRequest"
            },
            "output": {
                "target": "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.transcribe#BadRequestException"
                },
                {
                    "target": "com.amazonaws.transcribe#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.transcribe#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.transcribe#NotFoundException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a Call Analytics category. To use this operation, specify the name of the\n            category you want to delete using <code>CategoryName</code>. Category names are case\n            sensitive.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/callanalyticscategories/{CategoryName}",
                    "code": 204
                }
            }
        },
        "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryRequest": {
            "type": "structure",
            "members": {
                "CategoryName": {
                    "target": "com.amazonaws.transcribe#CategoryName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Call Analytics category you want to delete. Category names are case\n            sensitive.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.transcribe#DeleteCallAnalyticsCategoryResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.transcribe#DeleteCallAnalyticsJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.transcribe#DeleteCallAnalyticsJobRequest"
            },
            "output": {
                "target": "com.amazonaws.transcribe#DeleteCallAnalyticsJobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.transcribe#BadRequestException"
                },
                {
                    "target": "com.amazonaws.transcribe#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.transcribe#LimitExceededException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a Call Analytics job. To use this operation, specify the name of the job you\n            want to delete using <code>CallAnalyticsJobName</code>. Job names are case\n            sensitive.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/callanalyticsjobs/{CallAnalyticsJobName}",
                    "code": 204
                }
            }
        },
        "com.amazonaws.transcribe#DeleteCallAnalyticsJobRequest": {
            "type": "structure",
            "members": {
                "CallAnalyticsJobName": {
                    "target": "com.amazonaws.transcribe#CallAnalyticsJobName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Call Analytics job you want to delete. Job names are case\n            sensitive.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.transcribe#DeleteCallAnalyticsJobResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.transcribe#DeleteLanguageModel": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.transcribe#DeleteLanguageModelRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.transcribe#BadRequestException"
                },
                {
                    "target": "com.amazonaws.transcribe#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.transcribe#LimitExceededException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a custom language model. To use this operation, specify the name of the\n            language model you want to delete using <code>ModelName</code>. custom language model\n            names are case sensitive.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/languagemodels/{ModelName}",
                    "code": 204
                }
            }
        },
        "com.amazonaws.transcribe#DeleteLanguageModelRequest": {
            "type": "structure",
            "members": {
                "ModelName": {
                    "target": "com.amazonaws.transcribe#ModelName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the custom language model you want to delete. Model names are case\n            sensitive.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.transcribe#DeleteMedicalScribeJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.transcribe#DeleteMedicalScribeJobRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.transcribe#BadRequestException"
                },
                {
                    "target": "com.amazonaws.transcribe#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.transcribe#LimitExceededException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a Medical Scribe job. To use this operation, specify the name of the\n            job you want to delete using <code>MedicalScribeJobName</code>. Job names are\n            case sensitive.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/medicalscribejobs/{MedicalScribeJobName}",
                    "code": 204
                }
            }
        },
        "com.amazonaws.transcribe#DeleteMedicalScribeJobRequest": {
            "type": "structure",
            "members": {
                "MedicalScribeJobName": {
                    "target": "com.amazonaws.transcribe#TranscriptionJobName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the Medical Scribe job you want to delete. Job names are case\n            sensitive.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.transcribe#DeleteMedicalTranscriptionJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.transcribe#DeleteMedicalTranscriptionJobRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.transcribe#BadRequestException"
                },
                {
                    "target": "com.amazonaws.transcribe#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.transcribe#LimitExceededException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a medical transcription job. To use this operation, specify the name of the\n            job you want to delete using <code>MedicalTranscriptionJobName</code>. Job names are\n            case sensitive.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/medicaltranscriptionjobs/{MedicalTranscriptionJobName}",
                    "code": 204
                }
            }
        },
        "com.amazonaws.transcribe#DeleteMedicalTranscriptionJobRequest": {
            "type": "structure",
            "members": {
                "MedicalTranscriptionJobName": {
                    "target": "com.amazonaws.transcribe#TranscriptionJobName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the medical transcription job you want to delete. Job names are case\n            sensitive.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.transcribe#DeleteMedicalVocabulary": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.transcribe#DeleteMedicalVocabularyRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.transcribe#BadRequestException"
                },
                {
                    "target": "com.amazonaws.transcribe#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.transcribe#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.transcribe#NotFoundException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a custom medical vocabulary. To use this operation, specify the name of the\n            custom vocabulary you want to delete using <code>VocabularyName</code>. Custom\n            vocabulary names are case sensitive.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/medicalvocabularies/{VocabularyName}",
                    "code": 204
                }
            }
        },
        "com.amazonaws.transcribe#DeleteMedicalVocabularyRequest": {
            "type": "structure",
            "members": {
                "VocabularyName": {
                    "target": "com.amazonaws.transcribe#VocabularyName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the custom medical vocabulary you want to delete. Custom medical\n            vocabulary names are case sensitive.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.transcribe#DeleteTranscriptionJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.transcribe#DeleteTranscriptionJobRequest"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.transcribe#BadRequestException"
                },
                {
                    "target": "com.amazonaws.transcribe#InternalFailureException"
                },
                {
                    "target": "com.amazonaws.transcribe#LimitExceededException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a transcription job. To use this operation, specify the name of the job you\n            want to delete using <code>TranscriptionJobName</code>. Job names are case\n            sensitive.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/transcriptionjobs/{TranscriptionJobName}",
                    "code": 204
                }
            }
        },
        "com.amazonaws.transcribe#DeleteTranscriptionJobRequest": {
            "type": "structure",
            "members": {
                "TranscriptionJobName": {
                    "target": "com.amazonaws.transcribe#TranscriptionJobName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the transcription job you want to delete. Job names are case\n            sensitive.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
[...]
