{
    "smithy": "2.0",
    "metadata": {
        "suppressions": [
            {
                "id": "HttpMethodSemantics",
                "namespace": "*"
            },
            {
                "id": "HttpResponseCodeSemantics",
                "namespace": "*"
            },
            {
                "id": "PaginatedTrait",
                "namespace": "*"
            },
            {
                "id": "HttpHeaderTrait",
                "namespace": "*"
            },
            {
                "id": "HttpUriConflict",
                "namespace": "*"
            },
            {
                "id": "Service",
                "namespace": "*"
            }
        ]
    },
    "shapes": {
        "com.amazonaws.wellarchitected#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.wellarchitected#ExceptionMessage",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>User does not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.wellarchitected#AccountSummary": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.wellarchitected#CheckStatus"
            },
            "value": {
                "target": "com.amazonaws.wellarchitected#CheckStatusCount"
            },
            "traits": {
                "smithy.api#documentation": "<p>Account summary for a Well-Architected best practice in relation to Trusted Advisor checks.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AdditionalResourceType": {
            "type": "enum",
            "members": {
                "HELPFUL_RESOURCE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HELPFUL_RESOURCE"
                    }
                },
                "IMPROVEMENT_PLAN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IMPROVEMENT_PLAN"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#AdditionalResources": {
            "type": "structure",
            "members": {
                "Type": {
                    "target": "com.amazonaws.wellarchitected#AdditionalResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>Type of additional resource for a custom lens.</p>"
                    }
                },
                "Content": {
                    "target": "com.amazonaws.wellarchitected#Urls",
                    "traits": {
                        "smithy.api#documentation": "<p>The URLs for additional resources, either helpful resources or improvement plans, for a custom lens. Up to five additional URLs can be specified.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The choice level additional resources for a custom lens.</p>\n         <p>This field does not apply to Amazon Web Services official lenses.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AdditionalResourcesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#AdditionalResources"
            }
        },
        "com.amazonaws.wellarchitected#Answer": {
            "type": "structure",
            "members": {
                "QuestionId": {
                    "target": "com.amazonaws.wellarchitected#QuestionId"
                },
                "PillarId": {
                    "target": "com.amazonaws.wellarchitected#PillarId"
                },
                "QuestionTitle": {
                    "target": "com.amazonaws.wellarchitected#QuestionTitle"
                },
                "QuestionDescription": {
                    "target": "com.amazonaws.wellarchitected#QuestionDescription"
                },
                "ImprovementPlanUrl": {
                    "target": "com.amazonaws.wellarchitected#ImprovementPlanUrl"
                },
                "HelpfulResourceUrl": {
                    "target": "com.amazonaws.wellarchitected#HelpfulResourceUrl"
                },
                "HelpfulResourceDisplayText": {
                    "target": "com.amazonaws.wellarchitected#DisplayText",
                    "traits": {
                        "smithy.api#documentation": "<p>The helpful resource text to be displayed for a custom lens.</p>\n         <p>This field does not apply to Amazon Web Services official lenses.</p>"
                    }
                },
                "Choices": {
                    "target": "com.amazonaws.wellarchitected#Choices"
                },
                "SelectedChoices": {
                    "target": "com.amazonaws.wellarchitected#SelectedChoices"
                },
                "ChoiceAnswers": {
                    "target": "com.amazonaws.wellarchitected#ChoiceAnswers",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of selected choices to a question in your workload.</p>"
                    }
                },
                "IsApplicable": {
                    "target": "com.amazonaws.wellarchitected#IsApplicable",
                    "traits": {
                        "smithy.api#default": false
                    }
                },
                "Risk": {
                    "target": "com.amazonaws.wellarchitected#Risk"
                },
                "Notes": {
                    "target": "com.amazonaws.wellarchitected#Notes"
                },
                "Reason": {
                    "target": "com.amazonaws.wellarchitected#AnswerReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason why the question is not applicable to your workload.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An answer of the question.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AnswerReason": {
            "type": "enum",
            "members": {
                "OUT_OF_SCOPE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OUT_OF_SCOPE"
                    }
                },
                "BUSINESS_PRIORITIES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BUSINESS_PRIORITIES"
                    }
                },
                "ARCHITECTURE_CONSTRAINTS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ARCHITECTURE_CONSTRAINTS"
                    }
                },
                "OTHER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OTHER"
                    }
                },
                "NONE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NONE"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#AnswerSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#AnswerSummary"
            },
            "traits": {
                "smithy.api#documentation": "<p>List of answer summaries of lens review in a workload.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AnswerSummary": {
            "type": "structure",
            "members": {
                "QuestionId": {
                    "target": "com.amazonaws.wellarchitected#QuestionId"
                },
                "PillarId": {
                    "target": "com.amazonaws.wellarchitected#PillarId"
                },
                "QuestionTitle": {
                    "target": "com.amazonaws.wellarchitected#QuestionTitle"
                },
                "Choices": {
                    "target": "com.amazonaws.wellarchitected#Choices"
                },
                "SelectedChoices": {
                    "target": "com.amazonaws.wellarchitected#SelectedChoices"
                },
                "ChoiceAnswerSummaries": {
                    "target": "com.amazonaws.wellarchitected#ChoiceAnswerSummaries",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of selected choices to a question in your workload.</p>"
                    }
                },
                "IsApplicable": {
                    "target": "com.amazonaws.wellarchitected#IsApplicable",
                    "traits": {
                        "smithy.api#default": false
                    }
                },
                "Risk": {
                    "target": "com.amazonaws.wellarchitected#Risk"
                },
                "Reason": {
                    "target": "com.amazonaws.wellarchitected#AnswerReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason why a choice is non-applicable to a question in your workload.</p>"
                    }
                },
                "QuestionType": {
                    "target": "com.amazonaws.wellarchitected#QuestionType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the question.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An answer summary of a lens review in a workload.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ApplicationArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 2084
                },
                "smithy.api#pattern": "^arn:aws[-a-z]*:servicecatalog:[a-z]{2}(-gov)?-[a-z]+-\\d:\\d{12}:/applications/[a-z0-9]+$"
            }
        },
        "com.amazonaws.wellarchitected#AssociateLenses": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#AssociateLensesInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associate a lens to a workload.</p>\n         <p>Up to 10 lenses can be associated with a workload in a single API operation. A \n        maximum of 20 lenses can be associated with a workload.</p>\n         <note>\n            <p>\n               <b>Disclaimer</b>\n            </p>\n            <p>By accessing and/or applying custom lenses created by another Amazon Web Services user or account, \n            you acknowledge that custom lenses created by other users and shared with you are \n            Third Party Content as defined in the Amazon Web Services Customer Agreement.    </p>\n         </note>",
                "smithy.api#http": {
                    "method": "PATCH",
                    "uri": "/workloads/{WorkloadId}/associateLenses",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#AssociateLensesInput": {
            "type": "structure",
            "members": {
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "LensAliases": {
                    "target": "com.amazonaws.wellarchitected#LensAliases",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Input to associate lens reviews.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#AssociateProfiles": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#AssociateProfilesInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associate a profile with a workload.</p>",
                "smithy.api#http": {
                    "method": "PATCH",
                    "uri": "/workloads/{WorkloadId}/associateProfiles",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#AssociateProfilesInput": {
            "type": "structure",
            "members": {
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ProfileArns": {
                    "target": "com.amazonaws.wellarchitected#ProfileArns",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of profile ARNs to associate with the workload.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#AwsAccountId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>An Amazon Web Services account ID.</p>",
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "^[0-9]{12}$"
            }
        },
        "com.amazonaws.wellarchitected#AwsRegion": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>An Amazon Web Services Region, for example, <code>us-west-2</code> or\n            <code>ap-northeast-1</code>.</p>",
                "smithy.api#length": {
                    "min": 0,
                    "max": 100
                }
            }
        },
        "com.amazonaws.wellarchitected#Base64String": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The Base64-encoded string representation of a lens review report.</p>\n         <p>This data can be used to create a PDF file.</p>\n         <p>Only returned by <a>GetConsolidatedReport</a> \n         when <code>PDF</code> format is requested.</p>"
            }
        },
        "com.amazonaws.wellarchitected#BestPractice": {
            "type": "structure",
            "members": {
                "ChoiceId": {
                    "target": "com.amazonaws.wellarchitected#ChoiceId"
                },
                "ChoiceTitle": {
                    "target": "com.amazonaws.wellarchitected#ChoiceTitle"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A best practice, or question choice, that has been identified as a risk in this question.</p>"
            }
        },
        "com.amazonaws.wellarchitected#BestPractices": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#BestPractice"
            }
        },
        "com.amazonaws.wellarchitected#CheckDescription": {
            "type": "string"
        },
        "com.amazonaws.wellarchitected#CheckDetail": {
            "type": "structure",
            "members": {
                "Id": {
                    "target": "com.amazonaws.wellarchitected#CheckId",
                    "traits": {
                        "smithy.api#documentation": "<p>Trusted Advisor check ID.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.wellarchitected#CheckName",
                    "traits": {
                        "smithy.api#documentation": "<p>Trusted Advisor check name.</p>"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.wellarchitected#CheckDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Trusted Advisor check description.</p>"
                    }
                },
                "Provider": {
                    "target": "com.amazonaws.wellarchitected#CheckProvider",
                    "traits": {
                        "smithy.api#documentation": "<p>Provider of the check related to the best practice.</p>"
                    }
                },
                "LensArn": {
                    "target": "com.amazonaws.wellarchitected#LensArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Well-Architected Lens ARN associated to the check.</p>"
                    }
                },
                "PillarId": {
                    "target": "com.amazonaws.wellarchitected#PillarId"
                },
                "QuestionId": {
                    "target": "com.amazonaws.wellarchitected#QuestionId"
                },
                "ChoiceId": {
                    "target": "com.amazonaws.wellarchitected#ChoiceId"
                },
                "Status": {
                    "target": "com.amazonaws.wellarchitected#CheckStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Status associated to the check.</p>"
                    }
                },
                "AccountId": {
                    "target": "com.amazonaws.wellarchitected#AwsAccountId"
                },
                "FlaggedResources": {
                    "target": "com.amazonaws.wellarchitected#FlaggedResources",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>Count of flagged resources associated to the check.</p>"
                    }
                },
                "Reason": {
                    "target": "com.amazonaws.wellarchitected#CheckFailureReason",
                    "traits": {
                        "smithy.api#documentation": "<p>Reason associated to the check.</p>"
                    }
                },
                "UpdatedAt": {
                    "target": "com.amazonaws.wellarchitected#Timestamp"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Account details for a Well-Architected best practice in relation to Trusted Advisor checks.</p>"
            }
        },
        "com.amazonaws.wellarchitected#CheckDetails": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#CheckDetail"
            }
        },
        "com.amazonaws.wellarchitected#CheckFailureReason": {
            "type": "enum",
            "members": {
                "ASSUME_ROLE_ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ASSUME_ROLE_ERROR"
                    }
                },
                "ACCESS_DENIED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACCESS_DENIED"
                    }
                },
                "UNKNOWN_ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNKNOWN_ERROR"
                    }
                },
                "PREMIUM_SUPPORT_REQUIRED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PREMIUM_SUPPORT_REQUIRED"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#CheckId": {
            "type": "string"
        },
        "com.amazonaws.wellarchitected#CheckName": {
            "type": "string"
        },
        "com.amazonaws.wellarchitected#CheckProvider": {
            "type": "enum",
            "members": {
                "TRUSTED_ADVISOR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TRUSTED_ADVISOR"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#CheckStatus": {
            "type": "enum",
            "members": {
                "OKAY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OKAY"
                    }
                },
                "WARNING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "WARNING"
                    }
                },
                "ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR"
                    }
                },
                "NOT_AVAILABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NOT_AVAILABLE"
                    }
                },
                "FETCH_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FETCH_FAILED"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#CheckStatusCount": {
            "type": "integer",
            "traits": {
                "smithy.api#default": 0,
                "smithy.api#range": {
                    "min": 1,
                    "max": 101
                }
            }
        },
        "com.amazonaws.wellarchitected#CheckSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#CheckSummary"
            }
        },
        "com.amazonaws.wellarchitected#CheckSummary": {
            "type": "structure",
            "members": {
                "Id": {
                    "target": "com.amazonaws.wellarchitected#CheckId",
                    "traits": {
                        "smithy.api#documentation": "<p>Trusted Advisor check ID.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.wellarchitected#CheckName",
                    "traits": {
                        "smithy.api#documentation": "<p>Trusted Advisor check name.</p>"
                    }
                },
                "Provider": {
                    "target": "com.amazonaws.wellarchitected#CheckProvider",
                    "traits": {
                        "smithy.api#documentation": "<p>Provider of the check related to the best practice.</p>"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.wellarchitected#CheckDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Trusted Advisor check description.</p>"
                    }
                },
                "UpdatedAt": {
                    "target": "com.amazonaws.wellarchitected#Timestamp"
                },
                "LensArn": {
                    "target": "com.amazonaws.wellarchitected#LensArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Well-Architected Lens ARN associated to the check.</p>"
                    }
                },
                "PillarId": {
                    "target": "com.amazonaws.wellarchitected#PillarId"
                },
                "QuestionId": {
                    "target": "com.amazonaws.wellarchitected#QuestionId"
                },
                "ChoiceId": {
                    "target": "com.amazonaws.wellarchitected#ChoiceId"
                },
                "Status": {
                    "target": "com.amazonaws.wellarchitected#CheckStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Status associated to the check.</p>"
                    }
                },
                "AccountSummary": {
                    "target": "com.amazonaws.wellarchitected#AccountSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>Account summary associated to the check.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Trusted Advisor check summary.</p>"
            }
        },
        "com.amazonaws.wellarchitected#Choice": {
            "type": "structure",
            "members": {
                "ChoiceId": {
                    "target": "com.amazonaws.wellarchitected#ChoiceId"
                },
                "Title": {
                    "target": "com.amazonaws.wellarchitected#ChoiceTitle"
                },
                "Description": {
                    "target": "com.amazonaws.wellarchitected#ChoiceDescription"
                },
                "HelpfulResource": {
                    "target": "com.amazonaws.wellarchitected#ChoiceContent",
                    "traits": {
                        "smithy.api#documentation": "<p>The helpful resource (both text and URL) for a particular choice.</p>\n         <p>This field only applies to custom lenses. Each choice can have only one helpful resource.</p>"
                    }
                },
                "ImprovementPlan": {
                    "target": "com.amazonaws.wellarchitected#ChoiceContent",
                    "traits": {
                        "smithy.api#documentation": "<p>The improvement plan (both text and URL) for a particular choice.</p>\n         <p>This field only applies to custom lenses. Each choice can have only one improvement plan.</p>"
                    }
                },
                "AdditionalResources": {
                    "target": "com.amazonaws.wellarchitected#AdditionalResourcesList",
                    "traits": {
                        "smithy.api#documentation": "<p>The additional resources for a choice in a custom lens.</p>\n         <p>A choice can have up to two additional resources: one of type <code>HELPFUL_RESOURCE</code>, \n            one of type <code>IMPROVEMENT_PLAN</code>, or both.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A choice available to answer question.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceAnswer": {
            "type": "structure",
            "members": {
                "ChoiceId": {
                    "target": "com.amazonaws.wellarchitected#ChoiceId"
                },
                "Status": {
                    "target": "com.amazonaws.wellarchitected#ChoiceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of a choice.</p>"
                    }
                },
                "Reason": {
                    "target": "com.amazonaws.wellarchitected#ChoiceReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason why a choice is non-applicable to a question in your workload.</p>"
                    }
                },
                "Notes": {
                    "target": "com.amazonaws.wellarchitected#ChoiceNotes",
                    "traits": {
                        "smithy.api#documentation": "<p>The notes associated with a choice.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A choice that has been answered on a question in your workload.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceAnswerSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#ChoiceAnswerSummary"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceAnswerSummary": {
            "type": "structure",
            "members": {
                "ChoiceId": {
                    "target": "com.amazonaws.wellarchitected#ChoiceId"
                },
                "Status": {
                    "target": "com.amazonaws.wellarchitected#ChoiceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of a choice.</p>"
                    }
                },
                "Reason": {
                    "target": "com.amazonaws.wellarchitected#ChoiceReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason why a choice is non-applicable to a question in your workload.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A choice summary that has been answered on a question in your workload.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceAnswers": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#ChoiceAnswer"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceContent": {
            "type": "structure",
            "members": {
                "DisplayText": {
                    "target": "com.amazonaws.wellarchitected#ChoiceContentDisplayText",
                    "traits": {
                        "smithy.api#documentation": "<p>The display text for the choice content.</p>"
                    }
                },
                "Url": {
                    "target": "com.amazonaws.wellarchitected#ChoiceContentUrl",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for the choice content.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The choice content.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceContentDisplayText": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceContentUrl": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceDescription": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The description of a choice.</p>",
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The ID of a choice.</p>",
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceImprovementPlan": {
            "type": "structure",
            "members": {
                "ChoiceId": {
                    "target": "com.amazonaws.wellarchitected#ChoiceId"
                },
                "DisplayText": {
                    "target": "com.amazonaws.wellarchitected#DisplayText",
                    "traits": {
                        "smithy.api#documentation": "<p>The display text for the improvement plan.</p>"
                    }
                },
                "ImprovementPlanUrl": {
                    "target": "com.amazonaws.wellarchitected#ImprovementPlanUrl"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The choice level improvement plan.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceImprovementPlans": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#ChoiceImprovementPlan"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceNotes": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 250
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceReason": {
            "type": "enum",
            "members": {
                "OUT_OF_SCOPE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OUT_OF_SCOPE"
                    }
                },
                "BUSINESS_PRIORITIES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BUSINESS_PRIORITIES"
                    }
                },
                "ARCHITECTURE_CONSTRAINTS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ARCHITECTURE_CONSTRAINTS"
                    }
                },
                "OTHER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OTHER"
                    }
                },
                "NONE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NONE"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceStatus": {
            "type": "enum",
            "members": {
                "SELECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SELECTED"
                    }
                },
                "NOT_APPLICABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NOT_APPLICABLE"
                    }
                },
                "UNSELECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNSELECTED"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceTitle": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The title of a choice.</p>",
                "smithy.api#length": {
                    "min": 1,
                    "max": 512
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceUpdate": {
            "type": "structure",
            "members": {
                "Status": {
                    "target": "com.amazonaws.wellarchitected#ChoiceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of a choice.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Reason": {
                    "target": "com.amazonaws.wellarchitected#ChoiceReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason why a choice is non-applicable to a question in your workload.</p>"
                    }
                },
                "Notes": {
                    "target": "com.amazonaws.wellarchitected#ChoiceNotes",
                    "traits": {
                        "smithy.api#documentation": "<p>The notes associated with a choice.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A list of choices to be updated.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceUpdates": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.wellarchitected#ChoiceId"
            },
            "value": {
                "target": "com.amazonaws.wellarchitected#ChoiceUpdate"
            }
        },
        "com.amazonaws.wellarchitected#Choices": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#Choice"
            },
            "traits": {
                "smithy.api#documentation": "<p>List of choices available for a question.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ClientRequestToken": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>A unique case-sensitive string used to ensure that this request is idempotent\n            (executes only once).</p>\n         <p>You should not reuse the same token for other requests. If you retry a request with\n            the same client request token and the same parameters after the original request has completed\n            successfully, the result of the original request is returned.</p>\n         <important>\n            <p>This token is listed as required, however, if you do not specify it, the Amazon Web Services SDKs\n                automatically generate one for you. If you are not using the Amazon Web Services SDK or the CLI,\n                you must provide this token or the request will fail.</p>\n         </important>",
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.wellarchitected#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.wellarchitected#ExceptionMessage",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "ResourceId": {
                    "target": "com.amazonaws.wellarchitected#ExceptionResourceId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "ResourceType": {
                    "target": "com.amazonaws.wellarchitected#ExceptionResourceType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The resource has already been processed, was deleted, or is too large.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.wellarchitected#ConsolidatedReportMetric": {
            "type": "structure",
            "members": {
                "MetricType": {
                    "target": "com.amazonaws.wellarchitected#MetricType",
                    "traits": {
                        "smithy.api#documentation": "<p>The metric type of a metric in the consolidated report. Currently only WORKLOAD metric types are supported.</p>"
                    }
                },
                "RiskCounts": {
                    "target": "com.amazonaws.wellarchitected#RiskCounts"
                },
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId"
                },
                "WorkloadName": {
                    "target": "com.amazonaws.wellarchitected#WorkloadName"
                },
                "WorkloadArn": {
                    "target": "com.amazonaws.wellarchitected#WorkloadArn"
                },
                "UpdatedAt": {
                    "target": "com.amazonaws.wellarchitected#Timestamp"
                },
                "Lenses": {
                    "target": "com.amazonaws.wellarchitected#LensMetrics",
                    "traits": {
                        "smithy.api#documentation": "<p>The metrics for the lenses in the workload.</p>"
                    }
                },
                "LensesAppliedCount": {
                    "target": "com.amazonaws.wellarchitected#LensesAppliedCount",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The total number of lenses applied to the workload.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A metric that contributes to the consolidated report.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ConsolidatedReportMetrics": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#ConsolidatedReportMetric"
            }
        },
        "com.amazonaws.wellarchitected#Count": {
            "type": "integer",
            "traits": {
                "smithy.api#default": 0,
                "smithy.api#documentation": "<p>A non-negative integer that denotes how many.</p>",
                "smithy.api#range": {
                    "min": 0
                }
            }
        },
        "com.amazonaws.wellarchitected#CreateLensShare": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#CreateLensShareInput"
            },
            "output": {
                "target": "com.amazonaws.wellarchitected#CreateLensShareOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create a lens share.</p>\n         <p>The owner of a lens can share it with other Amazon Web Services accounts, users, an organization,\n            and organizational units (OUs) in the same Amazon Web Services Region.\n            Lenses provided by Amazon Web Services (Amazon Web Services Official Content) cannot be shared.</p>\n         <p>\n            Shared access to a lens is not removed until the lens invitation is deleted.</p>\n         <p>If you share a lens with an organization or OU, all accounts in the organization or OU\n        are granted access to the lens.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/lenses-sharing.html\">Sharing a custom lens</a> in the\n            <i>Well-Architected Tool User Guide</i>.</p>\n         <note>\n            <p>\n               <b>Disclaimer</b>\n            </p>\n            <p>By sharing your custom lenses with other Amazon Web Services accounts, \n                you acknowledge that Amazon Web Services will make your custom lenses available to those \n                other accounts. Those other accounts may continue to access and use your \n                shared custom lenses even if you delete the custom lenses \n                from your own Amazon Web Services account or terminate \n                your Amazon Web Services account.</p>\n         </note>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/lenses/{LensAlias}/shares",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#CreateLensShareInput": {
            "type": "structure",
            "members": {
                "LensAlias": {
                    "target": "com.amazonaws.wellarchitected#LensAlias",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "SharedWith": {
                    "target": "com.amazonaws.wellarchitected#SharedWith",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "ClientRequestToken": {
                    "target": "com.amazonaws.wellarchitected#ClientRequestToken",
                    "traits": {
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateLensShareOutput": {
            "type": "structure",
            "members": {
                "ShareId": {
                    "target": "com.amazonaws.wellarchitected#ShareId"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateLensVersion": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#CreateLensVersionInput"
            },
            "output": {
                "target": "com.amazonaws.wellarchitected#CreateLensVersionOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create a new lens version.</p>\n         <p>A lens can have up to 100 versions.</p>\n         <p>Use this operation to publish a new lens version after you have imported a lens. The <code>LensAlias</code> \n            is used to identify the lens to be published. \n            The owner of a lens can share the lens with other \n            Amazon Web Services accounts and users in the same Amazon Web Services Region. Only the owner of a lens can delete it.\n        </p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/lenses/{LensAlias}/versions",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#CreateLensVersionInput": {
            "type": "structure",
            "members": {
                "LensAlias": {
                    "target": "com.amazonaws.wellarchitected#LensAlias",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "LensVersion": {
                    "target": "com.amazonaws.wellarchitected#LensVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the lens being created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "IsMajorVersion": {
                    "target": "com.amazonaws.wellarchitected#IsMajorVersion",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Set to true if this new major lens version.</p>"
                    }
                },
                "ClientRequestToken": {
                    "target": "com.amazonaws.wellarchitected#ClientRequestToken",
                    "traits": {
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateLensVersionOutput": {
            "type": "structure",
            "members": {
                "LensArn": {
                    "target": "com.amazonaws.wellarchitected#LensArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN for the lens.</p>"
                    }
                },
                "LensVersion": {
                    "target": "com.amazonaws.wellarchitected#LensVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the lens.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateMilestone": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#CreateMilestoneInput"
            },
            "output": {
                "target": "com.amazonaws.wellarchitected#CreateMilestoneOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create a milestone for an existing workload.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/workloads/{WorkloadId}/milestones",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#CreateMilestoneInput": {
            "type": "structure",
            "members": {
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "MilestoneName": {
                    "target": "com.amazonaws.wellarchitected#MilestoneName",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "ClientRequestToken": {
                    "target": "com.amazonaws.wellarchitected#ClientRequestToken",
                    "traits": {
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Input for milestone creation.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateMilestoneOutput": {
            "type": "structure",
            "members": {
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId"
                },
                "MilestoneNumber": {
                    "target": "com.amazonaws.wellarchitected#MilestoneNumber",
                    "traits": {
                        "smithy.api#default": 0
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Output of a create milestone call.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateProfile": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#CreateProfileInput"
            },
            "output": {
                "target": "com.amazonaws.wellarchitected#CreateProfileOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create a profile.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/profiles",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#CreateProfileInput": {
            "type": "structure",
            "members": {
                "ProfileName": {
                    "target": "com.amazonaws.wellarchitected#ProfileName",
                    "traits": {
                        "smithy.api#documentation": "<p>Name of the profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ProfileDescription": {
                    "target": "com.amazonaws.wellarchitected#ProfileDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The profile description.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ProfileQuestions": {
                    "target": "com.amazonaws.wellarchitected#ProfileQuestionUpdates",
                    "traits": {
                        "smithy.api#documentation": "<p>The profile questions.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ClientRequestToken": {
                    "target": "com.amazonaws.wellarchitected#ClientRequestToken",
                    "traits": {
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.wellarchitected#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags assigned to the profile.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateProfileOutput": {
            "type": "structure",
            "members": {
                "ProfileArn": {
                    "target": "com.amazonaws.wellarchitected#ProfileArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The profile ARN.</p>"
                    }
                },
                "ProfileVersion": {
                    "target": "com.amazonaws.wellarchitected#ProfileVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>Version of the profile.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateProfileShare": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#CreateProfileShareInput"
            },
            "output": {
                "target": "com.amazonaws.wellarchitected#CreateProfileShareOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create a profile share.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/profiles/{ProfileArn}/shares",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#CreateProfileShareInput": {
            "type": "structure",
            "members": {
                "ProfileArn": {
                    "target": "com.amazonaws.wellarchitected#ProfileArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The profile ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "SharedWith": {
                    "target": "com.amazonaws.wellarchitected#SharedWith",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "ClientRequestToken": {
                    "target": "com.amazonaws.wellarchitected#ClientRequestToken",
                    "traits": {
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateProfileShareOutput": {
            "type": "structure",
            "members": {
                "ShareId": {
                    "target": "com.amazonaws.wellarchitected#ShareId"
                },
                "ProfileArn": {
                    "target": "com.amazonaws.wellarchitected#ProfileArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The profile ARN.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateWorkload": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#CreateWorkloadInput"
            },
            "output": {
                "target": "com.amazonaws.wellarchitected#CreateWorkloadOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create a new workload.</p>\n         <p>The owner of a workload can share the workload with other Amazon Web Services accounts, users,\n            an organization, and organizational units (OUs) \n            in the same Amazon Web Services Region. Only the owner of a workload can delete it.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/define-workload.html\">Defining a Workload</a> in the\n                <i>Well-Architected Tool User Guide</i>.</p>\n         <important>\n            <p>Either <code>AwsRegions</code>, <code>NonAwsRegions</code>, or both must be specified when\n                creating a workload.</p>\n            <p>You also must specify <code>ReviewOwner</code>, even though the\n                parameter is listed as not being required in the following section.\n            </p>\n         </important>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/workloads",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#CreateWorkloadInput": {
            "type": "structure",
            "members": {
                "WorkloadName": {
                    "target": "com.amazonaws.wellarchitected#WorkloadName",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "Description": {
                    "target": "com.amazonaws.wellarchitected#WorkloadDescription",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "Environment": {
                    "target": "com.amazonaws.wellarchitected#WorkloadEnvironment",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "AccountIds": {
                    "target": "com.amazonaws.wellarchitected#WorkloadAccountIds"
                },
                "AwsRegions": {
                    "target": "com.amazonaws.wellarchitected#WorkloadAwsRegions"
                },
                "NonAwsRegions": {
                    "target": "com.amazonaws.wellarchitected#WorkloadNonAwsRegions"
                },
                "PillarPriorities": {
                    "target": "com.amazonaws.wellarchitected#WorkloadPillarPriorities"
                },
                "ArchitecturalDesign": {
                    "target": "com.amazonaws.wellarchitected#WorkloadArchitecturalDesign"
                },
                "ReviewOwner": {
                    "target": "com.amazonaws.wellarchitected#WorkloadReviewOwner"
                },
                "IndustryType": {
                    "target": "com.amazonaws.wellarchitected#WorkloadIndustryType"
                },
                "Industry": {
                    "target": "com.amazonaws.wellarchitected#WorkloadIndustry"
                },
                "Lenses": {
                    "target": "com.amazonaws.wellarchitected#WorkloadLenses",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "Notes": {
                    "target": "com.amazonaws.wellarchitected#Notes"
                },
                "ClientRequestToken": {
                    "target": "com.amazonaws.wellarchitected#ClientRequestToken",
                    "traits": {
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "Tags": {
                    "target": "com.amazonaws.wellarchitected#TagMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags to be associated with the workload.</p>"
                    }
                },
                "DiscoveryConfig": {
                    "target": "com.amazonaws.wellarchitected#WorkloadDiscoveryConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Well-Architected discovery configuration settings associated to the workload.</p>"
                    }
                },
                "Applications": {
                    "target": "com.amazonaws.wellarchitected#WorkloadApplications",
                    "traits": {
                        "smithy.api#documentation": "<p>List of AppRegistry application ARNs associated to the workload.</p>"
                    }
                },
                "ProfileArns": {
                    "target": "com.amazonaws.wellarchitected#WorkloadProfileArns",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of profile ARNs associated with the workload.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Input for workload creation.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateWorkloadOutput": {
            "type": "structure",
            "members": {
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId"
                },
                "WorkloadArn": {
                    "target": "com.amazonaws.wellarchitected#WorkloadArn"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Output of a create workload call.</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateWorkloadShare": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#CreateWorkloadShareInput"
            },
            "output": {
                "target": "com.amazonaws.wellarchitected#CreateWorkloadShareOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Create a workload share.</p>\n         <p>The owner of a workload can share it with other Amazon Web Services accounts and users in the same\n            Amazon Web Services Region. Shared access to a workload is not removed until the workload invitation is\n            deleted.</p>\n         <p>If you share a workload with an organization or OU, all accounts in the organization or OU\n            are granted access to the workload.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/workloads-sharing.html\">Sharing a workload</a> in the\n                <i>Well-Architected Tool User Guide</i>.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/workloads/{WorkloadId}/shares",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#CreateWorkloadShareInput": {
            "type": "structure",
            "members": {
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "SharedWith": {
                    "target": "com.amazonaws.wellarchitected#SharedWith",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "PermissionType": {
                    "target": "com.amazonaws.wellarchitected#PermissionType",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "ClientRequestToken": {
                    "target": "com.amazonaws.wellarchitected#ClientRequestToken",
                    "traits": {
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Input for Create Workload Share</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateWorkloadShareOutput": {
            "type": "structure",
            "members": {
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId"
                },
                "ShareId": {
                    "target": "com.amazonaws.wellarchitected#ShareId"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Input for Create Workload Share</p>",
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.wellarchitected#DefinitionType": {
            "type": "enum",
            "members": {
                "WORKLOAD_METADATA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "WORKLOAD_METADATA"
                    }
                },
                "APP_REGISTRY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "APP_REGISTRY"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#DeleteLens": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#DeleteLensInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete an existing lens.</p>\n         <p>Only the owner of a lens can delete it.  After the lens is deleted,  Amazon Web Services accounts and users \n              that you shared the lens with can continue to use it, but they will no longer be able to apply it to new workloads.\n        </p>\n         <note>\n            <p>\n               <b>Disclaimer</b>\n            </p>\n            <p>By sharing your custom lenses with other Amazon Web Services accounts, \n                you acknowledge that Amazon Web Services will make your custom lenses available to those \n                other accounts. Those other accounts may continue to access and use your \n                shared custom lenses even if you delete the custom lenses \n                from your own Amazon Web Services account or terminate \n                your Amazon Web Services account.</p>\n         </note>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/lenses/{LensAlias}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#DeleteLensInput": {
            "type": "structure",
            "members": {
                "LensAlias": {
                    "target": "com.amazonaws.wellarchitected#LensAlias",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ClientRequestToken": {
                    "target": "com.amazonaws.wellarchitected#ClientRequestToken",
                    "traits": {
                        "smithy.api#httpQuery": "ClientRequestToken",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                },
                "LensStatus": {
                    "target": "com.amazonaws.wellarchitected#LensStatusType",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the lens to be deleted.</p>",
                        "smithy.api#httpQuery": "LensStatus",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#DeleteLensShare": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#DeleteLensShareInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete a lens share.</p>\n         <p>After the lens share is deleted,  Amazon Web Services accounts, users, organizations,\n            and organizational units (OUs) \n            that you shared the lens with can continue to use it, but they will no longer be able to apply it to new workloads.</p>\n         <note>\n            <p>\n               <b>Disclaimer</b>\n            </p>\n            <p>By sharing your custom lenses with other Amazon Web Services accounts, \n                you acknowledge that Amazon Web Services will make your custom lenses available to those \n                other accounts. Those other accounts may continue to access and use your \n                shared custom lenses even if you delete the custom lenses \n                from your own Amazon Web Services account or terminate \n                your Amazon Web Services account.</p>\n         </note>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/lenses/{LensAlias}/shares/{ShareId}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#DeleteLensShareInput": {
            "type": "structure",
            "members": {
                "ShareId": {
                    "target": "com.amazonaws.wellarchitected#ShareId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "LensAlias": {
                    "target": "com.amazonaws.wellarchitected#LensAlias",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ClientRequestToken": {
                    "target": "com.amazonaws.wellarchitected#ClientRequestToken",
                    "traits": {
                        "smithy.api#httpQuery": "ClientRequestToken",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#DeleteProfile": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#DeleteProfileInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete a profile.</p>\n         <note>\n            <p>\n               <b>Disclaimer</b>\n            </p>\n            <p>By sharing your profile with other Amazon Web Services accounts, \n               you acknowledge that Amazon Web Services will make your profile available to those \n               other accounts. Those other accounts may continue to access and use your \n               shared profile even if you delete the profile \n               from your own Amazon Web Services account or terminate \n               your Amazon Web Services account.</p>\n         </note>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/profiles/{ProfileArn}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#DeleteProfileInput": {
            "type": "structure",
            "members": {
                "ProfileArn": {
                    "target": "com.amazonaws.wellarchitected#ProfileArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The profile ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ClientRequestToken": {
                    "target": "com.amazonaws.wellarchitected#ClientRequestToken",
                    "traits": {
                        "smithy.api#httpQuery": "ClientRequestToken",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#DeleteProfileShare": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#DeleteProfileShareInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete a profile share.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/profiles/{ProfileArn}/shares/{ShareId}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#DeleteProfileShareInput": {
            "type": "structure",
            "members": {
                "ShareId": {
                    "target": "com.amazonaws.wellarchitected#ShareId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ProfileArn": {
                    "target": "com.amazonaws.wellarchitected#ProfileArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The profile ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ClientRequestToken": {
                    "target": "com.amazonaws.wellarchitected#ClientRequestToken",
                    "traits": {
                        "smithy.api#httpQuery": "ClientRequestToken",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#DeleteWorkload": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#DeleteWorkloadInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete an existing workload.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/workloads/{WorkloadId}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#DeleteWorkloadInput": {
            "type": "structure",
            "members": {
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ClientRequestToken": {
                    "target": "com.amazonaws.wellarchitected#ClientRequestToken",
                    "traits": {
                        "smithy.api#httpQuery": "ClientRequestToken",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Input for workload deletion.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#DeleteWorkloadShare": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#DeleteWorkloadShareInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Delete a workload share.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/workloads/{WorkloadId}/shares/{ShareId}",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#DeleteWorkloadShareInput": {
            "type": "structure",
            "members": {
                "ShareId": {
                    "target": "com.amazonaws.wellarchitected#ShareId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ClientRequestToken": {
                    "target": "com.amazonaws.wellarchitected#ClientRequestToken",
                    "traits": {
                        "smithy.api#httpQuery": "ClientRequestToken",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Input for Delete Workload Share</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#DifferenceStatus": {
            "type": "enum",
            "members": {
                "UPDATED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATED"
                    }
                },
                "NEW": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NEW"
                    }
                },
                "DELETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETED"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#DisassociateLenses": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#DisassociateLensesInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Disassociate a lens from a workload.</p>\n         <p>Up to 10 lenses can be disassociated from a workload in a single API operation.</p>\n         <note>\n            <p>The Amazon Web Services Well-Architected Framework lens (<code>wellarchitected</code>) cannot be\n                removed from a workload.</p>\n         </note>",
                "smithy.api#http": {
                    "method": "PATCH",
                    "uri": "/workloads/{WorkloadId}/disassociateLenses",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#DisassociateLensesInput": {
            "type": "structure",
            "members": {
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "LensAliases": {
                    "target": "com.amazonaws.wellarchitected#LensAliases",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Input to disassociate lens reviews.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#DisassociateProfiles": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#DisassociateProfilesInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Disassociate a profile from a workload.</p>",
                "smithy.api#http": {
                    "method": "PATCH",
                    "uri": "/workloads/{WorkloadId}/disassociateProfiles",
                    "code": 200
                }
            }
        },
        "com.amazonaws.wellarchitected#DisassociateProfilesInput": {
            "type": "structure",
            "members": {
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ProfileArns": {
                    "target": "com.amazonaws.wellarchitected#ProfileArns",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of profile ARNs to disassociate from the workload.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#DiscoveryIntegrationStatus": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#DisplayText": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.wellarchitected#ExceptionMessage": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>Description of the error.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ExceptionResourceId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>Identifier of the resource affected.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ExceptionResourceType": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>Type of the resource affected.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ExportLens": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#ExportLensInput"
            },
            "output": {
                "target": "com.amazonaws.wellarchitected#ExportLensOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
[...]
