{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.wellarchitected#AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.wellarchitected#ExceptionMessage",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>User does not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.wellarchitected#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^\\d{12}$"
            }
        },
        "com.amazonaws.wellarchitected#AccountJiraConfigurationInput": {
            "type": "structure",
            "members": {
                "IssueManagementStatus": {
                    "target": "com.amazonaws.wellarchitected#AccountJiraIssueManagementStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Account-level: Jira issue management status.</p>"
                    }
                },
                "IssueManagementType": {
                    "target": "com.amazonaws.wellarchitected#IssueManagementType",
                    "traits": {
                        "smithy.api#documentation": "<p>Account-level: Jira issue management type.</p>"
                    }
                },
                "JiraProjectKey": {
                    "target": "com.amazonaws.wellarchitected#JiraProjectKey",
                    "traits": {
                        "smithy.api#documentation": "<p>Account-level: Jira project key to sync workloads to.</p>"
                    }
                },
                "IntegrationStatus": {
                    "target": "com.amazonaws.wellarchitected#IntegrationStatusInput",
                    "traits": {
                        "smithy.api#documentation": "<p>Account-level: Configuration status of the Jira integration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Account-level: Input for the Jira configuration.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AccountJiraConfigurationOutput": {
            "type": "structure",
            "members": {
                "IntegrationStatus": {
                    "target": "com.amazonaws.wellarchitected#IntegrationStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Account-level: Configuration status of the Jira integration.</p>"
                    }
                },
                "IssueManagementStatus": {
                    "target": "com.amazonaws.wellarchitected#AccountJiraIssueManagementStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Account-level: Jira issue management status.</p>"
                    }
                },
                "IssueManagementType": {
                    "target": "com.amazonaws.wellarchitected#IssueManagementType",
                    "traits": {
                        "smithy.api#documentation": "<p>Account-level: Jira issue management type.</p>"
                    }
                },
                "Subdomain": {
                    "target": "com.amazonaws.wellarchitected#Subdomain",
                    "traits": {
                        "smithy.api#documentation": "<p>Account-level: Jira subdomain URL.</p>"
                    }
                },
                "JiraProjectKey": {
                    "target": "com.amazonaws.wellarchitected#JiraProjectKey",
                    "traits": {
                        "smithy.api#documentation": "<p>Account-level: Jira project key to sync workloads to.</p>"
                    }
                },
                "StatusMessage": {
                    "target": "com.amazonaws.wellarchitected#StatusMessage",
                    "traits": {
                        "smithy.api#documentation": "<p>Account-level: Status message on configuration of the Jira integration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Account-level: Output configuration of the Jira integration.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AccountJiraIssueManagementStatus": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#AccountSummary": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.wellarchitected#CheckStatus"
            },
            "value": {
                "target": "com.amazonaws.wellarchitected#CheckStatusCount"
            },
            "traits": {
                "smithy.api#documentation": "<p>Account summary for a Well-Architected best practice in relation to Trusted Advisor checks.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AdditionalResourceType": {
            "type": "enum",
            "members": {
                "HELPFUL_RESOURCE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HELPFUL_RESOURCE"
                    }
                },
                "IMPROVEMENT_PLAN": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IMPROVEMENT_PLAN"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#AdditionalResources": {
            "type": "structure",
            "members": {
                "Type": {
                    "target": "com.amazonaws.wellarchitected#AdditionalResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>Type of additional resource for a custom lens.</p>"
                    }
                },
                "Content": {
                    "target": "com.amazonaws.wellarchitected#Urls",
                    "traits": {
                        "smithy.api#documentation": "<p>The URLs for additional resources, either helpful resources or improvement plans, for a custom lens. Up to five additional URLs can be specified.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The choice level additional resources for a custom lens.</p> <p>This field does not apply to Amazon Web Services official lenses.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AdditionalResourcesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#AdditionalResources"
            }
        },
        "com.amazonaws.wellarchitected#AgentProfileArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:aws([a-z0-9-]+)?:wellarchitected:[a-z0-9-]{6,64}:\\d{12}:agent-profile/([a-zA-Z0-9_-]+)$"
            }
        },
        "com.amazonaws.wellarchitected#AgentProfileSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#AgentProfileSummary"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.wellarchitected#AgentProfileSummary": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The system name of the profile.</p>",
                        "smithy.api#length": {
                            "min": 3,
                            "max": 128
                        },
                        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$",
                        "smithy.api#required": {}
                    }
                },
                "displayName": {
                    "target": "com.amazonaws.wellarchitected#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>The display name of the profile shown to users.</p>",
                        "smithy.api#length": {
                            "min": 3,
                            "max": 128
                        },
                        "smithy.api#pattern": "^(?:(?!\\$\\{[a-zA-Z]+:)[\\P{C}])+$"
                    }
                },
                "description": {
                    "target": "com.amazonaws.wellarchitected#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the profile.</p>",
                        "smithy.api#length": {
                            "max": 512
                        },
                        "smithy.api#pattern": "^(?:(?!\\$\\{[a-zA-Z]+:)[\\P{C}])*$"
                    }
                },
                "businessOverview": {
                    "target": "com.amazonaws.wellarchitected#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>The business overview for this profile.</p>",
                        "smithy.api#length": {
                            "max": 512
                        },
                        "smithy.api#pattern": "^(?:(?!\\$\\{[a-zA-Z]+:)[\\P{C}])*$"
                    }
                },
                "pillars": {
                    "target": "com.amazonaws.wellarchitected#Pillars",
                    "traits": {
                        "smithy.api#documentation": "<p>The Well-Architected Tool Framework pillars associated with this profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "deletionProtection": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#default": true,
                        "smithy.api#documentation": "<p>Indicates whether deletion protection is enabled for the profile.</p>"
                    }
                },
                "executionRoleArn": {
                    "target": "com.amazonaws.wellarchitected#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IAM execution role used for recommendation actions.</p>",
                        "smithy.api#required": {}
                    }
                },
                "aggregationConfiguration": {
                    "target": "com.amazonaws.wellarchitected#AggregationConfigurations",
                    "traits": {
                        "smithy.api#documentation": "<p>The aggregation configuration that defines which Amazon Web Services accounts and Regions to analyze.</p>",
                        "smithy.api#required": {}
                    }
                },
                "arn": {
                    "target": "com.amazonaws.wellarchitected#AgentProfileArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the optimization profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "eligibleForScheduledGeneration": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the profile is valid for scheduled recommendation generation.</p>"
                    }
                },
                "eligibleForArchitectureGeneration": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Indicates whether the profile is valid for manual architecture generation.</p>"
                    }
                },
                "fieldErrors": {
                    "target": "com.amazonaws.wellarchitected#FieldErrors",
                    "traits": {
                        "smithy.api#documentation": "<p>A map of field paths to error messages for invalid or missing input fields.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wellarchitected#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags associated with the profile.</p>"
                    }
                },
                "createdBy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the user or system that created this profile.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        },
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the profile was created.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "lastModifiedBy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the user or system that last modified this profile.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        }
                    }
                },
                "lastModifiedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the profile was last modified.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary of an optimization profile, including its configuration, metadata, and audit information.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AgentRecommendationArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:aws([a-z0-9-]+)?:wellarchitected:[a-z0-9-]{6,64}:\\d{12}:agent-recommendation/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
            }
        },
        "com.amazonaws.wellarchitected#AgentRecommendationGenerationSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#AgentRecommendationGenerationSummary"
            }
        },
        "com.amazonaws.wellarchitected#AgentRecommendationGenerationSummary": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.wellarchitected#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the recommendation generation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "profileArn": {
                    "target": "com.amazonaws.wellarchitected#AgentProfileArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the profile used for this generation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the recommendation generation.</p>"
                    }
                },
                "status": {
                    "target": "com.amazonaws.wellarchitected#GenerationStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the recommendation generation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "estimatedCompletionTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The estimated time for the generation to complete.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "createdBy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the user or system that started this generation.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        },
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the generation was started.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "lastModifiedBy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the user or system that last modified this generation.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        }
                    }
                },
                "lastModifiedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the generation was last modified.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary of a recommendation generation process initiated through the agent API.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AgentRecommendationItemSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#AgentRecommendationItemSummary"
            }
        },
        "com.amazonaws.wellarchitected#AgentRecommendationItemSummary": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the recommendation item.</p>",
                        "smithy.api#required": {}
                    }
                },
                "recommendationArn": {
                    "target": "com.amazonaws.wellarchitected#RecommendationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the associated recommendation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.wellarchitected#RecommendationItemType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the recommendation item.</p>",
                        "smithy.api#required": {}
                    }
                },
                "metadata": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#documentation": "<p>Metadata containing a snapshot of the resource or recommendation at the time of generation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdBy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the user or system that created this recommendation item.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        },
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the recommendation item was created.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "lastModifiedBy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the user or system that last modified this recommendation item.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        }
                    }
                },
                "lastModifiedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the recommendation item was last modified.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary of an agent recommendation item, representing an Amazon Web Services resource or recommendation affected by the optimization recommendation.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AgentRecommendationRemediation": {
            "type": "structure",
            "members": {
                "recommendationArn": {
                    "target": "com.amazonaws.wellarchitected#RecommendationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the recommendation that this remediation belongs to.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.wellarchitected#RemediationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The remediation method.</p>",
                        "smithy.api#required": {}
                    }
                },
                "steps": {
                    "target": "com.amazonaws.wellarchitected#RemediationSteps",
                    "traits": {
                        "smithy.api#documentation": "<p>The procedural steps to perform the remediation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "resourceLinks": {
                    "target": "com.amazonaws.wellarchitected#ResourceLinks",
                    "traits": {
                        "smithy.api#documentation": "<p>External references associated with the steps.</p>"
                    }
                },
                "createdBy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the user or system that created this remediation.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        },
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the remediation was created.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "lastModifiedBy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the user or system that last modified this remediation.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        }
                    }
                },
                "lastModifiedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the remediation was last modified.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The core fields for a remediation.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AgentRecommendationRemediations": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#AgentRecommendationRemediation"
            }
        },
        "com.amazonaws.wellarchitected#AgentRecommendationSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#AgentRecommendationSummary"
            }
        },
        "com.amazonaws.wellarchitected#AgentRecommendationSummary": {
            "type": "structure",
            "members": {
                "recommendationArn": {
                    "target": "com.amazonaws.wellarchitected#RecommendationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the recommendation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "profileArn": {
                    "target": "com.amazonaws.wellarchitected#AgentProfileArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the associated profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.amazonaws.wellarchitected#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>The title of the recommendation.</p>",
                        "smithy.api#length": {
                            "min": 3,
                            "max": 120
                        },
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.wellarchitected#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>A description of the recommendation.</p>",
                        "smithy.api#length": {
                            "min": 80,
                            "max": 500
                        },
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.wellarchitected#RecommendationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the recommendation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "pillar": {
                    "target": "com.amazonaws.wellarchitected#Pillar",
                    "traits": {
                        "smithy.api#documentation": "<p>The Well-Architected Tool Framework pillar that the recommendation addresses.</p>",
                        "smithy.api#required": {}
                    }
                },
                "priority": {
                    "target": "com.amazonaws.wellarchitected#Priority",
                    "traits": {
                        "smithy.api#documentation": "<p>The priority of the recommendation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "effort": {
                    "target": "com.amazonaws.wellarchitected#Effort",
                    "traits": {
                        "smithy.api#documentation": "<p>The effort required to implement the recommendation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.wellarchitected#RecommendationStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the recommendation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "state": {
                    "target": "com.amazonaws.wellarchitected#RecommendationState",
                    "traits": {
                        "smithy.api#documentation": "<p>The current state of the recommendation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updateReason": {
                    "target": "com.amazonaws.wellarchitected#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>The free-text reason associated with the recommendation's most recent status update.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 4096
                        }
                    }
                },
                "impact": {
                    "target": "com.amazonaws.wellarchitected#ImpactCategory",
                    "traits": {
                        "smithy.api#documentation": "<p>The severity of the recommendation's impact.</p>",
                        "smithy.api#required": {}
                    }
                },
                "roi": {
                    "target": "com.amazonaws.wellarchitected#Roi",
                    "traits": {
                        "smithy.api#documentation": "<p>The return on investment estimate for the recommendation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "numberOfResources": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#documentation": "<p>The number of Amazon Web Services resources this recommendation affects.</p>"
                    }
                },
                "awsServices": {
                    "target": "com.amazonaws.wellarchitected#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services services that the recommendation applies to.</p>"
                    }
                },
                "businessUnits": {
                    "target": "com.amazonaws.wellarchitected#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The business units that own the affected resources.</p>"
                    }
                },
                "applications": {
                    "target": "com.amazonaws.wellarchitected#StringList",
                    "traits": {
                        "smithy.api#documentation": "<p>The applications that the recommendation targets.</p>"
                    }
                },
                "createdBy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the user or system that created this recommendation.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        },
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the recommendation was created.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "lastModifiedBy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the user or system that last modified this recommendation.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        }
                    }
                },
                "lastModifiedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the recommendation was last modified.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary of an agent optimization recommendation returned by list operations.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AggregationConfiguration": {
            "type": "structure",
            "members": {
                "accountId": {
                    "target": "com.amazonaws.wellarchitected#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account ID to analyze.</p>",
                        "smithy.api#required": {}
                    }
                },
                "regions": {
                    "target": "com.amazonaws.wellarchitected#Regions",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of Amazon Web Services Regions to include in the analysis.</p>",
                        "smithy.api#required": {}
                    }
                },
                "accessRoleArn": {
                    "target": "com.amazonaws.wellarchitected#RoleArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of an IAM role to assume for resource analysis in this account.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration settings that define the scope of Amazon Web Services resources to analyze for optimization recommendations.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AggregationConfigurations": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#AggregationConfiguration"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 100
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.wellarchitected#Answer": {
            "type": "structure",
            "members": {
                "QuestionId": {
                    "target": "com.amazonaws.wellarchitected#QuestionId"
                },
                "PillarId": {
                    "target": "com.amazonaws.wellarchitected#PillarId"
                },
                "QuestionTitle": {
                    "target": "com.amazonaws.wellarchitected#QuestionTitle"
                },
                "QuestionDescription": {
                    "target": "com.amazonaws.wellarchitected#QuestionDescription"
                },
                "ImprovementPlanUrl": {
                    "target": "com.amazonaws.wellarchitected#ImprovementPlanUrl"
                },
                "HelpfulResourceUrl": {
                    "target": "com.amazonaws.wellarchitected#HelpfulResourceUrl"
                },
                "HelpfulResourceDisplayText": {
                    "target": "com.amazonaws.wellarchitected#DisplayText",
                    "traits": {
                        "smithy.api#documentation": "<p>The helpful resource text to be displayed for a custom lens.</p> <p>This field does not apply to Amazon Web Services official lenses.</p>"
                    }
                },
                "Choices": {
                    "target": "com.amazonaws.wellarchitected#Choices"
                },
                "SelectedChoices": {
                    "target": "com.amazonaws.wellarchitected#SelectedChoices"
                },
                "ChoiceAnswers": {
                    "target": "com.amazonaws.wellarchitected#ChoiceAnswers",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of selected choices to a question in your workload.</p>"
                    }
                },
                "IsApplicable": {
                    "target": "com.amazonaws.wellarchitected#IsApplicable"
                },
                "Risk": {
                    "target": "com.amazonaws.wellarchitected#Risk"
                },
                "Notes": {
                    "target": "com.amazonaws.wellarchitected#Notes"
                },
                "Reason": {
                    "target": "com.amazonaws.wellarchitected#AnswerReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason why the question is not applicable to your workload.</p>"
                    }
                },
                "JiraConfiguration": {
                    "target": "com.amazonaws.wellarchitected#JiraConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration of the Jira integration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An answer of the question.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AnswerReason": {
            "type": "enum",
            "members": {
                "OUT_OF_SCOPE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OUT_OF_SCOPE"
                    }
                },
                "BUSINESS_PRIORITIES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BUSINESS_PRIORITIES"
                    }
                },
                "ARCHITECTURE_CONSTRAINTS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ARCHITECTURE_CONSTRAINTS"
                    }
                },
                "OTHER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OTHER"
                    }
                },
                "NONE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NONE"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#AnswerSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#AnswerSummary"
            },
            "traits": {
                "smithy.api#documentation": "<p>List of answer summaries of lens review in a workload.</p>"
            }
        },
        "com.amazonaws.wellarchitected#AnswerSummary": {
            "type": "structure",
            "members": {
                "QuestionId": {
                    "target": "com.amazonaws.wellarchitected#QuestionId"
                },
                "PillarId": {
                    "target": "com.amazonaws.wellarchitected#PillarId"
                },
                "QuestionTitle": {
                    "target": "com.amazonaws.wellarchitected#QuestionTitle"
                },
                "Choices": {
                    "target": "com.amazonaws.wellarchitected#Choices"
                },
                "SelectedChoices": {
                    "target": "com.amazonaws.wellarchitected#SelectedChoices"
                },
                "ChoiceAnswerSummaries": {
                    "target": "com.amazonaws.wellarchitected#ChoiceAnswerSummaries",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of selected choices to a question in your workload.</p>"
                    }
                },
                "IsApplicable": {
                    "target": "com.amazonaws.wellarchitected#IsApplicable"
                },
                "Risk": {
                    "target": "com.amazonaws.wellarchitected#Risk"
                },
                "Reason": {
                    "target": "com.amazonaws.wellarchitected#AnswerReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason why a choice is non-applicable to a question in your workload.</p>"
                    }
                },
                "QuestionType": {
                    "target": "com.amazonaws.wellarchitected#QuestionType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the question.</p>"
                    }
                },
                "JiraConfiguration": {
                    "target": "com.amazonaws.wellarchitected#JiraConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration of the Jira integration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An answer summary of a lens review in a workload.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ApplicationArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 2084
                },
                "smithy.api#pattern": "^arn:aws[-a-z]*:servicecatalog:[a-z]{2}(-gov)?-[a-z]+-\\d:\\d{12}:/applications/[a-z0-9]+$"
            }
        },
        "com.amazonaws.wellarchitected#ApplicationType": {
            "type": "enum",
            "members": {
                "SAS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SAS"
                    }
                },
                "DESKTOP_APPLICATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DESKTOP_APPLICATION"
                    }
                },
                "OTHER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OTHER"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#AssociateLenses": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#AssociateLensesInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associate a lens to a workload.</p> <p>Up to 10 lenses can be associated with a workload in a single API operation. A maximum of 20 lenses can be associated with a workload.</p> <note> <p> <b>Disclaimer</b> </p> <p>By accessing and/or applying custom lenses created by another Amazon Web Services user or account, you acknowledge that custom lenses created by other users and shared with you are Third Party Content as defined in the Amazon Web Services Customer Agreement. </p> </note>",
                "smithy.api#http": {
                    "method": "PATCH",
                    "uri": "/workloads/{WorkloadId}/associateLenses",
                    "code": 200
                },
                "smithy.api#tags": [
                    "WA"
                ]
            }
        },
        "com.amazonaws.wellarchitected#AssociateLensesInput": {
            "type": "structure",
            "members": {
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "LensAliases": {
                    "target": "com.amazonaws.wellarchitected#LensAliases",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Input to associate lens reviews.</p>",
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#AssociateProfiles": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#AssociateProfilesInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associate a profile with a workload.</p>",
                "smithy.api#http": {
                    "method": "PATCH",
                    "uri": "/workloads/{WorkloadId}/associateProfiles",
                    "code": 200
                },
                "smithy.api#tags": [
                    "WA"
                ]
            }
        },
        "com.amazonaws.wellarchitected#AssociateProfilesInput": {
            "type": "structure",
            "members": {
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ProfileArns": {
                    "target": "com.amazonaws.wellarchitected#ProfileArns",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The list of profile ARNs to associate with the workload.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#AwsAccountId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>An Amazon Web Services account ID.</p>",
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                },
                "smithy.api#pattern": "^[0-9]{12}$"
            }
        },
        "com.amazonaws.wellarchitected#AwsRegion": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>An Amazon Web Services Region, for example, <code>us-west-2</code> or <code>ap-northeast-1</code>.</p>",
                "smithy.api#length": {
                    "max": 100
                }
            }
        },
        "com.amazonaws.wellarchitected#Base64String": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The Base64-encoded string representation of a lens review report.</p> <p>This data can be used to create a PDF file.</p> <p>Only returned by <a>GetConsolidatedReport</a> when <code>PDF</code> format is requested.</p>"
            }
        },
        "com.amazonaws.wellarchitected#BestPractice": {
            "type": "structure",
            "members": {
                "ChoiceId": {
                    "target": "com.amazonaws.wellarchitected#ChoiceId"
                },
                "ChoiceTitle": {
                    "target": "com.amazonaws.wellarchitected#ChoiceTitle"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A best practice, or question choice, that has been identified as a risk in this question.</p>"
            }
        },
        "com.amazonaws.wellarchitected#BestPractices": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#BestPractice"
            }
        },
        "com.amazonaws.wellarchitected#CheckDescription": {
            "type": "string"
        },
        "com.amazonaws.wellarchitected#CheckDetail": {
            "type": "structure",
            "members": {
                "Id": {
                    "target": "com.amazonaws.wellarchitected#CheckId",
                    "traits": {
                        "smithy.api#documentation": "<p>Trusted Advisor check ID.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.wellarchitected#CheckName",
                    "traits": {
                        "smithy.api#documentation": "<p>Trusted Advisor check name.</p>"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.wellarchitected#CheckDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Trusted Advisor check description.</p>"
                    }
                },
                "Provider": {
                    "target": "com.amazonaws.wellarchitected#CheckProvider",
                    "traits": {
                        "smithy.api#documentation": "<p>Provider of the check related to the best practice.</p>"
                    }
                },
                "LensArn": {
                    "target": "com.amazonaws.wellarchitected#LensArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Well-Architected Lens ARN associated to the check.</p>"
                    }
                },
                "PillarId": {
                    "target": "com.amazonaws.wellarchitected#PillarId"
                },
                "QuestionId": {
                    "target": "com.amazonaws.wellarchitected#QuestionId"
                },
                "ChoiceId": {
                    "target": "com.amazonaws.wellarchitected#ChoiceId"
                },
                "Status": {
                    "target": "com.amazonaws.wellarchitected#CheckStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Status associated to the check.</p>"
                    }
                },
                "AccountId": {
                    "target": "com.amazonaws.wellarchitected#AwsAccountId"
                },
                "FlaggedResources": {
                    "target": "com.amazonaws.wellarchitected#FlaggedResources",
                    "traits": {
                        "smithy.api#documentation": "<p>Count of flagged resources associated to the check.</p>"
                    }
                },
                "Reason": {
                    "target": "com.amazonaws.wellarchitected#CheckFailureReason",
                    "traits": {
                        "smithy.api#documentation": "<p>Reason associated to the check.</p>"
                    }
                },
                "UpdatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the check was last updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Account details for a Well-Architected best practice in relation to Trusted Advisor checks.</p>"
            }
        },
        "com.amazonaws.wellarchitected#CheckDetails": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#CheckDetail"
            }
        },
        "com.amazonaws.wellarchitected#CheckFailureReason": {
            "type": "enum",
            "members": {
                "ASSUME_ROLE_ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ASSUME_ROLE_ERROR"
                    }
                },
                "ACCESS_DENIED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACCESS_DENIED"
                    }
                },
                "UNKNOWN_ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNKNOWN_ERROR"
                    }
                },
                "PREMIUM_SUPPORT_REQUIRED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PREMIUM_SUPPORT_REQUIRED"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#CheckId": {
            "type": "string"
        },
        "com.amazonaws.wellarchitected#CheckName": {
            "type": "string"
        },
        "com.amazonaws.wellarchitected#CheckProvider": {
            "type": "enum",
            "members": {
                "TRUSTED_ADVISOR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "TRUSTED_ADVISOR"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#CheckStatus": {
            "type": "enum",
            "members": {
                "OKAY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OKAY"
                    }
                },
                "WARNING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "WARNING"
                    }
                },
                "ERROR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ERROR"
                    }
                },
                "NOT_AVAILABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NOT_AVAILABLE"
                    }
                },
                "FETCH_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FETCH_FAILED"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#CheckStatusCount": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 101
                }
            }
        },
        "com.amazonaws.wellarchitected#CheckSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#CheckSummary"
            }
        },
        "com.amazonaws.wellarchitected#CheckSummary": {
            "type": "structure",
            "members": {
                "Id": {
                    "target": "com.amazonaws.wellarchitected#CheckId",
                    "traits": {
                        "smithy.api#documentation": "<p>Trusted Advisor check ID.</p>"
                    }
                },
                "Name": {
                    "target": "com.amazonaws.wellarchitected#CheckName",
                    "traits": {
                        "smithy.api#documentation": "<p>Trusted Advisor check name.</p>"
                    }
                },
                "Provider": {
                    "target": "com.amazonaws.wellarchitected#CheckProvider",
                    "traits": {
                        "smithy.api#documentation": "<p>Provider of the check related to the best practice.</p>"
                    }
                },
                "Description": {
                    "target": "com.amazonaws.wellarchitected#CheckDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>Trusted Advisor check description.</p>"
                    }
                },
                "UpdatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the check summary was last updated.</p>"
                    }
                },
                "LensArn": {
                    "target": "com.amazonaws.wellarchitected#LensArn",
                    "traits": {
                        "smithy.api#documentation": "<p>Well-Architected Lens ARN associated to the check.</p>"
                    }
                },
                "PillarId": {
                    "target": "com.amazonaws.wellarchitected#PillarId"
                },
                "QuestionId": {
                    "target": "com.amazonaws.wellarchitected#QuestionId"
                },
                "ChoiceId": {
                    "target": "com.amazonaws.wellarchitected#ChoiceId"
                },
                "Status": {
                    "target": "com.amazonaws.wellarchitected#CheckStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>Status associated to the check.</p>"
                    }
                },
                "AccountSummary": {
                    "target": "com.amazonaws.wellarchitected#AccountSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>Account summary associated to the check.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Trusted Advisor check summary.</p>"
            }
        },
        "com.amazonaws.wellarchitected#Choice": {
            "type": "structure",
            "members": {
                "ChoiceId": {
                    "target": "com.amazonaws.wellarchitected#ChoiceId"
                },
                "Title": {
                    "target": "com.amazonaws.wellarchitected#ChoiceTitle"
                },
                "Description": {
                    "target": "com.amazonaws.wellarchitected#ChoiceDescription"
                },
                "HelpfulResource": {
                    "target": "com.amazonaws.wellarchitected#ChoiceContent",
                    "traits": {
                        "smithy.api#documentation": "<p>The helpful resource (both text and URL) for a particular choice.</p> <p>This field only applies to custom lenses. Each choice can have only one helpful resource.</p>"
                    }
                },
                "ImprovementPlan": {
                    "target": "com.amazonaws.wellarchitected#ChoiceContent",
                    "traits": {
                        "smithy.api#documentation": "<p>The improvement plan (both text and URL) for a particular choice.</p> <p>This field only applies to custom lenses. Each choice can have only one improvement plan.</p>"
                    }
                },
                "AdditionalResources": {
                    "target": "com.amazonaws.wellarchitected#AdditionalResourcesList",
                    "traits": {
                        "smithy.api#documentation": "<p>The additional resources for a choice in a custom lens.</p> <p>A choice can have up to two additional resources: one of type <code>HELPFUL_RESOURCE</code>, one of type <code>IMPROVEMENT_PLAN</code>, or both.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A choice available to answer question.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceAnswer": {
            "type": "structure",
            "members": {
                "ChoiceId": {
                    "target": "com.amazonaws.wellarchitected#ChoiceId"
                },
                "Status": {
                    "target": "com.amazonaws.wellarchitected#ChoiceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of a choice.</p>"
                    }
                },
                "Reason": {
                    "target": "com.amazonaws.wellarchitected#ChoiceReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason why a choice is non-applicable to a question in your workload.</p>"
                    }
                },
                "Notes": {
                    "target": "com.amazonaws.wellarchitected#ChoiceNotes",
                    "traits": {
                        "smithy.api#documentation": "<p>The notes associated with a choice.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A choice that has been answered on a question in your workload.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceAnswerSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#ChoiceAnswerSummary"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceAnswerSummary": {
            "type": "structure",
            "members": {
                "ChoiceId": {
                    "target": "com.amazonaws.wellarchitected#ChoiceId"
                },
                "Status": {
                    "target": "com.amazonaws.wellarchitected#ChoiceStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of a choice.</p>"
                    }
                },
                "Reason": {
                    "target": "com.amazonaws.wellarchitected#ChoiceReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason why a choice is non-applicable to a question in your workload.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A choice summary that has been answered on a question in your workload.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceAnswers": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#ChoiceAnswer"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceContent": {
            "type": "structure",
            "members": {
                "DisplayText": {
                    "target": "com.amazonaws.wellarchitected#ChoiceContentDisplayText",
                    "traits": {
                        "smithy.api#documentation": "<p>The display text for the choice content.</p>"
                    }
                },
                "Url": {
                    "target": "com.amazonaws.wellarchitected#ChoiceContentUrl",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL for the choice content.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The choice content.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceContentDisplayText": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceContentUrl": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceDescription": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The description of a choice.</p>",
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The ID of a choice.</p>",
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceImprovementPlan": {
            "type": "structure",
            "members": {
                "ChoiceId": {
                    "target": "com.amazonaws.wellarchitected#ChoiceId"
                },
                "DisplayText": {
                    "target": "com.amazonaws.wellarchitected#DisplayText",
                    "traits": {
                        "smithy.api#documentation": "<p>The display text for the improvement plan.</p>"
                    }
                },
                "ImprovementPlanUrl": {
                    "target": "com.amazonaws.wellarchitected#ImprovementPlanUrl"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The choice level improvement plan.</p> <p>This value is only applicable to custom lenses.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceImprovementPlans": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#ChoiceImprovementPlan"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceNotes": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 250
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceReason": {
            "type": "enum",
            "members": {
                "OUT_OF_SCOPE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OUT_OF_SCOPE"
                    }
                },
                "BUSINESS_PRIORITIES": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "BUSINESS_PRIORITIES"
                    }
                },
                "ARCHITECTURE_CONSTRAINTS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ARCHITECTURE_CONSTRAINTS"
                    }
                },
                "OTHER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "OTHER"
                    }
                },
                "NONE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NONE"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceStatus": {
            "type": "enum",
            "members": {
                "SELECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "SELECTED"
                    }
                },
                "NOT_APPLICABLE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NOT_APPLICABLE"
                    }
                },
                "UNSELECTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UNSELECTED"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceTitle": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The title of a choice.</p>",
                "smithy.api#length": {
                    "min": 1,
                    "max": 512
                }
            }
        },
        "com.amazonaws.wellarchitected#ChoiceUpdate": {
            "type": "structure",
            "members": {
                "Status": {
                    "target": "com.amazonaws.wellarchitected#ChoiceStatus",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#documentation": "<p>The status of a choice.</p>",
                        "smithy.api#required": {}
                    }
                },
                "Reason": {
                    "target": "com.amazonaws.wellarchitected#ChoiceReason",
                    "traits": {
                        "smithy.api#documentation": "<p>The reason why a choice is non-applicable to a question in your workload.</p>"
                    }
                },
                "Notes": {
                    "target": "com.amazonaws.wellarchitected#ChoiceNotes",
                    "traits": {
                        "smithy.api#documentation": "<p>The notes associated with a choice.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A list of choices to be updated.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ChoiceUpdates": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.wellarchitected#ChoiceId"
            },
            "value": {
                "target": "com.amazonaws.wellarchitected#ChoiceUpdate"
            }
        },
        "com.amazonaws.wellarchitected#Choices": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#Choice"
            },
            "traits": {
                "smithy.api#documentation": "<p>List of choices available for a question.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ClientRequestToken": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>A unique case-sensitive string used to ensure that this request is idempotent (executes only once).</p> <p>You should not reuse the same token for other requests. If you retry a request with the same client request token and the same parameters after the original request has completed successfully, the result of the original request is returned.</p> <important> <p>This token is listed as required, however, if you do not specify it, the Amazon Web Services SDKs automatically generate one for you. If you are not using the Amazon Web Services SDK or the CLI, you must provide this token or the request will fail.</p> </important>",
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#pattern": "^[\\x00-\\x7F]*$"
            }
        },
        "com.amazonaws.wellarchitected#ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "target": "com.amazonaws.wellarchitected#ExceptionMessage",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#required": {}
                    }
                },
                "ResourceId": {
                    "target": "com.amazonaws.wellarchitected#ExceptionResourceId",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#required": {}
                    }
                },
                "ResourceType": {
                    "target": "com.amazonaws.wellarchitected#ExceptionResourceType",
                    "traits": {
                        "smithy.api#clientOptional": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The resource has already been processed, was deleted, or is too large.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.wellarchitected#ConsolidatedReportMetric": {
            "type": "structure",
            "members": {
                "MetricType": {
                    "target": "com.amazonaws.wellarchitected#MetricType",
                    "traits": {
                        "smithy.api#documentation": "<p>The metric type of a metric in the consolidated report. Currently only WORKLOAD metric types are supported.</p>"
                    }
                },
                "RiskCounts": {
                    "target": "com.amazonaws.wellarchitected#RiskCounts"
                },
                "WorkloadId": {
                    "target": "com.amazonaws.wellarchitected#WorkloadId"
                },
                "WorkloadName": {
                    "target": "com.amazonaws.wellarchitected#WorkloadName"
                },
                "WorkloadArn": {
                    "target": "com.amazonaws.wellarchitected#WorkloadArn"
                },
                "UpdatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The date and time when the consolidated report metric was last updated.</p>"
                    }
                },
                "Lenses": {
                    "target": "com.amazonaws.wellarchitected#LensMetrics",
                    "traits": {
                        "smithy.api#documentation": "<p>The metrics for the lenses in the workload.</p>"
                    }
                },
                "LensesAppliedCount": {
                    "target": "com.amazonaws.wellarchitected#LensesAppliedCount",
                    "traits": {
                        "smithy.api#documentation": "<p>The total number of lenses applied to the workload.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A metric that contributes to the consolidated report.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ConsolidatedReportMetrics": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#ConsolidatedReportMetric"
            }
        },
        "com.amazonaws.wellarchitected#ContextAccountIdList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "min": 12,
                        "max": 12
                    },
                    "smithy.api#pattern": "^\\d{12}$"
                }
            }
        },
        "com.amazonaws.wellarchitected#ContextAwsServiceList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "min": 1,
                        "max": 256
                    },
                    "smithy.api#pattern": "^[\\P{C}]+$"
                }
            }
        },
        "com.amazonaws.wellarchitected#ContextContent": {
            "type": "structure",
            "members": {
                "accountIds": {
                    "target": "com.amazonaws.wellarchitected#ContextAccountIdList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services account IDs associated with this application context.</p>",
                        "smithy.api#length": {
                            "max": 1000
                        }
                    }
                },
                "regions": {
                    "target": "com.amazonaws.wellarchitected#ContextRegionList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services Regions where this application operates.</p>",
                        "smithy.api#length": {
                            "max": 50
                        }
                    }
                },
                "awsServices": {
                    "target": "com.amazonaws.wellarchitected#ContextAwsServiceList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services services used by this application.</p>",
                        "smithy.api#length": {
                            "max": 300
                        }
                    }
                },
                "resourceTypes": {
                    "target": "com.amazonaws.wellarchitected#ContextResourceTypeList",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Web Services resource types relevant to this application.</p>",
                        "smithy.api#length": {
                            "max": 1500
                        }
                    }
                },
                "resourceTags": {
                    "target": "com.amazonaws.wellarchitected#ContextResourceTagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Resource tags used to scope this application context.</p>",
                        "smithy.api#length": {
                            "max": 20
                        }
                    }
                },
                "applicationOverview": {
                    "target": "com.amazonaws.wellarchitected#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>A free-form overview of the application.</p>",
                        "smithy.api#length": {
                            "max": 10000
                        },
                        "smithy.api#pattern": "^(?:(?!\\$\\{[a-zA-Z]+:)[\\P{C}\\r\\n])*$"
                    }
                },
                "industry": {
                    "target": "com.amazonaws.wellarchitected#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>The industry vertical for this application.</p>",
                        "smithy.api#length": {
                            "max": 1000
                        },
                        "smithy.api#pattern": "^(?:(?!\\$\\{[a-zA-Z]+:)[\\P{C}\\r\\n])*$"
                    }
                },
                "applicationType": {
                    "target": "com.amazonaws.wellarchitected#ApplicationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the application.</p>"
                    }
                },
                "criticality": {
                    "target": "com.amazonaws.wellarchitected#Criticality",
                    "traits": {
                        "smithy.api#documentation": "<p>The business criticality of the application.</p>"
                    }
                },
                "architectureOverview": {
                    "target": "com.amazonaws.wellarchitected#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>A free-form description of the application architecture.</p>",
                        "smithy.api#length": {
                            "max": 10000
                        },
                        "smithy.api#pattern": "^(?:(?!\\$\\{[a-zA-Z]+:)[\\P{C}\\r\\n])*$"
                    }
                },
                "additionalContext": {
                    "target": "com.amazonaws.wellarchitected#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional context not captured by other fields.</p>",
                        "smithy.api#length": {
                            "max": 10000
                        },
                        "smithy.api#pattern": "^(?:(?!\\$\\{[a-zA-Z]+:)[\\P{C}\\r\\n])*$"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Typed content structure for a context. Contains application-specific fields that describe the environment used during recommendation generation.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ContextRegionList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "min": 1,
                        "max": 64
                    },
                    "smithy.api#pattern": "^[a-z]{2}(-gov)?-[a-z]+-\\d+$"
                }
            }
        },
        "com.amazonaws.wellarchitected#ContextResourceTag": {
            "type": "structure",
            "members": {
                "key": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The tag key.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        },
                        "smithy.api#pattern": "^(?:(?!\\$\\{[a-zA-Z]+:)[\\P{C}])+$",
                        "smithy.api#required": {}
                    }
                },
                "value": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The tag value.</p>",
                        "smithy.api#length": {
                            "min": 0,
                            "max": 256
                        },
                        "smithy.api#pattern": "^(?:(?!\\$\\{[a-zA-Z]+:)[\\P{C}])*$",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A key-value pair representing a resource tag used to scope context content.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ContextResourceTagList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#ContextResourceTag"
            }
        },
        "com.amazonaws.wellarchitected#ContextResourceTypeList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String",
                "traits": {
                    "smithy.api#length": {
                        "min": 1,
                        "max": 256
                    },
                    "smithy.api#pattern": "^[\\P{C}]+$"
                }
            }
        },
        "com.amazonaws.wellarchitected#ContextSummaries": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wellarchitected#ContextSummary"
            }
        },
        "com.amazonaws.wellarchitected#ContextSummary": {
            "type": "structure",
            "members": {
                "id": {
                    "target": "com.amazonaws.wellarchitected#UUID",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the context.</p>",
                        "smithy.api#required": {}
                    }
                },
                "profileArn": {
                    "target": "com.amazonaws.wellarchitected#AgentProfileArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the associated profile.</p>",
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.amazonaws.wellarchitected#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>The title of the context.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 1000
                        },
                        "smithy.api#pattern": "^(?:(?!\\$\\{[a-zA-Z]+:)[\\P{C}])+$",
                        "smithy.api#required": {}
                    }
                },
                "contextType": {
                    "target": "com.amazonaws.wellarchitected#ContextType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the context.</p>",
                        "smithy.api#required": {}
                    }
                },
                "content": {
                    "target": "com.amazonaws.wellarchitected#ContextContent",
                    "traits": {
                        "smithy.api#documentation": "<p>The typed content of the context, containing application-specific fields such as account IDs, Regions, services, and resource types.</p>",
                        "smithy.api#required": {}
                    }
                },
                "applicationType": {
                    "target": "com.amazonaws.wellarchitected#ApplicationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of application described by this context.</p>"
                    }
                },
                "criticality": {
                    "target": "com.amazonaws.wellarchitected#Criticality",
                    "traits": {
                        "smithy.api#documentation": "<p>The business criticality of the application described by this context.</p>"
                    }
                },
                "createdBy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the user or system that created this context.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        },
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the context was created.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "lastModifiedBy": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the user or system that last modified this context.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        }
                    }
                },
                "lastModifiedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the context was last modified.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary of a context associated with a profile, representing application or environment information used during recommendation generation.</p>"
            }
        },
        "com.amazonaws.wellarchitected#ContextType": {
            "type": "enum",
            "members": {
                "APPLICATION": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "APPLICATION"
                    }
                }
            }
        },
        "com.amazonaws.wellarchitected#Count": {
            "type": "integer",
            "traits": {
                "smithy.api#documentation": "<p>A non-negative integer that denotes how many.</p>",
                "smithy.api#range": {
                    "min": 0
                }
            }
        },
        "com.amazonaws.wellarchitected#CreateAgentContext": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#CreateAgentContextRequest"
            },
            "output": {
                "target": "com.amazonaws.wellarchitected#CreateAgentContextResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a context associated with an optimization profile. Contexts provide application and environment information used during recommendation generation.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/api/v1/agent-profiles/{profileArn}/contexts"
                },
                "smithy.api#idempotent": {},
                "smithy.api#tags": [
                    "COIN"
                ],
                "smithy.test#smokeTests": [
                    {
                        "id": "CreateAgentContext",
                        "params": {
                            "profileArn": "arn:aws:wellarchitected:us-west-2:123456789012:agent-profile/test-profile",
                            "title": "smoke-test-context",
                            "contextType": "APPLICATION",
                            "content": {}
                        },
                        "expect": {
                            "failure": {}
                        },
                        "vendorParamsShape": "aws.test#AwsVendorParams",
                        "vendorParams": {
                            "region": "us-west-2"
                        }
                    }
                ]
            }
        },
        "com.amazonaws.wellarchitected#CreateAgentContextRequest": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
                        "smithy.api#idempotencyToken": {},
                        "smithy.api#length": {
                            "min": 1,
                            "max": 128
                        },
                        "smithy.api#pattern": "^[\\x21-\\x7E]+$"
                    }
                },
                "profileArn": {
                    "target": "com.amazonaws.wellarchitected#AgentProfileArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the profile to associate the context with.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.amazonaws.wellarchitected#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>The title of the context.</p>",
                        "smithy.api#length": {
                            "min": 1,
                            "max": 1000
                        },
                        "smithy.api#pattern": "^(?:(?!\\$\\{[a-zA-Z]+:)[\\P{C}])+$",
                        "smithy.api#required": {}
                    }
                },
                "contextType": {
                    "target": "com.amazonaws.wellarchitected#ContextType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the context.</p>",
                        "smithy.api#required": {}
                    }
                },
                "content": {
                    "target": "com.amazonaws.wellarchitected#ContextContent",
                    "traits": {
                        "smithy.api#documentation": "<p>The typed content of the context. The structure contains application-specific fields such as account IDs, Regions, services, and resource types.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateAgentContextResponse": {
            "type": "structure",
            "members": {
                "context": {
                    "target": "com.amazonaws.wellarchitected#ContextSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>The created context summary.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.wellarchitected#CreateAgentGoal": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wellarchitected#CreateAgentGoalRequest"
            },
            "output": {
                "target": "com.amazonaws.wellarchitected#CreateAgentGoalResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wellarchitected#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ConflictException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#InternalServerException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.wellarchitected#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an optimization goal associated with a profile. Goals define specific targets and objectives for the optimization process.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/api/v1/agent-profiles/{profileArn}/goals"
                },
                "smithy.api#idempotent": {},
                "smithy.api#tags": [
                    "COIN"
                ],
                "smithy.test#smokeTests": [
                    {
                        "id": "CreateAgentGoal",
                        "params": {
                            "profileArn": "arn:aws:wellarchitected:us-west-2:123456789012:agent-profile/test-profile",
                            "pillars": [
                                "COST_OPTIMIZATION"
[...]
