{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.wisdom#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.wisdom#AppIntegrationsConfiguration": {
            "type": "structure",
            "members": {
                "appIntegrationArn": {
                    "target": "com.amazonaws.wisdom#GenericArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "objectFields": {
                    "target": "com.amazonaws.wisdom#ObjectFieldsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The fields from the source that are made available to your agents in Wisdom. </p>\n         <ul>\n            <li>\n               <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>,\n            <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>,\n            <code>PublishStatus</code>, and <code>IsDeleted</code>. </p>\n            </li>\n            <li>\n               <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>,\n            <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>,\n          and <code>active</code>. </p>\n            </li>\n         </ul>\n         <p>Make sure to include additional fields. These fields are indexed and used to source\n      recommendations. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration information for Amazon AppIntegrations to automatically ingest content.</p>"
            }
        },
        "com.amazonaws.wisdom#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:[a-z-]*?:wisdom:[a-z0-9-]*?:[0-9]{12}:[a-z-]*?/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}(?:/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})?$"
            }
        },
        "com.amazonaws.wisdom#Assistant": {
            "type": "resource",
            "identifiers": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn"
                }
            },
            "create": {
                "target": "com.amazonaws.wisdom#CreateAssistant"
            },
            "read": {
                "target": "com.amazonaws.wisdom#GetAssistant"
            },
            "delete": {
                "target": "com.amazonaws.wisdom#DeleteAssistant"
            },
            "list": {
                "target": "com.amazonaws.wisdom#ListAssistants"
            },
            "operations": [
                {
                    "target": "com.amazonaws.wisdom#GetRecommendations"
                },
                {
                    "target": "com.amazonaws.wisdom#NotifyRecommendationsReceived"
                },
                {
                    "target": "com.amazonaws.wisdom#QueryAssistant"
                },
                {
                    "target": "com.amazonaws.wisdom#SearchSessions"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.wisdom#AssistantAssociation"
                },
                {
                    "target": "com.amazonaws.wisdom#Session"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "assistant/{assistantId}"
                },
                "aws.cloudformation#cfnResource": {},
                "aws.iam#disableConditionKeyInference": {}
            }
        },
        "com.amazonaws.wisdom#AssistantAssociation": {
            "type": "resource",
            "identifiers": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn"
                },
                "assistantAssociationId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn"
                }
            },
            "create": {
                "target": "com.amazonaws.wisdom#CreateAssistantAssociation"
            },
            "read": {
                "target": "com.amazonaws.wisdom#GetAssistantAssociation"
            },
            "delete": {
                "target": "com.amazonaws.wisdom#DeleteAssistantAssociation"
            },
            "list": {
                "target": "com.amazonaws.wisdom#ListAssistantAssociations"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "association/{assistantId}/{assistantAssociationId}"
                },
                "aws.cloudformation#cfnResource": {},
                "aws.iam#disableConditionKeyInference": {}
            }
        },
        "com.amazonaws.wisdom#AssistantAssociationData": {
            "type": "structure",
            "members": {
                "assistantAssociationId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the assistant association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantAssociationArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the assistant association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "associationType": {
                    "target": "com.amazonaws.wisdom#AssociationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "associationData": {
                    "target": "com.amazonaws.wisdom#AssistantAssociationOutputData",
                    "traits": {
                        "smithy.api#documentation": "<p>A union type that currently has a single argument, the knowledge base ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the assistant association.</p>",
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.wisdom#AssistantAssociation"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#AssistantAssociationInputData": {
            "type": "union",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The data that is input into Wisdom as a result of the assistant association.</p>"
            }
        },
        "com.amazonaws.wisdom#AssistantAssociationOutputData": {
            "type": "union",
            "members": {
                "knowledgeBaseAssociation": {
                    "target": "com.amazonaws.wisdom#KnowledgeBaseAssociationData",
                    "traits": {
                        "smithy.api#documentation": "<p>The knowledge base where output data is sent.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The data that is output as a result of the assistant association.</p>"
            }
        },
        "com.amazonaws.wisdom#AssistantAssociationSummary": {
            "type": "structure",
            "members": {
                "assistantAssociationId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the assistant association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantAssociationArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the assistant association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "associationType": {
                    "target": "com.amazonaws.wisdom#AssociationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "associationData": {
                    "target": "com.amazonaws.wisdom#AssistantAssociationOutputData",
                    "traits": {
                        "smithy.api#documentation": "<p>The association data.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary information about the assistant association.</p>",
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.wisdom#AssistantAssociation"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#AssistantAssociationSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wisdom#AssistantAssociationSummary"
            }
        },
        "com.amazonaws.wisdom#AssistantData": {
            "type": "structure",
            "members": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.wisdom#AssistantType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.wisdom#AssistantStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.wisdom#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                },
                "serverSideEncryptionConfiguration": {
                    "target": "com.amazonaws.wisdom#ServerSideEncryptionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key used for encryption.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The assistant data.</p>"
            }
        },
        "com.amazonaws.wisdom#AssistantList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wisdom#AssistantSummary"
            }
        },
        "com.amazonaws.wisdom#AssistantStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "CREATE_IN_PROGRESS",
                        "name": "CREATE_IN_PROGRESS"
                    },
                    {
                        "value": "CREATE_FAILED",
                        "name": "CREATE_FAILED"
                    },
                    {
                        "value": "ACTIVE",
                        "name": "ACTIVE"
                    },
                    {
                        "value": "DELETE_IN_PROGRESS",
                        "name": "DELETE_IN_PROGRESS"
                    },
                    {
                        "value": "DELETE_FAILED",
                        "name": "DELETE_FAILED"
                    },
                    {
                        "value": "DELETED",
                        "name": "DELETED"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#AssistantSummary": {
            "type": "structure",
            "members": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.wisdom#AssistantType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.wisdom#AssistantStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.wisdom#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the assistant.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                },
                "serverSideEncryptionConfiguration": {
                    "target": "com.amazonaws.wisdom#ServerSideEncryptionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key used for encryption.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary information about the assistant.</p>"
            }
        },
        "com.amazonaws.wisdom#AssistantType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "AGENT",
                        "name": "AGENT"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#AssociationType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "KNOWLEDGE_BASE",
                        "name": "KNOWLEDGE_BASE"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 4096
                }
            }
        },
        "com.amazonaws.wisdom#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n      resource. For example, if you're using a <code>Create</code> API (such as\n        <code>CreateAssistant</code>) that accepts name, a conflicting resource (usually with the\n      same name) is being created or mutated.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.wisdom#Content": {
            "type": "resource",
            "identifiers": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn"
                },
                "contentId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn"
                }
            },
            "create": {
                "target": "com.amazonaws.wisdom#CreateContent"
            },
            "read": {
                "target": "com.amazonaws.wisdom#GetContent"
            },
            "update": {
                "target": "com.amazonaws.wisdom#UpdateContent"
            },
            "delete": {
                "target": "com.amazonaws.wisdom#DeleteContent"
            },
            "list": {
                "target": "com.amazonaws.wisdom#ListContents"
            },
            "operations": [
                {
                    "target": "com.amazonaws.wisdom#GetContentSummary"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "content/{knowledgeBaseId}/{contentId}"
                },
                "aws.iam#disableConditionKeyInference": {}
            }
        },
        "com.amazonaws.wisdom#ContentData": {
            "type": "structure",
            "members": {
                "contentArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "contentId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "revisionId": {
                    "target": "com.amazonaws.wisdom#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the content revision.</p>",
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.amazonaws.wisdom#ContentTitle",
                    "traits": {
                        "smithy.api#documentation": "<p>The title of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "contentType": {
                    "target": "com.amazonaws.wisdom#ContentType",
                    "traits": {
                        "smithy.api#documentation": "<p>The media type of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.wisdom#ContentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "metadata": {
                    "target": "com.amazonaws.wisdom#ContentMetadata",
                    "traits": {
                        "smithy.api#documentation": "<p>A key/value map to store attributes without affecting tagging or recommendations. \nFor example, when synchronizing data between an external system and Wisdom, you can store an external version identifier as metadata to utilize for determining drift.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                },
                "linkOutUri": {
                    "target": "com.amazonaws.wisdom#Uri",
                    "traits": {
                        "smithy.api#documentation": "<p>The URI of the content.</p>"
                    }
                },
                "url": {
                    "target": "com.amazonaws.wisdom#Url",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "urlExpiry": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The expiration time of the URL as an epoch timestamp.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "epoch-seconds"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the content.</p>",
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.wisdom#Content"
                    },
                    {
                        "resource": "com.amazonaws.wisdom#KnowledgeBase"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#ContentMetadata": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.wisdom#NonEmptyString"
            },
            "value": {
                "target": "com.amazonaws.wisdom#NonEmptyString"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 10
                }
            }
        },
        "com.amazonaws.wisdom#ContentReference": {
            "type": "structure",
            "members": {
                "knowledgeBaseArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>"
                    }
                },
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base.</p>"
                    }
                },
                "contentArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the content.</p>"
                    }
                },
                "contentId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the content.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Reference information about the content.</p>"
            }
        },
        "com.amazonaws.wisdom#ContentStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "CREATE_IN_PROGRESS",
                        "name": "CREATE_IN_PROGRESS"
                    },
                    {
                        "value": "CREATE_FAILED",
                        "name": "CREATE_FAILED"
                    },
                    {
                        "value": "ACTIVE",
                        "name": "ACTIVE"
                    },
                    {
                        "value": "DELETE_IN_PROGRESS",
                        "name": "DELETE_IN_PROGRESS"
                    },
                    {
                        "value": "DELETE_FAILED",
                        "name": "DELETE_FAILED"
                    },
                    {
                        "value": "DELETED",
                        "name": "DELETED"
                    },
                    {
                        "value": "UPDATE_FAILED",
                        "name": "UPDATE_FAILED"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#ContentSummary": {
            "type": "structure",
            "members": {
                "contentArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "contentId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "revisionId": {
                    "target": "com.amazonaws.wisdom#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the revision of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.amazonaws.wisdom#ContentTitle",
                    "traits": {
                        "smithy.api#documentation": "<p>The title of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "contentType": {
                    "target": "com.amazonaws.wisdom#ContentType",
                    "traits": {
                        "smithy.api#documentation": "<p>The media type of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.wisdom#ContentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "metadata": {
                    "target": "com.amazonaws.wisdom#ContentMetadata",
                    "traits": {
                        "smithy.api#documentation": "<p>A key/value map to store attributes without affecting tagging or recommendations. \nFor example, when synchronizing data between an external system and Wisdom, you can store an external version identifier as metadata to utilize for determining drift.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary information about the content.</p>",
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.wisdom#Content"
                    },
                    {
                        "resource": "com.amazonaws.wisdom#KnowledgeBase"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#ContentSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wisdom#ContentSummary"
            }
        },
        "com.amazonaws.wisdom#ContentTitle": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                }
            }
        },
        "com.amazonaws.wisdom#ContentType": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^(text/(plain|html))|(application/(pdf|vnd\\.openxmlformats-officedocument\\.wordprocessingml\\.document))|(application/x\\.wisdom-json;source=(salesforce|servicenow|zendesk))$"
            }
        },
        "com.amazonaws.wisdom#CreateAssistant": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#CreateAssistantRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#CreateAssistantResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ConflictException"
                },
                {
                    "target": "com.amazonaws.wisdom#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an Amazon Connect Wisdom assistant.</p>",
                "smithy.api#http": {
                    "uri": "/assistants",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#CreateAssistantAssociation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#CreateAssistantAssociationRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#CreateAssistantAssociationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ConflictException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an association between an Amazon Connect Wisdom assistant and another resource. Currently, the\n      only supported association is with a knowledge base. An assistant can have only a single\n      association.</p>",
                "smithy.api#http": {
                    "uri": "/assistants/{assistantId}/associations",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#CreateAssistantAssociationRequest": {
            "type": "structure",
            "members": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "associationType": {
                    "target": "com.amazonaws.wisdom#AssociationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "association": {
                    "target": "com.amazonaws.wisdom#AssistantAssociationInputData",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the associated resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.wisdom#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n   request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateAssistantAssociationResponse": {
            "type": "structure",
            "members": {
                "assistantAssociation": {
                    "target": "com.amazonaws.wisdom#AssistantAssociationData",
                    "traits": {
                        "smithy.api#documentation": "<p>The assistant association.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateAssistantRequest": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.wisdom#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n   request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.wisdom#AssistantType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.wisdom#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the assistant.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                },
                "serverSideEncryptionConfiguration": {
                    "target": "com.amazonaws.wisdom#ServerSideEncryptionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key used for encryption.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateAssistantResponse": {
            "type": "structure",
            "members": {
                "assistant": {
                    "target": "com.amazonaws.wisdom#AssistantData",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the assistant.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateContent": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#CreateContentRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#CreateContentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ConflictException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates Wisdom content. Before to calling this API, use <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_StartContentUpload.html\">StartContentUpload</a> to\n      upload an asset.</p>",
                "smithy.api#http": {
                    "uri": "/knowledgeBases/{knowledgeBaseId}/contents",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#CreateContentRequest": {
            "type": "structure",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the content. Each piece of content in a knowledge base must have a unique\n      name. You can retrieve a piece of content using only its knowledge base and its name with the\n        <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_SearchContent.html\">SearchContent</a> API.</p>",
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.amazonaws.wisdom#ContentTitle",
                    "traits": {
                        "smithy.api#documentation": "<p>The title of the content. If not set, the title is equal to the name.</p>"
                    }
                },
                "overrideLinkOutUri": {
                    "target": "com.amazonaws.wisdom#Uri",
                    "traits": {
                        "smithy.api#documentation": "<p>The URI you want to use for the article. If the knowledge base has a templateUri, setting\n      this argument overrides it for this piece of content.</p>"
                    }
                },
                "metadata": {
                    "target": "com.amazonaws.wisdom#ContentMetadata",
                    "traits": {
                        "smithy.api#documentation": "<p>A key/value map to store attributes without affecting tagging or recommendations. \nFor example, when synchronizing data between an external system and Wisdom, you can store an external version identifier as metadata to utilize for determining drift.</p>"
                    }
                },
                "uploadId": {
                    "target": "com.amazonaws.wisdom#UploadId",
                    "traits": {
                        "smithy.api#documentation": "<p>A pointer to the uploaded asset. This value is returned by <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_StartContentUpload.html\">StartContentUpload</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.wisdom#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n   request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateContentResponse": {
            "type": "structure",
            "members": {
                "content": {
                    "target": "com.amazonaws.wisdom#ContentData",
                    "traits": {
                        "smithy.api#documentation": "<p>The content.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateKnowledgeBase": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#CreateKnowledgeBaseRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#CreateKnowledgeBaseResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ConflictException"
                },
                {
                    "target": "com.amazonaws.wisdom#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a knowledge base.</p>\n         <note>\n            <p>When using this API, you cannot reuse <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/Welcome.html\">Amazon AppIntegrations</a>\n        DataIntegrations with external knowledge bases such as Salesforce and ServiceNow. If you do,\n        you'll get an <code>InvalidRequestException</code> error. </p>\n\n            <p>For example, you're programmatically managing your external knowledge base, and you want\n        to add or remove one of the fields that is being ingested from Salesforce. Do the\n        following:</p>\n            <ol>\n               <li>\n                  <p>Call <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_DeleteKnowledgeBase.html\">DeleteKnowledgeBase</a>.</p>\n               </li>\n               <li>\n                  <p>Call <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_DeleteDataIntegration.html\">DeleteDataIntegration</a>.</p>\n               </li>\n               <li>\n                  <p>Call <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> to recreate the DataIntegration or a create different\n            one.</p>\n               </li>\n               <li>\n                  <p>Call CreateKnowledgeBase.</p>\n               </li>\n            </ol>\n         </note>",
                "smithy.api#http": {
                    "uri": "/knowledgeBases",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#CreateKnowledgeBaseRequest": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.wisdom#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n   request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseType": {
                    "target": "com.amazonaws.wisdom#KnowledgeBaseType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of knowledge base. Only CUSTOM knowledge bases allow you to upload your own content.\n      EXTERNAL knowledge bases support integrations with third-party systems whose content is\n      synchronized automatically. </p>",
                        "smithy.api#required": {}
                    }
                },
                "sourceConfiguration": {
                    "target": "com.amazonaws.wisdom#SourceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The source of the knowledge base content. Only set this argument for EXTERNAL knowledge\n      bases.</p>"
                    }
                },
                "renderingConfiguration": {
                    "target": "com.amazonaws.wisdom#RenderingConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about how to render the content.</p>"
                    }
                },
                "serverSideEncryptionConfiguration": {
                    "target": "com.amazonaws.wisdom#ServerSideEncryptionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key used for encryption.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.wisdom#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateKnowledgeBaseResponse": {
            "type": "structure",
            "members": {
                "knowledgeBase": {
                    "target": "com.amazonaws.wisdom#KnowledgeBaseData",
                    "traits": {
                        "smithy.api#documentation": "<p>The knowledge base.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateSession": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#CreateSessionRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#CreateSessionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#ConflictException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a session. A session is a contextual container used for generating\n      recommendations. Amazon Connect creates a new Wisdom session for each contact on which Wisdom is\n      enabled.</p>",
                "smithy.api#http": {
                    "uri": "/assistants/{assistantId}/sessions",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#CreateSessionRequest": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.wisdom#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n   request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the session.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.wisdom#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateSessionResponse": {
            "type": "structure",
            "members": {
                "session": {
                    "target": "com.amazonaws.wisdom#SessionData",
                    "traits": {
                        "smithy.api#documentation": "<p>The session.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#DeleteAssistant": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#DeleteAssistantRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#DeleteAssistantResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an assistant.</p>",
                "smithy.api#http": {
                    "uri": "/assistants/{assistantId}",
                    "method": "DELETE",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#DeleteAssistantAssociation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#DeleteAssistantAssociationRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#DeleteAssistantAssociationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an assistant association.</p>",
                "smithy.api#http": {
                    "uri": "/assistants/{assistantId}/associations/{assistantAssociationId}",
                    "method": "DELETE",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#DeleteAssistantAssociationRequest": {
            "type": "structure",
            "members": {
                "assistantAssociationId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the assistant association. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#DeleteAssistantAssociationResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.wisdom#DeleteAssistantRequest": {
            "type": "structure",
            "members": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#DeleteAssistantResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.wisdom#DeleteContent": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#DeleteContentRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#DeleteContentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the content.</p>",
                "smithy.api#http": {
                    "uri": "/knowledgeBases/{knowledgeBaseId}/contents/{contentId}",
                    "method": "DELETE",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#DeleteContentRequest": {
            "type": "structure",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "contentId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the content. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#DeleteContentResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.wisdom#DeleteKnowledgeBase": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#DeleteKnowledgeBaseRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#DeleteKnowledgeBaseResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ConflictException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the knowledge base.</p>\n         <note>\n            <p>When you use this API to delete an external knowledge base such as Salesforce or\n        ServiceNow, you must also delete the <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/Welcome.html\">Amazon AppIntegrations</a> DataIntegration.\n        This is because you can't reuse the DataIntegration after it's been associated with an\n        external knowledge base. However, you can delete and recreate it. See <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_DeleteDataIntegration.html\">DeleteDataIntegration</a> and <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> in the <i>Amazon AppIntegrations API\n        Reference</i>.</p>\n         </note>",
                "smithy.api#http": {
                    "uri": "/knowledgeBases/{knowledgeBaseId}",
                    "method": "DELETE",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#DeleteKnowledgeBaseRequest": {
            "type": "structure",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The knowledge base to delete content from. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#DeleteKnowledgeBaseResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.wisdom#Description": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^[a-zA-Z0-9\\s_.,-]+"
            }
        },
        "com.amazonaws.wisdom#Document": {
            "type": "structure",
            "members": {
                "contentReference": {
                    "target": "com.amazonaws.wisdom#ContentReference",
                    "traits": {
                        "smithy.api#documentation": "<p>A reference to the content resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.amazonaws.wisdom#DocumentText",
                    "traits": {
                        "smithy.api#documentation": "<p>The title of the document.</p>"
                    }
                },
                "excerpt": {
                    "target": "com.amazonaws.wisdom#DocumentText",
                    "traits": {
                        "smithy.api#documentation": "<p>The excerpt from the document.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The document.</p>"
            }
        },
        "com.amazonaws.wisdom#DocumentText": {
            "type": "structure",
            "members": {
                "text": {
                    "target": "com.amazonaws.wisdom#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>Text in the document.</p>"
                    }
                },
                "highlights": {
                    "target": "com.amazonaws.wisdom#Highlights",
                    "traits": {
                        "smithy.api#documentation": "<p>Highlights in the document text.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The text of the document.</p>"
            }
        },
        "com.amazonaws.wisdom#Filter": {
            "type": "structure",
            "members": {
                "field": {
                    "target": "com.amazonaws.wisdom#FilterField",
                    "traits": {
                        "smithy.api#documentation": "<p>The field on which to filter.</p>",
                        "smithy.api#required": {}
                    }
                },
                "operator": {
                    "target": "com.amazonaws.wisdom#FilterOperator",
                    "traits": {
                        "smithy.api#documentation": "<p>The operator to use for comparing the field’s value with the provided value.</p>",
                        "smithy.api#required": {}
                    }
                },
                "value": {
                    "target": "com.amazonaws.wisdom#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The desired field value on which to filter.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A search filter.</p>"
            }
        },
        "com.amazonaws.wisdom#FilterField": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "NAME",
                        "name": "NAME"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#FilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wisdom#Filter"
            }
        },
        "com.amazonaws.wisdom#FilterOperator": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "EQUALS",
                        "name": "EQUALS"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#GenericArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:[a-z-]+?:[a-z-]+?:[a-z0-9-]*?:([0-9]{12})?:[a-zA-Z0-9-:/]+$"
            }
        },
        "com.amazonaws.wisdom#GetAssistant": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#GetAssistantRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#GetAssistantResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves information about an assistant.</p>",
                "smithy.api#http": {
                    "uri": "/assistants/{assistantId}",
                    "method": "GET"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.wisdom#GetAssistantAssociation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#GetAssistantAssociationRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#GetAssistantAssociationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves information about an assistant association.</p>",
                "smithy.api#http": {
                    "uri": "/assistants/{assistantId}/associations/{assistantAssociationId}",
                    "method": "GET"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.wisdom#GetAssistantAssociationRequest": {
            "type": "structure",
            "members": {
                "assistantAssociationId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the assistant association. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetAssistantAssociationResponse": {
            "type": "structure",
            "members": {
                "assistantAssociation": {
                    "target": "com.amazonaws.wisdom#AssistantAssociationData",
                    "traits": {
                        "smithy.api#documentation": "<p>The assistant association.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetAssistantRequest": {
            "type": "structure",
            "members": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetAssistantResponse": {
            "type": "structure",
            "members": {
                "assistant": {
                    "target": "com.amazonaws.wisdom#AssistantData",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the assistant.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetContent": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#GetContentRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#GetContentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves content, including a pre-signed URL to download the content.</p>",
                "smithy.api#http": {
                    "uri": "/knowledgeBases/{knowledgeBaseId}/contents/{contentId}",
                    "method": "GET"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.wisdom#GetContentRequest": {
            "type": "structure",
            "members": {
                "contentId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the content. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetContentResponse": {
            "type": "structure",
            "members": {
                "content": {
                    "target": "com.amazonaws.wisdom#ContentData",
                    "traits": {
                        "smithy.api#documentation": "<p>The content.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetContentSummary": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#GetContentSummaryRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#GetContentSummaryResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves summary information about the content.</p>",
                "smithy.api#http": {
                    "uri": "/knowledgeBases/{knowledgeBaseId}/contents/{contentId}/summary",
                    "method": "GET"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.wisdom#GetContentSummaryRequest": {
            "type": "structure",
            "members": {
                "contentId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the content. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetContentSummaryResponse": {
            "type": "structure",
            "members": {
                "contentSummary": {
                    "target": "com.amazonaws.wisdom#ContentSummary",
                    "traits": {
                        "smithy.api#documentation": "<p>The content summary.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetKnowledgeBase": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#GetKnowledgeBaseRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#GetKnowledgeBaseResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves information about the knowledge base.</p>",
                "smithy.api#http": {
                    "uri": "/knowledgeBases/{knowledgeBaseId}",
                    "method": "GET"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.wisdom#GetKnowledgeBaseRequest": {
            "type": "structure",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetKnowledgeBaseResponse": {
            "type": "structure",
            "members": {
                "knowledgeBase": {
                    "target": "com.amazonaws.wisdom#KnowledgeBaseData",
                    "traits": {
                        "smithy.api#documentation": "<p>The knowledge base.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetRecommendations": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#GetRecommendationsRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#GetRecommendationsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves recommendations for the specified session. To avoid retrieving the same\n      recommendations in subsequent calls, use <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_NotifyRecommendationsReceived.html\">NotifyRecommendationsReceived</a>. This API supports long-polling behavior with the\n        <code>waitTimeSeconds</code> parameter. Short poll is the default behavior and only returns\n      recommendations already available. To perform a manual query against an assistant, use <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_QueryAssistant.html\">QueryAssistant</a>.</p>",
                "smithy.api#http": {
                    "uri": "/assistants/{assistantId}/sessions/{sessionId}/recommendations",
                    "method": "GET"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.wisdom#GetRecommendationsRequest": {
            "type": "structure",
            "members": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "sessionId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the session. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "maxResults": {
                    "target": "com.amazonaws.wisdom#MaxResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of results to return per page.</p>",
                        "smithy.api#httpQuery": "maxResults"
                    }
                },
                "waitTimeSeconds": {
                    "target": "com.amazonaws.wisdom#WaitTimeSeconds",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The duration (in seconds) for which the call waits for a recommendation to be made\n      available before returning. If a recommendation is available, the call returns sooner than\n        <code>WaitTimeSeconds</code>. If no messages are available and the wait time expires, the\n      call returns successfully with an empty list.</p>",
                        "smithy.api#httpQuery": "waitTimeSeconds"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetRecommendationsResponse": {
            "type": "structure",
            "members": {
                "recommendations": {
                    "target": "com.amazonaws.wisdom#RecommendationList",
                    "traits": {
                        "smithy.api#documentation": "<p>The recommendations.</p>",
                        "smithy.api#required": {}
                    }
                },
                "triggers": {
                    "target": "com.amazonaws.wisdom#RecommendationTriggerList",
                    "traits": {
                        "smithy.api#documentation": "<p>The triggers corresponding to recommendations.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetSession": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#GetSessionRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#GetSessionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves information for a specified session.</p>",
                "smithy.api#http": {
                    "uri": "/assistants/{assistantId}/sessions/{sessionId}",
                    "method": "GET"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.wisdom#GetSessionRequest": {
            "type": "structure",
            "members": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "sessionId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the session. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetSessionResponse": {
            "type": "structure",
            "members": {
                "session": {
                    "target": "com.amazonaws.wisdom#SessionData",
                    "traits": {
                        "smithy.api#documentation": "<p>The session.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#Headers": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.wisdom#NonEmptyString"
            },
            "value": {
                "target": "com.amazonaws.wisdom#NonEmptyString"
            }
        },
        "com.amazonaws.wisdom#Highlight": {
            "type": "structure",
            "members": {
                "beginOffsetInclusive": {
                    "target": "com.amazonaws.wisdom#HighlightOffset",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The offset for the start of the highlight.</p>"
                    }
                },
                "endOffsetExclusive": {
                    "target": "com.amazonaws.wisdom#HighlightOffset",
                    "traits": {
                        "smithy.api#default": 0,
                        "smithy.api#documentation": "<p>The offset for the end of the highlight.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Offset specification to describe highlighting of document excerpts for rendering search\n      results and recommendations.</p>"
            }
        },
        "com.amazonaws.wisdom#HighlightOffset": {
            "type": "integer",
            "traits": {
                "smithy.api#default": 0
            }
        },
        "com.amazonaws.wisdom#Highlights": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wisdom#Highlight"
            }
        },
        "com.amazonaws.wisdom#KnowledgeBase": {
            "type": "resource",
            "identifiers": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn"
                }
            },
            "create": {
                "target": "com.amazonaws.wisdom#CreateKnowledgeBase"
            },
            "read": {
                "target": "com.amazonaws.wisdom#GetKnowledgeBase"
            },
            "delete": {
                "target": "com.amazonaws.wisdom#DeleteKnowledgeBase"
            },
            "list": {
                "target": "com.amazonaws.wisdom#ListKnowledgeBases"
            },
            "operations": [
                {
                    "target": "com.amazonaws.wisdom#RemoveKnowledgeBaseTemplateUri"
                },
                {
                    "target": "com.amazonaws.wisdom#SearchContent"
                },
                {
                    "target": "com.amazonaws.wisdom#StartContentUpload"
                },
                {
                    "target": "com.amazonaws.wisdom#UpdateKnowledgeBaseTemplateUri"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.wisdom#Content"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "knowledge-base/{knowledgeBaseId}"
                },
                "aws.cloudformation#cfnResource": {},
                "aws.iam#disableConditionKeyInference": {}
            }
        },
        "com.amazonaws.wisdom#KnowledgeBaseAssociationData": {
            "type": "structure",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base.</p>"
                    }
                },
                "knowledgeBaseArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Association information about the knowledge base.</p>"
            }
        },
        "com.amazonaws.wisdom#KnowledgeBaseData": {
            "type": "structure",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseType": {
                    "target": "com.amazonaws.wisdom#KnowledgeBaseType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.wisdom#KnowledgeBaseStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lastContentModificationTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>An epoch timestamp indicating the most recent content modification inside the knowledge\n      base. If no content exists in a knowledge base, this value is unset.</p>",
                        "smithy.api#timestampFormat": "epoch-seconds"
                    }
                },
                "sourceConfiguration": {
                    "target": "com.amazonaws.wisdom#SourceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Source configuration information about the knowledge base.</p>"
                    }
                },
                "renderingConfiguration": {
                    "target": "com.amazonaws.wisdom#RenderingConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about how to render the content.</p>"
                    }
                },
                "serverSideEncryptionConfiguration": {
                    "target": "com.amazonaws.wisdom#ServerSideEncryptionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The KMS key used for encryption.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.wisdom#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the knowledge base.</p>",
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.wisdom#KnowledgeBase"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#KnowledgeBaseList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wisdom#KnowledgeBaseSummary"
            }
        },
        "com.amazonaws.wisdom#KnowledgeBaseStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "CREATE_IN_PROGRESS",
                        "name": "CREATE_IN_PROGRESS"
                    },
                    {
                        "value": "CREATE_FAILED",
                        "name": "CREATE_FAILED"
                    },
                    {
                        "value": "ACTIVE",
                        "name": "ACTIVE"
                    },
                    {
                        "value": "DELETE_IN_PROGRESS",
                        "name": "DELETE_IN_PROGRESS"
                    },
                    {
                        "value": "DELETE_FAILED",
                        "name": "DELETE_FAILED"
                    },
                    {
                        "value": "DELETED",
                        "name": "DELETED"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#KnowledgeBaseSummary": {
            "type": "structure",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseType": {
                    "target": "com.amazonaws.wisdom#KnowledgeBaseType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.wisdom#KnowledgeBaseStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the knowledge base summary.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sourceConfiguration": {
                    "target": "com.amazonaws.wisdom#SourceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Configuration information about the external data source.</p>"
                    }
                },
                "renderingConfiguration": {
                    "target": "com.amazonaws.wisdom#RenderingConfiguration",
[...]
